<div class="row">
    <div class="col-md-1">
        <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
    </div>
    <div class="col-md-4">
        <div class="lv-title" data-bind="text: conv_history.agent_name">ID Here</div>
        <small class="lv-small">
            <span data-bind="text: conv_history.disposition"></span>
        </small>
        <small class="lv-small">
            <span data-bind="text: conv_history.sub_dispositions_verbose"></span>
        </small>
    </div>
    <div class="col-md-4">
        <div class="pull-left">
            <i data-bind="css: conv_history.icon"></i>
        </div>
        <div class="lv-title" data-bind="text: conv_history.contact">Contact Here</div>
        <small class="lv-small"style="white-space: inherit">
            <span data-bind="text: conv_history.snippet"></span>
        </small>
    </div>
    <div class="col-md-3">
        <ul class="lv-attrs">
            <li data-bind="text: conv_history.created_on"></li>
        </ul>
    </div>
</div>

