<div class="form-horizontal">
    <h4 class="m-b-15">Documents</h4>
    <div class="form-group m-b-15">
        <label class="col-sm-3 col-md-2 control-label">Add Document</label>
        <div class="col-sm-9 col-md-10"><a class="btn bgm-deeporange btn-md waves-effect waves-button waves-float" data-bind="click: addDocument">Add</a></div>
    </div>

    <div class="m-b-20" data-bind="visible: existing_documents().length > 0, foreach: { data : existing_documents}">
        <div class="form-group m-b-10">
            <span class="col-sm-2"></span>
            <a class="col-sm-3" target="_blank" class="existing_docs" data-bind="text: 'Link to Document' , attr: {'id': 'existing_doc_' + pk()}, click: $parent.downloadDoc.bind($data, pk)"></a>
            <b data-bind="text: category().name" class="pull-left p-r-10"></b>
            <a href="#" title="Remove" class="pull-left close fileinput-exists" data-bind="click: $parent.deleteExistingDoc">&times;</a>
        </div>
    </div>

    <div class="m-b-5" data-bind="visible: suggested_documents().length > 0, foreach: { data : suggested_documents }">
        <div class="form-group m-b-10">
            <div class="col-sm-offset-3 col-sm-4 col-md-offset-2 col-md-3">
                <div class="fg-line m-t-10">
                    <div class="select">
                        <select class="form-control input-sm" data-bind="attr: {'id': 'doc_type_' + $data.pk}, options: $parent.document_categories(), optionsText: 'name', optionsCaption: '-- Document Type --', optionsValue: 'pk', value:$data.category().pk"></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 m-t-5">
                <file-upload params="{url: '/file/upload/', showRemove: true, attachment: fileDetails}"></file-upload>
            </div>
            <div class="col-sm-1 col-md-1">
                <a href="#" title="Delete" class="m-t-5 btn bgm-gray waves-effect waves-button waves-float" data-bind="click: $parent.removeDocument"><span class="md md-delete"></span></a>
            </div>
        </div>
    </div>
</div>
