<div class="listview lv-bordered lv-lg">
    <div class="listview lv-bordered lv-lg" data-bind="html: ticket_search_form()"></div>
    <button data-bind="click: clear_filters">Clear All Filters</button>
</div>
