body {
  font-family: 'Lato', sans-serif;
  background-color: #efeff4;
  color: #314451;
  line-height: 1.6em;
  font-weight: 400;
}
.city_list_data {
  padding: 0 15px;
}
.city_list_data ul {
  margin: 0;
  padding: 0;
}
.city_list_data ul li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}
.city_list_data ul li:first-child {
  margin-left: 0;
}
.city_list_data ul li a {
  color: #0076ff;
}
.city_list_data ul li a:hover {
  color: #ff6127;
}
.hide-overflow {
  overflow: hidden;
}
.mt_select {
  margin-top: 20px;
}
.mb_10 {
  margin-bottom: 10px;
}
.mnone {
  margin: 0;
}
.pnone {
  padding: 0;
}
.prnone {
  padding-right: 0;
}
.plnone {
  padding-left: 0;
}
a {
  color: #ff704c;
}
a:hover,
a:focus,
a:active {
  color: #ff704c;
  outline: none;
  text-decoration: none;
}
.icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  display: inline-block;
  text-align: center;
}
.btn {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-size: 12px;
  color: #ffffff;
  padding: 3px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn.small {
  font-size: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 3px 5px;
  margin-left: 5px;
}
.btn.big {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 15px;
}
.btn:hover {
  text-decoration: none;
  color: #ffffff;
}
.btn.orange {
  color: #fff;
  background-color: #ff704c;
  border: 1px solid #ff5c32;
}
.btn.orange:hover {
  background: #ff5c32;
}
.btn.orange:active {
  background: #ff4719;
}
.btn.brown {
  color: rgba(255, 255, 255, 0.9);
  background-color: #314451;
  border: 1px solid #273741;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.brown:hover {
  background: #273741;
}
.btn.brown:active {
  background: #1e2931;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-size: 44px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin: 0 0 5px;
}
p.sub-title {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-weight: 300;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: 300;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 20px;
}
p.leader {
  font-size: 18px;
}
p.leader-2 {
  font-size: 18px;
  line-height: 1.8em;
}
.read-more {
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px 5px;
  font-size: 13px;
}
p,
h3,
h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.6em;
}
#mini-top-bar,
#top-bar {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
#hero-section {
  position: relative;
}
#hero-section:before {
  display: block;
  content: '';
  z-index: -1;
  position: absolute;
  background-color: #314451;
  top: 0;
  left: 0;
  right: 0;
  height: 234px;
}
.hero-form {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #214150;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 15px auto 50px;
  max-width: 1040px;
}
.hero-form .hint {
  margin: -26px 4px 16px;
  text-align: right;
  font-size: 11px;
  color: #98a1a8;
}
.hero-form .sm-label {
  font-family: 'Lato', sans-serif;
  color: #5a6974;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 400;
  display: block;
  margin: 8px 4px 0px;
  text-transform: uppercase;
}
.hero-form ul.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ff704c;
  text-align: center;
}
.hero-form ul.tabs li {
  min-width: 100px;
  display: inline-block;
  padding: 10px 20px 6px;
  border-bottom: 2px solid transparent;
  font-size: 14px;
}
.hero-form ul.tabs li .ic-insurance {
  display: block;
  margin: 5px auto -2px;
}
.hero-form ul.tabs li:hover {
  background-color: #efeff4;
  cursor: pointer;
}
.hero-form ul.tabs li.active {
  color: #ff704c;
  border-bottom-color: #ff704c;
}
.hero-form .btn.big {
  margin-top: 4px;
  width: 220px;
}
.hero-form .product-form-item {
  padding: 32px 48px 48px 64px;
  display: none;
  min-height: 393px;
}
.hero-form .product-form-item h5 {
  text-transform: uppercase;
  color: rgba(49, 68, 81, 0.7);
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
  letter-spacing: 1px;
}
.hero-form .product-form-item.reveal {
  display: block;
  position: relative;
}
.hero-form .product-form-item.reveal:before {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  content: 'Please wait...';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../img/loading-big.gif') no-repeat center 70px #fff;
  z-index: -1;
  padding-top: 130px;
  text-align: center;
  color: #7293a9;
  letter-spacing: 2px;
}
.hero-form .product-form-item.reveal.loading:before {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  z-index: 10;
}
@media screen and (min-width: 0px) and (max-width: 991px) {
  .hero-form .product-form-item {
    padding-bottom: 50px;
  }
}
.tail-message {
  padding: 15px 30px 30px;
  color: #7293a9;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  position: relative;
  z-index: 1;
  min-height: 457px;
}
.tail-message h4 {
  font-size: 24px;
  color: #ff997f;
  font-weight: 400;
}
.tail-message #display-banner,
.tail-message #festive-banner {
  display: none;
  position: absolute;
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
}
.tail-message #display-banner.reveal,
.tail-message #festive-banner.reveal {
  display: block;
  /*background-image: url('../img/rightcol_musibat.jpg');*/
}
.tail-message #display-banner a,
.tail-message #festive-banner a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .tail-message #display-banner,
  .tail-message #festive-banner {
    background-size: 100%;
    -webkit-background-size: 100%;
  }
}
#hero-section.hero-section--festive .tail-message #display-banner {
  display: none;
  visibility: hidden;
  opacity: 0;
}
#hero-section.hero-section--festive .hero-form {
  background-color: #202D36;
}
#hero-section.hero-section--festive #festive-banner {
  display: block;
  /*background-image: url('../img/banners/makar-sankrati-right-card.jpg');*/
  background-color: transparent;
}
#hero-section.hero-section--festive .small-banner {
  /*background-image: url('../img/banners/makar-sankrati-top-banner.jpg')*/
  background-color: #202D36;
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: relative;
}
#hero-section.hero-section--festive .small-banner img {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.dash-seperate {
  background-color: #fff;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
@media screen and (min-width: 0px) and (max-width: 991px) {
  .dash-seperate {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
}
.section {
  padding: 30px 0 50px;
}
.section h2 {
  text-align: center;
  color: #314451;
}
.section h3 {
  margin: 15px 0px 20px;
  text-align: center;
}
.section h3 p {
  font-size: 16px;
  margin-top: 10px;
}
.section h3 a {
  text-transform: uppercase;
  font-weight: 400;
  padding: 0px 5px;
  font-size: 13px;
}
.section .sub-link-heading {
  font-size: 20px;
  margin: 20px 0px 10px;
  text-align: center;
}
.section .sub-link-heading a {
  text-transform: uppercase;
  font-weight: 400;
  padding: 0px 5px;
  font-size: 13px;
}
.section.dark {
  background-color: #E6E6ED;
}
.section.light {
  background-color: #ffffff;
}
.lead-block {
  background-color: #FF7E5E;
  padding: 40px 0 50px;
  color: #fff;
}
.lead-block .error {
  display: block;
  font-size: 12px;
  margin-top: -5px;
}
.lead-block h3 {
  text-align: center;
  margin: 0px 0px 25px;
}
.lead-block .form-row {
  max-width: 767px;
  margin: auto;
}
.lead-block .form-row.l-form {
  max-width: 991px;
}
@media screen and (min-width: 0px) and (max-width: 991px) {
  .lead-block .form-row.l-form {
    max-width: 500px;
  }
}
.lead-block label {
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  display: block;
  padding: 12px 0px;
  margin-bottom: 10px;
}
/*
.secure {
  background-color: @light-bg-color;
  padding: 30px 0px;
  text-align: center;
  ul {
    text-align: left;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: auto;
    & img {
      display: block;
      height: 30px;
    }
    & li {
      line-height: 1.4em;
      float: left;
      padding:0px;
      font-size: 12px;
      text-transform: uppercase;
      color: lighten(@textColor,15%);
    }
    & li.b-lr {
      border-left: 1px solid rgba(0,0,0,0.1);
      border-right: 1px solid rgba(0,0,0,0.1);
      padding: 0px 15px 0;
      position: relative;
      margin: 0 10px;
      height: 55px;
    }
    & .ssl-logo {
      position: relative;
      top:3px;
    }
  }
}
*/
.social-contacts {
  margin: 60px 0px 0px;
  color: #4e6c81;
}
.social-contacts a {
  background-color: #fff;
  padding: 20px 0px;
  margin-right: 25px;
  margin-bottom: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  display: inline-block;
  text-align: center;
}
.social-contacts h5 {
  font-size: 16px;
  margin: 0px 0px 5px;
}
.social-contacts .address {
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
}
.social-contacts .address i {
  padding: 15px 0px 0px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  display: inline-block;
  text-align: center;
  left: -42px;
  top: 0px;
}
@media screen and (min-width: 0px) and (max-width: 991px) {
  .social-contacts .address {
    margin-top: 20px;
    padding-left: 80px;
  }
  .social-contacts .address i {
    left: 0px;
  }
}
.core-row {
  margin-top: 70px;
}
.core-row-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 50px auto 70px;
}
.core-row-box img {
  display: block;
  margin: auto;
  max-width: 630px;
  width: 100%;
  height: auto;
  border: 1px solid #BCBCC4;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
.core-row-box .row-div {
  padding: 20px 0px;
  font-size: 16px;
  color: #4e6c81;
  font-family: 'Lato', sans-serif;
  position: relative;
}
.core-row-box .row-title {
  font-size: 20px;
  font-weight: 400;
  color: #314451;
  font-family: 'Lato', sans-serif;
}
.vid-row {
  max-width: 1000px;
  margin: auto;
}
.video-article {
  position: relative;
  display: block;
  max-width: 427px;
  width: 100%;
  margin: 10px auto 20px;
}
.video-article img {
  width: 100%;
  display: block;
}
.video-article a > div {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #fff;
  padding: 20px 15px 20px 15px;
  font-size: 18px;
  color: #314451;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  font-family: 'Lato', sans-serif;
  position: relative;
}
.video-article .action {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -36px;
}
.blog-carousel {
  width: 715px;
  margin: 20px auto 60px;
  height: 250px;
  position: relative;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.blog-carousel .content {
  position: absolute;
  overflow: hidden;
  height: 200px;
  float: left;
  left: 0;
  right: 0px;
  top: 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 2;
}
.blog-carousel .item {
  -moz-transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  background-color: #fff;
  z-index: 0;
}
.blog-carousel .item img {
  position: absolute;
  top: -25px;
  left: 0px;
  width: 50%;
  display: block;
}
.blog-carousel .item div.c-desc {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 15px 20px;
  background-color: transparent;
  -moz-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.blog-carousel .item div.c-desc > span {
  color: #314451;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 2px 5px;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.blog-carousel .item:hover div.c-desc {
  background-color: #f7f7f5;
}
.blog-carousel .item:hover div.c-desc > span {
  border-color: #ff704c;
  color: #ff704c;
}
.blog-carousel .item h5 {
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 400;
}
.blog-carousel .item p {
  max-height: 80px;
  font-size: 13px;
  font-weight: 400;
  color: #4e6c81;
}
.blog-carousel .item a {
  color: #314451;
}
.blog-carousel .item .go-to {
  bottom: 10px;
  right: 20px;
  position: absolute;
}
.blog-carousel .item.active {
  z-index: 2;
  left: 0;
}
.blog-carousel .item.prev {
  left: -100%;
  z-index: 1;
}
.blog-carousel .handle {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
}
.blog-carousel .handle i {
  cursor: pointer;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 5px;
  border: 1px solid #a8afb7;
  background-color: #fff;
}
.blog-carousel .handle i.active {
  background-color: #ff704c;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .blog-carousel {
    width: 500px;
  }
  .blog-carousel .item {
    background-color: #314451;
  }
  .blog-carousel .item div.c-desc {
    padding-top: 10px;
    background-color: #fff;
    width: 60%;
  }
  .blog-carousel .item img {
    width: auto;
    height: 158px;
    top: 0;
    -webkit-transform: translateY(12.5%);
    -moz-transform: translateY(12.5%);
    -ms-transform: translateY(12.5%);
    -o-transform: translateY(12.5%);
    transform: translateY(12.5%);
  }
}
.employee-carousel {
  width: 424px;
  height: 424px;
  float: right;
  position: relative;
  overflow: hidden;
  margin-bottom: -50px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.employee-carousel .item {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -moz-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.employee-carousel .item.active {
  opacity: 1;
  visibility: visible;
}
.employee-carousel .item img {
  width: 100%;
  display: block;
}
.employee-carousel .item > div {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  font-size: 13px;
  bottom: 15px;
  width: 100%;
  line-height: 1.4em;
  color: #445f71;
}
.employee-carousel .item h5 {
  margin: 0px 0px 5px;
  font-size: 18px;
  font-weight: 400;
  color: #314451;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .employee-carousel {
    width: 285px;
    height: 425px;
    margin-bottom: 0px;
  }
  .employee-carousel .item > div {
    position: relative;
    bottom: auto;
    top: -50px;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .employee-carousel {
    margin: auto;
    width: 310px;
    height: 360px;
    float: none;
  }
}
.illustration-carousel {
  position: relative;
  margin-top: 50px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.illustration-carousel .item > img {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-left: 15%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}
.illustration-carousel .item > div {
  padding: 5px 15px;
  position: relative;
  background-color: transparent;
}
.illustration-carousel .item.active > div {
  background-color: #f7f6fb;
}
.illustration-carousel .item.active > div:after {
  content: '';
  position: absolute;
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent transparent #f7f6fb;
  display: block;
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .illustration-carousel .item.active > div:after {
    display: none;
  }
}
.illustration-carousel .item.active > img {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .illustration-carousel .item > img {
    max-width: 320px;
    margin-left: 0%;
  }
  .illustration-carousel .item > div {
    font-size: 14px;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .illustration-carousel {
    margin-top: 0;
  }
  .illustration-carousel .item.active > div {
    background-color: transparent;
  }
  .illustration-carousel .item.active > div:after {
    display: none;
  }
  .illustration-carousel .item > img {
    opacity: 1;
    visibility: visible;
    margin-left: 0px;
    left: 0;
    top: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    position: relative;
    display: block;
    width: 360px;
  }
}
.illustration-carousel h5 {
  font-size: 18px;
  margin-bottom: 5px;
}
.sole-testimonial {
  max-width: 600px;
  margin: 50px auto 20px;
  position: relative;
  padding-left: 0px;
  color: #4e6c81;
}
.sole-testimonial p {
  text-indent: 40px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 5px;
}
.sole-testimonial img {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}
.sole-testimonial .quote {
  background: url('../img/ic_quote.png') no-repeat center transparent;
  font-size: 72px;
  color: transparent;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -15px;
  left: 0px;
}
ul.why-coverfox {
  list-style-type: none;
  padding: 0;
  margin: 50px 0px 60px;
  text-align: center;
}
ul.why-coverfox li {
  width: 190px;
  height: 180px;
  margin: 10px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.4em;
  vertical-align: top;
  color: #4e6c81;
}
ul.why-coverfox img {
  width: 120px;
  height: 120px;
  background-color: #efeff4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin: 0 auto 20px;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  ul.why-coverfox li {
    width: 160px;
    height: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  ul.why-coverfox li {
    width: 120px;
    font-size: 12px;
  }
  ul.why-coverfox img {
    width: 100px;
    height: 100px;
  }
}
ul.insurers {
  list-style-type: none;
  margin: 25px 0px 0px;
  text-align: center;
  padding: 0;
}
ul.insurers li {
  display: inline-block;
  margin: 0px;
  vertical-align: middle;
  position: relative;
  width: 140px;
  height: 70px;
  overflow: hidden;
}
ul.insurers li .ic-insurer-sm {
  position: absolute;
  left: -3px;
  top: -8px;
}
.cf-input {
  color: #314451;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 54px;
  padding: 10px;
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  width: 100%;
}
.cf-input:focus,
.cf-input:active {
  outline: none;
}
.input-mobile {
  position: relative;
}
.input-mobile .cf-input {
  padding-left: 40px;
}
.input-mobile:before {
  color: #314451;
  position: absolute;
  z-index: 1;
  width: 30px;
  text-align: center;
  top: 16px;
  left: 4px;
  content: '+91';
  display: inline-block;
}
.cf-select-dd,
.cf-special-ip {
  position: relative;
  margin-bottom: 24px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 5px 5px;
  height: 53px;
  display: block;
  /*
  &.selected {
    padding-top:20px;
    & label {
      display: block;
    }
  }
  */
}
.cf-select-dd label,
.cf-special-ip label {
  visibility: hidden;
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  filter: alpha(opacity=0);
  opacity: 0;
  text-transform: uppercase;
  color: rgba(49, 68, 81, 0.7);
  font-size: 10px;
  position: absolute;
  top: 3px;
  left: 17px;
  letter-spacing: 1px;
  z-index: 1;
}
.cf-select-dd .input-mobile,
.cf-special-ip .input-mobile {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.cf-select-dd .input-mobile input,
.cf-special-ip .input-mobile input {
  padding-left: 40px;
  top: 0px;
}
.cf-select-dd .input-mobile:before,
.cf-special-ip .input-mobile:before {
  top: 15px;
  font-size: 12px;
}
.cf-select-dd input,
.cf-special-ip input {
  position: relative;
  top: -3px;
}
.cf-select-dd select,
.cf-special-ip select,
.cf-select-dd input,
.cf-special-ip input {
  background-color: #fff;
  border: 1px solid #fff;
  padding: 4px 15px;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.cf-select-dd select:focus,
.cf-special-ip select:focus,
.cf-select-dd input:focus,
.cf-special-ip input:focus,
.cf-select-dd select:active,
.cf-special-ip select:active,
.cf-select-dd input:active,
.cf-special-ip input:active {
  outline: none;
}
.cf-special-ip {
  padding-top: 13px;
  -moz-transition: padding-top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: padding-top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: padding-top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: padding-top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.cf-special-ip .input-mobile:before {
  font-size: 16px;
}
.cf-special-ip input {
  font-size: 16px;
}
.cf-special-ip.selected {
  padding-top: 20px;
}
.cf-special-ip.selected .input-mobile:before {
  font-size: 12px;
  top: 22px;
}
.cf-special-ip.selected input {
  font-size: 12px;
  padding-top: 18px;
}
.cf-special-ip.selected label {
  visibility: visible;
  filter: alpha(opacity=100);
  opacity: 1;
}
.select-input {
  position: relative;
  color: #314451;
  margin-bottom: 10px;
}
.select-input .triangle {
  cursor: pointer;
  opacity: 0.6;
  z-index: 1;
  display: block;
  position: absolute;
  top: 18px;
  right: 10px;
  width: 16px;
  height: 16px;
  background: url('../img/ic_triangle_down.png') no-repeat center center transparent;
}
.select-input.active .triangle {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.select-input > div {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 54px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 14px 10px 10px;
}
.select-input > div > span {
  color: #999;
}
.select-input ul {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
}
.select-input ul.dt li {
  padding: 5px 10px;
}
.select-input ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  cursor: pointer;
}
.select-input ul li:hover {
  color: #ff704c;
}
.select-input ul li small {
  color: #5a6974;
}
.select-input.active ul {
  display: block;
}
.select2-container.select2-dropdown-open .select2-choice .select2-arrow {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.select2-container.select2-dropdown-open .select2-choices::after {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.cf-radio {
  font-size: 14px;
  color: #5a6974;
  display: inline-block;
  margin: 8px 16px 16px 0;
}
.cf-radio input[type='radio'] {
  display: none;
}
.cf-radio input[type='radio']:checked + span {
  border-color: #ff704c;
}
.cf-radio input[type='radio']:checked + span:before {
  display: block;
}
.cf-radio > span {
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  margin: -3px 5px 0 0;
  width: 20px;
  height: 20px;
  padding: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.cf-radio > span:hover {
  border-color: #ff704c;
}
.cf-radio > span:before {
  display: none;
  content: '';
  width: 10px;
  height: 10px;
  background: #ff704c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.error-text {
  display: none;
  font-weight: 400;
  color: #ff0000;
  font-size: 12px;
  margin: -20px 0 10px;
}
.vehicle-details,
.bike-details {
  margin-top: 10px;
}
.registration-details .label {
  font-family: 'Lato', sans-serif;
  color: #5a6974;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  display: inline-block;
}
p.intro {
  font-weight: 400;
  margin: 8px 4px 20px;
  color: #5a6974;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
.exp-process {
  margin-bottom: 30px;
}
.process {
  padding: 6px 5px 10px 33px;
  color: #314451;
  position: relative;
  font-size: 12px;
  line-height: 1.2em;
}
.process strong {
  padding: 6px 10px;
  color: #363636;
  position: absolute;
  margin-right: 5px;
  top: 0;
  font-size: 14px;
  left: 0;
  background-color: #efeff4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.widget-form-box {
  padding: 1px 0px 0px;
  border-top: none;
  border-bottom: none;
  margin-bottom: 0px;
}
.widget-form-box span.age select:hover,
.widget-form-box span.age select:focus,
.widget-form-box span.age select:active {
  outline: none;
}
.widget-form-box .healthcare-options {
  margin-top: 10px;
  margin-bottom: 10px;
}
.widget-form-box .healthcare-options label,
.widget-form-box .gender-radio label {
  color: #5a6974;
  font-size: 14px;
}
.widget-form-box .healthcare-options label.active,
.widget-form-box .gender-radio label.active {
  font-weight: normal;
  color: #5a6974;
}
.widget-form-box .error {
  font-family: 'Lato', sans-serif;
  padding: 0px;
  position: relative;
  top: -10px;
  font-size: 12px;
  font-weight: 400;
  color: #ff0000;
  background-color: transparent;
}
.widget-form-box h4 {
  color: #445f71;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 0;
}
.widget-form-box h4:before {
  display: none;
}
.widget-form-box .options ul li {
  line-height: 1.4em;
  padding: 7px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 37px;
  min-width: 100px;
  margin-bottom: 5px;
  vertical-align: bottom;
}
.widget-form-box .options ul li.add {
  padding: 8px 10px;
}
.widget-form-box .add-kids,
.widget-form-box .self-options {
  margin-top: 10px;
}
.widget-form-box .add-kids {
  margin-bottom: 10px;
}
.widget-form-box .options ul li span.age select {
  padding-top: 0;
  padding-bottom: 0;
}
.ic-social {
  display: inline-block;
  background: url('../img/sprites/ic-social.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.ic-social.facebook {
  background-position: -5px 0px;
  width: 24px;
  height: 24px;
  position: relative;
  top: -2px;
  left: -2px;
}
.ic-social.google-plus {
  background-position: -34px 0px;
  width: 24px;
  height: 24px;
}
.ic-social.linkedin {
  background-position: -5px -29px;
  width: 24px;
  height: 24px;
}
.ic-social.twitter {
  background-position: -34px -29px;
  width: 24px;
  height: 24px;
}
.ic-social.youtube {
  background-position: -5px -58px;
  width: 24px;
  height: 24px;
}
.social-contacts a {
  -moz-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.social-contacts a.facebook {
  background-color: #3b5998;
}
.social-contacts a.facebook:hover {
  background-color: #4264aa;
}
.social-contacts a.twitter {
  background-color: #00aced;
}
.social-contacts a.twitter:hover {
  background-color: #08bbff;
}
.social-contacts a.linkedin {
  background-color: #007bb6;
}
.social-contacts a.linkedin:hover {
  background-color: #008cd0;
}
.social-contacts a.google-plus {
  background-color: #dd4b39;
}
.social-contacts a.google-plus:hover {
  background-color: #e15f4f;
}
.social-contacts a.youtube {
  background-color: #bb0000;
}
.social-contacts a.youtube:hover {
  background-color: #d40000;
}
/*
.ic-social {
  display: inline-block;
  background: url('../img/sprites/social-icons.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  margin-top: 3px;
}

.ic-social {
  &.facebook {
    background-position: -30px -0px;
    width: 20px;
    height: 20px;
  }
  &.google-plus {
    background-position: -5px -25px;
    width: 20px;
    height: 20px;
  }
  &.linkedin {
    background-position: -55px -25px;
    width: 20px;
    height: 20px;
  }
  &.twitter {
    background-position: -30px -50px;
    width: 20px;
    height: 20px;
  }
  &.youtube {
    background-position: -5px -75px;
    width: 20px;
    height: 20px;
  }
}
.social-contacts a:hover {
  .ic-social.facebook {
    background-position: -5px -0px;
    width: 20px;
    height: 20px;
  }
  .ic-social.linkedin {
    background-position: -30px -25px;
    width: 20px;
    height: 20px;
  }
  .ic-social.twitter {
    background-position: -5px -50px;
    width: 20px;
    height: 20px;
  }
  .ic-social.youtube {
    background-position: -55px -50px;
    width: 20px;
    height: 20px;
  }
  .ic-social.google-plus {
    background-position: -55px -0px;
    width: 20px;
    height: 20px;
  }
}
*/
.why-sprite {
  margin: 0 auto 30px;
  display: block;
  background: url('../img/sprites/why-sprite.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.why-sprite.best-savings {
  background-position: -5px 0px;
  width: 120px;
  height: 120px;
}
.why-sprite.hasslefree-claims {
  background-position: -130px 0px;
  width: 120px;
  height: 120px;
}
.why-sprite.no-spam {
  background-position: -5px -125px;
  width: 120px;
  height: 120px;
}
.why-sprite.secure-buy {
  background-position: -130px -125px;
  width: 120px;
  height: 120px;
}
.why-sprite.swift-assistance {
  background-position: -5px -250px;
  width: 120px;
  height: 120px;
}
/*
.ic-insurer {
  display: inline-block;
  background: url('../img/sprites/ic-insurers.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  opacity: 0.6;
}

.ic-insurer.bajaj-allianz { background-position: -5px -0px; width: 200px; height: 24px; }
.ic-insurer.universal-sompo { background-position: -5px -58px; width: 181px; height: 40px; }
.ic-insurer.lnt { background-position: -5px -148px; width: 180px; height: 40px; }
.ic-insurer.iffco-tokio { background-position: -5px -238px; width: 100px; height: 50px; }
.ic-insurer.bharti-axa { background-position: -5px -348px; width: 93px; height: 40px; }
.ic-insurer.hdfc-ergo { background-position: -110px -293px; width: 55px; height: 50px; }
.ic-insurer.new-india-assurance { background-position: -5px -393px; width: 50px; height: 50px; }
*/
/*
.ic-insurer.bajaj-allianz:hover { background-position: -5px -29px; width: 200px; height: 24px; }
.ic-insurer.universal-sompo:hover { background-position: -5px -103px; width: 181px; height: 40px; }
.ic-insurer.lnt:hover { background-position: -5px -193px; width: 180px; height: 40px; }
.ic-insurer.iffco-tokio:hover { background-position: -5px -293px; width: 100px; height: 50px; }
.ic-insurer.bharti-axa:hover { background-position: -103px -348px; width: 93px; height: 40px; }
.ic-insurer.hdfc-ergo:hover { background-position: -110px -238px; width: 55px; height: 50px; }
.ic-insurer.new-india-assurance:hover { background-position: -60px -393px; width: 50px; height: 50px; }
*/
.ic-insurance {
  display: inline-block;
  background: url('../img/sprites/ic-insurance.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.ic-insurance.ic-bike {
  background-position: -30px 0px;
  width: 20px;
  height: 20px;
}
.ic-insurance.ic-car {
  background-position: -5px -25px;
  width: 20px;
  height: 20px;
}
.ic-insurance.ic-health {
  background-position: -55px -25px;
  width: 20px;
  height: 20px;
}
.ic-insurance.ic-home {
  background-position: -30px -50px;
  width: 20px;
  height: 20px;
}
.ic-insurance.ic-travel {
  background-position: -5px -75px;
  width: 20px;
  height: 20px;
}
.tabs > li.active > .ic-insurance.ic-car,
.select-input ul li:hover > .ic-insurance.ic-car {
  background-position: -55px 0px;
  width: 20px;
  height: 20px;
}
.tabs > li.active > .ic-insurance.ic-health,
.select-input ul li:hover > .ic-insurance.ic-health {
  background-position: -30px -25px;
  width: 20px;
  height: 20px;
}
.tabs > li.active > .ic-insurance.ic-home,
.select-input ul li:hover > .ic-insurance.ic-home {
  background-position: -5px -50px;
  width: 20px;
  height: 20px;
}
.tabs > li.active > .ic-insurance.ic-travel,
.select-input ul li:hover > .ic-insurance.ic-travel {
  background-position: -55px -50px;
  width: 20px;
  height: 20px;
}
.tabs > li.active > .ic-insurance.ic-bike,
.select-input ul li:hover > .ic-insurance.ic-bike {
  background-position: -5px 0px;
  width: 20px;
  height: 20px;
}
.select-input ul li .ic-insurance {
  margin: -3px 10px 0 0;
  position: relative;
  top: 0px;
  vertical-align: middle;
}
.ic-play {
  display: inline-block;
  background: url('../img/sprites/ic_play.png') no-repeat center center transparent;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.ic-play {
  background-position: -5px 0px;
  width: 72px;
  height: 50px;
}
.video-article a:hover .ic-play {
  background-position: -5px -55px;
  width: 72px;
  height: 50px;
}
/* new all insurer sprite css begin */
.ic-insurer-sm {
  display: inline-block;
  background: url('../img/sprites/insurer-logo-sprite-sm.png') no-repeat center center transparent;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.ic-insurer-sm.cigna {
  background-position: 0px 0px;
  width: 144px;
  height: 88px;
}
.ic-insurer-sm.liberty {
  background-position: 0px -88px;
  width: 144px;
  height: 89px;
}
.ic-insurer-sm.oriental {
  background-position: 0px -177px;
  width: 144px;
  height: 88px;
}
.ic-insurer-sm.reliance {
  background-position: 0px -265px;
  width: 144px;
  height: 88px;
}
.ic-insurer-sm.religare {
  background-position: 0px -353px;
  width: 144px;
  height: 88px;
}
.ic-insurer-sm.universal {
  background-position: 0px -441px;
  width: 144px;
  height: 89px;
}
.ic-insurer-sm.apollo {
  background-position: 0px -530px;
  width: 143px;
  height: 89px;
}
.ic-insurer-sm.bajaj {
  background-position: 0px -619px;
  width: 143px;
  height: 88px;
}
.ic-insurer-sm.bharti {
  background-position: 0px -707px;
  width: 143px;
  height: 88px;
}
.ic-insurer-sm.chola {
  background-position: 0px -795px;
  width: 143px;
  height: 89px;
}
.ic-insurer-sm.future {
  background-position: 0px -884px;
  width: 143px;
  height: 89px;
}
.ic-insurer-sm.hdfc {
  background-position: 0px -973px;
  width: 143px;
  height: 88px;
}
.ic-insurer-sm.icicilombard {
  background-position: 0px -1061px;
  width: 143px;
  height: 88px;
}
.ic-insurer-sm.iffco {
  background-position: 0px -1149px;
  width: 143px;
  height: 88px;
  opacity: 0.8;
}
.ic-insurer-sm.landt {
  background-position: 0px -1237px;
  width: 143px;
  height: 88px;
}
.ic-insurer-sm.maxbupa {
  background-position: 0px -1325px;
  width: 143px;
  height: 89px;
}
.ic-insurer-sm.newindia {
  background-position: 0px -1414px;
  width: 143px;
  height: 88px;
}
.ic-insurer-sm.star {
  background-position: 0px -1502px;
  width: 143px;
  height: 88px;
  opacity: 0.9;
}
.ic-insurer-sm.tata {
  background-position: 0px -1590px;
  width: 143px;
  height: 88px;
}
/* new all insurer sprite css end */
.btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.modal-overlay {
  display: none;
  z-index: 1001;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-overlay.active {
  display: block;
}
.modal-overlay .modal-content {
  -moz-transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  margin: auto;
  width: 90%;
  top: -200%;
}
.modal-overlay.active .modal-content {
  top: 80px;
}
.modal-overlay .close-overlay {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 90px;
  height: 30px;
  color: #fff;
  position: absolute;
  z-index: 1;
  background: url('../img/ic_close.png') no-repeat -15px center transparent;
  right: 20px;
  top: 20px;
  padding-left: 35px;
  padding-top: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.modal-overlay .close-overlay:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#video-frame iframe {
  margin: auto;
  width: 767px;
  height: 431px;
  display: none;
}
#video-frame iframe.reveal {
  display: block;
}
.select2-drop {
  font-size: 12px;
}
.self-options .select2-container .select2-choice,
.kids-options .select2-container .select2-choice {
  margin-top: -3px;
  border: none;
  height: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-top: 0px;
  background: transparent;
}
.self-options .select2-container.has-error .select2-choice,
.kids-options .select2-container.has-error .select2-choice {
  color: #ff704c;
}
.self-options .select2-container .select2-choice abbr,
.kids-options .select2-container .select2-choice abbr,
.self-options .select2-container .select2-choice .select2-arrow,
.kids-options .select2-container .select2-choice .select2-arrow {
  background: url('../img/ic_triangle_down.png') no-repeat center transparent;
  border-left: none;
  right: 0px;
  opacity: 0.6;
}
.self-options .select2-container .select2-choice abbr,
.kids-options .select2-container .select2-choice abbr {
  background-color: #fff;
  width: 18px;
  height: 100%;
  top: 0;
  position: relative;
}
.cf-select-dd {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  padding: 0;
}
.cf-select-dd .select2-container {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.cf-select-dd .select2-container .select2-choice {
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #5a6974;
  padding-top: 13px;
  padding-left: 16px;
  background: transparent;
  -moz-transition: padding-top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: padding-top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: padding-top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: padding-top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.cf-select-dd.selected .select2-container .select2-choice {
  padding-top: 20px;
}
.cf-select-dd.selected label {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}
.cf-select-dd .select2-container.select2-container-active .select2-choice {
  border-color: #5897fb;
}
.cf-select-dd .select2-container .select2-choice abbr,
.cf-select-dd .select2-container .select2-choice .select2-arrow {
  background: url('../img/ic_triangle_down.png') no-repeat center transparent;
  border-left: none;
  right: 5px;
  opacity: 0.6;
}
.cf-select-dd .select2-container .select2-choice abbr {
  background-color: #fff;
  width: 18px;
  height: 100%;
  top: 0;
  position: relative;
}
.cf-select-dd.multi {
  height: auto;
}
.cf-select-dd.multi input {
  position: relative;
  top: -7px;
}
.cf-select-dd.multi .select2-container-multi {
  padding: 0;
  margin: 0;
  position: relative;
  border: none;
}
.cf-select-dd.multi.selected input {
  top: -3px;
}
.cf-select-dd.multi .select2-container-multi .select2-choices {
  border-color: rgba(0, 0, 0, 0.2);
  background-image: none;
  background-color: transparent;
  padding: 20px 25px 0 10px;
  min-height: 53px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
.cf-select-dd.multi .select2-container-multi .select2-choices:after {
  content: '';
  display: block;
  background: url('../img/ic_triangle_down.png') no-repeat center center transparent;
  cursor: pointer;
  width: 10px;
  height: 10px;
  position: absolute;
  opacity: 0.6;
  filter: alpha(opacity=60);
  right: 10px;
  top: 22px;
}
.cf-select-dd.multi .select2-container-multi.select2-container-active .select2-choices {
  border-color: #5897fb;
}
.cf-select-dd.multi .select2-container-multi .select2-choices .select2-search-choice {
  -webkit-background-image: none;
  -moz-background-image: none;
  -ms-background-image: none;
  -o-background-image: none;
  background-image: none;
  background-color: #efeff4;
  font-size: 12px;
  border-color: rgba(0, 0, 0, 0.2);
  padding-left: 20px;
}
.cf-select-dd.multi .select2-search-choice-close:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/ic_close_sm.png) no-repeat center center transparent;
}
.cf-select-dd.multi .clear-list {
  position: absolute;
  right: 0px;
  font-size: 11px;
  top: 0px;
  color: #7293a9;
  z-index: 1;
  cursor: pointer;
  text-transform: none;
}
.cf-select-dd.multi .clear-list:hover {
  color: #ff704c;
}
.cf-special-ip.multi-entry {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  min-height: 53px;
  height: auto;
  border: none;
  padding-top: 22px;
  margin-top: -10px;
}
.cf-special-ip.multi-entry label {
  left: 0;
}
.cf-special-ip.multi-entry input {
  font-size: 12px !important;
  display: inline-block;
  position: relative;
  width: 37px;
  height: 37px;
  margin: 4px 2px 0 0;
  padding: 2px 4px !important;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.select2-results li {
  color: #5a6974;
}
.select2-results .select2-highlighted {
  background: #314451;
  color: #fff;
}
.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 26px;
}
.footer-wrapper-products {
  display: none !important;
}
.f-row {
  margin-top: 38px;
  margin-bottom: 20px;
}
.f-row .select-input > div {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.f-row .select-input .triangle {
  top: 11px;
}
.f-row .select-input ul li {
  padding: 8px 10px;
}
.f-row .input-mobile:before {
  top: 9px;
}
.f-row .cf-input {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.f-row .error {
  color: #ff0000;
  font-size: 11px;
  top: -8px;
  position: relative;
}
.f-row .btn.brown {
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  height: 40px;
  padding: 8px 10px;
  color: #314451;
  font-size: 16px;
  width: 100%;
}
.f-row .btn.brown:not([disabled]):hover,
.f-row .btn.brown:not([disabled]):focus,
.f-row .btn.brown:not([disabled]):active {
  background-color: #314451;
  color: #fff;
}
.hero_thank_you {
  padding: 60px 0 15px;
  font-size: 18px;
  text-align: center;
}
.hero_thank_you h5 {
  margin: 0 0 15px;
  font-size: 22px;
  font-weight: 300;
  color: #314451;
}
.hero_thank_you img {
  display: block;
  opacity: 0.2;
  filter: alpha(opacity=20);
  max-width: 120px;
  margin: 0 auto 20px;
}
.cf-radio.r-tab {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 12px 15px;
  margin: 0 0 24px;
  cursor: pointer;
  -moz-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.cf-radio.r-tab:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.cf-radio.r-tab > span {
  left: -5px;
  position: relative;
}
.cf-radio.r-tab small {
  margin-top: 3px;
  line-height: 1.4em;
  padding-left: 24px;
  display: block;
  color: #999;
}
.errorBox {
  color: #fff;
  margin-bottom: 15px;
  padding: 5px 15px;
  font-size: 13px;
  background-color: rgba(187, 0, 0, 0.7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.subContainer {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #f7f7fa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  padding: 15px 15px 0;
  margin-right: 15px;
  margin-bottom: 10px;
}
.hero-form .small-banner {
  background: #214150;
  min-height: 80px;
  margin: -15px 0 15px;
  position: relative;
}
.hero-form .small-banner a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.hero-form .small-banner img {
  width: 100%;
  display: block;
}
/* commented heroes video */
/*
.cfox-video-block {
  padding:20px 0px;
  position: relative;
  height: 401px;
  border-bottom: 1px solid rgb(60, 78, 90);
  .boxShadow(0px -11px 22px rgba(0, 0, 0, 0.54) inset);
  background: url(../img/rm-photos/rm-video-bg.jpg) no-repeat center center #000;
  -webkit-background-size: cover;
  background-size: cover;
  @media screen and (min-width: 0px) and (max-width: @break-point-md) {
    height:360px;
  }

  & .hero-social {
    position: absolute;
    top:-7px;
    right:15px;
    z-index:3;
    & a {
      display: inline-block;
      margin-left: 10px;
      opacity: 0.7;
      filter:alpha(opacity=70);
      .transform(scale(0.9));
      &:hover {
        opacity: 1;
        filter:alpha(opacity=100);
      }
    }
  }
  & .hero-teaser {
    opacity: 0;
    filter:alpha(opacity=0);
    visibility: hidden;
    .transition(opacity,0.3s);
    text-align: left;
    position: absolute;
    top: 7px;
    left: 180px;
    z-index: 2;
    width: 250px;
    h5 {
      color: #fff;
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 5px;
    }
    & > span {
      color: #999;
      font-size: 14px;
    }
  }

  & .video-section {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    & .hero-social {
      display: block;
      opacity: 0;
      filter:alpha(opacity=0);
      visibility: hidden;
      .transition(opacity,0.3s);
      top:26px;
    }

    & .hero-vid,& .hero-loader {
      width: 710px;
      height: 400px;
      display: block;
      position:absolute;
      z-index: 2;
      left:50%;
      bottom: 0;
      margin-left:-355px;
      .transition(all,0.3s);
      @media screen and (min-width: 0px) and (max-width: @break-point-md) {
        margin-top: 45px;
        width: 560px;
        height: 315px;
        margin-left: -280px;
      }
    }
    & .hero-loader {
      background: url('') no-repeat center center transparent;
      background-image: none;
      opacity: 1;
      filter:alpha(opacity=100);
      text-align: center;
      & #youTube_icon_container {
        color: #fff;
        display: block;
        margin-top: 18%;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
      }
      & img {
        cursor:pointer;
        height: 64px;
        opacity: 0.7;
        filter:alpha(opacity=70);
        .transition(opacity,0.4s);
      }
      & img:hover,& img:active {
        opacity: 1;
        filter:alpha(opacity=100);
      }
      & p {
        font-size: 24px;
        margin: 12px 0 0;
      }
      & span {
        font-size: 16px;
        color: rgba(255,255,255,0.5);
      }
      &.played {
        background: url('../img/loader-dark.GIF') no-repeat center center #000000;
        //opacity:0.3;
        //filter:alpha(opacity=30);
        & #youTube_icon_container {
          display: none;
        }
      }
      @media screen and (min-width: 0px) and (max-width: @break-point-md) {
        & #youTube_icon_container {
          margin-top: 12%;
        }
      }
    }
    &.fix-top {
      position: fixed;
      height:84px;
      overflow: hidden;
      z-index:1000;
      background-color: rgba(0,0,0,0.8);
      & .hero-teaser,& .hero-social {
        opacity: 1;
        filter:alpha(opacity=100);
        visibility: visible;
      }
      & .hero-vid,& .hero-loader {
        position: absolute;
        margin: 0;
        width:152px;
        height: 84px;
        left: 0;
      }
      & .hero-loader {
        background-color: rgba(39,39,39,1);
        -webkit-background-size: 40px 40px;
        background-size: 40px 40px;
        & #youTube_icon_container {
          margin-top: 12%;
        }
        & img {
          height: 40px;
        }
        & p,& span {
          display: none;
        }
      }
    }
  }
  &:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
  }
}
*/
/* video load flipper / banner time flipper css starts */
.flip-item {
  display: none;
}
/*remove this css for regular non time flipping festive banners*/
#hero-section.hero-section--festive .small-banner {
  display: none;
}
#festive-banner,
.festive-small-banner {
  position: relative;
  background: #202D36;
}
#festive-banner img,
.festive-small-banner img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0 ;
  visibility: hidden;
  -moz-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
#festive-banner img.active,
.festive-small-banner img.active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
#festive-banner a,
.festive-small-banner a {
  z-index: 2;
}
.festive-small-banner {
  margin: 17px 48px -17px 64px;
  min-height: 80px;
}
.festive-small-banner a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/* video load flipper / banner time flipper css end */
