@import "colors";
@import "basestyles";
@lead-orange:#FF7E5E;
@muted-text:lighten(@textColor,30%);
@break-point-md:1199px;
@break-point-sm:991px; 
@break-point-xs:767px; 
@brown:@baseDark;
@light-bg-color:#ffffff;
@grey-3:#E6E6ED;
@lableColor:#5a6974;
@festiveBg:#202D36;
body {
  font-family: @baseFont;
  background-color: @grey-2;
  color: @textColor;
  line-height: 1.6em; 
  font-weight: 400;
} 
.city_list_data{
  padding: 0 15px;
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      display: inline;
      margin: 0 10px;
      &:first-child{
        margin-left: 0;
      }
      a{
        color:#0076ff;
        &:hover{
          color:#ff6127;
        }
      }
    }
  }
}
.hide-overflow{
	overflow:hidden;
}
.mt_select{
  margin-top:20px;
}
.mb_10{
  margin-bottom:10px;
}
.mnone{
	margin: 0;
}
.pnone {
  padding: 0;
}
.prnone{
	padding-right:0;
}
.plnone{
	padding-left:0;
}
a {
  color: @orange;
  &:hover,&:focus,&:active {
    color: @orange;
    outline: none;
    text-decoration: none;
  }
}

.icon {
  .roundedCorners(50%);
  height: 64px;
  width: 64px;
  display: inline-block;
  text-align: center;
}
.btn{
  .boxShadow(~"0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)");
  font-size: 12px;
  color: rgb(255, 255, 255);
  padding: 3px 10px;
  .roundedCorners(2px);
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .transition(@time:200ms);
  &.small {
    font-size: 10px;
    .boxShadow(none);
    padding:3px 5px;
    margin-left: 5px;
  }
  &.big {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 15px;
  }
  &:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  &.orange{
    color:#fff;
    background-color: @orange;
    border: 1px solid darken(@orange, 5%);
    &:hover{
      background: darken(@orange, 5%);
    }
    &:active{
      background: darken(@orange, 10%);
    }
  }
  &.brown{
    color:rgba(255,255,255,0.9);
    background-color: @brown;
    border: 1px solid darken(@brown, 5%);
    .boxShadow(none);
    &:hover{
      background: darken(@brown, 5%);
    }
    &:active{
      background: darken(@brown, 10%);
    }
  }
}


h1 {
  font-family: @baseFont;
  font-size: 44px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  //text-shadow:0px 1px 1px rgba(0,0,0,0.9);
  margin: 0 0 5px;
}
p.sub-title {
  //text-shadow:0px 1px 1px rgba(0,0,0,0.5);
  font-family: @baseFont;
  font-size: 20px;
  color: rgba(255,255,255,0.7);
  text-align: center;
  font-weight: 300;
}
h2 {
  font-family:@baseFont;
  font-size: 40px;
  font-weight: 300;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 20px;
}
p.leader {
  font-size: 18px;
}
p.leader-2 {
  font-size: 18px;
  line-height: 1.8em;
}
.read-more{
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px 5px;
  font-size: 13px;
}
p,h3,h4 {
  font-family: @baseFont;
  font-weight: 300;
  line-height: 1.6em;
}
#mini-top-bar,#top-bar {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

#hero-section {
  position: relative;
  &:before {
    display: block;
    content: '';
    z-index: -1;
    position: absolute;
    background-color: @baseDark;
    top:0;
    left: 0;
    right:0;
    height:234px;
  }
}



.hero-form {
  .BoxShadowHelper(1);
  background-color:#214150;
  .roundedCorners(3px);
  margin: 15px auto 50px;
  max-width: 1040px;
  //min-height: 440px;
  .hint {
    margin: -26px 4px 16px;
    text-align: right;
    font-size: 11px;
    color: #98a1a8;
  }
  .sm-label {
    font-family: @baseFont;
    color: @lableColor;
    letter-spacing: 1px;
    font-size:12px;
    font-weight: 400;
    display: block;
    margin:8px 4px 0px;
    text-transform: uppercase;
  }
  ul.tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid @orange;
    text-align: center;
    & li {
      min-width: 100px;
      display: inline-block;
      padding: 10px 20px 6px;
      border-bottom: 2px solid transparent;
      font-size: 14px;
      & .ic-insurance {
        display: block;
        margin: 5px auto -2px;
      }
      &:hover {
        background-color: @grey-2;
        cursor: pointer;
      }
      &.active {
        color: @orange;
        border-bottom-color: @orange;
      }
    }
  }
  .btn.big {
    margin-top: 4px;
    width: 220px;
  }
  .product-form-item { 
    padding: 32px 48px 48px 64px;
    display: none;
    min-height: 393px;
    h5 { 
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 32px;
      letter-spacing: 0px;
      font-weight: 300;
    }
    &.reveal {
      display: block;
      position: relative;
      &:before {
        opacity: 0;
        filter: alpha(opacity=0);
        visibility: hidden;
        .transition(all,0.3s);
        content:'Please wait...';
        position: absolute;
        display: block;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:url('../img/loading-big.gif') no-repeat center 70px #fff;
        z-index: -1;
        padding-top: 130px;
        text-align: center;
        color: lighten(@textColor,30%);
        letter-spacing: 2px;
      }
      &.loading {
        &:before {
          opacity: 1;
          filter: alpha(opacity=100);
          visibility: visible;
          z-index: 10;
        }
      }
    }
    @media screen and (min-width: 0px) and (max-width: @break-point-sm) {
      padding-bottom: 50px;
    }
  }
}
.tail-message {
  padding:15px 30px 30px;
  color:lighten(@textColor,30%);
  font-family: @baseFont;
  font-size: 14px;
  font-weight: 400;
  width:100%;
  position: relative;
  z-index: 1;
  min-height: 457px;
  & h4 {
    font-size: 24px;
    color: lighten(@orange,10%);
    font-weight: 400;
  }
  & #display-banner,& #festive-banner {
    display: none;
    position: absolute;
    background-color: transparent;
    background-position: top center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    .roundedCorners(0 4px 4px 0);
    overflow: hidden;
    &.reveal {
      display: block;
      /*background-image: url('../img/rightcol_musibat.jpg');*/
    }
    a {position: absolute;display: block;width: 100%;height:100%;cursor: pointer;}
    @media screen and (max-width:@break-point-md){
        background-size:100%;
        -webkit-background-size: 100%;
    }
  }
}
#hero-section.hero-section--festive {
  & .tail-message #display-banner {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  & .hero-form {
    background-color: @festiveBg;
  }  
  & #festive-banner {
      display: block;
      /*background-image: url('../img/banners/makar-sankrati-right-card.jpg');*/
      background-color: transparent;
  }
  & .small-banner {
      /*background-image: url('../img/banners/makar-sankrati-top-banner.jpg')*/
      background-color: @festiveBg;
      background-position: top center;
      background-repeat: no-repeat;
      -webkit-background-size: 100%;
      background-size: 100%;
      position: relative;
      img { display: none;visibility: hidden;opacity: 0; }
  }
}
.dash-seperate {
  background-color: #fff;
  .roundedCorners(3px 0 0 3px);
  @media screen and (min-width: 0px) and (max-width: @break-point-sm) {
    .roundedCorners(3px);
  }
}

.section {
  padding:30px 0 50px;
  h2 {
    text-align: center;
    color: @textColor;
  }
  h3 {
    margin:15px 0px 20px;
    text-align: center;
    p {
      font-size: 16px;
      margin-top:10px;
    }
    a {
      text-transform: uppercase;
      font-weight: 400;
      padding: 0px 5px;
      font-size: 13px;
    }
  }
  .sub-link-heading {
    font-size: 20px;
    margin: 20px 0px 10px;
    text-align: center;
    a {
      text-transform: uppercase;
      font-weight: 400;
      padding: 0px 5px;
      font-size: 13px;
    }
  }
}

.section.dark {
  background-color: @grey-3;
}
.section.light {
  background-color: @light-bg-color;
}

.lead-block {
  background-color: @lead-orange;
  padding: 40px 0 50px;
  color: #fff;
  .error {
    display: block;
    font-size: 12px;
    margin-top:-5px;
  }
  h3 {
    text-align: center;
    margin: 0px 0px 25px;
  }
  .form-row {
    max-width: @break-point-xs;
    margin: auto;
    &.l-form {
      max-width: @break-point-sm;
    }
    @media screen and (min-width: 0px) and (max-width: @break-point-sm) {
      &.l-form {max-width: 500px;}
    }
  }
  label {
    font-size: 28px;
    font-family: @baseFont;
    font-weight: 400;
    text-align: center;
    display: block;
    padding: 12px 0px;
    margin-bottom: 10px;
  }
}
/*
.secure {
  background-color: @light-bg-color;
  padding: 30px 0px;
  text-align: center;
  ul {
    text-align: left;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: auto;
    & img {
      display: block;
      height: 30px;
    }
    & li {
      line-height: 1.4em;
      float: left;
      padding:0px;
      font-size: 12px;
      text-transform: uppercase;
      color: lighten(@textColor,15%);
    }
    & li.b-lr {
      border-left: 1px solid rgba(0,0,0,0.1);
      border-right: 1px solid rgba(0,0,0,0.1);
      padding: 0px 15px 0;
      position: relative;
      margin: 0 10px;
      height: 55px;
    }
    & .ssl-logo {
      position: relative;
      top:3px;
    }
  }
}
*/
.social-contacts {
  margin: 60px 0px 0px;
  color: lighten(@textColor,15%);
  &  a {
    background-color: #fff;
    padding: 20px 0px;
    margin-right:25px;
    margin-bottom:10px;
    .icon;
  }
  h5 {
    font-size: 16px;
    margin: 0px 0px 5px;
  }
  .address {
    position: relative;
    padding-left:40px;
    margin-bottom:10px;
    & i {
      padding: 15px 0px 0px;
      position: absolute;
      background-color:rgba(0,0,0,0.2);
      .icon;
      left:-42px;
      top:0px;
    }
    @media screen and (min-width: 0px) and (max-width: @break-point-sm) {
      margin-top: 20px;
      padding-left: 80px;
      & i {
        left:0px;
      }
    }
  }
}

.core-row
{
  margin-top: 70px;
}
.core-row-box
{
  position: relative;
  display: block;
  width: 100%;
  margin: 50px auto 70px;
  & img {
    display: block;
    margin: auto;
    max-width:630px;
    width:100%;
    height:auto;
    border : 1px solid #BCBCC4;
    .boxShadow (0px 2px 6px rgba(0,0,0, 0.25));
  }
  & .row-div{
    padding: 20px 0px;
    font-size: 16px;
    color: lighten(@textColor,15%);
    font-family: 'Lato',sans-serif;
    position: relative;
  }
  & .row-title
  {
    font-size: 20px;
    font-weight:400;
    color:@baseDark;
    font-family: 'Lato',sans-serif;
  }
}

.vid-row {
  max-width: 1000px;
  margin: auto;
}
.video-article {
  position: relative;
  display: block;
  max-width: 427px;
  width: 100%;
  margin: 10px auto 20px;
  & img {
    width: 100%;
    display: block;
  }
  & a > div {
    .BoxShadowHelper(1);
    background-color: #fff;
    padding: 20px 15px 20px 15px;
    font-size: 18px;
    color: @textColor;
    .roundedCorners(0 0 3px 3px);
    font-family: @baseFont;
    position: relative;
  }
  & .action {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -36px;
  }
}

.blog-carousel {
  width: 715px;
  margin: 20px auto 60px;
  height: 250px;
  position: relative;
  .transform(translateZ(0));
  & .content {
    position: absolute;
    overflow: hidden;
    height: 200px;
    float: left;
    left:0;
    right:0px;
    top:0px;
    .BoxShadowHelper(1);
    background-color: #fff;
    .roundedCorners(3px);
    z-index: 2;
  }

  & .item {
    .transition(left,0.3s);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:100%;
    background-color: #fff;
    z-index: 0;
    & img {
      position: absolute;
      top:-25px;
      left:0px;
      width: 50%;
      display: block;
    }

    & div.c-desc {
      width: 50%;
      position: absolute;
      top: 0;
      right:0;
      bottom: 0;
      padding: 15px 20px;
      background-color: transparent;
      .transition(background-color,0.3s);
      & > span {
        color: @textColor;
        position: absolute;
        bottom:10px;
        right:10px;
        padding: 2px 5px;
        border: 1px solid transparent;
        .roundedCorners(3px);
        .transition(all,0.3s);
      }
    }
    &:hover div.c-desc {
      background-color: #f7f7f5;
      & > span {
        border-color: @orange;
        color:@orange;
      }
    }
    & h5 {
      font-size: 16px;
      line-height: 1.4em;
      font-weight: 400;
    }
    & p {
      max-height: 80px;
      font-size: 13px;
      font-weight: 400;
      color: lighten(@textColor,15%);
    }
    a {
      color: @textColor;
    }
    & .go-to {
      bottom:10px;
      right:20px;
      position: absolute;
    }
  }
  & .item.active {
    z-index: 2;
    left: 0;
  }

  & .item.prev {
    left: -100%;
    z-index: 1;
  }
  & .handle {
    position: absolute;
    width: 100%;
    bottom:10px;
    text-align: center;
    & i {
      cursor: pointer;
      .roundedCorners(30px);
      width: 12px;
      height: 12px;
      display: inline-block;
      margin:0 5px;
      border: 1px solid #a8afb7;
      background-color: #fff;
      &.active {
        background-color: @orange;
      }
    }
  }

  @media screen and (min-width: 0px) and (max-width: @break-point-xs) {
    width:500px;
    & .item {
      background-color: @baseDark;
      & div.c-desc {
        padding-top: 10px;
        background-color: #fff;
        width: 60%;
      }
      & img {
        width: auto;
        height:158px;
        top:0;
        .transform(translateY(12.5%));
      }
    }
  }
}

.employee-carousel {
  width: 424px;
  height: 424px;
  float: right;
  position: relative;
  overflow: hidden;
  margin-bottom:-50px;
  .transform(translateZ(0));
  & .item {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    .transition(opacity,0.5s);
    &.active {
      opacity: 1;
      visibility: visible;
    }
    & img {
      width: 100%;
      display:block;
    }
    & > div {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 15px;
      font-size: 13px;
      bottom: 15px;
      width: 100%;
      line-height: 1.4em;
      color: lighten(@textColor,10%);
    }
    h5 {
      margin: 0px 0px 5px;
      font-size: 18px;
      font-weight: 400;
      color: @textColor;
    }
  }
  @media screen and (min-width: 768px) and (max-width: @break-point-sm) {
    width: 285px;
    height: 425px;
    margin-bottom: 0px;
    & .item > div {
      position: relative;
      bottom: auto;
      top:-50px;
    }
  }
  @media screen and (min-width: 0px) and (max-width: @break-point-xs) {
    margin: auto;
    width: 310px;
    height: 360px;
    float: none;
  }
}

.illustration-carousel {
  position: relative;
  margin-top: 50px;
  .transform(translateZ(0));
  & .item {
    & > img {
      display: block;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left:100%;
      top:50%;
      margin-left:15%;
      .transform(translateY(-50%));
      .transition(opacity,0.3s);
      z-index: -1;
    }
    & > div {
      padding: 5px 15px;
      position: relative;
      background-color: transparent;
    }
    &.active {
      & > div {
        background-color: #f7f6fb;
      }
      & > div:after {
        content: '';
        position: absolute;
        border-width: 20px 30px;
        border-style:solid;
        border-color: transparent transparent transparent #f7f6fb;
        display: block;
        left:100%;
        top:50%;
        .transform(translateY(-50%));
        @media screen and (min-width: 768px) and (max-width: @break-point-sm) {
          display: none;
        }
      }
      & > img {
        visibility: visible;
        opacity: 1;
        z-index: 1;
      }
    }
    @media screen and (min-width: 768px) and (max-width: @break-point-sm) {
      & > img {
        max-width: 320px;
        margin-left: 0%;
      }
      & > div {
        font-size: 14px;
      }
    }

  }
  @media screen and (min-width: 0px) and (max-width: @break-point-xs) {
    margin-top: 0;
    & .item.active{
      & > div {
        background-color: transparent;
      }
      & > div:after {
        display: none;
      }
    }
    & .item > img {
      opacity: 1;
      visibility: visible;
      margin-left:0px;
      left:0;
      top:0;
      .transform(translateY(0));
      position: relative;
      display: block;
      width:360px;
    }
  }
  h5 {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.sole-testimonial {
  max-width: 600px;
  margin: 50px auto 20px;
  position: relative;
  //padding-left: 70px;
  padding-left: 0px;
  color: lighten(@textColor,15%);
  & p {
    text-indent: 40px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 5px;
  }
  & img {
    position: absolute;
    left:0px;
    top:0px;
    display: none;
  }
  & .quote {
    background: url('../img/ic_quote.png') no-repeat center transparent;
    font-size: 72px;
    color: transparent;
    position: absolute;
    width: 25px;
    height:25px;
    top:-15px;
    //left:70px;
    left: 0px;
  }
}

ul.why-coverfox {
  list-style-type: none;
  padding: 0;
  margin:50px 0px 60px;
  text-align: center;
  & li {
    width: 190px;
    height: 180px;
    margin:10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4em;
    vertical-align: top;
    color: lighten(@textColor,15%);
  }
  & img {
    width: 120px;
    height: 120px;
    background-color:@grey-2;
    .roundedCorners(50%);
    display: block;
    margin:0 auto 20px;
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    & li {
      width: 160px;
      height: 200px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: @break-point-sm) {
    & li {
      width: 120px;
      font-size: 12px;
    }
    & img {
      width: 100px;
      height: 100px;
    }
  }
}

ul.insurers {
  list-style-type: none;
  margin: 25px 0px 0px;
  text-align: center;
  padding: 0;
  & li {
    display: inline-block;
    margin:0px;
    vertical-align: middle;
    position: relative;
    width:140px;
    height: 70px;
    overflow: hidden;
    & .ic-insurer-sm {
      position: absolute;
      left: -3px;
      top: -8px;
    }
  }
}


.cf-input {
  color: @textColor;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  height: 54px;
  padding: 10px;
  font-size: 13px;
  .roundedCorners(3px);
  display: block;
  width: 100%;
  &:focus,&:active {
    outline: none;
  }
}

.input-mobile {
  position: relative;
  .cf-input {
    padding-left: 40px;
  }
  &:before {
    color: @textColor;
    position: absolute;
    z-index: 1;
    width:30px;
    text-align: center;
    top:16px;
    left: 4px;
    content: '+91';
    display: inline-block;
  }
}
.cf-select-dd,.cf-special-ip {
  position: relative;
  margin-bottom: 24px;
  overflow: hidden;
  .roundedCorners(3px);
  border: 1px solid rgba(0,0,0,0.2);
  padding: 15px 5px 5px;
  height: 53px;
  display: block;
  /*
  &.selected {
    padding-top:20px;
    & label {
      display: block;
    }
  }
  */
  label {
    visibility: hidden;
    .transform-transition;
    filter:alpha(opacity=0);
    opacity: 0;
    text-transform: uppercase;
    color: rgba(49,68,81,0.7);
    font-size: 10px;
    position: absolute;
    top: 3px;
    left: 17px;
    letter-spacing: 1px;
    z-index: 1;
  }
  .input-mobile {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    & input {
      padding-left: 40px;
      top:0px;
    }
    &:before {
      top:15px;
      font-size: 12px;
    }
  }
  input {
    position: relative;
    top:-3px;
  }
  select,input {
    background-color: #fff;
    border: 1px solid #fff;
    padding: 4px 15px;
    display: block;
    width: 100%;
    height:100%;
    font-size: 12px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    &:focus,&:active {
      outline: none;
    }
  }
}
.cf-special-ip {
  padding-top: 13px;
  .transition(padding-top,0.2s);
  & .input-mobile:before {
    font-size: 16px;
  }
  &  input {
    font-size: 16px;
  }
  &.selected {
    padding-top: 20px;
    & .input-mobile:before {
      font-size: 12px;
      top:22px;
    }
    &  input {
      font-size: 12px;
      padding-top: 18px;
    }
    & label{
      visibility: visible;
      filter:alpha(opacity=100);
      opacity: 1;
    }
  }
}

.select-input {
  position: relative;
  color: @textColor;
  margin-bottom: 10px;
  & .triangle {
    cursor: pointer;
    opacity: 0.6;
    z-index: 1;
    display: block;
    position: absolute;
    top:18px;
    right:10px;
    width: 16px;
    height: 16px;
    background: url('../img/ic_triangle_down.png') no-repeat center center transparent;

  }
  &.active .triangle {
    .transform(rotate(180deg));
  }
  & > div {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    height: 54px;
    .roundedCorners(3px);
    padding: 14px 10px 10px;
    & > span {
      color: #999;
    }
  }
  & ul {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #fff;
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top:100%;
    left:0;
    right: 0;
    z-index: 10;
  }
  & ul.dt li {
    padding:5px 10px;
  }
  & ul li {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding:10px;
    cursor: pointer;
    &:hover {
      color: @orange;
    }
  }
  & ul li small {
    color:@lableColor;
  }
  &.active ul{
    display: block;
  }
}

.select2-container{
  &.select2-dropdown-open {
      .select2-choice{
        .select2-arrow{
          -ms-transform: rotate(180deg); /* IE 9 */
          -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
          transform: rotate(180deg);
      }
    }
  }
}
.select2-container{
  &.select2-dropdown-open{
      .select2-choices::after{
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
    }
  }
}

.cf-radio {
  font-size: 14px;
  color: @lableColor;
  display: inline-block;
  margin: 8px 16px 16px 0;
  & input[type='radio']{
    display: none;
    &:checked + span {
      border-color: @orange;
      &:before {
        display: block;
      }
    }
  }
  & > span {
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    margin:-3px 5px 0 0;
    width: 20px;
    height: 20px;
    padding: 4px;
    .roundedCorners(50%);
    position: relative;
    border: 1px solid rgba(0,0,0,0.2);
    &:hover {
      border-color: @orange;
    }
    &:before {
      display: none;
      content: '';
      width: 10px;
      height:10px;
      background: @orange;
      .roundedCorners(50%);
    }
  }
}

// hero form css two wheeler/car
.error-text {
  display: none;
  font-weight: 400;
  color: #ff0000;
  font-size: 12px;
  margin: -20px 0 10px;
}
.vehicle-details,.bike-details {
  margin-top:10px;
}
.registration-details .label {
  font-family: @baseFont;
  color:@lableColor;
  font-size: 14px;
  font-weight: 400;
  margin-bottom:5px;
  display: inline-block;
}
p.intro {
  font-weight: 400;
  margin: 8px 4px 20px;
  color: @lableColor;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
.exp-process {
  margin-bottom: 30px;
}
.process {
  padding: 6px 5px 10px 33px;
  color: @textColor;
  position: relative;
  font-size: 12px;
  line-height: 1.2em;

  & strong {
    padding: 6px 10px;
    color: #363636;
    position: absolute;
    margin-right: 5px;
    top: 0;
    font-size: 14px;
    left: 0;
    background-color: @grey-2;
    .roundedCorners(3px);
  }
}
// hero form css two wheeler/car
.widget-form-box {
  padding: 1px 0px 0px;
  border-top: none;
  border-bottom: none;
  margin-bottom: 0px;
  & span.age select {
    &:hover,&:focus,&:active {
      outline: none;
    }
  }
  & .healthcare-options {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  & .healthcare-options label,& .gender-radio label {
    color:@lableColor;
    font-size: 14px;
  }
  & .healthcare-options label.active,
  & .gender-radio label.active {
    font-weight: normal;
    color:@lableColor;
  }

  & .error {
    font-family: @baseFont;
    padding: 0px;
    position: relative;
    top: -10px;
    font-size: 12px;
    font-weight: 400;
    color: #ff0000;
    background-color: transparent;
  }
  & h4 {
    color: lighten(@textColor,10%);
    font-size: 14px;
    margin-top:5px;
    margin-bottom:10px;
    padding-left: 0;
  }
  & h4:before {
    display: none;
  }
  & .options ul li {
    line-height: 1.4em;
    padding: 7px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 37px;
    min-width:100px;
    margin-bottom:5px;
    vertical-align: bottom;
  }
  & .options ul li.add {
    padding:8px 10px;
  }
  & .add-kids,& .self-options {
    margin-top:10px;
  }
  & .add-kids {
    margin-bottom: 10px;
  }
  & .options ul li span.age select {
    padding-top:0;
    padding-bottom: 0;
  }
}

// sprite icons css
.ic-social {
  display: inline-block;
  background: url('../img/sprites/ic-social.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.ic-social {
  &.facebook {
    background-position: -5px -0px;
    width: 24px;
    height: 24px;
    position: relative;
    top: -2px;
    left: -2px;
  }
  &.google-plus {
    background-position: -34px -0px;
    width: 24px;
    height: 24px;
  }
  &.linkedin {
    background-position: -5px -29px;
    width: 24px;
    height: 24px;
  }
  &.twitter {
    background-position: -34px -29px;
    width: 24px;
    height: 24px;
  }
  &.youtube {
    background-position: -5px -58px;
    width: 24px;
    height: 24px;
  }
}
.social-contacts a {
  .transition(background-color,0.3s);
  &.facebook {
    @linkColor: #3b5998;
    .socialLinkCss(@linkColor);
  }
  &.twitter {
    @linkColor: #00aced;
    .socialLinkCss(@linkColor);
  }
  &.linkedin {
    @linkColor: #007bb6;
    .socialLinkCss(@linkColor);
  }
  &.google-plus {
    @linkColor: #dd4b39;
    .socialLinkCss(@linkColor);
  }
  &.youtube {
    @linkColor: #bb0000;
    .socialLinkCss(@linkColor);
  }
}
.socialLinkCss(@linkColor) {
  background-color: @linkColor;
  &:hover {
    background-color: lighten(@linkColor,5%);
  }
}
/*
.ic-social {
  display: inline-block;
  background: url('../img/sprites/social-icons.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  margin-top: 3px;
}

.ic-social {
  &.facebook {
    background-position: -30px -0px;
    width: 20px;
    height: 20px;
  }
  &.google-plus {
    background-position: -5px -25px;
    width: 20px;
    height: 20px;
  }
  &.linkedin {
    background-position: -55px -25px;
    width: 20px;
    height: 20px;
  }
  &.twitter {
    background-position: -30px -50px;
    width: 20px;
    height: 20px;
  }
  &.youtube {
    background-position: -5px -75px;
    width: 20px;
    height: 20px;
  }
}
.social-contacts a:hover {
  .ic-social.facebook {
    background-position: -5px -0px;
    width: 20px;
    height: 20px;
  }
  .ic-social.linkedin {
    background-position: -30px -25px;
    width: 20px;
    height: 20px;
  }
  .ic-social.twitter {
    background-position: -5px -50px;
    width: 20px;
    height: 20px;
  }
  .ic-social.youtube {
    background-position: -55px -50px;
    width: 20px;
    height: 20px;
  }
  .ic-social.google-plus {
    background-position: -55px -0px;
    width: 20px;
    height: 20px;
  }
}
*/
.why-sprite{
  margin: 0 auto 30px;
  display:block;
  background: url('../img/sprites/why-sprite.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.why-sprite.best-savings { background-position: -5px -0px; width: 120px; height: 120px; }
.why-sprite.hasslefree-claims { background-position: -130px -0px; width: 120px; height: 120px; }
.why-sprite.no-spam { background-position: -5px -125px; width: 120px; height: 120px; }
.why-sprite.secure-buy { background-position: -130px -125px; width: 120px; height: 120px; }
.why-sprite.swift-assistance { background-position: -5px -250px; width: 120px; height: 120px; }
/*
.ic-insurer {
  display: inline-block;
  background: url('../img/sprites/ic-insurers.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  opacity: 0.6;
}

.ic-insurer.bajaj-allianz { background-position: -5px -0px; width: 200px; height: 24px; }
.ic-insurer.universal-sompo { background-position: -5px -58px; width: 181px; height: 40px; }
.ic-insurer.lnt { background-position: -5px -148px; width: 180px; height: 40px; }
.ic-insurer.iffco-tokio { background-position: -5px -238px; width: 100px; height: 50px; }
.ic-insurer.bharti-axa { background-position: -5px -348px; width: 93px; height: 40px; }
.ic-insurer.hdfc-ergo { background-position: -110px -293px; width: 55px; height: 50px; }
.ic-insurer.new-india-assurance { background-position: -5px -393px; width: 50px; height: 50px; }
*/
/*
.ic-insurer.bajaj-allianz:hover { background-position: -5px -29px; width: 200px; height: 24px; }
.ic-insurer.universal-sompo:hover { background-position: -5px -103px; width: 181px; height: 40px; }
.ic-insurer.lnt:hover { background-position: -5px -193px; width: 180px; height: 40px; }
.ic-insurer.iffco-tokio:hover { background-position: -5px -293px; width: 100px; height: 50px; }
.ic-insurer.bharti-axa:hover { background-position: -103px -348px; width: 93px; height: 40px; }
.ic-insurer.hdfc-ergo:hover { background-position: -110px -238px; width: 55px; height: 50px; }
.ic-insurer.new-india-assurance:hover { background-position: -60px -393px; width: 50px; height: 50px; }
*/


.ic-insurance{
  display: inline-block;
  background: url('../img/sprites/ic-insurance.png') no-repeat;
  overflow: hidden; text-indent: -9999px;
  text-align: left;
}

.ic-insurance.ic-bike { background-position: -30px -0px; width: 20px; height: 20px; }
.ic-insurance.ic-car { background-position: -5px -25px; width: 20px; height: 20px; }
.ic-insurance.ic-health { background-position: -55px -25px; width: 20px; height: 20px; }
.ic-insurance.ic-home { background-position: -30px -50px; width: 20px; height: 20px; }
.ic-insurance.ic-travel { background-position: -5px -75px; width: 20px; height: 20px; }

.tabs > li.active > .ic-insurance,.select-input ul li:hover > .ic-insurance {
  &.ic-car { background-position: -55px -0px; width: 20px; height: 20px; }
  &.ic-health { background-position: -30px -25px; width: 20px; height: 20px; }
  &.ic-home { background-position: -5px -50px; width: 20px; height: 20px; }
  &.ic-travel { background-position: -55px -50px; width: 20px; height: 20px; }
  &.ic-bike { background-position: -5px -0px; width: 20px; height: 20px; }
}

.select-input ul li .ic-insurance {
  margin: -3px 10px 0 0;
  position: relative;
  top:0px;
  vertical-align: middle;
}

.ic-play {
  display: inline-block;
  background: url('../img/sprites/ic_play.png') no-repeat center center transparent;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.ic-play { background-position: -5px -0px; width: 72px; height: 50px; }
.video-article a:hover {
  & .ic-play {
    background-position: -5px -55px;
    width: 72px;
    height: 50px;
  }
}
/* new all insurer sprite css begin */
.ic-insurer-sm {
  display: inline-block;
  background: url('../img/sprites/insurer-logo-sprite-sm.png') no-repeat center center transparent;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.ic-insurer-sm.cigna { background-position: -0px -0px; width: 144px; height: 88px; }
.ic-insurer-sm.liberty { background-position: -0px -88px; width: 144px; height: 89px; }
.ic-insurer-sm.oriental { background-position: -0px -177px; width: 144px; height: 88px; }
.ic-insurer-sm.reliance { background-position: -0px -265px; width: 144px; height: 88px; }
.ic-insurer-sm.religare { background-position: -0px -353px; width: 144px; height: 88px; }
.ic-insurer-sm.universal { background-position: -0px -441px; width: 144px; height: 89px; }
.ic-insurer-sm.apollo { background-position: -0px -530px; width: 143px; height: 89px; }
.ic-insurer-sm.bajaj { background-position: -0px -619px; width: 143px; height: 88px; }
.ic-insurer-sm.bharti { background-position: -0px -707px; width: 143px; height: 88px; }
.ic-insurer-sm.chola { background-position: -0px -795px; width: 143px; height: 89px; }
.ic-insurer-sm.future { background-position: -0px -884px; width: 143px; height: 89px; }
.ic-insurer-sm.hdfc { background-position: -0px -973px; width: 143px; height: 88px; }
.ic-insurer-sm.icicilombard { background-position: -0px -1061px; width: 143px; height: 88px; }
.ic-insurer-sm.iffco { background-position: -0px -1149px; width: 143px; height: 88px;opacity:0.8; }
.ic-insurer-sm.landt { background-position: -0px -1237px; width: 143px; height: 88px; }
.ic-insurer-sm.maxbupa { background-position: -0px -1325px; width: 143px; height: 89px; }
.ic-insurer-sm.newindia { background-position: -0px -1414px; width: 143px; height: 88px; }
.ic-insurer-sm.star { background-position: -0px -1502px; width: 143px; height: 88px;opacity:0.9; }
.ic-insurer-sm.tata { background-position: -0px -1590px; width: 143px; height: 88px; }

/* new all insurer sprite css end */

.btn:disabled {
  opacity:0.6;
  cursor: not-allowed;
}

.modal-overlay {
  display: none;
  z-index: 1001;
  top:0;
  left:0;
  bottom: 0;
  right:0;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  overflow-x: hidden;
  overflow-y: auto;
  &.active {
    display: block;
  }
  .modal-content {
    .transition(top,0.3s);
    position: relative;
    margin: auto;
    width:90%;
    top:-200%;
  }
  &.active .modal-content {
    top:80px;
  }
  & .close-overlay {
    .roundedCorners(3px);
    width: 90px;
    height: 30px;
    color: #fff;
    position: absolute;
    z-index: 1;
    background: url('../img/ic_close.png') no-repeat -15px center transparent;
    right: 20px;
    top:20px;
    padding-left: 35px;
    padding-top: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}
#video-frame {
  iframe {
    margin: auto;
    width:767px;
    height: 431px;
    display: none;
    &.reveal {
      display: block;
    }
  }
}

// select2 element css
.select2-drop {
  font-size: 12px;
}
.self-options,.kids-options {
  .select2-container {
    .select2-choice {
      margin-top: -3px;
      border: none;
      height: 100%;
      .roundedCorners(0);
      padding-top: 0px;
      background: transparent;
    }
    &.has-error .select2-choice {
      color: @orange;
    }
  }
  .select2-container .select2-choice {
    & abbr, & .select2-arrow {
      background: url('../img/ic_triangle_down.png') no-repeat center transparent;
      border-left:none;
      right: 0px;
      opacity: 0.6;
    }
    & abbr {
      background-color: #fff;
      width: 18px;
      height: 100%;
      top: 0;
      position: relative;
    }
  }
}
.cf-select-dd {
  .roundedCorners(0);
  border: none;
  padding: 0;
  .select2-container {
    display: block;
    position: absolute;
    width:100%;
    height:100%;
  }
  .select2-container .select2-choice {
    font-size: 12px;
    border: 1px solid rgba(0,0,0,0.2);
    height: 100%;
    .roundedCorners(3px);
    color: @lableColor;
    padding-top:13px;
    padding-left:16px;
    background: transparent;
    .transition(padding-top,0.2s);
  }
  &.selected .select2-container .select2-choice {
    padding-top:20px;
  }
  &.selected label{
    visibility: visible;
    opacity: 1;
    filter:alpha(opacity=100);
  }
  .select2-container.select2-container-active .select2-choice {
    border-color: #5897fb;
  }
  .select2-container .select2-choice {
    & abbr, & .select2-arrow {
      background: url('../img/ic_triangle_down.png') no-repeat center transparent;
      border-left:none;
      right: 5px;
      opacity: 0.6;
    }
    & abbr {
      background-color: #fff;
      width: 18px;
      height: 100%;
      top: 0;
      position: relative;
    }
  }
}
.cf-select-dd.multi {
  height: auto;
  & input {
    position: relative;
    top:-7px;
  }
  & .select2-container-multi {
    padding: 0;
    margin: 0;
    position: relative;
    border:none;
  }
  &.selected {
    & input {
      top:-3px;
    }
  }
  & .select2-container-multi .select2-choices {
    border-color: rgba(0,0,0,0.2);
    background-image: none;
    background-color: transparent;
    padding:20px 25px 0 10px;
    min-height: 53px;
    .roundedCorners(3px);
    cursor:pointer;
    position: relative;
    &:after {
      content: '';
      display: block;
      background: url('../img/ic_triangle_down.png') no-repeat center center transparent;
      cursor: pointer;
      width: 10px;
      height: 10px;
      position: absolute;
      opacity: 0.6;
      filter:alpha(opacity=60);
      right:10px;
      top:22px;
    }
  }
  & .select2-container-multi.select2-container-active .select2-choices {
    border-color: #5897fb;
  }
  .select2-container-multi .select2-choices .select2-search-choice {
    -webkit-background-image: none;
    -moz-background-image: none;
    -ms-background-image: none;
    -o-background-image: none;
    background-image: none;
    background-color: #efeff4;
    font-size: 12px;
    border-color: rgba(0,0,0,0.2);
    padding-left: 20px;
  }
  .select2-search-choice-close:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/ic_close_sm.png) no-repeat center center transparent;
  }
  .clear-list {
    position: absolute;
    right:0px;
    font-size: 11px;
    top:0px;
    color: lighten(@textColor,30%);
    z-index: 1;
    cursor: pointer;
    text-transform: none;
    &:hover {
      color: @orange;
    }
  }
}
.cf-special-ip.multi-entry {
  padding-left: 0px;
  padding-right:0px;
  padding-bottom: 0px;
  min-height: 53px;
  height: auto;
  border: none;
  padding-top: 22px;
  margin-top: -10px;
  & label {
    left: 0;
  }
  & input {
    font-size: 12px !important;
    display: inline-block;
    position: relative;
    width:37px;
    height: 37px;
    margin: 4px 2px 0 0;
    padding:2px 4px !important;
    border: 1px solid rgba(0,0,0,0.15);
    .roundedCorners(3px);
  }
}
.select2-results li {
  color: @lableColor;
}
.select2-results .select2-highlighted {
  background: @baseDark;
  color: #fff;
}
.select2-drop-active {
  //border-color: rgba(0,0,0,0.2);
}
.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 26px;
}

.footer-wrapper-products {
  display: none !important;
}

.f-row {
  margin-top: 38px;
  margin-bottom: 20px;
  & .select-input > div {
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  & .select-input .triangle {
    top:11px;
  }
  & .select-input ul li {
    padding: 8px 10px;
  }
  & .input-mobile:before {
    top:9px;
  }
  & .cf-input {
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  & .error {
    color: #ff0000;
    font-size: 11px;
    top: -8px;
    position: relative;
  }
  & .btn.brown {
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: transparent;
    height: 40px;
    padding: 8px 10px;
    color: @textColor;
    font-size: 16px;
    width:100%;
    &:not([disabled]) {
      &:hover, &:focus, &:active {
        background-color:@baseDark;
        color: #fff;
      }
    }
  }
}

.hero_thank_you {
  padding: 60px 0 15px;
  font-size:18px;
  text-align: center;
  h5 {
    margin: 0 0 15px;
    font-size: 22px;
    font-weight: 300;
    color: @textColor;
  }
  & img {
    display: block;
    opacity: 0.2;
    filter:alpha(opacity=20);
    max-width:120px;
    margin: 0 auto 20px;
  }
}

.cf-radio.r-tab {
  .roundedCorners(3px);
  background-color: #ffffff;
  border-top:1px solid rgba(0,0,0,0.05);
  .BoxShadowHelper(1);
  padding:12px 15px;
  margin:0 0 24px;
  cursor: pointer;
  .transition(box-shadow,0.3s);
  &:hover {
    .BoxShadowHelper(2);
  }
  & > span {
    left:-5px;
    position: relative;
  }
  &  small {
    margin-top: 3px;
    line-height: 1.4em;
    padding-left: 24px;
    display: block;
    color: #999;
  }
}
.errorBox {
  color: #fff;
  margin-bottom: 15px;
  padding: 5px 15px;
  font-size: 13px;
  background-color: rgba(187, 0, 0, 0.7);
  .roundedCorners(3px);
}
.subContainer {
  .BoxShadowHelper(1);
  background-color: #f7f7fa;
  .roundedCorners(3px);
  overflow: hidden;
  padding: 15px 15px 0;
  margin-right: 15px;
  margin-bottom: 10px;
}

// small screen banner
.hero-form {
  .small-banner {
    background: #214150;
    min-height: 80px;
    margin: -15px 0 15px;
    position: relative;
    a {position: absolute;top:0;left:0;width: 100%;height: 100%;cursor: pointer;}
    & img {
      width: 100%;
      display: block;
    }
  }
}
/* commented heroes video */
/*
.cfox-video-block {
  padding:20px 0px;
  position: relative;
  height: 401px;
  border-bottom: 1px solid rgb(60, 78, 90);
  .boxShadow(0px -11px 22px rgba(0, 0, 0, 0.54) inset);
  background: url(../img/rm-photos/rm-video-bg.jpg) no-repeat center center #000;
  -webkit-background-size: cover;
  background-size: cover;
  @media screen and (min-width: 0px) and (max-width: @break-point-md) {
    height:360px;
  }

  & .hero-social {
    position: absolute;
    top:-7px;
    right:15px;
    z-index:3;
    & a {
      display: inline-block;
      margin-left: 10px;
      opacity: 0.7;
      filter:alpha(opacity=70);
      .transform(scale(0.9));
      &:hover {
        opacity: 1;
        filter:alpha(opacity=100);
      }
    }
  }
  & .hero-teaser {
    opacity: 0;
    filter:alpha(opacity=0);
    visibility: hidden;
    .transition(opacity,0.3s);
    text-align: left;
    position: absolute;
    top: 7px;
    left: 180px;
    z-index: 2;
    width: 250px;
    h5 {
      color: #fff;
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 5px;
    }
    & > span {
      color: #999;
      font-size: 14px;
    }
  }

  & .video-section {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    & .hero-social {
      display: block;
      opacity: 0;
      filter:alpha(opacity=0);
      visibility: hidden;
      .transition(opacity,0.3s);
      top:26px;
    }

    & .hero-vid,& .hero-loader {
      width: 710px;
      height: 400px;
      display: block;
      position:absolute;
      z-index: 2;
      left:50%;
      bottom: 0;
      margin-left:-355px;
      .transition(all,0.3s);
      @media screen and (min-width: 0px) and (max-width: @break-point-md) {
        margin-top: 45px;
        width: 560px;
        height: 315px;
        margin-left: -280px;
      }
    }
    & .hero-loader {
      background: url('') no-repeat center center transparent;
      background-image: none;
      opacity: 1;
      filter:alpha(opacity=100);
      text-align: center;
      & #youTube_icon_container {
        color: #fff;
        display: block;
        margin-top: 18%;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
      }
      & img {
        cursor:pointer;
        height: 64px;
        opacity: 0.7;
        filter:alpha(opacity=70);
        .transition(opacity,0.4s);
      }
      & img:hover,& img:active {
        opacity: 1;
        filter:alpha(opacity=100);
      }
      & p {
        font-size: 24px;
        margin: 12px 0 0;
      }
      & span {
        font-size: 16px;
        color: rgba(255,255,255,0.5);
      }
      &.played {
        background: url('../img/loader-dark.GIF') no-repeat center center #000000;
        //opacity:0.3;
        //filter:alpha(opacity=30);
        & #youTube_icon_container {
          display: none;
        }
      }
      @media screen and (min-width: 0px) and (max-width: @break-point-md) {
        & #youTube_icon_container {
          margin-top: 12%;
        }
      }
    }
    &.fix-top {
      position: fixed;
      height:84px;
      overflow: hidden;
      z-index:1000;
      background-color: rgba(0,0,0,0.8);
      & .hero-teaser,& .hero-social {
        opacity: 1;
        filter:alpha(opacity=100);
        visibility: visible;
      }
      & .hero-vid,& .hero-loader {
        position: absolute;
        margin: 0;
        width:152px;
        height: 84px;
        left: 0;
      }
      & .hero-loader {
        background-color: rgba(39,39,39,1);
        -webkit-background-size: 40px 40px;
        background-size: 40px 40px;
        & #youTube_icon_container {
          margin-top: 12%;
        }
        & img {
          height: 40px;
        }
        & p,& span {
          display: none;
        }
      }
    }
  }
  &:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
  }
}
*/
/* video load flipper / banner time flipper css starts */
.flip-item{
    display: none;
}
/*remove this css for regular non time flipping festive banners*/
#hero-section.hero-section--festive {
  .small-banner{display: none;}
}  
#festive-banner, .festive-small-banner{
  position: relative;
  background: @festiveBg;
  img{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0 ;
    visibility: hidden;
    .transition(opacity,0.2s);
    &.active{
      opacity: 1;
      visibility: visible;
      z-index: 1;
    }
  }
  a{
      z-index: 2;
    }
}

.festive-small-banner {
    margin: 17px 48px -17px 64px;
    min-height: 80px;
    a {position: absolute;top:0;left:0;width: 100%;height: 100%;cursor: pointer;}
  }

/* video load flipper / banner time flipper css end */