.bg_container{
	background: #0099CF url(../img/bg.jpg) no-repeat center center;
  	width: 100%;
  	height: 570px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	display: table;
	position: relative;
	.travel_txt{ 
		position: absolute;
		top:250px;
		left:0;
		text-align: center;
		width: 100%;

		h1{
			font-size: 63px;
			text-shadow: 0 1px 3px #000;
			margin: 0 0 20px 0;
			display: block;
			color:#fff;
		}
		button{
			background-color: #ff6127;
    		border: 1px solid #ff512b;
			padding: 6px 45px;
			font-size: 22px;
			font-weight: 400;
			color:#fff;
			text-decoration: none;
			display: inline-block;
			max-width: 100%;

		}
	}
}
.terms-msg{
	font-size:10px;
	color:#fff;
	margin:5px 0;
}
.companies-wrapper{
	h2{
		font-size: 25px;
		margin: 10px 0;
	}
	span{
		color:#FF6127;
	}
}
.three_plans_container{
	background: #f1f1f1;
	padding: 40px;
	text-align: center;
	h2{
		margin: 0 0 60px;
		font-size: 29px;
		color:#304451;
	}
	h3{
		font-size: 22px;
		color:#4a4a4a;
		height: 70px;
		margin: 30px 0 0 0;
	}
	p{
		color:#4a4a4a;
		font-size: 15px;
	}
	.btn_container{
		margin: 30px 0 0;
		a{
			background: #0099CF;
			padding: 8px 60px;
			text-align: center;
			font-size: 26px;
			color:#fff;
			text-decoration: none;
			&:hover{
				background-color: #0B556F;
			}
		}
	}
}
.text_desc_container{
	background: #f9f9f9;
	padding: 40px;
	p{
		color:#3a3939;
		font-size: 16px;
		line-height: 1.8em;
	}
}
.cover_help_container{
	background: #fff;
	padding: 40px;
	text-align: center;
	margin: 0 45px;
	h3{
		margin: 30px 0;
		font-size: 30px;
	}
	.box_container{
		border:1px solid #4a4a4a;
		padding:30px 20px;
		min-height: 234px;
		max-width: 330px;
		margin: 0 0 10px;
		img{
			min-height: 80px;
		}
		p{
			text-align: left;
			margin: 30px 0 0;
			font-size: 16px;
			font-weight: 300;
			color:#2b2b2b;
		}
	}
}
/* Mobile optimisation for banner elements */

@media only screen and (min-width : 200px) and (max-width : 767px) {
.bg_container{
	height: 200px;
	background: #0099CF;
	.travel_txt{
		top:30px;
		h1{
			font-size:25px;
		}
	}
}
.cover_help_container{
	padding: 0;
	margin: 0;
	.box_container{
		max-width: 100%;
	}

}
.three_plans_container{
	padding: 20px 0;
	h2{
		margin: 0 0 26px;
  		font-size: 20px;
	}
	h3{
		height: 60px;
		margin: 15px 0 0 0;
	}
	p{
		font-size: 13px;
	}
}
.text_desc_container{
	padding: 20px;
	p{
		font-size: 14px;
	}

}
.companies-wrapper{
	margin: 10px 0;
}
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
.cover_help_container{
	margin: 0;
	padding: 0;
	.box_container{
		min-height: 284px;
	}
}
}
.main_form_container{
	margin: 20px auto;
	max-width: 400px;
	text-align: left;
	label{
		font-size: 20px;
		color:#fff;
		margin: 0 0 5px;
	}
	.form_container{
		position: relative;
		span{
			position: absolute;
			top:11px;
			left:5px;
		}
		input{
			width:100%;
			height: 42px;
			padding-left: 45px;
			margin: 0 0 6px;
		}

	}
	.error{
		color:#fff;
	}
}
