<script type="text/html" id="stage_5">
    <div id="slate_5" class="querry-process" data-bind="visible: $root.active_stage() == 5">
        <div data-bind="if: $root.transaction_model().current_stage().description()">
            <div class="define">
                <img src="/static/health_product/img/new_buy/info.png"/>
                &nbsp;&nbsp;<span data-bind="text: $root.transaction_model().current_stage().description()"></span>
            </div>
        </div>
        <div data-bind="foreach: segments" style="margin-top: 40px;">
            <div data-bind="if: details().conditional=='NO' || (details().conditional=='YES' && show_header())">
                <div data-bind="if: details().show_header">
                    <div class="row conditional-question">
                        <div class="col-sm-4">
                        </div>
                        <div data-bind="foreach: $root.insured_members.items">
                            <div class="col-sm-2">
                                <strong data-bind="text: $data.value"></strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row conditional-question">
                    <div class="col-sm-4">
                        <span data-bind="text: details().question_text"></span>
                    </div>
                    <div data-bind="foreach: rows">
                        <div class="row mnone qstn">
                            <div data-bind="foreach: elements">
                                <div data-bind="if : field_type() == 'DropDownField'">
                                    <div data-bind="MiniDropDownField: $data"></div>
                                </div>
                                <div data-bind="if : field_type() == 'TextField'">
                                    <div data-bind="MiniTextField: $data"></div>
                                </div>
                                <div data-bind="if : field_type() == 'MultipleChoiceField'">
                                    <div data-bind="MiniMultipleChoiceField: $data"></div>
                                </div>
                                <div data-bind="if : field_type() == 'DateField'">
                                    <div data-bind="DateField: $data"></div>
                                </div>
                            </div> <!-- elements -->
                        </div><!--question row -->
                    </div><!--rows -->
                </div>
            </div>
        </div><!-- segments -->
    </div><!-- query-process-->
</script>
