@import "../../css/base_theme";

@cover-base-color:#24323d;
.mrb{
  margin-bottom: 30px;
}
.top_compare_container{
  background-color: @cover-base-color;
  min-height: 300px;
  text-align: center;
  h1{
    font-size: 36px;
    color:#fff;
    font-weight: 300;
    margin: 40px 0 10px;
  }
}
.health_expert_container{
  position: relative;
  max-width: 1140px;
  margin: auto;
  height: 320px;
  img{
    background:#f4f4f4;
    position: absolute;
    top:-60%;
    left:0;
    width:100%;
    border-left: 1px solid @cover-base-color;
    border-top: 1px solid @cover-base-color;
    border-right: 1px solid @cover-base-color;
    }
}
.form_field_conatiner{
  background-color: #f4f4f4;
  border-left: 1px solid @cover-base-color;
  border-bottom: 1px solid @cover-base-color;
  border-right: 1px solid @cover-base-color;
  padding: 20px;
  font-size: 18px;
  h2{
    margin: 20px 0;
    text-align: center;
  }
}
.list_point_container{
  padding: 30px;
  background-color: #f4f4f4;
  margin: 50px 0 0 0;
  h2{
    margin: 0 0 20px;
  }
  h3{
    padding: 20px 30px;
    background-color: #ff733e;
    color:#fff;
    border-right: 4px solid #fff;
    margin: 0;
  }
  .point_contaoner{
    background-color: #fff;
    ul{
      padding: 20px 30px;
      list-style: none;
      margin: 0;
      border-right:4px solid #ffb99f;
      li{
        margin: 20px 0;
        position: relative;
        padding: 0 0 0 30px;
        font-size: 15px;
        &:before{
          content: '\2713';
          position: absolute;
          top:-9px;
          left:0;
          color:#ff733e;
          font-size: 30px;
          font-weight: 400;
        }
        &:first-child{
          margin-top: 0;
        }
      }
    }
  }
  .bdn{
    border: none !important;
  }
}
.number-form {
  .form-control{
    font-size: 14px;
  }
  .input-group-addon {
    border-color:rgba(0,0,0,0.4);
  }
  input {
    border-color: rgba(0,0,0,0.4);
    height:58px;
    padding:16px;
  }
  .btn-cfox {
    width: 100%;
    display: block;
    text-align: center;
    padding: 7px;
    cursor: pointer;
    border-color:rgba(0,0,0,0.1);
  }

  .loading-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 50px 12px 9px;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    .roundedCorners(3px);
    z-index: 3;
    text-align: center;
    color: #991919;
    font-size: 20px;
    letter-spacing: 2px;
    display: none;
    & img {
      margin-right:10px;
    }
    &.reveal {
      display: block;
    }
  }
  & .error {
    padding:8px 8px 6px 32px;
    background-color:#ec971f;
    color:#991919;
    position: absolute;
    top:100%;
    left:51%;
    margin-top:-10px;
    min-width:38%;
    font-weight: bold;
    display: none;
    z-index:100;
    .roundedCorners(3px);
    .boxShadow(0px 3px 5px rgba(0,0,0,0.4));
    .glyphicon {
      margin-right:10px;
      position: absolute;
      left: 8px;
      top: 10px;
      font-size: 16px;
      color:rgba(0,0,0,0.6);
    }
    &:before {
      position: absolute;
      top:-20px;
      left:30px;
      border: 10px solid transparent;
      border-bottom-color: #ec971f;
      content: '';
      display: block;
    }
    &.reveal {
      display: block;
    }
  }
}
/* mobile optimisation */

@media screen and (min-width: 200px) and (max-width: 991px) {
  .top_compare_container{
    
    h1{
      font-size: 30px;
      margin: 30px 0 10px;
    }
    p{
      font-size: 20px;
    }
  }
.form_field_conatiner{
  border:none;
}
.health_expert_container{
  height: 272px;
  }
  .top_compare_container{
    min-height: 250px;
  }
  .input-group{
    margin: 10px 0;
  }
}


@media screen and (min-width: 991px) and (max-width: 1024px) {
  .top_compare_container{
    min-height: 270px;
  }
.health_expert_container{
  height: 288px;
  }
  .form_field_conatiner{
  border:none;
}
.list_point_container h3{
  font-size: 20px;
}
.number-form .btn-cfox{
  font-size: 19px;
}
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .form_field_conatiner{
    border:none;
  }
  .number-form .btn-cfox{
  font-size: 19px;
}
}

@media only screen and (min-width : 200px) and (max-width : 767px) {
  body,html {
    min-width:100%;
  }
  .top_compare_container{
    min-height: 100%;
    h1{
      font-size: 20px;
      margin: 10px 15px 10px;
    }
    p{
      font-size: 16px;
    }
  }
  .btn-cfox{
    font-size: 16px;
  }
  .health_expert_container .form-section .number-form .btn-cfox{
    font-size: 13px;
  }
  .health_expert_container {
    height: 100%;
    img{
      top:0;
      position: relative;
    }
  }
  .list_point_container{
    padding: 15px;
    h2{
      font-size: 22px;
      margin: 20px 0;
    }
    .point_contaoner{
      h3{
        border:none;
        font-size: 18px;
      }
      ul{
        padding: 15px;
        border:none;
        li{
          font-size: 15px;
        }
      }
    }
  }
  .form_field_conatiner{
    padding: 0 0 20px;
    border: none;
    h2{
      font-size: 20px;
    }
    font-size: 15px;

  }
  .input-group{
    margin: 10px 0;
  }
  .error{
    left:5% !important;
  }
}

