<table align="center" class="table_style" border="1">
    <tr>
        <td colspan="2" align="center">Plus Plan</td>
    </tr>
    <tr>
        <td colspan="2" align="center">Base Covers</td>
    </tr>
    <tr>
        <td>In-patient Hospitalization</td>
        <td>Covered up to Single Private room</td>
    </tr>
    <tr>
        <td>Pre - Hospitalization</td>
        <td>60 days</td>
    </tr>
    <tr>
        <td>Post - Hospitalization</td>
        <td>180 days</td>
    </tr>
    <tr>
        <td>Day Care Treatment</td>
        <td>Covered upto full Sum Insured as per list of Day Care Treatments</td>
    </tr>
    <tr>
        <td>Domiciliary Treatment</td>
        <td>Covered upto full Sum Insured</td>
    </tr>
    <tr>
        <td>Ambulance Cover</td>
        <td>Actual expenses paid per hospitalization event</td>
    </tr>
    <tr>
        <td>Donor Expenses</td>
        <td>Covered upto full Sum Insured</td>
    </tr>
    <tr>
        <td>Worldwide Emergency Cover</td>
        <td>Covered upto a maximum of &#8377 10 Lacs</td>
    </tr>
    <tr>
        <td>Restoration Of Sum Insured</td>
        <td>Available once in a policy year</td>
    </tr>
    <tr>
        <td>Health Maintenance Benefit</td>
        <td>Covered upto 1% of Sum Insured subject to maximum of &#8377 15000 per policy year</td>
    </tr>
    <tr>
        <td>Maternity Expenses</td>
        <td>Covered upto &#8377 50,000 for normal delivery and &#8377 100,000 for C-Section per event </td>
    </tr>
    <tr>
        <td>New Born Baby Expenses</td>
        <td>Covered upto Limit under Maternity Expenses</td>
    </tr>
    <tr>
        <td>First Year Vaccinations</td>
        <td>Covered as per National immunization programme over and above Maternity Expenses</td>
    </tr>
    <tr>
        <td colspan="2" align="center">Value Added Covers</td>
    </tr>
    <tr>
        <td>Health Check-Up</td>
        <td>Available at each renewal, to all Insured persons who have completed 18 years of Age</td>
    </tr>
    <tr>
        <td>Expert Opinion on Critical illness</td>
        <td>Available once during the Policy Year for covered Critical Illnesses</td>
    </tr>
    <tr>
        <td>Cumulative Bonus</td>
        <td>10% Increase in Sum Insured for each claim free year, maximum accumulation upto 50%</td>
    </tr>
    <tr>
        <td>Healthy Rewards</td>
        <td>Reward Points will be earned for each year of premium paid and additionally by enrolling for our online wellness programmes</td>
    </tr>
</table>
