<table align="center" class="table_style" border="1">
    <tr>
        <td colspan="2" align="center">Protect Plan</td>
    </tr>
    <tr>
        <td colspan="2" align="center">Base Covers</td>
    </tr>
    <tr>
        <td>In-patient Hospitalization</td>
        <td>Covered up to Shared room Accomodation</td>
    </tr>
    <tr>
        <td>Pre - Hospitalization</td>
        <td>60 days</td>
    </tr>
    <tr>
        <td>Post - Hospitalization</td>
        <td>90 days</td>
    </tr>
    <tr>
        <td>Day Care Treatment</td>
        <td>Covered upto full Sum Insured as per list of Day Care Treatments</td>
    </tr>
    <tr>
        <td>Domiciliary Treatment</td>
        <td>Covered upto full Sum Insured</td>
    </tr>
    <tr>
        <td>Ambulance Cover</td>
        <td>Up to &#8377 2000 per hospitalization event</td>
    </tr>
    <tr>
        <td>Donor Expenses</td>
        <td>Covered upto full Sum Insured</td>
    </tr>
    <tr>
        <td>Worldwide Emergency Cover</td>
        <td>Covered upto full Sum Insured once in a policy year</td>
    </tr>
    <tr>
        <td>Restoration Of Sum Insured</td>
        <td>Available once in a policy year</td>
    </tr>
    <tr>
        <td>Health Maintenance Benefit</td>
        <td>Voucher for &#8377 500</td>
    </tr>
    <tr>
        <td colspan="2" align="center">Value Added Covers</td>
    </tr>
    <tr>
        <td>Health Check-Up</td>
        <td>Available once every 3rd Policy year to all insured persons who have completed 18 years of Age</td>
    </tr>
    <tr>
        <td>Expert Opinion on Critical illness</td>
        <td>Available once during the Policy Year for covered Critical Illnesses</td>
    </tr>
    <tr>
        <td>Cumulative Bonus</td>
        <td>5% Increase in Sum Insured for each claim free year, maximum accumulation upto 50%</td>
    </tr>
    <tr>
        <td>Healthy Rewards</td>
        <td>Reward Points will be earned for each year of premium paid and additionally by enrolling for our online wellness programmes.</td>
    </tr>
</table>
