<!DOCTYPE html>
<html>
    <head>
        <style>
            /* Formatting for this specific PDF */
            .header { width=1050px; background-color:#000000; }
            .body { width=1050px; }
            #title_table { margin-top:10px; margin-bottom:10px; border:1px solid black; border-collapse:collapse; width:300px; text-align:center; font-size:20px; }
            .table_style { width:1000px; margin-bottom:30px; border: 1px solid black; border-collapse:collapse; }
            #sub_title_table { margin-bottom:20px; border: 1px solid; border-collapse:collapse; width:180px; text-align:center; }
            .telephone { width:250px; }
        </style>
    </head>
    <body>
    <style type="text/css">
            td,th { padding:15px; }
    </style>
    <div id="policy">
        <div class="header">
            <img align="right" src="{{logo_image_path}}"/>
        </div>
        <br/><br/><br/><br/><br/>
        <div class="body">
            <table align="center" id="title_table" border="1">
                <tr>
                    <td><h1><strong>Cigna TTK ProHealth Insurance</strong></h1></td>
                 </tr>
            </table>
            <table align="center" id="sub_title_table" border="1">
                <tr>
                    <td><h3><strong>POLICY SCHEDULE</strong></h3></td>
                 </tr>
            </table>
            <table align="center" class="table_style" border="1">
                <tr height="70px">
                    <td valign="top">Policy Issuing Office:<br/>
                        10th Floor, Commerz, International Business Park,<br/>
                        Oberoi Garden City, Off Western Express Highway,<br/>
                        Goregaon (East), Mumbai - 400063
                    </td>
                    <td valign="top">Policy Servicing Office:<br/>
                        10th Floor, Commerz, International Business Park,<br/>
                        Oberoi Garden City, Off Western Express Highway,<br/>
                        Goregaon (East), Mumbai - 400063
                    </td>
                </tr>
                <tr height="40px">
                    <td colspan="2">Intermediary Name:</td>
                </tr>
            </table>
            <h2><strong>POLICYHOLDER DETAILS:</strong></h2>
            <table align="center" class="table_style" border="1">
                <tr>
                    <td colspan="4">Name: {{proposer_name}}</td>
                </tr>
                <tr>
                    <td colspan="4">Customer ID: {{proposer_cust_id}}</td>
                </tr>
                <tr>
                    <td colspan="4">Address: {{address1}}, {{address2}},</td>
                </tr>
                <tr>
                    <td colspan="4">{{landmark}}, {{city}}, {{state}}, {{pincode}}</td>
                </tr>
                <tr>
                    <td class="telephone">Telephone number(s):</td>
                    <td class="telephone">(R) {{r_number}}</td>
                    <td class="telephone">(O)</td>
                    <td class="telephone">(M) {{m_number}}</td>
                </tr>
                <tr>
                    <td colspan="4">Email ID: {{proposer_email}}</td>
                </tr>
            </table>
            <h2><strong>POLICY DETAILS:</strong></h2>
            <table align="center" class="table_style" border="1">
                <tr>
                    <td colspan="4">Plan: {{plan}}</td>
                </tr>
                <tr>
                    <td colspan="4">Policy Number: {{policy_number}}</td>
                </tr>
                <tr>
                    <td>Policy Period: {{policy_period}} year(s)</td>
                    <td>Inception Date: {{policy_start_date}}</td>
                    <td>Exipry Date: To: 24:00 hrs on {{policy_expiry_date}}</td>
                    <td>Tenure (in years): {{policy_period}}</td>
                </tr>
                <tr>
                    <td colspan="2">Policy Type: {{policy_type}}</td>
                    <td colspan="2">Zone of Cover: {{zone}}</td>
                </tr>
                <tr>
                    <td colspan="4">Roll Over / Protable Case: NA</td>
                </tr>
                <tr>
                    <td colspan="4">Previous Policy Number and Expiry Date: NA</td>
                </tr>
            </table>
            <h2><strong>INSURED PERSON'S DETAILS:</strong></h2>
            <div>{{insured_table|safe}}</div>
            <h2><strong>NOMINEE DETAILS</strong></h2>
            <table align="center" class="table_style" border="1">
                <tr>
                    <td>Nominee Name: {{nominee_full_name}}</td>
                </tr>
                <tr>
                    <td>Relationship with Proposer: {{nominee_relation}}</td>
                </tr>
            </table>
            <h2 style="page-break-before:always;"><strong>BENEFITS UNDER THE POLICY:</strong></h2>
            <div>{{plan_details|safe}}</div>
            <h2><strong>IN EVENT OF A CLAIM:</strong></h2>
            <table align="center" class="table_style" border="1">
                <tr>
                    <td rowspan="4">
                        Address for correspondence:-<br/>
                        CignaTTK Health Insurance Company Limited,<br/>
                        10th Floor, Commerz, International Business Park, Oberoi Garden City, Off.<br/>
                        Western Express Highway, Goregaon (East), Mumbai - 400 063.<br/>
                        OR Nearest Cigna TTK Health Insurance Branch.
                    </td>
                    <td>HealthLine No: Call (Toll Free): 1-800-10-24462</td>
                </tr>
                <tr>
                    <td>Fax Number : 1-800-42-52626</td>
                </tr>
                <tr>
                    <td>E-mail ID: customercare@cignattk.in</td>
                </tr>
                <tr>
                    <td>Web: www.cignattkinsurance.in</td>
                </tr>
            </table>
            <h2 style="page-break-before:always;"><strong>YOUR PREMIUM DETAILS:</strong></h2>
            <table align="center" style="border:1px solid black;border-collapse:collapse;" border="1" width="1000px">
                <tr height="60px">
                    <td>Basic Premium* (&#8377)</td>
                    <td>Discount (&#8377)</td>
                    <td>Additional Loading (&#8377)</td>
                    <td>Service Tax (&#8377)</td>
                    <td>Swachh Bharat Cess (&#8377)</td>
                    <td>Education Cess (&#8377)</td>
                    <td>Higher Education Cess (&#8377)</td>
                    <td>Total Premium (&#8377)</td>
                </tr>
                <tr height="60px">
                    <td>{{premium_before_discount}}</td>
                    <td>-{{discount}}</td>
                    <td>{{additional_loading}}</td>
                    <td>{{service_tax}}</td>
                    <td>{{swachh_bharat_cess}}</td>
                    <td>{{education_cess}}</td>
                    <td>{{higher_education_cess}}</td>
                    <td>{{total_premium}}</td>
                </tr>
            </table>
            <h6>* Note: Basic premium is inclusive of opted Add On&#39s and after adjustment of premium discounts, wherever applicable.</h6>
            <table align="center" class="table_style" border="1">
                <tr>
                    <td>Service Tax Registration No:AAECC7904JSD001</td>
                    <td>PAN No.: AAECC7904J</td>
                    <td>Category: General Insurance Business</td>
                </tr>
                <tr>
                    <td colspan="3">The stamp duty of &#8377 0.5 paid vide receipt no, MH006427198201415M dated 16/03/2015 . Government Notification Revenue and Forest Department No. Mudrank 2004/4125/CR/690/M-1, dated 31/12/2004</td>
                </tr>
            </table>
            <table align="center" class="table_style" border="1">
                <tr><td>NOTE:<br/>In the event of dishonor of cheque, this policy document automatically stands cancelled from inception, irrespective of whether a separate communication is sent or not.<br/><br/>This Policy has been issued based on the information provided by you on the proposal form. Attached with this Policy Schedule are the Policy Terms & Conditions, and Annexures. Please ensure that these documents have been received, read and understood. If any of these documents have not been received, please contact our Customer Service at the below mentioned details at the earliest. In case you find any discrepancy in the same, please contact us immediately.<br/><br/>For any grievance related to the policy you may write to The Grievance Officer at the policy issuing office address mentioned above or email at headcustomercare@cignattk.in<br/>You may also write to us at customercare@cignattk.in Or call us at HealthLine No. (Toll Free): 1-800-10-24462</td>
                </tr>
            </table>
            <h4>In witness, where of this Policy has been signed at Mumbai on 20/05/2015</h4><br/>
            <h4 align="right">For and on behalf of CignaTTK Health Insurance Co. Ltd</h4><br/>
            <img align="right" src="{{sign_image_path}}" /><br /><br/><br/><br/><br/>
            <h4 align="right">Authorized Signatory</h4><br/>
            <h4>Cigna TTK ProHealth Insurance UIN Number: IRDA/NL-HLT/CTTK/P-H/V-I/390/13-14</h4>
        </div>
    </div>
    <div id="tax-receipt" style="page-break-before:always;">
        <div class="body">
            <table align="center" border="1" id="title_table">
                <tr>
                    <td><h2><strong>PREMIUM CERTIFICATE</strong></h2></td>
                </tr>
            </table>
            <h4 align="center" width="1000px">For the purpose of deduction under section 80D of Income Tax amendment act, 1961 and any amendments made thereafter.</h4>
            <table align="center" border="1" class="table_style">
                <tr>
                    <td colspan="3">This is to certify that  <strong>{{proposer_name}}</strong>  has paid the premium of  <strong>{{total_premium}}</strong>  (in words) <strong>Rupees {{premium_in_words}}</strong>  for the period  <strong>{{policy_start_date}}</strong>   to <strong>{{policy_expiry_date}}</strong> towards Premium for Health Insurance Policy.</td>
                </tr>
                <tr>
                    <td colspan="3">Policy Number: {{policy_number}}</td>
                </tr>
                <tr>
                    <td>Receipt Number:</td>
                    <td>Receipt Amount:</td>
                    <td>Payment Mode:</td>
                </tr>
                <tr>
                    <td>{{receiptId}}</td>
                    <td>{{total_premium}}</td>
                    <td>{{payment_mode}}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        Stamp duty has been paid vide receipt no MH006429808201415M dated 16th March 2015.<br/><br/>
                        Note:<br/>
                        For your eligibility and deductions please refer to provisions of Income Tax Act 1961 as modified and/or consult your tax consultant. Any amount paid in cash towards premium will not qualify for tax benefits. Deduction under Section 80D shall not be allowed if the premium is paid by third party (other than proposer/insured) under this policy.<br/><br/>
                        <h4 align="right">For and on behalf of CignaTTK Health Insurance Co. Ltd</h4><br/>
                        <img align="right" src="{{sign_image_path}}" /><br/><br/><br/><br/><br/>
                        <h4 align="right">Authorized Signatory</h4><br/><br/>
                        Note: This certificate must be surrendered to us in case of cancellation of Policy or for issuance of fresh certificate in case of any alteration in the insurance affecting the premium.
                    </td>
                </tr>
            </table>
            <h4>Date: {{today}}</h4><br/>
            <h4>Location: Mumbai</h4>
        </div>
    </div>
    </body>
</html>
