/* special message css */
#special-message {
  padding: 10px 10px 10px 40px;
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 1000;
  color: #fff;
  background: #0076ff;
  text-align: center;
  .cubic-trans;
  & img {
    position: absolute;
    width: 40px;
    left:-50px;
  }
  & span {
    position: relative;
  }
  & span.small {
    font-size: 12px;
    color:rgba(255,255,255,0.7);
    letter-spacing: 0.5px;
  }
  &.reveal {
    top:0;
  }
}
.hero-wrapper.recede {
  .cubic-trans;
  margin-top:60px;
}

@media only screen and (min-width : 0px) and (max-width : 767px) {
  #special-message {
    position: relative;
    text-align: left;
    top: 0;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    &.reveal {
      padding-top: 10px;
      padding-bottom: 10px;
      height: auto;
    }
    & img {
      position: absolute;
      width: 26px;
      left: -43px;
      top: 0px;
    }
  }
  .hero-wrapper.recede,.hero-wrapper {
    margin-top:0px;
  }

}
@media only screen and (min-width : 0px) and (max-width : 610px) {
  #special-message img {
    top:5px;
  }
}
/* special message css ends */