<div class="z-depth-1 p-10">
    <div class="add-tl-item right {{model_name|lower}}-form" data-bind="css: { 'toggled': {{model_name|lower}}View.selected{{model_name}} }">
        <button data-bind="click: {{model_name|lower}}View.new{{model_name}}" class="add-new-item btn bgm-cyan btn-float waves-effect waves-button waves-float">
            <i class="md md-add"></i>
        </button>

        <div class="add-tl-body">
            <div data-bind="template: {name: '{{model_name|lower}}_form_tmpl', if: {{model_name|lower}}View.selected{{model_name}}, data: {{model_name|lower}}View.selected{{model_name}} }"></div>
            <div class="add-tl-actions">
                <a href="#" data-bind="click: {{model_name|lower}}View.selected{{model_name}}.bind($data, null)"><i class="md md-close"></i></a>
                <a data-bind="click: {{model_name|lower}}View.save{{model_name}}"><i class="md md-check"></i></a>
            </div>
        </div>
    </div>
    <p class="c-black m-l-10 f-500 m-b-20">Manage {{model_name}}s</p>
    <table class="table table-condensed super-condensed">
        <tbody data-bind="foreach: $root.{{model_name|lower}}View.{{model_name|lower}}List">
        <tr data-bind="css: $root.{{model_name|lower}}View.selected{{model_name}}() == $data ? 'active': ''">
            <td data-bind="text: __unicode__"></td>
            <td>
                <button data-bind="click: $root.{{model_name|lower}}View.selected{{model_name}}() == $data ? $root.{{model_name|lower}}View.selected{{model_name}}.bind($data, null): $root.{{model_name|lower}}View.selected{{model_name}}.bind($data, $data)" class="btn btn-primary waves-effect waves-button waves-float">
                    <i class="md md-mode-edit"></i>
                </button>
            </td>
            <td>
                <button data-bind="click: {{model_name|lower}}View.delete{{model_name}}.bind($data)" class="btn bgm-deeporange waves-effect waves-button waves-float">
                    <i class="md md-delete"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
