<form action="#" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="attachmentFile" />
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.attachment.label_tag }} {{ form.attachment.help_text }}</p>
    <p>
        {{ form.attachment.errors }}
        {{ form.attachment }}
    </p>
    <p><span id="attachFileBtn" class="btn btn-primary">Attach</span></p>
</form>