@import "../../css/base_theme";


@heroColor: #ddd4d9;
@heroContrastColor: #0d4390;
@orangeBaseColor: #ff6127;
@healthBaseColor: #f78460;

/* hero wrapper css override */
.hero-wrapper {
  #topbar {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 0px;
  }
}
.form_update_container{
  input{
    width:100%;
    outline: none;
    border:0;
    .roundedCorners(3px);
    border:1px solid rgba(0,0,0,0.4);
    margin: 0 0 10px;
    font-size: 18px;
  }
}

/* doc banner css */
.doc-banner {
  .banner-bg {
    background-size: 100%;
    background: @heroColor url('../img/doc_lighter.jpg') no-repeat center center;
    padding: 20px 0 0;
  }
  .terms-msg {
    margin: 30px auto 20px;
    padding: 0px;
    max-width: 500px;
  }
  & #companies-wrap {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 30px 0px;
    overflow: hidden;
    background: #f5f5f5;
    border-bottom: 1px solid rgba(0,0,0,0.2);
     .top_up_container{
        padding: 30px;
        p{
          font-size: 17px;
        }
        .pl{
          padding-left: 0;
        }
        h2{
          margin: 0 0 10px;
          letter-spacing: 0;
          font-size: 30px;
          font-weight: 300;
        }
        .para{
          margin: 20px 0 20px;
          ul{
            margin: 0;
            padding: 0 20px;
            li{
              font-size: 13px;
              margin: 6px 0;
            }
          }
          p{
            font-size: 15px;
          }
        }
      }
    & ul#company-logos {
      list-style-type: none;
      text-align: left;
      padding: 0;
      & li {
        display: inline-block;
        padding: 8px;
        position: relative;
        & img {
          height: 40px;
        }
      }
    }
    & h2 {
      font-size: 24px;
      font-weight: 700;
      color: @textColor;
      text-align: left;
      letter-spacing: 2px;
      margin: 5px -5px 20px;
      padding: 0px 0px;
    }
    & .companies-box {
      padding:0px 15px 10px;
      overflow: hidden;
      height: 200px;
      & .highlight {
        color:@baseThemeColor;
      }
    }
  }
  .form-section {
    margin-bottom:0;
  }
  h1 {
    color: #222222;
    font-weight: 700;
    text-align: center;
    margin: 30px 15px 20px;
    font-size: 35px;
  }
  .sub-heading {
    color: #C0090D;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
  }
  .number-form {
    background-color: rgba(0,0,0,0.1);
    padding:20px;
    border: 1px solid rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 20px auto;
    position: relative;
    .roundedCorners(3px);
    .input-group-addon {
    border-color:rgba(0,0,0,0.4);
    }
    input {
      border-color: rgba(0,0,0,0.4);
      height:58px;
      padding:16px;
    }
    .btn-cfox {
      width: 100%;
      display: block;
      text-align: center;
      cursor: pointer;
      border-color:rgba(0,0,0,0.1);
      margin-top: 10px;
    }

    .loading-box {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      padding: 50px 12px 9px;
      background-color: rgba(255, 255, 255, 1);
      width: 100%;
      .roundedCorners(3px);
      z-index: 3;
      text-align: center;
      color: #991919;
      font-size: 20px;
      letter-spacing: 2px;
      display: none;
      & img {
        margin-right:10px;
      }
      &.reveal {
        display: block;
      }
    }
    & .error {
      padding:8px 8px 6px 32px;
      background-color:#ec971f;
      color:#991919;
      position: absolute;
      top:100%;
      left:10%;
      margin-top:-10px;
      min-width:80%;
      font-weight: bold;
      display: none;
      z-index:100;
      .roundedCorners(3px);
      .boxShadow(0px 3px 5px rgba(0,0,0,0.4));
      .glyphicon {
        margin-right:10px;
        position: absolute;
        left: 8px;
        top: 10px;
        font-size: 16px;
        color:rgba(0,0,0,0.6);
      }
      &:before {
        position: absolute;
        top:-20px;
        left:30px;
        border: 10px solid transparent;
        border-bottom-color: #ec971f;
        content: '';
        display: block;
      }
      &.reveal {
        display: block;
      }
    }
  }
  .benefit_list {
    list-style-type: none;
    margin: 0px;
    padding:0px;
    & li {
      margin-bottom: 10px;
      font-size: 18px;
      position: relative;
      font-weight: 500;
      background-color: #FFFFFF;
      //border: 1px solid #eaeaea;
      padding: 8px 8px 8px 50px;
      .boxShadow(0px 1px 1px rgba(0,0,0,0.15));
      .roundedCorners(2px);
      overflow: hidden;
      & img {
        width: 30px;
        display: block;
        position: absolute;
        left: 5px;
        top: 5px;
        z-index: 2;
      }
    }
    .sub_list{
      margin: 0;
      padding: 0;
      li{
        font-size: 16px;
        padding-left: 32px;
        img{
          max-width: 20px;
        }
      }
    }
  }

}


/* doc-banner hero block css - ends */



/* mobile optimisation */

@media screen and (min-width: 200px) and (max-width: 991px) {
  #companies-wrap ul#company-logos li img {
    height: 38px;
  }
  .doc-banner {
    .banner-bg {
      background-image: none;
    }
    & .form-section {
      padding-top: 20px;
    }
    & #companies-wrap .companies-box {
      height: auto;
    }
    & #companies-wrap h2 {
      font-size: 24px;
    }
    & h1 {
      margin-top:20px;
    }
    & .sub-heading {
      max-width:500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  #companies-wrap ul#company-logos li img {
    height: 40px;
  }
  .doc-banner {
    .banner-bg {
      -webkit-background-position: 30% center;
      -moz-background-position: 30% center;
      -ms-background-position: 30% center;
      -o-background-position: 30% center;
      background-position: 30% center;
    }
    & h1 {
      font-size:32px;
    }
    & .sub-heading {
      font-size:18px;
    }
    .number-form {
      margin-top:15px;
    }
  }
}

@media only screen and (min-width : 200px) and (max-width : 767px) {
  body,html {
    min-width:320px;
  }
  .btn-cfox.orange {
    font-size:16px;
  }
  .banner-label {
    display: inline-block;
    font-size: 18px;
    left: 0;
    padding: 2px 10px;
  }
  #companies-wrap ul#company-logos li{
    padding:15px;
    img {
      height: 40px;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 519px) {
  #companies-wrap ul#company-logos li{
    padding:5px;
    img {
      height: 30px;
    }
  }
  .doc-banner {
    .form-section {
      padding-top:0px;
    }
    & h1 {
      font-size:32px;
    }
    & .sub-heading {
      font-size: 18px;
      font-weight: 700;
    }
    & #companies-wrap {
      min-height:140px;
      & h2 {
        font-size: 18px;
        line-height: 1.4em;
      }
      & .companies-box {
        height:auto;
      }
    }
    & .number-form {
      padding:15px 10px;
    }
  }
}
.error_old{
  color: red;
  margin: 0px 0 5px 15px;
}
/*
@media screen and (min-width: 1200px) and (max-width: 1450px) {
  .doc-banner {
    background-size: 100%;
    background-position: top center;
  }
}

@media screen and (min-width: 1451px) and (max-width: 1799px) {
  .doc-banner {
    background-size: 78% auto;
    background-position: top center;
  }
}

@media screen and (min-width: 1800px) and (max-width: 2900px) {
  .doc-banner {
    background-size: 70% auto;
    background-position: center -10%;
  }
}
*/
/* mobile optimisation ends */

