<div class="card-body list-description">
    <ul class="tab-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
        <li class="active"><a href="#ticket-id" aria-controls="ticket-id" role="tab" data-toggle="tab" aria-expanded="true">Ticket Id</a></li>
        <li><a href="#ticket-flow" aria-controls="ticket-flow" role="tab" data-toggle="tab" aria-expanded="true">Ticket flow</a></li>
    </ul>
    <div class="tab-content p-t-0">
        <div role="tabpanel" class="tab-pane active" id="ticket-id">
            <div class="row p-l-20 p-r-20">
                <div class="col-sm-4 col-md-3">
                    {% include "alfred/ticket_status_form.html" %}
                    <p class="m-t-20 f-700 m-b-5">TAGS</p>
                    <a class="tag">Complaint</a>
                    <a class="tag">Endorsement Not on Time</a>
                    <a class="tag">Escalation</a>

                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="card-header spl-header">
                        <h2>
                            Subject: <span>Document delayed</span>
                            <span class="status-right">10 Mins ago</span>
                            <small>Description</small>
                        </h2>
                    </div>
                    <div class="ticket-id-form">
                        <img src="img/profile-pics/1.jpg" alt="">
                        <div role="tabpanel" class="tab">
                            <ul class="tab-nav" role="tablist" tabindex="3" style="overflow: hidden; outline: none;">
                                <li class="active"><a href="#customer-tab" aria-controls="internal-tab" role="tab" data-toggle="tab" aria-expanded="true">Customer</a></li>
                                <li><a href="#internal-tab" aria-controls="internal-tab" role="tab" data-toggle="tab" aria-expanded="true">Internal</a></li>
                            </ul>
                            <div class="tab-content p-b-0">
                                <div role="tabpanel" class="tab-pane active" id="customer-tab">
                                    <div class="form-group">
                                        <div class="fg-line">
                                            <textarea class="form-control input-sm" rows="5" placeholder="Enter text here #1"> Action Interface: Allowing Email,Call,SMS.Finalized once Email bit done
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="internal-tab">
                                    <div class="form-group">
                                        <div class="fg-line">
                                            <textarea class="form-control input-sm" rows="5" placeholder="Enter text here #2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-primary btn-file m-r-10 waves-effect waves-button waves-float waves-effect waves-button waves-float">
                                        <span class="fileinput-new">Attach file</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="...">
                                    </span>
                                    <span class="fileinput-filename"></span>
                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">×</a>
                                </div>
                            </div>
                            <div class="col-sm-4">

                                <div class="clearfix">
                                    <button class="btn bgm-deeporange btn-lg waves-effect waves-button waves-float pull-right waves-effect waves-button waves-float">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="pagination-intro pull-left">Conversation history:</div>
                        <ul class="pagination pull-right">
                            <li class="count">
                            <small>1-5 of 30</small>
                            </li>
                            <li>
                            <a href="" aria-label="Previous">
                                <i class="md md-chevron-left"></i>
                            </a>
                            </li>
                            <li>
                            <a href="" aria-label="Next">
                                <i class="md md-chevron-right"></i>
                            </a>
                            </li>
                        </ul>
                    </div>
                    <div class="listview lv-bordered-lv-lg">
                        <div class="lv-body history-box">
                            <div class="lv-item media">

                                <div class="pull-left">
                                    <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title">Sanket Rathi</div>
                                    <small class="lv-small">Communication 1: Readonly</small>
                                    <ul class="lv-attrs">
                                        <li>10 mins ago</li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="listview lv-bordered-lv-lg">
                        <div class="lv-body history-box">
                            <div class="lv-item media">

                                <div class="pull-left">
                                    <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title">Gulshan</div>
                                    <small class="lv-small">Communication 2: Readonly</small>
                                    <ul class="lv-attrs">
                                        <li>20 mins ago</li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="listview lv-bordered-lv-lg">
                        <div class="lv-body history-box">
                            <div class="lv-item media">

                                <div class="pull-left">
                                    <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title">Vishesh</div>
                                    <small class="lv-small">Communication 3: Readonly</small>
                                    <ul class="lv-attrs">
                                        <li>30 mins ago</li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.tab-pane-->
        <div role="tabpanel" class="tab-pane" id="ticket-flow">
            <div class="card-header p-l-0 p-r-0">
                <h2>Ticket flow</h2>

            </div>
            <div class="p-t-10">
                <table class="table table-inner table-vmiddle">
                    <thead>
                        <tr>
                            <th>Bucket</th>
                            <th>Status</th>
                            <th>I-TAT</th>
                            <th>E-TAT</th>
                            <th>Notes</th>
                            <th style="width: 60px">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="f-500 c-cyan">Initate Refund</td>
                        <td>Pending</td>
                        <td class="f-500">June,25,2015</td>
                        <td class="f-500">June,26,2015</td>
                        <td>
                            <div class="dropdown table-dd-form">
                                <a class="btn btn-xs btn-primary waves-effect waves-button waves-float" data-toggle="dropdown">
                                    Add Note
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                    <div class="form-group m-b-10">
                                        <div class="fg-line">
                                            <textarea class="form-control input-sm" rows="5" placeholder="Add Note"></textarea>
                                        </div>
                                    </div>
                                    </li>
                                    <li>
                                    <button class="btn bgm-deeporange btn-sm waves-effect waves-button waves-float">Submit</button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td><span class="bgm-green t-indicator"></span></td>
                    </tr>
                    <tr>
                        <td class="f-500 c-cyan">Pending Insurer Refund Confirmation</td>
                        <td>Pending</td>
                        <td class="f-500">June,27,2015</td>
                        <td class="f-500">June,28,2015</td>
                        <td>
                            <div class="dropdown table-dd-form">
                                <a class="btn btn-xs btn-primary waves-effect waves-button waves-float" data-toggle="dropdown">
                                    Add Note
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                    <div class="form-group m-b-10">
                                        <div class="fg-line">
                                            <textarea class="form-control input-sm" rows="5" placeholder="Add Note"></textarea>
                                        </div>
                                    </div>
                                    </li>
                                    <li>
                                    <button class="btn bgm-deeporange btn-sm waves-effect waves-button waves-float">Submit</button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td><span class="bgm-green t-indicator"></span></td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <button title="Show more bucket tickets" class="btn btn-sm bgm-blue btn-float waves-effect waves-effect waves-button waves-float ticket waves-effect waves-button waves-float"><i class="md md-add"></i></button> More from bucket
                </div>
            </div><!--/.p-t-10-->
        </div><!--/.tab-pane-->
    </div><!--/.tab-content-->
</div>
