@import "../../css/base_theme";

/* Overridden css for base_style.css */
@coverSpace : 60px;
html, body {
  width:100%;
  height:90%;
}
.plnone{
  padding-left: 0 !important;
}
.p-relative{
  position: relative;
}
.mtop{
  margin-top: 15px;
}
.side_cover{
  position: absolute;
  height: 100%;
  right:0;
  top:15px;
  &:before{
    content: "";
    position: absolute;
    height: 97%;
    width:100%;
    background-color: #344a58;
  }
}
.terms-msg{
  margin: 10px 0;
  font-size: 10px;
}
.musibat_conatiner{
  padding: 20px 0 20px 20px;
  color: #EEEEEE;
  background-color: rgb(52, 74, 88);
  position: relative;
  z-index: 1;
  hr {
    border-top: 5px solid #eeeeee;
  }
  h3{
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 700;
  }
  ul{
    margin: 0;
    padding: 0 20px;
    li{
      margin: 20px 0;
    }
  }
  .arrrow_direct{
    margin: 38px 0 0;
    color: #FF704C;
  }
}
.hero-wrapper {
  background: url(../img/car-background.jpg) no-repeat center center #f4f4f4;
  position: relative;
  height:100%;
  width:100%;
  border-bottom:@coverSpace solid transparent;
  display: table;
  //padding-top:56px;
  padding-top: 0;
  &:before {
    position: absolute;
    content:'';
    top:0;
    left:0;
    bottom:0;
    right:0;
    display: block;
    //height: 260px;
    //background: #314451;
  }
  .heading_txt{
    position: relative;
    h2{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fff;
    text-align: center;
    }
  }
  &  #topbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #ffffff;
    z-index: 200;
    position: fixed;
    top:0;
    left:0;
    width:100%;
  }
}
.companies-wrapper {
  margin-top: -(@coverSpace);
  height:auto;
  &:before {
    content: 'Choose plans from Top companies';
    display: block;
    padding: 15px 15px 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  }
}

/* car banner css */
.car-banner {
  vertical-align: middle;
  padding-bottom:15px;
  &  h1 {
    font-size:26px;
    margin:20px 0px 15px;
    color: @baseThemeColor;
    font-weight: 400;
    -webkit-text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
    -moz-text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
    -ms-text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
    -o-text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
  }
  .form-box-mini {
  }
}

.crossover {
  & .c-row {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 90px;
  }
  & .img-box {
    top:3px;
  }
  & .img-box img {
    width:70px;
  }
}

.prop-cos {
  background-color: #27343e;
  border-bottom:1px solid rgba(0,0,0,0.05);
  padding:30px 0px 40px;
  color:#FFFFFF;
  & .brand-color {
    color: @baseThemeColor;
  }
  h1 {
    font-size: 35px;
    text-align: left;
    margin-top:10px;
    margin-bottom: 5px;
    font-weight: 300;
    .logo {
      max-width: 140px;
      margin-top: -5px;
      display: inline-block;
    }
  }
  h3 {
    color: rgba(255,255,255,0.8);
    margin-top:0px;
    font-size:18px;
    line-height: 1.4em;
  }
  & ul.prop {
    margin:30px 0px 20px;
    padding:0px;
    position: relative;
    max-width: 700px;
    li {
      list-style-type: none;
      margin-bottom:15px;
      font-size:16px;
      text-align: left;
      padding-left:30px;
      position: relative;
      display: block;
      float: left;
      width:50%;
      & img {
        .roundedCorners(50%);
        background-color: @baseThemeColor;
        padding:3px;
        width:20px;
        height:20px;
        display: inline-block;
        position: absolute;
        top:1px;
        left:0px;
      }
    }
  }
}

/* Mobile optimisation for banner elements */

@media only screen and (min-width : 200px) and (max-width : 990px) {
  html, body {
    height: auto;
  }
  .hero-wrapper {
    padding-top:0px;
    background-size: cover;
    #topbar {
      position: relative;
    }
  }
  .car-banner {
    display: block;
  }
}

@media only screen and (min-width : 200px) and (max-width : 767px) {
  .musibat_conatiner{
    margin: 20px 0;

    h3{
      font-size: 22px;
    }
  }
  .hero-form .product-form-item{
    padding: 20px 0;
  }
  .cfinput input{
    width:95% !important;
  }
  .hero-wrapper {
    background: #ffffff;
    &:before {
      display: none;
    }
  }
  .car-banner {
    background-color: #ffffff;
    padding:0px;
    & h1 {
      font-size:26px;
      text-align: left;
    }
    & .form-box-mini {
      .boxShadow(none);
      margin: 0px;
      max-width: 450px;
    }
  }
  .prop-cos {
    h4 {
      line-height: 1.4em;
    }
    ul.prop {
      padding-left: 0px;
      padding-right:0px;
      max-width: 600px;
      & li {
        width:auto;
        float: none;
      }
    }
  }
}

/* form box mini css*/

.form-box-mini {
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.9);
  .roundedCorners(3px);
  padding: 15px 30px 20px;
  margin:30px auto 0px;
  .boxShadow(0px 2px 3px rgba(0,0,0,0.19));
  label {
    margin-bottom:5px;
    display: block;
    letter-spacing: 1px;
    color: #363636;
    font-weight: 400;
  }
  .btn-cfox.btn-next {
    letter-spacing: 1px;
    font-size: 16px;
  }
  h3 {
    color: #363636;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight:600;
  }
  ul {
    padding:0;
    margin-bottom: 10px;
    & li {
      letter-spacing: 1px;
      background-image: none;
      color: #030303;
      cursor: pointer;
      list-style-type: none;
      padding-left: 26px;
      margin-bottom: 5px;
      margin-top: 5px;
      position: relative;
      padding-top: 0;
      height: 35px;
      font-size: 16px;
      & .checkbox {
        position: absolute;
        .boxShadow(1px 1px 2px rgba(0, 0, 0, 0.3) inset);
        top: 3px;
        left: 0;
        width: 15px;
        height: 15px;
        min-height: 15px;
        padding: 1px;
        margin: 0px;
        background-color: #eaeaea;
        .roundedCorners(2px);
        border: 1px solid rgba(255, 255, 255, 0.12);
        & img {
          width:100%;
          display:none;
        }
      }
      &.active {
        color: @baseThemeColor;
        & .checkbox {
          background-color: #609BF7;
          & img {
            display: block;
          }
        }
      }
    }
  }
  .error {
    background-color: rgb(233, 150, 176);
    color: rgba(0, 0, 0, 0.58);
    padding: 5px;
    margin-bottom: 10px;
    .roundedCorners(3px);
  }
  .cfinput {
    border: 2px solid #F45C25;
    padding:15px 5px;
    background-color: #ffffff;
    .roundedCorners(3px);
    margin-bottom:10px;
    &.has-error {
      border-color: #8b0000;
      background-color: #FFE2EB;
    }
    &.addon-field {
      padding-left:40px;
      position: relative;
    }
    .addon {
      font-size: 14px;
      color:#363636;
      position: absolute;
      top:16px;
      left:8px;
    }
    input {
      border: 0;
      color: #363636;
      background-color: transparent;
      width: 100%;
      &:hover,&:focus,&:active {
        outline: none;
      }
    }
  }
  & .toll-free {
    margin-top:15px;
    & a {
      font-size:18px;
      font-weight: 700;
    }
  }
}

.hero-form .product-form-item h5 {
  font-size: 20px;
  color: rgb(49, 68, 81);
}
