//@import "../../global/css/footer.less";
@import "../../global/css/basestyles";
h1{
	font-weight: 300;
}
/*
h4{
	background: @grey-2;
	.roundedCorners(30px);
	display: inline-block;
	 padding:5px 15px; 
	 margin-top: 0;
}
*/
.static-items-list{
	padding-top:40px;
	padding-bottom:100px; 
	.static-item{
		border-bottom:1px solid rgba(0,0,0,0.12);
		padding:40px 0;
		h3{
			font-size: 20px;
			font-weight: 300;
			margin-top: 0;
		}
		p{
			color:rgba(0,0,0,0.7);
			&.address{

			}
		} 
		.index{
			background: @blue;
			padding:20px 5px;
            width:47px;
            height:47px;
            text-align: center;
            margin-bottom:10px;
			.roundedCorners(50%);
			color:#fff;
			display: inline-block;
  			line-height: 50%;
  			font-weight: bold;
  			.BoxShadowHelper;
  			
		}
	}

}

// Hospitals List Pages

.static-items-list{
	.static-item{

		p{
			font-size: 14px; 
			line-height: 150%;
			color:rgba(0,0,0,0.5);
			&.address{
				margin-bottom: 0;
			}
			&.location{
				margin-top: 0; 
			}
			&.phone{
				img{
					max-width:12px;
					margin-right: 10px;
					margin-top:-2px;
				}
			}
			strong{
				color:#000;
				margin-right:10px; 
			}
		}
	}
}
.static-sidebar-container {
  padding-bottom:50px;
  .offer-form {
    margin-top: 35px;
    background: @grey-2;
    .BoxShadowHelper(1);
    text-align: left;
    padding:32px;
    .roundedCorners;
    & h4{
      font-size: 16px;
      font-weight: normal;
    }
    & h3 {
      margin-top: 0px;
      line-height: 1.4em;
      font-weight: 300;
      font-size: 32px;
      & > span {
        color: @orange;
      }
    }
    & p.error {
      font-size: 14px;
      color: red;
      margin:0;
    }
    & .f-input {
      max-width: 300px;
      display: inline-block;
      width:100%;
      font-size: 20px;
      padding-left: 50px;
      position: relative;
      margin-top: 20px;
      border: 1px solid darken(@grey-2, 10%);
      background: #fff;
      .roundedCorners(4px);
      & input {
        background-color: transparent;
        border: none;
        width: 100%;
        padding: 5px 12px;
      }
      & > span {
        display: block;
        position: absolute;
        color: @baseFont;
        top: 5px;
        left: 10px;
      }
    }
    & .btn-cfox{
      margin-top: 10px;
      width:100%;
      max-width: 300px;
      display: inline-block;
    }
  }
}
.share-popup-wrapper{
      margin-top:30px;
      .BoxShadowHelper(4);
      .roundedCorners;
      background: #fff;
      h3{
        background: @blue;
        color:#fff;
        margin:0;
        padding:20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        text-align: center;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        font-weight: 400;
        line-height: 1.4em;
      }
      h4{
        padding:20px 20px 0;
        border: none;
        border-top:1px solid rgba(0,0,0,0.1);
        margin-top: 0;
        background: none;
        .roundedCorners(0);
        display:block;
      }
      ul{
        padding:20px 40px;
        list-style-type: none;
        margin-bottom: 0;

        li{
          display: inline-block;
          padding:6px 0;

        }
      }
    .recommended-items-sidebar{
      padding:20px;
      a{
        display: block;
        margin:0 0 15px;
      }
    }
}
.form-box-mini {
  max-width: 500px;
  background-color:#f3f3f3;
  .roundedCorners(3px);
  padding: 20px;
  margin:30px auto 0px;
  .boxShadow(0px 2px 3px rgba(0,0,0,0.19));
  label {
    margin-bottom:5px;
    display: block;
    letter-spacing: 1px;
    color: #363636;
    font-weight: 400;
  }
  .btn-cfox.btn-next {
    letter-spacing: 1px;
    font-size: 16px;
  }
  h1{
    font-size: 22px;
    margin: 0;
    font-weight:400;
  }
  h3 {
    color: #363636;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight:400;
  }
  ul {
    padding:0;
    margin-bottom: 10px;
    & li {
      letter-spacing: 1px;
      background-image: none;
      color: #030303;
      cursor: pointer;
      list-style-type: none;
      padding-left: 26px;
      margin-bottom: 5px;
      margin-top: 5px;
      position: relative;
      padding-top: 0;
      height: 35px;
      font-size: 16px;
      & .checkbox {
        position: absolute;
        .boxShadow(1px 1px 2px rgba(0, 0, 0, 0.3) inset);
        top: 3px;
        left: 0;
        width: 15px;
        height: 15px;
        min-height: 15px;
        padding: 1px;
        margin: 0px;
        background-color: #eaeaea;
        .roundedCorners(2px);
        border: 1px solid rgba(255, 255, 255, 0.12);
        & img {
          width:100%;
          display:none;
        }
      }
      &.active {
        color: #f34100;
        & .checkbox {
          background-color: #609BF7;
          & img {
            display: block;
          }
        }
      }
    }
  }
  .error {
    background-color: rgb(233, 150, 176);
    color: rgba(0, 0, 0, 0.58);
    padding: 5px;
    margin-bottom: 10px;
    .roundedCorners(3px);
    font-size: 14px;
  }
  .cfinput {
    border: 2px solid #F45C25;
    padding:10px 5px;
    background-color: #ffffff;
    .roundedCorners(3px);
    margin-top:10px;
    margin-bottom:10px;
    &.has-error {
      border-color: #8b0000;
      background-color: #FFE2EB;
    }
    &.addon-field {
      padding-left:40px;
      position: relative;
    }
    .addon {
      font-size: 14px;
      color:#363636;
      position: absolute;
      top:11px;
      left:8px;
    }
    input {
      border: 0;
      color: #363636;
      background-color: transparent;
      width: 100%;
      &:hover,&:focus,&:active {
        outline: none;
      }
    }
  }
  & .toll-free {
    margin-top:15px;
    & a {
      font-size:18px;
      font-weight: 700;
    }
  }
}
.network_nw_form{
  .n-form{
    p{
      .error{
        padding: 0 5px;
        margin: 0 0 10px;
      }
    }
    .n-input{
      padding: 10px;
        input{
        margin: 0 0 10px;
        border:1px solid #ddd;
        padding: 5px;
        height: 40px;
        font-size: 14px;
        outline:none;
        border-radius: 3px;
      }
    }
  }

}
.thank-you{
  text-align: center;
  margin: 35px 0 15px;
  font-size: 24px;
}

