{% load compress %}
{% load filters %}
{% load static %}

<!DOCTYPE html>
<head>
  <title>Travel Insurance</title>

  {% compress css %}
  <link href="{{ STATIC_URL }}global/css/bootstrap.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}travel_product/v1/build/style.css" rel="stylesheet">
  {% endcompress css %}
  <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
  <script>
    dataLayer = [];
  </script>

    {%if settings.PRODUCTION%}
        <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
        <script>
            Raven.config('https://b73a2dd7e1714ae3aab0e33fd663b391@app.getsentry.com/33123', {
            }).install();
        </script>
    {%endif%}
</head>
<body>


  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MR4FRN');</script>
  <!-- End Google Tag Manager -->

  <script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
_fbq.push(['addPixelId', '338928289619965']);
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', 'PixelInitialized', {}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=338928289619965&amp;ev=PixelInitialized" /></noscript>


<!-- Facebook Conversion Code for Travel - Adds to Cart -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6031086390329', {'value':'0.00','currency':'INR'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6031086390329&amp;cd[value]=0.00&amp;cd[currency]=INR&amp;noscript=1" /></noscript>


<!-- begin olark code -->
            <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
                f[z]=function(){
                    (a.s=a.s||[]).push(arguments)};var a=f[z]._={
                },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
                    f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
                    0:+new Date};a.P=function(u){
                    a.p[u]=new Date-a.p[0]};function s(){
                    a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
                    hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
                    return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
                    b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
                    b.contentWindow[g].open()}catch(w){
                    c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
                    var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
                    b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
                loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
            /* custom configuration goes here (www.olark.com/documentation) */
            </script>

            <script> olark.configure('system.group', '99e8abe444388ac82672e6cd2ee0c49a');
            olark.configure('box.start_hidden', false);
            olark.identify('8072-747-10-2682');/*]]>*/
            </script>
            <!-- end olark code -->


  <div id="content">
  </div>


  <script>
    var CSRF_TOKEN = '{{csrf_token}}';
    var LANG = 'en';
    var CONTEXT_DATA = {{serialized_response.data|dump_json}};
    var TRAVEL_TOLL_FREE = '{{ settings.TRAVEL_TOLL_FREE }}';
    var SITE_URL = '{{settings.SITE_URL}}'
    var MEDIA_URL = '{% get_media_prefix %}';

  </script>
  <script src="{{ STATIC_URL }}travel_product/v1/build/steps.{{settings.WEBPACK_TRAVEL_ASSETS_HASH}}.bundle.js" type="text/javascript"></script>
</body>


