<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ company.name }}<small>at humanlly</small></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{% if is_people %}active{% endif %}"><a href="{% url 'people-list' %}">people</a></li>
                <li class="{% if is_kb %}active{% endif %}"><a href="{% url 'knowlede_base' %}">wiki</a></li>
                <li class="{% if is_review %}active{% endif %}"><a href="{% url 'reviews' %}">review</a></li>
                <li class="{% if is_hols or form.is_hols %}active{% endif %}"><a href="{% url 'holidays' %}">holidays</a></li>
                <!-- <li class="{% if is_benefits %}active{% endif %}"><a href="#">benefits</a></li> -->
            </ul>
            {% if request.user %}
            <p class="navbar-text navbar-right">
                <a href="{% url 'user_detail_by_username' request.user.username %}" class="navbar-link">{{ request.user.get_full_name }}</a>
                (<a href="{% url 'logout' %}" class="navbar-link">logout</a>)
            </p>
            {% endif %}
        </div>
    </div>
</nav>
