{% extends "blog/base_blog.html" %}

{% load manip_data tagging_tags  %}

{% block header_css %}
    <!--link rel="stylesheet" type="text/css" href="{{STATIC_URL}}demo/css/stylesheet.css"-->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/listnav.css">
{% endblock %}

{%block main%}
<div class="container main-container">
    <!-- Container Starts -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="breadcrumb"><a href="/">Coverfox</a> / <a href="{%url 'post_index'%}">Blog</a>{%if selected_category%} / <a href="{% url 'category_post_list' selected_category.slug%}">{{selected_category.title}}</a>{%endif%}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">

            <!-- Posts Start -->
            {%if jargon_list%}
            <div class="listWrapper">
                <ul id="big-tag-list" class="demo">
                    {% for tag in jargon_list %}
                        <li><a href="{{ tag.name|get_tag_search_url }}">{{ tag.name|title }}</a></li>
                    {%endfor%}
                </ul>
            </div>

            {%else%}
                <h4 style="color:#9d9d9d;margin:35px 0px;">There are currently no posts for this category. Coming soon!</h4>
            {%endif%}
            <!-- Posts End -->

        </div>

        <!-- Right Sidebar Starts -->
        <div class="col-lg-4">
            <div class="subscribe-box col-lg-offset-3">
                <form role="form"  class="subscribe_form" method='post' action='{% url "ajax_subscribe" %}'>
                    <div class="form-group">
                        <label for="subscribeInput">Subscribe to Coverfox Blog</label>
                        <input type="hidden" name="mtype" value="BLOG">
                        <input type="text" name="name" class="form-control" placeholder="Your name">
                        <input type="email" name="email" class="form-control" id="subscribeInput" placeholder="Enter your email id">
                        <p class="text-error form_errors" id="error_email"></p>
                    </div>
                    <button type="submit" class="btn btn-red">Subscribe</button>
                </form>
            </div>
            <ul class="nav vertical-nav-right col-lg-offset-3">
                <li class="navheader kaching">Categories</li>
                {%for cat in categories%}
                    {%ifequal cat.level 1 %}
                    <li {%ifequal selected_category cat%}class="active"{%endifequal%}>
                        <a href="{% url 'category_post_list' cat.slug%}">{{cat.title}}<span class="badge"></span></a>
                    </li>
                    {%endifequal%}
                {%endfor%}
                <li class="navheader kaching">Recommended Reads</li>
                {%for rr in recommended_reads%}
                <li>
                    <a href="{{ rr.url }}">{{ rr.title }}</a>
                </li>
                {%endfor%}
            </ul>
        </div>
        <!-- Right Sidebar Ends -->

    </div>
</div>
<!-- Container Ends-->

{%endblock main%}

{%block footer_js%}
<script src="{{STATIC_URL}}js/jquery-listnav-2.2.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('#big-tag-list').listnav({
            includeNums: false,
            noMatchText: 'We don\'t have any matching terms for this right now. We\'ll be adding them shortly.'
        });
    });
</script>
{% endblock %}
