{% extends "blog/base_blog.html" %}

{% load i18n %}


{%block main%}

<div class="container">
    <div class="row">
        <div class="col-lg-12 area">
            <div class="row fullpost">
                <div class="col-lg-6 col-lg-offset-2">
                    {%ifequal type "UNSUBSCRIBE_FEEDBACK_DONE"%}
                        <p>Thanks for your feedback. We promise to look into it and improve our services accordingly. We will get back to you in case we need more help. <br/> Read more <a href="{%url "post_index"%}">articles</a></p>
                        </p>
                        <p>-- Team Coverfox</p>
                    {%endifequal%}
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock main%}
