{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Articles{% endblock pagetitle %}
{% block custom_header_class %}article-detail-header{% endblock custom_header_class %}
{% block custom_body_class %}post-detail{% endblock custom_body_class %}
{% block pageheader %}
    {% include "flatpages:breadcrumbs.html" %}
    <div class="page-header-wrapper container">
        <div class="row">
            <div class="col-md-8">
                <h2><a href="/articles/"><span>&larr;</span>The Coverfox BlackBook</a></h2>
                <h3>The why, how, what of life, investment, insurance and money matters!</h3>
            </div>
        </div>
    </div>
{% endblock pageheader %}
{% block css %}
    <link href="{{STATIC_URL}}articles/css/style.css" rel="stylesheet">
{% endblock css %}

{% block js %}

    <script src="{{STATIC_URL}}flatpages/js/zepto.js"></script>

    <script type="text/javascript">
        var SITE_URL = '{{ settings.SITE_URL }}';
    </script>

    <script>
        var CSRF_TOKEN;
        $(function(){

            $.get("{%url 'get_token'%}", function(data){
                CSRF_TOKEN = data.csrf;
            }, 'json');
            $("#subForm").submit(function(e) {
                $("#subForm").find('.error').text('');

                $('.subscribe-btn').text("Please wait ..");

                e.preventDefault();

                var data = {};
                $("#subForm").serializeArray().map(function(item) {
                    data[item.name] = item.value;
                });

                console.log(data);
                data['csrfmiddlewaretoken'] = CSRF_TOKEN;

                $.post("/articles/ajax/subscribe/", data, function(data){
                    if (data.success){
                        console.log("******* PRODUCT CODE *******", '{{ post.category.title }}');
                        var product_code = 'HEALTH';
                        if ('{{post.category.title}}' == 'Health Insurance'){
                            product_code = 'HEALTH';
                        }else if ('{{ post.category.title }}' == 'Car Insurance'){
                            product_code = 'MOTOR'
                        }
                        window.dataLayer.push({
                            'event': 'GAEvent',
                            'hitType': 'event',
                            'eventCategory': product_code,
                            'eventAction': 'BlogSubscribed',
                            'eventLabel': '{{ post.slug }}',
                            'eventValue': 4
                        });
                        $("#subForm").find('.success').text("Thanks for subscribing! Continue browsing.");
                    }
                    else{
                        console.log("FALSE!!");
                        $("#subForm").find('.error').text(data.errors.email[0]);                        
                    }
                    $('.subscribe-btn').text("Subscribe");
                }, 'json');

            });


            var article_header_height = $('.header-wrapper').height() + $('.article-wrapper .category').height() + $('.article-wrapper h1').height() + $('.article-wrapper .teaser').height() + $('.article-meta .teaser').height();
            var floating_div = $('.share-popup-wrapper'),
                    floating_div_width = floating_div.width();

            var clone = floating_div.clone();
            floating_div.addClass('original');
            clone.addClass('landmark');
            clone.html('');
            floating_div.before(clone);

            $(window).on('scroll', function(){
                var scrollpos = $(window).scrollTop();
                var total_article_height = $('.article-content').height() + $('.article-header-image').height();
                if(scrollpos < article_header_height || scrollpos > (total_article_height + article_header_height)){
                    $('.article-topbar-wrapper,.share-popup-wrapper').removeClass('reveal');
                }
                else{
                    $('.article-topbar-wrapper,.share-popup-wrapper').addClass('reveal');
                }

                timeline_width = scrollpos/(total_article_height+article_header_height);
                $('.timeline').width(timeline_width*100+'%');


                var doc = $(this);
                var dist = $(this).scrollTop();

                var offset = $('.share-popup-wrapper.landmark').offset();
                var fromtop = offset.top;

                if (dist >= fromtop - 60) {
                    $('.share-popup-wrapper.original').addClass('stick-to-top').width(floating_div_width);
                } else {
                    $('.share-popup-wrapper.original').removeClass('stick-to-top');
                }

            });


        });

    </script>
    <script type="text/javascript">
        // blog widget iframes js
        var blog = 'coverfoxblog';
        var base_url = '{{ SITE_URL }}';
        (function loadScript(src, tp) {
            var s, r, t;
            r = false;
            s = document.createElement('script');
            s.type = 'text/javascript';
            s.src = src;
            s.addEventListener('load', function(){
                CF.init(tp);
            });
            t = document.getElementsByTagName('script')[0];
            t.parentNode.insertBefore(s, t);
        })('{{STATIC_URL}}lp-health/tp_widget/cf_loader.js', blog);
    </script>
    <script>
        function vote() {
            var xmlhttp;
            if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp=new XMLHttpRequest();
            } else {
            // code for IE6, IE5
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function () {
                if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                    document.getElementById("vote").innerHTML=xmlhttp.responseText;
                }
            }
            xmlhttp.open("POST","/articles/ajax/{{ object.id }}/",true);
            xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            xmlhttp.send("csrfmiddlewaretoken="+CSRF_TOKEN);
        }
    </script>
    {% endblock js %}
    {% block head %}
    <title>{%if meta.title%}{{meta.title}}{%else%} Coverfox Insurance{%endif%}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta property="og:site_name" content="Coverfox - Insurance Brokers" />
    <meta property="og:locale" content="en_us" />
    <meta property="og:title" content="{{meta.title}}" />
    <meta property="og:description" content="{{meta.description}}" />
    <meta property="og:image" content="{{meta.image}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{% if meta.url %}{{ meta.url }}{% else %}{{settings.SITE_URL}}{{meta.canonical}}{% endif %}" />
    <meta name="twitter:title" content="{{meta.title}}">
    <meta name="twitter:description" content="{{meta.description}}">
    <meta name="published_time" content="{{meta.published_time}}" />
    <meta name="modified_time" content="{{meta.modified_time}}" />
    <meta name="keywords" content="{{meta.keywords|join:" "}}" />
    <meta name="description" content="{{meta.description}}" />
    <meta name="author" content="{{meta.author}}" />
    <meta name='robots' content='index, follow' />
    <link href="https://plus.google.com/110481288431304590429/" rel="publisher" />
    <link rel="canonical" href="{{settings.SITE_URL}}{{meta.canonical}}" />
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />

{% endblock head %}
{% block content %}
    <section id="article">
        <div class="article-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 plnone article-container" itemscope itemtype="http://schema.org/BlogPosting">
                        <p class="category"><a href="{% url 'category_post_list' post.category.slug%}">{{post.category.title}}</a></p>
                        <h1 itemprop="headline">{{object.title}}</h1>
                        <div class="teaser" itemprop="description">
                            {{object.tease|linebreaks}}
                        </div>
                        <div class="meta">
                            by <span class="author">{{post.author.first_name}} {{post.author.last_name}}</span>
                        </div>

                        <div class="article-header-image">

                            {% if object.infographic %}
                                <img itemprop="image"  class="post-detail-image img-responsive" src="{{ object.infographic.url }}" alt="{{object.infographic.title}}"/>
                            {% else %}
                                <img itemprop="image" class="post-detail-image img-responsive" src="{{object.thumbnail.url_r}}" alt="{{object.title}}"/>
                            {% endif %}
                           <!--<div >Votes: <span id="vote">{{ object.votes }}</span></div>
                           <button onclick="vote()">Click</button> -->
                        </div>


                        <div class="article-content col-md-12" itemprop="articleBody">
                            {{object.body|safe}}
                        </div>
                        <meta itemprop="datePublished" content="{{ object.publish }}"/>
                        <span itemprop="author"  itemscope itemtype="http://schema.org/Person"><meta itemprop="name" content="{{ object.author.get_full_name }}"/></span>
                        <span itemprop="author"  itemscope itemtype="http://schema.org/Organization"><meta itemprop="name" content="Coverfox"/></span>
                        <div class="col-md-12 about-coverfox-wrapper visible-xs" style="margin-bottom:30px;">
                            <h3>About <img src="{{STATIC_URL}}global/img/logos/cf-dark-orange-h71.png" alt=""></h3>
                            <p>Coverfox is a smart new way of buying and managing your insurance. We help you find the best insurance plan at the most competitive prices, and hand hold you through the process of claims and managing your policy. Your Coverfox experience is unbiased, transparent, quick and spam free. </p>
                        </div>

                        <div class="author-meta col-md-12">
                            <div class="author-image" style="background-image: url({%if post.author.mugshot %}{{post.author.mugshot.url_s}}{%else%}{{post.author.extra.mugshot_url}}{%endif%})"></div>
                            <div class="author-about">
                                <h3>{{object.author.get_full_name}}</h3>
                                <p>{{object.author.extra.about}}</p>
                                <!--ul class="author-social">
                                    <li><a href="#">Twitter</a></li>
                                    <li><a href="#">LinkedIn</a></li>
                                </ul-->
                            </div>
                        </div>

                        <div class="article-comments col-md-12">
                            <div id="disqus_thread"></div>
                            <script type="text/javascript">

                                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                                var disqus_shortname = 'coverfox'; // required: replace example with your forum shortname
                                var disqus_identifier = 'blog{{object.id}}';
                                var disqus_title = '{{object.title}}';
                                var disqus_url = '{{settings.SITE_URL}}{{object.get_absolute_url}}';
                                //var disqus_category_id = '{{object.category.id}}';
                                /* * * DON'T EDIT BELOW THIS LINE * * */
                                (function() {
                                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                        </div>
                    </div>
                    <div class="col-md-4 post-detail-sidebar">
                        <div class="col-md-12 header-subscribe-form">
                            <h2>Subscribe to the BlackBook</h2>
                            <h4>Don't miss any of our articles, both serious and fun, on life, investment, insurance & money matters!</h4>
                            <form id="subForm">
                                {% csrf_token %}
                                <input type="hidden" name="mtype" value="BLOG" >
                                <input type="text" name="email" placeholder="Enter your email id" >
                                <button class="btn-cfox orange large subscribe-btn" >Subscribe</button>
                                <p class="error"></p>
                                <p class="success"></p>
                            </form>

                            <h3 class="social-header">Follow us</h3>
                            <ul class="social-icons">
                                <li><a target="_blank" href="https://www.facebook.com/Coverfox.Insurance"><img src="{{STATIC_URL}}articles/img/facebook-icon.png" alt="Follow us on Facebook"></a></li>
                                <li><a target="_blank" href="https://twitter.com/Coverfox"><img src="{{STATIC_URL}}articles/img/twitter-icon.png" alt="Follow us on Twitter"></a></li>
                                <li><a target="_blank" href="https://plus.google.com/+Coverfox/posts"><img src="{{STATIC_URL}}articles/img/gplus-icon.png" alt="Follow us on Google Plus"></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com/company/coverfox-insurance"><img src="{{STATIC_URL}}articles/img/linkedin-icon.png" alt="Follow us on LinkedIn"></a></li>
                            </ul>



                        </div>
                        <div class="col-md-12 about-coverfox-wrapper hidden-xs">
                            <h3>About <img src="{{STATIC_URL}}global/img/logos/cf-dark-orange-h71.png" alt=""></h3>
                            <p>Coverfox is a smart new way of buying and managing your insurance. We help you find the best insurance plan at the most competitive prices, and hand hold you through the process of claims and managing your policy. Your Coverfox experience is unbiased, transparent, quick and spam free. </p>
                        </div>

                        {% if post.category.title == "Car Insurance" %}
                            <div class="cfmotor_container col-md-12 pnone widget-iframe car"></div>
                        {% endif %}

                        {% if post.category.title == "Health Insurance" %}
                            <div class="coverfox_container col-md-12 pnone widget-iframe health"></div>
                        {% endif %}


                        <div class="col-md-12 share-popup-wrapper pnone">
                            <h3>Share this article</h3>
                            <ul>
                                <li>
                                    <iframe src="//www.facebook.com/plugins/like.php?href={{ settings.SITE_URL|urlencode:"" }}{{ object.get_absolute_url|urlencode:"" }}&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
                                </li>
                                <li>
                                    <a href="https://twitter.com/share" class="twitter-share-button" data-via="Coverfox">Tweet</a>
                                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                                </li>
                                <li>

                                    <!-- Place this tag where you want the +1 button to render. -->
                                    <div class="g-plusone" data-href="{{ settings.SITE_URL }}{{ object.get_absolute_url }}"></div>

                                    <!-- Place this tag after the last +1 button tag. -->
                                    <script type="text/javascript">
                                        (function() {
                                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                            po.src = 'https://apis.google.com/js/platform.js';
                                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                        })();
                                    </script>
                                </li>
                            </ul>
                            <!--h4><a href="/articles/">Read more from the <strong>BlackBook</strong></a></h4 -->
                            <h4>More from <strong>Coverfox BlackBook</strong></h4>
                            <div class="recommended-items-sidebar">

                                {% for item in recommended_reads|slice:":5" %}
                                    <a href="{{item.get_absolute_url}}">
                                        <div class="sidebar-r-item">
                                            <div class="row mnone">

                                                <div class="col-md-3 sidebar-r-item-img">
                                                    <img src="{{item.thumbnail.url_r}}" alt="" class="img-responsive">
                                                </div>
                                                <div class="col-md-9">
                                                    <h5>{{item.title}}</h5>
                                                </div>

                                            </div>

                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="article-topbar">
        <div class="article-topbar-wrapper">
            <div class="container">
                <div class="row">

                    <div class="col-md-8 timeline-wrapper plnone">
                        <div class="timeline">
                            <h3>{{ post.title|truncatechars:"120" }}</h3>
                        </div>
                        <h3>{{ post.title|truncatechars:"120" }}</h3>
                    </div>
                    <div class="col-md-4 topbar-readall hidden-xs hidden-sm">
                        <a href="/articles/">Read more from Coverfox Blackbook</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="recommended">
        <div class="recommended-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="section-label">Recommended Reads</div>
                    </div>
                    {% for item in recommended_reads|slice:":3" %}
                        <a href="{{item.get_absolute_url}}">
                            <div class="col-sm-4 col-md-4 recommended-item">
                                <div class="cover-bg" style="background-image:url({{item.thumbnail.url_r}})">
                                </div>
                                <div class="cover"></div>
                                <div class="item-meta">
                                    <h3>{{item.title}}</h3>
                                    <p>by <span class="author">{{item.author.first_name}} {{item.author.last_name}}</span></p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
