{% extends "base_admin.html" %}
{% load manip_data %}
{% load widget_tweaks %}


{% block popup %}

{% endblock %}

{% block main %}

<div id="seo_modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Seo Research</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span9">
                <form class="form-inline">
                    <div class="control-group">
                        <label>Anywhere <input type="text" id="sf_anywhere"/></label>
                    </div>
                    <div class="controls controls-row">
                        <input type="text" class="span4" id="sf_first" placeholder="first"/>
                        <input type="text" class="span4" id="sf_middle" placeholder="middle"/>
                        <input type="text" class="span4" id="sf_last" placeholder="last"/>
                    </div>
                    <div class="control-group">
                        <label class="radio"><input name="reltype" type="radio">None</label>
                        <label class="radio"><input name="reltype" type="radio" id="sf_related">Any relation</label>
                        <label class="radio"><input name="reltype" type="radio" id="sf_synonym">Synonym</label>
                        <label class="radio"><input name="reltype" type="radio" id="sf_sibling">Sibling</label>
                        <button class="btn" id="seo_filter" type="button">Go!</button>
                    </div>
                </form>
                <hr/>
                <p>
                    <ul id="seo_list"> </ul>
                </p>
            </div>
            <div class="span3">
                <ul id="selected_tags"></ul>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="overflow-y:scroll:height:100px;">
        <a href="javascript:void(0);" id="save_seo_keywords" class="btn btn-primary">Save keywords</a>
    </div>
</div>

<div class="row-fluid">
    <div class="span9 area">
        <div class="internal">
            {%if form.instance.id%}
            <form id="post_add_form" action="{% url 'ajax_post_edit' form.instance.id%}" method="post" enctype="multipart/form-data">
                {%else%}
                <form id="post_add_form" action="{%url 'ajax_post_add'%}" method="post" enctype="multipart/form-data">
                    {%endif%}
                    {%csrf_token%}
                    <div class="row-fluid">
                        <div class="span12">
                            <label class="flabel">Title</label>
                            <span class="help-inline field_error" id="id_title_cerror"></span>
                            {{ form.title|attr:"placeholder:Title of the article"|attr:"class:span12" }}
                            <span class="help-inline">"Primary Keyword - Secondary Keyword" (Less than 55 characters)</span>
                        </div>
                    </div>

                    <label class="flabel">Article Slug</label>
                    <p class="help-block field_error" id="id_slug_cerror"></p>
                    <div class="input-append">
                        {{ form.slug|attr:"class:span6" }}
                        <button class="btn" type="button" id="slug_check">Check availability</button>
                        <i class="icon-ok slug-status" id="slug-true"></i>
                        <i class="icon-remove slug-status" id="slug-false"></i>
                    </div>

                    <div class="row-fluid">
                        <label class="flabel">Blog text</label>
                        <p class="help-block field_error" id="id_body_cerror"></p>
                        <div class="span12">
                            {{form.body|attr:"class:input-block-level span12"|attr:"rows:20"}}
                        </div>
                    </div>

                    <label class="flabel">Article Teaser</label>
                    <p class="help-block field_error" id="id_tease_cerror"></p>
                    {{form.tease|attr:"class:input-block-level span10"|attr:"rows:3"}}

                    <label class="flabel">Category</label>
                    <span class="help-inline field_error" id="id_category_cerror"></span>
                    <div class="row-fluid">
                        {{form.category}}
                    </div>

                    <label class="flabel">Sub Category</label>
                    <span class="help-inline field_error" id="id_sub_category_cerror"></span>
                    <div class="row-fluid">
                        {{form.sub_category}}
                    </div>

                    <label class="flabel">Tags</label>
                    <span class="help-inline field_error" id="id_tags_cerror"></span>
                    {{ form.tags|attr:"placeholder:Tags"|attr:"class:span10" }}

                    <label class="flabel">Author</label>
                    <span class="help-inline field_error" id="id_author_cerror"></span>
                    {{ form.author|attr:"placeholder:Tags"|attr:"class:span10" }}

                    <label class="flabel">Status</label>
                    <span class="help-inline field_error" id="id_status_cerror"></span>
                    {{form.status|attr:"class:span5"}}

                    <label class="flabel">Related Posts</label>
                    <span class="help-inline field_error" id="id_related_posts_cerror"></span>
                    {{form.related_posts|attr:"class:span5"}}

                    <label class="flabel">Thumbnail</label>
                    <span class="help-inline field_error" id="id_thumbnail_cerror"></span>
                    {{form.thumbnail}}

                    <label class="flabel">Infographic</label>
                    <span class="help-inline field_error" id="id_infographic_cerror"></span>
                    {{form.infographic}}

                    <label class="flabel">Pdf</label>
                    <span class="help-inline field_error" id="id_pdf_cerror"></span>
                    {{form.pdf}}

                    <label class="flabel">Notes and Todos</label>
                    <span class="help-inline field_error" id="id_notes_todos_cerror"></span>
                    {{form.notes_todos}}

                    <div class="row-fluid" style="margin-top:10px;">
                        <button name="save" value="saveedit" type="submit" class="btn btn-primary">Save and continue editing</button>
                        <button name="save" value="save" type="submit" class="btn btn-primary">Save and preview</button>
                    </div>
                    {%if form.instance.id%}
                    <div class="row-fluid">
                        <a href="{%url 'post_detail_admin' form.instance.id%}" target="_blank">Saved article preview</a>
                    </div>
                    {%endif%}

                </form>
                {%if form.instance.id%}
                <hr/>
                <form id="seo_form" action="{% url 'ajax_seo_object_add' 'blog' 'post' form.instance.id %}" method="post">
                    <fieldset>
                        {%csrf_token%}
                        <legend>SEO Fields</legend>
                        <label class="flabel">Title</label>
                        <span class="help-inline field_error" id="id_seo_title_cerror"></span>
                        {{seo_form.title|attr:"class:span10"}}

                        <label class="flabel">Description</label>
                        <span class="help-inline field_error" id="id_seo_description_cerror"></span>
                        {{seo_form.description|attr:"class:input-block-level span10"|attr:"rows:3"}}

                        <label class="flabel">Keywords
                            <a href="#seo_modal" role="button" class="btn" data-toggle="modal">Keyword research</a>
                        </label>
                        <span class="help-inline field_error" id="id_seo_keywords_cerror"></span>
                        {{seo_form.keywords|attr:"class:span8"}}

                        <label class="flabel">Raw HTML</label>
                        <span class="help-inline field_error" id="id_seo_raw_cerror"></span>
                        {{seo_form.raw|attr:"class:input-block-level span10"|attr:"rows:3"}}

                        <div class="row-fluid" style="margin-top:10px;">
                            <button name="save" value="save" type="submit" class="btn btn-primary">Save SEO</button>
                        </div>
                    </fieldset>
                </form>
                {%endif%}
            </div>
        </div>
        <div class="span3 area">
        </div>
    </div>

    {%endblock%}

    {% block footer_js %}

    <!-- compressor fails with crossdomain, so do not put the following JS on static url -->
    {%ifequal settings.USE_WYSIWYG "LIVEEDITOR" %}
    <script src="{{STATIC_URL}}radmin/liveeditor/scripts/innovaeditor.js"></script>
    <script src="{{STATIC_URL}}radmin/liveeditor/scripts/innovamanager.js"></script>
    {%endifequal%}
    {%ifequal settings.USE_WYSIWYG "TINYMCE" %}
    <script src="{{STATIC_URL}}radmin/jquery_tinymce/jquery.tinymce.js"></script> 
    <!--<script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script> -->
    {%endifequal%}

    <script src="{{STATIC_URL}}radmin/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="{{STATIC_URL}}radmin/js/jquery.slugify.js"></script>
    <script src="{{STATIC_URL}}radmin/js/jquery.tagsinput.js"></script>
    <script src="{{STATIC_URL}}radmin/js/ui.multiselect.js"></script>

    <link href="{{STATIC_URL}}radmin/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/blog.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/jquery.tagsinput.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/ui.multiselect.css" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function(){
            {%ifequal settings.USE_WYSIWYG "LIVEEDITOR" %}
            $('#id_body').liveEdit({
                css : ['{{STATIC_URL}}global/css/bootstrap.css', '{{STATIC_URL}}flatpages/css/style.css', '{{STATIC_URL}}articles/css/style.css'],
                fileBrowser: '{% url "filebrowser:fb_browse"%}',
                returnKeyMode : 3, /*inserts paragraph when you press enter*/
                groups: [
                ["group1", "", ["Bold", "Italic", "Strikethrough", "Underline", "ForeColor", "RemoveFormat"]],
                ["group2", "", ["Bullets", "Numbering", "Indent", "Outdent"]],
                ["group3", "", ["Paragraph", "FontSize", "FontDialog", "TextDialog"]],
                ["group4", "", ["LinkDialog", "ImageDialog", "TableDialog", "Emoticons", "Snippets"]],
                ["group5", "", ["Undo", "Redo", "FullScreen", "SourceDialog"]]
                ] /* Toolbar configuration */
            });
            $('#id_body').data('liveEdit').startedit(); /* Run the Editor */
            {%endifequal%}

            {%ifequal settings.USE_WYSIWYG "TINYMCE" %}
            var clean_wrapper = function($element) {
                if($element.children().length == 1) {
                    return clean_wrapper($element.children());
                } else {
                    return $element.html();
                }

            }
            var strip_wysiwyg = function() {
                var tmceIframe = $(".mceIframeContainer iframe")[0].contentDocument || $(".mceIframeContainer iframe")[0].contentWindow.document;
                $post_content_wrapper = $(tmceIframe).find("body#tinymce").clone();
                var cleaned_html = clean_wrapper($post_content_wrapper);
                $($(tmceIframe).find("body#tinymce")[0]).html(cleaned_html);
            }

            var make_wysiwyg = function(inst){
                var tmceIframe = $(".mceIframeContainer iframe")[0].contentDocument || $(".mceIframeContainer iframe")[0].contentWindow.document;
                $(tmceIframe).find("body#tinymce").wrapInner("<div class="+"'article-wrapper'"+"><div class="+"'article-content'"+"></div></div>");
            }

            function dFileBrowser (field_name, url, type, win) {
                var cmsURL = '{%url "filebrowser:fb_browse"%}?pop=2';
                tinyMCE.activeEditor.windowManager.open({
                    file : cmsURL,
                    title : 'Filebrowser',
                    width : 980,  // Your dimensions may differ - toy around with them!
                    height : 500,
                    resizable : "yes",
                    scrollbars: 'yes',
                    inline : "no",
                    close_previous : "no",
                }, {
                    window : win,
                    input : field_name,
                });
                return false;
            }

            $('textarea#id_body').tinymce({
                script_url : '/static/radmin/jquery_tinymce/tiny_mce_src.js',
                content_css : ["{{STATIC_URL}}global/css/bootstrap.css", "{{STATIC_URL}}flatpages/css/style.css", "{{STATIC_URL}}articles/css/style.css", "//fonts.googleapis.com/css?family=Lato:300,400,700"],
                theme : "advanced",
                theme_advanced_blockformats: 'h1,h2,h3,h4,h5,h6',
                theme_advanced_buttons1: "undo,redo,blockquote,table,removeformat,formatselect,bold,italic,strikethrough,bullist,numlist,link,image,code,outdent, indent, fontsizeselect, alignleft, aligncenter, alignright, alignjustify, forecolor, backcolor, youtubeIframe",
                plugins: "table,paste,style,advimage,inlinepopups,youtubeIframe", //add plugin autoresize and made menu position fixed
                menubar : false,
                gecko_spellcheck : true,
                toolbar_items_size: 'small',
                file_browser_callback : dFileBrowser,
                init_instance_callback : make_wysiwyg,
                forced_root_block : "p",
                force_br_newlines : false,
                force_p_newlines : true,
                valid_elements: "@[src|href|style|border|alt|cellpadding|cellspacing|title|width|height|allowfullscreen|frameborder|class|id],object[classid|width|height|codebase|*],param[name|value|_value|*],embed[type|width|height|src|*], add|*"

            });
{%endifequal%}

$("#id_slug").slugify($('#id_title'));

        //////// SEO MODEL /////
        var phrase_list = JSON.parse('{{phrase_list|safe}}');
        var phrase_dict = {};
        for (var i = 0; i < phrase_list.length; i++) {
            phrase_dict[phrase_list[i][0]] = phrase_list[i][1].toLowerCase();
            $("#seo_list").append('<li class="stag"><a href="javascript:void(0);" title="'+phrase_list[i][2]+'" id="p_'+phrase_list[i][0]+'">'+phrase_list[i][1]+'</a></li>');
        }

        $("#seo_list").on('click', 'a', function(){
            $(this).addClass("selected");
            var etitle = $(this).attr("title");
            var eid = $(this).attr("id").split("_")[1];
            var etag = $(this).html();
            $("#selected_tags").append('<li><a class="selected" href="javascript:void(0);" title="'+etitle+'" id="s_'+eid+'">'+etag+'</a></li>');
        });

        $("#selected_tags").on('click', 'a', function(){
            var eid = $(this).attr('id').split("_")[1];
            $("#p_"+eid).removeClass("selected");
            $(this).parent().remove();
        });

        var word_list = JSON.parse('{{word_list|safe}}');
        var synonym = [];
        var sibling = [];
        var related = [];
        for (var i = 0; i < word_list.length; i++) {
            if(word_list[i][1] == "SYNONYM"){
                synonym.push(word_list[i][2])
            }
            if(word_list[i][1] == "SIBLING"){
                sibling.push(word_list[i][2])
            }
            related.push(word_list[i][2]);
        }

        var get_related = function(val){
            for(var i = 0; i < related.length; i++){
                for(var j = 0; j < related[i].length; j++){
                    if(val == related[i][j]){
                        return related[i];
                    }
                }
            }
            return [val];
        }
        var get_synonym = function(val){
            for(var i = 0; i < synonym.length; i++){
                for(var j = 0; j < synonym[i].length; j++){
                    if(val == synonym[i][j]){
                        return synonym[i];
                    }
                }
            }
            return [val];
        }
        var get_sibling = function(val){
            for(var i = 0; i < sibling.length; i++){
                for(var j = 0; j < sibling[i].length; j++){
                    if(val == sibling[i][j]){
                        return sibling[i];
                    }
                }
            }
            return [val];
        }

        $("#save_seo_keywords").click(function(){
            $("#selected_tags li a").map(function(){
                if (!$('#id_seo-keywords').tagExist($(this).text())){
                    $('#id_seo-keywords').addTag($(this).text());
                }
            })
            $("#seo_modal").modal('hide');
        });

        $("#seo_filter").click(function(){

            $(".stag").hide();
            var fanywhere = new Array($("#sf_anywhere").val().toLowerCase());
            fanywhere = _.without(fanywhere, "");
            var ffirst = new Array($("#sf_first").val().toLowerCase());
            ffirst = _.without(ffirst, "");
            var fmiddle = new Array($("#sf_middle").val().toLowerCase());
            fmiddle = _.without(fmiddle, "");
            var flast = new Array($("#sf_last").val().toLowerCase());
            flast = _.without(flast, "");

            var frelated = $("#sf_related").is(":checked");
            var fsibling = $("#sf_sibling").is(":checked");
            var fsynonym = $("#sf_synonym").is(":checked");

            if(frelated){
                if(fanywhere.length > 0){
                    fanywhere = get_related(fanywhere[0]);
                }
                if(ffirst.length > 0){
                    ffirst = get_related(ffirst[0]);
                }
                if(fmiddle.length > 0){
                    fmiddle = get_related(fmiddle[0]);
                }
                if(flast.length > 0){
                    flast = get_related(flast[0]);
                }
            }

            if(fsibling){
                if(fanywhere.length > 0){
                    fanywhere = get_sibling(fanywhere[0]);
                }
                if(ffirst.length > 0){
                    ffirst = get_sibling(ffirst[0]);
                }
                if(fmiddle.length > 0){
                    fmiddle = get_sibling(fmiddle[0]);
                }
                if(flast.length > 0){
                    flast = get_sibling(flast[0]);
                }
            }

            if(fsynonym){
                if(fanywhere.length > 0){
                    fanywhere = get_synonym(fanywhere[0]);
                }
                if(ffirst.length > 0){
                    ffirst = get_synonym(ffirst[0]);
                }
                if(fmiddle.length > 0){
                    fmiddle = get_synonym(fmiddle[0]);
                }
                if(flast.length > 0){
                    flast = get_synonym(flast[0]);
                }
            }
            //console.log("fanywhere ffirst fmiddle flast", fanywhere, ffirst, fmiddle, flast);
            var flist = [];
            for(var key in phrase_dict) {
                if(fanywhere.length > 0){
                    var found = false;
                    for(var i = 0; i < fanywhere.length; i++){
                        if(phrase_dict[key].indexOf(fanywhere[i]) > -1){
                            found = true;
                            break;
                        }
                    }
                    if(!found){
                        continue;
                    }
                }
                if(ffirst.length > 0){
                    var found = false;
                    for(var i = 0; i < ffirst.length; i++){
                        if(phrase_dict[key].split(/\b/)[0] == ffirst[i]){
                            found = true;
                            break;
                        }
                    }
                    if(!found){
                        continue;
                    }
                }
                if(fmiddle.length > 0){
                    var found = false;
                    for(var i = 0; i < fmiddle.length; i++){
                        if(phrase_dict[key].indexOf(" " + fmiddle[i] + " ") > -1){
                            found = true;
                            break;
                        }
                    }
                    if(!found){
                        continue;
                    }
                }
                if(flast.length > 0){
                    var found = false;
                    for(var i = 0; i < flast.length; i++){
                        var reg = new RegExp(" " + flast[i] + "$", "g");
                        if(phrase_dict[key].match(reg)){
                            found = true;
                            break;
                        }
                    }
                    if(!found){
                        continue;
                    }
                }
                flist.push(key);
                $("#p_"+key).parent().show();
            }
        });

$(".slug-status").hide();
$("#slug_check").click(function(){
    $.post("{%url 'slug_check' 'blog' 'Post' %}", {'slug':$('#id_slug').val(), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
           function(data){
            var d = JSON.parse(data);
            $(".slug-status").hide();
            if(d.success){
                $("#slug-true").show();
            }else {
                $("#slug-false").show();
            }
        }
        );
});

$('.field_error').hide();
$("#post_add_form").ajaxForm({
    beforeSubmit: function(arr, $form, options){
        {%ifequal settings.USE_WYSIWYG "TINYMCE" %}
        strip_wysiwyg();
        $.each(arr, function(i,a){
            if(a.name=='body'){
                var tmceIframe = $(".mceIframeContainer iframe")[0].contentDocument || $(".mceIframeContainer iframe")[0].contentWindow.document;
                $post_content_wrapper = $(tmceIframe).find("body#tinymce").html();
                a.value = $post_content_wrapper;
            }
        });
        {%endifequal%}
    },
    success : function (data) {
        var fdata = JSON.parse(data);
        console.log("Fdata", fdata);
        if(fdata.success){
            window.location.href = fdata.response.redirect;
        } else {
            $('.field_error').hide().html("");
            $.each(fdata.errors, function(k,v){
                $("#id_"+k+"_cerror").show().html(v.join(","));
            })
            {%ifequal settings.USE_WYSIWYG "TINYMCE" %}
            make_wysiwyg();
            {%endifequal%}
        }
    },
});

$("#seo_form").ajaxForm({
    success : function (data) {
        var fdata = JSON.parse(data);
        if(fdata.success){
            window.location.reload();
        } else {
            $('.field_error').hide().html("");
            $.each(fdata.errors, function(k,v){
                $("#id_"+k+"_cerror").show().html(v.join(","));
            })
        }
    },
});

$("#subscribe").ajaxForm({
    success : function(data){
        var fdata = JSON.parse(data);
    },
});

$('#id_related_posts').multiselect();

$('#id_tags').tagsInput({
    'autocomplete_url': '{%url "ajax_get_tags"%}',
    'minChars' : 1,
});

var bind_seo_keywords = function() {
    $('#id_seo-keywords').tagsInput({
        'autocomplete_url': '{%url "get_seo_keywords"%}',
        'minChars' : 1,
    });
}
bind_seo_keywords();

});
</script>

{% endblock %}
