{% extends "blog/base_blog.html" %}

{% load i18n %}
{% load manip_data tagging_tags  %}
{% load compress %}

{%block header_css%}
<style>
    body{
        background: #FFF;
    }
    #recommendations{
        margin-top:0px;
    }
    #content h1{
        font-size:40px;
        color:#E24F05;
    }
    .recco-post{
        padding-left: 0;
        margin-bottom:20px;
    }
    #recco-posts{
        margin-top:30px;
    }
</style>
{%endblock header_css%}


{%block main%}

<div class="container" id="content" >
    <div class="row" style="position: relative;">
        <div id="rupy-who-is-important" style="position:absolute;bottom: 0;left: 15%;">
            <div><img style="width:500px;" src="{{STATIC_URL}}img/who_is_important_to_you.jpg" /></div>
        </div>
        <div class="col-lg-7 weight-setting big-welcome-text">
            <h1 style="margin-top: 15px;line-height: 0.4;">Thank You, {%if subscriber.name%}{{subscriber.name}}{%endif%}</h1>
            <h2 style="margin-top: 40px;line-height: 0.4;">Great to have you onboard!</h2>
            <h3 style="line-height: 0.4;">We will get cracking on your insurance review. We'll keep you posted.</h3>
            <h3 style="line-height: 0.4;">Sharper and smarter protection, coming you way.</h3>
        </div>
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-4 well" style="margin-top:20px;padding-bottom:20px;">
            <!--h2 style="color: #E24F05;font-size: 26px;font-weight: normal;line-height: 1.2em;">Who is important to you?</h2-->
            <div id="post_invite_success" class="hide">
                <img width="100%" src="{{STATIC_URL}}img/we_love_you.png" />
            </div>
            <div id="pre_invite_success">
                <h4 style="font-weight:normal;">We care about the people you care about.</h4>
                <h4 style="font-weight:normal;">Help the important people in your life manage their Insurance better too.</h4>
                <strong style="color:#999999;">Let 3 friends/family members know about this expert review</strong><br /><br />
                <form id="invite_form" action="{%url 'ajax_invite' %}" method='post'>
                    <input type="hidden" name="invited_by_email" value="{{subscriber.email}}">
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input name="email1" type="text" class="form-control" placeholder="Email address of friends / family">
                    </div>
                    <p class="text-error form_errors" id="error_email1"></p> <br/>
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input name="email2" type="text" class="form-control" placeholder="Email address of friends / family">
                    </div>
                    <p class="text-error form_errors" id="error_email2"></p> <br/>
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input name="email3" type="text" class="form-control" placeholder="Email address of friends / family">
                    </div>
                    <p class="text-error form_errors" id="error_email3"></p> <br/>
                    <button type="submit" class="btn btn-red btn-lg btn-full">Invite my friends</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="recommendations">
    <div class="container">
        <h1>Recommended articles <a href="{%url "post_index"%}" class="btn btn-info">See all &raquo;</a> </h1>

        <div class="row">
            {%for relp in recommended_reads%}
            <div class="col-lg-3 recommended-item">
                <a href="{{relp.get_absolute_url}}">
                <img class="post-thumbnail" src="{{relp.thumbnail.url_t}}" alt="{{relp.title}}">
                <h3>{{relp.title}}</h3>
                </a>
            </div>
            {%endfor%}
        </div>
    </div>
</div>

{%endblock%}
