{% extends "blog/base_blog.html" %}

{% load i18n %}
{% load manip_data tagging_tags  %}
{% load compress %}
{% block seo %}
    {% if meta.raw %}
    {{meta.raw|safe}}
    {% else %}
    {{ block.super }}
    {% endif %}
{% endblock %}
{%block header_css%}
    <link rel="stylesheet" href="{{STATIC_URL}}css/company_page.css">
{%endblock header_css%}

{%block main%}
    <div itemscope itemtype="http://schema.org/Article" class="container main-container">
        <meta itemprop="description" content="{{meta.description}}">

        <div class="row">
            <article id="post-{{object.id}}" class="type-post status-{{object.get_status_display}}">

                <div class="col-sm-12 col-lg-12 fullpost post-content post-detail">
                    {%if request.user.is_staff%}
                        <a href="{% url 'article_edit' object.slug %}">edit</a><br/>
                    {%endif%}
                    <div class="full-post-titlebox">
                        <h1 itemprop="name" class="post-title">{{object.title}}</h1> <br>
                    </div>
                    <div itemprop="articleBody">
                        {{object.body|safe}}
                        <div class="well coverfox_contact">
                            <h5>For enquiries or to buy plans of {{ object.title }}</h5>
                            <a href="/health-plan/contact-me/" target="_blank" class="btn btn-info">
                                <span style="font-size: 16px;">Schedule a call</span><br/>We will call you at your convenience
                            </a>
                            <br/>
                            You can also get in touch with us at: <span class="highlight_contact">{{ settings.GENERAL_TOLL_FREE }}</span>
                            or <a href="mailto:{{ settings.GENERAL_CONTACT_MAIL }}" target="_blank">{{ settings.GENERAL_CONTACT_MAIL }}</a>
                        </div>
                        {% if object.summary %}
                            <code>
                                {{ object.summary|safe }}
                            </code>
                        {% endif %}
                    </div>
                    <div class="well">
                        <button onclick="location.href='/health-plan/'" class="blog_cta" style="width:100%">
                            Find out which health plan works best for you.<br />Compare Now! &raquo;
                        </button>
                    </div>
                </div>
            </article>
        </div>

        <meta itemprop="url" content="{{settings.SITE_URL}}{{object.get_absolute_url}}">
    <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="Coverfox">
        <meta itemprop="url" content="{{settings.SITE_URL}}">
        <meta itemprop="image" content="{{settings.SITE_URL}}{{STATIC_URL}}img/coverfox-logo.png">
    </span>
        <!--span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <meta itemprop="ratingValue" content="4">
        </span-->
    </div>

{%endblock%}


{%block footer_js%}
    {%compress js%}
        <script type="text/javascript" src="{{STATIC_URL}}js/waypoints.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/waypoints-sticky.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.rateit.js"></script>

        <script type="text/javascript">
            /* article/infographic view js */
            $(function(){
                $(window).scrollTop(0);
                /*$('.fullpost').waypoint(function(direction) {
                 if(direction=="down"){
                 $("#notification-panel").addClass("showpanel");
                 }
                 if(direction=="up"){
                 $("#notification-panel").removeClass("showpanel");
                 }

                 }, {
                 offset: function() {
                 return -$(this).height()/2;
                 }
                 });*/

                $("#rateit5").bind('rated', function (event, value) {
                    console.log("Rated ", value);
                });

                if ($("#subscribe-right").length > 0) {
                    var top_offset = $("#topbar").height();
                    $("#subscribe-right").css('margin-top', $($(".post-detail-image")[0]).position().top);
                    $("#subscribe-right").waypoint(function(direction){
                        if(direction == "down"){
                            $("#subscribe-right").css('margin-top', 0);
                            $(this).addClass("subscribe-stuck");
                        }
                        if(direction == "up"){
                            $("#subscribe-right").css('margin-top', $($(".post-detail-image")[0]).position().top);
                            $(this).removeClass("subscribe-stuck");
                        }
                    },{
                        offset: top_offset
                    });
                }

                $('.fullpost').waypoint(function(direction) {
                    if(direction=="down"){
                        //$("#notification-panel").removeClass("showpanel");
                        $('#fullpost-share').removeClass('share-stuck');
                        $("#subscribe-right").removeClass('subscribe-stuck');
                        $("#subscribe-right").css('margin-top', $(window).scrollTop() - top_offset);
                    }
                    if(direction=="up"){
                        //$("#notification-panel").addClass("showpanel");
                        $('#fullpost-share').addClass('share-stuck');
                        $("#subscribe-right").css('margin-top', 0);
                        $("#subscribe-right").addClass('subscribe-stuck');
                    }
                }, {
                    offset: 'bottom-in-view'
                });

                $('#fullpost-share').waypoint('sticky', {
                    stuckClass: 'share-stuck',
                    offset: 160
                });

                //-------------------------------------------------

                var stick_objects = function(stick_what, top_offset,initial_position, stuck_class, container){

                    $(stick_what).css('margin-top', initial_position);
                    $(stick_what).waypoint(function(direction){
                        if(direction == "down"){
                            $(stick_what).css('margin-top', 0);
                            $(this).addClass(stuck_class);
                        }
                        if(direction == "up"){
                            $(stick_what).css('margin-top', initial_position);
                            $(this).removeClass(stuck_class);
                        }
                    },{
                        offset: top_offset
                    });

                    $(container).waypoint(function(direction) {
                        if(direction=="down"){
                            $(stick_what).removeClass(stuck_class);
                            $(stick_what).css('margin-top', $(window).scrollTop() - top_offset);
                        }
                        if(direction=="up"){
                            $(stick_what).css('margin-top', 0);
                            $(stick_what).addClass(stuck_class);
                        }
                    }, {
                        offset: 'bottom-in-view'
                    });
                };
                //--------------------------------------------------
            });
        </script>
    {%endcompress%}
{%endblock%}
