<header>
    <section id="topbar">
        <div id="topbar-wrapper">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="#"><img src="/static/health_product/desktopv2/app/assets/img/cf-logo-white.png" alt="Coverfox.com"/></a>
            </div>
        </div>
    </section>
</header>

<section id="sidebar">
    <div id="sidebar-wrapper">

    </div>
</section>


<section id="form">
    <div id="form-wrapper">

        <ul class="steps-index">
            <li><span>1</span> Proposer Details</li>
            <li><span>2</span> Vehicle Details</li>
            <li><span>3</span> Contact Address</li>
        </ul>

        <div id="step1" class="step container-fluid">
            <div class="row">
                <div class="step-section col-md-12">
                    <div class="col-md-2 text-right step-section-label">
                        Your name
                    </div>
                    <div class="col-md-9">
                        <ul class="step-section-input">
                            <li>
                                <input-widget params="{
                                            customClass: 'small',
                                            fieldValue: userDetails.cust_first_name,
                                            label: 'First Name',

                                        }"></input-widget>
                            </li>

                            <li>
                                <input-widget params="{
                                            customClass: 'small',
                                            fieldValue: userDetails.cust_last_name,
                                            label: 'Last Name',

                                        }"></input-widget>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="step-section col-md-12">
                    <div class="col-md-2 text-right step-section-label">
                        Gender
                    </div>
                    <div class="col-md-9">
                        <ul class="step-section-input">
                            <li>
                                <multiselect-widget params="{items:[
                                    {selectedValue: userDetails.cust_gender, data: ['Male', 'Female'], defaultText:'Choose Gender' },
                                    ], hideSearch: true, customClass: 'small'}"></multiselect-widget>
                            </li>

                        </ul>
                    </div>
                </div>


                <div class="step-section col-md-12">
                    <div class="col-md-2 text-right step-section-label">
                        Your date of birth
                    </div>
                    <div class="col-md-9">
                        <ul class="step-section-input">
                            <li>
                                <date-input-widget params="{selectedValue: userDetails.cust_dob}"></date-input-widget>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="step-section col-md-12">
                    <div class="col-md-2 text-right step-section-label">
                        Marital Status
                    </div>
                    <div class="col-md-9">
                        <ul class="step-section-input">
                            <li>
                                <multiselect-widget params="{items:[
                                    {selectedValueParsed: userDetails.cust_marital_status, data: [{key:'Married', value:1},{key:'Unmarried', value:0}], optionText: 'key', optionValue: 'value' },
                                    ], hideSearch: true, customClass: 'small'}"></multiselect-widget>
                            </li>

                        </ul>
                    </div>
                </div>


                <div class="step-section col-md-12">
                    <div class="col-md-2 text-right step-section-label">
                        Occupation
                    </div>
                    <div class="col-md-9">
                        <ul class="step-section-input">
                            <li>
                                <multiselect-widget params="{items:[
                                    {selectedValueParsed: userDetails.cust_occupation, data: occupation_list, optionText: 'key', optionValue: 'value' },
                                    ], customClass: 'small'}"></multiselect-widget>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="step-section col-md-12">
                    <div class="col-md-2 text-right step-section-label">
                        PAN Details
                    </div>
                    <div class="col-md-9">
                        <ul class="step-section-input">
                            <li>
                                <input-widget params="{
                                            customClass: 'small',
                                            fieldValue: userDetails.cust_pan,
                                            label: 'Your Pan Number',
                                        }"></input-widget>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="step-section col-md-12">
                    <div class="col-md-2 text-right step-section-label">
                        Your father's name
                    </div>
                    <div class="col-md-9">
                        <ul class="step-section-input">

                                <li>
                                        <input-widget params="{
                                            customClass: 'small',
                                            fieldValue: userDetails.father_first_name,
                                            label: 'Father\'s First Name',

                                        }"></input-widget>
                                    </li>

                                    <li>
                                        <input-widget params="{
                                            customClass: 'small',
                                            fieldValue: userDetails.father_last_name,
                                            label: 'Father\'s Last Name',

                                        }"></input-widget>
                                    </li>


                        </ul>
                    </div>
                </div>

                <div class="step-section col-md-12">
                    <div class="col-md-2 text-right step-section-label">
                        Nominee Details
                    </div>
                    <div class="col-md-9">
                        <ul class="step-section-input">
                            <li>
                                        <input-widget params="{
                                            customClass: 'small',
                                            fieldValue: userDetails.nominee_name,
                                            label: 'Nominee Name',

                                        }"></input-widget>
                                    </li>

                                    <li>
                                        <input-widget params="{
                                            customClass: 'small',
                                            fieldValue: userDetails.nominee_age,
                                            label: 'Nominee Age',

                                        }"></input-widget>
                                    </li>

                        </ul>
                    </div>
                </div>

                <div class="step-section col-md-12">

                    <div class="col-md-2 text-right step-section-label">

                    </div>
                    <div class="col-md-9">
                        <a class="btn-cfox blue large next">Go to Step 2</a>
                    </div>


                </div>





            </div>
        </div>

        <div id="step2" class="step container-fluid">
            <div class="row">
                 <div class="step-section col-md-12">
                    <div class="col-md-2 text-right step-section-label">
                        Registration Number
                    </div>
                    <div class="col-md-9">
                        <ul class="step-section-input">
                            <li>
                                        <input-widget params="{
                                            customClass: 'small',
                                            fieldValue: userDetails.vehicle_reg_no,
                                            label: 'Registration Number',

                                        }"></input-widget>
                                    </li>

                        </ul>
                    </div>
                </div>


                <div class="step-section col-md-12">
                    <div class="col-md-2 text-right step-section-label">
                        Registration Date
                    </div>
                    <div class="col-md-9">
                        <ul class="step-section-input">
                            <li>
                                <date-input-widget params="{selectedValue: userDetails.vehicle_reg_date}"></date-input-widget>
                            </li>

                        </ul>
                    </div>
                </div>



                 <div class="step-section col-md-12">
                    <div class="col-md-2 text-right step-section-label">
                        Body Details
                    </div>
                    <div class="col-md-9">
                        <ul class="step-section-input">
                             <li>
                                        <input-widget params="{
                                            customClass: 'small',
                                            fieldValue: userDetails.vehicle_engine_no,
                                            label: 'Engine Number',

                                        }"></input-widget>
                                    </li>

                                    <li>
                                        <input-widget params="{
                                            customClass: 'small',
                                            fieldValue: userDetails.vehicle_chassis_no,
                                            label: 'Chassis Number',

                                        }"></input-widget>
                                    </li>

                        </ul>
                    </div>
                </div>

                <div class="step-section col-md-12">

                    <div class="col-md-2 text-right step-section-label">

                    </div>
                    <div class="col-md-9">
                        <a class="btn-cfox blue large next">Go to Step 3</a>
                    </div>


                </div>
            </div>
        </div>

    </div>
</section>