@import "colors.less";
@baseFont: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;


.fullWidthBackground{
  -webkit-background-size: cover; 
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center center;
}

.boxShadow(@value){
  -webkit-box-shadow: @value;
  -moz-box-shadow: @value; 
  box-shadow: @value;
}

.roundedCorners(@radius: 3px){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.transform(@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}

.gradient (@startColor: #eee, @endColor: transparent) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}


.transition (@range: all, @time: 0.5s, @ease: cubic-bezier(0.25, 0.8, 0.25, 1)) {
  -moz-transition: @range @time @ease;
  -webkit-transition: @range @time @ease;
  -o-transition: @range @time @ease;
  transition: @range @time @ease;
}

.transform-transition(@time: 0.5s, @ease: cubic-bezier(0.25, 0.8, 0.25, 1)){
   -moz-transition: -moz-transform @time @ease, opacity @time @ease, visibility @time @ease;
  -webkit-transition: -webkit-transform @time @ease, opacity @time @ease, visibility @time @ease;
  -o-transition: -o-transform @time @ease, opacity @time @ease, visibility @time @ease;
  -ms-transition: -ms-transform @time @ease, opacity @time @ease, visibility @time @ease;
  transition: transform @time @ease, opacity @time @ease, visibility @time @ease;
}

.icon-bg(@image, @xsize:100%, @ysize:100%, @xpos:0, @ypos:50%){
  background-image: url(@image);
  background-size: @xsize @ysize;
  background-repeat: no-repeat;
  background-position: @xpos @ypos;
}

.disable-select(){
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cf-button(@color: @orange){
  display: inline-block;
  background: @color;
  .BoxShadowHelper(1);
  padding:10px 15px;
  text-align: center;
  .roundedCorners;
  cursor: pointer;
  font-size: 14px;
  .transition(@time:200ms);
  outline:none;
    white-space: nowrap;
  &:hover{
    background: darken(@color, 5%);
    .BoxShadowHelper(2);
  }
  &:active{
    background: darken(@color, 10%);
  }
  .cf-btn-label{
    color:#fff;
  }
  .disable-select;
}


.BoxShadowHelper(@level: 1){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}

.flex-container{
      display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}


.btn{
  .boxShadow(~"0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)");
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  .roundedCorners(2px);
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .transition(@time:200ms);
  &.small{
    font-size: 10px;
    .boxShadow(none);
    padding:3px 5px;
    margin-left: 5px;
  }

  &:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  &.blue{
    color:#fff;
    background-color: @blue;
    border: 1px solid darken(@blue, 5%);
    &:hover{
      background: darken(@blue, 5%);
    }
    &:active{
      background: darken(@blue, 10%);
    }
    &.empty{
      background: transparent;
      color:@blue;
      border: 1px solid @blue;
      &:hover{
        background: @blue;
        color:#fff;
      }
    }
  }
  &.orange-flat{
    .boxShadow(none);
    color:#fff;
    background-color: @orange;
    border: 1px solid darken(@orange, 5%);
    &:hover{
      background: darken(@orange, 5%);
    }
    &:active{
      background: darken(@orange, 10%);
    }
    &.empty{
      background: transparent;
      color:@orange;
      border: 1px solid @orange;
      &:hover{
        background: @orange;
        color:#fff;
      }
    }
  }
  &.btn-inline-label{
    font-size: 22px;
      padding-top: 20px;
      border-radius: 3px;
  }
  &.grey{
    // background-color: @grey-2;
    .boxShadow(none);

    color:@baseDark;
    &:hover{
      background: darken(@grey-2, 5%);
    }
    &:active{
      background: darken(@grey-2, 10%);
    }
  }
  &.muted-green{
    background-color: @muted-green;
    border: 1px solid darken(@muted-green, 5%);
  }
}

.btn-inline-label{
  position: relative;

  .btn-label{
    position: absolute;
      top: 5px;
      left: 15px;
      color: rgb(255, 255, 255);
      opacity: .8;
      font-size: 15px;
  }
}
