.fullWidthBackground {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}
.btn {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-size: 16px;
  color: #ffffff;
  padding: 5px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: all 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn.small {
  font-size: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 3px 5px;
  margin-left: 5px;
}
.btn:hover {
  text-decoration: none;
  color: #ffffff;
}
.btn.blue {
  color: #fff;
  background-color: #1aa2d8;
  border: 1px solid #1791c1;
}
.btn.blue:hover {
  background: #1791c1;
}
.btn.blue:active {
  background: #1580aa;
}
.btn.blue.empty {
  background: transparent;
  color: #1aa2d8;
  border: 1px solid #1aa2d8;
}
.btn.blue.empty:hover {
  background: #1aa2d8;
  color: #fff;
}
.btn.orange-flat {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
  background-color: #ff6127;
  border: 1px solid #ff4e0d;
}
.btn.orange-flat:hover {
  background: #ff4e0d;
}
.btn.orange-flat:active {
  background: #f34100;
}
.btn.orange-flat.empty {
  background: transparent;
  color: #ff6127;
  border: 1px solid #ff6127;
}
.btn.orange-flat.empty:hover {
  background: #ff6127;
  color: #fff;
}
.btn.btn-inline-label {
  font-size: 22px;
  padding-top: 20px;
  border-radius: 3px;
}
.btn.grey {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #314451;
}
.btn.grey:hover {
  background: #e0e0ea;
}
.btn.grey:active {
  background: #d1d1df;
}
.btn.muted-green {
  background-color: #00d9aa;
  border: 1px solid #00c096;
}
.btn-inline-label {
  position: relative;
}
.btn-inline-label .btn-label {
  position: absolute;
  top: 5px;
  left: 15px;
  color: #ffffff;
  opacity: .8;
  font-size: 15px;
}
.header-wrapper {
  height: 64px;
  background: #314451;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 16px;
  z-index: 1400;
}
.hamburger-menu,
.logo,
.page-title {
  float: left;
}
.hamburger-menu {
  width: 48px;
  height: 48px;
  position: relative;
  top: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 12px;
  background-image: url('../img/icons/hamburger.png');
  cursor: pointer;
}
.page-title {
  font-size: 20px;
  line-height: 64px;
  position: relative;
  font-weight: 300;
  opacity: 0.7;
}
.page-title:before {
  content: '';
  width: 0.3em;
  margin: 0 0.8em 0 0.8em;
  background-repeat: no-repeat;
  background-image: url('../img/icons/right-arrow-white.png');
  background-size: contain;
  background-position: right center;
  float: left;
  height: 64px;
}
.bar-text {
  font-size: 16px;
  line-height: 64px;
  position: relative;
  font-weight: 300;
  opacity: 1;
  padding-right: 30px;
}
.logo {
  line-height: 60px;
  cursor: pointer;
}
.logo img {
  height: 24px;
  margin-left: 8px;
}
