@orangeBaseColor : #F78460;
@greenBaseColor : #4FC8B0;
@invertBaseColor: #8d8d8d;
@defaultBaseColor: #f4f5f5;
@darkerColor: rgba(0,0,0,0.15);
@baseFont: 'Open Sans','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
@baseTextColor: #363636;
@lightTextColor: #666666;
@zIndexOverlay: 100;
@zIndexMenus: 60;


.roundedCorners(@radius: 3px){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.noDecoration {
  outline:none;
  text-decortion:none;
  box-shadow:none;
}

.pnone {
    padding:0px;
}
.mnone {
    margin:0px;
}
.mpoint {
    cursor:pointer;
}
.bnone {
    border:none !important;
}
.fivePxM {
  margin-left:-5px;
  margin-right:-5px;
}
.cubic-trans {
    -webkit-transition: all 0.3s cubic-bezier(.21, .20, .23, 1);
    -moz-transition: all 0.3s cubic-bezier(.21, .20, .23, 1);
    -o-transition: all 0.3s cubic-bezier(.21, .20, .23, 1);
    -ms-transition: all 0.3s cubic-bezier(.21, .20, .23, 1);
    transition: all 0.3s cubic-bezier(.21, .20, .23, 1);
}
.trans-delay(@delay) {
  -webkit-transition-delay: @delay;
  -moz-transition-delay: @delay;
  -ms-transition-delay: @delay;
  -o-transition-delay: @delay;
  transition-delay: @delay;
}

.linear-gradient(@startColor,@endColor,@borderColor) {
  border-color:@borderColor;
  background-color: @startColor;
  background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(top, @startColor, @endColor);
  background-image: -moz-linear-gradient(top, @startColor, @endColor);
  background-image: -ms-linear-gradient(top, @startColor, @endColor);
  background-image: -o-linear-gradient(top, @startColor, @endColor);
  background-image: linear-gradient(to bottom, @startColor, @endColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=@startColor, endColorstr=@endColor);
}

.container-fluid,.container {
  max-width:767px;
  margin:auto;
}
/* Nav bar top css */
.cf-navbar {
  position: fixed;
  width:100%;
  top:0px;
  left:0px;
  height:40px;
  min-height: 40px;
  z-index:@zIndexMenus;
  background-color:@motorBaseColor;
  border-bottom:2px solid @darkerColor;
  .cf-navbar-brand {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    height:40px;
    padding: 9px 0px;
    img {
      width:80px;
    }
  }
  .link {
    cursor:pointer;
    display: inline-block;
    height: 36px;
    padding: 5px;
    position: relative;
    text-align: center;
    top: 4px;
    width: 36px;
    img {
      width:21px;
    }
    &.text {
      width:auto;
      color:#ffffff;
      font-size:12px;
    }
    & .tip {
      background-color: rgba(0, 0, 0, 0.9);
      color: #FFFFFF;
      display: block;
      font-size: 10px;
      font-weight: bold;
      right: 0px;
      padding: 10px;
      position: absolute;
      text-align: left;
      top: 105%;
      width: 250px;
      .roundedCorners(2px);
    }
    & .tip:after {
      border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.8);
      border-style: solid;
      border-width: 8px;
      content: "";
      display: block;
      right: 14px;
      position: absolute;
      top: -16px;
    }
    & .tip > span {
      font-weight:300;
    }
    & .tip > strong {
      height: 30px;
      display: inline-block;
      width: 40px;
      right: 0;
      text-align: center;
      font-size: 15px;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      padding: 4px 0;
      top: 10px;
      position: absolute;
      color: @orangeBaseColor;
      cursor: pointer;
    }
    & .count {
      background-color: rgba(255, 255, 255, 0.58);
      color: @lightTextColor;
      display: block;
      font-size: 10px;
      height: 18px;
      left: -5px;
      padding: 2px 6px;
      position: absolute;
      text-align: center;
      top: 2px;
      min-width: 18px;
      .roundedCorners(30px);
    }
    &.change-details {
      display: inline-block;
      height: 40px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      top: -2px;
      background-color: rgba(0,0,0,0.1);
      right: -5px;
      width: 45px;
      text-align: center;
      position: relative;
    }
    &.change-details > div {
      top:5px;
      position:relative;
    }
  }
}

/* call-box-fixed */
#mobi-wrapper.initial .call-box-fixed {
	display:none;
}
.call-box-fixed {
	background-color:#f5f5f5;
    border-bottom: 1px solid #dadada;
    left: 0;
    padding: 2px 0;
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: @zIndexMenus - 1;
    img {
      width:16px;
    }
    .call-option {
      border-right: 1px solid rgba(255, 255, 255, 0.33);
      font-size: 10px;
      height: 35px;
      color:#ffffff;
      padding-top:2px;
      text-align: center;
      text-transform: uppercase;
      &.or {
        background-color: #8D8D8D;
        padding-top: 9px;
      }
      &.or:after {
        background-color: #E7E7E7;
        border-radius: 30px;
        color: #4FC8B0;
        content: "OR";
        display: block;
        font-size: 9px;
        height: 20px;
        padding: 3px 0;
        position: absolute;
        right: -11px;
        text-align: center;
        top: 6px;
        width: 21px;
      }
      &.else {
        background-color: #F5F5F5;
        color: @baseTextColor;
        padding-left: 13px;
        font-size:13px;
        padding-top: 8px;
        text-align: left;
      }
      &.else > div {
        font-size:10px;
        font-style: italic;
        font-weight: 300;
        text-transform: none;
      }
      & .action {
        border-radius: 3px;
        display: block;
        font-size: 11px;
        height: 30px;
        left: -40%;
        padding: 5px 10px;
        position: relative;
        text-transform: uppercase;
        width: 140%;
      }
    }
}
/* call-box-fixed ends */
/***** FOOTER COMPONENTS STYLING ******/
.call-box {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    margin: 10px 0px;
    padding: 5px;
    .action {
      background-color: @greenBaseColor;
      text-transform: uppercase;
      font-size:12px;
      border-radius: 3px;
      display: block;
      height: 35px;
      padding: 7px 10px;
      & > img {
        width:16px;
      }
    }
}
.cf-footer {
    background-color: #e9e9e9;
    color: #8d8d8d;
    font-size: 12px;
    margin:0px;
    padding: 0px 0px 60px;

    .number-bar {
      color:@lightTextColor + #333333;
      font-size:13px;
    }
    .cf-social {
      margin:0;
      padding:0;
      display:inline-block;
    }
    & li {
      float: left;
      list-style-type: none;
      margin-right: 5px;
    }
    & li a {
      color:@lightTextColor + #333333;
      padding:5px 10px 5px 0px;
      outline: none;
    }
    & li a img {
      width:20px;
    }
}
/***** FOOTER COMPONENTS STYLING END ******/


@motorBaseColor: #44C0FF;
@cfBaseColor: #FF7B5E;

.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

.boxShadow (@hor: 3px, @vert: 2px, @blur: 5px, @shadow: #717171) when (iscolor(@shadow)){
  -webkit-box-shadow: @hor @vert @blur @shadow;
  -moz-box-shadow: @hor @vert @blur @shadow;
  box-shadow: @hor @vert @blur @shadow;
}
.boxShadow (@hor: 3px, @vert: 2px, @blur: 5px, @shadow: 50%) when (isnumber(@shadow)){
  .boxShadow(@hor, @vert, @blur, rgba(0,0,0, @shadow));
}

.btn-cfox{
  .gradient(rgba(0,0,0,0), rgba(0,0,0,0.05));
  .boxShadow(1px, 2px, 3px, 20%);
  color:#fff;
  padding:10px;
  .roundedCorners;
  cursor: pointer;
  &:hover,&:active,&:focus{
    text-decoration: none;
    color:#fff;
    .gradient(rgba(0,0,0,0), rgba(0,0,0,0.08));
  }
  &.small{
    text-transform: none;
    letter-spacing: 0px;
    padding:5px 10px;
    .boxShadow(1px, 1px, 1px, 20%);
    font-size:12px;
  }
  &.medium{
    text-transform: none;
    letter-spacing: 0px;
    padding:8px 10px;
    .boxShadow(1px, 1px, 1px, 20%);
  }
  &.blank{
    background-color: transparent;
    color:#8baabc;
    border:1px solid #8baabc;
    .boxShadow(1px, 1px, 0px, 0%);
    .gradient(rgba(0,0,0,0), rgba(0,0,0,0));
  }
  &.flat{
    .gradient(rgba(0,0,0,0), rgba(0,0,0,0.0));
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:0;
  }
  &.orange{
    background-color: @cfBaseColor;
    border:1px solid darken(@cfBaseColor, 10%);
  }
  &.blue{
    background-color: @motorBaseColor;
    border:1px solid darken(@motorBaseColor, 10%);
  }
  &.green {
    background-color: @greenBaseColor;
    border:1px solid darken(@greenBaseColor, 10%);
  }
}