.noDecoration {
  outline: none;
  text-decortion: none;
  box-shadow: none;
}
.pnone {
  padding: 0px;
}
.mnone {
  margin: 0px;
}
.mpoint {
  cursor: pointer;
}
.bnone {
  border: none !important;
}
.fivePxM {
  margin-left: -5px;
  margin-right: -5px;
}
.cubic-trans {
  -webkit-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -moz-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -o-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -ms-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
}
.container-fluid,
.container {
  max-width: 767px;
  margin: auto;
}
/* Nav bar top css */
.cf-navbar {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 40px;
  min-height: 40px;
  z-index: 60;
  background-color: #44c0ff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}
.cf-navbar .cf-navbar-brand {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  padding: 9px 0px;
}
.cf-navbar .cf-navbar-brand img {
  width: 80px;
}
.cf-navbar .link {
  cursor: pointer;
  display: inline-block;
  height: 36px;
  padding: 5px;
  position: relative;
  text-align: center;
  top: 4px;
  width: 36px;
}
.cf-navbar .link img {
  width: 21px;
}
.cf-navbar .link.text {
  width: auto;
  color: #ffffff;
  font-size: 12px;
}
.cf-navbar .link .tip {
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFFFFF;
  display: block;
  font-size: 10px;
  font-weight: bold;
  right: 0px;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: 105%;
  width: 250px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.cf-navbar .link .tip:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.8);
  border-style: solid;
  border-width: 8px;
  content: "";
  display: block;
  right: 14px;
  position: absolute;
  top: -16px;
}
.cf-navbar .link .tip > span {
  font-weight: 300;
}
.cf-navbar .link .tip > strong {
  height: 30px;
  display: inline-block;
  width: 40px;
  right: 0;
  text-align: center;
  font-size: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px 0;
  top: 10px;
  position: absolute;
  color: #f78460;
  cursor: pointer;
}
.cf-navbar .link .count {
  background-color: rgba(255, 255, 255, 0.58);
  color: #666666;
  display: block;
  font-size: 10px;
  height: 18px;
  left: -5px;
  padding: 2px 6px;
  position: absolute;
  text-align: center;
  top: 2px;
  min-width: 18px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.cf-navbar .link.change-details {
  display: inline-block;
  height: 40px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  top: -2px;
  background-color: rgba(0, 0, 0, 0.1);
  right: -5px;
  width: 45px;
  text-align: center;
  position: relative;
}
.cf-navbar .link.change-details > div {
  top: 5px;
  position: relative;
}
/* call-box-fixed */
#mobi-wrapper.initial .call-box-fixed {
  display: none;
}
.call-box-fixed {
  background-color: #f5f5f5;
  border-bottom: 1px solid #dadada;
  left: 0;
  padding: 2px 0;
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 59;
}
.call-box-fixed img {
  width: 16px;
}
.call-box-fixed .call-option {
  border-right: 1px solid rgba(255, 255, 255, 0.33);
  font-size: 10px;
  height: 35px;
  color: #ffffff;
  padding-top: 2px;
  text-align: center;
  text-transform: uppercase;
}
.call-box-fixed .call-option.or {
  background-color: #8D8D8D;
  padding-top: 9px;
}
.call-box-fixed .call-option.or:after {
  background-color: #E7E7E7;
  border-radius: 30px;
  color: #4FC8B0;
  content: "OR";
  display: block;
  font-size: 9px;
  height: 20px;
  padding: 3px 0;
  position: absolute;
  right: -11px;
  text-align: center;
  top: 6px;
  width: 21px;
}
.call-box-fixed .call-option.else {
  background-color: #F5F5F5;
  color: #363636;
  padding-left: 13px;
  font-size: 13px;
  padding-top: 8px;
  text-align: left;
}
.call-box-fixed .call-option.else > div {
  font-size: 10px;
  font-style: italic;
  font-weight: 300;
  text-transform: none;
}
.call-box-fixed .call-option .action {
  border-radius: 3px;
  display: block;
  font-size: 11px;
  height: 30px;
  left: -40%;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;
  width: 140%;
}
/* call-box-fixed ends */
/***** FOOTER COMPONENTS STYLING ******/
.call-box {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  margin: 10px 0px;
  padding: 5px;
}
.call-box .action {
  background-color: #4fc8b0;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 3px;
  display: block;
  height: 35px;
  padding: 7px 10px;
}
.call-box .action > img {
  width: 16px;
}
.cf-footer {
  background-color: #e9e9e9;
  color: #8d8d8d;
  font-size: 12px;
  margin: 0px;
  padding: 0px 0px 60px;
}
.cf-footer .number-bar {
  color: #999999;
  font-size: 13px;
}
.cf-footer .cf-social {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.cf-footer li {
  float: left;
  list-style-type: none;
  margin-right: 5px;
}
.cf-footer li a {
  color: #999999;
  padding: 5px 10px 5px 0px;
  outline: none;
}
.cf-footer li a img {
  width: 20px;
}
/***** FOOTER COMPONENTS STYLING END ******/
.btn-cfox {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.btn-cfox:hover,
.btn-cfox:active,
.btn-cfox:focus {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.08)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
}
.btn-cfox.small {
  text-transform: none;
  letter-spacing: 0px;
  padding: 5px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}
.btn-cfox.medium {
  text-transform: none;
  letter-spacing: 0px;
  padding: 8px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-cfox.blank {
  background-color: transparent;
  color: #8baabc;
  border: 1px solid #8baabc;
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-cfox.flat {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.btn-cfox.orange {
  background-color: #ff7b5e;
  border: 1px solid #ff512b;
}
.btn-cfox.blue {
  background-color: #44c0ff;
  border: 1px solid #11afff;
}
.btn-cfox.green {
  background-color: #4fc8b0;
  border: 1px solid #36ae96;
}
/* Style tweaks */
html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
  background-color: #e9e9e9;
  -webkit-font-smoothing: antialiased;
  min-width: 320px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
.form-control.input-lg {
  text-transform: uppercase;
  padding: 10px;
  font-size: 14px;
  height: 40px;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.error {
  background-color: #FFE6E6;
  color: #f78460;
  font-size: 12px;
  margin: 5px 0px;
  padding: 5px 15px;
  text-align: center;
  display: none;
}
.textCnU {
  text-align: center;
  text-transform: uppercase;
}
.form-control {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.form-group {
  margin-bottom: 10px;
}
/* result screen css */
.result-screen {
  background-color: #E9E9E9;
  display: block;
  padding-top: 40px;
  position: relative;
  min-height: 500px;
}
/* step form css */
.step-form {
  visibility: hidden;
  left: -100%;
  position: absolute;
  background-color: #ffffff;
  padding: 10px 20px 40px;
  min-height: 500px;
}
.step-form .weightage {
  margin-top: 10px;
  margin-bottom: -10px;
  font-size: 12px;
  text-align: center;
  color: #666666;
}
.step-form .section-gap {
  height: 20px;
}
.step-form .continue-btn {
  margin-top: 30px;
}
.step-form h3 {
  color: #363636;
  font-size: 12px;
  letter-spacing: 4px;
  font-weight: 400;
  margin: 10px 20px 20px;
  text-align: center;
  text-transform: uppercase;
}
.step-form h4 {
  color: #44c0ff;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  text-align: center;
  text-transform: uppercase;
}
.step-form .form-group label,
.step-form .spl-label {
  font-size: 12px;
  color: #666666;
  margin-bottom: 5px;
  letter-spacing: 1px;
  font-weight: normal;
}
.step-form .max-limit {
  max-width: 460px;
  margin: auto;
}
.form-group.loader {
  position: relative;
  overflow: hidden;
}
.form-group.loader .screen {
  background-color: #f5f5f5;
  position: absolute;
  width: 100%;
  border: 1px solid #dadada;
  padding: 12px;
  height: 47px;
  border-radius: 4px;
  color: #999;
  top: 23px;
  cursor: not-allowed;
  display: none;
}
.form-group.loader .screen img {
  position: absolute;
  top: 12px;
  right: 9px;
}
.form-group.loader.active .screen {
  display: block;
}
.form-group.loader.active .form-control {
  pointer-events: none;
}
/* mobi wrapper modes and css */
#mobi-wrapper {
  padding-top: 40px;
  opacity: 1;
  height: auto;
  overflow: visible;
  visibility: visible;
}
#mobi-wrapper.initial .result-screen {
  display: none;
  overflow: hidden;
  visibility: hidden;
}
#mobi-wrapper.initial .step-form {
  visibility: visible;
  left: 0px;
  position: relative;
}
#mobi-wrapper.initial .change-details {
  display: none;
}
#mobi-wrapper.overlay-mode {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  pointer-events: none;
}
/* new old vehicle css */
ul.new-opt {
  width: 100%;
  margin: 20px 0 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
}
ul.new-opt li {
  cursor: pointer;
  display: block;
  padding: 0px 10px 10px;
  background-color: #f7fafc;
  margin: 0px 0px 5px 0px;
  font-size: 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #363636;
}
ul.new-opt li .cf-radio {
  display: inline-block;
  position: relative;
  top: 7px;
  margin-right: 5px;
  padding: 4px;
  width: 26px;
  height: 26px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
ul.new-opt li .cf-radio img {
  display: none;
  width: 100%;
}
ul.new-opt li.active {
  background-color: #f0f5f9;
}
ul.new-opt li.active .cf-radio {
  background-color: #4fc8b0;
}
ul.new-opt li.active .cf-radio img {
  display: block;
}
/* overlay screen css */
.mobi-overlay {
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 0px;
  bottom: 0px;
  left: 0;
  background-color: #f0f0f0;
  z-index: -1;
}
.mobi-overlay .container-fluid {
  padding: 0px;
}
.mobi-overlay.active {
  position: relative;
  overflow-y: auto;
  opacity: 1;
  z-index: 100;
  min-height: 100vh;
}
.mobi-overlay h3 {
  border-bottom: 1px dotted #eaeaea;
  color: #F58365;
  font-size: 14px;
  padding-bottom: 5px;
  position: relative;
  text-transform: uppercase;
  font-weight: normal;
}
.mobi-overlay .overlay-intro {
  background-color: #F8F8F8;
  border-bottom: 1px solid #DADADA;
  font-size: 12px;
  position: relative;
  padding: 10px;
}
.mobi-overlay .overlay-intro img.mono-logo {
  display: inline-block;
  width: 23px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.mobi-overlay .overlay-intro h3 {
  border-bottom: 0 none;
  color: #363636;
  font-size: 16px;
  margin: 0;
  padding: 2px 0 0;
  text-align: center;
  text-transform: none;
}
.mobi-overlay .overlay-intro .close-overlay {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 24px;
  z-index: 10;
}
.mobi-overlay p.small-desc {
  color: #999999;
  font-size: 12px;
}
.mobi-overlay .tab-gap {
  height: 50px;
}
.mobi-overlay .overlay-content {
  z-index: 1;
  position: relative;
  padding: 0px 15px 0px;
}
.mobi-overlay .overlay-tab {
  border-top: 1px solid #dadada;
  background-color: #e5e5e5;
  padding: 0px;
  position: relative;
}
.mobi-overlay .overlay-tab .btn {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.filter-section {
  margin-top: 20px;
}
.filter-section label {
  cursor: pointer;
  border-bottom: 1px dotted #eaeaea;
  display: block;
  position: relative;
  padding: 8px 8px 8px 35px;
  text-transform: uppercase;
  font-weight: normal;
  color: #44c0ff;
}
.filter-section label .checkbox {
  padding: 4px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: -5px;
  width: 26px;
  height: 26px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.filter-section label .checkbox img {
  display: none;
  width: 100%;
}
.filter-section label input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  left: -1000px;
}
.filter-section label.active .checkbox {
  background-color: #4fc8b0;
}
.filter-section label.active .checkbox img {
  display: block;
}
/* log in screen css */
.log-in.active .content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.log-in .content {
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.log-in .log-in-tabs {
  text-align: center;
}
.log-in .log-in-tabs li {
  display: inline-block;
  float: none;
  cursor: pointer;
}
.log-in .tab-group {
  background-color: #ffffff;
  border: 1px solid #dadada;
  border-top: none;
}
.log-in .social-log-in {
  margin: 10px;
  text-align: center;
}
.log-in .social-log-in a {
  display: inline-block;
  margin: 10px 0px;
  width: 220px;
}
.log-in .forget-pwd {
  color: #999999;
  font-size: 14px;
  text-align: right;
  margin-top: 10px;
}
.log-in .error {
  margin: 10px 0;
}
.log-in h4 {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}
.log-in .free-line {
  color: #999999;
  padding: 0px 20px;
  font-size: 12px;
  text-align: center;
}
.log-in .group-field {
  margin: auto;
  max-width: 430px;
  padding: 20px;
}
.log-in .group-field .input-group {
  margin: auto;
  width: 100%;
}
.log-in .group-field .input-group-addon {
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  width: 70px;
}
/*  log in window css ends */
.cf-user-overlay,
.cf-tab-change-overlay,
.remove-overlay {
  background-color: rgba(1, 5, 37, 0);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: -1;
  visibility: hidden;
  min-height: 100vh;
  background-color: rgba(1, 5, 37, 0.75);
}
.cf-user-overlay .uo-content,
.cf-tab-change-overlay .ch-content,
.remove-overlay .rm-content {
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 12.5% auto 20px;
  width: 300px;
  position: relative;
  overflow: hidden;
  -webkit-transform: scale(0.6);
  -o-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
.cf-user-overlay.active .uo-content,
.cf-tab-change-overlay.active .ch-content,
.remove-overlay.active .rm-content {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.cf-user-overlay .uo-content img.uo-close,
.cf-tab-change-overlay .ch-content img.ch-close {
  height: 20px;
  position: absolute;
  right: 3px;
  top: 5px;
  width: 20px;
  z-index: 1;
}
/* user logout css */
.uo-content .uo-intro {
  font-size: 12px;
  padding: 10px 20px;
  text-align: center;
}
.uo-content .uo-intro img {
  background-color: #48ADFF;
  border-radius: 30px;
  display: inline-block;
  height: 35px;
  margin-bottom: 5px;
  width: 35px;
}
.uo-content .uo-property {
  border-top: 1px solid #DADADA;
  color: #6A6A6A;
  font-size: 14px;
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
}
.uo-content .uo-property.lo {
  background-color: #f5f5f5;
  font-size: 16px;
}
.uo-content .uo-property img {
  display: inline-block;
  height: 16px;
  margin-right: 5px;
  margin-top: -3px;
  width: 16px;
}
/* change tab overlay css */
.ch-property {
  border-top: 1px solid #DADADA;
  color: #666666;
  cursor: pointer;
  position: relative;
  font-size: 12px;
  padding: 15px;
}
.ch-property .glyphicon {
  display: none;
}
.ch-property.active .glyphicon {
  background-color: #48C9B0;
  border-radius: 30px;
  color: #FFFFFF;
  display: inline-block;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 12px;
}
.ch-property.intro {
  background-color: #f5f5f5;
  font-size: 18px;
  border-top-width: 0px;
  padding: 10px 15px;
}
/* remove overlay css */
.remove-overlay .rm-intro {
  color: #666666;
  font-size: 14px;
  padding: 15px 20px 30px;
}
.remove-overlay .rm-intro-hdr {
  background-color: #F9F9F9;
  border-bottom: 1px solid #DADADA;
  color: #363636;
  font-size: 14px;
  padding: 10px 20px;
}
.remove-overlay .rm-content > a {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: #666666;
  display: block;
  float: left;
  font-size: 14px;
  padding: 15px 10px;
  text-align: center;
  width: 50%;
  text-transform: uppercase;
}
.remove-overlay .rm-content > a:hover,
.remove-overlay .rm-content > a:active,
.remove-overlay .rm-content > a:focus {
  color: #666666;
  background-color: #f0f0f0;
  text-decoration: none;
  outline: none;
}
.cf-user-overlay.active,
.cf-tab-change-overlay.active,
.remove-overlay.active {
  opacity: 1;
  z-index: 101;
  visibility: visible;
}
.cf-navbar-filter {
  background-color: #FFFFFF;
  border-bottom: 2px solid #f78460;
  opacity: 1;
  height: 45px;
  padding: 1px;
  overflow-y: hidden;
  margin-bottom: 0px;
  position: relative;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.cf-navbar-filter .mod {
  display: block;
  color: #4fc8b0;
  font-size: 14px;
  margin: 3px 0px;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cf-navbar-filter .var {
  display: block;
  font-size: 10px;
  color: #666666;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cf-navbar-filter .car-img {
  display: block;
  float: left;
  height: 50px;
  width: 80px;
  text-align: center;
  margin-right: 10px;
  border-right: 1px solid #dadada;
  padding: 4px;
}
.cf-navbar-filter .idv {
  border-left: 1px solid #eaeaea;
  color: #666666;
  float: left;
  height: 40px;
  font-size: 14px;
  letter-spacing: 3px;
  padding: 5px;
  text-align: center;
  width: 50%;
}
.cf-navbar-filter .idv span {
  font-size: 10px;
  display: block;
  letter-spacing: 0px;
  color: #999999;
}
.darkOverlay {
  background-color: rgba(1, 5, 37, 0);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: -1;
  visibility: hidden;
  min-height: 100vh;
}
.darkOverlay.active {
  background-color: rgba(1, 5, 37, 0.75);
  opacity: 1;
  position: relative;
  visibility: visible;
  display: block;
  z-index: 100;
}
.darkOverlay.active .idv-overlay {
  -webkit-transform: scale(1) translateY(0px);
  -moz-transform: scale(1) translateY(0px);
  -ms-transform: scale(1) translateY(0px);
  -o-transform: scale(1) translateY(0px);
  transform: scale(1) translateY(0px);
}
.idv-overlay {
  width: 100%;
  max-width: 767px;
  padding: 0px;
  margin: 0px auto;
  -webkit-transform: scale(0.6) translateY(0px);
  -moz-transform: scale(0.6) translateY(0px);
  -ms-transform: scale(0.6) translateY(0px);
  -o-transform: scale(0.6) translateY(0px);
  transform: scale(0.6) translateY(0px);
  /* IDV slider css */
}
.idv-overlay .new-opt {
  margin: 0;
  text-align: left;
}
.idv-overlay .btn.btn-xs {
  text-transform: none;
}
.idv-overlay .form-group label {
  color: #f78460;
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: normal;
}
.idv-overlay .input-holder {
  margin: 0px;
  padding: 15px 20px 15px;
  border-top: 1px solid #eaeaea;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
}
.idv-overlay .input-holder .form-control {
  margin-bottom: 15px;
}
.idv-overlay .inr {
  color: #666666;
  background-color: #f5f5f5;
  padding: 7px 10px;
  text-align: left;
  font-size: 12px;
  margin: -15px -20px 10px;
}
.idv-overlay .action-holder {
  padding: 0px;
  margin: 0px;
  background-color: #e5e5e5;
  border-top: 1px solid #dadada;
}
.idv-overlay .action-holder .btn {
  font-size: 14px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.idv-overlay .slider {
  position: relative;
  text-align: center;
  margin-bottom: 15px;
}
.idv-overlay .slider:before {
  content: '';
  display: block;
  width: 96%;
  position: absolute;
  z-index: 0;
  background-color: #dadada;
  height: 2px;
  top: 9px;
  left: 2%;
}
.idv-overlay .slider span.pointer {
  display: inline-block;
  height: 8px;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 8px;
  background-color: #dadada;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.idv-overlay .slider .active span.pointer {
  background-color: #4fc8b0;
  margin: 0px;
  width: 10px;
  height: 20px;
  position: relative;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.idv-overlay .slider .active span.pointer:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  top: 100%;
  border-color: transparent;
  border-top-color: #4fc8b0;
  border-style: solid;
  border-width: 5px;
}
.idv-overlay .slider span.value {
  display: block;
  padding: 2px 5px;
  margin-top: 5px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #666666;
  font-size: 12px;
}
.idv-overlay .slider .active span.value {
  background-color: #f0f0f0;
}
/* idv filter intro block css */
.idv-box {
  margin: 20px 15px;
  border: 1px solid #dadada;
  padding: 0;
  background-color: #f5f5f5;
  position: relative;
  -webkit-transform: scale(1) translateY(0px);
  -moz-transform: scale(1) translateY(0px);
  -ms-transform: scale(1) translateY(0px);
  -o-transform: scale(1) translateY(0px);
  transform: scale(1) translateY(0px);
  overflow: hidden;
}
.idv-box select.form-control {
  padding: 2px;
  height: 26px;
}
.idv-box.small-margin {
  margin: 0px 0px 10px;
}
.idv-box .critical-headline {
  padding: 0px 10px;
  font-size: 14px;
}
.idv-box .actions {
  padding: 5px;
  text-align: right;
  text-transform: uppercase;
  border-top: 1px solid #eaeaea;
}
.idv-box.overlayTrans {
  -webkit-transform: scale(1) translateY(0px);
  -moz-transform: scale(1) translateY(0px);
  -ms-transform: scale(1) translateY(0px);
  -o-transform: scale(1) translateY(0px);
  transform: scale(1) translateY(0px);
}
.idv-box .btn.bl {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  border: none;
  padding-right: 10px;
  text-align: right;
  color: #aaaaaa;
  background: none;
}
.idv-box .btn.bl:hover,
.idv-box .btn.bl:focus {
  outline: none;
  text-decortion: none;
  box-shadow: none;
}
.idv-box .window {
  padding: 5px 0px;
  border-top: 1px solid #f0f0f0;
  background-color: #ffffff;
}
.idv-box .window h5 {
  font-size: 11px;
  line-height: 1.4em;
  margin: 3px 0 3px;
  padding: 0 5px;
  color: #666666;
}
.idv-box .window h4 {
  height: 40px;
  margin: 0 10px 0 0;
  padding: 10px 10px 0;
  width: 80px;
  color: #666666;
  float: left;
  border-right: 1px solid #eaeaea;
}
.idv-box .window .info {
  height: 23px;
  padding: 0px 7px;
  font-size: 17px;
  margin: -3px 0 0 5px;
  float: right;
  font-weight: bold;
  display: inline-block;
  border: 2px solid #4fc8b0;
  color: #4fc8b0;
  font-family: serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.idv-box .window .val {
  font-size: 14px;
  display: block;
  margin-top: 10px;
}
.idv-box .window em {
  font-style: normal;
  font-size: 12px;
  color: #666666;
}
/* results banner css */
.result-strip {
  color: #363636;
  font-size: 14px;
  padding: 5px;
  margin-bottom: 10px;
}
.result-strip .btn {
  margin-top: -4px;
  margin-bottom: -4px;
  float: right;
  width: 43%;
}
/* result card css */
.result-card {
  background-color: #ffffff;
  padding: 0px;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  margin-bottom: 10px;
  position: relative;
}
.result-card .instant-policy {
  color: #999999;
  font-size: 11px;
  margin-top: 6px;
  text-align: right;
  letter-spacing: 1px;
}
.result-card .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
  padding-left: 0px;
  padding-right: 0px;
}
.result-card .insurer {
  width: 90px;
  position: absolute;
  margin: 0px;
  padding-right: 5px;
  padding-top: 5px;
  padding-left: 5px;
}
.result-card .insurer img {
  display: block;
  width: 100%;
}
.result-card .insurer span {
  color: #666666;
  font-size: 10px;
  line-height: 1.2em;
  display: block;
  padding-left: 5px;
}
.result-card .premium {
  position: relative;
  margin-left: 85px;
  min-height: 85px;
  padding: 5px 5px 0 10px;
}
.result-card .premium .buy {
  margin-top: 5px;
}
.result-card .premium > span {
  color: #666666;
  font-size: 10px;
  text-transform: uppercase;
}
.result-card .premium h4 {
  color: #666666;
  font-weight: normal;
  margin: 5px 0px;
  font-size: 12px;
}
.result-card .premium h4 span {
  font-size: 16px;
  font-weight: 700;
}
.result-card .premium em {
  color: #666666;
  font-style: normal;
  font-size: 12px;
  min-height: 20px;
  display: inline-block;
}
.result-card .premium .action {
  padding: 5px 0px 8px;
}
.result-card .premium a {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  margin-top: 3px;
  padding: 5px 0px;
}
.result-card .premium a:hover,
.result-card .premium a:focus {
  text-decoration: none;
}
.result-card .addons {
  padding: 10px 10px 0;
  margin: 0px 0 -1px;
  border-top: 1px dotted #dadada;
  overflow: hidden;
  max-height: 200px;
  font-weight: bold;
  font-size: 12px;
}
.result-card .addons h4 {
  padding: 10px 10px 8px;
  border-bottom: 1px solid #dadada;
  color: #999999;
  margin: -10px -10px 0px;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
}
.result-card .addons h4 .more {
  color: #666666;
  position: absolute;
  top: 4px;
  right: 10px;
  padding: 5px 20px;
  background-color: #e9e9e9;
}
.result-card .addons .item {
  display: block;
  margin: 7px 0px;
  padding-bottom: 5px;
  color: #999999;
  font-weight: normal;
  border-bottom: 1px dotted #eaeaea;
}
.result-card .addons .item .name {
  display: block;
  width: 70%;
  float: left;
  padding-right: 5px;
  height: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.result-card .addons .item .val {
  display: block;
  text-align: right;
  width: 30%;
  float: left;
  padding-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.result-card .addons .item:last-child {
  border-bottom: none;
}
/* shortlist icon mechanism css */
.icon-bg {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
}
.icon-bg img {
  display: inline-block;
  width: 16px;
  margin-right: 6px;
}
.icon-bg img.clr {
  display: none;
}
.icon-bg.notify .short-msg {
  display: block;
}
.icon-bg.added img.clr {
  display: inline-block;
}
.icon-bg.added img.default {
  display: none;
}
.icon-bg .short-msg {
  display: none;
  width: 100px;
  color: #666666;
  text-align: center;
  background-color: #f0f0f0;
  padding: 5px;
  position: absolute;
  top: 22px;
  right: 0px;
  letter-spacing: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.icon-bg .short-msg:before {
  content: '';
  display: block;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #f0f0f0 transparent;
  position: absolute;
  top: -10px;
  right: 5px;
}
/* buy plan overlay css */
.buy-plan .action-button {
  padding: 10px 20px 20px;
}
.buy-plan .action-button .btn {
  padding-top: 6px;
  padding-bottom: 6px;
}
.buy-plan .expiry-field {
  padding: 30px 20px 15px;
  letter-spacing: 1px;
}
.buy-plan .expiry-field p {
  text-align: center;
  color: #f78460;
  font-size: 12px;
  text-transform: uppercase;
}
.buy-plan h2 {
  text-align: center;
  color: #666666;
  margin: 10px auto 5px;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  max-width: 430px;
  padding: 0 15px;
}
.buy-plan .introduction {
  text-align: center;
}
.buy-plan .introduction img {
  width: 120px;
}
.buy-plan .introduction h3 {
  margin: 5px 0 0;
  font-size: 18px;
  text-transform: none;
  border-bottom: 0px;
}
.buy-plan .verify-info {
  padding: 0px;
  margin: 0 20px 20px;
  border: 1px solid #eaeaea;
  background-color: #f9f9f9;
  list-style-type: none;
}
.buy-plan .verify-info li {
  border-bottom: 1px solid #eaeaea;
  padding: 6px 10px;
}
.buy-plan .verify-info li .title {
  display: inline-block;
  width: 150px;
  font-size: 12px;
  color: #666666;
}
.buy-plan .verify-info li .value {
  color: #363636;
}
/* info-overlay css can include different information pops */
.darkOverlay.info-overlay.active {
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  z-index: 100;
}
.info-overlay {
  z-index: 101;
  padding-top: 15%;
  text-align: center;
}
.info-overlay .info-box {
  padding: 0px;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  font-size: 12px;
  width: 90%;
  max-width: 400px;
  font-weight: bold;
  margin: auto;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  visibility: hidden;
  background-color: #4fc8b0;
}
.info-overlay .info-box.active {
  padding: 20px;
  height: auto;
  margin-bottom: 10px;
  overflow: visible;
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.info-overlay .info-box h4 {
  position: relative;
  margin-top: 0px;
}
.info-overlay .info-box h4 span {
  background-color: #4fc8b0;
  padding: 0px 20px;
  display: inline-block;
  z-index: 1;
  position: relative;
}
.info-overlay .info-box h4:before {
  content: '';
  left: 5%;
  z-index: 0;
  display: block;
  width: 90%;
  position: absolute;
  top: 10px;
  height: 1px;
  background-color: #ffffff;
}
.info-overlay .info-box .iclose {
  color: rgba(0, 0, 0, 0.2);
  padding: 3px;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 26px;
  width: 26px;
  text-align: center;
}
/* loading screen css */
.loading-screen {
  background-color: #FFFFFF;
  color: #B5B5B5;
  height: 100%;
  left: 0;
  margin-top: 0px;
  margin-bottom: 40px;
  padding-top: 100px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 120;
}
.loading-screen img {
  display: inline-block;
  width: 50px;
  height: 50px;
}
.loading-screen .car-loading {
  max-width: 767px;
  margin: -50px auto 0;
  text-align: center;
}
.loading-screen .car-loading h3 {
  color: #363636;
  font-size: 16px;
}
.loading-screen .car-loading img.car {
  display: inline-block;
  margin-bottom: 5px;
}
.loading-screen .car-loading img.bar-loader {
  height: auto;
  display: inline-block;
  width: 200px;
  margin-bottom: 15px;
}
.loading-screen .car-loading .make {
  font-size: 14px;
  color: #4fc8b0;
  display: inline-block;
  margin: 0px 5px 5px;
}
.loading-screen .car-loading .model {
  font-size: 14px;
  color: #666666;
  display: inline-block;
  margin: 0px 5px 5px;
}
.loading-screen .car-loading .variant {
  font-size: 10px;
  color: #999999;
  margin-bottom: 5px;
}
/* radio label css used in idv radio selection */
label.radio-label {
  display: block;
  text-align: left;
  position: relative;
  padding: 8px 8px 8px 35px;
  font-weight: normal;
  color: #363636;
}
label.radio-label .radio {
  cursor: pointer;
  padding: 4px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: -5px;
  width: 26px;
  height: 26px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
label.radio-label .radio img {
  display: none;
  width: 100%;
}
label.radio-label input[type='radio'] {
  opacity: 0;
  position: absolute;
  left: -1000px;
}
label.radio-label.active .radio {
  background-color: #4fc8b0;
}
label.radio-label.active .radio img {
  display: block;
}
.dotted-seperator {
  margin-top: 15px;
  border-top: 1px dashed #eaeaea;
  height: 10px;
}
.seperate {
  border-top: 1px solid #dadada;
}
.mobi-overlay.add-ons {
  background-color: rgba(1, 5, 37, 0);
  padding: 10px;
}
.mobi-overlay.add-ons .content {
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.mobi-overlay.add-ons.active {
  background-color: rgba(1, 5, 37, 0.75);
}
.mobi-overlay.add-ons.active .content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.mobi-overlay.add-ons .container,
.mobi-overlay.add-ons .container-fluid {
  background-color: #ffffff;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* premium breakup css */
.premium-breakup {
  padding: 10px 5px;
}
.premium-breakup.active .content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.premium-breakup .content {
  background-color: #ffffff;
  padding: 10px;
  margin-left: -5px;
  margin-right: -5px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.premium-breakup .content .iclose {
  cursor: pointer;
  opacity: 0.7;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 24px;
  z-index: 10;
}
.premium-breakup .content .pr-detail {
  position: relative;
}
.premium-breakup .content .pr-detail .logo {
  position: absolute;
  width: 90px;
  display: block;
}
.premium-breakup .content .pr-detail .pr {
  padding-left: 100px;
  min-height: 90px;
}
.premium-breakup .content .btn {
  text-transform: uppercase;
  font-size: 11px;
  min-width: 100px;
}
.premium-breakup .content .insurer-name {
  padding-bottom: 10px;
  font-size: 12px;
  color: #999999;
  border-bottom: 2px solid #f78460;
  margin-bottom: 15px;
}
.premium-breakup .content h2 {
  margin-top: 0px;
  color: #363636;
  font-size: 20px;
}
.premium-breakup .content h2 .hlp {
  text-transform: uppercase;
  color: #999999;
  margin-top: 5px;
  font-size: 11px;
}
.premium-breakup .content .discount-strip {
  background-color: #0094ff;
  padding: 3px 10px;
  color: #ffffff;
  font-size: 12px;
  margin: 0px 0px 10px -10px;
  display: inline-block;
  font-weight: bold;
}
.premium-breakup .content .strip {
  background-color: #e9e9e9;
  padding: 10px;
  font-weight: bold;
  color: #aaaaaa;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 -10px;
}
.premium-breakup .property {
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.premium-breakup .property.hdg {
  color: #44c0ff;
  border-bottom: none;
  font-size: 12px;
  padding-top: 5px;
  font-weight: 400;
}
.premium-breakup .property.extra {
  border-bottom: none;
}
.premium-breakup .property .h {
  font-weight: 400;
  font-size: 12px;
  padding-top: 10px;
  margin-bottom: 5px;
}
.premium-breakup .property .h.spl {
  text-align: right;
}
.premium-breakup .property .h.spl .v {
  color: #999999;
  padding-left: 5px;
}
.premium-breakup .property .h .small {
  color: #999999;
  font-size: 11px;
  display: block;
  font-weight: normal;
}
.premium-breakup .property .h > img {
  float: right;
  display: inline-block;
  margin-top: 3px;
  margin-right: 10px;
}
.premium-breakup .property .h.active {
  padding-bottom: 5px;
  border-bottom: 1px dashed #eaeaea;
}
.premium-breakup .property .h.active img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.premium-breakup .property ul.d {
  list-style-type: none;
  padding-left: 0;
}
.premium-breakup .property ul.d li {
  color: #666666;
  font-size: 12px;
  margin-bottom: 5px;
}
.premium-breakup .property.total {
  border-bottom: none;
  border-top: 2px solid #f78460;
  text-transform: uppercase;
}
.premium-breakup .value {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
}
.premium-breakup .value.red {
  color: red;
}
.premium-breakup .value.total {
  border-top: 2px solid #f78460;
  font-size: 16px;
  padding-top: 8px;
}
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
