/* glue: 0.3 hash: 9a30c824ce */
.universal_sompo:hover,
.universal_sompo,
.insurer_7:hover,
.insurer_7,
.insurer_2:hover,
.insurer_2,
.shriram:hover,
.shriram,
.royal_sundaram_alliance:hover,
.royal_sundaram_alliance,
.insurer_6:hover,
.insurer_6,
.insurer_10:hover,
.insurer_10,
.raheja_qbe:hover,
.raheja_qbe,
.insurer_5:hover,
.insurer_5,
.magma_hdi:hover,
.magma_hdi,
.insurer_11:hover,
.insurer_11,
.liberty_videocon:hover,
.liberty_videocon,
.iffco_tokio:hover,
.iffco_tokio,
.insurer_3:hover,
.insurer_3,
.hdfc_ergo:hover,
.hdfc_ergo,
.future_generali:hover,
.future_generali,
.insurer_12:hover,
.insurer_12,
.insurer_9:hover,
.insurer_9,
.insurer_4:hover,
.insurer_4,
.insurer_1:hover,
.insurer_1{background-image:url('/static/health_product/img/company.png');background-repeat:no-repeat}
.universal_sompo:hover{background-position:0.0% 0.0%;width:300px;height:150px;}
.universal_sompo{background-position:0.0% 14.2857142857%;width:300px;height:150px;}
.insurer_7:hover{background-position:25.0% 0.0%;width:300px;height:150px;}
.insurer_7{background-position:25.0% 14.2857142857%;width:300px;height:150px;}
.insurer_2:hover{background-position:0.0% 28.5714285714%;width:300px;height:150px;}
.insurer_2{background-position:25.0% 28.5714285714%;width:300px;height:150px;}
.shriram:hover{background-position:0.0% 42.8571428571%;width:300px;height:150px;}
.shriram{background-position:25.0% 42.8571428571%;width:300px;height:150px;}
.royal_sundaram_alliance:hover{background-position:50.0% 0.0%;width:300px;height:150px;}
.royal_sundaram_alliance{background-position:50.0% 14.2857142857%;width:300px;height:150px;}
.insurer_6:hover{background-position:50.0% 28.5714285714%;width:300px;height:150px;}
.insurer_6{background-position:50.0% 42.8571428571%;width:300px;height:150px;}
.insurer_10:hover{background-position:0.0% 57.1428571429%;width:300px;height:150px;}
.insurer_10{background-position:25.0% 57.1428571429%;width:300px;height:150px;}
.raheja_qbe:hover{background-position:50.0% 57.1428571429%;width:300px;height:150px;}
.raheja_qbe{background-position:0.0% 71.4285714286%;width:300px;height:150px;}
.insurer_5:hover{background-position:25.0% 71.4285714286%;width:300px;height:150px;}
.insurer_5{background-position:50.0% 71.4285714286%;width:300px;height:150px;}
.magma_hdi:hover{background-position:75.0% 0.0%;width:300px;height:150px;}
.magma_hdi{background-position:75.0% 14.2857142857%;width:300px;height:150px;}
.insurer_11:hover{background-position:75.0% 28.5714285714%;width:300px;height:150px;}
.insurer_11{background-position:75.0% 42.8571428571%;width:300px;height:150px;}
.liberty_videocon:hover{background-position:75.0% 57.1428571429%;width:300px;height:150px;}
.liberty_videocon{background-position:75.0% 71.4285714286%;width:300px;height:150px;}
.iffco_tokio:hover{background-position:0.0% 85.7142857143%;width:300px;height:150px;}
.iffco_tokio{background-position:25.0% 85.7142857143%;width:300px;height:150px;}
.insurer_3:hover{background-position:50.0% 85.7142857143%;width:300px;height:150px;}
.insurer_3{background-position:75.0% 85.7142857143%;width:300px;height:150px;}
.hdfc_ergo:hover{background-position:0.0% 100.0%;width:300px;height:150px;}
.hdfc_ergo{background-position:25.0% 100.0%;width:300px;height:150px;}
.future_generali:hover{background-position:50.0% 100.0%;width:300px;height:150px;}
.future_generali{background-position:75.0% 100.0%;width:300px;height:150px;}
.insurer_12:hover{background-position:100.0% 0.0%;width:300px;height:150px;}
.insurer_12{background-position:100.0% 14.2857142857%;width:300px;height:150px;}
.insurer_9:hover{background-position:100.0% 28.5714285714%;width:300px;height:150px;}
.insurer_9{background-position:100.0% 42.8571428571%;width:300px;height:150px;}
.insurer_4:hover{background-position:100.0% 57.1428571429%;width:300px;height:150px;}
.insurer_4{background-position:100.0% 71.4285714286%;width:300px;height:150px;}
.insurer_1:hover{background-position:100.0% 85.7142857143%;width:300px;height:150px;}
.insurer_1{background-position:100.0% 100.0%;width:300px;height:150px;}
