.page.rise {
    -webkit-animation-name: rise_animation;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: rise_animation;
    -moz-animation-duration: 0.8s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

@-webkit-keyframes "rise_animation" {

    0% {
        opacity: 0;
        top: 500px;
    }
    25% {
        opacity: 0;
        top: 500px;
    }
    50% {
        opacity: 0;
        top: 500px;
    }
    75% {
        opacity: 0;
        top: 500px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@-moz-keyframes rise_animation {

    0% {
        opacity: 0;
        top: 500px;
    }
    25% {
        opacity: 0;
        top: 500px;
    }
    50% {
        opacity: 0;
        top: 500px;
    }
    75% {
        opacity: 0;
        top: 500px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

#page1.page.shrink {
    top : 0px;
}
#page2.page.shrink {
    top : 130px;
}
#page3.page.shrink {
    top : 260px;
}
#results_page.page.shrink {
    top : 390px;
}

.page.shrink {
    -webkit-animation-name: shrink_animation;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: shrink_animation;
    -moz-animation-duration: 0.8s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

@-webkit-keyframes "shrink_animation" {

    0% {
        left:0px;
        -webkit-transform : scale(1);
        -moz-transform : scale(1);
    }
    25% {
        left:0px;
        -webkit-transform : scale(0.6);
        -moz-transform : scale(0.6);
    }
    50% {
        left:0px;
        -webkit-transform : scale(0.2);
        -moz-transform : scale(0.2);
    }
    75% {
        left:-150px;
        -webkit-transform : scale(0.2);
        -moz-transform : scale(0.2);
    }
    100% {
        left:-300px;
        -webkit-transform : scale(0.2);
        -moz-transform : scale(0.2);
    }
}

@-moz-keyframes shrink_animation {

    0% {
        left:0px;
        -webkit-transform : scale(1);
        -moz-transform : scale(1);
    }
    25% {
        left:0px;
        -webkit-transform : scale(0.6);
        -moz-transform : scale(0.6);
    }
    50% {
        left:0px;
        -webkit-transform : scale(0.2);
        -moz-transform : scale(0.2);
    }
    75% {
        left:-150px;
        -webkit-transform : scale(0.2);
        -moz-transform : scale(0.2);
    }
    100% {
        left:-300px;
        -webkit-transform : scale(0.2);
        -moz-transform : scale(0.2);
    }
}
