/*
borders:#dadada
header gray : #555555
light gray : #e0dbcf
offwhite background : #f9f7f3
body background : #e7e1e1
*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {

}
.prop-combo .combodate .column {
    min-width:60px;
}
.opt_box {
    position:relative;
    padding-left:25px;
    margin-bottom:10px;
}
.opt_box .radio-btn {
    position:absolute;
    left:5px;
    top:-10px;
}
#buy_container.page {
    background:url("../img/snow.png") repeat 0 0 #f9f9f9 !important;
    padding-top:60px;
}
#form-wrap {
    background:url("../img/snow.png") repeat 0 0 #f9f9f9 !important;
    margin:10px 0px 0px;
    font-weight:300;
    font-size:16px;
}
.done-section {
    border-top:1px solid #dadada;
}
.done-section .btn-red{
    width: 90px;
    font-size: 18px;
}

.section-heading {
    padding:10px 0;
}
.section-heading, .section.closed .section-heading {
    background:#4fc8b0;
    /*
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.65) 0%, rgba(231,231,231,1) 100%);

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.65)), color-stop(100%,rgba(231,231,231,1)));

    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.65) 0%,rgba(231,231,231,1) 100%);

    background: -o-linear-gradient(top,  rgba(255,255,255,0.65) 0%,rgba(231,231,231,1) 100%);

    background: -ms-linear-gradient(top,  rgba(255,255,255,0.65) 0%,rgba(231,231,231,1) 100%);

    background: linear-gradient(to bottom,  rgba(255,255,255,0.65) 0%,rgba(231,231,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=1 );
    */
}
.section.edit .section-heading {
    background-color:#ff915e;
    background-image:none;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff915e', endColorstr='#ff915e',GradientType=1 ); /* IE6-9 */
}
.section-heading h2 {
    color:#ffffff;
    padding-left:40px;
    margin:0px;
    font-size:22px;
}
.section.edit .section-heading h2 {
    color:#ffffff;
}
.section.closed .form-block {
    display:none;
}
.form-block p {
    color:red;
    font-size:12px;
    font-weight:300;
    margin:5px 0;
}
.form-block p.text-muted {
    color:rgb(80, 80, 134);
    margin:0px 0px 10px;
}
.section.edit .form-block {
    display:block;
}
.jocker-field {
    height:100px;
    overflow:hidden;
}
.bdr {
    padding:0px 15px 10px 15px;
    /*margin:10px 20px 10px 0;
    background-color:#f9f9f9;*/
    color:#363636;
    font-size:16px;
    height:60px;
    width:auto;
    min-width:160px;
    overflow:hidden;
    border-width:0px 1px 1px 0px;
    border-style:dashed;
    border-color:transparent;
}
.row .bdr:last-child {
}
.comp-table .bdr {
    font-size:20px;
    border-right:1px solid #dadada;
    height:auto;
    width:100%;
    overflow:visible;
    border-bottom:none;
    padding:10px 15px 10px 15px;
}

.comp-table .row .bdr:last-child {
    border-right:1px solid #dadada;
}
/*.referal {
    border-right: 1px solid #aaaaaa;
    height: 70px;
    font-size: 18px;
    text-align: left;
    padding-top: 21px;
    display: block;
}
.referal:before {
    content: '';
    position: absolute;
    width: 33px;
    height: 1px;
    right: 16px;
    border-top: 1px solid #aaaaaa;
    top: 50%;
}
.referal:after {
    content: '';
    position: absolute;
    border-radius: 30px;
    width: 10px;
    height: 10px;
    right: 49px;
    border: 1px solid #aaaaaa;
    top: 50%;
    margin-top: -5px;
}*/
.seperate-hlt {
    margin: 0px 0px 20px;
    position: relative;
}
.fill-block .seperate.hlt {
    border:none;
    position:relative;
}
.seperate-hlt .hlt {
    position: relative;
    left: 0px;
    top: 0px;
    display:block;
    font-size: 16px;
    background: #eaeaea;
    color: #999999;
    font-weight: normal;
    padding: 2px 15px;
    margin-bottom:5px;
}
.ans-hlt {
    border-bottom:1px dashed #dadada;
    padding:10px 0px;
    font-weight:normal;
}
.ans-box {
    position:relative;
    padding-left:35px;
    min-height:20px;
}
.qst-box {
    position:relative;
    padding-left:35px;
    min-height:20px;
    font-weight:300;
    margin-bottom:10px;
}
.ans-hlt-ans,.ans-hlt-qst {
    font-weight:normal;
    color: #cccccc;
    padding: 0 7px;
    position:absolute;
    left:0;
    top:-4px;
    font-size:20px;
}
.ans-hlt .ans-hlt-txt {
    margin-bottom:10px;
    font-weight:300;
}
.p-hdr {
    font-size:26px;
    padding-right:20px;
    padding-top:15px;
    font-weight:300;
}
.n-hdr {
    color:#999999;
    font-weight:normal;
    margin-right:10px;
    font-size:14px;
    margin-bottom:5px;
}
.comp-table .n-hdr {
    font-size:inherit;
    color:#ffa06e;
    text-transform:uppercase;
}
.form-block {
    padding:30px 40px 70px;
}
.intro-row {
    margin:10px 0px;
}
.intro-row.bg {
    background-color:#eaeaea;
    padding:2px 15px;
    color:#999999;
    font-weight:normal;
}
.info-header button.btn-red {
    margin-right: 10px;
}
.fill-block {
    padding:20px 40px;
    font-size:16px;
    color:#363636;
    border-bottom:none;
}
.dipper {
    border-bottom:1px solid #dadada;
    padding:1px 0px 1px 15px;
}
.bottom-margin {
    margin-bottom:20px;
}
.custom-style {
    border-top: 1px dashed #DADADA;
    margin: 0 -20px;
    padding: 20px 20px 10px;
}
.btn-red {
    color: #ffffff;
    background-color: #f78460;
    border:none;
}
.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active {
    color: #ffffff;
    background-color: #ee6b42;
}
.info-header {
    background: #384047;
    color:#ffffff;
    padding: 5px 40px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight:normal;
}
.alert-information {
    border-radius: 0px;
    background: #FFFFFF;
    margin: 0px 0px -10px;
    border-bottom: 1px dashed #dadada;
    font-size:14px;
    padding: 15px 40px;
}
.alert-information .icon {
    margin-right:15px;
}
.done-mark {
    display:block;
    margin:0px 0px 10px 5px;
}
.contact {
    border: 1px dashed #CCC6B7;
    margin-bottom: 20px;
    padding: 1px 20px 20px;
}
.contact-header {
    margin-bottom:20px;
}
.address-field {
    border:0px solid transparent;
    border-bottom:1px dashed #dadada;
    padding-bottom:3px;
    padding-left:0px;
    box-shadow:none;
}
.address-field:focus {
    border-color:#d7d7d7;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.padding-fit {
    padding-top:10px;
    padding-bottom:10px;
}

.padding-set {
    padding-top:10px;
    padding-bottom:10px;
}
.my-table tr th {
    background-color:#65aed8;
    font-weight: normal;
    color: #ffffff;
}
.extra-data {
    text-align:center;
    margin: 30px 0 50px;
    border-bottom: 1px solid #ff915e;
}
.extra-data span {
    padding:5px 10px;
    border-radius:5px;
    background-color:#ff915e;
    font-size:18px;
    position:relative;
    top:12px;
    color:#ffffff;
}

.comp-table {
    width:100%;

    /*
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.65) 0%, rgba(231,231,231,1) 100%);

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.65)), color-stop(100%,rgba(231,231,231,1)));

    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.65) 0%,rgba(231,231,231,1) 100%);

    background: -o-linear-gradient(top,  rgba(255,255,255,0.65) 0%,rgba(231,231,231,1) 100%);

    background: -ms-linear-gradient(top,  rgba(255,255,255,0.65) 0%,rgba(231,231,231,1) 100%);

    background: linear-gradient(to bottom,  rgba(255,255,255,0.65) 0%,rgba(231,231,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=1 );
    */
}
.comp-table .comp-td {
    width:340px;
    padding-left:20px;
    border-right:1px solid #dadada;
}
.comp-table td {
    padding:0px;
    font-weight:300;
}

#form-wrap .control-label {
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 12px;
    color: #5F5F5F;
}
#form-wrap .stage5_div .control-label {
    margin-bottom: 5px;
    font-size: 16px;
}
.show-seperate {
    border-bottom:1px dashed #dadada;
    margin-bottom:20px;
    padding-bottom:20px;
}
.show-seperate.alt {
    background-color:#f2f2f2;
    padding-top:20px;
    margin-top:-20px;
}
#form-wrap input[type="checkbox"], #form-wrap input[type="radio"]{
    margin-top: 15px;
}

.my-table th:first-child {
    min-width: 100px;
}

#form-wrap table th {
    border-bottom: none;
}
.checkout {
    border-top:4px solid #888888;
    background-color:#e5e5e5;
    padding:20px 40px;
    margin-bottom:-20px;
}
.pmset {
    padding-left:35px;
}

.dependant-tably-field {
    padding: 0px 10px 15px 10px;
    margin: 0px;
    border: 1px solid #dadada;
    min-height: 85px;
}
.dependant-tably-field label{
    padding: 5px 10px 5px 10px;
    margin: 0px -10px 5px;
    display: block;
    font-weight: normal;
    font-size: 13px;
    background: #eaeaea;
}


.toolbadge {
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 12px;
    color: #999999;
    border-radius: 50px;
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    top: -2px;
    right: 0px;
}


.toolbadge:hover {
    background-color: #58BBB3;
    color: #ffffff;
}
.ol-list li {
    margin-bottom:15px;
}
.btn-green {
    background:#4FC8B0;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    height: 41px;
    margin-bottom: 0px;
    padding:7px;
    text-align: center;
    left:0px;
    cursor:pointer;
}
.btn-green:hover {
    background-color:#3eaf99;
    text-decoration:none;
}

.btn-big {
    padding: 10px;
    display: inline-block;
    width: 200px;
    font-size: 22px;
    height: 60px;
}


@media screen and (max-width: 768px) {
    
}


#form-wrap .stage5_div #existing_policies_section .control-label{
    font-size: 14px;
}
