@import "../../css/base_theme";

/* Overridden css for base_style.css */
html, body {
  width:100%;
  height:90%;
  color:#2f4552;
}
.field_wrapper{
  p{
    color:#fff;
    text-align: left;
  }
}
.max_wid{
  max-width: 950px;
  margin: auto;
}
.ebook_section_conatiner{
  background-color: #14252c;
  padding: 50px 0;
  .ebook_section{
    max-width: 920px;
    margin: auto;
    img{
      max-width: 300px;
    }
    .ebook_car_form_container{
      text-align: center;
      margin: auto;
      max-width: 340px;
      h4{
        font-size: 20px;
        text-transform: uppercase;
        color:rgba(255, 255, 255, 0.5);
      }
      h2{
        color:rgb(255, 255, 255);
        margin: 10px 0 20px;
      }
      .form_wrapper{
        .error{
          text-align: left;
        }
        input{
          width:100%;
          height: 48px;
          padding: 5px;
          color:#999;
          font-size: 18px;
          margin: 0 0 10px;
          outline: none;
        }
        .pos_relative{
          position: relative;
          .btn_light_red{
              background: -webkit-linear-gradient(top, rgb(217, 104, 98) 0%, rgb(188, 66, 63) 100%);
              background: -o-linear-gradient(top, rgb(217, 104, 98) 0%, rgb(188, 66, 63) 100%);
              background: -ms-linear-gradient(top, rgb(217, 104, 98) 0%, rgb(188, 66, 63) 100%);
              background: -moz-linear-gradient(top, rgb(217, 104, 98) 0%, rgb(188, 66, 63) 100%);
              background: linear-gradient(to bottom, rgb(217, 104, 98) 0%, rgb(188, 66, 63) 100%);
              color:#fff;
              font-weight: 600;
              border:1px solid #d15e59;
              margin-bottom: 20px;
          }
          span{
            position: absolute;
            top: 13px;
            right: 8%;
            height: 25px;
            width: 25px;
            .roundedCorners(50%);
            display: inline-block;
            background-color: #782a28;
            color:#fff;
            font-weight: 600;
          }
        }
      }
    }
  }
}
.ebook_section_light{
  padding: 40px 0;
    p{
      font-size: 15px;
    }
  h2{
    font-size: 22px;
    margin: 0 0 20px;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      border-bottom:2px solid @baseThemeColor;
      width:8%;
      top:34px;
      left:0;
    }

  }
  ul{
    margin: 0;
    padding: 0 55px;
    li{
      list-style-type: decimal-leading-zero;
      font-size: 30px;
      font-weight: 300;
      color:@baseThemeColor;
      margin: 15px 0;
      span{
        font-size: 16px;
        color:#2f4552;
      }
    }
  }
  .author_description{
    padding: 30px 0;
    clear: both;
    .auther_name{
      img{
        width: 130px;
        height: 130px;
      .roundedCorners(50%);
      background-color: #fc8f70;
      }

    }
  }
}
.ebook_section_dark{
  padding: 40px 0;
  background-color: #f5f5f5;
  p{
      font-size: 15px;
    }
  h2{
    font-size: 22px;
    margin: 0 0 20px;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      border-bottom:2px solid @baseThemeColor;
      width:8%;
      top:32px;
      left:0;
    }
  }
  ul{
    margin: 0;
    padding: 0 15px;
    li{
      list-style-type: decimal;
      margin: 15px 0;
      font-size: 15px;
    }
  }
  .page_scroll_container{
    height: 490px;
    background-color: #494a4e;
    padding: 20px 40px 20px 70px;
    .roundedCorners(30px);
    position: relative;
    margin: 40px 0 0;
    .ul_box{
      margin: 20px 0;
      ul{
        margin: 0;
        padding:0;
        li{
          list-style: none;
          margin: 20px 0;
          position: relative;
          padding-left: 85px;
          padding-top: 7px;
          font-size: 13px;
          img{
            width:50px;
            height: 50px;
            position: absolute;
            left:0;
            top:0;
          }
        }
      }
    }
    .testimonial_container{
      position: relative;
      max-width: 600px;
      margin: 30px auto;
      .testimonial { 
        margin: 0;
        background-color: #fff;
        border:2px solid #52b2da;
        padding: 10px 50px; 
        position: relative;
        font-family: Georgia, serif;   
        font-style: italic; 
        &:before{
          content: "\201C";
          position: absolute;
          font-size: 80px;
          line-height: 60px;
          color: #53b4d7;
          font-style: normal;
          top: -7px;
          left: -14px;
          width: 35px;
          height: 25px;
          background-color: #fff;
        } 
        &:after{
          content: "\201D";
          right: -7px;
          bottom: -29px;
          padding: 10px;
          position: absolute;
          font-size: 80px;
          line-height: 60px;
          color: #53b4d7;
          font-style: normal;
          width: 40px;
          height: 40px;
          background-color: #fff;
        }  
      } 
      .arrow-down {
          position: absolute;
          right: 20%;
          width: 0;
          height: 0;
          border-left: 34px solid transparent;
          border-right: 5px solid transparent;
          border-top: 25px solid #52b2da;
        } 
        .testimonial_user {   
          margin:25px;   
          font-family: Arial, Helvetica, sans-serif; 
          color: #999; 
          text-align:left;
          float: right;
          span{
            font-size: 12px;
            color: #666; 
          }
        } 
    }
    &:before{
        content: "";
        position: absolute;
        width:40px;
        height: 40px;
        background-color: #9d9ea2;
        left:14px;
        top:45%;
        .roundedCorners(50%);
      }
    .over_flow{
      height: 450px;
      overflow-y: scroll;
      .pageonescroll{
      padding: 20px;
      background-color: #fff;
        p{
          font-size: 13px;
        }
      .heading{
        border-bottom: 1px solid #5ab3b1;
        padding: 0 0 10px;
        margin: 0 0 30px;

        h3{
          font-size: 25px;
          color:@baseThemeColor;
        }
        span{
          width: 100px;
          height: 100px;
          background-color: #192b35;
          .roundedCorners(50%);
          display: inline-block;
          text-align: right;
          font-size: 109px;
          line-height: 87px;
          color:#fff;
        }
      }
      .box_container{
        margin: 0 0 10px;
        .list_arrow{
          border-top:2px solid #52b2da;
          border-bottom:2px solid #52b2da;
          padding: 10px 10px 10px 40px;
          position: relative;
          margin-left: 15px;
          float: left;
          max-width: 612px;
          &.pad{
                padding: 2px 10px 0px 40px;
          }
          p{
            margin: 0;
          }
          .number{
            position: absolute;
            width:40px;
            height: 40px;
            background-color: #fff;
            left:-17px;
            text-align: center;
            color:#333;
            font-size: 25px;
            line-height: 36px;
            top:17px;
            .roundedCorners(50%);
            border:2px solid #52b2da;
            &:before{
                  content: "";
                  position: absolute;
                  height: 19px;
                  border: 1px solid #52b2da;
                  left: 15px;
                  top: -20px;
              }
              &:after{
                  content: "";
                  position: absolute;
                  height: 19px;
                  border: 1px solid #52b2da;
                  left: 15px;
                  top: 38px;
              }
            }
          }
        }
      }
      .arrow{
          img{
            max-width: 106px;
            height: 78px;
            margin-left: -4px;
          }
        }
    }   
  }
}
.four_steps_container{
      text-align: center;
      strong{
        font-size: 15px;
      }
  .steps{
    background: url(../img/11.png) no-repeat center top;
    height: 302px;
    max-width: 362px;
    margin: 20px auto;
    p{
      padding: 19px 20px 10px 54px;
      font-weight: bold;
    }
  }
}
/* Mobile optimisation for banner elements */

@media only screen and (min-width : 200px) and (max-width : 991px) {
  html, body {
    height: auto;
  }
  .ebook_section_dark .page_scroll_container .over_flow .pageonescroll .box_container .list_arrow{
    max-width: 493px;
    padding-bottom: 19px;
  }
  .ebook_section_dark .page_scroll_container .over_flow .pageonescroll .box_container .list_arrow p{
    font-size: 11px;
  }
  .ebook_section_dark .page_scroll_container .over_flow .pageonescroll .box_container .list_arrow.pad{
    padding-bottom: 12px;
  }
  .ebook_section_dark .page_scroll_container .over_flow .arrow img{
    max-width: 51px;
  }
}

@media only screen and (min-width : 200px) and (max-width : 767px) {
  .ebook_section_conatiner{
    padding:15px 0;
    .ebook_section{
      img{
        margin: auto;
        max-width: 90px;
        }
        .ebook_car_form_container{
          h2{
            font-size: 22px;
          }
          h4{
            font-size: 14px;
          }
        }
    }
  }
  .ebook_section_light {
    h2{
      font-size: 20px;
      &:after{
        border:0;
      }
    }
    ul{
      padding: 0 0 0 58px;
      li{
        line-height: 14px;
        span{
          font-size: 14px;
        }
      }
    }
    p{
      font-size: 13px;
    }
    .author_description{
      .auther_name{
        margin: 10px auto;
        text-align: center;
      }
    }
  } 
  .ebook_section_dark{
    h2{
      &:after{
         border:0;
      }
    }
    ul{
      li{
        font-size: 13px;
      }
    }
    .page_scroll_container{
      .over_flow{
        .arrow{
          img{
            max-width: 51px;
          }
        }
        .pageonescroll {
          .box_container{
            .list_arrow{
              max-width: 493px;
            }
          }
        }
      }
      .ul_box{
        ul{
          li{
            padding-left: 60px;
            font-size: 12px;
          }
        }
      }
      padding:0;
      .roundedCorners(0px);
      background-color: #fff;
      &:before{
        width:0;
        height: 0;
      }

    }

  }
}

