/* Color scheme definitions */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* Overridden css for base_style.css */
html,
body {
  width: 100%;
  height: 90%;
  color: #2f4552;
}
.field_wrapper p {
  color: #fff;
  text-align: left;
}
.max_wid {
  max-width: 950px;
  margin: auto;
}
.ebook_section_conatiner {
  background-color: #14252c;
  padding: 50px 0;
}
.ebook_section_conatiner .ebook_section {
  max-width: 920px;
  margin: auto;
}
.ebook_section_conatiner .ebook_section img {
  max-width: 300px;
}
.ebook_section_conatiner .ebook_section .ebook_car_form_container {
  text-align: center;
  margin: auto;
  max-width: 340px;
}
.ebook_section_conatiner .ebook_section .ebook_car_form_container h4 {
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.ebook_section_conatiner .ebook_section .ebook_car_form_container h2 {
  color: #ffffff;
  margin: 10px 0 20px;
}
.ebook_section_conatiner .ebook_section .ebook_car_form_container .form_wrapper .error {
  text-align: left;
}
.ebook_section_conatiner .ebook_section .ebook_car_form_container .form_wrapper input {
  width: 100%;
  height: 48px;
  padding: 5px;
  color: #999;
  font-size: 18px;
  margin: 0 0 10px;
  outline: none;
}
.ebook_section_conatiner .ebook_section .ebook_car_form_container .form_wrapper .pos_relative {
  position: relative;
}
.ebook_section_conatiner .ebook_section .ebook_car_form_container .form_wrapper .pos_relative .btn_light_red {
  background: -webkit-linear-gradient(top, #d96862 0%, #bc423f 100%);
  background: -o-linear-gradient(top, #d96862 0%, #bc423f 100%);
  background: -ms-linear-gradient(top, #d96862 0%, #bc423f 100%);
  background: -moz-linear-gradient(top, #d96862 0%, #bc423f 100%);
  background: linear-gradient(to bottom, #d96862 0%, #bc423f 100%);
  color: #fff;
  font-weight: 600;
  border: 1px solid #d15e59;
  margin-bottom: 20px;
}
.ebook_section_conatiner .ebook_section .ebook_car_form_container .form_wrapper .pos_relative span {
  position: absolute;
  top: 13px;
  right: 8%;
  height: 25px;
  width: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  background-color: #782a28;
  color: #fff;
  font-weight: 600;
}
.ebook_section_light {
  padding: 40px 0;
}
.ebook_section_light p {
  font-size: 15px;
}
.ebook_section_light h2 {
  font-size: 22px;
  margin: 0 0 20px;
  position: relative;
}
.ebook_section_light h2:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #ff6127;
  width: 8%;
  top: 34px;
  left: 0;
}
.ebook_section_light ul {
  margin: 0;
  padding: 0 55px;
}
.ebook_section_light ul li {
  list-style-type: decimal-leading-zero;
  font-size: 30px;
  font-weight: 300;
  color: #ff6127;
  margin: 15px 0;
}
.ebook_section_light ul li span {
  font-size: 16px;
  color: #2f4552;
}
.ebook_section_light .author_description {
  padding: 30px 0;
  clear: both;
}
.ebook_section_light .author_description .auther_name img {
  width: 130px;
  height: 130px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fc8f70;
}
.ebook_section_dark {
  padding: 40px 0;
  background-color: #f5f5f5;
}
.ebook_section_dark p {
  font-size: 15px;
}
.ebook_section_dark h2 {
  font-size: 22px;
  margin: 0 0 20px;
  position: relative;
}
.ebook_section_dark h2:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #ff6127;
  width: 8%;
  top: 32px;
  left: 0;
}
.ebook_section_dark ul {
  margin: 0;
  padding: 0 15px;
}
.ebook_section_dark ul li {
  list-style-type: decimal;
  margin: 15px 0;
  font-size: 15px;
}
.ebook_section_dark .page_scroll_container {
  height: 490px;
  background-color: #494a4e;
  padding: 20px 40px 20px 70px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  position: relative;
  margin: 40px 0 0;
}
.ebook_section_dark .page_scroll_container .ul_box {
  margin: 20px 0;
}
.ebook_section_dark .page_scroll_container .ul_box ul {
  margin: 0;
  padding: 0;
}
.ebook_section_dark .page_scroll_container .ul_box ul li {
  list-style: none;
  margin: 20px 0;
  position: relative;
  padding-left: 85px;
  padding-top: 7px;
  font-size: 13px;
}
.ebook_section_dark .page_scroll_container .ul_box ul li img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
}
.ebook_section_dark .page_scroll_container .testimonial_container {
  position: relative;
  max-width: 600px;
  margin: 30px auto;
}
.ebook_section_dark .page_scroll_container .testimonial_container .testimonial {
  margin: 0;
  background-color: #fff;
  border: 2px solid #52b2da;
  padding: 10px 50px;
  position: relative;
  font-family: Georgia, serif;
  font-style: italic;
}
.ebook_section_dark .page_scroll_container .testimonial_container .testimonial:before {
  content: "\201C";
  position: absolute;
  font-size: 80px;
  line-height: 60px;
  color: #53b4d7;
  font-style: normal;
  top: -7px;
  left: -14px;
  width: 35px;
  height: 25px;
  background-color: #fff;
}
.ebook_section_dark .page_scroll_container .testimonial_container .testimonial:after {
  content: "\201D";
  right: -7px;
  bottom: -29px;
  padding: 10px;
  position: absolute;
  font-size: 80px;
  line-height: 60px;
  color: #53b4d7;
  font-style: normal;
  width: 40px;
  height: 40px;
  background-color: #fff;
}
.ebook_section_dark .page_scroll_container .testimonial_container .arrow-down {
  position: absolute;
  right: 20%;
  width: 0;
  height: 0;
  border-left: 34px solid transparent;
  border-right: 5px solid transparent;
  border-top: 25px solid #52b2da;
}
.ebook_section_dark .page_scroll_container .testimonial_container .testimonial_user {
  margin: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #999;
  text-align: left;
  float: right;
}
.ebook_section_dark .page_scroll_container .testimonial_container .testimonial_user span {
  font-size: 12px;
  color: #666;
}
.ebook_section_dark .page_scroll_container:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #9d9ea2;
  left: 14px;
  top: 45%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.ebook_section_dark .page_scroll_container .over_flow {
  height: 450px;
  overflow-y: scroll;
}
.ebook_section_dark .page_scroll_container .over_flow .pageonescroll {
  padding: 20px;
  background-color: #fff;
}
.ebook_section_dark .page_scroll_container .over_flow .pageonescroll p {
  font-size: 13px;
}
.ebook_section_dark .page_scroll_container .over_flow .pageonescroll .heading {
  border-bottom: 1px solid #5ab3b1;
  padding: 0 0 10px;
  margin: 0 0 30px;
}
.ebook_section_dark .page_scroll_container .over_flow .pageonescroll .heading h3 {
  font-size: 25px;
  color: #ff6127;
}
.ebook_section_dark .page_scroll_container .over_flow .pageonescroll .heading span {
  width: 100px;
  height: 100px;
  background-color: #192b35;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  text-align: right;
  font-size: 109px;
  line-height: 87px;
  color: #fff;
}
.ebook_section_dark .page_scroll_container .over_flow .pageonescroll .box_container {
  margin: 0 0 10px;
}
.ebook_section_dark .page_scroll_container .over_flow .pageonescroll .box_container .list_arrow {
  border-top: 2px solid #52b2da;
  border-bottom: 2px solid #52b2da;
  padding: 10px 10px 10px 40px;
  position: relative;
  margin-left: 15px;
  float: left;
  max-width: 612px;
}
.ebook_section_dark .page_scroll_container .over_flow .pageonescroll .box_container .list_arrow.pad {
  padding: 2px 10px 0px 40px;
}
.ebook_section_dark .page_scroll_container .over_flow .pageonescroll .box_container .list_arrow p {
  margin: 0;
}
.ebook_section_dark .page_scroll_container .over_flow .pageonescroll .box_container .list_arrow .number {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  left: -17px;
  text-align: center;
  color: #333;
  font-size: 25px;
  line-height: 36px;
  top: 17px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #52b2da;
}
.ebook_section_dark .page_scroll_container .over_flow .pageonescroll .box_container .list_arrow .number:before {
  content: "";
  position: absolute;
  height: 19px;
  border: 1px solid #52b2da;
  left: 15px;
  top: -20px;
}
.ebook_section_dark .page_scroll_container .over_flow .pageonescroll .box_container .list_arrow .number:after {
  content: "";
  position: absolute;
  height: 19px;
  border: 1px solid #52b2da;
  left: 15px;
  top: 38px;
}
.ebook_section_dark .page_scroll_container .over_flow .arrow img {
  max-width: 106px;
  height: 78px;
  margin-left: -4px;
}
.four_steps_container {
  text-align: center;
}
.four_steps_container strong {
  font-size: 15px;
}
.four_steps_container .steps {
  background: url(../img/11.png) no-repeat center top;
  height: 302px;
  max-width: 362px;
  margin: 20px auto;
}
.four_steps_container .steps p {
  padding: 19px 20px 10px 54px;
  font-weight: bold;
}
/* Mobile optimisation for banner elements */
@media only screen and (min-width: 200px) and (max-width: 991px) {
  html,
  body {
    height: auto;
  }
  .ebook_section_dark .page_scroll_container .over_flow .pageonescroll .box_container .list_arrow {
    max-width: 493px;
    padding-bottom: 19px;
  }
  .ebook_section_dark .page_scroll_container .over_flow .pageonescroll .box_container .list_arrow p {
    font-size: 11px;
  }
  .ebook_section_dark .page_scroll_container .over_flow .pageonescroll .box_container .list_arrow.pad {
    padding-bottom: 12px;
  }
  .ebook_section_dark .page_scroll_container .over_flow .arrow img {
    max-width: 51px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .ebook_section_conatiner {
    padding: 15px 0;
  }
  .ebook_section_conatiner .ebook_section img {
    margin: auto;
    max-width: 90px;
  }
  .ebook_section_conatiner .ebook_section .ebook_car_form_container h2 {
    font-size: 22px;
  }
  .ebook_section_conatiner .ebook_section .ebook_car_form_container h4 {
    font-size: 14px;
  }
  .ebook_section_light h2 {
    font-size: 20px;
  }
  .ebook_section_light h2:after {
    border: 0;
  }
  .ebook_section_light ul {
    padding: 0 0 0 58px;
  }
  .ebook_section_light ul li {
    line-height: 14px;
  }
  .ebook_section_light ul li span {
    font-size: 14px;
  }
  .ebook_section_light p {
    font-size: 13px;
  }
  .ebook_section_light .author_description .auther_name {
    margin: 10px auto;
    text-align: center;
  }
  .ebook_section_dark h2:after {
    border: 0;
  }
  .ebook_section_dark ul li {
    font-size: 13px;
  }
  .ebook_section_dark .page_scroll_container {
    padding: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #fff;
  }
  .ebook_section_dark .page_scroll_container .over_flow .arrow img {
    max-width: 51px;
  }
  .ebook_section_dark .page_scroll_container .over_flow .pageonescroll .box_container .list_arrow {
    max-width: 493px;
  }
  .ebook_section_dark .page_scroll_container .ul_box ul li {
    padding-left: 60px;
    font-size: 12px;
  }
  .ebook_section_dark .page_scroll_container:before {
    width: 0;
    height: 0;
  }
}
