{% extends "account_manager/cfsupport/base.html" %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <form id="endorsement_form" action="" enctype="multipart/form-data" class="form-horizontal lead-form" method='post'>
            {% csrf_token %}
            <div class="form-group">
                <label for="policy_number" class="col-sm-2 control-label">Policy No.</label>
                <div class="col-sm-4">
                    <input id="policy_number" type="text" class="form-control" maxlength="30"
                           data-bind="attr:{name:'policy_number'}, value:policy_number"/>
                    {{ form.policy_number.errors }}
                    <p class="validationMessage"
                       data-bind="validationMessage: policy_number"></p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="form-group">
                <label for="policy_name" class="col-sm-2 control-label">Policy Name</label>
                <div class="col-sm-4">
                    <input id="policy_name" type="text" class="form-control" maxlength="30"
                           data-bind="attr:{name:'policy_name'}, value:policy_name"/>
                    {{ form.policy_name.errors }}
                    <p class="validationMessage"
                       data-bind="validationMessage: policy_name"></p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="form-group">
                <label for="customer_name" class="col-sm-2 control-label">Customer Name</label>
                <div class="col-sm-4">
                    <input id="customer_name" type="text" class="form-control" maxlength="30"
                           data-bind="attr:{name:'customer_name'}, value:customer_name"/>
                    {{ form.customer_name.errors }}
                    <p class="validationMessage"
                       data-bind="validationMessage: customer_name"></p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="form-group">
                <label for="customer_email" class="col-sm-2 control-label">Customer Email</label>
                <div class="col-sm-4">
                    <input id="customer_email" type="text" class="form-control" maxlength="30"
                           data-bind="attr:{name:'customer_email'}, value:customer_email"/>
                    {{ form.customer_email.errors }}
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="form-group">
                <label for="product" class="col-sm-2 control-label">Product</label>
                <div class="col-sm-4">
                    <select id="product" class="form-control" name="product" data-bind="value: product,
            options: product_options, optionsCaption: '--Select--'">
                    </select>
                    {{ form.product.errors }}
                    <p class="validationMessage"
                       data-bind="validationMessage: product"></p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="form-group">
                <label for="insurer" class="col-sm-2 control-label">Insurer</label>
                <div class="col-sm-4">
                    <select id="insurer" class="form-control" name="insurer" data-bind="value: insurer,
            options: insurer_options, optionsValue: function(item) { return item[0]}, optionsText: function(item) { return item[1]} ,optionsCaption: '--Select--'">
                    </select>
                    {{ form.insurer.errors }}
                    <p class="validationMessage"
                       data-bind="validationMessage: insurer"></p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="form-group">
                <label for="endorsement_type" class="col-sm-2 control-label">Endorsement Type</label>
                <div class="col-sm-4">
                    <select id="endorsement_type" class="form-control" name="endorsement_type"
                            data-bind="value: endorsement_type,
            options: endorsement_type_options, optionsCaption: '--Select--'">
                    </select>
                    {{ form.endorsement_type.errors }}
                    <p class="validationMessage"
                       data-bind="validationMessage: endorsement_type"></p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="form-group">
                <label for="field" class="col-sm-2 control-label">Field</label>
                <div class="col-sm-4">
                    <select id="field" class="form-control" name="field" data-bind="value: field,
            options: field_options, optionsCaption: '--Select--'">
                    </select>
                    {{ form.field.errors }}
                    <p class="validationMessage"
                       data-bind="validationMessage: field"></p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="form-group"
                 data-bind="visible: current_value_is_visible">
                <label for="current_value" class="col-sm-2 control-label">Current Value</label>
                <div class="col-sm-4">
                    <input id="current_value" type="text" class="form-control" maxlength="30"
                           data-bind=",attr:{name:'current_value'}, value:current_value"/>
                    {{ form.current_value.errors }}
                    <p class="validationMessage"
                       data-bind="validationMessage: current_value"></p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="form-group"
                 data-bind="visible: endorsed_value_is_visible">
                <label for="endorsed_value" class="col-sm-2 control-label">Endorsed Value</label>
                <div class="col-sm-4">
                    <input id="endorsed_value" type="text" class="form-control" maxlength="30"
                           data-bind="attr:{name:'endorsed_value'}, value:endorsed_value"/>
                    {{ form.endorsed_value.errors }}
                    <p class="validationMessage"
                       data-bind="validationMessage: endorsed_value"></p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="form-group">
                <label for="user_documents" class="col-sm-2 control-label">User Documents</label>
                <div class="col-sm-4">
                    <input id="user_documents" type="file" class="form-control"
                           name="user_documents" multiple/>
                </div>
            </div>
            <div class="clearfix"></div>

            <!-- Submit the request -->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button id="endorsement_submit" type="submit" class="btn orange-flat" data-bind="">
                        Submit
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
{% endblock %}

{% block uncompressed_js %}
    <script type="text/javascript">
        var ENDORSEMENT_MAP = {{ endorsement_map|safe }};
        var INSURERS = {{ insurers|safe }};
        var INITIALS = {{ initial_data|safe }};
    </script>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript" src="{{STATIC_URL}}js/knockout/knockout-3.3.0.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/knockout/knockout.validation.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/endorsement/endorsement.js"></script>
{% endblock %}
