{% extends "account_manager/cfsupport/base.html" %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <form id="endorsement_edit_form"action="" enctype="multipart/form-data" class="form-horizontal lead-form" method='post'>
            {% csrf_token %}
            <div class="form-group">
                <label for="reciept" class="col-sm-2 control-label">Endorsement Reciept</label>
                <div class="col-sm-4">
                    <input id="reciept" type="file" accept="application/pdf" class="form-control"
                           name="reciept"/>
                </div>
            </div>
            <div class="clearfix"></div>

            <!-- Submit the request -->
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-4">
                    <button id="endorsement_submit" type="submit" class="btn orange-flat" data-bind="">
                        Submit
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
            $(document).on('submit', '#endorsement_edit_form', function(e) {
                $('#endorsement_submit').prop('disabled', true);
            }
        );
    </script>
{% endblock %}
