{% load compress%}
<section class="expert_advice">
    <div class="container">
        <h2>Get the Best Deals with our Experts</h2>
        <ul>
            <li>Get end to end assistance with personal form</li>
            <li>Don't pay extra for feature s you dont need</li>
        </ul>
        <div class="box_container">
            <div class="in-box">
                <input id="contact-me-num-expert" type="tel" class="form-control" placeholder="Mobile number">
                <span>+91</span>
            </div>
            <p class="contact-me-error-expert error"></p>
            <button class="call_me_btn_expert btn btn-cfox orange" type="button">Get an Expert To Call me Now !</button>
        </div>
    </div>
</section>

<!--Mobile Expert Form Section JS  -->

<script type="text/javascript">
    $(document).ready(function(){
        window.amlpl_mobile = Cookies.get('aml_mobile');
        $(document).on('click', '.call_me_btn_expert', function(){
            if ($.isEmptyObject(CSRF_TOKEN)){
                $.get("/ajax/get-token/", function(data){
                    CSRF_TOKEN = data.csrf;
                }, 'json');
            }
            var next_page_url = '/health-plan/';
            if(!$.isEmptyObject(next_page_override)){
                next_page_url = next_page_override;
            }
            var context = $(this);
            $('.contact-me-error').hide().text('');
            var cnum = $('#contact-me-num-expert').val();
            var res = null;
            if(cnum && cnum.length == 10){
                res = cnum.match(/[7-9]{1}\d{9}/);
                if(res){
                    var cmodel =  {
                        'mobile' : cnum,
                        'campaign' : 'Health',
                        'label': 'lp_{{ page_id }}_advice'
                    };
                    if(cnum==window.amlpl_mobile) cmodel['label']+='_prefilled';
                    Cookies.set('mobileNo', cnum);
                    Cookies.set('show_custom_alert', 'True', {expires: 120});
                    context.addClass('disabled').text('Just a moment...');
                    $.post("/leads/save-call-time/", {'data' : JSON.stringify(cmodel), 'csrfmiddlewaretoken' : CSRF_TOKEN}, function(data){
                        if (data.success){
                            window.dataLayer.push({'gtm_mobile': cnum});
                            window.dataLayer.push({
                                'event': 'GAEvent',
                                'hitType': 'event',
                                'eventCategory': 'HEALTH',
                                'eventAction': 'CallScheduled',
                                'eventLabel': 'lp_{{ page_id }}_expert',
                                'eventValue': 4
                            });
                            window.location = next_page_url + '?callback=true';
                        }
                        else{
                            console.log('POST ERROR', data);
                            window.location = next_page_url;
                        }
                    }, 'json');
                }
            }
            if($.isEmptyObject(res)){
                context.removeClass('disabled').text('Get an expert to call me now!');
                $('.contact-me-error-expert').show().text('Please enter a valid 10 digit phone number');
            }
        });
        (function(){
            var mobileNo = Cookies.get('mobileNo') || window.amlpl_mobile;
            var num_obj = $('#contact-me-num-expert');
            function set_num(v) {
                if(!num_obj.val()) num_obj.val(v);
            }
            if(mobileNo) set_num(mobileNo);
                    {%if is_mobile%}
                        else {
                        var attempts=0;
                        var fetch_amlpl_mobile = setTimeout(function() {
                            if(!num_obj.val() && attempts<8) {
                                $.get(
                                        '/health-plan/amlpl/fetch-number/',
                                        function(res) { if(res) {
                                            window.amlpl_mobile = res;
                                            set_num(res);
                                            clearTimeout(fetch_amlpl_mobile);
                                        } }
                                );
                            }
                            else {clearTimeout(fetch_amlpl_mobile);}
                            ++attempts;
                        }, 500);
                    }
                    {%endif%}
        })();
    });
</script>