@import "basestyles";
.cubic-trans {
  -moz-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -webkit-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -o-transition: all .3s cubic-bezier(0.4,0,.2,1);
  transition: all .3s cubic-bezier(0.4,0,.2,1);
}
body,html {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom:30px;
}
body{
	background: @grey-2;
    font-family: @baseFont;
    color: @textColor;
    font-size: 14px;
    position: relative;
}

.mnone{
	margin: 0;
}
.pnone {
  padding: 0;
}
.prnone{
	padding-right:0;
}
.plnone{
	padding-left:0;
}

.btn{
	font-size: 16px;
	color: rgb(255, 255, 255);
	padding: 12px 10px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	.transition(@time:200ms);
    display: block;
	&.small{
		font-size: 10px;
		.boxShadow(none);
		padding:3px 5px;
		margin-left: 5px;
	}

	&:hover{
		text-decoration: none;
		color: rgb(255, 255, 255);
	}
	&.blue{
		color:#fff;
		background-color: @blue;
		border: 1px solid darken(@blue, 5%);
		&:hover{
			background: darken(@blue, 5%);
		}
		&:active{
			background: darken(@blue, 10%);
		}
		&.empty{
			background: transparent;
			color:@blue;
			border: 1px solid @blue;
			&:hover{
				background: @blue;
				color:#fff;
			}
		}
	}
    &.orange{
		color:#fff;
		background-color: @orange;
		border: 1px solid darken(@orange, 5%);
		&:hover{
			background: darken(@orange, 5%);
		}
		&:active{
			background: darken(@orange, 10%);
		}
		&.empty{
			background: transparent;
			color:@orange;
			border: 1px solid @orange;
			&:hover{
				background: @orange;
				color:#fff;
			}
		}
	}
	&.grey{
		background-color: rgba(255,255,255,0.7);
		.boxShadow(none);
        border: 1px solid transparent;
		color:lighten(@baseDark,20%);
		&:hover{
			background: darken(@grey-2, 5%);
		}
		&:active{
			background: darken(@grey-2, 10%);
		}
	}
	&.muted-green{
		background-color: @muted-green;
		border: 1px solid darken(@muted-green, 5%);
	}
}
a {
  font-size: 12px;
 color: @textColor;
 &:hover,&:focus,&:active {
   text-decoration: none;
    color:darken(@blue,15%);
 }
}

.cf-form {
  margin: 10% auto 0;
  max-width: 320px;
  padding:20px 16px 0px;
  text-align: center;
  position: relative;
  img {
    width: 160px;
    display: inline-block;
    margin-bottom:20px
  }
  &  h3 {
    font-size: 18px;
    margin: 0px 0px 20px;
  }
  .cf-input {
    font-size: 14px;
    height:48px;
    padding:8px;
    margin-bottom:16px;
    display: block;
    width: 100%;
    border: 1px solid transparent;
    &:focus {
      outline: none;
    }
  }
  label {
    display: none;
    text-align: left;
    padding: 0 6px;
    color: #999;
  }
  .in-field {
    position: relative;
    & a {
      position: absolute;
      z-index: 1;
      top: 14px;
      right: 6px;
    }
  }
  .submit {
    margin-top:28px;
  }
  .g-plus {
    margin-top:40px;
  }
  h5 {
    line-height: 1.4em;
    padding:0 16px;
    font-size: 14px;
    color: @baseDark;
    margin-bottom:16px;
  }
}
.login,.forgot-pass {
  position: absolute;
  width: 100%;
  left:0;
  visibility: visible;
  opacity: 1;
  .cubic-trans;
  &.cf-hidden {
    left:200%;
    visibility: hidden;
    opacity: 0;
  }
}
.error-text {
  text-align: left;
  margin-top:-10px;
  font-size: 10px;
  color: #ff0000;
}

.success-msg {
  color: @baseDark;
  text-align: center;
  font-size:12px;
  .BoxShadowHelper(1);
  background-color: #fff;
  padding:20px;
  .roundedCorners(3px);
  h4 {
    font-size: 16px;
    color: @orange;
  }
}