@import "basestyles";
@break-point-small:767px;
@break-point-middle:1023px;
@break-point-large:1440px;
@break-point-xxs:319px;
@break-point-xxs-special:480px;
@break-point-small-450:450px;
.cubic-trans {
  -moz-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -webkit-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -o-transition: all .3s cubic-bezier(0.4,0,.2,1);
  transition: all .3s cubic-bezier(0.4,0,.2,1);
}

body{
	background: @grey-2;
    font-family: @baseFont;
    color: @textColor;
    font-size: 14px;
    padding-top:69px;
  @media screen and (min-width: 0px) and (max-width: @break-point-small) {
    padding-top:55px;
  }
}

.hide-overflow{
	overflow:hidden;
}

.mnone{
	margin: 0;
}
.pnone {
  padding: 0;
}
.prnone{
	padding-right:0;
}
.plnone{
	padding-left:0;
}


.cf-input {
  margin:5px 0px;
  padding:12px 8px;
  .roundedCorners(0px);
  border: 1px solid transparent;
  background-color: @grey-2;
  display:block;
  width: 100%;
  &:focus {
    outline: none;
    background-color: darken(@grey-2,5%);
  }
}

.error-text {
  font-size: 12px;
  color: #ff0000;
  display: block;
  margin:0 0 10px;
}
.btn{
	//.boxShadow(~"0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)");
	font-size: 12px;
	color: rgb(255, 255, 255);
	padding: 3px 10px;
	.roundedCorners(2px);
	cursor: pointer;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	.transition(@time:200ms);
	&.small{
		font-size: 10px;
		.boxShadow(none);
		padding:3px 5px;
		margin-left: 5px;
	}

	&:hover{
		text-decoration: none;
		color: rgb(255, 255, 255);
	}
	&.blue{
		color:#fff;
		background-color: @blue;
		border: 1px solid darken(@blue, 5%);
		&:hover{
			background: darken(@blue, 5%);
		}
		&:active{
			background: darken(@blue, 10%);
		}
		&.empty{
			background: transparent;
			color:@blue;
			border: 1px solid @blue;
			&:hover{
				background: @blue;
				color:#fff;
			}
		}
	}
    &.orange{
		color:#fff;
		background-color: @orange;
		border: 1px solid darken(@orange, 5%);
		&:hover{
			background: darken(@orange, 5%);
		}
		&:active{
			background: darken(@orange, 10%);
		}
		&.empty{
			background: transparent;
			color:@orange;
			border: 1px solid @orange;
			&:hover{
				background: @orange;
				color:#fff;
			}
		}
	}
	&.grey{
		// background-color: @grey-2;
		.boxShadow(none);

		color:@baseDark;
		&:hover{
			background: darken(@grey-2, 5%);
		}
		&:active{
			background: darken(@grey-2, 10%);
		}
	}
	&.muted-green{
		background-color: @muted-green;
		border: 1px solid darken(@muted-green, 5%);
	}
}
a {
 color: darken(@blue,10%);
 &:hover,&:focus,&:active {
   text-decoration: none;
 }
}
/* header css begin */
.nav-toggle {
  position: relative;
  float: left;
  padding: 8px;
  margin-right:10px;
  margin-top:-5px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  .roundedCorners(3px);
  .cover {
    display: none;
  }
  .bar {
    background-color: #fff;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  & .bar+.bar {
    margin-top: 4px;
  }
  &.active {
    background-color: rgba(0,0,0,0.2);
    z-index: 2;
    & .cover {
      display: block;
      position: fixed;
      top:55px;
      left:0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 1;
    }
  }
}
.header-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 69px;
  z-index: 10;
  padding: 15px 20px 10px;
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: darken(@baseDark, 5%);
  }
  #top-menu {
    max-width: @break-point-large;
    margin: auto;
  }
  .logo {
    img {
      max-height: 30px;
    }

  }
  .nav-text {
    color: rgb(151, 160, 167);
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    padding-top: 6px;

  }

  .nav-text-separator {
    height: 30px;
    border-right: 1px solid rgb(151, 160, 167);
    margin: 0 20px;
    width: 0;
  }
  @media screen and (min-width: 0px) and (max-width: @break-point-small) {
    padding: 15px 0px 10px;
    height: 55px;
    & .logo img {
      max-height: 20px;
    }

    & .nav-text {
      font-size: 12px;
    }

    & .nav-text-separator {
      margin: 0 10px;
    }
  }
  @media screen and (min-width: 0px) and (max-width: @break-point-xxs) {
    & .nav-text-separator {
      display: none;
    }
    & .nav-text {
      margin-left:5px;
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}
.nav-list {
  color: #fff;
  list-style-type: none;
  padding:0px;
  margin: 0px;
  float: right;

  li {
    display: inline-block;
    line-height: 1.1em;
    vertical-align: middle;
    margin-left:20px;
    position: relative;
    & small,a {
      color: rgba(255,255,255,0.5);
      font-size: 10px;
    }
    & a:hover,& a:focus,&:active {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
  }
  li.user-profile {
    margin-top: -5px;
    padding-left: 50px;
    & img {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top:5px;
      left: 0px;
      .roundedCorners(50%);
      border: 2px solid rgba(255,255,255,0.2);
    }
  }
}
.nav-list .icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  img {
    width: 100%;
  }
}
.nav-list .notification {
  background-color: @orange;
  text-align: center;
  min-width: 16px;
  height: 16px;
  padding: 3px;
  line-height: 1em;
  font-size: 10px;
  .roundedCorners(100%);
  position: absolute;
  left: -5px;
  top:-5px;
}

/* header css end */
/* greeting css begin */
  .greeting {
    padding:45px 20px;
    background-color: @baseDark;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: rgba(255,255,255,0.5);
    position: relative;
    z-index: 2;
    strong {
      color: #fff;
      font-weight: 600;
    }
    @media screen and (min-width: 481px) and (max-width: @break-point-small) {
      padding:15px 20px;
    }
    @media screen and (min-width: 0px) and (max-width:@break-point-xxs-special) {
      display: none;
    }
  }
/* greeting css end */
/* content css */
@left-col-width: 20%;
@right-col-width: 310px;
#content-wrapper {
  max-width: @break-point-large;
  margin: 45px auto;
  padding-left: @left-col-width;
  padding-right: @right-col-width;
  position: relative;
  .left-col,.right-col {
   position: absolute;
    top:0px;
  }
  .left-col {
    left: 0px;
    width: @left-col-width;
    & .cover {
      display: none;
    }
  }
  .right-col {
    right: 0px;
    width: @right-col-width;
    z-index: 1;
    &:before {
      content:'';
      position: fixed;
      width: @right-col-width;
      background-color: rgba(255,255,255,0.5);
      top:0px;
      bottom: 0px;
    }
  }
  .center-col {
    margin: 0px 35px;
    padding:1px 0px;
    position: relative;
    &  > h4 {
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 400;
      padding: 0px 15px;
      margin: 0px 0px 15px;
      color: @baseDark;
    }
  }
  @media screen and (min-width: 0px) and (max-width: 1100px) {
      max-width: @break-point-middle;
      & .center-col {
        margin-left:15px;
        margin-right:15px;
      }
  }
  @media screen and (min-width: 0px) and (max-width: @break-point-middle) {
      padding-right:0;
      margin-top:20px;
      margin-bottom: 300px;
      max-width: 850px;
      & .center-col {
        margin-right:0;
      }
      & .right-col {
        position: relative;
        margin-left:15px;
        margin-right:0px;
        width: auto;
        &:before {
          display: none;
        }
      }
  }
  @media screen and (min-width: 0px) and (max-width: @break-point-small) {
    padding-left:0;
    max-width: 600px;
    & .left-col {
      margin-left: 0;
      .transition (margin-left,0.3s,cubic-bezier(.4, 0, .2, 1));
      position: fixed;
      width: 200px;
      top:55px;
      bottom:0px;
      left:-300px;
      z-index: 20;
      background-color: #fff;
      .boxShadow(1px 1px 2px rgba(0,0,0,0.5));
      overflow-y: auto;
      &.active {
        margin-left: 300px;
        .cubic-trans;
      }
    }
    & .center-col {
      margin-left:0;
    }
    & .right-col {
      margin-left: 5px;
    }
  }
  @media screen and (min-width: 0px) and (max-width: @break-point-xxs-special) {
    margin-left:-20px;
    margin-right:-20px;
  }
}
.side-nav {
  list-style-type: none;
  padding:10px 0px 15px;
  margin: 0px;
  background-color: #fff;
  .roundedCorners(3px);
  .BoxShadowHelper(1);
  & > li {
    cursor: pointer;
    position: relative;

    & ul {
      display: none;
      list-style-type: none;
      padding:5px 15px 0px;
      margin: 0px 0px 10px;
      overflow: hidden;
      background-color: #fff;
      & li {
        cursor: pointer;
        font-size: 12px;
        padding: 10px 0px 0px 15px;
        position: relative;
        line-height: 1.7em;
      }
      & li:before {
        content: '';
        display: block;
        border-left:1px solid rgba(0,0,0,0.1);
        position: absolute;
        bottom:10px;
        left:0px;
        height:100%;
      }
      & li:after {
        content: '';
        display: block;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        position: absolute;
        left: 1px;
        top: 100%;
        margin-top: -11px;
        width: 8px;
      }
      & li.active {
        color: @orange;
      }
    }
    &.active {
      background-color: @grey-2;
      & ul {
        display: block;
      }
    }
    &.active:before {
      content: '';
      width: 4px;
      background-color: @orange;
      position: absolute;
      top:0px;
      left:-1px;
      height: 40px;
      display: block;
    }
    & a {
      color: inherit;
      display: block;
      padding: 10px 20px;
      &:hover {
        background-color: lighten(@grey-2,2%);
      }
    }
  }
  @media screen and (min-width: 0px) and (max-width: @break-point-small) {
    .boxShadow(none);
  }
}
.my-intro {
  padding: 10px 20px;
  background-color: @baseDark;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  small {
    color: rgba(255,255,255,0.5);
  }
  .btn.small {
    margin-top:5px;
    display:inline-block;
    margin-left:0px;
  }
  img {
    .BoxShadowHelper(1);
    .roundedCorners(100%);
    display: block;
    width:40px;
    height: 40px;
    margin-bottom: 10px;
  }
  .notification {
    position: relative;
    padding:10px 0px;
    margin-top:5px;
    border-top:1px solid rgba(255,255,255,0.5);
    .badge {
      background-color: @orange;
      text-align: center;
      min-width: 16px;
      height: 16px;
      padding: 3px;
      line-height: 1em;
      font-size: 10px;
      .roundedCorners(100%);
      position: absolute;
      right: 10px;
      top:12px;
      color: #fff;
    }
    .icon {
      width:16px;
      height: 16px;
      display: inline-block;
      margin-left:5px;
      & img {
        width: 100%;
        height:auto;
      }
    }
  }
}

.help-ur-self {
  position: relative;
  z-index: 2;
  overflow: hidden;
  font-size: 12px;
  a,span.i {
    color: @textColor;
    display: block;
    padding: 3px 0px;
    & img {
      height: 20px;
      display: inline-block;
      margin-right:10px;
    }
    &:hover,&:active {
      color: @textColor;
      text-decoration: none;
    }
  }
  h5 {
    padding:0px 20px;
    margin: 0;
    font-weight: 600;
  }
  h4 {
    line-height: 1.4em;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    color: lighten(@baseDark,20%);
  }
  & > div {
    position: relative;
    padding: 10px;
    margin: 10px 20px;
    border: 1px dashed rgba(0,0,0,0.1);
  }
  @media screen and (min-width: 0px) and (max-width: @break-point-middle) {
    background-color: rgba(255,255,255,0.7);
    a,span.i {
      display: inline-block;
      margin-right:10px;
    }
  }
}

.rel-manager {
  position: relative;
  z-index: 2;
  background-color: #fff;
  .roundedCorners(3px);
  .BoxShadowHelper(1);
  overflow: hidden;
  font-size: 12px;
  margin-bottom: 15px;
  a,span.i {
    color: @textColor;
    display: block;
    padding: 3px 0px;
    pointer-events:none;
    & img {
      height: 20px;
      display: inline-block;
      margin-right:10px;
    }
    &:hover,&:active {
      color: @textColor;
      text-decoration: none;
    }
  }
  .call-back {
    color: darken(@muted-green,5%);
    font-size: 16px;
    padding:10px 10px 10px 25px;
    &:hover,&:focus,&:active {
      color: darken(@muted-green,10%);
    }
  }
  h4 {
    background-color: darken(@baseDark,5%);
    padding: 10px 20px;
    text-align: center;
    color: rgba(255,255,255,0.7);
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0px;
  }
  h5 {
    font-size: 18px;
    margin: 0px 0px 10px;
  }
  & > div {
    position: relative;
    padding-left:120px;
    padding-top: 10px;
  }
  & > div.help {
    padding: 10px 20px;
  }
  .pic {
    background-color: #e3cce3;
    position: absolute;
    left:0;
    bottom: 0;
    top: 0;
    width: 90px;
    & img {
      background-color: @grey-2;
      border:2px solid rgba(255,255,255,0.5);
      .roundedCorners(100%);
      width: 70px;
      height: 70px;
      .BoxShadowHelper(1);
      position: absolute;
      top:10px;
      right:-10px;
    }
  }
  @media screen and (min-width: 0px) and (max-width: @break-point-middle) {
    h4 {
      text-align: left;
    }
    a,span.i {
      display: inline-block;
      margin-right:10px;
    }
    .call-back {
      display: block;
    }
  }
  @media screen and (min-width: 0px) and (max-width:@break-point-xxs-special) {
    .roundedCorners(0px);
  }
}
.chat-box {
  background-color: #fff;
  .BoxShadowHelper(1);
  .roundedCorners(3px);
  overflow: hidden;
  position: fixed;
  bottom: 0px;
  width: @right-col-width;
  .header {
    background-color: @orange;
    color: #fff;
    position: relative;
    padding:10px 10px 10px 80px;
    font-size: 12px;
    height: 60px;
    line-height: 1.2em;
    .handle {
      position: absolute;
      right:20px;
      top:50%;
      margin-top: -8px;
      height: 16px;
      width: 16px;
      background-color: rgba(0,0,0,0.2);
    }
    h5 {
      margin: 0px 0px 10px;
    }
    & img {
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      top:10px;
      left:20px;
      .BoxShadowHelper(1);
      .roundedCorners(100%);
      border: 1px solid #fff;
    }
    i,span {
      vertical-align: top;
    }
    .indicator {
      width: 14px;
      height: 14px;
      display: inline-block;
      border: 2px solid rgba(0,0,0,0.3);
      background-color: #ff0000;
      .roundedCorners(100%);
      margin-right: 5px;
      &.available {
        background-color: @muted-green;
      }
    }
  }
  @media screen and (min-width: 0px) and (max-width: @break-point-middle) {
    right:15px;
  }
  @media screen and (min-width: 0px) and (max-width: @break-point-small) {
    right:50%;
    margin-right:-(@right-col-width/2);
  }
}
.policy-window {
  margin: 0px;
  position: relative;
  min-height: 130px;
  padding:0 0 15px;
  //animated hide setup for big screens
  @media screen and (min-width: @break-point-small) {
    .policy-card {
      .transition(all, 0.3s);
      .transform(translateY(0px));
      z-index: 3;
      opacity: 1;
      visibility: visible;
    }
    &.policy-hide .policy-card {
      .transform(translateY(50%));
      position: relative;
      opacity: 0;
      visibility: hidden;
    }
  }
}


ul.actions{
 position: absolute;
  right: 0px;
  top: 0px;
  list-style-type: none;
  padding:0px;
  margin: 6px 0 0;
  z-index: 3;
  color: #666;
  width: 226px;
  text-transform: uppercase;
  @media screen and (min-width: 0px) and (max-width: @break-point-small-450) {
    top:25px;
  }
  li.renew {
    background-color: @orange;
    color: #fff;
    &:hover {
      background-color: darken(@orange,5%);
    }
  }
  li {
    display:block;
    vertical-align: bottom;
    font-size: 10px;
    padding:6px 10px 6px 30px;
    position: relative;
    z-index: 1;
    &:after {
      .cubic-trans;
      content: '';
      position: absolute;
      left:0px;
      top:0px;
      bottom:0px;
      right:0px;
      background-color: transparent;
      z-index: 0;
    }
    &:hover,&:active,&:focus {
      cursor: pointer;
      &:after{
        cursor: pointer;
        background-color: rgba(0,0,0,0.05);
      }
    }
  }
  a {
    letter-spacing: 1px;
    color: inherit;
    &:hover, &:active, &:focus {
      text-decoration: none;
      color: inherit;
    }
  }

  & .icon-action {
    left:8px;
    position: absolute;
    width: 16px;
    height: 16px;
    display: inline-block;
    & img {
      width:100%;
      position: relative;
      z-index: 1;
    }

  }
  @media screen and (min-width: 0px) and (max-width: @break-point-xxs) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 5px -20px;
    padding: 5px 10px 0px;
    position: relative;
    top: 0px;
    right: auto;
    width: auto;
    text-align: right;
    & li {
      display: inline-block;
      margin: 0px 0px 5px;
      padding: 4px 8px 4px 30px;
      text-align: left;
      width: 100%;
    }
  }
}
.policy-card {
  min-height: 120px;
  margin-bottom: 10px;
  background-color: #fff;
  .roundedCorners(3px);
  .BoxShadowHelper(1);
  line-height: 1.4em;
  overflow: hidden;
  &.open {
    & .policy-detail,& .disclaimer {
      display: block;
    }
  }
  .disclaimer{
    border-top: 1px solid rgba(0,0,0,0.1);
    color: @orange;
    padding: 10px 20px;
    font-size: 11px;
    display: none;
  }
  .policy-intro {
    min-height: 130px;
    padding:12px 230px 0px 120px;
    font-size: 11px;
    position: relative;
    z-index: 2;
    &:after {
      content: '';
      position: absolute;
      display: block;
      background-color: #f5f5f5;
      right:0;
      top: 0;
      bottom: 0;
      width: 226px;
      z-index: 1;
    }
  }
  .text-red {
    color: #ff0000;
  }
  .val {
    padding-left:5px;
  }
  .btn.claim {
    letter-spacing: 1px;
  }
  .insurer-logo {
    width: 80px;
    height: 80px;
    position: absolute;
    padding:15px 0px;
    left:20px;
    top:35px;
    border: 2px solid rgba(0,0,0,0.1);
    .roundedCorners(3px);
    & img {
      width: 100%;
    }
  }
  .custom-title-row {
    color: darken(@blue,10%);
    font-size: 10px;
    line-height: 1.2em;
    letter-spacing: 1px;
    padding:0px 20px 10px 0px;
    em {
      cursor: pointer;
      position: relative;
      padding-right:20px;
      display: inline-block;
      & img {
        position: absolute;
        width:12px;
        height: 12px;
        top:-5px;
        right:0px;
        display: none;
      }
    }
    em:hover {
      img {display: block;}
    }
  }
  span.ins {
    position: absolute;
    text-transform: uppercase;
    color: #999;
    font-size: 10px;
    top: 12px;
    left: 20px;
    z-index: 3;
    width: 100px;
  }
  h3 {
    margin-top:0px;
    font-size: 15px;
    margin-bottom:5px;
    //border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  a.open-btn,a.close-btn {
    font-size: 11px;
    & span i {
      font-style: normal;
      display: inline-block;
      padding: 1px 0;
      margin-right: 5px;
      text-align: center;
      width: 16px;
      height: 16px;
      line-height: 0.9em;
      position: relative;
      font-size: 14px;
      border: 1px solid darken(@blue, 5%);
      .roundedCorners(50%);
    }
    & span.c_o {
      display: inline;
    }
    & span.c_c {
      display: none;
      & i {font-size: 11px;top:-2px;}
    }
  }
  &.open {
    & a.open-btn,a.close-btn {
      span.c_o {
        display: none;
      }
      span.c_c {
        display: inline;
      }
    }
  }
  .footer-tool {
    padding: 10px;
    text-align: center;
    border-top:1px solid rgba(0,0,0,0.1);
  }
  .tool {
    background-color: #fff;
    padding:6px 0px;

    @media screen and (min-width: 0px) and (max-width: @break-point-xxs) {
      text-align: center;
      padding: 5px;
      margin: 0 -20px 0px;
      background-color: #f5f5f5;
      border-top: 1px solid rgba(0,0,0,0.05);
    }
  }
  @media screen and (min-width: 0px) and (max-width: @break-point-small) {
    h3 {
      font-size: 14px;
    }
  }
  @media screen and (min-width: 0px) and (max-width: @break-point-small-450) {
    & .policy-intro {
      padding-left:20px;
    }
    h3 {
      font-size: 14px;
    }
    .insurer-logo {
      position: relative;
      top: 0px;
      width: 80px;
      height: 45px;
      margin-bottom: 10px;
      left: 0px;
      padding: 0px 3px;
    }
    & span.ins {
      //right: 115px;
      right:0;
      padding-right:10px;
      width: auto;
      left:auto;
    }
  }
  @media screen and (min-width: 0px) and (max-width: @break-point-xxs) {
    & .policy-intro {
      padding-left: 20px;
      padding-right: 20px;
      &:after {
        display: none;
      }
    }
    & span.ins {
      right: 0px;
    }
    .insurer-logo {
      position: relative;
      top: 0px;
      width: 90px;
      height: 50px;
      margin-bottom: 10px;
      left: 0px;
    }
  }
  @media screen and (min-width: 0px) and (max-width:@break-point-xxs-special) {
    .roundedCorners(0px);
  }
}
// caregory icons show css
.policy-card {
  &.car .ins {
    background-image:url('../img/icons/ic_car.png');
  }
  &.health .ins {
    background-image:url('../img/icons/ic_health.png');
  }
  &.home .ins {
    background-image:url('../img/icons/ic_home.png');
  }
  &.travel .ins {
    background-image:url('../img/icons/ic_travel.png');
  }
  &.bike .ins {
    background-image:url('../img/icons/ic_category_bike.png');
  }
  .ins {
    padding-left:18px;
    padding-bottom:5px;
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -ms-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-repeat: no-repeat;
  }
}

.profile-card {
  background-color: #fff;
  position: relative;
  padding:20px 60px 20px 20px;
  min-height: 300px;
  margin-bottom:20px;
  .label {
    color: darken(@muted-green,5%);
    font-size:12px;
    margin:0px 0px 5px;
  }
  .field {
    margin-bottom: 25px;
    .edit {
      display: none;
      position: absolute;
      top:-10px;
      right:0px;
      width: 16px;
      height: 16px;
      cursor: pointer;
      & img {
        width: 100%;
      }
    }
    & input, & textarea {
      margin-bottom:5px;
      display:none;
      max-width: 300px;
      width: 100%;
    }
    & .btn {display: none}
    &.active {
      h3,h5 {
        display: none;
      }
      & input, & textarea {
        display: block;
      }
      & .btn{display: inline-block;}
    }
    h3 {
      font-weight: 300;
      margin: 0;
      font-size: 18px;
    }
    h5 {
      margin: 0;
      line-height: 1.6em;
    }
    h5,h3 {
      position: relative;
      display: inline-block;
      padding-right:20px;
      &:hover {
        .edit{display: block;}
      }
    }
  }
  .mod-status {
    position: absolute;
    top:0px;
    bottom: 0px;
    right:0px;
    width: 120px;
    padding:20px 15px;
    text-align: right;
    font-size:12px;
    background-color: #f5f5f5;
    & .muted {
      color: #999;
    }
    & .val {
      margin:0px 0px 20px;
    }
  }
  @media screen and (min-width: 0px) and (max-width: @break-point-small) {
    padding-right:20px;
    .mod-status{display: none;}
    .field .edit {display:block;}
  }
}


.policy-detail {
  display: none;
  border-top: 1px solid rgba(0,0,0,0.1);
  background-color: #f5f5f5;
  margin-bottom:0px;
  min-height: 100px;
  font-size: 12px;
  .label-header {
    color: #999;
    margin-bottom:0px;
  }
  .label-val {
    margin-bottom: 10px;
    font-weight: 600;
  }
  table.insured {
    th {
      background-color: #f5f5f5;
    }
    td,th {
      font-size: 10px;
      text-align: left;
      padding: 5px;
      border: 1px solid rgba(0,0,0,0.1);
    }
  }
  .content {
    padding:10px 20px 30px;
  }
  .list-panel {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    .header {
      background-color: @blue;
      color:#fff;
      font-size:14px;
      padding:10px 20px;
      strong {
        padding: 2px 8px;
        background-color: rgba(0,0,0,0.1);
      }
    }
    .content {
      padding: 20px;
      background-color: #fff;
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        & li {
          min-height: 20px;
          padding:0px 5px 15px 5px;
        }
      }
      &.hospitals ul li {
        padding:0px 5px 15px 25px;
        background: url('../img/icons/ic_place_blue.png') no-repeat left top transparent;
        -webkit-background-size: 20px 20px;
        background-size: 20px 20px;
      }
    }
  }
  .foot {
    .roundedCorners(0 0 3px 3px);
    .tab-content {
      padding: 20px;
      ul {
        padding-left: 0px;
        font-size: 12px;
      }
      @media screen and (min-width: 0px) and (max-width: @break-point-small) {
        padding:20px 25px;
      }
    }
    p.label {
      color: #999;
    }
  }
  .info {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
    margin: 10px 0 20px;
    background-color: #fff;
    @media screen and (min-width: 0px) and (max-width: @break-point-small) {
      overflow-y: auto;
      max-width: 100%;
    }
  }
  .tab {
    padding: 40px 0px 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    & .tab-item {
      padding:5px 5px 10px;
      text-align: center;
      border-bottom:2px solid transparent;
      text-transform: uppercase;
      font-size: 11px;
      position: relative;
      & > span {
        position: absolute;
        bottom:3px;
        left:0;
        width:90%;
      }
      &:hover {
        cursor: pointer;
        color: @orange;
      }
      &.active {
        color: @orange;
        border-bottom-color: @orange;
      }
      @media screen and (min-width: 0px) and (max-width: @break-point-small) {
        padding: 5px 10px;
        margin: 5px;
        float: none;
        display: inline-block;
        .roundedCorners(3px);
        background-color: transparent;
        border: none;
        & > span {
          position: relative;
          left: 0;
          bottom: auto;
        }
        &.active {
          background-color: @orange;
          color: #fff;
        }
      }
    }
  }
  h5.orange {
    color: @orange;
    font-size: 12px;
  }
  table.insured.chart td {
    background-color:#fff;
  }
}

#no-plans {
  padding: 30px 20px 15px;
  .BoxShadowHelper(1);
  .roundedCorners(3px);
  background-color: #fff;
  text-align: center;
  opacity: 1;
  visibility: visible;
  .transform(scale(1));
  .cubic-trans;
  position: relative;
  width: 100%;
  &.animate-hide {
    position: absolute;
    z-index: 0;
    opacity: 0;
    visibility: hidden;
   .transform(scale(0));
  }

  small {
    display: block;
    margin-bottom: 10px;
    color: #999;
  }
  h4 {
    margin: 0px 0px 10px 0px;
    font-size: 14px;
    & > span {
      text-transform: capitalize;
    }
  }

  & .proposition {
    background-color: @grey-2;
    padding: 10px 20px;
    margin: 15px -20px 0px;
    ul {
      padding:0px;
      margin: 0px;
      & li {
        display: inline-block;
        margin: 3px 15px;
        font-size: 11px;
        color: lighten(@baseDark,10%);
        position: relative;
      }
      & li:before {
        content: '';
        display:block;
        position: absolute;
        top:6px;
        left:-9px;
        .roundedCorners(50%);
        background-color: @orange;
        width:5px;
        height:5px;
      }
    }
  }
  & .companies {
    margin: 0px;
    padding: 10px;
    & img {
      display: inline-block;
      height:40px;
      margin: 3px 10px;
    }
  }
}
.my-modal {
  position: fixed;
  z-index: 30;
  background-color: rgba(0,0,0,0.7);
  display:block;
  width:0px;
  height:0px;
  opacity: 0;
  visibility: hidden;
  top:-100%;
  overflow: auto;
  & .modal-heading {
    background-color: #f5f5f5;
    position: relative;
    padding: 10px 30px;
    font-size: 16px;
    margin: -20px -30px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    .roundedCorners(3px 3px 0 0);
  }
  .modal-content {
    .cubic-trans;
    .roundedCorners(3px);
    .BoxShadowHelper(2);
    background-color: #fff;
    padding:30px;
    text-align: center;
    max-width: 500px;
    margin:auto;
    position: relative;
    margin-top:-1000px;
  }
  .close-modal {
    position: absolute;
    top:10px;
    right:10px;
    width: 20px;
    height: 20px;
    display: block;
    cursor: pointer;
    z-index: 1;
    .roundedCorners(50%);
    &:hover {
      background-color: rgba(0,0,0,0.1);
    }
  }
  h4 {
    font-size:14px;
    margin-bottom:15px;
  }
  .cf-input {
    margin-bottom:15px;
  }
  input.cf-input {
    max-width: 300px;
  }
  .btn {
    padding:8px 20px;
    font-size: 14px;
  }
  &.active {
    opacity: 1;
    visibility: visible;
    width: auto;
    height: auto;
    top:0;left:0;bottom:0;right:0;
    & .modal-content {
      margin-top:10%;
    }
  }
}
#initiate-claim {
  font-size: 12px;
  .modal-content {
    padding-top:20px;
    text-align: left;
  }
  h4 {
    font-size:16px;
    margin-bottom:10px;
    color: @baseDark;
  }
  & .r-msg {
    font-size: 14px;
    margin: 15px 0px 5px;
  }
  h5 {
    color:@orange;
    font-size: 14px;
  }
  ul {
    background-color: @grey-2;
    padding: 10px 115px 10px 30px;
    list-style-type: none;
    margin: 15px -30px;
    position: relative;
    & li.logo {
      background-color: #fff;
      position: absolute;
      border: 1px solid rgba(0,0,0,0.1);
      width: 90px;
      height: 50px;
      right: 20px;
      top: 15px;
      padding: 0px 3px;
      & img {
        width: 100%;
      }
    }
    & li {
      font-size: 11px;
      margin-bottom: 5px;
    }
  }
  p.hurry {
    margin: 5px 0px 0px;
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 15px;
    line-height: 1.6em;
    .roundedCorners(3px);
  }
  .back-msg,.success-msg {
    h3 {
      color: @muted-green;
      font-size: 20px;
      &.orange {
        color: @orange;
      }
    }
  }
  .policy-category {text-transform: capitalize;}
}
.loading-screen {
  background-color: @grey-2;
  position: fixed;
  z-index:1000;
  bottom: 0;
  left:0;
  right:0;
  top:69px;
  text-align: center;
  .transition(all,0.7s);
  opacity: 1;
  visibility: visible;
  img {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    margin-top: 20%;
  }
  &.cf-hide {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
  @media screen and (min-width: 0px) and (max-width: @break-point-small) {
    top:55px;
  }
}
#redirect-btn {
  text-transform: capitalize;
}
