<section class="block block--banner stashable" data-cms-attr="class:boxClass">
	<div class="container grid-960" data-cms-content="sec_main_container">
		<div class="row disp-banner-container">
			<div class="col-md-offset-1 col-md-10">
				<div class="row">
					<div class="term-content">
						<h2 data-cms-content="sec_main_header">Term Life Insurance</h2>
						<div class="sub-text" data-cms-content="sec_main_subtext">Secure your family's financial health and future.</div>
					</div>
					<div class="banner-img__wrapper clearfix">
						<img class="banner-icon" data-cms-attr="src:image_url_disp_banner" src="{{STATIC_URL}}img/icons/term_icons/mktg_term.png" alt="Term Life Insurance">
						<div>
							<p data-cms-content="sec_main_para1">Choose between <span>monthly</span> or <span>lump<br> sum</span> payout
							</p>
							<p data-cms-content="sec_main_para2">
								Cover critical illness and<br> accidental death with <span>add-ons</span>
							</p>
						</div>
						<div>
							<p data-cms-content="sec_main_para3">Up to <span><img class="lp-rupee" src="{{STATIC_URL}}img/global/rupeeSymbol.png"> 4 crore</span> cover at premium<br> as low as <span><img class="lp-rupee" src="{{STATIC_URL}}img/global/rupeeSymbol.png"> 6,500</span> annually
							</p>
							<p data-cms-content="sec_main_para4">Avail <span>tax benefit</span> on base premium<br> under section 80C
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- include insurer logo section here -->
{% include "components/section--insurer-logos-cms.html" %}

<section class="block block--content stashable" data-cms-attr="class:boxClass">
	<div class="container grid-960" data-cms-content="sec_main_container2">
		<div class="content-header">
			<h2 data-cms-content="car_header"><strong>Term Life</strong> Insurance</h2>
			<div class="sh--small" data-cms-content="car_subtext">Things you <strong>need</strong> to know</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1 mobile-max-content">
				<div class="leader-box leader-box--icon">
					<div class="lb-icon">
						<img data-cms-attr="src:image_url_car" src="{{STATIC_URL}}img/icons/term_icons/keyword-life.png" alt="Term Life keyword">
					</div>
					<p data-cms-content="term_text">
						Some may say that Death is the next greatest adventure, but still it's an adventure one usually experiences alone. In such a case, the least we can do is ensure that our loved ones are left financially secure. That's where the idea of a term insurance plan comes in, so that worries about your family's future don't.
					</p>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<h4 class="h-underline" data-cms-content="car_comp_header">LUMP SUM BENEFIT OPTION</h4>
						<p data-cms-content="car_comp_text">The sum assured is paid out in one whole 'lump sum' to the nominee of the policy.
						</p>
					</div>
					<div class="col-sm-6">
						<h4 class="h-underline" data-cms-content="car_third_header">INCOME BENEFIT OPTION</h4>
						<p data-cms-content="car_third_text">
							A percentage of the assured sum is paid in monthly instalments from the first month of the death.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="block block--content grey" data-cms-attr="class:boxClass">
	<div class="container grid-960" data-cms-content="sec_main_container3">
		<div class="content-header">
			<h2 data-cms-content="add_cover_header">Why <strong>Term Insurance</strong></h2>
			<div class="sh--small" data-cms-content="add_cover_subheader"></div>
		</div>
		<ul class="grid-list clearfix">
			<li>
				<div class="content-media content-media--center">
					<img data-cms-attr="src:image_url_zero_dept" src="{{STATIC_URL}}img/icons/term_icons/ic_term_financialSecurity.png" alt="Financial Security">
					<h5 data-cms-content="zero_dept">FINANCIAL SECURITY</h5>
					<p data-cms-content="zero_dept_text">Benefit to the nominee for a secure financial future.</p>
				</div>
			</li>
			<li>
				<div class="content-media content-media--center">
					<img data-cms-attr="src:image_url_engine_pro" src="{{STATIC_URL}}img/icons/term_icons/ic_term_lowpremium.png" alt="Low Premium">
					<h5 data-cms-content="engine_pro">LOW PREMIUM</h5>
					<p data-cms-content="engine_pro_text">An attractive premium for higher sum assured.</p>
				</div>
			</li>
			<li>
				<div class="content-media content-media--center">
					<img data-cms-attr="src:image_url_ncb_pro" src="{{STATIC_URL}}img/icons/term_icons/ic_term_smokersincuded.png" alt="Smokers Included">
					<h5 data-cms-content="ncb_pro">SMOKERS INCLUDED</h5>
					<p data-cms-content="ncb_pro_text">Even those with tobacco-chewing and smoking habits can opt for the plan. No one discriminates or judges that way.</p>
				</div>
			</li>
			<li>
				<div class="content-media content-media--center">
					<img data-cms-attr="src:image_url_incoice_cover" src="{{STATIC_URL}}img/icons/term_icons/ic_term_tax.png" alt="Tax Exemption">
					<h5 data-cms-content="invoice_cover">TAX EXEMPTION</h5>
					<p data-cms-content="invoice_cover_text">
						The premium paid is also exempted from taxation up to a maximum of <img class="lp-rupee" src="{{STATIC_URL}}img/global/rupeeSymbol.png">1 lakh under section 80C of the Income Tax Act, 1961.
					</p>
				</div>
			</li>
		</ul>
	</div>
</section>

<section class="block block--content bdr-none stashable" data-cms-attr="class:boxClass">
	<div class="container grid-960" data-cms-content="exper_ad_full_content">
		<div class="row">
			<div class="content-header">
				<h2 data-cms-content="cover_adv"><img alt="" src="{{STATIC_URL}}img/icons/ic-bw.png" alt="Coverfox Advantage"> Coverfox <strong>Advantage</strong></h2>
			</div>
			<div class="col-sm-6 col-md-offset-2 col-md-4 bdr">
				<div class="content-media content-media--center">
					<h4 data-cms-content="exper_ad_header">Expert advice</h4>
					<div class="min-h" data-cms-content="exper_ad_text"><strong>Expert advice</strong>  and an informed, unbiased opinion that clears the confusion and helps you buy that perfect plan for you. Can it get any easier?</div>
					<img data-cms-attr="src:image_url_exper_ad" src="{{STATIC_URL}}img/icons/ic_cfxAdvantage_expertadvice.png" alt="Expert Advice">
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="content-media content-media--center">
					<h4 data-cms-content="post_sales_header">Post-Sales Assistance</h4>
					<div class="min-h" data-cms-content="post_sales_text"><strong>Service Managers</strong>  who assist you with all your post-sale requirements - from claims processing to renewals! They are like superheroes, but only better.</div>
					<img data-cms-attr="src:image_url_post_sales" src="{{STATIC_URL}}img/icons/ic_cfxAdvantage_postsales.png" alt="Post Sales Assistance">
				</div>
			</div>
		</div>
	</div>
</section>

<!-- include testimonials section here -->
{% include "components/section--testimonials.html" %}

<section class="block block--content grey" data-cms-attr="class:boxClass">
	<div class="container grid-960" data-cms-content="sec_main_container">
		<div class="content-header">
			<h2 data-cms-content="must_know">Things you <strong>must know</strong></h2>
		</div>
		<div class="accordian-tab">
			<ul>
				<li class="has-sub"><a class="accordian-tab__header" href="#"><span>What are the things you need to know when you are investing in a Term Insurance plan?</span></a>
					<ul class="accordian-tab-item">
						<li class="accordion-list__open">
							<p>You take a term insurance plan with the sole purpose of ensuring that your family members are adequately supported in case of your death. In such a sensitive case, you must always weigh your options on all possible parameters:</p>
							<ul class="list">
								<li><strong>Coverage</strong>: Be sure that the coverage being offered will be sufficient for your family or the nominated person. Never ever compromise on it for the sake of a lower premium.</li>
								<li><strong>Claim Settlement Ratio</strong>: The insurer's claim settlement ratio and market reputation will ensure that your claims are honored when needed, so always keep that in mind.</li>
								<li><strong>Inflation</strong>: Keeping inflation in mind, always consider how sufficient the coverage amount will be in the future.</li>
								<li><strong>Add-on feature</strong>: Always supplement your term insurance plan with suitable riders for the most comprehensive coverage.</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="has-sub"><a class="accordian-tab__header" href="#"><span>What is the right age to buy a Term plan?</span></a>
					<ul class="accordian-tab-item">
						<li class="accordion-list__open">
							<p>There really is no right age for making an investment when it comes to Term Insurance. Like any other insurance plan, the earlier you opt for it, the better. If you do manage to buy the plan at an early age:</p>
							<ul class="list">
								<li>The premiums will be relatively lower. Now that's a win-win situation!</li>
								<li>Your liabilities are at a low hence you might not require to insure a big sum which will eventually result in lesser premiums.</li>
								<li>As health risks largely depend on the age, getting covered is easier and hassle-free. Who doesn't like that?</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="has-sub"><a class="accordian-tab__header" href="#"><span>In an unfortunate event of your death, how can your nominee claim your Term plan?</span></a>
					<ul class="accordian-tab-item">
						<li class="accordion-list__open">
							<p>If you have invested in a Term Plan, it is advisable to keep your nominee aware of the situation so that if and when the time comes, he/she can claim the policy for which you have been shelling premium every year. To make the claim, the following steps need to be taken:</p>
							<ul class="list">
								<li>Every insurance company has a pre-set procedure defined for making a claim. Hence, following your death (and yeah, even though it sounds scary!), your nominee has to intimate the insurance company of the same.</li>
								<li>All necessary documents including Claim Form, Death Certificate, original policy documents, hospital and medical records and bank account details of the nominee, etc. are to be submitted to the insurance company for further processing.</li>
								<li>Always prefer to communicate with the insurance company through written medium like an email to maintain a track of your conversation. You never know when it might come in handy (though we hope it doesn't).</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</section>
