<div data-stage="6" class="page" id="offline_container">
    <div class="container_alt" style="position:relative;">
        <div id="bounding-box-question" style="padding-top:50px;padding-bottom:1px;margin-top:0px;">
            <h1 style="font-weight:300;text-align: center;margin-top:40px;">We look forward to help you decide.</h1>
            <p class="lead" style="text-align:center;max-width:100%;">Also, we value your privacy. We will never spam you with calls or messages.</p>
            <div class="infmn" style="padding:0px;border:none;">
                
                <div class="custom-margin">
                    

                    <div id="widget-box" style="background:#fff;">
                        <div class="row">
                            <div class="col-xs-7">
                                <div id="time-widget" style="background:#fafafa;padding:15px;">
                                    <div class="clock">
                                        <span class="glyphicon glyphicon-time"></span>
                                        <div class="txt">
                                            Let us know a good time to connect with you. Select a time interval.
                                        </div>
                                    </div>
                                    <table class="table table-striped table-bordered time-table">
                                        <tr>
                                            <th data-bind="text:contact_model().todayText"></th>
                                            <th data-bind="text:contact_model().tommText"></th>
                                            <th data-bind="text:contact_model().afterText"></th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <ul data-bind="foreach:contact_model().todaySlots">
                                                        <li data-bind="click:time_slot_click, css: { active: slot_selected() == 'Yes', frozen: frozen() == 'Yes' }">
                                                            <span data-bind="text:slot"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <ul data-bind="foreach:contact_model().tommSlots">
                                                    <li data-bind="click:time_slot_click, css: { active: slot_selected() == 'Yes' }">
                                                        <span data-bind="text:slot"></span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul data-bind="foreach:contact_model().afterSlots">
                                                    <li data-bind="click:time_slot_click, css: { active: slot_selected() == 'Yes' }">
                                                        <span data-bind="text:slot"></span>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div id="number-widget">
                                    <div class="phone">
                                        <span class="glyphicon glyphicon-phone"></span>
                                    </div>
                                    <div style="margin:30px 0px 5px;" class="form-group">
                                        <label class="control-label" for="inputSuccess">Enter your mobile number</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">+91</span>
                                            <input id="inputSuccess" type="text" class="form-control" placeholder="mobile number"  data-bind="value:contact_model().mobile">
                                        </div>
                                        <span class="error-field" data-bind="validationMessage:contact_model().mobile"></span>
                                        <br />
                                        <br />
                                    </div>
                                    <div style="margin: 30px 0px 20px 0px;" id="before_submit">
                                        <button class="btn btn-lg btn-cfox btn-cfox-orange" data-bind="click:contact_submit">Ok, get in touch with me</button>
                                    </div>
                                    <div class="complete hide" id="after_submit">
                                        <div class="highlight">Thanks!</div>
                                        We'll call you as promised
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.bounding-box-question -->
    </div>
</div>
