<div data-stage="5" class="page" id="medical_container">
    <div class="container">
        <div id="bounding-box-question">
            <h1 class="checkup">
                It's not so bad as it sounds, but you need to undergo a medical test !
            </h1>
            <table data-bind="if: disease_medical_reason" class="spl-table">
                <tr>
                    <td>
                        <span class="num"><span class="glyphicon glyphicon-check"></span></span>
                    </td>
                    <td >
                        You answered&nbsp;:
                        <div class="cover-infm" data-bind="foreach:questionArray">
                            <blockquote>
                                <span style="color:#7bcab2;" class="glyphicon glyphicon-question-sign"></span>&nbsp;
                                <strong data-bind="text:answer"></strong>&nbsp;to the question: &nbsp;<span class="text-muted" data-bind="html:question"></span> <br />
                            </blockquote>
                        </div>
                        <h4>It pays to be honest about your medical history and you made the right choice!</h4>
                        <div class="q-infm">
                            <div class="bdy">
                                <span class="pointer"><span class="glyphicon glyphicon-star"></span></span>
                                Medicals will be conducted at the Company's list of Network Hospitals/Clinics. In case of accepted proposals the Insurer shall reimburse 50% of the total medical costs
                            </div>
                            <div class="bdy">
                                <span class="pointer"><span class="glyphicon glyphicon-star"></span></span>The test is done, just to check whether the specific medical condition or related conditions can be covered, covered with some modifications or not covered
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="num"><span class="glyphicon glyphicon-backward"></span></span>
                    </td>
                    <td>
                        What if I had answered&nbsp;<strong>'NO'</strong>&nbsp;or I go back and select&nbsp;<strong>'NO'</strong><br/><br/>
                        <div class="q-infm">
                            <div class="bdy">
                                <span class="pointer"><span class="glyphicon glyphicon-star"></span></span>&nbsp;We would strongly recommend not doing that
                            </div>
                            <div class="bdy">
                                <span class="pointer"><span class="glyphicon glyphicon-star"></span></span>&nbsp;You buy health insurance to help you when there is a medical emergency or situation
                            </div>
                            <div class="bdy">
                                <span class="pointer"><span class="glyphicon glyphicon-star"></span></span>&nbsp;The last thing you want is a denied claim because you did not declare your medical history correctly
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table data-bind="if: age_medical_reason" class="spl-table">
                <tr>
                    <td>
                        <span class="num"><span class="glyphicon glyphicon-check"></span></span>
                    </td>
                    <td>
                        <strong>Age details of Insured Members:</strong>
                        <table  class="table table-bordered age-table table-striped">
                            <tr>
                                <th>NAME</th>
                                <th>AGE</th>
                            </tr>
                            <tr data-bind="foreach: ageArray">
                                <td data-bind="text:name"></td>
                                <td data-bind="text:age"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="num"></span>
                    </td>
                    <td>
                        <div class="q-infm">
                            <div class="bdy">
                                <span class="pointer"> <span class="glyphicon glyphicon-info-sign"></span></span>
                                Health Insurance Plans usually require a medical check-up after a certain age.
                            </div>
                            <div class="bdy">
                                <span class="pointer"> <span class="glyphicon glyphicon-info-sign"></span></span>
                                The test is done, just to check if there are any specific medical conditions that
                                could limit your coverage or are not possible to cover under standard terms and conditions.
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="num"><span class="glyphicon glyphicon-check"></span></span>
                    </td>
                    <td>
                        <div class="q-infm">
                            <div class="bdy">
                                <span class="pointer"><span class="glyphicon glyphicon-star"></span></span>
                                Good to get a test done.
                            </div>
                            <div class="bdy">
                                <span class="pointer"><span class="glyphicon glyphicon-star"></span></span>
                                The Insurance Company has your medical records.
                            </div>
                            <div class="bdy">
                                <span class="pointer"><span class="glyphicon glyphicon-star"></span></span>
                                Your coverage is foolproof in case of a valid claim - no complications, no terms and
                                conditions and no stress when it really matters.
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="infmn">
                <div class="patch">
                    Don't worry, It's Hassle Free
                </div>
                <div class="bdy">
                    <span class="pointer"><span class="glyphicon glyphicon-star"></span></span>We seriously value your time and privacy
                </div>
                <div class="bdy">
                    <span class="pointer"><span class="glyphicon glyphicon-star"></span></span>We'll ensure that the medical test is scheduled completely at your convenience
                </div>
                <div class="custom-margin">
                    <div class="form-hdr">
                         Let us help you through your options
                        <div class="arrow_box right"><span class="glyphicon glyphicon-earphone"></span></div>
                    </div>

                    <div id="widget-box">
                        <div class="row">
                            <div class="col-sm-7">
                                <div id="time-widget">
                                    <div class="clock">
                                        <span class="glyphicon glyphicon-time"></span>
                                        <div class="txt">
                                            We value your time and privacy.<br />
                                            Select a time interval to let us know a good time to connect with you
                                        </div>
                                    </div>
                                    <table class="table table-striped table-bordered time-table">
                                        <tr>
                                            <th data-bind="text:contact_model().todayText"></th>
                                            <th data-bind="text:contact_model().tommText"></th>
                                            <th data-bind="text:contact_model().afterText"></th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <ul data-bind="foreach:contact_model().todaySlots">
                                                        <li data-bind="click:time_slot_click, css: { active: slot_selected() == 'Yes', frozen: frozen() == 'Yes' }">
                                                            <span data-bind="text:slot"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <ul data-bind="foreach:contact_model().tommSlots">
                                                    <li data-bind="click:time_slot_click, css: { active: slot_selected() == 'Yes' }">
                                                        <span data-bind="text:slot"></span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul data-bind="foreach:contact_model().afterSlots">
                                                    <li data-bind="click:time_slot_click, css: { active: slot_selected() == 'Yes' }">
                                                        <span data-bind="text:slot"></span>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div id="number-widget">
                                    <div class="phone">
                                        <span class="glyphicon glyphicon-phone"></span>
                                    </div>
                                    <div style="margin:30px 0px 5px;" class="form-group">
                                        <label class="control-label" for="inputSuccess">Enter your mobile number</label>
                                        <div class="input-group input-group-lg">
                                            <span class="input-group-addon">+91</span>
                                            <input id="inputSuccess" type="text" class="form-control" placeholder="mobile number" data-bind="value:contact_model().mobile">
                                        </div>
                                        <span class="error-field" data-bind="validationMessage:contact_model().mobile"></span>
                                        <br />
                                        <br />
                                    </div>
                                    <div style="margin: 30px 0px 20px 0px;" id="before_submit">
                                        <button class="btn btn-red btn-lg" data-bind="click:contact_submit">Ok, get in touch with me</button>
                                    </div>
                                    <div class="complete hide" id="after_submit">
                                        <div class="highlight">Thanks!</div>
                                        We'll call you as promised
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.bounding-box-question -->
    </div>
</div>

