<div data-stage="1" id="page1" class="page">
    <div class="screen_holder">
        <div id='enter_family'>
            <h1 class="pageheader">Who do you want to buy Health Insurance for?</h1>
        </div>
        <div id="family-hold">
            <div id="gender-bit">
                <span class="respective">Select Gender</span>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-bind="css : {'active' : MemberModel.gender() == 'MALE'}, click : MemberModel.select_gender.bind($data, 'MALE')">Male</button>
                    <button type="button" class="btn btn-default" data-bind="css : {'active' : MemberModel.gender() == 'FEMALE'}, click : MemberModel.select_gender.bind($data, 'FEMALE')">Female</button>
                </div>
            </div>
            <div id="couple-bit">
                <span class="respective">You and spouse</span>
                <!-- ko compose: {model : MemberModel.you, view : 'views/new_step1_model.html', preserveContext:true }--> <!-- /ko -->
                <!-- ko compose: {model : MemberModel.spouse, view : 'views/new_step1_model.html', preserveContext:true }--> <!-- /ko -->
            </div>

            <div id="children-bit">
                <span class="respective">Kids</span>
                <!-- ko if : MemberModel.getKids().length > 0 -->
                <!-- ko foreach : {data : MemberModel.getKids() } -->
                <!-- ko compose: {model : $data, view : 'views/new_step1_model.html', preserveContext:true }--> <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->

                <!-- ko if : MemberModel.getKids().length < 4 -->
                <div class="addChanger child">
                    <div class="changeButton child">
                        <a data-bind="click : MemberModel.add.bind($data, 'son', 'Son', true, ''), clickBubble: false" class="cf-btn">Add son</a>
                        <div class="child-seperate"></div>
                        <a data-bind="click : MemberModel.add.bind($data, 'daughter', 'Daughter', true, ''), clickBubble: false" class="cf-btn">Add daughter</a>
                    </div>
                </div>
                <!-- /ko -->
            </div>

        <div id="parents-bit">
            <span class="respective">Parents</span>
            <!-- ko compose: {model : MemberModel.father, view : 'views/new_step1_model.html', preserveContext:true } --> <!-- /ko -->
            <!-- ko compose: {model : MemberModel.mother, view : 'views/new_step1_model.html', preserveContext:true } --> <!-- /ko -->
        </div>
        </div>
        <!--div id="gender-selector">
        <span data-bind="text : MemberModel.selected_members().length - MemberModel.getKids().length"></span> adult(s) and <span data-bind="text : MemberModel.getKids().length"></span> kids
    </div-->
        <div id="proposal-members">
            <span class="error" data-bind="css : {'hide' : MemberModel.selected_members().length > 0 }">Select at-least one person</span>
            <div class="alert alert-danger" style="margin: 0 10%" data-bind="visible: age_error()">
                <span style="color:#a94442;font-size: 16px;" data-bind="css : {'hide' : age_error() == '' }, html : age_error()"></span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div  class="text-center">
            <a data-bind='click: nextView' class="btn-family-done">
                Continue to step 2
                <img alt="" class="btn-img-spl" src="/static/health_product/img/fwdarrow.png">
            </a>
        </div>
    </div> <!-- .screen_holder -->
</div>
