<div data-bind="attr: {'class' : 'addChanger e' + verbose.toLowerCase()},click : $root.MemberModel.select, css : { 'selected' : selected() }">
    <div class="cf-btn changeButton" data-bind="text: 'Add ' + display()"></div>
    <div class="cf-family row pnone mnone roundedC5">
        <div class="col-xs-2 cf-family-person" data-bind="text: display()"></div>
        <div class="col-xs-5 cf-dob-field">
            <div class="bdate" data-bind="age : age, minAge: minAge, maxAge: maxAge" type="text" placeholder="Select age in years"></div>
            <div class="cf-family-dob"> Age in years </div>
        </div>
        <div class="col-xs-1 cf-family-handle">
            <div class="cf-family-canclebox" title="click to remove" data-bind="click : selected() ? $root.MemberModel.deselect : null, clickBubble: false"><span class="cross-icon"></span></div>
        </div>
    </div>
    <p class="error" data-bind="validationMessage: age"></p>
</div>
