<div data-stage="6" class="page" id="offline_container">
    <div class="container_alt" style="position:relative;">
        <div id="bounding-box-question" style="padding-top:50px;padding-bottom:1px;background-color:#f9f9f9;margin-top:0px;">
            <h1 style="font-weight:300;">Hey!</h1>
            <p>We are working hard to help you directly buy this plan from the Coverfox Website. Currently this might not be possible.</p>
            <p>We can still help you buy this plan. We promise to make it hassle free and won't call you unless absolutely necessary </p>
            <div class="infmn" style="padding:45px 0px 1px;border:none;">
                <div class="patch">
                    And don’t worry, you will be able to -
                </div>
                <div class="bdy">
                    <span class="pointer"><span class="glyphicon glyphicon-star"></span></span>Download the policy copy anytime
                </div>
                <div class="bdy">
                    <span class="pointer"><span class="glyphicon glyphicon-star"></span></span>Manage it, change your address, etc.
                </div>
                <div class="bdy">
                    <span class="pointer"><span class="glyphicon glyphicon-star"></span></span>Just in case you need to claim, we'll help out with all the paperwork.
                </div>
                <div class="custom-margin">
                    <div class="form-hdr">
                         Let us help you through your options
                        <div class="arrow_box right"><span class="glyphicon glyphicon-earphone"></span></div>
                    </div>

                    <div id="widget-box">
                        <div class="row">
                            <div class="col-xs-7">
                                <div id="time-widget">
                                    <div class="clock">
                                        <span class="glyphicon glyphicon-time"></span>
                                        <div class="txt">
                                            We value your time and privacy.<br />
                                            Select a time interval to let us know a good time to connect with you
                                        </div>
                                    </div>
                                    <table class="table table-striped table-bordered time-table">
                                        <tr>
                                            <th data-bind="text:contact_model().todayText"></th>
                                            <th data-bind="text:contact_model().tommText"></th>
                                            <th data-bind="text:contact_model().afterText"></th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <ul data-bind="foreach:contact_model().todaySlots">
                                                        <li data-bind="click:time_slot_click, css: { active: slot_selected() == 'Yes', frozen: frozen() == 'Yes' }">
                                                            <span data-bind="text:slot"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <ul data-bind="foreach:contact_model().tommSlots">
                                                    <li data-bind="click:time_slot_click, css: { active: slot_selected() == 'Yes' }">
                                                        <span data-bind="text:slot"></span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul data-bind="foreach:contact_model().afterSlots">
                                                    <li data-bind="click:time_slot_click, css: { active: slot_selected() == 'Yes' }">
                                                        <span data-bind="text:slot"></span>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div id="number-widget">
                                    <div class="phone">
                                        <span class="glyphicon glyphicon-phone"></span>
                                    </div>
                                    <div style="margin:30px 0px 5px;" class="form-group">
                                        <label class="control-label" for="inputSuccess">Enter your mobile number</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">+91</span>
                                            <input id="inputSuccess" type="text" class="form-control" placeholder="mobile number"  data-bind="value:contact_model().mobile">
                                        </div>
                                        <span class="error-field" data-bind="validationMessage:contact_model().mobile"></span>
                                        <br />
                                        <br />
                                    </div>
                                    <div style="margin: 30px 0px 20px 0px;" id="before_submit">
                                        <button class="btn btn-red btn-lg cf-btn" data-bind="click:contact_submit">Ok, get in touch with me</button>
                                    </div>
                                    <div class="complete hide" id="after_submit">
                                        <div class="highlight">Thanks!</div>
                                        We'll call you as promised
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.bounding-box-question -->
    </div>
</div>
