<!--div id="genderSelect" data-bind="if:router.activeInstruction().config.page == 1, visible : ['', 'step1'].indexOf(router.activeInstruction().fragment) != -1">
    <h1 class="gender-header">Select your gender</h1>
    <div class="bg-holder">
        <a class="mw-hlt" data-bind="css : {'selected' : global.step1_proxy().MemberModel.gender() == 'MALE'}, click : global.step1_proxy().MemberModel.select_gender.bind($data, 'MALE')" href="#"><img src="/static/health_product/img/male.png" alt="Man"/>
            <div class="tick">
                <input type="radio" value="MALE" name="gender" data-bind="checked : global.step1_proxy().MemberModel.gender"/>Male
            </div>
        </a>
        <a class="mw-hlt" data-bind="css : {'selected' : global.step1_proxy().MemberModel.gender() == 'FEMALE'}, click : global.step1_proxy().MemberModel.select_gender.bind($data, 'FEMALE')" href="#"><img src="/static/health_product/img/female.png" alt="Woman"/>
            <div class="tick">
                <input type="radio" value="FEMALE" name="gender" data-bind="checked : global.step1_proxy().MemberModel.gender"/>Female
            </div>
        </a>
    </div>
    <div class="text-center">
        <a data-bind="click : global.step1_proxy().MemberModel.gender_done" class="btn-page-done"> Continue
            <img title="Back to results" alt="" class="btn-img-spl" src="/static/health_product/img/fwdarrow.png">
        </a>
    </div>
</div-->

<div id="wrapper">
    <nav id="shell_nav" class="navbar navbar-default navbar-fixed-top" style="top:50px;" role="navigation">
        <div class="container-fluid">
            <div id="cf-nav-collapse" class="cf-below-nav clearfix">
            <!-- ko if : router.activeInstruction().config.page != 1 -->
            <ul class="menunav pull-right back-btn mnone pnone">
                <li class="dark grey">
                <a class="mpoint cf-btn cubic-trans" data-bind="click : router.navigateBack">
                    <span class="glyphicon glyphicon-backward"></span>&nbsp;&nbsp;Back
                </a>
                </li>
            </ul>
            <!-- /ko -->
            <!-- ko if : router.activeInstruction().fragment.indexOf('results') == 0 -->
                <div class="pull-right">
                    <ul class="nav navbar-nav pull-left menunav" style="margin-top:0px;margin-bottom:0px;" id="top_bar_compare">
                        <li class="compare-tab top-compare-tab">
                            <span class="title">
                                Comparison on the basis of&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span>
                            </span>
                        </li>
                        <li class="compare-tab top-compare-tab">
                            <a class="mpoint active compare_factors_tab">
                                Important Factors
                            </a>
                        </li>
                        <li class="compare-tab top-compare-tab">
                            <a class="mpoint compare_medical_tab">
                                Medical Coverage
                            </a>
                        </li>
                        <li class="result-tab">
                            <a class="mpoint cf-btn cubic-trans" id="show_change_cover">
                                <span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Change Cover
                            </a>
                            <div class="sub-menu cubic-trans">
                                <div id="topCoverFilter" class="cubic-trans" data-bind="visible: router.activeInstruction().fragment.indexOf('results') == 0">
                                    <div style="margin:0 20px 5px 0;"><br/>
                                        <span style="color:#999999;" class="small">Slide to change cover</span>
                                    </div>
                                    <div data-bind="slider : global.sum_assured, goodValue : global.get_recommended_sum_assured, event_update:global.calculate_result_set"></div>
                                </div>
                                <a id="close_change_cover" class="cross mpoint">X</a>
                            </div>
                        </li>
                        <li class="result-tab dark">
                            <a class="mpoint cf-btn cubic-trans edit-info">
                                <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Modify selection
                            </a>
                        </li>
                    </ul>
                </div><!--/.pull-right-->
            <!-- /ko -->
            </div><!--/.nav-collapse-->
        </div>
    </nav>

    <div class="nav navbar-nav side-nav cubic-trans fixed-side">

        <div class="back_to_results cf-btn" data-bind="css : { hide : router.activeInstruction().fragment.indexOf('contact') != 0 }, click : router.navigateBack">
            <img src="/static/health_product/img/backarrow.png" class="btn-img-spl" alt="" title="Back to results">
            &nbsp;Back to results
        </div>

        <div class="side_bar_content results_bar" id="side_bar_results">
            <div id="coverFilter" class="cubic-trans" data-bind="css : { 'oblivion' : router.activeInstruction().fragment.indexOf('results') != 0 }">
                <p style="margin-bottom:60px;" class="lead">Drag slider to change cover</p>
                <div data-bind="slider : global.sum_assured, goodValue : global.get_recommended_sum_assured, event_update:global.calculate_result_set"> </div>
            </div> <!-- coverFilter -->
        </div> <!-- side_bar_results -->

        <!-- ko if : global.results_proxy -->
        <div class="side_bar_content results_bar" id="side_bar_compare">
            <div class="back_to_results cf-btn" data-bind="click : global.results_proxy().back_from_compare">
                <img src="/static/health_product/img/backarrow.png" class="btn-img-spl" alt="" title="Back to results">
                &nbsp;Back to results
            </div>
            <div id="comparetabs">
                <h3>Compare plans</h3>
                <p class="small">On the basis of</p>
                <div class="list-group">
                    <a class="list-group-item active compare_factors_tab">Important Factors</a>
                    <a class="list-group-item compare_medical_tab">Medical Coverage</a>
                </div>
            </div>
        </div> <!-- side_bar_compare -->
        <!-- /ko -->

        <div class="side_bar_content" id="spaces">
            <div id="step1" class="step roundedC5" data-bind="css : { 'active' : (router.activeInstruction().fragment.indexOf('step1') == 0 || router.activeInstruction().fragment == ''), 'completed' : ['step2', 'step3'].indexOf(router.activeInstruction().fragment) > -1, 'rise' : router.activeInstruction().config.page >= 4 }">
                <div class="base">
                    <p class="spaceheader">Step <span class="stepone">1</span></p>
                    <p class="spaceactionmssg">Click and select the family members whom you want to buy Insurance for.</p>
                </div>

                <div class="initial">
                    <p class="spaceheader">Step <span class="stepone">1</span></p>
                    <p class="spaceactionmssg">Click and select the family members whom you want to buy Insurance for.</p>
                </div>

                <div class="final">
                    <p class="spaceheader">Step <span class="stepone">1</span><span class="pull-right"><img src="/static/health_product/img/tick.png" alt="" width=30></span></p>
                    <p data-bind="text : global.step1_verbose"></p>
                </div>
            </div>

            <div id="step2" class="step roundedC5" data-bind="css : { active : router.activeInstruction().fragment.indexOf('step2') == 0, 'completed' : router.activeInstruction().fragment.indexOf('step3') == 0, 'rise' : router.activeInstruction().config.page >= 4 }">
                <div class="base">
                    <p class="spaceheader">Step <span class="steptwo">2</span></p>
                    <p class="spaceactionmssg">Select a healthcare choice and enter your pincode.</p>
                </div>

                <div class="initial">
                    <p class="spaceheader">Step <span class="steptwo">2</span></p>
                    <p class="spaceactionmssg">Select a healthcare choice and enter your pincode.</p>
                </div>

                <div class="final">
                    <p class="spaceheader">Step <span class="steptwo">2</span><span class="pull-right"><img src="/static/health_product/img/tick.png" alt="" width=30></span></p>
                    <p><span data-bind="text : global.step2_verbose"></span><br><span data-bind="text : 'Pincode: ' + global.pincode()"></span></p>
                </div>
            </div>

            <div id="step3" class="step roundedC5" data-bind="css : { active : router.activeInstruction().fragment.indexOf('step3') == 0, 'rise' : router.activeInstruction().config.page >= 4 }">
                <div class="base">
                    <p class="spaceheader">Step <span class="stepthree">3</span></p>
                    <p class="spaceactionmssg">Select your preferred hospitals.</p>
                </div>

                <div class="initial">
                    <p class="spaceheader">Step <span class="stepthree">3</span></p>
                    <p class="spaceactionmssg">Select your preferred hospitals.</p>
                </div>
                <div class="final">
                    <p class="spaceheader">Step <span class="stepthree">3</span><span class="pull-right"><img src="/static/health_product/img/tick.png" alt="" width=30></span></p>
                </div>
            </div>
            <div id="results" class="step roundedC5" data-bind="css : { 'active rise' : router.activeInstruction().fragment.indexOf('results') == 0, hide : router.activeInstruction().config.page > 4 }">
                <div class="resultsSummary">
                    <p class="resultsheader">Results</p>
                    <!-- ko if : router.activeInstruction().fragment.indexOf('results') == 0 -->
                    <div class="spaceactionmssg">
                        <p data-bind="text : global.step1_verbose"></p>
                        <p><span data-bind="text : global.hospitals().length"></span> hospitals chosen in <span data-bind="text : global.city().name"></span></p>
                            <a class="edit-info btn btn-modify btn-sm cf-btn btn-block"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Modify Selection</a>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <div id="prop-form" class="roundedC5" data-bind="css : { 'hide' : router.activeInstruction().fragment.indexOf('buy') != 0 }">
                <div class="messageSummary">
                    <p class="messageheader">Buying is easy</p>
                    Fill up the form, pay and get your policy instantly.
                </div>
                <div class="messageSub">
                    <span class="bigwhite">In case you have questions</span><br><br>
                    Call us on<br>
                    <span class="bigwhite">+91 22 65036444</span><br>
                    <span style="font-size:75%;">(Monday - Saturday, 10 a.m - 7 p.m)</span>
                    <div class="get-help">
                        <span class="bigwhite">Or get help <a onClick="olark('api.box.expand');" class="link mpoint">here</a></span>
                    </div>
                </div>
            </div>
        </div> <!-- #spaces -->
    </div>
</div>

<!-- ko if : router.activeInstruction().fragment.indexOf('results') == 0 -->
    <div id="edit-info-overlay" class="hide" data-bind="if : global.results_proxy()">
        <div id="edit-info-block" class="container">
            <div class="row">
                <div id="edit-info-header" class="col-lg-12">
                    <h1>Edit info<a id="edit-info-close" data-bind="click : global.results_proxy().reload_plans" class="btn btn-page-done btn-edit-done pull-right cf-btn">Done Editing</a></h1>
                </div>
                <div id="edit-people" class="edit-panel col-md-6 col-lg-5">
                    <h3>Select Gender</h3>
                    <div class="row" style="text-align:center;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" data-bind="css : {'active' : global.results_proxy().step1.MemberModel.gender() == 'MALE'}, click : global.results_proxy().step1.MemberModel.select_gender.bind($data, 'MALE')">Male</button>
                            <button type="button" class="btn btn-default" data-bind="css : {'active' : global.results_proxy().step1.MemberModel.gender() == 'FEMALE'}, click : global.results_proxy().step1.MemberModel.select_gender.bind($data, 'FEMALE')">Female</button>
                        </div>
                        <hr/>
                    </div>
                    <h3>Edit family information</h3>
                    <div class="error tcenter" data-bind="css : {'hide' : global.results_proxy().step1.MemberModel.selected_members().length > 0 }">Select at-least one person</div>
                    <div class="alert alert-danger" style="margin-bottom: 10px;" data-bind="visible: global.results_proxy().step1.age_error()">
                        <div style="color:#a94442;" class="error tcenter" data-bind="css : {'hide' : global.results_proxy().step1.age_error() == '' }, text : global.results_proxy().step1.age_error()"></div>
                    </div>
                    <form class="form-horizontal" role="form">
                        <div class="sm-max-width">
                            <!-- ko foreach : global.results_proxy().step1.MemberModel.members -->
                            <div class="row form-group redit" data-bind="attr : {id : 'redit_'+id}">
                                <div class="col-xs-3">
                                    <label for="dobinputYou" class="control-label" data-bind="text : display"></label>
                                </div>
                                <div class="col-xs-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <img class="pull-right" style="width:20px;" src="/static/health_product/img/tick.png" data-bind="visible : selected(), click : $root.global.results_proxy().step1.MemberModel.deselect"/>
                                            <img class="pull-right" style="width:20px;" src="/static/health_product/img/tick-empty.png" data-bind="visible : !selected(), click : $root.global.results_proxy().step1.MemberModel.select"/>
                                        </span>
                                        <div type="text" class="edit-dob-input" data-bind="age : age, ageDisable : selected, minAge: minAge, maxAge: maxAge, append : '&nbsp;&nbsp;&nbsp;years'" placeholder="Enter age"></div>
                                    </div>
                                    <p class="error" data-bind="validationMessage: age"></p>
                                </div>
                            </div>
                            <!-- /ko -->

                            <div class="form-group">
                                <div class="col-xs-6">
                                    <button data-bind="click : global.results_proxy().step1.MemberModel.add.bind($data, 'son', 'Son', true, ''), visible: global.results_proxy().step1.MemberModel.getKids().length < 4" class="btn btn-info cf-btn">+ Add Son</button>
                                </div>
                                <div class="col-xs-6">
                                    <button data-bind="click : global.results_proxy().step1.MemberModel.add.bind($data, 'daughter', 'Daughter', true, ''), visible: global.results_proxy().step1.MemberModel.getKids().length < 4" class="btn btn-info cf-btn">+ Add Daughter</button>
                                </div>
                            </div>
                        </div><!--/.sm-max-width-->
                    </form>
                </div>
                <div id="edit-healthcare" class="edit-panel col-md-6 col-lg-3">
                    <h3>Edit healthcare preference</h3>
                    <div class="sm-max-width">
                        <div class="list-group">
                            <a href="#" data-bind="click : global.results_proxy().step2.HService.selectService.bind($data, 'BASIC'), css: {active : global.results_proxy().step2.HService.isSelected('BASIC')}" class="list-group-item healthcare-item clearfix">
                                <div class="rtype-label">Shared Room</div>
                                <img class="pull-right" style="width:20px;" src="/static/health_product/img/tick.png" data-bind="visible : global.results_proxy().step2.HService.isSelected('BASIC')"/>
                                <img class="pull-right" style="width:20px;" src="/static/health_product/img/tick-empty.png" data-bind="visible : !global.results_proxy().step2.HService.isSelected('BASIC')"/>
                            </a>
                            <a href="#" data-bind="click : global.results_proxy().step2.HService.selectService.bind($data, 'PRIVATE_ANY'), css: {active : global.results_proxy().step2.HService.isSelected('PRIVATE_ANY')}" class="list-group-item healthcare-item clearfix">
                                <div class="rtype-label">Private Room in any hospital</div>
                                <img class="pull-right" style="width:20px;" src="/static/health_product/img/tick.png" data-bind="visible : global.results_proxy().step2.HService.isSelected('PRIVATE_ANY')"/>
                                <img class="pull-right" style="width:20px;" src="/static/health_product/img/tick-empty.png" data-bind="visible : !global.results_proxy().step2.HService.isSelected('PRIVATE_ANY')"/>
                            </a>
                            <a href="#" data-bind="click : global.results_proxy().step2.HService.selectService.bind($data, 'PRIVATE_HIGH_END'), css: {active : global.results_proxy().step2.HService.isSelected('PRIVATE_HIGH_END')}" class="list-group-item healthcare-item clearfix">
                                <div class="rtype-label">Private room in high-end hospital</div>
                                <img class="pull-right" style="width:20px;" src="/static/health_product/img/tick.png" data-bind="visible : global.results_proxy().step2.HService.isSelected('PRIVATE_HIGH_END')"/>
                                <img class="pull-right" style="width:20px;" src="/static/health_product/img/tick-empty.png" data-bind="visible : !global.results_proxy().step2.HService.isSelected('PRIVATE_HIGH_END')"/>
                            </a>
                        </div>
                    </div><!--/.sm-max-width-->
                </div>
                <div class="clearfix visible-md"></div>
                <div id="edit-hospitals" class="edit-panel col-md-12 col-lg-4">
                    <h3>Edit selected hospitals</h3>
                    <div class="sm-max-width">
                        <div class="form-group">
                            <div class="hospitalSearchWrapper modify">
                                <label for="searchHospitals">Search and add hospitals</label>
                                <input id="search_hospital" type="text" class="form-control hospitalSearch" placeholder="Enter a hospital name..">
                            </div>
                        </div>

                        <ul style="padding:0px;" class="hospital-list-group" data-bind="foreach : global.results_proxy().step3.hospitals()">
                            <li class="list-group-item"  data-bind="css : { 'selected' : selected() }, click : selected() ? $root.global.results_proxy().step3.deselect : $root.global.results_proxy().step3.select">
                            <img class="pull-right" style="width:20px;" src="/static/health_product/img/tick.png" data-bind="visible : selected()"/>
                            <img class="pull-right" style="width:20px;" src="/static/health_product/img/tick-empty.png" data-bind="visible : !selected()"/>
                            <span data-bind="text : name"></span>
                            </li>
                        </ul>
                    </div><!--/.sm-max-width-->
                </div>
            </div>
        </div> <!-- edit-info-block -->
    </div> <!-- edit-info-overlay -->
<!-- ko -->


<div id="page-wrapper">
    <div id="page-container" class="pnone mnone" data-bind="router: {model: router.activeItem, transition: 'entrance', cacheViews:true }">
    </div> <!-- page-container -->
</div> <!-- page-wrapper -->

</div> <!-- wrapper -->

<div class="overlay_container">
    <div class="main_overlay hide" id="overlay">
    </div>
</div>
