/* Color scheme definitions */
@bannerBackgroundColor : #f9f7f6;
@boxLightBackground : #ffffff;
@boxDarkBackground : #f9f9f9;
@textColor : #363636;
@lightTextColor : #6B6B6B;
@baseThemeColor : #ff6127;
@baseButtonBg : #ff704c;
@buttonHoverBg : #ff5c32;
@baseButtonBorder : #ff5c32;
@bannerbg : #24afff;
@motorBaseColor: #44C0FF;
@baseFontSize : 14px;


/* generic styling variables/ classes */

.cubic-trans {
  -moz-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -webkit-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -o-transition: all .3s cubic-bezier(0.4,0,.2,1);
  transition: all .3s cubic-bezier(0.4,0,.2,1);
}
.boxShadow(@value){
  -webkit-box-shadow: @value;
  -moz-box-shadow: @value;
  box-shadow: @value;
}

.roundedCorners(@radius: 3px){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.transform(@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}

/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  .roundedCorners(3px);
  &.orange {
    background-color: @baseButtonBg;
    border: 1px solid @baseButtonBorder;
  }
  &.black {
    background-color: #363636;
    border: 1px solid #000000;
    &:hover,
    &:focus,
    &:active {
      background-color: #303030;
      color: #FFFFFF;
    }
  }
  &.yellow {
    background-color: #ffe145;
    border:1px solid #e5c000;
    color: @textColor;
    &.shadow {
      .boxShadow(0px -4px 0px rgba(0,0,0,0.2) inset);
    }
    &:hover,
    &:focus,
    &:active {
      background-color: #ffd600;
      color: @textColor;
    }
  }
  &:hover,
  &:focus,
  &:active {
    background-color: rgba(249, 98, 6, 0.99);
    text-decoration: none;
    outline: none;
    color: #ffffff;
  }
}
.btn-bg-less {
  border: 1px solid @baseButtonBg;
  background: none;
  color: @baseButtonBg;
  .boxShadow(none);
  &:hover,&:active {
    background-color: @baseButtonBg;
    color: #fff;
  }
}