@import "base_theme";

.footer-wrapper-products {
  display: none;
}
body, h1, h2, h3, h4, h5, h6 {
font-family: 'Lato','Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
body {
  font-size:@baseFontSize;
}
.mnone {
  margin:0px;
}
.pnone {
  padding:0px;
}

/* button styling css */
.btn-coverfox.orange {
  padding:8px 15px;
}


/* box stylings */

.light-box,.dark-box {
  padding: 50px 0px 70px;
  line-height: 1.8em;
  h1 {
    font-size: 36px;
    margin: 0px 0px 40px;
    text-align: center;
    font-weight: 300;
    color:@textColor;
    line-height: 1.4em;
    letter-spacing: 1px;
  }
  .lead-para {
    color:@lightTextColor;
    font-size: 16px;
    line-height: 1.7em;
    & strong {
      color: @textColor;
    }
  }
}
.light-box {
  background: @boxLightBackground;
  color:@textColor;
  .leader {
    color:@baseThemeColor;
    line-height: 1.4em;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin: 40px 0px;
  }
  legend {
    font-size:18px;
    color:@lightTextColor;
    line-height: 1.4em;
    border:0px solid transparent;
    & + p {
      color:@textColor;
    }
  }
}
.dark-box {
  background-color: @boxDarkBackground;
  border-top:1px solid rgba(0,0,0,0.02);
  border-bottom:1px solid rgba(0,0,0,0.02);
}
.color-highlight {
  color: @baseThemeColor !important;
}
/* basic elements styling */
.hero-wrapper {
  position: relative;
}
#topbar {
  padding: 10px 0;
  position: relative;
  margin-bottom:15px;
  .logo {
    float: left;
    text-align: center;
    width: 130px;
    margin-top: 2px;
    margin-bottom: 3px;
    & img {
      width:100%;
    }
  }
  .menuimg {
    position: absolute;
    height: 30px;
    width:30px;
    background-color: @textColor;
    padding: 5px;
    top:3px;
    right:0px;
    .roundedCorners(30px);
  }
  #right-menu-items {
    padding-left:10px;
    margin-top:0px;
    margin-bottom:0px;
    text-align: right;
    float: right;
    margin-left:-70px;
  }
  #right-menu-items li {
    display: inline-block;
    font-size: 10px;
    color: #999999;
    text-transform: uppercase;
    margin: 0;
    padding-right:40px;
    text-align: right;
    position: relative;
  }

  #right-menu-items li a {
    font-size: 16px;
    display: block;
    color: @textColor;
    padding:0px;
    &:hover {
      text-decoration: none;
      cursor: default;
    }
  }
  .irda-auth-badge {
    letter-spacing: 0;
    width:215px;
    vertical-align: bottom;
    text-align: left;
    float: left;
    margin-left: 20px;
    font-size:12px;
  }
  #right-menu-items {
    & li.pipe-link {
      padding:5px 10px;
      &.seperator {
        border-right: 1px solid #eaeaea;
        margin: 0px 10px;
        height: 30px;
        padding: 0;
      }
      & a {
        display: inline-block;
        font-size: 13px;
        cursor: pointer;
        font-weight: 600;
        position: relative;
        top: -10px;
      }
      & a:hover {
        text-decoration: none;
        color: @baseThemeColor;
      }
    }
  }
  .navbar-toggle {
    display: none;
    margin-right:10px;
    padding:0px;
    height:34px;
    width:34px;
    text-align: center;
    background-color: #f3f3f3;
    border: 1px solid rgba(0,0,0,0);
    .boxShadow(0 1px 1px rgba(0,0,0,0.3));
    cursor: pointer;
    .roundedCorners(3px);
    &:active,&:focus,&:hover {
      outline: none;
    }
    & .bar {
      content: "";
      position: absolute;
      -webkit-transition: all;
      -o-transition: all;
      transition: all;
      -webkit-transition-duration: 300ms;
      transition-duration: 300ms;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      top: 15px;
      display: inline-block;
      width: 15px;
      height: 3px;
      background-color: @textColor;
      left: 9px;

      &.plus {
        .transform(scale(1));
        &:before {
          content: '';
          display: inline-block;
          height: 16px;
          width: 3px;
          background-color: inherit;
          top: -7px;
          left: 6px;
          position: absolute;
        }
      }
      &.minus {
        .transform(scale(0));
      }
    }
    &.active {
      & .bar.plus {
        .transform(scale(0) rotate(-90deg));
      }
      & .bar.minus {
        .transform(scale(1));
      }
    }
  }
  .pipe-menu-right {
    .cubic-trans;
    position: relative;
    text-align: left;
    margin:0 -15px 0px;
    padding: 0px;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    opacity: 0;
    visibility:hidden;
    .transform(scaleY(0));
    height: 0px;
    overflow: hidden;
    border-bottom:1px solid rgba(0,0,0,0.07);
    &.active {
      overflow:visible;
      margin-top:10px;
      margin-bottom: -10px;
      height:auto;
      opacity: 1;
      visibility:visible;
      top:100%;
      .transform(scaleY(1));
    }
    & li {
      display:block;
      padding:0px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0px;
      & a {
        display: block;
        padding: 15px;
        background-color: #f7f7f7;
        border-top:1px solid rgba(0,0,0,0.05);
        &:hover,&:focus,&:active {
          color: @baseThemeColor;
          text-decoration: none;
        }
      }
    }
  }
}

.companies-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(0,0,0,0.07);

  ul.company-logos {
    list-style-type: none;
    text-align: center;
    padding: 0;
    & li {
      display: inline-block;
      padding: 15px;
      position: relative;
      & img {
        height: 40px;
      }
    }
  }
}

.free-services {
  background: #f3f3f3;
  /* padding:10px 0px 40px;*/
  line-height: 1.6em;
  color:#666666;
  font-size: 14px;
  /*
  & h1 {
    font-size: 32px;
    margin: 30px 0px;
    text-align: center;
    font-weight: 400;
    color:rgb(135, 127, 127);
    line-height: 1.4em;
    & .badger {
      padding:0px 5px;
      margin:0px 5px;
      display:inline-block;
      font-size:34px;
    }
    & .logo {
      display: inline-block;
      height: 34px;
      margin: 0px 0px;
      position: relative;
      top: -6px;
    }
    & .bag {
      display: inline-block;
      height:70px;
      margin-top:-10px;
    }
  }
  */
  & .proposition {
    margin:20px auto 30px;
    padding:0px;
    text-align: center;
    max-width:320px;
    & > img {
      max-width: 150px;
      display:block;
      margin: auto;
      @media screen and (max-width: 767px){
        max-width:120px;
      }
    }
    & > h4 {
      display: block;
      line-height: 1.2em;
      margin: 10px auto;
      font-size: 20px;
      color: #404040;
      font-weight: 600;
    }
  }
}
@iconRedColor : red;
@iconYellowColor : #e2ae31;
@iconGreenColor : green;
.illustration-wrapper {
  background-color: #f9f9f9;
  text-align: center;
  color:#363636;
  font-size: 14px;
  padding:10px 0px 40px;
  line-height: 1.6em;
  .icon-box {
    margin:40px 0 25px;
    & img {
      width:130px;
      display: block;
      margin:auto;
    }
    & h4 {
      text-transform: uppercase;
      font-size:20px;
      margin: 5px 0px;
      font-weight: 700;
      &.icon3 {
        color:@iconRedColor;
      }
      &.icon1 {
        color:@iconGreenColor;
      }
      &.icon2 {
        color: @iconYellowColor;
      }
    }
  }
  & .h-icon1 {
    color:@iconGreenColor;
  }
  & .h-icon3 {
    color:@iconRedColor;
  }
  & .h-icon2 {
    color: @iconYellowColor;
  }
  & h5 {
    font-size:20px;
    text-transform: uppercase;
  }
  & p {
    padding:0px 20px;
  }
}

.testimonials-section {
  & .testimonial-item {
    max-width: 400px;
    position: relative;
    margin: 0px auto 30px;
    min-height: 160px;
    & img {
      width:100px;
      position: absolute;
      min-height: 150px;
    }
    & .comment {
      line-height: 1.4em;
      position: relative;
      padding-left: 15px;
      margin-left: 100px;
      color: #666;
      & p.title {
        font-style: italic;
        font-weight: 600;
      }
      & img {
        display: block;
        position: relative;
        width: 30px;
        min-height: 30px;
        top:-10px;
        opacity: 0.5;
      }
    }
  }
  .testimonial_action_btn {
    position: relative;
    top:10px;
  }
  .btn-cfox.orange {
    .btn-bg-less;
  }
}

.container.text-block {
  max-width: 1100px;
}
.about-us {
  & h4 {
    color:#404040;
    margin-top:30px;
    font-size: 20px;
    font-weight: 600;
  }
  ul {
    margin-top:20px;
    padding-left:18px;
    & li {
      margin-bottom: 15px;
    }
  }
}

.footer {
  padding: 40px 20px;
  border-top: 1px solid rgba(0,0,0,0.05);
  color:#999999;
  & .txt-r {
    text-align: right;
  }
}
.wow {
  background-color: transparent;
  padding: 0px;
  .roundedCorners(3px);
  max-width: 700px;
  margin: 40px auto 0px;
  .input-group-addon:first-child {
    .roundedCorners(3px 0px 0px 3px);
  }
  .call_me_btn_expert.btn-cfox {
    font-size: 16px;
    .roundedCorners(0px 3px 3px 0px);
  }
  .input-group .form-control {
    height: 54px;
    .roundedCorners(0px);
  }
  .terms-msg {
    font-size: 10px;
    line-height: 1.6em;
    color: @lightTextColor;
    margin-top: 8px;
    text-align: left;
  }
}

.why-compare {
  h1 {
    color: @baseThemeColor;
    text-align: left;
  }
  img {
    margin: 60px 0 0 0;
  }
}
.video_container_hero{
  background: url(../img/video_img.jpg) no-repeat center top fixed;
  height: 400px;
  position: relative;
  text-align: center;
  padding-top: 50px;
  h1{
    font-size: 45px;
    font-weight: 300;
    color:#fff;
    margin: 50px 0 20px 0;
  }
  .overlay_bg{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
  }
  a{
    width: 100px;
    height: 100px;
    display: inline-block;
    .roundedCorners(50%);
    &:hover {background-color: rgba(0, 0, 0, 0.5);}
    img{max-width: 100px;display: inline-block;}
  }
}
.hero_modal_overlay {
  display: none;
  z-index: 1001;
  top:0;
  left:0;
  bottom: 0;
  right:0;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  overflow-x: hidden;
  overflow-y: auto;
  &.active {
    display: block;
  }
  .hero_modal_content {
    position: relative;
    margin: auto;
    top:-200%;
  }
  &.active .hero_modal_content {
    top:80px;
  }
  & .close-overlay {
    width: 90px;
    height: 30px;
    color: #fff;
    position: absolute;
    z-index: 1;
    background: url('../img/ic_close.png') no-repeat -15px center transparent;
    right: 20px;
    top:20px;
    padding-left: 35px;
    padding-top: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}
#video-frame {
  iframe {
    margin: auto;
    width:767px;
    height: 431px;
    display: none;
    &.reveal {
      display: block;
    }
  }
}
/* mobile optimisation */

@media screen and (min-width: 200px) and (max-width: 991px) {
  #right-menu-items li {
    display: block;
    margin-bottom:10px;
  }
  .companies-wrapper {
    height:130px;
    & ul.company-logos li {
      padding: 10px;
      img {
        height: 40px;
      }
    }
  }
  #topbar {
    & .logo {
      float: none;
      margin-bottom:3px;
    }
    & .irda-auth-badge {
      position: relative;
      float: none;
      margin:0px;
      font-size: 12px;
      color:#999999;
      br {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .companies-wrapper {
    height:130px;
    & ul.company-logos li {
      padding: 10px 15px;
      img {
        height: 45px;
      }
    }
  }
}

@media only screen and (min-width : 200px) and (max-width : 767px) {
  .video_container_hero{
    height: 300px;
    h1{
      font-size: 28px;
    }
  }
  #video-frame {
  iframe {
    width:100%;
    height: auto;
  }
}

  .why-compare {
    h1 {
      text-align: center;
    }
    img {
      display: none;
    }
  }
  body,html {
    min-width:320px;
  }
  #topbar {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    .logo {
      width: 120px;
    }
    .menuimg {
      width:25px;
      height:25px;
    }

    #right-menu-items {
    }
    #right-menu-items li {
      padding-right:30px;
    }

    #right-menu-items li a {
      font-size:14px;
    }
    .irda-auth-badge {
      font-size:10px;
    }
  }
  .companies-wrapper {
    height:130px;
    & ul.company-logos li {
      padding: 10px;
      img {
        height: 40px;
      }
    }
  }
  .wow {
    max-width: 450px;
  }

  .dark-box .btn-cfox,.light-box .btn-cfox {
    max-width: 450px;
    margin-left:auto;
    margin-right: auto;
  }

  .testimonials-section {
    & .testimonial-item {
      & .comment {
        font-size: 13px;
      }
    }
  }
  .form-box-mini {
    max-width: 450px;
  }

  .dark-box,.light-box {
    h1 {
      font-size: 32px;
    }
  }
  .footer {
    padding-right: 0;
    padding-left: 0;
    & .txt-r {
      text-align: left;
    }
  }
  .call-action {
    max-width: 460px;
    margin: auto;
    padding: 0 30px;
  }
}

@media screen and (min-width: 200px) and (max-width: 690px) {
  #topbar {
    .navbar-toggle {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 10px;
    }
    #right-menu-items .pipe-link {
      display: none;
    }
    #right-menu-items li {
      padding-right:0px;
    }
    #right-menu-items {
      margin-right: 50px;
    }
    .menuimg {
      display: none;
    }
  }
}

@media only screen and (min-width : 0px) and (max-width : 610px) {
  .light-box h1, .dark-box h1 {
    font-size: 28px;
  }
}
@media screen and (min-width: 200px) and (max-width: 519px) {
  .companies-wrapper {
    height: auto;
    & ul.company-logos li {
      padding: 10px;
      img {
        height: 25px;
      }
    }
  }
}

.go_big {
  font-size: 18px;
  font-weight: 500;
}

.toll-free-box a {
  color: @textColor;
  text-decoration: none;
  cursor: default;
}

.free-services .logo{
  max-width: 150px;
  padding-bottom: 5px;
}

.error {
    color: #f00;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

@import "./inc/special_message";





