/* Color scheme definitions */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-cfox.orange {
  background-color: #ff704c;
  border: 1px solid #ff5c32;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff704c;
  background: none;
  color: #ff704c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff704c;
  color: #fff;
}
.footer-wrapper-products {
  display: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
body {
  font-size: 14px;
}
.mnone {
  margin: 0px;
}
.pnone {
  padding: 0px;
}
/* button styling css */
.btn-coverfox.orange {
  padding: 8px 15px;
}
/* box stylings */
.light-box,
.dark-box {
  padding: 50px 0px 70px;
  line-height: 1.8em;
}
.light-box h1,
.dark-box h1 {
  font-size: 36px;
  margin: 0px 0px 40px;
  text-align: center;
  font-weight: 300;
  color: #363636;
  line-height: 1.4em;
  letter-spacing: 1px;
}
.light-box .lead-para,
.dark-box .lead-para {
  color: #6B6B6B;
  font-size: 16px;
  line-height: 1.7em;
}
.light-box .lead-para strong,
.dark-box .lead-para strong {
  color: #363636;
}
.light-box {
  background: #ffffff;
  color: #363636;
}
.light-box .leader {
  color: #ff6127;
  line-height: 1.4em;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin: 40px 0px;
}
.light-box legend {
  font-size: 18px;
  color: #6B6B6B;
  line-height: 1.4em;
  border: 0px solid transparent;
}
.light-box legend + p {
  color: #363636;
}
.dark-box {
  background-color: #f9f9f9;
  border-top: 1px solid rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
}
.color-highlight {
  color: #ff6127 !important;
}
/* basic elements styling */
.hero-wrapper {
  position: relative;
}
#topbar {
  padding: 10px 0;
  position: relative;
  margin-bottom: 15px;
}
#topbar .logo {
  float: left;
  text-align: center;
  width: 130px;
  margin-top: 2px;
  margin-bottom: 3px;
}
#topbar .logo img {
  width: 100%;
}
#topbar .menuimg {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #363636;
  padding: 5px;
  top: 3px;
  right: 0px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#topbar #right-menu-items {
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
  float: right;
  margin-left: -70px;
}
#topbar #right-menu-items li {
  display: inline-block;
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
  margin: 0;
  padding-right: 40px;
  text-align: right;
  position: relative;
}
#topbar #right-menu-items li a {
  font-size: 16px;
  display: block;
  color: #363636;
  padding: 0px;
}
#topbar #right-menu-items li a:hover {
  text-decoration: none;
  cursor: default;
}
#topbar .irda-auth-badge {
  letter-spacing: 0;
  width: 215px;
  vertical-align: bottom;
  text-align: left;
  float: left;
  margin-left: 20px;
  font-size: 12px;
}
#topbar #right-menu-items li.pipe-link {
  padding: 5px 10px;
}
#topbar #right-menu-items li.pipe-link.seperator {
  border-right: 1px solid #eaeaea;
  margin: 0px 10px;
  height: 30px;
  padding: 0;
}
#topbar #right-menu-items li.pipe-link a {
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  top: -10px;
}
#topbar #right-menu-items li.pipe-link a:hover {
  text-decoration: none;
  color: #ff6127;
}
#topbar .navbar-toggle {
  display: none;
  margin-right: 10px;
  padding: 0px;
  height: 34px;
  width: 34px;
  text-align: center;
  background-color: #f3f3f3;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#topbar .navbar-toggle:active,
#topbar .navbar-toggle:focus,
#topbar .navbar-toggle:hover {
  outline: none;
}
#topbar .navbar-toggle .bar {
  content: "";
  position: absolute;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 15px;
  display: inline-block;
  width: 15px;
  height: 3px;
  background-color: #363636;
  left: 9px;
}
#topbar .navbar-toggle .bar.plus {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#topbar .navbar-toggle .bar.plus:before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 3px;
  background-color: inherit;
  top: -7px;
  left: 6px;
  position: absolute;
}
#topbar .navbar-toggle .bar.minus {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
#topbar .navbar-toggle.active .bar.plus {
  -webkit-transform: scale(0) rotate(-90deg);
  -moz-transform: scale(0) rotate(-90deg);
  -ms-transform: scale(0) rotate(-90deg);
  -o-transform: scale(0) rotate(-90deg);
  transform: scale(0) rotate(-90deg);
}
#topbar .navbar-toggle.active .bar.minus {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#topbar .pipe-menu-right {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  text-align: left;
  margin: 0 -15px 0px;
  padding: 0px;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  height: 0px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
#topbar .pipe-menu-right.active {
  overflow: visible;
  margin-top: 10px;
  margin-bottom: -10px;
  height: auto;
  opacity: 1;
  visibility: visible;
  top: 100%;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
}
#topbar .pipe-menu-right li {
  display: block;
  padding: 0px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0px;
}
#topbar .pipe-menu-right li a {
  display: block;
  padding: 15px;
  background-color: #f7f7f7;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
#topbar .pipe-menu-right li a:hover,
#topbar .pipe-menu-right li a:focus,
#topbar .pipe-menu-right li a:active {
  color: #ff6127;
  text-decoration: none;
}
.companies-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}
.companies-wrapper ul.company-logos {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.companies-wrapper ul.company-logos li {
  display: inline-block;
  padding: 15px;
  position: relative;
}
.companies-wrapper ul.company-logos li img {
  height: 40px;
}
.free-services {
  background: #f3f3f3;
  /* padding:10px 0px 40px;*/
  line-height: 1.6em;
  color: #666666;
  font-size: 14px;
  /*
  & h1 {
    font-size: 32px;
    margin: 30px 0px;
    text-align: center;
    font-weight: 400;
    color:rgb(135, 127, 127);
    line-height: 1.4em;
    & .badger {
      padding:0px 5px;
      margin:0px 5px;
      display:inline-block;
      font-size:34px;
    }
    & .logo {
      display: inline-block;
      height: 34px;
      margin: 0px 0px;
      position: relative;
      top: -6px;
    }
    & .bag {
      display: inline-block;
      height:70px;
      margin-top:-10px;
    }
  }
  */
}
.free-services .proposition {
  margin: 20px auto 30px;
  padding: 0px;
  text-align: center;
  max-width: 320px;
}
.free-services .proposition > img {
  max-width: 150px;
  display: block;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .free-services .proposition > img {
    max-width: 120px;
  }
}
.free-services .proposition > h4 {
  display: block;
  line-height: 1.2em;
  margin: 10px auto;
  font-size: 20px;
  color: #404040;
  font-weight: 600;
}
.illustration-wrapper {
  background-color: #f9f9f9;
  text-align: center;
  color: #363636;
  font-size: 14px;
  padding: 10px 0px 40px;
  line-height: 1.6em;
}
.illustration-wrapper .icon-box {
  margin: 40px 0 25px;
}
.illustration-wrapper .icon-box img {
  width: 130px;
  display: block;
  margin: auto;
}
.illustration-wrapper .icon-box h4 {
  text-transform: uppercase;
  font-size: 20px;
  margin: 5px 0px;
  font-weight: 700;
}
.illustration-wrapper .icon-box h4.icon3 {
  color: red;
}
.illustration-wrapper .icon-box h4.icon1 {
  color: green;
}
.illustration-wrapper .icon-box h4.icon2 {
  color: #e2ae31;
}
.illustration-wrapper .h-icon1 {
  color: green;
}
.illustration-wrapper .h-icon3 {
  color: red;
}
.illustration-wrapper .h-icon2 {
  color: #e2ae31;
}
.illustration-wrapper h5 {
  font-size: 20px;
  text-transform: uppercase;
}
.illustration-wrapper p {
  padding: 0px 20px;
}
.testimonials-section .testimonial-item {
  max-width: 400px;
  position: relative;
  margin: 0px auto 30px;
  min-height: 160px;
}
.testimonials-section .testimonial-item img {
  width: 100px;
  position: absolute;
  min-height: 150px;
}
.testimonials-section .testimonial-item .comment {
  line-height: 1.4em;
  position: relative;
  padding-left: 15px;
  margin-left: 100px;
  color: #666;
}
.testimonials-section .testimonial-item .comment p.title {
  font-style: italic;
  font-weight: 600;
}
.testimonials-section .testimonial-item .comment img {
  display: block;
  position: relative;
  width: 30px;
  min-height: 30px;
  top: -10px;
  opacity: 0.5;
}
.testimonials-section .testimonial_action_btn {
  position: relative;
  top: 10px;
}
.testimonials-section .btn-cfox.orange {
  border: 1px solid #ff704c;
  background: none;
  color: #ff704c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.testimonials-section .btn-cfox.orange:hover,
.testimonials-section .btn-cfox.orange:active {
  background-color: #ff704c;
  color: #fff;
}
.container.text-block {
  max-width: 1100px;
}
.about-us h4 {
  color: #404040;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
}
.about-us ul {
  margin-top: 20px;
  padding-left: 18px;
}
.about-us ul li {
  margin-bottom: 15px;
}
.footer {
  padding: 40px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: #999999;
}
.footer .txt-r {
  text-align: right;
}
.wow {
  background-color: transparent;
  padding: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  max-width: 700px;
  margin: 40px auto 0px;
}
.wow .input-group-addon:first-child {
  -webkit-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
}
.wow .call_me_btn_expert.btn-cfox {
  font-size: 16px;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
}
.wow .input-group .form-control {
  height: 54px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.wow .terms-msg {
  font-size: 10px;
  line-height: 1.6em;
  color: #6B6B6B;
  margin-top: 8px;
  text-align: left;
}
.why-compare h1 {
  color: #ff6127;
  text-align: left;
}
.why-compare img {
  margin: 60px 0 0 0;
}
.video_container_hero {
  background: url(../img/video_img.jpg) no-repeat center top fixed;
  height: 400px;
  position: relative;
  text-align: center;
  padding-top: 50px;
}
.video_container_hero h1 {
  font-size: 45px;
  font-weight: 300;
  color: #fff;
  margin: 50px 0 20px 0;
}
.video_container_hero .overlay_bg {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.video_container_hero a {
  width: 100px;
  height: 100px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.video_container_hero a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.video_container_hero a img {
  max-width: 100px;
  display: inline-block;
}
.hero_modal_overlay {
  display: none;
  z-index: 1001;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  overflow-y: auto;
}
.hero_modal_overlay.active {
  display: block;
}
.hero_modal_overlay .hero_modal_content {
  position: relative;
  margin: auto;
  top: -200%;
}
.hero_modal_overlay.active .hero_modal_content {
  top: 80px;
}
.hero_modal_overlay .close-overlay {
  width: 90px;
  height: 30px;
  color: #fff;
  position: absolute;
  z-index: 1;
  background: url('../img/ic_close.png') no-repeat -15px center transparent;
  right: 20px;
  top: 20px;
  padding-left: 35px;
  padding-top: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.hero_modal_overlay .close-overlay:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#video-frame iframe {
  margin: auto;
  width: 767px;
  height: 431px;
  display: none;
}
#video-frame iframe.reveal {
  display: block;
}
/* mobile optimisation */
@media screen and (min-width: 200px) and (max-width: 991px) {
  #right-menu-items li {
    display: block;
    margin-bottom: 10px;
  }
  .companies-wrapper {
    height: 130px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 40px;
  }
  #topbar .logo {
    float: none;
    margin-bottom: 3px;
  }
  #topbar .irda-auth-badge {
    position: relative;
    float: none;
    margin: 0px;
    font-size: 12px;
    color: #999999;
  }
  #topbar .irda-auth-badge br {
    display: none;
  }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
  .companies-wrapper {
    height: 130px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px 15px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 45px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .video_container_hero {
    height: 300px;
  }
  .video_container_hero h1 {
    font-size: 28px;
  }
  #video-frame iframe {
    width: 100%;
    height: auto;
  }
  .why-compare h1 {
    text-align: center;
  }
  .why-compare img {
    display: none;
  }
  body,
  html {
    min-width: 320px;
  }
  #topbar {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #topbar .logo {
    width: 120px;
  }
  #topbar .menuimg {
    width: 25px;
    height: 25px;
  }
  #topbar #right-menu-items li {
    padding-right: 30px;
  }
  #topbar #right-menu-items li a {
    font-size: 14px;
  }
  #topbar .irda-auth-badge {
    font-size: 10px;
  }
  .companies-wrapper {
    height: 130px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 40px;
  }
  .wow {
    max-width: 450px;
  }
  .dark-box .btn-cfox,
  .light-box .btn-cfox {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonials-section .testimonial-item .comment {
    font-size: 13px;
  }
  .form-box-mini {
    max-width: 450px;
  }
  .dark-box h1,
  .light-box h1 {
    font-size: 32px;
  }
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .footer .txt-r {
    text-align: left;
  }
  .call-action {
    max-width: 460px;
    margin: auto;
    padding: 0 30px;
  }
}
@media screen and (min-width: 200px) and (max-width: 690px) {
  #topbar .navbar-toggle {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 10px;
  }
  #topbar #right-menu-items .pipe-link {
    display: none;
  }
  #topbar #right-menu-items li {
    padding-right: 0px;
  }
  #topbar #right-menu-items {
    margin-right: 50px;
  }
  #topbar .menuimg {
    display: none;
  }
}
@media only screen and (min-width: 0px) and (max-width: 610px) {
  .light-box h1,
  .dark-box h1 {
    font-size: 28px;
  }
}
@media screen and (min-width: 200px) and (max-width: 519px) {
  .companies-wrapper {
    height: auto;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 25px;
  }
}
.go_big {
  font-size: 18px;
  font-weight: 500;
}
.toll-free-box a {
  color: #363636;
  text-decoration: none;
  cursor: default;
}
.free-services .logo {
  max-width: 150px;
  padding-bottom: 5px;
}
.error {
  color: #f00;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}
/* special message css */
#special-message {
  padding: 10px 10px 10px 40px;
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 1000;
  color: #fff;
  background: #0076ff;
  text-align: center;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
#special-message img {
  position: absolute;
  width: 40px;
  left: -50px;
}
#special-message span {
  position: relative;
}
#special-message span.small {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 0.5px;
}
#special-message.reveal {
  top: 0;
}
.hero-wrapper.recede {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 60px;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  #special-message {
    position: relative;
    text-align: left;
    top: 0;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
  }
  #special-message.reveal {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
  }
  #special-message img {
    position: absolute;
    width: 26px;
    left: -43px;
    top: 0px;
  }
  .hero-wrapper.recede,
  .hero-wrapper {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 610px) {
  #special-message img {
    top: 5px;
  }
}
/* special message css ends */
