<html>
<body>
    <div>
        <h3>CD Account Details</h3>
        <table>
            <tr>
                <th>
                    Insurer
                </th>
                <th>
                    Balance
                </th>
            </tr>
            {% for report in reports %}
            <tr>
                <td>
                    {{ report.title.title }}
                </td>
                <td>
                    {{ report.balance }}
                </td>
            </tr>
            {% endfor %}
        </table>

        <br/>
        {% for report in reports %}
        <h3> Transaction Details for {{ report.title.title }}</h3>
        <table>
            <tr>
                <th>
                    Insurer
                </th>
                <th>
                    Customer Name
                </th>
                <th>
                    Policy No.
                </th>
                <th>
                    Business Type
                </th>
                <th>
                    Transaction Date
                </th>
                <th>
                    Entry Date
                </th>
                <th>
                    payment Mode
                </th>
                <th>
                    Debit/Credit
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Balance
                </th>
            </tr>
                {% for cdtransaction in report.transactions %}
                    <tr>
                        <td>
                            {{ cdtransaction.cd_account.insurer }}
                        </td>
                        <td>
                            {{ cdtransaction.transaction.raw.user_form_details.cust_first_name }}
                            {{ cdtransaction.transaction.raw.user_form_details.cust_last_name }}
                        </td>
                        <td>
                            {{ cdtransaction.transaction.policy_number }}
                        </td>
                        <td>
                            {{ cdtransaction.business_type.name }}
                        </td>
                        <td>
                            {{ cdtransaction.transaction_date }}
                        </td>
                        <td>
                            {{ cdtransaction.created_on }}
                        </td>
                        <td>
                            {{ cdtransaction.payment_mode }}
                        </td>
                        <td>
                            {{ cdtransaction.transaction_type }}
                        </td>
                        <td>
                            {{ cdtransaction.amount }}
                        </td>
                        <td>
                            {{ cdtransaction.balance_left }}
                        </td>
                    </tr>
                {% endfor %}
        </table>
        {% endfor %}


    </div>
</body>
</html>