{% load renderpage %}
{%if load_redactor %}
{% if request.user.is_superuser %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
<link rel="stylesheet" href="{{STATIC_URL}}redactor/redactor.css" />
<script src="{{STATIC_URL}}redactor/redactor.js"></script>
<form method="POST" action="">
	{% csrf_token %}
	{{form}}
	<button type="submit">submit page</button>
</form>
{% endif %}
{% endif %}

{% if page %}
{% renderpage page %}
{%if load_redactor %}
{% if request.user.is_superuser %}
<script type="text/javascript">
	$('[data-fragment-name]').redactor({
		fileUpload: '{% url "cms:upload:file" page.url %}',
		fileUploadErrorCallback: function(){
			console.log('NotImplemented');
		},
		imageUpload: '{% url "cms:upload:file" page.url %}',
		imageUploadErrorCallback: function(){
			console.log('NotImplemented');
		},
	});
</script>
{% endif %}
{% endif %}
{% endif %}
