<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coverfox - Login OTP</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <script src="{{ STATIC_URL }}account_manager/js/jquery-1.7.1.min.js"></script>

    <script type="text/javascript">
    $(function(){
        $("#id_contact").addClass("cf-input");
        $("#id_contact").attr("placeholder", "Email or mobile");
    });
    </script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- <form method="POST">
{% csrf_token %}
{{ form.as_ul }}
<input type="hidden" value="{{next}}" name="next">
<button type="submit">submit</button>
</form> -->
    <section class="cf-form">
        <a href="/">
            <img src="{{ STATIC_URL }}global/img/logos/cf-dark-orange-h71.png" alt="coverfox"/>
        </a>

        <p class="form-box" style="position: relative;"></p>
            <form action="" method="POST" id="otp_contact_form">
                <div class="login">
                    <h3>Login to Your Coverfox Account</h3>
                    {% csrf_token %}
                    <label for="id_contact">Email or Mobile</label>
                    <div class="in-field">
                        <input id="otp_contact" name="contact" type="text" class="cf-input" placeholder="Email or mobile">
                        <input id="otp_contact" name="nid" type="text" value="{{ nid }}" hidden>
                    </div>
                    <p class="error-text hide" id="otp_error_message"></p>
                    <button type="submit" class="btn orange submit" style="width:100%">Submit</button>
                </div>
            </form>
    </section>
    {% include 'otp-popup.html' %}

<link href="{{STATIC_URL}}account_manager/css/bootstrap.css" rel="stylesheet" >
<link href="{{STATIC_URL}}account_manager/css/login.css" rel="stylesheet" >
<link href="{{STATIC_URL}}css/otp-popup.css" rel="stylesheet">
<!--[if IE]>
<style type="text/css">
    label {display:block;}
</style>
<![endif]-->
<script src="{{ STATIC_URL }}account_manager/js/login.js"></script>
<script src="{{ STATIC_URL }}otp/js/otp.js"></script>
{% block footer_js %}
<script>
    var CSRF_TOKEN = '{{ csrf_token }}';
    var contact;
    var email_re = /^([A-Z0-9]+(?:[+._-]?[A-Z0-9]+)*)@((?:(?:[A-Z0-9-]+\.)*\w[A-Z0-9-]{0,66})\.(?:[A-Z]{2,6}(?:\.[A-Z]{2})?))$/i;
    var mobile_re = /^[7-9]\d{9}$/;
    $(document).ready(function(){

        $("form[id='otp_contact_form']").on("submit", function(ev){
            ev.preventDefault();

            $("#message").removeClass('hide');
            var form = $(this);
            contact = $('#otp_contact').val().trim();
            if (contact.match(email_re) || contact.match(mobile_re)) {
                $.post('/otp/send/', form.serialize())
                .done(function(data){
                    $('.otp-error').addClass('hide');
                    if(data.success){
                        $('#otp_popup').removeClass('hide');
                        $('#otp_popup_contact').text(contact);
                    } else {
                        $("#otp_error_message").text(data.msg);
                        $("#otp_error_message").removeClass('hide');
                    }
                });
            } else {
                $("#otp_error_message").text('invalid email/mobile');
                $("#otp_error_message").removeClass('hide');
            }
        });
    });
</script>
{% endblock %}


</body>
</html>
