{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if vehicle_type == "twowheeler" %}
        <title>Bike insurance quotes</title>
    {% else %}
        <title>Car insurance quotes</title>
    {% endif %}
    
    

    {% compress css %}
    
    <link href="{{STATIC_URL}}global/css/bootstrap.css" rel="stylesheet" >
    <link href="{{STATIC_URL}}motor_product/desktopMVP/app/assets/css/style.css" rel="stylesheet">
    <link href="{{STATIC_URL}}motor_product/css/desktop.css" rel="stylesheet" >

    {% endcompress css %}

    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    {% if tparty != None %}
        <link href="{{STATIC_URL}}motor_product/css/desktop_{{tparty}}.css" rel="stylesheet" >
    {% endif %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var TPARTY = {% if tparty != None %}"{{tparty}}"{% else %}undefined{% endif %};
        var AFFILIATE = false;
        {% if request.COOKIES.utm_campaign == 'Affiliate_Email_VD_Car' %}
            AFFILIATE = true;
            // console.log("AFFILIATE");
        {% endif %}
        
        

        {% if vehicle_type == "twowheeler" %}
        var QUOTE_SHARE_URL = '{{settings.SITE_URL}}{%url "quote_share_twowheeler" "quote_id"%}';
        {% else %}
        var QUOTE_SHARE_URL = '{{settings.SITE_URL}}{%url "quote_share_fourwheeler" "quote_id"%}';
        {% endif %}
        var CSRF_TOKEN = "{{csrf_token}}";
        var VEHICLE_TYPE = "{{vehicle_type}}";
        var CAR_TOLL_FREE = "{{toll_free_number}}";
        var IS_ADMIN = {% if is_admin %}true{% else %}false{% endif %};
        var dataLayer = [];
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>

    <!--[if lte IE 9]>
        <script type="text/javascript">
            (function () {
              function CustomEvent ( event, params ) {
                params = params || { bubbles: false, cancelable: false, detail: undefined };
                var evt = document.createEvent( 'CustomEvent' );
                evt.initCustomEvent( event, params.bubbles, params.cancelable, params.detail );
                return evt;
              };

              CustomEvent.prototype = window.Event.prototype;
          window.CustomEvent = CustomEvent;
        })();
        </script>
    <![endif]-->

    {% if vehicle_type == 'fourwheeler' %}
        {% if mode != 'unassisted' %}
            <!-- begin olark code -->
            <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
                f[z]=function(){
                    (a.s=a.s||[]).push(arguments)};var a=f[z]._={
                },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
                    f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
                    0:+new Date};a.P=function(u){
                    a.p[u]=new Date-a.p[0]};function s(){
                    a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
                    hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
                    return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
                    b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
                    b.contentWindow[g].open()}catch(w){
                    c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
                    var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
                    b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
                loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
            /* custom configuration goes here (www.olark.com/documentation) */
            </script>
            <script>
            {% if affiliate_source == 'cardekho' %}
                /*Routes to CarDekho Group*/
                olark.configure('system.group', '6ca532363b9985e7e630d025cf17ac9a');
                olark.configure('box.corner_position', 'BR');
            {% else %}
                /*Routes to Motor Group*/
                olark.configure('system.group', '3d7705c9ed6a26b965e2f980fa757299');
                olark.configure('box.corner_position', 'BR');
            {% endif %}
            olark.configure('box.start_hidden', true);
            olark.identify('8072-747-10-2682');/*]]>*/
            </script>
            <!-- end olark code -->
        {% endif %}
    {% endif %}

    <!-- Start Visual Website Optimizer Asynchronous Code -->
    <script type='text/javascript'>
    var _vwo_code=(function(){
    var account_id=113955,
    settings_tolerance=2000,
    library_tolerance=2500,
    use_existing_jquery=false,
    // DO NOT EDIT BELOW THIS LINE
    f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
    </script>
    <!-- End Visual Website Optimizer Asynchronous Code -->

</head>
<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MR4FRN');
    </script>
    <!-- End Google Tag Manager -->

{% if request.GET.utm_source == 'justdial' %}
    <link href="{{STATIC_URL}}global/css/just-dial/jd-header.css" rel="stylesheet">
    <section class="jd-header" style="margin-bottom:0px;">
        <div class="innercont">
            <div class="logocnt" title="JustDial Insurance">
                <a href="#" alt="Justdial - Local Search Engine">
                    <span class="bklg"></span>
                </a>
            </div>
        </div>
        <div class="tpclr_new grid_full">
            <div class="container">
            </div>
        </div>
        <div class="btmblk grid_full"></div>
    </section>
{% endif %}

<header>

    <div class="header-wrapper fixed-top">
        <!--div class="hamburger-menu">
        </div-->
        <div class="logo">
            <a href="/"><img src="{{STATIC_URL}}global/img/logos/cf-white-orange-h71.png" alt="Coverfox.com"></a>
        </div>
        <div class="page-title" >Buy {% if vehicle_type == 'fourwheeler' %}Car{% else %}Bike{% endif %} Insurance</div>
        <div class="right-item pull-right" >Call us (Toll Free) for assistance: <strong>{{toll_free_number}}</strong></div>
    </div>
</header>



{% if tparty != None %}
    <div style="background-color: rgb(253, 253, 169); color: #8C8C8C; padding: 4px;">
        Online comparison and sale of Insurance products on this portal is powered by <strong>Coverfox Insurance Broking</strong>
    </div>
{% endif %}
<div data-bind="router">

</div>

<script src="{{STATIC_URL}}motor_product/build/common.{{settings.WEBPACK_ASSETS_HASH}}.js"></script>
<script src="{{STATIC_URL}}motor_product/build/desktop.{{settings.WEBPACK_ASSETS_HASH}}.bundle.js"></script>

</body>
</html>
