<!DOCTYPE html>
<html lang="en">
<head>
    <title>CD Admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}motor_product/css/buy-form.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}motor_product/cdaccount/css/cdaccount.css">

</head>
<body>
{% load i18n %}
    <div class="insurer_cd">
    {% for account in accounts %}
        <div class=" well well-sm">
            <div class="row" id="cdaccount_{{ account.id }}">
                <div class="col-md-3">
                    {{ account.insurer }}
                </div>
                <div class="col-md-3 account_balance">
                    {{ account.balance }}
                </div>
                <div class="col-md-3">
                    <input type="button" data-account="{{ account.id }}" class="btn orange edit" value="Edit Balance" />
                </div>
                <div class="col-md-3">
                    <a href="{% url 'cd_account_report' account.id %}" target="_blank" class="btn orange show-report">View Report</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="cd_transaction well well-lg">
    </div>

</body>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery-ui-1.8.9.custom.css">
    <script src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="{{STATIC_URL}}motor_product/cdaccount/js/cdaccount.js?v=0.01"></script>
</html>
