<div>
    <form action="{% url 'cd_transaction' account_id %}" method="post">
        {% csrf_token %}
        <div class="errors"></div>
        {{ form.as_p }}
        <input type="submit" class="submit" value="Submit">
    </form>
</div>
