﻿<!DOCTYPE html>
<html>
<head>
<title>Coverfox</title>
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
                  <link rel="stylesheet" href="/resources/demos/style.css">
                        <script>
      $(function() {
                $( "#datepicker1" ).datepicker({
                   changeMonth: true,
                   changeYear: true,
                   dateFormat: "dd-mm-yy",
                   yearRange: "1900:2050"
                });
      	});
       $(function() {
                $( "#to" ).datepicker({
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "1900:2050",
               		dateFormat: "dd-mm-yy"
  				});
        });
       $(function() {
           		$( "#fromdate" ).datepicker({
                  	changeMonth: true,
                  	changeYear: true,
                  	yearRange: "1900:2050",
                    dateFormat: "dd-mm-yy",
     			onSelect:function(){
                        	var toDate=$(this).datepicker('getDate');
                           	var month = toDate.getMonth();
                           	var year = toDate.getFullYear();
                           	if(( year%4 ==0 &&  month<2)||( (year+1) %4 ==0 &&  month>1)){
                               toDate.setDate(toDate.getDate()+365);
                           	}
                        	else {
                               toDate.setDate(toDate.getDate()+364);}
                           	                          
                           	$("#to").datepicker("setDate", toDate);
                     	}
             	});
        });

 </script>

 <script type="text/javascript">
 function validation()
 {
    var phoneno = "/^\(?([0-9]{10}))"
     var a = document.form.mobile.value;
 	if(a=="")
 	{
 		alert("Please Enter Your Mobile Number");
 		document.form.phone.focus();
 		return false;
 	}
	else  if (document.form.mobile.value.match(phoneno))
    {
    	return true;
    }
    else
    {
    	alert("Please Enter a Valid Mobile Number");
    	document.form.phone.focus();
        return false;
    }
}
 
</script>


<style type="text/css">
	input,select{
		border:1px solid #dadada;
		width:200px;
		background: #fff;
		padding:2px;
		color: #314451;
	}
</style>
</head>
<body>
<table cellpadding="0" cellspacing="0" width="733" border="0" align="center">
    <form name="form" method='POST' onsubmit="return validation()"  action='.'>
	<tr>
	{% load staticfiles %}
		<td align="left" valign="top" width="193" style="padding:5px 10px;"><img src="{% static 'global/img/logos/cf-dark-orange-h71.png' %}" width="150" alt="Coverfox"></td>
		<td align="right" width="500" valign="top" style="padding:5px 10px;"></td>
	</tr>
	<tr>
		<td align="left" valign="top" colspan="2" height="895" style="padding:15px 0 0;">
			<table cellpadding="0" cellspacing="0" width="733" border="0" align="center">
				<tr>
					<td align="left" valign="top" colspan="2" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:24px;color:#314451;padding:10px 20px;background-color:#f4f4f4;">Private Car Package Policy Receipt</td>
				</tr>
				<tr>
					<td align="right" valign="top" colspan="2" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:15px 0 0;">
						<table cellpadding="0" cellspacing="0" width="733" border="0" align="center">
							<tr>
								<td align="left" width="173" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#99a0a7;padding:0 0 3px;font-weight:normal;">Insurance Provider: </td>
								<td align="left" width="560" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:0 0 3px;">
									<select name="insurer">
										<option value="maruti">Maruti</option>
										<option value="l-t">L&T General</option>
                                        <option value="bharti-axa">Bharti AXA</option>
                                        <option value="bajaj-allianz">Bajaj Allianz</option>
                                        <option value="tata-aig">Tata AIG</option>
                                        <option value="universal-sompo">Universal Sompo</option> 
                                        <option value="oriental">Oriental Insurance</option>
                                        <option value="iffco-tokio">Iffco Tokio</option>
                                        <option value="future-generali">Future Generali</option>
                                        <option value="liberty-videocon">Liberty Videocon</option>
                                        <option value="reliance">Reliance General</option> 
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#99a0a7;padding:0;font-weight:normal;">Date of Issue:</td>
								<td align="left" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:0;"><input  name="issuedate" type="text" placeholder="Date" id="datepicker1" ></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="left" colspan="2" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;color:#ff704c;padding:20px 10px 10px 0;font-weight:bold;;text-transform: uppercase;letter-spacing:1px;">Insured Details</td>
				</tr>
				<tr>
					<td align="left" valign="top" colspan="2" style="0">
						<table cellpadding="0" cellspacing="0" width="731" border="0" align="left" style="border:1px solid #ccc;border-radius:3px;">
							<tr>
								<td valign="top" align="left" style="padding:20px 10px;">
									<table cellpadding="0" cellspacing="0" width="681" border="0" align="left">				
										<tr>
											<td align="left" width="153" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px 20px 5px;font-weight:bold;">Insured: </td>
											<td align="left" width="498" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px 5px 5px;border-bottom:1px solid #ccc;"><input name = "insuredname" type="text" placeholder="INSURED Name" ></td>
										</tr>
										<tr>
											<td align="left" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px 20px;font-weight:bold;">Email Id: </td>
											<td align="left" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px;border-bottom:1px solid #ccc;"> <input name = "emailid" type="email" placeholder="INSURED email" ></td>
										</tr>
										<tr>
											<td align="left" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px 20px;font-weight:bold;">Mobile: </td>
											<td align="left" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px;border-bottom:1px solid #ccc;"><input name = "mobile" type="text" placeholder="INSURED Mobile Number" ></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="left" colspan="2" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;color:#ff704c;padding:40px 10px 10px 0;font-weight:bold;;text-transform: uppercase;letter-spacing:1px;">Vehicle Details</td>
				</tr>
				<tr>
					<td align="left" valign="top" colspan="2" style="padding:0 0 30px">
						<table cellpadding="0" cellspacing="0" width="731" border="0" align="left" style="border:1px solid #ccc;border-radius:3px;">
							<tr>
								<td valign="top" align="left" style="padding:20px 10px;">
									<table cellpadding="0" cellspacing="0" width="681" border="0" align="left">	
										<tr>
											<td align="left" width="153" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px 20px 5px;font-weight:bold;">Registration Number: </td>
											<td align="left" width="498" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px 5px 5px;border-bottom:1px solid #ccc;"><input name = "registration" type="text" placeholder="Registration Number" ></td>
										</tr>
										<tr>
											<td align="left" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px 20px;font-weight:bold;">Make: </td>
											<td align="left" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px;border-bottom:1px solid #ccc;"><input name = "make" type="text" placeholder="Make" ></td>
										</tr>
										<tr>
											<td align="left" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px 20px;font-weight:bold;">Model: </td>
											<td align="left" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px;border-bottom:1px solid #ccc;"><input name = "model" type="text" placeholder="Enter Model" ></td>
										</tr>
										<tr>
											<td align="left" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px 20px;font-weight:bold;">Variant: </td>
											<td align="left" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px;border-bottom:1px solid #ccc;"><input name = "variant"type="text" placeholder="Enter Variant" ></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="left" valign="top" colspan="2" style="padding:10px 0;background: #f4f4f4;border-radius:3px;">
						<table cellpadding="0" cellspacing="0" width="708" border="0" align="center">
							<tr>
								<td align="left" width="183" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px 20px;font-weight:bold;text-transform: uppercase;letter-spacing:1px;">Premium Amount: </td>
								<td align="left" width="505" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px 0;">Rs. <input name = "amount" type="text" placeholder="Enter Amount" style="width:100px;">/-</td>
							</tr>
							<tr>
								<td align="left" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px 20px;font-weight:bold;text-transform: uppercase;letter-spacing:1px;">Policy Valid from: </td>
								<td align="left" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;color:#314451;padding:5px 0;"><input name = "fromdate" type="text" placeholder="From Date" id="fromdate" style="width:100px;"> to <input name = "todate" type="text" placeholder="To Date" id ="to" style="width:100px;"></td>
							</tr>
						</table>
					</td>
				</tr>
                <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                <tr><td></td><td align="center"><input type="submit" name="SUBMIT"></td></tr>
				<tr>
					<td align="left" valign="top" colspan="2" style="padding:20px 0 20px;">
						<table cellpadding="0" cellspacing="0" width="708" border="0" align="center">
							<tr>
								<td align="left" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;color:#314451;padding:3px;">* In case of any query, you can contact Amol (our Car Insurance expert) on <b>08422801380</b></td>
							</tr>
							<tr>
								<td align="left" valign="top" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;color:#314451;padding:3px;">* This is only transaction confirmation receipt and can not be used for lodging claim</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td align="left" valign="top" colspan="2" style="padding:15px 0; border-top:2px solid #ff704c;">
			<table cellpadding="0" cellspacing="0" width="733" border="0" align="center">
				<tr>
					<td align="center" valign="top" width="630" style="font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;color:#314451;padding:3px 0;line-height:18px;"><span style="font-size:16px;font-weight:bold;">Coverfox Insurance Broking Pvt. Ltd.</span><br/>
					3rd Floor Krislon House, Opp Marwa House, Off Saki Vihar Road, Andheri (E), Mumbai, Maharashtra - 400072<br />
					IRDA Direct Broker licence no. IRDA/ DB 556/ 13 </td>
				</tr>
			</table>
		</td>
	</tr>
</table>


</body>
</html>
