﻿<!DOCTYPE html>
<html>
<head>
<title>Coverfox</title>
</head>
<body>
<table cellpadding="0" cellspacing="0" width="733" border="0" align="center">
	<tr>
		<td align="left" colspan="2" >
			<table cellpadding="0" cellspacing="0" width="733" border="0" align="center">
				<tr>
				{% load staticfiles %}
					<td align="left" width="300"  style="background:#fff;"><img src="{{site_url}}/static/global/img/logos/cf-black-orange.jpg" alt="Coverfox" width="300"></td>
					<td align="right" width="500" style="padding:0 0 5px;background:#fff;"><img src="{{site_url}}/static/motor_product/desktopMVP/app/assets/img/insurer/{{insurer}}.jpg" width="300" alt="Coverfox"></td>
				</tr>
				<tr>
					<td align="left" colspan="2" style="font-family: Arial, sans-serif;font-size:18px;line-height:18px;color:#314451;background-color:#f4f4f4;padding:8px 5px 5px 5px;">Private Car Package Policy Receipt</td>
				</tr>
				<tr>
					<td align="right" colspan="2" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;">
						<table cellpadding="0" cellspacing="0" width="733" border="0" align="center">
							<tr>
								<td align="left" width="173" style="font-family: Arial, sans-serif;font-size:12px;color:#99a0a7;font-weight:normal;padding:8px 0 0 5px;">Insurance Provider: </td>
								<td align="left" width="560" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;padding:8px 0 0 5px;">{{insurer_name}}</td>
							</tr>
							<tr>
								<td align="left" style="font-family: Arial, sans-serif;font-size:12px;color:#99a0a7;font-weight:normal;padding:5px 0 0 5px;">Date of Issue:</td>
								<td align="left" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;padding:8px 0 0 5px;">{{issuedate}}</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="left" colspan="2" style="font-family: Arial, sans-serif;font-size:14px;color:#ff704c;padding:10px 0 0 3px;">Insured Details</td>
				</tr>
				<tr>
					<td align="left" colspan="2" style="0">
						<table cellpadding="0" cellspacing="0" width="731" border="0" align="left" style="border:1px solid #ccc;border-radius:3px;">
							<tr>
								<td align="left" >
									<table cellpadding="0" cellspacing="0" width="681" border="0" align="left">				
										<tr>
											<td align="left" width="153" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;padding:8px 3px 0 3px;">Insured: </td>
											<td align="left" width="498" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;border-bottom:1px solid #ccc;padding:8px 3px 0;">{{insuredname}}</td>
										</tr>
										<tr>
											<td align="left" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;padding:5px 3px 0 3px;">Email Id: </td>
											<td align="left" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;border-bottom:1px solid #ccc;padding:5px 3px 0;">{{emailid}}</td>
										</tr>
										<tr>
											<td align="left" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;padding:5px 3px 0 3px;">Mobile: </td>
											<td align="left" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;border-bottom:1px solid #ccc;padding:5px 3px 0;">{{mobile}}</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="left" colspan="2" valign="middle" style="font-family: Arial, sans-serif;font-size:14px;color:#ff704c;padding:15px 0 0 3px;">Vehicle Details</td>
				</tr>
				<tr>
					<td align="left" colspan="2" style="">
						<table cellpadding="0" cellspacing="0" width="731" border="0" align="left" style="border:1px solid #ccc;border-radius:3px;">
							<tr>
								<td align="left" style="">
									<table cellpadding="0" cellspacing="0" width="681" border="0" align="left">	
										<tr>
											<td align="left" width="153" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;padding:8px 3px 0 3px;">Registration Number: </td>
											<td align="left" width="498" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;border-bottom:1px solid #ccc;padding:8px 3px 0;">{{registration}}</td>
										</tr>
										<tr>
											<td align="left" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;padding:5px 3px 0 3px;">Make: </td>
											<td align="left" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;border-bottom:1px solid #ccc;padding:5px 3px 0;">{{make}}</td>
										</tr>
										<tr>
											<td align="left" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;padding:5px 3px 0 3px;">Model: </td>
											<td align="left" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;border-bottom:1px solid #ccc;padding:5px 3px 0;">{{model}}</td>
										</tr>
										<tr>
											<td align="left" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;padding:5px 3px 0 3px;">Variant: </td>
											<td align="left" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;border-bottom:1px solid #ccc;padding:5px 3px 0;">{{variant}}</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="left" colspan="2" style="padding:15px 3px;">
						<table cellpadding="0" cellspacing="0" width="708" border="0" align="center" style="background: #f4f4f4;border-radius:3px;">
							<tr>
								<td align="left" width="183" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;padding:5px 0 0 5px;">Premium Amount: </td>
								<td align="left" width="505" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;padding:3px 0 0;">Rs. {{amount}}/-</td>
							</tr>
							<tr>
								<td align="left" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;padding:5px 0 0 5px;">Policy Valid from: </td>
								<td align="left" style="font-family: Arial, sans-serif;font-size:12px;color:#314451;padding:3px 0 0;">{{fromdate}} to {{todate}}</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="left" colspan="2">
						<table cellpadding="0" cellspacing="0" width="708" border="0" align="center">
							<tr>
								<td align="left" style="font-family: Arial, sans-serif;font-size:10px;color:#314451;padding:5px 0 3px;">* In case of any query, you can contact Amol (our Car Insurance expert) on <b>08422801380</b></td>
							</tr>
							<tr>
								<td align="left" style="font-family: Arial, sans-serif;font-size:10px;color:#314451; padding:0 0 150px;">* This is only transaction confirmation receipt and can not be used for lodging claim</td>
							</tr>
							<tr>
								<td align="center" style="border-top:2px solid #ff704c;font-family: Arial, sans-serif;font-size:10px;color:#314451;line-height:16px;padding:5px 3px;">
									<span style="font-size:14px;">Coverfox Insurance Broking Pvt. Ltd.</span><br/>
									3rd Floor Krislon House, Opp Marwa House, Off Saki Vihar Road, Andheri (E), Mumbai, Maharashtra - 400072<br />
									IRDA Direct Broker licence no. IRDA/ DB 556/ 13 
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>	
</table>
</body>
</html>
