{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <title>Coverfox - Motor Insurance Buy</title>
    <meta charset="utf-8" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    {% compress css %}
    <link href="{{STATIC_URL}}global/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}global/css/footer_2_mini.css" rel="stylesheet" >
    <link href="{{STATIC_URL}}motor_product/css/buy-form.css" rel="stylesheet" >
    {% endcompress %}
    {% if tparty != None %}
        <link href="{{STATIC_URL}}motor_product/css/desktop_{{tparty}}.css" rel="stylesheet" >
    {% endif %}

    {% include "core/remove_header_in_webview.html" %}

    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{static_path}}/img/favicon.ico" type="image/x-icon" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--[if IE ]>
        <script type="text/javascript" src="/static/js/json2.js"></script>
    <![endif]-->
    <!--[if lte IE 11]>
        <script type="text/javascript">
            (function () {
              function CustomEvent ( event, params ) {
                params = params || { bubbles: false, cancelable: false, detail: undefined };
                var evt = document.createEvent( 'CustomEvent' );
                evt.initCustomEvent( event, params.bubbles, params.cancelable, params.detail );
                return evt;
              };

              CustomEvent.prototype = window.Event.prototype;
          window.CustomEvent = CustomEvent;
        })();
        </script>
    <![endif]-->
    <script type="text/javascript">
        var TPARTY = {% if tparty != None %}"{{tparty}}"{% else %}undefined{% endif %};
        var SITE_URL = "{{settings.SITE_URL}}";
        var INSPECTION_STATUS = {% if inspection %}"{{ inspection.status }}"{% else %}null{% endif %};
        var CSRF_TOKEN = "{{csrf_token}}";
        var VEHICLE_TYPE = "{{vehicle_type}}";
        var ga_category = 'MOTOR';
        var IS_MOBILE = "{{ is_mobile }}";
        var TOLL_FREE_NUMBER = "{{ toll_free_number }}"
        if (VEHICLE_TYPE != 'fourwheeler'){
            ga_category = 'BIKE';
        }

        {% if vehicle_type == "twowheeler" %}
        var QUOTE_SHARE_URL = '{{settings.SITE_URL}}{%url "quote_share_twowheeler" "quote_id"%}';
        {% else %}
        var QUOTE_SHARE_URL = '{{settings.SITE_URL}}{%url "quote_share_fourwheeler" "quote_id"%}';
        {% endif %}

        var LMS_URL = "{% url 'leads:lead_add' %}";
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
        var insurer_id = {{ insurer_id }};
        var insurer_title = "{{ insurer_title|safe }}";
        var insurer_slug = "{{ insurer_slug|safe }}";
        var transaction_id = "{{ transaction.transaction_id }}";
        var CAR_TOLL_FREE = "{{ settings.CAR_TOLL_FREE }}";
        var data = {{ data|safe }};
        var cd_enabled = {{ cd_enabled }};
        var cd_balance = {{ cd_balance }};
        var TRANSACTION_STATUS = {% if transaction.is_complete %} "COMPLETED" {% else %} "{{ transaction.status }}" {% endif %};
    </script>
    {%if settings.PRODUCTION%}
        <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
        <script>
            Raven.config('https://b73a2dd7e1714ae3aab0e33fd663b391@app.getsentry.com/33123', {
            }).install();
        </script>
    {%endif%}


    <!-- start Mixpanel --
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
        mixpanel.init("f6b6a4af17bcce00d518ad43b8dcadba",{debug:true});

        mixpanel.set_config({
            track_links_timeout:1000
        })
    </script>
    <!-- end Mixpanel -->

    {% if vehicle_type == 'fourwheeler' %}
        {% if mode != 'unassisted' and not settings.DEBUG %}
            <!-- begin olark code -->
            <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
            f[z]=function(){
            (a.s=a.s||[]).push(arguments)};var a=f[z]._={
            },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
            f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
            0:+new Date};a.P=function(u){
            a.p[u]=new Date-a.p[0]};function s(){
            a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
            hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
            return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
            b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
            b.contentWindow[g].open()}catch(w){
            c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
            var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
            b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
            loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
            /* custom configuration goes here (www.olark.com/documentation) */
            olark.configure('system.group', '3d7705c9ed6a26b965e2f980fa757299');
            olark.configure('box.start_hidden', true);
           // olark.configure('box.corner_position', 'BR');
            olark.identify('8072-747-10-2682');/*]]>*/</script><noscript><a href="https://www.olark.com/site/8072-747-10-2682/contact" title="Need some help?" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
            <!-- end olark code -->
        {% endif %}
    {% endif %}

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MR4FRN');

    dataLayer.push({'event': 'payment_success'});
    dataLayer.push({
        'event': 'GAEvent',
        'eventCategory': ga_category,
        'eventAction': 'ProposalForm',
        'eventLabel': 'Desktop',
        'eventValue': 0
    });
    </script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <header>
        <div class="header-wrapper">

            <!-- <div class="hamburger-menu">

            </div> -->
            <div class="logo">
                <a href="{{settings.SITE_URL}}">
                    <img src="{{ STATIC_URL }}global/img/logos/cf-white-orange-h71.png" alt="Coverfox.com" />
                </a>
            </div>
            <div class="page-title">
                Buy {% if vehicle_type == 'fourwheeler' %}Car{% elif vehicle_type == 'twowheeler' %}Bike{% endif %} Insurance
            </div>
            <div class="page-title pull-right no-arrow hidden-xs">
                Call us (Toll Free) for assistance: <strong>1800 209 9930</strong>
            </div>
        </div>

    </header>
    {% if tparty != None %}
        <div style="background-color: rgb(253, 253, 169); color: #8C8C8C; padding: 4px;">
            Online comparison and sale of Insurance products on this portal is powered by <strong>Coverfox Insurance Broking</strong>
        </div>
    {% endif %}
    {% if show_reset_button %}
        <form method="POST">
            {% csrf_token %}
            <input type="checkbox" name="resetForm" checked value="true" style="display:none;">
            <button type="submit" class="reset_btn btn orange large">Reset Form</button>
        </form>
    {% endif %}
    <div data-bind="router">

    </div>
    <div class="centered-content-wrapper" style="padding-top:0;">
        {% include "flatpages:footer_2_mini.html" %}
    </div>
<script src="{{static_path}}/motor_product/build/common.{{settings.WEBPACK_ASSETS_HASH}}.js"></script>
<script src="{{static_path}}/motor_product/build/buy.{{settings.WEBPACK_ASSETS_HASH}}.bundle.js"></script>
<script type="text/javascript">
    (function() {
        if(window.android) {
            window.android.showNext('{{ inspection.uuid }}', "{{inspection.status}}");
        }
    })();
</script>

</body>
</html>
