<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <title>Coverfox - Motor Insurance</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{STATIC_URL}}motor_product/discountingAdmin/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}motor_product/discountingAdmin/css/style.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--[if IE ]>
        <script type="text/javascript" src="{{STATIC_URL}}js/json2.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var CSRF_TOKEN = "{{csrf_token}}";
        var INSURER = "{{insurer_slug}}"
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
    <style type="text/css">
        table {
            width: 100%;
            border: 1px solid black;
        }

        td, th {
            border: 1px solid black;
        }

        th {
            background-color: #eeeeee;
            color: black;
        }

        body, html {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
    <div style="background-color: #f5f5f5; padding: 10px;" class="row">
        <div class="col-xs-2">
            <input class="form-control input-sm" type="text" data-bind="value: filterDl.vehicle.actualMake" style="margin-bottom:2px;"/>
            <select style="height: 100px;" class="form-control" data-bind="options: filterDl.vehicle.makes, value: filterDl.vehicle.selectedMake, optionsCaption: 'None'" size="5"></select>
        </div>
        <div class="col-xs-2">
            <input class="form-control input-sm" type="text" data-bind="value: filterDl.vehicle.actualModel" style="margin-bottom:2px;"/>
            <select style="height: 100px;" class="form-control input-sm" data-bind="options: filterDl.vehicle.models, value: filterDl.vehicle.selectedModel, optionsCaption: 'None'" size="5"></select>
        </div>
        <div class="col-xs-2">
            <input class="form-control input-sm" type="text" data-bind="value: filterDl.vehicle.actualVariant" style="margin-bottom:2px;"/>
            <select style="height: 100px;" class="form-control input-sm" data-bind="options: filterDl.vehicle.variants, value: filterDl.vehicle.selectedVariant, optionsCaption: 'None'" size="5"></select>
        </div>
        <div class="col-xs-1">
            <select class="form-control input-sm" data-bind="options: filterDl.lower_age_ranges, optionsText: 'name', optionsValue: 'value', value: filterDl.lower_age_limit"></select>
        </div>
        <div class="col-xs-1">
            <select class="form-control input-sm" data-bind="options: filterDl.upper_limit_age_range, optionsText: 'name', optionsValue: 'value', optionsCaption: 'No Limit', value: filterDl.upper_age_limit"></select>
        </div>
        <div class="col-xs-1">
            <select class="form-control input-sm" data-bind="options: filterDl.lower_cc_ranges, optionsText: 'name', optionsValue: 'value', value: filterDl.lower_cc_limit"></select>
        </div>
        <div class="col-xs-1">
            <select class="form-control input-sm" data-bind="options: filterDl.upper_limit_cc_range, optionsText: 'name', optionsValue: 'value', optionsCaption: 'No Limit', value: filterDl.upper_cc_limit"></select>
        </div>
        <div class="col-xs-1">
            <select class="form-control input-sm" data-bind="options: filterDl.stateList, optionsCaption: 'Any', value: filterDl.state"></select>
        </div>
        <div class="col-xs-1">
            <select class="form-control input-sm" data-bind="options: filterDl.ncbList, optionsText: 'name', optionsValue: 'value', value: filterDl.ncb"></select>
        </div>
        <div style="padding: 5px; text-align: right;" class="col-xs-12">
            <a class="btn btn-info" href='' data-bind='click: dlList.refresh'>Refresh</a>
            <a class="btn btn-success" href='' data-bind='click: dlList.add'>Add</a>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Index</th>
                <th></th>
                <th>Discount</th>
                <th>Make</th>
                <th>Model</th>
                <th>Variant</th>
                <th>Age (lower)</th>
                <th>Age (upper)</th>
                <th>CC (lower)</th>
                <th>CC (upper)</th>
                <th>State</th>
                <th>NCB</th>
                <th>RTOs</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: dlList.dls">
            <tr data-bind="ifnot: $parent.dlList.selected() == $data">
                <td data-bind="text: $index"></td>
                <td><a class="btn btn-xs btn-danger" data-bind="click: $parent.dlList.remove">Delete</a><a class="btn btn-xs btn-success" data-bind="click: $parent.dlList.duplicate">Duplicate</a><a class="btn btn-xs btn-info" data-bind="click: $parent.dlList.edit">Edit</a></td>
                <td data-bind="text: discount"></td>
                <td data-bind="text: make"></td>
                <td data-bind="text: model"></td>
                <td data-bind="text: variant"></td>
                <td data-bind="text: lower_age_limit"></td>
                <td data-bind="text: upper_age_limit"></td>
                <td data-bind="text: lower_cc_limit"></td>
                <td data-bind="text: upper_cc_limit"></td>
                <td data-bind="text: state"></td>
                <td data-bind="text: ncb > 0? 'Yes':'No'"></td>
                <td data-bind="text: rto_count"></td>
            </tr>
            <tr data-bind="if: $parent.dlList.selected() == $data">
                <td data-bind="text: $index"></td>
                <td><a class="btn btn-xs btn-success" data-bind="click: $parent.dlList.edit">Done</a></td>
                <td><input type="text" data-bind="value: $parent.editableDl.discount"/></td>
                <td colspan="3">
                    <div style="background-color: #f5f5f5; padding: 10px;" class="row">
                        <div class="col-xs-4">
                            <input class="form-control input-sm" type="text" data-bind="value: $parent.editableDl.vehicle.actualMake" style="margin-bottom:2px;"/>
                            <select style="height: 100px;" class="form-control" data-bind="options: $parent.editableDl.vehicle.makes, value: $parent.editableDl.vehicle.selectedMake, optionsCaption: 'None'" size="5"></select>
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control input-sm" type="text" data-bind="value: $parent.editableDl.vehicle.actualModel" style="margin-bottom:2px;"/>
                            <select style="height: 100px;" class="form-control input-sm" data-bind="options: $parent.editableDl.vehicle.models, value: $parent.editableDl.vehicle.selectedModel, optionsCaption: 'None'" size="5"></select>
                        </div>
                        <div class="col-xs-4">
                            <input class="form-control input-sm" type="text" data-bind="value: $parent.editableDl.vehicle.actualVariant" style="margin-bottom:2px;"/>
                            <select style="height: 100px;" class="form-control input-sm" data-bind="options: $parent.editableDl.vehicle.variants, value: $parent.editableDl.vehicle.selectedVariant, optionsCaption: 'None'" size="5"></select>
                        </div>
                    </div>
                </td>
                <td><select data-bind="options: $parent.editableDl.lower_age_ranges, optionsText: 'name', optionsValue: 'value', value: $parent.editableDl.lower_age_limit"></select></td>
                <td><select data-bind="options: $parent.editableDl.upper_limit_age_range, optionsText: 'name', optionsValue: 'value', optionsCaption: 'No Limit', value: $parent.editableDl.upper_age_limit"></select></td>
                <td><select data-bind="options: $parent.editableDl.lower_cc_ranges, optionsText: 'name', optionsValue: 'value', value: $parent.editableDl.lower_cc_limit"></select></td>
                <td><select data-bind="options: $parent.editableDl.upper_limit_cc_range, optionsText: 'name', optionsValue: 'value', optionsCaption: 'No Limit', value: $parent.editableDl.upper_cc_limit"></select></td>
                <td><select class="form-control input-sm" data-bind="options: $parent.editableDl.stateList, optionsCaption: 'Any', value: $parent.editableDl.state"></select></td>
                <td><select data-bind="options: $parent.editableDl.ncbList, optionsText: 'name', optionsValue: 'value', value: $parent.editableDl.ncb"></select></td>
                <td data-bind="text: rto_count"></td>
            </tr>
            <tr data-bind="if: $parent.dlList.selected() == $data">
                <td colspan="13">
                    <div class="row">
                        <div class="col-xs-5">
                            <select class="input-control" data-bind="options: $parent.rtoSelector.filteredRtos, optionsText: function(item) {
                                return item.name + ' (' + item.state + ')'
                            }, selectedOptions: $parent.rtoSelector.selectedRtos" multiple="true" size="10"></select>
                        </div>
                        <div class="col-xs-2">
                            <a class="pull-left btn btn-default" href="" data-bind="click: $parent.rtoSelector.shortlistRtos">&rarr;</a>
                            <a class="pull-right btn btn-default" href="" data-bind="click: $parent.rtoSelector.unshortlistRtos">&larr;</a>
                        </div>
                        <div class="col-xs-5">
                            <select class="input-control" data-bind="options: $parent.rtoSelector.shortlistedRtos, optionsText: function(item) {
                                return item.name + ' (' + item.state + ')'
                            }, selectedOptions: $parent.rtoSelector.selectedShortlistedRtos" multiple="true" size="10"></select>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <script src="{{STATIC_URL}}motor_product/global/lib/require/require.js" data-main="{{STATIC_URL}}motor_product/discountingAdmin/js/config"></script>

</body>
</html>
