{% extends "flatpages:base.html" %}
{% load static %}

{% block pagetitle %}<span class="nav-text-separator"></span>Product Failure{% endblock pagetitle %}


{% block pageheader %}
<div class="page-header-wrapper container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <img src="{% get_static_prefix %}global/img/error-icon-red.png" alt="Error Icon" style="width:150px;">
            <h1>Oops..sorry. <br>Looks like we are facing some problems.</h1>
            <p>Do not worry though. We have saved all the information you have entered, and you won't have to start all over again. We will figure out the issue and will get back to you shortly to help. Meanwhile, you can contact <strong>Amol</strong>, our in-house car insurance expert, on <strong>084228 01380</strong>.</p>
        </div>
    </div>
</div>
{% endblock pageheader %}


{% block head %}
<title>Motor Policy - Failure</title>
<link rel="shortcut icon" href="{% get_static_prefix %}img/favicon.ico" type="image/x-icon" />

{% endblock head %}









