<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coverfox Results</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}motor_product/css/buy-form.css">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}motor_product/inspection/css/list.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.datetimepicker.css" >
</head>
<body>
{% load i18n %}
    {% if perms.motor_product.change_inspection  %}

    <div class="search_form">
        <form action="." method="GET">
                {{ inspection_search_form.as_p }}
            <p><input type="submit" value="search"/></p>
        </form>
    </div>
    {% endif %}

    <div style="clear: both;"/>
    <section class="card-wrapper">
    {% for itype, inspections in data %}
        <h2>{{ itype }}</h2>
            {% for inspection in inspections %}
            <div class="card">
                <div class="card-innerwarapper">
                    <div class="ajax_form_container">
                        <div class="lightbox-outer"></div>
                        <div class="lightbox-inner">

                        </div>
                        <div class="lightbox-right">
                            <div class="close">Close</div>
                        </div>

                    </div>
                    <div class="card-left">
                        <div class="user-info">
                            <div class="user-info__name">{{inspection.transaction.customer_name}}</div>
                            <div class="user-info__car">
                                <i class="icn icn--car"></i>
                                <div class="user-info__cardata"><div>{{ inspection.transaction.quote.vehicle }}</div>
                                    <div>{{ inspection.transaction.vehicle_registration_number }}</div>
                                </div>
                            </div>

                        </div>
                        <div class="user-info">
                            <div class="user-info__number">
                                <i class="icn icn--phone"></i>
                                <div class="phonenum">{{ inspection.transaction.customer_phone_number }}</div>
                            </div>
                            <div class="user-info__address">
                                <i class="icn icn--address"></i>
                                <div class="address">{{ inspection.address }}, {{ inspection.agent.city.name }} </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-right">
                        <div class="order">
                            <div class="order__time">{{ inspection.scheduled_on|date:"D, d/m/Y"}}, <br />
                                <span>{{inspection.schedule_slot.start|date:"h:i a"}} - {{inspection.schedule_slot.end|date:"h:i a"}}</span>
                            </div>

                            <div class="order__status--completed">
                                <i class="icn icn--completed"></i>
                                {{ inspection.get_status_display }}
                            </div>
                            {% if inspection.get_callbacks %}
                            <div class="scheduled_callbacks">
                                <h4>Callback Scheduled</h4>
                                <div>
                                    {{ inspection.get_callbacks.call_time }}
                                </div>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                    <div style="clear: both"></div>
                    <div class="btn-wrapper">
                        {% if perms.motor_product.change_inspection and inspection.status != 'CANCELLED' %}
                            {% if inspection.status == 'PENDING' %}
                                <a class="btn orange ajax-form" href="{% url 'inspection_callback' inspection.uuid %}"> Callback</a>
                                <a class="btn orange ajax-form" href="{% url 'inspection_approval' inspection.uuid 'cancel' %}">Cancel inspection</a>
                                <a class="btn orange ajax-form" href="{% url 'inspection_approval' inspection.uuid 'reschedule' %}">Reschedule inspection</a>
                            {% else %}
                                <a class="btn orange" href="{% url 'inspection_details' inspection.uuid %}"> Check documents</a>
                            {% endif %}

                            {% if inspection.status == 'PAYMENT_DONE' %}
                                <a class="btn orange" href="{% url 'inspection_details' inspection.uuid %}"> Check payment</a>
                            {% endif %}

                            {% if inspection.status != 'PENDING' and inspection.status != 'DOCUMENT_UPLOADED' %}
                                <a class="btn orange" target="_blank" href="{% url 'generate_inspection_report' inspection.uuid  %}">View Report</a>
                            {% endif %}
                        {% endif %}
                        {% if inspection.status == 'POLICY_ISSUED' %}
                            <a class="btn approve" href="/user/download-document/{{ inspection.transaction.transaction_id }}/motor/policy_document/">Download Policy</a>
                        {% else %}
                            <a class="btn approve" href="{{ inspection.transaction.proposal_form_link }}">Proposal form</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        <hr/>
        {% endfor %}
    </section>

    {% if perms.motor_product.change_inspection %}
    <div class="pagination">
        <span class="step-links">
            {% if pages.has_previous %}
            <a href="?{{ req.urlencode }}&page={{ pages.previous_page_number }}">&laquo; Previous</a>&nbsp;&nbsp;
            {% endif %}

            <span class="current">
                Page {{ pages.number }} of {{ pages.paginator.num_pages }}.
            </span>

            {% if pages.has_next %}
            &nbsp;&nbsp;<a href="?{{ req.urlencode }}&page={{ pages.next_page_number }}">Next &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}

</body>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery-ui-1.8.9.custom.css">
    <script src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.datetimepicker.full.min.js"></script>
    <script src="{{STATIC_URL}}motor_product/inspection/js/inspection_dashboard.js"></script>
</html>
