{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <title>Coverfox - Schedule Inspection</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

    <link href="{{STATIC_URL}}global/css/bootstrap-3.3.4.min.css" rel="stylesheet" >
    <link href="{{STATIC_URL}}global/css/footer_2_mini.css" rel="stylesheet" >
    <link href="{{STATIC_URL}}css/motor-inspection-screen.css" rel="stylesheet" >
    <style type="text/css">
        #bounding-box-question #time-widget .time-table td.active{
            background-color: #ff9f6e;
            color:#FFF;
        }
    </style>
    {% include "core/remove_header_in_webview.html" %}
</head>
<body>
<header>

    <div class="header-wrapper fixed-top">
        <!--div class="hamburger-menu">
        </div-->
        <div class="logo">
            <a href="/"><img src="{{STATIC_URL}}global/img/logos/cf-white-orange-h71.png" alt="Coverfox.com"></a>
        </div>
        <div class="page-title hidden-xs" >Schedule inspection</div>
        <div class="right-item pull-right hidden-xs" >Call us (Toll Free) for assistance: <strong>{{settings.CAR_TOLL_FREE}}</strong></div>
    </div>
</header>
<div class="container" id="mainView">
    <div class="bounding-box">
        <h3>Schedule your inspection</h3>
        <div class="infmn-card">
            <div data-bind="visible: message()==''">
            {% if success %}
                <div class="form-hdr clearfix">
                    <div class="col-sm-6">
                        <p>Select the city where you want to schedule the inspection</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="col-sm-12">
                            <select class='form-control m-b-5' id="inspection_city" data-bind="value:ins_area,event:{change:changeCity}">
                                <option selected disabled hidden value=''>Select Inspection place</option>
                                {% for id,city in agent_cities.items %}
                                    <optgroup data-value="{{ city.id }}" label="{{ city.name }}">
                                        {% for area in city.areas %}
                                            <option value="{{ area.id }}">
                                                {{ area.name }}
                                            </option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                                <option value="other">
                                    Other
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" style="display:none;" id="id_city_name" type="text" data-bind="visible:ins_area()=='other'" placeholder="Enter City"/>
                    </div>
                    </div>

                </div>
                <div id="widget-box">
                    <div class="row">
                        <div class="col-md-12">

                            <div id="time-widget" data-bind="visible: show_widget()" style="display:none;">
                                <p>
                                    We value your time and privacy.<br />
                                    Select a time interval to let us know a good time to connect with you
                                </p>
                                <table class="table table-striped table-bordered time-table">
                                    <tbody data-bind="foreach: daily_slots">
                                    <tr>
                                        <th data-bind="text:day"></th>
                                        <!-- ko foreach: slots -->
                                        <td data-bind="text: slot.start_time + '-' + slot.end_time, css:{ active: slot.selected(), frozen: !slot.available()}, click:function(){$root.book_slot($data, $parent.day);}"></td>
                                        <!-- /ko -->
                                    </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <input data-bind="checked:fav_slot" type="checkbox" id="fav_slot"><span>Unable to find favorable slot</span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-8">
                            <div id="number-widget">
                                <div class="form-group">
                                    <label class="control-label" for="inputAddress">Enter the address where we can inspect your vehicle</label>
                                    <div class="form-group">
                                        <textarea style="max-width:100%;max-height:100px;" id="inputAddress" class="form-control" placeholder="Inspection Address"  data-bind="value: form_data().address, valueUpdate: 'keyup'"></textarea>
                                    </div>
                                </div>
                                <div style="margin: 30px 0px 20px 0px;" data-bind="css:{'hidden':submitted}">
                                    <button class="btn btn-lg btn--orange" data-bind="click: submit_form, enable:form_valid()||fav_slot()">Ok, get in touch with me</button>
                                    <br/>
                                    <!-- ko if:!fav_slot() -->
                                    <!-- ko foreach:global_errors -->
                                    <span class="error-field" data-bind="text: $data"></span>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </div>
                                <div class="complete hide" data-bind="if:submitted">
                                    <div class="highlight">Thanks!</div>
                                    We'll call you as promised
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="message" data-bind="text: message, visible: message()!=''" style="display:none;"></div>
            {% else %}
                <div class="message">
                    {{ message }}
                </div>
            {% endif %}

        </div>
    </div><!--/.bounding-wrapper -->
</div>
{% include "flatpages:footer_2_mini.html" %}

<script src="{{STATIC_URL}}motor_product/global/lib/knockout/knockout-3.2.0.js"></script>
<script src="{{STATIC_URL}}motor_product/global/lib/jquery/jquery-1.11.0.js"></script>
<script src="{{STATIC_URL}}motor_product/global/lib/jquery/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var AUTOCOMPLETE_URL = '{%url "get_city_autocomplete"%}';
    var MOBILE = "{{ transaction.raw.user_form_details.cust_phone }}";
    var ADDRESS = "{{address|escapejs}}";
    var TRANSACTION_ID = "{{ transaction.transaction_id }}";
    var SUCCESS = {% if success %}true{% else %} false {% endif %};
    var MESSAGE = "{{message}}";
</script>
{% if success %}
    <script type="text/javascript" src="{{STATIC_URL}}motor_product/inspection/js/inspection_form.js"></script>
{% endif %}
</body>
</html>
