<div class="well col-md-12 inspection" id="inspections">
    <h4>Inspection Report</h4>
    <form action="" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="row">
            {{ form.id }}
                <div class="col-md-7">
                    {{ form.inspection.as_hidden }}
                    {{ form.part }}
                </div>
                <div class="col-md-5">
                    {{ form.status }}
                </div>
            </div>
        {% endfor %}
        <br/>

    </form>
</div>
