<div>
    <form method="post" action="{% url 'inspection_approval' inspection.uuid status %}" class="ins_cancel">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.errors }}
        <input type="submit" class="btn orange submit" value="Submit">
    </form>
</div>
