<div class="col-md-12">
    <h4>Add Document</h4>
    <form action="{% url 'add_inspection_document' inspection_id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {{ form.as_p }}
        <br/>
        <input type="submit">
    </form>
</div>
