<html>
  <head>
   <!-- <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
      <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>  -->
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script>
      $(function() {
      $( "#datepicker1" ).datepicker({
          changeMonth: true,
          changeYear: true,
          yearRange: "1900:2050"
        });
      });
      $(function() {
      $( "#datepicker2" ).datepicker({
          changeMonth: true,
          changeYear: true,
          yearRange: "1900:2050"
        });
      });
      $(function() {
      $( "#datepicker3" ).datepicker({
          changeMonth: true,
          changeYear: true,
          yearRange: "1900:2050"
        });
      });
      $(function() {
      $( "#datepicker4" ).datepicker({
          changeMonth: true,
          changeYear: true,
          yearRange: "1900:2050"
        });
      });
      $(function() {
      $( "#datepicker5" ).datepicker({
          changeMonth: true,
          changeYear: true,
          yearRange: "1900:2050"
        });
      });
      $(function() {
      $( "#datepicker6" ).datepicker({
          changeMonth: true,
          changeYear: true,
          yearRange: "1900:2050"
        });
      });
      function hideElements()
      {
        document.getElementById("hide_display").style.display = "none";
      }
      function showElements()
      {
        document.getElementById("hide_display").style.display = "block";
      }
      </script>
      <style type="text/css">
        .contblock{padding-left:95px;}
        .regblock{padding-left:332px;}
        .ui-datepicker { 
          margin-top: -263px;
          z-index: 1000;
        }
      </style>
  </head>
  <body style="width:800px; margin:0 auto; padding:0;">
       <!--<p>Date: <input type="text" id="datepicker"></p> -->
    <div><h1 style="align:center; padding-top:25px; padding-bottom:25px; background-color:orange;"><span style="margin-left:230px;">L & T Offline Form</span></h1></div>
    <div style="width:100%;">
      <div style="width:100%;">
       <form action="." method="POST">
       <table style="width:100%;">
       {% if error %}
        <h1 style="color:red;">{{errmsg}}</h1>
       {% endif %}
        <tr><td>Proposal For : </td>
        <td><select name="proposal_for">
          <option value="Rollover">Rollover</option>
          <option value="New">New</option>
        </select></td></tr>
        <tr><td>Customer Type : </td>
        <td><select name="cust_type">
          <option value="Individual">Individual</option>
          <option value="Corporate">Corporate</option>
        </select></td></tr>
        <tr><td>Insured Title : </td>
        <td><select name="insured_title">
          <option value="Mr">Mr</option>
          <option value="Ms">Ms</option>
          <option value="Mrs">Mrs</option>
          <option value=""></option>
        </select></td></tr>
        <tr><td>Insured First Name : </td><td><input type="text" name="cust_first_name"></td></tr>
        <tr><td>Insured Middle Name : </td><td><input type="text" name="cust_middle_name"></td></tr>
        <tr><td>Insured Last Name : </td><td><input type="text" name="cust_last_name"></td></tr>
        <tr><td>Gender : </td>
        <td><select name="cust_gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select></td></tr>
        <tr><td>Date Of Birth : </td><td><input type="text" name="cust_dob" id="datepicker1"></td></tr>
        <tr><td>Father's Name : </td><td><input type="text" name="cust_father_name"></td></tr>
        <tr><td>House No : </td><td><input type="text" name="add_house_no"></td></tr>
        <tr><td>Building Name : </td><td><input type="text" name="add_building_name"></td></tr>
        <tr><td>Street Name : </td><td><input type="text" name="add_street_name"></td></tr>
        <tr><td>Landmark : </td><td><input type="text" name="add_landmark"></td></tr>
        <tr><td>City : </td><td><input type="text" name="add_district"></td></tr>
        <tr><td>State : </td><td><input type="text" name="add_state"></td></tr>
        <tr><td>Pincode : </td><td><input type="text" name="add_pincode"></td></tr>
        <tr><td>Mobile No : </td><td><input type="text" name="cust_phone"></td></tr>
        <tr><td>Email Id : </td><td><input type="text" name="cust_email"></td></tr>

        <tr><td>Registration address same as contact address ?</td><td><input type="radio" name="same_contact_reg_add" onclick="hideElements();" value="1">Yes &nbsp;<input type="radio" name="same_contact_reg_add" onclick="showElements();" value="0" checked>No</td></tr>
        </table>
      </div>
      <div id="hide_display" style="width:100%; display:block;">
        <table style="width:100%;">
        <tr><td>Registration Address : </td><td class="regblock"><input type="text" name="vehicle_reg_add"></td></tr>
        <tr><td>Registration City : </td><td class="regblock"><input type="text" name="reg_city_name"></td></tr>
        <tr><td>Registration State : </td><td class="regblock"><input type="text" name="reg_state"></td></tr>
        <tr><td>Registration Pincode : </td><td class="regblock"><input type="text" name="reg_pincode"></td></tr>
        </table>
      </div>
      <div style="width:100%;">
        <table style="width:100%;">
        <tr><td>Policy Start Date : </td><td><input type="text" name="policy_incep_date" id="datepicker2"></td></tr>

        <tr><td>Vehicle make : </td><td><input type="text" name="vehicle_make"></td></tr>
        <tr><td>Vehicle model : </td><td><input type="text" name="vehicle_model"></td></tr>
        <tr><td>Vehicle variant : </td><td><input type="text" name="vehicle_variant"></td></tr>

        <tr><td>Registartion No : </td><td><input type="text" name="vehicle_reg_no"></td></tr>
        <tr><td>Registartion Date : </td><td><input type="text" id="datepicker3" name="RegistrationDate"></td></tr>
        <tr><td>RTO location : </td><td><input type="text" name="rto_location"></td></tr>
        <tr><td>Manufacturing Month/Year (mm/yy) : </td><td><input type="text" name="manuf_month_year"></td></tr>
        <tr><td>Engine No : </td><td><input type="text" name="vehicle_engine_no"></td></tr>
        <tr><td>Chasis No : </td><td><input type="text" name="vehicle_chassis_no"></td></tr>
        <tr><td>CC/HP/GVW : </td><td><input type="text" name="Cc"></td></tr>
        <tr><td>Seating Capacity : </td><td><input type="text" name="SeatingCapacity"></td></tr>
        <tr><td>IDV : </td><td><input type="text" name="Idv"></td></tr>
        <tr><td>IDV Electrical : </td><td><input type="text" name="IDVElectrical"></td></tr>
        <tr><td>IDV Non-Electrical : </td><td><input type="text" name="IDVNonElectrical"></td></tr>
        <tr><td>IDV BI Fuel/CNG/LPG Kit : </td><td><input type="text" name="BIFuelKitValue"></td></tr>

        <tr><td>Total Premium : </td><td><input type="text" name="total_premium"></td></tr>
        <tr><td>Depreciation Cover : </td>
        <td><select name="dep_cover">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select></td></tr>
        <tr><td>Return to Invoice : </td>
        <td><select name="return_to_invoice">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select></td></tr>
        <tr><td>NCB Protection : </td>
        <td><select name="ncb_protection">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select></td></tr>
        <tr><td>Drive Through Protection : </td>
        <td><select name="drive_thru_protect">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select></td></tr>
        <tr><td>Key Replacement : </td>
        <td><select name="key_replace">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select></td></tr>
        <tr><td>Cash Allowance : </td>
        <td><select name="cash_allow">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select></td></tr>

        <tr><td>Nominee Name : </td><td><input type="text" name="nominee_name"></td></tr>
        <tr><td>Nominee Age : </td><td><input type="text" name="nominee_age"></td></tr>
        <tr><td>Relationship : </td><td><input type="text" name="nominee_relation"></td></tr>

        <tr><td>Unnamed PA : </td>
        <td><select name="CoverUnnamedFlagVORef">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select></td></tr>
        <tr><td>Sum Insured : </td><td><input type="text" name="sum_insured"></td></tr>
        <tr><td>Cover Legal Liability for paid drivers : </td>
        <td><select name="legal_liability">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select></td></tr>
        <tr><td>Voluntry Excess/Deductible : </td>
        <td><select name="vol_excess">
          <option value="0">0</option>
          <option value="2500">2500</option>
          <option value="5000">5000</option>
          <option value="7500">7500</option>
          <option value="15000">15000</option>
        </select></td></tr>
        <tr><td>Financier Name : </td><td><input type="text" name="financier"></td></tr>
        <tr><td>Previous Year NCB : </td><td><input type="text" name="prev_year_ncb"></td></tr>
        <tr><td>Previous Year Policy or Covernote No : </td><td><input type="text" name="prev_year_policy_number"></td></tr>
        <tr><td>Previous Year Insurer : </td><td><input type="text" name="prev_year_ins_comp"></td></tr>
        <tr><td>Previous Year Policy Start date : </td><td><input type="text" id="datepicker4" name="prev_year_pol_startdate"></td></tr>
        <tr><td>Previous Year Policy End date : </td><td><input type="text" id="datepicker5" name="prev_year_pol_enddate"></td></tr>
        <tr><td>Previous Year Insurer Address : </td><td><input type="text" name="prev_year_ins_district"></td></tr>
        <tr><td>Previous Year Insurer City : </td><td><input type="text" name="prev_year_ins_city"></td></tr>
        <tr><td>Previous Year Insurer State : </td><td><input type="text" name="prev_year_ins_state"></td></tr>
        <tr><td>Previous Year Insurer State Pincode : </td><td><input type="text" name="prev_year_ins_pincode"></td></tr>
        <tr><td>CMS Slip _Number/ ATOM_Transaction No/CC App. No : </td><td><input type="text" name="transaction_num"></td></tr>
        <tr><td>CMS_Date/Transaction Date : </td><td><input type="text" name="transaction_date" id="datepicker6"></td></tr>
        <tr><td>Premium Amount : </td><td><input type="text" name="premium_amount"></td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td></td><td><input type="submit" value="Submit"></td></tr>
       </table>
      </div>
       </form>
    </div>
  </body>
</html>
