<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <title>Coverfox - Car Insurance</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">


    <link href="{{STATIC_URL}}motor_product/mobile/assets/css/bootstrap-grid.css" rel="stylesheet">
    <link href="{{STATIC_URL}}motor_product/mobile/assets/css/style.css" rel="stylesheet">
    <script src="//use.typekit.net/mfw7pxf.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    {% include "core/remove_header_in_webview.html" %}

    {% if tparty != None %}
        <link href="{{STATIC_URL}}motor_product/css/mobile_{{tparty}}.css" rel="stylesheet" >
    {% endif %}
    <!--link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'-->
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--[if IE ]>
        <script type="text/javascript" src="{{STATIC_URL}}js/json2.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var AFFILIATE = false;
        {% if request.COOKIES.utm_campaign == 'Affiliate_Email_VD_Car' %}
            AFFILIATE = true;
            // console.log("AFFILIATE");
        {% endif %}
        var TPARTY = {% if tparty != None %}"{{tparty}}"{% else %}undefined{% endif %};
        {% if view.vehicle_type == 'fourwheeler' %}
        var QUOTE_SHARE_URL = '{{settings.SITE_URL}}{%url "quote_share_fourwheeler" "quote_id"%}';
        {% else %}
        var QUOTE_SHARE_URL = '{{settings.SITE_URL}}{%url "quote_share_twowheeler" "quote_id"%}';
        {% endif %}
        var VEHICLE_TYPE = "{{view.vehicle_type}}";
        {% if view.vehicle_type == 'fourwheeler' %}
            var CAR_TOLL_FREE = "{{settings.CAR_TOLL_FREE}}";
        {% else %}
            var CAR_TOLL_FREE = "{{settings.BIKE_TOLL_FREE}}";
        {% endif %}
        var IS_USER_LOGGED_IN = {{user.is_authenticated|yesno:"true,false"}};
        var CSRF_TOKEN = "{{csrf_token}}";
        var IS_ADMIN = {% if is_admin %}true{% else %}false{% endif %};
        var dataLayer = [];
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>

    {%if settings.PRODUCTION%}
        <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
        <script>
            Raven.config('https://b73a2dd7e1714ae3aab0e33fd663b391@app.getsentry.com/33123', {
            }).install();
        </script>
    {%endif%}

    <!-- Start Visual Website Optimizer Asynchronous Code -->
    <script type='text/javascript'>
        var _vwo_code=(function(){
            var account_id=113955,
                    settings_tolerance=2000,
                    library_tolerance=2500,
                    use_existing_jquery=false,
            // DO NOT EDIT BELOW THIS LINE
                    f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
    </script>
    <!-- End Visual Website Optimizer Asynchronous Code -->

</head>
<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MR4FRN');</script>
  <!-- End Google Tag Manager -->

  <script>
    // Safari, in Private Browsing Mode, looks like it supports localStorage but all calls to setItem
    // throw QuotaExceededError. We're going to detect this and just silently drop any calls to setItem
    // to avoid the entire page breaking, without having to do a check at each usage of Storage.
    if (typeof localStorage === 'object') {
        try {
            localStorage.setItem('localStorage', 1);
            localStorage.removeItem('localStorage');
        } catch (e) {
            Storage.prototype._setItem = Storage.prototype.setItem;
            Storage.prototype.setItem = function() {};
        }
    }
  </script>
<!-- affiliates iframe -->
{% if affiliate_url %}
    <div hidden>
        <iframe src="{{ affiliate_url }}" scrolling="no" frameborder="0" width="1" height="1"></iframe>
    </div>
{% endif %}

{%if tparty != None %}
    <div style="background-color: rgb(253, 253, 169); color: #8C8C8C; padding: 4px 15px;">
        Online comparison and sale of Insurance products on this portal is powered by <strong>Coverfox Insurance Broking</strong>
    </div>
{% endif %}

{% if request.GET.utm_source == 'justdial' %}
    <link href="{{STATIC_URL}}global/css/just-dial/jd-header.css" rel="stylesheet">
    <link href="{{STATIC_URL}}motor_product/mobile/assets/css/jd-style.css" rel="stylesheet">
    <section class="jd-header" style="margin-bottom:0px;">
        <div class="innercont">
            <div class="logocnt" title="JustDial Insurance">
                <a href="#" alt="Justdial - Local Search Engine">
                    <span class="bklg"></span>
                </a>
            </div>
        </div>
        <div class="tpclr_new grid_full">
            <div class="container">
            </div>
        </div>
        <div class="btmblk grid_full"></div>
    </section>
{% endif %}
<div data-bind="router">
</div>

<script src="{{STATIC_URL}}motor_product/build/common.{{settings.WEBPACK_ASSETS_HASH}}.js"></script>
<script src="{{STATIC_URL}}motor_product/build/mobile.{{settings.WEBPACK_ASSETS_HASH}}.bundle.js"></script>


</body>
</html>
