{% extends "flatpages:base.html" %}

{% block pagetitle %}<span class="nav-text-separator"></span>Offline motor policy{% endblock pagetitle %}


{% block pageheader %}
<div class="page-header-wrapper container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Thanks! We have saved your information.</h1>
            <p> <strong>Amol</strong>, our in-house car insurance expert will get in touch with you shortly for the further process. Your policy will be issued within 48 hours. Meanwhile, you can contact Amol on <strong>084228 01380</strong>.</p>
        </div>
    </div>
</div>
{% endblock pageheader %}


{% block head %}
<title>Motor Policy - Offline</title>
<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />

{% endblock head %}



