<head>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/selectivity-full.min.css">
	<style type="text/css">
	.widget{
		width: 300px;
	    height: 250px;
	    border: 1px solid #e4e4e4;
	    text-align: center;
	    padding: 25px 20px;
	    border-radius: 2px;
	    font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
	    background: #efeff4;
	}
	.widget,.widget * {
		box-sizing:border-box;
	}
	.widget__logo{
		width:140px;
		height: 29px;
    	display: inline-block;
    	margin-bottom: 10px;
	}
	.widget__label{
		color: rgba(49,68,81,0.70);
    	font-size: 12px;
    	text-transform: uppercase;
    	margin: 8px 0;
	}
	.widget__label--big{
		text-transform: none;
    	color: #314451;
    	font-size: 16px;
	}
	.btn{
		font-size: 16px;
		padding:10px 15px;
		border-radius: 3px;
		transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
		cursor: pointer;
	}
	.btn--orange{
	background: #ff704c;
	color:#fff;
	border: 1px solid rgb(255, 92, 50);
	height: 40px;
	}
	.btn--orange:hover, .btn--orange:active,.btn--orange:focus{
		background:rgb(255, 92, 50);
		text-decoration: none;
		color:#fff;
	}
	.selectivity-input {
		width: 100%;
	}
	.selectivity-input.open .selectivity-dropdown{
		margin-top:-125px;
	}
	select,.selectivity-single-select {
		border: 1px solid #e4e4e4;
		margin-top: 5px;
    	margin-bottom: 15px;
		width: 100%;
		display: block;
    	background: #FFF;
    	cursor: pointer;
    	height: 40px;
    	padding: 5px;
    	border-radius: 3px;
    	position: relative;
	}
	.selectivity-single-select:before {
		content: '';
		display: block;
		border-width: 5px;
		border-style: solid;
		border-color: #666 transparent transparent transparent;
		position: absolute;
		top:18px;
		right:10px;
	}
	.selectivity-single-result-container {
		top:10px;
		text-align: left;
	}
	.selectivity-single-selected-item {
		color: #314451;font-size: 14px;
	}
	.selectivity-single-select-input {
		display: none;
	}
	.selectivity-results-container{
		text-align: left;
		height: 150px;
		line-height: 20px;
		font-size: 12px;
		background:#fff;
		border:#eee;
	}
	</style>
</head>
<body>
	<div class="widget">
		<a href="/">
			<img 
				class="widget__logo"
				data-cms-attrs="src:logo_src" 
				src="{{ STATIC_URL }}global/img/logos/cf-dark-orange-h71.png" 
				alt="Coverfox.com"/>
		</a>
		<p class="widget__label">Compare and buy</p>
		<p class="widget__label widget__label--big">Car Insurance Online</p>
		<select id="cbModel" class="select	"></select>
		<div class="btn btn--orange">Buy Now</div>
	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script>
<script src="{{STATIC_URL}}js/motor/utils/selectivity-full.min.js"></script>
<script src="{{STATIC_URL}}/motor_product/amd-js/models/overdrive-widget/overdrive-widget.js"></script>