{% extends "layout/base.html" %}

{% block pagetitle %}<span class="nav-text-separator"></span>Transaction Successful!{% endblock pagetitle %}

{% block pageheader %}
    <div class="page-header-wrapper container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img src="{{STATIC_URL}}global/img/success-icon-green.png" alt="Success Icon" style="width:150px;">
                <h1>Your transaction was successful!</h1>
                {% if transaction.policy_document or transaction.insured_details_json.policy_url %}
                    <p>You can download the original policy document from the link given below.</p>
                {% else %}
                    <p>You will receive the original policy document through email within {{ tat }}.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock pageheader %}

{% block head %}
    <title>Motor Policy - Successful!</title>
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
{% endblock head %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}motor_product/css/payment_style.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/payment-success.css">
{% endblock css %}

{% block main %}
    <section>
        <div class="container">
            <div class="row">
                <div class="success-header">
                    <ul>
                        <li>
                            Payment successful
                            <span>
                                Your 
                                {% ifequal vehicle_type 'twowheeler' %}
                                    bike
                                {% else %}
                                    car
                                {% endifequal %}
                            is insured</span>
                        </li>
                    </ul>
                </div>
                <div class="success-card">
                    <div class="clearfix">
                        <div class="col-sm-7 pnone">
                            <img class="c-logo" src="{{STATIC_URL}}motor_product/desktopMVP/app/assets/img/insurer/{{transaction.insurer.slug}}.png" alt="">
                            <ul class="success-card__list mbnone">
                                {% if transaction.policy_number %}
                                <li>
                                    <div class="success-card__heading">
                                        {% ifequal vehicle_type 'twowheeler' %}
                                            bike
                                        {% else %}
                                            car
                                        {% endifequal %}
                                        policy number
                                    </div>
                                    {{ transaction.policy_number }}
                                </li>
                                {% endif %}

                                {% if transaction.policy_start_date and  transaction.policy_end_date %}
                                <li>
                                    <div class="success-card__heading">Validity</div>
                                    {{transaction.policy_start_date|date:"d M, y"}} - {{transaction.policy_end_date|date:"d M, y"}}
                                </li>
                                {% endif %}
                            </ul>
                            <div class="row">
                                {% if transaction.premium_paid %}
                                    <div class="col-sm-6 prnone">
                                        <ul class="success-card__list mnone">
                                            <li>
                                                <div class="success-card__heading">Premium Paid</div>
                                                {{ transaction.premium_paid }}
                                            </li>
                                        </ul>
                                    </div>
                                {% endif %}
                                {% if transaction.transaction_id %}
                                    <div class="col-sm-6 prnone">
                                        <ul class="success-card__list mnone">
                                            <li>
                                                <div class="success-card__heading">Transaction Id</div>
                                                CFOX{{transaction.id}}
                                            </li>
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-5 pnone">
                            {% if transaction.policy_document %}
                                <a href="{{transaction.policy_document.url}}" class="w--button w--button--empty w--button--thin action-link">Download Policy</a>  
                                {% endif %}
                                <a id="RSAPolicyLink" href="" class="hide w--button w--button--empty w--button--thin action-link">Download RSA-Policy</a>
                        </div>
                    </div>
                </div>
                <div class="payment-details clearfix">
                    <div class="col-md-6">
                        <div class="payment-details__tophead">
                            vehicle Details
                        </div>
                        <div class="payment-details__middlehead">
                            {{transaction.quote.vehicle}}
                            <div class="text-mute">
                                <span class="uppercase">
                                    {{transaction.vehicle_registration_number }}
                                </span> <br/>
                                {% if transaction.quote.is_dep %} Zero Dep {% endif %} 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                       <div class="payment-details__tophead">
                            We will contact you on
                        </div>
                        <div class="payment-details__middlehead">
                            +91 {{transaction.customer_phone_number}}  <br/>
                            {{transaction.customer_email}}
                        </div>
                        {% if address_details.add_same == '0' %}
                            <div class="payment-details__tophead">
                                Communication Address:
                            </div>
                        {% endif %}
                        <div class="payment-details__middlehead text-mute">
                            {% if address_details.add_house_no %}
                                {{address_details.add_house_no}}
                            {% endif %}
                            {% if address_details.add_building_name %}
                                {{address_details.add_building_name}}
                            {% endif %}
                            {% if address_details.add_street_name %}
                                {{address_details.add_street_name}}
                            {% endif %}
                            {% if address_details.add_landmark %}
                                {{address_details.add_landmark}}
                            {% endif %}
                            {% if address_details.add_city %}
                                <span>,</span>
                                {{address_details.add_city}}
                            {% endif %}
                            {% if address_details.add_district %}
                                {{address_details.add_district}}
                            {% endif %}

                            {% if address_details.add_state %}
                                <span>,</span>
                                {{address_details.add_state}}
                            {% endif %}

                        </div>
                        {% if address_details.add_same == '0' %}
                        <div class="payment-details__tophead">Registration Address:</div>
                        <div class="payment-details__middlehead text-mute">
                            {% if address_details.reg_add_house_no %}
                                {{address_details.reg_add_house_no}}
                            {% endif %}
                            {% if address_details.reg_add_building_name %}
                                {{address_details.reg_add_building_name}}
                            {% endif %}
                            {% if address_details.reg_add_street_name %}
                                {{address_details.reg_add_street_name}}
                            {% endif %}
                            {% if address_details.reg_add_landmark %}
                                {{address_details.reg_add_landmark}}
                            {% endif %}
                            {% if address_details.reg_add_city %}
                                <span>,</span>
                                {{address_details.reg_add_city}}
                            {% endif %}
                            {% if address_details.reg_add_district %}
                                {{address_details.reg_add_district}}
                            {% endif %}
                            {% if address_details.reg_add_state %}
                                <span>,</span>
                                {{address_details.reg_add_state}}
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock main %}

{% block footer %}
    {% include "components/footer-small.html" %}
{% endblock %}

{% block extrajs %}
    {% ifequal vehicle_type 'twowheeler' %}
        <!-- Google Code for Sale Conversion Page -->
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 948562294;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "778WCJaMgFsQ9tKnxAM";
            var google_remarketing_only = false;
            /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;position:absolute;" alt="" src="//www.googleadservices.com/pagead/conversion/948562294/?label=778WCJaMgFsQ9tKnxAM&amp;guid=ON&amp;script=0"/>
            </div>
        </noscript>
    {% endifequal %}


    <script type="text/javascript">
        // Load global variable as loaded. Do not wait for document.ready
        (function(){
            window.CSRF_TOKEN = "{{csrf_token}}";
            window.VEHICLE_TYPE = "{{vehicle_type}}";

            // Footer section has hide class and this is to remove this class
            var footer = document.getElementsByClassName("reverse-stashable")[0];

            footer.className = [].filter.call(footer, function(c){return c!== "hide";}).join(" ");
        })()

        window.onload = function(){
            var TRANSACTION_ID = "{{transaction.transaction_id}}";
            var product_id = "{{ transaction.insurer.title }}";
            var premium = "{{ transaction.premium_paid }}";
            var insurance_type = "{{ transaction.quote.is_new|yesno:'New,Renew' }}";
            var mobile_no = "{{ transaction.proposer.mobile }}";
            var CalculatedIDV = "{{ transaction.raw.quote_response.calculatedAtIDV }}";
            var ga_category = 'MOTOR';
            if (VEHICLE_TYPE != 'fourwheeler'){
                ga_category = 'BIKE';
            }

            dataLayer.push({'event': 'payment_success'});
            dataLayer.push({
                'event': 'GAEvent',
                'eventCategory': ga_category,
                'eventAction': 'PaymentSuccess',
                'eventLabel': '{{ vehicle_type }}',
                'eventValue': 0
            });
            if(window.dataLayer) {
                window.dataLayer.push({
                    'transaction_id': TRANSACTION_ID,
                    'vizury_category': ga_category,
                    'vizury_sub_category': VEHICLE_TYPE,
                    'po_name': product_id,
                    'po_price': premium
                });
                window.dataLayer.push({
                    'event': 'vizury_transaction_success'
                });
            }
        };
    </script>
    <script src="{{STATIC_URL}}js/motor/payment/payment-success.js"></script>
{% endblock extrajs %}
