{% extends "flatpages:base.html" %}

{% block pagetitle %}<span class="nav-text-separator"></span>Payment Failure{% endblock pagetitle %}


{% block pageheader %}
<div class="page-header-wrapper container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <img src="{{STATIC_URL}}global/img/error-icon-red.png" alt="Error Icon" style="width:150px;">
            <h1>Oops..sorry. <br>Looks like we are facing some problems.</h1>
            <p>Do not worry though. Your money won't be debited. We will figure out the issue and will get back to you shortly to help. Meanwhile, you can contact <strong>Amol</strong>, our in-house car insurance expert, on <strong>084228 01380</strong>.</p>
        </div>
    </div>
</div>
{% endblock pageheader %}

{% block uncompressedjs %}
<script type="text/javascript">
     $(document).ready(function(){
        var TRANSACTION_ID = "{{transaction.transaction_id}}";
        var product_id = "{{ transaction.insurer.title }}";
        var premium = "{{ transaction.premium_paid }}";
        var insurance_type = "{{ transaction.quote.is_new|yesno:'New,Renew' }}";
        var VEHICLE_TYPE = "{{vehicle_type}}";
        var CalculatedIDV = "{{ transaction.raw.quote_response.calculatedAtIDV }}";
        var ga_category = 'MOTOR';
        if (VEHICLE_TYPE != 'fourwheeler'){
            ga_category = 'BIKE';
        }

        //  MixPanel Event Triggering
        // mixpanel.track("Car Payment Faliure",{
        //     'Insurance Type': insurance_type,
        //     'Policy Name':product_id,
        //     'IDV':CalculatedIDV,
        //     'Premium':premium,
        //     'Failure type':'Payment Failure',
        // });

    });
</script>
{% endblock uncompressedjs %}

{% block head %}
<title>Motor Policy - Failure</title>
<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />

{% endblock head %}

<script type="text/javascript">
        $(document).ready(function(){
            var TRANSACTION_ID = "{{transaction.transaction_id}}";
            var product_id = "{{ transaction.insurer.title }}";
            var premium = "{{ transaction.premium_paid }}";
            var mobile_no = "{{ transaction.proposer.mobile }}";
            var VEHICLE_TYPE = "{{vehicle_type}}";
            var ga_category = 'MOTOR';
            if (VEHICLE_TYPE != 'fourwheeler'){
                ga_category = 'BIKE';
            }
        });
</script>
