{% extends "flatpages:base.html" %}

{% block pageheader %}
<div class="page-header-wrapper container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="spinner" >
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
            <h1>Please wait while your transaction is being processed. Do not press the back/forward on your browser.</h1>
        </div>
    </div>
</div>
{% endblock pageheader %}

{% block css %}

<style>
body{
    background: #efeff4;
}
.footer-wrapper-products{
    display: none;
}

.footer-wrapper-a{
    display: none;
}

.footer-wrapper-b{
    display: none;
}
    .spinner {
      width: 100%;
      text-align: center;
    }

    .spinner > div {
      width: 30px;
      height: 30px;
      background-color: #fff;

      border-radius: 100%;
      display: inline-block;
      -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
      animation: bouncedelay 1.4s infinite ease-in-out;
      /* Prevent first frame from flickering when animation starts */
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }

    .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }

    @-webkit-keyframes bouncedelay {
      0%, 80%, 100% { -webkit-transform: scale(0.0) }
      40% { -webkit-transform: scale(1.0) }
    }

    @keyframes bouncedelay {
      0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
      } 40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
    }

</style>

{% endblock css %}


{% block head %}
<title>Transaction in Progress!</title>
<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />

{% endblock head %}


{% block content %}
    <form action="{{ data.redirect_url }}" method="post" name="post_data_form">
    {% for k,v in data.data.items %}
        <input type="hidden" name="{{ k }}" value="{{ v|safe }}">
    {% endfor %}
    </form>
{% endblock content %}


{% block uncompressedjs %}
    <script>
        $(function() {
            var send_form = document.forms.post_data_form;
            send_form.submit();
        });
    </script>
{% endblock uncompressedjs %}









