<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{{STATIC_URL}}js/cookies.js"></script>
    <script type="text/javascript">
        var quoteParameters = {{quote|safe}};
        
        // If you are looking at the following block please suggest a better way of doing it.

        var currentUrl =  window.location.href;
        var queryParams = window.location.search;
        var redirectUrl = "{{redirect_url|escapejs}}";
        
        if(redirectUrl.indexOf("/#results") > -1){
          redirectUrl = redirectUrl.replace("/#results", "?"+queryParams);
          redirectUrl+= "#results";  
        }
        
        var vehicleType = "{{vehicle_type}}";
        if (localStorage) {
            localStorage.setItem(vehicleType, JSON.stringify(quoteParameters));
        } else {
            for (var item in quoteParameters) {
                var value = quoteParameters[item];
                if (value != null && typeof(value) == "object") {
                    value = JSON.stringify(value);
                }
                Cookies.set(vehicleType + '_' + item, value);
            }
        }
        window.location.href = redirectUrl;
    </script>
</head>
<body>
</body>
</html>
