/* Color scheme definitions */
/* Color scheme definitions end */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* Widget form css */
.widget-form-box {
  max-width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px 20px 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  position: relative;
}
.widget-form-box .save-msg {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 5px 10px;
  color: #363636;
}
.widget-form-box .loading-msg {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #ffffff;
  padding: 100px 20px;
  font-size: 20px;
  color: #363636;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: none;
}
.widget-form-box .loading-msg.active {
  display: block;
}
.widget-form-box .loading-msg p {
  margin-top: 20px;
}
.widget-form-box .healthcare-options {
  margin-bottom: 15px;
}
.widget-form-box .healthcare-options label {
  font-weight: normal;
  color: rgba(39, 35, 35, 0.76);
  font-size: 15px;
  padding: 3px 0px;
  display: block;
  text-align: left;
}
.widget-form-box .healthcare-options label span {
  font-weight: 600;
}
.widget-form-box .healthcare-options label input {
  margin-right: 5px;
}
.widget-form-box .healthcare-options label.active {
  color: #363636;
  font-weight: 600;
}
.widget-form-box .healthcare-options ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 20px 0;
}
.widget-form-box .healthcare-options ul li {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.5);
  min-width: 120px;
  width: 30%;
  height: 65px;
  display: inline-block;
  margin-right: 0;
  position: relative;
  cursor: pointer;
}
.widget-form-box .healthcare-options ul li > span {
  position: absolute;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  left: 0;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 14px;
  line-height: 120%;
}
.widget-form-box .healthcare-options ul li > span small {
  color: #ff7b5e;
  text-transform: none;
  font-weight: 700;
  font-size: 12px;
  display: block;
  line-height: 16px;
}
.widget-form-box .healthcare-options ul li.selected {
  padding: 0;
  border: 1px solid #00b08a;
  background-color: #00d9aa;
  color: #fff;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
.widget-form-box .healthcare-options ul li.selected > span small {
  color: #ffffff;
}
.widget-form-box .cfinput-wrap .cfinput {
  margin-bottom: 10px;
  margin-top: 20px;
  background-color: #ffffff;
  text-align: left;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #999;
  padding: 10px;
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.widget-form-box .cfinput-wrap .cfinput .cfinput-club {
  float: left;
  width: 80%;
  padding-left: 10px;
}
.widget-form-box .cfinput-wrap .cfinput input {
  border: none;
  width: 100%;
  font-size: 12px;
  text-transform: none;
  letter-spacing: 1px;
}
.widget-form-box .cfinput-wrap .cfinput input:hover,
.widget-form-box .cfinput-wrap .cfinput input:focus,
.widget-form-box .cfinput-wrap .cfinput input:active {
  outline: none;
}
.widget-form-box .cfinput-wrap .cfinput label {
  color: #666;
  position: absolute;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  top: -18px;
  left: 0;
  font-weight: 400;
}
.widget-form-box h4 {
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: none;
  color: #363636;
  margin-top: 10px;
  margin-bottom: 10px;
}
.widget-form-box .gender-radio {
  text-align: left;
}
.widget-form-box .gender-radio label {
  font-weight: normal;
  color: rgba(39, 35, 35, 0.76);
  font-size: 15px;
  display: inline-block;
  margin-right: 15px;
}
.widget-form-box .gender-radio label input {
  margin-right: 5px;
}
.widget-form-box .gender-radio label.active {
  font-weight: 600;
  color: #363636;
}
.widget-form-box .gender-group {
  display: inline-block;
}
.widget-form-box .genderoption {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 8px 15px;
}
.widget-form-box .genderoption.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #00d9aa;
  border: 1px solid #48af75;
  color: #fff;
}
.widget-form-box .genderoption img {
  width: 20px;
  margin-right: 8px;
}
.widget-form-box .self-options {
  margin-top: 15px;
}
.widget-form-box .options ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.widget-form-box .options ul li {
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0px;
  color: rgba(39, 35, 35, 0.76);
  margin: 0 0 8px 0;
  text-align: left;
  max-width: 290px;
}
.widget-form-box .options ul li span {
  text-transform: none;
  letter-spacing: 0;
}
.widget-form-box .options ul li span.glyphicon-ok {
  background: #dadada;
  color: #dadada;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 4px 3px;
  margin-right: 10px;
  display: inline-block;
}
.widget-form-box .options ul li span.age {
  display: none;
  background: transparent;
}
.widget-form-box .options ul li span.age select.has-error {
  color: #ff6127;
}
.widget-form-box .options ul li span.age select {
  background: #ffffff;
  border: 1px solid #dadada;
  width: 100%;
  padding: 2px 10px;
  font-size: 13px;
  color: #363636;
  line-height: 1;
  height: 26px;
  cursor: pointer;
  text-overflow: '';
  text-indent: .1px;
  text-transform: uppercase;
  position: relative;
  z-index: 30;
}
.widget-form-box .options ul li label {
  font-weight: normal;
  font-size: 15px;
}
.widget-form-box .options ul li.selected {
  color: #363636;
}
.widget-form-box .options ul li.selected span.glyphicon-ok {
  background: #00b08a;
  color: #ffffff;
}
.widget-form-box .options ul li.selected label {
  font-weight: 600;
}
.widget-form-box .options ul li.selected label span {
  text-transform: capitalize;
}
.widget-form-box .options ul li.selected span.age {
  display: inline-block;
  margin-left: 10px;
  position: absolute;
  top: 0px;
  right: 10px;
  left: 120px;
}
.widget-form-box .options ul li.selected span.age .down-arrow {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 16px;
  cursor: pointer;
  z-index: 29;
}
.widget-form-box .options ul li.selected span.age .down-arrow .img {
  width: 100%;
}
.widget-form-box .options ul li.add {
  text-align: center;
  min-width: 116px;
  padding: 5px 10px;
  margin: 10px 0px 0px;
  text-transform: none;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #00d9aa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.widget-form-box .error {
  margin-top: 10px;
  color: #fff;
  background: #FA6464;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 0 10px;
}
.widget-form-box .btn-cfox {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.widget-form-box .btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.widget-form-box .btn-cfox.btn-next {
  font-size: 20px;
  display: inline-block;
  height: 57px;
  position: relative;
  padding: 13px 30px;
  margin-top: 15px;
}
.widget-form-box .btn-cfox img {
  width: 12px;
  margin-top: -2px;
  margin-left: 10px;
}
.widget-form-box .expert-advice {
  margin-top: 10px;
}
.widget-form-box .expert-advice label {
  font-size: 15px;
  text-transform: none;
  margin-right: 10px;
  font-weight: normal;
  color: rgba(39, 35, 35, 0.76);
}
.widget-form-box .expert-advice label.active {
  font-weight: 600;
  color: #363636;
}
/* media querry */
@media screen and (min-width: 200px) and (max-width: 519px) {
  .widget-form-box {
    padding: 10px 15px 20px;
  }
  .widget-form-box .btn-cfox.btn-next {
    padding: 13px 15px;
  }
  .widget-form-box .btn-cfox img {
    display: none;
  }
  .widget-form-box .gender-radio label input {
    margin-left: 5px;
  }
  .widget-form-box .options ul li.selected span.age {
    left: 130px;
  }
}
