<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="en" lang="en" class="js"><!DOCTYPE html>

{% load compress%}
{% load manip_data%}
<head>
    <title>Coverfox Insurance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!-- Bootstrap -->
    {%compress css%}
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/common.css" rel="stylesheet" media="screen">
    <link href="{{STATIC_URL}}css/lp-style.css" rel="stylesheet" media="screen">
    {%endcompress%}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,800' rel='stylesheet' type='text/css'>
</head>

<body>
    <header>
        <div id="cf-topbar" class="navbar navbar-fixed-top trans">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{{STATIC_URL}}img/coverfox-logo.png" alt="Coverfox">
                </a>
            </div>
        </div>
    </header>

    <div class="clearfix"></div>

    <div id="section1">
        <div class="sectioncover">
            <canvas id="c" style="position:absolute;top:0;bottom:0;left:0;right:0;width:100%;height:100%;"></canvas>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-11 col-lg-offset-0 col-lg-6" style="margin-top:85px;text-align: left; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);margin-bottom:20px;">
                    <h3 style="color: #ffffff;font-size: 25px;">Welcome to what will soon be</h3>
                    <h1>THE SMARTEST WAY TO <br/>BUY AND MANAGE<br/>YOUR INSURANCE</h1>
                    <div id="section1container">
                        <!--p style="position:relative;" class="big covertext">Insurance is tricky.</p>
                        <p class="medium covertext">We are working hard to make it simpler.
                            <br>For you to get the protection you need.</p-->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="landingform">
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-4 col-lg-offset-0 col-lg-5">
                                <div class="point-set">
                                    <img src="{{STATIC_URL}}img/icons/review.png" alt="">
                                    <br>
                                    <h4>Free</h4>Insurance review
                                </div>
                                <div class="point-set">
                                    <img src="{{STATIC_URL}}img/icons/expert.png" alt="">
                                    <br>With our top
                                    <h4>Expert</h4>
                                </div>
                                <div class="point-set">
                                    <img src="{{STATIC_URL}}img/icons/check.png" alt="">
                                    <br>
                                    <h4>No obligation</h4>to buy
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-7">
                                <h3>YOUR FIRST STEP TO THE<br/>RIGHT PROTECTION
                                    <div class="borderline"></div>
                                </h3>
                                <form id="review_subscribe" class="smarter-protec" action="{%url 'ajax_subscribe'%}" method="post">
                                    <p class="form-group">
                                    <input type="text" class="landingfield" placeholder="NAME" name="name" {%if user.get_full_name%}value="{{user.get_full_name}}"{%endif%}>
                                        <span class="text-error form_errors" id="error_name"></span>
                                    </p>
                                    <p class="form-group">
                                        <input type="text" class="landingfield" placeholder="EMAIL" name="email" {%if user.email%}value="{{user.email}}"{%endif%}>
                                        <span class="text-error form_errors" id="error_email"></span>
                                    </p>
                                    <img src="{{STATIC_URL}}img/text-line.png" alt="">
                                    <p>
                                        <button type="submit" value="I'm interested!" class="landingsubmit gradient">I'm interested!</button>
                                    </p>
                                </form>
                                {%if not user.is_authenticated%}
                                <form action="{% url 'facebook_connect' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ request.path }}" name="next" />
                                    <input onclick="F.connect(this.parentNode); return false;" type="image" src="{{STATIC_URL}}img/connectwithfb.png" />
                                    </div>
                                </form>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="section2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <p><!--span class="glyphicon glyphicon-search"></span--><img src="{{STATIC_URL}}img/icons/Search.png" alt=""> 
                        <br>Insurance plans - researched and handpicked for you</p>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <p><!--span class="glyphicon glyphicon-list-alt"></span--><img src="{{STATIC_URL}}img/icons/Trolley-2.png" alt=""> 
                        <br>Know what you buy - we decode the jargon</p>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <p><!--span class="glyphicon glyphicon-user"></span--><img src="{{STATIC_URL}}img/icons/User-8.png" alt=""> 
                        <br>A response team that simply works, when you need to claim</p>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <p><!--span class="glyphicon glyphicon-thumbs-up"></span--><img src="{{STATIC_URL}}img/icons/Like.png" alt="">  
                        <br>No spam, no cold calls. NO NONSENSE.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="section3">
        <div class="container">
            <div class="row sectiontitle">
                <h1>Know more about Insurance <br> from the Coverfox blog</h1>
                <p>Choose a category below to read from</p>
                <div id="cat-tabs" class="btn-group">
                    {%for cat in categories%}
                        {%ifequal cat.level 1 %}
                        <a class="btn btn-default" href="{% url 'category_post_list' cat.slug%}">{{cat.title|remove:" Insurance"}}</a>
                        {%endifequal%}
                    {%endfor%}
                        <a href="{%url 'post_index'%}" class="btn btn-info">See all articles &raquo;</a>
                </div>

            </div>

            <div id="tabcontent" class="row recommended_reads">
                {%for rr in recommended_reads%}
                <div class="col-sm-4 col-lg-4">
                    <a href="{{rr.get_absolute_url}}" style="display:block;">
                    <div class="thumbnail_r"><img src="{{rr.thumbnail.url_t}}" alt="{{rr.title}}" class="img-responsive"></div>
                    <h3>{{rr.title}}</h3>
                    <p class="author">Written by {{rr.author.get_full_name}}</p>
                    </a>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <footer>
        <div id="lp-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 col-lg-2 footercategories">
                        <h3>Categories</h3>
                        <ul>
                        {%for cat in categories%}
                            {%ifequal cat.level 1 %}
                            <li {%ifequal selected_category cat%}class="active"{%endifequal%}>
                             <img src="{{STATIC_URL}}img/{{cat.slug}}-icon.png"> <a href="{% url 'category_post_list' cat.slug%}">{{cat.title|remove:" Insurance"}}<span class="badge"></span></a>
                            </li>
                            {%endifequal%}
                        {%endfor%}
                        </ul>
                    </div>
                    <div class="col-xs-4 col-lg-2 footerlinks">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Goals</a></li>
                            <li><a href="#">Team</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-4 col-lg-1 footersocial">
                        <h3>Social</h3>
                        <ul>
                            <li> <a href="#"><img onClick="window.open('http://www.facebook.com/coverfox.india/')" src="{{STATIC_URL}}img/Facebook.png" alt=""></a> </li>
                            <li> <a><img onClick="window.open('https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons&screen_name=coverfox&source=followbutton&variant=2.0','mywindow','width=500,height=600')" src="{{STATIC_URL}}img/Twitter.png" alt=""></a> </li>
                            <li> <a href="//plus.google.com/110481288431304590429?prsrc=3" rel="publisher"> <img src="{{STATIC_URL}}img/GooglePlus.png" alt=""> </a> </li>
                        </ul>
                    </div>
                    <div class="col-xs-10 col-sm-4 col-lg-3 footersubscribe">
                        <h3>Subscribe</h3>
                        <ul>
                            <li>Get fresh articles, infographics, insurance guides, and inside stories at Coverfox delivered to your inbox each week.
                            <br/>
                            <div>
                                <form role="form"  class="subscribe_form" method='post' action='{% url "ajax_subscribe" %}'>
                                    <div class="form-group">
                                        <strong>Name</strong>
                                        <input type="text" name="name" class="form-control" placeholder="Your name">
                                        <strong>Email</strong>
                                        <input type="email" name="email" class="form-control" id="subscribeInput" placeholder="Enter your email id">
                                        <p class="text-error form_errors" id="error_email"></p>
                                    </div>
                                    <button type="submit" class="btn btn-red">Subscribe</button>
                                </form>
                            </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-1">
                    </div>
                    <div class="col-xs-10 col-sm-6 col-lg-3">
                        <h3>Get in touch</h3>
                        <ul>
                            <li><a href="javascript:void(0);">{{ settings.GENERAL_TOLL_FREE }}</a></li>
                            <li><a href="javascript:void(0);">{{ settings.GENERAL_CONTACT_MAIL }}</a></li>
                            <li><a href="javascript:void(0);">{{ settings.OFFICE_ADDRESS|safe }}</a></li>
                        </ul>
                    </div>
                </div>
                <div id="footerabout" class="row">
                    <div class="col-lg-12">
                        <img src="{{STATIC_URL}}img/coverfox-logo-white.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="fb-root"></div>
    <!--Some facebook code requires the fb-root div -->
    <script src="{{STATIC_URL}}js/facebook.js" type="text/javascript"></script>
    <script>
        facebookAppId = '{{ FACEBOOK_APP_ID }}';
        facebookDefaultScope = {{ FACEBOOK_DEFAULT_SCOPE_JS }};
        staticUrl = '{{ STATIC_URL }}';
        function facebookJSLoaded(){
            FB.init({appId: facebookAppId, status: false, cookie: true, xfbml: true, oauth: true});
        }
        window.fbAsyncInit = facebookJSLoaded;
        F = new facebookClass(facebookAppId);
        F.load();
    </script>


    {%compress js%}
    <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.form.js"></script>
    <script src="{{STATIC_URL}}js/jquery.cookie.js"></script>
    <script>
        $(function() {
            $.get("{%url 'get_token'%}", function(data){
                $('form').prepend("<input type='hidden' name='csrfmiddlewaretoken' value='"+data+"' />");
            });

            var topbar = $("#cf-topbar");
            var cfwindow = $(window);
            cfwindow.scroll(function() {
                scrollpos = cfwindow.scrollTop();
                if (scrollpos > 4) {
                    topbar.addClass("tb-hl");
                } else {
                    topbar.removeClass("tb-hl");
                }
            });
        });

        $("#review_subscribe").ajaxForm({
            success : function (data) {
                data = JSON.parse(data);
                if(data.success){
                    var msg = data.response.mesg;
                    $.cookie('subscribed_email', msg.email, { expires: 3650, path: '/' });
                    $.cookie('subscribed_name', msg.name, { expires: 3650, path: '/' });
                    window.location = "/articles/subscribe/success/"+msg.code+"/";
                }else{
                    $(".form_errors").html("");
                    for(var k in data.errors){
                        $("#review_subscribe #error_"+k).html(data.errors[k][0]);
                    }
                }
            }
        });
        $(".subscribe_form").ajaxForm({
                success : function (data) {
                data = JSON.parse(data);
                if(data.success){
                    var msg = data.response.mesg;
                    $.cookie('subscribed_email', msg.email, { expires: 3650, path: '/' });
                    $.cookie('subscribed_name', msg.name, { expires: 3650, path: '/' });
                    $("#invited_by_email").val(msg.email);
                    $("#invited_by_name").val(msg.name);
                    $(".form_errors").html("");
                    window.location = "/articles/";
                }else{
                    $(".form_errors").html("");
                    for(var k in data.errors){
                        $(".subscribe_form #error_"+k).html(data.errors[k][0]);
                    }
                }
            }
        });
    </script>

    <script type="text/javascript">

        var canvas = document.getElementById("c"),
        ctx = canvas.getContext('2d'),
        sizeX = 800,
        sizeY = 200,
        halfSizeX = sizeX/4,
        halfSizeY = sizeY/4,
        majorR = 400,
        hue = 0,
        i,
        inputs = document.getElementsByTagName('input'),
        values = [489, 180, 800, 800];

        canvas.width = sizeX;
        canvas.height = sizeY,
        ctx.globalAlpha = .3;
        draw({});
        $(".sectioncover").click(function(event){
            draw(event);
        });
        $( window ).resize(function() {
            draw({});
        });


        function draw(event) {
            canvas.width = $('#c').width();
            canvas.height = $('#c').height();
            halfSizeX = canvas.width/4,
            halfSizeY = 3*canvas.height/4,
            values[0] = event.clientX || 489;
            values[1] = event.clientY || 180;

            ctx.clearRect(0, 0, sizeX, sizeY);
            var minorR = values[0] / 10,
            diff = majorR - minorR,
            s = diff / minorR,
            theta = 0,
            angleMuliplier = values[1] / 10 ,
            radiusEffect = values[2] / 2 + minorR,
            steps = values[3] * 2,
            oldX, oldY;
            console.log(values);
            for (i = steps; i--;) {
                var mult = angleMuliplier * theta,
                x = diff * Math.sin(mult) + radiusEffect * Math.sin(mult * s) + halfSizeX,
                y = diff * Math.cos(mult) - radiusEffect * Math.cos(mult * s) + halfSizeY;
                theta += Math.PI * 4 / steps;
                if (oldX) {
                    //ctx.strokeStyle = 'hsl(' + (  hue + (i % 85)) + ', 80%, 20%)';
                    ctx.strokeStyle = 'rgba(255, 193, 61, 0.07)';
                    ctx.beginPath();
                    ctx.moveTo(oldX, oldY);
                    ctx.lineTo(x, y);
                    ctx.closePath();
                    ctx.stroke();
                }
                if(Math.random() > 0.6){
                    ctx.fillStyle = '#371D37';
                }else{
                    ctx.fillStyle = '#472647';
                }
                ctx.fill();
                oldX = x;
                oldY = y;
            }
        }
    </script>
    {%endcompress%}
</body>

</html>

