/* Color scheme definitions */
/* Color scheme definitions end */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
body {
  font-size: 14px;
}
.mnone {
  margin: 0px;
}
.pnone {
  padding: 0px;
}
/* button styling css */
.btn-coverfox.orange {
  padding: 8px 15px;
}
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
/* box stylings */
.light-box,
.dark-box {
  padding: 10px 0px 60px;
  line-height: 1.6em;
}
.light-box h1,
.dark-box h1 {
  font-size: 32px;
  margin: 30px 0px;
  text-align: center;
  font-weight: 300;
  color: #363636;
  line-height: 1.4em;
}
.light-box .lead-para,
.dark-box .lead-para {
  color: #888888;
  font-size: 16px;
  line-height: 1.7em;
}
.light-box .lead-para strong,
.dark-box .lead-para strong {
  color: #363636;
}
.light-box {
  background: #ffffff;
  color: #363636;
}
.light-box .leader {
  color: #ff6127;
  line-height: 1.4em;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin: 40px 0px;
}
.light-box legend {
  font-size: 18px;
  color: #888888;
  line-height: 1.4em;
  border: 0px solid transparent;
}
.light-box legend + p {
  color: #363636;
  margin-bottom: 30px;
}
.dark-box {
  background-color: #f9f9f9;
}
.color-highlight {
  color: #ff6127 !important;
}
/* basic elements styling */
.hero-wrapper {
  position: relative;
}
#topbar {
  padding: 10px 0 5px;
  position: relative;
  margin-bottom: 15px;
}
#topbar .logo {
  float: left;
  text-align: center;
  width: 130px;
  margin-bottom: 5px;
}
#topbar .logo img {
  width: 100%;
}
#topbar .menuimg {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #363636;
  padding: 5px;
  top: 3px;
  right: 0px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#topbar #right-menu-items {
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
  float: right;
}
#topbar #right-menu-items li {
  display: inline-block;
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
  margin: 0;
  padding-right: 40px;
  text-align: right;
  position: relative;
}
#topbar #right-menu-items li a {
  font-size: 16px;
  display: block;
  color: #363636;
  padding: 0px;
}
#topbar #right-menu-items li a:hover {
  text-decoration: none;
  cursor: default;
}
#topbar .irda-auth-badge {
  letter-spacing: 0;
  width: 215px;
  vertical-align: bottom;
  text-align: left;
  float: left;
  margin-left: 20px;
  font-size: 12px;
}
#topbar .irda-auth-badge img {
  height: 35px;
  margin-right: 5px;
  margin-left: 10px;
  vertical-align: bottom;
  float: left;
}
#topbar #right-menu-items li.pipe-link {
  padding: 5px 10px;
}
#topbar #right-menu-items li.pipe-link.seperator {
  border-right: 1px solid #eaeaea;
  margin: 0px 10px;
  height: 30px;
  padding: 0;
}
#topbar #right-menu-items li.pipe-link a {
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  top: -10px;
}
#topbar #right-menu-items li.pipe-link a:hover {
  text-decoration: none;
  color: #ff6127;
}
#topbar .navbar-toggle {
  display: none;
  margin-right: 10px;
  padding: 0px;
  height: 34px;
  width: 34px;
  text-align: center;
  background-color: #f7fafc;
  border: 1px solid rgba(0, 0, 0, 0.02);
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#topbar .navbar-toggle .icon-bar {
  display: block;
  font-size: 30px;
  color: #337ab7;
  line-height: 1em;
  height: auto;
  width: auto;
}
#topbar .navbar-toggle .icon-bar.plus {
  display: block;
}
#topbar .navbar-toggle .icon-bar.minus {
  font-size: 40px;
  margin-top: -10px;
  display: none;
}
#topbar .navbar-toggle:hover,
#topbar .navbar-toggle:active,
#topbar .navbar-toggle:focus {
  outline: none;
}
#topbar .navbar-toggle:hover .icon-bar,
#topbar .navbar-toggle:active .icon-bar,
#topbar .navbar-toggle:focus .icon-bar {
  color: #ff6127;
}
#topbar .navbar-toggle.active .icon-bar.plus {
  display: none;
}
#topbar .navbar-toggle.active .icon-bar.minus {
  display: block;
}
#topbar .pipe-menu-right {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  text-align: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: none;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  height: 0px;
  overflow: hidden;
}
#topbar .pipe-menu-right.active {
  overflow: visible;
  margin-top: 10px;
  height: auto;
  opacity: 1;
  visibility: visible;
  top: 100%;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
}
#topbar .pipe-menu-right li.cross {
  background-color: #ff6127;
  color: #fff;
  position: absolute;
  right: 0px;
  top: -54px;
  height: 32px;
  width: 32px;
  padding: 6px 0px;
  cursor: pointer;
}
#topbar .pipe-menu-right li {
  display: block;
  padding: 0px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
}
#topbar .pipe-menu-right li a {
  display: block;
  padding: 15px;
  background-color: #f7fafc;
  border-top: 1px solid rgba(0, 0, 0, 0.02);
}
#topbar .pipe-menu-right li a:hover,
#topbar .pipe-menu-right li a:focus,
#topbar .pipe-menu-right li a:active {
  color: #ff6127;
  text-decoration: none;
}
.companies-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.companies-wrapper ul.company-logos {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.companies-wrapper ul.company-logos li {
  display: inline-block;
  padding: 15px;
  position: relative;
}
.companies-wrapper ul.company-logos li img {
  height: 50px;
}
.experts-help ul {
  margin: 15px 0px 15px 0px;
}
.experts-help ul li {
  list-style-type: none;
  font-size: 16px;
  margin-top: 15px;
  position: relative;
  padding-left: 45px;
  padding-top: 10px;
  color: #888888;
}
.experts-help ul li img {
  width: 33px;
  position: absolute;
  left: 0px;
  top: 5px;
}
.experts-help .contact-me-error-expert {
  color: #ff0000;
  margin: 5px 0px;
  background-color: #FFEDED;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 3px 10px;
  display: none;
}
.benefits-wrapper img {
  max-width: 180px;
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 100%;
  border: 2px solid #fa5f26;
  background-color: #ffffff;
  padding: 5px;
}
.benefits-wrapper h4 {
  text-align: center;
  margin: 15px 0 15px 0;
  font-weight: bold;
  line-height: 1.4em;
  color: #444444;
  font-size: 16px;
}
.testimonials-carousel {
  background: none repeat scroll 0 0 #ff6127;
  color: #FFFFFF;
  min-height: 460px;
  padding: 10px 0px;
}
.testimonials-carousel h1.section-header {
  color: #FFFFFF;
  font-size: 32px;
  margin: 30px 0px 10px;
  text-align: center;
  font-weight: 300;
  line-height: 1.4em;
}
.testimonials-carousel .carousel {
  position: relative;
  min-height: 300px;
}
.testimonials-carousel .carousel ul {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.testimonials-carousel .carousel ul li {
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 30px;
  font-size: 20px;
  color: #ffffff;
  line-height: 170%;
}
.testimonials-carousel .carousel ul li img {
  width: 150px;
  margin-bottom: 20px;
  opacity: 1;
  border: 1px solid #8E8E8E;
}
.testimonials-carousel .carousel ul li span.t_user {
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
  position: relative;
}
.testimonials-carousel .carousel ul li span.t_user:before,
.testimonials-carousel .carousel ul li span.t_user:after {
  position: absolute;
  content: '';
  width: 70px;
  border-bottom: 1px solid #ffffff;
  left: -85px;
  top: 50%;
  height: 0;
}
.testimonials-carousel .carousel ul li span.t_user:after {
  left: 100%;
  margin-left: 15px;
}
.testimonials-carousel .carousel ul li.cf-visible {
  opacity: 1;
}
.testimonials-section .testimonial-item {
  position: relative;
  max-width: 250px;
  margin: 20px auto 20px;
}
.testimonials-section .testimonial-item img {
  width: 100%;
}
.testimonials-section .testimonial-item .comment {
  background: #24afff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  padding: 20px;
  color: #fff;
}
.testimonials-section .testimonial-item .comment.left {
  left: -30px;
  right: 30px;
}
.testimonials-section .testimonial-item .comment.right {
  right: -30px;
  left: 30px;
}
.testimonials-section .testimonial-item .comment p.title {
  font-weight: bold;
}
.testimonials-section .testimonial_action_btn {
  position: relative;
  top: 10px;
}
.wow {
  background-color: transparent;
  padding: 0px;
  border-radius: 3px;
  max-width: 700px;
  margin: 40px auto 0px;
}
.wow .input-group-addon:first-child {
  -webkit-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
}
.wow .call_me_btn_expert.btn-cfox {
  font-size: 16px;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
}
.wow .input-group .form-control {
  height: 54px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.terms-msg {
  font-size: 12px;
  line-height: 1.6em;
  color: #888888;
  margin-top: 10px;
  text-align: left;
}
.footer {
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: #999999;
}
.three-steps h1 {
  margin: -10px 0px 0px;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 30px 15px 20px;
  text-transform: uppercase;
  font-size: 30px;
}
.three-steps h1 img {
  margin-top: -6px;
  width: 120px;
  display: inline-block;
}
.three-steps ul {
  list-style-type: none;
  padding: 0px 0px 0px 3%;
  margin: 50px auto 30px;
  width: 760px;
}
.three-steps ul li {
  position: relative;
  float: left;
  width: 33%;
  margin: 0px;
}
.three-steps ul li .step_number {
  color: #ff6127;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 2px;
  left: 0px;
}
.three-steps ul li > div {
  border: 2px solid #ff6127;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  padding: 40px 10px;
  text-align: center;
  width: 170px;
  font-size: 14px;
  height: 170px;
  line-height: 1.5em;
  top: 0px;
  left: 25px;
  position: relative;
  background-color: #f9f9f9;
  z-index: 2;
}
.three-steps ul li > div:after {
  position: absolute;
  content: '';
  display: block;
  border-top: 1px solid #ff6127;
  width: 100px;
  left: 100%;
  top: 50%;
  z-index: 1;
}
.three-steps ul li > div.no-link:after {
  display: none;
}
.three-steps ul li > div.padding-top {
  padding-top: 40px;
}
/* mobile optimisation general css */
@media screen and (min-width: 200px) and (max-width: 991px) {
  .benefits-wrapper h4 {
    font-size: 16px;
    margin-bottom: 40px;
  }
  #right-menu-items li {
    display: block;
    margin-bottom: 10px;
  }
  .companies-wrapper {
    height: 145px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 50px;
  }
  #topbar .logo {
    float: none;
    margin-bottom: 3px;
  }
  #topbar .irda-auth-badge {
    position: relative;
    float: none;
    margin: 0px;
    font-size: 12px;
    color: #999999;
  }
  #topbar .irda-auth-badge br {
    display: none;
  }
  .testimonials-section .testimonial-item .comment {
    padding: 10px 15px;
    font-size: 12px;
  }
  .three-steps ul {
    max-width: 700px;
  }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
  .testimonials-carousel h1.section-header {
    font-size: 40px;
  }
  .companies-wrapper {
    height: 145px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px 15px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 50px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  body,
  html {
    min-width: 320px;
  }
  .call-action {
    max-width: 460px;
    margin: auto;
    padding: 0 30px;
  }
  .experts-help ul {
    padding-left: 30px;
    margin-bottom: 0px;
  }
  .experts-help ul li {
    font-size: 18px;
    padding-top: 10px;
    margin-top: 20px;
  }
  .testimonials-carousel {
    min-height: 360px;
  }
  #topbar {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #topbar .logo {
    width: 120px;
  }
  #topbar .menuimg {
    width: 25px;
    height: 25px;
  }
  #topbar #right-menu-items li {
    padding-right: 30px;
  }
  #topbar #right-menu-items li a {
    font-size: 14px;
  }
  #topbar .irda-auth-badge {
    font-size: 10px;
  }
  .testimonials-carousel h1.section-header {
    font-size: 36px;
    line-height: 1.2em;
    padding: 0 15px;
  }
  .carousel ul li {
    font-size: 14px;
    padding-top: 0;
  }
  ul.company-logos li {
    padding: 5px;
  }
  ul.company-logos li img {
    height: 30px;
  }
  .companies-wrapper {
    height: 130px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 5px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 50px;
  }
  .experts-help ul li img {
    top: 5px;
  }
  .testimonials-carousel h1.section-header {
    font-size: 32px;
  }
  .testimonials-carousel .carousel ul li {
    font-size: 16px;
  }
  .testimonials-carousel .carousel ul li img {
    width: 110px;
  }
  .wow .call_me_btn_expert.btn-cfox {
    margin-top: 10px;
  }
  .three-steps h1 {
    padding: 30px 15px 20px;
    font-size: 26px;
  }
  .three-steps ul {
    max-width: 100%;
    width: 100%;
    padding: 0px 0px 0px 30px;
    margin: 30px 0px 20px;
  }
  .three-steps ul li {
    position: relative;
    float: none;
    width: 100%;
    margin: 0px;
  }
  .three-steps ul li strong {
    top: 0px;
  }
  .three-steps ul li > div {
    border-width: 0px;
    padding: 0px 20px 0px 35px;
    text-align: left;
    margin-bottom: 20px;
    width: auto;
    font-size: 16px;
    height: auto;
    line-height: 1.5em;
    top: 0px;
    left: 0px;
    position: relative;
    background-color: transparent;
  }
  .three-steps ul li > div:after {
    display: none;
  }
  .three-steps ul li > div.padding-top {
    padding-top: 0px;
  }
  .testimonials-section .testimonial-item {
    max-width: 320px;
    margin: 30px auto;
  }
  .testimonials-section .testimonial-item img {
    width: 40%;
    min-width: 120px;
  }
  .testimonials-section .testimonial-item .comment {
    bottom: 0px;
    right: 0px;
    left: 35%;
    padding: 10px;
  }
  .testimonials-section .testimonial-item .comment.left {
    left: 35%;
    right: 0px;
  }
  .testimonials-section .testimonial-item .comment.right {
    right: 0px;
    left: 35%;
  }
  .testimonials-section .testimonial-item .comment p.title {
    font-weight: bold;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 200px) and (max-width: 690px) {
  #topbar .navbar-toggle {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 5px;
  }
  #topbar #right-menu-items .pipe-link {
    display: none;
  }
  #topbar #right-menu-items li {
    padding-right: 0px;
  }
  #topbar #right-menu-items {
    margin-right: 50px;
  }
  #topbar .menuimg {
    display: none;
  }
}
@media screen and (min-width: 200px) and (max-width: 519px) {
  .btn-cfox {
    white-space: normal;
  }
  .light-box h1,
  .dark-box h1 {
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .experts-help ul {
    padding-left: 0px;
  }
  .experts-help ul li {
    font-size: 16px;
    padding-top: 0px;
    margin-top: 20px;
  }
  .companies-wrapper {
    height: auto;
  }
  .companies-wrapper ul.company-logos li {
    padding: 3px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 50px;
  }
  .testimonials-carousel h1.section-header {
    font-size: 32px;
  }
  .testimonials-carousel .carousel ul li {
    font-size: 14px;
  }
  .testimonials-carousel .carousel ul li img {
    width: 110px;
  }
  .three-steps ul {
    padding-left: 0px;
  }
  .experts-help ul li img {
    top: 0px;
  }
}
.text-panel {
  margin: 20px 0;
  font-size: 16px;
}
.text-panel h3 {
  font-weight: bold;
}
.text-panel p,
ul li {
  font-size: 16px;
}
