<div data-bind="template : login_template"></div>
<header>
    <section id="topbar" class="hide hidden" style="display: none;">
        <nav class="navbar navbar-inverse navbar-fixed-top cfnav dark" role="navigation">
            <div class="topbar">

                <div class="col-md-2">
                    <a class="navbar-brand logo" href="/"><img src="/static/global/img/logos/cf-white-orange-h71.png" alt="Coverfox.com"/></a>
                </div>



                <div class="col-md-10 pull-right prnone">

                    <ul class="top-right-menu">
                        <li class="shortlisted-items" data-bind="if:currentTab(), visible:currentTab(), click: shortlist().length > 0 ? setShortlistMode : null"><span class="glyphicon glyphicon-bookmark"></span> Shortlist <span class="value" data-bind="text:shortlist().length, visible: shortlist().length"></span></li>
                        <li class="dropdown" data-bind="if: login.username()">
                        <a data-bind="click: login.toggleContextMenu" class="dropdown-toggle login" data-toggle="dropdown">
                            <!--img data-bind="visible: login.profile_image(), attr: {src: login.profile_image(), title: login.username()}" class="img-circle"/-->
                            <!--span data-bind="visible: !login.profile_image()" class="glyphicon glyphicon-user"></span-->
                            <span data-bind="text: login.username()"><span class="caret"></span></span>
                        </a>
                        <ul data-bind="visible: login.context_menu, clickBubble: false" class="dropdown-menu" role="menu">
                            <li data-bind="if:currentTab(), visible:currentTab()">
                            <a data-bind="click: shortlist().length > 0 ? setShortlistMode : null">Shortlist <span class="badge" data-bind="text:shortlist().length, visible: shortlist().length"></span></a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/accounts/logout/">Logout</a></li>
                        </ul>
                        </li>
                    </ul>

                </div>

                <div class="navbar-form-wrapper">
                    <ul class="text-center">
                        <li class="form-title" data-bind="visible: !contact.done()">Get an expert<br> to call you</li>
                        <li data-bind="visible: !contact.done()">
                        <div class="input-group">
                            <span class="input-group-addon">+91</span>
                            <input data-bind="value: contact.contact_phone" type="text"  placeholder="Enter contact no.">
                        </div>
                        </li>
                        <li data-bind="visible:contact.done()">
                        <div class="white" style="padding-top:10px;">Thanks, we will contact your shortly on <span data-bind="text:contact.contact_phone"></span><a data-bind="click: contact.change"> (change)</a></div>
                        </li>
                        <li data-bind="visible: !contact.done()">
                        <button data-bind="click: contact.submit" class="contact-btn"><span data-bind="text:contact.in_process ? 'Submit': 'Submitting...'"></span></button>
                        </li>
                        <li>
                        <p class="perror" data-bind="validationMessage: contact.contact_phone">Invalid Phone Number</p>
                        </li>
                        <li class="toll-free">
                            <div>Toll free</div>
                            <span data-bind="text: health_toll_free"></span>
                        </li>
                    </ul>
                </div>




            </div>
        </nav>
    </section>
    <section>
        <div class="header-wrapper fixed-top">
            <!--div class="hamburger-menu">
            </div-->
            <div class="logo">
                <a href="/"><img src="/static/global/img/logos/cf-white-orange-h71.png" alt="Coverfox.com"></a>
            </div>
            <div class="page-title" >Buy Health Insurance</div>
            <div class="right-item pull-right" >Call us (Toll Free) for assistance: <strong data-bind="text: health_toll_free"></strong></div>
        </div>
    </section>
    <div data-bind="visible : base_type() == 'results'">
        <section id="results-tab-bar" data-bind="visible:currentTab()">
            <div class="results-tab-bar-wrapper" data-bind="visible: tabs().length > 1">
                <ul class="results-tabs" data-bind="foreach: tabs">

                    <li data-bind="click: $parent.changeTab, css: {active: $parent.currentTab() == $data}">
                    <div class="plans-count bounce-trans" data-bind="text: online_plans().length"></div>
                    <div>Plans covering <br/><strong data-bind="text:getTabTitle()"></strong></div>
                    </li>

                </ul>
            </div>
        </section>

        <section id="loader" data-bind="visible: !currentTab()">
            <div id="loader-wrapper" class="new">
                <div class="loader" title="1">
                    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="60px" height="60px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                        <path fill="#373a47" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                        <animateTransform attributeType="xml"
                        attributeName="transform"
                        type="rotate"
                        from="0 25 25"
                        to="360 25 25"
                        dur="0.6s"
                        repeatCount="indefinite"/>
                        </path>
                    </svg>
                </div>
            </div>
        </section>
    </div>
</header>
<div data-bind="visible: ['offline', 'cover-offline', 'age-offline'].indexOf(base_type()) > -1">
    <div data-bind="if : offline.contact_model">
        <div data-bind="template : {name: 'steps/offline', data: offline}"></div>
    </div>
</div>


<div data-bind="visible: base_type() == 'results'" >
    <!--div data-bind="visible: tparty == 'jd'" class="container" style="background-color: rgb(253, 253, 169); color: #8C8C8C; padding: 4px;">
        <p style="margin:0px;">Online comparison and sale of Insurance products on this portal is powered by <strong>Coverfox Insurance Broking</strong>
    </div-->
    <section id="results-section-header" data-bind="if:currentTab(), style: {marginTop:  tabs().length > 1 ? '149px':'64px' }">
        <div class="container">
            <h1 class="results-tab-header" data-bind="visible:!step2.is_topup()">
                Health plans covering <span data-bind="text:currentTab().getTabTitle()"></span>
                <a data-bind="click : setModifyDetailsMode">Modify Details</a>
            </h1>
            <h1 class="results-tab-header" data-bind="visible:step2.is_topup()">
                Health Super Top-up plans covering <span data-bind="text:currentTab().getTabTitle()"></span>
                <a data-bind="click : setModifyDetailsMode">Modify Details</a>
            </h1>
        </div>
    </section>
    <section id="results-block" data-bind="if:currentTab()">
        <div class="container">
            <div class="results-block-wrapper row">
                <div id="results-sidebar" class="results-block-sidebar">
                    <div class="results-sidebar-section special text-center" data-bind="visible : shortlistMode">
                        <a class="btn-cfox orange big compare-btn" data-bind="click: unsetShortlistMode">Back to results</a>
                    </div>
                    <div data-bind="if : currentTab().render">
                        <div class="results-sidebar-section" data-bind="ifnot:step2.is_topup()">
                            <div class="sidebar-label">Modify cover</div>
                            <div class="dropdown-trigger">
                                <a data-bind="click : currentTab().toggleCoverOptions, css: {active: currentTab().coverOptionsVisible(), 'loading-progress': currentTab().loadingNewPlans()}">
                                    <span data-bind="text:currentTab().titleForCover()"></span>
                                    <img src="/static/health_product/desktopv2/app/assets/img/dropdown-icon.png" alt="">
                                </a>
                                <ul class="sidebar-options special"
                                    data-bind="foreach : currentTab().coverOptions, style: { display: currentTab().coverOptionsVisible() ? 'block' : 'none' }">
                                    <li data-bind="css: {selected: $parent.currentTab().sum_assured() == $data[1]}, text : $data[0], click : $parent.currentTab().setCover.bind($data)"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="results-sidebar-section visible-lg" data-bind="if:step2.is_topup()">
                            <div class="sidebar-label">existing sum assured</div>
                            <div class="dropdown-trigger">
                                <a data-bind="click : currentTab().toggleDeductibleOptions, css: {active: currentTab().deductibleOptionsVisible(), 'loading-progress': currentTab().loadingNewPlans()}">
                                    <span data-bind="text:currentTab().titleForDeductible()"></span>
                                    <img src="/static/health_product/desktopv2/app/assets/img/dropdown-icon.png" alt="">
                                </a>
                                <ul class="sidebar-options special"
                                    data-bind="foreach : step2.deductible_options, style: { display: currentTab().deductibleOptionsVisible() ? 'block' : 'none' }">
                                    <li data-bind="css: {selected: $parent.currentTab().deductible() == $data.id}, text : $data.name, click : $parent.currentTab().setDeductible.bind($data)"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="results-sidebar-section visible-lg" data-bind="if:step2.is_topup()">
                            <div class="sidebar-label">upgraded sum assured</div>
                            <div class="dropdown-trigger">
                                <a data-bind="click : currentTab().toggleUpgradedOptions, css: {active: currentTab().upgradedOptionsVisible(), 'loading-progress': currentTab().loadingNewPlans()}">
                                    <span data-bind="text:currentTab().titleForUpgradedSum()"></span>
                                    <img src="/static/health_product/desktopv2/app/assets/img/dropdown-icon.png" alt="">
                                </a>
                                <ul class="sidebar-options special"
                                    data-bind="foreach : currentTab().upgraded_options, style: { display: currentTab().upgradedOptionsVisible() ? 'block' : 'none' }">
                                    <li data-bind="css: {selected: $parent.currentTab().upgraded_sum_assured() == $data.id}, text : $data.name, click : $parent.currentTab().setUpgradedSum.bind($data)"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="filters-header visible-lg">
                            <img src="/static/health_product/desktopv2/app/assets/img/filters-icon-empty.png" alt=""> Filter plans
                        </div>
                        <div class="results-sidebar-section special">
                            <div class="sidebar-label">Premium</div>
                            <div class="dropdown-trigger">
                                <a data-bind="click : currentTab().togglePremiumOptions, css: {active: currentTab().premiumOptionsVisible(), 'loading-progress': currentTab().loadingNewPlans()}"><span
                                        data-bind="text:currentTab().titleForPremium()"></span> <img
                                    src="/static/health_product/desktopv2/app/assets/img/dropdown-icon.png" alt=""></a>
                                <ul class="sidebar-options special"
                                    data-bind="foreach : currentTab().premiumOptions, style: { display: currentTab().premiumOptionsVisible() ? 'block' : 'none' }">
                                    <li data-bind="css: {selected: $parent.currentTab().filter.maxPremium() == $data[1]}, text : $data[0], click : $parent.currentTab().setPremium.bind($data)"></li>
                                </ul>
                            </div>

                        </div>
                        <section id="deep-filters" data-bind="foreach:currentTab().filters_list">
                            <div class="results-sidebar-section special visible-lg">
                                <div class="results-sidebar-desc" data-bind="visible: type == 'radio'">
                                    <span data-bind="text:descTitle" class="desc-title"></span> <br/>
                                    <span data-bind="text:desc"></span>
                                </div>
                                <div class="sidebar-label">
                                    <span data-bind="text:title"></span>
                                </div>
                                <ul class="sidebar-options special" data-bind="foreach: values">
                                    <li data-bind=" css: {'cf-radio':$parent.type=='radio',selected: $parent.selectedValues.indexOf($data) > -1 }, click: $parent.selectValue">
                                    <span data-bind="text:$data.title"></span>
                                    <div class="results-sidebar-desc-list-item" data-bind="visible: $parent.type == 'checkbox'">
                                        <span data-bind="text:$data.descTitle" class="desc-title"></span> <br/>
                                        <span data-bind="text:$data.desc"></span>
                                    </div>
                                    </li>
                                </ul>
                                <div class="sidebar-label" data-bind="visible: selectedValues().length != 0">
                                    <span class="filter-reset" data-bind="click: deselectAll">Reset</span>
                                </div>
                            </div>
                        </section>
                        <div class="results-sidebar-section special visible-lg">
                            <div class="sidebar-label">
                                Preferred Brands
                                <span class="label-subtext">Choose one or multiple.</span>
                            </div>
                            <ul class="sidebar-options" data-bind="foreach: currentTab().getAllBrands()">
                                <li data-bind="text:$data, click:$parent.currentTab().toggleBrand, css: {selected: $parent.currentTab().filter.selectedBrands().indexOf($data) > -1 }"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="results-block-plans" data-bind="if: throttledCurrentTab()">
                    <div class="plans-header container-fluid">
                        <div class="row">
                            <div class="col-sm-4 col-md-4">
                                <span data-bind="text: currentTab().visiblePlans().length"></span> Matching Plans
                            </div>
                            <div class="col-sm-6 col-md-6 pull-right sort-bar">
                                <!--Sort By <select data-bind="options:currentTab().availableSorts, value:currentTab().selectedSort"></select-->                       Sort by
                                <div class="dropdown-trigger sort">
                                    <a data-bind="click : currentTab().toggleSortOptions, css: {active: currentTab().sortOptionsVisible()}">
                                        <span data-bind="text:currentTab().selectedSort()"></span>
                                        <img src="/static/health_product/desktopv2/app/assets/img/dropdown-icon.png" alt="">
                                    </a>
                                    <ul class="sidebar-options special"
                                        data-bind="foreach : currentTab().availableSorts,css:{reveal: currentTab().sortOptionsVisible()}">
                                        <li data-bind="text : $data, click : $parent.currentTab().sortOption.bind($data)"></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <ul class="selected-filters" data-bind="foreach: currentTab().filters_list">
                                <!-- ko foreach: selectedValues() -->
                                    <li>
                                    <span class="filter-remove" data-bind="click: function(){ $parent.selectedValues.remove($data);}">X</span>
                                    <span class="filter-name" data-bind="text:$parent.getFilterName($data)"></span>
                                    <span class="filter-value" data-bind="text:$parent.getFilterValue($data)"></span>
                                    </li>
                                <!-- /ko -->
                            </ul>
                            <!--ul class="selected-filters" data-bind="foreach:currentTab().filters_list">
                                <li data-bind="visible: selectedValues().length != 0 ">
                                <span class="filter-remove" data-bind="click: selectedValue.bind($data, 'INIT')">X</span>
                                <span class="filter-name" data-bind="text:title"></span>
                                <span class="filter-value" data-bind="text:selectedValueVerbose()"></span>
                                </li>
                            </ul-->

                            <div class="empty-ui" data-bind="visible: currentTab().visiblePlans().length == 0">
                                No matching plans found.
                            </div>
                        </div>
                    </div>
                    <div class="plans-cards" data-bind="template: {name: 'plan', foreach: throttledCurrentTab().online_plans()}"></div>
                    <a class="show-all" data-bind="visible:brand_id(),click: currentTab().showAllPlans">Show plans from other companies</a>
                    <div class="clearfix"></div>
                    <div id="exception-insurers" data-bind="visible: throttledCurrentTab().offline_plans().length > 0">
                        The following insurers did not return quotes
                        <ul data-bind="foreach: throttledCurrentTab().offline_insurers">
                            <li>
                                <div class="img-s">
                                    <div class="insurer-logo" data-bind="css: 'insurer-' + insurer_id"></div>
                                </div>
                                <span data-bind="text: insurer_title"></span>
                            </li>
                        </ul>
                        <div class="reason-list">
                            <h5>Here are some common reasons an insurance provider may not return a match:</h5>
                            <ul>
                                <li>There might be some members with pre-existing diseases that these insurers do not cover.</li>
                                <li>There might be some members with pre-existing disesases which need medical tests.</li>
                            </ul>
                        </div>
                        <a data-bind="click: throttledCurrentTab().show_offline_plans, visible: !throttledCurrentTab().offline_plans_visible()"
                           class="exception-trigger">Show me these plans anyway</a>
                        <div class="plans-row clearfix"></div>
                        <div class="offline-plans plans-cards" data-bind="template: {name: 'plan', foreach: throttledCurrentTab().offline_plans()},
                                                                        visible: throttledCurrentTab().offline_plans_visible"></div>
                    </div><!--/#exception-insurers-->
                </div>
            </div>
            <p data-bind="visible: tparty == 'jd'" style="padding:10px;">Insurance is a subject matter of solitication.<br/>Online comparison and sale of Insurance products on this portal is powered by <strong>Coverfox Insurance  Broking Pvt. Ltd.</strong><br/> IRDA Direct Broker licence no. IRDA/ DB 556/ 13. Principal Officer: Varun Dua.<br/> 3rd Floor, A wing Krislon House Saki vihar road Saki Naka, Maharashtra - 400072</p>
        </div>
    </section>


    <section id="compare-popup" data-bind="if:currentTab()">
        <div id="compare-popup-wrapper" data-bind="css:{open: currentTab().plansToCompare().length > 0} ">

            <h3>Compare Plans</h3>
            <ul data-bind="foreach: currentTab().plansToCompare()">
                <li>
                <img data-bind="click : $parent.currentTab().removeFromCompare" src="/static/health_product/desktopv2/app/assets/img/close.png" alt="close" class="pull-right">
                <img data-bind="attr : {src : '/static/health_product/img/insurer/insurer_' + insurer_id + '/on.png'}" alt="" class="img-responsive"/>
                <p data-bind="text:product_title"></p>
                </li>
                <li class="special"
                data-bind="visible:$index() == $parent.currentTab().plansToCompare().length - 1 && $parent.currentTab().plansToCompare().length < 3">
                <p data-bind="visible: $parent.currentTab().plansToCompare().length < 3">Select <span
                    data-bind="text: 3 - $parent.currentTab().plansToCompare().length"></span> more plan<span
                    data-bind="visible:$parent.currentTab().plansToCompare().length < 2">s</span> to compare</p>


                </li>


            </ul>
            <div class="clearfix"></div>
            <div class="compare-btn" data-bind="visible: currentTab().plansToCompare().length > 1">
                <a class="btn-cfox orange medium compare-btn" data-bind="click: setCompareMode,">
                    Compare Plans
                </a>
            </div>


        </div>
    </section>


    <section id="compare-footer" data-bind="if:currentTab()">
        <div id="compare-footer-wrapper"  data-bind="css:{comparemode: compareMode()} ">
            <div class="container-fluid">
                <div class="row compare-bar">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-sm-3 col-md-3 comparemode">
                            <a class="btn-cfox orange big compare-btn" data-bind="click: resetCompareMode">Back to results
                            </a>
                        </div>
                        <section data-bind="foreach: currentTab().plansToCompare()">
                            <div class="plan-to-compare col-sm-3 col-md-3 comparemode">
                                <img data-bind="attr : {src : '/static/health_product/img/insurer/insurer_' + insurer_id + '/on.png'}"
                                alt="" class="img-responsive"/>

                                <p data-bind="text:product_title"></p>

                                <div class="pc-buttons" style="width:100%">
                                    <ul>
                                        <li class="btn-cfox" data-bind="click: $parent.currentTab().buy, clickBubble: false"><span class="glyphicon glyphicon-shopping-cart"></span> Buy this plan</li>
                                        <!--li class="empty" data-bind="click: planInShortlist() ? $parent.currentTab().removeFromShortlist:$parent.currentTab().addToShortlist, clickBubble: false">
                                        <span class="glyphicon glyphicon-bookmark"></span>
                                        <span data-bind="text: planInShortlist() ? 'Remove from shortlist':'Add to shortlist'"></span>
                                        </li-->
                                    </ul>
                                </div>
                            </div>

                        </section>

                    </div>
                </div>


            </div>

            <section id="comparison-table">
                <div id="comparison-table-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">

                                <section id="comp-premium">
                                    <div class="col-sm-3 col-md-3 row-title">
                                        <p>Sum Assured</p>
                                    </div>
                                    <section data-bind="foreach: currentTab().plansToCompare()">
                                        <div class="col-sm-3 col-md-3 cell-value special">
                                            <p data-bind="currency_word:sum_assured"></p>
                                        </div>
                                    </section>
                                    <div class="clearfix"></div>
                                </section>
                                <section id="comp-premium">
                                    <div class="col-sm-3 col-md-3 row-title">
                                        <p>Premium</p>
                                    </div>
                                    <section data-bind="foreach: currentTab().plansToCompare()">
                                        <div class="col-sm-3 col-md-3 cell-value special">
                                            <p data-bind="inr_currency:premium"></p>
                                        </div>
                                    </section>
                                    <div class="clearfix"></div>
                                </section>

                                <section id="comp-room-rent">
                                    <div class="col-sm-3 col-md-3 row-title">
                                        <p>Room Rent<span class="helpicon">?</span></p>
                                    </div>
                                    <section data-bind="foreach: currentTab().plansToCompare()">
                                        <div class="col-sm-3 col-md-3 cell-value">
                                            <p data-bind="text:attr.room_rent.value.text"></p>
                                        </div>
                                    </section>
                                    <div class="clearfix"></div>

                                </section>

                                <section id="comp-copay">
                                    <div class="col-sm-3 col-md-3 row-title">
                                        <p>Copay<span class="helpicon">?</span></p>
                                    </div>
                                    <section data-bind="foreach: currentTab().plansToCompare()">
                                        <div class="col-sm-3 col-md-3 cell-value">
                                            <p data-bind="text: attr.copay.value"></p>
                                        </div>
                                    </section>
                                    <div class="clearfix"></div>

                                </section>

                                <section id="comp-ped">
                                    <div class="col-sm-3 col-md-3 row-title">
                                        <p>Pre Existing Diseases<span class="helpicon">?</span></p>
                                    </div>
                                    <section data-bind="foreach: currentTab().plansToCompare()">
                                        <div class="col-sm-3 col-md-3 cell-value">
                                            <p data-bind="text: 'Covered after ' + parseInt(ped.waiting_period/12) + ' years'"></p>
                                        </div>
                                    </section>
                                    <div class="clearfix"></div>

                                </section>

                                <section id="comp-restore" data-bind="visible: !step2.is_topup()">
                                    <div class="col-sm-3 col-md-3 row-title">
                                        <p>Restore Benefits<span class="helpicon">?</span></p>
                                    </div>
                                    <section data-bind="foreach: currentTab().plansToCompare()">
                                        <div class="col-sm-3 col-md-3 cell-value" data-bind="foreach:attr_list_high">
                                            <p data-bind="if:$data[1].title=='Restore benefits'">
                                            <span class="glyphicon glyphicon-ok"
                                                data-bind="css: {'glyphicon-ok': $data[1].available, 'glyphicon-remove': !$data[1].available}"></span>
                                            </p>
                                        </div>
                                    </section>
                                    <div class="clearfix"></div>

                                </section>

                                <section id="comp-ped" data-bind="visible: !step2.is_topup()">
                                    <div class="col-sm-3 col-md-3 row-title">
                                        <p>Free Additional Cover (only in case of no claim)<span class="helpicon">?</span></p>
                                    </div>
                                    <section data-bind="foreach: currentTab().plansToCompare()">
                                        <div class="col-sm-3 col-md-3 cell-value">
                                            <p data-bind="visible: five_year_cover[0] == five_year_cover.slice(-1)[0]">No additional cover</p>
                                            <p data-bind="visible: five_year_cover[0] != five_year_cover.slice(-1)[0]">
                                            <span data-bind="currency_word_withoutINR:sum_assured"></span> increases to <strong>
                                                <span data-bind="currency_word_withoutINR: five_year_cover.slice(-1)[0] "></span>
                                            </strong> in <span data-bind="text: five_year_cover.length"></span> years
                                            </p>
                                        </div>
                                    </section>
                                    <div class="clearfix"></div>

                                </section>

                                <section id="comp-break">
                                    <div class="col-sm-3 col-md-3 row-title special small">

                                    </div>
                                    <div class="col-sm-3 col-md-3 cell-value small break">
                                        <p>Other plan features</p>
                                    </div>
                                    <div class="col-sm-3 col-md-3 cell-value small break"></div>
                                    <div class="col-sm-3 col-md-3 cell-value small break" data-bind="visible : currentTab().plansToCompare().length > 2"></div>
                                    <div class="clearfix"></div>
                                </section>

                                <section id="comp-other-features" data-bind="foreach: attr_titles">
                                    <div data-bind="if:$data[1]!='Restore benefits'">
                                        <div class="col-sm-3 col-md-3 row-title small">
                                            <p><span data-bind="text: $data[1]"></span><span class="helpicon">?</span></p>
                                        </div>
                                        <section data-bind="foreach: $parent.currentTab().plansToCompare()">
                                            <div class="col-sm-3 col-md-3 cell-value small">
                                                <p>
                                                <span class="glyphicon glyphicon-ok"
                                                    data-bind="css: {'glyphicon-ok': getAttr($data, $parent[0]).available, 'glyphicon-remove': !getAttr($data, $parent[0]).available}"></span>
                                                </p>

                                            </div>
                                        </section>
                                        <div class="clearfix"></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>


    <section id="modify-details" data-bind="if:currentTab()">
        <div id="modify-details-wrapper" class="cubic-trans"
            data-bind="css: {open: modifyDetailsMode()}">
            <div class="container">
                <div class="row">
                    <div class="modify-details-popup cubic-trans col-md-8 col-md-offset-2"
                        data-bind="click: function(){}, clickBubble: false">
                        <h3>Modify Details</h3>

                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <h4>Family Members</h4>
                            <ul class="family-options special" data-bind="foreach:step1.getAdults">
                                <li data-bind="css:{selected:selected()},click:$parent.step1.selectMember"><span
                                    class="glyphicon glyphicon-plus-sign"></span><span
                                    class="glyphicon glyphicon-ok"></span>
                                <span data-bind="text:displayName"></span>
                                <span class="age" data-bind="click: function(){}, clickBubble: false">
                                    <select data-bind="options:ageList, value: age, optionsValue: 'id', optionsText: 'name', optionsCaption:'Select age', css:{'has-error': !age()}"></select>
                                    <span class="down-arrow">
                                        <object type="image/svg+xml" width="15" data="/static/health_product/desktopv2/app/assets/img/down-arrow.svg"></object>
                                    </span>
                                </span>
                                </li>
                            </ul>
                            <ul class="family-options special" data-bind="foreach:step1.getSelectedKids">
                                <li data-bind="css:{selected:selected()},click:$parent.step1.selectMember"><span
                                    class="glyphicon glyphicon-plus-sign"></span><span
                                    class="glyphicon glyphicon-ok"></span>
                                <span data-bind="text:displayName"></span>
                                <span class="age" data-bind="click: function(){}, clickBubble: false">
                                    <select data-bind="options:ageList, value: age, optionsValue: 'id', optionsText: 'name', optionsCaption:'Select age', css:{'has-error': !age()}"></select>
                                    <span class="down-arrow">
                                        <object type="image/svg+xml" width="15" data="/static/health_product/desktopv2/app/assets/img/down-arrow.svg"></object>
                                    </span>
                                </span>
                                </li>
                            </ul>
                            <ul class="family-options" data-bind="visible:step1.getSelectedKids().length < 7">
                                <li class="add cubic-trans" data-bind="click:step1.addKid.bind($data, 'son')"><span
                                    class="glyphicon glyphicon-plus-sign"></span> Add Son
                                </li>
                                <li class="add cubic-trans" data-bind="click:step1.addKid.bind($data, 'daughter')"><span
                                    class="glyphicon glyphicon-plus-sign"></span> Add Daughter
                                </li>
                            </ul>

                            <div class="error cubic-trans text-center" data-bind="validationElement: step1.members">
                                <span class="error-message" data-bind="validationMessage : step1.members"></span>
                            </div>
                            <div class="error cubic-trans text-center" data-bind="validationElement : step1.cumulativeAgeError">
                                <span class="error-message" data-bind="validationMessage : step1.cumulativeAgeError"></span>
                            </div>
                        </div>
                        <div class="col-md-12 prev-policy" data-bind="visible:step2.is_topup()">
                            <h4>Existing Healthcare Policy Sum Assured</h4>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                   <div class="cfinput-wrap">
                                       <div class="cfinput">
                                           <select data-bind="options: step2.deductible_options, optionsValue: 'id', optionsText: 'name',
                                                              value:step2.deductible, optionsCaption: 'Select'">
                                           </select>
                                       </div>
                                       <div class="cfalert">
                                            <div class="error input-error cubic-trans"
                                                data-bind="validationElement: step2.deductible">
                                                <span data-bind="validationMessage : step2.deductible"></span>
                                            </div>
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h4>Pincodes</h4>

                            <div class="col-md-12 pincodes">
                                <div class="col-md-6"
                                    data-bind="visible:step3.hasFamily(), css: {'col-md-offset-3': !step3.hasParents()}">
                                    <div class="cfinput-wrap">
                                        <div class="cfinput">
                                            <label for="selfpin" class="cubic-trans"
                                                data-bind="css: {reveal: step3.userPincode()}">Your Pincode</label>
                                            <input type="text" id="selfpin" placeholder="Enter your pincode"
                                            data-bind="value : step3.userPincode, valueUpdate: 'afterkeydown'"/>
                                        </div>
                                        <div class="cfalert">
                                            <div class="error input-error cubic-trans"
                                                data-bind="validationElement: step3.userPincode">
                                                <span data-bind="validationMessage : step3.userPincode"></span>
                                            </div>
                                            <p class="notification hide">We found <a href="#" class="show-hospital-list">10
                                                hospitals</a> at this location.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"
                                    data-bind="visible:step3.hasParents(), css: {'col-md-offset-3': !step3.hasFamily()}">
                                    <div class="cfinput-wrap">
                                        <div class="cfinput">
                                            <label for="parentspin" class="cubic-trans"
                                                data-bind="css: {reveal: step3.parentsPincode()}">Parents'
                                                Pincode</label>
                                            <input type="text" id="parentspin" placeholder="Enter your parents' pincode"
                                            data-bind="value : step3.parentsPincode,  valueUpdate: 'afterkeydown'"/>
                                        </div>
                                        <div class="cfalert">
                                            <div class="error input-error cubic-trans"
                                                data-bind="validationElement: step3.parentsPincode">
                                                <span data-bind="validationMessage : step3.parentsPincode"></span>
                                            </div>
                                            <p class="notification hide">We found <a href="#" class="show-hospital-list">10
                                                hospitals</a> at this location.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <div class="col-md-12 continue-btn">
                            <a class="btn-cfox orange btn-next" data-bind="click: reloadResults">Modify results<img
                                src="/static/health_product/desktopv2/app/assets/img/forward-button-white.png"
                                alt=""></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
