@import "arrow.less";
/*@cfBaseColor: #FF7703;*/
/*@cfBaseColor: #FF6442;*/
@cfBaseColor: #FF7B5E;
//@cfBaseColor: #FF6127;
@healthBaseColor: #00D9AA;
@overlayBGColor: rgba(45,58,77,0.95);
@baseFont: 'Open Sans','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
@baseTextColor: #333130;
@lightTextColor: #666666;
@zIndexOverlay: 100;
@zIndexMenus: 60;
@closeColor: #ff413a;
@baseDark: #314451;
*{
  -webkit-backface-visibility:hidden;
}

.roundedCorners(@radius: 3px){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}


.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}
.verticallyCentered{
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top:50%;
}
.horizontallyCentered{
  left:50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.transform(@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}
.perspective(@value: 1000px){
  -webkit-perspective:@value;
  perspective:@value;
}
.transition-delay(@delay){
  -webkit-transition-delay: @delay;
  -moz-transition-delay: @delay;
  -o-transition-delay: @delay;
  transition-delay: @delay;
}
.d1{
  .transition-delay(100ms)!important;
}
.d2{
  .transition-delay(200ms)!important;
}
.d3{
  .transition-delay(300ms)!important;
}
.d4{
  .transition-delay(400ms)!important;
}
.pnone{
  padding:0;
}
.mnone{
  margin:0;
}
.transform-origin (@x:center, @y:center) {
  -webkit-transform-origin: @x @y;
  -moz-transform-origin:    @x @y;
  -ms-transform-origin:     @x @y;
  -o-transform-origin:      @x @y;
}
.thinBorder(@color: @cfBaseColor, @radius: 3px){
  .roundedCorners(@radius);
  padding:5px 10px;
  border:1px solid @color;
}
.filledLabel(@fillcolor: @cfBaseColor, @textcolor: #fff){
  .thinBorder(darken(@fillcolor, 8%));
  background-color: @fillcolor;
  color: @textcolor;
}
.wideUppercase(@letterspacing: 3px){
  text-transform: uppercase;
  letter-spacing: @letterspacing;
}
body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family:@baseFont;
  color: @baseTextColor;
}
.pnone{
  padding:0;
}
.rounded{
  .roundedCorners;
}
.boxShadow (@hor: 3px, @vert: 2px, @blur: 5px, @shadow: #717171) when (iscolor(@shadow)){
  -webkit-box-shadow: @hor @vert @blur @shadow;
  -moz-box-shadow: @hor @vert @blur @shadow;
  box-shadow: @hor @vert @blur @shadow;
}
.boxShadow (@hor: 3px, @vert: 2px, @blur: 5px, @shadow: 50%) when (isnumber(@shadow)){
  .boxShadow(@hor, @vert, @blur, rgba(0,0,0, @shadow));
}
.boxInsetShadow (@hor: 3px, @vert: 2px, @blur: 5px, @shadow: #717171) when (iscolor(@shadow)){
  -webkit-box-shadow:inset @hor @vert @blur @shadow;
  -moz-box-shadow:inset @hor @vert @blur @shadow;
  box-shadow:inset @hor @vert @blur @shadow;
}
.boxInsetShadow (@hor: 3px, @vert: 2px, @blur: 5px, @shadow: 50%) when (isnumber(@shadow)){
  .boxInsetShadow(@hor, @vert, @blur, rgba(0,0,0, @shadow));
}
.boxMultipleShadow(@value){
  -webkit-box-shadow: @value;
  -moz-box-shadow: @value;
  box-shadow: @value;
}
.transition (@range: all, @time: 0.5s, @ease: cubic-bezier(.4, 0, .2, 1)) {
  -moz-transition: @range @time @ease;
  -webkit-transition: @range @time @ease;
  -o-transition: @range @time @ease;
  transition: @range @time @ease;
}

.transform-transition(@time: 0.5s, @ease: cubic-bezier(.4, 0, .2, 1)){
   -moz-transition: -moz-transform @time @ease;
  -webkit-transition: -webkit-transform @time @ease;
  -o-transition: -o-transform @time @ease;
  -ms-transition: -ms-transform @time @ease;
  transition: transform @time @ease;
}
.cubic-trans{
  .transition;
}

.cubic-transform{
  .transform-transition();
}
.bounce-trans{
  .transition(@ease:cubic-bezier(0.175, 0.885, 0.32, 1.275));
}
.webkitForceHardwareAcceleration() {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.btn-cfox{
  .gradient(rgba(0,0,0,0), rgba(0,0,0,0.05));
  .boxShadow(1px, 2px, 3px, 20%);
  letter-spacing: 2px;
  color:#fff;
  padding:10px;
  .roundedCorners;
  height:42px;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    color:#fff;
    .gradient(rgba(0,0,0,0), rgba(0,0,0,0.08));
  }
  &.small{
    text-transform: none;
    letter-spacing: 0px;
    padding:5px 10px;
    .boxShadow(1px, 1px, 1px, 20%);
  }
  &.medium{
    text-transform: none;
    letter-spacing: 0px;
    padding:8px 10px;
    .boxShadow(1px, 1px, 1px, 20%);
  }
  &.blank{
    background-color: transparent;
    color:#8baabc;
    border:1px solid #8baabc;
    .boxShadow(1px, 1px, 0px, 0%);
    .gradient(rgba(0,0,0,0), rgba(0,0,0,0));
  }
  &.flat{
    .gradient(rgba(0,0,0,0), rgba(0,0,0,0.0));
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:0;
  }
  &.orange{
    background-color: @cfBaseColor;
    border:1px solid darken(@cfBaseColor, 10%);
  }
  &.dark{
    background-color: @baseDark;
    border:1px solid darken(@baseDark, 10%);
    &:hover{
      background-color: darken(@baseDark,10%);
    }
  }
  &.btn-next{
    display:inline-block;
    height: 57px;
    position: relative;
  }
}
.ddcustom(@bgcolor, @textcolor){
  background: @bgcolor;
  border-color:darken(@bgcolor, 20%);
  #arrow > .top(10px, @bgcolor, 1px, darken(@bgcolor, 20%));
  a{
    border-color:darken(@bgcolor, 10%);
    color:@textcolor;
    &:hover{
      background: darken(@bgcolor, 8%);
      color:@textcolor;
    }
    &.selected{
      background: darken(@bgcolor, 10%);
    }
  }
}
.dd-parent{
  position: relative;
  cursor: pointer;
  color:lighten(@baseTextColor, 30%);
  .dd{
    position: absolute;
    top:120%;
    right:0;
    z-index: @zIndexMenus;
    #arrow > .top(10px, #fff, 1px, @cfBaseColor);
    background: #fff;
    width:220px;
    border:1px solid @cfBaseColor;
    .transform(translateX(-30px));
    opacity:0;
    pointer-events:none;
    visibility: hidden;
    &.left{
      left:0;
      right:auto;
      &:after, &:before{
        left:30px!important;
        right:auto!important;
      }
    }
    a{
      display: block;
      text-align: left;
      padding: 10px 20px;
      .wideUppercase(3px);
      color:@baseTextColor;
      border-bottom:1px solid #f6f7f8;
      &:hover{
        color:@cfBaseColor;
        text-decoration: none;
        span.badge{
          color:#fff;
          background: @cfBaseColor;
        }
      }
      &:last-child{
        border-bottom:none;
      }
      span{
        color: @cfBaseColor;
        &.badge{
          font-weight: normal;
          background: transparent;
          border:1px solid @cfBaseColor;
          letter-spacing: 0;
        }
      }
    }
    &:after, &:before{
      right:30px!important;
    }
  }
  &:hover{
    color:@baseTextColor;
  }
  &.active{
    .dd{
      .transform(translateX(0px));
      visibility: visible;
      opacity:1;
      pointer-events:all;
    }
  }
}
.clearfix{
  pointer-events:none;
}
.cfnav{
  background: #fff;
  border-bottom:1px solid rgba(0,0,0,0.15);
  padding-left:15px;
  padding-right:15px;
  .roundedCorners(0);
  height:55px;
  margin-bottom: 0;
  .navbar-nav {
    & > li > a {
      padding-top: 17px;
      padding-bottom: 16px;
      &.login{
        padding-top:10px;
        padding-bottom: 8px;
        img{
          max-width: 35px;
          margin-right: 10px;
        }
      }
    }
    .open{
      a, a:hover, a:focus{
      }
    }
  }
  .logo{
    text-align: center;
    height:55px;
    padding:15px 0px;
    img{
      width:118px;
    }
  }
}
.text-input-cfox{
  padding:10px;
  .roundedCorners;
  height:42px;
  .boxInsetShadow(1px,2px,3px,10%);
  &:focus{
    border-color: @cfBaseColor;
    outline: 0;
    -webkit-box-shadow: inset 1px 2px 3px rgba(0,0,0,0.1),0 0 10px lighten(@cfBaseColor, 10%);
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.1),0 0 10px lighten(@cfBaseColor, 10%);
  }
}
.prnone{
  padding-right:0;
}
.BoxShadowHelper(@level: 1){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}
