/* Overridden style sheet for just Dial Health Insurance result pages */
.element-styling {
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset;
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  background-color: #f5f5f5;
  font-size: 14px;
  display: inline-block;
  min-width: 150px;
}
.btn-cfox {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4ac0f0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-cfox:hover {
  text-decoration: none;
  background-color: #1bb0ec;
}
.sidebar-label {
  text-transform: CAPITALIZE;
  color: #616161;
}
.results-block-wrapper,
body.results-page {
  background-color: #fbfbfb;
}
.results-block-plans {
  margin-bottom: 100px;
}
.results-block-plans:after {
  content: '';
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  height: 100px;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
}
.plans-header {
  text-transform: none;
  color: #616161;
  letter-spacing: 0px;
}
.filters-header {
  display: none;
}
.dropdown-trigger > a {
  color: #616161;
  border: 1px solid #ffa360;
}
.dropdown-trigger ul.sidebar-options {
  border-color: #ffa360;
}
.dropdown-trigger ul.sidebar-options li:hover,
.dropdown-trigger ul.sidebar-options li.selected {
  color: #ffa360;
}
.dropdown-trigger.sort ul.sidebar-options {
  top: 41px;
}
.results-sidebar-section.special {
  border-top-width: 0px;
}
h1.results-tab-header {
  color: #616161;
  letter-spacing: 0px;
}
h1.results-tab-header a {
  min-width: 120px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4ac0f0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
h1.results-tab-header a:hover {
  text-decoration: none;
  background-color: #1bb0ec;
}
h1.results-tab-header a:hover {
  background-image: none;
}
#deep-filters .results-sidebar-section.special {
  position: relative;
}
#deep-filters .results-sidebar-section.special:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  bottom: 5px;
  position: absolute;
  background: url(../img/jd/box-shadow.jpg) no-repeat center center transparent;
}
.plan-card {
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.03) inset;
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 0px;
  border-bottom-width: 0px;
  max-height: 160px;
}
.plan-card .pc-cover p.label,
.plan-card .pc-deductible p.label,
.plan-card .pc-premium p.label,
.plan-card .pc-buttons p.label,
.plan-card .pc-hospitals p.label {
  color: #626262;
  font-weight: normal;
  text-transform: none;
  padding: 0;
  font-size: 14px;
}
.plan-card .pc-premium p.value {
  margin-top: 0px;
}
.plan-card .pc-buttons ul li.btn-cfox {
  text-transform: none;
  background: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4ac0f0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.plan-card .pc-buttons ul li.btn-cfox:hover {
  text-decoration: none;
  background-color: #1bb0ec;
}
.plan-card .pc-summary {
  background-color: transparent;
  border-top: 0px solid transparent;
  height: auto;
}
.plan-card .pc-summary ul {
  padding-top: 0px;
}
.plan-card .pc-summary ul:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 0;
}
.plan-card .pc-summary ul li {
  color: #616161;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 13px;
  float: left;
  display: inline-block;
}
.plan-card .pc-summary ul li:after {
  display: none;
}
.plan-card .pc-summary ul li > span {
  color: #949494;
  font-size: 12px;
}
.plan-card .pc-button-wrapper {
  background-color: transparent;
}
.plan-card .pc-company-info p.link-text {
  font-size: 13px;
  color: #0f75c0;
  background-image: none;
  position: relative;
}
.plan-card .pc-company-info p.link-text:before {
  position: absolute;
  top: 1px;
  left: -1px;
  background-color: #aaaaaa;
  color: #ffffff;
  content: "+";
  font-size: 16px;
  line-height: 1em;
  font-weight: bold;
  width: 17px;
  height: 17px;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.plan-card .pc-company-info {
  border-right-width: 0px;
  position: relative;
  padding-top: 10px;
}
.plan-card .pc-company-info:after {
  content: "";
  display: block;
  width: 2px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  background: url(../img/jd/box-shadow-vertical.jpg) no-repeat center center transparent;
}
.plan-card .pc-cover p.value,
.plan-card .pc-deductible p.value,
.plan-card .pc-premium p.value,
.plan-card .pc-buttons p.value,
.plan-card .pc-hospitals p.value {
  color: #fe6d02;
  font-size: 16px;
}
.plan-card > div {
  height: auto;
  min-height: 160px;
}
.plan-card ul.cf-tabs li.active,
.plan-card .result-tab h3,
.plan-card .factor-label .factor-detail .factor-detail-heading,
.plan-card #plan-conditions .conditions-table p.label {
  color: #fe6d02;
}
.plan-card.open .pc-details {
  border-top: 1px solid #E9E9E9;
}
.plan-card.open .pc-compare,
.plan-card.open .pc-company-info,
.plan-card.open .pc-summary {
  border-bottom: 0px solid transparent;
}
.plan-card .detail-tab-container {
  border-color: #eaeaea;
}
.plan-card ul.cf-tabs li.active {
  border-color: #eaeaea;
  -webkit-box-shadow: -1px 3px 3px rgba(114, 123, 155, 0.1);
  -moz-box-shadow: -1px 3px 3px rgba(114, 123, 155, 0.1);
  box-shadow: -1px 3px 3px rgba(114, 123, 155, 0.1);
}
.expert-card {
  visibility: hidden !important;
  display: none !important;
  opacity: 0 !important;
}
#compare-popup-wrapper .compare-btn a,
#compare-footer-wrapper .btn-cfox,
.continue-btn .btn-cfox {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4ac0f0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#compare-popup-wrapper .compare-btn a:hover,
#compare-footer-wrapper .btn-cfox:hover,
.continue-btn .btn-cfox:hover {
  text-decoration: none;
  background-color: #1bb0ec;
}
.cell-value.special p,
.modify-details-popup h4 {
  color: #ffa360;
}
.modify-details-popup ul.modify-healthcare-options li.selected {
  background-color: #ffa360;
  border-color: rgba(0, 0, 0, 0.2);
}
.modify-details-popup ul.family-options li {
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset;
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  background-color: #f5f5f5;
  font-size: 14px;
  display: inline-block;
  min-width: 150px;
  text-align: left;
}
.modify-details-popup ul.family-options li.selected {
  background-color: #ffa360;
  border-color: rgba(0, 0, 0, 0.2);
}
.modify-details-popup ul.family-options li.selected span.age {
  border-left-color: rgba(0, 0, 0, 0.2);
  background-color: #ffa360;
}
.modify-details-popup ul.family-options li.selected span.glyphicon-ok {
  background-color: #ffffff;
  color: #666666;
}
.modify-details-popup ul.family-options li.add {
  border-color: #eaeaea;
  letter-spacing: 0px;
}
.modify-details-popup ul.family-options li.add span {
  color: #666666;
}
.modify-details-popup ul.modify-healthcare-options {
  margin-bottom: 40px;
}
.modify-details-popup ul.modify-healthcare-options li {
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset;
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  background-color: #f5f5f5;
  font-size: 14px;
  display: inline-block;
  min-width: 150px;
  height: 40px;
}
.modify-details-popup ul.modify-healthcare-options li span {
  font-size: 14px;
  font-weight: normal;
}
.modify-details-popup ul.modify-healthcare-options li span br {
  display: none;
}
.modify-details-popup ul.modify-healthcare-options li span small {
  font-size: 14px;
  padding-left: 5px;
}
.modify-details-popup ul.modify-healthcare-options li span span {
  top: 130%;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px 0;
  left: 5px;
  right: 5px;
}
.modify-details-popup ul.modify-healthcare-options li.selected span span {
  background-color: #ff852d;
}
.pincodes {
  margin-top: 10px;
}
.cfinput-wrap .cfinput {
  padding: 23px 23px 13px 23px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset;
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  background-color: #f5f5f5;
  font-size: 14px;
  display: inline-block;
  min-width: 150px;
}
.cfinput-wrap .cfinput input {
  background-color: transparent;
}
.continue-btn {
  margin-top: 15px;
}
.continue-btn .btn-cfox {
  height: 50px;
  font-size: 18px;
}
/*
.results-tab-bar-wrapper {
  top:103px;
}
*/
ul.results-tabs li.active {
  background-color: #ffa360;
}
/*
#results-section-header[style="margin-top: 60px;"] {
  margin-top:100px !important;
}

#results-section-header[style="margin-top: 145px;"] {
  margin-top:175px !important;
}
*/
.pc-summary ul li.spl-feature > h4 {
  background-color: transparent;
  font-size: 13px;
  font-weight: normal;
}
select option {
  color: black;
}
.jd-header {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 400;
  top: 0px;
}
