.box-shadow-popup{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -ms-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.input-box-shadow {
  -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.05) inset;
  -moz-box-shadow: 0px 2px 3px rgba(0,0,0,0.05) inset;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.05) inset;
}
.border-radius-popup{
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
.border-radius-img{
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}
.modal-overlay {
  position: fixed;
  width: 100%;
  background: rgba(49, 68, 81, 0.9);
  top: 0;
  height: 100vh;
  z-index: 1050;
  overflow-y: scroll;
}
.cfox-dialog {
  width: 760px;
  margin: 30px auto;
}
.cover-popup-container{
  background-color: #ffffff;
  text-align: center;
  padding: 30px 20px 20px;
  .box-shadow-popup;
  .border-radius-popup;
  .link{
    font-size: 14px;
    outline:none;
    text-decoration: underline;
    color:#f78460;
  }
  h2{
    font-size:25px;
    color:#314451;
    margin: 15px 0;
    & span {
      text-transform: capitalize;
      font-size:30px;
      display: inline-block;
      padding:0px 5px;
    }
  }
  .phone-container{
    margin: 30px auto 10px;
    width:60%;
    & .disabled {
      pointer-events: none;
      -webkit-pointer-events: none;
      -o-pointer-events: none;
      -ms-pointer-events: none;
      -moz-pointer-events: none;
    }
    .cf-input {
      height:47px;
      font-size:14px;
      padding: 5px 5px 5px 50px;
      border: 1px solid rgba(0,0,0,0.2);
      background-color: #fdfdf7;
      position: relative;
      .input-box-shadow;

      .border-radius-popup;
      & input {
        width: 100%;
        height: 100%;
        display: block;
        padding: 0px;
        font-size: 16px;
        background-color: transparent;
        border: 0px solid transparent;
        &:hover,&:active,&:focus {
          outline: none;
        }
      }
      & > span{
        left: 10px;
        position: absolute;
        top: 12px;
        font-size: 16px;
      }
    }
    .errorClass {
      color:#ff2222;
      padding:5px;
    }
  }
  .terms-msg {
    margin:20px 15%;
    font-size:12px;
    color:#999999;
    line-height: 1.6em;
    text-align: left;
  }
  .btn-popup{
    margin: 10px auto;
    a {
      background-color: #f78460;
      color: #fff;
      display: block;
      min-height: 47px;
      padding-top: 12px;
      outline: none;
      text-decoration: none;
      font-size: 16px;
    }
  }
  .popup-testmonial-container{
    margin: 30px -20px 20px;
    padding: 25px 0px 25px;
    background-color: #f1f4f6;
    .testimonail-left{
      width:50%;
      float: left;
      padding: 0 25px;
      .img-radius{
        float: left;
        width:65px;
        height:65px;
        .border-radius-img;
        background: #f5f5f5;
        border:1px solid rgba(0,0,0,0.2);
        margin: 20px 0 0 0;
        img{
          .border-radius-img;
          display: block;
          width:100%;
        }
      }
      .testimonial-txt{
        float: left;
        width:70%;
        margin: 0 0 0 30px;
        font-size:13px;
        color:#314451;
        text-align: left;
        &.margin-top{
          margin-top:40px;
        }
        & .title {
          color: #419BE0;
          display: block;
          margin-top: 10px;
        }
        .triangle-border.left:before {
          border-color: transparent #e4e4e4;
          border-width: 12px 26px 12px 0;
          bottom: auto;
          left: -26px;
          top: 37px;
        }
        .triangle-border:before {
          border-color: #e4e4e4 transparent;
          border-style: solid;
          border-width: 20px 20px 0;
          bottom: -20px;
          content: "";
          display: block;
          left: 40px;
          position: absolute;
          width: 0;
        }
        .triangle-border.left:after {
          border-color: transparent #fff;
          border-width: 9px 21px 9px 0;
          bottom: auto;
          left: -21px;
          top: 40px;
        }
        .triangle-border:after {
          border-color: #fff transparent;
          border-style: solid;
          border-width: 13px 13px 0;
          bottom: -13px;
          content: "";
          display: block;
          left: 47px;
          position: absolute;
          width: 0;
        }
        .triangle-border {
          background-color: #fff;
          border: 2px solid #e4e4e4;
          border-radius: 10px;
          margin: 0;
          padding: 10px 10px 10px 15px;
          min-height: 125px;
          position: relative;
        }
      }
    }
  }
}
