#medical-container {
    position:relative;
}
#bounding-box-question {
    padding: 0px 50px 0px 50px;
}
#bounding-box-question .checkup {
    background:url('/static/health_product/img/medical-checkup.png') no-repeat top left transparent;
    font-size:26px;
    font-weight:bold;
    padding:0px 15px 15px 70px;
    min-height:70px;
    border-bottom:2px dotted #cae6ce;
}

#bounding-box-question span.num {
    width: 35px;
    height: 35px;
    display: inline-block;
    color: #7bcab2;
    border-radius: 50%;
    font-weight: bold;
    font-size: 25px;
    padding-top: 0px;
    text-align: center;
    margin-right: 10px;
}
#bounding-box-question .spl-table {
    width:100%;
    margin-bottom: 20px;
}
#bounding-box-question .spl-table td {
    padding:10px 0px;
}
#bounding-box-question div.infm {
    padding:10px 45px;
    border:1px dashed #cae6ce;
    position:relative;
    margin:10px 0px 0px;
    background-color:#f5f5f5;
}
#bounding-box-question div.infmn {
    padding:45px 25px 1px;
    border:1px dashed #cacaca;
    position:relative;
    margin:20px 0px 10px;
}
#bounding-box-question div.infmn div.patch {
    display:inline-block;
    padding:5px 10px;
    font-size:16px;
    color:#ffffff;
    background-color:#ff9f6e;
    position:absolute;
    top:-1px;
    left:-1px;
    font-weight:normal;
}
#bounding-box-question div.infm span.ico {
    position: absolute;
    top: 5px;
    left: 2px;
    width: 35px;
    height: 35px;
    color: #7bcab2;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    font-style:italic;
}

#bounding-box-question div.infm div.hdr {
    color:#999999;
    text-transform:uppercase;
    margin-bottom:10px;
}
#bounding-box-question div.q-infm div.bdy,#bounding-box-question div.infmn div.bdy {
    padding-left:20px;
    margin-bottom:10px;
    position:relative;
}
#bounding-box-question div.bdy span.pointer {
    color: #7bcab2;
    top:0;
    left:0;
    position:absolute;
}
#bounding-box-question .form-hdr {
    position: relative;
    margin: 30px 0px 0px;
    padding: 5px 100px 5px 5px;
    background: #f0f0f0;
    text-align: center;
    color: #777777;
    border: 1px solid #ff9f6e;
    border-bottom-width:0px;
}
#bounding-box-question .form-hdr .arrow_box {
    position: relative;
    background: #ff9f6e;
}
#bounding-box-question .form-hdr .arrow_box:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #ff9f6e;
    border-width: 10px;
    margin-top: -10px;
}
#bounding-box-question .form-hdr .arrow_box.right {
    position:absolute;
    height:100%;
    top:0px;
    right:0px;
    padding-top:10px;
    width:75px;
    text-align:center;
    color:#ffffff;
}
#bounding-box-question #time-widget:after {
    right: 100%;
    top: 25px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-right-color: #fafafa;
    border-width: 15px;
    margin-top: -15px;
    margin-left: 0px;
}
#bounding-box-question #number-widget {
    height:300px;
    text-align:center;
    padding:5px 20px;
}
#bounding-box-question #time-widget .clock , #bounding-box-question #number-widget .phone {
    color:#ff9f6e;
    font-size:35px;
    text-align:center;
}
#bounding-box-question div.custom-margin {
    margin:0px -25px 25px;
}
#bounding-box-question #time-widget .time-table th {
    text-align:center;
    width:33.34%;
    color:#f26522;
    font-size:10px;
    text-transform:uppercase;
    padding:10px 2px;
}
#bounding-box-question #time-widget .time-table td {
    text-shadow: 0px 1px 0px #ffffff;
    cursor:pointer;
}
#bounding-box-question #widget-box {
    border: 1px solid #ff9f6e;
}
#bounding-box-question #widget-box .complete{
    border: 2px dashed #cae6ce;
    text-align:center;
    margin:20px 0px 10px;
    padding:10px;
}
#bounding-box-question #widget-box .error-field {
    color:red;
    font-size:12px;
}
#bounding-box-question #widget-box .complete .highlight {
    font-size:30px;
    color:#ff9f6e;
}
#bounding-box-question .cover-infm {
    padding:10px;
    border:1px dashed #cae6ce;
    position:relative;
    margin:10px 0px 10px;
}
#bounding-box-question .spl-table tbody {
    vertical-align:top;
}



#bounding-box-question #time-widget {
    min-height:300px;
    background: #ececec;
    text-align:center;
    padding:5px;
    position:relative;
    border-left:1px solid #ececec;
}
#bounding-box-question #time-widget:after {
    left: 100%;
    top: 25px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 15px solid transparent;
    border-left-color: #fafafa;
    margin-top: -15px;
    margin-left: 0px;
}
#bounding-box-question #number-widget {
    min-height:300px;
    text-align:center;
    padding:5px 20px;
}
#number-widget label {
    font-weight:normal;
}
#bounding-box-question #time-widget .clock , #bounding-box-question #number-widget .phone {
    color:#ff9f6e;
    font-size:35px;
    text-align:center;
}
#bounding-box-question #time-widget .clock .txt {
    font-size: 15px;
    padding: 5px;
    color: #777777;
    position: relative;
    text-align: center;
    top: -10px;
}
#bounding-box-question div.custom-margin {
    margin:25px 0px 25px;
}
#bounding-box-question #time-widget .time-table ul {
    margin: 0px;
    padding: 0px;
}
#bounding-box-question #time-widget .time-table ul li {
    list-style-type: none;
    cursor: pointer;
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #dadada;
}
#bounding-box-question #time-widget .time-table th {
    text-align:center;
    width:33.34%;
    color:#FF9F6E;
    font-size:12px;
    text-transform:uppercase;
    padding:10px 2px;
}
#bounding-box-question #time-widget .time-table td {
    text-shadow: 0px 1px 0px #ffffff;
    padding: 0px;
}
#bounding-box-question #time-widget .time-table ul li:hover,
#bounding-box-question #time-widget .time-table ul li.active {
    background-color:#828383; /* #ff9f6e; */
    color:#ffffff;
    text-shadow: none;
}
#bounding-box-question #widget-box {
    border: 1px solid #ff9f6e;
}
#bounding-box-question #widget-box .complete{
    border: 2px dashed #cae6ce;
    text-align:center;
    margin:20px 0px 10px;
    padding:10px;
}
#bounding-box-question #widget-box .error-field {
    color:red;
    font-size:12px;
}
#bounding-box-question #widget-box .complete .highlight {
    font-size:30px;
    color:#ff9f6e;
}
#bounding-box-question .cover-infm {
    padding:10px;
    border:1px dashed #cae6ce;
    position:relative;
    margin:10px 0px 0px;
}
#bounding-box-question .cover-infmg {
    padding:10px;
    border:1px solid #ff9f6e;
    position:relative;
    margin:10px 0px 0px;
    line-height:1.2em;
    background: #f5f5f5;
}
#bounding-box-question .cover-infmg .highlight {
    font-size:20px;
    color:#ff9f6e;
    margin-bottom: 5px;
}
#bounding-box-question .form-hdr {
    position: relative;
    margin:0px;
    padding: 15px 100px 15px 15px;
    background: #f0f0f0;
    text-align: left;
    color: #777777;
    border: 1px solid #ff9f6e;
    border-bottom-width:0px;
}
#bounding-box-question .form-hdr .arrow_box {
    position: relative;
    background: #ff9f6e;
}
#bounding-box-question .form-hdr .arrow_box:after {
    left: -20px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #ff9f6e;
    border-width: 10px;
    margin-top: -10px;
}
#bounding-box-question .form-hdr .arrow_box.right {
    position:absolute;
    height:100%;
    top:0px;
    right:0px;
    margin:0px;
    font-size:20px;
    width:75px;
    text-align:center;
    color:#ffffff;
}
#bounding-box-question > h2 {
    font-size:26px;
}
#bounding-box-question > p {
    max-width:900px;
}
#bounding-box-question #time-widget .time-table .frozen :hover,
#bounding-box-question #time-widget .time-table .frozen {
    color: #999999;
    background-color: #f5f5f5;
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: line-through;
}
