#registration_modal h1,
#registration_modal h2,
#registration_modal h3,
#registration_modal h4,
#registration_modal h5,
#registration_modal h6 {
}
#registration_modal h4 {
    font-size:16px;
}
#registration_modal .modal-input {
    width:80%;
}
#registration_modal .body-style {
    background:url('/static/img/rupy-bullet.png') no-repeat 45px 257px / 300px transparent;
    background-color: #fff;
    border-top:0;
    border-radius:10px;
    padding-bottom:60px;
}
#registration_modal #user_eu_div.body-style {
    background: url("/static/img/rupy-welcome.png") no-repeat scroll 25px 125px / 300px auto #F9F9F9;
}
#registration_modal .cf-dialog {
    max-width:730px;
    min-width:730px;
    width:80%;
    margin-top:40px;
}
#registration_modal .cf-fb-iframe {
    border:none;
    width:99%;
    height:450px;
}

#registration_modal .form-control::-moz-placeholder {
    color: #aaaaaa;
}
#registration_modal .or-seperate {
    color:#aaaaaa;
    margin:25px 0px 5px;
    font-size:14px;
}
#registration_modal .form-holder {
    width:240px;
    margin:auto;
    margin-top:40px;
}
#registration_modal .big-field {
    background-color: #FFFFFF;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    height: 44px;
    margin:10px 0px 5px;
}
#registration_modal .big-field .big-input {
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    height: 42px;
    float:left;
}
#registration_modal .big-field .field-button {
    border-right:1px solid rgba(0,0,0,0.08);
    background-color: #F0F0F0;
    color: #666666;
    float: left;
    font-size: 20px;
    font-weight: normal;
    height: 44px;
    padding: 6px 0;
    text-align: center;
    width: 26%;
    cursor:pointer;
}
#registration_modal .big-field .field-button.active,
#registration_modal .big-field .field-button.submit {
    background-color:#F78460;
    color:#ffffff;
    border-radius: 0 2px 2px 0;
}
#registration_modal .big-field .field-button.submit:hover {
    background-color:#df7250;
}
#registration_modal .modal-title {
    line-height:1.1em;
    margin-top:15px;
    font-size:25px;
    margin-bottom:20px;
    margin-right:-15px;
}
#registration_modal .cf-bullet {
    background:url('/static/img/cf-bullet.png') no-repeat left top transparent;
    padding-left:26px;
    font-size:14px;
    color:#666666;
    margin-bottom:20px;
}

#registration_modal .board-text {
    position: relative;
    top: 0px;
}
#registration_modal .user-tab {
    margin:0px 0px -1px;
    padding:0px;
}
#registration_modal .user-tab li {
    float:left;
    list-style-type:none;
    background-color: #999999;
    border-radius: 5px 5px 0 0;
    color: #F9F9F9;
    font-size: 16px;
    margin-left: 10px;
    padding: 6px 10px;
    position: relative;
    text-align: center;
    width: 120px;
    z-index: 10;
    cursor:pointer;
}
#registration_modal .user-tab li.active {
    background-color:#f9f9f9;
    color:#666666;
}

#tabcontent h3 {
    line-height: 1.4em;
}

#user_nu_div {
    min-height: 500px;
}
