/*@cfBaseColor: #FF7703;*/
/*@cfBaseColor: #FF6442;*/
* {
  -webkit-backface-visibility: hidden;
}
.verticallyCentered {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}
.horizontallyCentered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.d1 {
  -webkit-transition-delay: 100ms !important;
  -moz-transition-delay: 100ms !important;
  -o-transition-delay: 100ms !important;
  transition-delay: 100ms !important;
}
.d2 {
  -webkit-transition-delay: 200ms !important;
  -moz-transition-delay: 200ms !important;
  -o-transition-delay: 200ms !important;
  transition-delay: 200ms !important;
}
.d3 {
  -webkit-transition-delay: 300ms !important;
  -moz-transition-delay: 300ms !important;
  -o-transition-delay: 300ms !important;
  transition-delay: 300ms !important;
}
.d4 {
  -webkit-transition-delay: 400ms !important;
  -moz-transition-delay: 400ms !important;
  -o-transition-delay: 400ms !important;
  transition-delay: 400ms !important;
}
.pnone {
  padding: 0;
}
.mnone {
  margin: 0;
}
body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  color: #333130;
}
.pnone {
  padding: 0;
}
.rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.cubic-trans {
  -moz-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.cubic-transform {
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.bounce-trans {
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.btn-cfox {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 42px;
  cursor: pointer;
}
.btn-cfox:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.08)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
}
.btn-cfox.small {
  text-transform: none;
  letter-spacing: 0px;
  padding: 5px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-cfox.medium {
  text-transform: none;
  letter-spacing: 0px;
  padding: 8px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-cfox.blank {
  background-color: transparent;
  color: #8baabc;
  border: 1px solid #8baabc;
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-cfox.flat {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.btn-cfox.orange {
  background-color: #ff7b5e;
  border: 1px solid #ff512b;
}
.btn-cfox.dark {
  background-color: #314451;
  border: 1px solid #1e2931;
}
.btn-cfox.dark:hover {
  background-color: #1e2931;
}
.btn-cfox.btn-next {
  display: inline-block;
  height: 57px;
  position: relative;
}
.dd-parent {
  position: relative;
  cursor: pointer;
  color: #827d7a;
}
.dd-parent .dd {
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 60;
  background: #fff;
  width: 220px;
  border: 1px solid #ff7b5e;
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  -o-transform: translateX(-30px);
  transform: translateX(-30px);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.dd-parent .dd:after,
.dd-parent .dd:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dd-parent .dd:after {
  border-bottom-color: #ffffff;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.dd-parent .dd:before {
  border-bottom-color: #ff7b5e;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}
.dd-parent .dd.left {
  left: 0;
  right: auto;
}
.dd-parent .dd.left:after,
.dd-parent .dd.left:before {
  left: 30px!important;
  right: auto!important;
}
.dd-parent .dd a {
  display: block;
  text-align: left;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #333130;
  border-bottom: 1px solid #f6f7f8;
}
.dd-parent .dd a:hover {
  color: #ff7b5e;
  text-decoration: none;
}
.dd-parent .dd a:hover span.badge {
  color: #fff;
  background: #ff7b5e;
}
.dd-parent .dd a:last-child {
  border-bottom: none;
}
.dd-parent .dd a span {
  color: #ff7b5e;
}
.dd-parent .dd a span.badge {
  font-weight: normal;
  background: transparent;
  border: 1px solid #ff7b5e;
  letter-spacing: 0;
}
.dd-parent .dd:after,
.dd-parent .dd:before {
  right: 30px!important;
}
.dd-parent:hover {
  color: #333130;
}
.dd-parent.active .dd {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.clearfix {
  pointer-events: none;
}
.cfnav {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 15px;
  padding-right: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 55px;
  margin-bottom: 0;
}
.cfnav .navbar-nav > li > a {
  padding-top: 17px;
  padding-bottom: 16px;
}
.cfnav .navbar-nav > li > a.login {
  padding-top: 10px;
  padding-bottom: 8px;
}
.cfnav .navbar-nav > li > a.login img {
  max-width: 35px;
  margin-right: 10px;
}
.cfnav .logo {
  text-align: center;
  height: 55px;
  padding: 15px 0px;
}
.cfnav .logo img {
  width: 118px;
}
.text-input-cfox {
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 42px;
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.text-input-cfox:focus {
  border-color: #ff7b5e;
  outline: 0;
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1), 0 0 10px #ffa591;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1), 0 0 10px #ffa591;
}
.prnone {
  padding-right: 0;
}
body.results-page {
  padding-top: 55px;
  background: #f1f4f6;
}
#results-wrapper {
  position: relative;
}
#results-wrapper .mode-page {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 1000;
  background: #e3e3e3;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  visibility: hidden;
  pointer-events: none;
}
#results-wrapper.cp #results-content,
#results-wrapper.mh #results-content,
#results-wrapper.ms #results-content,
#results-wrapper.sl #results-content,
#results-wrapper.c #results-content,
#results-wrapper.sac #results-content,
#results-wrapper.l #results-content {
  -webkit-transform: translateY(80%);
  -moz-transform: translateY(80%);
  -ms-transform: translateY(80%);
  -o-transform: translateY(80%);
  transform: translateY(80%);
  opacity: 0;
}
#results-wrapper.cp #results-content #result-tabs,
#results-wrapper.mh #results-content #result-tabs,
#results-wrapper.ms #results-content #result-tabs,
#results-wrapper.sl #results-content #result-tabs,
#results-wrapper.c #results-content #result-tabs,
#results-wrapper.sac #results-content #result-tabs,
#results-wrapper.l #results-content #result-tabs {
  top: 0;
}
#results-wrapper.cp .mode-page,
#results-wrapper.mh .mode-page,
#results-wrapper.ms .mode-page,
#results-wrapper.sl .mode-page,
#results-wrapper.c .mode-page,
#results-wrapper.sac .mode-page,
#results-wrapper.l .mode-page {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
  visibility: visible;
  pointer-events: all;
}
#results-wrapper #sidebar {
  background: #f1f4f6;
  z-index: 100;
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 20px 0;
  z-index: 199;
}
#results-wrapper #sidebar:hover {
  z-index: 201;
}
#results-wrapper #sidebar .modify-selection {
  margin-left: 65px;
  padding: 6px 10px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  width: 160px;
  height: auto;
}
#results-wrapper #sidebar .modify-selection img {
  width: 15px;
}
#results-wrapper #sidebar .sidebar-section {
  padding-top: 22px;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content {
  font-weight: normal;
  padding-left: 80px;
  color: #33444f;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .dropdown .dropdown-toggle {
  color: #ff7b5e;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ff7b5e;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 8px;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .dropdown .dropdown-toggle:hover,
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .dropdown .dropdown-toggle:active {
  text-decoration: none;
  background: #fff;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .dropdown .dropdown-toggle .caret {
  float: right;
  border-width: 8px;
  border-top-width: 12px;
  margin-top: 4px;
  border-bottom: none;
  border-top: 12px solid;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div {
  display: inline-block;
  clear: both;
  margin-top: 15px;
  position: relative;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div > div {
  float: left;
  line-height: 125%;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div > div.filter-icon {
  width: 35px;
  height: 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #ff7b5e;
  text-align: center;
  color: #ff7b5e;
  padding: 9px 0;
  font-size: 12px;
  margin-right: 15px;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: -100px;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div > div ul.select-brands {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div > div ul.select-brands li {
  background: url(../img/tick-square-empty.png) no-repeat 0 5px;
  padding: 6px 0 10px 30px;
  background-size: 20px 20px;
  cursor: pointer;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div > div ul.select-brands li.selected {
  background-image: url(../img/tick-square-orange.png);
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div.sidebar-filter {
  cursor: pointer;
  width: 210px;
  padding: 5px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  position: relative;
  margin-top: 0px;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div.sidebar-filter:hover {
  border-color: #d2dce2;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div.sidebar-filter:hover .filter-icon {
  background: #ff7b5e;
  color: #fff;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div.sidebar-filter:hover .sidebar-filter-popup {
  display: block;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div.sidebar-filter:hover .sidebar-filter-popup ul.popup-options {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div.sidebar-filter:hover .sidebar-filter-popup ul.popup-options li {
  background: url(../img/tick-square-empty.png) no-repeat 0 5px;
  padding: 6px 0 10px 30px;
  background-size: 20px 20px;
  cursor: pointer;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div.sidebar-filter:hover .sidebar-filter-popup ul.popup-options li.selected {
  background-image: url(../img/tick-square-orange.png);
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div.sidebar-filter .sidebar-filter-popup {
  position: absolute;
  display: none;
  left: 100%;
  padding: 15px;
  width: 300px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(58, 55, 71, 0.9);
  color: #fff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div.sidebar-filter .sidebar-filter-popup:after,
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div.sidebar-filter .sidebar-filter-popup:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div.sidebar-filter .sidebar-filter-popup:after {
  border-right-color: #33444f;
  border-width: 6px;
  top: 50%;
  margin-top: -6px;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div.sidebar-filter .sidebar-filter-popup:before {
  border-right-color: #1f2930;
  border-width: 7px;
  top: 50%;
  margin-top: -7px;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div.sidebar-filter .sidebar-filter-popup p {
  font-size: 14px;
  line-height: 170%;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div.sidebar-filter .filter-reset {
  font-size: 10px;
  color: #ff7b5e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #ff7b5e;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1px 5px;
  margin-left: 5px;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters > div.sidebar-filter .filter-reset:hover {
  background: #ff7b5e;
  color: #fff;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters span.value {
  font-size: 12px;
  color: rgba(50, 53, 56, 0.5);
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-content .other-filters span.value span {
  color: #ff7b5e;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-header {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ff7b5e;
  font-weight: 600;
  background: #f1f4f6;
  padding: 10px 30px 10px 65px;
}
#results-wrapper #sidebar .sidebar-section .sidebar-section-header img {
  max-width: 27px;
}
#results-wrapper #results-pane {
  position: relative;
  z-index: 200;
  min-height: 100vh;
  margin-left: 300px;
  padding: 15px;
  padding-top: 0;
  background: #f1f4f6;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 930px;
}
#results-wrapper #results-pane #results-section {
  z-index: 2000;
  padding-top: 110px;
  -moz-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
#results-wrapper #results-pane #results-section.side {
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
}
#results-wrapper #results-pane #result-tabs {
  position: fixed;
  left: 301px;
  top: 55px;
  right: 0;
  z-index: 3000;
}
#results-wrapper #results-pane #result-tabs #sort-bar {
  height: 46px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 20;
  padding-top: 12px;
  width: 928px;
}
#results-wrapper #results-pane #result-tabs #sort-bar ul li {
  list-style-type: none;
  display: inline-block;
  border: 1px solid #ffcfc4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#results-wrapper #results-pane #result-tabs #sort-bar ul li.label {
  font-style: italic;
  color: #7592a6;
  font-weight: normal;
  font-size: 14px;
  margin-right: 90px;
  position: relative;
  border: none;
}
#results-wrapper #results-pane #result-tabs #sort-bar ul li.label:after {
  width: 60px;
  position: absolute;
  content: '';
  border-bottom: 1px dashed #b3c3ce;
  left: 100%;
  top: 50%;
}
#results-wrapper #results-pane #result-tabs #sort-bar ul li.dropdown .dropdown-toggle {
  color: #ff7b5e;
  width: 120px;
  padding: 2px 10px;
  display: inline-block;
  text-align: center;
  font-size: 13px;
}
#results-wrapper #results-pane #result-tabs #sort-bar ul li.dropdown .dropdown-toggle img {
  height: 15px;
  margin-left: 5px;
}
#results-wrapper #results-pane #result-tabs #sort-bar ul li.dropdown .dropdown-toggle:hover,
#results-wrapper #results-pane #result-tabs #sort-bar ul li.dropdown .dropdown-toggle:active {
  text-decoration: none;
  background: #fff;
}
#results-wrapper #results-pane #result-tabs #sort-bar ul li.dropdown .dropdown-toggle .caret {
  border-width: 6px;
  border-top-width: 10px;
  margin-top: 0px;
}
#results-wrapper #results-pane #result-tabs > ul {
  list-style-type: none;
  margin-bottom: 0;
  position: relative;
  z-index: 21;
  padding: 0;
  width: 930px;
  font-size: 0;
}
#results-wrapper #results-pane #result-tabs > ul li {
  display: inline-block;
  width: 33.333333333%;
  padding: 20px;
  background: #f1f4f6;
  font-size: 12px;
  border: 1px solid transparent;
  border-right-color: rgba(0, 0, 0, 0.11);
  border-bottom-color: rgba(0, 0, 0, 0.11);
  cursor: pointer;
  color: #33444f;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
#results-wrapper #results-pane #result-tabs > ul li > div {
  float: left;
  line-height: 15px;
}
#results-wrapper #results-pane #result-tabs > ul li > div strong {
  font-size: 14px;
}
#results-wrapper #results-pane #result-tabs > ul li > div.plans-count {
  margin-right: 15px;
  height: 32px;
  width: 32px;
  text-align: center;
  color: #ff7b5e;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 5px 10px;
  border: 1px solid #ff7b5e;
  font-size: 20px;
  padding: 0;
  padding-top: 8px;
  letter-spacing: 0;
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
#results-wrapper #results-pane #result-tabs > ul li span {
  color: #ff7b5e;
}
#results-wrapper #results-pane #result-tabs > ul li:hover:not(.active) {
  background: #f7f9fa;
  border-color: #44c0ff;
}
#results-wrapper #results-pane #result-tabs > ul li.active {
  border-bottom: 1px solid #fff;
  background: #fff;
}
#results-wrapper #results-pane #result-tabs > ul li.active .plans-count {
  background: #ff7b5e;
  color: #fff;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.resultbar {
  margin-top: 20px;
  background: #fff;
  width: 900px;
  -webkit-box-shadow: 0 1px 3px rgba(26,53,71,.08), 0 0 0 1px rgba(26,53,71,.04), 0 1px 1px rgba(26,53,71,.06);
  -moz-box-shadow: 0 1px 3px rgba(26,53,71,.08), 0 0 0 1px rgba(26,53,71,.04), 0 1px 1px rgba(26,53,71,.06);
  box-shadow: 0 1px 3px rgba(26,53,71,.08), 0 0 0 1px rgba(26,53,71,.04), 0 1px 1px rgba(26,53,71,.06);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  max-height: 132px;
}
.resultbar .recommended-badge {
  font-size: 10px;
  color: #ff7b5e;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #ff7b5e;
  padding: 1px 5px;
  margin-left: 5px;
  text-transform: none;
  background: #fff;
}
.resultbar .plan-benefits {
  padding: 0;
  cursor: pointer;
}
.resultbar .plan-benefits.plan-sub {
  background: #f4f6f8;
}
.resultbar .plan-benefits > div {
  width: 100px;
  float: left;
  margin-right: 10px;
  height: 60px;
}
.resultbar .plan-benefits > div.resultbar-logo {
  width: 180px;
  padding-top: 3px;
  padding-left: 60px;
  margin-right: 0;
}
.resultbar .plan-benefits > div.resultbar-logo img {
  max-height: 50px;
}
.resultbar .plan-benefits > div.resultbar-match-score {
  width: 120px;
  padding-top: 20px;
}
.resultbar .plan-benefits > div.resultbar-match-score ul.match-score-stars {
  list-style-type: none;
  padding: 0;
}
.resultbar .plan-benefits > div.resultbar-match-score ul.match-score-stars li {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
}
.resultbar .plan-benefits > div.resultbar-match-score ul.match-score-stars li.full {
  background-image: url('../img/star.png');
}
.resultbar .plan-benefits > div.resultbar-match-score ul.match-score-stars li.half {
  background-image: url('../img/half-star.png');
}
.resultbar .plan-benefits > div.resultbar-match-score ul.match-score-stars li.empty {
  background-image: url('../img/empty-star.png');
}
.resultbar .plan-benefits > div.resultbar-cover,
.resultbar .plan-benefits > div.resultbar-premium,
.resultbar .plan-benefits > div.resultbar-hospitals {
  padding-top: 14px;
  width: 180px;
  padding-left: 10px;
  margin-right: 0;
}
.resultbar .plan-benefits > div.resultbar-cover p,
.resultbar .plan-benefits > div.resultbar-premium p,
.resultbar .plan-benefits > div.resultbar-hospitals p {
  margin: 0;
}
.resultbar .plan-benefits > div.resultbar-cover p.value,
.resultbar .plan-benefits > div.resultbar-premium p.value,
.resultbar .plan-benefits > div.resultbar-hospitals p.value {
  color: #00d9aa;
  font-size: 18px;
  line-height: 70%;
  margin-top: 5px;
}
.resultbar .plan-benefits > div.resultbar-cover p.label,
.resultbar .plan-benefits > div.resultbar-premium p.label,
.resultbar .plan-benefits > div.resultbar-hospitals p.label {
  color: #5b798d;
  text-transform: uppercase;
  font-size: 10px;
  padding: 0;
}
.resultbar .plan-benefits > div.resultbar-action {
  width: 320px;
  padding-top: 20px;
}
.resultbar .plan-benefits > div.plan-factor {
  width: 180px;
  border-right: 1px solid #e1e8ec;
  border-top: 1px solid #e1e8ec;
  padding: 10px 10px;
  margin-right: 0;
  padding-right: 0;
}
.resultbar .plan-benefits > div.plan-factor:last-child {
  border-right: none;
}
.resultbar .plan-benefits > div.plan-factor p.label {
  color: #475e6e;
  text-transform: uppercase;
  padding-left: 0;
}
.resultbar .plan-benefits > div.plan-factor p.value {
  font-size: 12px;
  color: #475e6e;
}
.resultbar .plan-name {
  font-size: 12px;
  position: relative;
}
.resultbar .plan-name p {
  background: #fff;
  margin-bottom: 0;
  position: relative;
  z-index: 20;
  display: inline;
  padding: 0 10px;
  padding-bottom: 5px;
  color: #5b798d;
}
.resultbar .plan-name:before {
  position: absolute;
  content: '';
  top: 9px;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #e1e8ec;
  z-index: 19;
}
.resultbar .compare-checkbox {
  background: #F1F4F6;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  width: 27px!important;
  height: 27px!important;
  top: 11px;
  left: 12px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.resultbar .compare-checkbox .compare-prompt {
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid rgba(39, 37, 48, 0.9);
  background-color: rgba(58, 55, 71, 0.9);
  color: #ffffff;
  font-size: 12px;
  right: 100%;
  width: 130px;
  height: 30px;
  margin-top: 0px;
  margin-right: 10px;
  display: none;
}
.resultbar .compare-checkbox .compare-prompt:after,
.resultbar .compare-checkbox .compare-prompt:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.resultbar .compare-checkbox .compare-prompt:after {
  border-left-color: #33444f;
  border-width: 6px;
  top: 50%;
  margin-top: -6px;
}
.resultbar .compare-checkbox .compare-prompt:before {
  border-left-color: #1f2930;
  border-width: 7px;
  top: 50%;
  margin-top: -7px;
}
.resultbar .compare-checkbox.selected {
  background: #00d9aa;
}
.resultbar .compare-checkbox.selected .compare-prompt {
  width: 160px;
}
.resultbar .compare-checkbox.selected span.glyphicon {
  display: block;
}
.resultbar .compare-checkbox span.glyphicon {
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  top: 3px;
  left: 3px;
  display: none;
}
.resultbar:hover {
  -webkit-box-shadow: 0 1px 3px @healthBaseColor, 0 0 0 1px @healthBaseColor, 0 1px 1px @healthBaseColor;
  -moz-box-shadow: 0 1px 3px @healthBaseColor, 0 0 0 1px @healthBaseColor, 0 1px 1px @healthBaseColor;
  box-shadow: 0 1px 3px @healthBaseColor, 0 0 0 1px @healthBaseColor, 0 1px 1px @healthBaseColor;
}
.resultbar:hover .compare-checkbox {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  border-color: #00d9aa;
}
.resultbar:hover .compare-checkbox .compare-prompt {
  display: block;
}
.resultbar .plan-details {
  height: 0;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  opacity: 0;
}
.resultbar .plan-details .result-tab {
  display: none;
}
.resultbar .plan-details .result-tab.active {
  display: block;
}
.resultbar .plan-details .result-tab p.subtext {
  font-size: 12px;
  text-align: center;
}
.resultbar .plan-details #plan-conditions .conditions-table div {
  padding-left: 0;
}
.resultbar .plan-details #plan-conditions .conditions-table div p.label {
  padding-left: 0;
  font-size: 14px;
  border-bottom: 1px solid #f1f4f6;
  padding-bottom: 10px;
  display: inline-block;
  color: #ff7b5e;
  font-weight: 600;
  margin-top: 10px;
}
.resultbar .plan-details #plan-conditions .conditions-table div p.value {
  font-size: 12px;
  margin-bottom: 0;
}
.resultbar .plan-details #five-year-coverage ul.timeline {
  list-style-type: none;
  text-align: center;
  padding: 0;
  padding-top: 130px;
}
.resultbar .plan-details #five-year-coverage ul.timeline li {
  display: inline-block;
  position: relative;
  padding-top: 30px;
  margin-right: 70px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ff7b5e;
  font-weight: 600;
}
.resultbar .plan-details #five-year-coverage ul.timeline li:after,
.resultbar .plan-details #five-year-coverage ul.timeline li:before {
  position: absolute;
  top: 0;
  left: 50%;
  content: '';
}
.resultbar .plan-details #five-year-coverage ul.timeline li:before {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.resultbar .plan-details #five-year-coverage ul.timeline li:after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 127px;
  margin-top: 5px;
  margin-left: 5px;
}
.resultbar .plan-details #five-year-coverage ul.timeline li:last-child {
  margin-right: 0;
}
.resultbar .plan-details #five-year-coverage ul.timeline li:last-child:after {
  display: none;
}
.resultbar .plan-details #five-year-coverage ul.timeline li .timeline-element {
  position: absolute;
  width: 115px;
  text-align: left;
  border: 1px solid #00d9aa;
  padding: 10px;
  left: -50%;
  top: -100%;
  margin-top: -70px;
  background: #fff;
  margin-left: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}
.resultbar .plan-details #five-year-coverage ul.timeline li .timeline-element:after,
.resultbar .plan-details #five-year-coverage ul.timeline li .timeline-element:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.resultbar .plan-details #five-year-coverage ul.timeline li .timeline-element:after {
  border-top-color: #ffffff;
  border-width: 6px;
  left: 50%;
  margin-left: -6px;
}
.resultbar .plan-details #five-year-coverage ul.timeline li .timeline-element:before {
  border-top-color: #00d9aa;
  border-width: 7px;
  left: 50%;
  margin-left: -7px;
}
.resultbar .plan-details #five-year-coverage ul.timeline li .timeline-element span.label {
  color: #52788f;
  font-size: 10px;
  padding: 0;
  letter-spacing: normal;
}
.resultbar .plan-details #five-year-coverage ul.timeline li .timeline-element span.value {
  color: #ff7b5e;
  letter-spacing: normal;
}
.resultbar .plan-details h3 {
  font-size: 14px;
  border-bottom: 1px solid #f1f4f6;
  padding-bottom: 10px;
  display: inline-block;
  color: #ff7b5e;
  font-weight: 600;
}
.resultbar .plan-details .factor-label {
  color: #5b798d;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
}
.resultbar .plan-details .factor-value {
  margin: 0;
  font-size: 12px;
}
.resultbar .plan-details .not-available {
  color: #d2dce2;
}
.resultbar .plan-details .other-benefits h3 span {
  font-size: 10px;
  text-transform: none;
  letter-spacing: 0;
}
.resultbar.open {
  max-height: 1000px;
}
.resultbar.open .plan-factor {
  border-bottom: 1px solid #e1e8ec;
}
.resultbar.open .plan-details {
  height: 330px;
  padding-bottom: 20px;
  opacity: 1;
}
.resultbar.removeBar {
  -webkit-animation: closespace 0.3s 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards, moveout 0.2s ease forwards;
  animation: closespace 0.3s 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards, moveout 0.2s ease forwards;
  overflow: hidden;
  margin: 0;
}
.resultbar.keepBar {
  -webkit-animation: closespace 0.3s cubic-bezier(0.4, 0, 0.2, 1) reverse, moveout 0.2s 0.3s ease reverse;
  animation: closespace 0.3s cubic-bezier(0.4, 0, 0.2, 1) reverse, moveout 0.2s 0.3s ease reverse;
  overflow: hidden;
  margin: 0;
}
object {
  vertical-align: middle;
}
p.caps-subheading {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.back-btn-container {
  padding-top: 30px;
}
a.back-to-results {
  font-size: 25px;
  font-weight: 300;
  color: #5b798d;
}
a.back-to-results object {
  margin-top: -6px;
}
a.back-to-results:hover {
  color: #1f2930;
  text-decoration: none;
}
/* SCHEDULE A CALL */
#schedule-a-call-wrapper .page-header {
  border: 0;
}
#schedule-a-call-wrapper .page-header h1 {
  font-weight: 300;
}
#schedule-a-call-wrapper .page-header p.lead {
  color: #666;
}
#schedule-a-call-wrapper .page-header p.lead.caps-subheading {
  color: #ff7b5e;
}
.widget-wrapper {
  position: relative;
  width: 100%;
  height: 270px;
}
.widget-wrapper .widget-title {
  color: #ff7b5e;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.schedule-widget {
  width: 250px;
  height: 192px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #FAFBFC;
  border: 1px solid #CED3DB;
  overflow: hidden;
}
.schedule-widget ul.date {
  list-style-type: none;
  padding: 0;
  float: left;
  width: 250px;
}
.schedule-widget ul.date li {
  height: 64px;
  color: #ff7b5e;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 300;
  line-height: 91%;
  border-bottom: 1px solid #CED3DB;
  padding-top: 16px;
  cursor: pointer;
}
.schedule-widget ul.date li:last-child {
  border: none;
}
.schedule-widget ul.date li.active,
.schedule-widget ul.date li:hover {
  background: #E7ECF2;
}
.schedule-widget ul.date li span {
  font-size: 13px;
  color: #525252;
  text-transform: none;
  letter-spacing: normal;
}
.schedule-widget ul.time {
  list-style-type: none;
  padding: 0;
  position: absolute;
  width: 250px;
  left: 250px;
  top: 0;
  border-left: 1px solid #CED3DB;
}
.schedule-widget ul.time li {
  height: 48px;
  color: #000000;
  border-bottom: 1px solid #CED3DB;
  padding-top: 13px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
}
.schedule-widget ul.time li:last-child {
  border: none;
}
.schedule-widget ul.time li.active,
.schedule-widget ul.time li:hover {
  background: #E7ECF2;
}
#compare-footer-wrapper {
  position: fixed;
  width: 100%;
  background: rgba(58, 55, 71, 0.9);
  border-top: 1px solid #3a3747;
  bottom: 0;
  max-height: 70px;
  z-index: 200;
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
#compare-footer-wrapper .compare-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
  padding-top: 15px;
}
#compare-footer-wrapper .compare-btn {
  margin-top: 15px;
  display: inline-block;
}
#compare-footer-wrapper.reveal {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#compare-footer-wrapper:hover {
  padding: 20px 0;
  max-height: 110px;
}
#compare-footer-wrapper .plan-to-compare {
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
#compare-footer-wrapper .plan-to-compare img {
  max-height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#compare-footer-wrapper .plan-to-compare p {
  color: #535353;
  font-size: 12px;
  margin-top: -10px;
}
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
ul.filter-options {
  list-style-type: none;
  padding-left: 0;
  margin-top: 5px;
  margin-bottom: 0;
}
ul.filter-options li {
  background: url(../img/tick-square-empty-orange.png) no-repeat 0 5px;
  padding: 3px 0 0 20px;
  background-size: 15px 15px;
  cursor: pointer;
  font-size: 11px;
  margin-bottom: 3px;
}
ul.filter-options li:hover {
  background-image: url(../img/tick-square-empty.png);
  color: #ff7b5e;
}
ul.filter-options li.selected {
  background-image: url(../img/tick-square-orange.png);
}
@-webkit-keyframes closespace {
  to {
    max-height: 0px;
  }
}
@-webkit-keyframes moveout {
  to {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    -moz-transform: translate3d(50%, 0, 0);
    -ms-transform: translate3d(50%, 0, 0);
    -o-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
}
@keyframes closespace {
  to {
    max-height: 0px;
  }
}
@keyframes moveout {
  to {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    -moz-transform: translate3d(50%, 0, 0);
    -ms-transform: translate3d(50%, 0, 0);
    -o-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
}
.btn-cfox.shortlist-btn {
  border: 1px solid #a3b7c4;
  margin-left: -5px;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #7b97aa;
}
ul.cf-tabs {
  margin-top: 20px;
  list-style-type: none;
  text-align: center;
  position: relative;
  padding: 0;
}
ul.cf-tabs li {
  display: inline-block;
  text-align: center;
  height: 30px;
  vertical-align: bottom;
  padding: 5px 10px;
  border: 1px solid #cfd4d8;
  border-bottom: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  position: relative;
  background: #f2f2f2;
  margin-left: -5px;
}
ul.cf-tabs li:first-child {
  border-top-left-radius: 5px;
}
ul.cf-tabs li:last-child {
  border-top-right-radius: 5px;
}
ul.cf-tabs li strong {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  font-weight: bold;
}
ul.cf-tabs li span {
  font-size: 12px;
  color: #ff7b5e;
}
ul.cf-tabs li:hover {
  background: #FCFDFF;
}
ul.cf-tabs li.active {
  border: 1px solid #cfd4d8;
  border-bottom: 0;
  background: #fff;
  color: #ff7b5e;
  z-index: 30;
}
ul.cf-tabs li.active span {
  color: #535353;
}
ul.cf-tabs li.active strong {
  color: #ff7b5e;
}
ul.cf-tabs:after {
  content: '';
  border-bottom: 1px solid #cfd4d8;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
  z-index: 29;
}
