/*@cfBaseColor: #FF7703;*/
/*@cfBaseColor: #FF6442;*/
* {
  -webkit-backface-visibility: hidden;
}
.verticallyCentered {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}
.horizontallyCentered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.d1 {
  -webkit-transition-delay: 100ms !important;
  -moz-transition-delay: 100ms !important;
  -o-transition-delay: 100ms !important;
  transition-delay: 100ms !important;
}
.d2 {
  -webkit-transition-delay: 200ms !important;
  -moz-transition-delay: 200ms !important;
  -o-transition-delay: 200ms !important;
  transition-delay: 200ms !important;
}
.d3 {
  -webkit-transition-delay: 300ms !important;
  -moz-transition-delay: 300ms !important;
  -o-transition-delay: 300ms !important;
  transition-delay: 300ms !important;
}
.d4 {
  -webkit-transition-delay: 400ms !important;
  -moz-transition-delay: 400ms !important;
  -o-transition-delay: 400ms !important;
  transition-delay: 400ms !important;
}
.pnone {
  padding: 0;
}
.mnone {
  margin: 0;
}
body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  color: #333130;
}
.pnone {
  padding: 0;
}
.rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.cubic-trans {
  -moz-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.cubic-transform {
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.bounce-trans {
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.btn-cfox {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 42px;
  cursor: pointer;
}
.btn-cfox:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.08)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
}
.btn-cfox.small {
  text-transform: none;
  letter-spacing: 0px;
  padding: 5px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-cfox.medium {
  text-transform: none;
  letter-spacing: 0px;
  padding: 8px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-cfox.blank {
  background-color: transparent;
  color: #8baabc;
  border: 1px solid #8baabc;
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-cfox.flat {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.btn-cfox.orange {
  background-color: #FF7B5E;
  border: 1px solid #ff512b;
}
.btn-cfox.dark {
  background-color: #314451;
  border: 1px solid #1e2931;
}
.btn-cfox.dark:hover {
  background-color: #1e2931;
}
.btn-cfox.btn-next {
  display: inline-block;
  height: 57px;
  position: relative;
}
.dd-parent {
  position: relative;
  cursor: pointer;
  color: #827d7a;
}
.dd-parent .dd {
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 60;
  background: #fff;
  width: 220px;
  border: 1px solid #FF7B5E;
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  -o-transform: translateX(-30px);
  transform: translateX(-30px);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.dd-parent .dd:after,
.dd-parent .dd:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dd-parent .dd:after {
  border-bottom-color: #fff;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.dd-parent .dd:before {
  border-bottom-color: #FF7B5E;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}
.dd-parent .dd.left {
  left: 0;
  right: auto;
}
.dd-parent .dd.left:after,
.dd-parent .dd.left:before {
  left: 30px!important;
  right: auto!important;
}
.dd-parent .dd a {
  display: block;
  text-align: left;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #333130;
  border-bottom: 1px solid #f6f7f8;
}
.dd-parent .dd a:hover {
  color: #FF7B5E;
  text-decoration: none;
}
.dd-parent .dd a:hover span.badge {
  color: #fff;
  background: #FF7B5E;
}
.dd-parent .dd a:last-child {
  border-bottom: none;
}
.dd-parent .dd a span {
  color: #FF7B5E;
}
.dd-parent .dd a span.badge {
  font-weight: normal;
  background: transparent;
  border: 1px solid #FF7B5E;
  letter-spacing: 0;
}
.dd-parent .dd:after,
.dd-parent .dd:before {
  right: 30px!important;
}
.dd-parent:hover {
  color: #333130;
}
.dd-parent.active .dd {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.clearfix {
  pointer-events: none;
}
.cfnav {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 15px;
  padding-right: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 55px;
  margin-bottom: 0;
}
.cfnav .navbar-nav > li > a {
  padding-top: 17px;
  padding-bottom: 16px;
}
.cfnav .navbar-nav > li > a.login {
  padding-top: 10px;
  padding-bottom: 8px;
}
.cfnav .navbar-nav > li > a.login img {
  max-width: 35px;
  margin-right: 10px;
}
.cfnav .logo {
  text-align: center;
  height: 55px;
  padding: 15px 0px;
}
.cfnav .logo img {
  width: 118px;
}
.text-input-cfox {
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 42px;
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.text-input-cfox:focus {
  border-color: #FF7B5E;
  outline: 0;
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1), 0 0 10px #ffa591;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1), 0 0 10px #ffa591;
}
.prnone {
  padding-right: 0;
}
a {
  cursor: pointer;
}
#loader-wrapper {
  position: fixed;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}
#loader-wrapper.new {
  top: 64px;
  z-index: 400;
}
.white {
  color: #FFFFFF;
}
.perror {
  color: #fff;
  background: red;
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
}
.loadLine {
  width: 100%;
  height: 4px;
  background: #FF7B5E;
}
.topbar-wrapper {
  padding: 30px 30px 20px;
}
/*
.logo {
  img {
    width: 200px;
  }
  .logo-sub {
    .wideUppercase(@letterspacing: 7px);
    color: @cfBaseColor;
    font-size: 16px;
  }
}
*/
.topbar-right {
  padding: 8px 0;
}
.topbar-right .not-logged-in {
  color: #b3b0af;
}
.topbar-right img {
  max-width: 35px;
  margin-right: 10px;
}
.hover-me-icon-mix {
  padding-right: 15px;
  border-right: 5px solid transparent;
  background-image: url('../img/question-mark.png');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: top right;
}
.dd-parent {
  position: relative;
  cursor: pointer;
  color: #827d7a;
}
.dd-parent .dd {
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 60;
  background: #fff;
  width: 220px;
  border: 1px solid #FF7B5E;
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  -o-transform: translateX(-30px);
  transform: translateX(-30px);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.dd-parent .dd:after,
.dd-parent .dd:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dd-parent .dd:after {
  border-bottom-color: #fff;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.dd-parent .dd:before {
  border-bottom-color: #FF7B5E;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}
.dd-parent .dd a {
  display: block;
  text-align: left;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #333130;
  border-bottom: 1px solid #f6f7f8;
}
.dd-parent .dd a:hover {
  color: #FF7B5E;
  text-decoration: none;
}
.dd-parent .dd a:hover span.badge {
  color: #fff;
  background: #FF7B5E;
}
.dd-parent .dd a:last-child {
  border-bottom: none;
}
.dd-parent .dd a span {
  color: #FF7B5E;
}
.dd-parent .dd a span.badge {
  font-weight: normal;
  background: transparent;
  border: 1px solid #FF7B5E;
  letter-spacing: 0;
}
.dd-parent .dd:after,
.dd-parent .dd:before {
  left: 90%;
}
.dd-parent:hover {
  color: #333130;
}
.dd-parent.active .dd {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
#progress-wrapper {
  position: relative;
  opacity: 0;
}
#progress-wrapper .back-link {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 14px;
  margin-left: -570px;
  z-index: 300;
}
#progress-wrapper .back-link img {
  width: 10px;
  margin-top: -4px;
}
#progress-wrapper .back-link span {
  color: #4a90e2;
  font-size: 18px;
  font-weight: 300;
  padding-left: 5px;
}
#progress-wrapper .back-link span:hover {
  text-decoration: underline;
}
#progress-wrapper.reveal {
  opacity: 1;
}
#progress-wrapper ul {
  list-style-type: none;
  text-align: center;
}
#progress-wrapper ul li {
  display: inline-block;
  width: 105px;
  position: relative;
  text-align: left;
  color: #cccac9;
  letter-spacing: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid transparent;
  padding: 10px;
}
#progress-wrapper ul li span {
  display: block;
  color: #666666;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
#progress-wrapper ul li.active {
  color: #333130;
}
#progress-wrapper ul li.active span {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #00b08a;
  background-color: #00D9AA;
  color: #fff;
}
#progress-wrapper ul li.separator {
  padding: 0;
}
#progress-wrapper ul li.separator:after {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#progress-wrapper ul li.separator:before {
  content: '';
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 10px;
  height: 10px;
  left: 100%;
  margin-top: -10px;
  padding: 0;
}
#pages-wrapper {
  position: relative;
}
.step {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.step .animated {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  pointer-events: none;
  -moz-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.step.reveal {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.step.reveal .animated {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  pointer-events: all;
}
.step .step-title {
  text-align: center;
}
.step .step-title h1 {
  color: #373a47;
  font-weight: 300;
  margin-bottom: 30px;
}
.step .step-title h2 {
  letter-spacing: 1px;
  font-size: 30px;
  color: #FF7B5E;
  margin-top: 15px;
  margin-bottom: 0;
}
.step .step-title p {
  color: #666666;
  letter-spacing: 1px;
  margin-top: 10px;
}
.step .options ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.step .options ul li {
  display: inline-block;
  margin-right: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #737373;
  margin-top: 10px;
  color: #737373;
  position: relative;
}
.step .options ul li .birth-date-prompt {
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 50%;
  color: #000;
  width: 100%;
  text-transform: none;
  letter-spacing: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.step .options ul li span {
  text-transform: none;
  letter-spacing: 0;
}
.step .options ul li span.age {
  display: none;
  background: #00ca9e;
  border-left: 1px solid #00b08a;
}
.step .options ul li span.age:hover {
  background: #00c096;
}
.step .options ul li span.age select {
  background: transparent;
  width: 110px;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 37px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: '';
  text-indent: 0.1px;
  text-transform: uppercase;
  position: relative;
  z-index: 30;
}
.step .options ul li span.age select.has-error {
  -webkit-box-shadow: 6px 3px 15px rgba(253, 77, 77, 0.5);
  -moz-box-shadow: 6px 3px 15px rgba(253, 77, 77, 0.5);
  box-shadow: 6px 3px 15px rgba(253, 77, 77, 0.5);
}
.step .options ul li span.age select option {
  color: #000;
}
.step .options ul li span.glyphicon-ok {
  display: none;
}
.step .options ul li.selected {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #00b08a;
  background-color: #00D9AA;
  color: #fff;
  padding: 0;
  padding-left: 6px;
}
.step .options ul li.selected span.age {
  display: inline-block;
  margin-left: 10px;
  position: relative;
}
.step .options ul li.selected span.age .down-arrow {
  position: absolute;
  top: 9px;
  right: 9px;
  cursor: pointer;
  z-index: 29;
}
.step .options ul li.selected span.glyphicon-ok {
  display: inline-block;
  background: #00b08a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 4px 3px;
  margin-right: 10px;
}
.step .options ul li.selected span.glyphicon-plus-sign {
  display: none;
}
.step .options ul li.add {
  text-transform: none;
  border-color: #00D9AA;
}
.step .options ul li.add span {
  color: #00D9AA;
}
.step .options ul li.add:hover {
  background: rgba(0, 0, 0, 0.04);
}
.step .options ul li.add:active {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #00b08a;
  background-color: #00D9AA;
  color: #fff;
}
.continue-btn {
  text-align: center;
  margin-top: 50px;
}
.continue-btn .btn-cfox {
  font-size: 20px;
  padding: 15px 20px;
}
.continue-btn .btn-cfox img {
  width: 12px;
  margin-top: -2px;
}
.gender-selector {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}
.gender-selector li {
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 20px;
  margin-top: 20px;
  height: 200px;
  width: 125px;
  border: 1px solid #808184;
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: 125px 125px;
  position: relative;
  cursor: pointer;
}
.gender-selector li span {
  position: absolute;
  bottom: 15px;
  color: #FF7B5E;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.gender-selector li.male {
  background-image: url("../img/male.png");
}
.gender-selector li.male.selected {
  background-image: url("../img/male-white.png");
}
.gender-selector li.female {
  background-image: url("../img/female.png");
}
.gender-selector li.female.selected {
  background-image: url("../img/female-white.png");
}
.gender-selector li:hover {
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
  border: 1px solid #00D9AA;
}
.gender-selector li.selected {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #00b08a;
  background-color: #00D9AA;
  color: #fff;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
.gender-selector li.selected span {
  color: #fff;
}
.healthcare-options ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 30px 0;
}
.healthcare-options ul li {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 190px;
  height: 160px;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}
.healthcare-options ul li:hover {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
.healthcare-options ul li > span {
  position: absolute;
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  left: 0;
  letter-spacing: 1px;
  text-align: center;
  line-height: 120%;
  text-transform: uppercase;
  margin-top: 55px;
}
.healthcare-options ul li > span small {
  color: #FF7B5E;
  text-transform: none;
  font-weight: bold;
  font-size: 14px;
  display: block;
  line-height: 16px;
}
.healthcare-options ul li.selected {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #00b08a;
  background-color: #00D9AA;
  color: #fff;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
.healthcare-options ul li.selected > span small {
  color: #fff;
}
.healthcare-options ul li.selected > span span {
  color: #fff;
  background: #00c096;
  border-color: rgba(0, 0, 0, 0.17);
}
.pincodes {
  margin-top: 25px;
}
.cfinput-wrap .cfinput {
  text-align: left;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #999999;
  padding: 23px;
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.cfinput-wrap .cfinput label {
  color: #666666;
  position: absolute;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  top: 7px;
  font-weight: normal;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  opacity: 0;
}
.cfinput-wrap .cfinput label.reveal {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.cfinput-wrap .cfinput input {
  border: none;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.cfinput-wrap .cfinput input:focus {
  outline: 0;
}
.cfinput-wrap .cfalert p.error {
  display: none;
}
.cfinput-wrap .cfalert p.notification {
  display: block;
}
.cfinput-wrap .cfalert p.notification a {
  font-weight: bold;
  text-decoration: underline;
}
#svgdiv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 20;
  pointer-events: none;
}
.error {
  opacity: 0;
  position: relative;
  max-height: 0;
  -webkit-transform: translate3d(0, 20px, 0);
  -moz-transform: translate3d(0, 20px, 0);
  -ms-transform: translate3d(0, 20px, 0);
  -o-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}
.error.input-error {
  margin-top: 10px;
}
.error span {
  color: #fff;
  padding: 5px 10px;
  background: #FA6464;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 10px;
}
.error.has-error {
  max-height: 40px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.error.validationElement {
  max-height: 40px;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -ms-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
  }
}
@-moz-keyframes shake {
  0%,
  100% {
    -moz-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -moz-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -moz-transform: translateX(10px);
  }
}
@-ms-keyframes shake {
  0%,
  100% {
    -ms-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -ms-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -ms-transform: translateX(10px);
  }
}
@-o-keyframes shake {
  0%,
  100% {
    -o-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -o-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -o-transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
#coverbar-wrapper {
  background: #00D9AA;
  width: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 0%;
}
#coverbar-wrapper .coverbar-detail {
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  top: 0;
  right: 50px;
  border: 1px solid #373a47;
  padding: 10px 15px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#coverbar-wrapper .coverbar-detail:after,
#coverbar-wrapper .coverbar-detail:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#coverbar-wrapper .coverbar-detail:after {
  border-left-color: #fff;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
#coverbar-wrapper .coverbar-detail:before {
  border-left-color: #373a47;
  border-width: 11px;
  top: 50%;
  margin-top: -11px;
}
#coverbar-wrapper .coverbar-detail p.label {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  color: #FF7B5E;
  padding: 0;
}
#coverbar-wrapper .coverbar-detail p.value {
  font-size: 25px;
  color: #373a47;
  font-weight: 300;
  margin-bottom: 0;
  text-align: center;
}
/*ODOMETER*/
.odometer.odometer-theme-default {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  position: relative;
}
.odometer.odometer-theme-default {
  *display: inline;
}
.odometer.odometer-theme-default .odometer-digit {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  position: relative;
}
.odometer.odometer-theme-default .odometer-digit {
  *display: inline;
}
.odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  visibility: hidden;
}
.odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  *display: inline;
}
.odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
}
.odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  -moz-transition: -moz-transform 2s;
  -ms-transition: -ms-transform 2s;
  -o-transition: -o-transform 2s;
  transition: transform 2s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.odometer.odometer-theme-default {
  line-height: 1.1em;
}
.odometer.odometer-theme-default .odometer-value {
  text-align: center;
}
body.results-page {
  background: #efeff4;
}
object {
  vertical-align: middle;
}
p.caps-subheading {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.back-btn-container {
  padding-top: 30px;
}
a.back-to-results {
  font-size: 25px;
  font-weight: 300;
  color: #5b798d;
}
a.back-to-results object {
  margin-top: -6px;
}
a.back-to-results:hover {
  color: #1f2930;
  text-decoration: none;
}
/* SCHEDULE A CALL */
#schedule-a-call-wrapper .page-header {
  border: 0;
}
#schedule-a-call-wrapper .page-header h1 {
  font-weight: 300;
}
#schedule-a-call-wrapper .page-header p.lead {
  color: #666;
}
#schedule-a-call-wrapper .page-header p.lead.caps-subheading {
  color: #FF7B5E;
}
.widget-wrapper {
  position: relative;
  width: 100%;
  height: 270px;
}
.widget-wrapper .widget-title {
  color: #FF7B5E;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 15px;
}
.schedule-widget {
  width: 250px;
  height: 192px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #FAFBFC;
  border: 1px solid #CED3DB;
  overflow: hidden;
}
.schedule-widget ul.date {
  list-style-type: none;
  padding: 0;
  float: left;
  width: 250px;
}
.schedule-widget ul.date li {
  height: 64px;
  color: #FF7B5E;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 300;
  line-height: 91%;
  border-bottom: 1px solid #CED3DB;
  padding-top: 16px;
  cursor: pointer;
}
.schedule-widget ul.date li:last-child {
  border: none;
}
.schedule-widget ul.date li.active,
.schedule-widget ul.date li:hover {
  background: #E7ECF2;
}
.schedule-widget ul.date li span {
  font-size: 13px;
  color: #525252;
  text-transform: none;
  letter-spacing: normal;
}
.schedule-widget ul.time {
  list-style-type: none;
  padding: 0;
  position: absolute;
  width: 250px;
  left: 250px;
  top: 0;
  border-left: 1px solid #CED3DB;
}
.schedule-widget ul.time li {
  height: 48px;
  color: #000000;
  border-bottom: 1px solid #CED3DB;
  padding-top: 13px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
}
.schedule-widget ul.time li:last-child {
  border: none;
}
.schedule-widget ul.time li.active,
.schedule-widget ul.time li:hover {
  background: #E7ECF2;
}
#compare-footer-wrapper {
  position: fixed;
  width: 100%;
  background: rgba(58, 55, 71, 0.9);
  border-top: 1px solid #3a3747;
  top: 0;
  height: 100vh;
  z-index: 300;
  overflow-y: scroll;
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  padding: 80px 0 20px;
}
#compare-footer-wrapper .compare-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
  padding-top: 15px;
}
#compare-footer-wrapper .compare-btn {
  width: 100%;
  margin-top: 70px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  display: inline-block;
}
#compare-footer-wrapper.comparemode {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#compare-footer-wrapper .plan-to-compare {
  background: #f7f9fa;
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  height: 75px;
  overflow: hidden;
}
#compare-footer-wrapper .plan-to-compare:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
#compare-footer-wrapper .plan-to-compare.empty {
  background: transparent;
}
#compare-footer-wrapper .plan-to-compare .pc-buttons {
  padding: 0;
  margin-left: -10px;
}
#compare-footer-wrapper .plan-to-compare img {
  max-height: 38px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#compare-footer-wrapper .plan-to-compare p {
  color: #535353;
  font-size: 12px;
  white-space: nowrap;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#compare-footer-wrapper .plan-to-compare.comparemode {
  height: 200px;
  padding-top: 15px;
  background: #fff;
}
#compare-footer-wrapper .plan-to-compare.comparemode p {
  font-size: 12px;
  margin-top: 15px;
  overflow: auto;
  padding: 0 10px;
  white-space: normal;
  letter-spacing: 2px;
  height: 55px;
  color: #939393;
}
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
@-webkit-keyframes closespace {
  to {
    max-height: 0px;
  }
}
@-webkit-keyframes moveout {
  to {
    opacity: 0;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@keyframes closespace {
  to {
    max-height: 0px;
  }
}
@keyframes moveout {
  to {
    opacity: 0;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
  }
}
@-webkit-keyframes openspace {
  to {
    max-height: 145px;
  }
}
@-webkit-keyframes movein {
  to {
    opacity: 1;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes openspace {
  to {
    max-height: 145px;
  }
}
@keyframes movein {
  to {
    opacity: 1;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
}
ul.cf-tabs {
  margin-top: 20px;
  margin-bottom: 0px;
  list-style-type: none;
  position: relative;
  margin-right: -1px;
  padding-left: 25px;
}
ul.cf-tabs li {
  padding: 10px;
  cursor: pointer;
  position: relative;
  margin-left: -5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #5b798d;
  font-weight: normal;
  border: 1px solid transparent;
  border-bottom: none;
  display: inline-block;
}
ul.cf-tabs li img {
  width: 16px;
  margin-right: 2px;
}
ul.cf-tabs li strong {
  color: rgba(0, 0, 0, 0.5);
  display: block;
  font-weight: bold;
}
ul.cf-tabs li span {
  font-size: 12px;
  color: #FF7B5E;
}
ul.cf-tabs li:hover {
  background: #F1F4F6;
}
ul.cf-tabs li.active {
  color: #FF7B5E;
  z-index: 20;
  border: 1px solid #FF7B5E;
  border-bottom: none;
  background: #fff;
}
ul.cf-tabs li.active span {
  color: #535353;
}
ul.cf-tabs li.active strong {
  color: #FF7B5E;
}
.sidebar-filter-popup {
  position: absolute;
  left: 100%;
  padding: 15px;
  width: 300px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(58, 55, 71, 0.9);
  color: #fff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  margin-top: -300000px;
}
.sidebar-filter-popup:after,
.sidebar-filter-popup:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.sidebar-filter-popup:after {
  border-right-color: #33444f;
  border-width: 6px;
  top: 50%;
  margin-top: -6px;
}
.sidebar-filter-popup:before {
  border-right-color: #1f2930;
  border-width: 7px;
  top: 50%;
  margin-top: -7px;
}
.sidebar-filter-popup p {
  font-size: 14px;
  line-height: 170%;
}
/* NEW RESULTS PAGE REDESIGN */
.cfnav.dark {
  background-color: #33444f;
}
.navbar-inverse .navbar-nav > li > a {
  color: #f2f2f2;
}
.results-tab-bar-wrapper {
  height: 74px;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 64px;
  right: 0;
  z-index: 300;
}
ul.results-tabs {
  list-style-type: none;
  text-align: center;
  font-size: 0;
  padding: 0;
}
ul.results-tabs li {
  display: inline-block;
  padding: 17px 20px;
  height: 73px;
  overflow: hidden;
  font-size: 12px;
  border: 1px solid transparent;
  border-right-color: rgba(0, 0, 0, 0.11);
  border-bottom: none;
  cursor: pointer;
  color: #33444f;
  background: #f7f9fa;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
ul.results-tabs li:first-child {
  border-left-color: rgba(0, 0, 0, 0.11);
}
ul.results-tabs li > div {
  float: left;
  line-height: 17px;
  text-align: left;
}
ul.results-tabs li > div strong {
  font-size: 14px;
}
ul.results-tabs li > div.plans-count {
  margin-right: 15px;
  height: 32px;
  width: 32px;
  text-align: center;
  color: #FF7B5E;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 5px 10px;
  border: 1px solid #FF7B5E;
  font-size: 20px;
  padding: 0;
  padding-top: 8px;
  letter-spacing: 0;
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
ul.results-tabs li span {
  color: #FF7B5E;
}
ul.results-tabs li:hover:not(.active) {
  background: #fdfefe;
}
ul.results-tabs li.active {
  background: #FF7B5E;
  color: #fff;
}
ul.results-tabs li.active .plans-count {
  border: 1px solid #fff;
  color: #fff;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#results-section-header .container {
  padding: 0;
}
h1.results-tab-header {
  font-size: 16px;
  letter-spacing: 3px;
  color: #33444f;
}
h1.results-tab-header a {
  color: #FF7B5E;
  border: 1px solid #FF7B5E;
  padding: 5px 10px;
  height: 25px;
  font-size: 14px;
  letter-spacing: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  margin-left: 10px;
  padding-left: 30px;
  background-image: url('../img/settings-icon.png');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 9px 7px;
}
h1.results-tab-header a:hover {
  text-decoration: none;
  background: #FF7B5E;
  color: #fff;
  background-image: url('../img/settings-icon-white.png');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 9px 7px;
}
h1.results-tab-header span {
  font-weight: bold;
}
.results-block-wrapper {
  min-height: 100vh;
  margin-top: 12px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  background: #efeff4;
}
.results-block-sidebar {
  float: left;
  min-height: 100vh;
  width: 210px;
  position: relative;
  bottom: 0;
  z-index: 297;
}
.results-block-sidebar:hover {
  z-index: 299;
}
.results-block-plans {
  float: left;
  min-height: 100vh;
  width: 960px;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 298;
}
.sidebar-label {
  text-transform: uppercase;
  padding: 0 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #33444f;
}
.sidebar-label .label-subtext {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
}
ul.sidebar-options {
  list-style-type: none;
  padding: 0 15px;
}
ul.sidebar-options li {
  background: url(../img/tick-square-empty.png) no-repeat 0 5px;
  padding: 4px 0 4px 25px;
  background-size: 16px 16px;
  cursor: pointer;
  font-size: 12px;
}
ul.sidebar-options li.selected {
  background-image: url(../img/tick-square-orange.png);
  color: #FF7B5E;
}
ul.sidebar-options li:hover {
  color: #FF7B5E;
}
ul.sidebar-options.special li {
  font-size: 12px;
  background-size: 14px 14px;
}
ul.sidebar-options.special li.cf-radio {
  background: url(../img/radio-empty.png) no-repeat 0 5px;
  background-size: 16px 16px;
}
ul.sidebar-options.special li.cf-radio.selected {
  background: url(../img/radio-selected.png) no-repeat 0 5px;
  background-size: 16px 16px;
}
.filters-header {
  color: #fff;
  padding: 12px 0 8px 15px;
  background: #0076ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.filters-header img {
  width: 25px;
  margin-top: -4px;
}
#results-sidebar {
  margin-bottom: 150px;
}
.results-sidebar-section.special {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  position: relative;
  z-index: 300;
}
.results-sidebar-section.special .sidebar-label {
  margin-top: 0;
}
.results-sidebar-section.special .filter-reset {
  font-size: 10px;
  color: #FF7B5E;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #FF7B5E;
  cursor: pointer;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1px 5px;
  margin-left: 0;
}
.results-sidebar-section.special .filter-reset:hover {
  background: #FF7B5E;
  color: #fff;
}
.results-sidebar-section.special .results-sidebar-desc,
.results-sidebar-section.special .results-sidebar-desc-list-item {
  position: absolute;
  left: 100%;
  width: 250px;
  font-size: 14px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  background: #475e6e;
  color: #fff;
  padding: 15px;
  display: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.results-sidebar-section.special .results-sidebar-desc:after,
.results-sidebar-section.special .results-sidebar-desc-list-item:after,
.results-sidebar-section.special .results-sidebar-desc:before,
.results-sidebar-section.special .results-sidebar-desc-list-item:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.results-sidebar-section.special .results-sidebar-desc:after,
.results-sidebar-section.special .results-sidebar-desc-list-item:after {
  border-right-color: #475e6e;
  border-width: 8px;
  top: 50%;
  margin-top: -8px;
}
.results-sidebar-section.special .results-sidebar-desc:before,
.results-sidebar-section.special .results-sidebar-desc-list-item:before {
  border-right-color: #475e6e;
  border-width: 9px;
  top: 50%;
  margin-top: -9px;
}
.results-sidebar-section.special .results-sidebar-desc .desc-title,
.results-sidebar-section.special .results-sidebar-desc-list-item .desc-title {
  color: #ff9078;
  font-weight: bold;
}
.results-sidebar-section.special:hover {
  z-index: 300;
}
.results-sidebar-section.special:hover .results-sidebar-desc {
  display: block;
}
.results-sidebar-section.special .sidebar-options.special li {
  position: relative;
}
.results-sidebar-section.special .sidebar-options.special li:hover {
  z-index: 300;
}
.results-sidebar-section.special .sidebar-options.special li:hover .results-sidebar-desc-list-item {
  display: block;
}
.plans-header {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 12px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #33444f;
}
.plan-card {
  max-height: 145px;
  background: #fff;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-transition: -moz-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  -o-transition: -o-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  -ms-transition: -ms-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  margin-bottom: 15px;
}
.plan-card.defocus {
  /*opacity: 0.7;*/
}
.plan-card.open {
  max-height: 1000px;
  opacity: 1;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.plan-card.open .pc-compare,
.plan-card.open .pc-company-info,
.plan-card.open .pc-summary {
  border-bottom: 1px solid #E9E9E9;
}
.plan-card.open .pc-details {
  max-height: 1000px;
  background: #f7fafc;
}
.plan-card > div {
  float: left;
  height: 143px;
}
.plan-card > div.clearfix {
  height: 0!important;
}
.plan-card > div.pc-details {
  height: auto;
  max-height: 0;
}
.plan-card .policy-wordings {
  position: relative;
  top: 20px;
  float: right;
  padding-right: 30px;
  font-size: 12px;
}
.plan-card.recede {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  pointer-events: none;
}
.plan-card:hover {
  position: relative;
  z-index: 299;
  -webkit-box-shadow: 0 1px 3px @healthBaseColor, 0 0 0 1px @healthBaseColor, 0 1px 1px @healthBaseColor;
  -moz-box-shadow: 0 1px 3px @healthBaseColor, 0 0 0 1px @healthBaseColor, 0 1px 1px @healthBaseColor;
  box-shadow: 0 1px 3px @healthBaseColor, 0 0 0 1px @healthBaseColor, 0 1px 1px @healthBaseColor;
}
.plan-card:hover .compare-box .compare-prompt {
  display: block;
}
.plan-card:hover .compare-box .compare-prompt.special {
  display: none;
}
.plan-card:hover .compare-box:hover .compare-prompt.special {
  display: block;
}
.offline-plans {
  margin-left: -15px;
  margin-right: -15px;
}
.pc-compare {
  width: 55px;
  position: relative;
}
.pc-compare .compare-box {
  position: absolute;
  top: 22px;
  left: 11px;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.pc-compare .compare-box:hover {
  background: #f1f4f6;
}
.pc-compare .compare-box .compare-prompt {
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid rgba(39, 37, 48, 0.9);
  background-color: rgba(58, 55, 71, 0.9);
  color: #fff;
  font-size: 12px;
  right: 100%;
  width: 130px;
  height: 30px;
  margin-top: 0px;
  margin-right: 10px;
  display: none;
}
.pc-compare .compare-box .compare-prompt:after,
.pc-compare .compare-box .compare-prompt:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.pc-compare .compare-box .compare-prompt:after {
  border-left-color: #33444f;
  border-width: 6px;
  top: 50%;
  margin-top: -6px;
}
.pc-compare .compare-box .compare-prompt:before {
  border-left-color: #1f2930;
  border-width: 7px;
  top: 50%;
  margin-top: -7px;
}
.pc-compare .compare-box .compare-prompt.special {
  height: auto;
  margin-right: 15px;
  top: -10px;
}
.pc-compare .compare-box .compare-prompt.special:after,
.pc-compare .compare-box .compare-prompt.special:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.pc-compare .compare-box .compare-prompt.special:after {
  border-left-color: #fff;
  border-width: 0px;
  top: 50%;
  margin-top: 0px;
}
.pc-compare .compare-box .compare-prompt.special:before {
  border-left-color: #fff;
  border-width: 0px;
  top: 50%;
  margin-top: 0px;
}
.pc-compare .compare-box.selected {
  background: #00D9AA;
}
.pc-compare .compare-box.selected .compare-prompt {
  width: 160px;
}
.pc-compare .compare-box.selected span.glyphicon {
  display: block;
}
.pc-compare .compare-box span.glyphicon {
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  top: 5px;
  left: 6px;
  display: none;
}
.pc-company-info {
  width: 120px;
  padding-top: 22px;
  padding-left: 5px;
  border-right: 1px solid #E7E7E7;
  cursor: pointer;
}
.pc-company-info img {
  max-height: 50px;
  max-width: 100px;
}
.pc-company-info p {
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 110px;
  color: #5b798d;
}
.pc-company-info p.link-text {
  color: #239dee;
  padding-left: 20px;
  font-size: 14px;
  margin-top: 0;
  background-image: url('../img/show-more.png');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 0px 2px;
  cursor: pointer;
}
.pc-company-info p.link-text.showLess {
  background-image: url('../img/show-less.png');
}
.pc-company-info p.link-text:hover {
  text-decoration: underline;
}
.pc-plan-benefits {
  width: 783px;
  height: 145px;
}
.pc-action {
  width: 783px;
  height: 79px;
  padding-left: 5px;
  cursor: pointer;
}
.pc-cover,
.pc-deductible,
.pc-premium,
.pc-buttons,
.pc-hospitals {
  float: left;
  height: 72px;
  width: 160px;
  padding-top: 18px;
  padding-left: 10px;
}
.pc-cover p,
.pc-deductible p,
.pc-premium p,
.pc-buttons p,
.pc-hospitals p {
  margin: 0;
}
.pc-cover p.value,
.pc-deductible p.value,
.pc-premium p.value,
.pc-buttons p.value,
.pc-hospitals p.value {
  color: #00D9AA;
  font-size: 18px;
}
.pc-cover p.label,
.pc-deductible p.label,
.pc-premium p.label,
.pc-buttons p.label,
.pc-hospitals p.label {
  color: #5b798d;
  text-transform: uppercase;
  padding: 0;
}
.pc-button-wrapper {
  background: #f7fafc;
  float: left;
  height: 79px;
  width: 358px;
  padding-left: 20px;
  position: relative;
}
.pc-button-wrapper .pc-shortlist-btn {
  position: absolute;
  top: 10px;
  right: 5px;
  display: none !important;
}
.pc-button-wrapper .pc-shortlist-btn span {
  color: #9FA7AD;
  font-size: 17px;
}
.pc-button-wrapper .pc-shortlist-btn span.active {
  color: #FF7B5E;
}
.pc-premium {
  width: 150px;
  padding-left: 0;
}
.pc-premium p.value {
  color: #FF7B5E;
  font-size: 25px;
  margin-top: -6px;
  margin-left: -1px;
}
.pc-buttons {
  width: 180px;
  padding-top: 22px;
}
.pc-buttons ul {
  list-style-type: none;
  padding: 0;
  font-size: 0;
}
.pc-buttons ul li {
  display: inline-block;
  padding: 5px 10px;
  background: #FF7B5E;
  border: 1px solid #ff512b;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  height: auto;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.pc-buttons ul li.btn-cfox {
  padding: 10px;
}
.pc-buttons ul li:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pc-buttons ul li:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pc-buttons ul li.empty {
  background: transparent;
  color: #FF7B5E;
}
.pc-buttons ul li:hover {
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  background: #ff6644;
}
.pc-buttons ul li.empty:hover {
  background: #fff;
}
.pc-hospitals ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0;
}
.pc-hospitals ul li {
  font-size: 11px;
  color: #5b798d;
}
img.hospitals-more {
  width: 25px;
}
.pc-summary {
  width: 783px;
  height: 64px;
  background: #f7fafc;
  border-top: 1px solid #E9E9E9;
  cursor: pointer;
}
.pc-summary ul {
  padding: 0;
  list-style-type: none;
  font-size: 11px;
  padding-top: 15px;
  padding-left: 0px;
  position: relative;
}
.pc-summary ul li {
  font-weight: bold;
  text-transform: uppercase;
  color: #475e6e;
  margin-bottom: 7px;
  position: relative;
  display: inline-block;
  min-width: 170px;
  padding-left: 15px;
  /* special features content css */
}
.pc-summary ul li:after {
  content: '';
  position: absolute;
  width: 1px;
  border-right: 1px solid #E9E9E9;
  top: -15px;
  bottom: -18px;
  right: 0px;
  z-index: 20;
}
.pc-summary ul li:last-child:after {
  display: none;
}
.pc-summary ul li span {
  font-weight: normal;
  text-transform: none;
}
.pc-summary ul li div {
  position: absolute;
  width: 230px;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #475e6e;
  color: #fff;
  text-transform: none;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: none;
  font-weight: normal;
  z-index: 21;
  font-size: 12px;
  line-height: 170%;
  margin-top: 10px;
}
.pc-summary ul li div:after,
.pc-summary ul li div:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.pc-summary ul li div:after {
  border-bottom-color: #475e6e;
  border-width: 5px;
  left: 50%;
  margin-left: -5px;
}
.pc-summary ul li div:before {
  border-bottom-color: #475e6e;
  border-width: 6px;
  left: 50%;
  margin-left: -6px;
}
.pc-summary ul li:hover div {
  display: block;
}
.pc-summary ul li.spl-feature {
  padding: 0px;
  position: absolute;
  top: 0px;
  background-image: none;
}
.pc-summary ul li.spl-feature > h4 {
  padding: 3px 10px;
  background-color: #eef2f4;
  margin: 0px;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  top: 0;
  color: #475e6e;
  left: 0px;
  position: relative;
}
.pc-summary ul li.spl-feature > span {
  padding-top: 3px;
  padding-left: 15px;
  display: block;
  position: relative;
}
.pc-summary ul li.spl-feature > span:before {
  position: absolute;
  content: '';
  display: block;
  background-color: #b3c3ce;
  width: 5px;
  height: 5px;
  top: 9px;
  left: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.recommended-badge-icon {
  position: absolute;
  background: #ffcb59;
  left: 0;
  top: 88px;
  margin-top: -8px;
  z-index: 200;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 5px 10px 7px 5px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  cursor: pointer;
}
.recommended-badge-icon img {
  width: 23px;
}
.recommended-badge-icon .badge-desc {
  position: absolute;
  color: #ffffff;
  border-radius: 3px;
  left: 100%;
  padding: 5px 10px;
  top: 50%;
  font-size: 12px;
  margin-top: -15px;
  margin-left: 14px;
  width: 250px;
  background: rgba(71, 94, 110, 0.95);
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transform: translateX(-10px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.recommended-badge-icon .badge-desc:after,
.recommended-badge-icon .badge-desc:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.recommended-badge-icon .badge-desc:after {
  border-right-color: #475e6e;
  border-width: 7px;
  top: 50%;
  margin-top: -7px;
}
.recommended-badge-icon .badge-desc:before {
  border-right-color: #475e6e;
  border-width: 8px;
  top: 50%;
  margin-top: -8px;
}
.recommended-badge-icon:hover .badge-desc {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
}
.pc-details {
  width: 100%;
  max-height: 1000px;
}
.result-tab {
  display: none;
}
.result-tab.active {
  display: block;
}
.result-tab p.subtext {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.result-tab h3 {
  font-size: 14px;
  border-bottom: 1px solid #F1F4F6;
  padding-bottom: 10px;
  display: inline-block;
  color: #FF7B5E;
  font-weight: 600;
}
.detail-tab-container {
  border: 1px solid #FF7B5E;
  margin: 0 20px 20px;
  padding-bottom: 30px;
  padding-right: 0;
  background: #fff;
}
.factor-label {
  color: #5b798d;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  /* max-width:20em;*/
  padding-right: 15px;
  border-right: 5px solid transparent;
  background-image: url('../img/question-mark.png');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: top right;
}
.factor-label:hover .factor-detail {
  display: block;
}
.factor-label .factor-detail {
  display: none;
  font-weight: normal;
  position: absolute;
  left: -230px;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  width: 220px;
  font-size: 12px;
  background: #475e6e;
  padding: 10px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: none;
  z-index: 200;
}
.factor-label .factor-detail:after,
.factor-label .factor-detail:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.factor-label .factor-detail:after {
  border-left-color: #475e6e;
  border-width: 6px;
  top: 50%;
  margin-top: -6px;
}
.factor-label .factor-detail:before {
  border-left-color: #475e6e;
  border-width: 7px;
  top: 50%;
  margin-top: -7px;
}
.factor-label .factor-detail .factor-detail-heading {
  color: #ff9078;
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}
.factor-value {
  margin: 0;
  font-size: 12px;
}
.not-available {
  color: #d2dce2;
}
.other-benefits {
  padding-right: 0;
}
#plan-conditions .conditions-table p.label {
  color: #FF7B5E;
  padding-left: 0;
  font-size: 14px;
  display: block;
  color: #ff7b5e;
  font-weight: 600;
  margin-top: 10px;
  text-align: left;
  margin-bottom: 15px;
  padding-bottom: 0;
}
#plan-conditions .conditions-table p.value {
  font-size: 12px;
  margin-bottom: 10px;
  display: inline-block;
  line-height: 1.6em;
}
#plan-conditions .conditions-table p.value span:after {
  content: ', ';
}
#plan-conditions .conditions-table p.value span:last-child:after {
  display: none;
}
#plan-conditions .conditions-table .br-e {
  border-right: 1px solid #eeeeee;
  padding-bottom: 15px;
  min-height: 10em;
}
#plan-conditions .conditions-table div.sub-label {
  font-size: 12px;
  font-weight: bold;
}
.chart {
  height: 200px;
  position: relative;
  margin-left: 40px;
  margin-top: 32px;
}
.chart h3 {
  position: absolute;
  top: 0;
  left: -40px;
  margin-top: -25px;
}
.chart .dataPoint {
  position: absolute;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  width: 1px;
  height: 1px;
}
.chart .dataPoint:after {
  width: 8px;
  position: absolute;
  content: '';
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  height: 8px;
  margin-left: -3px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #FF7B5E;
  background: #ffffff;
}
.chart .dataPoint .dataPointDetail {
  position: absolute;
  font-size: 12px;
  border: 1px solid rgba(55, 58, 71, 0.56);
  color: #ffffff;
  width: 90px;
  text-align: center;
  padding: 2px 0;
  border-radius: 3px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 15px;
  color: #373a47;
  background: #fff;
}
.chart .dataPoint .dataPointDetail:after,
.chart .dataPoint .dataPointDetail:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.chart .dataPoint .dataPointDetail:after {
  border-top-color: rgba(55, 58, 71, 0.56);
  border-width: 6px;
  left: 50%;
  margin-left: -6px;
}
.chart .dataPoint .dataPointDetail:before {
  border-top-color: rgba(55, 58, 71, 0.56);
  border-width: 7px;
  left: 50%;
  margin-left: -7px;
}
.chart ul {
  position: absolute;
  bottom: 10px;
  width: 100%;
  list-style-type: none;
  padding: 0;
  font-size: 0;
}
.chart ul li {
  display: inline-block;
  width: 20%;
  font-size: 14px;
}
.chart ul li span {
  margin-left: -23px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.dropdown-trigger {
  padding: 0 15px;
}
.dropdown-trigger > a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #FF7B5E;
  display: block;
  margin-top: 10px;
  color: #FF7B5E;
  cursor: pointer;
}
.dropdown-trigger > a.loading-progress {
  background-color: #ffe0e1;
}
.dropdown-trigger > a img {
  float: right;
  width: 20px;
  margin-top: 7px;
}
.dropdown-trigger > a:hover,
.dropdown-trigger > a.active {
  background: rgba(255, 255, 255, 0.95);
  text-decoration: none;
}
.dropdown-trigger > a.active {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.dropdown-trigger ul.sidebar-options {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #FF7B5E;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: rgba(255, 255, 255, 0.95);
  border-top: none;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
.dropdown-trigger.sort {
  position: relative;
  display: inline-block;
  text-align: left;
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0;
}
.dropdown-trigger.sort > a img {
  margin-left: 5px;
}
.dropdown-trigger.sort ul.sidebar-options {
  display: none;
  position: absolute;
  top: 42px;
  left: 15px;
  right: 15px;
}
.dropdown-trigger.sort ul.sidebar-options.reveal {
  display: block;
  z-index: 300;
}
.dropdown-trigger.sort ul.sidebar-options li {
  background-image: none;
  padding: 4px 0px;
}
.sort-bar {
  margin: -15px;
  text-align: right;
}
.loading-progress {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.35) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.35) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.35) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  -webkit-animation: loading-progress-anim 2s linear infinite;
  -o-animation: loading-progress-anim 2s linear infinite;
  animation: loading-progress-anim 2s linear infinite;
  pointer-events: none;
}
.removeCard {
  display: none;
}
@-webkit-keyframes loading-progress-anim {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes loading-progress-anim {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes loading-progress-anim {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes loading-progress-anim {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes loading-progress-anim {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.row-title {
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 50px;
  border-bottom: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
}
.row-title.special {
  border-bottom: none;
}
.row-title.small {
  height: 40px;
  padding-top: 7px;
}
.row-title.break {
  background: #a0b1ca;
  border-right: 0;
  color: #fff;
}
.row-title p {
  right: 10px;
  font-size: 12px;
  color: #fff;
  text-align: right;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}
.row-title p span.helpicon {
  border: 1px solid #ffffff;
  border-radius: 30px;
  margin-left: 5px;
  padding: 1px 6px 1px 7px;
  font-weight: normal;
  font-size: 14px;
  display: none;
}
.cell-value {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 50px;
  position: relative;
  padding: 0;
  background: #f7f7f7;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.cell-value:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.cell-value span.glyphicon-ok {
  font-size: 20px;
  color: #00D9AA;
}
.cell-value span.glyphicon-remove {
  font-size: 20px;
  color: rgba(158, 167, 182, 0.5);
}
.cell-value.small {
  height: 40px;
}
.cell-value.break {
  background: #a0b1ca;
  border-left: 0;
}
.cell-value.break p {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.cell-value p {
  position: absolute;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  font-size: 13px;
  color: #6f6f6f;
  letter-spacing: 1px;
}
.cell-value.special p {
  font-size: 20px;
  color: #00D9AA;
}
.scroll-disable {
  overflow: hidden;
}
#modify-details-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(58, 55, 71, 0.9);
  z-index: 2000;
  opacity: 0;
  overflow-y: scroll;
  visibility: hidden;
}
#modify-details-wrapper.open {
  visibility: visible;
  opacity: 1;
}
#modify-details-wrapper.open .modify-details-popup {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
.continue-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
.modify-details-popup {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  top: 0px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  -webkit-transform: translate3d(0, -800px, 0) scale(0.8);
  -moz-transform: translate3d(0, -800px, 0) scale(0.8);
  -ms-transform: translate3d(0, -800px, 0) scale(0.8);
  -o-transform: translate3d(0, -800px, 0) scale(0.8);
  transform: translate3d(0, -800px, 0) scale(0.8);
  /* Top up plans question css */
}
.modify-details-popup h3 {
  text-align: center;
  font-weight: 300;
  color: #475e6e;
  padding-bottom: 15px;
}
.modify-details-popup h4 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #FF7B5E;
  border-top: 1px dashed #94abba;
  padding-top: 20px;
}
.modify-details-popup ul.family-options {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.modify-details-popup ul.family-options li {
  display: inline-block;
  margin-right: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #737373;
  margin-top: 10px;
  color: #737373;
  font-size: 12px;
}
.modify-details-popup ul.family-options li span {
  text-transform: none;
  letter-spacing: 0;
}
.modify-details-popup ul.family-options li span.age {
  display: none;
  background: #00ca9e;
  border-left: 1px solid #00b08a;
}
.modify-details-popup ul.family-options li span.age:hover {
  background: #00c096;
}
.modify-details-popup ul.family-options li span.age select {
  background: transparent;
  width: 104px;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  line-height: 1;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: '';
  text-indent: 0.1px;
  text-transform: uppercase;
  position: relative;
  z-index: 30;
  font-size: 11px;
}
.modify-details-popup ul.family-options li span.age select.has-error {
  -webkit-box-shadow: 6px 3px 15px rgba(253, 77, 77, 0.5);
  -moz-box-shadow: 6px 3px 15px rgba(253, 77, 77, 0.5);
  box-shadow: 6px 3px 15px rgba(253, 77, 77, 0.5);
}
.modify-details-popup ul.family-options li span.age select option {
  color: #000;
}
.modify-details-popup ul.family-options li span.glyphicon-ok {
  display: none;
}
.modify-details-popup ul.family-options li.selected {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #00b08a;
  background-color: #00D9AA;
  color: #fff;
  padding: 0;
  padding-left: 6px;
}
.modify-details-popup ul.family-options li.selected span.age {
  display: inline-block;
  margin-left: 10px;
  position: relative;
}
.modify-details-popup ul.family-options li.selected span.age .down-arrow {
  position: absolute;
  top: 7px;
  right: 9px;
  cursor: pointer;
  z-index: 29;
}
.modify-details-popup ul.family-options li.selected span.glyphicon-ok {
  display: inline-block;
  background: #00b08a;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding: 3px;
  font-size: 11px;
}
.modify-details-popup ul.family-options li.selected span.glyphicon-plus-sign {
  display: none;
}
.modify-details-popup ul.family-options li.add {
  text-transform: none;
  border-color: #00D9AA;
}
.modify-details-popup ul.family-options li.add span {
  color: #00D9AA;
}
.modify-details-popup ul.family-options li.add:hover {
  background: rgba(0, 0, 0, 0.04);
}
.modify-details-popup ul.family-options li.add:active {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #00b08a;
  background-color: #00D9AA;
  color: #fff;
}
.modify-details-popup ul.modify-healthcare-options {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 30px 0;
  margin-bottom: 60px;
}
.modify-details-popup ul.modify-healthcare-options li {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 150px;
  height: 100px;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}
.modify-details-popup ul.modify-healthcare-options li:hover {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
.modify-details-popup ul.modify-healthcare-options li > span {
  position: absolute;
  font-size: 20px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  font-weight: 300;
  width: 100%;
  left: 0;
  letter-spacing: 1px;
  text-align: center;
  line-height: 120%;
}
.modify-details-popup ul.modify-healthcare-options li > span small {
  font-size: 20px;
}
.modify-details-popup ul.modify-healthcare-options li > span span {
  position: absolute;
  top: 120%;
  line-height: 130%;
  font-size: 15px;
  background: #f4f6f8;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  left: -1px;
  right: -1px;
}
.modify-details-popup ul.modify-healthcare-options li.selected {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #00b08a;
  background-color: #00D9AA;
  color: #fff;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
.modify-details-popup ul.modify-healthcare-options li.selected > span small {
  color: #fff;
}
.modify-details-popup ul.modify-healthcare-options li.selected > span span {
  color: #fff;
  background: #00c096;
  border-color: rgba(0, 0, 0, 0.17);
}
.modify-details-popup .prev-policy .cfinput-wrap {
  margin-top: 15px;
}
.modify-details-popup .prev-policy .cfinput {
  padding: 0px 0px 0px 5px;
  height: 68px;
}
.modify-details-popup .prev-policy .cfinput select {
  padding: 15px 10px;
  display: block;
  background: #ffffff;
  height: 60px;
  width: 100%;
  position: relative;
  border: none;
  top: 3px;
  font-size: 16px;
}
.modify-details-popup .prev-policy .cfinput select:hover,
.modify-details-popup .prev-policy .cfinput select:active,
.modify-details-popup .prev-policy .cfinput select:focus {
  outline: none;
}
#compare-popup-wrapper {
  position: fixed;
  top: 75px;
  right: 20px;
  width: 200px;
  min-height: 130px;
  z-index: 300;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f7f9fa;
  -webkit-transform: translate3d(0, -275px, 0) scale(0.8);
  -moz-transform: translate3d(0, -275px, 0) scale(0.8);
  -ms-transform: translate3d(0, -275px, 0) scale(0.8);
  -o-transform: translate3d(0, -275px, 0) scale(0.8);
  transform: translate3d(0, -275px, 0) scale(0.8);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#compare-popup-wrapper h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  color: #FF7B5E;
  margin-top: 10px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  margin-bottom: 0;
  padding-bottom: 10px;
}
#compare-popup-wrapper.open {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -moz-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  -o-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
#compare-popup-wrapper .compare-btn {
  padding: 10px;
}
#compare-popup-wrapper .compare-btn a {
  display: block;
  text-align: center;
}
#compare-popup-wrapper ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#compare-popup-wrapper ul li {
  padding: 10px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  background: #fff;
}
#compare-popup-wrapper ul li.special {
  border: 0;
  background-color: #f7f9fa;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
#compare-popup-wrapper ul li.special p {
  text-overflow: clip;
  overflow: auto;
  white-space: normal;
  text-align: center;
  font-size: 14px;
  padding: 0px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#compare-popup-wrapper ul li img {
  max-height: 38px;
  max-width: 129px;
}
#compare-popup-wrapper ul li img.pull-right {
  cursor: pointer;
}
#compare-popup-wrapper ul li p {
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #5b798d;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.cart-items {
  color: #fff;
  margin-right: 38px;
  padding: 8px 10px;
  margin-top: 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #fff;
  cursor: pointer;
}
.cart-items span.value {
  background: #FF7B5E;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  font-weight: bold;
}
ul.selected-filters {
  list-style-type: none;
  padding: 0;
  padding-left: 15px;
  margin-top: 12px;
}
ul.selected-filters li {
  display: inline-block;
  margin-right: 15px;
  color: #fff;
  background: #FF7B5E;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
ul.selected-filters li span {
  padding: 3px 12px;
  display: inline-block;
  font-weight: normal;
}
ul.selected-filters li span.filter-remove {
  padding: 3px 8px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
ul.selected-filters li span.filter-remove:hover {
  background: rgba(0, 0, 0, 0.2);
}
ul.selected-filters li span.filter-value {
  background: rgba(0, 0, 0, 0.1);
}
.empty-ui {
  font-size: 30px;
  margin-top: 20px;
  font-weight: 300;
  padding-left: 15px;
  text-transform: none;
}
.navbar-form-wrapper {
  position: absolute;
  height: 54px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.navbar-form-wrapper ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  padding-top: 10px;
}
.navbar-form-wrapper ul li {
  display: inline-block;
  vertical-align: middle;
}
.navbar-form-wrapper ul li.form-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  text-align: right;
  color: #fff;
}
.navbar-form-wrapper ul li button {
  background: #FF7B5E;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  border: none;
  padding: 6px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.navbar-form-wrapper ul li button:hover {
  background: #ff512b;
}
.navbar-form-wrapper ul li .input-group {
  width: 220px;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 4px 0px;
}
.navbar-form-wrapper ul li .input-group input {
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  margin-top: 1px;
}
.navbar-form-wrapper ul li .input-group .input-group-addon {
  color: #fff;
  background: none;
  border: none;
}
ul.top-right-menu {
  list-style-type: none;
  height: 54px;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: right;
}
ul.top-right-menu li {
  display: inline-block;
  height: 54px;
  color: #fff;
  padding: 0px 10px;
  padding-top: 18px;
  font-size: 12px;
  vertical-align: top;
}
ul.top-right-menu li.shortlisted-items {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: none !important;
}
ul.top-right-menu li.shortlisted-items span.value {
  background: #FF7B5E;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 2px 8px;
  margin-left: 5px;
}
ul.top-right-menu li.dropdown {
  background: rgba(0, 0, 0, 0.4);
}
ul.top-right-menu li.dropdown a {
  color: #fff;
}
.topbar {
  position: relative;
}
.pc-hospitals,
.pc-deductible {
  position: relative;
  width: 260px;
  padding-left: 13px;
}
.pc-hospitals {
  padding-right: 15px;
  border-right: 5px solid transparent;
  background-image: url('../img/question-mark.png');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: top right;
  background-position-y: 20px;
  background-position-x: 225px;
}
.pc-hospitals:hover .pc-hospitals-dd {
  display: block;
}
.pc-hospitals-dd {
  position: absolute;
  width: 230px;
  top: 85%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #475e6e;
  color: #ffffff;
  text-transform: none;
  padding: 15px;
  border-radius: 3px;
  display: none;
  font-weight: normal;
  z-index: 21;
  font-size: 12px;
  line-height: 170%;
  margin-top: 10px;
}
.pc-hospitals-dd:after,
.pc-hospitals-dd:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.pc-hospitals-dd:after {
  border-bottom-color: #475e6e;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.pc-hospitals-dd:before {
  border-bottom-color: #475e6e;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}
.pc-hospitals-dd ul {
  list-style-type: none;
  padding: 0;
}
.pc-hospitals-dd ul li {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  padding: 3px 0;
}
.expert-card {
  padding: 10px;
  background-color: #314451;
  color: #ffffff;
  position: relative;
  height: auto;
  margin-bottom: 15px;
  float: left;
  width: 100%;
}
.expert-card .form-box {
  margin-top: 34px;
}
.expert-card .form-box .input-group-addon {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}
.expert-card .form-box button {
  background: #FF7B5E;
}
.expert-card .form-box button:hover {
  background: #ff512b;
  color: #fff;
}
.expert-card .profile {
  min-height: 50px;
  padding-top: 1px;
  position: relative;
}
.expert-card .profile h4 {
  margin-bottom: 0px;
  font-size: 16px;
  color: #ffffff;
}
.expert-card .profile .designation {
  color: #e0e0e0;
  font-size: 12px;
}
.expert-card .form-bg {
  margin-top: 12px;
}
.expert-card .form-bg .form-control {
  height: 34px;
  border: none;
}
.expert-card .profile img {
  width: 100px;
  height: 100px;
}
.expert-card h5 {
  color: #FF7B5E;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 14px;
  margin-top: 0px;
  margin-top: 23px;
}
.expert-card .lead-loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0px 20px 0px;
  text-align: center;
  background-color: #ffffff;
  z-index: 10;
  color: #333333;
  left: 0;
}
.expert-card .lead-loader h4 {
  font-size: 14px;
}
.expert-card .thanks-msg h4 {
  color: #ffffff;
  position: relative;
}
.expert-card .thanks-msg h4 .cross {
  position: absolute;
  right: 5px;
  top: -5px;
  font-weight: bold;
}
.expert-card .thanks-msg .lead {
  margin-bottom: 0px;
  letter-spacing: 3px;
  font-size: 16px;
  text-transform: uppercase;
}
/* expert card css ends */
a.show-all {
  color: #FF7B5E;
  border: 1px solid #FF7B5E;
  padding: 5px 10px;
  margin: 10px 20px 20px;
  display: inline-block;
  float: right;
  font-size: 14px;
  letter-spacing: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  margin-left: 10px;
}
a.show-all:hover {
  text-decoration: none;
  background: #FF7B5E;
  color: #fff;
}
/* css added for toll free numbae in header */
.navbar-form-wrapper {
  min-width: 700px;
}
.navbar-form-wrapper ul li {
  position: relative;
}
.navbar-form-wrapper ul li .perror {
  position: absolute;
  text-align: left;
  right: 0px;
  min-width: 307px;
  top: 26px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.navbar-form-wrapper ul li .perror:before {
  content: '';
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent red transparent;
  display: block;
  top: -17px;
  left: 10px;
  position: absolute;
}
.navbar-form-wrapper ul li .input-group {
  max-width: 200px;
}
.navbar-form-wrapper .toll-free {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  color: #ffffff;
  text-align: left;
  letter-spacing: 3px;
}
.navbar-form-wrapper .toll-free > div {
  font-size: 12px;
  margin-bottom: 2px;
}
/* css added for toll free number in header ends */
.pc-summary ul li.pc-ch {
  display: none !important;
  width: 212px;
}
/* Insurer logos sprite starts */
.insurer-logo {
  background-image: url('../img/insurer-logos.png');
  background-repeat: no-repeat;
  width: 100px !important;
  height: 50px !important;
  position: relative;
  top: -10px;
}
.insurer-logo.insurer-9 {
  background-position: 0 0;
}
.insurer-logo.insurer-8 {
  background-position: 0 -50px;
}
.insurer-logo.insurer-7 {
  background-position: -100px 0;
}
.insurer-logo.insurer-6 {
  background-position: -100px -50px;
}
.insurer-logo.insurer-5 {
  background-position: 0 -100px;
}
.insurer-logo.insurer-4 {
  background-position: -100px -100px;
}
.insurer-logo.insurer-3 {
  background-position: 0 -150px;
}
.insurer-logo.insurer-2 {
  background-position: -100px -150px;
}
.insurer-logo.insurer-16 {
  background-position: -200px 0;
}
.insurer-logo.insurer-15 {
  background-position: -200px -50px;
}
.insurer-logo.insurer-14 {
  background-position: -200px -100px;
}
.insurer-logo.insurer-13 {
  background-position: -200px -150px;
}
.insurer-logo.insurer-12 {
  background-position: 0 -200px;
}
.insurer-logo.insurer-11 {
  background-position: -100px -204px;
}
.insurer-logo.insurer-10 {
  background-position: -200px -200px;
}
.insurer-logo.insurer-1 {
  background-position: 0 -250px;
}
@media screen and (-webkit-min-device-pixel-ratio: 1), screen and (min--moz-device-pixel-ratio: 1), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1), screen and (min-resolution: 1dppx) {
  .insurer-logo {
    background-image: url('../img/insurer-logos.png');
    -webkit-background-size: 300px 300px;
    -moz-background-size: 300px 300px;
    background-size: 300px 300px;
  }
}
/* Insurer logos sprite ends */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  #results-sidebar {
    margin-bottom: 0;
    min-height: 0;
    width: 100%;
  }
  #results-sidebar .results-sidebar-section {
    float: left;
    width: 50%;
  }
  #results-sidebar .results-sidebar-section.special {
    border-top: 0;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .navbar-form-wrapper ul li {
    display: none;
  }
  .navbar-form-wrapper ul li.toll-free {
    display: inline-block;
  }
  .results-block-plans {
    width: 750px;
  }
  .plan-card.open {
    width: 750px;
  }
  .pc-plan-benefits,
  .pc-action,
  .pc-summary {
    width: 573px;
  }
  .pc-deductible,
  .pc-hospitals {
    display: none;
  }
  .pc-button-wrapper {
    width: 408px;
  }
  .pc-summary ul li.pc-rr,
  .pc-summary ul li.pc-cp,
  .pc-summary ul li.pc-ped {
    display: none;
  }
  .pc-summary ul li.pc-ch {
    display: inline-block;
  }
}
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
label.check-box {
  background: url('../img/tick-square-empty.png') no-repeat 5px center transparent;
  padding: 5px 10px 5px 35px;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
  color: #577991;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 5px;
}
label.check-box input[type="checkbox"] {
  display: none;
}
label.check-box.selected {
  background: url('../img/tick-square-orange.png') no-repeat 5px center #fff;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;
}
.exception-trigger {
  position: relative;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  width: 400px;
  color: #827d7a;
  border: 1px solid #9b9694;
}
.exception-trigger:hover,
.exception-trigger:active,
.exception-trigger:focus {
  text-decoration: none;
  color: inherit;
  background-color: #f5f5f5;
  outline: none;
}
#exception-insurers {
  padding: 20px 15px;
  font-size: 13px;
}
#exception-insurers .plans-row {
  margin: 20px -15px 0;
}
#exception-insurers > ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}
#exception-insurers > ul li {
  margin-right: 15px;
  display: inline-block;
  text-align: center;
  font-size: 10px;
}
#exception-insurers > ul li .img-s {
  display: block;
  width: 152px;
  height: 50px;
  background-color: #fff;
  margin-bottom: 5px;
}
#exception-insurers > ul li .img-s > div {
  display: inline-block;
}
#exception-insurers .reason-list {
  margin-bottom: 20px;
  padding: 10px 15px;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#exception-insurers .reason-list h5 {
  color: #999;
  margin-bottom: 15px;
  margin-left: 18px;
}
#exception-insurers .reason-list ul li {
  margin-bottom: 5px;
}
#exception-insurers .plan-card .pc-button-wrapper,
#exception-insurers .plan-card .pc-summary {
  background-color: #f7f7fa;
}
#exception-insurers .plan-card .pc-buttons,
#exception-insurers .plan-card .pc-button-wrapper .pc-shortlist-btn span {
  display: none;
}
#exception-insurers .plan-card #plan-conditions .conditions-table p.label,
#exception-insurers .plan-card ul.cf-tabs li.active,
#exception-insurers .plan-card .result-tab h3,
#exception-insurers .plan-card .pc-cover p.value,
#exception-insurers .plan-card .pc-deductible p.value,
#exception-insurers .plan-card .pc-premium p.value,
#exception-insurers .plan-card .pc-buttons p.value,
#exception-insurers .plan-card .pc-hospitals p.value {
  color: #475e6e;
}
#exception-insurers .insurer-logo {
  background-image: url('../img/insurer-logos-bw.png');
  top: 0;
}
#exception-insurers ul.cf-tabs li.active,
#exception-insurers .detail-tab-container {
  border-color: #475e6e;
}
/* consistant header css */
.header-wrapper {
  position: relative;
  padding: 20px;
}
.header-wrapper .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #314451;
}
.header-wrapper .logo img {
  max-height: 35px;
}
.header-wrapper {
  height: 64px;
  background: #314451;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0 16px;
}
.header-wrapper.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.hamburger-menu,
.logo,
.page-title {
  float: left;
}
.hamburger-menu {
  width: 48px;
  height: 48px;
  position: relative;
  top: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 12px;
  background-image: url('/static/motor_product/img/icons/hamburger.png');
  cursor: pointer;
}
.page-title {
  font-size: 20px;
  line-height: 64px;
  position: relative;
  font-weight: 300;
  opacity: .7;
}
@media only screen and (max-width: 767px) {
  .page-title {
    font-size: 16px;
  }
}
.page-title:before {
  content: '';
  width: 0.3em;
  margin: 0 0.8em 0 0.8em;
  background-repeat: no-repeat;
  background-image: url('/static/motor_product/img/icons/right-arrow-white.png');
  background-size: contain;
  background-position: right center;
  float: left;
  height: 64px;
}
.right-item {
  font-size: 16px;
  line-height: 64px;
  position: relative;
  font-weight: 300;
  opacity: .7;
  font-weight: bold;
  margin-right: 16px;
}
@media only screen and (max-width: 991px) {
  .right-item {
    font-size: 14px;
  }
}
.logo {
  line-height: 60px;
  cursor: pointer;
}
.logo img {
  height: 24px;
  margin-left: 8px;
}
