<!DOCTYPE html>
{% load compress %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Compare Car Insurance Premium Quotes | Buy Car Insurance online {% endblock %}</title>

    <link rel="shortcut icon" href="{{STATIC_URL}}flatpages/motor/img/favicon.ico" type="image/x-icon" />

    {% block header %}
    {% endblock %}

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>
<body>
<section class="hero-wrapper">
    <div id="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-4 col-sm-6">
                    <div class="logo">
                        <a href="/">
                            <img src="{{STATIC_URL}}flatpages/motor/img/coverfox-logo.png" alt="" class="logo">
                        </a>
                        <br/>
                    </div>
                    <div id="irda-auth" class="irda-auth-badge">
                        <span>
                            IRDA Licence:
                            <br>IRDA/ DB 556/ 13
                        </span>
                    </div>
                </div>
                {% block tollfree %}
                <div class="col-md-6 col-xs-8 pull-right col-sm-6">
                    <ul id="right-menu-items">
                        <li>
                            <a href="javascript:ClickToCall('top_bar')">
                                {{ settings.CAR_LP_TOLL_FREE }}
                            </a>
                            Toll Free
                            <img src="{{STATIC_URL}}flatpages/motor/img/phone.png" alt="" class="menuimg">
                        </li>
                    </ul>
                </div>
                {% endblock tollfree %}
            </div>
        </div><!--/.container-->
    </div><!--/#topbar-->
    {% block hero %}
    {% endblock %}
</section><!--/.hero-wrapper-->
<!--{% block body %}-->
{% block companies %}
<!--<section class="companies-wrapper">
    <div class="container-fluid">
        <div class="row">
            <ul class="company-logos">
                <li><img src="{{STATIC_URL}}flatpages/motor/img/insurer/lnt.png" alt=""></li>
                <li><img src="{{STATIC_URL}}flatpages/motor/img/insurer/2.png" alt=""></li>
                <li><img src="{{STATIC_URL}}flatpages/motor/img/insurer/3.png" alt=""></li>
                <li><img src="{{STATIC_URL}}flatpages/motor/img/insurer/4.png" alt=""></li>
                <li><img src="{{STATIC_URL}}flatpages/motor/img/insurer/5.png" alt=""></li>
                <li><img src="{{STATIC_URL}}flatpages/motor/img/insurer/univ_sompo.png" alt=""></li>
                <li><img src="{{STATIC_URL}}flatpages/motor/img/insurer/nia.png" alt=""></li>
            </ul>
        </div>
    </div>
</section>--><!-- companies wrapper -->
{% endblock %}

{% block illustration %}
<!--section class="illustration-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="icon-box">
                    <img src="{{STATIC_URL}}flatpages/motor/img/illustration_icon_1.png" alt=""/>
                    <h4 class="icon1">30 Seconds</h4>
                </div>
                <p><strong>Quickest Quotes: </strong>Get Quotes from<br/> top Insurance companies<br/> in <span class="go_big">30 seconds</span></p>
            </div>
            <div class="col-sm-4">
                <div class="icon-box">
                    <img src="{{STATIC_URL}}flatpages/motor/img/illustration_icon_2.png" alt=""/>
                    <h4 class="icon2">Save upto 60%</h4>
                </div>
                <p><strong>Best Rates: </strong>Save <span class="go_big">upto 60%</span> with 7<br/> Insurance companies </p>
            </div>
            <div class="col-sm-4">
                <div class="icon-box">
                    <img src="{{STATIC_URL}}flatpages/motor/img/illustration_icon_3.png" alt=""/>
                    <h4 class="icon3">Instant Policy</h4>
                </div>
                <p><strong>Buy Online: </strong>Compare and buy<br/> an instant policy in under<br/> <span class="go_big">5 minutes</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button onclick="skipForm('save_money')" class="btn-cfox orange btn-next btn-block">Save my money on {{ parent_category }}</button>
            </div>
        </div>
    </div>
</section-->
{% endblock %}

{% block free_services %}
<!--<section class="dark-box free-services">
    <div class="container">
        <h1>
            &lt;!&ndash;img class="bag" src="{{STATIC_URL}}flatpages/motor/img/icon_bag.png" alt=""/&ndash;&gt;
            &lt;!&ndash;img class="logo" src="{{STATIC_URL}}flatpages/motor/img/coverfox-logo.png" alt="Coverfox"/&ndash;&gt;
            Free Benefits just for you
        </h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="proposition">
                    <img src="{{STATIC_URL}}flatpages/motor/img/fs-support.png" alt=""/>
                    <h4>Dedicated Relationship Manager</h4>
                    <p>A call away to help you with paperwork and co-ordination at the time of claims</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="proposition">
                    <img src="{{STATIC_URL}}flatpages/motor/img/fs-service.png" alt=""/>
                    <h4>Car Breakdown Services</h4>
                    <p>
                        Because we know how bad a carbreak down is - We give Free Towing and pick-up,
                        Emergency fuel arrangement and on-call technical assistance
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="proposition">
                    <img src="{{STATIC_URL}}flatpages/motor/img/fs-parts.png" alt=""/>
                    <h4 class="padding-fix">100% Genuine Car Parts</h4>
                    <p>We make sure that quality is not compromised and service level is maintained in your claim settlement</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button onclick="skipForm('best_deals')" class="btn-cfox orange btn-next btn-block">Show me the best {{ parent_category }} deals</button>
            </div>
        </div>
    </div>&lt;!&ndash;/.container&ndash;&gt;
</section>-->
{% endblock %}

{% block testimonials %}
    <!--<section class="light-box testimonials-section">
        <div class="container">
            <h1>What our Customers have to say</h1>
            <div class="row">
                <div class="col-sm-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}flatpages/motor/img/testimonials/t1.jpg" alt=""/>
                        <div class="comment left">
                            <p>
                                Finally an insurance website that didn't spam me 1000 phone calls! Good work guys. I'm a fan! :)
                            </p>
                            <p class="title">- Mrunmayee</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}flatpages/motor/img/testimonials/t2.jpg" alt=""/>
                        <div class="comment">
                            <p>
                            Thank you, Shweta! Because of you, we could save so much on renewal. Will recommend this site to my friends too.
                            </p>
                            <p class="title">- Mr. and Mrs. Thombre</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}flatpages/motor/img/testimonials/t3.jpg" alt=""/>
                        <div class="comment right">
                            <p>
                                This was my first car renewal. Amol was really patient with all my questions. Thanks guys!
                            </p>

                            <p class="title">- Mr. Gagan Deep Singh Kainth</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <button onclick="skipForm('premium_calculator')" class="btn-cfox orange btn-next btn-block">Take me to the premium calculator</button>
                </div>
            </div>
        </div>
    </section>-->
{% endblock %}


{% block about_us %}
<!--<section class="dark-box about-us">
    <div class="container">
        <h1 class="section-header">Car Insurance</h1>
        <p class="lead-para">
        Buying a new car is an important decision.<a href="../"> Buying insurance</a> for it is an intelligent decision.
        </p>
    </div>
    <div class="container">
        <h1 class="section-header"><strong>A Quick way to get the best deal is to keep certain things in mind</strong></h1>
    </div>
    <div class="container">
        <h1 class="section-header">Compare online</h1>
        <p class="lead-para">
        Gone are the days when you have to run behind insurance agents to<a href="../"> get affordable insurance premiums</a>. <a href="/car-insurance/compare-car-insurance/">Get online and compare</a> some of the best rates available in the market for your <a href="/car-insurance/new/">new car</a>. Four reasons to consider online purchases:
        </p>
        <p class="lead-para">
        1.) it’s easy, convenient and saves time. It means that you chosen policy is confirmed and in your inbox in the real time of a click on your mouse
        </p>
        <p class="lead-para">
        2.) Online purchases promise you some of the best discounted rates and attractive offers.
        </p>
        <p class="lead-para">
        3.) Most importantly – it would be a paperless transaction. You wouldn’t have to go fishing for old documents for submission in order to buy insurance.
        </p>
    </div>
    <div class="container">
        <h1 class="section-header">Figure the Coverage your car needs</h1>
        <p class="lead-para">
        Choose the right cover for your car. A standard <a href="/car-insurance/">car insurance policy</a> is of two types: Third Part Liability cover and a Comprehensive Cover
        </p>
        <p class="lead-para">
        1.) A Third Party liability cover insures you against damages that you may do to a third party – be it damage to property or injury to person.
        </p>
        <p class="lead-para">
        2.) A comprehensive cover includes the third party cover and another for your own losses on account of damage to your car.
        </p>
        <p class="lead-para">
        Motor Vehicles Act makes the Third Party cover mandatory in an insurance policy. But claims pertaining to own damages are not covered under this.  We highly recommended that you always opt for a comprehensive cover, and pick the right IDV (Insured Declared Value) to get the best deal.
        </p>
    </div>
    <div class="container">
        <h1 class="section-header">Add-ons to choose</h1>
        <p class="lead-para">
        Add-ons are a small platter of value-added features that can strengthen your motor insurance. It protects not just your car from damages, repairs and thefts but also you, by managing effectively your losses from other external factors. Engine Protect, <a href="/car-insurance/zero-depreciation/">Zero Dep</a> are a couple of the most common add-ons available. Learn more about them in <a href="/articles/car-insurance/the-essential-guide-to-motor-insurance-add-ons/">this infographic</a>.
        </p>
    </div>
    <div class="container">
        <h1 class="section-header">Accessibility, assistance during claims</h1>
        <p class="lead-para">
        Your experience would turn out bitter, if you are not tended to in time because of the sheer absence of a service network. As brokers we help during the process of claims by being there for you to help you with all your queries, reaching out to your company on behalf of you and assist you to minimize the running around. If there is any delay in your claim process, we ensure a hand-in hand course of action with the <a href="../">insurance company</a>, to smoothen out the claim cycle at the earliest.
        </p>
        <p class="lead-para">
        We help you <a href="/car-insurance/compare-car-insurance/">compare car insurance rates</a> from more than 20 companies easily and quickly. If you wish, our advisory team can also guide you through to pick the best policy in a transparent and easy to understand manner.
        </p>
    </div>
</section>-->
{% endblock %}
<!--{% endblock %}-->

{% block footer %}
<!--<section class="footer clearfix">
    <div class="container">
        <div class="row">
            <div class="pull-left">
                &copy; 2014 Coverfox Insurance Broking Pvt. Ltd. All Rights Reserved
            </div>
            <div class="pull-right">
                www.coverfox.com
            </div>
        </div>
    </div>
</section>-->
{% endblock %}

{% compress css %}
    <link href="{{STATIC_URL}}flatpages/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}flatpages/css/car-base.css" rel="stylesheet">
{% endcompress %}

{%block footer_css%}
{%endblock%}

{%compress js%}
    <script src="{{STATIC_URL}}lp/js/cookies.js"></script>
{%endcompress%}


<script type="text/javascript">
window.dataLayer = [];
window.dataLayer.push({
    'event': 'AutoEvent',
    'hitType': 'event',
    'eventCategory': 'MOTOR',
    'eventAction': 'PAGENAME',
    'eventLabel': '{{ page_id }}',
    'eventValue': 0
});
function ClickToCall(label){
    window.dataLayer.push({
        'event': 'GAEvent',
        'hitType': 'event',
        'eventCategory': 'MOTOR',
        'eventAction': 'click_to_call',
        'eventLabel': '{{ page_id }} Label_' + label,
        'eventValue': 0
    });
    window.location = 'tel:{{ settings.CAR_LP_TOLL_FREE }}';
    return false;
}

</script>
{% block message_js %}
    <script type="text/javascript">
        // special message block javascript
        window.onload = function() {
            var delay=500;
            var messageBlock = document.getElementById('special-message');
            var moveBlock = document.getElementsByClassName('hero-wrapper')[0];
            messageBlock.style.marginTop = '-' + messageBlock.offsetHeight + 'px';
            setTimeout(function(){
                messageBlock.style.marginTop = '0px';
                moveBlock.classList.add('recede');
                messageBlock.className = 'reveal';
            },delay);
        };
    </script>
{% endblock %}
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MR4FRN');</script>
<!-- End Google Tag Manager -->

{%block footer_js%}
{%endblock%}

</body>
</html>
