{% extends "blog/base_blog.html" %}

{% load compress %}
{% load manip_data tagging_tags  %}

{% block extended_header %}
    {% if page_obj.has_previous %}
        <link rel="prev" href="{{ settings.SITE_URL }}{{ request.META.PATH_INFO|paginator:page_obj.previous_page_number }}">
    {%endif%}
    {% if page_obj.has_next %}
        <link rel="next" href="{{ settings.SITE_URL }}{{ request.META.PATH_INFO|paginator:page_obj.next_page_number }}">
    {% endif %}
{% endblock %}
{% block header %}
{% endblock %}
{%block main%}
<div class="bg-style"></div><!--/.bg-style-->
    <div class="container main-container">
        <a href="/" style="margin-top:10px;display:inline-block;position:relative;z-index:1000;"><img class="logo-style" src="{{STATIC_URL}}global/img/logos/cf-white-orange-h71.png" alt="coverfox"></a><br>
    </div>
    <div class="container text-center quiz_container_nw">
        <div class="row">
            <div class="col-md-12">
                <img src="{{STATIC_URL}}rdesk/quizy_2/img/quiz-1.png" alt="">
                <div class="main_box_container">
                    <div class="inner_box">
                        <span class="top_txt">THE</span> <br> ROAD-SIDES <br>
                        <span>QUIZ</span>
                    </div>
                </div>
                <div class="btn_container">
                    <a class="roadside_button" href='/rupys-desk/quiz/{{quiz.slug}}/'>Start Quiz</a>
                </div>
            </div>
        </div>
    </div>
<!-- Container Ends-->

{%endblock main%}

{% block footer %}
{%endblock%}

{% block footer_css %}
    {%compress css%}
        <link href="{{STATIC_URL}}rdesk/css/style.css" rel="stylesheet"/>
    {%endcompress%}
{%endblock%}

{% block footer_js %}
    {%compress js%}

    <script type="text/javascript">
    </script>
{%endcompress%}
{% endblock %}
