{% extends "blog/base_blog.html" %}

{% load compress %}
{% load manip_data tagging_tags  %}

{% block extended_header %}
    {% if page_obj.has_previous %}
        <link rel="prev" href="{{ settings.SITE_URL }}{{ request.META.PATH_INFO|paginator:page_obj.previous_page_number }}">
    {%endif%}
    {% if page_obj.has_next %}
        <link rel="next" href="{{ settings.SITE_URL }}{{ request.META.PATH_INFO|paginator:page_obj.next_page_number }}">
    {% endif %}
{% endblock %}
{% block header %}
{% endblock %}
{%block main%}
<div class="bg-style"></div><!--/.bg-style-->
    <div class="container main-container">
        <a href="/" style="margin-top:10px;display:inline-block;position:relative;z-index:1000;"><img class="logo-style" src="{{STATIC_URL}}global/img/logos/cf-white-orange-h71.png" alt="coverfox"></a><br>
        <div class="row">
            <div id="scrollToDiv" class="col-lg-12">
                <h1 class="quiz-head">{{ quiz.title }}</h1>
                <div class="quiz_container_nw text-center">
                <img id="quiz_img" src="{{STATIC_URL}}rdesk/quizy_2/img/1.jpg" alt="">
                <form id="quiz_form" class="form" method="POST" action="{% url 'quiz_results' %}">
                    <input id="quiz_number" type="hidden" name="quiz_number" value="{{ quiz.id }}">
                    {% for q in quiz.content.quiz %}
                    <fieldset id="page_{{ forloop.counter }}" class="quiz_page">
                        {% with forloop.counter as parent_counter %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="option-box">
                                <!--legend><div class="goll">Q</div> {{ q.question }}</legend-->
                                {% for choice in q.choices %}
                                <label style="display:block;" for="choice-{{ parent_counter }}-{{ forloop.counter }}_{{ choice.score }}">
                                    <div class="input">
                                        <input id="choice-{{ parent_counter }}-{{ forloop.counter }}_{{ choice.score }}"
                                               class="choicey" type="radio" name="choice_{{ parent_counter }}"
                                        value="choice-{{ parent_counter }}-{{ forloop.counter }}_{{ choice.score }}">
                                        {{ choice.choice }}
                                    </div>
                                </label>
                                {% endfor %}
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <!--img src="" class="quiz-img" alt="" -->
                            </div>
                        </div><!--/.row-->
                        {% endwith %}
                    </fieldset>
                    {% endfor %}
                    <!--input id="id_btn" class="submit" type="submit" name="btnsubmit" value="Submit" /-->
                </form>
                <!-- Posts Start -->
                <div class="progress_container">
                    progress : <span id="stage_counter">1</span>/10
                    <progress max="100" value="10"></progress>
                </div>
                </div>
            </div>
        </div>
    </div>
<!-- Container Ends-->

{%endblock main%}

{% block footer %}
{%endblock%}

{% block footer_css %}
    {%compress css%}
        <link href="{{STATIC_URL}}rdesk/css/quizy_2.css" rel="stylesheet"/>
    {%endcompress%}
{%endblock%}

{% block footer_js %}
    {%compress js%}

    <script type="text/javascript">
        $(function() {
            $('#page_1').addClass('active');
            /*
            $('form').submit(function(){
                var total_score = 0;
                $('input:radio').each(function () {
                    if ($(this).prop('checked')) {
                        //console.log($(this).attr('value').split('_')[1]);
                        total_score = parseInt(total_score) + parseInt($(this).attr('value').split('_')[1]);

                    }
                });
                alert(total_score);
                return false;
            });
            */

            var remove_background = function(){
                $('input:radio').each(function () {
                    if (!$(this).prop('checked')) {
                        $(this).parent('.input').parent('label').removeClass('checked');
                    }
                });
            }
            var stage_counter = 1;

            $('.choicey').click(function() {
                remove_background();
                $('input[type="radio"]:checked').parent('.input').parent('label').addClass('checked');
                var currPage = $('.active').attr('id').split('_')[1];
                var nextPage = parseInt(currPage) + 1;
                if ($('#page_' + nextPage).length){
                    stage_counter = stage_counter + 1;
                    $('#quiz_img')[0].src = "/static/rdesk/quizy_2/img/"+ stage_counter+ ".jpg"
                    $('progress').val(stage_counter*10);
                    $('#page_' + currPage).removeClass('active');
                    $('#page_' + nextPage).addClass('active');
                    $('#stage_counter').text(stage_counter);
                }
                else{
                    var total_score = 0;
                    var total_out_of = 0;
                    $('input:radio').each(function () {
                        if ($(this).prop('checked')) {
                            //console.log($(this).attr('value').split('_')[1]);
                            total_score = parseInt(total_score) + parseInt($(this).attr('value').split('_')[1]);
                            total_out_of = total_out_of + 100;
                        }
                    });
                    //alert(total_score);
                    $('#quiz_form').prepend("<input type='hidden' name='score' value='"+total_score+"' />");
                    $('#quiz_form').prepend("<input type='hidden' name='total_out_of' value='"+total_out_of+"' />");
                    $('#quiz_form').submit();

                }
            });

        })
    </script>
{%endcompress%}
{% endblock %}
