{% extends "blog/base_blog.html" %}

{% load compress %}
{% load manip_data tagging_tags  %}

{% block extended_header %}
    {% if page_obj.has_previous %}
        <link rel="prev" href="{{ settings.SITE_URL }}{{ request.META.PATH_INFO|paginator:page_obj.previous_page_number }}">
    {%endif%}
    {% if page_obj.has_next %}
        <link rel="next" href="{{ settings.SITE_URL }}{{ request.META.PATH_INFO|paginator:page_obj.next_page_number }}">
    {% endif %}
{% endblock %}
{% block header %}
{% endblock %}
{%block main%}
<div class="bg_result"></div><!--/.bg-style-->
    <div class="container main-container">
        <a href="/" style="margin-top:10px;display:inline-block;position:relative;z-index:1000;"><img class="logo-style" src="{{STATIC_URL}}global/img/logos/cf-dark-orange-h71.png" alt="coverfox"></a><br>
    </div>
    <div class="container">
        <div class="row">
            <div class="result_container clearfix">
               <div class="col-md-3">
                   <img src="{{STATIC_URL}}rdesk/quizy_2/img/{{score_text.img}}" alt="" class="img-responsive"> <br>
                   <p class="img_b">{{score_text.title}} </p>
                   <p>You scored: {{ display_score }} out 10</p>
               </div>
               <div class="col-md-8">
                   <h2>{{score_text.title|safe}}</h2>
                   {{score_text.desc|safe}}
                   <div class="link_container">
                       <a href="/motor/car-insurance/?ref=quiz">Check out our Car Insurance Product</a>
                   </div>
               </div>
            </div>
        </div>
    </div>
    <section class="social_containers">
        <div class="container">
        <div class="share_options visible-md visible-lg" style="position:fixed;width: 170px;top:85px;right:20px;">
            <div class="row">
                <div class="col-lg-12" style="text-align: center;padding: 5px;margin-bottom:10px;height:90px;">
                    <img class="soc_before" src="{{STATIC_URL}}img/metro_facebook.jpg"  alt="Click to Share" />
                    <div class="soc_after">
                    <div class="fb-share-button" data-href="http://www.coverfox.com/rupys-desk/quiz/start/?score={{ score }}" data-layout="button_count"></div>
                    </div>
                </div>
                <div class="col-lg-12" style="text-align: center;padding: 5px;margin-bottom:10px;height:90px;">
                    <img class="soc_before" src="{{STATIC_URL}}img/metro_twitter.jpg"  alt="Click to Tweet" />
                    <div class="soc_after">
                        <a href="https://twitter.com/share?text=I am {{ score_text.title }} per Coverfox's road sign quiz. Take the quiz now: " class="twitter-share-button"
                           data-url="http://www.coverfox.com/rupys-desk/quiz/start/"
                           data-via="coverfox" data-lang="en"
                           data-related="coverfox" data-count="vertical">Tweet</a>
                    </div>
                </div>
                <div class="col-lg-12" style="text-align: center;padding: 5px;height:90px;">
                    <img class="soc_before" src="{{STATIC_URL}}img/metro_linkedin.jpg"  alt="Click to Share" />
                    <div class="soc_after">
                        <script type="IN/Share" data-counter="top" data-url="http://www.coverfox.com/rupys-desk/quiz/start/?score={{ score }}"></script>
                    </div>
                </div>
            </div>
            <span style="display: block;margin-top:30px;font-size:12px;">Find out how your friends do with the quiz. Share the link.</span>
            </div>
        </div>
    </section>
<!-- Container Ends-->

{%endblock main%}

{% block footer %}
{%endblock%}

{% block footer_css %}
    {%compress css%}
        <link href="{{STATIC_URL}}rdesk/css/style.css" rel="stylesheet"/>
    {%endcompress%}
{%endblock%}

{% block footer_js %}
    {%compress js%}

    <script type="text/javascript">
        $(function() {
            $('#page_1').addClass('active');
            /*
            $('form').submit(function(){
                var total_score = 0;
                $('input:radio').each(function () {
                    if ($(this).prop('checked')) {
                        //console.log($(this).attr('value').split('_')[1]);
                        total_score = parseInt(total_score) + parseInt($(this).attr('value').split('_')[1]);

                    }
                });
                alert(total_score);
                return false;
            });
            */
            $('.soc_after').hide();
            var socialing_in = function(){
                $('.soc_before').hide();
                $('.soc_after').show();
            }
            var socialing_out = function(){
                $('.soc_after').hide();
                $('.soc_before').show();
            }
            $('.share_options').hover(socialing_in, socialing_out);


        })
    </script>
{%endcompress%}
{% endblock %}
