{% extends "blog/base_blog.html" %}

{% load compress %}
{% load manip_data tagging_tags  %}

{% block extended_header %}
    {% if page_obj.has_previous %}
        <link rel="prev" href="{{ settings.SITE_URL }}{{ request.META.PATH_INFO|paginator:page_obj.previous_page_number }}">
    {%endif%}
    {% if page_obj.has_next %}
        <link rel="next" href="{{ settings.SITE_URL }}{{ request.META.PATH_INFO|paginator:page_obj.next_page_number }}">
    {% endif %}
{% endblock %}
{% block header %}
{% endblock %}
{%block main%}
<div class="conometer">
    <div class="container main-container">
        <div style="text-align:left;">
            <a href="/" style="margin-top:10px;display:inline-block;position:relative;z-index:1000;">
                <img class="logo-style" src="{{STATIC_URL}}img/coverfox-logo-white.png" alt="coverfox"></a>
        </div>
        <h1>Your&nbsp;<span style="color: #7b631e;">Con-o-meter</span>&nbsp;reading is</h1>
        <div style="width:500px;margin:auto;">
            <div class="progress_wheel clearfix">
                <div class="lookup">
                    <div class="lookitem">0 Coverfoxed</div>
                    <div class="lookitem">1-80 Just Conned!</div>
                    <div class="lookitem">80-85 Super Conned!</div>
                    <div class="lookitem">85-90 Hyper Conned!</div>
                    <div class="lookitem">90-95 Mega Conned!</div>
                    <div class="lookitem">95-100 Ultra Mega Conned!</div>
                </div>
            </div>
        </div>
        <h2>Ooh..Looks like you've been conned pretty bad.</h2>
        <!--h3>To make sure it never happens again, head over to our expert review
        </h3-->
        <a href="/review/start/" class="btn btn-lg btn-brown" >Click here to know the truth</a>

        <div class="share_options visible-md visible-lg" style="position:fixed;width: 170px;top:85px;right:20px;">
            <span>Find out how badly your friends have been conned</span>
            <div class="row">
                <div class="col-lg-12" style="text-align: center;padding: 5px;margin-bottom:10px;height:90px;">
                    <img class="soc_before" src="{{STATIC_URL}}img/metro_facebook.jpg"  alt="Click to Share" />
                    <div class="soc_after">
                        <fb:like href="http://www.coverfox.com/rupys-desk/quiz/find-out-if-youve-been-conned-into-buying-insurance-meant-for-chimps-1/"
                                 width="450" layout="box_count" show_faces="false" send="false"></fb:like>
                    </div>
                </div>
                <div class="col-lg-12" style="text-align: center;padding: 5px;margin-bottom:10px;height:90px;">
                    <img class="soc_before" src="{{STATIC_URL}}img/metro_twitter.jpg"  alt="Click to Tweet" />
                    <div class="soc_after">
                        <a href="https://twitter.com/share" class="twitter-share-button"
                           data-url="http://www.coverfox.com/rupys-desk/quiz/find-out-if-youve-been-conned-into-buying-insurance-meant-for-chimps-1/"
                           data-via="coverfox" data-lang="en"
                           data-related="coverfox" data-count="vertical">Tweet</a>
                    </div>
                </div>
                <div class="col-lg-12" style="text-align: center;padding: 5px;height:90px;">
                    <img class="soc_before" src="{{STATIC_URL}}img/metro_linkedin.jpg"  alt="Click to Share" />
                    <div class="soc_after">
                        <script type="IN/Share" data-counter="top" data-url="http://www.coverfox.com/rupys-desk/quiz/find-out-if-youve-been-conned-into-buying-insurance-meant-for-chimps-1/"></script>
                    </div>
                </div>
            </div>
            <div class="soc_after row">
                <div class="col-lg-12" style="text-align: center;padding: 5px;height:90px;">
                </div>
            </div>
        </div>
        <!-- for small n x-small screens -->
        <div class="share_options visible-xs visible-sm" style="margin:50px auto;width: 500px;">
            <span>Find out how badly your friends have been conned</span>
            <div class="row">
                <div class="col-xs-4" style="text-align: center;padding: 5px;margin-top:20px;">
                    <img class="soc_before" src="{{STATIC_URL}}img/metro_facebook.jpg"  alt="Click to Share" />
                    <div class="soc_after">
                        <fb:like href="http://www.coverfox.com/rupys-desk/quiz/find-out-if-youve-been-conned-into-buying-insurance-meant-for-chimps-1/"
                                 width="450" layout="box_count" show_faces="false" send="false"></fb:like>
                    </div>
                </div>
                <div class="col-xs-4" style="text-align: center;padding: 5px;margin-top:20px;">
                    <img class="soc_before" src="{{STATIC_URL}}img/metro_twitter.jpg"  alt="Click to Tweet" />
                    <div class="soc_after">
                        <a href="https://twitter.com/share" class="twitter-share-button"
                           data-url="http://www.coverfox.com/rupys-desk/quiz/find-out-if-youve-been-conned-into-buying-insurance-meant-for-chimps-1/"
                           data-via="coverfox" data-lang="en"
                           data-related="coverfox" data-count="vertical">Tweet</a>
                    </div>
                </div>
                <div class="col-xs-4" style="text-align: center;padding: 5px;margin-top:20px;">
                    <img class="soc_before" src="{{STATIC_URL}}img/metro_linkedin.jpg"  alt="Click to Share" />
                    <div class="soc_after">
                        <script type="IN/Share" data-counter="top" data-url="http://www.coverfox.com/rupys-desk/quiz/find-out-if-youve-been-conned-into-buying-insurance-meant-for-chimps-1/"></script>
                    </div>
                </div>
            </div>
            <div class="soc_after row">
                <div class="col-xs-4" style="text-align: center;padding: 5px;margin-top:20px;">
                </div>
            </div>
        </div>

    </div>

    </div><!--/.container-->
</div><!--/.conometer -->

{%endblock main%}



{% block footer %}
{%endblock%}
{% block footer_css %}
{%compress css%}
    <link href="{{STATIC_URL}}rdesk/css/style.css" rel="stylesheet">
{%endcompress%}
{% endblock %}

{% block footer_js %}

{%compress js%}
<script src="{{STATIC_URL}}rdesk/js/jquery.percentageloader-0.1.js"></script>
<script type="text/javascript">
    $(function() {

        $('.soc_after').hide();
        var socialing_in = function(){
            $('.soc_before').hide();
            $('.soc_after').show();
        }
        var socialing_out = function(){
            $('.soc_after').hide();
            $('.soc_before').show();
        }
        $('.share_options').hover(socialing_in, socialing_out);

       var $topLoader = $('.progress_wheel').percentageLoader({width: 256, height: 256, controllable : true, progress : 0, value : 'Score', onProgressUpdate : function(val) {
          $topLoader.setValue(Math.round(val * 100.0));
       }});

       var topLoaderRunning = false;
       var start_animation = function() {
            if (topLoaderRunning) {
              return;
            }
            topLoaderRunning = true;
           var kb = 0;
           var totalKb = parseInt({{ con_percent }});
           var animateFunc = function() {
              if (topLoaderRunning)
              kb += 1;
              //$topLoader.setProgress(kb / totalKb);
               $topLoader.setProgress(kb / 100);

              if (kb < totalKb) {
                setTimeout(animateFunc, 25);
              } else {
                topLoaderRunning = false;
              }
            }
           //setTimeout(animateFunc, 2500);
           animateFunc();

       }

        setTimeout(start_animation, 1000);
    });
</script>
{%endcompress%}
{% endblock %}
