<!DOCTYPE html>
{% load compress %}
<html>
<head lang="en">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="Coverfox Insurance, India - Get Cover, Get Going">
        <meta itemprop="description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance online.">
        <meta itemprop="image" content="{{STATIC_URL}}home/img/coverfox_logo_fb.jpg?ver=1">
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@coverfox">
        <meta name="twitter:title" content="Coverfox Insurance, India - Get Cover, Get Going">
        <meta name="twitter:description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance online.">
        <meta name="twitter:creator" content="@Coverfox">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="{{STATIC_URL}}home/img/coverfox_logo_fb.jpg?ver=1">
        <!-- Open Graph data -->
        <meta property="og:title" content="Coverfox Insurance, India - Get Cover, Get Going" />
        <meta property="og:url" content="https://www.coverfox.com/" />
        <meta property="og:image" content="{{STATIC_URL}}home/img/coverfox_logo_fb.jpg?ver=1" />
        <meta property="og:description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance online." />
        <meta property="og:site_name" content="Coverfox Insurance, India - Get Cover, Get Going" />
        <meta name="published_time" content="2013-09-26" />
        <meta name="modified_time" content="{{currenttime|date:'Y-m-d'}}" />
        <meta name="keywords" content="Insurance India, Best Insurance in India, Best Policy" />
        <meta name="publisher" content="Coverfox Insurance"/>
        <meta property="fb:app_id" content="545910808767230"/>
        <meta name='robots' content='index, follow' />
        <meta name="google-site-verification" content="69z59lYqJHiOxhCuSzWbrO6WAh-HCF31gJih42VwUOo" />
    {% if seo %}
    {% include "flatpages:seo_snippet.html" %}
    {% else %}
	<title>Compare & Buy Top Insurance Policies Online from Coverfox.com </title>
    <meta name="description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance online." />
    {% endif %}
    {% compress css %}
        <link href="{{STATIC_URL}}vendors/owl-carousel/owl.carousel.css" rel="stylesheet">
        <link href="{{STATIC_URL}}global/css/header_footer_2.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/home-mobile.css" rel="stylesheet">
    {% endcompress %}
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript" name="home">
        dataLayer = [];
    </script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
 <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
          <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MR4FRN');</script>
      <!-- End Google Tag Manager -->
<header>
    {% include "flatpages:header_2.html" %}
</header>
<!--div class="heroes-video">
    <div class="video-wrapper">
        <div id="player" class="hero-vid" style="display:none"></div>
    </div>
    <div class="hash">#CoverfoxHeroes</div>
</div-->
<div id="hb-savetax" class="modal-overlay">
    <div class="modal-content">
        <a href="/health-plan/">
            <img class="img-responsive" src="{{STATIC_URL}}img/home/banners/savetax/hb-savetax-mobile.png"/>
        </a>
    </div>
</div>
<section id="hero-section" class="section" style="padding-bottom: 15px;">
    <div class="container">
        <h1>Insurance, the easy way.</h1>
        <p class="sub-title">Get Cover. Get Going.</p>
        <div class="product-menu">
            <a href="/motor/car-insurance/">
                <i class="ic-insurance ic-car"></i>Car
                <i class="chevron"></i>
            </a>
            <a href="/motor/twowheeler-insurance/">
                <i class="ic-insurance ic-bike"></i>Two Wheeler
                <i class="chevron"></i>
            </a>
            <a id="hb-savetax-open" href="/health-plan/">
                <i class="ic-insurance ic-health"></i>Health
                <div class="hashtag">Save tax on Rs. 55,000</div>
                <i class="chevron"></i>
            </a>
            <a href="/travel-insurance/">
                <i class="ic-insurance ic-travel"></i>Travel
                <i class="chevron"></i>
            </a>
            <!--a href="/home-insurance/">
                <i class="ic-insurance ic-home"></i>Home
                <i class="chevron"></i>
            </a-->
        </div>
    </div>
</section>
<!--<section class="promo-banner"><a href="/chennai" target="_blank"></a></section> -->
<section class="section">
    <div class="container">
        <h3 style="text-align: center;margin-top:-15px;">Buy Insurance from over 20 insurance companies and 100+ products</h3>
        <ul class="insurers hide">
            <li><i title="Apollo Munich Health Insurance" class="ic-insurer-sm apollo"></i></li>
            <li><i title="Bajaj Allianz Insurance" class="ic-insurer-sm bajaj"></i></li>
            <li><i title="Bharti AxA General Insurance" class="ic-insurer-sm bharti"></i></li>
            <li><i title="Chola MS Insurance" class="ic-insurer-sm chola"></i></li>
            <li><i title="Cigna TTK Health Insurance" class="ic-insurer-sm cigna"></i></li>
            <li><i title="Future Generali Insurance" class="ic-insurer-sm future"></i></li>
            <li><i title="HDFC Ergo Insurance" class="ic-insurer-sm hdfc"></i></li>
            <!--li><i title="ICICI Lombard General Insurance" class="ic-insurer-sm icicilombard"></i></li-->
            <li><i title="IFFCO Tokio General Insurance" class="ic-insurer-sm iffco"></i></li>
            <li><i title="L&T Insurance" class="ic-insurer-sm landt"></i></li>
            <li><i title="Liberty Videocon General Insurance" class="ic-insurer-sm liberty"></i></li>
            <li><i title="Max Bupa Health Insurance" class="ic-insurer-sm maxbupa"></i></li>
            <li><i title="New India Assurance" class="ic-insurer-sm newindia"></i></li>
            <li><i title="Oriental Insurance" class="ic-insurer-sm oriental"></i></li>
            <li><i title="Reliance General Insurance" class="ic-insurer-sm reliance"></i></li>
            <li><i title="Religare Insurance" class="ic-insurer-sm religare"></i></li>
            <li><i title="Star Health Insurance" class="ic-insurer-sm star"></i></li>
            <li><i title="TATA AIG Insurance" class="ic-insurer-sm tata"></i></li>
            <li><i title="Universal Sompo General Insurance" class="ic-insurer-sm universal"></i></li>
        </ul>
    </div>
    <div class="insurer-logo">
        <img src="/static/img/insurer-logo/insurer-logo-part1.png" alt="">
        <div class="insurer-logo__fullwrapper">
            <label for="ilogo">
                <input type="checkbox" name="ilogo" id="ilogo" value="">
                <img src="/static/img/insurer-logo/insurer-logo-part2.png" class="insurer-more-logo" alt="">
                <div class="view-more">More..</div>
                <div class="view-less">Less..</div>
            </label>

        </div>
    </div>
</section>
<section class="section light">
    <div class="container">
        <h2 style="text-align: center;">Why you'll love us</h2>
        <ul class="why-coverfox">
            <li>
                <i class="why-sprite no-spam"></i>
                NO SPAM <br/> NO "INSURANCE CHAHIYE?"
            </li>
            <li>
                <i class="why-sprite best-savings"></i>
                BEST RATES
            </li>
            <li>
                <i class="why-sprite secure-buy"></i>
                EASY AND SECURE
            </li>
            <li>
                <i class="why-sprite swift-assistance"></i>
                SWIFT ASSISTANCE
            </li>
            <li>
                <i class="why-sprite hasslefree-claims"></i>
                HASSLE-FREE<br class="hidden-xs"/> CLAIMS
            </li>
        </ul>
        <div class="sole-testimonial">
            <span class="quote">"</span>
            <p>
                Coverfox has managed to do what no one else has. Buying insurance has never been this easy. I got policy documents in my inbox literally in minutes. Kudos Coverfox!
            </p>
            <small>~ Safia</small>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h2>The easiest way to get insurance</h2>
        <div class="core-row">
            <div class="row core-row-box">
                <div class="col-md-6 col-lg-5">
                    <div class="row-div">
                        <p class="row-title">RESEARCH Easily</p>
                        Is this the best deal? Is there a cashless garage in my neighborhood? Does this insurer settle claims quickly? Just fill in your requirements and we have all the answers. Yes, really.
                    </div>
                </div>
                <div class="col-md-6 col-lg-7">
                    <img src="{{STATIC_URL}}img/home/illustration/hwd_research_630w_100q.jpg">
                </div>
            </div>
            <div class="row core-row-box">
                <div class="col-md-6 col-lg-5">
                    <div class="row-div">
                        <p class="row-title">COMPARE Confidently</p>
                        Unable to take a decision? Whether you're researching a question or getting ready to buy, there's guidance to make sure you make the right decision. Compare the top plans for you, apples-to-apples, with confidence.
                    </div>
                </div>
                <div class="col-md-6 col-lg-7">
                    <img src="{{STATIC_URL}}img/home/illustration/hwd_compare_630w_100q.jpg" >
                </div>
            </div>
            <div class="row core-row-box">
                <div class="col-md-6 col-lg-5">
                    <div class="row-div">
                        <p class="row-title">BUY Quickly</p>
                        No more long boring forms. Select the plan of your choice. Checkout easily like you do on your online shopping website. Make payment. <em>Ka-ching!</em> Get the policy in your inbox instantly.
                    </div>
                </div>
                <div class="col-md-6 col-lg-7">
                    <img src="{{STATIC_URL}}img/home/illustration/hwd_buy_630w_100q.jpg">
                </div>
            </div>
            <div class="row core-row-box">
                <div class="col-md-6 col-lg-5">
                    <div class="row-div">
                        <p class="row-title">MANAGE Anytime</p>
                        Need a tax certificate? Can't find your policy copy? Just login and find it all.  Problem with a claim? From handling paperwork, to following up with insurer, we'll take charge. You just call your Relationship Manager and sit back. We'll get your money to you as fast as possible.
                    </div>
                </div>
                <div class="col-md-6 col-lg-7">
                    <img src="{{STATIC_URL}}img/home/illustration/hwd_manage_630w_100q.jpg">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="sole-testimonial">
                <span class="quote">"</span>
                <p>
                    The intuitive interface, the beautiful website, clear unbiased options, expert opinions are all winners to me. The cherry on the cake was the service I got from Coverfox. They deliver on all counts!
                </p>
                <small>~ Gagandeep Kainth</small>
            </div>
        </div>
    </div>
</section>
<section class="section light">
    <div class="container">
        <h2>Just people helping people.</h2>
        <p class="leader" style="margin: 20px 0;">At Coverfox, we believe good service comes from good people. Not robots reading from scripts. That's why we've hired a highly-motivated and friendly team, who take pride in serving you well. And we take pride in them.</p>
        <div id="emp-carousel" class="employee-carousel">
            <div class="item">
                <img src="{{STATIC_URL}}img/home/rm-photos/amol.jpg" alt="">
                <div>
                    <h5>Amol</h5>
                    Has more than decade of experience in customer support for telecom, credit cards and insurance. From the camp of those who love what they do. This dad of adorable twin baby girls resolves customer queries like a pro.
                </div>
            </div>
            <div class="item">
                <img src="{{STATIC_URL}}img/home/rm-photos/sudeshna.jpg" alt="">
                <div>
                    <h5>Sudeshna</h5>
                    Chartered Accountant. Loves challenges and stepping out of her comfort zone. A star at multi-tasking between the roles of an awesome mom, master chef and the most cheerful advisor in the Insurance industry.
                </div>
            </div>
            <div class="item">
                <img src="{{STATIC_URL}}img/home/rm-photos/amit.jpg" alt="">
                <div>
                    <h5>Amit</h5>
                    Old hand at insurance. Loves to getting to the why, how, what of insurance products. When not putting a smile on his customer's faces, he's found playing cricket in the office corridors.
                </div>
            </div>
            <div class="item">
                <img src="{{STATIC_URL}}img/home/rm-photos/shweta.jpg" alt="">
                <div>
                    <h5>Shweta</h5>
                    Computer science graduate. Loves setting her own targets. Currently resolves customer queries in less than 18 minutes. Her New Year Target: To solve it in under 12 minutes.
                </div>
            </div>
            <div class="item">
                <img src="{{STATIC_URL}}img/home/rm-photos/sonika.jpg" alt="">
                <div>
                    <h5>Sonika</h5>
                    The young gun at Coverfox. Charms everyone with her pleasant personality. Loves people. Loves helping people find the perfect policy even more.
                </div>
            </div>
        </div>
        <div class="sole-testimonial">
            <span class="quote">"</span>
            <p>
                The entire transaction was quick & easy. Impressive interface. The advisor who helped resolve my queries patiently, resolved whatever doubt I had about trying a new company.
            </p>
            <small>~ Swapna</small>
        </div>
    </div>
</section>
<section class="lead-block">
    <div id="divThankYou" style="display:none; padding-left:5%;">
        <h3>
        <span>Thank You!</span>
        <p>We will soon contact you.</p></h3>
    </div>
    <div id="divContactForm" class="container">
        <h3>Talk to an Expert</h3>
        <div class="row form-row">
            <div class="col-sm-4 pnone">
                <div id="cbPolicyType" class="select-input">
                    <i class="triangle"></i>
                    <div><span>I am interested in</span></div>
                    <ul>
                        <li><div class="ic-insurance ic-car"></div>Car Insurance</li>
                        <li><div class="ic-insurance ic-bike"></div>Two Wheeler Insurance</li>
                        <li><div class="ic-insurance ic-health"></div>Health Insurance</li>
                        <li><div class="ic-insurance ic-travel"></div>Travel Insurance</li>
                        <!--li><div class="ic-insurance ic-home"></div>Home Insurance</li-->
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 pnone">
                <div class="input-mobile">
                    <input id="txtCMobileNo" maxlength="10" class="cf-input" style="color:black" type="text" placeholder="Enter 10 digit Mobile no."/>
                    <div class="error" style="display:none">Enter a valid 10 digit mobile number</div>
                </div>
            </div>
            <div class="col-sm-4 pnone">
                <div id="cbPreferredTime" class="select-input">
                    <i class="triangle"></i>
                    <div id="divSlot"><span>Preferred time</span></div>
                    <ul class="dt">
                        <li>
                            <span>Morning</span><br/>
                            <small>(9:30am - 12pm)</small>
                        </li>
                        <li>
                            <span>Afternoon</span><br/>
                            <small>(12pm - 3pm)</small>
                        </li>
                        <li>
                            <span>Late Afternoon</span><br/>
                            <small>(3pm - 5pm)</small>
                        </li>
                        <li>
                            <span>Evening</span><br/>
                            <small>(5pm - 8pm)</small>
                        </li>
                    </ul>
                </div>
                <span class="error" style="display:none">This field is required</span>
            </div>
            <div class="col-sm-3 pnone">
                <button id="btnPreferredTime" class="btn btn--brown btn--large btn--block" disabled>Call Me</button>
            </div>
        </div>
    </div>
</section>
<section class="section dark">
    <div class="container">
        <h3>Worth a read.
            <p>The why, how and what of Insurance</p>
        </h3>
        <div class="blog-carousel">
            <div id="blog-carousel" class="content">
                <a href="/articles/car-insurance/car-insurance-claims-rejections-and-denials/">
                    <div class="item">
                        <div class="img-holder">
                            <img src="https://media.coverfox.com/uploads/blog/2015-07/untitled-design-2-104145-_r-113156._r.jpg" alt=""/>
                        </div>
                        <div class="clearfix">
                            <h5>Car Insurance Claims: How To Crack Those Rejections And Denials!</h5>
                        </div>
                    </div>
                </a>
                <a href="/articles/health-insurance/why-health-insurance/">
                    <div class="item">
                        <div class="img-holder">
                            <img src="https://media.coverfox.com/uploads/blog/2015-01/ccofff-picture-010136._r.jpg" alt=""/>
                        </div>
                        <div class="clearfix">
                            <h5>Calling The B@!@#$T On "I Don't Need Health Insurance!"</h5>
                        </div>
                    </div>
                </a>
                <a href="/articles/health-insurance/half-marathon-and-medical-insurance/">
                    <div class="item">
                        <div class="img-holder">
                            <img src="https://media.coverfox.com/uploads/blog/2015-01/marathonpicture-023222._r.jpg" alt=""/>
                        </div>
                        <div class="clearfix">
                            <h5>What Training For A Half Marathon Taught Me About Buying Medical Insurance: A Memoir</h5>
                        </div>
                    </div>
                </a>
            </div>
            <a href="/articles/">Read All Articles &rarr;</a>
        </div>
        <h3>Coverfox Videos</h3>
        <div class="vid-row">
            <div class="col-md-6 pnone flip-item">
                <div class="video-article">
                    <a href="https://www.youtube.com/watch?v=eMWuRbFZRgQ" target="_blank">
                        <span class="ic-play action"></span>
                        <img src="{{ STATIC_URL }}tvc/img/thumbnail_mom.jpg" alt=""/>
                        <div>
                            #Disastersefaster - Maa
                            <p style="margin-top:5px;">Car Insurance Renewal on Coverfox.com</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 pnone flip-item">
                <div class="video-article">
                    <a href="https://www.youtube.com/watch?v=IDLxgGrKz5c" target="_blank">
                        <span class="ic-play action"></span>
                        <img src="{{ STATIC_URL }}tvc/img/thumbnail_burger.jpg" alt=""/>
                        <div>
                            #Disastersefaster - Jignesh
                            <p style="margin-top:5px;">Car Insurance Renewal on Coverfox.com</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 pnone flip-item">
                <div class="video-article">
                    <a href="https://www.youtube.com/watch?v=SFF3w46QE0A" target="_blank">
                        <span class="ic-play action"></span>
                        <img src="{{ STATIC_URL }}tvc/img/thumbnail_baby.jpg" alt=""/>
                        <div>
                            #Disastersefaster - Pinku
                            <p style="margin-top:5px;">Car Insurance Renewal on Coverfox.com</p>
                        </div>
                    </a>
                </div>
            </div>
            <a href="https://www.youtube.com/channel/UCdRU43Vg0L5O3JytODpFATQ" target="_blank">See All Videos &rarr;</a>
        </div>
        <h5 class="sub-link-heading">
            Our Brand Journey so far
            <a href="/tvc/" style="display: block;margin-top:15px;">Introducing Coverfox's new TV campaign &rarr;</a>
        </h5>
    </div>
</section>
<section class="lead-block">
    <div class="container">
        <h3>Let's get started</h3>
        <div class="row form-row">
            <div class="col-sm-4 pnone">
                <label for="">I want to buy</label>
            </div>
            <div class="col-sm-5 pnone">
                <div id="cbInsuranceType" class="select-input">
                    <i class="triangle"></i>
                    <div id="divInsuranceType"><span>Select Insurance type</span></div>
                    <ul>
                        <li><div class="ic-insurance ic-car"></div>Car Insurance</li>
                        <li><div class="ic-insurance ic-bike"></div>Two Wheeler Insurance</li>
                        <li><div class="ic-insurance ic-health"></div>Health Insurance</li>
                        <li><div class="ic-insurance ic-travel"></div>Travel Insurance</li>
                        <!--li><div class="ic-insurance ic-home"></div>Home Insurance</li-->
                    </ul>
                </div>
            <!--     <span class="error">This field is required</span> -->
            </div>
            <div class="col-sm-3 pnone">
                <button id="btnInsuranceType" class="btn btn--brown btn--large btn--block" disabled>Get Quotes</button>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h3 style="text-align:left;">A little bit about us.</h3>
        <p class="leader-2">
            We're a bunch of tech folk that love solving problems. Starting <strong>Coverfox</strong> was about bringing ease and transparency into insurance. To make buying insurance easy, quick, less painful. And to have fun while doing it!<a class="read-more" href="/about/">MORE ABOUT US</a>
        </p>
        {% include "flatpages:get_in_touch_socialcontacts.html" %}
    </div>
</section>
 {% include "flatpages:footer_2.html" %}


 {% block uncompressedjs %}

     <script>
         var CSRF_TOKEN = '{{ csrf_token }}';
     </script>
     <script src="{{ STATIC_URL }}home/js/jquery-1.11.3.min.js"></script>
     <script src="{{STATIC_URL}}flatpages/js/header.js"></script>

 {% endblock uncompressedjs %}
<!-- Jquery Searchable drop down list -->
{% compress js %}
<script type="text/javascript" src="{{STATIC_URL}}vendors/select2/select2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}home/js/utils.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}vendors/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}home/home_2/js/homePage-mobile.js"></script>
{% endcompress %}
</body>
</html>
