body {
    font-family:"jaf-facitweb",sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #555555;
    font-family: "jaf-facitweb",sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 1.4;
}

.gradient-box {
    box-shadow:0px -3px 4px #f0f0f0;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff  0%, #f9f9f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */

}
.top-input-fields input {
    font-size:18px;
}
.top-input-fields {
    margin-bottom:20px;
}

.nl-form .nl-submit {
    font-size:60%;
    margin-top:20px;
}
.nl-form {
    padding:10px;
}
.border-trick {
    margin-bottom: 1.3em;
    /*padding: 1.3em 0 0;*/
    padding:0;
    text-align: center;
    height:170px; /* set for small screen media */
}
.border-trick img.vi {
    background-color:transparent;
    display:block;
    height:100px!important;
    margin:auto auto 1.2em;
    width:100px!important;
    font-size:13px;
}
.border-trick > p {
    color: #9e9e9e;
    font-size: 0.7em;
    padding:0px 20px;
}
.border-trick .strong {
    border-bottom:1px solid rgba(255,255,255,0.11);
    margin-left:10px;
    margin-right:10px;
    padding-bottom:3px;
    font-weight:bold;
}
.border-trick:not(:first-child) {
    /* border-left:1px dashed #848484;*/
}
.border-trick h4 {
    text-transform:normal;
    color:#ffffff;
}

.view {
   width: 295px;
   height: 295px;
   margin: auto;
   position:relative;
   text-align: center;
   cursor: default;
   overflow: hidden;
}
.view .mask,.view .content {
   width: 100%;
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
   border-radius:50%;
   border:6px solid #e0e0e0;
}
.view img {
   display: block;
   position: relative;
   width:160px !important;
   height:160px !important;
   margin:auto;
   top:30px;
}
.view h2 {
   border-bottom:1px solid #dadada;
   color: #363636;
   margin-left:20px;
   margin-right:20px;
   margin-top:30px;
   margin-bottom:20px;
   text-align: center;
   position: relative;
   font-size: 20px;
   padding: 10px 0px 5px;
   background: rgba(0, 0, 0, 0.8);
}
.view h2 .sub-text {
	margin-top:0px;
	font-weight:bold;
	color:#666666;
	font-size:0.7em;
}
.view h2.subline {
    top:0px;
    position:relative;
    color:#444444;
    border-bottom:none;
    -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition: -webkit-transform 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view h2.subline .sub-text {
    font-family: "jaf-facitweb",sans-serif;
    color:#9e9e9e;
}
.view p {
   font-family: "jaf-facitweb",sans-serif;
   font-size: 14px;
   position: relative;
   color: #666666;
   padding: 0px 30px 20px;
   text-align: center;
}


/* custom transitions */

.view-tenth img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: -webkit-transform 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-tenth .mask {
   background-color: #f9f9f9;
   -webkit-transition: -webkit-transform 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   transform:scale(0);
    -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);

}
.view-tenth h2 {
   background: transparent;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: -webkit-transform 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
   }
.view-tenth .mask h2 {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: -webkit-transform 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.view-tenth:hover img {
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   z-index:1000;
    -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);

}
.view-tenth:hover h2,.view-tenth:hover p {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-tenth:hover h2.subline {
    -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: -webkit-transform 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.trans-layer {
    position:fixed;
    z-index:10000;
    background-color:rgba(100,100,100,0.8);
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
}
.trans-layer .well {
    width:400px;
    position:relative;
    margin:15% auto 0;
    text-align:center;
}
.trans-layer h3 {
    margin-top:0px;
}
div.social-wrap button {
    font-family: "jaf-facitweb",sans-serif;
    padding-right: 45px;
    height: 42px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    margin:auto;
    margin-bottom: 20px;
    width:80%;
    min-width: 205px;
    max-width:250px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}
button#facebook {
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(/static/img/metro_facebook.jpg);
}

