/* General Demo Style */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body .demo-1 {
    /*
	font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 300; */
    font-family:"ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    color: #878787;
    font-weight:400;
    font-size:18px;
    line-height:1.4
}

a {
	color: #888;
	text-decoration: none;
}

a:hover,
a:active {
	color: #333;
}

/* Header Style */
.main,
.container > header {
	margin: 0 auto;
	padding: 2em;
}

.container > header {
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	color: #b14943;
	padding: 0 0 0.6em 0.1em;
}
.nl-form {
    padding:1em;
}
a.nl-field-toggle:hover {
    text-decoration:none;
}
.nl-ti-text ul {
    min-width: 5em;
    left:-7em;
}
.error {
    background-color:red;
    color:#ffffff;
    font-weight:600;
    font-size:16px;
    padding:2px 10px;
}
.errorlist, .errorlist > li {
    display:inline;
}
@media only screen and (max-width:768px) {
.container {
    min-width:300px;
}
.nl-form {
	font-size: 24px;
	line-height:1.6em;
	padding:1em;
   }
    input[id="id_birth_date"] {
        min-width: 160px;
    }
}
@media only screen and (max-width:500px) {
.nl-form {
	font-size: 20px;
   }
   input[id="id_birth_date"] {
       min-width: 150px;
   }

}
