body {
    background-color:#f5f5f5;
    font-size: 14px;
    min-width:670px;
    overflow:auto;
}


#bounding-wrapper #time-widget {
    min-height:300px;
    background: #ececec;
    text-align:center;
    padding:5px;
    position:relative;
    border-left:1px solid #ececec;
}
#bounding-wrapper #time-widget:after {
    left: 100%;
    top: 25px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 15px solid transparent;
    border-left-color: #ececec;
    margin-top: -15px;
    margin-left: 0px;
}
#bounding-wrapper #number-widget {
    min-height:300px;
    text-align:center;
    padding:5px 20px;
}
#bounding-wrapper #time-widget .clock , #bounding-wrapper #number-widget .phone {
    color:#ff9f6e;
    font-size:35px;
    text-align:center;
}
#bounding-wrapper #time-widget .clock .txt {
    font-size: 15px;
    padding: 5px;
    color: #777777;
    position: relative;
    text-align: center;
    top: -10px;
}
#bounding-wrapper div.custom-margin {
    margin:0px 0px 25px;
}
#bounding-wrapper #time-widget .time-table ul {
    margin: 0px;
    padding: 0px;
}
#bounding-wrapper #time-widget .time-table ul li {
    list-style-type: none;
    cursor: pointer;
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #dadada;
}

#bounding-wrapper #time-widget .time-table th {
    text-align:center;
    width:33.34%;
    color:#f26522;
    font-size:12px;
    text-transform:uppercase;
    padding:10px 2px;
}
#bounding-wrapper #time-widget .time-table td {
    text-shadow: 0px 1px 0px #ffffff;
    padding: 0px;
}
#bounding-wrapper #time-widget .time-table ul li:hover,
#bounding-wrapper #time-widget .time-table ul li.active {
    background-color:#828383; /* #ff9f6e; */
    color:#ffffff;
    text-shadow: none;
}
#bounding-wrapper #widget-box {
    border: 1px solid #ff9f6e;
}
#bounding-wrapper #widget-box .complete{
    border: 2px dashed #cae6ce;
    text-align:center;
    margin:20px 0px 10px;
    padding:10px;
}
#bounding-wrapper #widget-box .error-field {
    color:red;
    font-size:12px;
}
#bounding-wrapper #widget-box .complete .highlight {
    font-size:30px;
    color:#ff9f6e;
}
#bounding-wrapper .cover-infm {
    padding:10px;
    border:1px dashed #cae6ce;
    position:relative;
    margin:10px 0px 0px;
}
#bounding-wrapper .cover-infmg {
    padding:10px;
    border:1px solid #ff9f6e;
    position:relative;
    margin:10px 0px 0px;
    line-height:1.2em;
    background: #f5f5f5;
}
#bounding-wrapper .cover-infmg .highlight {
    font-size:20px;
    color:#ff9f6e;
    margin-bottom: 5px;
}
#bounding-wrapper .form-hdr {
    position: relative;
    margin:0px;
    padding: 15px 100px 15px 15px;
    background: #f0f0f0;
    text-align: left;
    color: #777777;
    border: 1px solid #ff9f6e;
    border-bottom-width:0px;
}
#bounding-wrapper .form-hdr .arrow_box {
    position: relative;
    background: #ff9f6e;
}
#bounding-wrapper .form-hdr .arrow_box:after {
    left: -5px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #ff9f6e;
    border-width: 10px;
    margin-top: -10px;
}
#bounding-wrapper .form-hdr .arrow_box.right {
    position:absolute;
    height:100%;
    top:0px;
    right:0px;
    margin:0px;
    font-size:20px;
    width:75px;
    text-align:center;
    color:#ffffff;
}
#bounding-wrapper > h2 {
    font-size:26px;
}
#bounding-wrapper > p {
    max-width:900px;
}
#bounding-wrapper div.product-box
{
    background-color:#ffffff;
    width:550px;
    border:1px solid #dadada;
    padding:1px;
    text-align:left;
    margin:20px auto 0px;
    margin:20px 5px 0px;
    display:inline-block;

}
#bounding-wrapper div.product-box .pr-hdr {
    border-bottom:1px solid #dadada;
}
#bounding-wrapper div.product-box .co-icon, #bounding-wrapper div.product-box .pr-cov {
    width:50%;
    float:left;
    text-align:center;
}
#bounding-wrapper div.product-box .co-icon {
    padding:0px;
    height:80px;
    overflow:hidden;
}
#bounding-wrapper div.product-box .co-icon img.img-resp {
    height:80px;
    margin:auto;
    width:248px;
    display:block;
}
#bounding-wrapper div.product-box .pr-cov {
    background-color:transparent;
    border-left:1px solid #dadada;
}
#bounding-wrapper div.product-box .pr-cov .cover,#bounding-wrapper div.product-box .premium {
    padding:10px;
    text-align:right;
}
#bounding-wrapper div.product-box .cover strong,#bounding-wrapper div.product-box .premium strong {
    color:#ff9f6e;
    text-transform:uppercase;
    font-weight:normal;
}
#bounding-wrapper div.product-box .pr-cov .cover {
    border-bottom:1px solid #dadada;
}
#bounding-wrapper div.product-box div.bdy{
    padding-left:20px;
    margin-bottom:15px;
    position:relative;
}
#bounding-wrapper div.product-box span.pointer {
    color: #7bcab2;
    top:0;
    left:0;
    position:absolute;
}
#bounding-wrapper div.product-box .why-rec {
    padding:20px 10px 10px;
    font-size:14px;
    height: 200px;
    overflow: hidden;
}
#bounding-wrapper div.risk-n-product {
    border:1px solid #dadada;
    padding:1px;
    background-color:#ffffff;
    margin-bottom:30px;
}
#bounding-wrapper div.risk-n-product .prd-heading, #bounding-wrapper div.risk-n-product .rsk-heading {
    font-size:16px;
    text-transform:uppercase;
    padding:20px 20px 20px 90px;
    font-weight:bold;
    position:relative;
    vertical-align:top;
}
#bounding-wrapper div.risk-n-product .prd-heading {
    background-color:#a5c3dd;
    color:#ffffff;
    padding:10px 5px 5px 60px;
    text-align:left;
}
/* #bounding-wrapper div.risk-n-product .prd-heading:after {
    left: 0%;
    top: 25px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-left-color: #ffffff;
    border-width: 15px;
    margin-top: -15px;
    margin-left: 15px;
}*/
#bounding-wrapper div.risk-n-product .mark-prd {
    background-color:#f0f3f4;
    padding-bottom:20px;
    text-align:left;
}
#bounding-wrapper div.risk-n-product .lister {
    /* padding-left:20px;
    padding-right:20px;*/
}
#bounding-wrapper div.risk-n-product .lister .r-hdr {
    text-transform:uppercase;
    font-size:16px;
    font-weight:normal;
    margin:0px;
    display:block;
    color:#ff9f6e;
}
#bounding-wrapper div.risk-n-product .risk-table {
    /* border:1px solid #dadada; */
    margin-bottom:0px;
    border-top-width:0px;
    font-size:16px;
}
#bounding-wrapper div.risk-n-product .risk-table tr td:first-child {
    width:220px;
    background-color:transparent;
    padding-left:20px;
}

#bounding-wrapper #time-widget .time-table ul li.frozen :hover,
#bounding-wrapper #time-widget .time-table ul li.frozen {
    color: #999999;
    background-color: #f5f5f5;
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: line-through;
}
