
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
/* remove container in main */
.container {
	/*
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-family: "ff-tisa-sans-web-pro",sans-serif;
	*/
    font-family: "jaf-facitweb",sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "jaf-facitweb",sans-serif;
    font-weight: 300;
}
body {
    margin:0px;
    font-size:18px;
    background-attachment:fixed;
    -webkit-font-smoothing: antialiased;
}


br {
    display:block;
    margin-top:5px;
    line-height:5px;
}

ul, ol {
    margin-top: 10px;
    margin-bottom: 0px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
}

ul br {
    line-height: 0px;
    display: none;
}
/* remove container in main */

#wrapper-box {
    overflow-x:hidden;
    min-width:320px;
}
.bg [id^=bg] {
	position:fixed;
    top:0;
    left:0;
	width:100%;
	height:100%;
}
#bg1{
    z-index:1;
	background:url('') repeat #f0a830;
}
#bg2{
    z-index:2;
	background:url('') repeat #53777A;
}
#bg3{
    z-index:3;
	background:url('') repeat #55a988;
}
#bg4{
    z-index:4;
	background:url('') repeat #4B89B2;
}
#bg5{
    z-index:5;
	/*
	background:url('') repeat #fcebb6;
	*/
    background:url('') repeat #5E8C6A;
}
#bg6{
    z-index:6;
	background:url('') repeat #3d7374;/* #948c75;*/
}
#bg7{
    z-index:7;
	background:url('') repeat rgba(209, 144, 57, 0.99);
}
.sidebar {
    float: left;
    width: 40%;
    height: 100%;
}
.main {
	float: right;
    width: 58%;
}
.margin-set {
	margin-bottom:4em;
}
#wrapper-box {
	position:relative;
	z-index:10;
	margin-top:0px;
}
.logo-style {
    color:#ffffff;
    font-size:2em;
    margin-top:10px;
    display:block;
}
.dsa{
    width:100%;
}
.dsa h1 {
	padding:1.5em 0.3em 0.5em 0;
	font-size:2.5em;
	line-height:1.2em;
}
.shadow {
	color: rgba(255,255,255,0.8);
}
.query-showcase {
	border:3px solid #ffffff;
	border-radius:0px;
	padding:1em;
	font-size:2.1em;
	line-height:1.5em;
	color:#555555;
	text-align:center;
	font-family:'Lato', Calibri, Arial, sans-serif;
	font-weight:300;
	background-color:rgba(255,255,255,0.8);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}
.query-showcase > img {
	position: relative;
	top: -2.5em;
	margin-bottom: -2em;
}
.color-under {
	border-bottom:1px dashed #222222;
	color:#222222;
}

#intro {
    color: #454545;
}
.pointing-block {
	color:#ffffff;
	padding:0.1em 1.5em;
	display:inline-block;
	position:relative;
	font-weight:bold;
	font-size:1em;
	margin-bottom:2em;
	margin-top: 3em;
	background-color:#dd4c4c;
}
.pointing-block:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #dd4c4c;
	border-width: 15px;
	margin-left: -15px;
}

.line-set {
	line-height:1em;
	list-style-type:none;
	padding:0px;
	margin:0px;
	padding-bottom:0px !important;
	width:72%;
}
.line-set li {
	padding:0px;
	top:0px !important;
	display:inline-block;
	margin-bottom:10px;
}

#title-line2 {
	font-size:1.5em;
	padding:4.3em 0 1em;
	text-align:left;
}

#line {
    color:#ffffff;
    font-size:1em;
	padding:4.3em 0 1em;
	text-align:left;
}
 #line p {
     font-size:0.9em;
 }
#how-cal {
	position:relative;
	padding-bottom:1em;
	margin-top:100px;
}
#how-cal h2{
	font-size: 36px;
	line-height: 1.2em;
	text-align: center;
    padding: 1em 0 0.5em;
	width:100%;
}

.how-box {
    font-size: 0.8em;
    height: 340px;
    margin: 0 auto 0;
    max-width: 350px;
   /* width:320px;*/
    text-align: center;
    overflow:hidden;
    color:#ffffff;
}

.img-box {
	height:auto;
	display:inline-block;
	margin-bottom:1em;
	width:150px;
}
#ur-risk {
	position:relative;
	margin-top: 50em;
	padding-top:1px;
}
.img-set {
	margin:3em auto 0px;
	display:block;
	width:100%;
	max-width:130px;
}
#ur-risk-product {
	position:relative;
	padding:1px 0px;
	margin-top:0em;
}
#ur-risk-product h2 {
    color:#ffffff;
}
.risk-pr-box {
	margin:0em auto 5em;
    /*
	color:inherit;
	*/
    color: #ffffff;
	padding-bottom: 1em;
	padding-top:45px;/* setting for pinit plugin */
}
.risk-pr-box h3 {
	font-size:1.5em;
	line-height:1.3em;
    color: #ffffff;
}
.sa-amt {
	font-size:1em;
	font-weight:bold;
	margin-top:0.2em;
	padding-bottom:10px;
	/*
	border-bottom:2px solid #515151;
	*/
    border-bottom:2px solid #ffffff;
}
#ur-recm-product {
	margin-top:22em;
}
.recm-pr-box {
	box-shadow: -10px 10px 0 rgba(0,0,0,0.3);
	background-color: rgba(255,255,255,0.8);
	border-radius: 5px;
	padding: 0.5em 1em;
	margin:1.5em auto 1.5em;
	color:#646464;
	background-color:#f9f9f9;
}
.recm-pr-box h3 {
	font-size:1.2em;
	line-height:1.4em;
	color:#2d2c2c;
}
.recm-pr-box .img-set {
	margin:0px;
	width:60%;
}
.border-chng {
	border-left:1px solid #dadada;
}
#ur-rev-panel {
	padding-top:15em;
	min-height:45em;
}
.rev-pl-box {
	width:80%;
	margin:1.5em auto 1.5em;
	color:#ffffff;
	text-align:center;
	font-size:16px;
}
.rev-pl-box .img-set {
	margin:1.5em auto 1em;
}
.rev-pl-box h3 {
	color:#ffffff;
	margin-bottom:20px;
}
.rev-pl-box p {
    text-align:justify;
}
.distinct-box {
	font-size: 1em;
	line-height:1.4em;
    margin-bottom:2em;
    font-weight: 300;
    color: #ffffff;
}
#wt-enq {
	margin-top:100px;
	/*height:700px;*/
}
.sub-head {
	padding-bottom:5px;
	border-bottom:2px solid #333333;
	display:inline-block;
}
.sub-head-two {
	padding-bottom:3px;
	font-size:1em;
	color:#333333;
	text-align:left;
	margin-top:20px;
	margin-bottom:5px;
	border-bottom:2px solid #333333;
}
#sect1 {
	z-index:1;
}
#sect2 {
	z-index:2;
}
#sect3 {
	z-index:3;
}
#sect4 {
	z-index:4;
}

#sect5 {
	z-index:5;
}
#sect6 {
	z-index:6;
}
#sect7 {
	z-index:7;
}
#sect3 > h1 {
	font-size:1.8em;
	margin-top:1.2em;
}

#sect2 h1 {
	margin-top:0.5em;
}
#sect1 h1 {
	padding: 0.5em 0.3em 0.5em 0;
	font-size: 3em;
	line-height: 1.3em;
	text-align: right;
}
#change-h {
	margin-bottom:100px;
}
.comp-box {
	font-size:0.8em;
	margin:10px;
	text-align:left;
}
#risk-list {
    padding:15px 0px 0px 10px;
    text-align:left;
    width: 100%;
}

#risk-list2 {
    position: relative;
    z-index:1000;
}
#risk-list2 li span {
    display:block;
    padding:0.2em 0.5em;
}
.risk-holder #risk-list2.nav li {
    margin-bottom:0.2em;
    line-height:1.4em;
    padding:0 0 0.2em 0;
    font-size:1em;
    /* font-weight:bold; */
    list-style-type:none;
    color:#ffffff;
    text-align:right;
    border-bottom:2px solid #ffffff;
}

.risk-holder #risk-list2 > .active {
    background-color:#dadada;
    color:#ffffff;
}


.content-box {
    width: 100%; /* assumes you have this in a container with a set width */
    margin: 0 auto 50%;
    font-size:1em;
    /*
    line-height:1.2em;
    color:#ffffff;
    color: #3B3232;
    */
    padding:0em;
    color:#ffffff;
}

.heading-container {
    position:absolute;
    width:100%;
    left:0px;
}
.heading-container > span {
    position:absolute;
    padding-bottom:5px;
    display:block;
    width:100%;
    border-bottom:2px solid #ffffff;
    bottom:20px;
    font-size:1.3em;
    font-weight: 300;
    color:#ffffff;
    padding-right:55px;
}
.pointing-block2 {
	color:rgba(255,255,255,0.8);
	padding:0.5em;
	display:inline-block;
	border-radius:0px;
	position:relative;
	font-weight:bold;
	font-size:0.9em;
	margin-bottom:0;
	background-color:transparent;
	transition:background-color 1s;
	-webkit-transition:background-color 1s;
}

.pointing-block2.active {
	background-color:#ffffff;
	color:#666666 !important;
}

.product-block {
    /*
	color: #515151;
	border-color: #515151;
	*/
    color: #ffffff;
	font-size: 1.5em;
	padding: 1em 0;
	display: block;
	border-width: 2px 0 0;
	width: 80%;
	border-style: solid;
	position: relative;
	margin-bottom: 0;
	margin-top:50px;/* for gap between line and box */
}

.product-block:before {
top: -103px;
left: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-width: 0px;
margin-left: 0px;
height: 102px; /* track height */
width: 2px; /*track width*/
background-color: transparent;
transition:background-color 0.8s;
-webkit-transition:background-color 0.8s;
}
.product-block.active:before {
    background-color:#515151;
}
.product-block .small {
    font-size:0.6em;
    margin-top:1em;
    font-weight:300;
}
.top-adjust {
	margin-top:40px;/* for leveling with product block */
}
.risk-panel {
    /*border:1px solid rgba(0,0,0,0.14);
    background-color:rgba(0,0,0,0.16);*/
    position:relative;
    width:90%;
}
.risk-holder {
    float:left;
    width:90%;
}

#lets-handle {
    color:#ffffff;
    font-size:3em;
    text-align:center;
    clear:both;
    padding:0em 0em;
    margin-top: 10%;
}
#lets-handle > div {
    font-size:0.7em;
    margin-top:0.2em;
}


/*
.distinct-box > ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

.distinct-box > ul > li {
    margin-bottom: 10px;
}
*/

#theme3 .sidebar {
    width:30%;
}
#theme3 .main {
    width:70%;
}
.arrowmrk {
    font-weight:bold;
    margin-left:1em;
}
.top-margin {
    margin-top:10em;
}
.top-margin2 {
    margin-top:10em;
}
.shadow .big {
    font-size:2.5em;
    line-height:1em;
    margin-bottom:1em;
    margin-top:3em;
    text-align:center;
}
.shadow .small {
    font-size:1.5em;
    line-height:1em;
    text-align:center;
    display:block;
}

.list-of-risk {
    display:block;
    margin:0px;
    padding:0px;
    width:100%;
}
.list-of-risk li {
    background-color:transparent;
    padding:0.3em 55px 0.3em 0px;
    /*
    color:#515151;
    */
    color: #ffffff;
    position:relative;
    min-height:50px;
    list-style-type:none;
    text-align:left;
    margin-bottom:5px;
    font-size:0.6em;
    left:-700px;
    font-weight:300;
}
.list-of-risk li:first-child {
    margin-top: 15px;
    font-size:1em;
    font-weight:300;
    background-color:transparent;
    color: #ffffff;
}

 .display {
    font-weight:300;
    margin-top:3em;
    font-size:2em;
 }
 #list-table {
    border-bottom:2px solid #515151;
    background-color:#bf9155;
    position:fixed;
    opacity:1;
    z-index:1000;
    top:-500px;
    left:0px;
 }
 #list-table td {
    padding:5px;
 }
 #list-table td:first-child {
    width:30%;
 }
 #changer {
    color:#ffffff;
    border-right:2px solid #ffffff;
    width:100%;
    text-align:center;
    padding:1em 0em;
    font-weight:bold;
    position:relative;
    transition:background-color 1s, border-color 1s;
	-webkit-transition:background-color 1s, border-color 1s;
 }
#changer.active {
    background-color:#ffffff;
    border-color:#ffffff;
    color:#666666;
}
#changer:after {
    top: 30%;
	right: -25px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-left-color: transparent;
	border-width: 15px;
	margin-left: -15px;
	transition:border-color 1s, right 1s;
	-webkit-transition:border-color 1s, right 1s;
}
#changer.active:after {
    border-left-color:#ffffff;
    right:-32px;
}

/* style sheet for individual risk icons */

.risk-icon {
    width:50px;
    height:50px;
    position:absolute;
    border-radius:50%;
    top:-16px;
    right:0px;
    box-shadow:1px 2px rgba(0,0,0,0.7);
    background:url("/static/review/img/icon-sprite45x495.png") no-repeat center 0 #ffffff;
}
.risk-icon.pos {
    top:-75px;
}
.list-of-risk .risk-icon {
    right:20px;
}
.id_R001_icon {
    background-position:center -223px;
}
.id_R002_icon {
    background-position:center -132px;
}   
.id_R003_icon {
    background-position:center -88px;
}
.id_R004_icon {
    background-position:center -177px;
}   
.id_R005_icon {
    background-position:center -266px;
}   
.id_R006_icon {
    background-position:center -315px;
}   
.id_R007_icon {
    background-position:center 0px;
}   
.id_R008_icon {
    background-position:center -403px;
}   
.id_R009_icon {
    background-position:center -448px;
}
.id_R010_icon {
    background-position:center -356px;
}...



/* css bubble */

.bubble-container {
    position: fixed; /* allows us to absolutely position the pseudo elements within the bubble */
    top: 10%; /* to set starting position of bubble to come */
    left: -10%; /* to set starting position of bubble to come */
    z-index: 10;
    display: none;
}
.bubble {
    /* width:150px;
    height:150px; */
    margin:0 auto;
    cursor:pointer;
    box-shadow:inset 30px 30px 75px rgba(0,0,0,.1), /* this gives us our subtle light gray background gradient */
               inset 0px 0px 15px rgba(0,0,0,.3), /* this gives us the darker gray border around the whole bubble */
               inset 0px 0px 55px rgba(255,255,255,.3), /* this gives us the more subtle white gradient all around the edge of the bubble */
               inset 3px 3px 5px rgba(0,0,0,.3), /* this gives us the slightly darker top left edge */
               0 0 50px rgba(255,255,255,.3); /* this puts a white glow all around the outside of the bubble to better contrast the edge */
    border-radius:50%; /* making our border-radius half the width/height ensures a perfectly round circle */
    background:rgba(255,255,255,.1); /* makes our bubble slightly lighter in color than the background */
    margin:auto;
    width:100%;
    height:100%;
    position:relative;
    transition: width 0.3s, height 0.3s, border-radius 0.3s, box-shadow 0.3s, background-color 0.3s;
    -webkit-transition: width 0.3s, height 0.3s, border-radius 0.3s, box-shadow 0.3s, background-color 0.3s; /* Safari */
}

.bubble:before { /* adds the white highlight on the top left of the bubble */
    content:"";
    display:block;
    position:absolute;
    width:55%;
    height:39%;
    top:4%;
    left:11%;
    z-index:3;
    border-radius: 150% 50%;
    box-shadow:inset 10px 10px 50px rgba(255,255,255,.6);
    transition: opacity 0.05s;
    -webkit-transition: opacity 0.05s; /* Safari */
}

.bubble:after { /* adds the darker lowlight on the bottom of the bubble */
        content:"";
        display:block;
        position:absolute;
        width:83%;
        height:83%;
        border-radius:50%;
        left:7%;
        top:10%;
        box-shadow:inset 0px -10px 10px rgba(0,0,0,.05);
        z-index:2;
        transition: opacity 0.05s;
        -webkit-transition: opacity 0.05s; /* Safari */
}
.bubble > div.click {
        color: rgba(255,255,255,0.7);
        font-size: 1.2em;
        font-weight: bold;
        height: 70%;
        left: 14%;
        position: absolute;
        text-align: center;
        text-shadow: 1px 2px 5px rgba(0,0,0,0.4);
        top: 30%;
        width: 70%;
        z-index: 1;
}
.social-box {
        position:absolute;
        top:0px;
        height:90%;
        padding:10% 5px 0;
        width:90%;
        top:-15%;
        left:5%;
        background:url("/static/review/img/iconmono.png") no-repeat bottom center transparent;
        transition: height 0.5s, opacity 1.5s, top 1s;
        -webkit-transition: height 0.5s, opacity 1.5s, top 1s; /* Safari */
}

.bubble-particle {
        width:0px;
        height:0px;
        opacity:1;
        top:10%;
        position:relative;
        margin:auto;
        border-radius:50%;
        background:url("/static/review/img/burst.gif") center center no-repeat rgba(0,0,0,0.2); 
        transition: width 0.2s, height 0.2s, top 0.2s, opacity 0.3s;
        -webkit-transition: width 0.2s, height 0.2s, top 0.2s, opacity 0.3s; /* Safari */
}
.bubble.active {
        height:0px !important;
        width:30% !important;
        border-radius:50% 50% 0 0;
        background-color: rgba(255,255,255,0.1);
        box-shadow-color:rgba(0,0,0,0.1);
}
.bubble.active:before, .bubble.active:after {
        opacity:0.5;
}
.click {
        line-height:1em;
}
.bubble.active .click {
        display:none;
}
.bubble.active + .bubble-particle {
        width:100% !important;
        height:120% !important;
        top:-10%;
        opacity:0;
}
.bubble.active + .bubble-particle + div.social-box {
        top:5% !important;
}
.soc-btn {
        /*background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;*/
        bottom: 60px;
        /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);*/
        color: #003663;
        font-weight: bold;
        /*height: 0;*/
        left: 2%;
        min-width:100%;
        padding:0px;
        opacity: 0;
        /*width:200px;*/
        overflow: hidden;
        position: absolute;
        text-align: center;
}
#scroll-icon {
    position:fixed;
    bottom:10px;
    right:10px;
    display:none;
}
.classic-holder {
    padding-right:30px;
    position:relative;
    min-width:250px;
}
.classic-button {
    width:30px;
    position:absolute;
    background-color:#dd4c4c;
    color:#ffffff;
    text-align:center;
    top:0px;
    padding-bottom:7px;
    padding-top:5px;
    padding-right:5px;
    line-height:1em;
    right:0px;
    opacity:0;
    cursor:pointer;
    border-width:2px 2px 2px 0px;
    border-style:solid;
    border-color:#ffffff;
    border-radius:0px 10px 10px 0px;
}
.classic {
    width:1px;
    top:-10px;
    margin:auto;
    min-height:40px;
    background-color:#dadada;
    position:relative;
    overflow:hidden;
    padding-top:5px;
    border-radius:5px;
}
.classic table{
    margin:0px 0px 10px;
}
.classic table td {
    border:10px solid transparent;
}
.classic-content {
    text-align:left;
    font-size:14px;
    font-weight:normal;
    color:#333333;
    padding:10px;
}
#ie-share {
    display:none;
}
#ie-share .classic {
    width:0px;
}
.rem-btn {
    font-size:14px;
    color:#999999;
    float:right;
    position:relative;
    top:10px;
    right:10px;
}
.rem-btn:hover {
    color:#555555;
    text-decoration:none;
}
div[id^='item_bd_'] {
    margin-bottom:20px;
}
div[id^='item_bd_'] strong {
    font-size:0.9em;
    clear:both;
}
input[id^='id_bd_'] {
    border-width:0px 0px 2px 0px;
    border-style:dashed;
    border-color:#dadada;
    padding-left:10px;
    margin-left:10px;
}
.text-error.form_errors {
    padding-left:20px;
    line-height:1.6em;
    color:#ff4444;
    font-size:0.8em;
}
.check-query {
    margin:2em 0 0;
}
.check-query strong {
    color:#999999;
}
.check-query ul {
    margin:10px 0px;
    padding:0px;
    list-style-type:none;
}
.check-query ul li label {
    font-weight:normal;
    font-size:0.8em;
    margin-left:10px;
}
/* loader div css */

#loader-div {
    background-color:#444444;
    position:fixed;
    z-index:50;
    width:100%;
    height:100%;
    display:none;
}
.circle-list {
    width:60%;
    margin:10% auto 0;
    padding:0px;
    text-align:center;
    text-transform:uppercase;
    color:#666666;
    list-style-type:none;
}
.circle-list li {
    margin:0 0 10% 0;
    position:relative;
}
.circle {
    width:40px;
    height:40px;
    margin:0 auto;
    position:relative;
    border-radius:50%;
    background-color:#666666;
    display:inline-block;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s; /* Safari */
}
.circle-inner {
    width:20px;
    height:20px;
    top:10px;
    position:relative;
    margin:auto;
    border-radius:50%;
    background-color:#444444;
}

.circle-list li.active {
    color:#aaaaaa;
}

.circle-list li.active .circle {
    background-color:#d6be72;
}

/* loader div css  ends */

.modalrupi {
    padding-bottom: 0px;
    margin-bottom: -5px;
}

#loadhider {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #f0a830;
    z-index: 100;
    padding-top: 15%;
    text-align: center;
}
.ie-show {
    display:none;
}


/* a bit of responsiveness on mobile devices */



@media only screen and (max-width:768px) {
    body {
        font-size:18px;
    }
    .dsa h1 {
        font-size:2.2em;
    }
    .product-block {
        font-size:1.2em;
        max-width:230px;
    }
    .query-showcase {
        font-size:1.4em;
    }
    #sect3.dsa h1 {
        font-size:1.5em;
    }
    .risk-holder {
        width: 100%;
    }
    .img-set {
        width:120px;
        height:auto;
    }
    .img-box {
        width:100px;
        height:auto;
    }
    .how-box {
        height:260px;
    }
    [id^='sect'].dsa{
        max-width:376px;
    }
    #sect3.dsa {
        max-width:282px;
    }
}
@media only screen and (min-width:769px) and (max-width:800px) {
    .product-block {
        max-width:230px;
    }
    [id^='sect'].dsa{
        max-width:376px;
    }
    #sect3.dsa {
        max-width:282px;
    }
}
@media only screen and (min-width:801px) and (max-width:980px) {
    .product-block {
        max-width:230px;
    }
    [id^='sect'].dsa{
        max-width:376px;
    }
    #sect3.dsa {
        max-width:282px;
    }
}
@media only screen and (max-width:600px) {
    .product-block {
        max-width:182px;
    }
    [id^='sect'].dsa{
        max-width:228px;
    }
    #sect3.dsa {
        max-width:171px;
    }
}

@media only screen and (max-width:991px) {
    .main {
        float:none;
        width:100%;
    }
    .small-xs {
        font-size:1em !important;
    }
    h1#headline1-xs,h1#headline2-xs,h1#headline3-xs,h1#headline7-xs {
        font-size:2em;
        margin-bottom:20px;
        margin-top:30px;
        line-height:1.2em;
        padding:0 10px;
    }
    #title-line2 {
        padding:0px;
    }
    #wt-enq {
        margin-top:80px;
    }
    #how-cal {
        margin-top:50px;
    }
    #lets-risk,#lets-handle {
        font-size:2em !important;
        margin:0 !important;
        text-align:left !important;
        line-height:1.2em;
        padding:0 10px;
    }
    .top-margin {
        margin-top:7em;
    }
    .content-box {
        margin-bottom:40%;
    }
    #theme3 .main {
        width:100%;
    }
    #ur-risk-product {
        opacity:1 !important;
    }
    .sa-amt {
        border:none;
    }
    .top-adjust,.top-margin2 {
        margin-top:0px;
    }
    .distinct-box {
        margin-bottom:15% !important;
    }
    .product-block-xs {
        color: #ffffff;
	    font-size: 1.3em;
	    padding: 1em 0;
	    display: block;
	    border-width: 2px 0 0;
	    width: 100%;
	    border-style: solid;
	    position: relative;
	    margin: 0;
	    font-weight:400;
    }
    .list-of-risk li {
        left:0px;
        font-weight:400;
        font-size:0.8em !important;
    }
    .list-of-risk li:first-child {
        font-weight:400;
    }
    .risk-pr-box {
        margin-bottom:0px;
    }
    #line, #ur-rev-panel {
        padding-top:0px;
    }
    .rev-pl-box p {
        text-align:center;
    }
    .rev-pl-box h3 {
        margin-bottom:0px;
    }
    #social_modal .modal-dialog,#extra_data_modal .modal-dialog {
        width:100% !important;
        min-width:380px;
        font-size:16px;
    }
    input[id^='id_bd_'] {
        font-size:18px;
        width:120px;
    }
    #scroll-icon {
        display:none !important;
    }
}
@media only screen and (max-width:383px) {
     h1#headline1-xs,h1#headline2-xs,h1#headline3-xs,h1#headline7-xs {
        font-size:1.8em;
        margin-bottom:20px;
        margin-top:30px;
        line-height:1.2em;
    }
    #title-line2 {
        font-size:1.1em;
    }
    .ie-hide {
        font-size:2.8em;
    }
}

.share_options img {
    width: 78px;
    height: auto;
}
