/* review form css */

input[id^="id_birth"] {
    text-align: center;
    width: 4em;
    display:inline;
}
input[id="id_birth_date"] {
    width: 25%;
    min-width:215px;
}

.form-review {
    border: 1px solid #E7E7E7;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
    padding: 0px 15px 0;
}
.form-review > .row {
    padding:0.5em 0;
    border-bottom:1px solid #e7e7e7;
}
.form-review > .row:nth-child(odd) {
    background-color:#f4f4f4;
}
.top-input-fields {
    border: 2px solid #E66060;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    width: 80%;
}
.top-input-fields:after {
    top:100%;
    left:50%;
    border:solid transparent;
    content: " ";
    height:0;
    width:0;
    position:absolute;
    pointer-events: none;
    border-color:transparent;
    border-top-color:#E66060;
    border-width:10px;
    margin-left:-10px;
}
.top-input-fields input {
    border-radius: 0 0 0 0;
    box-shadow: none;
    display: inline-block !important;
    width: 75%;
    margin-bottom:15px !important;
}
@media only screen and (max-width:768px) {
    .width-setting {
        max-width:350px;
    }
}
