<div class="comment_form">
{% load comments i18n %}
    {% csrf_token %}
    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
    {% for field in form %}
    {% if field.is_hidden %}
        <div>{{ field }}</div>
    {% else %}
        <p
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {{ field.label_tag }} {{ field }}
        </p>
        {% if field.errors %}{{ field.errors }}{% endif %}
    {% endif %}
    {% endfor %}
    <p class="submit">
        <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
    </p>
</div>
