/* Color scheme definitions */
@bannerBackgroundColor : #f9f7f6;
@boxLightBackground : #ffffff;
@boxDarkBackground : #f9f9f9;
@textColor : #363636;
@lightTextColor : #888888;
@baseThemeColor : #ff6127;
@baseButtonBg : #ff6127;
@buttonHoverBg : rgba(249, 98, 6, 0.99);
@baseButtonBorder : #ff512b;
@bannerbg : #24afff;
@baseFontSize : 14px;
/* Color scheme definitions end */
.roundedCorners(@value) {
  -webkit-border-radius: @value;
  -moz-border-radius: @value;
  border-radius: @value;
}
.CFBoxShadow(@level: 1){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}
.cubic-trans {
  -moz-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -webkit-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -o-transition: all .3s cubic-bezier(0.4,0,.2,1);
  transition: all .3s cubic-bezier(0.4,0,.2,1);
}
.bnone {
  border:none !important;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
body {
  font-size:@baseFontSize;
}
.mnone {
  margin:0px;
}
.pnone {
  padding:0px;
}
.prnone {
  padding-right:0px;
}

/* button styling css */
.btn-cfox {
  width: 100%;
  font-size: 16px;
  font-weight:300;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  &.orange {
    background-color: @baseButtonBg;
    border: 1px solid @baseButtonBorder;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: rgba(249, 98, 6, 0.99);
    text-decoration: none;
    outline: none;
    color: #ffffff;
  }
}

/* basic elements styling */
.hero-wrapper {
  position: relative;
  z-index: 1;
  padding-top:20px;
  background:url('../img/lady-bg.jpg') no-repeat center center #ffffff;
  -webkit-background-size: cover;
  background-size: cover;
  .cover {
    position: absolute;
    left:0;right:0;bottom:0;top:0;
    background-color:rgba(43,32,29,0.6);
  }
  h1 {
    margin-top:30px;
    color:#ffffff;
    font-size:42px;
    font-weight: 600;
    line-height: 1.3em;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  }
}
#topbar {
  padding: 10px 0 5px;
  position: relative;
  margin-bottom:15px;
  .logo {
    float: left;
    text-align: center;
    width: 180px;
    margin-bottom: 5px;
    & img {
      width:100%;
    }
  }
  .menuimg {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    padding: 5px;
    top: 3px;
    right: 0px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }
  #right-menu-items {
    margin-top:0px;
    margin-bottom:0px;
    text-align: right;
    color:#ffffff;
  }
  #right-menu-items li {
    display: inline-block;
    margin: 0;
    padding-right: 40px;
    text-align: right;
    position: relative;
    &:first-child {
      padding-right:15px;
      border-right:1px solid rgba(255,255,255,0.5);
    }
  }

  #right-menu-items li a {
    font-size: 16px;
    display: block;
    color: #ffffff;
    padding: 0px;
  }
  .irda-auth-badge {
    color: #ffffff;
    width:215px;
    letter-spacing: 0;
    vertical-align: bottom;
    text-align: left;
    float: left;
    margin-left: 20px;
    font-size: 14px;
  }
}
.form-box {
  margin-top:20px;
  padding:20px 25px;
  background-color: #ffffff;
  margin-bottom:-65px;
  .roundedCorners(2px);
  .CFBoxShadow;
  .btn-cfox {
    font-size: 20px;
    padding:10px 15px;
  }
  .error {
    color: #ff0000;
    font-size:12px;
    display: none;
  }
  & input[type='text'],& input[type='number'] {
    display: block;
    border:2px solid #e3e3ec;
    background-color: #f5f5f5;
    font-size: 16px;
    padding:10px;
    width: 100%;
    margin-bottom:5px;
    .roundedCorners(3px);
  }
  label {
    font-weight: 400;
    font-size:12px;
  }
  & > h4 {
    color:#999999;
    font-size:18px;
    margin:0px 0px 10px 0px;
  }
  & .radio-group {
    margin:0px;
    input[type="radio"] {
      display: none;
    }
    input[type="radio"] + label {
      padding: 10px 15px 10px 0px;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
      color: @textColor;
      cursor: pointer;
    }
    input[type="radio"] + label span {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: -1px 10px 0 0;
      vertical-align: middle;
      background: #efeff4;
      cursor: pointer;
      border: 1px solid #ff6127;
      .roundedCorners(50%);
      &:hover {
        border-width: 2px;
      }
    }
    input[type="radio"]:checked + label span {
      border: 2px solid #ff6127;
      position: relative;
      background: transparent;
      &:after {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background: #ff6127;
        top: 50%;
        left: 50%;
        margin-top: -5px;
        margin-left: -5px;
        .roundedCorners(50%);
      }
    }
  }
}

/* box stylings */

.light-box,.dark-box {
  padding: 10px 0px 40px;
  line-height: 1.6em;
  h1 {
    font-size: 32px;
    margin: 30px 0px;
    text-align: center;
    font-weight: 200;
    color:@textColor;
    line-height: 1.4em;
    letter-spacing: 1px;
  }
}
.light-box {
  background: @boxLightBackground;
  color:@textColor;
}
.dark-box {
  background-color: @boxDarkBackground;
}
.color-highlight {
  color: @baseThemeColor !important;
}

.testimonials-section {
  & .testimonial-item {
    position: relative;
    max-width: 250px;
    margin: 20px auto 20px;
    & img {
      width:100%;
    }
    & .comment {
      background: #f7f7f7;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      position: absolute;
      bottom: 10px;
      right: 10px;
      left: 10px;
      padding: 20px;
      color: @textColor;
      -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
      box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
      &.left {
        left: -30px;
        right: 30px;
      }
      &.right {
        right: -30px;
        left: 30px;
      }
      & p.title {
        font-weight: bold;
      }
    }
  }
}
.about-us {
  & h4 {
    color:#404040;
    margin-top:30px;
  }
}
.footer {
  padding: 20px;
  border-top: 1px solid rgba(0,0,0,0.05);
  color:#999999;
}
.product-services {
  padding-top:40px;
  background-color: #efeff4;
  .btn-cfox {
    max-width:320px;
    background: none;
    color:#ff6127;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:hover,&:focus {
      color: #ffffff;
      background-color: #ff6127;
    }
  }
  h1 {
    text-align: left;
    margin-bottom:50px;
  }
  .show-case {
    padding: 0px 0px 20px;
    border-bottom:1px dashed rgba(0,0,0,0.2);
    margin-top:20px;
    margin-bottom:20px;
    .show-case > div > div {
      margin-bottom:15px;
    }
    & > div {
      margin-bottom: 20px;
      min-height: 60px;
      color: #888888;
    }
    & h4 {
      font-weight: 400;
      color: @textColor;
      font-size: 20px;
    }
    & img {
      margin-bottom:10px;
      display: block;
      width:100px;
      height: 100px;
      background-color: rgba(0,0,0,0.05);
      .roundedCorners(50%);
    }
  }
}

.companies-wrapper {
  margin-top: 80px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  ul.company-logos {
    list-style-type: none;
    text-align: center;
    padding: 0;
    & li {
      display: inline-block;
      padding: 15px;
      position: relative;
      & img {
        height: 45px;
      }
    }
  }
}
/* mobile optimisation */

@media screen and (min-width: 1700px) {
  .hero-wrapper {
    & h1 {
      margin-top: 40px;
    }
    & .form-box {
      margin-top:60px;
    }
  }
}
@media screen and (min-width: 1580px) and (max-width: 1699px){
  .hero-wrapper {
    & h1, & .form-box {
      margin-top:40px;
    }
  }
}
@media screen and (min-width: 200px) and (max-width: 991px) {
  #right-menu-items li {
    display: block;
    margin-bottom:10px;
  }
  #topbar {
    & .logo {
      float: none;
      margin-bottom:3px;
    }
    & .irda-auth-badge {
      width:200;
      position: relative;
      float: none;
      margin:0px;
      font-size: 12px;
      br {
        display: none;
      }
    }
  }
  .testimonials-section .testimonial-item .comment {
    padding: 10px 15px;
    font-size: 12px;
  }
  .product-services .show-case > div > div {
    margin-bottom:30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-services .show-case > div {
    max-width: 500px;
  }
}

@media only screen and (min-width : 200px) and (max-width : 767px) {
  body, html {
    min-width: 320px;
  }
  .hero-wrapper {
    padding-top:0px;
  }
  .hero-wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-top:0px;
  }

  .form-box {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    .prnone {
      padding-right: 15px;
    }
  }
  #topbar {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    .logo {
      width: 120px;
    }
    .menuimg {
      width:25px;
      height:25px;
    }
    #right-menu-items {
      position: absolute;
      right: 5px;
      top: -40px;
      & li {
        padding-right: 30px;
      }
      & li a {
        font-size: 14px;
      }
    }
  }
  .product-services {
    h1 {
      padding-left: 0px;
      text-align: center;
    }
    .show-case > div {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding:0px;
      &  img {
        position: relative;
        margin:auto;
      }
    }
    & .btn-cfox {
      margin: auto;
    }
  }
  .companies-wrapper {
    height: 135px;
    ul.company-logos {
      padding: 10px 0px 10px;
      & li {
        display: inline-block;
        padding: 10px;
        & img {
          height: 40px;
        }
      }
    }
  }
  .testimonials-section {
    & .testimonial-item {
      max-width: 320px;
      margin:30px auto;
      & img {
        width:40%;
        min-width: 120px;
      }
      & .comment {
        bottom: 0px;
        right: 0px;
        left: 35%;
        padding: 10px;
        &.left {
          left: 35%;
          right: 0px;
        }
        &.right {
          right: 0px;
          left: 35%;
        }
        & p.title {
          font-weight: bold;
          margin-bottom:0px;
        }
      }
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 519px) {
  .light-box h1, .dark-box h1 {
    font-size: 28px;
  }
  .hero-wrapper h1 {
    text-align: left;
    font-size:30px;
  }
  #topbar {
    .menuimg {
      position: absolute;
      top:10px;
      left:5px;
    }
    #right-menu-items {
      background-color: rgba(0,0,0,0.1);
      padding:5px 10px 5px 40px;
      margin-top:5px;
      text-align: left;
      position: relative;
      top:0px;
      right: auto;
      & li {
        text-align: left;
        padding-right: 30px;
        position: static;
        &:first-child {
          padding-right:5px;
        }
      }
      & li a {
        font-size: 14px;
      }
    }
  }
  .companies-wrapper {
    height: 125px;
    ul.company-logos {
      padding: 10px 0px 10px;
      & li {
        display: inline-block;
        padding: 10px;
        & img {
          height: 35px;
        }
      }
    }
  }
}
.footer-wrapper-products {
  display: none;
}