<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coverfox - My Account</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link href="{{static_path}}/my_account/css/bootstrap.css" rel="stylesheet" >
    <link href="{{static_path}}/my_account/css/style.css" rel="stylesheet" >
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <div class="header-wrapper">
        <div class="cover"></div>
        <section id="top-menu">
            <div class="top-menu-wrapper container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <nav>
                            <div class="nav-toggle visible-xs">
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="bar"></div>
                                <div class="cover"></div>
                            </div>
                            <a class="logo" href="/"><img src="/static/global/img/logos/cf-white-orange-h71.png" alt="Coverfox.com"></a>
                            <div class="nav-text"><span class="nav-text-separator"></span>My Account</div>
                        </nav>
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        <ul class="nav-list">
                            <li>
                                <span class="notification">3</span>
                                <i class="icon"></i>
                            </li>
                            <li class="user-profile">
                                <img src="/static/my_account/img/user.png" alt=""/>
                                <div>Prachi Mehta</div>
                                <small>Faridabad, Haryana</small><br/>
                                <a href="">View Details</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>
<section>
    <div class="greeting">
        <div class="container-fluid">
            <strong>Howdy!</strong> Currently You Have
        </div>
    </div>
</section>
<section class="container-fluid">
    <div id="content-wrapper">
        <div class="left-col">
            <div class="my-intro visible-xs">
                <img src="/static/my_account/img/user.png" alt=""/>
                <div>Prachi Mehta</div>
                <small>Faridabad, Haryana</small><br/>
                <a href="#" class="btn muted-green small">Log out</a>
                <div class="visible-xs notification">
                    Notifications
                    <span class="badge">3</span>
                    <i class="icon"></i>
                </div>
            </div>
            {% block left_nav %}
                <ul class="side-nav">
                    <li>My Profile</li>
                    <li class="active">
                        All Policies (2)
                        <ul>
                            <li class="active">Health (1)</li>
                            <li>Car (1)</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="btn orange empty small">Buy New Policy</a>
                    </li>
                </ul>
            {% endblock %}
        </div>
        <div class="center-col">

            {% block page_content %}
            <div class="profile-window">
                <h4>My Profile</h4>
                <div class="profile-card">
                    <h5 class="label">Name</h5>
                    <div class="field active">
                        <h3>
                            <span data-bind="text:user_name">Jhon Doe</span>
                            <i class="edit"></i>
                        </h3>
                        <input type="text" data-bind="value:user_name"/>
                        <button class="btn small orange small empty">Done</button>
                    </div>
                    <h5 class="label">Email</h5>
                    <div class="field">
                        <h5>
                            <span>johndoe@mail.com</span>
                            <i class="edit"></i>
                        </h5>
                        <input type="text" data-bind=""/>
                        <button class="btn small orange small empty">Done</button>
                    </div>
                    <h5 class="label">Phone</h5>
                    <div class="field">
                        <h5>
                            <span>+91 999999999</span>
                            <i class="edit"></i>
                        </h5>
                        <input type="text" data-bind=""/>
                        <button class="btn small orange small empty">Done</button>
                    </div>
                    <h5 class="label">Address</h5>
                    <div class="field">
                        <h5>
                            <span>405, Raheja Titanium, D.N.Road, Andheri(W), Mumbai - 400053</span>
                            <i class="edit"></i>
                        </h5>
                        <textarea data-bind=""></textarea>
                        <button class="btn small orange small empty">Done</button>
                    </div>
                    <div class="mod-status">
                        <span class="muted">Last Modified</span>
                        <div class="val">22/04/2015</div>
                        <span class="muted">Last Access</span>
                        <div class="val">
                            <span>3:00pm</span>,<br/>
                            <span>14/03/2015</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            {% block page_content_alt %}
            <div class="policy-window">
                <h4>My Policies (2)</h4>
                <div class="policy-card">
                    <div class="custom-title-row clearfix">
                        <em>My Family Health Insurance</em>
                        <span class="ins">Health</span>
                    </div>
                    <div class="insurer-logo"></div>
                    <h3>Family Health Optima</h3>
                    <div class="row mnone">
                        <div class="col-lg-5 plnone">
                           <span>Bought on:<span class="val">22/05/2014</span></span><br/>
                            <span class="text-red">Expiry Date:<span class="val">21/05/2015</span></span><br/>
                            <span>Covers:<span class="val">You, Spouse</span></span>
                        </div>
                        <div class="col-lg-7 pnone clearfix">
                            <ul class="actions">
                                <li>
                                    <a href="">View Details</a>
                                </li>
                                <li>
                                    <i class="icon-action download"></i>
                                </li>
                                <li>
                                    <a href="" class="claim">Claim</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
        <div class="right-col">
            <div class="rel-manager">
                <h4>Your Relationship Manager</h4>
                <div>
                    <div class="pic">
                        <img src="/static/my_account/img/user.png" alt=""/>
                    </div>
                    <h5>Amit Patil</h5>
                    <a href="#"><img src="/static/my_account/img/user.png" alt=""/> Email</a>
                    <a href="#"><img src="/static/my_account/img/user.png" alt=""/> Call - <span>9888888888</span></a>
                    <a href="#" class="call-back">Get a call back</a>
                </div>
            </div>
            <div class="chat-box">
                <div class="header">
                    <img src="/static/my_account/img/user.png" alt=""/>
                    <h5>Amit Patil</h5>
                    <i class="indicator available"></i> <span>Available</span>
                    <i class="handle open"></i>
                </div>
            </div>
        </div>
    </div>
</section>
{% block footer_css %}{% endblock %}
{% block footer_js %}{% endblock %}

</body>
</html>