{% extends 'motor_product/admin/parent.html' %}
{% block body_block %}


<br><br>
<p>Download vehicle master data</p>
<form action="{% url 'download_data' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="vehiclemasterdatadownload"/>
    {{form_vehilcemaster_data_dwnld}}
    <input type="submit" value="download"/>
</form>
<hr>

<br>

<p>Download RTO data </p>

<form action="{% url 'download_data' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="rtomasterdatadownload"/>
    {{form_rtomaster_data_dwnld}}
    <input type="submit" value="download"/>
</form>



<hr>
<br><br>
<p>Policy data download</p>
<form action="{% url 'download_data' %}" method="POST">
    <input type="hidden" name="policy_data_download"/>
    {% csrf_token %}
{{DownloadDatabyID}}
<input type="submit" value="search">
</form>
<hr>

<br><br>
{% if trans_obj %}

<table>
    <th>Customer name</th>
    <th>Customer email</th>
    <th>Policy status</th>
    <th>Phone No.</th>
    <th>Vehicle No.</th>
    <th>Insurer</th>
    <th>What to download ?</th>
    <tr>
        <td>{{customer_name}}</td>
        <td>{{customer_email}}</td>
        <td>{{status}}</td>
        <td>{{contact}}</td>
        <td>{{vehicle_no}}</td>
        <td>{{insurer}}</td>
        <td>
            <input id="transaction_id" type="hidden" value="{{trans_obj.transaction_id}}"/>
            <select id="activities">
                <option value="download-payment-request/">Payment request</option>
                <option value="download-payment-response/">Payment response</option>
                <option value="download-proposal-request/">Proposal request</option>
                <option value="download-proposal-response/">Proposal response</option>
                <option value="download-quote-request/">Quote request</option>
                <option value="download-quote-response/">Quote response</option>

            </select>
            <input type="button" value="Download" id="download_button" />


        </td>
    </tr>
</table>

{% endif %}


<br><br>
<a href="{% url 'create_transaction_receipt'%}">Generate transaction receipt </a>



{% endblock %}


