{% extends 'motor_product/admin/parent.html' %}
{% load humanize %}

{% block body_block %}
<style>
#signal-strength {
      height: 30px;
        list-style: none;
          overflow: hidden;
}
#signal-strength li {
      display: inline-block;
        width: 15px;
          float: left;
            height: 100%;
              margin-right: 1px;
}
#signal-strength li.five {
      padding-top: 0px;
}
#signal-strength li.four {
      padding-top: 6px;
}
#signal-strength li.three {
      padding-top: 12px;
}
#signal-strength li.two {
      padding-top: 18px;
}
#signal-strength li.one {
      padding-top: 24px;
}
#signal-strength li div {
      height: 100%;
}
</style>

<script>
 function autoRefresh()
{
     window.location = window.location.href;
}
 setInterval('autoRefresh()', 30000); // this will reload page after every 30 secounds; Method I
</script>


<br>
<br>

<table>
    <tr>
        <td style='background: blue;width: 56px;'></td><td>Initializing</td>
    </tr>
    <tr>
        <td style='background: green;width: 56px;'></td><td>Quote response</td>
    </tr>
    <tr>
        <td style='background: red;width: 56px;'></td><td>No response</td>
    </tr>
    <tr>
        <td style='background: gray;width: 56px;'></td><td>Inactive for car</td>
    </tr>
</table>

<br>
<p>Quote frequency : Every one minute</p>
<p>Left side : Most recent quote status </p>

{% if data %}

<table>
    <th>Insurer</th>
    <th>Quote status</th>
    <th>Last successful request at</th>
    {% for index  in data  %}
        <tr>
            <td>{{index.insurer}}</td>
            <td>
                <ul id="signal-strength">
                    {% for i in index.status %}
                    <li class="five">
                            <div {% if i == 'Initial' %}style='background: blue;'   {% endif %}
                                 {% if i == 'Disable' %}style='background: gray;' {% endif %}
                                 {% if i == True %}     style='background: green;'  {% endif %}
                                 {% if i == False %}    style='background: red;'    {% endif %}
                            </div>
                    </li>
                    {% endfor %}

                </ul>

            </td>
            <td>{{index.timestamp}}</td>
        </tr>

    {% endfor %}
</table>
{% else %}

<h3>Currently no data </h3>
{% endif %}

{% endblock %}
