<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
table, th, td {
    border: 1px solid black;
}
#inputable th, .table td {
         border: 0px !important;
}
#inputable{
        border-collapse: inherit;
}
.fixed-table-container {
        border:0px !important;
}

</style>
<link href="{{STATIC_URL}}radmin/css/bootstrap.min.css" rel="stylesheet">
<link href="{{STATIC_URL}}radmin/css/bootstrap-responsive.min.css" rel="stylesheet">
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/underscore-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-scrolltofixed.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/pace.min.js"></script>

<script src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>

<link href="{{STATIC_URL}}radmin/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
<link href="{{STATIC_URL}}radmin/css/hospital_admin.css" rel="stylesheet">

<link href="{{STATIC_URL}}radmin/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
<script>
$(function() {
    $(".datepicker" ).datepicker();


    $('#download_button').click(function() {
        var selected = $('#activities option:selected');
        var transaction_id = $("#transaction_id").val();
        window.location = selected.val()+"?trans_id="+transaction_id;

        });
});
</script>
</head>
<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">

            <a href="{% url 'motor_admin_home' %}">Motor admin home </a>
            {% block body_block %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
