{% extends 'motor_product/admin/parent.html' %}
{% load report_utils %}

{% block body_block %}

<h3> Top make models with their avg-time per request</h3>

<form action="{% url 'report_top_model_avg' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit"/>
</form>


{% if all_insurers %}

<table>
    <th>model</th>
    {% for i in all_insurers %}
    <th>{{i}}</th>
    {% endfor %}

    {% for key, values in data.items %}

    <tr>
        <td>{{key | return_vehicle}}</td>
        {% for ins in all_insurers %}
        <td>{{ ins | return_success_count_for_ins:values }}  </td>
        {% endfor %}

    </tr>
    {% endfor %}

</table>

{% endif %}

{% endblock %}
