<html>
<head>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);
function drawChart() {
    var data_all_errors = google.visualization.arrayToDataTable([
            ['Task', 'Hour Per day'],
            {% for key, value in all_errors_dict.items %}
            ['{{key}}', {{value}}],
            {% endfor %}
            ]);
    var data_actual_errors = google.visualization.arrayToDataTable([
            ['Task', 'Hour Per day'],
            {% for key, value in actual_errors_dict.items %}
            ['{{key}}', {{value}}],
            {% endfor %}
            ]);
    var options = {
title: 'All errors for {{insurer}}',
    };
    var options1 = {
title: 'Actual errors for {{insurer}}',
    };
    var chart1 = new google.visualization.PieChart(document.getElementById('piechart1'));
    chart1.draw(data_all_errors, options);
    var chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));
    chart2.draw(data_actual_errors, options1);
}
</script>
</head>
<body>
<div id="container">
    <div align="center">
        <div id="piechart1" style="width: 900px; height: 500px;"></div>
    </div>
    <div align='center'>
        <div id="piechart2" style="width: 900px; height: 500px;"></div>
    </div>
</div>
<ul>
    {% for key, value in all_errors_dict.items %}
    <li>{{key}} - {{value}}</li>
    {% endfor %}
</ul>

</body>
</html>
