<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html;">
<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<style type="text/css">
@media screen, print {
    body { margin:0; font:normal 12px 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;color:#231f20;line-height:1.5em;}
    table > tr > td { padding:0px; vertical-align:top;}
    .logo-container { padding:30px 40px 30px; border-collapse:collapse; background:#fff; width: 560px;}
    .logo-container .logo-box { padding:0 0 10px 20px;}
    .logo-container .logo-box .logo { outline:none; display:inline-block; width:205px;}
    .logo-container .logo-box .logo img { display:block; width:100%; height: auto;}
    .logo-container .logo-box .logo-sh { font-size:10px;}
    .hr-orange { border-top: 1px solid #FF6227;}
    .mid-content { padding:20px 20px 40px;}
    .address { padding:0 0 20px 0;}
    .cpa-spacing { display: inline-block; width:100px;}
    .acr-hr { padding:20px 0 10px;}
    .acr-hr .black-line { border-top: 1px solid #ccc; margin-top:2px;}
    .acr-hr .mid-text { width:230px; text-align:center;}
    .footer { padding:10px; font-size:9px; text-align:center; color:#898989;}
    .brd-table, .brd-table th, .brd-table td { border:1px solid #ccc;  border-collapse:collapse; margin-bottom:30px; text-align:left; padding:5px 8px;}
    .link { color:#2196F3; text-decoration:none;}
}
</style>
</head>
<body>
<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="background:#efeff4;">
    <tr>
        <td></td>
        <td valign="top" align="center" class="logo-container">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="logo-box">
                        <a class="logo" href="http://www.coverfox.com" target="_blank"><img title="Coverfox Insurance Broking Pvt. Ltd." alt="All about car insurance renewals" src="https://d2xkxm0e9d3y16.cloudfront.net/static/global/img/logos/cf-dark-orange-h71.png" tabindex="0"></a>
                        <div class="logo-sh">Coverfox Insurance Broking Pvt. Ltd.</div>
                    </td>
                </tr>
                <tr>
                    <td class="hr-orange"></td>
                </tr>
                <tr>
                    <td class="mid-content">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td class="address">
                                    {% now 'd' %}<sup>{% now 'S' %}</sup>  {% now 'M Y' %}<br />
                                    {% if obj.customer_address %}
                                        {{ obj.customer_name }}<br />
                                        {{ obj.customer_address }}<br />
                                    {% endif %}
{#                                    3rd Floor, A wing, Krislon House <br />#}
{#                                    Saki vihar road, Saki Naka, Maharashtra - 400072#}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table  cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td><span class="cpa-spacing">Contact.</span> :&nbsp; </td>
                                            <td>{{ obj.customer_email }}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="cpa-spacing">Policy No.</span> :&nbsp; </td>
                                            <td>{{ obj.policy_number }}</td>
                                        </tr>
                                        <tr>
                                            <td><span class="cpa-spacing">ACR No.</span> :&nbsp; </td>
                                            <td>{{ obj.pk }}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="acr-hr">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td valign="middle"><div class="black-line"></div></td>
                                            <td class="mid-text">
                                                Acknowledgement of Changes Requested
                                            </td>
                                            <td valign="middle"><div class="black-line"></div></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:30px">
                                    Dear {{ obj.customer_name | title }}, <br /><br />
                                    This document acknowledges that the below mentioned changes have been forwarded to <b>Insurance Company</b>.
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="brd-table" width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td>Requested Change Particulars</td>
                                            <td>Incorrect Record</td>
                                            <td>Correct Details</td>
                                        </tr>
                                        <tr>
                                            <td>{{ obj.endorsement_type }} in {{ obj.field }}</td>
                                            <td>{{ obj.current_value }}</td>
                                            <td>{{ obj.endorsed_value }}</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    All the other terms and conditions of the policy will remain unchanged. An endorsement letter confirming the changes will reach you in <b>05 business days</b>. Meanwhile, if you need to make any claims you can refer this acknowledgement along with your policy in your communication with us or the Insurance Company.<br /><br />
                                    For any clarification or assistance, feel free to connect with our <b>Customer Service Unit</b> on the toll free no. <b>1800-209-9970</b> (Mon to Sat, 9am-9pm) or at <a class="link" href="mailto:help@coverfox.com">help@coverfox.com.</a><br /><br />
                                    Warm Regards,<br />
                                    Team Coverfox<br /><br />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="hr-orange"></td>
                </tr>
                <tr>
                    <td class="footer">
                        Unit#5 -A, 'B' Wing, Krislon House, Saki Vihar Road, Opp Marwa Center, Andheri (E) Mumbai - 400072<br />
                        www.coverfox.com
                    </td>
                </tr>
            </table>
        </td>
        <td></td>
    </tr>
</table>
</body>
</html>
