<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" >
    <title></title>
</head>
<body>
    <div class="container">
        <h2>request.User = {{ request_user }}</h2>
        <h2>request.Visitor = {{ request_visitor }}</h2>

        {% if request_user %}
            <h4><cite>Phones attached to visitor</cite></h4>
            {% for phone in request_user.phones.iterator %}
                <p>
                    Mobile - {{ phone.number }} , is_verified = {{ phone.is_verified }},
                    is_primary = {{ phone.is_primary }},
                    is_exists = {{ phone.is_exists }},
                    is_bogus = {{ phone.is_bogus }},
                    created_on = {{ phone.created_date }},
                    modified_on = {{ phone.created_date }}
                </p>
            {% endfor %}

            <h4><cite>Emails attached to visitor</cite></h4>
            {% for email in request_user.emails.iterator %}
                <p>
                    Email - {{ email.email }} , is_verified = {{ email.is_verified }},
                    is_primary = {{ email.is_primary }},
                    is_exists = {{ email.is_exists }},
                    is_bogus = {{ email.is_bogus }},
                    created_on = {{ email.created_date }},
                    modified_on = {{ email.created_date }}
                </p>
            {% endfor %}

            <h4><cite>Requirements attached to User</cite></h4>
                {{% for req in u_reqs %}
                <p>
                    {% for r in req %}
                        <br />{{ r }}
                    {% endfor %}
                </p>
            {% endfor %}
        {% endif %}

        {% if request_visitor %}
            <h4><cite>Phones attached to visitor</cite></h4>
            {% for phone in request_visitor.phones.iterator %}
                <p>
                    Mobile - {{ phone.number }} , is_verified = {{ phone.is_verified }},
                    is_primary = {{ phone.is_primary }},
                    is_exists = {{ phone.is_exists }},
                    is_bogus = {{ phone.is_bogus }},
                    created_on = {{ phone.created_date }},
                    modified_on = {{ phone.created_date }}
                </p>
            {% endfor %}

            <h4><cite>Emails attached to visitor</cite></h4>
            {% for email in request_visitor.emails.iterator %}
                <p>
                    Email - {{ email.email }} , is_verified = {{ email.is_verified }},
                    is_primary = {{ email.is_primary }},
                    is_exists = {{ email.is_exists }},
                    is_bogus = {{ email.is_bogus }},
                    created_on = {{ email.created_date }},
                    modified_on = {{ email.created_date }}
                </p>
            {% endfor %}

            <h4><cite>Requirements attached to visitor</cite></h4>
            {% for req in v_reqs %}
                <p>
                    {% for r in req %}
                        <br />{{ r }}
                    {% endfor %}
                </p>
            {% endfor %}

        {% endif %}
    </div>

    <script src="{{STATIC_URL}}js/bootstrap.min.js" ></script>
</body>
</html>
