<header id="topbar">
    <div class="topbar-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 topbar-left pnone">
                    <!--img src="/static/motor_product/mobile/assets/img/menu-icon.png" class="menu-icon" alt="Menu"--> <img class="logo" src="/static/motor_product/mobile/assets/img/coverfox-logo.png" alt="Coverfox Logo"/>
                </div>
                <div class="col-xs-6 topbar-right pnone text-right">
                    <a href="#" class="btn-menubar blue">Modify <span data-bind="text:vehicle_type_verbose[VEHICLE_TYPE]"></span> details</a>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div data-bind="visible: !ui_states.has_quote_modified_once()">
        <div class="top-color-band fixed-top">
            <div class="col-xs-12">
                <div class="progres-bar">
                    <div class="prog-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    </div>
                </div>
                Your results are 70% accurate. Verify critical information about your <span data-bind="text:vehicle_type_verbose[VEHICLE_TYPE]"></span> before you buy.
            </div>
            <div class="clearfix"></div>
            <a data-bind="click: ui_switches.show_popup.bind($data,'modify_popup')">Tap here to verify now</a>
        </div>
    </div>
    <div data-bind="if: ui_states.has_quote_modified_once()">
        <div class="top-color-band">
            <div class="col-xs-6 pnone">
                Claimed in the past year : <span data-bind="text: quote_form.is_claimed_last_year().key"></span>
            </div>
            <div class="col-xs-6">
                NCB : <span data-bind="text: quote_form.previous_ncb().key"></span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="top-color-band opacity-color" data-bind="visible: quote_form.is_cng_kit_valid()">
            <div class="col-xs-6 pnone">
                CNG : <span data-bind="text: quote_form.cng_fitted().key"></span>
            </div>
            <div class="col-xs-6 mute-txt">
                CNG Value : <span data-bind="text: quote_form.cng_kit_value()"></span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="top-color-band light-opacity">
            <a data-bind="click: ui_switches.show_popup.bind($data,'modify_popup')">Tap here to edit above info</a>
        </div>
    </div>
</section>
<section>
    <div class="results-header">
        <div class="col-xs-7 pnone">
            <p class="mnone">Showing plans from <em><span data-bind="text: plans().length"></span> insurers</em></p>
        </div>
        <div class="col-xs-5 pnone hide">
            <a href="#" class="btn-menubar blue">Save these quotes</a>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<div class="card pnone idv-card" data-bind="click: ui_switches.show_popup.bind($data,'idv_popup')">
    <div class="col-xs-6 border-gray padd-global">
        <div class="col-xs-8 pnone"><h2 class="mar-0">IDV </h2> <div class="gray-light" data-bind="text: quote_form.idv() == 0? 'For best deal' : quote_form.idv()"></div></div>
        <div class="col-xs-4 pnone-right"><h2 class="color-blue mar-0">Edit</h2></div>
    </div>
    <div class="col-xs-6 padd-global">
        <div class="col-xs-8 pnone"><h2 class="mar-0">Accessories</h2> <div class="gray-light" data-bind="text: (quote_form.idv_electrical() > 0 || quote_form.idv_non_electrical() > 0 )? parseInt(quote_form.idv_electrical()) + parseInt(quote_form.idv_non_electrical()) : 'No accessories' "></div></div>
        <div class="col-xs-4 pnone-right"><h2 class="color-blue mar-0">Edit</h2></div>
    </div>
    <div class="clearfix"></div>
</div>
<section data-bind="foreach: plans()">
    
    <div data-bind="if: ($index() == 2 && !$parent.affiliate_campaign) || ($index() == 0 && $parent.affiliate_campaign)">
        <div class="call-card-wrapper">

            <div class="card pnone plan-card row call-card">
               <div class="col-sm-6 col-sm-6">
                   <h3>Let us help you choose</h3>
                   <p class="sub">Talk to a specialist about your <span data-bind="text:$parent.vehicle_type_verbose[VEHICLE_TYPE]"></span> insurance needs and get expert advice.</p>
               </div>
               <div class="col-sm-6 col-sm-6 call-card-form">
                <section data-bind="visible: !$parent.ui_states.request_call_success()">
                    <div class="col-sm-12" style="padding-left:0;margin-top:10px;">
                        <input type="text" placeholder="Enter 10 digit mobile number" data-bind="value: $parent.quote.mobile" maxlength="10" >
                        <a class="btn-buy" data-bind="click: $parent.app_actions.request_call">Call me!</a>
                    </div>
                    <p class="error" data-bind="visible: !$parent.ui_states.is_mobile_number_valid()">Please enter a valid phone number.</p>

                </section>

                <section data-bind="visible: $parent.ui_states.request_call_success()">
                    <p class="success">Thanks! An expert will get back to you soon.</p>
                </section>


                <h5 class="call">or call us (Toll Free) <span data-bind="text: $parent.toll_free_number"></span></h5>
            </div>
        </div>

    </div>
    
</div>

    <div class="card pnone plan-card" data-bind="click: $parent.app_actions.show_premium_breakup">
        <div class="col-xs-6 padd-global card-left">
            <img class="insurer" data-bind="attr: {src: '/static/motor_product/desktopMVP/app/assets/img/insurer/'+insurerSlug+'.png'}" alt="" />
            <div class="addons-match hide">100% addons match</div>
        </div>
        <div class="col-xs-6 pnone card-right">
            <div class="col-xs-6 pnone">
                <div class="highl-grey">Basic</div>
            </div>
            <div class="col-xs-6 pnone">
                <div class="highl-grey-dark" data-bind="inr_currency: calculatedBasicCover() + calculatedDiscounts() "></div>
            </div>
            <div class="col-xs-6 pnone">
                <div class="highl-grey-dark">Discount</div>
            </div>
            <div class="col-xs-6 pnone">
                <div class="highl-grey" data-bind="inr_currency: calculatedSpecialDiscounts">0</div>
            </div>
            <div class="col-xs-6 pnone">
                <div class="highl-grey">Addons</div>
            </div>
            <div class="col-xs-6 pnone">
                <div class="highl-grey-dark" data-bind="inr_currency: calculatedAddonCovers"></div>
            </div>
            <div class="col-xs-6 pnone total-label">
                Total (Rs.)
            </div>
            <div class="col-xs-6 pnone total-value">
                <span data-bind="inr_currency: calculatedTotalPremium"></span>
            </div>
            <div class="clearfix"></div>
            <a data-bind="click: $parent.app_actions.prepare_buy, clickBubble:false" class="btn-buy">Buy this plan</a>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<footer>
    <div class="footer-wrapper">
        <p>&copy; 2015 All rights reserved</p>
        <p>Coverfox Insurance Broking Pvt. Ltd. <br>3rd Floor, A wing <br>Krislon House <br>Saki vihar road <br>Saki Naka, Maharashtra - 400072</p>
        <p><strong>IRDA Direct Broker licence no</strong> <br>IRDA/ DB 556/ 13 <br><strong>Principal Officer:</strong> Varun Dua</p>
        <p>Insurance is a subject matter of solicitation.</p>
    </div>
</footer>
<div class="btn-addon-discount">
    <a data-bind="click: ui_switches.show_popup.bind($data,'addon_popup')" class="left-btn-a"> <img src="/static/motor_product/mobile/assets/img/addons-icon-white.png" /> Addons</a>
    <a data-bind="click: ui_switches.show_popup.bind($data,'discounts_popup')" class="right-btn-a"> <img src="/static/motor_product/mobile/assets/img/discounts-icon-white.png" /> Discounts</a>
</div>
<section id="popups">
    <div class="popup-container full-page grey" data-bind="css: {reveal: ui_switches.addon_popup()}">
        <div class="card col-xs-12 padd-global">
            <div class="col-xs-12 choose-add pnone">
                <img src="/static/motor_product/mobile/assets/img/addons-icon.png" /> Choose Addons
            </div>
        </div>
        <div class="card col-xs-12" data-bind="foreach: constants.addons">
            <div class="choose-add-container col-xs-12">
                <input type="checkbox" data-bind="checked: $parent.quote_form[id], attr: {id: id}" /> <label data-bind="attr: {for: id}" ><span data-bind="text: name"></span></label>
                <!--div class="col-xs-2">
                <img src="/static/motor_product/mobile/assets/img/question-mark.png" />
            </div-->
        </div>
    </div>
    <div class="card pos-fixed padd-global">
        <div class="col-xs-6 btn_mobile pnone">
            <a class="bg-clr" data-bind="click: app_actions.cancel_select_addons">Cancel</a>
        </div>
        <div class="col-xs-6 btn_mobile pnone">
            <a data-bind="click: app_actions.select_addons">Done</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="popup-container full-page grey" data-bind="css: {reveal: ui_switches.discounts_popup()}">
    <div class="card discount-bg col-xs-12 ">
        <img src="/static/motor_product/mobile/assets/img/discounts-icon-white.png" style="width:32px;"/> DISCOUNTS
    </div>
    <div class="col-xs-12">
        <h3>Voluntary Deductible</h3>
    </div>
    <div class="card col-xs-12 ">
        <div class="form-section mar-0">
            <h3 class="color-blue">Choose Voluntary Deductible</h3>
            <select data-bind="options: constants.vd_options,
                value: quote_form.vd,
                optionsText: 'key'
            "></select>
            <p class="large">
            Opt for a higher voluntary deductible to get a discounted premium.
            </p>
            <p>
            Select voluntary deductible and get additional discount on your premium. The amount you choose here is to be paid by you at the time of claim settlement. It is advisable not to claim small value repair estimates to save your No claim bonus, so it is a good decision to go ahead with a Rs. 2500 deductible to get a good deal.
            </p>
        </div>
    </div>
    <div class="card pos-fixed padd-global">
        <div class="col-xs-6 btn_mobile pnone">
            <a class="bg-clr" data-bind="click: app_actions.cancel_add_discounts">Cancel</a>
        </div>
        <div class="col-xs-6 btn_mobile pnone">
            <a data-bind="click: app_actions.add_discounts">Done</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="popup-container full-page grey reveal-topbar" data-bind="css: {reveal: ui_switches.loading_popup()}">
    <div class="col-xs-12 text-center">
        <div class="progress-bar-wrapper">
            <p>Getting quotes for your <br><span data-bind="text:quote.vehicle().name"></span></p>
            <div class="progress-bar">
                <div class="progress-bar-fill" data-bind="style:{width: ui_states.progress_bar_width() + '%'}"></div>
            </div>
        </div>
    </div>
</div>
<div class="popup-container full-page grey" data-bind="css: {reveal: ui_switches.modify_popup()}">
    <div class="card bg-color-blue col-xs-12">
        <h1 class="white-color choose-add">MODIFY QUOTES</h1>
    </div>
    <div class="col-xs-12">
        <h3 class="color-blue">Verify Critical Information before you buy</h3>
    </div>
    <div class="card col-xs-12">
        <div class="form-section mar-0">
            <section data-bind="visible: quote.isNewVehicle() == false">
                <label>Have you made a claim in the past year?</label>
                <select data-bind="options: constants.boolean_options,
                    value: quote_form.is_claimed_last_year,
                    optionsText: 'key'
                "></select>
            </section>
            <label>What is the NCB in your expiring policy?</label>
            <select data-bind="options: constants.ncb_options,
                value: quote_form.previous_ncb,
                optionsText: 'key'
            "></select>
            <div data-bind="visible: quote_form.is_cng_kit_valid()">
                <label>Is your <span data-bind="text:vehicle_type_verbose[VEHICLE_TYPE]"></span> CNG fitted?</label>
                <select data-bind="options: constants.cng_fitted_options,
                    value: quote_form.cng_fitted,
                    optionsText: 'key'
                "></select>
                <section data-bind="visible: quote_form.cng_fitted().value == 2">
                    <label>CNG Kit value</label>
                    <input type="text" data-bind="value: quote_form.cng_kit_value">
                </section>
            </div>
        </div>
    </div>
    <div class="card pos-fixed padd-global">
        <div class="col-xs-6 btn_mobile pnone">
            <a class="bg-clr" data-bind="click: app_actions.cancel_modify_quote">Cancel</a>
        </div>
        <div class="col-xs-6 btn_mobile pnone">
            <a data-bind="visible: !buy_initiated(),click: app_actions.modify_quote">Done</a>
            <a data-bind="visible: buy_initiated(), click: app_actions.final_confirm">Continue</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="popup-container full-page grey" data-bind="css: {reveal: ui_switches.idv_popup()}">
    <div class="card bg-color-blue col-xs-12">
        <h1 class="white-color choose-add">MODIFY QUOTES</h1>
    </div>
    <div class="col-xs-12">
        <h3> IDV</h3>
    </div>
    <div class="card col-xs-12">
        <div class="choose-add-container col-xs-12 pnone">
            <h4><input id="idv1" type="checkbox" data-bind="checked: ui_states.default_idv_mode "> <label for="idv1">For best deal</label></h4>
        </div>
        <div class="choose-add-container col-xs-12 pnone">
            <h4><input id="idv2" type="checkbox" data-bind="checked: ui_states.custom_idv_mode"> <label for="idv2">Enter your own IDV</label></h4>
            <div class="err_container form-section">
                <section data-bind="visible: ui_states.custom_idv_mode()">
                    <input type="text" data-bind="value: quote_form.idv " />
                    <!--p>Enter a value between <br /><b> 4.38 Lacs</b> and <b>4.56 Lacs</b></p-->
                </section>
                <p>
                IDV or Insured declared value is the calculated value of your <span data-bind="text:vehicle_type_verbose[VEHICLE_TYPE]"></span> which would be reimbursed to you in case of theft or total damage. This value has nothing to do with the limit of accidental repairs or resale value of the <span data-bind="text:vehicle_type_verbose[VEHICLE_TYPE]"></span>. <strong>We have set your <span data-bind="text:vehicle_type_verbose[VEHICLE_TYPE]"></span>'s IDV for the best deal</strong>.
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-xs-12">
        <h3>IDV Accessories </h3>
    </div>
    <div class="card col-xs-12">
        <div class="err_container form-section">
            <p>Cover your <span data-bind="text:vehicle_type_verbose[VEHICLE_TYPE]"></span>'s extra fitted electrical accessories like stereo, fog lamps, buzzers etc</p>
            <p><b>Electrical Accessories Value</b></p>
            <input type="text" data-bind="value:quote_form.idv_electrical" />
            <p>Cover your <span data-bind="text:vehicle_type_verbose[VEHICLE_TYPE]"></span>'s extra fitted non-electrical accessories like roof rack, wheel cover, etc</p>
            <p><b>Non Electrical Accessories Value</b></p>
            <input type="text" data-bind="value:quote_form.idv_non_electrical "/>
        </div>
    </div>
    <div class="card pos-fixed padd-global">
        <div class="col-xs-6 btn_mobile pnone">
            <a class="bg-clr" data-bind="click: app_actions.cancel_change_idv">Cancel</a>
        </div>
        <div class="col-xs-6 btn_mobile pnone">
            <a data-bind="click: app_actions.change_idv">Done</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="popup-container full-page grey premium-breakup" data-bind="with: selectedPlan(),css: {reveal: ui_switches.premium_breakup_popup()}">
    <div class="card bg-color-blue col-xs-12">
        <h1 class="white-color choose-add">Premium Breakup</h1>
    </div>
    <div class="card pnone plan-card" data-bind="">
        <div class="col-xs-6 padd-global card-left">
            <img class="insurer" data-bind="attr: {src: '/static/motor_product/desktopMVP/app/assets/img/insurer/'+insurerSlug+'.png'}" alt="" />
            <div class="addons-match hide">100% addons match</div>
        </div>
        <div class="col-xs-6 pnone card-right">
            <div class="col-xs-6 pnone">
                <div class="highl-grey">Basic</div>
            </div>
            <div class="col-xs-6 pnone">
                <div class="highl-grey-dark" data-bind="inr_currency: calculatedBasicCover() + calculatedDiscounts()"></div>
            </div>
            <div class="col-xs-6 pnone">
                <div class="highl-grey-dark">Discount</div>
            </div>
            <div class="col-xs-6 pnone">
                <div class="highl-grey" data-bind="inr_currency: calculatedSpecialDiscounts">0</div>
            </div>
            <div class="col-xs-6 pnone">
                <div class="highl-grey">Addons</div>
            </div>
            <div class="col-xs-6 pnone">
                <div class="highl-grey-dark" data-bind="inr_currency: calculatedAddonCovers"></div>
            </div>
            <div class="col-xs-6 pnone total-label">
                Total (Rs.)
            </div>
            <div class="col-xs-6 pnone total-value">
                <span data-bind="inr_currency: calculatedTotalPremium"></span>
            </div>
            <div class="clearfix"></div>
            <a href="#" class="btn-buy hide">Buy this plan</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="card col-xs-12">
        <div class="col-xs-6 pnone"><h3>Calculated at IDV</h3></div>
        <div class="col-xs-6 pnone text-right"><h3 data-bind="inr_currency: calculatedAtIDV"></h3></div>
    </div>
    <div class="col-xs-12 padd-global">
        <h3>Basic covers</h3>
    </div>
    <div class="card col-xs-12 pnone">
        <div class="col-xs-12 pnone" data-bind="foreach:basicCovers">
            <div class="col-xs-8 pnone">
                <div data-bind="text:name, css:{'highl-grey': $index() % 2 == 0, 'highl-grey-dark': $index() % 2 != 0 }"></div>
            </div>
            <div class="col-xs-4 pnone">
                <div data-bind="inr_currency:premium, css:{'highl-grey': $index() % 2 != 0, 'highl-grey-dark': $index() % 2 == 0 }"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 padd-global">
        <h3>Addon covers</h3>
    </div>
    <div class="card col-xs-12 pnone">
        <div class="col-xs-12 pnone" data-bind="foreach:selectedAddonCovers">
            <div class="col-xs-8 pnone">
                <div data-bind="text:name, css:{'highl-grey': $index() % 2 == 0, 'highl-grey-dark': $index() % 2 != 0 }"></div>
            </div>
            <div class="col-xs-4 pnone">
                <div data-bind="inr_currency:premium, css:{'highl-grey': $index() % 2 != 0, 'highl-grey-dark': $index() % 2 == 0 }"></div>
            </div>
        </div>
        <p data-bind="if:selectedAddonCovers().length == 0">No addons selected.</p>
        <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 padd-global">
        <h3>Discounts</h3>
    </div>
    <div class="card col-xs-12 pnone">
        <div class="col-xs-12 pnone" data-bind="foreach:discounts">
            <div class="col-xs-8 pnone">
                <div data-bind="text:name, css:{'highl-grey': $index() % 2 == 0, 'highl-grey-dark': $index() % 2 != 0 }"></div>
            </div>
            <div class="col-xs-4 pnone">
                <div data-bind="inr_currency:premium, css:{'highl-grey': $index() % 2 != 0, 'highl-grey-dark': $index() % 2 == 0 }"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-xs-12 padd-global">
        <h3>Service Tax</h3>
    </div>
    <div class="card col-xs-12 pnone">
        <div class="col-xs-12 pnone">
            <div class="col-xs-8 pnone">
                <div class="highl-grey">Service Tax</div>
            </div>
            <div class="col-xs-4 pnone">
                <div class="highl-grey" data-bind="inr_currency: totalServiceTax"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="card pos-fixed padd-global">
        <div class="col-xs-12 btn_mobile full pnone">

            <div class="col-xs-6 btn_mobile pnone">
                <a class="bg-clr" data-bind="click: $parent.app_actions.hide_premium_breakup">Back to results</a>
            </div>
            <div class="col-xs-6 btn_mobile pnone" data-bind="visible: $parent.buy_initiated()">
                <a data-bind="click: $parent.app_actions.go_to_transaction">Make Payment</a>
            </div>

            <div class="col-xs-6 btn_mobile pnone" data-bind="visible: !$parent.buy_initiated()">
                <a data-bind="click: $parent.app_actions.prepare_buy, clickBubble:false" class="btn-buy">Buy this plan</a>
            </div>



        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="popup-container full-page grey" data-bind="css: {reveal: ui_switches.final_confirm_popup()}">
    <div class="card bg-color-blue col-xs-12">
        <h1 class="white-color choose-add">Confirm Info</h1>
    </div>
    <section data-bind="visible:policyRefresh() == null">
        <div class="col-xs-12">
            <h3>Previous policy expiry date</h3>
        </div>
        <div class="card col-xs-12">
            <div class="choose-add-container col-xs-12 pnone">
                <select data-bind="options: days,
                    value: quote.expiry_date,
                optionsCaption: 'Year...',}"></select>
                <select data-bind="options: months,
                    value: quote.expiry_month,
                optionsCaption: 'Year...',}"></select>
                <select data-bind="options: expiryYears,
                    value: quote.expiry_year,
                optionsCaption: 'Year...',}"></select>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-xs-12">
            <h3>Manufacturing date</h3>
        </div>
        <div class="card col-xs-12">
            <div class="choose-add-container col-xs-12 pnone">
                <select data-bind="options: months,
                    value: quote.man_month,
                optionsCaption: 'Month...',}"></select>
                <select data-bind="options: years,
                    value: quote.man_year,
                optionsCaption: 'Year...',}"></select>
            </div>
        </div>

    </section>

    <section data-bind="visible:policyRefresh() == 'start'">
        <div class="col-xs-12">
            <h3>Refreshing Premium .....</h3>
        </div>
    </section>

    <section data-bind="visible:policyRefresh() == 'done'">
        <div class="col-xs-12" data-bind="if: selectedPlan()">
            <h3 data-bind="inr_currency: selectedPlan().calculatedTotalPremium"></h3>

            <div class="col-xs-6 btn_mobile pnone">
                <a data-bind="click: app_actions.confirm_buy">Continue buying</a>
            </div>

        </div>
    </section>

    <div class="card pos-fixed padd-global">
        <div class="col-xs-6 btn_mobile pnone">
            <a class="bg-clr" data-bind="click: app_actions.cancel_confirm">Cancel</a>
        </div>
        <div class="col-xs-6 btn_mobile pnone" data-bind="visible:policyRefresh() == null">
            <a data-bind="click: app_actions.final_confirm">Confirm and buy</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</section>



<section id="generic-loading-popup" >
    <div class="generic-loading-popup-wrapper" data-bind="visible: policyRefresh() == 'start'">
        <div class="container">
            <div class="row">
                <div class="g-loading-wrapper">
                    <img src="/static/motor_product/mobile/assets/img/loading.gif" alt="" width=40><br>
                    <p style="margin-top:10px; margin-bottom:10px;">Refreshing Premium</p>

                </div>
            </div>
        </div>
    </div>
</section>



