<!DOCTYPE html>
{% load compress %}
<html lang="en">
<head>
<title>CF Support</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}global/css/bootstrap-3.3.6.min.css">
    <!-- theme -->
    <link href="{{ STATIC_URL }}account_manager/css/cfsupport.css" rel="stylesheet" >
    <!--jQuery -->
    <script src="{{ STATIC_URL }}account_manager/js/jquery-1.11.3.min.js"></script>

    <style type="text/css">
    .step-numbers {
        border-radius:50px;
        padding:5px;
        width:30px;
        height:30px;
        text-align:center;
    }
    .bg-red {
        background-color: #f56954;
        color: white;
    }
    a:hover {
        text-decoration: none;
    }
    .container-fluid .jumbotron {
        padding:15px;
        padding-left: 32px;
    }
    .jumbotron p{
        font-size: 17px;
    }
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 5px;
        font-size: 13px;
    }
    defaulttext:after {
        content: 'NA';
        font-style: italic;
        font-size: 10px;
    }
    .highlight {
        padding: 9px 14px;
        margin-bottom: 14px;
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
        border-radius: 4px;
        font-size: 13px;
    }
    </style>

    {% block header_css %} {% endblock %}
    {% compress js %} {% block header_js %} {% endblock %} {% endcompress %}
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'account_manager:cfsupport_dashboard' %}">CF Support</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      <li><a href="/user/profile/">My Profile</a></li>
        <li><a href="/accounts/logout/">Logout</a></li>
      </ul>
      <!-- <form action="{% url 'account_manager:search_transaction' %}" method="GET" class="navbar-form navbar-right">
        <input type="text" name="q" class="form-control" placeholder="Search transaction...">
      </form> -->
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">

    {% include 'account_manager/cfsupport/sidebar.html' %}

    {% block content %}{% endblock %}

  </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="{{ STATIC_URL }}js/bootstrap-3.3.6.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    /* Sidebar selection */
    var sel = $('.nav-sidebar').find("li[data-selected='{{ selected }}']");
    sel.children('ul').addClass('in');
    sel.addClass('active').siblings().removeClass('active');
});
    var CSRF_TOKEN = '{{ csrf_token }}';
</script>
{% block uncompressed_js %}{% endblock %}
{% compress js %} {% block footer_js %} {% endblock %} {% endcompress %}
{% block uncompressed_footer_js %} {% endblock %}
{% block footer_css %} {% endblock %}
</body>

</html>
