{% extends 'account_manager/cfsupport/base.html' %}

{% block header_css %}
<link href="{{ STATIC_URL }}account_manager/css/jquery-ui.css" rel="stylesheet" >

<style type="text/css">
    .sub-heading {
        font-size:17px;
        font-style:italic;
    }
    .table-hover {
        border: 2px solid #ddd;
    }
    .table-hover tr:first-child {
        background-color: #ededed;
    }
    .table-hover th:first-child {
        background-color: #ededed;
    }
</style>
{% endblock %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h2 class="page-header">Dashboard</h2>

    <div class="row">
        <div class="col-sm-offset-2 col-md-offset-4">
            <form action="" method="GET" class="form-inline">
                <input type="text" name="from_date" class="datepicker form-control input-sm from-date" placeholder="From date" required />
                <input type="text" name="to_date" class="datepicker form-control input-sm to-date" placeholder="To date" required />
                <button type="submit" class="btn btn-primary btn-sm">Go</button>
                <a href="">
                    <button type="button" class="btn btn-primary btn-sm" title="Refresh filter">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </a>
                <a href="{% url 'account_manager:cfsupport_dashboard' %}">
                    <button type="button" class="btn btn-primary btn-sm" title="Reset filter">
                        <span class="glyphicon glyphicon-repeat"></span>
                    </button>
                </a>
            </form>

        </div>
    </div>

    <h3 class="sub-heading">Status report:</h3>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-hover">
                <tr>
                    <td></td>
                    <th>Car</th>
                    <th>Bike</th>
                    <th>Health</th>
                    <th>Travel</th>
                </tr>
                <tr>
                    <th>Payment successful <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Payment - done | Policy document - not uploaded"></span></th>
                    {% for count in report_count.successful.itervalues %}
                        <td>{{ count }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Completed <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Payment - done | Policy document - uploaded"></span></th>
                    {% for count in report_count.completed.itervalues %}
                        <td>{{ count }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Cancelled <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Transaction status - cancelled"></span></th>
                    {% for count in report_count.cancelled.itervalues %}
                        <td>{{ count }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Pending <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Transaction status - pending"></span></th>
                    {% for count in report_count.pending.itervalues %}
                        <td>{{ count }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            <table class="table table-bordered table-hover">
                <tr>
                    <td></td>
                    <th>Car</th>
                    <th>Bike</th>
                    <th>Health</th>
                    <th>Travel</th>
                </tr>
                <tr>
                    <th>Endorsements</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Cancellation</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Claims</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

    <h3 class="sub-heading">Insurer-wise Payment successful Policies ({{ total_count }}):</h3>

    {% include 'account_manager/cfsupport/paginator.html' %}

    <table class="table table-bordered table-hover">
        <tr>
            <th>Product</th>
            <th>Insurer</th>
            <th>Customer Name</th>
            <th>Mobile</th>
            <th>Transaction ID</th>
            <th>Pending since</th>
        </tr>
        {% if total_count > 0 %}
            {% for transaction in payment_success_transactions %}
                <tr>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.insurer_title }}</td>
                    <td>{{ transaction.first_name }}</td>
                    <td>{{ transaction.mobile }}</td>
                    <td><a href="{% url 'account_manager:edit_transaction' %}?transaction_id={{ transaction.transaction_id }}&transaction_type={{ transaction.type }}">{{ transaction.transaction_id }}</a></td>
                    <td>{{ transaction.transaction_created }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
              <td colspan="20" align="center" style="padding:30px; "><em>No results found.</em></td>
            </tr>
        {% endif %}
    </table>

</div>
{% endblock %}

{% block footer_js %}
<script src="{{ STATIC_URL }}account_manager/js/jquery-ui.js"></script>
<script>
  $(function() {
    $( ".datepicker" ).datepicker();
    $( ".datepicker" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
    $('[data-toggle="tooltip"]').tooltip();

    {% if from_date and to_date %}
    $( ".from-date" ).datepicker('setDate', "{{ from_date|date:'Y-m-d' }}");
    $( ".to-date" ).datepicker('setDate', "{{ to_date|date:'Y-m-d' }}");
    {% endif %}
  });
  </script>
{% endblock %}
