{% extends 'account_manager/cfsupport/base.html' %}

{% block header_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}account_manager/plugins/datetimepicker/jquery.datetimepicker.css" />
{% endblock %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<h3 class="page-header">Transaction > edit</h3>

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success" role="alert">{{ message|escape|safe }}</div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger" role="alert">{{ message|escape|safe }}</div>
        {% endif %}
    {% endfor %}
{% endif %}


<div class="row highlight">

    <div class="col-md-5" style="border-right: 1px solid #d2d2d2">
        <h4>Update Transaction details</h4><hr>
        <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" name="transaction_id" value="{{ transaction_detail.transaction_id }}" />
            <input type="hidden" name="transaction_type" value="{{ transaction_type }}" />

            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    <label>{{ field.label_tag }}<sup style="color:red">*</sup></label>
                    {% if field.help_text %}
                    <small class="pull-right">{{ field.help_text|safe }}</small>
                    {% endif %}
                    {{ field }}
                    <span style="color:red">{{ field.errors }}</span>
                </div>
            {% endfor %}
            <br/>
            <center><button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure?')">Update</button></center>
        </form>
    </div>

    <div class="col-md-7">
        <h4>Quick Transaction view&nbsp;
            {% if transaction_detail.is_added_to_my_account %}
                <span class="label label-success" title="This transaction is added to My Account">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </span>
            {% else %}
                <span class="label label-danger" title="This transaction is not added to My Account yet">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </span>
            {% endif %}
            <button class="btn btn-sm btn-info pull-right" id="for-more-info">for more info</button>


        </h4><hr>

        <table class="table">
          <tr>
            <th width="40%" style="border-top:0px">Transaction type</th>
            <td style="border-top:0px">{{ transaction_type|default:"<small>NA</small>" }}</td>
          </tr>

          <tr>
            <th width="40%">Transaction ID</th>
            <td>{{ transaction_detail.transaction_id|default:"<small>NA</small>" }}</td>
          </tr>

          <tr>
            <th width="40%">Transaction created on</th>
            <td>{{ transaction_detail.transaction_created|default:"<small>NA</small>" }}</td>
          </tr>

          <tr>
            <th width="40%">Payment on</th>
            <td>{{ transaction_detail.payment_on|default:"<small>NA</small>" }}</td>
          </tr>

          <tr>
            <th width="40%">Insurer</th>
            <td>{{ transaction_detail.insurer_title|default:"<small>NA</small>" }}</td>
          </tr>

          <tr>
            <th width="40%">Status</th>
            <td>{{ transaction_detail.policy_status|default:"<small>NA</small>" }}</td>
          </tr>

          <tr>
            <th width="40%">Policy document</th>
            {% if transaction_detail.policy_document %}
                <td><a class="view-pdf" href="{{ transaction_detail.policy_document }}">View</a></td>
            {% else %}
                <td>{{ transaction_detail.policy_document|default:"<small>NA</small>" }}</td>
            {% endif %}
          </tr>

          <tr>
            <th width="40%">Policy number</th>
            <td>{{ transaction_detail.policy_number|default:"<small>NA</small>" }}</td>
          </tr>

            {% if transaction_type == 'car' or transaction_type == 'bike' %}
                <!-- RSA Data -->
                <tr>
                <th width="40%">RSA document</th>
                {% if transaction_detail.rsa_policy %}
                    <td><a class="view-pdf" href="{{ transaction_detail.rsa_policy }}">View</a></td>
                {% else %}
                    <td>{{ transaction_detail.rsa_policy|default:"<small>NA</small>" }}</td>
                {% endif %}
                </tr>

                <tr>
                <th width="40%">RSA number</th>
                <td>{{ transaction_detail.rsa_policy_number|default:"<small>NA</small>" }}</td>
                </tr>
            {% endif %}

          <tr>
            <th width="40%">Premium Paid</th>
            <td>{{ transaction_detail.premium_paid|default:"<small>NA</small>" }}</td>
          </tr>

          <tr>
            <th width="40%">Start date</th>
            <td>{{ transaction_detail.policy_start_date|default:"<small>NA</small>" }}</td>
          </tr>

          <tr>
            <th width="40%">End date</th>
            <td>{{ transaction_detail.policy_end_date|default:"<small>NA</small>" }}</td>
          </tr>
        </table>

    </div>

</div><!-- !row -->

<br/>

<div class="row highlight" id="for-more-info-box">
    <div class="col-md-6" style="border-right: 1px solid #d2d2d2">
        <h4>Transaction details:</h4><hr/>
        {% include 'account_manager/cfsupport/transaction-more-info.html' %}
    </div>

    <div class="col-md-6">
        <h4>User details:</h4><hr/>
        {% include 'account_manager/cfsupport/user-detail.html' %}
    </div>
</div>
</div>
{% endblock %}

{% block footer_js %}
<script src="{{ STATIC_URL }}account_manager/plugins/datetimepicker/jquery.datetimepicker.full.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('.cut-copy-paste-disabled').bind("cut copy paste",function(e) {
      e.preventDefault();
      alert("You can't cut-copy-paste here");
  });
});

$("#for-more-info").click(function() {
    $('html, body').animate({
        scrollTop: $("#for-more-info-box").offset().top
    }, 700);
});

$('#datetimepicker_mask').datetimepicker({
    mask:'9999/19/39 29:59'
});
</script>

{% include 'account_manager/cfsupport/bootstrap-pdf-view-plugin.html' %}
{% endblock %}
