{% extends 'account_manager/cfsupport/base.html' %}

{% block header_css %}
{% endblock %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3 class="page-header">Login as</h3>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success" role="alert">{{ message|escape|safe }}</div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">{{ message|escape|safe }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <form action="" method="POST" target="_blank">
        {% csrf_token %}

        <div class="form-group">
            <input type="email" name="__impersonate" class="form-control" placeholder="Email" style="width:30%">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'account_manager:staff_logout' %}?__unimpersonate=True"><button type="button" class="btn btn-primary">Logout as user</button></a>
    </form>


</div>
{% endblock %}

{% block footer_js %}
{% endblock %}
