{% extends 'account_manager/cfsupport/base.html' %}

{% block header_css %}
<style type="text/css">
    .alert-success {
        margin:15px 0px 35px 0px;
        font-size:15px;
    }
    .btn-default {
        background-color: #ececec;
    }
    .logo-big {
        width:250px;
        margin-bottom: 30px;
    }
    .logo-small {
        width:110px;
        margin-top:5px;
        margin-right:15px;
    }
</style>
{% endblock %}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3 class="page-header">Search transaction</h3>

    {% if q %}

        <div class="alert alert-success" role="alert" style="background-color: #f1f1f1;">
            <img src="{{ STATIC_URL }}global/img/logos/cf-dark-orange-h71.png" class="logo-small pull-left" alt="Coverfox.com" />

            <form class="form-inline" action="{% url 'account_manager:search_transaction' %}" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" name="q" value="{{ q }}" style="width:500px" pattern=".{3,}" title="3 characters minimum." required />
                </div>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </form>
        </div>

        {% include 'account_manager/cfsupport/transaction-rows.html' %}

    {% else %}
    <form action="{% url 'account_manager:search_transaction' %}" method="GET" style="margin-top:90px">
        <div class="form-group">
            <center><img src="{{ STATIC_URL }}global/img/logos/cf-dark-orange-h71.png" class="logo-big" alt="Coverfox.com"></center>
        </div>
        <div class="form-group">
            <center><input type="text" name="q" id="search-bar" class="form-control" placeholder="Name, Email, Mobile, Policy no, RSA Policy no, Transaction ID" style="width:50%" pattern=".{3,}" title="3 characters minimum" required></center>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-default">cfoogle it !</button>
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}

{% block footer_js %}
<script type="text/javascript">
$(function(){
    $("#search-bar").focus();
})
</script>
{% endblock %}
