<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    {% if perms.account_manager.add_usertransaction or perms.account_manager.change_usertransaction %}
    <li data-selected='dashboard'><a href="{% url 'account_manager:cfsupport_dashboard' %}">Dashboard</a></li>
    <li data-selected='search-transaction'><a href="{% url 'account_manager:search_transaction' %}">Search transaction</a></li>
    <li data-selected='transactions'>
        <a class="accordion-heading" data-toggle="collapse" data-target="#submenu" style="cursor: pointer">
          <span class="nav-header-primary">All transactions <b class="caret"></b></span>
        </a>
        <ul class="nav nav-list collapse" id="submenu">
          <li><a href="{% url 'account_manager:transactions' 'car' %}" title="Car" style="padding-left:30px">Car</a></li>
          <li><a href="{% url 'account_manager:transactions' 'bike' %}" title="Bike" style="padding-left:30px">Bike</a></li>
          <li><a href="{% url 'account_manager:transactions' 'health' %}" title="Health" style="padding-left:30px">Health</a></li>
        <li><a href="{% url 'account_manager:transactions' 'travel' %}" title="Travel" style="padding-left:30px">Travel</a></li>
        </ul>
    </li>
    {% endif %}
    {% if perms.account_manager.add_offline_transaction %}
    <li data-selected='offline_transactions'>
        <a class="accordion-heading" data-toggle="collapse" data-target="#offline_submenu" style="cursor: pointer">
          <span class="nav-header-primary">Create offline transaction <b class="caret"></b></span>
        </a>
        <ul class="nav nav-list collapse" id="offline_submenu">
          <li><a href="{% url 'account_manager:offline_transaction' 'car' %}" title="Car" style="padding-left:30px">Car</a></li>
          <li><a href="{% url 'account_manager:offline_transaction' 'bike' %}" title="Bike" style="padding-left:30px">Bike</a></li>
          <li><a href="{% url 'account_manager:offline_transaction' 'health' %}" title="Health" style="padding-left:30px">Health</a></li>
        </ul>
    </li>
    {% endif %}
    {% if perms.account_manager.add_usertransaction or perms.account_manager.change_usertransaction %}
    <li data-selected='user-accounts'><a href="{% url 'account_manager:user_accounts' %}">User accounts</a></li>
    <li data-selected='transactions-vs-useraccounts'><a href="{% url 'account_manager:transactions_vs_useraccounts' %}">Transactions vs UserAccounts (Report)</a></li>
    <li data-selected='login-as'><a href="{% url 'account_manager:login_as' %}">Login as</a></li>
    {% endif %}
    {% if perms.core.add_endorsementdetail or perms.core.change_endorsementdetail or perms.core.view_endorsementdetail %}
    <li data-selected='endorsements'>
        <a class="accordion-heading" data-toggle="collapse" data-target="#endorsements_submenu" style="cursor: pointer">
          <span class="nav-header-primary">Endorsements<b class="caret"></b></span>
        </a>
        <ul class="nav nav-list collapse" id="endorsements_submenu">
          <li><a href="{% url 'account_manager:endorsements' %}" title="Dashboard" style="padding-left:30px">Dashboard</a></li>
          <li><a href="{% url 'account_manager:endorsement_add' %}" title="New" style="padding-left:30px">New</a></li>
        </ul>
    </li>
    {% endif %}
  </ul>
</div>
