<div class="row" style="font-size: 12px">
    <div class="col-md-5 pull-left">

        {% include 'account_manager/cfsupport/paginator.html' %}

    </div>

    <div class="col-md-4 pull-left">
        <a href="">
            <button type="button" class="btn btn-default btn-sm top-button"><span
                    class="glyphicon glyphicon-refresh"></span> Refresh
            </button>
        </a>
        <a href="{{ url }}">
            <button type="button" class="btn btn-default btn-sm top-button"><span
                    class="glyphicon glyphicon-repeat"></span> Reset
            </button>
        </a>
        <a href="{{ url }}?{{ request.GET.urlencode }}&export=true">
            <button type="button" class="btn btn-default btn-sm top-button"><span
                    class="glyphicon glyphicon-download-alt"></span> Export
            </button>
        </a>
    </div>

    <div class="col-md-3">
        <div class="top-button pull-left">
            <form action="" method="GET" class="form-inline">
                <input type="text" name="from_date" class="datepicker form-control input-sm from-date"
                       placeholder="From date" style="width:38%" required/>
                <input type="text" name="to_date" class="datepicker form-control input-sm to-date" placeholder="To date"
                       style="width:38%" required/>
                <button type="submit" class="btn btn-primary btn-sm">Go</button>
            </form>
        </div>
    </div>
</div>