<div class="row">
    <div class="col-md-4">CFOX ID</div>
    <div class="col-md-8">{{ transaction_detail.id|default:"<defaulttext></defaulttext>" }}</div>
</div>

<div class="row">
    <div class="col-md-4">Transaction ID</div>
    <div class="col-md-8">{{ transaction_detail.transaction_id|default:"<defaulttext></defaulttext>" }}</div>
</div>

<div class="row">
    <div class="col-md-4">Transaction mode</div>
    <div class="col-md-8">{{ transaction_detail.transaction_mode|default:"<defaulttext></defaulttext>" }}</div>
</div>

<div class="row">
    <div class="col-md-4">Transaction updated on</div>
    <div class="col-md-8">{{ transaction_detail.transaction_updated|default:"<defaulttext></defaulttext>" }}</div>
</div>

<div class="row">
    <div class="col-md-4">Proposer email</div>
    <div class="col-md-8">{{ transaction_detail.email|default:"<defaulttext></defaulttext>" }}</div>
</div>

<div class="row">
    <div class="col-md-4">Proposer first name</div>
    <div class="col-md-8">{{ transaction_detail.first_name|default:"<defaulttext></defaulttext>" }}</div>
</div>

<div class="row">
    <div class="col-md-4">Proposer last name</div>
    <div class="col-md-8">{{ transaction_detail.last_name|default:"<defaulttext></defaulttext>" }}</div>
</div>

<div class="row">
    <div class="col-md-4">Proposer mobile</div>
    <div class="col-md-8">{{ transaction_detail.mobile|default:"<defaulttext></defaulttext>" }}</div>
</div>

<div class="row">
    <div class="col-md-4">Proposer address</div>
    <div class="col-md-8">{{ transaction_detail.full_address|default:"<defaulttext></defaulttext>" }}</div>
</div>

<div class="row">
    <div class="col-md-4">Policy type</div>
    <div class="col-md-8">{{ transaction_detail.policy_type|default:"<defaulttext></defaulttext>" }}</div>
</div>

<div class="row">
    <div class="col-md-4">Policy name</div>
    <div class="col-md-8">{{ transaction_detail.policy_name|default:"<defaulttext></defaulttext>" }}</div>
</div>

<div class="row">
    <div class="col-md-4">Policy start date</div>
    <div class="col-md-8">{{ transaction_detail.policy_start_date|default:"<defaulttext></defaulttext>" }}</div>
</div>

<div class="row">
    <div class="col-md-4">Policy end date</div>
    <div class="col-md-8">{{ transaction_detail.policy_end_date|default:"<defaulttext></defaulttext>" }}</div>
</div>

<div class="row">
    <div class="col-md-4">Policy covers</div>
    <div class="col-md-8">{{ transaction_detail.policy_covers|default:"<defaulttext></defaulttext>" }}</div>
</div>

<div class="row">
    <div class="col-md-4">Premium paid</div>
    <div class="col-md-8">{{ transaction_detail.premium_paid|default:"<defaulttext></defaulttext>" }}</div>
</div>

<div class="row">
    <div class="col-md-4">Payment done</div>
    <div class="col-md-8">{{ transaction_detail.payment_done|default:"<defaulttext></defaulttext>" }}</div>
</div>

<div class="row">
    <div class="col-md-4">Is policy expired</div>
    <div class="col-md-8">{{ transaction_detail.is_policy_expired }}</div>
</div>

<div class="row">
    <div class="col-md-4">Proposal link</div>
    <div class="col-md-8">
        {% if transaction_detail.proposal_link %}
            <a href="{{ transaction_detail.proposal_link }}" target="_blank">goto proposal link</a>
        {% else %}
            <defaulttext></defaulttext>
        {% endif %}
    </div>
</div>


<!-- Additional fields for Car and Bike -->
{% if transaction_type == 'car' or transaction_type == 'bike' %}
<div class="row">
    <div class="col-md-4">Payment mode</div>
    <div class="col-md-8">{{ transaction_detail.payment_mode|default:"<defaulttext></defaulttext>" }}</div>
</div>
<div class="row">
    <div class="col-md-4">Past policy number</div>
    <div class="col-md-8">{{ transaction_detail.past_policy_number|default:"<defaulttext></defaulttext>" }}</div>
</div>
<div class="row">
    <div class="col-md-4">Past policy expiry date</div>
    <div class="col-md-8">{{ transaction_detail.past_policy_expiry_date|default:"<defaulttext></defaulttext>" }}</div>
</div>
<div class="row">
    <div class="col-md-4">Vehicle model</div>
    <div class="col-md-8">{{ transaction_detail.vehicle_model|default:"<defaulttext></defaulttext>" }}</div>
</div>
<div class="row">
    <div class="col-md-4">Vehicle make</div>
    <div class="col-md-8">{{ transaction_detail.vehicle_make|default:"<defaulttext></defaulttext>" }}</div>
</div>
<div class="row">
    <div class="col-md-4">Vehicle variant</div>
    <div class="col-md-8">{{ transaction_detail.vehicle_variant|default:"<defaulttext></defaulttext>" }}</div>
</div>
<div class="row">
    <div class="col-md-4">Vehicle registration no</div>
    <div class="col-md-8">{{ transaction_detail.vehicle_registration_number|default:"<defaulttext></defaulttext>" }}</div>
</div>
<div class="row">
    <div class="col-md-4">Vehicle registration date</div>
    <div class="col-md-8">{{ transaction_detail.vehicle_registration_date|default:"<defaulttext></defaulttext>" }}</div>
</div>
<div class="row">
    <div class="col-md-4">Vehicle manufacturing date</div>
    <div class="col-md-8">{{ transaction_detail.vehicle_manufacturing_date|default:"<defaulttext></defaulttext>" }}</div>
</div>
<div class="row">
    <div class="col-md-4">OD Premium</div>
    <div class="col-md-8">{{ transaction_detail.od_premium|default:"<defaulttext></defaulttext>" }}</div>
</div>
<div class="row">
    <div class="col-md-4">NCB</div>
    <div class="col-md-8">{{ transaction_detail.ncb|default:"<defaulttext></defaulttext>" }}</div>
</div>
{% endif %}