{% extends 'account_manager/cfsupport/base.html' %}

{% block header_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}account_manager/css/jquery-ui.css">
{% endblock %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h3 class="page-header">Transactions > {{ transaction_type|title }}</h3>

        <style type="text/css">
            .top-button {
                margin: 20px 0px 15px 0px;
            }
        </style>

        {% url 'account_manager:transactions' transaction_type as url %}
        {% include 'account_manager/cfsupport/top-nav.html' with url=url %}

        {% include 'account_manager/cfsupport/transaction-rows.html' %}

    </div>
{% endblock %}

{% block footer_js %}
    <script src="{{ STATIC_URL }}account_manager/js/jquery-ui.js"></script>
{% endblock %}
{% block uncompressed_footer_js %}
    <script>
        $(function () {
            $(".datepicker").datepicker();
            $(".datepicker").datepicker("option", "dateFormat", "yy-mm-dd");
            {% if from_date and to_date %}
                $(".from-date").datepicker('setDate', "{{ from_date|date:'Y-m-d' }}");
                $(".to-date").datepicker('setDate', "{{ to_date|date:'Y-m-d' }}");
            {% endif %}
        });
    </script>
{% endblock %}
