<style type="text/css">
    table.fixed { table-layout:fixed; }
    table.fixed td { overflow: hidden; }
    table.fixed td { word-wrap: break-word; }
</style>

{% for transaction_type, transactions in all_transactions.items %}

<div style="margin-bottom: 40px"><!-- ; overflow-x:scroll; -->
    <table class="table table-striped table-bordered fixed" style="font-size:14px">

        <tr>
            <td class="bg-primary" colspan="20">
                <span style="font-size:17px; padding: 8px">{{ transaction_type|title }} ({{ transactions|length }})</span>
            </td>
        </tr>

        <col width="5%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />
        <col width="10%" />

        <tr>
            <th>More<br/>info</th>
            <th>Transaction ID</th>
            <th>Insurer</th>
            <th>Transaction<br/>created on</th>
            <th>Payment<br>received on</th>
            <th>Status</th>
            <th>Policy</th>
            <th>Account created?</th>
            <th>Account activated?</th>
            <th>In My Account?</th>
            <th>Account<br>created on</th>
            <th>Customer name</th>
            <th>Customer email</th>
            <th>Customer mobile</th>
            <th>RM Name</th>
        </tr>

        {% if transactions|length > 0 %}
            {% for transaction_detail in transactions %}
                <tr>
                    <td>
                        <button class="btn btn-primary btn-sm glyphicon glyphicon-resize-full" title="More info" data-toggle="modal" data-target="#{{ transaction_detail.transaction_id }}" style="padding: 2px 5px; font-size: 10px"></button>
                    </td>
                    <td>
                        {% if transaction_detail.transaction_id %}
                        <a href="{% url 'account_manager:edit_transaction' %}?transaction_id={{ transaction_detail.transaction_id }}&transaction_type={{ transaction_type }}">{{ transaction_detail.transaction_id }}</a>
                        {% else %}
                        <defaulttext></defaulttext>
                        {% endif %}
                    </td>
                    <td>{{ transaction_detail.insurer_title|default:"<defaulttext></defaulttext>" }}</td>
                    <td>{{ transaction_detail.transaction_created|default:"<defaulttext></defaulttext>" }}</td>
                    <td>{{ transaction_detail.payment_on|default:"<defaulttext></defaulttext>" }}</td>
                    <td>{{ transaction_detail.policy_status|default:"<defaulttext></defaulttext>" }}</td>

                    <td>
                        <!-- Policy document -->
                        <small><b>Pol Doc</b></small>:
                        {% if transaction_detail.policy_document %}
                        <a class="view-pdf" href="{{ transaction_detail.policy_document }}">View</a>
                        {% else %}
                        <defaulttext></defaulttext>
                        {% endif %}
                        <br> <small><b>Pol No</b></small>: {{ transaction_detail.policy_number|default:"<defaulttext></defaulttext>" }}

                        <!-- RSA -->
                        {% if transaction_type == 'car' or transaction_type == 'bike' %}
                        <hr>
                        <small><b>RSA Doc</b></small>:
                        {% if transaction_detail.rsa_policy %}
                        <a class="view-pdf" href="{{ transaction_detail.rsa_policy }}">View</a>
                        {% else %}
                        <defaulttext></defaulttext>
                        {% endif %}
                        <br> <small><b>RSA No</b></small>: {{ transaction_detail.rsa_policy_number|default:"<defaulttext></defaulttext>" }}
                        {% endif %}
                    </td>

                    <!-- user-account created -->
                    <td>
                    {% if transaction_detail.is_my_account_created %}
                    <span class="label label-success">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </span>
                    {% else %}
                    <span class="label label-danger">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </span>
                    {% endif %}
                    </td>

                    <!-- user is active -->
                    <td>
                    {% if transaction_detail.is_my_account_activated %}
                    <span class="label label-success">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </span>
                    {% else %}
                    <span class="label label-danger">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </span>
                    {% endif %}
                    </td>

                    <!-- user-transaction added -->
                    <td>
                    {% if transaction_detail.is_added_to_my_account %}
                    <span class="label label-success">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </span>
                    {% else %}
                    <span class="label label-danger">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </span>
                    {% endif %}
                    </td>

                    <td>{{ transaction_detail.my_account_created_on|default:"<defaulttext></defaulttext>" }}</td>
                    <td>{{ transaction_detail.customer_full_name|default:"<defaulttext></defaulttext>" }}</td>
                    <td>{{ transaction_detail.customer_email|default:"<defaulttext></defaulttext>" }}</td>
                    <td>{{ transaction_detail.customer_mobile|default:"<defaulttext></defaulttext>" }}</td>
                    <td>{{ transaction_detail.rm_name|default:"<defaulttext></defaulttext>" }}</td>

                <!-- Modal -->
                <div class="modal fade" id="{{ transaction_detail.transaction_id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">More info</h4>
                      </div>

                      <div class="modal-body">

                        {% include 'account_manager/cfsupport/transaction-more-info.html' %}

                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>

                      </div>
                    </div>
                  </div>
                  <!-- /.modal -->
                </tr>

            {% endfor %}
        {% else %}
            <tr>
              <td colspan="20" align="center" style="padding:30px; "><em>No results found.</em></td>
            </tr>
        {% endif %}
    </table>
</div>

{% endfor %}

{% block footer_js %}
{% include 'account_manager/cfsupport/bootstrap-pdf-view-plugin.html' %}
{% endblock %}
