<!-- User account -->
<h5><u><b>User Account</b></u>&nbsp;&nbsp;
{% if user_account %}
<span class="label label-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
{% else %}
<span class="label label-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
{% endif %}
</h5>
{% if user_account %}
    <div class="row">
        <div class="col-md-4">Customer name</div>
        <div class="col-md-8">{{ user_detail.full_name|default:"<defaulttext></defaulttext>" }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">Customer email</div>
        <div class="col-md-8">{{ user_detail.email|default:"<defaulttext></defaulttext>" }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">Customer mobile</div>
        <div class="col-md-8">{{ user_detail.mobile|default:"<defaulttext></defaulttext>" }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">Customer address</div>
        <div class="col-md-8">{{ user_detail.full_address|default:"<defaulttext></defaulttext>" }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">Account activated?</div>
        <div class="col-md-8">
        {% if user_detail.is_account_activated %}
            <span class="label label-success">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </span>
        {% else %}
            <span class="label label-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </span>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">Is active?</div>
        <div class="col-md-8">{{ user_detail.is_active }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">User account created</div>
        <div class="col-md-8">{{ user_detail.useraccount_created_on|default:"<defaulttext></defaulttext>" }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">Last login</div>
        <div class="col-md-8">{{ user_detail.last_login|default:"<defaulttext></defaulttext>" }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">First payment date</div>
        <div class="col-md-8">{{ user_detail.first_payment_date|default:"<defaulttext></defaulttext>" }}</div>
    </div>
{% endif %}

<br>

<!-- RM -->
<h5><u><b>Relationship Manager</b></u>&nbsp;&nbsp;
{% if user_detail.rm_email %}
<span class="label label-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
{% else %}
<span class="label label-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
{% endif %}
</h5>
{% if user_detail.rm_email %}
    <div class="row">
        <div class="col-md-4">RM name</div>
        <div class="col-md-8">{{ user_detail.rm_name|default:"<defaulttext></defaulttext>" }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">RM email</div>
        <div class="col-md-8">{{ user_detail.rm_email|default:"<defaulttext></defaulttext>" }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">RM mobile</div>
        <div class="col-md-8">{{ user_detail.rm_mobile|default:"<defaulttext></defaulttext>" }}</div>
    </div>
{% endif %}

<br>

<!-- User Transaction -->
<h5><u><b>User Transactions</b></u></h5>
{% include 'account_manager/cfsupport/user-policies.html' %}