{% extends 'account_manager/cfsupport/base.html' %}


{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3 class="page-header">User detail</h3>

    <div class="row">
	    <div class="col-md-8 highlight">
	        {% include 'account_manager/cfsupport/user-detail.html' %}
	    </div>
    </div>

</div>
{% endblock %}