{% with expired=user_transactions.expired %}
{% with unexpired=user_transactions.unexpired %}

    <!-- Active -->
    <h6>(A) Active:&nbsp;&nbsp;
    {% if unexpired %}
    <span class="label label-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
    {% else %}
    <span class="label label-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
    {% endif %}
    </h6>
    {% if unexpired %}
        {% for transaction_type, transactions in unexpired.items %}
            {% for transaction in transactions %}
                    {{ transaction_type }}: <a href="{% url 'account_manager:edit_transaction' %}?transaction_id={{ transaction.transaction_id }}&transaction_type={{ transaction_type }}">{{ transaction.transaction_id }}</a><br>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <br>

    <!-- Expired -->
    <h6>(B) Expired:&nbsp;&nbsp;
    {% if expired %}
    <span class="label label-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></span>
    {% else %}
    <span class="label label-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></span>
    {% endif %}
    </h6>
    {% if expired %}
        {% for transaction_type, transactions in expired.items %}
            {% for transaction in transactions %}
                {{ transaction_type }}: <a href="{% url 'account_manager:edit_transaction' %}?transaction_id={{ transaction.transaction_id }}&transaction_type={{ transaction_type }}">{{ transaction.transaction_id }}</a><br>
            {% endfor %}
        {% endfor %}
    {% endif %}

{% endwith %}
{% endwith %}