.bg_container{
	background: #100201 url(../img/bg.jpg) no-repeat center center;
  	width: 100%;
  	height: 570px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	display: table;
	position: relative;
	.travel_txt{
		text-align: center;
		width: 100%;
		h1{
		font-size: 42px;
		margin: 65px 0 15px 0;
		display: block;
		color:#fff;
		}
		h2{
		font-size: 32px;
		margin: 0 0 20px 0;
		display: block;
		color:#fff;
		font-weight: 300;
		}
		img{
			margin: 30px 0 0 0;
		}
		button{
		background-color: #ff6127;
		border: 1px solid #ff512b;
		padding: 6px 45px;
		font-size: 22px;
		font-weight: 400;
		color:#fff;
		text-decoration: none;
		display: inline-block;
		max-width: 100%;
		}
	}
}
.terms-msg{
	font-size:10px;
	color:#fff;
	margin:5px 0;
}
.companies-wrapper{
	h2{
		font-size: 25px;
		margin: 10px 0;
	}
	span{
		color:#FF6127;
	}
}
.buy_travel_container{
	padding: 0 30px 30px 30px;
	h1{
		margin: 0 0 30px;
		font-weight: 300;
	}
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			margin: 10px 0;
			font-size: 18px;
			font-weight: 300;
			position: relative;
			padding: 20px 0 20px 100px;
			height: 80px;
			img{
				max-width: 76px;
				position: absolute;
				left:0;
				top:0;
			}
		}
	}
}
.why_need_container{
	background-color: #f0eff5;
	padding: 30px;
	p{
		font-size: 16px;
		margin: 0 0 20px;
	}
}
.travel_insurance_risk{
	background: #fff;
	padding: 30px;
	text-align: center;
	h3{
		margin: 30px 0;
		font-size: 40px;
		font-weight: 300;
	}
	.box_container{
		border:1px solid #bbc3c6;
		padding:30px 20px;
		min-height: 397px;
		margin: 0 0 10px;
		img{
			min-height: 80px;
		}
		h3{
		font-size: 25px;
		}
		p{
			text-align: left;
			margin: 30px 0 0;
			font-size: 16px;
			font-weight: 300;
			color:#2b2b2b;
		}
	}
}
.main_form_container{
	margin: 20px auto;
	max-width: 400px;
	text-align: left;
	padding: 25px 0 0;
	label{
		font-size: 18px;
		color:#fff;
		margin: 0 0 5px;
	}
	.form_container{
		position: relative;
		span{
			position: absolute;
			top:11px;
			left:5px;
		}
		input{
			width:100%;
			height: 42px;
			padding-left: 45px;
			margin: 0 0 6px;
		}

	}
	.error{
		color:#fff;
	}
}
/* Mobile optimisation for banner elements */

@media only screen and (min-width : 200px) and (max-width : 767px) {
	.main_form_container{
		max-width: 310px;
	}
	.buy_travel_container{
		padding: 0;
		ul{
			li{
				padding-top: 10px;
			}
		}
		p{
			font-size: 16px;
		}
	}
	.why_need_container{
		padding: 0;
	}
	.travel_insurance_risk{
		padding: 0;
		margin: 0;
		h3{
			font-size: 30px;
		}
	}
.bg_container{
	height: 200px;
	background: #100201;
	.travel_txt{
		top:30px;
		h1{
			font-size:25px;
		}
		h2{
			font-size: 20px;
		}
	}
}
.text_desc_container{
	padding: 20px;
	p{
		font-size: 14px;
	}

}
.companies-wrapper{
	margin: 10px 0;
}
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
.travel_insurance_risk{
	margin: 0;
	padding: 0;
	.box_container{
		min-height: 502px;
	}
}
}

.skippy_btn {
  margin-top: 20px;
}
