@baseThemeColor:#ff6127;
@borderColor:#dadada;
@baseButtonBg:#ff6127;
@baseButtonBorder:#ff512b;
@textColor:#363636;
@bannerColor:#314451;
@labelColor:#314451;
.pnone {
  padding: 0;
}
.prnone {
  padding-right: 0;
}
.plnone {
  padding-left: 0;
}
.roundedCorners(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.cubic-trans {
  -moz-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -webkit-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -o-transition: all .3s cubic-bezier(0.4,0,.2,1);
  transition: all .3s cubic-bezier(0.4,0,.2,1);
}
body {
  background-color: #efeff4;
  color: @textColor;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato','Helvetica Neue',Helvetica, Arial,sans-serif;
  //font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}

.btn-cfox {
  display:block;
  width:100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 10px 15px;
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  &.orange {
    background-color: @baseButtonBg;
    border: 1px solid @baseButtonBorder;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: rgba(249, 98, 6, 0.99);
    text-decoration: none;
    outline: none;
    color: #ffffff;
  }
}
#topbar {
  border-bottom:1px solid rgba(0,0,0,0.04);
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 0px;
  min-height: 50px;
  background-color: #ffffff;
  a.navbar-brand {
    height: 35px;
    margin-bottom: 10px;
    margin-top: 3px;
    margin-left: -15px;
    outline: medium none;
    overflow: hidden;
    width: 180px;
    padding: 5px 0.8em 5px 15px;
  }
  .flag-num {
    font-size: 14px;
    margin: 10px 15px 0px;
    & > img {
      width: 26px;
    }
  }
}
.contact-form {
  margin-bottom:50px;
  & .form-control {
    -webkit-box-shadow: 0px 3px 4px rgba(0,0,0,0.05) inset;
    -moz-box-shadow: 0px 3px 4px rgba(0,0,0,0.05) inset;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.05) inset;
    min-height: 50px;
    .roundedCorners(3px);
    background-color: #fdfdfd;
    border-color: @borderColor;
  }
  & .error-field {
    color: red;
    font-size: 12px;
    padding-top:5px;
  }
  & .control-label {
    font-size:16px;
    font-weight: bold;
    color: @labelColor;
  }
  & .radio-label {
    font-weight: normal;
    display: inline-block;
    margin:5px 10px 5px 0px;
    & input[type='radio'] {
      margin-right:5px;
    }
  }
}
.bounding-wrapper {
  #time-widget {
    text-align: center;
    position: relative;
    & table {
      background-color: #ffffff;
      & ul {
        margin: 0px;
        padding: 0px;
        & li {
          list-style-type: none;
          cursor: pointer;
          margin: 0px;
          padding: 5px;
          border-bottom: 1px solid #dadada;
          .cubic-trans;
          &.active, &.active:hover {
            background-color: @bannerColor;
            color: #ffffff;
            text-shadow: none;
          }
          &:hover {
            background-color: rgba(49, 68, 81, 0.11);
          }
        }
        & li.frozen :hover,
        & li.frozen {
          color: #999999;
          background-color: #f5f5f5;
          pointer-events: none;
          cursor: not-allowed;
          text-decoration: line-through;
        }
      }
      & th {
        text-align: center;
        width: 25%;
        color: @baseThemeColor;
        font-size: 12px;
        text-transform: uppercase;
        padding: 10px 5px;
      }
      & td {
        padding: 0px;
      }
    }
  }
  & #number-widget {
    text-align: left;
    & .control-label {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  & .complete {
    border: 2px dashed #cae6ce;
    text-align: center;
    margin: 20px 0px 10px;
    padding: 10px;
    & .highlight {
      font-size: 30px;
      color: @baseThemeColor;
    }
  }
  & .error-field {
    color: red;
    font-size: 12px;
  }
  & .form-hdr {
    font-weight:bold;
    position: relative;
    margin: 0px;
    padding: 15px 0px 10px;
    text-align: left;
    color: @textColor;
    font-size:16px;
    & .arrow_box {
      position: relative;
      background: @baseThemeColor;
      &:after {
        left: -20px;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-right-color: @baseThemeColor;
        border-width: 10px;
        margin-top: -10px;
      }
      &.right {
        padding-top: 11px;
        position: absolute;
        height: 100%;
        top: 0px;
        right: 0px;
        margin: 0px;
        font-size: 20px;
        width: 75px;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}
.introduction {
  padding:50px 0px;
  background-color: @bannerColor;
  margin-bottom:50px;
  & h1 {
    color: #ffffff;
    font-size:44px;
    margin-bottom:30px;
  }
  & p.lead {
    color: #ffffff;
    line-height: 1.6em;
  }
  & a {
    color:@baseThemeColor;
  }
  & img {
    max-width: 300px;
    width:100%;
    margin: -30px auto;
  }
}



@media only screen and (min-width : 200px) and (max-width : 767px) {
  .introduction {
    & h1 {
      font-size:34px;
      line-height: 1.2em;
    }
  }
  #topbar {
    a.navbar-brand {
      height: 30px;
      margin-bottom: 10px;
      margin-top: 3px;
      margin-left: -15px;
      width: 145px;
      padding: 5px 0.8em 5px 15px;
    }
  }
}
