.pnone {
  padding: 0;
}
.prnone {
  padding-right: 0;
}
.plnone {
  padding-left: 0;
}
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  background-color: #efeff4;
  color: #363636;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.btn-cfox {
  display: block;
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 10px 15px;
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
#topbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 0px;
  min-height: 50px;
  background-color: #ffffff;
}
#topbar a.navbar-brand {
  height: 35px;
  margin-bottom: 10px;
  margin-top: 3px;
  margin-left: -15px;
  outline: medium none;
  overflow: hidden;
  width: 180px;
  padding: 5px 0.8em 5px 15px;
}
#topbar .flag-num {
  font-size: 14px;
  margin: 10px 15px 0px;
}
#topbar .flag-num > img {
  width: 26px;
}
.contact-form {
  margin-bottom: 50px;
}
.contact-form .form-control {
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.05) inset;
  min-height: 50px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fdfdfd;
  border-color: #dadada;
}
.contact-form .error-field {
  color: red;
  font-size: 12px;
  padding-top: 5px;
}
.contact-form .control-label {
  font-size: 16px;
  font-weight: bold;
  color: #314451;
}
.contact-form .radio-label {
  font-weight: normal;
  display: inline-block;
  margin: 5px 10px 5px 0px;
}
.contact-form .radio-label input[type='radio'] {
  margin-right: 5px;
}
.bounding-wrapper #time-widget {
  text-align: center;
  position: relative;
}
.bounding-wrapper #time-widget table {
  background-color: #ffffff;
}
.bounding-wrapper #time-widget table ul {
  margin: 0px;
  padding: 0px;
}
.bounding-wrapper #time-widget table ul li {
  list-style-type: none;
  cursor: pointer;
  margin: 0px;
  padding: 5px;
  border-bottom: 1px solid #dadada;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.bounding-wrapper #time-widget table ul li.active,
.bounding-wrapper #time-widget table ul li.active:hover {
  background-color: #314451;
  color: #ffffff;
  text-shadow: none;
}
.bounding-wrapper #time-widget table ul li:hover {
  background-color: rgba(49, 68, 81, 0.11);
}
.bounding-wrapper #time-widget table ul li.frozen :hover,
.bounding-wrapper #time-widget table ul li.frozen {
  color: #999999;
  background-color: #f5f5f5;
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: line-through;
}
.bounding-wrapper #time-widget table th {
  text-align: center;
  width: 25%;
  color: #ff6127;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 5px;
}
.bounding-wrapper #time-widget table td {
  padding: 0px;
}
.bounding-wrapper #number-widget {
  text-align: left;
}
.bounding-wrapper #number-widget .control-label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
.bounding-wrapper .complete {
  border: 2px dashed #cae6ce;
  text-align: center;
  margin: 20px 0px 10px;
  padding: 10px;
}
.bounding-wrapper .complete .highlight {
  font-size: 30px;
  color: #ff6127;
}
.bounding-wrapper .error-field {
  color: red;
  font-size: 12px;
}
.bounding-wrapper .form-hdr {
  font-weight: bold;
  position: relative;
  margin: 0px;
  padding: 15px 0px 10px;
  text-align: left;
  color: #363636;
  font-size: 16px;
}
.bounding-wrapper .form-hdr .arrow_box {
  position: relative;
  background: #ff6127;
}
.bounding-wrapper .form-hdr .arrow_box:after {
  left: -20px;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #ff6127;
  border-width: 10px;
  margin-top: -10px;
}
.bounding-wrapper .form-hdr .arrow_box.right {
  padding-top: 11px;
  position: absolute;
  height: 100%;
  top: 0px;
  right: 0px;
  margin: 0px;
  font-size: 20px;
  width: 75px;
  text-align: center;
  color: #ffffff;
}
.introduction {
  padding: 50px 0px;
  background-color: #314451;
  margin-bottom: 50px;
}
.introduction h1 {
  color: #ffffff;
  font-size: 44px;
  margin-bottom: 30px;
}
.introduction p.lead {
  color: #ffffff;
  line-height: 1.6em;
}
.introduction a {
  color: #ff6127;
}
.introduction img {
  max-width: 300px;
  width: 100%;
  margin: -30px auto;
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .introduction h1 {
    font-size: 34px;
    line-height: 1.2em;
  }
  #topbar a.navbar-brand {
    height: 30px;
    margin-bottom: 10px;
    margin-top: 3px;
    margin-left: -15px;
    width: 145px;
    padding: 5px 0.8em 5px 15px;
  }
}
