/* -- Typographic Elements ---------- */

body#tinymce h1,
body#tinymce h2,
body#tinymce h3,
body#tinymce h4,
body#tinymce p,
body#tinymce li,
body#tinymce pre {
	color: #666 !important;
}
body#tinymce h1,
body#tinymce h2,
body#tinymce h3,
body#tinymce h4,
body#tinymce p,
body#tinymce ol,
body#tinymce ul,
body#tinymce code,
body#tinymce pre,
body#tinymce blockquote,
body#tinymce div {
    margin: 0 0 10px; padding: 0;
}
body#tinymce h1 {
    font-size: 19px; line-height: 23px;
}
body#tinymce h2 {
    font-size: 17px; line-height: 21px;
}
body#tinymce h3 {
    font-size: 15px; line-height: 19px;
}
body#tinymce h4 {
    font-size: 12px; line-height: 16px;
}
body#tinymce ol,
body#tinymce ul {
    padding-left: 35px !important;
    list-style-position: outside;
}
body#tinymce ul {
    list-style-type: disc;
}
body#tinymce ol li,
body#tinymce ul li {
    margin-bottom: 5px;
}
body#tinymce ol li:last-child,
body#tinymce ul li:last-child {
    margin-bottom: 0 !important;
}
body#tinymce pre,
body#tinymce code {
    font-family: "Andale Mono";
}
body#tinymce blockquote {
    padding-left: 30px !important;
}

/* -- Divs ---------- */

/*body#tinymce div {
    min-height: 15px;
    height: auto;
    outline: 1px dashed #bbb;
}*/

/* -- Tables ---------- */

/*body#tinymce table.mceItemTable {
    margin: 0; padding: 0;
    border: 0 !important;
    background: #ebe9e6 !important;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
}
body#tinymce table.mceItemTable td {
    border: 1px dashed #ccc !important;
    background: #ebe9e6 !important;
}

body#tinymce td {
    vertical-align: top;
}*/

/* -- Images ---------- */

body#tinymce img { float: none; border: none !important; }

body#tinymce img.img_left { float: left !important; margin: 14px 20px 14px 0; }
body#tinymce img.img_right { float: right !important; margin: 14px 0 14px 20px; border: none; }
body#tinymce img.img_block { display: block; float: none !important; clear: both !important; margin: 14px 0 !important; border: none; }

body#tinymce img.img_left_nospacetop { float: left !important; margin: 2px 20px 14px 0; }
body#tinymce img.img_right_nospacetop { float: right !important; margin: 2px 0 14px 20px; border: none; }
body#tinymce img.img_block_nospacetop { display: block; float: none !important; clear: both !important; margin: 2px 0 14px 0 !important; border: none; }



