/* -----------------------------------------------------------------------

   CSS for the display of grid-templates in the editor
   Grid applies to tables & tabledesks instead of the originally used divs

   Grid based on BLUEPRINT CSS
   http://code.google.com/p/blueprintcss/

----------------------------------------------------------------------- */



/*  Basic Grid Properties
----------------------------------------------------------------------- */

.span-1, .span-2, .span-3, .span-4,
.span-5, .span-6, .span-7, .span-8,
.span-9, .span-10, .span-11, .span-12,
.span-13, .span-14, .span-15, .span-16,
.span-17, .span-18, .span-19, .span-20,
.span-21, .span-22, .span-23, .span-24 {
    overflow: hidden !important;
}

/*  Use these classes to set the width of a column. */
.span-1  { width: 30px; }
.span-2  { width: 70px; }
.span-3  { width: 110px; }
.span-4  { width: 150px; }
.span-5  { width: 190px; }
.span-6  { width: 230px; }
.span-7  { width: 270px; }
.span-8  { width: 310px; }
.span-9  { width: 350px; }
.span-10 { width: 390px; }
.span-11 { width: 430px; }
.span-12 { width: 470px; }
.span-13 { width: 510px; }
.span-14 { width: 550px; }
.span-15 { width: 590px; }
.span-16 { width: 630px; }
.span-17 { width: 670px; }
.span-18 { width: 710px; }
.span-19 { width: 750px; }
.span-20 { width: 790px; }
.span-21 { width: 830px; }
.span-22 { width: 870px; }
.span-23 { width: 910px; }
.span-24 { width: 950px; margin: 0; }



/*  Table - Grid Properties
----------------------------------------------------------------------- */

body#tinymce table.mceItemTable {
    margin: 0 0 0 -1px; padding: 0;
    border: 0 !important;
    background: transparent;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}
body#tinymce table.mceItemTable td {
    margin: 0; padding: 0;
    border: 1px dashed #ddd !important;
    background: transparent;
    vertical-align: top;
}
/*  Simulates Blueprints class .last */
body#tinymce table.mceItemTable td + td {
    padding-left: 10px !important;
}
/*  Nested Tables */
table.mceItemTable td table.mceItemTable {
    margin: -1px 0 -1px -1px !important;
}



/*  Append, Prepend, Push, Pull, Borders & Misc Classes/Elements:
    Not implemented yet.
----------------------------------------------------------------------- */


