<div class="policy-detail">
    <div class="content">
        <h5>Policy Details</h5>
        <div class="info">
            {% if t.policy_number %}
            <div class="row">
                <div class="col-sm-4 label-header">Policy Number</div>
                <div class="col-sm-8 label-val">{{ t.policy_number|default:"<defaulttext></defaulttext>" }}</div>
            </div>
            {% endif %}
            {% if t.policy_type %}
            <div class="row">
                <div class="col-sm-4 label-header">Type</div>
                <div class="col-sm-8 label-val">{{ t.policy_type|default:"<defaulttext></defaulttext>" }}</div>
            </div>
            {% endif %}
            {% if t.policy_tenure %}
            <div class="row">
                <div class="col-sm-4 label-header">Tenure</div>
                <div class="col-sm-8 label-val">{{ t.policy_tenure|default:"<defaulttext></defaulttext>" }} day(s)</div>
            </div>
            {% endif %}
            {% if t.policy_start_date and t.policy_end_date %}
            <div class="row">
                <div class="col-sm-4 label-header">Period</div>
                <div class="col-sm-8 label-val">
                    {{ t.policy_start_date }} - {{ t.policy_end_date }}
                </div>
            </div>
            {% endif %}
        </div>
        <h5>Policy Holder Details</h5>
        <div class="info">
            {% if t.first_name %}
            <div class="row">
                <div class="col-sm-4 label-header">Name</div>
                <div class="col-sm-8 label-val">{{ t.first_name|title }} {{ t.last_name|title }}</div>
            </div>
            {% endif %}
            {% if t.full_address %}
            <div class="row">
                <div class="col-sm-4 label-header">Address</div>
                <div class="col-sm-8 label-val">{{ t.full_address|title|default:"<defaulttext></defaulttext>" }}</div>
            </div>
            {% endif %}
            {% if t.mobile %}
            <div class="row">
                <div class="col-sm-4 label-header">Phone Number</div>
                <div class="col-sm-8 label-val">{{ t.mobile|default:"<defaulttext></defaulttext>" }}</div>
            </div>
            {% endif %}
        </div>
    </div>

    <!--<div class="list-panel">
        <div class="header">
            <strong>+</strong> <span>{{ t.hospitals.hospitals|length }}</span> Hospitals in your area
        </div>
        <div class="content hospitals">
            <ul>
                {% for hosp in t.hospitals.hospitals %}
{#                    {% if forloop.counter0 < 6 %}#}
                    <li>{{ hosp.name }}<br/> <small><strong>Address:</strong> {{ hosp.address}}</small></li>
{#                    {% endif %}#}
                {% endfor %}
            </ul>
        </div>
    </div>-->

    <!--
    <div class="foot">
        <div class="tab row mnone">
            <div data-tab='tab_1' class="col-sm-4 pnone tab-item active"><span>Benefits</span></div>
            <div data-tab='tab_2' class="col-sm-4 pnone tab-item"><span>Plan Conditions</span></div>
            <div data-tab='tab_3' class="col-sm-4 pnone tab-item"><span>Sum Assured over 5 years</span></div>
        </div>
        <div class="tab-content tab_1">
            <div class="row">
                <div class="col-sm-6">
                    <p class="label">Good To Have</p>
                    <ul>
                        {% for v in t.good_to_have %}
                        <li>{{ v }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% if t.additional_benefits %}
                    <div class="col-sm-6">
                        <p class="label">Additional Benefits</p>
                        <ul>
                            {% for v in t.additional_benefits %}
                            <li>{{ v }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

<div class="tab-content tab_2 hide">
    <p>Health plans cover all conditions. But, some specific conditions are covered after a certain period or never covered.</p>
    <h5 class="orange">Covered since day 1</h5>
    <p>{{ t.plan_conditions.since_day1|join:', '|default:'<defaulttext></defaulttext>' }}</p>
    <h5 class="orange">Covered after 2 years</h5>
    <p>
        {{ t.plan_conditions.after_2years|join:', '|default:'<defaulttext></defaulttext>' }}
    </p>
    <h5 class="orange">Never Covered</h5>
    <p>{{ t.plan_conditions.never_covered|join:', '|default:'<defaulttext></defaulttext>' }}</p>
</div>
<div class="tab-content tab_3 hide">
    <p>In case you do not claim, insurance companies provide a bonus by increasing your coverage or by offering a discount in your premium on renewal. Increase in your coverage is very useful as the medical costs keep rising by almost 15% every year.</p>
    <table class="insured chart" width="100%">
        <tr>
            <th>Years</th>
            <th>Sum Assured</th>
            <th>Premium</th>
        </tr>
        {% for pre in t.five_year_projection %}
        <tr>
            <td>Year {{ forloop.counter }}</td>
            <td>&#x20B9 {{ pre.2|floatformat:2 }}</td>
            <td>&#x20B9 {{ pre.1|floatformat:2 }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>
-->

    <div class="footer-tool">
        <a href="" class="close-btn">
            <span class="c_o"><i>+</i>View Details</span>
            <span class="c_c"><i>x</i>Hide Details</span>
        </a>
    </div>
</div><!--/.policy-details-->
