<div class="policy-detail">
    <div class="content">
        <h5>Policy Details</h5>
        <div class="info">
            {% if t.policy_number %}
            <div class="row">
                <div class="col-sm-4 label-header">Policy Number</div>
                <div class="col-sm-8 label-val">{{ t.policy_number|default:"<defaulttext></defaulttext>" }}</div>
            </div>
            {% endif %}
            {% if t.policy_type %}
            <div class="row">
                <div class="col-sm-4 label-header">Type</div>
                <div class="col-sm-8 label-val">{{ t.policy_type|default:"<defaulttext></defaulttext>" }}</div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-sm-4 label-header">Tenure</div>
                <div class="col-sm-8 label-val">{{ t.policy_tenure|default:"<defaulttext></defaulttext>" }} day(s)</div>
            </div>
            {% if t.policy_start_date and t.policy_end_date %}
            <div class="row">
                <div class="col-sm-4 label-header">Period</div>
                <div class="col-sm-8 label-val">
                    {{ t.policy_start_date }} - {{ t.policy_end_date }}
                </div>
            </div>
            {% endif %}
        </div>
        <h5>Policy Holder Details</h5>
        <div class="info">
            {% if t.first_name %}
            <div class="row">
                <div class="col-sm-4 label-header">Name</div>
                <div class="col-sm-8 label-val">{{ t.first_name|title }} {{ t.last_name|title }}</div>
            </div>
            {% endif %}
            {% if t.full_address %}
            <div class="row">
                <div class="col-sm-4 label-header">Address</div>
                <div class="col-sm-8 label-val">{{ t.full_address|title|default:"<defaulttext></defaulttext>" }}</div>
            </div>
            {% endif %}
            {% if t.mobile %}
            <div class="row">
                <div class="col-sm-4 label-header">Phone Number</div>
                <div class="col-sm-8 label-val">{{ t.mobile|default:"<defaulttext></defaulttext>" }}</div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="footer-tool">
        <a href="" class="close-btn">
            <span class="c_o"><i>+</i>View Details</span>
            <span class="c_c"><i>x</i>Hide Details</span>
        </a>
    </div>
</div><!--/.policy-details-->