<!DOCTYPE html>
<html>
    <head>
        <title>Create Task</title>
    </head>
    <body>
    <form id="taskform" name="create_task"  method="POST">{% csrf_token %}
            <fieldset>
                <legend accesskey="E"><span style="text-decoration:underline;">T</span>ask Details</legend>
                <table>
                    <tbody>
                        {% for f in form %}
                        <tr>
                            <th><label for="{{f.id_for_label}}">{{f.label}}</label></th>
                            <td>
                                {{f}}<br/>
                                {% if f.errors  %}
                                {{f.errors}}
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button id="form_btn" type="submit" name="Submit">Submit Task</button>
            </fieldset>
    </form>
    </body>
</html>
