{% extends "opsapp/base.html" %}

{% block title %} ops.coverfox.com {% endblock %}

{% block body %}
<h1>ops.coverfox.com</h1>
<table>
    <tbody>
    {% for task, run in tasks.items %}
        <tr>
            <td>
                {{task}}
            </td>
            <td>
                <a href="/view-task/{{task.id}}">Run/View</a>
            </td>
            <td>
                Number of runs:
            </td>
            <td>
                {{task.no_runs}}
            </td>
            <td>
            {% if run.who  %}
                Last ran by:
            </td>
            <td>
                {{run.who}},
            {% endif %}
            </td>
            <td>
                Status:
            </td>
            <td>
                {{run.status}},
            </td>
            {% if run.started_on %}
            <td>
                Ran at:
            </td>
            <td>
                {{run.started_on}}
            {% endif %}
            </td>
            {% if run.exited_on %}
            <td>
                Exited at:
            </td>
            <td>
                {{run.exited_on}}
            {% endif %}
            </td>
            {% if run.log_file %}
            <td>
               <a href="/deploys/{{run.log_file}}.txt">{{run.log_file}}.txt</a>
            {% endif %}
            </td>


        </tr>
    {% endfor %}
    </tbody>
</table>
    <ul>
        <a href="create-task">Create new Task</a>
    </ul>
    <ul>
    Top 10 Runs and their logs are bellow
    </ul>
    <table>
        <tr>
            <td>
                Task
            </td>
            <td>
                Ran by
            </td>
            <td>
                Status
            </td>
            <td>
                Ran at
            </td>
            <td>
                Exited at
            </td>
            <td>
                Logs
            </td>
        </tr>
        {% for latest_task in latest_run %}
        <tr>
            <td>
            {% if latest_task.task %}
            {{latest_task.task}}
                 {% endif %}
            </td>
            <td>
            {% if latest_task.who %}
            {{latest_task.who}}
                 {% endif %}
            </td>
            <td>
            {% if latest_task.status %}
            {{latest_task.status}}
                 {% endif %}
            </td>
            <td>
                {% if latest_task.started_on %}
                {{latest_task.started_on}}
                 {% endif %}
            </td>
            <td>
                {% if latest_task.exited_on %}
                {{latest_task.exited_on}}
                 {% endif %}

            </td>

            <td>
                 {% if latest_task.log_file %}
                 <a href="/deploys/{{latest_task.log_file}}.txt">{{latest_task.log_file}}.txt</a>
                 {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
