/* Color scheme definitions */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
.footer-wrapper-products {
  display: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
body {
  font-size: 14px;
}
.mnone {
  margin: 0px;
}
.pnone {
  padding: 0px;
}
.prnone {
  padding-right: 0px;
}
/* button styling css */
.btn-coverfox.orange {
  padding: 8px 15px;
}
/* box stylings */
.light-box,
.dark-box {
  padding: 30px 0px 50px;
  line-height: 1.8em;
}
.light-box h1,
.dark-box h1 {
  font-size: 30px;
  margin: 0px 0px 20px;
  text-align: center;
  font-weight: 300;
  color: #363636;
  line-height: 1.4em;
  letter-spacing: 1px;
}
.light-box {
  background: #ffffff;
  color: #363636;
}
.dark-box {
  background-color: #f9f9f9;
  border-top: 1px solid rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
}
.color-highlight {
  color: #ff6127 !important;
}
/* basic elements styling */
.hero-wrapper {
  position: relative;
  padding-top: 0;
}
#topbar {
  padding: 5px 0;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 60;
  background-color: #fff;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
}
#topbar .logo {
  float: left;
  text-align: center;
  width: 100px;
  margin-top: 3px;
  margin-bottom: 3px;
}
#topbar .logo img {
  width: 100%;
}
#topbar .irda-auth-badge {
  display: none;
}
#topbar .menuimg {
  position: absolute;
  height: 22px;
  width: 22px;
  background-color: #363636;
  padding: 4px;
  top: 5px;
  left: 5px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#topbar #right-menu-items {
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
  float: right;
  margin-left: -70px;
}
#topbar #right-menu-items li {
  display: inline-block;
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
  margin: 0;
  padding-right: 40px;
  text-align: right;
  position: relative;
}
#topbar #right-menu-items li.c2c {
  padding: 3px 10px 3px 30px;
  font-size: 9px;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#topbar #right-menu-items li.c2c:active,
#topbar #right-menu-items li.c2c:hover {
  background-color: #eaeaea;
}
#topbar #right-menu-items li a {
  font-size: 11px;
  display: block;
  color: #363636;
  padding: 0px;
}
#topbar #right-menu-items li a:hover,
#topbar #right-menu-items li a:active {
  text-decoration: none;
  cursor: default;
}
#topbar #right-menu-items li.pipe-link {
  padding: 5px 10px;
}
#topbar #right-menu-items li.pipe-link.seperator {
  display: none;
}
#topbar #right-menu-items li.pipe-link a {
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  top: -5px;
}
#topbar #right-menu-items li.pipe-link a:hover {
  text-decoration: none;
  color: #ff6127;
}
#topbar .navbar-toggle {
  display: none;
  margin: 0;
  margin-right: 10px;
  padding: 0px;
  height: 34px;
  width: 34px;
  text-align: center;
  background-color: #f3f3f3;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#topbar .navbar-toggle:active,
#topbar .navbar-toggle:focus,
#topbar .navbar-toggle:hover {
  outline: none;
}
#topbar .navbar-toggle .bar {
  content: "";
  position: absolute;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 15px;
  display: inline-block;
  width: 15px;
  height: 3px;
  background-color: #363636;
  left: 9px;
}
#topbar .navbar-toggle .bar.plus {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#topbar .navbar-toggle .bar.plus:before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 3px;
  background-color: inherit;
  top: -7px;
  left: 6px;
  position: absolute;
}
#topbar .navbar-toggle .bar.minus {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
#topbar .navbar-toggle.active .bar.plus {
  -webkit-transform: scale(0) rotate(-90deg);
  -moz-transform: scale(0) rotate(-90deg);
  -ms-transform: scale(0) rotate(-90deg);
  -o-transform: scale(0) rotate(-90deg);
  transform: scale(0) rotate(-90deg);
}
#topbar .navbar-toggle.active .bar.minus {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#topbar .pipe-menu-right {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  text-align: left;
  margin: 0 -15px 0px;
  padding: 0px;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  height: 0px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
#topbar .pipe-menu-right.active {
  overflow: visible;
  margin-top: 10px;
  margin-bottom: -10px;
  height: auto;
  opacity: 1;
  visibility: visible;
  top: 100%;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
}
#topbar .pipe-menu-right li {
  display: block;
  padding: 0px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0px;
}
#topbar .pipe-menu-right li a {
  display: block;
  padding: 15px;
  background-color: #f7f7f7;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
#topbar .pipe-menu-right li a:hover,
#topbar .pipe-menu-right li a:focus,
#topbar .pipe-menu-right li a:active {
  color: #ff6127;
  text-decoration: none;
}
.banner {
  background: #405663;
  padding: 20px 20px 10px;
  text-align: center;
  position: relative;
}
.banner:after {
  content: '';
  display: block;
  border-width: 15px 50px;
  border-style: solid;
  border-color: #405663 transparent transparent transparent;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 100%;
}
.banner h1 {
  font-size: 30px;
  margin: 0 0 15px;
  color: #fff;
  line-height: 1.2em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.banner h3 {
  font-size: 16px;
  font-weight: 600;
}
.companies-wrapper {
  background-color: #f7f7f7;
  padding-bottom: 10px;
  padding-top: 20px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: none;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}
.companies-wrapper:after {
  content: '';
  display: block;
  border-width: 15px 50px;
  border-style: solid;
  border-color: #f7f7f7 transparent transparent transparent;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 100%;
}
.companies-wrapper h2 {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  margin: 0px 0px 15px;
  line-height: 1.4em;
}
.companies-wrapper ul.company-logos {
  list-style-type: none;
  text-align: center;
  padding: 0;
  overflow: hidden;
  height: 80px;
}
.companies-wrapper ul.company-logos li {
  display: inline-block;
  padding: 15px;
  position: relative;
}
.companies-wrapper ul.company-logos li img {
  height: 40px;
}
.benefit-list {
  padding-bottom: 20px;
}
.benefit-list h2 {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  margin: 0px 0px 15px;
  line-height: 1.4em;
}
.benefit-list ul {
  list-style-type: none;
  padding: 0px;
  margin: 20px 0px;
  text-align: center;
}
.benefit-list ul li {
  margin: 0px 5px 10px;
  padding: 5px 15px;
  background-color: #f7f7f7;
  display: inline-block;
  min-width: 350px;
  font-size: 14px;
  color: #363636;
  line-height: 1.4em;
}
.free-services {
  background: #f3f3f3;
  line-height: 1.6em;
  color: #666666;
  font-size: 14px;
  padding-bottom: 20px;
}
.free-services .proposition {
  margin: 20px auto 30px;
  padding: 0px 15px;
  text-align: center;
  position: relative;
  font-size: 13px;
  min-height: 90px;
}
.free-services .proposition > img {
  width: 90px;
  display: block;
  margin: 0 auto 20px;
}
.free-services .proposition p {
  max-width: 400px;
  margin: 0 auto 15px;
}
.free-services .proposition > h4 {
  display: block;
  line-height: 1.2em;
  margin: 10px auto;
  font-size: 16px;
  color: #404040;
  font-weight: 600;
}
.testimonials-section {
  padding: 30px 0px 50px;
  line-height: 1.8em;
  background-color: #f9f9f9;
  border-top: 1px solid rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
}
.testimonials-section h1 {
  font-size: 30px;
  margin: 0px 0px 20px;
  text-align: center;
  font-weight: 300;
  color: #363636;
  line-height: 1.4em;
  letter-spacing: 1px;
}
.testimonials-section .testimonial-item {
  max-width: 400px;
  position: relative;
  margin: 15px auto 30px;
  min-height: 160px;
}
.testimonials-section .testimonial-item img {
  width: 100px;
  position: absolute;
}
.testimonials-section .testimonial-item .comment {
  line-height: 1.4em;
  position: relative;
  padding-left: 15px;
  margin-left: 100px;
  color: #666;
}
.testimonials-section .testimonial-item .comment p.title {
  font-style: italic;
  font-weight: 600;
}
.testimonials-section .testimonial-item .comment img {
  display: block;
  position: relative;
  width: 30px;
  top: -10px;
  opacity: 0.5;
}
.testimonials-section .testimonial_action_btn {
  position: relative;
  top: 10px;
}
.testimonials-section .btn-cfox.orange {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.testimonials-section .btn-cfox.orange:hover,
.testimonials-section .btn-cfox.orange:active {
  background-color: #ff6127;
  color: #fff;
}
.container.text-block {
  max-width: 1100px;
}
.about-us h4 {
  color: #404040;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
}
.about-us ul {
  margin-top: 20px;
  padding-left: 18px;
}
.about-us ul li {
  margin-bottom: 15px;
}
.footer {
  font-size: 12px;
  text-align: center;
  background-color: #314451;
  padding: 40px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: rgba(255, 255, 255, 0.5);
}
.footer .lin {
  color: rgba(255, 255, 255, 0.9);
}
.why-compare h1 {
  color: #ff6127;
  text-align: left;
}
.why-compare img {
  margin: 60px 0 0 0;
}
.call_expert {
  background-color: #89a3b3;
  border-top: 1px solid rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
  padding: 25px;
  text-align: center;
}
.call_expert h2 {
  font-size: 18px;
  margin: 0 0 10px;
  font-weight: 300;
}
.call_expert p {
  font-size: 11px;
  margin: 10px 0;
  opacity: .8;
}
.call_expert img {
  max-width: 15px;
  margin: 5px 0 0 0;
}
.call_expert a {
  width: auto;
  font-size: 18px;
  padding: 3px 20px;
}
.call_expert a .toll-free {
  text-align: right;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: -4px;
}
.expert_advice {
  background: #324452;
  padding: 20px 10px 30px;
  text-align: center;
}
.expert_advice h2 {
  font-size: 16px;
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.9);
}
.expert_advice ul {
  margin: 0;
  padding: 0 15px;
  display: inline-block;
  text-align: left;
}
.expert_advice ul li {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  line-height: 1.9em;
}
.expert_advice .box_container {
  margin: 0 auto;
  max-width: 350px;
}
.expert_advice .box_container .in-box {
  position: relative;
  top: 0;
  left: 0;
}
.expert_advice .box_container .in-box input {
  width: 100%;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-left: 40px;
  height: 40px;
  margin: 10px 0;
  outline: none;
}
.expert_advice .box_container .in-box span {
  position: absolute;
  top: 10px;
  left: 3%;
}
.expert_advice .box_container .btn-cfox {
  font-size: 15px;
  padding: 10px;
}
.expert_advice .box_container .error {
  display: none;
  background: #e996b0;
  padding: 5px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.58);
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.mobi-terms-msg {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  line-height: 1.6em;
  margin-top: 10px;
}
/* mobile optimisation */
@media screen and (min-width: 200px) and (max-width: 991px) {
  #right-menu-items li {
    display: block;
    margin-bottom: 10px;
  }
  .companies-wrapper ul.company-logos {
    height: 130px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 40px;
  }
  #topbar .logo {
    float: none;
    margin-bottom: 3px;
  }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
  .companies-wrapper ul.company-logos {
    height: 130px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px 15px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 45px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .why-compare h1 {
    text-align: center;
  }
  .why-compare img {
    display: none;
  }
  body,
  html {
    min-width: 320px;
  }
  #topbar {
    padding-left: 0;
  }
  #topbar #right-menu-items li {
    padding-right: 30px;
  }
  .companies-wrapper ul.company-logos {
    height: 130px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 40px;
  }
  .dark-box .btn-cfox,
  .light-box .btn-cfox {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonials-section .testimonial-item .comment {
    font-size: 13px;
  }
  .form-box-mini {
    max-width: 450px;
  }
  .call-action {
    max-width: 460px;
    margin: auto;
    padding: 0 30px;
  }
}
@media screen and (min-width: 200px) and (max-width: 690px) {
  #topbar .navbar-toggle {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 5px;
  }
  #topbar #right-menu-items .pipe-link {
    display: none;
  }
  #topbar #right-menu-items li {
    padding-right: 0px;
  }
  #topbar #right-menu-items {
    margin-right: 35px;
  }
}
@media screen and (min-width: 700px) and (max-width: 767px) {
  .free-services {
    text-align: center;
  }
  .free-services .proposition {
    display: inline-block;
    max-width: 230px;
    vertical-align: top;
  }
}
@media screen and (min-width: 200px) and (max-width: 519px) {
  .light-box h1,
  .dark-box h1 {
    font-size: 26px;
  }
  .benefit-list h2 {
    font-size: 16px;
  }
  .benefit-list ul li {
    font-size: 13px;
    min-width: 100%;
  }
  .companies-wrapper ul.company-logos {
    height: auto;
  }
  .companies-wrapper h2 {
    font-size: 16px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 25px;
  }
  .free-services .proposition {
    padding: 0px 15px 0px 110px;
    text-align: left;
    min-height: 90px;
    max-width: 100%;
  }
  .free-services .proposition > img {
    width: 90px;
    margin: 0;
    position: absolute;
    left: 10px;
    top: 5px;
  }
  .free-services .proposition > h4 {
    font-size: 16px;
  }
  .about-us {
    font-size: 13px;
  }
  .btn-cfox {
    font-size: 16px !important;
  }
}
.form-section {
  margin: 0 auto;
  max-width: 350px;
  padding: 25px 0;
}
.form-section ul {
  padding: 0;
  margin: 10px 0 20px;
}
.form-section ul li {
  background-image: none;
  color: #363636;
  cursor: pointer;
  list-style-type: none;
  padding-left: 30px;
  margin-bottom: 8px;
  margin-top: 5px;
  position: relative;
  padding-top: 0;
  font-size: 14px;
}
.form-section ul li .checkbox {
  position: absolute;
  background-color: #f5f5f5;
  top: 1px;
  left: 0px;
  width: 20px;
  height: 20px;
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.form-section ul li .checkbox:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: none;
  background-color: #ff6127;
}
.form-section ul li.active {
  font-weight: 700;
}
.form-section ul li.active .checkbox {
  background-color: #ffffff;
  border: 2px solid #ff6127;
}
.form-section ul li.active .checkbox:before {
  display: block;
}
.form-section .in-box {
  position: relative;
  top: 0;
  left: 0;
}
.form-section .in-box input {
  width: 100%;
  background: #f7f7f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-left: 40px;
  height: 40px;
  margin: 10px 0;
  outline: none;
}
.form-section .in-box span {
  position: absolute;
  top: 10px;
  left: 3%;
}
.form-section .btn-cfox {
  font-size: 15px;
  padding: 12px;
  font-weight: 600;
}
.form-section .error {
  background: #e996b0;
  padding: 5px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.58);
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.banner {
  background: #405663;
  padding: 20px 0px 10px;
  text-align: center;
  position: relative;
}
.banner:after {
  content: '';
  display: block;
  border-width: 15px 50px;
  border-style: solid;
  border-color: #405663 transparent transparent transparent;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 100%;
}
.banner h1 {
  font-size: 25px;
  margin: 0 0 15px;
  color: #fff;
  line-height: 1.2em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.banner h3 {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
@media screen and (min-width: 600px) {
  .banner h1 {
    font-size: 40px;
  }
  .banner h3 {
    font-size: 20px;
  }
}
