@import "../../css/base_theme";
@import "../../css/style_mobile";
@banner-color:#405663;
.form-section{
  margin: 0 auto;
  max-width: 350px;
  padding: 25px 0;
  ul {
    padding:0;
    margin: 10px 0 20px;
    & li {
      background-image: none;
      color: @textColor;
      cursor: pointer;
      list-style-type: none;
      padding-left: 30px;
      margin-bottom: 8px;
      margin-top: 5px;
      position: relative;
      padding-top: 0;
      font-size: 14px;
      & .checkbox {
        position: absolute;
        background-color: #f5f5f5;
        //.boxShadow(1px 1px 2px rgba(0, 0, 0, 0.3) inset);
        top: 1px;
        left: 0px;
        width: 20px;
        height: 20px;
        margin: 0px;
        border: 1px solid rgba(0,0,0,0.3);
        .roundedCorners(50%);
        &:before {
          content:'';
          position: absolute;
          top:3px;
          left:3px;
          .roundedCorners(50%);
          width:10px;
          height:10px;
          display: none;
          background-color: @baseThemeColor;
        }
      }
      &.active {
        font-weight: 700;
        & .checkbox {
          background-color: #ffffff;
          border: 2px solid @baseThemeColor;
          &:before {
            display: block;
          }
        }
      }
    }
  }
  .in-box{
    position: relative;
    top:0;
    left:0;
      input{
      width:100%;
      background: #f7f7f7;
      .roundedCorners(3px);
      padding-left: 40px;
      height: 40px;
      margin: 10px 0;
      outline:none;
    }
    span{
      position: absolute;
      top:10px;
      left:3%;
    }
  }
  .btn-cfox{
    font-size: 15px;
    padding: 12px;
    font-weight: 600;
  }
  .error{
    background: #e996b0;
    padding: 5px;
    font-size: 12px;
    color:rgba(0,0,0,.58);
    margin-bottom: 10px;
    .roundedCorners(3px);
  }
} 
.banner{
background:@banner-color;
padding: 20px 0px 10px;
text-align: center;
position: relative;
&:after {
  content: '';
  display: block;
  border-width: 15px 50px;
  border-style: solid;
  border-color: @banner-color transparent transparent transparent;
  position: absolute;
  left:50%;
  margin-left:-50px;
  top: 100%;
}
h1{
  font-size: 25px;
  margin:0 0 15px;
  color:#fff;
  line-height: 1.2em;
  text-shadow:0 1px 1px rgba(0,0,0,.5);
}
h3{
  font-size: 16px;
  font-weight: 400;
  color:#fff;
}

}
@media screen and (min-width: 600px){
.banner{
  h1{
    font-size: 40px;
    }
    h3{
      font-size: 20px;
    }
  }
}
