@import "../../css/base_theme";

.box-shadow-shallow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.box-style {
  .box-shadow-shallow;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
@bannerColor : #eaeef1;
/* Overridden css for base_style.css */
.hero-wrapper {
  background-color: @bannerColor;
  &  #topbar {
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #ffffff;
    z-index: 200;
    .irda-auth-badge {
      margin-left:15px;
    }
  }
}
body {
  .container {
    max-width: 100%;
  }
}
.hero-wrapper {
  &.recede {
    margin-top: 0px;
  }
}
.heading-banner {
  & h1 {
    color:@baseThemeColor;
    font-size: 38px;
    font-weight: 600;
    margin: 15px 0px;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
  }
  & h4 {
    font-size: 20px;
    line-height: 1.4em;
    color: @textColor;
  }
}
/* car banner css */
.car-banner {
  padding:0px;
  background-color:@bannerColor;
  border-bottom:1px solid rgba(0,0,0,0.05);
  & .club-form {
    position: relative;
    z-index: 2;
    padding:20px 15px;
    & .legend {
      padding-bottom:5px;
      border-bottom:1px solid @baseThemeColor;
      color: @textColor;
      text-transform: uppercase;
      margin:20px 0px;
      font-weight: 700;
    }
    & .info-block {
      position: relative;
      padding-left:100px;
      margin:10px 0px;
      min-height:30px;
      color: @textColor;
      & .field {
        width:80px;
        text-transform: uppercase;
        font-size:12px;
        font-weight:700;
        position: absolute;
        color: @lightTextColor;
        top:3px;
        left:0px;
        margin-bottom:10px;
      }
      & .value {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background-color:rgba(255,255,255,0.7);
        padding:8px 10px;
        min-height: 36px;
        & span {
          display:block;
          background-color: @bannerColor;
          padding:8px 10px;
          min-height: 36px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }
      }
    }


    & .form-box {
      background-color: rgba(0,0,0,0.5);
      border:0 solid transparent;
      border-left: 1px solid rgba(255,255,255,0.2);
    }
  }
}

.service-benefits {
  h1 {
    margin-bottom:10px;
    text-align: left;
  }
  h2 {
    font-size: 20px;
    font-weight: 300;
  }
  .sub-text {
    color: @baseThemeColor;
    font-size:20px;
    line-height: 1.4em;
  }
  ul {
    margin: 15px 15px 15px 0px;
    padding-left: 0px;
    & li {
      list-style-type: none;
      font-size: 14px;
      margin-top: 10px;
      position: relative;
      padding-left: 35px;
      min-height: 26px;
      padding-top: 0px;
      color: #888888;
      & img {
        width: 26px;
        position: absolute;
        left: 0px;
        top: 0px;
      }
    }
  }
  ul.big {
    li {
      font-size: 16px;
      color: @textColor;
      & img {
        top:-2px;
      }
    }
  }
  .condition {
    sup {
      color:#ff2222;
    }
    font-style: italic;
    color:#999999;
    font-size:12px;
    padding-top:10px;
    border-top:1px dashed #eaeaea;
    margin-top:10px;
    letter-spacing: 1px;
  }
}
.toll-free {
  padding-top:50px;
  letter-spacing: 0.5px;
  p {
    line-height: 1.6em;
    & .big-font {
      font-size: 40px;
      color:@baseThemeColor;
    }
    & strong {
      font-size:20px;
    }
  }
}

.service-use {
  h1 {
    margin-bottom:10px;
    text-align: left;
  }
  .highlight {
    font-size: 20px;
    color: @baseThemeColor;
  }
  ul {
    background-color: #ffffff;
    list-style-type: none;
    padding:0px;
    margin: 20px 0px 30px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    .box-shadow-shallow;
    & li {
      position: relative;
      border-bottom:1px solid #f5f5f5;
      padding:30px 20px 30px 90px;
      &:last-child {
        border-bottom: none;
      }
      & img {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 50px;
      }
      & .number {
        font-weight: 700;
        color:#D7D5D5;
        font-size:26px;
        position: absolute;
        right:10px;
        top:6px;
      }
    }
  }
}
.testimonials-rsa {
  h1 {
    text-align: left;
  }
  .item {
    margin-bottom:20px;
    position: relative;
    min-height: 130px;
    padding: 15px 20px 15px 150px;
    & > img {
      position: absolute;
      width: 130px;
      height: 130px;
      background-color: #f0f0f0;
      top: -5px;
      left: 0px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      border: 1px solid rgba(0,0,0,0.1);
    }
  }
}

.thankyou-message {
  padding-top: 20px;
  * {
    line-height: 1.6em;
  }
  .muted {
    color: @lightTextColor;
    font-size: 13px;
    &.black {
      color: @textColor;
      position: relative;
      padding-left:30px;
      & > strong {
        background-color: #314451;
        color: #FFFFFF;
        font-weight: bold;
        position: absolute;
        top: 1px;
        left: 0px;
        text-align: center;
        width: 20px;
        height: 20px;
        padding: 0px;
        font-size: 13px;
      }
    }
  }
  .highlight {
    color: @baseThemeColor;
    font-size: 18px;
  }
  & h5 {
    font-weight: 700;
  }
  & .dotted-highlight {
    position: relative;
    display: inline-block;
    &:after {
      content: '';
      display: block;
      border-bottom: 1px dashed @baseThemeColor;
      position: absolute;
      bottom: -3px;
      left: 0px;
      right: 0px;
    }
  }
  & .membership-id {
    background-color: #ffffff;
    color:@lightTextColor;
    letter-spacing: 2px;
    padding: 15px;
    min-height: 45px;
    display: block;
    .box-style;
    & strong {
      color: @baseThemeColor;
      margin:0px 5px;
      text-transform: none;
      letter-spacing: 1px;
      line-height: 1.4em;
      font-size: 16px;
    }
  }
  & .prompt-up {
    background-color: #ffffff;
    padding:10px 15px;
    margin-bottom:20px;
    margin-top:10px;
    overflow: hidden;
    .box-style;
    & h3 {
      font-size:20px;
      margin: -15px -15px 0px -15px;
      padding: 10px 15px 10px 15px;
      color: #ffffff;
      font-weight: 400;
      background-color: #314451;
    }
    & h5 > a {
      font-size:20px;
    }
  }
  & ul {
    margin-bottom:10px;
    padding-left:20px;
    li {
      margin-bottom: 5px;
    }
  }
}
/* Mobile optimisation for banner elements */
@media only screen and (min-width : 200px) and (max-width : 991px) {
  .service-benefits ul {
    li {
      min-height: 30px;
    }
  }
}
@media only screen and (min-width : 200px) and (max-width : 767px) {
  .testimonials-rsa {
    .item {
      padding: 15px 0px;
      & > img {
        margin-bottom: 5px;
        display: block;
        position: relative;
        width: 100px;
        height: 100px;
      }
    }
  }
  .heading-banner {
    & h1 {
      display: block;
    }
  }
  .car-banner {
    padding:0px;
    & .club-form {
      padding:20px 0px;
    }
  }
}
@media only screen and (min-width : 200px) and (max-width : 399px) {
  .heading-banner {
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 20px;
    }
  }
  .light-box h1, .dark-box h1 {
    font-size: 26px;
  }
}