/* Color scheme definitions */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* Overridden css for base_style.css */
html,
body {
  width: 100%;
  height: 100%;
}
.hero-wrapper {
  background: url(../img/car-background.jpg) no-repeat top center #2a4e73;
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 1024px;
  margin-bottom: -80px;
  -webkit-background-size: cover;
  background-size: cover;
  border-bottom: 80px solid transparent;
  display: table;
  padding-top: 56px;
}
.hero-wrapper:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background-color: rgba(12, 12, 23, 0.6);
}
.hero-wrapper #topbar {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 0;
  border-bottom: none;
  background-color: transparent;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.hero-wrapper #topbar .irda-auth-badge,
.hero-wrapper #topbar #right-menu-items li a,
.hero-wrapper #topbar #right-menu-items li {
  color: #fff;
}
.hero-wrapper #topbar.active {
  background-color: #33444f;
}
.companies-wrapper {
  background-color: #f9f9f9;
  height: auto;
  min-height: 80px;
}
.companies-header {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  position: absolute;
  bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  min-width: 300px;
}
.btn-cfox.go-to-form {
  max-width: 400px;
  margin: 10px auto;
  display: block;
  text-align: center;
}
.terms-msg {
  margin: 10px 0;
  font-size: 10px;
}
/* car banner css */
.car-banner {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 60px;
  padding-top: 70px;
  text-align: center;
  position: relative;
  color: #fff;
}
.car-banner h1 {
  line-height: 1.3em;
  font-size: 60px;
  margin: 0px 30px 30px;
  font-weight: 400;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.car-banner h3 {
  color: #dfcec7;
  line-height: 1.4em;
  margin-bottom: 20px;
}
.form-section {
  background-color: #fff;
  padding: 50px 0px 70px;
}
.form-section h1 {
  font-size: 36px;
  margin: 0px;
  font-weight: 300;
}
.form-section .closer p {
  color: #515050;
  margin: 0px 0px 50px;
}
.form-section ul.prop {
  max-width: 767px;
  margin: 10px 0px 15px;
  padding: 0px;
  position: relative;
}
.form-section ul.prop li {
  list-style-type: none;
  color: #515050;
  margin-bottom: 15px;
  font-size: 16px;
  text-align: left;
  padding-left: 30px;
  position: relative;
  display: block;
  float: left;
  width: 50%;
}
.form-section ul.prop li img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #515050;
  padding: 3px;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0px;
}
.toll-free {
  display: block;
  background-color: #f0f5f9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 25px 8px;
  max-width: 300px;
}
.toll-free strong {
  display: block;
  font-size: 26px;
}
.toll-free:hover,
.toll-free:focus,
.toll-free:active {
  background-color: #e4eef5;
  text-decoration: none;
}
/* form box mini css*/
.form-box-mini {
  padding: 15px 0px;
  margin: 0px auto 0px;
}
.form-box-mini label {
  margin-bottom: 5px;
  display: block;
  letter-spacing: 1px;
  color: #363636;
  font-weight: 400;
}
.form-box-mini .btn-cfox.btn-next {
  letter-spacing: 1px;
  font-size: 16px;
  margin-top: 25px;
}
.form-box-mini ul {
  padding: 0;
  margin: 30px 0px 10px;
}
.form-box-mini ul li {
  display: inline-block;
  letter-spacing: 1px;
  background-image: none;
  color: #b6b6b6;
  cursor: pointer;
  list-style-type: none;
  padding: 0px 20px 20px 25px;
  margin: 0px;
  position: relative;
  padding-top: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.form-box-mini ul li .radio-box {
  position: absolute;
  border: 1px solid #ff6127;
  top: 0px;
  left: 0;
  width: 20px;
  height: 20px;
  margin: 0px;
  background-color: #efeff4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
}
.form-box-mini ul li:hover .radio-box {
  border-width: 2px;
}
.form-box-mini ul li.active {
  color: #363636;
}
.form-box-mini ul li.active .radio-box {
  border-width: 2px;
  background-color: transparent;
}
.form-box-mini ul li.active .radio-box:after {
  content: '';
  background-color: #ff6127;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}
.form-box-mini .error {
  background-color: #e996b0;
  color: rgba(0, 0, 0, 0.58);
  padding: 5px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-box-mini .cfinput {
  border: 2px solid #F45C25;
  padding: 14px 5px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.form-box-mini .cfinput.has-error {
  border-color: #8b0000;
  background-color: #FFE2EB;
}
.form-box-mini .cfinput.addon-field {
  padding-left: 40px;
  position: relative;
}
.form-box-mini .cfinput .addon {
  font-size: 14px;
  color: #363636;
  position: absolute;
  top: 16px;
  left: 8px;
}
.form-box-mini .cfinput input {
  border: 0;
  color: #363636;
  background-color: transparent;
  width: 100%;
}
.form-box-mini .cfinput input:hover,
.form-box-mini .cfinput input:focus,
.form-box-mini .cfinput input:active {
  outline: none;
}
/* Mobile optimisation for banner elements */
@media only screen and (min-width: 200px) and (max-width: 767px) {
  html,
  body {
    height: auto;
    min-height: 100%;
  }
  .hero-wrapper {
    display: block;
    padding-top: 0px;
    min-height: 520px;
    margin-bottom: -45px;
    border-bottom: 0px solid transparent;
  }
  .hero-wrapper #topbar {
    position: relative;
  }
  .car-banner {
    display: block;
    padding-top: 30px;
  }
  .car-banner h1 {
    font-size: 36px;
    margin: 0px 0px 30px;
  }
  .car-banner h3 {
    font-size: 20px;
  }
  .companies-header {
    font-size: 12px;
    bottom: 50px;
  }
  .form-box-mini {
    margin: 0px;
    max-width: 450px;
  }
  .form-box-mini .btn-cfox.btn-next {
    margin-top: 15px;
  }
  .form-section h4 {
    line-height: 1.4em;
  }
  .form-section ul.prop {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 600px;
  }
  .form-section ul.prop li {
    width: auto;
    float: none;
  }
  #topbar .crossover-xs a {
    color: #fff;
  }
  .toll-free {
    display: block;
    max-width: 450px;
  }
  .form-section h1 {
    font-size: 32px;
    line-height: 1.3em;
  }
}
@media only screen and (min-width: 200px) and (max-width: 620px) {
  .car-banner h1 {
    font-size: 32px;
  }
}
