<html>
<head>
<script>
window.onload = function(){
document.forms['payment'].submit();
}
</script>
</head>
<body>
<form id="payment" name="payment" method="POST" action="http://www.smartlinkxruat.bharti-axagi.co.in/cordys/bagi/eSuite/B2C/payMe.aspx">
<input  value="{{OrderNo}}"  name="OrderNo" readonly type="hidden"/> <Br/>
<input  value="{{QuoteNo}}"  name="QuoteNo" readonly type="hidden"/> <!-- Pass Quote No --><Br/>
<input  value="{{Channel}}"  name="Channel" readonly type="hidden"/> <!-- Pass Channel Code --><Br/>
<input  value="{{Product}}"  name="Product" readonly type="hidden"/> <!-- Pass Product Code --><Br/>
<input  value="{{Amount}}"   name="Amount"  readonly type="hidden"/>   <!-- Amount to passed --><Br/>
<input  value="{{IsMobile}}" name="IsMobile" readonly type="hidden"/> <!-- Is Web or Mobile payment--> <Br/>
</form>
</body>
</html>
