/* Color scheme definitions */
/* Color scheme definitions end */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
.doc-banner {
  background: #232323 url(../img/bg.jpg) no-repeat center center;
  padding: 30px 0;
  -webkit-background-size: cover;
  background-size: cover;
  height: 550px;
}
.doc-banner .terms-msg {
  margin: 10px 0;
  padding: 0px;
  max-width: 500px;
  color: #636363;
  font-size: 10px;
}
.doc-banner .form-section {
  margin-bottom: 0;
}
.doc-banner .form-section h2 {
  color: #FFFFFF;
}
.doc-banner h1 {
  color: #222222;
  font-weight: 600;
  text-align: center;
  margin: 30px 15px 20px;
  font-size: 44px;
}
.doc-banner .sub-heading {
  color: #fff;
  letter-spacing: 2px;
  font-size: 25px;
}
.doc-banner .number-form {
  background-color: #181818;
  padding: 20px 20px 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 545px;
  margin: 45px auto;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.doc-banner .number-form .input-group-addon {
  border-color: rgba(0, 0, 0, 0.4);
}
.doc-banner .number-form h2 {
  color: #fff;
  font-weight: 300;
  margin: 0 0 20px;
  font-size: 30px;
}
.doc-banner .number-form input {
  border-color: rgba(0, 0, 0, 0.4);
  height: 58px;
  padding: 16px;
}
.doc-banner .number-form .btn-cfox {
  width: 100%;
  display: block;
  text-align: center;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
.doc-banner .number-form .loading-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 50px 12px 9px;
  background-color: #ffffff;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 3;
  text-align: center;
  color: #991919;
  font-size: 20px;
  letter-spacing: 2px;
  display: none;
}
.doc-banner .number-form .loading-box img {
  margin-right: 10px;
}
.doc-banner .number-form .loading-box.reveal {
  display: block;
}
.doc-banner .number-form .error {
  padding: 8px 8px 6px 32px;
  background-color: #ec971f;
  color: #991919;
  position: absolute;
  top: 100%;
  left: 10%;
  margin-top: -10px;
  min-width: 80%;
  font-weight: bold;
  display: none;
  z-index: 100;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
.doc-banner .number-form .error .glyphicon {
  margin-right: 10px;
  position: absolute;
  left: 8px;
  top: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.doc-banner .number-form .error:before {
  position: absolute;
  top: -20px;
  left: 30px;
  border: 10px solid transparent;
  border-bottom-color: #ec971f;
  content: '';
  display: block;
}
.doc-banner .number-form .error.reveal {
  display: block;
}
.company_mediclaim_container {
  padding: 30px;
}
.company_mediclaim_container h1 {
  font-size: 30px;
  margin: 0 0 15px;
}
.company_mediclaim_container ul {
  margin: 0;
  padding: 0 0 0 20px;
}
.company_mediclaim_container ul li {
  font-size: 18px;
  margin: 10px 0;
}
.super_container_topup {
  background-color: #324452;
  padding: 30px;
}
.super_container_topup h2 {
  color: #fff;
}
.super_container_topup p {
  font-size: 16px;
  color: #fff;
  margin: 30px 0;
}
.super_container_postpone {
  padding: 50px 30px;
}
.super_container_postpone h2 {
  margin: 0 0 25px;
  font-size: 34px;
}
.super_container_postpone ul {
  margin: 0;
  padding: 0 0 0 20px;
}
.super_container_postpone ul li {
  font-size: 20px;
  margin: 10px 0;
}
/* doc-banner hero block css - ends */
/* mobile optimisation */
@media screen and (min-width: 200px) and (max-width: 991px) {
  .doc-banner {
    background-color: #232323;
    padding: 30px 0;
  }
  .doc-banner .banner-bg {
    background-image: none;
  }
  .doc-banner .form-section {
    padding-top: 20px;
  }
  .doc-banner #companies-wrap .companies-box {
    height: auto;
  }
  .doc-banner #companies-wrap h2 {
    font-size: 24px;
  }
  .doc-banner h1 {
    margin-top: 20px;
  }
  .doc-banner .sub-heading {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
  #companies-wrap ul#company-logos li img {
    height: 40px;
  }
  h1 {
    font-size: 32px;
  }
  .sub-heading {
    font-size: 18px;
  }
  .number-form {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  body,
  html {
    min-width: 320px;
  }
  .doc-banner {
    background-image: none !important;
    height: auto;
  }
  .doc-banner .form-section h2 {
    font-size: 24px;
    text-align: left;
    margin: 15px 0 10px;
  }
  .logo_section_list .btn_container {
    margin: 10px 0;
  }
  .logo_section_list .btn_container a {
    margin: auto 15px;
    max-width: 100%;
  }
  .btn-cfox.orange {
    font-size: 13px;
  }
  .banner-label {
    display: inline-block;
    font-size: 18px;
    left: 0;
    padding: 2px 10px;
  }
  #companies-wrap ul#company-logos li {
    padding: 15px;
  }
  #companies-wrap ul#company-logos li img {
    height: 40px;
  }
  .company_mediclaim_container {
    padding: 15px;
  }
  .company_mediclaim_container h1 {
    font-size: 21px;
  }
  .super_container_topup {
    padding: 0 0 20px;
  }
  .super_container_postpone {
    padding: 0 0 20px;
  }
  .super_container_postpone h2 {
    font-size: 24px;
    margin: 20px 0;
  }
  .super_container_postpone ul li {
    font-size: 16px;
  }
}
@media screen and (min-width: 200px) and (max-width: 519px) {
  #companies-wrap ul#company-logos li {
    padding: 5px;
  }
  #companies-wrap ul#company-logos li img {
    height: 30px;
  }
  .doc-banner .form-section {
    padding-top: 0px;
  }
  .doc-banner h1 {
    font-size: 32px;
  }
  .doc-banner .sub-heading {
    font-size: 18px;
    font-weight: 700;
  }
  .doc-banner #companies-wrap {
    min-height: 140px;
  }
  .doc-banner #companies-wrap h2 {
    font-size: 18px;
    line-height: 1.4em;
  }
  .doc-banner #companies-wrap .companies-box {
    height: auto;
  }
  .doc-banner .number-form {
    padding: 15px 10px;
  }
}
/*
@media screen and (min-width: 1200px) and (max-width: 1450px) {
  .doc-banner {
    background-size: 100%;
    background-position: top center;
  }
}

@media screen and (min-width: 1451px) and (max-width: 1799px) {
  .doc-banner {
    background-size: 78% auto;
    background-position: top center;
  }
}

@media screen and (min-width: 1800px) and (max-width: 2900px) {
  .doc-banner {
    background-size: 70% auto;
    background-position: center -10%;
  }
}
*/
/* mobile optimisation ends */
