footer {
  background-color: #efeff4;
}
.footer-innerwrap {
  max-width: 986px;
  margin: 0 auto;
}
.secure {
  padding: 50px 0px 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.secure .secure--img_wrapper {
  margin-top: 10px;
}
.secure ul {
  text-align: left;
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: auto;
}
.secure ul img {
  display: inline-block;
  height: 30px;
}
.secure ul .dmca-badge img {
  height: 31px;
  top: 5px;
  left: -5px;
  position: relative;
}
.secure ul li {
  line-height: 1.4em;
  float: left;
  padding: 0px;
  font-size: 12px;
  text-transform: uppercase;
  color: #999999;
  text-align: center;
}
.secure ul li.b-lr {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 15px 0;
  position: relative;
  margin: 0 10px;
  height: 70px;
}
@media screen and (min-width: 0px) and (max-width: 435px) {
  .secure ul li.b-lr {
    width: 100%;
    padding: 0;
    margin: 15px 0 10px;
    border: none;
  }
}
.secure ul li > div {
  margin-bottom: 10px;
}
.secure ul .ssl-logo {
  position: relative;
  top: 3px;
}
@media screen and (max-width: 768px) {
  .secure {
    padding-top: 20px;
  }
  .secure .secure--img_wrapper {
    margin-top: 0;
  }
  .secure ul li > div {
    margin-bottom: 0;
    text-align: left;
  }
  .secure ul li.b-lr {
    height: 55px;
    margin-bottom: 15px;
  }
  .secure ul li {
    text-align: left;
  }
}
.ic-secure {
  display: inline-block;
  background: url('../img/header_footer_2/ic-secure.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.ic-secure.american-express {
  background-position: -17px -4px;
  width: 55px;
  height: 35px;
}
.ic-secure.master-card {
  background-position: -100px -4px;
  width: 55px;
  height: 35px;
}
.ic-secure.net-banking {
  background-position: -7px -54px;
  width: 79px;
  height: 35px;
}
.ic-secure.ssl {
  background-position: -89px -50px;
  width: 79px;
  height: 45px;
}
.ic-secure.visa {
  background-position: -16px -104px;
  width: 55px;
  height: 35px;
}
.footer-finish {
  background-color: #efeff4;
  color: #70838f;
  padding-bottom: 30px;
  font-size: 12px;
  position: relative;
  z-index: 1;
  text-align: center;
}
.footer-finish a {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 8px;
  color: inherit;
}
.footer-finish a:hover,
.footer-finish a:focus,
.footer-finish a:active {
  color: inherit;
}
.footer-finish .copy-rt {
  font-size: 12px;
  color: #999999;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 46px;
}
@media screen and (max-width: 768px) {
  .footer-finish .copy-rt {
    padding-left: 0;
  }
}
.footer-finish ul {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  list-style-type: none;
  margin: 0 0 40px;
  padding: 20px 0 0;
}
@media screen and (max-width: 768px) {
  .footer-finish ul {
    margin: 0 0 10px;
  }
}
.footer-finish ul li {
  display: inline-block;
  padding: 0px 10px;
  margin-bottom: 5px;
  border-right: 1px solid #70838f;
}
.footer-finish ul li a {
  font-size: 14px;
  margin: 0;
}
.footer-finish ul li:last-child {
  border-right: none;
}
a.neutral-link {
  color: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}
a.neutral-link:hover,
a.neutral-link:active,
a.neutral-link:focus {
  color: inherit;
  text-decoration: underline;
}
