.app-sidebar-wrapper {
  position: fixed;
  width: 320px;
  top: 64px;
  bottom: 0;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .app-sidebar-wrapper {
    width: 240px;
  }
}
.app-sidebar-header {
  padding: 24px;
  position: relative;
}
.app-sidebar-header:before {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: -1;
}
.app-sidebar-header small,
.app-sidebar-header p,
.app-sidebar-header h3 {
  position: relative;
  z-index: 11;
}
.app-sidebar-header h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.app-sidebar-header p {
  margin-bottom: 0;
}
