@import 'basestyles.less';

.header-wrapper{
	height:64px;
	background:@baseDark;
	color:#fff;
	.BoxShadowHelper(1);
	position: fixed;
	top:0;
	left:0;
	right:0;
	padding:0 16px;
	z-index:1000;
}

.hamburger-menu, .logo, .page-title{
	float: left;
}

.hamburger-menu{
	width:48px;
	height:48px;
	position: relative;
	top:8px;
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 16px 12px;
	background-image: url('../img/icons/hamburger.png');
	cursor: pointer;
}

.page-title{
	font-size: 20px;
  	line-height: 64px;
  	position: relative;
  	font-weight: 300;
  	opacity: 0.7;
  	&:before{
  		content:'';
  		width: 0.3em;
		margin:0 0.8em 0 0.8em;
  		background-repeat:no-repeat;
		background-image: url('../img/icons/right-arrow-white.png');
		background-size: contain;
		background-position: right center;
  		float: left;
  		height: 64px;
  	}
}


.logo{
	line-height: 60px;
	cursor: pointer;
	img{
		height:24px;
		margin-left:8px;
	}
}