<div class="expert-card cf-result-card cubic-trans" data-bind="css:{'active': showLeadCard(), 'hide': !showLeadCard()}">
    <!--START/request a call -->
    <div class="lead-loader" data-bind="visible:loading()">
        <img src="/static/health_product/mobilev2/app/assets/img/loading-big.gif" alt="" />
        <h4>Requesting a call...</h4>
    </div>
    <!-- END/request a call-->

    <div data-bind="visible: !thanksMessage()">

        <div class="profile">
            <div class="col-sm-2 col-md-2"><img class="photo img-circle" data-bind="attr:{src:expertImage}" alt=""></div>
            <div class="col-sm-4 col-md-4">
                <h5> Let us help you choose</h5>
                <h4 class="name">Talk to our experts</h4>
                <p class="designation">Coverfox Advisory Team</p>
            </div>
            <div class="col-sm-5 col-md-5">
                <div class="form-box" data-bind="css:{'has-error': mobileNo() && !mobileNo.isValid()}">

                    <div class="input-group form-bg">
                        <span class="input-group-addon">+91</span>
                        <input type="text" placeholder="Your mobile no." data-bind="value:mobileNo" class="form-control">
                        <span class="input-group-btn">
                            <button type="button" data-bind="click:callMe.bind($data,'in-cards')" class="btn contact-btn" style="width:80px;">Call me</button>
                        </span>
                    </div>
                    <div class="ErrorClass">
                        <span data-bind="visible: showInvalidMobileError" style="color:#ff7b5e">please enter a valid 10 digit mobile number</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" data-bind ="visible: thanksMessage()">
        <div class="">
            <h4 style="color:rgba(255,255,255,0.8);">Thanks for showing your interest in Coverfox</h4>
            <p class="lead">we will call you shortly</p>
            <!--button data-bind="click: stepNav.resultRedirect" class="btn btn-lg cf-btn-orange">Continue to results</button-->
        </div>
    </div>

</div>
