body {
  background: #efeff4;
}
.lp-b1-wrapper {
  font-size: 16px;
  line-height: 24px;
}
.lp-b1-wrapper ul {
  margin-bottom: 32px;
}
.lp-b1-wrapper ul li {
  margin-top: 12px;
}
.lp-b1-wrapper p {
  font-size: 16px;
  line-height: 24px;
  background-color: transparent !important;
}
.lp-b1-wrapper .MsoTableGrid {
  margin-bottom: 32px;
}
.company-category {
  margin-bottom: 42px;
  padding-left: 56px;
}
.company-category > h3 {
  font-size: 48px;
  font-weight: 300;
  color: #314451;
  padding: 30px 0;
  margin-left: -56px;
  padding-left: 56px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.company-category .company-product {
  padding: 32px 56px 32px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.company-category .company-product:last-child {
  border-bottom: none;
}
.page-header-wrapper {
  text-align: left;
  padding: 50px 15px;
  position: relative;
}
.page-header-wrapper h1 {
  font-size: 32px;
}
.action-form {
  position: fixed;
  background: #fff;
  width: 30%;
  max-width: 500px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
}
.action-form h2 {
  padding: 40px 40px 0px 40px;
  font-weight: 300;
  margin: 0;
}
.action-form .btn-container {
  padding-bottom: 40px;
}
.action-form.reveal {
  visibility: visible;
  opacity: 1;
}
@media only screen and (min-width: 0px) and (max-width: 991px) {
  .action-form {
    position: relative;
    width: auto;
    max-width: 500px;
    opacity: 1;
    visibility: visible;
  }
}
.brand-header {
  padding-right: 40px;
}
