@import "colors.less";

body{
	background: @grey-2;

}

.lp-b1-wrapper{
  font-size:16px;
  line-height:24px;
  ul{
    margin-bottom:32px;
    li{
      margin-top: 12px;
    }
  }
  p{
    font-size:16px;
    line-height:24px;
    background-color: transparent !important;
  }
  .MsoTableGrid {
    margin-bottom:32px;
  }
}


.company-category{
	margin-bottom: 42px;
	padding-left:56px;
	&>h3{
		font-size: 48px;
		font-weight: 300;
		color: rgb(49, 68, 81);
		padding: 30px 0;
		margin-left: -56px;
		padding-left: 56px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	.company-product{
		padding:32px 56px 32px 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		&:last-child{
			border-bottom: none;
		}
	}

}

.page-header-wrapper{
	text-align: left;
	padding:50px 15px;
	position: relative;
	h1{
		font-size: 32px;
	}
}

.action-form{
  position: fixed;
  background: #fff;
  width:30%;
  max-width:500px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  h2{
    padding:40px 40px 0px 40px;
    font-weight: 300;
    margin: 0;
  }
  .btn-container{
    padding-bottom: 40px;
  }
  &.reveal {
    visibility: visible;
    opacity: 1;
  }
  @media only screen and (min-width:0px) and (max-width: 991px) {
    position: relative;
    width: auto;
    max-width: 500px;
    opacity: 1;
    visibility: visible;
  }
}

.brand-header{
	padding-right: 40px;
}

