body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'brandon-grotesque', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
body {
  color: #314451;
}
* {
  -webkit-backface-visibility: hidden;
}
body {
  background: #efeff4;
}
.car-form {
  position: absolute;
  right: 40px;
  bottom: -70px;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  width: 400px;
  height: 352px;
  padding: 40px;
  border-radius: 3px;
  z-index: 200;
}
.car-form.expand {
  width: 700px;
  height: 540px;
  bottom: -270px;
  right: 50%;
  -webkit-transform: translate3d(50%, 0, 0);
  -moz-transform: translate3d(50%, 0, 0);
  -ms-transform: translate3d(50%, 0, 0);
  -o-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
}
.car-form.expand .step1-wrapper {
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, 100px, 0);
}
.step1-wrapper {
  -moz-transition: -moz-transform 200ms cubic-bezier(0.23, 1, 0.32, 1), opacity 200ms cubic-bezier(0.23, 1, 0.32, 1), visibility 200ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.23, 1, 0.32, 1), opacity 200ms cubic-bezier(0.23, 1, 0.32, 1), visibility 200ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: -o-transform 200ms cubic-bezier(0.23, 1, 0.32, 1), opacity 200ms cubic-bezier(0.23, 1, 0.32, 1), visibility 200ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: -ms-transform 200ms cubic-bezier(0.23, 1, 0.32, 1), opacity 200ms cubic-bezier(0.23, 1, 0.32, 1), visibility 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 200ms cubic-bezier(0.23, 1, 0.32, 1), opacity 200ms cubic-bezier(0.23, 1, 0.32, 1), visibility 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.step2-wrapper {
  position: absolute;
  top: 40px;
  right: 40px;
  bottom: 40px;
  left: 40px;
}
.step2-wrapper .quote-vehicle-wrapper > ul,
.step2-wrapper .quote-vehicle-details-wrapper > ul,
.step2-wrapper .action-wrapper > ul {
  list-style-type: none;
  padding: 0;
}
.step2-wrapper .quote-vehicle-wrapper > ul li,
.step2-wrapper .quote-vehicle-details-wrapper > ul li,
.step2-wrapper .action-wrapper > ul li {
  display: inline-block;
}
.step2-wrapper .quote-vehicle-wrapper > ul li h3,
.step2-wrapper .quote-vehicle-details-wrapper > ul li h3,
.step2-wrapper .action-wrapper > ul li h3 {
  font-size: 20px;
  color: #0076ff;
}
.step1-wrapper ul {
  list-style-type: none;
  padding: 0;
}
.step1-wrapper ul li {
  font-size: 16px;
  padding: 5px 0px 5px 28px;
  cursor: pointer;
  background-image: url('/static/motor_product/img/checkbox-empty.png');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  position: relative;
}
.step1-wrapper ul li:hover {
  color: #0076ff;
}
.step1-wrapper ul li.active {
  background-image: url('/static/motor_product/img/checkbox-full.png');
}
a.btn-cfox.blue {
  background: #0076ff;
  border: none;
}
.btn {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-size: 16px;
  color: #ffffff;
  padding: 5px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.btn.small {
  font-size: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 3px 5px;
  margin-left: 5px;
}
.btn:hover {
  text-decoration: none;
  color: #ffffff;
}
.btn.blue {
  color: #fff;
  background-color: #0076ff;
  border: 1px solid #006ae6;
}
.btn.blue:hover {
  background: #006ae6;
}
.btn.blue:active {
  background: #005ecc;
}
.btn.blue.empty {
  background: transparent;
  color: #0076ff;
  border: 1px solid #0076ff;
}
.btn.blue.empty:hover {
  background: #0076ff;
  color: #fff;
}
.btn.grey {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #314451;
}
.btn.grey:hover {
  background: #e0e0ea;
}
.btn.grey:active {
  background: #d1d1df;
}
.btn.muted-green {
  background-color: #00d9aa;
  border: 1px solid #00c096;
}
