/* Color scheme definitions */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
body {
  font-size: 14px;
}
.mnone {
  margin: 0px;
}
.pnone {
  padding: 0px;
}
/* button styling css */
.btn-coverfox.orange {
  padding: 8px 15px;
}
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
/* box stylings */
.light-box,
.dark-box {
  padding: 10px 0px 40px;
  line-height: 1.6em;
}
.light-box h1,
.dark-box h1 {
  font-size: 32px;
  margin: 30px 0px;
  text-align: center;
  font-weight: 300;
  color: #363636;
  line-height: 1.4em;
}
.light-box .lead-para,
.dark-box .lead-para {
  color: #888888;
  font-size: 16px;
  line-height: 1.7em;
}
.light-box .lead-para strong,
.dark-box .lead-para strong {
  color: #363636;
}
.light-box {
  background: #ffffff;
  color: #363636;
}
.light-box .leader {
  color: #ff6127;
  line-height: 1.4em;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin: 40px 0px;
}
.light-box legend {
  font-size: 18px;
  color: #888888;
  line-height: 1.4em;
  border: 0px solid transparent;
}
.light-box legend + p {
  color: #363636;
}
.dark-box {
  background-color: #f9f9f9;
}
.color-highlight {
  color: #ff6127 !important;
}
/* basic elements styling */
.hero-wrapper {
  position: relative;
}
#topbar {
  padding: 10px 0;
  position: relative;
  margin-bottom: 15px;
}
#topbar .logo {
  float: left;
  text-align: center;
  width: 130px;
  margin-bottom: 5px;
}
#topbar .logo img {
  width: 100%;
}
#topbar .menuimg {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #363636;
  padding: 5px;
  top: 3px;
  right: 0px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#topbar #right-menu-items {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
}
#topbar #right-menu-items li {
  display: inline-block;
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
  margin: 0;
  padding-right: 40px;
  text-align: right;
  position: relative;
}
#topbar #right-menu-items li a {
  font-size: 16px;
  display: block;
  color: #363636;
  padding: 0px;
}
#topbar #right-menu-items li a:hover {
  text-decoration: none;
  cursor: default;
}
#topbar .irda-auth-badge {
  letter-spacing: 0;
  width: 215px;
  vertical-align: bottom;
  text-align: left;
  float: left;
  margin-left: 20px;
  font-size: 12px;
}
.companies-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}
.companies-wrapper ul.company-logos {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.companies-wrapper ul.company-logos li {
  display: inline-block;
  padding: 15px;
  position: relative;
}
.companies-wrapper ul.company-logos li img {
  height: 40px;
}
.free-services {
  background: #e4ded9;
  padding: 10px 0px 40px;
  line-height: 1.6em;
  color: #877f7f;
  font-size: 14px;
}
.free-services h1 {
  font-size: 32px;
  margin: 30px 0px;
  text-align: center;
  font-weight: 400;
  color: #877f7f;
  line-height: 1.4em;
}
.free-services h1 .badger {
  padding: 0px 5px;
  margin: 0px 5px;
  display: inline-block;
  font-size: 34px;
}
.free-services h1 .logo {
  display: inline-block;
  height: 34px;
  margin: 0px 0px;
  position: relative;
  top: -6px;
}
.free-services h1 .bag {
  display: inline-block;
  height: 70px;
  margin-top: -10px;
}
.free-services .proposition {
  margin: 20px auto 30px;
  padding: 0px;
  text-align: center;
  max-width: 320px;
}
.free-services .proposition > img {
  max-width: 150px;
  display: block;
  margin: auto;
}
.free-services .proposition > h4 {
  display: block;
  line-height: 1.2em;
  margin: 10px auto;
  font-size: 20px;
  color: #333333;
  font-weight: 400;
}
.illustration-wrapper {
  background-color: #f9f9f9;
  text-align: center;
  color: #363636;
  font-size: 14px;
  padding: 10px 0px 40px;
  line-height: 1.6em;
}
.illustration-wrapper .icon-box {
  margin: 40px 0 25px;
}
.illustration-wrapper .icon-box img {
  width: 130px;
  display: block;
  margin: auto;
}
.illustration-wrapper .icon-box h4 {
  text-transform: uppercase;
  font-size: 20px;
  margin: 5px 0px;
  font-weight: 700;
}
.illustration-wrapper .icon-box h4.icon3 {
  color: #ff0000;
}
.illustration-wrapper .icon-box h4.icon1 {
  color: #008000;
}
.illustration-wrapper .icon-box h4.icon2 {
  color: #e2ae31;
}
.illustration-wrapper .h-icon1 {
  color: #008000;
}
.illustration-wrapper .h-icon3 {
  color: #ff0000;
}
.illustration-wrapper .h-icon2 {
  color: #e2ae31;
}
.illustration-wrapper h5 {
  font-size: 20px;
  text-transform: uppercase;
}
.illustration-wrapper p {
  padding: 0px 20px;
}
.testimonials-section .testimonial-item {
  position: relative;
  max-width: 250px;
  margin: 20px auto 20px;
}
.testimonials-section .testimonial-item img {
  width: 100%;
}
.testimonials-section .testimonial-item .comment {
  background: #24afff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  padding: 20px;
  color: #fff;
}
.testimonials-section .testimonial-item .comment.left {
  left: -30px;
  right: 30px;
}
.testimonials-section .testimonial-item .comment.right {
  right: -30px;
  left: 30px;
}
.testimonials-section .testimonial-item .comment p.title {
  font-weight: bold;
}
.footer {
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: #999999;
}
/* mobile optimisation */
@media screen and (min-width: 200px) and (max-width: 991px) {
  #right-menu-items li {
    display: block;
    margin-bottom: 10px;
  }
  .companies-wrapper {
    height: 130px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 40px;
  }
  #topbar .logo {
    float: none;
    margin-bottom: 3px;
  }
  #topbar .irda-auth-badge {
    width: 200;
    position: relative;
    float: none;
    margin: 0px;
    font-size: 12px;
    color: #999999;
  }
  #topbar .irda-auth-badge br {
    display: none;
  }
  .testimonials-section .testimonial-item .comment {
    padding: 10px 15px;
    font-size: 12px;
  }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
  .companies-wrapper {
    height: 130px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px 15px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 45px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  body,
  html {
    min-width: 320px;
  }
  #topbar {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #topbar .logo {
    width: 120px;
  }
  #topbar .menuimg {
    width: 25px;
    height: 25px;
  }
  #topbar #right-menu-items li {
    padding-right: 30px;
  }
  #topbar #right-menu-items li a {
    font-size: 14px;
  }
  .companies-wrapper {
    height: 130px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 40px;
  }
}
@media screen and (min-width: 200px) and (max-width: 519px) {
  .companies-wrapper {
    height: auto;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 30px;
  }
}
.go_big {
  font-size: 18px;
  font-weight: 500;
}
.toll-free-box a {
  color: #363636;
  text-decoration: none;
  cursor: default;
}
