@import "base_theme";
.mnone{
  margin: 0;
}
.breadcrums_container{
  background-color: #314451;
  padding: 5px 0 0;
  a{
    span{
      color:#fff;
    }
  }
}
.mnone{
  margin: 0;
}
.cf-radio{
  margin-right: 10px;
  font-size: 14px;
}
.cf-select-dd{
  margin-bottom: 24px;
}
.error-text{
  margin-top: -15px;
  line-height: 16px;
}
.cf-special-ip.selected{
  margin-bottom: 24px;
}
.btn.orange, .big{
  max-width: 230px;
  margin-top: 10px;
}
.bg_light{
  background: #e6e6e6 url('/static/flatpages/img/car-lp-bg.jpg') no-repeat left top;
  position: relative;
   h1{
    margin: 40px 0 10px 38px;
    color:#fff;
    font-size: 42px;
    text-shadow:0 0 2px #000;
    -webkit-text-shadow:0 0 2px #000;
    -moz-text-shadow:0 0 2px #000;
  }
}
.bg_top_band{
    background-color: #fff;
    max-width: 1100px;
    margin: auto;
    padding: 19px 0 19px 19px;
    border:1px solid #314452;
    h5{
      font-size: 22px;
    }
    .car_name{
      #default_bike{
        margin-top: 100px;
      }
      img{
        margin:0;
      }
    }
}
.logo_section_list{
  position: relative;
  min-height: 100%;
  background-color: #e6e6e6;
  padding: 30px 0;
  .logo_list{
    text-align: center;
    .logo_container{
      width:13%;
      display: inline-block;
      padding: 10px;
      background-color: #fff;
      margin-right: 10px;
      img{
        margin: auto;
        height: 42px;
      }
    }
  }
  .btn_container{
    margin: 50px 0 0;
    text-align: center;
    a{
      background: #ff6127;
      padding: 10px 40px;
      font-size: 18px;
      color:#fff;
      font-weight: bold;
      display: block;
      max-width: 500px;
      margin: auto;
    }
  }
}
.form-box-mini {
  h3{
    font-size: 21px;
  }
  h2{
    font-size: 18px;
    margin: 0 0 20px;
  }
  background-color: transparent;
  .roundedCorners(4px);
  label {
    margin-bottom:5px;
    display: block;
    color: #404040;
    font-weight: 400;
  }
  .closer {
    color: @lightTextColor;
    margin-top: 15px;
    font-size: 12px;
  }
  .btn-cfox.btn-next {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom:10px;
    max-width: 280px;
    padding: 5px;
  }
  ul {
    padding:0;
    margin-bottom: 10px;
    & li {
      background-image: none;
      color: @textColor;
      cursor: pointer;
      list-style-type: none;
      padding-left: 30px;
      position: relative;
      padding-top: 0;
      height: 35px;
      font-size: 14px;
      & .checkbox {
        position: absolute;
        top: 4px;
        left: 0px;
        width: 14px;
        height: 14px;
        margin: 0px;
        background-color: #ffffff;
        border: 1px solid rgba(0,0,0,0.3);
        .roundedCorners(50%);
        &:before {
          content:'';
          position: absolute;
          top:3px;
          left:3px;
          .roundedCorners(50%);
          width:6px;
          height:6px;
          display: none;
          background-color: @baseThemeColor;
        }
      }
      &.active {
        font-weight: 700;
        & .checkbox {
          &:before {
            display: block;
          }
        }
      }
    }
  }
  .error {
    background-color: rgb(233, 150, 176);
    color: rgba(0, 0, 0, 0.58);
    padding: 5px;
    font-size: 10px;
    line-height: 20px;
    margin-bottom: 10px;
    .roundedCorners(3px);
    max-width: 280px;
  }
  .cfinput {
    max-width: 280px;
    border: 1px solid rgba(0,0,0,0.5);
    padding:10px 5px;
    background-color: #ffffff;
    .roundedCorners(3px);
    margin-bottom:10px;
    &.has-error {
      border-color: #8b0000;
      background-color: #FFE2EB;
    }
    &.addon-field {
      padding-left:40px;
      position: relative;
    }
    .addon {
      font-size: 14px;
      color:#363636;
      position: absolute;
      top:11px;
      left:8px;
    }
    input {
      border: 0;
      color: #363636;
      background-color: transparent;
      width: 100%;
      &:hover,&:focus,&:active {
        outline: none;
      }
    }
  }
}
.breadcrums-link{
  span{
    a{
      color:#303d46;
    }
  }
}
#topbar {
  padding: 10px 0;
  position: relative;
  z-index: 1;
  .logo {
    float: left;
    text-align: center;
    width: 130px;
    margin-top: 2px;
    margin-bottom: 3px;
    & img {
      width:100%;
    }
  }
  .menuimg {
    position: absolute;
    height: 30px;
    width:30px;
    background-color: @textColor;
    padding: 5px;
    top:3px;
    right:0px;
    .roundedCorners(30px);
  }
  #right-menu-items {
    padding-left:10px;
    margin-top:0px;
    margin-bottom:0px;
    text-align: right;
    float: right;
    margin-left:-70px;
  }
  #right-menu-items li {
    display: inline-block;
    font-size: 10px;
    color: #999999;
    text-transform: uppercase;
    margin: 0;
    padding-right:40px;
    text-align: right;
    position: relative;
  }

  #right-menu-items li a {
    font-size: 16px;
    display: block;
    color: @textColor;
    padding:0px;
    &:hover {
      text-decoration: none;
      cursor: default;
    }
  }
  .irda-auth-badge {
    letter-spacing: 0;
    width:215px;
    vertical-align: bottom;
    text-align: left;
    float: left;
    margin-left: 20px;
    font-size:12px;
  }
  #right-menu-items {
    & li.pipe-link {
      padding:5px 10px;
      &.seperator {
        border-right: 1px solid #eaeaea;
        margin: 0px 10px;
        height: 30px;
        padding: 0;
      }
      & a {
        display: inline-block;
        font-size: 13px;
        cursor: pointer;
        font-weight: 600;
        position: relative;
        top: -10px;
      }
      & a:hover {
        text-decoration: none;
        color: @baseThemeColor;
      }
    }
  }
  .navbar-toggle {
    display: none;
    margin-right:10px;
    padding:0px;
    height:34px;
    width:34px;
    text-align: center;
    background-color: #f3f3f3;
    border: 1px solid rgba(0,0,0,0);
    .boxShadow(0 1px 1px rgba(0,0,0,0.3));
    cursor: pointer;
    .roundedCorners(3px);
    &:active,&:focus,&:hover {
      outline: none;
    }
    & .bar {
      content: "";
      position: absolute;
      -webkit-transition: all;
      -o-transition: all;
      transition: all;
      -webkit-transition-duration: 300ms;
      transition-duration: 300ms;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      top: 15px;
      display: inline-block;
      width: 15px;
      height: 3px;
      background-color: @textColor;
      left: 9px;

      &.plus {
        .transform(scale(1));
        &:before {
          content: '';
          display: inline-block;
          height: 16px;
          width: 3px;
          background-color: inherit;
          top: -7px;
          left: 6px;
          position: absolute;
        }
      }
      &.minus {
        .transform(scale(0));
      }
    }
    &.active {
      & .bar.plus {
        .transform(scale(0) rotate(-90deg));
      }
      & .bar.minus {
        .transform(scale(1));
      }
    }
  }
  .pipe-menu-right {
    .cubic-trans;
    position: relative;
    text-align: left;
    margin:0 -15px 0px;
    padding: 0px;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    opacity: 0;
    visibility:hidden;
    .transform(scaleY(0));
    height: 0px;
    overflow: hidden;
    border-bottom:1px solid rgba(0,0,0,0.07);
    &.active {
      overflow:visible;
      margin-top:10px;
      margin-bottom: -10px;
      height:auto;
      opacity: 1;
      visibility:visible;
      top:100%;
      .transform(scaleY(1));
    }
    & li {
      display:block;
      padding:0px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0px;
      & a {
        display: block;
        padding: 15px;
        background-color: #f7f7f7;
        border-top:1px solid rgba(0,0,0,0.05);
        &:hover,&:focus,&:active {
          color: @baseThemeColor;
          text-decoration: none;
        }
      }
    }
  }
}
.bg_white{
  background: #fff;
  padding: 30px;
  .details_text{
    p{
      font-size: 16px;
    }
    table{
      td,th{
        padding: 5px 10px;
      }
    }
  }
}
@media screen and (min-width: 200px) and (max-width: 1000px) {
  .logo{
    img{
      max-width: 120px;
    }
  }
  .logo_section_list .logo_list .logo_container{
    width:12%;
  }
  .bg_light {
    h1{
      margin: 20px 0;
    }
  }
  }
@media screen and (min-width: 200px) and (max-width: 991px) {
  .bg_top_band .car_name img {
    margin:60px auto 0;
    max-width: 400px;
    display: block;
    width:100%;
  }
  #default_bike{
    margin:60px auto 0;
  }

}
@media screen and (min-width: 200px) and (max-width: 767px) {
  .bg_white{
    padding: 15px;
    .details_text{
      table{
        tr{
          td{
            p{
              font-size: 12px;
              line-height: 13px;
            }
          }
        }
      }
    }
  }
  .bg_light {
    h1{
      font-size: 22px;
      margin: 10px 0;
      text-align: center;
    }
  }
 .logo_section_list {
    .btn_container {
      margin: 10px 0;
      a{
        margin: auto 15px;
      }
    }
    .logo_list{

      .logo_container{
          margin:15px;
          width:90%;
      }
    }
  }
  .btn-cfox.orange{
    margin: 0 15px;
    width:90%;
  }
  .bg_top_band{
    margin: 15px;
    .car_name{
      img{
        margin: 0;
      }
      #default_bike{
        margin: 0;
      }
    }
    h3{
      font-size: 15px;
    }
    h2{
      font-size: 13px;
    }
  }
  .form-box-mini {
    .cfinput{
      max-width:100%;
    }
    .error{
       max-width:100%;
    }

  }
  .form-box-mini .btn-cfox.btn-next{
    max-width: 100%;
  }
  .breadcrums-link{
    display: none;
  }
  .logo img {
    max-width: 94px;
}
.details_text{
  table{
    width:100%;
  }
}
}


