/* Color scheme definitions */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
.mnone {
  margin: 0;
}
.breadcrums_container {
  background-color: #314451;
  padding: 5px 0 0;
}
.breadcrums_container a span {
  color: #fff;
}
.mnone {
  margin: 0;
}
.cf-radio {
  margin-right: 10px;
  font-size: 14px;
}
.cf-select-dd {
  margin-bottom: 24px;
}
.error-text {
  margin-top: -15px;
  line-height: 16px;
}
.cf-special-ip.selected {
  margin-bottom: 24px;
}
.btn.orange,
.big {
  max-width: 230px;
  margin-top: 10px;
}
.bg_light {
  background: #e6e6e6 url('/static/flatpages/img/car-lp-bg.jpg') no-repeat left top;
  position: relative;
}
.bg_light h1 {
  margin: 40px 0 10px 38px;
  color: #fff;
  font-size: 42px;
  text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
  -moz-text-shadow: 0 0 2px #000;
}
.bg_top_band {
  background-color: #fff;
  max-width: 1100px;
  margin: auto;
  padding: 19px 0 19px 19px;
  border: 1px solid #314452;
}
.bg_top_band h5 {
  font-size: 22px;
}
.bg_top_band .car_name #default_bike {
  margin-top: 100px;
}
.bg_top_band .car_name img {
  margin: 0;
}
.logo_section_list {
  position: relative;
  min-height: 100%;
  background-color: #e6e6e6;
  padding: 30px 0;
}
.logo_section_list .logo_list {
  text-align: center;
}
.logo_section_list .logo_list .logo_container {
  width: 13%;
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  margin-right: 10px;
}
.logo_section_list .logo_list .logo_container img {
  margin: auto;
  height: 42px;
}
.logo_section_list .btn_container {
  margin: 50px 0 0;
  text-align: center;
}
.logo_section_list .btn_container a {
  background: #ff6127;
  padding: 10px 40px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  display: block;
  max-width: 500px;
  margin: auto;
}
.form-box-mini {
  background-color: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.form-box-mini h3 {
  font-size: 21px;
}
.form-box-mini h2 {
  font-size: 18px;
  margin: 0 0 20px;
}
.form-box-mini label {
  margin-bottom: 5px;
  display: block;
  color: #404040;
  font-weight: 400;
}
.form-box-mini .closer {
  color: #6b6b6b;
  margin-top: 15px;
  font-size: 12px;
}
.form-box-mini .btn-cfox.btn-next {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  max-width: 280px;
  padding: 5px;
}
.form-box-mini ul {
  padding: 0;
  margin-bottom: 10px;
}
.form-box-mini ul li {
  background-image: none;
  color: #363636;
  cursor: pointer;
  list-style-type: none;
  padding-left: 30px;
  position: relative;
  padding-top: 0;
  height: 35px;
  font-size: 14px;
}
.form-box-mini ul li .checkbox {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 14px;
  height: 14px;
  margin: 0px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.form-box-mini ul li .checkbox:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  display: none;
  background-color: #ff6127;
}
.form-box-mini ul li.active {
  font-weight: 700;
}
.form-box-mini ul li.active .checkbox:before {
  display: block;
}
.form-box-mini .error {
  background-color: #e996b0;
  color: rgba(0, 0, 0, 0.58);
  padding: 5px;
  font-size: 10px;
  line-height: 20px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  max-width: 280px;
}
.form-box-mini .cfinput {
  max-width: 280px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px 5px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.form-box-mini .cfinput.has-error {
  border-color: #8b0000;
  background-color: #FFE2EB;
}
.form-box-mini .cfinput.addon-field {
  padding-left: 40px;
  position: relative;
}
.form-box-mini .cfinput .addon {
  font-size: 14px;
  color: #363636;
  position: absolute;
  top: 11px;
  left: 8px;
}
.form-box-mini .cfinput input {
  border: 0;
  color: #363636;
  background-color: transparent;
  width: 100%;
}
.form-box-mini .cfinput input:hover,
.form-box-mini .cfinput input:focus,
.form-box-mini .cfinput input:active {
  outline: none;
}
.breadcrums-link span a {
  color: #303d46;
}
#topbar {
  padding: 10px 0;
  position: relative;
  z-index: 1;
}
#topbar .logo {
  float: left;
  text-align: center;
  width: 130px;
  margin-top: 2px;
  margin-bottom: 3px;
}
#topbar .logo img {
  width: 100%;
}
#topbar .menuimg {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #363636;
  padding: 5px;
  top: 3px;
  right: 0px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#topbar #right-menu-items {
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
  float: right;
  margin-left: -70px;
}
#topbar #right-menu-items li {
  display: inline-block;
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
  margin: 0;
  padding-right: 40px;
  text-align: right;
  position: relative;
}
#topbar #right-menu-items li a {
  font-size: 16px;
  display: block;
  color: #363636;
  padding: 0px;
}
#topbar #right-menu-items li a:hover {
  text-decoration: none;
  cursor: default;
}
#topbar .irda-auth-badge {
  letter-spacing: 0;
  width: 215px;
  vertical-align: bottom;
  text-align: left;
  float: left;
  margin-left: 20px;
  font-size: 12px;
}
#topbar #right-menu-items li.pipe-link {
  padding: 5px 10px;
}
#topbar #right-menu-items li.pipe-link.seperator {
  border-right: 1px solid #eaeaea;
  margin: 0px 10px;
  height: 30px;
  padding: 0;
}
#topbar #right-menu-items li.pipe-link a {
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  top: -10px;
}
#topbar #right-menu-items li.pipe-link a:hover {
  text-decoration: none;
  color: #ff6127;
}
#topbar .navbar-toggle {
  display: none;
  margin-right: 10px;
  padding: 0px;
  height: 34px;
  width: 34px;
  text-align: center;
  background-color: #f3f3f3;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#topbar .navbar-toggle:active,
#topbar .navbar-toggle:focus,
#topbar .navbar-toggle:hover {
  outline: none;
}
#topbar .navbar-toggle .bar {
  content: "";
  position: absolute;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 15px;
  display: inline-block;
  width: 15px;
  height: 3px;
  background-color: #363636;
  left: 9px;
}
#topbar .navbar-toggle .bar.plus {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#topbar .navbar-toggle .bar.plus:before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 3px;
  background-color: inherit;
  top: -7px;
  left: 6px;
  position: absolute;
}
#topbar .navbar-toggle .bar.minus {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
#topbar .navbar-toggle.active .bar.plus {
  -webkit-transform: scale(0) rotate(-90deg);
  -moz-transform: scale(0) rotate(-90deg);
  -ms-transform: scale(0) rotate(-90deg);
  -o-transform: scale(0) rotate(-90deg);
  transform: scale(0) rotate(-90deg);
}
#topbar .navbar-toggle.active .bar.minus {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#topbar .pipe-menu-right {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  text-align: left;
  margin: 0 -15px 0px;
  padding: 0px;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  height: 0px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
#topbar .pipe-menu-right.active {
  overflow: visible;
  margin-top: 10px;
  margin-bottom: -10px;
  height: auto;
  opacity: 1;
  visibility: visible;
  top: 100%;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
}
#topbar .pipe-menu-right li {
  display: block;
  padding: 0px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0px;
}
#topbar .pipe-menu-right li a {
  display: block;
  padding: 15px;
  background-color: #f7f7f7;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
#topbar .pipe-menu-right li a:hover,
#topbar .pipe-menu-right li a:focus,
#topbar .pipe-menu-right li a:active {
  color: #ff6127;
  text-decoration: none;
}
.bg_white {
  background: #fff;
  padding: 30px;
}
.bg_white .details_text p {
  font-size: 16px;
}
.bg_white .details_text table td,
.bg_white .details_text table th {
  padding: 5px 10px;
}
@media screen and (min-width: 200px) and (max-width: 1000px) {
  .logo img {
    max-width: 120px;
  }
  .logo_section_list .logo_list .logo_container {
    width: 12%;
  }
  .bg_light h1 {
    margin: 20px 0;
  }
}
@media screen and (min-width: 200px) and (max-width: 991px) {
  .bg_top_band .car_name img {
    margin: 60px auto 0;
    max-width: 400px;
    display: block;
    width: 100%;
  }
  #default_bike {
    margin: 60px auto 0;
  }
}
@media screen and (min-width: 200px) and (max-width: 767px) {
  .bg_white {
    padding: 15px;
  }
  .bg_white .details_text table tr td p {
    font-size: 12px;
    line-height: 13px;
  }
  .bg_light h1 {
    font-size: 22px;
    margin: 10px 0;
    text-align: center;
  }
  .logo_section_list .btn_container {
    margin: 10px 0;
  }
  .logo_section_list .btn_container a {
    margin: auto 15px;
  }
  .logo_section_list .logo_list .logo_container {
    margin: 15px;
    width: 90%;
  }
  .btn-cfox.orange {
    margin: 0 15px;
    width: 90%;
  }
  .bg_top_band {
    margin: 15px;
  }
  .bg_top_band .car_name img {
    margin: 0;
  }
  .bg_top_band .car_name #default_bike {
    margin: 0;
  }
  .bg_top_band h3 {
    font-size: 15px;
  }
  .bg_top_band h2 {
    font-size: 13px;
  }
  .form-box-mini .cfinput {
    max-width: 100%;
  }
  .form-box-mini .error {
    max-width: 100%;
  }
  .form-box-mini .btn-cfox.btn-next {
    max-width: 100%;
  }
  .breadcrums-link {
    display: none;
  }
  .logo img {
    max-width: 94px;
  }
  .details_text table {
    width: 100%;
  }
}
