@import "base_theme";
/* car banner css */
.doc-banner{
    h2{
    color: #222;
    font-weight: 700;
    text-align: center;
    margin: 30px 15px 20px;
    font-size: 40px;
    }
    }
.hero-banner {
  padding:0;
  background-color: #27343e;
  & img.tag-cloud {
    width:100%;
    display: block;
    max-width: 500px;
    margin: auto;
  }
  & .club-form {
    color: #ffffff;
    padding:40px 15px 40px;

    & h1 {
      font-size:32px;
      letter-spacing: 1px;
      line-height: 1.2em;
      font-weight: 300;
      margin:20px 0 20px;
    }
    & a.no-thanks {
      cursor: pointer;
      font-size:14px;
      color: #fff;
      letter-spacing: 1px;
      &:hover {
        text-decoration:none;
        color:#fff;
        outline: none;
      }
    }
  }
}
.form-box-mini {
  padding: 30px 0px 10px;
  max-width: 450px;
  label {
    font-size:12px;
    margin-bottom:5px;
    display: block;
    font-weight: 400;
  }
  .closer {
    display: none;
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
  }
  .btn-cfox.btn-next {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom:10px;
    margin-top:15px;
  }

  .error {
    background-color: rgb(233, 150, 176);
    color: rgba(0, 0, 0, 0.58);
    padding: 5px;
    margin-bottom: 10px;
    .roundedCorners(3px);
  }
  .cfinput {
    border: 2px solid #ffffff;
    padding:14px 5px;
    background-color: rgba(0,0,0,0.2);
    .roundedCorners(3px);
    margin-bottom:10px;
    &.has-error {
      border-color: #8b0000;
      background-color: #FFE2EB;
    }
    &.addon-field {
      padding-left:40px;
      position: relative;
    }
    .addon {
      color:#ffffff;
      font-size: 14px;
      position: absolute;
      top:16px;
      left:8px;
    }
    input {
      border: 0;
      color: #ffffff;
      background-color: transparent;
      width: 100%;
      &:hover,&:focus,&:active {
        outline: none;
      }
    }
  }
}
.terms-msg{
  font-size:10px;
  margin-bottom: 15px;
}
.breadcrums-link{
  display: none;
}
#mini-top-bar {
  margin-top: 0;
}
.companies-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(0,0,0,0.05);

  ul.company-logos {
    list-style-type: none;
    text-align: center;
    padding: 0;
    & li {
      display: inline-block;
      padding: 15px;
      position: relative;
      & img {
        height: 50px;
      }
    }
  }
}
.benefits-wrapper {
  background-color: #314451;
  h2{
    color: #FFFFFF;
    font-size: 40px;
    margin: 20px 0 40px;
    text-align: center;
    font-weight: 300;
  }
  img {
    max-width: 180px;
    display: block;
    margin: auto;
    width: 100%;
    .roundedCorners(100%);
    border: 2px solid #E28766;
    background-color: #ffffff;
    padding: 5px;
  }
  h4 {
    text-align: center;
    margin: 15px 0 15px 0;
    font-weight: 600;
    line-height: 1.4em;
    color: #FFFFFF;
    font-size: 18px;
  }
}

.three-steps {
  padding: 30px;
  h2 {
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    margin:30px 0;
    font-weight: 300;
    & img {
      margin-top:-6px;
      width: 130px;
      display: inline-block;
    }
    .small {
      font-size: 18px;
      color: #aaa;
      text-transform: none;
      font-weight: 400;
      margin: 10px 0;
    }
  }
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 20px auto 60px;
    min-width: 720px;
    text-align: center;
    & li {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin:0px;
      & .step_number {
        color: #fff;
        background-color: @baseThemeColor;
        padding:5px 12px;
        font-size: 20px;
        font-weight:400;
        position: absolute;
        z-index: 10;
        top:4px;
        left:4px;
        .roundedCorners(100%);
      }
      &.middle-cir {
        margin:0 120px;
      }
      & > div {
        border: 1px solid rgba(0,0,0,0.02);
        .roundedCorners(100%);
        padding:65px 10px;
        text-align: center;
        width: 190px;
        font-size: 14px;
        height: 190px;
        line-height: 1.5em;
        top: 0px;
        left: 0px;
        position: relative;
        background-color: #f3f3f3;
        z-index:2;
        &:after {
          position: absolute;
          content: '';
          display: block;
          border-top: 1px solid #666;
          width: 115px;
          margin-left: 5px;
          left: 100%;
          top: 50%;
          z-index: 1;
        }
        &:before {
          position: absolute;
          content:'';
          display: block;
          border-width:5px;
          border-style: solid;
          border-color:transparent transparent transparent #555;
          left:-10px;
          top:50%;
          margin-top: -5px;
          z-index: 1;
        }
        &.no-link:after,&.no-link-arr:before {
          display: none;
        }
        &.padding-top {
          padding-top:60px;
        }
      }
    }
  }
}
.heath-btn-container {
  margin: 40px 0 0;
}
.why-coverfox {
  .btn-cfox.orange {
    .btn-bg-less;
  }
}
.testimonials-section {
  padding: 20px 0 30px;
  background-color: #f9f9f9;
  border-top: 1px solid rgba(0,0,0,0.02);
  border-bottom: 1px solid rgba(0,0,0,0.02);
  p{
    font-size: 14px;
    line-height: 20px;
    
  }
  h2{
    font-weight: 300;
    color: #363636;
    line-height: 1.4em;
    text-align: center;
    margin: 0 0 40px;
  }
  & .testimonial-item {
    max-width: 400px;
    position: relative;
    margin: 0px auto 30px;
    min-height: 160px;
    & img {
      width:100px;
      position: absolute;
    }
    & .comment {
      line-height: 1.4em;
      position: relative;
      padding-left: 15px;
      margin-left: 100px;
      color: #666;
      & p.title {
        font-style: italic;
        font-weight: 600;
      }
      & img {
        display: block;
        position: relative;
        width: 30px;
        top:-10px;
        opacity: 0.5;
      }
    }
  }
  .testimonial_action_btn {
    position: relative;
    top:10px;
  }
  .btn-cfox.orange {
    .btn-bg-less;
  }
}
@media screen and (min-width: 200px) and (max-width: 1000px) {
  .logo{
    img{
      max-width: 120px;
    }
  }
   .companies-wrapper {
    height:auto;
    & ul.company-logos li {
      padding: 10px;
      img {
        height: 50px;
      }
    }
  }
  .three-steps ul li.middle-cir {
    margin: 0 70px;
  }
  .three-steps ul li > div:after {
    width: 65px;
  }
  }
@media screen and (min-width: 200px) and (max-width: 1200px) {
  .car_name{
      margin: 90px 0 0 0;
    .round{
      font-size: 29px;
      padding:30px  12px;
    }
  }
  }
@media screen and (min-width: 200px) and (max-width: 767px) {
  .lp-sub-title-wrapper {
    padding: 33px 0 0 0;
  }
  .lp-b1-wrapper{
    padding: 0;
  }
  .heath-btn-container{
    margin-bottom: 30px;
  }
  .three-steps{
    padding: 0;
  }
  .company_logos{
    margin: 0;
    h3{
      margin: 0 0 20px;
    }
    ul{
      li{
        padding-left: 0;
      }
    }
  }
  .form-box-mini {
    .cfinput{
      max-width:100%;
    }
    .error{
       max-width:100%;
    }

  }
  .form-box-mini .btn-cfox.btn-next{
    max-width: 100%;
  }

  .car_name{
      margin: 10px 0 0 0;
    .round{
      font-size: 23px;
      padding: 15px;
    }
  }
   .companies-wrapper {
    height:auto;
    & ul.company-logos li {
      padding: 5px;
      img {
        height: 40px;
      }
    }
  }
  .wow .call_me_btn_expert.btn-cfox {
    margin-top:10px;
  }
  & .three-steps {
    & h1 {
      font-size: 26px;
      margin-bottom:0px;
    }
    & ul {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      padding: 0px 0px 0px 30px;
      margin: 30px 0px 20px;
      & li {
        position: relative;
        float: none;
        width: 100%;
        margin: 0px;
        & .step_number {
          top:0px;
          left:0px;
        }
        & strong {
          top: 0px;
        }
        & > div {
          border-width: 0px;
          padding: 7px 20px 7px 45px;
          text-align: left;
          margin-bottom: 10px;
          width: auto;
          font-size: 16px;
          height: auto;
          line-height: 1.5em;
          top: 0px;
          left: 0px;
          position: relative;
          background-color: transparent;
          &:after,&:before {
            display: none;
          }
          &.padding-top {
            padding-top: 7px;
          }
        }
        &.middle-cir {
          margin: 0;
        }
      }
    }
  }
  .benefits-wrapper h1{
    font-size: 26px;
  }
  .testimonials-section {
    & .testimonial-item {
      & .comment {
        font-size: 13px;
      }
    }
  }
}


