/* Color scheme definitions */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* car banner css */
.doc-banner h2 {
  color: #222;
  font-weight: 700;
  text-align: center;
  margin: 30px 15px 20px;
  font-size: 40px;
}
.hero-banner {
  padding: 0;
  background-color: #27343e;
}
.hero-banner img.tag-cloud {
  width: 100%;
  display: block;
  max-width: 500px;
  margin: auto;
}
.hero-banner .club-form {
  color: #ffffff;
  padding: 40px 15px 40px;
}
.hero-banner .club-form h1 {
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 1.2em;
  font-weight: 300;
  margin: 20px 0 20px;
}
.hero-banner .club-form a.no-thanks {
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
}
.hero-banner .club-form a.no-thanks:hover {
  text-decoration: none;
  color: #fff;
  outline: none;
}
.form-box-mini {
  padding: 30px 0px 10px;
  max-width: 450px;
}
.form-box-mini label {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  font-weight: 400;
}
.form-box-mini .closer {
  display: none;
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
}
.form-box-mini .btn-cfox.btn-next {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 15px;
}
.form-box-mini .error {
  background-color: #e996b0;
  color: rgba(0, 0, 0, 0.58);
  padding: 5px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-box-mini .cfinput {
  border: 2px solid #ffffff;
  padding: 14px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.form-box-mini .cfinput.has-error {
  border-color: #8b0000;
  background-color: #FFE2EB;
}
.form-box-mini .cfinput.addon-field {
  padding-left: 40px;
  position: relative;
}
.form-box-mini .cfinput .addon {
  color: #ffffff;
  font-size: 14px;
  position: absolute;
  top: 16px;
  left: 8px;
}
.form-box-mini .cfinput input {
  border: 0;
  color: #ffffff;
  background-color: transparent;
  width: 100%;
}
.form-box-mini .cfinput input:hover,
.form-box-mini .cfinput input:focus,
.form-box-mini .cfinput input:active {
  outline: none;
}
.terms-msg {
  font-size: 10px;
  margin-bottom: 15px;
}
.breadcrums-link {
  display: none;
}
#mini-top-bar {
  margin-top: 0;
}
.companies-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.companies-wrapper ul.company-logos {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.companies-wrapper ul.company-logos li {
  display: inline-block;
  padding: 15px;
  position: relative;
}
.companies-wrapper ul.company-logos li img {
  height: 50px;
}
.benefits-wrapper {
  background-color: #314451;
}
.benefits-wrapper h2 {
  color: #FFFFFF;
  font-size: 40px;
  margin: 20px 0 40px;
  text-align: center;
  font-weight: 300;
}
.benefits-wrapper img {
  max-width: 180px;
  display: block;
  margin: auto;
  width: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #E28766;
  background-color: #ffffff;
  padding: 5px;
}
.benefits-wrapper h4 {
  text-align: center;
  margin: 15px 0 15px 0;
  font-weight: 600;
  line-height: 1.4em;
  color: #FFFFFF;
  font-size: 18px;
}
.three-steps {
  padding: 30px;
}
.three-steps h2 {
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  margin: 30px 0;
  font-weight: 300;
}
.three-steps h2 img {
  margin-top: -6px;
  width: 130px;
  display: inline-block;
}
.three-steps h2 .small {
  font-size: 18px;
  color: #aaa;
  text-transform: none;
  font-weight: 400;
  margin: 10px 0;
}
.three-steps ul {
  list-style-type: none;
  padding: 0px;
  margin: 20px auto 60px;
  min-width: 720px;
  text-align: center;
}
.three-steps ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
}
.three-steps ul li .step_number {
  color: #fff;
  background-color: #ff6127;
  padding: 5px 12px;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  z-index: 10;
  top: 4px;
  left: 4px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.three-steps ul li.middle-cir {
  margin: 0 120px;
}
.three-steps ul li > div {
  border: 1px solid rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  padding: 65px 10px;
  text-align: center;
  width: 190px;
  font-size: 14px;
  height: 190px;
  line-height: 1.5em;
  top: 0px;
  left: 0px;
  position: relative;
  background-color: #f3f3f3;
  z-index: 2;
}
.three-steps ul li > div:after {
  position: absolute;
  content: '';
  display: block;
  border-top: 1px solid #666;
  width: 115px;
  margin-left: 5px;
  left: 100%;
  top: 50%;
  z-index: 1;
}
.three-steps ul li > div:before {
  position: absolute;
  content: '';
  display: block;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555;
  left: -10px;
  top: 50%;
  margin-top: -5px;
  z-index: 1;
}
.three-steps ul li > div.no-link:after,
.three-steps ul li > div.no-link-arr:before {
  display: none;
}
.three-steps ul li > div.padding-top {
  padding-top: 60px;
}
.heath-btn-container {
  margin: 40px 0 0;
}
.why-coverfox .btn-cfox.orange {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.why-coverfox .btn-cfox.orange:hover,
.why-coverfox .btn-cfox.orange:active {
  background-color: #ff6127;
  color: #fff;
}
.testimonials-section {
  padding: 20px 0 30px;
  background-color: #f9f9f9;
  border-top: 1px solid rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
}
.testimonials-section p {
  font-size: 14px;
  line-height: 20px;
}
.testimonials-section h2 {
  font-weight: 300;
  color: #363636;
  line-height: 1.4em;
  text-align: center;
  margin: 0 0 40px;
}
.testimonials-section .testimonial-item {
  max-width: 400px;
  position: relative;
  margin: 0px auto 30px;
  min-height: 160px;
}
.testimonials-section .testimonial-item img {
  width: 100px;
  position: absolute;
}
.testimonials-section .testimonial-item .comment {
  line-height: 1.4em;
  position: relative;
  padding-left: 15px;
  margin-left: 100px;
  color: #666;
}
.testimonials-section .testimonial-item .comment p.title {
  font-style: italic;
  font-weight: 600;
}
.testimonials-section .testimonial-item .comment img {
  display: block;
  position: relative;
  width: 30px;
  top: -10px;
  opacity: 0.5;
}
.testimonials-section .testimonial_action_btn {
  position: relative;
  top: 10px;
}
.testimonials-section .btn-cfox.orange {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.testimonials-section .btn-cfox.orange:hover,
.testimonials-section .btn-cfox.orange:active {
  background-color: #ff6127;
  color: #fff;
}
@media screen and (min-width: 200px) and (max-width: 1000px) {
  .logo img {
    max-width: 120px;
  }
  .companies-wrapper {
    height: auto;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 50px;
  }
  .three-steps ul li.middle-cir {
    margin: 0 70px;
  }
  .three-steps ul li > div:after {
    width: 65px;
  }
}
@media screen and (min-width: 200px) and (max-width: 1200px) {
  .car_name {
    margin: 90px 0 0 0;
  }
  .car_name .round {
    font-size: 29px;
    padding: 30px  12px;
  }
}
@media screen and (min-width: 200px) and (max-width: 767px) {
  .lp-sub-title-wrapper {
    padding: 33px 0 0 0;
  }
  .lp-b1-wrapper {
    padding: 0;
  }
  .heath-btn-container {
    margin-bottom: 30px;
  }
  .three-steps {
    padding: 0;
  }
  .company_logos {
    margin: 0;
  }
  .company_logos h3 {
    margin: 0 0 20px;
  }
  .company_logos ul li {
    padding-left: 0;
  }
  .form-box-mini .cfinput {
    max-width: 100%;
  }
  .form-box-mini .error {
    max-width: 100%;
  }
  .form-box-mini .btn-cfox.btn-next {
    max-width: 100%;
  }
  .car_name {
    margin: 10px 0 0 0;
  }
  .car_name .round {
    font-size: 23px;
    padding: 15px;
  }
  .companies-wrapper {
    height: auto;
  }
  .companies-wrapper ul.company-logos li {
    padding: 5px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 40px;
  }
  .wow .call_me_btn_expert.btn-cfox {
    margin-top: 10px;
  }
  .three-steps h1 {
    font-size: 26px;
    margin-bottom: 0px;
  }
  .three-steps ul {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    padding: 0px 0px 0px 30px;
    margin: 30px 0px 20px;
  }
  .three-steps ul li {
    position: relative;
    float: none;
    width: 100%;
    margin: 0px;
  }
  .three-steps ul li .step_number {
    top: 0px;
    left: 0px;
  }
  .three-steps ul li strong {
    top: 0px;
  }
  .three-steps ul li > div {
    border-width: 0px;
    padding: 7px 20px 7px 45px;
    text-align: left;
    margin-bottom: 10px;
    width: auto;
    font-size: 16px;
    height: auto;
    line-height: 1.5em;
    top: 0px;
    left: 0px;
    position: relative;
    background-color: transparent;
  }
  .three-steps ul li > div:after,
  .three-steps ul li > div:before {
    display: none;
  }
  .three-steps ul li > div.padding-top {
    padding-top: 7px;
  }
  .three-steps ul li.middle-cir {
    margin: 0;
  }
  .benefits-wrapper h1 {
    font-size: 26px;
  }
  .testimonials-section .testimonial-item .comment {
    font-size: 13px;
  }
}
