/* Color scheme definitions */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
.car_copy_container {
  margin: 20px 0;
}
.car_copy_container img {
  border: 1px solid #ddd;
  width: 100%;
  height: 400px;
}
.tab_bg_1 {
  background-color: #314451;
  padding: 30px;
}
.tab_bg_1 .left_container h3 {
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  color: #fff;
}
.tab_bg_1 .left_container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tab_bg_1 .left_container ul li {
  font-size: 16px;
  margin: 7px 0;
}
.tab_bg_1 .left_container ul li a {
  color: #fff;
  font-weight: 300;
}
.tab_bg_1 .right_container h2 {
  margin: 0 0 20px;
  color: #fff;
  font-size: 28px;
}
.tab_bg_1 .right_container h4 {
  color: #fff;
}
.tab_bg_1 .right_container input {
  max-width: 380px;
  width: 100%;
  height: 40px;
  border: 0;
  font-size: 16px;
  padding: 5px;
  outline: none;
  border-radius: 3px;
}
.tab_bg_1 .right_container .btn_nw {
  padding: 9px 20px;
  font-size: 16px;
  padding: 9px 52px;
  margin: 0 0 0 -6px;
  width: auto;
}
.tab_bg_1 .right_container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tab_bg_1 .right_container ul li {
  font-size: 16px;
  margin: 7px 0;
}
.tab_bg_1 .right_container ul li a {
  color: #fff;
}
.blog_container {
  padding: 30px;
}
.blog_container h3 {
  font-size: 40px;
  text-align: center;
  font-weight: 300;
  margin: 0 0 30px;
}
.blog_container img {
  border: 1px solid #999;
  width: 100px;
  height: 100px;
}
.blog_container span {
  color: #b3b3b3;
  font-size: 10px;
}
