@import "base_theme";

.cubic-trans {
  -moz-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -webkit-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -o-transition: all .3s cubic-bezier(0.4,0,.2,1);
  transition: all .3s cubic-bezier(0.4,0,.2,1);
}
body, h1, h2, h3, h4, h5, h6 {
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
body {
  font-size:@baseFontSize;
}
.mnone {
  margin:0px;
}
.pnone {
  padding:0px;
}

/* button styling css */
.btn-coverfox.orange {
  padding:8px 15px;
}
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  &.orange {
    background-color: @baseButtonBg;
    border: 1px solid @baseButtonBorder;
  }
  &.yellow {
    background-color: #ffe145;
    border:1px solid #e5c000;
    color: @textColor;
    &.shadow {
      -webkit-box-shadow: 0px -4px 0px rgba(0,0,0,0.2) inset;
      -moz-box-shadow: 0px -4px 0px rgba(0,0,0,0.2) inset;
      box-shadow: 0px -4px 0px rgba(0,0,0,0.2) inset;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: #ffd600;
      color: @textColor;
    }
  }
  &:hover,
  &:focus,
  &:active {
    background-color: rgba(249, 98, 6, 0.99);
    text-decoration: none;
    outline: none;
    color: #ffffff;
  }
}

/* box stylings */

.light-box,.dark-box {
  padding: 10px 0px 60px;
  line-height: 1.6em;
  h1 {
    font-size: 32px;
    margin: 30px 0px;
    text-align: center;
    font-weight: 300;
    color:@textColor;
    line-height: 1.4em;
  }
  .lead-para {
    color:@lightTextColor;
    font-size: 16px;
    line-height: 1.7em;
    & strong {
      color: @textColor;
    }
  }
}
.light-box {
  background: @boxLightBackground;
  color:@textColor;
  .leader {
    color:@baseThemeColor;
    line-height: 1.4em;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin: 40px 0px;
  }
  legend {
    font-size:18px;
    color:@lightTextColor;
    line-height: 1.4em;
    border:0px solid transparent;
    & + p {
      color:@textColor;
      margin-bottom:30px;
    }
  }
}
.dark-box {
  background-color: @boxDarkBackground;
}
.color-highlight {
  color: @baseThemeColor !important;
}
/* basic elements styling */
.hero-wrapper {
  position: relative;
}
#topbar {
  padding: 10px 0 5px;
  position: relative;
  margin-bottom:15px;
  .logo {
    float: left;
    text-align: center;
    width: 130px;
    margin-bottom: 5px;
    & img {
      width:100%;
    }
  }
  .menuimg {
    max-height: 30px;
    background-color: @textColor;
    padding: 5px;
    margin-right:5px;
    border-radius: 30px;
  }
  #right-menu-items {
    margin-top:0px;
    margin-bottom:0px;
    text-align: right;
  }
  #right-menu-items li {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 3px;
    margin: 0;
    text-align: left;
  }

  #right-menu-items li a {
    display: block;
    padding:2px 5px;
    text-align: center;
  }
  .irda-auth-badge {
    letter-spacing: 0;
    width:215px;
    vertical-align: bottom;
    text-align: left;
    float: left;
    margin-left: 20px;
    font-size: 12px;
    & img {
      height: 35px;
      margin-right: 5px;
      margin-left: 10px;
      vertical-align: bottom;
      float: left;
    }
  }
}

.companies-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(0,0,0,0.05);

  ul.company-logos {
    list-style-type: none;
    text-align: center;
    padding: 0;
    & li {
      display: inline-block;
      padding: 15px;
      position: relative;
      & img {
        height: 50px;
      }
    }
  }
}


.experts-help {
  ul {
    margin: 15px 0px 15px 0px;
    & li {
      list-style-type: none;
      font-size: 16px;
      margin-top: 15px;
      position: relative;
      padding-left: 45px;
      padding-top: 10px;
      color: @lightTextColor;
      & img {
        width:33px;
        position: absolute;
        left: 0px;
        top: 5px;
      }
    }
  }
  & .contact-me-error-expert {
    color: #ff0000;
    margin: 5px 0px;
    background-color: #FFEDED;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 3px 10px;
    display: none;
  }

}

.benefits-wrapper {
  img {
    max-width: 180px;
    display: block;
    margin: auto;
    width: 100%;
    border-radius: 100%;
    border: 2px solid rgba(250, 95, 38, 1);
    background-color: #ffffff;
    padding: 5px;
  }
  h4 {
    text-align: center;
    margin: 15px 0 15px 0;
    font-weight: bold;
    line-height: 1.4em;
    color: #444444;
    font-size: 16px;
  }
}

.testimonials-carousel {
  background: none repeat scroll 0 0 @baseThemeColor;
  color: #FFFFFF;
  min-height: 460px;
  padding:10px 0px;
  h1.section-header {
    color: #FFFFFF;
    font-size: 32px;
    margin: 30px 0px 10px;
    text-align: center;
    font-weight: 300;
    line-height: 1.4em;
  }

  .carousel {
    position: relative;
    min-height: 300px;
    ul {
      margin: 10px 0;
      padding: 0;
      list-style-type: none;
      position: relative;
      & li {
        text-align: center;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 30px;
        font-size: 20px;
        color: #ffffff;
        line-height: 170%;
        & img {
          width: 150px;
          margin-bottom: 20px;
          opacity: 1;
          border: 1px solid #8E8E8E;
        }
        & span.t_user {
          font-weight: bold;
          margin-top: 20px;
          display: inline-block;
          position: relative;
          &:before, &:after {
            position: absolute;
            content: '';
            width: 70px;
            border-bottom: 1px solid #ffffff;
            left: -85px;
            top: 50%;
            height: 0;
          }
          &:after {
            left: 100%;
            margin-left: 15px;
          }
        }
      }
      & li.cf-visible {
        opacity: 1;
      }
    }
  }
}
.testimonials-section {
  & .testimonial-item {
    position: relative;
    max-width: 250px;
    margin: 20px auto 20px;
    & img {
      width:100%;
    }
    & .comment {
      background: @bannerbg;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      position: absolute;
      bottom: 10px;
      right: 10px;
      left: 10px;
      padding: 20px;
      color: #fff;
      &.left {
        left: -30px;
        right: 30px;
      }
      &.right {
        right: -30px;
        left: 30px;
      }
      & p.title {
        font-weight: bold;
      }
    }
  }
  .testimonial_action_btn {
    position: relative;
    top:10px;
  }
}

.wow {
  background-color: transparent;
  padding: 0px;
  border-radius: 3px;
  max-width: 700px;
  margin: 40px auto 0px;
  .input-group-addon:first-child {
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
  }
  .call_me_btn_expert.btn-cfox {
    font-size: 16px;
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
  }
  .input-group .form-control {
    height: 54px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
}

.terms-msg {
  font-size: 12px;
  line-height: 1.6em;
  color:@lightTextColor;
  margin-top:10px;
  text-align: left;
}
.footer {
  padding: 20px 50px;
  border-top: 1px solid rgba(0,0,0,0.05);
  color:#999999;
}

.three-steps {
  h1 {
    margin: -10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 30px 15px 20px;
    text-transform: uppercase;
    font-size: 30px;
    & img {
      margin-top:-6px;
      width: 120px;
      display: inline-block;
    }
  }
  ul {
    list-style-type: none;
    padding: 0px 0px 0px 3%;
    margin: 50px auto 30px;
    width: 760px;
    & li {
      position: relative;
      float: left;
      width: 33%;
      margin: 0px;
      & .step_number {
        color: @baseThemeColor;
        font-size: 30px;
        font-weight:bold;
        position: absolute;
        top:2px;
        left:0px;
      }
      & > div {
        border: 2px solid @baseThemeColor;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        padding:40px 10px;
        text-align: center;
        width: 170px;
        font-size: 14px;
        height: 170px;
        line-height: 1.5em;
        top: 0px;
        left: 25px;
        position: relative;
        background-color: @boxDarkBackground;
        z-index:2;
        &:after {
          position: absolute;
          content:'';
          display: block;
          border-top:1px solid @baseThemeColor;
          width:100px;
          left:100%;
          top:50%;
          z-index: 1;
        }
        &.no-link:after {
          display: none;
        }
        &.padding-top {
          padding-top:40px;
        }
      }
    }
  }
}
/* mobile optimisation general css */

@media screen and (min-width: 200px) and (max-width: 991px) {
  .benefits-wrapper h4 {
    font-size:16px;
    margin-bottom:40px;
  }
  #right-menu-items li {
    display: block;
    margin-bottom:10px;
  }
  .companies-wrapper {
    height:145px;
    & ul.company-logos li {
      padding: 10px;
      img {
        height: 50px;
      }
    }
  }
  #topbar {
    & .irda-auth-badge {
      display: none;
    }
  }
  .testimonials-section .testimonial-item .comment {
    padding: 10px 15px;
    font-size: 12px;
  }
  .three-steps ul {
    max-width: 700px;
  }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .testimonials-carousel h1.section-header {
    font-size: 40px;
  }
  .companies-wrapper {
    height:145px;
    & ul.company-logos li {
      padding: 10px 15px;
      img {
        height: 50px;
      }
    }
  }
}

@media only screen and (min-width : 200px) and (max-width : 767px) {
  body,html {
    min-width:320px;
  }
  .call-action {
    max-width: 460px;
    margin: auto;
    padding: 0 30px;
  }
  .experts-help ul {
    padding-left:30px;
    margin-bottom:0px;
  }
  .experts-help ul li {
    font-size:18px;
    padding-top:10px;
    margin-top:20px;
  }
  .testimonials-carousel {
    min-height:360px;
  }
  #topbar {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    .logo {
      float: left;
      text-align: center;
      width: 120px;
    }
    .menuimg {
      max-height: 21px;
      padding: 3px;
    }

    #right-menu-items {
      margin-top: 5px;
      text-align: right;
      padding-left:0px;
    }
    #right-menu-items li {
      display: inline-block;
      font-size: 12px;
      letter-spacing: 1px;
      margin: 0;
      text-align: right;
      width: 100%;
    }

    #right-menu-items li a {
      display: block;
      padding: 2px 5px;
      text-align: center;
    }
    .irda-auth-badge {
      display: none;
      float: right;
      font-size: 11px;
      width: 185px;
      margin-left: 0px;
    }
    .irda-auth-badge img {
      height:30px;
    }
  }
  .testimonials-carousel h1.section-header {
    font-size: 36px;
    line-height: 1.2em;
    padding: 0 15px;
  }
  .carousel ul li {
    font-size: 14px;
    padding-top: 0;
  }
  ul.company-logos li {
    padding: 5px;
    img {
      height: 30px;
    }
  }
  .companies-wrapper {
    height:130px;
    & ul.company-logos li {
      padding: 5px;
      img {
        height: 50px;
      }
    }
  }
  .experts-help ul li img {
    top: 5px;
  }
  .testimonials-carousel {
    &  h1.section-header {
      font-size: 32px;
    }
    & .carousel ul li {
      font-size:16px;
    }
    & .carousel ul li img {
      width: 110px;
    }
  }
  .wow .call_me_btn_expert.btn-cfox {
    margin-top:10px;
  }
  & .three-steps {
    & h1 {
      padding: 30px 15px 20px;
      font-size: 26px;
    }
    & ul {
      max-width: 100%;
      width: 100%;
      padding: 0px 0px 0px 30px;
      margin: 30px 0px 20px;
      & li {
        position: relative;
        float: none;
        width: 100%;
        margin: 0px;
        & strong {
          top: 0px;
        }
        & > div {
          border-width: 0px;
          padding: 0px 20px 0px 35px;
          text-align: left;
          margin-bottom: 20px;
          width: auto;
          font-size: 16px;
          height: auto;
          line-height: 1.5em;
          top: 0px;
          left: 0px;
          position: relative;
          background-color: transparent;
          &:after {
            display: none;
          }
          &.padding-top {
            padding-top: 0px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 519px) {
  #topbar .menuimg {
    display: none;
  }
  .btn-cfox {
    white-space: normal;
  }
  .light-box h1, .dark-box h1 {
    font-size: 24px;
    padding-left:15px;
    padding-right:15px;
  }
  .experts-help ul {
    padding-left: 0px;
    li {
      font-size: 16px;
      padding-top: 0px;
      margin-top: 20px;
    }
  }
  .companies-wrapper {
    height: auto;
    & ul.company-logos li {
      padding: 3px;
      img {
        height: 50px;
      }
    }
  }

  .testimonials-carousel {
    &  h1.section-header {
      font-size: 32px;
    }
    & .carousel ul li {
      font-size:14px;
    }
    & .carousel ul li img {
      width: 110px;
    }
  }
  & .three-steps ul {
    padding-left: 0px;
  }
  .experts-help ul li img {
    top: 0px;
  }
}

.text-panel {
  margin: 20px 0;
  font-size: 16px;
}
.text-panel h3 {
  font-weight: bold;
}

.text-panel p, ul li {
  font-size: 16px;
}
