@import "base_theme";
*{
  -webkit-backface-visibility:visible;
  button{
    outline:none;
    border:0;
  }
}
.plnone{
  padding-left: 0;
}
.mb{
    margin-bottom: 25px;
  }
#page-header{
  display: none;
}
.terms-msg{
  max-width: 334px;
  margin: auto;
  font-size: 10px;
  padding: 3px 0;
}
#SpeedoMeterGraph {
    height: 208px;
    margin: -60px 0 0;
}
.danger { fill: #FF7F7E; }
.improve { fill: #FFDF80; }
.safe { fill: #7FD7A7; }
.prevent-click { 
  color: #ddd; 
  padding: 5px;
  width:85px;
  background-color: #f2f2f2;
}
.next{
  width:85px;
  padding: 5px;
  background-color: #f2f2f2;
}
.dynamicContent {
  background-color: white;
    padding: 15px;
    margin: 12px;
    border: solid 5px #ff704c;
    border-right-style: hidden;
    border-left-style: hidden;
}
.health_tool_container{
  padding: 20px;
  position: relative;
  &:before{
    display: block;
    content: '';
    z-index: -1;
    position: absolute;
    background-color: #314451;
    top: 0;
    left: 0;
    right: 0;
    height: 234px;
  }
  h1{
    font-size: 35px;
    margin: 20px 0 30px;
    text-align: center;
    color:#fff;
    font-weight: 300;
  }
  .health_bg_container{
    background-color: #fff;
    padding-left: 18px;
    .boxShadow(~'0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24)');
    margin: 0 0 40px;
    .jago_investor{
      text-align: right;
      margin: 10px 10px 0 0;
      padding: 0 0 20px;
      
      img{
        max-width: 110px;
        margin: 0 10px 0 2px;
        vertical-align: bottom;
      }
      span{
        vertical-align: bottom;
      }
    }
    .show_result{
      padding: 30px;
      p{
        font-size: 15px;
         p{
            padding: 15px 0;
            font-weight: 600;
          }
      }
      .btn_tool{
        margin: 20px 0 0;
        text-align: center;
        input{
          padding: 7px;
          height: 36px;
          font-size: 16px;
          display: inline-block;
          border:1px solid #e2e2e2;
          border-right:0;
          outline: none;
        }
        button{
          background-color: #ff6127;
          padding: 6px 10px;
          height: 36px;
          font-size: 16px;
          color:#fff;
          font-weight:400;
          margin-left: -3px;
        }
      }
    }
    .infinite_carousel{
      .viewport{
        .list{
          min-height: 110px;
        }
        h2{
          font-size: 20px;
          margin-top: 40px;
        }
        .radio{
          margin: 20px 0 0;
          text-align: left;
          height: 70px;
          .mb{
            margin: 0 0 15px;
          }
          label {
            display: inline-block;
            cursor: pointer;
            position: relative;
            padding-left: 30px;
            margin-right: 15px;
            font-size: 17px;
            &:before {
              content: "";
              display: inline-block;
              width: 16px;
              height: 16px;
              border:1px solid #ccc;
              margin-right: 10px;
              position: absolute;
              left: 0;
              bottom: 4px;
              border-radius: 8px;
              -moz-border-radius: 8px;
              -webkit-border-radius: 8px;
              background-color: #fff;
            }
          }
          input[type=radio] {
            display: none;
          }
            input[type=radio]:checked{
              +label{
                &:before{
                  content: "\2022";
                color: #f16726;
                font-size: 22px;
                text-align: center;
                line-height: 11px;
                }
              }
            }
        }
      }
    }
    .preview_container{
      margin: 30px 0 10px;
      .progress_container{
        margin:0 0 20px;
        padding: 0 ;
        span{
          margin: 0 0 10px;
          font-size: 15px;
        }
        progress {
          width: 100%;
          height: 8px;
          display: block;
          background-color: #c5cace;
          border: none;
          margin-top: 5px;
        }
        progress::-webkit-progress-bar{
          background-color:#c5cace;
          .cubic-trans;
          }
        progress::-webkit-progress-value{
          background-color:#ff6127;
          .cubic-trans;
        }
        progress::-moz-progress-bar{
          background-color:#ff6127;
          .cubic-trans;
          }
      }
    }
    .svg_container{
      border-left:1px solid #E0E0E0;
      padding-top: 40px;
      text-align: center;
      .risk_meter_list{
          ul{
            margin: 20px 0;
            padding: 0 0 0 30px;
            text-align: left;
            li{
              list-style: none;
              padding: 0 20px;
              position: relative;
              font-size: 16px;
              display: inline-block;
              &:before{
                content: "";
                position: absolute;
                width:15px;
                height: 15px;
                top:4px;
                left:0;
                background: #FF7F7E;
              }
              &.bgy{
                &:before{
                background: #FFDF80;
                }
              }
              &.bgg{
                &:before{
                background: #7FD7A7;
                }
              }
            }
          }
        }
      h2{
        font-size: 23px;
        margin: 0 0 30px;
        text-align: center;
      }
    }
  }
}
.hide{
  display: none; 
}
.question_container{
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 20px 0;
  h2{
    font-size: 22px;
    margin: 0 0 10px;
  }
  h3{
    font-size: 18px;
    margin: 0 0 10px;
  }
  p{
    font-size: 14px;
    line-height: 1.6em;
  }
}
.rising_container{
  max-width: 1060px;
  margin: auto;
  p{
    margin-top: 20px;
    font-size: 16px;
  }
  .row_container{
    margin: 60px 0 0;
    text-align: center;
    p{
      text-align: left;
    }
  }
  .mt{
    margin-top: 30px;
  }
  
}
.auther_container{
  padding: 40px;
  background-color: #f2f2f2;
  .tx{
    font-size: 16px;
  }
  .auther_txt{
    max-width: 1060px;
    margin: auto;
    img{
      width:110px;
      height: 110px;
      .roundedCorners(50%);
    }
  }
}
.why_main_bg{
  padding: 40px;
  background-color: #fff;
  .why_container{
    max-width: 1060px;
    margin: auto;
    .col-mar_container {
      margin: 20px 0 10px;
      position: relative;
      p{
        font-size: 16px;
        line-height: 1.6em;
      }
      span{
        position: absolute;
        top:0;
        left:0;
        padding: 0 30px 0 0;
      }
    }
  }
}
.error {
    max-width: 323px;
    margin: 5px auto;
    text-align: left;
}
@media screen and (min-width: 200px) and (max-width: 1100px) {
  .logo{
    img{
      max-width: 120px;
    }
  }
  .prevent-click{
    font-size: 14px;
    padding: 5px;
  }
  #SpeedoMeterGraph{
    height: 116px;
  }
  .health_tool_container .health_bg_container .svg_container .risk_meter_list ul{
    padding: 0;
  }
  .health_tool_container .health_bg_container .svg_container .risk_meter_list ul li{
    padding: 0 5px 0 20px;
  }
  .health_tool_container .health_bg_container .svg_container .risk_meter_list ul li:before{
    width:10px;
    height: 10px;
  }
}
@media screen and (min-width: 200px) and (max-width: 1200px) {
  .health_tool_container .health_bg_container .svg_container .risk_meter_list ul li:before{
    width:15px;
    height: 15px;
  }
  .health_tool_container .health_bg_container .svg_container h2{
    margin: 0 0 60px;
  }
  .health_tool_container .health_bg_container{
    height: auto;
  }
  #SpeedoMeterGraph{
    height: 116px;
  }
  .health_tool_container .health_bg_container .svg_container .risk_meter_list ul{
    padding: 0;
  }
  .health_tool_container .health_bg_container .svg_container .risk_meter_list ul li{
    padding: 0 5px 0 20px;
  }
}
@media screen and (min-width: 200px) and (max-width: 1000px) {
  .health_tool_container .health_bg_container .svg_container .risk_meter_list ul li {
    padding: 0 1px 0 19px;
    font-size: 12px;
}
  }
@media screen and (min-width: 200px) and (max-width: 767px) {
  #SpeedoMeterGraph{
    height: 102px;
    margin-top: -17px;
  }
.health_tool_container{
  padding: 10px 0;
  h1{
    font-size: 20px;
    margin: 0 0 20px;
  }
  .health_bg_container{
    padding: 0;
    margin: 0 0 10px;
    height: auto;
    .svg_container{
        padding-top: 0;
        .risk_meter_list{

          ul{
            padding: 0;
            text-align: center;
            li{
              font-size: 12px;
              padding: 0 18px;
              &:before{
                top:2px;
              }
            }
          }

        }
        h2{
          margin: 0 0 5px;
          text-align: center;
          font-size: 16px;
        }
        
      }
    .preview_container{
      margin: 0 0 10px;
      text-align: center;
      .progress_container{
        margin: 0;
        padding: 10px 0;
      }
    }
    .infinite_carousel{
      .viewport {
        h2{
          font-size: 18px;
          margin-top: 18px;
        }
      }
    }
  }
}
.health_tool_container {
  .health_bg_container {
      .show_result{
        padding: 15px;
        .btn_tool{
          input{
            width:100%;
            border-right: 1px solid #e2e2e2;
            margin: 0 0 10px;
          }
          button{
            width:100%;
          }
        }
      }
  }
}
.rising_container{
  .row_container{
      text-align: center;
  }
}
.auther_container{
  padding: 0;
  .auther_txt{
    text-align: center;
  }
}
.why_main_bg{
  padding: 10px;
  margin: 20px;
  .why_container{

    ul{
      li{
        padding: 0;
      }
    }
  }
}
}
