@import "colors.less";

p{
	q{
		color:@cfBaseColor;
		font-size: 28px;
		line-height: 40px;
		quotes:none;
		&.large{
			font-size:36px;
			font-weight: 300;
		}
		&.black{
			color:@baseBlack;
		}

	}
}

.lp-b1-wrapper{
	padding:70px 0;
	h2{
		font-size: 36px;
		font-weight: 300;
		line-height: 56px;
		margin: 0;
		padding: 0;
		margin-bottom: 30px;
	}
	&.bggrey{
		background: @bgLightGrey;
		border-bottom:1px solid rgba(0,0,0,0.05);
	}
	&.padding-large{
		padding:70px 0;
	}
	&.padding-small{
		padding: 20px 0;
	}
	&.no-padding{
		padding: 0;
	}
	p{
		font-size:18px;
		line-height:32px;
	}
}

.lp-b2-wrapper{
	h2{
		font-size: 40px;
		font-weight: 300;
		line-height: 56px;
		margin: 0;
		padding: 0;
		margin-bottom: 30px;
		&.withsubline{
			margin-bottom: 0;
		}
	}
	&.bggrey{
		background: @bgLightGrey;
		border-top:1px solid rgba(0,0,0,0.05);
		border-bottom:1px solid rgba(0,0,0,0.05);
	}
	h3{
		color:@cfBaseColor;

	}

	p.subline{
		color:rgba(49,68,81,0.7);
	}
	.b2-item{
		height:150px;
		overflow: hidden;
		h3{
			font-size: 20px;
			color:@cfBaseColor;
		}
		p{
			font-size: 16px;
			line-height: 24px;
		}
	}
	&.theme-blue{
		.b2-item{
			h3{
				font-size: 20px;
				color:@blue;
			}
		}
	}
}

.lp-sub-title-wrapper{
	padding:50px 0;
	text-align: center;
	h2{
		font-size: 40px;
		font-weight: 300;
		line-height: 56px;
		margin: 0;
		padding: 0;
	}
}


.message-box{
	background: @mutedyellow;
	padding:35px;
	border: 1px solid rgba(150,150,150,0.42);
	border-radius: 4px;
	&.yellow{
		background: @mutedyellow;
	}
	p{
		font-size: 16px;
		line-height: 24px;
	}
}


.br{
	border-right:1px solid rgba(0, 0, 0, 0.05);
}

.bl{
	border-right:1px solid rgba(0, 0, 0, 0.05);
}

.ptb-50{
	padding-top:50px;
	padding-bottom:50px;
}





