p q {
  color: #ff6127;
  font-size: 28px;
  line-height: 40px;
  quotes: none;
}
p q.large {
  font-size: 36px;
  font-weight: 300;
}
p q.black {
  color: #314451;
}
.lp-b1-wrapper {
  padding: 70px 0;
}
.lp-b1-wrapper h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 56px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.lp-b1-wrapper.bggrey {
  background: #f7fafc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.lp-b1-wrapper.padding-large {
  padding: 70px 0;
}
.lp-b1-wrapper.padding-small {
  padding: 20px 0;
}
.lp-b1-wrapper.no-padding {
  padding: 0;
}
.lp-b1-wrapper p {
  font-size: 18px;
  line-height: 32px;
}
.lp-b2-wrapper h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 56px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.lp-b2-wrapper h2.withsubline {
  margin-bottom: 0;
}
.lp-b2-wrapper.bggrey {
  background: #f7fafc;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.lp-b2-wrapper h3 {
  color: #ff6127;
}
.lp-b2-wrapper p.subline {
  color: rgba(49, 68, 81, 0.7);
}
.lp-b2-wrapper .b2-item {
  height: 150px;
  overflow: hidden;
}
.lp-b2-wrapper .b2-item h3 {
  font-size: 20px;
  color: #ff6127;
}
.lp-b2-wrapper .b2-item p {
  font-size: 16px;
  line-height: 24px;
}
.lp-b2-wrapper.theme-blue .b2-item h3 {
  font-size: 20px;
  color: #0076ff;
}
.lp-sub-title-wrapper {
  padding: 50px 0;
  text-align: center;
}
.lp-sub-title-wrapper h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 56px;
  margin: 0;
  padding: 0;
}
.message-box {
  background: #ffd974;
  padding: 35px;
  border: 1px solid rgba(150, 150, 150, 0.42);
  border-radius: 4px;
}
.message-box.yellow {
  background: #ffd974;
}
.message-box p {
  font-size: 16px;
  line-height: 24px;
}
.br {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.bl {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
