@import "base_theme";
.hero-banner {
  padding:0;
  background-color: @bannerBackgroundColor;
  & img.tag-cloud {
    width:100%;
    display: block;
    max-width: 500px;
    margin: auto;
  }
  & .club-form {
    color: #ffffff;
    padding:40px 15px 40px;

    & h1 {
      font-size:32px;
      letter-spacing: 1px;
      line-height: 1.2em;
      font-weight: 300;
      margin:20px 0 20px;
    }
    & a.no-thanks {
      cursor: pointer;
      font-size:14px;
      color: #fff;
      letter-spacing: 1px;
      &:hover {
        text-decoration:none;
        color:#fff;
        outline: none;
      }
    }
  }
}