body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
* {
  -webkit-backface-visibility: hidden;
}
a {
  cursor: pointer;
}
.pnone {
  padding: 0;
}
.plnone {
  padding-left: 0;
}
.prnone {
  padding-right: 0;
}
.fullWidthBackground {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.cubic-trans {
  -moz-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
}
.bounce-trans {
  -moz-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -webkit-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -o-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
}
.d1 {
  -webkit-transition-delay: 100ms !important;
  -moz-transition-delay: 100ms !important;
  -o-transition-delay: 100ms !important;
  transition-delay: 100ms !important;
}
.d2 {
  -webkit-transition-delay: 200ms !important;
  -moz-transition-delay: 200ms !important;
  -o-transition-delay: 200ms !important;
  transition-delay: 200ms !important;
}
.d3 {
  -webkit-transition-delay: 300ms !important;
  -moz-transition-delay: 300ms !important;
  -o-transition-delay: 300ms !important;
  transition-delay: 300ms !important;
}
.d4 {
  -webkit-transition-delay: 400ms !important;
  -moz-transition-delay: 400ms !important;
  -o-transition-delay: 400ms !important;
  transition-delay: 400ms !important;
}
.topLayer {
  position: relative;
  z-index: 200;
}
.middleLayer {
  position: relative;
  z-index: 199;
}
.bottomLayer {
  position: relative;
  z-index: 198;
}
.pnone {
  padding: 0;
}
.cfinput {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #314451;
  padding: 10px 15px;
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.input-cfox {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #44c0ff;
  outline: 0;
  letter-spacing: 1px;
  padding: 15px;
}
.input-cfox:focus {
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.btn-cfox {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.btn-cfox:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.08)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
}
.btn-cfox.small {
  text-transform: none;
  letter-spacing: 0px;
  padding: 5px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-cfox.medium {
  text-transform: none;
  letter-spacing: 0px;
  padding: 8px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-cfox.blank {
  background-color: transparent;
  color: #8baabc;
  border: 1px solid #8baabc;
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-cfox.flat {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #f34100;
}
.btn-cfox.blue {
  background-color: #44c0ff;
  border: 1px solid #11afff;
}
.btn-cfox.blue.empty {
  color: #44c0ff;
}
.line-breaker {
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
}
.line-breaker span {
  display: inline-block;
  background: #fff;
  padding: 10px 15px;
  font-size: 15px;
  position: relative;
  z-index: 10;
}
.line-breaker:before {
  position: absolute;
  border-bottom: 1px solid rgba(49, 68, 81, 0.6);
  content: '';
  height: 1px;
  left: 0;
  top: 50%;
  width: 100%;
  z-index: 9;
}
.top-bar-wrapper {
  border-bottom: 1px solid rgba(49, 68, 81, 0.15);
  padding: 0 30px 15px 30px;
  position: relative;
  z-index: 100;
  background: #f7fafc;
}
.top-bar-wrapper ul {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
}
.top-bar-wrapper ul li {
  display: inline-block;
  vertical-align: middle;
}
.top-bar-wrapper ul li.logo img {
  max-width: 180px;
}
.top-bar-wrapper ul li.irda-tag {
  padding-left: 20px;
  vertical-align: bottom;
  line-height: 120%;
  margin-bottom: -1px;
}
.top-bar-wrapper ul li.btn-menu {
  margin-right: 12px;
}
.btn-menu {
  background: #ff6127;
  border: 1px solid #ff6127;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 20px;
  font-size: 18px;
  cursor: pointer;
}
.btn-menu.empty {
  border: 1px solid #314451;
  color: #314451;
  background: transparent;
}
.new-to-coverfox {
  position: relative;
}
.new-to-coverfox .dd {
  padding: 30px;
  width: 400px;
}
.new-to-coverfox:hover .dd {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.new-to-coverfox .dd-faqs {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f7fafc;
  display: block;
  border: 1px solid #e4eef5;
  -moz-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
}
.new-to-coverfox .dd-faqs > img {
  max-width: 50px;
}
.new-to-coverfox .dd-faqs:hover {
  background: #f0f5f9;
}
.new-to-coverfox .dd-faqs:hover p img {
  margin-left: 5px;
}
.new-to-coverfox .dd-faqs p {
  color: #314451;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 5px;
}
.new-to-coverfox .dd-faqs p img {
  max-width: 14px;
  vertical-align: middle;
  -moz-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
}
.new-to-coverfox .dd-rm {
  text-align: center;
  line-height: 100%;
  margin-top: 20px;
  border-top: 1px solid rgba(49, 68, 81, 0.26);
  padding-top: 20px;
  padding-bottom: 20px;
}
.new-to-coverfox .dd-rm > p {
  opacity: 0.6;
  line-height: 120%;
}
.new-to-coverfox .dd-rm .rm-text {
  text-align: left;
}
.new-to-coverfox .dd-rm .rm-text h5 {
  font-size: 20px;
}
.new-to-coverfox .dd-rm .rm-text p {
  opacity: 0.6;
  font-size: 14px;
}
.new-to-coverfox .dd-rm .rm-text a.btn-cfox {
  font-size: 13px;
  padding: 3px 10px;
  display: inline-block;
  height: 25px;
  margin-top: 10px;
}
.dd {
  position: absolute;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  width: 350px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  opacity: 0;
  background: #fff;
  top: 38px;
  border: 1px solid rgba(49, 68, 81, 0.28);
  -webkit-box-shadow: 2px 0 2px rgba(49, 68, 81, 0.08);
  -moz-box-shadow: 2px 0 2px rgba(49, 68, 81, 0.08);
  box-shadow: 2px 0 2px rgba(49, 68, 81, 0.08);
  right: 0;
  text-align: left;
}
.dd.reveal {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
ul.why-coverfox {
  padding-top: 0;
}
ul.why-coverfox li {
  font-size: 12px;
}
ul.why-coverfox li img {
  width: 10px;
  vertical-align: top;
  margin-top: 4px;
  margin-right: 3px;
}
.footer-wrapper {
  background: #2d3f4b;
  padding: 70px;
  color: #a3b3be;
}
.footer-wrapper h3 {
  color: rgba(255, 255, 255, 0.25);
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
}
.footer-wrapper ul {
  list-style-type: none;
  padding: 0;
}
.footer-wrapper ul li {
  margin-bottom: 6px;
  cursor: pointer;
}
.footer-wrapper ul li a {
  color: #acb1b3;
}
.footer-after-wrapper {
  background: #273741;
  padding: 70px;
  color: #a3b3be;
}
.footer-after-wrapper p strong {
  font-size: 20px;
}
p q {
  color: #ff6127;
  font-size: 28px;
  line-height: 40px;
  quotes: none;
}
p q.large {
  font-size: 36px;
  font-weight: 300;
}
p q.black {
  color: #314451;
}
.lp-b1-wrapper {
  padding: 70px 0;
}
.lp-b1-wrapper h2 {
  font-size: 36px;
  font-weight: 300;
  line-height: 56px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.lp-b1-wrapper.bggrey {
  background: #f7fafc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.lp-b1-wrapper.padding-large {
  padding: 70px 0;
}
.lp-b1-wrapper.padding-small {
  padding: 20px 0;
}
.lp-b1-wrapper.no-padding {
  padding: 0;
}
.lp-b1-wrapper p {
  font-size: 18px;
  line-height: 32px;
}
.lp-b2-wrapper h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 56px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}
.lp-b2-wrapper h2.withsubline {
  margin-bottom: 0;
}
.lp-b2-wrapper.bggrey {
  background: #f7fafc;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.lp-b2-wrapper h3 {
  color: #ff6127;
}
.lp-b2-wrapper p.subline {
  color: rgba(49, 68, 81, 0.7);
}
.lp-b2-wrapper .b2-item {
  height: 150px;
  overflow: hidden;
}
.lp-b2-wrapper .b2-item h3 {
  font-size: 20px;
  color: #ff6127;
}
.lp-b2-wrapper .b2-item p {
  font-size: 16px;
  line-height: 24px;
}
.lp-b2-wrapper.theme-blue .b2-item h3 {
  font-size: 20px;
  color: #0076ff;
}
.lp-sub-title-wrapper {
  padding: 50px 0;
  text-align: center;
}
.lp-sub-title-wrapper h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 56px;
  margin: 0;
  padding: 0;
}
.message-box {
  background: #ffd974;
  padding: 35px;
  border: 1px solid rgba(150, 150, 150, 0.42);
  border-radius: 4px;
}
.message-box.yellow {
  background: #ffd974;
}
.message-box p {
  font-size: 16px;
  line-height: 24px;
}
.br {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.bl {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-wrapper-products {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #fff;
}
.footer-wrapper-products .fp-item {
  float: left;
  width: 20%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  -moz-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-wrapper-products .fp-item img {
  max-width: 138px;
  width: 100%;
}
.footer-wrapper-products .fp-item:last-child {
  border-right: 0;
}
.footer-wrapper-products .fp-item a {
  text-transform: uppercase;
  padding: 20px 0;
  display: block;
  color: #314451;
  text-decoration: none;
}
.footer-wrapper-products .fp-item a p {
  font-size: 14px;
  letter-spacing: 2px;
}
.footer-wrapper-products .fp-item:hover a {
  color: #ff6127;
  text-decoration: none;
}
.footer-wrapper-a {
  background: #314451;
  padding-top: 56px;
  padding-bottom: 40px;
}
.footer-wrapper-a h3 {
  color: #a3b3be;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.7;
  margin-top: 0;
}
.footer-wrapper-a ul {
  list-style-type: none;
  padding: 0;
}
.footer-wrapper-a ul li {
  margin-bottom: 6px;
  font-size: 12px;
}
.footer-wrapper-a ul li a {
  color: #a3b3be;
}
.footer-wrapper-b {
  background: #273741;
  padding-top: 56px;
  padding-bottom: 40px;
}
.footer-wrapper-b .footlist_header {
  color: #a3b3be;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.7;
  line-height: 14px;
  margin-top: 0;
}
.footer-wrapper-b h3 {
  color: #a3b3be;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.7;
  line-height: 14px;
  margin-top: 0;
}
.footer-wrapper-b ul {
  list-style-type: none;
  padding: 0;
}
.footer-wrapper-b ul li {
  margin-bottom: 4px;
  font-size: 10px;
}
.footer-wrapper-b ul li a {
  color: #a3b3be;
}
.footer-about a {
  color: #a3b3be;
  font-size: 12px;
  line-height: 18px;
}
.footer-about p {
  color: #a3b3be;
  font-size: 12px;
  line-height: 18px;
}
.footer-about p strong {
  font-size: 20px;
  display: block;
}
.card {
  background: #FFFFFF;
  border: 1px solid rgba(150, 150, 150, 0);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.26);
}
.footlist_header {
  color: #a3b3be;
}
#top-menu {
  position: relative;
  margin-bottom: 15px;
}
#top-menu .logo {
  float: left;
  text-align: center;
  width: 130px;
  margin-top: 2px;
  margin-bottom: 3px;
}
#top-menu .logo img {
  max-width: 100%;
}
#top-menu .menuimg {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #000;
  padding: 5px;
  top: 3px;
  right: 0px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#top-menu #right-menu-items {
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
  float: right;
  margin-left: -70px;
}
#top-menu #right-menu-items li {
  display: inline-block;
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
  margin: 0;
  padding-right: 40px;
  text-align: right;
  position: relative;
}
#top-menu #right-menu-items li a {
  font-size: 16px;
  display: block;
  color: #000;
  padding: 0px;
}
#top-menu #right-menu-items li a:hover {
  text-decoration: none;
  cursor: default;
}
#top-menu .irda-auth-badge {
  letter-spacing: 0;
  width: 215px;
  vertical-align: bottom;
  text-align: left;
  float: left;
  margin-left: 20px;
  font-size: 12px;
}
#top-menu #right-menu-items li.pipe-link {
  padding: 5px 10px;
}
#top-menu #right-menu-items li.pipe-link.seperator {
  border-right: 1px solid #eaeaea;
  margin: 0px 10px;
  height: 30px;
  padding: 0;
}
#top-menu #right-menu-items li.pipe-link a {
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  top: -10px;
}
#top-menu #right-menu-items li.pipe-link a:hover {
  text-decoration: none;
  color: #000;
}
#top-menu .base-toggle {
  padding: 0px;
  height: 28px;
  position: relative;
  top: 0px;
  right: 0px;
  float: right;
  width: 28px;
  text-align: center;
  background-color: #f3f3f3;
  border: 1px solid rgba(0, 0, 0, 0.02);
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#top-menu .base-toggle:active,
#top-menu .base-toggle:focus,
#top-menu .base-toggle:hover {
  outline: none;
}
#top-menu .base-toggle .bar {
  content: "";
  position: absolute;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 12px;
  display: inline-block;
  width: 15px;
  height: 3px;
  background-color: #314451;
  right: 6px;
}
#top-menu .base-toggle .bar.plus {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#top-menu .base-toggle .bar.plus:before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 3px;
  background-color: inherit;
  top: -7px;
  left: 6px;
  position: absolute;
}
#top-menu .base-toggle .bar.minus {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
#top-menu .base-toggle.active .bar.plus {
  -webkit-transform: scale(0) rotate(-90deg);
  -moz-transform: scale(0) rotate(-90deg);
  -ms-transform: scale(0) rotate(-90deg);
  -o-transform: scale(0) rotate(-90deg);
  transform: scale(0) rotate(-90deg);
}
#top-menu .base-toggle.active .bar.minus {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#top-menu .pipe-menu-right {
  -moz-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  position: relative;
  text-align: left;
  margin: 0 -35px 0px;
  padding: 0px;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  height: 0px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
#top-menu .pipe-menu-right.active {
  overflow: visible;
  margin-top: 20px;
  margin-bottom: -10px;
  height: auto;
  opacity: 1;
  visibility: visible;
  top: 100%;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
}
#top-menu .pipe-menu-right li {
  display: block;
  padding: 0px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0px;
}
#top-menu .pipe-menu-right li a {
  display: block;
  padding: 14px;
  background-color: #f7f7f7;
  color: #314451;
  font-size: 14px;
  font-weight: 400;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
#top-menu .pipe-menu-right li a:hover,
#top-menu .pipe-menu-right li a:focus,
#top-menu .pipe-menu-right li a:active {
  color: #000;
  text-decoration: none;
}
.top-menu-right {
  padding: 0;
  margin: 0px 0;
  list-style-type: none;
  text-align: right;
}
.top-menu-right li {
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
}
.top-menu-right li a {
  color: #fff;
  text-transform: uppercase;
}
.top-menu-right li a:hover {
  color: #fff;
}
.top-menu-right li.s-orange a,
.top-menu-right li.s-empty a {
  background: #ff6127;
  color: #fff;
  padding: 6px 10px;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  -moz-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.top-menu-right li.s-orange a:hover,
.top-menu-right li.s-empty a:hover {
  background: #f34100;
}
.top-menu-right li.s-empty {
  margin-left: 10px;
}
.top-menu-right li.s-empty a {
  background: none;
  border: 1px solid #fff;
}
.top-menu-right li.s-empty a:hover {
  background: #1e2931;
}
.lp-b1-wrapper h3 {
  color: #ff6127;
  margin-top: 0;
}
.lp-b1-wrapper ul li {
  font-size: 18px;
  line-height: 32px;
}
.nav-text {
  color: #97a0a7;
  display: inline-block;
  font-size: 16px;
  vertical-align: middle;
  padding-top: 6px;
}
.nav-text-separator {
  height: 30px;
  border-right: 1px solid #97a0a7;
  margin: 0 20px;
  width: 0;
}
.header-wrapper {
  position: relative;
  padding: 0px 0px 0px 0px;
}
.header-wrapper .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #314451;
}
.page-header-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
.page-header-wrapper h1 {
  color: #fff;
  font-weight: 300;
  font-size: 40px;
  line-height: 56px;
}
.page-header-wrapper p {
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 30px;
}
.page-header-wrapper p strong {
  color: #ff6127;
}
.page-header-wrapper .btn-cfox {
  padding: 6px 56px;
  font-size: 24px;
  display: inline-block;
  margin-top: 30px;
}
.page_nw_header {
  padding: 0;
}
p {
  font-size: 18px;
  line-height: 28px;
}
p.small {
  font-size: 14px;
  line-height: 28px;
}
ol {
  padding: 20px;
}
ol li {
  font-size: 18px;
  line-height: 28px;
}
.mobile_top_container {
  background: #efeff4;
  padding: 10px 0;
}
.mobile_top_container img {
  max-width: 180px;
}
.mobile_top_container .authrized_top img {
  float: left;
  margin: 0 9px 0 0;
  max-width: 29px;
}
#box1 {
  margin: 70px 0;
}
#box1 h2 {
  font-size: 35px;
  line-height: 46px;
}
#box1 h3 {
  font-size: 18px;
  line-height: 25px;
}
#box1 a {
  font-size: 30px;
  width: 300px;
  display: inline-block;
  margin-top: 30px;
  text-align: center;
}
#box1 .right_box_container {
  background: #f7fafc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 410px;
}
.bg_white {
  background: #fff !important;
}
#box2 {
  background: #efeff4;
  padding: 40px 0;
}
#box2 .img_container {
  min-height: 310px;
  max-width: 310px;
  -webkit-border-radius: 160px;
  -moz-border-radius: 160px;
  border-radius: 160px;
  padding: 40px 0;
  background: #d7d7e1;
}
#box2 .mar_0 {
  margin: 0;
}
#box2 h2 {
  font-size: 26px;
  color: #339cec;
  line-height: 39px;
  margin: 0;
}
#box2 h2:after {
  border-bottom: 2px solid #ff5f24;
  content: "";
  left: 17px;
  position: absolute;
  top: 88px;
  width: 100px;
}
#box2 h3 {
  font-size: 20px;
  line-height: 31px;
  margin: 30px 0;
}
#box3 {
  background: #88c4f3;
  padding: 47px 0;
}
#box3 h2 {
  font-size: 40px;
  color: #fff;
  line-height: 45px;
  font-weight: lighter;
  margin: 0 0 90px;
  text-align: center;
}
#box3 h2:after {
  border-bottom: 2px solid #fff;
  content: "";
  left: 43%;
  position: absolute;
  text-align: center;
  top: 110px;
  width: 130px;
}
#box3 h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}
#box3 .profile_container {
  min-height: 164px;
  max-width: 164px;
  -webkit-border-radius: 160px;
  -moz-border-radius: 160px;
  border-radius: 160px;
  padding: 40px 0;
  background: #fff;
  margin: 0 auto;
}
#box3 h4 {
  font-size: 13px;
  font-weight: bold;
  line-height: 27px;
}
.btn_act_pos {
  background: #ff6127;
  padding: 15px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 26px;
  text-decoration: none;
  margin: 45px 0 0 0;
  text-align: center;
}
.btn_act_pos:hover {
  text-decoration: none;
  color: #fff;
}
.btn_act_pos img {
  max-height: 30px;
}
#box4 {
  padding: 52px 0 20px 0;
}
#box4 .ensure_profile {
  margin: 30px 0;
}
#box4 h4 {
  color: #ff5103;
  font-size: 22px;
  margin: 0 0 27px;
}
#box4 h5 {
  font-size: 20px;
  line-height: 25px;
}
#box4 h2 {
  color: #41a3ec;
  font-size: 45px;
  margin: 0 0 27px;
}
#box4 h2:after {
  border-bottom: 2px solid #ff2a00;
  content: "";
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 130px;
}
#box4 .profile_photo {
  min-height: 80px;
  max-width: 80px;
  -webkit-border-radius: 160px;
  -moz-border-radius: 160px;
  border-radius: 160px;
  background: #d7d7e1;
}
#box4 .right_quetes_container {
  background: #f7fafc;
  color: #42a1ed;
  font-size: 30px;
  padding: 60px 31px;
  line-height: 46px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#box4 .right_quetes_container b {
  color: #333;
  font-size: 18px;
}
#box4 .right_quetes_container span {
  color: #7e858b;
  font-size: 16px;
  display: block;
  line-height: 0;
}
#box4 .right_quetes_container .testimonial {
  quotes: "\201C" "\201D";
  color: #42a1ed;
  border-left: 0;
}
#box4 .right_quetes_container .testimonial:before,
#box4 .right_quetes_container .testimonial:after {
  font: bold 120px/1px "brandon-grotesque", "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  color: #e1e7eb;
  position: absolute;
}
#box4 .right_quetes_container .testimonial:before {
  content: open-quote;
  margin: 25px 0 0 -22px;
}
#box4 .right_quetes_container .testimonial:after {
  content: close-quote;
  margin: 55px 0 0;
}
#box5 {
  padding: 55px 0;
  background: #f7fafc;
}
#box5 h2 {
  font-size: 40px;
  margin: 0 0 27px;
}
#box5 h2:after {
  border-bottom: 2px solid #ff6127;
  content: "";
  left: 43%;
  position: absolute;
  text-align: center;
  top: 110px;
  width: 130px;
}
#box5 h3 {
  color: #56a0ea;
  font-size: 22px;
  line-height: 30px;
}
#box5 h4 {
  font-size: 18px;
  line-height: 30px;
}
.mt_30 {
  margin: 30px 0 0 0;
}
.mt_60 {
  margin: 60px 0 0 0;
}
.amr_30 {
  margin: 0 0 30px 0;
}
#box6 {
  padding: 55px 0;
  background: #fff;
}
#box6 h2 {
  font-size: 40px;
  margin: 0 0 27px;
}
#box6 h2:after {
  border-bottom: 2px solid #ff6127;
  content: "";
  left: 43%;
  position: absolute;
  text-align: center;
  top: 70px;
  width: 130px;
}
#box6 h3 {
  color: #56a0ea;
  font-size: 22px;
  line-height: 30px;
}
#box6 h4 {
  font-size: 18px;
  line-height: 30px;
}
#footer-link-main h2 {
  margin: 0;
  font-size: 22px;
}
#footer-link-main ul {
  padding: 0 20px;
}
#footer-link-main ul li {
  list-style-type: circle;
  padding: 10px 0;
}
#footer-link-main ul li a {
  padding: 10px 0;
}
@media only screen and (max-width: 767px) {
  #box1 a {
    font-size: 27px;
  }
  #box1 a img {
    max-width: 11px;
  }
  #box4 h2,
  #box5 h2 {
    font-size: 22px;
  }
  #box4 h2:after,
  #box5 h2:after {
    left: 29%;
  }
  #box6 h2 {
    font-size: 27px;
  }
  #box6 h2:after {
    left: 34%;
    top: 72px;
  }
}
#sitemap {
  margin: 30px 0;
}
#sitemap h3 {
  font-size: 30px;
  margin: 10px 0 0 0;
  line-height: 50px;
}
#sitemap .map-block {
  margin: 10px 0;
}
#sitemap .map-block h4 {
  font-size: 16px;
  border-bottom: 2px solid #ddd;
  padding: 0 0 10px;
  margin: 30px 0 20px;
}
#sitemap .map-block h5 {
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 20px;
}
#sitemap .map-block h5 a {
  font-size: 14px;
  margin-left: 10px;
}
#sitemap ul {
  list-style: circle;
  padding: 0px 0 0 30px;
}
#sitemap ul li {
  padding: 5px;
}
#sitemap ul li a {
  font-size: 13px;
}
.breadcrums-link {
  padding: 0 0 10px !important;
}
.breadcrums-link a {
  color: #fff;
  font-size: 14px;
  margin: 0 15px;
  cursor: auto !important;
}
.breadcrums-link a:first-child {
  cursor: auto !important;
  margin: 0;
}
.breadcrums-link a:last-child {
  cursor: default;
  text-decoration: none;
  margin: 0;
}
.breadcrums-link a img {
  max-width: 6px;
  margin: 0 0 0 5px;
}
#network_hospitals .network-list-search {
  margin: 20px 0;
}
#network_hospitals .network-list-search select {
  width: 100%;
  font-size: 14px;
  line-height: 40px;
  height: 42px;
  padding: 5px;
  border: 1px solid #ccc;
  background: #e3e3ec;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
}
#network_hospitals .network-list-search .btn-n {
  padding: 5px;
  width: 100%;
}
#network_hospitals .search_result_container {
  margin: 20px 0;
}
#network_hospitals .search_result_container h3 {
  margin: 0 0 10px 0;
}
#network_hospitals .search_result_container h2 {
  margin: 0 0 20px;
  font-size: 20px;
}
#network_hospitals .search_result_container ul {
  padding: 0;
}
#network_hospitals .search_result_container ul.min-h a {
  min-height: 67px;
}
#network_hospitals .search_result_container ul li {
  list-style: none;
  margin: 20px 0;
  border: 1px solid #ddd;
}
#network_hospitals .search_result_container ul li:first-child {
  margin: 0;
}
#network_hospitals .search_result_container ul li a {
  color: #FB5F26;
  padding: 9px;
  display: block;
  min-height: 68px;
}
#network_hospitals .search_result_container ul li a:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
}
#network_hospitals .search_result_container ul li img {
  max-width: 101px;
  margin-right: 15px;
}
#network_hospitals .search_result_container.column_none ul {
  column-count: auto;
  -moz-column-count: auto;
  -webkit-column-count: auto;
}
#network_hospitals .search_result_container.column_none ul li {
  margin: 10px 0;
}
.buy_product_margin {
  margin-left: 74px;
}
.contact_wrap_container {
  margin: 40px 0px 30px;
}
.two_wheeler_defualt {
  padding: 25px;
}
.top-txt {
  font-size: 40px;
  font-weight: 300;
  color: #fff;
  line-height: 56px;
}
.h-tag h1 {
  font-size: 40px;
  font-weight: 300;
  color: #f34100;
  margin: 0 0 15px;
  line-height: 35px;
}
/* tabular css ST */
.tab_ul {
  ulmargin: 0;
  padding: 0;
  list-style: none;
}
.tab_ul li {
  margin: 15px 0;
  font-size: 16px;
  font-weight: 300;
}
.top_blog {
  padding: 30px 0 50px;
}
.top_blog .logo_insurer {
  background-color: #fff;
  padding: 40px 10px;
  border: 1px solid #d0d0d0;
}
.top_blog h2 {
  font-size: 28px;
  font-weight: 300;
  margin: 0;
  color: #fff;
}
.top_blog h3 {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  color: #fff;
}
.top_blog h5 {
  color: #fff;
}
.hero_wrapper {
  background: #f6f5f3;
  height: 200px;
  position: relative;
}
.companies-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.companies-wrapper ul.company-logos {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.companies-wrapper ul.company-logos li {
  display: inline-block;
  padding: 15px;
  position: relative;
}
.companies-wrapper ul.company-logos li img {
  height: 45px;
}
.tabular_container {
  padding: 30px;
}
.tabular_container .tabular_head .para {
  margin: 20px 0;
  font-weight: 300;
}
.tabular_container .tabular_head .tab_container {
  margin: 20px 0;
}
.tabular_container .tabular_head .bdm {
  border-bottom: none;
}
.tabular_container .tabular_head table {
  border: 1px solid #ccc;
  border-collapse: initial;
}
.tabular_container .tabular_head tr:nth-last-child(2n+1) {
  background-color: #ECF1F4;
}
.tabular_container .tabular_head td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.tabular_container .tabular_head td b {
  font-size: 18px;
  font-weight: normal;
}
.tabular_container .tabular_head a {
  font-size: 16px;
  margin: 0 0 10px;
}
.tabular_container .tabular_head h1 {
  font-size: 32px;
  font-weight: 300;
  margin: 0;
}
.tabular_container .tabular_head h3 {
  color: #ff6127;
  font-size: 26px;
  font-weight: 300;
  padding: 15px;
  background-color: #ECF1F4;
}
.tabular_container .tabular_head ul {
  margin: 0;
  padding: 20px;
  list-style-type: circle;
}
.tabular_container .tabular_head ul li {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 300;
}
.tabular_container .tabular_head ul strong {
  font-weight: 400;
}
.tabular_container .tabular_head .tabular_list_container {
  padding: 15px 0;
}
.tabular_container .tabular_head .tabular_list_container a {
  font-size: 18px;
}
.tabular_container .tabular_head .tabular_list_container h4 {
  font-size: 18px;
  margin: 0;
  line-height: 28px;
}
.tabular_container .tabular_head .tabular_list_container p {
  font-size: 20px;
  font-weight: 300;
}
.tabular_container .tabular_head .tabular_list_container ul {
  margin: 0;
  padding: 0 50px;
}
.tabular_container .tabular_head .tabular_list_container ul li {
  font-size: 17px;
  font-weight: 300;
}
.tabular_container .note {
  margin: 10px 0;
  font-size: 14px;
}
.list_para_txt {
  font-size: 19px;
  font-weight: 300;
}
.list_para_txt a {
  font-size: 19px;
  font-weight: 300;
}
.review_txt_nw {
  font-size: 14px;
  font-style: italic;
}
.ext_heading {
  color: #ff6127;
  font-size: 26px;
  font-weight: 300;
  padding: 15px;
  background-color: #ECF1F4;
}
.insurer_form_container {
  margin: 0;
}
.insurer_form_container .input_container {
  position: relative;
}
.insurer_form_container .input_container span {
  position: absolute;
  top: 28px;
  left: 6px;
}
.insurer_form_container .input_container .form_text_box {
  width: 100%;
  border: 0;
  height: 45px;
  outline: none;
  padding: 0 0 0 45px;
  margin: 15px 0;
}
.insurer_form_container .dib {
  width: 100%;
  display: block;
}
.insurer_form_container .terms-msg {
  font-size: 11px;
  color: #fff;
  margin: 10px 0;
}
/* tabular css EN */
@media screen and (min-width: 0px) and (max-width: 1024px) {
  #top-menu .base-toggle {
    top: 0;
  }
  .top-menu-right li {
    margin: 0px 0 0 15px;
    font-size: 14px;
  }
  .nav-text-separator {
    margin: 0 12px;
  }
  .nav-text {
    font-size: 13px;
    display: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .top_blog h2 {
    font-size: 20px;
    margin: 20px 0;
  }
  .top_blog h3 {
    font-size: 16px;
  }
  #top-menu .logo {
    width: 120px;
  }
  .top-menu-right li.s-orange a,
  .top-menu-right li.s-empty a {
    font-size: 10px;
    padding: 6px;
  }
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  .top_blog h2 {
    font-size: 20px;
    margin: 20px 0;
  }
  .top_blog h3 {
    font-size: 16px;
  }
  .nav-text-separator {
    border: none;
    margin: 0;
  }
  .footer-wrapper-products .fp-item {
    width: 100%;
    float: none;
    border: none;
  }
  .header-wrapper .logo img {
    max-width: 100%;
  }
  .top-txt {
    line-height: 25px;
    font-size: 25px;
  }
  .h-tag h1 {
    font-size: 25px;
  }
  .lp-b1-wrapper p {
    font-size: 13px;
  }
  .lp-sub-title-wrapper h2 {
    font-size: 24px;
    line-height: 34px;
  }
  .lp-b2-wrapper h2 {
    font-size: 25px;
    line-height: 25px;
  }
  .lp-b2-wrapper .b2-item p {
    font-size: 13px;
  }
  .lp-b1-wrapper h2 {
    font-size: 25px;
    line-height: 27px;
  }
  .lp-b1-wrapper li {
    font-size: 13px;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .top_blog h2 {
    font-size: 20px;
    margin: 20px 0;
  }
  .top_blog h3 {
    font-size: 16px;
  }
  #top-menu .logo {
    width: 100px;
  }
  .only-320 {
    padding: 0;
  }
  #top-menu .base-toggle {
    right: -4px;
  }
  .nav-text-separator {
    border: none;
    margin: 0;
  }
  .footer-wrapper-products .fp-item {
    width: 100%;
    float: none;
    border: none;
  }
  .breadcrums-link {
    padding: 0;
  }
  .breadcrums-link a {
    margin: 0 13px;
  }
  .top-txt {
    line-height: 25px;
    font-size: 25px;
  }
  .h-tag h1 {
    font-size: 25px;
  }
  .lp-b1-wrapper p {
    font-size: 13px;
  }
  .lp-sub-title-wrapper h2 {
    font-size: 24px;
    line-height: 34px;
  }
  .lp-b2-wrapper h2 {
    font-size: 25px;
    line-height: 25px;
  }
  #top-menu .pipe-menu-right {
    margin: 0 -20px;
  }
  .lp-b2-wrapper .b2-item p {
    font-size: 13px;
  }
  .lp-b1-wrapper h2 {
    font-size: 25px;
    line-height: 27px;
  }
  .lp-b1-wrapper li {
    font-size: 13px;
  }
  .companies-wrapper {
    height: 135px;
  }
  .companies-wrapper ul.company-logos {
    padding: 10px 0px 10px;
  }
  .companies-wrapper ul.company-logos li {
    display: inline-block;
    padding: 10px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 40px;
  }
}
.bg_car {
  background-color: #314451;
}
#page-header {
  padding-top: 20px;
}
.breadcrums-link {
  padding: 0px;
}
#review_container .reviews_box_container {
  margin: 0 0 30px 0;
}
#review_container .reviews_box_container .rating-star {
  margin: 20px 0 0 20px;
}
#review_container .reviews_box_container img {
  max-width: 150px;
}
#review_container .reviews_box_container i {
  margin: 0 5px;
  color: #ff6127;
}
#review_container .reviews_box_container p {
  font-size: 14px;
}
#review_container .reviews_box_container .mht {
  margin: 10px 0 0 0;
}
#review_container .reviews_box_container .review_rating {
  float: left;
}
#review_container .reviews_box_container .review_rating.pos-r {
  position: relative;
  left: -24px;
}
#review_container .reviews_box_container .review_rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}
#review_container .reviews_box_container .review_rating:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #ddd;
  text-shadow: 1px 1px #bbbbbb, 2px 2px #666666, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}
#review_container .reviews_box_container .review_rating:not(:checked) > label:before {
  content: '★ ';
}
#review_container .reviews_box_container .review_rating > input:checked ~ label {
  color: #f70;
  text-shadow: 1px 1px #cc6600, 2px 2px #994400, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}
#review_container .reviews_box_container .review_rating:not(:checked) > label:hover,
#review_container .reviews_box_container .review_rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod, 2px 2px #b57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}
#review_container .reviews_box_container .review_rating > input:checked + label:hover,
#review_container .reviews_box_container .review_rating > input:checked + label:hover ~ label,
#review_container .reviews_box_container .review_rating > input:checked ~ label:hover,
#review_container .reviews_box_container .review_rating > input:checked ~ label:hover ~ label,
#review_container .reviews_box_container .review_rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow: 1px 1px goldenrod, 2px 2px #b57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}
#review_container .reviews_box_container .review_rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}
#review_container .comment_box {
  margin: 20px 0;
}
#review_container .comment_box img {
  border-radius: 50%;
}
#review_container .comment_box p {
  margin: 4px 0 0 0;
  font-size: 13px;
  line-height: 20px;
}
#review_container .comment_box span {
  color: #bbb;
}
.error {
  background-color: #e996b0;
  color: rgba(0, 0, 0, 0.58);
  margin-bottom: 5px;
}
