/* Color scheme definitions */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
* {
  -webkit-backface-visibility: visible;
}
#page-header {
  display: none;
}
.faq_top_container {
  background: #dbe9ec url(../img/travel.jpg) no-repeat center center;
  padding: 30px 0;
  height: 337px;
  -webkit-background-size: cover;
  background-size: cover;
}
.faq_top_container h1 {
  font-weight: 600;
  font-size: 40px;
  margin: 0;
  text-align: right;
}
.bg_motor {
  background: #dbe9ec url(../img/car.jpg) no-repeat center center;
}
.bg_health {
  background: #dbe9ec url(../img/health.jpg) no-repeat center center;
}
.bg_health h1 {
  text-align: left;
}
.bg_motor_bike {
  background: #dbe9ec url(../img/bike.jpg) no-repeat center center;
  opacity: 0.8;
}
.bg_motor_bike h1 {
  color: #000000;
  text-align: left;
}
.faqs-wrapper-products {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #fff;
}
.faqs-wrapper-products .faqs-item {
  float: left;
  width: 20%;
  min-height: 125px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.faqs-wrapper-products .faqs-item img {
  max-width: 138px;
  width: 100%;
}
.faqs-wrapper-products .faqs-item:last-child {
  border-right: 0;
}
.faqs-wrapper-products .faqs-item a {
  text-transform: uppercase;
  font-size: 12px;
  padding: 20px 0;
  display: block;
  color: #324452;
  text-decoration: none;
}
.faqs-wrapper-products .faqs-item a p {
  font-size: 14px;
  letter-spacing: 2px;
}
.faqs-wrapper-products .faqs-item:hover a {
  color: #FF6127;
  text-decoration: none;
}
.form_section_container {
  margin: 35px 0;
}
.form_section_container .faqs_search_container {
  background-color: #26343d;
  padding: 15px 0;
  position: relative;
}
.form_section_container .faqs_search_container .quetion_bg {
  background: url(/static/flatpages/img/question.png) no-repeat left top;
  background-size: 100% 100%;
  height: 118px;
  padding-left: 166px;
}
.form_section_container .faqs_search_container .recently_ask {
  padding: 15px 25px 8px;
}
.form_section_container .faqs_search_container h2 {
  font-size: 30px;
  margin: 0 0 16px;
  color: #fff;
  line-height: 108px;
}
.form_section_container .faqs_search_container input {
  font-size: 16px;
  font-weight: 300;
  height: 42px;
  border: 0;
  outline: 0;
  width: 83.5%;
  padding: 5px 20px;
}
.form_section_container .faqs_search_container button {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.form_section_container .faqs_search_container button:after {
  content: "X";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: #FA9595;
  z-index: 1;
  right: 125px;
  top: 73px;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  cursor: pointer;
}
.form_section_container .faqs_search_container button:hover:after {
  background: #e84e36;
}
.form_section_container .faqs_search_container input:not(:valid) ~ button {
  display: none;
}
.form_section_container .faqs_search_container h3 {
  font-size: 20px;
  color: #fff;
  margin: 0;
}
.form_section_container .faqs_search_container ul {
  margin: 0;
  padding: 5px 0;
  list-style: none;
}
.form_section_container .faqs_search_container ul li {
  margin: 10px 0;
  position: relative;
  padding-left: 30px;
}
.form_section_container .faqs_search_container ul li a {
  color: #fff;
  font-size: 16px;
}
.form_section_container .faqs_search_container ul li a:hover {
  text-decoration: none;
  outline: none;
}
.form_section_container .faqs_search_container ul li img {
  max-width: 20px;
  position: absolute;
  left: -3px;
  top: 2px;
}
.form_section_container .faqs_form {
  background-color: #26343d;
  padding: 20px;
}
.form_section_container .faqs_form .error {
  color: #ff131f;
  font-size: 14px;
}
.form_section_container .faqs_form h2 {
  font-size: 25px;
  margin: 0 0 16px;
  color: #fff;
}
.form_section_container .faqs_form input {
  width: 100%;
  height: 42px;
  border: 0;
  outline: none;
  font-size: 16px;
  color: #999;
  padding: 5px 10px;
  margin: 0 0 15px;
}
.form_section_container .faqs_form button {
  width: 100%;
  height: 42px;
  background-color: #ff6127;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 5px;
}
.form_section_container .faqs_form ul {
  margin: 0;
  padding: 0 20px;
  color: #fff;
}
.form_section_container .faqs_form ul li {
  list-style: none;
  font-size: 16px;
  margin: 15px 0;
  color: #fff;
  position: relative;
}
.form_section_container .faqs_form ul li:before {
  content: "·";
  font-size: 50px;
  vertical-align: middle;
  line-height: 20px;
  position: absolute;
  left: -28px;
  top: -2px;
}
.form_section_container .faqs_form ul li a {
  font-size: 14px;
  color: #fff;
}
.faq_blog_container {
  background-color: #f2f2f2;
  padding: 30px;
}
.faq_blog_container h4 {
  font-size: 25px;
  margin: 0 0 20px;
}
.faq_blog_container .blog_bg {
  padding: 20px;
  background-color: #fff;
}
.faq_blog_container .blog_bg .blog_published.pdt {
  padding-top: 0;
}
.faq_blog_container .blog_bg .blog_published .blog_contents {
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 15px;
  min-height: 461px;
}
.faq_blog_container .blog_bg .blog_published .blog_contents:hover,
.faq_blog_container .blog_bg .blog_published .blog_contents:active {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}
.faq_blog_container .blog_bg .blog_published .blog_contents a {
  text-decoration: none;
}
.faq_blog_container .blog_bg .blog_published .blog_contents a:hover {
  text-decoration: none;
  color: #ff6d3a;
}
.faq_blog_container .blog_bg .blog_published .blog_contents a .blog_page {
  height: 170px;
  overflow: hidden;
  width: 100%;
}
.faq_blog_container .blog_bg .blog_published .blog_contents .bdt {
  border: 1px solid #ececec;
}
.faq_blog_container .blog_bg .blog_published .blog_contents p {
  font-size: 15px;
  color: #808080;
  margin: 15px 0 10px;
}
.faq_blog_container .blog_bg .blog_published .blog_contents h4 {
  font-size: 18px;
  height: 130px;
}
.faq_blog_container .blog_bg .blog_published .blog_contents .blog_writer {
  margin-top: 15px;
}
.faq_blog_container .blog_bg .blog_published .blog_contents .blog_writer .author {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  overflow: hidden;
  position: relative;
}
.faq_blog_container .blog_bg .blog_published .blog_contents .blog_writer .author img {
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  position: absolute;
  top: 50%;
}
.faq_blog_container .blog_bg .blog_published .blog_contents .blog_writer p {
  margin: 0;
  color: #ff6d3a;
}
.faq_blog_container .blog_bg .blog_published .blog_contents .blog_writer span {
  color: #97a4aa;
  font-size: 12px;
}
.form_new_container {
  padding: 30px;
}
.form_new_container .op_container {
  background: #f2f2f2;
  padding: 30px 15px;
  margin: 0 15px;
}
.form_new_container .op_container input {
  width: 100%;
  height: 50px;
  border: 0;
  outline: none;
  font-size: 16px;
  color: #999;
  padding: 5px 10px;
  margin: 0;
}
.form_new_container .op_container button {
  width: 100%;
  height: 50px;
  background-color: #ff6127;
  border: 0;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 5px;
}
.faq_title {
  width: 100%;
  padding: 15px;
  display: inline-block;
  border-bottom: 1px solid #b2b2b2;
  background: #fff;
  transition: all linear 0.15s;
  font-size: 1.200em;
  color: #808080;
}
.faq_title.active {
  background: #314451;
  color: #fff;
  text-decoration: none;
}
.faq_title:hover {
  background: #314451;
  color: #fff;
  text-decoration: none;
}
.faq_content {
  padding: 15px;
  display: none;
}
.faq_content p {
  font-size: 15px;
}
@media screen and (min-width: 200px) and (max-width: 1000px) {
  .logo img {
    max-width: 120px;
  }
}
@media screen and (min-width: 200px) and (max-width: 767px) {
  .faqs-wrapper-products .faqs-item {
    width: 100%;
    border-right: none;
  }
  .bg_health h1 {
    font-weight: normal;
    font-size: 34px;
  }
  .bg_motor h1 {
    font-weight: normal;
    font-size: 37px;
    text-align: left;
  }
  .bg_travel h1 {
    font-weight: normal;
    font-size: 37px;
    text-align: left;
  }
  .bg_motor_bike h1 {
    font-weight: normal;
    font-size: 33px;
    text-align: left;
  }
  .form_section_container .faqs_search_container h2 {
    line-height: 40px;
  }
  .form_new_container {
    padding: 20px 0;
  }
  .form_new_container .op_container input {
    margin: 0 0 15px;
  }
  .faq_blog_container {
    padding: 10px;
  }
  .faq_blog_container .blog_bg {
    padding: 0;
  }
  .faq_top_container {
    background-color: #f2f2f2;
    background-image: none;
    height: auto;
  }
  .form_section_container .faqs_form {
    margin: 15px 0;
  }
  .form_section_container .faqs_search_container .quetion_bg {
    background-image: none;
    padding: 25px;
    height: auto;
  }
  .form_section_container .faqs_search_container input {
    width: 100%;
  }
}
.error {
  color: #ff131f;
  font-size: 14px;
  padding: 5px;
  line-height: 20px;
  margin: 5px 0;
}
