@import "basestyles.less";
@import "lp-styles.less";
@import "../../global/css/footer.less";
.card{
	background: #FFFFFF;
	border: 1px solid rgba(150,150,150,0.00);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.26);
}
.footlist_header{
	color:#a3b3be;
}
#top-menu {
  position: relative;
  margin-bottom:15px;
  .logo {
    float: left;
    text-align: center;
    width: 130px;
    margin-top: 2px;
    margin-bottom: 3px;
    img{
    	max-width: 100%;
    }
  }
  .menuimg {
    position: absolute;
    height: 30px;
    width:30px;
    background-color: #000;
    padding: 5px;
    top:3px;
    right:0px;
    .roundedCorners(30px);
  }
  #right-menu-items {
    padding-left:10px;
    margin-top:0px;
    margin-bottom:0px;
    text-align: right;
    float: right;
    margin-left:-70px;
  }
  #right-menu-items li {
    display: inline-block;
    font-size: 10px;
    color: #999999;
    text-transform: uppercase;
    margin: 0;
    padding-right:40px;
    text-align: right;
    position: relative;
  }

  #right-menu-items li a {
    font-size: 16px;
    display: block;
    color: #000;
    padding:0px;
    &:hover {
      text-decoration: none;
      cursor: default;
    }
  }
  .irda-auth-badge {
    letter-spacing: 0;
    width:215px;
    vertical-align: bottom;
    text-align: left;
    float: left;
    margin-left: 20px;
    font-size:12px;
  }
  #right-menu-items {
    & li.pipe-link {
      padding:5px 10px;
      &.seperator {
        border-right: 1px solid #eaeaea;
        margin: 0px 10px;
        height: 30px;
        padding: 0;
      }
      & a {
        display: inline-block;
        font-size: 13px;
        cursor: pointer;
        font-weight: 600;
        position: relative;
        top: -10px;
      }
      & a:hover {
        text-decoration: none;
        color: #000;
      }
    }
  }
  .base-toggle {
    padding:0px;
    height:28px;
    position: relative;
    top:0px;
    right: 0px;
    float: right;
    width:28px;
    text-align: center;
    background-color: #f3f3f3;
    border: 1px solid rgba(0,0,0,0.02);
    cursor: pointer;
    .roundedCorners(3px);
    &:active,&:focus,&:hover {
      outline: none;
    }
    & .bar {
      content: "";
      position: absolute;
      -webkit-transition: all;
      -o-transition: all;
      transition: all;
      -webkit-transition-duration: 300ms;
      transition-duration: 300ms;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      top: 12px;
      display: inline-block;
      width: 15px;
      height: 3px;
      background-color: #314451;
      right: 6px;

      &.plus {
        .transform(scale(1));
        &:before {
          content: '';
          display: inline-block;
          height: 16px;
          width: 3px;
          background-color: inherit;
          top: -7px;
          left: 6px;
          position: absolute;
        }
      }
      &.minus {
        .transform(scale(0));
      }
    }
    &.active {
      & .bar.plus {
        .transform(scale(0) rotate(-90deg));
      }
      & .bar.minus {
        .transform(scale(1));
      }
    }
  }
  .pipe-menu-right {
    .cubic-trans;
    position: relative;
    text-align: left;
    margin:0 -35px 0px;
    padding: 0px;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    opacity: 0;
    visibility:hidden;
    .transform(scaleY(0));
    height: 0px;
    overflow: hidden;
    border-bottom:1px solid rgba(0,0,0,0.07);
    &.active {
      overflow:visible;
      margin-top:20px;
      margin-bottom: -10px;
      height:auto;
      opacity: 1;
      visibility:visible;
      top:100%;
      .transform(scaleY(1));
    }
    & li {
      display:block;
      padding:0px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0px;
      & a {
        display: block;
        padding: 14px;
        background-color: #f7f7f7;
        color:#314451;
        font-size: 14px;
        font-weight: 400;
        border-top:1px solid rgba(0,0,0,0.2);
        &:hover,&:focus,&:active {
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
}
.top-menu-right{
	padding: 0;
	margin: 0px 0;
	list-style-type: none;
	text-align: right;
	li{
		display: inline-block;
		margin-left: 20px;
        font-size:14px;
		a{
			color:#fff;
			text-transform: uppercase;
			&:hover{
				color:#fff;
			}
		}

		&.s-orange, &.s-empty{
			a{
				background:@cfBaseColor;
				color:#fff;
				padding: 6px 10px;
				display: block;
				.roundedCorners;
				text-decoration: none;
				.transition(@range: background-color, @time: 0.2s);
				&:hover{
					background:darken(@cfBaseColor, 10%);
				}
			}
		}
		&.s-empty{
			margin-left:10px;
			a{
				background: none;
				border:1px solid #fff;
				&:hover{
					background: darken(@baseBlack, 10%);
				}
			}

		}
	}
}

.lp-b1-wrapper h3{
	color:@cfBaseColor;
	margin-top: 0;
}

.lp-b1-wrapper ul li{
	font-size: 18px;
	line-height: 32px;
}


.nav-text{
	color:#97a0a7;
	display: inline-block;
	font-size:16px;
	vertical-align: middle;
	padding-top: 6px;
}

.nav-text-separator{
	height:30px;
	border-right:1px solid #97a0a7;
	margin:0 20px;
	width:0;
}


.header-wrapper{
	position: relative;
	.cover{
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background: @baseBlack;
	}

	padding: 0px 0px 0px 0px;

}

.page-header-wrapper{
	padding-top:80px;
	padding-bottom:80px;
	text-align: center;
	h1{
		//text-align: center;
		color:#fff;
		font-weight: 300;
		font-size: 40px;
		line-height: 56px;
	}
	p{
		color:#fff;
		color:rgba(255,255,255,0.7);
		margin-top: 30px;
		strong{
			color:@cfBaseColor;
		}
	}
	.btn-cfox{
		padding: 6px 56px;
		font-size: 24px;
		display: inline-block;
		margin-top: 30px;
	}
}
.page_nw_header{
	padding: 0;
}










// old stuff



p{
	font-size: 18px;
	line-height: 28px;
	&.small{
		font-size:14px;
		line-height: 28px;

	}
}

ol{
	padding: 20px;

	li{
		font-size: 18px;
		line-height: 28px;
	}
}

.btn-mobile-radius (@radius: 4px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}
.img-radius (@radius: 160px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

.mobile_top_container{
	background: #efeff4;
	padding: 10px 0;
	img{
		max-width: 180px;
	}
	.authrized_top{
		img{
			float: left;
			margin: 0 9px 0 0;
			max-width: 29px;
		}
	}
}
#box1{
	margin:70px 0;
	h2{
		font-size:35px;
		line-height: 46px;
	}
	h3{
		font-size:18px;
		line-height: 25px;
	}
	a{
		font-size: 30px;
		width:300px;
		display: inline-block;
		margin-top:30px;
		text-align: center;
	}
	.right_box_container{
		background: #f7fafc;
		.btn-mobile-radius;
		height: 410px;
	}
}
.bg_white{
	background: #fff !important;
}
#box2{
	background: #efeff4;
	padding: 40px 0;
	.img_container{
		min-height: 310px;
		max-width: 310px;
		.img-radius;
		padding: 40px 0;
		background: #d7d7e1;
	}
	.mar_0{
		margin: 0;
	}
	h2{
		font-size:26px;
		color:#339cec;
		line-height: 39px;
		margin: 0;
		&:after{
			border-bottom: 2px solid #ff5f24;
			content: "";
			left: 17px;
			position: absolute;
			top: 88px;
			width: 100px;
		}
	}
	h3{
		font-size:20px;
		line-height: 31px;
		margin: 30px 0;
	}

}
#box3{
	background: #88c4f3;
	padding: 47px 0;
	h2{
		font-size:40px;
		color:#fff;
		line-height: 45px;
		font-weight: lighter;
		margin: 0 0 90px;
		text-align: center;
		&:after{
			border-bottom: 2px solid #fff;
			content: "";
			left: 43%;
			position: absolute;
			text-align: center;
			top: 110px;
			width: 130px;
		}
	}
	h3{
		font-size:20px;
		line-height: 30px;
		font-weight: normal;
	}
	.profile_container{
		min-height: 164px;
		max-width: 164px;
		.img-radius;
		padding: 40px 0;
		background: #fff;
		margin: 0 auto;
	}
	h4{
		font-size: 13px;
		font-weight: bold;
		line-height: 27px;
	}
}
.btn_act_pos{
	background: #ff6127;
	padding: 15px 10px;
	.btn-mobile-radius;
	color:#fff;
	font-size:26px;
	text-decoration: none;
	margin: 45px 0 0 0;
	text-align: center;
	&:hover{
		text-decoration: none;
		color:#fff;
	}
	img{
		max-height:30px;
	}
}
#box4{
	padding:52px 0 20px 0;
	.ensure_profile{
		margin: 30px 0;
	}
	h4{
		color:#ff5103;
		font-size: 22px;
		margin: 0 0 27px;
	}
	h5{
		font-size: 20px;
		line-height: 25px;
	}
	h2{
		color:#41a3ec;
		font-size: 45px;
		margin: 0 0 27px;

		&:after{
			border-bottom: 2px solid #ff2a00;
			content: "";
			position: absolute;
			left: 15px;
			bottom: 0;
			width: 130px;
		}
	}
	.profile_photo{
		min-height: 80px;
		max-width: 80px;



		.img-radius;
		background: #d7d7e1;
	}
	.right_quetes_container{
		b{
			color:#333;
			font-size:18px;
		}
		span{
			color:#7e858b;
			font-size:16px;
			display: block;
			line-height: 0;
		}
		background: #f7fafc;
		color:#42a1ed;
		font-size:30px;
		padding: 60px 31px;
		line-height: 46px;
		.btn-mobile-radius;
		.testimonial {
			quotes:"\201C" "\201D";
			color:#42a1ed;
			border-left:0;
		}
		.testimonial:before, .testimonial:after {
			font:bold 120px/1px "brandon-grotesque","Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif;;
			color:#e1e7eb;
			position:absolute;
		}
		.testimonial:before {
			content:open-quote;
			margin:25px 0 0 -22px;
		}
		.testimonial:after {
			content:close-quote;
			margin:55px 0 0;
		}
	}
}
#box5{
	padding: 55px 0;
	background: #f7fafc;
	h2{
		font-size: 40px;
		margin: 0 0 27px;
		&:after{
			border-bottom: 2px solid #ff6127;
			content: "";
			left: 43%;
			position: absolute;
			text-align: center;
			top: 110px;
			width: 130px;
		}
	}
	h3{
		color:#56a0ea;
		font-size: 22px;
		line-height: 30px;
	}
	h4{
		font-size: 18px;
		line-height: 30px;
	}
}
.mt_30{
	margin: 30px 0 0 0;
}
.mt_60{
	margin: 60px 0 0 0;
}
.amr_30{
	margin: 0 0 30px 0;
}

#box6{
	padding: 55px 0;
	background: #fff;
	h2{
		font-size: 40px;
		margin: 0 0 27px;
		&:after{
			border-bottom: 2px solid #ff6127;
			content: "";
			left: 43%;
			position: absolute;
			text-align: center;
			top: 70px;
			width: 130px;
		}
	}
	h3{
		color:#56a0ea;
		font-size: 22px;
		line-height: 30px;
	}
	h4{
		font-size: 18px;
		line-height: 30px;

	}
}

#footer-link-main{
	h2{
		margin: 0;
		font-size:22px;
	}
	ul{
		padding: 0 20px;
		li{
			list-style-type: circle;
			padding: 10px 0;
			a{
				padding: 10px 0;
			}

		}
	}
}

@media only screen and (max-width : 767px)
{
	#box1 a{
		font-size: 27px;
		img{
			max-width: 11px;
		}
	}
	#box4,#box5{
		h2{
			font-size:22px;
			&:after{
				left: 29%;
			}
		}
	}
	#box6 h2{
		font-size: 27px;
		&:after{
			left: 34%;
			top: 72px;
		}
	}
}
#sitemap{
	margin: 30px 0;
	h3{
		font-size: 30px;
		margin: 10px 0 0 0;
		line-height: 50px;
	}
	.map-block{
		margin: 10px 0;
		h4{
			font-size: 16px;
			border-bottom: 2px solid #ddd;
			padding: 0 0 10px;
			margin: 30px 0 20px;
		}
        h5 {
          font-size: 16px;
          margin-left: 15px;
          margin-bottom: 15px;
          margin-top: 20px;
          & a {
            font-size: 14px;
            margin-left: 10px;
          }
        }
	}
	ul{
		list-style: circle;
		padding: 0px 0 0 30px;
		li{
			padding: 5px;
			a{
				font-size: 13px;
			}

		}
	}
}
.breadcrums-link{
	padding: 0 0 10px !important;
	a{
		color: #fff;
		font-size: 14px;
		margin: 0 15px;
		cursor: auto !important;
		&:first-child{
			cursor: auto !important;
			margin: 0;
		}
		&:last-child{
			cursor: default;
			text-decoration: none;
			margin: 0;
		}
		img{
			max-width: 6px;
			margin: 0 0 0 5px;
		}
	}
}

#network_hospitals{
	.network-list-search{
		margin: 20px 0;
		select{
			width:100%;
			font-size: 14px;
			line-height: 40px;
			height: 42px;
			padding: 5px;
			border:1px solid #ccc;
			background: #e3e3ec;
			.btn-mobile-radius;
			outline:none;
		}
		.btn-n{
			padding: 5px;
			width: 100%;
		}
	}
	.search_result_container{

		h3{
			margin: 0 0 10px 0;
		}
		margin: 20px 0;
		h2{
			margin: 0 0 20px;
			font-size: 20px;
		}
		ul{

			padding: 0;
			&.min-h{
				a{
					min-height: 67px;
				}
			}

			li{
				list-style: none;
				margin: 20px 0;
				border: 1px solid #ddd;
				&:first-child{
					margin: 0;
				}

				a{
					color:#FB5F26;
					padding: 9px;
					display: block;
					min-height: 68px;
					&:hover{
						box-shadow: 0 2px 10px rgba(0,0,0,0.12);
						-moz-box-shadow: 0 2px 10px rgba(0,0,0,0.12);
						-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.12);
					}

				}
				img{
					max-width: 101px;
					margin-right: 15px;
				}

			}

		}
		&.column_none ul{
			column-count:auto;
			-moz-column-count:auto;
			-webkit-column-count:auto;
			li{
				margin: 10px 0;
			}
		}

	}
}

.buy_product_margin{
	margin-left: 74px;
}
.review-radius(@radius: 5px){
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}
.contact_wrap_container{
	margin: 40px 0px 30px;
}
.two_wheeler_defualt{
	padding: 25px;
}
.top-txt{
  font-size: 40px;
  font-weight: 300;
  color: #fff;
  line-height: 56px;
}
.h-tag{
	h1{
	font-size: 40px;
   font-weight: 300;
   color: #f34100;
   margin: 0 0 15px;
   line-height: 35px;
  }
}

/* tabular css ST */
.tab_ul{
	 ul
	  margin: 0;
	  padding: 0;
	  list-style: none;
	li{
	 margin: 15px 0;
	  font-size: 16px;
	  font-weight: 300;
	}
}

.top_blog{
	padding: 30px 0 50px;
	.logo_insurer{
		background-color: #fff;
		padding: 40px 10px;
		border:1px solid #d0d0d0;
	}
	h2{
		font-size: 28px;
		font-weight: 300;
		margin: 0;
		color:#fff;
	}
	h3{
		font-size: 18px;
		font-weight: 300;
		margin: 0;
		color:#fff;
	}
	h5{
		color:#fff;
	}
}
.hero_wrapper{
	background: #f6f5f3;
	height: 200px;
	position: relative;
}
.companies-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  ul.company-logos {
    list-style-type: none;
    text-align: center;
    padding: 0;
    & li {
      display: inline-block;
      padding: 15px;
      position: relative;
      & img {
        height: 45px;
      }
    }
  }
}
.tabular_container{
	padding: 30px;
	.tabular_head{
		.para{
			margin:20px 0;
			font-weight: 300;
		}

		.tab_container{
			margin: 20px 0;
		}
		.bdm{
			border-bottom: none;
		}
		table{
			border:1px solid #ccc;
			border-collapse: initial;
		}
		tr{

			&:nth-last-child(2n+1){
				background-color: #ECF1F4;
			}
		}
		td{
			padding: 10px;
			border-bottom: 1px solid #ccc;

			b{
				font-size: 18px;
				font-weight: normal;
			}
		}
		a{
			font-size: 16px;
			margin: 0 0 10px;
		}
		h1{
			font-size: 32px;
			font-weight: 300;
			margin: 0;
		}
		h3{
			color:@cfBaseColor;
			font-size: 26px;
			font-weight: 300;
			padding: 15px;
			background-color: #ECF1F4;
		}
		ul{
			margin: 0;
			padding:20px;
			list-style-type: circle;
			li{
				margin: 15px 0;
				font-size: 20px;
				font-weight: 300;
			}
			strong{
				font-weight: 400;
			}

		}
		.tabular_list_container{
			padding: 15px 0;
			a{
			font-size:18px;
			}
			h4{
				font-size: 18px;
				margin: 0;
				line-height: 28px;
			}
			p{
				font-size: 20px;
				font-weight: 300;
			}
			ul{
				margin: 0;
				padding: 0 50px;
				li{
					font-size: 17px;
  					font-weight: 300;
				}
			}
		}
	}
	.note{
		margin: 10px 0;
		font-size: 14px;
	}
}
.list_para_txt{
	font-size: 19px;
  	font-weight: 300;
  	a{
  	font-size: 19px;
    font-weight: 300;
  	}
}
.review_txt_nw{
	font-size:14px;
	font-style:italic;
}
.ext_heading{
	color: #ff6127;
    font-size: 26px;
    font-weight: 300;
    padding: 15px;
    background-color: #ECF1F4;	
}
.insurer_form_container{
	margin: 0;
	.input_container{
		position: relative;
		span{
			position: absolute;
			top: 28px;
  			left: 6px;
		}
		.form_text_box{
			width:100%;
			border:0;
			height: 45px;
			outline: none;
			padding: 0 0 0 45px;
			margin:15px 0;
		}
	}
	.dib{
		width:100%;
		display: block;
	}
	.terms-msg{
		font-size: 11px;
		color:#fff;
		margin: 10px 0;
	}

}
/* tabular css EN */


//media querry

@media screen and (min-width:0px) and (max-width:1024px){
  #top-menu .base-toggle{
    top:0;
  }
  .top-menu-right li{
    margin: 0px 0 0 15px;
    font-size: 14px;
  }
  .nav-text-separator{
    margin: 0 12px;
  }
  .nav-text{
    font-size: 13px;
    display: none;
  }
}

@media screen and (min-width:0px) and (max-width:767px){
	.top_blog {
		h2{
		font-size: 20px;
		margin: 20px 0;
		}
		h3{
			font-size: 16px;
		}
	}
  #top-menu .logo {
    width: 120px;
  }
  .top-menu-right li.s-orange a, .top-menu-right li.s-empty a {
    font-size: 10px;
    padding: 6px;
  }
}

@media screen and (min-width:481px) and (max-width:600px){
	.top_blog {
		h2{
		font-size: 20px;
		margin: 20px 0;
		}
		h3{
			font-size: 16px;
		}
	}
  .nav-text-separator{
    border:none;
    margin: 0;
  }
  .footer-wrapper-products .fp-item{
    width:100%;
    float: none;
    border:none;
  }
  .header-wrapper .logo img{
    max-width: 100%;
  }
  .top-txt{
    line-height:25px;
    font-size: 25px;

  }
  .h-tag h1{
    font-size: 25px;
  }
  .lp-b1-wrapper p{
    font-size: 13px;
  }
  .lp-sub-title-wrapper h2{
    font-size: 24px;
    line-height: 34px;
  }
  .lp-b2-wrapper h2{
    font-size: 25px;
    line-height: 25px;
  }
  .lp-b2-wrapper .b2-item p{
    font-size: 13px;
  }
  .lp-b1-wrapper h2{
    font-size: 25px;
    line-height: 27px;
  }
  .lp-b1-wrapper{
    li{
      font-size: 13px;
    }
  }

}

@media screen and (min-width:0px) and (max-width:480px){
	.top_blog {
		h2{
		font-size: 20px;
		margin: 20px 0;
		}
		h3{
			font-size: 16px;
		}
	}
  #top-menu .logo {
    width: 100px;
  }
  .only-320{
    padding: 0;
  }
  #top-menu .base-toggle{
    right:-4px;
  }
  .nav-text-separator{
    border:none;
    margin: 0;
  }
  .footer-wrapper-products .fp-item{
    width:100%;
    float: none;
    border:none;
  }
  .breadcrums-link{
    padding: 0;
    a{
      margin: 0 13px;
    }
  }
  .top-txt{
    line-height:25px;
    font-size: 25px;

  }
  .h-tag h1{
    font-size: 25px;
  }
  .lp-b1-wrapper p{
    font-size: 13px;
  }
  .lp-sub-title-wrapper h2{
    font-size: 24px;
    line-height: 34px;
  }
  .lp-b2-wrapper h2{
    font-size: 25px;
    line-height: 25px;
  }
  #top-menu .pipe-menu-right{
    margin: 0 -20px;
  }
  .lp-b2-wrapper .b2-item p{
    font-size: 13px;
  }
  .lp-b1-wrapper h2{
    font-size: 25px;
    line-height: 27px;
  }
  .lp-b1-wrapper{
    li{
      font-size: 13px;
    }
  }
  .companies-wrapper {
    height: 135px;
    ul.company-logos {
      padding: 10px 0px 10px;
      & li {
        display: inline-block;
        padding: 10px;
        & img {
          height: 40px;
        }
      }
    }
  }
}
.bg_car{
	background-color: #314451;
}
#page-header {
  padding-top: 20px;
}
.breadcrums-link {
  padding: 0px;
}
#review_container .reviews_box_container {
	margin: 0 0 30px 0;
}

#review_container .reviews_box_container .rating-star {
	margin: 20px 0 0 20px;
}

#review_container .reviews_box_container img {
	max-width: 150px;
}

#review_container .reviews_box_container i {
	margin: 0 5px;
	color: #ff6127;
}

#review_container .reviews_box_container p {
	font-size: 14px;
}

#review_container .reviews_box_container .mht {
	margin: 10px 0 0 0;
}

#review_container .reviews_box_container .review_rating {
	float: left;
}

#review_container .reviews_box_container .review_rating.pos-r {
	position: relative;
	left: -24px;
}

#review_container .reviews_box_container .review_rating:not(:checked) > input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

#review_container .reviews_box_container .review_rating:not(:checked) > label {
	float: right;
	width: 1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 200%;
	line-height: 1.2;
	color: #ddd;
	text-shadow: 1px 1px #bbbbbb, 2px 2px #666666, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

#review_container .reviews_box_container .review_rating:not(:checked) > label:before {
	content: '★ ';
}

#review_container .reviews_box_container .review_rating > input:checked ~ label {
	color: #f70;
	text-shadow: 1px 1px #cc6600, 2px 2px #994400, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

#review_container .reviews_box_container .review_rating:not(:checked) > label:hover,
#review_container .reviews_box_container .review_rating:not(:checked) > label:hover ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod, 2px 2px #b57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

#review_container .reviews_box_container .review_rating > input:checked + label:hover,
#review_container .reviews_box_container .review_rating > input:checked + label:hover ~ label,
#review_container .reviews_box_container .review_rating > input:checked ~ label:hover,
#review_container .reviews_box_container .review_rating > input:checked ~ label:hover ~ label,
#review_container .reviews_box_container .review_rating > label:hover ~ input:checked ~ label {
	color: #ea0;
	text-shadow: 1px 1px goldenrod, 2px 2px #b57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

#review_container .reviews_box_container .review_rating > label:active {
	position: relative;
	top: 2px;
	left: 2px;
}

#review_container .comment_box {
	margin: 20px 0;
}

#review_container .comment_box img {
	border-radius: 50%;
}

#review_container .comment_box p {
	margin: 4px 0 0 0;
	font-size: 13px;
	line-height: 20px;
}

#review_container .comment_box span {
	color: #bbb;
}
.error{
	background-color: #e996b0;
    color: rgba(0,0,0,0.58);
	margin-bottom: 5px;
}



