/* Color scheme definitions */
@bannerBackgroundColor : #f9f7f6;
@boxLightBackground : #ffffff;
@boxDarkBackground : #f9f9f9;
@textColor : #363636;
@lightTextColor : rgba(39, 35, 35, 0.76);
@baseThemeColor : #ff6127;
@baseButtonBg : #ff6127;
@buttonHoverBg : rgba(249, 98, 6, 0.99);
@baseButtonBorder : #ff512b;
@bannerbg : #24afff;
@baseFontSize : 14px;
/* Color scheme definitions end */

/* generic styling variables/ classes */

.cubic-trans {
  -moz-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -webkit-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -o-transition: all .3s cubic-bezier(0.4,0,.2,1);
  transition: all .3s cubic-bezier(0.4,0,.2,1);
}
.boxShadow(@value){
  -webkit-box-shadow: @value;
  -moz-box-shadow: @value;
  box-shadow: @value;
}

.roundedCorners(@radius: 3px){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.transform(@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}

/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  .roundedCorners(3px);
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  .boxShadow(0 1px 2px rgba(0, 0, 0, 0.15));
  &.orange {
    background-color: @baseButtonBg;
    border: 1px solid @baseButtonBorder;
  }
  &.black {
    background-color: #363636;
    border: 1px solid #000000;
    &:hover,
    &:focus,
    &:active {
      background-color: #303030;
      color: #FFFFFF;
    }
  }
  &.yellow {
    background-color: #ffe145;
    border:1px solid #e5c000;
    color: @textColor;
    &.shadow {
      .boxShadow(0px -4px 0px rgba(0,0,0,0.2) inset);
    }
    &:hover,
    &:focus,
    &:active {
      background-color: #ffd600;
      color: @textColor;
    }
  }
  &:hover,
  &:focus,
  &:active {
    background-color: rgba(249, 98, 6, 0.99);
    text-decoration: none;
    outline: none;
    color: #ffffff;
  }
  
}
.btn-bg-less {
    border: 1px solid @baseButtonBg;
    background: none;
    color: @baseButtonBg;
    .boxShadow(none);
    &:hover,&:active {
      background-color: @baseButtonBg;
      color: #fff;
    }
  }