@import "base_theme";
.footer-wrapper-products {
  display: none;
}

body, h1, h2, h3, h4, h5, h6 {
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
body {
  font-size:@baseFontSize;
}
.mnone {
  margin:0px;
}
.pnone {
  padding:0px;
}

/* button styling css */
.btn-coverfox.orange {
  padding:8px 15px;
}


/* box stylings */

.light-box,.dark-box {
  padding: 50px 0px 70px;
  line-height: 1.8em;
  h1 {
    font-size: 36px;
    margin: 0px 0px 40px;
    text-align: center;
    font-weight: 300;
    color:@textColor;
    line-height: 1.4em;
  }
  .lead-para {
    color:@lightTextColor;
    font-size: 16px;
    line-height: 1.7em;
    & strong {
      color: @textColor;
    }
  }
}
.light-box {
  background: @boxLightBackground;
  color:@textColor;
  .leader {
    color:@baseThemeColor;
    line-height: 1.4em;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    margin: 40px 0px;
  }
  legend {
    font-size:18px;
    color:@lightTextColor;
    line-height: 1.4em;
    border:0px solid transparent;
    & + p {
      color:@textColor;
      margin-bottom:30px;
    }
  }
}
.dark-box {
  background-color: @boxDarkBackground;
  border-top:1px solid rgba(0,0,0,0.02);
  border-bottom:1px solid rgba(0,0,0,0.02);
}
.color-highlight {
  color: @baseThemeColor !important;
}
/* basic elements styling */
.hero-wrapper {
  position: relative;
}
.ebook_download_container{
    padding: 30px;
    background-color:#1a2b33;
    
    h3{
      color:#c7c7c7;
      font-size: 22px;
      margin: 45px 0 30px;
    }
    .border_divider{
      border-right:1px solid #999;
    }
    .padd_l{
      padding-left: 45px;
    }
    .ml{
      margin: 0 0 0 40px;
    }
    .radio_conatiner{
      max-width: 435px;
      width:100%;
      label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding: 0 30px 0;
        font-size: 14px;
        font-weight: normal;
        color:#c7c7c7;
        &:before{
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        top:5px;
        .roundedCorners(@radius: 50%);
        bottom: 1px;
        background-color: @boxLightBackground;
        }
      }
      .input_rad{
        display: none;
      }
      .input_rad:checked {
          +label{
            &:before {
            content: "\2022";
            color: @baseThemeColor;
            font-size: 30px;
            text-align: center;
            line-height: 12px;
          }
        }
      }
    }
  .image_width{
    text-align: center;
    img{
      max-width: 125px;
      margin: auto;
    }
  }
  
  .ebook_form_container{
    max-width: 385px;
    margin: auto;
    width:100%;
    .field_wrapper{
      p{
        font-size: 15px;
        color:#c7c7c7;
        font-weight: 300;
      }
    }
    h2{
      font-weight: 300;
      color:#c7c7c7;
      font-size: 23px;
      margin-bottom: 40px;
      strong{
        font-weight: 600;
      }
    }
    .error{
    color: #f00;
    font-size: 14px;
    line-height: initial;
    }
    .hide{
      display: none;
    }
    
  }
  .error {
  color: #f00;
  font-size: 14px;
  line-height: initial;
}
  input{
      width:100%;
      height: 42px;
      padding: 5px;
      border:0;
      outline: none;
      display: block;
      margin: 0 0 15px;
      &.btn_orange{
        background-color: @baseButtonBg;
        color:@boxLightBackground;
        font-weight: 600;
        font-size: 18px;
      }
    }
    .mt{
        margin: 35px 0 0;
      }
    .thank_wrap {
      padding:130px 0 0;
      text-align: center;
      h1 {
          color:#c7c7c7;
          font-size: 30px;
        }
    }
}

#topbar {
  padding: 10px 0;
  position: relative;
  margin-bottom:15px;
  .logo {
    float: left;
    text-align: center;
    width: 130px;
    margin-bottom: 5px;
    margin-top: 2px;
    & img {
      width:100%;
    }
  }
  .menuimg {
    position: absolute;
    height: 30px;
    width:30px;
    background-color: @textColor;
    padding: 5px;
    top:3px;
    right:0px;
    .roundedCorners(30px);
  }
  #right-menu-items {
    padding-left:10px;
    margin-top:0px;
    margin-bottom:0px;
    text-align: right;
    float: right;
    margin-left:-70px;
  }
  #right-menu-items li {
    display: inline-block;
    font-size: 10px;
    color: #999999;
    text-transform: uppercase;
    margin: 0;
    padding-right:40px;
    text-align: right;
    position: relative;
  }

  #right-menu-items li a {
    font-size: 16px;
    display: block;
    color: @textColor;
    padding:0px;
    &:hover {
      text-decoration: none;
      cursor: default;
    }
  }

  .irda-auth-badge {
    letter-spacing: 0;
    width:215px;
    vertical-align: bottom;
    text-align: left;
    float: left;
    margin-left: 20px;
    font-size: 12px;
    & img {
      height: 35px;
      margin-right: 5px;
      margin-left: 10px;
      vertical-align: bottom;
      float: left;
    }
  }
  #right-menu-items {
    & li.pipe-link {
      padding:5px 10px;
      &.seperator {
        border-right: 1px solid #eaeaea;
        margin: 0px 10px;
        height: 30px;
        padding: 0;
      }
      & a {
        display: inline-block;
        font-size: 13px;
        cursor: pointer;
        font-weight: 600;
        position: relative;
        top: -10px;
      }
      & a:hover {
        text-decoration: none;
        color: @baseThemeColor;
      }
    }
  }
  .navbar-toggle {
    display: none;
    margin-right:10px;
    padding:0px;
    height:34px;
    width:34px;
    text-align: center;
    background-color: #f3f3f3;
    border: 1px solid rgba(0,0,0,0);
    .boxShadow(0 1px 1px rgba(0,0,0,0.3));
    cursor: pointer;
    .roundedCorners(3px);
    &:active,&:focus,&:hover {
      outline: none;
    }
    & .bar {
      content: "";
      position: absolute;
      -webkit-transition: all;
      -o-transition: all;
      transition: all;
      -webkit-transition-duration: 300ms;
      transition-duration: 300ms;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      top: 15px;
      display: inline-block;
      width: 15px;
      height: 3px;
      background-color: @textColor;
      left: 9px;

      &.plus {
        .transform(scale(1));
        &:before {
          content: '';
          display: inline-block;
          height: 16px;
          width: 3px;
          background-color: inherit;
          top: -7px;
          left: 6px;
          position: absolute;
        }
      }
      &.minus {
        .transform(scale(0));
      }
    }
    &.active {
      & .bar.plus {
        .transform(scale(0) rotate(-90deg));
      }
      & .bar.minus {
        .transform(scale(1));
      }
    }
  }
  .pipe-menu-right {
    .cubic-trans;
    position: relative;
    text-align: left;
    margin:0 -15px 0px;
    padding: 0px;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    opacity: 0;
    visibility:hidden;
    .transform(scaleY(0));
    height: 0px;
    overflow: hidden;
    border-bottom:1px solid rgba(0,0,0,0.07);
    &.active {
      overflow:visible;
      margin-top:10px;
      margin-bottom: -10px;
      height:auto;
      opacity: 1;
      visibility:visible;
      top:100%;
      .transform(scaleY(1));
    }
    & li {
      display:block;
      padding:0px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0px;
      & a {
        display: block;
        padding: 15px;
        background-color: #f7f7f7;
        border-top:1px solid rgba(0,0,0,0.05);
        &:hover,&:focus,&:active {
          color: @baseThemeColor;
          text-decoration: none;
        }
      }
    }
  }
}

.companies-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(0,0,0,0.05);

  ul.company-logos {
    list-style-type: none;
    text-align: center;
    padding: 0;
    & li {
      display: inline-block;
      padding: 15px;
      position: relative;
      & img {
        height: 50px;
      }
    }
  }
}


.experts-help {
  ul {
    margin: 15px auto;
    padding:0px;
    max-width:450px;
    & li {
      list-style-type: none;
      font-size: 16px;
      margin-top: 15px;
      position: relative;
      padding-left: 45px;
      padding-top: 10px;
      color: @lightTextColor;
      & img {
        width:33px;
        position: absolute;
        left: 0px;
        top: 5px;
      }
    }
  }
  & .contact-me-error-expert {
    color: #ff0000;
    margin: 5px 0px;
    background-color: #FFEDED;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 3px 10px;
    display: none;
  }

}

.benefits-wrapper {
  background-color: #f3f3f3;
  img {
    max-width: 180px;
    display: block;
    margin: auto;
    width: 100%;
    .roundedCorners(100%);
    border: 2px solid rgba(250, 95, 38, 1);
    background-color: #ffffff;
    padding: 5px;
  }
  h4 {
    text-align: center;
    margin: 15px 0 15px 0;
    font-weight: 600;
    line-height: 1.4em;
    color: #444444;
    font-size: 18px;
  }
}

.testimonials-carousel {
  background: none repeat scroll 0 0 @baseThemeColor;
  color: #FFFFFF;
  min-height: 460px;
  padding:10px 0px;
  h1.section-header {
    color: #FFFFFF;
    font-size: 32px;
    margin: 30px 0px 10px;
    text-align: center;
    font-weight: 300;
    line-height: 1.4em;
  }

  .carousel {
    position: relative;
    min-height: 300px;
    ul {
      margin: 10px 0;
      padding: 0;
      list-style-type: none;
      position: relative;
      & li {
        text-align: center;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 30px;
        font-size: 20px;
        color: #ffffff;
        line-height: 170%;
        & img {
          width: 150px;
          margin-bottom: 20px;
          opacity: 1;
          border: 1px solid #8E8E8E;
        }
        & span.t_user {
          font-weight: bold;
          margin-top: 20px;
          display: inline-block;
          position: relative;
          &:before, &:after {
            position: absolute;
            content: '';
            width: 70px;
            border-bottom: 1px solid #ffffff;
            left: -85px;
            top: 50%;
            height: 0;
          }
          &:after {
            left: 100%;
            margin-left: 15px;
          }
        }
      }
      & li.cf-visible {
        opacity: 1;
      }
    }
  }
}


.testimonials-section {
  & .testimonial-item {
    max-width: 400px;
    position: relative;
    margin: 0px auto 30px;
    min-height: 160px;
    & img {
      width:100px;
      position: absolute;
    }
    & .comment {
      line-height: 1.4em;
      position: relative;
      padding-left: 15px;
      margin-left: 100px;
      color: #666;
      & p.title {
        font-style: italic;
        font-weight: 600;
      }
      & img {
        display: block;
        position: relative;
        width: 30px;
        top:-10px;
        opacity: 0.5;
      }
    }
  }
  .testimonial_action_btn {
    position: relative;
    top:10px;
  }
  .btn-cfox.orange {
    .btn-bg-less;
  }
}

.wow {
  background-color: transparent;
  padding: 0px;
  .roundedCorners(3px);
  max-width: 700px;
  margin: 40px auto 0px;
  .input-group-addon:first-child {
    .roundedCorners(3px 0px 0px 3px);
    background-color: @boxDarkBackground;
  }
  .call_me_btn_expert.btn-cfox {
    font-size: 16px;
    .roundedCorners(0px 3px 3px 0px);
  }
  .input-group .form-control {
    height: 54px;
    .roundedCorners(0px);
  }
}

.terms-msg {
  font-size: 10px;
  line-height: 1.6em;
  color:@lightTextColor;
  margin-top:10px;
  text-align: left;
}
.footer {
  padding: 40px 20px;
  border-top: 1px solid rgba(0,0,0,0.05);
  color:#999999;
  & .txt-r {
    text-align: right;
  }
}

.three-steps {
  h1 {
    text-transform: uppercase;
    font-size: 32px;
    & img {
      margin-top:-6px;
      width: 130px;
      display: inline-block;
    }
    .small {
      font-size: 18px;
      color: #aaa;
      text-transform: none;
      font-weight: 400;
    }
  }
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 20px auto 60px;
    min-width: 720px;
    text-align: center;
    & li {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin:0px;
      & .step_number {
        color: #fff;
        background-color: @baseThemeColor;
        padding:5px 12px;
        font-size: 20px;
        font-weight:400;
        position: absolute;
        z-index: 10;
        top:4px;
        left:4px;
        .roundedCorners(100%);
      }
      &.middle-cir {
        margin:0 120px;
      }
      & > div {
        border: 1px solid rgba(0,0,0,0.02);
        .roundedCorners(100%);
        padding:65px 10px;
        text-align: center;
        width: 190px;
        font-size: 14px;
        height: 190px;
        line-height: 1.5em;
        top: 0px;
        left: 0px;
        position: relative;
        background-color: #f3f3f3;
        z-index:2;
        &:after {
          position: absolute;
          content: '';
          display: block;
          border-top: 1px solid #666;
          width: 115px;
          margin-left: 5px;
          left: 100%;
          top: 50%;
          z-index: 1;
        }
        &:before {
          position: absolute;
          content:'';
          display: block;
          border-width:5px;
          border-style: solid;
          border-color:transparent transparent transparent #555;
          left:-10px;
          top:50%;
          margin-top: -5px;
          z-index: 1;
        }
        &.no-link:after,&.no-link-arr:before {
          display: none;
        }
        &.padding-top {
          padding-top:60px;
        }
      }
    }
  }
}
.container.text-block {
  max-width: 1100px;
}
.video_container_hero{
  background: url(../img/video_img.jpg) no-repeat center top fixed;
  height: 450px;
  position: relative;
  text-align: center;
  h1{
    font-size: 45px;
    font-weight: 500;
    color:#fff;
    margin: 50px 0 20px 0;
  }
  h5 {
    color: #ffffff;
  }
  .overlay_bg{
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
  }
  a{
    img{
      margin-top: 50px;
      max-width: 100px;
    }
  }
}
.hero_modal_overlay {
  display: none;
  z-index: 1001;
  top:0;
  left:0;
  bottom: 0;
  right:0;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  overflow-x: hidden;
  overflow-y: auto;
  &.active {
    display: block;
  }
  .hero_modal_content {
    position: relative;
    margin: auto;
    top:-200%;
  }
  &.active .hero_modal_content {
    top:80px;
  }
  & .close-overlay {
    width: 90px;
    height: 30px;
    color: #fff;
    position: absolute;
    z-index: 1;
    background: url('../img/ic_close.png') no-repeat -15px center transparent;
    right: 20px;
    top:20px;
    padding-left: 35px;
    padding-top: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}
#video-frame {
  iframe {
    margin: auto;
    width:767px;
    height: 431px;
    display: none;
    &.reveal {
      display: block;
    }
  }
}

/* mobile optimisation general css */

@media screen and (min-width: 200px) and (max-width: 991px) {
  .border_divider{
    padding-right: 30px;
  }
  .ebook_download_container .padd_l{
    padding: 0;
  }
  .benefits-wrapper h4 {
    font-size:16px;
    margin-bottom:40px;
  }
  #right-menu-items li {
    display: block;
    margin-bottom:10px;
  }
  .companies-wrapper {
    height:auto;
    & ul.company-logos li {
      padding: 10px;
      img {
        height: 50px;
      }
    }
  }
  #topbar {
    & .logo {
      float: none;
      margin-bottom:3px;
    }
    & .irda-auth-badge {
      position: relative;
      float: none;
      margin:0px;
      font-size: 12px;
      color:#999999;
      br {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .ebook_download_container .padd_l{
    padding: 0;
  }
  .testimonials-carousel h1.section-header {
    font-size: 40px;
  }
  .companies-wrapper {
    height:145px;
    & ul.company-logos li {
      padding: 10px 15px;
      img {
        height: 50px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .three-steps ul li.middle-cir {
    margin: 0 70px;
  }
  .three-steps ul li > div:after {
    width: 65px;
  }
}
@media only screen and (min-width : 200px) and (max-width : 767px) {
  .ebook_download_container{
    padding: 30px 0;
    .border_divider{
      border:0;
      &.mobile_border{
        border-bottom: 1px solid #999;
        padding: 0 0 20px;
      }
    }
    .ebook_form_container{
      margin-top: 40px;
        h2{
           margin-bottom: 40px;
        }
    }
  }
  .video_container_hero{
    height: 300px;
    h1{
      font-size: 28px;
    }
  }
  #video-frame {
  iframe {
    width:100%;
    height: auto;
  }
}
  .form_container a{
    padding: 10px 12px !important;
  }
  body,html {
    min-width:320px;
  }
  .call-action {
    max-width: 460px;
    margin: auto;
    padding: 0 30px;
  }
  .experts-help ul {
    padding-left: 30px;
    margin: 0px;
    max-width: 100%;
  }
  .experts-help ul li {
    font-size:18px;
    padding-top:10px;
    margin-top:20px;
  }
  .testimonials-carousel {
    min-height:360px;
  }
  #topbar {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    .logo {
      width: 120px;
    }
    .menuimg {
      width:25px;
      height:25px;
    }

    #right-menu-items {
    }
    #right-menu-items li {
      padding-right:30px;
    }

    #right-menu-items li a {
      font-size:14px;
    }
    .irda-auth-badge {
      font-size:10px;
    }
  }

  .testimonials-carousel h1.section-header {
    font-size: 36px;
    line-height: 1.2em;
    padding: 0 15px;
  }
  .carousel ul li {
    font-size: 14px;
    padding-top: 0;
  }
  ul.company-logos li {
    padding: 5px;
    img {
      height: 30px;
    }
  }
  .companies-wrapper {
    height:auto;
    & ul.company-logos li {
      padding: 5px;
      img {
        height: 40px;
      }
    }
  }
  .experts-help ul li img {
    top: 5px;
  }
  .testimonials-carousel {
    &  h1.section-header {
      font-size: 32px;
    }
    & .carousel ul li {
      font-size:16px;
    }
    & .carousel ul li img {
      width: 110px;
    }
  }

  .wow .call_me_btn_expert.btn-cfox {
    margin-top:10px;
  }
  & .three-steps {
    & h1 {
      font-size: 26px;
      margin-bottom:0px;
    }
    & ul {
      max-width: 100%;
      min-width: 100%;
      width: 100%;
      padding: 0px 0px 0px 30px;
      margin: 30px 0px 20px;
      & li {
        position: relative;
        float: none;
        width: 100%;
        margin: 0px;
        & .step_number {
          top:0px;
          left:0px;
        }
        & strong {
          top: 0px;
        }
        & > div {
          border-width: 0px;
          padding: 7px 20px 7px 45px;
          text-align: left;
          margin-bottom: 10px;
          width: auto;
          font-size: 16px;
          height: auto;
          line-height: 1.5em;
          top: 0px;
          left: 0px;
          position: relative;
          background-color: transparent;
          &:after,&:before {
            display: none;
          }
          &.padding-top {
            padding-top: 7px;
          }
        }
        &.middle-cir {
          margin: 0;
        }
      }
    }
  }
  .testimonials-section {
    & .testimonial-item {
      & .comment {
        font-size: 13px;
      }
    }
  }
  .dark-box,.light-box {
    h1 {
      font-size: 32px;
    }
  }
  .footer {
    padding-left: 0;
    padding-right: 0;
    & .txt-r {
      text-align: left;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 690px) {
  #topbar {
    .navbar-toggle {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 5px;
    }
    #right-menu-items .pipe-link {
      display: none;
    }
    #right-menu-items li {
      padding-right:0px;
    }
    #right-menu-items {
      margin-right: 50px;
    }
    .menuimg {
      display: none;
    }
  }
}
@media screen and (min-width: 200px) and (max-width: 519px) {
  .btn-cfox {
    white-space: normal;
  }
  .light-box h1, .dark-box h1 {
    font-size: 28px;
    padding-left:15px;
    padding-right:15px;
  }
  .experts-help ul {
    padding-left: 0px;
    li {
      font-size: 16px;
      padding-top: 0px;
      margin-top: 20px;
    }
  }
  .companies-wrapper {
    height: auto;
    & ul.company-logos li {
      padding: 5px;
      img {
        height: 40px;
      }
    }
  }

  .testimonials-carousel {
    &  h1.section-header {
      font-size: 32px;
    }
    & .carousel ul li {
      font-size:14px;
    }
    & .carousel ul li img {
      width: 110px;
    }
  }
  & .three-steps ul {
    padding-left: 0px;
  }
  .experts-help ul li img {
    top: 0px;
  }
}

.text-panel {
  margin: 20px 0;
  font-size: 16px;
}
.text-panel h3 {
  font-weight: bold;
}

.text-panel p, ul li {
  font-size: 16px;
}

.thank_wrap{
  padding:100px 0 0;
}

