@import "base_theme";
@banner-color:rgba(54, 197, 192, 0.9);

.footer-wrapper-products {
  display: none;
}
body, h1, h2, h3, h4, h5, h6 {
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
body {
  font-size:@baseFontSize;
}
.mnone {
  margin:0px;
}
.pnone {
  padding:0px;
}

/* button styling css */
.btn-coverfox.orange {
  padding:8px 15px;
}


/* box stylings */

.light-box,.dark-box {
  padding: 30px 0px 50px;
  line-height: 1.8em;
  h1 {
    font-size: 30px;
    margin: 0px 0px 20px;
    text-align: center;
    font-weight: 300;
    color:@textColor;
    line-height: 1.4em;
  }
}
.light-box {
  background: @boxLightBackground;
  color:@textColor;
}
.dark-box {
  background-color: @boxDarkBackground;
  border-top:1px solid rgba(0,0,0,0.02);
  border-bottom:1px solid rgba(0,0,0,0.02);
}
.color-highlight {
  color: @baseThemeColor !important;
}
/* basic elements styling */
.hero-wrapper {
  position: relative;
  //padding-top:48px;
  padding-top: 0;
}
#topbar {
  padding: 5px 0;
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  z-index: 60;
  background-color: #fff;
  margin-bottom:15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  .boxShadow(0px 2px 5px rgba(0,0,0,0.05));
  .logo {
    float: left;
    text-align: center;
    width: 100px;
    margin-top: 3px;
    margin-bottom: 3px;
    & img {
      width:100%;
    }
  }
  .irda-auth-badge {
    display: none;
  }
  .menuimg {
    position: absolute;
    height: 22px;
    width:22px;
    background-color: @textColor;
    padding: 4px;
    top:5px;
    left: 5px;
    .roundedCorners(30px);
  }
  #right-menu-items {
    padding-left:10px;
    margin-top:0px;
    margin-bottom:0px;
    text-align: right;
    float: right;
    margin-left:-70px;
  }
  #right-menu-items li {
    display: inline-block;
    font-size: 10px;
    color: #999999;
    text-transform: uppercase;
    margin: 0;
    padding-right:40px;
    text-align: right;
    position: relative;
  }
   #right-menu-items li.c2c {
    padding:3px 10px 3px 30px;
    font-size:9px;
     background-color: #f7f7f7;
     border:1px solid rgba(0,0,0,0);
     .boxShadow(0 1px 1px rgba(0,0,0,0.3));
     .roundedCorners(3px);
     &:active,&:hover{
      background-color: darken(#f7f7f7,5%);
    }

   }
  #right-menu-items li a {
    font-size: 11px;
    display: block;
    color: @textColor;
    padding:0px;
    &:hover,&:active {
      text-decoration: none;
      cursor: default;
    }
  }
  #right-menu-items {
    & li.pipe-link {
      padding:5px 10px;
      &.seperator {
        border-right: 1px solid #eaeaea;
        margin: 0px 10px;
        height: 30px;
        padding: 0;
      }
      & a {
        display: inline-block;
        font-size: 13px;
        cursor: pointer;
        font-weight: 600;
        position: relative;
        top: -10px;
      }
      & a:hover {
        text-decoration: none;
        color: @baseThemeColor;
      }
    }
  }
  .navbar-toggle {
    display: none;
    margin: 0;
    margin-right:10px;
    padding:0px;
    height:34px;
    width:34px;
    text-align: center;
    background-color: #f3f3f3;
    border: 1px solid rgba(0,0,0,0);
    .boxShadow(0 1px 1px rgba(0,0,0,0.3));
    cursor: pointer;
    .roundedCorners(3px);
    &:active,&:focus,&:hover {
      outline: none;
    }
    & .bar {
      content: "";
      position: absolute;
      -webkit-transition: all;
      -o-transition: all;
      transition: all;
      -webkit-transition-duration: 300ms;
      transition-duration: 300ms;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      top: 15px;
      display: inline-block;
      width: 15px;
      height: 3px;
      background-color: @textColor;
      left: 9px;

      &.plus {
        .transform(scale(1));
        &:before {
          content: '';
          display: inline-block;
          height: 16px;
          width: 3px;
          background-color: inherit;
          top: -7px;
          left: 6px;
          position: absolute;
        }
      }
      &.minus {
        .transform(scale(0));
      }
    }
    &.active {
      & .bar.plus {
        .transform(scale(0) rotate(-90deg));
      }
      & .bar.minus {
        .transform(scale(1));
      }
    }
  }
  .pipe-menu-right {
    .cubic-trans;
    position: relative;
    text-align: left;
    margin:0 -15px 0px;
    padding: 0px;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    opacity: 0;
    visibility:hidden;
    .transform(scaleY(0));
    height: 0px;
    overflow: hidden;
    border-bottom:1px solid rgba(0,0,0,0.07);
    &.active {
      overflow:visible;
      margin-top:10px;
      margin-bottom: -10px;
      height:auto;
      opacity: 1;
      visibility:visible;
      top:100%;
      .transform(scaleY(1));
    }
    & li {
      display:block;
      padding:0px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0px;
      & a {
        display: block;
        padding: 15px;
        background-color: #f7f7f7;
        border-top:1px solid rgba(0,0,0,0.05);
        &:hover,&:focus,&:active {
          color: @baseThemeColor;
          text-decoration: none;
        }
      }
    }
  }
}
.companies-wrapper {
  background-color: #f7f7f7;
  padding-bottom:10px;
  padding-top:20px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: none;
  border-top: 1px solid rgba(0,0,0,0.07);
  &:after {
    content: '';
    display: block;
    border-width: 15px 50px;
    border-style: solid;
    border-color: #f7f7f7 transparent transparent transparent;
    position: absolute;
    left:50%;
    margin-left:-50px;
    top: 100%;
  }
  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin: 0px 0px 10px;
    line-height: 1.4em;
  }
  ul.company-logos {
    list-style-type: none;
    text-align: center;
    padding: 0;
    overflow: hidden;
    height: 80px;
    & li {
      display: inline-block;
      padding: 15px;
      position: relative;
      & img {
        height: 40px;
      }
    }
  }
}
.experts-help {
  ul {
    margin: 15px auto;
    padding:0px;
    max-width:450px;
    & li {
      list-style-type: none;
      font-size: 16px;
      margin-top: 15px;
      position: relative;
      padding-left: 45px;
      padding-top: 10px;
      color: @lightTextColor;
      & img {
        width:33px;
        position: absolute;
        left: 0px;
        top: 5px;
      }
    }
  }
  & .contact-me-error-expert {
    color: #ff0000;
    margin: 5px 0px;
    background-color: #FFEDED;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 3px 10px;
    display: none;
  }

}

.benefits-wrapper {
  background-color: #f3f3f3;
  img {
    max-width: 180px;
    display: block;
    margin: auto;
    width: 100%;
    .roundedCorners(100%);
    border: 2px solid rgba(250, 95, 38, 1);
    background-color: #ffffff;
    padding: 5px;
  }
  h4 {
    text-align: center;
    margin: 15px 0 15px 0;
    font-weight: 600;
    line-height: 1.4em;
    color: #444444;
    font-size: 18px;
  }
}

.benefit-list {
  padding: 20px 0 0 0;
  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    margin: 0px 0px 15px;
    line-height: 1.4em;
  }
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 20px 0px;
    text-align: center;
    li {
      margin:0px 5px 10px;
      padding: 5px 15px;
      background-color: #f7f7f7;
      display: inline-block;
      min-width: 350px;
      font-size: 14px;
      color: @textColor;
      line-height: 1.4em;
    }
  }
}
.testimonials-section {
  & .testimonial-item {
    max-width: 400px;
    position: relative;
    margin: 0px auto 30px;
    min-height: 160px;
    & img {
      width:100px;
      position: absolute;
    }
    & .comment {
      line-height: 1.4em;
      position: relative;
      padding-left: 15px;
      margin-left: 100px;
      color: #666;
      & p.title {
        font-style: italic;
        font-weight: 600;
      }
      & img {
        display: block;
        position: relative;
        width: 30px;
        top:-10px;
        opacity: 0.5;
      }
    }
  }
  .testimonial_action_btn {
    position: relative;
    top:10px;
  }
  .btn-cfox.orange {
     .btn-bg-less;
   }
}
.terms-msg {
  font-size: 12px;
  line-height: 1.6em;
  color:@lightTextColor;
  margin-top:10px;
  text-align: left;
}
.footer {
  font-size: 12px;
  background: #314451;
  padding: 20px;
  border-top: 1px solid rgba(0,0,0,0.05);
  color:rgba(255,255,255,.5);
  text-align: center;
  .lin{
    color:rgba(255,255,255,.9);

  }
}

.three-steps {
  h1 {
    font-size: 30px;
    & img {
      margin-top:-6px;
      width: 130px;
      display: inline-block;
    }
  }
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 20px auto 60px;
    min-width: 720px;
    text-align: center;
    & li {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin:0px;
      & .step_number {
        color: #fff;
        background-color: @baseThemeColor;
        padding:5px 12px;
        font-size: 20px;
        font-weight:400;
        position: absolute;
        z-index: 10;
        top:4px;
        left:4px;
        .roundedCorners(100%);
      }
      &.middle-cir {
        margin:0 120px;
      }
      & > div {
        border: 1px solid rgba(0,0,0,0.02);
        .roundedCorners(100%);
        padding:65px 10px;
        text-align: center;
        width: 190px;
        font-size: 14px;
        height: 190px;
        line-height: 1.5em;
        top: 0px;
        left: 0px;
        position: relative;
        background-color: #f3f3f3;
        z-index:2;
        &:after {
          position: absolute;
          content: '';
          display: block;
          border-top: 1px solid #666;
          width: 115px;
          margin-left: 5px;
          left: 100%;
          top: 50%;
          z-index: 1;
        }
        &:before {
          position: absolute;
          content:'';
          display: block;
          border-width:5px;
          border-style: solid;
          border-color:transparent transparent transparent #555;
          left:-10px;
          top:50%;
          margin-top: -5px;
          z-index: 1;
        }
        &.no-link:after,&.no-link-arr:before {
          display: none;
        }
        &.padding-top {
          padding-top:60px;
        }
      }
    }
  }
}

.container.text-block {
  max-width: 1100px;
}
.expert_advice{
  background: #324452;
  padding: 20px 10px 30px;
  text-align: center;
  h2{
    font-size: 16px;
    margin: 10px 0;
    color:rgba(255,255,255,.9);
    
  }
  ul{
    margin: 0;
    padding: 0 15px;
    display: inline-block;
    text-align: left;

    li{
      color:rgba(255,255,255,.5);
      font-size: 11px;
      line-height: 1.9em;
    }
  }
  .box_container{
    margin: 0 auto;
    max-width: 350px;
    .in-box{
      position: relative;
      top:0;
      left:0;
        input{
        width:100%;
        background: #fff;
        .roundedCorners(3px);
        padding-left: 40px;
        height: 40px;
        margin: 10px 0;
        outline:none;
      }
      span{
        position: absolute;
        top:10px;
        left:3%;
      }
    }
    .btn-cfox{
      font-size: 15px;
      padding: 10px;
    }
    .error{
      display: none;
      background: #e996b0;
      padding: 5px;
      color:rgba(0,0,0,.58);
      margin-bottom: 10px;
      .roundedCorners(3px);
    }
  } 
  
}
.call_expert{
  background-color: @banner-color;
  border-top:1px solid rgba(0, 0, 0, 0.02);
  border-bottom:1px solid rgba(0, 0, 0, 0.02);
  padding: 25px;
  text-align: center;
    h2{
      font-size: 18px;
      margin: 0 0 10px;
      font-weight: 300;
    }
    p{
      font-size: 11px;
      margin: 10px 0;
      opacity: .8;
    }
    img{
      max-width: 15px;
      margin: 5px 0 0 0;
    }
    a{
      width: auto;
      font-size: 18px;
      padding: 3px 20px;
        .toll-free{
        text-align: right;
        text-transform: uppercase;
        font-size: 10px;
        margin-top: -4px;
      }
    }
}

/* mobile optimisation general css */

@media screen and (min-width: 200px) and (max-width: 991px) {
  #right-menu-items li {
    display: block;
    margin-bottom:10px;
  }
.companies-wrapper {
    ul.company-logos {height:130px;}
    & ul.company-logos li {
      padding: 10px;
      img {
        height: 40px;
      }
    }
  }
  #topbar {
    & .logo {
      float: none;
      margin-bottom:3px;
    }
  }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .companies-wrapper {
    height:145px;
    & ul.company-logos li {
      padding: 10px 15px;
      img {
        height: 50px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  .three-steps ul li.middle-cir {
    margin: 0 70px;
  }
  .three-steps ul li > div:after {
    width: 65px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .benefits-wrapper{
    text-align: center;
    .benifits{
      max-width: 300px;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      img{
        max-width: 100px;
      }
    }
  }
  
}
@media only screen and (min-width : 200px) and (max-width : 767px) {
  body,html {
    min-width:320px;
  }
  .call-action {
    max-width: 460px;
    margin: auto;
    padding: 0 30px;
  }
  #topbar {
    padding-left: 0;
    #right-menu-items li {
      padding-right:30px;
    }
  }
  ul.company-logos li {
    padding: 5px;
    img {
      height: 30px;
    }
  }
.companies-wrapper {
    ul.company-logos{height:130px;}
    & ul.company-logos li {
      padding: 10px;
      img {
        height: 40px;
      }
    }
  }
  .experts-help ul li img {
    top: 5px;
  }
  & .three-steps {
    & h1 {
      font-size: 26px;
      margin-bottom:0px;
    }
    & ul {
    margin: 30px auto 20px;
     min-width: 100%;
     text-align: center;
      & li {
        position: relative;
        float: none;
        width: 100%;
        max-width: 440px;
        display: inline-block;
        
        margin: 30px 0;
        background: #f7f7f7;
        & .step_number {
          top:-21px;
          left:48%;
          padding: 2px 10px;
          font-size: 15px;
        }
        & strong {
          top: 0px;
        }
        & > div {
          border-width: 0px;
          padding: 15px 20px;
          text-align: center;
          margin-bottom: 10px;
          width: auto;
          font-size: 13px;
          height: auto;
          line-height: 1.5em;
          top: 0px;
          left: 0px;
          position: relative;
          background-color: transparent;
          &:after,&:before {
            display: none;
          }
          &.padding-top {
            padding-top: 15px;
          }
        }
        &.middle-cir {
          margin: 0;
        }
      }
    }
  }
  .testimonials-section {
    & .testimonial-item {
      & .comment {
        font-size: 13px;
      }
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 690px) {
  #topbar {
    .navbar-toggle {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 5px;
    }
    #right-menu-items .pipe-link {
      display: none;
    }
    #right-menu-items li {
      padding-right:0px;
    }
    #right-menu-items {
      margin-right: 35px;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 519px) {
  .benefit-list {
    & h2 {
      font-size: 16px;
    }
    & ul li {
      font-size: 13px;
      min-width: 100%;
    }
  }
  .light-box h1, .dark-box h1{
    
    font-size:26px;
  }
  .light-box, .dark-box{
    padding: 30px 0px 20px;
  }
  .benefits-wrapper{
    h4{
      font-size:14px;
      font-weight: 400;
     }
    img{
      max-width: 90px;
    }
  }
   .companies-wrapper {
    ul.company-logos{height: auto;}
    h2 {
      font-size: 16px;
    }
    & ul.company-logos li {
      padding: 6px;
      img {
        height: 25px;
      }
    }
  }
  .about-us {
    font-size: 13px;
  }
  .btn-cfox {
    font-size: 16px;
  }
}

