/* Color scheme definitions */
/* Color scheme definitions end */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
.footer-wrapper-products {
  display: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
body {
  font-size: 14px;
}
.mnone {
  margin: 0px;
}
.pnone {
  padding: 0px;
}
/* button styling css */
.btn-coverfox.orange {
  padding: 8px 15px;
}
/* box stylings */
.light-box,
.dark-box {
  padding: 30px 0px 50px;
  line-height: 1.8em;
}
.light-box h1,
.dark-box h1 {
  font-size: 30px;
  margin: 0px 0px 20px;
  text-align: center;
  font-weight: 300;
  color: #363636;
  line-height: 1.4em;
}
.light-box {
  background: #ffffff;
  color: #363636;
}
.dark-box {
  background-color: #f9f9f9;
  border-top: 1px solid rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
}
.color-highlight {
  color: #ff6127 !important;
}
/* basic elements styling */
.hero-wrapper {
  position: relative;
  padding-top: 0;
}
#topbar {
  padding: 5px 0;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 60;
  background-color: #fff;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
}
#topbar .logo {
  float: left;
  text-align: center;
  width: 100px;
  margin-top: 3px;
  margin-bottom: 3px;
}
#topbar .logo img {
  width: 100%;
}
#topbar .irda-auth-badge {
  display: none;
}
#topbar .menuimg {
  position: absolute;
  height: 22px;
  width: 22px;
  background-color: #363636;
  padding: 4px;
  top: 5px;
  left: 5px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#topbar #right-menu-items {
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
  float: right;
  margin-left: -70px;
}
#topbar #right-menu-items li {
  display: inline-block;
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
  margin: 0;
  padding-right: 40px;
  text-align: right;
  position: relative;
}
#topbar #right-menu-items li.c2c {
  padding: 3px 10px 3px 30px;
  font-size: 9px;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#topbar #right-menu-items li.c2c:active,
#topbar #right-menu-items li.c2c:hover {
  background-color: #eaeaea;
}
#topbar #right-menu-items li a {
  font-size: 11px;
  display: block;
  color: #363636;
  padding: 0px;
}
#topbar #right-menu-items li a:hover,
#topbar #right-menu-items li a:active {
  text-decoration: none;
  cursor: default;
}
#topbar #right-menu-items li.pipe-link {
  padding: 5px 10px;
}
#topbar #right-menu-items li.pipe-link.seperator {
  border-right: 1px solid #eaeaea;
  margin: 0px 10px;
  height: 30px;
  padding: 0;
}
#topbar #right-menu-items li.pipe-link a {
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  top: -10px;
}
#topbar #right-menu-items li.pipe-link a:hover {
  text-decoration: none;
  color: #ff6127;
}
#topbar .navbar-toggle {
  display: none;
  margin: 0;
  margin-right: 10px;
  padding: 0px;
  height: 34px;
  width: 34px;
  text-align: center;
  background-color: #f3f3f3;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#topbar .navbar-toggle:active,
#topbar .navbar-toggle:focus,
#topbar .navbar-toggle:hover {
  outline: none;
}
#topbar .navbar-toggle .bar {
  content: "";
  position: absolute;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 15px;
  display: inline-block;
  width: 15px;
  height: 3px;
  background-color: #363636;
  left: 9px;
}
#topbar .navbar-toggle .bar.plus {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#topbar .navbar-toggle .bar.plus:before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 3px;
  background-color: inherit;
  top: -7px;
  left: 6px;
  position: absolute;
}
#topbar .navbar-toggle .bar.minus {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
#topbar .navbar-toggle.active .bar.plus {
  -webkit-transform: scale(0) rotate(-90deg);
  -moz-transform: scale(0) rotate(-90deg);
  -ms-transform: scale(0) rotate(-90deg);
  -o-transform: scale(0) rotate(-90deg);
  transform: scale(0) rotate(-90deg);
}
#topbar .navbar-toggle.active .bar.minus {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#topbar .pipe-menu-right {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  text-align: left;
  margin: 0 -15px 0px;
  padding: 0px;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  height: 0px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
#topbar .pipe-menu-right.active {
  overflow: visible;
  margin-top: 10px;
  margin-bottom: -10px;
  height: auto;
  opacity: 1;
  visibility: visible;
  top: 100%;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
}
#topbar .pipe-menu-right li {
  display: block;
  padding: 0px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0px;
}
#topbar .pipe-menu-right li a {
  display: block;
  padding: 15px;
  background-color: #f7f7f7;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
#topbar .pipe-menu-right li a:hover,
#topbar .pipe-menu-right li a:focus,
#topbar .pipe-menu-right li a:active {
  color: #ff6127;
  text-decoration: none;
}
.companies-wrapper {
  background-color: #f7f7f7;
  padding-bottom: 10px;
  padding-top: 20px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: none;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}
.companies-wrapper:after {
  content: '';
  display: block;
  border-width: 15px 50px;
  border-style: solid;
  border-color: #f7f7f7 transparent transparent transparent;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 100%;
}
.companies-wrapper h2 {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  margin: 0px 0px 10px;
  line-height: 1.4em;
}
.companies-wrapper ul.company-logos {
  list-style-type: none;
  text-align: center;
  padding: 0;
  overflow: hidden;
  height: 80px;
}
.companies-wrapper ul.company-logos li {
  display: inline-block;
  padding: 15px;
  position: relative;
}
.companies-wrapper ul.company-logos li img {
  height: 40px;
}
.experts-help ul {
  margin: 15px auto;
  padding: 0px;
  max-width: 450px;
}
.experts-help ul li {
  list-style-type: none;
  font-size: 16px;
  margin-top: 15px;
  position: relative;
  padding-left: 45px;
  padding-top: 10px;
  color: rgba(39, 35, 35, 0.76);
}
.experts-help ul li img {
  width: 33px;
  position: absolute;
  left: 0px;
  top: 5px;
}
.experts-help .contact-me-error-expert {
  color: #ff0000;
  margin: 5px 0px;
  background-color: #FFEDED;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 3px 10px;
  display: none;
}
.benefits-wrapper {
  background-color: #f3f3f3;
}
.benefits-wrapper img {
  max-width: 180px;
  display: block;
  margin: auto;
  width: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #fa5f26;
  background-color: #ffffff;
  padding: 5px;
}
.benefits-wrapper h4 {
  text-align: center;
  margin: 15px 0 15px 0;
  font-weight: 600;
  line-height: 1.4em;
  color: #444444;
  font-size: 18px;
}
.benefit-list {
  padding: 20px 0 0 0;
}
.benefit-list h2 {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  margin: 0px 0px 15px;
  line-height: 1.4em;
}
.benefit-list ul {
  list-style-type: none;
  padding: 0px;
  margin: 20px 0px;
  text-align: center;
}
.benefit-list ul li {
  margin: 0px 5px 10px;
  padding: 5px 15px;
  background-color: #f7f7f7;
  display: inline-block;
  min-width: 350px;
  font-size: 14px;
  color: #363636;
  line-height: 1.4em;
}
.testimonials-section .testimonial-item {
  max-width: 400px;
  position: relative;
  margin: 0px auto 30px;
  min-height: 160px;
}
.testimonials-section .testimonial-item img {
  width: 100px;
  position: absolute;
}
.testimonials-section .testimonial-item .comment {
  line-height: 1.4em;
  position: relative;
  padding-left: 15px;
  margin-left: 100px;
  color: #666;
}
.testimonials-section .testimonial-item .comment p.title {
  font-style: italic;
  font-weight: 600;
}
.testimonials-section .testimonial-item .comment img {
  display: block;
  position: relative;
  width: 30px;
  top: -10px;
  opacity: 0.5;
}
.testimonials-section .testimonial_action_btn {
  position: relative;
  top: 10px;
}
.testimonials-section .btn-cfox.orange {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.testimonials-section .btn-cfox.orange:hover,
.testimonials-section .btn-cfox.orange:active {
  background-color: #ff6127;
  color: #fff;
}
.terms-msg {
  font-size: 12px;
  line-height: 1.6em;
  color: rgba(39, 35, 35, 0.76);
  margin-top: 10px;
  text-align: left;
}
.footer {
  font-size: 12px;
  background: #314451;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.footer .lin {
  color: rgba(255, 255, 255, 0.9);
}
.three-steps h1 {
  font-size: 30px;
}
.three-steps h1 img {
  margin-top: -6px;
  width: 130px;
  display: inline-block;
}
.three-steps ul {
  list-style-type: none;
  padding: 0px;
  margin: 20px auto 60px;
  min-width: 720px;
  text-align: center;
}
.three-steps ul li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
}
.three-steps ul li .step_number {
  color: #fff;
  background-color: #ff6127;
  padding: 5px 12px;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  z-index: 10;
  top: 4px;
  left: 4px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.three-steps ul li.middle-cir {
  margin: 0 120px;
}
.three-steps ul li > div {
  border: 1px solid rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  padding: 65px 10px;
  text-align: center;
  width: 190px;
  font-size: 14px;
  height: 190px;
  line-height: 1.5em;
  top: 0px;
  left: 0px;
  position: relative;
  background-color: #f3f3f3;
  z-index: 2;
}
.three-steps ul li > div:after {
  position: absolute;
  content: '';
  display: block;
  border-top: 1px solid #666;
  width: 115px;
  margin-left: 5px;
  left: 100%;
  top: 50%;
  z-index: 1;
}
.three-steps ul li > div:before {
  position: absolute;
  content: '';
  display: block;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555;
  left: -10px;
  top: 50%;
  margin-top: -5px;
  z-index: 1;
}
.three-steps ul li > div.no-link:after,
.three-steps ul li > div.no-link-arr:before {
  display: none;
}
.three-steps ul li > div.padding-top {
  padding-top: 60px;
}
.container.text-block {
  max-width: 1100px;
}
.expert_advice {
  background: #324452;
  padding: 20px 10px 30px;
  text-align: center;
}
.expert_advice h2 {
  font-size: 16px;
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.9);
}
.expert_advice ul {
  margin: 0;
  padding: 0 15px;
  display: inline-block;
  text-align: left;
}
.expert_advice ul li {
  color: rgba(255, 255, 255, 0.5);
  font-size: 11px;
  line-height: 1.9em;
}
.expert_advice .box_container {
  margin: 0 auto;
  max-width: 350px;
}
.expert_advice .box_container .in-box {
  position: relative;
  top: 0;
  left: 0;
}
.expert_advice .box_container .in-box input {
  width: 100%;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-left: 40px;
  height: 40px;
  margin: 10px 0;
  outline: none;
}
.expert_advice .box_container .in-box span {
  position: absolute;
  top: 10px;
  left: 3%;
}
.expert_advice .box_container .btn-cfox {
  font-size: 15px;
  padding: 10px;
}
.expert_advice .box_container .error {
  display: none;
  background: #e996b0;
  padding: 5px;
  color: rgba(0, 0, 0, 0.58);
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.call_expert {
  background-color: rgba(54, 197, 192, 0.9);
  border-top: 1px solid rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
  padding: 25px;
  text-align: center;
}
.call_expert h2 {
  font-size: 18px;
  margin: 0 0 10px;
  font-weight: 300;
}
.call_expert p {
  font-size: 11px;
  margin: 10px 0;
  opacity: .8;
}
.call_expert img {
  max-width: 15px;
  margin: 5px 0 0 0;
}
.call_expert a {
  width: auto;
  font-size: 18px;
  padding: 3px 20px;
}
.call_expert a .toll-free {
  text-align: right;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: -4px;
}
/* mobile optimisation general css */
@media screen and (min-width: 200px) and (max-width: 991px) {
  #right-menu-items li {
    display: block;
    margin-bottom: 10px;
  }
  .companies-wrapper ul.company-logos {
    height: 130px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 40px;
  }
  #topbar .logo {
    float: none;
    margin-bottom: 3px;
  }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
  .companies-wrapper {
    height: 145px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px 15px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .three-steps ul li.middle-cir {
    margin: 0 70px;
  }
  .three-steps ul li > div:after {
    width: 65px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  .benefits-wrapper {
    text-align: center;
  }
  .benefits-wrapper .benifits {
    max-width: 300px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
  }
  .benefits-wrapper .benifits img {
    max-width: 100px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  body,
  html {
    min-width: 320px;
  }
  .call-action {
    max-width: 460px;
    margin: auto;
    padding: 0 30px;
  }
  #topbar {
    padding-left: 0;
  }
  #topbar #right-menu-items li {
    padding-right: 30px;
  }
  ul.company-logos li {
    padding: 5px;
  }
  ul.company-logos li img {
    height: 30px;
  }
  .companies-wrapper ul.company-logos {
    height: 130px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 40px;
  }
  .experts-help ul li img {
    top: 5px;
  }
  .three-steps h1 {
    font-size: 26px;
    margin-bottom: 0px;
  }
  .three-steps ul {
    margin: 30px auto 20px;
    min-width: 100%;
    text-align: center;
  }
  .three-steps ul li {
    position: relative;
    float: none;
    width: 100%;
    max-width: 440px;
    display: inline-block;
    margin: 30px 0;
    background: #f7f7f7;
  }
  .three-steps ul li .step_number {
    top: -21px;
    left: 48%;
    padding: 2px 10px;
    font-size: 15px;
  }
  .three-steps ul li strong {
    top: 0px;
  }
  .three-steps ul li > div {
    border-width: 0px;
    padding: 15px 20px;
    text-align: center;
    margin-bottom: 10px;
    width: auto;
    font-size: 13px;
    height: auto;
    line-height: 1.5em;
    top: 0px;
    left: 0px;
    position: relative;
    background-color: transparent;
  }
  .three-steps ul li > div:after,
  .three-steps ul li > div:before {
    display: none;
  }
  .three-steps ul li > div.padding-top {
    padding-top: 15px;
  }
  .three-steps ul li.middle-cir {
    margin: 0;
  }
  .testimonials-section .testimonial-item .comment {
    font-size: 13px;
  }
}
@media screen and (min-width: 200px) and (max-width: 690px) {
  #topbar .navbar-toggle {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 5px;
  }
  #topbar #right-menu-items .pipe-link {
    display: none;
  }
  #topbar #right-menu-items li {
    padding-right: 0px;
  }
  #topbar #right-menu-items {
    margin-right: 35px;
  }
}
@media screen and (min-width: 200px) and (max-width: 519px) {
  .benefit-list h2 {
    font-size: 16px;
  }
  .benefit-list ul li {
    font-size: 13px;
    min-width: 100%;
  }
  .light-box h1,
  .dark-box h1 {
    font-size: 26px;
  }
  .light-box,
  .dark-box {
    padding: 30px 0px 20px;
  }
  .benefits-wrapper h4 {
    font-size: 14px;
    font-weight: 400;
  }
  .benefits-wrapper img {
    max-width: 90px;
  }
  .companies-wrapper ul.company-logos {
    height: auto;
  }
  .companies-wrapper h2 {
    font-size: 16px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 6px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 25px;
  }
  .about-us {
    font-size: 13px;
  }
  .btn-cfox {
    font-size: 16px;
  }
}
