<div class="loading-process">
    <img src="/static/health_product/img/new_buy/loader.gif"/>
    <br>
    <br>
    <strong>Loading, please wait.</strong>
</div>
<div data-stage="5" class="page hide" id="buy_container">

    <div data-bind="with:policy_premium">
    <div data-bind="if: show_popup()">
        <div class="cf-form-overlay">
            <div class="form-overlay-content">
                <div class="form-title">
                    <p style="font-size:15px;font-weight:bold;text-decoration:underline" data-bind="text: title"></p>
                    <p data-bind="html: subtitle"></p>
                </div>
                <div class="form-table">
                    <div class="row header-row">
                        <div class="col-sm-4">Insured Members</div>
                        <div class="col-sm-4 hidden-xs">Previous Age</div>
                        <div class="col-sm-4 hidden-xs">Current Age</div>
                    </div>
                    <div id="add loop" data-bind="foreach: $parent.members()">
                        <div class="row content-row">
                            <div class="col-sm-4"><strong data-bind="text: first_name()+' '+last_name()"></strong></div>
                            <div class="col-sm-8 pnone clearfix">
                                <div class="col-xs-6">
                                    <span class="visible-xs small-label">Previous Age</span>
                                    <div data-bind="text: previous_age(),css: {red: previous_age() != current_age()}"></div>
                                </div>
                                <div class="col-xs-6">
                                    <span class="visible-xs small-label">Current Age</span>
                                    <div data-bind="text: current_age(),css: {red: previous_age() != current_age() }"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div tabindex="0" style="outline: none;" data-bind="visible: processing_flag() == 'PREMIUM_CHANGE', event: { keyup: hidepopup }, hasFocus: true">
                    <div>
                        <p>
                        <span style="width:200;">Old Premium:&nbsp;&nbsp;</span>
                        <strong data-bind="text:'INR '+ old_premium()"></strong>
                        </p>
                        <p>
                        <span style="width:200;">New Premium:</span>
                        <strong data-bind="text:'INR '+ new_premium()"></strong>
                        </p>
                        <p>
                        <input  type="checkbox" id="premium_agree" data-bind="checked: agreed">&nbsp;I agree with the change in premium</input>
                        </p>
                    </div>
                    <div id='premium-error'  style="margin:15px 0px;" class="alert alert-danger global-error clearfix" data-bind="visible: !agreed()">
                        <span>You must agree with the change in premium</span>
                    </div>
                    <button class="btn cf-btn btn-lg btn-gry" data-bind="click:cancelPremiumChange">Cancel</button>
                    <button class="btn cf-btn btn-lg btn-grn" data-bind="click:agreePremiumChange">Accept</button>
                </div>
                <div tabindex="0" style="outline: none;" data-bind="visible: processing_flag() != 'PREMIUM_CHANGE', event: { keyup: hidepopup }, hasFocus: true">
                    <div data-bind="if: button_text() == 'Call Me!'" style="margin-bottom:10px;">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Contact Number</label><br/>
                                <input type="text" data-bind="value: contactNumber" class="form-control"/>
                            </div>
                        </div>
                        <p><strong>Our customer care executive will help you with your policy</strong></p>
                        <p data-bind="validationMessage: contactNumber" class="error"></p>
                    </div>
                    <div data-bind="if: button_text() =='Back To Results'">
                        <p style="min-height:65px;font-size:20px"><strong>Thank you,</strong><br/><span>We've got your number. We'll call you soon!</span></p>
                    </div>
                    <button class="btn cf-btn btn-lg btn-gry" data-bind="click:cancelPremiumChange">Close</button>
                    <button class="btn cf-btn btn-lg btn-red" data-bind="click: buttonClick,text:button_text">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>



    <div class="wrap-bg" style="margin:80px auto 0;">
        <div class="policy-panel">
            <div class="row mnone">
                <div class="col-xs-12 cf-title clearfix">
                    <div class="back-to-results" data-bind="click: goto_results">&larr; Back to results</div>
                    <div style="padding:5px 0px 0px;">Buy Health Insurance</div>
                </div>
                <div class="col-xs-4 col-sm-3 pnone">
                    <div class="insurer-img">
                        <img class="img-responsive" data-bind="attr : {src : '/static/health_product/img/insurer/insurer_' + transaction_model().insurer_id + '/on.png'}" alt="">
                    </div>
                </div>
                <div class="col-xs-8 col-sm-9 pnone" style="border-left:1px solid #eaeaea;">
                    <div class="pol-name" data-bind="text:transaction_model().plan_data.plan_name"></div>
                    <div class="pol-val">
                        <span>COVER</span>
                        <span class="value" data-bind="inr_currency:transaction_model().plan_data.cover"></span>
                        &nbsp;&nbsp;
                        <br class="visible-xs visible-sm"/>
                        <span data-bind="text:transaction_model().subscription"></span>
                        <span class="value" data-bind="inr_currency:transaction_model().premium"></span>
                        <span class="val-typ" style="font-size: 12px;">(Includes 14.5% Service Tax)*</span>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.policy-panel-->
        <div class="loading-stage hide">
            <img src="/static/health_product/img/new_buy/loader.gif"/>
            <br>
            <br>
            <strong>Loading, please wait.</strong>
        </div>
        <div id="stage_data">
            <div class="dropdown-wizard" data-bind="click: transaction_model().ddn_wizard_toggle, css:{active: transaction_model().ddn_wizard_visible}">
                <span>Step |</span>
                <a>
                    <span class="p" data-bind="text:$root.active_stage()"></span>
                    <span data-bind="text: transaction_model().slates()[$root.active_stage()-1].name"></span>
                </a>
                <ul data-bind="foreach: transaction_model().slates()">
                    <!-- ko if : $data.permaClass() != 'last' -->
                    <li data-bind="css : $data.showClass(),click: $parent.goto_stage.bind($data,$index()+1)">
                    <div data-bind="text: $data.name()"></div>
                    <span>Complete</span>
                    </li>
                    <!-- /ko -->
                    <!-- ko if : $data.permaClass() == 'last' -->
                    <li data-bind="css : $data.showClass(),click: $parent.goto_stage.bind($data,$index()+1)">
                    <div data-bind="text: $data.name()"></div>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
            <ul class="wizard-track" data-bind="foreach: transaction_model().slates()">
                <!-- ko if : $data.permaClass() != 'last' -->
                <li data-bind="css : $data.showClass(),click: $parent.goto_stage.bind($data,$index()+1)">
                <div class="tag" data-bind="text: $data.name()"></div>
                <span><img class="check" src="/static/health_product/img/new_buy/checkmark.png"/></span>
                </li>
                <!-- /ko -->
                <!-- ko if : $data.permaClass() == 'last' -->
                <li data-bind="css : $data.showClass(),click: $parent.goto_stage.bind($data,$index()+1)">
                <div class="tag" data-bind="text: $data.name()"></div>
                <span style="padding-top:4px;"><img src="/static/health_product/img/new_buy/cart.png"/></span>
                </li>
                <!-- /ko -->
            </ul>
            <div class="form-panel">
                <div class="head" data-bind="if:transaction_model().current_stage()">
                    <span data-bind="text:transaction_model().current_stage().name()"></span>
                </div><!--/.head-->
                <div class="body">
                    <div class="main-section">
                        <div data-bind="foreach: transaction_model().stages()">
                            <div data-bind="template: { name: template }"></div>
                        </div>
                    </div>

                    <div id='global-error' class="alert alert-danger global-error clearfix hide">
                        <button type="button" class="close" id="tic-toc">&times;</button>
                        <span id="global-error-text"><strong>Oh snap!</strong>&nbsp;&nbsp;Check for errors and try to continue again.</span>
                    </div>
                </div><!--/.body-->
                <div class="foot">
                    <div class="clearfix">
                        <div class="cf-pull-right" style="padding-top:10px;">
                            <button class="btn cf-btn btn-lg btn-gry" data-bind="click : goto_stage.bind($data,parseInt(active_stage())-1), visible: active_stage() > 1">
                                <img src="/static/health_product/img/new_buy/arrow-left.png"/>&nbsp;Back
                            </button>
                            <button class="btn cf-btn btn-lg btn-default btn-grn"
                                    data-bind="click : goto_stage.bind($data, parseInt(active_stage())+1), visible: active_stage() != transaction_model().stages().length">
                                Continue&nbsp; <img src="/static/health_product/img/new_buy/arrow-right.png"/>
                            </button>
                            <button class="btn cf-btn btn-lg btn-red" data-bind="click : goto_payment, visible: active_stage() == transaction_model().stages().length, attr: {disabled: payment_request_sent}">
                                Make payment&nbsp;<img src="/static/health_product/img/new_buy/arrow-right.png"/></button>
                        </div>
                        <div class="cf-pull-left" style="font-size:12px;">
                            <span style="color:#4fc8b0;">QUESTIONS ?</span>
                            &nbsp;&nbsp;<!--img src="/static/health_product/img/new_buy/bubble.png"/>&nbsp;<a class="help-link">Get help here</a-->
                            <div class="number-part">
                                Call us on Toll Free number: <span data-bind="text: health_toll_free"></span><br>
                                <span style="font-size:12px;color:#999999;">Monday to Saturday (10am to 7pm)</span>
                            </div>
                        </div>
                    </div>
                </div><!--/.foot-->
            </div><!--/.form-panel-->
        </div><!--/.stage_data-->
        <div data-bind="if: transaction_model().plan_data.insurer_id == 7">
            <div class="box" style="margin: 20px 0px 30px;padding:30px;background: #f7f9fa;font-size: 12px;">
                <div class="row">
                    <div class="col-lg-6">
                        <p><strong>&copy;2008, Tata AIG General Insurance Company Limited</strong>, all rights reserved.<br/>
                        Registered Office: Peninsula Business Park, Tower A, 15th Floor, G.K. Marg, Lower Parel, Mumbai - 400 013, Maharashtra, India.<br/>
                        CIN Number:U85110MH2000PLC128425.<br/>
                        Registered with <a href="http://www.irda.gov.in" target="_blank">Insurance Regulatory & Development Authority (IRDA)</a> under the registration no.108. Insurance is the subject matter of the solicitation.<br/>
                        For more details on benefits, exclusions, limitations, terms and conditions, please refer sales brochure/ policy wordings carefully, before concluding a sale.<br />
                        Visit: <a href="http://www.tataaiginsurance.in" target="_blank">www.tataaiginsurance.in</a> <br/>
                        Toll Free Number : 1800 266 7780/1800 22 9966 (only for senior citizen policy holders).<br/>
                        Email Id: <a href="mailto:customersupport@tata-aig.com">customersupport@tata-aig.com</a> Fax Number – 022 6654 6464
                        <p>
                    </div>
                    <div class="col-lg-6">
                        <p>
                        <strong>Coverfox Insurance Broking Pvt. Ltd.</strong><br>
                        M 2/16, Sneh Society,<br>
                        D.N. Nagar, Near Apna Bazar,<br>
                        J.P. Road, Andheri (W)<br>
                        Mumbai, Maharashtra - 400053<br>
                        </p>
                    </div>
                </div>
                <div style="margin-top: 30px;">
                    <a href="/docs/irda-licence/" target="_blank">IRDA broking licence no. IRDA/ DB 556/ 13  (Valid till 26th December 2016)</a>
                    Registered with <a href="http://www.irda.gov.in/" target="_blank">Insurance Regulatory & Development
                        Authority (IRDA)</a> under the registration no.478. Insurance is the subject matter of the solicitation.
                    For more details on benefits, exclusions, limitations, terms & conditions please refer sales brochure/policy
                    wordings carefully before concluding a sale.
                    Contact number: <span data-bind="text: health_toll_free"></span>
                </div>
                <span>UIN number: IRDA/NL-HLT/TAGI/P-H/V.I/34/13-14</span>
                <span class="pull-right">Ver 1/ Coverfox / 321</span>
            </div>
        </div>
    </div><!--/.wrap-bg-->
    <div tabindex="0" id="disclaimer_popup" data-bind="if: show_medical_popup(), css:{show:show_medical_popup()}, event: { keyup: close_medical_popup_esc }" class="modal">
        <div  class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Disclaimer</h4>
                </div>
                <div class="modal-body" style="padding-top: 30px; padding-bottom: 30px;">
                    <p>Congratulations! You’ve chosen <span data-bind="text: insurance_company_name"></span> Insurance policy and we’re excited for you! The following steps will complete the policy issuance process -</p>
                    <ul>
                        <li>Based on your health declaration(s), you are likely to be contacted by <span data-bind="text: insurance_company_name"></span> Insurance Company for additional documents and a possible pre-policy medical check-up.</li>
                        <li><span data-bind="text: insurance_company_name"></span> Insurance Company will analyse the reports leading to policy issuance.</li>
                        <li>We would like to ascertain that despite this payment, we cannot account for policy issuance until such necessities are completed.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button data-bind="click: close_medical_popup" class="btn cf-btn btn-default btn-grey">Cancel</button>
                    <button data-bind="click: continue_payment" class="btn cf-btn btn-default btn-red">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div><!--/.page-->
