<script type="text/html" id="stage_3">
    <div id="slate_3" class="nominee-process" data-bind="visible: $root.active_stage() == 3">
        <div data-bind="if: $root.transaction_model().current_stage().description()">
            <div class="define">
                <img src="/static/health_product/img/new_buy/info.png"/>
                &nbsp;&nbsp;<span data-bind="text: $root.transaction_model().current_stage().description()"></span>
            </div>
        </div>
        <div class="multi-row">
            <div data-bind="foreach: segments">
                <h3>Nominee for&nbsp;<span data-bind="text: details().verbose"></span></h3>
                <div data-bind="foreach: rows">
                    <div class="row bottom-margin-30">
                        <div data-bind="foreach: elements">
                            <div data-bind="if: ['CharField', 'StrictCharField', 'IntegerField', 'MobileField', 'NameField'].indexOf(field_type()) != -1">
                                <div data-bind="FreeField: $data"></div>
                            </div>
                            <div data-bind="if: field_type() == 'DateField' ">
                                <div data-bind="DateField: $data"></div>
                            </div>
                            <div data-bind="if: field_type() == 'TextField' ">
                                <div data-bind="TextField: $data"></div>
                            </div>
                            <div data-bind="if : field_type() == 'DropDownField'">
                                <div data-bind="DropDownField: $data"></div>
                            </div>
                            <div data-bind="if : field_type() == 'TwoDropDownField'">
                                <div data-bind="TwoDropDownField: $data"></div>
                            </div>
                            <div data-bind="if : field_type() == 'TwoDropDownDependantField'">
                                <div data-bind="TwoDropDownDependantField: $data"></div>
                            </div>
                            <div data-bind="if : field_type() == 'MultipleChoiceField'">
                                <div data-bind="MultipleChoiceField: $data"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.multi-row-->
    </div><!--/.nominee-process-->
</script>
