<script type="text/html" id="stage_5">
    <div id="slate_5" class="querry-process" data-bind="visible: $root.active_stage() == 5">
        <div data-bind="if: $root.transaction_model().current_stage().description()">
            <div class="define">
                <img src="/static/health_product/img/new_buy/info.png"/>
                &nbsp;&nbsp;<span data-bind="text: $root.transaction_model().current_stage().description()"></span>
            </div>
        </div>
        <div class="separated-seg" data-bind="foreach: segments" style="margin-top: 40px;">
            <div data-bind="if: details().conditional == 'NO'">
                <div data-bind="css: {separate:$index()!=0}"></div>
                <div class="row conditional-question">
                    <div class="col-md-4 pnone">
                        <div class="quest-pad">
                            <span class="q-point">Q</span>
                            <span data-bind="text: details().question_text"></span>
                            <div data-bind="if: details().help_text">
                                <span class="text-muted" style="font-size: 12px;" data-bind="text: details().help_text"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 pnone clearfix" data-bind="foreach: rows">
                        <div data-bind="foreach: elements">
                            <div class="col-sm-4 mem-box">
                                <div data-bind="if: $parents[1].details().show_header || true">
                                    <strong class="member" data-bind="text: $root.insured_members.items()[$index()].value"></strong>
                                </div>
                                <div data-bind="if : field_type() == 'DropDownField'">
                                    <div data-bind="MiniDropDownField: $data"></div>
                                </div>
                                <div data-bind="if : field_type() == 'TextField'">
                                    <div data-bind="MiniTextField: $data"></div>
                                </div>
                                <div data-bind="if : field_type() == 'MultipleChoiceField'">
                                    <div data-bind="MiniMultipleChoiceField: $data"></div>
                                </div>
                            </div>
                        </div> <!-- elements -->
                    </div><!--rows -->
                </div>
            </div>
            <div data-bind="if: details().conditional == 'YES'">
                <div data-bind="if: show_header()" style="color: #1864ab;">
                    <div class="row conditional-question">
                        <div class="col-sm-4 pnone" style="padding-bottom:10px;">
                            <!--div class="quest-pad"-->
                                <!--span class="q-point">Q</span-->
                                <span data-bind="text: details().question_text"></span>
                                <div data-bind="if: details().help_text">
                                    <span class="text-muted" style="font-size: 12px;" data-bind="text: details().help_text"></span>
                                </div>
                            <!--/div-->
                        </div>
                        <div class="col-md-8 pnone" data-bind="foreach: rows">
                            <div data-bind="foreach: elements">
                                <div class="col-sm-4 mem-box">
                                    <div data-bind="if: $parents[1].details().show_header">
                                        <strong class="member" data-bind="text: $root.insured_members.items()[$index()].value"></strong>
                                    </div>
                                    <div data-bind="if : field_type() == 'MultipleChoiceField'">
                                        <div data-bind="MiniMultipleChoiceField: $data"></div>
                                    </div>
                                    <div data-bind="if : field_type() == 'DropDownField'">
                                        <div data-bind="MiniDropDownField: $data"></div>
                                    </div>
                                    <div data-bind="if : field_type() == 'TextField'">
                                        <div data-bind="MiniTextField: $data"></div>
                                    </div>
                                </div>
                            </div> <!-- elements -->
                        </div><!--rows -->
                    </div>
                </div>
            </div>
        </div><!-- segments -->
    </div><!-- query-process-->
</script>
