@import "../../css/base_theme";

/* Overridden css for base_style.css */
@coverSpace : 60px;
html, body {
  width:100%;
  height:90%;
}
.car_column_container{
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
  h2{
    letter-spacing: -0.02em;
    font-weight: 600;
    font-size: 30px;
    margin: 0 0 15px;
    line-height: 1.2;
  }
  h3{
    letter-spacing: -0.02em;
    font-weight: 300;
    font-size: 25px;
    margin: 0 0 20px;
    line-height: 1.2;
    color:rgba(0,0,0,0.44);
  }
  p{
    letter-spacing: .01rem;
    font-size: 15px;
    line-height: 1.5;
    color:rgba(0,0,0,0.60);
  }
}
.musibat_conatiner{
  padding: 20px;
  color: #eee;
  background-color: rgb(52, 74, 88);
  hr {
    border-top: 5px solid #eeeeee;
  }
  h3{
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 700;
  }
  ul{
    margin: 0;
    padding: 0 20px;
    li{
      margin: 20px 0;
    }
  }
  .arrrow_direct{
    margin: 80px 0 0;
    color: #FF704C;
  }
}
.hero-wrapper {
  background: url(../img/car-background.jpg) no-repeat center center #f4f4f4;
  position: relative;
  height:100%;
  width:100%;
  border-bottom:@coverSpace solid transparent;
  display: table;
  //padding-top:56px;
  padding-top: 0;
  &:before {
    position: absolute;
    content:'';
    top:0;
    left:0;
    bottom:0;
    right:0;
    display: block;
    //height: 260px;
    //background: #314451;
  }
  .heading_txt{
    position: relative;
    h2{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #fff;
    text-align: center;
    }
  }
  &  #topbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #ffffff;
    z-index: 200;
    position: fixed;
    top:0;
    left:0;
    width:100%;
  }
}
/* car banner css */
.car-banner {
  display: table-cell;
  vertical-align: middle;
  padding-bottom:15px;
  &  h1 {
    font-size:26px;
    margin:20px 0px 15px;
    color: @baseThemeColor;
    font-weight: 400;
    -webkit-text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
    -moz-text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
    -ms-text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
    -o-text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
  }
}
/* Mobile optimisation for banner elements */

@media only screen and (min-width : 200px) and (max-width : 990px) {
  html, body {
    height: auto;
  }
  .hero-wrapper {
    padding-top:0px;
    #topbar {
      position: relative;
    }
  }
  .car-banner {
    display: block;
  }
}

@media only screen and (min-width : 200px) and (max-width : 767px) {
  .musibat_conatiner{
    margin: 20px 0;

    h3{
      font-size: 22px;
    }
  }
  .hero-form .product-form-item{
    padding: 20px 0;
  }
  .cfinput input{
    width:95% !important;
  }
  .hero-wrapper {
    background: #ffffff;
    &:before {
      display: none;
    }
  }
  .car-banner {
    background-color: #ffffff;
    padding:0px;
    & h1 {
      font-size:26px;
      text-align: left;
    }
    & .form-box-mini {
      .boxShadow(none);
      margin: 0px;
      max-width: 450px;
    }
  }
}
