{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<fieldset class="row-fluid">
    <div class="control-group span5">
        <label class="control-label">{{form.condition.label}}</label>
        <div class="controls">
            {{form.condition|attr:"class:span12"}}
            <p class="help-block">{{form.condition.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="form-horizontal">
    <div class="control-group span5">
        <label class="control-label">{{form.is_ambulance_services_covered.label}}</label>
        <div class="controls">
            {{form.is_ambulance_services_covered}}
            <p class="help-block">{{form.is_ambulance_services_covered.help_text}}</p>
        </div>
    </div><!--/.span3-->
    </div><!--/.span3-->
</fieldset>
<fieldset class="row-fluid">
    <div class="control-group span5">
        <label class="control-label">{{form.limit_in_network_hospitals.label}}</label>
        <div class="controls">
            {{form.limit_in_network_hospitals|attr:"class:span12"}}
            <p class="help-block">{{form.limit_in_network_hospitals.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span5">
        <label class="control-label">{{form.limit_in_non_network_hospitals.label}}</label>
        <div class="controls">
            {{form.limit_in_non_network_hospitals|attr:"class:span12"}}
            <p class="help-block">{{form.limit_in_non_network_hospitals.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
<fieldset class="row-fluid">
    <div class="control-group span5">
        <label class="control-label">{{form.max_limit_in_network_hospitals.label}}</label>
        <div class="controls">
            {{form.max_limit_in_network_hospitals|attr:"class:span12"}}
            <p class="help-block">{{form.max_limit_in_network_hospitals.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span5">
        <label class="control-label">{{form.max_limit_in_non_network_hospitals.label}}</label>
        <div class="controls">
            {{form.max_limit_in_non_network_hospitals|attr:"class:span12"}}
            <p class="help-block">{{form.max_limit_in_non_network_hospitals.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
