{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<fieldset class="row-fluid form-horizontal">
    <div class="control-group span6">
        <label class="control-label">{{form.is_available.label}}</label>
        <div class="controls">
            {{form.is_available|attr:"class:span12"}}
            <p class="help-block">{{form.is_available.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span6">
        <label class="control-label">{{form.unclaimed_years.label}}</label>
        <div class="controls">
            {{form.unclaimed_years|attr:"class:span12"}}
            <p class="help-block">{{form.unclaimed_years.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
<fieldset class="row-fluid form-horizontal">
    <div class="control-group span6">
        <label class="control-label">{{form.bonus_amount.label}}</label>
        <div class="controls">
            {{form.bonus_amount|attr:"class:span12"}}
            <p class="help-block">{{form.bonus_amount.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span6">
        <label class="control-label">{{form.maximum_bonus_amount.label}}</label>
        <div class="controls">
            {{form.maximum_bonus_amount|attr:"class:span12"}}
            <p class="help-block">{{form.maximum_bonus_amount.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
<fieldset class="row-fluid form-horizontal">
    <div class="control-group span6">
        <label class="control-label">{{form.maximum_years.label}}</label>
        <div class="controls">
            {{form.maximum_years|attr:"class:span12"}}
            <p class="help-block">{{form.maximum_years.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span6">
        <label class="control-label">{{form.reduction_in_bonus_amount_after_claim.label}}</label>
        <div class="controls">
            {{form.reduction_in_bonus_amount_after_claim|attr:"class:span12"}}
            <p class="help-block">{{form.reduction_in_bonus_amount_after_claim.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
