{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<table class="table">
    <tr>
        <th>Slab</th>
        <th>Policy Period</th>
        <th>Cancellation month</th>
        <th>Refund value of premium</th>
        <th>&nbsp;</th>
    </tr>
    {%for cpt in form.slab_instance.0.cancellation_policy.all %}
        <tr>
            <td>{%for sl in form.slab_instance%}{{sl.sum_assured}}{%if sl.grade%}-{{sl.grade}}{%endif%}{%if forloop.last%}{%else%}, {%endif%}{%endfor%}</td>
            <td>{{cpt.policy_years}}</td>
            <td>{{cpt.period}}</td>
            <td>{{cpt.refund_in_percentage}}</td>
            <td><a title="delete" class="wiki-remove" href="javascript:void(0);" id="remove-cancellation_policy-{{cpt.id}}"><i class="icon-remove"></i></a></td>
        </tr>
    {%endfor%}
</table>
<fieldset class="row-fluid">
    <div class="control-group span4">
        <label class="control-label">{{form.policy_years.label}}</label>
            <div class="controls">
                {{form.policy_years|attr:"class:span12"}}
            <p class="help-block">{{form.policy_years.help_text}}</p>
            </div>
    </div><!--/.span2-->
    <div class="control-group span4">
        <label class="control-label">{{form.period.label}}</label>
            <div class="controls">
                {{form.period|attr:"class:span12"}}
                <p class="help-block">{{form.period.help_text}}</p>
            </div>
    </div><!--/.span2-->
    <div class="control-group span4">
        <label class="control-label">{{form.refund_in_percentage.label}}</label>
            <div class="controls">
                {{form.refund_in_percentage|attr:"class:span12"}}
                <p class="help-block">{{form.refund_in_percentage.help_text}}</p>
            </div>
    </div><!--/.span2-->
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
