{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}

<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.service_promise.label}}</label>
            <div class="controls">
                {{form.service_promise|attr:"class:span12"}}
            <p class="help-block">{{form.service_promise.help_text}}</p>
            </div>
    </div><!--/.span6-->
    <div class="control-group span6">
        <label class="control-label">{{form.maximum_days_to_intimate.label}}</label>
            <div class="controls">
                {{form.maximum_days_to_intimate|attr:"class:span12"}}
                <p class="help-block">{{form.maximum_days_to_intimate.help_text}}</p>
            </div>
    </div><!--/.span6-->
</fieldset>
<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.tat_commited.label}}</label>
            <div class="controls">
                {{form.tat_commited|attr:"class:span12"}}
            <p class="help-block">{{form.tat_commited.help_text}}</p>
            </div>
    </div><!--/.span6-->
    <div class="control-group span6">
        <label class="control-label">{{form.tat_commited_penalty.label}}</label>
            <div class="controls">
                {{form.tat_commited_penalty|attr:"class:span12"|attr:"rows:2"}}
                <p class="help-block">{{form.tat_commited_penalty.help_text}}</p>
            </div>
    </div><!--/.span6-->
</fieldset>
<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.intimation_for_cashless.label}}</label>
            <div class="controls">
                {{form.intimation_for_cashless|attr:"class:span12"}}
            <p class="help-block">{{form.intimation_for_cashless.help_text}}</p>
            </div>
    </div><!--/.span6-->
    <div class="control-group span6">
        <label class="control-label">{{form.intimation_for_emergency.label}}</label>
            <div class="controls">
                {{form.intimation_for_emergency|attr:"class:span12"}}
                <p class="help-block">{{form.intimation_for_emergency.help_text}}</p>
            </div>
    </div><!--/.span6-->
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
