{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<fieldset class="row-fluid form-horizontal">
    <div class="control-group span12">
        <label class="control-label">{{form.condition.label}}</label>
        <div class="controls">
            {{form.condition|attr:"class:span6"}}
            <p class="help-block">{{form.condition.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.limit.label}}</label>
        <div class="controls">
            {{form.limit|attr:"class:span12"}}
            <p class="help-block">{{form.limit.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span6">
        <label class="control-label">{{form.minimum_days_of_hospitalization.label}}</label>
        <div class="controls">
            {{form.minimum_days_of_hospitalization|attr:"class:span12"}}
            <p class="help-block">{{form.minimum_days_of_hospitalization.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.maximum_number_of_days.label}}</label>
        <div class="controls">
            {{form.maximum_number_of_days|attr:"class:span12"}}
            <p class="help-block">{{form.maximum_number_of_days.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span6">
        <label class="control-label">{{form.amount_per_day.label}}</label>
        <div class="controls">
            {{form.amount_per_day|attr:"class:span12"}}
            <p class="help-block">{{form.amount_per_day.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
