{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<fieldset class="row-fluid form-horizontal">
    <div class="control-group span6">
        <label class="control-label">{{form.is_available.label}}</label>
        <div class="controls">
            {{form.is_available|attr:"class:span12"}}
            <p class="help-block">{{form.is_available.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
<hr/>

<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.applicable_after_entry_age.label}}</label>
        <div class="controls">
            {{form.applicable_after_entry_age|attr:"class:span12"}}
            <p class="help-block">{{form.applicable_after_entry_age.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span6">
        <label class="control-label">{{form.applicable_after_age.label}}</label>
        <div class="controls">
            {{form.applicable_after_age|attr:"class:span12"}}
            <p class="help-block">{{form.applicable_after_age.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>

<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.age_copay_network_hospital.label}}</label>
        <div class="controls">
            {{form.age_copay_network_hospital|attr:"class:span12"}}
            <p class="help-block">{{form.age_copay_network_hospital.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span6">
        <label class="control-label">{{form.age_copay_non_network_hospital.label}}</label>
        <div class="controls">
            {{form.age_copay_non_network_hospital|attr:"class:span12"}}
            <p class="help-block">{{form.age_copay_non_network_hospital.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
<hr/>

<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.for_network_hospital.label}}</label>
        <div class="controls">
            {{form.for_network_hospital|attr:"class:span12"}}
            <p class="help-block">{{form.for_network_hospital.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span6">
        <label class="control-label">{{form.for_non_network_hospital.label}}</label>
        <div class="controls">
            {{form.for_non_network_hospital|attr:"class:span12"}}
            <p class="help-block">{{form.for_non_network_hospital.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>

<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.on_day_care_for_network_hospital.label}}</label>
        <div class="controls">
            {{form.on_day_care_for_network_hospital|attr:"class:span12"}}
            <p class="help-block">{{form.on_day_care_for_network_hospital.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span6">
        <label class="control-label">{{form.on_day_care_for_non_network_hospital.label}}</label>
        <div class="controls">
            {{form.on_day_care_for_non_network_hospital|attr:"class:span12"}}
            <p class="help-block">{{form.on_day_care_for_non_network_hospital.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>

{%include "wiki/snippets/meta_input_form.html"%}
