{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}

<table class="table">
    <tr>
        <th>Slab</th>
        <th>Period</th>
        <th>Age Group<br/><i style="font-weight:normal;">lower-upper both included</i></th>
        <th>Gender</th>
        <th>States</th>
        <th>Cities</th>
        <th>Premium</th>
        <th>2y discount</th>
        <th>&nbsp;</th>
    </tr>
    {%for cpt in form.slab_instance.0.cover_premium_table.all %}
        <tr>
            <td>{%for sl in form.slab_instance%}{{sl.sum_assured}}{%if sl.grade%}-{{sl.grade}}{%endif%}{%if forloop.last%}{%else%}, {%endif%}{%endfor%}</td>
            <td>{{cpt.payment_period}}</td>
            <td>{{cpt.get_lower_age_limit_display}} - {{cpt.get_upper_age_limit_display}}</td>
            <td>{{cpt.get_gender_display}}</td>
            <td>{{cpt.state.all|join:","}}</td>
            <td>{{cpt.city.all|join:","}}</td>
            <td>{{cpt.premium}}</td>
            <td>{{cpt.two_year_discount}}</td>
            <td>
                <a title="delete" class="wiki-remove" href="javascript:void(0);" id="remove-cover_premium_table-{{cpt.id}}"><i class="icon-remove"></i></a>
                {%ifequal form.instance.id cpt.id%}
                <span class="editing">EDITING</span>
                {%else%}
                <a title="edit" class="wiki-edit" href="javascript:void(0);" id="edit-cover_premium_table-{{cpt.id}}"><i class="icon-edit"></i></a>
                {%endifequal%}
            </td>
        </tr>
    {%endfor%}
</table>
<input type="hidden" name="instance_id" value="{%if form.instance and form.instance.id%}{{form.instance.id}}{%endif%}">
<fieldset class="row-fluid">
    <div class="control-group span1">
        <label class="control-label">{{form.payment_period.label}}</label>
            <div class="controls">
                {{form.payment_period|attr:"class:span12"}}
            <p class="help-block">{{form.payment_period.help_text}}</p>
            </div>
    </div><!--/.span2-->
    <div class="control-group span3">
        <label class="control-label">{{form.lower_age_limit.label}}</label>
            <div class="controls">
                {{form.lower_age_limit|attr:"class:span12"}}
            <p class="help-block">{{form.lower_age_limit.help_text}}</p>
            </div>
    </div><!--/.span2-->
    <div class="control-group span3">
        <label class="control-label">{{form.upper_age_limit.label}}</label>
            <div class="controls">
                {{form.upper_age_limit|attr:"class:span12"}}
                <p class="help-block">{{form.upper_age_limit.help_text}}</p>
            </div>
    </div><!--/.span2-->
    <div class="control-group span1">
        <label class="control-label">{{form.gender.label}}</label>
            <div class="controls">
                {{form.gender|attr:"class:span12"}}
                <p class="help-block">{{form.gender.help_text}}</p>
            </div>
    </div><!--/.span2-->
    <div class="control-group span2">
        <label class="control-label">{{form.premium.label}}</label>
            <div class="controls">
                {{form.premium|attr:"class:span12"}}
                <p class="help-block">{{form.premium.help_text}}</p>
            </div>
    </div><!--/.span2-->
    <div class="control-group span2">
        <label class="control-label">{{form.two_year_discount.label}}</label>
            <div class="controls">
                {{form.two_year_discount|attr:"class:span12"}}
                <p class="help-block">{{form.two_year_discount.help_text}}</p>
            </div>
    </div><!--/.span2-->
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
