{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<fieldset class="row-fluid">
    <div class="control-group span6">
        <div class="row-fluid">
            <label class="control-label">{{form.is_available.label}}</label>
            <div class="controls">
                {{form.is_available|attr:"class:span12"}}
            <p class="help-block">{{form.is_available.help_text}}</p>
            </div>
        </div>
        <div class="row-fluid">
            <label class="control-label">{{form.limit.label}}</label>
            <div class="controls">
                {{form.limit|attr:"class:span12"}}
            <p class="help-block">{{form.limit.help_text}}</p>
            </div>
        </div>
        <div class="row-fluid">
            <label class="control-label">{{form.limit_in_percentage.label}}</label>
            <div class="controls">
                {{form.limit_in_percentage|attr:"class:span12"}}
            <p class="help-block">{{form.limit_in_percentage.help_text}}</p>
            </div>
        </div>
    </div><!--/.span6-->
    <div class="control-group span6">
        <div class="row-fluid">
            <label class="control-label">{{form.included_in_plan.label}}</label>
            <div class="controls">
                {{form.included_in_plan|attr:"class:span12"}}
            <p class="help-block">{{form.included_in_plan.help_text}}</p>
            </div>
        </div>
        <div class="row-fluid">
            <label class="control-label">{{form.limit_type.label}}</label>
            <div class="controls">
                {{form.limit_type|attr:"class:span12"}}
            <p class="help-block">{{form.limit_type.help_text}}</p>
            </div>
        </div>
        <div class="row-fluid">
            <label class="control-label">{{form.terms_list.label}}(Saved: {%if form.instance.id%}{{form.instance.terms.all|length}}{%endif%})</label>
            <div class="controls">
                {{form.terms_list|attr:"class:span12"}}
                <p class="help-block">{{form.terms_list.help_text}}</p>
            </div>
        </div>
    </div><!--/.span6-->
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
