{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<fieldset class="row-fluid">
    <div class="control-group span3">
        <label class="control-label">{{form.condition.label}}</label>
            <div class="controls">
                {{form.condition|attr:"class:span12"}}
            <p class="help-block">{{form.condition.help_text}}</p>
            </div>
    </div><!--/.span4-->
    <div class="control-group span3">
        <label class="control-label">{{form.copay.label}}</label>
            <div class="controls">
                {{form.copay|attr:"class:span12"}}
                <p class="help-block">{{form.copay.help_text}}</p>
            </div>
    </div><!--/.span4-->
    <div class="control-group span3">
        <label class="control-label">{{form.limit.label}}</label>
            <div class="controls">
                {{form.limit|attr:"class:span12"}}
                <p class="help-block">{{form.limit.help_text}}</p>
            </div>
    </div><!--/.span4-->
    <div class="control-group span3">
        <label class="control-label">{{form.waiting_period.label}}</label>
            <div class="controls">
                {{form.waiting_period|attr:"class:span12"}}
                <p class="help-block">{{form.waiting_period.help_text}}</p>
            </div>
    </div><!--/.span4-->
</fieldset>
<fieldset class="row-fluid">
    <div class="control-group span12">
        <label class="control-label">{{form.terms_list.label}}</label>
            <div class="controls">
                {{form.terms_list|attr:"class:span12"}}
                <p class="help-block">{{form.terms_list.help_text}}</p>
            </div>
    </div><!--/.span6-->
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
