{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
        <fieldset class="row-fluid">
            <div class="control-group span6">
                <label class="control-label">{{form.number_of_maximum_members.label}}</label>
                 <div class="controls">
                     {{form.number_of_maximum_members|attr:"class:span12"}}
                    <p class="help-block">{{form.number_of_maximum_members.help_text}}</p>
                 </div>
            </div><!--/.span6-->
            <div class="control-group span6">
                <label class="control-label">{{form.maximum_dependent_age.label}}</label>
                 <div class="controls">
                     {{form.maximum_dependent_age|attr:"class:span12"}}
                     <p class="help-block">{{form.maximum_dependent_age.help_text}}</p>
                 </div>
            </div><!--/.span6-->

        </fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
