{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}

<!--fieldset class="well">
    <div class="row-fluid">
        <div class="control-group span6">
            <label class="checkbox"> {{form.portability.label}} </label>
            <div class="controls"> {{form.portability|attr:"class:checkbox"}} </div>
        </div>
    </div>
</fieldset-->
<fieldset class="row-fluid">
    <div class="control-group span12">
        <h3>Waiting period for general conditions</h3>
        <div class="row-fluid">
            <div class="control-group span12">
                <label class="control-label">{{form.waiting_period.label}}</label>
                <div class="controls">
                    {{form.waiting_period|attr:"class:span4"}}
                    <p class="help-block">{{form.waiting_period.help_text}}</p>
                </div>
            </div>
        </div>
        <div style="width:40%;">
            <strong>Summary:</strong>
            <table class="table table-condensed">
                <tr>
                    <td>Period</td>
                    <td>SA limit</td>
                    <td>SA %</td>
                    <td>Terms count</td>
                </tr>
            {%for k, t in form.terms_grp.items%}
                <tr>
                {%for i in k|split_line:"-"|split_list:3 %}
                    <td>{{i}}</td>
                {%endfor%}
                <td>{{t|length}}</td>
                </tr>
            {%endfor%}
            </table>
        </div>
        <div class="row-fluid">
            {%for dfs in form.terms_fields%}
            <div class="control-group hide wpd_{{dfs.0}} well">
                <div class="row-fluid">
                    <div class="span12">
                        <label class="control-label">{{dfs.1.label}}</label>
                        <div class="controls">
                            {{dfs.1|attr:"class:span12"|attr:"rows:6"}}
                            <p class="help-block">{{dfs.1.help_text}}</p>
                        </div>
                    </div>
                </div>
                <div class="row-fluid form-inline">
                    <div class="span2">
                        <label class="control-label">Period(months)</label>
                        {{dfs.2|attr:"class:span12"}}
                    </div>
                    <div class="span2">
                        <label class="control-label">SA limit</label>
                        {{dfs.3|attr:"class:span12"}}
                    </div>
                    <div class="span2">
                        <label class="control-label">SA limit %</label>
                        {{dfs.4|attr:"class:span12"}}
                    </div>
                    <!--div class="span2">
                        <label class="control-label">Copay</label>
                        {{dfs.4|attr:"class:span12"}}
                    </div-->
                </div>
            </div>
            {%endfor%}

            <div class="row-fluid">
                <a href="javascript:void(0);" onClick="$($(this).parent().siblings('.hide')[0]).removeClass('hide');" id="wpd_add">+ disease conditions</a>
            </div>

        </div>
    </div>
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
