{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<fieldset class="row-fluid form-horizontal">
    <div class="control-group span6">
        <label class="control-label">{{form.is_available.label}}</label>
        <div class="controls">
            {{form.is_available|attr:"class:span12"}}
            <p class="help-block">{{form.is_available.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.claim_free_years.label}}</label>
        <div class="controls">
            {{form.claim_free_years|attr:"class:span12"}}
            <p class="help-block">{{form.claim_free_years.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.limit_in_percentage.label}}</label>
        <div class="controls">
            {{form.limit_in_percentage|attr:"class:span12"}}
            <p class="help-block">{{form.limit_in_percentage.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span6">
        <label class="control-label">{{form.limit.label}}</label>
        <div class="controls">
            {{form.limit|attr:"class:span12"}}
            <p class="help-block">{{form.limit.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
