{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.condition.label}}</label>
            <div class="controls">
                {{form.condition|attr:"class:span12"}}
            <p class="help-block">{{form.condition.help_text}}</p>
            </div>
    </div><!--/.span2-->
    <div class="control-group span6">
        <label class="control-label">{{form.age_limit.label}}</label>
            <div class="controls">
                {{form.age_limit|attr:"class:span12"}}
                <p class="help-block">{{form.age_limit.help_text}}</p>
            </div>
    </div><!--/.span2-->
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
