{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<h4>Medical Permission for {{form.medical_condition_instance.medical_condition}} for the following products:</h4>
<table class="table">
    {%for product in form.product_instance%}
    <tr>
        <th>{{product.title}}-{{product.policy_type}}</th>
    </tr>
    {%endfor%}
</table>
<fieldset class="row-fluid">
    <div class="control-group span4">
        <label class="control-label">{{form.transaction_permission.label}}</label>
            <div class="controls">
                {{form.transaction_permission|attr:"class:span12"}}
            </div>
            <input type="hidden" name="medical_condition" value="{{form.medical_condition_instance.id}}" />
    </div><!--/.span2-->
</fieldset>
