{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.is_medical_required.label}}</label>
            <div class="controls">
                {{form.is_medical_required|attr:"class:span12"}}
            <p class="help-block">{{form.is_medical_required.help_text}}</p>
            </div>
    </div><!--/.span2-->
    <div class="control-group span6">
        <label class="control-label">{{form.maximum_age.label}}</label>
            <div class="controls">
                {{form.maximum_age|attr:"class:span12"}}
                <p class="help-block">{{form.maximum_age.help_text}}</p>
            </div>
    </div><!--/.span2-->
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
