{% load manip_data %}
{% load widget_tweaks %}

<a class="badge badge-warning" onClick='$(".meta_input").toggle("fast");' href="javascript:void(0)">+add meta content</a>
<div class="meta_input hide"><br/>
    <fieldset class="row-fluid form-inline">
        <div class="control-group span6">
            <div class="controls">
                <label class="control-label">Is Completed</label>
                {{form.is_completed|attr:"rows:5"}}
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.verbose.label}}</label>
            <div class="controls">
                {{form.verbose|attr:"class:span12"|attr:"rows:5"}}
                <p class="help-block">{{form.verbose.help_text}}</p>
            </div>
        </div><!--/.span3-->
        <div class="control-group span6">
            <label class="control-label">{{form.text_to_display.label}}</label>
            <div class="controls">
                {{form.text_to_display|attr:"class:span12"|attr:"rows:5"}}
                <p class="help-block">{{form.text_to_display.help_text}}</p>
            </div>
        </div><!--/.span3-->
    </fieldset>

    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.comments.label}}</label>
            <div class="controls">
                {{form.comments|attr:"class:span12"|attr:"rows:5"}}
                <p class="help-block">{{form.comments.help_text}}</p>
            </div>
        </div><!--/.span3-->
        <div class="control-group span6">
            <label class="control-label">{{form.code.label}}</label>
            <div class="controls">
                {{form.code|attr:"class:span12 code"|attr:"rows:5"}}
                <p class="help-block">{{form.code.help_text}}</p>
            </div>
        </div><!--/.span3-->
    </fieldset>
</div>
