{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.is_available.label}}</label>
            <div class="controls">
                {{form.is_available|attr:"class:span12"}}
            <p class="help-block">{{form.is_available.help_text}}</p>
            </div>
    </div><!--/.span6-->
    <div class="control-group span6">
        <label class="control-label">{{form.condition.label}}</label>
            <div class="controls">
                {{form.condition|attr:"class:span12"}}
                <p class="help-block">{{form.condition.help_text}}</p>
            </div>
    </div><!--/.span6-->
   
</fieldset>
<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.is_icu_available.label}}</label>
            <div class="controls">
                {{form.is_icu_available|attr:"class:span12"}}
            <p class="help-block">{{form.is_icu_available.help_text}}</p>
            </div>
    </div><!--/.span6-->
    <div class="control-group span6">
        <label class="control-label">{{form.limit_per_day_allowance_icu.label}}</label>
            <div class="controls">
                {{form.limit_per_day_allowance_icu|attr:"class:span12"}}
                <p class="help-block">{{form.limit_per_day_allowance_icu.help_text}}</p>
            </div>
    </div><!--/.span6-->
   
</fieldset>
<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.limit_per_day_allowance.label}}</label>
            <div class="controls">
                {{form.limit_per_day_allowance|attr:"class:span12"}}
            <p class="help-block">{{form.limit_per_day_allowance.help_text}}</p>
            </div>
    </div><!--/.span6-->
    <div class="control-group span6">
        <label class="control-label">{{form.limit_cummulative_allowance.label}}</label>
            <div class="controls">
                {{form.limit_cummulative_allowance|attr:"class:span12"}}
                <p class="help-block">{{form.limit_cummulative_allowance.help_text}}</p>
            </div>
    </div><!--/.span6-->
   
</fieldset>
<fieldset class="row-fluid">
    <div class="control-group span4">
        <label class="control-label">{{form.from_day.label}}</label>
            <div class="controls">
                {{form.from_day|attr:"class:span12"}}
            <p class="help-block">{{form.from_day.help_text}}</p>
            </div>
    </div><!--/.span4-->
    <div class="control-group span4">
        <label class="control-label">{{form.to_day.label}}</label>
            <div class="controls">
                {{form.to_day|attr:"class:span12"}}
                <p class="help-block">{{form.to_day.help_text}}</p>
            </div>
    </div><!--/.span4-->
   <div class="control-group span4">
        <label class="control-label">{{form.number_of_days.label}}</label>
            <div class="controls">
                {{form.number_of_days|attr:"class:span12"}}
                <p class="help-block">{{form.number_of_days.help_text}}</p>
            </div>
    </div><!--/.span4-->
</fieldset>

{%include "wiki/snippets/meta_input_form.html"%}
