{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.name.label}}</label>
        <div class="controls">
            {{form.name|attr:"class:span12"}}
            <p class="help-block">{{form.name.help_text}}</p>
        </div>
    </div><!--/.span6-->
    <div class="control-group span6">
        <label class="control-label">Is enabled</label>
        <div class="controls">
            {{form.is_enabled|attr:"class:span12"}}
            <p class="help-block">{{form.is_enabled.help_text}}</p>
        </div>
    </div><!--/.span6-->
</fieldset>
