{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<fieldset class="row-fluid form-horizontal">
    <div class="control-group span6">
        <label class="control-label">{{form.is_available.label}}</label>
        <div class="controls">
            {{form.is_available|attr:"class:span12"}}
            <p class="help-block">{{form.is_available.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span6">
        <label class="control-label">{{form.intimation_time.label}}</label>
        <div class="controls">
            {{form.intimation_time|attr:"class:span12"}}
            <p class="help-block">{{form.intimation_time.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
<fieldset class="row-fluid form-horizontal">
    <div class="control-group span6">
        <label class="control-label">{{form.days_pre_hospitalization.label}}</label>
        <div class="controls">
            {{form.days_pre_hospitalization|attr:"class:span12"}}
            <p class="help-block">{{form.days_pre_hospitalization.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span6">
        <label class="control-label">{{form.days_post_hospitalization.label}}</label>
        <div class="controls">
            {{form.days_post_hospitalization|attr:"class:span12"}}
            <p class="help-block">{{form.days_post_hospitalization.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
<fieldset class="row-fluid form-horizontal">
    <div class="control-group span6">
        <label class="control-label">{{form.days_pre_hospitalization_with_intimation.label}}</label>
        <div class="controls">
            {{form.days_pre_hospitalization_with_intimation|attr:"class:span12"}}
            <p class="help-block">{{form.days_pre_hospitalization_with_intimation.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span6">
        <label class="control-label">{{form.days_post_hospitalization_with_intimation.label}}</label>
        <div class="controls">
            {{form.days_post_hospitalization_with_intimation|attr:"class:span12"}}
            <p class="help-block">{{form.days_post_hospitalization_with_intimation.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
<fieldset class="row-fluid form-horizontal">
    <div class="control-group span6">
        <label class="control-label">{{form.cummulative_limit.label}}</label>
        <div class="controls">
            {{form.cummulative_limit|attr:"class:span12"}}
            <p class="help-block">{{form.cummulative_limit.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span6">
        <label class="control-label">{{form.cummulative_limit_in_percentage.label}}</label>
        <div class="controls">
            {{form.cummulative_limit_in_percentage|attr:"class:span12"}}
            <p class="help-block">{{form.cummulative_limit_in_percentage.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
