{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<table class="table">
    <tr>
        <th>Slab</th>
        <th>Room Type</th>
        <th>In policy</th>
        <th>Copay (if applicable)</th>
        <th>For hospital type</th>
        <th>&nbsp;</th>
    </tr>
    {%for cpt in form.slab_instance.0.room_type_copay.all %}
        <tr>
            <td>{%for sl in form.slab_instance%}{{sl.sum_assured}}{%if sl.grade%}-{{sl.grade}}{%endif%}{%if forloop.last%}{%else%}, {%endif%}{%endfor%}</td>
            <td>{{cpt.get_room_type_display}}({{cpt.verbose_room_type}})</td>
            <td>{{cpt.verbose_room_type}}</td>
            <td>{{cpt.copay}}</td>
            <td>{{cpt.applicable_for_hospital}}</td>
            <td><a title="delete" class="wiki-remove" href="javascript:void(0);" id="remove-room_type_copay-{{cpt.id}}"><i class="icon-remove"></i></a></td>
        </tr>
    {%endfor%}
</table>
<fieldset class="row-fluid">
    <div class="control-group span3">
        <label class="control-label">{{form.room_type.label}}</label>
        <div class="controls">
            {{form.room_type|attr:"class:span12"}}
            <p class="help-block">{{form.room_type.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span3">
        <label class="control-label">{{form.verbose_room_type.label}}</label>
        <div class="controls">
            {{form.verbose_room_type|attr:"class:span12"}}
            <p class="help-block">{{form.verbose_room_type.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span3">
        <label class="control-label">{{form.copay.label}}</label>
        <div class="controls">
            {{form.copay|attr:"class:span12"}}
            <p class="help-block">{{form.copay.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span3">
        <label class="control-label">{{form.applicable_for_hospital.label}}</label>
        <div class="controls">
            {{form.applicable_for_hospital|attr:"class:span12"}}
            <p class="help-block">{{form.applicable_for_hospital.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
