{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<fieldset class="row-fluid">
    <div class="control-group span6">
        <label class="control-label">{{form.feature.label}}</label>
            <div class="controls">
                {{form.feature|attr:"class:span12"}}
            <p class="help-block">{{form.feature.help_text}}</p>
            </div>
    </div><!--/.span2-->
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
