{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<fieldset class="row-fluid">
    <div class="control-group span12">
        <label class="control-label">{{form.terms_list.label}}(Saved: {%if form.instance.id%}{{form.instance.terms.all|length}}{%endif%})</label>
            <div class="controls">
                {{form.terms_list|attr:"class:span12"}}
            <p class="help-block">{{form.terms_list.help_text}}</p>
            </div>
    </div><!--/.span6-->
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
