{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}
<table class="table">
    <tr>
        <th>Slab</th>
        <th>States</th>
        <th>Cities</th>
        <th>Network Copay</th>
        <th>Non Network Copay</th>
        <th>&nbsp;</th>
    </tr>
    {%for cpt in form.slab_instance.0.zonal_copay.all %}
        <tr>
            <td>{%for sl in form.slab_instance%}{{sl.sum_assured}}{%if sl.grade%}-{{sl.grade}}{%endif%}{%if forloop.last%}{%else%}, {%endif%}{%endfor%}</td>
            <td>{%for state in cpt.state.all%}{{state}},{%endfor%}</td>
            <td>{%for city in cpt.city.all%}{{city}},{%endfor%}</td>
            <td>{{cpt.zonal_copay_for_network_hospital}}</td>
            <td>{{cpt.zonal_copay_for_non_network_hospital}}</td>
            <td><a title="delete" class="wiki-remove" href="javascript:void(0);" id="remove-zonal_copay-{{cpt.id}}"><i class="icon-remove"></i></a></td>
        </tr>
    {%endfor%}
</table>
<fieldset class="row-fluid">
    <div class="control-group span4">
        <label class="control-label">{{form.state.label}}</label>
        <div class="controls">
            {{form.state|attr:"class:span12"}}
            <p class="help-block">{{form.state.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span4">
        <label class="control-label">{{form.city.label}}</label>
        <div class="controls">
            {{form.city|attr:"class:span12"}}
            <p class="help-block">{{form.city.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>

<fieldset class="row-fluid form-horizontal">
    <div class="control-group span6">
        <label class="control-label">{{form.zonal_copay_for_network_hospital.label}}</label>
        <div class="controls">
            {{form.zonal_copay_for_network_hospital|attr:"class:span12"}}
            <p class="help-block">{{form.zonal_copay_for_network_hospital.help_text}}</p>
        </div>
    </div><!--/.span3-->
    <div class="control-group span6">
        <label class="control-label">{{form.zonal_copay_for_non_network_hospital.label}}</label>
        <div class="controls">
            {{form.zonal_copay_for_non_network_hospital|attr:"class:span12"}}
            <p class="help-block">{{form.zonal_copay_for_non_network_hospital.help_text}}</p>
        </div>
    </div><!--/.span3-->
</fieldset>
{%include "wiki/snippets/meta_input_form.html"%}
