<div class="col-md-12 breadcrums-link">
       
       {% for b in breadcrumb %}
              {% if breadcrumb|length == forloop.counter %}
                <span id="a{{ forloop.counter }}" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child">
                   <a href="{{b.url}}" itemprop="url"><span itemprop="title">{{b.title|title}}</span></a>
                </span>
              {% else %}
                <span id="a{{ forloop.counter }}" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" itemprop="child"  itemref="a{{ forloop.counter|add:1 }}">
                    <a href="{{ b.url }}" itemprop="url"><span itemprop="title">{{ b.title|title }}</span> <img src="{{STATIC_URL}}flatpages/img/next-btn.png" alt=""></a>
                </span>
              {% endif %}
                
       {% endfor %}

   </div>
   <div class="clearfix">
   </div>
