{% extends "flatpages:base.html" %}
{% block css %}
    <link href="{{STATIC_URL}}flatpages/css/brand-page-styles.css" rel="stylesheet">
{% endblock css %}
{% block head %}
    <title> {{ brand_page.title }} - Coverfox.com </title>
    <meta name="description" content="Find, compare & buy {{ brand_page.title }}  policies online at affordable prices only at Coverfox.com. Get your free quote contact now!" />
    <meta itemprop="datePublished" content="{{brand_page.created|date:'c'}}" id="date_published">
    {% if seo and seo.raw %}
        {{seo.raw|safe}} 
    {% endif %}

{% endblock head %}
{% block pagetitle %}<span class="nav-text-separator"></span>{{ brand_page.title }}{% endblock pagetitle %}
{% block pageheader %}
{% include "brands:breadcrumbs.html" %}
<div class="page-header-wrapper container">
    <div class="row">
        <div class="col-md-8 brand-header">
            <h1>{{ brand_page.title }}</h1>
            <p>{{ brand_page.description|safe }}</p>
        </div>
        <div class="col-md-4">
            <div class="action-form card reveal">
                {%  if campaign == 'health' %}
                <h2 class="text-center">Compare the best Health insurance plans from 20 top insurance companies in India</h2>
                <div class="btn-container text-center">
                    <a href="/health-plan/" class="btn-cfox orange large">Get started</a>
                </div>
                {%  endif %}
                {%  if campaign == 'motor' %}
                <h2 class="text-center">Buy insurance for your Car in minutes</h2>
                <div class="btn-container text-center">
                    <a href="/motor/car-insurance/" class="btn-cfox orange large">Get started</a>
                </div>
                {%  endif %}
                {%  if campaign == 'two-wheeler' %}
                <h2 class="text-center">Buy insurance for your Two Wheeler in minutes</h2>
                <div class="btn-container text-center">
                    <a href="/motor/twowheeler-insurance/" class="btn-cfox orange large">Get started</a>
                </div>
                {%  endif %}
            </div>
        </div>
    </div>
</div>
{% endblock pageheader %}
{% block content %}
<section>
    <div class="lp-b1-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8 pnone">
                    <div class="company-category card two_wheeler_defualt">
                        {{ brand_page.content|default_if_none:''|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(window).on('scroll', function(){
                var scrollpos = $(window).scrollTop();
                var total_article_height = $('.lp-b1-wrapper').height();
                if(scrollpos > total_article_height){
                    $('.action-form').removeClass('reveal');
                }
                else{
                    $('.action-form').addClass('reveal');
                }
            });
        });
    </script>
{% endblock js %}