{% extends "flatpages:base.html" %}
{% load compress %}
{% block head %}
    <meta itemprop="datePublished" content="{{brand_page.created|date:'c'}}" id="date_published">
    {% if seo %}
        {% include "flatpages:seo_snippet.html" %}
    {% else %}
        <title>{{brand_product.title}} - Coverfox.com</title>
        <meta name="description" content="Planning to buy health insurance plans online? Get detailed review & affordable premium rates for {{brand_product}} only on Coverfox.com">
    {% endif %}
{% endblock head %}
{% block pagetitle %}<span class="nav-text-separator"></span>{{brand_product.full_title}}{% endblock pagetitle %}

{% block pageheader %}
{% include "brands:breadcrumbs.html" %}
<div class="clearfix"></div>
    <div class="container top_blog">
        <div class="row">
            <div class="col-md-2">
                <div class="logo_insurer">
                    <img src="{{ STATIC_URL }}marketing/img/insurer/{{ logo }}" alt="{{ brand_product.brand_page.title }}" title="{{ brand_product.brand_page.title }}" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6">
                <h2>{{brand_product.title}}</h2>
                <h5>{{ brand_product.brand_page.title }}</h5>
                {% if brand_product.review|striptags %}
                        <div itemscope itemtype="http://schema.org/Product">
                            <meta itemprop="name" content="{{ brand_product.title }}" />
                           
                            <div id="review_container" itemprop="review" itemscope itemtype="http://schema.org/Review">
                                <meta itemprop="itemReviewed" content="{{ brand_product.title }}" />
                                <i itemprop="author"  itemscope itemtype="http://schema.org/Organization"><meta itemprop="name" content="Coverfox"/></i>
                                <div class="reviews_box_container">
                                    <div class="rating-star clearfix">
                                        <div class="review_rating pos-r">
                                                {% for i in "54321"|make_list %}
                                                    {% if i|add:0 == rating %}
                                                        <input id="1_star{{ i }}" name="rating" checked="checked" value="{{ i }}" type="radio">
                                                        {% else %}
                                                            <input id="1_star{{ i }}" name="rating" value="{{ i }}" type="radio">
                                                    {% endif %}                                    
                                                    <label for="1_star{{ i }}" title="{{ i }} stars">{{ i }} stars</label>
                                                {% endfor %}

                                         </div>
                                         <div class="review_rating mht" itemprop="reviewRating" itemscope="itemscope" itemtype="http://schema.org/Rating">
                                            <span>
                                                <i itemprop="ratingValue">{{ rating }}/5</i>
                                            </span>
                                            
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        {% endif %}
            </div>
            <div class="col-md-4">
                <h3>Talk to an expert</h3>
                <div class="insurer_form_container">
                    <div class="input_container">
                        <span>+91</span>
                        <input type="text" id="contact-me-num" class="form_text_box" placeholder="Enter Your 10 digit Mobile No.">
                    </div>
                    <div id="hero-error" class="error reveal hide"><span class="glyphicon glyphicon-warning-sign"></span><span>&nbsp;Please enter a valid 10 digit mobile number</span></div>
                    <button id="call-me-btn" type="submit" class="dib btn-cfox orange">Save upto 30%</button>
                    <div class="terms-msg"> I hereby authorize Coverfox to communicate with me on the given number for my Insurance needs. I am aware that this authorization will override my registry under NDNC. </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock pageheader %}
{% block content %}
<section class="companies-wrapper">
        <div class="container">
            <div class="row">
                <ul class="company-logos">
                    <li><img src="/static/lp-health/img/insurer/star-health-general-insurance.png" alt="Star Health General Insurance - Health Insurance"></li>
                    <li><img src="/static/lp-health/img/insurer/apollo-munich-health-insurance.png" alt="Apollo Munich Health Insurance"></li>
                    <li><img src="/static/lp-health/img/insurer/religare-general-insurance.png" alt="Religare General Insurance - Health Insurance"></li>
                    <li><img src="/static/lp-health/img/insurer/larsen-and-tubro-general-insurance.png" alt="Larsen and Tubro General Insurance - Mediclaim Insurance"></li>
                    <li><img src="/static/lp-health/img/insurer/bajaj-allianz-general-insurance.png" alt="Bajaj Allianz General Insurance - Health Insurance" style="max-height:35px;"></li>
                    <li><img src="/static/lp-health/img/insurer/bharti-axa-general-insurance.png" alt="Bharti AXA General Insurance - Health Insurance"></li>
                    <li><img src="/static/lp-health/img/insurer/iffco-tokio-general-insurance.png" alt="IFFCO TOKIO General Insurance - Health Insurance"></li>
                    <li><img src="/static/lp-health/img/insurer/hdfc-ergo-general-insurance.png" alt="HDFC ERGO General Insurance - Health Insurance"></li>
                    <li><img src="/static/lp-health/img/insurer/reliance-general-insurance.png" alt="Reliance General Insurance - Health Insurance"></li>
                    <li><img src="/static/lp-health/img/insurer/new-india-general-insurance.png" alt="New India General Insurance - Mediclaim Insurance"></li>
                </ul>
            </div>
        </div><!--/.container-fluid-->
    </section>
<section class="tabular_container">
    <div class="container">
    {% if brand_product.introduction %}
        <div class="tabular_head">
            <h1>Introduction</h1>
            <p>{{brand_product.introduction|safe}}</p>
        </div>
    {% endif %}    
        <div class="tabular_head">
            <h1>Main Highlight of the plan</h1>
            <p class="para">{{brand_product.highlight| safe}}</p>
        </div>
        <div class="tabular_head">
            <h1>Scope of cover</h1>
            <div class="tab_container">
                {{brand_product.scope_of_cover| safe}}
            </div>
        </div>
        <div class="tabular_head">
            <h1>Coverage: Benefits & Features</h1>
            {% for  key, value in coverage.items  %}
                <div class="tabular_head">
                    <h3>{{ key }}</h3>
                    {% for k,v  in value.items %}
                        <div class="tabular_list_container clearfix">
                            <div class="col-md-3 pnone">
                               {% if k|slice:":8" != 'No Title' %}
                                    <h4>{{ k|safe }}</h4>
                                {% endif %}                                
                            </div>
                            <div class="col-md-9 list_para_txt">
                               {{ v|safe }}
                            </div>
                        </div>                    
                    {% endfor %}
                 </div>   
            {% endfor %}
        </div>
        <div class="tabular_head">
            <h1 class="ext_heading">Exclusions</h1>
       
            {% for k,v  in exclusions.items %}
                <div class="tabular_list_container clearfix">
                    <div class="col-md-3 pnone">
                        {% if k|slice:":8" != 'No Title' %}
                            <h4>{{ k|safe }}</h4>
                        {% endif %} 
                    </div>
                    <div class="col-md-9 list_para_txt">
                       {{ v|safe }}
                    </div>
                </div> 
            {% endfor %}
       
        </div>
        {% if brand_product.review|striptags %}
            <h2 class="mnone">Coverfox Review</h2>
            <div class="tab_ul">{{brand_product.review| safe}}</div>
            <div class="review_txt_nw">
                "Reviews and ratings are based only on Benefits and Conditions. Things like Claim Settlement Ratio, Hospital Network have not been covered under product ratings. These are covered under Company ratings." 
            </div> 
        {% endif %}
        
        {% if brand_product.brochure_link %}
            <div class="tabular_head">
                <h3>Download Brochure </h3>
                <a href="/static/{{brand_product.brochure_link}}">Click here to download the brochure for this policy.</a>
            </div>    
        {% endif %}
        {% if brand_product.policy_document %}
            <div class="tabular_head">
                <h3>Download Policy Document </h3>
                <a href="/static/{{brand_product.policy_document}}">Click here to download the policy wording.</a>
            </div>
        {% endif %}

        {% if others %}
            <div class="tabular_head">
                <h2>Other products from the company</h2>
                <ul>
                   {% for bp in others %}
                        <li><a href="{{bp.absolute_url}}">{{bp.title}}</a></li>
                   {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>      
</section>
{%compress js%}
    <script src="{{STATIC_URL}}campaign/js/zepto.js"></script>
    <script src="{{STATIC_URL}}campaign/js/cookies.js"></script>
{%endcompress%} 
  <script src="{{STATIC_URL}}marketing/health/js/utils.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}marketing/health/js/hero_form.js"></script>
  <script type="text/javascript">
      var CSRF_TOKEN;
      var page_id = 'health_product';
      var toll_free_no = '{{ settings.CAR_TOLL_FREE }}';
      var hero_phone_mandatory = 'YES';
      var next_page_override = '';
      var policy_type = 'old';
      $(document).ready(function(){
        $.get("{%url 'get_token'%}", function(data){
          CSRF_TOKEN = data.csrf;
        }, 'json');

      });
</script>
{% endblock content %}

