@import "../../css/base_theme";
@bannerBackgroundColor:#f6f5f3;
/* Overridden css for base_style.css */
.hero-wrapper {
  background-color: @bannerBackgroundColor;
  &  #topbar {
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: #ffffff;
    z-index: 200;
  }
}
.companies-wrapper {
  .boxShadow(0px -5px 15px rgba(0, 0, 0, 0.03));
}

.terms-msg{
  margin: 10px 0;
  font-size: 10px;
}
/* car banner css */
.car-banner {
  margin-top: -1px;
  padding:0;
  background: url(../img/expired-car-policy.jpg) no-repeat bottom left @bannerBackgroundColor;
  -webkit-background-size: cover;
  background-size: cover;
  & .club-form {
    background-color: rgba(255,255,255,0.9);
    padding:1px 15px 30px;
    margin: 30px 0px 35px;
    .boxShadow(0px 2px 3px rgba(0,0,0,0.19));
    & .brand-color {
      color: @baseThemeColor;
    }
    & .heading-banner {
      padding:1px 0px;
      text-align:left;
      & h1 {
        color: @baseThemeColor;
        font-size:34px;
        line-height: 1.4em;
        font-weight: 500;
        margin:15px 0 0px;
        text-shadow:0 1px 4px #ffffff;
      }
      & h2 {
        font-size: 18px;
        margin-top: 0px;
        font-weight: 600;
        line-height: 1.4em;
      }

    }
    & .form-box-mini {
      border-left: 1px solid rgba(0,0,0,0.07);
      .roundedCorners(0);
    }
    & ul {
      margin:30px 0;
      padding:0;
      li {
        list-style-type: none;
        color:@textColor;
        margin-bottom:10px;
        font-size:14px;
        text-align: left;
        padding-left:30px;
        position: relative;
        display: block;

        & img {
          .roundedCorners(50%);
          background-color: #666666;
          padding:3px;
          width:20px;
          height:20px;
          display: inline-block;
          position: absolute;
          top:1px;
          left:0px;
        }
      }
    }
  }
}
.renew_car_section{
  h3{
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
  line-height: 1.2em;
  }
  ul{
    margin-bottom: 30px;
    padding: 0px;
    list-style: none;
    li{
        margin: 5px 0px;
        padding: 5px 5px 5px 30px;
        position: relative;
        img{
            .roundedCorners(50%);
            background-color: rgb(102, 102, 102);
            padding: 3px;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            left: 0px;
            margin-right: 5px;
            display: inline-block;
        }
    }
  }
}
/* Mobile optimisation for banner elements */

@media only screen and (min-width : 200px) and (max-width : 767px) {
  .car-banner {
    padding:0px;
    background-image: none;
    background-color: #ffffff;
    & .club-form {
      margin: 0px;
      .boxShadow(none);
      & .form-box-mini {
        padding-left: 0px;
        padding-right: 0px;
        border: 0px solid transparent;
      }
      & .heading-banner {
        padding: 1px 0px;
        margin-bottom:-20px;
        & > img {
          display: none;
        }
        & h1 {
          margin-top:20px;
          font-size:26px;
        }
      }
      & ul {
        text-align: left;
        li {
          font-size: 16px;
          width: auto;
          margin-right:10px;
        }
      }
    }
  }
  .form-box-mini {
    & .cfinput, & .btn-cfox {
      max-width: 400px;
    }
  }
}

@media only screen and (min-width : 1600px) {
  .car-banner {
    max-width:1480px;
    margin-left:auto;
    margin-right:auto;
    .club-form {
      margin-top:50px;
      margin-bottom:50px;
    }
  }
}
/* form box mini css*/

.form-box-mini {
  background-color: transparent;
  .roundedCorners(4px);
  padding: 10px 5px 15px 20px;
  label {
    margin-bottom:5px;
    display: block;
    color: #404040;
    font-weight: 400;
  }
  .closer {
    color: @lightTextColor;
    margin-top: 15px;
    font-size: 12px;
  }
  .btn-cfox.btn-next {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom:10px;
  }
  ul {
    padding:0;
    margin-bottom: 10px;
    margin-top:30px;
    & li {
      background-image: none;
      color: @textColor;
      cursor: pointer;
      list-style-type: none;
      padding-left: 30px;
      margin-bottom: 5px;
      margin-top: 5px;
      position: relative;
      padding-top: 0;
      height: 35px;
      font-size: 14px;
      & .checkbox {
        position: absolute;
        .boxShadow(1px 1px 2px rgba(0, 0, 0, 0.3) inset);
        top: -1px;
        left: 0px;
        width: 22px;
        height: 22px;
        margin: 0px;
        background-color: #ffffff;
        border: 1px solid rgba(0,0,0,0.3);
        .roundedCorners(50%);
        &:before {
          content:'';
          position: absolute;
          top:5px;
          left:5px;
          .roundedCorners(50%);
          width:10px;
          height:10px;
          display: none;
          background-color: @baseThemeColor;
        }
      }
      &.active {
        font-weight: 700;
        & .checkbox {
          &:before {
            display: block;
          }
        }
      }
    }
  }
  .error {
    background-color: rgb(233, 150, 176);
    color: rgba(0, 0, 0, 0.58);
    padding: 5px;
    margin-bottom: 10px;
    .roundedCorners(3px);
  }
  .cfinput {
    border: 1px solid rgba(0,0,0,0.5);
    padding:10px 5px;
    background-color: #ffffff;
    .roundedCorners(3px);
    margin-bottom:10px;
    &.has-error {
      border-color: #8b0000;
      background-color: #FFE2EB;
    }
    &.addon-field {
      padding-left:40px;
      position: relative;
    }
    .addon {
      font-size: 14px;
      color:#363636;
      position: absolute;
      top:11px;
      left:8px;
    }
    input {
      border: 0;
      color: #363636;
      background-color: transparent;
      width: 100%;
      &:hover,&:focus,&:active {
        outline: none;
      }
    }
  }
}

.toll-free-box {
  margin-top:30px;
  font-size: 12px;
  h3 {
    display: inline-block;
    margin-top:5px;
    font-size:20px;
    font-weight: 400;
    text-shadow:0px 1px 2px rgba(255,255,255,0.7);
  }
  &.mobile-scr {
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 15px 20px;
    background-color: #f9f9f9;
    border-top: 1px solid rgba(0,0,0,0.04);
    .boxShadow(0px 1px 2px rgba(0,0,0,0.05) inset);
  }
}
