body {
  margin: 0px;
}

.proposition-overlay {
  display: none;
  visibility: hidden;
}
.health-widget {
  & h4 {
    color: #363636;
  }
  & .form-box .footer {
    display: none;
    visibility: hidden;
  }
  & .form-box {
    max-width: 500px;
    background-color:#fff;
    border: none;
    margin-bottom: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    &.proposition {
      max-height: none;
    }
    & h3 {
      color: #363636;
      border: none;
      font-weight: 500;
      font-size: 20px;
      margin: 0px;
    }
    & label {
      color: #363636;
      font-weight: 400;
    }
    & .input-group-addon {
      background-color: #ffffff;
    }
    & #expired .intro,
    & div.exp-process .process,
    & div.exp-process .process strong {
      color: #ffffff;
    }
  }

  & .btn-jago.purple {
    border: none;
    background: rgba(247, 106, 56, 0.86);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 10px 20px;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: 2px;
    font-size: 16px;
    height: auto;
    text-transform: uppercase;
    -moz-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {

      text-decoration: none;
    }
  }
  .btn-jago .tick-icon {
    display: none;
  }
}
.health-widget .gender-radio label.active,
.health-widget .healthcare-options label.active,
.health-widget .expert-advice label.active,
.health-widget .cfinput-wrap .cfinput label
{
  color: #5a6974;
}
.health-widget .options ul li span.age select {
  border: None;
}
.health-widget .options ul li.add {
  border:None;
  color: #363636;
  background-color: #ffffff;
  width: auto;
}
.health-widget .form-box .thanks-msg {
  background-color: #ff9134;
  color: rgba(0, 0, 0, 0.7);
  position: fixed;
  padding-left: 30px;
  padding-right: 30px;
}
.health-widget .form-box .thanks-msg img {
  opacity: 0.3;
}
.health-widget .form-box .thanks-msg p {
  text-align: center;
}
.health-widget {
  margin: auto 0px;
}
.health-widget .back-btn {
  display: block;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ffffff;
  padding:10px 0px;
  text-align: left;
  background-color: rgba(247, 106, 56, 0.86);
}
.health-widget .form-box .loading-msg {
  background-color: #ff9134;
  color: rgba(0, 0, 0, 0.7);
}
.health-widget .form-box .loading-msg img {
  opacity: 0.5;
}
