.hide {
  display: none!important;
}
.terms-msg {
  color: #5a6974;
  font-size: 10px;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row:before,
.row:after,
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.row:after,
.clearfix:after {
  clear: both;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.health-widget h1,
.health-widget h2,
.health-widget h3,
.health-widget h4,
.health-widget h5,
.health-widget h6,
.health-widget div,
.health-widget p,
.health-widget span,
.health-widget strong {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
.health-widget {
  position: relative;
  font-size: 14px;
  max-width: 500px;
  margin: auto;
}
.health-widget h3.form-header {
  font-size: 22px;
  margin: 5px 0px 0px;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
}
.health-widget h4 {
  line-height: 1.4em;
  font-size: 16px;
  color: #1a70df;
  margin: 20px 20px 10px 0px;
}
.health-widget .sub-headline {
  color: #999999;
  margin-top: -10px;
  text-align: center;
}
.health-widget .gender-radio {
  margin: 20px 0;
}
.health-widget .gender-radio strong {
  font-size: 16px;
  color: #363636;
}
.health-widget .gender-radio label {
  font-weight: normal;
  color: #363636;
  font-size: 16px;
  display: inline-block;
  margin-right: 15px;
}
.health-widget .gender-radio label input {
  margin-right: 5px;
}
.health-widget .gender-radio label.active {
  font-weight: bold;
  color: #363636 !important;
}
.health-widget .gender-group {
  display: inline-block;
}
.health-widget .genderoption {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 8px 15px;
}
.health-widget .genderoption.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #00d9aa;
  border: 1px solid #48af75;
  color: #fff;
}
.health-widget .genderoption img {
  width: 20px;
  margin-right: 8px;
}
.health-widget .options ul {
  list-style-type: none;
  padding: 0;
  margin: 0px;
}
.health-widget .options ul li {
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #888888;
  margin: 5px;
  width: 220px;
  float: left;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.health-widget .options ul li.selected {
  color: #363636;
}
.health-widget .options ul li span {
  text-transform: none;
  letter-spacing: 0;
}
.health-widget .options ul li span.age {
  display: none;
  background: transparent;
}
.health-widget .options ul li label {
  font-weight: normal;
  font-size: 14px;
}
.health-widget .options ul li.selected label {
  font-weight: bold;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-right: 10px;
}
.health-widget .options ul li.selected label span {
  text-transform: capitalize;
}
.health-widget .options ul li.selected span.age {
  display: inline-block;
  margin-left: 0px;
  position: absolute;
  top: 0;
  right: -25px;
  left: 100px;
}
.health-widget .options ul li span.age select.has-error {
  color: #ff704c;
}
.health-widget .options ul li span.age select,
.health-widget span.deductible select {
  background: #fff;
  border: 2px solid #A8C89C;
  width: 78%;
  padding: 5px 2px;
  font-size: 11px;
  color: #363636;
  line-height: 1;
  height: 25px;
  cursor: pointer;
  text-indent: .1px;
  text-transform: uppercase;
  position: relative;
  z-index: 30;
}
.health-widget .options ul li.add {
  text-transform: none;
  display: inline-block;
  margin: 5px;
  border: 2px solid #196EDC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #363636;
  background-color: transparent;
}
.health-widget .options ul li.add:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.health-widget .options ul li input[type='checkbox'] {
  font-size: 30px;
  margin: 0px 5px 0px 0px;
}
.health-widget .btn-jago {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 42px;
  cursor: pointer;
}
.health-widget .btn-jago.purple {
  background-color: #1a70df;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.health-widget .btn-jago.btn-next {
  font-size: 20px;
  display: inline-block;
  height: 57px;
  position: relative;
  padding: 13px 10px;
  min-width: 250px;
}
.health-widget .btn-jago .tick-icon {
  padding: 6px 11px;
  background: #5ad829;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 15px;
  color: #ffffff;
}
.health-widget .error-message {
  margin-top: 2px;
  color: #f00;
  font-size: 12px;
}
.health-widget .healthcare-options label {
  font-weight: normal;
  color: #363636;
  font-size: 15px;
  display: block;
  text-align: left;
  padding: 3px 0px 3px 25px;
  position: relative;
}
.health-widget .healthcare-options label span {
  font-weight: bold;
}
.health-widget .healthcare-options label input {
  margin-right: 5px;
  position: absolute;
  left: 0px;
}
.health-widget .healthcare-options label.active {
  color: #363636;
  font-weight: bold;
}
.health-widget .healthcare-options ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 20px 0;
}
.health-widget .healthcare-options ul li {
  webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  min-width: 120px;
  width: 30%;
  height: 65px;
  display: inline-block;
  margin-right: 0px;
  position: relative;
  cursor: pointer;
}
.health-widget .healthcare-options ul li.selected {
  padding: 0px;
  border: 1px solid #00b08a;
  background-color: #00d9aa;
  color: #fff;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
.health-widget .healthcare-options ul li.selected > span small {
  color: #ffffff;
}
.health-widget .healthcare-options ul li > span {
  position: absolute;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  left: 0;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 14px;
  line-height: 120%;
}
.health-widget .healthcare-options ul li > span small {
  color: #ff7b5e;
  text-transform: none;
  font-weight: 700;
  font-size: 12px;
  display: block;
  line-height: 16px;
}
.health-widget .cfinput-wrap .cfinput {
  margin-bottom: 10px;
  margin-top: 18px;
  background-color: #ffffff;
  text-align: left;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #999;
  padding: 7px;
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.health-widget .cfinput-wrap .cfinput .cfinput-club {
  float: left;
  width: 80%;
  padding-left: 10px;
}
.health-widget .cfinput-wrap .cfinput input {
  border: none;
  width: 100%;
  font-size: 12px;
  text-transform: none;
  letter-spacing: 1px;
}
.health-widget .cfinput-wrap .cfinput input:hover,
.health-widget .cfinput-wrap .cfinput input:focus,
.health-widget .cfinput-wrap .cfinput input:active {
  outline: none;
}
.health-widget .cfinput-wrap .cfinput label {
  color: #666;
  position: absolute;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  top: -18px;
  left: 0px;
  font-weight: 700;
}
.health-widget .pin-frame {
  max-width: 465px;
  padding: 0px;
  margin: auto;
}
.health-widget .pin-frame .error .input-error {
  margin-top: 10px;
}
.health-widget .pin-frame .error span {
  color: #fff;
  padding: 5px 10px;
  background: #FA6464;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none;
  margin-bottom: 10px;
  margin-top: 0px;
}
.health-widget .form-box {
  padding: 10px 20px 20px;
  background-color: #dff3e4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.health-widget .form-box .save-msg {
  color: #363636;
  letter-spacing: 1px;
  padding: 10px 0px 10px 15px;
  border: 1px dotted #5AD829;
  margin: -15px 0px 15px;
}
.health-widget .form-box .loading-msg {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #dff3e4;
  padding: 25% 20px 0px;
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none;
}
.health-widget .form-box .loading-msg.active {
  display: block;
}
.health-widget .form-box .loading-msg img {
  opacity: 0.6;
}
.health-widget .form-box .loading-msg p {
  margin-top: 20px;
}
.health-widget .form-box .thanks-msg {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #dff3e4;
  padding: 10% 20px 0px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none;
}
.health-widget .form-box .thanks-msg.active {
  display: block;
}
.health-widget .form-box .thanks-msg img {
  opacity: 0.6;
}
.health-widget .form-box .thanks-msg p {
  text-align: left;
}
.health-widget .form-box .proposition-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #dff3e4;
  padding: 1px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none;
  font-size: 16px;
  text-align: left;
}
.health-widget .form-box .proposition-overlay.active {
  display: block;
}
.health-widget .form-box .proposition-overlay h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: left;
}
.health-widget .form-box .proposition-overlay h2 span {
  border-bottom: 1px solid #363636;
  padding-bottom: 5px;
  display: inline-block;
}
.health-widget .form-box .proposition-overlay h3 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 0px;
  text-align: left;
}
.health-widget .form-box .proposition-overlay h3 img {
  height: 30px;
  display: inline-block;
  position: relative;
  top: 7px;
}
.health-widget .form-box .proposition-overlay > p {
  font-size: 18px;
}
.health-widget .form-box .proposition-overlay ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.health-widget .form-box .proposition-overlay ul li {
  text-align: left;
  margin-bottom: 5px;
  position: relative;
  padding-left: 15px;
}
.health-widget .form-box .proposition-overlay ul li .icon {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #1a70df;
}
.health-widget .form-box .proposition-overlay .foot {
  margin: 0px;
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 13px;
}
.health-widget .form-box .proposition-overlay .foot img {
  height: 16px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.health-widget .form-box .proposition-overlay .btn-jago {
  text-align: left;
  min-width: 350px;
}
.health-widget #about-us {
  margin-bottom: 100px;
}
.health-widget .cfalert {
  margin-bottom: 5px;
}
.health-widget .expert-advice {
  margin: 5px 0px 15px;
}
.health-widget .expert-advice input {
  margin-right: 3px;
}
.health-widget .expert-advice label {
  font-weight: normal;
  color: #363636;
  margin-right: 7px;
}
.health-widget .expert-advice label.active {
  color: #363636 ;
  font-weight: bold;
}
.health-widget .back-btn {
  padding: 10px 15px;
  line-height: 1em;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.09);
  margin-left: 5px;
  margin-top: 10px;
  display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 -2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.3);
}
.health-widget .back-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
/* small screen media query */
@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11 {
    float: left;
  }
}
/*Health Widget main*/
@media (min-width: 351px) {
  .proposition-overlay {
    display: none !important;
  }
}
/*Health Widget for sidebar*/
@media (max-width: 350px) {
  .health-widget {
    font-size: 12px;
  }
  .health-widget h4 {
    font-size: 14px;
  }
  .health-widget .gender-radio label {
    font-size: 13px;
  }
  .health-widget .options ul li label {
    font-size: 13px;
  }
  .health-widget .options ul li span.age select {
    font-size: 11px;
    padding: 5px 2px;
  }
  .health-widget span.deductible select {
    font-size: 11px;
    padding: 5px 2px;
  }
  .health-widget .btn-jago.btn-next {
    font-size: 18px;
    height: 44px;
    padding: 8px 10px;
  }
  .health-widget .btn-jago .tick-icon {
    padding: 3px 7px;
  }
  .health-widget .healthcare-options label {
    font-size: 13px;
  }
  .health-widget .form-box .proposition-overlay {
    font-size: 13px;
  }
  .health-widget .form-box .proposition-overlay .foot {
    text-align: right;
  }
  .health-widget .form-box .proposition-overlay h2 {
    text-align: center;
  }
  .health-widget .form-box .proposition-overlay h3 {
    font-size: 20px;
  }
  .health-widget .form-box .proposition-overlay .btn-jago {
    min-width: 100%;
  }
  .health-widget .form-box .proposition-overlay > p {
    font-size: 13px;
  }
}
