.hide {
display: none!important;
}
.terms-msg{
  color: #5a6974;
  font-size: 10px;
}
.text-right {
  text-align:right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align:left;
}
*, *:before, *:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.row:before,.row:after,.clearfix:before, .clearfix:after {
display: table;
content: " ";
}
.row:after, .clearfix:after {
clear: both;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.health-widget {
  & h1,& h2,& h3,& h4,& h5,& h6,& div,& p,& span,& strong {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  }
}
@jagoBaseColor: #1A70DF;
@heroColor: #DFF3E4;

.health-widget {
  position: relative;
  font-size: 14px;
  max-width:500px;
  margin: auto;
  h3.form-header {
    font-size: 22px;
    margin: 5px 0px 0px;
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
  }
  h4 {
    line-height: 1.4em;
    font-size: 16px;
    color: @jagoBaseColor;
    margin: 20px 20px 10px 0px;
  }
  .sub-headline {
    color: #999999;
    margin-top: -10px;
    text-align: center;
  }
  .gender-radio {
    margin: 20px 0;
    strong{
      font-size: 16px;
      color: #363636;
    }
    label {
      font-weight: normal;
      color: #363636;
      font-size: 16px;
      display: inline-block;
      margin-right: 15px;
      & input {
        margin-right: 5px;
      }
      &.active {
        font-weight: bold;
        color: #363636 !important;
      }
    }
  }
  .gender-group {
    display: inline-block;
  }
  .genderoption {
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 8px 15px;
  }
  .genderoption.active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #00d9aa;
    border: 1px solid #48af75;
    color: #fff;
  }
  .genderoption img {
    width: 20px;
    margin-right: 8px;
  }
  .options ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
  }
  .options ul li {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.2);
    color: #888888;
    margin: 5px;
    width:220px;
    float: left;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;

  }

  .options ul li.selected {
    color: #363636;
  }
  .options ul li span {
    text-transform: none;
    letter-spacing: 0;
  }
  .options ul li span.age {
    display: none;
    background: transparent;
  }
  .options ul li {
    label {
      font-weight: normal;
      font-size: 14px;
    }
    &.selected {
      label {
        font-weight: bold;
        border-right:1px solid rgba(0,0,0,0.2);
        padding-right:10px;
        & span {
          text-transform: capitalize;
        }
      }
    }
  }
  .options ul li.selected span.age {
    display: inline-block;
    margin-left: 0px;
    position: absolute;
    top: 0;
    right:-25px;
    left: 100px;
  }
  .options ul li span.age select.has-error {
    color:#ff704c;
  }
  .options ul li span.age select, span.deductible select {
    background: #fff;
    border: 2px solid #A8C89C;
    width: 78%;
    padding: 5px 2px;
    font-size: 11px;
    color: #363636;
    line-height: 1;
    height: 25px;
    cursor: pointer;
    text-indent: .1px;
    text-transform: uppercase;
    position: relative;
    z-index: 30;
  }
  .options ul li.add {
    text-transform: none;
    display: inline-block;
    margin: 5px;
    border: 2px solid #196EDC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#363636;
    background-color: transparent;
    &:hover {
      background-color: rgba(255,255,255,0.5);
    }
  }

  .options ul li input[type='checkbox'] {
    font-size:30px;
    margin:0px 5px 0px 0px;
  }
  .btn-jago {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .05)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .05));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .05));
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .05));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .05));
    -webkit-box-shadow: inset 0 -2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 -2px rgba(0,0,0,0.3);
    box-shadow: inset 0 -2px rgba(0,0,0,0.3);
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 42px;
    cursor: pointer;
    &.purple {
      background-color: @jagoBaseColor;
      border: 1px solid rgba(0,0,0,0.2);
    }
    &.btn-next {
      font-size: 20px;
      display: inline-block;
      height: 57px;
      position: relative;
      padding: 13px 10px;
      min-width:250px;
    }
    .tick-icon {
      padding: 6px 11px;
      background: #5ad829;
      border-radius: 50%;
      margin-right: 5px;
      font-size: 15px;
      color: #ffffff;
    }
  }
  .error-message {
    margin-top: 2px;
    color: #f00;
    font-size: 12px;
  }

  .healthcare-options {
    label {
      font-weight: normal;
      color: #363636;
      font-size: 15px;
      display: block;
      text-align: left;
      padding: 3px 0px 3px 25px;
      position: relative;
      & span {
        font-weight: bold;
      }
      & input {
        margin-right: 5px;
        position: absolute;
        left: 0px;
      }
      &.active {
        color: #363636;
        font-weight: bold;
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
      text-align: center;
      margin: 20px 0;
      & li {
        webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: 0px;
        border: 1px solid rgba(0, 0, 0, .5);
        min-width: 120px;
        width: 30%;
        height: 65px;
        display: inline-block;
        margin-right: 0px;
        position: relative;
        cursor: pointer;
        &.selected {
          padding: 0px;
          border: 1px solid #00b08a;
          background-color: #00d9aa;
          color: #fff;
          -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
          -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, .2);
          & > span small {
            color: #ffffff;
          }
        }
        & > span {
          position: absolute;
          font-size: 14px;
          font-weight: 300;
          width: 100%;
          left: 0;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase;
          margin-top: 14px;
          line-height: 120%;
        }
        & > span small {
          color: #ff7b5e;
          text-transform: none;
          font-weight: 700;
          font-size: 12px;
          display: block;
          line-height: 16px;
        }
      }
    }
  }
  .cfinput-wrap {
    & .cfinput {
      margin-bottom: 10px;
      margin-top: 18px;
      background-color: #ffffff;
      text-align: left;
      position: relative;
      overflow: visible;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      border: 1px solid #999;
      padding: 7px;
      -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, .1);
      -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, .1);
      box-shadow: inset 1px 2px 3px rgba(0, 0, 0, .1);
      & .cfinput-club {
        float: left;
        width: 80%;
        padding-left: 10px;
      }
      & input {
        border: none;
        width: 100%;
        font-size: 12px;
        text-transform: none;
        letter-spacing: 1px;
        &:hover, &:focus, &:active {
          outline: none;
        }
      }
      & label {
        color: #666;
        position: absolute;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2px;
        top: -18px;
        left: 0px;
        font-weight: 700;
      }
    }
  }
  .pin-frame {
    max-width: 465px;
    padding: 0px;
    margin: auto;
    .error {
      .input-error {
        margin-top: 10px;
      }
      span {
        color: #fff;
        padding: 5px 10px;
        background: #FA6464;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        display: none;
        margin-bottom: 10px;
        margin-top: 0px;
      }
    }
  }
  .form-box {
    padding: 10px 20px 20px;
    background-color: @heroColor;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    .save-msg {
      color: #363636;
      letter-spacing: 1px;
      padding: 10px 0px 10px 15px;
      border: 1px dotted #5AD829;
      margin:-15px 0px 15px;
    }
    .loading-msg {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      background-color: @heroColor;
      padding: 25% 20px 0px;
      font-size: 20px;
      font-weight:bold;
      color: rgba(0,0,0,0.4);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      display: none;
      &.active {
        display: block;
      }
      & img {
        opacity: 0.6;
      }
      & p {
        margin-top: 20px;
      }
    }
    .thanks-msg {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      background-color: @heroColor;
      padding: 10% 20px 0px;
      font-size: 18px;
      color: rgba(0,0,0,0.4);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      display: none;
      &.active {
        display: block;
      }
      & img {
        opacity: 0.6;
      }
      & p {
        text-align: left;
      }
    }
    // proposition overlay css
    .proposition-overlay {
      position: absolute;
      top:0;
      left:0;
      right: 0;
      bottom: 0;
      z-index:100;
      background-color: @heroColor;
      padding:1px 20px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      display: none;
      font-size:16px;
      text-align: left;
      &.active {
        display: block;
      }
      & h2 {
        font-size:26px;
        font-weight: 700;
        margin-bottom: 10px;
        text-align: left;
        & span {
          border-bottom:1px solid #363636;
          padding-bottom:5px;
          display: inline-block;
        }
      }
      & h3 {
        font-size:24px;
        font-weight:400;
        margin-top:0px;
        text-align: left;
        & img {
          height:30px;
          display: inline-block;
          position: relative;
          top:7px;
        }
      }
      & > p {
        font-size:18px;
      }
      & ul {
        list-style-type: none;
        padding:0px;
        margin:0px;
        li {
          text-align: left;
          margin-bottom:5px;
          position: relative;
          padding-left:15px;
          & .icon {
            position: absolute;
            top:0px;
            left:0px;
            color:@jagoBaseColor;
          }
        }
      }
      & .foot {
        margin:0px;
        text-align: right;
        position: absolute;
        bottom:20px;
        right:20px;
        font-size:13px;
        & img {
          height:16px;
          display: inline-block;
          position: relative;
          top:2px;
        }
      }
      .btn-jago {
        text-align: left;
        min-width: 350px;
      }
    }
  }
  #about-us {
    margin-bottom: 100px;
  }
  .cfalert {
    margin-bottom: 5px;
  }

  .expert-advice {
    margin:5px 0px 15px;
    input {
      margin-right: 3px;
    }
    label {
      font-weight: normal;
      color: #363636;
      margin-right: 7px;
      &.active {
        color: #363636 ;
        font-weight: bold;
      }
    }
  }
  .back-btn {
    padding: 10px 15px;
    line-height: 1em;
    color: rgba(0,0,0,0.5);
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.09);
    margin-left: 5px;
    margin-top: 10px;
    display: inline-block;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor:pointer;
    -webkit-box-shadow: inset 0 -2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 -2px rgba(0,0,0,0.3);
    box-shadow: inset 0 -2px rgba(0,0,0,0.3);
    &:hover {
      background-color: rgba(0,0,0,0.2);
    }
  }
}

/* small screen media query */
@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
    float: left;
  }
}

/*Health Widget main*/
@media (min-width: 351px) {
  .proposition-overlay{
    display: none !important;
  }
}

/*Health Widget for sidebar*/
@media (max-width: 350px) {
  .health-widget {
    font-size: 12px;
    h4 {
      font-size: 14px;
    }
    .gender-radio label {
      font-size: 13px;
    }
    .options ul li {
      label {
        font-size: 13px;
      }
      span.age select {
        font-size: 11px;
        padding:5px 2px;
      }
    }
    span.deductible select {
      font-size: 11px;
      padding:5px 2px;
    }
    .btn-jago.btn-next{
      font-size: 18px;
      height: 44px;
      padding: 8px 10px;
    }
    .btn-jago .tick-icon {
      padding: 3px 7px;
    }
    .healthcare-options label {
      font-size: 13px;
    }
    .form-box {
      & .proposition-overlay {
        font-size: 13px;
        & .foot {
          text-align: right;
        }
        & h2 {
          text-align: center;
        }
        & h3 {
          font-size:20px;
        }
        & .btn-jago {
          min-width: 100%;
        }
        & > p {
          font-size:13px;
        }
      }
    }
  }
}
