{% extends "mail/e-app-base.html" %}

{% block title %} Email App Test Home {% endblock %}

{% block style %}
<style type="text/css" media="screen">
    .editorpane {
    width: 100% !important;
    //overflow-x: scroll !important;
    //overflow-y: scroll !important;
    height: 300px;
    text-align: initial;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <ul id="gn-menu" class="gn-menu-main">
        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu" id="emailFromHolder">
                        <li><span style="cursor:pointer;" id="fetchMailBtn" class="gn-icon gn-icon-archive">Fetch Mails</span></li>
                    </ul>
                </div>
                <!-- /gn-scroller -->
            </nav>
        </li>
        <li><a href="{% url 'home' %}">MINYMA</a></li>
        <li style="padding-right: 10px;">
            <ul class="company-social">
                <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </li>
    </ul>
</div>
<section id="email{{ email.id }}" class="currentScroll section pos1">
    <div class="section-box">
        <div class="container">
            <div class="row section-panel">
                <h1 style="text-align: center">Compose Message</h1>
                From: <input
                    class="form-control"
                    style="width: 100%; height:125%; margin-bottom: 5px;"
                    type="text"
                    name="from_contact"
                    id="from_contact"
                    readonly="true"
                    value="{{ user.email }}">
                To: <input
                    class="form-control"
                    style="width: 100%; height:125%; margin-bottom: 5px;"
                    placeholder="enter email addresses"
                    type="text"
                    name="to"
                    value="{{ to }}"
                    id="to">
                {% if to %}
                {% else %}
                Subject: <input
                    class="form-control"
                    style="width: 100%; height:125%; margin-bottom: 5px;"
                    placeholder="enter email subject"
                    type="text"
                    name="to"
                    id="subject">
                {% endif %}
                <div class="editorpane" id="editor"></div>
                <div class="section-panel-inner">
                    <form action="{% url 'upload_attachment' %}" id="attachmentForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ attachment_form.attachment.label }}
                        {{ attachment_form.attachment }}
                        <input id="attachFileBtn" type="submit" class="btn btn-primary">
                    </form>
                </div>
                <span style="cursor: pointer; width: 100%; height:125%" class="btn btn-danger" id="sendMailBtn">
                    Send Mail
                </span>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% block script %}
<script src="http://malsup.github.com/jquery.form.js"></script>
<script type="text/javascript">

    $(document).on('ready', function(){

        email_data = {}
        attachment_data = {}

        shouldSendMail = true;
        editor = ace.edit("editor");
        editor.setTheme("ace/theme/twilight");
        editor.getSession().setMode("ace/mode/javascript");
        editor.getSession().setUseWrapMode(true);

        $('#fetchMailBtn').click(function(){
            url = "{% url 'get_unread' %}";
            console.log("Getting Mails");
            $.get(url, function(data){
                response = data;
                console.log(response.help)
                alert(response.message)
            });
        });

        $('#sendMailBtn').click(function(){
            editor = ace.edit("editor");
            email_data.to = $("#to").val();
            if(!email_data.to){
                shouldSendMail = false;
                alert("Please tell me where to send the mail\nEnter email address")
                $("#to")
            }
            email_data.from_contact = $("#from_contact").val();
            {% if msg_id %}
            url = "{% url 'reply_message' msg_id %}";
            {% else %}
            url = "{% url 'send_message' %}";
            email_data.subject = $("#subject").val();
            {% endif %}
            email_data.body = editor.getValue();
            if(shouldSendMail){
                shouldSendMail = false;
                console.log("Sending Mail");
                if(attachment_data.is_attachment){
                    email_data = $.extend(email_data, attachment_data)
                }
                $.post(url, JSON.stringify(email_data), function(data){
                    response = data;
                    console.log(response.help);
                    if(response.success){
                        alert(response.message);
                    }
                });
            }
        });

        $("#attachmentForm").ajaxForm({
            //data: {'call_type': 'out', 'crtObjId': crtObjectId},
            success: function(data){
                response = data.response;
                console.log(response.help);
                if(response.success){
                    alert(response.message);
                    attachment_data = response.data
                }
            },
        });

    });


</script>
{% endblock %}
