{% extends "mail/e-app-base.html" %}

{% block title %} Email App Test Home {% endblock %}

{% block style %}
<style type="text/css" media="screen">
    .editorpane {
        width: 100% !important;
        //overflow-x: scroll !important;
        //overflow-y: scroll !important;
        height: 450px;
        text-align: initial;
    }
</style>
{% endblock %}

{% block content %}
<h1>CALLBACK</h1>
{% endblock %}

{% block script %}
<script>
    //access_token=ya29.YAE662atVXAYusc_9JNV_ltJ2vCxTayb1-31VgOwsH1lECqpoMEGqNHDBfeYaXKiF72JZAPbhvcenA
    //&token_type=Bearer&expires_in=3600
    //&scope=https://mail.google.com/

    $(document).ready(function(){
        tokenUrl = window.location.href.split("#")[1]
        console.log(tokenUrl)
        keyValuePairs = tokenUrl.split("&")
        tokenObj = {}
        for(i=0;i<keyValuePairs.length;i++){
            keyValuePair = keyValuePairs[i].split("=");
            console.log(keyValuePair)
            tokenObj[keyValuePair[0]] = keyValuePair[1]
        }
        url = "/mail/authenticate/"
        $.get(url, tokenObj, function(data){
            alert("Check Console");
            console.log(data)
        })
    })
</script>
{% endblock %}
