@import "../../css/base_theme";

/* Overridden css for base_style.css */
.hero-wrapper {
  background-color: @bannerBackgroundColor;
  &  #topbar {
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: #ffffff;
    z-index: 200;
  }
}
.companies-wrapper {
  .boxShadow(0px -5px 15px rgba(0, 0, 0, 0.03));
}


/* Health widget banner css */
.health-widget {
  overflow: hidden;
  padding-bottom: 30px;
  padding-top: 80px;
  & .well {
    border: 1px solid #F95E26;
  }
  & h1 {
    font-size: 23px;
    font-weight: 700;
    text-align: left;
    line-height: 1.2em;
    color: @baseThemeColor;
    span.black {
      color: @textColor;
    }
  }
  & h2.leader {
    line-height: 1.4em;
    font-size: 20px;
    //margin: 10px 15px 20px;
    position: relative;
    overflow: visible;
    text-align: left;
    & > img {
      display: block;
      position: absolute;
      top: 50%;
      width: 100%;
      max-width: 600px;
    }
  }
  & h4 {
    font-size: 16px;
  }
  & .widget-form-box {
    margin-top: 20px;
  }
  .points-box {
    color:@textColor;
    margin-top: 30px;
    & ul {
      list-style-type: none;
      padding: 0;
      margin-top: 0;
      & li {
        margin-bottom: 20px;
        font-size: 16px;
        padding-left: 40px;
        position: relative;
        text-align: left;
        & img {
          width: 20px;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}

/* Media query css for the banner */
@media only screen and (min-width : 200px) and (max-width : 991px) {
 .health-widget {
   & h1 {
     margin-top: 10px;
   }
 }
}

.companies-box {
  padding:0 15px 10px;
  overflow: hidden;
  & .highlight {
    color:@baseThemeColor;
  }
  & ul#company-logos {
    list-style-type: none;
    text-align: left;
    padding: 0;
    & li {
      display: inline-block;
      padding: 8px;
      position: relative;
      & img {
        height: 45px;
      }
    }
  }
}

.companies-wrapper{
  background-color: #0076FF;
  color: #FFFFFF;
}

.second-hook{
  border-top: 1px solid #222222;
  border-bottom: 1px solid #222222;
  margin: 30px 0;
}

.second-hook h3 {
  margin: 15px 0;
}
