<div class="car-selector-widget-wrapper">
    <div class="car-selector-widget">

        <section id="_csw-summary">
            <div id="_csw-summary-wrapper" class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="col-md-4 _csw-summary-card" data-bind="css:{filled: vehicle.make()}">
                            <p>Make</p>
                        </div>
                        <div class="col-md-4 _csw-summary-card" data-bind="css:{filled: vehicle.model()}">
                            <p>Model</p>
                        </div>
                        <div class="col-md-4 _csw-summary-card" data-bind="css:{filled: vehicle.variant()}">
                            <p>Variant</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>
</div>