
    <div class="date-picker-widget">
        <number-inputbox 
        	name="date" data-bind="value:$data.value"
        	data-bind="visible:$data.showDate, css:$data.dateClass" 
        	params="value:$data.date, className:'left',maxlength:2, placeholder:'Date'">
    	</number-inputbox>
        
        <my-select 
        	name="month" 
        	data-bind="visible:$data.showMonth, css: $data.monthClass" 
        	params="value:$data.month, dateFormat:$data.dateFormat">
        </my-select>
        
        <number-inputbox 
        	name="year" data-bind="value:$data.value"
        	data-bind="visible:$data.showYear, css:$data.yearClass" 
        	params="value:$data.year, className:'right',maxlength:4, placeholder:'Year'">
    	</number-inputbox>
    </div>
