<div class="input-widget" data-bind="css: customClass == null? '':customClass,">
    <div class="input-box">
        <label class="cubic-trans" data-bind="css: {reveal: fieldValue()}, text: label"></label>
        <input type="text" data-bind="value: fieldValue, attr: {'placeholder': placeholder}, valueUpdate: valueUpdate"  />
    </div>
    <div class="error-box">

    </div>
    <div class="notification-box">

    </div>
    <div class="message-box">

    </div>
</div>

