<style>
    .hiddenField{
        height: 0px;
        width:0px;
        margin: 0px;
        padding: 0px;
        top:-10px;
        left:-10px; 
        overflow: hidden;
    }
</style>

<div class="multiselect-widget" data-bind="css: customClass == null? '':customClass">
    <ul data-bind="foreach:items"> 
        <li class="multiselect-item" data-bind="click: toggleDropdown, css: {active: isddVisible() == true, customClass: customClass != null, disabled: parsedItems().length == 0 }">
            <div class="example-text" data-bind="text:exampleText, visible: exampleText !== '' && !selectedValue()"></div>
            <div data-bind="if: inlineLabel && selectedValue()">
                <div class="inline-label" data-bind="text: inlineLabel"></div>
            </div>
            <span data-bind="text:selectedValue()? selectedValueVerbose():defaultText, css: {'show-inline-label': inlineLabel && selectedValue(), 'hidden-inline-label': inlineLabel && !selectedValue()}"></span>
            <div class="multiselect-dd" data-bind="visible: isddVisible() == true">
                <div class="keyword" data-bind="css:{hiddenField:$parent.hideSearch}">
                    <input type="text" data-bind="value: keyword, valueUpdate:'keyup', click: function(){} ,clickBubble:false, hasFocus: isddVisible()"/>
                    <div class="close-btn" data-bind="css: {reveal: keyword() !== null && keyword() !== '' && keyword() !== undefined}, click: keyword.bind($data, null), clickBubble:false"></div>
                </div>

                <ul data-bind="foreach: filteredItems">
                    <li class="dd-element" data-bind="text: $parent.optionText == null? $data:$data[$parent.optionText], click: $parent.selectValue, clickBubble:false, css:{selected: ko.toJSON($parent.selectedValue()) == ko.toJSON($data)} "></li>
                </ul>
                <div class="empty-ui" data-bind="if: keyword() !== null, visible: filteredItems().length == 0">
                    No results for <br/><span data-bind="text:keyword().substring(0,15)"></span>
                </div>
            </div>
        </li>
    </ul>
</div>