<div data-bind="if: mode != 'buy' ">
    <div data-bind="if: $index() == 0 && $parents[1].affiliate_campaign">
        <div class="call-card-wrapper">

            <div class="card pnone plan-card row call-card">
               <div class="col-sm-6 col-sm-6">
                   <h3>Unable to decide?</h3>
                   <p class="sub">Talk to our specialist about your <span data-bind="text:$parents[1].vehicle_type_verbose[VEHICLE_TYPE]"></span> insurance needs and get expert advice.</p>
               </div>
               <div class="col-sm-6 col-sm-6 call-card-form">
                <section data-bind="visible: !$parents[1].ui_states.request_call_success()">
                    <div class="col-sm-12">
                        <input type="text" placeholder="Enter 10 digit mobile number" data-bind="value: $parents[1].quote.mobile" maxlength="10" >
                        <a class="btn orange-flat" data-bind="click: $parents[1].app_actions.request_call">Call me!</a>
                    </div>
                    <p class="error" data-bind="visible: !$parents[1].ui_states.is_mobile_number_valid()">Please enter a valid phone number.</p>

                </section>

                <section data-bind="visible: $parents[1].ui_states.request_call_success()">
                    <p class="success">Thanks! An expert will get back to you soon.</p>
                </section>


                <h5 class="call">or call us (Toll Free) <span data-bind="text: $parents[1].toll_free_number"></span></h5>
            </div>
        </div>

    </div>

</div>
</div>

<div class="card pnone plan-card row" data-bind="with: plan, css: mode">
<div class="close-btn" data-bind="visible: $parent.mode == 'buy',click:$parent.context.app_actions.cancel_refresh">X</div>
    <div class="col-sm-4 col-md-4 logo-parent">
        <div class="logo-image">
            <img class="insurer img-responsive" data-bind="attr: {src: '/static/motor_product/desktopMVP/app/assets/img/insurer/'+insurerSlug+'.png'}" alt="" />
        </div>
        <div class="kv-item-wrapper">
            <div class="kv-item small connector">
                <div class="key">
                    <span>Insured Declared Value (IDV)</span>
                </div>
                <div class="value">
                    <span>Rs. <span data-bind="inr_currency: calculatedAtIDV"></span></span>
                </div>
            </div>
        </div>

        <div class="kv-item-wrapper" data-bind="visible: !$parent.context.expiredFor90Days() && $parent.context.quote.isClaimedLastYear() != 1 && !$parent.context.quote.isNewVehicle() && !$parent.context.quote.isUsedVehicle()">
            <div class="kv-item small connector">
                <div class="key">
                    <span>New No Claim Bonus (NCB)</span>
                </div>
                <div class="value">
                    <span data-bind="text: $parent.context.get_next_ncb($parent.context.quote.previousNCB())"></span>%
                </div>
            </div>
        </div>

        <div class="kv-item-wrapper" data-bind="visible: $parent.context.quote.isUsedVehicle() && $parent.context.quote.isNCBCertificate() == 1">
            <div class="kv-item small connector">
                <div class="key">
                    <span>New No Claim Bonus (NCB)</span>
                </div>
                <div class="value">
                    <span data-bind="text: $parent.context.quote.newNCB()"></span>%
                </div>
            </div>
        </div>



        <!--ul>
            <li class="empty">IDV : Rs. <span data-bind="inr_currency: calculatedAtIDV"></span></li>
            <li class="empty" data-bind="visible: !$parent.context.expiredFor90Days() && $parent.context.quote.isClaimedLastYear() != 1 && !$parent.context.quote.isNewVehicle() && !$parent.context.quote.isUsedVehicle()">No Claim Bonus (NCB) : <span data-bind="text: $parent.context.get_next_ncb($parent.context.quote.previousNCB())"></span>%</li>

            <li class="empty" data-bind="visible: $parent.context.quote.isUsedVehicle() && $parent.context.quote.isNCBCertificate() == 1">New No Claim Bonus : <span data-bind="text: $parent.context.quote.newNCB()"></span>%</li>
        </ul-->

    </div>

    <div class="col-sm-8 col-md-8 pnone" style="display: -ms-flex; display: -webkit-flex; display: flex;">

        <div class="col-sm-6 col-md-6 plan-base" data-bind="css: { initial: !$parent.context.showFullCard()}">

            <div class="plan-price" data-bind="visible: !$parent.context.showFullCard() && (employeeDiscount().premium || 0)>=0, css: {isLoading: !$parent.context.hasSortedOnce()}">
                <h3>Rs. <span data-bind="inr_currency: calculatedTotalPremium"></span></h3>
                <a class="premium-breakup-link" data-bind="visible: $parent.mode != 'buy' && $parent.context.hasSortedOnce(), click: $parent.context.app_actions.prepare_buy">See Premium Breakup</a>

                <section data-bind="if: $parent.context.selected_addons().length > 0 " >
                        <div data-bind="foreach:$parent.context.selected_addons">
                            <div class="kv-item-wrapper">
                                <div class="kv-item small xs" data-bind="css: {inactive: $parent.get_addon_from_id($data) == 'NA' }">
                                    <div class="key">
                                        <span data-bind="text: $parents[1].context.coverMap[$data]"></span>
                                    </div>
                                    <div class="value">
                                        <span data-bind="text: $parent.get_addon_from_id($data)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
            </div>

            <div class="plan-base-inner" data-bind="visible: $parent.context.showFullCard() || employeeDiscount().premium<0">

                <div class="base-premium-breakup" data-bind="visible: $parent.context.hasSortedOnce()">
                    <a  class="premium-breakup-link"
                        data-bind="visible: ($parent.mode != 'buy' &&
                                             $parent.context.showFullCard() || employeeDiscount().premium<0),
                                    click: $parent.context.app_actions.prepare_buy">
                        See Full Premium Breakup
                    </a>
                </div>



                <div class="kv-item-wrapper">
                    <div class="kv-item small special" >
                        <div class="key">
                            <span>Base Price</span>
                        </div>
                        <div class="value">
                            Rs. <span data-bind="inr_currency:  calculatedDiscounts() + calculatedBasicCover() - (get_addon_from_id('legalLiabilityDriver') != 'NA' && ($parent.context.quote.extra_isLegalLiability() == 1 && get_cover_from_id('legalLiabilityDriver').default != '1')? get_addon_from_id_raw('legalLiabilityDriver'):0)"></span>
                        </div>
                    </div>
                </div>

                <div class="kv-item-wrapper" data-bind="visible: $parent.context.showFullCard()">
                    <div class="kv-item small red" >
                        <div class="key">
                            <span>Discounts</span>
                        </div>
                        <div class="value">
                            - Rs. <span data-bind="inr_currency: calculatedSpecialDiscounts()*-1 "></span>
                        </div>
                    </div>
                </div>

                <div class="kv-item-wrapper"
                     data-bind="visible: employeeDiscount().premium < 0">
                    <div class="kv-item small red" >
                        <div class="key">
                            <span>Employee Discount</span>
                        </div>
                        <div class="value">
                            - Rs. <span data-bind="inr_currency: calculatedEmployeeDiscount() * -1"></span>
                        </div>
                    </div>
                </div>

                <div class="kv-item-wrapper"  data-bind="visible: $parent.context.selected_addons().length > 0 || calculatedPAPassengerPremium() > 0 || $parent.context.quote.extra_isLegalLiability() == 1 || get_cover_from_id('legalLiabilityDriver').default == '1' ">
                    <div class="kv-item small" >
                        <div class="key">
                            <span>Additional Covers</span>
                        </div>
                        <div class="value">
                            Rs. <span data-bind="inr_currency: calculatedAddonCovers() + calculatedPAPassengerPremium() +
                            (get_addon_from_id('legalLiabilityDriver') != 'NA' && ($parent.context.quote.extra_isLegalLiability() == 1 && get_cover_from_id('legalLiabilityDriver').default != '1')? get_addon_from_id_raw('legalLiabilityDriver'):0)"></span>
                        </div>
                    </div>
                </div>

                <div class="cover-list" data-bind="if: $parent.context.selected_addons().length > 0 || calculatedPAPassengerPremium() > 0 || $parent.context.quote.extra_isLegalLiability() == 1 || get_cover_from_id('legalLiabilityDriver').default == '1' ">

                    <section data-bind="if: get_addon_from_id('legalLiabilityDriver') != 'NA' && ($parent.context.quote.extra_isLegalLiability() == 1 || get_cover_from_id('legalLiabilityDriver').default == '1') ">

                        <div class="kv-item-wrapper">
                            <div class="kv-item small xs">
                                <div class="key">
                                    <span>Driver cover</span>
                                </div>
                                <div class="value">
                                    <span data-bind="text: get_cover_from_id('legalLiabilityDriver').default == '1'? 'included': get_addon_from_id('legalLiabilityDriver') "></span>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section data-bind="if: $parent.context.quote.extra_paPassenger() > 0">

                        <div class="kv-item-wrapper">
                            <div class="kv-item small xs">
                                <div class="key">
                                    <span>Passenger Cover</span>
                                </div>
                                <div class="value">
                                    <span data-bind="text: calculatedPAPassengerPremium() == 0 ? 'NA' : '+ ' +calculatedPAPassengerPremium()"></span>
                                </div>
                            </div>
                        </div>

                    </section>

                    <!--div data-bind="foreach: $parent.addons_to_show">
                            <div class="kv-item-wrapper">
                                <div class="kv-item small xs">
                                    <div class="key">
                                        <span data-bind="text: name"></span>
                                        <div data-bind="foreach: dependents">
                                            <span data-bind="text: name"></span>
                                        </div>
                                    </div>
                                    <div class="value">

                                    </div>
                                </div>
                            </div>
                    </div -->

                    <section data-bind="if: $parent.context.selected_addons().length > 0 " >
                        <div data-bind="foreach:$parent.context.selected_addons">
                            <div class="kv-item-wrapper">
                                <div class="kv-item small xs" data-bind="css: {inactive: $parent.get_addon_from_id($data) == 'NA' }">
                                    <div class="key">
                                        <span data-bind="text: $parents[1].context.coverMap[$data]"></span>
                                        <!--div data-bind="if: $parent.dependentCovers && $parent.dependentCovers[$data] && $parent.dependentCovers[$data].length > 0">
                                            <div data-bind="foreach: $parent.dependentCovers[$data]">
                                                <span data-bind="text: $data"></span>
                                            </div>
                                        </div-->
                                    </div>
                                    <div class="value">
                                        <span data-bind="text: $parent.get_addon_from_id($data)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div data-bind="foreach: $parent.context.arr_diff(selectedAddonCoversIds(), $parent.context.selected_addons())">
                            <div class="kv-item-wrapper">
                                <div class="kv-item small xs" data-bind="visible: $parent.get_addon_from_id($data) != 'NA' ">
                                    <div class="key">
                                        <span data-bind="text: $parents[1].context.coverMap[$data]"></span>
                                    </div>
                                    <div class="value">
                                        <span data-bind="text: $parent.get_addon_from_id($data)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 action-parent">

            <div class="action-parent-inner">
                <!--h3 data-bind="visible: $parent.context.showFullCard()">Rs. <span data-bind="inr_currency: calculatedTotalPremium"></span></h3 -->
                <div data-bind="visible: !$parent.context.showFullCard() && (employeeDiscount().premium || 0)>=0">
                    <div class='spinner-container no-padding' data-bind="visible: !$parent.context.hasSortedOnce()">
                         <div class="spinner dark">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                    </div>
                    <div class="leanCard" data-bind="visible: $parent.context.hasSortedOnce">
                        <a class="btn orange-flat" data-bind="click: $parent.context.app_actions.quick_buy_plan, css:{loading: $parent.context.policyRefresh() == 'start'}" >

                            <span data-bind="visible: $parent.context.policyRefresh() != 'start' || $parent.context.selectedPlan() != $parent.plan">
                                <span data-bind="text: (VEHICLE_TYPE == 'fourwheeler' &&
                                                        $parent.context.is_expired() &&
                                                        $parent.context.liveOfflineRTOs.indexOf($parent.context.quote.rto_info().id) > -1 &&
                                                        bypassInspection !== '1')? 'Schedule Inspection': 'Buy this plan'">
                                </span>
                            </span>

                            <div class="spinner" data-bind="visible: $parent.context.policyRefresh() == 'start' && $parent.context.selectedPlan() == $parent.plan">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>

                        </a>
                        <span class='button-addon-outside' data-bind="{text: (VEHICLE_TYPE == 'fourwheeler' && $parent.context.is_expired() && $parent.context.liveOfflineRTOs.indexOf($parent.context.quote.rto_info().id) > -1 && $parent.context.liveOfflineInsurers.indexOf(insurerSlug) > -1)? 'Same day policy': '', visible: (bypassInspection !== '1')}">

                        </span>

                        <span class='button-addon-outside' data-bind="{html: 'Purchase online. <br/>No inspection required.', visible: (bypassInspection === '1')}">

                        </span>
                    </div>
                    <div class="action-tooltip" data-bind="visible:insurerSlug == 'oriental'">
                        Cashless claims not available <i>?</i>
                        <div class="action-tooltip__desc">
                            <h5>Cashless Claims not available</h5>
                            This insurer does not provide cashless claims service. During claims you will have to pay first and then claim the amount later.
                        </div>
                    </div>
                </div>
            </div>

            <div class='fullCard' data-bind="visible: $parent.context.showFullCard() || (employeeDiscount().premium || 0)<0">

                <div data-bind="visible: !$parent.context.hasSortedOnce()">
                    <h3 data-bind="visible: $parent.context.showFullCard() || (employeeDiscount().premium || 0)<0">Rs. <span data-bind="inr_currency: calculatedTotalPremium"></span></h3>
                    <div class='spinner-container no-padding' data-bind="visible: !$parent.context.hasSortedOnce()">
                         <div class="spinner dark">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                        </div>
                    </div>
                </div>


                <div data-bind="visible: $parent.context.hasSortedOnce()">
                <a  class="btn orange-flat btn-inline-label"
                    data-bind=" click: $parent.context.app_actions.quick_buy_plan,
                                css:{loading: $parent.context.policyRefresh() == 'start',
                                     loadingCurrent: $parent.context.policyRefresh() == 'start' && $parent.context.selectedPlan() == $parent.plan}" >
                        <span class="btn-label" data-bind="visible: !($parent.context.policyRefresh() == 'start' && $parent.context.selectedPlan() == $parent.plan)"> Buy For
                        </span>

                        </span>

                        <span data-bind="visible: $parent.context.policyRefresh() != 'start' || $parent.context.selectedPlan() != $parent.plan">Rs. <span data-bind="inr_currency: calculatedTotalPremium"></span></span>

                        <div class="spinner" data-bind="visible: $parent.context.policyRefresh() == 'start' && $parent.context.selectedPlan() == $parent.plan">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>

                    </a>

                    <span   class='button-addon-outside'
                            data-bind="html:(VEHICLE_TYPE == 'fourwheeler' &&
                                            $parent.context.is_expired() &&
                                            $parent.context.liveOfflineRTOs.indexOf($parent.context.quote.rto_info().id) > -1 &&
                                            $parent.context.liveOfflineInsurers.indexOf(insurerSlug) > -1 &&
                                            bypassInspection !== '1' )? 'Schedule Inspection <br> and get <strong>same day policy</strong>': ''">
                    </span>

                </div>
                <div class="action-tooltip" data-bind="visible:insurerSlug == 'oriental'">
                    Cashless claims not available <i>?</i>
                    <div class="action-tooltip__desc">
                        <h5>Cashless Claims not available</h5>
                        This insurer does not provide cashless claims service. During claims you will have to pay first and then claim the amount later.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div data-bind="if: mode != 'buy' ">
    <div data-bind="if: $index() == 2 && !$parents[1].affiliate_campaign">
        <div class="call-card-wrapper">

            <div class="card pnone plan-card row call-card">
               <div class="col-sm-6 col-sm-6">
                   <h3>Unable to decide?</h3>
                   <p class="sub">Talk to our specialist about your <span data-bind="text:$parents[1].vehicle_type_verbose[VEHICLE_TYPE]"></span> insurance needs and get expert advice.</p>
               </div>
               <div class="col-sm-6 col-sm-6 call-card-form">
                <section data-bind="visible: !$parents[1].ui_states.request_call_success()">
                    <div class="col-sm-12">
                        <input type="text" placeholder="Enter 10 digit mobile number" data-bind="value: $parents[1].quote.mobile" maxlength="10" >
                        <a class="btn orange-flat" data-bind="click: $parents[1].app_actions.request_call">Call me!</a>
                    </div>
                    <p class="error" data-bind="visible: !$parents[1].ui_states.is_mobile_number_valid()">Please enter a valid phone number.</p>

                </section>

                <section data-bind="visible: $parents[1].ui_states.request_call_success()">
                    <p class="success">Thanks! An expert will get back to you soon.</p>
                </section>


                <h5 class="call">or call us (Toll Free) <span data-bind="text: $parents[1].toll_free_number"></span></h5>
            </div>
        </div>

    </div>

</div>
</div>

