<input type="text" name="state" maxlength="2" name="state" data-bind="value:$data.state,event:{keydown:keyDown, keyup:autoTab}, css:{uppercase:true}" disabled />
<input type="text" name="rto" maxlength="3" name="district" data-bind="value:$data.district,event:{keydown:keyDown, keyup:autoTab}, css:{uppercase:true}, enable:enableSeries" />
<input type="text" name="series" maxlength="2" name="series" data-bind="value:$data.series,event:{keydown:keyDown, keyup:autoTab}, css:{uppercase:true}"/>
<input type="text" name="number" maxlength="4" name="number" data-bind="value:$data.number,event:{keydown:keyDown, keyup:autoTab}, css:{uppercase:true}"/>
