<form action = "/travel-insurance/transaction/{{transaction.transaction_id}}/final/" class="form-horizontal lead-form" method='post' novalidate>
    {% csrf_token %}

    <!-- Applicant and his family's Information-->
    <div data-bind="foreach: members_list">
        <div class="legend"><span data-bind="text: type"></span> Information <strong>(Bajaj)</strong></div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Salutation</label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="attr:{name: type+'Salute'}, value: salute,
                    options: $parent.SALUTATIONS, optionsCaption: '--Select--'">
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                    <option value="Miss">Miss</option>
                </select>
                <p class="validationMessage" data-bind="validationMessage: salute"></p>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="form-group">
            <label class="col-sm-4 control-label">First Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" maxlength="30" data-bind="attr:{name: type+'FName'}, value: fname" />
                <p class="validationMessage" data-bind="validationMessage: fname"></p>
            </div>
        </div>
        <div class="clearfix"></div>

        <!-- ko if: type == 'applicant' -->
        <div class="form-group">
            <label class="col-sm-4 control-label">Middle Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" maxlength="30" data-bind="attr:{name: type+'MName'}, value: mname" />
                <p class="validationMessage" data-bind="validationMessage: mname"></p>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Last Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" maxlength="30" data-bind="attr:{name: type+'LName'}, value: lname" />
                <p class="validationMessage" data-bind="validationMessage: lname"></p>
            </div>
        </div>
        <div class="clearfix"></div>
	<!-- /ko -->

        <div class="form-group">
            <label class="col-sm-4 control-label">Date of birth</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" data-bind="attr:{name: type+'DOB'}, value: dob, datepicker: dob" placeholder="01-Jan-1990" />
                <p class="validationMessage" data-bind="validationMessage: dob"></p>
            </div>
        </div>
        <div class="clearfix"></div>

        <!-- ko if: type == 'applicant' -->
        <div class="form-group">
            <label class="col-sm-4 control-label">Gender</label>
            <div class="col-sm-8 radio">
                <label>
                    <input type="radio" data-bind="attr:{name: type+'gender'}, checked: gender" value="MALE" />Male
                </label>
                <label>&nbsp;&nbsp;&nbsp;
                    <input type="radio" data-bind="attr:{name: type+'gender'}, checked: gender" value="FEMALE" />Female
                </label>
                <p class="validationMessage" data-bind="validationMessage: gender"></p>
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="form-group">
            <label class="col-sm-4 control-label">Martial status</label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="attr:{name: type+'MartialStatus'}, value: martialstatus,
                    options: $parent.MARTIALSTATUS, optionsCaption: '--Select--'">
                </select>
                <p class="validationMessage" data-bind="validationMessage: martialstatus"></p>
            </div>
        </div>
        <div class="clearfix"></div>


        <!-- <div class="form-group">
            <label class="col-sm-4 control-label">Occupation</label>
            <div class="col-sm-8">
                <select class="form-control" data-bind="attr:{name: type+'Occupation'}, value: occupation,
                    options: $parent.OCCUPATIONS, optionsCaption: '--Select--'">
                </select>
                <p class="validationMessage" data-bind="validationMessage: occupation"></p>
            </div>
        </div>
        <div class="clearfix"></div> -->
        <!-- /ko -->

        

        <div class="form-group">
            <label class="col-sm-4 control-label">Assignee Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" data-bind="attr:{name: type+'AssigneeName'}, value: assignee_name" />
                <p class="validationMessage" data-bind="validationMessage: assignee_name"></p>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Passport Number</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" maxlength="10" data-bind="attr:{name: type+'Passport'}, value: passport" />
                <p class="validationMessage" data-bind="validationMessage: passport"></p>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Currently in India?</label>
            <div class="col-sm-8 radio">
                <label>
                    <input type="radio" name="in_India" data-bind="checked: in_India" value="Yes" />Yes
                </label>
                <label>&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="in_India" data-bind="checked: in_India" value="No" />No
                </label>
                <p class="validationMessage" data-bind="validationMessage: in_India"></p>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>

    <!-- Addresses -->
    <div data-bind="foreach: addresses">
        <div data-bind="visible: visible">
            <div class="legend" data-bind="text: legend"><span data-bind="text: type"></span> Address<span data-bind="if: type=='home', text: ' (for burgalary protection)'"></span></div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Building</label>
                <div class="col-sm-8">
                    <input type="text" maxlength="100" class="form-control" data-bind="attr:{name: type+'_Building'}, value: building" />
                    <p class="validationMessage" data-bind="validationMessage: building"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Street name</label>
                <div class="col-sm-8">
                    <input type="text" maxlength="35" class="form-control" data-bind="attr:{name: type+'_StreetName'}, value: addr2" />
                    <p class="validationMessage" data-bind="validationMessage: addr2"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Pincode</label>
                <div class="col-sm-8">
                    <input type="text" maxlength="35" class="form-control" data-bind="attr:{name: type+'Pincode'}, value: pincode" />
                    <p class="validationMessage" data-bind="validationMessage: pincode"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Country</label>
                <div class="col-sm-8">
                    <!-- ko if: type == 'university' -->
                    <select class="form-control" data-bind="attr:{name: type+'_country'}, value: country,
                        options: $parent.COUNTRIES, optionsCaption: '--Select--'">
                    </select>
                    <!-- /ko -->
                    <!-- ko if: type != 'university' -->
                    <input type="text" readonly="readonly" class="form-control" data-bind="attr:{name: type+'_country'}, value: country" />
                    <!-- /ko -->
                    <p class="validationMessage" data-bind="validationMessage: country"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">State</label>
                <div class="col-sm-8">
                    <!-- ko if: type != 'university' -->
                    <select type="text" class="form-control" data-bind="attr:{name: type+'_state'}, value: state,
                        options: $parent.STATES, optionsCaption: '--Select--'">
                    </select>
                    <!-- /ko -->
                    <!-- ko if: type == 'university' -->
                    <input type="text" maxlength="20" class="form-control" data-bind="attr:{name: type+'_state'}, value: state" />
                    <!-- /ko -->
                    <p class="validationMessage" data-bind="validationMessage: state"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">City</label>
                <div class="col-sm-8">
                    <input type="text" maxlength="35" class="form-control" data-bind="attr:{name: type+'_city'}, value: city" />
                    <p class="validationMessage" data-bind="validationMessage: city"></p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="form-group">
                <label class="col-sm-4 control-label">Email</label>
                <div class="col-sm-8">
                    <input type="text" maxlength="30" class="form-control" data-bind="attr:{name: type+'_email'}, value: email" />
                    <p class="validationMessage" data-bind="validationMessage: email"></p>
                </div>
            </div>
            <div class="clearfix"></div>


            <div class="form-group">
                <label class="col-sm-4 control-label">Mobile number</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">+91</span>
                        <input type="text" class="form-control" data-bind="attr:{name: type+'_mobile'}, value: mobile" />
                    </div>
                    <p class="validationMessage" data-bind="validationMessage: mobile"></p>
                </div>
            </div>
            <div class="clearfix"></div>


            <div class="form-group">
                <label class="col-sm-4 control-label">Nationality</label>
                <div class="col-sm-8">
                    <!-- ko if: type == 'university' -->
                    <select class="form-control" data-bind="attr:{name: type+'_nationality'}, value: nationality,
                        options: $parent.COUNTRIES, optionsCaption: '--Select--'">
                    </select>
                    <!-- /ko -->
                    <!-- ko if: type != 'university' -->
                    <input type="text" readonly="readonly" class="form-control" data-bind="attr:{name: type+'_nationality'}, value: nationality" />
                    <!-- /ko -->
                    <p class="validationMessage" data-bind="validationMessage: nationality"></p>
                </div>
            </div>

        </div>
    </div>

    <!-- Submit the request -->
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-cfox orange submit" data-bind="click: validate_form">Submit</button>
        </div>
    </div>
    <div class="clearfix"></div>
</form>
<script type="text/javascript">
    var MEMBERS = {{ members_list|safe }};
    var HOME_REQUIRED = {{ transaction.plan_details.home_required|yesno:'true,false' }};
    var PRODUCT_TYPE = '{{ transaction.plan_details.product_type }}';
</script>
<script type="text/javascript" src="/static/travel/buy/js/bajaj.js"></script>
