<form action = "/travel-insurance/insurer/{{insurer_slug}}/save-details/" class="form-horizontal lead-form"  method='post' data-bind="visible: form_visible" novalidate>
    {% csrf_token %}
    <!-- ko if:activity_id -->
    <input type="hidden" name="activity_id" data-bind="value: activity_id" />
    <!-- /ko -->
    <div class="legend">Insurance requirement <strong>(BAJAJ)</strong></div>

    <div class="form-group">
        <label for="inputAddr" class="col-sm-4 control-label"><h3>About you</h3></label>
    </div>

    <!---- DATE OF BIRTH -------->
    <div class="form-group">
        <label for="inputAddr" class="col-sm-4 control-label">Date of birth<sup style="color:red">*</sup></label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="search_dob" name="dob" placeholder="01-Jan-1990" data-bind="value: dob, datepicker: dob">
            <p class="validationMessage" data-bind="validationMessage: dob"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="form-group">
        <label for="inputAddr" class="col-sm-4 control-label"><h3>Travel information</h3></label>
    </div>

    <!---- TRAVELLER TYPE -------->
    <div class="form-group">
        <label class="col-sm-4 control-label">Travel type<sup style="color:red">*</sup></label>
        <div class="col-sm-8">
            <select class="form-control" name="traveller_type" id="search_traveller_type" data-bind="options: traveller_type_options, optionsCaption: '--Select option--', value: traveller_type">
            </select>
            <p class="validationMessage" data-bind="validationMessage: traveller_type"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!---- REGION -------->
    <div class="form-group">
        <label class="col-sm-4 control-label">
            Destination
        </label>
        <div class="col-sm-8">
            <select class="form-control" name="region" id="search_region"
                data-bind="options: region_options, value: region, optionsCaption: '--Select option--'">
            </select>
            <p class="validationMessage" data-bind="validationMessage: region"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!---- FROM DATE -------->
    <div class="form-group">
        <label for="inputAddr" class="col-sm-4 control-label">From date</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="from_date" placeholder="{% now 'd-M-Y' %}" data-bind="value: from_date, datepicker: from_date" >
            <p class="validationMessage" data-bind="validationMessage: from_date"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!---- TO DATE -------->
    <div class="form-group">
        <label for="inputAddr" class="col-sm-4 control-label">To date</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="to_date" placeholder="{% now 'd-M-Y' %}" data-bind="value: to_date, datepicker:to_date">
            <p class="validationMessage" data-bind="validationMessage: to_date"></p>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="form-group" data-bind="visible: no_of_child_visible">
        <label for="inputAddr" class="col-sm-4 control-label">No. of Child (6 months to 21 yrs)</label>
        <div class="col-sm-8">
             <select class="form-control" name="no_of_child" data-bind="value: no_of_child">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <p class="validationMessage" data-bind="validationMessage: no_of_child"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div data-bind="foreach: children_list, visible: no_of_adult_visible">
        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label" data-bind="text: label"></label>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Name" data-bind="value: name, attr:{name: member+'_name'}" />
                <p class="validationMessage" data-bind="validationMessage: name"></p>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Date of birth" data-bind="value: dob, datepicker: dob, attr: {name: member+'_dob'}" />
                <p class="validationMessage" data-bind="validationMessage: dob"></p>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Assignee name" data-bind="value: assignee_name, attr: {name: member+'_assignee_name'}" />
                <p class="validationMessage" data-bind="validationMessage: assignee_name"></p>
            </div>
            <div class="col-sm-2">
                <select class="form-control" data-bind="value: gender, attr: {name: member+'_gender'}" style="width:150px">
                    <option value="">--Select gender--</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <p class="validationMessage" data-bind="validationMessage: gender"></p>
            </div>
        </div>
    </div>

    <div class="form-group" data-bind="visible: no_of_adult_visible">
        <label for="inputAddr" class="col-sm-4 control-label">No of Adults (21 to 70 yrs apart from yourself). It can include spouse and children above 21 years only</label>
        <div class="col-sm-8">
             <select class="form-control" name="no_of_adult" data-bind="value: no_of_adult">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <p class="validationMessage" data-bind="validationMessage: no_of_child"></p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

    <div data-bind="foreach: adult_list, visible: no_of_adult_visible">
        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label" data-bind="text: label"></label>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Name" data-bind="value: name, attr:{name: member+'_name'}" />
                <p class="validationMessage" data-bind="validationMessage: name"></p>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Date of birth" data-bind="value: dob, datepicker: dob, attr: {name: member+'_dob'}" />
                <p class="validationMessage" data-bind="validationMessage: dob"></p>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Assignee name" data-bind="value: assignee_name, attr: {name: member+'_assignee_name'}" />
                <p class="validationMessage" data-bind="validationMessage: assignee_name"></p>
            </div>
            <div class="col-sm-2">
                <select class="form-control" data-bind="value: relation, attr: {name: member+'_relation'}" style="width:150px">
                    <option value="">--Select relation--</option>
                    <option value="Spouse">Spouse</option>
                    <option value="Child">Child</option>
                    <option value="Other">Other</option>
                </select>
                <p class="validationMessage" data-bind="validationMessage: relation"></p>
                <select class="form-control" data-bind="value: gender, attr: {name: member+'_gender'}" style="width:150px">
                    <option value="">--Select gender--</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <p class="validationMessage" data-bind="validationMessage: gender"></p>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-cfox orange" data-bind="click: cancel, visible: activity_id">Cancel</button>
            <button type="submit" class="btn btn-cfox orange submit" id="search_submit" data-bind="click: validate_form">Search</button>
        </div>
        <div class="clearfix"></div>
    </div>

</form>
<script type="text/javascript" src="/static/travel/search/js/bajaj.js"></script>
