<form action = "/travel-insurance/insurer/{{insurer_slug}}/save-details/" class="form-horizontal lead-form"  method='post' data-bind="visible: form_visible" novalidate>
    {% csrf_token %}

    <div class="legend">Insurance requirement</div>
    <div class="form-group">
        <label class="col-sm-4 control-label">Travel Insurance for</label>
        <div class="col-sm-8">
            <select class="form-control" name="policy_type" id="Travel_Insurance_for" data-bind ="options: policy_type_options, optionsText: 'name', optionsValue: 'id', optionsCaption: '--Select--', value: policy_type">
            </select>
            <p class="validationMessage" data-bind="validationMessage: policy_type"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!--- FAMILY TYPE ------->
    <div class="form-group" data-bind ="visible: family_type_visible" >
        <label class="col-sm-4 control-label">
            Family Type
        </label>
        <div class="col-sm-8">
            <select class="form-control" required name="family_type" data-bind ="value: family_type">
                <option value="SS">self + spouse</option>
                <option value="SSC">self + spouse + child1</option>
                <option value="SS2C">self + spouse + child1 + child2</option>
                <option value="SC">self + child1</option>
                <option value="S2C ">self + child1 + child2</option>
            </select>
            <p class="validationMessage" data-bind="validationMessage: family_type"></p>
        </div>
    </div>
    <!--- TRIPTYPE --->

    <div class="form-group" data-bind = "visible: trip_type_visible">
        <label class="col-sm-4 control-label">
            Insurance validity for
        </label>

        <div class="radio col-sm-4">
            <label>
                <input type="radio" name="trip_type" value="S"  data-bind="checked: trip_type">Single
            </label>
            <label>&nbsp;&nbsp;&nbsp;
                <input type="radio" name="trip_type" value="A" data-bind="checked: trip_type">Multiple
            </label>
        </div>
        <div class= "clearfix"></div>
    </div>

    <!---- TRAVEL TYPE ----->
    <!---
    <div class="form-group">
        <label class="col-sm-4 control-label">
            Travel Type
        </label>
        <div class="radio col-sm-8">
            <label>
                <input type="radio" name="travel_type" value="SCH" data-bind="checked: travel_type">
                Schengen
            </label>
            <label>
                <input type="radio" name="travel_type" value="NON_SCH" data-bind ="checked: travel_type">
                Non-Schengen
            </label>
        </div>
  </div>
--->
    <div class="form-group">
        <label class="col-sm-4 control-label">
            Traveling to
        </label>
        <div class="col-sm-8">
            <select class="form-control"  name="Travelling_To" data-bind ="options: region_options, optionsText: 'rname', optionsValue: 'rid', optionsCaption: '--Select--', value: Travelling_To">
            </select>
            <p class="error traveling_to-error">Please select a value</p>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="form-group">
        <label for="inputAddr" class="col-sm-4 control-label">From date</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="" name="from_date" data-bind="value: from_date, datepicker: from_date" >
            <p class="validationMessage" data-bind="validationMessage: from_date"></p>
        </div>
    <div class="clearfix"></div>
    </div>
    <div class="form-group" data-bind = "visible: to_date_visible">
        <label for="inputAddr" class="col-sm-4 control-label">To date</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="" name="to_date" data-bind="value: to_date, datepicker: to_date" >
            <p class="validationMessage" data-bind="validationMessage: to_date"></p>
        </div>
    </div>

    <div class="form-group" data-bind = "visible: to_date_visible">
        <label for="inputAddr" class="col-sm-4 control-label">Trip Duration</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" readonly="readonly" name="trip_duration" data-bind="value: trip_duration" >
        </div>
    <div class="clearfix"></div>
    </div>
    <!----MAX TRIP LENGTH -------->
    <div class="form-group" data-bind="visible: max_trip_length_visible">
        <label class="col-sm-4 control-label">Maximum cover for a single trip</label>
        <div class="col-sm-8">
            <select class="form-control" name="max_trip_length" id="search_max_trip_length" data-bind="value: max_trip_length">
                <option value="30">30 days</option>
                <option value="45">45 days</option>
                <option value="60">60 days</option>
            </select>
            <p class="validationMessage" data-bind="validationMessage: max_trip_length"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="form-group">
        <label for="inputAddr" class="col-sm-4 control-label">First Name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="" name="first_name" data-bind = "value: first_name" >
            <p class="validationMessage" data-bind="validationMessage: first_name"></p>
        </div>
    </div>

    <div class="form-group">
        <label for="inputAddr" class="col-sm-4 control-label"> Last Name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="last_name" data-bind = "value: last_name" >
            <p class="validationMessage" data-bind="validationMessage: last_name"></p>
        </div>
    </div>


    <div class="form-group">
        <label for="inputAddr" class="col-sm-4 control-label">Date Of Birth</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="DOB" data-bind="value: DOB, datepicker: DOB">
            <p class="validationMessage" data-bind="validationMessage: DOB"></p>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="form-group">
        <label for="inputAddr" class="col-sm-4 control-label">Mobile No</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="" name="mobile" data-bind = "value: mobile">
            <p class="validationMessage" data-bind="validationMessage: mobile"></p>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="form-group">
        <label for="inputAddr" class="col-sm-4 control-label">Email Address</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="" name="email_id" data-bind = "value: email_id"  >
            <p class="validationMessage" data-bind="validationMessage: email_id"></p>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="form-group">
        <label class="col-sm-8 control-label">
            Are any of the above travellers professional/ semi professional sportspeople ?
        </label>
        <div class="radio col-sm-4">
            <label>
                <input type="radio" name="sportsperson" value="Y" data-bind="checked: sportsperson">
                Yes
            </label>&nbsp;&nbsp;&nbsp;
            <label>
                <input type="radio" name="sportsperson" value="N" data-bind="checked: sportsperson">
                No
            </label>
            <p class="validationMessage" data-bind="validationMessage: sportsperson"></p>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-8 control-label">
        Do any of the above travellers engage in adventure sports?
        </label>

        <div class="radio col-sm-4">
            <label>
                <input type="radio" name="dangerous_activity" value="Y" data-bind="checked: dangerous_activity">
                Yes
            </label>&nbsp;&nbsp;&nbsp;
            <label>
                <input type="radio" name="dangerous_activity" value="N" data-bind="checked: dangerous_activity">
                No
            </label>
            <p class="validationMessage" data-bind="validationMessage: dangerous_activity"></p>
        </div>
    </div>



    <div class="form-group">
        <label class="col-sm-8 control-label">
            Are any of the above travellers presently suffering from any pre existing illness/disease including Blood Pressure /Diabetes etc
        </label>

        <div class="radio col-sm-4">
            <label>
                <input type="radio" name="pre_existing_illness" value="Y" data-bind="checked: pre_existing_illness">
                Yes
            </label>&nbsp;&nbsp;&nbsp;
            <label>
                <input type="radio" name="pre_existing_illness" value="N" data-bind="checked: pre_existing_illness">
                No
            </label>
            <p class="validationMessage" data-bind="validationMessage: pre_existing_illness "></p>
        </div>
    </div>



    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-cfox orange" data-bind="click: cancel, visible: activity_id">Cancel</button>
            <button type="submit" class="btn btn-cfox orange submit" data-bind="click: validate_form">Submit</button>
        </div>
        <div class="clearfix">
        </div>
    </div>
</form>

<script type="text/javascript" src="/static/travel/search/js/bharti_axa.js"></script>
