<div id="form-wrapper">
    <form action = "/travel-insurance/transaction/{{transaction.transaction_id}}/final/" class="form-horizontal lead-form"  id="submitForm" method='post'>
        {% csrf_token %}

    <div data-bind="foreach: members_list">
        <div class="legend"><span data-bind="text: type"></span> Information</div>
        <div class="form-group">
            <label for="FName" class="col-sm-4 control-label">First Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control"  data-bind="attr:{name: type+'FName'}, value: fname" / >
                <p class="validationMessage" data-bind="validationMessage: fname"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Last Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" maxlength="30" data-bind="attr:{name: type+'LName'}, value: lname" />
                <p class="validationMessage" data-bind="validationMessage: lname"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Gender</label>
            <div class="col-sm-8 radio">
                &nbsp;&nbsp;&nbsp;
                <label>
                    <input type="radio" data-bind="attr:{name: type+'gender'}, checked: gender" value="M" />Male
                </label>
                <label>&nbsp;&nbsp;&nbsp;
                    <input type="radio" data-bind="attr:{name: type+'gender'}, checked: gender" value="F" />Female
                </label>
                <p class="validationMessage" data-bind="validationMessage: gender"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Date of birth</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" data-bind="attr:{name: type+'DOB'}, value: dob, datepicker: dob" placeholder="01-Jan-1990" />
                <p class="validationMessage" data-bind="validationMessage: dob"></p>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Hold Passport</label>
            <div class="col-sm-8 radio">
                &nbsp;&nbsp;&nbsp;
                <label>
                    <input type="radio" data-bind="attr:{name: type+'hpassport'}, checked: hpassport" value="Y" /> Yes
                </label>
                <label>&nbsp;&nbsp;&nbsp;
                    <input type="radio" data-bind="attr:{name: type+'hpassport'}, checked: hpassport" value="N" /> No
                </label>
                <p class="validationMessage" data-bind="validationMessage: hpassport"></p>
            </div>
        </div>

        <div class="form-group" data-bind ="visible: passportno_visible">
            <label for="inputAddr" class="col-sm-4 control-label">Passport No</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" maxlength="30" data-bind="attr:{name: type+'passportno'}, value: passportno" />
                <p class="validationMessage" data-bind="validationMessage: passportno"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Nominee Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" maxlength="30" data-bind="attr:{name: type+'NName'}, value: nname" />
                <p class="validationMessage" data-bind="validationMessage: nname"></p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Relationship with Nominee</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" maxlength="30" data-bind="attr:{name: type+'NNameRelation'}, value: nnamerelation" />
                <p class="validationMessage" data-bind="validationMessage: nnamerelation"></p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Appointee Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" maxlength="30" data-bind="attr:{name: type+'AName'}, value: aname" />
                <p class="validationMessage" data-bind="validationMessage: aname"></p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Relationship with Appointee</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" maxlength="30" data-bind="attr:{name: type+'ANameRelation'}, value: anamerelation" />
                <p class="validationMessage" data-bind="validationMessage: anamerelation"></p>
            </div>
        </div>


      </div>

        <div class="legend">Communication Address</div>
        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Address Line 1</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="ResAddr1" placeholder="Address line 1" data-bind = "value: ResAddr1" >

                <p class="validationMessage" data-bind="validationMessage: ResAddr1"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Address Line 2</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="ResAddr2" placeholder="Address line 2" data-bind = "value: ResAddr2" >
                <p class="validationMessage" data-bind="validationMessage: ResAddr2"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Address Line 3</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="ResAddr3" placeholder="Address line 3" data-bind = "value: ResAddr3" >
                <p class="validationMessage" data-bind="validationMessage: ResAddr3"></p>
            </div>
        </div>


        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">State</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="state" placeholder="Enter your State" data-bind = "value: state" >
                <p class="validationMessage" data-bind="validationMessage: state"></p>
            </div>
        </div>


        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">City</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="" name="city" placeholder="Enter you City" data-bind = "value: city" >
                <p class="validationMessage" data-bind="validationMessage: city"></p>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Pincode</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="pincode"placeholder="Enter you pincode" data-bind = "value: pincode" >
                <p class="validationMessage" data-bind="validationMessage: pincode"></p>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-cfox orange submit" data-bind="click: validate_form">Submit</button>
            </div>
            <div class="clearfix">
            </div>

        </form>


<script type="text/javascript">
    var MEMBERS = {{ members_list|safe }};
    var PRODUCT_TYPE = '{{ transaction.plan_details.product_type }}';
</script>
<script type="text/javascript" src="/static/travel/buy/js/bharti_axa.js"></script>
