{% extends "travel_product:base.html" %}

{% block content %}

<script type="text/javascript" src="/static/travel/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/static/travel/js/libs/jquery/jquery.plugin.js"></script>
<script type="text/javascript" src="/static/travel/js/libs/jquery/jquery.datepick.min.js"></script>
<link rel="stylesheet" href="/static/travel/css/jquery.datepick.css"></link>
<script type="text/javascript" src="/static/travel/js/libs/knockout/knockout-3.3.0.js"></script>
<script type="text/javascript" src="/static/travel/js/libs/knockout/knockout.validation.min.js"></script>
<script type="text/javascript" src="/static/travel/js/libs/jquery/jdatepicker.js"></script>
<link rel="stylesheet" href="/static/travel/search/css/style.css"></link>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="left_container bdr_btm_none">
                <div class="bred_menu">
                    <ul>
                        <li class="bg_none"><a href="/">Home</a></li>
                        <li>Travel insurance</li>
                    </ul>
                </div>
                <div class="clearfix"></div>

                <div id="form-wrapper">
                    <h1 class="heading-top">Buy Travel Insurance</h1>
                    <div class="insurer-logo">
                        <img src="/static/travel/img/insurer/{{insurer}}/on.png" />
                    </div>
                    {% include sub_template %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

