<html>
<p>yabadabadu!!!!</p>
<h1>Proposal Request</h1>
<p>{{ req }}</p>
<h1>Proposal Response</h1>
<p>{{ resp }}</p>
<button onclick="Redirect();">Make Payment</button>
</html>

<script>
    var transaction_id = "{{ transaction_id }}";
function Redirect(){
    window.location="/travel-insurance/transaction/" + transaction_id + "/qa-to-process";
}
</script>
