<form action = "/travel-insurance/insurer/{{insurer_slug}}/save-details/" class="form-horizontal lead-form"  method='post' data-bind="visible: form_visible" novalidate>
    {% csrf_token %}
    <!-- ko if:activity_id -->
    <input type="hidden" name="activity_id" data-bind="value: activity_id" />
    <!-- /ko -->
    <div class="legend">Insurance requirement</div>
    <!----TRIP TYPE -------->
    <div class="form-group">
        <label class="col-sm-4 control-label">
            Insurance validity for
        </label>
        <div class="radio col-sm-8">
            <label>
                <input type="radio" name="trip_type" value="single" data-bind="checked: trip_type" />
                Single trip
            </label>&nbsp;&nbsp;&nbsp;
            <label>
                <input type="radio" name="trip_type" value="multiple" data-bind="checked: trip_type" />
                Multiple trips
            </label>
            <p class="validationMessage" data-bind="validationMessage: trip_type"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!----MAX TRIP LENGTH -------->
    <div class="form-group" data-bind="visible: max_trip_length_visible">
        <label class="col-sm-4 control-label">Maximum cover for a single trip</label>
        <div class="col-sm-8">
            <select class="form-control" name="max_trip_length" id="search_max_trip_length" data-bind="value: max_trip_length">
                <option value="30">30 days</option>
                <option value="45">45 days</option>
            </select>
            <p class="validationMessage" data-bind="validationMessage: max_trip_length"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!---- TRAVELLER TYPE -------->
    <div class="form-group" data-bind="visible: traveller_type_visible">
        <label class="col-sm-4 control-label">Travel Insurance for</label>
        <div class="col-sm-8">
            <select class="form-control" name="traveller_type" id="search_traveller_type" data-bind="value: traveller_type">
                <option value="Individual">Individual</option>
                <option value="Family">Family</option>
                <option value="Student">Student</option>
            </select>
            <p class="validationMessage" data-bind="validationMessage: traveller_type"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!---- COVER TYPE -------->
    <div class="form-group" data-bind="visible: cover_type_visible">
        <label class="col-sm-4 control-label">Cover Type</label>
        <div class="col-sm-8">
            <select class="form-control" name="cover_type" id="search_cover_type"
                data-bind="options: cover_type_options, value: cover_type, optionsCaption: '--Select members--'">
            </select>
            <p class="validationMessage" data-bind="validationMessage: cover_type"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!---- REGION -------->
    <div class="form-group" data-bind="visible: region_visible">
        <label class="col-sm-4 control-label">
            Traveling to
        </label>
        <div class="col-sm-8">
            <select class="form-control" name="region" id="search_region"
                data-bind="options: region_options, value: region, optionsCaption: '--Select category--'">
            </select>
            <p class="validationMessage" data-bind="validationMessage: region"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!---- VISITING USA/CANADA -------->
    <div class="form-group" data-bind="visible: visiting_usa_visible">
        <label class="col-sm-4 control-label">
            Visiting USA or Canada?
        </label>
        <div class="radio col-sm-4">
            <label>
                <input type="radio" name="visiting_usa" value="yes" data-bind="checked: visiting_usa" />Yes
            </label>&nbsp;&nbsp;&nbsp;
            <label>
                <input type="radio" name="visiting_usa" value="no" data-bind="checked: visiting_usa" />No
            </label>
            <p class="validationMessage" data-bind="validationMessage: visiting_usa"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!---- FROM DATE -------->
    <div class="form-group">
        <label for="inputAddr" class="col-sm-4 control-label">From date</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="from_date" placeholder="{% now 'd-M-Y' %}" data-bind="value: from_date, datepicker: from_date" >
            <p class="validationMessage" data-bind="validationMessage: from_date"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!---- TO DATE -------->
    <div class="form-group" data-bind="visible: to_date_visible">
        <label for="inputAddr" class="col-sm-4 control-label">To date</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="to_date" placeholder="{% now 'd-M-Y' %}" data-bind="value: to_date, datepicker:to_date">
            <p class="validationMessage" data-bind="validationMessage: to_date"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!---- DATE OF BIRTH -------->
    <div class="form-group">
        <label for="inputAddr" class="col-sm-4 control-label">Date of birth</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="search_dob" name="dob" placeholder="01-Jan-1990" data-bind="value: dob, datepicker: dob">
            <p class="validationMessage" data-bind="validationMessage: dob"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <!---- ADDON BENEFITS -------->
    <div class="form-group" data-bind="visible: addon_benefits_visible">
        <label class="col-sm-8 control-label">
            Add On Benefits under Medical Expenses including Transportation &amp; Evacuation?
        </label>
        <div class="radio col-sm-4">
            <label>
                <input type="radio" name="addon_benefits" value="yes" data-bind="checked: addon_benefits" />Yes
            </label>&nbsp;&nbsp;&nbsp;
            <label>
                <input type="radio" name="addon_benefits" value="no" data-bind="checked: addon_benefits" />No
            </label>
            <p class="validationMessage" data-bind="validationMessage: addon_benefits"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!---- INDIAN CITIZEN -------->
    <div class="form-group">
        <label class="col-sm-8 control-label">
            Is the Traveller an Indian Citizen and is currently in India whilst taking policy?
        </label>
        <div class="radio col-sm-4">
            <label>
                <input type="radio" name="indian_citizen" value="yes" data-bind="checked: indian_citizen" />Yes
            </label>&nbsp;&nbsp;&nbsp;
            <label>
                <input type="radio" name="indian_citizen" value="no" data-bind="checked: indian_citizen" />No
            </label>
            <p class="validationMessage" data-bind="validationMessage: indian_citizen"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!---- IS OCI OR non OCI? -------->
    <div class="form-group" data-bind="visible: is_oci_or_nonoci_visible">
        <label class="col-sm-8 control-label">
            Is the traveler Overseas / Non Overseas Citizen of India residing in India for more than 6 months?
        </label>
        <div class="radio col-sm-4">
            <label>
                <input type="radio" name="is_oci_or_nonoci" value="yes" data-bind="checked: is_oci_or_nonoci" />Yes
            </label>&nbsp;&nbsp;&nbsp;
            <label>
                <input type="radio" name="is_oci_or_nonoci" value="no" data-bind="checked: is_oci_or_nonoci" />No
            </label>
            <p class="validationMessage" data-bind="validationMessage: is_oci_or_nonoci"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!---- OCI OR non OCI -------->
    <div class="form-group" data-bind="visible: oci_or_nonoci_visible">
        <label class="col-sm-8 control-label">
            Select Overseas / Non Overseas Citizen of India
        </label>
        <div class="radio col-sm-4">
            <label>
                <input type="radio" name="oci_or_nonoci" value="OCI" data-bind="checked: oci_or_nonoci" />OCI
            </label>&nbsp;&nbsp;&nbsp;
            <label>
                <input type="radio" name="oci_or_nonoci" value="NONOCI" data-bind="checked: oci_or_nonoci" />Non-OCI
            </label>
            <p class="validationMessage" data-bind="validationMessage: oci_or_nonoci"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div data-bind="visible: oci_selected">
        <!---- COUNTRY OF RESIDENCE -------->
        <div class="form-group">
            <label class="col-sm-8 control-label">
                The Country of Permanent residence
            </label>
            <div class="col-sm-4">
                <select class="form-control" name="country_of_stay" id="search_country_of_stay"
                    data-bind="options: COUNTRIES, value: country_of_stay, optionsCaption: '--Select country--'">
                </select>
                <p class="validationMessage" data-bind="validationMessage: country_of_stay"></p>
            </div>
            <div class="clearfix"></div>
        </div>
        <!---- OCI NUMBER -------->
        <div class="form-group">
            <label for="inputAddr" class="col-sm-8 control-label">Please enter your OCI number</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="oci_number" data-bind="value: oci_number" >
                <p class="validationMessage" data-bind="validationMessage: oci_number"></p>
            </div>
        </div>
    </div>

    <!---- PASSPORT ISSUANCE COUNTRY -------->
    <div class="form-group" data-bind="visible: non_oci_selected">
        <label class="col-sm-8 control-label">
            Select the Passport Issuance country
        </label>
        <div class="col-sm-4">
            <select class="form-control" name="passport_issuer" id="search_passport_issuer"
                data-bind="options: COUNTRIES, value: passport_issuer, optionsCaption: '--Select country--'">
            </select>
            <p class="validationMessage" data-bind="validationMessage: passport_issuer"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!----IMMIGRATION VISA-------->
    <div class="form-group" data-bind="visible: immigration_visa_visible">
        <label class="col-sm-8 control-label">
            Is the Traveler traveling on Immigration visa?
        </label>
        <div class="radio col-sm-4">
            <label>
                <input type="radio" name="immigration_visa" value="yes" data-bind="checked: immigration_visa" />Yes
            </label>&nbsp;&nbsp;&nbsp;
            <label>
                <input type="radio" name="immigration_visa" value="no" data-bind="checked: immigration_visa" />No
            </label>
            <p class="validationMessage" data-bind="validationMessage: immigration_visa"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <!----SPORTS-------->
    <!-- No Longer In Use
    <div class="form-group">
        <label class="col-sm-8 control-label">
            Does the planned trip involve any kind of sporting activities?
        </label>
        <div class="radio col-sm-4">
            <label>
                <input type="radio" name="sports" value="yes" data-bind="checked: sports" />Yes
            </label>&nbsp;&nbsp;&nbsp;
            <label>
                <input type="radio" name="sports" value="no" data-bind="checked: sports" />No
            </label>
            <p class="validationMessage" data-bind="validationMessage: sports"></p>
        </div>
        <div class="clearfix"></div>
    </div>
-->
     <input type="hidden" name="sports" value="no" data-bind="value: sports" />
    <!----PRE-EXISTING-------->
    <div class="form-group">
        <label class="col-sm-8 control-label">
            Is any of the Traveler/s suffering from any Pre-existing Medical condition?
        </label>
        <div class="radio col-sm-4">
            <select class="form-control" name="ped" id="search_ped" data-bind="options: DISEASES, value: ped"></select>
            <p class="validationMessage" data-bind="validationMessage: ped"></p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-cfox orange" data-bind="click: cancel, visible: activity_id">Cancel</button>
            <button type="submit" class="btn btn-cfox orange submit" id="search_submit" data-bind="click: validate_form">Search</button>
        </div>
        <div class="clearfix"></div>
    </div>

</form>
<script type="text/javascript" src="/static/travel/search/js/reliance.js"></script>
