{% extends "travel_product:base.html" %}

{% block content %}
<script type="text/javascript" src="/static/travel/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/static/travel/js/libs/jquery/jquery.plugin.js"></script>
<script type="text/javascript" src="/static/travel/js/libs/jquery/jquery.datepick.min.js"></script>
<link rel="stylesheet" href="/static/travel/css/jquery.datepick.css"></link>
<script type="text/javascript" src="/static/travel/js/libs/knockout/knockout-3.3.0.js"></script>
<script type="text/javascript" src="/static/travel/js/libs/knockout/knockout.validation.min.js"></script>
<script type="text/javascript" src="/static/travel/js/libs/jquery/jdatepicker.js"></script>
<link rel="stylesheet" href="/static/travel/search/css/style.css"></link>
<link rel="stylesheet" href="/static/travel/results/css/style.css"></link>

<script type="text/javascript">
    var ACTIVITY_ID = '{{ activity_id }}';
    var DATA = {{ search_data|safe }};
</script>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="left_container bdr_btm_none">
                <div class="bred_menu">
                    <ul>
                        <li class="bg_none"><a href="/">Home</a></li>
                        <li>Travel Insurance</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div id="form-wrapper">
                    {% include sub_template %}
                    <h2 class="heading_top">Travel Insurance plans available for you<strong>({{ insurer_slug|title }})</strong>
                        <span class="modify-search" data-bind="visible: !form_visible(), click: modify">(Modify search)</span>
                    </h2>
                    {% if plans%}
                    <div class="row">
                        <h4 class="col-sm-4">Plan</h4>
                        <h4 class="col-sm-2">Sum Assured</h4>
                        <h4 class="col-sm-2">Premium</h4>
                    </div>
                    {% for plan in plans %}
                    {% if "ErrDesc" in plan.keys %}
                    <h3>OOPS! Some Error Occured</h3>
                    <b>Description :</b> {{plan.ErrDesc}}
                    {% else %}
                    <form action="/travel-insurance/transaction/create/" method="post">
                        <div class="row">
                            <input type="hidden" name="insurer_slug" value="{{insurer_slug}}" />
                            <input type="hidden" name="search_data" value="{{search_data}}" />
                            <input type="hidden" name="extra_data" value='{{extra_data}}' />
                            <input type="hidden" name="id" value="{{plan.id}}" />
                            {% csrf_token %}
                            <div class="col-sm-4 plan">
                                {{plan.plan_type}}
                                <input type="hidden" name="plan_type" value="{{plan.plan_type}}" />
                            </div>
                            <div class="col-sm-2">
                                {{plan.sum_assured}}
                                <input type="hidden" name="sum_assured" value="{{plan.sum_assured}}" />
                            </div>
                            <div class="col-sm-2">
                                INR {{plan.premium}}
                                <input type="hidden" name="premium" value="{{plan.premium}}" />
				{% if plan.base_premium%}
				 <input type="hidden" name="base_premium" value="{{plan.base_premium}}" />
				 {% endif %}
                            </div>
                            <div class="col-sm-2">
                                <input type="submit" class="btn btn-cfox orange" value="Buy this plan" />
                            </div>
                        </div>
                    </form>
                    {% endif %}
                    {% endfor %}

                            {% if insurer_slug == 'tata-aig' %}
                                      <div class="clearfix"></div>
                               <ul>
                                   <li>Sub limits will apply on Accident & Sickness Medical Expense Reimbursement cover for Insured
                                   persons above 56 years of age, if opted for “With Sub Limits Plan”.</li>
                                   <li>Under Annual Multi Trip, entry age is up to 70 years.</li>
                                   <li>Renewals are applicable beyond age 71 years and policy terms / conditions shall commence only in case of renewals.</li>
                               </ul>
                           {% endif %}
                    {% else%}

                    <div>
                        <h3> No Plans available... </h3>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
{% endblock %}

