<div id="form-wrapper">
<form action = "/travel-insurance/transaction/{{transaction.transaction_id}}/final/" class="form-horizontal lead-form"  id="submitForm" method='post'>
            {% csrf_token %}
    <div data-bind="foreach: members_list">
        <div class="legend"><span data-bind="text: type"></span> Information</div>
        <div class="form-group">
            <label for="FName" class="col-sm-4 control-label">First Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control"  data-bind="attr:{name: type+'FName'}, value: fname" / >
                <p class="validationMessage" data-bind="validationMessage: fname"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="MName" class="col-sm-4 control-label">Middle Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control"  data-bind="attr:{name: type+'MName'}, value: mname" / >
                <p class="validationMessage" data-bind="validationMessage: mname"></p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Last Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" maxlength="30" data-bind="attr:{name: type+'LName'}, value: lname" />
                <p class="validationMessage" data-bind="validationMessage: lname"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Gender</label>
            <div class="col-sm-8 radio">
                &nbsp;&nbsp;&nbsp;
                <label>
                    <input type="radio" data-bind="attr:{name: type+'gender'}, checked: gender" value="M" />Male
                </label>
                <label>&nbsp;&nbsp;&nbsp;
                    <input type="radio" data-bind="attr:{name: type+'gender'}, checked: gender" value="F" />Female
                </label>
                <p class="validationMessage" data-bind="validationMessage: gender"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Date of birth</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" data-bind="attr:{name: type+'DOB'}, value: dob, datepicker: dob" placeholder="01-Jan-1990" />
                <p class="validationMessage" data-bind="validationMessage: dob"></p>
            </div>
        </div>
        <div class="clearfix"></div>


      </div>

        <div class="legend">Communication Address</div>
        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Address Line 1</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="ResAddr1" placeholder="Address line 1" data-bind = "value: ResAddr1" >

                <p class="validationMessage" data-bind="validationMessage: ResAddr1"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Address Line 2</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="ResAddr2" placeholder="Address line 2" data-bind = "value: ResAddr2" >
                <p class="validationMessage" data-bind="validationMessage: ResAddr2"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Address Line 3</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="ResAddr3" placeholder="Address line 3" data-bind = "value: ResAddr3" >
                <p class="validationMessage" data-bind="validationMessage: ResAddr3"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label"> District Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="district_name" placeholder="District" data-bind = "value: district_name" >
                <p class="validationMessage" data-bind="validationMessage: district_name"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="email" placeholder="Email Address" data-bind = "value: email" >
                <p class="validationMessage" data-bind="validationMessage: email"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Mobile</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="mobile" placeholder="Mobile" data-bind = "value: mobile" >
                <p class="validationMessage" data-bind="validationMessage: mobile"></p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">State</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="state" placeholder="Enter your State" data-bind = "value: state" >
                <p class="validationMessage" data-bind="validationMessage: state"></p>
            </div>
        </div>


        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">City</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="" name="city" placeholder="Enter you City" data-bind = "value: city" >
                <p class="validationMessage" data-bind="validationMessage: city"></p>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-4 control-label">Pincode</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="pincode"placeholder="Enter you pincode" data-bind = "value: pincode" >
                <p class="validationMessage" data-bind="validationMessage: pincode"></p>
            </div>
        </div>
        <div class="clearfix"></div>

        <div data-bind ="visible: medical_visible">

        <div class="legend">Medical Declaration</div>
        <div class="form-group">
            <label for="inputAddr" class="col-sm-8 control-label">
            Have you received any advice / treatment / consultation for any medical condition in the last 5 years :
            </label>
            <div class="col-sm-4 radio">
                &nbsp;&nbsp;&nbsp;
                <label>
                    <input type="radio" data-bind= "checked: qn1" value="Y" /> Yes
                </label>
                <label>&nbsp;&nbsp;&nbsp;
                    <input type="radio" data-bind="checked: qn1" value="N" /> No
                </label>
                <p class="validationMessage" data-bind="validationMessage: qn1"></p>
            </div>
            <div class="clearfix"></div>
            <table class="tata-disclaimer" data-bind="visible: qn1visible">
                <tr>
                    <th> # </th>
                    <th>Member</th>
                    <th>Treatment</th>
                    <th>Institution</th>
                    <th> Doctor Details (Name / Contact Number / Address)</th>
                </tr>
              <!-- ko foreach: members_list -->
            <tr>
                <td> <input type="checkbox" data-bind= "attr:{name: type+'qn1_chkbox'},checked: qn1_chkbox, value:qn1_chkbox" /></td>
                  <td> <span data-bind="text: fname"></span></td>
                  <td>
                      <input type="text" class="form-control" data-bind="attr:{name: type+'treatment'}, value:treatment">
                      <p class="validationMessage" data-bind="validationMessage: treatment"></p>
                  </td>
                  <td>
                      <input type="text" class="form-control" data-bind="attr:{name: type+'institution'}, value:institution">
                      <p class="validationMessage" data-bind="validationMessage: institution"></p>
                  </td>
                  <td><input type="text" class="form-control" data-bind="attr:{name: type+'doc_details'}, value: doc_details">
                      <p class="validationMessage" data-bind="validationMessage: doc_details"></p>

                  </td>
           </tr>
              <!-- /ko -->

            </table>
        </div>
        <div class="form-group">
            <label for="inputAddr" class="col-sm-8 control-label">
           I am/we are presently taking specific medication:
            </label>
            <div class="col-sm-4 radio">
                &nbsp;&nbsp;&nbsp;
                <label>
                    <input type="radio" data-bind= "checked: qn2" value="Y" /> Yes
                </label>
                <label>&nbsp;&nbsp;&nbsp;
                    <input type="radio" data-bind="checked: qn2" value="N" /> No
                </label>
                <p class="validationMessage" data-bind="validationMessage: qn2"></p>
            </div>
            <div class="clearfix"></div>
            <table class="tata-disclaimer" data-bind="visible: qn2visible">
                  <tr>
                    <th>#</th>
                    <th>Member</th>
                    <th>Prescribed Medication</th>
                    <th>Time (since)</th>
                </tr>
              <!-- ko foreach: members_list -->
              <tr>
                <td> <input type="checkbox" value="Y" data-bind= "checked: qn2_chkbox"/></td>
                    <td> <span data-bind = "text: fname"> </span> </td>
                    <td> <input type="text" class="form-control"data-bind="attr:{name: type+'prescribed_medication'}, value:prescribed_medication">
                      <p class="validationMessage" data-bind="validationMessage: prescribed_medication"></p>
                    </td> 
                    <td> <input type="text" class="form-control"data-bind="attr:{name: type+'time_since'}, value:time_since">
                        <p class="validationMessage" data-bind="validationMessage: time_since"></p>
                    </td>
                </tr>
            <!-- /ko -->
            </table>
        </div>

        <div class="form-group">
            <label for="inputAddr" class="col-sm-8 control-label">
                I am/we are covered under a domestic and overseas medical cover :
            </label>
            <div class="col-sm-4 radio">
                &nbsp;&nbsp;&nbsp;
                <label>
                    <input type="radio" data-bind= "checked: qn3" value="Y" /> Yes
                </label>
                <label>&nbsp;&nbsp;&nbsp;
                    <input type="radio" data-bind="checked: qn3" value="N" /> No
                </label>
                <p class="validationMessage" data-bind="validationMessage: qn3"></p>
            </div>
            <div class="clearfix"></div>
            <table class="tata-disclaimer" data-bind="visible: qn3visible">
                  <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Policy Number</th>
                      <th>Insurance Company</th>
                      <th>Address</th>
                </tr>
              <!-- ko foreach: members_list -->
                  <tr>
                <td> <input type="checkbox" value="Y" data-bind= "checked: qn3_chkbox"/></td>
                      <td> <span data-bind = "text: fname"></span></td>
                    <td> <input type="text" class="form-control"data-bind="attr:{name: type+'pol_no'},value:pol_no">
                      <p class="validationMessage" data-bind="validationMessage: pol_no"></p>
                    </td>
                    <td><input type="text" class="form-control" data-bind="attr:{name: type+'i_comp'},value: i_comp">
                        <p class="validationMessage" data-bind="validationMessage: i_comp"></p>

                    </td>
                    <td> <input type="text" class="form-control"data-bind="attr:{name: type+'address'}, value:address">
                        <p class="validationMessage" data-bind="validationMessage: address"></p>
                    </td>
                </tr>
            <!-- /ko -->
            </table>
        </div>
        <div class="form-group">
            <label for="inputAddr" class="col-sm-3 control-label">
                Family Doctor Name
            </label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="con_name" >
            </div>
            <label for="inputAddr" class="col-sm-3 control-label">Contact Number</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="con_no" >
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddr" class="col-sm-3 control-label">
                Family Doctor Name
            </label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="con_name" >
            </div>
            <label for="inputAddr" class="col-sm-3 control-label">Contact Number</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="con_no" >
            </div>
        </div>

    </div>


    <div class="legend">Disclaimer</div>
    <input type="checkbox" data-bind= "checked: agree1" /> <label>I declare that the information provided in this application is correct.
    </label>
                    <p class="validationMessage" data-bind="validationMessage: agree1"></p>

    <p> The insured is currently in India and is a resident of India holding a valid Indian passport/Indian work or residence permit.The applicant is above 18 years of age.</p>
    <p> I also confirm that this policy is not being issued to cover risks directly or indirectly associated with travel in, to, or 
    through Afghanistan, Cuba or Democratic Republic of Congo.</p>
    <p>I/ We hereby declare, on my behalf and on behalf of all persons proposed to be insured that the above statements, answers and/or particulars given by me are true and complete in all respects to the best of my knowledge and that I/We am/ are authorized to propose on behalf of these other persons.</p>
    <p>I/ We understand that the information provided by me will form the basis of insurance policy, is subject to the Board approved underwriting policy of the Insurance company and that the policy will come into force only after full receipt of the premium chargeable.</p>
    <p>I/ We further declare that I/We will notify in writing any change occurring in the occupation or general health of the life to be insured/ proposer after the proposal has been submitted but before communication of the risk acceptance by the company.</p>
    <p>I/We declare and consent to the company seeking medical information from any doctor or from a hospital who at anytime has attended on the life to be insured/ proposer or from any past or present employer concerning anything which affects the physical and mental health of the life to be assured/proposer and seeking information from any insurance company to which an application for insurance on the life to be assured/ proposer has been made for the purpose of underwriting the proposal and/or claim settlement.</p>
    <p>I/ We authorize the company to share information pertaining to my proposal including the medical records for the sole purpose of proposal underwriting and/or claims settlement and with any Governmental and/or Regulatory Authority.</p>


    AML guidelines: 
    </p>
    1. I/We hereby confirm that all premiums have been/will be paid from bonafide sources and no premiums have been/will be paid out of proceeds of crime related to any of the offence listed in preventions of Money Laundering Act, 2002.
    2. I understand that the Company has the right to call for documents to establish sources of funds. 
    3. The insurance Company has right to cancel the insurance contract in case I am/have been found guilty by any competent court of law under any of the statutes,directly or indirectly governing the prevention of money laundering in India. </p>
        <input type="checkbox" data-bind= "checked: agree2" /> <label> I have read and understood the above mention Terms & Conditions.</label>
                <p class="validationMessage" data-bind="validationMessage: agree2"></p>
                
                <p> Section 41 of Insurance Act 1938 (Prohibition of rebates): Statutory warning - 1. "No person shall allow or offer to allow either directly or indirectly as an inducement to any person to take out or renew or continue an insurance in respect of any kind of risk relating to lives or property in India, any rebate of the whole or part of the commission payable or any rebate of premium shown on the policy, nor shall any person taking out or renewing or continuing a policy accept any rebate, except such rebate as may be allowed in accordance with the published prospectus or tables of the insurers".
    2. Any person making default in complying with the provisions of this section shall be liable for penalty which may extend to ten lakh rupees.
    </p>
    <p>
    64VB:
    Commencement of risk cover under the policy is subject to receipt and realisation of payable premium by Tata AIG General Insurance Company Limited. 
    </p>
    <strong>General Exclusions:</strong>
    <p>
    <ol>
        <li>Insured Person is traveling against the advice of a Physician; or is travelling for the purpose of obtaining treatment.</li>
        <li>Any Pre-existing Condition or any complication arising from it; or</li>
        <li>Suicide, attempted suicide (whether sane or insane) or intentionally self inflicted Injury or Illness, or sexually transmitted conditions, mental or nervous disorder, anxiety, stress or depression, Acquired Immune Deficiency Syndrome (AIDS), Human Immune deficiency Virus (HIV) infection; or</li>
        <li>Serving in any branch of the Military or Armed Forces of any country, whether in peace or War,</li>
        <li>Being under the influence of drugs, alcohol, or other intoxicants or hallucinogens</li>
        <li>Participation in an actual or attempted felony, riot, crime, misdemeanor, or civil commotion; or</li>
        <li>Operating or learning to operate any aircraft, or performing duties as a member of the crew on any aircraft or Scheduled Airline; or</li>
        <li>Any loss arising out of War, civil war, invasion, insurrection, revolution, act of foreign enemy,</li>
        <li>Any loss, damage cost or expense of whatsoever nature directly or indirectly caused by, resulting from or in connection with any act of terrorism.</li>
        <li>Any loss arising out of the intentional use of military force to intercept, prevent, or mitigate any known or suspected Act of Terrorism;or</li>
        <li>The use, release or escape of nuclear materials that directly or indirectly results in nuclear reaction or radiationor radioactive contamination;</li>
        <li>The radioactive, toxic, explosive or other dangerous properties of any explosive nuclear equipment or any part of that equipment; or</li>
        <li>Performance of manual work for employment or any other potentially dangerous occupation; or</li>
        <li>Congenital anomalies or any complications or conditions arisingtherefrom; or</li>
        <li>Osteoporosis (porosity and brittleness of the bones due to loss of protein from the bones matrix) or pathological fracture (any fracture in an area where pre-existing Disease has caused the weakening of the bone)</li>
        <li>Participation in winter sports, skydiving/parachuting, hang gliding, bungee jumping, scuba diving, mountain climbing</li>
        <li>Pregnancy and all related conditions, This however does not include ectopic pregnancy proved by diagnostic means and is certified to be life threatening by the Physician; or</li>
        <li>For any loss of which a contributing cause was your actual or attempted commission of, or willful participation in, an illegal act or any violation or attempted violation of the law or Your resistance to arrest;</li>
        <li>Any loss, injury, damage or legal liability arising directly or indirectly from: Travel in, to, or through Afghanistan, Cuba or Democratic Republic of Congo; or</li>
        <li>Any loss, injury, damage or legal sustained directly or indirectly by: Any terrorist or member of a terrorist organisation, narcotics trafficker, or purveyor of nuclear, chemical or biological weapons.</li>
    </ol>
    </p>
    <p> For complete list of detailed exclusion, please refer policy wordings 
    </p>
    <input type="checkbox" data-bind= "checked: agree3" /> <label> I have read and understood the above mention Terms & Conditions.</label>
                <p class="validationMessage" data-bind="validationMessage: agree3"></p>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-cfox orange submit" data-bind="click: validate_form">Submit</button>
            </div>
        </div>
            <div class="clearfix"> </div>
        </form>


<script type="text/javascript">
    var MEMBERS = {{ members_list|safe }};
    var PRODUCT_TYPE = '{{ transaction.plan_details.product_type }}';
</script>
<script type="text/javascript" src="/static/travel/buy/js/tata_aig.js"></script>
