{% extends "core/base_main.html" %}
{% load manip_data %}

{%block breadcrumb %}
{%endblock breadcrumb %}
{%block main%}
    <div class="container">
    <div class="border-box">
        <div class="row">
            <div class="col-md-8">
                <h1>Transaction Successful</h1>
                <p class="text-muted">
                    Your payment was successfully processed.
                </p>
                <ul class="list-group">
                    <li class="list-group-item summary">
                        Policy Summary
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 title">Insurer</div>
                            <div class="col-xs-8">
                                <img class="company-logo img-responsive" style='max-height:50px;' src = '/static/travel_product/v1/src/img/insurers/{{ insurer }}.png' alt="">
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 title">Cover</div>
                            <div class="col-xs-8">{{ plan_details.sum_assured }}</div>
                        </div>
                    </li>

                    {% if transaction.policy_number %}
                        <li class="list-group-item summary-footer">
                            <div class="row">
                                <div class="col-xs-4 title">Policy Number</div>
                                <div class="col-xs-8">{{ transaction.policy_number }}</div>
                            </div>
                        </li>
                    {% endif %}

                    {% for key, value in transaction.extra.success_parameters %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 title">{{ key }}</div>
                            <div class="col-xs-8">{{ value }}</div>
                        </div>
                    </li>
                    {% endfor %}

                    <li class="list-group-item summary-footer">
                        <div class="row">
                            <div class="col-xs-4 title">Premium</div>
                            <div class="col-xs-8">INR {{ plan_details.premium }}</div>
                        </div>
                    </li>
                    <li class="list-group-item summary-footer">
                        <div class="row">
                            {% if transaction.policy_document %}
                                <div class="col-xs-4 title">Policy Document</div>
                                <div class="col-xs-8">
                                    <a href="{{ transaction.policy_document.url }}" target="_blank" class="btn btn-warning">Download e-Policy</a>
                                </div>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block footer %}
{%endblock footer %}

{%block footer_js_css %}
    <style type="text/css">
        body {
            background-color:#f5f5f5;
            color:#363636;
            font-size:14px;
        }
        .nav-social {
            display:none;
        }
        .border-box {
            border-bottom:1px solid #dadada;
            padding:0px 30px;
            margin-top:1%;
            background:url('/static/img/transaction-success.png') right bottom no-repeat transparent;
            background-size:500px;
            min-height:500px;
        }
        .border-box h1 {
            font-size:44px;
            font-weight:normal;
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
        }

        .summary {
            background-color:#f5f5f5;
            font-size:18px;
            font-weight:bold;
        }
        .summary-footer {
            color:#17ae03;
            font-size:16px;
        }
        .summary-footer .title {
            font-size:inherit;
            color:inherit;
        }
        .title {
            color:#999999;
            text-transform:uppercase;
            font-size:13px;
        }

        .listing img.company-logo {
            width:150px;
            height:auto;
            display:block;
        }
        .testimonial-box {
            background-color:#ffffff;
            padding:10px;
            border:1px solid #dadada;
            margin-bottom:10px;
            border-radius:5px;
        }
        .testimonial-box a.soc {
            width:34px;
            height:34px;
            margin:0px 5px;
            display:inline-block;
        }
        @media only screen and (max-width:991px){
            .border-box {
                background:none;
            }
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function(){
            var TRANSACTION_ID = "{{transaction.transaction_id}}";
            var sub_category = "{{ transaction.slab.product.policy_type }}";
            var product_id = "{{ transaction.slab.product.title }}";
            var premium = "{{ transaction.premium_paid }}";

            dataLayer.push({'event': 'payment_success'});
            dataLayer.push({
                'event': 'GAEvent',
                'eventCategory': 'TRAVEL',
                'eventAction': 'PaymentSuccess',
                'eventLabel': '',
                'eventValue': 0
            });

            if(window.dataLayer) {
                window.dataLayer.push({
                    'transaction_id': TRANSACTION_ID,
                    'vizury_category': 'TRAVEL',
                    'vizury_sub_category': sub_category,
                    'po_name': product_id,
                    'po_price': premium
                });
                window.dataLayer.push({
                    'event': 'vizury_transaction_success'
                });
            }
        });
    </script>

{%endblock footer_js_css %}
