{% extends "core/base_main.html" %}

{%block breadcrumb %}
{%endblock breadcrumb %}
{%block main%}
<link rel="stylesheet" href="/static/travel/css/style.css">
<div class="container">
    <div class="border-box">
        <div class="row">
            <div class="col-md-8">
            {% if error_message %}
                <h1>Transaction Failed
                    <a class="btn btn-cfox orange pull-right" href="/travel-insurance/buy/{{ transaction.transaction_id }}/">Try again</a>
                </h1>
                <ul class="list-group">
                    <li class="list-group-item summary">
                        <h6>Policy Summary</h6>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 title">Insurer</div>
                            <div class="col-xs-8">
                                <img class="company-logo img-responsive" src = '/static/travel/img/insurer/{{ insurer }}/on.png' />
                            </div>
                        </div>
                    </li>
                    {% with transaction.plan_details as plan_details %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 title">Plan</div>
                            <div class="col-xs-8">{{ plan_details.plan }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 title">Cover</div>
                            <div class="col-xs-8">{{ plan_details.sum_assured }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4 title">Premium</div>
                            <div class="col-xs-8">INR {{ plan_details.premium }}</div>
                        </div>
                    </li>
                    {% endwith %}
                    <li class="list-group-item summary-footer">
                        <div class="row">
                            <div class="col-xs-4 title">Error</div>
                            <div class="col-xs-8">{{ error_message|safe }}</div>
                        </div>
                    </li>
                </ul>
            {% else %}
                <h1>Oops..sorry
                    <br/>
                    There are some problems we are facing.
                </h1>
                <p class="lead text-muted">
                    We will contact you shortly to help.
                </p>
            {% endif %}
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block footer %}
{%endblock footer %}

{%block footer_js_css %}
<style type="text/css">
body {
    background-color:#f5f5f5;
    color:#363636;
    font-size:14px;
}
.nav-social {
    display:none;
}
.border-box {
    border-bottom:1px solid #dadada;
    padding:0px 30px;
    margin-top:1%;
    background:url('/static/img/transaction-failure.png') right bottom no-repeat transparent;
    background-size:471px;
    min-height:500px;
}
.border-box h1 {
    font-size:44px;
    font-weight:normal;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}

@media only screen and (max-width:991px){
    .border-box {
        background:none;
    }
}
</style>
{%endblock footer_js_css %}
