<div class="checkbox-widget" data-bind="css: customClass == null? '':customClass, click : setCheckbox, clickBubble:false">
    <p data-bind="text:checkboxText, css: {selected: checkBoxTarget}"></p>
</div>

