<div class="multiselect-widget">
    <ul data-bind="foreach:items">
        <li data-bind="text:selectedValue()? selectedValueVerbose():defaultText, click: $parent.showDropdown, css: {active: $parent.activeItem() == $data}"></li>
    </ul>

    <div class="multiselect-dd" data-bind="with: activeItem, visible: activeItem !== null">
        <div class="keyword">
            <input type="text" data-bind="value: keyword, valueUpdate:'keyup', click: function(){} ,clickBubble:false, hasFocus: true"/>
            <div class="close-btn" data-bind="css: {reveal: keyword() !== null && keyword() !== '' && keyword() !== undefined}, click: keyword.bind($data, null)"></div>
        </div>

        <ul data-bind="foreach: filteredItems">
            <li data-bind="text: $parent.optionText == null? $data:$data[$parent.optionText], click: $parent.selectValue, css:{selected: $parent.selectedValue() == $data} "></li>
        </ul>
        <div class="empty-ui" data-bind="if: keyword() !== null, visible: filteredItems().length == 0">
            No results for <br/><span data-bind="text:keyword().substring(0,15)"></span>
        </div>
    </div>
</div>
