body{
background: #efeff4;
}
.main-content{
padding-top:100px;
padding-bottom:100px;
}
.section-title{
color:rgb(255, 97, 39);
font-weight: 300;
line-height: 42px;
margin-top: 40px;
}
.sub-well{
background: rgb(224, 224, 229);
padding:40px;
margin-top:30px;
border-radius:3px;
}
.sub-well h3{
margin-top: 0;
}
.sub-well p{
margin-bottom: 0;
}
.compare_container_nw {
padding: 10px 5px;
font-size: 12px;
margin-bottom: 10px;
}
.compare_container_nw:nth-child(even){
background: rgba(0,0,0,0.05);
}
#compare_container_main{
background: #fff;
margin-top: 40px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
border-radius:3px;
}
.tnc p{
font-size: 14px;
}
.tnc h3{
font-size: 16px;
font-weight: bold;
}
.goldform{
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
background:rgb(255, 203, 0);
padding-top:20px;
padding-bottom:20px;
}
.goldform input{
width:100%;
padding:10px 15px;
border:1px solid rgba(0,0,0,0.3);
border-radius:3px;
}
.goldform .btn{
background-color: rgba(0, 0, 0, 0);
background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
-webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
font-size: 16px;
letter-spacing: 2px;
text-transform: uppercase;
font-weight: bold;
color: rgb(255, 255, 255);
padding: 10px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
height: 42px;
cursor: pointer;
background-color: #ff6011;
border: 1px solid rgb(208, 78, 13);
width: 100%;
}
.stick-to-top{
position: fixed;
top:0;
left:0;
right:0;
z-index:300;
}
.error{
display: none;
background: red;
color:#fff;
margin-bottom: 0;
font-size: 12px;
padding: 3px 10px;
margin-top: 5px;
text-align: center;
border-radius: 3px;
}
.input-form-success{
text-align: center;
font-size: 24px;
display: none;
}