body {
  margin: 0px;
}
.proposition-overlay {
  display: none;
  visibility: hidden;
}
.form-box .footer {
  display: none;
  visibility: hidden;
}
.form-box {
  background-color: #0076ff;
  border: none;
  margin-bottom: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.form-box.proposition {
  max-height: none;
}
.form-box h3 {
  color: #ffffff;
  border: none;
  font-weight: 300;
  margin: 0px 0px 15px;
}
.form-box label {
  color: #ffffff;
  font-weight: 400;
}
.form-box .input-group-addon {
  background-color: #ffffff;
}
.form-box #expired .intro,
.form-box div.exp-process .process,
.form-box div.exp-process .process strong {
  color: #ffffff;
}
.btn-jago.purple {
  border: none;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px 20px;
  color: #314451;
  margin-top: 20px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  letter-spacing: 2px;
  font-size: 16px;
  height: auto;
  text-transform: uppercase;
  -moz-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-jago.purple:hover {
  background-color: #f2f2f2;
  text-decoration: none;
}
.btn-jago .tick-icon {
  display: none;
}
.loading-msg {
  background-color: #0076ff;
  color: rgba(255, 255, 255, 0.7);
}
.loading-msg img {
  opacity: 0.1;
}
.terms-msg {
  color: #D4D4D4;
  margin-left: 0px;
}
