@jagoBaseColor: #1A70DF;
@heroColor: #DFF3E4;
@motorBaseColor: #44C0FF;
@textColor: #363636;
.prnone {
  padding-right:0px;
}
.terms-msg{
  margin: 10px 15px;
  font-size: 10px;
}
.btn-jago {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .05)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .05));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .05));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .05));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .05));
  -webkit-box-shadow: inset 0 -2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 -2px rgba(0,0,0,0.3);
  box-shadow: inset 0 -2px rgba(0,0,0,0.3);
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 42px;
  cursor: pointer;
  &.purple {
    background-color: @jagoBaseColor;
    border: 1px solid rgba(0,0,0,0.2);
  }
  &.btn-next {
    font-size: 20px;
    display: inline-block;
    height: 57px;
    position: relative;
    padding: 13px 10px;
    min-width:250px;
  }
  .tick-icon {
    padding: 6px 11px;
    background: #5ad829;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 15px;
    color: #ffffff;
  }
}
a.btn-jago:hover {
  color:#ffffff;
  text-decoration: none;
}

/* form box css */
.form-box {
  & h1,& h2,& h3,& h4,& h5,& h6,& div,& p,& span,& strong {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  }
}
.form-box {
  position: relative;
  font-size: 14px;
  width:100%;
  margin: 0px auto 20px;
  background-color: @heroColor;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 20px;
  border: 1px solid rgba(0,0,0,0.02);
  h3 {
    color: @textColor;
    font-size: 22px;
    margin-top:0px;
    font-weight:bold;
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
  }
  .error {
    background-color: rgba(244, 212, 212, 1);
    padding: 5px;
    text-align: center;
    color: #8b0000;
    margin: 5px 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: none;
  }
  label {
    color:@jagoBaseColor;
  }
  .error-text {
    color: #FF3A3A;
    display: none;
    font-size: 13px;
    margin-bottom: 7px;
    margin-top: -8px;
    margin-left:15px;
  }
  #expired {
    .intro {
      color: @textColor;
      font-size: 16px;
      margin: 15px 0px;
    }
  }
  div.exp-process {
    max-width: 380px;
    & .process {
      padding: 0px 5px 10px 33px;
      color: @textColor;
      position: relative;
      font-size: 11px;
      font-weight: 400;
      line-height: 1.2em;
      & strong {
        padding: 6px 10px;
        color: #363636;
        position: absolute;
        margin-right: 5px;
        top: 0px;
        font-size: 14px;
        left: 0px;
        background-color: rgba(0,0,0,0.1);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        &.active {
          background-color: @jagoBaseColor;
          color:#ffffff;
        }
      }
    }
  }
  .btn-next {
    margin-top: 15px;
  }
  .input-group-addon {
    background-color: rgba(0,0,0,0.1);
  }
  .footer {
    vertical-align: bottom;
    text-align: right;
    font-size:12px;
    padding:5px;
    margin-top:10px;
    border-top:1px solid rgba(0,0,0,0.2);
    img {
      width:80px;
      margin-left:5px;
    }
  }
  .form-control,.input-group {
    max-width: 279px;
  }
}

.loading-msg {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: @heroColor;
  padding: 25% 20px 0px;
  font-size: 20px;
  font-weight:bold;
  color: rgba(0,0,0,0.4);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none;
  &.active {
    display: block;
  }
  & img {
    opacity: 0.6;
  }
  & p {
    margin-top: 20px;
  }
}
// proposition overlay css
.proposition-overlay {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  z-index:100;
  background-color: @heroColor;
  padding:1px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none;
  font-size:16px;
  text-align: left;
  & h2 {
    font-size:26px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top:30px;
    text-align: left;
    & span {
      border-bottom:1px solid #363636;
      padding-bottom:5px;
      display: inline-block;
    }
  }
  & h3 {
    font-size:24px;
    font-weight:400;
    margin-top:0px;
    text-align: left;
    border-bottom:0px;
    & img {
      height:30px;
      display: inline-block;
      position: relative;
      top:-4px;
    }
  }
  & > p {
    font-size:18px;
  }
  & ul {
    list-style-type: none;
    padding:0px;
    margin:0px;
    li {
      text-align: left;
      margin-bottom:5px;
      position: relative;
      padding-left:15px;
      & .icon {
        position: absolute;
        top:0px;
        left:0px;
        color:@jagoBaseColor;
      }
    }
  }
  & .foot {
    margin:0px;
    text-align: right;
    position: absolute;
    bottom:20px;
    right:20px;
    font-size:13px;
    & img {
      height:16px;
      display: inline-block;
      position: relative;
      top:0px;
    }
  }
  .btn-jago {
    text-align: left;
    min-width: 350px;
  }
}

.form-box.proposition {
  max-height: 400px;
  overflow: hidden;
  & .proposition-overlay {
    display: block;
  }
}


@media screen and (min-width: 100px) and (max-width: 500px) {
  .form-box {
    .form-control {
      font-size: 12px;
    }
  }
}
@media screen and (min-width: 100px) and (max-width: 300px) {
  .form-box {
    div.exp-process {
      margin-right:-20px;
      padding-top:25px;
      & .process {
        padding-left:0px;
        padding-right:8px;
        br {
          display: none;
        }
        & strong {
          padding:5px 10px;
          top:-25px;
        }
      }
    }
    .form-group.col-xs-4 {
      width: 50%;
      &.side-bar {
        width: 100%;
        padding-right:15px;
      }
    }
  }
}
@media (max-width: 350px) {

  .btn-jago.btn-next{
    font-size: 18px;
    height: 44px;
    padding: 8px 10px;
  }
  .btn-jago .tick-icon {
    padding: 3px 7px;
  }

  .form-box {
    & .proposition-overlay {
      font-size: 14px;
      & .foot {
        text-align: right;
      }
      & h2 {
        text-align: left;
        font-size:18px;
      }
      & h3 {
        font-size:20px;
      }
      & .btn-jago {
        min-width: 100%;
      }
      & > p {
        font-size:14px;
      }
    }
  }
}