<html>
	<head>
		<title>{% block title %}{% endblock %} &bull;
            {{ request.company }} @ Humanlly</title>
		<!--link href="/static/css/bootstrap.min.css" rel="stylesheet"></link-->
		<link href="/static/css/humanlly.css" rel="stylesheet"></link>
		{% block head %} {% endblock %}
	</head>
	<body>
        <script src="/static/js/jquery-1.7.1.min.js" ></script>
		{% include 'humanlly/humanlly_header.html' %}
        <div class="container" id="main-div">

            {% block body %}{% endblock %}
        </div>


        <script src="/static/js/bootstrap.min.js" ></script>
    </body>
</html>
