{% extends "hrms/base.html" %}

{% block body %}
	<h3 class="m-t-30 intro-header">Edit profile</h3>
    <div class="edit-form">
        <form action="" method="post" enctype='multipart/form-data'>{% csrf_token %}
            <legend>User Info</legend>
            <div class="row">
                {% csrf_token %}
            	{% for field in user_form %}
                <div class="form-group col-md-4">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
            </div>

            <legend>Social Info</legend>
            <div class="row">
            	<div class="form-group col-md-4">
                	<label>Github user</label>
                	<input class="form-control" type="text" value="{{ github_user }}" name="github_user">
				</div>

				<div class="form-group col-md-4">
                	<label>Facebook url</label>
                	<input class="form-control" type="text" value="{{ facebook_url }}" name="facebook_url">
				</div>

				<div class="form-group col-md-4">
                	<label>Twitter user</label>
                	<input class="form-control" type="text" value="{{ twitter_user }}" name="twitter_user">
				</div>

				<div class="form-group col-md-4">
                	<label>Linkedin url</label>
                	<input class="form-control" type="text" value="{{ linkedin_url }}" name="linkedin_url">
				</div>
            </div>
            <legend>Other info</legend>
            {{ hr_info_form }}
            <br />
            <input type="submit" class="btn btn-success btn-lg" >
        </form>

        <div>
            {{ user_form.non_field_errors }}
        </div>
    </div>
{% endblock %}
