{% extends "hrms/base.html" %}
{% block title %}Login{% endblock %}

{% block body %}
    <h1>Welcome to {{ request.company }} @ humanlly.com</h1>
    <form class="basic-form" action="." method="post">
        {% csrf_token %}
        <legend>Login</legend>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ email }}">
        </div>
        <div class="form-group" data-bind="css: {'has-error': password_error()}">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        {% if login_failed %}
        <div class="form-group has-error">
            <span class="control-label">Invalid email or wrong password!</span>
        </div>
        {% endif %}
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        <a target="_blank" href="https://www.coverfox.com/accounts/login/">Reset Password</a>
    </form>
{% endblock %}
