{% extends "hrms/base.html" %}

{% block title %}Members{% endblock %}
{% block body %}
    <h3 class="m-t-30 intro-header">User Admin</h3>
    {% load widget_tweaks %}
    <form class="edit-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for group in form.get_grouped_fields %}
            <div class="row">
                {% for field in group %}
                <div class="form-group col-md-4{% if field.errors %} has-error{% endif %}">
                    <label>{{ field.label }}</label>
                    {% render_field field class="form-control" %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="control-label">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        {% endfor %}
        {% if form.non_field_errors %}
            <div class="row">
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="form-group col-md-4">
                <input class="btn btn-lg btn-primary" type="submit" value="Save">
            </div>
        </div>
    </form>
{% endblock %}
