{% extends "hrms/base.html" %}

{% load manip_data %}
{% block title %}Projects{% endblock %}
{% block body %}
    <form class="basic-form" action="" method="post">{% csrf_token %}
        <legend>Please enter {{ no_of_projects }} projects you have worked on</legend>
        {% for id in no_of_projects|get_range %}
        <div class="form-group">
            <label for="{{ 'project_'|add:forloop.counter }}">Project {{ forloop.counter }}</label>
            <input type="text" class="form-control" id="{{ 'project_'|add:forloop.counter }}"
                    name="{{ 'project_'|addstr:forloop.counter }}" value="{{ projects|item_by_index:id }}" required />
        </div>
        {% endfor %}
        {% if success == 'SAVED' %}
        <div class="alert alert-success">Project data was successfully saved.</div>
        {% endif %}
        {% if success == 'FAILED' %}
        <div class="alert alert-danger">There was an error while saving the projects!</div>
        {% endif %}
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        <br><br>
        <legend>Your colleagues' projects</legend>
        {% for colleague_type, colleague_type_projects in colleague_projects.items %}
        <h4>{{ colleague_type|capfirst }}</h4>
        <table class="table table-hover">
            {% for colleague, projects in colleague_type_projects.items %}
            <tr>
                <td><a href="{% url 'user_detail_by_username' colleague.username %}">{{ colleague.get_full_name }}</a></td>
                {% for index in no_of_projects|get_range %}
                <td>{% firstof projects|item_by_index:index '--' %}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </form>
{% endblock %}
