{% extends "hrms/base.html" %}
{% block body %}

<div class="list-card" >
    <h5 class="list-card__header" >Users who did not submitted projects</h5>
    <div class="list-card__item list-card__item--header hidden-xs">
        <div>Name</div>
        <div>Joined_on</div>
        <div>Employee_id</div>
    </div>

    {% for user in subuser %}
        <div class="list-card__item " >
            <div>
                <a href="{% url 'user_detail_by_username' user.username %}">{{user}}</a>
            </div>
            <div>{{user.member.joined_on}}</div>
            <div>{{user.member.employee_id}}</div>
        </div>
    {% endfor %}
</div>
{% endblock %}
