{% extends "hrms/base.html" %}

{% block title %}Reviews{% endblock %}
{% block body %}
<div class="container m-t-30 m-b-30">
    <div class="row">
        <div class="col-md-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" data-bind="foreach: review_users">
                <!--li role="presentation" class="active"><a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">Tab-1</a></li>
                <li role="presentation"><a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">Tab-2</a></li-->
                <li class="active" data-bind="css: {active: $parent.current_tab() == $parent.review_users[$index()]}">
                    <a href="#" data-bind="text: name, click: $parent.activate_tab"></a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div id="tab-box" class="tab-content" data-bind="with: current_tab()">
                <div role="tabpanel" class="tab-pane p-20 active" id="tab-1">
                    <table class="table table-bordered employee-details">
                        <tbody>
                        <tr>
                            <td class="col-sm-2">Employee Name:</td>
                            <td class="col-sm-4" data-bind="text: name"></td>
                            <td class="col-sm-2">Employee Title:</td>
                            <td class="col-sm-4" data-bind="text: title"></td>
                        </tr>
                        <tr>
                            <td class="col-sm-2">Reviewer Name:</td>
                            <td class="col-sm-4" data-bind="text: $parent.reviewer.name"></td>
                            <td class="col-sm-2">Relationship:</td>
                            <td class="col-sm-4" data-bind="text: reviewer_relation"></td>
                        </tr>
                        <tr>
                            <td class="col-sm-2">Frequency of Interaction:</td>
                            <td class="col-sm-4"></td>
                            <td class="col-sm-2">Review Month:</td>
                            <td class="col-sm-4"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="section-box">
                        <h2>Review</h2>
                        <div data-bind="foreach: {data: sections, as: 'section'}">
                            <div class="project-list-1 clearfix">
                                <aside><strong data-bind="text: name">Project 1</strong></aside>
                                <aside>
                                    <table class="table table-bordered m-b-0">
                                        <tbody data-bind="foreach: {data: questions, as: 'question'}">
                                        <tr>
                                            <td data-bind="text: text"></td>
                                            <!-- ko foreach: choices -->
                                            <td class="yes-no" data-bind="css: {active: question.response() == $data}, click: question.choose_response">
                                                <span class="yes-no--radio_ip"></span>
                                                <span data-bind="text: text"></span>
                                            </td>
                                            <!-- /ko -->
                                        </tr>
                                        </tbody>
                                    </table>
                                </aside>
                            </div>
                        </div>
                    </div>

                    <div class="review-status">
                        <div class="alert alert-success" style="display: none" data-bind="visible: review_status()=='success',if: review_status()=='success'">Review successfully saved</div>
                        <div class="alert alert-danger" style="display: none" data-bind="visible: review_status()=='fields-missing',if: review_status()=='fields-missing'">You have not answered all review question</div>
                        <div class="alert alert-danger" style="display: none" data-bind="visible: review_status()=='failed',if: review_status()=='failed'">There was an error while saving the review!</div>
                    </div>
                    <button class="btn btn-lg btn-primary" data-bind="click: save_review">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery-1.7.1.min.js"></script>
<script src="/static/js/knockout/knockout-3.3.0.js"></script>
<script src="/static/hrms/review-models.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$(document).ready(function(){
        var DATA;
        $.get('/reviews/ajax/get-review-data/')
        .done(function(res) {
            DATA = res;
        })
        .error(function() {
            DATA = {self: {}, peers: [], bosses: [], reporters: []};
        })
        .always(function() {
            ko.applyBindings(new ReviewModel(DATA));
        });
});
</script>
{% endblock %}
