<div class="modal fade" id="incoming_call_modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" data-bind="text: 'Incoming Call from ' + phone()"></h3>
            </div>
            <div class="modal-body p-l-0 p-r-0">
                <div class="listview lv-bordered lv-lg">
                    <div class="lv-body">
                        <div data-bind="foreach: tickets()">
                            <ticket-summary params="{value: $data, isIncomingPopup: true
                            filters: []}">
                            </ticket-summary>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-l-25 p-r-25">
                <h3>No Existing Tickets Found</h3>
                <a data-bind="click: goto_search_policy" class="btn btn-success m-t-10" data-bind="attr: {'data-dismiss': 'modal'}">Search for existing ticket or open a new Ticket</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-target="#incoming_call_modal" data-bind="attr: {'data-dismiss': 'modal'}">Close</button>
            </div>
        </div>
    </div>
</div>

