<div class="lv-item">
    <div class="list-item">
        <button data-bind="click: get_ticket_form.bind($data, policy.pk)"
                class="pull-right btn btn-sm btn-info waves-effect waves-button waves-float waves-effect waves-button waves-float">
            <i class="md md-done-all"></i> Create Ticket
        </button>

        <div class="media-body m-l-0">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div>Policy Info</div>
                    <ul class="v-list">
                        <li>
                            <span class="v-title">Policy No.:</span>
                            <span><a target="_blank" data-bind="text: policy.policy_number, attr: {'href': policy.data.policy_document}">Unknown</a></span>
                        </li>
                        <li>
                            <span class="v-title">Insurer:</span>
                            <span data-bind="text: policy.data.insurance_company">Unknown</span>
                        </li>
                        <li>
                            <span class="v-title">Product Type:</span>
                            <span data-bind="text: policy.data.product_type">Unknown</span>
                        </li>
                        <li>
                            <span class="v-title">Product Name:</span>
                            <span data-bind="text: policy.data.insurance_product">Unknown</span>
                        </li>
                        <li>
                            <span class="v-title">RM Assigned:</span>
                            <span data-bind="if: policy.relationship_manager"><span data-bind="text: policy.relationship_manager.username">Unknown</span></span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div>Policy Status Info</div>
                    <ul class="v-list">
                        <li>
                            <span class="v-title">Covers:</span>
                            <span data-bind="text: policy.data.insured_name">Unknown</span>
                        </li>
                        <li>
                            <span class="v-title">Bought on:</span>
                            <!-- ko if: policy.data.payment_date -->
                            <span data-bind="text: policy.data.payment_date.split(' ')[0]">Unknown</span>
                            <!-- /ko -->
                        </li>
                        <li>
                            <span class="v-title">Expiry date:</span>
                            <!-- ko if: policy.data.end_date -->
                            <span data-bind="text: policy.data.end_date.split(' ')[0]">Unknown</span>
                            <!-- /ko -->
                        </li>
                        <li>
                            <span class="v-title">Status:</span>
                            <span data-bind="text: policy.status">Unknown</span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div>Customer Info</div>
                    <ul class="v-list last">
                        <li>
                            <span class="v-title">Policy ID:</span>
                            <span data-bind="text: policy.pk">Unknown</span>
                        </li>
                        <li>
                            <span class="v-title">Name:</span>
                            <span data-bind="text: policy.data.proposer_first_name + ' ' + policy.data.proposer_last_name">Unknown</span>
                        </li>
                        <li>
                            <span class="v-title">Email:</span>
                            <span data-bind="text: policy.data.email">Unknown</span>
                        </li>
                        <li>
                            <span class="v-title">Phone:</span>
                            <span data-bind="text: policy.data.mobile">Unknown</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<create-ticket data-bind="visible: show_create_ticket_form" params="form: create_ticket_form, policy_id: policy.pk, ticket_id: ticket_id"></create-ticket>
