<div class="p-10">
    <div class="dispatch-bar clearfix">
        <div class="dispatch-tab">
            <div class="dp-box green">
                <i class="md md-play-arrow left"></i>
                <section>xyz</section>
                <i class="md md-play-arrow right"></i>
            </div>
            <small class="dt-lable">Date: 05/09/2015 &nbsp; Time: 12:56:37</small>
        </div>
        <div class="dispatch-tab">
            <div class="dp-box green">
                <i class="md md-play-arrow left"></i>
                <section>xyz</section>
                <i class="md md-play-arrow right"></i>
            </div>
            <small class="dt-lable">Date: 05/09/2015 &nbsp; Time: 12:56:37</small>
        </div>
        <div class="dispatch-tab">
            <div class="dp-box green">
                <i class="md md-play-arrow left"></i>
                <section>xyz</section>
                <i class="md md-play-arrow right"></i>
            </div>
            <small class="dt-lable">Date: 05/09/2015 &nbsp; Time: 12:56:37</small>
        </div>
    </div>
    <div class="content-box">
        asdas
    </div>
</div>
