<div class="tab-pane active">
    <div class="main-tabpanel">
        <div class="card">
            <div class="card-body card-padding p-l-0 p-r-0">

                <ul class="tab-nav sub-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
                    <li class="active"><a href="#my-tickets" aria-controls="my-tickets" role="tab" data-toggle="tab"
                                          aria-expanded="true">My Tickets</a></li>
                    <li><a href="#open-ticket" aria-controls="open-ticket" role="tab" data-toggle="tab"
                           aria-expanded="true">Create Ticket</a></li>
                </ul>

                <div class="tab-content p-t-0">
                    <div role="tabpanel" class="tab-pane active" id="my-tickets">
                        <div class="listview lv-bordered lv-lg">
                            <search-ticket params="{searched_tickets: tickets}"></search-ticket>
                            <div class="lv-body">
                                <div class="lv-item actions">
                                    <div class="row">
                                        <div data-bind="foreach: filter_panels">
                                            <filter-element params="{value: $data}"></filter-element>
                                        </div>
                                        <div data-bind="foreach: sort_panels">
                                            <filter-element params="{value: $data}"></filter-element>
                                        </div>
                                    </div>
                                </div>
                                <div data-bind="foreach: filtered_tickets()">
                                    <!-- ko if: $index() < $parent.ticket_show_limit() -->
                                        <ticket-summary params="{value: $data, filters: $parent.filter_panels}">
                                        </ticket-summary>
                                    <!-- /ko -->
                                </div>
                                <h1 style="text-align: center"><a href="#" data-bind="click: show_more_tickets">Show More</a></h1>
                            </div>
                        </div>
                    </div>
                    <!--/.tab-pane-->

                    <div role="tabpanel" class="tab-pane" id="open-ticket">
                        <open-ticket></open-ticket>
                    </div>
                    <!--/.tab-pane-->
                </div>
            </div>
        </div>
    </div>
</div>

