@import "../../css/base_theme";
@white-color:#fff;
@font-size:18px;
@font-weight:normal;
@padding:0;
@margin:0;

/* hero banner css starts */
.hero-wrapper {
  #topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    z-index: 200;
  }
}
/* Landing Page css */
.banner_block {
  padding-top:52px;
  margin-bottom:50px;
  background-color: @bannerBackgroundColor;
  & h1.main {
    color: @baseThemeColor;
    font-size: 36px;
    margin:30px 0px 10px;
    text-align: center;
  }
  & h2 {
    font-size:20px;
    text-align: center;
    & > span {
      width:37px;
      padding:6px;
      margin:0px 10px;
      background-color: @baseThemeColor;
      color: #ffffff;
      .roundedCorners(50%);
    }
  }
  & .rating {
    position: relative;
    min-height: 40px;
    text-align: center;
    margin: 30px 0px;
    & > div {
      text-transform: uppercase;
      margin-bottom:10px;
      letter-spacing: 1px;
    }
    & img {
      background-color: @bannerBackgroundColor;
      display: inline-block;
      width: 250px;
      padding:0px 25px;
      position: relative;
    }
    &:before {
      content: '';
      position: absolute;
      display: block;
      height:3px;
      background-color: #ffffff;
      left:5%;
      right:5%;
      top:45px;
      .boxShadow(0px 2px 3px rgba(0,0,0,0.04));
    }
  }
  .base-box {
    padding:10px 0px;
    background-color: #0076ff;
    display: block;
    & ul {
      margin:0px;
      list-style-type: none;
      & li {
        opacity: 0.8;
        margin: 0px;
        padding: 5px 10px 5px 35px;
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        color: #ffffff;
        display:block;
        float: left;
        font-size: 12px;
        line-height: 1.2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        &.icon-seal {
          opacity: 1;
          padding: 0px 5px;
          border: 0px;
          & > img {
            position: relative;
            top: 3px;
            left: 0px;
            width: 130px;
          }
        }
        & > img {
          position:absolute;
          top:5px;
          left:5px;
          width:26px;
        }
      }
    }
  }
  .compare-table {
    max-width:990px;
    position: relative;
    @border-color:rgba(0,0,0,0.1);
    min-height:50px;
    background-color: #ffffff;
    margin:20px auto 40px;
    padding:0px 15px;
    font-size:13px;
    .boxShadow(0px 2px 3px rgba(0,0,0,0.04));
    .roundedCorners(3px);
    border: 1px solid @border-color;
    & > em {
      font-size:10px;
      color:@lightTextColor;
      position: absolute;
      bottom:-20px;
    }
    & .row.header {
      background-color: rgba(0,0,0,0.04);
      & [class^="col-"] {
        text-transform: uppercase;
        font-weight: 700;
        &:first-child {
          background-color: rgba(0,0,0,0.04);
        }
      }
    }
    & .row {
      position: relative;
      border-bottom: 1px solid @border-color;
      & [class^="col-"] {
        padding: 5px 10px;
        & > img {
          display: block;
          width:18px;
        }
        &:first-child {
          background-color: #f6f7f8;
          font-weight: 700;
        }
        &:nth-child(2) {
          border-right: 1px solid @border-color;
        }
      }
    }
  }
}
.pros_block,.cons_block {
  position: relative;
  & .title {
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    padding:7px 20px;
    color: #ffffff;
    background-color: @baseThemeColor;
    font-size:26px;
    line-height: 1em;
    font-weight: 400;
    position: absolute;
    top:-20px;
    left: 50%;
    margin-left:-100px;
    width:200px;
  }
}
.pros_block {
  text-align: center;
  background-color:#dedbdb;
  padding:20px 0px 40px;
  & p {
    letter-spacing: 0.5px;
    max-width:220px;
    margin:0px auto 15px;
    font-size:14px;
  }
}
.cons_block {
  background-color: #ffffff;
  text-align: left;
  article {
    padding: 20px 0px;
    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.04);
    }

    & img {
      max-width: 140px;
      margin: auto;
      display: block;
    }
    & h3 {
      margin-top: 50px;
      color: @baseThemeColor;
      font-size: 20px;
      text-transform: uppercase;
    }
    & p {
      margin-top: 30px;
      font-size: 18px;
    }
  }
}

/* Responsive css */
@media only screen and (min-width: 767px) and (max-width: 1199px) {

}

@media only screen and (min-width: 767px) and (max-width: 990px) {
  .banner_block {
    & h2 > span {
      display: block;
      margin: 10px auto;
    }
  }
  .cons_block {
    article {
      & h3 {
        margin-top: 20px;
      }
      & p {
        margin-top: 10px;
        font-size:16px;
      }
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .banner_block {
    & h1.main {
      font-size: 30px;
    }
    & h2 > span {
      display: block;
      margin: 10px auto;
    }
  }
.pros_block {
  & p {
    font-size:16px;
  }
}
.cons_block {
    article {
      & img {
        margin:20px 0px 0px;
      }
      & h3 {
        margin-top: 20px;
      }
      & p {
        margin-top: 10px;
        font-size:16px;
      }
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 550px) {

}
/* Responsive css ends */
