/* Color scheme definitions */
/* Color scheme definitions end */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* hero banner css starts */
.hero-wrapper #topbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  z-index: 200;
}
/* Landing Page css */
.banner_block {
  padding-top: 52px;
  margin-bottom: 50px;
  background-color: #f9f7f6;
}
.banner_block h1.main {
  color: #ff6127;
  font-size: 36px;
  margin: 30px 0px 10px;
  text-align: center;
}
.banner_block h2 {
  font-size: 20px;
  text-align: center;
}
.banner_block h2 > span {
  width: 37px;
  padding: 6px;
  margin: 0px 10px;
  background-color: #ff6127;
  color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.banner_block .rating {
  position: relative;
  min-height: 40px;
  text-align: center;
  margin: 30px 0px;
}
.banner_block .rating > div {
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.banner_block .rating img {
  background-color: #f9f7f6;
  display: inline-block;
  width: 250px;
  padding: 0px 25px;
  position: relative;
}
.banner_block .rating:before {
  content: '';
  position: absolute;
  display: block;
  height: 3px;
  background-color: #ffffff;
  left: 5%;
  right: 5%;
  top: 45px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
}
.banner_block .base-box {
  padding: 10px 0px;
  background-color: #0076ff;
  display: block;
}
.banner_block .base-box ul {
  margin: 0px;
  list-style-type: none;
}
.banner_block .base-box ul li {
  opacity: 0.8;
  margin: 0px;
  padding: 5px 10px 5px 35px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  color: #ffffff;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
}
.banner_block .base-box ul li.icon-seal {
  opacity: 1;
  padding: 0px 5px;
  border: 0px;
}
.banner_block .base-box ul li.icon-seal > img {
  position: relative;
  top: 3px;
  left: 0px;
  width: 130px;
}
.banner_block .base-box ul li > img {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 26px;
}
.banner_block .compare-table {
  max-width: 990px;
  position: relative;
  min-height: 50px;
  background-color: #ffffff;
  margin: 20px auto 40px;
  padding: 0px 15px;
  font-size: 13px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.banner_block .compare-table > em {
  font-size: 10px;
  color: rgba(39, 35, 35, 0.76);
  position: absolute;
  bottom: -20px;
}
.banner_block .compare-table .row.header {
  background-color: rgba(0, 0, 0, 0.04);
}
.banner_block .compare-table .row.header [class^="col-"] {
  text-transform: uppercase;
  font-weight: 700;
}
.banner_block .compare-table .row.header [class^="col-"]:first-child {
  background-color: rgba(0, 0, 0, 0.04);
}
.banner_block .compare-table .row {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.banner_block .compare-table .row [class^="col-"] {
  padding: 5px 10px;
}
.banner_block .compare-table .row [class^="col-"] > img {
  display: block;
  width: 18px;
}
.banner_block .compare-table .row [class^="col-"]:first-child {
  background-color: #f6f7f8;
  font-weight: 700;
}
.banner_block .compare-table .row [class^="col-"]:nth-child(2) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.pros_block,
.cons_block {
  position: relative;
}
.pros_block .title,
.cons_block .title {
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  padding: 7px 20px;
  color: #ffffff;
  background-color: #ff6127;
  font-size: 26px;
  line-height: 1em;
  font-weight: 400;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
}
.pros_block {
  text-align: center;
  background-color: #dedbdb;
  padding: 20px 0px 40px;
}
.pros_block p {
  letter-spacing: 0.5px;
  max-width: 220px;
  margin: 0px auto 15px;
  font-size: 14px;
}
.cons_block {
  background-color: #ffffff;
  text-align: left;
}
.cons_block article {
  padding: 20px 0px;
}
.cons_block article:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.04);
}
.cons_block article img {
  max-width: 140px;
  margin: auto;
  display: block;
}
.cons_block article h3 {
  margin-top: 50px;
  color: #ff6127;
  font-size: 20px;
  text-transform: uppercase;
}
.cons_block article p {
  margin-top: 30px;
  font-size: 18px;
}
/* Responsive css */
@media only screen and (min-width: 767px) and (max-width: 990px) {
  .banner_block h2 > span {
    display: block;
    margin: 10px auto;
  }
  .cons_block article h3 {
    margin-top: 20px;
  }
  .cons_block article p {
    margin-top: 10px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .banner_block h1.main {
    font-size: 30px;
  }
  .banner_block h2 > span {
    display: block;
    margin: 10px auto;
  }
  .pros_block p {
    font-size: 16px;
  }
  .cons_block article img {
    margin: 20px 0px 0px;
  }
  .cons_block article h3 {
    margin-top: 20px;
  }
  .cons_block article p {
    margin-top: 10px;
    font-size: 16px;
  }
}
/* Responsive css ends */
