/*Breakpoints variables (media queries)*/


/* arrow css mixin */
/* Headings */

h1{
	font-size:45px;
	line-height:56px;
}

h1.flg{/* font large */
}

h2{
	font-size:34px;
	line-height:41px;
}

h2.flg{/* font large */
	font-size:45px;
	line-height:56px;
}

h3{
	font-size:24px;
	line-height:30px;
}

h3.flg{/* font large */
	font-size:34px;
	line-height:41px;
}

h4{
	font-size:18px;
	line-height:24px;
}

h4.flg{/* font large */
	font-size: 20px;
	line-height: 24px;
}

p, ul li, ol li{
	font-size: 16px;
	line-height: 24px;
}

p.flg, ul li.flg, ol li.flg{
	font-size: 20px;
	line-height: 30px;
}

p.fm, ul li.fm, ol li.fm{
	font-size: 14px;
	line-height: 24px;
}

p.fs, ul li.fs, ol li.fs{
	font-size: 12px;
	line-height: 20px;
}

p.fxs, ul li.fxs, ol li.fxs{
	font-size: 11px;
	line-height: 20px;
}



/* Font Weights */
/* Custom font weights that modify the default values for elements are not allowed.
Use the classes below to change default font-weights. */

.fwb{
	font-weight: bold;
}

.fsi{
	font-style: italic;
}

.fwt{
	font-weight: 300;
}

.fwn{
	font-weight: normal;
}

/* Letter Spacings */
/* Currently we provide and allow only two letter spacings. 1px and 2px. */

.ls1{
	letter-spacing: 1px
}

.ls2{
	letter-spacing: 2px;
}


ul li{}


ul.fs li{
	font-size: 13px;
	line-height: 20px;
}


ul.no-bullets{
	list-style-type: none;
	padding:0;
}


ul.no-bullets li.list-header{
	text-transform: uppercase;
	letter-spacing: 1px;
	opacity: 0.8;
	margin-top:15px;
	margin-left: -15px;
	font-weight: bold;
}

h4{
	font-weight: 300;
}
.blog-item{
	padding:25px 0 20px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.blog-item .blog-item-cat{
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
}
.blog-item .blog-meta{
	font-size: 13px;
	opacity: 0.6;
}
.blog-item .blog-item-readmore a{
	text-decoration: none;
	border:1px solid #314451;
	color: #314451;
	opacity: 0.4;
	border-radius:3px;
	padding:3px 5px;
	margin-top: 8px;
	display: inline-block;
	font-size: 12px;
	-webkit-transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.blog-item .blog-item-readmore a:hover{
	opacity:1;
	background: #FF704C;
	color:#fff;
	border-color: #FF704C;
}
.blog-item .blog-item-readmore a .circles{
	vertical-align: middle;
	margin-left: 7px;
}
.blog-item .blog-item-title h2{
	margin-top: 0;
	margin-bottom: 0;
}
.blog-item .blog-item-title h2 a{
	color:#314451;
	text-decoration: none;
	font-size: 31px;
	-webkit-transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.blog-item .blog-item-title h2 a:hover{
	color:#FF704C;
}

.blog-header h2{
	font-weight: bold;
	color: #FF704C;
	margin-bottom: 0;
}

.blog-header h4{
	margin-top: 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 12px;
}

.pagination-wrapper ul{
	list-style-type: none;
	padding: 0;
}

.pagination-wrapper ul li{
	display: inline-block;
}

.pagination-wrapper ul li a{
	text-decoration: none;
	background: #efeff4;
	color: #314451;
	border-radius:3px;
	padding: 8px 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	-webkit-transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.pagination-wrapper ul li a:hover{
	opacity:1;
	background: #FF704C;
	color:#fff;
	border-color: #FF704C;
}


