/*Breakpoints variables (media queries)*/


/* arrow css mixin */
.p-relative {
   position: relative;
}
.side-cover{
  position: absolute;
  height: 99%;
  right:0;
  top:15px;
}
.side-cover:before{
   content: "";
   position: absolute;
   height: 97%;
   width:100%;
   background-color: #344a58;
}
.bike-banner {
  padding:0;
  background: #665039 url(/static/img/cms/bike-bg.jpg) no-repeat bottom left;
  background-size: cover;
  height: auto;
  padding: 0 0 15px;
}
.bike-banner .mw{
   max-width: 250px;
   outline: none;
}
.bike-banner .bg-white{
   background-color: #fff;
   padding: 20px 20px 30px;
}
.bike-banner .bg-white h5{
   font-size: 20px;
}
.bike-banner .right-container{
   padding: 20px 0 10px 20px;
   color: #eee;
   background-color: rgb(52, 74, 88);
   position: relative;
   z-index: 1;
}
.bike-banner .right-container hr {
   border-top: 5px solid #eee;
}
.bike-banner .right-container h3{
   margin: 0 0 20px;
   font-size: 24px;
   font-weight: 700;
   color:#fff;
}
.bike-banner .right-container h5{
   color:#fff;
}
.bike-banner .right-container ul{
   margin: 0;
   padding: 0 20px;
}
.bike-banner .right-container ul li{
   margin: 20px 0;
}
.bike-banner .right-container .arrrow-direct{
   margin: 20px 0 0;
   color: #FF704C;
}
.m-t-15{
  margin-top: 15px;
}
