@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

body {
    font-family:'Open Sans', sans-serif;
    font-weight:400;
}
.internal {
    padding:20px;
}
.status-draft {
    background-color:#EAFAFF;
}
.social {
    position:fixed;
    top:30%;
    left:-40px;
    width:70px;
} 
.social div.area {
    width:70px;
    margin-bottom:15px;
    padding:5px;
    padding-left:45px;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
}
h4 {
    font-size:18px;
    text-align:center;
    color:/*#EE3F3F*//*#ed4d2b*/#EA8C2F;
    margin:10px;
    font-weight:bold;
}
article:before,article:after{
    content:"";
    display:table;
}
article:after{
    clear:both;
}
article:last-child{
    border-bottom:0;
}
article .thumbnail{
    border:0px;
    /*float:left;
    margin:20px 20px 0 0px;*/
    margin:5px 20px 0 0;
    /*width:130px;
    height:195px;*/
    width:115px;
    height:160px;
    box-shadow:none;
}
article .thumbnail .img_wrap{
    background:#fff;
    border:0px;
    display:block;
    padding:0px/*2px*/;
    position:relative;
}
article .thumbnail .img_wrap img{
    display:block;
    /*width:130px;
    height:195px;*/
    width:auto;
    height:auto;
    margin:auto;
}
article .thumbnail .img_wrap:before{
    border:0px;
    content:'';
    display:block;
    height:3px;
    position:absolute;
    left:0;
    bottom:-4px;
    width:150px;
}
article .thumbnail .img_wrap:after{
    border:0px;
    content:'';
    display:block;
    height:3px;
    position:absolute;
    left:1px;
    bottom:-7px;
    width:150px;
}
article .post-content p.post-meta{
    color: #9D9D9D;
    font-size: 12px;
    margin-bottom:5px;
}
#tinymce article div.post-content{
    width:660px;
}
article .post-content{
    /*margin-bottom:40px;*/
}
article .post-content h1 a{
    text-decoration:none;
    color:/*#EE3F3F*/#424950;
    font-size:25px;
    line-height:40px;
    margin-bottom:8px;
    font-weight:600;
}
article .post-content h1 a:hover{
    color:#0088cc;
    font-weight:600;
    text-decoration:none;
}

article .post-content h2{
    color:#484848;
    font-size:/*24px*/18px;
    line-height:/*40px*/1.6em;
    margin-bottom:8px;
    font-weight:600;
    margin-top:20px;
}

article .post-content h3 {
    color:#484848;
    font-size:/*20px*/16px;
    line-height:/*40px*/1.6em;
    margin-bottom:8px;
    margin-top:20px;
    font-weight:600;
}

article .post-content p, article .post-content {
    color:#555555/*#484848*/;
    font-size:16px;
    line-height:24px;
    margin-bottom:15px;
}

article .post-content ul.unstyled,ol.unstyled {
    list-style:none;
    margin:0;
    padding:0;
}

article .post-content ul,ol {
    margin:0 0 20px 20px;
}

article .post-content li {
    color:#484848;
    margin-bottom:4px;
}

article .post-content a {
    color:#0c8cc4;
    -webkit-transition:color .15s linear;
    -moz-transition:color .15s linear;
    -ms-transition:color .15s linear;
    -o-transition:color .15s linear;
    transition:color .15s linear;
}

article .post-content a:hover {
    color:#0ea7ea;
    text-decoration:underline;
}

article .post-content blockquote {
    margin-left:20px;
    margin-bottom:20px;
}

article .post-content blockquote p {
    font-style:italic;
}

article .post-content h4,article .post-content h5,article .post-content h6 {
    color:#484848;
    font-weight:600;
    margin-bottom:8px;
}
article .post-content.post-tease h1 a{
    font-size:22px;
    line-height:28px;
}
article .post-content.post-tease h2{
    font-size:20px;
    line-height:22px;
}

article .post-content.post-tease p{
    font-size:15px;
    line-height:25px;
}
.categories li a{
    padding:8px 14px;
    border-bottom: 1px solid #E5E5E5;
    display: block;
}
.categories li a .icon-chevron-left{
    margin-right:10px;
    opacity:0.25;
}
.category.affix {
    top: 40px;
}
.categories li.selected a {
    background-color: #EA8C2F;/*#EE3F3F*/
    color: #FFFFFF;
    text-shadow: none;
    font-weight: bold;
}
.clear_label {
    vertical-align:sub;
}
.area button {
    margin-bottom:10px;
}
ul.nav-list li:last-child a{
    border-bottom:none;
}
p.tease span.marker {
    padding:5px;
    margin-right:10px;
    background-color:#dadada;
}
p.tease:first-letter {
    text-transform:uppercase;
    font-weight:bold;
    font-size:25px;
    letter-spacing:2px;
}
h4#categ {
    position:absolute;
    left:-114px;
    width:160px;
    top:42%;
    font-size:16px;
    font-weight:bold;
    border-radius:5px 5px 0 0;
    padding:5px 8px;
    color:#ffffff;
    background-color:#ed4d2b/*#ee3f3f*/;
    transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    cursor:pointer;
    z-index:92;
    box-shadow:-1px -2px 4px rgba(0,0,0,0.2);
    letter-spacing:1px;
}
#categorylist >  hr {
    display:none;
}
form#post_add_form label.flabel {
    text-style:bold;
    margin-top:30px;
    width:400px;
    text-align:left;
    border-top:#999999 solid 1px;
}
#categorylist {
    position:fixed;
    width:200px;
    right:-200px;
    border-radius:5px 0 0 5px;
    box-shadow:-2px 3px 10px #cacaca;
    z-index:10;
    top:30%;
}
select#id_related_posts, select#id_seo-keywords {
    height:200px;
    width:590px;
}
.comment_form {
    margin-top:20px;
}
.comment_form p label{
    font-weight:bold;
    font-size:14px;
    color:#0088cc;
}
.comment_form p input,
.comment_form p textarea{
    width:300px;
    margin-bottom:10px;
}
.comment_form p textarea {
    width:97.5%;
}
.comment_form p.error label{
    color:#d63636;
}
.comment_form p input[type="submit"] {
    width:100px;
}
.comment_form h1 {
    font-size:16px;
    padding:0px 10px;
    background-color:#ee3f3f;
    color:#ffffff;
}
ul.errorlist {
    list-style-type:none;
    font-size:11px;
    color:#666666;
    margin:-15px 0px 0px;
}
.comment_form_head {
    margin-bottom:15px;
}
p.date {
    font-size:12px;
    margin-top: 8px;
}
span.red-color {
    margin:0px 5px;
    color:#d63636;
}
a.count {
    margin:-2px 5px 0px 0px;
}

@media (min-width: 1121px){
	.area input[type="text"] {width: 90%;}
	.area textarea {width: 90%;}
	article .thumbnail {margin:5px auto 0px;}
}
@media (max-width: 1120px) and (min-width: 768px){
.special{display:block!important}
article .thumbnail {margin:5px auto 0px;height:147px;width:105px;}
.area input[type="text"] {width: 90%;}
.social{display:none!important}
}
.comments_title {
	font-size: 22px;
    margin: 15px 0;
    font-weight:bold;
    color:#484848;
}
h5.name {
    background: none repeat scroll 0 0 #DADADA;
    border-bottom: 1px solid #C4C4C4;
    color: #333333;
    padding: 5px 10px;
}
.comment div.box {
	border: 1px solid #eaeaea;
	border-top:none;
    padding: 5px 10px;
    background-color:#f4f4f4;
    margin-bottom:5px;
    font-size: 13px;
}
.credit {
    font-size: 10px;
    font-style: italic;
}

