/*Breakpoints variables (media queries)*/


/* arrow css mixin */

*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  position: relative;
  height:100%;
  padding: 0;
  margin: 0;
}
body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
}
body{
  font-size: 14px;
  padding:0;
  -webkit-font-smoothing: antialiased;
  text-align:center;
  color: #314451;
  line-height: 1.4em;
}
a {
  text-decoration: none;
}
.wrapper {
  position: absolute;
  width: 100%;
  min-height:100%;
  background-color: #314451;
}
.content {
  max-width:700px;
  margin: auto;
  padding:0px 20px;
}
.header-row {
  background-color: #f7fafc;
  padding:7% 0px 84px;
}
h1 {
  font-size:50px;
  font-weight:300;
  margin-top:30px;
}
h2 {
  color:rgb(29, 40, 48);
  font-size:18px;
  line-height:1.4em;
  font-weight: 600;
}
h3 {
  font-size:16px;
  margin-top: 0px;
  margin-bottom: 15px;
  line-height: 1.4em;
  font-weight: 600;
}
.browserlist {
  min-height: 200px;
  margin-top: -74px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
  padding: 0px;
  margin-bottom: 40px;
  text-align: center;
}
.browserlist h3 {
  margin: 0px;
  padding:15px 20px;
  border-bottom: 1px solid rgb(128, 158, 179);
  color: #FF704C;
}
.browserlist .list {
  padding: 10px 20px;
}
.browserlist a {
  display: inline-block;
  width: 130px;
  color: #314451;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  outline: 0px solid #ffffff;
  border: 0px solid #ffffff;
  border-radius: 3px;
}
.browserlist a:hover {
  background-color: rgb(243, 243, 243);
}
.browserlist a img {
  border-width: 0px;
  outline: 0px;
  width: 50px;
}
@media screen and (min-width: 200px) and (max-width: 767px) {
  h1 {
    font-size:36px;
    line-height: 1.2em;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 14px;
  }
  h3 br {
    display: none;
  }
}