/*Breakpoints variables (media queries)*/


/* arrow css mixin */
html, body { 
  position: relative;
  height:100%;
  width:100%;
  padding: 0;
  margin: 0;
  background-color: #efeff4;
}
select{
  width:100%;
  border-radius: 3px;
  border: 1px solid #c1dad7;
  padding: 5px;
  line-height: 1.6em;
  outline:none;
  background-color: #fff;
}
body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
}
h3{
  font-size: 18px;
  font-weight: normal;
  padding: 20px 0 15px;
  margin: 0;
}
.cf-leftnav{
    border-right: 1px solid #e0e0ea;
    min-height: 43em;
    max-width: 350px;
}
.cf-leftnav__header{
  font-size: 18px;
  padding: 20px 0 5px;
  line-height: 1.2em;
}
.cf-leftnav__links{
    margin: 0;
    padding: 0;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
}
.cf-leftnav__links li{ 
  margin:10px 0; 
  font-size: 14px; 
  list-style: none;
}
.cf-leftnav__links li a{ 
  color:#314451;
}
.cf-leftnav__links li a:hover{ 
  color:#FF704C; 
  text-decoration: none;
}
.dataTable{
  border:1px solid #c1dad7;
  margin: 15px 0;
}
.dataTable select{ 
  text-transform: capitalize;
}
.dataTable input{ 
  width: 100%; 
  padding: 5px; 
  outline: none; 
  border-radius: 3px; 
  border: 1px solid #c1dad7;
}
.dataTable th{ 
  background-color: #f7fafc; 
  padding: 10px; 
  text-align: left; 
  border-right: 1px solid #c1dad7; 
  border-bottom:1px solid #c1dad7;
}
.dataTable tr{ 
  background-color: #f7fafc;
}
.dataTable tr:nth-child(2n+1){ 
  background-color: #fff;
}
.dataTable td{ 
  padding: 10px; 
  border-right: 1px solid #c1dad7; 
  border-bottom:1px solid #c1dad7;
}
.dataTables_filter{
  float: right;
  margin-bottom: 15px;
}
.dataTables_filter label{ 
  max-width: 200px;
}
.dataTables_filter input{ 
  max-width: 200px; 
  padding: 5px; 
  margin-left: 15px; 
  width:200px; 
  outline: none; 
  border-radius: 3px; 
  border: 1px solid #c1dad7;
}
.dataTables_length{
  float: left;
  margin-bottom: 15px;
}
.dataTables_length select{ 
  margin: 0 10px; 
  max-width: 60px; 
  width:60px;
}
.dataTables_info, .dataTables_paginate{
  display: inline-block;
  width:50%;
  float: left;
  margin: 0 0 15px;
}
.paging_simple_numbers{
  text-align: right;
}
.paging_simple_numbers span{ 
  padding: 0 10px;
}
.paging_simple_numbers a{ 
  cursor: pointer;
}
.cf-select-deal{
  margin-bottom: 15px;
}
.cf-select-deal select{ 
  margin: 0 10px; 
  max-width: 130px; 
  width:130px;
}
.cf-btn-container{
  margin: 20px 0;
}
.cf-btn-container input{ 
  background-color: #FF704C; 
  padding: 10px 20px; 
  color:#fff; 
  font-size: 16px; 
  font-weight: 600; 
  outline: none; 
  border:0; 
  border-radius: 3px;
}
.table-approved span{ 
  padding: 0 10px;
}
