*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background: #F9F9F9;
    /*text-rendering:optimizeLegibility;*/
    /*-webkit-font-smoothing:antialiased;*/
    /* font-family:"ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif; */
    /*font-family: "jaf-facitweb",sans-serif;*/
    /*font-weight:300;*/
    font-family: 'Lato','Helvetica Neue',Helvetica, Arial,sans-serif;
    font-weight: 400;
    color:#333332;
    font-size:18px;
    line-height:1.4
}

.pnone {
  padding: 0;
}
.prnone {
  padding-right: 0;
}
.plnone {
  padding-left: 0;
}

h1, h2, h3, h4, h5, h6{
    color: #444443;
    /*font-family: "ff-tisa-web-pro",serif;*/
    /* font-weight: bold; */
    font-family: 'Lato','Helvetica Neue',Helvetica, Arial,sans-serif;
    font-size: 20px;
    line-height: 1.4;
}

#topbar{
	background: #fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 1px rgba(6,8,8,0.1);
    box-shadow: 0 1px 1px rgba(6,8,8,0.1);
    min-height:67px;
}

#topbar a.navbar-brand{
	color: #535353;
    display: inline-block;
    font-size: 25px;
    height: 38px;
    letter-spacing: 5px;
    margin-left: 5px;
    margin-top: 15px;
    overflow: hidden;
    padding: 0;
}

.btn-red{
color: #ffffff;
background-color: #ff6127;
border:none;
}


.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active {
color: #ffffff;
background-color: #ee6b42;

}



.trans{
	-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
background-color:#ffffff;
}
.form-control,.form-control.input-lg {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn,.btn.btn-lg {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
}
.btn-full{
	width: 100%;
}
.main-container {
    padding-top: 30px;
    padding-bottom: 50px;
}

.related-results h5 {
    color:#ff6127;
    font-size: 1em;
}
.related-results ul {
    margin:0px;
    list-style-type:none;
    padding-left:0px;
}
.related-results ul li {
    margin-bottom:8px;
}
.related-results ul a {
    color:#333333;
    font-size:0.9em;
}
.related-results {
    margin-bottom: 40px;
}
.result-alfa-panel .panel-body {
    font-size: 16px;
    text-align:center;
    background-color:#dadada;
}
.result-alfa-panel .panel-body a {
    color:#333333;
    display: inline-block;
    margin-bottom: 5px;
}
.panel-custom .panel-heading {
    border-bottom:1px solid rgba(0,0,0,0.31);
    padding: 0px;
}
.panel-custom {
    border:none;
    border-bottom:1px solid rgba(49, 68, 81, 0.9);
}
.panel-custom .panel-heading a {
    padding: 10px 15px;
    display: block;
}
.fut-intro {
    color:#C9D5DD;
    padding:10px;
    border-left:1px dashed #535E6D;
}

.hori-social {
    display: inline-block;
    margin-right: 30px;
}

.dyna-form-label {
    font-weight: normal;
    padding-right: 30px;
}
.stat_page {
    margin-bottom: 50px;
}
.stat_page p {
    font-size: 16px;
}
.stat_page ul {
    font-size: 16px;
}
.stat_page h1, h2, h3, h4, h5 {
    font-weight: 700;
}
.stat_page legend {
    font-size: 30px;
}
