/* Modal CSS */
body.modal-open{   
  overflow:hidden;
}  
.modal-wrapper{
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:4000;
  overflow-y: scroll;
  background: rgba(49,68,81,0.7);
  opacity:0;
  visibility: hidden;
  
  -webkit-transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  
          transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.modal-wrapper.reveal{
	opacity:1;
	visibility: visible; 
}
.modal-wrapper.reveal .modal-content{
	-webkit-transform:translate3d(0,0,0);
	        transform:translate3d(0,0,0);
	opacity:1; 
}
.modal-wrapper .modal-bg-overlay{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background: #314451;
	opacity:0.7;
	z-index:100; 
}
.modal-wrapper .modal-content{
	position: relative;
	z-index:200;
	margin:0 auto;
	margin-top:70px;
	background: #fff;
	border-radius:3px;
	opacity:0;
	-webkit-transform:translate3d(0, 500px, 0);
	        transform:translate3d(0, 500px, 0);
	-webkit-transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); 
}
.modal-wrapper .modal-content.xsmall{
	width:300px; 
}
.modal-wrapper .modal-content.small{
	width:600px; 
}
.modal-wrapper .modal-content.medium{
	width:900px; 
}
.modal-wrapper .modal-content.large{
	width:100%; 
}

/* modal css ends */

/* Share results box starts */
.tab{
	margin:4px;
	font-weight: bold;
	font-size:14px;
	cursor: pointer;
}

.selected-tab{
	border-bottom: 2px solid black;
}


/* Share box results ends */

/* datepicker */
.date-div{
	display: inline-block;
	margin: 5px;
	font-weight: bold;
	cursor: pointer;
}
/* datepicker ends */

/* common */
.error-label {
	color:red;
}
/* common ends */ 


/*Breakpoints variables (media queries)*/


/* arrow css mixin */

.w_list_item .w_list_item--lrcontainer{   
  position: relative;
}

.w_list_item .w_list_item--left{}

.w_list_item .w_list_item--right{   
  position: absolute;   
  left:15px;   
  top:50%;   
  -webkit-transform: translateY(-50%);   
          transform: translateY(-50%);
}

.w_list_item .w_list_item--top{}

.w_list_item .w_list_item--bottom{}











