body {
	min-width:380px;
}
.post{
	padding-bottom:40px;
	padding-top:20px;
}
.post-content p{
	font-size: 18px;
	line-height: 30px;
	margin-top: 20px;
	color: #444443;
}
p.post-category{
	margin-top: 0px;
	font-size: 13px;
	color: #8D8D8D;
}
p.post-date.small {
    font-size:13px;
    margin:0px;
}
strong.health-insurance{
	color:#31CF83;
}
strong.travel-insurance{
	color:#369BD0;
}
strong.life-insurance{
	color:#CE3559;
}
strong.car-insurance{
	color:#31CF83;
}
strong.insurance{
	color:#DA0CD2;
}
strong.coverfox--behind-the-scenes{
	color:#F48C17;
}
.label-health-insurance{
	background:#31CF83;
}
.label-travel-insurance{
	background:#369BD0;
}
.label-life-insurance{
	background:#CE3559;
}
.label-car-insurance{
	background:#31CF83;
}
h1.post-title a{
	text-decoration: none;
	color:#535353;
}
h2.breadcrumb{
    background-color:transparent;
    font-size:20px;
    color:#555555;
    margin-top:0px;
}
h1.post-title a:hover{
	color:#000;
}
.post-sidebar{
	padding-top:20px;
	text-align: right;
}
.post-icon{
	padding-bottom:15px;
	margin-bottom:15px;
}
.post-icon img{
    width:auto;
}
.post-sidebar p{
	font-size: 12px;
}
.no-image>.post-content>h1.post-title{
	margin-bottom:0px;
}
.no-image>.post-content>p{
	margin-top:10px;
}
.post-sidebar p.post-date{
	margin-bottom: 0;
}
.post-sidebar p.post-author{
	font-weight: bold;
}
ul.post-tags{
	list-style-type: none;
	padding: 0;
	margin:15px 0px;
}
ul.post-tags li a{
	text-decoration: none;
	padding: 3px 5px;
	font-size: 12px;
	display: inline-block;
	color: #757575;
	margin-bottom: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px dashed #C9C7C7;

}
ul.post-tags li a:hover{
	background: #3CD6D0;
	color:#fff;
}
.post.highlighted{
	background: #EDF3F3;
}
.nav-social>li>a{
	padding:8px;
}
.nav-social>li>a:hover{
	background: transparent;

}
.btn-subscribe{
	margin-right:20px;
}
.vertical-nav-right{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	background: #525A6B;
	max-width:300px;
	margin-top:30px;
	margin-bottom:20px;
}
.vertical-nav-right>li.navheader{
	color: #FFFFFF;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 300;
    padding:10px 40px;
}
.vertical-nav-right>li>a{
	padding: 10px 40px;
	font-size: 15px;
	color:#C9D5DD;
}
.vertical-nav-right>li>a:hover, .vertical-nav-right>li>a:focus {
	background-color: #E0936F;
	color: #fff;
}
.post-meta{
	border-top: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	padding: 10px 10px 0px 0px;
}
.cf-navbar-elem{
	margin-top:17px;
}
.cf-navbar-elem>li>a{

	font-size: 20px;
	color: #8F8F8F;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.cf-navbar-elem>li>a:hover{
	color: #000;
	background: none;
}
.search-top{
	position: relative;
	width:160px;
	margin-right:5px;
}
.search-top:after{
	width: 100%;
	height: 10px;
	border: 1px solid #C7C7C7;
	border-top: none;
	position: absolute;
	content: "";
	top: 30px;
	left:0;
	border-right: none;
}
.cf-search-blog-btn{
	margin-left: -6px;
	margin-top: 7px;
}
.search-top-input{
	border:none;
	outline:none;
	box-shadow:none;
    width:100%;
    padding:10px;
	background-color: transparent;
}
.subscribe-box{
	max-width: 255px;
	border-radius: 4px;
	background: #EAEAEA;
	padding: 20px;
}
.subscribe-box input{
    margin-top:5px;
}
.subscribe-box label{
	font-weight: normal;
	font-size: 30px;
}
#subscribe-right.subscribe-stuck {
	position: fixed;
	margin-top:0px;
	top:70px;
}
ul.cf-dark-dd{
	background: #525A6B !important;
	color: #fff;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
}
ul.cf-dark-dd>li>a{
	color: #E7E7EF;
}
ul.cf-dark-dd>li>a:hover{
	background-color: #FF915E;
	color: #FFF;
}
/* fullpost */
hr {
    border:dashed #C9C9C9;
    border-width:3px 0 0;
    height:0px;
}
.full-post-meta {
	text-align: right;
	margin-top: 130px;
	border-right: 1px solid #CACACA;
}
.full-post-meta p {
	font-size: 12px;
	margin-top: 20px;
	color: #A29F9F;
}
.full-post-titlebox{
	margin:30px 0px;
}
.full-post-author{
	padding-right:20px;
}
.label-category{
	position: relative;
}
h1.post-title {
	font-size: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.fullpost p, .fullpost div{
	font-size: 14px;
	line-height: 30px;
	margin-top: 20px;
	color: #444443;
}
.full-post-author span.author{
    font-style:bold;
}
.fullpost li {
	font-size: 14px;
	line-height: 30px;
	margin-top: 0px;
	color: #444443;
}
.fullpost li strong {
    font-weight: 400;
}
.fullpost .radio label,.fullpost .checkbox label  {
	font-size: 20px;
	line-height: 20px;
	margin-top: 0px;
	color: #444443;
}
.fullpost .radio input, .fullpost .checkbox input {
    margin-top:0.5em;
}

.fullpost h1 {
    font-size: 38.5px;
}
.fullpost h2 {
    font-size: 31.5px;
}
.fullpost h3 {
    font-size: 24.5px;
}
.fullpost h4 {
    font-size: 17.5px;
}
.fullpost h5 {
    font-size: 14px;
}
.fullpost h6 {
    font-size: 11.9px;
}

.fullpost h1 {
    margin:10px;
}
.fullpost p.postdesc {
	font-size: 15px;
	margin-top:0px;
	line-height: 20px;
}
.fullpost h2 {
	margin-top: 30px;
	margin-bottom: 30px;
}
.blog_cta {
    background: linear-gradient(#EE7C00, rgba(216, 123, 4, 0.8)) repeat scroll 0 0 transparent;
    border: 1px solid #333333;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF !important;
    margin: 4px 0 0;
    padding: 15px;
    text-align: center;
    text-shadow: 1px 1px 1px #333333;
    text-transform: uppercase;
    line-height: 1.4em;
    font-size: 20px;
    font-family: "jaf-facitweb",sans-serif;
}

.blog_cta:hover {
    background: linear-gradient(#8096B1, #52637A) repeat scroll 0 0 transparent;
}
#recommendations {
	margin-top: 40px;
	border-top: 1px solid #DFDFDF;
	padding-bottom: 40px;
	background: #F7F7F7;
}
#recommendations h1 {
	text-align: center;
	margin: 25px 0px;
}
#recommendations h3 {
	font-size:20px;
}
#jargon-recommendations {
    margin-top: 40px;
    border-top: 1px solid #DFDFDF;
    padding-bottom: 40px;
    background: #F7F7F7;
}
#jargon-recommendations h1 {
    text-align: left;
    margin: 25px 0px;
    font-weight: bold;
}
#jargon-recommendations h3 {
    font-size:20px;
}
#cf-pager{
	text-align: center;
	border-top: 1px solid #EAEAEA;
	margin-top:35px;
}
#cf-pager div:hover{
	background: #eaeaea;
}
#cf-pager h4{
	text-transform: uppercase;
	color: #43ADC7;
	font-size: 14px;
	margin-bottom: 0px;
	margin-top: 20px;
	font-weight: bold;
}
#cf-pager div{
	padding-bottom:20px;
}
#cf-pager .prev{
	border-right:1px solid #eaeaea;
}
#notification-panel{
	position: fixed;
	bottom:-100px;
	right:-100px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #ACACAC;
	-webkit-box-shadow: 0 1px 1px rgba(6, 8, 8, 0.1);
	box-shadow: 0 1px 1px rgba(6, 8, 8, 0.1);
	background: #fff;
	width:330px;
	opacity: 0;
	-moz-transform:  rotate(-30deg) ;
	-webkit-transform:  rotate(-30deg) ;
	-o-transform:  rotate(-30deg) ;
	-ms-transform:  rotate(-30deg) ;
	transform:  rotate(-30deg) ;
}
#notification-panel.showpanel{
	bottom:30px;
	right:30px;
	opacity: 1;
	-moz-transform:  rotate(0deg) ;
	-webkit-transform:  rotate(0deg) ;
	-o-transform:  rotate(0deg) ;
	-ms-transform:  rotate(0deg) ;
	transform:  rotate(0deg);
	padding:5px;
}
.social {
    border-bottom: 1px solid #C7C7C7;
    padding: 5px;
}
.social:hover {
    background-color:#EEEEEE;
}
#fullpost-share{
	margin-top:50px;
	text-align: right;
	opacity: 0.5;
	position: fixed;
	left:-100px;
	top:100px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	z-index:500;
	width:90px;
}
#fullpost-share.share-stuck{
	position: fixed;
	left:50px;
	background-color: #FFFFFF;
	text-align: center;
	border:1px solid #c7c7c7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#fullpost-share:hover{
	opacity: 1;
}
.fp-ls{
	margin-top: 30px;
	font-size: 13px;
	border-top: 1px solid #CACACA;
	padding: 10px 20px 0px 20px ;
	text-align: right;
	display: inline-block;
}
p.full-post-date{
	padding: 10px 20px 0px 0px;
}
p.full-post-comments-count{
}
.action-panel{
	margin:30px 0px;
	border:1px solid #c7c7c7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.action-panel h3{
	font-weight: normal;
	font-size: 40px;
}
.full-post-tags{
	list-style-type: none;
	padding:0;
	margin-top:30px;
}
.full-post-tags li{
	display: inline-block;
}
.full-post-tags li a{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #525A6B;
	color:#fff;
	text-decoration: none;
	margin-right:5px;
	padding:3px 12px;
	display: inline-block;
	margin-top:5px;
}
.full-post-tags li a:hover{
	background: #343B49;
}
.form_errors{
    color:red;
}
.post-detail-image {
    width:675px;
    max-width:100%;
}
.post-list-image {
    width:600px;
    max-width:100%;
}
.jargon-detail-image {
    width:403px;
    max-width:100%;
}
.jargon-list-image {
    width:80%;
    min-width: 280px;
    max-width:100%;
}
.post-thumbnail {
    width:260px;
    height:190px;
    overflow:hidden;
}
/*Infographic detail page*/
.infog{
}
/* Footer */
#lp-bottom{
	background:#374D58;
	padding:40px 0px;
}
#lp-bottom .footercategories li{
    margin-bottom:5px;
}
#lp-bottom h3{
	color: #6B8592;
text-transform: uppercase;
font-size: 19px;
font-weight: 300;
margin-bottom: 5px;
}
#lp-bottom ul {
	list-style-type: none;
	padding:0;
	font-size:16px;
}
#lp-bottom ul li a{
	color:#C9D5DD;
}
#lp-bottom ul li{
	color:#C9D5DD;
	margin-bottom:10px;
}
#lp-bottom .footersocial ul li{
	margin-top:5px;
	text-align:left;
}
#lp-bottom .footersubscribe input{
	margin-top:5px;
	background-color: #718895;
	border: medium none;
	color:#FFFFFF;
}
#lp-bottom .footercategories img{
    width:40px;
}
#footerabout{
	margin-top:40px;
	border-top:1px dashed #535E6D;
	padding-top:20px;
}
.modalrupiprompt{
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    bottom: 0px;
    padding: 10px 20px;
    color: #FFF;
    left: 0;
    margin-bottom:0px;
    width:100%;
}
.modalrupi{
    position: relative;
    text-align: center;
    padding:0px;
}
.modalrupi img{
    width:80%;
}
.invitebtn{
    margin-top:20px;
}
.fullpost table {
    width: 100% !important;
}
.fullpost table th {
    background-color: #DADADA;
    border: 1px solid #999999;
   /* word-break:break-all;*/
    font-size: 14px;
    line-height: 1.4em;
    padding: 5px;
    text-align: center;
}
.fullpost table td {
    border: 1px solid #DADADA;
    font-size: 13px;
    line-height: 1.2em;
    padding: 3px;
}
/*.fullpost table th:first-child {
    min-width:110px;
}*/
.footerlinks, .footercategories, .footersocial {
    min-height: 240px;
}
/* responsive design elements */
.coll-btn {
	padding:5px;
	border:1px solid #dadada;
	background-color:#f7f7f7;
	margin-top:20px;
}
.coll-btn .icon-bar {
	background-color:#666666;
}
.nav-social {
	margin-left:-5px;
	margin-right:-5px;
}
.nav-social li {
	float:left;
}
.nav-social > li > a {
	padding:5px;
}
.navbar-collapse {
	padding-left:15px;
	padding-right:0px;
	overflow-x:hidden;
}
.full-post-meta p.handheld {
    color: #A29F9F;
    font-size: 12px;
    margin-top: 20px;
}
@media only screen and (max-width:1200px) {
	.recommended-item {
		text-align:center;
		border-bottom:1px solid #dadada;
		margin-bottom:10px;
	}
	.recommended-item:last-child {
		border-bottom:0px;
	}
}

/*------ RATE IT CSS ----*/
.rating div, .rating p, .rating {
    margin:0px;
    font-style:italic;
    font-size:15px;
}
.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}
.rateit .rateit-range div {
    margin-top:0px;
}
.rateit .rateit-range * {
    display:block;
}
/* for IE 6 */
* html .rateit, * html .rateit .rateit-range {
    display: inline;
}
/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range {
    display: inline;
}
.rateit .rateit-hover, .rateit .rateit-selected {
    position: absolute;
    left: 0px;
}
.rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl {
    left: auto;
    right: 0px;
}
.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus {
    background-position: 0 -16px;
}
div.bigstars div.rateit-range {
    background: url("/static/img/star-white32.png");
    height: 32px;
}
div.bigstars div.rateit-hover {
    background: url("/static/img/star-gold32.png");
}
div.bigstars div.rateit-selected {
    background: url("/static/img/star-red32.png");
}
div.bigstars div.rateit-reset {
    background: url("/static/img/star-black32.png");
    width: 32px;
    height: 32px;
}
div.bigstars div.rateit-reset:hover {
    background: url("/static/img/star-white32.png");
}

.kaching {
    color:#FFFFFF;
    background-color:#FF915E;
}

#content {
	padding-top:100px;
}
#recommendations h1 > a.btn {
	margin-left:20px;
}
.weight-setting h1,.weight-setting h2,.weight-setting h3 {
	font-weight:normal;
}

#big-tag-list-nav {margin-left: 60px;}
#big-tag-list {margin-left: 0px;}
#big-tag-list li { list-style: none;padding-bottom: 10px; }
#big-tag-list a { color: #555555; }
#big-tag-list a:hover { color: #FF915E;}

#big-tag-list, .listWrapper { width:100%; overflow:hidden; }
#big-tag-list li { float:left; list-style: none; margin-right: 10px;}
#big-tag-list a {
    display:block;
    text-align:center;
    width:100%;
    border:1px solid silver;
    padding:10px;
    margin:0 10px 10px 0;
    text-decoration:none
}
#big-tag-list a:hover { background-color:#eee; color:#FF915E;}


.ln-letters {margin-bottom: 20px;}

.ln-letters a {
   line-height: normal; /* or just choose another value: e.g. 1.5; */
   vertical-align: middle;
   display: inline-block;
   *zoom: 1;
   *display: inline;
}

.panel-heading {
    background-color: #525A6B!important;
}
.panel-heading a {
    color: #C9D5DD!important;
}
.panel-heading:hover {
    background-color: #E0936F!important;
}
.jargon-exists {
    background-color: #6F7175!important;
}
.fullpost .coverfox_contact {
    background-color: #F5BEAC;
    text-align:center;
}
