/*Breakpoints variables (media queries)*/


/* arrow css mixin */
.container.grid-960 {
	max-width: 960px;

}
.block.block--content {
    background-color: #fff;
    padding: 70px 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    color: rgba(49, 68, 81, 0.7);
}
@media screen and (max-width: 767px) {
	.block.block--content {
		padding: 40px 0 30px;

	}

}
.block.block--content p {
	font-size:14px;
	line-height:1.6em;

}
@media screen and (max-width:767px) {
	.block.block--content .mobile-max-content {
		max-width: 500px;
		margin: auto;

	}

}
.block.block--content a.article-link {
	color:#314451;

}
.block.block--content a.article-link:hover, .block.block--content a.article-link:active, .block.block--content a.article-link:focus {
	color:#42B1FD;
	outline:none;
	text-decoration:none;

}
.block.block--content .bdr, .block.block--content .bdr-two{
	position: relative;

}
.block.block--content .bdr:after, .block.block--content .bdr-two:after{
	content: '';
	height: 40%;
	width: 1px;
	position: absolute;
	right:0;
	top:15%;
	background: #ddd;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.block.block--content .bdr:after, .block.block--content .bdr-two:after {
		display: none;

	}

}
.block.block--content .bdr-two:after{
	top: 35%;

}
.block.block--content .h-30 {
	height:30px;

}
.block.block--content h2 {
	font-weight: 300;
	margin-bottom: 8px;

}
.block.block--content h2 strong {
	font-weight: 600;

}
@media screen and (max-width: 767px) {
	.block.block--content h2 {
		font-size: 28px;

	}

}
.block.block--content .sh--uppercase {
	font-size: 16px;
	letter-spacing: 1px;
	color: #314451;

}
.block.block--content .sh--big {
	font-size: 24px;

}
.block.block--content .sh--small {
	color: #314451;

}
.block.block--content h4.h-underline{
	font-size:14px;
	position: relative;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 25px;
	margin-top:20px;

}
@media screen and (max-width: 767px) {
	.block.block--content h4.h-underline {
		font-size: 14px;

	}

}
.block.block--content h4.h-underline:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	width: 40px;
	border-top: 1px solid rgba(49, 68, 81, 0.7);
	margin-top:10px;

}
.block.block--content h5.h-spaced {
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin:25px 0 10px;

}
.block.block--content .text-green {
	color: #59c6c5;
	font-size: 16px;

}
.block.block--content.grey{
	border-top: none;
	background: rgb(246, 248, 251);

}
@media screen and (min-width:767px) {
	.block.block--content.grey {
		padding: 90px 0;

	}

}
.block.block--content.grey + .block--content {
	border-top: none;

}
.block.block--content.dark-blue {
	border-top: none;
	background: #1C2C37;
	color: rgba(255, 255, 255, 0.7);

}
.block.block--content.dark-blue h2 {
	color: #fff;
	font-size: 24px;
	font-weight: 400;

}
.block.block--content.dark-blue strong{
	color: #fff;

}
.content-header {
	text-align: center;
	margin-bottom:40px;
}
.content-header > h2 {
	margin-top: 0;

}
.content-header > h2 img{
	max-width: 50px;
	margin-right: 15px;
	margin-top: -5px;

}
@media screen and (max-width: 767px) {
	.content-header > h2 img {
		max-width: 35px;
		margin-right: 5px;

	}

}
.content-header.content-header--media {
	margin-top: 75px;
	text-align: right;
	border-right: 2px solid #f0f0f0;
	padding-right: 15px;
}
@media screen and (min-width: 0px) and (max-width: 991px) {
	.content-header.content-header--media {
		text-align: center;
		border-right: none;
		margin-top: 20px;

	}

}
.leader--content__video{
	margin: 60px auto 0;
	text-align:center;
}
.leader--content__video.mt{
	margin-top: 20px;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.leader--content__video {
		margin: 30px auto 0;

	}

}
.leader--content__video a{
	color:#42B1FD;

}
.leader--content__video a:hover, .leader--content__video a:active, .leader--content__video a:focus{
	color: #314451;
	text-decoration: none;

}
.leader--content__video ul{
	padding:0;
	display:inline-block;

}
.leader--content__video ul li{
	background: url('/static/img/icons/ic_videoicon_blue.png') no-repeat left 8px transparent;
	list-style-type:none;
	padding-left: 80px;
	font-size: 14px;
	text-align:left;

}
.leader--content__video ul li:hover, .leader--content__video ul li:active, .leader--content__video ul li:focus{
	background-image: url('/static/img/icons/ic-videoicon.png');

}
.leader--content__video ul li span{
	font-size: 12px;
	color: #314451;
	display: block;

}

.leader-box{
	max-width:800px;
	margin:auto;
	padding-bottom:20px;
	text-align: center;
}

.leader-box p {
	margin-bottom:20px;
	font-size: 14px;
	line-height: 1.6em;

}

.leader-box p.lg {
	font-size: 16px;

}

@media screen and (max-width:767px){
	.leader-box {
		max-width: 500px;

	}

}
.leader-box--icon {
	position:relative;
	padding-left:140px;
	text-align:left;
}
.leader-box--icon .lb-icon {
	position:absolute;
	top:0;
	left:0;
	text-align:center;

}
.leader-box--icon .lb-icon img {
	max-width:120px;

}
@media screen and (max-width:767px){
	.leader-box--icon {
		padding-left: 0;

	}
	.leader-box--icon .lb-icon {
		position:relative;
		margin-bottom:15px;

	}

}
.leader-box-2{
    margin-bottom: 60px;
    color: #314451;
    text-align: center;
}
@media screen and (max-width: 767px) {
	.leader-box-2 {
		margin-bottom: 40px;

	}

}
.leader-box-2 p{
	font-size: 16px;
	line-height: 1.6em;

}

/* content media thumbnails css  */

.content-media {
    width: 100%;
    position: relative;
    font-size: 14px;
}

.content-media h4{
	text-transform: uppercase;
	font-size: inherit;
	font-weight: 700;
	margin-bottom:5px;

}

.content-media p {
	font-size:inherit;
	line-height: 1.6em;

}

.content-media strong {
	font-weight:400;
	color:#314451;

}

.content-media img{
	position: static;
	margin: 10px auto 0;
	display: block;
	max-width:96px;

}

.content-media h5 {
	text-transform: uppercase;
	font-weight: 400;
	font-size:inherit;
	margin:15px 0;
	letter-spacing: 1px;

}

.content-media h5:after {
	content:'';
	border-top:1px solid rgba(49, 68, 81, 0.7);
	display: block;
	margin: 10px auto 0;
	width: 40px;

}
.content-media.content-media--center {
	margin: auto;
    max-width: 337px;
    padding: 0;
    text-align:center;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.content-media.content-media--center {
		padding-top: 20px;

	}

}
.content-media.content-media--center .min-h{
	min-height: 80px;

}
.content-media.content-media--left {
	text-align: left;
    padding-left: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
    min-height: 70px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.content-media.content-media--left {
		margin-top: 0;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;

	}

}
.content-media.content-media--left img{
	position: absolute;
	left:0px;
	top: -12px;
	margin: 0;

}
.content-media.content-media--left img.top-fix {
	top:0;

}
.content-media.content-media--left h4{
	font-size: inherit;
	position: relative;
	margin-bottom: 30px;

}
.content-media.content-media--left h4:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	width: 40px;
	border-top: 1px solid rgba(49, 68, 81, 0.7);
	margin-top:10px;

}

/* bordered grid css */
ul.grid-list {
	padding: 0;
	margin: 0 auto;
	max-width: 770px;
	list-style-type: none;
}
ul.grid-list li {
	float: left;
	width: 50%;
	height: 260px;
	overflow: hidden;
	border-bottom:2px solid #f0f0f0;
	font-size: 14px;
	text-align: center;
	line-height:1.6em;

}
ul.grid-list li:nth-last-child(2), ul.grid-list li:last-child {
	padding-top:15px;
	border-bottom: none;

}
ul.grid-list li .content-media--center {
	margin-bottom: 15px;
	padding-top: 0;

}
ul.grid-list li:nth-child(odd) {
	border-right:2px solid #f0f0f0;

}
@media screen and (max-width: 599px) {
	ul.grid-list {
		margin-bottom: 0px;

	}
	ul.grid-list li:nth-last-child(2), ul.grid-list li:last-child {
		padding-top: 0;

	}
	ul.grid-list li {
		border:none;
		float:none;
		width: 100%;
		height: auto;

	}
	ul.grid-list li:nth-child(odd) {
		border:none;

	}
	ul.grid-list li .content-media--center {
		margin-bottom: 50px;
		padding: 20px 0 0;

	}

}

/* content video sec css  */
.content-video {
	text-align: center;
}
.content-video a {
	color: inherit;

}
.content-video a:hover, .content-video a:active, .content-video a:focus {
	text-decoration:none;
	color: inherit;

}
.content-video ul {
	list-style-type: none;
	margin:0;
	padding: 0;
	position: relative;

}
.content-video ul > li {
	position:relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 3px;
	overflow: hidden;
	background-color: #fff;
	font-size:16px;
	font-weight:bold;
	z-index: 0;
	margin:0 auto 20px;
	max-width: 340px;

}
.content-video ul > li .thumb {
	position: relative;

}
.content-video ul > li .thumb img {
	width: 100%;
	display: block;

}
.content-video ul > li .thumb:after {
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	-webkit-transform:scale(1) translate3d(0,0,0);
	        transform:scale(1) translate3d(0,0,0);
	position:absolute;
	display: block;
	content:'';
	width:60px;
	height:60px;
	background: url('/static/img/global/playbutton.png') no-repeat center center transparent;
	background-size: 100%;
	top:50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;

}
.content-video ul > li .thumb:hover:after {
	-webkit-transform:scale(0.9) translate3d(0,0,0);
	        transform:scale(0.9) translate3d(0,0,0);

}
.content-video ul > li img {
	width: 100%;

}
@media screen and (max-width: 991px) and (min-width: 767px) {
	.content-video ul > li.active {
		width: 388px;

	}

}
@media screen and (min-width: 767px) {
	.content-video ul {
		margin: 90px 0 60px;
		min-height:250px;

	}
	.content-video ul > li {
		max-width: none;
		width: 260px;
		color:rgba(49, 68, 81, 0.7);
		position:absolute;

	}
	.content-video ul > li.left {
		left: 0;
		width: 171px;
		top: 17px;
		font-size: 12px;

	}
	.content-video ul > li.right {
		right: 0;
		width: 171px;
		top: 17px;
		font-size: 12px;

	}
	.content-video ul > li .content-video__all{
		background-color: #314451;
		padding: 50px 0;
		color:#fff;
		text-transform: uppercase;
		font-size: 20px;
		line-height:1.6em;
		text-align: center;

	}
	.content-video ul > li.last{
		right:12%;
		z-index:1;

	}
	.content-video ul > li.first{
		left:12%;
		z-index: 1;

	}
	.content-video ul > li.active {
		z-index: 2;
		width: 368px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		left: 50%;
		top: 45%;
		-webkit-transform: translate3d(-50%,-50%,0);
		        transform: translate3d(-50%,-50%,0);
		font-size:18px;
		color: #314451;

	}
	.content-video ul > li.active .thumb:after {
		width:100px;
		height:100px;
		margin-top: -50px;
		margin-left: -50px;

	}

}
.content-video__desc {
	color: inherit;
	text-align: left;
	line-height: 1.4em;
	padding:16px 12px;
}
.hero_modal_overlay {
  display: none;
  z-index: 1001;
  top:0;
  left:0;
  bottom: 0;
  right:0;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  overflow-x: hidden;
  overflow-y: auto;
}
.hero_modal_overlay.active {
	display: block;

}
.hero_modal_overlay .hero_modal_content {
	position: relative;
	margin: auto;
	top:-200%;
	max-width:767px;
	width:90%;

}
.hero_modal_overlay.active .hero_modal_content {
	top:80px;

}
.hero_modal_overlay .close-overlay {
	width: 90px;
	height: 30px;
	color: #fff;
	position: absolute;
	z-index: 1;
	background: url('/static/img/global/ic_close.png') no-repeat -15px center transparent;
	right: 20px;
	top:20px;
	padding-left: 35px;
	padding-top: 4px;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;

}
.hero_modal_overlay .close-overlay:hover {
	background-color: rgba(255,255,255,0.3);

}
.hero-modal-content__iframe {
    position: relative;
    width: 100%;
    padding-top: 56.2%;
}
.hero-modal-content__iframe > iframe {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;

}
/*
#video-frame {
  iframe {
    margin: auto;
    width:767px;
    height: 431px;
    display: none;
    @media screen and (min-width: 0px) and (max-width: 767px) {
      width:auto;
      height: auto;
    }
    &.reveal {
      display: block;
    }
  }
}
*/
.content--insurere{
	max-width: 690px;
	margin: auto;
}
.content--insurere ul{
	border-bottom:1px solid #ddd;
	text-align:center;
	padding: 0;

}
.content--insurere ul.bdn{
	border-bottom:none;

}
.content--insurere ul li{
	overflow: hidden;
	text-align: center;
	display: inline-block;
	margin: 0 10px 10px 6px;
	vertical-align: middle;

}
.content--insurere ul li img{
	max-width: 80px;

}
.grid--max__width{
	max-width: 860px;
	margin: auto;
}
.grid--max__width p{
	font-size: 14px;

}
@media screen and (min-width:767px) {
	.grid--max__width .pr{
		padding-right: 34px;

	}
	.grid--max__width .pl{
		padding-left: 34px;
		padding-right: 0;

	}

}
.accordian-tab a.accordian-tab__header, #accordian-tab a.accordian-tab__header {
	display: block;
	padding: 20px 50px 20px 20px;
	display: block;
	color: #314451;
	font-size: 20px;
	text-decoration: none;
	background: url(/static/img/icons/iconplus.png) 99% center no-repeat;

}
.accordian-tab a.accordian-tab__header:hover, .accordian-tab a.accordian-tab__header:active, #accordian-tab a.accordian-tab__header:hover, #accordian-tab a.accordian-tab__header:active{
	text-decoration:none;

}
@media screen and (max-width:767px) {
	.accordian-tab a.accordian-tab__header, #accordian-tab a.accordian-tab__header {
		font-size: 16px;

	}

}
.accordian-tab ul, #accordian-tab ul{
	list-style-type: none;
	padding: 0;

}
.accordian-tab ul ul.accordian-tab-item, #accordian-tab ul ul.accordian-tab-item{
	display: none;

}
.accordian-tab ul li.has-sub, #accordian-tab ul li.has-sub {
	border-bottom:1px solid #ddd;

}
.accordian-tab ul li.has-sub.active a.accordian-tab__header, #accordian-tab ul li.has-sub.active a.accordian-tab__header{
	background-image: url(/static/img/icons/iconminus.png);

}
.accordian-tab ul li.has-sub:last-child, #accordian-tab ul li.has-sub:last-child{
	border-bottom:none;

}
.accordion-list__open p{
	line-height: 23px;
	font-size: 14px;
	padding: 20px;

}
.accordion-list__open ul.list{
	margin: 0 0 30px;
	display: block;
	padding: 0 37px;

}
.accordion-list__open ul.list li{
	font-size: 14px;
	margin: 5px 0;
	list-style-type: disc;

}
/* tool tip component */
.w--tooltip .w--tooltip_handle{
	color:#FF704C;
	border:1px solid #FF704C;
	padding: 5px 10px;
	line-height: 100%;
	border-radius: 50%;

}
.w--tooltip .w--tooltip_popup{
	position: absolute;
	width: 220px;
	background: #314451;
	color:#fff;
	bottom:100%;
	left:50%;
	-webkit-transform: translate3d(-50%, 10%, 0);
	        transform: translate3d(-50%, 10%, 0);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	padding:12px;
	border-radius: 3px;
	font-size: 12px;
	z-index: 20;

}
.w--tooltip:hover .w--tooltip_popup{
	-webkit-transform: translate3d(-50%, -8%, 0);
	        transform: translate3d(-50%, -8%, 0);
	opacity: 1;
	visibility: visible;

}



/* error widget component */
.w--error{
	color: rgb(255, 0, 0);
    padding: 10px;
    margin: 0;
    font-weight: normal;
}
/* label widget component */
.w--label{
	margin-top: 24px;
    margin-bottom: 11px;
    display: block;
    opacity: 0.7;
    display: inline-block;

}
.w--label.flg{
	font-size: 18px;

}
/* radio widget component */
.w--radio_input{
	display: inline-block;
}
.w--radio_input input[type="radio"] {
	display:none;

}
.w--radio_input input[type="radio"] + label {
	font-size:14px;
	cursor: pointer;

}
.w--radio_input input[type="radio"] + label:hover{
	color:#FF704C;

}
.w--radio_input input[type="radio"] + label span.radio_handle {
	display:inline-block;
	width:20px;
	height:20px;
	margin:-1px 4px 0 0;
	vertical-align:middle;
	cursor:pointer;
	border-radius:  50%;

}
.w--radio_input input[type="radio"] + label span.radio_handle {
	border:1px solid #314451;

}
.w--radio_input input[type="radio"] + label span.radio_handle:hover{
	border-color:#FF704C;

}
.w--radio_input input[type="radio"]:checked + label span.radio_handle{
	position: relative;

}
.w--radio_input input[type="radio"]:checked + label span.radio_handle:before{
	position: absolute;
	content:'';
	width:14px;
	height:14px;
	border-radius:50%;
	background-color:#FF704C;
	top:2px;
	left:2px;

}
.w--radio_input input[type="radio"] + label span.radio_handle, .w--radio_input input[type="radio"]:checked + label span.radio_handle {}
.w--radio_input .w--radio_input_item{
	display: inline-block;
	margin-left: 10px;

}
.w--radio_input .w--radio_error{
	position: absolute;
	background: rgb(255, 0, 0);
	color: rgb(255, 255, 255);
	font-size: 12px;
	padding: 0px 9px;
	border-radius: 3px;

}
/* button widget component */
.w--button{
	font-size: 14px;
	padding:10px 15px;
	border-radius: 3px;
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	display: inline-block;
}
.w--button:empty{
	display:none;

}

.w--button--orange{
	background: #FF704C;
	color:#fff;
	border: 1px solid rgb(242, 106, 72);
}

.w--button--orange:hover, .w--button--orange:active{
	background:rgb(242, 106, 72);
	text-decoration: none;
	color:#fff;

}

.w--button--empty{
	background: transparent;
	border: 1px solid #314451;
	color: #314451;
}

.w--button--empty:hover, .w--button--empty:active{
	background:#efeff4;
	color: #314451;
	text-decoration: none;

}

.w--button--empty.w--button--orange{
	color:#FF704C;
	border: 1px solid rgb(242, 106, 72);

}

.w--button--empty.w--button--orange:hover, .w--button--empty.w--button--orange:active{}

.w--button--thin{
	padding:5px 10px;
}
/* spinner widget component */
.w--spinner {
  width: 70px;
  text-align: center;
}

.w--spinner.narrow{
  width:48px;
}

.w--spinner > div {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  background-color: #314451;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.w--spinner.white > div{
  background: #fff;
}

.w--spinner.orange > div{
  background: #FF704C;
}

.w--spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.w--spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.control-inner-row {
    margin-bottom: 15px
}
.controlgroup.radio.horizontal .radio-control {
    float: left;
    position: relative;
    padding-left: 32px;
    cursor: pointer
}
.controlgroup.radio.horizontal .radio-control .desc {
    display: block;
    font-size: 12px;
    opacity: .7
}
.controlgroup.radio.horizontal .radio-control:before {
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 1px solid rgba(49, 68, 81, .85);
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.controlgroup.radio.horizontal .radio-control.selected:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 32px;
    left: 6px;
    background: #ff6127;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.controlgroup.radio.small .radio-control {
    margin-right: 20px
}
.controlgroup.radio.small .radio-control:before {
    width: 20px;
    height: 20px
}
.controlgroup.radio.small .radio-control.selected:after {
    width: 12px;
    height: 12px;
    left: 4px
}
.controlgroup.radio.boxed .radio-control {
    width: 200px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    background: #fff;
    padding-left: 60px;
    margin-right: 15px;
    -webkit-transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    border-radius: 3px
}
.controlgroup.radio.boxed .radio-control:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}
.controlgroup.radio.boxed .radio-control:before {
    left: 15px;
    top: 9px;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}
.controlgroup.radio.boxed .radio-control.selected:after {
    left: 21px;
    top: 15px;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

/* common classes */

.m-b-15 {
	margin-bottom: 15px;
}

 .mobile_no_container{
   	position: relative;
  }

 .mobile_no_container > span{
	position: absolute;
    bottom: 11px;
    left:10px;
    top: auto;
  }

 .mobile_no_container input{
    padding-left: 40px;
  }

  .w--textarea textarea {
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    resize: none;
    margin: 0;
    height: 120px;
    vertical-align: top;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.exclaim-cover{
  position: relative;
  background-size: 100%;
  background: #D8DDE3 url('/static/img/cms/exclaim/bannger-bg_placeholder.jpg') no-repeat center -24px;
  height: 516px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.exclaim-cover {
		height: auto;
		background-color: #D8DDE3;
		background-image: none;

	}

}
.exclaim-cover:after{
	content: '';
	position:absolute;
	background-color: rgba(0,0,0, 0.6);
	width: 100%;
	bottom: 0;
	height: 100%;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.exclaim-cover:after {
		background-color: transparent;

	}

}
.banner-text{
  position: absolute;
  top: 30%;
  width: 100%;
  left: 0;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
  color:#fff;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.banner-text {
		top: 0;
		left: 0;
		position: relative;

	}

}
.banner-text h1{
	font-size:40px;
	color:#fff;
	letter-spacing:1.16px;
	line-height:1.25em;
	margin-bottom: 15px;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.banner-text h1 {
		font-size: 24px;
		color: #314451;
		margin-top: 5px;
		text-align: left;
		letter-spacing: 0;

	}

}
@media screen and (min-width: 767px) and (max-width: 950px) {
	.banner-text h1 {
		font-size: 30px;

	}

}
.banner-text h1 strong{
	font-weight: 300;
	color:rgba(255,255,255,0.9);

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.banner-text h1 strong {
		color: #314451;

	}

}
.banner-text .banner-heading{
	font-size:35px;
	color:#fff;
	letter-spacing:1.16px;
	line-height:1.25em;
	margin-top: 0;

}
.banner-text .banner-heading span{
	font-weight: 300;
	color:rgba(255,255,255,0.9);

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.banner-text .banner-heading span {
		color: #314451;

	}

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.banner-text .banner-heading {
		font-size: 18px;
		color: #314451;
		margin-top: 5px;
		text-align: left;

	}

}
@media screen and (min-width: 767px) and (max-width: 950px) {
	.banner-text .banner-heading {
		font-size: 30px;

	}

}
.banner-text p{
	font-size: 18px;
	letter-spacing:0.8px;
	color:rgba(255,255,255,0.8);

}
.banner-text p strong{
	color:#fff;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.banner-text p strong {
		color: #314451;

	}

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.banner-text p {
		font-size: 13px;
		color: #314451;
		text-align: left;

	}

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.exclaim .container {
		padding: 0;

	}

}
.exclaim__form{
  background-color: #efeff4;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  text-align: center;
  padding: 38px;
  max-width:1026px;
  margin: auto;
  position: relative;
  margin-top:-130px;
  border-radius: 2px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.exclaim__form {
		padding: 15px;
		margin-top: 0;

	}

}
.exclaim__form h2{
	font-size: 24px;
	margin: 0 0 10px;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.exclaim__form h2 {
		font-size: 17px;
		line-height: 1.6em;

	}

}
.exclaim--input{
  margin: 20px 0;
}
.exclaim--input input{
	background:#fff;
	border:1px solid rgba(48,68,81,0.28);
	width:347px;
	height: 65px;
	font-size: 18px;
	padding: 0 25px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
@media screen and (min-width: 0px) and (max-width: 631px) {
	.exclaim--input input {
		margin: 0 0 10px;
		width: 100%;
		height: 50px;

	}

}
.exclaim--input button{
	font-size: 22px;
	text-transform: uppercase;
	border-radius: 3px;
	width: 232px;
	height: 66px;
	margin-left: 2px;
	padding-bottom: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
@media screen and (min-width: 0px) and (max-width: 631px) {
	.exclaim--input button {
		width: 100%;
		height: 50px;
		font-size: 16px;

	}

}
.exclaim--input .error-message{
	color: #f00;
	margin-top: 5px;
	font-size: 14px;
	margin-bottom: 10px;
	margin: auto;
	text-align: left;
	max-width: 585px;

}
.exclaim__tollfree{
  margin: 20px 0;
}
.exclaim__tollfree p{
	font-size: 16px;
	margin: 0;

}
.exclaim__tollfree p strong a{
	color: #314451;
	text-decoration: none;

}
.exclaim__tollfree p.small--para{
	font-size: 14px;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.exclaim__tollfree p.small--para {
		border-bottom: 1px solid #999;
		padding-bottom: 25px;

	}

}
.service--container{
  margin: 30px 0;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.service--container p{
		margin-bottom:40px;

	}

}
.service__expert {
   min-height: 70px;
   margin-bottom: 12px;
}
@media screen and (min-width: 0px) and (max-width: 631px) {
	.service__expert {
		margin: 0;

	}

}
.success__msg p{
	font-size:14px;
	line-height:1.6em;
	text-align:center;
	margin: 0;

}
.success__msg p span{
	color:#FF704C;

}
.success__msg p.font--18{
	font-size: 18px;

}
.thank__msg{
    font-size:18px;
    line-height:1.6em;
}
.thank__msg span{
	color:#FF704C;

}
.exclaim-continer{
  padding: 0 0 65px;
}
.exclaim-work{
  max-width: 718px;
  margin: auto;
}
.exclaim-work p{
	font-size: 16px !important;

}
.exclaim-work p.para{
	margin: 0 0 30px;

}
.term--condition{
  text-align: right;
}
.term--condition a{
	font-size: 12px;
	position: relative;
	top:18px;

}
@media screen and (min-width: 0) and (max-width: 767px) {
	.term--condition a {
		top: 0;

	}

}
.exclaim-work__circle{
  text-align: center;
}
.exclaim-work__circle .arrow-down{
	position:relative;
	border:8px solid transparent;
	border-top-color:rgba(49, 68, 81, 0.7);
	height:0;
	width:0;
	padding:0;
	margin: auto;
	margin-top: -5px;

}
.exclaim-work__circle.left{
	position: relative;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.exclaim-work__circle.left {
		font-size: 16px;

	}

}
.exclaim-work__circle.left:before{
	content: '';
	position: absolute;
	top: 100px;
	right: -363px;
	width: 412px;
	border-top: 2px dashed #ABA8A8;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.exclaim-work__circle.left:before {
		right: 0;
		content: none;
		width: 100%;

	}

}
.exclaim-work__circle.left:after{
	content: '';
	position: absolute;
	display: block;
	top: 100px;
	right: -365px;
	height: 282px;
	border-left: 2px dashed #ABA8A8;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.exclaim-work__circle.left:after {
		right: 0;
		content: none;

	}

}
.exclaim-work__circle.last-right{
	position: relative;

}
.exclaim-work__circle.last-right:after{
	content: '';
	position: absolute;
	display: block;
	top: 100px;
	right: -15px;
	height: 236px;
	border-left: 2px dashed #ABA8A8;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.exclaim-work__circle.last-right:after {
		right: 0;
		content: none;

	}

}
.exclaim-work__circle.left-height{
	position: relative;

}
.exclaim-work__circle.left-height:after{
	content: '';
	position: absolute;
	display: block;
	top: 100px;
	left: -17px;
	height: 335px;
	border-left: 2px dashed #ABA8A8;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.exclaim-work__circle.left-height:after {
		left: 0;
		content: none;

	}

}
.exclaim-work__circle.full{
	position: relative;

}
.exclaim-work__circle.full:before{
	content: '';
	position: absolute;
	top: 100px;
	right: -363px;
	z-index: -1;
	width: 700px;
	border-top: 2px dashed #ABA8A8;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.exclaim-work__circle.full:before {
		right: 0;
		content: none;
		width: 100%;

	}

}
.exclaim-work__circle p{
	margin: 25px 0;
	font-size:14px;
	line-height: 1.6em;
	text-align:center;

}
.exclaim-work__circle img{
	margin: auto;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.exclaim-work__circle img {
		margin-top: 10px;

	}

}
.exclaim-work__circle.full__img{
	margin: 42px 0 0;
	position: relative;

}
.exclaim-work__circle.full__img:before{
	content: '';
	position: absolute;
	top: -30px;
	left: 53%;
	height: 30px;
	border-left: 2px dashed #ABA8A8;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.exclaim-work__circle.full__img:before {
		left: 0;
		content: none;
		width: 100%;

	}

}
.exclaim-work__circle.full__img:after{
	content: '';
	position: absolute;
	display: block;
	top: -32px;
	right: -59%;
	width: 339px;
	border-top: 2px dashed #ABA8A8;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.exclaim-work__circle.full__img:after {
		right: 0;
		content: none;
		width: 100%;

	}

}
.exclaim-work__circle.full__img img{
	max-width: 352px;
	margin: auto;

}
@media screen and (min-width: 0px) and (max-width: 767px) {
	.exclaim-work__circle.full__img img {
		max-width: 205px;

	}

}
.exclaim-advisor h4{
	font-size:16px;
	color:#000;
	margin: 11px 0 5px;
	text-transform: capitalize;

}
.exclaim-advisor p{
	font-size:14px;
	color:#000;

}

.faq--note{
  font-size:16px;
  text-align:left;
  margin-top: 20px;
}
.exclaim--note{
  padding: 20px 30px;
  background-color: #314451;
  text-align:left;
  margin: 60px 0 40px;
}
.exclaim--note h4{
	font-size:16px;
	color:#59c6c5;
	margin: 0 0 5px;
	text-transform: uppercase;
	line-height:24px;
	text-align:left;

}
.exclaim--note p{
	font-size:16px !important;
	color:rgba(255,255,255,0.70);

}
.exclaim--note p strong a{
	color:rgba(255,255,255,0.9);
	text-decoration: none;

}
.exclaim--note p.pmargin{
	margin: 24px 0 0;

}
.exclaim--knowmore{
  font-size:16px;
  line-height:1.2em;
}
.bg--trans{
  background-color: transparent !important;
  border: 0 !important ;
  color:#314451 !important;
}
.success__loader{
  margin: 20px 0;
}
.success__loader p{
	font-size: 16px;

}
.accordion-list__open ul.list{
  display: block !important;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
    .pull-xs-left{
      float: left;
    }
    .pull-xs-right{
      float: right;
    }
  }
