/*Breakpoints variables (media queries)*/


/* arrow css mixin */

.header--hidden {
  opacity: 0;
  -webkit-transform: translate(0, -60px);
          transform: translate(0, -60px);
}

.header--visible {
  background: rgba(255,255,255,0.7);
  opacity: 1;
  -webkit-transform: translate(0,0);
          transform: translate(0,0);
  position: fixed;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color:#fff;
}


.header-wrapper {
  height:64px;
  color:#314451;
  position:relative;
  margin:0;
  padding:0;
  background-color:#D8DDE3;
  color:rgba(49,68,81,0.9);
  z-index:299;

}


.header-wrapper .main-header {
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  line-height: 1em;
  padding:0 16px;
  top:0;
  left:0;
  right: 0;
  height:64px;
  z-index:1;
}


.header-wrapper .scroller {
  position:absolute;
  width:100%;
  top:64px;
  bottom:0;
  overflow-y:auto;
}


.header-wrapper .hamburger-menu, .header-wrapper .logo, .header-wrapper .page-title {
  float: left;
  line-height: 64px;
}


.header-wrapper .logo {
  line-height: 58px;
}


.header-wrapper .logo img {
  height:24px;
  margin-left:8px;
}


@media screen and (max-width: 767px) {

  .header-wrapper .logo img {
    height:22px;
  }
}


.header-wrapper .page-title {
  line-height: 64px;
  font-size: 20px;
  position: relative;
  font-weight: 300;
}


.header-wrapper .page-title:before {
  content:'';
  width: 0.3em;
  margin:2px 0.8em 0 0.8em;
  background-repeat:no-repeat;
  background-image: url('../img/global/bc-arrow.png');
  background-size: contain;
  background-position: right center;
  float: left;
  height: 62px;
}


.header-wrapper .right-item {
  float: right;
  font-size: 16px;
  padding-top: 2px;
  line-height: 62px;
  position: relative;
  font-weight: 300;
  font-weight: 700;
  margin-right: 16px;
}


.header-wrapper ul.nav-items-right, .header-wrapper ul.nav-items-left {
  float:left;
  list-style-type: none;
  margin: 0 0 0 16px;
  padding: 0;
}


.header-wrapper ul.nav-items-right > li, .header-wrapper ul.nav-items-left > li {
  float: left;
  line-height: 60px;
  display: inline-block;
  padding:4px 16px 0;
  text-transform: uppercase;
  font-size: 12px;
}


@media screen and (min-width: 767px) and (max-width: 991px) {

  .header-wrapper ul.nav-items-right > li, .header-wrapper ul.nav-items-left > li {
    padding-left: 12px;
    padding-right: 12px;
  }
}


.header-wrapper ul.nav-items-right {
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  float: right;
  margin-left:0;
}


@media screen and (min-width: 767px) {

  .header-wrapper ul.nav-items-right {
    margin: 0 16px 0 0;
  }
}


@media screen and (max-width: 767px) {

  .header-wrapper ul.nav-items-right > li {
    padding-left:8px;
    padding-right:8px;
  }
}


.header-wrapper img.link-icon {
  width: 22px;
  height:22px;
  margin-right: 8px;
  display: inline-block;
  border-radius: 2px;
  margin-top: -2px;
  opacity: 0.7;
  border: 1px solid #314451;
}


.header-wrapper img.link-icon--bnone, .header-wrapper img.link-icon.bnone {
  border:none;
}


.header-wrapper .user-place {
  margin-left:-3px;
  max-width: 130px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}


.header-wrapper .user-place-xs {
  display: none;
}


@media screen and (max-width:399px){

  .header-wrapper .user-place {
    display: none;
  }

  .header-wrapper .user-place-xs {
    display: inline-block;
  }
}


.header-wrapper a {
  cursor: pointer;
  font-size:12px;
  display:inline-block;
  color:rgba(49,68,81,0.9);
  line-height: 1.4em;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.header-wrapper a:hover, .header-wrapper a:focus, .header-wrapper a:active {
  color:#42B1FD;
  outline: none;
  text-decoration: none;
}


.header-wrapper a.close {
  cursor: pointer;
  display: block;
  padding: 10px 18px;
  background: url('/static/img/common/close.png') no-repeat center center transparent;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin: 0;
}


.header-wrapper a.close:hover {
  background-color:rgba(0,0,0,0.05);
}


.header-wrapper a.link-tollfree {
  position: relative;
  top:6px;
  font-size: 15px;
}


.header-wrapper a.link-tollfree .link-icon {
  border: none;
  width: 16px;
  height: 16px;
  margin-right: 0px;
}


.header-wrapper a.link-tollfree > span {
  position: absolute;
  font-size: 10px;
  top: -16px;
  right: 0;
  text-transform: none;
  letter-spacing: 0.5px;
  color: #314451;
  opacity:0.7;
}


.header-wrapper .menu {
  margin-left:40px;
  float:left;
}


.header-wrapper .tp-logo {
  max-height: 28px;
  max-width: 185px;
  display: inline-block;
} /* header wrapper ends */

ul.nav-list {
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  list-style-type: none;
  padding:0;
  margin:0;
}

ul.nav-list > li {
  background-color:#ffffff;
}

ul.nav-list > li.hr {
  border-top:1px solid #eaeaea;
  padding: 0;
  margin: 0;
}

ul.nav-list > li.head {
  font-size: 11px;
  color:rgba(49, 68, 81, 0.32);
  padding:0px 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media screen and (min-width: 767px) and (max-width: 991px) {

  ul.nav-list > li.head {
    padding-left: 12px;
    padding-right: 12px;
  }
}

ul.nav-list > li > a {
  text-transform: none;
  font-size: 14px;
  margin:0;
  padding:10px 16px;
  display: block;
  color:#314451;
}

ul.nav-list > li > a:hover, ul.nav-list > li > a:active, ul.nav-list > li > a:focus{
  background-color:#efeff4;
  color: #314451;
}

@media screen and (min-width: 767px) and (max-width: 991px) {

  ul.nav-list > li > a {
    padding-left: 12px;
    padding-right: 12px;
  }
}

ul.nav-list > li.primary-link > a {
  padding: 16px;
}

.nav-item-dropdown {
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  margin-right:-1px;
}

.nav-item-dropdown ul.nav-list {
  cursor: default;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transition-delay:0.2s;
          transition-delay:0.2s;/* 200ms transition delay for navigation dropdown items issue */
  opacity: 0;
  overflow: hidden;
  width: 300px;
  left: 0;
  top:100%;
  position: absolute;
  -webkit-transform:scaleY(0);
          transform:scaleY(0);
  -webkit-transform-origin :1% 1%;
          transform-origin :1% 1%;
  box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.12);
  overflow: hidden;
  padding:10px 0;
  background-color:#ffffff;
  border-radius: 0 0 3px 3px;
}

.nav-item-dropdown ul.nav-list.nav-list--user {
  width:200px;
}

.nav-item-dropdown ul.nav-list li > a {
  padding-top:6px;
  padding-bottom:6px;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.nav-item-dropdown:hover, .nav-item-dropdown:focus, .nav-item-dropdown:active {
  color:#42B1FD;
  background-color:#efeff4;
}

.nav-item-dropdown:hover ul.nav-list, .nav-item-dropdown:focus ul.nav-list, .nav-item-dropdown:active ul.nav-list {
  overflow: visible;
  opacity: 1;
  -webkit-transform:scaleY(1);
          transform:scaleY(1);
}
.nav-items-right .nav-item-dropdown .nav-list {
  left:auto;
  right:0;
}


/* css for mobile screen toggle nav */
.header-flyout {
  z-index: -10;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: fixed;
  top:0px;
  background-color: #fff;
  min-width:250px;
  width: 60%;
  left:-100%;
  bottom:0;
  margin: 0;
  overflow:hidden;
  padding: 64px 0 20px;
  visibility: hidden;
  -webkit-transition: left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: left 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.header-flyout a.close {
  position: absolute;
  right: 20px;
  top:12px;
}
#flyout-overlay {
  position: fixed;
  z-index: -10;
  left:0;
  right: 0;
  top:0;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  opacity:0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* mobile menu pane show */
@media screen and (max-width: 767px) {
    .header-wrapper.hamburger .header-flyout {
    z-index: 2;
    left: 0;
    visibility: visible;
  }
    .header-wrapper.hamburger #flyout-overlay {
    z-index: 1;
    opacity: 1;
    visibility: visible;
  }
    .header-wrapper.hamburger ul.nav-items-right, .header-wrapper.hamburger .logo {/*right:-100%;*/
  }
}


.nav-icon {
  cursor: pointer;
  top:6px;
  position: relative;
  display: inline-block;
  padding:5px;
  background-color: transparent;
  width: 30px;
  border-radius: 3px;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.nav-icon .bar {
  background-color:rgba(49,68,81,0.7);
  display: block;
  height: 2px;
  border-radius: 1px;
}


.nav-icon .bar+.bar {
  margin-top: 4px;
}


.nav-icon.active, .nav-icon:hover {
  z-index: 2;
  background-color:#faf5f7;
}


.nav-icon.active .bar, .nav-icon:hover .bar {
  background-color:#0099cc;
}

.mnone {margin:0;}
.mrnone{margin-right:0;}
.mlnone{margin-left: 0;}
.pnone {padding:0;}
.plnone {padding-left:0;}
.prnone {padding-right:0;}







/* header contact us popup css */
.header-popup {
  opacity: 0;
  visibility: hidden;
  background:rgba(231,234,238,0.98);
  position:fixed;
  width: 100%;
  height:0;
  top:0;
  left: 0;
  z-index: -10;
  overflow:hidden;
  color:#314451;
  -webkit-transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.header-popup.reveal {
  height: 100%;
  z-index: 2;
  visibility: visible;
  opacity: 1;
}
.header-popup.reveal .header-popup__content {
  -webkit-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}
.header-popup a {
  margin: 0;
}
.header-popup__title {
    position: relative;
    height: 64px;
    width: 100%;
    padding:15px 30px;
    z-index:1;
}
.header-popup__title a.close {
  float: right;
}
@media screen and (max-width: 767px) {

  .header-popup__title {
    padding: 15px;
  }
}
.header-popup__content {
  position:relative;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform:translate3d(0,200px,0);
          transform:translate3d(0,200px,0);
  text-align: center;
  z-index:0;
  padding:0 16px 50px;
}
.header-popup__content h4{
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 18px;
}
.header-popup__content p {
  font-size: 16px;
}
.header-popup__content .w--button {
  min-width: 190px;
}
.header-popup__content .collapse-hide {
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  position:relative;
  -webkit-transform:translate3d(0,100px,0);
          transform:translate3d(0,100px,0);
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  margin:auto;
  padding:0;
}
.header-popup__content .collapse-hide.active {
  -webkit-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
  opacity: 1;
  visibility:visible;
  height: auto;
  overflow: visible;
}
.header-popup__content .divider {
  margin: 30px auto;
  border-bottom: 1px solid rgba(49,68,81,0.2);
}
.header-popup__content .divider--small {
  width: 200px;
}
.header-popup__content .divider-or {
  margin:30px auto;
  width:60px;
  position: relative;
}
.header-popup__content .divider-or::before, .header-popup__content .divider-or::after {
  content: "";
  display: block;
  height:12px;
  width: 50px;
  position: absolute;
  left: 100%;
  top:0;
  border-bottom: 1px solid rgba(49,68,81,0.2);
}
.header-popup__content .divider-or::after {
  left:auto;
  right:100%;
}
.input_group {
    padding:0;
    text-align: left;
}
.input_group .w--error {
  font-size:12px;
  padding:5px 0 0;
}
.input_group .w--label {
  margin-top: 15px;
  margin-bottom: 5px;
  opacity: 0.7;
  display: inline-block;
}
.input_group .mobile_no_container {
  position: relative;
  display:block;
}
.input_group .mobile_no_container span{
  position: absolute;
  top:13px;
  left: 10px;
  z-index: 1;
}
.input_group .mobile_no_container .input_wrapper > input {
  padding-left:40px;
}
.input_group .w--textarea textarea {
  border: 1px solid rgba(49,68,81,.4);
  background-color:transparent;
  height: 88px;
  outline:none;
  width: 100%;
  padding: 10px;
  resize: none;
  margin: 0;
}
.input_group .input_wrapper {
  margin-bottom: 0;
  position: relative;
}
.input_group .input_wrapper input, .input_group .input_wrapper select {
  border: 1px solid rgba(49,68,81,.4);
  width: 100%;
  padding: 7px 10px;
  outline: none;
  border-radius: 3px;
  background-color:transparent;
  height:44px;
}
.input_group .input_wrapper select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
.input_group .input_wrapper > a{
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 10px;
}
.input_group .input_wrapper .select_arrow{
  border-color: rgb(153, 153, 153) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 5px 5px 0;
  display: block;
  height: 0;
  position: absolute;
  right: 10px;
  top: 43%;
  width: 0;
}
.claim_info__msg{
    border-radius: 3px;
    padding: 15px;
    border: 1px dashed rgba(49,68,81,.4);
    max-width: 600px;
    margin:30px auto;
}
.claim_info__msg a {
  color:#314451;
  font-size:inherit;
}
.contactus {
  overflow: hidden;
  max-width: 740px;
  margin:auto;
}
.contactus .sendTo {
  margin-left: 10px;
}
.contactus .cu_title{
  font-size:24px;
  margin:15px 0;
  font-weight:400;
}
.contactus .cu_title_sub {
  margin-top:-15px;
}
.contactus .cu_title_email {
  margin-bottom: 30px;
}
.contactus--thanku .contactus__phonenumber {
  font-size: 24px;
  margin-bottom:16px;
}
.contactus--thanku .cu_title{
  margin:30px 0;
}
.contactus--thanku .text_orange{
  color: #FF704C;
  margin: 30px 0;
}
.contactus--email{
  max-width: 600px;
  text-align: left;
}
.contactus--email .input_wrapper {
  max-width: 400px;
}
.contactus--email .w--button {
  margin-top:24px;
}
.contactus__group {
  max-width:600px;
  margin: 0 auto 30px;
}
.contactus__group .input_group {
  float:left;
  margin-top: 16px;
  width: 50%;
  padding: 0 8px;
}
.contactus__group:after {
  content: '';
  display: block;
  clear: both;
}
@media screen and (max-width:499px) {

  .contactus__group {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .contactus__group .input_group {
    float:none;
    padding: 0;
    width: auto;
  }
}
.contactus__phonenumber{
    color: #314451;
    font-size: 28px;
    font-weight: 400;
    line-height:1.2em;
    display: inline-block;
}
.contactus__header{
    font-size: 28px;
    line-height: 28px;
    font-weight: 300;
    color:rgba(49,68,81,.2);
}
.contactus__header > a {
  cursor: pointer;
  font-size: inherit;
}
.contactus__header .cu_title {
  display:inline-block;
}
.contactus__header > span{
  color:#314451;
  font-size: 12px;
  line-height: 30px;
  vertical-align: middle;
}

.login-wrap {
  max-width: 320px;
  margin:30px auto;
  overflow: hidden;
}

.login-wrap .w--label {
  margin-top:10px;
}

.login-wrap .w--error {
  padding-bottom:0;
  text-align:left;
  font-size:12px;
}

.login-wrap > a {
  margin-bottom: 10px;
}

.login-wrap > a img{
  width: 160px;
}

.login-wrap .w--button {
  margin-top: 20px;
  width: 100%;
}

.login-wrap .login_lnk{
  margin: 30px 0;
}
.login-wrap__section p{
  font-size: 14px;
  line-height: 18px;
}
.login-wrap__section .success-msg{
  margin: 50px 0 0;
}
.contactus__tollfree{
    padding: 0;
    margin:0;
}
.contactus__tollfree li{
  display: inline-block;
  max-width: 205px;
  padding: 0 10px;
  margin: 10px 0;
  font-size: 13px;
  color:rgba(49, 68, 81, 0.7);
  border-right: 1px solid rgba(49,68,81,0.2);
}
.contactus__tollfree li:last-child{
  border-right:none;
}
.contactus__tollfree li a span{
  font-size: 14px;
  color: #314451;
}
.footer-wrapper {
  color:#9a9a9a;
  line-height: 1.6em;
  font-size: 12px;
  background-color: rgb(46, 67, 78);
}
.footer-wrapper .divider {
  max-width: 700px;
  border-top: 1px solid rgba(255,255,255,0.2);
  margin: 24px auto;
}
.footer-wrapper a {
  -webkit-transition: color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  color:#cacaca;
  font-size: inherit;
}
.footer-wrapper a:hover, .footer-wrapper a:active, .footer-wrapper a:focus {
  outline: none;
  text-decoration: none;
  color:#ffffff;
}
.footer-wrapper p {
  font-size:inherit;
  margin-bottom: 5px;
  line-height: inherit;
  color: inherit;
}
.footer-wrapper__heading {
  font-size: 12px;
  line-height: 1.4em;
  padding: 0;
  margin: 0px 0 15px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer-links {
  list-style-type: none;
  padding: 0;
  margin:0 0 8px;
}
.footer-links li {
  font-size: 12px;
  line-height: 1em;
  display: inline-block;
  margin:0;
}
.footer-links li img{
  max-width: 30px;
  margin-right:15px;
}
.footer-links a {
  display:inline-block;
  padding:0;
  line-height: 1.4em;
}
@media screen and (min-width: 0px) and (max-width:599px) {

  .footer-links a {
    margin-bottom:5px;
  }
}
@media screen and (min-width: 0px) and (min-width: 767px) {

  .footer-main-category {
    max-width: 150px;
  }
}
.footer-links.footer-links--main {
  margin:15px 0;
}
.footer-links.footer-links--main li {
  display: block;
  margin: 0 0 10px 0;
}
@media screen and (min-width: 0px) and (max-width:599px) {

  .footer-links.footer-links--main a {
    display: block;
  }

  .footer-links.footer-links--main li {
    padding: 0;
    display: inline-block;
    vertical-align:top;
    min-width: 130px;
    width: 49%;
  }
}
@media screen and (min-width: 0px) and (max-width:399px) {

  .footer-links.footer-links--main li {
    width:100%;
  }
}
.footer-wrapper__sublinks {
  max-width:none;
  margin: auto;
  padding-top:16px;
}
@media screen and (min-width: 0px) and (max-width: 1199px){

  .connect-section {
    text-align: center;
    margin-top: 20px;
  }
}
.footer-wrapper__category {
  border-bottom: 0;
  margin-bottom:5px;
  line-height: 1.6em;
}
.footer-wrapper__category > .row {
  margin-bottom: 15px;
}
.footer-wrapper__category .cat-head {
  max-width: 160px;
  pointer-events:none;
}
.footer-wrapper__category .footer-links {
  margin: 0 -15px 15px 0;
}
.footer-wrapper__category .footer-links li {
  margin: 0 0 10px 0;
  display: block;
}
@media screen and (min-width: 0px) and (max-width: 767px) {

  .footer-wrapper__category .footer-links li {
    width: 50%;
    margin: 0;
    border: none;
    float: left;
  }

  .footer-wrapper__category .footer-links li a {
    padding:5px 0;
    margin:0 15px 5px 0;
  }
}
@media screen and (min-width: 0px) and (max-width:499px) {

  .footer-wrapper__category .footer-links li {
    width: 100%;
  }

  .footer-wrapper__category .footer-links li a{
    display:block;
  }
}
.footer-wrapper__category .footer-links li:last-child {
  border-right: none;
}
.footer-wrapper__category .footer-links a {
  font-size: 12px;
  padding:0;
  margin-right:0px;
  display: inline-block;
}
.footer-wrapper__category input[type=checkbox]{
  display: none;
}
.footer-wrapper__finish {
  background-color: rgb(35, 55, 65);
  padding:24px 0;
  margin-top: 24px;
  text-align: center;
}
.footer-wrapper__finish .footer-links li {
  margin: 0;
  padding: 0 8px;
  border-right: 1px solid #cacaca;
}
.footer-wrapper__finish .footer-links li:last-child {
  border:none;
}
.footer-wrapper__finish .footer-links a {
  padding: 0;
  margin: 0;
  line-height: 1.1em;
}
.footer-wrapper__finish .copyright{
  display: inline-block;
}
.footer-wrapper__finish .copyright a, .footer-wrapper__finish .copyright span {
  margin:0 10px;
  display: inline-block;
}
.license-container {
  margin-top:10px;
}
.license-container .small-font {
  font-size: 10px;
}
.license-container .color-w {
  color:#cacaca;
}
.license-container span, .license-container a {
  display: inline-block;
  vertical-align: bottom;
  color: inherit;
}

/* toggle accordian functionality in small devices */
@media screen and (max-width: 767px){

  .footer-wrapper__category {
    border-bottom: none;
  }

  .footer-wrapper__category > .row {
    margin-bottom: 0px;
  }

  .footer-wrapper__category .footer-wrapper__heading {
    margin: 0 0 5px;
  }

  .footer-wrapper__category .cat-head {
    display: block;
    cursor: pointer;
    position: relative;
    max-width: none;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

  .footer-wrapper__category .cat-head:before {
    content: "+";
    display: block;
    font-size: 16px;
    line-height: 1em;
    position: absolute;
    right: 15px;
    top: 8px;
    width: 20px;
    height: 20px;
    font-weight: bold;
    text-align: center;
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .footer-wrapper__category .cat-content {
    position: relative;
    height: 0;
    overflow: hidden;
    border-bottom: 1px solid transparent;
  }

  .footer-wrapper__category .cat-content ul.footer-links {
    position: absolute;
    visibility: hidden;
    margin-top:-100%;
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .footer-wrapper__category input[type="checkbox"].cat-ip, .footer-wrapper__category .cat-head {
    pointer-events:auto;
  }

  .footer-wrapper__category input[type="checkbox"].cat-ip:checked + .cat-head {
    border-bottom-color: transparent;
  }

  .footer-wrapper__category input[type="checkbox"].cat-ip:checked + .cat-head .footer-wrapper__heading {
    font-weight: bold;
  }

  .footer-wrapper__category input[type="checkbox"].cat-ip:checked + .cat-head:before{
    -webkit-transform:rotateZ(45deg);
            transform:rotateZ(45deg);
  }

  .footer-wrapper__category input[type="checkbox"].cat-ip:checked + .cat-head + .cat-content {
    height: auto;
    visibility: visible;
    border-color:rgba(0,0,0,0.1);
    padding-right: 15px;
  }

  .footer-wrapper__category input[type="checkbox"].cat-ip:checked + .cat-head + .cat-content ul.footer-links {
    position: relative;
    visibility: visible;
    margin-top:0;
  }
}
.ic-secure {
  display: inline-block;
  background: url('/static/img/global/ic-secure.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  margin:0 3px;
}

.ic-secure.american-express {
  background-position: -20px -4px;
  width: 48px;
  height: 35px;
}

.ic-secure.master-card {
  background-position: -104px -4px;
  width: 48px;
  height: 35px;
}

.ic-secure.net-banking {
  background-position: -10px -54px;
  width: 69px;
  height: 35px;
}

.ic-secure.ssl {
  background-position: -89px -50px;
  width: 79px;
  height: 45px;
}

.ic-secure.visa {
  background-position: -20px -104px;
  width: 48px;
  height: 35px;
}

.ic-secure.card-on-delivery {
  background-position: -88px -104px;
  width: 80px;
  height: 35px;
}

.secure {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding:20px 15px;
  margin-bottom: 30px;
  color: #fff;
}

.secure ul {
  text-align: center;
  display:block;
  list-style-type: none;
  padding:0;
  max-width:960px;
  margin: auto;
}

.secure ul img {
  display: inline-block;
}

.secure ul .card-on-delivery img{
  line-height: 0;
  vertical-align: top;
  margin-top: 4px;
}

.secure ul li > div {
  margin-top: 10px;
}

.secure ul .dmca-badge {
  display: inline-block;
  vertical-align: middle;
  width: 134px!important;
  overflow: hidden;
  margin-top: 4px;
}

.secure ul .dmca-badge img {
  height: 24px;
  top: 1px;
  left: 0;
  position: relative;
}

.secure ul li {
  text-align: center;
  min-width: 200px;
  line-height: 1.4em;
  padding:0;
  font-size: 11px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 10px;
}

.secure ul .ssl-logo {
  position: relative;
  top: 3px;
  height: 25px;
}

@media screen and (max-width:991px) {

  .secure ul .ssl-logo {
    height:18px;
  }

  .secure ul .dmca-badge {
    width: 110px !important;
  }

  .secure ul .dmca-badge img {
    height:21px;
  }

  .secure ul img {
    height: 28px;
    margin-top:5px;
  }

  .secure ul {
    max-width:none;
  }

  .secure ul > li {
    min-width:auto;
    margin: 0 8px 20px;
  }

  .secure ul .ic-secure {
    margin:0 1px;
  }
}
/* social icons css */

.icon-social {
  display: inline-block;
  background: url('/static/img/global/ic-social.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  -webkit-transform:scale(0.85);
          transform:scale(0.85);
}
.icon-social.facebook {
  background-position: -5px -0px;
  width: 24px;
  height: 24px;
  position: relative;
  left: -2px;
  top:-2px;
}
.icon-social.google-plus {
  background-position: -34px -0px;
  width: 24px;
  height: 24px;
}
.icon-social.linkedin {
  background-position: -5px -29px;
  width: 24px;
  height: 24px;
}
.icon-social.twitter {
  background-position: -34px -29px;
  width: 24px;
  height: 24px;
}
.icon-social.youtube {
  background-position: -5px -58px;
  width: 24px;
  height: 24px;
}
.footer-wrapper__social a {
  -webkit-transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.footer-wrapper__social a.facebook {/*$linkColor: #3b5998;*/
  background-color: transparent;
}
.footer-wrapper__social a.facebook:hover {/*background-color: color($linkColor blackness(8%));*/
  background-color: rgba(255,255,255,0.2);
}
.footer-wrapper__social a.twitter {/*$linkColor: #00aced;*/
  background-color: transparent;
}
.footer-wrapper__social a.twitter:hover {/*background-color: color($linkColor blackness(8%));*/
  background-color: rgba(255,255,255,0.2);
}
.footer-wrapper__social a.linkedin {/*$linkColor: #007bb6;*/
  background-color: transparent;
}
.footer-wrapper__social a.linkedin:hover {/*background-color: color($linkColor blackness(8%));*/
  background-color: rgba(255,255,255,0.2);
}
.footer-wrapper__social a.google-plus {/*$linkColor: #dd4b39;*/
  background-color: transparent;
}
.footer-wrapper__social a.google-plus:hover {/*background-color: color($linkColor blackness(8%));*/
  background-color: rgba(255,255,255,0.2);
}
.footer-wrapper__social a.youtube {/*$linkColor: #bb0000;*/
  background-color: transparent;
}
.footer-wrapper__social a.youtube:hover {/*background-color: color($linkColor blackness(8%));*/
  background-color: rgba(255,255,255,0.2);
}
.footer-wrapper__social {
  margin: 16px auto;
  color: rgb(38, 64, 82);
}
.footer-wrapper__social  a {
  border:1px solid rgba(255,255,255,0.7);
  background-color: #fff;
  padding: 12px 0px;
  margin:8px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  text-align: center;
}

/* footer mini css */
.footer-wrapper--small {
  background-color:#fff;
  color:rgba(49,68,81,0.7);
}
.footer-wrapper--small a {
  color:inherit;
}
.footer-wrapper--small a:hover, .footer-wrapper--small a:active, .footer-wrapper--small a:focus {
  color:#314451;
}
.footer-wrapper--small .secure {
  color:inherit;
  border-bottom:none;
  margin-bottom:0px;
}
.footer-wrapper--small .footer-wrapper__finish{
  background-color: transparent;
  padding-top:0;
  margin-top:0;
}
.footer-wrapper--small .copyright {
  color:rgba(49,68,81,0.5);
}
.footer-wrapper--small .license-container .color-w {
  color:#314451;
}
.footer-wrapper--small .divider{
  border-color:rgba(49,68,81,0.2);
}
