/*Breakpoints variables (media queries)*/


/* arrow css mixin */

.ic-social {
  display: inline-block;
  background: url('/static/img/global/ic-social.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.ic-social.facebook {
  background-position: -5px -0px;
  width: 24px;
  height: 24px;
  position: relative;
  top: -2px;
  left: -2px;
}
.ic-social.google-plus {
  background-position: -34px -0px;
  width: 24px;
  height: 24px;
}
.ic-social.linkedin {
  background-position: -5px -29px;
  width: 24px;
  height: 24px;
}
.ic-social.twitter {
  background-position: -34px -29px;
  width: 24px;
  height: 24px;
}
.ic-social.youtube {
  background-position: -5px -58px;
  width: 24px;
  height: 24px;
}
.social-contacts a {
  -webkit-transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.social-contacts a.facebook {
  background-color: #3b5998;
}
.social-contacts a.facebook:hover {
  background-color: rgb(59, 114, 235);
}
.social-contacts a.twitter {
  background-color: #00aced;
}
.social-contacts a.twitter:hover {
  background-color: rgb(0, 172, 235);
}
.social-contacts a.linkedin {
  background-color: #007bb6;
}
.social-contacts a.linkedin:hover {
  background-color: rgb(0, 160, 235);
}
.social-contacts a.google-plus {
  background-color: #dd4b39;
}
.social-contacts a.google-plus:hover {
  background-color: rgb(235, 77, 56);
}
.social-contacts a.youtube {
  background-color: #bb0000;
}
.social-contacts a.youtube:hover {
  background-color: rgb(235, 0, 0);
}
.social-contacts {
  margin: 40px auto 0px;
  color: rgb(38, 64, 82);
  max-width:950px;
}
.social-contacts  a {
  background-color: #fff;
  padding: 20px 0px;
  margin-right:25px;
  margin-bottom:10px;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  display: inline-block;
  text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 991px) {

  .social-contacts {
    text-align: center;
  }

  .social-contacts a {
    margin:0 10px 10px;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {

  .social-contacts a {
    margin: 0 3px 10px;
    height: 45px;
    width: 45px;
    padding: 10px 0;
  }
}
.social-contacts h5 {
  font-size: 16px;
  margin: 0px 0px 5px;
}
.social-contacts .address {
  text-align: left;
  position: relative;
  padding-left:40px;
  margin-bottom:10px;
}
.social-contacts .address i {
  padding: 15px 0px 0px;
  position: absolute;
  background-color:rgba(0,0,0,0.2);
  border-radius: 50%;
  height: 64px;
  width: 64px;
  display: inline-block;
  text-align: center;
  left:-42px;
  top:0px;
}
@media screen and (min-width: 0px) and (max-width: 991px) {

  .social-contacts .address {
    margin: 20px auto;
    max-width: 380px;
    padding-left: 80px;
  }

  .social-contacts .address i {
    left:0px;
  }
}
html, body { 
  position: relative;
  height:100%;
  width:100%;
  padding: 0;
  margin: 0;
}
body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
   color:#324450;
}
.health--top_banner {
  background:url(/static/lp-health/family_health_palns/img/bg.jpg) no-repeat center center;
  padding: 30px 0 10px;
  background-size: cover;
}
.health--top_banner.taxbg{
  background:url(/static/lp-health/tax_save/img/bg.jpg) no-repeat center center;
  height: 470px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {

  .health--top_banner.taxbg {
    background-image: none;
    background-color: #aaa9a5;
    height: auto;
  }
}
.health--top_banner.genericbg{
  background:url(/static/lp-health/health_generic/img/bg.jpg) no-repeat center center;
  height: 470px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {

  .health--top_banner.genericbg {
    background-image: none;
    background-color: #aaa9a5;
    height: auto;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {

  .health--top_banner {
    background-image: none;
    background-color: #aaa9a5;
  }
}
.health--top_banner .terms-msg {
  margin: 10px 0;
  padding: 0px;
  max-width: 500px;
  color: rgba(255,255,255,0.6);
  font-size: 10px;
}
.health--top_banner .terms-msg.txt-term{
  color:#333;
}
.health--top_banner .form-section {
  margin-bottom:0;
}
.health--top_banner .form-section h2 {
  color: #fff;
}
.health--top_banner .sub-heading {
  color: #fff;
  letter-spacing: 2px;
  font-size: 25px;
}
.health--top_banner .number-form {
  background-color: rgba(0,0,0,0.6);
  padding:20px 20px 10px 20px;
  border: 1px solid rgba(0,0,0,0.1);
  max-width: 545px;
  margin:10px auto;
  position: relative;
  border-radius: 3px;
}
.health--top_banner .number-form .input-group-addon {
  border-color:rgba(0,0,0,0.4);
}
.health--top_banner .number-form.generic--form{
  background-color: rgba(255,255,255,0.7);
}
.health--top_banner .number-form.generic--form h2{
  color:#333;
}
@media screen and (min-width: 0px) and (max-width: 991px) {

  .health--top_banner .number-form.generic--form h2 {
    font-size: 22px;
  }
}
.health--top_banner .number-form.generic--form h3{
  color:#333;
  font-size: 21px;
  font-weight: 400;
}
@media screen and (min-width: 0px) and (max-width: 991px) {

  .health--top_banner .number-form.generic--form h3 {
    font-size: 16px;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {

  .health--top_banner .number-form.generic--form h3 {
    font-size: 13px;
  }
}
.health--top_banner .number-form h2{
  color:#fff;
  font-weight: 400;
  margin:0 0 20px;
  font-size: 30px;
  line-height: 1.2em;
}
@media screen and (min-width: 0px) and (max-width: 767px) {

  .health--top_banner .number-form h2 {
    font-size: 20px;
    margin: 0 0 10px;
  }
}
.health--top_banner .number-form h3{
  color:#fff;
  font-weight: 300;
  margin:0 0 20px;
  font-size: 18px;
  line-height: 1.2em;
}
@media screen and (min-width: 0px) and (max-width: 767px) {

  .health--top_banner .number-form h3 {
    font-size: 13px;
  }
}
.health--top_banner .number-form input {
  border-color: rgba(0,0,0,0.4);
  height:58px;
  padding:16px;
}
.health--top_banner .number-form .btn-cfox {
  width: 100%;
  display: block;
  text-align: center;
  cursor: pointer;
  border-color:rgba(0,0,0,0.1);
  margin-top: 10px;
}
.health--top_banner .number-form .loading-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 50px 12px 9px;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  border-radius: 3px;
  z-index: 3;
  text-align: center;
  color: #991919;
  font-size: 20px;
  letter-spacing: 2px;
  display: none;
}
.health--top_banner .number-form .loading-box img {
  margin-right:10px;
}
.health--top_banner .number-form .loading-box.reveal {
  display: block;
}
.health--top_banner .number-form .error {
  padding:8px 8px 6px 32px;
  background-color:#ec971f;
  color:#991919;
  position: absolute;
  top:100%;
  left:10%;
  margin-top:-10px;
  min-width:80%;
  font-weight: bold;
  display: none;
  z-index:100;
  border-radius: 3px;
}
.health--top_banner .number-form .error .glyphicon {
  margin-right:10px;
  position: absolute;
  left: 8px;
  top: 10px;
  font-size: 16px;
  color:rgba(0,0,0,0.6);
}
.health--top_banner .number-form .error:before {
  position: absolute;
  top:-20px;
  left:30px;
  border: 10px solid transparent;
  border-bottom-color: #ec971f;
  content: '';
  display: block;
}
.health--top_banner .number-form .error.reveal {
  display: block;
}
.health--top_banner .lowest--price{
  max-width: 545px;
  margin: auto;
}
.health--top_banner .lowest--price .btn--txt{
  max-width: 100%;
  background-color: #ff6127;
  padding: 20px;
  border-radius: 20px;
  color:#fff;
  font-size:25px;
  margin: 35px 0 0;
}
@media screen and (min-width: 0px) and (max-width: 1199px) {

  .health--top_banner .lowest--price .btn--txt {
    font-size: 18px;
    margin: 20px 0 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {

  .health--top_banner .lowest--price .btn--txt {
    margin: 5px 0 0;
    font-size: 14px;
    padding: 10px;
    text-align: center;
  }
}
.health--top_banner .hun--price{
  position: absolute;
  top: 75%;
  left: -24%;
}
@media screen and (min-width: 0px) and (max-width: 991px) {

  .health--top_banner .hun--price {
    top: 75%;
    left: -20%;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {

  .health--top_banner .hun--price {
    top: 89%;
    right: 6%;
    left: 0;
  }
}
.health--top_banner .hun--price img{
  max-width: 140px;
}
@media screen and (min-width: 0px) and (max-width: 991px) {

  .health--top_banner .hun--price img {
    max-width: 106px;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {

  .health--top_banner .hun--price img {
    max-width: 66px;
  }
}
.smart--comparison{
  background-color: #ededed;
  padding: 50px 0;
  text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 767px) {

  .smart--comparison {
    padding: 10px 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {

  .smart--comparison .smart--comarison_section {
    padding: 15px;
  }
}
.smart--comparison .smart--comarison_section h2{
  text-align: left;
  margin: 0 0 30px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {

  .smart--comparison .smart--comarison_section h2 {
    font-size: 22px;
  }
}
.smart--comparison .smart--comarison_section .circle{
  width:160px;
  height: 160px;
  padding-top: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
}
.smart--comparison .smart--comarison_section .circle img{
  max-width: 65px;
}
.smart--comparison .smart--comarison_section p{
  font-size:20px;
  line-height: 1.2em;
  margin: 20px 0;
  color:#324450;
}
@media screen and (min-width: 0px) and (max-width: 767px) {

  .smart--comparison .smart--comarison_section p {
    font-size: 15px;
  }
}

