/*Breakpoints variables (media queries)*/


/* arrow css mixin */
/*!
 * Bootstrap v3.3.1 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=70068a957a25a1a1ae4f)
 * Config saved to config.json and https://gist.github.com/70068a957a25a1a1ae4f
 */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden], template {
  display: none;
}
a {
  background-color: transparent;
}
a:active, a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b, strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled], html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td, th {
  padding: 0;
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover, a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
  font-size: 65%;
}
h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small, h4 .small, .h4 .small, h5 .small, .h5 .small, h6 .small, .h6 .small {
  font-size: 75%;
}
h1, .h1 {
  font-size: 36px;
}
h2, .h2 {
  font-size: 30px;
}
h3, .h3 {
  font-size: 24px;
}
h4, .h4 {
  font-size: 18px;
}
h5, .h5 {
  font-size: 14px;
}
h6, .h6 {
  font-size: 12px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}
small, .small {
  font-size: 85%;
}
mark, .mark {
  background-color: #fcf8e3;
  padding: .2em;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #337ab7;
}
a.text-primary:hover {
  color: #286090;
}
.text-success {
  color: #3c763d;
}
a.text-success:hover {
  color: #2b542c;
}
.text-info {
  color: #31708f;
}
a.text-info:hover {
  color: #245269;
}
.text-warning {
  color: #8a6d3b;
}
a.text-warning:hover {
  color: #66512c;
}
.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}
.bg-primary {
  color: #fff;
  background-color: #337ab7;
}
a.bg-primary:hover {
  background-color: #286090;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul, ol ul, ul ol, ol ol {
  margin-bottom: 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt, dd {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dl-horizontal dd {
    margin-left: 180px;
  }
}
abbr[title], abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer, blockquote small, blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777777;
}
blockquote footer:before, blockquote small:before, blockquote .small:before {
  content: '\2014 \00A0';
}
.blockquote-reverse, blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
.blockquote-reverse footer:before, blockquote.pull-right footer:before, .blockquote-reverse small:before, blockquote.pull-right small:before, .blockquote-reverse .small:before, blockquote.pull-right .small:before {
  content: '';
}
.blockquote-reverse footer:after, blockquote.pull-right footer:after, .blockquote-reverse small:after, blockquote.pull-right small:after, .blockquote-reverse .small:after, blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table;
}
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important;
}
.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs, td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm, td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md, td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg, td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print, td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
.btn{
	font-size: 16px;
	padding:10px 15px;
	border-radius: 3px;
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	display: inline-block;
}
.btn:empty{
  display:none;
}

.btn--orange{
	background: #FF704C;
	color:#fff;
	border: 1px solid rgb(242, 106, 72);

}

.btn--orange:hover, .btn--orange:active{
  background:rgb(242, 106, 72);
  text-decoration: none;
  color:#fff;
}

.btn--empty{
	background: transparent;
	border: 1px solid #314451;
	color: #314451;
}

.btn--empty:hover, .btn--empty:active{
  background:#efeff4;
  color: #314451;
  text-decoration: none;
}

.btn--empty.btn--orange{
  color:#FF704C;
  border: 1px solid rgb(242, 106, 72);
}

.btn--empty.btn--orange:hover, .btn--empty.btn--orange:active{
  color: #fff;
}

.btn--extrasmall{

}

.btn--small{

}

.btn--medium{

}

.btn--large{
    font-size: 18px;
    padding: 15px;
}
.btn--block {
	display: block;
	width: 100%;
}




.w--button{
	font-size: 13px;
	padding:10px 15px;
	border-radius: 3px;
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
}




.w--button:empty{
  display:none;
}

.w--button--orange{
	background: #FF704C;
	color:#fff;
	border: 1px solid rgb(242, 106, 72);
}

:not(.loading).w--button--orange:hover, :not(.loading).w--button--orange:active{
  background:rgb(242, 106, 72);
  text-decoration: none;
  color:#fff;
}

.w--button--orange .w--spinner > div{
  background: #fff;
}

.w--button--orange.loading, .w--button--orange.loading:hover{
  border:none;
  background: -webkit-linear-gradient(180deg, #ff594f, #ff7344, #ff704c);
  background: linear-gradient(270deg, #ff594f, #ff7344, #ff704c);
  background-size: 200% 200%;
  -webkit-animation: orangeGradientAnim 1.4s ease infinite;
  animation: orangeGradientAnim 1.4s ease infinite;
}

.w--button--large{
	height:48px;
	width:140px;
}

.w--button--link{
	background-color: transparent;
	border:none;
	text-transform: none;
	letter-spacing: 0px;
	color:#42B1FD;
}

.w--button--link:hover{
  color:#314451;
}

.w--button--empty{
	background: transparent;
	border: 1px solid #314451;
	color: #314451;
}

.w--button--empty:hover, .w--button--empty:active{
  background:#efeff4;
  color: #314451;
  text-decoration: none;
}

.w--button--empty.w--button--orange{
  color:#FF704C;
  border: 1px solid rgb(242, 106, 72);
}

.w--button--empty.w--button--orange:hover, .w--button--empty.w--button--orange:active{

}

.w--button--thin{
	padding:5px 10px;
}
.w--button:disabled {
    opacity: .6;
}
.w--button.not-allowed {
	cursor: not-allowed;
}
.w--spinner {
  width: 70px;
  text-align: center;
  margin: 0 auto;
}

.w--spinner.narrow{
  width:48px;
}

.w--spinner > div {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  background-color: #314451;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.w--spinner.white > div{
  background: #fff;
}

.w--spinner.orange > div{
  background: #FF704C;
}

.w--spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.w--spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@-webkit-keyframes orangeGradientAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes orangeGradientAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.ic-social {
  display: inline-block;
  background: url('/static/img/global/ic-social.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.ic-social.facebook {
  background-position: -5px -0px;
  width: 24px;
  height: 24px;
  position: relative;
  top: -2px;
  left: -2px;
}
.ic-social.google-plus {
  background-position: -34px -0px;
  width: 24px;
  height: 24px;
}
.ic-social.linkedin {
  background-position: -5px -29px;
  width: 24px;
  height: 24px;
}
.ic-social.twitter {
  background-position: -34px -29px;
  width: 24px;
  height: 24px;
}
.ic-social.youtube {
  background-position: -5px -58px;
  width: 24px;
  height: 24px;
}
.social-contacts a {
  -webkit-transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.social-contacts a.facebook {
  background-color: #3b5998;
}
.social-contacts a.facebook:hover {
  background-color: rgb(59, 114, 235);
}
.social-contacts a.twitter {
  background-color: #00aced;
}
.social-contacts a.twitter:hover {
  background-color: rgb(0, 172, 235);
}
.social-contacts a.linkedin {
  background-color: #007bb6;
}
.social-contacts a.linkedin:hover {
  background-color: rgb(0, 160, 235);
}
.social-contacts a.google-plus {
  background-color: #dd4b39;
}
.social-contacts a.google-plus:hover {
  background-color: rgb(235, 77, 56);
}
.social-contacts a.youtube {
  background-color: #bb0000;
}
.social-contacts a.youtube:hover {
  background-color: rgb(235, 0, 0);
}
.social-contacts {
  margin: 40px auto 0px;
  color: rgb(38, 64, 82);
  max-width:950px;
}
.social-contacts  a {
  background-color: #fff;
  padding: 20px 0px;
  margin-right:25px;
  margin-bottom:10px;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  display: inline-block;
  text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 991px) {
  .social-contacts {
    text-align: center;
  }
  .social-contacts a {
    margin:0 10px 10px;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .social-contacts a {
    margin: 0 3px 10px;
    height: 45px;
    width: 45px;
    padding: 10px 0;
  }
}
.social-contacts h5 {
  font-size: 16px;
  margin: 0px 0px 5px;
}
.social-contacts .address {
  text-align: left;
  position: relative;
  padding-left:40px;
  margin-bottom:10px;
}
.social-contacts .address i {
  padding: 15px 0px 0px;
  position: absolute;
  background-color:rgba(0,0,0,0.2);
  border-radius: 50%;
  height: 64px;
  width: 64px;
  display: inline-block;
  text-align: center;
  left:-42px;
  top:0px;
}
@media screen and (min-width: 0px) and (max-width: 991px) {
  .social-contacts .address {
    margin: 20px auto;
    max-width: 380px;
    padding-left: 80px;
  }
  .social-contacts .address i {
    left:0px;
  }
}

/* variables */
body {
  font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
  background-color: #efeff4;
  color: #314451;
  line-height: 1.6em;
  font-weight: 400;
}
.city_list_data{
  padding: 0 15px;
}
.city_list_data ul{
  margin: 0;
  padding: 0;
}
.city_list_data ul li{
  list-style: none;
  display: inline;
  margin: 0 10px;
}
.city_list_data ul li:first-child{
  margin-left: 0;
}
.city_list_data ul li a{
  color:#0076ff;
}
.city_list_data ul li a:hover{
  color:#ff6127;
}
.hide-overflow{
	overflow:hidden;
}
.mt_select{
  margin-top:20px;
}
.mb_10{
  margin-bottom:10px;
}
.mnone{
	margin: 0;
}
.pnone {
  padding: 0;
}
.prnone{
	padding-right:0;
}
.plnone{
	padding-left:0;
}
a {
  color: #FF704C;
}
a:hover, a:focus, a:active {
  color: #FF704C;
  outline: none;
  text-decoration: none;
}
.btn--brown{
  color:rgba(255,255,255,0.9);
  background-color: #314451;
  border: 1px solid rgb(47, 65, 77);
  box-shadow:none;
}
.btn--brown:hover{
  background: rgb(44, 61, 73);
}
.btn--brown:active{
  background: rgb(44, 61, 73);
}
/* Health form members css */

.widget-form-box {
      padding: 1px 0 0;
      position: relative;
      text-align: left;
}
.widget-form-box ul li{
  font-size: 14px;
}
.widget-form-box .loading-msg {
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      background-color: #fff;
      padding: 100px 20px;
      font-size: 20px;
      color: #314451;
      display: none;
}
.widget-form-box .loading-msg.active {
  display: block;
}
.widget-form-box .loading-msg p {
  margin-top: 20px;
}
.widget-form-box .options ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.widget-form-box .options ul li {
      line-height: 1.4em;
      padding: 7px 10px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      height: 37px;
      min-width:100px;
      vertical-align: bottom;
      display: inline-block;
      position: relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      margin:0px 10px 5px 0px;
      color: rgba(39,35,35,0.76);
      text-align: left;
      border-radius: 3px;
}
.widget-form-box .options ul li label span {
  margin-left:5px;
}
.widget-form-box .options ul li span.age {
  display: none;
  background: transparent;
  border-left:1px solid #dadada;
}
.widget-form-box .options ul li span.age select.has-error {
  color: #FF704C;
}
.widget-form-box .options ul li span.age select {
  background: #fff;
  border: 1px solid transparent;
  width: 100%;
  padding: 5px 10px;
  font-size: 13px;
  color: #314451;
  line-height: 1;
  height: 25px;
  cursor: pointer;
  text-overflow: '';
  text-indent: .1px;
  text-transform: uppercase;
  position: relative;
  z-index: 30;
}
.widget-form-box .options ul li span.age select:hover, .widget-form-box .options ul li span.age select:focus, .widget-form-box .options ul li span.age select:active {
  outline: none;
}
.widget-form-box .options ul li label {
  font-weight: normal;
  font-size: 14px;
}
.widget-form-box .options ul li.selected {
  color: #314451;
}
.widget-form-box .options ul li.selected label {
  font-weight: bold;
}
.widget-form-box .options ul li.selected label span {
  text-transform: capitalize;
}
.widget-form-box .options ul li.selected span.age {
  display: inline-block;
  margin-left: 10px;
}
.widget-form-box .options ul li.add {
  text-align: center;
  text-transform: none;
  display: inline-block;
  margin-right: 10px;
  border-color: #00d9aa;
}
.widget-form-box .options ul li.add:active, .widget-form-box .options ul li.add:hover, .widget-form-box .options ul li.add:focus {
  background-color: #00d9aa;
  color: #fff;
}

.widget-form-box .gender-radio label {
  color:#5a6974;
  font-size: 14px;
  margin:0 16px 10px 0;
  font-weight: normal;
}

.widget-form-box .error {
  padding: 0px;
  position: relative;
  top: -10px;
  font-size: 12px;
  font-weight: 400;
  color: #ff0000;
  background-color: transparent;
}

.widget-form-box .add-kids, .widget-form-box .self-options {
  margin-top:10px;
}

.widget-form-box .add-kids {
  margin-bottom: 10px;
}

.widget-form-box .options ul li span.age select {
  padding-top:0;
  padding-bottom: 0;
}

/* Home page css */

h1 {
  font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
  font-size: 44px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin: 0 0 5px;
}
p.sub-title {
  font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
  font-size: 20px;
  color: rgba(255,255,255,0.7);
  text-align: center;
  font-weight: 300;
}
h2 {
  font-family:'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
  font-size: 40px;
  font-weight: 300;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 20px;
}
p.leader {
  font-size: 18px;
}
p.leader-2 {
  font-size: 18px;
  line-height: 1.8em;
}
.read-more{
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px 5px;
  font-size: 13px;
}
p, h3, h4 {
  font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
  font-weight: 300;
  line-height: 1.6em;
}
#mini-top-bar, #top-bar {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

#hero-section {
  position: relative;
}

#hero-section:before {
  display: block;
  content: '';
  z-index: -1;
  position: absolute;
  background-color: #314451;
  top:0;
  left: 0;
  right:0;
  height:234px;
}


.hero-form {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /*background-color:#214150;*/
  background-color:#314451;
  border-radius: 3px;
  margin: 15px auto 50px;
  max-width: 1040px;
}


.hero-form .hint {
  margin: -26px 4px 16px;
  text-align: right;
  font-size: 11px;
  color: #98a1a8;
}


.hero-form .sm-label {
  font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
  color: #5a6974;
  letter-spacing: 1px;
  font-size:12px;
  font-weight: 400;
  display: block;
  margin:8px 4px 0px;
  text-transform: uppercase;
}


.hero-form .sm-label-a {
  display: block;
  margin: 0 0 10px;
}


.hero-form ul.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #FF704C;
  text-align: center;
}


.hero-form ul.tabs li {
  min-width: 100px;
  display: inline-block;
  padding: 10px 20px 6px;
  border-bottom: 2px solid transparent;
  font-size: 14px;
}


.hero-form ul.tabs li .ic-insurance {
  display: block;
  margin: 5px auto -2px;
}


.hero-form ul.tabs li:hover {
  background-color: #efeff4;
  cursor: pointer;
}


.hero-form ul.tabs li.active {
  color: #FF704C;
  border-bottom-color: #FF704C;
}


.hero-form .btn--large {
  margin-top: 4px;
  width: 220px;
}


.hero-form .product-form-item {
  padding: 32px 48px 48px 64px;
  display: none;
  min-height: 393px;
}


.hero-form .product-form-item h5 {/* text-transform: uppercase; */
  color: rgba(49,68,81,0.7);
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 32px;/* letter-spacing: 1px; */
  font-weight: 300;
}


.hero-form .product-form-item.reveal {
  display: block;
  position: relative;
}


.hero-form .product-form-item.reveal:before {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  content:'Please wait...';
  position: absolute;
  display: block;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:url('/static/img/home/loading-big.gif') no-repeat center 70px #fff;
  z-index: -1;
  padding-top: 130px;
  text-align: center;
  color: #666666;
  letter-spacing: 2px;
}


.hero-form .product-form-item.reveal.loading:before {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  z-index: 10;
}


@media screen and (min-width: 0px) and (max-width: 991px) {
  .hero-form .product-form-item {
    padding-bottom: 50px;
  }
}
.tail-message {
  padding:15px 30px 30px;
  color:#999999;
  font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  width:100%;
  position: relative;
  z-index: 1;
  min-height: 457px;
}
.tail-message h4 {
  font-size: 24px;
  color: rgba(255, 112, 76, 0.1);
  font-weight: 400;
}
.tail-message #display-banner, .tail-message #festive-banner {
  display: none;
  position: absolute;
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  border-radius:  0 4px 4px 0;
}
.tail-message #display-banner.reveal, .tail-message #festive-banner.reveal {
  display: block;/*background-image: url('/static/img/home/rightcol_musibat.jpg');*/
}
.tail-message #display-banner a, .tail-message #festive-banner a {
  position: absolute;
  display: block;
  width: 100%;
  height:100%;
  cursor: pointer;
}
@media screen and (max-width:1199px){
  .tail-message #display-banner, .tail-message #festive-banner {
    background-size: 100%;
    -webkit-background-size: 100%;
  }
}
#hero-section.hero-section--festive .tail-message #display-banner {
  display: none;
  visibility: hidden;
  opacity: 0;
}
#hero-section.hero-section--festive .hero-form {
  background-color: #010101;
}
#hero-section.hero-section--festive .hero-form #festive-banner {
  display: block;/*background-image: url('/static/img/home/banners/floods-right-card.jpg');
      background-color: $festiveBg;*/
}
#hero-section.hero-section--festive .hero-form .small-banner {
  background: url('/static/img/home/banners/floods-top-banner.jpg') no-repeat top center #010101;
  background-size: 100%;
  position: relative;
}
#hero-section.hero-section--festive .hero-form .small-banner img {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.dash-seperate {
  background-color: #fff;
  border-radius:3px 0 0 3px;
}
@media screen and (min-width: 0px) and (max-width: 991px) {
  .dash-seperate {
    border-radius: 3px;
  }
}

.section {
  padding:30px 0 50px;
}

.section h2 {
  text-align: center;
  color: #314451;
}

.section h3 {
  margin:15px 0px 20px;
  text-align: center;
}

.section h3 p {
  font-size: 16px;
  margin-top:10px;
}

.section h3 a {
  text-transform: uppercase;
  font-weight: 400;
  padding: 0px 5px;
  font-size: 13px;
}

.section .sub-link-heading {
  font-size: 20px;
  margin: 20px 0px 10px;
  text-align: center;
}

.section .sub-link-heading a {
  text-transform: uppercase;
  font-weight: 400;
  padding: 0px 5px;
  font-size: 13px;
}

.section.dark {
  background-color: #E6E6ED;
}
.section.light {
  background-color: #ffffff;
}

.lead-block {
  background-color: #FF7E5E;
  padding: 40px 0 50px;
  color: #fff;
}

.lead-block .error {
  display: block;
  font-size: 12px;
  margin-top:-5px;
}

.lead-block h3 {
  text-align: center;
  margin: 0px 0px 25px;
}

.lead-block .form-row {
  max-width: 767px;
  margin: auto;
}

.lead-block .form-row.l-form {
  max-width: 991px;
}

@media screen and (min-width: 0px) and (max-width: 991px) {
  .lead-block .form-row.l-form {
    max-width: 500px;
  }
}

.lead-block label {
  font-size: 28px;
  font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
  font-weight: 400;
  text-align: center;
  display: block;
  padding: 12px 0px;
  margin-bottom: 10px;
}

.core-row
{
  margin-top: 70px;
}
.core-row-box
{
  position: relative;
  display: block;
  width: 100%;
  margin: 50px auto 70px;
}
.core-row-box img {
  display: block;
  margin: auto;
  max-width:630px;
  width:100%;
  height:auto;
  border : 1px solid #BCBCC4;
  box-shadow:0px 2px 6px rgba(0,0,0, 0.25);
}
.core-row-box .row-div{
  padding: 20px 0px;
  font-size: 16px;
  color: #4e6c81;
  position: relative;
}
.core-row-box .row-title
  {
  font-size: 20px;
  font-weight:400;
  color:#314451;
}

.vid-row {
  max-width: 1000px;
  margin: auto;
}
.video-article {
  position: relative;
  display: block;
  max-width: 427px;
  width: 100%;
  margin: 10px auto 20px;
}
.video-article img {
  width: 100%;
  display: block;
}
.video-article a > div {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #fff;
  padding: 20px 15px 20px 15px;
  font-size: 18px;
  color: #314451;
  border-radius:0 0 3px 3px;
  position: relative;
}
.video-article .action {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -36px;
}

.blog-carousel {
  width: 715px;
  margin: 20px auto 60px;
  height: 250px;
  position: relative;
  transform: translateZ(0);
  -webkit-transform:translateZ(0);
  -moz-transform:translateZ(0);
  -o-transform:translateZ(0);
  -ms-transform:translateZ(0);
}

.blog-carousel .content {
  position: absolute;
  overflow: hidden;
  height: 200px;
  float: left;
  left:0;
  right:0px;
  top:0px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #fff;
  border-radius: 3px;
  z-index: 2;
}

.blog-carousel .item {
  -webkit-transition: left 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: left 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:100%;
  background-color: #fff;
  z-index: 0;
}

.blog-carousel .item img {
  position: absolute;
  top:-25px;
  left:0px;
  width: 50%;
  display: block;
}

.blog-carousel .item div.c-desc {
  width: 50%;
  position: absolute;
  top: 0;
  right:0;
  bottom: 0;
  padding: 15px 20px;
  background-color: transparent;
  -webkit-transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.blog-carousel .item div.c-desc > span {
  color: #314451;
  position: absolute;
  bottom:10px;
  right:10px;
  padding: 2px 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.blog-carousel .item:hover div.c-desc {
  background-color: #f7f7f5;
}

.blog-carousel .item:hover div.c-desc > span {
  border-color: #FF704C;
  color:#FF704C;
}

.blog-carousel .item h5 {
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 400;
}

.blog-carousel .item p {
  max-height: 80px;
  font-size: 13px;
  font-weight: 400;
  color: rgb(38, 64, 82);
}

.blog-carousel .item a {
  color: #314451;
}

.blog-carousel .item .go-to {
  bottom:10px;
  right:20px;
  position: absolute;
}

.blog-carousel .item.active {
  z-index: 2;
  left: 0;
}

.blog-carousel .item.prev {
  left: -100%;
  z-index: 1;
}

.blog-carousel .handle {
  position: absolute;
  width: 100%;
  bottom:10px;
  text-align: center;
}

.blog-carousel .handle i {
  cursor: pointer;
  border-radius: 30px;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin:0 5px;
  border: 1px solid #a8afb7;
  background-color: #fff;
}

.blog-carousel .handle i.active {
  background-color: #FF704C;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .blog-carousel {
    width: 500px;
  }
  .blog-carousel .item {
    background-color: #314451;
  }
  .blog-carousel .item div.c-desc {
    padding-top: 10px;
    background-color: #fff;
    width: 60%;
  }
  .blog-carousel .item img {
    width: auto;
    height:158px;
    top:0;
    transform: translateY(12.5%);
    -webkit-transform:translateY(12.5%);
    -moz-transform:translateY(12.5%);
    -o-transform:translateY(12.5%);
    -ms-transform:translateY(12.5%);
  }
}

.employee-carousel {
  width: 424px;
  height: 424px;
  float: right;
  position: relative;
  overflow: hidden;
  margin-bottom:-50px;
  transform: translateZ(0);
  -webkit-transform:translateZ(0);
  -moz-transform:translateZ(0);
  -o-transform:translateZ(0);
  -ms-transform:translateZ(0);
}

.employee-carousel .item {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: opacity 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.employee-carousel .item.active {
  opacity: 1;
  visibility: visible;
}

.employee-carousel .item img {
  width: 100%;
  display:block;
}

.employee-carousel .item > div {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  font-size: 13px;
  bottom: 15px;
  width: 100%;
  line-height: 1.4em;
  color: #445f71;
}

.employee-carousel .item h5 {
  margin: 0px 0px 5px;
  font-size: 18px;
  font-weight: 400;
  color: #314451;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .employee-carousel {
    width: 285px;
    height: 425px;
    margin-bottom: 0px;
  }
  .employee-carousel .item > div {
    position: relative;
    bottom: auto;
    top:-50px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .employee-carousel {
    margin: auto;
    width: 310px;
    height: 360px;
    float: none;
  }
}

.illustration-carousel {
  position: relative;
  margin-top: 50px;
  -webkit-transform:translateZ(0);
          transform:translateZ(0);
}

.illustration-carousel .item > img {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left:100%;
  top:50%;
  margin-left:15%;
  -webkit-transform:translateY(-50%);
          transform:translateY(-50%);
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: -1;
}

.illustration-carousel .item > div {
  padding: 5px 15px;
  position: relative;
  background-color: transparent;
}

.illustration-carousel .item.active > div {
  background-color: #f7f6fb;
}

.illustration-carousel .item.active > div:after {
  content: '';
  position: absolute;
  border-width: 20px 30px;
  border-style:solid;
  border-color: transparent transparent transparent #f7f6fb;
  display: block;
  left:100%;
  top:50%;
  -webkit-transform:translateY(-50%);
          transform:translateY(-50%);
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .illustration-carousel .item.active > div:after {
    display: none;
  }
}

.illustration-carousel .item.active > img {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .illustration-carousel .item > img {
    max-width: 320px;
    margin-left: 0%;
  }
  .illustration-carousel .item > div {
    font-size: 14px;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .illustration-carousel {
    margin-top: 0;
  }
  .illustration-carousel .item.active > div {
    background-color: transparent;
  }
  .illustration-carousel .item.active > div:after {
    display: none;
  }
  .illustration-carousel .item > img {
    opacity: 1;
    visibility: visible;
    margin-left:0px;
    left:0;
    top:0;
    -webkit-transform:translateY(0);
            transform:translateY(0);
    position: relative;
    display: block;
    width:360px;
  }
}

.illustration-carousel h5 {
  font-size: 18px;
  margin-bottom: 5px;
}

.sole-testimonial {
  max-width: 600px;
  margin: 50px auto 20px;
  position: relative;
  padding-left: 0px;
  color: #4e6c81;
}

.sole-testimonial p {
  text-indent: 40px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 5px;
}

.sole-testimonial img {
  position: absolute;
  left:0px;
  top:0px;
  display: none;
}

.sole-testimonial .quote {
  background: url('/static/img/home/ic_quote.png') no-repeat center transparent;
  font-size: 72px;
  color: transparent;
  position: absolute;
  width: 25px;
  height:25px;
  top:-15px;
  left: 0px;
}

ul.why-coverfox {
  list-style-type: none;
  padding: 0;
  margin:50px 0px 60px;
  text-align: center;
}

ul.why-coverfox li {
  width: 190px;
  height: 180px;
  margin:10px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.4em;
  vertical-align: top;
  color: #4e6c81;
}

ul.why-coverfox img {
  width: 120px;
  height: 120px;
  background-color:#efeff4;
  border-radius: 50%;
  display: block;
  margin:0 auto 20px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  ul.why-coverfox li {
    width: 160px;
    height: 200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  ul.why-coverfox li {
    width: 120px;
    font-size: 12px;
  }
  ul.why-coverfox img {
    width: 100px;
    height: 100px;
  }
}

ul.insurers {
  list-style-type: none;
  margin: 25px 0px 0px;
  text-align: center;
  padding: 0;
}

ul.insurers li {
  display: inline-block;
  margin:0px;
  vertical-align: middle;
  position: relative;
  width:140px;
  height: 70px;
  overflow: hidden;
}

ul.insurers li .ic-insurer-sm {
  position: absolute;
  left: -3px;
  top: -8px;
}

/* input elements css and overrides */
.cf-input {
  color: #314451;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  height: 54px;
  padding: 10px;
  font-size: 13px;
  border-radius: 3px;
  display: block;
  width: 100%;
}
.cf-input:focus, .cf-input:active {
  outline: none;
}

.input-mobile {
  position: relative;
}

.input-mobile .cf-input {
  padding-left: 40px;
}

.input-mobile:before {
  color: #314451;
  position: absolute;
  z-index: 1;
  width:30px;
  text-align: center;
  top:16px;
  left: 4px;
  content: '+91';
  display: inline-block;
}
.cf-select-dd, .cf-special-ip {
  position: relative;
  margin-bottom: 24px;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 15px 5px 5px;
  height: 53px;
  display: block;
  /*
  &.selected {
    padding-top:20px;
    & label {
      display: block;
    }
  }
  */
}
.cf-select-dd label, .cf-special-ip label {
  visibility: hidden;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  filter:alpha(opacity=0);
  opacity: 0;
  text-transform: uppercase;
  color: rgba(49,68,81,0.7);
  font-size: 10px;
  position: absolute;
  top: 3px;
  left: 17px;
  letter-spacing: 1px;
  z-index: 1;
}
.cf-select-dd .input-mobile, .cf-special-ip .input-mobile {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.cf-select-dd .input-mobile input, .cf-special-ip .input-mobile input {
  padding-left: 40px;
  top:0px;
}
.cf-select-dd .input-mobile:before, .cf-special-ip .input-mobile:before {
  top:15px;
  font-size: 12px;
}
.cf-select-dd input, .cf-special-ip input {
  position: relative;
  top:-3px;
}
.cf-select-dd select, .cf-select-dd input, .cf-special-ip select, .cf-special-ip input {
  background-color: #fff;
  border: 1px solid #fff;
  padding: 4px 15px;
  display: block;
  width: 100%;
  height:100%;
  font-size: 12px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.cf-select-dd select:focus, .cf-select-dd select:active, .cf-select-dd input:focus, .cf-select-dd input:active, .cf-special-ip select:focus, .cf-special-ip select:active, .cf-special-ip input:focus, .cf-special-ip input:active {
  outline: none;
}
.cf-special-ip {
  padding-top: 13px;
  -webkit-transition: padding-top 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: padding-top 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.cf-special-ip .input-mobile:before {
  font-size: 16px;
}
.cf-special-ip  input {
  font-size: 16px;
}
.cf-special-ip.selected {
  padding-top: 20px;
}
.cf-special-ip.selected .input-mobile:before {
  font-size: 12px;
  top:22px;
}
.cf-special-ip.selected  input {
  font-size: 12px;
  padding-top: 18px;
}
.cf-special-ip.selected label{
  visibility: visible;
  filter:alpha(opacity=100);
  opacity: 1;
}

.select-input {
  position: relative;
  color: #314451;
  margin-bottom: 10px;
}

.select-input .triangle {
  cursor: pointer;
  opacity: 0.6;
  z-index: 1;
  display: block;
  position: absolute;
  top:18px;
  right:10px;
  width: 16px;
  height: 16px;
  background: url('/static/img/global/ic_triangle_down.png') no-repeat center center transparent;
}

.select-input.active .triangle {
  transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
}

.select-input > div {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  height: 54px;
  border-radius: 3px;
  padding: 14px 10px 10px;
}

.select-input > div > span {
  color: #999;
}

.select-input ul {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: #fff;
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top:100%;
  left:0;
  right: 0;
  z-index: 10;
}

.select-input ul.dt li {
  padding:5px 10px;
}

.select-input ul li {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding:10px;
  cursor: pointer;
}

.select-input ul li:hover {
  color: #FF704C;
}

.select-input ul li small {
  color:#5a6974;
}

.select-input.active ul{
  display: block;
}

.select2-container.select2-dropdown-open .select2-choice .select2-arrow{/* IE 9 */
  -webkit-transform: rotate(180deg);/* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.select2-container.select2-dropdown-open .select2-choices::after{/* IE 9 */
  -webkit-transform: rotate(180deg);/* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.cf-radio {
  font-size: 14px;
  color: #5a6974;
  display: inline-block;
  margin: 8px 16px 16px 0;
}

.cf-radio input[type='radio']{
  display: none;
}

.cf-radio input[type='radio']:checked + span {
  border-color: #FF704C;
}

.cf-radio input[type='radio']:checked + span:before {
  display: block;
}

.cf-radio > span {
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  margin:-3px 5px 0 0;
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 50%;
  position: relative;
  border: 1px solid rgba(0,0,0,0.2);
}

.cf-radio > span:hover {
  border-color: #FF704C;
}

.cf-radio > span:before {
  display: none;
  content: '';
  width: 10px;
  height:10px;
  background: #FF704C;
  border-radius: 50%;
}

/* hero form css two wheeler/car */
.error-text {
  display: none;
  font-weight: 400;
  color: #ff0000;
  font-size: 12px;
  margin: -20px 0 10px;
}
.vehicle-details, .bike-details {
  margin-top:10px;
}
.registration-details .label {
  font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
  color:#5a6974;
  font-size: 14px;
  font-weight: 400;
  margin-bottom:5px;
  display: inline-block;
}
p.intro {
  font-weight: 400;
  margin: 8px 4px 20px;
  color: #5a6974;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
.exp-process {
  margin-bottom: 30px;
}
.process {
  padding: 6px 5px 10px 33px;
  color: #314451;
  position: relative;
  font-size: 12px;
  line-height: 1.2em;
}
.process strong {
  padding: 6px 10px;
  color: #363636;
  position: absolute;
  margin-right: 5px;
  top: 0;
  font-size: 14px;
  left: 0;
  background-color: #efeff4;
  border-radius: 3px;
}
/* hero form css two wheeler/car end */


.why-sprite{
  margin: 0 auto 30px;
  display:block;
  background: url('/static/img/home/sprites/why-sprite.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.why-sprite.best-savings { background-position: -5px -0px; width: 120px; height: 120px; }
.why-sprite.hasslefree-claims { background-position: -130px -0px; width: 120px; height: 120px; }
.why-sprite.no-spam { background-position: -5px -125px; width: 120px; height: 120px; }
.why-sprite.secure-buy { background-position: -130px -125px; width: 120px; height: 120px; }
.why-sprite.swift-assistance { background-position: -5px -250px; width: 120px; height: 120px; }


.ic-insurance{
  display: inline-block;
  background: url('/static/img/global/ic-insurance.png') no-repeat;
  overflow: hidden; text-indent: -9999px;
  text-align: left;
}

.ic-insurance.ic-bike { background-position: -30px -0px; width: 20px; height: 20px; }
.ic-insurance.ic-car { background-position: -5px -25px; width: 20px; height: 20px; }
.ic-insurance.ic-health { background-position: -55px -75px; width: 20px; height: 20px; }
.ic-insurance.ic-home { background-position: -30px -50px; width: 20px; height: 20px; }
.ic-insurance.ic-travel { background-position: -5px -75px; width: 20px; height: 20px; }
.ic-insurance.ic-life { background-position: -55px -25px; width: 20px; height: 20px; }

.tabs > li.active > .ic-insurance.ic-car, .select-input ul li:hover > .ic-insurance.ic-car {
  background-position: -55px -0px;
  width: 20px;
  height: 20px;
}

.tabs > li.active > .ic-insurance.ic-health, .select-input ul li:hover > .ic-insurance.ic-health {
  background-position: -30px -75px;
  width: 20px;
  height: 20px;
}

.tabs > li.active > .ic-insurance.ic-home, .select-input ul li:hover > .ic-insurance.ic-home {
  background-position: -5px -50px;
  width: 20px;
  height: 20px;
}

.tabs > li.active > .ic-insurance.ic-travel, .select-input ul li:hover > .ic-insurance.ic-travel {
  background-position: -55px -50px;
  width: 20px;
  height: 20px;
}

.tabs > li.active > .ic-insurance.ic-bike, .select-input ul li:hover > .ic-insurance.ic-bike {
  background-position: -5px -0px;
  width: 20px;
  height: 20px;
}

.tabs > li.active > .ic-insurance.ic-life, .select-input ul li:hover > .ic-insurance.ic-life {
  background-position: -30px -25px;
  width: 20px;
  height: 20px;
}

.select-input ul li .ic-insurance {
  margin: -3px 10px 0 0;
  position: relative;
  top:0px;
  vertical-align: middle;
}

.ic-play {
  display: inline-block;
  background: url('/static/img/global/ic_play.png') no-repeat center center transparent;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.ic-play { background-position: -5px -0px; width: 72px; height: 50px; }
.video-article a:hover .ic-play {
  background-position: -5px -55px;
  width: 72px;
  height: 50px;
}
/* new all insurer sprite css begin */
.ic-insurer-sm {
  display: inline-block;
  background: url('/static/img/home/sprites/insurer-logo-sprite-sm.png') no-repeat center center transparent;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.ic-insurer-sm.cigna { background-position: -0px -0px; width: 144px; height: 88px; }
.ic-insurer-sm.liberty { background-position: -0px -88px; width: 144px; height: 89px; }
.ic-insurer-sm.oriental { background-position: -0px -177px; width: 144px; height: 88px; }
.ic-insurer-sm.reliance { background-position: -0px -265px; width: 144px; height: 88px; }
.ic-insurer-sm.religare { background-position: -0px -353px; width: 144px; height: 88px; }
.ic-insurer-sm.universal { background-position: -0px -441px; width: 144px; height: 89px; }
.ic-insurer-sm.apollo { background-position: -0px -530px; width: 143px; height: 89px; }
.ic-insurer-sm.bajaj { background-position: -0px -619px; width: 143px; height: 88px; }
.ic-insurer-sm.bharti { background-position: -0px -707px; width: 143px; height: 88px; }
.ic-insurer-sm.chola { background-position: -0px -795px; width: 143px; height: 89px; }
.ic-insurer-sm.future { background-position: -0px -884px; width: 143px; height: 89px; }
.ic-insurer-sm.hdfc { background-position: -0px -973px; width: 143px; height: 88px; }
.ic-insurer-sm.icicilombard { background-position: -0px -1061px; width: 143px; height: 88px; }
.ic-insurer-sm.iffco { background-position: -0px -1149px; width: 143px; height: 88px;opacity:0.8; }
.ic-insurer-sm.landt { background-position: -0px -1237px; width: 143px; height: 88px; }
.ic-insurer-sm.maxbupa { background-position: -0px -1325px; width: 143px; height: 89px; }
.ic-insurer-sm.newindia { background-position: -0px -1414px; width: 143px; height: 88px; }
.ic-insurer-sm.star { background-position: -0px -1502px; width: 143px; height: 88px;opacity:0.9; }
.ic-insurer-sm.tata { background-position: -0px -1590px; width: 143px; height: 88px; }

/* new all insurer sprite css end */

.btn:disabled {
  opacity:0.6;
  cursor: not-allowed;
}

.modal-overlay {
  display: none;
  z-index: 1001;
  top:0;
  left:0;
  bottom: 0;
  right:0;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-overlay.active {
  display: block;
}

.modal-overlay .modal-content {
  -webkit-transition: top 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: top 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  margin: auto;
  width:90%;
  top:-200%;
}

.modal-overlay.active .modal-content {
  top:80px;
}

.modal-overlay .close-overlay {
  border-radius: 3px;
  width: 90px;
  height: 30px;
  color: #fff;
  position: absolute;
  z-index: 1;
  background: url('/static/img/global/ic_close.png') no-repeat -15px center transparent;
  right: 20px;
  top:20px;
  padding-left: 35px;
  padding-top: 4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.modal-overlay .close-overlay:hover {
  background-color: rgba(255,255,255,0.3);
}
#video-frame iframe {
  margin: auto;
  width:767px;
  height: 431px;
  display: none;
}
#video-frame iframe.reveal {
  display: block;
}

/* select2 element css */
.select2-drop {
  font-size: 12px;
}
.self-options .select2-container .select2-choice, .kids-options .select2-container .select2-choice {
  margin-top: -3px;
  border: none;
  height: 100%;
  border-radius: 0px;
  padding-top: 0px;
  background: transparent;
}
.self-options .select2-container.has-error .select2-choice, .kids-options .select2-container.has-error .select2-choice {
  color: #FF704C;
}
.self-options .select2-container .select2-choice abbr, .self-options .select2-container .select2-choice .select2-arrow, .kids-options .select2-container .select2-choice abbr, .kids-options .select2-container .select2-choice .select2-arrow {
  background: url('/static/img/global/ic_triangle_down.png') no-repeat center transparent;
  border-left:none;
  right: 0px;
  opacity: 0.6;
}
.self-options .select2-container .select2-choice abbr, .kids-options .select2-container .select2-choice abbr {
  background-color: #fff;
  width: 18px;
  height: 100%;
  top: 0;
  position: relative;
}
.cf-select-dd {
  border-radius: 0px;
  border: none;
  padding: 0;
}
.cf-select-dd .select2-container {
  display: block;
  position: absolute;
  width:100%;
  height:100%;
}
.cf-select-dd .select2-container .select2-choice {
  font-size: 12px;
  border: 1px solid rgba(0,0,0,0.2);
  height: 100%;
  border-radius: 3px;
  color: #5a6974;
  padding-top:13px;
  padding-left:16px;
  background: transparent;
  -webkit-transition: padding-top 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: padding-top 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.cf-select-dd.selected .select2-container .select2-choice {
  padding-top:20px;
}
.cf-select-dd.selected label{
  visibility: visible;
  opacity: 1;
  filter:alpha(opacity=100);
}
.cf-select-dd .select2-container.select2-container-active .select2-choice {
  border-color: #5897fb;
}
.cf-select-dd .select2-container .select2-choice abbr, .cf-select-dd .select2-container .select2-choice .select2-arrow {
  background: url('/static/img/global/ic_triangle_down.png') no-repeat center transparent;
  border-left:none;
  right: 5px;
  opacity: 0.6;
}
.cf-select-dd .select2-container .select2-choice abbr {
  background-color: #fff;
  width: 18px;
  height: 100%;
  top: 0;
  position: relative;
}
.cf-select-dd.multi {
  height: auto;
}
.cf-select-dd.multi input {
  position: relative;
  top:-7px;
}
.cf-select-dd.multi .select2-container-multi {
  padding: 0;
  margin: 0;
  position: relative;
  border:none;
}
.cf-select-dd.multi.selected input {
  top:-3px;
}
.cf-select-dd.multi .select2-container-multi .select2-choices {
  border-color: rgba(0,0,0,0.2);
  background-image: none;
  background-color: transparent;
  padding:20px 25px 0 10px;
  min-height: 53px;
  border-radius: 3px;
  cursor:pointer;
  position: relative;
}
.cf-select-dd.multi .select2-container-multi .select2-choices:after {
  content: '';
  display: block;
  background: url('/static/img/global/ic_triangle_down.png') no-repeat center center transparent;
  cursor: pointer;
  width: 10px;
  height: 10px;
  position: absolute;
  opacity: 0.6;
  filter:alpha(opacity=60);
  right:10px;
  top:22px;
}
.cf-select-dd.multi .select2-container-multi.select2-container-active .select2-choices {
  border-color: #5897fb;
}
.cf-select-dd.multi .select2-container-multi .select2-choices .select2-search-choice {
  -webkit-background-image: none;
  -moz-background-image: none;
  -ms-background-image: none;
  -o-background-image: none;
  background-image: none;
  background-color: #efeff4;
  font-size: 12px;
  border-color: rgba(0,0,0,0.2);
  padding-left: 20px;
}
.cf-select-dd.multi .select2-search-choice-close:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(/static/img/global/ic_close_sm.png) no-repeat center center transparent;
}
.cf-select-dd.multi .clear-list {
  position: absolute;
  right:0px;
  font-size: 11px;
  top:0px;
  color: rgba(49, 68, 81, 0.7);
  z-index: 1;
  cursor: pointer;
  text-transform: none;
}
.cf-select-dd.multi .clear-list:hover {
  color: #FF704C;
}
.cf-special-ip.multi-entry {
  padding-left: 0px;
  padding-right:0px;
  padding-bottom: 0px;
  min-height: 53px;
  height: auto;
  border: none;
  padding-top: 22px;
  margin-top: -10px;
}
.cf-special-ip.multi-entry label {
  left: 0;
}
.cf-special-ip.multi-entry input {
  font-size: 12px !important;
  display: inline-block;
  position: relative;
  width:37px;
  height: 37px;
  margin: 4px 2px 0 0;
  padding:2px 4px !important;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 3px;
}
.select2-results li {
  color: #5a6974;
  font-size: 12px;
}
.select2-results .select2-highlighted {
  background: #314451;
  color: #fff;
}
.select2-drop-active {
  /* border-color: rgba(0,0,0,0.2);*/
}
.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 26px;
}

.footer-wrapper-products {
  display: none !important;
}

.f-row {
  margin-top: 38px;
  margin-bottom: 20px;
}

.f-row .select-input > div {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.f-row .select-input .triangle {
  top:11px;
}

.f-row .select-input ul li {
  padding: 8px 10px;
}

.f-row .input-mobile:before {
  top:9px;
}

.f-row .cf-input {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.f-row .error {
  color: #ff0000;
  font-size: 11px;
  top: -8px;
  position: relative;
}

.f-row .btn--brown {
  margin-top: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: transparent;
  height: 40px;
  padding: 8px 10px;
  color: #314451;
  font-size: 16px;
  width:100%;
}

.f-row .btn--brown:not([disabled]):hover, .f-row .btn--brown:not([disabled]):focus, .f-row .btn--brown:not([disabled]):active {
  background-color:#314451;
  color: #fff;
}

.hero_thank_you {
  padding: 60px 0 15px;
  font-size:18px;
  text-align: center;
}

.hero_thank_you h5 {
  margin: 0 0 15px;
  font-size: 22px;
  font-weight: 300;
  color: #314451;
}

.hero_thank_you img {
  display: block;
  opacity: 0.2;
  filter:alpha(opacity=20);
  max-width:120px;
  margin: 0 auto 20px;
}

.cf-radio.r-tab {
  border-radius: 3px;
  background-color: #ffffff;
  border-top:1px solid rgba(0,0,0,0.05);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding:12px 15px;
  margin:0 0 24px;
  cursor: pointer;
  min-height: 82px;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cf-radio.r-tab:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cf-radio.r-tab > span {
  left:-5px;
  position: relative;
}

.cf-radio.r-tab  small {
  margin-top: 3px;
  line-height: 1.4em;
  padding-left: 24px;
  display: block;
  color: #999;
}
.errorBox {
  color: #fff;
  margin-bottom: 15px;
  padding: 5px 15px;
  font-size: 13px;
  background-color: rgba(187, 0, 0, 0.7);
  border-radius: 3px;
}
.subContainer {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #f7f7fa;
  border-radius: 3px;
  overflow: hidden;
  padding: 15px 15px 0;
  margin-right: 15px;
  margin-bottom: 10px;
}

/* small screen banner */
.hero-form .small-banner {/*background: #f7f7fa;*/
  background: #314451;
  min-height: 80px;
  margin: -15px 0 15px;
  position: relative;
}
.hero-form .small-banner a {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.hero-form .small-banner img {
  width: 100%;
  display: block;
}
/* commented heroes video */
/*
.cfox-video-block {
  padding:20px 0px;
  position: relative;
  height: 401px;
  border-bottom: 1px solid rgb(60, 78, 90);
  box-shadow:0px -11px 22px rgba(0, 0, 0, 0.54) inset;
  background: url(/static/img/home/rm-photos/rm-video-bg.jpg) no-repeat center center #000;
  -webkit-background-size: cover;
  background-size: cover;
  @media screen and (min-width: 0px) and (max-width: $break-point-md) {
    height:360px;
  }

  & .hero-social {
    position: absolute;
    top:-7px;
    right:15px;
    z-index:3;
    & a {
      display: inline-block;
      margin-left: 10px;
      opacity: 0.7;
      filter:alpha(opacity=70);
      .transform(scale(0.9));
      &:hover {
        opacity: 1;
        filter:alpha(opacity=100);
      }
    }
  }
  & .hero-teaser {
    opacity: 0;
    filter:alpha(opacity=0);
    visibility: hidden;
    @mixin transition opacity, 0.3s;
    text-align: left;
    position: absolute;
    top: 7px;
    left: 180px;
    z-index: 2;
    width: 250px;
    h5 {
      color: #fff;
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 5px;
    }
    & > span {
      color: #999;
      font-size: 14px;
    }
  }

  & .video-section {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    & .hero-social {
      display: block;
      opacity: 0;
      filter:alpha(opacity=0);
      visibility: hidden;
      @mixin transition opacity, 0.3s;
      top:26px;
    }

    & .hero-vid,& .hero-loader {
      width: 710px;
      height: 400px;
      display: block;
      position:absolute;
      z-index: 2;
      left:50%;
      bottom: 0;
      margin-left:-355px;
      @mixin transition;
      @media screen and (min-width: 0px) and (max-width: $break-point-md) {
        margin-top: 45px;
        width: 560px;
        height: 315px;
        margin-left: -280px;
      }
    }
    & .hero-loader {
      background: url('') no-repeat center center transparent;
      background-image: none;
      opacity: 1;
      filter:alpha(opacity=100);
      text-align: center;
      & #youTube_icon_container {
        color: #fff;
        display: block;
        margin-top: 18%;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
      }
      & img {
        cursor:pointer;
        height: 64px;
        opacity: 0.7;
        filter:alpha(opacity=70);
        @mixin transition opacity, 0.4s;
      }
      & img:hover,& img:active {
        opacity: 1;
        filter:alpha(opacity=100);
      }
      & p {
        font-size: 24px;
        margin: 12px 0 0;
      }
      & span {
        font-size: 16px;
        color: rgba(255,255,255,0.5);
      }
      &.played {
        background: url('/static/img/home/loader-dark.GIF') no-repeat center center #000000;
        & #youTube_icon_container {
          display: none;
        }
      }
      @media screen and (min-width: 0px) and (max-width: $break-point-md) {
        & #youTube_icon_container {
          margin-top: 12%;
        }
      }
    }
    &.fix-top {
      position: fixed;
      height:84px;
      overflow: hidden;
      z-index:1000;
      background-color: rgba(0,0,0,0.8);
      & .hero-teaser,& .hero-social {
        opacity: 1;
        filter:alpha(opacity=100);
        visibility: visible;
      }
      & .hero-vid,& .hero-loader {
        position: absolute;
        margin: 0;
        width:152px;
        height: 84px;
        left: 0;
      }
      & .hero-loader {
        background-color: rgba(39,39,39,1);
        -webkit-background-size: 40px 40px;
        background-size: 40px 40px;
        & #youTube_icon_container {
          margin-top: 12%;
        }
        & img {
          height: 40px;
        }
        & p,& span {
          display: none;
        }
      }
    }
  }
  &:before {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
  }
}
*/

/* Composite overrides */
.social-contacts {
    margin:60px 0 0;
}
@media screen and (max-width: 991px) and (min-width: 0px) {
  .social-contacts {
    text-align: left;
  }
  .social-contacts .address {
    max-width: none;
  }
}

/* Time flipper for TVC videos */
.flip-item{
    display: none;
}
/* banner flipper for TVC canpaign */
#hero-section.hero-section--festive .small-banner{
  display: none;
}
#festive-banner, .festive-small-banner{
  position: relative;
}
#festive-banner img, .festive-small-banner img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0 ;
  visibility: hidden;
  -webkit-transition: opacity 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: opacity 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}
#festive-banner img.active, .festive-small-banner img.active{
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
#festive-banner a, .festive-small-banner a{
  z-index: 2;
}

.festive-small-banner {
    margin: 17px 48px -17px 64px;
    padding-top: 10.5%;
  }

.festive-small-banner a {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}