/*Breakpoints variables (media queries)*/


/* arrow css mixin */
.w--multi_select{
	position: relative;
	cursor: pointer;
	display: inline-block;
	margin-right:15px;
}
.w--multi_select:focus{
	outline: none;
}
.w--multi_select .label_show{
	position: absolute;
	font-size: 10px;
	text-transform: uppercase;
	opacity: 0.7;
	top:10px;
	left:12px;
	letter-spacing: 1px;
}
.w--multi_select .label_hide{
	display: none;
}
.w--multi_select .w--multi_select_handle{
	position: relative;
	border-radius: 3px;
	border: 1px solid rgba(49,68,81,.4);
	padding: 23px 40px 6px 12px;
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.w--multi_select .w--multi_select_handle:hover{
	background: rgba(0,0,0,0.03);
}
.w--multi_select .w--multi_select_handle .dd_placeholder{
	position: absolute;
	top:50%;
	-webkit-transform:translate3D(0,-50%,0);
	        transform:translate3D(0,-50%,0);
}
.w--multi_select .w--multi_select_handle:focus{
	outline: none;
}
.w--multi_select .w--multi_select_dd{
	position: absolute;
	width: 100%;
	background: #fff;
	border-radius:3px;
	padding:0px;
	box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.12);
	z-index:300;
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	-webkit-transform: scaleY(0);
	        transform: scaleY(0);
	opacity:0;
	-webkit-transform-origin: 1% 1%;
	        transform-origin: 1% 1%;
	top:0;
}
.w--multi_select .w--multi_select_dd .w--multi_select_dd_element{
	display: block;
	padding: 5px 23px;
	font-size: 12px;
}
.w--multi_select .w--multi_select_dd .w--multi_select_dd_element:hover{
	background:#efeff4;
}
.w--multi_select .w--multi_select_dd .w--multi_select_dd_element.selected{
	background:#efeff4;
}
.w--multi_select .w--multi_select_dd input{
	padding:8px 9px 8px 34px;
	background:url('/static/img/icons/icon-search.png') no-repeat 9px 7px #fff;
	height:32px;
	border-radius: 3px;
	border:1px solid #42B1FD;
	width: 100%;
	min-width: 100%;
}
.w--multi_select .w--multi_select_dd input:focus{
	outline:none;
}
.w--multi_select .w--multi_select_dd.reveal{
	-webkit-transform: scaleY(1);
	        transform: scaleY(1);
	opacity:1;
	z-index: 1;
}
.w--multi_select .w--multi_select_options{
	width:100%;
	max-height: 300px;
	overflow:hidden;
	overflow: auto;
}
.w--multi_select .w--multi_select_options .w--multi_select_header{
	padding:16px 23px 6px;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
}
.w--multi_select .w--multi_select_options .w--multi_select_footer{
	font-size: 12px;
	padding: 15px;
	opacity: 0.6;
	border-top: 1px solid rgba(0,0,0,0.1);
	background: rgba(231, 234, 238, 0.43);
	margin-top:15px;
}
.w--multi_select .w--multi_select_arrow{/*border-color: rgba(49,68,81,0.4) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	    border-style: solid;
	    border-width: 9px 7px 0;
	    width:0;
	    height:0;*/
	width:16px;
	height:9px;
	background:url('/static/img/icons/icon-dd.png') no-repeat center center transparent;
	content: " ";
	display: block;
	position: absolute;
	right: 10px;
	top: 43%;
}
.w--multi_select .w--error{
	position: absolute;
	padding-left:0;
}
.w--multi_select.single_row_dd .w--multi_select_handle{
	float: left;
	padding:8px;
	padding-left:15px;
	padding-right:40px;
}
.w--multi_select.single_row_dd .w--multi_select_handle .dd_placeholder{
	position: relative;
	top: 0;
	-webkit-transform: translate3D(0,0,0);
	        transform: translate3D(0,0,0);
}
.w--multi_select.single_row_dd .label_show{
	position: relative;
	float: left;
	top:0;
	left:0;
	text-transform: none;
	letter-spacing: 0;
	font-size:14px;
	opacity: 1;
}
.w--multi_select.single_row_dd .selected_items{
	opacity: 0.7;
	float: left;
	margin-left: 6px;
}
.w--multi_select .w--multi_group_header {
	color: #999;
	padding:17px 23px 8px;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	text-align:left;
	position:relative;
}
.w--multi_select .w--multi_group_header .hb {
	background-color:#fff;
	padding:0 5px;
	position:relative;
	left:-5px;
	z-index:1;
}
.w--multi_select .w--multi_group_header:before {
	content:'';
	display:block;
	background-color:#efeff4;
	height:1px;
	width:100%;
	position:absolute;
	top:24px;
	left:0;
	z-index:0;
}
.w--multi_select .w--multi_select_keyword {
	margin:6px 14px 0;
}
.w--multi_select .w--multi_select_keyword.no_icon input {
	background-image:none;
	padding-left:9px;
}



.fullWidthBackground {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}
.flex-container {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start
}
.btn {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    font-size: 16px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 200ms cubic-bezier(0.25, .8, .25, 1);
    transition: all 200ms cubic-bezier(0.25, .8, .25, 1)
}
.btn.small {
    font-size: 10px;
    box-shadow: none;
    padding: 3px 5px;
    margin-left: 5px
}
.btn:hover {
    text-decoration: none;
    color: #fff
}
.btn.blue {
    color: #fff;
    background-color: #1aa2d8;
    border: 1px solid #1791c1
}
.btn.blue:hover {
    background: #1791c1
}
.btn.blue:active {
    background: #1580aa
}
.btn.blue.empty {
    background: 0 0;
    color: #1aa2d8;
    border: 1px solid #1aa2d8
}
.btn.blue.empty:hover {
    background: #1aa2d8;
    color: #fff
}
.btn.orange-flat {
    box-shadow: none;
    color: #fff;
    background-color: #ff6127;
    border: 1px solid #ff4e0d
}
.btn.orange-flat:hover {
    background: #ff4e0d
}
.btn.orange-flat:active {
    background: #f34100
}
.btn.orange-flat.empty {
    background: 0 0;
    color: #ff6127;
    border: 1px solid #ff6127
}
.btn.orange-flat.empty:hover {
    background: #ff6127;
    color: #fff
}
.btn.btn-inline-label {
    font-size: 22px;
    padding-top: 20px;
    border-radius: 3px
}
.btn.grey {
    box-shadow: none;
    color: #314451
}
.btn.grey:hover {
    background: #e0e0ea
}
.btn.grey:active {
    background: #d1d1df
}
.btn.muted-green {
    background-color: #00d9aa;
    border: 1px solid #00c096
}
.btn-inline-label {
    position: relative
}
.btn-inline-label .btn-label {
    position: absolute;
    top: 5px;
    right: 15px;
    color: #fff;
    opacity: .8;
    font-size: 15px
}
.btn-inline-label .frequency {
    position: absolute;
    top: 100%;
    right: 0px;
    color: #314451;
    opacity: .7;
    font-size: 12px;
}
.header-wrapper {
    height: 64px;
    background: #314451;
    color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 16px;
    z-index: 1400;
}
.header-wrapper .page-title {
    opacity: 0.7;
}
.header-wrapper .page-title:before {
    background-image: url(/static/img/icons/right-arrow-white.png);
}
.bar-text {
    font-size: 16px;
    line-height: 64px;
    position: relative;
    font-weight: 300;
    opacity: 1;
    padding-right: 30px
}
.logo {
    line-height: 60px;
    cursor: pointer
}
.logo img {
    height: 24px;
    margin-left: 8px
}
* {
    min-width: 0
}
body.modal-open {
   overflow: hidden;
}
ul.no-bullet-list {
    padding: 0;
    list-style-type: none
}
ul.no-bullet-list.light li {
    color: rgba(255, 255, 255, .6)
}
.disclaimer-block-wrapper {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    margin-top: 20px
}
.disclaimer-block-wrapper .disclaimer-block {
    width: 700px;
    text-align: center
}
.contact-card-wrapper {
    margin-top: 20px;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start
}
.contact-card-wrapper .contact-card {
    padding: 20px;
    border: 1px solid #dadae5;
    border-radius: 3px;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start
}
.contact-card-wrapper .contact-card .contact-card-inner {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    border-radius: 3px;
    background: #fff
}
.contact-card-wrapper .contact-card .contact-card-inner>div {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    padding: 15px
}
.contact-card-wrapper .contact-card .contact-card-inner>div h2 {
    font-size: 20px;
    margin: 0
}
.contact-card-wrapper .contact-card .contact-card-inner>div p {
    opacity: .5;
    margin-top: 5px
}
.contact-card-wrapper .contact-card .contact-card-inner>div.contact-phone {
    border-left: 1px solid rgba(0, 0, 0, .05)
}
body, h1, h2, h3, h4, h5, h6 {
    font-family: Lato, 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
    color: #314451
}
body {
    background-color: #efeff4;
    padding-bottom:300px;
}
.body-bg, .body-bg-blurred {
    opacity: 0.5;
    filter:alpha(opacity=50);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(/static/img/life/home-bg-blurred.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1
}
.plnone {
    padding-left: 0
}
.pnone {
    padding: 0
}
.prnone {
    padding-right: 0
}
.error p {
    color: #fff;
    background: red;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 12px;
    display: inline-block
}
.error-elem-bg {
    margin-top: 20px
}
.error-elem-bg p {
    color: #fff;
    background: red;
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 12px;
    display: inline-block
}
.non-resident-block {
    width: 300px;
    padding: 15px;
    margin-bottom: 25px;
    margin-top: 0;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    border-radius: 3px;
    min-height: 83px
}
.non-resident-block .controlgroup {
    width: 100%;
    float: left;
    margin-bottom: 17px
}
.submit-btn {
    color: #fff;
    background: #ff6127;
    border: 1px solid #f34100;
    font-size: 20px;
    border-radius: 3px;
    padding: 10px 15px;
    outline: 0;
    -webkit-transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    transition: all .5s cubic-bezier(0.25, .8, .25, 1)
}
.submit-btn:hover {
    background: #ff4e0d
}
.submit-btn:active {
    background: #e93f00
}
.submit-btn.disabled {
    pointer-events: none;
    opacity: .6
}
.single-trip-duration {
    padding-top: 10px
}
.single-trip-duration .days {
    background: #314451;
    color: #fff;
    padding: 0 5px
}
.app-container {
    margin-top: 100px;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start
}
.app-container .app-quote-form {
    background: rgba(239, 239, 244, .95);
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    padding: 0 15px 20px;
    width: 585px
}
.app-container .app-quote-form h1 {
    text-align: center;
    font-weight: 300;
    font-size: 30px
}
.app-container .control-container {
    padding-top: 15px;
    paddin-bottom: 15px
}
.app-container h3.control-title {
    font-size: 13px;
    opacity: .6;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 3px
}
.app-container .traveler-age {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .2)
}
.app-container .traveler-age-small {
    padding: 5px;
    margin-right: 10px;
    width: 40px;
    text-align: center
}
.control-inner-row {
    margin-bottom: 15px
}
.controlgroup.radio.horizontal .radio-control {
    float: left;
    position: relative;
    padding-left: 32px;
    cursor: pointer
}
.controlgroup.radio.horizontal .radio-control .desc {
    display: block;
    font-size: 12px;
    opacity: .7
}
.controlgroup.radio.horizontal .radio-control:before {
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 1px solid rgba(49, 68, 81, .85);
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.controlgroup.radio.horizontal .radio-control.selected:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 32px;
    left: 6px;
    background: #ff6127;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.controlgroup.radio.small .radio-control {
    margin-right: 20px
}
.controlgroup.radio.small .radio-control:before {
    width: 20px;
    height: 20px
}
.controlgroup.radio.small .radio-control.selected:after {
    width: 12px;
    height: 12px;
    left: 4px
}
.controlgroup.radio.boxed .radio-control {
    width: 200px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    background: #fff;
    padding-left: 60px;
    margin-right: 15px;
    -webkit-transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    border-radius: 3px
}
.controlgroup.radio.boxed .radio-control:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}
.controlgroup.radio.boxed .radio-control:before {
    left: 15px;
    top: 9px;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}
.controlgroup.radio.boxed .radio-control.selected:after {
    left: 21px;
    top: 15px;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}
.Select {
    position: relative
}
.Select-control {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    border-radius: 3px;
    cursor: default;
    outline: 0;
    padding: 10px 30px 10px 10px
}
.Select-control:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}
.is-searchable.is-open>.Select-control {
    cursor: text
}
.is-open>.Select-control {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #fff;
    border-color: #b3b3b3 #ccc #d9d9d9
}
.is-open>.Select-control>.Select-arrow {
    border-color: transparent transparent #999;
    border-width: 0 5px 5px
}
.is-searchable.is-focused:not(.is-open)>.Select-control {
    cursor: text
}
.is-focused:not(.is-open)>.Select-control {
    border-color: #08c #0099e6 #0099e6;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1), 0 0 5px -1px rgba(0, 136, 204, .5)
}
.Select-placeholder {
    padding: 10px 30px 10px 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: -15px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.has-value>.Select-control>.Select-placeholder {
    color: #333
}
.Select-input>input {
    cursor: default;
    background: none transparent;
    border: 0 none;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    outline: 0;
    display: inline-block;
    -webkit-appearance: none
}
.is-focused .Select-input>input {
    cursor: text
}
.Select-control:not(.is-searchable)>.Select-input {
    outline: 0
}
.Select-loading {
    -webkit-animation: Select-animation-spin 400ms infinite linear;
    animation: Select-animation-spin 400ms infinite linear;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-right-color: #333;
    display: inline-block;
    position: relative;
    margin-top: -8px;
    position: absolute;
    right: 30px;
    top: 50%
}
.has-value>.Select-control>.Select-loading {
    right: 46px
}
.Select-clear {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 6px 10px;
    position: absolute;
    right: 17px;
    top: 0
}
.Select-clear:hover {
    color: #c0392b
}
.Select-clear>span {
    font-size: 1.1em
}
.Select-arrow-zone {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    cursor: pointer
}
.Select-arrow {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: " ";
    display: block;
    height: 0;
    margin-top: -ceil(2.5px);
    position: absolute;
    right: 10px;
    top: 19px;
    width: 0;
    cursor: pointer
}
.Select-menu-outer {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 260px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2000;
    -webkit-overflow-scrolling: touch
}
.Select-menu {
    max-height: 250px;
    overflow-y: auto
}
.Select-option {
    box-sizing: border-box;
    color: #666;
    cursor: pointer;
    display: block;
    padding: 8px 10px
}
.Select-option:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}
.Select-option.is-focused {
    background-color: #fff6f3;
    color: #333
}
.Select-option.is-disabled {
    color: #ccc;
    cursor: not-allowed
}
.Select-noresults {
    box-sizing: border-box;
    color: #999;
    cursor: default;
    display: block;
    padding: 8px 10px
}
.Select.is-multi .Select-control {
    padding: 4px 30px 4px 3px
}
.Select.is-multi .Select-input {
    vertical-align: middle;
    border: 1px solid transparent;
    margin: 2px;
    padding: 3px 0
}
.Select-item {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ff6127;
    color: #ff6127;
    display: inline-block;
    font-size: 1em;
    margin: 2px
}
.Select-item-icon, .Select-item-label {
    display: inline-block;
    vertical-align: middle
}
.Select-item-label {
    cursor: default;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    padding: 3px 5px
}
.Select-item-label .Select-item-label__a {
    color: #08c;
    cursor: pointer
}
.Select-item-icon {
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #ff6127;
    padding: 2px 5px 4px
}
.Select-item-icon:hover, .Select-item-icon:focus {
    background-color: #fff6f3;
    color: #ff6127
}
.Select-item-icon:active {
    background-color: #ffd1c0
}
.Select.is-multi.is-disabled .Select-item {
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    color: #888
}
.Select.is-multi.is-disabled .Select-item-icon {
    cursor: not-allowed;
    border-right: 1px solid #d9d9d9
}
.Select.is-multi.is-disabled .Select-item-icon:hover, .Select.is-multi.is-disabled .Select-item-icon:focus, .Select.is-multi.is-disabled .Select-item-icon:active {
    background-color: #f2f2f2
}
@keyframes Select-animation-spin {
    to {
        -webkit-transform: rotate(1turn);
                transform: rotate(1turn)
    }
}
@-webkit-keyframes Select-animation-spin {
    to {
        -webkit-transform: rotate(1turn)
    }
}
.radio-control.selected {
    font-weight: 700
}
.calendar-container {
    display: inline-block;
    padding: 10px;
    line-height: 1;
    color: #444;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .15)
}
.calendar-container .calendar-title {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding: 14px 0;
    letter-spacing: 2px;
    background-color: #f8f8fa;
    margin: -10px;
    margin-bottom: 7px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}
.calendar-container .calendar-month {
    float: left;
    padding: 20px
}
.calendar-container .header {
    padding: 0 0 20px;
    text-align: center;
    position: relative;
    font-weight: 700
}
.calendar-container .header i {
    position: absolute;
    font-weight: 400;
    left: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    top: 2px;
    font-style: normal;
    color: #08c
}
.calendar-container .header i.next {
    left: auto;
    right: 0
}
.calendar-container .week .day {
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    padding-top: 9px;
    border: 1px solid transparent
}
.calendar-container .week .day.selected {
    background: rgba(0, 136, 204, .27);
    border: 1px solid #08c
}
.calendar-container .week .day:hover {
    background: #08c;
    color: #fff
}
.calendar-container .week .day.different-month, .calendar-container .week .day.unaccessible {
    opacity: .2
}
.calendar-container .week .day.unaccessible {
    pointer-events: none
}
.calendar-container .week .day.intermediate {
    background: rgba(0, 136, 204, .1)
}
.calendar-container .week .day.highlighted {
    background: green
}
.calendar-container .week.names .day {
    opacity: .5
}
.results-header {
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px
}
.results-header .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #314451;
    opacity: .85
}
.quote-details {
    border-right: 1px solid rgba(255, 255, 255, .3)
}
.quote-details h3 {
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    opacity: .8
}
.quote-details h3 .edit {
    float: right;
    text-transform: uppercase;
    font-size: 14px;
    color: #77d6f9;
    cursor: pointer
}
.quote-details .kvpairs {
    list-style-type: none;
    padding: 0
}
.quote-details .kvpairs li {
    color: #fff;
    font-size: 13px;
    opacity: .7;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}
.modify-quote h3 {
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    opacity: .8
}
.modify-quote p {
    color: #fff;
    opacity: .5
}
.modify-quote .Select {
    margin-top: 20px
}
.modify-quote .submit-btn {
    margin-top: 20px;
    font-size: 14px;
    padding: 8px 15px
}
.column-headers {
    background: #2d3f4b;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    color: #fff
}
.column-headers .plan-column.column-1 {
    padding-top: 15px
}
.plan-column {
    border-right: 1px solid #000;
    position: relative
}
.plan-column .compare-box {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .1);
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    background: #efeff4;
    position: absolute;
    cursor: pointer
}
.plan-column .compare-box:hover {
    background: #e6e6ee
}
.plan-column .compare-box.selected {
    background: #ff6127
}
.plan-column.column-1 {
    padding: 10px;
    text-align: left;
    cursor: pointer
}
.plan-column.column-7 {
    border-right: 0
}
.plan-column.column-7 .premium {
    font-size: 26px
}
.plan-column.column-7 .submit-btn {
    padding: 5px 10px;
    font-size: 14px
}
.plan-column.features-column {
    font-size: 13px
}
.see-details, .compare-btn {
    font-size: 13px;
    color: #1aa2d8;
    cursor: pointer;
    margin-left: 9px;
    padding: 1px 10px;
    border-radius: 3px
}
.see-details:hover, .compare-btn:hover {
    background: #c6eaf8
}
.see-details.selected, .compare-btn.selected {
    background: #1aa2d8;
    color: #fff
}
.plan-card-wrapper {
    -webkit-transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    transition: all .5s cubic-bezier(0.25, .8, .25, 1);

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    margin-top: 20px
}
.plan-card-wrapper .plan-card {
    -webkit-transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    transition: all .5s cubic-bezier(0.25, .8, .25, 1);

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    width: 1000px;
    position: relative
}
.plan-card-wrapper .plan-card:hover {
    z-index: 200
}
.plan-card-wrapper .plan-card .plan-name {
    font-size: 12px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
            flex-shrink: 1;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    padding: 7px 10px;
    background: #efeff4;
    overflow: hidden;
    border-top: 1px solid #d7d7e3;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}
.plan-card-wrapper .plan-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23)
}
.plan-card-wrapper .plan-column {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 20px;
            flex-basis: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-align-content: center;
            align-content: center;
    border-right: 1px solid rgba(0, 0, 0, .1);
    height: 117px
}
.plan-card-wrapper .plan-column>span, .plan-card-wrapper .plan-column>div {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    text-align: center
}
.plan-card-wrapper .plan-column>div.btn {
    -webkit-flex-basis: initial;
            flex-basis: initial;
    -webkit-box-flex: initial;
    -webkit-flex-grow: initial;
            flex-grow: initial
}
.plan-card-wrapper .plan-column .plan-header {
    font-size: 10px;
    text-transform: uppercase;
    opacity: .9;
    padding: 0 14px
}
.plan-card-wrapper .plan-column .plan-header ~ .rw-text {
    font-size: 13px;
    text-align: center;
    padding: 0px 5px;
    background: no-repeat 10px center;
 }
 .plan-card-wrapper .plan-column .plan-header ~ .rw-text.right {
    color: #008000;
    background-image: url(../img/write.png);
 }
 .plan-card-wrapper .plan-column .plan-header ~ .rw-text.wrong {
    color: #FF0000;
    background-image: url(../img/wrong.png);
 }
.plan-card-wrapper .plan-column.features-column {
    background: #f7fafc;
    opacity: 1;
    font-size: 20px;
    position: relative
}
.plan-card-wrapper .plan-column.features-column .feature-sub {
    opacity: .7;
    font-size: 13px
}
.plan-card-wrapper .plan-column.features-column .feature-tip {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    background: #314451;
    color: rgba(255, 255, 255, .7);
    font-size: 13px;
    padding: 12px;
    border-radius: 3px;
    display: none;
    text-align: left
}
.plan-card-wrapper .plan-column.features-column .feature-tip h3 {
    color: #fff;
    margin: 0;
    font-size: 10px;
    margin-bottom: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.plan-card-wrapper .plan-column.features-column:hover .feature-tip {
    display: block
}
.plan-card-wrapper .plan-column.features-column.column-6 {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
}
.sticky-column-header {
    top: 64px!important;
    z-index: 3000;
    -webkit-transform: translateZ(0);
}
.insurer img {
    max-height: 100px;
    padding: 8px;
    max-width: 145px;
}
.compare-content-wrapper .compare-row-wrapper.premium-row .compare-table-cell {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    background: #ffffc9
}
.category-row {
    background: #efeff4;
    color: #314451;
    padding: 10px 15px;
    font-size: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}
.compare-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 100px
}
.compare-wrapper .compare-row-item-header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    height: 200px;
    padding: 20px;
    background: #fff
}
.compare-wrapper .compare-row-item-header .premium {
    font-size: 26px
}
.compare-wrapper .compare-row-item-header .submit-btn {
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 14px
}
.compare-wrapper .compare-row-item {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1)
}
.compare-wrapper .first-row .compare-row-item-header {
    background: 0 0;
    box-shadow: none
}
.compare-wrapper .first-row .compare-row-item {
    text-align: left;
    border-left: none
}
.compare-wrapper .last-row .compare-row-item {
    border-right: 1px solid rgba(0, 0, 0, .1)
}
.compare-wrapper .desc-row .compare-row-item {
    padding-left: 10px;
    font-size: 13px;
    opacity: .6
}
.ped-container {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    margin-top: 100px
}
.ped-container h2, .ped-container p {
    text-align: center
}
.ped-container h2 {
    margin-top: 40px
}
.ped-list {
    background: #efeff4;
    padding: 40px;
    margin-top: 20px
}
.ped-list ul {
    list-style-type: none;
    padding: 0
}
.btn-container {
    margin-top: 30px
}
.deductible-value {
    font-size: 12px;
    opacity: .7
}
.date-input-wrapper {
    position: relative;
    cursor: pointer
}
.date-input-wrapper .cal-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../img/icons/calendar.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
    left: 7px;
    top: 7px;
    opacity: .3;
    pointer-events: none
}
.date-input-wrapper .date-input {
    padding: 10px;
    padding-left: 42px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, .18);
    position: relative
}
.date-input-wrapper .date-input:hover {
    background: #f5f5f8
}
.date-input-wrapper .date-input .date-input-label {
    position: absolute;
    top: 3px;
    left: 42px;
    font-size: 10px;
    opacity: .5;
    text-transform: uppercase
}
.date-input-wrapper .date-input .date-input-value {
    font-weight: 700
}
.date-input-wrapper .date-input .date-input-placeholder {
    opacity: .5
}
.date-input-wrapper .date-input.active {
    background: #efeff4
}
.date-input-wrapper .date-input.has-value {
    padding-top: 16px;
    padding-bottom: 4px
}
.date-input-wrapper .calendar-input {
    position: absolute;
    width: 520px;
    top: 100%;
    left: 0;
    z-index: 2
}
.extra-info-selector {
    border-radius: 3px;
    float: left;
    width: 100%;
    padding: 20px 0 0;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start
}
.extra-info-selector>div {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    margin-right: 15px;
    margin-bottom: 8px
}
.extra-info-selector>div>p {
    display: inline-block;
    width: 210px;
    margin-bottom: 2px
}
.extra-info-selector>div>.controlgroup {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top
}
.traveler-age-selector {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start
}
.traveler-age-selector .traveler-info-input, .traveler-age-selector .traveler-age-input {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 200px;
            flex-basis: 200px;
    margin-right: 15px
}
.traveler-age-selector .traveler-info-input.duration-selector {
    -webkit-flex-basis: 270px;
            flex-basis: 270px
}
.traveler-age-selector .traveler-age-input.family-ages {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1
}
.date-selector-row {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start
}
.date-selector-row .date-input-wrapper, .date-selector-row .traveler-info-input {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 200px;
            flex-basis: 200px;
    margin-right: 15px
}
.date-selector-row .traveler-info-input {
    margin-right: 0
}
.trip-type-selector .controlgroup {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start
}
.trip-type-selector .radio-control {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 100px;
            flex-basis: 100px;
    margin-right: 10px
}
.trip-type-selector .radio-control:last-child {
    margin-right: 0!important
}
.titled-dropdown {
    border: 1px solid rgba(49, 68, 81, .37);
    border-radius: 3px;
    position: relative
}
.titled-dropdown .title-wrapper {
    padding: 14px 10px;
    opacity: .6
}
.titled-dropdown .dd-wrapper {
    position: absolute;
    right: 5px;
    width: 50px;
    top: 4px;
    cursor: pointer
}
.titled-dropdown.dd-md-cover {
    border-color: rgba(255, 255, 255, .3)
}
.titled-dropdown.dd-md-cover .title-wrapper {
    color: #fff
}
.titled-dropdown.dd-md-cover .dd-wrapper {
    width: 120px
}
.duration-selector .dd-wrapper {
    width: 100px
}
.app-quote-form {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start
}
.app-quote-form h1 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 100%;
            flex-basis: 100%
}
.app-quote-form>div {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    margin-top: 20px
}
.app-quote-form>div.trip-type-selector {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}
.app-quote-form>div.multi-trip-destinations, .app-quote-form>div.multi-trip-dates {
    -webkit-flex-basis: 200px;
            flex-basis: 200px
}
.app-quote-form>div.multi-trip-destinations {
    margin-right: 15px
}
.custom-input-box {
    position: relative;
    background: #fff;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    background: #efeff4
}
.custom-input-box.has-right-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none
}
.custom-input-box label {
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 200ms cubic-bezier(0.25, .8, .25, 1);
    transition: all 200ms cubic-bezier(0.25, .8, .25, 1)
}
.custom-input-box input {
    width: 100%;
    padding-top: 22px;
    padding-bottom: 4px;
    border: 0;
    padding-left: 15px;
    background: 0 0
}
.custom-input-box input:focus {
    outline: 0
}
.custom-input-box input:focus~label, .custom-input-box input.has-value~label {
    top: 0;
    left: 15px;
    font-size: 12px;
    opacity: .6;
    -webkit-transform: translateY(3px);
    transform: translateY(3px)
}
.custom-input-box.has-error {
    background: rgba(255, 85, 85, .24);
    border-color: red
}
.custom-input-box.has-error label {
    color: red
}
.custom-input-box.has-error input:focus~label, .custom-input-box.has-error input.has-value~label {
    opacity: 1
}
.example-enter {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: .01
}
.example-enter.example-enter-active {
    opacity: 1;
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.25, .8, .25, 1), opacity .5s cubic-bezier(0.25, .8, .25, 1), visibility .5s cubic-bezier(0.25, .8, .25, 1);
    transition: transform .5s cubic-bezier(0.25, .8, .25, 1), opacity .5s cubic-bezier(0.25, .8, .25, 1), visibility .5s cubic-bezier(0.25, .8, .25, 1)
}
.example-leave {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 1
}
.example-leave.example-leave-active {
    opacity: .01;
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.25, .8, .25, 1), opacity .5s cubic-bezier(0.25, .8, .25, 1), visibility .5s cubic-bezier(0.25, .8, .25, 1);
    transition: transform .5s cubic-bezier(0.25, .8, .25, 1), opacity .5s cubic-bezier(0.25, .8, .25, 1), visibility .5s cubic-bezier(0.25, .8, .25, 1)
}
.example-leave.example-leave-active .app-quote-form {
    opacity: 0;
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.25, .8, .25, 1), opacity .5s cubic-bezier(0.25, .8, .25, 1), visibility .5s cubic-bezier(0.25, .8, .25, 1);
    transition: transform .5s cubic-bezier(0.25, .8, .25, 1), opacity .5s cubic-bezier(0.25, .8, .25, 1), visibility .5s cubic-bezier(0.25, .8, .25, 1)
}
.loading-box-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border-radius: 3px;
    background: #efeff4;
    padding: 20px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    z-index: 1000;
    -webkit-transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    padding-top: 40px;
    padding-bottom: 40px
}
.loading-box-wrapper img {
    width: 100px
}
.loading-box-wrapper .loading-box-title {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px
}
.loading-box-wrapper .loading-box-subtitle {
    opacity: .5
}
.loading-box-enter {
    -webkit-transform: translate3d(-50%, 300px, 0);
    transform: translate3d(-50%, 300px, 0);
    opacity: 0
}
.loading-box-enter.loading-box-enter-active {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    opacity: 1;
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.25, .8, .25, 1), opacity .5s cubic-bezier(0.25, .8, .25, 1), visibility .5s cubic-bezier(0.25, .8, .25, 1);
    transition: transform .5s cubic-bezier(0.25, .8, .25, 1), opacity .5s cubic-bezier(0.25, .8, .25, 1), visibility .5s cubic-bezier(0.25, .8, .25, 1)
}
.loading-box-leave {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    opacity: 1
}
.loading-box-leave.loading-box-leave-active {
    -webkit-transform: translate3d(-50%, -300px, 0);
    transform: translate3d(-50%, -300px, 0);
    opacity: 0;
    -webkit-transition: -webkit-transform 200ms cubic-bezier(0.25, .8, .25, 1), opacity 200ms cubic-bezier(0.25, .8, .25, 1), visibility 200ms cubic-bezier(0.25, .8, .25, 1);
    transition: transform 200ms cubic-bezier(0.25, .8, .25, 1), opacity 200ms cubic-bezier(0.25, .8, .25, 1), visibility 200ms cubic-bezier(0.25, .8, .25, 1)
}
.results-header-enter {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
    opacity: 0
}
.results-header-enter.results-header-enter-active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.25, .8, .25, 1), opacity .5s cubic-bezier(0.25, .8, .25, 1), visibility .5s cubic-bezier(0.25, .8, .25, 1);
    transition: transform .5s cubic-bezier(0.25, .8, .25, 1), opacity .5s cubic-bezier(0.25, .8, .25, 1), visibility .5s cubic-bezier(0.25, .8, .25, 1)
}
.results-header-leave {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
}
.results-header-leave.results-header-leave-active {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
    opacity: 0;
    -webkit-transition: -webkit-transform 200ms cubic-bezier(0.25, .8, .25, 1), opacity 200ms cubic-bezier(0.25, .8, .25, 1), visibility 200ms cubic-bezier(0.25, .8, .25, 1);
    transition: transform 200ms cubic-bezier(0.25, .8, .25, 1), opacity 200ms cubic-bezier(0.25, .8, .25, 1), visibility 200ms cubic-bezier(0.25, .8, .25, 1)
}
.plans-enter {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
    opacity: 0
}
.plans-enter.plans-enter-active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.25, .8, .25, 1), opacity .5s cubic-bezier(0.25, .8, .25, 1), visibility .5s cubic-bezier(0.25, .8, .25, 1);
    transition: transform .5s cubic-bezier(0.25, .8, .25, 1), opacity .5s cubic-bezier(0.25, .8, .25, 1), visibility .5s cubic-bezier(0.25, .8, .25, 1)
}
.plans-leave {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
}
.plans-leave.plans-leave-active {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
    opacity: 0;
    -webkit-transition: -webkit-transform 200ms cubic-bezier(0.25, .8, .25, 1), opacity 200ms cubic-bezier(0.25, .8, .25, 1), visibility 200ms cubic-bezier(0.25, .8, .25, 1);
    transition: transform 200ms cubic-bezier(0.25, .8, .25, 1), opacity 200ms cubic-bezier(0.25, .8, .25, 1), visibility 200ms cubic-bezier(0.25, .8, .25, 1)
}
.compare-content-enter {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0
}
.compare-content-enter.compare-content-enter-active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: -webkit-transform .5s cubic-bezier(0.25, .8, .25, 1), opacity .5s cubic-bezier(0.25, .8, .25, 1), visibility .5s cubic-bezier(0.25, .8, .25, 1);
    transition: transform .5s cubic-bezier(0.25, .8, .25, 1), opacity .5s cubic-bezier(0.25, .8, .25, 1), visibility .5s cubic-bezier(0.25, .8, .25, 1)
}
.compare-content-leave {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
}
.compare-content-leave.compare-content-leave-active {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
    -webkit-transition: -webkit-transform 200ms cubic-bezier(0.25, .8, .25, 1), opacity 200ms cubic-bezier(0.25, .8, .25, 1), visibility 200ms cubic-bezier(0.25, .8, .25, 1);
    transition: transform 200ms cubic-bezier(0.25, .8, .25, 1), opacity 200ms cubic-bezier(0.25, .8, .25, 1), visibility 200ms cubic-bezier(0.25, .8, .25, 1)
}
.compare-bar-enter {
    max-height: 0;
    overflow: hidden
}
.compare-bar-enter.compare-bar-enter-active {
    max-height: 90px;
    overflow: hidden;
    -webkit-transition: max-height .5s cubic-bezier(0.25, .8, .25, 1);
    transition: max-height .5s cubic-bezier(0.25, .8, .25, 1)
}
.compare-bar-leave {
    max-height: 90px;
    overflow: hidden
}
.compare-bar-leave.compare-bar-leave-active {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s cubic-bezier(0.25, .8, .25, 1);
    transition: max-height .5s cubic-bezier(0.25, .8, .25, 1)
}
.grid-row {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    width: 1000px
}
.unbuyable-container {
    margin-top: 20px;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start
}
.unbuyable-container .unbuyable-plans-message {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    border: 1px dashed rgba(0, 0, 0, .2);
    padding: 20px;
    border-radius: 3px
}
.results-header-wrapper {
    padding: 64px 20px 0;
    opacity: 1;
    -webkit-transition: margin-top .5s cubic-bezier(0.25, .8, .25, 1);
    transition: margin-top .5s cubic-bezier(0.25, .8, .25, 1);

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
            align-items: stretch;
    background: rgba(49, 68, 81, .8)
}
.results-header-wrapper.recede {
    margin-top: -206px
}
.results-header-wrapper .results-header-block {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 320px;
            flex-basis: 320px;
    padding: 10px;
}
.results-header-wrapper .results-header-block p.sub {
    color: #fff;
    opacity: .6;
    font-size: 14px;
}
.results-header-wrapper .results-header-block h3 {
    margin-top: 0;
    color: #fff;
    font-size: 20px;
    margin-bottom: 4px;
    font-weight: 300
}
.results-header-wrapper .results-header-block h3.block-title {
    margin-top: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    opacity: .5;
    font-weight: 400;
    letter-spacing: 1px
}
.results-header-wrapper .results-header-block h3.block-title .empty-btn {
    margin-left: 10px;
    line-height: 1.4em;
}
.results-header-wrapper .results-header-block:nth-child(2) {
    border-right: 1px solid rgba(255, 255, 255, .1);
    border-left: 1px solid rgba(255, 255, 255, .1)
}
.kv-item-wrapper .kv-item {
    position: relative;
    color: #314451;
    font-size: 16px;
    opacity: .7
}
.kv-item-wrapper .kv-item .connector {
    position: absolute;
    border-bottom: 1px solid #314451;
    opacity: .5;
    top: 50%;
    content: '';
    left: 0;
    right: 0;
    z-index: -1
}
.kv-item-wrapper .kv-item.small {
    font-size: 13px;
    opacity: .5
}
.kv-item-wrapper .kv-item .key span, .kv-item-wrapper .kv-item .value span {
    background: #fff;
    padding-right: 10px
}
.kv-item-wrapper .kv-item .key {
    position: relative
}
.kv-item-wrapper .kv-item .value {
    position: absolute;
    top: 0;
    right: 0
}
.kv-item-wrapper .kv-item .value span {
    padding-left: 10px;
    padding-right: 0
}
.kv-item-wrapper .kv-item.dark {
    color: #fff
}
.kv-item-wrapper .kv-item.dark .key span, .kv-item-wrapper .kv-item.dark .value span {
    background: 0 0
}
.kv-item-wrapper .kv-item.dark .connector {
    border-color: #fff
}
.plan-card-header-wrapper {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start
}
.plan-card-header-wrapper .plan-card-header {
    width: 1000px;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
            justify-content: flex-start
}
.plan-card-header-wrapper .plan-card-header p {
    margin-right: 20px;
    font-weight: 700;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    margin-bottom: 0
}
.plan-card-header-wrapper .plan-card-header p .sub {
    font-weight: 400;
    margin-bottom: 0
}
.column-header-wrapper {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start
}
.column-header-wrapper .column-header {
    width: 1000px;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
}
.column-header-wrapper .column {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    background: #efeff4;
    color: #fff;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    font-size: 12px;
    font-weight: 700;
    height: 50px;
    color: rgba(49, 68, 81, .8);
    border-right: 1px solid rgba(0, 0, 0, .1)
}
.column-header-wrapper .column:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 41px
}
.column-header-wrapper .column:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px
}
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4000;
    overflow-y: scroll;
    background: rgba(49, 68, 81, .7);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    transition: all .5s cubic-bezier(0.25, .8, .25, 1)
}
.modal-wrapper.reveal {
    opacity: 1;
    visibility: visible
}
.modal-wrapper.reveal .modal-content {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
}
.modal-wrapper .modal-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #314451;
    opacity: .7;
    z-index: 100
}
.modal-wrapper .modal-content {
    position: relative;
    z-index: 200;
    margin: 0 auto;
    margin-top: 70px;
    background: #fff;
    border-radius: 3px;
    opacity: 0;
    -webkit-transform: translate3d(0, 500px, 0);
    transform: translate3d(0, 500px, 0);
    -webkit-transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    transition: all .5s cubic-bezier(0.25, .8, .25, 1)
}
.modal-wrapper .modal-content.xsmall {
    width: 300px
}
.modal-wrapper .modal-content.small {
    width: 600px
}
.modal-wrapper .modal-content.medium {
    width: 900px
}
.modal-wrapper .modal-content.large {
    width: 100%
}
.modal-wrapper .modal-content.plancard {
    width: 1000px
}
.plans-wrapper {
    margin-top: 30px
}
.plans-wrapper .no-plans-msg {
    margin-top: -30px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
}
.compare-content-wrapper {
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start
}
.compare-content-wrapper .compare-row-wrapper {
    width: 1000px;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
            align-items: stretch;
    position: relative
}
.compare-content-wrapper .compare-row-wrapper:hover {
    z-index: 200
}
.compare-content-wrapper .compare-row-wrapper.compare-footer {
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 150px;
    text-align: center;
    font-size: 16px;
    opacity: .8
}
.compare-content-wrapper .compare-row-wrapper .compare-table-cell {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 200px;
            flex-basis: 200px;
    padding: 15px;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-pack: flext-start;
    -webkit-justify-content: flext-start;
            justify-content: flext-start;
    -webkit-align-content: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
}
.compare-content-wrapper .compare-row-wrapper .compare-table-cell.row-header {
    position: relative
}
.compare-content-wrapper .compare-row-wrapper .compare-table-cell.row-header:hover {
    z-index: 200
}
.compare-content-wrapper .compare-row-wrapper .compare-table-cell.row-header:hover .compare-tip {
    display: block
}
.compare-content-wrapper .compare-row-wrapper .compare-table-cell.row-header .compare-tip {
    position: absolute;
    top: 0;
    left: 90%;
    width: 230px;
    background: #314451;
    color: rgba(255, 255, 255, .7);
    font-size: 13px;
    padding: 12px;
    border-radius: 3px;
    display: none;
    text-align: left
}
.compare-content-wrapper .compare-row-wrapper .compare-table-cell.row-header .compare-tip h3 {
    color: #fff;
    margin: 0;
    font-size: 10px;
    margin-bottom: 12px;
    letter-spacing: 2px;
    text-transform: uppercase
}
.plan-card-wrapper .plan-column.column-1 {
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-align-content: center;
            align-content: center
}
.compare-bar-wrapper {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    padding: 10px 0
}
.compare-bar-wrapper .compare-bar {
    width: 1000px;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start
}
.compare-bar-wrapper .compare-bar .plan-card-wrapper, .compare-bar-wrapper .compare-bar .empty-compare-box, .compare-bar-wrapper .compare-bar .compare-btn-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    margin-top: 0;
    height: 70px
}
.compare-bar-wrapper .compare-bar .plan-card-wrapper .plan-column, .compare-bar-wrapper .compare-bar .empty-compare-box .plan-column, .compare-bar-wrapper .compare-bar .compare-btn-wrapper .plan-column, .compare-bar-wrapper .compare-bar .plan-card-wrapper .plan-card, .compare-bar-wrapper .compare-bar .empty-compare-box .plan-card, .compare-bar-wrapper .compare-bar .compare-btn-wrapper .plan-card {
    height: 70px;
    padding: 0;
    position: relative;
    background: #fff;
    border-radius: 3px;
    width: 100%
}
.compare-bar-wrapper .compare-bar .plan-card-wrapper .plan-insurer-name, .compare-bar-wrapper .compare-bar .empty-compare-box .plan-insurer-name, .compare-bar-wrapper .compare-bar .compare-btn-wrapper .plan-insurer-name, .compare-bar-wrapper .compare-bar .plan-card-wrapper .plan-name, .compare-bar-wrapper .compare-bar .empty-compare-box .plan-name, .compare-bar-wrapper .compare-bar .compare-btn-wrapper .plan-name {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    margin-bottom: 0;
    text-align: center;
    margin-top: 0
}
.compare-bar-wrapper .compare-bar .plan-card-wrapper .plan-remove, .compare-bar-wrapper .compare-bar .empty-compare-box .plan-remove, .compare-bar-wrapper .compare-bar .compare-btn-wrapper .plan-remove {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    background: #e0e0ea;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 1000;
    text-align: center;
    line-height: 120%;
    cursor: pointer
}
.compare-bar-wrapper .compare-bar .plan-card-wrapper .plan-name, .compare-bar-wrapper .compare-bar .empty-compare-box .plan-name, .compare-bar-wrapper .compare-bar .compare-btn-wrapper .plan-name {
    font-size: 14px;
    opacity: .8
}
.compare-bar-wrapper .compare-bar .plan-card-wrapper .plan-insurer-name, .compare-bar-wrapper .compare-bar .empty-compare-box .plan-insurer-name, .compare-bar-wrapper .compare-bar .compare-btn-wrapper .plan-insurer-name {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px
}
.compare-bar-wrapper .compare-bar .empty-compare-box {
    border: 1px dashed rgba(0, 0, 0, .2);

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    background-color: rgba(0, 0, 0, .1)
}
.compare-bar-wrapper .compare-bar .empty-compare-box span {
    padding: 3px 15px;
    color: #fff;
    background-color: rgba(49, 68, 81, .71);
    border-radius: 30px
}
.compare-bar-wrapper .compare-bar .compare-btn-wrapper {
    height: 70px;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: center;
            align-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    background: #efeff4;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px
}
.checkbox-item {
    padding-left: 48px;
    position: relative;
    cursor: pointer
}
.checkbox-item:hover span.label {
    color: #ff6127
}
.checkbox-item:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 14px;
    background: #efeff4;
    border: 1px solid #e0e0ea;
    border-radius: 3px
}
.checkbox-item.selected:before {
    background: #ff6127;
    border: 1px solid #ff4e0d
}
.ped-popup-container {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start
}
.ped-popup-container .ped-item {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
            flex-shrink: 1;
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    padding-top: 12px;
    padding-bottom: 12px
}
.plan-popup-container {
    background: #efeff4;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}
.plan-popup-container .plan-card-wrapper {
    margin-top: 0
}
.plan-popup-container .plan-card-wrapper .plan-column.column-1 {
    padding-left: 10px
}
.plan-popup-container .contact-card-wrapper {
    margin-top: 0
}
.plan-popup-container .contact-card-wrapper .contact-card {
    border: none
}
.modal-header {
    padding: 20px;
    background: #ff6127;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    position: relative
}
.modal-header .close-btn {
    position: absolute;
    color: #fff;
    border-radius: 50%;
    padding: 15px;
    right: 17px;
    top: 17px;
    line-height: 8px;
    cursor: pointer;
    background: rgba(0, 0, 0, .1);
    -webkit-transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    transition: all .5s cubic-bezier(0.25, .8, .25, 1)
}
.modal-header .close-btn:hover {
    background: rgba(0, 0, 0, .3)
}
.modal-header h2, .modal-header p {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center
}
.modal-header h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 300
}
.modal-header p {
    font-size: 15px;
    margin-top: 10px;
    opacity: .8
}
.modal-inner-content {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0
}
.modal-action {
    padding: 15px 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
            flex-shrink: 1;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center
}
.cf-input {
    background: #efeff4;
    border: 1px solid #e0e0ea;
    padding: 5px 10px;
    border-radius: 3px
}
.input-others {
    width: 250px
}
.ped-popup-container .ped-item.other-ped {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    padding: 15px
}
.ped-popup-container .ped-item.other-ped p {
    font-size: 12px;
    opacity: .7;
    margin-top: 10px
}
.input-wrapper {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start
}
.input-wrapper>div {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 70%;
            flex-basis: 70%
}
.input-wrapper>button {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 30%;
            flex-basis: 30%
}
.error-elem {
    color: red;
    margin-top: 5px
}
.plan-name-mini {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 45px
}
.compare-feature .c_remarks {
    font-size: 12px;
    opacity: .7
}
.compare-feature .c_cover, .compare-feature ul li {
    font-weight: 700;
    font-size: 14px
}
.compare-feature ul {
    padding-left: 17px;
}
.compare-feature .c_cover a.vb {
    color: #23527c;
    text-decoration: none;
    padding: 0 0 0 20px;
    background: url(../img/pdf.png) no-repeat left center;
}
.compare-feature .c_deductible {
    font-style: italic;
    font-size: 12px
}
.compare-mode .plan-remove, .compare-mode .empty-compare-box {
    display: none!important
}
.canttouchthis {
    opacity: .5;
    pointer-events: none
}
.section-header {
    text-align: center;
    margin-top: 30px;
    opacity: .8
}
.success-message {
    background-color: rgba(8, 195, 8, .09);
    text-align: center;
    margin: 20px;
    border: 1px solid rgba(0, 128, 0, .21);
    padding: 5px 10px;
    border-radius: 3px
}
.selected-ped-wrapper {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px
}
.selected-ped-wrapper .selected-ped-card {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
            align-items: stretch;
    width: 1000px
}
.selected-ped-wrapper .selected-ped-card .selected-ped-list {
    position: relative;
    padding: 15px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 0;
            flex-basis: 0
}
.selected-ped-wrapper .selected-ped-card .selected-ped-list .ped-action {
    position: absolute;
    top: 20px;
    right: 20px
}
.selected-ped-wrapper .selected-ped-card .selected-ped-list h3 {
    margin-top: 0;
    font-size: 20px
}
.selected-ped-wrapper .selected-ped-card .selected-ped-list ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0
}
.selected-ped-wrapper .selected-ped-card .selected-ped-list ul li {
    display: inline-block;
    margin-right: 5px;
    opacity: .7
}
.selected-ped-wrapper .selected-ped-card .selected-ped-list ul li:after {
    content: ','
}
.selected-ped-wrapper .selected-ped-card .selected-ped-list ul li:last-child:after {
    content: ''
}
.selected-ped-wrapper .selected-ped-card .ped-info {
    padding: 20px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 0;
            flex-basis: 0;

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    margin-left: 20px;
    border-radius: 3px;
    border: 1px dashed rgba(0, 0, 0, .3)
}
.selected-ped-wrapper .selected-ped-card .ped-info p {
    margin: 0
}
.empty-btn {
    text-transform: uppercase;
    padding: 2px 3px;
    text-align: center;
    border: 1px solid #314451;
    font-size: 11px;
    border-radius: 3px;
    -webkit-transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    background: 0 0
}
.empty-btn.light {
    color: #fff;
    border: 1px solid #fff;
    opacity: .9
}
.empty-btn.light:hover {
    background: rgba(0, 0, 0, .8)
}
.detail-section {

    display: -webkit-box;

    display: -webkit-flex;

    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-content: flex-start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
            align-items: stretch;
    margin: 4px;
}
.detail-section .detail-footer {
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 16px;
    opacity: .8
}
.detail-section .disclaimer {
    list-style-type: none;
    font-size: 10px;
    color: rgba(49, 68, 81, .65);
    opacity: 0.7;
}
.detail-section .disclaimer a {
    color: #23527c;
    text-decoration: none;
}
.detail-section-header {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
    font-size: 20px;
    padding: 10px 15px;
    background: #e6e6ee;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}
.detail-section-feature {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
    padding: 15px;
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}
.detail-section-feature .feature-header {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    color: rgba(49, 68, 81, .65)
}
span.plan_ped {
    font-size: 14px;
    font-weight: 700
}
.perm-link {
    text-align: center;
    margin-top: 20px;
    opacity: .7
}
button.empty {
    border: 1px solid #314451;
    padding: 2px 10px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 10px
}
.w--multi_select .w--multi_select_dd.reveal {
    z-index: 201;
}
/* Age dropdown sum assured*/
.label_minimised.minwid + div {
    min-width: 65px;
}
.w--multi_select.white-bg .w--multi_select_handle{
    background: #fff;
    width: 140px;
    height:50px;
}

.redirect-box-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    min-height: 320px;
    border-radius: 3px;
    background: #efeff4;
    padding: 20px;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    z-index: 1000;
    -webkit-transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    text-align: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    padding-top: 40px;
    padding-bottom: 40px
}
.redirect-box-wrapper img {
    width: 100px;
}
.redirect-box-wrapper .redirect-box-title {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.redirect-box-wrapper .redirect-box-subtitle {
    opacity: .5;
}
.plan-extra-details li span{
    font-size:14px;
}
.redirect-box-wrapper .btn--action {
    margin-top:10px;
}


