@import url(https://fonts.googleapis.com/css?family=Merienda);
@import url(https://fonts.googleapis.com/css?family=Handlee);
body{
	padding:0;
	min-width:380px;
}

.sectioncover{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	/*background:rgba(104,162,213,0.5);*/
}

#section1{
	/*background: url("/static/lp/img/lp-bg-pat-2.jpg") repeat scroll center center transparent;*/
	/*background-color:#784076;*/
	background-color:#405678;
    min-height: 564px;
    padding-bottom: 20px;
    padding-top: 100px;
    position: relative;
}

#section1container{
	/*width:400px;*/
	margin-top:30px;
	position:relative;
}

#section1 h1{
	color: #FFFFFF;
    font-size: 38px;
    font-weight:bold;
    line-height: 1.5em;
    margin-bottom: 50px;
    margin-top: 30px;
}

p.covertext{
	color:rgba(255,255,255,1);
	font-size:16px;
}

p.big.covertext{
	font-size:25px;
	font-weight: bold;
}

p.medium.covertext{
	 color: #FFFEFE;
    font-size: 20px;
    font-weight: 400;
    text-shadow: none;
}

#landingform{
	/*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);*/
    border-radius: 5px 5px 5px 5px;
    margin-top: -15px;
    padding: 10px 0px;
    position: relative;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;*/
}

#landingform p{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.16);
    border-radius: 6px 6px 6px 6px;
    color: #808080;
    font-size: 15px;
    line-height: 1.6em;
    margin-top: 40px;
    padding: 6px;
    /*padding-left: 20px;
    padding-right: 20px;*/
}
#landingform p:last-child {
	background:transparent;
	padding:0px;
	 margin-top: 15px;
}
#landingform .landingfield{
	background: #ffffff;
	border:1px solid rgba(0,0,0,0.5);
	color:#666666;
	padding:10px;
	border-radius:5px;
	width:100%;
}
#landingform .landingfield:hover {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) inset;
}

#landingform .landingfield:focus {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2) inset;
}
#landingform label {
	color:#ffffff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#landingform h3{
    color: #FFFFFF;
    font-size: 21px;
    line-height: 1.5em;
    margin-bottom: 25px;
    margin-top: 10px;
    padding: 0 10px 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	text-align:center;
}

#landingform p.small{
	font-size:13px;
	line-height:20px;
	background: rgba(0,0,0,0.1);
	padding-top:20px;
	padding-bottom:20px;
}

#landingform .landingsubmit{
	background: none repeat scroll 0 0 #E24F05;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.3em;
    padding: 10px;
    width: 100%;
}

#section2{
	border-bottom:1px solid #ddd;
	background-color:#FF915E;
}


#section2 p{
	font-size:18px;
	text-align: center;
	padding-top:60px;
	padding-left:20px;
	padding-bottom:60px;
	color:#F9F9F9;
}

#section2 p span{
	font-size:30px;
	padding-bottom:10px;
}

#section2 p img{
    margin-bottom:20px;
}


/* Footer */

#lp-bottom{
	background:#374D58;
	padding:40px 0px;
}

#lp-bottom h3{
	color: #6B8592;
text-transform: uppercase;
font-size: 19px;
font-weight: 300;
margin-bottom: 5px;
}

#lp-bottom ul {
	list-style-type: none;
	padding:0;
}

#lp-bottom ul li a{
	color:#C9D5DD;
}
#lp-bottom ul li{
	color:#C9D5DD;
	margin-bottom:10px;
}
#lp-bottom .footersocial ul li{
	margin-top:5px;
	text-align:left;
}
.footersubscribe {
	max-width:350px;
}
#lp-bottom .footersubscribe input{
	margin-top:5px;
	background-color: #718895;
	border: medium none;
	color:#FFFFFF;
}
#lp-bottom .footercategories li{
    margin-bottom:5px;
}
#lp-bottom .footercategories img{
    width:40px;
}
#footerabout{
	margin-top:40px;
	border-top:1px dashed #535E6D;
	padding-top:20px;
}
.footerlinks,.footercategories,.footersocial {
	min-height:240px;
}
.sectiontitle{
	text-align: center;
	margin-top:30px;
	margin-bottom:30px;
}

.sectiontitle h1{
	margin-bottom: 0;
}
.sectiontitle p{
	margin-top:0;
	margin-bottom:30px;
	color: #B4B4B4;
}


#cat-tabs .btn-default{
	background: transparent;
}

#section3 #tabcontent{
	margin:50px 0;
}

#tabcontent p.author{
	font-size:12px;
	font-style:italic;
	margin:0;
	color: #B4B4B4;
}

.tb-hl{
	background:rgba(255,255,255,0.95);
}
.handwritten {
	font-family: 'Merienda', cursive;
}
.point-set {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 1.2em;
    margin-bottom: 0px;
    margin-top:0px;
    min-height: 145px;
    padding: 30px 10px 10px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.18);
    /*border-top:1px solid #7E7E7E;
    border-bottom:1px solid #214378;*/
}
.point-set:first-child {
    border-top:none;
}
.point-set:last-child {
    border-bottom:none;
}
.point-set img {
	width:50px;
}
.borderline {
    margin-top:10px;
    border-bottom:1px solid #7E7E7E;
    border-top:1px solid #214378;
}

.point-set h4 {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
}
.smarter-protec {
	margin-top:10px;
}
.smarter-protec img {
	display:block;
	margin:auto;
}
.point-set1 {
	background: url("/static/lp/img/review1.png") no-repeat  center center rgba(0, 0, 0, 0.4);
	padding: 35px 10px 10px;
}
.point-set2 {
	background: url("/static/lp/img/expert1.png") no-repeat center center rgba(0, 0, 0, 0.4);
	padding: 35px 10px 10px;
}
.point-set3 {
	background: url("/static/lp/img/noobli1.png") no-repeat center center rgba(0, 0, 0, 0.4);
	padding: 35px 10px 10px;
}
#landingform .landingsubmit.gradient {
	background: rgb(255,116,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,116,0,1) 0%, rgba(226,79,5,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,116,0,1)), color-stop(100%,rgba(226,79,5,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,116,0,1) 0%,rgba(226,79,5,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,116,0,1) 0%,rgba(226,79,5,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,116,0,1) 0%,rgba(226,79,5,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,116,0,1) 0%,rgba(226,79,5,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7400', endColorstr='#e24f05',GradientType=0 ); /* IE6-9 */
}
#landingform .landingsubmit.gradient:hover {
	background: rgba(226,79,5,1);
}
.recommended_reads img{
    width:100%;
}

.recommended_reads .thumbnail_r {
    max-width:360px;
    height:200px;
    overflow:hidden;
}
.text-error {
    color:#FFFFFF;
}
.nav-social li {
    float: left;
}
.flag-num {margin: 8px 15px 0px;font-size:16px;}

/* new no result found css */



.cursive_font {
    position:relative;
    margin-top:20px;
    font-family: 'Handlee', cursive;
    font-size:25px;
    font-weight:bold;
}
.bord_marker {
    position: absolute;
    right: -12px;
    top: -40px;
    width: 80px;
}
.no_result {
    margin:10px 0px;
    position:relative;
    overflow:hidden;
    min-height:290px;
}
.msg_block {
    position:relative;
    top:50px;
    margin-bottom:50px;
}
.info_block {
    font-size:16px;
    position:absolute;
    top:28%;
    left:9%;
    text-align:center;
    font-family: 'Handlee', cursive;
    font-weight:bold;
    font-size:18px;
}
.askq {
    text-decoration:none;
    color:#333333;
    display:inline-block;
    margin-bottom:5px;
}
.info_block img,.askq img {
    width:32px;
    height:auto;
}
.img_holder {
    position:relative;
    min-width:300px;
    max-width:325px;
    margin:auto;
}
img.bord_img {
    width:100%;
}

.article-links {
    max-width:200px;
    margin:auto;
    display:block;
}
.article-links:hover {
    text-decoration:none;
}
.article-links:hover .icon-sprite {
    background-position:-67px 0px;
}
/*.article-links.car:hover h4 {
    color:#e2c09e;
}
.article-links.health:hover h4 {
    color:#91cbbb;
}
.article-links.life:hover h4 {
    color:#e5a1cd;
}
.article-links.travel:hover h4 {
    color:#97b8e0;
}
.article-links.all:hover h4 {
    color:#D1DAE7;
}*/
.wello {
    border-top:3px solid #ffffff;
    padding-top:20px;
}
.wello h4 {
    line-height: 1.2em;
}

.icon-sprite {
    margin:auto;
    width:64px;
    height:64px;
}
.car .icon-sprite {
    background: url("/static/lp/img/car-sprite.gif") -1px 0px transparent;
}
.health .icon-sprite {
    background: url("/static/lp/img/health-sprite.gif") -1px 0px transparent;
}
.life .icon-sprite {
    background: url("/static/lp/img/life-sprite.gif") -1px 0px transparent;
}
.travel .icon-sprite {
    background: url("/static/lp/img/travel-sprite.gif") -1px 0px transparent;
}
.all .icon-sprite {
    background: url("/static/lp/img/all-sprite.gif") -1px 0px transparent;
}
.modalrupiprompt{
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    bottom: 0px;
    padding: 10px 20px;
    color: #FFF;
    left: 0;
    margin-bottom:0px;
    width:100%;
}
.modalrupi{
    position: relative;
    text-align: center;
    padding:0px;
}
.modalrupi img{
    width:80%;
}
.coll-btn {
    background-color: #F7F7F7;
    border: 1px solid #DADADA;
    margin-top: 20px;
    padding: 5px;
}
.coll-btn .icon-bar {
    background-color: #666666;
}
#topbar a.navbar-brand {
    height: 35px;
    margin-bottom: 10px;
    margin-top: 3px;
    margin-left:-15px;
    outline: medium none;
    overflow: hidden;
    width: 180px;
    padding-left:15px;
    padding-bottom: 5px;
    padding-right: 0.8em;
    padding-top: 5px;
}
#topbar {
    box-shadow:none;
    -webkit-box-shadow:none;
    margin-bottom:0px;
    min-height:50px;
    background-color:#f9f9f9;
}
.cover.breadcrumb {
    border-color:#eaeaea;
    border-radius:0px;
    border-style:solid;
    border-width:1px 0px 1px 0px;
    color:#555555;
    background-color:transparent;
}

.arrow_box {
    position: relative;
    padding:10px;
    font-size:35px;
    text-align:center;
    margin:50px 0px;
    border-width:1px 0px 1px 0px;
    border-style:solid;
    border-color:#eaeaea;
}
.arrow_box:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #eaeaea;
    border-width: 15px;
    margin-left: -15px;
}
.team-img {
    max-width:170px;
    border-radius:50%;
    border:4px solid #dadada;
}
.mrgn {
    margin-bottom:30px;
}
.box {
    padding:20px 0px;
    font-size:18px;
    text-align:left;
    border-width:1px 0px 0px 0px;
    border-style:solid;
    border-color:#eaeaea;
}

/* screen media settings */
@media only screen and (min-width:300px) and (max-width:767px){
	#section1 .col-lg-6 { text-align:center !important; }
	#section1 .point-set {
		margin: 0 auto 0px;
    	max-width: 40%;
    	min-width: 270px;
    	padding:10px;
    	min-height:120px;
    	}
	#section1 .smarter-protec {
		margin: 0 auto 6px;
    	max-width: 40%;
    	min-height: 110px;
    	min-width: 270px;
    	padding: 0px 10px;
	}
	#section1 #landingform p {
		margin-top:20px;
	}
	#tabcontent p.author {
		margin-bottom:35px;
		text-align:center;
	}
	#tabcontent h3 {
		text-align:center;
		line-height:1.2em;
		margin-top:5px;
	}
	.recommended_reads .thumbnail_r {
		margin:auto;
	}
	#section2 p {
		padding-top:30px;
		padding-bottom:30px;
	}
	#topbar a.navbar-brand {
        margin-left:-3px;
    }
    .cover.breadcrumb {
        padding-left:0px;
    }
}
@media only screen and (min-width:768px) and (max-width:900px){
	#tabcontent p.author {
		margin-bottom:35px;
		text-align:center;
	}
	#tabcontent h3 {
		text-align:left;
		line-height:1.2em;
		margin-top:5px;
	}
	.recommended_reads .thumbnail_r {
		margin:auto;
	}
	.billboard-text {
		text-align:center !important;
	}

}
@media only screen and (min-width:768px) and (max-width:1200px){
	.billboard-text {
		text-align:center !important;
	}
	#section2 p {
		padding-top:30px;
		padding-bottom:30px;
	}
}
@media only screen and (min-width:768px) and (max-width:990px){
	.size-set > h4 {
		font-size:17px;
	}
}
@media only screen and (min-width:901px) {
	.recommended_reads .thumbnail_r {
		width:100%;
	}
	#tabcontent h3 {
		line-height:1.2em;
	}
}
@media only screen and (max-width:500px) {
	.sectiontitle h1 {
    font-size: 30px;
    line-height: 1.2em;
    margin-bottom: 5px;
    }
}
@media only screen and (max-width:768px) {
    .flag-num {margin: 8px 15px 10px 3px;}
    .cf-navbar-elem {margin-left:0px;}
    }
