/*Breakpoints variables (media queries)*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio, canvas, progress, video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden], template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b, strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button, input, optgroup, select, textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button, select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled], html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}


/* arrow css mixin */
/* Headings */

h1{
	font-size:45px;
	line-height:56px;
}

h1.flg{/* font large */
}

h2{
	font-size:34px;
	line-height:41px;
}

h2.flg{/* font large */
  font-size:45px;
  line-height:56px;
}

h3{
	font-size:24px;
	line-height:30px;
}

h3.flg{/* font large */
  font-size:34px;
  line-height:41px;
}

h4{
	font-size:18px;
	line-height:24px;
}

h4.flg{/* font large */
  font-size: 20px;
  line-height: 24px;
}

p, ul li, ol li{
	font-size: 16px;
	line-height: 24px;
}

p.flg, ul li.flg, ol li.flg{
  font-size: 20px;
  line-height: 30px;
}

p.fm, ul li.fm, ol li.fm{
  font-size: 14px;
  line-height: 24px;
}

p.fs, ul li.fs, ol li.fs{
  font-size: 12px;
  line-height: 20px;
}

p.fxs, ul li.fxs, ol li.fxs{
  font-size: 11px;
  line-height: 20px;
}



/* Font Weights */
/* Custom font weights that modify the default values for elements are not allowed.
Use the classes below to change default font-weights. */

.fwb{
	font-weight: bold;
}

.fsi{
	font-style: italic;
}

.fwt{
	font-weight: 300;
}

.fwn{
	font-weight: normal;
}

/* Letter Spacings */
/* Currently we provide and allow only two letter spacings. 1px and 2px. */

.ls1{
	letter-spacing: 1px
}

.ls2{
	letter-spacing: 2px;
}


ul li{

}


ul.fs li{
  font-size: 13px;
  line-height: 20px;
}


ul.no-bullets{
  list-style-type: none;
  padding:0;
}


ul.no-bullets li.list-header{
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  margin-top:15px;
  margin-left: -15px;
  font-weight: bold;
}
.btn{
	font-size: 16px;
	padding:10px 15px;
	border-radius: 3px;
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	display: inline-block;
}
.btn:empty{
  display:none;
}

.btn--orange{
	background: #FF704C;
	color:#fff;
	border: 1px solid rgb(242, 106, 72);

}

.btn--orange:hover, .btn--orange:active{
  background:rgb(242, 106, 72);
  text-decoration: none;
  color:#fff;
}

.btn--empty{
	background: transparent;
	border: 1px solid #314451;
	color: #314451;
}

.btn--empty:hover, .btn--empty:active{
  background:#efeff4;
  color: #314451;
  text-decoration: none;
}

.btn--empty.btn--orange{
  color:#FF704C;
  border: 1px solid rgb(242, 106, 72);
}

.btn--empty.btn--orange:hover, .btn--empty.btn--orange:active{
  color: #fff;
}

.btn--extrasmall{

}

.btn--small{

}

.btn--medium{

}

.btn--large{
    font-size: 18px;
    padding: 15px;
}
.btn--block {
	display: block;
	width: 100%;
}




.w--button{
	font-size: 13px;
	padding:10px 15px;
	border-radius: 3px;
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
}




.w--button:empty{
  display:none;
}

.w--button--orange{
	background: #FF704C;
	color:#fff;
	border: 1px solid rgb(242, 106, 72);
}

:not(.loading).w--button--orange:hover, :not(.loading).w--button--orange:active{
  background:rgb(242, 106, 72);
  text-decoration: none;
  color:#fff;
}

.w--button--orange .w--spinner > div{
  background: #fff;
}

.w--button--orange.loading, .w--button--orange.loading:hover{
  border:none;
  background: -webkit-linear-gradient(180deg, #ff594f, #ff7344, #ff704c);
  background: linear-gradient(270deg, #ff594f, #ff7344, #ff704c);
  background-size: 200% 200%;
  -webkit-animation: orangeGradientAnim 1.4s ease infinite;
  animation: orangeGradientAnim 1.4s ease infinite;
}

.w--button--large{
	height:48px;
	width:140px;
}

.w--button--link{
	background-color: transparent;
	border:none;
	text-transform: none;
	letter-spacing: 0px;
	color:#42B1FD;
}

.w--button--link:hover{
  color:#314451;
}

.w--button--empty{
	background: transparent;
	border: 1px solid #314451;
	color: #314451;
}

.w--button--empty:hover, .w--button--empty:active{
  background:#efeff4;
  color: #314451;
  text-decoration: none;
}

.w--button--empty.w--button--orange{
  color:#FF704C;
  border: 1px solid rgb(242, 106, 72);
}

.w--button--empty.w--button--orange:hover, .w--button--empty.w--button--orange:active{

}

.w--button--thin{
	padding:5px 10px;
}
.w--button:disabled {
    opacity: .6;
}
.w--button.not-allowed {
	cursor: not-allowed;
}
.w--spinner {
  width: 70px;
  text-align: center;
  margin: 0 auto;
}

.w--spinner.narrow{
  width:48px;
}

.w--spinner > div {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  background-color: #314451;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.w--spinner.white > div{
  background: #fff;
}

.w--spinner.orange > div{
  background: #FF704C;
}

.w--spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.w--spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@-webkit-keyframes orangeGradientAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes orangeGradientAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
.w--reg_no_input{
	position: relative;
	display: inline-block;
	border: 1px solid rgba(49,68,81,.3);
	border-radius:3px;
}
.w--reg_no_input input{
  border: none;
  text-align: center;
  width: 92px;
  font-size: 24px;
  line-height: 125%;
  padding: 10px 0;
  margin-top: 0px;
}
.w--reg_no_input input::-webkit-input-placeholder {
  color: #ccc;
}
.w--reg_no_input input:-moz-placeholder {/* Firefox 18- */
  color: #ccc;
}
.w--reg_no_input input::-moz-placeholder {/* Firefox 19+ */
  color: #ccc;
}
.w--reg_no_input input:-ms-input-placeholder {
  color: #ccc;
}
.w--reg_no_input .reg_placeholder{
  position: absolute;
  top:50%;
  left:0;
  -webkit-transform: translate3D(0, -50%, 0);
          transform: translate3D(0, -50%, 0);
  width: 100%;
  text-align: center;
}
.w--reg_no_input input:focus{
  outline:none;
}
.w--reg_no_input input.input--error{
  border-bottom: 1px solid red;
}
.w--reg_no_input label{

}
.w--reg_no_input .w--error{
  position: absolute;
  padding-left:0;
  padding-right:0;
}
.w--text_input{
	position: relative;
	margin-bottom: 10px;
}
.w--text_input hr{
  margin:0;
  position: relative;
  border-top: 1px solid rgba(46,68,81,0.4);
}
.w--text_input hr:after{
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: absolute;
  bottom:-1px;
  height: 2px;
  background: -webkit-linear-gradient(180deg, #1aa2d8, #4d60ff, #4cb9e4);
  background: linear-gradient(270deg, #1aa2d8, #4d60ff, #4cb9e4);
  border-radius:3px;
  content:'';
  left:0;
  right:100%;
}
.w--text_input.is_focused hr:after{
  right:0;
}
.w--text_input.w--text_input-mobile .country_code{
  position: absolute;
  top:14px;
  left:0;
  display: none;
  opacity:0.5;
}
.w--text_input.w--text_input-mobile .country_code.reveal{
  display: block;
}
.w--text_input.w--text_input-mobile input{
  padding-left:28px;
}
.w--text_input .w--text_input--label{
  position: absolute;
  pointer-events: none;
  color:rgba(49,68,81,0.7);
  font-size: 14px;
  left:0px;
  top:14px;
  -webkit-transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.w--text_input .w--text_input--label.w--text_input--label-minimized{
  font-size: 12px;
  top: 0px;
}
.w--text_input .w--text_input--label.w--text_input--label-full{

}
.w--text_input input{
  width: 100%;
  border:none;
  outline:none;
  color:#314451;
  background: transparent;
  padding-top: 15px;
}
.w--text_input.has-error .error-label{
  font-size: 12px;
  color:red;
  margin-top: 3px;
}
.w--text_input.has-error .error-label.absolute{
  position: absolute;
  bottom:-20px;
}
.car-product{
	background: #efeff4;
}

.w--tooltip .w--tooltip_handle{
  color:#FF704C;
  border:1px solid #FF704C;
  padding: 5px 10px;
  line-height: 100%;
  border-radius: 50%;
}

.w--tooltip .w--tooltip_popup{
  position: absolute;
  width: 220px;
  background: #314451;
  color:#fff;
  bottom:100%;
  left:50%;
  -webkit-transform: translate3d(-50%, 10%, 0);
          transform: translate3d(-50%, 10%, 0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding:12px;
  border-radius: 3px;
  font-size: 12px;
  z-index: 20;
}

.w--tooltip:hover .w--tooltip_popup{
  -webkit-transform: translate3d(-50%, -8%, 0);
          transform: translate3d(-50%, -8%, 0);
  opacity: 1;
  visibility: visible;
}
.w--car .w--button{
  margin:30px 0;
  display: block;
  margin-bottom: 15px;
}
.w--car .w--button.centered{
  margin: 30px auto 15px;
}
.w--car .w--button.back_button{
  margin-top: 0;
  border: none;
  padding: 0;
  margin-bottom: 10px;
}
.w--car .w--button.back_button:hover{
  background:transparent;
  color:#314451;
}
.w--car .w--button--large{
  font-size: 24px;
  padding: 15px 40px;
}
.w--car .w--button--empty.w--button--orange{
  border: none;
  padding:0;
  margin-top:0px;
}
.w--car .w--button--empty.w--button--orange:hover{
  color:#314451;
}
.w--car h5{
  margin-bottom: 10px!important;
}
.w--car h5, .w--car h6{
  text-align: center;
}
.w--car h6{
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 20px;
}

/*TODO Move this to a separate file*/
.w--calendar{
	position: relative;
	cursor: pointer;
	display: inline-block;
	margin-right:15px;
}
.w--calendar.w--calendar-column-2 .w--calendar_dd{
  width: 582px;
}
.w--calendar .label_minimised{
  position: absolute;
  font-size: 12px;
  opacity: 0.7;
  top:3px;
  left:12px;
}
.w--calendar .label_full{
  display: none;
}
.w--calendar .w--calendar_edit{
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translate3D(0,-50%,0);
          transform: translate3D(0,-50%,0);
  color:#FF704C;
  border:1px solid #FF704C;
  font-size: 12px;
  padding: 0 3px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 18px;
}
.w--calendar .w--calendar_handle{
  position: relative;
  border-radius: 3px;
  border: 1px solid rgba(49,68,81,.3);
  padding: 19px 65px 6px 12px;
  min-width: 180px;
}
.w--calendar .w--calendar_month{
  display: inline-block;
}
.w--calendar .w--calendar_month_header{
  background: #efeff4;
  padding: 10px 60px;
}
.w--calendar .w--calendar_month_table{
  padding: 10px 30px;
}
.w--calendar .w--calendar_dd{
  position: absolute;
  top:100%;
  background: #fff;
  border-radius:3px;
  padding:0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index:300;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity:0;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}
.w--calendar .w--calendar_dd .w--calendar_prev, .w--calendar .w--calendar_dd .w--calendar_next{
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: absolute;
  left: 12px;
  top: 6px;
  background: transparent;
  border-radius: 20px;
  padding: 4px 7px;
}
.w--calendar .w--calendar_dd .w--calendar_prev:hover, .w--calendar .w--calendar_dd .w--calendar_next:hover{
  background: rgba(204, 204, 204, 0.52);
}
.w--calendar .w--calendar_dd .w--calendar_next{
  right:12px;
  left:auto;
}
.w--calendar .w--calendar_dd.reveal{
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity:1;
  z-index: 100;
}
.w--calendar .w--calendar_dd table th{
  background: shade(#FF704C, 5%);
}
.w--calendar .w--calendar_dd table td{
  text-align: center;
  padding: 5px 8px;
  border-radius: 20px;
}
.w--calendar .w--calendar_dd table td:hover{
  background:#efeff4;
}
.w--multi_select{
	position: relative;
	cursor: pointer;
	display: inline-block;
	margin-right:15px;
}
.w--multi_select .label_minimised, .w--multi_select .label_full{
  position: absolute;
  font-size: 12px;
  opacity: 0.7;
  top:3px;
  left:12px;
}
.w--multi_select .label_minimised.minwid + div {
  min-width: 65px;
}
.w--multi_select .label_full{
  opacity: 0.2;
}
.w--multi_select .w--multi_select_handle{
  position: relative;
  border-radius: 3px;
  border: 1px solid rgba(49,68,81,.3);
  padding: 19px 40px 6px 12px;
}
.w--multi_select .w--multi_select_dd{
  position: absolute;
  top:100%;
  width: 100%;
  background: #fff;
  border-radius:3px;
  padding:0px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index:300;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity:0;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}
.w--multi_select .w--multi_select_dd .w--multi_select_dd_element{
  display: block;
  padding: 5px 10px;
  font-size: 12px;
}
.w--multi_select .w--multi_select_dd .w--multi_select_dd_element:hover{
  background:#efeff4;
}
.w--multi_select .w--multi_select_dd input{
  background: #efeff4;
  padding:10px;
  border:none;
  border-bottom:1px solid rgba(0,0,0,0.1);
  width: 100%;
  min-width: 100%;
}
.w--multi_select .w--multi_select_dd input:focus{
  outline:none;
}
.w--multi_select .w--multi_select_dd.reveal{
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity:1;
  z-index: 1;
}
.w--multi_select .w--multi_select_options{
  width:100%;
  max-height: 300px;
  overflow:hidden;
  overflow: auto;
}
.w--multi_select .w--multi_select_arrow{
  border-color: rgb(153, 153, 153) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 9px 7px 0;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  right: 10px;
  top: 43%;
  width: 0;
}

.w--error{
	color: rgb(255, 0, 0);
    padding: 10px;
    margin: 0;
    font-weight: normal;
}

.w--label{
	margin-top: 24px;
    margin-bottom: 11px;
    display: block;
    opacity: 0.7;
    display: inline-block;

}

.w--label.flg{
  font-size: 18px;
}

.w--radio_input{
	display: inline-block;
}

.w--radio_input input[type="radio"] {
  display:none;
}

.w--radio_input input[type="radio"] + label {
  font-size:14px;
  cursor: pointer;
}

.w--radio_input input[type="radio"] + label:hover{
  color:#FF704C;
}

.w--radio_input input[type="radio"] + label span.radio_handle {
  display:inline-block;
  width:20px;
  height:20px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  cursor:pointer;
  border-radius:  50%;
}

.w--radio_input input[type="radio"] + label span.radio_handle {
  border:1px solid #314451;
}

.w--radio_input input[type="radio"] + label span.radio_handle:hover{
  border-color:#FF704C;
}

.w--radio_input input[type="radio"]:checked + label span.radio_handle{
  position: relative;
}

.w--radio_input input[type="radio"]:checked + label span.radio_handle:before{
  position: absolute;
  content:'';
  width:14px;
  height:14px;
  border-radius:50%;
  background-color:#FF704C;
  top:2px;
  left:2px;
}

.w--radio_input input[type="radio"] + label span.radio_handle, .w--radio_input input[type="radio"]:checked + label span.radio_handle {

}

.w--radio_input .w--radio_input_item{
  display: inline-block;
  margin-left: 10px;
}

.w--radio_input .w--radio_error{
  position: absolute;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 9px;
  border-radius: 3px;
}

.w--button{
	font-size: 14px;
	padding:10px 15px;
	border-radius: 3px;
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	display: inline-block;
}

.w--button:empty{
  display:none;
}

.w--button--orange{
	background: #FF704C;
	color:#fff;
	border: 1px solid rgb(242, 106, 72);
}

.w--button--orange:hover, .w--button--orange:active{
  background:rgb(242, 106, 72);
  text-decoration: none;
  color:#fff;
}

.w--button--empty{
	background: transparent;
	border: 1px solid #314451;
	color: #314451;
}

.w--button--empty:hover, .w--button--empty:active{
  background:#efeff4;
  color: #314451;
  text-decoration: none;
}

.w--button--empty.w--button--orange{
  color:#FF704C;
  border: 1px solid rgb(242, 106, 72);
}

.w--button--empty.w--button--orange:hover, .w--button--empty.w--button--orange:active{

}

.w--button--thin{
	padding:5px 10px;
}

.w--spinner {
  width: 70px;
  text-align: center;
}

.w--spinner.narrow{
  width:48px;
}

.w--spinner > div {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  background-color: #314451;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.w--spinner.white > div{
  background: #fff;
}

.w--spinner.orange > div{
  background: #FF704C;
}

.w--spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.w--spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



/* Custom styles for the widget */
.expired_label{
	margin-top:10px;
}
.secondary_button{

}
.car_selector_header, .car_selector_row{
	display: block;
	text-align: left;
	vertical-align: top;
}
.car_selector_header{
	padding-right: 15px;
}

.car_selector_row{
	border-radius:3px;
}

.car_selector_row .w--error {
  padding-bottom: 0;
}
.cng_value_input{
	margin-top:30px;
}
.cng_value_input input{
  padding:5px 10px;
  font-size:16px;
  margin-top:12px;
  border-radius: 3px;
  border:1px solid rgba(0,0,0,0.1);
}
.car_selector_row, .claims_selector_row, .expiry_date_selector_row, .ncb_selector_row{
}
.expiry_date_selector_row{
	margin-top:30px;
}
.expiry_date_selector_row .w--calendar{
  margin:0;
}
.expiry_date_selector_row .w--calendar .w--calendar_handle{
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border:none;
  text-align: left;
}

.ncb_selector_wrapper{
	text-align: left;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	background: #fff;
	width:236px;
	border-radius: 3px;
	position: relative;
	padding-right: 50px;
}

.ncb_selector_wrapper .w--tooltip{
  position: absolute;
  right: 12px;
  top: 13px;
}

.ncb_selector_wrapper .w--tooltip .w--tooltip_popup{
  text-align: left;
  line-height: 150%;
}

.ncb_selector_row{
	margin-top:20px;
}

.ncb_selector_row .w--multi_select{
  margin:0;
  outline: none;
}

.ncb_selector_row .w--multi_select .w--multi_select_handle{
  border:none;
  text-align: left;
}

.ncb_dropdown .w--multi_select_handle{
  min-width:136px;
}

.input_wrapper{
	margin-bottom:0px;

}

.input_wrapper input{
  padding: 10px;
  width: 236px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
}

.reg_header{
	position: absolute;
    top: -34px;
    text-align: center;
    width: 100%;
}

.reg_no_wrapper{
	width:425px;
	margin:0 auto;
	text-align: left;
	margin-top:50px;
	position: relative;

}

.reg_no_wrapper .w--reg_no_input{
  width:100%;
  border: none;
}

.reg_no_wrapper .w--reg_no_input input{
  text-align: left;
  padding: 23px 16px 10px;
  height: 65px;
  background: rgba(0, 0, 0, 0);
}

.reg_no_wrapper .w--reg_no_input input:focus{
  background: rgb(239, 239, 244);
}

.reg_no_wrapper .w--reg_no_input .w--error{
  position: static;
  padding: 10px 10px 0;
  margin: 0;
  font-weight: normal;
  font-size: 13px;
}

.reg_no_wrapper .w--text_input  {
  margin-bottom: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: #fff;
  height:65px;
  border-radius: 3px;
}

.reg_no_wrapper .w--text_input .w--text_input--label {
  top: 23px;
  left: 16px;
}

.reg_no_wrapper .w--text_input .w--text_input--label-minimized {
  top:9px;
}

.reg_no_wrapper .w--text_input hr {
  display: none;
}

.reg_no_wrapper .w--tooltip{
  position: absolute;
  right: 16px;
  top: 22px;
}




.car_selector_dd{
	width: 75%;
}




.car_selector_dd.w--multi_select .w--multi_select_handle{
  border:none;
  border-radius:0px;
  border-bottom:1px solid rgba(0,0,0,0.1);
  padding: 22px 40px 12px 12px;
}




.car_selector_dd .label_minimised, .car_selector_dd .label_full{
  text-transform: uppercase;
  top:7px;
  font-size: 10px;
  letter-spacing: 1px;
}

.showErrors{
	    padding: 5px 13px;
    color: rgb(255, 0, 0);
}

.w--car_summary, .w--car_form{
	float: left;
}
.w--car_form.boxed{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: #fff;
  padding:20px;
  border-radius:3px;
}
.w--car_form.centered{
  text-align: center;
}
.car_model_summary span.variant{
  font-size:12px;
  opacity: 0.6;
  line-height: 15px;
  display: block;
}
.summary_item_wrapper{
	display: inline-block;
	text-align: left;
	padding:10px;
	/*border:1px solid rgba(0,0,0,0.1);*/
	position: relative;
	padding-right:60px;
	width: 215px;
    margin-left: -25px;
}
@media screen and (min-width: 0px) and (max-width: 991px) {

  .summary_item_wrapper {
    display: block;
  }
}
.summary_item_wrapper:hover{
  cursor: pointer;
  background:#fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-color:transparent;
}
.summary_item_wrapper .summary_item_label{
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0.5;
  line-height: 12px;
}
.summary_item_wrapper .summary_item_value{

}
.summary_item_wrapper .summary_item_edit{
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translate3D(0,-50%,0);
          transform: translate3D(0,-50%,0);
  color: #FF704C;
  border: 1px solid #FF704C;
  font-size: 12px;
  padding: 0 3px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 18px;
}

.mobile_no_container{
	position: relative;
}

.mobile_no_container > span{
  position: absolute;
  top: 11px;
  left: 10px;
}

.mobile_no_container input{
  padding-left: 40px;
}
.edit-txt{
	position: absolute;
    top: 15px;
    right: 39px;
    font-size: 11px;
    color: #FF704C;
    border: 1px solid #FF704C;
    font-size: 12px;
    padding: 0 3px;
    text-transform: uppercase;
    border-radius: 3px;
    line-height: 18px;
}
.cng_lpg_input {
	width:75%;
	margin-top: 15px;
}
.cng_lpg_input .w--text_input input {
  padding-left: 10px;
}
.cng_lpg_input .w--text_input--label {
  margin-left: 10px;
}
.cng_lpg_input .w--text_input--label.w--text_input--label-minimized {
  font-size: 10px;
}
.cng_lpg_input .error-label {
  padding: 7px 0 0 10px;
}
.claims_selector_row .w--error {
  padding:0;
}
.mobile_number_input_wrapper .error-label {
  padding-top:7px;
}