/*Breakpoints variables (media queries)*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio, canvas, progress, video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden], template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b, strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button, input, optgroup, select, textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button, select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled], html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}


/* arrow css mixin */


body{
  font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
  color:#314451;
  width:100%;
  height:100%;
  overflow-y:scroll;

}
#content{

}

.dim{
    opacity:0.7;
}

.body-bg{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #314451;
  position: absolute;
  width:100vw;
  height:100vh;
  z-index:-2;
  background-color:#314451;
  background-image:url(../img/motor/mobile/home-bg.jpg);
}

.body-bg-cover{
  position: absolute;
  width:100vw;
  height:100vh;
  z-index:-1;
  background-color:#314451;
  opacity: 0.25;
}

.popular-grid{
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
          justify-content:center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-align-content: center;
          align-content: center;
  width:100px;
}



/*Temp*/

.quote-form{
  background: #fff;
  z-index: 20;
  position: relative;
}



/* Mobile Components */

.card, .loading-card{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: rgb(255, 255, 255);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 1px;
  padding: 30px;
}

.card.full-width, .loading-card.full-width{
  margin:0;
}

.grid-wrapper{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  box-sizing:border-box;
  padding:20px;
  padding-top:0;
  padding-bottom: 100px;

}

.grid-wrapper .grid-item{
  box-sizing:border-box;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  cursor: pointer;
  -webkit-flex-basis:45%;
          flex-basis:45%;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
          flex-grow:1;
  padding:20px;
  background: #fff;
}

.grid-wrapper .grid-item .grid-title-super{
  font-size: 12px;
  display: block;
  opacity: 0.7;
}

.grid-wrapper .grid-item .grid-title{
  display: block;
  font-size: 17px;
}

.grid-wrapper .grid-item.grid-active{
  -webkit-flex-basis: 100%;
          flex-basis: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  height:auto;
  cursor: default;
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

.grid-wrapper .grid-item.grid-active .grid-title{
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}

.grid-wrapper .grid-item.grid-active .list-item .item-left{
  font-size: 14px;
}

.grid-wrapper .grid-rto .grid-title{
  font-size: 18px;
}

/* Tabs */
ul.tabs{
  list-style-type: none;
  font-size: 0;
  text-align: center;
  padding:0;
}
ul.tabs li{
  display: inline-block;
  border: 1px solid rgb(206, 206, 216);
  margin-left: -1px;
  background-color: #efeff4;
  cursor: pointer;
  font-size: 13px;
  padding: 6px 12px;
}
ul.tabs li:first-child{
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}
ul.tabs li:last-child{
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
}
ul.tabs li.active{
  background: #FF704C;
  border:1px solid #FF704C;
  color:#fff;
}

h3.content-header{
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}


/*Header*/

.mobile-header-wrapper{
  height:48px;
  background: #314451;
  z-index:100;
  padding-left:20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-align-content:center;
          align-content:center;
  -webkit-box-align:center;
  -webkit-align-items:center;
          align-items:center;
  -webkit-box-pack:start;
  -webkit-justify-content:flex-start;
          justify-content:flex-start;
}

.mobile-header-wrapper img{
  max-height: 24px;
}

.toggle-switch-wrapper{
  border:1px solid #314451;
  border-radius: 30px;
  padding: 3px 10px;
  position: relative;
  padding-left: 25px;
  font-size: 13px;
  cursor:pointer;
   -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
           transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
   color:#314451;
}

.toggle-switch-wrapper .toggle-switch{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #314451;
  left: 1px;
  top: 1px;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.toggle-switch-wrapper.on{
  padding-left:10px;
  padding-right:25px;
  background-color: #FF704C;
  border: 1px solid rgb(199, 83, 53);
  color:#fff;
}

.toggle-switch-wrapper.on .toggle-switch{
  left:35px;
  background: #fff;
}




button.button{
  background: #FF704C;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  border:1px solid rgba(0,0,0,0.1);
}




button.button.large{
  font-size: 18px;
}




button.button.medium{
  font-size: 13px;
  padding: 3px 8px!important;
}




button.button.small{
  font-size: 11px;
  padding: 3px 5px!important;
}




button.button.empty{
  border: 1px solid #314451;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  padding: 5px 10px;
  color:#314451;
}




button.button.empty.active{
  background-color: #314451;
  color:#fff;
}




button.button.no-border{
  border:none;
}




button.button.inline-label{
  background-color: transparent;
  border:1px solid #FF704C;
  text-transform: none;
  color:#FF704C;
  padding-top:20px;
  font-size: 19px;
}




button.button.inline-label span.button-label{
  color:rgba(49,68,81,0.8);
  font-size: 13px;
  position: absolute;
  top: 6px;
}

.button-group{
  width:210px;
}

.button-group button.button{
  margin: 10px 10px 0px 0;
  width: 60px;
}

.button-group.attached button.button{
  border-radius: 0px;
  margin: 0;
  border-left: 0;
}

.button-group.attached button.button:last-child{
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
}

.button-group.attached button.button:first-child{
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  border-left:1px solid #314451;
}



.icon-text img{
  vertical-align: middle;
  max-height: 19px;
  margin-top: -4px;
  margin-right: 9px;
}

.block-title{
  font-size: 16px;
  display: block;
}

.block-subtitle{
  font-size: 13px;
  opacity: 0.6;
}

.forward-arrow{
  max-height: 14px;
}

.forward-arrow.spaced-both{
  margin:0 10px;
}

.more-icon{
  max-width: 22px;
  opacity: 0.5;
}

.page-title-wrapper{
  padding: 100px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  text-align: center;
  margin-bottom: -20px;
  padding-bottom: 56px;
  background-image:url('../img/motor/mobile/page-title-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #314451;
  position: relative;
  z-index:19;
}

.page-title-wrapper.topbar{
  height: 52px;
  padding: 0;
  margin-bottom: 0;
}

.page-title-wrapper .page-title-cover{
  position: absolute;
  background: #314451;
  opacity:0.6;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.page-title-wrapper .page-title{
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
          flex-grow:1;
  -webkit-flex-shrink:0;
          flex-shrink:0;
  -webkit-flex-basis:100%;
          flex-basis:100%;
  font-size:6.2vw;
  font-weight: 300;
  position: relative;
  z-index:2;
}

.page-title-wrapper .page-subtitle{
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
          flex-grow:1;
  -webkit-flex-shrink:0;
          flex-shrink:0;
  -webkit-flex-basis:100%;
          flex-basis:100%;
  font-size: 4vw;
  position: relative;
  z-index:2;
}

.page-title-wrapper.left{
  text-align: left;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
}

.page-title-wrapper.right{
  text-align:right;
}

.page-title-wrapper.light .page-title{
  color:#fff;
}

.page-title-wrapper.light .page-subtitle{
  color:#fff;
}

.page-title-logo{
  max-height:35px;
}

.page-title-logo.small{
  max-height: 25px;
  margin-bottom: 5px;
}


.page-content{
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  z-index: 30;
  position: relative;
}


.page-content.reveal{
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.list-item{
  cursor:pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  padding:25px 20px;
  border-bottom:1px solid rgba(0,0,0,0.05);
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
          flex-shrink: 1;
  -webkit-flex-basis: 100%;
          flex-basis: 100%;
}


.list-item.no-tap{
  cursor:default;
}


.list-item.left-center .item-left{
  text-align: center;
}


.list-item .item-left{
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
          flex-grow:1;
  -webkit-flex-shrink:0;
          flex-shrink:0;
  -webkit-flex-basis:80%;
          flex-basis:80%;
  font-size: 15px;
}


.list-item .item-left span.small-text{
  font-size: 12px;
  opacity: 0.8;
}


.list-item .item-right{
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 15px;
  color: rgba(49,68,81,0.8);
  text-align: right;
}


.list-item .item-bottom{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}


.list-item .item-bottom .list-item{
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
          flex-grow:1;
}


.list-item.has-right .item-left{
  max-width:80%;
}


.list-item.has-middle .item-left{
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
          flex-grow:1;
  -webkit-flex-basis:30%;
          flex-basis:30%;
}


.list-item.has-middle .item-middle{
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
          flex-grow:1;
  -webkit-flex-basis:30%;
          flex-basis:30%;
  text-align: center;
}


.list-item.has-middle .item-right{
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
          flex-grow:1;
  -webkit-flex-basis:30%;
          flex-basis:30%;
  text-align: right;
  position: relative;
  top:0;
  right:0;
  -webkit-transform:translateY(0);
          transform:translateY(0);
}


.list-item.list-header{
  font-size: 12px;
  padding: 5px 20px;
  background-color: rgb(239, 239, 244);
  color: rgba(49,68,81,0.8);
  text-transform: uppercase;
  letter-spacing: 2px;
}


.list-item.list-header .item-left{
  font-size: 12px;
}


.list-item.secondary{
  padding: 15px 20px;
  background-color: rgba(239, 239, 244,0.7);
}


.list-item.card{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: rgb(255, 255, 255);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 1px;
  padding: 30px;
}


.list-item.card.full-width{
  margin:0;
}


.list-item.thin{
  padding: 15px 20px;
}


.list-item.xthin{
  padding: 5px 20px;
  border-bottom: none;
}


.list-item.xthin.error{
  background: red;
}


.list-item.xthin.error .item-left, .list-item.xthin.error .item-right{
  color:#fff;
}


.list-item.xthin .item-left, .list-item.xthin .item-right{
  font-size: 11px;
}


.list-item.xthin.header{
  background: #efeff4;
}


.list-item.inline{
  -webkit-flex-basis: 20%;
          flex-basis: 20%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgba(49, 68, 81, 0.78);
  border-radius: 3px;
  margin: 20px 20px 0;
  float: left;
}


.list-item.inline.item-right{
  display: none;
}


.list-item span.right-title{
  display: block;
}


.list-item span.right-sub{
  display: block;
  font-size: 12px;
}


.list-item span.left-title{
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(49,68,81,0.5);
  font-size: 12px;
  margin-bottom: 4px;
}


.list-item span.left-sub{
  display: block;
}


.list-item span.left-subtitle{
  font-size: 13px;
  margin-top: 10px;
  display: block;
  opacity: 0.6;
}

.add-icon{
  font-size: 34px;
  color: #FF704C;
}

.edit-icon{
  color: #FF704C;
  border: 1px solid #FF704C;
  padding: 2px 5px;
  border-radius: 3px;
}

.search-bar{
  padding: 0;
  background-color: #FF704C;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  -webkit-flex-basis: 100%;
          flex-basis: 100%;
  height:48px;
  position: relative;
}

.search-bar .clear-keyword{
  position: absolute;
  right: 0;
  top: 0;
  color: rgba(255, 255, 255, 0.9);
  width: 48px;
  height: 48px;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.search-bar ::-webkit-input-placeholder {
  color: rgba(255,255,255,0.6);
}

.search-bar :-moz-placeholder {/* Firefox 18- */
  color: rgba(255,255,255,0.6);
}

.search-bar ::-moz-placeholder {/* Firefox 19+ */
  color: rgba(255,255,255,0.6);
}

.search-bar :-ms-input-placeholder {
  color: rgba(255,255,255,0.6);
}

.search-bar input{
  -webkit-box-flex:1;
  -webkit-flex-grow:1;
          flex-grow:1;
  -webkit-flex-shrink:0;
          flex-shrink:0;
  background-image:url(../img/motor/mobile/search-white.png);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 12px 17px;
  padding: 10px 6px 10px 36px;
  height:48px;
  border: none;
  background-color: rgb(235, 103, 70);
  font-size: 18px;
  color:#fff;
  box-sizing:border-box;
}

.search-bar input:focus{
  background-color: rgb(224, 99, 67);
}

.view-header{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  height:48px;
  position: absolute;
  top:0;
  left:0;
  right:0;
  z-index:99;
  background: #FF704C;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color:#fff;
}

.view-header .header-back-btn{
  background-image:url(../img/motor/mobile/backward-white.png);
  background-repeat: no-repeat;
  width:48px;
  height:48px;
  background-size: 10px;
  background-position: 18px 16px;
  cursor:pointer;
}

.view-header .header-title{
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  height: 48px;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  -webkit-box-pack:start;
  -webkit-justify-content:flex-start;
          justify-content:flex-start;
  -webkit-box-align:center;
  -webkit-align-items:center;
          align-items:center;
  -webkit-align-content:center;
          align-content:center;
  font-size: 16px;
}

.reg-item{
  max-width: 85px;
}

.modal{
  position: fixed;
  top: 0;
  left:0;
  right:0;
  height:100vh;
  width:100vw;
  background: #efeff4;
  overflow: hidden;
  z-index:500;
}

.modal .modal-header{

}

.modal .modal-content{
  position: absolute;
  width:100%;
  top:0;
  bottom:0;
  z-index:98;
  overflow-y: scroll;
  padding-bottom: 120px;
}

.modal .hanging-content{
  position: absolute;
  top:48px;
  left:0;
  right:0;
  z-index:100;
}

.premium-breakup-wrapper .thin.header{
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.4;
}

.idv-selector-wrapper{
  padding-top: 30px;
}

.idv-selector-wrapper input{
  font-size: 20px;
  text-align: center;
}

.idv-selector-wrapper p.sub{
  font-size: 13px;
}

.idv-selector-wrapper .list-item.narrow{
  border:none;
  padding-bottom: 0;
}

.idv-selector-wrapper p.error{
  color: rgb(255, 0, 0);
  font-size: 12px;
}


.modal-selector{
  position: fixed;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background: #fff;
  overflow: hidden;
  z-index: 300;
}


.modal-selector.ascend .search-bar{
  margin-top:-40px;
}


.modal-selector.has-search-bar .modal-selector-content{
  margin-top: 110px;
}


.modal-selector .modalheader{
  text-align: center;
  padding: 10px 25px;
  font-size: 4.2vw;
  text-transform: uppercase;
  opacity: 0.7;
  letter-spacing: 2px;
  background: #efeff4;
}


.modal-selector .modal-selector-content{
  margin-top:48px;
  position: absolute;
  width:100%;
  top:0;
  bottom:0;
  z-index:98;
  overflow-y: scroll;
}

.half-modal-wrapper{
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: rgba(49,68,81,0.8);
  padding: 20px;
  overflow-y:auto;
      z-index: 500;
}

.half-modal-wrapper .half-modal-cover{
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index: 96;
  position: absolute;
}

.half-modal-wrapper .half-modal-content{
  background: #fff;
  position: relative;
  z-index: 97;
  border-radius: 3px;
}

.half-modal-wrapper .half-modal-content h3.title{
  text-align: center;
  background-color: #efeff4;
  margin: 0;
  padding: 20px;
  font-weight: normal;
  color: #314451;
  padding-bottom: 0;
}

.half-modal-wrapper .half-modal-content p.subtitle{
  font-size: 14px;
  text-align: center;
  padding: 20px 50px;
  margin: 0;
  padding-top: 0px;
  color: rgba(49,68,81,0.6);
}

.action-block{
  text-align: center;
    padding: 20px;
}

.date-selector-wrapper h3{
  text-align: center;
  background-color: rgb(239, 239, 244);
  margin: 0;
  padding: 20px 20px 10px;
  font-weight: normal;
  font-size: 24px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.date-selector-wrapper p.subtitle{
  background: #efeff4;
}

.date-selector{
/*  p{
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 20px;
    color:rgba(49,68,81,0.7);
    &.error{
      color: rgb(255, 0, 0);
      padding: 0 40px;
    }
  }*/
}

.date-selector input{
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid #314451;
  border-radius:0px;
  display: block;
}

/*options panel*/

.options-panel{
  padding-bottom: 40px;
}

.option-category{
  text-transform: uppercase;
  font-size: 13px;
  padding: 20px;
  letter-spacing: 2px;
  font-weight: 300;
}

.option-category~.options-panel{
  background: #efeff4;
}

.options-others, .options-popular{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.options-others.grid, .options-popular.grid{
  padding:0 20px;
}

.options-popular{
}


/* Transitions */

.slide-from-right-enter {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  z-index:20;
}

.slide-from-right-enter.slide-from-right-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.slide-from-right-leave {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index:19;
}

.slide-from-right-leave.slide-from-right-leave-active {
  -webkit-transform: translate3d(-30%, 0, 0);
          transform: translate3d(-30%, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.fade-enter {
  opacity:0;
}

.fade-enter.fade-enter-active {
  opacity:1;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.fade-leave {
  opacity:1;
}

.fade-leave.fade-leave-active {
  opacity:0;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.slide-from-left-enter {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}

.slide-from-left-enter.slide-from-left-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.slide-from-left-leave {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slide-from-left-leave.slide-from-left-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}



.modal-enter {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

.modal-enter.modal-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}


.modal-leave {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.modal-leave.modal-leave-active {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}


/*App Styles*/

.email-item img{
  max-height: 14px;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 9px;
}

.phone-item img{
  max-height: 18px;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 9px;
}


.reg-year-selector-wrapper .button-group{
  margin-top:5px;
}


/*Results section*/

.results-wrapper{
  min-height: 100vh;
  background: #fff;

}

.summary-card .summary-card-details{
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.summary-card .summary-card-details.reveal{
  max-height: 120px;
  padding:10px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

span.q-mark{
    margin-left: 10px;
    border: 1px solid #314451;
    width: 16px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

span.number-icon{
    background-color: #314451;
    color: rgb(255, 255, 255);
    padding: 1px 5px;
    border-radius: 30px;
    font-size: 13px;
}

.actionbar{
  padding:0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
  background-color: #efeff4;
  opacity:0;
}

.actionbar.reveal{
  opacity:1;
}

.actionbar>.list-item{
  margin: 0;
  border: 0;
  padding: 10px 20px;
  border-right: 1px solid rgba(0,0,0,0.07);
  border-right: 1px solid rgba(0,0,0,0.07);
  border-radius: 0px;
}

.actionbar>.list-item .item-left{
  font-size: 12px;
}

.actionbar>.list-item .item-left .block-title{
  font-size: 12px;
}

.actionbar>.list-item .item-left .block-subtitle{
  font-size: 12px;
  color:rgb(59, 181, 237);
}

.actionbar>.list-item .item-left span.action{
  color:rgb(59, 181, 237);
}

.insurer-logo{
    max-height: 42px;
    max-width: 90px;
}

.plan-cards-wrapper{
}

.modal.premium-breakup-modal{
  background: #efeff4;
}

.list-item.addon-item{
  padding: 4px 20px;
  background-color: #f7fafc;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-top:-1px;

}

.list-item.addon-item .item-left{
  font-size: 13px;
}

.list-item.addon-item.not-available .item-left{
  opacity: 0.4;
}

.list-item.addon-item.not-available .item-right{
  opacity: 0.4;
  font-size: 13px;
}

.addon-selector-item .list-item .item-left{
  cursor: pointer;
}

.plancard-wrapper{
  margin-bottom: 10px;
}

.list-item.plan-item{
  padding: 0 15px;
  height:100px;
  margin-bottom: 0;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-align-content: center;
          align-content: center;

}

.list-item.plan-item .item-right{
  opacity: 1;
  font-size: 22px;
  color: rgb(49, 68, 81);
}

.list-item.plan-item .block-subtitle{
  font-size: 11px;
  opacity:0.5;
}

.list-item.plan-item .plan-premium, .list-item.plan-item .plan-action{
  display: block;
}

.list-item.plan-item .plan-action{
  font-size: 11px;
  color:rgb(59, 181, 237);
}

.list-item.plan-item .item-middle{
  font-size: 22px;
}

input{
  border:1px solid rgba(49,68,81, 0.24);
  border-radius: 3px;
  padding:5px 10px;
}

.idv-popup{
  text-align: center;
  padding-bottom: 20px;
}

.idv-popup h3{
  text-align: center;
  font-weight: 300;
  width: 100%;
}

.idv-popup p{
  font-size: 12px;
  text-align: center;
  padding:0 20px;
}

.idv-popup p.error{
  color:red;
}

.idv-popup input{
  font-size: 30px;
  text-align: center;
  border:none;
  border-bottom: 1px solid #314451;
  width: 100%;
}

.idv-popup button.button{
  margin-top: 12px;
}
.page{
  min-height: 100vh;
  min-width: 100vw;
  background: #efeff4;
}

.full-screen-spinner{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.full-screen-spinner span{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width:70%;
  top:30%;
  text-align: center;
  opacity: 0.7;
}

.full-screen-spinner .spinner{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 40%;
  width:100px;
}

.full-screen-spinner .spinner>div{
  background-color:#FF704C;
  margin-right:10px;
  width: 13px;
  height: 13px;
}

.spinner {
  width: 70px;
  text-align: center;
  margin: auto;
}

.spinner.narrow{
  width:48px;
}

.spinner > div {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  background-color: #314451;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner.white > div{
  background: #fff;
}

.spinner.orange > div{
  background: #FF704C;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.modal-idv{
  background: #efeff4;
}

.about-idv-content{
  background: rgb(233, 233, 236);
  padding: 20px 0;
}

.about-idv-content h4{

}

.about-idv-content p{
  font-size: 13px;
  opacity: 0.7;
}


.loading-message{
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.rogue-message{
  font-size: 13px;
}

.loading-card{
  margin: 30px 50px;
  box-shadow: none;
  line-height: 130%;
  padding: 15px 20px;
  background: transparent;
  padding-bottom: 50px;
  border:none;
}

.loading-card .spinner{
  position: relative;
  left: 50%;
  margin: 20px auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width:100%;
}

.loading-card .spinner>div{
  background-color:#FF704C;
  margin-right:10px;
  width: 13px;
  height: 13px;
}


.list-item.narrow{
  padding:15px 30px;
}


.list-item.narrow .item-left{
  text-align: center;
}


.mobileNo{
  width: 80%;
  padding: 10px 0;
  padding-left: 10px;
}


.controlgroup{
  background: #efeff4;
  padding:10px 20px;

}


.controlgroup .radio-control{
  padding:10px;
  padding-left:32px;
  cursor: pointer;
  position: relative;
}


.controlgroup .radio-control:before{
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 20px;
  border: 1px solid rgba(49, 68, 81, 0.85);
  left: 0;
  top:50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}


.controlgroup .radio-control.selected{
  color: #FF704C;
}


.controlgroup .radio-control.selected:after{
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 16px;
  left: 4px;
  background: #FF704C;
  top:50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}












/*Fastlane stuff*/

body{
  background: #efeff4;
}

.low{
    max-height:0!important;
    opacity:0!important;
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden!important;
    padding:0!important;
    margin:0!important;
  }

.fl-page-header, .fl-reg-input, .fl-expired-input, .fl-car-selector, .fl-ncb-selector, .fl-ncb-input{
  max-height:600px;
}

.fl-expired-input{
  margin-bottom: 20px;
  margin-top: 20px;
}

.fl-ncb-input{
  margin-bottom: 20px;
}

.fl-page-header{
  padding:40px;
  text-align: center;
}

.fl-page-header img{
  width:64px;
}


.fl-reg-input{
  text-align: center;
}


.fl-reg-input h2{
  font-weight: 300;
  padding: 20px 40px;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 0px;
  font-size: 30px;
}


.fl-reg-input input{
  width: 80% !important;/*God please change this later*/
  border: none;
  padding: 11px 8px;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  text-transform: uppercase;
}


.fl-reg-input .fl-main, .fl-reg-input .fl-grey{
  width: 270px;
  padding: 15px;
  font-size: 14px!important;
}


.fl-reg-input .fl-main{
  text-transform: uppercase;
  letter-spacing: 2px;
}


.fl-reg-input .fl-grey{
  margin-top: 15px!important;
  background: rgb(239, 239, 244)!important;
  border: none!important;
  padding: 15px 20px!important;
  color: rgba(49, 68, 81, 0.49)!important;
}


.fl-reg-input .fl-list{
  border-bottom: 0;
  padding-top: 40px;
}


.fl-modal{
  background: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-left:30px;
  margin-right:30px;
}


.fl-modal h2{
  font-weight: 300;
  padding:30px;
  padding:30px;
  text-align: center;
  margin: 0;
}


.fl-modal .action-buttons{
  border-top:1px solid rgba(0,0,0,0.1);
}


.fl-modal .action-buttons ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.fl-modal .action-buttons ul li{
  cursor: pointer;
  display: inline-block;
  width:50%;
  text-align: center;
  font-size: 20px;
  padding:20px;
  box-sizing: border-box;
  font-weight: 300;
}


.fl-modal .action-buttons ul li:first-child{
  border-right:1px solid rgba(0,0,0,0.1);
}


.fl-modal .action-buttons ul li:last-child{
  background: rgba(239, 239, 244, 0.65);
}

.fl-car-selector h2{
  font-weight: 300;
  padding:30px;
  padding:30px;
  text-align: center;
  margin-bottom: 0;
  font-size: 21px;
}

.fl-car-selector .fl-main, .fl-car-selector .fl-grey{
  width: 270px;
  padding: 15px;
  font-size: 14px!important;
}

.fl-car-selector .fl-main{
  text-transform: uppercase;
  letter-spacing: 2px;
}

.fl-car-selector .fl-list{
  border-bottom: 0;
  padding-top: 40px;
  text-align: center;
}



.fl-ncb-selector{
      padding-bottom: 30px;
}



.fl-ncb-selector h2{
  font-weight: 300;
  padding:30px;
  padding:30px;
  text-align: center;
  margin-bottom: 0;
  font-size: 21px;
}


.ncb-modal h2{
  font-weight: 300;
  padding: 30px;
  text-align: center;
  font-size: 24px;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
}


.ncb-modal h3{
  font-weight: 300;
  padding: 30px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 19px;
  margin: 0;
  padding-top: 10px;
}

.no-header{
  background: #fff;
}

.no-header .view-header {
  background: rgba(0, 0, 0, 0);
  border: none;
}

.no-header .view-header .header-back-btn{
  background-image:url(../img/motor/mobile/backward.png);
}

.button-group.ol{
    text-align: center!important;
    width: 100%!important;
    padding-left: 66px!important;
    padding-right: 66px!important;
    box-sizing: border-box!important;
}

.button-group.ol button.button{
  width:94px;
  margin: 2px;
  padding: 15px;
}

.button-group.ol button.button.empty{
  background: #efeff4;
  border:none;
}

.button-group.ol button.button.final{
  margin-top:10px;
}

.button-group.ol button.button.active{
  background: rgb(49, 68, 81);
}

.button-group.ol button.button.big{
  width:194px!important;
}

.upper{
  text-transform: uppercase;
}
.card.lol, .loading-card.lol{
  margin:0;
}
.buy-caption {
  opacity:0.5;
  display:block;
  margin-top:5px;
  font-size:11px;
}
