/*Breakpoints variables (media queries)*/


/* arrow css mixin */
.header-wrapper{
	height:64px;
	background:#314451;
	color:#fff;
	box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	position: fixed;
	top:0;
	left:0;
	right:0;
	padding:0 16px;
	z-index:1400;
}

.hamburger-menu, .logo, .page-title{
	float: left;
}

.hamburger-menu{
	width:48px;
	height:48px;
	position: relative;
	top:8px;
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 16px 12px;
	background-image: url('../img/icons/hamburger.png');
	cursor: pointer;
}
.page-title{
	font-size: 20px;
  	line-height: 64px;
  	position: relative;
  	font-weight: 300;
  	opacity: 0.7;
}
.page-title:before{
	content:'';
	width: 0.3em;
	margin:0 0.8em 0 0.8em;
	background-repeat:no-repeat;
	background-image: url('../img/icons/right-arrow-white.png');
	background-size: contain;
	background-position: right center;
	float: left;
	height: 64px;
}

.bar-text{
	font-size: 16px;
  	line-height: 64px;
  	position: relative;
  	font-weight: 300;
  	opacity: 1;
  	padding-right:30px;
}


.logo{
	line-height: 60px;
	cursor: pointer;
}


.logo img{
	height:24px;
	margin-left:8px;
}
.right-item {
    font-size: 16px;
    line-height: 64px;
    position: relative;
    font-weight: 300;
    opacity: .7;
    font-weight: 700;
    margin-right: 16px;
}
.app-container{
  margin-top:100px;
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -webkit-flex-direction:row;
          flex-direction:row;
  -webkit-flex-wrap:wrap;
          flex-wrap:wrap;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
          justify-content:center;
  -webkit-align-content:flex-start;
          align-content:flex-start;
  -webkit-box-align:start;
  -webkit-align-items:flex-start;
          align-items:flex-start;
}
.app-container .app-quote-form{
	background: rgba(239, 239, 244, 0.95);
	border-radius:3px;
	box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	width:585px;
	padding: 0 15px 20px;
}
.app-container .app-quote-form h1{
	text-align: center;
	font-weight: 300;
	font-size: 30px;
}


body{
	font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
}
