@import url(https://fonts.googleapis.com/css?family=Handlee);
body{
	padding:0;
	min-width:380px;
	-webkit-font-smoothing: antialiased;
	text-align:center;
	background-color:#dbdfe8;
	font-family: "jaf-facitweb",sans-serif;
}
.text_header{
    padding: 20px;
    background-color: #334552;
    color:#fff;
    font-size: 16px;
}
#topbar {
  padding: 10px 0;
  position: relative;
  margin-bottom: 15px;
}
#topbar .logo {
  float: left;
  text-align: center;
  width: 130px;
  margin-bottom: 5px;
  margin-top: 2px;
}
#topbar .logo img {
  width: 100%;
}
#topbar .menuimg {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #363636;
  padding: 5px;
  top: 3px;
  right: 0px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
#topbar #right-menu-items {
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
  float: right;
  margin-left: -70px;
}
#topbar #right-menu-items li {
  display: inline-block;
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
  margin: 0;
  padding-right: 40px;
  text-align: right;
  position: relative;
}
#topbar #right-menu-items li a {
  font-size: 16px;
  display: block;
  color: #363636;
  padding: 0px;
}
#topbar #right-menu-items li a:hover {
  text-decoration: none;
  cursor: default;
}
#topbar .irda-auth-badge {
  letter-spacing: 0;
  width: 215px;
  vertical-align: bottom;
  text-align: left;
  float: left;
  margin-left: 20px;
  font-size: 12px;
}
#topbar .irda-auth-badge img {
  height: 35px;
  margin-right: 5px;
  margin-left: 10px;
  vertical-align: bottom;
  float: left;
}
#topbar #right-menu-items li.pipe-link {
  padding: 5px 10px;
}
#topbar #right-menu-items li.pipe-link.seperator {
  border-right: 1px solid #eaeaea;
  margin: 0px 10px;
  height: 30px;
  padding: 0;
}
#topbar #right-menu-items li.pipe-link a {
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  top: -10px;
}
#topbar #right-menu-items li.pipe-link a:hover {
  text-decoration: none;
  color: #ff6127;
}
#topbar .navbar-toggle {
  display: none;
  margin-right: 10px;
  padding: 0px;
  height: 34px;
  width: 34px;
  text-align: center;
  background-color: #f3f3f3;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#topbar .navbar-toggle:active,
#topbar .navbar-toggle:focus,
#topbar .navbar-toggle:hover {
  outline: none;
}
#topbar .navbar-toggle .bar {
  content: "";
  position: absolute;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 15px;
  display: inline-block;
  width: 15px;
  height: 3px;
  background-color: #363636;
  left: 9px;
}
#topbar .navbar-toggle .bar.plus {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#topbar .navbar-toggle .bar.plus:before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 3px;
  background-color: inherit;
  top: -7px;
  left: 6px;
  position: absolute;
}
#topbar .navbar-toggle .bar.minus {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
#topbar .navbar-toggle.active .bar.plus {
  -webkit-transform: scale(0) rotate(-90deg);
  -moz-transform: scale(0) rotate(-90deg);
  -ms-transform: scale(0) rotate(-90deg);
  -o-transform: scale(0) rotate(-90deg);
  transform: scale(0) rotate(-90deg);
}
#topbar .navbar-toggle.active .bar.minus {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#topbar .pipe-menu-right {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  text-align: left;
  margin: 0 -15px 0px;
  padding: 0px;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  height: 0px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
#topbar .pipe-menu-right.active {
  overflow: visible;
  margin-top: 10px;
  margin-bottom: -10px;
  height: auto;
  opacity: 1;
  visibility: visible;
  top: 100%;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
}
#topbar .pipe-menu-right li {
  display: block;
  padding: 0px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0px;
}
#topbar .pipe-menu-right li a {
  display: block;
  padding: 15px;
  background-color: #f7f7f7;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
#topbar .pipe-menu-right li a:hover,
#topbar .pipe-menu-right li a:focus,
#topbar .pipe-menu-right li a:active {
  color: #ff6127;
  text-decoration: none;
}
h1 {
    font-size:50px;
    font-family: "jaf-facitweb",sans-serif;
    font-weight:300;
    margin-top:50px;
}
h2 {
    color:#999999;
    font-family: "jaf-facitweb",sans-serif;
    font-size:22px;
    line-height:1.4em;
}
.articlelist {
    background-color:#ffffff;
    border:1px solid #dadada;
    padding:20px 0px;
    text-align:center;
    font-family: "jaf-facitweb",sans-serif;
}
.article-links {
    width:200px;
    margin:10px;
    display:inline-block;
}
.article-links:hover {
    text-decoration:none;
}
.article-links:hover .icon-sprite {
    background-position:-67px 0px;
}
.wello {
    border-top:3px solid #ffffff;
    padding-top:20px;
}
.wello h4 {
    line-height: 1.2em;
}

.icon-sprite {
    margin:auto;
    width:64px;
    height:64px;
}
.car .icon-sprite {
    background: url("/static/img/car-sprite.gif") -1px 0px transparent;
}
.health .icon-sprite {
    background: url("/static/img/health-sprite.gif") -1px 0px transparent;
}
.life .icon-sprite {
    background: url("/static/img/life-sprite.gif") -1px 0px transparent;
}
.travel .icon-sprite {
    background: url("/static/img/travel-sprite.gif") -1px 0px transparent;
}
.all .icon-sprite {
    background: url("/static/img/all-sprite.gif") -1px 0px transparent;
}
@media screen and (min-width: 200px) and (max-width: 991px) {
  .benefits-wrapper h4 {
    font-size: 16px;
    margin-bottom: 40px;
  }
  #right-menu-items li {
    display: block;
    margin-bottom: 10px;
  }
  .companies-wrapper {
    height: auto;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 50px;
  }
  #topbar .logo {
    float: none;
    margin-bottom: 3px;
  }
  #topbar .irda-auth-badge {
    position: relative;
    float: none;
    margin: 0px;
    font-size: 12px;
    color: #999999;
  }
  #topbar .irda-auth-badge br {
    display: none;
  }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
  .testimonials-carousel h1.section-header {
    font-size: 40px;
  }
  .companies-wrapper {
    height: 145px;
  }
  .companies-wrapper ul.company-logos li {
    padding: 10px 15px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .three-steps ul li.middle-cir {
    margin: 0 70px;
  }
  .three-steps ul li > div:after {
    width: 65px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  body,
  html {
    min-width: 320px;
  }
  .call-action {
    max-width: 460px;
    margin: auto;
    padding: 0 30px;
  }
  .experts-help ul {
    padding-left: 30px;
    margin: 0px;
    max-width: 100%;
  }
  .experts-help ul li {
    font-size: 18px;
    padding-top: 10px;
    margin-top: 20px;
  }
  .testimonials-carousel {
    min-height: 360px;
  }
  #topbar {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #topbar .logo {
    width: 120px;
  }
  #topbar .menuimg {
    width: 25px;
    height: 25px;
  }
  #topbar #right-menu-items li {
    padding-right: 30px;
  }
  #topbar #right-menu-items li a {
    font-size: 14px;
  }
  #topbar .irda-auth-badge {
    font-size: 10px;
  }
  .testimonials-carousel h1.section-header {
    font-size: 36px;
    line-height: 1.2em;
    padding: 0 15px;
  }
  .carousel ul li {
    font-size: 14px;
    padding-top: 0;
  }
  ul.company-logos li {
    padding: 5px;
  }
  ul.company-logos li img {
    height: 30px;
  }
  .companies-wrapper {
    height: auto;
  }
  .companies-wrapper ul.company-logos li {
    padding: 5px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 40px;
  }
  .experts-help ul li img {
    top: 5px;
  }
  .testimonials-carousel h1.section-header {
    font-size: 32px;
  }
  .testimonials-carousel .carousel ul li {
    font-size: 16px;
  }
  .testimonials-carousel .carousel ul li img {
    width: 110px;
  }
  .wow .call_me_btn_expert.btn-cfox {
    margin-top: 10px;
  }
  .three-steps h1 {
    font-size: 26px;
    margin-bottom: 0px;
  }
  .three-steps ul {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    padding: 0px 0px 0px 30px;
    margin: 30px 0px 20px;
  }
  .three-steps ul li {
    position: relative;
    float: none;
    width: 100%;
    margin: 0px;
  }
  .three-steps ul li .step_number {
    top: 0px;
    left: 0px;
  }
  .three-steps ul li strong {
    top: 0px;
  }
  .three-steps ul li > div {
    border-width: 0px;
    padding: 7px 20px 7px 45px;
    text-align: left;
    margin-bottom: 10px;
    width: auto;
    font-size: 16px;
    height: auto;
    line-height: 1.5em;
    top: 0px;
    left: 0px;
    position: relative;
    background-color: transparent;
  }
  .three-steps ul li > div:after,
  .three-steps ul li > div:before {
    display: none;
  }
  .three-steps ul li > div.padding-top {
    padding-top: 7px;
  }
  .three-steps ul li.middle-cir {
    margin: 0;
  }
  .testimonials-section .testimonial-item .comment {
    font-size: 13px;
  }
  .dark-box h1,
  .light-box h1 {
    font-size: 32px;
  }
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .footer .txt-r {
    text-align: left;
  }
}
@media screen and (min-width: 200px) and (max-width: 690px) {
  #topbar .navbar-toggle {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 5px;
  }
  #topbar #right-menu-items .pipe-link {
    display: none;
  }
  #topbar #right-menu-items li {
    padding-right: 0px;
  }
  #topbar #right-menu-items {
    margin-right: 50px;
  }
  #topbar .menuimg {
    display: none;
  }
}
@media screen and (min-width: 200px) and (max-width: 519px) {
  .btn-cfox {
    white-space: normal;
  }
  .light-box h1,
  .dark-box h1 {
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .experts-help ul {
    padding-left: 0px;
  }
  .experts-help ul li {
    font-size: 16px;
    padding-top: 0px;
    margin-top: 20px;
  }
  .companies-wrapper {
    height: auto;
  }
  .companies-wrapper ul.company-logos li {
    padding: 5px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 40px;
  }
  .testimonials-carousel h1.section-header {
    font-size: 32px;
  }
  .testimonials-carousel .carousel ul li {
    font-size: 14px;
  }
  .testimonials-carousel .carousel ul li img {
    width: 110px;
  }
  .three-steps ul {
    padding-left: 0px;
  }
  .experts-help ul li img {
    top: 0px;
  }
}
.text-panel {
  margin: 20px 0;
  font-size: 16px;
}
.text-panel h3 {
  font-weight: bold;
}
.text-panel p,
ul li {
  font-size: 16px;
}
.homelink {
  color: #ff6127;
}

