/*Breakpoints variables (media queries)*/


/* arrow css mixin */
.btn{
	font-size: 16px;
	padding:10px 15px;
	border-radius: 3px;
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	display: inline-block;
}
.btn:empty{
	display:none;
}

.btn--orange{
	background: #FF704C;
	color:#fff;
	border: 1px solid rgb(242, 106, 72);

}

.btn--orange:hover, .btn--orange:active{
	background:rgb(242, 106, 72);
	text-decoration: none;
	color:#fff;
}

.btn--empty{
	background: transparent;
	border: 1px solid #314451;
	color: #314451;
}

.btn--empty:hover, .btn--empty:active{
	background:#efeff4;
	color: #314451;
	text-decoration: none;
}

.btn--empty.btn--orange{
	color:#FF704C;
	border: 1px solid rgb(242, 106, 72);
}

.btn--empty.btn--orange:hover, .btn--empty.btn--orange:active{
	color: #fff;
}

.btn--extrasmall{

}

.btn--small{

}

.btn--medium{

}

.btn--large{
    font-size: 18px;
    padding: 15px;
}
.btn--block {
	display: block;
	width: 100%;
}




.w--button{
	font-size: 13px;
	padding:10px 15px;
	border-radius: 3px;
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
}




.w--button:empty{
	display:none;
}

.w--button--orange{
	background: #FF704C;
	color:#fff;
	border: 1px solid rgb(242, 106, 72);
}

:not(.loading).w--button--orange:hover, :not(.loading).w--button--orange:active{
	background:rgb(242, 106, 72);
	text-decoration: none;
	color:#fff;
}

.w--button--orange .w--spinner > div{
	background: #fff;
}

.w--button--orange.loading, .w--button--orange.loading:hover{
	border:none;
	background: -webkit-linear-gradient(180deg, #ff594f, #ff7344, #ff704c);
	background: linear-gradient(270deg, #ff594f, #ff7344, #ff704c);
	background-size: 200% 200%;
	-webkit-animation: orangeGradientAnim 1.4s ease infinite;
	animation: orangeGradientAnim 1.4s ease infinite;
}

.w--button--large{
	height:48px;
	width:140px;
}

.w--button--link{
	background-color: transparent;
	border:none;
	text-transform: none;
	letter-spacing: 0px;
	color:#42B1FD;
}

.w--button--link:hover{
	color:#314451;
}

.w--button--empty{
	background: transparent;
	border: 1px solid #314451;
	color: #314451;
}

.w--button--empty:hover, .w--button--empty:active{
	background:#efeff4;
	color: #314451;
	text-decoration: none;
}

.w--button--empty.w--button--orange{
	color:#FF704C;
	border: 1px solid rgb(242, 106, 72);
}

.w--button--empty.w--button--orange:hover, .w--button--empty.w--button--orange:active{

}

.w--button--thin{
	padding:5px 10px;
}
.w--button:disabled {
    opacity: .6;
}
.w--button.not-allowed {
	cursor: not-allowed;
}
.w--spinner {
  width: 70px;
  text-align: center;
  margin: 0 auto;
}

.w--spinner.narrow{
  width:48px;
}

.w--spinner > div {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  background-color: #314451;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.w--spinner.white > div{
  background: #fff;
}

.w--spinner.orange > div{
  background: #FF704C;
}

.w--spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.w--spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@-webkit-keyframes orangeGradientAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes orangeGradientAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.success-header{
	max-width: 318px;
    margin: 50px auto 0;
    text-align: center;
    color: #314451;
}

.success-header ul{
	margin: 0;
	padding: 0;
}

.success-header ul li{
	background: url('/static/img/icons/ps-tick.png') no-repeat left top transparent;
	list-style-type: none;
	padding-left: 72px;
	padding-top:5px;
	font-size: 24px;
	height: 70px;
	text-align: left;
}

.success-header ul li span{
	text-align: left;
	font-size: 14px;
	display: block;
}
.success-card {
    max-width: 570px;
    margin:25px auto;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #fff;
}
.success-card .c-logo {
	display:inline-block;
	max-height:30px;
	max-width:100%;
}
.success-card .action-link {
	margin: 0 0 15px;
	display: block;
	font-size: 12px;
	padding-left: 30px;
	max-width: 220px;
	text-align: left;
	background:url('/static/img/icons/download-icon.png') no-repeat 5px center transparent;
}
.success-card__list{
	margin: 20px 0;
	padding: 0;
}
.success-card__list.mnone{
	margin: 0;
}
.success-card__list.mbnone{
	margin-bottom: 0;
}
.success-card__list li{
	vertical-align:top;
	display:inline-block;
	width:100%;
	font-size: 13px;
	text-transform: uppercase;
	list-style: none;
	margin: 0 0 15px;
}
.success-card__list li.col-2 {
	width:50%;
}
.success-card__list .success-card__heading{
	font-size: 10px;
	text-transform: uppercase;
	color:rgba(49,68,81,0.5);
}
.payment-details{
	max-width: 570px;
    margin:35px auto;
    font-size: 12px;
}
.payment-details__tophead{
	text-transform: uppercase;
    margin-bottom:5px;
}
.payment-details__middlehead{
	margin-bottom:10px;
}
.text-mute{
	color:rgba(49,68,81,0.5);
}