/*Breakpoints variables (media queries)*/
.reviews_box_container
{
    margin: 0 0 30px 0;
}
.reviews_box_container .rating-star
    {
    margin: 20px 0 0 20
}
.reviews_box_container .review_rating {
    float: left;
}
.reviews_box_container .review_rating.pos-r {
    position: relative;
    pointer-events:none;
}
.reviews_box_container .review_rating:not(:checked)>input {
    position: absolute;
    top: -9999px;
    clip: rect(0,0,0,0);
}
.reviews_box_container .review_rating:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
    text-shadow: 1px 1px #bbb,2px 2px #666,0.1em .1em .2em rgba(0,0,0,0.5);
}
.reviews_box_container .review_rating>input:checked ~ label {
    color: #f70;
    text-shadow: 1px 1px #c60,2px 2px #940,0.1em .1em .2em rgba(0,0,0,0.5);
}
.reviews_box_container .review_rating:not(:checked)>label:before {
    content: '★ ';
}
.reviews_box_container .mht {
    margin: 12px 0 0 20px;
}
.reviews_box_container i {
    color: #ff6127;
}
.reviews_box_container .review_rating:not(:checked)>label:hover, .reviews_box_container .review_rating:not(:checked)>label:hover ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod,2px 2px #b57340,0.1em .1em .2em rgba(0,0,0,0.5);
}