body{
    font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
}

.box, .card{
    box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #314451;
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card{
    background-color:red;
 	background-color: #eee;
 	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(transparent));
 	background: -webkit-linear-gradient(top, #eee, transparent);
 	background: -o-linear-gradient(top, #eee, transparent); 
 	/*@mixin flexContainer;*/
 	-webkit-transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
 	        transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}
