/*Breakpoints variables (media queries)*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio, canvas, progress, video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden], template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b, strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button, input, optgroup, select, textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button, select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled], html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}


/* arrow css mixin */
/* Headings */

h1{
	font-size:45px;
	line-height:56px;
}

h1.flg{/* font large */
}

h2{
	font-size:34px;
	line-height:41px;
}

h2.flg{/* font large */
  font-size:45px;
  line-height:56px;
}

h3{
	font-size:24px;
	line-height:30px;
}

h3.flg{/* font large */
  font-size:34px;
  line-height:41px;
}

h4{
	font-size:18px;
	line-height:24px;
}

h4.flg{/* font large */
  font-size: 20px;
  line-height: 24px;
}

p, ul li, ol li{
	font-size: 16px;
	line-height: 24px;
}

p.flg, ul li.flg, ol li.flg{
  font-size: 20px;
  line-height: 30px;
}

p.fm, ul li.fm, ol li.fm{
  font-size: 14px;
  line-height: 24px;
}

p.fs, ul li.fs, ol li.fs{
  font-size: 12px;
  line-height: 20px;
}

p.fxs, ul li.fxs, ol li.fxs{
  font-size: 11px;
  line-height: 20px;
}



/* Font Weights */
/* Custom font weights that modify the default values for elements are not allowed.
Use the classes below to change default font-weights. */

.fwb{
	font-weight: bold;
}

.fsi{
	font-style: italic;
}

.fwt{
	font-weight: 300;
}

.fwn{
	font-weight: normal;
}

/* Letter Spacings */
/* Currently we provide and allow only two letter spacings. 1px and 2px. */

.ls1{
	letter-spacing: 1px
}

.ls2{
	letter-spacing: 2px;
}


ul li{}


ul.fs li{
  font-size: 13px;
  line-height: 20px;
}


ul.no-bullets{
  list-style-type: none;
  padding:0;
}


ul.no-bullets li.list-header{
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  margin-top:15px;
  margin-left: -15px;
  font-weight: bold;
}
/* tool tip component */
.w--tooltip .w--tooltip_handle{
  color:#FF704C;
  border:1px solid #FF704C;
  padding: 5px 10px;
  line-height: 100%;
  border-radius: 50%;
}
.w--tooltip .w--tooltip_popup{
  position: absolute;
  width: 220px;
  background: #314451;
  color:#fff;
  bottom:100%;
  left:50%;
  -webkit-transform: translate3d(-50%, 10%, 0);
          transform: translate3d(-50%, 10%, 0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding:12px;
  border-radius: 3px;
  font-size: 12px;
  z-index: 20;
}
.w--tooltip:hover .w--tooltip_popup{
  -webkit-transform: translate3d(-50%, -8%, 0);
          transform: translate3d(-50%, -8%, 0);
  opacity: 1;
  visibility: visible;
}



/* error widget component */
.w--error{
	color: rgb(255, 0, 0);
    padding: 10px;
    margin: 0;
    font-weight: normal;
}
/* label widget component */
.w--label{
	margin-top: 24px;
    margin-bottom: 11px;
    display: block;
    opacity: 0.7;
    display: inline-block;

}
.w--label.flg{
  font-size: 18px;
}
/* radio widget component */
.w--radio_input{
	display: inline-block;
}
.w--radio_input input[type="radio"] {
  display:none;
}
.w--radio_input input[type="radio"] + label {
  font-size:14px;
  cursor: pointer;
}
.w--radio_input input[type="radio"] + label:hover{
  color:#FF704C;
}
.w--radio_input input[type="radio"] + label span.radio_handle {
  display:inline-block;
  width:20px;
  height:20px;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  cursor:pointer;
  border-radius:  50%;
}
.w--radio_input input[type="radio"] + label span.radio_handle {
  border:1px solid #314451;
}
.w--radio_input input[type="radio"] + label span.radio_handle:hover{
  border-color:#FF704C;
}
.w--radio_input input[type="radio"]:checked + label span.radio_handle{
  position: relative;
}
.w--radio_input input[type="radio"]:checked + label span.radio_handle:before{
  position: absolute;
  content:'';
  width:14px;
  height:14px;
  border-radius:50%;
  background-color:#FF704C;
  top:2px;
  left:2px;
}
.w--radio_input input[type="radio"] + label span.radio_handle, .w--radio_input input[type="radio"]:checked + label span.radio_handle {}
.w--radio_input .w--radio_input_item{
  display: inline-block;
  margin-left: 10px;
}
.w--radio_input .w--radio_error{
  position: absolute;
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 9px;
  border-radius: 3px;
}
/* button widget component */
.w--button{
	font-size: 14px;
	padding:10px 15px;
	border-radius: 3px;
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	display: inline-block;
}
.w--button:empty{
  display:none;
}

.w--button--orange{
	background: #FF704C;
	color:#fff;
	border: 1px solid rgb(242, 106, 72);
}

.w--button--orange:hover, .w--button--orange:active{
  background:rgb(242, 106, 72);
  text-decoration: none;
  color:#fff;
}

.w--button--empty{
	background: transparent;
	border: 1px solid #314451;
	color: #314451;
}

.w--button--empty:hover, .w--button--empty:active{
  background:#efeff4;
  color: #314451;
  text-decoration: none;
}

.w--button--empty.w--button--orange{
  color:#FF704C;
  border: 1px solid rgb(242, 106, 72);
}

.w--button--empty.w--button--orange:hover, .w--button--empty.w--button--orange:active{}

.w--button--thin{
	padding:5px 10px;
}
/* spinner widget component */
.w--spinner {
  width: 70px;
  text-align: center;
}

.w--spinner.narrow{
  width:48px;
}

.w--spinner > div {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  background-color: #314451;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.w--spinner.white > div{
  background: #fff;
}

.w--spinner.orange > div{
  background: #FF704C;
}

.w--spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.w--spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.control-inner-row {
    margin-bottom: 15px
}
.controlgroup.radio.horizontal .radio-control {
    float: left;
    position: relative;
    padding-left: 32px;
    cursor: pointer
}
.controlgroup.radio.horizontal .radio-control .desc {
    display: block;
    font-size: 12px;
    opacity: .7
}
.controlgroup.radio.horizontal .radio-control:before {
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 1px solid rgba(49, 68, 81, .85);
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.controlgroup.radio.horizontal .radio-control.selected:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 32px;
    left: 6px;
    background: #ff6127;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.controlgroup.radio.small .radio-control {
    margin-right: 20px
}
.controlgroup.radio.small .radio-control:before {
    width: 20px;
    height: 20px
}
.controlgroup.radio.small .radio-control.selected:after {
    width: 12px;
    height: 12px;
    left: 4px
}
.controlgroup.radio.boxed .radio-control {
    width: 200px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    background: #fff;
    padding-left: 60px;
    margin-right: 15px;
    -webkit-transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    border-radius: 3px
}
.controlgroup.radio.boxed .radio-control:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}
.controlgroup.radio.boxed .radio-control:before {
    left: 15px;
    top: 9px;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}
.controlgroup.radio.boxed .radio-control.selected:after {
    left: 21px;
    top: 15px;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

/* common classes */

.m-b-15 {
	margin-bottom: 15px;
}

 .mobile_no_container{
   	position: relative;
  }

 .mobile_no_container > span{
	position: absolute;
    bottom: 11px;
    left:10px;
    top: auto;
  }

 .mobile_no_container input{
    padding-left: 40px;
  }

  .w--textarea textarea {
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    resize: none;
    margin: 0;
    height: 120px;
    vertical-align: top;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.w--travel .w--error {
  padding: 5px 0px;
  font-size: 12px;
  line-height: 1.4em;
}

.w--travel .w--button:disabled {
  opacity: .6;
  cursor: not-allowed;
}

.w--travel .radio-tab {
  display: block;
  margin: 15px 0;
}

.w--travel .w--button{
  margin:30px 0;
  display: block;
  margin-bottom: 15px;
}

.w--travel .w--button.centered{
  margin: 30px auto 15px;
}

.w--travel .w--button.back_button{
  margin-top: 0;
  border: none;
  padding: 0;
  margin-bottom: 10px;
}

.w--travel .w--button.back_button:hover{
  background:transparent;
  color:#314451;
}

.w--travel .w--button--large{
  font-size: 24px;
  padding: 15px 40px;
}

.w--travel .w--button--empty.w--button--orange{
  border: none;
  padding:0;
  margin-top:0px;
}

.w--travel .w--button--empty.w--button--orange:hover{
  color:#314451;
}

.w--travel h5{
  margin-bottom: 10px!important;
}

.w--travel h5, .w--travel h6{
  text-align: center;
}

.w--travel h6{
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 20px;
}

.w--travel .w--calendar_handle.empty .label_minimised {
  top:12px;
  font-size: 14px;
}

.w--travel .w--calendar_handle.empty {
  min-height:49px;
}

.w--travel .full-width-select {
  padding-right:0px;
}

.w--travel .full-width-select .w--multi_select {
  width: 100%;
}

.w--travel .age-div input[type=number]::-webkit-inner-spin-button, .w--travel .age-div input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_wrapper input {
	width: 100%;
}

.age-div {
	display: inline-block;
    position: relative;
    top: 3px;
    line-height: 1em;
    font-size: 12px;
}

.age-div > span {
  display: inline-block;
  position: relative;
  top:0px;
}

.age-div .input_wrapper {
  width: 45px;
  display: inline-block;
  margin: 5px 10px 0 0;
}

.age-div .input_wrapper input {
  width: 100%;
  height: 30px;
  padding: 5px;
}


/* calendar */
.w--calendar + div.trip {
	display: inline-block;
    position: relative;
    top: 15px;
}
.w--calendar + div.trip > .count-no > span:first-child {
  background: #314451;
  color: #fff;
  padding: 0px 5px;
  display: inline-block;
}
@media screen and (max-width: 699px){

  .w--calendar + div.trip {
    display: inline-block;
    position: relative;
    margin: 10px -30px 0 -10px;
    top: 0;
    font-size: 10px;
  }
}

.no-of-travellers {
	display: inline-block;
}

.no-of-travellers .w--multi_select .w--multi_select_handle {
  min-width: 180px;
}

@media screen and (max-width: 699px){

  .no-of-travellers .w--multi_select .w--multi_select_handle {
    min-width: 130px;
  }
}

.w--multi_select {
	min-width: 140px;
}
.extra-info-selector {
    border-radius: 3px;
    float: left;
    width: 100%;
    margin: 10px 0 15px;
}
.extra-info-selector > div {
    margin-right: 15px;
}
.extra-info-selector p {
    display: inline-block;
    max-width: 280px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
    width: 50%;
    min-width: 200px;
}
.extra-info-selector.non-resident-block {
	background-color: rgba(239, 239, 244, 0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 3px;
	padding:15px;
    margin-top: 10px;
    margin-left: -15px;
    margin-bottom:0;
}
.non-resident-block .w--multi_select  {
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
}
.extra-info-selector>div>.controlgroup {
    display: inline-block;
    vertical-align: top
}
.annual-trip-info > div {
	display: inline-block;
	vertical-align: top;
	max-width: 340px;
}
@media screen and (max-width: 699px){
	.annual-trip-info > div {
    max-width: 290px;
  }
	.annual-trip-info .age-div .input_wrapper{
    margin-right:5px;
    width:40px;
  }
	.annual-trip-info .w--multi_select {
    min-width:110px;
  }
}

.trip-dates .w--calendar {
  vertical-align:top;
}

