.coll-btn {
    margin-top: 15px;
}
.flag-num {
    font-size: 14px;
    margin: 14px 15px 0px;
}
.flag-num > img {
    width:26px;
}
.nav > li > a > img {
    max-width: none;
    width: 26px;
}
.nav-social > li > a {
    padding: 9px 5px 10px;
}
.navbar-collapse.in {
    bottom: 0;
    overflow: visible !important;
    width: 100%;
    max-height:none !important;
}
.user-log .log-reg {
    color:#222222 !important;
    text-decoration:underline;
}
.user-log .notification_count {
    background-color: #F78460;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 12px;
    left: 0;
    padding: 0 3px;
    position: relative;
    top: -10px;
    margin-left:-7px;
}
.user-log .notification_label > img {
    width:17px;
}
.user-log .notification_label {
    cursor: pointer;
    height: 50px;
    padding: 14px 9px 10px;
    position: relative;
    border-left:1px solid rgba(0,0,0,0.08);
}
.user-log .divider-vertical {
    height:50px;
    margin-left:9px;
    border-left:1px solid rgba(0,0,0,0.08);
}
.user-log.navbar-nav > li {
    float:left;
}
.user-log.navbar-nav > li > a {
    padding:14px 10px 10px;
    cursor:pointer;
    color:#999999;
    font-size:14px;
}
.user-log.navbar-nav > li > a .user-icon {
    border-radius:5px;
    display:inline-block;
    overflow:hidden;
    width:30px;
    height:30px;
    margin-top:-5px;
}
.user-log.navbar-nav > li > a .caret {
    border-top-color:#999999;
    margin-left:5px;
}
.user-log.navbar-nav > li > a:hover .caret {
    border-top-color:#575757;
}
.user-log.navbar-nav > li > a:hover,.user-log.navbar-nav > li > a:focus,.user-log.navbar-nav > li > a:active {
    text-decoration:none;
    outline:none;
    color:#575757;
    background:none;
}
.user-log.navbar-nav > li > .dropdown-menu {
    margin-top: 0px;
    position:absolute;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 100%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
.user-log.navbar-nav > li > .caret-up:before {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #b0b0b0;
    border-style: solid;
    border-width: 10px;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    right: 10px;
    top: -20px;
    width: 15px;
}
.user-log .notify {
    width:400px;
    max-height:300px;
}
.transaction-box {
    border-top:1px solid #f5f5f5;
    padding:5px 5px 5px 10px !important;
    cursor:pointer;
    display:block;
    font-size:13px;
}
.dropdown-menu.notify .transaction-box:hover {
    background-color:#f5f5f5;
    color:#363636;
}
.transaction-box .transaction-msg {
    width:310px;
}
.transaction-box .transaction-badge {
    font-size:11px;
}
.notify-header {
    background-color:#f0f0f0;
    border-bottom:1px solid #dadada;
    padding:3px 10px;
    border-radius:3px 3px 0 0;
    -moz-border-radius:3px 3px 0 0;
    -webkit-border-radius:3px 3px 0 0;
    -ms-border-radius:3px 3px 0 0;
}
.notify-heading {
    width:310px;
    font-size:16px;
    color:#666666;
}
.notify-status {
    font-size:12px;
    margin-top:2px;
    display:inline-block;
}
@media screen and (max-width: 767px) {
    .user-log {
        margin-top:0px;
    }
}
