/*Breakpoints variables (media queries)*/


/* arrow css mixin */
.icon--down_arrow{
	/*border-color: rgba(49,68,81,0.4) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 9px 7px 0;
    content: " ";
    display: block;
    height: 0;
    width: 0;*/
    width:16px;
	height:9px;
	background:url('/static/img/icons/icon-dd.png') no-repeat center center transparent;
	content: " ";
	display: block;
}
.icon--add_plus{
	font-weight: 300;
    font-size: 30px;
    opacity: 0.4;
    line-height: 1em;
    position: relative;
    right: -3px;
    top:-2px;
}


/*This should move to common input elements css*/

.quote-form-item{
	display: inline-block;
	padding: 18px 12px;
	border-right:none;
	cursor: pointer;
	-webkit-transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	background: #fff;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.20), 0 -1px 0 0 rgba(0,0,0,0.03);
	height:55px;
}

.quote-form-item:hover{
	background: rgba(0,0,0,0.03);
}

.quote-form-item.first{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.quote-form-item.last{
	border-right: 1px solid rgba(49,68,81,.4);
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.quote-form-item .w--lrcard--middle{
	padding-right: 32px;
}

.quote-form-item .w--lrcard--left {
	padding-top:6px;
}

.quote-form-item.is_empty .w--lrcard--left {
	opacity:0.7;
	padding-top:0px;
}

.quote-form-item.is_empty .label_minimised {
	display: none;
}

.quote-form-item .label_minimised {
	font-size: 10px;
	text-transform: uppercase;
	top: -10px;
	left: 0px;
	letter-spacing: 1px;
	position: absolute;
	opacity: 0.7;
}

.bike_make_name, .bike_reg_city_name, .bike_policy_exp_date{
	display: inline-block;
	vertical-align:top;
	position:relative;
}

.bike_make_name .error-label, .bike_reg_city_name .error-label, .bike_policy_exp_date .error-label {
	text-align:left;
	margin:0;
	padding:10px 0 0;
}

.bike_make_name .quote-form-item, .bike_reg_city_name .quote-form-item, .bike_policy_exp_date .quote-form-item {
	width:100%;
	height:55px;
	padding-bottom:0;
}

.bike_make_name .quote-form-item.fill_height, .bike_reg_city_name .quote-form-item.fill_height, .bike_policy_exp_date .quote-form-item.fill_height {
	height: 65px;
}

.bike_make_name .quote-form-item.fill_height .w--lrcard--left, .bike_reg_city_name .quote-form-item.fill_height .w--lrcard--left, .bike_policy_exp_date .quote-form-item.fill_height .w--lrcard--left {
	height: 35px;
	padding-top: 6px;
}

.bike_make_name .quote-form-item.is_empty.fill_height .w--lrcard--left, .bike_reg_city_name .quote-form-item.is_empty.fill_height .w--lrcard--left, .bike_policy_exp_date .quote-form-item.is_empty.fill_height .w--lrcard--left {
	height: 35px;
	padding-top: 6px;
}

.bike_make_name .quote-form-item .w--lrcard--left, .bike_reg_city_name .quote-form-item .w--lrcard--left, .bike_policy_exp_date .quote-form-item .w--lrcard--left{
	white-space: nowrap;
	text-align: left;
	width: 100%;
}

.bike_make_name .quote-form-item .small, .bike_reg_city_name .quote-form-item .small, .bike_policy_exp_date .quote-form-item .small {
	opacity:0.7;
	line-height:1.2em;
	font-size:11px;
}

.bike_make_name .quote-form-item + .error-label, .bike_reg_city_name .quote-form-item + .error-label, .bike_policy_exp_date .quote-form-item + .error-label {
	position:absolute;
	top:100%;
	left:0;
	width:100%;
}

.bike_make_name .quote-form-item.first + .error-label, .bike_reg_city_name .quote-form-item.first + .error-label, .bike_policy_exp_date .quote-form-item.first + .error-label {
	position:relative;
	top:0;
}
.bike_make_name{
	max-width:270px;
	width:260px;
}
.bike_reg_city_name{
	max-width: 220px;
	width:220px;
}
.bike_policy_exp_date{
	width:200px;
	position:relative;
	text-align:left;
}


.popular-items{
	padding:20px 30px;
}

.popular-item{
	display: inline-block;
	border: 1px solid #979797;
	padding:10px 5px;
	border-radius: 3px;
	cursor: pointer;
	width: 100px;
	margin-right:5px;
	margin-left: 5px;
	vertical-align: top;
	margin-bottom: 10px;
}

.popular-item.selected{
	background: #314451;
	border: 1px solid #314451;
}

.popular-item.selected h5, .popular-item.selected p{
	color: #fff;
}

.popular-item h5{
	margin:0;
	font-size: 14px;
	margin-bottom: 5px;
}

.popular-item p{
	font-size: 11px;
	opacity: 0.5;
	margin:0;
	line-height: 100%;
}
.popular-items--grid .popular-item {
	padding:10px 5px;
	height:62px;
	overflow:hidden;
}





.bike-proposal-wrapper{
	width:768px;
	margin: 0 auto;
	position: relative;
	padding:35px 0;

}





.bike-proposal-wrapper .stage-list{
	width: 200px;
	float: left;
	padding:30px;
}





.bike-proposal-wrapper .stage-list .stage-list-item{
	margin-bottom: 20px;
	opacity: 0.5;
	font-size: 13px;
	position: relative;
	cursor: pointer;
}





.bike-proposal-wrapper .stage-list .stage-list-item:before{
	content: '';
	border: 1px solid #314451;
	left:-25px;
	width:16px;
	height:16px;
	position: absolute;
	border-radius: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}





.bike-proposal-wrapper .stage-list .stage-list-item.active{
	opacity: 1;
}





.bike-proposal-wrapper .stage-list .stage-list-item.done{
	opacity: 1;
}





.bike-proposal-wrapper .stage-list .stage-list-item.done:before{
	background-image:url('/static/img/common/stage-done.png');
	background-repeat:no-repeat;
	background-size:16px 16px;
	border:none;
}





.bike-proposal-wrapper .stage{
	background: #fff;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.20), 0 -1px 0 0 rgba(0,0,0,0.03);
	width:340px;
	float: left;
	position: relative;
	border-radius: 3px;
	padding:30px;
}





.bike-proposal-wrapper .stage.summary{
	width:100%;
}





.bike-proposal-wrapper .stage .stage-desc{

}



.bike-results-wrapper{
	width:700px;
	margin: 0 auto;
	position: relative;
}



.bike-results-wrapper .bike-results-prompt{
	position: absolute;
	top:0;
	left:100%;
	margin-left:50px;
	width:206px;
	font-size: 16px;
	line-height: 24px;
	padding:0 10px;
	border-left: 1px dashed rgba(49,68,81,0.4);
}



.bike-results-wrapper a{
	cursor: pointer;
}



.bike-results-wrapper a:hover{
	color: #314451;
	text-decoration: none;
}

.bike-results-summary, .bike-proposal-summary{
	border:1px solid rgba(49,68,81,.4);
	border-radius: 3px;
}

.bike-results-summary .w--lrcard, .bike-proposal-summary .w--lrcard{
	display: inline-block;
	width: 50%;
	padding:8px 16px;
}

.bike-results-summary .w--lrcard:first-child, .bike-proposal-summary .w--lrcard:first-child{
	border-right:1px solid rgba(49,68,81,.4);
}

.bike-results-summary .w--lrcard h3, .bike-proposal-summary .w--lrcard h3{
	margin:0;
	font-size: 20px;
	font-weight: normal;
	line-height: 100%;
}

.bike-results-summary .w--lrcard h4, .bike-proposal-summary .w--lrcard h4{
	margin:0;
	font-size: 14px;
	font-weight: normal;
	color: rgba(49,68,81,.66);
	margin-top:2px;
}

.bike-results-summary .w--lrcard a, .bike-proposal-summary .w--lrcard a{
	font-size: 11px;
	color:#42B1FD;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	letter-spacing: 1px;
}

.bike-results-summary .w--lrcard a:hover, .bike-proposal-summary .w--lrcard a:hover{
	color: #314451;
}
.bike-results-summary .w--lrcard a {
	position: relative;
	top: 10px;
}

.bike-proposal-summary{
	width: 768px;
    margin: 0 auto;
    position: relative;
	border:none;
}

.bike-proposal-summary .summary__plan{
	background: #fff;
	border:none;
	box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	padding-top: 10px;
	height:75px;
	width:340px;
}

.bike-proposal-summary .summary__plan img{

}

.bike-proposal-summary .summary__plan p{
	opacity: 0.57;
	font-size: 12px;
	color: #314451;
	line-height: 15px;
	margin-bottom: 0;
	margin-top:8px;
}

.bike-proposal-summary .summary__plan .summary_premium{
	font-size: 25px;
}

.bike-proposal-summary .summary__plan .summary_premium.text-right {
	text-align:right;
}

.bike-proposal-summary .summary__plan .premium_msg {
	font-size:12px;
}

.bike-proposal-summary .summary__quote{
	height:75px;
	width:428px;
	box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	vertical-align: bottom;
	background-color: #fff;
	font-size: 12px;
	padding-top: 20px;
	margin-left: -1px;
}

.bike-addon-selector{
	margin-top: 20px;
	text-align:center;
	/*temporary till the multiselect is fixed*/
}

.bike-addon-selector .w--multi_select{
	margin:0;
	margin-right: -1px;
}

.bike-addon-selector .w--multi_select .w--multi_select_handle{
	width: auto;
	text-align: left;
	border-radius: 0px;
	border:1px solid rgba(49,68,81,0.4);
	border-left:0px;
}

.bike-addon-selector .w--multi_select:first-child .w--multi_select_handle{
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	border-left:1px solid rgba(49,68,81,0.4);
}

.bike-addon-selector .w--multi_select:last-child .w--multi_select_handle{
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
}

.bike-addon-selector .bike_addon .w--multi_select_footer{
	text-align: left;
}

.bike-addon-selector .bike_addon--zero-dep .w--multi_select_dd{
	width:255px;
}

.bike-addon-selector .bike_addon--zero-dep .w--multi_select_dd_element{
	display: inline-block;
	border:1px solid #314451;
	border-radius: 3px;
	padding: 5px 30px;
	margin-left: 8px;
	margin-right: 8px;
}

.bike-addon-selector .bike_addon--zero-dep .w--multi_select_dd_element.active {
	background-color:#314451;
	color:#fff;
}

.bike-addon-selector .bike_addon--idv .w--multi_select_dd{
	width:255px;
	padding-bottom: 20px;
}

.bike-addon-selector .bike_addon--idv .w--multi_select_dd_element{
	border:1px solid #314451;
	border-radius: 3px;
	padding: 10px 30px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 8px;
}

.bike-addon-selector .bike_addon--idv .w--multi_select_dd_element.active {
	background-color:#314451;
	color:#fff;/* need to fix this type of call */
}

.bike-addon-selector .bike_addon--idv .w--multi_select_dd_element.active .rupee_icon {
	background-position: bottom center;
}

.bike-addon-selector .bike_addon--idv .w--multi_select_options {
	max-height:460px;
}

.bike-plans-wrapper{
	margin-top:20px;
	opacity:0;
	-webkit-transition:opacity 100ms cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition:opacity 100ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bike-plans-wrapper.reveal{
	opacity: 1;
}

.bike-plans-wrapper .bike-plan-card{
	background: #fff;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.20), 0 -1px 0 0 rgba(0,0,0,0.03);
	border-radius: 3px;
	width: 340px;
	padding:0;
	margin-bottom: 20px;
	height:74px;
	float: left;
	margin-right: 20px;
	cursor: pointer;
}

.bike-plans-wrapper .bike-plan-card .w--lrcard--left{
	height:74px;
}

.bike-plans-wrapper .bike-plan-card .w--lrcard--middle .w--lrcard--right{
	right: 21px;
}

.bike-plans-wrapper .bike-plan-card:hover{
	box-shadow:0px 2px 25px 0px rgba(0,0,0,0.12);
}

.bike-plans-wrapper .bike-plan-card:nth-child(even){
	margin-right:0;
}

.bike-plans-wrapper .bike-plan-card .bike-plan-card--left{
	position: absolute;
	bottom: 22px;
	left: 15px;
}

.bike-plans-wrapper .bike-plan-card .bike-plan-card--left .bike-plan-card--idv{
	position: relative;
	width: 200px;
	margin-bottom: -10px;
	top: 6px;
	opacity: 0.7;
	font-size: 12px;
}

.bike-plans-wrapper .bike-plan-card .bike-plan-card--left p{
	opacity: 0.57;
	font-size: 12px;
	color: #314451;
	line-height: 15px;
	margin-bottom: 0;
	margin-top:8px;
}

.bike-plans-wrapper .bike-plan-card .quote-fail-error span{
	color:rgba(49,68,81,0.8);
	display: block;
	text-align: right;
	font-size: 12px;
}

.bike-plans-wrapper .bike-plan-card .quote-fail-error span.quote-fail-try-again{
	text-transform: uppercase;
	letter-spacing: 1px;
	color:#42B1FD;
}


.bike-price{
	font-size: 16px;
    letter-spacing: 0px;
    text-transform: none;
    padding: 6px 12px;
}

.bike-results-row{
	margin-top:20px;
	float: left;
    width: 100%;
}

.bike-results-row h3.bike-results-row--title{
	text-align: center;/* text-transform: uppercase; */
	font-size: 14px;
	letter-spacing: 1px;
	margin:0;
	position: relative;
}

.bike-results-row h3.bike-results-row--title:before{
	border-bottom: 1px solid rgba(49,68,81,0.4);
	content:'';
	position: absolute;
	top:50%;
	height:1px;
	margin-top:-1px;
	width: 100%;
	left: 0;
}

.bike-results-row h3.bike-results-row--title span{
	background: #e7eaee;
	padding:5px 10px;
	position: relative;
}

.bike-results-row p.bike-results-row--desc{
	text-align: center;
	font-size: 14px;
	line-height: 18px;
	color:rgba(49,68,81,0.4);
	margin-top:5px;
	margin-bottom: 30px;
}


.proposal_container_btn{
	margin-top:15px;
	outline:none;
	padding:5px 40px;
}

.w--calendar.bike_Calendar{
	margin-bottom: 10px;
}

.w--multi_select.bike_SelectInput{
	width: 100%;
}

.w--multi_select.bike_SelectInput .w--error{
	line-height:1.4em;
	position: relative;
	padding: 0;
	margin-top:-5px;
}

.w--multi_select.bike_SelectInput .label_show{
	font-size: 12px;
	text-transform: none;
	opacity: 0.7;
	top: 0px;
	left: 0px;
	letter-spacing: 0px;
}

.w--multi_select.bike_SelectInput .w--multi_select_arrow{
	top: 20px;
}

.w--multi_select.bike_SelectInput .w--multi_select_handle{
	border-radius: 0px;
	border:none;
	border-bottom: 1px solid rgba(49,68,81,.4);
	padding: 15px 40px 0px 0px;
	margin-bottom: 10px;
}

.w--multi_select.bike_SelectInput .w--multi_select_handle .dd_placeholder{
	position: relative;
	top:0;
	-webkit-transform:none;
	        transform:none;
	color: rgba(49,68,81,0.7)
}

.container_summary{
	margin-bottom: 15px;
	font-size: 12px;
	position: absolute;
	width: 33%;
    word-wrap: break-word;
}

.container_summary .w--button{
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
}

.container_summary__title{
	font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-transform: uppercase;
    position: relative;
}

.container_summary__title:after{
	content: '';
	position: absolute;
	left: 0;
	width: 56px;
	border-bottom: 1px solid rgb(49, 68, 81);
	bottom: -3px;
}

.payment_btn{
	width: 300px;
	text-transform: none;
}




.cf--pill{
	border:1px solid rgba(49,68,81,0.4);
	padding:5px 10px;
	color:#314451;
	display: inline-block;
	border-radius: 3px;
}




.cf--pill.active{
	background:#314451;
	border-color:#314451;
	color:#fff;
}
.cf-modal .cf-modal__content.vehicle_modal{
	width:700px;
	text-align:center;

}
.cf-modal .cf-modal__content.vehicle_modal .cf--pill{
	margin:0 5px 10px;
	cursor: pointer;
	-webkit-transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	min-width: 90px;
	position: relative;
	height: 37px;
	vertical-align: top;
	width: 90px;
	line-height:1em;
}
.cf-modal .cf-modal__content.vehicle_modal .cf--pill--small{
	min-width: 95px;
	padding-top: 9px;
	line-height: 1.6em;
}
.cf-modal .cf-modal__content.vehicle_modal .cf--pill--large{
	width:150px;
}
.cf-modal .cf-modal__content.vehicle_modal .cf--pill--logo{
	height: 55px;
}
.cf-modal .cf-modal__content.vehicle_modal .cf--pill--logo img{
	display: block;
	margin:0 auto 6px;
}
.cf-modal .cf-modal__content.vehicle_modal .cf--pill--logo img + span {
	top: 0;
	-webkit-transform:translate3d(0,0,0);
	        transform:translate3d(0,0,0);
}
.cf-modal .cf-modal__content.vehicle_modal .cf--pill.selected, .cf-modal .cf-modal__content.vehicle_modal .cf--pill.selected:hover{
	background: #314451;
	color:#fff;
	border: 1px solid #314451;
}
.cf-modal .cf-modal__content.vehicle_modal .cf--pill span{
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	position:relative;
	top:50%;
	-webkit-transform:translate3d(0,-50%,0);
	        transform:translate3d(0,-50%,0);
}
.cf-modal .cf-modal__content.vehicle_modal .cf--pill:hover{
	background: rgba(0,0,0,0.03);
}

.w--multi_select.modal_reg_year .w--multi_select_handle{
	min-width: 95px;
	height: 37px;
	padding-top:10px;
	font-size: 12px;
}

.w--multi_select.modal_reg_year .w--multi_select_handle .label_show{
	display: none;
}

.w--multi_select.modal_reg_year.selected .w--multi_select_handle{
	color:#fff;
	background: #314451;
}

.w--multi_select.modal_reg_year.selected .w--multi_select_arrow{
	border-color: rgb(172, 177, 181) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}


.stage-items.summary-wrapper{
	height:520px;
	position: relative;
}

/* Review section hack till a proper review section is built out */

#primary-detail-container{

}
#basic-detail-container{
	top:180px;
}
#vehicle_details_container{
	left:245px;
}
#vehicle_details_container .subcontainer_title{
	display: none;
}
#address_container{
	left:500px;
}
.declaration_checkbox{
	margin-bottom: 20px;
}

.other_vehicle_models {
	margin: 15px 0 10px;
}

.other_vehicle_models .w--button{
	vertical-align: top;
}

.other_vehicle_models .w--multi_select{
	text-align: left;
}

.other_vehicle_models .w--multi_select .w--multi_select_handle{
	width: 230px;
	height: 48px;
}

.other_vehicle_models .w--multi_select .w--multi_select_options {
	max-height: 250px;
}
.rto-selector .w--multi_select{
	text-align: left;
	margin-bottom: 20px;
}
.rto-selector .w--multi_select .w--multi_select_handle {
	width: 380px;
	height: 55px;
}
.rto-selector .w--multi_select + .error-label {
	position:relative;
	top:-20px;
}
.rto-selector .w--multi_select .w--multi_select_options {
	max-height: 200px;
}
.share_modal_wrapper .small{
	font-size: 100%;
}
.share_modal_wrapper .sub_msg{
	margin: 10px 0;
	opacity: 0.7;
}
.share_modal_wrapper .cf-modal__content{
	width: 300px;
	padding:20px 40px;
	text-align: center;
}
.share_modal_wrapper .share_tabs{
	border-bottom: 1px solid rgba(49, 68, 81, 0.2);
	padding: 0 0 3px;
	margin: 24px 0;
}
.share_modal_wrapper .share_tabs .tab{
	font-size: 12px;
	height: 18px;
	border-right: 1px solid rgba(49, 68, 81, 0.2);
	padding: 0 20px;
	margin: 5px 0 10px;
	display: inline-block;
	cursor: pointer;
}
.share_modal_wrapper .share_tabs .tab:last-child {
	border-right: none;
}
.share_modal_wrapper .share_tabs .tab.selected-tab{
	position: relative;
	cursor: auto;
}
.share_modal_wrapper .share_tabs .tab.selected-tab:after{
	content: '';
	display: block;
	position: absolute;
	border-bottom: 5px solid #314451;
	width: 40px;
	bottom: -15px;
	left: 50%;
	margin-left: -20px;
}
.share_modal_wrapper .share_tabs input{
	width: 100%;
}

.w--multi_select.modal_reg_year{
	margin-bottom: 10px;
}
.share-short-url{
	pointer-events: none;
}
.w--highlight_dd_option {
	background-color: #efeff4;
}
.w--reg_no_input.bike_RegistrationNumberInput{
	width:100%;
	border: none;
}
.w--reg_no_input.bike_RegistrationNumberInput input{
	text-align: left;
	padding: 15px 0 0;
	font-size:14px;
}
.w--reg_no_input.bike_RegistrationNumberInput .w--error{
	position: static;
	padding: 0;
	margin: -10px 0 5px;
}

.sms-email-link-wrapper{
	text-align: center;
	padding: 30px 0 40px 0;
}

.sms-email-link{
	border:1px solid rgba(49,68,81,0.4);
	background-image:url('/static/img/common/share-line.png');
	background-repeat: no-repeat;
	background-position: 10px;
	background-size: 14px 15px;
	border-radius: 3px;
	padding:7px 15px;
	text-transform: uppercase;
	color:#314451;
	font-size: 12px;
	letter-spacing: 1px;
	padding-left: 35px;
}

.sms-email-link:hover{
	background-color: rgba(0,0,0,0.03);
}


.contact-me-box{
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.20), 0 -1px 0 0 rgba(0,0,0,0.03);
	border-radius: 3px;
	padding: 30px 35px;
	background: #fff;
	margin-bottom: 100px;
	float: left;
}


.contact-me-box .contact-me-box--header{
	float: left;
	width: 50%;
	padding-right: 20px;
}


.contact-me-box .contact-me-box--header h3{
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	margin:0;
}


.contact-me-box .contact-me-box--header p{
	color: rgba(49,68,81,0.5);
	font-size: 13px;
	line-height: 150%;
	margin-bottom: 0;
}


.contact-me-box .contact-me-box--widget{
	float: left;
	width: 50%;
	margin-top: 7px;
}


.contact-me-box .contact-me-box--widget .contact-me-field{
	float: left;
	width: 217px;
	margin-right: 12px;
	margin-left: -12px;
}


.contact-me-box .contact-me-btn{
	padding: 7px 15px;
}


.contact-me-box .contact-me-success{
	background: rgb(0, 188, 155);
	text-align: center;
	border-radius: 30px;
	color: rgb(255, 255, 255);
	padding: 5px;
	margin-top: 9px;
}

.no-results-message{
	text-align: center;
}

.no-results-message h3{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	margin: 0;
}

.no-results-message p{
	color: rgba(49,68,81,0.8);
	width: 500px;
	margin: 0 auto;
	margin-bottom: 30px;
	font-size: 12px;
	line-height: 150%;
}

.kv{
	margin-bottom: 10px;
}

.kv .kv__key{
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	opacity: 0.7
}

.kv .kv__value{
	font-size: 12px;
}

.subcontainer_title{
	font-size: 13px;
    margin-bottom: 10px;

}
/* css fix for proposal form radio button right side content alignment */
.bike_RadioInput .w--radio__options {
	position: relative;
	left:25px;
	vertical-align:top;
}
.bike_RadioInput#cust_gender .w--radio__options, .bike_RadioInput#cust_marital_status .w--radio__options {
	left:0;
}
.bike_FormContainer .w--text_input label.text-description{
	position: absolute;
	right: -240px;
	width: 200px;
	top: 8px;
	opacity: 0;
	-webkit-transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition:all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	pointer-events: none;
}
.bike_FormContainer .w--text_input label.text-description:before{
	position: absolute;
	content: '';
	border-left: 1px dashed rgba(49,68,81,0.5);
	left: -10px;
	height: 100%;
	width: 1px;
}
.bike_FormContainer .w--text_input label.text-description.reveal{
	opacity: 1;
	right: -260px;
}


/* mkting banner css start */
.mkting_banner{
	position: absolute;
	top: 130px;
	left:100%;
	margin-left:50px;
	width:210px;
	padding:0;
	font-size:12px;
	color:#728089;
	line-height:17px;
}
.mkting_banner h4{
	font-size:16px;
	color:#314451;
	letter-spacing:1.14px;
}

/* mkting banner css end */
/*@import "car.css";*/

