/* Color scheme definitions */
/* Color scheme definitions end */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
.hero-wrapper #topbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
  background: #fff;
  z-index: 1;
}
.club-form .heading-banner.click2call {
  background: #314451;
}
.error {
  color: #fff;
  margin: 9px 0px 10px;
  letter-spacing: 1px;
  padding: 2px 10px;
  background-color: red;
  max-width: 380px;
  font-size: 12px;
}
.health-widget {
  position: relative;
}
.health-widget .club-form {
  padding: 0px;
  background-color: #ffffff;
}
.health-widget .club-form .heading-banner {
  padding: 1px 0px 0 20px;
  text-align: left;
}
.health-widget .club-form .heading-banner h1 {
  color: #fff;
  font-size: 32px;
  line-height: 1.3em;
  margin: 30px 0px 20px 0;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
.health-widget .club-form .heading-banner p {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #fff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
.health-widget .club-form .heading-banner img {
  margin: -56px 0 0 0;
  float: right;
}
.health-widget .club-form .heading-banner .info {
  font-size: 25px;
  color: #fff;
  position: absolute;
  bottom: 7px;
  left: 130px;
}
.health-widget .club-form .heading-banner .info img {
  margin: 0;
  float: none;
  opacity: 1;
}
.health-widget .club-form .heading-banner .form-field {
  margin: 35px 0;
  max-width: 460px;
}
.health-widget .club-form .heading-banner .form-field p {
  font-size: 12px;
  text-shadow: none;
  margin: 12px 0;
  font-weight: bold;
  font-style: italic;
}
.health-widget .club-form .heading-banner .form-field input {
  background: #fff;
  font-size: 14px;
  padding: 5px;
  color: #b2b2b2;
  width: 40%;
  height: 35px;
  text-align: center;
  border: 2px solid #fff;
  outline: none;
}
.health-widget .club-form .heading-banner .form-field a {
  background: #FF642B;
  border: 2px solid #fff;
  border-radius: 0 3px 3px 0;
  padding: 3px 40px 6px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .health-widget .club-form .heading-banner {
    padding-left: 0;
  }
  .health-widget .club-form .heading-banner img {
    margin: 20px 0 0 0;
    float: none;
  }
  .health-widget .club-form .heading-banner h1 {
    font-size: 20px;
  }
  .health-widget .club-form .heading-banner p {
    font-size: 14px;
  }
  .health-widget .club-form .heading-banner .info {
    left: 90px;
  }
  .health-widget .club-form .heading-banner .form-field a {
    padding-right: 11px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1095px) {
  .health-widget .club-form .heading-banner h1 {
    margin: 12px 0px 15px 0;
    font-size: 19px;
  }
  .health-widget .club-form .heading-banner p {
    font-size: 13px;
  }
  .health-widget .club-form .heading-banner .form-field {
    margin: 15px 0 0 0;
  }
  .health-widget .club-form .heading-banner .form-field p {
    font-size: 11px;
    margin: 5px 0;
  }
}
.terms-msg {
  padding-right: 50px;
  color: #FFFFFF;
}
