@import "../../css/base_theme";
.hero-wrapper {
  #topbar {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 0px;
    background: #fff;
    z-index: 1;
  }
}
.club-form .heading-banner.click2call {
    background: #314451;
}
.error{
  color: #fff;
  margin: 9px 0px 10px;
  letter-spacing: 1px;
  padding: 2px 10px;
  background-color: red;
  max-width: 380px;
  font-size: 12px;
}
.health-widget {
  position: relative;
  & .club-form {
    padding:0px;
    background-color: #ffffff;
    & .heading-banner {
      padding:1px 0px 0 20px;
      text-align:left;
      & h1 {
        color: #fff;
        font-size:32px;
        line-height: 1.3em;
        margin:30px 0px 20px 0;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
        -moz-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
        -webkit-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
      }
      p{
        font-size: 16px;
        letter-spacing: 1px;
        font-weight: 300;
        color:#fff;
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
        -moz-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
        -webkit-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
      }
      img{
        margin: -56px 0 0 0;
        float: right;
      }
      .info{
        font-size: 25px;
        color:#fff;
        position: absolute;
        bottom: 7px;
        left:130px;
        img{
          margin: 0;
          float: none;
          opacity: 1;
        }
      }
      .form-field{
        margin: 35px 0;
        max-width: 460px;
        p{
          font-size: 12px;
          text-shadow:none;
          margin: 12px 0;
          font-weight: bold;
          font-style: italic;
        }
          input{
            background: #fff;
            font-size: 14px;
            padding: 5px;
            color:#b2b2b2;
            width: 40%;
            height: 35px;
            text-align: center;
            border:2px solid #fff;
            outline: none;
          }
          a{
            background: #FF642B;
            border:2px solid #fff;
            border-radius: 0 3px 3px 0;
            padding: 3px 40px 6px;
            font-size: 16px;
            font-weight: bold;
            color:#fff;
          }
        }
    }
  }
}
@media screen and (max-width: 767px) {
  .health-widget .club-form .heading-banner{
  padding-left: 0;
  }
  .health-widget .club-form .heading-banner img{
    margin: 20px 0 0 0;
    float: none;
  }
  .health-widget .club-form .heading-banner h1{
    font-size: 20px;
  }
  .health-widget .club-form .heading-banner p{
    font-size: 14px;
  }
  .health-widget .club-form .heading-banner .info{
    left: 90px;
  }
  .health-widget .club-form .heading-banner .form-field a{
    padding-right: 11px;
  }
  }
  @media screen and (min-width: 768px) and (max-width: 1095px) {
    .health-widget .club-form .heading-banner h1{
        margin: 12px 0px 15px 0;
        font-size: 19px;
    }
    .health-widget .club-form .heading-banner p{
      font-size: 13px;
    }
    .health-widget .club-form .heading-banner .form-field{
      margin: 15px 0 0 0;
    }
    .health-widget .club-form .heading-banner .form-field p{
        font-size: 11px;
        margin: 5px 0;
    }
  }

.terms-msg {
  padding-right: 50px;
  color: #FFFFFF;
}
