@import "../../css/base_theme";

/* Overridden css for base_style.css */
.hero-wrapper {
  background-color: @bannerBackgroundColor;
  &  #topbar {
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: #ffffff;
    z-index: 200;
  }
}
.companies-wrapper {
  .boxShadow(0px -5px 15px rgba(0, 0, 0, 0.03));
}



/* car banner css */
.car-banner {
  padding:0px;
  background: url(../img/bikebg-youth.jpg) no-repeat bottom left #cfe1f1;
  -webkit-background-size: cover;
  background-size: cover;
  & .club-form {
    background-color: rgba(255, 255, 255, 0.85);
    padding:0px 15px;
    & .brand-color {
      color: @baseThemeColor;
    }
    & .heading-banner {
      padding-left:20px;
      padding-right:20px;
      text-align:left;
      & h1 {
        color: @baseThemeColor;
        font-size:25px;
        line-height: 1.4em;
        font-weight: 700;
        margin:35px 0px 20px;
        text-shadow:0px 1px 4px #ffffff;
      }
      & h2 {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.4em;
      }
      & ul {
        margin:50px 0px;
        padding:0px;
        li {
          list-style-type: none;
          color:@textColor;
          margin-bottom:10px;
          font-size:16px;
          text-align: left;
          padding-left:30px;
          position: relative;
          display: block;

          & img {
            .roundedCorners(50%);
            background-color: #666666;
            padding:3px;
            width:20px;
            height:20px;
            display: inline-block;
            position: absolute;
            top:1px;
            left:0px;
          }
        }
      }
    }
    & .form-box-mini {
      background-color: rgba(255,255,255,0.7);
      border:0 solid transparent;
      border-left: 1px solid rgba(0,0,0,0.05);
      .roundedCorners(0);
    }
  }
}
/* Mobile optimisation for banner elements */

@media only screen and (min-width : 200px) and (max-width : 767px) {
  .car-banner {
    padding:0px;
    background-image: none;
    background-color: #ffffff;
    & .club-form {
      padding-left:0px;
      padding-right:0px;
      & .form-box-mini {
        border: 0px solid transparent;
      }
      & .heading-banner {
        padding: 0px 20px;
        margin-bottom:-20px;
        & > img {
          display: none;
        }
        & ul {
          text-align: left;
          li {
            font-size: 16px;
            width: auto;
            margin-right:10px;
          }
        }
        & h1 {
          margin-top:20px;
          font-size:26px;
        }
      }
    }
  }
}

/* form box mini css*/

.form-box-mini {
  background-color: #314451;
  .roundedCorners(4px);
  padding: 10px 20px 15px;
  border-bottom: 1px solid #3C3A3A;
  min-height: 410px;
  label {
    margin-bottom:5px;
    display: block;
    color: #888888;
    font-weight: 400;
  }
  .closer {
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
  }
  .btn-cfox.btn-next {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom:10px;
  }
  h3 {
    color: #404040;
    font-weight:700;
    margin:30px 0 20px 0;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }
  h4 {
    color: #353333;
    font-size: 14px;
  }
  ul {
    padding:0;
    margin-bottom: 30px;
    margin-top:30px;
    & li {
      background-image: none;
      color: @textColor;
      cursor: pointer;
      list-style-type: none;
      padding-left: 30px;
      margin-bottom: 5px;
      margin-top: 5px;
      position: relative;
      padding-top: 0;
      height: 35px;
      font-size: 14px;
      & .checkbox {
        position: absolute;
        .boxShadow(1px 1px 2px rgba(0, 0, 0, 0.3) inset);
        top: -1px;
        left: 0px;
        width: 22px;
        height: 22px;
        margin: 0px;
        background-color: #ffffff;
        border: 1px solid rgba(0,0,0,0.3);
        .roundedCorners(50%);
        &:before {
          content:'';
          position: absolute;
          top:5px;
          left:5px;
          .roundedCorners(50%);
          width:10px;
          height:10px;
          display: none;
          background-color: @baseThemeColor;
        }
      }
      &.active {
        & .checkbox {
          &:before {
            display: block;
          }
        }
      }
    }
  }
  .error {
    background-color: rgb(233, 150, 176);
    color: rgba(0, 0, 0, 0.58);
    padding: 5px;
    margin-bottom: 10px;
    .roundedCorners(3px);
  }
  .cfinput {
    border: 1px solid rgba(6, 6, 6, 0.83);
    padding:10px 5px;
    background-color: #ffffff;
    .roundedCorners(3px);
    margin-bottom:10px;
    &.has-error {
      border-color: #8b0000;
      background-color: #FFE2EB;
    }
    &.addon-field {
      padding-left:40px;
      position: relative;
    }
    .addon {
      font-size: 14px;
      color:#363636;
      position: absolute;
      top:11px;
      left:8px;
    }
    input {
      border: 0;
      color: #363636;
      background-color: transparent;
      width: 100%;
      &:hover,&:focus,&:active {
        outline: none;
      }
    }
  }
}

.toll-free-box {
  margin-top:30px;
  h3 {
    margin-top:5px;
    font-size:28px;
    font-weight: 700;
    text-shadow:0px 1px 2px rgba(255,255,255,0.7);
  }
  &.mobile-scr {
    margin-top: 10px;
    margin-bottom: -10px;
    padding: 15px 20px;
    background-color: #f9f9f9;
    border-top: 1px solid rgba(0,0,0,0.04);
    .boxShadow(0px 1px 2px rgba(0,0,0,0.05) inset);
  }
}