@import "../../../css/base_theme";


/* Widget form css */

.widget-form-box {
  text-align: left;
  position: relative;
  padding:10px 0px 30px;
  margin-bottom:20px;
  background-color: #fff;
  border-top: 2px solid #EAEAEA;
  border-bottom: 2px solid #EAEAEA;
  & .save-msg {
    color: @textColor;
    letter-spacing: 0px;
    margin-top: 0px;
    padding: 10px 15px;
    display: block;
    background-color: darken(@boxDarkBackground,2%);
    max-width: 380px;
    .roundedCorners(3px);
    position: relative;
    &:before {
      display: block;
      position: absolute;
      border-width:10px;
      border-style:solid;
      border-color:transparent transparent darken(@boxDarkBackground,2%) transparent;
      top:-20px;
      left:10px;
      content: '';
    }
  }
  .terms-msg {
    font-size: 12px;
    line-height: 1.6em;
    color: @lightTextColor;
    margin: 10px 0px;
    text-align: left;
    max-width: 560px;
  }
  & .loading-msg {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    padding: 100px 20px;
    font-size: 20px;
    color: @textColor;
    .roundedCorners(3px);
    display: none;
    &.active {
      display: block;
    }
    & p {
      margin-top: 20px;
    }
  }
  & .healthcare-options {
    margin-top:15px;
  }
  & .healthcare-options,& .gender-radio {
    & label {
      font-weight: normal;
      color: @lightTextColor;
      font-size: 16px;
      padding: 0px 20px 15px 0px;
      margin: 0px;
      display: inline-block;
      & span {
        font-weight: inherit;
      }
      & input {
        margin-right: 5px;
      }
      &.active {
        color: @textColor;
        font-weight: bold;
      }
    }
  }
  & .cfinput-wrap {
    & label {
      color: @textColor;
      font-size: 14px;
      font-weight: 400;
      margin-bottom:5px;
    }
    & input {
      margin-bottom: 10px;
      background-color: #ffffff;
      border: 2px solid #dadada;
      text-align: left;
      position: relative;
      overflow: visible;
      .roundedCorners(3px);
      padding: 10px;
      display: block;
      width: 100%;
      &:hover,
      &:focus,
      &:active {
        outline: none;
      }
    }
    & .cfinput-club {
      position: relative;
      & > span {
        position: absolute;
        top:12px;
        left:10px;
        z-index: 10;
      }
      & input {
        padding-left:40px;
      }
    }
  }
  & h4 {
    line-height: 1.4em;
    font-size: 16px;
    font-weight: 600;
    color: @textColor;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left:15px;
    position: relative;
    &:before {
      position: absolute;
      content: '';
      display: block;
      border-width:7px;
      border-style: solid;
      border-color:transparent transparent transparent @baseThemeColor;
      top:4px;
      left:0px;
    }
  }
  & .options ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    & li {
      display: inline-block;
      position: relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      padding: 5px 10px;
      margin:0px 10px 10px 0px;
      border:2px solid #dadada;
      color: @lightTextColor;
      text-align: left;
      .roundedCorners(3px);
      min-width: 140px;
      & label span {
        margin-left:5px;
      }
      & span.age {
        display: none;
        background: transparent;
        border-left:1px solid #dadada;
        & select.has-error {
          color: @baseThemeColor;
        }
        & select {
          background: #fff;
          border: 1px solid transparent;
          width: 100%;
          padding: 5px 10px;
          font-size: 13px;
          color: #363636;
          line-height: 1;
          height: 25px;
          cursor: pointer;
          text-overflow: '';
          text-indent: .1px;
          text-transform: uppercase;
          position: relative;
          z-index: 30;
        }
      }
      & label {
        font-weight: normal;
        font-size: 15px;
      }
      &.selected {
        color: @textColor;
        & label {
          font-weight: bold;
          & span {
            text-transform: capitalize;
          }
        }
        & span.age {
          display: inline-block;
          margin-left: 10px;
        }
      }
      &.add {
        text-align: center;
        text-transform: none;
        display: inline-block;
        margin-right: 10px;
        padding:7px 15px;
        border-color: #00d9aa;
        &:active,&:hover,&:focus {
          background-color: #00d9aa;
          color: #fff;
        }
      }
    }
  }
  .self-options,.add-kids {
    margin-top:20px;
  }
  & .error {
    display: none;
    color: #fff;
    background: #FA6464;
    .roundedCorners(4px);
    padding: 3px 10px;
    &.has-error {
      display: inline-block;
    }
  }
  & .btn-cfox {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
    .boxShadow(1px 2px 3px rgba(0, 0, 0, 0.2));
    letter-spacing: 2px;
    color: #fff;
    padding: 10px;
    .roundedCorners(3px);
    cursor: pointer;
    text-align: center;
    width: auto;
    &.orange {
      background-color: @baseButtonBg;
      border: 1px solid @baseButtonBorder;
    }
    &:hover,&:focus,&:active {
      background-color: darken(@baseButtonBg,3%);
    }
    &.btn-next {
      font-size: 20px;
      display: inline-block;
      height: auto;
      position: relative;
      padding: 12px 30px;
      margin-top: 15px;
    }
    & img {
      width: 12px;
      margin-top: -2px;
      margin-left:10px;
    }
  }
  & .expert-advice {
    & label {
      text-transform: none;
      margin:10px 15px 10px 0px;
      font-weight: normal;
      color:@lightTextColor;
      &.active {
        font-weight: 700;
        color:@textColor;
      }
    }
  }

  .prev-btn {
    padding: 5px 20px;
    .roundedCorners(30px);
    background-color: rgba(0,0,0,0.05);
    display: inline-block;
    margin:15px 0 0 10px;
    cursor: pointer;
    &:hover,&:focus,&:active {
      background-color: rgba(0,0,0,0.1);
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 767px) {
  .widget-form-box {
    & .cfinput-wrap input {
      max-width:450px;
    }
    & .btn-cfox.btn-next {
      width:100%;
      max-width: 450px;
      font-size: 18px;
    }
  }
}

