/* Color scheme definitions */
/* Color scheme definitions end */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* Widget form css */
.widget-form-box {
  text-align: left;
  position: relative;
  padding: 10px 0px 30px;
  margin-bottom: 20px;
  background-color: #fff;
  border-top: 2px solid #EAEAEA;
  border-bottom: 2px solid #EAEAEA;
}
.widget-form-box .save-msg {
  color: #363636;
  letter-spacing: 0px;
  margin-top: 0px;
  padding: 10px 15px;
  display: block;
  background-color: #f4f4f4;
  max-width: 380px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}
.widget-form-box .save-msg:before {
  display: block;
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f4f4f4 transparent;
  top: -20px;
  left: 10px;
  content: '';
}
.widget-form-box .terms-msg {
  font-size: 12px;
  line-height: 1.6em;
  color: rgba(39, 35, 35, 0.76);
  margin: 10px 0px;
  text-align: left;
  max-width: 560px;
}
.widget-form-box .loading-msg {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #fff;
  padding: 100px 20px;
  font-size: 20px;
  color: #363636;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: none;
}
.widget-form-box .loading-msg.active {
  display: block;
}
.widget-form-box .loading-msg p {
  margin-top: 20px;
}
.widget-form-box .healthcare-options {
  margin-top: 15px;
}
.widget-form-box .healthcare-options label,
.widget-form-box .gender-radio label {
  font-weight: normal;
  color: rgba(39, 35, 35, 0.76);
  font-size: 16px;
  padding: 0px 20px 15px 0px;
  margin: 0px;
  display: inline-block;
}
.widget-form-box .healthcare-options label span,
.widget-form-box .gender-radio label span {
  font-weight: inherit;
}
.widget-form-box .healthcare-options label input,
.widget-form-box .gender-radio label input {
  margin-right: 5px;
}
.widget-form-box .healthcare-options label.active,
.widget-form-box .gender-radio label.active {
  color: #363636;
  font-weight: bold;
}
.widget-form-box .cfinput-wrap label {
  color: #363636;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}
.widget-form-box .cfinput-wrap input {
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 2px solid #dadada;
  text-align: left;
  position: relative;
  overflow: visible;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  display: block;
  width: 100%;
}
.widget-form-box .cfinput-wrap input:hover,
.widget-form-box .cfinput-wrap input:focus,
.widget-form-box .cfinput-wrap input:active {
  outline: none;
}
.widget-form-box .cfinput-wrap .cfinput-club {
  position: relative;
}
.widget-form-box .cfinput-wrap .cfinput-club > span {
  position: absolute;
  top: 12px;
  left: 10px;
  z-index: 10;
}
.widget-form-box .cfinput-wrap .cfinput-club input {
  padding-left: 40px;
}
.widget-form-box h4 {
  line-height: 1.4em;
  font-size: 16px;
  font-weight: 600;
  color: #363636;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
}
.widget-form-box h4:before {
  position: absolute;
  content: '';
  display: block;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent transparent #ff6127;
  top: 4px;
  left: 0px;
}
.widget-form-box .options ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.widget-form-box .options ul li {
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0px 10px 10px 0px;
  border: 2px solid #dadada;
  color: rgba(39, 35, 35, 0.76);
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  min-width: 140px;
}
.widget-form-box .options ul li label span {
  margin-left: 5px;
}
.widget-form-box .options ul li span.age {
  display: none;
  background: transparent;
  border-left: 1px solid #dadada;
}
.widget-form-box .options ul li span.age select.has-error {
  color: #ff6127;
}
.widget-form-box .options ul li span.age select {
  background: #fff;
  border: 1px solid transparent;
  width: 100%;
  padding: 5px 10px;
  font-size: 13px;
  color: #363636;
  line-height: 1;
  height: 25px;
  cursor: pointer;
  text-overflow: '';
  text-indent: .1px;
  text-transform: uppercase;
  position: relative;
  z-index: 30;
}
.widget-form-box .options ul li label {
  font-weight: normal;
  font-size: 15px;
}
.widget-form-box .options ul li.selected {
  color: #363636;
}
.widget-form-box .options ul li.selected label {
  font-weight: bold;
}
.widget-form-box .options ul li.selected label span {
  text-transform: capitalize;
}
.widget-form-box .options ul li.selected span.age {
  display: inline-block;
  margin-left: 10px;
}
.widget-form-box .options ul li.add {
  text-align: center;
  text-transform: none;
  display: inline-block;
  margin-right: 10px;
  padding: 7px 15px;
  border-color: #00d9aa;
}
.widget-form-box .options ul li.add:active,
.widget-form-box .options ul li.add:hover,
.widget-form-box .options ul li.add:focus {
  background-color: #00d9aa;
  color: #fff;
}
.widget-form-box .self-options,
.widget-form-box .add-kids {
  margin-top: 20px;
}
.widget-form-box .error {
  display: none;
  color: #fff;
  background: #FA6464;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px 10px;
}
.widget-form-box .error.has-error {
  display: inline-block;
}
.widget-form-box .btn-cfox {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  width: auto;
}
.widget-form-box .btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.widget-form-box .btn-cfox:hover,
.widget-form-box .btn-cfox:focus,
.widget-form-box .btn-cfox:active {
  background-color: #ff5618;
}
.widget-form-box .btn-cfox.btn-next {
  font-size: 20px;
  display: inline-block;
  height: auto;
  position: relative;
  padding: 12px 30px;
  margin-top: 15px;
}
.widget-form-box .btn-cfox img {
  width: 12px;
  margin-top: -2px;
  margin-left: 10px;
}
.widget-form-box .expert-advice label {
  text-transform: none;
  margin: 10px 15px 10px 0px;
  font-weight: normal;
  color: rgba(39, 35, 35, 0.76);
}
.widget-form-box .expert-advice label.active {
  font-weight: 700;
  color: #363636;
}
.widget-form-box .prev-btn {
  padding: 5px 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin: 15px 0 0 10px;
  cursor: pointer;
}
.widget-form-box .prev-btn:hover,
.widget-form-box .prev-btn:focus,
.widget-form-box .prev-btn:active {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
@media screen and (min-width: 200px) and (max-width: 767px) {
  .widget-form-box .cfinput-wrap input {
    max-width: 450px;
  }
  .widget-form-box .btn-cfox.btn-next {
    width: 100%;
    max-width: 450px;
    font-size: 18px;
  }
}
