{% extends 'cfadmin:cfadmin_base.html' %}
{% block css %}
<link href="{{STATIC_URL}}js/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<h3>Manage Invoices</h3>
<table id="inspection_agent_table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Invoice Amount</th>
                <th>Invoice Amount flat</th>
                <th>Invoice created on</th>
                <th>invoice created on timestamp</th>
                <th>Cleared Amount</th>
                <th>cleared amount flat</th>
                <th>Invoice cleared on</th>
                <th>invoice cleared timestamp</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
            <tr class="danger" onclick="redirect_to_agent_page({{agent.id}})">
                <td>{{ invoice.dealership.company.name }}</td>
                <td>Rs. {{ invoice.raw.total_amount }}</td>
                <td>{{ invoice.raw.total_amount }}</td>
                <td>{{ invoice.created_date}}</td>
                <td>{{ invoice.created_date|date:"U" }}</td>
                <td>{% if invoice.cleared_on %}Rs. {{invoice.raw.paid_amount}}{% else %}---{% endif %}</td>
                <td>{% if invoice.cleared_on %}{{invoice.raw.paid_amount}}{% else %}0{% endif %}</td>
                <td>{% if invoice.cleared_on %}{{invoice.cleared_on}}{% else %}---{% endif %}</td>
                <td>{% if invoice.cleared_on %}{{invoice.cleared_on|date:"U"}}{% else %}0{% endif %}</td>
                <td>{% if invoice.cleared_on %}Invoice closed{% else %}<a href="{% url 'cfadmin-single-invoice' invoice.id %}">Manage Invoice</a>{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/datatables/js/jquery.dataTables.min.js"></script>>
<script type="text/javascript">
$(document).ready(function() {
    $('#inspection_agent_table').DataTable({
        columnDefs: [{
            targets: [1],
            orderData: [2]
        }, {
            targets: [3],
            orderData: [4]
        }, {
            targets: [5],
            orderData: [6]
        }, {
            targets: [7],
            orderData: [8]
        }, {
            targets: [2, 4, 6, 8],
            "visible": false,
        }, {
            targets: [1, 2, 3, 4, 5, 6, 7, 8, 9],
            "searchable": false,
        }, {
            targets: [9],
            "sortable": false,
        }]
    });
});
</script>
{% endblock %}