{% extends 'cfadmin:cfadmin_base.html' %}
{% block content %}
<h3>{{name}}</h3>
<form method="POST">
    {% csrf_token %}
    <table class="dataTable">
        {{form.as_table}}
    </table>
    <div class="cf-btn-container">
    	<input type="submit">
    </div>
</form>
{% endblock %}