{% extends 'cfadmin:cfadmin_base.html' %}
{% block css %}
    <link href="{{STATIC_URL}}js/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<h3>Manage Dealers</h3>
<div class="row">
    <div class="col-md-12">
        <h4>Total Pending approvals:{{ total_pending_approval }}</h4>
    </div>
</div>
<div class="cf-select-deal">
    <label>
    Select a dealership
    <select onchange="DealershipChanged(this)">
        <option value="0">-----------</option>
        {% for dealership in all_dealerships %}
            <option value="{{dealership.id}}">{{dealership.company.name}}</option>
        {% endfor %}
    </select>
    </label>
</div>
<!-- Dealership Data -->
<div class="row table-approved" data-bind="foreach:dealership_data">
    <div class="col-md-12 text-right">
        <a class="btn btn-primary" data-bind="attr:{'href':'/cfadmin/manage-dealer/dealership/'+id}">Manage Dealership</a>
    </div>
    <div class="col-md-4">
        <strong>PENDING APPROVALS</strong>:
        <span data-bind="text:pending_approvals"></span>
    </div>
    <div class="col-md-4">
        <strong>COMISSION PERCENTAGE</strong>:
        <span data-bind="text:percentage+'%'"></span>
    </div>
    <div class="col-md-4">
        <strong>PAYOUT CYCLE</strong>:
        <span data-bind="text:payout_frequency"></span>
    </div>
</div>
<!-- Dealer Data -->
<table id="inspection_agent_table" cellspacing="0" width="100%" class="dataTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Comission Percentage</th>
                <th>Payout Frequency</th>
                <th>Pre Approved</th>
                <th>Dealer Approved</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach:table_data">
            <tr>
                <td data-bind="text:dealer_name"></td>
                <td data-bind="text:percentage"></td>
                <td data-bind="text:payout_frequency"></td>
                <td data-bind="text:is_pre_deducted"></td>
                <td data-bind="text:is_approved"></td>
                <td><a data-bind="attr:{'href':'/cfadmin/manage-dealer/dealerdealership/'+id}">Manage Dealer</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    BASE_URL = "{% url 'cfadmin-manage-dealers' %}";
</script>
<script src="{{STATIC_URL}}js/knockout/knockout-3.3.0.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}cfadmin/js/manage_dealers.js"></script>
{% endblock %}