<div class="cf-leftnav">
	<div class="cf-leftnav__header">Motor</div>    
	<ul class="cf-leftnav__links">
		{% if perms.motor_product.change_inspectionagent %}<li><a href="{% url 'cfadmin-manage-agents' %}">Manage Inspection Agents</a></li>{% endif %}
		{% comment %}<li><a href="">Manage Inspections</a></li>{% endcomment %}
		{% if perms.motor_product.change_dealer %}<li><a href="{% url 'cfadmin-manage-dealers' %}">Manage Dealers</a></li>{% endif %}
		{% if perms.motor_product.change_dealerinvoice %}<li><a href="{% url 'cfadmin-manage-invoice' %}">Dealer Payments</a></li>{% endif %}
	</ul>
</div>
<link href="{{STATIC_URL}}css/cfadmin.css" rel="stylesheet">
