{% extends 'cfadmin:cfadmin_base.html' %}
{% block css %}
    <link href="{{STATIC_URL}}js/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<h3>{{invoice.dealership.company.name}}</h3>
<h4>Created on: {{ invoice.created_date }}</h4>
<h4>Total Amount: Rs. {{ invoice.raw.total_amount }}</h4>
<hr>
<h3>Manage Invoice</h3>
<form method="POST">
    {% csrf_token %}
    <table class="dataTable">
        <tr>
            <td>Paid Amount</td>
            <td><input value="{{invoice.raw.paid_amount}}" name="paid_amount"></td>
        </tr>
        <tr>
            <td>Cheque Number</td>
            <td><input value="{{invoice.raw.cf_cheque_no}}" name="cf_cheque_no"></td>
        </tr>
    </table>
    <div class="cf-btn-container">
        <input type="submit">
    </div>
</form>
{% endblock %}