

<section id="hero">
    <div class="hero-wrapper">

        <section id="topbar">
            <div class="topbar-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 logo text-center">
                            <img src="/static/motor_product/desktopMVP/app/assets/img/cf-logo-default.png" alt="Coverfox"/>
                            <p>Motor</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section id="steps">
            <div class="steps-wrapper">
                <div id="step1" class="step" data-bind="css:{reveal: quote.isNewVehicle() == null && mode() == null}">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <p class="question text-center animated d2">
                                    Do you want to renew an old policy, <br/>or buy one for a brand new car?
                                </p>
                                <ul>
                                    <li class="animated d1" data-bind="click: setOld, css:{selected: quote.isNewVehicle() == false && quote.policyExpired() == false}">
                                        <div>
                                            <img src="/static/motor_product/desktopMVP/app/assets/img/renew-icon.png" alt="" width="100px"/>
                                            <br/>
                                            <p>Renew existing<br/>policy</p>
                                        </div>
                                    </li>
                                    <li class="animated" data-bind="click: setNew, css:{selected: quote.isNewVehicle() == true}">
                                        <div>
                                            <img src="/static/motor_product/desktopMVP/app/assets/img/new-car-icon.png" alt="" width="100px"/>
                                            <br/>
                                            <p>Buy insurance<br/>for a new car</p>
                                        </div>
                                    </li>
                                    <li class="animated d1" data-bind="click: setExpired, css:{selected: quote.isNewVehicle() == false && quote.policyExpired() == true}">
                                        <div>
                                            <img src="/static/motor_product/desktopMVP/app/assets/img/renew-icon-broken.png" alt="" width="100px"/>
                                            <br/>
                                            <p>Has your policy<br/> already expired?</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="step2" class="step" data-bind="css: {reveal: quote.isNewVehicle() != null && mode() == null}">

                    <div class="back-link" data-bind="click: resetNewVehicle">
                        <img src="/static/motor_product/desktopMVP/app/assets/img/back-blue.png" alt=""> <span>Go Back</span>
                    </div>

                    <div class="container">
                        <div class="row text-center">

                            <div class="col-md-12">
                                <p class="question text-center animated d2">
                                   Tell us just a few
                                    <br/>things about your car
                                </p>

                                <multiselect-widget params="{items:[

                                    {selectedValue: quote.make, data: make_list, defaultText:'Choose Make', exampleText:'e.g. Maruti' ,optionText:'name', onSelect: getModels},
                                    {selectedValue: quote.model, data: model_list, defaultText:'Choose Model', exampleText:'e.g. Alto' ,optionText:'name', onSelect: getVariants},
                                    {selectedValue: quote.variant, data: variant_list, defaultText:'Choose Variant', exampleText:'e.g. LXI' ,optionText:'name', onSelect: setVehicleId},

                                    ], customClass:'align-center car-dd animated d1'}"></multiselect-widget>



                                <ul class="car-options animated ">
                                    <li data-bind="visible: quote.isNewVehicle() == true">
                                        <p>RTO Info</p>
                                        <multiselect-widget params="{items:[

                                    {selectedValue: quote.rto_info, data: RTO_codes, defaultText:'-- RTO --', optionText:'name'},

                                    ]}"></multiselect-widget>

                                    </li>
                                    <li data-bind="visible: quote.isNewVehicle() == true">

                                        <p>Manufacturing Year and Month</p>
                                        <multiselect-widget params="{items:[

                                {selectedValue: quote.man_month, data: months, defaultText:'-- month --'},
                                {selectedValue: quote.man_year, data: years, defaultText:'-- year --'}

                                ]}"></multiselect-widget>



                                    </li>
                                    <li data-bind="visible: quote.isNewVehicle() == false">

                                        <p>Registration Number</p>
                                        <input type="text" class="input-cfox" placeholder="e.g. MH05D01017" data-bind="value: quote.reg_no,valueUpdate:'keyup' "/>
                                        <p class="text-center reg-number bounce-trans" data-bind="css:{reveal: quote.formatted_reg_no},text: quote.formatted_reg_no?  quote.formatted_reg_no:''"></p>


                                    </li>
                                    <li data-bind="visible: quote.isNewVehicle() == false">

                                        <p>Registration Year and Month</p>
                                        <multiselect-widget params="{items:[

                                {selectedValue: quote.reg_month, data: months, defaultText:'-- month --'},
                                {selectedValue: quote.reg_year, data: years, defaultText:'-- year --'}

                                ]}"></multiselect-widget>

                                    </li>
                                </ul>


                            </div>

                            <!--div class="car-selector animated d2">
                                <img src="/static/motor_product/desktopMVP/app/assets/img/car-selector.png" alt="" class="img-responsive"/><br/>
                                <a class="btn-cfox blue animated d3 small" data-bind="click:isCarSelectorOpen.bind($data,true)">Select your car</a> <br/>



                            </div-->





                            <a class="btn-cfox blue animated btn-results" data-bind="click: goToResults">Get Instant Quotes</a> <br/>
                            <span class="stamp">Best prices from top insurers, guaranteed</span>


                        </div>
                    </div>




                </div>

            </div>
        </section>
    </div>
</section>


<!--car-selector-widget params="{vehicle: userVehicle, visible: isCarSelectorOpen}"></car-selector-widget -->


