<header>
    <section id="topbar">
        <div id="topbar-wrapper" data-bind="css:{reveal: showResults()} ">
            <div class="container-fluid">
                <a class="navbar-brand logo" href="#"><img
                        src="/static/health_product/desktopv2/app/assets/img/cf-logo-white.png" alt="Coverfox.com"/></a>
            </div>
        </div>
    </section>
</header>


<section id="results-block">
    <div id="results-block-wrapper">
        <div id="results-block-sidebar" data-bind="css:{reveal: showResults()} ">
            <div class="sidebar-section car-details reveal">
                <div class="car-details-popup" data-bind="css: {reveal: showCarDetailsPopup()}">
                    <div class="row">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6" style="border-right:1px solid #314451">
                                    <h4>Edit IDV</h4>
                                    <ul class="filter-options">
                                        <li class="selected" data-bind="click: quote.idv.bind($data, 0), clickBubble:false,css:{selected: quote.idv() == 0}">For minimum price</li>
                                        <li data-bind="text: verboseAmount(minIDV()), click: quote.idv.bind($data,minIDV()), clickBubble:false, css:{selected: quote.idv() == minIDV()}"></li>
                                        <li data-bind="text: verboseAmount(meanIDV()), click: quote.idv.bind($data,meanIDV()), clickBubble:false, css:{selected: quote.idv() == meanIDV()}"></li>
                                        <li data-bind="text: verboseAmount(maxIDV()), click: quote.idv.bind($data,maxIDV()), clickBubble:false, css:{selected: quote.idv() == maxIDV()}"></li>
                                        <li>Enter your own IDV</li>
                                    </ul>

                                    <p>IDV or Insured declared value is the calculated value of your car which would be reimbursed to you in case of theft or total damage. This value has nothing to do with the limit of accidental repairs or resale value of the car. We have set your Car's IDV for the best deal.</p>


                                </div>

                                <div class="col-md-6">
                                    <p>Cover your car's extra fitted electrical accessories like stereo, fog lamps, buzzers etc</p>
                                    <h5>Electrical Accessories Value</h5>
                                    <input type="text" data-bind="value: quote.idvElectrical, valueUpdate: 'keyup'"/>
                                    <p>Cover your car's extra fitted non-electrical accessories like roof rack, wheel cover, etc</p>
                                    <h5>Non Electrical Accessories Value</h5>
                                    <input type="text" data-bind="value: quote.idvNonElectrical, valueUpdate: 'keyup'"/>
                                </div>

                                <div class="col-md-12 car-details-action">
                                    <a class="update-btn" data-bind="click: function(){window.location.reload();}"><img
                                        src="/static/motor_product/desktopMVP/app/assets/img/update-results.png"
                                        alt="Update Results"/>Update Results</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="close-btn" data-bind="click: toggleCarDetailsPopup">X</div>
                </div>
                <img src="/static/motor_product/desktopMVP/app/assets/img/car-default.png" alt=""/>
                <p><span data-bind="text:quote.make().name"></span> <span data-bind="text:quote.model().name"></span>
                    <span data-bind="text:quote.variant().name"></span></p>
                <ul>
                    <li>IDV <span class="edit" data-bind="click: toggleCarDetailsPopup">Edit</span><br/><span data-bind="text: quote.idv() == 0? 'For minimum price':verboseAmount(quote.idv())"></span></li>
                    <li>IDV (accessories) <span class="edit" data-bind="click: toggleCarDetailsPopup">Edit</span><br/><span data-bind="visible: quote.idvElectrical() == 0 && quote.idvNonElectrical() == 0">No Accessories</span><span data-bind="visible: quote.idvElectrical() > 0">Electrical : Rs. <span data-bind="text: quote.idvElectrical()"></span></span>
                        <br/><span data-bind="visible: quote.idvNonElectrical() > 0">Non Electrical : Rs. <span data-bind="text: quote.idvNonElectrical()"></span></span></li>
                </ul>
            </div>

            <div class="sidebar-section addons" data-bind="css:{reveal: plans().length > 0}">
                <h4><img src="/static/motor_product/desktopMVP/app/assets/img/addons_icon.png" alt=""/> Addons</h4>
                <ul data-bind="foreach:allAddons" class="sidebar-options">
                    <li data-bind="click: $parent.selectAddon.bind($data), css: {selected: $parent.isAddonSelected($data)}">
                        <span data-bind="text:verbose"></span>

                        <div class="addon-desc" data-bind="text: desc"></div>
                    </li>
                </ul>


            </div>


        </div>
        <div id="results-block-plans">

            <section id="loader">
                <div id="loader-wrapper" data-bind="css:{reveal: showResults() && plans().length == 0} ">
                    <div class="loader text-center">
                        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="60px" height="60px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                      <path fill="rgb(120, 117, 149)" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                        <animateTransform attributeType="xml"
                          attributeName="transform"
                          type="rotate"
                          from="0 25 25"
                          to="360 25 25"
                          dur="0.6s"
                          repeatCount="indefinite"/>
                        </path>
                      </svg>
                    </div>
                    <p>Loading Plans</p>
                </div>
            </section>

            <section id="verify-info">
                <div class="verify-info-wrapper" data-bind="css: {reveal: plans().length != 0}">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-7 verify-critical-info">
                                <h3>Confirm critical information<br/>about your car</h3>

                                <ul>

                                    <li data-bind="visible: quote.isNewVehicle() == false">
                                        <div class="ci-question">
                                            Have you claimed your policy in the past year?
                                        </div>
                                        <div class="ci-options">
                                            <multiselect-widget params="{items:[
                                    {selectedValueParsed: quote.isClaimedLastYear, data: isClaimedOptions, defaultText:'Choose One',optionText: 'key', optionValue: 'value'},
                                ], customClass:'verify-dd', hideSearch: true}"></multiselect-widget>
                                        </div>
                                    </li>

                                    <li data-bind="visible: quote.isNewVehicle() == false && quote.isClaimedLastYear() != 1 ">
                                        <div class="ci-question">
                                            What is the NCB mentioned in your expiring policy?
                                        </div>
                                        <div class="ci-options">
                                            <multiselect-widget params="{items:[
                                    {data: NCBOptions, defaultText:'Choose One', selectedValueParsed:quote.previousNCB ,optionText: 'key', optionValue: 'value'},
                                ], customClass:'verify-dd', hideSearch: true}"></multiselect-widget>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ci-question">
                                            Is your car CNG/LPG fitted?
                                        </div>
                                        <div class="ci-options">
                                            <multiselect-widget params="{items:[
                                    {selectedValue: cngFittedStatus, data: ['No', 'Company Fitted', 'Externally Fitted'], defaultText:'Choose One'},
                                ], customClass:'verify-dd', hideSearch: true}"></multiselect-widget>
                                        </div>
                                    </li>
                                    <li data-bind="visible: cngFittedStatus() == 'Externally Fitted' ">
                                        <div class="ci-question">
                                            What is the value of the CNG kit in your car?
                                        </div>
                                        <div class="ci-options">
                                            <input type="text" class="input-widget"
                                                   data-bind="value: quote.cngKitValue, valueUpdate: 'keyup'"/>
                                        </div>
                                    </li>
                                </ul>

                                <a class="update-btn" data-bind="click: function(){window.location.reload();}"><img
                                        src="/static/motor_product/desktopMVP/app/assets/img/update-results.png"
                                        alt="Update Results"/>Update Results</a>
                            </div>
                            <div class="col-md-5 verify-discount">
                                <h3>Get more discount</h3>
                                <h4>Change Voluntary Deductible</h4>
                                <multiselect-widget params="{items:[
                                    {selectedValueParsed: quote.voluntaryDeductible, data: voluntaryDeductibleOptions, defaultText:'Choose One',optionText: 'key', optionValue: 'value'},
                                ], customClass:'verify-dd', hideSearch: true}"></multiselect-widget>

                                <p>Opt for a higher voluntary deductible to get a discounted premium.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section id="result-plans">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 result-cards" data-bind="foreach: plans()">
                            <div class="plan-card row">
                                <div class="col-md-12 plan-card-top">
                                    <div class="col-md-4">
                                        <img class="img-responsive"
                                             data-bind="attr: {src: '/static/motor_product/desktopMVP/app/assets/img/insurer/'+insurerId+'.png'}"
                                             alt=""/>
                                    </div>
                                    <div class="col-md-4 plan-premium">
                                        <h3>Rs. <span data-bind="text: calculatedPremium"></span> / year</h3>
                                        <a class="btn-sub" data-bind="click: $parent.showPremiumBreakup">See Premium
                                            Breakup</a>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <a class="buy-btn" data-bind="click: $parent.prepareBuy">Buy this plan</a><br/>

                                        <p>Instant policy in your inbox</p>
                                    </div>
                                </div>

                                <div class="col-md-12 plan-card-bottom">

                                    <ul data-bind="foreach: $parent.selectedAddons">
                                        <li>
                                            <span data-bind="text:verbose"></span><br/>
                                            <span data-bind="text:$parent.getAddonPremium($data)"></span>
                                        </li>
                                    </ul>

                                </div>


                            </div>


                        </div>
                    </div>
                </div>


            </section>


        </div>
    </div>
</section>











<!--section id="premium-breakup-overlay" data-bind="if:selectedPlan()">
    <div class="overlay-wrapper">

    </div>
</section -->


<section id="confirm-buy-overlay" data-bind="if:selectedPlan()">
    <div class="overlay-wrapper" data-bind="visible: overlayMode() == 'confirmBuy'">



    </div>
</section>


<section id="continue-to-transaction-overlay" data-bind="if:selectedPlan()">
    <div class="overlay-wrapper" data-bind="visible: overlayMode() == 'continueToTransaction'">

    </div>
</section>









<section id="overlay" data-bind="if:selectedPlan()">
<div class="overlay-wrapper" data-bind="visible:selectedPlan()">
<div class="container">
<div class="row" data-bind="visible:overlayMode() == 'buy'">
    <div class="col-md-8 col-md-offset-2 overlay-content">


        <div class="overlay-header"
             data-bind="css: {conceal: pastpolicyExpiryDateConfirmed() == false && quote.isNewVehicle() == false} ">
            <img data-bind="attr: {src: '/static/motor_product/desktopMVP/app/assets/img/insurer/'+selectedPlan().insurerId+'.png'}"
                 alt=""/>
            <h4>Total Premium</h4>

            <h3>Rs. <span data-bind="text: selectedPlan().calculatedPremium"></span> / year</h3>

            <p>Calculated at IDV <span data-bind="text: selectedPlan().calculatedAtIDV"></span></p>
        </div>

        <div class="overlay-section text-center edit-expiry-date"
             data-bind="css: {conceal: policyRefresh() == 'start' || pastpolicyExpiryDateConfirmed() == true || quote.isNewVehicle() == true }">
            <h4>Confirm Previous policy expiry date</h4>
            <multiselect-widget params="{items:[
                                {selectedValue: quote.expiry_date, data: days, defaultText:'-- date --'},
                                {selectedValue: quote.expiry_month, data: months, defaultText:'-- month --'},
                                {selectedValue: quote.expiry_year, data: years, defaultText:'-- year --'}

                                ]}"></multiselect-widget>

            <h4>Confirm manufacturing date</h4>
            <multiselect-widget params="{items:[
                                {selectedValue: quote.man_date, data: days, defaultText:'-- date --'},
                                {selectedValue: quote.man_month, data: months, defaultText:'-- month --'},
                                {selectedValue: quote.man_year, data: years, defaultText:'-- year --'}

                                ]}"></multiselect-widget>

            <a class="buy-btn" data-bind="click: confirmExpiryDate">Confirm</a>
        </div>


        <div class="loader text-center" data-bind="visible:policyRefresh() == 'start'">
            <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="60px" height="60px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                              <path fill="rgb(120, 117, 149)" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                                <animateTransform attributeType="xml"
                                  attributeName="transform"
                                  type="rotate"
                                  from="0 25 25"
                                  to="360 25 25"
                                  dur="0.6s"
                                  repeatCount="indefinite"/>
                                </path>
                              </svg>
            <p>Reloading Premium</p>
        </div>

        <div class="overlay-section text-center"
             data-bind="visible: pastpolicyExpiryDateConfirmed() == true || quote.isNewVehicle() == true    ">

            <h2>Verify information</h2>

            <ul class="verify-info">
                <li>
                    <span class="title">IDV</span>
                    <span class="value" data-bind="text:quote.idv()"></span>
                </li>
                <li>
                    <span class="title">NCB</span>
                    <span class="value" data-bind="text:quote.previousNCB()"></span>
                </li>

                <li>
                    <span class="title">Voluntary Deductible</span>
                                <span class="value" data-bind="text:quote.voluntaryDeductible()">
                                </span>
                </li>
                <li>
                    <span class="title">IDV Electrical</span>
                    <span class="value" data-bind="text:quote.idvElectrical()"></span>
                </li>
                <li>
                    <span class="title">IDV Non Electrical</span>
                    <span class="value" data-bind="text:quote.idvNonElectrical()"></span>
                </li>
                <li>
                    <span class="title">CNG</span>
                                <span class="value" data-bind="if:quote.isCNGFitted() == 1">
                                    Fitted
                                </span>
                                <span class="value" data-bind="if:quote.isCNGFitted() == 0">
                                    No CNG Fitted
                                </span>

                </li>
            </ul>

            <a class="buy-btn" data-bind="click: confirmBuy">Verify and continue</a>


        </div>

        <div class="close-btn" data-bind="click:selectedPlan.bind($data, null)">
            X
        </div>


    </div>
</div>





<div class="row" data-bind="visible:overlayMode() == 'premium-breakup'">
    <div class="col-md-8 col-md-offset-2 overlay-content">
        <div class="close-btn" data-bind="click:selectedPlan.bind($data, null)">
            X
        </div>

        <div class="overlay-header">
            <img data-bind="attr: {src: '/static/motor_product/desktopMVP/app/assets/img/insurer/'+selectedPlan().insurerId+'.png'}"
                 alt=""/>
            <h4>Total Premium</h4>

            <h3>Rs. <span data-bind="text: selectedPlan().calculatedPremium"></span> / year</h3>

            <p>Calculated at IDV <span data-bind="text: selectedPlan().calculatedAtIDV"></span></p>
            <a class="buy-btn" data-bind="click: prepareBuy">Buy this plan</a>
        </div>


        <div class="col-md-6 col-md-offset-3 pb_basic-covers">

            <h2>Basic Covers</h2>


            <section data-bind="foreach:selectedPlan().basicCovers">
                <div class="col-md-6">
                    <p class="cover-title" data-bind="text:id">

                    </p>
                </div>
                <div class="col-md-6">
                    <p class="cover-value" data-bind="text:premium">

                    </p>
                </div>

            </section>

        </div>
        <div class="col-md-6 col-md-offset-3 pb_addon-covers">

            <h2>Addon Covers</h2>


            <section data-bind="foreach:selectedPlan().selectedAddonCovers">
                <div class="col-md-6">
                    <p class="cover-title" data-bind="text:id">

                    </p>
                </div>
                <div class="col-md-6">
                    <p class="cover-value" data-bind="text:premium">

                    </p>
                </div>
            </section>
            <p data-bind="if:selectedPlan().selectedAddonCovers().length == 0">No addons selected.</p>
        </div>
        <div class="col-md-6 col-md-offset-3 pb_service-tax">

            <h2>Taxes</h2>


            <section>
                <div class="col-md-6">
                    <p class="cover-title">
                        Service Tax
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="cover-value" data-bind="text: selectedPlan().serviceTax">

                    </p>
                </div>
            </section>

        </div>
        <div class="col-md-6 col-md-offset-3 pb_discounts">

            <h2>Discounts</h2>


            <section data-bind="foreach:selectedPlan().discounts">
                <section data-bind="if: id != 'voluntaryDeductible'">

                    <div class="col-md-6">
                        <p class="cover-title" data-bind="text:id">

                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="cover-value" data-bind="text:premium">

                        </p>
                    </div>

                </section>
            </section>
            <div class="col-md-6">
                <p class="cover-title">
                    Voluntary Deductible <br/> <span class="vdvalue">at <span
                        data-bind="text:quote.voluntaryDeductible()"></span></span>
                </p>
            </div>
            <div class="col-md-6">
                <p class="cover-value" data-bind="text:selectedPlan().VDDiscount">

                </p>
            </div>

        </div>
        <div class="col-md-6 col-md-offset-3 pb_total">
            <section>
                <div class="col-md-6">
                    <p class="cover-title">
                        Total Premium
                    </p>

                </div>
                <div class="col-md-6">
                    <p class="cover-value" data-bind="text: selectedPlan().calculatedPremium"></p>
                </div>
            </section>
        </div>
    </div>
</div>
</div>
</div>
</section>


