<footer>
        <div class="footer-wrapper-products">
            <div class="container">
                <div class="col-md-12">
                    <div class="fp-item">
                        <a href="/health-plan/">
                            <img src="{{STATIC_URL}}global/img/health-icon.jpg">
                        </a>
                    </div>
                    <div class="fp-item">
                         <a href="/motor/car-insurance/">
                            <img src="{{STATIC_URL}}global/img/car-icon.jpg">
                         </a>
                    </div>
                    <div class="fp-item">
                         <a href="/motor/twowheeler-insurance/">
                            <img src="{{STATIC_URL}}global/img/bike-icon.jpg">
                         </a>
                    </div>
                    <div class="fp-item">
                         <a href="/home-insurance/">
                            <img src="{{STATIC_URL}}global/img/home-icon.jpg">
                         </a>
                    </div>
                    <div class="fp-item">
                        <a href="/travel-insurance/">
                            <img src="{{STATIC_URL}}global/img/travel-icon.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-wrapper-a">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-md-2">
                        <span class="footlist_header">Health Insurance</span>
                        <ul>
                            <li><a href="/health-insurance/family-health-insurance/">Family Health Insurance</a></li>
                            <li><a href="/health-insurance/parents-health-insurance/">Health Insurance for Parents</a></li>
                            <li><a href="/health-insurance/senior-citizens-health-insurance/">Health Insurance for Senior Citizens</a></li>
                            <li><a href="/health-insurance/compare-health-insurance/">Compare Health Insurance</a></li>
                            <li><a href="/health-insurance/claims/">Health Insurance Claims</a></li>
                            <li><a href="/health-insurance/">Health Insurance</a></li>
                            <li><a href="/health-insurance/cashless-health-insurance/">Cashless Health Insurance </a></li>
                            <li><a href="/health-insurance/mediclaim-policy/">Mediclaim Insurance</a></li>
                            <li><a href="/health-insurance/accidental-health-insurance/">Personal Accident Insurance</a></li>
                            <li><a href="/health-insurance/maternity-health-insurance/">Maternity Insurance</a></li>
                            <li><a href="/health-insurance/critical-illness/">Critical Illness Insurance </a></li>
                            <li><a href="/health-insurance/individual-health-insurance/">Individual Health Insurance</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <span class="footlist_header">Car Insurance</span>
                        <ul>
                            <li><a href="/car-insurance/compare-car-insurance/">Compare Car Insurance</a></li>
                            <li><a href="/car-insurance/renew-car-insurance/">Car Insurance Renewal</a></li>
                            <li><a href="/car-insurance/zero-depreciation">Zero Depreciation Car Insurance</a></li>
                            <li><a href="/car-insurance/">Car Insurance</a></li>
                            <li><a href="/car-insurance/new/">New Car Insurance</a></li>
                            <li><a href="/car-insurance/expired-policy/">Expired Car Insurance</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <span class="footlist_header">Bike Insurance</span>
                        <ul>
                            <li><a href="/two-wheeler-insurance/">Two Wheeler Insurance</a></li>
                            <li><a href="/two-wheeler-insurance/compare/">Compare Two Wheeler Insurance</a></li>
                            <li><a href="/two-wheeler-insurance/renew/">Renew Two Wheeler Insurance</a></li>
              
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <span class="footlist_header">Get to know us!</span>
                        <ul>
                            <li><a href="/articles/">Our Blog</a></li>
                            <li><a href="/about/">About Us</a></li>
                            <li><a href="/contact-us/">Contact Us</a></li>
                            <li><a href="/careers/">Careers</a></li>
                            <li><a href="/sitemap/">Sitemap</a></li>
                            <li><a href="/faqs/">FAQs</a></li>
                            <!--li><a href="/testimonials/">Testimonials</a></li-->
                            <li><a href="/shipping-and-delivering/" rel="nofollow">Shipping & Delivery Policy</a></li>
                            <li><a href="/privacy-policy/" rel="nofollow">Privacy Policy</a></li>
                            <li><a href="/cancellation-and-refund-policy/" rel="nofollow">Cancellation & Refund Policy</a></li>
                            <li><a href="/terms-and-conditions/" rel="nofollow">Terms and conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <span class="footlist_header">Connect with us!</span>
                        <ul>
                            <li><a href="https://www.facebook.com/Coverfox.Insurance" rel="nofollow" target="_blank">Facebook</a></li>
                            <li><a href="https://twitter.com/coverfox" rel="nofollow" target="_blank">Twitter</a></li>
                            <li><a href="https://plus.google.com/+Coverfox/" rel="publisher" target="_blank">Google +</a></li>
                            <li><a href="https://www.linkedin.com/company/coverfox-insurance" rel="nofollow" target="_blank">LinkedIn</a></li>
                            <li><a href="https://www.youtube.com/channel/UCdRU43Vg0L5O3JytODpFATQ/feed/" rel="nofollow" target="_blank">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-wrapper-b">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <span class="footlist_header">Popular Health Insurance Brands</span>
                        <ul>
                            <li><a href="/health-insurance/maxbupa/">Max Bupa</a></li>
                            <li><a href="/health-insurance/apollomunich/">Apollo Munich</a></li>
                            <li><a href="/health-insurance/icicilombard/">ICICI Lombard</a></li>
                            <li><a href="/health-insurance/bajajallianz/">Bajaj Allianz </a></li>
                            <li><a href="/health-insurance/companies/">More..</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <span class="footlist_header">Popular Health Insurance Plans</span>
                        <ul>
                            <li><a href="/health-insurance/religare/care-policy/">Care</a></li>
                            <li><a href="/health-insurance/icicilombard/ihealth-policy/">iHealth Policy</a></li>
                            <li><a href="/health-insurance/oriental/happy-family-floater-policy/">Oriental Happy Family Floater</a></li>
                            <li><a href="/health-insurance/star-health-and-allied-insurance/star-care-policy/">Care Insurance Plan</a></li>
                            <li><a href="/health-insurance/plans/">More..</a></li>

                        </ul>
                    </div>
                    <div class="col-md-2">
                        <span class="footlist_header">Popular Car Insurance Brands</span>
                        <ul>
                            <li><a href="/car-insurance/ifcotokio/">Iffco Tokio</a></li>
                            <li><a href="/car-insurance/icicilombard/">ICICI Lombard</a></li>
                            <li><a href="/car-insurance/tataaig/">Tata Aig</a></li>
                            <li><a href="/car-insurance/hdfc-ergo-car-insurance/">HDFC ERGO</a></li>
                            <li><a href="/car-insurance/companies/">More..</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <span class="footlist_header">Popular Two Wheeler Insurance Companies</span>
                        <ul>
                            <li><a href="/two-wheeler-insurance/icicilombard/">ICICI Lombard</a></li>
                            <li><a href="/two-wheeler-insurance/iffcotokio/">Iffco Tokio</a></li>
                            <li><a href="/two-wheeler-insurance/reliance/">Reliance</a></li>
                            <li><a href="/two-wheeler-insurance/bajajallianz/">Bajaj Allianz</a></li>
                            <li><a href="/two-wheeler-insurance/companies/">More..</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                       <span class="footlist_header">Popular Network <br> Hospitals</span>
                        <ul>
                            <li><a href="/health-insurance/l-and-t/network-hospitals/">L & T Network Hospitals</a></li>
                            <li><a href="/health-insurance/bajajallianz/network-hospitals/">Bajaj Allianz</a></li>
                            <li><a href="/health-insurance/hdfcergo/network-hospitals/">HDFC ERGO</a></li>
                            <li><a href="/health-insurance/bhartiaxa/network-hospitals/">Bharti AXA</a></li>
                            <li><a href="/health-insurance/network-hospitals/">More..</a></li>
                        </ul>
                      </div>
                   <div class="col-md-2">
                        <span class="footlist_header">Popular Car Manufacturer</span>
                        <ul>
                            <li><a href="/car-insurance/tata/">TATA</a></li>
                            <li><a href="/car-insurance/maruti-suzuki/">Maruti Suzuki</a></li>
                            <li><a href="/car-insurance/hyundai/">Hyundai</a></li>
                            <li><a href="/car-insurance/mahindra-and-mahindra/">Mahindra</a></li>
                            <li><a href="/car-insurance/manufacturer">More..</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12 pnone">
	                    <div class="col-md-2">
	                    	<br>
	                        <span class="footlist_header">Popular Bike Manufacturer</span>
	                        <ul>
	                            <li><a href="/two-wheeler-insurance/bajaj/">Bajaj</a></li>
	                            <li><a href="/two-wheeler-insurance/honda/">Honda</a></li>
	                            <li><a href="/two-wheeler-insurance/yamaha/">Yahama</a></li>
	                            <li><a href="/two-wheeler-insurance/royal-enfield/">Royal Enfield</a></li>
	                            <li><a href="/two-wheeler-insurance/manufacturer/">More..</a></li>
	                        </ul>
	                    </div>
                        <div class="col-md-2">
                            <br>
                            <span class="footlist_header">Popular Cashless Garages</span>
                            <ul>
                                <li><a href="/car-insurance/l-and-t/cashless-garages/">L & T</a></li>
                                <li><a href="/car-insurance/bajaj-allianz-car-insurance/cashless-garages/">Bajaj Allianz</a></li>
                                <li><a href="/car-insurance/hdfc-ergo-car-insurance/cashless-garages/">HDFC ERGO</a></li>
                                <li><a href="/car-insurance/bharti-axa-car-insurance/cashless-garages/">Bharti AXA</a></li>
                                <li><a href="/car-insurance/cashless-garages/">More..</a></li>
                            </ul>
                        </div>
	                </div>
                    <div class="col-md-4 footer-about">
                            <p>
                            <br>
                            <strong>Coverfox Insurance Broking Pvt. Ltd. </strong><br>
                            3rd Floor, A wing, Krislon House<br>
                            Saki vihar road, Saki Naka,
                            Maharashtra - 400072 <br> <br>
                            IRDA Direct Broker licence no. IRDA/ DB 556/ 13 <br>
                            Principal Officer: Varun Dua<br><br>
                            <a href="/articles/insurance/insurance-subject-matter-of-solicitation/">Insurance is a subject matter of solicitation</a>.
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
