<footer>
    <div class="footer-wrapper-products hide" style="display: none;">
        <div class="container">
            <div class="col-md-12">
                <div class="fp-item">
                    <a href="/health-plan/">
                        <img src="{{STATIC_URL}}global/img/health-icon.jpg">
                    </a>
                </div>
                <div class="fp-item">
                    <a href="/motor/car-insurance/">
                        <img src="{{STATIC_URL}}global/img/car-icon.jpg">
                    </a>
                </div>
                <div class="fp-item">
                    <a href="/motor/twowheeler-insurance/">
                        <img src="{{STATIC_URL}}global/img/bike-icon.jpg">
                    </a>
                </div>
                <div class="fp-item">
                    <a href="/home-insurance/">
                        <img src="{{STATIC_URL}}global/img/home-icon.jpg">
                    </a>
                </div>
                <div class="fp-item">
                    <a href="/travel-insurance/">
                        <img src="{{STATIC_URL}}global/img/travel-icon.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <section class="secure">
        <div class="container">
            <ul>
                <li>
                    Licensed By
                    <div>
                        <a href="/irda-license"><img src="{{STATIC_URL}}global/img/header_footer_2/ic-irda-logo.png" alt="IRDA" title="Insurance Regulatory and Development Authority"/></a>
                    </div>
                </li>
                <li class="b-lr">
                    Secure
                    <div>
                        <script async src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
                        <a href="http://www.dmca.com/Protection/Status.aspx?ID=9acaadbe-78db-46ef-babe-3b0bba57bf80" title="DMCA.com Protection Status" class="dmca-badge">
                            <img src ="//images.dmca.com/Badges/dmca_copyright_protected150b.png?ID=9acaadbe-78db-46ef-babe-3b0bba57bf80"  alt="DMCA.com Protection Status" />
                        </a>
                        <img class="ssl-logo" src="{{STATIC_URL}}global/img/header_footer_2/ssl-seal.gif" alt="SSL" title="Godaddy Verified and Secured"/>
                    </div>
                    <!--i class="ic-secure ssl"></i-->
                </li>
                <li>
                    <div>Payment Options</div>
                    <i class="ic-secure visa" title="VISA"></i>
                    <i class="ic-secure master-card" title="Master Card"></i>
                    <i class="ic-secure american-express" title="American Express"></i>
                    <i class="ic-secure net-banking" title="Net Banking"></i>
                </li>
            </ul>
        </div>
    </section>

    <div class="footer-wrapper-a">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-lg-2 mxw">
                    <h4>Get to know us :</h4>
                </div>
                <div class="col-sm-9 col-lg-10">
                    <ul>
                        <li><a href="/articles/">Our Blog</a></li>
                        <li><a href="/about/">About Us</a></li>
                        <li><a href="/contact-us/">Contact Us</a></li>
                        <li><a href="/careers/">Careers</a></li>
                        <li><a href="/sitemap/">Sitemap</a></li>
                        <li><a href="/faqs/">FAQs</a></li>
                        <!--li><a href="/testimonials/">Testimonials</a></li-->
                        <li><a href="/shipping-and-delivering/" rel="nofollow">Shipping & Delivery Policy</a></li>
                        <li><a href="/privacy-policy/" rel="nofollow">Privacy Policy</a></li>
                        <li><a href="/cancellation-and-refund-policy/" rel="nofollow">Cancellation & Refund Policy</a></li>
                        <li><a href="/terms-and-conditions/" rel="nofollow">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="row type-b">
                <div class="col-sm-3 col-lg-2 mxw">
                    <h4>Health Insurance :</h4>
                </div>
                <div class="col-sm-9 col-lg-10">
                    <ul>
                        <li><a href="/health-insurance/family-health-insurance/">Family Health Insurance</a></li>
                        <li><a href="/health-insurance/parents-health-insurance/">Health Insurance for Parents</a></li>
                        <li><a href="/health-insurance/senior-citizens-health-insurance/">Health Insurance for Senior Citizens</a></li>
                        <li><a href="/health-insurance/compare-health-insurance/">Compare Health Insurance</a></li>
                        <li><a href="/health-insurance/claims/">Health Insurance Claims</a></li>
                        <li><a href="/health-insurance/">Health Insurance</a></li>
                        <li><a href="/health-insurance/cashless-health-insurance/">Cashless Health Insurance </a></li>
                        <li><a href="/health-insurance/mediclaim-policy/">Mediclaim Insurance</a></li>
                        <li><a href="/health-insurance/accidental-health-insurance/">Personal Accident Insurance</a></li>
                        <li><a href="/health-insurance/maternity-health-insurance/">Maternity Insurance</a></li>
                        <li><a href="/health-insurance/critical-illness/">Critical Illness Insurance </a></li>
                        <li><a href="/health-insurance/individual-health-insurance/">Individual Health Insurance</a></li>
                    </ul>
                </div>
            </div>
            <div class="row type-b">
                <div class="col-sm-3 col-lg-2 mxw">
                    <h4>Car Insurance :</h4>
                </div>
                <div class="col-sm-9 col-lg-10">
                    <ul>
                        <li><a href="/car-insurance/compare-car-insurance/">Compare Car Insurance</a></li>
                        <li><a href="/car-insurance/renew-car-insurance/">Car Insurance Renewal</a></li>
                        <li><a href="/car-insurance/zero-depreciation">Zero Depreciation Car Insurance</a></li>
                        <li><a href="/car-insurance/">Car Insurance</a></li>
                        <li><a href="/car-insurance/new/">New Car Insurance</a></li>
                        <li><a href="/car-insurance/expired-policy/">Expired Car Insurance</a></li>
                    </ul>
                </div>
            </div>
            <div class="row type-b">
                <div class="col-sm-3 col-lg-2 mxw">
                    <h4>Bike Insurance :</h4>
                </div>
                <div class="col-sm-9 col-lg-10">
                    <ul>
                        <li><a href="/two-wheeler-insurance/">Two Wheeler Insurance</a></li>
                        <li><a href="/two-wheeler-insurance/compare/">Compare Two Wheeler Insurance</a></li>
                        <li><a href="/two-wheeler-insurance/renew/">Renew Two Wheeler Insurance</a></li>
                    </ul>
                </div>
            </div>
            <div class="row type-b">
                <div class="col-sm-3 col-lg-2 mxw">
                    <h4>Insurance Guide :</h4>
                </div>
                <div class="col-sm-9 col-lg-10">
                    <ul>
                        <li><a href="/health-insurance/parents/ebook/">Parents Heath Insurance Guide</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrapper-b">
        <div class="container">
            <div class="row footer-finish">
                <div class="col-sm-7 license-container">
                    <span><a class="neutral-link" href="/irda-license">IRDA Direct Broker License No. IRDA/ DB 556/ 13</a>,</span>
                    <span>Valid till: 26/12/2016  (CIN:U66000MH2013PTC243810)</span><br/>
                    <span>Principal Officer: Varun Dua</span>
                    <span style="color: #aaa;">(Contact: +91 22 6179 2904)</span>
                </div>
                <div class="col-sm-5 text-align">
                    <span>Copyright &copy; 2015  coverfox.com. All Rights Reserved</span>
                    <a style ="margin:5px 0 0;display: block;" href="/articles/insurance/insurance-subject-matter-of-solicitation/">Insurance is a subject matter of solicitation.</a>
                </div>
            </div>
        </div>
    </div>
</footer>
