<footer>
    <div class="footer-innerwrap">
        <div class="secure">
            <div class="container-fluid">
                <ul>
                    <li>
                        Licensed By
                        <div class="secure--img_wrapper">
                            <a href="/irda-license"><img src="{{ STATIC_URL }}global/img/header_footer_2/ic-irda-logo.png" alt="IRDA" title="Insurance Regulatory and Development Authority"/></a>
                        </div>
                    </li>
                    <li class="b-lr">
                        Secure
                        <div class="secure--img_wrapper">
                            <script async src="//images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
                            <a href="http://www.dmca.com/Protection/Status.aspx?ID=9acaadbe-78db-46ef-babe-3b0bba57bf80" title="DMCA.com Protection Status" class="dmca-badge">
                                <img src ="//images.dmca.com/Badges/dmca_copyright_protected150b.png?ID=9acaadbe-78db-46ef-babe-3b0bba57bf80"  alt="DMCA.com Protection Status" />
                            </a>
                            <img class="ssl-logo" src="{{STATIC_URL}}global/img/header_footer_2/ssl-seal.gif" alt="SSL" title="Godaddy Verified and Secured"/>
                        </div>
                        <!--i class="ic-secure ssl"></i-->
                    </li>
                    <li>
                        <div>Payment Options</div>
                        <i class="ic-secure visa" title="VISA"></i>
                        <i class="ic-secure master-card" title="Master Card"></i>
                        <i class="ic-secure american-express" title="American Express"></i>
                        <i class="ic-secure net-banking" title="Net Banking"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-finish">
            <div class="container-fluid">

                <ul>

                    <li><a target="_blank" href="{{ settings.SITE_URL }}/shipping-and-delivering/" rel="nofollow">Shipping & Delivery Policy</a></li>
                    <li><a target="_blank" href="{{ settings.SITE_URL }}/privacy-policy/" rel="nofollow">Privacy Policy</a></li>
                    <li><a target="_blank" href="{{ settings.SITE_URL }}/cancellation-and-refund-policy/" rel="nofollow">Cancellation & Refund Policy</a></li>
                    <li><a target="_blank" href="{{ settings.SITE_URL }}/terms-and-conditions/" rel="nofollow">Terms and conditions</a></li>
                </ul>
                <div class="row">
                    <div class="col-sm-12 text-center">
                    <a class="neutral-link" href="/irda-license">IRDA Direct Broker license no. IRDA/ DB 556/ 13</a>, Valid till: 26/12/2016 (CIN:U66000MH2013PTC243810)<br/>
                    Copyright &copy; 2015  coverfox.com. All Rights Reserved
                    </div>

                </div>

            </div>
        </div>
    </div>
</footer>
