<div class="social-contacts row">
    <div class="col-lg-7 col-md-7 col-sm-12 plnone">
        <a title="Facebook" class="facebook" href="https://www.facebook.com/Coverfox.Insurance" rel="nofollow" target="_blank">
            <i class="ic-social facebook"></i>
        </a>
        <a title="Twitter" class="twitter" href="https://twitter.com/coverfox" rel="nofollow" target="_blank">
            <i class="ic-social twitter"></i>
        </a>
        <a title="Google plus" class="google-plus" href="https://plus.google.com/+Coverfox/" rel="publisher" target="_blank">
            <i class="ic-social google-plus"></i>
        </a>
        <a title="Linkedin" class="linkedin" href="https://www.linkedin.com/company/coverfox-insurance" rel="nofollow" target="_blank">
            <i class="ic-social linkedin"></i>
        </a>
        <a title="Youtube" class="youtube" href="https://www.youtube.com/channel/UCdRU43Vg0L5O3JytODpFATQ/feed/" rel="nofollow" target="_blank">
            <i class="ic-social youtube"></i>
        </a>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 prnone">
        <div class="address">
            <i class="location">
                <img src="{{STATIC_URL}}img/global/ic-location.png" alt="">
            </i>
            <h5>Coverfox Insurance Broking Pvt. Ltd.</h5>
            <small>3rd Floor, A wing, Krislon House</small><br/>
            <small>Saki vihar road, Saki Naka, Maharashtra - 400072</small>
        </div>
    </div>
</div>