<!DOCTYPE html>
<html lang="en">
{% load compress%}
{% load manip_data%}
<head>
    {% block header %}
    {% endblock %}
    {% block head %}
        {% if seo %}
            {% include "flatpages:seo_snippet.html" %}
        {% else %}
            <title>{% block title %}Buy Health Insurance Online - Coverfox.com{% endblock title %}</title>
            <meta name="description" content="Planning to buy health insurance online? Get free quotes for medical insurance policies only at  Coverfox. Contact Now!">
        {% endif %}
    {% endblock head %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta property="og:site_name" content="Coverfox Insurance, India" />
    <meta property="og:locale" content="en_us" />
    <meta property="og:title" content="Coverfox Insurance, India - The smartest way to manage your Insurance" />
    <meta property="og:description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance." />
    <meta property="og:url" content="http://www.coverfox.com" />
    <meta property="og:image" content="{{STATIC_URL}}flatpages/health/img/coverfox_logo_fb.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="403">
    <meta property="og:image:height" content="403">

    <meta name="twitter:title" content="Coverfox Insurance, India">
    <meta name="twitter:description" content="The smartest way to buy and manage your insurance">

    <meta name="published_time" content="2013-09-26" />
    <meta name="modified_time" content="{{currenttime|date:'Y-m-d'}}" />
    <meta name="keywords" content="Insurance India, Best Insurance in India, Best Policy" />
    <meta name="description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance." />
    <meta name="publisher" content="Coverfox Insurance" />
    <meta name='robots' content='index, follow' />
    <!-- Bootstrap -->
    <link rel="shortcut icon" href="{{STATIC_URL}}flatpages/health/img/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

    <script src="{{STATIC_URL}}lp/js/jquery.min.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var T1 = new Date();
        var insurer = "{{ current_insurer.name }}";
        var page_id = "{{ page_id }}";
        var lms_campaign = "{{ lms_campaign }}";
        var CSRF_TOKEN = "{{csrf_token}}";
        function skipForm(label){
            window.dataLayer.push({
                'event': 'GAEvent',
                'hitType': 'event',
                'eventCategory': 'HEALTH',
                'eventAction': 'hero_skip_'+ label,
                'eventLabel': 'flatpages_{{ page_id }}',
                'eventValue': 0
            });
            console.log('hero_skip_'+label, 'flatpages_{{ page_id }}');
            if(label == 'main'){
                Cookies.set('hide_login', 'True', { expires: 300 });
            }
            window.location = '/health-plan/';
            return false;
        }
    </script>
</head>
<body>
{%if amlpl_iframe%}
    <iframe class="trace_fixer" src="http://coverfox.enr-api.m-bazaar.in/?s={% now 'Ymd' %}{{ request.TRACKER.id }}" style="display:none"></iframe>
{%endif%}

{% block overhead %}
{% endblock %}

<section class="hero-wrapper">

    <div id="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-4 col-sm-6">
                    <div class="logo">
                        <a href="/">
                            <img src="{{STATIC_URL}}flatpages/health/img/coverfox-logo.png" alt="" class="logo">
                        </a><br/>
                    </div>
                    <div id="irda-auth" class="irda-auth-badge">
                        <img src="{{STATIC_URL}}flatpages/health/img/badge-2.png" alt="">
                <span>
                    Authorised by IRDA
                    <br> Licence : IRDA/ DB 556/ 13
                </span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-8 pull-right col-sm-6">
                    <ul id="right-menu-items" class="">
                        <li><img src="{{STATIC_URL}}flatpages/health/img/phone_white.png" alt="" class="menuimg"> Toll Free: {{ settings.HEALTH_TOLL_FREE }}</li>
                    </ul>
                </div>
            </div>
        </div><!--/.container-->
    </div><!--/#topbar-->

    {% block hero %}
    {% endblock %}


</section>

{%block companies%}
    <section class="companies-wrapper">
        <div class="container-fluid">
            <div class="row mnone">
                <ul class="company-logos">
                    {% if current_insurer %}
                        <li class="current-insurer"><img src="{{STATIC_URL}}flatpages/health/img/insurer/insurer_{{ current_insurer.id }}/on_n.png" alt="" /></li>
                    {% endif %}
                    {% for i in default_insurer_list %}
                        {% ifnotequal i current_insurer.id %}
                            <li><img src="{{STATIC_URL}}flatpages/health/img/insurer/insurer_{{ i }}/on_n.png" alt="" /></li>
                        {% endifnotequal %}
                    {% endfor %}
                </ul>
            </div>
        </div><!--/.container-fluid-->
    </section>
{%endblock%}
{%block benefits%}
    <section class="dark-box benefits-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>What Makes <strong>Coverfox</strong> A Better Choice</h1>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="{{STATIC_URL}}flatpages/health/img/icon1.png">
                    <h4>Honest Expert Advice</h4>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="{{STATIC_URL}}flatpages/health/img/icon2.png">
                    <h4>Free Claims Assistance</h4>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="{{STATIC_URL}}flatpages/health/img/icon3.png">
                    <h4>No Spam Calls</h4>
                </div>
            </div>
        </div><!--/.container-->
    </section>
{%endblock%}


{%block experts%}
    {%include "flatpages:scroll_call.html" %}
{%endblock%}

{%block tips%}
{%endblock%}

{%block steps%}
    <section class="light-box three-steps">
        <h1>
            <div class="container">
                Let <img height="25" src="{{STATIC_URL}}flatpages/health/img/coverfox-logo.png" alt="Coverfox"/> help you buy the right policy
            </div>
        </h1>
        <div class="container">
            <ul class="clearfix">
                <li>
                    <span class="step_number">1.</span>
                    <div>
                        You <br class="hidden-xs"/>give us <br class="hidden-xs"/><strong>your details</strong>
                    </div>
                </li>
                <li>
                    <span class="step_number">2.</span>
                    <div class="padding-top">
                        We <br class="hidden-xs"/><strong>find the best plans</strong><br class="hidden-xs"/>from Top Insurance companies
                    </div>
                </li>
                <li>
                    <span class="step_number">3.</span>
                    <div class="no-link">
                        You <br class="hidden-xs"/>Buy Online<br class="hidden-xs"/>and get <br class="hidden-xs"/><strong>Instant Policy</strong>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2 call-action">
                    <button onclick="skipForm('three_steps')" class="three_steps_btn btn btn-cfox orange">Buy Online in 3 Easy Steps</button>
                </div>
            </div>
        </div><!--/.container-->
    </section>
{%endblock%}
{%block testimonials%}
    <section class="dark-box testimonials-section">
        <div class="container">
            <h1>Hear from our Mediclaim customers</h1>
            <div class="row">
                <div class="col-sm-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}flatpages/health/img/testimonials/t1.jpg" alt=""/>
                        <div class="comment left">
                            <p>"Shweta was extremely helpful and patient. She addressed all doubts and concerns politely. Definitely felt good about my decision"</p>
                            <p class="title">- Mrunmayee</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}flatpages/health/img/testimonials/t2.jpg" alt=""/>
                        <div class="comment">
                            <p>
                                "Extremely warm and pleasant process. Did not get any unsolicited calls, relationship team was polite and the insurance buying process very easy"
                            </p>

                            <p class="title">- Mr. and Mrs. Thombre</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}flatpages/health/img/testimonials/t3.jpg" alt=""/>
                        <div class="comment right">
                            <p>
                                "Very intuitive and great user experience. Made me feel great about buying insurance which is a first"
                            </p>

                            <p class="title">- Mr. and Mrs. Kainth</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2 call-action">
                    <button onclick="skipForm('testimonial')" class="testimonial_action_btn btn btn-cfox orange">Get Free Quotes Online</button>
                </div>
            </div>
        </div><!--/.container-->
    </section>
{%endblock%}

{%block aboutus%}
    <section class="light-box about-us">
        <div class="container">
            <h1 class="section-header">Buy Health Insurance Online</h1>
            <p class="lead-para">
            We help you choose and buy the strongest safety net for you and your loved ones. Choosing the best-suited <a href="">health insurance policy</a> for you as well as your family may be the most important thing you do in life. There are some MUST-KNOWS before you take that plunge.
            </p>
        </div>
        <div class="container">
            <h1 class="section-header">Compare Health policies and compare premiums</h1>
            <p class="lead-para">
            Health Insurance is not a decision you should make by comparing premiums. It is a long term purchase. <a href="/health-insurance/compare-health-insurance">Comparison of health insurance premiums</a> could be misleading and you would likely end up losing more than you intended to. Compare features in different policies than premiums thereby making it more important than the cost you are paying.
            </p>
        </div>
        <div class="container">
            <h1 class="section-header">Be aware of exclusions from the beginning</h1>
            <p class="lead-para">
            Health policies have certain limitations and exclusions to many health-related issues. Insurance companies attend to these claims on a conditional basis, some after a waiting period, and some on co-payment from the customer’s side. Being aware of exclusions from the beginning will make sure that you are not in for any rude surprises later.
            </p>
        </div>
        <div class="container">
            <h1 class="section-header">Understand and determine the coverage you will require?</h1>
            <p class="lead-para">
            Before you choose your coverage limit, keep in mind that this decision serves you on a long term basis. Even if, today, a healthy you wouldn’t require an exorbitant sum to get treated, health insurance is what takes care of your ailments when you grow old and may have reasons to claim more than you do now. Choose a higher coverage from the beginning to brace yourself from the blow later is always a wise option.
            </p>
        </div>
        <div class="container">
            <h1 class="section-header">Compatibility of the policy for the elders in the family</h1>
            <p class="lead-para">
            With insurance companies reluctant to cover aged people, it wouldn’t help the cause if any of their conditions are included in the excluded ailments list. Hence it is of utmost importance that you check the policy for clauses, limitations and exclusions that may prove costly for the aged in the family, much later. At least, you could be prepared enough to know what’s coming your way.
            </p>
        </div>
        <div class="container">
            <h1 class="section-header">Company’s credibility</h1>
            <p class="lead-para">
            Checking this up before you take a policy is as easy as trying to find out a review about a movie that you plan to watch. Instead of having to repent for bad choices at a later stage, check for the company’s credibility, their validity on affiliation to the IRDA, their accessibility in the response center and most importantly, their reputation for claim settlements made up till date. We ensure a hand-in-glove association with our customers to ensure that they are met with the right response to their satisfaction, representing you in time of a complaint, query or a claim.
            </p>
        </div>
    </section>
{%endblock%}

<section class="footer clearfix">
    <div class="container">
        <div class="row">
            <div class="pull-left">
                &copy; 2014 Coverfox Insurance Broking Pvt. Ltd. All Rights Reserved
            </div>
            <div class="pull-right">
                www.coverfox.com
            </div>
        </div>
    </div>
</section>



{%compress css%}
    <link href="{{STATIC_URL}}flatpages/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}flatpages/css/health-base.css" rel="stylesheet">
{%endcompress%}

{%block footer_css%}
{%endblock%}

{%compress js%}
    <script src="{{STATIC_URL}}flatpages/health/js/cookies.js"></script>
    <script src="{{STATIC_URL}}flatpages/health/js/system.js"></script>
{%endcompress%}

<!-- TODO: Remove jquery, slider is not dependent on jquery, everything else can be knockout -->
<script type="text/javascript">
    $(document).ready(function(){
        window.dataLayer.push({
            'event': 'AutoEvent',
            'hitType': 'event',
            'eventCategory': 'HEALTH',
            'eventAction': 'PAGENAME',
            'eventLabel': 'flatpages_{{ page_id }}',
            'eventValue': 0
        });
    });
</script>

{%block footer_js%}
{%endblock%}


<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MR4FRN');</script>
<!-- End Google Tag Manager -->

</body>
</html>
