{% load filters %}
<style>
#review_container .reviews_box_container {
	margin: 0 0 30px 0;
}

#review_container .reviews_box_container .rating-star {
	margin: 20px 0 0 0;
}

#review_container .reviews_box_container img {
	max-width: 150px;
}

#review_container .reviews_box_container i {
	margin: 0 5px;
	color: #ff6127;
}

#review_container .reviews_box_container p {
	font-size: 14px;
}

#review_container .reviews_box_container .mht {
	margin: 10px 0 0 0;
}

#review_container .reviews_box_container .review_rating {
	float: left;
}

#review_container .reviews_box_container .review_rating.pos-r {
	position: relative;
	left: 0px;
    max-width: 156px;
}

#review_container .reviews_box_container .review_rating:not(:checked) > input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}

#review_container .reviews_box_container .review_rating:not(:checked) > label {
	float: right;
	width: 1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 24px;
    margin-right: 1px;
	line-height: 1.2;
	color: #ddd;
	text-shadow: 1px 1px #bbbbbb, 2px 2px #666666, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

#review_container .reviews_box_container .review_rating:not(:checked) > label:before {
	content: '★ ';
}

#review_container .reviews_box_container .review_rating > input:checked ~ label {
	color: #f70;
	text-shadow: 1px 1px #cc6600, 2px 2px #994400, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

#review_container .reviews_box_container .review_rating:not(:checked) > label:hover,
#review_container .reviews_box_container .review_rating:not(:checked) > label:hover ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod, 2px 2px #b57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

#review_container .reviews_box_container .review_rating > input:checked + label:hover,
#review_container .reviews_box_container .review_rating > input:checked + label:hover ~ label,
#review_container .reviews_box_container .review_rating > input:checked ~ label:hover,
#review_container .reviews_box_container .review_rating > input:checked ~ label:hover ~ label,
#review_container .reviews_box_container .review_rating > label:hover ~ input:checked ~ label {
	color: #ea0;
	text-shadow: 1px 1px goldenrod, 2px 2px #b57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

#review_container .reviews_box_container .review_rating > label:active {
	position: relative;
	top: 2px;
	left: 2px;
}

#review_container .comment_box {
	margin: 20px 0;
}

#review_container .comment_box img {
	border-radius: 50%;
}

#review_container .comment_box p {
	margin: 4px 0 0 0;
	font-size: 13px;
	line-height: 20px;
}

#review_container .comment_box span {
	color: #bbb;
}
</style>
<div>
	<section>
		<div id="review_container">
			<div class="container">
				<span itemprop="aggregateRating" itemscope="itemscope" itemtype="http://schema.org/AggregateRating" title="{{ page.reviews|average:'rating' }} out of 5 average rating - {{ page.title|title }}" class="star star-4 star-3qtr">
                    <meta content="{{ page.reviews|average:'rating' }}" itemprop="ratingValue">
                    <meta content="{{ page.reviews.count}}" itemprop="reviewCount">
                </span>
				{% for review in page.reviews.all %}
				<div class="row" itemprop="review" itemscope itemtype="http://schema.org/Review">
					<meta itemprop="itemReviewed" content="{{ page.title|title }}" />
					<div class="col-md-12 reviews_box_container">
						<p>Reviewed by <i itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{review.user.get_full_name}}</span></i> Date : <meta itemprop="datePublished" content="{{review.modified_date|date:'c'}}"/>{{review.modified_date}}</p>
						<div class="rating-star clearfix">
							<div class="col-sm-1 col-md-2 pnone mht"> <b>Rating :</b></div>
							<div class="col-sm-3 col-md-2 review_rating pos-r">
								{% for i in 6|xrange:1 reversed %}
								<input type="radio" id="{{forloop.parentloop.counter}}_star{{i}}" name="rating" value="{{i}}" {% if review.rating == i %}checked="checked" {% endif %} />
								<label for="{{forloop.parentloop.counter}}_star{{i}}" title="{{i}} star{{ i|pluralize }}">{{i}} star{{ i|pluralize }}</label>
								{% endfor %}
							</div>
							<div class="col-sm-8 col-md-8 review_rating mht" itemprop="reviewRating" itemscope="itemscope" itemtype="http://schema.org/Rating">
								<span>
									<i itemprop="ratingValue">{{review.rating}}/5</i>
								</span> -
								<span>
									<i>
									{% with review.user.review_set.count as user_review_count %}
										{{user_review_count}} Review{{ user_review_count|pluralize }}
									{% endwith %}
									</i>
								</span>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="comment_box clearfix">
							<div class="col-sm-12 col-md-2 pnone">
								<div class="col-sm-1 col-md-3 pnone">
									<img src="{{STATIC_URL}}flatpages/img/user.jpg" alt="">
								</div>
								<div class="col-sm-11 col-md-9 pnone">
									<p>{{review.user.get_full_name}}</p>
									<span>{{review.modified_date|timesince}} ago</span>
								</div>
							</div>
							<div class="col-sm-12 col-md-8">
								{{review.content|safe}}
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
</div>
	
