<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coverfox - Login</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <script src="{{ STATIC_URL }}account_manager/js/jquery-1.7.1.min.js"></script>

    <script type="text/javascript">
    $(function(){
        $("#id_username").addClass("cf-input");
        $("#id_username").attr("placeholder", "Email");
        $("#id_password").addClass("cf-input");
        $("#id_password").attr("placeholder", "Password");
    });
    </script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- <form method="POST">
{% csrf_token %}
{{ form.as_ul }}
<input type="hidden" value="{{next}}" name="next">
<button type="submit">submit</button>
</form> -->
    <section class="cf-form">
        <a href="/">
            <img src="{{ STATIC_URL }}global/img/logos/cf-dark-orange-h71.png" alt="coverfox"/>
        </a>
        <div class="success-msg hide">
            Password reset link has been sent to you on your email address.
            <h4 id="reset-password-email"></h4>
            Please check your Inbox.
        </div>
        <div class="form-box" style="position: relative;">

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="error-text">{{ error|escape }}</p>
                {% endfor %}
            {% endif %}

            <form action="" method="POST">
                <div class="login">
                    <h3>Login to Your Coverfox Account</h3>
                    {% csrf_token %}
                    <label for="id_username">Email</label>
                    <div class="in-field">
                        {{ form.username }}
                    </div>
                    {% for error in form.username.errors %}
                        <p class="error-text">{{ error|escape }}</p>
                    {% endfor %}

                    <label for="id_password">Password</label>
                    <div class="in-field">
                        {{ form.password }}
                        <a href="/" id="forgot-pass">Forgot Password?</a>
                    </div>
                    {% for error in form.password.errors %}
                        <p class="error-text">{{ error|escape }}</p>
                    {% endfor %}
                    <input type="hidden" value="{{next}}" name="next">
                    <button type="submit" class="btn orange submit" style="width:100%">Login</button>
                </div>
            </form>


            <!-- <form action="" method="POST">{% csrf_token %}
                <div class="login">
                    <div class="in-field">
                        <label for="email_1">Email</label>
                        <input id="email_1" type="text" class="cf-input"/>
                    </div>
                    <p class="error-text">{{ form.username.errors }}</p>
                    <div class="in-field">
                        <label for="password">Password</label>
                        <input id="password" type="password" class="cf-input"/>
                        <a href="/" id="forgot-pass">Forgot Password?</a>
                    </div>
                    <p class="error-text">{{ form.password.errors }}</p>
                    <a class="btn orange submit" href="/">Login</a>
                    <a class="btn grey g-plus">Login with Google+</a>
                </div>
            </form> -->

            <form class="reset-form" id="password_reset_form" name="password_reset_form" action="{%url 'initiate_password_reset'%}" method="post">{% csrf_token %}
                <div class="forgot-pass cf-hidden">
                    <h3>Forgot Password?</h3>
                    <h5>Please provide your registered email address. We will send you a link to set a new password.</h5>
                    <label for="forgot_password_email">Email</label>
                    <div class="in-field">
                        <input name="email" type="email" id="forgot_password_email" class="cf-input" placeholder="Enter email" />
                    </div>
                    <p class="error-text" id='forgot_error_email'></p>
                    <button type="submit" class="btn orange submit" style="width:100%">Submit</button>
                    <br/>
                    <a href="/" id="login">Login</a>
                </div>
            </form>

            <!-- <div id="success_msg_forgot_password" class="hide">

            </div> -->
        </div>
    </section>

<link href="{{STATIC_URL}}account_manager/css/bootstrap.css" rel="stylesheet" >
<link href="{{STATIC_URL}}account_manager/css/login.css" rel="stylesheet" >
<!--[if IE]>
<style type="text/css">
    label {display:block;}
</style>
<![endif]-->
<script src="{{ STATIC_URL }}account_manager/js/login.js"></script>

{% block footer_js %}
<script>
    $(document).ready(function(){

        $("form[name='password_reset_form']").on("submit", function(ev){
            ev.preventDefault();
            
            var form = $(this);
            $.post(form.attr('action'), form.serialize())
            .done(function(data){
                data = JSON.parse(data);
                if(data.success){
                    if(data.response.success){
                        var msg = data.response.mesg;
                        $('.reset-form').hide();
                        $('.success-msg').removeClass('hide');
                        $('#reset-password-email').text($("#forgot_password_email").val());
                    }else{
                        if(data.response.error_msg){
                            //error
                        }
                    }
                }else {
                    $(".form_errors").text("");
                    for(var k in data.errors){
                        $("#forgot_error_"+k).html(data.errors[k][0]).show();
                    }
                }
            });
        });
    });
</script>
{% endblock %}


</body>
</html>
