{% extends 'account_manager/base.html' %}


{% block page_content %}

    {% if selected == 'expired' %}
        <h4 id="policy-category">Expired Policies ({{ expired_transaction_count }})</h4>
    {% else %}
        <h4 id="policy-category">My Policies ({{ unexpired_transaction_count }})</h4>
    {% endif %}
    <div class="policy-window policy-hide">
    <div id="no-plans" class="animate-hide">
        <h4>Sorry! You do not have any <span></span> Insurance Plan.</h4>
        <small>If you wish to buy an Insurance policy</small>
        <a style="padding:10px 15px;" id="redirect-btn" class="btn orange empty" href="">Buy Insurance</a>
        <div class="proposition">
            <h5>Buy Insurance Plans from Coverfox</h5>
            <ul></ul>
        </div>
        <div class="companies">
            <h5>Compare policies from top companies</h5>
            <img class="health travel" src="{{ STATIC_URL }}account_manager/img/insurers/star-health-insurance.jpg" alt=""/>
            <img class="health car" src="{{ STATIC_URL }}account_manager/img/insurers/l-t.jpg" alt=""/>
            <img class="health car bike travel" src="{{ STATIC_URL }}account_manager/img/insurers/bharti-axa.jpg" alt=""/>
            <img class="health" src="{{ STATIC_URL }}account_manager/img/insurers/apollo-munich-insurance-company.jpg" alt=""/>
            <img class="health car bike travel" src="{{ STATIC_URL }}account_manager/img/insurers/hdfc-ergo.jpg" alt=""/>
            <img class="health travel" src="{{ STATIC_URL }}account_manager/img/insurers/religare.jpg" alt=""/>
            <img class="car bike travel" src="{{ STATIC_URL }}account_manager/img/insurers/bajaj-allianz.jpg" alt=""/>
            <img class="health car bike" src="{{ STATIC_URL }}account_manager/img/insurers/iffco-tokio.jpg" alt=""/>
            <img class="car bike" src="{{ STATIC_URL }}account_manager/img/insurers/universal-sompo.jpg" alt=""/>
        </div>
    </div>
        {% for category,transaction in transactions.items %}
            {% for t in transaction %}
                <div class="policy-card {{ category }}">
                    <form class="hide hidden">
                        <input value="{{ t.policy_number }}" type="hidden" name="PolicyNum" readonly/>
                        <input value="{{ t.policy_name }}" type="hidden" name="PolicyName" readonly/>
                        <input value="{{ category }}" type="hidden" name="PolicyCategory" readonly/>
                        <input value="{{ t.policy_end_date }}" type="hidden" name="PolicyExpiry" readonly/>
                        <input value="{{ t.policy_covers|title }}" type="hidden" name="PolicyCovers" readonly/>
                        <input value="{{ t.insurer_slug }}" type="hidden" name="InsurerSlug" readonly/>
                        <input value="{{ t.insurer_title }}" type="hidden" name="InsurerTitle" readonly/>
                        <input value="{{ t.mobile }}" type="hidden" name="CustMobile" readonly/>
                        <input value="{{ t.transaction_id }}" type="hidden" name="TransactionId" readonly/>
                        <input value="False" type="hidden" id="{{ t.transaction_id }}" name="IsClaimed"/>
                    </form>
                    <div class="policy-intro">
                        <span class="ins">{{ category }}</span>
                        <div class="insurer-logo">
                            <img src="{{ STATIC_URL }}account_manager/img/insurers/{{ t.insurer_slug }}.jpg" alt="{{ t.insurer_title }}"/>
                        </div>
                        <h3>{{ t.policy_name }}</h3>
                        <div class="clearfix">
                            {% if t.policy_number %}
                            <span>Policy Number:</span> <small>{{ t.policy_number|default:"<defaulttext></defaulttext>" }}</small><br/>
                            {% endif %}

                            {% if t.policy_end_date %}
                            <span class="text-red">Expires on:<span class="val">{{ t.policy_end_date|default:"<defaulttext></defaulttext>" }}</span></span><br/>
                            {% endif %}

                            {% if t.policy_covers %}
                            <span>Covers:<span class="val">{{ t.policy_covers|title|default:"<defaulttext></defaulttext>" }}</span></span>
                            {% endif %}
                        </div>
                        <ul class="actions">

                            {% if t.policy_document %}
                            <a href="{% url 'account_manager:download_document' t.transaction_id t.type 'policy_document' %}">
                            {% else %}
                            <a href="" onclick="alert('Policy document not available now. Please try later.'); return false;">
                            {% endif %}
                            <li title="Download Policy Document">
                                <i class="icon-action"><img src="{{ STATIC_URL }}account_manager/img/icons/ic_get_app_grey.png" alt=""/></i>
                                Policy Document (Download)
                            </li>
                            </a>

                            <!--li title="Email Policy">
                                <i class="icon-action"><img src="{{ STATIC_URL }}account_manager/img/icons/ic_local_post_office_grey.png" alt=""/></i>
                                Email
                            </li-->

                            {% if t.rsa_policy %}
                                <a href="{% url 'account_manager:download_document' t.transaction_id t.type 'rsa_policy' %}"><li title="Download RSA Policy"><i class="icon-action"><img src="{{ STATIC_URL }}account_manager/img/icons/ic_get_app_grey.png" alt=""/></i>24/7 RSA Policy (Download)</li>
                                </a>
                            {% endif %}

                            {% if selected != 'expired' %}
                            <li title="Initiate a Claim" class="initiate-claim" data-context="{{ category }}">
                                <i class="icon-action"><img src="{{ STATIC_URL }}account_manager/img/icons/ic_claim_grey.png" alt=""/></i>
                                Claim
                            </li>
                            {% endif %}
                            <!--li class="renew" title="Renew Policy">
                                <i class="icon-action"><img src="{{ STATIC_URL }}account_manager/img/icons/ic_renew_white.png" alt=""/></i>
                                Renew Now
                            </li-->
                        </ul>
                        <div class="tool clearfix">
                            <a href="" class="open-btn">
                                <span class="c_o"><i>+</i>View Details</span>
                                <span class="c_c"><i>x</i>Hide Details</span>
                            </a>
                        </div>
                    </div>
                    <div class="disclaimer">
                        <strong>Note:</strong> The information shown below is generic, please refer your policy document for accurate details.
                    </div>
                    {% if t.type == 'health' %}
                        {% include "account_manager/policy_detail/health.html" %}
                    {% elif t.type == 'car' or t.type == 'bike' %}
                        {% include "account_manager/policy_detail/motor.html" %}
                    {% elif t.type == 'travel' %}
                        {% include "account_manager/policy_detail/travel.html" %}
                    {% endif %}

                </div><!--/.policy-card-->
            {% endfor %}

        {% endfor %}

    </div><!--/.policy-window-->

{% endblock %}

{% block footer_js %}
{% endblock %}
