<div class="box" style="margin: 30px 0px;padding:30px;background: #f7f9fa;font-size: 14px;">
    <p><strong>&copy;2008, Tata AIG General Insurance Company Limited</strong>, all rights reserved.<br/>
        Registered Office: Peninsula Business Park, Tower A, 15th Floor, G.K. Marg, Lower Parel, Mumbai - 400 013, Maharashtra, India.<br/>
        CIN Number:U85110MH2000PLC128425.<br/>
        Registered with <a href="http://www.irda.gov.in" target="_blank">Insurance Regulatory & Development Authority (IRDA)</a> under the registration no.108. Insurance is the subject matter of the solicitation.<br/>
        For more details on benefits, exclusions, limitations, terms and conditions, please refer sales brochure/ policy wordings carefully, before concluding a sale.<br />
        Visit: <a href="http://www.tataaiginsurance.in" target="_blank">www.tataaiginsurance.in</a> <br/>
        Toll Free Number : 1800 266 7780/1800 22 9966 (only for senior citizen policy holders).<br/>
        Email Id: <a href="mailto:customersupport@tata-aig.com">customersupport@tata-aig.com</a> Fax Number – 022 6654 6464
    <p>
    <p>{{ settings.OFFICE_ADDRESS|safe }}</p>
    <p>
        <a href="/docs/irda-licence/" target="_blank">IRDA broking licence no. IRDA/ DB 556/ 13  (Valid till 26th December 2016)</a>
        Registered with <a href="http://www.irda.gov.in/" target="_blank">Insurance Regulatory & Development
        Authority (IRDA)</a> under the registration no.478. Insurance is the subject matter of the solicitation.
        For more details on benefits, exclusions, limitations, terms & conditions please refer sales brochure/policy
        wordings carefully before concluding a sale.
        Contact number: {{ settings.GENERAL_TOLL_FREE }}
    </p>
    <span>Advt. No: TAGIC/WebApp/ME/Aug 14/5</span>
    <span class="pull-right">Ver 1/ Coverfox / 321</span>
</div>
