<script type="text/html" id="stage_6">
    <div id="slate_6" class="buy-process" data-bind="visible: $root.active_stage() == 6">
        <div id="summary-wrapper" data-bind="foreach: $root.transaction_model().stages().slice(0,$root.transaction_model().stages().length-1)">
            <div class="summary-stage">
                <div class="title">
                    <h3 data-bind="text: $root.transaction_model().slates()[$index()].name"></h3>
                    <span class="btn btn-blu" data-bind="click: $root.goto_stage.bind($data,$index()+1)">EDIT</span>
                </div>

                <!--STAGE 1 -->
                <div class="stage-body" data-bind="if:$index()==0">
                    <div data-bind="foreach: segments()">
                        <div data-bind="foreach: rows()">
                            <div data-bind="foreach: elements()">
                                <div data-bind="if: field_type() != 'PremiumDiscountField'">
                                    <div data-bind="css:'col-sm-'+data.span" class="summary-row">
                                        <div data-bind="text: data.label" class="summary-label"></div>
                                        <div class="summary-field" data-bind="text: display_value"></div>
                                    </div>
                                </div>
                                <div data-bind="if: field_type() == 'PremiumDiscountField'">
                                    <div data-bind="PremiumDiscountField: $data, summary: true"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--STAGE 2 & 3 -->
                <div class="stage-body" data-bind="if:$index()==1 || $index()==2">
                    <div data-bind="foreach: segments()">
                        <div class="row mnone" style="margin-bottom:15px;">
                            <div class="col-md-2 legend">
                                <span data-bind="text: details().verbose"></span>
                            </div>
                            <div class="col-md-10 pnone">
                                <div data-bind="foreach: rows()">
                                    <div data-bind="foreach: elements()" class="summary-row">
                                        <div data-bind="if: field_type()=='TwoDropDownField'">
                                            <div data-bind="css:'col-sm-'+data.span">
                                                <div data-bind="text: data.label" class="summary-label"></div>
                                                <div class="summary-field">
                                                    <span data-bind="text: value1()+' ft'"></span>&nbsp;
                                                    <span data-bind="text:value2()+' inches'"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-bind="ifnot:field_type()=='TwoDropDownField'">
                                            <div data-bind="css:'col-sm-'+data.span">
                                                <div data-bind="text: data.label" class="summary-label"></div>
                                                <div class="summary-field" data-bind="text: display_value"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div>
                </div>

                <!--STAGE 4 -->
                <div class="stage-body" data-bind="if:$index()==3">
                    <div data-bind="foreach: segments()" class="row mnone">
                        <div data-bind="if : tag() == 'address' " class="col-sm-6 add-border">
                            <h3><img src="/static/health_product/img/new_buy/mail.png"/>&nbsp;&nbsp;Mailing Address</h3>
                            <div data-bind="foreach: rows">
                                <div class="row pl-lg">
                                    <div data-bind="foreach: elements">
                                        <div data-bind="if : field_type() != 'TwoDropDownDependantField'">
                                            <div data-bind="css:'col-sm-'+data.span" class="summary-row">
                                                <div data-bind="text: data.label" class="summary-label"></div>
                                                <div class="summary-field" data-bind="text: display_value"></div>
                                            </div>
                                        </div>
                                        <div data-bind="if : field_type() == 'TwoDropDownDependantField'">
                                            <div data-bind="css:'col-sm-'+Math.floor(data.span/2)" class="summary-row">
                                                <div data-bind="text: data.main_label" class="summary-label"></div>
                                                <div class="summary-field" data-bind="text: display_value1()"></div>
                                            </div>
                                            <div data-bind="css:'col-sm-'+Math.floor(data.span/2)" class="summary-row">
                                                <div data-bind="text: data.dep_label" class="summary-label"></div>
                                                <div class="summary-field" data-bind="text: display_value2()"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- row -->
                            </div> <!-- foreach row-->
                        </div> <!-- tag address -->

                        <div data-bind="if : tag() == 'contact' " class="col-sm-6">
                            <h3><img src="/static/health_product/img/new_buy/phone.png"/>&nbsp;&nbsp;Contact details</h3>
                            <div class="custom-style">
                                <div data-bind="foreach: rows">
                                    <div class="row pl-lg">
                                        <div data-bind="foreach: elements()">
                                            <div data-bind="css:'col-sm-'+data.span" class="summary-row">
                                                <div data-bind="text: data.label" class="summary-label"></div>
                                                <div data-bind="if : field_type() != 'MobileField' && field_type() != 'LandlineField'">
                                                    <span class="summary-field" data-bind="text:display_value"></span>
                                                </div>
                                                <div data-bind="if: field_type() == 'MobileField' ">
                                                    <span class="summary-field" data-bind="text:'+91-'+display_value()"></span>
                                                </div>
                                                <div data-bind="if: field_type() == 'LandlineField' ">
                                                    <span class="summary-field" data-bind="text:std_code()+'-'+landline()"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-bind="foreach: elements" class="summary-row">
                                        </div>
                                    </div> <!-- row -->
                                </div>
                            </div>
                        </div> <!-- tag contact -->
                    </div>
                </div> <!-- STAGE 4 -->

                <!--STAGE 5. MEDICAL STAGE -->
                <div class="stage-body" data-bind="if:$index()==4">
                    <div data-bind="foreach: segments" style="margin-top: 40px;">
                        <div data-bind="if: details().conditional == 'NO'">
                            <div class="row conditional-question">
                                <div class="col-md-4 pnone">
                                    <div class="quest-pad">
                                        <span class="q-point">Q</span>
                                        <span data-bind="text: details().question_text"></span>
                                    </div>
                                </div>
                                <div class="col-md-8 pnone" data-bind="foreach: rows">
                                        <div data-bind="foreach: elements">
                                            <div class="col-sm-4">
                                                <div data-bind="if: $parents[1].details().show_header || true">
                                                    <strong class="member" data-bind="text: $root.insured_members.items()[$index()].value"></strong>
                                                </div>
                                                <div data-bind="if : field_type() == 'DropDownField'">
                                                    <div class="summary-field" data-bind="text: value">
                                                    </div>
                                                </div>
                                                <div data-bind="if : field_type() == 'TextField'">
                                                    <div class="summary-field" data-bind="text: value">
                                                    </div>
                                                </div>
                                                <div data-bind="if : field_type() == 'MultipleChoiceField'">
                                                    <div class="summary-field" data-bind="text: value">
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- elements -->
                                </div><!--rows -->
                            </div>
                        </div>
                        <div data-bind="if: details().conditional == 'YES'">
                            <div data-bind="if: show_header()" style="color: #1864ab;">

                                <div class="row conditional-question">
                                    <div class="col-md-4 pnone" style="padding-bottom:10px;">
                                        <span data-bind="text: details().question_text"></span>
                                    </div>
                                    <div class="col-md-8 pnone" data-bind="foreach: rows">
                                        <div data-bind="foreach: elements">
                                            <div class="col-sm-4">
                                                <div data-bind="if: $parents[1].details().show_header || true">
                                                    <strong class="member" data-bind="text: $root.insured_members.items()[$index()].value"></strong>
                                                </div>
                                                <div class="summary-field">
                                                    <div data-bind="if : field_type() == 'MultipleChoiceField'">
                                                        <div data-bind="MiniMultipleChoiceField: $data"></div>
                                                    </div>
                                                    <div data-bind="if : field_type() == 'DropDownField'">
                                                        <div data-bind="MiniDropDownField: $data"></div>
                                                    </div>
                                                    <div data-bind="if : field_type() == 'TextField'">
                                                        <div class="col-sm-2" data-bind="text: value"></div>
                                                    </div>
                                                    <div data-bind="if : field_type() == 'MultipleSelectField'">
                                                        <div data-bind="MultipleSelectField: $data, summary: true, mini_field: true"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- elements -->
                                    </div><!--rows -->
                                </div>
                            </div>
                        </div>

                    </div><!-- segments -->
                </div> <!-- STAGE 5 -->

            </div>
        </div>

        <div data-bind="if: $root.transaction_model().current_stage().description()">
            <div class="define">
                <img src="/static/health_product/img/new_buy/info.png"/>
                &nbsp;&nbsp;<span data-bind="text: $root.transaction_model().current_stage().description()"></span>
            </div>
        </div>
        <div data-bind="foreach: segments">
            <div data-bind="foreach: rows">
                <div class="row mnone">
                    <div class="col-sm-12">
                        <div class="agree-box">
                            <div data-bind="foreach: elements">
                                <div data-bind="if : field_type() == 'CharField' || field_type() == 'StrictCharField' || field_type() == 'IntegerField'">
                                    <div data-bind="FreeField: $data"></div>
                                </div>
                                <div data-bind="if: field_type() == 'DateField' ">
                                    <div data-bind="DateField: $data"></div>
                                </div>
                                <div data-bind="if : field_type() == 'DropDownField'">
                                    <div data-bind="DropDownField: $data"></div>
                                </div>
                                <div data-bind="if : field_type() == 'TextField'">
                                    <div data-bind="TextField: $data"></div>
                                </div>
                                <div data-bind="if : field_type() == 'TwoDropDownField'">
                                    <div data-bind="TwoDropDownField: $data"></div>
                                </div>
                                <div data-bind="if : field_type() == 'MultipleChoiceField'">
                                    <div data-bind="MultipleChoiceField: $data"></div>
                                </div>
                                <div data-bind="if : field_type() == 'MultipleAnswerField'">
                                    <div data-bind="MultipleAnswerField: $data"></div>
                                </div>
                            </div> <!-- elements -->
                        </div><!--agree box -->
                    </div><!--col-sm-12 -->
                </div><!--row mnone -->
            </div><!--rows -->
        </div><!-- segments -->
        </div>
</script>
