.noDecoration {
  outline: none;
  text-decortion: none;
  box-shadow: none;
}
.pnone {
  padding: 0px;
}
.mnone {
  margin: 0px;
}
.mpoint {
  cursor: pointer;
}
.bnone {
  border: none !important;
}
.fivePxM {
  margin-left: -5px;
  margin-right: -5px;
}
.cubic-trans {
  -webkit-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -moz-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -o-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -ms-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
}
.container-fluid,
.container {
  max-width: 767px;
  margin: auto;
}
/* Nav bar top css */
.cf-navbar {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 40px;
  min-height: 40px;
  z-index: 60;
  background-color: #44c0ff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}
.cf-navbar .cf-navbar-brand {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  padding: 9px 0px;
}
.cf-navbar .cf-navbar-brand img {
  width: 80px;
}
.cf-navbar .link {
  cursor: pointer;
  display: inline-block;
  height: 36px;
  padding: 5px;
  position: relative;
  text-align: center;
  top: 4px;
  width: 36px;
}
.cf-navbar .link img {
  width: 21px;
}
.cf-navbar .link.text {
  width: auto;
  color: #ffffff;
  font-size: 12px;
}
.cf-navbar .link .tip {
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFFFFF;
  display: block;
  font-size: 10px;
  font-weight: bold;
  right: 0px;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: 105%;
  width: 250px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.cf-navbar .link .tip:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.8);
  border-style: solid;
  border-width: 8px;
  content: "";
  display: block;
  right: 14px;
  position: absolute;
  top: -16px;
}
.cf-navbar .link .tip > span {
  font-weight: 300;
}
.cf-navbar .link .tip > strong {
  height: 30px;
  display: inline-block;
  width: 40px;
  right: 0;
  text-align: center;
  font-size: 15px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px 0;
  top: 10px;
  position: absolute;
  color: #f78460;
  cursor: pointer;
}
.cf-navbar .link .count {
  background-color: rgba(255, 255, 255, 0.58);
  color: #666666;
  display: block;
  font-size: 10px;
  height: 18px;
  left: -5px;
  padding: 2px 6px;
  position: absolute;
  text-align: center;
  top: 2px;
  min-width: 18px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.cf-navbar .link.change-details {
  display: inline-block;
  height: 40px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  top: -2px;
  background-color: rgba(0, 0, 0, 0.1);
  right: -5px;
  width: 45px;
  text-align: center;
  position: relative;
}
.cf-navbar .link.change-details > div {
  top: 5px;
  position: relative;
}
/* call-box-fixed */
#mobi-wrapper.initial .call-box-fixed {
  display: none;
}
.call-box-fixed {
  background-color: #f5f5f5;
  border-bottom: 1px solid #dadada;
  left: 0;
  padding: 2px 0;
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 59;
}
.call-box-fixed img {
  width: 16px;
}
.call-box-fixed .call-option {
  border-right: 1px solid rgba(255, 255, 255, 0.33);
  font-size: 10px;
  height: 35px;
  color: #ffffff;
  padding-top: 2px;
  text-align: center;
  text-transform: uppercase;
}
.call-box-fixed .call-option.or {
  background-color: #8D8D8D;
  padding-top: 9px;
}
.call-box-fixed .call-option.or:after {
  background-color: #E7E7E7;
  border-radius: 30px;
  color: #4FC8B0;
  content: "OR";
  display: block;
  font-size: 9px;
  height: 20px;
  padding: 3px 0;
  position: absolute;
  right: -11px;
  text-align: center;
  top: 6px;
  width: 21px;
}
.call-box-fixed .call-option.else {
  background-color: #F5F5F5;
  color: #363636;
  padding-left: 13px;
  font-size: 13px;
  padding-top: 8px;
  text-align: left;
}
.call-box-fixed .call-option.else > div {
  font-size: 10px;
  font-style: italic;
  font-weight: 300;
  text-transform: none;
}
.call-box-fixed .call-option .action {
  border-radius: 3px;
  display: block;
  font-size: 11px;
  height: 30px;
  left: -40%;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;
  width: 140%;
}
/* call-box-fixed ends */
/***** FOOTER COMPONENTS STYLING ******/
.call-box {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  margin: 10px 0px;
  padding: 5px;
}
.call-box .action {
  background-color: #4fc8b0;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 3px;
  display: block;
  height: 35px;
  padding: 7px 10px;
}
.call-box .action > img {
  width: 16px;
}
.cf-footer {
  background-color: #e9e9e9;
  color: #8d8d8d;
  font-size: 12px;
  margin: 0px;
  padding: 0px 0px 30px;
}
.cf-footer .number-bar {
  color: #999999;
  font-size: 13px;
}
.cf-footer .cf-social {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.cf-footer li {
  float: left;
  list-style-type: none;
  margin-right: 5px;
}
.cf-footer li a {
  color: #999999;
  padding: 5px 10px 5px 0px;
  outline: none;
}
.cf-footer li a img {
  width: 20px;
}
/***** FOOTER COMPONENTS STYLING END ******/
.btn-cfox {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.btn-cfox:hover,
.btn-cfox:active,
.btn-cfox:focus {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.08)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
}
.btn-cfox.small {
  text-transform: none;
  letter-spacing: 0px;
  padding: 5px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}
.btn-cfox.medium {
  text-transform: none;
  letter-spacing: 0px;
  padding: 8px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-cfox.blank {
  background-color: transparent;
  color: #8baabc;
  border: 1px solid #8baabc;
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-cfox.flat {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.btn-cfox.orange {
  background-color: #ff7b5e;
  border: 1px solid #ff512b;
}
.btn-cfox.blue {
  background-color: #44c0ff;
  border: 1px solid #11afff;
}
.btn-cfox.green {
  background-color: #4fc8b0;
  border: 1px solid #36ae96;
}
