@import "baseStyle.less";

/* Style tweaks */
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    background-color:#e9e9e9;
    -webkit-font-smoothing: antialiased;
    min-width:320px;
}
body,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:@baseFont;
}
.form-control.input-lg {
  text-transform: uppercase;
  padding: 10px;
  font-size: 14px;
  height:40px;
}
.scaleTrans(@scl,@trn) {
  -webkit-transform: scale(@scl) translateY(@trn);
  -moz-transform: scale(@scl) translateY(@trn);
  -ms-transform: scale(@scl) translateY(@trn);
  -o-transform: scale(@scl) translateY(@trn);
  transform: scale(@scl) translateY(@trn);
}
.scale(@scale) {
  -webkit-transform: scale(@scale);
  -moz-transform: scale(@scale);
  -ms-transform: scale(@scale);
  -o-transform: scale(@scale);
  transform: scale(@scale);
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.error {
    background-color: #FFE6E6;
    color: @orangeBaseColor;
    font-size: 12px;
    margin: 5px 0px;
    padding: 5px 15px;
    text-align: center;
    display:none;
}

.textCnU {
  text-align: center;
  text-transform: uppercase;
}
.form-control {
  .roundedCorners(2px);
}
.form-group {
  margin-bottom: 10px;
}
/* result screen css */
.result-screen {
  background-color: #E9E9E9;
  display: block;
  padding-top: 40px;
  position: relative;
  min-height: 300px;
}
/* step form css */
.step-form {
  visibility: hidden;
  left:-100%;
  top:0;
  opacity:0;
  position: absolute;
  background-color: #ffffff;
  padding:10px 20px 40px;
  height: 100%;
  overflow:hidden;
  margin-bottom:-40px;
  .weightage {
    margin-top:10px;
    margin-bottom:-10px;
    font-size:12px;
    text-align:center;
    color:@lightTextColor;
  }
  .section-gap {
    height:20px;
  }
  .continue-btn {
    margin-top:30px;
  }
  h3 {
    color:@baseTextColor;
    font-size: 12px;
    letter-spacing: 4px;
    font-weight:400;
    margin: 10px 20px 20px;
    .textCnU
  }
  h4 {
    color:@motorBaseColor;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.3em;
    .textCnU
  }
  .form-group label,.spl-label {
    font-size:12px;
    color: @lightTextColor;
    margin-bottom:5px;
    letter-spacing:1px;
    font-weight:normal;
  }
  .max-limit {
    max-width:460px;
    margin:auto;
  }
}
.form-group.loader {
  position:relative;
  overflow: hidden;
  .screen {
    background-color: #f5f5f5;
    position: absolute;
    width: 100%;
    border: 1px solid #dadada;
    padding: 12px;
    height: 47px;
    border-radius: 4px;
    color: #999;
    top: 23px;
    cursor:not-allowed;
    display: none;
    img {
      position:absolute;
      top:12px;
      right:9px;
    }
  }
  &.active .screen {
    display: block;
  }
  &.active .form-control {
    pointer-events:none;
  }
}
/* mobi wrapper modes and css */
#mobi-wrapper {
  padding-top: 40px;
  opacity: 1;
  height: auto;
  overflow: visible;
  visibility: visible;
  &.initial {
    & .result-screen {
      display:none;
      overflow: hidden;
      visibility:hidden;
    }
    & .step-form {
      visibility: visible;
      left:0px;
      position:relative;
      height:auto;
      overflow: visible;
      margin-bottom:0px;
      opacity:1;
      top:0;
    }
    & .change-details {
      display: none;
    }
  }
  &.overlay-mode {
    height: 100%;
    width:100%;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
 }
}
/* new old vehicle css */
ul.new-opt{
  width:100%;
  margin:20px 0 0;
  padding:0;
  text-align: left;
  list-style-type: none;
  li {
    cursor:pointer;
    display:block;
    padding:0px 10px 10px;
    background-color: #f7fafc;
    margin:0px 0px 5px 0px;
    font-size:14px;
    .roundedCorners(2px);
    color:@baseTextColor;
    & .cf-radio {
      display: inline-block;
      position: relative;
      top:7px;
      margin-right: 5px;
      padding: 4px;
      width:26px;
      height:26px;
      box-shadow:0px 2px 3px rgba(0,0,0,0.1) inset;
      border: 1px solid rgba(0,0,0,0.2);
      .roundedCorners(3px);
      & img {
        display:none;
        width:100%;
      }
    }
    &.active {
      background-color: #f0f5f9;
    }
    &.active .cf-radio {
      background-color:@greenBaseColor;
      & img {
        display:block;
      }
    }
  }
}
/* overlay screen css */
.mobi-overlay {
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 0px;
  bottom: 0px;
  left: 0;
  background-color: #f0f0f0;
  z-index: -1;
  .container-fluid {
    padding:0px;
  }
  &.active {
    position:relative;
    overflow-y: auto;
    opacity: 1;
    z-index: @zIndexOverlay;
    min-height:100vh;
  }
  h3 {
    border-bottom: 1px dotted #eaeaea;
    color: #F58365;
    font-size: 14px;
    padding-bottom: 5px;
    position: relative;
    text-transform: uppercase;
    font-weight:normal;
  }
  .overlay-intro {
    background-color: #F8F8F8;
    border-bottom: 1px solid #DADADA;
    font-size: 12px;
    position: relative;
    padding:10px;
    img.mono-logo {
      display:inline-block;
      width:23px;
      position:absolute;
      left:10px;
      top:10px;
    }
    h3 {
      border-bottom: 0 none;
      color: @baseTextColor;
      font-size: 16px;
      margin: 0;
      padding: 2px 0 0;
      text-align: center;
      text-transform: none;
    }
    .close-overlay {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 24px;
      z-index: 10;
    }
  }
  p.small-desc {
    color: #999999;
    font-size: 12px;
  }
  .tab-gap {
    height: 50px;
  }
  .overlay-content {
    z-index: 1;
    position: relative;
    padding: 0px 15px 0px;
  }
  .overlay-tab {
    border-top:1px solid #dadada;
    background-color: #e5e5e5;
    padding: 0px;
    position: relative;
    & .btn {
      .roundedCorners(0px);
    }
  }
}

.filter-section {
  margin-top:20px;
  label {
    cursor:pointer;
    border-bottom: 1px dotted #eaeaea;
    display: block;
    position: relative;
    padding:8px 8px 8px 35px;
    text-transform: uppercase;
    font-weight: normal;
    color: @motorBaseColor;
    .checkbox {
      padding: 4px;
      display: inline-block;
      position: absolute;
      left: 0px;
      top: -5px;
      width: 26px;
      height:26px;
      border: 1px solid rgba(0,0,0,0.2);
      background-color:#ffffff;
      box-shadow: 0px 2px 3px rgba(0,0,0,0.1) inset;
      .roundedCorners(3px);
      & img {
        display:none;
        width:100%;
      }
    }
    & .exp-tip {
      padding: 2px;
      position: absolute;
      font-size: 20px;
      top: 0px;
      height: 26px;
      line-height: 1em;
      font-weight: bold;
      text-align: center;
      width: 26px;
      right: 0px;
      border:2px solid @baseTextColor;
      color: @baseTextColor;
      .roundedCorners(50%);
    }
    input[type='checkbox']{
      opacity: 0;
      position: absolute;
      left: -1000px;
    }
    &.active .checkbox {
      background-color: @greenBaseColor;
      & img {
        display: block;
      }
    }
  }
}
/* log in screen css */
.log-in {
  &.active .content {
    .scale(1);
  }
  .content {
    .scale(0.6);
  }
  .log-in-tabs {
    text-align: center;
  }
  .log-in-tabs li {
    display: inline-block;
    float: none;
    cursor: pointer;
  }
  .tab-group {
    background-color: #ffffff;
    border:1px solid #dadada;
    border-top:none;
  }
  .social-log-in {
    margin:10px;
    text-align:center;
  }
  .social-log-in a {
    display:inline-block;
    margin:10px 0px;
    width:220px;
  }
  .forget-pwd {
    color:@lightTextColor + #333333;
    font-size:14px;
    text-align:right;
    margin-top:10px;
  }
  .error {
    margin: 10px 0;
  }
  h4 {
    margin-top: 20px;
    font-size:20px;
    text-align:center;
    font-weight:300;
  }
  .free-line {
    color:@lightTextColor + #333333;
    padding:0px 20px;
    font-size:12px;
    text-align:center;
  }
  .group-field {
    margin: auto;
    max-width: 430px;
    padding: 20px;
  }
  .group-field .input-group {
    margin:auto;
    width:100%;
  }
  .group-field .input-group-addon {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    width: 70px;
  }
}
/*  log in window css ends */
.cf-user-overlay,
.cf-tab-change-overlay,
.remove-overlay {
    .darkOverlay;
    background-color: rgba(1, 5, 37, 0.75);
}
.cf-user-overlay .uo-content,
.cf-tab-change-overlay .ch-content,
.remove-overlay .rm-content {
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 12.5% auto 20px;
    width:300px;
    position:relative;
    overflow:hidden;
    -webkit-transform: scale(0.6);
    -o-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
}
.cf-user-overlay.active .uo-content,
.cf-tab-change-overlay.active .ch-content,
.remove-overlay.active .rm-content {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.cf-user-overlay .uo-content img.uo-close,
.cf-tab-change-overlay .ch-content img.ch-close {
    height: 20px;
    position: absolute;
    right: 3px;
    top: 5px;
    width: 20px;
    z-index: 1;
}
/* user logout css */
.uo-content {
  .uo-intro {
    font-size: 12px;
    padding: 10px 20px;
    text-align: center;
  }
  .uo-intro img {
    background-color: #48ADFF;
    border-radius: 30px;
    display: inline-block;
    height: 35px;
    margin-bottom: 5px;
    width: 35px;
  }
  .uo-property {
    border-top: 1px solid #DADADA;
    color: #6A6A6A;
    font-size: 14px;
    padding: 10px 15px;
    cursor:pointer;
    position: relative;
    &.lo {
      background-color: #f5f5f5;
      font-size: 16px;
    }
    & img {
      display: inline-block;
      height: 16px;
      margin-right: 5px;
      margin-top: -3px;
      width: 16px;
    }
  }
}
/* change tab overlay css */
.ch-property {
  border-top: 1px solid #DADADA;
  color: @lightTextColor;
  cursor:pointer;
  position: relative;
  font-size:12px;
  padding:15px;
  & .glyphicon {
    display:none;
  }
  &.active .glyphicon {
    background-color: #48C9B0;
    border-radius: 30px;
    color: #FFFFFF;
    display: inline-block;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 12px;
  }
  &.intro {
    background-color: #f5f5f5;
    font-size:18px;
    border-top-width:0px;
    padding: 10px 15px;
  }
}

/* remove overlay css */
.remove-overlay {
  .rm-intro {
    color: @lightTextColor;
    font-size: 14px;
    padding: 15px 20px 30px;
  }
  .rm-intro-hdr {
    background-color: #F9F9F9;
    border-bottom: 1px solid #DADADA;
    color: @baseTextColor;
    font-size: 14px;
    padding: 10px 20px;
  }
  .rm-content > a {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: @lightTextColor;
    display: block;
    float: left;
    font-size: 14px;
    padding: 15px 10px;
    text-align: center;
    width: 50%;
    text-transform: uppercase;

    &:hover, &:active, &:focus {
      color: @lightTextColor;
      background-color: #f0f0f0;
      text-decoration: none;
      outline: none;
    }
  }
}
.cf-user-overlay.active,
.cf-tab-change-overlay.active,
.remove-overlay.active {
    opacity: 1;
    z-index: @zIndexOverlay + 1;
    visibility:visible;
}
.cf-navbar-filter {
    background-color: #FFFFFF;
    border-bottom: 2px solid @orangeBaseColor;
    opacity:1;
    height: 45px;
    padding:1px;
    overflow-y:hidden;
    margin-bottom: 0px;
    position: relative;
    .roundedCorners(0px);
    .mod {
      display: block;
      color:@greenBaseColor;
      font-size:14px;
      margin: 3px 0px;
      height:20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .var {
      display:block;
      font-size:10px;
      color: @lightTextColor;
      height:20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .car-img {
      display: block;
      float: left;
      height: 50px;
      width: 80px;
      text-align: center;
      margin-right: 10px;
      border-right: 1px solid #dadada;
      padding: 4px;
    }
  .idv {
    border-left: 1px solid #eaeaea;
    color: #666666;
    float: left;
    height:40px;
    font-size: 14px;
    letter-spacing: 3px;
    padding: 5px;
    text-align: center;
    width: 50%;
    & span {
      font-size:10px;
      display:block;
      letter-spacing: 0px;
      color:#999999;
    }
  }
}

.darkOverlay {
  background-color: rgba(1, 5, 37, 0);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  padding:0;
  position: absolute;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: -1;
  visibility:hidden;
  min-height:100vh;
}
.darkOverlay.active {
  background-color: rgba(1, 5, 37, 0.75);
  opacity: 1;
  position: relative;
  visibility: visible;
  display: block;
  z-index: @zIndexOverlay;
}
.darkOverlay.active .idv-overlay {
  .scaleTrans(1,0px);
}
.idv-overlay {
  width:100%;
  max-width: 767px;
  padding:0px;
  margin:0px auto;
  .scaleTrans(0.6,0px);
  .new-opt {
    margin:0;
    text-align:left;
  }
  .btn.btn-xs {
    text-transform: none;
  }
  .form-group label {
    color:@orangeBaseColor;
    display: block;
    text-align: left;
    margin-bottom:5px;
    font-size:12px;
    font-weight:normal;
  }
  .input-holder {
    margin:0px;
    padding:15px 20px 15px;
    border-top:1px solid #eaeaea;
    background-color: #ffffff;
    text-align: center;
    overflow:hidden;
    & .form-control {
      margin-bottom:15px;
    }
    .small-explanation {
      color:@lightTextColor;
      font-size:12px;
      text-align: left;
    }
  }
  .inr {
    color: @lightTextColor;
    background-color: #f5f5f5;
    padding:  7px 10px;
    text-align:left;
    font-size: 12px;
    margin: -15px -20px 10px;
  }
  .action-holder {
    padding:0px;
    margin:0px;
    background-color: #e5e5e5;
    border-top:1px solid #dadada;
    & .btn {
      font-size:14px;
      .roundedCorners(0px);
    }
  }
  /* IDV slider css */
  .slider {
    position: relative;
    text-align:center;
    margin-bottom:15px;
    &:before{
      content: '';
      display:block;
      width:96%;
      position: absolute;
      z-index: 0;
      background-color: #dadada;
      height:2px;
      top:9px;
      left:2%;
    }
    span.pointer {
      display: inline-block;
      height:8px;
      margin-top:6px;
      margin-bottom:6px;
      width:8px;
      background-color: #dadada;
      .roundedCorners(30px);
    }
    .active span.pointer {
      background-color:@greenBaseColor;
      margin:0px;
      width:10px;
      height:20px;
      position:relative;
      .roundedCorners(0px);
      &:after {
        content: '';
        display:block;
        position: absolute;
        width:100%;
        top:100%;
        border-color:transparent;
        border-top-color:@greenBaseColor;
        border-style: solid;
        border-width:5px;
      }
    }
    span.value {
      display: block;
      padding: 2px 5px;
      margin-top:5px;
      border-radius: 4px;
      background-color: #ffffff;
      color: @lightTextColor;
      font-size: 12px;
    }
    .active span.value {
      background-color: #f0f0f0;
    }
  }
}
/* idv filter intro block css */
.idv-box {
  margin: 10px;
  border: 1px solid #dadada;
  padding:0;
  background-color: #f5f5f5;
  position: relative;
  .scaleTrans(1,0px);
  overflow: hidden;
  & select.form-control {
    padding:2px;
    height:26px;
  }
  &.small-margin {
    margin:0px 0px 10px;
  }
  & .critical-headline {
    padding:0px 10px;
    font-size:14px;
  }
  & .actions {
    padding:5px;
    text-align: right;
    text-transform: uppercase;
    border-top:1px solid #eaeaea;
  }
  &.overlayTrans {
    .scaleTrans(1,0px);
  }
  .btn.bl {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    border: none;
    padding-right: 10px;
    text-align: right;
    color: @lightTextColor + #444444;
    background: none;
    &:hover,&:focus {
      .noDecoration
    }
  }

  .window {
    padding:5px 0px;
    border-top:1px solid #f0f0f0;
    background-color: #ffffff;
    h5 {
      font-size: 11px;
      line-height: 1.4em;
      margin: 3px 0 3px;
      padding: 0 5px;
      color:@lightTextColor;
    }
    h4 {
      height: 40px;
      margin: 0 10px 0 0;
      padding: 10px 10px 0;
      width: 80px;
      color:@lightTextColor;
      float:left;
      border-right: 1px solid #eaeaea;
    }
    .info {
      height: 23px;
      padding: 0px 7px;
      font-size: 17px;
      margin: -3px 0 0 5px;
      float: right;
      font-weight: bold;
      display: inline-block;
      border:2px solid @greenBaseColor;
      color:@greenBaseColor;
      font-family:serif;
      .roundedCorners(30px);
    }
    .val {
      font-size:14px;
      display:block;
      margin-top:10px;
    }
    em {
      font-style: normal;
      font-size:12px;
      color:@lightTextColor;
    }
  }
}
/* results banner css */
.result-strip {
  color:@baseTextColor;
  font-size:14px;
  padding:5px;
  margin-bottom:10px;
  .btn {
    margin-top: -4px;
    margin-bottom: -4px;
    float:right;
    width:43%;
  }
}
/* result card css */
.result-card {
  background-color: #ffffff;
  padding:0px;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  margin-bottom: 10px;
  position: relative;
  .instant-policy {
    color:#999999;
    font-size:11px;
    margin-top:6px;
    text-align: right;
    letter-spacing: 1px;
  }
  .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight:normal;
    padding-left:0px;
    padding-right: 0px;
  }
  .insurer {
    width:90px;
    position:absolute;
    margin:0px;
    padding-right:5px;
    padding-top: 5px;
    padding-left:5px;
    img {
      display: block;
      width:100%;
    }
    span {
      color:@lightTextColor;
      font-size:10px;
      line-height:1.2em;
      display: block;
      padding-left:5px;
    }
  }
  .premium {
    position:relative;
    margin-left:85px;
    min-height:85px;
    padding:5px 5px 0 10px;
    .buy {
      margin-top:5px;
    }
    & > span {
      color: @lightTextColor;
      font-size: 10px;
      text-transform: uppercase;
    }
    h4 {
      color:@lightTextColor;
      font-weight:normal;
      margin:5px 0px;
      font-size:12px;
      span {
        font-size:16px;
        font-weight: 700;
      }
    }
    em {
      color:@lightTextColor;
      font-style: normal;
      font-size:12px;
      min-height:20px;
      display: inline-block;
    }
    .action {
      padding:5px 0px 8px;
    }
    a{
      display: block;
      text-transform: uppercase;
      font-size: 11px;
      margin-top: 3px;
      padding: 5px 0px;
      &:hover,&:focus {
        text-decoration:none;
      }
    }
  }
  .addons {
    padding: 10px 10px 0;
    margin: 0px 0 -1px;
    border-top: 1px dotted #dadada;
    overflow: hidden;
    max-height: 200px;
    font-weight:bold;
    font-size:12px;
    h4 {
      padding: 10px 10px 8px;
      border-bottom: 1px solid #dadada;
      color: #999999;
      margin: -10px -10px 0px;
      font-size: 12px;
      text-transform: uppercase;
      position:relative;
      & .more {
        color:@lightTextColor;
        position: absolute;
        top: 4px;
        right: 10px;
        padding: 5px 20px;
        background-color: #e9e9e9;
      }
    }
    .item {
      display:block;
      margin:7px 0px;
      padding-bottom:5px;
      color:#999999;
      font-weight: normal;
      border-bottom:1px dotted #eaeaea;
      & .name {
        display: block;
        width:70%;
        float:left;
        padding-right: 5px;
        height:15px;
        .ellipsis
      }
      & .val {
        display: block;
        text-align:right;
        width:30%;
        float:left;
        padding-right: 5px;
        .ellipsis
      }
      &:last-child {
        border-bottom:none;
      }
    }
  }
}
/* shortlist icon mechanism css */
.icon-bg {
  display: inline-block;
  position: absolute;
  top:10px;
  right:10px;
  padding: 0;
  img {
    display: inline-block;
    width: 16px;
    margin-right: 6px;
  }
  img.clr {
    display: none;
  }
  &.notify .short-msg {
    display:block;
  }
  &.added img.clr {
    display: inline-block;
  }
  &.added img.default {
    display: none;
  }
  .short-msg {
    display:none;
    width:100px;
    color:@lightTextColor;
    text-align: center;
    background-color: #f0f0f0;
    padding:5px;
    position:absolute;
    top:22px;
    right:0px;
    letter-spacing:1px;
    .roundedCorners(3px);
    &:before {
      content:'';
      display:block;
      border-width:5px;
      border-style:solid;
      border-color:transparent transparent #f0f0f0 transparent;
      position:absolute;
      top:-10px;
      right:5px;
    }
  }
}
/* buy plan overlay css */
.buy-plan {
  .action-button {
    padding:10px 20px 20px;
    .btn {
      padding-top:6px;
      padding-bottom:6px;
    }
  }
  .expiry-field {
    padding:30px 20px 15px;
    letter-spacing: 1px;
    p {
      text-align:center;
      color:@orangeBaseColor;
      font-size:12px;
      text-transform: uppercase;
    }
  }
  h2 {
    text-align: center;
    color: @lightTextColor;
    margin: 10px auto 5px;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    max-width: 430px;
    padding:0 15px;
  }
  .introduction {
    text-align: center;
    & img {
      width:120px;
    }
    & h3 {
      margin: 5px 0 0;
      font-size: 18px;
      text-transform: none;
      border-bottom: 0px;
    }
  }
  .verify-info {
    padding:0px;
    margin:0 20px 20px;
    border: 1px solid #eaeaea;
    background-color: #f9f9f9;
    list-style-type: none;
    & li {
      border-bottom:1px solid #eaeaea;
      padding:6px 10px;
      & .title {
        display: inline-block;
        width:150px;
        font-size:12px;
        color: @lightTextColor;
      }
      & .value {
        color: @baseTextColor;
      }
    }
  }
}
/* info-overlay css can include different information pops */
.darkOverlay.info-overlay.active {
  top:0;
  position:fixed;
  height:100%;
  width:100%;
  overflow-y:auto;
  z-index: @zIndexOverlay;
}
.info-overlay {
  z-index:@zIndexOverlay + 1;
  padding-top:15%;
  text-align:center;
  .info-box {
    padding: 0px;
    height:0;
    opacity:0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    font-size: 12px;
    width:90%;
    max-width: 400px;
    font-weight: bold;
    margin:auto;
    .scale(0.8);
    visibility: hidden;
    background-color: @greenBaseColor;
    &.active {
      padding: 20px;
      height:auto;
      margin-bottom:10px;
      overflow: visible;
      visibility: visible;
      opacity:1;
      .scale(1);
    }
    h4 {
      position: relative;
      margin-top:0px;
      span {
        background-color: @greenBaseColor;
        padding:0px 20px;
        display: inline-block;
        z-index:1;
        position:relative;
      }
      &:before {
        content: '';
        left:5%;
        z-index: 0;
        display: block;
        width: 90%;
        position: absolute;
        top: 10px;
        height: 1px;
        background-color: #ffffff;
      }
    }
    .iclose {
      color: rgba(0, 0, 0, 0.2);
      padding: 3px;
      cursor: pointer;
      font-size: 14px;
      position: absolute;
      top: 0px;
      right: 0px;
      height: 26px;
      width: 26px;
      text-align: center;
    }
  }
}
/* loading screen css */
.loading-screen {
  background-color: #FFFFFF;
  color: #B5B5B5;
  height: 100%;
  left: 0;
  margin-top: 0px;
  margin-bottom: 40px;
  padding-top: 100px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: @zIndexOverlay+20;

  img {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  .car-loading {
    max-width:767px;
    margin:-50px auto 0;
    text-align: center;
    h3 {
      color:@baseTextColor;
      font-size:16px;
    }
    img.car {
      display:inline-block;
      margin-bottom:5px;
    }
    img.bar-loader {
      height:auto;
      display: inline-block;
      width:200px;
      margin-bottom:15px;
    }
    .make {
      font-size: 14px;
      color:@greenBaseColor;
      display: inline-block;
      margin:0px 5px 5px;
    }
    .model {
      font-size: 14px;
      color:@lightTextColor;
      display: inline-block;
      margin:0px 5px 5px;
    }
    .variant {
      font-size: 10px;
      color:@lightTextColor + #333333;
      margin-bottom:5px;
    }
  }
}
/* radio label css used in idv radio selection */
label.radio-label {
  display: block;
  text-align:left;
  position: relative;
  padding:8px 8px 8px 35px;
  font-weight: normal;
  color: @baseTextColor;
  .radio {
    cursor:pointer;
    padding: 4px;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: -5px;
    width: 26px;
    height:26px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.1) inset;
    .roundedCorners(3px);
    & img {
      display:none;
      width:100%;
    }
  }
  input[type='radio']{
    opacity: 0;
    position: absolute;
    left: -1000px;
  }
  &.active .radio {
    background-color: @greenBaseColor;
    & img {
      display: block;
    }
  }
}
.dotted-seperator {
  margin-top:15px;
  border-top:1px dashed #eaeaea;
  height:10px;
}
.seperate {
  border-top:1px solid #dadada;
}
.mobi-overlay.add-ons {
  background-color: rgba(1, 5, 37, 0);
  padding:10px;
  .content {
    .scale(0.6);
  }
  &.active {
    background-color: rgba(1, 5, 37, 0.75);
  }
  &.active .content{
    .scale(1);
  }
  .container,.container-fluid {
    background-color:#ffffff;
    overflow: hidden;
    .roundedCorners(2px);
  }
}
/* premium breakup css */
.premium-breakup {
  padding:10px 5px;
  &.active .content {
    .scale(1);
  }
  .content {
    background-color: #ffffff;
    padding:10px;
    margin-left:-5px;
    margin-right: -5px;
    .scale(0.6);
    .iclose {
      cursor: pointer;
      opacity: 0.7;
      position: absolute;
      right: 5px;
      top: 5px;
      width: 24px;
      z-index: 10;
    }
    .pr-detail {
      position: relative;
      & .logo {
        position: absolute;
        width: 90px;
        display: block;
      }
      & .pr {
        padding-left: 100px;
        min-height:90px;
      }
    }
    .btn {
      text-transform: uppercase;
      font-size:11px;
      min-width:100px;
    }
    .insurer-name {
      padding-bottom:10px;
      font-size:12px;
      color:@lightTextColor + #333333;
      border-bottom: 2px solid @orangeBaseColor;
      margin-bottom:15px;
    }
    h2 {
      margin-top:0px;
      color:@baseTextColor;
      font-size:20px;
      & .hlp {
        text-transform: uppercase;
        color:@lightTextColor + #333333;
        margin-top:5px;
        font-size:11px;
      }
    }
    .discount-strip {
      background-color: rgb(0,148,255);
      padding:3px 10px;
      color:#ffffff;
      font-size:12px;
      margin:0px 0px 10px -10px;
      display:inline-block;
      font-weight:bold;
    }
    .strip {
      background-color: #e9e9e9;
      padding:10px;
      font-weight:bold;
      color:#aaaaaa;
      text-transform: uppercase;
      font-size:14px;
      margin:0 -10px;
    }
  }
  .property {
    border-right:1px solid #eaeaea;
    border-bottom:1px solid #eaeaea;
    &.hdg {
      color: @motorBaseColor;
      border-bottom:none;
      font-size:12px;
      padding-top:5px;
      font-weight:400;
    }
    &.extra {
      border-bottom:none;
    }
    .h {
      font-weight:400;
      font-size:12px;
      padding-top:10px;
      margin-bottom:5px;
      &.spl {
        text-align:right;
        & .v {
          color:#999999;
          padding-left:5px;
        }
      }
      & .small {
        color:#999999;
        font-size:11px;
        display:block;
        font-weight: normal;
      }
      & > img {
        float: right;
        display: inline-block;
        margin-top: 3px;
        margin-right: 10px;
      }
      &.active {
        padding-bottom:5px;
        border-bottom:1px dashed #eaeaea;
        img {
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
        }
      }
    }
    ul.d{
      list-style-type: none;
      padding-left:0;
      & li {
        color:@lightTextColor;
        font-size:12px;
        margin-bottom:5px;
      }
    }
    &.total {
      border-bottom:none;
      border-top:2px solid @orangeBaseColor;
      text-transform: uppercase;
    }
  }
  .value {
    font-size:14px;
    font-weight:700;
    text-align: center;
    padding-top:10px;
    &.red {
      color:red;
    }
    &.total {
      border-top:2px solid @orangeBaseColor;
      font-size:16px;
      padding-top:8px;
    }
  }
}

.btn {
  .roundedCorners(3px);
}