{% extends 'dealer_base.html' %}
{% block content %}
<section class="dealer-section">
    <div class="container">
        <div class="well well-bg">
            <div class="row">

                <form method="post">
                    {% csrf_token %}
                    {% for field in formset %}
                        <div class="row form-row">
                            <div class="col-md-2"></div>
                            <div class="col-md-2">
                                {{ field.label }}
                            </div>
                            <div class="col-md-6">
                                <span>{{ field }}</span>
                                <span>{{ field.errors }}</span>

                            </div>
                            <div class="col-md-2">
                            </div>

                        </div>

                    {% endfor %}
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <input type="submit" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(window).load(function() {
    $("#car_submit").click(function() {
        if($(".error-text:visible").length == 0){
            setTimeout(function() {
                window.location.href = '/motor/car-insurance/?type=dealer#results';
            }, 200);
        }
        event.preventDefault();
    });
})
</script>
{% endblock %}