{% extends 'dealer_base.html' %}
{% block content %}
<section class="dealer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="dealer-h2">Your request has been taken into consideration.<br/> You'll be contacted by our team in some time.</h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}