{% load compress %}
<section class="hero-wrapper">
    <div class="cover-bg"></div>
    <div class="p-relative">
        <div class="hero-form">
            <!-- Car Insurance form-->
            <div class="car-product product-form-item">
                <h5 data-cms-content="hero_form_heading">Get Lowest prices on Car Insurance</h5>
                <form>
                    <div class="policy-type-details">
                        <label for="pt1" class="cf-radio hidden">
                            <input type="radio" name="car_policy_type" id="pt1" value="renew">
                            <span></span>Renew car insurance
                        </label>
                        <label for="pt2" class="cf-radio">
                            <input type="radio" name="car_policy_type" id="pt2" value="used" checked>
                            <span></span>Used Car
                        </label>
                        <label for="pt3" class="cf-radio">
                            <input type="radio" name="car_policy_type" id="pt3" value="expired" >
                            <span></span>Policy already expired
                        </label>
                    </div>
                    <div class="vehicle-details row common-fields">
                        <div class="col-md-12">
                            <div class="form-group col-xs-12 col-md-4 plnone">
                                <div class="cf-select-dd">
                                    <label for="vehicle_make_model">Your Car</label>
                                    <select data-placeholder="Select your car" class="select3-input emptyState" id="vehicle_make_model">
                                        <option></option>
                                    </select>
                                </div>

                                <div class="cf-special-ip">
                                    <label for="vehicle_make_model_text">Your Car</label>
                                    <input placeholder="Enter your car name" class="cf-input" id="vehicle_make_model_text"/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-4 plnone">
                                <div class="cf-select-dd">
                                    <label for="vehicle_fuel_type">Fuel Type</label>
                                    <select data-placeholder="Select fuel type" class="select3-input emptyState" id="vehicle_fuel_type">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-4 plnone">
                                <div class="cf-select-dd">
                                    <label for="vehicle_variant">Variant</label>
                                    <select data-placeholder="Select variant" class="select3-input emptyState" id="vehicle_variant">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-8 pnone">
                                <p id="vehicle_detail_error" class="error-text"  style="margin-top: -10px;">Enter your car details</p>
                            </div>
                        </div>
                    </div>
                    <!-- External CNG/LPG -->
                    <div class="registration-details row common-fields" style="display:none" id="divCNGKit">
                        <div class="col-md-12">
                            <div class="form-group col-xs-12 col-md-4 plnone">
                                <div class="cf-special-ip">
                                    <label for="txtCNGKit">CNG/LPG kit value (INR)</label>
                                    <input type="number" class="cf-input" id="txtCNGKit" placeholder="Value of CNG/LPG kit fitted">
                                </div>
                                <p id="cng_error" class="error-text">Enter CNG/LPG kit value.</p>
                            </div>
                        </div>
                    </div>

                    <div class="registration-details row common-fields">
                        <div class="col-md-12 ">
                            <div class="form-group col-xs-12 col-md-5 plnone rto-field">
                                <div class="cf-select-dd">
                                    <label for="vehicle_rto">City of registration</label>
                                    <select class="form-control" id="vehicle_rto" data-placeholder="Select registration place">
                                        <option value=""></option>
                                    </select>
                                </div>

                                <div class="cf-special-ip">
                                    <label for="vehicle_rto_text">City of registration</label>
                                    <input id="vehicle_rto_text" class="cf-input" placeholder="Enter your registration place"/>
                                </div>

                                <p id="rto_error" class="error-text">Select registration place.</p>
                            </div>

                            <div class="form-group col-xs-12 col-md-5 renew-policy plnone">
                                <div class="cf-select-dd">
                                    <label for="vehicle_reg_year">Year of registration</label>
                                    <select class="form-control renew-policy" id="vehicle_reg_year" data-placeholder="Select year">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <p id="reg_date_error" class="error-text">Select registration year.</p>
                            </div>
                        </div>
                    </div>
                    <div id="expired_car" class="expired-policy hide">
                        <div class="sm-label" style="margin: 0 4px 8px;">When did your policy expire?</div>
                        <div class="mnone">
                            <div class="form-group col-xs-12 col-md-4 plnone expire-policy">
                                <div class="cf-select-dd">
                                    <label for="car_expiry_date">Date of expiry</label>
                                    <select class="expire-policy" id="car_expiry_date" data-placeholder="Select date">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-4 plnone expire-policy">
                                <div class="cf-select-dd">
                                    <label for="car_expiry_month">Month of expiry</label>
                                    <select class="expire-policy" id="car_expiry_month" data-placeholder="Select month">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-4 plnone expire-policy">
                                <div class="cf-select-dd">
                                    <label for="car_expiry_year">Year of expiry</label>
                                    <select class="expire-policy" id="car_expiry_year" data-placeholder="Select year">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <p id="car_expiry_error" class="error-text">Select expire policy date.</p>
                    </div>
                    <!-- Phone No Field -->
                    <div class="cfinput addon-field hidden">
                        <span class="addon">+91</span>
                        <input type="text" name="mobile" maxlength="10" id='contact-me-num' placeholder="Enter mobile number"/>
                        <span style="display: block;font-size: 12px;opacity: 0.6;margin-top: 8px;">For SMS quotes and important communication</span>
                    </div>
                    <div class="contact-me-error">
                        <p class="error">Please enter a valid 10 digit mobile number</p>
                    </div>

                </form>
                <button id="submit_car_form" class="btn orange big">View Quotes</button>
            </div>
        </div>
    </div>
</section>
<link href="{{ STATIC_URL }}home/css/select2.css" rel="stylesheet">
<link href="{{STATIC_URL}}lp-motor/car_section_css/css/homeform.css" rel="stylesheet">
<link href="{{STATIC_URL}}lp-motor/car_section_css/css/homeform.css" rel="stylesheet">
<style rel="stylesheet">
    /* overrides for form qoute elements*/
    .cf-input {
        font-size:16px;
    }
    .cf-input:focus, .cf-input:active, .ui-widget-content  {
        border-color: #5897fb;
    }
    .ui-widget-content {
        background :#fff;
        padding:4px;
        margin:-4px 0 0;
        max-height:200px;
        overflow-y:auto;
    }
    .ui-menu .ui-menu-item {
        padding: 3px 7px 4px;
        font-size:12px;
    }
    .ui-menu-item.ui-state-focus {
        border-color:transparent;
        background:#314451;
        color:#fff;
        font-weight:400;
        text-shadow:none;
    }
    /* overrides for form qoute elements end*/
</style>
<!-- start Mixpanel -->
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
        mixpanel.init("f6b6a4af17bcce00d518ad43b8dcadba",{debug:true});

        mixpanel.set_config({
            track_links_timeout:1000
        })
    </script>
    <!-- end Mixpanel -->
<!-- Load jQuery autocomplete if page is opened in webview -->
{% if request.META.HTTP_X_COVERFOX_WEBVIEW or request.COOKIES.webview == 'true' %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
{% endif %}

<script type="text/javascript">
    var hero_phone_mandatory = 'NO';
    var page_id = "temp"; // needs to be updated...
    var CSRF_TOKEN = '{{ csrf_token }}';
</script>

{% compress js %}
    <script src="{{ STATIC_URL }}home/js/select2.min.js"></script>
    <script src="{{ STATIC_URL }}js/motor/utils/crypto.js"></script>
    <script src="{{ STATIC_URL }}js/cookies.js"></script>
    <script src="{{ STATIC_URL }}home/js/utils.js"></script>
    <script src="{{ STATIC_URL }}js/car-trade/car-system.js"></script>
{% endcompress js %}

<script type="text/javascript">
    $('.contact-me-error').hide();

/********* UI Global Control Events **********/
    $('select').change(function(){
        var selectedId = $(this).children(":selected").attr("id");
        if(selectedId && (selectedId>0 || selectedId.length>1)){
            $(this).parent().addClass('selected');
            $(this).parent().find('.select2-choice').css({
                'padding-top': ''
            });
            utils.showLabelForInput($(this));
        }
        else{
            $(this).parent().removeClass('selected');
        }
    });
    function getUrlVars(){
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    var get_params = getUrlVars();
    var network = (get_params.network)? get_params.network : '';
    var category =  (get_params.category)? get_params.category : '';
</script>
