{% extends 'dealer_base.html' %}
{% block content %}
<section class="dealer-section">
    <div class="container">
        <div class="row dealer-section--row">
            <h2 class="dealer-h2">Payments:</h2>
            {% if not invoices %}
                <section>
                    <div class="filter-data__value">
                        <h4>You have no payment details to be displayed.</h4>
                    </div>
                </section>

            {% else %}
                <section>
                    <div class="filter-data__wrapper">
                        <div class="filter-data__header">
                            <div class="col_sno">S.No.</div>
                            <div class="col_dealer_name">Dealer</div>
                            <div class="col_created_on">Created On</div>
                            <div class="col_invoice_amount">Invoice Amount</div>
                            <div class="col_paid_amount">Paid Amount</div>
                            <div class="col_arrears">Arrears</div>
                            <div class="col_cleared_on">Cleared On </div>
                        </div>
                        {% for invoice in invoices %}
                            <div class="filter-data__value">
                                <div class="col_sno">
                                    <span class="filter-data__mobile">S.No.</span>
                                    <span class="data_value">{{ forloop.counter }}</span>
                                </div>
                                <div class="col_dealer_name">
                                    <span class="filter-data__mobile">Dealer Name</span>
                                    <span class="data_value">{{ invoice.requirements.last.dealer.dealer.get_name }}</span>
                                </div>
                                <div class="col_created_on">
                                    <span class="filter-data__mobile">Created On</span>
                                    <span class="data_value">{{ invoice.created_date }}</span>
                                </div>
                                <div class="col_invoice_amount">
                                    <span class="filter-data__mobile">Invoice Amount</span>
                                    <span class="data_value">{{ invoice.raw.total_amount }}</span>
                                </div>
                                <div class="col_paid_amount">
                                    <span class="filter-data__mobile">Paid Amount</span>
                                    <span class="data_value">{{ invoice.raw.paid_amount }}</span>
                                </div>
                                <div class="col_arrears">
                                    <span class="filter-data__mobile">Arrears</span>
                                    <span class="data_value">{{ invoice.arrears }}</span>
                                </div>
                                <div class="col_cleared_on">
                                    <span class="filter-data__mobile">Cleared On</span>
                                    <span class="data_value">{{ invoice.cleared_on }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
