
<!DOCTYPE html>

<html lang="en">
<head>

    <title data-cms-content="htmltitle">Dealer Flow</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/dealer-flow.css" rel="stylesheet">

    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<header>
<div class="top-bar">
    <div class="header-wrapper header-wrapper__fixed">
        <div class="logo">
            <a href="https://www.coverfox.com">
                <img src="{{STATIC_URL}}global/img/logos/cf-white-orange-h71.png" alt="Coverfox.com">
            </a>
        </div>
        <div class="page-title">
            Buy Car Insurance
        </div>
        <div class="page-title pull-right no-arrow hidden-xs">
            Call us (Toll Free) for assistance: <strong>1800 209 9930</strong>
        </div>
    </div>
</div>
</header>
<section>
    <div class="dealer-cardata__sidebar">
        <div class="dealer-cardata__header">
            <a data-bind="attr: {href: shareableQuoteUrl}" href="#">← Back to results</a>
            <h3>Maruti SX4 ZXI</h3>
        </div>
        <div class="dealer-cardata__details">
            <div class="dealer-cardata__summarycard" >
                <img class="insurer img-responsive" alt="" src="{{STATIC_URL}}motor_product/desktopMVP/app/assets/img/insurer/bharti-axa.png">
                <h3>Rs. <span>  8,467</span> </h3>
                <p>Annual Premium</p>
                <ul class="extras">
                    <li><span data-bind="text: name">Roadside Assistance</span></li>
                </ul>
                <ul class="extras">
                    <li><span>Driver Cover</span></li>
                <section></section>
            </ul>
            </div>

            <div class="dealer-cardata__section">
                <ul class="quote-settings form">
                    <li>IDV <span class="dealer-cardata__value">Rs. <span>  2,19,977</span></span></li>
                    <li>Registration Date <span class="dealer-cardata__value">01-10-2008</span></li>
                    <li>Past policy expiry date< <span class="dealer-cardata__value">30-10-2015</span></li>
                    <li>Manufacturing Date <span class="dealer-cardata__value">01-10-2008</span></li>
                    <li>No Claim Bonus <span class="dealer-cardata__value">50%</span></li>

                    <li class="header"><span>Accessories</span></li>
                    <li>Electrical <span class="dealer-cardata__value">0</span></li>
                    <li>Non-Electrical <span class="dealer-cardata__value" >0</span></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="dealer-data__section">
        <div class="container-fluid">
            <div class="row">
                <div class="payment-form__container">
                    <div class="form-box__header">OPEN NEW CASE</div>
                    <div class="payment-type__container">
                        <div class="payment-type__header"><span>1</span>CHEQUE</div>
                        <div class="payment-type__formsection">
                            FORM FIRLD HERE
                        </div>
                    </div>
                    <div class="payment-type__container">
                        <div class="payment-type__header"><span>2</span>POS/MSwipe</div>
                        <div class="payment-type__formsection">
                            FORM FIRLD HERE
                        </div>
                    </div>
                    <div class="payment-type__container">
                        <div class="payment-type__header"><span>3</span>Online</div>
                        <div class="payment-type__formsection">
                            FORM FIRLD HERE
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>
