{% extends 'dealer_base.html' %}
{% block content %}
<section class="dealer-section">
    <div class="container">
        <div class="form-box">
            <h2 class="dealer-h2">Cases :</h2>
            <form method="GET" class="filter-form__wrapper">
                <div class="filter-section">
                    <div class="filter-label">
                        <label for="filter_by">Filter by:</label>
                    </div>
                    <div class="filter-select">
                        <select name="dealer_filter" id="filter_by">
                            <option value="">Dealer</option>
                            {% for dealer in dealers %}
                                <option {% if selected_dealer|stringformat:"s" == dealer.id|stringformat:"s" %} selected="true"{% endif %} value="{{dealer.id}}">{{dealer.get_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="filter-select">
                        <select name="filter" id="filter_by">
                            <option value="">Status</option>
                            {% for filter in filter_options %}
                                <option {% if selected_filter == filter.0 %} selected="true"{% endif %}value="{{filter.0}}">{{filter.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn--orange">Submit</button>
                </div>
            </form>
        </div>
        {% if requirements %}
        <section>
            <div class="filter-data__wrapper">
                <div class="filter-data__header">
                    <div class="col_vehicle">Vehicle</div>
                    <div class="col_area">Area</div>
                    <div class="col_registration">Registration</div>
                    <div class="col_status">Status</div>
                    <div class="col_lstatus">Last status since</div>
                    <div class="col_formlink">Form Link</div>
                    <div class="col_paymentlink">Action</div>
                </div>
                {% for requirement in requirements %}
                    {% for transaction in requirement.transactions %}
                    <div class="filter-data__value">
                        <div class="col_vehicle">
                            <span class="filter-data__mobile">Vehicle</span>
                            <span class="data_value">{{transaction.vehicle_name}}</span>
                        </div>
                        <div class="col_area">
                            <span class="filter-data__mobile">Area</span>
                            <span class="data_value">{{transaction.area}}</span>
                        </div>
                        <div class="col_registration">
                            <span class="filter-data__mobile">Registration</span>
                            <span class="data_value">{{transaction.registration}}</span>
                        </div>
                        <div class="col_status approved">
                            <span class="filter-data__mobile">Status</span>
                            <span class="data_value">{{transaction.status}}</span>
                        </div>
                        <div class="col_lstatus">
                            <span class="filter-data__mobile">Last status since</span>
                            <span class="data_value">{{transaction.updated_on}}</span>
                        </div>
                        <div class="col_formlink">
                            <span class="filter-data__mobile">Vehicle Name</span>
                            <span class="data_value">
                                <a href="{{transaction.form_link}}">
                                    {% if transaction.inspection_approved %}
                                        Pay Now
                                    {% else %}
                                        Form Link
                                    {% endif %}
                                </a>
                            </span>
                        </div>
                        <div class="col_paymentlink">
                            <span class="filter-data__mobile">Action</span>
                            <span class="data_value">
                                {% if not transaction.inspection_approved %}
                                <a href="{{ transaction.next_link.link }}" class="{% if transaction.next_link.is_disabled %}disabled{% endif %} btn btn--orange">{{ transaction.next_link.text}}</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </section>
        {% else %}
        <section>
            <div class="filter-data__value">
                <h4>You have no case details to be displayed.</h4>
            </div>
        </section>
        {% endif %}
    </div>
</section>

{% endblock %}
{% block js %}
<script type="text/javascript">
    function redirect_to_payment(transaction_id){
        window.location.replace("/motor/dealer/payment/"+transaction_id);
    }
</script>
{% endblock %}
