{% extends 'dealer_base.html' %}
{% load humanize %}
{% block content %}
<section>
    <div class="dealer-cardata__sidebar col-md-3">
        <div class="dealer-cardata__header">
            <a href="/motor/dealer/pending-cases/">← Back to results</a>
            <h3>{{ transaction.quote.vehicle }}</h3>
        </div>
        <div class="dealer-cardata__details">
            <div class="dealer-cardata__summarycard">
                <img class="insurer img-responsive" alt="" src="/static/motor_product/desktopMVP/app/assets/img/insurer/{{ quote_data.insurer_slug }}.png">
                <h3>Rs. <span>  {{ quote_data.final_premium|intcomma }}</span> </h3>
                <p>Annual Premium</p>
            </div>
            <div class="dealer-cardata__section">
                <ul class="quote-settings form">
                    <li>IDV <span class="dealer-cardata__value">Rs. <span>  2,19,977</span></span>
                    </li>
                    <li>Registration Date <span class="dealer-cardata__value">{{quote_data.quote_params.registrationDate}}</span></li>
                    <li>Past policy expiry date
                        <span class="dealer-cardata__value">{{ quote_data.quote_params.pastPolicyExpiryDate }}</span>
                    </li>
                    <li>Manufacturing Date <span class="dealer-cardata__value">{{ quote_data.quote_params.manufacturingDate }}</span></li>
                    <li>No Claim Bonus <span class="dealer-cardata__value">{{ quote_data.quote_params.previousNCB }}% </span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="dealer-data__section col-md-9">
        <div class="container-fluid">
            <div class="row">
                <div class="dealer-form__container">
                    <div data-bind="foreach:upload_documents">
                        <h3 data-bind="text:label"></h3>
                        <div data-bind="foreach:documents">
                            <img data-bind="attr:{'src':image_url}" class="img-thumbnail uploaded_image">
                        </div>
                        <div data-bind="if:documents().length==0">
                            Please upload images by clicking on the button below
                        </div>
                        <div class="fileUpload btn btn--orange">
                            <span>Upload <span data-bind="if:documents().length>0">another </span><span data-bind="text:label"></span> image</span>
                            <input class="upload" type="file" data-bind="event: { change: function() { $root.handleUploadRequest($element.files[0], type(), $data.documents) } }">
                        </div>
                        <hr/>
                    </div>
                    <div>
                        <h3>Payment Information</h3>
                        <img data-bind="attr:{'src':vm.payment_data().cheque_image}" class="img-thumbnail uploaded_image">
                        <br/>
                        <div class="fileUpload btn btn--orange">
                            <span>Upload Cheque Image</span>
                            <input class="upload" type="file" data-bind="event: { change: function() { vm.handleChequeUploadRequest($element.files[0], payment_data.cheque_image) } }">
                        </div>
                    </div>
                    <div class="dealer-formfield__container">
                        <div class="row">
                            <div class="col-md-12"><h3>Remarks</h3></div>
                            <div class="col-md-6 col-md-offset-3">
                                <textarea data-bind="value:remarks" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="dealer-form__footer">
                        <button data-bind="click:function(){vm.send_for_approval()}" class="btn btn--orange">
                            Send for approval
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="current-upload-container" class="active" data-bind="if:current_uploads().length>0">
    <div class="header" onClick="$(this).parent().toggleClass('active')">Uploads</div>
    <div class="uploads" data-bind="foreach:current_uploads">
        <div class="upload-instance row">
            <div class="col-sm-4" data-bind="text:file_name"></div>
            <div class="col-sm-8">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-bind="attr:{'aria-valuenow':progress()}, style:{'width':progress()+'%'}">
                        <span class="sr-only"><span data-bind="text:progress"></span>% Complete</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block js %}
<script src="{{ STATIC_URL }}account_manager/js/jquery-1.11.3.min.js"></script>
<script src="{{ STATIC_URL }}js/knockout/knockout-3.0.0.js"></script>
<script type="text/javascript">
var inspection_id = "{{inspection.uuid}}";
var transaction_id = "{{ transaction.transaction_id}}"
var existing_documents = JSON.parse("{{data|escapejs}}");
var initial_payment_data = JSON.parse("{{payment_data|escapejs}}");
var csrf_token = "{{ csrf_token }}";
var payment_id = "{{ payment_id }}";
var is_used_vehicle = {{ transaction.quote.raw_data.isUsedVehicle }}
</script>
<script type="text/javascript" src="{{STATIC_URL}}motor_product/dealer/js/dealer_upload_document.js"></script>
{% endblock %}
