{% extends 'dealer_base.html' %}
{% block content %}
<section class="dealer-section">
    <div class="container">
        <div class="row dealer-section--row">
            <h2 class="dealer-h2">Choose Dealership</h2>
            <p class="text-center">As you're registered with more than one dealership, we'd like you to choose a dealership before you can continue this session.</p>
            <div class="table-responsive dealer-section--table">  
                <table class="table">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Dealership Name</th>
                            <th>Comission Percentage</th>
                            <th>Invoice cycle</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dd in dealerships %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{dd.dealership.company.name}}</td>
                            <td>{{dd.get_active_payout_instance.commission_percentage}}</td>
                            <td>{{dd.get_active_payout_instance.payout_frequency}}</td>
                            <td><a href="{% url 'select-dealership' %}?dealership_id={{dd.id}}">Select this</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}