<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="en" lang="en" class="js">

    {% load compress%}

    <head>
    <title>{%if meta.title%}{{meta.title}}{%else%} Coverfox | Simplifying Insurance{%endif%}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta property="og:site_name" content="Coverfox - Simplifying Insurance" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    {%if meta%}
        <meta property="og:locale" content="en_GB" />
        <meta property="og:title" content="{{meta.title}}" />
        <meta property="og:description" content="{{meta.description}}" />

        <meta name="twitter:title" content="{{meta.title}}">
        <meta name="twitter:description" content="{{meta.description}}">

        <meta property="og:type" content="{%if meta.type%}{{meta.type}}article{%else%}{%endif%}" />
        <meta property="og:url" content="{{request.get_full_path}}" />
        <meta name="published_time" content="{{meta.published_time}}" />
        <meta name="modified_time" content="{{meta.modified_time}}" />
        <meta name="keywords" content="{{meta.keywords}}" />
        <meta name="author" content="{{meta.author}}" />
        <meta name='robots' content='index, follow' />
    {%endif%}

    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />

    {%compress css%}
    {%block header_css%}{%endblock header_css%}
    {%endcompress%}

    {%compress js%}
        {%block header_js%}{%endblock header_js%}
    {%endcompress%}

    <!-- external js css -->
    {%block header_js_css%}{%endblock header_js_css%}

</head>

<body>
    <section id="top-menu">
        <div class="header fixi stick" id="header">
            <div class="container">
                <div class="logo">
                    <a href="/"><img alt="" src="{{STATIC_URL}}img/coverfox-logo.png"></a>
                </div>
                <h3 class="headertext visible-desktop">&nbsp;</h3>
                <div class="navi hide">
                    <ul class="navig">
                        <li class="s1"><a class="external" href="#fr">Log in</a></li>
                        <li class="s2"><a class="external" id="register" href="#fr">SignUp</a></li>
                    </ul>
                </div>
                <div class="clear"></div>

            </div><!-- Container End -->
        </div>
    </section>

    <div id="container" class="container">
        <div class="container main">
            {%block main%}
                <h1>Bootstrap starter template</h1>
                <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
            {%endblock%}
        </div> <!-- /container -->
    </section>

    <!-- Subscriber modal -->
    <div id="subscriber_modal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Subscribe on e-mail</h3>
        </div>
        <div class="modal-body">
            <p id="submit_response"></p>
        </div>
        <div class="modal-footer">
            <!--a href="#" class="btn">Close</a-->
        </div>
    </div>
    {%block popups%} {%endblock%}

    {%compress css%}
    <link href="{{STATIC_URL}}radmin/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/style.css" rel="stylesheet">
    {%block footer_css%}{%endblock%}
    {%endcompress%}

    {%compress js%}
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/underscore-min.js"></script>
    <!--script type="text/javascript" src="{{STATIC_URL}}js/lazyload.js"></script-->

    <script type="text/javascript">

        $(document).ready(function() {

        });
    </script>

    {%block footer_js%}{%endblock%}
    {%endcompress%}

    <!-- external js css -->
    {%block footer_js_css%}{%endblock%}
</body>
</html>
