@import "../../css/base_theme";
@bannerBackgroundColor:#27343e;
/* Overridden css for base_style.css */
.hero-wrapper {
  background-color: @bannerBackgroundColor;
  &  #topbar {
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: #ffffff;
    z-index: 200;
  }
}

/* car banner css */
.hero-banner {
  padding:0;
  background-color: @bannerBackgroundColor;
  & img.tag-cloud {
    width:100%;
    display: block;
    max-width: 500px;
    margin: auto;
  }
  & .club-form {
    color: #ffffff;
    padding:40px 15px 40px;

    & h1 {
      font-size:32px;
      letter-spacing: 1px;
      line-height: 1.2em;
      font-weight: 300;
      margin:20px 0 20px;
    }
    & a.no-thanks {
      cursor: pointer;
      font-size:14px;
      color: #fff;
      letter-spacing: 1px;
      &:hover {
        text-decoration:none;
        color:#fff;
        outline: none;
      }
    }
  }
}


/* form box mini css*/

.form-box-mini {
  padding: 30px 0px 10px;
  max-width: 450px;
  label {
    font-size:12px;
    margin-bottom:5px;
    display: block;
    font-weight: 400;
  }
  .closer {
    display: none;
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
  }
  .btn-cfox.btn-next {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom:10px;
    margin-top:15px;
  }

  .error {
    background-color: rgb(233, 150, 176);
    color: rgba(0, 0, 0, 0.58);
    padding: 5px;
    margin-bottom: 10px;
    .roundedCorners(3px);
  }
  .cfinput {
    border: 2px solid #ffffff;
    padding:14px 5px;
    background-color: rgba(0,0,0,0.2);
    .roundedCorners(3px);
    margin-bottom:10px;
    &.has-error {
      border-color: #8b0000;
      background-color: #FFE2EB;
    }
    &.addon-field {
      padding-left:40px;
      position: relative;
    }
    .addon {
      color:#ffffff;
      font-size: 14px;
      position: absolute;
      top:16px;
      left:8px;
    }
    input {
      border: 0;
      color: #ffffff;
      background-color: transparent;
      width: 100%;
      &:hover,&:focus,&:active {
        outline: none;
      }
    }
  }
}



/* Mobile optimisation for banner elements */

@media only screen and (min-width : 200px) and (max-width : 990px) {
  .hero-banner {
    & .club-form h1 {
      font-size:30px;
    }
    & img.tag-cloud {
      margin-top:60px;
    }
    & .club-form a.no-thanks {
      font-size:14px;
    }
  }
}

@media only screen and (min-width : 200px) and (max-width : 767px) {
  .hero-banner {
    padding:0 0 30px 0;
    background: @bannerBackgroundColor none;
    & img.tag-cloud {
      display: none;
    }
    & .club-form {
      padding-left:0;
      padding-right:0;
      max-width: 450px;
      background-color: transparent;
      & h1 {
        font-size:30px;
        margin-top:20px;
      }
    }
  }
}


.terms-msg{
  color: #FFFFFF;
  font-size:10px;
  margin-bottom: 15px;
}
