/* Color scheme definitions */
/* Color scheme definitions end */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* Overridden css for base_style.css */
.hero-wrapper {
  background-color: #27343e;
}
.hero-wrapper #topbar {
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  z-index: 200;
}
/* car banner css */
.hero-banner {
  padding: 0;
  background-color: #27343e;
}
.hero-banner img.tag-cloud {
  width: 100%;
  display: block;
  max-width: 500px;
  margin: auto;
}
.hero-banner .club-form {
  color: #ffffff;
  padding: 40px 15px 40px;
}
.hero-banner .club-form h1 {
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 1.2em;
  font-weight: 300;
  margin: 20px 0 20px;
}
.hero-banner .club-form a.no-thanks {
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
}
.hero-banner .club-form a.no-thanks:hover {
  text-decoration: none;
  color: #fff;
  outline: none;
}
/* form box mini css*/
.form-box-mini {
  padding: 30px 0px 10px;
  max-width: 450px;
}
.form-box-mini label {
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  font-weight: 400;
}
.form-box-mini .closer {
  display: none;
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
}
.form-box-mini .btn-cfox.btn-next {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 15px;
}
.form-box-mini .error {
  background-color: #e996b0;
  color: rgba(0, 0, 0, 0.58);
  padding: 5px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-box-mini .cfinput {
  border: 2px solid #ffffff;
  padding: 14px 5px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.form-box-mini .cfinput.has-error {
  border-color: #8b0000;
  background-color: #FFE2EB;
}
.form-box-mini .cfinput.addon-field {
  padding-left: 40px;
  position: relative;
}
.form-box-mini .cfinput .addon {
  color: #ffffff;
  font-size: 14px;
  position: absolute;
  top: 16px;
  left: 8px;
}
.form-box-mini .cfinput input {
  border: 0;
  color: #ffffff;
  background-color: transparent;
  width: 100%;
}
.form-box-mini .cfinput input:hover,
.form-box-mini .cfinput input:focus,
.form-box-mini .cfinput input:active {
  outline: none;
}
/* Mobile optimisation for banner elements */
@media only screen and (min-width: 200px) and (max-width: 990px) {
  .hero-banner .club-form h1 {
    font-size: 30px;
  }
  .hero-banner img.tag-cloud {
    margin-top: 60px;
  }
  .hero-banner .club-form a.no-thanks {
    font-size: 14px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .hero-banner {
    padding: 0 0 30px 0;
    background: #27343e none;
  }
  .hero-banner img.tag-cloud {
    display: none;
  }
  .hero-banner .club-form {
    padding-left: 0;
    padding-right: 0;
    max-width: 450px;
    background-color: transparent;
  }
  .hero-banner .club-form h1 {
    font-size: 30px;
    margin-top: 20px;
  }
}
.terms-msg {
  color: #FFFFFF;
  font-size: 10px;
  margin-bottom: 15px;
}
