/* Color scheme definitions */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* Overridden css for base_style.css */
.contact-me-error {
  color: red;
  font-size: 10px;
  margin-bottom: 5px;
}
.hero-wrapper {
  background-color: #f6f5f3;
}
.hero-wrapper #topbar {
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  z-index: 200;
}
.terms-msg {
  font-size: 12px;
  margin: 10px 0;
  color: #666;
}
.car-banner {
  padding: 15px;
  background-color: #324351;
  height: 200px;
}
.base-box {
  margin: 40px 0 15px 0;
}
.base-box ul {
  max-width: 300px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.base-box ul li {
  opacity: 0.8;
  margin: 0px;
  padding: 8px 18px 5px 38px;
  display: inline-block;
  vertical-align: top;
  color: #666;
  font-size: 10px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  font-weight: 400;
}
.base-box ul li.icon-seal {
  opacity: 1;
  padding: 0px 5px;
  border: 0px;
}
.base-box ul li.icon-seal img.icon {
  width: 120px;
  position: absolute;
  top: 3px;
  left: 0;
}
.base-box ul li img.icon {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 25px;
}
.phone_container {
  margin: 20px 0;
}
.phone_container .terms-msg {
  font-size: 11px;
}
.phone_container .base-box {
  margin: 15px 0;
}
.phone_container p {
  color: #324351;
}
.phone_container .tlk_expert {
  margin: 5px 0 10px 0;
  font-size: 16px;
}
.phone_container .orange_btn {
  background-color: #ff6127;
  border: 2px solid #ff512b;
  letter-spacing: 1px;
  padding: 5px 54px;
  font-size: 14px;
  color: #fff;
  width: 100%;
  margin-top: 10px;
}
.phone_container h5 {
  color: #EF4D12;
  line-height: 1.4em;
}
.phone_container .pre_phone {
  position: absolute;
  left: 6px;
  top: 39px;
  color: #324351;
}
.phone_container input {
  padding: 7px 10px 6px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  border-left: 0;
  margin-left: -2px;
  outline: none;
  background: #f6f5f3;
  width: 100%;
}
.discription_container .top_mobile_logo {
  margin: 50px 0 0 0;
}
.discription_container .top_mobile_logo .same_product {
  padding-right: 0;
}
.discription_container .top_mobile_logo .same_product h5 {
  font-size: 13px;
  margin: 55px 0 0 0;
}
.discription_container .top_mobile_logo .same_product p {
  line-height: 16px;
  color: #fff;
  margin: 0 0 5px;
}
.discription_container h1 {
  font-size: 18px;
  color: #fff;
  margin: 0;
}
.discription_container .iffco img {
  background: #fff;
  padding: 20px 0;
  border: 1px solid #d0d0d0;
}
.discription_container .info_tab {
  padding: 0;
}
.discription_container .info_tab .input_container {
  position: relative;
}
.discription_container .info_tab .input_container .orange_btn {
  background-color: #ff6127;
  border: 2px solid #ff512b;
  letter-spacing: 1px;
  padding: 5px 54px;
  font-size: 16px;
  color: #fff;
  margin-left: 5px;
}
.discription_container .info_tab .input_container span {
  position: absolute;
  left: 6px;
  top: 6px;
}
.discription_container .info_tab .input_container input {
  padding: 7px 10px 6px 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #d0d0d0;
  outline: none;
  background: #f6f5f3;
  width: 45%;
}
.discription_container .info_tab h1 {
  font-size: 25px;
  margin-top: 0;
  color: #fff;
}
.discription_container .info_tab h5 {
  margin-top: 40px;
  color: #EF4D12;
  font-size: 20px;
  line-height: 1.4em;
}
.discription_container .info_tab .header_txt {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300;
}
.discription_container .info_tab p {
  margin: 10px 0;
}
.discription_container .info_tab p.tlk_expert {
  font-size: 16px;
}
.pt {
  padding-top: 25px;
  padding-bottom: 25px;
}
.companies-wrapper-mobile {
  text-align: center;
  padding: 30px 0 0 0;
  margin: 310px 0 0 0;
}
.companies-wrapper-mobile .logos {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.companies-wrapper-mobile .logos li {
  display: inline-block;
  padding: 15px;
  position: relative;
}
.companies-wrapper-mobile .logos li img {
  max-width: 100px;
}
.companies-wrapper-mobile .orange_btn {
  background-color: #ff6127;
  border: 2px solid #ff512b;
  letter-spacing: 1px;
  padding: 5px 54px;
  font-size: 14px;
  color: #fff;
  margin-left: -6px;
  margin-bottom: 20px;
  text-align: center;
}
.renew_car_section h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
  line-height: 1.2em;
}
.renew_car_section ul {
  padding: 0px;
  list-style: none;
}
.renew_car_section ul li {
  margin: 5px 0px;
  padding: 5px 5px 5px 30px;
  position: relative;
}
.renew_car_section ul li img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #666666;
  padding: 3px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 0px;
  margin-right: 5px;
  display: inline-block;
}
/* Mobile optimisation for banner elements */
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .discription_container .top_mobile_logo .same_product h5 {
    margin: 10px 0 0 0;
  }
  .car-banner {
    height: 136px;
  }
  .phone_container {
    margin: 0;
  }
  .companies-wrapper-mobile {
    margin: 270px 0 0 0;
  }
  .discription_container .top_mobile_logo {
    margin: 20px 0 0 0;
  }
  .discription_container_mobile .iffco img {
    padding: 20px 0;
  }
  .base-box ul li.icon-seal img.icon {
    width: 73px;
    position: absolute;
    top: 12px;
    left: 0;
  }
  .base-box ul li {
    padding-right: 4px;
    font-size: 9px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 23px;
  }
  .light-box h1,
  .dark-box h1 {
    font-size: 20px;
    margin: 0;
  }
  .light-box {
    padding: 10px 0px 40px;
  }
  .hero-wrapper {
    background-color: #fff;
  }
  .companies-wrapper {
    top: 245px;
    height: 375px;
    background: none;
  }
  .discription_container_mobile .make_sure {
    margin: 30px 0 10px 0;
  }
  .form-box-mini .cfinput,
  .form-box-mini .btn-cfox {
    max-width: 400px;
  }
}
@media only screen and (min-width: 1600px) {
  .car-banner {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 200px) and (max-width: 950px) {
  .discription_container .car-tab img {
    top: -36px;
  }
  .discription_container .info_tab .input_container input {
    max-width: 149px;
  }
  .discription_container .info_tab h1 {
    margin: 2px 0;
  }
  .discription_container .info_tab .header_txt {
    font-size: 13px;
  }
  .renew_car_section ul {
    margin: 0;
  }
}
