@import "../../css/base_theme";
@bannerBackgroundColor:#f6f5f3;
/* Overridden css for base_style.css */
.contact-me-error{
  color:red;
  font-size: 10px;
  margin-bottom: 5px;
}
.hero-wrapper {
  background-color: @bannerBackgroundColor;
  &  #topbar {
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: #ffffff;
    z-index: 200;
  }
}
.terms-msg{
  font-size: 12px;
  margin: 10px 0;
  color:#666;
}
.car-banner {
  padding:15px;
  background-color: #324351;
  height: 200px;
}
.base-box {
  margin: 40px 0 15px 0;
  & ul {
    max-width:300px;
    margin:0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    & li {
      opacity: 0.8;
      margin: 0px;
      padding: 8px 18px 5px 38px;
      display:inline-block;
      vertical-align: top;
      color:#666;
      font-size: 10px;
      line-height: 1.2em;
      text-transform: uppercase;
      letter-spacing: 1px;
      position: relative;
      font-weight: 400;
      &.icon-seal {
        opacity: 1;
        padding: 0px 5px;
        border: 0px;
        img.icon {
          width: 120px;
          position: absolute;
          top:3px;
          left:0;
        }
      }
      & img.icon {
        position:absolute;
        top:5px;
        left:0px;
        width:25px;
      }
    }
  }
}
.phone_container{
    margin: 20px 0;
    .terms-msg{
      font-size: 11px;
    }
    .base-box{
      margin: 15px 0;
    }
    p{
      color:#324351;

    }
    .tlk_expert{
      margin: 5px 0 10px 0;
      font-size: 16px;
    }
    .orange_btn {
      background-color: #ff6127;
      border: 2px solid #ff512b;
      letter-spacing: 1px;
      padding: 5px 54px;
      font-size: 14px;
      color:#fff;
      width: 100%;
      margin-top: 10px;
    }
    h5 {
      color: #EF4D12;
      line-height: 1.4em;
    }
    .pre_phone{
      position: absolute;
      left:6px;
      top:39px;
      color:#324351;
    }
    input{
      padding: 7px 10px 6px 15px;
      .roundedCorners;
      border:1px solid #d0d0d0;
      border-left:0;
      margin-left: -2px;
      outline: none;
      background: #f6f5f3;
      width: 100%;
    }
  }
.discription_container{
  .top_mobile_logo{
      margin: 50px 0 0 0;
      .same_product{
        padding-right: 0;
        h5{
          font-size: 13px;
          margin: 55px 0 0 0;
        }
        p{
          line-height: 16px;
          color:#fff;
          margin: 0 0 5px;
        }
      }
    }
  h1{
    font-size: 18px;
    color:#fff;
    margin: 0;
  }
  .iffco{
    img{
      background: #fff;
      padding: 20px 0;
      border:1px solid #d0d0d0;
    }

  }
  .info_tab{
    padding: 0;
    .input_container{
      position: relative;
      .orange_btn {
        background-color: #ff6127;
        border: 2px solid #ff512b;
        letter-spacing: 1px;
        padding: 5px 54px;
        font-size: 16px;
        color:#fff;
        margin-left: 5px;
      }
      span{
        position: absolute;
        left:6px;
        top:6px;
      }
      input{
        padding: 7px 10px 6px 40px;
        .roundedCorners;
        border:2px solid #d0d0d0;
        outline: none;
        background: #f6f5f3;
        width: 45%;
      }
    }
    h1{
      font-size: 25px;
      margin-top: 0;
      color:#fff;
    }
    h5{
      margin-top:40px;
      color: #EF4D12;
      font-size: 20px;
      line-height: 1.4em;
    }
    .header_txt{
      font-size: 14px;
      text-transform: uppercase;
      color:#fff;
      letter-spacing: 1px;
      font-weight: 300;
    }
    p{
      margin: 10px 0;
    }
    p.tlk_expert{
      font-size: 16px;
    }
  }
}
.pt{
  padding-top: 25px;
  padding-bottom: 25px;
}
.companies-wrapper-mobile{
  text-align: center;
  padding: 30px 0 0 0;
  margin: 310px 0 0 0;
  .logos{
  list-style-type: none;
  text-align: center;
  padding: 0;
  li{
    display: inline-block;
    padding: 15px;
    position: relative;
    img{
      max-width: 100px;
    }
    }
  }
  .orange_btn {
    background-color: #ff6127;
    border: 2px solid #ff512b;
    letter-spacing: 1px;
    padding: 5px 54px;
    font-size: 14px;
    color:#fff;
    margin-left: -6px;
    margin-bottom:20px;
    text-align: center;
  }
}
.renew_car_section{
  h3{
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
    line-height: 1.2em;
  }
  ul{
    padding: 0px;
    list-style: none;
    li{
      margin: 5px 0px;
      padding: 5px 5px 5px 30px;
      position: relative;
      img{
        .roundedCorners(50%);
        background-color: rgb(102, 102, 102);
        padding: 3px;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        left: 0px;
        margin-right: 5px;
        display: inline-block;
      }
    }
  }
}
/* Mobile optimisation for banner elements */

@media only screen and (min-width : 200px) and (max-width : 767px) {
  .discription_container .top_mobile_logo .same_product h5{
    margin: 10px 0 0 0;
  }
  .car-banner{
    height: 136px;
  }
  .phone_container{
    margin: 0;
  }
  .companies-wrapper-mobile{
    margin: 270px 0 0 0;
  }
  .discription_container .top_mobile_logo{
    margin: 20px 0 0 0;
  }
  .discription_container_mobile .iffco img{
    padding: 20px 0;
  }
  .base-box ul li.icon-seal img.icon {
    width: 73px;
    position: absolute;
    top: 12px;
    left: 0;
  }
  .base-box ul li{
    padding-right: 4px;
    font-size: 9px;
  }
  .companies-wrapper ul.company-logos li img{
    height: 23px;
  }
  .light-box h1, .dark-box h1{
    font-size: 20px;
    margin: 0;
  }
  .light-box{
    padding: 10px 0px 40px;
  }
  .hero-wrapper{
    background-color: #fff;
  }
  .companies-wrapper{
    top:245px;
    height: 375px;
    background: none;
  }
  .discription_container_mobile .make_sure{
    margin: 30px 0 10px 0;
  }
  .form-box-mini {
    & .cfinput, & .btn-cfox {
      max-width: 400px;
    }
  }
}

@media only screen and (min-width : 1600px) {
  .car-banner {
    max-width:1480px;
    margin-left:auto;
    margin-right:auto;
  }
}
@media only screen and (min-width : 200px) and (max-width : 950px) {
  .discription_container .car-tab img {
    top: -36px;
  }
  .discription_container .info_tab .input_container input{
    max-width: 149px;
  }
  .discription_container .info_tab h1{
    margin: 2px 0;
  }
  .discription_container .info_tab .header_txt{
    font-size: 13px;
  }
  .renew_car_section ul{
    margin: 0;
  }
}

