
@font-face {
    font-family: MyriadPro;
    src: url(MyriadPro-Regular.otf);
}
body{
 font-family: MyriadPro;
}
.social_container{
    background-color: #334352;
    padding: 10px;

}
.social_container p{
    font-size: 20px;
     margin: 13px 0 0;
     color:#fff;

}
.quiz_page {
    display: none;
}
.quiz_page.active{
    display: block;
}

.bg-style {
    background:#314150;
    background-size:45%;
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
.bg_result {
    background:#fff;
    background-size:45%;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
.quiz-head {
    font-size:40px;
    color:#ffffff;
    margin-bottom:36px;
    margin-top:36px;
    line-height:1.2em;
}
div.input {
    padding:10px 0px 10px 70px;
    font-size:26px;
    color:#7b631e;
}
div.input input[type="radio"] {
    margin-right:10px;
    margin-left:-30px;
}
.quiz-img {
    background-color:#dadada;
    height:200px;
    width:100%;
    display:block;
    margin:10px auto;
}
#quiz_form legend{
    border-bottom:none;
    font-size:30px;
    padding-left:70px;
}
#quiz_form label {
    border:1px solid transparent;
    font-weight:normal;
    cursor:pointer;
    padding-right:10px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s; /* Safari */
}
#quiz_form label:hover {
    border-color:transparent;
    background-color:#ebebeb;
}
.goll {
    border-radius:50%;
    background-color:#7b631e;
    color:#ffffff;
    font-size:20px;
    width:50px;
    display:inline-block;
    text-align:center;
    font-weight:bold;
    padding-top:10px;
    height:50px;
    margin-right:10px;
    margin-left:-70px;
}
.main-container {
    margin-top:0px;
    padding: 0;
}
#quiz_form label.checked {
    background-color:#ebebeb;
}
@media only screen and (max-width:978px){
    .bg-style {background-image:none;}
}
.goll {
    border-radius:50%;
    background-color:#7b631e;
    color:#ffffff;
    font-size:20px;
    width:50px;
    display:inline-block;
    text-align:center;
    font-weight:bold;
    padding-top:10px;
    height:50px;
    margin-right:10px;
    margin-left:-70px;
}
.main-container {
    margin-top:0px;
}
#quiz_form label.checked {
    background-color:#ebebeb;
}
@media only screen and (max-width:978px){
    .bg-style {background-image:none;}
}

/* con-o-meter page css */


.thermo {
    width:70%;
    margin:0px auto 20px;
}
.conometer {
    width:70%;
    margin:auto;
    text-align:center;
    position:fixed;
    width:100%;
    height:100%;
    background:url('/static/rdesk/img/cono-rupy.png') no-repeat bottom left  #c8d746;
    background-size:35%;
    z-index:1000;
    overflow-y:scroll;
}
.conometer h1 {
    font-size:50px;
    color:#ffffff;
}
.conometer h2 {
    font-size:30px;
    color: #7b631e;
}
.conometer h3 {
    font-size:26px;
    margin-bottom:20px;
}
.count-disp {
    font-size:70px;
}
.btn-brown {
    background:url('/static/rdesk/img/arrowmark.png') no-repeat 10px center #7b631e;
    border-width:2px;
    padding:20px;
    background-size:50px;
    margin-top:5%;
    padding-left:80px;
    font-size:36px;
    color:#ffffff;
}
.btn-brown:hover {
    background-color:#603913;
    color:#ffffff;
}

/* con-o-meter page css  ends */
.progress-bar {
  -webkit-transition: width 30.0s ease !important;
     -moz-transition: width 30.0s ease !important;
       -o-transition: width 30.0s ease !important;
          transition: width 30.0s ease !important;
}

.progress_wheel > div {
    margin-left: 0px;
    float:left;
    z-index:0;
}
.progress_wheel {
    position:relative;
}
.lookup {
    position:absolute;
    background-color:rgb(145,191,226);
    width:370px;
    height:250px;
    border:4px solid rgb(226,226,253);
    z-index:-1px;
    top:2px;
    border-radius:30px;
    right:0px;
    padding-left:100px;
    padding-right:10px;
    padding-top:20px;
}
.lookitem {
    margin-bottom:5px;
    color:#ffffff;
    font-size:22px;
}
@media only screen and (max-width:960px) {
    .conometer {
        background:#c8d746;
    }
}

.soc_before {
    width: 90px;
}
.soc_after {
    padding-top:10px;
}
.quiz_container_nw{
    max-width: 600px;
    margin: 40px auto;
}
.quiz_container_nw .main_box_container{
    width:325px;
    height: 170px;
    border:5px solid #fff;
    border-radius:20px;
    position: relative;
    margin: 40px auto;
}
.quiz_container_nw .main_box_container .inner_box{
    background-color: #fff;
    border:5px solid #2b3946;
    width: 315px;
    height: 160px;
    font-size: 34px;
    font-weight: 600;
    border-radius:20px;
    text-align: center;
    color:#2b3946;
}
.quiz_container_nw .main_box_container .inner_box span{
    color:#ef5f2b;
}
.quiz_container_nw .main_box_container .inner_box .top_txt{
    font-size: 25px;
    font-weight: 600;
    color:#2b3946;
}
.quiz_container_nw .main_box_container:after{
    content: "";
    position: absolute;
    border: 5px solid #ef5f2b;
    top: -47px;
    bottom: 10px;
    left: 153px;
    height: 42px;
    }
.quiz_container_nw .main_box_container:before{
    content: "";
    position: absolute;
    border: 5px solid #ef5f2b;
    top: 165px;
    bottom: 0;
    left: 146px;
    height: 42px;
}
.btn_container{
    padding: 2px 0 20px;
    text-align: center;

}
.btn_container button{
    background-color: #ef5f2b;
    display: block;
    width: 300px;
    margin: 0 auto;
    border:0;
    padding: 5px;
    font-size: 30px;
    font-weight: 400;
    color:#fff;
    text-align: center;
    cursor: pointer;
    outline: none;
}
.quiz_container_nw img{
    max-width: 170px;
}
.radio_quetion_container{
    max-width: 360px;
    margin: auto;
    text-align: left;
}
.form-box-mini {
  background-color: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.form-box-mini label {
  margin-bottom: 5px;
  display: block;
  color: #404040;
  font-weight: 400;
}
.form-box-mini ul {
  padding: 0;
  margin:30px 0;
}
.form-box-mini ul li {
  background-image: none;
  color: #fff;
  cursor: pointer;
  list-style-type: none;
  padding-left: 46px;
  position: relative;
  padding-top: 0;
  margin: 25px 0;
  font-size: 30px;
}
.form-box-mini ul li .checkbox {
  position: absolute;
  top: 9px;
  left: 0px;
  width: 14px;
  height: 14px;
  margin: 0px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.form-box-mini ul li .checkbox:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  display: none;
  background-color: #ff6127;
}
.form-box-mini ul li.active {
  color:#ee6030;
}
.form-box-mini ul li.active .checkbox:before {
  display: block;
}
.progress_container{
    text-align: left;
    font-size: 22px;
    padding: 0 0 20px;
    color:#fff;
    text-transform: uppercase;
}
progress {
    width: 100%;
    height: 8px;
    display: block;
    margin: 10px 0 0;
    -webkit-appearance: none;
    border: none;
}
progress::-webkit-progress-bar {
   background-color: #fff;
}
progress::-webkit-progress-value {
background-color:#ff6127;
}
progress::-moz-progress-bar {
    background: #ff6127;
}
.logo-style{
    max-width: 200px;
}
.result_container{
    margin: 100px 0;
    color:#2b3946;
}
.result_container img{
    width: 100%;
}
.result_container h2{
   margin: 0 0 10px;
   font-size: 25px;
   color:#2b3946;
}
.result_container p{
   font-size: 23px;
}
.result_container p.img_b{
   font-size: 20px;
   margin: 20px 0 0;
}
.link_container{
    margin: 100px 0 0;
    text-align: center;
}
.link_container a{
    padding: 6px 50px;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    background-color: #ff704c;
    border: 1px solid #ff5c32;
}

.roadside_button {
    background-color: #ef5f2b;
    display: block;
    width: 300px;
    margin: 0 auto;
    border: 0;
    padding: 5px;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    cursor: pointer;
    outline: none;
}

