/* Color scheme definitions */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* Overridden css for base_style.css */
.hero-wrapper {
  background-color: #27343e;
}
.hero-wrapper #topbar {
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  z-index: 200;
}
.companies-wrapper {
  -webkit-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
}
.terms-msg {
  margin: 10px 0;
  font-size: 10px;
}
/* car banner css */
.car-banner {
  padding: 0;
  background: url(../img/claim-support-banner.jpg) no-repeat bottom left #27343e;
  -webkit-background-size: cover;
  background-size: cover;
}
.car-banner .club-form {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1px 15px;
}
.car-banner .club-form h1 {
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.4em;
  font-weight: 500;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
.car-banner .club-form h2 {
  margin-bottom: 15px;
  font-size: 16px;
  margin-top: 0px;
  font-weight: 600;
  line-height: 1.4em;
}
.car-banner .club-form .heading-banner {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  text-align: left;
}
.car-banner .club-form .heading-banner ul {
  margin: 20px 0 40px;
  padding: 0;
}
.car-banner .club-form .heading-banner ul li {
  list-style-type: none;
  color: #363636;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: left;
  padding-left: 30px;
  position: relative;
  display: block;
}
.car-banner .club-form .heading-banner ul li img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #666666;
  padding: 3px;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0px;
}
.car-banner .club-form .form-box-mini {
  background-color: rgba(0, 0, 0, 0);
}
.companies-wrapper {
  background-color: #f9f9f9;
}
.benefits {
  padding: 20px 0px 40px;
}
.benefits .brand-color {
  color: #ff6127;
}
.benefits h1 {
  font-size: 35px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
}
.benefits h1 .logo {
  max-width: 150px;
  margin-top: -5px;
  display: inline-block;
}
.benefits h3 {
  color: #6b6b6b;
  margin-top: 0px;
  font-size: 18px;
  line-height: 1.4em;
}
.benefits ul {
  margin: 30px 0 20px;
  padding: 0px;
  position: relative;
  max-width: 750px;
}
.benefits ul li {
  list-style-type: none;
  color: #363636;
  margin-bottom: 15px;
  font-size: 16px;
  text-align: left;
  padding-left: 30px;
  position: relative;
  display: block;
  float: left;
  width: 50%;
}
.benefits ul li img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #666666;
  padding: 3px;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0px;
}
.services {
  background-color: #27343e;
  color: rgba(255, 255, 255, 0.7);
}
.services h1,
.services h4 {
  color: #ffffff;
}
.services .corner-border {
  border-width: 0px 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
}
.services .proposition {
  margin: 20px 0px;
  position: relative;
  padding-left: 115px;
}
.services .proposition img {
  max-width: 100px;
  position: absolute;
  display: inline-block;
  margin-bottom: 10px;
  top: 0px;
  left: 0px;
}
.toll-free-box {
  font-size: 18px;
  max-width: 40%;
  position: absolute;
  bottom: 0px;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}
.toll-free-box h3 {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
}
/* Mobile optimisation for banner elements */
@media only screen and (min-width: 1600px) {
  .car-banner {
    margin: auto;
    max-width: 1600px;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .toll-free-box {
    font-size: 16px;
  }
  .toll-free-box h3 {
    font-size: 26px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 990px) {
  .services .proposition {
    text-align: center;
    padding-left: 0px;
  }
  .services .proposition img {
    position: relative;
  }
  .toll-free-box {
    position: relative;
    padding: 0px 10px 10px;
    max-width: 100%;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .car-banner {
    padding: 0;
    background: #27343e none;
  }
  .car-banner .club-form {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }
  .car-banner .club-form h1 {
    margin-top: 20px;
  }
  .car-banner .club-form .form-box-mini {
    background-color: transparent;
    border: 0 solid transparent;
    max-width: 450px;
  }
  .car-banner .club-form .heading-banner {
    padding: 0 20px;
    margin-bottom: -20px;
  }
  .car-banner .club-form .heading-banner > img {
    display: none;
  }
  .car-banner .club-form .heading-banner ul {
    text-align: left;
  }
  .car-banner .club-form .heading-banner ul li {
    font-size: 16px;
    width: auto;
    margin-right: 10px;
  }
  .services .corner-border {
    border: none;
  }
  .services .proposition {
    text-align: center;
    max-width: 450px;
    margin: 30px auto;
  }
  .benefits ul li {
    float: none;
    width: 100%;
  }
}
/* form box mini css*/
.form-box-mini {
  padding: 1px 10px 15px;
  max-width: 400px;
}
.form-box-mini label {
  margin-bottom: 5px;
  display: block;
  font-weight: 400;
}
.form-box-mini .closer {
  display: none;
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
}
.form-box-mini .btn-cfox.btn-next {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.form-box-mini ul {
  padding: 0;
  margin: 0px 0 10px 0;
}
.form-box-mini ul li {
  background-image: none;
  cursor: pointer;
  list-style-type: none;
  padding-left: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
  position: relative;
  padding-top: 0;
  height: 30px;
  font-size: 14px;
}
.form-box-mini ul li .checkbox {
  position: absolute;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
  top: 1px;
  left: 0px;
  width: 22px;
  height: 22px;
  margin: 0px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.form-box-mini ul li .checkbox:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: none;
  background-color: #ff6127;
}
.form-box-mini ul li.active {
  font-weight: 700;
}
.form-box-mini ul li.active .checkbox:before {
  display: block;
}
.form-box-mini .error {
  background-color: #e996b0;
  color: rgba(0, 0, 0, 0.58);
  padding: 5px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-box-mini .cfinput {
  border: 2px solid #ffffff;
  padding: 10px 5px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.form-box-mini .cfinput.has-error {
  border-color: #8b0000;
  background-color: #FFE2EB;
}
.form-box-mini .cfinput.addon-field {
  padding-left: 40px;
  position: relative;
}
.form-box-mini .cfinput .addon {
  color: #ffffff;
  font-size: 14px;
  position: absolute;
  top: 11px;
  left: 8px;
}
.form-box-mini .cfinput input {
  border: 0;
  color: #ffffff;
  background-color: transparent;
  width: 100%;
}
.form-box-mini .cfinput input:hover,
.form-box-mini .cfinput input:focus,
.form-box-mini .cfinput input:active {
  outline: none;
}
