@import "../../css/base_theme";
@bannerBackgroundColor:#27343e;
/* Overridden css for base_style.css */
.hero-wrapper {
  background-color: @bannerBackgroundColor;
  &  #topbar {
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: #ffffff;
    z-index: 200;
  }
}
.companies-wrapper {
  .boxShadow(0px -5px 15px rgba(0, 0, 0, 0.03));
}
.terms-msg{
  margin: 10px 0;
  font-size: 10px;
}


/* car banner css */
.car-banner {
  padding:0;
  background: url(../img/claim-support-banner.jpg) no-repeat bottom left @bannerBackgroundColor;
  -webkit-background-size: cover;
  background-size: cover;
  & .club-form {
    color: #ffffff;
    background-color: rgba(0,0,0,0.7);
    padding:1px 15px;

    & h1 {
      font-size:20px;
      letter-spacing: 1px;
      line-height: 1.4em;
      font-weight: 500;
      margin:20px 0 10px;
      text-transform: uppercase;
    }
    & h2 {
      margin-bottom:15px;
      font-size: 16px;
      margin-top: 0px;
      font-weight: 600;
      line-height: 1.4em;
    }
    & .heading-banner {
      padding-left:20px;
      padding-right:20px;
      margin-top: 30px;
      text-align:left;

      & ul {
        margin:20px 0 40px;
        padding:0;
        li {
          list-style-type: none;
          color:@textColor;
          margin-bottom:10px;
          font-size:15px;
          text-align: left;
          padding-left:30px;
          position: relative;
          display: block;

          & img {
            .roundedCorners(50%);
            background-color: #666666;
            padding:3px;
            width:20px;
            height:20px;
            display: inline-block;
            position: absolute;
            top:1px;
            left:0px;
          }
        }
      }
    }
    & .form-box-mini {
      background-color: rgba(0,0,0,0.0);
    }
  }
}
.companies-wrapper {
  background-color: @boxDarkBackground;
}
.benefits {
  padding:20px 0px 40px;
  & .brand-color {
    color: @baseThemeColor;
  }
  h1 {
    font-size: 35px;
    text-align: left;
    margin-top:10px;
    margin-bottom: 5px;
    .logo {
      max-width: 150px;
      margin-top: -5px;
      display: inline-block;
    }
  }
  h3 {
    color: @lightTextColor;
    margin-top:0px;
    font-size:18px;
    line-height: 1.4em;
  }
  & ul {
    margin:30px 0 20px;
    padding:0px;
    position: relative;
    max-width: 750px;
    li {
      list-style-type: none;
      color:@textColor;
      margin-bottom:15px;
      font-size:16px;
      text-align: left;
      padding-left:30px;
      position: relative;
      display: block;
      float: left;
      width:50%;
      & img {
        .roundedCorners(50%);
        background-color: #666666;
        padding:3px;
        width:20px;
        height:20px;
        display: inline-block;
        position: absolute;
        top:1px;
        left:0px;
      }
    }
  }
}
.services {
  background-color: #27343e;
  color: rgba(255,255,255,0.7);
  h1,h4 {
    color: #ffffff;
  }
  .corner-border {
    border-width: 0px 1px;
    border-style: solid;
    border-color: rgba(255,255,255,0.2);
  }
  .proposition {
    margin: 20px 0px;
    position: relative;
    padding-left:115px;
    & img {
      max-width: 100px;
      position: absolute;
      display: inline-block;
      margin-bottom:10px;
      top:0px;
      left:0px;
    }
  }
}

.toll-free-box {
  font-size:18px;
  max-width:40%;
  position: absolute;
  bottom:0px;
  color: #fff;
  text-shadow:0px 1px 1px rgba(0,0,0,0.7);
  h3 {
    margin-top:5px;
    margin-left:5px;
    font-size:30px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
  }
}
/* Mobile optimisation for banner elements */

@media only screen and (min-width : 1600px) {
  .car-banner {
    margin: auto;
    max-width: 1600px;
  }
}
@media only screen and (min-width : 991px) and (max-width : 1200px) {
  .toll-free-box {
    font-size:16px;
    h3 {
      font-size: 26px;
    }
  }
}
@media only screen and (min-width : 200px) and (max-width : 990px) {
  .services {
    .proposition {
      text-align: center;
      padding-left: 0px;
      & img {
        position: relative;
      }
    }
  }
  .toll-free-box {
    position: relative;
    padding:0px 10px 10px;
    max-width: 100%;
  }
}
@media only screen and (min-width : 200px) and (max-width : 767px) {
  .car-banner {
    padding:0;
    background: @bannerBackgroundColor none;
    & .club-form {
      padding-left:0;
      padding-right:0;
      background-color: transparent;
      & h1 {
        margin-top:20px;
      }
      & .form-box-mini {
        background-color: transparent;
        border: 0 solid transparent;
        max-width: 450px;
      }
      & .heading-banner {
        padding: 0 20px;
        margin-bottom:-20px;
        & > img {
          display: none;
        }
        & ul {
          text-align: left;
          li {
            font-size: 16px;
            width: auto;
            margin-right:10px;
          }
        }
      }
    }
  }
  .services {
    .corner-border {
      border: none;
    }
    .proposition {
      text-align: center;
      max-width: 450px;
      margin: 30px auto;
    }
  }
  .benefits {
    ul li {
      float: none;
      width: 100%;
    }
  }
}

/* form box mini css*/

.form-box-mini {
  padding: 1px 10px 15px;
  max-width: 400px;
  label {
    margin-bottom:5px;
    display: block;
    font-weight: 400;
  }
  .closer {
    display: none;
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
  }
  .btn-cfox.btn-next {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom:10px;
  }
  ul {
    padding:0;
    margin: 0px 0 10px 0;
    & li {
      background-image: none;
      cursor: pointer;
      list-style-type: none;
      padding-left: 30px;
      margin-bottom: 5px;
      margin-top: 5px;
      position: relative;
      padding-top: 0;
      height: 30px;
      font-size: 14px;
      & .checkbox {
        position: absolute;
        .boxShadow(1px 1px 2px rgba(0, 0, 0, 0.3) inset);
        top: 1px;
        left: 0px;
        width: 22px;
        height: 22px;
        margin: 0px;
        background-color: #ffffff;
        border: 1px solid rgba(0,0,0,0.3);
        .roundedCorners(50%);
        &:before {
          content:'';
          position: absolute;
          top:5px;
          left:5px;
          .roundedCorners(50%);
          width:10px;
          height:10px;
          display: none;
          background-color: @baseThemeColor;
        }
      }
      &.active {
        font-weight: 700;
        & .checkbox {
          &:before {
            display: block;
          }
        }
      }
    }
  }
  .error {
    background-color: rgb(233, 150, 176);
    color: rgba(0, 0, 0, 0.58);
    padding: 5px;
    margin-bottom: 10px;
    .roundedCorners(3px);
  }
  .cfinput {
    border: 2px solid #ffffff;
    padding:10px 5px;
    background-color: rgba(0,0,0,0.5);
    .roundedCorners(3px);
    margin-bottom:10px;
    &.has-error {
      border-color: #8b0000;
      background-color: #FFE2EB;
    }
    &.addon-field {
      padding-left:40px;
      position: relative;
    }
    .addon {
      color:#ffffff;
      font-size: 14px;
      position: absolute;
      top:11px;
      left:8px;
    }
    input {
      border: 0;
      color: #ffffff;
      background-color: transparent;
      width: 100%;
      &:hover,&:focus,&:active {
        outline: none;
      }
    }
  }
}

