.btn-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
}
.selector-gradient {
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset !important;
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset !important;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset !important;
}
.cf-btn-orange {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4ac0f0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.cf-btn-orange:hover,
.cf-btn-orange:active {
  text-decoration: none;
  background-color: #1bb0ec !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
}
.cf-btn-orange.btn-lg {
  padding: 10px 12px;
}
.navbar.cf-navbar {
  background-color: #ffa360;
}
.navbar.cf-navbar .cf-navbar-brand {
  display: none !important;
}
.result-screen {
  padding-top: 0px;
  padding-bottom: 50px;
}
.result-screen.indiv-detail {
  padding-top: 0px;
}
.cf-navbar-filter {
  border-bottom-color: #ffa360;
}
.bottom-tabs {
  background-color: #666666;
}
.bottom-tabs .opt.active {
  background-color: #ffa360;
}
.expert-card,
.cf-footer,
.call-box-fixed {
  display: none !important;
}
.cf-result-card.open .cf-result-face .cf-btn-orange,
.cf-dummy-card.open .cf-result-face .cf-btn-orange {
  display: none !important;
}
.cf-result-card .color,
.cf-dummy-card .color,
.cf-result-card .cf-result-body .hdg,
.cf-dummy-card .cf-result-body .hdg {
  color: #ff852d;
}
.main-properties h4,
a {
  color: #ff852d;
}
.overlay-intro img.mono-logo {
  display: none !important;
}
.cf-step-nav {
  height: 100vh;
}
.btn-gender.active {
  background-color: #ffa360;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset !important;
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset !important;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset !important;
}
.tiny-wizard li.active span,
.tiny-wizard li.done span.check-icon {
  background-color: #ffa360;
  border-color: #ff852d;
}
.head {
  color: #616161;
  text-transform: none;
}
.btn-gender,
.member {
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset !important;
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset !important;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset !important;
}
.member {
  border-color: rgba(0, 0, 0, 0.1);
}
.member .add {
  color: #616161;
  position: relative;
}
.member .add:before {
  content: '+';
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  padding: 1px 5px;
  font-size: 16px;
  display: block;
  position: absolute;
  width: 18px;
  line-height: 1em;
  height: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  top: 2px;
  left: 4px;
}
.member .add img {
  opacity: 0;
  visibility: hidden;
}
.member .added {
  position: relative;
}
.member .added:before {
  content: '';
  display: block;
  position: absolute;
  width: 22px;
  height: 20px;
  background: url('../img/tick-icon.png') no-repeat center center #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  top: 1px;
  left: 4px;
}
.member .added img {
  opacity: 0;
  visibility: hidden;
}
.member.selected {
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset !important;
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset !important;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset !important;
  background-color: #ffa360;
  border-color: rgba(0, 0, 0, 0.1);
}
.member .added {
  color: #ffffff;
}
.cf-btn-green.btn-kid {
  color: #616161;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset !important;
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset !important;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03) inset !important;
  background: #f9f9f9;
  border-color: rgba(0, 0, 0, 0.1);
}
