* {
  -webkit-backface-visibility: hidden;
}
.pnone {
  padding: 0;
}
.plnone {
  padding-left: 0;
}
.mnone {
  margin: 0;
}
.mpoint {
  cursor: pointer;
}
.bnone {
  border: none !important;
}
.cubic-trans {
  -webkit-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -moz-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -o-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -ms-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
}
.box-shadow-base {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.cf-btn-orange {
  background-color: #FF7B5E;
  letter-spacing: 1px;
  color: #fff;
  padding: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #FF7B5E;
}
.cf-btn-orange:hover,
.cf-btn-orange:active {
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff7354;
}
.cf-btn-orange.btn-sm {
  padding: 4px;
}
.cf-btn-orange.btn-empty {
  color: #314451;
  background-color: transparent;
  border: 1px solid #FF7B5E;
}
.cf-btn-orange.btn-empty:hover,
.cf-btn-orange.btn-empty:active,
.cf-btn-orange.btn-empty:focus {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background-color: #f7f7f7;
  outline: none;
}
.cf-btn-green {
  background-color: #00D9AA;
  letter-spacing: 1px;
  color: #fff;
  padding: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #00D9AA;
  border: 1px solid #00cfa2;
}
.cf-btn-green:hover,
.cf-btn-green:active {
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00cfa2;
}
.cf-btn-green.btn-sm {
  padding: 4px;
}
.cf-btn-green.btn-empty {
  color: #314451;
  background-color: transparent;
  border: 1px solid #00D9AA;
}
.cf-btn-green.btn-empty:hover,
.cf-btn-green.btn-empty:active,
.cf-btn-green.btn-empty:focus {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background-color: #f7f7f7;
  outline: none;
}
.cf-btn-default {
  background-color: #fff;
  letter-spacing: 1px;
  color: #fff;
  padding: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #fff;
  color: #314451;
  border: 1px solid #d9d9d9;
}
.cf-btn-default:hover,
.cf-btn-default:active {
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #fafafa;
}
.cf-btn-default.btn-sm {
  padding: 4px;
}
.cf-btn-default.btn-empty {
  color: #314451;
  background-color: transparent;
  border: 1px solid #fff;
}
.cf-btn-default.btn-empty:hover,
.cf-btn-default.btn-empty:active,
.cf-btn-default.btn-empty:focus {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background-color: #f7f7f7;
  outline: none;
}
.cf-btn-default:hover,
.cf-btn-default:active,
.cf-btn-default:focus {
  color: #314451;
}
.cf-btn-invert {
  background-color: #8d8d8d;
  letter-spacing: 1px;
  color: #fff;
  padding: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #8d8d8d;
}
.cf-btn-invert:hover,
.cf-btn-invert:active {
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #888888;
}
.cf-btn-invert.btn-sm {
  padding: 4px;
}
.cf-btn-invert.btn-empty {
  color: #314451;
  background-color: transparent;
  border: 1px solid #8d8d8d;
}
.cf-btn-invert.btn-empty:hover,
.cf-btn-invert.btn-empty:active,
.cf-btn-invert.btn-empty:focus {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background-color: #f7f7f7;
  outline: none;
}
.cf-btn-blue {
  background-color: #4d9fff;
  letter-spacing: 1px;
  color: #fff;
  padding: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #4d9fff;
}
.cf-btn-blue:hover,
.cf-btn-blue:active {
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #429aff;
}
.cf-btn-blue.btn-sm {
  padding: 4px;
}
.cf-btn-blue.btn-empty {
  color: #314451;
  background-color: transparent;
  border: 1px solid #4d9fff;
}
.cf-btn-blue.btn-empty:hover,
.cf-btn-blue.btn-empty:active,
.cf-btn-blue.btn-empty:focus {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background-color: #f7f7f7;
  outline: none;
}
.cf-btn-blue:hover,
.cf-btn-blue:active,
.cf-btn-blue:focus {
  color: #fff;
}
/* CSS icons archive */
.arrow-icon-grey {
  position: relative;
  width: 50%;
  height: 50%;
  margin-top: -10%;
  display: block;
  top: 25%;
  left: 25%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}
.arrow-icon-grey:after,
.arrow-icon-grey:before {
  content: '';
  display: block;
  background: #666666;
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.arrow-icon-grey:after {
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
}
.arrow-icon-grey:before {
  height: 100%;
  width: 2px;
  bottom: 0;
  left: 0;
}
/*
.tickIconMix(@color) {
  position: relative;
  width:100%;
  height:100%;
  left:5%;
  top:-5%;
  display: inline-block;
  .transform(rotate(-45deg));
  &:after, &:before {
    content: '';
    display: block;
    background:@color;
    position: absolute;
    .roundedCorners(10px);
  }
  &:after {
    height: 3px;
    width: 90%;
    top: 50%;
    left:5%;
  }
  &:before {
    height: 45%;
    width: 3px;
    top:15%;
    left:5%;
  }
}
*/
.tick-icon-white {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.tick-icon-white:after {
  content: '';
  display: block;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 80%;
  height: 50%;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  left: 8%;
  top: 15%;
}
.tick-icon-green {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.tick-icon-green:after {
  content: '';
  display: block;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 80%;
  height: 50%;
  border-bottom: 3px solid #00D9AA;
  border-left: 3px solid #00D9AA;
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  left: 8%;
  top: 15%;
}
.cross-icon-red {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.cross-icon-red:before,
.cross-icon-red:after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
}
.cross-icon-red:before {
  border-bottom: 2px solid #ff0000;
  width: 100%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  left: 0px;
}
.cross-icon-red:after {
  border-bottom: 2px solid #ff0000;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.cross-icon-grey {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.cross-icon-grey:before,
.cross-icon-grey:after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
}
.cross-icon-grey:before {
  border-bottom: 2px solid #666666;
  width: 100%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  left: 0px;
}
.cross-icon-grey:after {
  border-bottom: 2px solid #666666;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.cross-icon-white {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  opacity: 0.4;
}
.cross-icon-white:before,
.cross-icon-white:after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
}
.cross-icon-white:before {
  border-bottom: 2px solid #f5f5f5;
  width: 100%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  left: 0px;
}
.cross-icon-white:after {
  border-bottom: 2px solid #f5f5f5;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.filter-icon {
  position: relative;
  width: 20px;
  display: block;
  height: 20px;
  border: 1px solid #fff;
  padding: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.filter-icon i {
  display: block;
  width: 1px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: 4px;
  margin: 0px;
  background-color: #fff;
}
.filter-icon i:after {
  content: '';
  display: block;
  background-color: #0076ff;
  border: 1px solid #fff;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 3px;
  left: -1px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.filter-icon i:nth-child(even) {
  left: 9px;
}
.filter-icon i:nth-child(even):after {
  top: 9px;
}
.filter-icon i:last-child {
  left: 13px;
}
.filter-icon i:last-child:after {
  top: 5px;
}
.cf-checkbox {
  position: relative;
}
.cf-checkbox .input-helper {
  position: absolute;
  width: 20px;
  height: 20px;
}
.cf-checkbox .input-helper:after,
.cf-checkbox .input-helper:before {
  content: '';
  position: absolute;
}
.cf-checkbox .input-helper:before {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.cf-checkbox .input-helper:after {
  display: none;
  visibility: hidden;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 70%;
  height: 40%;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  left: 15%;
  top: 20%;
}
.cf-checkbox.active .input-helper:after {
  visibility: visible;
  display: block;
}
.cf-checkbox.active .input-helper:before {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #FF7B5E;
}
.cf-radio {
  position: relative;
}
.cf-radio .input-helper {
  position: absolute;
  width: 20px;
  height: 20px;
}
.cf-radio .input-helper:after,
.cf-radio .input-helper:before {
  content: '';
  position: absolute;
}
.cf-radio .input-helper:before {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.cf-radio .input-helper:after {
  display: none;
  visibility: hidden;
  width: 60%;
  height: 60%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  left: 20%;
  top: 20%;
  background-color: #FF7B5E;
}
.cf-radio.active .input-helper:after {
  display: block;
  visibility: visible;
}
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}
strong {
  font-weight: 600;
}
body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  color: #314451;
}
body,
html {
  background-color: #efeff4;
}
.row-offcanvas {
  max-width: 480px;
  margin: auto;
  position: relative;
}
#mobi-wrapper .container-fluid {
  max-width: 767px;
}
.step-intro {
  background-color: #314451;
  font-size: 12px;
  padding: 10px 10px 15px;
}
.step-intro h3 {
  border-bottom: 0 none;
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 2px 0 0;
  text-align: center;
  text-transform: none;
}
.cf-accord .expand-icon {
  display: inline-block;
  position: relative;
  padding: 0px;
  height: 34px;
  width: 34px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.cf-accord .expand-icon:active,
.cf-accord .expand-icon:focus,
.cf-accord .expand-icon:hover {
  outline: none;
}
.cf-accord .expand-icon .bar {
  content: "";
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 15px;
  display: inline-block;
  width: 11px;
  height: 3px;
  background-color: #8d8d8d;
  left: 9px;
}
.cf-accord .expand-icon .bar.plus {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.cf-accord .expand-icon .bar.plus:before {
  content: '';
  display: inline-block;
  height: 11px;
  width: 3px;
  background-color: inherit;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  top: -4px;
  left: 4px;
  position: absolute;
}
.cf-accord .expand-icon .bar.minus {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.cf-accord.active .expand-icon .bar.plus {
  -webkit-transform: scale(0) rotate(-90deg);
  -moz-transform: scale(0) rotate(-90deg);
  -ms-transform: scale(0) rotate(-90deg);
  -o-transform: scale(0) rotate(-90deg);
  transform: scale(0) rotate(-90deg);
}
.cf-accord.active .expand-icon .bar.minus {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.cf-accord .cf-accord-title {
  position: relative;
}
.cf-accord .cf-accord-title:before,
.cf-accord .cf-accord-title:after {
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  width: 100%;
  content: "";
  -webkit-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -moz-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -o-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -ms-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
}
.cf-accord .cf-accord-title:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.cf-accord:not(.active) .cf-accord-title:before {
  background-color: rgba(0, 0, 0, 0.1);
}
.cf-accord.active .cf-accord-title:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.1);
}
/***** NAVBAR COMPONENTS STYLING ******/
.navbar.cf-navbar {
  height: 40px;
  min-height: 40px;
  background-color: #f7fafc;
  border-bottom: 1px solid #f7fafc;
}
.cf-navbar-brand {
  display: inline-block;
  font-size: 18px;
  height: 40px;
  line-height: 20px;
  padding: 6px 0px;
}
.cf-navbar .cf-navbar-brand img {
  width: 90px;
}
/***** NAVBAR COMPONENTS STYLING ENDS ******/
/***** FOOTER COMPONENTS STYLING ******/
.cf-footer {
  max-width: 480px;
  margin: auto;
  position: relative;
  background-color: #efeff4;
  color: #666666;
  font-size: 12px;
  padding: 0px 10px 60px;
}
.cf-footer strong {
  color: #314451;
}
.cf-footer a:hover,
.cf-footer a:active,
.cf-footer a:focus {
  text-decoration: none;
}
.cf-footer .call-box {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  margin: 0px -10px 20px;
  padding: 15px;
}
.cf-footer .call-box h4 {
  font-size: 14px;
  font-weight: 600;
  margin: 5px 0px 10px;
}
.cf-footer .call-box .action {
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 3px;
  display: block;
  padding: 4px 4px 4px 40px;
  position: relative;
  text-align: left;
  max-width: 290px;
}
.cf-footer .call-box .action > img {
  width: 26px;
  position: absolute;
  left: 7px;
  top: 10px;
  display: inline-block;
}
.cf-footer .number-bar {
  color: #666666;
  font-size: 13px;
}
.cf-footer .cf-social {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.cf-footer .cf-social li {
  float: left;
  list-style-type: none;
  margin-right: 5px;
}
.cf-footer .cf-social li a {
  color: #666666;
  outline: medium none;
  padding: 5px 10px 5px 0px;
}
.cf-footer .cf-social li a img {
  width: 20px;
}
/***** FOOTER COMPONENTS STYLING END ******/
.head {
  color: #FF7B5E;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 10px 0;
  padding: 0px;
  text-align: center;
  font-weight: normal;
}
.error {
  background-color: #FFE6E6;
  color: #F78460;
  font-size: 12px;
  margin: 10px 0px 0px;
  padding: 5px 15px;
  text-align: center;
}
/* expert card css */
.expert-card {
  padding: 0px;
  height: 0px;
  overflow-y: hidden;
}
.expert-card.active {
  padding: 15px 10px;
  background-color: #314451;
  color: #ffffff;
  position: relative;
  height: auto;
}
.expert-card.hide {
  display: none;
}
.expert-card .profile {
  min-height: 50px;
  padding-left: 70px;
  padding-top: 1px;
  position: relative;
}
.expert-card .profile h4 {
  color: #fff;
  margin-bottom: 5px;
  font-size: 14px;
  margin-top: 0px;
}
.expert-card .profile .designation {
  color: #e0e0e0;
  font-size: 11px;
}
.expert-card .profile img {
  position: absolute;
  top: -20px;
  left: 0px;
  width: 60px;
  border-radius: 3px;
}
.expert-card h5 {
  color: #FF7B5E;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 13px;
  margin-top: 0px;
  padding-left: 70px;
}
.expert-card .form-bg {
  max-width: 400px;
}
.expert-card .lead-loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0px 20px 0px;
  text-align: center;
  background-color: #ffffff;
  z-index: 10;
  color: #333333;
  left: 0;
}
.expert-card .lead-loader h4 {
  font-size: 14px;
}
.expert-card .input-group-addon {
  background-color: transparent;
  color: #fff;
}
/* expert card css ends */
/* call-box-fixed */
#mobi-wrapper.initial .call-box-fixed {
  display: none;
}
.call-box-fixed {
  background-color: #f7fafc;
  border-bottom: 1px solid #d0d0d0;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.19);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.19);
  left: 0;
  padding: 2px 0;
  position: fixed;
  top: 39px;
  width: 100%;
  z-index: 1021;
}
.call-box-fixed img {
  width: 17px;
}
.call-box-fixed .call-option {
  font-size: 12px;
  height: 35px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.call-option.or:after {
  background-color: #E7E7E7;
  border-radius: 30px;
  color: #4FC8B0;
  content: "OR";
  display: block;
  font-size: 9px;
  height: 20px;
  padding: 3px 0;
  position: absolute;
  right: -11px;
  text-align: center;
  top: 6px;
  width: 21px;
}
.call-option.or {
  background-color: #8D8D8D;
  padding-top: 9px;
}
.call-option.else {
  color: #666666;
  padding-left: 10px;
  padding-top: 8px;
  text-align: left;
  letter-spacing: 1px;
}
.call-option.else > div {
  font-size: 10px;
  font-style: italic;
  font-weight: 300;
  text-transform: none;
}
.call-option .action {
  text-transform: uppercase;
  font-size: 10px;
  display: block;
  position: relative;
  padding: 6px 0px;
  left: 0px;
  top: 1px;
  float: right;
  width: 60px;
}
.call-option .number {
  font-size: 11px;
  line-height: 1em;
  margin: 3px 5px 0px 0px;
  float: right;
  text-align: right;
  color: #314451;
}
.call-option .number i {
  text-transform: uppercase;
  font-size: 9px;
  color: #999;
}
/* call-box-fixed ends */
/* navbar filter css */
.cf-navbar-filter {
  background-color: #efeff4;
  left: 0;
  margin: 8px 0px 9px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1031;
}
.filterLinkMix {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  text-align: left;
  padding: 8px 10px;
  height: 35px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.filter2 {
  position: relative;
  background-color: #4d9fff;
  letter-spacing: 1px;
  color: #fff;
  padding: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #4d9fff;
  height: 35px;
  padding: 8px 10px 8px 30px;
  font-size: 11px;
  text-transform: uppercase;
  display: block;
  line-height: 18px;
  text-align: center;
  float: right;
  max-width: 130px;
}
.filter2:hover,
.filter2:active {
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #429aff;
}
.filter2.btn-sm {
  padding: 4px;
}
.filter2.btn-empty {
  color: #314451;
  background-color: transparent;
  border: 1px solid #4d9fff;
}
.filter2.btn-empty:hover,
.filter2.btn-empty:active,
.filter2.btn-empty:focus {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background-color: #f7f7f7;
  outline: none;
}
.filter2:hover,
.filter2:active,
.filter2:focus {
  color: #fff;
}
.filter2 .filter-context {
  font-size: 11px;
  font-weight: 300;
  margin-top: -3px;
  text-transform: none;
}
.filter2 .filter-icon {
  position: absolute;
  top: 6px;
  left: 5px;
}
.filter-title-link {
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
  text-align: left;
  padding: 8px 10px;
  height: 35px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.filter-title-link span {
  white-space: nowrap;
  width: 90%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
}
.filter-title-link .dn-arr {
  display: inline-block;
  top: 8px;
  right: 10px;
  position: absolute;
  background-color: #f7fafc;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  padding: 2px;
}
.apply-mark {
  position: absolute;
  left: 7px;
  padding: 2px;
  width: 16px;
  display: inline-block;
  height: 16px;
  background-color: #fff;
  top: 8px;
  z-index: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* navbar filter css ends */
/* Wizard track for steps */
.tool-link-bar {
  border-left: 0 none;
  border-right: 0 none;
  padding: 5px;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 20;
}
.tiny-wizard {
  list-style-type: none;
  display: inline-block;
  padding: 0px;
  margin: 15px 0 0;
}
.tiny-wizard li {
  display: inline-block;
  width: 50px;
  vertical-align: top;
}
.tiny-wizard li.center:after {
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  display: block;
  height: 1px;
  left: -25px;
  position: relative;
  top: -13px;
  width: 100px;
  z-index: -1;
}
.tiny-wizard li span {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 30px;
  color: #d1d1df;
  display: block;
  font-weight: bold;
  height: 26px;
  padding: 2px;
  text-align: center;
  width: 26px;
  margin: auto;
}
.tiny-wizard li.active span {
  background-color: #00D9AA;
  border-color: #00D9AA;
  color: #ffffff;
}
.tiny-wizard li.done span.check-icon {
  background-color: #00D9AA;
  border-color: #00D9AA;
  color: #ffffff;
  padding: 4px;
  font-size: 12px;
}
.tiny-wizard li.active span.check-icon,
.tiny-wizard li.done span,
.tiny-wizard li span.check-icon {
  display: none;
}
.tiny-wizard li.done span.check-icon,
.tiny-wizard li.done.active span.check-icon {
  display: block;
}
/* tiny wizard css ends */
.loading-screen {
  background-color: #FFFFFF;
  color: #B5B5B5;
  height: 100%;
  left: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 100px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1035;
}
.loading-screen img {
  display: inline-block;
  width: 50px;
  height: 50px;
}
#mobi-wrapper.loading {
  height: 0px;
  overflow: hidden;
}
#plans-buy h2 a {
  max-width: 400px;
  margin: auto;
}
#plans-buy .email-input {
  max-width: 430px;
  margin: auto;
}
iframe.trace_fixer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
.help-text {
  margin: 15px auto 30px;
  font-size: 12px;
  color: #999999;
  max-width: 400px;
}
.continue-item {
  margin: auto;
  max-width: 400px;
  padding: 30px 0px 0;
}
.btn-continue {
  padding: 8px 15px;
  margin: 25px auto 0px;
  max-width: 400px;
}
.form-margin {
  height: 50px;
}
.width-lock {
  max-width: 560px;
  margin: auto;
  position: relative;
}
.sm-font {
  color: #8d8d8d;
  font-size: 9px;
  text-transform: uppercase;
  padding: 0;
}
.prev-step {
  background-color: #efeff4;
  display: block;
  width: 120px;
  padding: 6px;
  text-align: center;
  font-size: 10px;
  letter-spacing: 1px;
  color: #4a90e2;
  margin: 20px auto 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.prev-step:hover,
.prev-step:active,
.prev-step:focus {
  color: #4a90e2;
  text-decoration: none;
}
/* step one css */
/* Add member css */
label.member input[type='checkbox'] {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
label.member {
  position: relative;
}
label.member.active {
  color: #314451;
}
.member.cf-checkbox.active .input-helper:before {
  background-color: #00D9AA;
}
.member {
  background-color: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  float: left;
  font-size: 13px;
  font-weight: 400;
  margin: 10px 2% 0px;
  padding: 6px 0px 6px 30px;
  width: 46%;
  position: relative;
}
.member:after {
  content: '';
  display: block;
  bottom: -2px;
  left: 0px;
  height: 2px;
  width: 100%;
  position: absolute;
  -webkit-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -moz-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -o-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -ms-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background-color: #00D9AA;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
}
.member .input-helper {
  width: 16px;
  height: 16px;
  left: 5px;
  top: 6px;
}
.member.active {
  background-color: #ffffff;
}
.member.active:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.member.active .add {
  display: none;
}
.member.active .added {
  display: block;
}
.member .add {
  color: #b1c3d0;
}
.member .added {
  color: #314451;
  display: none;
  text-transform: capitalize;
}
.member .add img,
.member .added img {
  width: 18px;
  display: inline-block;
  margin: 0px 5px;
}
.gender-buttons {
  display: block;
  height: 40px;
  margin: 0px auto;
  padding: 0px 5px;
  max-width: 400px;
}
.btn-gender {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #b1c3d0;
  display: inline-block;
  font-size: 16px;
  margin-left: 0 !important;
  outline: medium none;
  padding: 6px 15px;
  width: 50%;
}
.btn-gender:hover {
  background-color: #f0f0f0;
}
.btn-gender.active {
  background-color: #00D9AA;
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: none;
}
.kid-buttons {
  margin: auto;
  max-width: 410px;
  padding: 25px 0px 0px;
}
.btn-kid {
  width: 46%;
  display: block;
  float: left;
  margin: 0% 2%;
}
/* Add member css ends */
/* step one css ends */
/* step two css */
.tooltip-head {
  font-size: 12px;
  padding: 0px 0px 10px;
  text-align: center;
  position: relative;
  color: #999999;
}
.table.table-age {
  margin: 0 auto;
  max-width: 400px;
}
.table.table-age td {
  padding-right: 0px;
}
.table.table-age td.name {
  width: 65px;
  padding: 8px 0px;
}
.table.table-age .input-group {
  border: 1px solid rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
}
.table.table-age .has-error .input-group {
  border-color: #a94442;
}
.table.table-age .input-group-addon {
  font-size: 11px;
  padding: 10px 6px;
  text-transform: capitalize;
  background-color: #fff;
  z-index: 10;
  border: none;
}
.table.table-age tr td {
  border-top: none;
}
.table.table-age .table-member {
  background-color: #efeff4;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #314451;
  display: block;
  font-size: 12px;
  margin-top: 0;
  padding: 8px 0;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  height: 36px;
}
.table.table-age .table-member:after {
  display: block;
  content: "";
  border-top: 1px solid #dadada;
  width: 100px;
  position: absolute;
  left: 100%;
  top: 50%;
}
.table-age .form-control {
  padding: 6px 5px;
  font-size: 12px;
  height: 36px;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border: none;
}
.two-fields .input-group {
  width: 49%;
  float: left;
}
/* step two css end */
/* step three css */
.club {
  margin: 0px auto;
  padding: 0px;
}
.radio-list {
  margin: 0 auto;
  max-width: 400px;
  overflow: hidden;
}
.radio-list.has-error {
  border-color: #A94442;
}
.radio-list > a {
  display: block;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  color: #999999;
  font-size: 12px;
  line-height: 1.1em;
  margin: 0;
  outline: medium none;
  padding: 15px 10px 15px 30px;
  text-decoration: none;
  position: relative;
}
.radio-list > a:after {
  content: '';
  display: block;
  bottom: -2px;
  left: 0px;
  height: 2px;
  width: 100%;
  position: absolute;
  -webkit-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -moz-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -o-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -ms-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background-color: #00D9AA;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;
}
.radio-list > a.active:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.radio-list .input-helper {
  top: 12px;
  left: 0px;
}
.radio-list > a.active {
  color: #314451;
}
.radio-list > a.active .input-helper:after {
  background-color: #00D9AA;
}
/* step three css end*/
/***** TOOLBAR COMPONENTS STYLING  ******/
.toolbar {
  background-color: #fff;
  bottom: -60px;
  height: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 1033;
}
.toolbar .plan-detail .btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1em;
  padding: 11px 9px;
  height: 35px;
  position: relative;
  width: 46%;
  margin: 7px 2%;
}
.toolbar .plan-detail .btn > img {
  width: 18px;
  display: inline-block;
}
.bottom-tabs {
  background-color: #8d8d8d;
  height: 50px;
  bottom: 0px;
  width: 100%;
  opacity: 1;
  position: fixed;
  left: 0px;
  z-index: 10;
  -webkit-transform: tranlateZ(0);
}
.bottom-tabs h4 {
  color: #fff;
  margin: 5px 0px 4px;
  font-weight: 600;
  font-size: 12px;
  text-transform: none;
}
.bottom-tabs .opt {
  border-right: 1px solid #777777;
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  color: #ffffff;
  cursor: pointer;
  font-size: 10px;
  height: 50px;
  padding: 3px 0 0;
  text-align: center;
  text-transform: uppercase;
}
.bottom-tabs .opt.active {
  background-color: #FF7B5E;
  color: #ffffff;
  cursor: default;
}
.bottom-tabs .opt:last-child {
  border-right-width: 0px;
}
/*  overlay styling begins */
.mobi-overlay {
  height: 100%;
  opacity: 0.5;
  position: fixed;
  width: 100%;
  overflow: hidden;
  bottom: 0px;
  top: 110%;
  background-color: #efeff4;
  z-index: -1;
}
.mobi-overlay.active {
  overflow-y: auto;
  opacity: 1;
  z-index: 2001;
  top: 0;
}
.mobi-overlay h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #FF7B5E;
  font-size: 14px;
  padding-bottom: 5px;
  position: relative;
  text-transform: uppercase;
}
.mobi-overlay select.input-lg {
  height: 46px;
  line-height: 46px;
}
.mobi-overlay .form-field {
  position: relative;
}
.mobi-overlay .overlay-intro {
  background-color: #314451;
  font-size: 12px;
  padding: 15px 10px;
  max-width: 480px;
  margin: auto;
  position: relative;
}
.mobi-overlay .overlay-intro h3 {
  border-bottom: 0 none;
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 2px 0 0;
  text-align: center;
  text-transform: none;
}
.mobi-overlay .overlay-intro img.mono-logo {
  display: inline-block;
  width: 23px;
  position: absolute;
  left: 10px;
  top: 0px;
}
.max-width {
  max-width: 480px;
  margin: auto;
  position: relative;
}
.close-overlay {
  position: absolute;
  right: 10px;
  top: 2px;
  width: 16px;
  height: 16px;
  z-index: 10;
}
.form-field .loading-premium {
  visibility: hidden;
  position: absolute;
  text-align: left;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  color: #999;
  padding: 12px 10px 10px;
  border: 1px solid #66afe9;
  opacity: 0;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-field.active .loading-premium {
  visibility: visible;
  opacity: 1;
}
.form-field.active select.form-control {
  pointer-events: none;
}
.premiumLoaderFilm {
  display: none;
}
.premiumLoaderFilm.active {
  background-color: transparent;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4000;
}
.overlay-content {
  padding: 0 15px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.overlay-tab {
  background-color: #314451;
  padding: 8px 15px;
  height: 50px;
  margin: 0px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 2;
  left: 0;
}
.overlay-tab a.links {
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  float: left;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px 9px;
  text-align: center;
  width: 46%;
  margin: 0px 2%;
  border-radius: 3px;
}
.overlay-tab a.links:hover,
.overlay-tab a.links:active {
  outline: none;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.overlay-tab a.links.bg-link {
  background-color: #FF7B5E;
}
.overlay-tab a.links.bg-link:hover {
  background-color: #ff512b;
}
.rp-sidebar-filter-section {
  padding: 0px;
  margin: 15px 0px;
}
.rp-sidebar-filter-section .form-control {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.rp-sidebar-filter-section h4 {
  color: #314451;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.rp-sidebar-filter-section h4 span {
  font-size: 12px;
  text-transform: none;
}
.rp-sidebar-filter-section h4 {
  margin-top: 20px;
}
.filter-section {
  position: relative;
  padding: 1px 0px 0px;
}
.filter-section:after {
  position: absolute;
  width: 100px;
  border-bottom: 1px solid #dadada;
  bottom: -15px;
  left: 0;
  content: '';
}
.filter-section h3 {
  border: none;
  color: #314451;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  margin: 20px 0px 5px;
}
.filter-section p.small-desc {
  color: #666666;
  font-size: 11px;
}
.filter-tab-box {
  background-color: #314451;
  color: #fff;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  padding: 0px 10px 15px;
  margin-top: -10px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}
.filter-section-content h4 {
  color: #fff;
  font-size: 14px;
}
.filter-section-content ul.options {
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
}
.filter-section-content ul.options li {
  font-size: 12px;
  margin-bottom: 10px;
  color: #666666;
  display: block !important;
  cursor: pointer;
  position: relative;
  padding: 0px 0px 0px 25px !important;
}
.filter-section-content ul.options li.active {
  color: #314451;
}
.filter-section-content ul.options li .input-helper {
  width: 16px;
  height: 16px;
  left: 0px;
  top: 0px;
}
.filter-section-content ul.options li label {
  display: block;
}
.filter-section-content ul.options li input[type="radio"],
.filter-section-content ul.options li input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.sent-message {
  padding: 20px;
  border: 2px dotted #dadada;
  color: #666666;
  text-align: center;
  font-size: 16px;
  margin: 15px;
}
.email-input > h4 {
  color: #999999;
  font-size: 14px;
  line-height: 1.4em;
  margin: 20px 15px 0px;
  text-align: center;
}
.email-input .round-pit {
  display: inline-block;
  text-transform: uppercase;
  background-color: #aaa;
  color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -webkit-border-radius: 30px;
  -ms-border-radius: 30px;
  padding-top: 5px;
  margin-bottom: 15px;
}
/*  overlay styling ends */
/* get an expert to help you css */
.mobi-overlay.get-expert {
  background-color: rgba(30, 60, 80, 0.8);
  padding: 10px;
}
.expert-content {
  margin: 0px auto 10px;
  max-width: 480px;
  background-color: #ffffff;
  padding: 10px 20px;
  font-size: 12px;
  text-align: center;
  color: #666666;
}
.expert-content.thnx {
  padding-bottom: 20px;
  margin-top: 30px;
}
.expert-content.thnx h4 {
  margin-bottom: 10px;
  line-height: 1.4em;
}
.expert-content .expert {
  position: relative;
  padding-top: 10px;
}
.expert-content .photo {
  background-color: #dadada;
  border-radius: 3px;
  width: 70px;
  height: 70px;
  position: relative;
  top: 0px;
  left: 0px;
  display: inline-block;
}
.expert-content h4 {
  color: #314451;
  font-size: 20px;
  margin: 10px 0px 0px;
}
.expert-content .designation {
  color: #999999;
}
.expert-content .form-bg {
  background-color: #314451;
  padding: 15px 10px;
  margin: 0px -20px 10px;
}
.expert-content .form-bg .input-group-addon {
  background-color: #314451;
  color: #fff;
}
.expert-content .proposition {
  position: relative;
  font-size: 12px;
}
.expert-content .proposition a {
  margin-top: 7px;
  font-size: 14px;
  display: block;
  text-align: center;
}
#skip-lead {
  text-align: center;
}
#skip-lead .btn {
  padding: 8px 15px;
  width: 220px;
}
/* get an expert to help you css ends */
/*
 * Off Canvas
 * --------------------------------------------------
 */
.result-screen {
  display: block;
  min-height: 80vh;
  padding-top: 40px;
  position: relative;
}
/* when individual card is open css */
.result-screen.indiv-detail {
  padding-top: 36px;
  min-height: 400px;
}
.result-screen.indiv-detail .cf-navbar-filter {
  overflow: hidden;
  position: absolute;
  top: -50px;
  opacity: 0;
}
.result-screen.indiv-detail .toolbar {
  height: 50px;
  opacity: 1;
  padding: 0;
  bottom: 0px;
  -webkit-box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.15);
}
.result-screen.indiv-detail .bottom-tabs {
  bottom: -100px;
  opacity: 0;
}
/* when individual card is open css ends */
/***** STEPS COMPONENTS STYLING ******/
.cf-step-nav {
  z-index: 1;
  width: 100%;
  margin: 0px;
  padding: 1px 20px 0px;
  visibility: visible;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  transform-origin: center bottom;
  overflow: visible;
  background-color: #ffffff;
  position: relative;
  top: 0px;
  left: 0px;
  height: auto;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.cf-step-nav.cf-hide {
  z-index: 0;
  visibility: hidden;
  overflow: hidden;
  height: 0px;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
}
#sidebar {
  overflow: hidden;
}
/***** STEPS COMPONENTS STYLING END ******/
/***** RESULT CARD COMPONENTS STYLING ******/
.cf-result-card,
.cf-dummy-card {
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: normal;
  color: #666666;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.cf-result-card .btn-sm,
.cf-dummy-card .btn-sm {
  padding: 4px 2px;
  margin: 2px 0px;
  max-width: 75px;
  font-size: 11px;
  text-transform: uppercase;
  float: right;
}
.cf-dummy-card {
  cursor: default;
}
.cf-result-card.open {
  cursor: default;
  margin: 10px 0px 6px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
}
.cf-result-card .color {
  color: #00a682;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1em;
}
.cf-result-card .color.small {
  font-size: 14px;
  margin-top: 3px;
  display: block;
  color: #999999;
}
.cf-result-card .split,
.cf-dummy-card .split {
  margin: 0px;
  padding: 7px 10px;
  border-left: 1px solid #eaeaea;
}
.cf-result-card .split .text-muted,
.cf-dummy-card .split .text-muted {
  color: #8D8D8D;
  display: block;
  font-size: 9px;
  margin: 0px;
  text-transform: uppercase;
  font-weight: 300;
}
.cf-result-card .insurer-name,
.cf-dummy-card .insurer-name {
  border-bottom: 1px solid #EAEAEA;
  color: #8D8D8D;
  display: block;
  font-size: 9px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.4em;
  padding: 3px 5px 5px 110px;
  min-height: 25px;
}
.cf-result-card .insurer-name > span,
.cf-dummy-card .insurer-name > span {
  white-space: nowrap;
  width: 90%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}
.cf-result-card .details {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 9px;
  text-transform: uppercase;
  color: #3E7BC2;
}
.cf-result-card.open .details {
  display: none;
}
.cf-result-card .tip {
  display: block;
  text-align: center;
  padding-top: 7px;
  text-transform: uppercase;
  color: #f78460;
  font-weight: 700;
  height: 30px;
}
.cf-result-card .tip:active,
.cf-result-card .tip:hover {
  background-color: #f5f5f5;
}
.cf-result-card .cf-result-body .cf-btn-group {
  background-color: #efeff4;
  margin: 0 0 1px;
  padding: 10px 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.cf-result-card.open .cf-result-body .cf-btn-group {
  display: block !important;
}
.cf-btn-group .grp-btn {
  border-radius: 3px;
  cursor: pointer;
  font-size: 10px;
  margin: 0px 5px 0px 0px;
  overflow: hidden;
  padding: 4px 8px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  float: right;
}
.cf-btn-group .grp-btn:hover,
.cf-btn-group .grp-btn:active,
.cf-btn-group .grp-btn:focus {
  outline: none;
}
.grp-btn .icon-bg {
  display: inline-block;
  left: -4px;
  padding: 0;
  position: relative;
}
.grp-btn .icon-bg img {
  display: inline-block;
  width: 16px;
}
.grp-btn.added .icon-bg img.default,
.grp-btn .icon-bg img.clr {
  display: none;
}
.grp-btn.added .icon-bg img.clr {
  display: inline-block;
}
.cf-btn-group .grp-btn:active {
  background-color: #fff;
}
.cf-result-card .company-logo,
.cf-dummy-card .company-logo {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100px;
  height: 50px;
  overflow: hidden;
}
.cf-result-card .plan-name,
.cf-dummy-card .plan-name {
  color: #314451;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0;
  min-height: 20px;
  padding: 0 25px 0 110px;
  position: relative;
}
.cf-rating-graph {
  display: inline-block;
  margin: 3px 0px 0px;
}
.cf-rating-graph ul li {
  width: 13px;
  list-style-type: none;
  float: left;
  margin-right: 1px;
}
.cf-result-card .property-heading {
  font-size: 14px;
  line-height: 1.4em;
  margin: 0;
  padding: 15px 10px 15px 25px;
  color: #314451;
  position: relative;
}
.cf-result-card .property-heading .expand-icon {
  position: absolute;
  left: -5px;
  top: 8px;
}
.paragraph {
  padding: 0px 5px;
  font-size: 12px;
  line-height: 1.6em;
}
.cf-result-card .cf-result-body {
  margin: 0;
  padding: 0;
}
.cf-result-card .cf-result-body .hdg {
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0;
  padding: 12px 5px 0px;
  text-transform: uppercase;
  color: #314451;
}
.cf-dummy-card .button-holder {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.cf-dummy-card .button-holder .more,
.cf-dummy-card .more-footer {
  padding: 6px 10px;
  display: block;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  color: #3E7BC2;
}
.button-holder a {
  color: #666666;
}
.button-holder a:focus,
.button-holder a:active,
.button-holder a:hover {
  text-decoration: none;
  outline: none;
}
.cf-result-card .cf-result-face,
.cf-dummy-card .cf-dummy-face {
  background-color: #ffffff;
  padding: 17px 5px 0px;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}
.cf-result-card .cf-result-face:active {
  background-color: #F0F8FF;
}
/* result card modes css open/compare */
.cf-result-card.open .cf-result-face:active {
  background-color: #FFFFFF;
}
.cf-result-card .plan-property {
  background-color: #fff;
  padding: 0 10px;
  display: none;
  /* closed result card */
}
.cf-result-card.open .plan-property {
  display: block;
  /* open result card */
}
.cf-result-card .cf-result-body {
  display: none;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.cf-result-card.open .cf-result-body {
  display: block;
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.cf-result-card.open .tip {
  display: none;
}
/*
.cf-result-card.open .cf-result-face .cf-btn-orange {
  display: none;
}
*/
/* result card modes css open/compare ends */
/* property opening css */
.prop-img {
  position: absolute;
  left: 0px;
  top: 5px;
  width: 35px;
  height: 35px;
  display: block;
}
.prop-desc {
  -webkit-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -moz-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -o-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -ms-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  opacity: 0;
  visibility: hidden;
  border-bottom: none;
  padding: 0px;
  margin-top: 1px;
  position: relative;
  overflow: hidden;
  height: 0px;
}
.prop-benefit {
  background-color: #ffffff;
  padding: 0px;
}
.benefit-desc {
  -webkit-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -moz-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -o-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -ms-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  opacity: 0;
  visibility: hidden;
  padding: 0px;
  margin: 0px;
  position: relative;
  height: 0px;
  overflow: hidden;
}
.plan-property .benefit-legend {
  display: none;
  margin: 0;
  padding: 8px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.plan-property.active .benefit-legend {
  display: block;
}
.plan-property.active .prop-benefit .benefit-desc {
  opacity: 1;
  visibility: visible;
  height: auto;
  padding-bottom: 12px;
  margin-top: 12px;
  overflow: visible;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.plan-property.active .prop-desc {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: auto;
  margin-top: 10px;
  padding-bottom: 10px;
  opacity: 1;
  visibility: visible;
  overflow: visible;
  background-color: #ffffff;
}
.prop-title {
  color: #999999;
}
.prop-title em {
  font-weight: 300;
}
.prop-value {
  color: #314451;
}
.prop-value,
.prop-title {
  font-size: 12px;
  padding-top: 3px;
  min-height: 20px;
  margin: 0px 0px 0px 45px;
}
.prop-value.no-img,
.prop-title.no-img {
  margin-left: 5px;
}
.prop-value.benefit {
  padding: 0px 30px 5px 0px;
  color: #FF7B5E;
}
.benefit-value {
  font-size: 12px;
  padding-left: 25px;
  position: relative;
  color: #aaaaaa;
}
.benefit-value.legend {
  display: inline-block;
  padding-right: 20px;
  color: #999999;
  font-style: italic;
}
.benefit-value .tick {
  display: block;
  height: 12px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 12px;
}
.benefit-value .tick .tick-icon-green {
  display: none;
}
.benefit-value.available {
  color: #314451;
}
.benefit-value.available .tick {
  width: 14px;
  height: 14px;
}
.benefit-value.available .tick .cross-icon-red {
  display: none;
}
.benefit-value.available .tick .tick-icon-green {
  display: block;
}
.prop-handler,
.benefit-handler {
  padding: 2px;
  position: absolute;
  font-size: 10px;
  top: 0px;
  right: 12px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.prop-handler {
  top: 10px;
  right: 18px;
}
.benefit-avl {
  font-size: 10px;
  color: #999999;
}
.prop-expl {
  position: relative;
  font-size: 12px;
  padding: 10px 0px;
  display: none;
  color: #666666;
  line-height: 1.6em;
}
.benefit-desc .prop-expl {
  padding: 10px 0px 10px 25px;
}
.prop-desc.active .prop-expl,
.benefit-desc.active .prop-expl {
  display: block;
}
.prop-desc.active .prop-handler,
.benefit-desc.active .benefit-handler {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* property opening css ends */
/***** RESULT CARD COMPONENTS STYLING END ******/
/* INITIAL BEFORE RESULT SCREEN */
#mobi-wrapper.initial {
  padding-top: 0px;
}
#mobi-wrapper.initial .navbar.cf-navbar {
  display: none;
}
#mobi-wrapper.initial .row-offcanvas-left .sidebar-offcanvas {
  top: 0%;
}
#mobi-wrapper.initial .row-offcanvas .sidebar-offcanvas {
  width: 100%;
  position: relative;
  background-color: #ffffff;
  z-index: 2000;
  height: auto;
}
#mobi-wrapper.initial .row-offcanvas .result-screen {
  display: none;
  overflow: hidden;
  visibility: hidden;
}
#mobi-wrapper.initial .cf-step-nav .title {
  text-align: center;
  font-weight: bold;
  color: #dadada;
}
#mobi-wrapper.initial .sidebar-offcanvas .error {
  color: #f78460;
}
#mobi-wrapper.initial .sidebar-offcanvas {
  max-width: 768px;
  margin: auto;
  float: none;
}
#mobi-wrapper.initial .cf-navbar-filter {
  display: none;
}
/* INITIAL BEFORE RESULT SCREEN ENDS */
.plan-tab.active {
  height: auto;
  left: 0;
  opacity: 1;
  overflow: visible;
  position: relative;
  top: 0;
  z-index: 2;
}
.plan-tab {
  background-color: #efeff4;
  height: 0;
  left: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
#mobi-wrapper.initial .plan-tab,
#mobi-wrapper.initial .plan-tab.active {
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 100px;
  visibility: hidden;
}
/* Sign in/ logged user css */
.sign-user {
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  position: relative;
  top: 2px;
}
.log-user {
  padding: 7px;
  display: inline-block;
  position: relative;
  height: 40px;
}
.log-user img {
  width: 21px;
  height: 21px;
  display: inline-block;
}
.log-user.active {
  background-color: rgba(0, 0, 0, 0.2);
}
.cf-user-overlay,
.cf-tab-change-overlay,
.remove-overlay {
  background-color: rgba(49, 68, 81, 0.7);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  padding: 10px 0;
  position: fixed;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: -1;
  visibility: hidden;
}
.cf-user-overlay .uo-content,
.cf-tab-change-overlay .ch-content,
.remove-overlay .rm-content {
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 12.5% auto 20px;
  max-width: 300px;
  position: relative;
  overflow: hidden;
  top: -1000px;
}
.cf-user-overlay.active .uo-content,
.cf-tab-change-overlay.active .ch-content,
.remove-overlay.active .rm-content {
  top: 0px;
}
.cf-user-overlay .uo-content .uo-close,
.cf-tab-change-overlay .ch-content .ch-close {
  height: 16px;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 16px;
  z-index: 1;
  overflow: hidden;
}
.uo-intro {
  font-size: 12px;
  padding: 10px 20px;
  text-align: center;
}
.uo-content .uo-intro img {
  background-color: #48ADFF;
  border-radius: 30px;
  display: inline-block;
  height: 35px;
  margin-bottom: 5px;
  width: 35px;
}
.uo-property,
.ch-property {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  color: #6A6A6A;
  font-size: 14px;
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
}
.ch-property .glyphicon {
  display: none;
}
.ch-property .tickicon {
  background-color: #00D9AA;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #FFFFFF;
  padding: 4px;
  position: absolute;
  right: 10px;
  top: 18px;
  width: 22px;
  height: 22px;
  display: none;
}
.ch-property.active .tickicon {
  display: block;
}
.ch-property {
  font-size: 12px;
  padding: 20px 15px;
}
.ch-property.intro {
  background-color: #efeff4;
  font-size: 18px;
  border-bottom-width: 0px;
  padding: 10px 15px;
}
.uo-property.lo {
  background-color: #f5f5f5;
  font-size: 16px;
}
.uo-content .uo-property img {
  display: inline-block;
  height: 16px;
  margin-right: 5px;
  margin-top: -3px;
  width: 16px;
}
.cf-user-overlay.active,
.cf-tab-change-overlay.active,
.remove-overlay.active {
  opacity: 1;
  z-index: 2001;
  visibility: visible;
}
.remove-overlay .rm-intro {
  color: #666666;
  font-size: 12px;
  padding: 20px 15px;
}
.remove-overlay .rm-intro-hdr {
  background-color: #efeff4;
  color: #314451;
  font-size: 14px;
  padding: 15px;
}
.remove-overlay .rm-content > a {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: #666666;
  display: block;
  float: left;
  font-size: 14px;
  padding: 15px;
  text-align: center;
  width: 50%;
  text-transform: uppercase;
}
.rm-content > a:hover,
.rm-content > a:active,
.rm-content > a:focus {
  color: #666666;
  background-color: #f0f0f0;
  text-decoration: none;
  outline: none;
}
/* buy cart/shortlist css */
.buy-cart img,
.shortlist-icon img {
  width: 21px;
}
.shortlist-icon,
.buy-cart {
  display: inline-block;
  height: 36px;
  padding: 5px;
  position: relative;
  text-align: center;
  top: 3px;
  width: 36px;
  vertical-align: top;
  background-color: inherit;
}
.buy-cart .count,
.shortlist-icon .count {
  background-color: #FF7B5E;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  display: block;
  font-size: 10px;
  height: 15px;
  left: -2px;
  padding: 0px 1px;
  position: absolute;
  text-align: center;
  top: 2px;
  min-width: 15px;
}
.shortlist-icon {
  display: none !important;
}
.shortlist-btn {
  display: none !important;
}
.cart-items .item {
  margin-top: 10px;
}
.cart-items .plan-for,
.shortlisted-items .plan-for {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  color: #757575;
  font-size: 10px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px 10px 5px;
  text-align: left;
  text-transform: uppercase;
}
.cf-dummy-card .color {
  color: #00a682;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.1em;
}
.shortlisted-items .item {
  margin-bottom: 10px;
}
.default-messaging {
  color: #999999;
  font-size: 14px;
  line-height: 1.6em;
  padding: 50px 20px;
  text-align: center;
}
.remove-bucket {
  position: relative;
  top: -2px;
  width: 16px;
}
.cf-dummy-face {
  position: relative;
}
.cf-dummy-face .rem-icon {
  z-index: 20;
  position: absolute;
  right: 5px;
  top: 10px;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.cf-dummy-face .rem-icon:hover,
.cf-dummy-face .rem-icon:active,
.cf-dummy-face .rem-icon:focus {
  background-color: rgba(0, 0, 0, 0.05);
}
/* buy cart/shortlist css ends */
/* modify selection css */
.change-details {
  display: inline-block;
  border: 1px solid #FF7B5E;
  top: 5px;
  color: #fff;
  background-color: #FF7B5E;
  right: 0px;
  width: 100px;
  text-align: center;
  border-radius: 3px;
  position: relative;
}
.change-details:hover,
.change-details:focus,
.change-details:active {
  color: #fff;
  background-color: #ff6644;
}
.change-details > div {
  padding: 5px 0px;
  font-size: 11px;
  cursor: pointer;
  text-transform: uppercase;
}
.change-details .tip {
  background-color: rgba(30, 50, 80, 0.9);
  border-radius: 0;
  color: #ffffff;
  text-transform: none;
  display: block;
  font-size: 15px;
  font-weight: bold;
  bottom: 50px;
  height: auto;
  margin-top: 40px;
  padding: 15px;
  position: fixed;
  right: 0;
  text-align: left;
  top: 0;
  width: 100%;
}
.change-details .tip.full-height {
  height: 100%;
  bottom: 0px;
}
.change-details .tip:before {
  background-color: rgba(30, 50, 80, 0.9);
  content: "";
  display: block;
  height: 60px;
  position: absolute;
  right: 110px;
  top: -60px;
  width: 100%;
}
.change-details .tip:after {
  background-color: rgba(255, 255, 255, 0.11);
  -webkit-border-radius: 0px 0px 0px 10px;
  -moz-border-radius: 0px 0px 0px 10px;
  border-radius: 0px 0px 0px 10px;
  box-shadow: 5px 5px 50px rgba(200, 200, 200, 0.4) inset;
  content: "";
  display: block;
  height: 50px;
  position: absolute;
  right: 0px;
  top: -40px;
  width: 120px;
}
.change-details .tip > strong,
.tab-coach > strong {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  color: #f78460;
  cursor: pointer;
  display: block;
  font-size: 15px;
  height: 30px;
  padding: 4px 10px;
  position: relative;
  right: 0;
  text-align: right;
  top: 0px;
}
.tab-coach > strong {
  position: absolute;
  right: 15px;
  top: 5px;
}
.change-details .tip > span {
  font-weight: 300;
}
.tab-coach {
  bottom: 0px;
  display: block;
  position: absolute;
  width: 100%;
  padding: 10px 15px;
  left: 0px;
}
.tab-coach:after {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px 20px rgba(200, 200, 200, 0.5) inset;
  content: "";
  display: block;
  height: 70px;
  left: 0px;
  position: absolute;
  bottom: -70px;
  width: 100%;
}
.change-details img {
  display: inline-block;
  width: 21px;
  margin-top: 4px;
}
.cf-dummy-card .main-properties {
  padding: 0px;
  margin: 0;
}
.main-properties .properties {
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}
.main-properties .properties.open {
  height: auto;
  overflow: visible;
  visibility: visible;
  opacity: 1;
}
.main-properties .more {
  font-size: 12px;
  display: block;
  text-align: center;
  padding: 6px 10px;
  cursor: pointer;
  margin: 0 -5px;
  color: #999;
}
.main-properties h4 {
  margin: 0;
  font-size: 14px;
  padding: 10px 5px 5px;
  color: #00a682;
}
.main-properties .bb {
  border-bottom: 1px solid #eaeaea;
}
.main-properties .pr-title {
  text-transform: uppercase;
  color: #666666;
  font-size: 11px;
  font-weight: 300;
  margin: 12px 5px 5px;
}
.main-properties .pr-val {
  font-size: 12px;
  color: #314451;
  text-align: left;
  margin: 5px 5px 10px;
}
/* modify selection css ends */
/*  log in window css */
.log-in-tabs {
  text-align: center;
}
.log-in-tabs li {
  display: inline-block;
  float: none;
  cursor: pointer;
}
.log-in .tab-group {
  background-color: #ffffff;
  border: 1px solid #dadada;
  border-top: none;
}
.group-field {
  margin: auto;
  max-width: 430px;
  padding: 20px;
}
.group-field .input-group {
  margin: auto;
  width: 100%;
}
.group-field .input-group-addon {
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  width: 70px;
}
.log-in .social-log-in {
  margin: 10px;
  text-align: center;
}
.log-in .social-log-in a {
  display: inline-block;
  margin: 10px 0px;
  width: 220px;
}
.log-in .forget-pwd {
  color: #999999;
  font-size: 14px;
  text-align: right;
  margin-top: 10px;
}
.log-in .error {
  margin: 10px 0;
}
.log-in .free-line {
  color: #999999;
  padding: 0px 20px;
  font-size: 12px;
  text-align: center;
}
.log-in h4 {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}
/*  log in window css ends */
/* call schedule css */
.call-schedule .table-schedule {
  background-color: #FFFFFF;
  color: #314451;
  margin-bottom: 0;
  width: 100%;
}
.call-schedule .number-field {
  background-color: #F9F9F9;
  border: 1px solid #DADADA;
  border-top-width: 0px;
  font-size: 10px;
  padding: 20px;
  text-transform: uppercase;
}
.call-schedule .table-schedule th {
  background-color: #F9F9F9;
  border-bottom: 1px solid #EAEAEA;
  color: #F78460;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  width: 33.33%;
}
.call-schedule .table-schedule th span {
  display: block;
  margin-top: 3px;
  font-size: 10px;
  color: #314451;
}
.call-schedule .table-schedule td {
  border-bottom-color: #eaeaea;
  padding: 0;
}
.call-schedule .table-schedule td .tm-slot {
  background-color: #FFFFFF;
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
  font-size: 10px;
  letter-spacing: 1px;
  margin: 5px;
  padding: 7px 5px;
  text-align: center;
}
.table-schedule td .tm-slot.active {
  background-color: #E5FFE3;
}
.table-schedule td .tm-slot.disabled {
  color: #999999;
  pointer-events: none;
  text-decoration: line-through;
  cursor: default;
}
.call-schedule .free-line {
  color: #999999;
  font-size: 12px;
  margin-top: 10px;
  padding: 0 20px;
  text-align: center;
}
.call-schedule h4 {
  font-size: 16px;
  margin-top: 15px;
  padding: 0 10px;
  text-align: center;
}
.call-schedule .hdr-line {
  border: 1px solid #dadada;
  border-bottom-width: 0px;
  border-radius: 3px 3px 0 0;
  background-color: #F9F9F9;
  color: #F78460;
  font-size: 12px;
  line-height: 1em;
  margin: 15px 25px 0;
  padding: 8px 10px;
  text-align: center;
  text-transform: uppercase;
}
.call-schedule .complete {
  border: 2px dashed #CAE6CE;
  margin: 20px 0 10px;
  padding: 10px;
  text-align: center;
  text-transform: none;
}
.call-schedule .complete .highlight {
  color: #FF9F6E;
  font-size: 30px;
}
/* call schedule css ends */
/* overlay modes css */
body #mobi-wrapper {
  padding-top: 40px;
  opacity: 1;
  height: auto;
  overflow: visible;
}
body #mobi-wrapper.overlay-mode {
  height: 100vh;
  position: relative;
  opacity: 0.59;
  overflow: hidden;
  pointer-events: none;
}
/* overlay mode css ends */
/* Help me choose action box css */
.help-me-choose-action {
  background-color: #fffdd2;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
  margin-bottom: 5px;
  padding: 12px 5px 12px 8px;
  text-transform: uppercase;
  display: block;
}
.help-me-choose-action em {
  font-weight: 300;
  font-size: 10px;
  font-style: italic;
  text-transform: none;
  color: #666666;
}
.help-me-choose-action .action {
  background-color: #F78460;
  border-radius: 2px;
  color: #FFFFFF;
  display: block;
  font-size: 10px;
  height: 34px;
  padding: 10px 3px;
  text-align: center;
}
.help-me-choose-action .action:active {
  background-color: #f78460;
}
.result-screen.indiv-detail .help-me-choose-action {
  display: none;
}
/* Help me choose action box css ends */
.tempAlert {
  position: absolute;
  z-index: 3000;
  padding: 8px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  font-size: 12px;
  bottom: 80px;
  width: 60%;
  margin: 0 20%;
  border-radius: 3px;
  text-align: center;
}
.no-plans-available {
  margin: 15px;
  padding: 23px 26px;
  background-color: #fff;
  text-align: center;
  color: #999;
  font-size: 18px;
  line-height: 1.4em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.no-plans-available > div {
  color: #314451;
  font-size: 14px;
  margin-bottom: 30px;
  position: relative;
}
.no-plans-available > div:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -15px;
  background-color: #f87460;
  height: 2px;
  width: 80px;
  left: 50%;
  margin-left: -40px;
}
.no-plans-available .text-muted {
  color: #314451;
  font-size: 12px;
}
#memberSelector {
  max-width: 410px;
  padding: 0px;
  margin: auto;
}
.pincode-field {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}
.pincode-field .form-control {
  height: 40px;
  border-radius: 2px;
}
.table.year-coverage th,
.table.year-coverage td {
  padding: 8px 0px;
}
.table.year-coverage th {
  text-align: center;
  font-weight: normal;
  background-color: #f7fafc;
}
/* filters indicator css */
.filters-applied {
  padding: 1px 0px 0px;
  background-color: #f5f5f5;
}
.filters-applied h4 {
  background: url("../img/arrow-down-big.png") no-repeat scroll right center / 20px auto #f5f5f5;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0px 10px;
  padding: 10px 5px;
  color: #666666;
  cursor: pointer;
  letter-spacing: 1px;
}
.filters-applied ul {
  list-style-type: none;
  padding: 0px;
  margin: 0;
  display: none;
  background-color: #ffffff;
}
.filters-applied.active ul {
  display: block;
}
.filters-applied.active h4 {
  background: url("../img/arrow-up-big.png") no-repeat scroll right center / 20px auto #f5f5f5;
}
.filters-applied ul li {
  border-bottom: 1px solid #eaeaea;
  padding: 5px;
  font-size: 11px;
}
.filters-applied ul li .opt,
.filters-applied ul li .val {
  float: left;
  padding: 0px 5px;
}
.filters-applied ul li .opt {
  width: 40%;
}
.filters-applied ul li .val {
  width: 60%;
  border-left: 1px solid #eaeaea;
  color: #999999;
}
.filters-applied ul li .val span {
  display: inline-block;
  margin: 0 5px 5px;
}
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.text-capitalize {
  text-transform: capitalize;
}
.val-err {
  font-size: 12px;
}
/* Insurer logos sprite starts */
.insurer-logo {
  background-image: url('../img/insurer-logos.png');
  background-repeat: no-repeat;
  width: 100px !important;
  height: 50px !important;
}
.insurer-logo.insurer-9 {
  background-position: 0 0;
}
.insurer-logo.insurer-8 {
  background-position: 0 -50px;
}
.insurer-logo.insurer-7 {
  background-position: -100px 0;
}
.insurer-logo.insurer-6 {
  background-position: -100px -50px;
}
.insurer-logo.insurer-5 {
  background-position: 0 -100px;
}
.insurer-logo.insurer-4 {
  background-position: -100px -100px;
}
.insurer-logo.insurer-3 {
  background-position: 0 -150px;
}
.insurer-logo.insurer-2 {
  background-position: -100px -150px;
}
.insurer-logo.insurer-16 {
  background-position: -200px 0;
}
.insurer-logo.insurer-15 {
  background-position: -200px -50px;
}
.insurer-logo.insurer-14 {
  background-position: -200px -100px;
}
.insurer-logo.insurer-13 {
  background-position: -200px -150px;
}
.insurer-logo.insurer-12 {
  background-position: 0 -200px;
}
.insurer-logo.insurer-11 {
  background-position: -100px -204px;
}
.insurer-logo.insurer-10 {
  background-position: -200px -200px;
}
.insurer-logo.insurer-1 {
  background-position: 0 -250px;
}
@media screen and (-webkit-min-device-pixel-ratio: 1), screen and (min--moz-device-pixel-ratio: 1), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1), screen and (min-resolution: 1dppx) {
  .insurer-logo {
    background-image: url('../img/insurer-logos.png');
    -webkit-background-size: 300px 300px;
    -moz-background-size: 300px 300px;
    background-size: 300px 300px;
  }
}
/* Insurer logos sprite ends */
@media only screen and (max-width: 767px) {
  #plans-buy .lead-loader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px 20px 0px;
    text-align: center;
    background-color: #ffffff;
    z-index: 20;
    color: #333333;
    left: 0;
  }
  #plans-buy .lead-loader h4 {
    font-size: 14px;
  }
  .row-offcanvas {
    position: relative;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    top: 110%;
    height: 0;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    padding: 0px;
    width: 100%;
  }
}
@media only screen and (max-width: 319px) {
  body,
  html {
    overflow-x: auto;
  }
  body #mobi-wrapper {
    min-width: 320px;
    overflow-x: hidden;
  }
  .call-box-fixed .call-option {
    width: 100%;
  }
  .call-box-fixed .call-option.else {
    display: none;
  }
  .overlay-tab a.links {
    font-size: 10px;
  }
}
.dotted-box {
  margin: 8px 5px;
  border: 2px dotted #b1c3d0;
  border-radius: 3px;
  padding: 7px;
  font-size: 12px;
  color: #314451;
  line-height: 1em;
}
.dotted-box strong {
  font-size: 14px;
  display: block;
  text-align: center;
}
.sup-topup-header {
  font-size: 14px;
  text-align: center;
  color: #aaa;
  margin-bottom: 5px;
}
.result-screen.indiv-detail .sup-topup-header {
  display: none;
}
.plan-card .spl-label {
  display: block;
  font-size: 10px;
  margin: -13px -5px 0;
  padding: 0px 5px;
  background-color: #ffffff;
  width: 70px;
  border-right: 1px solid #eaeaea;
  line-height: 12px;
}
