@baseBgColor:#efeff4;
@cfBaseColor: #FF7B5E;
@healthBaseColor: #00D9AA;
@baseFont: 'Open Sans','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
@baseTextColor: #314451;
@lightTextColor: #666666;
@defaultBaseColor:#fff;
@invertBaseColor:#8d8d8d;
@cfDarkGrey:#314451;
@blueBaseColor:#0076ff;

*{
  -webkit-backface-visibility:hidden;
}

.roundedCorners(@radius: 3px){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.gradient (@startColor: #eee, @endColor: white) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(top, @startColor, @endColor);
  background-image: -moz-linear-gradient(top, @startColor, @endColor);
  background-image: -ms-linear-gradient(top, @startColor, @endColor);
  background-image: -o-linear-gradient(top, @startColor, @endColor);
}

.boxShadow (@hor: 3px, @vert: 2px, @blur: 5px, @shadow: #717171) when (iscolor(@shadow)){
  -webkit-box-shadow: @hor @vert @blur @shadow;
  -moz-box-shadow: @hor @vert @blur @shadow;
  box-shadow: @hor @vert @blur @shadow;
}
.boxShadow (@hor: 3px, @vert: 2px, @blur: 5px, @shadow: 50%) when (isnumber(@shadow)){
  .boxShadow(@hor, @vert, @blur, rgba(0,0,0, @shadow));
}
.transform(@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}

.pnone{
  padding:0;
}
.plnone {
  padding-left: 0;
}
.mnone{
  margin:0;
}
.mpoint {
  cursor:pointer;
}
.bnone {
  border:none !important;
}
.transform-origin (@x:center, @y:center) {
  -webkit-transform-origin: @x @y;
  -moz-transform-origin:    @x @y;
  -ms-transform-origin:     @x @y;
  -o-transform-origin:      @x @y;
}

.cubic-trans {
  -webkit-transition: all 0.3s cubic-bezier(.21, .20, .23, 1);
  -moz-transition: all 0.3s cubic-bezier(.21, .20, .23, 1);
  -o-transition: all 0.3s cubic-bezier(.21, .20, .23, 1);
  -ms-transition: all 0.3s cubic-bezier(.21, .20, .23, 1);
  transition: all 0.3s cubic-bezier(.21, .20, .23, 1);
}


.box-shadow-base {
  .boxShadow(0, 1px, 1px, rgba(0, 0, 0, 0.2));
}

.cfBtn(@bg-color) {
  //.gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  //.boxShadow(1px, 2px, 3px, 20%);
  background-color: @bg-color;
  letter-spacing: 1px;
  color: #fff;
  padding: 6px;
  .roundedCorners;
  cursor: pointer;
  border: 1px solid @bg-color;
  &:hover, &:active {
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: darken(@bg-color,2%);
    //.gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  }
  &.btn-sm {
    padding:4px;
  }
  &.btn-empty {
    color: @baseTextColor;
    background-color: transparent;
    border: 1px solid @bg-color;
    &:hover, &:active,&:focus {
      .boxShadow(0,0,0,transparent);
      background-color: #f7f7f7;
      outline: none;
    }
  }
}
.cf-btn-orange {
  .cfBtn(@cfBaseColor);
  //background-color: @cfBaseColor;
  //border:1px solid darken(@cfBaseColor, 10%);
}
.cf-btn-green {
  .cfBtn(@healthBaseColor);
  //background-color: @healthBaseColor;
  border:1px solid darken(@healthBaseColor, 2%);
}
.cf-btn-default {
  .cfBtn(@defaultBaseColor);
  color: @baseTextColor;
  //background-color: @defaultBaseColor;
  border:1px solid darken(@defaultBaseColor, 15%);
  &:hover,&:active,&:focus {
    color: @baseTextColor;
  }
}
.cf-btn-invert {
  .cfBtn(@invertBaseColor);
  //background-color: @invertBaseColor;
  //border:1px solid darken(@invertBaseColor, 10%);
}
.cf-btn-blue {
  @buttonColor:lighten(@blueBaseColor,15%);
  .cfBtn(@buttonColor);
  //background-color: @buttonColor;
  //border:1px solid darken(@invertBaseColor, 10%);
  &:hover, &:active,&:focus {
    color: #fff;
  }
}

/* CSS icons archive */

.arrowIconMix(@color) {
  position: relative;
  width: 50%;
  height: 50%;
  margin-top: -10%;
  display: block;
  top: 25%;
  left: 25%;
  .transform(rotate(-45deg));
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  &:after, &:before {
    content: '';
    display: block;
    background:@color;
    position: absolute;
    .roundedCorners(10px);
  }
  &:after {
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  &:before {
    height: 100%;
    width: 2px;
    bottom:0;
    left:0;
  }
}
.arrow-icon-grey {
  .arrowIconMix(@lightTextColor);
}
.tickIconMixin(@color) {
  position: relative;
  width:100%;
  height:100%;
  display: block;
  &:after {
  content:'';
  display: block;
  position: absolute;
  .transform(rotate(-45deg));
  width: 80%;
  height: 50%;
  border-bottom: 3px solid @color;
  border-left: 3px solid @color;
  .roundedCorners(0 0 0 3px);
  left: 8%;
  top: 15%;
  }
}
/*
.tickIconMix(@color) {
  position: relative;
  width:100%;
  height:100%;
  left:5%;
  top:-5%;
  display: inline-block;
  .transform(rotate(-45deg));
  &:after, &:before {
    content: '';
    display: block;
    background:@color;
    position: absolute;
    .roundedCorners(10px);
  }
  &:after {
    height: 3px;
    width: 90%;
    top: 50%;
    left:5%;
  }
  &:before {
    height: 45%;
    width: 3px;
    top:15%;
    left:5%;
  }
}
*/
.tick-icon-white {
  .tickIconMixin(#fff);
}
.tick-icon-green {
  .tickIconMixin(@healthBaseColor);
}

.crossIconMix(@color) {
  position: relative;
  width:100%;
  height:100%;
  display: inline-block;
  &:before, &:after {
    content: '';
    width:100%;
    display: block;
    position: absolute;
    top: 50%;
  }
  &:before {
    border-bottom: 2px solid @color;
    width:100%;
    .transform(translateY(-50%) rotate(-45deg));
    left: 0px;
  }
  &:after {
    border-bottom: 2px solid @color;
    width: 100%;
    left: 50%;
    .transform(translate(-50%,-50%) rotate(45deg));
  }
}
.cross-icon-red {
  .crossIconMix(#ff0000);
}
.cross-icon-grey {
  .crossIconMix(@lightTextColor);
}
.cross-icon-white {
  .crossIconMix(#f5f5f5);
  opacity: 0.4;
}
.filter-icon {
  position: relative;
  width: 20px;
  display: block;
  height: 20px;
  border: 1px solid #fff;
  padding:0px;
  .roundedCorners(3px);
  & i{
    display: block;
    width: 1px;
    height: 14px;
    position: absolute;
    top: 2px;
    left: 4px;
    margin: 0px;
    background-color: #fff;
    &:after {
      content: '';
      display: block;
      background-color: #0076ff;
      border: 1px solid #fff;
      width: 3px;
      height: 3px;
      position: absolute;
      top: 3px;
      left: -1px;
      .roundedCorners(30px);
    }
    &:nth-child(even) {
      left:9px;
      &:after {
        top:9px;
      }
    }
    &:last-child {
      left:13px;
      &:after {
        top:5px;
      }
    }
  }
}

.cf-checkbox {
  position: relative;
  .input-helper {
    position: absolute;
    width:20px;
    height: 20px;
    &:after,&:before {
      content: '';
      position: absolute;
    }
    &:before {
      display: block;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      background-color: transparent;
      border: 1px solid rgba(0,0,0,0.2);
      .roundedCorners(3px);
    }
    &:after {
      display: none;
      visibility: hidden;
      .transform(rotate(-45deg));
      width: 70%;
      height: 40%;
      border-bottom: 3px solid #fff;
      border-left: 3px solid #fff;
      .roundedCorners(0 0 0 3px);
      left: 15%;
      top: 20%;
    }
  }
  &.active .input-helper {
    &:after {
      visibility: visible;
      display: block;
    }
    &:before {
      border-color: rgba(0,0,0,0.1);
      background-color: @cfBaseColor;
    }
  }
}

.cf-radio {
  position: relative;
  .input-helper {
    position: absolute;
    width:20px;
    height: 20px;
    &:after,&:before {
      content: '';
      position: absolute;
    }
    &:before {
      display: block;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      border: 1px solid rgba(0,0,0,0.2);
      .roundedCorners(100%);
    }
    &:after {
      display: none;
      visibility: hidden;
      width: 60%;
      height: 60%;
      .roundedCorners(100%);
      left: 20%;
      top: 20%;
      background-color: @cfBaseColor;
    }
  }
  &.active .input-helper {
    &:after {
      display: block;
      visibility: visible;
    }
  }
}
