<section class="author-wrapper">
	<img alt="Meeta Sabnis" src="{{STATIC_URL}}img/cms/authors/meeta.png">
    <div class="author-wrapper__header">Written by Meeta Sabnis</div>
    Her Mantra in life is – Dream! And dream until you turn them into realism. A neurotic Kajol fan, Meeta loves spending time with her gorgeous Twins ensuring a childhood they’ll be so proud of. Bargain hunting, crazy dancing and romancing alphabets are some of her other cravings. She’s currently a Content Writer at Coverfox.
</section>

