<section class="author-wrapper">
    <img alt="Shilpi Saini" src="{{STATIC_URL}}img/cms/authors/shilpi.png">
    <div class="author-wrapper__header">Written by Shilpi Saini</div>
    A romantic at heart and pragmatist out of necessity, Shilpi loves ideas, opinions, life in motion, dance, cinema and staring out of the window.  She is also a content writer at Coverfox.
</section>

