<section class="author-wrapper">
    <img alt="Sharanya Kannan" src="{{STATIC_URL}}img/cms/authors/sharanya.png">
    <div class="author-wrapper__header">Written by Sharanya Kannan</div>
    Sharanya loves food, films,  finitism, flawlessness, flavours, freedom, factualism, facundity and being fluxional. Obviously you can tell that she loves the f-word: Feminism.
</section>

