<section class="author-wrapper">
    <img alt="Aniket Thakkar" src="{{STATIC_URL}}img/cms/authors/aniket.png">
    <div class="author-wrapper__header">Written by Aniket Thakkar</div>
    He lives off TV shows, movies, junk food, comics and sarcasm. When he is not working as a freelance imaginary friend to other beings like him, he works as VP of Marketing at Coverfox.
</section>

