@import "colors.less";
@baseFont: 'brandon-grotesque','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;


.boxShadow(@value){
  -webkit-box-shadow: @value;
  -moz-box-shadow: @value;
  box-shadow: @value;
}

.roundedCorners(@radius: 3px){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.transform(@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}


.transition (@range: all, @time: 0.5s, @ease: cubic-bezier(.4, 0, .2, 1)) {
  -moz-transition: @range @time @ease;
  -webkit-transition: @range @time @ease;
  -o-transition: @range @time @ease;
  transition: @range @time @ease;
}

.transform-transition(@time: 0.5s, @ease: cubic-bezier(.4, 0, .2, 1)){
   -moz-transition: -moz-transform @time @ease, opacity @time @ease, visibility @time @ease;
  -webkit-transition: -webkit-transform @time @ease, opacity @time @ease, visibility @time @ease;
  -o-transition: -o-transform @time @ease, opacity @time @ease, visibility @time @ease;
  -ms-transition: -ms-transform @time @ease, opacity @time @ease, visibility @time @ease;
  transition: transform @time @ease, opacity @time @ease, visibility @time @ease;
}

.icon-bg(@image, @xsize:100%, @ysize:100%, @xpos:0, @ypos:50%){
  background-image: url(@image);
  background-size: @xsize @ysize;
  background-repeat: no-repeat;
  background-position: @xpos @ypos;
}


.BoxShadowHelper(@level: 1){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}
