@import "basestyles.less";


body{
	color:@baseDark;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

*{
  -webkit-backface-visibility:hidden;
}


.fullWidthBackground{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center center;
}

.header-wrapper{
	background-image:url('../img/blog-home-bg.jpg');
	.fullWidthBackground;
	height:440px;
	.cover{
		opacity: 0.85;
	}
}

.page-header-wrapper{
	text-align: left;
	padding-top: 10px;

	h1{
		font-size: 48px;

	}
	h2{
		color:#BAC6CD;
		font-size: 28px;
		font-weight: 300;
		margin-top: 0;
	}
}


.main-content-wrapper{
	position: relative;
	z-index:10;
	background: @grey-2;
}

.header-subscribe-form{
	background: @grey-2;
	.BoxShadowHelper(1);
	text-align: center;
	padding:32px;
	height:440px;

	.roundedCorners;

	.social-header{
		margin-top:20px;
		margin-bottom: 10px;
	}
	.social-icons{
		margin-top: 20px;
	}
	p.error{
		font-size: 14px;
		color:red;
		margin-bottom: 0;
	}
	p.success{
		font-size: 14px;
		color: rgb(26, 190, 103);
		margin-bottom: 0;
	}
	ul{
		list-style-type: none;
		padding: 0;
		margin-top:32px;
		li{
			text-align: left;
			margin-bottom: 20px;
			  display: inline-block;
  max-width: 45%;
		}
	}
	h3{
		font-weight: 300;
		font-size: 24px;
		margin-top: 0;
	}
	h2{
		margin-top: 0;
	}
	h4{
		font-size: 16px;
		line-height: 20px;
		margin-top: 20px;
		opacity:0.7;
	}
	input{
		background: #fff;
		border: 1px solid darken(@grey-2, 10%);
		border-radius: 4px;
		width:100%;
		padding:5px 12px;
		font-size: 20px;
		margin-top: 20px;
		background-image:url('../img/email-icon.png');
		background-size: 34px 23px;
		background-repeat: no-repeat;
		background-position: 8px 8px;
		padding-left:52px;

	}
	.btn-cfox{
		margin-top: 10px;
		width:100%;
		display: inline-block;

	}
}


.blog-item{
	padding:28px;
	height:440px;
	overflow: hidden;
	border-bottom:1px solid rgba(0,0,0,0.1);
	border-right:1px solid rgba(0,0,0,0.1);
	.transition(@time:300ms);
	position: relative;
	z-index:10;
	.roundedCorners;
	&:hover{
		.BoxShadowHelper(4);

		z-index:11;
		background: #fff;
		.blog-item-readmore{
			.transform(translateY(0px));
			visibility: visible;
			opacity:1;
		}

		.blog-item-title .tease{
			.transform(translateY(0px));
			visibility: visible;
			opacity:0.7;
		}
		.blog-item-meta{
			.transform(translateY(200px));
			visibility: visible;
			opacity:0;
		}
	}

	.blog-item-image{
		.fullWidthBackground;
		height:170px;
		margin-bottom: 16px;

	}
	.blog-item-title{
		h1{
			margin-top: 0;
			font-size: 22px;
			line-height: 26px;
			font-weight: bold;

			a{
				color:#314451;
				&:hover{
					color:@orange;
					text-decoration: none;
				}

			}
		}
		.tease{
			opacity:0.7;

			.transform(translateY(100px));
			visibility: hidden;
			opacity:0;
			.transform-transition;
			p{
				font-size: 12px;
			line-height: 20px;

			}
		}
		.blog-item-cat{
			text-transform: uppercase;
			margin-bottom: 5px;
			font-size: 11px;
			font-weight: bold;
			letter-spacing: 1px;
			color:rgba(0,0,0,0.7);
		}
	}

	.blog-item-content{
		p{
			color:#8f99a0;
			font-size: 16px;
			line-height: 24px;

		}
	}

	.blog-item-meta{
		padding-left:80px;
		position: relative;
		position: absolute;
		bottom:28px;
		left:28px;
		right:28px;
		.transform-transition;

		.blog-author-image{
			position: absolute;
			width:56px;
			height:56px;
			left:0;
			top:0;
			.fullWidthBackground;
			.roundedCorners(50%);

		}
		span.blog-author{
			color:@orange;
			font-weight: bold;
			font-size: 16px;
		}
		p{
			font-size: 12px;
			color: #8f99a0;
			line-height: 20px;
			position: relative;
			top: 8px;
		}
	}

	.blog-item-readmore{
		position: absolute;
		text-transform: uppercase;
		top: 28px;
		right: 28px;
		font-size: 12px;
		.transform-transition;
		.transform(translateY(10px));
		visibility: hidden;
		opacity:0;
		a{
			color:#314451;
			&:hover{
				color:@orange;
			}
		}
	}



	&.featured{
		padding: 12px;
		padding-left: 320px;
		background: transparent;
		margin-top:40px;
		margin-bottom:40px;
		.boxShadow(none);
		border-bottom: none;
		.blog-item-image{
			width:300px;
			top:0;
			bottom: 0;
			left:0;
			right:0;

		}

		h1{
			font-size: 40px;

			line-height: 48px;
		}
	}


}

.section-label{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	margin-bottom: 12px;
	position: relative;
	display: inline-block;
	margin-left: 40px;
	span{
		color:@blue;
	}

	&:before, &:after{
		position: absolute;
		content:'';
		height:1;
		border-bottom:1px solid rgba(0,0,0,0.1);
		width:30px;
		top:50%;
	}
	&:after{
		right:-42px;
	}
	&:before{
		left:-42px;
	}
}






.content-wrapper{
	margin-top: -80px;
}

.blog-nav-wrapper{
	position: relative;
	z-index:4;
	.BoxShadowHelper(1);
	background: @grey-1;
	.roundedCorners;
	padding:32px 40px;
	.transform(translateY(-50%));

	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
		li{

			font-size: 14px;
			padding: 0;
			.roundedCorners;
			margin-right: 32px;
			&.list-header{
				text-transform: uppercase;
				font-size: 14px;
				padding-left: 0;
				margin-bottom: 12px;
				img{
					max-height: 12px;
					margin-top: -5px;
					margin-right: 6px;
				}
			}
			a{
				text-decoration: none;
				color:@blue;
				display: inline-block;
				.roundedCorners;
				.transition(@time:100ms);
				padding:2px 0;
				&:hover{
					background: @grey-2;
					padding:2px 12px;
				}
			}
			&.active{
				a{
					color:#fff;
					background: @blue;
					padding:2px 12px;
				}

			}
		}

		&.search-social{
			&>li{
				input{
					width:100%;
					.roundedCorners;
					background-color: #efeff4;
					border:1px solid darken(@grey-2, 10%);
					background-image:url('../img/search-icon.png');
					background-position: 95% 8px;
					background-repeat: no-repeat;
					background-size: 16px 16px;
					padding:4px 12px;
				}
				margin-right: 0;
				p.helper{
					font-size: 14px;
					opacity:0.5;
				}

			}


		}
	}
}

ul.social-icons{
	list-style-type: none;
	padding: 0;
	li{
		display: inline-block;
		margin-right: 10px;
		a{
			&:hover{
				padding: 0;
				background: none;
			}
		}
		img{
			max-width: 36px;
		}
	}
}

.featured-articles-wrapper{
	z-index:3;
	position: relative;
	padding: 56px 0;
	h2{
		margin: 0;
		font-weight: 300;
		font-size: 40px;
		margin-bottom: 40px;
	}
}


h4.cat_header{
	margin-left: 18px;
	display: inline-block;
	padding: 5px 12px;
	font-size: 16px;
	border-radius: 3px;
	border:1px solid @orange;
	color:@orange;
	overflow: hidden;
	span{
		background: @orange;
		padding: 2px 20px;
		margin-left: 12px;
		margin-right:-12px;
		color:#fff;
	}
}


.stick-to-top{
	position: fixed;
	top:60px;
	z-index:300;
}

.pagination-wrapper{
	padding:56px 0;
	float: left;

	ul{
		padding: 0;
		li{
			display: inline-block;
			margin-right: 24px;
			a{
				padding:8px 20px;
				background: darken(@grey-1, 5%);
				color: darken(@grey-1, 60%);
				.roundedCorners(30px);
				.transition;
				font-size: 16px;
				&:hover{
					text-decoration: none;
					background: darken(@grey-1, 10%);
				}
			}
		}
	}
}



///// Article Detail

body.post-detail{
	background: #fff;
}

.article-detail-header{
	height:auto;
	.page-header-wrapper{
		padding:40px 0;
		h2{
			color: #fff;
			font-weight: 300;
			line-height: 56px;
			font-size: 32px;
			margin-bottom: 0;
			a{
				color:#fff;
				text-decoration: none;
				border-bottom: 1px dotted #fff;
				opacity:0.8;
				position: relative;
				&:hover{
					opacity:1;
				}
				span{
					position: absolute;
					left: -40px;
  					top: -11px;
				}

			}
		}
		h3{
			color: #BAC6CD;
			font-size: 20px;
			font-weight: 300;
			margin-top: 0;
		}
	}
}

.article-wrapper {
	h1{
		font-weight: 300;
		margin:0;
		padding:12px 0;
		font-size: 38px;
		line-height: 56px;
	}
	p.category{
		margin-bottom: 0;
		margin-top:44px;

		a{
			color:@baseDark;
			text-transform: uppercase;
			font-size: 14px;
			border:1px solid @baseDark;
			display: inline-block;
			padding:4px 12px;
			letter-spacing: 2px;
			.roundedCorners;
			.transition;
			&:hover{
				text-decoration: none;
				background: @blue;
				color:#fff;
				border:1px solid darken(@blue, 10%);
			}

		}
	}
	.teaser{
		p{
			font-size: 22px;
			font-weight: 300;
			line-height: 36px;

		}
	}
	.meta{
		font-size: 16px;
		padding-top: 0px;
		padding-bottom: 20px;
		span.author{
			color:@orange;
		}
		span.category{
			font-weight: bold;
		}
	}
	.article-content{
		padding:32px 0;
		p{
			line-height: 32px;
			font-size: 16px;
		}
		ol li {
		  line-height: 32px;
		  font-size: 16px;
		  margin-bottom: 5px;
		}
	}
	.article-comments{
		margin-top: 40px;
	}
	.author-meta{
		padding:40px;
		position: relative;
		padding-left:180px;
		background: @grey-2;
		.roundedCorners(5px);

		.author-image{
			position: absolute;
			width:100px;
			height:100px;
			left:40px;
			top:40px;
			.fullWidthBackground;
			.roundedCorners(50%);
		}
		.author-about{
			h3{
				color:@orange;
				margin-top: 0;
			}
			p{
				font-size: 16px;

			}
			.author-social{
				list-style-type: none;
				padding: 0;
				margin-top: 20px;
				li{
					text-transform: uppercase;
					letter-spacing: 2px;
					font-size: 12px;
					margin-right: 12px;
					display: inline-block;
					a{
						text-decoration: none;
						padding:3px 10px;
						border:1px solid #314451;
						color:#314451;
					}
				}
			}
		}
	}
	.article-header-image{
		margin-top:20px;
		margin-bottom:20px;
	}
	table{
		margin-top:32px;
		margin-bottom:32px;
		td{
			padding:12px;
			p{
				margin-bottom: 0;
			}
		}
	}
}


.recommended-wrapper{
	margin-top: 56px;
	.recommended-item{
		padding: 0;
		height:350px;
		position: relative;
		overflow: hidden;
		&:hover{
			.cover-bg{
				.transform(scale(1.2));
				-webkit-filter: grayscale(0%);
    			-moz-filter: grayscale(0%);
    			filter: grayscale(0%);
			}
			.cover{
				opacity:0.7;
			}
		}
		.cover-bg{
			position: absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			.transition;
			.fullWidthBackground;
			-webkit-filter: grayscale(100%);
    		-moz-filter: grayscale(100%);
    		filter: grayscale(100%);

		}
		.cover{
			background: rgba(49,68,81,0.7);
			position: absolute;
			top:0;
			left:0;
			bottom:0;
			right:0;
			z-index:10;
			.transform-transition;
		}
		.item-meta{
			position: absolute;
			left:0;
			right:0;
			top:50%;
			.transform(translateY(-50%));
			z-index:11;
			text-align: center;
			h3{

				color:#fff;
				margin: 0;
				font-size: 32px;
				line-height: 40px;
				padding:0 24px;
				font-weight: 300;
			}
			p{
				color:#fff;
				span.author{
					color: @orange;
					font-weight: bold;
				}
			}

		}



	}
}


.brnone{
	border-right:none;
}

.post-detail-sidebar{
	margin-top:-120px;
	.header-subscribe-form{
		height:auto;
	}
}

.article-topbar-wrapper{
	position: fixed;
	top:0;
	left:0;
	right:0;
	height:45px;
	background: #fff;
	.BoxShadowHelper(1);
	.transform-transition;
	.transform(translateY(-100%));

	&.reveal{
		.transform(translateY(0));
	}
	.timeline-wrapper{
		overflow: hidden;
		&>h3{
			margin: 0;
			padding-top: 12px;
  padding-bottom: 16px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			font-size: 16px;
			padding-left: 24px;
			color:@blue;
			span{
				font-weight: bold;
			}
		}
	}
	.topbar-readall{
		background: @grey-1;
		height:45px;
		border-right:1px solid darken(@grey-1, 10%);
		border-left:1px solid darken(@grey-1, 10%);
		text-align: center;
		padding-top:12px;
		a{
			background: darken(@grey-1, 10%);
			.roundedCorners;
			padding:5px 10px;
			color:#fff;
			background:@orange;
			.transition;
			.BoxShadowHelper(1);
			&:hover{
				background:darken(@orange,10%);
				text-decoration: none;
				
				
			}
						
		}
	}


	.timeline{
		position: absolute;
		top:0;
		left:0;
		bottom:0;
		background: @grey-2;
		overflow: hidden;
		h3{
			white-space: nowrap;
			font-size: 16px;
			padding-left: 24px;
			margin:0;
			padding-top: 12px;
  padding-bottom: 16px;
			span{
				font-weight: bold;
			}

		}
	}

	h3{

	}
}



#posts-container{
	padding-right:0;
	padding-left:0;
}



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.article-container{
		padding:0px 40px;

	}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.article-container{
		padding: 0px;
	}

	.section-label{
		margin-left: 32px;
		margin-top: 20px;
		margin-bottom: 0;
		&:before, &:after{
			display: none;
		}
	}

	.content-wrapper{
		margin-top: 0;
	}

	.header-wrapper{
		height:320px;
	}

	.blog-nav-wrapper{
		display: none;
	}

	.page-header-wrapper{
		padding-top:20px;
		h1{
			font-size: 32px;
			line-height: 36px;
		}
		h2{
			font-size: 16px;
		}
	}

	.blog-item{
		border-right:0;
		padding: 20px 32px;
		height: auto;
		.blog-item-title{
			h1{
				font-weight: bold;
			}
			.tease{
				.transform(translateY(0px));
				visibility: visible;
				opacity:0.7;
				p{
					font-size: 12px;
					line-height: 18px;
				}
			}
		}

		.blog-item-meta, .blog-item-readmore{
			display: none;
		}
		.author-xs{
			font-size: 12px;
			line-height: 12px;
			.blog-author{
				color:@orange;
			}
		}
	}

	.pagination-wrapper {
		padding: 56px 32px;
		}


	// article detail

	.article-detail-header{
		.page-header-wrapper{
			padding:40px 20px;
			h2{
				font-size: 32px;
				line-height: 36px;
				margin-bottom: 10px;

				}
			h3{
				font-size: 16px;
			}
		}
	}

	.article-wrapper{
		padding: 0px 20px 0 32px;
		img{
			max-width: 100%;
		}
	}

	.article-detail-header .page-header-wrapper h2 a{
		font-size:24px;
	}

	.article-wrapper h1{
		font-size: 22px;
		font-weight: bold;
		line-height:25px;
	}
	.article-wrapper .teaser p{
		font-size: 18px;
		line-height: 26px;
	}
	.article-wrapper .article-content p{
		font-size: 16px;
		line-height: 28px;
		color:lighten(@baseDark, 5%);
	}
	.article-wrapper .author-meta{
		padding: 40px;
		padding-top: 180px;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


*{
	backface-visibility: visible;
}

.share-popup-wrapper{
	margin-top:30px;
	.BoxShadowHelper(4);
	.roundedCorners;
	background: #fff;
	opacity:0;
	visibility:hidden;
	.transform-transition;
	&.reveal{
		opacity:1;
		visibility: visible;
	}
	&.landmark{
		opacity:0;
		margin:0;
		padding:0;
		height:0px;
	}
	h3{
		background: @blue;
		color:#fff;
		margin:0;
		padding:20px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 16px;
		text-align: center;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		font-weight: 300;
	}
	h4{
		padding:20px;
		border-top:1px solid rgba(0,0,0,0.1);
		margin-top: 0;


		a{
			background: @orange;
			.roundedCorners;
			.BoxShadowHelper(1);
			color:#fff;
			padding:10px 30px;
			font-size: 14px;
			.transition;
			&:hover{
				background: darken(@blue, 10%);
				text-decoration: none;
			}

		}
	}
	ul{
		padding:20px 40px;
		list-style-type: none;
		margin-bottom: 0;

		li{
			display: inline-block;
			padding:6px 0;

		}
	}
}

.recommended-items-sidebar{
	padding:0 20px;
	h5{
		margin-top: 0;
	}
	.sidebar-r-item{
		margin-bottom:20px;
		max-height: 55px;
		overflow: hidden;

		
	}
}


.about-coverfox-wrapper{
	background: @grey-2;
	margin-top: 30px;
	.roundedCorners;
	padding: 40px;
	h3{
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0;
		font-weight: 300;
		margin-bottom: 20px;
		border-bottom:1px solid rgba(0,0,0,0.1);
		padding-bottom: 15px;
		img{
			  height: 26px;
  			  vertical-align: bottom;
  			  margin-left: 5px;
		}
	}

	p{
		font-size: 14px;
	}
}

.widget-wrapper{
	.roundedCorners;
	text-align: center;
	padding:40px;
	color:#fff;
	.BoxShadowHelper(1);
	h3{
		font-weight: 300;
	}
	margin-top:30px;
	img{
		max-width: 100px;
		opacity:0.4;
	}
	a{
		background: #fff;
		.BoxShadowHelper(1);
		padding:10px 20px;
		color:#314451;
		margin-top: 20px;
		display: inline-block;
		.roundedCorners;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 16px;
		.transition;
		&:hover{
			background: #f2f2f2;
			text-decoration: none;
		}
	}

	&.car{
		background: @blue;
	}
	&.health{
		  background: rgb(255, 145, 52);
	}
    &.car-rsa {
      background:#050505;
      overflow: hidden;
      color: #c8c8d4;
      padding: 40px 20px;
      img {
        max-width: none;
        opacity: 1;
      }
      img.car {
        max-width:345px;
        width:95%;
        display: inline-block;
        margin-top:20px;
      }
      & .highlight {
        color: @orange;
      }
      & .image-container {
        margin:-40px -20px 40px;
        background-color:#c8c8d4;
        text-align: center;
        padding-top: 51px;
        position: relative;
      }
      & img.badge {
        position: absolute;
        top:0px;
        left:0px;
      }
      & img.text {
        display: inline-block;
        width: 54px;
        position: relative;
        top: -15px;
        margin-left: -15px;
        left: 15px;
      }
      & a {
        background-color: @orange;
        color: #ffffff;
        margin-top: 0px;
        &:hover {
          background-color: darken(@orange,8%);
        }
      }
    }
}

.widget-iframe {
  overflow: hidden;
  margin-top:30px;
  .BoxShadowHelper(1);
  .roundedCorners;
  &.car {
    background-color: #0076ff;
  }
  &.health {
    background-color: #ff9134;
  }
}

// temp social sharing buttons
.rrssb-buttons.large-format li a,.rrssb-buttons.large-format li a .rrssb-text{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden}.rrssb-buttons,.rrssb-buttons li,.rrssb-buttons li a{-moz-box-sizing:border-box;box-sizing:border-box}.clearfix{*zoom:1}.clearfix:after{clear:both}.clearfix:before,.clearfix:after{content:" ";display:table}.rrssb-buttons{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;height:36px;margin:0;padding:0;width:100%}.rrssb-buttons li{float:left;height:100%;line-height:13px;list-style:none;margin:0;padding:0 2.5px}.rrssb-buttons li.rrssb-email a{background-color:#0a88ff}.rrssb-buttons li.rrssb-email a:hover{background-color:#006ed6}.rrssb-buttons li.rrssb-facebook a{background-color:#306199}.rrssb-buttons li.rrssb-facebook a:hover{background-color:#244872}.rrssb-buttons li.rrssb-tumblr a{background-color:#32506d}.rrssb-buttons li.rrssb-tumblr a:hover{background-color:#22364a}.rrssb-buttons li.rrssb-linkedin a{background-color:#007bb6}.rrssb-buttons li.rrssb-linkedin a:hover{background-color:#005983}.rrssb-buttons li.rrssb-twitter a{background-color:#26c4f1}.rrssb-buttons li.rrssb-twitter a:hover{background-color:#0eaad6}.rrssb-buttons li.rrssb-googleplus a{background-color:#e93f2e}.rrssb-buttons li.rrssb-googleplus a:hover{background-color:#ce2616}.rrssb-buttons li.rrssb-youtube a{background-color:#df1c31}.rrssb-buttons li.rrssb-youtube a:hover{background-color:#b21627}.rrssb-buttons li.rrssb-reddit a{background-color:#8bbbe3}.rrssb-buttons li.rrssb-reddit a:hover{background-color:#62a3d9}.rrssb-buttons li.rrssb-pinterest a{background-color:#b81621}.rrssb-buttons li.rrssb-pinterest a:hover{background-color:#8a1119}.rrssb-buttons li.rrssb-pocket a{background-color:#ed4054}.rrssb-buttons li.rrssb-pocket a:hover{background-color:#e4162d}.rrssb-buttons li.rrssb-github a{background-color:#444}.rrssb-buttons li.rrssb-github a:hover{background-color:#2b2b2b}.rrssb-buttons li.rrssb-instagram a{background-color:#517fa4}.rrssb-buttons li.rrssb-instagram a:hover{background-color:#406582}.rrssb-buttons li a{background-color:#ccc;border-radius:2px;display:block;font-size:11px;font-weight:bold;height:100%;padding:11px 7px 12px 27px;position:relative;text-align:center;text-decoration:none;text-transform:uppercase;width:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-transition:background-color 0.2s ease-in-out;-moz-transition:background-color 0.2s ease-in-out;-o-transition:background-color 0.2s ease-in-out;transition:background-color 0.2s ease-in-out}.rrssb-buttons li a .rrssb-icon{display:block;height:100%;left:10px;padding-top:9px;position:absolute;top:0;width:10%}.rrssb-buttons li a .rrssb-icon svg{height:17px;width:17px}.rrssb-buttons li a .rrssb-icon svg path,.rrssb-buttons li a .rrssb-icon svg polygon{fill:#fff}.rrssb-buttons li a .rrssb-text{color:#fff}.rrssb-buttons li a:active{box-shadow:inset 1px 3px 15px 0 rgba(22,0,0,0.25)}.rrssb-buttons li.small a{padding:0}.rrssb-buttons li.small a .rrssb-icon{height:100%;left:auto;margin:0 auto;overflow:hidden;position:relative;top:auto;width:100%}.rrssb-buttons li.small a .rrssb-text{visibility:hidden}.rrssb-buttons.large-format{height:auto}.rrssb-buttons.large-format li{height:auto}.rrssb-buttons.large-format li a{border-radius:0.2em;font-size:15px;font-size:1vw;line-height:1vw;padding:7% 0% 7% 12%}.rrssb-buttons.large-format li a .rrssb-icon{left:7%;padding-top:0;width:12%}.rrssb-buttons.large-format li a .rrssb-icon svg{height:100%;width:100%;position:absolute;top:0}.rrssb-buttons.large-format li a .rrssb-text{font-size:15px;font-size:1vw}.rrssb-buttons.large-format li a:hover{font-size:15px;font-size:1vw;padding:7% 0% 7% 12%;border-radius:0.2em}.rrssb-buttons.small-format{padding-top:5px}.rrssb-buttons.small-format li{height:80%;padding:0 1.5px}.rrssb-buttons.small-format li a .rrssb-icon{height:100%;padding-top:0}.rrssb-buttons.small-format li a .rrssb-icon svg{height:48%;position:relative;top:6px;width:80%}.rrssb-buttons.tiny-format{height:22px;position:relative}.rrssb-buttons.tiny-format li{padding-right:7px}.rrssb-buttons.tiny-format li a{background-color:transparent;padding:0}.rrssb-buttons.tiny-format li a .rrssb-icon svg{height:70%;width:100%}.rrssb-buttons.tiny-format li a:hover,.rrssb-buttons.tiny-format li a:active{background-color:transparent}.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon svg polygon{fill:#0a88ff}.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-email a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#0054a3}.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon svg polygon{fill:#306199}.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-facebook a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#18304b}.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon svg polygon{fill:#32506d}.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-tumblr a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#121d27}.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon svg polygon{fill:#007bb6}.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-linkedin a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#003650}.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon svg polygon{fill:#26c4f1}.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-twitter a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#0b84a6}.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon svg polygon{fill:#e93f2e}.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-googleplus a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#a01e11}.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon svg polygon{fill:#df1c31}.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-youtube a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#84111d}.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon svg polygon{fill:#8bbbe3}.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-reddit a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#398bcf}.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon svg polygon{fill:#b81621}.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-pinterest a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#5d0b11}.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon svg polygon{fill:#ed4054}.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-pocket a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#b61124}.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon svg polygon{fill:#444}.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-github a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#111}.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon svg polygon{fill:#517fa4}.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon:hover .rrssb-icon svg path,.rrssb-buttons.tiny-format li.rrssb-instagram a .rrssb-icon:hover .rrssb-icon svg polygon{fill:#2f4a60}





