{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coverfox - Motor Insurance</title>
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,600' rel='stylesheet' type='text/css'>
    {% compress css %}
    <link href="{{STATIC_URL}}global/css/bootstrap-3.3.4.min.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}motor_product/css/car_dekho_style.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}css/jquery.datepick.css" rel="stylesheet" />
    {% endcompress %}
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var CSRF_TOKEN = "{{csrf_token}}";
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}motor_product/global/lib/knockout/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}motor_product/global/lib/jquery/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}motor_product/global/lib/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}motor_product/global/lib/jquery/jquery.plugin.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}motor_product/global/lib/jquery/jquery.datepick-5.0.0.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}motor_product/global/lib/cookies/cookies.js"></script>
    {% compress js %}
    <script type="text/javascript" src="{{STATIC_URL}}motor_product/corporate/utils.js"></script>
    {% endcompress %}
    {% block header %}{% endblock %}
</head>
<body>
<header>
    <div class="header-wrapper">
        <div class="cover"></div>
        <section id="top-menu">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <nav>
                            <a class="logo" href="/">
                                <img src="{{STATIC_URL}}global/img/logos/cf-white-orange-h71.png" alt="Coverfox.com"></a>
                        </nav>
                    </div>
                    <div class="col-sm-6">
                        {% block company-logo %}
                        {% if request.user.is_authenticated %}
                        <a href="/cardekho/logout/" class="btn muted-green pull-right">Logout</a>
                        {% endif %}
                        <a class="tp_logo" href="www.cardekho.com">
                            <img src="{{STATIC_URL}}motor_product/img/third_party/cardekho-logo.png" alt="cardekho.com">
                        </a>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </section>
    </div>
</header>

{% block content %}

{% endblock %}
{% block footer %}
    <div class="container">
        <section class="footer">
            In case of any query, contact your relationship manager Sagar on <strong>07718896231</strong>
        </section>
    </div>
{% endblock %}

{% block footer_css %}{% endblock %}
{% block footer_js %}{% endblock %}
</body>
</html>
