{% extends "motor_product/motor_discount_code_admin/corporate_base.html" %}
{% load compress %}

{% block header %}
    <script type="text/javascript">
        var USER_EMAIL = "{{email}}";
        var USER_MOBILE = "{{mobile}}";
        var USER_ID = "{{username}}";
    </script>
    <script type="text/javascript" src="/static/motor_product/build/coverfox-apis.js"></script>
    {% compress js %}
    <script type="text/javascript" src="{{STATIC_URL}}motor_product/corporate/home.js"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <section class='login clearfix' id="userinfo" data-bind="visible: visible()" style="display: none;">
        <h1> Hi {{first_name}}, Please verify contact information</h1>
        <div class="form-box clearfix">
            <div class="clearfix">
                <div class="row"><div class='col-sm-3 prnone'><label for="emp-email">Email</label></div>
                <div class='col-sm-9'>
                    <input id="emp-email" class="form-input" type='text' placeholder="Enter email Id" data-bind="value: user.email">
                    <div class="error" id="emailerror" data-bind="visible: (user.errors() & (1 << 0));">Please enter a valid email id.</div>
                </div>
                <div class="col-sm-9 col-sm-offset-3"><small>Policy copy will be mailed on this mail ID</small></div><div class="clearfix"></div></div>
                <div class="row"><div class='col-sm-3 prnone'><label for="emp-mob">Mobile (+91)</label></div>
                <div class='col-sm-9'>
                    <input id="emp-mob"  class="form-input" placeholder="Enter mobile number" data-bind="value: user.mobile" maxlength="10">
                    <div class="error" id="mobileerror" data-bind="visible: (user.errors() & (1 << 1));">Please enter a valid mobile number.</div>
                </div>
                <div class="col-sm-9 col-sm-offset-3"><small>You will receive messages on this number</small></div><div class="clearfix"></div></div>
                <div class="error steponeerror"></div>
            </div>
            <div class="changePass hide">
                <strong>Change Password</strong>
                <div class="clearfix" id="passwordBox">
                    <div class="row"><div class='col-sm-3 prnone'><label for="pass-1">New Password</label></div><div class='col-sm-9'>
                            <input id="pass-1"  class="form-input" type='password' placeholder="Enter new Password" data-bind="value: user.password" />
                    </div></div><div class="row"><div class='col-sm-3 prnone'><label for="pass-2">Confirm Password</label></div>
                    <div class='col-sm-9'>
                            <input id="pass-2"  class="form-input" type='password' placeholder="Confirm Password" data-bind="value: user.confirmPassword" />
                    </div></div>
                    <div class="alert-danger" data-bind="visible: (user.errors() & (1 << 2));">Above two password fields did not match. Please re-enter new password.</div>
                </div>
            </div>
            <div class="pull-right" style="display: none;"><small>*Changing Password is optional, but recommended</small></div>
            <div class="clearfix"></div>
            <button class="btn orange continue pull-right" id="stepone_btn" data-bind="click: submitStepOne">Submit</button>
        </div>
    </section>
    <section class="variant-form" id="vehicledetails" data-bind="visible: visible()" style="display: none;">
        <h1>Want Insurance Policy For?</h1>
        <div class="form-box">
            <div data-bind="foreach: vehicleList.vehicles">
                <div class="row vehicle-row">
                    <h4 class='clearfix'>
                        <span data-bind="if: vehicleType == 'fourwheeler'">
                            <img id="display_icon" src="{{STATIC_URL}}global/img/car-icon.png"> <span>Car</span>
                        </span>
                        <span data-bind="if: vehicleType == 'twowheeler'">
                            <img id="display_icon" src="{{STATIC_URL}}global/img/bike-icon.png"> <span>Two Wheeler</span>
                        </span>
                        <button title="Remove vehicle detail" class="btn-cross pull-right" data-bind="click: $parent.vehicleList.removeVehicle">x</button>
                    </h4>
                    <div class="row mnone">
                        <div class="col-sm-10 prnone">
                            <div class="col-sm-5 prnone">
                                <span class="label">Your Vehicle</span>
                                <p>
                                    <span data-bind="text: model.name"></span>, <span data-bind="text: variant.name"></span>
                                </p>
                            </div>
                            <div class="col-sm-3 prnone">
                                <span class="label">Fuel Type</span>
                                <p data-bind="text: fuelType.name"></p>
                            </div>
                            <div class="col-sm-4 prnone">
                                <span class="label">Last Policy Expiry Date</span>
                                <p data-bind="text: pastPolicyExpiryDate"></p>
                            </div>
                        </div>
                        <div class="col-sm-2 prnone" data-bind="if: canGetQuotes">
                            <button style="margin-top:10px;display:block;" class="btn orange medium" data-bind="click: $parent.vehicleList.quotesForVehicle">View Quotes</button>
                        </div>
                    </div>
                    <div class="row mnone" data-bind="visible: (upload() != null)">
                            <span style="padding-left:30px;" class="label orange">Policy document uploaded.</span>
                    </div>
                    <div class="row mnone" data-bind="visible: (upload() == null)">
                        <div class="col-sm-12">
                            <div class="col-sm-8 prnone">
                                <form action="/cardekho/upload-policy/" method="post" enctype="multipart/form-data" target="postframe">
                                    <span class="label">Upload policy document</span>
                                    <input class="cf-input-file" name="policy_file" type="file" accept=".pdf"/>
                                    <input class="btn blue small pull-left" type="submit" value="Upload"/>
                                    <small class="pull-right">(Only <strong>PDF</strong> documents are acceptable)</small>
                                    <input name="leadId" type="hidden" data-bind="value: id"/>
                                    <input name="csrfmiddlewaretoken" type="hidden" value="{{csrf_token}}"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <iframe name="postframe" src="about:blank" style="width:0; height:0px; border:0;"></iframe>
            <h4 class="add-field" data-bind="visible: vehicleList.vehicles().length != 0" style="display: none;">
                <button class="btn blue" id="addVehicle" data-bind="click: toggleAddForm">+</button> Add New vehicle
            </h4>
            <div class="add-form" data-bind="visible: addFormVisible() || vehicleList.vehicles().length == 0" style="display: none;">
                <div class="row">
                    <div class="col-sm-4 prnone">
                        <label for="">Vehicle Type</label>
                        <select class="cf-input" data-bind="value: selectedVehicleType">
                            <option value="fourwheeler">Car</option>
                            <option value="twowheeler">Two Wheeler</option>
                        </select>
                    </div>
                </div>
                <div class="row mrnone">
                    <div class="col-sm-4 prnone">
                        <label for="">Model</label>
                        <select class="cf-input" data-bind="options: models,
                            optionsText: 'name',
                            value: selectedModel,
                            optionsCaption: 'Choose...'"></select>
                    </div>
                    <div class="col-sm-4 prnone" data-bind="visible: selectedVehicleType() == 'fourwheeler'">
                        <label for="">Fuel Type</label>
                        <select class="cf-input" data-bind="options: fueltypes,
                            optionsText: 'name',
                            value: selectedFuelType,
                            optionsCaption: 'Choose...'"></select>
                    </div>
                    <div class="col-sm-4 prnone">
                        <label for="">Variant</label>
                        <select class="cf-input" data-bind="options: variants,
                            optionsText: 'name',
                            value: selectedVariant,
                            optionsCaption: 'Choose...'"></select>
                    </div>
                </div>
                <div class="row mrnone">
                    <div class="col-sm-4 prnone">
                        <label for="">Last Policy expiry date</label>
                        <input class="cf-input" type="text" id="pyp_date_picker" data-bind="value: pastPolicyExpiryDate"/>
                    </div>
                </div>
                <div class="row mrnone">
                    <div class="col-sm-4 prnone">
                        <button class="btn orange continue" data-bind="click: addNewVehicle">Submit</button>
                        <div style="margin-top: 10px;" class="error pull-left" data-bind="visible: (formError() &&formError().length != 0), text: formError()"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-success-message" data-bind="visible: vehicleList.vehicles().length > 0">
            Hey, you can not renew your policy if your last policy expiry is more than 45 days away. We have saved your vehicle details and will remind you at the time of renewal. For others, you can view quotes.
        </div>
    </section>
</div>
{% endblock %}