{% extends "motor_product/motor_discount_code_admin/corporate_base.html" %}
{% load compress %}

{% block header %}
    <style type="text/css">
        .bdr {
            border: 2px solid #ddd;
            border-top:0;
            margin: 25px 0;
            font-size: 12px;
        }
        tr:nth-child(2n+1) {
            background: rgba(187, 184, 184, 0.25);
        }
        .bdr td {
            max-width: 77px;
            word-wrap: break-word;
        }
        .form-box {
            margin: 40px 0 20px;
            padding-bottom: 10px;
        }
        .modal {
            background-color: rgba(0,0,0,0.8);
        }
        .modal .modal-dialog {
            margin-top: 12%;
            max-width: 400px;
        }
        .datepick-popup {
            z-index: 1100;
        }
    </style>
    {% compress js %}
    <script type="text/javascript" src="{{STATIC_URL}}motor_product/corporate/manage.js"></script>
    {% endcompress %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-box">
            <div class='row'>
                <div class='col-sm-2 prnone' style="max-width:120px;">
                    <label>Employee ID</label>
                </div>
                <div class='col-sm-3 prnone'>
                    <input class="form-input" type="text" id="search-text" value="{{query}}" data-bind="event: {keypress: searchQuery}"/>
                </div>
            </div>
            <table class="table bdr">
                <tbody>
                <tr>
                    {% for theader in theaders %}
                        <th>{{theader}}</th>
                    {% endfor %}
                    <th></th>
                </tr>
                {% for lead in leads %}
                    <tr>
                        {% for key, value in lead.items %}
                            <td>{{value}}</td>
                        {% endfor %}
                        {% if lead.status == 'Transaction Done' and lead.transactionType != 'Online' %}
                            <td><button type="button" class="btn small blue" data-bind="click: detachStatus.bind(this, '{{lead.id}}')">Unattach</button></td>
                        {% elif lead.status != 'Transaction Done' %}
                            <td><button type="button" class="btn small blue" data-bind="click: attachStatus.bind(this, '{{lead.id}}')">Attach</button></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="update-status-modal" class="modal" data-bind="css: modalVisible()? 'show': ''">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-bind="click: function() { modalVisible(false); }" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Update Status</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="transaction_date">Transaction Date</label>
                        <input type="text" data-bind="value: transaction_date" class="form-control" id="transaction_date" placeholder="DD-MM-YYYY">
                    </div>
                    <div class="form-group">
                        <label for="transaction_amount">Transaction Amount</label>
                        <input type="text" data-bind="value: transaction_amount" class="form-control" id="transaction_amount" placeholder="0.00">
                    </div>
                    <div class="form-group">
                        <label for="transaction_amount">Transaction OD Amount</label>
                        <input type="text" data-bind="value: transaction_od_amount" class="form-control" id="transaction_amount" placeholder="0.00">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn blue" data-bind="click: saveStatus">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
{% endblock %}

