<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
        <title>Coverfox - Motor Insurance</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="{{STATIC_URL}}motor_product/global/lib/jquery/jquery-1.11.0.js"></script>
        <link href="{{STATIC_URL}}global/css/bootstrap-3.3.4.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
        <style>
            #quote-share-url {
                position: fixed;
                top: 0px;
                left: 0px;
                z-index: 1;
            }
            #coverfox-iframe {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
            }
            #code-bar {
                position: fixed;
                top: 44px;
                left: 10px;
                z-index: 1;
            }
        </style>
        <script type="text/javascript">
            var CSRF_TOKEN = "{{ csrf_token }}";
            var quoteUrl = "{{ quote_url|safe }}";
            var insurers = {{ inputs.keys|safe }};
            function getQuoteIdFromQuoteUrl(quoteShareUrl) {
                try {
                    var quoteId = quoteShareUrl.split('?')[0].replace(/^\/+|\/+$/g, '').split('/').slice(-1)[0];
                    var matched = quoteId.match(/^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$/);
                    if (!matched) throw "Invalid quote url";
                    return quoteId;
                } catch(e) {
                    return null;
                }
            }
            function openQuotesPage() {
                if (event.keyCode == 13) {
                    var quoteShareUrl = $("#quote-share-url").val();
                    if (getQuoteIdFromQuoteUrl(quoteShareUrl) != null) {
                        $("#coverfox-iframe").attr("src", quoteShareUrl);
                        quoteUrl = quoteShareUrl;
                    } else {
                        alert("Please enter a valid quote url.");
                    }
                }
            }
            function linkQuotes() {
                var quoteShareUrl = quoteUrl;
                var quoteId = getQuoteIdFromQuoteUrl(quoteShareUrl);
                discounts = {};
                for (var index in insurers) {
                    var insurer = insurers[index];
                    var discountValue = $("#" + insurer + "_discount").val();
                    if (!isNaN(discountValue)) {
                        discounts[insurer] = discountValue;
                    }
                }
                discounts['quoteUrl'] = quoteShareUrl;
                discounts['quoteId'] = quoteId;
                discounts['csrfmiddlewaretoken'] = CSRF_TOKEN;
                $.post(".", discounts, function(response) {
                    window.location.reload();
                });
            }
        </script>
    </head>
    <body>
        <input onkeydown="openQuotesPage()" onfocus="this.select()" type="text" class="form-control" id="quote-share-url" value="{{ quote_url }}" placeholder="Enter quote share url.">
        <iframe id="coverfox-iframe" src="{{ quote_modified_url }}" ></iframe>
        <div id="code-bar">
            <ul class="list-group">
                <li class="list-group-item active">Code: {{ code.code }} {% if is_linked %}<span class="badge">L</span>{% endif %}{% if is_expired %}<span class="badge">E</span>{% endif %}</li>
                {% for insurer, discount in inputs.items %}
                <li class="list-group-item">{{ insurer }}</li>
                <li class="list-group-item"><input id="{{ insurer }}_discount" type="text" value="{{ discount }}"/></li>
                {% endfor %}
                <li class="list-group-item"><button onclick="linkQuotes();" type="button" class="btn btn-primary">Modify And Link Quote</button></li>
            </ul>
        </div>
    </body>
</html>
