{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Accidental Health Insurance{% endblock pagetitle %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
  <div class="page-header-wrapper container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="top-txt">
        	You can’t stop tomorrow’s unfortunate incident. But you can balance it today!</div>
        <a href="/health-plan/" class="btn-cfox orange large">Get started</a>
      </div>
    </div>
  </div>
{% endblock pageheader %}
{% block content %}
<div itemscope itemtype="http://schema.org/Product">
  <span itemprop="audience" itemscope itemtype="http://schema.org/Audience">
    <meta itemprop="geographicArea" content="India"/>
  </span>
  <section>
    <div class="lp-b1-wrapper bggrey">
      <div class="container">
        <div class="row">
          <div class="col-md-12 h-tag">
          	<h1 itemprop="name">Personal Accident Insurance</h1>
            <p>Having to define one’s thoughts at a time of a crisis takes immense strength and we rarely get to move in a linear thought process when we are subjected to that kind of agony. While having to deal with the emotional trauma is one thing, we certainly could do with advice and help when it comes to managing our finances at such difficult times. </p>
            <p><a href="/health-insurance/accidental-health-insurance/">Personal accident policy</a> is what helps you with that clarity to sort out the financial stress during a trauma.</p>
            <p>This cover aims to compensate for medical expenses caused due to cases of fire or fall, injuries and disabilities caused by unfortunate incidents like raid/road/air accidents, and a loss of income caused due to death.
            </p>
            <h2 style="margin-top: 40px;">Benefits of the Personal Accident policy</h2>
            <ol>
              <li>Unlike in most other policies, they do not require a medical check up.</li>
              <li>Legal and funeral expenses are covered with Child education benefits.</li>
              <li>Life support benefit</li>
              <li>Daily allowance</li>
              <li>Double indemnity for death or disability caused while travelling on public transport</li>
            </ol>
            <h2 style="margin-top: 40px;">How the policy works for you</h2>
            <p>If you are an individual who is looking to take this policy to cover you for accidents and such unforeseen incidents, this policy is the parachute for you and thus, your family. </p>
            <p>However, if you are looking to protect your employees and making sure you don’t have to miss them too much at work, you can avail this policy. And you making sure your group is as big and cheerful as possible, may even get you a discount on your premium.
            </p>
            <h2 style="margin-top: 40px;">Where the policy wouldn’t work for you</h2>
            <ol>
              <li>If you already have a disability or met with an accident and thought you could take the policy to help yourselves, then it could mean bad news</li>
              <li>While the country and the insurance companies are still proud of your war wounds just like you are, they are also not something that is compensated, under the policy.</li>
              <li>Adventure sports, like how your Mom wouldn’t like you playing them, is a strict no-no for the insurance companies as well. </li>
              <li>Pregnancies, suicides and drugs (all willful practices) are not covered under this policy.</li>
            </ol>

          </div>
        </div>
      </div>
    </div>
  </section>
    {% block review %}
    {% endblock review %}
</div>
{% endblock content %}
