{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Compare Health Insurance{% endblock pagetitle %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
<div class="page-header-wrapper container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="top-txt">Compare the best health insurance plans from 20 top insurance companies in India</div>
      <a href="/health-plan/" class="btn-cfox orange large">Get started</a>
    </div>
  </div>
</div>
{% endblock pageheader %}
{% block content %}
<div itemscope itemtype="http://schema.org/Product">
  <span itemprop="audience" itemscope itemtype="http://schema.org/Audience">
    <meta itemprop="geographicArea" content="India"/>
  </span>
<section>
  <div class="lp-sub-title-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 h-tag">
          <h1 itemprop="name">Cashless Health Insurance Plans</h1>
          <h2>A cashless hospitalization or a cashless hospital network in your health insurance is when your insurance company helps you by paying the hospital directly, saving you from having to pay first and claim for reimbursements later. </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="lp-b1-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p>Something goes wrong all of a sudden and you are required to muster up an outrageous amount of money for getting treatment. A zillion thoughts run through your mind - Do you have enough cash on you? Even if you can withdraw from the ATM, won’t there be a limit? Whom can you ask for money? Cashless facility aims at taking such inconveniences away because you might be rightly more worried about the hospitalization itself.</p>
          <p><a href="/">Insurance companies</a> have contracted rates arranged with network hospitals where they ensure tie-ups by negotiating rates thus facilitating these <a href="/health-insurance/cashless-health-insurance/">cashless facilities</a>. The bigger their network of hospitals, higher your options for treatment, without the hassle of paying huge hospital bills and getting the reimbursement for it later.</p>
          <p>By the time you get discharged after treatment, the bill that you have to pay is already worked and sorted out by the insurance company, thanks to those contracted rates. Just imagine, <strong>transaction of lakhs of money can be handled without exchange of hard cash!</strong> </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="lp-sub-title-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>How can the cashless facility be utilized</h2>
        </div>
        <div class="col-md-8 col-md-offset-2 text-left">
          <p>Hospitals and Insurance companies through TPA(Third Part Administrator) follow a simple procedure to ensure that cashless is utilized without snags.</p>
          <ul>
            <li>Make sure to always carry the hospital/health policy card with you.</li>
            <li>Always inform your TPA/Insurance companies within 24 hours of hospitalization.</li>
            <li>As you reach the hospital for treatment, you will have to fill out a pre-authorization form with details of the patient and the required approval from hospital representatives. You will need to submit this to the TPA desk inside the hospital premises. </li>
          </ul>
          <p><em>TPA: Third Part Administrators are separate entities set-up in connection by the insurance companies to process insurance claims.</em></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="lp-sub-title-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Planned and emergency hospitalization</h2>


        </div>
        <div class="col-md-8 col-md-offset-2 text-left">
            <p>Planned hospital stays give you enough time to check out the network hospitals available on your list and fill out the TPA form, checking for approval and status.</p>
          <p>In case of emergency situations, the form still has to be filled out. But the TPA desk allows a fast track process to kick-in to enable smooth functioning. The normal waiting period is 6 hours for approval. If in case, the treatment cannot wait for approval, we recommend that you pay the required deposit needed and get reimbursed by the company later. </p>
          <p>At <a href="/">Coverfox</a>, we help you speed up the process of claims, minimize your running around at an already stressful time of hospitalization. With tie ups with all the top insurance companies, we ensure you get timely and quick service for a hassle-free, quick and easy claims experience.
          </p>
          </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="lp-b2-wrapper ptb-50 theme-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2>Why Coverfox?</h2>
          </div>
        </div>
        <div class="col-md-6 b2-item">
          <h3>Get Quotes without Phone numbers</h3>
          <p>Even when you leave your phone number with us, we never make spam calls forcing you to buy a policy. We call you, when and only if you want us to!</p>
          <p></p>
        </div>
        <div class="col-md-6 b2-item">
          <h3>Speak to Experts</h3>
          <p>Start and stop whenever you wish to. Whenever you have any questions, you can request a call from them</p>
        </div>
        <div class="col-md-6 b2-item">
          <h3>100% claims assistance provided</h3>
          <p>When the need arises to make a claim, we support you with documentation, follow ups on your claim, and helping you analyse in case of claim rejection.</p>
        </div>
        <div class="col-md-6 b2-item">
          <h3>Get your policy instantly in your inbox</h3>
          <p>No waiting lines. No Get your policy immediately in your inbox as soon as you buy.</p>
        </div>
        <div class="col-md-6 b2-item">
          <h3>Manage all your paperwork and documentation</h3>
          <p>Manage all your paperwork and documentation in one place, available to you forever at the click of a button.</p>
        </div>
        <div class="col-md-6 b2-item">
          <h3>Data Policy</h3>
          <p>We don’t sell your data to Insurance Companies nor any other Marketing Company</p>
        </div>
      </div>
    </div>
  </div>
</section>
    {% block review %}
    {% endblock review %}
</div>
{% endblock content %}
