{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Health Insurance Claims{% endblock pagetitle %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
<div class="page-header-wrapper container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="top-txt">Managing Health Insurance claims is a daunting task. But don't worry, we are here to dedicatedly help you through this.</div>
            <p>Call us on <strong>Toll Free Number: {{ settings.HEALTH_CLAIMS_TOLL_FREE }}</strong> to get started with filing your claim.</p>
        </div>
    </div>
</div>
{% endblock pageheader %}
{% block content %}
<div itemscope itemtype="http://schema.org/Product">
  <span itemprop="audience" itemscope itemtype="http://schema.org/Audience">
    <meta itemprop="geographicArea" content="India"/>
  </span>
<section>
    <div class="lp-b1-wrapper bggrey">
        <div class="container">
            <div class="row">
                <div class="col-md-8 h-tag">
                    <h1 itemprop="name">Health Insurance Claims</h1>
                    <h2>How Coverfox helps you claim?</h2>
                    <p>
                    Insurance companies and TPAs, are big organizations, that understandably are more often than not equipped to efficiently <a href="/health-insurance/claims/">process individual claims</a> and to keep you regularly informed about your claims status.
                    </p>
                    <p>
                    You need a specialist to assist you in the paperwork, guide you through the process, and provide regular updates at your convenience, so that you can focus on other pressing issues and concerns in your life. The Coverfox Claims Support is designed to help you with all possible requirements of a filing and <a href="/health-insurance/claims/">making a claim</a>. So that you don’t have to be bothered and get lost in the process of getting the money that should rightfully be yours.
                    </p>
                </div>
                <div class="col-md-4 message-box yellow">
                    <p>In case you are not recieving a response from the Insurance Company or the third party administrator (TPA) who needs to process a cashless claim, <strong>you can simply call our Toll Free claims helpline no. {{ settings.HEALTH_CLAIMS_TOLL_FREE }}</strong>, and we will ensure we escalate the matter and help you get it done at the earliest. </p>

                    <p>All you have to do is provide us the details regarding your hospitalization, the policy and we will handhold you through the claims process, like we would for the reimbursement of claims.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="lp-b2-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8 br plnone ptb-50">
                    <div class="col-md-12">
                        <h2 class="withsubline">Reimbursement Claim</h2>
                        <p class="subline">How Coverfox helps you with reimbursement claim?</p>
                    </div>
                    <div class="col-md-6 b2-item">
                        <h3>Claim Pickup</h3>
                        <p>Coverfox will arrange pickup of Claims documents from your doorstep (in select cities across India).</p>
                    </div>
                    <div class="col-md-6 b2-item">
                        <h3>Preliminary Check on the Claim documents</h3>
                        <p>Our Claims experts will scan through your documents and inform you of any missing documents. </p>
                    </div>
                    <div class="col-md-6 b2-item">
                        <h3>Follow-up</h3>
                        <p>We will take care of the regular follow-up and coordination with the Insurance Company. </p>
                    </div>
                    <div class="col-md-6 b2-item">
                        <h3>Status Updates</h3>
                        <p>Get regular status updates on your claim settlement process right through the claim settlement.</p>
                    </div>
                    <div class="col-md-6 b2-item">
                        <h3>Claims calculation check</h3>
                        <p>Claim Expert will analyze and help you understand various deductionsin the claim made. </p>
                    </div>
                    <div class="col-md-6 b2-item">
                        <h3>Dispute Resolution</h3>
                        <p>In case you do not agree or are not satisfied with the settlement made by the <a href="/">Insurance Company</a> we will help you with documentation required to raise a dispute through various grievance redressal forums for Insurance.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 ptb-50">
                        <h2>Cashless Claim</h2>
                        <p>
                        To avail a cashless claim go to a hospital that is covered in the network hospital list of your insurance company and call the insurance company to inform them about this.
                        </p>
                    </div>

                </div>




            </div>
        </div>
    </div>
</section>
    {% block review %}
    {% endblock review %}
</div>
{% endblock content %}
