{% extends "flatpages:base.html" %}
{% load compress %}
{% block css %}
  <link href="{{ STATIC_URL }}flatpages/health/compare/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}flatpages/health/compare/css/style.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}flatpages/css/compare.css" rel="stylesheet">
{% endblock css %}
{%block flatpage_header%}
<header>
    {% include "flatpages:header_2.html" with lp_page="Health" lp_contact=settings.HEALTH_TOLL_FREE %}
</header>
{%endblock%}
{% block content %}
    <div itemscope itemtype="http://schema.org/Product">
       <span itemprop="audience" itemscope itemtype="http://schema.org/Audience">
        <meta itemprop="geographicArea" content="India"/>
      </span>
    <div class="doc-banner">
        <div class="banner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                    </div>
                    <div class="col-md-8 col-lg-8 form-section">
                        <h2>Secure Your Family's Health</h2>
                        <p class="sub-heading">Health Insurance Plans starting @ Rs 6 / day</p>
                        <div class="number-form">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">+91</span>
                                <input id="contact-me-num" type="text" class="form-control" placeholder="Enter mobile number">
                            </div>
                            <span id="call-me-btn" class="btn-cfox orange">Get Instant Quotes</span>
                            <div id='hero-error' class="error reveal hide"><span class="glyphicon glyphicon-warning-sign"></span><span>&nbsp;Please enter a valid 10 digit mobile number</span></div>
                            <div id='hero-loading' class="loading-box reveal hide">
                                <img src="{{STATIC_URL}}flatpages/health/compare/img/loading-big.gif" alt="" /> Please wait...
                            </div>
                            {% if skip_option %}
                                <a class="pull-right" style="margin: 40px 0 15px 0;cursor: pointer;font-weight: bold;" onclick="skipForm('main')">I don't need any help. I want to search plans on my own.</a>
                            {% endif %}
                        </div>
                        <div class="terms-msg">I hereby authorize Coverfox to communicate with me on the given number for my Insurance needs. I am aware that this authorization will override my registry under NDNC.</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="companies-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="companies-box">
                            <h2>Compare policies from <strong class="highlight" style="font-size:120%;">20+</strong> companies </h2>
                            <div class="row">
                                <ul id="company-logos">
                                    {% if current_insurer %}
                                        <li class="current-insurer"><img src="{{STATIC_URL}}flatpages/health/compare/img/insurer/insurer_{{ current_insurer.id }}/on_n.png" alt="" /></li>
                                    {% endif %}
                                    {% for i in default_insurer_list %}
                                        {% ifnotequal i current_insurer.id %}
                                            <li><img src="{{STATIC_URL}}lp-health/img/insurer/insurer_{{ i }}/on_n.png" alt="" /></li>
                                        {% endifnotequal %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="benefit_list">
                            <li>
                                <img src="{{STATIC_URL}}flatpages/health/compare/img/check-icon.png" alt="">
                                Family and Individual plans
                            </li>
                            <li>
                                <img src="{{STATIC_URL}}flatpages/health/compare/img/check-icon.png" alt="">
                                Save Tax upto Rs. 10,500/- under section 80D
                            </li>
                            <li>
                                <img src="{{STATIC_URL}}flatpages/health/compare/img/check-icon.png" alt="">
                                Cashless Hospitalization
                            </li>
                            <li>
                                <img src="{{STATIC_URL}}flatpages/health/compare/img/check-icon.png" alt="">
                                Maternity and OPD covers
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>






{%block benefits%}
    <section class="dark-box benefits-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>What Makes <strong>Coverfox</strong> A Better Choice</h2>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="{{STATIC_URL}}lp-health/img/icon1.png">
                    <h4>Honest Expert Advice</h4>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="{{STATIC_URL}}lp-health/img/icon2.png">
                    <h4>Free Claims Assistance</h4>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="{{STATIC_URL}}lp-health/img/icon3.png">
                    <h4>No Spam Calls</h4>
                </div>
            </div>
        </div><!--/.container-->
    </section>
{%endblock%}
{%block steps%}
    <section class="three-steps">
        {% block mob_steps_header%}
        <h2>
            <div class="container">
                Let <img height="25" src="{{STATIC_URL}}lp-health/img/coverfox-logo.png" alt="Coverfox"/> help you buy the right policy
                <div class="small">in 3 easy steps</div>
            </div>
        </h2>
        {%endblock%}
        <div class="container">
            <ul class="clearfix">
                <li>
                    <span class="step_number">1</span>
                    <div class="no-link-arr">
                        You give us <br class="hidden-xs"/><strong>your details</strong>
                    </div>
                </li>
                <li class="middle-cir">
                    <span class="step_number">2</span>
                    <div class="padding-top">
                        We <strong>find the best plans</strong><br class="hidden-xs"/> from Top Insurance companies
                    </div>
                </li>
                <li>
                    <span class="step_number">3</span>
                    <div class="no-link">
                        You Buy Online and get <br class="hidden-xs"/><strong>Instant Policy</strong>
                    </div>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2 call-action">
                    <button onclick="skipForm('three_steps')" class="three_steps_btn btn btn-cfox orange">Buy Online in 3 easy steps</button>
                </div>
            </div>
        </div><!--/.container-->
    </section>
{%endblock%}
<section>
  <div class="lp-sub-title-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 itemprop="name">Compare Health Insurance Plans</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="lp-b1-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6 col-sm-6 text-center">
            <img src="{{STATIC_URL}}flatpages/img/hospital-network.png" alt="Hospital Network" width='200px' />
          </div>
          <div class="col-md-6 col-sm-6">
            <h3>Hospital Network in your area</h3>
            <p>
            <a href="/health-insurance/">Health Insurance</a> policies generally provide cashless treatment facility in their network of hospitals. You need to compare how many hospitals are covered in your area for <a href="/health-insurance/cashless-health-insurance/">cashless</a>, for your shortlisted Insurance companies.
            </p>
            <!--div class="heath-btn-container">
              <a class="btn-cfox orange large" href="/health-plan/">Get Instant Free Quotes</a>
            </div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="lp-b1-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6 col-sm-6">
            <h3>Room eligibility</h3>
            <p>
            Room Rent Limit or <a href="/articles/health-insurance/room-rent-limit-in-health-insurance/">Room Category capping</a>, if ignored, could turn out to be the biggest problem in your health insurance policy. In case any of your family members are hospitalized, if you opt for a higher room than your eligibility, your entire hospitalization bill could be proportionately deducted, and hence lead to a massive loss for you.
            </p>
            <!--div class="heath-btn-container">
              <a class="btn-cfox orange large" href="/health-plan/">Get Instant Free Quotes</a>
            </div-->
          </div>
          <div class="col-md-6 text-center col-sm-6">
            <img src="{{STATIC_URL}}flatpages/img/room-eligibility.png" alt="Room Eligibility" width='200px' />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="lp-b1-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6 col-sm-6 text-center">
            <img src="{{STATIC_URL}}flatpages/img/copay.png" alt="Copayment" width='200px' />
          </div>
          <div class="col-md-6 col-sm-6">
            <h3>Copayment</h3>
            <p>
            Copay is a percentage of the admissible claim that you will be required to pay. Insurance companies would pay the rest of the admissible claim. Check for the Co-pay clause in the policy which could sneak into the plan, when you are getting older.
            </p>
            <!--div class="heath-btn-container">
              <a class="btn-cfox orange large" href="/health-plan/">Get Instant Free Quotes</a>
            </div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="lp-b1-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6 col-sm-6">
            <h3>Annual Premium</h3>
            <p>
            While it is not advisable to <a href="/health-insurance/compare-health-insurance/">compare costs </a> alone when choosing a plan, it is practical to compare shortlisted plans offering similar features per your requirement. Ideally, there should not be a lot of variation in the premium of similar features. Be prepared to pay a higher premium, in case you want the plan to cover each and every small health cost such as OPD bills, dental and opthalmic costs etc.
            </p>
            <!--div class="heath-btn-container">
              <a class="btn-cfox orange large" href="/health-plan/">Get Instant Free Quotes</a>
            </div-->
          </div>
          <div class="col-md-6 col-sm-6 text-center">
            <img src="{{STATIC_URL}}flatpages/img/stethoscope.png" alt="Stethoscope" width='150px' />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div>
    <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2 call-action">
        <button onclick="skipForm('start_comparing')" class="btn btn-cfox orange">Start Comparing Health Policies Now</button>
    </div>
    <br><br>
</div>
<section class="why-coverfox">
  <div class="lp-b2-wrapper ptb-50 theme-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h2>Why Coverfox?</h2>
            </div>

        </div>

        <div class="col-md-6 col-sm-6 b2-item">
          <h3>Get Quotes without Phone numbers</h3>
          <p>Even when you leave your phone number with us, we never make spam calls forcing you to buy a policy. We call you, when and only if you want us to!</p>
          <p></p>
        </div>

        <div class="col-md-6 col-sm-6 b2-item">
          <h3>Speak to Experts</h3>
          <p>Start and stop whenever you wish to. Whenever you have any questions, you can request a call from them</p>

        </div>

        <div class="col-md-6 col-sm-6 b2-item">
          <h3>100% claims assistance provided</h3>
          <p>When the need arises to make a claim, we support you with documentation, follow ups on your claim, and helping you analyse in case of claim rejection.</p>
        </div>

        <div class="col-md-6 col-sm-6 b2-item">
          <h3>Get your policy instantly in your inbox</h3>
          <p>No waiting lines. No Get your policy immediately in your inbox as soon as you buy.</p>
        </div>

        <div class="col-md-6 col-sm-6 b2-item">
          <h3>Manage all your paperwork and documentation</h3>
          <p>Manage all your paperwork and documentation in one place, available to you forever at the click of a button.</p>

        </div>

        <div class="col-md-6 col-sm-6 b2-item">
          <h3>Data Policy</h3>
          <p>We don’t sell your data to Insurance Companies nor any other Marketing Company</p>

        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2 call-action">
                <button onclick="skipForm('testimonial')" class="testimonial_action_btn btn btn-cfox orange">Get Smart about your Insurance</button>
            </div>
        </div>

      </div>
    </div>
  </div>
</section>
{%block testimonials%}
    <section class="dark-box testimonials-section">
        <div class="container">
            <h2>Hear from our Mediclaim customers</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}lp-health/img/testimonials/t1.jpg" alt=""/>
                        <div class="comment">
                            <img src="{{STATIC_URL}}lp-health/img/quote-icon.png" alt=""/>
                            <p>"Shweta was extremely helpful and patient. She addressed all doubts and concerns politely. Definitely felt good about my decision"</p>
                            <p class="title">- Mrunmayee</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}lp-health/img/testimonials/t2.jpg" alt=""/>
                        <div class="comment">
                            <img src="{{STATIC_URL}}lp-health/img/quote-icon.png" alt=""/>
                            <p>
                                "Extremely warm and pleasant process. Did not get any unsolicited calls, relationship team was polite and the insurance buying process very easy"
                            </p>

                            <p class="title">- Mr. and Mrs. Thombre</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}lp-health/img/testimonials/t3.jpg" alt=""/>
                        <div class="comment">
                            <img src="{{STATIC_URL}}lp-health/img/quote-icon.png" alt=""/>
                            <p>
                                "Very intuitive and great user experience. Made me feel great about buying insurance which is a first"
                            </p>

                            <p class="title">- Mr. and Mrs. Kainth</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section>
{%endblock%}
{% block review %}
{% endblock review %}
</div>
  {%compress js%}
    <script src="{{STATIC_URL}}campaign/js/zepto.js"></script>
    <script src="{{STATIC_URL}}campaign/js/cookies.js"></script>
    <script src="{{STATIC_URL}}marketing/health/js/utils.js"></script>
    <script src="{{STATIC_URL}}marketing/health/js/hero_form.js"></script>
  {%endcompress%}
  <script type="text/javascript">
      var page_id = 'health_compare';
      var toll_free_no = '{{ settings.CAR_TOLL_FREE }}';
      var hero_phone_mandatory = 'YES';
      var next_page_override = '';
</script>
{% endblock content %}


