{% extends "flatpages:base.html" %}
{% block css %}
  <link href="{{ cdn_static_path }}css/health-iteration.css" rel="stylesheet">
{% endblock css %}
{% block extended_header %}<title>Health Insurance Suggestions - Coverfox.com</title>{% endblock extended_header %}
{% block pageheader %}
{% endblock pageheader %}

{% block content %}
<section class="top--cover">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Compare health insurance plans</h1>
                <p>The why, how, what of life, investment, insurance and money matters! </p>
            </div>
        </div>
    </div>
</section>
<section class="insurer">
    <div class="container">
        <div class="row">
            <div class="top--txt">
                <h2>How can you tell which Health Insurance plan is better than the other?</h2>
                When it comes to health insurance, there are so many factors to consider, and the policy wording documents are full of jargon. So much that it becomes nearly impossible for a person to come to a concrete decision. <br><br>

                We have tried to make it simpler for you to compare health insurance plans. We identified <strong>7 key features</strong> that one really must look for in a health policy. And then we compared the best-selling plans from leading insurance companies against these <strong>7 key features</strong>. Below is a comprehensive report-card of our analysis. <br><br>

                We hope this helps you zero in on the health policy that works best for you.

            </div>
            <div class="insurer--compare clearfix">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <span>comparing top policies in India</span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <a href="javascript:toggleAll()" class="border">Expand All Cards</a>
                </div>
            </div>
            <div id="insurer" class="insurer--listcontainer clearfix">                
                
            </div>            
            <div class="description--container">
                <h2>Why you should never buy insurance without comparing?</h2>
                <p>There are numerous health insurance companies that offer so many different policies; each one promising better than the other. Each policy has a different premium, covers different aspects, does or does not have co-pay options, and so on. With the number of options available, it’s unwise to settle for the first policy that comes your way. This is especially when with a little bit of research and comparison you can get the best health cover that’s relevant for you and your family—at a lower premium. <br>
                In fact, we are going to go a step ahead and suggest—don’t just compare policies, compare health insurance companies as well.</p>
                <p>Following are the three main reasons why it is important to compare before buying health insurance:</p>
                <ul>
                    <li>It is a great way to reduce premium and <strong>save your money</strong>.</li>
                    <li>By comparing policies, you will know which company offers what, that will help you <strong>choose the best coverage</strong> for you and your loved ones.</li>
                    <li>You get to know how each one fares with respect to important parameters like <strong> claim settlement ratio, exclusions, deductions</strong> etc.</li>
                </ul>
                <p>It is important to learn about a health insurance company as much as it is important for you to have health insurance in the first place. After all, medical emergencies are stressful to begin with, and you certainly don’t want to leave such times at the hands of a non-reliable company.</p>
                <h2>Things missed out when comparing Health Insurance Plans</h2>
                <p>It is not uncommon to miss out on important details while checking health insurance plans. Given the amount of information that we need to process from a policy wording document, it is best to know precisely what to look for. So, apart from the <strong>7 key features</strong> that we have listed above as parameters to compare plans, keep an eye for the following ones:</p>
                <ul>
                    <li>Policy type- Indemnity plan or Fixed benefit plan</li>
                    <li>Number of members covered</li>
                    <li>Network hospitals of the insurance company in your area</li>
                    <li>Cashless treatment facility</li>
                    <li>Out-of-pocket expenses because of treatment-wise limits and co-pay</li>
                    <li>Diseases excluded in the plan</li>
                </ul>
                <p>Apart from this, while premium does prominently influence health insurance policy buying decisions, here’s what we advise: Do not consider it as the most important criterion. The coverage offered by the plan should be your first check-point.  </p>
                <h2>Still confused? Get the experts to help you out</h2>
                <p>Assessing so many health insurance companies against numerous parameters can be as daunting and confusing as it sounds. If you are in a fix and cannot decide the best health insurance company for yourself, it is time to involve experts.</p>
                <ul>
                    <li>Health insurance experts will help you evaluate your priorities and plot it against the health insurance companies. </li>
                    <li>They will help you buy that one policy that covers most of your requirements.</li>
                    <li>They will also guide you with the add-ons, top-ups and super top-ups you should buy to maximize your cover at lower costs.</li>
                    <li>At Coverfox, our health insurance experts will also provide you with post-sales assistance, especially when making claims.</li>
                </ul>
                <p>Get a transparent and honest picture, and make the best decision.</p>  
                 <div class="talk">
                <h3>Health Insurance Policies @ Coverfox</h3>
                <p>Plans starting from as low as Rs 6/day</p>
                <div class="talk--btn">
                        <input id="contact-me-num" type="tel" placeholder="Enter mobile number"/> <a id="call-me-btn" href="javascript:void(0)">Schedule a call</a>
                        <div id='hero-error' class="error hide"><span>Please enter a valid 10 digit mobile number</span></div>
                        <p>I hereby authorize Coverfox to communicate with me on the given number for my Insurance needs. I am aware that this authorization will override my registry under NDNC.</p>
                    </div>
                </div>          
            <h2>Top Health Insurance Companies</h2>
            <p>Check out all the health insurance companies below and read in detail about the plans they offer:</p>                                                                                                                                                                                                                                                                 
            <div class="company--list clearfix">
                <div class="col-md-4 col-sm-4">
                    <ul>
                        <li><a href="/health-insurance/apollomunich-health-insurance/">Apollo Munich</a></li>
                        <li><a href="/health-insurance/star-health-and-allied-insurance-health-insurance/">Star Health And Allied Insurance</a></li>
                        <li><a href="/health-insurance/religare-health-insurance/">Religare</a></li>
                        <li><a href="/health-insurance/bajajallianz-health-insurance/">Bajaj Allianz</a></li>
                        <li><a href="/health-insurance/hdfcergo-health-insurance/">HDFC ERGO</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4">
                    <ul>
                        <li><a href="/health-insurance/maxbupa-health-insurance/">Max Bupa</a></li>
                        <li><a href="/health-insurance/icicilombard-health-insurance/">ICICI Lombard</a></li>
                        <li><a href="/health-insurance/cignattk-health-insurance/">Cigna TTK</a></li>
                        <li><a href="/health-insurance/cholamandalam-ms-health-insurance/">Cholamandalam MS</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4">
                    <ul>
                        <li><a href="/health-insurance/iffcotokio-health-insurance/">IFFCO Tokio</a></li>
                        <li><a href="/health-insurance/new-india-assurance-health-insurance/">New India Assurance</a></li>
                        <li><a href="/health-insurance/l-and-t-health-insurance/">L & T Health Insurance</a></li>
                        <li><a href="/health-insurance/oriental-health-insurance/">Oriental</a></li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block uncompressedjs %}
<script src="{{ STATIC_URL }}home/js/jquery-1.11.3.min.js"></script>
<script src="{{STATIC_URL}}js/cookies.js"></script>
<script src="{{STATIC_URL}}marketing/health/js/hero_form.js"></script>
<script type="text/javascript">
    var page_id = 'sp_health_rating';
    var expandAll = false;
    var insurer_data = {
        'oriental': {'product':'Individual Mediclaim', 'CRR': [5, 0.05], 'HQS': [2, 53], 'Pricing': 2.5, 'DL': 4, 'RRL': 3, 'NCB': 0, 'WP': 3, 'average': 3.1}, 
        'bharti': {'product':'Smart Health Insurance Optimum', 'CRR': [3, 11], 'HQS': [2, 53], 'Pricing': 4.5, 'DL': 5, 'RRL': 4, 'NCB': 0, 'WP': 3.5, 'average': 3.3},    
        'cigna': {'product':'Pro Health Plus', 'CRR': [2, 31], 'HQS': [2, 56], 'Pricing': 3.5, 'DL': 2.5, 'RRL': 5, 'NCB': 2, 'WP': 4, 'average': 3.4}, 
        'bajaj': {'product':'Health Guard', 'CRR': [2.5, 17], 'HQS': [2, 59], 'Pricing': 3, 'DL': 2, 'RRL': 5, 'NCB': 2, 'WP': 2.5, 'average': 3.1},
        'tata': {'product':'Medi Prime', 'CRR': [4, 6], 'HQS': [2.5, 63], 'Pricing': 4, 'DL': 5, 'RRL': 5, 'NCB': 2, 'WP': 3.5, 'average': 3.9},  
        'religare': {'product':'Care - No claim bonus Super', 'CRR': [3.5, 8], 'HQS': [2.5, 64], 'Pricing': 4.5, 'DL': 2.5, 'RRL': 4.5, 'NCB': 4.5, 'WP': 3.5, 'average': 3.8},    
        'landt': {'product':'Medisure Classic', 'CRR': [4, 6], 'HQS': [2.5, 65], 'Pricing': 3.5, 'DL': 3.5, 'RRL': 5, 'NCB': 1.5, 'WP': 4, 'average': 3.1},   
        'iffco': {'product':'Individual Mediclaim', 'CRR': [5, 0], 'HQS': [2.5, 65], 'Pricing': 4, 'DL': 5, 'RRL': 3.5, 'NCB': 1.5, 'WP': 4.5, 'average': 4.1},  
        'apollo': {'product':'Optima Restore', 'CRR': [4, 7], 'HQS': [2.5, 65], 'Pricing': 4, 'DL': 5, 'RRL': 5, 'NCB': 4, 'WP': 4, 'average': 4.1},   
        'maxbupa': {'product':'Health Companion', 'CRR': [3, 12], 'HQS': [2.5, 70], 'Pricing': 4.5, 'DL': 5, 'RRL': 5, 'NCB': 3, 'WP': 4, 'average': 4.1},   
        'reliance': {'product':'Health Gain', 'CRR': [4, 7], 'HQS': [2.5, 70], 'Pricing': 2.5, 'DL': 5, 'RRL': 5, 'NCB': 0, 'WP': 5, 'average': 3.6},   
        'star': {'product':'Medi Classic', 'CRR': [3, 10], 'HQS': [3, 73], 'Pricing': 4.5, 'DL': 2, 'RRL': 2.5, 'NCB': 1, 'WP': 3.5, 'average': 3.3}, 
        'hdfc': {'product':'Health Suraksha', 'CRR': [4, 7], 'HQS': [3, 75], 'Pricing': 4.5, 'DL': 4, 'RRL': 5, 'NCB': 1.5, 'WP': 3.5, 'average': 3.9}};
        var count = 1;      
        
        for(insurer in insurer_data){   
            rating = Math.round(insurer_data[insurer].average);                 
            $("#insurer").append('<div class="col-md-4">'+
                                    '<div class="insurance--st">'+
                                        '<div class="insurance--st_logo">'+
                                            '<i class="logo '+insurer+'"></i>'+
                                        '</div>'+
                                        '<div id="'+insurer+'" class="rating">'+
                                            '<span class="circle">'+insurer_data[insurer].average+'</span>'+
                                            '<div class="review--rating mt clearfix">'+
                                                '<input type="radio" id="'+insurer+'star5"  value="5" '+ (rating === 5?'checked':'') +' /><label for="star5" title="excellent">5 stars</label>'+
                                                '<input type="radio" id="'+insurer+'star4"  value="4" '+ (rating === 4?'checked':'') +' /><label for="star4" title="Very good">4 stars</label>'+
                                                '<input type="radio" id="'+insurer+'star3"  value="3" '+ (rating === 3?'checked':'') +' /><label for="star3" title="good">3 stars</label>'+
                                                '<input type="radio" id="'+insurer+'star2"  value="2" '+ (rating === 2?'checked':'') +' /><label for="star2" title="Average">2 stars</label>'+
                                                '<input type="radio" id="'+insurer+'star1"  value="1" '+ (rating === 1?'checked':'') +' /><label for="star1" title="Bad">1 star</label>'+
                                            '</div>'+
                                            '<span class="txt">Average Score</span>'+
                                            '<div class="veiw">'+
                                                '<a href="javascript:toggle(\''+insurer+'\',1)">View Details &#9662;</a>'+
                                            '</div>'+
                                            '<div class="show--container hide">'+
                                                '<div class="claim--container clearfix">'+
                                                    '<div class="col-md-6 col-sm-6 col-xs-6">'+
                                                        '<div class="circle tooltip--container">'+insurer_data[insurer].CRR[0]+'<div class="tooltip"> <p>Claim Rejection Ratio</p>As the name suggests, claim rejection ratio is the ratio of the claims of customers, which were rejected by the health insurance company. If this ratio is low, the health insurance company is known to accept most of the claims, which works well for you, the customer.</div></div>'+
                                                        '<span>'+insurer_data[insurer].CRR[1]+'%</span>'+
                                                        '<p>Claim Rejection Ratio</p>'+
                                                    '</div>'+
                                                    '<div class="col-md-6 col-sm-6 col-xs-6">'+
                                                        '<div class="circle tooltip--container">'+insurer_data[insurer].HQS[0]+'<div class="tooltip"> <p>Hospital Quality Score</p>Network hospitals are the list of hospitals associated with a particular health insurance company that offers cashless hospitalization. We have evaluated the quality of these network hospitals after studying over 150 top hospitals across 15 cities across India.</div></div>'+
                                                        '<span>'+insurer_data[insurer].HQS[1]+'%</span>'+
                                                        '<p>Hospital Quality Score</p>'+
                                                    '</div>'+
                                                '</div>'+
                                                '<div class="details--more">'+
                                                   
                                                    '<p>'+insurer_data[insurer].product+'</p>'+
                                                    '<div class="details--more_rating clearfix text-left">'+
                                                        '<div class="col-md-7 col-sm-7 col-xs-7">'+
                                                            '<div class="inner--text tooltip--container">Pricing <div class="tooltip"> <p>Pricing (5L Cover for 25-35 Yr old)</p>We want to make sure that you get value for your money and hence we compare health insurance companies based on the pricing of their products against their competitors in the industry.</div></div>'+
                                                            '<span class="inner">(5L-28 Years; 25-35 Years)</span>'+
                                                        '</div>'+
                                                        '<div class="col-md-3 col-sm-3 col-xs-3">'+
                                                            '<progress max="5" value="'+insurer_data[insurer].Pricing+'"></progress>'+
                                                        '</div>'+
                                                        '<div class="col-md-2 col-sm-7 col-xs-2">'+
                                                            '<span>'+insurer_data[insurer].Pricing+'</span>'+
                                                        '</div>'+
                                                    '</div>'+
                                                    '<div class="details--more_rating clearfix text-left">'+
                                                        '<div class="col-md-7 col-sm-7 col-xs-7">'+
                                                            '<div class="inner--text tooltip--container">Deduction & Limits <div class="tooltip"> <p>Deduction & Limits</p>We have compared health insurance companies with respect to the caps they impose on the health insurance plans such as co-pay, limits on surgery etc. If any such limits exist, you must be fully aware of those when buying the policy.</div></div>'+
                                                        '</div>'+
                                                        '<div class="col-md-3 col-sm-3 col-xs-3">'+
                                                            '<progress max="5" value="'+insurer_data[insurer].DL+'"></progress>'+
                                                        '</div>'+
                                                        '<div class="col-md-2 col-sm-2 col-xs-2">'+
                                                            '<span>'+insurer_data[insurer].DL+'</span>'+
                                                        '</div>'+
                                                    '</div>'+
                                                    '<div class="details--more_rating clearfix text-left">'+
                                                        '<div class="col-md-7 col-sm-7 col-xs-7">'+
                                                            '<div class="inner--text tooltip--container">Room Rent Limits <div class="tooltip"> <p>Room Rent Limit</p>Room rent limit is probably the most important factor when it comes to health insurance policies. Every expense is directly proportional to the room rent (doctor’s fees, medicines, procedures, consumables etc). If this is capped you should know its repercussions on your claims. If you are ignorant about this parameter, a seemingly innocent slip can prove to be a nightmare when making your claims.</div></div>'+
                                                        '</div>'+
                                                        '<div class="col-md-3 col-sm-3 col-xs-3">'+
                                                            '<progress max="5" value="'+insurer_data[insurer].RRL+'"></progress>'+
                                                        '</div>'+
                                                        '<div class="col-md-2 col-sm-2 col-xs-2">'+
                                                            '<span>'+insurer_data[insurer].RRL+'</span>'+
                                                        '</div>'+
                                                    '</div>'+
                                                    '<div class="details--more_rating clearfix text-left">'+
                                                        '<div class="col-md-7 col-sm-7 col-xs-7">'+
                                                            '<div class="inner--text tooltip--container">No Claim Bonus <div class="tooltip"> <p>No Claim Bonus</p>Many health insurance companies offer No Claim Bonus. This essentially means that for every claim-free year, your health insurance company offers you a no claim bonus, which usually translates into a discount on your premium. This bonus may range anywhere from 25% - 100%. We evaluate health insurance companies based on what kind of no claim bonus they offer, if they offer it at all.</div></div>'+
                                                        '</div>'+
                                                        '<div class="col-md-3 col-sm-3 col-xs-3">'+
                                                            '<progress max="5" value="'+insurer_data[insurer].NCB+'"></progress>'+
                                                        '</div>'+
                                                        '<div class="col-md-2 col-sm-2 col-xs-2">'+
                                                            '<span>'+insurer_data[insurer].NCB+'</span>'+
                                                       '</div>'+
                                                    '</div>'+
                                                    '<div class="details--more_rating clearfix text-left">'+
                                                        '<div class="col-md-7 col-sm-7 col-xs-7">'+
                                                            '<div class="inner--text tooltip--container">Waiting Period <div class="tooltip"> <p>Waiting Period</p>Even the best health insurance companies impose a waiting period and exclusions for certain illnesses (such as pre-existing diseases). We evaluate insurers based on these waiting periods, with respect to industry standards.</div></div>'+
                                                        '</div>'+
                                                        '<div class="col-md-3 col-sm-3 col-xs-3">'+
                                                            '<progress max="5" value="'+insurer_data[insurer].WP+'"></progress>'+
                                                        '</div>'+
                                                        '<div class="col-md-2 col-sm-2 col-xs-2">'+
                                                            '<span>'+insurer_data[insurer].WP+'</span>'+
                                                        '</div>'+
                                                    '</div>'+
                                                    '<div class="details--more_button">'+
                                                        '<a href="/health-plan/">Buy this plan</a>'+
                                                    '</div>'+
                                                    '<div>'+
                                                        '<a href="javascript:toggle(\''+insurer+'\',0)">Hide Details &#9652;</a>'+
                                                    '</div>'+
                                                '</div>'+
                                            '</div>'+
                                        '</div>'+
                                    '</div>'+
                                '</div>');
            if(count%3==0){
                $("#insurer").append('<div class="col-md-12"></div>');
            }
            count++;
        }
        function toggle(id, flag){
            console.log(id, "#"+id+" .show--container");
            if(flag==1){
                $("#"+id+" .show--container").removeClass("hide");
                $("#"+id+" .veiw").addClass("hide");
            }
            else{
                $("#"+id+" .show--container").addClass("hide");
                $("#"+id+" .veiw").removeClass("hide");
            }
        }
        function toggleAll(){
            if(expandAll){
                hideAll();
                expandAll = false;
            }else{
                showAll();
                expandAll = true;
            }
        }
        function showAll(){
            $(".show--container").removeClass("hide");
            $(".veiw").addClass("hide");
            $(".border").text("Collapse All Cards");
        }
        function hideAll(){
            $(".show--container").addClass("hide");
            $(".veiw").removeClass("hide");
            $(".border").text("Expand All Cards");
        }
</script>
{% endblock uncompressedjs %}

