{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Compare Health Insurance{% endblock pagetitle %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
<div class="page-header-wrapper container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="top-txt">Family comes first. Family health insurance comes right after that.</div>
      <a href="/health-plan/" class="btn-cfox orange large">Get started</a>
    </div>
  </div>
</div>
{% endblock pageheader %}
{% block content %}
<div itemscope itemtype="http://schema.org/Product">
  <span itemprop="audience" itemscope itemtype="http://schema.org/Audience">
    <meta itemprop="geographicArea" content="India"/>
  </span>
<section>
  <div class="lp-b1-wrapper bggrey padding-large">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4 text-center">
            <img src="{{STATIC_URL}}flatpages/img/stethoscope.png" alt="Stethoscope" width='150px' />
          </div>
          <div class="col-md-8 h-tag">
          <h1 itemprop="name">Family Health Insurance Plans</h1>
            <p>
           Medical emergencies can leave you distressed emotionally and financially. Choosing to <a href="/health-insurance/family-health-insurance/">insure your family</a> against such devastations could only mean that you are a smart person who ensures only the best for your family. </p>
          <p><strong>Family floater plans</strong> are <a href="/health-insurance/compare-health-insurance/">health insurance plans</a> to cover you and your family on a shared basis, without having to set a limit on each or any family member. Considering it highly unlikely that all members are going to fall sick or hospitalized at the same time, with the rising costs for medical procedures, family health insurance also proves to be efficient for the entire family.

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="lp-sub-title-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2>Every family’s needs differ from the next. However it is important to consider some factors before you sketch your family’s safety. </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="lp-b1-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6 text-center">
            <img src="{{STATIC_URL}}flatpages/img/hospital-network.png" alt="Hospital Network" width='200px' />
          </div>
          <div class="col-md-6">
            <h3>Sum assured</h3>
            <p>
           The first thing you would have to do is define your family members in the plan. Ideally your spouse, children and yourself can be covered in a <a href="/articles/health-insurance/the-best-family-floater-plan/">family floater plan</a>. Deciding on the right amount of coverage by your sum assured will make sure that one or two members in the family do not exhaust the cover for the rest.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="lp-b1-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <h3>Risk factors</h3>
            <p>
            Medical histories of heart ailments or diabetes and BP or even lifestyle habits like smoking or alcoholism would account as risk factors while taking a policy. The presence of such conditions call for higher premium as the cost of treatment from illness owing to these reasons could be higher. There is also another possibility of one person with such conditions depleting the family cover or leaving very little for the rest. So, we would recommend that you take a <a href="/articles/health-insurance/the-best-family-floater-plan/">family floater </a>for the rest of the family while you keep the individual with such risk factors on a separate <a href="/health-insurance/individual-health-insurance/">individual health policy</a>.
            </p>
          </div>
          <div class="col-md-6 text-center">
            <img src="{{STATIC_URL}}flatpages/img/room-eligibility.png" alt="Room Eligibility" width='200px' />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="lp-b1-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6 text-center">
            <img src="{{STATIC_URL}}flatpages/img/copay.png" alt="Copayment" width='200px' />
          </div>
          <div class="col-md-6">
            <h3>Age</h3>
            <p>
           As age has known to affect health in time, aged parents included in the group are likely to run higher medical bills, which could again prove fatal for the rest included in the plan. Thus it is advisable to keep them on a separate plan as well.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="lp-b1-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <h3>Restore</h3>
            <p>
            Restore is a perfectly architecture beneficial feature that some policies carry. This feature allows the sum assured amount to be restored back to the original for the other members in the family, if one person uses it up. We recommend that, when you check out policies, you must definitely check for the ones with restore option in it.
            </p>
          </div>
          <div class="col-md-6 text-center">
            <img src="{{STATIC_URL}}flatpages/img/stethoscope.png" alt="Stethoscope" width='150px' />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="lp-b1-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6 text-center">
            <img src="{{STATIC_URL}}flatpages/img/copay.png" alt="Copayment" width='200px' />
          </div>
          <div class="col-md-6">
            <h3>Policy terms check</h3>
            <p>
           <em>Network hospitals, <a href="/health-insurance/cashless-health-insurance/">cashless treatments</a>, <a href="/articles/jargon-busting/co-pay/">co-payment percentage </a>and <a href="/articles/jargon-busting/deductible/">deductible values</a>, <a href="/articles/health-insurance/room-rent-limit-in-health-insurance/">room expenses limit</a> and renewals</em> are some of the conditions you could keep an eye on to avoid rude surprises on a later day.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="lp-b2-wrapper ptb-50 theme-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h2>Why Coverfox?</h2>
            </div>

        </div>

        <div class="col-md-6 b2-item">
          <h3>Get Quotes without Phone numbers</h3>
          <p>Even when you leave your phone number with us, we never make spam calls forcing you to buy a policy. We call you, when and only if you want us to!</p>
          <p></p>
        </div>

        <div class="col-md-6 b2-item">
          <h3>Speak to Experts</h3>
          <p>Start and stop whenever you wish to. Whenever you have any questions, you can request a call from them</p>

        </div>

        <div class="col-md-6 b2-item">
          <h3>100% claims assistance provided</h3>
          <p>When the need arises to make a claim, we support you with documentation, follow ups on your claim, and helping you analyse in case of claim rejection.</p>
        </div>

        <div class="col-md-6 b2-item">
          <h3>Get your policy instantly in your inbox</h3>
          <p>No waiting lines. No Get your policy immediately in your inbox as soon as you buy.</p>
        </div>

        <div class="col-md-6 b2-item">
          <h3>Manage all your paperwork and documentation</h3>
          <p>Manage all your paperwork and documentation in one place, available to you forever at the click of a button.</p>

        </div>

        <div class="col-md-6 b2-item">
          <h3>Data Policy</h3>
          <p>We don’t sell your data to Insurance Companies nor any other Marketing Company</p>
        </div>

      </div>
    </div>
  </div>
</section>
    {% block review %}
    {% endblock review %}
</div>

{% endblock content %}
