{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Individual Health Insurance{% endblock pagetitle %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
<div class="page-header-wrapper container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="top-txt">The most attractive quality in you would be when you have the ability to take care of yourself.</div>
        <a href="/health-plan/" class="btn-cfox orange large">Get started</a>
      </div>
    </div>
  </div>
{% endblock pageheader %}
{% block content %}
<div itemscope itemtype="http://schema.org/Product">
  <span itemprop="audience" itemscope itemtype="http://schema.org/Audience">
    <meta itemprop="geographicArea" content="India"/>
  </span>
  <section>
    <div class="lp-b1-wrapper bggrey">
      <div class="container">
        <div class="row">
          <div class="col-md-12 h-tag">
            <h1 itemprop="name">Individual Health Insurance Plans</h1>
            <p>Today, good health is considered an asset. And asset it is, when you look at the escalating costs of medical expenses. An effective <a href="/health-insurance/individual-health-insurance/">health policy is what you choose today for the individual</a> that you are which helps you keep a check on those expenses for the many tomorrows to come. This policy acts the hero by taking care of your expected and unexpected hospitalizations. </p>
            <p>However choosing the best health policy for an individual is not as monstrous as its duties are. It can be done by simply keeping a check of these points:</p>
            <h3>Sum Assured</h3>
            <p>Choose the right cover keeping you in mind. You may not have many health conditions to name today, but a cover is what keeps tomorrow in control. And today’s cost is not what it is going to be tomorrow. </p>
            <h3>Pre/Post hospitalization</h3>
            <p>This feature in a policy helps you recover the costs made towards doctor- recommended health examinations and treatments, before and after your specific hospitalization stint is over.</p>
            <h3>Cashless facility</h3>
            <p>The facility in a policy keeps you closer and aware of a hospital network and helps you to be more prepared, for the hospitalization and also financially. Read more about cashless <a href="/health-insurance/cashless-health-insurance/">here</a>. </p>
            <h3>Pre-existing diseases</h3>
            <p>Treatments for specific conditions will be given after a defined waiting period.</p>
            <h2 style="margin-top: 40px;">Benefits from an individual policy</h2>
            <h3>No claim benefit</h3>
            <p>You may think that a claim free year is only a loss to your financial plan. But this benefit allows a specified discount on your policy for each claim free year.</p>
            <h3>Other policy features</h3>
            <p>Restore benefits, Ambulance charges, Health check-up, <a href="/articles/health-insurance/what-you-oughta-know-about-maternity-insurance/">Maternity cover</a>, Organ donor, domiciliary care, Day care treatment and diagnostic tests are some of the other benefits that may apply in few policies. However, it is best that you know in detail at the beginning of your policy, what it may entitle you.</p>
            <h3>Tax benefit</h3>
            <p>For the premium paid towards a policy, you could avail tax benefits under <strong>section 80D of the IT Act.</strong></p>
            <h2 style="margin-top: 40px;">Protecting your loved ones the way you protect yourself</h2>
            <p>If and when the policy impresses you enough to want to <a href="/health-insurance/family-health-insurance/">protect your family</a> the same way, you can ensure their much needed safety as well by just converting your policy into a family floater. However, if you plan to include <a href="/health-insurance/senior-citizens-health-insurance/">senior members in the family</a> (say over 50 years of age) whose medical expense can weigh down the entire policy, we would suggest that a separate cover be made for him/her while the rest can stay a part of the <a href="/health-insurance/family-health-insurance/">family floater</a>. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
    {% block review %}
    {% endblock review %}
</div>
{% endblock content %}
