{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Popular Health Insurance{% endblock pagetitle %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
<div class="page-header-wrapper container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Network Hospitals</h1>
    </div>
  </div>
</div>
{% endblock pageheader %}
{% block content %}
<div id="network_hospitals" class="container">
	<div class="row search_result_container">
			<div class="col-md-4 col-sm-6">
				<ul>
					<li>
						<a href="/health-insurance/bajajallianz/network-hospitals/"><img src="{{STATIC_URL}}health_product/img/insurer/insurer_4/on.png" alt="Bajaj Allianz">Bajaj Allianz</a>
					</li>
					<li>
						<a href="/health-insurance/iffcotokio/network-hospitals/"><img src="{{STATIC_URL}}health_product/img/insurer/iffco_tokio/on.png" alt="Iffco Tokio">Iffco Tokio</a>
					</li>
					<li>
						<a href="/health-insurance/hdfcergo/network-hospitals/"><img src="{{STATIC_URL}}health_product/img/insurer/hdfc_ergo/on.png" alt="HDFC ERGO">HDFC ERGO</a>
					</li>
					<li>
						<a href="/health-insurance/tataaig/network-hospitals/"><img src="{{STATIC_URL}}health_product/img/insurer/insurer_7/on.png" alt="Tata Aig">Tata Aig</a>
					</li>
					<li>
						<a href="/health-insurance/apollomunich/network-hospitals/"><img src="{{STATIC_URL}}health_product/img/insurer/insurer_1/on.png" alt="Apollo Munich">Apollo Munich</a>
					</li>
					
				</ul>
			</div>
			<div class="col-md-4 col-sm-6">
				<ul>
					
				<li>
					<a href="/health-insurance/maxbupa/network-hospitals/"><img src="{{STATIC_URL}}health_product/img/insurer/insurer_5/on.png" alt="Max Bupa">Max Bupa</a>
				</li>
				<li>
					<a href="/health-insurance/l-and-t/network-hospitals/"><img src="{{STATIC_URL}}health_product/img/insurer/insurer_11/on.png" alt="L & T Health Insuance">L&T Health Insuance</a>
				</li>
				<li>
					<a href="/health-insurance/new-india-assurance/network-hospitals/"><img src="{{STATIC_URL}}health_product/img/insurer/insurer_8/on.png" alt="New India Assurance">New India Assurance</a>
				</li>
				<li>
					<a href="/health-insurance/star-health-and-allied-insurance/network-hospitals/"><img src="{{STATIC_URL}}health_product/img/insurer/insurer_2/on.png" alt="Star Health And Allied Insurance">Star Health And Allied Insurance</a>
				</li>
				<li>
					<a href="/health-insurance/cholamandalam-ms/network-hospitals/"><img src="{{STATIC_URL}}health_product/img/insurer/insurer_12/on.png" alt="Star Health And Allied Insurance">Cholamandalam Ms</a>
				</li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-6">
				<ul>
					<li>
						<a href="/health-insurance/reliance/network-hospitals/"><img src="{{STATIC_URL}}health_product/img/insurer/insurer_10/on.png" alt="Star Health And Allied Insurance">Reliance</a>
					</li>
					<li>
						<a href="/health-insurance/religare/network-hospitals/"><img src="{{STATIC_URL}}health_product/img/insurer/insurer_6/on.png" alt="Religare">Religare</a>
					</li>
					<li>
						<a href="/health-insurance/oriental/network-hospitals/"><img src="{{STATIC_URL}}health_product/img/insurer/insurer_16/on.png" alt="Religare">Oriental</a>
					</li>
				</ul>
			</div>

	</div>
</div>
{% endblock content %}
