{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Health Insurance for parents{% endblock pagetitle %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
<div class="page-header-wrapper container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="top-txt">Health Insurance for your parents</div>
			<a href="/health-plan/" class="btn-cfox orange large">Get started</a>
		</div>
	</div>
</div>
{% endblock pageheader %}
{% block content %}
<div itemscope itemtype="http://schema.org/Product">
  <span itemprop="audience" itemscope itemtype="http://schema.org/Audience">
    <meta itemprop="geographicArea" content="India"/>
  </span>
<section>
	<div class="lp-b1-wrapper bggrey padding-large">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4 text-center">
						<img src="{{STATIC_URL}}flatpages/img/stethoscope.png" alt="Stethoscope" width='150px' />
					</div>
					<div class="col-md-8 h-tag">
						<h1 itemprop="name">Parents Heath Insurance Plans</h1>
						<p>
						Your parents never thought twice when it came to ensuring your safety and security.  And you would do nothing less in making sure that you don’t cut corners when it comes to their well being. With rising medical costs, what if you provided all you could and it still didn’t match up to the costs incurred? This is where a <a href="/health-insurance/compare-health-insurance/">health insurance policy</a> makes its presence felt. The one investment that you can make to ensure the best for your parents will be through the health insurance that you buy for them. </p>
						<p><strong>Remember buying a policy, even if it seems expensive, is always better than not buying one! </strong></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
  <div class="lp-b2-wrapper bggrey ptb-50">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h2>Here are some things you need to keep in mind when buying insurance for your parents. </h2>
            </div>

        </div>

        <div class="col-md-12">
          <h3>Age limit</h3>
          <p>If your parents are over, say 60, it is more likely that there are going to be certain recurrent health issues that may prove to be an expensive affair if you pay for it yourself. Most policies have an <a href="/articles/health-insurance/all-that-you-need-to-know-about-your-parents-health-insurance/">entry age limit</a>. Make sure you find out this age limit in the policy you want to choose, to ensure your parents can be covered by it. It is always wiser to <a href="/health-insurance/">buy a health insurance policy</a> sooner than later so you don’t have a chance of rejection. Insurance policies can reject a new policy after a certain age, but they cannot reject renewal of a health insurance policy at any age!</p>
          <p></p>
        </div>

        <div class="col-md-12">
          <h3>Co-pay</h3>
          <p>Co-pay is the part of the claimable bill that you pay from your end at the time of hospitalization. Companies introduce co-pay to deal with the number of claims made by senior citizens. So, before you zero-in on your policy, run a check to find out if the mentioned <a href="/articles/jargon-busting/co-pay/">percentage of co-pay</a> is do-able by you. </p>
          <p></p>
        </div>

        <div class="col-md-12">
          <h3>Pre-existing diseases</h3>
          <p>The conditions that are already present at the time of the start of a policy are <a href="/articles/jargon-busting/pre-existing-illness-condition/">pre-existing conditions</a>. <a href="/articles/health-insurance/pre-existing-diseases-in-health-insurance/">Buying an insurance policy with pre-existing conditions</a> could mean - </p>

          	<ul>
          		<li>A higher premium loaded from the beginning to deal with the existing conditions later.</li>
          		<li>A waiting period of 2-4 years is involved only after which you can get treated for these specific conditions.</li>
          		<li>Insurance companies could deny you cover for treatment of your pre-existing conditions, if they are severe. These would be intimated to you at the start of a policy itself.</li>
          		<li>Insurance companies could deny even selling a policy to you if you have chronic conditions like heart ailments or BP and diabetes. Which is why it’s always better that you do some fore-thinking and buy a health policy much before you develop such conditions, if any. </li>
          	</ul>
        </div>

        <div class="col-md-12">
          <h3>Medical Check-ups</h3>
          <p>Medical check-up, organized and made mandatory by insurance companies, is a conditional clause which could decide whether or not you can <a href="/">buy a policy</a>. This test determines the pre-existing conditions checked by the <a href="/">insurance company</a> before issuance of a policy. If you are denied a policy, you may have to pay the charges incurred for the test by the company.</p>
          <p></p>
        </div>

        <div class="col-md-12">
          <h3>Medical Check-ups</h3>
          <p>Medical check-up, organized and made mandatory by insurance companies, is a conditional clause which could decide whether or not you can buy a policy. This test determines the pre-existing conditions checked by the insurance company before issuance of a policy. If you are denied a policy, you may have to pay the charges incurred for the test by the company.</p>
          <p></p>
        </div>


        <div class="col-md-12">
        	<p>If your parents were precautious enough to take a health policy much earlier, good on them. But that doesn’t mean your work is done. Check out some cool top-ups that will do their policy some jolly good wonders and promise better and efficient use of a <a href="/articles/health-insurance/online-health-policy-because-internet/">health policy</a>. It’s not every day you get to make an impact on your parents’ lives, after all! </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
	<div class="lp-b2-wrapper ptb-50 theme-blue">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-8 col-md-offset-2 text-center">
						<h2>Why Coverfox?</h2>
					</div>
				</div>
				<div class="col-md-6 b2-item">
					<h3>Get Quotes without Phone numbers</h3>
					<p>Even when you leave your phone number with us, we never make spam calls forcing you to buy a policy. We call you, when and only if you want us to!</p>
					<p></p>
				</div>
				<div class="col-md-6 b2-item">
					<h3>Speak to Experts</h3>
					<p>Start and stop whenever you wish to. Whenever you have any questions, you can request a call from them</p>
				</div>
				<div class="col-md-6 b2-item">
					<h3>100% claims assistance provided</h3>
					<p>When the need arises to make a claim, we support you with documentation, follow ups on your claim, and helping you analyse in case of claim rejection.</p>
				</div>
				<div class="col-md-6 b2-item">
					<h3>Get your policy instantly in your inbox</h3>
					<p>No waiting lines. No Get your policy immediately in your inbox as soon as you buy.</p>
				</div>
				<div class="col-md-6 b2-item">
					<h3>Manage all your paperwork and documentation</h3>
					<p>Manage all your paperwork and documentation in one place, available to you forever at the click of a button.</p>
				</div>
				<div class="col-md-6 b2-item">
					<h3>Data Policy</h3>
					<p>We don’t sell your data to Insurance Companies nor any other Marketing Company</p>
				</div>
			</div>
		</div>
	</div>
</section>
    {% block review %}
    {% endblock review %}
</div>
{% endblock content %}
