{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Popular Health Insurance{% endblock pagetitle %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
<div class="page-header-wrapper container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Compare the best Health insurance plans</h1>
      <a href="/health-plan/" class="btn-cfox orange large">Get started</a>
    </div>
  </div>
</div>
{% endblock pageheader %}

{% block content %}
<div id="footer-link-main" class="container">
	<div class="row">  
            <div class="col-md-12">
                <br>
                <h2>POPULAR HEALTH INSURANCE PLANS</h2>
                <br>
                <div class="col-md-4 col-sm-6 pnone">
                    <ul>
                        <li><a href="/health-insurance/apollomunich/easy-health-insurance-family-policy/">Easy Health Insurance Family</a></li>
                        <li><a href="/health-insurance/apollomunich/easy-health-insurance-individual-policy/">Easy Health Insurance Individual</a></li>
                        <li><a href="/health-insurance/apollomunich/optima-restore-policy/">Optima Restore</a></li>
                        <li><a href="/health-insurance/bajajallianz/health-guard-family-policy/">Health Guard Family</a></li>
                        <li><a href="/health-insurance/bajajallianz/health-guard-individual-policy/">Health Guard Individual</a></li>
                        <li><a href="/health-insurance/cholamandalam-ms/family-healthline/">Family Healthline</a></li>
                        <li><a href="/health-insurance/cholamandalam-ms/individual-healthline-policy/">Individual Healthline</a></li>
                        <li><a href="/health-insurance/iffcotokio/individual-medishield-policy/">Individual Medishield</a></li>
                        <li><a href="/health-insurance/iffcotokio/swasthya-kavach-policy/">Swasthya Kavach</a></li>
                        <li><a href="/health-insurance/l-and-t/medisure-classic-policy/">Medisure Classic</a></li>
                        <li><a href="/health-insurance/l-and-t/medisure-prime-policy/">Medisure Prime</a></li>
                        <li><a href="/health-insurance/religare/care-policy/">Care</a></li>
                        <li><a href="/health-insurance/star-health-and-allied-insurance/mediclassic-policy/">Mediclassic</a></li>
                        <li><a href="/health-insurance/star-health-and-allied-insurance/star-comprehensive-policy/">Star Comprehensive</a></li>
                        <li><a href="/health-insurance/tataaig/mediprime-policy/">Mediprime</a></li>
                        <li><a href="/health-insurance/oriental/happy-family-floater-policy/">Oriental Happy Family Floater</a></li>
                        <li><a href="/health-insurance/star-health-and-allied-insurance/family-delite-policy/">Family Delite</a></li>
                        <li><a href="/health-insurance/star-health-and-allied-insurance/star-unique-policy/">Star Unique </a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 plnone">
                    <ul>
                        
                        <li><a href="/health-insurance/star-health-and-allied-insurance/senior-citizens-red-carpet-policy/">Senior Citizens Red Carpet </a></li>
                        <li><a href="/health-insurance/star-health-and-allied-insurance/star-care-policy/">Star Care </a></li>
                        <li><a href="/health-insurance/religare/joy-policy/">Joy Plan</a></li>
                        <li><a href="/health-insurance/star-health-and-allied-insurance/star-family-health-optima-policy/">Star Family Health Optima </a>
                        </li>
                        <li><a href="/health-insurance/bhartiaxa/smarthealth-policy/">Smarthealth  Plan</a></li>
                        <li><a href="/health-insurance/hdfcergo/health-suraksha-policy/">Health Suraksha Policy</a></li>
                        <li><a href="/health-insurance/reliance/healthwise-policy/">Healthwise </a></li>
                        <li><a href="/health-insurance/bajajallianz/health-care-supreme-policy/">Health Care Supreme</a></li>
                        <li><a href="/health-insurance/bajajallianz/silver-health-policy/">Silver Health</a></li>
                        <li><a href="/health-insurance/cholamandalam-ms/swasth-parivar-pearl-policy/">Swasth Parivar Pearl </a></li>
                        <li><a href="/health-insurance/cholamandalam-ms/swasth-parivar-royale-policy/">Swasth Parivar Royale </a></li>
                        <li><a href="/health-insurance/cholamandalam-ms/enrich-healthline-policy/">Enrich Healthline </a></li>
                        <li><a href="/health-insurance/cholamandalam-ms/freedom-healthline-policy/">Freedom Healthline </a></li>
                        <li><a href="/health-insurance/cholamandalam-ms/value-healthline-policy/">Value Healthline </a></li>
                        <li><a href="/health-insurance/cignattk/prohealth-policy/">Prohealth </a></li>
                        <li><a href="/health-insurance/icicilombard/health-care-policy/">Health Care </a></li>
                        <li>
                            <a href="/health-insurance/icicilombard/ihealth-policy/">Ihealth </a>
                        </li>
                        <li>
                            <a href="/health-insurance/maxbupa/health-companion-policy/">Health Companion </a>
                        </li>
                        
                        
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 plnone">
                    <ul>
                        <li>
                            <a href="/health-insurance/new-india-assurance/mediclaim-2012-policy/">Mediclaim 2012 </a>
                        </li>
                        <li>
                            <a href="/health-insurance/new-india-assurance/new-india-asha-kiran-policy/">New India Asha Kiran </a>
                        </li>
                        <li>
                            <a href="/health-insurance/new-india-assurance/new-india-floater-mediclaim-policy/">New India Floater Mediclaim </a>
                        </li>
                        <li>
                            <a href="/health-insurance/new-india-assurance/senior-citizens-mediclaim-policy/">Senior Citizens Mediclaim </a>
                        </li>
                        <li>
                            <a href="http://www.coverfox.com/health-insurance/reliance/healthgain-policy/">Healthgain </a>
                        </li>
                        <li><a href="/health-insurance/star-health-and-allied-insurance/star-health-gain-policy/">Star Health Gain </a></li>
                        <li><a href="/health-insurance/star-health-and-allied-insurance/super-surplus-insurance-policy/">Super Surplus Insurance </a></li>
                        <li><a href="/health-insurance/tataaig/mediraksha-policy/">Mediraksha </a></li>
                        <li><a href="/health-insurance/tataaig/wellsurance-executive-policy/">Wellsurance Executive </a></li>
                        <li><a href="/health-insurance/tataaig/medisenior-policy/">MediSenior </a></li>
                        <li><a href="/health-insurance/oriental/individual-mediclaim-policy">Oriental Individual Mediclaim</a></li>
                        <li>
                            <a href="/health-insurance/new-india-assurance/family-floater-mediclaim-policy/">Family Floater Mediclaim </a>
                        </li>
                        <li>
                            <a href="/health-insurance/new-india-assurance/janata-mediclaim-policy/">Janata Mediclaim </a>
                        </li> 
                        <li>
                            <a href="/health-insurance/maxbupa/heartbeat-policy/">Heartbeat </a>
                        </li>
                    </ul>
                </div>
            </div>
	</div>
</div>

{% endblock content %}