{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Health Insurance for senior citizens{% endblock pagetitle %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
<div class="page-header-wrapper container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="top-txt">Health Insurance for senior citizens</div>
			<a href="/health-plan/" class="btn-cfox orange large">Get started</a>
		</div>
	</div>
</div>
{% endblock pageheader %}
{% block content %}
<div itemscope itemtype="http://schema.org/Product">
  <span itemprop="audience" itemscope itemtype="http://schema.org/Audience">
    <meta itemprop="geographicArea" content="India"/>
  </span>
<section>
	<div class="lp-b1-wrapper bggrey padding-large">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4 text-center">
						<img src="{{STATIC_URL}}flatpages/img/stethoscope.png" alt="Stethoscope" width='150px' />
					</div>
					<div class="col-md-8 h-tag">
						<h1 itemprop="name">Health Insurance For Senior Citizens</h1>
						<p>
						Are you the young-at-heart, tech savvy, accomplished man who buys toys for your grandchildren online, skype with them, email your children but have never <a href="/health-insurance/compare-health-insurance/">compared health policies</a>? How many times did you consider <a href="/health-insurance/">buying a health policy</a> for you and your spouse and given up, thinking it's too late for it now?</p>
						<p><strong>If you are never too old to take care of your own health, you are also never too old to buy a health insurance policy for yourself.</strong></p>
						<p>All you need to do is to spend a little money for a health insurance plan now so you don't have to get yourself and everyone around you worried about your health and the rising health costs. </p>
						<p>Today, having considered how important a health policy is for someone around 55 and above, <a href="/">insurance companies</a> have rolled out policies that benefit a senior customer despite their pre-existing ailments. </p>
						<p>However, they are a few factors that influence a health policy which you must consider before buying a health insurance policy for you.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
  <div class="lp-b2-wrapper bggrey ptb-50">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h2>Factors that influence health policy</h2>
            </div>

        </div>

        <div class="col-md-12">
          <h3>Co-pay</h3>
          <p>You fund a certain percentage of the claimable hospital bill from your own pocket at the time of hospitalization. This is co-payment. Most companies introduce this feature in a policy to handle the number of claims made by senior citizens. So, you might want to check out the co-pay percentage mentioned in a policy before opting for one.</p>
          <p></p>
        </div>

        <div class="col-md-12">
          <h3>Pre-existing diseases</h3>
          <p>The conditions that are already present at the time of the start of a policy are pre-existing conditions. Buying an insurance policy with pre-existing conditions could mean - </p>

          	<ul>
          		<li>A higher premium loaded from the beginning to deal with the existing conditions later.</li>
          		<li>A waiting period of 2-4 years is involved only after which you can get treated for these specific conditions.</li>
          		<li>Insurance companies could deny you cover for treatment of your pre-existing conditions, if they are severe. These would be intimated to you at the start of a policy itself.</li>
          		<li>Insurance companies could deny even selling a policy to you if you have chronic conditions like heart ailments or BP and diabetes. Which is why it’s always better that you do some fore-thinking and buy a health policy much before you develop such conditions, if any. </li>
          	</ul>
        </div>

        <div class="col-md-12">
          <h3>Age limit</h3>
          <p>There is usually a condition of an entry age limit mentioned in a few policies. It is a condition that is specified to deal with the likelihood of claims. So, before it’s too late, get your health policy today! Don’t procrastinate this any further than what you already have.</p>
          <p></p>
        </div>

        <div class="col-md-12">
          <h3>Medical Check-ups</h3>
          <p>Medical check-up, organized and made mandatory by insurance companies, is a conditional clause which could decide whether or not you can <a href="/">buy a policy</a>. This test determines the pre-existing conditions checked by the <a href="/">insurance company</a> before issuance of a policy. If you are denied a policy, you may have to pay the charges incurred for the test by the company.</p>
          <p></p>
        </div>


        <div class="col-md-12">
        	<p>However, it is not rocket science. All you have to do is drop in your phone number with us, and our executives will get in touch with you before you know it. You will get all the help you need, to know about your available options. And if you don’t want the hassle of taking your aged parents out just for this, <a href="/">Coverfox</a> offers the best solutions by <strong>making insurance available online within minutes</strong>! </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
	<div class="lp-b2-wrapper ptb-50 theme-blue">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-8 col-md-offset-2 text-center">
						<h2>Why Coverfox?</h2>
					</div>
				</div>
				<div class="col-md-6 b2-item">
					<h3>Get Quotes without Phone numbers</h3>
					<p>Even when you leave your phone number with us, we never make spam calls forcing you to buy a policy. We call you, when and only if you want us to!</p>
					<p></p>
				</div>
				<div class="col-md-6 b2-item">
					<h3>Speak to Experts</h3>
					<p>Start and stop whenever you wish to. Whenever you have any questions, you can request a call from them</p>
				</div>
				<div class="col-md-6 b2-item">
					<h3>100% claims assistance provided</h3>
					<p>When the need arises to make a claim, we support you with documentation, follow ups on your claim, and helping you analyse in case of claim rejection.</p>
				</div>
				<div class="col-md-6 b2-item">
					<h3>Get your policy instantly in your inbox</h3>
					<p>No waiting lines. No Get your policy immediately in your inbox as soon as you buy.</p>
				</div>
				<div class="col-md-6 b2-item">
					<h3>Manage all your paperwork and documentation</h3>
					<p>Manage all your paperwork and documentation in one place, available to you forever at the click of a button.</p>
				</div>
				<div class="col-md-6 b2-item">
					<h3>Data Policy</h3>
					<p>We don’t sell your data to Insurance Companies nor any other Marketing Company</p>
				</div>
			</div>
		</div>
	</div>
</section>
    {% block review %}
    {% endblock review %}
</div>
{% endblock content %}
