/* Color scheme definitions */
/* Color scheme definitions end */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
.mrb {
  margin-bottom: 30px;
}
.top_compare_container {
  background-color: #24323d;
  min-height: 340px;
  text-align: center;
}
.top_compare_container h1 {
  font-size: 36px;
  color: #fff;
  margin: 40px 0 10px;
}
.top_compare_container p {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
}
.health_expert_container {
  position: relative;
  max-width: 1130px;
  margin: auto;
  height: 330px;
}
.health_expert_container .box_health {
  background: #f4f4f4 url("../img/sudeshna_bg.jpg") no-repeat left top;
  position: absolute;
  top: -60%;
  left: 0;
  width: 100%;
  height: 521px;
  border: 1px solid #24323d;
}
.health_expert_container .box_health .info {
  margin: 450px 0 0;
  color: #fff;
}
.health_expert_container .box_health .info h2 {
  font-size: 25px;
  margin: 10px 0 0;
}
.health_expert_container .box_health .info p {
  font-size: 18px;
}
.health_expert_container .form-section {
  margin-bottom: 0;
}
.health_expert_container .form-section h2 {
  color: #24323d;
  margin: 50px 0 10px;
  font-size: 26px;
  font-weight: 400;
}
.health_expert_container .form-section h3 {
  color: #24323d;
  margin: 0 0 25px;
  font-size: 26px;
  font-weight: 400;
}
.health_expert_container .form-section p {
  color: #24323d;
  font-size: 23px;
  font-weight: 400;
}
.health_expert_container .form-section .no-thanks {
  cursor: pointer;
  color: #24323d;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}
.health_expert_container .form-section .sub-heading {
  color: #fff;
  letter-spacing: 2px;
  font-size: 25px;
}
.health_expert_container .form-section .number-form {
  background-color: #dedede;
  padding: 20px 20px 10px 20px;
  border: 1px solid #dedede;
  max-width: 528px;
  margin: 35px auto;
  position: relative;
}
.health_expert_container .form-section .number-form .input-group-addon {
  border-color: rgba(0, 0, 0, 0.4);
}
.health_expert_container .form-section .number-form input {
  border-color: rgba(0, 0, 0, 0.4);
  height: 58px;
  padding: 16px;
}
.health_expert_container .form-section .number-form .btn-cfox {
  width: 100%;
  display: block;
  text-align: center;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
.health_expert_container .form-section .number-form .loading-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 50px 12px 9px;
  background-color: #ffffff;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 3;
  text-align: center;
  color: #991919;
  font-size: 20px;
  letter-spacing: 2px;
  display: none;
}
.health_expert_container .form-section .number-form .loading-box img {
  margin-right: 10px;
}
.health_expert_container .form-section .number-form .loading-box.reveal {
  display: block;
}
.health_expert_container .form-section .number-form .error {
  padding: 8px 8px 6px 32px;
  background-color: #ec971f;
  color: #991919;
  position: absolute;
  top: 78%;
  left: 10%;
  margin-top: -10px;
  min-width: 80%;
  font-weight: bold;
  display: none;
  z-index: 100;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
.health_expert_container .form-section .number-form .error .glyphicon {
  margin-right: 10px;
  position: absolute;
  left: 8px;
  top: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.health_expert_container .form-section .number-form .error:before {
  position: absolute;
  top: -20px;
  left: 30px;
  border: 10px solid transparent;
  border-bottom-color: #ec971f;
  content: '';
  display: block;
}
.health_expert_container .form-section .number-form .error.reveal {
  display: block;
}
.list_point_container {
  padding: 30px;
  background-color: #f4f4f4;
  margin: 50px 0 0 0;
}
.list_point_container h2 {
  margin: 0 0 20px;
}
.list_point_container h3 {
  padding: 20px 30px;
  background-color: #ff733e;
  color: #fff;
  border-right: 4px solid #fff;
  margin: 0;
}
.list_point_container .point_contaoner {
  background-color: #fff;
}
.list_point_container .point_contaoner ul {
  padding: 20px 30px;
  list-style: none;
  margin: 0;
  border-right: 4px solid #ffb99f;
}
.list_point_container .point_contaoner ul li {
  margin: 20px 0;
  position: relative;
  padding: 0 0 0 30px;
  font-size: 15px;
}
.list_point_container .point_contaoner ul li:before {
  content: '\2713';
  position: absolute;
  top: -9px;
  left: 0;
  color: #ff733e;
  font-size: 30px;
  font-weight: 400;
}
.list_point_container .point_contaoner ul li:first-child {
  margin-top: 0;
}
.list_point_container .bdn {
  border: none !important;
}
/* mobile optimisation */
@media screen and (min-width: 200px) and (max-width: 991px) {
  .top_compare_container h1 {
    font-size: 30px;
    margin: 30px 0 10px;
  }
  .top_compare_container p {
    font-size: 20px;
  }
  .health_expert_container .box_health {
    height: auto;
    background: #f4f4f4 url("../img/sudeshna_bg.jpg") no-repeat center center;
  }
  .health_expert_container .box_health .info {
    margin: 472px 0 0;
  }
  .health_expert_container .box_health .info h2 {
    font-size: 20px;
  }
  .health_expert_container .box_health .info p {
    font-size: 15px;
  }
  .health_expert_container .form-section p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  body,
  html {
    min-width: 320px;
  }
  .top_compare_container {
    min-height: 494px;
  }
  .top_compare_container h1 {
    font-size: 20px;
    margin: 10px 15px 10px;
  }
  .top_compare_container p {
    font-size: 16px;
  }
  .btn-cfox {
    font-size: 16px;
  }
  .health_expert_container .form-section .number-form .btn-cfox {
    font-size: 13px;
  }
  .health_expert_container {
    height: 630px;
  }
  .health_expert_container .form-section p {
    font-size: 16px;
  }
  .health_expert_container .box_health {
    height: auto;
    background: #f4f4f4 url("../img/sudeshna_bg.jpg") no-repeat left top;
  }
  .health_expert_container .box_health .info p {
    font-size: 14px;
  }
  .list_point_container {
    padding: 15px;
  }
  .list_point_container h2 {
    font-size: 22px;
    margin: 20px 0;
  }
  .list_point_container .point_contaoner h3 {
    border: none;
  }
  .list_point_container .point_contaoner ul {
    padding: 15px;
    border: none;
  }
  .list_point_container .point_contaoner ul li {
    font-size: 15px;
  }
}
