@import "../../css/base_theme";

@cover-base-color:#24323d;
.mrb{
  margin-bottom: 30px;
}
.top_compare_container{
  background-color: @cover-base-color;
  min-height: 340px;
  text-align: center;
  h1{
    font-size: 36px;
    color:#fff;
    margin: 40px 0 10px;
  }
  p{
    color:#fff;
    font-size: 25px;
    font-weight: 300;
  }
}
.health_expert_container{
  position: relative;
  max-width: 1130px;
  margin: auto;
  height: 330px;
  .box_health{
    background:#f4f4f4 url("../img/sudeshna_bg.jpg") no-repeat left top;
    position: absolute;
    top:-60%;
    left:0;
    width:100%;
    height: 521px;
    border:1px solid @cover-base-color;
    .info{
      margin: 450px 0 0;
      color:#fff;
      h2{
        font-size: 25px;
        margin: 10px 0 0;
      }
      p{
        font-size: 18px;
      }
    }
    }
  .form-section {
    margin-bottom:0;
    h2 {
      color: @cover-base-color;      
      margin: 50px 0 10px;
      font-size: 26px;
      font-weight: 400;
    }
    h3 {
      color: @cover-base-color;
      margin: 0 0 25px;
      font-size: 26px;
      font-weight: 400;
    }
    p{
      color: @cover-base-color;
      font-size: 23px;
      font-weight: 400;
    }
    .no-thanks {
      cursor: pointer;
      color: #24323d;
      font-size: 20px;
      font-weight: 400;
      text-decoration: none;
    }
    .sub-heading {
      color: #fff;
      letter-spacing: 2px;
      font-size: 25px;
    }
    .number-form {
      background-color: #dedede;
      padding:20px 20px 10px 20px;
      border: 1px solid #dedede;
      max-width: 528px;
      margin: 35px auto;
      position: relative;
      .input-group-addon {
        border-color:rgba(0,0,0,0.4);

      }
      input {
        border-color: rgba(0,0,0,0.4);
        height:58px;
        padding:16px;
      }
      .btn-cfox {
        width: 100%;
        display: block;
        text-align: center;
        cursor: pointer;
        border-color:rgba(0,0,0,0.1);
        margin-top: 10px;
      }

      .loading-box {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        padding: 50px 12px 9px;
        background-color: rgba(255, 255, 255, 1);
        width: 100%;
        .roundedCorners(3px);
        z-index: 3;
        text-align: center;
        color: #991919;
        font-size: 20px;
        letter-spacing: 2px;
        display: none;
        & img {
          margin-right:10px;
        }
        &.reveal {
          display: block;
        }
      }
      & .error {
        padding:8px 8px 6px 32px;
        background-color:#ec971f;
        color:#991919;
        position: absolute;
        top:78%;
        left:10%;
        margin-top:-10px;
        min-width:80%;
        font-weight: bold;
        display: none;
        z-index:100;
        .roundedCorners(3px);
        .boxShadow(0px 3px 5px rgba(0,0,0,0.4));
        .glyphicon {
          margin-right:10px;
          position: absolute;
          left: 8px;
          top: 10px;
          font-size: 16px;
          color:rgba(0,0,0,0.6);
        }
        &:before {
          position: absolute;
          top:-20px;
          left:30px;
          border: 10px solid transparent;
          border-bottom-color: #ec971f;
          content: '';
          display: block;
        }
        &.reveal {
          display: block;
        }
      }
    }
  }
}
.list_point_container{
  padding: 30px;
  background-color: #f4f4f4;
  margin: 50px 0 0 0;
  h2{
    margin: 0 0 20px;
  }
  h3{
    padding: 20px 30px;
    background-color: #ff733e;
    color:#fff;
    border-right: 4px solid #fff;
    margin: 0;
  }
  .point_contaoner{
    background-color: #fff;
    ul{
      padding: 20px 30px;
      list-style: none;
      margin: 0;
      border-right:4px solid #ffb99f;
      li{
        margin: 20px 0;
        position: relative;
        padding: 0 0 0 30px;
        font-size: 15px;
        &:before{
          content: '\2713';
          position: absolute;
          top:-9px;
          left:0;
          color:#ff733e;
          font-size: 30px;
          font-weight: 400;
        }
        &:first-child{
          margin-top: 0;
        }
      }
    }
  }
  .bdn{
    border: none !important;
  }
}

/* mobile optimisation */

@media screen and (min-width: 200px) and (max-width: 991px) {
  .top_compare_container{
    
    h1{
      font-size: 30px;
      margin: 30px 0 10px;
    }
    p{
      font-size: 20px;
    }
  }
  .health_expert_container {
    .box_health{
      height: auto;
      background:#f4f4f4 url("../img/sudeshna_bg.jpg") no-repeat center center;
      .info{
        margin: 472px 0 0;
        h2{
          font-size: 20px;
        }
        p{
          font-size: 15px;
        }
      }
    }
    .form-section{
      p{
        font-size: 20px;
      }
    }
  }
  
}

@media screen and (min-width: 991px) and (max-width: 1199px) {


  }

@media only screen and (min-width : 200px) and (max-width : 767px) {
  body,html {
    min-width:320px;
  }
  .top_compare_container{
    min-height: 494px;
    h1{
      font-size: 20px;
      margin: 10px 15px 10px;
    }
    p{
      font-size: 16px;
    }
  }
  .btn-cfox{
    font-size: 16px;
  }
  .health_expert_container .form-section .number-form .btn-cfox{
    font-size: 13px;
  }
  .health_expert_container {
    height: 630px;
    .form-section{
      p{
        font-size: 16px;
      }
    }
    .box_health{
      height: auto;
      background:#f4f4f4 url("../img/sudeshna_bg.jpg") no-repeat left top;
      .info{
        p{
          font-size: 14px;
        }
      }
    }
  }
  .list_point_container{
    padding: 15px;
    h2{
      font-size: 22px;
      margin: 20px 0;
    }
    .point_contaoner{
      h3{
        border:none;
      }
      ul{
        padding: 15px;
        border:none;
        li{
          font-size: 15px;
        }
      }
    }
  }
}

