<form method='POST' action=''> {% csrf_token %}
<table cellspacing="0" cellpadding="0" border="0" style="border:7px solid #e4e4e4;border-radius:5px;" align="center" width="700">
    <tr>
        <td valign="top" align="left"style="font:normal 30px 'Open Sans','sans-serif';color:#314451;padding:10px;">
        Two Wheeler Engine & Gear <br />Warranty
        </td>
        <td valign="top" align="right" style="padding:20px 10px 0 0;"><img src="{{STATIC_URL}}motor_warranty_pdfs/{{channel}}/{{channel}}.png" width="150" height="40"/></td>
    </tr>
    <tr>
        <td colspan="2" valign="top" align="left"style="font:normal 14px 'Open Sans','sans-serif';padding:10px;color:#5e5e66;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4">
            Congratulations! We are pleased that you have selected Warranty product. The Warranty cover protects you against the cost of repair/replacement of components and labour in case of covered part failure. <br /><br />

            Your two wheeler comes with warranty giving you an added peace of mind and protection.<br /><br />

            We hope that you will have happy and trouble free driving. In the event, should you ever
            need to claim a Warranty, you can be rest assured, that our dedicated support team will be
            at your service to help you get back your two wheeler on the road at the earliest. <br /><br />

            Wish you a Happy and trouble free motoring!!!
        </td>
    </tr>
    <tr>
        <td colspan="2" valign="top" align="left" style="padding:20px 10px;border-bottom:1px solid #e4e4e4" width="680">
            <table cellspacing="0" cellpadding="0" border="0" width="680">
                <tr>
                    <td valign="top" width="80" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;"></td>
                    <td valign="top" width="30" style="color:#5e5e66;"></td>
                    <td valign="top" width="220" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                    </td>
                    <td valign="top" width="180" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;">Warranty ID</td>
                    <td valign="top" width="30" style="color:#5e5e66;">:</td>
                    <td valign="top" width="120" style="font:normal 14px 'Open Sans','sans-serif';color:#000000;padding:3px;border:1px solid #e4e4e4;border-radius:3px; background:#eee;text-align:center;">
                    {{ member_id }}
                    </td>
                </tr>
                <tr>
                    <td height="25" colspan="7"></td>
                </tr>
                <tr>
                    <td valign="top" width="80" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;">Name</td>
                    <td valign="top" width="30" style="color:#5e5e66;">:</td>
                    <td valign="top" width="220" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                        {{ form_.name }}
                    </td>
                    <td valign="top" width="180" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;">Manufacturing Year</td>
                    <td valign="top" width="30" style="color:#5e5e66;">:</td>
                    <td valign="top" width="120" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                        {{ form_.vehicle_manufacturing_year }}
                    </td>
                </tr>
                <tr>
                    <td height="25" colspan="7"></td>
                </tr>
                <tr>
                    <td valign="top" width="80" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;">Address</td>
                    <td valign="top" width="30" style="color:#5e5e66;">:</td>
                    <td valign="top" width="220" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                        {{ form_.address }}
                    </td>
                    <td valign="top" width="180" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;">Email</td>
                    <td valign="top" width="30" style="color:#5e5e66;">:</td>
                    <td valign="top" width="120" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                        {{ form_.email }}
                    </td>
                </tr>
                <tr>
                    <td height="25" colspan="7"></td>
                </tr>
                <tr>
                    <td valign="top" width="80" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;">Chassis</td>
                    <td valign="top" width="30" style="color:#5e5e66;">:</td>
                    <td valign="top" width="220" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                        {{ form_.vehicle_chassis }}
                    </td>
                    <td valign="top" width="180" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;">Engine No</td>
                    <td valign="top" width="30" style="color:#5e5e66;">:</td>
                    <td valign="top" width="120" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                        {{ form_.vehicle_engine_number }}
                    </td>
                </tr>
                <tr>
                    <td height="25" colspan="7"></td>
                </tr>
                <tr>
                    <td valign="top" width="80" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;">City</td>
                    <td valign="top" width="30" style="color:#5e5e66;">:</td>
                    <td valign="top" width="220" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                        {{ form_.city }}
                    </td>
                    <td valign="top" width="180" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;">Vehicle sale date</td>
                    <td valign="top" width="30" style="color:#5e5e66;">:</td>
                    <td valign="top" width="120" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                        {% if pdf_link %}{{form_.vehicle_sale_date|date:"M d, Y"}}{%else%}{{form_.vehicle_sale_date}}{%endif%}
                    </td>
                </tr>
                <tr>
                    <td height="25" colspan="7"></td>
                </tr>
                <tr>
                    <td valign="top" width="80" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;">PinCode</td>
                    <td valign="top" width="30" style="color:#5e5e66;">:</td>
                    <td valign="top" width="220" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                        {{ form_.pincode }}
                    </td>
                    <td valign="top" width="180" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;">Model</td>
                    <td valign="top" width="30" style="color:#5e5e66;">:</td>
                    <td valign="top" width="120" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                        {{ form_.vehicle_model }}
                    </td>
                </tr>
                <tr>
                    <td height="25" colspan="7"></td>
                </tr>
                <tr>
                    <td valign="top" width="80" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;">Make</td>
                    <td valign="top" width="30" style="color:#5e5e66;">:</td>
                    <td valign="top" width="220" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                        {{ form_.vehicle_make }}
                    </td>
                    <td valign="top" width="180" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;">First Registration Date</td>
                    <td valign="top" width="30" style="color:#5e5e66;">:</td>
                    <td valign="top" width="120" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                        {% if pdf_link %}{{form_.first_registration_date|date:"M d, Y"}}{%else%}{{form_.first_registration_date}}{%endif%}
                    </td>
                </tr>
                <tr>
                    <td height="25" colspan="7"></td>
                </tr>
                <tr>
                    <td valign="top" width="80" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;">Mobile</td>
                    <td valign="top" width="30" style="color:#5e5e66;">:</td>
                    <td valign="top" width="220" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                        {{ form_.mobile }}
                    </td>
                    <td valign="top" width="180" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;">Registration No</td>
                    <td valign="top" width="30" style="color:#5e5e66;">:</td>
                    <td valign="top" width="120" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                        {{ form_.vehicle_number }}
                    </td>
                </tr>
                <tr>
                    <td height="25" colspan="7"></td>
                </tr>
                <tr>
                    <td valign="top" width="80" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;"></td>
                    <td valign="top" width="30" style="color:#5e5e66;"></td>
                    <td valign="top" width="220" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                    </td>
                    <td valign="top" width="180" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;">Odometer Reading</td>
                    <td valign="top" width="30" style="color:#5e5e66;">:</td>
                    <td valign="top" width="120" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding-right:10px;">
                        <table cellspacing="0" cellpadding="0" border="0" width="110">
                            <tr>
                                <td valign="top" width="90">{{ form_.odometer_reading }}</td>
                                <td valign="top" width="30" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66; padding:2px">Kms</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2"valign="top" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding:20px 10px;border-bottom:1px solid #e4e4e4">
            Warranty valid from
            {% if errors %}
            {{ form_.valid_from }} upto six months
            {% else%}
            {{ form_.valid_from|date:"M d, Y" }} upto {{ form_.valid_upto|date:"M d, Y" }}
            {% endif %}
            or 7,500 Kms whichever is earlier.
        </td>
    </tr>
    <tr>
        <td valign="top" style="font:normal 14px 'Open Sans','sans-serif';color:#5e5e66;padding:20px 10px;">
            For claims, call our executive on <b style="font:bold 14px 'Open Sans','sans-serif';">8424011936</b>
        </td>
        <td>
        {% if errors %}{{ errors }}
        <input style="background:#ddd;padding:5px;border:1px solid #999;text-decoration:none;text-color:#333;" type="submit" value="Save">
        {% elif pdf_link %}
        <a style="background:#ddd;padding:5px;border:1px solid #999;text-decoration:none;text-color:#333;" href="{{STATIC_URL}}{{pdf_link}}" download>Download</a>
        {% else %}
        <input style="background:#ddd;padding:5px;border:1px solid #999;text-decoration:none;text-color:#333;" type="submit" value="Save">
        {% endif %}
        </td>
    </tr>
</table>
</form>
