<div id='ameyoIframeDiv'>
    <iframe class="ameyo-iframe" id="ameyoIframe" data-bind="attr: {'src': iframeUrl}"></iframe>
</div>
<a data-toggle="modal" href="#incoming_call_modal" id="incoming_call_btn" class="btn hide">Incoming Call</a>

<div class="form-horizontal">
	<h4>Call</h4>
    <div class="form-group">
        <label data-bind="text: $parent.ticket().name"  class="col-sm-2 control-label"></label>
        <div class="col-sm-2">
            <div class="fg-line">
                <input type="text" class="form-control input-sm" id="customer_number" data-bind="value: customer_number, valueUpdate: 'afterkeydown'"/>
            </div>
        </div>
        <div class="col-sm-8">
        	<a class="ameyo-call-btn btn btn-success btn-sm" data-bind="click: dialGivenNumber(customer_number), text: 'Call ' + customer_number()"></a>
        </div>
    </div>
</div>


