<div role="tabpanel" class="tab-pane active" id="home11">
    <div class="card">
        <div class="card-header ch-alt">
            <h2>Overview</h2>
            <button id="view_all_tkt"
                    class="btn bgm-deeporange btn-sm waves-effect waves-button waves-float waves-effect waves-button waves-float hide">
                View all Tickets
            </button>
        </div>
        <div class="card-body card-padding">
            <div class="panel-group" data-bind="foreach: panels">
                <dashboard-panel params="value: $data"></dashboard-panel>
            </div>

        </div>
    </div>
</div>
