<a data-bind="click: show_tickets" class="overview-link btn bgm-lightblue waves-effect waves-button waves-float waves-effect waves-button waves-float">
    <strong data-bind="text: panel_tile.count"></strong>
    <small>View all</small>
    <!--small>View all</small-->
    <div data-bind="text: panel_tile.name"></div>
</a>