<div class="listview lv-bordered lv-lg">
    <div class="listview lv-bordered lv-lg">
        <form id="policySearchForm" method="post">
            <div class="lv-header-alt">
                <h2 class="lvh-label hidden-xs">Policy Search Results</h2>
                <ul class="lv-actions actions">
                    <li class="dropdown">
                        <a class="sub-search" href="" data-toggle="dropdown" aria-expanded="true">
                            <span>Search</span><i class="md md-search"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <input data-bind="value: policy_no" class="input-sm form-control fg-input" id="id_policy_no" maxlength="100" name="policy_no" type="text">
                                    </div>
                                    <label class="fg-label" for="policy_no">Policy No.</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <input data-bind="value: customer_email" class="input-sm form-control fg-input" id="id_customer_email" name="customer_email" type="text">
                                    </div>
                                    <label class="fg-label" for="customer_email">Customer Email</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-group fg-float">
                                    <div class="fg-line">
                                        <input data-bind="value: customer_mobile" class="input-sm form-control fg-input" id="id_customer_mobile" maxlength="20" name="customer_mobile" type="text">
                                    </div>
                                    <label class="fg-label" for="customer_mobile">Customer Mobile</label>
                                </div>
                            </li>
                            <li>
                                <button data-bind="click: search_policy" data-toggle="dropdown" aria-expanded="false"
                                                                             class="btn bgm-deeporange btn-sm waves-effect waves-button waves-float pull-right waves-effect waves-button waves-float waves-effect waves-button waves-float">
                                    Search
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <button class="btn btn-primary" data-bind="visible: !results_count(), click: force_create_policy">Force Create Ticket</button>
    <div class="lv-body">
        <div data-bind="foreach: policies">
            <policy-summary params="value: $data, ticket_id: $parent.ticket_id"></policy-summary>
        </div>
    </div>
</div>
