<!-- ko ifnot: ticket.hide -->
<div class="lv-item clearfix" data-bind="visible:areFiltersTrue">
    <div class="list-item">
        <h4>
            <!-- ko if: USER_ROLE == 'ADVISOR' -->
            <a class="m-t-0" href="#" data-bind="text: 'Ticket - ' + ticket.id + ' - ' + ticket.request + ' - ' + ticket.state, click: ticket.show_detail_view"></a>
            <!-- /ko -->
            <!-- ko if: USER_ROLE == 'MANAGER' -->
            <span class="m-t-0" data-bind="text: 'Ticket - ' + ticket.id + ' - ' + ticket.request + ' - ' + ticket.state"></span>
            <!-- /ko -->
        </h4>
        <div class="hide checkbox pull-left">
            <label>
                <input type="checkbox" value="">
                <i class="input-helper"></i>
            </label>
        </div>
        <div class="media-body m-r-0">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div>Ticket Info</div>
                    <ul class="v-list">
                        <li>
                            <span class="v-title">Product Type:</span>
                            <span data-bind="text: ticket.product_type"></span>
                        </li>
                        <li>
                            <span class="v-title">Priority</span>
                            <span data-bind="text: ticket.priority"></span>
                        </li>
                        <li>
                            <span class="v-title">Sub-request:</span>
                            <span data-bind="text: ticket.sub_request"></span>
                        </li>
                        <li>
                            <span class="v-title">Last updated:</span>
                            <span data-bind="text: ticket.last_modified_on"></span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div>Customer Info</div>
                    <ul class="v-list">
                        <li>
                            <span class="v-title">Name:</span>
                            <span data-bind="text: ticket.name"></span>
                        </li>
                        <li>
                            <span class="v-title">Email:</span>
                            <span data-bind="text: ticket.email"></span>
                        </li>
                        <li>
                            <span class="v-title">Policy no.:</span>
                            <!-- ko if: ticket.policy_document -->
                            <span><a target="_blank" data-bind="text: ticket.policy_no, attr: {'href': ticket.policy_document}">Unknown</a></span>
                            <!-- /ko -->
                            <!-- ko ifnot: ticket.policy_document -->
                            <span data-bind="text: ticket.policy_no"></span>
                            <!-- /ko -->
                        </li>
                        <li>
                            <span class="v-title">RM Assigned:</span>
                            <span data-bind="text: ticket.relationship_manager"></span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div>Status Info</div>
                    <ul class="v-list last">
                        <li>
                            <span class="v-title">Assigned to:</span>
                            <span data-bind="text: ticket.task_assigned_to"></span>
                        </li>
                        <li>
                            <span class="v-title">Due date ticket:</span>
                            <span data-bind="text: ticket.due_date_ticket"></span>
                        </li>
                        <li>
                            <span class="v-title">Due date task:</span>
                            <span data-bind="text: ticket.due_date_task"></span>
                        </li>
                        <li>
                            <span class="v-title">Next task:</span>
                            <span data-bind="text: ticket.next_task"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pull-right" data-bind="visible:isIncomingPopup">
            <a data-bind="click: proceedWithTicket.bind($data, ticket.id)" class="btn btn-primary">Proceed with Ticket</a>
        </div>
    </div>
</div>
<!-- /ko -->
