{% extends 'layout/base.html' %}

{% block head %}
    <title data-cms-content='meta_title'>Coverfox: Leaflet Campaign - Quote Search</title>
{% endblock head %}

{% block css %}
    <link rel='stylesheet' type='text/css' href='{{STATIC_URL}}css/leaflet-style.css'>
{% endblock css %}


{% block main %}

    <div class='login'>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <div class="content-card">
                    <div class="card-body">
                        <div class="input-text">
                            <input id="id_name" class="uppercase" name="name" type="text" required />
                            <label for="id_name">Registration Number</label>
                            <p class="error"></p>
                        </div>
                        <div class="submit-div">
                            <button  class="btn orange" type='button' id="btnSubmit">
                                <span id="btn_submit_text">Submit</span>
                                <div class="spinner hide">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modal" class="modalDialog">
        <div class="modal-body">
            <a href="#close" title="Close" class="close" onClick="hideModal()">X</a>
            <div class="body">

            </div>
        </div>
    </div>
{% endblock main %}

{% block uncompressedjs %}
    <script type="text/javascript">
        var CSRF_TOKEN = '{{ csrf_token }}';
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/motor-product/utils/commonUtilities.js"></script>
    <script src="{{STATIC_URL}}home/js/utils.js"></script>
    <script src="{{STATIC_URL}}js/leaflet-campaign/create_agent_referal.js"></script>
{% endblock uncompressedjs %}

