#view_all_tkt {
  float: right;
  margin-top: -25px;
}
.overview-link {
  display: inline-block;
  text-align: center;
  margin: 0 5px 5px 0;
  padding: 20px 10px 10px;
  text-transform: none;
  width: 180px;
  height: 130px;
  overflow: hidden;
  overflow-y: auto;
  font-size: 14px;
}
.overview-link strong {
  font-size: 18px;
  margin-right: 5px;
}
.overview-link small {
  text-decoration: underline;
  display: inline-block;
  font-size: 12px;
}
.overview-link > div {
  margin-top: 10px;
  white-space: normal;
}
.sub-nav {
  padding: 0px 23px;
}
@media screen and (max-width: 991px) {
  .sub-nav {
    padding: 0px 18px;
  }
}
.sub-search {
  position: relative;
}
.sub-search > span {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 100%;
  margin-right: 5px;
}
.sub-search + .dropdown-menu {
  padding: 30px 15px 10px;
  width: 250px;
}
.listview.lv-lg .lv-item.actions:hover {
  background-color: transparent;
}
.listview.lv-lg .lv-item.actions select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dadada;
  padding: 0px 10px;
  height: 28px;
}
.listview.lv-lg .lv-item.actions .fg-line .select:before {
  right: 10px !important;
  top: 1px !important;
  background-color: transparent;
}
.lv-bt {
  border-top: 1px solid #eaeaea;
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0;
  position: relative;
}
.lv-bt li {
  float: left;
  display: block;
  padding: 5px 10px 5px 0px;
  font-size: 14px;
  width: 18%;
  min-width: 113px;
}
.lv-bt li.indicator {
  position: absolute;
  right: 16px;
  top: 23px;
  width: 15px;
  min-width: 15px;
  height: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
span.v-title {
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 3px;
  width: 115px;
}
span.v-desc {
  margin-left: 0px;
  margin-bottom: 3px;
}
.media-body {
  margin-left: 45px;
  margin-right: 100px;
}
.media-body p {
  margin-bottom: 3px;
  padding-left: 85px;
  position: relative;
}
.media-body p .v-title {
  position: absolute;
  top: 2px;
  left: 0px;
}
.col-custom-18 {
  width: 18%;
  min-width: 113px;
  float: left;
  padding-right: 10px;
}
.col-custom-54 {
  width: 54%;
  min-width: 113px;
  float: left;
  padding-right: 10px;
}
.listview .lv-item .checkbox {
  margin-top: 10px;
}
.lv-item {
  position: relative;
}
.lv-item .clone-tkt {
  position: absolute;
  top: 20px;
  right: 20px;
}
.open-search {
  max-width: 350px;
}
.open-search .dropdown-menu {
  width: 100%;
  padding: 25px 15px 10px;
}
.open-search > a {
  display: block;
  text-align: left;
  position: relative;
}
.open-search > a .md {
  position: absolute;
  right: 12px;
  font-size: 14px;
}
.open-form {
  max-width: 490px;
}
.close-txt-panel {
  float: right;
  margin-top: -25px;
}
.tkt-form {
  padding: 26px 0px;
}
.tkt-form .form-group {
  margin-bottom: 10px;
}
.tag {
  cursor: pointer;
  display: inline-block;
  padding: 3px 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #f0f0f0;
  font-size: 12px;
  color: #363636;
}
.tag:hover {
  color: inherit;
}
.listview .lv-attrs {
  position: absolute;
  right: 8px;
  top: 0;
}
.spl-header {
  position: relative;
  padding-right: 100px !important;
  margin-bottom: 16px;
}
.spl-header .status-right {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 12px;
  color: #999;
}
.ticket-id-form {
  position: relative;
  padding: 10px 16px 20px 70px;
  margin-bottom: 0px;
  border: 1px solid #dadada;
}
.ticket-id-form img {
  width: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 20px;
}
.card .card-header .actions.editable {
  position: relative;
  right: 0px;
  top: 0px;
  margin-top: 10px;
  background-color: #f5f5f5;
  padding: 2px 10px;
}
.card .card-header .actions.editable li {
  margin-right: 5px;
}
.table-dd-form {
  width: 65px;
}
.table-dd-form .dropdown-menu {
  width: 230px;
  padding: 15px 10px;
}
.t-indicator {
  margin-top: 5px;
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.btn-float.ticket {
  width: 30px;
  height: 30px;
  position: relative;
  line-height: 22px;
  padding: 0px;
  margin-left: 5px;
  margin-right: 5px;
}
body {
  min-width: 768px;
  overflow-x: auto;
}
.history-box {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #dadada;
}
.pagination-intro {
  margin-top: 28px;
}
.pagination {
  margin-bottom: 10px;
}
.pagination .count {
  position: relative;
  top: 10px;
}
.media-body .v-list {
  list-style-type: none;
  padding: 10px 10px 0 0;
  border-right: 1px solid #eaeaea;
}
.media-body .v-list li {
  padding-left: 120px;
  position: relative;
  min-height: 18px;
}
.media-body .v-list .v-title {
  position: absolute;
  left: 0px;
  top: 0px;
}
.media-body .v-list.last {
  border-right: none;
}
.dashed-box {
  border: 1px dashed #dadada;
}
.ameyo-iframe {
  border: none;
  width: 100%;
  height: 75px;
}
.bootstrap-select {
  width: 100% !important;
}
.bgm-transparent {
  background-color: transparent !important;
}
