<script type="text/html" id="stage_4">
    <div id="slate_4" class="querry-process" data-bind="visible: $root.active_stage() == 4">
        <div data-bind="if: $root.transaction_model().current_stage().description()">
            <div class="define">
                <img src="/static/health_product/img/new_buy/info.png"/>
                &nbsp;&nbsp;<span data-bind="text: $root.transaction_model().current_stage().description()"></span>
            </div>
        </div>
        <div data-bind="foreach: segments" style="margin-top: 40px;">
            <div data-bind="if: segment() == 'medical_question_social_status' ">
                <div data-bind="foreach: rows">
                    <div class="conditional-question">
                        <div data-bind="foreach: elements" class="">
                            <div data-bind="if : field_type() == 'CharField' || field_type() == 'StrictCharField' || field_type() == 'IntegerField'">
                                <div data-bind="FreeField: $data"></div>
                            </div>
                            <div data-bind="if: field_type() == 'DateField' ">
                                <div data-bind="DateField: $data"></div>
                            </div>
                            <div data-bind="if : field_type() == 'DropDownField'">
                                <div data-bind="DropDownField: $data"></div>
                            </div>
                            <div data-bind="if : field_type() == 'TextField'">
                                <div data-bind="TextField: $data"></div>
                            </div>
                            <div data-bind="if : field_type() == 'TwoDropDownField'">
                                <div data-bind="TwoDropDownField: $data"></div>
                            </div>
                            <div data-bind="if : field_type() == 'MultipleChoiceField'">
                                <div data-bind="MultipleChoiceField: $data"></div>
                            </div>
                            <div data-bind="if : field_type() == 'MultipleAnswerField'">
                                <div data-bind="MultipleAnswerField: $data"></div>
                            </div>
                        </div> <!-- elements -->
                    </div><!--question row -->
                </div><!--rows -->
            </div>
            <div data-bind="ifnot: segment() == 'medical_question_social_status' ">
                <div data-bind="if: details().conditional == 'NO'">
                    <div class="row conditional-question">
                        <div class="col-md-4 pnone">
                            <div class="quest-pad">
                                <span class="q-point">Q</span>
                                <span data-bind="text: details().question_text"></span>
                                <div data-bind="if: details().help_text">
                                    <span class="text-muted" style="font-size: 12px;" data-bind="text: details().help_text"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 pnone" data-bind="foreach: rows">
                            <div data-bind="foreach: elements">
                                <div class="col-sm-4 mem-box">
                                    <div data-bind="if: $parents[1].details().show_header">
                                        <strong class="member" data-bind="text: $root.insured_members.items()[$index()].value"></strong>
                                    </div>
                                    <div data-bind="if : field_type() == 'DropDownField'">
                                        <div data-bind="MiniDropDownField: $data"></div>
                                    </div>
                                    <div data-bind="if : field_type() == 'TextField'">
                                        <div data-bind="MiniTextField: $data"></div>
                                    </div>
                                    <div data-bind="if : field_type() == 'MultipleChoiceField'">
                                        <div data-bind="if : code() == 'social_status' ">
                                            <div data-bind="MultipleChoiceField: $data"></div>
                                        </div>
                                        <div data-bind="ifnot : code() == 'social_status' ">
                                            <div data-bind="MiniMultipleChoiceField: $data"></div>
                                        </div>
                                    </div>
                                </div><!--/.col-sm-4-->
                            </div> <!-- elements -->
                        </div><!--rows -->
                    </div>
                </div>
                <div data-bind="if: details().conditional == 'YES'">
                    <div data-bind="if: show_header()" style="color: #1864ab;">
                        <div class="row conditional-question">
                            <div class="col-md-4">
                                <span data-bind="text: details().question_text"></span>
                                <div data-bind="if: details().help_text">
                                    <span class="text-muted" style="font-size: 12px;" data-bind="text: details().help_text"></span>
                                </div>
                            </div>
                            <div class="col-md-8" data-bind="foreach: rows">
                                <div data-bind="foreach: elements">
                                    <div class="col-sm-4 mem-box">
                                        <div data-bind="if: $parents[1].details().show_header">
                                            <strong data-bind="text: $root.insured_members.items()[$index()].value"></strong>
                                        </div>
                                        <div data-bind="if : field_type() == 'MultipleChoiceField'">
                                            <div data-bind="MiniMultipleChoiceField: $data"></div>
                                        </div>
                                        <div data-bind="if : field_type() == 'DropDownField'">
                                            <div data-bind="MiniDropDownField: $data"></div>
                                        </div>
                                        <div data-bind="if : field_type() == 'TextField'">
                                            <div data-bind="MiniTextField: $data"></div>
                                        </div>
                                    </div><!--/.col-sm-4-->
                                </div> <!-- elements -->
                            </div><!--rows -->
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- segments -->
    </div><!--/.query-process-->
</script>
