<div class="app-sidebar-wrapper md-screen">
    <div class="app-sidebar-header">
        <a class="back-to-results" style="cursor: pointer;" data-bind="attr: { href: window.RESULT_PAGE_URL }">&larr; Back to results</a>
        <h3 data-bind="text: plan_name"></h3>
    </div>

    <div class="app-sidebar-details">
        <div class="app-sidebar-section summary-card reveal" >
            <img class="insurer img-responsive" data-bind="attr: {src: '/static/travel_product/v1/src/img/insurers/'+insurer_slug+'.png'}" alt="" >
            <h3> Rs. <span data-bind="inr_currency: plan_details.premium"></span></h3>
            <p>Sum Assured: </span><span data-bind="text: plan_currency"></span> <span data-bind="text: plan_sum_assured"></p>
        </div>
    </div>
</div>




<div class="centered-content-wrapper md-screen">
    <div class="container-fluid">
        <div class="row mnone">
            <div class="centered-content__form">
                <div class="form-header-mobile md-screen">
                    <div class="summary-card">
                        <div style="height: 38px;">
                            <img  data-bind="attr: {src: '/static/travel_product/v1/src/img/insurers/'+insurer_slug+'.png'}" alt="" style="max-width:90px; max-height:42px;">
                            <span class="price-quote"><h3>Rs. <span data-bind="inr_currency: plan_details.premium"></span> </h3></span>
                        </div>
                        <h3 style="margin-top: 12px;font-weight: normal;display:block;">
                            <span data-bind="text: plan_name"></span>
                            <p style="float:right;font-size:12px;margin:0;">Sum Assured: </span><span data-bind="text: plan_currency"></span> <span data-bind="text: plan_sum_assured"></p>
                        </h3>
                    </div>
                </div>
                <div class="form-header">
                    <h2>Checkout</h2>
                    <p>Fill the form below &rarr; Review and make payment &rarr; Get policy in your inbox</p>
                </div>
               <!-- template for tabular members info block starts -->
                <div class="stage-header card stage-header--tabular" style="display:None;">
                    <div class="container-title">
                        <div class="container-state">2</div>
                        <div class="container-edit">Edit</div>
                        <span class="container-name">Traveller Information</span>
                        <div class="container-summary"><ul class="summary-items"></ul></div>
                    </div>
                    <div class="container-children">
                        <div class="stage-molecule--tabular clearfix hidden-xs header">
                            <div class="label--tabular w-105">First name</div>
                            <div class="label--tabular w-105">Last name</div>
                            <div class="label--tabular w-60">Gender</div>
                            <div class="label--tabular w-105">Date of Birth</div>
                            <div class="label--tabular w-105">Passport no.</div>
                            <div class="label--tabular w-150">Relation with traveller 1</div>
                            <div class="label--tabular w-60">Married?</div>
                        </div>
                        <div class="stage-molecule stage-molecule--tabular collapsed">
                            <div class="container-title">
                                <div class="container-state"></div>
                                <div class="container-edit">Edit</div>
                                <span class="container-name">1</span>
                                <div class="container-summary"><ul class="summary-items"></ul></div>
                            </div>

                            <div class="container-children">

                                <div>
                                    <div class="input-element">
                                        <input class="uppercase inline-label element--tabular w-105">
                                        <label>First Name</label>
                                        <div class="error">Error in field.</div>
                                        <div class="verified-tick"></div>
                                    </div>
                                </div>

                                <div>
                                    <div class="input-element">
                                        <input type="text" maxlength="50" class="uppercase inline-label element--tabular w-105">
                                        <label>Last Name</label>
                                        <div class="error">Error in field.</div>
                                        <div class="verified-tick"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="input-element">
                                        <select type="select" class="custom-select has-value element--tabular w-60"><option value="male">M</option><option value="female">F</option></select>
                                        <div class="error">Required.</div>
                                    </div>
                                </div>
                                <div>
                                    <div class="input-element">
                                        <input type="text" class="uppercase inline-label element--tabular w-105">
                                        <label>Date of birth</label>
                                        <div class="error">Error in field.</div>
                                        <div class="verified-tick"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="input-element">
                                        <input type="text" class="uppercase inline-label element--tabular w-105">
                                        <label>Passport no.</label>
                                        <div class="error">Error in field.</div>
                                        <div class="verified-tick"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="input-element">
                                        <select type="select" class="custom-select has-value element--tabular w-150"><option value="">Select relation</option><option value="">Select relation 1</option><option value="">Select relation 2</option></select>
                                        <div class="error">Error in field.</div>
                                    </div>
                                </div>
                                <div>
                                    <div class="input-element">
                                        <select type="select" class="custom-select has-value element--tabular w-60"><option value="">Yes</option><option value="">No</option></select>
                                        <div class="error">Required.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- template for tabular members info block ends -->

                <!-- template for multiple member medical info block starts -->
                <div class="stage-header card" style="display:None;">
                    <div class="container-title">
                        <div class="container-state">3</div>
                        <div class="container-edit">Edit</div>
                        <span class="container-name">Medical Information</span>
                        <div class="container-summary"><ul class="summary-items"></ul></div>
                    </div>
                    <div class="container-children">
                        <div class="molecule-medical molecule-medical--dark">
                            <div class="molecule-medical__q">
                                Does any of the traveller suffer from any disease?
                            </div>
                            <div class="molecule-medical__a">
                                <div>
                                    <label class="lab" for="1a"><input name="q1" id="1a" type="radio"> Yes</label>
                                    <label class="lab" for="1b"><input name="q1" id="1b" type="radio" checked> No</label>
                                </div>
                                <div class="molecule-medical__members">
                                    <span>Travller#1name, Traveller#2name</span><button class="btn-mix">Change</button>
                                </div>
                            </div>
                            <div class="molecule-medical__sublist">
                                <div class="molecule-medical__sublist__item">
                                    <div class="molecule-medical__q">
                                        Kidney disease?
                                    </div>
                                    <div class="molecule-medical__a">
                                        <div>
                                            <label class="lab" for="a"><input name="q" id="a" type="radio"> Yes</label>
                                            <label class="lab" for="b"><input name="q" id="b" type="radio" checked> No</label>
                                        </div>
                                        <div class="molecule-medical__members">
                                            <span>Travller#1name, Traveller#2name</span><button class="btn-mix">Change</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="molecule-medical">
                            <div class="molecule-medical__q">
                                Travellers who ever claimed under any travel policy?
                            </div>
                            <div class="molecule-medical__a"></div>
                        </div>
                        <div class="molecule-medical molecule-medical--dark">
                            <div class="molecule-medical__q">
                                Tavellers who ever been dianosed/hospitalized during the last 48 months
                            </div>
                            <div class="molecule-medical__a"></div>
                        </div>
                    </div>
                </div>
                <!-- template for  multiple member medical info block ends -->
                <!-- template for multiple members medical info gather starts -->
                <!-- template for multiple members medical info gather starts -->

                <form id='form' method="POST" data-bind="submit: submitForm">
                    <div data-bind="html: management_form"></div>
                    <input type="hidden" name="csrfmiddlewaretoken" data-bind="value: CSRF_TOKEN"/>
                    <section data-bind="foreach: form.children">
                        <div data-bind="template: {name: $data.Template}"></div>
                    </section>
                    <div class="container-error alt" data-bind="visible: formError() && formError() != '', text: 'Error: ' + formError()">
                    </div>
                    <div class="form-footer" data-bind="css:{reveal: showFooter}, if: showFooter">
                        <input type="submit" class="btn orange large" value="Make Payment"/>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div data-bind="if: form.showMPopup">
<div data-bind="with: form.medicalPopupModel()">
    <div data-bind="template: {'name': popupTemplate}"></div>
</div>
</div>


<script id="cardElement" type="text/html">
<div data-bind="attr: { id: 'card-' + Id}, visible: visible, css: cssclass+' '+(collapse()?'collapsed':'')+' '+(done()?'done':'')">
    <div class="container-title">
        <div class="container-state" data-bind="text: $index()+1"></div>
        <div class="container-edit" data-bind="click: showCard">Edit</div>
        <span class="container-name" data-bind="text: Name"></span>
        <div class="container-summary" data-bind="html: getSummaryHtml()"></div>
    </div>

    <div data-bind="foreach: children" class="container-children" >
        <div data-bind="template: {name: $data.Template}"></div>
    </div>
</div>
</script>

<script id="errorElement" type="text/html">
<div class="container-error alt" data-bind="attr: {id: 'error-'+ Id}, visible: visible, text: message">Please look for above errors</div>
</script>

<script id="groupElement" type="text/html">
    <div data-bind="foreach:children" data-bind="css: cssclass">
        <div data-bind="template: {name: $data.Template}"></div>
    </div>
</script>

<script id="containerElement" type="text/html">
<div data-bind="attr: { id: 'container-' + Id}, visible: visible, css: cssclass">
    <div class="container-title">
        <span class="container-name" data-bind="html: Name"></span>
    </div>

    <div data-bind="foreach: children" class="container-children" >
        <div data-bind="template: {name: $data.Template}"></div>
    </div>
</div>
<div class="container-error" data-bind="attr: { id: 'error-' + Id }, visible: error, text: errorMessage"></div>
<div class="clearfix"></div>
</script>

<script id="buttonElement" type="text/html">
    <div data-bind="attr: { id: 'container-' + Id }, visible: visible" class="input-btn">
        <button data-bind="attr: { id: Id, type: Type, class: cssclass }, text: title, click: onClick" />
    </div>
</script>


<script id="staticElement" type="text/html">
<div data-bind="attr: {id: Id }, css: cssclass(), text: Name"></div>
</script>



<script id="nonCheckElement" type="text/html">
<div data-bind="attr: { id: 'container-' + Id }, visible: visible, css: (!error() && Value())? ' is-verified':'' " class="input-element">
    <input data-bind="attr: { id: Id, name: Id, type: Type, maxlength: max_length, disabled: disabled(), hidden: hidden()}, value: Value, css: cssclass() + (error()? ' has-error':'') + (Value()? ' has-value':''), event:{keydown:$data.keyDown},valueUpdate : (doInstantUpdate() == true)? 'afterkeydown': null, hasFocus: hasFocus" />
    <label data-bind="text: (title())? title() : '' "></label>
    <div class="error"  data-bind="attr: { id: 'error-' + Id }, visible: error, text: errorMessage"></div>
    <div class="extra-info" data-bind="attr: {id: 'extra-' + Id }, visible: showExtraInfo, text: extraInfo"></div>
    <div class="verified-tick"></div>
</div>
</script>

<script id="numberElement" type="text/html">
<div data-bind="attr: { id: 'container-' + Id }, visible: visible, css: (!error() && Value())? ' is-verified':'' " class="input-element">
    <input data-bind="attr: { id: Id, name: Id, type: Type, min: min_value, max: max_value, disabled: disabled()}, value: Value, css: cssclass() + (error()? ' has-error':'') + (Value()? ' has-value':''), event:{keydown:$data.keyDown}" />
    <label data-bind="text: (title())? title() : '' "></label>
    <div class="error"  data-bind="attr: { id: 'error-' + Id }, visible: error, text: errorMessage"></div>
    <div class="verified-tick"></div>
</div>
</script>

<script id="checkElement" type="text/html">
<div data-bind="attr: { id: 'container-' + Id }, visible: visible" class="checkbox-element">
    <input data-bind="attr: {id: Id, type: Type, name:Id}, checked: Value, value: Value" />
    <label data-bind="text: (title())? title() : '' "></label>
    <div class="error" style="max-width:none;" data-bind="attr: { id: 'error-' + Id }, visible: error, text: errorMessage"></div>
</div>
</script>

<script id="selectElement" type="text/html">
<div data-bind="attr: { id: 'container-' + Id }, visible: visible() && !hidden()" class="input-element">
<select data-bind="attr: { id: Id, name: Id, type: Type, disabled: disabled()}, value: Value, options: OptionsList, optionsText: (extra.optionsText)? extra.optionsText: null, optionsValue: (extra.optionsValue)? extra.optionsValue: null,optionsCaption: caption, css: cssclass() + (error()? ' has-error':'') + (Value()? ' has-value':''), event:{keydown:$data.keyDown}"></select>
<input data-bind="attr:{name: Id}, value: Value" type="hidden"/>
<label data-bind="text: (title())? title() : '' "></label>
<div class="error" data-bind="attr: { id: 'error-' + Id }, visible: error, text: errorMessage"></div>
</div>
</script>

<script id="searchSelectElement" type="text/html">
<div data-bind="attr: { id: 'container-' + Id }, visible: visible" class="input-element">
<input type="hidden" data-bind="attr: { name: Name, value: Value() }"/>
<multiselect-widget params="{items:[{selectedValue: selectedOption, data: OptionsList, defaultText: '', optionText: (extra.optionsText)? extra.optionsText: null },]}"></multiselect-widget>
<div data-bind="attr: { id: 'error-' + Id }, visible: error, text: errorMessage"></div>
</div>
</script>

<script id="dateElement" type="text/html">
<div data-bind="attr: { id: 'container-' + Id }, visible: visible, css: (!error() && Value())? ' is-verified':'' " class="input-element">
<input type="text" data-bind="attr:{id: date_id, value:Value(), name: Id, disabled: disabled()},  css: cssclass() + (error()? ' has-error':'') + (Value()? ' has-value':''), event:{keydown:$data.keyDown}, template:{afterRender:renderComplete}" />
<label data-bind="text: (title())? title() : '' "></label>
<div class="error" data-bind="attr: { id: 'error-' + Id }, visible: error, text: errorMessage"></div>
<div class="verified-tick"></div>
</div>
</script>

<script id="medicalDeclinedPopup" type="text/html">
<div data-bind="css:{show: showPopup()}" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Policy cannot be issued</h4>
            </div>
            <div class="modal-body" style="padding: 30px;">
                <p>You cannot proceed with the payment as the insurer you selected does not issue policies where</p>
                <ul data-bind="foreach: error_messages"><li data-bind="text: $data"></li></ul>
                <p>However, you can go back to select and buy a policy from another insurer</p>
            </div>
            <div class="modal-footer">
                <button class="btn grey" data-bind="click:close">Close</button>
                <button class="btn orange" data-bind="click:back">Back To Results</button>
            </div>
        </div>
    </div>
</div>
</script>

<script id="medicalFamilyPopup" type="text/html">
<div class="modal list-modal" data-bind="css: { 'show': showPopup()}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" data-bind="text: parent.Name()"></h4>
            </div>
            <div class="modal-body">
                <ul class="add-mem-list" data-bind="foreach: member_fields">
                    <li>
                        <span class="add-mem-list__label" data-bind="text:$parent.all_member_names['form-'+$index()]['full_name']"></span>
                        <div class="add-mem-list__value" data-bind="foreach: $data">
                            <div data-bind="if: Type == 'select'">
                            </div>
                            <div data-bind="if: Type == 'radio'">
                                <label><input data-bind="checked: Value, visible:visible" type="radio" value="yes"/>Yes</label>
                                <label><input data-bind="checked: Value, visible:visible" type="radio" value="no"/>No</label>
                            </div>
                            <div data-bind="if: Type == 'text'">
                                <div class="input-element" style="margin-top:10px;">
                                    <input data-bind="value:Value, visible: visible, attr:{placeholder:title()}" type="text" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn orange" data-bind="click: closePopup">Continue</button>
            </div>
        </div>
    </div>
</div>
</script>

<script id="memberListElement" type="text/html">
<div data-bind="css: cssclass">
    <div data-bind="if: selected_member_names() == undefined || selected_member_names() ==''">
        <label class="lab">
            <input data-bind="checked: Value" value="yes" type="radio"/>
            <span>Yes</span>
        </label>
        <label class="lab">
            <input data-bind="checked: Value" value="no" type="radio"/>
            <span>No</span>
        </label>
    </div>
    <div data-bind="if: selected_member_names()">
        <span data-bind="foreach: selected_member_array">
            <span class="list" data-bind="text: $data"></span>
        </span>
        <button type="button" class="btn-mix" data-bind="click: button_click">Change</button>
    </div>
    <div data-bind="foreach: member_fields">
        <div data-bind="foreach: $data">
            <input data-bind="attr:{id: $data.Id, name: $data.Id, value: $data.Value}" type="hidden">
        </div>
    </div>
</div>
</script>

<script id="radioWidgetElement" type="text/html">
<div>
    <ul class="radio small" data-bind="foreach:options">
        <li data-bind="text:$data.key, click:$parent.updateValue, css:{active:$data.value == $parent.Value()}">
            <span data-bind="text:$data.value"></span>
        </li>
    </ul>
    <input type="hidden" data-bind="attr:{name: Id, id: Id, value:Value}">
</div>
</script>

<script id="radioElement" type="text/html">
<div data-bind="css: cssclass" class="member-list">
    <label class="lab">
        <input data-bind="attr: {name: Id}, checked: Value" value="yes" type="radio"/>
        <span>Yes</span>
    </label>
    <label class="lab">
        <input data-bind="attr: {name: Id}, checked: Value" value="no" type="radio"/>
        <span>No</span>
    </label>
</div>
</script>

<script id="questionContainerElement" type="text/html">
<div data-bind="css: cssclass, visible: visible">
    <div data-bind="template: {name: main_question.Template, data: main_question}"></div>
    <div data-bind="if: showChildren">
        <div data-bind="foreach: children">
            <div data-bind="template: {name: $data.Template}"></div>
        </div>
    </div>
    <div class="error" data-bind="attr: { id: 'error-' + Id }, visible: error, text: errorMessage"></div>
</div>
</script>
