@import "../_settings.css";
@import "../_mixins.css";

.btn{
	font-size: 16px;
	padding:10px 15px;
	@mixin roundedCorners;
	@mixin transition;
	display: inline-block;
	&:empty{
		display:none;
	}
}

.btn--orange{
	background: $orange;
	color:#fff;
	border: 1px solid color($orange shade(5%));
	&:hover, &:active{
		background:color($orange shade(5%));
		text-decoration: none;
		color:#fff;
	}

}

.btn--empty{
	background: transparent;
	border: 1px solid $baseDark;
	color: $baseDark;
	&:hover, &:active{
		background:$grey-2;
		color: $baseDark;
		text-decoration: none;
	}
	&.btn--orange{
		color:$orange;
		border: 1px solid color($orange shade(5%));
		&:hover, &:active{
			color: #fff;
		}
	}
}

.btn--extrasmall{

}

.btn--small{

}

.btn--medium{

}

.btn--large{
    font-size: 18px;
    padding: 15px;
}
.btn--block {
	display: block;
	width: 100%;
}




.w--button{
	font-size: 13px;
	padding:10px 15px;
	@mixin roundedCorners;
	@mixin transition;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	&:empty{
		display:none;
	}
}

.w--button--orange{
	background: $orange;
	color:#fff;
	border: 1px solid color($orange shade(5%));
	:not(.loading)&:hover, :not(.loading)&:active{
		background:color($orange shade(5%));
		text-decoration: none;
		color:#fff;
	}
	.w--spinner > div{
		background: #fff;
	}
	&.loading, &.loading:hover{
		border:none;
		background: linear-gradient(270deg, #ff594f, #ff7344, #ff704c);
		background-size: 200% 200%;

		-webkit-animation: orangeGradientAnim 1.4s ease infinite;
		-moz-animation: orangeGradientAnim 1.4s ease infinite;
		animation: orangeGradientAnim 1.4s ease infinite;

	}
}

.w--button--large{
	height:48px;
	width:140px;
}

.w--button--link{
	background-color: transparent;
	border:none;
	text-transform: none;
	letter-spacing: 0px;
	color:$light-blue;
	&:hover{
		color:$baseDark;
	}
}

.w--button--empty{
	background: transparent;
	border: 1px solid $baseDark;
	color: $baseDark;
	&:hover, &:active{
		background:$grey-2;
		color: $baseDark;
		text-decoration: none;
	}
	&.w--button--orange{
		color:$orange;
		border: 1px solid color($orange shade(5%));
		&:hover, &:active{
		}
	}
}

.w--button--thin{
	padding:5px 10px;
}
.w--button:disabled {
    opacity: .6;
}
.w--button.not-allowed {
	cursor: not-allowed;
}
.w--spinner {
  width: 70px;
  text-align: center;
  margin: 0 auto;
}

.w--spinner.narrow{
  width:48px;
}

.w--spinner > div {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  background-color: $baseDark;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.w--spinner.white > div{
  background: #fff;
}

.w--spinner.orange > div{
  background: $orange;
}

.w--spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.w--spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@-webkit-keyframes orangeGradientAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes orangeGradientAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes orangeGradientAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

