@import "../_settings.css";
@import "../_mixins.css";

.w_list_item{
	.w_list_item--lrcontainer{
		position: relative;
	}
	.w_list_item--left{

	}
	.w_list_item--right{
		position: absolute;
		left:15px;
		top:50%;
		transform: translateY(-50%);
	}
	.w_list_item--top{
		
	}
	.w_list_item--bottom{
		
	}
}