@import "../_settings.css";
@import "../_mixins.css";

.w--multi_select{
	position: relative;
	cursor: pointer;
	display: inline-block;
	margin-right:15px;
	&:focus{
		outline: none;
	}
	.label_show{
		position: absolute;
		font-size: 10px;
		text-transform: uppercase;
		opacity: 0.7;
		top:10px;
		left:12px;
		letter-spacing: 1px;
	}
	.label_hide{
		display: none;
	}
	.w--multi_select_handle{
	    position: relative;
	    @mixin roundedCorners 3px;
	    border: 1px solid rgba(49,68,81,.4);
	    padding: 23px 40px 6px 12px;
	    @mixin transition;
		&:hover{
			background: rgba(0,0,0,0.03);
		}
	    .dd_placeholder{
	    	position: absolute;
	    	top:50%;
	    	transform:translate3D(0,-50%,0);
	    }
	    &:focus{
	    	outline: none;
	    }

	}

	.w--multi_select_dd{
		position: absolute;
		width: 100%;
		background: #fff;
		border-radius:3px;
		padding:0px;
		@mixin cardHeavyShadow;
		z-index:300;
		@mixin transition;
		transform: scaleY(0);
		opacity:0;
		transform-origin: 1% 1%;
		top:0;
		.w--multi_select_dd_element{
			display: block;
			padding: 5px 23px;
			font-size: 12px;
			&:hover{
				background:$grey-2;
			}
			&.selected{
				background:$grey-2;
			}
		}
		input{
			padding:8px 9px 8px 34px;
			background:url('/static/img/icons/icon-search.png') no-repeat 9px 7px #fff;
			height:32px;
			@mixin roundedCorners;
			border:1px solid $light-blue;
			width: 100%;
    		min-width: 100%;
			&:focus{
				outline:none;
			}
		}
		&.reveal{
			transform: scaleY(1);
			opacity:1;
			z-index: 1;
		}
	}
	.w--multi_select_options{
		width:100%;
		max-height: 300px;
		overflow:hidden;
		overflow: auto;
		.w--multi_select_header{
			padding:16px 23px 6px;
		    text-transform: uppercase;
		    font-size: 10px;
		    letter-spacing: 1px;
		}
		.w--multi_select_footer{
			    font-size: 12px;
			    padding: 15px;
			    opacity: 0.6;
			    border-top: 1px solid rgba(0,0,0,0.1);
			    background: rgba(231, 234, 238, 0.43);
			    margin-top:15px;
		}
	}
	.w--multi_select_arrow{
		/*border-color: rgba(49,68,81,0.4) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	    border-style: solid;
	    border-width: 9px 7px 0;
	    width:0;
	    height:0;*/
	    width:16px;
	    height:9px;
	    background:url('/static/img/icons/icon-dd.png') no-repeat center center transparent;
	    content: " ";
	    display: block;
	    position: absolute;
	    right: 10px;
	    top: 43%;
	}
	.w--error{
		position: absolute;
		padding-left:0;
	}
	&.single_row_dd{
		.w--multi_select_handle{
			float: left;
    		padding:8px;
    		padding-left:15px;
    		padding-right:40px;
    		.dd_placeholder{
    			position: relative;
			    top: 0;
			    transform: translate3D(0,0,0);
    		}

		}
		.label_show{
			position: relative;
    		float: left;
    		top:0;
    		left:0;
    		text-transform: none;
    		letter-spacing: 0;
    		font-size:14px;
    		opacity: 1;
		}
		.selected_items{
			opacity: 0.7;
			float: left;
			margin-left: 6px;
		}
	}
	.w--multi_group_header {
		color: #999;
    	padding:17px 23px 8px;
    	text-transform: uppercase;
    	font-size: 10px;
    	letter-spacing: 1px;
    	text-align:left;
    	position:relative;
    	& .hb {
    		background-color:#fff;
    		padding:0 5px;
    		position:relative;
    		left:-5px;
    		z-index:1;
    	}
    	&:before {
    		content:'';
    		display:block;
    		background-color:$grey-2;
    		height:1px;
    		width:100%;
    		position:absolute;
    		top:24px;
    		left:0;
    		z-index:0;
    	}
	}
	.w--multi_select_keyword {
		margin:6px 14px 0;
		&.no_icon {
			input {background-image:none;padding-left:9px;}
		}
	}
}
