@import "_settings.css";
@import "_mixins.css";

.w--radio{
	margin-bottom: 10px;
	.w--radio__label{
		width: 60%;
		display: inline-block;
		color: rgba(49,68,81,0.7);
	}
	.w--radio__options{
		width: 40%;
		display: inline-block;
	}
	.w--radio__option{
		display: inline-block;
		margin-right: 30px;
		position: relative;
		cursor: pointer;
		min-width: 35px;
		&:last-child{
			margin-right: 0px;
		}

		&.radio_selected{
			&:before{
				background-color: $baseDark;
			}
			&:after{
				transform:translateY(-50%)scale(1);
				opacity: 1;
			}
		}
		&:after{
				position: absolute;
				content: '';
				width:6px;
				left:-18px;
				top:50%;
				transform:translateY(-50%)scale(2);
				opacity: 0;
				height:6px;
				background-color:#fff;
				border-radius:10px;
				@mixin transition all 0.4s;
			}
		&:before{
			position: absolute;
			content: '';
			width:14px;
			left:-22px;
			top:50%;
			transform:translateY(-50%);
			height:14px;
			border:1px solid $baseDark;
			border-radius:20px;
		}
	}
	.error-label{
		font-size: 12px;
		color: red;
	}
}

