@import '_settings.css';
@import '_mixins.css';

.w--tabs{
	margin-bottom: 15px;
	.w--tabs__tab{
		display: inline-block;
		opacity: 0.4;
		position: relative;
		margin-right: 10px;
		cursor: pointer;
		font-size: 12px;
		
		&.active{
			opacity: 1;
			&:after{
				content:'';
				height:2px;
				border-radius: 3px;
				background: $baseDark;
				position: absolute;
    			left: 0;
    			right: 0;
    			bottom: -2px;
			}
		}
	}
}