@import "../_settings.css";
@import "../_mixins.css";
/* tool tip component */
.w--tooltip{
	.w--tooltip_handle{
		color:$orange;
		border:1px solid $orange;
		padding: 5px 10px;
    	line-height: 100%;
    	border-radius: 50%;
	}
	.w--tooltip_popup{
		position: absolute;
		width: 220px;
		background: $baseDark;
		color:#fff;
		bottom:100%;
		left:50%;
		transform: translate3d(-50%, 10%, 0);
		opacity: 0;
		visibility: hidden;
		@mixin transition;
		padding:12px;
		border-radius: 3px;
		font-size: 12px;
		z-index: 20;

	}
	&:hover{
		.w--tooltip_popup{
			transform: translate3d(-50%, -8%, 0);
			opacity: 1;
			visibility: visible;
		}
	}
}



/* error widget component */
.w--error{
	color: rgb(255, 0, 0);
    padding: 10px;
    margin: 0;
    font-weight: normal;
}
/* label widget component */
.w--label{
	margin-top: 24px;
    margin-bottom: 11px;
    display: block;
    opacity: 0.7;
    display: inline-block;
    &.flg{
    	font-size: 18px;
    }
    
}
/* radio widget component */
.w--radio_input{
	display: inline-block;
	input[type="radio"] {
	    display:none;
	}
	input[type="radio"] + label {
	    font-size:14px;
	    cursor: pointer;
	    &:hover{
	    	color:$orange;
	    }
	}
	input[type="radio"] + label span.radio_handle {
	    display:inline-block;
	    width:20px;
	    height:20px;
	    margin:-1px 4px 0 0;
	    vertical-align:middle;
	    cursor:pointer;
	    -moz-border-radius:  50%;
	    border-radius:  50%;
	}

	input[type="radio"] + label span.radio_handle {
	     border:1px solid $baseDark;
	     &:hover{
	    	border-color:$orange;
	     }
	}

	input[type="radio"]:checked + label span.radio_handle{
		position: relative;
		 &:before{
		 	position: absolute;
		 	content:'';
		 	width:14px;
		 	height:14px;
		 	border-radius:50%;
		 	background-color:$orange;	
		 	top:2px;
		 	left:2px;
		 }
	     
	}

	input[type="radio"] + label span.radio_handle,
	input[type="radio"]:checked + label span.radio_handle {
	}

	.w--radio_input_item{
		display: inline-block;
    	margin-left: 10px;
	}
	.w--radio_error{
		position: absolute;
	    background: rgb(255, 0, 0);
	    color: rgb(255, 255, 255);
	    font-size: 12px;
	    padding: 0px 9px;
	    border-radius: 3px;
	}
}
/* button widget component */
.w--button{
	font-size: 14px;
	padding:10px 15px;
	@mixin roundedCorners;
	@mixin transition;
	display: inline-block;
	&:empty{
		display:none;
	}
}

.w--button--orange{
	background: $orange;
	color:#fff;
	border: 1px solid color($orange shade(5%));
	&:hover, &:active{
		background:color($orange shade(5%));
		text-decoration: none;
		color:#fff;
	}
}

.w--button--empty{
	background: transparent;
	border: 1px solid $baseDark;
	color: $baseDark;
	&:hover, &:active{
		background:$grey-2;
		color: $baseDark;
		text-decoration: none;
	}
	&.w--button--orange{
		color:$orange;
		border: 1px solid color($orange shade(5%));
		&:hover, &:active{
		}
	}
}

.w--button--thin{
	padding:5px 10px;
}
/* spinner widget component */
.w--spinner {
  width: 70px;
  text-align: center;
}

.w--spinner.narrow{
  width:48px;
}

.w--spinner > div {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  background-color: $baseDark;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.w--spinner.white > div{
  background: #fff;
}

.w--spinner.orange > div{
  background: $orange;
}

.w--spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.w--spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.control-inner-row {
    margin-bottom: 15px
}
.controlgroup.radio.horizontal .radio-control {
    float: left;
    position: relative;
    padding-left: 32px;
    cursor: pointer
}
.controlgroup.radio.horizontal .radio-control .desc {
    display: block;
    font-size: 12px;
    opacity: .7
}
.controlgroup.radio.horizontal .radio-control:before {
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    border: 1px solid rgba(49, 68, 81, .85);
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}
.controlgroup.radio.horizontal .radio-control.selected:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    left: 6px;
    background: #ff6127;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}
.controlgroup.radio.small .radio-control {
    margin-right: 20px
}
.controlgroup.radio.small .radio-control:before {
    width: 20px;
    height: 20px
}
.controlgroup.radio.small .radio-control.selected:after {
    width: 12px;
    height: 12px;
    left: 4px
}
.controlgroup.radio.boxed .radio-control {
    width: 200px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    background: #fff;
    padding-left: 60px;
    margin-right: 15px;
    -moz-transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    -webkit-transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    -o-transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    transition: all .5s cubic-bezier(0.25, .8, .25, 1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}
.controlgroup.radio.boxed .radio-control:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}
.controlgroup.radio.boxed .radio-control:before {
    left: 15px;
    top: 9px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}
.controlgroup.radio.boxed .radio-control.selected:after {
    left: 21px;
    top: 15px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}

/* common classes */

.m-b-15 {
	margin-bottom: 15px;
}

 .mobile_no_container{
   	position: relative;
  }
  
 .mobile_no_container > span{
	position: absolute;
    bottom: 11px;
    left:10px;
    top: auto;
  }
  
 .mobile_no_container input{
    padding-left: 40px;
  }
  
  .w--textarea textarea {
    @mixin roundedCorners 3px;
    width: 100%;
    padding: 10px;
    resize: none;
    margin: 0;
    height: 120px;
    vertical-align: top;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
