/* Color scheme definitions */
@bannerBackgroundColor : #f9f7f6;
@boxLightBackground : #ffffff;
@boxDarkBackground : #f9f9f9;
@textColor : #363636;
@lightTextColor : #888888;
@baseThemeColor : #ff6127;
@baseButtonBg : #ff6127;
@buttonHoverBg : rgba(249, 98, 6, 0.99);
@baseButtonBorder : #ff512b;
@bannerbg : #24afff;
@baseFontSize : 14px;
/* Color scheme definitions end */
.roundedCorners(@value) {
  -webkit-border-radius: @value;
  -moz-border-radius: @value;
  border-radius: @value;
}
.CFBoxShadow(@level: 1){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
}
.cubic-trans {
  -moz-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -webkit-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -o-transition: all .3s cubic-bezier(0.4,0,.2,1);
  transition: all .3s cubic-bezier(0.4,0,.2,1);
}
.bnone {
  border:none !important;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
body {
  font-size:@baseFontSize;
}
.mnone {
  margin:0px;
}
.pnone {
  padding:0px;
}
.prnone {
  padding-right:0px;
}

/* button styling css */
.btn-cfox {
  font-size: 18px;
  font-weight:600;
  margin-top: 0px;
  margin-left: -5px;
  padding: 5px 30px 8px;
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  &.orange {
    background-color: @baseButtonBg;
    border: 2px solid #fff;
    border-left: 0;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: rgba(249, 98, 6, 0.99);
    text-decoration: none;
    outline: none;
    color: #ffffff;
  }
}

/* basic elements styling */
.error{
  text-align: left;
  margin: 5px 0 0 67px;
  color:rgb(246, 93, 37)
}
.button_container{
  text-align: center;
  margin: 0 0 35px;
  .bt{
    width:450px;
    padding: 20px;
    border: none;
  }
}
.hero-wrapper {
  position: relative;
  z-index: 1;
  padding-top:20px;
  background:url('../img/img02.jpg') no-repeat center top #ffffff;
  -webkit-background-size: cover;
  background-size: cover;
  height: 400px;
  .cover {
    position: absolute;
    left:0;right:0;bottom:0;top:0;
  }
  h1 {
    margin-top:70px;
    margin-bottom: 22px;
    color:#293640;
    font-size:36px;
    font-weight: 600;
    line-height: 1.1em;
  }
}
#topbar {
  padding: 12px 0;
  position: relative;
  background: #fff;
  .logo {
    float: left;
    text-align: center;
    width: 180px;
    margin-bottom: 5px;
    & img {
      width:100%;
    }
  }
  .menuimg {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    padding: 5px;
    top: 3px;
    right: 0px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }
  #right-menu-items {
    margin-top:0px;
    margin-bottom:0px;
    text-align: right;
    color:#666;
  }
  #right-menu-items li {
    display: inline-block;
    margin: 0;
    padding-right: 40px;
    text-align: right;
    position: relative;
    &:first-child {
      padding-right:15px;
      border-right:1px solid rgba(0,0,0,0.5);
    }
  }

  #right-menu-items li a {
    font-size: 16px;
    display: block;
    color: #666;
    padding: 0px;
  }
  .irda-auth-badge {
    width:215px;
    letter-spacing: 0;
    vertical-align: bottom;
    text-align: left;
    float: left;
    margin-left: 20px;
    font-size: 14px;
  }
}
.form-box {
  margin-top:20px;
  padding:20px 25px;
  background-color: #ffffff;
  margin-bottom:-65px;
  .roundedCorners(2px);
  .CFBoxShadow;
  .btn-cfox {
    font-size: 20px;
    padding:10px 15px;
  }
  .error {
    color: #ff0000;
    font-size:12px;
    display: none;
  }
  & input[type='text'],& input[type='number'] {
    display: block;
    border:2px solid #e3e3ec;
    background-color: #f5f5f5;
    font-size: 16px;
    padding:10px;
    width: 100%;
    margin-bottom:5px;
    .roundedCorners(3px);
  }
  label {
    font-weight: 400;
    font-size:12px;
  }
  & > h4 {
    color:#999999;
    font-size:18px;
    margin:0px 0px 10px 0px;
  }
  & .radio-group {
    margin:0px;
    input[type="radio"] {
      display: none;
    }
    input[type="radio"] + label {
      padding: 10px 15px 10px 0px;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 1px;
      color: @textColor;
      cursor: pointer;
    }
    input[type="radio"] + label span {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: -1px 10px 0 0;
      vertical-align: middle;
      background: #efeff4;
      cursor: pointer;
      border: 1px solid #ff6127;
      .roundedCorners(50%);
      &:hover {
        border-width: 2px;
      }
    }
    input[type="radio"]:checked + label span {
      border: 2px solid #ff6127;
      position: relative;
      background: transparent;
      &:after {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background: #ff6127;
        top: 50%;
        left: 50%;
        margin-top: -5px;
        margin-left: -5px;
        .roundedCorners(50%);
      }
    }
  }
}

/* box stylings */

.light-box,.dark-box {
  padding: 10px 0px 40px;
  line-height: 1.6em;
  h1 {
    font-size: 32px;
    margin: 30px 0px;
    text-align: center;
    font-weight: 200;
    color:@textColor;
    line-height: 1.4em;
    letter-spacing: 1px;
  }
}
.light-box {
  background: @boxLightBackground;
  color:@textColor;
}
.dark-box {
  background-color: @boxDarkBackground;
}
.color-highlight {
  color: @baseThemeColor !important;
}

.testimonials-section {
  background-color: @baseThemeColor;
  h1{
    text-align: center;
    color:#fff;
    font-size: 35px;
    margin: 20px 0 30px;
  }
  .testimonail-list{
      margin: 30px 0 50px 0;
    img{
      border-radius: 100%;
      border:2px solid #fff;
      height: 150px;
      width: 150px;
    }
    p{
      font-size: 15px;
      color:#fff;
      margin: 15px 0;
      font-style: italic;
    }
    .title{
      font-weight: 600;
    }
  }
}
.about-us {
  & h4 {
    color:#404040;
    margin-top:30px;
  }
}
.footer {
  padding: 20px;
  border-top: 1px solid rgba(0,0,0,0.05);
  color:#999999;
}
.product-services {
  padding-top:40px;
  background-color: #efeff4;
  .btn-cfox {
    max-width:320px;
    background: none;
    color:#ff6127;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    &:hover,&:focus {
      color: #ffffff;
      background-color: #ff6127;
    }
  }
  h1 {
    text-align: left;
    margin-bottom:50px;
  }
  .show-case {
    padding: 0px 0px 20px;
    border-bottom:1px dashed rgba(0,0,0,0.2);
    margin-top:20px;
    margin-bottom:20px;
    .show-case > div > div {
      margin-bottom:15px;
    }
    & > div {
      margin-bottom: 20px;
      min-height: 60px;
      color: #888888;
    }
    & h4 {
      font-weight: 400;
      color: @textColor;
      font-size: 20px;
    }
    & img {
      margin-bottom:10px;
      display: block;
      width:100px;
      height: 100px;
      background-color: rgba(0,0,0,0.05);
      .roundedCorners(50%);
    }
  }
}

.companies-wrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  ul.company-logos {
    list-style-type: none;
    text-align: center;
    padding: 0;
    & li {
      display: inline-block;
      padding: 15px;
      position: relative;
      & img {
        height: 45px;
      }
    }
  }
}
.chkbox-wrap{
  margin: 0 0 80px 0;
  label{
    color:#293640;
    font-weight: 400;
    font-size: 16px;
    margin: 5px 0;
  }
  input[type=checkbox] {
        display:none;
  }
    input[type=checkbox] + label:before {
        content: "";  
        display: inline-block;  
        width: 15px;  
        height: 15px;  
        vertical-align:middle;
        margin-right: 15px;  
        border:1px solid #fff;  

    }
    input[type=checkbox]:checked + label:before {
      content:"\2714";
      color:@baseThemeColor;
      border:1px solid #314451; 
      text-align:center;
      line-height:11px;
      font-size: 24px;
      font-weight: 300;
    }
  }
  .get-container{
    background-color: #314451;
    padding: 30px 15px 15px 15px;
    text-align: center;
    h3{
      margin: 10px 0;
      color:#fff;
      font-weight: 400;
    }
    .get-quick-conatiner{
      input{
        width: 300px;
        height: 42px;
        font-size: 14px;
        outline:0;
        border:0;
        background: #fff;
        padding: 5px 0 5px 20px;
        color:#666;
      }
      .terms-msg{
        font-size: 12px;
        margin: 10px auto;
        color:#fff;
        text-align: left;
        max-width: 518px;
      }
    }
  }
  .expert-container{
    margin: 80px 0;
    .list-expert{
      img{
          max-width: 180px;
          display: block;
          margin: auto;
          width: 100%;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          border: 2px solid #dfdfdf;
          background-color: #fff;
          padding: 5px;
      }
      h4{
        text-align: center;
        margin: 15px 0;
      }
    }
  }
  .right-policy{
    .mbottom{
      margin-bottom: 30px;
    }
    .num{
      font-size: 40px;
      line-height: 30px;
      color:@baseThemeColor;
    }
    img{
      margin: auto;
    }
    h4{
      font-size: 20px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.7)
    }
    p{
      font-size: 18px;
      color:#787878;
      margin-top:15px ;
    }
    h3{

      text-transform: uppercase;
      position: relative;
      font-size: 20px;
      color:#666;
      text-align: center;
      margin: 0 0 40px;
      &:before{
        content: "";
        position: absolute;
        border-top: 1px solid #666;
        top:10px;
        left:0;
        max-width:320px;
        width:320px;
      }
      &:after{
        content: "";
        position: absolute;
        border-top: 1px solid #666;
        top:10px;
        right:0;
        max-width:320px;
        width:320px;
      }
      img{
      max-width: 90px;
      vertical-align: top;
      margin: 0 10px;
    }
    }

  }
/* mobile optimisation */

@media screen and (min-width: 1700px) {
  .hero-wrapper {
    & h1 {
      margin-top: 40px;
    }
    & .form-box {
      margin-top:60px;
    }
  }
}
@media screen and (min-width: 1580px) and (max-width: 1699px){
  .hero-wrapper {
    & h1, & .form-box {
      margin-top:40px;
    }
  }
}
@media screen and (min-width: 1002px) and (max-width: 1200px){
  .hero-wrapper{
    height: auto;
  }
  .right-policy{
      h3{
      &:before{
        width:240px;
      }
      &:after{
        width:240px;
      }
      }
    }

}
@media screen and (min-width: 200px) and (max-width: 1000px) {
  #right-menu-items li {
    display: block;
    margin-bottom:10px;
  }
  .testimonials-section .testimonail-list img{
    width: 100px;
    height: 100px;
  }
  #topbar {
    & .logo {
      float: none;
      margin-bottom:3px;
    }
    & .irda-auth-badge {
      width:200;
      position: relative;
      float: none;
      margin:0px;
      font-size: 12px;
      br {
        display: none;
      }
    }
  }
  .testimonials-section .testimonial-item .comment {
    padding: 10px 15px;
    font-size: 12px;
  }
  .product-services .show-case > div > div {
    margin-bottom:30px;
  }
  .right-policy{
      h3{
      &:before{
        width:132px;
      }
      &:after{
        width:132px;
      }
      }
    }
    .hero-wrapper{
      height: auto;
    }
}

@media only screen and (min-width : 200px) and (max-width : 767px) {
  body, html {
    min-width: 320px;
  }
  .testimonials-section .testimonail-list img{
    margin: auto;
  }
  .testimonials-section .testimonail-list p{
    text-align: center;
  }
  .testimonials-section h1{
    font-size: 23px;
  }
  .right-policy{
    p{
      font-size: 13px;
    }
    h4{
      font-size: 16px;
    }
    .num{
      font-size: 22px;
    }
    h3{
      font-size: 18px;
      &:before{
        border:none;
      }
      &:after{
        border:none;
      }
    }
  }
  .hero-wrapper {
    padding-top:0px;
    height: auto;
  }
  .hero-wrapper h1 {
    font-size: 28px;
    margin-top:15px;
  }
  #topbar {
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    .logo {
      width: 120px;
    }
    .menuimg {
      width:25px;
      height:25px;
    }
    #right-menu-items {
      position: absolute;
      right: 5px;
      top: -40px;
      & li {
        padding-right: 30px;
      }
      & li a {
        font-size: 14px;
      }
    }
  }
  .btn-cfox{
    margin: 10px 0;
    width: 100%;
    border-left:2px solid #fff !important;
  }
  
  .companies-wrapper {
    height: 135px;
    ul.company-logos {
      padding: 10px 0px 10px;
      & li {
        display: inline-block;
        padding: 10px;
        & img {
          height: 40px;
        }
      }
    }
  }
  .get-quick-conatiner
    {
      input{
        width:100% !important;
      }
  }
  }

@media screen and (min-width: 200px) and (max-width: 519px) {
  .get-container{
    background-color: #314451;
    padding: 30px 15px 15px 15px;
    text-align: center;
    h3{
      margin: 10px 0;
      color:#fff;
      font-weight: 400;
    }
    .get-quick-conatiner{
      input{
        width: 300px;
        height: 42px;
        font-size: 14px;
        outline:0;
        border:0;
        background: #fff;
        padding: 5px 0 5px 20px;
        color:#666;
      }
      .terms-msg{
        font-size: 12px;
        margin: 10px auto;
        color:#fff;
        text-align: left;
        max-width: 518px;
      }
    }
  }
  .expert-container{
    margin: 80px 0;
    .list-expert{
      img{
          max-width: 180px;
          display: block;
          margin: auto;
          width: 100%;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          border: 2px solid #dfdfdf;
          background-color: #fff;
          padding: 5px;
      }
      h4{
        text-align: center;
        margin: 15px 0;
      }
    }
  }
  .right-policy{
    .mbottom{
      margin-bottom: 30px;
    }
    .num{
      font-size: 40px;
      line-height: 30px;
      color:@baseThemeColor;
    }
    img{
      margin: auto;
    }
    h4{
      font-size: 20px;
      font-weight: 600;
      color: rgba(0, 0, 0, 0.7)
    }
    p{
      font-size: 14px;
      color:#787878;
      margin-top:15px ;
    }
    h3{

      text-transform: uppercase;
      position: relative;
      font-size: 20px;
      color:#666;
      text-align: center;
      margin: 0 0 40px;
      &:before{
        content: "";
        position: absolute;
        border-top:0;
        top:10px;
        left:0;
        max-width:320px;
        width:320px;
      }
      &:after{
        content: "";
        position: absolute;
        border-top: 0;
        top:10px;
        right:0;
        max-width:320px;
        width:320px;
      }
      img{
      max-width: 90px;
      vertical-align: top;
      margin: 0 10px;
    }
    }

  }
  .button_container .bt{
    width: 310px;
    padding: 12px;
  }
  .testimonials-section .testimonail-list img{
    margin: auto;
  }
  .testimonials-section .testimonail-list p{
    text-align: center;
  }

  .hero-wrapper {
    height: auto;
    h1 {
    text-align: left;
    font-size:18px;
  }
  }
  .chkbox-wrap{
    margin: 0 0 10px 0;
    label{
      font-size: 13px;
    }
    input[type=checkbox] + label:before {
        margin-right: 7px;   

    }
    input[type=checkbox]:checked + label:before {
      font-size: 20px;
    }
  }
  
  #topbar {
    .menuimg {
      position: absolute;
      top:10px;
      left:5px;
    }
    #right-menu-items {
      background-color: rgba(0,0,0,0.1);
      padding:5px 10px 5px 40px;
      margin-top:5px;
      text-align: left;
      position: relative;
      top:0px;
      right: auto;
      & li {
        text-align: left;
        padding-right: 30px;
        position: static;
        &:first-child {
          padding-right:5px;
        }
      }
      & li a {
        font-size: 14px;
      }
    }
  }
  .companies-wrapper {
    height: 140px;
    ul.company-logos {
      padding: 10px 0px 10px;
      & li {
        display: inline-block;
        padding: 10px;
        & img {
          height: 20px;
        }
      }
    }
  }
  .get-quick-conatiner
    {
      input{
        width:100% !important;
      }
  }
  .error{
    margin: 0;
    font-size: 13px;
  }
}

