<!DOCTYPE html>
<html>
    <head>
    <title>Auto scrapper</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta property="og:site_name" content="Coverfox - Simplifying Insurance" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
</head>

<body style="padding:0px;">

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <div id="map" style="height:300px;"></div>
            </div>
            <div class="span4">
                <div style="font-size:18px;color:#777777;">DATA : <span id='data_id'></span></div>
                <br/>
                <div id="processing" style="font-size:15px;color:#777777;"></div>
                <br/>
                <div id="search_term" style="font-size:19px;color:#333333;"></div>
                <div id="error" class="hide" style="background-color:red;color:#FFFFFF;padding:10px;">ERROR IN GETTING DATA FROM GOOGLE</div>
            </div>
        </div>
        <div class="row-fluid">
            <table class="table">
                <tr>
                    <td id="mname"></td>
                    <td id="maddress"></td>
                    <td id="mpin"></td>
                    <td id="mphone"></td>
                    <td id="murl"></td>
                    <td id="mlat"></td>
                    <td id="mlng"></td>
                    <td id="mgoogledata"></td>
                </tr>
            </table>
        </div>
    </div>

    <!--link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'-->
    <link href="{{STATIC_URL}}radmin/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/bootstrap-responsive.min.css" rel="stylesheet">

    <script src="https://maps.googleapis.com/maps/api/js?v=3.12&sensor=false&libraries=places,geometry"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-ui-1.10.3.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/underscore-min.js"></script>
    <script src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>

    <script type="text/javascript">
        var get_city;
        $(document).ready(function(){

            /*******************  MAPS *********************/
            var INDIA_CENTER = new google.maps.LatLng(23,79);
            var CITY_CENTER = INDIA_CENTER;
            var mapOptions = {
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: CITY_CENTER,
                panControl: true,
                zoomControl: true,
                scrollwheel: false,
            };

            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
            var pservice = new google.maps.places.PlacesService(map);
            var aservice = new google.maps.places.AutocompleteService();

            var searched_city = new Object();

            var get_data_to_query = function(){
                setTimeout(function(){
                    $.getJSON("{%url 'ajax_irda_hospital'%}", function(data){
                        console.log(data);
                        $("#data_id").html(data.id);
                        $("#processing").html(data.raw);
                        $("#search_term").html(data.name);
                        $("#error").hide();
                        get_city(data);
                    });
                }, 5000);
            }

            get_city = function(data){
                var place = data.place;
                if(searched_city[data.place] != undefined){
                    console.log("CITY FOUND", data.place, searched_city[data.place]);
                    city = searched_city[data.place];
                    CITY_CENTER = city.geometry.location;
                    map.setCenter(CITY_CENTER);
                    find_hospital(data);
                }else{
                    var request = {
                        input: place,
                        types: ['geocode'],
                        componentRestrictions: {'country' : 'in'}
                    }
                    aservice.getPlacePredictions(request, function (predictions, status) {
                        console.log("CITY PREDICTIONS" , predictions, status);
                        if(status == "OK"){
                            pcity = predictions[0];
                            pservice.getDetails({'reference' : pcity.reference}, function(city, status){
                                console.log(city);
                                searched_city[data.place] = city;
                                CITY_CENTER = city.geometry.location;
                                map.setCenter(CITY_CENTER);
                                find_hospital(data);
                            });
                        }else {
                            report_error("CITY ERROR", data);
                            return;
                        }
                    });
                }
            }

            var parse_details = function(place) {
                var pin = "";
                var phone = "";
                var url = "";
                $.each(place.address_components, function(i, adc){
                    if(adc.types.indexOf('postal_code') > -1){
                        pin = adc.long_name;
                    }
                });
                var address = place.formatted_address;
                if(place.formatted_phone_number){
                    phone = place.formatted_phone_number;
                }
                if(place.website){
                    url = place.website;
                }
                $('#mname').html(place.name);
                $('#maddress').html(address);
                $('#mpin').html(pin);
                $('#mphone').html(phone);
                $('#murl').html(url);
                $('#mlat').html(place.geometry.location.lat());
                $('#mlng').html(place.geometry.location.lng());
                $('#mgoogledata').html(JSON.stringify(place));
            }

            var find_hospital = function(data){
                aservice.getPlacePredictions({
                    input: data.name,
                    location : new google.maps.LatLng(CITY_CENTER.lat(), CITY_CENTER.lng()),
                    radius: 50000,
                    types : ['establishment','geocode'],
                }, function(result, status){
                    console.log("HOSPITAL PREDICTIONS" , result, status);
                    if (status != google.maps.places.PlacesServiceStatus.OK) {
                        report_error("SEARCH TERM ERROR", data);
                        return;
                    }
                    hosp = result[0];
                    pservice.getDetails(hosp, function(place ,status){
                        console.log("DETAILS" , place, status);
                        if (status != google.maps.places.PlacesServiceStatus.OK) {
                            report_error("GEOCODE TERM ERROR" ,data);
                            return;
                        }else {
                            parse_details(place);
                            $.post("{%url 'ajax_irda_hospital'%}", {
                                'csrfmiddlewaretoken' : "{{csrf_token}}",
                                'id' : data.id,
                                'query': JSON.stringify(data),
                                'googledata' : JSON.stringify(place),
                            }, function(data){
                                get_data_to_query();
                            });
                        }
                    });
                });
            }

            var report_error = function(error, data) {
                $("#error").show();
                $.post("{%url 'ajax_irda_hospital_report_error'%}", {
                    'csrfmiddlewaretoken' : "{{csrf_token}}",
                    'id' : data.id,
                    'query': JSON.stringify(data),
                    'status' : JSON.stringify(error),
                }, function(data){
                    get_data_to_query();
                });
            }

            get_data_to_query();

        });
    </script>

</body>
</html>
