{% load manip_data %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
    <head>
    <title>Hospital admin</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta property="og:site_name" content="Coverfox - Simplifying Insurance" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
</head>

<body style="padding:0px;">

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 raw_list">
                <div class="input-append">
                    <input id="search_byid" type="number">
                    <button class="btn" id="do_byid" placeholder="Search By Id" type="button">Search</button>
                </div>
                <ul class="nav nav-pills nav-stacked">
                    {%for data in data_list%}
                    <li class="rlist" id="rlist_{{data.id}}">
                    <a class="data_list{%if data.health_care_center.disposition%} {{data.health_care_center.disposition|lower}}{%endif%}" id="data_{{data.id}}" city="{{data.city}}" state="{{data.state}}" name="{{data.name}}" href="#">
                        <span class="label label-info" id="label_{{data.id}}">{{data.health_care_center.disposition|labelize}}</span>
                        {{data.format|linebreaksbr}}
                    </a>
                    <button type="button" class="btn btn-mini btn-danger data-delete" id="data_delete-{{data.id}}">delete</button>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3"> </div>
            <div class="span9">
                {%if not request.GET.nomap%}
                <div class="row-fluid">
                    <div class="span12">
                        <div class="input-append">
                            <input id="search_city" type="text">
                        </div>&nbsp;
                        <div class="input-append">
                            <input id="id_suggest_term" placeholder="hospital name" type="text">
                        </div>
                        <div class="input-append">
                            <input id="search_term" type="text">
                            <button class="btn" id="do_search_term" placeholder="search term" type="button">Search</button>
                        </div>
                        <button class="btn btn-primary" id="btn_add_new_entry">Add new entry </button>
                        <a class="btn btn-small toggle_map pull-right" href="#"><i class="icon-map-marker"></i>Map</a>
                    </div>
                </div>
                <div class="row-fluid" id="map_area">
                    <div class="span9">
                        <div id="map" style="width:100%; height:500px;"> </div> <!-- map -->
                    </div> <!-- span3 -->
                    <div class="span3">
                        <div id="results">
                            <h2>Results</h2>
                            <ul id="places"></ul>
                        </div>
                    </div> <!-- span3 -->
                </div> <!-- row-fluid -->
                <div class="row-fluid fix_location" id="location_area">
                    <div class="span12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Pin</th>
                                    <th>Phone</th>
                                    <th>Url</th>
                                    <th>Lat</th>
                                    <th>Lng</th>
                                    <th><a class="btn btn-small toggle_map" href="#"><i class="icon-map-marker"></i>Map</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="mname"></td>
                                    <td id="maddress"></td>
                                    <td id="mpin"></td>
                                    <td id="mphone"></td>
                                    <td id="murl"></td>
                                    <td id="mlat"></td>
                                    <td id="mlng"></td>
                                    <td><div class="hide" id="mgoogledata"></div><a class="btn btn-mini btn-warning" id="select_location">select</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- span12 -->
                </div> <!-- row-fluid -->
                {%endif%}
                <div class="row-fluid">
                    <div class="span8">
                        <form id="map-form"> </form>
                        <button class="btn btn-large btn-info" id="submit-response" type="submit">Submit</button>
                        <span id="saved_indicator" class="label label-success hide indicator">Successfully saved</span>
                        <span id="error_indicator" class="label label-important hide indicator">Error in form, please check</span>
                    </div> <!-- span9 -->
                    <div class="span4">
                        <strong>Search raw data</strong>
                        <div class="input-append">
                            <input id="search_data" type="text">
                            <button class="btn" id="do_search_data" type="button">Search</button>
                        </div>
                        <input id="data_filter" name="dfilter" type="text">
                        <ul id="searched_data" class="unstyled">
                        </ul>
                    </div> <!-- span4 -->
                </div> <!-- row-fluid -->
        </div><!-- row-fluid-->
    </div><!-- container-fluid-->

    <!-- DEDUP modal -->
    <div id="dedup_modal" class="modal hide" style="left:370px;width:1024px;">
        <div class="modal-header clearfix">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <!--a title="close" href="javascript:void(0);" class="btn" data-dismiss="modal" aria-hidden="true"><i class='icon-remove'></i></a-->
                </div>
            </div>
            <div class="hide" id="current_data_id"></div>
            <h3 id="dedup_modal_title">Error</h3>
        </div>
        <div class="modal-body" id="dedup_modal_body">
            <div class="well" id="dedup_data_raw"></div>
            <strong>Attached hospitals</strong>
            <table class="table">
                <tbody id="dedup_data_hospital">
                </tbody>
            </table>
            <strong>Suggestions</strong>
            <table class="table">
                <tbody id="dedup_data_matches">
                </tbody>
            </table>
            <div class="search_dedup_div">
                <div class="input-append">
                    <input id="search_dedup_hospital" type="text">
                    <button class="btn" id="do_search_dedup_hospital" type="button">Search</button>
                </div>
                <div class="input-append">
                    <input id="filter_dedup_hospital" type="text">
                    <button class="btn" type="button">Filter</button>
                </div>
                <ul id="searched_dedup_data" class="unstyled">
            </div>
            <div id="dedup_hospital">
                <form id="dedup_hospital_form">
                </form>
                </div>
                <button id="dedup_submit_merge" style="margin:20px;" class="btn btn-large btn-primary">Save and merge</button>
                <span id="dedup_saved_indicator" class="label label-success hide indicator">Successfully saved</span>
                <span id="dedup_error_indicator" class="label label-important hide indicator">Error in form, please check</span>
            </div>
        </div>
        <div class="modal-footer">
            <!--a href="#" class="btn">Close</a-->
        </div>
    </div>

    <!-- Add data modal -->
    <div id="add_data_modal" class="modal hide" style="width:66%;left:38%;" >
        <div class="modal-header clearfix">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a title="close" href="javascript:void(0);" class="btn" data-dismiss="modal" aria-hidden="true"><i class='icon-remove'></i></a>
                </div>
            </div>
            <h3 id="add_data_modal_title">Add hospital new entry</h3>
        </div>
        <div class="modal-body" id="add_data_modal_body">
            <form id="add_data_form" action="{% url 'add_data' insurer.id  state_obj.id %}" method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="span1">
                        <label class="control-label" for="inputname">Name</label>
                    </div>
                    <div class="span4">{{form_add_raw_data.name}}</div>
                    <div class="span1">Address</div>
                    <div class="span4">{{form_add_raw_data.address}}</div>

                </div>
                <div class="row">
                    <div class="span1">
                        <label class="control-label" for="inputname"></label>
                    </div>
                    <div class="span4">
                        <label class="control-label" for="inputname" id="error_{{form_add_raw_data.name.id_for_label}}"></label>
                    </div>
                    <div class="span1"></div>
                    <div class="span4">
                        <label class="control-label" for="inputname" id="error_{{form_add_raw_data.address.id_for_label}}"><rlabel>
                        </div>

                    </div>
                    <div class="row">
                        <div class="span1">
                            <label class="control-label" for="inputname">State</label>
                        </div>
                        <div class="span4">{{state_obj.name}}</div>
                        <div class="span1">City</div>
                        <div class="span4">{{form_add_raw_data.city}}</div>

                    </div>
                    <div class="row">
                        <div class="span1">
                            <label class="control-label" for="inputname"></label>
                        </div>
                        <div class="span4">
                            <label class="control-label" for="inputname" id="error_{{form_add_raw_data.state.id_for_label}}"></label>
                        </div>
                        <div class="span1"></div>
                        <div class="span4">
                            <label class="control-label" for="inputname" id="error_{{form_add_raw_data.city.id_for_label}}"></label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="span1">
                            <label class="control-label" for="inputname">PIN</label>
                        </div>
                        <div class="span4">{{form_add_raw_data.pin}}</div>
                        <div class="span1">STD</div>
                        <div class="span4">{{form_add_raw_data.std}}</div>

                    </div>
                    <div class="row">
                        <div class="span1">
                            <label class="control-label" for="inputname"></label>
                        </div>
                        <div class="span4">
                            <label class="control-label" for="inputname" id="error_{{form_add_raw_data.pin.id_for_label}}"></label>
                        </div>
                        <div class="span1"></div>
                        <div class="span4">
                            <label class="control-label" for="inputname" id="error_{{form_add_raw_data.std.id_for_label}}"></label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="span1">
                            <label class="control-label" for="inputname">Phone No.</label>
                        </div>
                        <div class="span4">{{form_add_raw_data.phone}}</div>
                        <div class="span1">email</div>
                        <div class="span4">{{form_add_raw_data.email}}</div>

                    </div>
                    <div class="row">
                        <div class="span1">
                            <label class="control-label" for="inputname"></label>
                        </div>
                        <div class="span4">
                            <label class="control-label" for="inputname" id="error_{{form_add_raw_data.phone.id_for_label}}"></label>
                        </div>
                        <div class="span1"></div>
                        <div class="span4">
                            <label class="control-label" for="inputname" id="error_{{form_add_raw_data.email.id_for_label}}"></label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="span1">
                            <label class="control-label" for="inputname">URL</label>
                        </div>
                        <div class="span4">{{form_add_raw_data.url}}</div>
                    </div>
                    <div class="row">
                        <div class="span1">
                            <label class="control-label" for="inputname">{{form_add_raw_data.by_insurer}}</label>
                        </div>
                        <div class="span4">
                            <label class="control-label" for="inputname" id="error_{{form_add_raw_data.url.id_for_label}}"></label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="span4"></div>
                        <div class="span4">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>

                    </div>

                </form>




            </div>
            <div class="modal-footer">
                <!--a href="#" class="btn">Close</a-->
            </div>
        </div>


    <!-- Error modal -->
    <div id="error_modal" class="modal hide">
        <div class="modal-header clearfix">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a title="close" href="javascript:void(0);" class="btn" data-dismiss="modal" aria-hidden="true"><i class='icon-remove'></i></a>
                </div>
            </div>
            <h3 id="error_modal_title">Error</h3>
        </div>
        <div class="modal-body" id="error_modal_body">
        </div>
        <div class="modal-footer">
            <!--a href="#" class="btn">Close</a-->
        </div>
    </div>

    <!--link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'-->
    <link href="{{STATIC_URL}}radmin/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/bootstrap-responsive.min.css" rel="stylesheet">

    {%if not request.GET.nomap%}
        <script src="https://maps.googleapis.com/maps/api/js?v=3.12&sensor=false&libraries=places,geometry"></script>
        <script type="text/javascript" src="{{STATIC_URL}}radmin/js/gmap.js"></script>
    {%endif%}
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-ui-1.10.3.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-scrolltofixed.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/pace.min.js"></script>

    <script src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>

    <link href="{{STATIC_URL}}radmin/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/hospital_admin.css" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function(){
            //$('#location_area').scrollToFixed();
            $("#id_dataadd-city").autocomplete({
                source: function(request, response) {
                    $.get('{%url "get_city_autocomplete"%}?term='+request.term+'&state_id={{state_obj.id}}', function(data){
                        response(JSON.parse(data));
                        console.log(JSON.parse(data))
                    });
                },
                select: function (event, ui) {
                $("#id_dataadd-city").val(ui.item.city);
                    return false;
                },
            });

            $('#btn_add_new_entry').click(function(){
                $('#add_data_modal').modal('toggle');
                $('#add_data_form')[0].reset();
                $('[id^="error_id_dataadd-"]').html('');
            });
            $('#add_data_form').ajaxForm(function(response){
                response = JSON.parse(response);
                //console.log(response.success);
                if(response.success == "true")
                   $('#add_data_modal').modal('toggle');
                else{
                    $('[id^="error_form"]').html('');
                    $.each(response.errors, function(i, n){
                        $("#error_id_dataadd-"+i).html(n.join(","));
                    });
                }
            });
             $('.data-delete').click(function(){
                delete_id = $(this).attr("id").split("-")[1];
                delete_url = "{% url 'delete_data' 99999999  %}".replace("99999999",delete_id);
                $.ajax({
                    type: "POST",
                    url: delete_url,
                    dataType : 'json',
                    data: {'csrfmiddlewaretoken': "{{csrf_token}}"},
                    success: function(data) {
                        if(data.success){
                            $('#rlist_'+data.id).remove();
                        }
                        else{
                            alert('Unable to delete');
                        }
                    },
                    error : function(xhr, status, error){
                    alert('Unable to delete');
                    },
                });
            });

            $(".toggle_map").click(function(){
                $("#map_area").toggle();
                if($("#map_area").is(":visible")){
                    //$('#location_area').scrollToFixed();
                }else{
                    //$('*/#location_area').trigger('detach.ScrollToFixed');
                }
            });

            $("#searched_data").on("click", ".sdata", function(){
                var pid = $(this).attr("id").split("_")[1];
                if($("#rawdata_"+pid).length == 0){
                    var verb = '<tr>';
                    verb += '<td>&gt;</td>';
                    verb += '<td title="'+pid+'">'+$(this).text()+'</td>';
                    verb += '<td><a class="btn btn-warning rawdata" id="rawdata_'+pid+'">duplicate</a></td>'
                    verb += '</tr>';
                    $("#rdataset").append(verb);
                }
                $(this).hide();
            });

            $("#map-form").on("click", ".rawdata", function(){
                var delete_id = $(this).attr('id').split("_")[1];
                var to_id = $("#data_value").text();
                delete_url = "{%url 'mark_duplicate' 11111 22222 %}".replace("11111", delete_id).replace("22222", to_id) + "?r="+new Date().getTime();
                $.getJSON(delete_url, function(data){
                    if(data.success){
                        $("#rawdata_"+delete_id).parent().parent().hide();
                        $("#rlist_"+delete_id).remove();
                    }
                }).fail(function(xhr, status, error) {
                    //console.log(xhr, status, error)
                    $("#dedup_modal").modal('hide');
                    $('#error_modal').modal('show');
                    $('#error_modal_title').html(xhr.statusText);
                    $('#error_modal_body').html(xhr.responseText);
                });
            });

            $("#do_search_dedup_hospital").click(function(){
                $("#searched_dedup_data").html("");
                $("#filter_dedup_hospital").val("");
                var term = $("#search_dedup_hospital").val().trim();
                var get_data = {"r" : new Date().getTime(), "term" : term};
                var hospital_suggest_url = "{%url 'get_hospital_suggest'%}";
                $.getJSON(hospital_suggest_url, get_data, function(data){
                    if(data.length == 0){
                        $("#searched_dedup_data").append("<li>No Results Found</li>")
                    }
                    $.each(data, function(i,d){
                        $("#searched_dedup_data").append("<li class='sdedata' id='sdedata_"+d.id+"' href='#'>" + d.id + "," +d.text + "</li>")
                    });
                }).fail(function(xhr, status, error) {
                    //console.log(xhr, status, error)
                    $("#dedup_modal").modal('hide');
                    $('#error_modal').modal('show');
                    $('#error_modal_title').html(xhr.statusText);
                    $('#error_modal_body').html(xhr.responseText);
                });
            });

            $("#searched_dedup_data").on("click", ".sdedata", function(){
                var hosp_id = $(this).attr("id").split("_")[1];
                var data_id = $("#current_data_id").text();
                var ele = "<tr><td>" + $(this).text() + "</td>";
                ele += "<td><button class='btn btn-danger dedup_hospital_data' id=dedup_hospital_"+hosp_id+">Edit</button>"+"</td>";
                ele += "<td><button class='btn btn-danger dedup_merge' id=dedup_merge_"+data_id+"_"+hosp_id+">MERGE</button>"+"</td></tr>";
                $("#dedup_data_matches").append(ele);
                $(this).hide();
            });

            $('#filter_dedup_hospital').keyup(function(){
                var fval = $(this).val();
                $('#searched_dedup_data>li').each(function(){
                    var text = $(this).text().toLowerCase();
                    (text.indexOf(fval) >= 0) ? $(this).show() : $(this).hide();
                });
            });

            $('#data_filter').keyup(function(){
                var fval = $(this).val();
                $('#searched_data>li').each(function(){
                    var text = $(this).text().toLowerCase();
                    (text.indexOf(fval) >= 0) ? $(this).show() : $(this).hide();
                });
                $.each($(".rawdata"), function(i, ele){
                    var pid = $(ele).attr('id').split('_')[1];
                    $("#sdata_"+pid).hide();
                });
            });


            $("#dedup_modal").on('hidden', function(){
                $("#dedup_modal_title").text("");
                $("#dedup_data_raw").text("");
                $("#dedup_data_matches").html("");
                $("#dedup_data_hospital").html("");
                $("#dedup_hospital_form").html("");
                $("#current_data_id").text("");
                $("#searched_dedup_data").html("");
                $("#search_dedup_hospital").val("");
                $("#filter_dedup_hospital").val("");

                $("#matching_hospitals").html("");
                $("form#map-form").html("");
                $("#id_suggest_term").val("");
                $("#search_city").val("");
                $("#places").html("");

                $('#mname').html("");
                $('#maddress').html("");
                $('#mpin').html("");
                $('#mphone').html("");
                $('#murl').html("");
                $('#mlat').html("");
                $('#mlng').html("");
                $('#mgoogledata').html("");
            });

            $("#do_search_data").click(function(){
                $("#searched_data").html("");
                $("#data_filter").val("");
                if($("#search_data").val()){
                    search_data_url = "{%url 'get_matching_data'%}";
                    var get_data = {"r" : new Date().getTime(), "term" : $("#search_data").val()};
                    $.getJSON(search_data_url, get_data, function(data){
                        if(data.length == 0){
                            $("#searched_data").append("<li>No results found</li>")
                        }
                        $.each(data, function(i,d){
                            if($("#rawdata_"+d.id).length == 0){
                                $("#searched_data").append("<li class='sdata' id='sdata_"+d.id+"' href='#'>" + d.text + "</li>")
                            }
                        });
                    }).fail(function(xhr, status, error) {
                        //console.log(xhr, status, error)
                        $("#dedup_modal").modal('hide');
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                    });
                }
            });

            $('#data_filter').keyup(function(){
                var fval = $(this).val();
                $('#searched_data>li').each(function(){
                    var text = $(this).text().toLowerCase();
                    (text.indexOf(fval) >= 0) ? $(this).show() : $(this).hide();
                });
                $.each($(".rawdata"), function(i, ele){
                    var pid = $(ele).attr('id').split('_')[1];
                    $("#sdata_"+pid).hide();
                });
            });

            $("form#map-form").on("click", ".dupdata", function(){
                var deleted_id = $(this).attr('id').split("_")[1];
                var to_id = $("#data_value").text();
                duplicate_detach_url = "{%url 'duplicate_detach' 11111 22222 %}".replace("11111", deleted_id).replace("22222", to_id) + "?r="+new Date().getTime();
                $.getJSON(duplicate_detach_url, function(data){
                    if(data.success){
                        $("#dupdata_"+deleted_id).parent().parent().remove();
                    }
                }).fail(function(xhr, status, error) {
                        //console.log(xhr, status, error)
                        $("#dedup_modal").modal('hide');
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                });
            });

            var set_data_form = function(pid, hospital) {
                /******************* GET FORM *********************/
                $("#matching_hospitals").html("");
                $('#mname').html("");
                $('#maddress').html("");
                $('#mpin').html("");
                $('#mphone').html("");
                $('#murl').html("");
                $('#mlat').html("");
                $('#mlng').html("");
                $('#mgoogledata').html("");
                if(hospital){
                    form_url = "{%url 'ajax_hcc_form' insurer.id 11111 %}".replace("11111", pid) + "?r="+new Date().getTime()+"&hospital=true";
                } else {
                    form_url = "{%url 'ajax_hcc_form' insurer.id 11111 %}".replace("11111", pid) + "?r="+new Date().getTime()+"&hospital=false";
                }
                $.getJSON(form_url, function(data){
                    $("form#map-form").html();
                    $("form#map-form").html(data.form);
                    $("#id_city_name").autocomplete({
                        source: '{%url "get_city_autocomplete"%}',
                        select: function (event, ui) {
                            $("#id_city").val(ui.item.id);
                            $("#id_city_name").val(ui.item.city);
                            $("#id_state_name").html(ui.item.state);
                            return false;
                        },
                        response : function(event, ui){
                            $("#id_city").val("");
                            $("#id_state_name").html("");
                        }
                    });
                    //$("#selected_info").scrollToFixed();
                }).fail(function(xhr, status, error) {
                        //console.log(xhr, status, error)
                        $("#dedup_modal").modal('hide');
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                });
            }

            var set_hospital_dedup_form = function(pid) {
                /******************* GET FORM *********************/
                $("#dedup_hospital_form").html("");
                form_url = "{%url 'ajax_hcc_form' insurer.id 11111 %}".replace("11111", pid) + "?r="+new Date().getTime()+"&hospital=true";
                $.getJSON(form_url, function(data){
                    $("form#dedup_hospital_form").html(data.form);
                    //$("form#dedup_hospital_form #id_city_name").prop('readonly', true);
                    $("#id_city_name").autocomplete({
                        source: '{%url "get_city_autocomplete"%}',
                        select: function (event, ui) {
                            $("#id_city").val(ui.item.id);
                            $("#id_city_name").val(ui.item.city);
                            $("#id_state_name").html(ui.item.state);
                            return false;
                        },
                        response : function(event, ui){
                            $("#id_city").val("");
                            $("#id_state_name").html("");
                        }
                    });
                });
            };

            $('#dedup_submit_merge').click(function(){
                var pid = $("form#dedup_hospital_form #data_value").text().trim();
                if(!pid){
                    alert("Something went wrong, click again and report this issue to admin");
                    return false;
                }
                form_url = "{%url 'ajax_hcc_form' insurer.id 11111 %}".replace("11111", pid) + "?r="+new Date().getTime();
                $.ajax({
                    type: "POST",
                    url: form_url,
                    dataType : 'json',
                    data: $("form#dedup_hospital_form").serialize(),
                    success: function(data) {
                        $(".indicator").hide();
                        $('form#dedup_hospital_form .help-block').html("");
                        $('form#dedup_hospital_form .help-block').removeClass('error');
                        //console.log(data);
                        if(data.success){
                            $("#dedup_saved_indicator").show();
                            $("#rlist_"+data.response.data_id+" a.data_list").removeClass("incomplete");
                            $("#rlist_"+data.response.data_id+" a.data_list").removeClass("completed");
                            $("#rlist_"+data.response.data_id+" a.data_list").removeClass("giveup");
                            $("#label_"+data.response.data_id).text(data.response.status.replace("_"," ").toLowerCase());
                            $("#rlist_"+data.response.data_id+" a.data_list").addClass(data.response.status.toLowerCase());
                        } else {
                            $("#dedup_error_indicator").show();
                            $.each(data.errors, function(k,v){
                                $("form#dedup_hospital_form #id_"+k+" + .help-block").html(v.join(","));
                                $("form#dedup_hospital_form #id_"+k+" + .help-block").addClass('error');
                            });
                        }
                    },
                    error : function(xhr, status, error) {
                        $("#dedup_modal").modal('hide');
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                    },
                });
            });

            $("#dedup_modal_body").on("click", ".dedup_hospital_data", function(){
                var hcc_id = $(this).attr("id").split("_")[2];
                $(".dedup_hospital_data").parent().parent().removeClass("attached");
                $(this).parent().parent().addClass('attached');
                set_hospital_dedup_form(hcc_id);
            });

            $("#dedup_modal_body").on("click", ".detach_hospital_data", function(){
                var hcc_id = $(this).attr("id").split("_")[2];
                var data_id = $(this).attr("id").split("_")[3];
                detach_hcc_url = "{%url 'detach_hcc_from_data' 11111 22222 %}".replace("11111", hcc_id).replace("22222", data_id) + "?r="+new Date().getTime();
                $.getJSON(detach_hcc_url, function(data){
                    if(data.success){
                        $("#dedup_modal").modal('hide');

                        $("#rlist_"+data.data_id+" a.data_list").removeClass("incomplete");
                        $("#rlist_"+data.data_id+" a.data_list").removeClass("completed");
                        $("#rlist_"+data.data_id+" a.data_list").removeClass("giveup");
                        $("#label_"+data.data_id).text("");

                        $("#dedup_modal_title").text("");
                        $("#dedup_data_raw").text("");
                        $("#dedup_data_matches").html("");
                        $("#dedup_data_hospital").html("");
                        $("#dedup_hospital_form").html("");
                    }
                }).fail(function(xhr, status, error) {
                        //console.log(xhr, status, error)
                        $("#dedup_modal").modal('hide');
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                });
            });


            $("#dedup_modal_body").on("click", ".dedup_merge", function(){
                var data_id = $(this).attr("id").split("_")[2];
                var hcc_id = $(this).attr("id").split("_")[3];
                merging_url = "{%url 'insurer_merge' insurer.id 11111 22222 %}".replace("11111", hcc_id).replace("22222", data_id) + "?r="+new Date().getTime();
                $.getJSON(merging_url, function(data){
                    if(data.success){
                        $("#dedup_modal").modal('hide');

                        $("#rlist_"+data.data_id+" a.data_list").removeClass("incomplete");
                        $("#rlist_"+data.data_id+" a.data_list").removeClass("completed");
                        $("#rlist_"+data.data_id+" a.data_list").removeClass("giveup");
                        $("#label_"+data.data_id).text(data.status.replace("_"," ").toLowerCase());
                        $("#rlist_"+data.data_id+" a.data_list").addClass(data.status.toLowerCase());

                        $("#dedup_modal_title").text("");
                        $("#dedup_data_raw").text("");
                        $("#dedup_data_matches").html("");
                        $("#dedup_data_hospital").html("");
                        $("#dedup_hospital_form").html("");
                    }
                }).fail(function(xhr, status, error) {
                        //console.log(xhr, status, error)
                        $("#dedup_modal").modal('hide');
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                });
            });

            $("#dedup_modal").on("click", ".hdid", function(){
                $("#dedup_modal").modal('hide');
                $("#dedup_modal_title").text("");
                $("#dedup_data_raw").text("");
                $("#dedup_data_matches").html("");
                $("#dedup_data_hospital").html("");
                $("#dedup_hospital_form").html("");

                var pid = $(this).attr("id").split("_")[1];
                var ele = "#data_" + pid;
                var pid = $(ele).attr("id").split("_")[1];
                var name = $(ele).attr("name");
                var city = $(ele).attr("city");
                var state = $(ele).attr("state");

                {%if not request.GET.nomap%}
                    var search_term = "";
                    if(!city){
                        search_term = state;
                    } else {
                        search_term = city + " " + state;
                    }
                    $("#search_city").val(search_term);
                    inp = document.getElementById('search_city');
                    inp.focus();
                    $(this).addClass("selected");
                {%endif%}

                set_data_form(pid, false)
            });

            var set_dedup_modal = function(pid){
                $("#matching_hospitals").html("");
                $('#mname').html("");
                $('#maddress').html("");
                $('#mpin').html("");
                $('#mphone').html("");
                $('#murl').html("");
                $('#mlat').html("");
                $('#mlng').html("");
                $('#mgoogledata').html("");
                $("form#map-form").html("");
                $("#id_suggest_term").val("");
                $("#search_city").val("");
                $("#places").html("");

                $("#dedup_modal_title").text(pid + " - " +$("#data_"+pid).attr('name'));
                $("#current_data_id").text(pid);
                $("#dedup_modal").modal('show');
                get_matching_url = "{%url 'get_matching_hospitals' 11111 22222 %}".replace("11111", "{{insurer.id}}").replace("22222", pid) + "?r="+new Date().getTime();
                $.getJSON(get_matching_url, function(data){
                    if(data.success){
                        if(data.hcc){
                            var show_msg = "Edit hospital entry";
                        } else {
                            var show_msg = "Create new hospital"
                        }
                        $("#dedup_data_raw").html(data.raw + "<button id='hd_"+pid+"' class='btn btn-warning hdid'>"+show_msg+"</button>");
                        $("#dedup_data_matches").html("");
                        $("#dedup_data_hospital").html("");
                        $.each(data.matches, function(i, m){
                            var mlist = [m.id, m.name, m.address, m.city, m.state, m.pincode, m.data_ids.join(" - ")];
                            var cls = "";
                            if(m.data_ids.indexOf(parseInt(pid)) != -1){
                                cls = "attached";
                            }
                            if(cls != "attached"){
                                var ele = "<tr class='"+cls+"'><td>" + mlist.join(",") + "</td>";
                                ele += "<td><button class='btn btn-danger dedup_hospital_data' id=dedup_hospital_"+m.id+">Edit</button>"+"</td>";
                                ele += "<td><button class='btn btn-danger dedup_merge' id=dedup_merge_"+pid+"_"+m.id+">MERGE</button>"+"</td></tr>";
                                $("#dedup_data_matches").append(ele);
                            }
                        });
                        if(data.hcc){
                            var mlist = [data.hcc.id, data.hcc.name, data.hcc.address, data.hcc.city, data.hcc.state, data.hcc.pincode];
                            var ele = "<tr><td>" + mlist.join(",") + "</td>";
                            ele += "<td><button class='btn btn-danger dedup_hospital_data' id=dedup_hospital_"+data.hcc.id+">Edit</button>"+"</td>";
                            ele += "<td><button class='btn btn-warning detach_hospital_data' id='detach_hospital_"+data.hcc.id+"_"+data.data_id+"'>Detach</button>"+"</td></tr>";
                            $("#dedup_data_hospital").append(ele);
                        }
                    }
                }).fail(function(xhr, status, error) {
                        //console.log(xhr, status, error)
                        $("#dedup_modal").modal('hide');
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                });
            };

            $(".data_list").click(function(){
                $(".data_list").removeClass("selected");
                var pid = $(this).attr("id").split("_")[1];
                var name = $(this).attr("name");
                var city = $(this).attr("city");
                var state = $(this).attr("state");

                set_dedup_modal(pid);
            });

            $("#do_byid").click(function(){
                var pid = $("#search_byid").val().trim();
                set_data_form(pid, true);
            });

            $('#submit-response').click(function(){
                var pid = $("#data_value").text();
                if(!pid){
                    alert("Must select a data point to enter");
                    return false;
                }
                url = "{%url 'ajax_hcc_form' insurer.id 11111 %}".replace("11111", pid) + "?r="+new Date().getTime();
                $.ajax({
                    type: "POST",
                    url: url,
                    dataType : 'json',
                    data: $("form#map-form").serialize(),
                    success: function(data) {
                        $(".indicator").hide();
                        $('form#map-form .help-block').html("");
                        $('form#map-form .help-block').removeClass('error');
                        //console.log(data);
                        if(data.success){
                            $("#saved_indicator").show();
                            $("#rlist_"+data.response.data_id+" a.data_list").removeClass("incomplete");
                            $("#rlist_"+data.response.data_id+" a.data_list").removeClass("completed");
                            $("#rlist_"+data.response.data_id+" a.data_list").removeClass("giveup");
                            $("#label_"+data.response.data_id).text(data.response.status.replace("_"," ").toLowerCase());
                            $("#rlist_"+data.response.data_id+" a.data_list").addClass(data.response.status.toLowerCase());
                        } else {
                            $("#error_indicator").show();
                            $.each(data.errors, function(k,v){
                                $("form#map-form #id_"+k+" + .help-block").html(v.join(","));
                                $("form#map-form #id_"+k+" + .help-block").addClass('error');
                            });
                        }
                    },
                    error : function(xhr, status, error) {
                        $("#dedup_modal").modal('hide');
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                    },
                });
            });


            {%if not request.GET.nomap%}

                $("#select_location").click(function(){
                    $("form#map-form #id_name").val($("#mname").html());
                    $("form#map-form #id_address1").val($("#maddress").html());
                    $("form#map-form #id_pincode").val($("#mpin").html().replace(" ",""));
                    $("form#map-form #id_phone1").val($("#mphone").html().replace(" ",""));
                    $("form#map-form #id_url").val($("#murl").html().replace(" ",""));
                    $("form#map-form #id_lat").val($("#mlat").html().replace(" ",""));
                    $("form#map-form #id_lng").val($("#mlng").html().replace(" ",""));
                    $("form#map-form #id_googledata").val($("#mgoogledata").html());
                });
                $("#id_suggest_term").autocomplete({
                    source : function(request, response){
                        aservice.getQueryPredictions({
                            input: request.term,
                            location : new google.maps.LatLng(CITY_CENTER.lat(), CITY_CENTER.lng()),
                            radius: 50000,
                            types : ['establishment','geocode'],
                        }, function(result, status){
                            var tarr = new Array();
                            $.each(result, function(i, res){
                                tarr.push({
                                    label : res.description,
                                    id : res.id,
                                    reference : res.reference
                                });
                            });
                            response(tarr);
                        });
                    },
                    select : function(event, ui){
                        pservice.getDetails(ui.item, function(place, status){
                            console.log("DETAILS" , place);
                            if (status == google.maps.places.PlacesServiceStatus.OK) {
                                clear_markers();
                                clear_results();
                                create_marker(place);
                            }
                        });
                    }
                });


                /*******************  MAPS *********************/
                var INDIA_CENTER = new google.maps.LatLng(23,79);
                var CITY_CENTER = INDIA_CENTER;
                var mapOptions = {
                    zoom: 10,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    center: INDIA_CENTER,
                    panControl: true,
                    zoomControl: true,
                    scrollwheel: false,
                };
                var markers = [];

                var map = new google.maps.Map(document.getElementById("map"), mapOptions);
                var infoWindow = new google.maps.InfoWindow();
                var geocoder = new google.maps.Geocoder();
                var pservice = new google.maps.places.PlacesService(map);

                var aservice = new google.maps.places.AutocompleteService();

                var distanceWidget = new DistanceWidget(map, function(){
                    //console.log("UPDATING NOW");
                    map.setCenter(distanceWidget.position);
                    get_radar_hospitals(distanceWidget.get('distance')*1000);
                });

                google.maps.event.addListener(distanceWidget, 'distance_changed', function() {
                    displayInfo(distanceWidget);
                });

                google.maps.event.addListener(distanceWidget, 'position_changed', function() {
                    displayInfo(distanceWidget);
                });

                function displayInfo(widget) {
                    //$("#map_control_info").html('Position: ' + widget.get('position') + ', distance: ' + widget.get('distance'));
                }


                $("#do_search_term").click(function(){
                    search_raw_term($('#search_term').val());
                });

                function clear_markers() {
                    for (var i = 0; i < markers.length; i++) {
                        if (markers[i]) {
                            markers[i].setMap(null);
                        }
                    }
                    markers = [];
                }
                function clear_results() {
                    $("#places").html("");
                }

                var fill_details = function(place, marker) {
                    infoWindow.setContent(place.name);
                    infoWindow.open(map, marker);
                    var pin = "";
                    var phone = "";
                    var url = "";
                    $.each(place.address_components, function(i, adc){
                        if(adc.types.indexOf('postal_code') > -1){
                            pin = adc.long_name;
                        }
                    });
                    var address = place.formatted_address;
                    if(place.formatted_phone_number){
                        phone = place.formatted_phone_number;
                    }
                    if(place.website){
                        url = place.website;
                    }
                    $('#mname').html(place.name);
                    $('#maddress').html(address);
                    $('#mpin').html(pin);
                    $('#mphone').html(phone);
                    $('#murl').html(url);
                    $('#mlat').html(place.geometry.location.lat());
                    $('#mlng').html(place.geometry.location.lng());
                    $('#mgoogledata').html(JSON.stringify(place));
                }

                var show_details = function(place, marker) {
                    if(place.address_components) {
                        fill_details(place, marker)
                    } else {
                        pservice.getDetails(place, function(full_place ,status){
                            if (status == google.maps.places.PlacesServiceStatus.OK) {
                                fill_details(full_place, marker);
                            }
                        });

                    }
                }

                var create_marker= function(place) {
                    console.log("PLACE", place);
                    var image = {
                        url: "{{STATIC_URL}}radmin/img/hospital_marker.png",
                        size: new google.maps.Size(16, 16),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(0, 0),
                        scaledSize: new google.maps.Size(16, 16)
                    };

                    var marker = new google.maps.Marker({
                        map: map,
                        icon: image,
                        position: place.geometry.location
                    });
                    markers.push(marker);
                    google.maps.event.addListener(marker, 'click', function() {
                        show_details(place, marker);
                    });

                    var pid = new Date().getTime() + String(Math.random()).replace(".","");
                    $("#places").append('<li id="list_'+pid+'">' + place.name + '</li>');
                    $("#places li#list_"+pid).click(function(){
                        show_details(place, marker);
                    });
                }

                var create_search_list = function(places){
                    //var bounds = new google.maps.LatLngBounds();
                    for (var i = 0, place; place = places[i]; i++) {
                        create_marker(place);
                        //bounds.extend(place.geometry.location);
                    }
                    //map.fitBounds(bounds);
                }

                /*********  Autocomplete code **********/
                var city_autocomplete_options = {
                    zoom: 10,
                    center: INDIA_CENTER,
                    mapTypeControl: false,
                    panControl: false,
                    zoomControl: false,
                    streetViewControl: false
                };
                autocomplete = new google.maps.places.Autocomplete((
                    document.getElementById('search_city')), {
                    //types: ['(cities)'],
                    types: ['(regions)'],
                    componentRestrictions: {'country' : 'in'}
                });
                google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
                function onPlaceChanged() {
                    var city = autocomplete.getPlace();
                    //console.log("City >>", city);
                    if (city.geometry) {
                        CITY_CENTER = city.geometry.location;
                        create_radar(city);
                    } else {
                        document.getElementById('autocomplete').placeholder = 'Enter a city';
                    }

                }
                /***************************************/

                var get_radar_hospitals = function(distance) {
                    clear_markers();
                    clear_results();
                    var request = {
                        location: new google.maps.LatLng(CITY_CENTER.lat(), CITY_CENTER.lng()),
                        radius: distance,
                        query : "hospitals"
                        //types: ['hospital', 'health'],
                        //keyword : "hiranandani hospital",
                    };

                    pservice.textSearch(request, function(results, status){
                        //console.log(status, results);
                        //console.log("CALLING RADAR HOSPITALS");
                        if (status != google.maps.places.PlacesServiceStatus.OK) {
                            return;
                        } else {
                            create_search_list(results);
                        }
                    });
                }

                var create_radar = function(city){
                    map.setCenter(city.geometry.location);
                    distanceWidget.set('position', map.getCenter());
                    //console.log("CREATE RADAR");
                    get_radar_hospitals(distanceWidget.get('distance')*1000);
                }

                var search_raw_term = function(text){
                    clear_markers();
                    clear_results();

                    var request = {
                        location: new google.maps.LatLng(CITY_CENTER.lat(), CITY_CENTER.lng()),
                        radius: 50000,
                        types : ['hospital', 'health', 'establishment'],
                        keyword : text,
                    };
                    pservice.nearbySearch(request, function(results, status){
                        //console.log(status);
                        if (status != google.maps.places.PlacesServiceStatus.OK) {
                            return;
                        } else {
                            create_search_list(results);
                        }
                    });
                }
            {%endif%}
        });
    </script>

</body>
</html>
