{% extends "base_admin.html" %}
{% load manip_data %}
{% load widget_tweaks %}

{%block header_js_css%}
<style>
    td a {
        margin:5px;
    }
</style>
{%endblock%}

{% block popup %}

{% endblock %}

{% block main %}

<div class="row-fluid">
    <div class="span4 area">
        <div class="internal">
            <ul class="nav nav-pills nav-stacked">
            {%for place in cities%}
            <li>
                {{forloop.counter}}) {{place}}
                <a href="{%url 'hospital_admin' 15 'city' place %}">- Cigna TTK</a>
                <a href="{%url 'hospital_admin' 16 'city' place %}">- Oriental</a>
                <a href="{%url 'hospital_admin' 11 'city' place %}">- L&T</a>
                <a href="{%url 'hospital_admin' 1 'city' place %}">- Apollo Munich</a>
                <a href="{%url 'hospital_admin' 13 'city' place %}">- HDFC Ergo</a>
                <a href="{%url 'hospital_admin' 14 'city' place %}">- IFFCO Tokyo</a>
                <a href="{%url 'hospital_admin' 8 'city' place %}">- New India Assurance</a>
                <a href="{%url 'hospital_admin' 7 'city' place %}">- Tata AIG</a>
                <a href="{%url 'hospital_admin' 6 'city' place %}">- Religare</a>
                <a href="{%url 'hospital_admin' 5 'city' place %}">- MaxBupa</a>
                <a href="{%url 'hospital_admin' 4 'city' place %}">- Bajaj Allianz</a>
                <a href="{%url 'hospital_admin' 2 'city' place %}">- Start Health</a>
                <a href="{%url 'hospital_admin' 9 'city' place %}">- BhartiAXA</a>
                <a href="{%url 'hospital_admin' 10 'city' place %}">- Reliance</a>
                <a href="{%url 'hospital_admin' 12 'city' place %}">- Cholamandalam</a>
            </li>
            {%endfor%}
            {%for place in states%}
            <li>
                {{forloop.counter}}) {{place}}
                <a href="{%url 'hospital_admin' 15 'state' place %}">- Cigna TTK</a>
                <a href="{%url 'hospital_admin' 16 'state' place %}">- Oriental</a>
                <a href="{%url 'hospital_admin' 11 'state' place %}">- L&T</a>
                <a href="{%url 'hospital_admin' 1 'state' place %}">- Apollo Munich</a>
                <a href="{%url 'hospital_admin' 13 'state' place %}">- HDFC Ergo</a>
                <a href="{%url 'hospital_admin' 14 'state' place %}">- IFFCO Tokyo</a>
                <a href="{%url 'hospital_admin' 8 'state' place %}">- New India Assrance</a>
                <a href="{%url 'hospital_admin' 7 'state' place %}">- TATA AIG</a>
                <a href="{%url 'hospital_admin' 6 'state' place %}">- Religare</a>
                <a href="{%url 'hospital_admin' 5 'state' place %}">- MaxBupa</a>
                <a href="{%url 'hospital_admin' 4 'state' place %}">- Bajaj Allianz</a>
                <a href="{%url 'hospital_admin' 2 'state' place %}">- Star Health</a>
                <a href="{%url 'hospital_admin' 9 'state' place %}">- BhartiAXA</a>
                <a href="{%url 'hospital_admin' 10 'state' place %}">- Reliance</a>
                <a href="{%url 'hospital_admin' 12 'state' place %}">- Cholamandalam</a>
            </li>
            {%endfor%}
            </ul>
        </div>
   </div>
   <div class="span3 area">
       <h4>Upload Hospitals</h4>
       <ul class="nav nav-pills nav-stacked">
           {% for i in insurers %}
           <li>
           <a href="{% url 'hospital_list_save' i.id  %}">- {{i}}</a>
           </li>
           {% endfor %}
       </ul>

   </div>
   <div class="span3 area">
       <div class="accordion" id="accordion2">
           <div class="accordion-group">
               <div class="accordion-heading">
                   <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                       <h4>Delete Hospitals </h4>
                   </a>
               </div>
               <div id="collapseTwo" class="accordion-body collapse">
                   <div class="accordion-inner">
                       <ul>
                       {% for i in insurers %}
                       <li><a href="{% url 'delete_hospitals' i.id  %}" onclick="return confirm('This will delete all hospitals of {{i}}, are you sure ?')">{{i}}</a></li>
                       <hr/>
                       {% endfor %}
                   </ul>
                   </div>
               </div>
           </div>
       </div>
   </div>

    <div class="span2 area">
        <h4>Context Area</h4>
    </div>
</div>

{%endblock%}

{% block footer_js_css %}

<script src="{{STATIC_URL}}js/jquery.form.js"></script>
<script src="{{STATIC_URL}}js/jquery.slugify.js"></script>
<script src="{{STATIC_URL}}js/jquery.tagsinput.js"></script>
<script src="{{STATIC_URL}}js/ui.multiselect.js"></script>

<link href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/blog.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/jquery.tagsinput.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/ui.multiselect.css" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function(){
    });
</script>

{% endblock %}
