{% extends "base_admin.html" %}
{% load manip_data %}
{% load widget_tweaks %}

{%block header_js_css%}
<style>
    td a {
        margin:5px;
    }
</style>
{%endblock%}

{% block popup %}

{% endblock %}

{% block main %}

<div class="row-fluid">
    <div class="span12 area">
        <div class="internal">
            <table class="table">
            <tr>
                <th>Sr</th>
                <th>City</th>
                <th>Hospital Count</th>
                <th>Manual cleanup</th>
                <!--th>Auto cleanup</th-->
            </tr>
            {%for d in data%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{d.name}}</td>
                <td>{{d.count}}</td>
                <td><a href="{%url 'manual_sanitize_city' d.id %}">Manual Clean</a></td>
                <!--td><a href="{%url 'smart_sanitize_city' d.id %}">Auto Clean</a></td-->
            </tr>
            {%endfor%}
            </table>
        </div>
   </div>
</div>

{%endblock%}

{% block footer_js_css %}

<script src="{{STATIC_URL}}js/jquery.form.js"></script>
<script src="{{STATIC_URL}}js/jquery.slugify.js"></script>
<script src="{{STATIC_URL}}js/jquery.tagsinput.js"></script>
<script src="{{STATIC_URL}}js/ui.multiselect.js"></script>

<link href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/blog.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/jquery.tagsinput.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/ui.multiselect.css" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function(){
    });
</script>

{% endblock %}
