<!DOCTYPE html>

{%load manip_data%}
<html>
    <head>
    <title>Hospital admin</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta property="og:site_name" content="Coverfox - Simplifying Insurance" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
</head>

<body style="padding:0px;">
<div>
    <div id="hcc_list" class="row-fluid">
        <div class="span12">
            {%for hlist in cluster_hcc%}
            <div class="internal{%if forloop.counter|divisibleby:2 %} well{%endif%}">
                <table id="hcc_table" class="table">
                    <thead>
                        <tr>
                            <th filter='false'>ID</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Landmark</th>
                            <th>District</th>
                            <th filter-type='ddl'>Pincode</th>
                            <th>STD</th>
                            <th>Phone</th>
                            <th>Fax</th>
                            <th>Web</th>
                            <th>Geo</th>
                            <th>Insurer</th>
                        </tr>
                    </thead>
                    <tbody>
                    {%for h in hlist%}
                    <tr>
                        <td>
                            {{h.id}}<br/>
                            <a href="#" class="select_hcc" id="select_hcc_{{h.id}}">select</a>
                        </td>
                        <td>{{h.name}}</td>
                        <td>{{h.address1}}</td>
                        <td>{{h.landmark}}</td>
                        <td>{{h.district}}</td>
                        <td>{{h.pincode}}</td>
                        <td>{{h.std_code}}</td>
                        <td>
                            {{h.phone1}} &nbsp;-&nbsp;
                            {{h.phone2}}
                        </td>
                        <td>
                            {{h.fax1}} &nbsp;-&nbsp;
                            {{h.fax2}}
                        </td>
                        <td>
                            {{h.email}} &nbsp;-&nbsp;
                            {{h.url}}
                        </td>
                        <td>{{h.lat}}, {{h.lng}} </td>
                        <td>{% for ins in h.insurer.all%}
                            {{ins.title}},
                            {%endfor%}
                        </td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
            {%endfor%}
        </div>
    </div>
</div>

<link href="{{STATIC_URL}}radmin/css/bootstrap.min.css" rel="stylesheet">
<link href="{{STATIC_URL}}radmin/css/bootstrap-responsive.min.css" rel="stylesheet">

<script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/underscore-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-scrolltofixed.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/pace.min.js"></script>

<link href="{{STATIC_URL}}radmin/css/hospital_admin.css" rel="stylesheet">

<script src="{{STATIC_URL}}radmin/js/picnet.table.filter.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
});
</script>
</body>
</html>
