<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="en" lang="en" class="js" >

{% load compress%}
{% load manip_data%}
<head>
    <title>Coverfox Insurance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta property="og:site_name" content="Coverfox Insurance, India" />
    <meta property="og:locale" content="en_us" />
    <meta property="og:title" content="Coverfox Insurance, India - The smartest way to manage your Insurance" />
    <meta property="og:description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance." />
    <meta property="og:url" content="http://www.coverfox.com" />
    <meta property="og:image" content="{{STATIC_URL}}img/coverfox_logo_fb.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="403">
    <meta property="og:image:height" content="403">

    <meta name="twitter:title" content="Coverfox Insurance, India">
    <meta name="twitter:description" content="The smartest way to buy and manage your insurance">

    <meta name="published_time" content="2013-09-26" />
    <meta name="modified_time" content="{{currenttime|date:'Y-m-d'}}" />
    <meta name="keywords" content="Insurance India, Best Insurance in India, Best Policy" />
    <meta name="description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance." />
    <meta name="publisher" content="Coverfox Insurance" />
    <meta name='robots' content='index, follow' />
    <!-- Bootstrap -->
    {%compress css%}
        <link href="{{STATIC_URL}}unsubscribe/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{STATIC_URL}}unsubscribe/css/style.css" rel="stylesheet">
    {%endcompress%}
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
</head>

<body style="background-color:#ffffff;position:absolute;width:100%;height:100%;">
<div id="licence-modal" class="modal-overlay">
    <div class="modal-container" style="max-width:650px;">
        <div class="clearfix">
            <div class="pull-right cross mpoint"></div>
        </div>
        <div id="irda_licence_container"></div>
    </div>
</div>
<header>
    <div id="cf-navbar" class="navbar">
        <div class="container">
            <a class="navbar-brand" href="/"><img class="img-responsive" src="{{STATIC_URL}}img/coverfox-logo.png" alt="Coverfox"></a>
            <div class="licence-strip">
                IRDA licence number: IRDA/ DB 556/ 13&nbsp;&nbsp;<a id="show-licence" class="btn btn-sm btn-default">View licence</a>
            </div>
            <div class="clearfix pull-right" style="margin-top:5px;">
                <img style="width:28px;" class="call-us" src="{{STATIC_URL}}img/phone.png" alt="India">
                <span class="call-no">Toll Free - {{ settings.GENERAL_TOLL_FREE }}</span>
            </div>
        </div>
    </div><!-- /.navbar -->
</header>

<div class="text-center">
    <div class="container">
        <h1 class="main-header" style="margin-top:80px;">You have been successfully&nbsp;<strong>unsubscribed</strong></h1>
    </div>
</div><!--/.text-center-->

<div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/973632833/?label=qRUfCJ-90AkQweqh0AM&amp;guid=ON&amp;script=0"/>
</div>



{%compress js%}
    <script src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
    <script src = "{{STATIC_URL}}health_product/js/lib/amplify/amplify.js"></script>
    <script src="{{STATIC_URL}}js/jquery.form.js"></script>


    <script type="text/javascript">
        (function() {
            var po = document.createElement('script');
            po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/client:plusone.js?onload=onLoadCallback';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MR4FRN');</script>
    <!-- End Google Tag Manager -->



    <script>
        $(document).ready(function(){
            $(document).on('click','#video-btn',function(){
                $('#video-modal').show();
                toggleVideo('show');
            });
            $(document).on('click','.vid-link',function(){
                $('#video-modal').show();
                toggleVideo('show');
            });
            $(document).on('click','#show-licence',function(){
                if($('#img_irda').length == 0){
                    var irda = '<img id="img_irda" style="margin:auto;display:block;" src="{{STATIC_URL}}img/irda_licence.jpg" alt="">';
                }
                $('#irda_licence_container').append(irda);
                $('#licence-modal').show();
            });
            $(document).on('click','.cross',function(){
                $(this).parents('.modal-overlay').hide();
                toggleVideo('hide');
            });
            $(document).on('click','.modal-overlay',function(){
                $(this).hide();
                toggleVideo('hide');
            });
        });
    </script>

    <script type="text/javascript">
        var csrf_token;
        var initiateSignIn;

        function onLoadCallback() {
            gapi.client.setApiKey('{{ settings.SOCIAL_AUTH_GOOGLE_API_KEY }}'); //set your API KEY
        }

        $(function() {
            $.get("{%url 'get_token'%}", function(data){
                csrf_token = data.csrf;
                if(data.is_authenticated){
                    if(amplify.store('gender')){
                        $('#authenticated_link').attr('href', '/health-plan/#step1/members');
                    } else {
                        $('#authenticated_link').attr('href', '/health-plan/');
                    }
                    $('#authenticated_link').removeClass('hide');
                } else {
                    $('#invoke_registration').removeClass('hide');
                }
                $('form').prepend("<input type='hidden' name='csrfmiddlewaretoken' value='"+csrf_token+"' />");
            }, 'json');

            $("#user_registration_form").ajaxForm({
                success : function (data) {
                    data = JSON.parse(data);
                    if(data.success){
                        if(data.response.success){
                            window.location = "/health-plan/";
                        }
                    }else {
                        $(".form_errors").text("");
                        if(data.errors.email){
                            if(data.errors.email[0].indexOf('already registered') >= 0){
                                window.location = "/health-plan/";
                            } else {
                                for(var k in data.errors){
                                    $("#user_reg_error_"+k).text(data.errors[k][0]);
                                }
                            }
                        }
                    }
                }
            });
            $("#user_login_form").ajaxForm({
                success : function (data) {
                    data = JSON.parse(data);
                    if(data.success){
                        if(data.response.success){
                            var msg = data.response.mesg;
                            window.location = "/health-plan/";
                        }else{
                            if(data.response.error_msg){
                                $('#user_login_error_password').text(data.response.error_msg);
                            }
                        }
                    }else {
                        $(".form_errors").text("");
                        for(var k in data.errors){
                            $("#user_login_error_"+k).text(data.errors[k][0]);
                        }
                    }
                }
            });

            $('.facebook_btn').click(function(){
                fb_login();
            });
            window.fbAsyncInit = function() {
                FB.init({
                    appId   : '545910808767230',
                    oauth   : true,
                    status  : true, // check login status
                    cookie  : true, // enable cookies to allow the server to access the session
                    xfbml   : true // parse XFBML
                });

            };

            var fb_login = function(){
                FB.login(function(response) {
                    if (response.authResponse) {
                        var fb_access_token = response.authResponse.accessToken;
                        user_id = response.authResponse.userID; //get FB UID

                        FB.api('/me', function(response) {
                            var data = {};
                            data['fb_data'] = JSON.stringify(response);
                            data['csrfmiddlewaretoken'] = csrf_token;
                            data['facebook_access_token'] = fb_access_token;
                            var rurl = '/health-plan/';
                            $.post("{%url 'facebook_registration'%}", data, function(res_data){
                                var data = $.parseJSON(res_data);
                                if (data.success) {
                                    if(data.gender){// MALE / FEMALE
                                        amplify.store('gender', data.gender);
                                        rurl = '/health-plan/#step1/members';
                                    }
                                    if(data.dob){//dd-mm-yyyy
                                        amplify.store('members', '[{"id":"self","person":"self","verbose":"You","dob":"'+data.dob+'"}]');
                                    }
                                    window.location = rurl;
                                }else {
                                    window.location = rurl;
                                }
                            });

                            // you can store this data into your database
                        });

                    } else {
                        //user hit cancel button
                    }
                }, {
                    scope: 'user_birthday,user_relationships,email'
                })
            };

            (function() {
                var e = document.createElement('script');
                e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
                e.async = true;
                document.getElementById('fb-root').appendChild(e);
            }());

            $('.google_btn').click(function(){
                initiateSignIn();
                //evt.preventDefault();
                //$("#registration_modal").modal('hide');
            });

            initiateSignIn = function() {
                var myParams = {
                    'callback': loginFinishedCallback,
                    'clientid': '{{ settings.SOCIAL_AUTH_GOOGLE_OAUTH_KEY }}',
                    'cookiepolicy': 'single_host_origin',
                    'state' : csrf_token,
                    'application_name' : 'coverfox',
                    'scope' : 'https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email'
                };
                gapi.auth.signIn(myParams);
            };

            var google_auth_result;
            function loginFinishedCallback(authResult){
                if (authResult) {
                    if(authResult['status']['signed_in']) {
                        if (authResult['error'] == undefined){
                            google_auth_result = authResult;
                            gapi.client.load('plus','v1', loadProfile);  // Trigger request to get the email address.
                        } else {
                            window.location = "/health-plan/";
                        }
                    }
                } else {
                    return;
                }
            }

            function loadProfile(){
                var request = gapi.client.plus.people.get({'userId': 'me'});
                request.execute(function(obj){
                    var data = {};
                    data['gdata'] = JSON.stringify(obj);
                    data['csrfmiddlewaretoken'] = csrf_token;
                    data['google_code'] = google_auth_result['code'];
                    data['google_access_token'] = google_auth_result['access_token'];
                    $.post("{%url 'google_registration'%}", data, function(res_data){
                        var data = $.parseJSON(res_data);
                        var rurl = '/health-plan/';
                        if (data.success) {
                            if(data.gender){// MALE / FEMALE
                                amplify.store('gender', data.gender);
                                rurl = '/health-plan/#step1/members';
                            }
                            if(data.dob){//dd-mm-yyyy
                                amplify.store('members', '[{"id":"self","person":"self","verbose":"You","dob":"'+data.dob+'"}]');
                            }
                            window.location = rurl;
                        }else {
                        }
                    });
                });
            }
        });
    </script>
{%endcompress%}

</body>

</html>

