<!DOCTYPE html>
<html>
<head>
<title>Hospital admin- Validate Hospital Data</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta property="og:site_name" content="Coverfox - Simplifying Insurance" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
</head>

<body style="padding:0px;">

<div class="container-fluid">
    <br/>
    <div class="row">
        <div class="span10">
            <div class="alert alert-error offset1">
                Please note that the if the first cell in a row is blank, we will not process it...

            </div>

            <form class="form-horizontal" method="POST" id="form_upload_xls" action="{% url 'hospital_list_save' insurer_id  %}"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="control-group">
                    <label class="control-label" for="inputEmail" id="error_{{form.words.id_for_label}}">Words</label>
                    <div class="controls">
                        {{form.words}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPassword" id="error_{{form.xls_file.id_for_label}}" >XLS file</label>
                    <div class="controls">
                        {{form.xls_file}}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Validate XLS and upload</button>
                    </div>
                </div>
            </form>
            <div class="offset1">
                <h3>Error Console </h3>
                <div id="error_console" style="height:284px;width:auto;background-color:black;color:white;font-family: monospace;border-style: ridge;padding: 13px;">
                </div>
            </div>
        </div>
        <div class="span3">
            <select id="states_listbox" size="36">
                {% for i in states %}
                <option>{{i.name}}</option>
                {% endfor %}
            </select>
        </div>

    </div>

</div>
<link href="{{STATIC_URL}}radmin/css/bootstrap.min.css" rel="stylesheet">
<link href="{{STATIC_URL}}radmin/css/bootstrap-responsive.min.css" rel="stylesheet">
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/underscore-min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-scrolltofixed.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/pace.min.js"></script>

<script src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>

<link href="{{STATIC_URL}}radmin/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
<link href="{{STATIC_URL}}radmin/css/hospital_admin.css" rel="stylesheet">
<script type="text/javascript">
$(function() {
    $('#id_words').width('590px');
    $("#states_listbox").change(function(){
        window.prompt("Copy to clipboard: Ctrl+C, Enter", $(this).val());
    });
});

$('#form_upload_xls').ajaxForm({

    beforeSubmit: function(){
        $('#error_console').html('Please wait while we validate and upload your xls to server...');
    },
    success: function(response){
        var msg=''
        response = JSON.parse(response);
        console.log(response);
        if(response.success=='false'){
            $.each(response.errors,function(key, value){
                msg = msg + key + ' : '+value +"</br>"
            });
        }
        else
            msg =  JSON.stringify(response)

        $('#error_console').html(msg);
    },
    error: function(){
        $('#error_console').html("<h3>Server error.</h3> <br> <p>We are unable to process your request.</p>")
    }


});


</script>

</body>
</html>
