<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <title>Coverfox - Motor Insurance</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{STATIC_URL}}motor_product/global/lib/jquery/jquery-1.11.0.js"></script>
    <link href="{{STATIC_URL}}global/css/bootstrap-3.3.4.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    <style>
        #search-bar {
            position: fixed;
            width: 100%;
            background-color: #FFFFFF;
            padding: 5px;
        }
        #search-text {
            width: 100%;
        }
        #search-content {
            padding-top: 50px;
        }
        body.customer-view #search-content {
            padding-top: 0px;
        }
        .selected {
            background-color: #efefef;
        }
    </style>
    <script type="text/javascript">
        function runQuery() {
            if (event.keyCode == 13) {
                window.location.href = "/motor/garages/{{list_id}}/?query=" + document.getElementById("search-text").value;
            }
        }
        $(document).ready(function() {
            $('search-text').focus();
            $(document).on('click', '.table tr', function () {
                event.preventDefault();
                var url = $(this).data('url');
                $.getJSON(url, function(response) {
                    window.location.reload();
                })
            });
        });
    </script>
</head>
<body {% if not is_user_admin %}class="customer-view"{% endif %}>
    {% if is_user_admin %}
        <div id="search-bar">
            <input onkeydown="runQuery()" onfocus="this.select()" type="text" class="form-control" id="search-text" value="{{ query }}" placeholder="Type your search query here and press enter.">
        </div>
    {% endif %}
    <div id="search-content" class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    {% if is_user_admin %}<th></th>{% endif %}
                    <th>Company</th>
                    <th>City</th>
                    <th>Make</th>
                    <th>Name</th>
                    <th>State</th>
                    <th>Pincode</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for garage in garages %}
                    <tr {% if garage.selected %}class="selected"{% endif %} data-url="{{ garage.url }}" >
                        {% if is_user_admin %}<td>{% if garage.selected %}-{% else %}+{% endif %}</td>{% endif %}
                        <td>{{ garage.company }}</td>
                        <td>{{ garage.city }}</td>
                        <td>{{ garage.make }}</td>
                        <td>{{ garage.name }}</td>
                        <td>{{ garage.state }}</td>
                        <td>{{ garage.pincode }}</td>
                        <td>{{ garage.address }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
