{% load compress %}
<!DOCTYPE html>
<html lang="en">
{% load manip_data%}
<head>
    <title>Compare & Buy Top Insurance Policies Online from Coverfox.com </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta property="og:site_name" content="Coverfox Insurance, India" />
    <meta property="og:locale" content="en_us" />
    <meta property="og:title" content="Coverfox Insurance, India - The smartest way to manage your Insurance" />
    <meta property="og:description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance online." />
    <meta property="og:url" content="http://www.coverfox.com" />
    <meta property="og:image" content="{{ STATIC_URL }}lp2/img/coverfox_logo_fb.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="403">
    <meta property="og:image:height" content="403">

    <meta name="twitter:title" content="Coverfox Insurance, India">
    <meta name="twitter:description" content="The smartest way to buy and manage your insurance">

    <meta name="published_time" content="2013-09-26" />
    <meta name="modified_time" content="{{currenttime|date:'Y-m-d'}}" />
    <meta name="keywords" content="Insurance India, Best Insurance in India, Best Policy" />
    <meta name="description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance." />
    <meta name="publisher" content="Coverfox Insurance" />
    <meta name='robots' content='index, follow' />
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />
    {% compress css %}
        <link href="{{ STATIC_URL }}css/not-found.css" rel="stylesheet">
        <link href="{{STATIC_URL}}global/css/header_footer_2.css" rel="stylesheet">
    {% endcompress %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>
<body>
{% include "flatpages:header_2.html" %}
<div class="wrapper">
    <div class="header-row">
        <div class="content banner-bg">
        </div>
    </div>
    <div class="content">
        <div class="articlelist">
            <h1>You got the address wrong!</h1>
            <h3>Looks like you are lost. It's always a good idea to start again from <a href="/" class="link">Home Page</a></h3>
        </div>
    </div>
</div>
{% include "flatpages:footer_2.html" %}
<script src="{{STATIC_URL}}bakar/js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}flatpages/js/header.js" type="text/javascript"></script>
</body>
</html>