{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="en" lang="en" class="js">

{% load manip_data%}
<head>
    <title>Coverfox Insurance | Page not found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta property="og:site_name" content="Coverfox Insurance, India" />
    <meta property="og:locale" content="en_us" />
    <meta property="og:title" content="Coverfox Insurance, India - The smartest way to manage your Insurance" />
    <meta property="og:description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance." />
    <meta property="og:url" content="http://www.coverfox.com" />
    <meta property="og:image" content="{% get_static_prefix %}lp2/img/coverfox_logo_fb.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="403">
    <meta property="og:image:height" content="403">

    <meta name="twitter:title" content="Coverfox Insurance, India">
    <meta name="twitter:description" content="The smartest way to buy and manage your insurance">

    <meta name="published_time" content="2013-09-26" />
    <meta name="modified_time" content="{{currenttime|date:'Y-m-d'}}" />
    <meta name="keywords" content="Insurance India, Best Insurance in India, Best Policy" />
    <meta name="description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance." />
    <meta name="publisher" content="Coverfox Insurance" />
    <meta name='robots' content='index, follow' />
    <link rel="shortcut icon" href="{% get_static_prefix %}img/favicon.ico" type="image/x-icon" />
    <link href="{% get_static_prefix %}css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/page-not-found.css" rel="stylesheet">
    <script type="text/javascript" src="//use.typekit.net/mfw7pxf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="{{STATIC_URL}}bakar/js/zepto.js"></script>
</head>

<body>
    <section>
        <div id="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xs-4 col-sm-4">
                        <div class="logo">
                            <a href="/">
                                <img src="{{STATIC_URL}}lp-health/img/coverfox-logo.png" alt="" class="logo">
                            </a><br/>
                        </div>
                        <div id="irda-auth" class="irda-auth-badge">
                            <!--img src="{{STATIC_URL}}lp-health/img/badge-2.png" alt=""-->
                            <span>
                                IRDA Licence:
                                <br>IRDA/ DB 556/ 13
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-8 pull-right col-sm-8">
                        <ul id="right-menu-items" class="">
                            {% block crossover %}
                            <li class="pipe-link"><a href="/health-plan/">Health</a></li>
                            <li class="pipe-link"><a href="/motor/car-insurance/">Car</a></li>
                            <li class="pipe-link"><a href="/motor/twowheeler-insurance/">Two Wheeler</a></li>
                            <li class="pipe-link"><a href="/home-insurance/">Home</a></li>
                            <li class="pipe-link"><a href="/travel-insurance/">Travel</a></li>
                            <li class="pipe-link seperator"></li>
                            {% endblock crossover %}
                            {% block tollfree %}
                            <li class="c2c">
                                <a href="javascript:ClickToCall('top_bar')">
                                    {{ settings.HEALTH_TOLL_FREE }}
                                </a>
                                Toll Free
                                <img src="{{STATIC_URL}}lp-health/img/phone_white.png" alt="" class="menuimg">
                            </li>
                            {% endblock tollfree %}
                        </ul>
                    </div>
                </div>
                <button id="toggle-menu" class="navbar-toggle">
                    <span class="bar plus"></span>
                    <span class="bar minus"></span>
                </button>
                <ul id="pipe-links" class="pipe-menu-right">
                    <li><a href="/health-plan/">Health</a></li>
                    <li><a href="/motor/car-insurance/">Car</a></li>
                    <li><a href="/motor/twowheeler-insurance/">Two Wheeler</a></li>
                    <li><a href="/home-insurance/">Home</a></li>
                    <li><a href="/travel-insurance/">Travel</a></li>
                </ul>
            </div><!--/.container-->
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <img src="/static/img/mobile-404.gif" alt="" class="img-responsive">
                <div class="text_header">
                    Go back to our <a href="/" class="homelink">Homepage</a>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="articlelist">
            <h3>Or check out our awesome blog -</h3>
            <a class="article-links car" href="/articles/category/car-insurance/">
                <div class="wello" style="border-color:#e2c09e;">
                    <div class="icon-sprite"></div>
                    <h4>Car <br />Insurance</h4>
                </div>
            </a>
            <a class="article-links health" href="/articles/category/health-insurance/">
                <div class="wello" style="border-color:#91cbbb;">
                    <div class="icon-sprite"></div>
                    <h4>Health <br/>Insurance</h4>
                </div>
            </a>
            <a class="article-links life" href="/articles/category/life-insurance/">
                <div class="wello" style="border-color:#e5a1cd;">
                    <div class="icon-sprite"></div>
                    <h4>Life <br/>Insurance</h4>
                </div>
            </a>
            <a class="article-links travel" href="/articles/category/travel-insurance/">
                <div class="wello" style="border-color:#97b8e0;">
                    <div class="icon-sprite"></div>
                    <h4>Travel <br/>Insurance</h4>
                </div>
            </a>
            <a class="article-links all" href="/articles/">
                <div class="wello" style="border-color:#D1DAE7;">
                    <div class="icon-sprite"></div>
                    <h4>All <br/>Articles</h4>
                </div>
            </a>
        </div>
    </div>
    
</body>
<script type="text/javascript">
    $(document).on('click','#toggle-menu',function(){
        var $this =$(this);
        var $menu =$('#pipe-links');
        if($this.hasClass('active')) {
            $this.removeClass('active');
            $menu.removeClass('active');
        }
        else {
            $this.addClass('active');
            $menu.addClass('active');
        }
    });
</script>
</html>

