.main-container{
    max-width:700px;
    margin:0 auto;
    border:10px solid #ddd;
    padding:20px;
    font-family:arial;
    color:#333;
    border-radius:3px;
    font-size:14px;
}
.main-container h1{
float:left;
font:Bold 30px 'Open Sans','sans-serif';
color:#314451;
padding:10px;
margin:0;
}
.main-container h2{
    float:right;
    width:350px;
    margin:0;
    padding:0 0 20px;
    font-size:40px;
    text-align:right;
}
.form-clearfix{
    clear:both;
}
.form-la{
    width:500px;
    float:left;
}
.form-container{
    margin:0;
    border-top:1px dotted #999;
    border-bottom:1px dotted #999;
}
.btr{
    border-bottom:6px dotted #999;
    padding:0 0 10px 0;
    font-size:14px;
    display:block;
}
.form-container label{
    float:left;
    width:134px;
    font-size:13px;
    margin:10px 0 0 0;
}
.form-container .box{
    float:right;
    width:190px;
    font-size:13px;
    color:#999;
    padding:8px;
}
.top-id{
    margin:10px 0;
}
.member-id{
    text-align:right;
    font-size:16px;
    float:left;
    width:580px;
}
.member-txt{
    margin:15px 0;
}
.id-txt{
    float:right;
    color:#999;
    padding:4px 10px;
    border-radius:3px;
    border:1px solid #999;
}
.form-list{
    margin:10px 0;
}
.benifit-container{
    margin:20px 0;
    padding:15px 0 0 0;
    border-top:1px dotted #999;
    border-bottom:1px dotted #999;
}
.benifit-container ul{
    margin:0 0 0 15px;
    padding:0;
}
.benifit-container li{
    float:left;
    list-style:circle;
    margin:10px 0;
    font-size:14px;
    width:342px;
}
.tollfree-container{
    margin:10px 0;
}
.tollfree-container span{
    color:red;
}
.text-right{
    text-align:right;
    font-size:12px;
}
.text-right img{
max-width:150px;
vertical-align: middle;
}
.left{
    float:left;
    width: 340px;
}
.right{
    float:right;
    width: 350px;
}
.benefits{
    font-size:16px;
}
.button {
    background: #ddd;
    padding: 5px;
    border: 1px solid #999;
    text-decoration: none;
    text-color: #333;
}
