<div class="coverfox_container" style="width:300px">
</div>
<div class="coverfox_container" style="width:600px">
</div>
<script type="text/javascript" src="https://www.coverfox.com/static/lp-health/tp_widget/cf_loader.js"></script>
<script type="text/javascript">CF.init('jago');</script>
