<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>Car insurance quotes</title>
    <link href="{{STATIC_URL}}global/css/bootstrap.css" rel="stylesheet" >
    <link href="{{STATIC_URL}}motor_product/css/desktop.css" rel="stylesheet" >
    <script src="//use.typekit.net/mfw7pxf.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var QUOTE_SHARE_URL = '{{settings.SITE_URL}}{%url "quote_share_fourwheeler" "quote_id"%}'
        var CSRF_TOKEN = "{{csrf_token}}";
        var VEHICLE_TYPE = "{{vehicle_type}}";
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
</head>
<body>
    <header>
        <div class="header-wrapper">
            <div class="cover"></div>
            <section id="top-menu">
                <div class="top-menu-wrapper container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <nav>
                                <a class="logo" href="/"><img src="{{STATIC_URL}}global/img/logos/cf-white-orange-h71.png" alt="Coverfox.com"></a>
                                <div class="nav-text"><span class="nav-text-separator"></span> Quotes</div>
                                <!-- ul class="top-menu-right pull-right">
                                    <li><a href="/health-plan/">Health</a></li>
                                    <li><a href="/motor/car-insurance/">Car</a></li>
                                    <li><a href="#">Bike</a></li>
                                    <li><a href="/home-insurance/">Home</a></li>
                                    <li><a href="travel-insurance/">Travel</a></li>
                                    <li class="s-orange"><a href="#">Sign Up</a></li>
                                    <li class="s-empty"><a href="#">Login</a></li>
                                </ul -->
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </header>



    <div data-bind="router">

    </div>


    <script src="{{STATIC_URL}}motor_product/build/common.{{settings.WEBPACK_ASSETS_HASH}}.js"></script>
    <script src="{{STATIC_URL}}motor_product/build/desktop.{{settings.WEBPACK_ASSETS_HASH}}.bundle.js"></script>



</body>
</html>
