{% load manip_data %}
{% load widget_tweaks %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="en" lang="en" class="js">
    <head>
    <title>Feauture management admin: {{product.insurer.title}} - {{product.title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta property="og:site_name" content="Coverfox - Simplifying Insurance" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    </head>

<body style="padding:0px;">

<form id="score_test_form" action="{%url 'health_product_test_score'%}" method='POST'>
        {%csrf_token%}
    <div class="well">
        <fieldset class="row-fluid">
            <div class="control-group span2">
                <label class="control-label">{{form.sum_assured.label}}</label>
                <div class="controls">
                    {{form.sum_assured|attr:"class:span12"}}
                <div class="error">{{form.errors.sum_assured}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.city.label}}</label>
                <div class="controls">
                    {{form.city|attr:"class:span12"}}
                <div class="error">{{form.errors.city}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.service_type.label}}</label>
                <div class="controls">
                    {{form.service_type|attr:"class:span12"}}
                <div class="error">{{form.errors.service_type}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.family.label}}</label>
                <div class="controls">
                    {{form.family|attr:"class:span12"}}
                <div class="error">{{form.errors.family}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.adults.label}}</label>
                <div class="controls">
                    {{form.adults|attr:"class:span12"}}
                <div class="error">{{form.errors.adults}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.kids.label}}</label>
                <div class="controls">
                    {{form.kids|attr:"class:span12"}}
                <div class="error">{{form.errors.kids}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.age.label}}</label>
                <div class="controls">
                    {{form.age|attr:"class:span12"}}
                <div class="error">{{form.errors.age}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.gender.label}}</label>
                <div class="controls">
                    {{form.gender|attr:"class:span12"}}
                <div class="error">{{form.errors.gender}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.spouse_age.label}}</label>
                <div class="controls">
                    {{form.spouse_age|attr:"class:span12"}}
                <div class="error">{{form.errors.spouse_age}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.kid_1_age.label}}</label>
                <div class="controls">
                    {{form.kid_1_age|attr:"class:span12"}}
                <div class="error">{{form.errors.kid_1_age}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.kid_2_age.label}}</label>
                <div class="controls">
                    {{form.kid_2_age|attr:"class:span12"}}
                <div class="error">{{form.errors.kid_2_age}}</div>
                </div>
            </div>
        </fieldset>
        <fieldset class="row-fluid">
            <button type="submit" class="btn btn-info">Find plans</button>
        </fieldset>
    </div>
    </form>

    <div id="result_summary">
        <a data-href="{%url 'health_product_test_score'%}?csv=true" class="btn btn-danger get_score_csv">Download csv</a>
        <table class="table">
            <thead>
                <tr>
                    {%for l in data_label%}
                        <th>{{l}}</th>
                    {%endfor%}
                </tr>
            </thead>
            <tbody>
                {%for sd in score_data%}
                <tr>
                    {%for da in data_attr%}
                        <td>{{sd|get_dict:da}}</td>
                    {%endfor%}
                    {%for pa in prop_attr%}
                        <td>{{sd.dscore|get_dict:pa|get_dict:'score'}}</td>
                    {%endfor%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

    <div class="results">
        {%for sd in score_data %}
        <div class="row-fluid">
            <div class="span12 well">
                <div>
                    <a class="btn btn-small btn-inverse" href="{%url 'health_product_feature_manage' sd.insurer_id sd.product_id%}">features</a>
                    <a class="btn btn-small btn-warning" href="{%url 'health_product_medical_score' sd.insurer_id sd.product_id%}">medical</a>
                    <a class="btn btn-small btn-info" href="{%url 'health_product_details' sd.insurer_id sd.product_id%}">test</a>
                    {{sd.insurer_title}} - {{sd.policy_type}} - {{sd.product_title}} - Rs {{sd.sum_assured}}/-
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Attribute</th>
                            <th>Value</th>
                            <th>Verbose</th>
                            <th style="color:red;">{{sd.total_score|floatformat:"0"}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for attribute in prop_attr%}
                        <tr>
                            <th>{{attribute|labelize}}</th>
                            <td>{{sd.dscore|get_dict:attribute|get_dict:'value'}}</td>
                            <td>{{sd.dscore|get_dict:attribute|get_dict:'verbose'}}</td>
                            <th>{{sd.dscore|get_dict:attribute|get_dict:'score'|floatformat:"0"}}</th>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        {%endfor%}
    </div>

    <!--link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'-->
    <link href="{{STATIC_URL}}radmin/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/bootstrap-responsive.min.css" rel="stylesheet">

    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/pace.min.js"></script>

    <link href="{{STATIC_URL}}radmin/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/health_product_custom_score.css" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function(){
        $(".get_score_csv").click(function(){
            $('#score_test_form').attr('action', "{%url 'health_product_test_score'%}?csv=true");
            $("#score_test_form").submit();
            setTimeout(function(){
                $('#score_test_form').attr('action', "{%url 'health_product_test_score'%}");
            }, 1000);
        });
    });
</script>

</body>
</html>
