{% load manip_data %}
{% load widget_tweaks %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="en" lang="en" class="js">
    <head>
    <title>Feauture management admin: {{product.insurer.title}} - {{product.title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta property="og:site_name" content="Coverfox - Simplifying Insurance" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
</head>

<body style="padding:0px;">

<div style="width:100%;">
    <table id="manage-table">
        <thead>
            <tr>
                <th>
                    <div class="btn-group">
                        <a href="javascript:void(0);" class="detach-button btn btn-danger btn-small">Detach</a>
                        <a href="javascript:void(0);" id="edit-button" class="activate-modal btn btn-large">Rule</a>
                    </div>
                </th>
                {%for slab in slabs%}
                <th class='slab' title="SlabID {{slab.id}}">
                    <div>{%ifequal slab.sum_assured 0 %}
                            Default
                         {%else%}
                         {%if slab.grade%}
                            {{slab.grade}}-
                         {%endif%}
                         Rs {{slab.sum_assured}}/-{%endifequal%}
                        {% if slab.deductible %}<br />
                            (Ded: Rs {{ slab.deductible }})
                        {% endif %}
                    </div>
                </th>
                {%endfor%}
            </tr>
        </thead>
        <tbody>
            {%for att in attribute_list%}
            <tr class="trattribute-{{att.2}} trattribute">
                <td class="attribute">
                    <div>
                        <label class="checkbox">
                            {{att.1}}<input class="attr_done" type="checkbox" id="attr_done-{{att.2}}">
                        </label>
                    </div>
                </td>
                {%for slab in slabs%}
                <td class="tditem" id="td-{{slab.id}}-{{att.2}}">
                    <div class='form-inline'>
                        <a id="ss-{{slab.id}}-{{att.2}}" class="show_status"><i class="icon-eye-open"></i></a>
                        <label class="checkbox">
                            <label class="checkbox"><input class="select_slab" attribute="{{att.2}}" slab={{slab.id}} type="checkbox" id="select-{{slab.id}}-{{att.2}}">select</label>
                        </label>
                    </div>
                </td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div> <!-- #container -->


<div id="bottom-bar">
    <a class="btn btn-mini" id="add_notes" href="javascript:void(0);"><i class="icon-list-alt"></i> Notes</a>
    <div class="pull-right">
        <a class="btn btn-mini btn-inverse" href="#" onclick="window.location='{%url 'wiki_dashboard'%}'">Dashboard</a>
        <a class="btn btn-mini btn-danger" id="test_product" href="javascript:void(0);">Test</a>
    </div>
    <span id="notification">
    </span>
</div>

    <div id="notes_slider" class="notes_slider clearfix">
        <form class="form-vertical span3" id="notes_form">
            {%csrf_token%}
            <label>Write notes</label>
            <textarea class="" name="notes" id="id_notes">{{product.notes}}</textarea>
            <a href="javascript:void(0);" id="save_notes" class="btn btn-success">save</a>
            <span id="notes_status" style="color:red;display:none;">saved</span>
        </form>
    </div><!--/.notes_slider-->

    <!-- Procedure modal -->
    <div id="procedure_modal" class="modal hide fade">
        <div class="modal-header clearfix">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a title="close" href="javascript:void(0);" class="btn" data-dismiss="modal" aria-hidden="true"><i class='icon-remove'></i></a>
                </div>
            </div>
            <h3 id="procedure_modal_title">Procedures admin</h3>
        </div>
        <div class="modal-body">
            <form>
            </form>
            <button class="btn btn-info" id="submit-procedure" type="submit">Submit</button>
        </div>
        <div class="modal-footer">
            <!--a href="#" class="btn">Close</a-->
        </div>
    </div>

    <!-- Treatment modal -->
    <div id="treatment_modal" class="modal hide fade">
        <div class="modal-header clearfix">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a title="close" href="javascript:void(0);" class="btn" data-dismiss="modal" aria-hidden="true"><i class='icon-remove'></i></a>
                </div>
            </div>
            <h3 id="treatment_modal_title">Treatments admin</h3>
        </div>
        <div class="modal-body">
            <form>
            </form>
            <button class="btn btn-info" id="submit-treatment" type="submit">Submit</button>
        </div>
        <div class="modal-footer">
            <!--a href="#" class="btn">Close</a-->
        </div>
    </div>

    <!-- Disease modal -->
    <div id="disease_modal" class="modal hide fade">
        <div class="modal-header clearfix">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a title="close" href="javascript:void(0);" class="btn" data-dismiss="modal" aria-hidden="true"><i class='icon-remove'></i></a>
                </div>
            </div>
            <h3 id="disease_modal_title">Diseases admin</h3>
        </div>
        <div class="modal-body">
            <form>
            </form>
            <button class="btn btn-info" id="submit-disease" type="submit">Submit</button>
        </div>
        <div class="modal-footer">
            <!--a href="#" class="btn">Close</a-->
        </div>
    </div>

    <!-- Subscriber modal -->
    <div id="fmodal" class="modal hide fade">
        <div class="modal-header clearfix">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a title="refresh" href="javascript:void(0);" id='refresh' class="btn activate-modal"><i class='icon-refresh'></i></a>
                    <a title="close" href="javascript:void(0);" class="btn" data-dismiss="modal" aria-hidden="true"><i class='icon-remove'></i></a>
                </div>
            </div>
            <h3 id="fmodal_title">Form title</h3>
        </div>
        <div class="modal-body">
            <form id="attribute-form">
            </form>
            <button class="btn btn-info" id="submit-response" type="submit">Submit</button>
            <button class="btn btn-info pull-right" id="submit-meta-data" type="submit">Submit meta only</button>
        </div>
        <div class="modal-footer">
            <span id="saved_indicator" class="label label-success hide">Successfully saved</span>
        </div>
    </div>

    <!-- Error modal -->
    <div id="error_modal" class="modal hide fade">
        <div class="modal-header clearfix">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a title="close" href="javascript:void(0);" class="btn" data-dismiss="modal" aria-hidden="true"><i class='icon-remove'></i></a>
                </div>
            </div>
            <h3 id="error_modal_title">Error</h3>
        </div>
        <div class="modal-body" id="error_modal_body">
        </div>
        <div class="modal-footer">
            <!--a href="#" class="btn">Close</a-->
        </div>
    </div>


    <!--link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'-->
    <link href="{{STATIC_URL}}radmin/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/bootstrap-responsive.min.css" rel="stylesheet">

    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/pace.min.js"></script>

    <script src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>
    <script src="{{STATIC_URL}}radmin/js/jquery.tagsinput.js"></script>
    <script src="{{STATIC_URL}}radmin/js/ui.multiselect.js"></script>
    <script src="{{STATIC_URL}}radmin/js/fixed_table_rc.js"></script>

    <link href="{{STATIC_URL}}radmin/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/jquery.tagsinput.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/ui.multiselect.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/health_product_manage.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/fixed_table_rc.css" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function(){

            var add_detach_link = function(slab, attr){
                if($("input#detach_select-"+slab+"-"+attr).length == 0) {
                    $("td#td-"+slab+"-"+attr+" "+"div").append('| <label class="checkbox"><input class="detach_select_slab" attribute="'+attr+'" slab="'+slab+'" type="checkbox" id="detach_select-'+slab+'-'+attr+'">detach</label>');
                }
            }

            var remove_detach_link = function(slab, attr){
                $("input#detach_select-"+slab+"-"+attr).remove();
            }

            var slab_corr_dict = JSON.parse('{{slab_corr_dict|safe}}');
            var terms_list = JSON.parse("{{terms_list|escapejs}}");
            _.each(_.keys(slab_corr_dict), function(attr){
                _.each(slab_corr_dict[attr], function(grp_list){
                    _.each(grp_list, function(slab){
                        add_detach_link(slab, attr);
                    });
                });
            });

            $('body').on("click", "a.detach-button", function(){
                if(detach_selected_attr == "") {
                    alert("Select slabs to detach");
                    return false;
                }
                slab = detach_selected_slabs.join("-");
                attr = detach_selected_attr;
                url = '{%url 'wiki_ajax_detach_copy' product.id 'mymodel' '111' %}'.replace('mymodel', attr).replace('111', slab);
                $.getJSON(url, function(data){
                    console.log("Detached ", attr, slab, data);
                    if(data.success && data.detached) {
                        slab_corr_dict[attr] = data.corr_list;
                        $("#notification").text("Detached :" + attr_dict[attr] + " - " + slab_dict[slab]);

                        $("input#select-"+detach_selected_slabs[0]+"-"+attr+".select_slab").prop('checked', true).trigger('change');
                        $("td.hovered").removeClass('hovered');
                    }
                }).fail(function(xhr, status, error) {
                        console.log(xhr, status, error)
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                });
            });

            $(".tditem").hover(function(){
                $("td.hovered").removeClass('hovered');
                var tid = $(this).attr('id');
                var slab = tid.split('-')[1];
                var attr = tid.split('-')[2];
                _.each(slab_corr_dict[attr], function(grp){
                    if(_.indexOf(grp, slab) >= 0){
                        _.each(grp, function(i){
                            $("td#td-"+i+"-"+attr).addClass('hovered');
                        });
                        return false;
                    }
                });
            });

            $('#manage-table').fxdHdrCol({
                fixedCols    : 1,        /* 3 fixed columns */
                width        : "100%",   /* set the width of the container (fixed or percentage)*/
                height       : $(window).height()-35,      /* set the height of the container */
                colModal: [              /* Optional: set the colmodal property for each tr/th or td/td*/
                    { width: 250, align: 'left'},
                    {%for slab in product.slabs.all%}{ width: 200, align: 'left'},{%endfor%}
                ]
            });

            var slab_dict = new Object();
            var attr_dict = new Object();
            var default_slab;
            {%for slab in product.slabs.all%}
                slab_dict[{{slab.id}}] = "{%if slab.grade%}{{slab.grade}}-{%endif%}Rs {{slab.sum_assured}}/-";
                {%ifequal slab.sum_assured 0%}
                    slab_dict[{{slab.id}}] = "Default";
                    default_slab = "{{slab.id}}";
                {%endifequal%}
            {%endfor%}
            {%for attr in attribute_list%}
                attr_dict["{{attr.2}}"] = "{{attr.1}}";
                {% if product|get_product_meta_data:attr.0|get_attr:'is_completed' %}
                    $("#attr_done-{{attr.2}}").attr('checked', true);
                {%endif%}
            {%endfor%}

            var selected_slabs = new Array();
            var selected_attr = '';
            var detach_selected_slabs = new Array();
            var detach_selected_attr = '';


            $('.detach_select_slab:checked').removeAttr('checked')
            $(".tditem").on("change", ".detach_select_slab", function(){
                $('.select_slab:checked').removeAttr('checked')
                $(".trattribute.selected").removeClass('selected');
                $(".tditem.selected").removeClass('selected');
                selected_attr = '';
                selected_slabs = new Array();

                var slab = $(this).attr('id').split("-")[1];
                var attr = $(this).attr('id').split("-")[2];

                // Slab selection logic
                //if first time attribute is selected
                if(detach_selected_attr == '') {
                    detach_selected_attr = attr;
                    detach_selected_slabs = new Array();
                    detach_selected_slabs.push(slab);
                } else {
                    //if new attribute is selected or changed
                    if(detach_selected_attr != attr) {
                        detach_selected_slabs = new Array();
                        detach_selected_slabs.push(slab);
                        detach_selected_attr = attr;
                    }else {
                        //if new slab is selected in the same attribute
                        detach_selected_slabs = _.map($(".detach_select_slab:checked[attribute='"+detach_selected_attr+"']"), function(v){return $(v).attr('id').split("-")[1]});
                    }
                }

                // Correlated Slab logic
                var corr_logic_pass = true;
                if(detach_selected_attr != ''){
                    var corr_list = slab_corr_dict[detach_selected_attr];
                    //if current slab is not correlated, deselect all and select this only
                    var matching_grp = [];
                    $.each(corr_list, function(i, grp){
                        if(_.indexOf(grp, slab) >= 0){
                            matching_grp = grp;
                            return false;
                        }
                    });
                    if(matching_grp.length > 0){
                        $.each(detach_selected_slabs, function(i, dsl){
                            if(_.indexOf(matching_grp, dsl) < 0){
                                corr_logic_pass = false;
                                return false;
                            }
                        });
                    }
                }

                if(!corr_logic_pass) {
                    detach_selected_slabs = new Array();
                    detach_selected_attr = '';
                }

                $('.detach_select_slab:checked').removeAttr('checked')
                $(".tditem.detach_selected").removeClass('detach_selected');
                _.map(detach_selected_slabs, function(s){
                    $("#td-"+s+"-"+attr).addClass('detach_selected');
                    $('#detach_select-'+s+"-"+detach_selected_attr).attr('checked', true);
                });
                $("#notification").text("Selected attribute to detach: "+attr_dict[detach_selected_attr] + " | " + "Selected Slabs: "+ _.map(detach_selected_slabs, function(s){return slab_dict[s]}).join(", "));
            });


            $('.select_slab:checked').removeAttr('checked')
            $(".select_slab").change(function(){
                $('.detach_select_slab:checked').removeAttr('checked')
                $(".tditem.detach_selected").removeClass('detach_selected');
                detach_selected_attr = '';
                detach_selected_slabs = new Array();

                var slab = $(this).attr('id').split("-")[1];
                var attr = $(this).attr('id').split("-")[2];

                // Slab selection logic

                //if first time attribute is selected
                if(selected_attr == '') {
                    selected_attr = attr;
                    selected_slabs = new Array();
                    selected_slabs.push(slab);
                } else {
                    //if new attribute is selected or changed
                    if(selected_attr != attr) {
                        selected_slabs = new Array();
                        selected_slabs.push(slab);
                        selected_attr = attr;
                    }else {
                        //if new slab is selected in the same attribute
                        selected_slabs = _.map($(".select_slab:checked[attribute='"+selected_attr+"']"), function(v){return $(v).attr('id').split("-")[1]});
                    }
                }

                //If default slab selected, select those which are not attached yet
                if(default_slab == slab){
                    selected_slabs = _.difference(_.keys(slab_dict), _.flatten(slab_corr_dict[selected_attr]));
                    selected_slabs = _.without(selected_slabs, default_slab);
                }

                // Correlated Slab logic
                corr_logic_applied = false;
                if(selected_attr != ''){
                    var corr_list = slab_corr_dict[selected_attr];
                    //if current slab is correlated, deselect all and select related ones only
                    _.each(corr_list, function(grp){
                        if(_.indexOf(grp, slab) >= 0){
                            selected_slabs = grp;
                            corr_logic_applied = true;
                            return false;
                        }
                    });
                    if(!corr_logic_applied){
                        _.each(corr_list, function(grp){
                            if(_.intersection(grp, selected_slabs).length > 0){
                                selected_slabs = new Array();
                                alert("There are common rules for some selected slabs, please reselect");
                                corr_logic_applied = true;
                                return false;
                            }
                        });
                    }
                }

                $('.select_slab:checked').removeAttr('checked')
                $(".trattribute.selected").removeClass('selected');
                $(".tditem.selected").removeClass('selected');
                $(".trattribute-"+selected_attr).addClass('selected');
                _.map(selected_slabs, function(s){
                    $("#td-"+s+"-"+attr).addClass('selected');
                    $('#select-'+s+"-"+selected_attr).attr('checked', true);
                });
                $("#notification").text("Selected attribute: "+attr_dict[selected_attr] + " | " + "Selected Slabs: "+ _.map(selected_slabs, function(s){return slab_dict[s]}).join(", "));
            });

            var tidyTags = function(e) {
                var tags = ($(e.target).val() + '|' + e.tags).split('|');
                var target = $(e.target);
                target.importTags('');
                for (var i = 0, z = tags.length; i<z; i++) {
                    var tag = $.trim(tags[i]);
                    if (!target.tagExist(tag)) {
                        target.addTag(tag);
                    }
                }
                $('#' + target[0].id + '_tag').trigger('focus');
            };

            var apply_tags_input = function(id_list) {
                //type is disease or treatment or procedures
                $(id_list).tagsInput({
                    'delimiter' : '|',
                    'height' : '100px',
                    'interactive': true,
                    'defaultText': 'add terms',
                    'onAddTag': function(tag){
                        if(tag.indexOf('|') > 0){
                            tidyTags({target: this, tags : tag});
                        }
                    },
                    autocomplete_url : JSON.parse("{{terms_list|escapejs}}"),
                    /*'onChange' :  function(elem, t, elemtags){
                        var tag_list = $("#" + $(this).attr('id') + "_tagsinput .tag span");
                        $(this).siblings('.help-block').text("Total added: "+tag_list.length);
                        _.each(tag_list, function(tag){
                            if(_.indexOf(disease_list, $(tag).text().trim()) < 0){
                                $(tag).parent().css('background-color','yellow');
                            }
                        });
                    },*/
                    'removeWithBackspace' : true,
                });
            }

            var tag_ctrls = new Array();
            tag_ctrls.push("#id_terms_list");
            tag_ctrls.push("#id_exclusions");
            for(var i=1; i< 9; i++){
                tag_ctrls.push("#id_terms_list_" + i);
                tag_ctrls.push("#id_general_list_" + i);
                tag_ctrls.push("#id_pe_list_" + i);
            }

            var get_model_form = function(edit_id) {
                var edit_id = edit_id || null;
                if(selected_slabs.length==0 || selected_attr==''){alert("Please select a slab and property first"); return false;}
                var title_slab = _.map(selected_slabs, function(v){return slab_dict[v]}).join(",");
                if(edit_id){
                    url = "/wiki/health-product-" + {{product.id}} + "/" + selected_attr + "_form/" + selected_slabs.join("-") + "/" + edit_id + "/?r="+new Date().getTime();
                } else {
                    url = "/wiki/health-product-" + {{product.id}} + "/" + selected_attr + "_form/" + selected_slabs.join("-") + "/?r="+new Date().getTime();
                }
                $.getJSON(url, function(data){
                    $("form#attribute-form").html();
                    $("form#attribute-form").html(data.form);
                    $("#fmodal_title").text(attr_dict[selected_attr] + " | " + title_slab);

                    apply_tags_input(tag_ctrls.join(","));

                    $("#fmodal").modal('show');
                }).fail(function(xhr, status, error) {
                        console.log(xhr, status, error)
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                });
            }

            $('form#attribute-form').on('click', '.wiki-edit', function(){
                var cid = $(this).attr('id').split("-")[2];
                get_model_form(cid);
            });

            $(".activate-modal").click(function(){
                get_model_form();
                $("#saved_indicator").hide();
                $("#notification").text("Got form for " + attr_dict[selected_attr] + " | " + _.map(selected_slabs, function(s){return slab_dict[s]}).join(", "));
            });

            $('form#attribute-form').on('click', '.wiki-remove', function(){
                model = $(this).attr('id').split('-')[1];
                pid = $(this).attr('id').split('-')[2];
                url = '{%url 'wiki_ajax_remove' product.id 'mymodel' '111' %}'.replace('mymodel', model).replace('111', pid);
                $.getJSON(url, function(data){
                    console.log("Deleted wiki-remove", model, pid, data);
                    if(data.success && data.deleted){
                        slab_corr_dict[selected_attr] = data.corr_list;
                        $("#remove-"+model+"-"+pid).replaceWith("<div class='deleted'>DELETED</div>");
                        $("#notification").text("Deleted :" + attr_dict[selected_attr] + " - " + pid);
                    }
                }).fail(function(xhr, status, error) {
                        console.log(xhr, status, error)
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                });
            });

            $("form#attribute-form").on('change', ':input', function(){
                $("#saved_indicator").hide();
            });

            var submit_form = function(url) {
                $.ajax({
                    type: "POST",
                    url: url,
                    dataType : 'json',
                    data: $("form#attribute-form").serialize(),
                    success: function(data) {
                        if(data.success){
                            $("#saved_indicator").show();
                            slab_corr_dict[selected_attr] = data.response.corr_list;

                            _.each(selected_slabs, function(slab_id){
                                $("#info-"+slab_id+"-"+selected_attr).hide();
                                $("#info-"+slab_id+"-"+selected_attr).popover('destroy');
                                $("#verb-"+slab_id+"-"+selected_attr).hide();
                                if(data.response.comments) {
                                    $("#info-"+slab_id+"-"+selected_attr).popover({'content':data.response.comments});
                                    $("#info-"+slab_id+"-"+selected_attr).show();
                                }
                                if(data.response.verbose) {
                                    console.log("Verb", slab_id, selected_attr);
                                    $("#verb-"+slab_id+"-"+selected_attr).show();
                                }

                                $("#td-"+slab_id+"-"+selected_attr+" .completed").hide();
                                if(data.response.is_completed){
                                    $("td#td-"+slab_id+"-"+selected_attr+" .completed").show();
                                }
                            });

                            get_model_form();
                            _.each(selected_slabs, function(slab){
                                add_detach_link(slab, selected_attr);
                            });
                            $("#notification").text("Saved Successfully: " + attr_dict[selected_attr] + " | " + _.map(selected_slabs, function(s){return slab_dict[s]}).join(", "));
                        } else {
                            $('form#attribute-form .help-block').html("");
                            $('form#attribute-form .help-block').removeClass('error');
                            $.each(data.errors, function(k,v){
                                $("form#attribute-form #id_"+k+" + .help-block").html(v.join(","));
                                $("form#attribute-form #id_"+k+" + .help-block").addClass('error');
                            });
                        }
                    },
                    error : function(xhr, status, error) {
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                    },
                });
            }

            $('#submit-response').click(function(){
                url = "/wiki/health-product-" + {{product.id}} + "/" + selected_attr + "_form/" + selected_slabs.join("-") + "/?r="+new Date().getTime();
                submit_form(url);
            });

            $('#submit-meta-data').click(function(){
                var slist = _.flatten(slab_corr_dict[selected_attr]);
                send_req = true;
                $.each(selected_slabs, function(i, slid){
                    if(_.indexOf(slist, slid) < 0){
                        send_req = false;
                        return false;
                    }
                });
                if(send_req) {
                    url = "/wiki/ajax/save-meta/" + {{product.id}} + "/" + selected_attr + "/" + selected_slabs.join("-") + "/?r="+new Date().getTime();
                    submit_form(url);
                } else {
                    alert("Cannot add meta data, please add a data point first. Any dummy data is fine");
                }
            });

            $(".comments-popover").popover();

            $("#bottom-bar").toggle(
                function(){
                    $("#bottom-bar").animate({
                        height: "50px",
                    }, 100 );
                },
                function(){
                    $("#bottom-bar").animate({
                        height: "25px",
                    }, 100 );
                }
            );
            $("#add_notes").toggle(
                function(){
                    $("#notes_slider").animate({
                        height: "420px",
                    }, 100 );
                },
                function(){
                    $("#notes_slider").animate({
                        height: "0px",
                    }, 100 );
                }
            );

            $("#id_notes").focus(function(){
                $("#notes_status").hide();
            });
            $("#save_notes").click(function(){
                $.ajax({
                    type: "POST",
                    url: "{% url 'wiki_ajax_save_notes' product.id %}",
                    dataType : 'json',
                    data: $("form#notes_form").serialize(),
                    success: function(data) {
                        if(data.success){
                            $("#notes_status").show();
                        }
                    }
                });
            });

            $(".attr_done").click(function(){
                var attr = $(this).attr('id').split("-")[1];
                url = '{%url 'wiki_save_product_meta' product.id 'mymodel' %}'.replace('mymodel', attr);
                var checked = 'False';
                if($(this).is(":checked")){
                    checked = 'True';
                }else {
                    checked = 'False';
                }
                $.ajax({
                    'type' : 'POST',
                    'url' : url,
                    'dataType' : 'json',
                    data : {'is_completed' : checked, 'csrfmiddlewaretoken' : "{{csrf_token}}"},
                    success : function(data){
                        if(data.success){
                            console.log(data)
                        }
                    }

                })
            });

            $("#test_product").click(function(){
                $(".show_status").popover('destroy');
                var sid_attr_pop = {};
                $.getJSON("{%url 'ajax_details_health_product' insurer.id product.id%}?r=" + new Date().getTime(), function(data){
                    _.each(_.keys(data), function(slab_id){
                        var status = data[slab_id];
                        _.each(_.keys(status.errors), function(attr){
                            error_val = [];
                            _.each(status.errors[attr], function(error_data){
                                _.each(_.keys(error_data), function(field){
                                    error_val.push(field + ":" + error_data[field]);
                                });
                            });
                            var elist = $('<ul class="errors"></ul>');
                            _.each(error_val, function(eval){
                                var li = $('<li/>').addClass('eitem').appendTo(elist).html(eval.replace(/\n/, "<br/>"));
                            });
                            sid_attr_pop[slab_id+"-"+attr] = $(elist)[0].outerHTML;
                        });
                    });

                    _.each(_.keys(data), function(slab_id){
                        var status = data[slab_id];
                        _.each(_.keys(status.verbose), function(attr){
                            var vlist = $('<ul class="verbose"></ul>');
                            _.each(status.verbose[attr], function(vdata){
                                var li = $('<li/>').addClass('vitem').appendTo(vlist).html(vdata.replace(/\n/, "<br/>"));
                            });
                            sid_attr_pop[slab_id+"-"+attr] += $(vlist)[0].outerHTML;
                        });
                    });
                    _.each(_.keys(sid_attr_pop), function(k){
                        $("#ss-"+k).popover({'content' : sid_attr_pop[k], html:true});
                    });
                });
            });
        });
    </script>

</body>
</html>
