{% load manip_data %}
{% load widget_tweaks %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="en" lang="en" class="js">
    <head>
    <title>Feauture management admin: {{product.insurer.title}} - {{product.title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta property="og:site_name" content="Coverfox - Simplifying Insurance" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    </head>

<body style="padding:0px;">

    <form action="." method='POST'>
        {%csrf_token%}
    <div class="well">
        <!--a href="{%url 'insurer_dashboard'%}" class="btn btn-inverse pull-left">Back to plans</a-->
        <fieldset class="row-fluid">
            <div class="control-group span2">
                <label class="control-label">{{form.sum_assured.label}}</label>
                <div class="controls">
                    {{form.sum_assured|attr:"class:span12"}}
                <div class="error">{{form.errors.sum_assured}}</div>
                </div>
            </div>
            <div class="control-group span2">
                <label class="control-label">{{form.city.label}}</label>
                <div class="controls">
                    {{form.city|attr:"class:span12"}}
                <div class="error">{{form.errors.city}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.family.label}}</label>
                <div class="controls">
                    {{form.family|attr:"class:span12"}}
                <div class="error">{{form.errors.family}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.adults.label}}</label>
                <div class="controls">
                    {{form.adults|attr:"class:span12"}}
                <div class="error">{{form.errors.adults}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.kids.label}}</label>
                <div class="controls">
                    {{form.kids|attr:"class:span12"}}
                <div class="error">{{form.errors.kids}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.age.label}}</label>
                <div class="controls">
                    {{form.age|attr:"class:span12"}}
                <div class="error">{{form.errors.age}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.gender.label}}</label>
                <div class="controls">
                    {{form.gender|attr:"class:span12"}}
                <div class="error">{{form.errors.gender}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.spouse_age.label}}</label>
                <div class="controls">
                    {{form.spouse_age|attr:"class:span12"}}
                <div class="error">{{form.errors.spouse_age}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.kid_1_age.label}}</label>
                <div class="controls">
                    {{form.kid_1_age|attr:"class:span12"}}
                <div class="error">{{form.errors.kid_1_age}}</div>
                </div>
            </div>
            <div class="control-group span1">
                <label class="control-label">{{form.kid_2_age.label}}</label>
                <div class="controls">
                    {{form.kid_2_age|attr:"class:span12"}}
                <div class="error">{{form.errors.kid_2_age}}</div>
                </div>
            </div>
        </fieldset>
        <fieldset class="row-fluid">
            <button type="submit" class="btn btn-info">Find plans</button>
        </fieldset>
    </div>
    </form>

    <div class="results">
        {%for sd in score_data %}
        <div class="row-fluid">
            <div class="span8 well">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for attribute, data in sd.score%}
                        {%if attribute != 'claims'%}
                        <tr>
                            <th>{{attribute|labelize}}</th>
                            <td>{{data.value}}</td>
                        </tr>
                        {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        {%endfor%}
    </div>

    <!--link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'-->
    <link href="{{STATIC_URL}}radmin/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/bootstrap-responsive.min.css" rel="stylesheet">

    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/pace.min.js"></script>

    <link href="{{STATIC_URL}}radmin/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/health_product_custom_score.css" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function(){
    });
</script>

</body>
</html>
