{% load manip_data %}
{% load widget_tweaks %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="en" lang="en" class="js">
    <head>
    <title>Medical scoring and terms management admin</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta property="og:site_name" content="Coverfox - Simplifying Insurance" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
</head>

<body style="padding:0px;">

<h2>{{product.insurer.title}} - {{product.title}}</h2>
<ul id="attr_select" class="nav nav-pills">
    {%for att in attribute_list%}
    <li><a href="#{{att.2}}" class="attr_tab" data-toggle="tab">{{att.1}}</a></li>
    {%endfor%}
</ul>

<div class="tab-content">
    {%for att in attribute_list%}
    <div class="tab-pane" id="{{att.2}}">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Slabs</a>
                <ul class="nav">
                {%for slab_grps in slab_corr_dict|get_dict:att.2%}
                <li id="slab__{{att.2}}__{%for sl in slab_grps%}{{sl.id}}{%if forloop.last%}{%else%}-{%endif%}{%endfor%}" class="attribute_slabs"> <a href="javascript:void(0);">
                        {%for sl in slab_grps%}{{sl.sum_assured}}{%if sl.grade%}-{{sl.grade}}{%endif%}{%if forloop.last%}{%else%},{%endif%}{%endfor%}
                    </a> </li>
                <li class="divider-vertical"></li>
                {%endfor%}
                </ul>
            </div>
        </div>
    </div>
    {%endfor%}
</div>

<div class="form_container hide" id="aform_container">
    <h3 id="aform_title"></h3>
    <div class="row-fluid">
        <form id="attribute-form">
        </form>
        <button class="btn btn-info" id="submit-response" type="submit">Submit</button>
    </div>
    <div class="pull-right">
        <span id="saved_indicator" class="label label-success hide">Successfully saved</span>
    </div>
</div>

<div id="verbose_sidebar">
    <strong>Verbose Text</strong>
    <div>Selected : <strong id="current_focus"></strong></div>
    <div id="verbose_text"></div>
</div>

<div id="context_menu" class="hide">
    <div class="pull-right"><a href="#" onClick="$(this).parent().parent().hide();"><i class="icon-remove"></i></a></div>
    <a id="add_term" href="javascript:void(0);"></a>
</div>

<div id="bottom-bar">
    <a class="btn btn-mini" id="add_notes" href="javascript:void(0);"><i class="icon-list-alt"></i> Notes</a>
    <a class="btn btn-mini btn-danger pull-right" id="add_score" style="margin-right:10px;" href="javascript:void(0);"><i class="icon-star"></i> Score</a>
    <span id="notification">
    </span>
</div>

    <div id="notes_slider" class="notes_slider clearfix">
        <form class="form-vertical span3" id="notes_form">
            {%csrf_token%}
            <label>Write notes</label>
            <textarea class="" name="notes" id="id_notes"></textarea>
            <a href="javascript:void(0);" id="save_notes" class="btn btn-success">save</a>
            <span id="notes_status" style="color:red;display:none;">saved</span>
        </form>
    </div><!--/.notes_slider-->

    <!-- Procedure modal -->
    <div id="procedure_modal" class="modal hide fade">
        <div class="modal-header clearfix">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a title="close" href="javascript:void(0);" class="btn" data-dismiss="modal" aria-hidden="true"><i class='icon-remove'></i></a>
                </div>
            </div>
            <h3 id="procedure_modal_title">Procedures admin</h3>
        </div>
        <div class="modal-body">
            <form>
            </form>
            <button class="btn btn-info" id="submit-procedure" type="submit">Submit</button>
        </div>
        <div class="modal-footer">
            <!--a href="#" class="btn">Close</a-->
        </div>
    </div>

    <!-- Error modal -->
    <div id="error_modal" class="modal hide fade">
        <div class="modal-header clearfix">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a title="close" href="javascript:void(0);" class="btn" data-dismiss="modal" aria-hidden="true"><i class='icon-remove'></i></a>
                </div>
            </div>
            <h3 id="error_modal_title">Error</h3>
        </div>
        <div class="modal-body" id="error_modal_body">
        </div>
        <div class="modal-footer">
            <!--a href="#" class="btn">Close</a-->
        </div>
    </div>

    <div id="smodal" class="modal hide fade">
        <div class="modal-header clearfix">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a title="close" href="javascript:void(0);" class="btn" data-dismiss="modal" aria-hidden="true"><i class='icon-remove'></i></a>
                </div>
            </div>
            <h3 id="smodal_title">Medical Score</h3>
        </div>
        <div class="modal-body">
            <form id="score_form">
            </form>
            <button class="btn btn-info" id="save-score" type="submit">Submit</button>
        </div>
        <div class="modal-footer">
            <span id="save_score_indicator" class="label label-success hide">Successfully saved</span>
        </div>
    </div>

    <!--link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'-->
    <link href="{{STATIC_URL}}radmin/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/bootstrap-responsive.min.css" rel="stylesheet">

    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/pace.min.js"></script>

    <script src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>
    <script src="{{STATIC_URL}}radmin/js/jquery.tagsinput.js"></script>
    <script src="{{STATIC_URL}}radmin/js/ui.multiselect.js"></script>

    <link href="{{STATIC_URL}}radmin/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/jquery.tagsinput.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/ui.multiselect.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/health_product_manage.css" rel="stylesheet">

    <script type="text/javascript">
        var current_focus = "";
        var current_selection = "";
        var slab_dict = new Object();
        var attr_dict = new Object();

        var terms_dict = {
            'terms_list' : JSON.parse("{{terms_list|escapejs}}"),
            'standard_exclusion_list' : JSON.parse("{{standard_exclusion_list|escapejs}}"),
            'critical_illness_coverage_list' : JSON.parse("{{critical_illness_coverage_list|escapejs}}"),
            'general_list' : JSON.parse("{{general_list|escapejs}}"),
            'pre_existing_list' : JSON.parse("{{pre_existing_list|escapejs}}"),
            'day_care_list' : JSON.parse("{{day_care_list|escapejs}}")
        }

        var default_slab;
        {%for slab in product.slabs.all%}
            slab_dict[{{slab.id}}] = "{%if slab.grade%}{{slab.grade}}-{%endif%}Rs {{slab.sum_assured}}/-";
            {%ifequal slab.sum_assured 0%}
                slab_dict[{{slab.id}}] = "Default";
                default_slab = "{{slab.id}}";
            {%endifequal%}
        {%endfor%}
        {%for attr in attribute_list%}
            attr_dict["{{attr.2}}"] = "{{attr.1}}";
        {%endfor%}

        var selected_slabs = [];
        var selected_attr = "";
        $(document).ready(function(){
            var unset_form = function(){
                $("form#attribute-form").html();
                $("#aform_container").hide();
                $("#verbose_text").text();
            }

            tag_ctrls = new Array();
            terms_ctrls = new Array();
            general_ctrls = new Array();
            pe_ctrls = new Array();
            tag_ctrls.push("#id_terms_list");
            tag_ctrls.push("#id_exclusions");
            for(var i=1; i< 9; i++){
                tag_ctrls.push("#id_terms_list_" + i);
                tag_ctrls.push("#id_general_list_" + i);
                tag_ctrls.push("#id_pe_list_" + i);
                terms_ctrls.push("#id_terms_list_" + i);
                general_ctrls.push("#id_general_list_" + i);
                pe_ctrls.push("#id_pe_list_" + i);
            }

            tag_input_list = new Array();
            for(var i=0; i< tag_ctrls.length; i++){
                tag_input_list.push(tag_ctrls[i]+"_tag");
                tag_input_list.push(tag_ctrls[i]+"_tagsinput");
            }
            $("#aform_container").on('click', tag_input_list.join(","), function(){
                current_focus = $(this).attr('id').replace(/_tag$/g,'').replace(/_tagsinput$/g,'');
                var current_focus_text = $(this).attr('id').replace(/^id_/,"").replace(/tag$/g,'').replace(/tagsinput$/g,'').replace(/_/g, ' ');
                $("#current_focus").text(current_focus_text);
                $("#add_term").text("Add to " + current_focus_text);
            });

            var tidyTags = function(e) {
                var tags = ($(e.target).val() + '|' + e.tags).split('|');
                var target = $(e.target);
                target.importTags('');
                for (var i = 0, z = tags.length; i<z; i++) {
                    var tag = $.trim(tags[i]);
                    if (!target.tagExist(tag)) {
                        target.addTag(tag);
                    }
                }
                $('#' + target[0].id + '_tag').trigger('focus');
            };

            var apply_tags_input = function(id_list) {
                $(id_list).tagsInput({
                    'delimiter' : '|',
                    'height' : '100px',
                    'interactive': true,
                    'defaultText': 'add terms',
                    'onChange': function(elem, t, elemtags){
                        var tag_list = $("#" + $(this).attr('id') + "_tagsinput span.tag");

                        var rtype = $("#attr_select li.active a").attr('href').replace("#","");
                        var tlist = [];
                        switch(rtype){
                            case "general":
                                tlist = terms_dict['general_list']
                                break;
                            case "standard_exclusion":
                                tlist = terms_dict['standard_exclusion_list']
                                break;
                            case "critical_illness_coverage":
                                tlist = terms_dict['critical_illness_coverage_list']
                                break;
                            case "pre_existing":
                                tlist = terms_dict['pre_existing_list']
                                break;
                            case "day_care":
                                tlist = terms_dict['day_care_list']
                                break;
                        }
                        var tag_list = $("#" + $(this).attr('id') + "_tagsinput .tag span");
                        var tag_terms_list = [];
                        _.each(tag_list, function(ele){
                            tag_terms_list.push($(ele).text().trim().toLowerCase());
                        });

                        if(tag_list.length > 0){
                            //console.log("TAGLIST" ,tag_list);
                            _.each(tag_list, function(tag){
                                if(_.indexOf(tlist, $(tag).text().trim().toLowerCase()) < 0){
                                    //console.log("not found", tag);
                                    $(tag).parent().css('background-color','yellow');
                                }
                            });
                            var rejected = [];
                            _.each(tlist, function(term){
                                if(_.indexOf(tag_terms_list, term.trim().toLowerCase()) == -1){
                                    if(term != ""){
                                        rejected.push("<span class='rejected'>"+term+"</span>");
                                    }
                                }
                            });
                            count_html = "<strong> Total added :"+tag_list.length+" </strong>";
                            rejected_html = "<strong>Out of list: </strong>" + rejected.join("");
                            $(this).siblings('.help-block').html(count_html + " " + rejected_html);
                        }

                    },
                    autocomplete_url : terms_dict['terms_list'],
                    'removeWithBackspace' : true,
                });
            }

            var get_model_form = function() {
                if(selected_slabs.length==0 || selected_attr==''){alert("Please select a slab and property first"); return false;}
                var title_slab = _.map(selected_slabs, function(v){return slab_dict[v]}).join(",");
                url = "/wiki/health-product-" + {{product.id}} + "/" + selected_attr + "_form/" + selected_slabs.join("-") + "/?r="+new Date().getTime();
                $.getJSON(url, function(data){
                    $("form#attribute-form").html();
                    $("form#attribute-form").html(data.form);
                    $("#aform_title").text(attr_dict[selected_attr] + " | " + title_slab);
                    $("#verbose_text").text($("form#attribute-form #id_verbose").val());

                    apply_tags_input(tag_ctrls.join(","));
                    var rtype = $("ul#attr_select li.active a").attr("href").replace("#","");
                    //console.log(">>", rtype);
                    //Conditionals loading
                    switch(rtype){
                        case "general":
                            if($("#id_terms_list_1").val() == ""){
                                _.each(terms_dict['general_list'], function(tag){
                                        $("#id_terms_list_1").addTag(tag);
                                });
                            }
                            break;
                        case "standard_exclusion":
                            //console.log(">>>>>", $("#id_terms_list").val());
                            if($("#id_terms_list").val() == ""){
                                _.each(terms_dict['standard_exclusion_list'], function(tag){
                                    $("#id_terms_list").addTag(tag);
                                });
                            }
                            break;
                        case "critical_illness_coverage":
                            if($("#id_terms_list").val() == ""){
                                _.each(terms_dict['critical_illness_coverage_list'], function(tag){
                                    $("#id_terms_list").addTag(tag);
                                });
                            }
                            break;
                        case "day_care":
                            if($("#id_terms_list_1").val() == ""){
                                _.each(terms_dict['day_care_list'], function(tag){
                                    $("#id_terms_list_1").addTag(tag);
                                });
                            }
                            break;
                        case "pre_existing":
                            if($("#id_terms_list_1").val() == ""){
                                _.each(terms_dict['pre_existing_list'], function(tag){
                                    $("#id_terms_list_1").addTag(tag);
                                });
                            }
                            break;
                    }

                    $("#aform_container").show();
                }).fail(function(xhr, status, error) {
                        console.log(xhr, status, error)
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                });
            }

            var submit_form = function(url) {
                $.ajax({
                    type: "POST",
                    url: url,
                    dataType : 'json',
                    data: $("form#attribute-form").serialize(),
                    success: function(data) {
                        if(data.success){
                            $("#saved_indicator").show();
                            get_model_form();
                            $("#notification").text("Saved Successfully: " + attr_dict[selected_attr] + " | " + _.map(selected_slabs, function(s){return slab_dict[s]}).join(", "));
                        } else {
                            $('form#attribute-form .help-block').html("");
                            $('form#attribute-form .help-block').removeClass('error');
                            $.each(data.errors, function(k,v){
                                $("form#attribute-form #id_"+k+" + .help-block").html(v.join(","));
                                $("form#attribute-form #id_"+k+" + .help-block").addClass('error');
                            });
                        }
                    },
                    error : function(xhr, status, error) {
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                    },
                });
            }

            $('#submit-response').click(function(){
                url = "/wiki/health-product-" + {{product.id}} + "/" + selected_attr + "_form/" + selected_slabs.join("-") + "/?r="+new Date().getTime();
                submit_form(url);
            });

            $(".attribute_slabs").click(function(){
                selected_slabs = $(this).attr('id').split('__')[2].split("-");
                selected_attr = $(this).attr('id').split('__')[1];
                get_model_form();
                $("#saved_indicator").hide();
                $("#notification").text("Got form for " + attr_dict[selected_attr] + " | " + _.map(selected_slabs, function(s){return slab_dict[s]}).join(", "));
            });


            $(".attr_tab").click(function(){
                unset_form();
            });

            $("#add_notes").toggle(
                function(){
                    $("#notes_slider").animate({
                        height: "420px",
                    }, 100 );
                },
                function(){
                    $("#notes_slider").animate({
                        height: "0px",
                    }, 100 );
                }
            );

            $("#id_notes").focus(function(){
                $("#notes_status").hide();
            });
            $("#save_notes").click(function(){
                $.ajax({
                    type: "POST",
                    url: "{% url 'wiki_ajax_save_notes' product.id %}",
                    dataType : 'json',
                    data: $("form#notes_form").serialize(),
                    success: function(data) {
                        if(data.success){
                            $("#notes_status").show();
                        }
                    }
                });
            });

            var get_medical_score_form = function(edit_id){
                var edit_id = edit_id || null;
                if(edit_id){
                    var url = "{%url 'ajax_save_score' product.id 2222222222%}".replace('2222222222', edit_id) + "?r=" + new Date().getTime();
                } else {
                    var url = "{%url 'ajax_save_score' product.id %}?r=" + new Date().getTime();
                }
                $.getJSON(url, function(data){
                    $("#score_form").html("");
                    $("#score_form").html(data.form);
                });
                $("#smodal").modal('show');
            }

            $("form#score_form").on('click', ".wiki-edit", function(){
                var cid = $(this).attr('id').split("-")[2];
                get_medical_score_form(cid);
            });

            $("form#score_form").on('click', ".wiki-delete", function(){
                var cid = $(this).attr('id').split("-")[2];
                var url = "{%url 'wiki_ajax_medical_score_remove' product.id 2222222222%}".replace('2222222222', cid) + "?r=" + new Date().getTime();
                $.getJSON(url, function(data){
                    if(data.success){
                        get_medical_score_form();
                    }
                });
                $("#smodal").modal('show');
            });

            $("#add_score").click(function(){
                get_medical_score_form();
            });

            $("#id_score").focus(function(){
                $("#score_status").hide();
            });
            $("#save-score").click(function(){
                $.ajax({
                    type: "POST",
                    url: "{% url 'ajax_save_score' product.id %}?r="+new Date().getTime(),
                    dataType : 'json',
                    data: $("form#score_form").serialize(),
                    success: function(data) {
                        if(data.success){
                            $("#save_score_indicator").show();
                            get_medical_score_form();
                        } else {
                            $('form#score_form .help-block').html("");
                            $('form#score_form .help-block').removeClass('error');
                            $.each(data.errors, function(k,v){
                                if(k == 'slabs'){
                                    $("form#score_form .slab-help-block").html(v.join(","));
                                    $("form#score_form .slab-help-block").addClass('error');

                                }
                                $("form#score_form #id_"+k+" + .help-block").html(v.join(","));
                                $("form#score_form #id_"+k+" + .help-block").addClass('error');
                            });
                        }
                    }
                });
            });

            $("#verbose_sidebar").resizable({
                handles: 'w',
                resize: function(event, ui) {
                    ui.size.height = ui.originalSize.height;
                }
            });

            function getSelected() {
                if(window.getSelection) { return window.getSelection(); }
                else if(document.getSelection) { return document.getSelection(); }
                else {
                    var selection = document.selection && document.selection.createRange();
                    if(selection.text) { return selection.text; }
                    return false;
                }
                return false;
            }

            $('#verbose_text').mouseup(function(e) {
                current_selection = getSelected();
                //TODO: Code to cleanup the term to be added here
                if(current_focus !="" && current_selection && (current_selection = new String(current_selection).replace(/^\s+|\s+$/g,''))) {
                    var dposX = 5;
                    if($('#context_menu').width() + e.pageX > $('body').width()){
                        dposX = -($('#context_menu').width() + 5);
                    }
                    var dposY = 5;
                    if($('#context_menu').height() + e.pageY > $('body').height()){
                        dposY = -($('#context_menu').height() + 5);
                    }
                    $('#context_menu').css({ 'top':e.pageY+dposY, 'left':e.pageX+dposX }).show();
                }
            });

            $("#add_term").click(function(){
                var cfocus = current_focus;
                console.log(">>", cfocus, current_selection);
                $("#"+cfocus).addTag(current_selection);
                $("#context_menu").hide();
            });

        });
    </script>

</body>
</html>
