{% load manip_data %}
{% load widget_tweaks %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="en" lang="en" class="js">
    <head>
    <title>Medical Condition Management Admin: {{insurer.title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta property="og:site_name" content="Coverfox - Simplifying Insurance" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
</head>

<body style="padding:0px;">

<div style="width:100%;">
    <table id="manage-table">
        <thead>
            <tr>
                <th>
                    <div class="btn-group">
                        <a href="javascript:void(0);" class="detach-button btn btn-danger btn-small">Detach</a>
                        <a href="javascript:void(0);" id="edit-button" class="activate-modal btn btn-large">Rule</a>
                    </div>
                </th>
                {%for product in products%}
                <th class='product' title="ProductID {{product.id}}" style="background-color:#56423C;">
                    <div>
                        {{insurer.title}}-{{product.title}}<br />
                        {{product.policy_type}}
                    </div>
                </th>
                {%endfor%}
            </tr>
        </thead>
        <tbody>
            {%for medical_condition in medical_conditions%}
            <tr class="trattribute-{{medical_condition.id}} trattribute">
                <td class="attribute" title="MedicalConditionID {{medical_condition.id}}">
                    <div>
                        <label class="checkbox">
                            {{medical_condition.medical_condition}}<input class="medical_condition_done" type="checkbox" id="medical_condition_done-{{medical_condition.id}}">
                        </label>
                    </div>
                </td>
                {%for product in products%}
                <td class="tditem" id="td-{{product.id}}-{{medical_condition.id}}">
                    <div class='form-inline'>
                        <label class="checkbox">
                            <label class="checkbox"><input type="checkbox" class="select_product" medical_condition="{{medical_condition.id}}" product="{{product.id}}" id="select-{{product.id}}-{{medical_condition.id}}">select</label>
                        </label>
                    </div>
                </td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div> <!-- #container -->


<div id="bottom-bar">
    <div class="pull-right">
        <a class="btn btn-mini btn-inverse" href="#" onclick="window.location='{%url 'wiki_dashboard'%}'">Dashboard</a>
    </div>
    <span id="notification">
    </span>
</div>

    <!-- Sbscriber Model -->
    <div id="fmodal" class="modal hide fade">
        <div class="modal-header clearfix">
            <div class="btn-toolbar pull-right">
                <div class="btn-group">
                    <a title="refresh" href="javascript:void(0);" id='refresh' class="btn activate-modal"><i class='icon-refresh'></i></a>
                    <a title="close" href="javascript:void(0);" class="btn" data-dismiss="modal" aria-hidden="true"><i class='icon-remove'></i></a>
                </div>
            </div>
            <h3 id="fmodal_title">Form title</h3>
        </div>
        <div class="modal-body">
            <form id="attribute-form">
            </form>
            <button class="btn btn-info" id="submit-response" type="submit">Submit</button>
        </div>
        <div class="modal-footer">
            <span id="saved_indicator" class="label label-success hide">Successfully saved</span>
        </div>
    </div>





    <!--link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'-->
    <link href="{{STATIC_URL}}radmin/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/bootstrap-responsive.min.css" rel="stylesheet">

    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/underscore-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}radmin/js/pace.min.js"></script>

    <script src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>
    <script src="{{STATIC_URL}}radmin/js/jquery.tagsinput.js"></script>
    <script src="{{STATIC_URL}}radmin/js/ui.multiselect.js"></script>
    <script src="{{STATIC_URL}}radmin/js/fixed_table_rc.js"></script>

    <link href="{{STATIC_URL}}radmin/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/jquery.tagsinput.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/ui.multiselect.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/health_product_manage.css" rel="stylesheet">
    <link href="{{STATIC_URL}}radmin/css/fixed_table_rc.css" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function(){
            var add_detach_link = function(product, medical_condition){
                if($("input#detach_select-"+product+"-"+medical_condition).length == 0) {
                    $("td#td-"+product+"-"+medical_condition+" "+"div").append(' <label class="detach_checkbox">| <input class="detach_select_product" medical_condition="'+medical_condition+'" product="'+product+'" type="checkbox" id="detach_select-'+product+'-'+medical_condition+'">detach</label>');
                }
            }

            var remove_detach_link = function(product, medical_condition){
                //$("input#detach_select-"+product+"-"+medical_condition).remove();
                $("#td-"+product+"-"+medical_condition+" .detach_checkbox").remove()
            }

            var product_corr_dict = JSON.parse('{{product_correct_dict|safe}}');
            _.each(_.keys(product_corr_dict), function(medical_condition){
                _.each(product_corr_dict[medical_condition], function(grp_list){
                    _.each(grp_list, function(product){
                        add_detach_link(product, medical_condition);
                    });
                });
            });

            $('body').on("click", "a.detach-button", function(){
                if(detach_selected_medical_condition == "") {
                    alert("Select products to detach");
                    return false;
                }
                product = detach_selected_products.join("-");
                medical_condition = detach_selected_medical_condition;
                url = '{%url 'wiki_ajax_detach_medical_condition' '111' '222' %}'.replace('111', product).replace('222', medical_condition);
                $.getJSON(url, function(data){
                    console.log("Detached ", medical_condition, product, data);
                    if(data.success && data.detached) {
                        product_corr_dict[medical_condition] = data.corr_list;
                        $("#notification").text("Detached :" + medical_condition_dict[medical_condition] + " - " + product);

                        $("input#select-"+detach_selected_products[0]+"-"+medical_condition+".select_product").prop('checked', true).trigger('change');
                        detach_selected_products = product.split("-")
                        $.each(detach_selected_products, function(index, value){
                            remove_detach_link(value, medical_condition);
                        });
                        $("td.hovered").removeClass('hovered');
                    }
                }).fail(function(xhr, status, error) {
                        console.log(xhr, status, error)
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                });
            });

            $(".tditem").hover(function(){
                $("td.hovered").removeClass('hovered');
                var tid = $(this).attr('id');
                var product = tid.split('-')[1];
                var medical_condition = tid.split('-')[2];
                _.each(product_corr_dict[medical_condition], function(grp){
                    if(_.indexOf(grp, product) >= 0){
                        _.each(grp, function(i){
                            $("td#td-"+i+"-"+medical_condition).addClass('hovered');
                        });
                        return false;
                    }
                });
            });

            $('#manage-table').fxdHdrCol({
                fixedCols    : 1,        /* 3 fixed columns */
                width        : "100%",   /* set the width of the container (fixed or percentage)*/
                height       : $(window).height()-35,      /* set the height of the container */
                colModal: [              /* Optional: set the colmodal property for each tr/th or td/td*/
                    { width: 250, align: 'left'},
                    {%for product in products%}{ width: 200, align: 'left'},{%endfor%}
                ]
            });

            var product_dict = new Object();
            var medical_condition_dict = new Object();
            {%for product in products%}
                product_dict[{{product.id}}] = "{{product.title}}-{{product.policy_type}}";
            {%endfor%}
            {%for dis in medical_conditions%}
                medical_condition_dict["{{dis.id}}"] = "{{dis.medical_condition}}";
            {%endfor%}

            var selected_products = new Array();
            var selected_medical_condition = '';
            var detach_selected_products = new Array();
            var detach_selected_medical_condition = '';

            $('.detach_select_product:checked').removeAttr('checked')
            $(".tditem").on("change", ".detach_select_product", function(){
                $('.select_product:checked').removeAttr('checked')
                $(".trattribute.selected").removeClass('selected');
                $(".tditem.selected").removeClass('selected');
                selected_medical_condition = '';
                selected_products = new Array();

                var product = $(this).attr('id').split("-")[1];
                var medical_condition = $(this).attr('id').split("-")[2];

                // Product selection logic
                //if first time medical_condition is selected
                if(detach_selected_medical_condition == '') {
                    detach_selected_medical_condition = medical_condition;
                    detach_selected_products = new Array();
                    detach_selected_products.push(product);
                } else {
                    //if new medical_condition is selected or changed
                    if(detach_selected_medical_condition != medical_condition) {
                        detach_selected_products = new Array();
                        detach_selected_products.push(product);
                        detach_selected_medical_condition = medical_condition;
                    }else {
                        //if new product is selected in the same medical_condition
                        detach_selected_products = _.map($(".detach_select_product:checked[medical_condition='"+detach_selected_medical_condition+"']"), function(v){return $(v).attr('id').split("-")[1]});
                    }
                }

                // Correlated Product logic
                var corr_logic_pass = true;
                if(detach_selected_medical_condition != ''){
                    var corr_list = product_corr_dict[detach_selected_medical_condition];
                    //if current product is not correlated, deselect all and select this only
                    var matching_grp = [];
                    $.each(corr_list, function(i, grp){
                        if(_.indexOf(grp, product) >= 0){
                            matching_grp = grp;
                            return false;
                        }
                    });
                    if(matching_grp.length > 0){
                        $.each(detach_selected_products, function(i, dsl){
                            if(_.indexOf(matching_grp, dsl) < 0){
                                corr_logic_pass = false;
                                return false;
                            }
                        });
                    }
                }

                if(!corr_logic_pass) {
                    detach_selected_products = new Array();
                    detach_selected_medical_condition = '';
                }

                $('.detach_select_product:checked').removeAttr('checked')
                $(".tditem.detach_selected").removeClass('detach_selected');
                _.map(detach_selected_products, function(s){
                    $("#td-"+s+"-"+medical_condition).addClass('detach_selected');
                    $('#detach_select-'+s+"-"+detach_selected_medical_condition).attr('checked', true);
                });
                $("#notification").text("Selected Medical Condition to detach: "+medical_condition_dict[detach_selected_medical_condition] + " | " + "Selected Products: "+ _.map(detach_selected_products, function(s){return product_dict[s]}).join(", "));
            });


            $('.select_product:checked').removeAttr('checked')
            $(".select_product").change(function(){
                $('.detach_select_product:checked').removeAttr('checked')
                $(".tditem.detach_selected").removeClass('detach_selected');
                detach_selected_medical_condition = '';
                detach_selected_products = new Array();

                var product = $(this).attr('id').split("-")[1];
                var medical_condition = $(this).attr('id').split("-")[2];

                // Product selection logic

                //if first time medical_condition is selected
                if(selected_medical_condition == '') {
                    selected_medical_condition = medical_condition;
                    selected_products = new Array();
                    selected_products.push(product);
                } else {
                    //if new medical_condition is selected or changed
                    if(selected_medical_condition != medical_condition) {
                        selected_products = new Array();
                        selected_products.push(product);
                        selected_medical_condition = medical_condition;
                    }else {
                        //if new product is selected in the same disease
                        selected_products = _.map($(".select_product:checked[medical_condition='"+selected_medical_condition+"']"), function(v){return $(v).attr('id').split("-")[1]});
                    }
                }


                // Correlated Product logic
                corr_logic_applied = false;
                if(selected_medical_condition != ''){
                    var corr_list = product_corr_dict[selected_medical_condition];
                    //if current product is correlated, deselect all and select related ones only
                    _.each(corr_list, function(grp){
                        if(_.indexOf(grp, product) >= 0){
                            selected_products = grp;
                            corr_logic_applied = true;
                            return false;
                        }
                    });
                    if(!corr_logic_applied){
                        _.each(corr_list, function(grp){
                            if(_.intersection(grp, selected_products).length > 0){
                                selected_products = new Array();
                                alert("There are common rules for some selected products, please reselect");
                                corr_logic_applied = true;
                                return false;
                            }
                        });
                    }
                }

                $('.select_product:checked').removeAttr('checked')
                $(".trattribute.selected").removeClass('selected');
                $(".tditem.selected").removeClass('selected');
                $(".trattribute-"+selected_medical_condition).addClass('selected');
                _.map(selected_products, function(s){
                    $("#td-"+s+"-"+medical_condition).addClass('selected');
                    $('#select-'+s+"-"+selected_medical_condition).attr('checked', true);
                });
                $("#notification").text("Selected medical condition: "+medical_condition_dict[selected_medical_condition] + " | " + "Selected Products: "+ _.map(selected_products, function(s){return product_dict[s]}).join(", "));
            });

            var tidyTags = function(e) {
                var tags = ($(e.target).val() + '|' + e.tags).split('|');
                var target = $(e.target);
                target.importTags('');
                for (var i = 0, z = tags.length; i<z; i++) {
                    var tag = $.trim(tags[i]);
                    if (!target.tagExist(tag)) {
                        target.addTag(tag);
                    }
                }
                $('#' + target[0].id + '_tag').trigger('focus');
            };


            var get_model_form = function(edit_id) {
                var edit_id = edit_id || null;
                if(selected_products.length==0){alert("Please select a product and medical condition first"); return false;}
                var title_product = _.map(selected_products, function(v){return product_dict[v]}).join(",");
                if(edit_id){
                    url = "/wiki/medical-condition-" + selected_medical_condition + "/products-" + selected_products.join("-") + "/medical_permission_form/"+"?r="+new Date().getTime();
                } else {
                    url = "/wiki/medical-condition-" + selected_medical_condition + "/products-" + selected_products.join("-") + "/medical_permission_form"+"/?r="+new Date().getTime();
                }
                $.getJSON(url, function(data){
                    $("form#attribute-form").html();
                    $("form#attribute-form").html(data.form);
                    $("#fmodal_title").text(medical_condition_dict[selected_medical_condition] + " | " + title_product);


                    $("#fmodal").modal('show');
                }).fail(function(xhr, status, error) {
                        console.log(xhr, status, error)
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                });
            }

            $('#edit-button').on('click', function(){
                var cid = selected_products.join("-");
                get_model_form(cid);
            });

            $('form#attribute-form').on('click', '.wiki-edit', function(){
                var cid = $(this).attr('id').split("-")[2];
                get_model_form(cid);
            });

            $(".activate-modal").click(function(){
                $("#saved_indicator").hide();
                $("#notification").text("Got form for " + medical_condition_dict[selected_medical_condition] + " | " + _.map(selected_products, function(s){return product_dict[s]}).join(", "));
            });


            $("form#attribute-form").on('change', ':input', function(){
                $("#saved_indicator").hide();
            });

            var submit_form = function(url) {
                $.ajax({
                    type: "POST",
                    url: url,
                    dataType : 'json',
                    data: $("form#attribute-form").serialize(),
                    success: function(data) {
                        if(data.success){
                            $("#saved_indicator").show();
                            product_corr_dict[selected_medical_condition] = data.response.corr_list;

                            _.each(selected_products, function(product_id){
                                $("#info-"+product_id+"-"+selected_medical_condition).hide();
                                $("#info-"+product_id+"-"+selected_medical_condition).popover('destroy');
                                $("#verb-"+product_id+"-"+selected_medical_condition).hide();
                                if(data.response.comments) {
                                    $("#info-"+product_id+"-"+selected_medical_condition).popover({'content':data.response.comments});
                                    $("#info-"+product_id+"-"+selected_medical_condition).show();
                                }
                                if(data.response.verbose) {
                                    console.log("Verb", product_id, selected_medical_condition);
                                    $("#verb-"+product_id+"-"+selected_medical_condition).show();
                                }

                                $("#td-"+product_id+"-"+selected_medical_condition+" .completed").hide();
                                if(data.response.is_completed){
                                    $("td#td-"+product_id+"-"+selected_medical_condition+" .completed").show();
                                }
                            });

                            get_model_form();
                            _.each(selected_products, function(product){
                                add_detach_link(product, selected_medical_condition);
                            });
                            $("#notification").text("Saved Successfully: " + medical_condition_dict[selected_medical_condition] + " | " + _.map(selected_products, function(s){return product_dict[s]}).join(", "));
                        } else {
                            $('form#attribute-form .help-block').html("");
                            $('form#attribute-form .help-block').removeClass('error');
                            $.each(data.errors, function(k,v){
                                $("form#attribute-form #id_"+k+" + .help-block").html(v.join(","));
                                $("form#attribute-form #id_"+k+" + .help-block").addClass('error');
                            });
                        }
                    },
                    error : function(xhr, status, error) {
                        $('#error_modal').modal('show');
                        $('#error_modal_title').html(xhr.statusText);
                        $('#error_modal_body').html(xhr.responseText);
                    },
                });
            }

            $('#submit-response').click(function(){
                url = "/wiki/medical-condition-" + selected_medical_condition + "/products-" + selected_products.join("-") + "/medical_permission_form/?r="+new Date().getTime();
                submit_form(url);
            });

            $(".comments-popover").popover();

            $("#bottom-bar").toggle(
                function(){
                    $("#bottom-bar").animate({
                        height: "50px",
                    }, 100 );
                },
                function(){
                    $("#bottom-bar").animate({
                        height: "25px",
                    }, 100 );
                }
            );



        });

    </script>

</body>
</html>
