{% extends "wiki/base_insurer.html" %}

{% load i18n %}
{% load compress %}

{%block header_css%}
    <link href="{{STATIC_URL}}css/blog.css" rel="stylesheet">
{%endblock%}

{%block header_js_css%}
{%endblock%}

{%block main%}

<div class="row-fluid">
    <div class="span9 area">
        <div class="list internal">
            {%if object_list%}
            {% for post in object_list %}
            <article id="post-{{post.id}}" style="margin-bottom:40px;" class="type-post status-{{post.get_status_display|lower}} {%for pc in post.categories.all%}{{pc.slug}} {%endfor%}">
                <!--span style="padding:2px;background-color:#999999;color:#FFFFFF;">{{post.get_status_display}}</span-->
                <div class="row-fluid">
                    <div class="span3">
                        <figure class="thumbnail">
                            <a class="img_wrap" href="{{ post.get_absolute_url }}">
                                <img alt="{{post.title}}" class="attachment-post-thumbnail" src="{{post.thumbnail.url_s}}">
                            </a>
                        </figure>
                    </div><!--/.span3-->
                    <div class="span9">
                        <div class="post-content post-tease">
                            <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
                            <p class="post-meta">
                                Written by <a class="author" href="{{post.author.get_absolute_url}}">{{ post.author.first_name }}</a>,
                                <span class="date">{{ post.publish|date:"D, M d Y" }}</span>
                                {%if request.user.is_staff%}
                                    <a href="{{ post.get_edit_url }}">(edit)</a>
                                {%endif%}
                            </p>
                            <p class="tease">
                                {{ post.tease|safe }} ...
                            </p>
                        </div>
                        <div class="clearfix">
                            <div class="share">
                                <a class="btn btn-info btn-mini" href="{{ post.get_absolute_url }}">Continue reading</a>
                            </div>
                            <div class="clearfix share">
                                <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{settings.SITE_URL}}{{post.get_absolute_url}}" data-via="coverfox" data-lang="en">Tweet</a>
                                <fb:like href="{{settings.SITE_URL}}{{post.get_absolute_url}}" width="450" layout="button_count" show_faces="false" send="false"></fb:like>
                            </div>
                            <div>
                                <a class="comnt-tag" href="{{settings.SITE_URL}}{{post.get_absolute_url}}#disqus_thread">Comments</a>
                            </div>
                       </div><!--/.clearfix-->
                    </div><!--/.span9-->
                </div><!--/.row-fluid-->
            </article>
            {% endfor %}
            {%else%}
            <h4 style="color:#9d9d9d;margin:35px 0px;">There are currently no posts for this category. Coming soon!</h4>
            {%endif%}
        </div>

        {% if is_paginated %}
        <ul class="pager">
            {% if page_obj.has_previous %}
                <li class="previous">
                    <a href="{{request.META.PATH_INFO}}?page={{ page_obj.previous_page_number }}">&larr; Newer</a>
                </li>
            {%endif%}
            {% if page_obj.has_next %}
                <li class="next">
                    <a href="{{request.META.PATH_INFO}}?page={{ page_obj.next_page_number }}">Older &rarr;</a>
                </li>
            {%endif%}
        </ul>
        {% endif %}

    </div>

    {%include "blog/snippets/right_column.html" %}
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'coverfox'; // required: replace example with your forum shortname
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var s = document.createElement('script'); s.async = true;
                s.type = 'text/javascript';
                s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        </script>

{%endblock main%}

{%block footer_js%}
    <script src="{{STATIC_URL}}js/jquery.form.js"></script>
{%endblock%}
