{% load custom_tag %}
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<p>Manage medical conditions..</p>
<!-- Add data modal -->
<div id="add_data_modal" class="modal hide" style="width:66%;left:38%;" >
    <div class="modal-header clearfix">
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <a title="close" href="javascript:void(0);" class="btn" data-dismiss="modal" aria-hidden="true"><i class='icon-remove'></i></a>
            </div>
        </div>
        <h3 id="add_data_modal_title">Change medical conditon</h3>
    </div>
    <div class="modal-body" id="add_data_modal_body">
        <p class='error' id="notification"></p>
        <p id="result"></p>
        <form >
            {% csrf_token %}
        <div id="condition_form"></div>
        <button type="button" id="btn_submit">save</button>
        </form>


    </div>
    <div class="modal-footer">
        <!--a href="#" class="btn">Close</a-->
    </div>
</div>

<table border="1" class="table table-striped table-condensed header-fixed" >
    <tr>
        <th>***</th>
        {% for hp in healthproducts %}
            <th>
                {{ hp }} - {{hp.policy_type}}
            </th>
        {% endfor %}
    </tr>
    {% for md in m_objects %}
        <tr>
            <td>{{md}}</td>
            {% for hp in healthproducts %}
            <td style="text-align:center" >
                <a href="#" id='change_permissions_btn' data-md={{md.id}} data-hp={{hp.id}}><i class="icon-pencil"></i><label id="label_{{md.id}}-{{hp.id}}">{{ md.id|get_transaction_permission:hp.id  }} </label></a>
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>

<link href="{{STATIC_URL}}radmin/css/bootstrap.min.css" rel="stylesheet">
<link href="{{STATIC_URL}}radmin/css/bootstrap-responsive.min.css" rel="stylesheet">
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}radmin/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}radmin/js/jquery.form.js"></script>

<link href="{{STATIC_URL}}radmin/css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
<link href="{{STATIC_URL}}radmin/css/hospital_admin.css" rel="stylesheet">

<script>

$(function() {

    $('#change_permissions_btn').live('click', function(){
        $('#add_data_modal').modal('toggle');
        $('#result').html("");
        var md = $(this).data('md');
        var hp = $(this).data('hp');

        $.ajax({
            type:"GET",
            url: "edit-medical-condition/",
            data: {"medical_condition": md, "health_product":hp},
            success: function(data){
                console.log(data);
                if(data.success){
                    $('#condition_form').html(data.form);
                    $('#notification').html("");
                }
                else
                    $('#notification').html(data.errors);
            },error: function(data){
                $('#notification').html("Server return error! 500");
            }
        });
    });

    $('#btn_submit').on('click', function (e) {

        $.ajax({
            type: 'post',
            url: 'edit-medical-condition/',
            data: $('form').serialize(),
            success: function (data) {
                console.log(data);
                if(data.success){
                    $('#condition_form').html(data.form);
                    $('#notification').html("Saved");
                    $('#notification').css({'color':'green'});
                    $("#label_"+ data.key).html(data.value);
                }
                else {
                    error = "";
                    for(k in data.errors){
                        error += k + " : " + data.errors[k][0] + "<br/>";
                    }
                    $('#notification').html(error);
                    $('#notification').css({'color':'red'});
                }
            },error: function(data){
                $('#notification').html("Server return error! 500");
                $('#notification').css({'color':'red'});
            }

        });

    });

});
</script>
<style >

</style>
</body>
</html>

