{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="car-banner">
        <div class="container">
            <div class="row">
                <div class="hero-form col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-2 pnone">
                    <div class="form-box-mini">
                        <h1>{{ form.heading|safe }}</h1>
                        <h3>{{ form.sub_heading|safe }}</h3>
                        <ul class="form">
                            <li class="active" data-type="old">
                                    <span class="checkbox">
                                        <img src="{{STATIC_URL}}lp-motor/affiliate/img/checkmark-white.png" alt=""/>
                                    </span>
                                Renew Existing Policy
                            </li>
                            <li data-type="new">
                                    <span class="checkbox">
                                        <img src="{{STATIC_URL}}lp-motor/affiliate/img/checkmark-white.png" alt=""/>
                                    </span>
                                Buy Insurance for a new car
                            </li>
                        </ul>
                        <a id="hero_next" href="/motor/car-insurance/"><button class="btn-cfox orange btn-next btn-block">
                            {{ form.button_text|safe }}
                        </button></a>
                    </div><!--/.form-box-mini-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.car-banner-->
{% endblock %}
{% block benifit_list %}
    <section class="prop-cos">
        <div class="container">
            <h1>Get 100% Claims Support with <img class="logo" src="{{STATIC_URL}}lp-motor/img/coverfox-logo-white.png" alt="Coverfox"/></h1>
            <h3>Avail upto 60% discount on premium by buying a policy ONLINE</h3>
            <ul class="prop clearfix">
                {% for point in mainbody.points %}
                    <li><img src="{{STATIC_URL}}lp-motor/img/checkmark-white.png" alt=""/> {{ point|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
{% block call_to_action_1 %}
{% endblock %}
{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/affiliate/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{% block hero_form_js %}
    <script src="{{STATIC_URL}}marketing/motor/js/utils.js"></script>
    <script src="{{STATIC_URL}}marketing/motor/js/hero_form.js"></script>
{% endblock %}

{%block footer_js%}
{% endblock %}
