{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block header %}
{% endblock %}
{% block top_link %}
<div id="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-4 col-sm-4">
                    <div class="logo">
                        <a href="/">
                            {% block cf_logo %}
                                <img src="{{STATIC_URL}}lp-motor/img/coverfox-logo.png?ver=1" alt="Coverfox" class="logo">
                            {% endblock %}
                        </a>
                        <br/>
                    </div>
                    <div id="irda-auth" class="irda-auth-badge">
                        <span>
                            IRDA Licence:
                            <br>IRDA/ DB 556/ 13
                        </span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-8 col-sm-8">
                    <ul id="right-menu-items" class="clearfix">
                        {% block crossover %}
                            <li class="pipe-link"><a href="/lp/health-insurance/buy/?hopover_case=True">Health</a></li>
                            <li class="pipe-link"><a href="/lp/bike-insurance/bike/?hopover_case=True">Two Wheeler</a></li>
                            <li class="pipe-link"><a href="/home-insurance/?hopeover_case=True">Home</a></li>
                            <li class="pipe-link"><a href="/travel-insurance/?hopover_case=True">Travel</a></li>
                            <li class="pipe-link seperator"></li>
                        {% endblock crossover %}
                        {% block tollfree %}
                            {% ifequal view_id 'call' %}
                                <li class="c2c">
                                    <a href="javascript:ClickToCall('top_bar')">
                                        {{ settings.CAR_CALL_ONLY }}
                                    </a>
                                    Toll Free
                                    <img src="{{STATIC_URL}}lp-motor/img/phone.png?ver=1" alt="" class="menuimg">
                                </li>
                            {% else %}
                                <li class="c2c">
                                    <a href="javascript:ClickToCall('top_bar')">
                                        {{ settings.CAR_TOLL_FREE }}
                                    </a>
                                    Toll Free
                                    <img src="{{STATIC_URL}}lp-motor/img/phone.png?ver=1" alt="" class="menuimg">
                                </li>
                            {% endifequal %}
                        {% endblock tollfree %}
                    </ul>
                </div>
            </div>
            <button id="toggle-menu" class="navbar-toggle">
                <span class="bar plus"></span>
                <span class="bar minus"></span>
            </button>
            <ul id="pipe-links" class="pipe-menu-right">
                <li><a href="/lp/health-insurance/buy/?hopover_case=True">Health Insurance</a></li>
                <li><a href="/lp/bike-insurance/bike/?hopover_case=True">Two Wheeler Insurance</a></li>
                <li><a href="/home-insurance/?hopeover_case=True">Home Insurance</a></li>
                <li><a href="/travel-insurance/?hopover_case=True">Travel Insurance</a></li>
            </ul>
        </div><!--/.container-->
</div><!--/#topbar-->
<section class="basanti_txt_container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Musibat bata ke nahi aati.</h1>
                <h3>Car insurance instantly renew Karo.</h3>
            </div>
        </div>
    </div>
</section>
<section class="hero-wrapper">
    {% block hero %}
    <div class="car-banner">
        <div class="container">
            <div class="row">
                <div class="hero-form col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-2 pnone">
                    <div class="form-box-mini">
                        <h1>{{ form.heading|safe }}</h1>
                        <h3>{{ form.sub_heading|safe }}</h3>
                        <ul class="form">
                            <li class="active" data-type="old">
                                    <span class="checkbox">
                                        <img src="{{STATIC_URL}}lp-motor/switch/img/checkmark-white.png" alt=""/>
                                    </span>
                                Renew Existing Policy
                            </li>
                            <li data-type="new">
                                    <span class="checkbox">
                                        <img src="{{STATIC_URL}}lp-motor/switch/img/checkmark-white.png" alt=""/>
                                    </span>
                                Buy Insurance for a new car
                            </li>
                            <li data-type="expired">
                                    <span class="checkbox">
                                        <img src="{{STATIC_URL}}lp-motor/switch/img/checkmark-white.png" alt=""/>
                                    </span>
                                Renew Expired Policy
                            </li>
                        </ul>
                        <label for="contact-me-num">Mobile Number</label>
                        <div class="cfinput addon-field">
                            <span class="addon">+91</span>
                            <input type="text" id='contact-me-num' placeholder="Enter mobile number"/>
                        </div>
                        <div class="contact-me-error">
                            <p class="error">Please enter a valid 10 digit mobile number</p>
                        </div>
                        <button id="show_quote_btn" class="btn-cfox orange btn-next btn-block">
                            {{ form.button_text|safe }}
                        </button>
                        <div class="terms-msg">{{ settings.DND_MSG }}</div>
                        <div class="toll-free">
                            Call us on: <a href="javascript:ClickToCall('top_bar')">
                                {{ settings.CAR_TOLL_FREE }}
                            </a>
                        </div>
                    </div><!--/.form-box-mini-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.car-banner-->
{% endblock %}
    {% block mob_form_section %}
    {% endblock %}
</section><!--/.hero-wrapper-->
{% endblock %}
{% block benifit_list %}
    <section class="prop-cos">
        <div class="container">
            <h1>Get 100% Claims Support with <img class="logo" src="{{STATIC_URL}}lp-motor/img/coverfox-logo-white.png" alt="Coverfox"/></h1>
            <h3>Avail upto 60% discount on premium by buying a policy ONLINE</h3>
            <ul class="prop clearfix">
                {% for point in main_body.points %}
                    <li><img src="{{STATIC_URL}}lp-motor/img/checkmark-white.png" alt=""/> {{ point|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/basanti/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{%block footer_js%}
    <script type="text/javascript">
        var hero_phone_mandatory = 'YES';
    </script>
{% endblock %}
