{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
{% language lang|default:'en-us' %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{% block og_title %}Coverfox Insurance, India{% endblock og_title %}" />
    <meta property="og:description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance online." />
    <meta property="og:image" content="{% block og_image %}{{STATIC_URL}}home/img/coverfox_logo_fb.jpg{% endblock og_image %}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="403">
    <meta property="og:image:height" content="403">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>{% block title %}
        {% if page_title %}
            {{ page_title }}
        {% else %}
            Compare Car Insurance Premium Quotes | Buy Car Insurance online
        {% endif %}
    {% endblock %}</title>
    <meta name="description" content="{% block description %}{% if description %}{{ description }}{% else %}Compare Car Insurance premium from Top Companies{% endif %}{% endblock %}" />

    <link rel="shortcut icon" href="{{STATIC_URL}}lp-motor/img/favicon.ico" type="image/x-icon" />

    {#    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>#}
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/css/bootstrap.css" rel="stylesheet">
        <link href="{{STATIC_URL}}global/css/header_footer_2.css" rel="stylesheet">
        {% block base_css %}<link href="{{STATIC_URL}}lp-motor/css/style.css" rel="stylesheet">{% endblock %}
    {% endcompress %}
    {% block header %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    <script src="{{STATIC_URL}}campaign/js/jquery.min.js"></script>
    <!-- Sentry   -->
    {%if settings.PRODUCTION%}
        <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
        <script>
            Raven.config('https://b73a2dd7e1714ae3aab0e33fd663b391@app.getsentry.com/33123', {
            }).install();
        </script>
    {%endif%}

    <!-- start Mixpanel --
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
        mixpanel.init("f6b6a4af17bcce00d518ad43b8dcadba",{debug:true});
    </script>
    <!-- end Mixpanel -->

    <script type="text/javascript">
        dataLayer = [];
        // fix for IE9
        if (typeof console == "undefined") {
            this.console = {log: function() {}};
        }
    </script>


    {% block vwo %}
        <!-- Start Visual Website Optimizer Asynchronous Code -->
        <script type='text/javascript'>
            var _vwo_code=(function(){
                var account_id=113955,
                        settings_tolerance=2000,
                        library_tolerance=2500,
                        use_existing_jquery=false,
                // DO NOT EDIT BELOW THIS LINE
                        f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
        </script>
        <!-- End Visual Website Optimizer Asynchronous Code -->
    {% endblock vwo %}

</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MR4FRN');</script>
<!-- End Google Tag Manager -->
{% block message %}
{% endblock %}
<header>
    {% if view_id == 'call' %}
        {% include "flatpages:header_2.html" with lp_page="Car" lp_contact=settings.CAR_CALL_ONLY %}
    {% elif view_id == 'tparty' %}
        {% include "flatpages:header_2.html" with lp_page="Car" lp_tparty=tparty lp_src=tparty_src lp_alt=tparty_alt %}
    {% else %}
        {% include "flatpages:header_2.html" with lp_page="Car" lp_contact=settings.CAR_TOLL_FREE %}
    {% endif %}
</header>
{% block top_link %}
    <section class="hero-wrapper">
        {% block hero %}
        {% endblock %}
        {% block mob_form_section %}
        {% endblock %}

    </section><!--/.hero-wrapper-->
{% endblock %}
{% block companies %}
    <section class="companies-wrapper">
        <div class="container-fluid">
            {% block mob_companies_header %}{% endblock %}
            <div class="row">
                <ul class="company-logos">
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/larsen-and-tubro-general-insurance.png?ver=1" alt="Larsen and Tubro General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/bajaj-allianz-general-insurance.png?ver=1" alt="Bajaj Allianz General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/bharti-axa-general-insurance.png?ver=1" alt="Bharti AXA General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/tata-aig.png?ver=1" alt="Tata Aig"></li>
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/iffco-tokio-general-insurance.png?ver=1" alt="IFFCO TOKIO General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/hdfc-ergo-general-insurance.png?ver=1" alt="HDFC ERGO General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/universal-sompo-general-insurance.png?ver=1" alt="Universal Sompo General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/new-india-general-insurance.png?ver=1" alt="New India General Insurance - Four Wheeler Insurance"></li>

                </ul>
            </div>
        </div>
    </section><!-- companies wrapper -->

{% endblock %}
{% block otp_pop%}

{% endblock %}
{% block car_services%}{% endblock %}
{% block benifit_list %}{% endblock %}

{% block illustration %}{% endblock %}

{% block mob_expert_advice %}{% endblock %}

{% block free_services %}
    <section class="dark-box free-services">
        <div class="container">

            <h1>
                <!--img class="bag" src="{{STATIC_URL}}lp-motor/img/icon_bag.png?ver=1" alt=""/-->
                <!--img class="logo" src="{{STATIC_URL}}lp-motor/img/coverfox-logo.png?ver=1" alt="Coverfox"/-->
                {% blocktrans %} Car Insurance Benefits from" <img class="logo" src="{{STATIC_URL}}lp-motor/img/coverfox-logo.png?ver=1" alt="Coverfox Insurance Broking Pvt. Ltd."/> [Free]
                {% endblocktrans %}
            </h1>
            <div class="row">
                <div class="col-sm-4">
                    <div class="proposition">
                        <img src="{{STATIC_URL}}lp-motor/img/fs-support.png?ver=1" alt="Dedicated Relationship Manager"/>
                        {% blocktrans %}
                        <h4>Dedicated Relationship Manager</h4>
                        <p>A call away to help you with policy paperwork and co-ordination at the time of claims"</p>
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="proposition">
                        <img src="{{STATIC_URL}}lp-motor/img/fs-service.png?ver=1" alt="Car Breakdown Services"/>
                        {% blocktrans %}
                        <h4>Car Breakdown Services</h4>
                        <p>
                            Because we know how bad a car breakdown is - We give Free Towing and pick-up,
                            Emergency fuel arrangement and on-call technical assistance along with your policy
                        </p>
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="proposition">
                        <img src="{{STATIC_URL}}lp-motor/img/fs-parts.png?ver=1" alt="100 percent Genuine Car Parts"/>
                        {% blocktrans %}
                        <h4 class="padding-fix">100% Genuine Car Parts</h4>
                        <p> We make sure that quality is not compromised and service level is maintained in claim settlement for our Car Insurance customers </p>
                        {% endblocktrans %}
                </div>
            </div>

            {% block call_to_action_1 %}
                <div class="wow">
                    <div class="row mnone">
                        <div class="col-md-7 col-sm-6 pnone">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">+91</span>
                                <input id="contact-me-num-expert" type="text" class="form-control" placeholder="{% trans "Mobile Number" %}">
                            </div>
                            <p class="contact-me-error-expert error"></p>
                        </div>
                        <div class="col-md-5 col-sm-6 pnone">
                            <button class="call_me_btn_expert btn btn-cfox orange" type="button">{% trans "Know more about Benefits" %}</button>
                        </div>
                    </div><!--/.row-->
                    <div class="terms-msg"> {{ settings.DND_MSG }} </div>
                </div>
            {% endblock %}
        </div><!--/.container-->
    </section>
{% endblock %}
{% block buying_online %}{% endblock %}
{% block claim_support %}{% endblock %}
{% block insurance_cover %}{% endblock %}
{% block addons %}{% endblock %}
{% block insurance_img %}{% endblock %}
{% block mob_call_expert %}{% endblock %}
{% block testimonials %}
    <section class="light-box testimonials-section">
        <div class="container">

            <h1>{% trans "What our Car Insurance Customers have to say" %}</h1>
            <div class="row mnone">

                <div class="col-md-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}lp-motor/img/testimonials/nilu-yadav.jpg?ver=1" alt="Testimonial - No spam calls"/>
                        <div class="comment">
                            <img src="{{STATIC_URL}}lp-motor/img/quote-icon.png?ver=1" alt=""/>
                            {% blocktrans %}
                            <p>I had a lot of doubts related to car insurance. I spoke with your car insurance advisor. He answered all my queries and was patient enough so that I took my time to decide.</p>
                            <p class="title">- Nilu Yadav</p>
                            {% endblocktrans %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}lp-motor/img/testimonials/rishi-raj-ranga.jpg?ver=1" alt="Testimonial - Save on renewal premium"/>
                        <div class="comment">
                            <img src="{{STATIC_URL}}lp-motor/img/quote-icon.png?ver=1" alt=""/>
                            {% blocktrans %}
                            <p>Thank you Coverfox and thank you Sandeep for assisting me in choosing the right car insurance. Excellent customer service guys!</p>
                            <p class="title">- Rishi Raj Ranga</p>
                            {% endblocktrans %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}lp-motor/img/testimonials/vaibhav-jadhav.jpg?ver=1" alt="Testimonial - Save on renewal premium"/>
                        <div class="comment">
                            <img src="{{STATIC_URL}}lp-motor/img/quote-icon.png?ver=1" alt=""/>
                           {% blocktrans %}
                            <p>I would like to thank Mayank for helping me out with my car insurance renewal. I am really very happy with the services given by him and Coverfox.</p>
                            <p class="title">- Vaibhav Jadhav</p>
                           {% endblocktrans %}
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top:20px;">
                    <div class="col-md-6 col-md-offset-3">
                        {% block call_to_action_2 %}

                            <button onclick="skipForm('premium_calculator')" class="btn-cfox orange btn-next btn-block">{% trans "Compare Top Policies" %}</button>

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block hero_video%}

<section class="video_container_hero video-article">
    <div class="overlay_bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans "Heroes of Coverfox" %}</h1>
                <a href="//www.youtube.com/embed/7VxoVVdzkE8">
                    <img src="{{STATIC_URL}}lp-health/img/hero_play.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

{%endblock%}
{% block why_compare %}

    <section class="dark-box why-compare">
        <div class="container text-block">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img src="{{STATIC_URL}}lp-motor/img/car-compare.png?ver=1" alt="Car Insurance" width="200px">
                </div>
                <div class="col-sm-8">
                    {% blocktrans %}
                    <h1>Compare Car Insurance Plans</h1>
                    <p>
                        Car insurance is an extremely important investment you make to protect against financial losses
                        on account of damage to your car. In India, car insurance is primarily of 2 kinds: Third Party Liability and Comprehensive Coverage. </p>
                    <p>As the name suggests, third party liability insurance insures you for the legal liability you may have on account of your car causing third party damages to third parties. This could be damage to property or injury to person. This is mandatory as per Indian laws.</p>
                    <p>Comprehensive coverage helps  you get protection for financial loss on account of damage, theft or total loss of your own car. This protection can be further enhanced to protect against specific kind of losses, by way of add ons, such as Engine Protect and Zero Depreciation.
                    </p>
                   {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
    <section class="light-box">
        <div class="container text-block">
            {% blocktrans %}
            <h1>Why should you compare car insurance?</h1>
            <p>
                There are 25+ general insurance companies in India offering car insurance. And there are thousands of variants amongst car models available in India. Every insurance company rates each of the cars differently and accordingly arrives at a range of premiums to offer for your specific car. When you choose different addons for your particular kind of usage, this further provides variation to the quotes for the insurance. </p>

            <p> To make the best choice, which is cost effective, has maximum benefits and minimum exclusions, it is very important to compare quotes from at least the top insurance companies. To make the process most efficient and hasslefree, it is best to compare quotes online. Coverfox.com helps you to do that very well, as you can see, shortlist and compare the best quotes from all the top companies at the click of a button. These are also the most competent quotes in terms of pricing and you stand to save up to 60% as compared to other places.
            </p>
        {% endblocktrans %}
        </div>
    </section>

{% endblock %}

{% block about_us %}
    <section class="dark-box about-us">
        <div class="container text-block">

        {% blocktrans %}
            <h1 class="section-header">About Us</h1>
            <p>
                Insurance is boring. Going through the process of finding the right policy and buying it online is a nightmare for most.
                This was a shared sentiment with everyone we came across
            </p>
            <p>
                We are a bunch of 20-30 year olds, who thought of this as an opportunity to bring about a change.
                When the whole world is moving towards giving consumers a wonderful online experience of buying
                food, clothes, houses and everything under the sun; then why not buying insurance be that easy too?
            </p>
            <p>
                So we have tried to give you a place where comparing, researching and buying an insurance is painless and easy.
                We don't spam. Our recommendations are solely based on the data you provide about yourself, and not based on any affiliations.
                We believe that one happy returning customer is worth more than a hundred unhappy ones.
            </p>
            <p>
                We are always on the lookout for suggestions and feedback. Do drop us a mail at <a href="mailto:info@coverfox.com">info@coverfox.com</a> to say "Hi".
            </p>
            <p><strong>Our IRDA Direct Broker licence no. is IRDA/ DB 556/ 13.</strong></p>
        {% endblocktrans %}

            {% block call_to_action %}
            {% endblock %}
        </div>
    </section>
{% endblock %}
<div id="video-frame" class="hero_modal_overlay">
    <div id="divCloseFrame" class="close-overlay" title="Close">Close</div>
    <div class="hero_modal_content">
       <iframe id="frameVideo" class="reveal" src="" frameborder="0" allowfullscreen=""></iframe>
       <!-- <iframe id="video_2" src="https://www.youtube.com/embed/d7GWOShRmoY" frameborder="0" allowfullscreen></iframe> -->
    </div>
</div>
{% block footer %}
    {% include "flatpages:footer_2.html" %}
    <!--section class="footer clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <p>&copy; 2014 Coverfox Insurance Broking Pvt. Ltd. <span>All Rights Reserved</span></p>
                </div>
                <div class="col-sm-4 txt-r">
                    www.coverfox.com
                </div>
            </div>
        </div>
    </section-->
{% endblock %}

{% compress css %}
    {%block footer_css%}
    {%endblock%}
{% endcompress %}

{%compress js%}
    <script src="{{STATIC_URL}}campaign/js/cookies.js"></script>
    <script src="{{ STATIC_URL }}flatpages/js/header.js" type="text/javascript"></script>
{%endcompress%}

<script type="text/javascript">
    var CSRF_TOKEN;
    var page_id = '{{ page_id }}';
    var toll_free_no = '{{ settings.CAR_TOLL_FREE }}';
    var hero_phone_mandatory = 'NO';
    var SITE_URL = '{{settings.SITE_URL}}';
    var next_page_override = '';
    var policy_type = 'old';
    var otp = false;
    var tracker_id = '{{ request.TRACKER.session_key }}';

    if ('{{segment}}' == 'new'){
        policy_type = 'new';
    }else if ('{{segment}}' == 'expired'){
        policy_type = 'expired';
    }


    $(document).ready(function(){

        if ($.isEmptyObject(CSRF_TOKEN)){
            $.get(SITE_URL+"{%url 'get_token'%}", function(data){
                CSRF_TOKEN = data.csrf;
            }, 'json');
        }
        $(document).on('click','#toggle-menu',function(){
            var $this =$(this);
            var $menu =$('#pipe-links');
            if($this.hasClass('active')) {
                $this.removeClass('active');
                $menu.removeClass('active');
            }
            else {
                $this.addClass('active');
                $menu.addClass('active');
            }
        });
    });
</script>
<script>
        $(".video-article a").on("click", function(e){
        e.preventDefault();
        e.stopPropagation();
        var url = $(this).attr("href");
        $("#video-frame").addClass("active");
        $("#frameVideo").attr("src",url);
    });
    $("#divCloseFrame").on("click", function(){
        $("#video-frame").removeClass("active");
        $("#frameVideo").attr("src","");
    });


    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    var get_params = getUrlVars();
    var network = (get_params.network)? get_params.network : '';
    var category =  (get_params.category)? get_params.category : '';
    console.log(network);
    console.log(category)
</script>

{% compress js %}
    {% block message_js %}
    {% endblock %}

    {% block hero_form_js %}
        <script src="{{STATIC_URL}}marketing/motor/js/utils.js"></script>
        <script src="{{STATIC_URL}}marketing/motor/js/hero_form.js"></script>
        <script src="{{STATIC_URL}}marketing/motor/js/benefits_fold.js"></script>
    {% endblock %}


    {%block footer_js%}
    {%endblock%}
{% endcompress %}

{% block waybeo %}
    <script type="text/javascript" src="//js.waybeo.com/v0.1-beta2/waybeo.min.js"></script>
    <script type="text/javascript">
        Waybeo.DNI.Init({"trackid":"55c853ce08fab"},waybeoCallBack);
        function waybeoCallBack(trackingNumber) {
            toll_free_no = trackingNumber;
        }
    </script>
{% endblock %}

</body>
{% endlanguage %}
</html>
