{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{% block og_title %}Coverfox Insurance, India{% endblock og_title %}" />
    <meta property="og:description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance online." />
    <meta property="og:image" content="{% block og_image %}{{STATIC_URL}}home/img/coverfox_logo_fb.jpg{% endblock og_image %}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="403">
    <meta property="og:image:height" content="403">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>{% block title %}
        {% if page_title %}
            {{ page_title }}
        {% else %}
            Compare Car Insurance Premium Quotes | Buy Car Insurance online
        {% endif %}
    {% endblock %}</title>
    <meta name="description" content="{% block description %}{% if description %}{{ description }}{% else %}Compare Car Insurance premium from Top Companies{% endif %}{% endblock %}" />
    <link rel="shortcut icon" href="{{STATIC_URL}}lp-motor/img/favicon.ico" type="image/x-icon" />
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/css/bootstrap.css" rel="stylesheet">
        <link href="{{STATIC_URL}}global/css/header_footer_2.css" rel="stylesheet">
        {% block base_css %}<link href="{{STATIC_URL}}lp-motor/css/style.css" rel="stylesheet">{% endblock %}
    {% endcompress %}
    {% block header %}
    {% endblock %}
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

    <script src="{{STATIC_URL}}campaign/js/jquery.min.js"></script>
    <!-- Sentry   -->
    {%if settings.PRODUCTION%}
        <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
        <script>
            Raven.config('https://b73a2dd7e1714ae3aab0e33fd663b391@app.getsentry.com/33123', {
            }).install();
        </script>
    {%endif%}

</head>
<body>
<header>
    {% ifequal view_id 'call' %}
        {% include "flatpages:header_2.html" with lp_page="Car" lp_contact=settings.CAR_CALL_ONLY %}
    {% else %}
        {% include "flatpages:header_2.html" with lp_page="Car" lp_contact=settings.CAR_TOLL_FREE %}
    {% endifequal %}
</header>
{% block top_link %}
    <section class="hero-wrapper">
        {% block hero %}
        {% endblock %}
        {% block mob_form_section %}
        {% endblock %}
    </section><!--/.hero-wrapper-->
{% endblock %}
{% block two_column %} {% endblock %}
{% block footer %}
    {% include "flatpages:footer_2.html" %}
{% endblock %}

{% compress css %}
    {%block footer_css%}
    {%endblock%}
{% endcompress %}

{%compress js%}
    <script src="{{STATIC_URL}}campaign/js/zepto.js"></script>
    <script src="{{STATIC_URL}}campaign/js/cookies.js"></script>
    <script src="{{ STATIC_URL }}flatpages/js/header.js" type="text/javascript"></script>
{%endcompress%}

{% compress js %}
    {% block message_js %}
    {% endblock %}

    {% block hero_form_js %}
        <script src="{{STATIC_URL}}marketing/motor/js/utils.js"></script>
        <script src="{{STATIC_URL}}marketing/motor/js/hero_form.js"></script>
        <script src="{{STATIC_URL}}marketing/motor/js/benefits_fold.js"></script>
    {% endblock %}


    {%block footer_js%}
    {%endblock%}
{% endcompress %}
</body>
</html>
