{% extends "campaign/motor/base.html" %}
{% load compress%}

{% block header %}
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}
{% block hero %}

    {%if amlpl_iframe%}
        <iframe class="trace_fixer" src="http://coverfox.enr-api.m-bazaar.in/?s={% now 'Ymd' %}{{ request.TRACKER.id }}" style="display:none"></iframe>
    {%endif%}
    <div class="generic">
        <section>
            <div class="benefit_container_page">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-7">
                            <h1>Buy {{brand.title}} Car Insurance Plan from Coverfox
                                <div class="header_txt"> Same Products. Same Price. Guaranteed services.</div>
                            </h1>
                            <h2 class="benefit">Benefits of {{brand.title}} Car Insurance</h2>
                            <ul class="ben-list">
                                {% for benefit in brand.benefits %}
                                    <li><img src="{{STATIC_URL}}lp-motor/img/checkmark-white.png">{{benefit}}</li>
                                {% endfor %}
                            </ul>
                            <div class="base-box">
                                <ul class="clearfix">
                                    <li><img class="icon" src="{{STATIC_URL}}lp-motor/brand/img/lock.png"> Secure<br/>Payments</li>
                                    <li><img class="icon" src="{{STATIC_URL}}lp-motor/brand/img/checkmark-circle.png"> 100% Service<br/>Guaranteed</li>
                                    <li class="icon-seal"><img class="icon" src="{{STATIC_URL}}lp-motor/brand/img/vs_gd_light.gif"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-8 col-lg-5">
                            <div class="header_top">
                                {%if logo_url %}
                                    <img src="{{STATIC_URL}}lp-motor/brand/img/header_insurers/{{logo_url}}" />
                                {% endif %}
                            </div>
                            <div class="form-highlight">
                                <h3>Make sure that {{ brand.title }} Car Insurance policy gives you most benefits at the right price</h3>
                                <h2>Talk to an expert</h2>
                                <div class="margin-bottom-10">
                                    <div class="form_container">
                                        <div class="input_container">
                                            <span>+91</span>
                                            <input type="text" id="contact-me-num" class="form_text_box call_me_btn_expert" placeholder="Enter Your 10 digit Mobile No." />
                                        </div>
                                        <p class="error contact-me-error">Please enter your 10 digit phone number</p>
                                        <button id="show_quote_btn" class="btn-cfox orange">
                                            Show me My Quotes
                                        </button>
                                        <div class="terms-msg"> {{ settings.DND_MSG }} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="dark-box companies-fold">
            <div class="container">
                <h1 class="section-header">
                    Compare Plans of Top Companies
                </h1>
            </div>
            <div class="companies-wrapper">
                <div class="container-fluid">
                    <div class="row mnone">
                        <ul class="company-logos">
                            <li><img src="{{STATIC_URL}}lp-motor/img/insurer/larsen-and-tubro-general-insurance.png" alt="Larsen and Tubro General Insurance - Four Wheeler Insurance"></li>
                            <li><img src="{{STATIC_URL}}lp-motor/img/insurer/bajaj-allianz-general-insurance.png" alt="Bajaj Allianz General Insurance - Four Wheeler Insurance"></li>
                            <li><img src="{{STATIC_URL}}lp-motor/img/insurer/bharti-axa-general-insurance.png" alt="Bharti AXA General Insurance - Four Wheeler Insurance"></li>
                            <li><img src="{{STATIC_URL}}lp-motor/img/insurer/tata-aig.png?ver=1" alt="Tata Aig"></li>
                            <li><img src="{{STATIC_URL}}lp-motor/img/insurer/iffco-tokio-general-insurance.png" alt="IFFCO TOKIO General Insurance - Four Wheeler Insurance"></li>
                            <li><img src="{{STATIC_URL}}lp-motor/img/insurer/hdfc-ergo-general-insurance.png" alt="HDFC ERGO General Insurance - Four Wheeler Insurance"></li>
                            <li><img src="{{STATIC_URL}}lp-motor/img/insurer/universal-sompo-general-insurance.png" alt="Universal Sompo General Insurance - Four Wheeler Insurance"></li>
                            <li><img src="{{STATIC_URL}}lp-motor/img/insurer/new-india-general-insurance.png" alt="New India General Insurance - Four Wheeler Insurance"></li>
                        </ul>
                    </div>
                </div><!--/.container-fluid-->
            </div><!--/.companies-wrapper-->
            <div class="container">
                <div class="row" style="margin: 30px 0 0px;">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 call-action">
                        <button style="width: 100%;" onclick="skipForm('compare_plans')" class="btn btn-lg btn-cfox orange">Compare features now</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="light-box why_coverfox">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="margin-bottom-10">
                            <h1 class="text-center section-header">Why people Buy Insurance from Coverfox</h1>
                            <span class="small text-muted visible-xs scroll-visible">Slide on the table to see more</span>
                            <div class="compair_container_log">
                                <table cellspacing="0" cellpadding="0" border="0" width="100%" align="center">
                                    <tr class="tab_bg">
                                        <td align="center">&nbsp;</td>
                                        <td width="50%" align="left"><strong>Service Provided</strong></td>
                                        <td class="lite-bg" width="20%" align="center">
                                            <img src="{{STATIC_URL}}lp-motor/img/coverfox-logo.png" alt="Coverfox">
                                        </td>
                                        <td  style="border-right:0px;" class="lite-bg" width="10%" align="center"><strong>Insurance Agent</strong></td>
                                    </tr>
                                    <tr>
                                        <td align="center"><img src="{{STATIC_URL}}lp-motor/brand/img/ic_compare.png" border="0"></td>
                                        <td align="left"><span class="hlt">Comparison</span> of {{brand.title}} Car Insurance with other leading insurance Companies</td>
                                        <td align="center"><img src="{{STATIC_URL}}lp-motor/brand/img/yes.png" border="0"></td>
                                        <td align="center"><img src="{{STATIC_URL}}lp-motor/brand/img/no.png" border="0" align="absmiddle"></td>
                                    </tr>
                                    <tr>
                                        <td align="center"><img src="{{STATIC_URL}}lp-motor/brand/img/ic_buyanddownload.png" border="0"></td>
                                        <td align="left">Buy and Download Policy <span class="hlt">Online</span> (No Paperwork)</td>
                                        <td align="center"><img src="{{STATIC_URL}}lp-motor/brand/img/yes.png" border="0"></td>
                                        <td align="center"><img src="{{STATIC_URL}}lp-motor/brand/img/no.png"  border="0"></td>
                                    </tr>
                                    <tr>
                                        <td align="center"><img src="{{STATIC_URL}}lp-motor/brand/img/ic_support.png" border="0"></td>
                                        <td align="left"><span class="hlt">Dedicated</span> Service Manager for all your existing policies</td>
                                        <td align="center"><img src="{{STATIC_URL}}lp-motor/brand/img/yes.png" border="0"></td>
                                        <td align="center"><img src="{{STATIC_URL}}lp-motor/brand/img/no.png" border="0" align="absmiddle"></td>

                                    </tr>
                                    <tr>
                                        <td align="center"><img src="{{STATIC_URL}}lp-motor/brand/img/ic_claim.png" border="0"></td>
                                        <td align="left"><span class="hlt">Guaranteed</span> Service on Claims </td>
                                        <td align="center"><img src="{{STATIC_URL}}lp-motor/brand/img/yes.png"border="0"></td>
                                        <td align="center"><img src="{{STATIC_URL}}lp-motor/brand/img/no.png" border="0" align="absmiddle"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="row" style="margin: 30px 0 0px;">
                                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 call-action">
                                    <button style="width: 100%;" onclick="skipForm('instant_quotes')" class="btn btn-lg btn-cfox orange">Get Instant Quotes</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section><!--/.why-coverfox-->
    </div><!--/.generic-->
{% endblock %}
{% block benefits %}{% endblock %}
{%block companies%}{% endblock %}
{%block footer_css%}
    {%compress css%}
        <link href="{{STATIC_URL}}lp-motor/brand/css/style.css" rel="stylesheet">
    {%endcompress%}
{%endblock%}




{%block footer_js%}
{% endblock %}
