{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block title %}{{ page_title|safe }}{% endblock %}
{% block header %}

{% endblock %}
{% block hero %}
    <div class="car-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-lg-3">
                </div>
                <div class="col-md-10 col-lg-9">
                    <div class="club-form">
                        {% ifequal page_id 'lp_car_jagoinvestor' %}
                            <h1>Best Car Deals only for<br class="visible-lg"/>
                                <span class="black"><img class="jago-logo" src="{{STATIC_URL}}lp-motor/img/jagoinvestor-logo.png" alt="Jagoinvestor"/></span> readers
                            </h1>
                        {% else %}
                            <h1>{{ main_body.heading|safe }}</h1>
                            <h2 class="hidden-xs">{{ main_body.sub_heading|safe }}</h2>
                        {% endifequal %}
                        <div class="row">
                            <div class="col-sm-6 pnone">
                                <div class="heading-banner">
                                    <ul class="hidden-xs">
                                        {% for point in main_body.points %}
                                            <li><img src="{{STATIC_URL}}lp-motor/buy_car_insurance_ver1/img/checkmark-white.png" alt=""/> {{ point|safe }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% ifequal view_id 'call' %}
                                        <div class="toll-free-box hidden-xs">
                                            Call us on our Toll free No.
                                            <a href="javascript:ClickToCall('form_side');"><h3>{{ settings.CAR_CALL_ONLY }}</h3></a>
                                        </div>
                                    {% else %}
                                        <div class="toll-free-box hidden-xs">
                                            Call us on our Toll free No.
                                            <a href="javascript:ClickToCall('form_side');"><h3>{{ settings.CAR_TOLL_FREE }}</h3></a>
                                        </div>
                                    {% endifequal %}
                                </div>
                            </div>
                            <div class="col-sm-6 pnone">
                                <div class="form-box-mini">
                                    <ul class="form hero-form">
                                        <li class="active" data-type="old">
                                            <span class="checkbox"></span>
                                            Renew Existing Policy
                                        </li>
                                        <li data-type="new">
                                            <span class="checkbox"></span>
                                            Buy Insurance for a New Car
                                        </li>
                                        <li data-type="expired">
                                            <span class="checkbox"></span>
                                            Renew Expired Policy
                                        </li>
                                    </ul>
                                    <label for="contact-me-num">Mobile Number</label>
                                    <div class="cfinput addon-field">
                                        <span class="addon">+91</span>
                                        <input type="text" id='contact-me-num' placeholder="Enter mobile number"/>
                                    </div>
                                    <div class="contact-me-error">
                                        <p class="error">Please enter a valid 10 digit mobile number</p>
                                    </div>
                                    <button id="show_quote_btn" class="btn-cfox orange btn-next btn-block">
                                        {{ form.button_text }}
                                    </button>
                                    <div class="terms-msg"> {{ settings.DND_MSG }} </div>
                                </div><!--/.form-box-mini-->
                            </div><!--/.col-md-6-->
                        </div><!--/.row-->
                    </div><!--/.club-form-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
        {% ifequal view_id 'call' %}
            <div class="toll-free-box mobile-scr visible-xs">
                Call us on our Toll free No.
                <a href="javascript:ClickToCall('form_mobile');"><h3>{{ settings.CAR_CALL_ONLY }}</h3></a>
            </div>
        {% else %}
            <div class="toll-free-box mobile-scr visible-xs">
                Call us on our Toll free No.
                <a href="javascript:ClickToCall('form_mobile');"><h3>{{ settings.CAR_TOLL_FREE }}</h3></a>
            </div>
        {% endifequal %}
    </div><!--/.car-banner-->
{% endblock %}

{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/buy_car_insurance_ver1/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{%block footer_js%}
{% endblock %}
