{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="car-banner">
        <div class="container">
            <div class="row">
                <div class="hero-form col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-2 pnone">
                    <div class="form-box-mini">
                        <h1>{{ form.heading|safe }}</h1>
                        <h3>{{ form.sub_heading|safe }}</h3>
                        <ul class="form">
                            <li class="active" data-type="old">
                                    <span class="checkbox">
                                        <img src="{{STATIC_URL}}lp-motor/buy_new/img/checkmark-white.png" alt=""/>
                                    </span>
                                Renew Existing Policy
                            </li>
                            <li data-type="new">
                                    <span class="checkbox">
                                        <img src="{{STATIC_URL}}lp-motor/buy_new/img/checkmark-white.png" alt=""/>
                                    </span>
                                Buy Insurance for a new car
                            </li>
                            <li data-type="expired">
                                    <span class="checkbox">
                                        <img src="{{STATIC_URL}}lp-motor/buy_new/img/checkmark-white.png" alt=""/>
                                    </span>
                                Renew Expired Policy
                            </li>
                        </ul>
                        <label for="contact-me-num">Mobile Number</label>
                        <div class="cfinput addon-field">
                            <span class="addon">+91</span>
                            <input type="text" id='contact-me-num' placeholder="Enter mobile number"/>
                        </div>
                        <div class="contact-me-error">
                            <p class="error">Please enter a valid 10 digit mobile number</p>
                        </div>
                        <button id="show_quote_btn" class="btn-cfox orange btn-next btn-block">
                            {{ form.button_text|safe }}
                        </button>
                        <div class="terms-msg">{{ settings.DND_MSG }}</div>
                        <div class="toll-free">
                            Call us on: <a href="javascript:ClickToCall('top_bar')">
                                {{ settings.CAR_TOLL_FREE }}
                            </a>
                        </div>
                    </div><!--/.form-box-mini-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.car-banner-->
{% endblock %}
{% block otp_pop%}
    <section class="otp_opacity hide">
        <div class="container">
            <div class="row">
                <div class="box_center">
                    <div class="otp_opacity--otp">
                        <h2>One time Password</h2>
                        <div class="otp_txt">
                            <h3>Enter One Time Password received on your mobile number xxxxxxx<span>989</span></h3>
                            <input type="text" placeholder="Enter OTP Number">
                            <p><button>Submit</button></p>
                            <a href="#">Regenerate OTP &gt;&gt;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block companies %}{% endblock %}
{% block free_services %}{% endblock %}
{% block testimonials %} {% endblock %}
{% block hero_video%} {% endblock %}
{% block why_compare %} {% endblock %}
{% block about_us %} {% endblock %}
{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/buy_new/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{%block footer_js%}
    <script type="text/javascript">
        var hero_phone_mandatory = 'YES';
    </script>
{% endblock %}
