{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="car-banner">
        <div class="container">
            <div class="row">
                <div class="hero-form col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-2 pnone">
                    <div class="form-box-mini">
                        <h1>{{ form.heading|safe }}</h1>
                        <h3>{{ form.sub_heading|safe }}</h3>
                        <ul class="form">
                            <li class="active" data-type="old">
                                    <span class="checkbox">
                                        <img src="{{STATIC_URL}}lp-motor/switch/img/checkmark-white.png" alt=""/>
                                    </span>
                                Renew Existing Policy
                            </li>
                            <li data-type="new">
                                    <span class="checkbox">
                                        <img src="{{STATIC_URL}}lp-motor/switch/img/checkmark-white.png" alt=""/>
                                    </span>
                                Buy Insurance for a new car
                            </li>
                            <li data-type="expired">
                                    <span class="checkbox">
                                        <img src="{{STATIC_URL}}lp-motor/switch/img/checkmark-white.png" alt=""/>
                                    </span>
                                Renew Expired Policy
                            </li>
                        </ul>
                        <!--<label for="contact-me-num">Mobile Number</label>
                        <div class="cfinput addon-field">
                            <span class="addon">+91</span>
                            <input type="text" id='contact-me-num' placeholder="Enter mobile number"/>
                        </div>
                        <div class="contact-me-error">
                            <p class="error">Please enter a valid 10 digit mobile number</p>
                        </div> -->
                        <button id="show_quote_btn" class="btn-cfox orange btn-next btn-block">
                            {{ form.button_text|safe }}
                        </button>
                        <div class="terms-msg">{{ settings.DND_MSG }}</div>
                        <div class="toll-free">
                            Call us on: <a href="javascript:ClickToCall('top_bar')">
                                {{ settings.CAR_TOLL_FREE }}
                            </a>
                        </div>
                    </div><!--/.form-box-mini-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.car-banner-->
{% endblock %}
{% block benifit_list %}
    <section class="prop-cos">
        <div class="container">
            <h1>Get 100% Claims Support with <img class="logo" src="{{STATIC_URL}}lp-motor/img/coverfox-logo-white.png" alt="Coverfox"/></h1>
            <h3>Avail upto 60% discount on premium by buying a policy ONLINE</h3>
            <ul class="prop clearfix">
                {% for point in main_body.points %}
                    <li><img src="{{STATIC_URL}}lp-motor/img/checkmark-white.png" alt=""/> {{ point|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/switch/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{%block footer_js%}
    <script type="text/javascript">
        var hero_phone_mandatory = 'NO';
    </script>
{% endblock %}
