{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="car-banner">
        <div class="container">
            <div class="row">
                <div class="hero-form col-md-6 col-md-offset-6">
                    <div class="row mnone">
                        <!-- Car Insurance form-->
                        <div class="car-product product-form-item">
                            <h5>Challenge us for Lowest rates!</h5>
                            <p>Get cheapest Car Insurance options delivered to your mail, one week before your renewal month.</p>
                            <form>
                                <div class="policy-type-details hidden">
                                    <label for="pt1" class="cf-radio">
                                        <input type="radio" name="car_policy_type" id="pt1" value="renew" checked>
                                        <span></span>Renew car insurance
                                    </label>
                                    <label for="pt2" class="cf-radio">
                                        <input type="radio" name="car_policy_type" id="pt2" value="new">
                                        <span></span>Insurance for new car
                                    </label>
                                    <label for="pt3" class="cf-radio">
                                        <input type="radio" name="car_policy_type" id="pt3" value="expired">
                                        <span></span>Policy already expired
                                    </label>
                                </div>
                                <div class="vehicle-details row common-fields">
                                    <div class="col-md-12">
                                        <div class="form-group col-xs-4 plnone">
                                            <div class="cf-select-dd">
                                                <label  for="vehicle_make_model">Your Car</label>
                                                <select data-placeholder="Select your car" class="select3-input emptyState" id="vehicle_make_model">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 plnone">
                                            <div class="cf-select-dd">
                                                <label  for="vehicle_fuel_type">Fuel Type</label>
                                                <select data-placeholder="Select fuel type" class="select3-input emptyState" id="vehicle_fuel_type">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-4 plnone">
                                            <div class="cf-select-dd">
                                                <label for="vehicle_variant">Variant</label>
                                                <select data-placeholder="Select variant" class="select3-input emptyState" id="vehicle_variant">
                                                    <option></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 pnone" style="margin-top: -15px;">
                                            <p id="vehicle_detail_error" class="error-text">Enter your car details</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- External CNG/LPG -->
                                <div class="registration-details row common-fields" style="display:none" id="divCNGKit">
                                    <div class="col-xs-5">
                                        <div class="cf-special-ip">
                                            <label  for="txtCNGKit">CNG/LPG kit value (INR)</label>
                                            <input type="number" id="txtCNGKit" placeholder="Value of CNG/LPG kit fitted">
                                        </div>
                                        <p id="cng_error" class="error-text">Enter CNG/LPG kit value.</p>
                                    </div>
                                </div>

                                <div class="registration-details row common-fields">
                                    <div class="col-md-12 ">
                                        <div class="form-group col-xs-5 plnone rto-field mnone">
                                            <div class="cf-select-dd">
                                                <label  for="vehicle_rto">City of registration</label>
                                                <select class="form-control" id="vehicle_rto" data-placeholder="Select registration place">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <p id="rto_error" class="error-text">Select registration place.</p>
                                        </div>
                                        <div class="form-group col-xs-5 renew-policy plnone">
                                            <div class="cf-select-dd">
                                                <label  for="vehicle_reg_year">Year of registration</label>
                                                <select class="form-control renew-policy" id="vehicle_reg_year" data-placeholder="Select year">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <p id="reg_date_error" class="error-text">Select registration year.</p>
                                        </div>
                                    </div>
                                </div>
                                <div id="expired_car" class="expired-policy hide">
                                    <div class="sm-label" style="margin: 0 4px 8px;">When did your policy expire?</div>
                                    <div class="row mnone">
                                        <div class="form-group col-xs-4 plnone expire-policy">
                                            <div class="cf-select-dd">
                                                <label for="car_expiry_year">Year of expiry</label>
                                                <select class="expire-policy" id="car_expiry_year" data-placeholder="Select year">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <p id="car_expiry_year_error" class="error-text">Select expire policy year.</p>
                                        </div>
                                        <div class="form-group col-xs-4 plnone expire-policy">
                                            <div class="cf-select-dd">
                                                <label for="car_expiry_month">Month of expiry</label>
                                                <select class="expire-policy" id="car_expiry_month" data-placeholder="Select month">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <p id="car_expiry_month_error" class="error-text">Select expire policy month.</p>
                                        </div>
                                        <div class="form-group col-xs-4 plnone expire-policy">
                                            <div class="cf-select-dd">
                                                <label for="car_expiry_date">Date of expiry</label>
                                                <select class="expire-policy" id="car_expiry_date" data-placeholder="Select date">
                                                    <option value=""></option>
                                                </select>
                                            </div>
                                            <p id="car_expiry_date_error" class="error-text">Select expire policy date.</p>
                                        </div>
                                    </div>

                                    <!-- <p class='intro'>Get your Expired policy renewed in just 3 steps</p>
                                    <div class="exp-process clearfix">
                                        <div class="col-xs-4 process">
                                            <strong class="active">1</strong> Give your basic details
                                        </div>
                                        <div class="col-xs-4 process">
                                            <strong>2</strong> Upload required documents
                                        </div>
                                        <div class="col-xs-4 process">
                                            <strong>3</strong> Get your Car Inspected
                                        </div>
                                    </div> -->
                                </div>
                                <div class="registration-details row">
                                    <div class="col-md-12">
                                        <div class="form-group col-xs-5 plnone mnone">
                                            <div class="cf-select-dd addon-field">
                                                <label for="month" class="lh">Policy expiry month</label>
                                                <select class="form-control tp" onchange="this.options[0].style.display='none';" id="month" >
                                                    <option value="0" selected="true">MMM</option>
                                                    <option value="1" >Jan</option>
                                                    <option value="2" >Feb</option>
                                                    <option value="3" >Mar</option>
                                                    <option value="4" >Apr</option>
                                                    <option value="5" >May</option>
                                                    <option value="6" >Jun</option>
                                                    <option value="7" >Jul</option>
                                                    <option value="8" >Aug</option>
                                                    <option value="9" >Sep</option>
                                                    <option value="10" >Oct</option>
                                                    <option value="11" >Nov</option>
                                                    <option value="12" >Dec</option>
                                                </select>
                                            </div>
                                            <div id="month-error" class="contact-me-error">
                                                <p  class="error">Please select month.</p>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-7 plnone mnone">
                                            <div class="cf-select-dd  addon-field">
                                                <label for="contact-me-email" class="lh">Email Address</label>
                                                <input type="text" name="email" id='contact-me-email' placeholder="Your Email Address"/>
                                            </div>
                                            <div id="email-error" class="contact-me-error">
                                                <p class="error">Please enter a valid email address</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                            <button id="car_submit" class="btn orange big">Get Cheapest Quotes</button>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.car-banner-->
{% endblock %}
{% block benifit_list %}
    <section class="prop-cos">
        <div class="container">
            <h1>Get 100% Claims Support with <img class="logo" src="{{STATIC_URL}}lp-motor/img/coverfox-logo-white.png" alt="Coverfox"/></h1>
            <h3>Avail upto 60% discount on premium by buying a policy ONLINE</h3>
            <ul class="prop clearfix">
                {% for point in main_body.points %}
                    <li><img src="{{STATIC_URL}}lp-motor/img/checkmark-white.png" alt=""/> {{ point|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/switch/css/homeform.css" rel="stylesheet">
        <link href="{{STATIC_URL}}lp-motor/switch/css/style.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}home/css/select2.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}home/css/pikaday.css" rel="stylesheet">
        <link href="{{STATIC_URL}}global/css/header_footer_2.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{%block footer_js%}
    <script type="text/javascript">
        var hero_phone_mandatory = 'NO';
        var CSRF_TOKEN = '{{ csrf_token }}';

        /********* UI Global Control Events **********/
        $('select').change(function(){
            var selectedId = $(this).children(":selected").attr("id");
            if(selectedId && (selectedId>0 || selectedId.length>1)){
                $(this).parent().addClass('selected');
                $(this).parent().find('.select2-choice').css({
                    'padding-top': ''
                });
                utils.showLabelForInput($(this));
            }
            else{
                $(this).parent().removeClass('selected');
            }
        });
    </script>
    <script src="{{ STATIC_URL }}home/js/select2.min.js?ver=1"></script>
    <script src="{{ STATIC_URL }}js/motor/utils/crypto.js?ver=1"></script>
    <script src="{{ STATIC_URL }}js/cookies.js?ver=1"></script>
    <script src="{{ STATIC_URL }}home/js/utils.js?ver=1"></script>
    <script src="{{ STATIC_URL }}lp-motor/switch/js/car-system.js?ver=1"></script>
    <script type="text/javascript">
        var hero_email_month_field = true;
    </script>
{% endblock %}

