{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block title %}{{ page_title|safe }}{% endblock %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="car-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-lg-3">
                </div>
                <div class="col-md-10 col-lg-9">
                    <div class="club-form">
                        <div class="row">
                            <div class="col-sm-5 col-md-6 pnone">
                                <div class="heading-banner">
                                    <h1>{{ main_body.heading|safe }}</h1>
                                    <h2 class="hidden-xs">{{ main_body.sub_heading|safe }}</h2>
                                    <ul class="hidden-xs">
                                        {% for point in main_body.points %}
                                            <li><img src="{{STATIC_URL}}lp-motor/buy_direct/img/checkmark-white.png" alt=""/> {{ point|safe }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-7 col-md-6 pnone">
                                <div class="form-box-mini">
                                    <h3 class="hidden-xs">{{ form.heading|safe }}</h3>
                                    <h4 class="hidden-xs">{{ form.sub_heading|safe }}</h4>
                                    <ul class="form hero-form">
                                        <li class="active" data-type="old">
                                            <span class="checkbox"></span>
                                            Renew Existing Policy
                                        </li>
                                        <li data-type="new">
                                            <span class="checkbox"></span>
                                            Buy Insurance for a New Car
                                        </li>
                                        <li data-type="expired">
                                            <span class="checkbox"></span>
                                            Renew Expired Policy
                                        </li>
                                    </ul>
                                    <button id="show_quote_btn" class="btn-cfox orange btn-next btn-block">
                                        Show me My Quotes
                                    </button>
                                    <p class="closer">{{ form.closure_text }}</p>
                                </div><!--/.form-box-mini-->
                            </div><!--/.col-md-6-->
                        </div><!--/.row-->
                    </div><!--/.club-form-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
        <div class="toll-free-box mobile-scr visible-xs">
            Call us on our Toll free No.
            <a href="javascript:ClickToCall('form_mobile');"><h3>{{ settings.CAR_TOLL_FREE }}</h3></a>
        </div>
    </div><!--/.car-banner-->
{% endblock %}

{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/buy_direct/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{%block footer_js%}
{% endblock %}
