{% load compress %}
<section class="block car-banner hero-wrapper">
    <div class="container">
        <div class="row p-relative">
            <div class="hero-form col-md-8 mtop">
                <div class="row mnone">
                    <!-- Car Insurance form-->
                    <div class="car-product product-form-item">
                        <h5 data-cms-content="hero_form_heading">Get Lowest prices on Car Insurance</h5>
                        <form>
                            <div class="policy-type-details">
                                <label for="pt1" class="cf-radio">
                                    <input type="radio" name="car_policy_type" id="pt1" value="renew" checked>
                                    <span></span><b data-cms-content="lable_renew_car">Renew car insurance</b>
                                </label>
                                <label for="pt2" class="cf-radio">
                                    <input type="radio" name="car_policy_type" id="pt2" value="new">
                                    <span></span><b data-cms-content="lable_new_car">Insurance for new car
                                </label>
                                <label for="pt3" class="cf-radio">
                                    <input type="radio" name="car_policy_type" id="pt3" value="expired">
                                    <span></span><b data-cms-content="lable_policy_expired">Policy already expired
                                </label>
                            </div>
                            <div class="vehicle-details row common-fields">
                                <div class="col-md-12">
                                    <div class="form-group col-xs-12 col-md-4 plnone">
                                        <div class="cf-select-dd" data-cms-content="maindiv_your_car">
                                            <label data-cms-content="lable_your_car" for="vehicle_make_model">Your Car</label>
                                            <select data-placeholder="Select your car" class="select3-input emptyState" id="vehicle_make_model">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-md-4 plnone">
                                        <div class="cf-select-dd" data-cms-content="maindiv_fuel_type">
                                            <label data-cms-content="lable_fuel_type" for="vehicle_fuel_type">Fuel Type</label>
                                            <select data-placeholder="Select fuel type" class="select3-input emptyState" id="vehicle_fuel_type">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-md-4 plnone">
                                        <div class="cf-select-dd" data-cms-content="maindiv_variant">
                                            <label data-cms-content="lable_variant" for="vehicle_variant">Variant</label>
                                            <select data-placeholder="Select variant" class="select3-input emptyState" id="vehicle_variant">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 pnone" style="margin-top: -15px;">
                                        <p data-cms-content="error_car_details" id="vehicle_detail_error" class="error-text">Enter your car details</p>
                                    </div>
                                </div>
                            </div>
                            <!-- External CNG/LPG -->
                            <div class="registration-details row common-fields" style="display:none" id="divCNGKit">
                                <div class="col-xs-12 col-md-5">
                                    <div class="cf-special-ip" data-cms-content="maindiv_CNG_kit">
                                        <label data-cms-content="label_CNG_kit" for="txtCNGKit">CNG/LPG kit value (INR)</label>
                                        <input type="number" id="txtCNGKit" placeholder="Value of CNG/LPG kit fitted">
                                    </div>
                                    <p data-cms-content="error_CNG_kit" id="cng_error" class="error-text">Enter CNG/LPG kit value.</p>
                                </div>
                            </div>

                            <div class="registration-details row common-fields">
                                <div class="col-md-12 ">
                                    <div class="form-group col-xs-12 col-md-5 plnone rto-field mnone">
                                        <div class="cf-select-dd" data-cms-content="maindiv_city_registration">
                                            <label data-cms-content="label_city_registration" for="vehicle_rto">City of registration</label>
                                            <select class="form-control" id="vehicle_rto" data-placeholder="Select registration place">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <p data-cms-content="error_registration_place" id="rto_error" class="error-text">Select registration place.</p>
                                    </div>
                                    <div class="form-group col-xs-12 col-md-5 renew-policy plnone">
                                        <div class="cf-select-dd" data-cms-content="maindiv_year_registration">
                                            <label data-cms-content="label_year_registration" for="vehicle_reg_year">Year of registration</label>
                                            <select class="form-control renew-policy" id="vehicle_reg_year" data-placeholder="Select year">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <p data-cms-content="error_registration_year" id="reg_date_error" class="error-text">Select registration year.</p>
                                    </div>
                                </div>
                            </div>
                            <div id="expired_car" class="expired-policy hide">
                                <div data-cms-content="sm_label_policy_expire" class="sm-label" style="margin: 0 4px 8px;">When did your policy expire?</div>
                                <div class="row mnone">
                                    <div class="form-group col-xs-4 plnone expire-policy">
                                        <div class="cf-select-dd" data-cms-content="maindiv_year_expiry">
                                            <label data-cms-content="label_year_expiry" for="car_expiry_year">Year of expiry</label>
                                            <select class="expire-policy" id="car_expiry_year" data-placeholder="Select year">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <p data-cms-content="error_expire_policy_year" id="car_expiry_year_error" class="error-text">Select expire policy year.</p>
                                    </div>
                                    <div class="form-group col-xs-4 plnone expire-policy">
                                        <div class="cf-select-dd" data-cms-content="maindiv_month_expiry">
                                            <label data-cms-content="label_month_expiry" for="car_expiry_month">Month of expiry</label>
                                            <select class="expire-policy" id="car_expiry_month" data-placeholder="Select month">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <p data-cms-content="error_expire_policy_month" id="car_expiry_month_error" class="error-text">Select expire policy month.</p>
                                    </div>
                                    <div class="form-group col-xs-4 plnone expire-policy">
                                        <div class="cf-select-dd" data-cms-content="maindiv_date_expiry">
                                            <label data-cms-content="label_date_expiry" for="car_expiry_date">Date of expiry</label>
                                            <select class="expire-policy" id="car_expiry_date" data-placeholder="Select date">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <p data-cms-content="error_expire_policy_date" id="car_expiry_date_error" class="error-text">Select expire policy date.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Phone No Field -->
                            <div class="cfinput addon-field" data-cms-content="maindiv_mobile_number">
                                <span class="addon">+91</span>
                                <input type="text" name="mobile" maxlength="10" id='contact-me-num' placeholder="Enter mobile number"/>
                                <span data-cms-content="DND_MSG_text" style="display: block;font-size: 12px;opacity: 0.6;margin-top: 8px;">{{ settings.DND_MSG }}</span>
                            </div>
                            <div class="contact-me-error">
                                <p data-cms-content="error_enter_mobile_number" class="error">Please enter a valid 10 digit mobile number</p>
                            </div>

                        </form>
                        <button data-cms-content="view_quotes" id="car_submit" class="btn orange big">View Quotes</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="musibat_conatiner mtop">
                    <h3 data-cms-content="hero_heading">Buy Car Insurance from Coverfox</h3>
                    <hr/>
                    <h5 data-cms-content="hero_subheading">Benefits of buying from Coverfox:</h5>
                    <ul>
                        <li data-cms-content="hero_pt1">Lowest Premium Rates</li>
                        <li data-cms-content="hero_pt2">Online Policy Copy</li>
                        <li data-cms-content="hero_pt3">Dedicated Claims Manager</li>
                        <li data-cms-content="hero_pt4">Free Roadside Assistance cover</li>
                    </ul>
                    <div class="arrrow_direct hidden-xs" data-cms-content="hero_closer">
                        &#8592; Join the Coverfox family!
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs side_cover"> </div>
        </div>
    </div>
</section>

{% compress css %}
<link href="{{STATIC_URL}}lp-motor/car_section_css/css/homeform.css" rel="stylesheet">
<link href="{{ STATIC_URL }}home/css/select2.css" rel="stylesheet">
<link href="{{ STATIC_URL }}home/css/pikaday.css" rel="stylesheet">
<link href="{{STATIC_URL}}lp-motor/css/bootstrap.css" rel="stylesheet">
<link href="{{STATIC_URL}}lp-motor/car_section_css/css/style.css" rel="stylesheet">
<link href="{{STATIC_URL}}lp-motor/css/style.css" rel="stylesheet">
{% endcompress %}

<script type="text/javascript">
    var hero_phone_mandatory = 'YES';
    var page_id = "temp"; // needs to be updated...
    var CSRF_TOKEN = '{{ csrf_token }}';
</script>
{% compress js %}
<script src="{{ STATIC_URL }}home/js/select2.min.js"></script>
<script src="{{ STATIC_URL }}js/motor/utils/crypto.js"></script>
<script src="{{ STATIC_URL }}js/cookies.js"></script>
<script src="{{ STATIC_URL }}home/js/utils.js"></script>
<script src="{{ STATIC_URL }}lp-motor/switch/js/car-system.js"></script>
{% endcompress %}
<script type="text/javascript">
    $('.contact-me-error').hide();

/********* UI Global Control Events **********/
$('select').change(function(){
    var selectedId = $(this).children(":selected").attr("id");
    if(selectedId && (selectedId>0 || selectedId.length>1)){
        $(this).parent().addClass('selected');
        $(this).parent().find('.select2-choice').css({
            'padding-top': ''
        });
        utils.showLabelForInput($(this));
    }
    else{
        $(this).parent().removeClass('selected');
    }
});
function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    var get_params = getUrlVars();
    var network = (get_params.network)? get_params.network : '';
    var category =  (get_params.category)? get_params.category : '';
    console.log(network)
    console.log(category)
</script>
