{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block title %}{{ page_title|safe }}{% endblock %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="car-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-lg-3">
                </div>
                <div class="col-md-10 col-lg-9">
                    <div class="club-form">
                        <div class="row">
                            <div class="col-sm-5 col-md-6 pnone">
                                <div class="heading-banner">
                                    <h1>{{ main_body.heading|safe }}</h1>
                                    <h2 class="hidden-xs">{{ main_body.sub_heading|safe }}</h2>
                                    <ul class="hidden-xs">
                                        {% for point in main_body.points %}
                                        <li><img src="{{STATIC_URL}}lp-motor/click_to_call/img/checkmark-white.png" alt=""/> {{ point|safe }}</li>
                                        {% endfor %}
                                    </ul>
                                    <div class="toll-free-box hidden-xs">
                                        Call us on our Toll free No.
                                        <a href="javascript:ClickToCall('form_side');"><h3>{{ settings.CAR_TOLL_FREE }}</h3></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 col-md-6 pnone">
                                <div class="form-box-mini">
                                    <h3 class="hidden-xs">{{ form.heading|safe }}</h3>
                                    <h4 class="hidden-xs">{{ form.sub_heading|safe }}</h4>
                                    <ul class="form hero-form">
                                        <li class="active" data-type="old">
                                            <span class="checkbox"></span>
                                            Renew existing policy
                                        </li>
                                        <li data-type="new">
                                            <span class="checkbox"></span>
                                            Buy insurance for a new car
                                        </li>
                                        <li data-type="expired">
                                            <span class="checkbox"></span>
                                            My policy already expired
                                        </li>
                                    </ul>
                                    <label for="contact-me-num">Mobile Number</label>
                                    <div class="cfinput addon-field">
                                        <span class="addon">+91</span>
                                        <input type="text" id='contact-me-num' placeholder="Enter mobile number"/>
                                    </div>
                                    <div class="contact-me-error">
                                        <p class="error">Please enter a valid 10 digit mobile number</p>
                                    </div>
                                    <button id="show_quote_btn" class="btn-cfox orange btn-next btn-block">
                                        Show me my quotes
                                    </button>
                                    <div class="terms-msg">{{ settings.DND_MSG }}</div>
                                    <p style="margin-top: 15px;font-size:12px;">{{ form.closure_text }}</p>
                                </div><!--/.form-box-mini-->
                                <div class="companies-wrapper">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <ul class="company-logos">
                                                <li><img src="{{STATIC_URL}}lp-motor/img/insurer/larsen-and-tubro-general-insurance.png" alt="Larsen and Tubro General Insurance - Four Wheeler Insurance"></li>
                                                <li><img src="{{STATIC_URL}}lp-motor/img/insurer/bajaj-allianz-general-insurance.png" alt="Bajaj Allianz General Insurance - Four Wheeler Insurance"></li>
                                                <li><img src="{{STATIC_URL}}lp-motor/img/insurer/bharti-axa-general-insurance.png" alt="Bharti AXA General Insurance - Four Wheeler Insurance"></li>
                                                <li><img src="{{STATIC_URL}}lp-motor/img/insurer/tata-aig.png?ver=1" alt="Tata Aig"></li>
                                                <li><img src="{{STATIC_URL}}lp-motor/img/insurer/iffco-tokio-general-insurance.png" alt="IFFCO TOKIO General Insurance - Four Wheeler Insurance"></li>
                                                <li><img src="{{STATIC_URL}}lp-motor/img/insurer/hdfc-ergo-general-insurance.png" alt="HDFC ERGO General Insurance - Four Wheeler Insurance"></li>
                                                <li><img src="{{STATIC_URL}}lp-motor/img/insurer/universal-sompo-general-insurance.png" alt="Universal Sompo General Insurance - Four Wheeler Insurance"></li>
                                                <li><img src="{{STATIC_URL}}lp-motor/img/insurer/new-india-general-insurance.png" alt="New India General Insurance - Four Wheeler Insurance"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- companies wrapper -->
                                <div class="heading-banner click2call visible-xs">
                                    <h2>Buy Online and get instant policy in 5 minutes</h2>
                                    <ul>

                                        <li><img src="{{STATIC_URL}}lp-motor/click_to_call/img/checkmark-white.png" alt=""> Cashless Settlement in nearest garage</li>

                                        <li><img src="{{STATIC_URL}}lp-motor/click_to_call/img/checkmark-white.png" alt=""> Free towing and pick-up services</li>

                                        <li><img src="{{STATIC_URL}}lp-motor/click_to_call/img/checkmark-white.png" alt=""> Guaranteed End to End Claims Assistance</li>

                                    </ul>
                                    <button onclick="ClickToCall('hero_action')" class="btn-cfox orange btn-next c2c">
                                        <img src="{{STATIC_URL}}lp-motor/click_to_call/img/call-button.png" alt="">
                                        Click to Call<div>(Toll Free: 1800 209 9930)</div>
                                    </button>
                                </div>
                            </div><!--/.col-md-6-->
                        </div><!--/.row-->
                    </div><!--/.club-form-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.car-banner-->
{% endblock %}
{% block companies %}
{% endblock %}
{%block footer_css%}
    {% compress css %}
    <link href="{{STATIC_URL}}lp-motor/click_to_call/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{%block footer_js%}
{% endblock %}
