{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="car-banner">
        <div class="container">
            <div class="row">
                <div class="hero-form col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-2 pnone">
                    <div class="form-box-mini">
                        <h1 data-drip-attribute="headline">{{ form.heading|safe }}</h1>
                        <h3 data-drip-attribute="description">{{ form.sub_heading|safe }}</h3>
                        <form id="form" data-drip-embedded-form="4468485" action="https://www.getdrip.com/forms/4468485/submissions" method="post" onsubmit="return validate_form()">
                            <label for="car-brand-name">Car Brand Name</label>
                            <div class="cfinput addon-field">
                                <input type="text" name="fields[car_brand_name]" id='car-brand-name' placeholder="Car Brand Name" required="true"/>
                            </div>
                            <!-- <div class="contact-me-error">
                                <p id="brand-error" class="error">Please enter a valid Car Brand Name</p>
                            </div> -->
                            <label for="expiry-date">Car Expiry Details</label>
                            <div class="cfinput addon-field clearfix">
                                <select id="month" onchange="this.options[0].style.display='none';" class="input_field_nw brn" >
                                    <option value="0" selected="true">MMM</option>
                                    <option value="1" >JAN</option>
                                    <option value="2" >FEB</option>
                                    <option value="3" >MAR</option>
                                    <option value="4" >APR</option>
                                    <option value="5" >MAY</option>
                                    <option value="6" >JUN</option>
                                    <option value="7" >JUL</option>
                                    <option value="8" >AUG</option>
                                    <option value="9" >SEP</option>
                                    <option value="10" >OCT</option>
                                    <option value="11" >NOV</option>
                                    <option value="12" >DEC</option>
                                </select>
                                <input type="text" id="year" size="4"  placeholder="YYYY" class="input_field_nw" required="true" />
                                <input type="text" name="fields[car_expiry_date]"  id="expiry-date" style="display: none;" />
                            </div>
                             <div id="date-error" class="contact-me-error">
                                <p id="date-error-text" class="error">Please enter a valid date</p>
                            </div>
                            <label for="contact-me-email">Email Address</label>
                            <div class="cfinput addon-field">
                                <input type="text" name="fields[email]" id='contact-me-email' placeholder="Enter Email Address" required="true" />
                            </div>
                             <div id="email-error" class="contact-me-error">
                                <p  class="error">Please enter a valid email address</p>
                            </div>
                            <button id="sign_up_btn" class="btn-cfox orange btn-next btn-block">
                                {{ form.button_text|safe }}
                            </button>
                        </form>
                        <div id="success" style="display: none;">
                            <h2>Thank you for submitting your details.</h2>
                       <h3>We will get back to you with the cheapest quote before your car insurance expiry date.</h3>
                        </div>
                        <div class="toll-free">
                            Call us on: <a href="javascript:ClickToCall('top_bar')">
                                {{ settings.CAR_TOLL_FREE }}
                            </a>
                        </div>
                    </div><!--/.form-box-mini-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.car-banner-->
{% endblock %}
{% block benifit_list %}
    <section class="prop-cos">
        <div class="container">
            <h1>Get 100% Claims Support with <img class="logo" src="{{STATIC_URL}}lp-motor/img/coverfox-logo-white.png" alt="Coverfox"/></h1>
            <h3>Avail upto 60% discount on premium by buying a policy ONLINE</h3>
            <ul class="prop clearfix">
                {% for point in main_body.points %}
                    <li><img src="{{STATIC_URL}}lp-motor/img/checkmark-white.png" alt=""/> {{ point|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/switch/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{%block footer_js%}
    <script type="text/javascript">
        var hero_phone_mandatory = 'YES';
        var drip_id= "{{ request.GET.drip_subscriber_id }}";
        //console.log("drip", drip_id);
        if(drip_id != ""){
            document.getElementById("success").style.display="block";
            document.getElementById("form").style.display="none";
        }
        function validate_form(){
            $('.contact-me-error').hide();
            //brand = document.getElementById("car-brand-name").value;
            mon = document.getElementById("month").value;
            yr = document.getElementById("year").value;
            email = document.getElementById("contact-me-email").value;
            res = false;
            re_email = false;
            var d = new Date();
            var n = d.getFullYear() + 1;
            if(yr.length == 4)  res = yr.match(/[2]{1}[0]{1}\d{2}/);
            if(email != "") re_email = email.match(/^([A-Z0-9]+([+-._]?[A-Z0-9]+)*)@((?:[A-Z0-9-]+\.)*\w[A-Z0-9-]{0,66})\.([A-Z]{2,6}(?:\.[A-Z]{2})?)$/i);

            if(res && re_email && mon >0 && yr <= n){
                  document.getElementById("expiry-date").value= mon+"/"+yr;
                  return true;
                }
            if(!res || yr > n ) {
            //alert( "Please Enter valid Year.");
            document.getElementById("date-error").style.display="block";
            document.getElementById("date-error-text").innerHTML="Please Enter valid Year";
            }
            if(!re_email){
                document.getElementById("email-error").style.display="block";
            }
            if(mon == 0) {
                //alert( "Please select month.");
                document.getElementById("date-error").style.display="block";
                document.getElementById("date-error-text").innerHTML="Please select month";
            }
            return false;
        }
    </script>
{% endblock %}
