{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block header %}
{% endblock %}
{% block top_link %}
<section class="ebook_section_conatiner">
    <div class="container">
        <div class="row">
            <div class="ebook_section clearfix">
                <div class="col-md-6 col-sm-6">
                    <img src="{{STATIC_URL}}/lp-motor/ebook_download/img/cover.png" alt="Car Insurance" class="img-responsive">
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="ebook_car_form_container">
                        <h4>Your Effective guide to learn</h4>
                        <h2><em>All about</em> <strong>Car Insurance renewals</strong></h2>
                        <div class="form_wrapper" id="email-content-top">
                            <form action="https://www.getdrip.com/forms/2483007/submissions" method="post" target="_blank" data-drip-embedded-form="2483007" onsubmit="return saveEmail('top')" data-drip-id="2483007">
                                <input type="text" id="email-id-top" name="fields[email]" class="cf-input" placeholder="Your Email Address" value="" data-validation="required,email" required>
                                <p class="error hide" id="email-error-top">Please enter a valid email ID</p>
                                <div class="pos_relative">
                                    <span>&darr;</span>
                                    <input type="submit" class="btn_light_red" id="download-top" value="Download Ebook">
                                </div>
                                <input type="hidden" name="time_zone" value="Asia/Kolkata"><input type="hidden" name="url" value="http://localhost:8000/lp/health-insurance/compare/"><input type="hidden" name="page_title" value="Premium Calculator | Health Insurance | Mediclaim Policy"></form>
                        </div>
                        <p>
                             <img src="{{STATIC_URL}}/lp-motor/ebook_download/img/Book.png" alt="Car Insurance book">
                        </p>
                        <div class="hide" id="success-top">
                            <div class="field_wrapper">

                                <p>Great! You'll shortly receive the download link for the ebook in your email.</p>
                                <p>In the meanwhile, you can checkout some of our other <a href="/articles/">articles</a> to help you get smart about your insurance!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ebook_section_light">
    <div class="container max_wid">
        <div class="row">
            <div class="col-md-12">
                <h2>Your effective guide to car insurance renewals </h2>
                <p>A handbook that will help you realize not only the importance of renewing your car's insurance policy but also assist with the finer points to consider and work on while you have to renew your car insurance. And if that's not enough, the eBook also helps with some must-know information about the perfect add-ons, which will boost your car's insurance to a super-powered one - rough and roaring just as your car would want it to be! </p>
            </div>
        </div>
    </div>
</section>
<section class="ebook_section_dark">
    <div class="container max_wid">
        <div class="row">
            <div class="col-md-12">
                <h2>What's inside the book? </h2>
                <ul>
                    <li><strong>Renewal is not a choice!</strong> <br> If you thought an insurance policy, once taken, can take a back seat for eternity, this chapter will tell you all about how unmanageable renewing a lapsed policy can be and why it could mean tough business! </li>
                    <li><strong>Online insurance in 4 easy steps!</strong> <br> Like everything else available easily online, this chapter breaks down how buying insurance online is plain-sailing and how it is only beneficial for you to use the internet for your insurance as well! It shows you the process in just 4 easy steps! </li>
                    <li><strong>How to reduce your car premium and when not to!</strong> <br> Pay only for what you need and use - a chapter that will help you find new ways to tweak your car premium and pay less. And yet another chapter that will tell you when you have to listen to those warning bells about discounted premiums and why you've to stay away from them! </li>
                    <li><strong>Exclusions and claim rejections!</strong> <br> Known to be no one's favourite, these chapters help with identifying exclusions at the beginning when you have to renew your policy, so that you could reason better if you ever have to avoid claim rejections in the future and how can use certain add-ons to do so! </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="ebook_section_light">
    <div class="container max_wid">
        <div class="row">
            <div class="col-md-12">
                <h2>Chapter list </h2>
                <ul>
                    <li><span>If you don't renew your lapsing policy, you need to sweat it out later!</span></li>
                    <li><span>Buying/renewing your insurance online is a piece of cake though!</span></li>
                    <li><span>A little something about what affects your car insurance premium </span></li>
                    <li><span>8 clever hacks to reduce your car premium </span></li>
                    <li><span>Discounted premiums - a word of caution</span></li>
                    <li><span>3 mistakes that you make at renewal that can lead to claim rejection!</span></li>
                    <li><span>Exclusions in your policy and using add-ons to work your way through them!</span></li>
                    <li><span>Know your car policy better - understanding definitions </span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="ebook_section_dark">
    <div class="container max_wid">
        <div class="row">
            <div class="col-md-12">
                <h2>Preview box</h2>
                <div class="page_scroll_container">
                <div class="over_flow">
                   <div class="pageonescroll">
                        <div class="heading clearfix">
                            <div class="col-md-6">
                                <span>1</span>
                            </div>
                            <div class="col-md-6">
                                <h3>If you don't renew your <strong>expiring policy</strong>, you need </h3>
                            </div>
                        </div>
                        <p>When you drive out in your car, the chances of meeting with an accident or damaging the car or even getting it stolen are so high that you could rightfully wish to keep it locked away for eternity! That's why insurance policies help you breathe easy.</p>
                        <p>Yet, according to a survey by the largest general insurance company of India - New India Assurance Ltd. - only 67% of cars on the road are insured! A whopping 33% have chosen to livedangerously, unaware of the possible danger to their cars or ignorant of the penalty of Rs. 75,000 that they might have to pay! To reiterate, what you'd need is a comprehensive policy! If you don't have one, get one! But if you had one and let it expire, renew it before you lose any more time than you already have! </p>
                        <p>Renewing an expired policy is extremely cumbersome! You may have already lost out on manyaspects of your expired policy than you know! Here are a few: </p>
                        <div class="hidden-xs">
                            <div class="box_container">
                                <div class="list_arrow">
                                    <span class="number">1</span>
                                    <p>Insurance companies reward prompt payments with a maximum discount 10 levied on your policy at renewal. This is sometimes as high as even 50%-60%. If you let your policy expire, you lose this discount! </p>
                                </div>
                                <div class="arrow">
                                    <img src="{{STATIC_URL}}/lp-motor/ebook_download/img/1.png" alt="">
                                </div>
                            </div>
                            <div class="box_container">
                                <div class="list_arrow">
                                    <span class="number">2</span>
                                    <p>For every expired policy, a mandatory inspection of the vehicle is done be-fore afresh policy is rolled out. It could cost anything between Rs.250 and Rs.500. Wouldyou want to pay out this amount yourself?  </p>
                                </div>
                                <div class="arrow">
                                    <img src="{{STATIC_URL}}/lp-motor/ebook_download/img/2.png" alt="">
                                </div>
                            </div>
                            <div class="box_container">
                                <div class="list_arrow">
                                    <span class="number">3</span>
                                    <p>Post the grace period (90 days that's allowed for renewal of an expired policy), the No Claims Bonus (NCB) discount is snatched out! You saved up 3 this discount by driving cautiously - would you want to let it go waste and start all over again? </p>
                                </div>
                                <div class="arrow">
                                    <img src="{{STATIC_URL}}/lp-motor/ebook_download/img/3.png" alt="">
                                </div>
                            </div>
                            <p>
                                <strong>Now here is the challenge! </strong>
                            </p>
                            <div class="box_container">
                                <div class="list_arrow pad">
                                    <span class="number">4</span>
                                    <p>Say you lost your NCB and got your vehicle re-inspected too, at your own cost. It is still no guarantee that your request for policy renewal will be approved! If the insurance company finds any existing damage, you will be required to repair that too and apply for policy renewal all over again!  </p>
                                </div>
                                <div class="arrow">
                                    <img src="{{STATIC_URL}}/lp-motor/ebook_download/img/4.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="list_mobile visible-xs">
                            <ul>
                                <li>Insurance companies reward prompt payments with a maximum discount 10 levied on your policy at renewal. This is sometimes as high as even 50%-60%. If you let your policy expire, you lose this discount!</li>
                                <li>For every expired policy, a mandatory inspection of the vehicle is done be-fore afresh policy is rolled out. It could cost anything between Rs.250 and Rs.500. Wouldyou want to pay out this amount yourself?</li>
                                <li>Post the grace period (90 days that's allowed for renewal of an expired policy), the No Claims Bonus (NCB) discount is snatched out! You saved up 3 this discount by driving cautiously - would you want to let it go waste and start all over again?</li>
                                <li style="list-style:none;"><strong>Now here is the challenge!</strong></li>
                                <li>Say you lost your NCB and got your vehicle re-inspected too, at your own cost. It is still no guarantee that your request for policy renewal will be approved! If the insurance company finds any existing damage, you will be required to repair that too and apply for policy renewal all over again! </li>
                            </ul>
                        </div>
                   </div>
                   <div class="pageonescroll">
                        <div class="heading clearfix">
                            <div class="col-md-4">
                                <span>2</span>
                            </div>
                            <div class="col-md-8">
                                <h3><strong>Buying/renewing your insurance</strong>'  online is a piece of cake though </h3>
                            </div>
                        </div>
                        <p>From gadgets to groceries, it is now insurance that you can compare, select and buy online! No more chasing your agent (or vice versa) to get your insurance policy sorted. Insurance companies, having raised standards, compete with themselves to boast of exemplary online offers and services. They have opened up to people, the advantages of making such an important decision right from the comfort of your home with a simple click of your mouse! </p>
                        <div class="testimonial_container">
                            <blockquote class="testimonial">
                                <p>We've been seeing a great upsurge in the eCommerce industry and a large group of-working professionals are increasingly comfortable with online The insurancesector is no different and very much a part of this eCommerce momentum </p> 
                            </blockquote>
                            <div class="arrow-down"></div>
                            <p class="testimonial_user">
                                <strong>Nikhil Bharadwaj</strong> <br>
                                <span>Vetical Head Websales</span><br>
                                <span>Bajaj Allianz General Insurance Co Ltd </span>
                            </p>
                            <div class="clearfix"></div>
                        </div>
                        <p>The most popular advantages here below:</p>
                        <div class="ul_box">
                            <ul>
                                <li><img src="{{STATIC_URL}}/lp-motor/ebook_download/img/5.png"> <strong>Better pricing</strong>: Insurance companies offer lower rates deducting paperwork and operational costs that are levied on offline policies!</li>
                                <li><img src="{{STATIC_URL}}/lp-motor/ebook_download/img/6.png"><strong>Paperless transactions</strong>: Offline policies require lots of documentation and long-winded forms to be filled out. Online forms are more simpler, efficient and even environment saving! </li>
                                <li><img src="{{STATIC_URL}}/lp-motor/ebook_download/img/7.png"> <strong>Easy, convenient and time saving</strong>: Insurance companies have made sure that websites are layman-friendly. Their websites' user-interface provides easy availability of information in a transparent manner, making the user finish any transaction quicker than one expects to. </li>
                                 <li><img src="{{STATIC_URL}}/lp-motor/ebook_download/img/8.png"> <strong>Policy endorsements</strong>: No more running behind agents to change particulars that's registered against your name. Online endorsements of such details are done in a jiffy with a simple self-declaration form!  </li>
                                 <li><img src="{{STATIC_URL}}/lp-motor/ebook_download/img/9.png"> <strong>Policy comparison</strong>:Online policies allow you to compare their prices and other features. On Coverfox.com, you will also be able to compare these features across major insurance compa-nies also! helps you make an informed decision about your purchase.</li>
                            </ul>
                        </div>
                        <div class="four_steps_container">
                            <p>Compare quotations/plans. (Check for NCB, IDV, Add-ons,and discounts) </p>
                            <div class="steps">
                                <p>Fill in your vehicle details (car mod-el, variant, registration year, RTO) </p>
                                <p>Compare quotations/plans. (Check for NCB, IDV, Add-ons,and discounts) </p>
                                <p>Fill out your proposal form ( Your personal details, past policy details  </p>
                                <p class="pad">Make payment </p>
                            </div>
                            <p><strong>And you're done!</strong> <a href="#"><img src="{{STATIC_URL}}/lp-motor/ebook_download/img/12.png" alt="Like"></a></p>
                        </div>
                   </div> 
                </div> 
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ebook_section_light">
    <div class="container max_wid">
        <div class="row">
            <div class="col-md-12">
                <h2>About the author </h2>
            </div>
            <div class="author_description clearfix">
                <div class="col-md-2 col-sm-2">
                    <div class="auther_name">
                        <img src="{{STATIC_URL}}/lp-motor/ebook_download/img/ani.jpg" alt="Animesh">
                    </div>
                </div>
                <div class="col-md-10 col-sm-10">
                    <p>Animesh takes care of Motor Insurance business at Coverfox.com. Having completed his Bachelors in technology from IIT Kharagpur, he has gained immeasurable experience with Insurance products and their process. Animesh has worked with most of the leading Insurance brands and channels in India and holds expertise in development, underwriting & pricing of Motor Products.</p>
                    <p>If and when he gets enough time to turn his attention away from insurance, he loves to challenge himself with mountaineering and travelling!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% block companies %}{% endblock %}
{% block free_services %}{% endblock %}
{% block testimonials %}{% endblock %}
{% block hero_video %}{% endblock %}
{% block why_compare %}{% endblock %}
{% block about_us %}{% endblock %}
{% endblock %}
{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/ebook_download/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{%block footer_js%}
    <script type="text/javascript">
    var email_re = /^([A-Z0-9]+([+-._]?[A-Z0-9]+)*)@((?:[A-Z0-9-]+\.)*\w[A-Z0-9-]{0,66})\.([A-Z]{2,6}(?:\.[A-Z]{2})?)$/i;
    function saveEmail(pos) {
        context = $('#download-'+pos);
        $('#email-error-'+pos).addClass('hide');
        context.removeClass('hide');
        var email = $('#email-id-'+pos).val();
        var res = null;
        if (email) {
            res = email.match(email_re);
            if (res) {                
                Cookies.set('email', email); 
                $("#success-top").removeClass("hide");
                $("#email-content-top").addClass("hide");
                return true;                             
            }
            else {
                $('#email-error-'+pos).removeClass('hide');
                return false;
            }
        }
        else {
            $('#email-error-'+pos).removeClass('hide');
            return false;
        }
    }
    var email = Cookies.get('email');
    var email_objs = $('input[id^=email-id-]');
    function set_email(v) {
        if(!email_objs.val()) email_objs.val(v);
    }
    if(email) {
        set_email(email);
    }
    var option = Cookies.get('option');    
    a = parseInt(option)+ 1;
    console.log(a+1);
    $("#tab"+a).attr('checked',true);
    function sendDataToGoogleForm(){
        var arr =['Choosing the best, most suitable product amongst so many brands?','Getting personalized post-sales services.','Getting worry free claims support.'];
        var email = $('#email-id-gf').val();
        var option =  $("input[type='radio'][name='step']:checked").val();  
        console.log(arr[option]);      
        res = email.match(email_re);
        if (!(option == undefined) && (email !== "") && (res)) {
            $('#email-error-gf').addClass('hide');
            $('#option-error-gf').addClass('hide');
            $.ajax({
                url: "https://docs.google.com/a/coverfoxmail.com/forms/d/1M1UyWQ24Zv_jH-0DBHNVwz8p3BitizLQx3NtBzs9-vY/formResponse",
                data: {"entry.972152149" : email, "entry.1695665413": arr[option]},
                type: "POST",
                dataType: "xml",
                statusCode: {
                    0: function (){ 
                       Cookies.set('option', option);
                       Cookies.set('email', email);
                       console.log(option,email, arr[option]);
                       $("#thankyou").removeClass("hide");
                       $("#g-form").addClass("hide");
                    },
                    200: function (){
                       Cookies.set('option', option);
                       Cookies.set('email', email);
                       console.log(option,email, arr[option]);
                       $("#thankyou").removeClass("hide");
                       $("#g-form").addClass("hide");

                    }
                }
            });
        }
        else if(option == undefined){
            $('#option-error-gf').removeClass('hide');
        }
        else {            
            $('#email-error-gf').removeClass('hide');
            $('#option-error-gf').addClass('hide');
        }
    } 
</script>
{% endblock %}
