{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="car-banner">
        <div class="container">
            <div class="row">
                <div class="hero-form col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-2 pnone">
                    <div class="form-box-mini">
                        <h1>{{ main_body.heading }}</h1>
                        <h3>{{ main_body.sub_heading }}</h3>
                        <ul class="form">
                            <li class="active" data-type="old">
                                    <span class="checkbox">
                                        <img src="{{STATIC_URL}}lp-motor/email_only/img/checkmark-white.png" alt=""/>
                                    </span>
                                Renew Existing Policy
                            </li>
                            <li data-type="new">
                                    <span class="checkbox">
                                        <img src="{{STATIC_URL}}lp-motor/email_only/img/checkmark-white.png" alt=""/>
                                    </span>
                                Buy Insurance for a new car
                            </li>
                            <li data-type="expired">
                                    <span class="checkbox">
                                        <img src="{{STATIC_URL}}lp-motor/email_only/img/checkmark-white.png" alt=""/>
                                    </span>
                                Renew Expired Policy
                            </li>
                        </ul>
                        <label for="contact-me-email">Email</label>
                        <input id="contact-me-email" class="form-control email_field" type="text" placeholder="Email" name="email">
                        <div class="contact-me-error">
                            <p class="error">Please enter a valid email id</p>
                        </div>
                        <button id="show_quote_btn" class="btn-cfox orange btn-next btn-block">
                            Get Quick Quotes
                        </button>
                        <div class="toll-free">
                            Call us on: <a href="javascript:ClickToCall('top_bar')">
                                {{ settings.CAR_TOLL_FREE }}
                            </a>
                        </div>
                    </div><!--/.form-box-mini-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.car-banner-->
{% endblock %}
{% block benifit_list %}
    <section class="prop-cos">
        <div class="container">
            <h1>Get 100% Claims Support with <img class="logo" src="{{STATIC_URL}}lp-motor/img/coverfox-logo-white.png" alt="Coverfox"/></h1>
            <h3>Avail upto 60% discount on premium by buying a policy ONLINE</h3>
            <ul class="prop clearfix">
                {% for point in main_body.points %}
                    <li><img src="{{STATIC_URL}}lp-motor/img/checkmark-white.png" alt=""/> {{ point|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/email_only/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{% block hero_form_js %}
    <script src="{{STATIC_URL}}marketing/motor/js/utils.js"></script>
    <script src="{{STATIC_URL}}marketing/motor/js/email_form.js"></script>
    <script src="{{STATIC_URL}}marketing/motor/js/benefits_fold.js"></script>
{% endblock %}

{%block footer_js%}
{% endblock %}
