{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block title %}{{ page_title|safe }}{% endblock %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="car-banner">
        <div class="container">
            <div class="row">
                <div class="discription_container">
                    <h1>Buy Iffco Tokio Car Insurance Plan <br>from Coverfox </h1>
                    <div class="top_mobile_logo clearfix">
                        <div class="col-xs-4 iffco pnone">
                            <img src="/static/lp-motor/iffco_car_insurance/img/4.png" class="img-responsive">
                        </div>
                        <div class="col-xs-8 same_product">
                            <p>Same Products.</p>
                            <p>Same Price.</p>
                            <p>Guaranteed services.</p>
                            <h5>Get [FREE] Additional benefits from Coverfox <br/>with your {{brand.title}} policy</h5>
                        </div>
                    </div>
                    <div class="phone_container">

                        <p class="tlk_expert">Talk to an expert</p>
                        <div class="input_container">
                            <div class="input-group">
                                <div class="input-group-addon">+91</div>
                                <input type="text" id="contact-me-num" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" placeholder="Enter your Mobile Number">
                            </div>
                            <button id="show_quote_btn" class="orange_btn" type="button">Get Additional Benefits </button>

                            <div class="terms-msg"> {{ settings.DND_MSG }} </div>
                            <div class="base-box">
                                <ul class="clearfix">
                                    <li><img class="icon" src="/static/lp-motor/mobile_brand/img/lock.png"> Secure<br>Payments</li>
                                    <li><img class="icon" src="/static/lp-motor/mobile_brand/img/checkmark-circle.png"> 100% Service<br>Guaranteed</li>
                                    <li class="icon-seal"><img class="icon" src="/static/lp-motor/mobile_brand/img/vs_gd_light.gif"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div>
    </div>
    {%block companies%}{% endblock%}
     <div class="companies-wrapper-mobile">
        <div class="container-fluid">
            <div class="row">
                <ul class="logos">
                    <li><img src="{{ STATIC_URL }}lp-motor/img/insurer/larsen-and-tubro-general-insurance.png" alt="Larsen and Tubro General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{ STATIC_URL }}lp-motor/img/insurer/bajaj-allianz-general-insurance.png" alt="Bajaj Allianz General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{ STATIC_URL }}lp-motor/img/insurer/bharti-axa-general-insurance.png" alt="Bharti AXA General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/tata-aig.png?ver=1" alt="Tata Aig"></li>
                    <li><img src="{{ STATIC_URL }}lp-motor/img/insurer/iffco-tokio-general-insurance.png" alt="IFFCO TOKIO General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{ STATIC_URL }}lp-motor/img/insurer/hdfc-ergo-general-insurance.png" alt="HDFC ERGO General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{ STATIC_URL }}lp-motor/img/insurer/universal-sompo-general-insurance.png" alt="Universal Sompo General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{ STATIC_URL }}lp-motor/img/insurer/new-india-general-insurance.png" alt="New India General Insurance - Four Wheeler Insurance"></li> <br>

                </ul>
                <button onclick="skipForm('compare_features')" class="orange_btn" type="button">Compare features now</button>
            </div>

        </div>
     </div><!-- companies wrapper -->
{% endblock %}


{% block benifit_list %}
<section class="light-box renew_car_section pt">
    <div class="container">
        <h1>Benefits of Iffco Tokio Car Insurance </h1>
        <div class="col-md-6 col-md-offset-1 bdr">
            <ul>
                <li><img src="/static/lp-motor/renew_car_insurance/img/checkmark-white.png" alt=""> Online claim tracking</li>
                <li><img src="/static/lp-motor/renew_car_insurance/img/checkmark-white.png" alt=""> Instant Policy in your Inbox</li>
            </ul>
        </div>
        <div class="col-md-5">
            <ul>
                <li><img src="/static/lp-motor/renew_car_insurance/img/checkmark-white.png" alt="">Cashless claim settlement at over 2000 Garages</li>
                <li><img src="/static/lp-motor/renew_car_insurance/img/checkmark-white.png" alt="">24x7 claim registration service </li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}


{% block call_to_action_2 %}
    <button onclick="skipForm('premium_calculator')" class="btn-cfox orange btn-next btn-block">Help Me Renew My Car Insurance</button>
{% endblock %}

{%block footer_css%}
    {% compress css %}
        <link href="{{ STATIC_URL }}lp-motor/iffco_car_insurance_mobile/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{%block footer_js%}
    <script type="text/javascript">
        var next_page_url = '/motor/car-insurance/';
        function skipForm(label){
            window.dataLayer.push({
                'event': 'GAEvent',
                'hitType': 'event',
                'eventCategory': 'MOTOR',
                'eventAction': 'hero_skip_'+ label,
                'eventLabel': '{{ page_id }}',
                'eventValue': 0
            });
            window.location = next_page_url;
            return false;
        }

        var CSRF_TOKEN;
        $(document).ready(function(){
            $('.contact-me-error').hide();
            $.get("{%url 'get_token'%}", function(data){
                CSRF_TOKEN = data.csrf;
            }, 'json');

            var policy_type = 'old';
            var next_page_url = '/motor/car-insurance/';
            Cookies.set('fourwheeler_policyExpired', false);
            Cookies.set('fourwheeler_isNewVehicle', false);
            $(document).on('click', '.hero-form li', function(){
                var formelements = $('.hero-form li');
                formelements.removeClass('active');
                var context = $(this);
                context.addClass('active');
                policy_type = context.data("type");
                if(policy_type=="old"){
                    Cookies.set('fourwheeler_policyExpired', false);
                    Cookies.set('fourwheeler_isNewVehicle', false);
                    next_page_url = '/motor/car-insurance/';
                }
                if(policy_type=="new"){
                    Cookies.set('fourwheeler_policyExpired', false);
                    Cookies.set('fourwheeler_isNewVehicle', true);
                    next_page_url = '/motor/car-insurance/';
                }
                if(policy_type=="expired"){
                    Cookies.set('fourwheeler_policyExpired', true);
                    Cookies.set('fourwheeler_isNewVehicle', false);
                    next_page_url = '/lp/car-insurance/renew-expired-policy/';
                }
            });
            $(document).on('click', '#show_quote_btn', function(){
                window.dataLayer.push({
                    'event': 'GAEvent',
                    'hitType': 'event',
                    'eventCategory': 'MOTOR',
                    'eventAction': 'policy_type_' + policy_type,
                    'eventLabel': '{{ page_id }}',
                    'eventValue': 0
                });
                window.dataLayer.push({
                    'event': 'GAEvent',
                    'hitType': 'event',
                    'eventCategory': 'MOTOR',
                    'eventAction': 'hero_form_submit',
                    'eventLabel': '{{ page_id }}',
                    'eventValue': 0
                });

                var context = $(this);
                $('.contact-me-error').hide();
                var cnum = $('#contact-me-num').val();
                var res = null;
                if(cnum){
                    if (cnum.length == 10){
                        res = cnum.match(/[7-9]{1}\d{9}/);
                        if(res){
                            var cmodel =  {
                                'mobile' : cnum,
                                'campaign': 'Motor',
                                'label': '{{ page_id }}',
                                'policy_type': policy_type,
                                'triggered_page': window.location.href
                            };
                            Cookies.set('mobileNo', cnum);
                            context.addClass('disabled').text('Just a moment...');
                            $.post("/leads/save-call-time/", {'data' : JSON.stringify(cmodel), 'csrfmiddlewaretoken' : CSRF_TOKEN}, function(data){
                                if (data.success){
                                    if (window.dataLayer){
                                        window.dataLayer.push({'gtm_mobile': cnum});
                                        window.dataLayer.push({
                                            'eventCategory': 'MOTOR',
                                            'eventAction': 'CallScheduled',
                                            'eventLabel': '{{ page_id }}',
                                            'eventValue': 4,
                                            'hitType': 'event',
                                            'event': 'GAEvent',
                                            'eventCallback': function(){
                                                window.location = next_page_url;
                                            }
                                        });
                                    }else{
                                        window.location = next_page_url;
                                    }
                                }
                                else{
                                    console.log('POST ERROR', data);
                                    window.location = next_page_url;
                                }
                            }, 'json');
                        }
                        else{
                            $('.contact-me-error').show();
                        }
                    }
                    else{
                        $('.contact-me-error').show();
                    }
                }else{
                    //$('.contact-me-error').show();
                    window.location = next_page_url;
                }
            })
        });
    </script>
{% endblock %}
