{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block title %}{{ page_title|safe }}{% endblock %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="car-banner hidden-xs"></div>
    <div class="container">
        <div class="row">
            <div class="discription_container hidden-xs">
                <div class="col-md-2 col-sm-3 brand_img">
                    <img src="{{STATIC_URL}}lp-motor/brand/img/header_insurers/{{logo_url}}" class="img-responsive" />
                </div>
                <div class="col-md-7 col-sm-6">
                    <div class="info_tab">

                        {% if is_active %}
                        <h1>Buy {{brand.title}} Car Insurance Plan from  Coverfox </h1>
                        <div class="header_txt">Same Products. Same Price. Guaranteed services.</div>
                        <h5>Get [FREE] benefits from Coverfox with your {{brand.title}} policy</h5>
                        {% else %}
                            <h1 style="font-size:20px;">Compare {{brand.title}} Car Insurance Plan with other plans </h1>
                            <div class="header_txt">Same Products. Same Price. Guaranteed services.</div>
                            <h5>Get lowest quotes from Top Insurers</h5>
                        {% endif %}
                        <p class="tlk_expert">Talk to an expert for details</p>
                        <div class="input_container">
                            <div class="input-group">
                                <div class="input-group-addon phone">+91</div>
                                <input type="text" id="contact-me-num" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" placeholder="Enter your Mobile Number" class="input_txtbox">
                                <button id="show_quote_btn" class="orange_btn btn_box" type="button">Get Additional Benefits </button>
                            </div>
                            <div class="contact-me-error">
                                <p class="error">Please enter a valid 10 digit mobile number</p>
                            </div>
                            <div class="terms-msg"> {{ settings.DND_MSG }} </div>
                        </div>
                        <div class="base-box">
                            <ul class="clearfix">
                                <li><img class="icon" src="{{STATIC_URL}}lp-motor/mobile_brand/img/lock.png"> Secure<br/>Payments</li>
                                <li><img class="icon" src="{{STATIC_URL}}lp-motor/mobile_brand/img/checkmark-circle.png"> 100% Service<br/>Guaranteed</li>
                                <li class="icon-seal"><img class="icon" src="{{STATIC_URL}}lp-motor/mobile_brand/img/vs_gd_light.gif"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 car-tab">
                    <img src="{{STATIC_URL}}lp-motor/new_brand/img/car.png" class="img-responsive">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="discription_container_mobile visible-xs hidden-sm">
                <h1>Buy {{brand.title}} Car Insurance Plan from  Coverfox </h1>
                <div class="main">
                    <div class="col-xs-3 pnone brand_img">
                        <img src="{{STATIC_URL}}lp-motor/brand/img/header_insurers/{{logo_url}}" class="img-responsive">
                    </div>
                    <div class="col-xs-9">
                        <p>Same Products.</p>
                        <p>Same Price.</p>
                        <p>Guaranteed services.</p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="phone_container">
                        <h5>Get [FREE] Additional benefits from Coverfox with your {{brand.title}} policy</h5>
                        <p class="tlk_expert">Talk to an expert</p>
                        <div class="input_container">
                            <div class="input-group">
                                <div class="input-group-addon">+91</div>
                                <input type="text" id="contact-me-num" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" placeholder="Enter your Mobile Number">
                            </div>
                            <button id="show_quote_btn" class="orange_btn" type="button">Get Additional Benefits </button>

                            <div class="terms-msg"> {{ settings.DND_MSG }} </div>
                            <div class="base-box">
                                <ul class="clearfix">
                                    <li><img class="icon" src="{{STATIC_URL}}lp-motor/mobile_brand/img/lock.png"> Secure<br>Payments</li>
                                    <li><img class="icon" src="{{STATIC_URL}}lp-motor/mobile_brand/img/checkmark-circle.png"> 100% Service<br>Guaranteed</li>
                                    <li class="icon-seal"><img class="icon" src="{{STATIC_URL}}lp-motor/mobile_brand/img/vs_gd_light.gif"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div><!--/.row-->
    </div>
    {%block companies%}{% endblock%}
     <div class="companies-wrapper">
        <div class="container-fluid">
            <div class="row">
                <ul class="company-logos">
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/larsen-and-tubro-general-insurance.png" alt="Larsen and Tubro General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/bajaj-allianz-general-insurance.png" alt="Bajaj Allianz General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/bharti-axa-general-insurance.png" alt="Bharti AXA General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/tata-aig.png?ver=1" alt="Tata Aig"></li>
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/iffco-tokio-general-insurance.png" alt="IFFCO TOKIO General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/hdfc-ergo-general-insurance.png" alt="HDFC ERGO General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/universal-sompo-general-insurance.png" alt="Universal Sompo General Insurance - Four Wheeler Insurance"></li>
                    <li><img src="{{STATIC_URL}}lp-motor/img/insurer/new-india-general-insurance.png" alt="New India General Insurance - Four Wheeler Insurance"></li> <br>

                </ul>
                <button onclick="skipForm('compare_features')" class="orange_btn" type="button">Compare features now</button>
            </div>

        </div>
     </div><!-- companies wrapper -->
{% endblock %}


{% block benifit_list %}
<section class="light-box renew_car_section pt">
    <div class="container">
        <h1>Benefits of {{brand.title}} Car Insurance </h1>
        <div class="col-md-6 col-md-offset-1 bdr">
            <ul>
                <li><img src="{{STATIC_URL}}lp-motor/renew_car_insurance/img/checkmark-white.png" alt=""> Online claim tracking</li>
                <li><img src="{{STATIC_URL}}lp-motor/renew_car_insurance/img/checkmark-white.png" alt=""> Instant Policy in your Inbox</li>
            </ul>
        </div>
        <div class="col-md-5">
            <ul>
                <li><img src="{{STATIC_URL}}lp-motor/renew_car_insurance/img/checkmark-white.png" alt="">Cashless claim settlement at over 2000 Garages</li>
                <li><img src="{{STATIC_URL}}lp-motor/renew_car_insurance/img/checkmark-white.png" alt="">24x7 claim registration service </li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}


{% block call_to_action_2 %}
    <button onclick="skipForm('premium_calculator')" class="btn-cfox orange btn-next btn-block">Help Me Renew My Car Insurance</button>
{% endblock %}

{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/new_brand/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{%block footer_js%}
    <script type="text/javascript">
        var hero_phone_mandatory = 'YES';
    </script>
{% endblock %}

