<section class="otp-modal hide" id="otp_popup">
    <div class="otp-modal__content">
        {% if tparty %}
            <a class="otp-modal__close" href="/motor/car-insurance/?tparty={{ tparty }}"></a>
        {% elif request.GET.network == 'affiliate' %}
            <a class="otp-modal__close" href="javascript:close_popup()"></a>
        {% else %}
           <a class="otp-modal__close" href="/motor/car-insurance/"></a>
        {% endif %}
        <h4><strong>Verify Your Number</strong> for faster service</h4>
        <p>
            Please enter the 6 digit OTP sent on +91-<span id='mob-num'>9999999999</span> , to help us verify your number and assist you on priority whenever you need.
        </p>
        <div class="otp-input">
            <input type="number" placeholder="Enter OTP Number" id="otp">
        </div>
        <div class="otp-error">OTP is invalid</div>
        <button class="btn btn--orange" id="otp_submit_btn">Submit</button>
        <div class="otp-modal__actions">
            <span id="resending_otp" class="hide" >Resending OTP <img src="{{STATIC_URL}}img/global/ic_continue_dots.png"></span>
            <span id="sent_otp" class="hide" ><img src="{{STATIC_URL}}img/global/ic_checkmark.png"> Sent new OTP</span>
            <a class="pipe-sep" id="resend_otp" href="javascript:resend_otp()">Resend OTP</a>
            <a id="wrong-number" href="javascript:close_popup()">Entered wrong number?</a>
        </div>
    </div>
</section>
