{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block title %}{{ page_title|safe }}{% endblock %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="car-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-4 pnone">
                </div>
                <div class="col-md-9 col-lg-8 pnone">
                    <div class="club-form">
                        <div class="heading-banner">
                            <h1>{{ main_body.heading|safe }}</h1>
                            <h2>{{ main_body.sub_heading|safe }}</h2>
                        </div>
                        <div class="row mnone">
                            <div class="col-sm-6 col-md-6 pnone">
                                <ul>
                                    <li><img src="{{STATIC_URL}}lp-motor/renew_car_insurance/img/checkmark-white.png" alt=""/> Buy Online and save upto 60% on premium</li>
                                    <li><img src="{{STATIC_URL}}lp-motor/renew_car_insurance/img/checkmark-white.png" alt=""/> Cashless Settlement in Nearest Garage </li>
                                    <li><img src="{{STATIC_URL}}lp-motor/renew_car_insurance/img/checkmark-white.png" alt=""/> Guaranteed End to End Claims Assistance</li>
                                </ul>
                                {% ifequal view_id 'call' %}
                                    <div class="toll-free-box hidden-xs">
                                        Call us on our Toll free No.
                                        <a href="javascript:ClickToCall('form_side');"><h3>{{ settings.CAR_CALL_ONLY }}</h3></a>
                                    </div>
                                {% else %}
                                    <div class="toll-free-box hidden-xs">
                                        Call us on our Toll free No.
                                        <a href="javascript:ClickToCall('form_side');"><h3>{{ settings.CAR_TOLL_FREE }}</h3></a>
                                    </div>
                                {% endifequal %}
                            </div>
                            <div class="col-sm-6 col-md-6 pnone">
                                <div class="form-box-mini">
                                    <ul class="form hero-form hidden">
                                        <li class="active" data-type="old">
                                            <span class="checkbox"></span>
                                            Renew Existing Policy
                                        </li>
                                        <li data-type="new">
                                            <span class="checkbox"></span>
                                            Buy Insurance for a New Car
                                        </li>
                                        <li data-type="expired">
                                            <span class="checkbox"></span>
                                            Renew Expired Policy
                                        </li>
                                    </ul>
                                    <label for="contact-me-num">Mobile Number</label>
                                    <div class="cfinput addon-field">
                                        <span class="addon">+91</span>
                                        <input type="text" id='contact-me-num' placeholder="Enter mobile number"/>
                                    </div>
                                    <div class="contact-me-error">
                                        <p class="error">Please enter a valid 10 digit mobile number</p>
                                    </div>
                                    <button id="show_quote_btn" class="btn-cfox orange btn-next btn-block">{{ form.button_text|safe }}</button>
                                    <div class="terms-msg">{{ settings.DND_MSG }}</div>
                                </div><!--/.form-box-mini-->
                            </div><!--/.col-md-6-->
                        </div><!--/.row-->

                    </div><!--/.club-form-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
        {% ifequal view_id 'call' %}
        <div class="toll-free-box mobile-scr visible-xs">
            Call us on our Toll free No.
            <a href="javascript:ClickToCall('form_mobile');"><h3>{{ settings.CAR_CALL_ONLY }}</h3></a>
        </div>
    {% else %}
        <div class="toll-free-box mobile-scr visible-xs">
            Call us on our Toll free No.
            <a href="javascript:ClickToCall('form_mobile');"><h3>{{ settings.CAR_TOLL_FREE }}</h3></a>
        </div>
    {% endifequal %}
    </div><!--/.car-banner-->
{% endblock %}
{% block benifit_list %}
<section class="light-box renew_car_section">
    <div class="container">
        <h1>Why should you not let your Car Insurance expire? </h1>
        <div class="col-md-6 bdr">
            <h3>If your Car Insurance has already expired</h3>
            <ul>
                <li><img src="{{STATIC_URL}}lp-motor/renew_car_insurance/img/checkmark-white.png" alt=""> Renewal can only be done Offline</li>
                <li><img src="{{STATIC_URL}}lp-motor/renew_car_insurance/img/checkmark-white.png" alt=""> Involves a rigorous inspection process</li>
                <li><img src="{{STATIC_URL}}lp-motor/renew_car_insurance/img/checkmark-white.png" alt=""> Takes more than 24 hours</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3>If you renew your Car Insurance before it expires</h3>
            <ul>
                <li><img src="{{STATIC_URL}}lp-motor/renew_car_insurance/img/checkmark-white.png" alt=""> Renewal can be done online</li>
                <li><img src="{{STATIC_URL}}lp-motor/renew_car_insurance/img/checkmark-white.png" alt=""> No inspection and paperwork required</li>
                <li><img src="{{STATIC_URL}}lp-motor/renew_car_insurance/img/checkmark-white.png" alt=""> Takes no more than 2 minutes</li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}



{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/renew_car_insurance/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{%block footer_js%}
    <script type="text/javascript">
        var hero_phone_mandatory = 'YES';
        var policy_type = 'old';
    </script>
{% endblock %}
