{% load compress %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <title>{{ page_title }} </title>
    <meta name="description" content={% block description %}{% if description %}{{ description }}{% else %}"Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance."{% endif %}{% endblock %} />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{STATIC_URL}}lp-motor/renew_expired_policy/img/favicon.ico" type="image/x-icon" />
    {% compress css %}
    <link href="{{STATIC_URL}}lp-motor/renew_expired_policy/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}lp-motor/renew_expired_policy/css/datepicker.css" rel="stylesheet">
    <link href="{{STATIC_URL}}lp-motor/renew_expired_policy/css/style.css" rel="stylesheet">
    {% endcompress %}

    {% if tparty != None %}
        <link href="{{STATIC_URL}}lp-motor/renew_expired_policy/css/style_{{tparty}}.css" rel="stylesheet" >
    {% endif %}
    <link rel="canonical" href="http://www.coverfox.com/car-insurance/buy/" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <script type="text/javascript"> var CSRF_TOKEN="{{ csrf_token }}"</script>
    <!-- Start Visual Website Optimizer Asynchronous Code -->
    <!-- Sentry   -->
    {%if settings.PRODUCTION%}
        <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
        <script>
            Raven.config('https://b73a2dd7e1714ae3aab0e33fd663b391@app.getsentry.com/33123', {
            }).install();
        </script>
    {%endif%}

    <script type='text/javascript'>
        var _vwo_code=(function(){
            var account_id=113955,
                    settings_tolerance=2000,
                    library_tolerance=2500,
                    use_existing_jquery=false,
            // DO NOT EDIT BELOW THIS LINE
                    f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
    </script>
    <!-- End Visual Website Optimizer Asynchronous Code -->
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MR4FRN');</script>
<!-- End Google Tag Manager -->
{%if tparty != None %}
    <div style="background-color: rgb(253, 253, 169); color: #8C8C8C; padding: 4px 15px;">
        Online comparison and sale of Insurance products on this portal is powered by <strong>Coverfox Insurance Broking</strong>
    </div>
{% endif %}


<header>
    <div class="top-bar-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <ul>
                        <li class="logo"><a href="/"><img src="{{STATIC_URL}}lp-motor/renew_expired_policy/img/cf-logo-default.png" alt="Coverfox"></a></li>
                        <li class="irda-tag hidden-xs">Authorized by IRDA <br>Licence : IRDA/ DB 556/ 13</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="expiry-step">
    <div class="container">
        <p class="blue-header">Renew expired car insurance policy</p>
        <h1>Don't worry if your Car Insurance policy is expired.<p class="small text-muted">Just follow the following steps to get your Car Insured.</p></h1>
        <div class="row">
            <div class="col-md-4 step">
                <div class="step-header">
                    <h4>Step 1</h4>
                    <p>Give your basic details</p>
                    <div class="linker"><span></span></div>
                </div>
                <div class="step-content">
                    <label class="special-label">Your name</label>
                    <div class="cf-input">
                        <input id="user_name" name="name" type="text" placeholder="Name"/>
                        <p id="name_error" class="error-text">Please enter your name</p>
                    </div>
                    <div class="special-row clearfix">
                        <div class="col-md-6 col-sm-6">
                            <label class="special-label" style="margin-top:0px;">Email Address</label>
                            <div class="cf-input">
                                <input id="user_email" name="email" type="text" placeholder="Email"/>
                                <p id="email_error" class="error-text">Please enter a valid email address</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label class="special-label" style="margin-top:0px;">Contact Number</label>
                            <div class="cf-input">
                                <span class="input-append">+91</span>
                                <input id="user_phone" name="mobile" class="number-input" type="text" placeholder="10 digit mobile number"/>
                                <p id="phone_error" class="error-text">Please enter a valid phone number</p>
                            </div>
                        </div>
                    </div>
                    <label class="special-label" style="margin-bottom:-5px;">Policy expiry date</label>
                    <div class="clearfix" style="margin-top:10px;">
                        <div class="cf-input">
                            <input id="expiry_date" class="datepicker" name="expiry_date" type="text" data-date-format="dd/mm/yyyy" placeholder="DD/MM/YYYY">
                            <p id="exp_date_error" class="error-text">Please provide policy expiry date</p>
                            <p style="margin-top:5px;font-size:13px;">If your policy is not expired <a href="/motor/car-insurance/" id="click_here">click here</a></p>
                        </div>
                    </div>
                    <div id="policy_claim">
                    <label class="special-label">Have you claimed in your last policy?</label>
                    <label for="r1" class="radio-inline">
                        <input id='r1' name="policy-claimed" type="radio" value="yes"/> Yes
                    </label>
                    <label for="r2" class="radio-inline active">
                        <input id="r2" name="policy-claimed" type="radio" checked="checked" value="no"/> No
                    </label>
                    </div>

                </div>
            </div>
            <div class="col-md-4 step">
                <div class="step-header">
                    <h4>Step 2</h4>
                    <p>Provide required documents</p>
                    <div class="linker"><span></span></div>
                </div>
                <div class="step-content">
                    <h4>Provide your Expired Policy and RC copy :</h4>
                    <div class="option-list">
                        <label class="active">
                            <input name="reqd_docs" type="radio" value="upload" checked="checked"/> Upload documents
                        </label>
                        <label>
                            <input name="reqd_docs" type="radio" value="whatsapp" /> Share via Whatsapp
                        </label>
                        <label>
                            <input name="reqd_docs" type="radio" value="email"/> Send via email
                        </label>
                    </div>
                    <div style="position: relative">
                        <div id="upload" class="document-option reveal">
                            <img src="{{STATIC_URL}}lp-motor/renew_expired_policy/img/upload.png" alt="">
                            <h4>Upload your last year policy and RC copy</h4>
                                <form id="file_submit_form" action="/leads/save-call-time/" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}"/>
                                    <input  name="data" id="post_lead_data" type="hidden"/>
                                    <label class="special-label">Add Policy copy</label>
                                    <input  name="policy_copy" id="add_policy_copy" class="cf-file" type="file" accept=".pdf,.doc,.docx,.txt|image/*"/>
                                    <p id="add_policy_error" class="error-text">Please add policy copy</p>
                                    <label class="special-label">Add RC copy</label>
                                    <input  name="rc_copy" id="add_rc_copy" class="cf-file" type="file" accept=".pdf,.doc,.docx,.txt|image/*">
                                    <p id="add_rc_error" class="error-text">Please add RC copy</p>
                                </form>
                        </div>
                        <h4 id="whatsapp" class="document-option">
                            <img style="width:30px;" src="{{STATIC_URL}}lp-motor/renew_expired_policy/img/wapp-logo.png" alt="">
                            Whatsapp the photo of your last year policy and RC copy on <strong>+91-8422301380</strong>
                        </h4>
                        <h4 id="email" class="document-option" style="margin-bottom:0px;">
                            <img src="{{STATIC_URL}}lp-motor/renew_expired_policy/img/email.png" alt="">
                            Email us your last year policy and RC copy on <a href:"mailto: car@coverfox.com"><strong>car@coverfox.com</strong></a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4 step">
                <div class="step-header">
                    <h4>Step 3</h4>
                    <p>Get your Car inspected</p>
                </div>
                <div class="step-content">
                    <label class="special-label">Any preferred insurance company</label>
                    <div class="cf-input select">
                        <select id="policy_company">
                        </select>
                        <p id="select_company_error" class="error-text">Please select a company</p>
                    </div>
                    <label class="special-label">Preferred day and time for inspection</label>
                    <div class="special-row clearfix">
                        <div class="col-md-6 col-sm-6">
                            <div class="cf-input select">
                                <select name="" id="inspection_day">
                                </select>
                                <p id="inspection_day_error" class="error-text">Please select inspection day</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="cf-input select">
                                <select name="" id="inspection_time">
                                </select>
                                <p id="inspection_time_error" class="error-text">Please select inspection time</p>
                            </div>
                        </div>
                    </div>
                    <label class="special-label">Inspection Address</label>
                    <textarea name="" id="inspection_address" style="width:100%;border-color:rgba(0,0,0,0.25);" rows="3"></textarea>
                    <p id="inspection_address_error" class="error-text">Please provide an address for inspection</p>
                    <div class="clearfix" style="margin-top:10px;">
                        <input id="submit" class="btn-cfox orange btn-block" type="submit" value="Submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="success_message" class="cf-modal">
    <div class="cf-content">
        <h3>We have successfully saved your request.</h3>
        Our Inhouse Car Insurance expert will share the best quote for your Car Insurance and will get your Car Inspected.
        <div class="clearfix" style="margin-top:20px;">
            <a href="/">
                <button id="thanks_btn" class="btn-cfox orange">
                    Continue to our website
                </button>
            </a>
        </div>
    </div>
</div>
<script src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
<script src="{{STATIC_URL}}js/jquery.form.js"></script>
<script src="{{STATIC_URL}}lp/js/cookies.js"></script>
<script src="{{STATIC_URL}}js/motor/utils/crypto.js"></script>
<script src="{{STATIC_URL}}lp-motor/renew_expired_policy/js/bootstrap-datepicker.js"></script>

<!-- start Mixpanel --
<script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
    mixpanel.init("f6b6a4af17bcce00d518ad43b8dcadba",{debug:true});
</script>
<!-- end Mixpanel -->
<script type="text/javascript">
    // mixpanel.track_links("#click_here", "Expired Car to Product",{
    //     'Moved to Product Page':'Moved to Product Page',
    // });
</script>
{% compress js %}
<script src="{{STATIC_URL}}lp-motor/renew_expired_policy/js/system.js"></script>
{% endcompress %}
</body>
</html>
