{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="car-banner">
        <div class="container">
            <div class="row">
                <div class="hero-form col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-2 pnone">
                    <div class="form-box-mini">
                        <h1>{{ form.heading|safe }}</h1>
                        <h3>{{ form.sub_heading|safe }}</h3>
                        <ul class="form">
                            <li class="active" data-type="old">
                            <span class="checkbox">
                                <img src="{{STATIC_URL}}lp-motor/seo_switch/img/checkmark-white.png" alt=""/>
                            </span>
                                Renew Existing Policy
                            </li>
                            <li data-type="new">
                            <span class="checkbox">
                                <img src="{{STATIC_URL}}lp-motor/seo_switch/img/checkmark-white.png" alt=""/>
                            </span>
                                Buy Insurance for a new car
                            </li>
                            <li data-type="expired">
                            <span class="checkbox">
                                <img src="{{STATIC_URL}}lp-motor/seo_switch/img/checkmark-white.png" alt=""/>
                            </span>
                                Renew Expired Policy
                            </li>
                        </ul>
                        <label for="contact-me-num">Mobile Number</label>
                        <div class="cfinput addon-field">
                            <span class="addon">+91</span>
                            <input type="text" id='contact-me-num' placeholder="Enter mobile number"/>
                        </div>
                        <div class="contact-me-error">
                            <p class="error">Please enter a valid 10 digit mobile number</p>
                        </div>
                        <button id="show_quote_btn" class="btn-cfox orange btn-next btn-block">
                            {{ form.button_text|safe }}
                        </button>
                        <div class="terms-msg">{{ settings.DND_MSG }}</div>
                        <div class="toll-free">
                            Call us on: <a href="javascript:ClickToCall('top_bar')">
                            {{ settings.CAR_TOLL_FREE }}
                        </a>
                        </div>
                    </div><!--/.form-box-mini-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </div><!--/.car-banner-->
{% endblock %}
{% block benifit_list %}
    <section class="prop-cos">
        <div class="container">
            <h4>Benefits you get</h4>
            <ul class="prop clearfix">
                {% for point in main_body.points %}
                    <li><img src="{{STATIC_URL}}lp-motor/img/checkmark-white.png" alt=""/> {{ point|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="dark-box why-compare">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img src="{{STATIC_URL}}lp-motor/img/car-compare.png" alt="Car Insurance" width="200px">
                </div>
                <div class="col-sm-8">
                    <h1>Compare Car Insurance Plans</h1>
                    <p>
                        Car insurance is an extremely important investment you make to protect against financial losses
                        on account of damage to your car. In India, <a href="/car-insurance/">car insurance</a> is primarily of 2 kinds: Third Party Liability and Comprehensive Coverage. </p>
                    <p>As the name suggests, third party liability insurance insures you for the legal liability you may have on account of your car causing third party damages to third parties. This could be damage to property or injury to person. This is mandatory as per Indian laws.</p>
                    <p>Comprehensive coverage helps  you get protection for financial loss on account of damage, theft or total loss of your own car. This protection can be further enhanced to protect against specific kind of losses, by way of add ons, such as Engine Protect, <a href="/car-insurance/zero-depreciation/">Zero Depreciation</a> etc. Know more about them through this <a href="/articles/car-insurance/the-essential-guide-to-motor-insurance-add-ons/">infographic</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="light-box">
        <div class="container">
            <h1>Why should you compare car insurance?</h1>
            <p>
                There are 25+ general insurance <a href="/car-insurance/">companies in India offering car insurance</a>. And there are thousands of variants amongst car models available in India. Every insurance company rates each of the cars differently and accordingly arrives at a range of premiums to offer for your specific car. When you choose different addons for your particular kind of usage, this further provides variation to the quotes for the <a href="/">insurance</a>. </p>

            <p> To make the best choice, which is cost effective, has maximum benefits and minimum exclusions, it is very important to compare quotes from at least the top insurance companies. To make the process most efficient and hasslefree, it is best to compare quotes online. Coverfox.com helps you to do that very well, as you can see, shortlist and compare the best quotes from all the top companies at the click of a button. These are also the most competent quotes in terms of pricing and you stand to save up to 60% as compared to other places.
            </p>
        </div>
    </section>
{% endblock %}

{% block why_compare %}
{% endblock %}

{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/seo_switch/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{%block footer_js%}
{% endblock %}
