{% load compress %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="{{STATIC_URL}}lp-motor/tp_widget/css/style.css" rel="stylesheet" type="text/css">
    {% endcompress %}
    {%  if custom_css %}
        <link href="{{STATIC_URL}}lp-motor/tp_widget/css/{{ custom_css }}.css" rel="stylesheet" type="text/css">
    {%  endif %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var CF_URL = "{{site_url}}";
        var TP_URL = "{{tp_url}}";
        var EVENT_LABEL = "{{event_label}}";
        var CAMPAIGN = "{{campaign}}";
        var IFRAME_ID = "{{iframe_id}}";
        var CSRF_TOKEN = "{{csrf_token}}";
        var REDIRECT_DELAY = {{redirect_delay}};
        dataLayer = [];
    </script>
    <script src="{{STATIC_URL}}lp/js/cookies.js"></script>

</head>
<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MR4FRN');</script>
    <!-- End Google Tag Manager -->
<div id="widget" class="form-box">
    <div class="proposition-overlay">
        <h2><span>Best Deal on Car Insurance</span></h2>
        <h3>For <img src="{{STATIC_URL}}lp-motor/tp_widget/img/{{campaign}}.png" alt=" "> Readers!</h3>
        <p>Your <strong>Car Insurance</strong> policy is expiring?</p>
        <ul>
            <li><span class="icon">✓</span> Compare top brands.</li>
            <li><span class="icon">✓</span> No documents required.</li>
            <li><span class="icon">✓</span> Instant Policy.</li>
            <li><span class="icon">✓</span> 100% Claim support.</li>
        </ul>
        <a id="proposition-btn" style="margin-top:15px;" class="btn-jago purple btn-next"><span class="tick-icon">✓</span> Get Started</a>
        <div class="foot">In association with <img src="{{STATIC_URL}}lp-motor/img/coverfox-logo.png" alt="Coverfox"></div>
    </div>
    <div id="wait-msg" class="loading-msg">
        <img src="{{STATIC_URL}}lp-motor/tp_widget/img/loader.gif">
        <p>Please Wait...</p>
    </div>
    <h3>Buy Car Insurance</h3>
    <form>
        <div class="form-group">
            <select class="form-control" id="policy_type">
                <option value="renew">Renew existing policy</option>
                <option value="new">Policy for a new car</option>
                <option value="expired">Policy already expired</option>
            </select>
        </div>
        <div class="vehicle-details row common-fields">
            <div class="col-xs-12">
                <label>Select your car</label>
            </div>
            <p id="vehicle_detail_error" class="error-text">Enter your car details</p>

            <div class="form-group col-xs-4 prnone side-bar">
                <select class="form-control" id="vehicle_make_model">
                    <option value="">Choose car</option>
                </select>
            </div>
            <div class="form-group col-xs-4 prnone">
                <select class="form-control" id="vehicle_fuel_type">
                </select>
            </div>
            <div class="form-group col-xs-4">
                <select class="form-control" id="vehicle_variant">
                    <option value="">Variant</option>
                </select>
            </div>

        </div>
        <div class="registration-details row common-fields">
            <div class="col-xs-12 renew-policy">
                <label>When and where was your car registered?</label>
            </div>
            <div class="col-xs-12 new-policy">
                <label>Where will your car get registered?</label>
            </div>
            <p id="rto_error" class="error-text">Select registration place.</p>
            <p id="reg_date_error" class="error-text">Select registration year.</p>

            <div class="form-group col-xs-6 prnone">
                <select class="form-control" id="vehicle_rto">
                    <option value="">Choose Place</option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <select class="form-control renew-policy" id="vehicle_reg_year">
                    <option value="">Choose Year</option>
                </select>
            </div>
        </div>

        <div class="expiry-details row renew-policy">
            <div class="col-xs-12">
                <label>When is your previous policy expiring?</label>
            </div>
            <div class="form-group col-xs-12">
                <select class="form-control" id="expiry_slot">
                    <option value=0 >Today</option>
                    <option value=3 >Next 3 days</option>
                    <option value=7 >In a week</option>
                    <option value=30 >In a month</option>
                </select>
            </div>
        </div>

        <div id="expired" class="expired-policy">
            <p class='intro'>Get your Expired policy renewed in just 3 steps</p>
            <div class="exp-process clearfix">
                <div class="col-xs-4 process">
                    <strong class="active">1</strong> Give your<br/> basic details
                </div>
                <div class="col-xs-4 process">
                    <strong>2</strong> Upload required documents
                </div>
                <div class="col-xs-4 process">
                    <strong>3</strong> Get your<br/> Car Inspected
                </div>
            </div>
        </div>

        <div class="user-details row">
            <div class="col-xs-12">
                <label>Enter your phone number</label>
            </div>
            <p id="phone_error" class="error-text">Please enter a valid phone number.</p>

            <div class="form-group col-xs-12">
                <div class="input-group">
                    <div class="input-group-addon">+91</div>
                    <input type="text" class="form-control" id="user_phone" placeholder="10 digit mobile number">
                </div>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"  id="whatsapp-checkbox" checked> Get free quotes on mobile
            </label>
        </div>
        <button id="submit" class="btn-jago purple btn-next">
            <span class="tick-icon">✓</span> Get quick quotes
        </button>
    </form>
    <div class="terms-msg">{{ settings.DND_MSG }}</div>
    <div class="footer">
        In association with <img src="{{STATIC_URL}}lp-motor/img/coverfox-logo.png" alt=""/>
    </div>
</div><!--/.form-box -->


{% compress js %}
    <script src="{{STATIC_URL}}campaign/js/zepto.js"></script>
    <script src="{{STATIC_URL}}js/motor/utils/crypto.js"></script>
    <script src="{{STATIC_URL}}lp-motor/tp_widget/js/tp_widget_system.js"></script>
{% endcompress %}

<script type="text/javascript">
    var widget = document.getElementById('widget');
    widget.classList.add('proposition');
    window.onload = function() {
        document.getElementById('proposition-btn').onclick = function(){
            widget.classList.remove('proposition')
        };
    }
</script>
</body>
</html>
