{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block header %}
{% endblock %}
{% block cf_logo %}
    <img src="{{STATIC_URL}}lp-motor/two_folds/img/cf-white-orange-ds.png" alt="Coverfox" class="logo">
{% endblock %}
{% block hero %}
    <div class="car-banner">
        <div class="container">
            <h1>{{ form.heading|safe }}</h1>
            <h3>{{ form.sub_heading|safe }}</h3>
            <button class="btn-cfox orange btn-next go-to-form">
                {{ form.button_text|safe }}
            </button>
        </div><!--/.container-->
    </div><!--/.car-banner-->
    <div class="companies-header">Buy plans from top Companies</div>
{% endblock %}
{% block benifit_list %}
    <section id="form-section" class="form-section">
        <div class="container">
            <h1>Buy Car Insurance in minutes</h1>
            <div class="hero-form">
                <div class="form-box-mini">
                    <ul class="form">
                        <li class="active" data-type="old">
                            <span class="radio-box"></span>
                            Renew Existing Policy
                        </li>
                        <li data-type="new">
                            <span class="radio-box"></span>
                            Policy for a New Car
                        </li>
                        <li data-type="expired">
                            <span class="radio-box"></span>
                            Renew Expired Policy
                        </li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <label for="contact-me-num">Mobile Number</label>
                            <div class="cfinput addon-field">
                                <span class="addon">+91</span>
                                <input type="text" id='contact-me-num' placeholder="Enter mobile number"/>
                            </div>
                            <div class="contact-me-error">
                                <p class="error">Please enter a valid 10 digit mobile number</p>
                            </div>
                            <div class="terms-msg">{{ settings.DND_MSG }}</div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <button id="show_quote_btn" class="btn-cfox orange btn-next btn-block">
                                See lowest Quotes
                            </button>
                        </div>
                    </div>
                </div><!--/.form-box-mini-->
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <ul class="prop clearfix">
                        {% for point in main_body.points %}
                            <li><img src="{{STATIC_URL}}lp-motor/two_folds/img/checkmark-white.png" alt=""/> {{ point|safe }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-4">
                    <a class="toll-free" href="javascript:ClickToCall('top_bar')">
                        Call us on:
                        <strong>{{ settings.CAR_TOLL_FREE }}</strong>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block call_to_action_1 %}
    <button class="btn-cfox orange btn-next go-to-form">
        Get lowest Quotes
    </button>
{% endblock %}
{% block call_to_action_2 %}
    <button class="btn-cfox orange btn-next go-to-form">
        Compare top Policies
    </button>
{% endblock %}

{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/two_folds/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}


{%block footer_js%}
    <script type="text/javascript">
        var hero_phone_mandatory = 'YES';
        $(document).ready(function(){
            // page scroll javascript
            function scrollTo(element, to, duration) {
                var start = element.scrollTop,
                        change = to - start,
                        currentTime = 0,
                        increment = 20;

                var animateScroll = function(){
                    currentTime += increment;
                    var val = Math.easeInOutExpo(currentTime, start, change, duration);
                    element.scrollTop = val;
                    if(currentTime < duration) {
                        setTimeout(animateScroll, increment);
                    }
                };
                animateScroll();
            }
            //t = current time
            //b = start value
            //c = change in value
            //d = duration
            Math.easeInOutExpo = function (t, b, c, d) {
                t /= d/2;
                if (t < 1) return c/2 * Math.pow( 2, 10 * (t - 1) ) + b;
                t--;
                return c/2 * ( -Math.pow( 2, -10 * t) + 2 ) + b;
            };

            var $topbar = $('#topbar');
            var $formSection = $('#form-section');
            $(document).on('click', '.go-to-form', function() {
                var widthLimit = '767';
                if($(window).width() > widthLimit) {
                    var scrollToPos = $formSection.offset().top - $topbar.height();
                    $topbar.addClass('active');
                }
                else {
                    var scrollToPos = $formSection.offset().top;
                }
                scrollTo(document.body, scrollToPos, 800);
            });
            $(window).scroll(function() {
                if ($topbar.offset().top > $topbar.height()) {
                    $topbar.addClass('active');
                } else {
                    $topbar.removeClass('active');
                }
            });
        });
    </script>
{% endblock %}
