{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block title %}{{ page_title|safe }}{% endblock %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="car-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6 pnone">

                    <!--<div class="dep">Depreciation</div>-->
                    <h1 class="visible-xs mobile-dep">0%
                        <div>Depreciation</div>
                    </h1>
                </div>
                <div class="col-sm-7 col-md-6 pnone">
                    <div class="club-form">
                        <h1>{{ form.heading }}</h1>
                        <h2>{{ form.sub_heading }}</h2>
                        <div class="form-box-mini">
                            <ul class="form hero-form">
                                <li class="active" data-type="old">
                                    <span class="checkbox"></span>
                                    Renew Existing Policy
                                </li>
                                <li data-type="new">
                                    <span class="checkbox"></span>
                                    Buy Insurance for a New Car
                                </li>
                                <li data-type="expired">
                                    <span class="checkbox"></span>
                                    Renew Expired Policy
                                </li>
                            </ul>
                            <!-- <label for="contact-me-num">Mobile Number</label> -->
                            <div class="cfinput addon-field">
                                <span class="addon">+91</span>
                                <input type="text" id='contact-me-num' onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" placeholder="Enter your mobile number" />
                            </div>
                            <div class="contact-me-error">
                                <p class="error">Please enter a valid 10 digit mobile number</p>
                            </div>
                            <button id="show_quote_btn" class="btn-cfox orange btn-next btn-block">
                                {{ form.button_text }}
                            </button>
                            <div class="terms-msg">{{ settings.DND_MSG }}</div>
                        </div><!--/.form-box-mini-->

                    </div><!--/.club-form-->
                </div>
            </div>


        </div><!--/.container-->
    </div>

    <div class="white-bg">
        <div class="container">
            <div class="row">
                    <div class="col-sm-5 col-md-6 dep hidden-xs">
                         <img src="{{STATIC_URL}}lp-motor/zero_dep/img/dep1.png" class="hidden-xs">
                        Depreciation
                    </div>
                    <div class="col-sm-7 col-md-6">
                        {% ifequal view_id 'call' %}
                            <div class="toll-free-box">
                                Call us on our Toll free No.
                                <a href="javascript:ClickToCall('form_mobile');"><h3>{{ settings.CAR_CALL_ONLY }}</h3></a>
                            </div>
                        {% else %}
                            <div class="toll-free-box">
                                Call us on our Toll free No.
                                <a href="javascript:ClickToCall('form_mobile');"><h3>{{ settings.CAR_TOLL_FREE }}</h3></a>
                            </div>
                        {% endifequal %}
                    </div>
            </div>
        </div>
    </div>
    <!--/.car-banner-->

{% endblock %}
{% block benifit_list %}
    <div class="zero-dep">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-6">
                    <h2>What is Zero Depreciation?</h2>
                    <p>In case of every claim, you need to pay a certain amount from your own pocket. This amount depends on the depreciation logic of the part involved in the repair of the Car. This amount can go even high upto 50% of the total claim amount. Example - For fibre part, you need to pay 30% of the part cost from your pocket at the time of claim. </p>
                    <br>
                    <p>If you have a New Car or if you are a new driver or you simply want to save money on the depreciation cost then go for Zero Depreciation. </p>
                </div>
                <div class="col-sm-5 col-md-6 ifarme-video">
                    <iframe src="https://www.youtube.com/embed/UpR3_dE4Lfk" frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </div>
    <section class="light-box benefits">
        <div class="container">
            <h1>Get Zero Depreciation Cover for your Car </h1>
            <h3>Save upto <span>60%</span> on premium & <span>50%</span> on Claims </h3>
            <ul class="clearfix">
                <li><img src="{{STATIC_URL}}lp-motor/zero_dep/img/checkmark-white.png" alt="">Compare Zero Depreciation Plans</li>
                <li><img src="{{STATIC_URL}}lp-motor/zero_dep/img/checkmark-white.png" alt=""> Guaranteed End to End Claim Settlement</li>
                <li><img src="{{STATIC_URL}}lp-motor/zero_dep/img/checkmark-white.png" alt=""> Cashless Settlement in nearest garage</li>
                <li><img src="{{STATIC_URL}}lp-motor/zero_dep/img/checkmark-white.png" alt=""> Free towing and pick-up Facility</li>

            </ul>
        </div>
    </section>
    <section class="dark-box services">
        <div class="container">
            <h1>
                Car Insurance Benefits from <img class="logo" src="{{STATIC_URL}}img/coverfox-logo-white.png" alt="Coverfox"/> [Free]
            </h1>
            <div class="row">
                <div class="col-sm-4">
                    <div class="proposition">
                        <img src="{{STATIC_URL}}lp-motor/img/fs-support.png" alt=""/>
                        <h4>Dedicated Relationship Manager</h4>
                        <p>A call away to help you with policy paperwork and co-ordination at the time of claims</p>
                    </div>
                </div>
                <div class="col-sm-4 corner-border">
                    <div class="proposition">
                        <img src="{{STATIC_URL}}lp-motor/img/fs-service.png" alt=""/>
                        <h4>Car Breakdown Services</h4>
                        <p>
                           We give Free Towing and pick-up, Emergency fuel arrangement and on-call technical assistance along with your policy
                        </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="proposition">
                        <img src="{{STATIC_URL}}lp-motor/img/fs-parts.png" alt=""/>
                        <h4 class="padding-fix">100% Genuine Car Parts</h4>
                        <p>
                            We make sure that quality is not compromised and service level is maintained in claim settlement for our Car Insurance customers
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block free_services %}{% endblock %}
{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-motor/zero_dep/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{%block footer_js%}
{% endblock %}
