{% extends "core/base_main.html" %}

{%block breadcrumb %}
{%endblock breadcrumb %}
{%block main%}
<div class="container">
    <div style="text-align:center;margin-top: 60px;">
        <h3>You will be redirected Apollo Munich's website to continue this transaction further.</h3>
    </div>
    <div class="well" style="margin-top: 30px;">
        <p>Don't worry, you can purchase your policy by following these 5 easy steps:</p>
        <ul style="list-style-type: none;">
            <li style="margin-top: 15px;"><strong>Step 1:</strong> Copy this Web Integration Code - <code style="font-size: 30px;">{{ code }}</code></li>
            <li style="margin-top: 15px;"><strong>Step 2:</strong> Click on the 'Continue with the transaction' button below, and paste the Referral code when prompted to do so</li>
            <li style="margin-top: 15px;"><strong>Step 3:</strong> Register yourself on Apollo Munich's website</li>
            <li style="margin-top: 15px;"><strong>Step 4:</strong> Select the {{ slab.health_product.policy_type }} PLAN: {{ slab.health_product.title }}</li>
            <li style="margin-top: 15px;"><strong>Step 5:</strong> Follow the instructions to fill up your proposal form and purchase the policy</li>
        </ul>
    </div><!--/.tnc-wrapper-->
    <div class="text-center">
        <a href="{{ redirect_url }}" target="_blank" class="btn-page-done">Continue with the transaction</a>
    </div>
</div><!--/.container-->
{%endblock%}
{%block footer %}
{%endblock footer %}

{%block footer_js_css %}
<style type="text/css">
    body {
        background-color:#f5f5f5;
    }
    .btn-page-done {
        font-size: 28px;
        color: #fff;
        padding: 8px 15px 10px;
        -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.15);
        background: #f78460;
        cursor: pointer;
        margin-top: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: inline-block;
    }
    .btn-page-done:hover {
        background: #EE6B42;
        color:#fff;
        text-decoration: none;
    }
</style>

{%endblock footer_js_css %}
