{% extends "core/base_main.html" %}

{%block breadcrumb %}
{%endblock breadcrumb %}
{%block main%}
<div class="container">
    <div class="tnc-wrapper">
        <div class="tnc-header">Call List</div>
        <div class="row">
            <div class="col-md-12">
                <div class="admin-insurer-list">
                    {% if call_list %}
                            <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Phone Number</th>
                                <th>VIA</th>
                                <th>Transaction</th>
                                <th>Extra Data</th>
                                <th>Remarks</th>
                                <th>Action</th>
                            </tr>
                            {% for i in call_list %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.phone_number }}</td>
                                <td>{{ i.via }}</td>
                                <td>{% if i.transaction %}
                                    <a href="{% url 'buy' i.transaction.transaction_id %}" target="_blank">View Transaction</a>
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td>
                                    {% for k, v in i.extra.items %}
                                    {{ k }} - {{ v }}  <br/>
                                    {% endfor %}
                                </td>
                                <td>
                                        <textarea id="remarks_{{ i.id }}" class="expand" style="width:100%" rows="4" cols="70">{{ i.remarks }}</textarea>
                                        <button id="btn_{{ i.id }}" class="btn btn-sm btn-success btn_remarks_submit" style="margin-top: 10px;" type="submit" value="Submit">Save</button>
                                </td>
                                <td>
                                    <a href="{% url 'call_remove' i.id %}" class="btn btn-sm btn-red">Remove</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            </table>
                    {% endif %}
                </div>
            </div>
            </div>
        </div><!--/.row-->
    </div><!--/.tnc-wrapper-->
</div><!--/.container-->
{%endblock%}
{%block footer %}
{%endblock footer %}

{%block footer_js_css %}
<style type="text/css">
    body {
        background-color:#f5f5f5;
    }
    .tnc-wrapper {
        /*border:2px solid #e5e5e5;
        background-color:#ffffff;*/
        font-size:14px;
    }
    .tnc-wrapper .tnc-header {
        /*border-bottom:1px solid #e5e5e5;*/
        padding:5px 0px;
        font-size:26px;
    }
    .tnc-wrapper .terms-container {
        background-color:#f9f9f9;
        border:1px solid #e5e5e5;
        height:300px;
        overflow:hidden;
        overflow-y:auto;
        padding:20px;
    }

    .tnc-wrapper .help-block {
        font-size: 12px;
        position: absolute;
        top: -16px;
        left: 130px;
        width: 70%;
        padding: 10px;
        border: 2px dotted #c9c9c9;
        display: none;
        background-color:#f5f5f5;
    }
    .tnc-wrapper .help-block:after {
        right: 100%;
        top: 18px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-right-color: #c9c9c9;
        border-width: 10px;
    }
    .tnc-wrapper .help-block.show-em {
        display:block;
    }

    @media only screen and (max-width:767px){
        .tnc-wrapper .help-block:after  {
            bottom:6px;
            top:auto;
        }
        .tnc-wrapper .help-block {
            bottom:-16px;
            top:auto;
        }
    }
</style>

<script type="text/javascript">
    $(function(){
        $('.btn_remarks_submit').click(function(){
            console.log($(this).attr('id').split('_')[1]);
            var call_id = $(this).attr('id').split('_')[1];
            var rdata = {
                'remarks': $('#remarks_'+ call_id).val()
            };

            var post_data = {};
            post_data['data'] = JSON.stringify(rdata);
            post_data['csrfmiddlewaretoken'] = csrf_token;

            $.post("/health-plan/call/" + call_id + "/add-remarks/", post_data, function(res_data){
                var data = $.parseJSON(res_data);
                if (data.success) {
                    $('#btn_' + call_id).removeClass('btn-success').addClass('btn-default').text('Saved');
                }
            });
        });
    });
</script>
{%endblock footer_js_css %}
