{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <title>Coverfox - Health Insurance</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{%if settings.CSS_BUILD_DEBUG%}
    <link href="{{STATIC_URL}}health_product/desktopv2/app/assets/css/medical_screen.css" rel="stylesheet">
    <link href="{{STATIC_URL}}health_product/desktopv2/app/assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}global/css/footer_2_mini.css" rel="stylesheet">
    <link href="{{STATIC_URL}}health_product/desktopv2/app/assets/css/style.css" rel="stylesheet">
    <link href="{{STATIC_URL}}health_product/desktopv2/app/assets/css/registration.css" rel="stylesheet">
    <link href="{{STATIC_URL}}health_product/desktopv2/app/assets/css/login_phone.css" rel="stylesheet">
{%else%}
    {% compress css %}
        <link href="{{STATIC_URL}}health_product/desktopv2/build/css/main-built.css" rel="stylesheet">
    {% endcompress %}
{%endif%}
    {%if tparty == 'jd'%}
        <link href="{{STATIC_URL}}health_product/desktopv2/app/assets/css/jd-style.css" rel="stylesheet">
    {%endif%}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--[if IE ]>
        <script type="text/javascript" src="{{STATIC_URL}}js/json2.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var TPARTY = "{{tparty}}";
        var T1 = new Date();
        var CSRF_TOKEN = "{{csrf_token}}";
        var ACTIVITY_ID = "{{activity_id}}";
        var FILTERS = {
            product_type: "{{product_type|default_if_none:''}}",
            insurer: "{{insurer|default_if_none:''}}"
        };
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
        //********* FB and Google stuff ******** -->
        var GOOGLE_REGISTRATION_URL = "{%url 'google_registration'%}";
        var FACEBOOK_REGISTRATION_URL = "{%url 'facebook_registration'%}";
        var GOOGLE_API_KEY = "{{settings.SOCIAL_AUTH_GOOGLE_API_KEY}}";
        var GOOGLE_OAUTH_KEY = "{{settings.SOCIAL_AUTH_GOOGLE_OAUTH_KEY}}";
        var USER_REGISTRATION_URL = "{%url 'ajax_product_user_registration'%}";
        var PRODUCT_USER_LOGIN = "{%url 'ajax_product_user_login'%}";
        var FORGOT_PASSWORD_LINK = "{%url 'forgot_password'%}";
        var health_toll_free = "{{ settings.HEALTH_TOLL_FREE }}";
    </script>
    <!-- Start Visual Website Optimizer Asynchronous Code -->
    <script type='text/javascript'>
    var _vwo_code=(function(){
    var account_id=113955,
    settings_tolerance=2000,
    library_tolerance=2500,
    use_existing_jquery=false,
    // DO NOT EDIT BELOW THIS LINE
    f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
    </script>
    <!-- End Visual Website Optimizer Asynchronous Code -->
</head>
<body>
<div data-bind="router">
</div>
<div class="hide" ata-bind="css:{hide:routerLoaded}">
    {%include "flatpages:footer_2_mini.html" %}
</div>
{%if settings.JS_BUILD_DEBUG%}
    <script src="{{STATIC_URL}}health_product/desktopv2/app/lib/require/require.js" data-main="{{STATIC_URL}}health_product/desktopv2/app/assets/js/config"></script>
    {%else%}
{% compress js %}
<script src="{{STATIC_URL}}health_product/desktopv2/build/js/main-health-built.js"></script>
{% endcompress %}
{%endif%}


    <!-- start Mixpanel -
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
        mixpanel.init("f6b6a4af17bcce00d518ad43b8dcadba",{debug:true});
    </script>
    <!-- end Mixpanel -->



<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.configure('box.start_hidden', true);
olark.identify('8072-747-10-2682');/*]]>*/</script><noscript><a href="https://www.olark.com/site/8072-747-10-2682/contact" title="Need some help?" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<script> olark.configure('system.group', 'df10e5a5453619cd98c428b32ae8947c'); /*Routes to Health Group*/ </script>
<!-- end olark code -->

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MR4FRN');

dataLayer.push({
    'event': 'GAEvent',
    'eventCategory': 'HEALTH',
    'eventAction': 'Step1Initiated',
    'eventLabel': 'v1',
    'eventValue': 0
});

</script>
<!-- End Google Tag Manager -->

{%if settings.PRODUCTION%}
    <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
    <script>
        Raven.config('https://b73a2dd7e1714ae3aab0e33fd663b391@app.getsentry.com/33123', {
        }).install();
    </script>
{%endif%}

<!-- ANALYTICS END -->
</body>
</html>
