<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coverfox - Health Insurance</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

    {%if settings.CSS_BUILD_DEBUG%}
        <link href="{{STATIC_URL}}health_product/css/bootstrap.css" rel="stylesheet">
        <link href="{{STATIC_URL}}health_product/css/medical_screen.css" rel="stylesheet">
        <link href="{{STATIC_URL}}health_product/css/proposal_form.css" rel="stylesheet">
        <link href="{{STATIC_URL}}health_product/css/style.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/user-logged.css" rel="stylesheet">
    {%else%}
        <link href="{{STATIC_URL}}health_product/build/css/main-built.css?v={{settings.VERSION}}" rel="stylesheet">
    {%endif%}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,800' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--[if IE ]>
      <script type="text/javascript" src="{{STATIC_URL}}js/json2.js"></script>
    <![endif]-->

    <script type="text/javascript">
        {%if request.user.is_authenticated%}
            var AUTHENTICATED = true;
        {%else%}
            var AUTHENTICATED = false;
        {%endif%}
        var CSRF_TOKEN = "{{csrf_token}}";
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
</head>

<body>
<div id="mobile_warning" class="jumbotron" style="position:fixed;width:100%;height:100%;z-index:999999;display:none;text-align:center;">
    <p>Coverfox for mobile will be ready in </p>
    <h1>
        <div class="timer"><div class="counter" id="cfdays"></div>Days</div>
        <div class="timer"><div class="counter" id="cfhours"></div>Hours</div>
        <div class="timer"><div class="counter" id="cfminutes"></div>Minutes</div>
        <div class="timer"><div class="counter" id="cfseconds"></div>Seconds</div>
    </h1>
    <p>Some things might look broken</p>
    <button id="close_mobile_warning" class="btn btn-block btn-lg btn-red cf-btn">Continue anyway</button>
</div>

<nav class="navbar navbar-default  main-navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header cf-nav-header">
            <a class="navbar-brand" style="height:50px;display:inline-block;"  href="/"><img src="{{STATIC_URL}}health_product/img/coverfox-logo-colored.png" alt="Coverfox"></a>
            <ul class="nav navbar-nav pull-right user-log">
                <li class="user-profile-pending hide">
                    <div class="notification_label" title="notifications" data-toggle="dropdown">
                        <img src="{{STATIC_URL}}img/bell.png" ><span class="notification_count user-notification-count">9</span>
                    </div>
                    <ul class="dropdown-menu notify caret-up" style="padding:0px;">
                        <li id="tr-bells">
                            <div class="notify-header clearfix">
                                <div class="pull-left notify-heading">
                                    Your previous transaction
                                </div>
                                <span class="pull-right notify-status">Status</span>
                            </div>
                            <div style="text-align:center;padding:10px 0px;">
                                <img style="opacity:0.6;" src="{{STATIC_URL}}img/loader.gif" alt="">
                            </div>
                            <a class="clearfix transaction-box">
                                <div class="pull-left transaction-msg">
                                    Health policy for you,spouse and one kid
                                    <div class="small text-muted">4 out of 10 selected hospitals covered</div>
                                </div>
                                <span class="pull-right badge transaction-badge">Pending</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown user-profile-details divider-vertical">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <img class="user-icon user-profile-photo" src="{{STATIC_URL}}img/user-icon.png">
                        <span class="user-profile-name"></span>
                        <strong class="caret"></strong>
                    </a>
                    <ul class="dropdown-menu caret-up">
                        <li>
                            <a href="/accounts/logout/">Log Out</a>
                        </li>
                    </ul>
                </li>
                <li class="user-profile-register hide">
                    <a class="log-reg invoke_registration">Register / Login</a>
                </li>
            </ul><!--/.user-log-->
        </div><!--/.nav-header-->
    </div>
</nav>

<div id="applicationHost" class="positionator">
    <div style="position: relative; width: 100%; z-index:200000; height: 100%; background-color: rgba(2, 2, 2, 0.9);">
        <div style="position: fixed;height:600px;width:700px;top: 40%;left: 50%;margin-left:-350px;margin-top:-100px;">
            <div class="step_loader_text">
                Loading ...
            </div>
            <div style="margin:0 auto;text-align:center;">
                <img src="{{STATIC_URL}}health_product/img/loader.gif"/>
            </div>
        </div>
    </div>
</div>
<div id="loading" style="display:none; position: fixed; width: 100%; z-index:200000; height: 100%; background-color: rgba(2, 2, 2, 0.6);">
    <!-- Registration modal Starts -->
    <div class="modal-overlay fade" data-backdrop="static" id="registration_modal" style="overflow-y:auto;">
        <div class="modal-dialog cf-dialog">

            <div class="modal-content">
                <div id="user_nu_div" class="modal-body body-style user-tab-content">
                    <div class="row">
                        <div class="col-xs-6">
                            <h2 class="modal-title">
                                Create an account with <strong>Coverfox </strong>
                            </h2>
                            <div class="board-text">
                                <div class="cf-bullet">Get all your policy related documents in your email</div>
                                <div class="cf-bullet"><strong>Need time to decide?</strong> Shortlist the plans you prefer and access them anytime.</div>
                                <div class="cf-bullet">It’s safe and secure. <strong>We respect your privacy.</strong> No Spam guaranteed.</em>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="clearfix">
                                <div class="pull-right cross mpoint"></div>
                            </div>
                            <div class="form-holder">
                                <div id="fb-root"></div>
                                <img class="facebook_btn img-responsive" style="cursor: pointer;" src="{{STATIC_URL}}img/log_in_with_facebook.png" alt="Login with facebook"/>
                                <div style="margin:20px 0px 0px;"></div>
                                <img class="google_btn img-responsive" style="cursor: pointer;" src="{{STATIC_URL}}img/log_in_with_google.png" alt="Login with google" />
                                <h5 class="or-seperate text-center" style="margin-bottom:20px;">Or login with your email</h5>


                                <ul class="nav nav-tabs" role="tablist" id="user-type-tab">
                                  <li class="active" data-target="new-user"><a href="#new-user" role="tab" data-toggle="tab">New User</a></li>
                                  <li data-target="existing-user"><a href="#existing-user" role="tab" data-toggle="tab">Existing User</a></li>

                                </ul>

                                <div class="tab-content">
                                  <div class="tab-pane active user-tab-pane" id="new-user">
                                      <form id="user_registration_form" action="{%url 'ajax_product_user_registration'%}" method="post">
                                        {%csrf_token%}
                                        <div class="form-group big-field">
                                            <input class="form-control big-input" type="text" placeholder="Name" name="name">
                                        </div>
                                        <span style="color: #FF0000;font-size:14px;" class="text-error form_errors" id="user_reg_error_name"></span>

                                        <div class="form-group big-field">
                                            <input style="width:74%;" class="form-control big-input" type="text" placeholder="Email" name="email">
                                            <button style="height:44px;border:none;position:relative;right:-1px;top:-1px;" class="field-button submit" type="submit" value="Sign me up">Go</button>
                                        </div>
                                        <span style="color: #FF0000;font-size:14px;" class="text-error form_errors" id="user_reg_error_email"></span>
                                        <p>
                                        </p>
                                    </form>
                                  </div>
                                  <div class="tab-pane user-tab-pane" id="existing-user">

                                    <form id="user_login_form" action="{%url 'ajax_product_user_login'%}" method="post">
                                        {%csrf_token%}
                                        <div class="form-group big-field">
                                            <input class="form-control big-input" type="text" placeholder="Email" name="email">
                                        </div>
                                        <span style="color: #FF0000;font-size:14px;" class="text-error form_errors" id="user_login_error_email"></span>

                                        <div class="form-group big-field">
                                            <input style="width:74%;" class="form-control big-input" type="password" placeholder="Password" name="password">
                                            <button style="height:44px;border:none;position:relative;right:-1px;top:-1px;" class="field-button submit" type="submit" value="Sign me up">Go</button>
                                        </div>
                                        <span style="color: #FF0000;font-size:14px;" class="text-error form_errors" id="user_login_error_password"></span>
                                        <p>
                                        </p>
                                    </form>

                                    <div style="border-bottom: 1px solid #DADADA;font-size: 12px;margin: 20px 0 35px;padding-bottom: 5px;" >
                                        <a style="text-decoration:none;cursor:pointer;" href="{% url 'forgot_password' %}">Forgot password?</a>
                                    </div>

                                  </div>
                                </div>
                                <!--a class="skip_login" style="text-align:right;float:right;" href="#">Skip ></a-->
                            </div><!--/.form-holder-->
                        </div>
                    </div>
                </div><!--/.user-tab-content-->


            </div><!--/.modal-content-->
        </div>
    </div>
    <!-- Registration model ends -->

    <div style="position: fixed;height:600px;width:700px;top: 50%;left: 50%;margin-left:-350px;margin-top:-100px;">
        <div id="step3_load" class="step_loader_text" style="display:none;">
            Locating hospitals near you...
        </div>
        <div id="results_load" class="step_loader_text" style="display:none;">
            <img id="tick1" class="hide" src="{{STATIC_URL}}health_product/img/white-check.png"/>&nbsp;&nbsp;Calculating ideal coverage<br/>
            <img id="tick2" class="hide" src="{{STATIC_URL}}health_product/img/white-check.png"/>&nbsp;&nbsp;Searching through top 15 insurance companies<br/>
            <img id="tick3" class="hide" src="{{STATIC_URL}}health_product/img/white-check.png"/>&nbsp;&nbsp;Finding the best match plans
        </div>
        <div style="margin:0 auto;text-align:center;">
            <img src="{{STATIC_URL}}health_product/img/loader.gif"/>
        </div>
    </div>
</div>


<div class="outer_overlay_container" id="outer_overlay"></div>


<div class="call-prompts hide">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-9 col-md-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <div class="col-xs-6 col-md-6 prompt-item-left bounce-trans hidden-xs hidden-sm">

                    <div class="navbar-form c2c-form">
                        <div class="form-group c2c-form-text">Get an expert<br> to call you</div>
                        <div class="form-group" style="width:200px;">
                            <div class="input-group">
                                            <span class="input-group-addon">+91</span>
                                            <input id='contact-me-num' type="text" class="form-control" placeholder="Enter your mobile no.">

                                        </div>
                        </div>
                        <button class="btn btn-warning btn-schedule btn-c2c btn-c2c-later">Submit</button>
                        <!--<div class="form-group"><small>No spam <br/> No cold calls.</small></div> -->
                    </div>
                    <p id="contact-me-error" class="error"></p>
                </div>
                <div class="col-xs-6 col-sm-5 col-sm-offset-1 col-md-6 col-md-offset-0 prompt-item-right bounce-trans">
                    <div class="hidden-xs hidden-sm">
                    <button class="btn btn-warning btn-schedule contact-me">Busy right now? <span class="glyphicon glyphicon-time"></span> Schedule a call</button>
                    </div>

                    <div class="visible-xs visible-sm">
                    <button class="btn btn-warning btn-schedule contact-me"><span class="glyphicon glyphicon-time"></span> Schedule a call with our experts</button>
                    </div>

                </div>
            </div>
    </div>
</div>

</div>
<div id="c2cbar-overlay" >
    <span style="background-color:red;color:white;font-size: 30px;position: absolute;top: 0px;right: 0px;width: 214px;text-align: center;" title="Close" class="mpoint" id="c2c_close"><b>X</b> &nbsp;&nbsp;Close</span>
    <h2>You might want to talk to your <br>friends and family before buying a plan but</h2>
    <h1>make sure you talk to our experts first</h1>
    <div id="c2coverlay-img"><img src="{{STATIC_URL}}img/rupy-hang-on.png" alt="" /></div>
</div>

<div id="c2c-thanks" class="cubic-trans">
    <p>Thanks. You will get a call from us soon.</p>
</div>

<script type="text/javascript">
    if(parseInt(window.screen.availWidth) < 768){
        document.getElementById("mobile_warning").style.display = 'block';
        document.getElementById('close_mobile_warning').onclick = function(){
            document.getElementById("mobile_warning").style.display = 'none';
        };
        var target_date = new Date(2014, 6, 20);
        setInterval(function(){
            var current_date = new Date().getTime();
            var seconds_left = (target_date - current_date) / 1000;
            days = parseInt(seconds_left / 86400);
            if(days.toString().length == 1) {
                days = "0" + days;
            }
            seconds_left = seconds_left % 86400;

            hours = parseInt(seconds_left / 3600);
            if(hours.toString().length == 1) {
                hours = "0" + hours;
            }
            seconds_left = seconds_left % 3600;

            minutes = parseInt(seconds_left / 60);
            if(minutes.toString().length == 1) {
                minutes = "0" + minutes;
            }
            seconds = parseInt(seconds_left % 60);
            if(seconds.toString().length == 1) {
                seconds = "0" + seconds;
            }

            document.getElementById('cfdays').innerHTML = days;
            document.getElementById('cfhours').innerHTML = hours;
            document.getElementById('cfminutes').innerHTML = minutes;
            document.getElementById('cfseconds').innerHTML = seconds;
        }, 1000);
    }
</script>

{%if settings.JS_BUILD_DEBUG%}
    <script src="{{STATIC_URL}}health_product/js/lib/require/require.js" data-main="{{STATIC_URL}}health_product/js/app/main"></script>
{%else%}
    <script src="{{STATIC_URL}}health_product/build/js/main-built.js?v={{settings.VERSION}}"></script>
{%endif%}
<script src='https://maps.googleapis.com/maps/api/js?v=3.12&sensor=false&libraries=places,geometry' type="text/javascript"></script>

<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
    f[z]=function(){
        (a.s=a.s||[]).push(arguments)};var a=f[z]._={
    },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
        f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
        0:+new Date};a.P=function(u){
        a.p[u]=new Date-a.p[0]};function s(){
        a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
        hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
        return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
        b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
        b.contentWindow[g].open()}catch(w){
        c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
        var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
        b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
    loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.configure('box.start_hidden', true);
olark.identify('8072-747-10-2682');/*]]>*/</script><noscript><a href="https://www.olark.com/site/8072-747-10-2682/contact" title="Need some help?" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<script> olark.configure('system.group', 'df10e5a5453619cd98c428b32ae8947c'); /*Routes to Health Group*/ </script>
<!-- end olark code -->

<!-- ********* FB and Google stuff ******** -->
<script type="text/javascript">
    var GOOGLE_REGISTRATION_URL = "{%url 'google_registration'%}";
    var FACEBOOK_REGISTRATION_URL = "{%url 'facebook_registration'%}";
    var GOOGLE_API_KEY = "{{settings.SOCIAL_AUTH_GOOGLE_API_KEY}}";
    var GOOGLE_OAUTH_KEY = "{{settings.SOCIAL_AUTH_GOOGLE_OAUTH_KEY}}";
    var USER_REGISTRATION_URL = "{%url 'ajax_product_user_registration'%}";
    var PRODUCT_USER_LOGIN = "{%url 'ajax_product_user_login'%}";
</script>
<!-- ***************************************-->

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MR4FRN');</script>
<!-- End Google Tag Manager -->

</body>
</html>
