{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Coverfox - Health Insurance</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=no" />
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
{%if settings.CSS_BUILD_DEBUG%}
    <link href="{{STATIC_URL}}health_product/mobilev2/app/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}health_product/mobilev2/app/assets/css/mob-style.css" rel="stylesheet">
    <link href="{{STATIC_URL}}health_product/mobilev2/app/assets/css/medical_screen.css" rel="stylesheet">
{%else%}
    {% compress css %}
        <link href="{{STATIC_URL}}health_product/mobilev2/build/css/main-built.css?v={{settings.VERSION}}" rel="stylesheet">
    {% endcompress %}

    {% include "core/remove_header_in_webview.html" %}

{%endif%}
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />

    <script type="text/javascript">
        {%if request.user.is_authenticated%}
            var AUTHENTICATED = true;
        {%else%}
            var AUTHENTICATED = false;
        {%endif%}
        var CSRF_TOKEN = "{{csrf_token}}";
        var HEALTH_TOLL_FREE = "{{settings.HEALTH_TOLL_FREE}}";
        var ACTIVITY_ID = "{{activity_id}}"
        var FILTERS = {
            product_type: "{{product_type|default_if_none:''}}",
            insurer: "{{insurer|default_if_none:''}}"
        };
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
</head>

<body>
{%if amlpl_iframe%}
<iframe class="trace_fixer" src="http://coverfox.enr-api.m-bazaar.in/?s={% now 'Ymd' %}{{ request.TRACKER.id }}" style="display:none;"></iframe>
{%endif%}

<div data-bind="router">
    <div class="loading-screen">
        <img src="{{STATIC_URL}}health_product/mobilev2/app/assets/img/loading-big.gif" alt="">
    </div>
</div>

{%if settings.JS_BUILD_DEBUG%}
    <script src="{{STATIC_URL}}health_product/mobilev2/app/lib/require/require.js" data-main="{{STATIC_URL}}health_product/mobilev2/app/assets/js/config"></script>
{%else%}
{% compress js %}
<script src="{{STATIC_URL}}health_product/mobilev2/build/js/main-health-built.js?v={{settings.VERSION}}"></script>
{% endcompress %}
{%endif%}


<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MR4FRN');</script>
<!-- End Google Tag Manager -->
<script>
    window.dataLayer.push({
        'event': 'virtual_page_view',
        'virtual_page_path': '/vp/health/mobile/results/',
        'virtual_page_title': 'VP-HEALTH-MOBILE-RESULTS'
    });
</script>

</body>
</html>
