{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Coverfox - Health Insurance</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=no" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800">
{%if settings.CSS_BUILD_DEBUG%}
    <link href="{{STATIC_URL}}health_product/mobilev2_steps/app/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}health_product/mobilev2_steps/app/assets/css/mob-style.css" rel="stylesheet">
{%else%}
    {% compress css %}
    <link href="{{STATIC_URL}}health_product/mobilev2_steps/build/css/main-built.css?v={{settings.VERSION}}" rel="stylesheet">
    {% endcompress %}
{%endif%}

    {% include "core/remove_header_in_webview.html" %}

    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />

    <script type="text/javascript">
        {% if request.user.is_authenticated %}
            var AUTHENTICATED = true;
        {%else%}
            var AUTHENTICATED = false;
        {%endif%}
        var CSRF_TOKEN = "{{csrf_token}}";
        var ACTIVITY_ID = "{{activity_id}}";
	var FILTERS = {
               insurer: "{{insurer|default_if_none:''}}"
        };
        var health_toll_free = "{{ settings.HEALTH_TOLL_FREE }}";
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
    <!-- Start Visual Website Optimizer Asynchronous Code -->
    <script type='text/javascript'>
        var _vwo_code=(function(){
            var account_id=113955,
                    settings_tolerance=2000,
                    library_tolerance=2500,
                    use_existing_jquery=false,
                    // DO NOT EDIT BELOW THIS LINE
                    f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
    </script>
    <!-- End Visual Website Optimizer Asynchronous Code -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MR4FRN');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
{%if amlpl_iframe%}
<iframe class="trace_fixer" src="http://coverfox.enr-api.m-bazaar.in/?s={% now 'Ymd' %}{{ request.TRACKER.id }}" style="display:none"></iframe>
{%endif%}

{% if request.GET.utm_source == "justdial" %}
    <link href="{{STATIC_URL}}global/css/just-dial/jd-header.css" rel="stylesheet">
    <link href="{{STATIC_URL}}health_product/mobilev2_steps/app/assets/css/jd-style.css" rel="stylesheet">
    <section class="jd-header" style="margin-bottom:0px;">
        <div class="innercont">
            <div class="logocnt" title="JustDial Insurance">
                <a href="#" alt="Justdial - Local Search Engine">
                    <span class="bklg"></span>
                </a>
            </div>
        </div>
        <div class="tpclr_new grid_full">
            <div class="container">
            </div>
        </div>
        <div class="btmblk grid_full"></div>
    </section>
{% endif %}
<div data-bind="router">
    <div class="loading-screen">
        <img src="{{STATIC_URL}}health_product/mobilev2_steps/app/assets/img/loading-big.gif" alt="">
    </div>
</div>

{%if settings.JS_BUILD_DEBUG%}
    <script src="{{STATIC_URL}}health_product/mobilev2_steps/app/lib/require/require.js" data-main="{{STATIC_URL}}health_product/mobilev2_steps/app/assets/js/config"></script>
{%else%}
{% compress js %}
<script src="{{STATIC_URL}}health_product/mobilev2_steps/build/js/main-built.js?v={{settings.VERSION}}"></script>
{% endcompress %}
{%endif%}

</body>
</html>
