<!DOCTYPE html>
<html lang="en">
<head>

    <title>Coverfox - Health Insurance</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1, user-scalable=no" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800">
{%if settings.CSS_BUILD_DEBUG%}
    <link href="{{STATIC_URL}}health_product/desktopv2/app/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}health_product/desktopv2/app/assets/css/mob-ui-elements.css" rel="stylesheet">
    <link href="{{STATIC_URL}}health_product/desktopv2/app/assets/css/style.css" rel="stylesheet">
{%else%}
    <link href="{{STATIC_URL}}health_product/desktopv2/build/css/main-built.css?v={{settings.VERSION}}" rel="stylesheet">
{%endif%}
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />

    <script type="text/javascript">
        {%if request.user.is_authenticated%}
            var AUTHENTICATED = true;
        {%else%}
            var AUTHENTICATED = false;
        {%endif%}
        var CSRF_TOKEN = "{{csrf_token}}";
        var ACTIVITY_ID = "{{activity_id}}"
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
</head>

<body>

<div data-bind="router">
</div>

{%if settings.JS_BUILD_DEBUG%}
    <script src="{{STATIC_URL}}health_product/desktopv2/app/lib/require/require.js" data-main="{{STATIC_URL}}health_product/desktopv2/app/assets/js/config"></script>
{%else%}
<script src="{{STATIC_URL}}health_product/desktopv2/build/js/main-results-built.js?v={{settings.VERSION}}"></script>
{%endif%}
{% comment %}
<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.configure('box.start_hidden', true);
olark.identify('8072-747-10-2682');/*]]>*/</script><noscript><a href="https://www.olark.com/site/8072-747-10-2682/contact" title="Need some help?" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->


<!-- Google Code Initialization for Result Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 973632833;
    var google_conversion_language = "en";
    var google_conversion_format = "2";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "ediWCIfX_AkQweqh0AM";
    var google_remarketing_only = false;
    /* ]]> */
</script>

<!-- GOOGLE ANALYTICS -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45524191-1', 'coverfox.com');
    ga('send', 'pageview');
</script>
<!-- ANALYTICS END -->{% endcomment %}

</body>
</html>
