{% extends "core/base_main.html" %}

{%block breadcrumb %}
{%endblock breadcrumb %}
{%block main%}
<div class="container">
    <div class="border-box">
        <div class="row">
            <div class="col-md-8">
                <h1>Oops..sorry
                    <br/> 
                    Looks like this plan is not available for your area.
                </h1>
                <p class="lead text-muted">
                    We will talk to the insurer and confirm to you shortly.
                </p>
                <p class="lead text-muted">
                    In the mean time, you can have a look at other plans <a href="/health-plan/#results">HERE</a>
                </p>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block footer %}
{%endblock footer %}

{%block footer_js_css %}
        <style type="text/css">
            body {
                background-color:#f5f5f5;
                color:#363636;
                font-size:14px;
            }
            .nav-social {
                display:none;
            }
            .border-box {
                border-bottom:1px solid #dadada;
                padding:0px 30px;
                margin-top:1%;
                background:url('{{STATIC_URL}}img/transaction-failure.png') right bottom no-repeat transparent;
                background-size:471px;
                min-height:500px;
            }
            .border-box h1 {
                font-size:44px;
                font-weight:normal;
                font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
            }

            @media only screen and (max-width:991px){
                .border-box {
                    background:none;
                }
            }
        </style>
{%endblock footer_js_css %}
