{% extends "core/base_main.html" %}
{% block breadcrumb %}
{% endblock %}

{%block main%}
    <form action="{{ redirect_url }}" method="post" name="post_data_form">
    {% for k,v in data.items %}
        <input type="hidden" name="{{ k }}" value="{{ v }}">
    {% endfor %}
    </form>
    <div class="text-center" style="margin-top: 100px;">
        <h1 style="font-size: 36px;">Please wait while your transaction is being processed</h1>
        <h1>Please do not press back/forward on your browser</h1>
    </div>

{%endblock%}
{%block footer %}
{%endblock footer %}

{%block footer_js%}
<script>
    $(function() {
        var send_form = document.forms.post_data_form;
        send_form.submit();
    });
</script>
{%endblock footer_js %}
