{% extends "core/base_main.html" %}

{%block breadcrumb %}
{%endblock breadcrumb %}
{%block main%}
<div class="container">
    <div class="tnc-wrapper">
        <div class="tnc-header">Terms and conditions</div>
        <div class="row">
            <div class="col-md-8">
                <div class="terms-container">
                    <p>
                    Coverfox Insurance Broking Pvt. (hereinafter referred to as Coverfox) Limited operates the website www.coverfox.com to provide consumers choice and an easy way to buy Insurance products from multiple Insurance companies. Coverfox is not an insurance company. Coverfox is a licensed Insurance Broking Company holding a Broking licence from the Indian Insurance Regulator - Insurance Regulatory and Development authority. ( Licence no -&nbsp;<a href="/irda-licence/">IRDA/DB/556/13</a> )
                    </p>
                    <p>
                    Our participating insurance providers supply some of the information available on the Website and therefore there may be inaccuracies in the Website Information over which Coverfox has limited control.
                    </p>
                    <p>
                    Coverfox does not warrant or guarantee the: Timeliness, accuracy or completeness of the Website Information; or Quality of the results obtained from the use of the Website.
                    </p>
                    <p>
                    To the maximum extent permitted by law, Coverfox has no liability in relation to or arising out of the Website Information and Website recommendations. You are responsible for the final choice of your product and you should take time to read through all information supplied before proceeding. If you are in any doubt regarding a product or its terms you should seek further advice from Coverfox or the relevant participating provider before choosing your product.
                    </p>
                    <p>
                    Coverfox may pass on your personal information to the relevant participating provider if you apply to purchase a product through www.coverfox.com , however, Coverfox does not guarantee when or if you will actually acquire the product that you have chosen. Coverfox does not accept any liability arising out of circumstances where there is delay in you acquiring the product you have chosen.
                    </p>
                    <p>
                    Please note that Coverfox is only collecting or assisting in collecting  the premium deposit on behalf of the insurer you have chosen to buy the policy. The acceptance of the deposit as premium and final issuance of the policy is subject to the underwriting norms and discretion of the Insurer whose policy you have chosen to buy on which Coverfox has no control. Coverfox will ensure that the amount is refunded by the insurer in case there is no ultimate issuance of policy.
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <form class="" style="padding:20px 20px 20px 0px;">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="agree" checked> I agree
                                </label>
                            </div>
                        </div><!--/.col-sm-2 -->
                        <div class="col-sm-10" -->
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="disagree" > I disagree
                                </label>
                            </div>
                            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                        </div><!--/.col-sm-10 -->
                    </div><!--/.row -->
                    <div style="margin-bottom:20px;"></div>
                    <a href="" class="btn btn-red btn-lg">Continue</a>
                </form>
            </div>
        </div><!--/.row-->
    </div><!--/.tnc-wrapper-->
</div><!--/.container-->
{%endblock%}
{%block footer %}
{%endblock footer %}

{%block footer_js_css %}
<style type="text/css">
    body {
        background-color:#f5f5f5;
    }
    .tnc-wrapper {
        /*border:2px solid #e5e5e5;
        background-color:#ffffff;*/
        font-size:14px;
    }
    .tnc-wrapper .tnc-header {
        /*border-bottom:1px solid #e5e5e5;*/
        padding:5px 0px;
        font-size:26px;
    }
    .tnc-wrapper .terms-container {
        background-color:#f9f9f9;
        border:1px solid #e5e5e5;
        height:300px;
        overflow:hidden;
        overflow-y:auto;
        padding:20px;
    }

    .tnc-wrapper .help-block {
        font-size: 12px;
        position: absolute;
        top: -16px;
        left: 130px;
        width: 70%;
        padding: 10px;
        border: 2px dotted #c9c9c9;
        display: none;
        background-color:#f5f5f5;
    }
    .tnc-wrapper .help-block:after {
        right: 100%;
        top: 18px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-right-color: #c9c9c9;
        border-width: 10px;
    }
    .tnc-wrapper .help-block.show-em {
        display:block;
    }

    @media only screen and (max-width:767px){
        .tnc-wrapper .help-block:after  {
            bottom:6px;
            top:auto;
        }
        .tnc-wrapper .help-block {
            bottom:-16px;
            top:auto;
        }
    }
</style>

<script type="text/javascript">
    $(function(){
        $('input[type="radio"]').click(function(){
            var block = $('#disagree');
            $('.tnc-wrapper .help-block').removeClass('show-em');
            if (block.is(':checked')) {
                $('.tnc-wrapper .help-block').addClass('show-em');
            }
        });
    });
</script>
{%endblock footer_js_css %}
