{% extends "core/base_main.html" %}

{%block breadcrumb %}
{%endblock breadcrumb %}
{%block main%}
<div class="container">
    <div class="tnc-wrapper">
        <div class="tnc-header">Transaction List</div>
        <div class="row">
            <div class="col-md-12">
                <div class="admin-transaction-list">
                    {% if trans_list %}
                        <a href="{% url 'admin_insurer_transaction_download_all' insurer.slug %}"
                                class='btn btn-bg btn-success pull-right'>Download all transaction data</a>
                        <br />
                        <br />

                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>Transaction ID</th>
                                <th>Email</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            {% for t in trans_list %}
                                <tr>
                                    <td>{{ t.transaction_id }}</td>
                                    <td>{{ t.proposer_email }}</td>
                                    <td>{{ t.created_on }}</td>
                                    <td>{{ t.status }}</td>
                                    <td><a href="{% url 'admin_transaction_download' t.transaction_id %}" target="_blank">Download</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
            </div>
        </div><!--/.row-->
    </div><!--/.tnc-wrapper-->
</div><!--/.container-->
{%endblock%}
{%block footer %}
{%endblock footer %}

{%block footer_js_css %}
<style type="text/css">
    body {
        background-color:#f5f5f5;
    }
    .tnc-wrapper {
        /*border:2px solid #e5e5e5;
        background-color:#ffffff;*/
        font-size:14px;
    }
    .tnc-wrapper .tnc-header {
        /*border-bottom:1px solid #e5e5e5;*/
        padding:5px 0px;
        font-size:26px;
    }
    .tnc-wrapper .terms-container {
        background-color:#f9f9f9;
        border:1px solid #e5e5e5;
        height:300px;
        overflow:hidden;
        overflow-y:auto;
        padding:20px;
    }

    .tnc-wrapper .help-block {
        font-size: 12px;
        position: absolute;
        top: -16px;
        left: 130px;
        width: 70%;
        padding: 10px;
        border: 2px dotted #c9c9c9;
        display: none;
        background-color:#f5f5f5;
    }
    .tnc-wrapper .help-block:after {
        right: 100%;
        top: 18px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: transparent;
        border-right-color: #c9c9c9;
        border-width: 10px;
    }
    .tnc-wrapper .help-block.show-em {
        display:block;
    }

    @media only screen and (max-width:767px){
        .tnc-wrapper .help-block:after  {
            bottom:6px;
            top:auto;
        }
        .tnc-wrapper .help-block {
            bottom:-16px;
            top:auto;
        }
    }
</style>

<script type="text/javascript">
    $(function(){
        $('input[type="radio"]').click(function(){
            var block = $('#disagree');
            $('.tnc-wrapper .help-block').removeClass('show-em');
            if (block.is(':checked')) {
                $('.tnc-wrapper .help-block').addClass('show-em');
            }
        });
    });
</script>
{%endblock footer_js_css %}
