.breadcrumbs-container{
  padding:10px 0;
  a{
    color: #333;
    font-size: 14px;
    margin: 0 15px;
    cursor: auto;
    &:first-child{
      margin: 0;
    }
    &:last-child{
      cursor: default;
      text-decoration: none;
      margin: 0;
    }
    img{
      max-width: 6px;
      margin: 0  5px;
    }
  }
}