.pnone{
	padding: 0;
}
.plnone{
	padding-left: 0;
}
.prnone{
	padding-right: 0;
}
.mnone{
	margin: 0;
}
.mlnone{
	margin-left: 0;
}
.mrnone{
	margin-right: 0;
}
.m-t-1{
	margin-top: 1px;
}
.m-t-2{
	margin-top: 2px;
}
.m-t-3{
	margin-top: 3px;
}
.m-t-4{
	margin-top: 4px;
}
.m-t-5{
	margin-top: 5px;
}
.m-t-6{
	margin-top: 6px;
}
.m-t-7{
	margin-top: 7px;
}
.m-t-8{
	margin-top: 8px;
}
.m-t-9{
	margin-top: 9px;
}
.m-t-10{
	margin-top: 10px;
}
.m-t-11{
	margin-top: 11px;
}
.m-t-12{
	margin-top: 12px;
}
.m-t-13{
	margin-top: 13px;
}
.m-t-14{
	margin-top: 14px;
}
.m-t-15{
	margin-top: 15px;
}
.m-t-16{
	margin-top: 16px;
}
.m-t-17{
	margin-top: 17px;
}
.m-t-18{
	margin-top: 18px;
}
.m-t-19{
	margin-top: 19px;
}
.m-t-20{
	margin-top: 20px;
}


.m-b-1{
	margin-bottom: 1px;
}
.m-b-2{
	margin-bottom: 2px;
}
.m-b-3{
	margin-bottom: 3px;
}
.m-b-4{
	margin-bottom: 4px;
}
.m-b-5{
	margin-bottom: 5px;
}
.m-b-6{
	margin-bottom: 6px;
}
.m-b-7{
	margin-bottom: 7px;
}
.m-b-8{
	margin-bottom: 8px;
}
.m-b-9{
	margin-bottom: 9px;
}
.m-b-10{
	margin-bottom: 10px;
}
.m-b-11{
	margin-bottom: 11px;
}
.m-b-12{
	margin-bottom: 12px;
}
.m-b-13{
	margin-bottom: 13px;
}
.m-b-14{
	margin-bottom: 14px;
}
.m-b-15{
	margin-bottom: 15px;
}
.m-b-16{
	margin-bottom: 16px;
}
.m-b-17{
	margin-bottom: 17px;
}
.m-b-18{
	margin-bottom: 18px;
}
.m-b-19{
	margin-bottom: 19px;
}
.m-b-20{
	margin-bottom: 20px;
}


.m-l-1{
	margin-left: 1px;
}
.m-l-2{
	margin-left: 2px;
}
.m-l-3{
	margin-left: 3px;
}
.m-l-4{
	margin-left: 4px;
}
.m-l-5{
	margin-left: 5px;
}
.m-l-6{
	margin-left: 6px;
}
.m-l-7{
	margin-left: 7px;
}
.m-l-8{
	margin-left: 8px;
}
.m-l-9{
	margin-left: 9px;
}
.m-l-10{
	margin-left: 10px;
}
.m-l-11{
	margin-left: 11px;
}
.m-l-12{
	margin-left: 12px;
}
.m-l-13{
	margin-left: 13px;
}
.m-l-14{
	margin-left: 14px;
}
.m-l-15{
	margin-left: 15px;
}
.m-l-16{
	margin-left: 16px;
}
.m-l-17{
	margin-left: 17px;
}
.m-l-18{
	margin-left: 18px;
}
.m-l-19{
	margin-left: 19px;
}
.m-l-20{
	margin-left: 20px;
}

.m-r-1{
	margin-right: 1px;
}
.m-r-2{
	margin-right: 2px;
}
.m-r-3{
	margin-right: 3px;
}
.m-r-4{
	margin-right: 4px;
}
.m-r-5{
	margin-right: 5px;
}
.m-r-6{
	margin-right: 6px;
}
.m-r-7{
	margin-right: 7px;
}
.m-r-8{
	margin-right: 8px;
}
.m-r-9{
	margin-right: 9px;
}
.m-r-10{
	margin-right: 10px;
}
.m-r-11{
	margin-right: 11px;
}
.m-r-12{
	margin-right: 12px;
}
.m-r-13{
	margin-right: 13px;
}
.m-r-14{
	margin-right: 14px;
}
.m-r-15{
	margin-right: 15px;
}
.m-r-16{
	margin-right: 16px;
}
.m-r-17{
	margin-right: 17px;
}
.m-r-18{
	margin-right: 18px;
}
.m-r-19{
	margin-right: 19px;
}
.m-r-20{
	margin-right: 20px;
}



.p-t-1{
	padding-top: 1px;
}
.p-t-2{
	padding-top: 2px;
}
.p-t-3{
	padding-top: 3px;
}
.p-t-4{
	padding-top: 4px;
}
.p-t-5{
	padding-top: 5px;
}
.p-t-6{
	padding-top: 6px;
}
.p-t-7{
	padding-top: 7px;
}
.p-t-8{
	padding-top: 8px;
}
.p-t-9{
	padding-top: 9px;
}
.p-t-10{
	padding-top: 10px;
}
.p-t-11{
	padding-top: 11px;
}
.p-t-12{
	padding-top: 12px;
}
.p-t-13{
	padding-top: 13px;
}
.p-t-14{
	padding-top: 14px;
}
.p-t-15{
	padding-top: 15px;
}
.p-t-16{
	padding-top: 16px;
}
.p-t-17{
	padding-top: 17px;
}
.p-t-18{
	padding-top: 18px;
}
.p-t-19{
	padding-top: 19px;
}
.p-t-20{
	padding-top: 20px;
}


.p-b-1{
	padding-bottom: 1px;
}
.p-b-2{
	padding-bottom: 2px;
}
.p-b-3{
	padding-bottom: 3px;
}
.p-b-4{
	padding-bottom: 4px;
}
.p-b-5{
	padding-bottom: 5px;
}
.p-b-6{
	padding-bottom: 6px;
}
.p-b-7{
	padding-bottom: 7px;
}
.p-b-8{
	padding-bottom: 8px;
}
.p-b-9{
	padding-bottom: 9px;
}
.p-b-10{
	padding-bottom: 10px;
}
.p-b-11{
	padding-bottom: 11px;
}
.p-b-12{
	padding-bottom: 12px;
}
.p-b-13{
	padding-bottom: 13px;
}
.p-b-14{
	padding-bottom: 14px;
}
.p-b-15{
	padding-bottom: 15px;
}
.p-b-16{
	padding-bottom: 16px;
}
.p-b-17{
	padding-bottom: 17px;
}
.p-b-18{
	padding-bottom: 18px;
}
.p-b-19{
	padding-bottom: 19px;
}
.p-b-20{
	padding-bottom: 20px;
}


.p-l-1{
	padding-left: 1px;
}
.p-l-2{
	padding-left: 2px;
}
.p-l-3{
	padding-left: 3px;
}
.p-l-4{
	padding-left: 4px;
}
.p-l-5{
	padding-left: 5px;
}
.p-l-6{
	padding-left: 6px;
}
.p-l-7{
	padding-left: 7px;
}
.p-l-8{
	padding-left: 8px;
}
.p-l-9{
	padding-left: 9px;
}
.p-l-10{
	padding-left: 10px;
}
.p-l-11{
	padding-left: 11px;
}
.p-l-12{
	padding-left: 12px;
}
.p-l-13{
	padding-left: 13px;
}
.p-l-14{
	padding-left: 14px;
}
.p-l-15{
	padding-left: 15px;
}
.p-l-16{
	padding-left: 16px;
}
.p-l-17{
	padding-left: 17px;
}
.p-l-18{
	padding-left: 18px;
}
.p-l-19{
	padding-left: 19px;
}
.p-l-20{
	padding-left: 20px;
}

.p-r-1{
	padding-right: 1px;
}
.p-r-2{
	padding-right: 2px;
}
.p-r-3{
	padding-right: 3px;
}
.p-r-4{
	padding-right: 4px;
}
.p-r-5{
	padding-right: 5px;
}
.p-r-6{
	padding-right: 6px;
}
.p-r-7{
	padding-right: 7px;
}
.p-r-8{
	padding-right: 8px;
}
.p-r-9{
	padding-right: 9px;
}
.p-r-10{
	padding-right: 10px;
}
.p-r-11{
	padding-right: 11px;
}
.p-r-12{
	padding-right: 12px;
}
.p-r-13{
	padding-right: 13px;
}
.p-r-14{
	padding-right: 14px;
}
.p-r-15{
	padding-right: 15px;
}
.p-r-16{
	padding-right: 16px;
}
.p-r-17{
	padding-right: 17px;
}
.p-r-18{
	padding-right: 18px;
}
.p-r-19{
	padding-right: 19px;
}
.p-r-20{
	padding-right: 20px;
}





