$break-point-md:1199px;
$break-point-xs:767px;
$borderColor:#ddd;
#network_hospitals{
	.company-list-container{
		margin: 20px 0;
		h2{
			margin: 0 0 20px;
			font-size: 20px;
		}
		ul{
			padding: 0;
			li{
				list-style: none;
				margin: 0 0 15px;
				border: 1px solid $borderColor;
				a{
					color:$orange;
					padding: 9px;
					display: block;
					min-height: 68px;
					@media screen and (min-width: 0px) and (max-width: $break-point-md) {
						font-size:12px;
					}
					&:hover{
						@mixin cardHoverShadow;
					}
				}
				img{
					max-width: 101px;
					margin-right: 15px;
					@media screen and (min-width: 0px) and (max-width: $break-point-md) {
						margin-right:4px;
					}
				}

			}

		}
	}
}
@media screen and (min-width: 0px) and (max-width: $break-point-xs) {
	.mobile-none{
		padding: 0;
	}
}