@import "_settings.css";

@define-mixin roundedCorners $radius: 3px {
    border-radius: $radius;
}

@define-mixin fullWidthBackground $defaultBgColor: $baseDark{
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-color: $defaultBgColor;
}

@define-mixin cardLightShadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20), 0 -1px 0 0 rgba(0,0,0,0.03);
}

@define-mixin cardBaseShadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@define-mixin cardHoverShadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@define-mixin cardHeavyShadow {
  box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.12);
}


@define-mixin gradient $startColor: #eee, $endColor: transparent {
  background-color: $startColor;
  background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
  background: -webkit-linear-gradient(top, $startColor, $endColor);
  background: -moz-linear-gradient(top, $startColor, $endColor);
  background: -ms-linear-gradient(top, $startColor, $endColor);
  background: -o-linear-gradient(top, $startColor, $endColor);
}


@define-mixin flexContainer $direction: row, $wrap: wrap, $justifyContent: center, $alignContent: flex-start, $alignItems: flex-start{
    display:flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justifyContent;
    align-content: $alignContent;
    align-items: $alignItems;
}

@define-mixin transition $range: all, $time: 0.4s, $ease: cubic-bezier(0.25, 0.8, 0.25, 1) {
  transition: $range $time $ease;
}


/* arrow css mixin */
@define-mixin arrowProp {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
@define-mixin arrowTop $size, $color, $border-width, $border-color {
    &:after, &:before {
        bottom:100%;
        @mixin arrowProp;
    }
    &:after {
        border-width: $size;
        left:50%;
        border-bottom-color:$color;
        margin-left: -$size;
     }

    &:before {
        border-width: calc($size + $border-width);
        left:50%;
        border-bottom-color:$border-color;
        margin-left: -$size;
     }
}

@define-mixin arrowLeft $size, $color, $border-width, $border-color {
    &:after, &:before {
              right:100%;
          @mixin arrowProp;
              }
    &:after {
        border-right-color:$color;
        border-width: $size;
        top:50%;
        margin-top: -$size;
     }

    &:before {
        border-right-color:$border-color;
        border-width: calc($size + $border-width);
        top:50%;
        margin-top: -$size;
     }
}

@define-mixin arrowRight $size, $color, $border-width, $border-color {
    &:after, &:before {
        left:100%;
              @mixin arrowProp;
    }
    &:after {
        border-left-color:$color;
        border-width: $size;
        top:50%;
        margin-top:-$size;
     }

    &:before {
        border-left-color:$border-color;
        border-width: calc($size + $border-width);
        top:50%;
        margin-top: -$size;
     }
}

@define-mixin arrowBottom $size, $color, $border-width, $border-color {
    &:after, &:before {
        top:100%;
              @mixin arrowProp;
    }
    &:after {
        border-top-color:$color;
        border-width: $size;
        left:50%;
        margin-left: - $size;
     }

    &:before {
        border-top-color:$border-color;
        border-width: calc($size + $border-width);
        left:50%;
        margin-left: -$size;
     }
}
