@import "_settings.css";

.hero-heading{
	font-size:36px;
	font-weight: 500;
    line-height: 1.1;
	text-align: center;
	margin-top: 20px;
    margin-bottom: 10px;
	&.flg{ /* font large */
		
	}
}

.sub-heading{
	font-size:18px;
	line-height:24px;
	font-weight: 300;
	text-align: center;
	margin-top: 5px;
    margin-bottom: 20px;
	&.flg{ /* font large */
		font-size: 20px;
		line-height: 24px;
	}
}