.section-table{
    margin: 20px 0;
    .container{
        max-width: 100%;
        padding: 0;
    }
}
.section-table__bg{
    background-color: #333;
    border-collapse: inherit;
    border-spacing: 1px;
    font-size: 12px;
    width:100% !important;
    &.mw80{
        max-width: 80%;
        @media screen and (min-width: 0px) and (max-width: 767px) {
            max-width:100%;
        }
    }
    &.mw50{
        max-width: 50%;
        @media screen and (min-width: 0px) and (max-width: 767px) {
            max-width:100%;
        }
    }
    th {
        width:16.66666%;
        padding: 7px;
        background-color: #5e5e60;
        color:#fff;
        vertical-align: middle;
        line-height: 1.4em;
        text-align: center;
    }

    td {
        width:16.66666%;
        padding: 7px;
        line-height: 1.4em;
        text-align: center;
        vertical-align: middle;
        background-color: #fff;
    }

}
.table-responsive {
	overflow-x: auto;
	min-height: .01%;
}
