@import "_settings.css";



/* Headings */

h1{
	font-size:45px;
	line-height:56px;
	&.flg{ /* font large */

	}
}

h2{
	font-size:34px;
	line-height:41px;
	&.flg{ /* font large */
		font-size:45px;
		line-height:56px;
	}
}

h3{
	font-size:24px;
	line-height:30px;
	&.flg{ /* font large */
		font-size:34px;
		line-height:41px;
	}
}

h4{
	font-size:18px;
	line-height:24px;
	&.flg{ /* font large */
		font-size: 20px;
		line-height: 24px;
	}
}

p, ul li, ol li{
	font-size: 16px;
	line-height: 24px;
	&.flg{
		font-size: 20px;
		line-height: 30px;
	}
	&.fm{
		font-size: 14px;
		line-height: 24px;
	}
	&.fs{
		font-size: 12px;
		line-height: 20px;
	}
	&.fxs{
		font-size: 11px;
		line-height: 20px;
	}
}



/* Font Weights */
/* Custom font weights that modify the default values for elements are not allowed.
Use the classes below to change default font-weights. */

.fwb{
	font-weight: bold;
}

.fsi{
	font-style: italic;
}

.fwt{
	font-weight: 300;
}

.fwn{
	font-weight: normal;
}

/* Letter Spacings */
/* Currently we provide and allow only two letter spacings. 1px and 2px. */

.ls1{
	letter-spacing: 1px
}

.ls2{
	letter-spacing: 2px;
}


ul{
	li{

	}

	&.fs li{
		font-size: 13px;
		line-height: 20px;
	}

	&.no-bullets{
		list-style-type: none;
		padding:0;
		li.list-header{
			text-transform: uppercase;
			letter-spacing: 1px;
			opacity: 0.8;
			margin-top:15px;
			margin-left: -15px;
			font-weight: bold;

		}
	}
}