@import _settings.css;
@import _mixins.css;
@import _typography.css;

h4{
	font-weight: 300;
}
.blog-item{
	padding:25px 0 20px;
	border-bottom:1px solid rgba(0,0,0,0.1);
	.blog-item-cat{
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 2px;
	}
	.blog-meta{
		font-size: 13px;
		opacity: 0.6;
	}
	.blog-item-readmore{
		a{
			text-decoration: none;
			border:1px solid $baseDark;
			color: $baseDark;
			opacity: 0.4;
			border-radius:3px;
			padding:3px 5px;
			margin-top: 8px;
    		display: inline-block;
    		font-size: 12px;
    		@mixin transition;
    		&:hover{
    			opacity:1;
    			background: $orange;
    			color:#fff;
    			border-color: $orange;
    		}
			.circles{
				vertical-align: middle;
   				margin-left: 7px;
			}
		}
	}
	.blog-item-title{
		h2{
			margin-top: 0;
			margin-bottom: 0;
			a{
				color:$baseDark;
				text-decoration: none;
				font-size: 31px;
				@mixin transition;
				&:hover{
					color:$orange;
				}
			}
		}
	}
}

.blog-header{
	h2{
		font-weight: bold;
    	color: $orange;
    	margin-bottom: 0;
	}
	h4{
		margin-top: 0;
    	border-bottom: 1px solid rgba(0,0,0,0.1);
    	padding-bottom: 12px;
	}
}

.pagination-wrapper{
	ul{
		list-style-type: none;
		padding: 0;
		li{
			display: inline-block;
			a{
				text-decoration: none;
				background: $grey-2;
				color: $baseDark;
				border-radius:3px;
				padding: 8px 20px;
    			margin-right: 20px;
    			margin-top: 20px;
    			margin-bottom: 20px;
	    		display: inline-block;
	    		@mixin transition;
	    		&:hover{
	    			opacity:1;
	    			background: $orange;
	    			color:#fff;
	    			border-color: $orange;
	    		}
			}
		}
	}
}


