@import 'form.css';
@import '_bootstrap-grid.css';
@import '_settings.css';
@import '_mixins.css';
@import '_typography.css';
@import './components/_buttons.css';
@import './composites/_header.css';
@import './composites/_footer.css';
@import './composites/_section.css';
@import 'content-card.css';
@import 'review.css';
@import '_seo-lp.css';


body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, button{
	font-family:$baseFont;
	color: $baseDark;
}

.err{
	color:red;
	display: none;
}

.success{
	color:green;
	display: none;
}

#sidebar>div
{
	width: 100px;
	height: 300px;
	margin-top: 10px;
	background-color: blue;
	position:fixed;
	left: 0;
	top: 172px;
}

#stuff{
    height: 1000px;
    width: 300px;
    background-image: url("http://placekitten.com/100/100")
}

#footer{
    height: 172px;
  	width: 300px;
    background-color: yellow;
}
