
@import "_settings.css";
@import "_mixins.css";



.icon--down_arrow{
	/*border-color: rgba(49,68,81,0.4) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 9px 7px 0;
    content: " ";
    display: block;
    height: 0;
    width: 0;*/
    width:16px;
	height:9px;
	background:url('/static/img/icons/icon-dd.png') no-repeat center center transparent;
	content: " ";
	display: block;
}
.icon--add_plus{
	font-weight: 300;
    font-size: 30px;
    opacity: 0.4;
    line-height: 1em;
    position: relative;
    right: -3px;
    top:-2px;
}


/*This should move to common input elements css*/

.quote-form-item{
	display: inline-block;
	padding: 18px 12px;
	border-right:none;
	cursor: pointer;
	@mixin transition;
	background: #fff;
	@mixin cardLightShadow;
	height:55px;
	&:hover{
		background: rgba(0,0,0,0.03);
	}
	&.first{
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	&.last{
		border-right: 1px solid rgba(49,68,81,.4);
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	.w--lrcard--middle{
		padding-right: 32px;
	}
	& .w--lrcard--left {
		padding-top:6px;
	}
	&.is_empty .w--lrcard--left {
		opacity:0.7;
		padding-top:0px;
	}
	&.is_empty .label_minimised {
		display: none;
	}
	& .label_minimised {
    	font-size: 10px;
    	text-transform: uppercase;
    	top: -10px;
    	left: 0px;
    	letter-spacing: 1px;
    	position: absolute;
    	opacity: 0.7;
	}
}

.bike_make_name,.bike_reg_city_name,.bike_policy_exp_date{
	display: inline-block;
	vertical-align:top;
	position:relative;
	& .error-label {
		text-align:left;
		margin:0;
		padding:10px 0 0;
	}
	& .quote-form-item {
		width:100%;
		height:55px;
		padding-bottom:0;
		&.fill_height {
			height: 65px;
		}
		&.fill_height .w--lrcard--left {
			height: 35px;
    		padding-top: 6px;
		}
		&.is_empty.fill_height .w--lrcard--left {
			height: 35px;
    		padding-top: 6px;
		}
		.w--lrcard--left{
		 white-space: nowrap;
		 text-align: left;
		 width: 100%;
	    }
	    .small {
	    	opacity:0.7;
	    	line-height:1.2em;
	    	font-size:11px;
	    }
	    & + .error-label {
	    	position:absolute;
	    	top:100%;
	    	left:0;
	    	width:100%;
	    }
	    &.first + .error-label {
	    	position:relative;
	    	top:0;
	    }
	}
}
.bike_make_name{
	max-width:270px;
	width:260px;
}
.bike_reg_city_name{
	max-width: 220px;
	width:220px;
}
.bike_policy_exp_date{
	width:200px;
	position:relative;
	text-align:left;
}


.popular-items{
	padding:20px 30px;
}

.popular-item{
	display: inline-block;
	border: 1px solid #979797;
	padding:10px 5px;
	border-radius: 3px;
	cursor: pointer;
	width: 100px;
	margin-right:5px;
	margin-left: 5px;
	vertical-align: top;
	margin-bottom: 10px;
	&.selected{
		background: $baseDark;
		border: 1px solid $baseDark;
		h5,p{
			color: #fff;
		}
	}
	h5{
		margin:0;
		font-size: 14px;
		margin-bottom: 5px;
	}
	p{
		font-size: 11px;
		opacity: 0.5;
		margin:0;
		line-height: 100%;
	}
}
.popular-items--grid {
	.popular-item {
		padding:10px 5px;
		height:62px;
		overflow:hidden;
	}
}





.bike-proposal-wrapper{
	width:768px;
	margin: 0 auto;
	position: relative;
	padding:35px 0;
	.stage-list{
		width: 200px;
		float: left;
		padding:30px;
		.stage-list-item{
			margin-bottom: 20px;
			opacity: 0.5;
			font-size: 13px;
			position: relative;
			cursor: pointer;
			&:before{
				content: '';
				border: 1px solid $baseDark;
				left:-25px;
				width:16px;
				height:16px;
				position: absolute;
				border-radius: 30px;
				top: 50%;
    			transform: translateY(-50%);
			}
			&.active{
				opacity: 1;
			}
			&.done{
				opacity: 1;
    			&:before{
    				background-image:url('/static/img/common/stage-done.png');
	    			background-repeat:no-repeat;
	    			background-size:16px 16px;
	    			border:none;
    			}
			}
		}
	}
	.stage{
		background: #fff;
		@mixin cardLightShadow;
		width:340px;
		float: left;
		position: relative;
		border-radius: 3px;
		padding:30px;
		&.summary{
			width:100%;
		}
		.stage-desc{

		}
	}

}



.bike-results-wrapper{
	width:700px;
	margin: 0 auto;
	position: relative;
	.bike-results-prompt{
		position: absolute;
		top:0;
		left:100%;
		margin-left:50px;
		width:206px;
		font-size: 16px;
		line-height: 24px;
		padding:0 10px;
		border-left: 1px dashed rgba(49,68,81,0.4);
	}
	a{
		cursor: pointer;
		&:hover{
			color: #314451;
			text-decoration: none;
		}
	}
}

.bike-results-summary, .bike-proposal-summary{
	border:1px solid rgba(49,68,81,.4);
	border-radius: 3px;
	.w--lrcard{
		display: inline-block;
		width: 50%;
		padding:8px 16px;
		&:first-child{
			border-right:1px solid rgba(49,68,81,.4);
		}
		h3{
			margin:0;
			font-size: 20px;
			font-weight: normal;
    		line-height: 100%;
		}
		h4{
			margin:0;
			font-size: 14px;
			font-weight: normal;
			color: rgba(49,68,81,.66);
			margin-top:2px;
		}
		a{
			font-size: 11px;
			color:$light-blue;
			text-transform: uppercase;
			cursor: pointer;
			text-decoration: none;
			letter-spacing: 1px;
			&:hover{
				color: $baseDark;
			}
		}
	}
}
.bike-results-summary {
	.w--lrcard a {
		position: relative;
    	top: 10px;
	}
}

.bike-proposal-summary{
	width: 768px;
    margin: 0 auto;
    position: relative;
	border:none;
	.summary__plan{
		background: #fff;
		border:none;
		@mixin cardBaseShadow;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		padding-top: 10px;
		height:75px;
		width:340px;
		img{

		}
		p{
			opacity: 0.57;
			font-size: 12px;
			color: #314451;
			line-height: 15px;
			margin-bottom: 0;
			margin-top:8px;
		}
		.summary_premium{
			font-size: 25px;
			&.text-right {
				text-align:right;
			}
		}
		.premium_msg {
			font-size:12px;
		}
	}

	.summary__quote{
		height:75px;
		width:428px;
		@mixin cardBaseShadow;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		vertical-align: bottom;
		background-color: #fff;
	    font-size: 12px;
        padding-top: 20px;
        margin-left: -1px;
	}
}

.bike-addon-selector{
	margin-top: 20px;
	text-align:center;
	/*temporary till the multiselect is fixed*/
	.w--multi_select{
		margin:0;
		margin-right: -1px;
		.w--multi_select_handle{
			width: auto;
			text-align: left;
			border-radius: 0px;
			border:1px solid rgba(49,68,81,0.4);
			border-left:0px;

		}
		&:first-child{
			.w--multi_select_handle{
				border-top-left-radius:3px;
				border-bottom-left-radius:3px;
				border-left:1px solid rgba(49,68,81,0.4);
			}
		}
		&:last-child{
			.w--multi_select_handle{
				border-top-right-radius:3px;
				border-bottom-right-radius:3px;
			}
		}
	}

	.bike_addon{
		.w--multi_select_footer{
			text-align: left;
		}
	}

	.bike_addon--zero-dep{

		.w--multi_select_dd{
			width:255px;
		}
		.w--multi_select_dd_element{
			display: inline-block;
			border:1px solid $baseDark;
			border-radius: 3px;
			padding: 5px 30px;
    		margin-left: 8px;
    		margin-right: 8px;
    		&.active {
    			background-color:$baseDark;
    			color:#fff;
    		}
		}
	}

	.bike_addon--idv{

		.w--multi_select_dd{
			width:255px;
			padding-bottom: 20px;
		}
		.w--multi_select_dd_element{
			border:1px solid $baseDark;
			border-radius: 3px;
			padding: 10px 30px;
    		margin-left: 15px;
    		margin-right: 15px;
    		margin-bottom: 8px;
    		&.active {
    			background-color:$baseDark;
    			color:#fff;
    			& .rupee_icon {background-position: bottom center;} /* need to fix this type of call */
    		}
		}
		.w--multi_select_options {
			max-height:460px;
		}
	}
}

.bike-plans-wrapper{
	margin-top:20px;
	opacity:0;
	@mixin transition opacity 100ms;
	&.reveal{
		opacity: 1;
	}
	.bike-plan-card{
		background: #fff;
		@mixin cardLightShadow;
		border-radius: 3px;
		width: 340px;
		padding:0;
		margin-bottom: 20px;
		height:74px;
		float: left;
		margin-right: 20px;
		cursor: pointer;
		.w--lrcard--left{
			height:74px;
		}
		.w--lrcard--middle{
			.w--lrcard--right{
				right: 21px;
			}
		}
		&:hover{
			@mixin cardHeavyShadow;
		}
		&:nth-child(even){
			margin-right:0;
		}
		.bike-plan-card--left{
			position: absolute;
		    bottom: 22px;
		    left: 15px;

		    .bike-plan-card--idv{
		    	position: relative;
    			width: 200px;
    			margin-bottom: -10px;
    			top: 6px;
    			opacity: 0.7;
    			font-size: 12px;
		    }

			p{
				opacity: 0.57;
				font-size: 12px;
				color: #314451;
				line-height: 15px;
				margin-bottom: 0;
				margin-top:8px;
			}
		}
		.quote-fail-error{
			span{
				color:rgba(49,68,81,0.8);
				display: block;
				text-align: right;
				font-size: 12px;
				&.quote-fail-try-again{
					text-transform: uppercase;
					letter-spacing: 1px;
					color:$light-blue;
				}
			}

		}
	}
}


.bike-price{
	font-size: 16px;
    letter-spacing: 0px;
    text-transform: none;
    padding: 6px 12px;
}

.bike-results-row{
	margin-top:20px;
	float: left;
    width: 100%;
	h3.bike-results-row--title{
		text-align: center;
		/* text-transform: uppercase; */
		font-size: 14px;
		letter-spacing: 1px;
		margin:0;
		position: relative;
		&:before{
			border-bottom: 1px solid rgba(49,68,81,0.4);
			content:'';
			position: absolute;
			top:50%;
			height:1px;
			margin-top:-1px;
			width: 100%;
    		left: 0;
		}
		span{
			background: #e7eaee;
			padding:5px 10px;
			position: relative;
		}
	}
	p.bike-results-row--desc{
		text-align: center;
		font-size: 14px;
		line-height: 18px;
		color:rgba(49,68,81,0.4);
		margin-top:5px;
		margin-bottom: 30px;
	}
}


.proposal_container_btn{
	margin-top:15px;
	outline:none;
	padding:5px 40px;
}

.w--calendar.bike_Calendar{
	margin-bottom: 10px;
}

.w--multi_select.bike_SelectInput{
	width: 100%;
	.w--error{
		line-height:1.4em;
		position: relative;
    	padding: 0;
    	margin-top:-5px;
	}
	.label_show{
	    font-size: 12px;
	    text-transform: none;
	    opacity: 0.7;
	    top: 0px;
	    left: 0px;
	    letter-spacing: 0px;
	}
	.w--multi_select_arrow{
		top: 20px;
	}
	.w--multi_select_handle{
	    border-radius: 0px;
	    border:none;
	    border-bottom: 1px solid rgba(49,68,81,.4);
	    padding: 15px 40px 0px 0px;
	    margin-bottom: 10px;
	    .dd_placeholder{
	    	position: relative;
	    	top:0;
	    	transform:none;
	    	color: rgba(49,68,81,0.7)
	    }
	}
}

.container_summary{
	margin-bottom: 15px;
	font-size: 12px;
	position: absolute;
	width: 33%;
    word-wrap: break-word;
	.w--button{
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 1px;
	}
}

.container_summary__title{
	font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-transform: uppercase;
    position: relative;
    &:after{
    	content: '';
	    position: absolute;
	    left: 0;
	    width: 56px;
	    border-bottom: 1px solid rgb(49, 68, 81);
	    bottom: -3px;
    }
}

.payment_btn{
	width: 300px;
	text-transform: none;
}




.cf--pill{
	border:1px solid rgba(49,68,81,0.4);
	padding:5px 10px;
	color:$baseDark;
	display: inline-block;
	border-radius: 3px;
	&.active{
		background:$baseDark;
		border-color:$baseDark;
		color:#fff;
	}
}
.cf-modal .cf-modal__content.vehicle_modal{
	width:700px;
	text-align:center;
	.cf--pill{
		margin:0 5px 10px;
		cursor: pointer;
		@mixin transition;
		min-width: 90px;
	    position: relative;
	    height: 37px;
	    vertical-align: top;
	    width: 90px;
	    line-height:1em;
    	&--small{
    		min-width: 95px;
    		padding-top: 9px;
    		line-height: 1.6em;
    	}
    	&--large{
    		width:150px;
    	}
    	&--logo{
    		height: 55px;
			img{
				display: block;
				margin:0 auto 6px;
				& + span {
					top: 0;
					transform:translate3d(0,0,0);
				}
			}
		}
    	&.selected, &.selected:hover{
			background: $baseDark;
			color:#fff;
			border: 1px solid $baseDark;
		}
    	span{
			display: inline-block;
			font-size: 12px;
		    line-height: 12px;
		    position:relative;
		    top:50%;
		    transform:translate3d(0,-50%,0);
    	}
		&:hover{
			background: rgba(0,0,0,0.03);
		}
	}

}

.w--multi_select.modal_reg_year{

	.w--multi_select_handle{
		min-width: 95px;
	    height: 37px;
	    padding-top:10px;
	    font-size: 12px;
	    .label_show{
	    	display: none;
	    }
	}
	&.selected{
		.w--multi_select_handle{
			color:#fff;
			background: $baseDark;

		}
		.w--multi_select_arrow{
			border-color: rgb(172, 177, 181) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
		}
	}
}


.stage-items.summary-wrapper{
	height:520px;
	position: relative;
}

/* Review section hack till a proper review section is built out */

#primary-detail-container{

}
#basic-detail-container{
	top:180px;
}
#vehicle_details_container{
	left:245px;
	.subcontainer_title{
		display: none;
	}
}
#address_container{
	left:500px;
}
.declaration_checkbox{
	margin-bottom: 20px;
}

.other_vehicle_models {
	margin: 15px 0 10px;
	.w--button{
		vertical-align: top;
	}
	.w--multi_select{
		text-align: left;
		.w--multi_select_handle{
			width: 230px;
			height: 48px;
		}
		.w--multi_select_options {
    		max-height: 250px;
    	}
	}
}
.rto-selector{
	.w--multi_select{
		text-align: left;
		margin-bottom: 20px;
		.w--multi_select_handle {
			width: 380px;
			height: 55px;
		}
		& + .error-label {
			position:relative;
			top:-20px;
		}
		.w--multi_select_options {
    		max-height: 200px;
    	}
	}
}
.share_modal_wrapper{
	.small{
		font-size: 100%;
	}
	.sub_msg{
		margin: 10px 0;
		opacity: 0.7;
	}
	.cf-modal__content{
		width: 300px;
		padding:20px 40px;
		text-align: center;
	}
	.share_tabs{
		border-bottom: 1px solid rgba(49, 68, 81, 0.2);
		padding: 0 0 3px;
		margin: 24px 0;
		.tab{
			font-size: 12px;
			height: 18px;
			border-right: 1px solid rgba(49, 68, 81, 0.2);
			padding: 0 20px;
			margin: 5px 0 10px;
			display: inline-block;
			cursor: pointer;
			&:last-child {
				border-right: none;
			}
			&.selected-tab{
				position: relative;
				cursor: auto;
				&:after{
					content: '';
					display: block;
					position: absolute;
					border-bottom: 5px solid $baseDark;
					width: 40px;
					bottom: -15px;
					left: 50%;
					margin-left: -20px;
				}
			}
		}
		input{
			width: 100%;
		}
	}
}

.w--multi_select {
	&.modal_reg_year{
		margin-bottom: 10px;
	}
}
.share-short-url{
	pointer-events: none;
}
.w--highlight_dd_option {
	background-color: $grey-2;
}
.w--reg_no_input.bike_RegistrationNumberInput{
	width:100%;
	border: none;
	input{
		text-align: left;
		padding: 15px 0 0;
		font-size:14px;
	}
	.w--error{
		position: static;
    	padding: 0;
    	margin: -10px 0 5px;
    }
}

.sms-email-link-wrapper{
	text-align: center;
	padding: 30px 0 40px 0;
}

.sms-email-link{
	border:1px solid rgba(49,68,81,0.4);
	background-image:url('/static/img/common/share-line.png');
	background-repeat: no-repeat;
	background-position: 10px;
	background-size: 14px 15px;
	border-radius: 3px;
	padding:7px 15px;
	text-transform: uppercase;
	color:$baseDark;
	font-size: 12px;
	letter-spacing: 1px;
	padding-left: 35px;
	&:hover{
		background-color: rgba(0,0,0,0.03);
	}
}


.contact-me-box{
	@mixin cardLightShadow;
	border-radius: 3px;
	padding: 30px 35px;
	background: #fff;
	margin-bottom: 100px;
	float: left;

	.contact-me-box--header{
		float: left;
		width: 50%;
		padding-right: 20px;
		h3{
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 1px;
			margin:0;
		}
		p{
			color: rgba(49,68,81,0.5);
		    font-size: 13px;
		    line-height: 150%;
		    margin-bottom: 0;
		}
	}
	.contact-me-box--widget{
		float: left;
		width: 50%;
		margin-top: 7px;

		.contact-me-field{
			float: left;
			width: 217px;
			margin-right: 12px;
    		margin-left: -12px;
		}

	}

	.contact-me-btn{
		padding: 7px 15px;
	}

	.contact-me-success{
		background: rgb(0, 188, 155);
	    text-align: center;
	    border-radius: 30px;
	    color: rgb(255, 255, 255);
	    padding: 5px;
	    margin-top: 9px;
	}
}

.no-results-message{
	text-align: center;
	h3{
		text-transform: uppercase;
	    letter-spacing: 1px;
	    font-size: 16px;
	    margin: 0;
	}
	p{
	    color: rgba(49,68,81,0.8);
	    width: 500px;
	    margin: 0 auto;
	    margin-bottom: 30px;
	    font-size: 12px;
	    line-height: 150%;
	}
}

.kv{
	margin-bottom: 10px;
	.kv__key{
		display: block;
	    text-transform: uppercase;
	    font-size: 10px;
	    opacity: 0.7
	}
	.kv__value{
		font-size: 12px;
	}
}

.subcontainer_title{
	font-size: 13px;
    margin-bottom: 10px;

}
/* css fix for proposal form radio button right side content alignment */
.bike_RadioInput {
	.w--radio__options {
		position: relative;
		left:25px;
		vertical-align:top;
	}
	&#cust_gender .w--radio__options,&#cust_marital_status .w--radio__options {
		left:0;
	}
}
.bike_FormContainer .w--text_input{
	label.text-description{
		position: absolute;
	    right: -240px;
	    width: 200px;
	    top: 8px;
	    opacity: 0;
	    @mixin transition;
	    pointer-events: none;
	    &:before{
			position: absolute;
		    content: '';
		    border-left: 1px dashed rgba(49,68,81,0.5);
		    left: -10px;
		    height: 100%;
		    width: 1px;
	    }
	    &.reveal{
			opacity: 1;
			right: -260px;
	    }
	}
}


/* mkting banner css start */
.mkting_banner{
	position: absolute;
	top: 130px;
	left:100%;
	margin-left:50px;
	width:210px;
	padding:0;
	font-size:12px;
	color:#728089;
	line-height:17px;
	h4{
		font-size:16px;
		color:$baseDark;
		letter-spacing:1.14px;
	}
}

/* mkting banner css end */

