@import "_settings.css";
@import "_mixins.css";
.p-relative {
   position: relative;
}
.side-cover{
  position: absolute;
  height: 99%;
  right:0;
  top:15px;
  &:before{
    content: "";
    position: absolute;
    height: 97%;
    width:100%;
    background-color: #344a58;
  }
}
.bike-banner {
  padding:0;
  background: #665039 url(/static/img/cms/bike-bg.jpg) no-repeat bottom left;
  -webkit-background-size: cover;
  background-size: cover;
  height: auto;
  padding: 0 0 15px;
  .mw{
    max-width: 250px;
    outline: none;
  }
  .bg-white{
  	background-color: #fff;
  	padding: 20px 20px 30px;
  	h5{
  		font-size: 20px;
  	}
  }
  .right-container{
	  padding: 20px 0 10px 20px;
	  color: #eee;
	  background-color: rgb(52, 74, 88);
	  position: relative;
	  z-index: 1;
	  hr {
	    border-top: 5px solid #eee;
	  }
	  h3{
	    margin: 0 0 20px;
	    font-size: 24px;
	    font-weight: 700;
      color:#fff;
	  }
    h5{
      color:#fff;
    }
	  ul{
	    margin: 0;
	    padding: 0 20px;
	    li{
	      margin: 20px 0;
	    }
	  }
	  .arrrow-direct{
	    margin: 20px 0 0;
	    color: #FF704C;
	  }
	}
}
.m-t-15{
  margin-top: 15px;
}
