@import "_bootstrap.css";
@import "_settings.css";
@import "_mixins.css";
@import "composites/_product-topbar.css";
@import "composites/_product-sidebar.css";
@import "composites/_product-content-area.css";

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

body{
	background: $grey-2;
	color:$baseDark;
}

body, h1, h2, h3, h4, h5, h6{
	font-family: $baseFont;

}

.card{
	background: #fff;
	@mixin cardHoverShadow;
}

.btn.orange {
  color: rgb(255, 255, 255);
  background-color: $orange;
  border: 1px solid $orange;
  box-shadow:none;
  @mixin roundedCorners 4px;
  @mixin transition all,200ms;
	outline:none;
  &:hover{
  	background-color: color($orange shade(10%));
  }
  &:active{
	background-color: color($orange shade(15%));
  }
}
.btn.grey {
  color: $baseDark;
  background-color: $grey-1;
  border: 1px solid $grey-1;
  box-shadow:none;
  @mixin roundedCorners 4px;
  @mixin transition all,200ms;
	outline:none;
  &:hover{
  	background-color: color($grey-1 shade(10%));
  	border-color:color($grey-1 shade(10%)); 
  }
  &:active{
	background-color: color($grey-1 shade(10%));
	border-color:color($grey-1 shade(10%)); 
  }
}
.btn {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @mixin transition;
}


.btn.large{
	padding: 12px 32px;
}

.error{
	color:red;
  	margin-top: 10px;
  	max-width: 164px;
  	line-height: 16px;
  	font-size: 13px;
}

.cleaned{
	opacity:0.7;
  	margin-top: 10px;
  	line-height: 16px;
  	font-style: italic;

}

.container-error{
	color: rgb(255, 99, 99);
	background: url('../img/buy-form/error.png');
	background-repeat: no-repeat;
	background-size: 16px 16px;
	float: left;
	padding-left: 23px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.container-state{
	display: none;
	position: absolute;
	left:56px;
	border:1px solid $orange;
	width:36px;
	height:36px;
	font-size: 20px;
	text-align: center;
	top: 17px;
	@mixin roundedCorners 50%;
	padding-top:2px;
	background: $orange;
	color:#fff;
}

.container-edit{
	display: none;
	position: absolute;
	right:20px;
	top:20px;
	color:$orange;
	border:1px solid $orange;
	cursor: pointer;
	@mixin roundedCorners;
	padding:0px 7px;
	text-transform: uppercase;
	font-size: 12px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  @mixin transition;
	  &:hover{
	  	background: color($orange shade(10%));
	  	color:#fff;
	  }
}


.container-summary{
	display: none;
	font-size:12px;
	@mixin transition all, 200ms;
	max-height: 0;
	overflow: hidden;
	span.key{
		font-weight: bold;
	}

	div.key-header{
        background-color: rgba(0,0,0,0.08);
        padding: 5px;
        margin: 5px 0 10px;
    }
}


.collapsed.done .container-summary{
	max-height:none;
}

#container-accept_terms_block{
	margin: 0;
	.container-title{
		display: none;
	}
}


.stage-header{
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-ms-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	position: relative;
	z-index:10;
	margin-top: -5px;
	float: left;
  	width: 100%;
	transform: translateZ(0);

	.stage-molecule, .stage-subheader, .container-children{
		@mixin transition opacity;
	}
	&.card{
		@mixin cardBaseShadow;
		margin:20px 0;

		@media screen {
		    @media (max-width: 768px) {
		      box-shadow:none;
		      background: transparent;
		    }
		  }
	}
	&>.container-title{
		display: block;
		padding: 14px;
		padding-left: 120px;
		list-style: none;
		border-bottom: 1px solid rgb(230, 230, 230);
		font-size: 30px;
		margin:0;
		font-weight: 300;
		@mixin transition;
		.container-state{
			display: block;
		}
		.container-summary {
			display: block;
		}
	}
	&>.container-children{
		padding: 20px 40px;
		float: left;
  		width: 100%;
  		@mixin transition;
  		&>div{
  			float: left;
  			width:100%;
  		}

  		@media screen {
		    @media (max-width: 768px) {

		      padding: 20px 0px;

		    }
		  }
	}

	&.collapsed{
		z-index:9;
	 	@mixin cardBaseShadow;
		overflow: hidden;
		background: rgba(255,255,255,0.8);
		margin:0;
		&>.container-title{
			background: #fff;
			color:$baseDark;
			.container-state{
				border:1px solid $baseDark;
				background: transparent;
				color:$baseDark;
			}
		}

		&>.container-children{
			max-height: 0;
			overflow: hidden;
			padding-top:0;
			padding-bottom: 0;
		}

		&>.stage-molecule, &>.stage-subheader, &>.container-children{
			opacity:0;
		}
		&.done{

			&>.container-title{
				.container-edit{
					display: block;
				}
			}

		}
	}

	&.done{
		&.collapsed{
				&>.container-title{
					  margin-top: -6px;
					  font-size:24px;
				}
			}
		&>.container-title{
			.container-state{

				&:before{
				}
			}
		}
	}
}

.stage-subheader{

	&>.container-title{
			color:$orange;
			font-size: 24px;
			padding-left: 20px;
			margin-top: 20px;
		}
	}

	&.no-title{
		&>.container-title{
			margin:0;
		}
	}

.stage-molecule{

	padding: 20px 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	float: left;
  	width: 100%;

  .multiselect-widget>ul>li span{
		border: 1px solid rgba(49,68,81,0.3);
		@mixin roundedCorners;
  }

	&>.container-title{

		.container-name{
			font-size: 14px;
			  display: block;
			  line-height: 24px;
			  text-transform: uppercase;
			  letter-spacing: 2px;

		}
		.container-desc{
			color: rgba(0, 0, 0, 0.45);
  			margin-bottom: 12px;
  			display: block;
  			font-size: 13px;
  			@mixin transition;
		}
	}
	.lowercase{
		text-transform: lowercase!important;
	}
	.uppercase{
		text-transform: uppercase!important;
	}
}


.input-btn{
	text-align: center;
	padding:32px 0;
}


.verified-tick{
	display: none;
	  position: absolute;
	  right: 20px;
	  top: 21px;
	  margin-top: -10px;
	  background: url(../img/buy-form/tick-icon.png);
	  width: 20px;
	  height: 30px;
	  background-size: 20px 20px;
	  background-repeat: no-repeat;
	  pointer-events: none;
		  opacity: 0.8;
}

.is-verified{

	.verified-tick{
		display: block;
	}
	input:focus ~ .verified-tick{
		display: none;
	}

}

.input-element{
	float: left;
	position: relative;
	label{
		color: rgba(49, 68, 81, 0.6);
		font-size:14px;
		font-weight:normal;
		position:absolute;
		pointer-events:none;
		left:12px;
		@mixin transition all, 200ms;
		display: none;
		top: 13px;
	}

	.input-desc{
		position: absolute;
		background: #fff;
		@mixin cardBaseShadow;
		padding:20px;
		top:50%;
		right:100%;
		width:200px;
		font-size: 12px;
		margin-right: 20px;
		transform:translateY(-50%);
		/*#arrow > .right(10px, #fff, 1px, darken(#efeff4, 15%));*/
		@mixin arrowRight 10px, #fff, 1px, color(#efeff4 shade(15%));
	}

	input{
		margin-right:12px;
		border:none;
		padding: 6px 12px;
		outline: none;
  		@mixin roundedCorners 3px;
  		width: 200px;
  		border: 1px solid rgba(49,68,81,0.3);
  		@mixin transition background-color,100ms;
  		&.inline-label{
  			&.large{
  				width: 280px;
  			}
  			&.medium{
  				width: 238px;
  			}
  			&.small{
  				width: 90px;
  				font-size: 100%;
  			}

  			&.phone-input{
  				position: relative;
  				padding-left: 40px;
  				&.has-value, &:focus{
  					background-image: url(../img/buy-form/phone-prefix.png);
  					background-repeat: no-repeat;
  					background-size: 25px;
    				background-position: 10px 22px;
  				}
  			}

  			padding: 19px 30px 6px 12px;

			&::-webkit-input-placeholder {
			   opacity: 0;

			}

			&:-moz-placeholder { /* Firefox 18- */
			    opacity: 0;
			}

			&::-moz-placeholder {  /* Firefox 19+ */
			    opacity: 0;
			}

			&:-ms-input-placeholder {
			    color: rgb(239, 239, 244);

			}

  		}

  		&.inline-label ~ label{
  			display: block;
  		}

  		&.inline-label:focus ~ label, &.has-value.inline-label ~ label {
		  top:4px;
		  font-size:12px;
		}

		&.inline-label ~ .input-desc {
			display: none;
		}

		&.inline-label:focus ~ .input-desc {
			display: block;
		}

		&.input-disabled,&:disabled {
			background-color: #f2f2f2;
			pointer-events: none;
			opacity:0.7;
			cursor: not-allowed;
		}
		&.input-date{
			width:52px;
		}
		&.input-year{
			width: 60px;
		}
		&:focus{
			background: $grey-2;
			border:1px solid $baseDark;
		}
		&.has-error{
			background: rgba(255,85,85,.24);
    		border: 1px solid rgb(255, 0, 0);
		}
		@media screen {
		    @media (max-width: 768px) {
		      background: transparent;
		      border:none;
		      box-shadow:none;
		      @mixin roundedCorners 0;
		      margin-bottom: 4px;
		      width: 100%;
		      padding-left:0;
		      &:focus{
		      	box-shadow:none;
		      }
		      &.inline-label{
		      	padding-left:0;
		      }
		      &.inline-label:focus ~ label, &.has-value.inline-label ~ label{
		      	left:0;
		      }
		    }
		  }
	}





	@media screen {
		    @media (max-width: 768px) {
		    	width: 100%;
		      &.is-verified{
				input{
					border-color:$muted-green;
					box-shadow:none;
				}

			}
		    }
		  }

	select{
		display: inline-block;
		margin-right: 5px;
	}
}

.checkbox-element{
	label{
		margin-top: 20px;
		font-size: 16px;
		font-weight: normal;
	}
}


.date-picker-element{
	position: relative;
	.verified-tick{
		right:-30px;
	}
}



.container-element.level2{
	&>.container-title{
		background: rgb(247, 250, 252);
		display: block;
		padding: 20px;
		list-style: none;
		border-bottom: 1px solid rgb(230, 230, 230);
		color: rgb(0, 118, 255);
		font-size: 20px;
		margin:0;
		&>.container-children{

		}
	}
}

.container-element.level4{
	width:100%;
}

.container-element.level3{
	margin-top:20px;
	&>.container-title{

		font-size: 20px;
		float:left;
		width:240px;

	}
	&>.container-children{

		&>div{
			float: left;
		}
	}
}

.container-children.level2{
			padding:40px;
}

.container-children.level3{
		float: left;
}


.clearfix{
	pointer-events: none;
}


.step-2-wrapper{
  background: #efeff4;
	@mixin cardBaseShadow;
    @mixin roundedCorners 3px;
  padding:0 20px 40px 40px;
  margin-top:40px;
}

.hero-header{
	h1{
		color:#fff;
		font-weight: 300;
		margin-top: 20px;
		margin-bottom: 0;

	}
}


#form{
	position: relative;
	z-index:199;
}

.form-footer{
	padding:24px;
	text-align: center;
	width:100%;
	float: left;
	background: #fff;
	position: relative;
	z-index:200;
	@mixin cardBaseShadow;
	transform:scale(0.95) translate3d(0,0,0);
	margin-bottom:20px;
	opacity:0;
	-webkit-transition-delay: 500ms;
	-moz-transition-delay: 500ms;
	-ms-transition-delay: 500ms;
	-o-transition-delay: 500ms;
	transition-delay: 500ms;
	&.reveal{
		opacity:1;
		transform:scale(1) translate3d(0,0,0);
	}
	.price, .price-label{
		  padding-top: 12px;
 		  padding-bottom: 24px;
		  font-size: 24px;
		  font-weight: 300;
		  text-align: left;
		  padding-left: 46px;
		  padding-right: 46px;
	}

	.price{
		text-align: right;
		font-weight: normal;
		color:$orange;

	}
}




.multiselect-widget{
  position: relative;
  z-index: 300;

  .multiselect-dd{
    position: absolute;
    background: rgba(255,255,255,0.98);
    left: -1px;
    right: -1px;
    margin-top: -1px;
    top:0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    @mixin roundedCorners;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    z-index:300;
    border: none;
    border-top: 0;


    .empty-ui{
      text-align: center;
      padding:15px;
      font-size:12px;
      color:$baseDark;
        background: #fff;
      span{
        font-weight: bold;
        padding: 0;
        background: none;
      }
    }
    .keyword{

      position: relative;



      .close-btn{
        position: absolute;
        width:15px;
        height:15px;
        right:20px;
        top:50%;
        margin-top:-7px;
        background-image:url(../img/buy-form/cross-icon.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size:15px 15px;
        cursor: pointer;
        @mixin transition;
        transform:translateY(20px);
        opacity: 0;

        &.reveal{
          opacity:1;
          transform:translateY(0px);
        }
      }
      input{
        border:0;
        outline: none;
        border-bottom: none;
        @mixin roundedCorners;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        padding: 5px;
        width: 100%;
        color:#000;
        padding-left:35px;
        background-image:url(../img/buy-form/search-icon.png);
        background-repeat: no-repeat;
        background-position: left 15px center;
        background-size:15px 15px;
      }
    }
    ul{
      list-style-type: none;
      padding: 0;
      max-height:300px;
      overflow-y: auto;
      margin-bottom: 0;
      background: #fff;
      li{
        padding: 7px 15px;
        cursor: pointer;
        color: $baseDark;
        font-size: 14px;
        &:nth-child(odd){
          background: #f7fafc;
        }


        &:hover{
          background:$orange;
          color:#fff;
        }
        &.selected{
          background: color($orange lightness(20%));
        }
      }
    }
  }

}



.multiselect-widget>ul{
  list-style-type: none;
  padding: 0;
  font-size:0;
  text-align: left;
  &>li{


    display: inline-block;

    font-size: 14px;
    cursor: pointer;
    position: relative;


    color:#444;
    @mixin roundedCorners;
    margin-right:10px;
    text-align: left;
    letter-spacing: 1px;
    background: #fff;
    border:none;
    .example-text{
      position: absolute;
      bottom:100%;
      top:auto;
      color:$orange;
      left:0;
      padding: 0;
      margin-bottom:8px;
      margin-top: 0;
      text-transform: none;
      letter-spacing: 0px;
    }
    &.active{
      background-color:$orange;
      color:#fff;

    }
    &.disabled{
      pointer-events:none;
      opacity:0.4;
      background: #f2f2f2;
    }
    span{
      padding:10px 15px;
      padding-right:40px;
      display: block;
      background-image:url(../img/buy-form/down-arrow.png);
      background-repeat: no-repeat;
      background-position: right 15px center;
      background-size:15px 9px;
    }
    &:focus{
      background:red;
    }
  }

}

.content-wrapper{
	padding-top:100px;
	@media screen {
	    @media (max-width: 768px) {
	      margin-left:0;
	      padding-left:0;

	    }
	  }
}

.app-state-wrapper{
	background: $orange;
	height:64px;
	position: fixed;
	top:64px;
	left:320px;
	right:0;
	@mixin cardBaseShadow;
	z-index:1000;
	.app-state{
		list-style-type: none;
		color:#fff;

		li{
			display: inline-block;
			font-size: 20px;
			padding: 16px 40px;
			position: relative;
			font-weight: 300;
			opacity:0.5;
			span{
				position: absolute;
				left:0;
				font-size: 18px;
				@mixin roundedCorners 50%;
				border:1px solid #fff;
				width: 30px;
				height: 30px;
				text-align: center;
				padding-top:2px;


			}
			&.active{
				opacity: 1;
				span{

					background: #fff;
					color:$orange;
				}
			}
		}
	}
}

.app-sidebar-wrapper{
	padding-bottom:5px;
	overflow: auto;
	@media screen {
	    @media (max-width: 768px) {
	      display: none;
	    }
	  }
}

.app-sidebar-details{
	    position: relative;
    z-index: 10;
}

.app-sidebar-section{
	margin-bottom: 20px;
	padding: 24px;
  	position: relative;

  	ul.quote-settings{
  		list-style-type: none;
  		padding: 0;
  		li{
  			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  			padding: 5px 0;
  			font-size: 13px;
  			span{
  				&.key{
  					&.special{
  						font-weight: bold;
  					}
  				}
  				&.value{
  					opacity:0.43
  				}
  			}
  		}
  		li.header{
  			text-transform: uppercase;
  			letter-spacing: 2px;
  			margin:20px 0 5px;
  			color:$orange;
  			font-size: 12px;
  		}
  	}

  	&.summary-card{
		@mixin cardBaseShadow;
  		padding:40px 40px 16px;
  		@mixin transition;
  		background: #fff;
  		position: relative;
  		margin: 20px;
  		margin-top:-20px;
  		&.reveal{
  		}
  		.quote-details-wrapper{
  			background: $grey-2;
  			position: absolute;
  			right:0;
  			left:50%;
  			top:0;
  			bottom:0;
  			padding:20px;
  		}
  		h3{
  			font-size: 35px;
  			font-weight: 300;
  			margin-bottom: 0;
  		}
  		p{
  			margin: 0;
  			opacity:0.4;
  			margin-bottom: 16px;
  		}

  		&>img{
  			  max-height: 70px;
  			  padding: 8px;
  			  border: 1px solid rgba(0, 0, 0, 0.12);
  		}
  	}
  	p.section-title{
		text-transform: uppercase;
		margin-bottom: 20px;
		letter-spacing: 2px;
		color:$orange;
		opacity:1;
		img{
			max-height: 20px;
			margin-right:10px;
		}
	}
}

.app-sidebar-wrapper{
	background: $grey-2;
}

.app-sidebar-header:before{
	background: color($grey-2 shade(5%));
}

.extras{
	list-style-type: none;
	padding: 0;
	padding-left: 13px;
	margin-bottom: 0;
	li{
		position: relative;
		font-size: 12px;
		&:before{
			  content: '\2713';
			  position: absolute;
			  left: -13px;
			  width: 6px;
			  height: 6px;
			  border-radius: 5px;
			  background: rgb(247, 250, 252);
			  z-index: 200;
		}
	}
}

.page-title{
	@media screen {
	    @media (max-width: 768px) {
	      font-size: 12px;

	    }
	  }
}


.page-title.no-arrow{
	font-size: 16px;
	&:before{
		display: none;

	}
}
.form-header-mobile {
	display: none;
}

.form-header{
	text-align: center;
	margin-bottom: 36px;
	position: relative;

	h2{
		font-weight:300;
		margin: 0;
		letter-spacing: 2px;
		font-size: 32px;
		text-transform: uppercase;
		margin-top:40px;
	}
	p{
		margin: 9px 0;
  		font-size: 16px;
  		font-weight: 300;
  		opacity: 0.8;
	}
	.back-to-results{
		position: absolute;
		left:0;
		top:10px;
	}
}


.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


/* new stuff */
.app-bg{
	background: color($baseDark lightness(3%));
	position: absolute;
	top:0;
	left:0;
	right:0;
	height:300px;
}

.centered-content-wrapper{
	padding-top:65px;
	margin-left: 320px;

}

.summary-items{
	padding: 0;
	list-style-type: none;
	margin: 0;
	@media screen and (min-width: 480px) {	
    	columns: 2;
    	-webkit-columns: 2;
    	-moz-columns: 2;

		& li {
    		-webkit-column-break-inside: avoid;
    		page-break-inside: avoid;
    		break-inside: avoid;
		}
	}
}



ul.radio{
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 0;

	li{
		display: inline-block;
		position: relative;
		cursor: pointer;
		font-size: 20px;
		padding-left: 48px;
		margin-right: 32px;
		padding-top: 4px;
		&:before{
			position: absolute;
			content: '';
			width:32px;
			height:32px;
			@mixin roundedCorners 32px;
			border:1px solid rgba(49,68,81,0.85);
			left:0;
			top:0;
		}
		&:after{
			position: absolute;
			content: '';
			width:20px;
			height:20px;
			@mixin roundedCorners 32px;
			left:6px;
			top:6px;
			background: @baseDark;
			opacity:0.3;
			transform:scale(0);
			@mixin transition all,200ms;
		}
		&:hover{
			&:after{
				transform:scale(1);
			}
		}
		&.active{
			&:after{
				position: absolute;
				content: '';
				width:20px;
				height:20px;
				@mixin roundedCorners 32px;
				left:6px;
				top:6px;
				background: $baseDark;
				transform:scale(1);
				opacity:1;
			}
			&:hover{
				&:after{
					transform:scale(1);
				}
			}
		}
	}

	&.vertical{
		li{
			display: block;
			font-size: 16px;
			margin-top: 10px;
			padding-top: 0;
			padding-left: 36px;
			&:before{
				width:20px;
				height:20px;
			}
			&:after{
				width:12px;
				height:12px;
				left:4px;
				top:4px;
			}
		}
	}

	&.small{
		li{
			margin-right:12px;
			font-size: 16px;
			padding-left: 32px;
			padding-top: 0;

			&:before{
				width: 20px;
				height: 20px;
			}
			&:after{
				left: 4px;
				top: 4px;
				width:12px;
				height:12px;
			}
		}
	}
}
.container-horizontal{
	.container-title{
		display: inline-block;
		width: 200px;
	}
	.container-children{
		display:inline-block;
		vertical-align: middle;
	}
}

@define-mixin custom-select{
	-webkit-appearance: none;
    -moz-appearance: none;
	padding: 10px 35px 9px 10px;
	outline: none;
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-image: url(../img/buy-form/down-arrow.png);
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 15px 9px;
	margin-right:3px;
	margin-left:3px;
	&:hover,&:focus{
		@mixin cardBaseShadow;
	}

}
.custom-select {
	@mixin custom-select;
	&.has-error{
			background: rgba(255,85,85,.24);
    		border: 1px solid rgb(255, 0, 0);
	 }
	&:disabled,&.input-disabled {
				background-color: #f2f2f2;
				pointer-events: none;
				opacity: 0.7;
				cursor: not-allowed;
				}
	&.inline-label {
		height: 47px;
		padding-top: 19px;
		min-width: 150px;
	 }
	&.inline-label ~ label {
		display: block;
		font-size: 12px;
		top:4px;
	 }
}
.date-picker-widget{
	.left, .right{
		width: 60px;
		padding: 10px;
		border:none;
		outline: none;
		border: 1px solid rgba(49,68,81,0.3);
  		@mixin roundedCorners 3px;
  		@mixin transition background-color,100ms;
  		&:focus{
  			background: $grey-2;
  			border:1px solid $baseDark;
  		}

	}
	select{
	    @mixin custom-select;

	}
}


.fixed-bottom-btn{
	position: fixed;
	display: none;
	background: $orange;
	padding:15px 10px;
	bottom:0;
	left:0;
	width:100%;
	color:#fff;
	text-align: center;
	z-index:2000;
}

#container-registration_number.container-horizontal {
	.container-title{
		width:277px;
	}
}


#container-vehicle_reg_no{
	    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
	.registration-number-widget{
		input{
			width:60px;
			float:left;
			margin-right: 5px;
			&:disabled{
				background: transparent;
				box-shadow:none;
				padding-left: 0;
    			padding-right: 0;
    			width: 28px;
    			border:none;
			}
		}
	}
	.verified-tick{
		right: -30px;
    	top: 17px;
    	margin-top: 0px;
	}
}

#container-add_city{
	opacity: 0;
	pointer-events: none;
}

.footer-innerwrap{
	opacity:0;
	&.reveal{
		opacity:1;
	}
}



/* travel form new fields css */

.modal{
	background-color: rgba(49,68,81,0.7);
	position:fixed;top:0;right:0;bottom:0;left:0;
	z-index:1500;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
	outline:0;
	visibility:hidden;opacity:0;filter:alpha(opacity=0);
	-webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
	@mixin transition;
}
.modal-dialog{position:relative;width:auto;margin:10px;}
.modal-content{position:relative;background-color:$grey-2;-webkit-background-clip:padding-box;background-clip:padding-box;border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);}
.modal-header{min-height:16.43px;padding:20px 30px;border-bottom:1px solid #e5e5e5;}
.modal-header .close{margin-top:-2px;}
.modal-title{margin:0;line-height:1.42857143;}
.modal-body{position:relative;padding:15px 0px;}
.modal-footer{padding:20px 30px;text-align:center;border-top:1px solid #e5e5e5;}
.modal-footer .btn {min-width: 150px;}
.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px;}
.modal-footer .btn-group .btn+.btn{margin-left:-1px;}
.modal-footer .btn-block+.btn-block{margin-left:0;}
@media (min-width:768px){.modal-dialog{width:600px;margin:30px auto;}
	.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5);}
	.modal-sm{width:300px;}
}
@media (min-width:992px){
	.modal-lg{width:900px;}
}
.modal.show{
	overflow-x:hidden;overflow-y:auto;
	opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    filter:alpha(opacity=100);
}
.modal-header{
	color: #ffffff;
	background-color: #ff704c;
	border-radius: 3px 3px 0 0;
}
.modal-content{
	border-radius: 3px;
}
.mnone {
	margin:0;
}
.centered-content__form {
	max-width: 750px;
	margin: auto;
}
.list-modal .modal-dialog {
	max-width: 100%;
	overflow-y: auto;
}
.add-mem-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	& > li {
		margin: 0px;
		padding: 15px 30px;
		border-bottom: 1px solid #e5e5e5;
	}
	& > li:last-child {
		border: none;
	}
}
.add-mem-list__label {
	display: inline-block;
	width: 200px;
	text-transform: capitalize;
	vertical-align: top;
	font-size: 14px;
	font-weight: bold;
}
.add-mem-list__value {
	display: inline-block;
	width: 200px;
	input[type="radio"] {
		display: inline-block;
		margin: 0 5px 0 10px;
	}
}
.member-list  label.lab {
	font-weight: 600;
	display: inline-block;
	margin-right:5px;
}
.member-list{
    margin-top:5px;
}
.member-list  span.list {
	display: inline-block;
	margin:0 5px 5px 0;
	font-size: 12px;
	padding: 0px 5px;
	text-transform: capitalize;
	@mixin roundedCorners 3px;
	border: 1px dotted #dadada;
}
.btn-mix {
	display: inline-block;
	background-color: transparent;
	color:$orange;
	border:1px solid $orange;
	cursor: pointer;
	@mixin roundedCorners;
	padding:0px 7px;
	text-transform: uppercase;
	font-size: 12px;
	  @mixin transition;
	  &:hover{
	  	background: color($orange shade(10%));
	  	color:#fff;
	  }
}

/* upto small screen tabular member fields */
@media screen and (min-width:768px)  {
	.stage-header--tabular>.container-children {
		padding:20px 0px;
	}
	.stage-molecule.stage-molecule--tabular,
	.stage-molecule--tabular {
		padding: 15px 0 15px 40px;
		margin:0;
	    position:relative;
		& > .container-title {
			position:absolute;
			top:4px;
			left:0px;
			}
		& ~ .container-error {
			margin: 10px 0;
			font-size: 12px;
		}
	}
	.stage-molecule.stage-molecule--tabular.header,
	.stage-molecule--tabular.header {
		position: relative;
		margin-top:-20px;
		background-color:$grey-2;
		border: none;
		padding-top: 8px;
		padding-bottom: 8px;
		&:before {
			content:'';
			display: block;
			width:24px;
			height: 24px;
			background: url('../img/buy-form/traveller.png') no-repeat center center transparent;
			position: absolute;
			left: 5px;
			top:5px;
		}
	}
	.stage-molecule--tabular>.container-title .container-name {
		margin-left:15px;
		margin-top:16px;
	}
	/* tabular element widths */
	.label--tabular {
		float:left;
		font-size: 12px;
		padding:0px;
		margin-right:5px;
		background-color: $grey-2;
	}
	.label--tabular,
	.input-element > input.element--tabular ,
	.input-element > select.element--tabular {
		&.w-105,&.w-105 ~ .error {width:100px;}
		&.w-60,&.w-60 ~ .error {width:55px;}
		&.w-150,&.w-150 ~ .error {width:145px;margin-right:5px;}
		& ~ .error {font-size: 11px;margin:3px 0 0;padding:0px;}
	}
	.label--tabular.w-150 {width:150px;margin-right: 0;}

	.input-element > input.element--tabular ,
	.input-element > select.element--tabular {
		padding: 9px 20px 9px 5px;
		margin: 0 5px 0 0;
		font-size: 12px;
	}
	.input-element > .custom-select.element--tabular {
		background-position: right 4px center;
		background-size: 10px 6px;
	}
	.input-element > input.element--tabular ~ label {
		font-size: 12px;
		left: 5px;
		top: 9px;
	}
	.input-element input.element--tabular:focus ~ label,
	.input-element input.has-value.element--tabular ~ label {
		display: none;
	}
	.input-element input.element--tabular ~.verified-tick {
		top:20px;
		right: 5px;
		background-size: 16px 16px;
	}
	.element--tabular:focus{
		box-shadow: none;
		background-color: $grey-2;
	}
}

.stage-molecule.container-medical {
    border: none;
    margin: 0;
    padding: 20px 0 0;
    & > .container-title .container-name{
        color: $orange;
    }
}

.stage-molecule.horizontal{
    &.tiny{
        padding:10px 0;
        border-left: 1px solid #eaeaea;
        border-right: 1px solid #eaeaea;
    }
    &.tiny .container-title {
        padding-left: 10px;
    }
    &.tiny .container-children {
        padding-right: 10px;
    }
	.container-title{
		display:block;
		float: left;
		width: 300px;
	}
	& > .container-title .container-name{
	    font-size: 14px;
	    text-transform: none;
	    letter-spacing: 0;
	    line-height: 1.6em;
    }
	.container-children{
		display:block;
		float: right;
		max-width: 360px;
		min-width: 340px;
	}
	.custom-select, .input-element{
	    max-width: 100%;
    }
    @media screen and (max-width: 768px) {
    	&.tiny {
    		padding: 0;
    		border-left: none;
    		border-right: none;
    		background-color: $grey-1;
    	}
    	&.tiny .container-title {
        	padding-left: 0px;
    	}
    	&.tiny .container-children {
        	padding-right: 0px;
    	}
    	.container-title,.container-children {
    		float:none;
    		width:100%;
    		max-width: none;
    		padding-top:8px;
    	}
    	.container-children {
    		padding: 0 12px 8px;
    		border-top: none;
    	}
    }
}

.container-error.alt{
    padding: 10px 30px;
    border: 1px solid #FF6363;
    width: 100%;
    background-position: 5px 10px;
    border-radius: 2px;
    font-size: 13px;
    min-height:40px;
    margin: 5px 0px;
}

.view-mobile{
    display: none;
    @media screen and (max-width:767px){
        display: inline-block;
    }
}

/* tabular title mobile screen */
@media (max-width: 768px) {
	.stage-molecule--tabular > .container-title .container-name {
		/*background-color: color($grey-2 a(50%));*/
	}
	.m-gr--1,.m-gr--2 {
		width: 100%;
		float: left;
		border-top: 1px solid color(#efeff4 shade(5%));
    	border-bottom: 1px solid color(#efeff4  shade(5%));
    	margin-top: -1px;
	}
	.m-gr--1 {
		.input-element {
			width:100%;
		}
	}
	.m-gr--2 {
		.input-element {
			width:50%;
		}
		.input-element:last-child {
			border-left:1px solid rgba(0, 0, 0, 0.1);
		}
	}
}

@import "_buy-form-media-queries.css";
