@import "_settings.css";
@import "_mixins.css";
$baseMaxWidth:800px;
$break-point-sm: 991px;
$break-point-md:1199px;
$break-point-xs:767px;
$bdcolor:#c1dad7;
html,body { 
  position: relative;
  height:100%;
  width:100%;
  padding: 0;
  margin: 0;
  background-color: $grey-2;
}
select{
  width:100%;
  @mixin roundedCorners;
  border: 1px solid $bdcolor;
  padding: 5px;
  line-height: 1.6em;
  outline:none;
  background-color: #fff;
}
body,h1,h2,h3,h4,h5,h6,p {
  font-family: $baseFont;
}
h3{
  font-size: 18px;
  font-weight: normal;
  padding: 20px 0 15px;
  margin: 0;
}
.cf-leftnav{
    border-right: 1px solid #e0e0ea;
    min-height: 43em;
    max-width: 350px;
}
.cf-leftnav__header{
  font-size: 18px;
  padding: 20px 0 5px;
  line-height: 1.2em;
}
.cf-leftnav__links{
    margin: 0;
    padding: 0;
    li{
      margin:10px 0;
      font-size: 14px;
      list-style: none;
      a{
        color:$baseDark;
        &:hover{
          color:$orange;
          text-decoration: none;
        }
      }
    }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
}
.dataTable{
  border:1px solid $bdcolor;
  margin: 15px 0;
  select{
    text-transform: capitalize;
  }
  input{
    width: 100%;
    padding: 5px;
    outline: none;
    @mixin roundedCorners;
    border: 1px solid $bdcolor;
  }
  th{
    background-color: $grey-1;
    padding: 10px;
    text-align: left;
    border-right: 1px solid $bdcolor;
    border-bottom:1px solid $bdcolor;
  }
  tr{
    background-color: $grey-1;
    &:nth-child(2n+1){
      background-color: #fff;
    }
  }
  td{
    padding: 10px;
    border-right: 1px solid $bdcolor;
    border-bottom:1px solid $bdcolor;
    
  }
}
.dataTables_filter{
  float: right;
  margin-bottom: 15px;
  label{
    max-width: 200px;
  }
  input{
    max-width: 200px;
    padding: 5px;
    margin-left: 15px;
    width:200px;
    outline: none;
    @mixin roundedCorners;
    border: 1px solid $bdcolor;
  }
}
.dataTables_length{
  float: left;
  margin-bottom: 15px;
  select{
    margin: 0 10px;
    max-width: 60px;
    width:60px;
  }
}
.dataTables_info, .dataTables_paginate{
  display: inline-block;
  width:50%;
  float: left;
  margin: 0 0 15px;
}
.paging_simple_numbers{
  text-align: right;
  span{
    padding: 0 10px;
  }
  a{
    cursor: pointer;
  }
}
.cf-select-deal{
  margin-bottom: 15px;
  select{
    margin: 0 10px;
    max-width: 130px;
    width:130px;
  }
}
.cf-btn-container{
  margin: 20px 0;
  input{
    background-color: $orange;
    padding: 10px 20px;
    color:#fff;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border:0;
    @mixin roundedCorners;
  }
}
.table-approved{
  span{
    padding: 0 10px;

  }
}
