@import "_settings.css";
@import "_mixins.css";
@import "components/_buttons.css";

body {
    margin: 0;
    padding: 0;
    font-family: $baseFont;
    background-color: $grey-2;
}

.top-bar {
    position: relative;
    height: 64px;
    background-color: $baseDark;
    margin: 0;
    position: fixed;
    top: 32px;
    width: 100%;
    z-index: 999;
}

.top-bar .logo {
    float: left;
}

.top-bar a {
    margin: 0;
}

.top-bar img {
    height: 28px;
}

.top-bar .menu-bar {
    margin-left: 40px;
    float: left;
}

.top-bar .menu-bar a {
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    width: auto;
    float: left;
    color: rgba(255, 255, 255, 0.7);
    margin: 10px 20px 0 20px;
}

.top-bar .menu-bar a:hover, .top-bar .menu-bar a:focus, .top-bar .menu-bar a:active, .top-bar .menu-bar a.active {
    color: $orange;
    outline: none;
    text-decoration: none;
}

.top-mini-bar {
    line-height: 1em;
    background-color: $baseDark;
    height: 32px;
    padding: 10px 0px;
    font-size: 12px;
    color: #ffffff;
    margin: 0;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.top-mini-bar .right-menu {
    text-align: right;
    padding-right: 30px;
}

.top-mini-bar a {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 14px;
}

.top-mini-bar a:hover {
    color: $orange;
    outline: none;
    text-decoration: none;
}

.nav-toggle {
    top: 0px;
    position: relative;
    float: left;
    padding: 3px 0px 0px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid transparent;
    @mixin roundedCorners;
}

.nav-toggle .bar {
    background-color: rgba(255, 255, 255, 0.7);
    display: block;
    width: 22px;
    height: 2px;
    @mixin roundedCorners 1px;
}

.nav-toggle .bar + .bar {
    margin-top: 4px;
}

.nav-toggle.active {
    z-index: 2;
}

.nav-toggle.active .bar {
    background-color: $orange;
}

.top-bar .fix-container {
    line-height: 1em;
    padding: 16px 0px 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: $baseDark;
    z-index: 1;
}

.header-wrapper {
    height: 64px;
    background: $baseDark;
    color: #fff;
    padding: 0 16px;
}

.header-wrapper.header-wrapper__fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-wrapper .logo {
    line-height: 60px;
}

.dealer-section {
    padding: 95px 0 50px;
    position: relative;
}

.dealer-section .form-box {
    background: #fff;
    padding: 40px 40px 20px;
    @mixin roundedCorners;
    @mixin cardBaseShadow;
}

.dealer-section .form-box__header {
    font-size: 20px;
    text-transform: uppercase;
}

.dealer-section .form-box__wrapper {
    padding: 32px 48px 48px 64px
}

.page-title {
    float: left;
    font-size: 20px;
    line-height: 64px;
    position: relative;
    font-weight: 300;
    opacity: .7;
}

.page-title:before {
    content: '';
    width: 0.3em;
    margin: 0 0.8em 0 0.8em;
    background-image: url('/static/motor_product/img/icons/right-arrow-white.png') no-repeat;
    background-size: contain;
    background-position: right center;
    float: left;
    height: 64px;
}

.dealer-cardata__sidebar {
    background: $grey-2;
    position: relative;
    top: 115px;
    left: 0;
    bottom: 0;
    z-index: 10;
    overflow: auto;
}

.dealer-cardata__sidebar h3 {
    font-size: 22px;
    margin: 8px 0;
}

.dealer-cardata__header {
    position: relative;
    padding: 24px;
    z-index: 2;
}

.dealer-cardata__header:before {
    content: '';
    background: #e0e0ea;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.dealer-cardata__details {
    position: relative;
}

.dealer-cardata__details .dealer-cardata__summarycard {
    padding: 40px 40px 16px;
    margin: 20px;
    margin-top: -20px;
    position: relative;
    z-index: 3;
    background: #fff;
    @mixin cardBaseShadow;
}

.dealer-cardata__details h3 {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
}

.dealer-cardata__details img {
    max-height: 70px;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, .12);
}

.dealer-cardata__details p {
    margin: 0;
    margin-bottom: 16px;
    opacity: 0.4;
}

.dealer-cardata__details .extras {
    list-style-type: none;
    padding: 0;
    padding-left: 13px;
    margin-bottom: 0;
}

.dealer-cardata__details .extras li {
    position: relative;
    font-size: 12px;
}

.dealer-cardata__details .extras li:before {
    content: '\2713';
    position: absolute;
    top: 0;
    left: -13px;
    width: 6px;
    height: 6px;
    display: block;
}

.dealer-cardata__section {
    position: relative;
    padding: 24px;
    margin-bottom: 20px;
}

.dealer-cardata__section ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px;
}

.dealer-cardata__section ul li {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 5px 0;
    font-size: 13px;
}

.dealer-cardata__section ul li .dealer-cardata__value {
    float: right;
    opacity: .43;
}

.dealer-cardata__section ul .header {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0 5px;
    color: $orange;
    font-size: 12px;
    @mixin roundedCorners 5px;
    background: $grey-1;
    z-index: 200;
}

.dealer-data__section {
    position: relative;
    top: 105px;
}

.dealer-data__section .dealer-data__formheader {
    position: relative;
    margin-bottom: 36px;
    text-align: center;
}

.dealer-data__section .dealer-data__formheader h2 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 32px;
}

.dealer-data__section .dealer-data__formheader p {
    font-weight: 300;
    font-size: 16px;
    opacity: .8;
}

.dealer-form__container {
    @mixin cardBaseShadow;
    padding: 10px;
    margin: 10px;
    text-align: center;
    margin-bottom: 85px;
}

.dealer-form__container .dealer-formfield__container {
    padding: 10px;
}

.dealer-form__container .dealer-formfield__container input {
    max-width: 300px;
    width: 100%;
    padding: 10px;
    margin: 0 20px 10px 0;
    @mixin roundedCorners 5px;
}

.dealer-form__container .dealer-formfield__container .btn {
    width: 250px;
}

.dealer-form__container .dealer-form__footer {
    padding: 10px;
    text-align: right;
    margin:0 auto;
    width: 180px;
}

.filter-form__wrapper {
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.filter-form__wrapper label {
    font-size: 16px;
    margin-right: 20px;
}

.filter-form__wrapper select {
    width: 100%;
    max-width: 300px;
    padding: 5px 10px;
    line-height: 1.6em;
    option
    {
        color: red;
    }
}

.filter-data__wrapper {
   padding-bottom: 30px;
   background-color: #fff;
   @mixin cardBaseShadow;
}

.filter-data__wrapper .btn {
    padding: 5px 15px;
}

.filter-data__wrapper .filter-data__mobile {
    display: none;
}

.filter-data__header, .filter-data__value{
    & > div {
        display: inline-block;
        position: relative;
        z-index: 99;
        vertical-align: middle;
    }
    &.pay
    {
        text-align: left;
        padding: 20px;
        label, input, button
        {
            margin: 10px 0px;
            display: block;
        }
    }
}

.filter-data__header {
    background: $orange;
    display: block;
    text-align: center;
    color: #fff;
    padding: 5px 0;
    font-size: 18px;
}

.filter-data__value {
    display: block;
    text-align: center;
    padding: 5px 0;
    background: #ffffff;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.filter-data__value:last-child {
    border:none;
}

.filter-data__wrapper .col_vehicle {
    width: 18%;
}

.filter-data__wrapper .col_area {
    width: 10%;
}

.filter-data__wrapper .col_registration {
    width: 12%;
}

.filter-data__wrapper .col_status {
    width: 12%;
}

.filter-data__wrapper .col_lstatus {
    width: 15%;
}

.filter-data__wrapper .col_formlink {
    width: 10%;
}

.filter-data__wrapper .col_paymentlink {
    width: 20%;
}

.filter-data__wrapper .col_sno {
    width: 5%;
}

.filter-data__wrapper .col_created_on {
    width: 15%;
}
.filter-data__wrapper .col_dealer_name {
    width: 15%;
}

.filter-data__wrapper .col_invoice_amount {
    width: 15%;
}

.filter-data__wrapper .col_paid_amount {
    width: 15%;
}


.filter-data__wrapper .col_arrears {
    width: 15%;
}

.filter-data__wrapper .col_cleared_on {
    width: 18%;
}

.filter-data__wrapper .approved {
    color: #16a765;
}

.filter-data__wrapper .rejected {
    color: #f00;
}

.filter-data__wrapper .data_value {
    margin: 3px;
    display: block;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    .filter-data__wrapper .filter-data__header_mobile {
        display: inline;
    }
    .filter-data__wrapper .filter-data__mobile {
        display: inline-block;
        width: 120px;
        margin-right: 15px;
        color: $orange;
        font-weight: 700;
    }
    .filter-data__wrapper div {
        display: block;
    }
    .filter-data__wrapper .filter-data__header {
        display: none;
    }
    .filter-data__wrapper .filter-data__value {
        text-align: left;
        padding: 5px 10px;
        margin: 15px;
    }
    .filter-data__wrapper .col_vehicle, .filter-data__wrapper .col_area, .filter-data__wrapper .col_registration, .filter-data__wrapper .col_status, .filter-data__wrapper .col_lstatus, .filter-data__wrapper .col_formlink, .filter-data__wrapper .col_paymentlink, .filter-data__wrapper .col_sno, .filter-data__wrapper .col_created_on, .filter-data__wrapper .col_invoice_amount, .filter-data__wrapper .col_paid_amount, .filter-data__wrapper .col_arrears, .filter-data__wrapper .col_cleared_on {
        width: 95%;
        margin: 3px;
    }
    .filter-data__wrapper .data_value {
        display: inline-block;
        max-width: 100px;
        width: 100%;
    }
}

.payment-form__container {
    padding: 10px;
    margin: 20px;
    text-align: left;
    @mixin cardBaseShadow;
}

.payment-form__container .form-box__header {
    font-size: 22px;
}

.payment-form__container .payment-type__container {
    padding: 10px;
    margin: 20px;
}

.payment-form__container .payment-type__container .payment-type__header {
    font-size: 18px;
    line-height: 40px;
}

.payment-form__container .payment-type__container .payment-type__header span {
    height: 40px;
    width: 40px;
    display: inline-block;
    background: $orange;
    @mixin roundedCorners 50%;
    text-align: center;
    margin-right: 10px;
}

.payment-form__container .payment-type__container .payment-type__formsection {
    margin-left: 50px;
    min-height: 180px;
    border-bottom: 1px solid $orange;
}

.dealer-form__container .uploaded_image {
    max-width: 200px;
    max-height: 200px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#current-upload-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0px 10px;
    left: 0;
    max-height: 200px;
    overflow-y: auto;
}

#current-upload-container .header {
    background-color: #314451;
    padding: 4px 10px;
    color: #FFF;
    cursor: pointer;
    position: relative;
    margin: auto;
    &:after {
        content:'';
        display: block;
        width: 20px;
        height: 20px;
        background: url('/static/img/global/ic-chevron-down.png') no-repeat center center transparent;
        position: absolute;
        right:10px;
        top:5px;
        transform:rotateX(180deg);
    }
}
#current-upload-container.active .header:after {
        transform:rotateX(0deg);
        top:3px;
}

.upload-instance {
    padding: 10px 0px;
    font-size: 12px;
    margin: auto;
    background-color: #fff;
}

#current-upload-container .uploads {
    display: none;
}

#current-upload-container.active .uploads {
    display: block;
    background-color: #fff;
}
#current-upload-container .progress, #current-upload-container .progress-bar{
    height: 15px;
}
.hero-wrapper
{
    margin: 0 auto;
    padding-top: 30px;
    max-width: 1040px;
}
.cover-bg
{
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 60px;
    background: url(/static/img/motor/car-background.jpg);
    @mixin fullWidthBackground #fff;
    background-position: top center;
    height: 610px;
}

.cover-bg:after {
    z-index: 0;
    position: absolute;
    content: '';
    display: block;
    height: 300px;
    bottom: -2px;
    left: 0;
    right: 0;
    background-color: transparent;
    @mixin gradient transparent, $grey-2;
}


@media screen and (max-width: 991px) and (min-width: 0px){
    .hero-form{
        padding:0px 15px;
    }
}

.dealer-h2
{
    text-align: center;
    line-height: inherit;
    margin-top: 0;
}
.dealer-section--table
{
    & th, td
    {
        border:none;
        text-align: center;
        vertical-align: middle;
        padding: 5px 0px;
    }
    & th
    {
        background-color: $orange;
        color: #fff;
    }
}

.dealer-section--row
{
    padding-top: 30px;
    background-color: #fff;
    @mixin cardBaseShadow;
}

@media (max-width: 768px){
    .dealer-section .dealer-section--table {
        color:#333;
        background-color: $orange;
    }
}
@media screen and (min-width: 0px) and (max-width: @break-point-xs) {
    .top-mini-bar a {
        font-size: 12px;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .top-bar .logo img {
        height: 20px;
        margin-top: 0px;
    }
    .top-bar .menu-bar {
        margin-left: 20px;
    }
    .top-bar .menu-bar a {
        font-size: 12px;
        margin: 10px 15px 0px 0px;
    }
    .top-bar, .top-bar .fix-container {
        height: 54px;
    }
    .top-bar .nav-menu {
        visibility: hidden;
        opacity: 0;
        background-color: #314451;
        margin: 0;
        padding: 10px 30px;
        position: absolute;
        z-index: 10;
        top: 40px;
        left: -15px;
        right: -15px;
        display: block;
        height: 0;
        overflow: hidden;
    }

    .top-bar .nav-menu.active {
        visibility: visible;
        opacity: 1;
        display: block;
        border-bottom: 1px solid rgba(0,0,0,0.7);
        height: auto;
        overflow: visible;
    }
    .top-bar .nav-menu.active a {
        height: 30px;
        padding-top: 10px;
        overflow: visible;
        color: rgba(255,255,255,0.7);
        display: block;
        width: 100%;
        font-size: 12px;
        float: left;
        text-transform: uppercase;
        margin: 10px 15px 0 0;

    }

    /* top nav bar*/
    .top-nav-bar {
        & .top-bar, .fix-container {
            height: 8px;
            padding: 0;
        }
        & .nav-toggle {
            top: -25px;
        }
        & .logo, .change-dealer, .msg-logout {
            display:none;
        }
        & .nav-menu {
            top: 0px;
        }
        & + .dealer-section {
            padding-top: 40px;
            & .cover-bg {
                top: 8px;
            }
        }
    }
}

@media screen and (min-width: 768px){
    #current-upload-container
    {
        left: 25%;
    }
}

.filter-select{
    padding:7px 0;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:3px;
    margin:0 10px 10px 0;
    width: 30%;
    position: relative;
    float: left;

    & select{
        background:transparent;
        border:0px none transparent;
        color:#5a6974;
        outline:none;
    }
    @media screen and (max-width: 767px){
        min-width:100%;
    }
}
.filter-label{
    margin: 10px 0;
    width: 20%;
    min-width: 200px;
    position: relative;
    float: left;
}