@import "_settings.css";
@import "_mixins.css";
@import "_cf-reset";
$baseMaxWidth:800px;
$break-point-sm: 991px;
$break-point-md:1199px;
$break-point-xs:767px;
html,body { 
  position: relative;
  height:100%;
  width:100%;
  padding: 0;
  margin: 0;
  color:#314451;
}
body,h1,h2,h3,h4,h5,h6,p {
  font-family: $baseFont;
}
h3,h4,h2,h1 {
  font-weight: 300;
  line-height: 1.4em;
}
.health-review{
  padding: 20px 0;
}
.health-review__toptext{
  font-size: 16px;
}
.health-review__logo{
  background-color: $grey-1;
  max-width:200px;
  height: 200px;
  border:1px solid rgba(0,0,0,0.01);
  position: relative;
  @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
      height:120px;
    }
    @media screen and (min-width: 0px) and (max-width: $break-point-sm) {
      height:95px;
    }
  img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 130px;
    @media screen and (min-width: 0px) and (max-width: $break-point-sm) {
      width:95px;
    }
     @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
      max-width:85px;
    }
  }
}
.health-review__plan{
  h2{
    margin: 0 0 10px;
    font-size: 35px;
    @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
        font-size:17px;
      }
  }
  p{
    font-size: 18px;
     @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
        font-size:12px;
      }
    line-height: 1.6em;
  }
}
.health-review__formbg{
  padding: 10px 0;
  margin-top: -50px;
  h2{
    font-size: 20px;
    margin: 0 0 5px;
  }
  h4{
    font-size: 14px;
  }
  .form-field-container{
    padding: 0;
  }
}
.health-review__description{
  font-size: 16px;
  font-weight: 300;
  @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
    margin:20px 0;
  }
}
.health-highlight{
  padding: 20px 0;
  background-color: $grey-1;
}
.health-highlight__heading{
  font-size: 32px;
  font-weight: 300;
  @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
    font-size:20px;
  }
}
.health-highlight__list{
  margin: 0;
  padding: 15px;
  li{
    font-size: 16px;
    margin: 15px 0;
    @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
      font-size:12px;
    }
  }
}
.health-scope{
  padding: 20px 0;

}
.health-scope__analysis{
  padding: 20px 0;
  p{
    font-size: 16px;
    line-height: 1.6em;
    color:#8d9aa2;
    @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
      font-size:12px;
    }
    strong{
      color:#314451;
      img{
        max-width: 11px;
      }
    }
  }
}
.health-scope__subheading{
  font-size: 20px;
  color:#314451;
  @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
      font-size:15px;
    }
}
.health-scope__entrytext{
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
      font-size:12px;
      max-width: 50%;
    }
}
.health-benefits{
  padding: 40px 0;
  background-color: $grey-1;
  p{
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 300;
    @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
      font-size:12px;
    }
  }
}
.health-benefits__listbox{
  position: relative;
  padding: 20px 0;
  &:before{
    content:"";
    position:absolute;
    top:90%;
    margin-top: 20px;
    left:0;
    width:5%;
    border-bottom: 2px solid $orange;
     @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
        border-bottom:none;
      }
  }
  &.last--before{
      &:before{
      width:30%;
      border-bottom: 2px solid #bbb;
      @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
        border-bottom:none;
      }
    }
  }
  &.before--none{
    &:before{
      border-bottom:none;
    }
  }
}
.health-benefits__heading{
  font-size: 24px;
  font-weight: 300;
  margin: 35px 0 0;
}
.health-benefits__details{
  font-size: 16px;
  text-transform: uppercase;
}
.health-benefits__list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  li{
    margin: 10px 0;
    font-size: 18px;
    font-weight: 300;
    position: relative;
    padding-left: 20px;
    @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
      font-size:12px;
    }
    span{
      color:$orange;
      padding-right: 10px;
      position: absolute;
      top:0;
      left:0;
    }
  }
}
.health-benefits__videopopup{
  a{
    color:#666;
    font-size: 15px;
    font-weight: 300;
    &:hover{
      text-decoration: none;
    }
  }
}
.health-benefits__note{
  font-size: 12px;
  font-style: italic;
  color:#bbb;
}
.hero_modal_overlay {
  display: none;
  z-index: 1001;
  top:0;
  left:0;
  bottom: 0;
  right:0;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  overflow-x: hidden;
  overflow-y: auto;
  &.active {
    display: block;
  }
  .hero_modal_content {
    position: relative;
    margin: auto;
    top:-200%;
    &.description-container{
      max-width: 700px;
      background-color: #fff;
      padding: 20px;
    }
  }
  &.active .hero_modal_content {
    top:80px;
  }
  & .close-overlay {
    width: 90px;
    height: 30px;
    color: #fff;
    position: absolute;
    z-index: 1;
    background: url('/static/img/global/ic_close.png') no-repeat -15px center transparent;
    right: 20px;
    top:20px;
    padding-left: 35px;
    padding-top: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}
#video-frame {
  iframe {
    margin: auto;
    width:767px;
    height: 431px;
    display: none;
    @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
      width:auto;
      height: auto;
    }
    &.reveal {
      display: block;
    }
  }
}
.health-recommend{
  padding: 30px 0;
  background-color: $grey-1;
}
.health-recommend__tophead{
  font-size: 19px;
  img{
    margin-right: 10px;
  }
}
.health-recommend__linklist{
  margin-left: 65px;
  margin-top: 20px;
  @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
      margin-top:0;
    }
  a{
    display: block;
    font-size: 14px;
    margin: 7px 0;
    font-weight: 300;
    @media screen and (min-width: 0px) and (max-width: $break-point-xs) {
      font-size:12px;
    }
  }
}
.description-container{
  h3{
    margin: 0 0 10px;
    font-weight: 400;
  }
}
.health-breadcrumbs{
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;
  li{
    display: inline-block;
    margin: 0 10px;
    a{
      color:#314451;
    }
  }
}
.health-heading{
  background-color: #fff;
  padding: 30px 0;
}
.health-heading__para{
  margin: 30px 0;
  font-size: 24px;
  font-weight: 300;
  p{
    font-size: 16px;
  }
}
