@import "_settings.css";
@import "_mixins.css";
@import "_bootstrap-full.css";
@import "components/_buttons.css";

body {
  font-family: $baseFont;
  font-size: 14px;
}
.bred_menu{
	margin-top:30px;
}

.bred_menu ul{
margin: 0;
padding: 0;
}
.bred_menu li{
display: inline;
padding:0 30px;
background:url(/static/img/global/bc-arrow.png) no-repeat left 3px;
}
.bred_menu li a{
font-size:14px;
}

.bred_menu li:first-child{
	padding-left: 0;
	background: none;
}

h1.heading_top{
	font-size: 50px;
	margin-top:30px;
	margin-bottom: 30px;
}

.faq_list{
	padding-bottom: 70px;
}

.faq_list ul{
margin: 0;
padding: 0;
}

.faq_list li{
  padding:17px 0;
  list-style: none;
  display:block;
  font-size:30px;
  &:after {
    content: '';
    display: block;
    width:200px;
    height: 1px;
    background-color: rgba(0,0,0,0.1);
    margin: 30px 0px 0px;
  }
  &:last-child:after {
    display: none;
  }
  .description_txt{
    font-size:14px;
    margin-top: 30px;

  }
}





.lead-form {
padding: 0px 20px 20px;
}
.lead-form .legend {
border-bottom: 2px solid #dadada;
margin-bottom: 20px;
margin-top: 30px;
text-transform: uppercase;
letter-spacing: 2px;
padding-bottom: 5px;
color: #ff7b5e;
}
.lead-form .done {
display: none;
}
.submit {
min-width: 130px;
}
.form-horizontal .control-label {
font-size: 14px;
font-weight: 400;
}
.thankyou-msg {
  max-width: 600px;
  width: 100%;
  margin: 15px auto;
  text-align: center;
  padding: 10px 20px 30px;
  border: 1px solid #eaeaea;
  display: none;
  @mixin roundedCorners 5px;
}
.thankyou-msg h2 {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2em;
}
.thankyou-msg .submit {
  margin: auto;
}
.thankyou-msg.done {
  display: block;
}


.get-started-container{
  ul{
    padding:0;
    list-style-type: none;
  }
}


p.error{
  color:red;
  display: none;
}




