@import "_settings.css";
@import "_mixins.css";
@import "_bootstrap.css";
@import "components/_buttons.css";
@import "composites/_get-in-touch-social.css";

/* Variables */
$textColor:$baseDark;
$leadOrange:#FF7E5E;
$muted-text:#999999;
$break-point-md:1199px;
$break-point-sm:991px;
$break-point-xs:767px;
$brown:$baseDark;
$light-bg-color:#ffffff;
$grey-3:#E6E6ED;
$lableColor:#5a6974;

.footer-wrapper-products,#top-bar .nav-menu .p-link {
  display: none;
}

body {
  font-family: $baseFont;
  background-color: $grey-2;
  color: $textColor;
  line-height: 1.6em;
  font-weight: 400;
}

.hide-overflow{
	overflow:hidden;
}

.mnone{
	margin: 0;
}
.pnone {
  padding: 0;
}
.prnone{
	padding-right:0;
}
.plnone{
	padding-left:0;
}
a {
  color: $orange;
  &:hover,&:focus,&:active {
    color: $orange;
    outline: none;
    text-decoration: none;
  }
}

.btn--brown{
  color:rgba(255,255,255,0.9);
  background-color: $brown;
  border: 1px solid color($brown shade(5%));
  box-shadow:none;
  &:hover{
    background: color($brown shade(10%));
  }
  &:active{
    background: color($brown shade(10%));
  }
}


h1 {
  font-family: $baseFont;
  font-size: 26px;
  font-weight: 300;
  color: #fff;
  margin: -8px 0 8px;
  text-align: center;
}
p.sub-title {
  font-family: $baseFont;
  font-size: 16px;
  color: rgba(255,255,255,0.7);
  font-weight: 300;
  text-align:center;
}
h2 {
  font-family: $baseFont;
  font-size: 28px;
  font-weight: 300;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 20px;
}
p.leader {
  font-size: 16px;
}
p.leader-2 {
  font-size: 16px;
}
.read-more
{
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px 5px;
  font-size: 13px;
}
p,h3,h4 {
  font-family: $baseFont;
  font-weight: 300;
  line-height: 1.6em;
}


#hero-section {
  background-color: $baseDark;
}
.section {
  padding:30px 0 50px;
  h2 {
    color: $textColor;
    text-align: center;
  }
  h3 {
    margin:15px 0px 20px;
    line-height: 1.4em;
    p {
      font-size: 16px;
      margin-top:10px;
    }
    a {
      text-transform: uppercase;
      font-weight: 400;
      padding: 0px 5px;
      font-size: 13px;
    }
  }
  .sub-link-heading {
    font-size: 20px;
    margin: 35px 0px 0px;
    text-align: center;
    a {
      text-transform: uppercase;
      font-weight: 400;
      padding: 0px 5px;
      font-size: 13px;
    }
  }
}

.section.dark {
  background-color: $grey-3;
}
.section.light {
  background-color: $light-bg-color;
}

.lead-block {
  background-color: $leadOrange;
  padding: 40px 0 50px;
  color: #fff;
  .error {
    display: block;
    font-size: 12px;
    margin-top:-5px;
  }
  h3 {
    text-align:left;
    margin: 0px 0px 10px;
  }
  .form-row {
    max-width: $break-point-xs;
    margin: auto;
  }
  label {
    font-size: 20px;
    font-family: $baseFont;
    font-weight: 400;
    text-align:left;
    display: block;
    padding: 10px 0px 5px;
    margin-bottom: 10px;
  }
}
.secure {
  line-height: 1.6em;
  background-color: $light-bg-color;
  padding: 30px 0px 20px;
  text-align: center;
  border-top: 1px solid rgba(0,0,0,0.1);
  ul {
    text-align: left;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: auto;
    & img {
      display: inline-block;
      height: 30px;
    }
    & .dmca-badge img {
      height: 31px;
      top: 5px;
      left: -5px;
      position: relative;
    }
    & li {
      line-height: 1.4em;
      float: left;
      padding:0px;
      font-size: 12px;
      text-transform: uppercase;
      color: lighten($textColor,15%);
    }
    & li.b-lr {
      border-left: 1px solid rgba(0,0,0,0.1);
      border-right: 1px solid rgba(0,0,0,0.1);
      padding: 0px 15px 0;
      position: relative;
      margin: 0 10px 10px;
      height: 55px;
      @media screen and (min-width: 0px) and (max-width: 435px) {
        width:100%;
        padding: 0;
        margin:15px 0 10px;
        border: none;
      }
    }
    & .ssl-logo {
      position: relative;
      top:3px;
    }
  }
}

.core-row
{
  margin-top: 25px;
}
.core-row-box
{
  position: relative;
  display: block;
  width: 100%;
  margin: 0px auto 40px;
  & img {
    display: block;
    margin: auto;
    max-width:630px;
    width:100%;
    height:auto;
    border : 1px solid #BCBCC4;
    box-shadow:0px 2px 6px rgba(0,0,0, 0.25);
  }
  & .row-div{
    padding: 20px 0px;
    font-size: 14px;
    color: color($textColor w(15%));
    font-family: 'Lato',sans-serif;
    position: relative;
  }
  & .row-title
  {
    font-size: 16px;
    font-weight:400;
    color:$baseDark;
    font-family: 'Lato',sans-serif;
  }
}

.vid-row {
  max-width: 1000px;
  margin: auto;
  text-align: center;
  & a {
    text-transform: uppercase;
  }
}
.video-article {
  position: relative;
  display: block;
  max-width: 427px;
  width: 100%;
  margin: 10px auto 20px;
  & img {
    width: 100%;
    display: block;
  }
  & a > div {
    text-align: left;
    @mixin cardBaseShadow;
    background-color: #fff;
    padding: 20px 15px 20px 15px;
    font-size: 14px;
    color: $textColor;
    border-radius: 0 0 3px 3px;
    font-family: $baseFont;
    position: relative;
    text-transform: none;
  }
  & .action {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -36px;
  }
}

.blog-carousel {
  margin: 20px auto 20px;
  position: relative;
  text-align: center;
  transform:translateZ(0);
  -webkit-transform:translateZ(0);
  -o-transform:translateZ(0);
  -ms-transform:translateZ(0);
  -moz-transform:translateZ(0);
  & .item {
    min-height: 270px;
    max-width: 400px;
    @mixin cardBaseShadow;
    @mixin roundedCorners 3px;
    background-color: #fff;
    z-index: 0;
    text-align: left;
    margin:0 5px 15px;
    & .img-holder {
      position: relative;
      min-height: 166px;
      padding: 0;
      background-color: $baseDark;
    }
    & img {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
    }
    & > div {
      padding: 1px 15px;
    }
    & h5 {
      font-size: 16px;
      line-height: 1.4em;
      font-weight: 400;
      color: $textColor;
      text-transform: none;
    }
    & a {
      color: $textColor;
      text-transform: none;
    }
  }
  a {
    text-transform: uppercase;
  }
}

.employee-carousel {
  width: 100%;
  position: relative;
  margin-bottom:0px;
  transform:translateZ(0);
  -webkit-transform:translateZ(0);
  -o-transform:translateZ(0);
  -ms-transform:translateZ(0);
  -moz-transform:translateZ(0);
  & .item {
    &.active {
      opacity: 1;
      visibility: visible;
    }
    & img {
      width: 100%;
      display: block;
    }
    & > div {
      margin: -80px 0px 0px;
      position: relative;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 15px;
      font-size: 13px;
      width: 100%;
      line-height: 1.4em;
      color: color($textColor w(10%));
    }
    h5 {
      margin: 0px 0px 5px;
      font-size: 18px;
      font-weight: 400;
      color: $textColor;
    }
  }
  @media screen and (min-width: 768px) and (max-width: $break-point-sm) {
    width: 285px;
    height: 425px;
    margin-bottom: 0px;
  }
}

.illustration-carousel {
  position: relative;
  transform:translateZ(0);
  -webkit-transform:translateZ(0);
  -o-transform:translateZ(0);
  -ms-transform:translateZ(0);
  -moz-transform:translateZ(0);
  & .item {
    & > img {
      display: block;
      max-width: 360px;
      width: 100%;
      margin-top: -20px;
    }
    & > div {
      padding: 5px 0px;
      position: relative;
      background-color: transparent;
    }
  }

  h5 {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.sole-testimonial {
  max-width: 400px;
  margin: 50px 15px 0px;
  position: relative;
  padding-left: 0px;
  color: color($textColor w(15%));
  & p {
    text-indent: 40px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 5px;
  }
  & img {
    position: absolute;
    left:0px;
    top:0px;
    display: none;
  }
  & .quote {
    background: url('/static/img/home/ic_quote.png') no-repeat center transparent;
    font-size: 72px;
    color: transparent;
    position: absolute;
    width: 25px;
    height:25px;
    top:-15px;
    left: 0px;
  }
}

ul.why-coverfox {
  list-style-type: none;
  padding: 0;
  margin:50px 0px 60px;
  text-align: center;
  & li {
    width: 230px;
    height: 190px;
    margin:10px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4em;
    vertical-align: top;
    color: color($textColor w(15%));
  }
  & img {
    width: 120px;
    height: 120px;
    background-color:$grey-2;
    @mixin roundedCorners 50%;
    display: block;
    margin:0 auto 20px;
  }
  @media screen and (min-width: 768px) and (max-width: $break-point-sm) {
    & li {
      width: 120px;
      font-size: 12px;
    }
    & img {
      width: 100px;
      height: 100px;
    }
  }
}

ul.insurers {
  list-style-type: none;
  margin: 25px 0px 0px;
  text-align: center;
  padding: 0;
  & li {
    display: inline-block;
    margin:0px;
    vertical-align: middle;
    position: relative;
    width:140px;
    height: 70px;
    overflow: hidden;
    & .ic-insurer-sm {
      position: absolute;
      left: -3px;
      top: -8px;
    }
  }
}

.product-menu {
  margin-bottom: 10px;
  a {
    font-size: 18px;
    color: $textColor;
    display: block;
    width: 100%;
    margin-bottom: 7px;
    background-color: $grey-3;
    padding: 15px 10px;
    position: relative;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    @mixin roundedCorners 3px;
  }
  a:hover,a:active,a:focus {
    background-color: $light-bg-color;
    color:$orange;
  }
  a .hashtag {
    color: $orange;
    font-size: 14px;
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: -5px;
  }
  & img {
    height: 20px;
    margin: -3px 5px 0 0;
    display: inline-block;
  }
  & i.chevron {
    position: absolute;
    display: block;
    top:11px;
    right:0px;
    width: 32px;
    height: 32px;
    background: url(/static/img/home/ic_chevron_right.png) no-repeat center center transparent;
    -webkit-background-size: 10px;
    background-size: 10px;
  }
}

.nav-toggle {
  position: relative;
  float: left;
  padding:3px 0px 0px;
  margin-right:10px;
  background-color: transparent;
  border: 1px solid transparent;
  @mixin roundedCorners 3px;
  .cover {
    display: none;
  }
  .bar {
    background-color: rgba(255,255,255,0.7);
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  & .bar+.bar {
    margin-top: 4px;
  }
  &.active {
    z-index: 2;
    & .bar {
      background-color: $orange;
    }
  }
}

/* input elements css and overrides */

.cf-input {
  color: $textColor;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  height: 54px;
  padding: 10px;
  @mixin roundedCorners 3px;
  display: block;
  width: 100%;
  &:focus,&:active {
    outline: none;
  }
}

.input-mobile {
  position: relative;
  .cf-input {
    padding-left: 40px;
  }
  &:before {
    color: $textColor;
    position: absolute;
    top:16px;
    left: 8px;
    content: '+91';
    display: inline-block;
  }
}
.select-input {
  position: relative;
  color: $textColor;
  margin-bottom: 10px;
  & .triangle {
    cursor: pointer;
    opacity: 0.6;
    z-index: 1;
    display: block;
    position: absolute;
    top:18px;
    right:10px;
    width: 16px;
    height: 16px;
    background: url('/static/img/global/ic_triangle_down.png') no-repeat center center transparent;
  }
  &.active .triangle {
    transform:rotate(180deg);
     -webkit-transform:rotate(180deg);
     -ms-transform:rotate(180deg);
     -o-transform:rotate(180deg);
     -moz-transform:rotate(180deg);
  }
  & > div {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    height: 54px;
    @mixin roundedCorners 3px;
    padding: 14px 10px 10px;
    & > span {
      color: #999;
    }
  }
  & ul {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #fff;
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top:100%;
    left:0;
    right: 0;
    z-index: 10;
  }
  & ul.dt li {
    padding:5px 10px;
  }
  & ul li {
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding:10px;
    &:hover {
      color: $orange;
    }
  }
  & ul li small {
    color:$lableColor;
  }
  &.active ul{
    display: block;
  }
}



/*sprite icons css*/

.why-sprite{
  margin: 0 auto 20px;
  display:block;
  background: url('/static/img/home/sprites/why-sprite.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.why-sprite.best-savings { background-position: -5px -0px; width: 120px; height: 120px; }
.why-sprite.hasslefree-claims { background-position: -130px -0px; width: 120px; height: 120px; }
.why-sprite.no-spam { background-position: -5px -125px; width: 120px; height: 120px; }
.why-sprite.secure-buy { background-position: -130px -125px; width: 120px; height: 120px; }
.why-sprite.swift-assistance { background-position: -5px -250px; width: 120px; height: 120px; }

.ic-insurance{
  display: inline-block;
  background: url('/static/img/global/ic-insurance.png') no-repeat;
  overflow: hidden; text-indent: -9999px;
  text-align: left;
}

.ic-insurance.ic-bike { background-position: -30px -0px; width: 20px; height: 20px; }
.ic-insurance.ic-car { background-position: -5px -25px; width: 20px; height: 20px; }
.ic-insurance.ic-health { background-position: -55px -25px; width: 20px; height: 20px; }
.ic-insurance.ic-home { background-position: -30px -50px; width: 20px; height: 20px; }
.ic-insurance.ic-travel { background-position: -5px -75px; width: 20px; height: 20px; }

/* new all insurer sprite css begin */
.ic-insurer-sm {
  display: inline-block;
  background: url('/static/img/home/sprites/insurer-logo-sprite-sm.png') no-repeat center center transparent;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.ic-insurer-sm.cigna { background-position: -0px -0px; width: 144px; height: 88px; }
.ic-insurer-sm.liberty { background-position: -0px -88px; width: 144px; height: 89px; }
.ic-insurer-sm.oriental { background-position: -0px -177px; width: 144px; height: 88px; }
.ic-insurer-sm.reliance { background-position: -0px -265px; width: 144px; height: 88px; }
.ic-insurer-sm.religare { background-position: -0px -353px; width: 144px; height: 88px; }
.ic-insurer-sm.universal { background-position: -0px -441px; width: 144px; height: 89px; }
.ic-insurer-sm.apollo { background-position: -0px -530px; width: 143px; height: 89px; }
.ic-insurer-sm.bajaj { background-position: -0px -619px; width: 143px; height: 88px; }
.ic-insurer-sm.bharti { background-position: -0px -707px; width: 143px; height: 88px; }
.ic-insurer-sm.chola { background-position: -0px -795px; width: 143px; height: 89px; }
.ic-insurer-sm.future { background-position: -0px -884px; width: 143px; height: 89px; }
.ic-insurer-sm.hdfc { background-position: -0px -973px; width: 143px; height: 88px; }
.ic-insurer-sm.icicilombard { background-position: -0px -1061px; width: 143px; height: 88px; }
.ic-insurer-sm.iffco { background-position: -0px -1149px; width: 143px; height: 88px;opacity:0.8; }
.ic-insurer-sm.landt { background-position: -0px -1237px; width: 143px; height: 88px; }
.ic-insurer-sm.maxbupa { background-position: -0px -1325px; width: 143px; height: 89px; }
.ic-insurer-sm.newindia { background-position: -0px -1414px; width: 143px; height: 88px; }
.ic-insurer-sm.star { background-position: -0px -1502px; width: 143px; height: 88px;opacity:0.9; }
.ic-insurer-sm.tata { background-position: -0px -1590px; width: 143px; height: 88px; }

/* new all insurer sprite css end */

.tabs > li.active > .ic-insurance,.select-input ul li:hover > .ic-insurance,.product-menu a:hover .ic-insurance {
  &.ic-car { background-position: -55px -0px; width: 20px; height: 20px; }
  &.ic-health { background-position: -30px -25px; width: 20px; height: 20px; }
  &.ic-home { background-position: -5px -50px; width: 20px; height: 20px; }
  &.ic-travel { background-position: -55px -50px; width: 20px; height: 20px; }
  &.ic-bike { background-position: -5px -0px; width: 20px; height: 20px; }
}

.insurer-logo{
  text-align: center;
  .insurer-logo__fullwrapper{
      text-align: center;
    label{
      color: #42B1FD;
      .insurer-more-logo{
        transition: opacity .5s ease-out;
        opacity: 0;
        height: 0;
      }
      input[type=checkbox] ~ .view-less{
        display: none;
      }
      input{
        display: none;
      }
      input[type=checkbox]:checked ~ .view-less{
        display: block;
      }
      input[type=checkbox]:checked ~ .view-more{
        display: none;
      }
      input[type=checkbox]:checked ~ .insurer-more-logo {
        margin: auto;
        opacity: 1;
        height: auto;
        transition: opacity .5s ease-out;
      }
    }
  }
}

.select-input ul li .ic-insurance {
  margin: -3px 10px 0 0;
  position: relative;
  top:0px;
  vertical-align: middle;
}

.product-menu a .ic-insurance {
  vertical-align: middle;
  margin:-3px 10px 0 0;
}


.ic-play {
  display: inline-block;
  background: url('/static/img/global/ic_play.png') no-repeat center center transparent;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.ic-play { background-position: -5px -0px; width: 72px; height: 50px; }
.video-article a:hover {
  & .ic-play {
    background-position: -5px -55px;
    width: 72px;
    height: 50px;
  }
}

.btn:disabled {
  opacity:0.6;
  cursor: not-allowed;
}

.heroes-video {
  background-color: color($baseDark b(8%));
  & .video-wrapper {
    position: relative;
    padding-top:56.25%;
    @media screen and (orientation:landscape) {
      width: 70%;
      padding-top: 39.25%;
      margin: 0 auto;
    }
  }
  & .hash {
    text-align: center;
    color: #fff;
    padding: 2px 0px 4px;
  }
  & .hero-vid {
    top:0;
    height:100%;
    width:100%;
    margin:0;
    display: block;
    position: absolute;
  }
}
a.neutral-link {
  color: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  &:hover,&:active,&:focus {
    color: inherit;
    text-decoration: underline;
  }
}
.promo-banner {
  background:url('/static/img/home/banners/floods-banner-mobile.jpg') no-repeat top center $baseDark;
  height: 102px;
  & a {
    display: block;
    height:102px;
  }
}

/* css for health tax modal popup */
.overflow-none {
  overflow: hidden;
}
.modal-overlay {
  visibility: hidden;
  opacity: 0;
  filter:alpha(opacity=0);
  z-index: -1;
  top:0;
  left:0;
  bottom: 0;
  right:0;
  position: fixed;
  background-color: $baseDark;
  overflow-x: hidden;
  overflow-y: auto;
  @mixin transition opacity,0.3s;
  &.active {
    visibility: visible;
    opacity: 1;
    filter:alpha(opacity=100);
    z-index: 1001;
  }
  .modal-content {
    @mixin transition;
    position: relative;
    margin: auto;
    width:100%;
    max-width: 320px;
    top:30px;
    transform:scale(0);
  }
  &.active .modal-content {
    transform:scale(1);
  }
  & .close-overlay {
    @mixin roundedCorners 3px;
    width: 90px;
    height: 30px;
    color: #fff;
    position: absolute;
    z-index: 1;
    background: url('/static/img/global/ic_close.png') no-repeat -15px center transparent;
    right: 20px;
    top:20px;
    padding-left: 35px;
    padding-top: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}
/* css for health tax modal popup end */
.flip-item{
    display: none;
}
/* Composite overrides */
.social-contacts {
    margin:60px 0 0;
    @media screen and (max-width: $break-point-sm) and (min-width: 0px) {
        text-align: left;
        & .address {max-width: none;}
    }
}