@import "_settings.css";
@import "_normalize.css";
/*@import "_bootstrap-grid.css";*/

/* This should go somewhere */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, button{
	font-family:$baseFont;
	color: $baseDark;
}

body{
	/*background-color: #E7EAEE;*/ /* removing this css effecting cms pages background colors */
}

.no-scroll{
	overflow: hidden;
}

@import "components/_reg_no_input.css";
@import "components/_buttons.css";
@import "components/_text_input.css";
@import "components/_multi_select.css";
@import "components/_lrcard.css";
@import "components/_modal.css";
@import "components/_calendar.css";
@import "components/_radio.css";
@import "components/_tabs.css";
@import "components/_checkbox.css";
@import './composites/_section-testimonials.css';
@import './composites/_section-press.css';
@import './composites/_how-it-works.css';
@import './composites/_section-videos.css';
@import './composites/_section-numbers.css';
@import './composites/_insurer-logos.css';
@import './composites/_disp-banner.css';
@import './components/_widget_components.css';
@import './composites/_content-style.css';

@import "bike.css";

.header-temp{
	height:100px;

}

.wrapper{
	position: relative;
    background-image: linear-gradient(0deg, #f5f6f7 0%, #D8DDE3 88%);

}


.hero{
	margin: auto;
	max-width: 960px;
	min-height:450px;
	p.hero_sub{
		text-align: center;

		span{
			font-weight: normal;
			display: inline-block;
			vertical-align: middle;
			font-size: 13px;
			a{
				text-decoration: none;
				color:$baseDark;
				&:hover{
					color:$light-blue;
				}
			}
			&.icon{
				margin-left:10px;
				margin-right:5px;
				line-height:1em;
				img{
					height:18px;
					width:18px;
				}
			}

		}
	}
	h1{
		font-size:26px;
		font-weight: 300;
		text-align: center;
		margin-bottom: 0;
		margin-top: 0;
		line-height:1.6em;
		&.hero_header{
			position: relative;
			height: 40px;
			.hero_header__content{
				position: absolute;
				left:0;
				top:0;
				width:100%;
			}
		}
	}
}

.infographic-widget{
	cursor: pointer;
	position: absolute;
	right:60px;
	bottom:80px;
	padding-left: 10px;
	@media screen and (max-width:1149px) {
		bottom:20px;
	}
	&:before{
		position: absolute;
		border:1px solid $light-blue;
		border-right:none;
		width:80px;
		height:80px;
		left:-5px;
		top:-20px;
		content:'';
	}
	&:after {
		position: absolute;
		border-top:20px solid $light-blue;
		border-bottom:10px solid $light-blue;
		width: 1px;
	    height: 80px;
	    left: 75px;
	    top: -20px;
	    content: '';
    }
	h3{
		position: relative;
		font-size: 12px;
		text-transform: uppercase;
		margin:0;
		line-height:24px;
		span{
			font-size: 24px;
			font-weight: 300;
		}
	}
	p{
		position: relative;
		font-size: 12px;
		color: rgba(48,68,80,0.50);
		margin-left:35px;
		margin-bottom: 0;
		padding-bottom: 4px;
	}
}


.widget-nav{
	padding:0;
	text-align: center;
	margin-top:60px;
	line-height: 1em;
	overflow: hidden;
	margin-bottom: 20px;
	li{
		display: inline-block;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	margin:0 22px;
    	cursor: pointer;
    	font-size: 14px;
    	@mixin transition all, 0.3s;
		&.active,&:hover {
			color: $orange;

		}
	}
}



/*Form Row*/

.form-row{
	display: block;
	text-align: center;
	padding:30px 0;
	width: 700px;
	margin:0 auto;
	position: relative;
	background-color:transparent;
	&.first{
		padding-top:0;
	}
}

.bike_expired_dropdown{
	width:300px;
	margin-right:0;
	text-align:left;
	vertical-align: bottom;
	.w--multi_select_dd .w--multi_select_dd_element{
		font-size: 13px;
		position: relative;
		cursor: pointer;
		padding: 10px 42px;
		@mixin transition all 0.4s;
		&.selected{
			background: transparent;
			&:before{
				background-color: $baseDark;
			}
			&:after{
				transform:translateY(-50%)scale(1);
				opacity: 1;
			}
		}
		&:after{
			position: absolute;
			content: '';
			width:6px;
			left:20px;
			top:50%;
			transform:translateY(-50%)scale(2);
			opacity: 0;
			height:6px;
			background-color:#fff;
			border-radius:10px;
			@mixin transition all 0.4s;
		}
		&:before{
			position: absolute;
			content: '';
			width:14px;
			left:16px;
			top:50%;
			transform:translateY(-50%);
			height:14px;
			border:1px solid $baseDark;
			border-radius:20px;
		}
	}
    .w--multi_select_handle{
    	border-bottom-left-radius: 0px;
    	border-top-left-radius: 0px;
    	font-size: 16px;
    	border:none;
    	background: #fff;
    	@mixin cardLightShadow;
    	height:55px;
    	.dd_placeholder{
    		color: rgba(49,68,81,0.7);
    		font-size: 14px;
    	}
    }
}
.bike_expiry_selector {
	margin:0;
	padding:0 15px;
	position:relative;
	.w--radio__label {
    	display: none;
	}
	.w--radio__options {
		width:100%;
		padding-left:20px;
	}
	.w--radio__option {
		display:block;
		margin:15px 0;
	}
	.error-label {
		position: absolute;
    	bottom: -25px;
    	width: 100%;
    }
}

.car_expired_dropdown{
	width:300px;
	text-align:left;
	vertical-align: bottom;
	position: relative;
	display: inline-block;
	border-radius: 3px;
    cursor: pointer;
    @mixin transition;
    border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	font-size: 14px;
	border:none;
	background: #fff;
	@mixin cardLightShadow;
	height:55px;
	position: relative;
	.car_expired_dropdown__handle{
		padding: 18px 40px 14px 12px;
		height:55px;
	}
	&:hover{
		background: rgba(0,0,0,0.01);
	}
	.placeholder {
		opacity: 0.7;
	}
	.muted {
		opacity: 0.4;
	}
	.w--error { font-size:12px;}
    .car_expired_dropdown__arrow{
    	/*border-color: rgb(153, 153, 153) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	    border-style: solid;
	    border-width: 9px 7px 0;
		width:0;
		height:0;*/
	    width:16px;
	    height:9px;
	    background:url('/static/img/icons/icon-dd.png') no-repeat center center transparent;
	    content: " ";
	    display: block;
	    position: absolute;
	    right: 10px;
	    top: 43%;
    }
    .car_policy_details{

    	.car_policy_details__ncbitem{
		    padding: 15px 18px;
		    border-top: 1px solid rgba(0,0,0,0.1);
		    border-bottom: 1px solid rgba(0,0,0,0.1);
		    background: rgba(231, 234, 238, 0.43);
		    &:last-child{
		    	border-bottom: 0;
		    }
		    .w--radio{
		    	margin-bottom: 0;
		    }
		    .w--radio .w--radio__label{
				width: 100%;
		    }
		    .w--radio__options{
				width: 100%;
				margin-left: 20px;
    			margin-top: 8px;
		    }
    	}


		.car_policy_details__item{
			font-size: 13px;
			position: relative;
			cursor: pointer;
			padding: 10px 42px;
			&.selected{
				&:before{
					background-color: $baseDark;
				}
				&:after{
					transform:translateY(-50%)scale(1);
					opacity: 1;
				}
			}
			&:after{
				position: absolute;
				content: '';
				width:6px;
				left:20px;
				top:50%;
				transform:translateY(-50%)scale(2);
				opacity: 0;
				height:6px;
				background-color:#fff;
				border-radius:10px;
				@mixin transition all 0.4s;
			}
			&:before{
				position: absolute;
				content: '';
				width:14px;
				left:16px;
				top:50%;
				transform:translateY(-50%);
				height:14px;
				border:1px solid $baseDark;
				border-radius:20px;
			}
		}
	}
	.label_minimised {
    	font-size: 10px;
    	text-transform: uppercase;
    	margin-top: -8px;
    	letter-spacing: 1px;
    	position:relative;
    	opacity: 0.7;
	}
}



.w--reg_no_input_minimal{
	border:none;

	.w--text_input{
		margin-bottom: 0;

		.w--text_input--label{
			top: 18px;
			left: 12px;
			&.w--text_input--label-minimized{
				position: absolute;
			    font-size: 10px;
			    text-transform: uppercase;
			    top: 10px;
			    left: 12px;
			    letter-spacing: 1px;
			}
		}
		.error-label{
			position: absolute;
			bottom: -28px;
		}
		input{
			text-align:left;
			font-size: 16px;
			height:22px;
			text-align: left;
			width: 353px;
			background: #fff;
			@mixin cardLightShadow;
			border-radius:3px;
			border-bottom-right-radius: 0px;
		   	border-top-right-radius: 0px;
		   	padding: 23px 12px 6px 12px;
		   	height:55px;
		   	@mixin transition;
		   	&:hover{
		   		background-color: rgba(0,0,0,0.01);
		   	}


		}
		hr{
			display: none;
		}
	}


}

/* widget for member drop down */
.w--member_select {
	position: relative;
	width:100%;
	cursor: pointer;
	display: inline-block;
	.member_select_handle {
		height:55px;
	    position: relative;
	    @mixin roundedCorners 3px;
	    @mixin transition;
	    /*border: 1px solid rgba(49,68,81,.4);*/
	    padding:23px 25px 0px 12px;
	    text-align:left;
	    border: none;
	    background: #fff;
		@mixin cardLightShadow;
	    &:hover {
			background-color:rgba(0,0,0,0.03);
		}
	}
	.label_full {
		margin-top:-5px;
		color:rgba(49, 68, 81, 0.7);
	}
	.label_minimised {
    	font-size: 10px;
    	text-transform: uppercase;
    	top: 10px;
    	left: 12px;
    	letter-spacing: 1px;
    	position: absolute;
    	opacity: 0.7;
	}
	.member_select_icon {
		font-weight:300;
		position: absolute;
    	font-size: 30px;
    	opacity:0.4;
    	right: 8px;
    	top: 25px;
    	line-height: 0em;
    }

	.member_select_dd{
		position: absolute;
		width: 100%;
		min-width:300px;
		background: #fff;
		border-radius:3px;
		padding:20px 30px;
		@mixin cardHeavyShadow;
		z-index:300;
		@mixin transition;
		transform: scaleY(0);
		opacity:0;
		transform-origin: 1% 1%;
		top:0;
		font-size: 13px;
		text-align:center;
		cursor:default;
		&.reveal{
			transform: scaleY(1);
			opacity:1;
			z-index: 1;
		}
		.w--error {
			padding-bottom:0;
		}
	}
	.group-btn {
		text-align:center;
		.w--button {
			margin:0px 5px;
			min-width:100px;
		}
		.w--button--link {
			color:$baseDark;
		}
	}
	.m-list{
		cursor:default;
		text-align: left;
		margin:20px 0;
		.w--button--link {
			text-align: left;
			outline: none !important;
			padding: 0;
			margin-top:10px;
			font-size:13px;
		}
	}
	.m-list__header {
		opacity:0.5;
		& > span {
			display: inline-block;
			text-transform: uppercase;
			font-size: 10px;
			width: 50%;
			padding-right:5px;
			letter-spacing: 1px;
			vertical-align:top;
		}
	}
	.m-list__data {
		text-align:left;
		position:relative;
		margin:10px 0;
		&.has-focus {
			color: $baseDark;
		}
		& .w--error {
			padding:5px 0 0;
		}
	}
	.m-list__data__label,
	.m-list__data__field,
	.m-list__data__checkbox {
		display: inline-block;
		vertical-align:top;
	}
	.m-list__data__label {
		width:40%;
		margin-top:6px;
	}
	.m-list__data__checkbox,.m-list__data__field {
		width:60%;
		position: relative;
	}
	.m-list__data__remove {
		cursor: pointer;
    	position: absolute;
    	right: 0;
    	top: 5px;
    	font-size: 12px;
    	line-height: 1em;
    	padding: 2px 4px;
    	border: 1px solid rgba(49,68,81,0.2);
    	border-radius: 3px;
    	&:hover,&:active {
    		border-color:rgba(49,68,81,0.4);
    	}
    }
	.action_add_member {
		position:absolute;
		top:50%;
		right:0;
		margin-top:-8px;
		.add_link,.add_count {
			display: inline-block;
			vertical-align:middle;
			text-align:center;
		}
		.add_count {
			width:30px;
			color:$baseDark;
		}
		.add_link {
			width:16px;
			height:16px;
			font-size:20px;
			line-height:13px;
			cursor:pointer;
			border:1px solid rgba(49,68,81,.4);
			color:rgba(49,68,81,.4);
			@mixin roundedCorners 3px;
			&:hover,&:active,&:focus {
				border-color:$light-blue;
				color:$light-blue;
			}
		}
	}
	/* hiding number spinners for moz and webkit */
	input[type=number] {
		-moz-appearance: textfield;
	}
	input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none;}
	input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none;}
}


/* travel form components */
.w--travel_form {
	max-width:670px;
	margin:auto;
	& .w--error {
		font-size:12px;
	}
	& > div {
		display: inline-block;
		vertical-align: top;
		text-align:left;
	}
	& .modal_header {
		text-align:center;
		margin-top:0;
	}
	.cf-modal {
		cursor:default;
		overflow:hidden;
		overflow-y:auto;
	}
	.cf-modal__content {
		max-width:450px;
		text-align:center;
		padding-left:30px;
		padding-right:30px;
	}
}
.multi_country_dropdown,.multi_trip_select,.travel_trip_duration,.traveller_age_select {
	.w--multi_select {
		width:100%;
		margin:0;
		vertical-align:top;
	}
	.w--multi_select_handle{
    	border-radius: 0px;
    	height: 55px;
    	border: none;
	    background: #fff;
		@mixin cardLightShadow;
    }
    .dd_placeholder {
    	font-size:14px;
    	opacity:0.7;
    }
}
.multi_trip_select {
	width:265px;
	.w--multi_select_handle {
		border-bottom-left-radius: 3px;
    	border-top-left-radius:3px;
	}
}
.travel_trip_duration {
	width:140px;
}
.traveller_age_select {
	width:120px;
	.w--multi_select_handle {
		border-bottom-right-radius: 3px;
    	border-top-right-radius:3px;
	}
}
.multi_country_dropdown {
	width:300px;
	.w--multi_select_handle {
		border-bottom-left-radius: 3px;
    	border-top-left-radius:3px;
    	min-height:55px;
    	height:auto;
	}
    .w--multi_select_dd {
    	top:100%;
    }
    .selected_items {
    	font-size:12px;
    	margin-top:5px;
    }
    &:not(.is_selected) .selected_items {
    	margin-top:-6px;
    }
    .select-item-count {
    	margin:0 4px 4px 0;
    	display:inline-block;
    	vertical-align:middle;
    }
    .select-item {
    	background-color: rgba(194, 200, 207, 0.48);
    	color: rgba(49,68,81,0.7);
    	display: inline-block;
    	padding-left:5px;
    	@mixin roundedCorners 2px;
    	margin: 0 4px 4px 0;
    	vertical-align:middle;
    }
    .select-item-icon {
		display: inline-block;
    	padding: 0 4px;
    	margin-left: 5px;
    	text-transform: uppercase;
    	font-size: 10px;
    	border-left: 1px solid rgba(0,0,0,0.05);
	}
    .remove-all {
    	display: inline-block;
    	opacity: 0.7;
    	border: 1px solid;
    	border-radius: 3px;
    	padding: 1px 3px;
    	line-height: 1em;
    	font-size: 11px;
    }
    .w--multi_select_keyword {
    	display:inline-block !important;
    	vertical-align:middle;
    	line-height: 0;
    	margin:0 0 4px;
    	& > input[type=text]{
    		display: inline-block;
		    padding: 0;
		    border:none;
		    background: transparent;
		    height: 16px;
		    margin: 0;
		    outline: 0;
		    line-height: 1em;
		    font-size:inherit;
    	}
    }
}

.travel_date_picker,.travel_date_select {
	.w--calendar {
		margin:0;
		vertical-align:top;
		max-height:55px;
	}
	.w--calendar_handle {
		text-align:left;
		vertical-align: top;
		display: inline-block;
		width: 100%;
    	padding: 23px 12px 0px 12px;
    	height: 55px;
    	/*border-top: 1px solid rgba(49,68,81,.4);
		border-bottom: 1px solid rgba(49,68,81,.4);*/
		border: none;
	    background: #fff;
		@mixin cardLightShadow;
	}
	.label_minimised {
		font-size: 10px;
    	text-transform: uppercase;
    	top: 10px;
    	left: 12px;
    	letter-spacing: 1px;
	}
}
.travel_date_select {
	width:140px;
	.label_full {
		margin-top:-5px;
	}
}
.travel_date_picker {
	width: 235px;
	position: relative;
	.w--calendar_handle {
		text-align:left;
		width: 50%;
		padding: 23px 12px 0px 12px;
	}
	.w--calendar_dd.dd-top-0{
		top:0;
	}
	.w--calendar_handle.left {
		padding-right:14px;
	}
	.w--calendar_handle.right {
		padding-left:18px;
		.label_minimised {
			left:19px;
		}
	}
	.w--calendar_edit {display: none;}
	.w--calendar_arrow {
		position: absolute;
    	height: 55px;
    	top: 0;
    	left: 50%;
    	font-size: 20px;
    	padding-top: 26px;
    	margin-left: -8px;
    	line-height: 0;
    	background-color: #fff;
    	z-index: 1;
    	color: rgba(49, 68, 81, 0.4);
    }
    /*.label_minimised { display:none;}*/
	.label_full {
		color:rgba(49, 68, 81, 0.7);;
    	text-align:center;
    	margin-top:-5px;
	}
	& .trip_active {
		@mixin roundedCorners 3px;
		background: linear-gradient(270deg, #4d60ff, #4cb9e4);
		color: #fff;
		padding: 0px 4px;
   	 	margin: -5px -5px 0;
   	 	text-align:center;
	}
}
.calendar-trip {
	background-color: #fff;
    padding-top:16px;
    text-align: center;
    font-size: 12px;
    height:55px;
}
.calendar-trip__label {
	display: inline-block;
	padding:3px 8px;
	vertical-align: middle;
	letter-spacing: 1px;
	@mixin roundedCorners 10px;
	&.active {
		background-color: $light-blue;
		color: #fff;
	}
}
.calendar-trip__arrow {
	padding: 0px;
    opacity: 0.4;
    display: inline-block;
    margin: 0 20px;
    vertical-align: middle;
    font-size: 20px;
    line-height: 1em;
}


.travel_info_selector {
	margin:30px 0 -30px;
	width:100%;
	& .w--error {
		padding:0;
	}
	& .w--radio__label {
		width:auto;
		margin-right:25px;
		font-size:13px;
		vertical-align:middle;
	}
	& .w--radio__options {
		width: auto;
		vertical-align: middle;
		margin-right:-30px;
	}
	& .grey_label {
		color: rgba(49,68,81,0.7);
		font-size:13px;
		vertical-align: middle;
    	display: inline-block;
    }
	& .w--multi_select {
		vertical-align: middle;
		width:200px;
	}
	& .w--multi_select_handle {
		height: 55px;
	}
	& .w--radio__label, .grey_label{
		min-width: 220px;
    	width: 220px;
    }
	& p {
		font-size: inherit;
	}
	& > div {
		display: inline-block;
		width:100%;
		vertical-align:top;
	}
	& .column-2 {
		width:50%;
		margin-bottom:10px;
		padding-left:12px;
		position: relative;
		&:nth-child(2){
			padding-left:20px;
			.w--radio__label {
				width:190px;
				min-width:190px;
			}
		}
		&:nth-child(2):before {
			content: '';
    		position: absolute;
    		width: 1px;
    		height: 30px;
    		left:12px;
    		top: -5px;
    		background-color:rgba(49,68,81,.4);
		}
	}
}
.nri_block {
	border-top: 1px dotted rgba(49,68,81,.4);
	padding:15px 12px 0px;
	& > div {
		margin-bottom:15px;
	}
}


/* traveller select utility */

.traveller_select {
	width: 135px;
	.member_select_handle {
		border-top-left-radius:0px;
		border-bottom-left-radius:0px;
	}
	.member_select_dd{
		right:0;
	}
	input{
		background: transparent;
		padding:6px 10px 3px;
		border:none;
		border-bottom:1px solid rgba(49,68,81,.4);
		width: 100%;
		min-width: 100%;
		color:$baseDark;
		&:focus{
			outline:none;
		}
	}
}

/* health form css */
.w--health_form {
	& > div {
		display:inline-block;
		vertical-align:top;
		text-align:left;
	}
	& .w--error {
		font-size:12px;
		padding-bottom:0;
		padding-left:0;
	}
	& .modal_header {
		text-align:center;
		margin-top:0;
	}
	.cf-modal {
		cursor:default;
		overflow:hidden;
		overflow-y:auto;
	}
	.cf-modal__content {
		max-width:400px;
		text-align:center;
		padding-left:30px;
		padding-right:30px;
	}
}
.health_member_select {
	width: auto;
    max-width: 360px;
    min-width: 250px;
    display:inline-block;
	vertical-align:top;
    .member_select_handle {
		border-radius:0;
		padding-right:28px;
	}
	.p-label {
		margin-bottom:10px;
	}
    .m-list {
    	margin-top:25px;
    }
}
.health_gender_select,.health_supertopup_dropdown {
	.w--multi_select {
		width:100%;
		margin-right:0;
	}
	.w--multi_select + .w--error {
    	margin-top:-5px;
    }
	.w--multi_select_handle {
		height: 55px;
    	border: none;
	    background: #fff;
		@mixin cardLightShadow;
   	}
   	.dd_placeholder {
   		color: rgba(49,68,81,0.7);
   	}
}

.health_gender_select{
	width:135px;
	.w--multi_select_handle {
    	border-top-right-radius: 0;
    	border-bottom-right-radius: 0;
    }
}

.health_contact_fields {
	width: 100%;
    max-width: 570px;
    margin:30px -8px -20px;
    & > div {
    	display:inline-block;
    	width: 50%;
    	vertical-align:top;
    	padding:0 8px;
    }
}

/* super top-up/pincode form fields width/settings */
.health_pincode_dropdown{
	width:300px;
	text-align:left;
	vertical-align:top;
	position: relative;
	display: inline-block;
	position: relative;
	.health_pincode_dropdown__handle{
		position: relative;
		height:55px;
		padding: 18px 25px 14px 12px;
		cursor: pointer;
		@mixin transition;
		border-radius: 3px;
    	border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
		font-size: 14px;
		border:none;
		background: #fff;
		@mixin cardLightShadow;
	}
	&:hover{
		background: rgba(0,0,0,0.01);
	}
	.placeholder {
		opacity: 0.7;
	}
	.muted {
		opacity: 0.4;
	}
    .health_pincode_dropdown__arrow{
    	font-weight: 300;
    	position: absolute;
    	font-size: 30px;
    	opacity: 0.4;
    	right: 8px;
    	top: 25px;
    	line-height: 0em;
    }
	.label_minimised {
    	font-size: 10px;
    	text-transform: uppercase;
    	margin-top: -8px;
    	letter-spacing: 1px;
    	position:relative;
    	opacity: 0.7;
	}
	.pincode_fields {
		padding:15px 15px 0;
		& > div {
			padding-bottom:5px;
		}
	    & .w--error {
	    	padding:0;
	    	text-align:left;
	    	margin:-5px -10px 0 0;
	    }
	    & .w--button {margin-top:10px;}
	}
}
.health_supertopup_dropdown,.health_pincode_dropdown {
	width:205px;
	.w--multi_select_handle {
    	border-top-left-radius: 0;
    	border-bottom-left-radius: 0;
    }
}
.health_supertopup_dropdown {
	.dd_placeholder {
		margin-left:-3px;
	}
}
/* super top up form fields width/settings end */
.health_pincode_field{
	border:none;
	.w--text_input{
		margin-bottom: 0;

		.w--text_input--label{
			top: 18px;
			left: 12px;
			&.w--text_input--label-minimized{
				position: absolute;
			    font-size: 10px;
			    text-transform: uppercase;
			    top: 10px;
			    left: 12px;
			    letter-spacing: 1px;
			}
		}
		.error-label{
			position: absolute;
			bottom: -28px;
		}
		input{
			text-align:left;
			font-size: 16px;
			height:22px;
			text-align: left;
			width:100%;
			background: #fff;
			@mixin cardLightShadow;
			border-radius:3px;
			border-bottom-left-radius: 0px;
		   	border-top-left-radius: 0px;
		   	padding: 23px 12px 6px 12px;
		   	height:55px;
		   	@mixin transition;
		   	&:hover{
		   		background-color: rgba(0,0,0,0.01);
		   	}
		}
		hr{
			display: none;
		}
	}
}

/* multi_select sleek for health dropdowns */
.w--multi_select.sleek {
		width:100%;
		font-size:13px;
		text-align:left;
}
.w--multi_select.sleek .w--multi_select_handle {
	width:100%;
	padding-top: 6px;
	height: 30px;
}
.w--multi_select.sleek .label_show {
	display:none;
}
.w--multi_select.sleek + .w--error {
	padding:0;
}


/* term life form css */
.w--term_form {
	.w--error {
    	font-size: 12px;
    	padding-bottom:0;
    	padding-left:0;
	}
}
.term_contact_fields {
	margin:30px -8px -20px;
	display:inline-block;
	max-width:610px;
	width:100%;
	text-align:left;
	& > div {
		display:inline-block;
    	width: 50%;
    	vertical-align:top;
    	padding:0 8px;
	}
	& .w--error {
		padding:0;
	}
}
.term_gender_select,.term_age_select,.term_income_select,.term_smoking_select {
	display:inline-block;
	vertical-align:top;
	text-align:left;
	& .w--multi_select {
		width:100%;
		margin:0;
		vertical-align:top;
	}
	& .w--multi_select_handle{
		border-radius: 0px;
    	min-height: 55px;
    	border: none;
	    background: #fff;
		@mixin cardLightShadow;
    }
    & .w--multi_select_handle .dd_placeholder {
    	color: rgba(49,68,81,0.7);
    	font-size: 14px;
	}
}
.term_gender_select {
	width:130px;
	.w--multi_select_handle {
    	border-bottom-left-radius: 3px;
    	border-top-left-radius: 3px;
	}
}
.term_age_select {
	width:115px;
}
.term_income_select {
	width:190px;
}
.term_smoking_select {
	width:180px;
	.w--multi_select_handle {
    	border-bottom-right-radius: 3px;
    	border-top-right-radius: 3px;
	}
}

/* cf_modal for travel and health separate forms */
.cf-modal__content.full_bg {
	background-color: rgba(231, 234, 238, 0.5);
    width: 100%;
    padding: 100px 15px 50px;
    margin: 0;
    box-shadow: none;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: auto;
    & > .cf-modal__close {
		height:35px;
		width:35px;
		background-position:center center;
		@mixin roundedCorners 50%;
		&:hover {
			background-color:rgba(0,0,0,0.05);
		}
	}
}


/* homepage sections css theme */
.block--home {
  border: none;
  padding:70px 0 60px;
  @media screen and (min-width: 0px) and (max-width: $screen-width-xs) {
      padding: 40px 0 30px;
  }
  h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 15px;
  @media screen and (min-width: 0px) and (max-width: $screen-width-xs) {
      font-size:28px;
      margin: 0;
    }
  }
  h5.sub-hdr{font-size:16px;color:rgba(49,68,81,0.8);}
  &.block--grey {
    background-color: $grey-2;
  }
}

.w--spinner.loader{
	margin: 140px auto;
}

.cms-form-content{
	/* margin: 50px 0;
 	background-color: #E7EAEE;
	h1{
		font-size:26px;
		font-weight: 300;
		text-align: center;
		margin-bottom: 0;
		margin-top: 0;
		&.hero_header{
			position: relative;
			height: 40px;
			.hero_header__content{
				position: absolute;
				left:0;
				top:0;
				width:100%;
			}
		}
	} */
}

/*temp*/

.hero{
	padding:30px 0;
}
.widget_space{
	position: relative;
	min-height: 200px;/* previously 300px */
}
.slide-from-right-enter {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  transform: translate3d(10%, 0, 0);
  opacity: 0;
  z-index:20;
}

.slide-from-right-enter.slide-from-right-enter-active {
  transform: translate3d(0, 0, 0);
  @mixin transition;
  opacity: 1;
}


.slide-from-right-leave {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index:19;
}

.slide-from-right-leave.slide-from-right-leave-active {
  transform: translate3d(-10%, 0, 0);
  opacity: 0;
  @mixin transition;
}

.form-field-fallback{
	position: relative;
	display: inline-block;
	.fallback_links{
		left: -15px;
	}
}

.fallback_links{
	position: absolute;
    left: 10px;
    margin-top: 0px;
    z-index: 1;
    &.push_down{
    	margin-top:18px;
    }
    .w--button--link{
    	font-size: 12px;
    	&:active,&:focus {
    		outline:none;
    	}
    }
}
.error-label{
	font-size: 12px;
    color: rgb(255, 0, 0);
    margin-top: 3px;
    line-height:1.4em;
}


.modal_back_arrow {
	color:$baseDark;
	position: absolute;
	top :10px;
	left:20px;
	font-size: 28px;
	line-height:1em;
	cursor:pointer;
	&:before {
		content: '';
    	display: block;
    	border: 1px solid transparent;
    	position: absolute;
    	width: 34px;
    	height: 34px;
    	@mixin roundedCorners 3px;
    	top:1px;
    	left: -3px;
	}
	&:hover,&:focus,&:active {
		text-decoration: none;
		&:before {
			border-color:$grey-2;
		}
	}
}
.modal_header{
	text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin:10px 0;
    &--title {
    	background-color:$grey-2;
    	padding:4px 10px;
    	line-height:1.2em;
    	@mixin roundedCorners 10px;
    	display:inline-block;
    	margin:0 0 15px;
    }
    &--muted {
    	opacity: 0.7;
    	display: inline-block;
    	text-transform: none;
    	letter-spacing: 0;
    	line-height: 1.6em;
    	margin:0 0 20px;
    }
    &--hr {
    	position: relative;
    	margin:20px;
    	text-align:center;
    	& > span {
    		background: #fff;
    		padding: 5px 10px;
    		position: relative;
    	}
    	&:before {
    		border-bottom: 1px solid rgba(49,68,81,0.4);
    		content: '';
    		position: absolute;
    		top: 50%;
    		height: 1px;
    		margin-top: -1px;
    		width: 100%;
    		left: 0;
    	}
    }
    &--nav {
    	position:relative;
    	margin-bottom:0;
    	& .modal_back_arrow {left:40px;top:-12px;}
    }
    & + &--hr {
    	margin-top:5px;
    }
}
.modal_header--hero {
   	font-size: 26px;
    font-weight: 300;
    text-align: center;
    margin: 0 auto 30px;
    max-width: 960px;
    line-height:1.4em;
}
.cf-modal--popup .modal_footer {
    font-size: 12px;
    padding: 15px;
    opacity: 0.6;
    border-top: 1px solid rgba(0,0,0,0.1);
    background: rgba(231, 234, 238, 0.43);
    margin-top: 15px;
}

.quote-so {
	position: absolute;
    bottom: 100%;
    width: 100%;
    left: 0;
    margin-bottom:10px;
    text-align:left;
    & > div {
    	display:inline-block;
    	width:50%;
    	vertical-align:bottom;
    	position:relative;
    	padding:0 50px 0 12px;
   		&:nth-child(2) {
   			border-left:1px solid rgba(49,68,81,0.2);
   		}
    }
}
.w--button.quote-so__edit {
	position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -10px;
    font-size: 10px;
    padding: 2px 5px;
    cursor: pointer;
}
.quote-so__key {
	font-size:11px;
	opacity:0.5;
	text-transform:uppercase;
	margin-bottom:3px;
}
.quote-so__value {
	font-size:12px;
	text-overflow: ellipsis;
  	white-space: nowrap;
  	overflow: hidden;
}
.vehicle_selected_header {
	margin:0 0 10px;
	font-size:16px;
	& > span {
		display:inline-block;
		margin-right:8px;
		margin-bottom:5px;
	}
}
/* css for modal types/cases */
.modal-open {
	overflow: hidden;
}
.cf-modal__content.modal--alert {
	width:auto;
	max-width:350px;
	color:rgba(49,68,81,0.7);
	font-size:12px;
	&--error {
		.modal--alert__header {
			color: #f00;
		}
	}
	p {
		font-size:inherit;
		line-height:inherit;
		margin-bottom:15px;
	}
	.w--button {
		font-size:12px;
	}
	.button--primary {
		min-width: 150px;
    	margin: 0 auto 10px;
    	display: block;
	}
}
.modal--alert__header {
	font-size: 16px;
	margin:15px 0;
	color:$baseDark;
}
.modal--alert__footer {
	margin-top:20px;
}
/* end css for modal types/cases */

/* rupee symbol css */
.rupee_icon {
	position: relative;
    height: 0.8em;
    width: 0.58em;
    display: inline-block;
    top: -0.1em;
    overflow: hidden;
    vertical-align: middle;
    background:url('/static/img/global/rupee-sp.png') no-repeat transparent;
    background-position: top center;
    background-size:100%;
    text-indent:100em;
    color:transparent;
    font-size:inherit;
    &--white,&.active {
    	background-position: bottom center;
    }
}
/* rupee symbol css */

/* five key points modal carousel */
.fivekey-carousel__content {
	min-height:250px;
	padding:10px 50px 10px 100px;
	h4 {
		font-size: 16px;
    	font-weight: 700;
    	margin: 10px 0;
    	position: relative;
	}
	h4 > i {
		font-style:normal;
		font-weight:normal;
		position: absolute;
		left:-50px;
		top:0;
		font-size:30px;
		opacity:0.7;
	}
	p{
		color: rgba(49,68,81,0.7);
    	font-size: 14px;
    	line-height: 1.6em;
    	max-width: 550px;
    	margin: auto;
    }
}
.fivekey-carousel__img{
	overflow:hidden;
	border-radius:10px 10px 0 0;
	background-color:$grey-2;
	img {max-width:100%;}
	@media screen and (min-width:$screen-width-xs) {
		min-height:319px;
	}
}
.fivekey-b-arr, .fivekey-f-arr{
	position: absolute;
	top: 50%;
    margin-top: -25px;
	left: -70px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background: url('/static/img/global/arrow-l.png') no-repeat center center #fff;
	z-index:1;
	@mixin roundedCorners 50%;
	@mixin transition;
	@mixin cardBaseShadow;
	&:hover {
		@mixin cardHeavyShadow;
	}
	@media screen and (max-width:659px) {
		display:none;
	}
}
.fivekey-f-arr{
	left:auto;
	right: -70px;
	background-image: url('/static/img/global/arrow-r.png');
}
@media screen and (max-width:$screen-width-xs) {
	.fivekey-f-arr {
		right:-25px;
	}
	.fivekey-b-arr {
		left:-25px;
	}
}
.fivekey-close{
	position: absolute;
	right: 27px;
	top: 13px;
}
.fivekey-sec {
 	@mixin roundedCorners 10px;
 	@mixin cardBaseShadow;
	max-width: 600px;
	margin:auto;
	width:100%;
	padding:0;
	position:relative;
 	.item {
		@mixin roundedCorners 10px;
		background-color:#fff;
	}
	@media screen and (min-width:767px){
        .owl-pagination{
            display: none;
        }
    }
    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span{
        background: $green;
    }
}
.fivekey-modal {
	.cf-modal__content {
		background-color: rgba(231, 234, 238, 0.5);
    	width: 100%;
    	padding: 60px 15px 0;
    	margin: 0;
    	box-shadow: none;
    	height: 100%;
    	position: absolute;
    	left: 0;
    	top: 0;
    	overflow-y: auto;
	}
}
/* five key points modal carousel end */

/* css for car fast lane starts */

.car_prefilled_data {
    padding: 20px 0 0;
    background:rgba(255,255,255,0.05);
    border-bottom: none;
    max-width: 652px;
    margin: 28px auto 0;
    height: 54px;
    text-align: left;
    padding-left: 164px;
    padding-top: 15px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.20), 0 -2px 3px 0 rgba(0,0,0,0.03);
    border-radius: 3px 3px 0 0;
}

.car_info {
    width: 160px;
    display: inline-block;
    text-align: left;
    font-size: 12px;
    vertical-align: top;
    position: relative;
    margin-right: 28px;
    &:first-child:after{
        content: "";
        position: absolute;
        right: 0;
        top:5px;
        height: 23px;
        border-right: 1px solid #ccc;
    }
}
.car_info__label,.car_info__data{
    display: block;
}
.car_info__label{
    opacity: .64;
    font-size: 10px;
}
.w--multi_select{
    margin-right: 0;
}
.car_form_header{
    h2{
        font-size:24px;
        margin:15px 0 3px;
        font-weight:300;
    }
    span{
        display: block;
        opacity: 0.45;
    }
}
.car_name_dropdown, .car_fuel_dropdown, .car_variant_dropdown{
    vertical-align: top;
    display: inline-block;
    .w--multi_select_handle{
        text-align:left;
        font-size: 14px;
        height:22px;
        text-align: left;
        background: #fff;
        @mixin cardLightShadow;
        border-radius:3px;
        padding: 30px 24px 17px 15px;
        height:64px;
        @mixin transition;
        border: none;
        &:hover{
            background-color:rgb(229, 233, 237);
        }
    }
    .w--error{
        text-align:left;
        line-height: 1.4em;
    }
    .w--multi_select_header{
        opacity: .64;
        font-size: 10px;
        text-align: left;
    }
    .w--multi_select_dd {
        .w--multi_select_dd_element {
            text-align: left;
        }
    }
    .label_show{
        left: 15px;
        top: 18px;
    }
}
.car_name_dropdown{
    width: 251px;
    .w--multi_select_handle {
    	border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
    }
}
.car_fuel_dropdown{
    width: 211px;
    .w--multi_select_handle {
    	border-radius: 0px;
    }
}
.car_variant_dropdown{
    width: 237px;
    .w--multi_select_handle {
    	border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;

    }
    .selected_items{
                white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.input_field_wrapper{
    text-align: center;
    margin-top: 30px;
    & > div{
        display: inline-block;
        max-width: 210px;
        width: 100%;
        margin: 0 25px;
        vertical-align: top;
        &:last-child{
            width: 190px;
        }
    }
    input{
        padding-bottom: 5px;
    }
    .w--text_input--label-full{
        white-space: nowrap;
    }
}
.status_label{
    margin-bottom: 10px;
    display: inline-block;
    opacity: .45;
}

/* css for car fast lane ends */