@import '_settings-humanlly.css';
@import '_bootstrap-full.css';
@import '_mixins.css';
@import "composites/_kb_styles.css";
@define-mixin fullWidthBackgroundImg $defaultBgColor: $baseDark{
  background-size: 100%;
  background-repeat:no-repeat;
  background-position:center center;
  background-color: $defaultBgColor;
}
body,html {
  background-color:$grey-2;
  color:$baseDark;
}
.tab-pane {
  background-color: #fff;
}
#tab-box { border: 1px solid #ddd;  margin-top: -1px;}

/* employee-details */
.employee-details { margin: 10px 0px 30px 0px !important; }
.employee-details > tbody > tr > td:nth-of-type(1),
.employee-details > tbody > tr > td:nth-of-type(3) { background:$grey-2; max-width: 15px; font-weight: bold; }

/* section-box */
.section-box { margin-bottom: 20px;}
.section-box h2 { background:$baseDark;color:#fff; margin: 0px 0px 15px; padding: 10px; font-size: 18px; text-align: center;}

/* project-list */
.project-list-1 { display: block; background:$grey-2; margin-bottom: 15px;}
.project-list-1 aside { float: left;}
.project-list-1 aside:first-child { display: table; width: 18%;  padding:8px;}
.project-list-1 aside:first-child strong { display: table-cell; vertical-align: middle; text-align:left;}
.project-list-1 aside:last-child { width: 82%; background: #fff;}
.project-list-1 aside:last-child > table.table-bordered > tbody > tr > td { width: 20%;}
.project-list-1 aside:last-child > table.table-bordered > tbody > tr > td:first-child { width: 40%;}

.yes-no { text-align: left;position:relative;padding-left:26px !important;}
.yes-no:hover,
.yes-no.active { background-color:$grey-1 !important;cursor:pointer;}
.yes-no--radio_ip {
  display: inline-block;
  margin-right: 6px;
  width: 15px;
  height: 15px;
  border: 1px solid #bbb;
  border-radius: 50%;
  top: 10px;
  left:5px;
  position: absolute;
  line-height: 0em;
}
.yes-no:hover .yes-no--radio_ip {
  border-color:$orange;
}
.yes-no.active .yes-no--radio_ip:before {
  position: absolute;
  top:2px;
  left:2px;
  content: '';
  display: inline-block;
  width: 9px;
  border-radius: 100%;
  height: 9px;
  background-color:$orange;
}



/*
 * Position Classes
 */
.p-relative {
  position: relative !important;
}
.p-absolute {
  position: absolute !important;
}
.p-fixed {
  position: fixed !important;
}
.p-static {
  position: static !important;
}
/*




/*
 * Generate Margin Class
 * margin, margin-top, margin-bottom, margin-left, margin-right
 */
.m-0 {
  margin: 0px !important;
}
.m-t-0 {
  margin-top: 0px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-l-0 {
  margin-left: 0px !important;
}
.m-r-0 {
  margin-right: 0px !important;
}
.m-5 {
  margin: 5px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-15 {
  margin: 15px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-l-20 {
  margin-left: 20px !important;
}
.m-r-20 {
  margin-right: 20px !important;
}
.m-25 {
  margin: 25px !important;
}
.m-t-25 {
  margin-top: 25px !important;
}
.m-b-25 {
  margin-bottom: 25px !important;
}
.m-l-25 {
  margin-left: 25px !important;
}
.m-r-25 {
  margin-right: 25px !important;
}
.m-30 {
  margin: 30px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.m-l-30 {
  margin-left: 30px !important;
}
.m-r-30 {
  margin-right: 30px !important;
}
/*
 * Generate Padding Class
 * padding, padding-top, padding-bottom, padding-left, padding-right
 */
.p-0 {
  padding: 0px !important;
}
.p-t-0 {
  padding-top: 0px !important;
}
.p-b-0 {
  padding-bottom: 0px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}
.p-r-0 {
  padding-right: 0px !important;
}
.p-5 {
  padding: 5px !important;
}
.p-t-5 {
  padding-top: 5px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-r-5 {
  padding-right: 5px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-15 {
  padding: 15px !important;
}
.p-t-15 {
  padding-top: 15px !important;
}
.p-b-15 {
  padding-bottom: 15px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.p-l-20 {
  padding-left: 20px !important;
}
.p-r-20 {
  padding-right: 20px !important;
}
.p-25 {
  padding: 25px !important;
}
.p-t-25 {
  padding-top: 25px !important;
}
.p-b-25 {
  padding-bottom: 25px !important;
}
.p-l-25 {
  padding-left: 25px !important;
}
.p-r-25 {
  padding-right: 25px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-b-30 {
  padding-bottom: 30px !important;
}
.p-l-30 {
  padding-left: 30px !important;
}
.p-r-30 {
  padding-right: 30px !important;
}
.basic-form {
    background-color: #fff;
    width: 700px;
    border-radius: 5px;
    border: 1px solid #dadada;
    padding: 20px;
    margin: 50px auto;
}
.profile-card--thumb,.employee-card--thumb {
  width: 100%;
  padding-top:70%;
  @mixin fullWidthBackgroundImg;
}
.profile-card {
  border: 0;
  @mixin cardBaseShadow;
  &:hover {
    @mixin cardHoverShadow;
  }
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.page-footer {
  border-top:1px dashed rgba(0,0,0,0.3);
  margin: 30px 0 0;
}
.page-footer--infos {
  border: 1px solid $baseDark;
  display: inline-block;
  float: right;
  padding: 7px 30px;
  font-size: 12px;
  margin-top: 20px;
}
.employee-card {
  margin:0 0 40px;
  background-color: #f9f9f9;
  @mixin cardBaseShadow;
  padding:0 15px;
}
.employee-card--side {
  padding-top:20px;
  padding-bottom:20px;
  h4 {
    font-size: 24px;
    text-align:center;
    margin:15px 0 0;
    font-weight: 300;
  }
}
.employee-card--main {
  min-height: 500px;
  padding:20px 30px;
  background-color: #fff;
  border-left:1px solid rgba(0,0,0,0.1);
}
@media (min-width: 768px) {
.dl-sm dd {
    margin-left:120px;
  }
.dl-sm  dt {
    text-align: left;
    width: 120px;
  }
}
@media (max-width: 767px) {
  .profile-card--wrapper {
    display: inline-block;
    min-width: 200px;
    max-width: 250px;
    width: 30%;
  }
}

/* edit profile form css */
.edit-form  {
  background-color: #fff;
  padding:42px 32px;
  margin: 20px 0 40px;
  @mixin cardBaseShadow;
  @mixin roundedCorners 3px;
  label { display:block;  }
  textarea.form-control { margin-bottom:15px; }
  input[type='file'] {
    padding: 5px;
    margin: 15px 0;
    display: inline-block;
    background-color: $grey-2;
    font-size: 12px;
  }
}
.intro-header {
  font-weight: 300;
  letter-spacing: 1px;
}
/* holidays css begins */
.list-card {
  background-color: #fff;
  padding:22px 32px 42px;
  margin: 20px auto;
  max-width: 660px;
  @mixin cardBaseShadow;
  @mixin roundedCorners 3px;
  @media screen and (max-width: 767px) {
    background-color:transparent;
    box-shadow: none !important;
    padding:0;
  }
}
.list-card__header {
  font-size: 16px;
  text-transform: uppercase;
  margin:0px 0 15px;
  color:#999;
}
.list-card__item {
  font-size: 13px;
  padding:8px 0;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  &.lapsed {
    pointer-events:none;
    color:#aaa;
    background-color: $grey-2;
  }
  @media screen and (max-width: 767px) {
    background-color:#fff;
    padding: 8px 10px;
    color: #999;
  }
}
.list-card__item > div {
  display: inline-block;
  padding:0 5px;
  min-width: 20%;
  vertical-align: middle;
  &:first-child {
    width:45%;
  }
  @media screen and (min-width: 767px){
    &.list-card__item__single {
      padding:5px 10px;
      border:1px solid #eaeaea;
    }
  }
  @media screen and (max-width: 767px) {
    display:block;
    &:first-child {
      width:100%;
      padding-right: 60px;
      color:$baseDark;
      margin-bottom: 5px;
    }
  }
}
.list-card__item__action {
  text-align: center;
  position: absolute;
  right: 5px;
  top:5px;
  width:auto;
  min-width: auto !important;
  @media screen and (max-width: 767px) {
    position:absolute;
    top:12px;
  }
}
.list-card__item--header {
  font-weight: bold;
  text-transform: uppercase;
}
.list-card__item:last-child {
  margin-bottom:20px;
  border: none;
}
.list-card__form input[type='text'] {
  display: block;
    max-width: 30 0px;
    padding: 5px 10px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #dadada;
    border-radius: 4px;
}
.list-card__form .errorlist {
  list-style-type: none;
  padding:0 5px;
  margin: 0;
  display: inline-block;
  font-size: 12px;
  color: #ff0000;
}
/* holidays css ends */
/* info-list css*/
.info-list__header {
  color:#999;
  text-transform: uppercase;
  font-size: 11px;
  margin: 10px 0;
  & >.glyphicon {
    color:$orange;
    font-size: 13px;
    margin-right:10px;
  }
}
.info-list__items {
  list-style-type: none;
    padding: 10px 10px 10px 10px;
    margin: 0 0 30px;
    max-height: 200px;
    border: 1px solid #dadada;
    overflow: auto;
  & > li {
    border-bottom: 1px dotted #aaa;
    padding-bottom: 3px;
    margin-bottom: 10px;
    font-size: 12px;
    position: relative;
    &:last-child {
      margin-bottom:0px;
      border-bottom: none;
    }
  }
  & > li > .name {
    display: block;
    padding-right:100px;
  }
  & > li > .type {
    color: #999;
    font-size: 0.9em;
  }
  & > li > .date {
    position: absolute;
    top:0px;
    right:5px;
    color: $orange;
    font-weight: 700;
  }
}