@import "_settings.css";
@import "_mixins.css";
@import "_homeform.css";
@import "form.css";
$break-point-sm: 991px;
$break-point-md:1199px;
$break-point-xs:767px;

body
{
    background: #efeff4;
    color: #404040;
    font-size: 14px;
    position: relative;
}


@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.leaflet-details
{
    position: relative;
    width: 100%;
    margin: 50px auto 0;
    padding: 0px 30px;
    background-color: #30363b;
    text-align: center;
    color: #fff;
    img 
    {
        margin: 30px 0 20px;
    }
    .leaflet-details--header
    {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        padding: 10px;
        border-bottom: 1px solid #979797;
        display: inline-block;
    }
    p
    {
        margin: 20px 0px 10px;
        color: #afb1b3;
        display: inline-block;
    }
    .leaflet-details--benefits
    {
        max-width: 327px;
        margin: 0 auto;
        text-align: left;
        font-size: 15px;
        color: #e3e3e3;
        img 
        {
            margin: 10px 20px 10px 0px;
            vertical-align: middle;
        }
        .each-benefits
        {
            .each-benefits--text
            {
                display: inline-block;
                width: 80%;
                vertical-align: middle;
            }
        }
    }
    .leaflet-details--more-benefits
    {
        max-width: 333px;
        margin: 10px auto 15px;
        text-align: left;
        font-size: 13px;
        color: #e3e3e3;
        padding-bottom: 30px;
        img 
        {
            margin: 10px 20px 10px 0px;
            vertical-align: middle;
        }
        .more-benefits
        {
            padding: 5px;
            border-bottom: 1px solid rgba(27,33,37,.7);
            .more-benefits--text
            {
                display: inline-block;
                width: 80%;
                vertical-align: middle;
            }
        }
        .more-benefits:last-child
        {
            border:none;
        }
        .condition
        {
            font-size: 11px;
            display: inline-block;
            margin-top: 10px;
        }
    }

}
.insurence-easy{
   background-color: #30363b;
   padding: 25px;
   text-align: center;
   color: #e3e3e3;
}
.insurence-easy__heading{
    font-size: 18px;
    text-transform: uppercase;
}
.insurance-easy__logo{
    margin: 25px 0;
    text-align: center;
    img{
        max-width: 134px;
    }
    p{
        font-size: 14px;
        margin: 10px 0 0;
        text-transform: uppercase;
    }
}
.insurence-easy__list{
    margin: 0;
    padding: 0;
    li{
        display: inline-block;
        list-style: none;
        width: 19%;
        max-width: 60%;
        font-size: 10px;
        line-height: 1.2em;
        vertical-align: top;
        text-transform: uppercase;
        i{
            height: 30px;
            display: block;
            margin: auto auto 5px;
        }
        img{
            max-width: 24px;
        }
    }
}
.insurance-easy__button{
    margin: 35px 0 0;
    a{
        padding: 10px 40px;
        border:1px solid #e3e3e3;
        color:#e3e3e3;
        text-transform: uppercase;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        font-size: 10px;
        &:hover, &:active, &:focus{
            background-color:rgba(255,255,255,0.1);
            text-decoration: none;
            outline: none;
        }
    }
}
.insurance-easy__note{
    border:1px dashed #30363b;
    padding: 15px;
    font-size: 12px;
    color:#404040;
    line-height: 1.6em;
    margin-top: 15px;
    a{
        text-decoration: none;
    }
}
.login
{
	position: relative;
    width: 100%;
    margin: 50px auto;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    .submit-div
    {
        text-align: center;
        margin-top: 10px;
        button
        {
        	width: auto;
        	margin-top: 20px;
        	font-size: 16px;
        	outline: none;            
            .spinner {
              text-align: center;
                > div
                {
                    width: 10px;
                    height: 10px;
                    background-color: #fff;
                    border-radius: 100%;
                    display: inline-block;
                    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
                    animation: bouncedelay 1.4s infinite ease-in-out;
                    /* Prevent first frame from flickering when animation starts */
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                }
               .bounce1
                {
                  -webkit-animation-delay: -0.32s;
                  animation-delay: -0.32s;
                }

                .bounce2
                {
                  -webkit-animation-delay: -0.16s;
                  animation-delay: -0.16s;
                }
            }
        }
        a
        {
            text-decoration: none;
        }
    }
    .row
    {
    	margin: 0;
        padding: 24px 48px;
    	.col-sm-12, .col-sm-8, .col-sm-6, .col-sm-4
    	{
    		.input-text 
    		{
    			input
    			{
    				width: 100%;
    				margin-bottom: 10px;
    			}
                &.rsa-cal
                {
                    input
                    {
                        background-image: url('/static/img/rsa-policy-form-cal.png');
                        background-repeat: no-repeat;
                        background-position: right;
                    }
                }
            }
    	}
        &.leaffield
        {
            background-color: #fff;
            @mixin cardBaseShadow;
            h3, h6
            {
                font-weight: 400;
                margin-top: 24px;
            }
            h6
            {
                letter-spacing: 1px;
                margin-top: 20px;
                font-weight: 700;
                padding: 0px 15px;
            }
            .col-sm-12, .col-sm-8, .col-sm-6, .col-sm-4
            {
                .input-text 
                {
                    label
                    {
                        left: 0;
                    }
                    input, select
                    {
                        border: 0;
                        border-radius: 0;
                        border-bottom: 1px solid rgba(49,68,81,0.3);
                        padding-left: 0;
                        box-shadow: none;
                    }
                    .note
                    {
                        font-size: 13px;
                        color: #7d8991;
                    }
                    .error
                    {
                        margin-top: -8px;
                        max-width: 100%;
                    }
                    &.rsa-cal
                    {
                        .cal-label
                        {
                            margin-top: -10px;
                            font-size: 12px;
                        }
                    }
                }
                .cf-select-dd
                {
                    margin-bottom: 10px;
                    label
                    {
                        visibility: visible;
                        opacity: 1;
                        top:12px;
                        left: 0;
                    }
                    .select2-container 
                    {
                        .select2-choice
                        {
                            border: 0;
                            padding-left: 0;
                            border-radius: 0;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                            .select2-arrow
                            {
                                top: -6px;
                            }
                            & > .select2-chosen
                            {
                                position: relative;
                                top: 10px;
                            }
                        }
                    }
                }
                .error
                {
                    margin-top: -8px;
                    max-width: 100%;
                }
            }
        }
        &.mt30
        {
            margin-top: 30px;
        }
    }
    #id_city_error
	{
		color: red;
		font-size: 14px;
		display: none;
	}
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog 
{
    .modal-body
    {
        max-width: 320px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        #close-modal
        {
            margin-left: 15px;
            font-size: 16px;
            padding: 10px 15px;
        }
    }
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .leaflet-details
    {
        display: none;
    }
    .login
    {
        .row
        {
            padding: 24px 35px;
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
    .leaflet-details
    {
        .leaflet-details--benefits
        {        
            margin-bottom: 20px;
            .each-benefits
            {
                img 
                {
                    margin-right: 0px;
                }
                text-align: center;
                .each-benefits--text
                {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 360px) {
    .login
    {
        .row
        {
            padding: 24px 16px;
        }
    }
}

.note{
  margin-top: -10px;
  opacity: 0.8;
}

.card-separator-note{
  padding:20px;
  padding-bottom: 10px;
  text-align: center;
  opacity: 0.8;
}

.mt20{
  margin-top: 20px;
}
.uppercase{
  text-transform: uppercase;
}

.lowercase{
  text-transform: lowercase;
}

.empty-btn-orange {
    color: rgb(255, 112, 76);
    border: 1px solid rgb(255, 112, 76);
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
    background: rgba(0, 0, 0, 0);
    padding: 5px 10px;
    &:hover{
        background-color: #efeff4;
        text-decoration: none;
        color: rgb(255, 112, 76);
    }
}
