@import "_settings.css";
@import "_normalize.css";
@import "_mixins.css";
@import "_typography.css";
@import "components/_widget_components.css";

.w--life{
	.mobile_no_container > span {
		top:13px;
	}
	.age-input {
		float:left;
		max-width: 250px;
		padding-left:15px;
		label {
			display: inline-block;
			margin-right: 10px;
			margin-bottom: 0;
			min-width: 70px;
		}
		& input {
			display: inline-block;
			max-width: 140px;
		}
	}
	.w--error {
		padding: 5px 0px;
		font-size: 12px;
	}
	& label {
			display: inline-block;
	  		font-weight: 400;
	    	font-size: 14px;
	    	margin-bottom: 5px;
	}
	.w--button{
		margin:30px 0;
		&.centered{
			margin: 30px auto 15px;
		}
		display: block;
		margin-bottom: 15px;
		&.back_button{
			margin-top: 0;
			border: none;
    		padding: 0;
			margin-bottom: 10px;
			&:hover{
				background:transparent;
				color:$baseDark;
			}
		}
	}
	.w--button--large{
		font-size: 24px;
    	padding: 15px 40px;
	}
	.w--button--empty.w--button--orange{
		border: none;
		padding:0;
		margin-top:0px;
		&:hover{
			color:$baseDark;
		}
	}

	h5{
		margin-bottom: 10px!important;
	}

	h5, h6{
		text-align: center;
	}
	h6{
		font-size: 14px;
    	opacity: 0.6;
    	margin-bottom: 20px;
	}
	.input_wrapper {	  
		& input {
			width: 100%;
			padding-top: 12px;
			padding-bottom: 12px;
			border: 1px solid rgba(49,68,81,.3);
	    	outline: none;
		}
	}

	.label-inline label, .label-inline .controlgroup {
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 0;
		min-width: 60px;
	}
	.label-inline .controlgroup {
		position: relative;
		top: 7px;
		left: 10px;
	}
	.age-input input[type=number]::-webkit-inner-spin-button, 
	.age-input input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0; 
	}
	.w--button:disabled {
	    opacity: .6;
	    cursor: not-allowed;
	}
}


