@import "_settings.css";
@import "_mixins.css";
@import "./components/_buttons.css";
@import "./composites/_product-topbar.css";

body{
}

body,html{
    font-family: $baseFont;
    background-color: $grey-2;
}
.bounding-box {
    margin: 100px auto 0px;
    max-width: 900px;
}
.bounding-box > h3 {
    margin: 20px 0;
    font-size:20px;
}

.bounding-box .infmn-card {
    @mixin cardBaseShadow;
    padding:20px;
    position:relative;
    margin:10px 0px 0px;
    background-color:#ffffff;
    @mixin roundedCorners 3px;
}
.bounding-box div.infmn {
    padding:45px 25px 1px;
    border:1px dashed #cacaca;
    position:relative;
    margin:20px 0px 10px;
}

.bounding-box .form-hdr {
    position: relative;
    padding:15px 0px 15px 10px;
    background: $grey-2;
    text-align:left;
    color: $baseDark;
}

.bounding-box #number-widget {
    text-align:left;
}
.bounding-box #time-widget .time-table th {
    text-align:center;
    width:100px;
    color:$orange;
    font-size:12px;
    text-transform:uppercase;
    padding:8px 2px;
    vertical-align: middle;
}
.bounding-box #time-widget .time-table td {
    cursor:pointer;
    font-size: 12px;
}
.bounding-box #widget-box .complete{
    border: 2px dashed #cae6ce;
    text-align:center;
    margin:20px 0px 10px;
    padding:10px;
}
.bounding-box #widget-box .error-field {
    color:red;
    font-size:12px;
    margin-top:5px;
    display: inline-block;
}
.bounding-box #widget-box .complete .highlight {
    font-size:30px;
    color:#ff9f6e;
}
.bounding-box .cover-infm {
    padding:10px;
    border:1px dashed #cae6ce;
    position:relative;
    margin:10px 0px 10px;
}
.bounding-box .spl-table tbody {
    vertical-align:top;
}
.bounding-box #time-widget {
    background: $grey-2;
    text-align:left;
    padding:15px 20px 1px;
    position:relative;
    margin-bottom:15px;
    @media screen and (max-width:600px) {
        background: transparent;
        padding:0px;
    }
}
#number-widget label {
    font-weight:normal;
    margin-bottom:5px;
}
.bounding-box #time-widget .time-table td:hover,
.bounding-box #time-widget .time-table td.active {
    background-color:$orange;
    color:#ffffff;
}
.bounding-box #widget-box {
    margin-top:20px;
}
.bounding-box #widget-box .complete{
    border: 2px dashed #cae6ce;
    text-align:center;
    margin:20px 0px 10px;
    padding:10px;
}
.bounding-box #widget-box .complete .highlight {
    font-size:30px;
    color:#ff9f6e;
}

.bounding-box #time-widget .time-table .frozen :hover,
.bounding-box #time-widget .time-table .frozen {
    color: #999999;
    background-color: #ffffff;
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: line-through;
}
.m-b-5{
    margin-bottom: 5px;
}
.ui-autocomplete-input {
    width: 220px;
}
ul.ui-autocomplete {
    background-color:white;
    list-style:none;
    z-index:10;
    width: 220px;
    padding:0px;
    margin:0px;
}
ul.ui-autocomplete li {
    border-bottom:1px solid #DDDDDD;
    padding:3px;
    width:220px;
}
ul.ui-autocomplete li.ui-state-focus {
    background-color: #EEEEEE;
}
.message {
    font-size: 25px;
    margin: 30px;
    text-align: center;
    color: #444444;
}