@import "_settings.css";
@import "_normalize.css";
@import "_mixins.css";
@import "_typography.css";
@import "components/_buttons.css";
@import "components/_reg_no_input.css";
@import "components/_text_input.css";
.car-product{
	background: $grey-2;
}

.w--tooltip{
	.w--tooltip_handle{
		color:$orange;
		border:1px solid $orange;
		padding: 5px 10px;
    	line-height: 100%;
    	border-radius: 50%;
	}
	.w--tooltip_popup{
		position: absolute;
		width: 220px;
		background: $baseDark;
		color:#fff;
		bottom:100%;
		left:50%;
		transform: translate3d(-50%, 10%, 0);
		opacity: 0;
		visibility: hidden;
		@mixin transition;
		padding:12px;
		border-radius: 3px;
		font-size: 12px;
		z-index: 20;

	}
	&:hover{
		.w--tooltip_popup{
			transform: translate3d(-50%, -8%, 0);
			opacity: 1;
			visibility: visible;
		}
	}
}
.w--car{
	.w--button{
		margin:30px 0;
		&.centered{
			margin: 30px auto 15px;
		}
		display: block;
		margin-bottom: 15px;
		&.back_button{
			margin-top: 0;
			border: none;
    		padding: 0;
			margin-bottom: 10px;
			&:hover{
				background:transparent;
				color:$baseDark;
			}
		}
	}
	.w--button--large{
		font-size: 24px;
    	padding: 15px 40px;
	}
	.w--button--empty.w--button--orange{
		border: none;
		padding:0;
		margin-top:0px;
		&:hover{
			color:$baseDark;
		}
	}

	h5{
		margin-bottom: 10px!important;
	}

	h5, h6{
		text-align: center;
	}
	h6{
		font-size: 14px;
    	opacity: 0.6;
    	margin-bottom: 20px;
	}

}

/*TODO Move this to a separate file*/
.w--calendar{
	position: relative;
	cursor: pointer;
	display: inline-block;
	margin-right:15px;
	&.w--calendar-column-2{
		.w--calendar_dd{
			width: 582px;
		}

	}
	.label_minimised{
		position: absolute;
		font-size: 12px;
		opacity: 0.7;
		top:3px;
		left:12px;
	}
	.label_full{
		display: none;
	}
	.w--calendar_edit{
	    position: absolute;
	    right: 10px;
	    top: 50%;
	    transform: translate3D(0,-50%,0);
	    color:$orange;
	    border:1px solid $orange;
	    font-size: 12px;
    	padding: 0 3px;
    	text-transform: uppercase;
    	border-radius: 3px;
    	line-height: 18px;
	}
	.w--calendar_handle{
	    position: relative;
	    border-radius: 3px;
	    border: 1px solid rgba(49,68,81,.3);
	    padding: 19px 65px 6px 12px;
	    min-width: 180px;

	}
	.w--calendar_month{
		display: inline-block;
	}
	.w--calendar_month_header{
		background: $grey-2;
		padding: 10px 60px;
	}
	.w--calendar_month_table{
		padding: 10px 30px;
	}
	.w--calendar_dd{
		position: absolute;
		top:100%;
		background: #fff;
		border-radius:3px;
		padding:0px;
		@mixin cardHoverShadow;
		z-index:300;
		@mixin transition;
		transform: scale(0);
		opacity:0;
		transform-origin: 0% 0%;
		.w--calendar_prev, .w--calendar_next{
			@mixin transition;
			position: absolute;
		    left: 12px;
		    top: 6px;
		    background: transparent;
		    border-radius: 20px;
		    padding: 4px 7px;
		    &:hover{
		    	background: rgba(204, 204, 204, 0.52);
		    }
		}
		.w--calendar_next{
			right:12px;
			left:auto;
		}
		&.reveal{
			transform: scale(1);
			opacity:1;
			z-index: 100;
		}
		table{
			th{
				background: shade($orange, 5%);
			}
			td{
				text-align: center;
			    padding: 5px 8px;
    			border-radius: 20px;
				&:hover{
					background:$grey-2;
				}
			}
		}
	}
}
.w--multi_select{
	position: relative;
	cursor: pointer;
	display: inline-block;
	margin-right:15px;
	.label_minimised, .label_full{
		position: absolute;
		font-size: 12px;
		opacity: 0.7;
		top:3px;
		left:12px;
	}
	.label_minimised.minwid + div {
		min-width: 65px;
	}
	.label_full{
		opacity: 0.2;
	}
	.w--multi_select_handle{
	    position: relative;
	    @mixin roundedCorners 3px;
	    border: 1px solid rgba(49,68,81,.3);
	    padding: 19px 40px 6px 12px;

	}

	.w--multi_select_dd{
		position: absolute;
		top:100%;
		width: 100%;
		background: #fff;
		border-radius:3px;
		padding:0px;
		@mixin cardHoverShadow;
		z-index:300;
		@mixin transition;
		transform: scale(0);
		opacity:0;
		transform-origin: 0% 0%;
		.w--multi_select_dd_element{
			display: block;
			padding: 5px 10px;
			font-size: 12px;
			&:hover{
				background:$grey-2;
			}
		}
		input{
			background: $grey-2;
			padding:10px;
			border:none;
			border-bottom:1px solid rgba(0,0,0,0.1);
			width: 100%;
    		min-width: 100%;
			&:focus{
				outline:none;
			}
		}
		&.reveal{
			transform: scale(1);
			opacity:1;
			z-index: 1;
		}
	}
	.w--multi_select_options{
		width:100%;
		max-height: 300px;
		overflow:hidden;
		overflow: auto;
	}
	.w--multi_select_arrow{
		border-color: rgb(153, 153, 153) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	    border-style: solid;
	    border-width: 9px 7px 0;
	    content: " ";
	    display: block;
	    height: 0;
	    position: absolute;
	    right: 10px;
	    top: 43%;
	    width: 0;
	}
}

.w--error{
	color: rgb(255, 0, 0);
    padding: 10px;
    margin: 0;
    font-weight: normal;
}

.w--label{
	margin-top: 24px;
    margin-bottom: 11px;
    display: block;
    opacity: 0.7;
    display: inline-block;
    &.flg{
    	font-size: 18px;
    }

}

.w--radio_input{
	display: inline-block;
	input[type="radio"] {
	    display:none;
	}
	input[type="radio"] + label {
	    font-size:14px;
	    cursor: pointer;
	    &:hover{
	    	color:$orange;
	    }
	}
	input[type="radio"] + label span.radio_handle {
	    display:inline-block;
	    width:20px;
	    height:20px;
	    margin:-1px 4px 0 0;
	    vertical-align:middle;
	    cursor:pointer;
	    -moz-border-radius:  50%;
	    border-radius:  50%;
	}

	input[type="radio"] + label span.radio_handle {
	     border:1px solid $baseDark;
	     &:hover{
	    	border-color:$orange;
	     }
	}

	input[type="radio"]:checked + label span.radio_handle{
		position: relative;
		 &:before{
		 	position: absolute;
		 	content:'';
		 	width:14px;
		 	height:14px;
		 	border-radius:50%;
		 	background-color:$orange;
		 	top:2px;
		 	left:2px;
		 }

	}

	input[type="radio"] + label span.radio_handle,
	input[type="radio"]:checked + label span.radio_handle {
	}

	.w--radio_input_item{
		display: inline-block;
    	margin-left: 10px;
	}
	.w--radio_error{
		position: absolute;
	    background: rgb(255, 0, 0);
	    color: rgb(255, 255, 255);
	    font-size: 12px;
	    padding: 0px 9px;
	    border-radius: 3px;
	}
}

.w--button{
	font-size: 14px;
	padding:10px 15px;
	@mixin roundedCorners;
	@mixin transition;
	display: inline-block;
	&:empty{
		display:none;
	}
}

.w--button--orange{
	background: $orange;
	color:#fff;
	border: 1px solid color($orange shade(5%));
	&:hover, &:active{
		background:color($orange shade(5%));
		text-decoration: none;
		color:#fff;
	}
}

.w--button--empty{
	background: transparent;
	border: 1px solid $baseDark;
	color: $baseDark;
	&:hover, &:active{
		background:$grey-2;
		color: $baseDark;
		text-decoration: none;
	}
	&.w--button--orange{
		color:$orange;
		border: 1px solid color($orange shade(5%));
		&:hover, &:active{
		}
	}
}

.w--button--thin{
	padding:5px 10px;
}

.w--spinner {
  width: 70px;
  text-align: center;
}

.w--spinner.narrow{
  width:48px;
}

.w--spinner > div {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  background-color: $baseDark;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.w--spinner.white > div{
  background: #fff;
}

.w--spinner.orange > div{
  background: $orange;
}

.w--spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.w--spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



/* Custom styles for the widget */
.expired_label{
	margin-top:10px;
}
.secondary_button{

}
.car_selector_header, .car_selector_row{
	display: block;
	text-align: left;
	vertical-align: top;
}
.car_selector_header{
	padding-right: 15px;
}

.car_selector_row{
	border-radius:3px;
	.w--error {
		padding-bottom: 0;
	}
}
.cng_value_input{
	margin-top:30px;
	input{
		padding:5px 10px;
		font-size:16px;
		margin-top:12px;
		border-radius: 3px;
		border:1px solid rgba(0,0,0,0.1);
	}
}
.car_selector_row, .claims_selector_row, .expiry_date_selector_row, .ncb_selector_row{
}
.expiry_date_selector_row{
	margin-top:30px;
	.w--calendar{
		margin:0;
		.w--calendar_handle{
			background: #fff;
			@mixin cardBaseShadow;
			border:none;
			text-align: left;
		}
	}
}

.ncb_selector_wrapper{
	text-align: left;
	@mixin cardBaseShadow;
	background: #fff;
	width:236px;
	border-radius: 3px;
	position: relative;
	padding-right: 50px;

	.w--tooltip{
		position: absolute;
    	right: 12px;
    	top: 13px;
    	.w--tooltip_popup{
    		text-align: left;
    		line-height: 150%;
    	}
	}
}

.ncb_selector_row{
	margin-top:20px;
	.w--multi_select{
		margin:0;
		outline: none;
		.w--multi_select_handle{
			border:none;
			text-align: left;
		}
	}
}

.ncb_dropdown{
	.w--multi_select_handle{
		min-width:136px;
	}
}

.input_wrapper{
	margin-bottom:0px;
	input{
		 padding: 10px;
	    width: 236px;
	    border-radius: 3px;
	    border: 1px solid rgba(0,0,0,0.1);
	}

}

.reg_header{
	position: absolute;
    top: -34px;
    text-align: center;
    width: 100%;
}

.reg_no_wrapper{
	width:425px;
	margin:0 auto;
	text-align: left;
	margin-top:50px;
	position: relative;
	.w--reg_no_input{
		width:100%;
		border: none;
		input{
			text-align: left;
			padding: 23px 16px 10px;
    		height: 65px;
			background: rgba(0, 0, 0, 0);
			&:focus{
				background: rgb(239, 239, 244);
			}
		}
		& .w--error{
            position: static;
            padding: 10px 10px 0;
            margin: 0;
            font-weight: normal;
            font-size: 13px;
        }
	}
	.w--text_input  {
		margin-bottom: 0;
		@mixin cardBaseShadow;
		background: #fff;
		height:65px;
		border-radius: 3px;
		.w--text_input--label {
			top: 23px;
    		left: 16px;
		}
		.w--text_input--label-minimized {
			top:9px;
		}
		hr {display: none;}
	}
	.w--tooltip{
		position: absolute;
    	right: 16px;
    	top: 22px;
	}

}




.car_selector_dd{
	width: 75%;
	&.w--multi_select .w--multi_select_handle{
		border:none;
		border-radius:0px;
		border-bottom:1px solid rgba(0,0,0,0.1);
		padding: 22px 40px 12px 12px;
	}
	.label_minimised, .label_full{
		text-transform: uppercase;
		top:7px;
		font-size: 10px;
		letter-spacing: 1px;
	}
}

.showErrors{
	    padding: 5px 13px;
    color: rgb(255, 0, 0);
}

.w--car_summary, .w--car_form{
	float: left;
}
.w--car_form{
	&.boxed{
		@mixin cardBaseShadow;
		background: #fff;
		padding:20px;
		border-radius:3px;
	}
	&.centered{
		text-align: center;
	}

}
.car_model_summary{
	span.variant{
		font-size:12px;
		opacity: 0.6;
		line-height: 15px;
    	display: block;
	}
}
.summary_item_wrapper{
	display: inline-block;
	text-align: left;
	padding:10px;
	/*border:1px solid rgba(0,0,0,0.1);*/
	position: relative;
	padding-right:60px;
	width: 215px;
    margin-left: -25px;
   @media screen and (min-width: 0px) and (max-width: 991px) {
	  display:block;
	}
	&:hover{
		cursor: pointer;
		background:#fff;
		@mixin cardBaseShadow;
		@mixin transition;
		border-color:transparent;
	}
	.summary_item_label{
		font-size: 10px;
		text-transform: uppercase;
		opacity: 0.5;
		line-height: 12px;
	}
	.summary_item_value{

	}
	.summary_item_edit{
		position: absolute;
	    right: 10px;
	    top: 50%;
	    transform: translate3D(0,-50%,0);
	    color: $orange;
	    border: 1px solid $orange;
	    font-size: 12px;
	    padding: 0 3px;
	    text-transform: uppercase;
	    border-radius: 3px;
	    line-height: 18px;
	}
}

.mobile_no_container{
	position: relative;
	& > span{
		position: absolute;
		top: 11px;
        left: 10px;
	}
	input{
		padding-left: 40px;
	}
}
.edit-txt{
	position: absolute;
    top: 15px;
    right: 39px;
    font-size: 11px;
    color: $orange;
    border: 1px solid $orange;
    font-size: 12px;
    padding: 0 3px;
    text-transform: uppercase;
    @mixin roundedCorners 3px;
    line-height: 18px;
}
.cng_lpg_input {
	width:75%;
	margin-top: 15px;
	.w--text_input input {
		padding-left: 10px;
	}
	.w--text_input--label {
		margin-left: 10px;
	}
	.w--text_input--label.w--text_input--label-minimized {
		font-size: 10px;
	}
	.error-label {
		padding: 7px 0 0 10px;
	}
}
.claims_selector_row {
	.w--error {
		padding:0;
	}
}
.mobile_number_input_wrapper {
	.error-label {
		padding-top:7px;
	}
}