@import "_settings.css";
@import "_mixins.css";
@import "./components/_buttons.css";

.success-header{
	max-width: 318px;
    margin: 50px auto 0;
    text-align: center;
    color: #314451;
    ul{
    	margin: 0;
    	padding: 0;
    	li{
    		background: url('/static/img/icons/ps-tick.png') no-repeat left top transparent;
            list-style-type: none;
            padding-left: 72px;
            padding-top:5px;
            font-size: 24px;
            height: 70px;
            text-align: left;
            span{
            	text-align: left;
            	font-size: 14px;
            	display: block;
            }
    	}
    }
}
.success-card {
    max-width: 570px;
    margin:25px auto;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #fff;
    & .c-logo {
    	display:inline-block;
    	max-height:30px;
    	max-width:100%; 
    }
    & .action-link {
    	margin: 0 0 15px;
    	display: block;
    	font-size: 12px;
    	padding-left: 30px;
    	max-width: 220px;
    	text-align: left;
    	background:url('/static/img/icons/download-icon.png') no-repeat 5px center transparent;
    }
}
.success-card__list{
	margin: 20px 0;
	padding: 0;
	&.mnone{
		margin: 0;
	}
	&.mbnone{
		margin-bottom: 0;
	}
	li{
		vertical-align:top;
		display:inline-block;
		width:100%;
		font-size: 13px;
		text-transform: uppercase;
		list-style: none;
		margin: 0 0 15px;
		&.col-2 {
			width:50%;
		}
	}
	.success-card__heading{
		font-size: 10px;
		text-transform: uppercase;
		color:rgba(49,68,81,0.5);
	}
}
.payment-details{
	max-width: 570px;
    margin:35px auto;
    font-size: 12px;
}
.payment-details__tophead{
	text-transform: uppercase;
    margin-bottom:5px;
}
.payment-details__middlehead{
	margin-bottom:10px;
}
.text-mute{
	color:rgba(49,68,81,0.5);
}