@import "_settings.css";
@import "_typography.css";
@import "content-card.css";
@import 'components/_buttons.css';

body
{
    margin: 0px;
    padding: 0px;
}

.block{
  padding: 50px 0;
  margin: 0;
  &.dark{
    background: $grey-2;
  }
  &.plainlayer
	{
		background-color: #314451;
	}
}

.m-none{
  margin: 0;
}
.p-none
{
	padding: 0;
}
.pb50
{
	padding-bottom: 50px;
}

.content-card, .list-container
{
	h2
	{
		margin-top: 0px;
	}
	.fl {
	    float: left;
	}
	.fr
	{
		float: right;
	}
}
.list-container
{
	margin-top: 20px;
	ul
	{
		margin: 0px;
		padding:0px;
		li
		{
			list-style-type: none;
			background-color: #fff;
		}
	}
}

@media screen and (min-width: 0px) and (max-width: 767px) {
	.content-card, .list-container
	{
		margin-top: 20px;
	}
}
.no-shadow, .no-shadow:hover
{
	box-shadow: none;
}

.roundedcorners
{
	@mixin roundedCorners 3%;
}

.box
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

.grid_2
{
}

.grid_10
{
    width: 80%;
}

.brand-sidebar
{
    color: #007ee5;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
}

.brand-sidebar li
{
    padding: 5px 0px;
}

a, a:hover {
    color: #2895F1;
    text-decoration: none;
}

.section-title
{
    font-size: 20px;
    line-height: 30px;
    color: #3d464d;
}

.img
{
    width: 100%;
    height: auto;
}

.email-img
{
    max-width: 600px;
    margin: 20px auto;
}

.logo-container
{
    margin:20px 0px;
    border-radius: 3px;
    border: 1px solid #eceded;
    position: relative;
}

.logotype-logo
{
    width:50%;
    margin: 10% 25%;
}

.float {
    float: left;
}

.logo-variations
{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
}

.logo-variations-orange, .logo-variations-gray
{
    width: 372px;
    margin-top: 10px;
    position: relative;
}

.orange-list, .gray-list
{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
}

.orange-list img, .gray-list img
{
    width: 180px;
    height: 160px;
    margin-top: 10px;
}

.colors-list
{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:flex-start;
    align-content:flex-start;
    justify-content:space-between;
    margin-top: 20px;
}

.orange
{
    background-color: #ff704c;
    color: #fff;
}

.gray
{
    background-color: #efeff4;
    color: #314451;
}

.dark
{
    background-color: #314451;
    color: #fff;
}

.light-gray
{
    background-color: #f7fafc;
    color: #314451;
}

.gray .swatch, .orange .swatch, .dark .swatch, .light-gray .swatch
{
    border-radius: 1px;
    font-size: 12px;
    font-weight: bold;
    width: 140px;
    height: 200px;
    padding: 15px;
    position: relative;
}
.swatch-footer
{
    bottom: 15px;
    position: absolute;
}

section {
    color: #47525d;
    font-size: 14px;
}

.pt60
{
    padding-top: 60px;
}

section:last-child
{
    padding-bottom: 40px;
}

.code-example__pre {
    background: #fafafa;
    border: 1px solid #dedede;
    border-top: none;
    margin: 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: 20px;
    height: 400px;
}

.page-title{
    float: left;
    font-size: 20px;
    line-height: 34px;
    position: relative;
    font-weight: 300;
    opacity: .7;
    color: #fff;
    &:before {
        content:"";
        width: .3em;
        margin: 0.6em;
        background-image: url('/static/motor_product/img/icons/right-arrow-white.png?c2a8b0e59f7c');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
        float: left;
        height: 10px;
    }
}
.section-popup {
    text-align: left;
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    cursor: default;
    color: #314451;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23);
    padding: 20px 15px 10px;
    z-index: 2000;
    margin: 8px 0 0;
    position: relative;
    opacity: 1;
    top: 100%;
    transform-origin: top right;
    transform: scale(1);
    transition: all .3s 0ms cubic-bezier(0.4,0,0.2,1);
    .title
    {
    	display: block;
		margin: 2px 15px 9px;
    }
    ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 5px;
    	li
    	{
		    font-size: 13px;
		    line-height: 1.4em;
		    padding: 0 15px 10px;
		    min-width: 150px;
		    display: inline-block;
		    vertical-align: top;
		    cursor: pointer;
		}
	}
}

