@import "_bootstrap-grid.css";
@import "_settings.css";
@import "_mixins.css";
/* @import "components/_buttons.css"; */
/* @import "_homeform.css"; */

/* Teambhp css */
$break-point-md:1199px;
$break-point-sm:991px;
$break-point-xs:767px;
$bhpOrange:#EC191C;

body { margin: 0; padding: 0; background: #000; font-family: $baseFont; }

.teambhp {
	padding: 50px 0;
	@media screen and (min-width: 0px) and (max-width: $break-point-sm) {
		padding: 0px 0 50px 0;
	}
	@media screen and (min-width: 0px) and (max-width: $break-point-xs) {
		padding: 30px 0;
	}
	h1, h2 {
		font-weight: 300;
		font-size: 42px;
		color:#fff;
		margin: 20px 0;
		& strong {
			font-weight: 400;
		}
		@media screen and (min-width: 0px) and (max-width: $break-point-xs) {
			font-size:32px;
			line-height:1.4em;
			padding: 0 15px;
		}
	}
	& h5 {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 700;
		color: #fff;
		margin: 0 0 15px 0;
	}
	& .text-orange {
		color: $bhpOrange;
	}
	& p.para {
		font-size: 16px;
		color: #D3D3D3;
		margin: 0 0 15px 0;
		&.solid {
			font-size: 20px;
			font-weight: 500;
		}
	}
	& .form-box {
		text-align: left;
		background: #2e2e2e;
		border: 1px solid $grey-2;
		@mixin roundedCorners;
	}
	@media screen and (min-width: 0px) and (max-width: $break-point-sm) {
		text-align:center;
	}
	.musibat_conatiner {
		background: transparent;
    	padding: 25px 15px 0 0;
   		margin-left: -15px;
   		color: #D3D3D3;
   		font-size: 16px;
   		@media screen and (min-width: 0px) and (max-width: $break-point-sm) {
			padding: 25px 15px;
    		margin-left: 0;
		}
		& .arrrow_direct {
			color: $bhpOrange;
		}
	}
	.btn.orange {
		max-width: 275px;
    	margin-top: 15px;
    	background: $bhpOrange;
		border: 1px solid $bhpOrange;
	}
}
.car-box {
	margin-top:80px;
	@media screen and (min-width: 0px) and (max-width: $break-point-xs) {
		margin-top:40px;
	}
}
.car-box__car {
	height: 450px;
	overflow: hidden;
	img {
		max-width: 340px;
		width: 100%;
		display: block;
		margin:auto;
	}
	@media screen and (min-width: 0px) and (max-width: $break-point-sm) {
		height: 120px;
		border-bottom:1px solid $grey-2;
		img {
			max-width: 90px;
		}

	}
}

.car-box__content {
	max-width: 300px;
	margin: 50px auto 80px;
}
.teambhp.car-show-case {
	padding-bottom:0;
}

.teambhp.teambhp--grey {
	padding:70px 0 0;
	background: #2E2E2E;
	@media screen and (min-width: 0px) and (max-width: $break-point-xs) {
		padding: 30px 0;
	}
}
.gallery-item {
		margin: 70px 0 100px;
		img {
			max-width: 500px;
			width: 100%;
			margin: auto;
			display: block;
		}
	@media screen and (min-width: 0px) and (max-width: $break-point-sm) {
		max-width:500px;
		margin: 50px auto;
		img {
			margin-top: 30px;
		}
	}
}
.gallery-item__content {
	max-width: 400px;
	margin: 50px auto 0 auto;
}
.insure-your-car {
	& .btn {
		margin-top:20px;
		padding: 25px 50px;
		background: $bhpOrange;
		border: 1px solid $bhpOrange;
		text-decoration: none;
		font-size: 20px;
	}
}
.product-form-item {
	background: #fff;
	padding: 32px 48px 50px 64px;
    min-height: 393px;
	.col-md-offset-3 {
		margin-left: 0px !important;
	}
	.cf-radio input[type='radio']:checked + span, .cf-radio > span:hover {
		border-color:$bhpOrange;
	}
	.cf-radio > span:before {
		background:$bhpOrange;
	}
	.form-group {
		margin-bottom: 0px;
	}
	.error-text {
		margin: -20px 0 10px;
		color: #f00;
		font-size: 12px;
	}
	.error{
		color: #f00;
		font-size: 12px;
	}
    h5 {
      color: rgba(49,68,81,0.7);
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 32px;
      font-weight: 300;
      text-transform: capitalize;
    }
    .w--button--large{
        width: auto;
    }
    .w--button{
        height: auto;
        text-transform: capitalize;
        line-height: 1em;
        letter-spacing: normal;
    }
    .w--button--empty:hover{
        background: transparent;
        color: #314451;
    }
    p.flg{
        font-weight: 300;
    }
    .label_show,.label_hide{
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
        opacity: 0.7;
    }
}
#mini-top-bar, #top-bar, #top-bar .fix-container  {
	background: #2E2E2E;
}
