@import "_settings.css";
@import "_normalize.css";
@import "_mixins.css";
@import "_typography.css";
@import "components/_widget_components.css";

.w--travel{
	.w--error {
		padding: 5px 0px;
		font-size: 12px;
		line-height: 1.4em;
	}
	.w--button:disabled {
	    opacity: .6;
	    cursor: not-allowed;
	}
	.radio-tab {
		display: block;
		margin: 15px 0;
	}
	.w--button{
		margin:30px 0;
		&.centered{
			margin: 30px auto 15px;
		}
		display: block;
		margin-bottom: 15px;
		&.back_button{
			margin-top: 0;
			border: none;
    		padding: 0;
			margin-bottom: 10px;
			&:hover{
				background:transparent;
				color:$baseDark;
			}
		}
	}
	.w--button--large{
		font-size: 24px;
    	padding: 15px 40px;
	}
	.w--button--empty.w--button--orange{
		border: none;
		padding:0;
		margin-top:0px;
		&:hover{
			color:$baseDark;
		}
	}

	h5{
		margin-bottom: 10px!important;
	}

	h5, h6{
		text-align: center;
	}
	h6{
		font-size: 14px;
    	opacity: 0.6;
    	margin-bottom: 20px;
	}
	.w--calendar_handle.empty .label_minimised {
		top:12px;
		font-size: 14px;
	}
	.w--calendar_handle.empty {
		min-height:49px;
	}
	.full-width-select {
		padding-right:0px;
		.w--multi_select {
			width: 100%;
		}
	}  
	.age-div input[type=number]::-webkit-inner-spin-button, 
	.age-div input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0;  
	}
}

.input_wrapper input {
	width: 100%;
}

.age-div {
	display: inline-block;
    position: relative;
    top: 3px;
    line-height: 1em;
    font-size: 12px;
    & > span {
  		display: inline-block;
    	position: relative;
    	top:0px;
  	}
	& .input_wrapper {
		width: 45px;
		display: inline-block;
		margin: 5px 10px 0 0;
		input {
			width: 100%;
			height: 30px;
			padding: 5px;
		}
	}
}


/* calendar */
.w--calendar + div.trip {
	display: inline-block;
    position: relative;
    top: 15px;
    & > .count-no > span:first-child {
    	background: #314451;
    	color: #fff;
    	padding: 0px 5px;
    	display: inline-block;
    }
    @media screen and (max-width: 699px){
    	display: inline-block;
    	position: relative;
    	margin: 10px -30px 0 -10px;
    	top: 0;
    	font-size: 10px;
    }
}

.no-of-travellers {
	display: inline-block;
	.w--multi_select .w--multi_select_handle {
		min-width: 180px;
		@media screen and (max-width: 699px){
			min-width:130px;
		}
	}
}

.w--multi_select {
	min-width: 140px;
} 
.extra-info-selector {
    border-radius: 3px;
    float: left;
    width: 100%;
    margin: 10px 0 15px;
}
.extra-info-selector > div {
    margin-right: 15px;
}
.extra-info-selector p {
    display: inline-block;
    max-width: 280px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
    width: 50%;
    min-width: 200px;
}
.extra-info-selector.non-resident-block {
	background-color: rgba(239, 239, 244, 0.5);
	@mixin cardBaseShadow;
	@mixin roundedCorners 3px;
	padding:15px;
    margin-top: 10px;
    margin-left: -15px;
    margin-bottom:0; 
}
.non-resident-block {
	.w--multi_select  {
		display: inline-block;
    	vertical-align: middle;
    	background-color: #fff;
	}
}
.extra-info-selector>div>.controlgroup {
    display: inline-block;
    vertical-align: top
}
.annual-trip-info > div {
	display: inline-block;
	vertical-align: top;
	max-width: 340px;
}
@media screen and (max-width: 699px){
	.annual-trip-info {
		& > div {max-width: 290px;}
		.age-div .input_wrapper{margin-right:5px;width:40px;}
		.w--multi_select {min-width:110px;}
	}
}

.trip-dates {
	.w--calendar {
		vertical-align:top;
	}
}

