<form id="state_form" action="{% url 'save_state_form' form_name form.ticket.id %}" method="post">
    {% csrf_token %}
    <div class="form-group m-b-15">
        <label for="id_policy_dispatch_date" class="col-sm-3 control-label">Policy Dispatch Date</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.policy_dispatch_date}}
            </div>
            <small class="help-block" id="id_error_policy_dispatch_date"></small>
        </div>
    </div>
    <div class="form-group">
        <label for="id_is_policy_dispatched" class="col-sm-3 control-label">Is Policy Dispatched</label>
        <div class="col-sm-9 p-t-10">
            {% for choice in form.is_policy_dispatched %}
            <label for="id_{{ form.is_policy_dispatched.name }}_{{ forloop.counter0 }}" class="radio radio-inline p-t-0 m-r-15">
                <input type="radio"
                       name="{{ form.is_policy_dispatched.name }}"
                       value="{{ choice.choice_value }}"
                       id="id_{{ form.is_policy_dispatched.name }}_{{ forloop.counter0 }}"
                       {% if form.is_policy_dispatched.value == choice.choice_value %}
                           checked='checked'
                       {% endif %}/>
                <i class="input-helper"></i>
                {{ choice.choice_label }}
            </label>
            {% endfor %}
            <small class="help-block" id="id_error_is_policy_dispatched"></small>
        </div>
    </div>
</form>
