<form id="state_form" action="{% url 'save_state_form' form_name form.ticket.id %}" method="post">
    {% csrf_token %}
    <div class="form-group m-b-15">
        <label for="id_reason_for_cancellation" class="col-sm-3 control-label">Reason for Cancellation</label>
        <div class="col-sm-9">
            <div class="fg-line p-t-5">
                {{form.reason_for_cancellation}}
            </div>
            <small class="help-block" id="id_error_reason_for_cancellation"></small>
        </div>
    </div>
    <div class="form-group m-b-0">
        <label for="id_is_all_documents_received" class="col-sm-3 control-label">Are All Documents Received</label>
        <div class="col-sm-9 p-t-10">
            {% for choice in form.is_all_documents_received %}
            <label for="id_{{ form.is_all_documents_received.name }}_{{ forloop.counter0 }}" class="radio radio-inline p-t-0 m-r-15">
                <input type="radio"
                       name="{{ form.is_all_documents_received.name }}"
                       value="{{ choice.choice_value }}"
                       id="id_{{ form.is_all_documents_received.name }}_{{ forloop.counter0 }}"
                       {% if form.is_all_documents_received.value == choice.choice_value %}
                           checked='checked'
                       {% endif %}/>
                <i class="input-helper"></i>
                {{ choice.choice_label }}
            </label>
            {% endfor %}
            <small class="help-block" id="id_error_is_all_documents_received"></small>
        </div>
    </div>
    <div class="form-group m-b-15">
        <label for="id_is_additional_requirement" class="col-sm-3 control-label">Is Additional Document Required</label>
        <div class="col-sm-9 p-t-10">
            {% for choice in form.is_additional_requirement %}
            <label for="id_{{ form.is_additional_requirement.name }}_{{ forloop.counter0 }}" class="radio radio-inline p-t-0 m-r-15">
                <input type="radio"
                       name="{{ form.is_additional_requirement.name }}"
                       value="{{ choice.choice_value }}"
                       id="id_{{ form.is_additional_requirement.name }}_{{ forloop.counter0 }}"
                       {% if form.is_additional_requirement.value == choice.choice_value %}
                           checked='checked'
                       {% endif %}/>
                <i class="input-helper"></i>
                {{ choice.choice_label }}
            </label>
            {% endfor %}
            <small class="help-block" id="id_error_is_additional_requirement"></small>
        </div>
    </div>
</form>
