<form id="state_form" action="{% url 'save_state_form' form_name form.ticket.id %}" method="post">
    {% csrf_token %}
    <div class="form-group m-b-5">
        <label for="id_claim_amount_requested" class="col-sm-3 control-label">Claim Amount Requested</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.claim_amount_requested}}
            </div>
            <small class="help-block" id="id_error_claim_amount_requested"></small>
        </div>
    </div>
    <div class="form-group m-b-5">
        <label for="id_hospital_name" class="col-sm-3 control-label">Hospital Name</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.hospital_name}}
            </div>
            <small class="help-block" id="id_error_hospital_name"></small>
        </div>
    </div>
    <div class="form-group m-b-5">
        <label for="id_ailment_date" class="col-sm-3 control-label">Ailment Date</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.ailment_date}}
            </div>
            <small class="help-block" id="id_error_ailment_date"></small>
        </div>
    </div>
    <div class="form-group m-b-5">
        <label for="id_admission_date" class="col-sm-3 control-label">Admission Date</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.admission_date}}
            </div>
            <small class="help-block" id="id_error_admission_date"></small>
        </div>
    </div>
    <div class="form-group m-b-5">
        <label for="id_discharge_date" class="col-sm-3 control-label">Discharge Date</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.discharge_date}}
            </div>
            <small class="help-block" id="id_error_discharge_date"></small>
        </div>
    </div>
    <div class="form-group m-b-5">
        <label for="id_is_all_documents_received" class="col-sm-3 control-label">Are All Documents Received</label>
        <div class="col-sm-9 p-t-10">
            {% for choice in form.is_all_documents_received %}
            <label for="id_{{ form.is_all_documents_received.name }}_{{ forloop.counter0 }}" class="radio radio-inline p-t-0 m-r-15">
                <input type="radio"
                       name="{{ form.is_all_documents_received.name }}"
                       value="{{ choice.choice_value }}"
                       id="id_{{ form.is_all_documents_received.name }}_{{ forloop.counter0 }}"
                       {% if form.is_all_documents_received.value == choice.choice_value %}
                           checked='checked'
                       {% endif %}/>
                <i class="input-helper"></i>
                {{ choice.choice_label }}
            </label>
            {% endfor %}
            <small class="help-block" id="id_error_is_all_documents_received"></small>
        </div>
    </div>
</form>
