<form id="state_form" action="{% url 'save_state_form' form_name form.ticket.id %}" method="post">
    {% csrf_token %}
    <div class="form-group m-b-0">
        <label for="id_claim_amount_requested" class="col-sm-3 control-label">Claim Amount Requested</label>
        <div class="col-sm-3">
            <div class="fg-line">
                {{form.claim_amount_requested}}
            </div>
            <small class="help-block" id="id_error_claim_amount_requested"></small>
        </div>
        <label for="id_claim_amount_approved" class="col-sm-3 control-label">Claim Amount Approved</label>
        <div class="col-sm-3">
            <div class="fg-line">
                {{form.claim_amount_approved}}
            </div>
            <small class="help-block" id="id_error_claim_amount_approved"></small>
        </div>
    </div>
    <div class="form-group m-b-0">
        <label for="id_utr_no" class="col-sm-3 control-label">UTR No.</label>
        <div class="col-sm-3">
            <div class="fg-line">
                {{form.utr_no}}
            </div>
            <small class="help-block" id="id_error_utr_no"></small>
        </div>
        <label for="id_bank_reference_no" class="col-sm-3 control-label">Bank Reference No.</label>
        <div class="col-sm-3">
            <div class="fg-line">
                {{form.bank_reference_no}}
            </div>
            <small class="help-block" id="id_error_bank_reference_no"></small>
        </div>
    </div>
    <div class="form-group">
        <label for="id_is_request_accepted" class="col-sm-3 control-label">Is Request Accepted?</label>
        <div class="col-sm-9 p-t-10">
            {% for choice in form.is_request_accepted %}
            <label for="id_{{ form.is_request_accepted.name }}_{{ forloop.counter0 }}" class="radio radio-inline p-t-0 m-r-15">
                <input type="radio"
                       name="{{ form.is_request_accepted.name }}"
                       value="{{ choice.choice_value }}"
                       id="id_{{ form.is_request_accepted.name }}_{{ forloop.counter0 }}"
                       {% if form.is_request_accepted.value == choice.choice_value %}
                           checked='checked'
                       {% endif %}/>
                <i class="input-helper"></i>
                {{ choice.choice_label }}
            </label>
            {% endfor %}
            <small class="help-block" id="id_error_is_request_accepted"></small>
        </div>
    </div>
</form>
