<form id="state_form" action="{% url 'save_state_form' form_name form.ticket.id %}" method="post">
    {% csrf_token %}
    <div class="form-group m-b-5">
        <label for="id_claim_amount_requested" class="col-sm-3 control-label">Claim Amount Requested</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.claim_amount_requested}}
            </div>
            <small class="help-block" id="id_error_claim_amount_requested"></small>
        </div>
    </div>
    <div class="form-group m-b-5">
        <label for="id_hospital_name" class="col-sm-3 control-label">Hospital Name</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.hospital_name}}
            </div>
            <small class="help-block" id="id_error_hospital_name"></small>
        </div>
    </div>
    <div class="form-group m-b-5">
        <label for="id_ailment_date" class="col-sm-3 control-label">Ailment Date</label>
        <div class="col-sm-9">
            <div class="dtp-container dropdown fg-line">
                {{form.ailment_date}}
            </div>
            <small class="help-block" id="id_error_ailment_date"></small>
        </div>
    </div>

    <div class="form-group m-b-5">
        <label for="id_admission_date" class="col-sm-3 control-label">Admission Date</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.admission_date}}
            </div>
            <small class="help-block" id="id_error_admission_date"></small>
        </div>
    </div>
    <div class="form-group m-b-5">
        <label for="id_discharge_date" class="col-sm-3 control-label">Discharge Date</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.discharge_date}}
            </div>
            <small class="help-block" id="id_error_discharge_date"></small>
        </div>
    </div>
</form>
