<p style="font-size: 16px;" class="f-500 c-black m-b-10">Create New ticket</p>
<form id="createTicketFormId{{form.policy_id.value}}" method="post">
    {% csrf_token %}
    <div class="form-horizontal">
        <div class="row">
            <div class="col-sm-6 p-r-30">
                <span class="hide">{{ form.policy_id }}</span>
                <div class="form-group">
                    <label for="category" id="category" class="col-sm-3 control-label">Product Type</label>

                    <div class="col-sm-9">
                        <div class="fg-line">
                            <div class="select">
                                {{ form.product_type }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="priority" id="priority" class="col-sm-3 control-label">Priority</label>

                    <div class="col-sm-9">
                        <div class="fg-line">
                            <div class="select">
                                {{ form.priority }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="request_type" id="request_type" class="col-sm-3 control-label">Request Type</label>

                    <div class="col-sm-9">
                        <div class="fg-line">
                            <div class="select">
                                {{ form.request_type }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="sub_request_types" id="sub_request_types" class="col-sm-3 control-label">Sub Request Types</label>

                    <div class="col-sm-9">
                        <div class="row">
                            {{ form.sub_request_types }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="internal-note" id="internal_note" class="col-sm-3 control-label">Internal Note</label>

                    <div class="col-sm-9">
                        <div class="fg-line z-depth-1">
                            {{ form.internal_notes }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group m-b-30">
                    <span class="input-group-addon"><i class="md md-person"></i></span>

                    <div class="fg-line">
                        {{ form.first_name }}
                    </div>
                </div>

                <div class="input-group m-b-30">
                    <span class="input-group-addon"><i class="md md-person"></i></span>

                    <div class="fg-line">
                        {{ form.last_name }}
                    </div>
                </div>

                <div class="input-group m-b-30">
                    <span class="input-group-addon"><i class="md md-local-phone"></i></span>

                    <div class="fg-line">
                        {{ form.mobile }}
                    </div>
                </div>

                <div class="input-group m-b-30">
                    <span class="input-group-addon"><i class="md md-email"></i></span>

                    <div class="fg-line">
                        {{ form.email }}
                    </div>
                </div>

                <div class="input-group m-b-30">
                    <span class="input-group-addon"><i class="md md-insert-drive-file"></i></span>

                    <div class="fg-line">
                        {{ form.policy_number }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="owner" id="id_owner" class="col-sm-3 control-label">Ticket Owner</label>

                    <div class="col-sm-9">
                        <div class="fg-line">
                            <div class="select">
                                {{ form.owner }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.open-form-->
</form>
<script>
    $(document).ready(function(){
        getSubRequestOptions = (function(){
            request_type_data = {'request_type_id': $("#id_request_type").val()}
            $.get("{% url 'form_options_create_ticket' %}", request_type_data, function(data){
                formResponseData = data
                $("#id_sub_request_types").addClass('p-l-0 m-t-5').html("");
                for(i=0;i<formResponseData.sub_requests.length;i++){
                    $("#id_sub_request_types").html($("#id_sub_request_types").html() + "<div class='checkbox col-sm-6'><label for='id_sub_request_types_" + i + "'><input id='id_sub_request_types_" + i + "' name='sub_request_types' type='checkbox' value='" + formResponseData.sub_requests[i][0] + "'><i class='input-helper'></i>" + formResponseData.sub_requests[i][1] + "</label></div>");
                }
            })
        })
        $("#id_request_type").change(function(){ getSubRequestOptions() })
        $("#id_request_type").trigger('change');
    })
</script>
