<h4 class="m-b-15">Internal Notes for Ticket</h4>
<form id="internalNotesFormId{{ internal_notes_form.instance.pk }}" method="post" enctype="multipart/form-data"
      action="{% url 'internal_notes' internal_notes_form.instance.pk %}">
    {% csrf_token %}
    <div class="form-group has-success m-b-10">
        <div class="fg-line z-depth-1">
            {{ internal_notes_form.notes }}
        </div>
        <small id='notes_last_updated_on' class="help-block text-center"></small>
    </div>
    <!--/.open-form-->
</form>
