<form id="state_form" action="{% url 'save_state_form' form_name form.ticket.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_payment_amount" class="col-sm-3 control-label">Payment amount</label>
        <div class="col-sm-9">
            <div class="fg-line">
               {{form.payment_amount}}
            </div>
            <small class="help-block" id="id_error_payment_amount"></small>
        </div>
    </div>
    <div class="form-group">
        <label for="id_is_proposal_form_filled" class="col-sm-3 control-label">Is Proposal Form Filled?</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.is_proposal_form_filled}}
            </div>
            <small class="help-block" id="id_error_is_proposal_form_filled"></small>
        </div>
    </div>
    <div class="form-group">
        <label for="id_is_payment_done" class="col-sm-3 control-label">Is Payment done?</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.is_payment_done}}
            </div>
            <small class="help-block" id="id_error_is_payment_done"></small>
        </div>
    </div>
</div>
