<form id="state_form" action="{% url 'save_state_form' form_name form.ticket.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_appointment_time" class="col-sm-3 control-label">Appointment Time</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.appointment_time}}
            </div>
            <small class="help-block" id="id_error_appointment_time"></small>
        </div>
    </div>
    <div class="form-group">
        <label for="id_is_appointment_accepted" class="col-sm-3 control-label">Is Appointment Accepted</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.is_appointment_accepted}}
            </div>
            <small class="help-block" id="id_error_is_appointment_accepted"></small>
        </div>
    </div>
</div>
