<form id="state_form" action="{% url 'save_state_form' form_name form.ticket.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_is_all_documents_received" class="col-sm-3 control-label">Are All Documents Received</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.is_all_documents_received}}
            </div>
            <small class="help-block" id="id_error_is_all_documents_received"></small>
        </div>
    </div>
</form>
