<form id="state_form" action="{% url 'save_state_form' form_name form.ticket.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_reason_for_rejection" class="col-sm-3 control-label">Reason for Rejection</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.reason_for_rejection}}
            </div>
            <small class="help-block" id="id_error_reason_for_rejection"></small>
        </div>
    </div>
</div>
