<form id="state_form" action="{% url 'save_state_form' form_name form.ticket.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_refund_amount_confirmed" class="col-sm-3 control-label">Refund Amount Confirmed</label>
        <div class="col-sm-9">
            <div class="fg-line">
                {{form.refund_amount_confirmed}}
            </div>
            <small class="help-block" id="id_error_refund_amount_confirmed"></small>
        </div>
    </div>
</form>

