<form id="state_form" action="{% url 'save_state_form' form_name form.ticket.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_utr_no" class="col-sm-2 control-label">UTR No.</label>
        <div class="col-sm-3">
            <div class="fg-line">
                {{form.utr_no}}
            </div>
            <small class="help-block" id="id_error_utr_no"></small>
        </div>
        <label for="id_bank_reference_no" class="col-sm-3 control-label">Bank Reference No.</label>
        <div class="col-sm-4">
            <div class="fg-line">
                {{form.bank_reference_no}}
            </div>
            <small class="help-block" id="id_error_bank_reference_no"></small>
        </div>
    </div>
</form>
