<div class="ms-reply ticket-id-form p-0">
    <form id="sendSMSFormId{{ send_sms_form.instance.pk }}" method="post" enctype="multipart/form-data"
          action="{% url 'send_sms' send_sms_form.instance.pk %}">
        {% csrf_token %}
        {{ send_sms_form.sms_text }}
    </form>

    <button id="sendSMSFormBtnId{{ send_sms_form.instance.pk }}"><i data-bind="click: send_sms" class="md md-send"></i></button>
</div>
<small id='sms_last_tried_on' class="help-block text-center"></small>
