<div class="row">
    <div class="col-md-12">
        <div class="card m-b-0">
            <div class="card-header">
                <h2 class="m-b-20">Task Form <small>Suggested task is already prepopulated by the sytem, though you can set accordingly.</small></h2>
                <form class="row" role="form" id="task_form" action="{% url 'task_form' form.ticket_id %}" method="post">
                    {% csrf_token %}
                    <div class="col-sm-6 col-md-5">
                        <div class="form-group fg-line m-b-0">
                            <label for="id_next_task" >Next Task</label>
                            <div class="select">
                                {{form.next_task}}
                            </div>
                        </div>
                        <small class="help-block" id="id_error_next_task"></small>
                    </div>
                    <div class="col-sm-3 col-md-5 p-t-5">
                        <div class="form-group fg-line m-b-0">
                            <label for="id_next_task_time">Scheduled Time</label>
                            {{form.next_task_time}}
                        </div>
                        <small class="help-block" id="id_error_next_task_time"></small>
                    </div>

                    <div class="col-sm-3 col-md-2 p-t-25">
                        <button type="submit" class="btn bgm-deeporange btn-md waves-effect waves-button waves-float waves-effect waves-button waves-float pull-right">Set Task</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
