{% load type_filters %}
<form class="tkt-form" id="ticket_status_form" action="{% url 'ticket_status_form' form.ticket_id %}" method="post">
    <div class="form-group fg-line m-b-30">
        {% csrf_token %}
        <h4 class="m-b-5">Priority</h4>
        <div class="select">
            {{form.priority}}
            <small class="help-block" id="id_error_priority"></small>
        </div>
    </div>
    <h4 class="m-b-15">Ticket Tags</h4>
    <div>
        {% for choice in form.tags %}
            <label for="id_{{ form.tags.name }}_{{ forloop.counter0 }}" class="checkbox checkbox-inline">
                <input type="checkbox"
                       name="{{ form.tags.name }}"
                       value="{{ choice.choice_value}}"
                       id="id_{{ form.tags.name }}_{{ forloop.counter0 }}"
                       {% if choice.choice_value|to_int in form.tags.value %}
                           checked
                        {% endif %}/>
                <i class="input-helper"></i>
                {{ choice.choice_label }}
            </label>
            {% endfor %}
        <small class="help-block" id="id_error_tags"></small>
    </div>
    <div class="clearfix">
        <button class="btn bgm-deeporange btn-md waves-effect waves-button waves-float pull-right" type="submit" id="submit_form">Save</button>
    </div>
</form>

