/* Color scheme definitions */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* Overridden css for base_style.css */
.hero-wrapper {
  background-color: #f9f7f6;
}
.hero-wrapper #topbar {
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  z-index: 200;
}
.companies-wrapper {
  -webkit-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
}
/* car banner css */
.car-banner {
  padding: 0px;
  background: url(../img/bikebg-youth.jpg) no-repeat bottom left #cfe1f1;
  -webkit-background-size: cover;
  background-size: cover;
}
.car-banner .club-form {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px 15px;
  margin: 20px 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
}
.car-banner .club-form .brand-color {
  color: #ff6127;
}
.car-banner .club-form .heading-banner {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}
.car-banner .club-form .heading-banner h1 {
  color: #ff6127;
  font-size: 30px;
  line-height: 1.4em;
  font-weight: 700;
  margin: 15px 0px 0px;
  text-shadow: 0px 1px 4px #ffffff;
}
.car-banner .club-form .heading-banner h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4em;
}
.car-banner .club-form .heading-banner ul {
  margin: 20px 0px;
  padding: 0px;
}
.car-banner .club-form .heading-banner ul li {
  list-style-type: none;
  color: #363636;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: left;
  padding-left: 30px;
  position: relative;
  display: block;
}
.car-banner .club-form .heading-banner ul li img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #666666;
  padding: 3px;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0px;
}
.car-banner .club-form .form-box-mini {
  border: 0 solid transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* Mobile optimisation for banner elements */
@media only screen and (min-width: 1600px) {
  .car-banner .club-form {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .car-banner {
    padding: 0px;
    background-image: none;
    background-color: #ffffff;
  }
  .car-banner .club-form {
    padding-left: 0px;
    padding-right: 0px;
  }
  .car-banner .club-form .form-box-mini {
    border: 0px solid transparent;
  }
  .car-banner .club-form .heading-banner {
    padding: 0px;
    margin-bottom: 0px;
  }
  .car-banner .club-form .heading-banner > img {
    display: none;
  }
  .car-banner .club-form .heading-banner ul {
    text-align: left;
  }
  .car-banner .club-form .heading-banner ul li {
    font-size: 16px;
    width: auto;
    margin-right: 10px;
  }
  .car-banner .club-form .heading-banner h1 {
    margin-top: 20px;
    font-size: 26px;
  }
  .car-banner .club-form {
    margin: 0px;
    padding: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .car-banner .club-form .form-box-mini {
    max-width: 450px;
    padding: 10px 0px;
  }
}
/* form box mini css*/
.form-box-mini {
  background-color: transparent;
  padding: 10px 20px 15px;
}
.form-box-mini label {
  margin-bottom: 5px;
  display: block;
  color: #888888;
  font-weight: 400;
}
.form-box-mini .closer {
  color: #999999;
  text-align: left;
  margin-top: 15px;
  font-size: 12px;
}
.form-box-mini .btn-cfox.btn-next {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.form-box-mini h3 {
  color: #404040;
  font-weight: 700;
  margin: 30px 0 20px 0;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
.form-box-mini h4 {
  color: #353333;
  font-size: 14px;
}
.form-box-mini ul {
  display: none;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 30px;
}
.form-box-mini ul li {
  background-image: none;
  color: #363636;
  cursor: pointer;
  list-style-type: none;
  padding-left: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
  position: relative;
  padding-top: 0;
  height: 35px;
  font-size: 14px;
}
.form-box-mini ul li .checkbox {
  position: absolute;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
  top: -1px;
  left: 0px;
  width: 22px;
  height: 22px;
  margin: 0px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.form-box-mini ul li .checkbox:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: none;
  background-color: #ff6127;
}
.form-box-mini ul li.active .checkbox:before {
  display: block;
}
.form-box-mini .error {
  background-color: #e996b0;
  color: rgba(0, 0, 0, 0.58);
  padding: 5px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-box-mini .cfinput {
  border: 1px solid rgba(6, 6, 6, 0.83);
  padding: 10px 5px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.form-box-mini .cfinput.has-error {
  border-color: #8b0000;
  background-color: #FFE2EB;
}
.form-box-mini .cfinput.addon-field {
  padding-left: 40px;
  position: relative;
}
.form-box-mini .cfinput .addon {
  font-size: 14px;
  color: #363636;
  position: absolute;
  top: 11px;
  left: 8px;
}
.form-box-mini .cfinput input {
  border: 0;
  color: #363636;
  background-color: transparent;
  width: 100%;
}
.form-box-mini .cfinput input:hover,
.form-box-mini .cfinput input:focus,
.form-box-mini .cfinput input:active {
  outline: none;
}
.toll-free-box {
  margin-top: 30px;
}
.toll-free-box h3 {
  margin-top: 5px;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.7);
}
.toll-free-box.mobile-scr {
  margin-top: 10px;
  margin-bottom: -10px;
  padding: 15px 20px;
  background-color: #f9f9f9;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05) inset;
}
