@import "../../css/base_theme";

/* Overridden css for base_style.css */
.hero-wrapper {
  background-color: @bannerBackgroundColor;
  &  #topbar {
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: #ffffff;
    z-index: 200;
  }
}
.companies-wrapper {
  .boxShadow(0px -5px 15px rgba(0, 0, 0, 0.03));
}

.terms-msg{
  margin: 10px 0;
  font-size: 10px;
}
/* car banner css */
.car-banner {
  padding:0px;
  background: url(../img/car-banner.jpg) no-repeat bottom left #cfe1f1;
  -webkit-background-size: cover;
  background-size: cover;
  & .club-form {
    background-color: rgba(255,255,255,0.7);
    padding:0px 15px;
    & .brand-color {
      color: @baseThemeColor;
    }
    & .heading-banner {
      padding-left:20px;
      padding-right:20px;
      text-align:left;
      & h1 {
        color: @baseThemeColor;
        font-size:32px;
        line-height: 1.4em;
        font-weight: 300;
        margin:26px 0px 20px;
        text-shadow:0px 1px 4px #ffffff;
      }
      & h2 {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.4em;
      }
      & ul {
        margin:20px 0px;
        padding:0px;
        li {
          list-style-type: none;
          color:@textColor;
          display: inline-block;
          margin-bottom:10px;
          font-size:16px;
          text-align: left;
          padding-left:30px;
          position: relative;
          & img {
            .roundedCorners(50%);
            background-color: #666666;
            padding:3px;
            width:20px;
            height:20px;
            display: inline-block;
            position: absolute;
            top:1px;
            left:0px;
          }
        }
      }
    }
    & .form-box-mini {
      background-color: rgba(255,255,255,0.7);
      border:0 solid transparent;
      border-left: 1px solid rgba(0,0,0,0.05);
      .roundedCorners(0);
    }
    .btn-cfox.c2c {
      position: relative;
      padding: 12px 15px 10px 55px;
      font-size: 20px;
      text-align: left;
      line-height: 1em;
      max-width: 280px;
      & > div {
        font-size: 12px;
        color:rgba(255,255,255,0.7);
      }
      & img {
        display: block;
        width:30px;
        height:30px;
        position: absolute;
        left:10px;
        top:15px;
      }
    }
  }
}
/* Mobile optimisation for banner elements */

@media only screen and (min-width : 200px) and (max-width : 767px) {
  .car-banner {
    margin-bottom: 50px;
    padding:0px;
    background-image: none;
    background-color: #ffffff;
    & .club-form {
      padding-left:0px;
      padding-right:0px;
      & .form-box-mini {
        border: 0px solid transparent;
      }
      & .heading-banner {
        padding: 0px 20px;
        margin-bottom:-20px;
        & > img {
          display: none;
        }
        & ul {
          text-align: left;
          li {
            font-size: 14px;
            width: auto;
            margin-right:10px;
          }
        }
        & h1 {
          margin-top:20px;
          font-size:26px;
        }
      }
    }
  }
  #topbar {
    .menuimg {
      left: 2px;
      background-color: transparent;
      padding:3px;
    }
    #right-menu-items li.c2c {
      background-color: @baseButtonBg;
      border: 1px solid @baseButtonBorder;
      color: #ffffff;
      background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
      background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
      background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
      .boxShadow(0 1px 2px rgba(0, 0, 0, 0.15));
      .roundedCorners(4px);
      padding-left: 27px;
      padding-right: 7px;
      padding-bottom: 2px;
      padding-top: 2px;
      margin-top: -2px;
      margin-right: -10px;
      text-transform: none;
      cursor: pointer;
      & a {
        position: relative;
        color: transparent;
        font-size: 12px;
        width: 65px;
        height: 16px;
        overflow: hidden;
        &:before {
          color: #ffffff;
          content: 'Click to call';
          display: block;
          position: absolute;
          width:100%;
          top:0px;
          left:0px;
        }
      }
      &:hover {
        background-color: @buttonHoverBg;
      }
      .menuimg {
        display: block;
        top:5px;
        padding: 5px;
        .roundedCorners(0px);
        border-right:1px solid rgba(0,0,0,0.1);
      }
    }
    .irda-auth-badge {
      top:5px;
    }
  }
  .about-us {
    ul {
      padding-left:18px;
    }
  }
}

/* form box mini css*/

.form-box-mini {
  background-color: #314451;
  .roundedCorners(4px);
  padding: 10px 20px 15px;
  border-bottom: 1px solid #3C3A3A;
  label {
    margin-bottom:5px;
    display: block;
    color: #888888;
    font-weight: 400;
  }
  .btn-cfox.btn-next {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom:10px;
  }
  h3 {
    color: #404040;
    font-weight:400;
    margin:8px 0px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
  }
  h4 {
    color: #888888;
    font-size: 16px;
    margin-bottom:15px;
  }
  ul {
    padding:0;
    margin-bottom: 10px;
    margin-top:15px;
    & li {
      background-image: none;
      color: @textColor;
      cursor: pointer;
      list-style-type: none;
      padding-left: 30px;
      margin-bottom: 5px;
      margin-top: 5px;
      position: relative;
      padding-top: 0;
      height: 35px;
      font-size: 14px;
      & .checkbox {
        position: absolute;
        .boxShadow(1px 1px 2px rgba(0, 0, 0, 0.3) inset);
        top: -1px;
        left: 0px;
        width: 22px;
        height: 22px;
        margin: 0px;
        background-color: #ffffff;
        border: 1px solid rgba(0,0,0,0.3);
        .roundedCorners(50%);
        &:before {
          content:'';
          position: absolute;
          top:5px;
          left:5px;
          .roundedCorners(50%);
          width:10px;
          height:10px;
          display: none;
          background-color: @baseThemeColor;
        }
      }
      &.active {
        & .checkbox {
          &:before {
            display: block;
          }
        }
      }
    }
  }
  .error {
    background-color: rgb(233, 150, 176);
    color: rgba(0, 0, 0, 0.58);
    padding: 5px;
    margin-bottom: 10px;
    .roundedCorners(3px);
  }
  .cfinput {
    border: 2px solid rgba(0,0,0,0.2);
    padding:14px 5px;
    background-color: #ffffff;
    .roundedCorners(3px);
    margin-bottom:10px;
    &.has-error {
      border-color: #8b0000;
      background-color: #FFE2EB;
    }
    &.addon-field {
      padding-left:40px;
      position: relative;
    }
    .addon {
      font-size: 14px;
      color:#363636;
      position: absolute;
      top:15px;
      left:8px;
    }
    input {
      border: 0;
      color: #363636;
      background-color: transparent;
      width: 100%;
      &:hover,&:focus,&:active {
        outline: none;
      }
    }
  }
}

.toll-free-box {
  margin-top:30px;
  h3 {
    margin-top:5px;
    font-size:28px;
    font-weight: 700;
    text-shadow:0px 1px 2px rgba(255,255,255,0.7);
  }
}
.car-banner .club-form .heading-banner.click2call {
  padding-top: 1px;
  padding-bottom: 50px;
  margin-bottom: -50px;
  background-color: #efeff4;
}
.companies-wrapper {
  height:auto;
  &:before {
    content: 'Choose plans from top companies';
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: @textColor;
    margin: 0px 0px 10px;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    background: #EFEFF4;
  }
}
