/* Color scheme definitions */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* Overridden css for base_style.css */
.hero-wrapper {
  background-color: #f9f7f6;
}
.hero-wrapper #topbar {
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  z-index: 200;
}
.companies-wrapper {
  -webkit-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
}
.terms-msg {
  margin: 10px 0;
  font-size: 10px;
}
/* car banner css */
.car-banner {
  padding: 0px;
  background: url(../img/car-banner.jpg) no-repeat bottom left #cfe1f1;
  -webkit-background-size: cover;
  background-size: cover;
}
.car-banner .club-form {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0px 15px;
}
.car-banner .club-form .brand-color {
  color: #ff6127;
}
.car-banner .club-form .heading-banner {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}
.car-banner .club-form .heading-banner h1 {
  color: #ff6127;
  font-size: 32px;
  line-height: 1.4em;
  font-weight: 300;
  margin: 26px 0px 20px;
  text-shadow: 0px 1px 4px #ffffff;
}
.car-banner .club-form .heading-banner h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4em;
}
.car-banner .club-form .heading-banner ul {
  margin: 20px 0px;
  padding: 0px;
}
.car-banner .club-form .heading-banner ul li {
  list-style-type: none;
  color: #363636;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: left;
  padding-left: 30px;
  position: relative;
}
.car-banner .club-form .heading-banner ul li img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #666666;
  padding: 3px;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0px;
}
.car-banner .club-form .form-box-mini {
  background-color: rgba(255, 255, 255, 0.7);
  border: 0 solid transparent;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.car-banner .club-form .btn-cfox.c2c {
  position: relative;
  padding: 12px 15px 10px 55px;
  font-size: 20px;
  text-align: left;
  line-height: 1em;
  max-width: 280px;
}
.car-banner .club-form .btn-cfox.c2c > div {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}
.car-banner .club-form .btn-cfox.c2c img {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 15px;
}
/* Mobile optimisation for banner elements */
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .car-banner {
    margin-bottom: 50px;
    padding: 0px;
    background-image: none;
    background-color: #ffffff;
  }
  .car-banner .club-form {
    padding-left: 0px;
    padding-right: 0px;
  }
  .car-banner .club-form .form-box-mini {
    border: 0px solid transparent;
  }
  .car-banner .club-form .heading-banner {
    padding: 0px 20px;
    margin-bottom: -20px;
  }
  .car-banner .club-form .heading-banner > img {
    display: none;
  }
  .car-banner .club-form .heading-banner ul {
    text-align: left;
  }
  .car-banner .club-form .heading-banner ul li {
    font-size: 14px;
    width: auto;
    margin-right: 10px;
  }
  .car-banner .club-form .heading-banner h1 {
    margin-top: 20px;
    font-size: 26px;
  }
  #topbar .menuimg {
    left: 2px;
    background-color: transparent;
    padding: 3px;
  }
  #topbar #right-menu-items li.c2c {
    background-color: #ff6127;
    border: 1px solid #ff512b;
    color: #ffffff;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
    background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-left: 27px;
    padding-right: 7px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-top: -2px;
    margin-right: -10px;
    text-transform: none;
    cursor: pointer;
  }
  #topbar #right-menu-items li.c2c a {
    position: relative;
    color: transparent;
    font-size: 12px;
    width: 65px;
    height: 16px;
    overflow: hidden;
  }
  #topbar #right-menu-items li.c2c a:before {
    color: #ffffff;
    content: 'Click to call';
    display: block;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
  }
  #topbar #right-menu-items li.c2c:hover {
    background-color: rgba(249, 98, 6, 0.99);
  }
  #topbar #right-menu-items li.c2c .menuimg {
    display: block;
    top: 5px;
    padding: 5px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  #topbar .irda-auth-badge {
    top: 5px;
  }
  .about-us ul {
    padding-left: 18px;
  }
}
/* form box mini css*/
.form-box-mini {
  background-color: #314451;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px 20px 15px;
  border-bottom: 1px solid #3C3A3A;
}
.form-box-mini label {
  margin-bottom: 5px;
  display: block;
  color: #888888;
  font-weight: 400;
}
.form-box-mini .btn-cfox.btn-next {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.form-box-mini h3 {
  color: #404040;
  font-weight: 400;
  margin: 8px 0px;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
}
.form-box-mini h4 {
  color: #888888;
  font-size: 16px;
  margin-bottom: 15px;
}
.form-box-mini ul {
  padding: 0;
  margin-bottom: 10px;
  margin-top: 15px;
}
.form-box-mini ul li {
  background-image: none;
  color: #363636;
  cursor: pointer;
  list-style-type: none;
  padding-left: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
  position: relative;
  padding-top: 0;
  height: 35px;
  font-size: 14px;
}
.form-box-mini ul li .checkbox {
  position: absolute;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
  top: -1px;
  left: 0px;
  width: 22px;
  height: 22px;
  margin: 0px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.form-box-mini ul li .checkbox:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: none;
  background-color: #ff6127;
}
.form-box-mini ul li.active .checkbox:before {
  display: block;
}
.form-box-mini .error {
  background-color: #e996b0;
  color: rgba(0, 0, 0, 0.58);
  padding: 5px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-box-mini .cfinput {
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 14px 5px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.form-box-mini .cfinput.has-error {
  border-color: #8b0000;
  background-color: #FFE2EB;
}
.form-box-mini .cfinput.addon-field {
  padding-left: 40px;
  position: relative;
}
.form-box-mini .cfinput .addon {
  font-size: 14px;
  color: #363636;
  position: absolute;
  top: 15px;
  left: 8px;
}
.form-box-mini .cfinput input {
  border: 0;
  color: #363636;
  background-color: transparent;
  width: 100%;
}
.form-box-mini .cfinput input:hover,
.form-box-mini .cfinput input:focus,
.form-box-mini .cfinput input:active {
  outline: none;
}
.toll-free-box {
  margin-top: 30px;
}
.toll-free-box h3 {
  margin-top: 5px;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.7);
}
.car-banner .club-form .heading-banner.click2call {
  padding-top: 1px;
  padding-bottom: 50px;
  margin-bottom: -50px;
  background-color: #efeff4;
}
.companies-wrapper {
  height: auto;
}
.companies-wrapper:before {
  content: 'Choose plans from top companies';
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #363636;
  margin: 0px 0px 10px;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
  background: #EFEFF4;
}
