/* Color scheme definitions */
/* Color scheme definitions end */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
.terms-msg {
  margin: 10px 0;
  font-size: 10px;
}
/* hero banner css starts */
.hero-wrapper {
  background-color: #fff;
}
.hero-wrapper #topbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  z-index: 200;
}
.box-styling {
  max-width: 450px;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
}
/* Landing Page css */
.generic {
  padding-top: 0;
}
.generic .header_top {
  max-width: 450px;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}
.generic .header_top img {
  height: 60px;
}
.generic .benefit_container_page {
  border-bottom: 1px solid #eaeaea;
  padding: 50px 0px;
}
.generic .benefit_container_page .header_txt {
  color: #363636;
  line-height: 1.4em;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 15px 0 0;
  text-transform: uppercase;
  font-weight: 300;
}
.generic .benefit_container_page h1 {
  color: #ff6127;
  font-size: 36px;
  margin: 0 0 20px;
  font-weight: 300;
  line-height: 1.3em;
}
.generic .benefit_container_page ul {
  padding: 0;
  margin: 30px 0;
}
.generic .benefit_container_page ul li {
  margin: 15px 0;
  list-style: none;
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  color: #363636;
  font-weight: 600;
}
.generic .benefit_container_page ul li img {
  width: 22px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
}
.generic .benefit_container_page h2.benefit {
  margin: 0;
  position: relative;
  font-size: 26px;
  font-weight: 300;
}
.generic .benefit_container_page h2 {
  color: #363636;
}
.generic .benefit_container_page .base-box {
  padding: 10px 0px;
  display: block;
}
.generic .benefit_container_page .base-box ul {
  margin: 0px;
  list-style-type: none;
}
.generic .benefit_container_page .base-box ul li {
  opacity: 0.8;
  margin: 0px;
  padding: 5px 5px 5px 30px;
  display: block;
  float: left;
  color: #666;
  font-size: 10px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  font-weight: 400;
}
.generic .benefit_container_page .base-box ul li.icon-seal {
  opacity: 1;
  padding: 0px 5px;
  border: 0px;
}
.generic .benefit_container_page .base-box ul li.icon-seal img.icon {
  position: relative;
  top: 3px;
  left: 0px;
  width: 130px;
}
.generic .benefit_container_page .base-box ul li img.icon {
  position: absolute;
  top: 5px;
  left: 0px;
}
.generic .compair_container_log {
  background: #fff;
  max-width: 990px;
  margin: 40px auto 50px;
  padding: 0px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.generic .compair_container_log td {
  padding: 30px;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  line-height: 1.7em;
}
.generic .compair_container_log td .hlt {
  color: #ff6127;
}
.generic .compair_container_log .tab_bg td {
  color: #ffffff;
  padding: 10px 15px;
  font-weight: normal;
}
.generic .health_product {
  background-color: #f3f3f3;
}
.generic .health_product h3 {
  color: #045193;
  margin: 0 0 5px 15px;
  font-size: 18px;
}
.generic .health_product .desc_box {
  margin: 0px 0px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(234, 238, 241, 0);
  line-height: 1.7em;
  padding: 10px 20px;
  font-size: 14px;
  color: #363636;
  /*.boxShadow(0px 1px 2px rgba(0, 0, 0, 0.12));*/
}
.generic .health_product .desc_box h4 {
  margin: 15px 0;
  font-size: 18px;
  color: #324551;
  font-weight: 600;
}
.generic .health_product .desc_box ul {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  list-style-type: none;
}
.generic .health_product .desc_box ul li {
  background: url(../../img/check-icon.png) no-repeat 0px 2px transparent;
  -webkit-background-size: 20px;
  background-size: 20px;
  margin: 15px 0;
  padding-right: 10%;
  padding-left: 30px;
  font-size: 14px;
}
.generic .health_product .desc_box .btn-cfox.orange {
  max-width: 150px;
  font-size: 14px;
  padding: 8px 15px;
  letter-spacing: 1px;
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.generic .health_product .desc_box .btn-cfox.orange:hover,
.generic .health_product .desc_box .btn-cfox.orange:active {
  background-color: #ff6127;
  color: #fff;
}
.generic .margin-bottom-10 {
  margin: 0 0 10px 0;
}
.generic .form_container {
  margin: 0px;
}
.generic .form_container .error {
  color: #ffffff;
  margin: -10px 0px 10px;
  letter-spacing: 1px;
  padding: 2px 10px;
  background-color: red;
  display: block;
}
.generic .form_container .input_container {
  position: relative;
  padding: 0px;
}
.generic .form_container .input_container input {
  padding-left: 45px;
}
.generic .form_container .input_container span {
  position: absolute;
  color: #354789;
  top: 13px;
  left: 7px;
  font-size: 16px;
}
.generic .form_container .form_text_box {
  width: 100%;
  padding: 12px;
  color: #354789;
  display: block;
  margin: 0 0 20px;
  font-size: 16px;
  border: 1px solid #dadada;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05) inset;
}
.generic .form_container .form_text_box:focus {
  background: #fff;
}
.generic .tab_bg h4 {
  margin: 0;
}
.generic .companies-fold h1.section-header {
  font-size: 24px;
  margin-bottom: 15px;
}
.generic .companies-fold .companies-wrapper {
  background-color: transparent;
  border: 0px solid transparent;
}
.generic .health_product h3 {
  color: #363636;
}
.generic .form-highlight {
  max-width: 450px;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.19);
}
.generic .form-highlight h3 {
  margin: 5px 0px 20px;
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 400;
}
.generic .form-highlight h2 {
  font-weight: bold;
  font-size: 18px;
}
.generic .compair_container_log .tab_bg {
  background: #ffffff;
}
.generic .compair_container_log .tab_bg td {
  color: #222222;
  font-size: 14px;
}
.generic .compair_container_log .tab_bg td img {
  width: 100px;
}
/* Responsive css */
@media only screen and (min-width: 767px) and (max-width: 1199px) {
  .generic .header_top h1 {
    font-size: 32px;
  }
  .generic .benefit_container_page h2.benefit,
  .generic .benefit_container_page h2 {
    font-size: 24px;
  }
  .generic .benefit_container_page li {
    font-size: 16px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 990px) {
  .health_product .desc_box ul {
    margin: 0px;
    padding-left: 15px;
    font-size: 14px;
  }
  .generic .compair_container_log {
    margin-bottom: 30px;
  }
  .generic .compair_container_log td {
    padding: 20px 15px;
  }
  .generic .header_top img {
    max-width: 120px;
  }
  .generic .header_top h1 {
    margin-top: 10px;
    font-size: 30px;
  }
  .generic .benefit_container_page h2.benefit,
  .generic .benefit_container_page h2 {
    font-size: 24px;
  }
  .generic .benefit_container_page ul {
    margin: 30px 0 0px 0;
  }
  .generic .form_container .btn-cfox {
    width: 100%;
    display: block;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .generic .compair_container_log {
    margin-bottom: 30px;
    margin-top: 0px;
  }
  .generic .header_top img {
    max-width: 120px;
  }
  .generic .header_top h1 {
    margin-top: 10px;
    font-size: 30px;
  }
  .generic .benefit_container_page h2.benefit,
  .generic .benefit_container_page h2 {
    font-size: 24px;
  }
  .generic .benefit_container_page h2.benefit {
    margin-top: 0px;
  }
  .generic .benefit_container_page li {
    font-size: 18px;
  }
  .generic .form_container .btn-cfox {
    width: 100%;
    display: block;
  }
  .generic .scroll-visible {
    display: block !important;
  }
  .generic .compair_container_log {
    overflow-x: auto;
  }
  .generic .compair_container_log table {
    min-width: 700px;
  }
  .generic .compair_container_log table td {
    font-size: 13px;
    padding: 20px 15px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 550px) {
  .generic .logo-top-nw .logo {
    margin-bottom: 10px;
  }
  .generic .header_top h1 {
    font-size: 26px;
  }
  .generic .header_top .header_txt {
    font-size: 12px;
    line-height: 1.6em;
  }
  .generic .benefit_container_page li {
    font-size: 16px;
  }
  .generic .benefit_container_page h2 {
    font-size: 20px;
  }
  .generic .benefit_container_page h2.benefit {
    font-size: 20px;
  }
  .generic .benefit_container_page h2.benefit:after {
    display: none;
  }
  .generic .form_container .form_text_box {
    font-size: 16px;
  }
  .generic .form_container .input_container span {
    top: 13px;
    font-size: 16px;
  }
  .generic .smaller_heading {
    text-align: left !important;
  }
  .generic .benefit_container_page .base-box ul li.icon-seal img.icon {
    width: 105px;
  }
}
/* Responsive css ends */
/* Generic colors css ends */
