body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'brandon-grotesque', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  color: #314451;
}
.cubic-trans {
  -moz-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
}
.mnone {
  margin: 0;
}
.pnone {
  padding: 0;
}
.card {
  padding: 24px 16px;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.12);
}
