@import "../../css/base_theme";
@bannerBackgroundColor:#f6f5f3;
/* Overridden css for base_style.css */
.contact-me-error{
  color:red;
  margin-bottom: 5px;
}
.prnone{
  padding-right: 0;
}
.ptb{
  padding: 20px 0;
}
.hero-wrapper {
  background-color: #fff;
  &  #topbar {
    margin-bottom: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: #ffffff;
    z-index: 200;
  }
}
.terms-msg{
  font-size: 12px;
  margin: 10px 0;
}
.car-banner {
  position: relative;
  margin-top: -1px;
  padding:0;
  background: #324351 url(../img/bg.jpg) no-repeat bottom left;
  -webkit-background-size: cover;
  background-size: cover;
  height: 300px;
  
}
.motor_list{
  margin-bottom: 10px;
  .motor_container{
    border: 1px solid #ccc;
    padding: 16px;
    color:#324351;
    margin-bottom: 10px;
    h2{
      font-size: 24px;
    }
    p{
      font-size: 12px;
      line-height: 17px;
      margin: 0;
    }
    img{
      height: 170px;
      margin: auto;
    }
  }
}
.base-box {
  margin: 10px 0 15px 0;
  & ul {
    max-width:300px;
    margin:0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    & li {
      opacity: 0.8;
      margin: 0px;
      padding: 8px 18px 5px 38px;
      display:inline-block;
      vertical-align: top;
      color:#666;
      font-size: 10px;
      line-height: 1.2em;
      text-transform: uppercase;
      letter-spacing: 1px;
      position: relative;
      font-weight: 400;
      &.icon-seal {
        opacity: 1;
        padding: 0px 5px;
        border: 0px;
        img.icon {
          width: 120px;
          position: absolute;
          top:3px;
          left:0;
        }
      }
      & img.icon {
        position:absolute;
        top:5px;
        left:0px;
        width:25px;
      }
    }
  }
}
 .discription_container{
   color:#324351;
  margin: -80px 0 0 0;
    .iffco{
      img{
        background: #4A4A4A;
        padding:10px;
        border:1px solid #d0d0d0;
      }
    }
    .info_tab{
      padding: 0;
      .input_container{
        position: relative;
          .orange_btn {
          background-color: #ff6127;
          border: 2px solid #ff512b;
          padding: 5px 54px;
          font-size: 14px;
          font-weight: 800;
          color:#fff;
          max-width: 255px;
          }
        span{
          position: absolute;
          left:6px;
          top:6px;
        }
        input{
          padding: 7px 20px 6px 50px;
          .roundedCorners;
          border:2px solid #d0d0d0;
          outline: none;
          background: #f6f5f3;
          font-size: 12px;
          width: 255px;
        }
      }
      h1{
        font-size: 25px;
        color:#fff;
        margin: 32px 0;
      }
      .header_txt{
        font-size: 14px;
        text-transform: uppercase;
        color:#fff;
        letter-spacing: 1px;
      }
      p{
        margin: 10px 0;
      }
       p.tata_txt{
        margin: 20px 0 0 0;
      }
      p.tlk_expert{
        font-size: 16px;
      }
    }
    .car-tab{
      position: relative;
      img{
          position: absolute;
          right: 0px;
          top: -80px;
      }
    }
  }
  .discription_container_mobile{
    .phone_container{
      position: relative;
      .terms-msg{
        font-size: 11px;
      }
      .base-box{
        margin: 15px 0;
      }
      p{
        color:#324351;

      }
      .tlk_expert{
        margin: 15px 0 0 0;
        font-size: 16px;
      }
      .orange_btn {
          background-color: #ff6127;
          border: 2px solid #ff512b;
          padding: 5px 54px;
          font-size: 14px;
          font-weight: 800;
          color:#fff;
          width: 100%;
          }
        span{
          position: absolute;
          left:6px;
          top:39px;
          color:#324351;
        }
        input{
          padding: 7px 10px 6px 40px;
          .roundedCorners;
          border:2px solid #d0d0d0;
          outline: none;
          background: #f6f5f3;
          font-size: 12px;
          width: 100%;
          margin: 10px 0;

        }
    }
    background-color: #324351;
    padding: 15px;
    height: 150px;
    .main{
      margin: 25px 0 0 0;
    }
    .iffco{
      img{
        background: #fff;
        border:1px solid #d0d0d0;
      }
    }
    p{
      margin: 15px 0 0 0;
    }
    .make_sure{
      margin: 10px 0;
      color:#fff;
      font-size:12px;
    }
    h1{
      color: #fff;
      font-size: 21px;
      margin: 0 0 20px;
    }
  }
.renew_car_section{
  h3{
  font-size: 20px;
  font-weight: 400;
  margin: 0px;
  line-height: 1.2em;
  }
  ul{
    margin-bottom: 30px;
    padding: 0px;
    list-style: none;
    li{
        margin: 5px 0px;
        padding: 5px 5px 5px 30px;
        position: relative;
        img{
            .roundedCorners(50%);
            background-color: rgb(102, 102, 102);
            padding: 3px;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 10px;
            left: 0px;
            margin-right: 5px;
            display: inline-block;
        }
    }
  }
}
.company_logos{
  margin: 80px 0 0 0;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        margin: 10px 0;
        img{
          max-width: 110px;
        }
      }
    }
  }
/* Mobile optimisation for banner elements */

/* form box mini css*/

.form-box-mini {
  background-color: transparent;
  .roundedCorners(4px);
  label {
    margin-bottom:5px;
    display: block;
    color: #404040;
    font-weight: 400;
  }
  .closer {
    color: @lightTextColor;
    margin-top: 15px;
    font-size: 12px;
  }
  .btn-cfox.btn-next {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom:10px;
  }
  ul {
    padding:0;
    margin-bottom: 10px;
    margin-top:10px;
    & li {
      background-image: none;
      color: @textColor;
      cursor: pointer;
      list-style-type: none;
      padding-left: 30px;
      position: relative;
      padding-top: 0;
      height: 35px;
      font-size: 14px;
      & .checkbox {
        position: absolute;
        top: 4px;
        left: 0px;
        width: 14px;
        height: 14px;
        margin: 0px;
        background-color: #ffffff;
        border: 1px solid rgba(0,0,0,0.3);
        .roundedCorners(50%);
        &:before {
          content:'';
          position: absolute;
          top:3px;
          left:3px;
          .roundedCorners(50%);
          width:6px;
          height:6px;
          display: none;
          background-color: @baseThemeColor;
        }
      }
      &.active {
        font-weight: 700;
        & .checkbox {
          &:before {
            display: block;
          }
        }
      }
    }
  }
  .error {
    background-color: rgb(233, 150, 176);
    color: rgba(0, 0, 0, 0.58);
    padding: 5px;
    margin-bottom: 10px;
    .roundedCorners(3px);
  }
  .cfinput {
    border: 1px solid rgba(0,0,0,0.5);
    padding:10px 5px;
    background-color: #ffffff;
    .roundedCorners(3px);
    margin-bottom:10px;
    &.has-error {
      border-color: #8b0000;
      background-color: #FFE2EB;
    }
    &.addon-field {
      padding-left:40px;
      position: relative;
    }
    .addon {
      font-size: 14px;
      color:#363636;
      position: absolute;
      top:11px;
      left:8px;
    }
    input {
      border: 0;
      color: #363636;
      background-color: transparent;
      width: 100%;
      &:hover,&:focus,&:active {
        outline: none;
      }
    }
  }
}
@media only screen and (min-width : 200px) and (max-width : 767px) {
  .only_mobile{
    margin: 276px 0 0 0;
  }
  .base-box ul li.icon-seal img.icon {
  width: 73px;
  position: absolute;
  top: 12px;
  left: 0;
  }
  .base-box ul li{
    padding-right: 4px;
    font-size: 9px;
  }
  .companies-wrapper ul.company-logos li img{
    height: 23px;
  }
  .light-box h1, .dark-box h1{
    font-size: 20px;
  }
  .light-box{
    padding: 50px 0px 40px;
  }
  .hero-wrapper{
    background-color: #fff;
  }
  .companies-wrapper{
    top:245px;
    height: 375px;
    background: none;
  }
  .car-banner {
    padding:0px;
    background-image: none;
  }
  .discription_container_mobile .make_sure{
    margin: 24px 0 10px 0;
  }
  .form-box-mini {
    & .cfinput, & .btn-cfox {
      max-width: 400px;
    }
  }
}

@media only screen and (min-width : 1600px) {
  .car-banner {
    max-width:1480px;
    margin-left:auto;
    margin-right:auto;
  }
}
@media only screen and (min-width : 200px) and (max-width : 950px) {
  .discription_container .car-tab img {
    top: -36px;
  }
  .discription_container .info_tab .input_container input{
    max-width: 150px;
  }
  .discription_container .info_tab h1{
    margin: 13px 0;
  }
  .discription_container .info_tab .header_txt{
    font-size: 13px;
  }
  .renew_car_section ul{
    margin: 0;
  }
}
@media only screen and (min-width : 200px) and (max-width : 320px) {
  .discription_container_mobile{
    .make_sure{
      margin: 20px 0 0 0;
      font-size: 12px;
    }

  }
}
@media only screen and (min-width : 200px) and (max-width : 450px) {
  .discription_container_mobile p {
  margin: 28px 0 0 0;
}
  .form-box-mini{
    ul{
      margin-top: 7px;
      li{
        font-size: 11px;
        height: 27px;
      }
    }
  }
}
@media only screen and (min-width : 450px) and (max-width : 770px) {
  .discription_container_mobile p {
  margin: 54px 0 0 0;
}
.discription_container_mobile .make_sure {
  font-size: 14px;
  }
}

