.ft_container table { border-width: 0px; margin: 0px; border-collapse: collapse; margin: 0; outline-style: none; font-size: 0.9em; table-layout: fixed; }

.ft_container table tr th {	font-weight: bold; }

.ft_container table thead { -moz-user-select: none;-webkit-user-select: none;}
.ft_container table tr th,
.ft_container table tr td { border-collapse: collapse; padding: 2px 4px; word-wrap: break-word; border: 1px solid #DDDDDD; border-top-width: 0px; border-left-width: 0px; border-right-width: 1px; border-bottom-width: 1px; overflow:hidden; word-wrap: break-word;}

.ft_container table tr:first-child td,  
.ft_container table tr:first-child th { border-top-width: 1px; border-color: #CCCCCC; }
.ft_container table tr td:first-child,
.ft_container table tr th:first-child { background-color:#FFFFFF;,border-left-width: 1px; border-color: #CCCCCC; }

.ft_container { overflow: hidden; padding: 2px; }

.ft_rel_container { position: relative; overflow: hidden; border-width: 0px;}

.ft_r, .ft_rc { background-image: none; }
.ft_rc { position: absolute; z-index: 1005; }
.ft_r, .ft_c { position: relative; }

.ft_rwrapper, .ft_cwrapper { overflow: hidden; position: absolute; z-index: 1001; border-width: 0px;  padding: 0px; margin: 0px; }
/*.ft_rwrapper { width: 100%; padding-right: 17px; }*/

.ft_scroller { width: 100%; overflow: auto; height: 100%; padding: 0px; margin: 0px;}

.ft_container tbody tr.ui-widget-content, thead.ui-widget-header { background-image: none; }

.ft_container table.sorttable thead tr th { cursor: pointer; }
.ft_container table thead tr th.fx_sort_bg{ background-image: url(../images/bg.gif); background-position: right center; background-repeat: no-repeat; }
.ft_container table thead tr th.fx_sort_asc{ background-image: url(../images/asc.gif); }
.ft_container table thead tr th.fx_sort_desc{ background-image: url(../images/desc.gif); }
