table#manage-table {
    vertical-align:middle;
    background-color:#FFFFFF;
}
a#edit-button {
    color:#222222;
    font-weight:normal;
    padding:10px 50px;
}
table#manage-table tr {
    background-color:#FFFFFF;
}
table.ft_c tr.ui-widget-content td:first-child {
    background-color:#182C32;
    border-color: rgba(255,255,255,0.08);
    color:#FFFFFF;
    font-size:16px;
    font-weight:bold;
    line-height:24px;
}
th.slab div{
    padding:10px;
    text-align:center;
}
th.slab{
    background-color:#56423C;
    font-size:20px;
}
#fmodal, #smodal {
    width:80%;
    left:30%;
    top:4%;
}
#bottom-bar {
    position:fixed;
    bottom:0px;
    width:100%;
    height:25px;
    background-color:rgba(13, 13, 13, 0.87);
    font-size:15px;
    color:#FFFFFF;
    padding:3px;
    z-index:10000;
}
table#manage-table td.tditem button, table#manage-table td.tditem label {
    font-size:12px;
}
table#manage-table td.tditem.selected {
    color:#FFFFFF;
    background-color:#EF3F3F;
}
table#manage-table td.tditem.detach_selected {
    color:#FFFFFF;
    background-color:#3F7DEF;
}
table#manage-table tr.trattribute.selected {
    background-color: #EEEEEE;
}
.deleted {
    color:red;
    font-weight:bold;
}
.editing {
    color:blue;
    font-weight:bold;
}
.error {
    color:#E112E0;
}
.hovered {
    background-color:#A0A0A0;
    color:#FFFFFF;
}
table#manage-table td.hovered a {
    color:#FFFFFF;
}
table#manage-table td a {
    color:#3D64EE;
    font-weight:normal;
}
div.tagsinput {
    width:90%;
}
form ul {
    list-style: none outside none;
    margin-left: 0;
}
form ul li{
    float:left;
    margin-left:50px;
}
textarea.code {
    background-color:#222222;
    color:#00FF00;
}
.popover {
    color:#222222;
}


/*----- PACEJS ------- */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background: #29d;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
  transform: translateX(100%) translateY(-100%) rotate(45deg);
  pointer-events: none;
}
.pace.pace-active .pace-activity {
  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
  transform: translateX(50%) translateY(-50%) rotate(45deg);
}

.pace .pace-activity::before,
.pace .pace-activity::after {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: block;
    border: 5px solid #fff;
    border-radius: 50%;
    content: '';
}

.pace .pace-activity::before {
    margin-left: -40px;
    width: 80px;
    height: 80px;
    border-right-color: rgba(0, 0, 0, .2);
    border-left-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-rotation 3s linear infinite;
    animation: pace-rotation 3s linear infinite;
}

.pace .pace-activity::after {
    bottom: 50px;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    border-top-color: rgba(0, 0, 0, .2);
    border-bottom-color: rgba(0, 0, 0, .2);
    -webkit-animation: pace-rotation 1s linear infinite;
    animation: pace-rotation 1s linear infinite;
}

@-webkit-keyframes pace-rotation {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@keyframes pace-rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

#notes_slider {
    position:fixed;
    left:0;
    bottom:0;
    z-index:2000;
    height:0px;
}
#notes_slider  form{
    margin-left:0px;
    background-color:#CEDCE4;
    padding: 5px 5px 9px 7px;
    border-radius: 0 0 0 4px;
    border: 1px solid #A6A3EC;
    box-shadow: 7px 4px 6px #999;
}
#notes_slider  form label {
    font-weight: bold;
    text-transform: uppercase;
    color: #5A5A5A;
}
#notes_slider  form textarea {
    height:300px;
}

#score_slider {
    position:fixed;
    right:0;
    bottom:0;
    z-index:2000;
    height:0px;
}
#score_slider  form{
    margin-left:0px;
    background-color:#CEDCE4;
    padding: 5px 5px 9px 7px;
    border-radius: 0 0 0 4px;
    border: 1px solid #A6A3EC;
    box-shadow: 7px 4px 6px #999;
}
#score_slider  form label {
    font-weight: bold;
    text-transform: uppercase;
    color: #5A5A5A;
}
#score_slider  form textarea {
    height:300px;
}
#verbose_sidebar {
    height:90%;
    position:fixed;
    overflow-x:scroll;
    width:200px;
    top:0px;
    right:0px;
    background-color:#F7F7F7;
    padding:5px;
    box-shadow: 7px 4px 6px #999999;
    border: 1px solid #A6A3EC;
    border-left:2px solid #A6A3EC;
}
.form_container {
    margin-left:10px;
    width:80%;
    margin-bottom:100px;
}
#context_menu {
    position:absolute;
    background-color:#FFFFFF;
    box-shadow: 7px 4px 6px #999999;
    border: 1px solid #A6A3EC;
    width:200px;
    height:50px;
    z-index:10000;
    padding:3px;
}
.tditem ul.errors {
    color:red;
    font-size:12px;
    font-weight:normal;
}
.tditem ul.verbose {
    color:blue;
    font-size:12px;
    font-weight:normal;
}
.rejected {
    color:#FF0000;
    border:1px solid #FF0000;
    padding:3px;
    background-color:#E0BCBA;
    margin:3px;
}
