<div>
    <div id="mobi-wrapper" class="cubic-trans" data-bind="css:{initial:stepNav.currentStep() < 4}"><!-- add/remove class initial for result and initial mode --><!-- add overlay-mode when using modals -->
        <header class="navbar navbar-fixed-top cf-navbar" role="navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-3 text-left clearfix">
                        <a class="cf-navbar-brand mpoint" href="/">
                            <img alt="Coverfox" src="/static/health_product/mobilev2/app/assets/img/coverfox-logo-colored.png">
                        </a>
                    </div><!--/.col-xs- -->
                    <div class="col-xs-9 intro">
                        Health Insurance
                    </div>
                </div><!--/.row-->
            </div><!-- /.container-fluid -->
        </header><!-- /.navbar -->
        <div class="call-box-fixed">
            <div class="container-fluid">
                <div class="row">
                    <!--div class="col-xs-6 pnone call-option or">
                       <img alt="" src="/static/health_product/mobilev2/app/assets/img/clock.png">&nbsp;&nbsp;Schedule a call />
                    </div-->
                    <div class="col-xs-6 pnone call-option else">
                        Health Insurance
                        <!--div>Querry?, buying a health plan</div-->
                    </div>
                    <div class="col-xs-6 call-option bnone mpoint plnone">
                        <a style="display:block;" data-bind="attr : {href : 'tel:' + health_toll_free}">
                            <span class="action cf-btn-green">
                                <!--img alt="" src="/static/health_product/mobilev2/app/assets/img/mobile.png"--> Call Us
                            </span>
                            <div class="number">
                                <i>Toll Free</i>
                                <div data-bind="text:health_toll_free"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pnone">
            <div class="row row-offcanvas row-offcanvas-left cubic-trans mnone">
                <div class="sidebar-offcanvas cubic-trans" id="sidebar">
                    <div class="tool-link-bar" data-bind="visible:stepNav.currentStep() < 4">
                        <!-- Step by step wizard indicator -->
                        <ul class="tiny-wizard">
                            <li data-bind="css:{'active': stepNav.currentStep() == 1, 'done':stepNav.currentStep() > 1}">
                                <span>1</span>
                                <span class="check-icon"><i class="tick-icon-white"></i></span>
                            </li>
                            <li class="center" data-bind="css:{'active': stepNav.currentStep() == 2, 'done':stepNav.currentStep() > 2}">
                                <span>2</span>
                                <span class="check-icon"><i class="tick-icon-white"></i></span>
                            </li>
                            <li data-bind="css:{'active': stepNav.currentStep() == 3, 'done':stepNav.currentStep() > 3}">
                                <span>3</span>
                                <span class="check-icon"><i class="tick-icon-white"></i></span>
                            </li>
                        </ul>
                        <!-- Step by step wizard indicator ends -->
                    </div><!--/.tool-link-bar-->

                    <!-- gender selection step -->
                    <div style="padding-top:10px;" class="cf-step-nav cubic-trans" data-bind ="css:{'cf-hide': stepNav.currentStep() != 1}">
                        <h4 class="head">Select your gender</h4>
                        <div class="btn-group gender-buttons">
                            <a class="btn btn-gender" data-bind="css:{active:step1.gender() == 'MALE'},click:step1.selectGender.bind($data, 'MALE')">
                                Male
                            </a>
                            <a class="btn btn-gender" data-bind="css:{active:step1.gender() == 'FEMALE'},click:step1.selectGender.bind($data, 'FEMALE')">
                                Female
                            </a>
                        </div>
                        <div class="error" data-bind="validationMessage:step1.gender"></div>
                        <h4 class="head" style="margin-top:30px;">Want Health Insurance for?</h4>
                        <div id="memberSelector" data-bind="foreach:step1.members" class="clearfix">
                            <div class="member mpoint cf-checkbox" data-bind="css:{active:selected()},click:$parent.step1.selectMember">
                                <span class="add">
                                    <i class="input-helper"></i>
                                    <!--img src="/static/health_product/mobilev2_steps/app/assets/img/tick-square-empty.png" alt=""-->
                                    Add&nbsp;<span data-bind="text:displayName == 'You' ? 'Yourself':displayName"></span>
                                </span>
                                <span class="added">
                                    <i class="input-helper"></i>
                                    <!--img src="/static/health_product/mobilev2_steps/app/assets/img/tick-square-orange.png" alt=""-->
                                    <span data-bind="text:displayName == 'You' ? 'Yourself':displayName"></span>
                                </span>
                            </div><!--/.member -->
                        </div>
                        <div class="clearfix kid-buttons" data-bind="visible:step1.getSelectedKids().length < 7">
                            <a class="mpoint btn cf-btn-green btn-kid btn-empty" data-bind="click:step1.addKid.bind($data, 'son')">Add Son</a>
                            <a class="mpoint btn cf-btn-green btn-kid btn-empty" data-bind="click:step1.addKid.bind($data, 'daughter')">Add Daughter</a>
                        </div>
                        <div class="error" data-bind="validationMessage : step1.members"></div>
                        <a data-bind="click:stepNav.nextStep" class="btn btn-primary btn-lg btn-block btn-continue cf-btn-orange">Next</a>
                        <div class="form-margin"></div>
                    </div>
                    <!-- gender selection step end -->

                    <!-- age of insured person section -->
                    <div class="cf-step-nav cubic-trans" data-bind ="css:{'cf-hide': stepNav.currentStep() != 2}">
                        <h4 class="head">Enter age of members</h4>
                        <div class="tooltip-head">
                            Insurance for <span data-bind="text:step2.insuranceFor()"></span>
                        </div>
                        <table class="table table-age">
                            <tbody data-bind="foreach:step1.getSelectedMembers">
                            <tr>
                                <td class="name">
                                    <span class="table-member" data-bind="text:displayName"></span>
                                </td>
                                <td>
                                    <div class="form-group text-center" style="margin-bottom:0px;" data-bind="validationElement: age, css:{'two-fields': age() == 0}">
                                        <div class="input-group">
                                            <select class="form-control text-center" data-bind="options:ageList,
                                                    optionsText: function(a){
                                                        if(a == 0){
                                                            return '< 1';
                                                        }
                                                        return a;
                                                    },
                                                    value: age, optionsCaption:'Select age'"></select>
                                            <span class="input-group-addon" data-bind="text:'year'+(age()<=1?'&nbsp;&nbsp;':'s')">year</span>
                                        </div>
                                        <div data-bind="if: age() == 0">
                                            <div class="input-group" style="margin-left:2%;">
                                                <select class="form-control text-center" data-bind="options:$parent.step1.toddlerAgeList, value: age_in_months, optionsCaption:'Select age'"></select>
                                                <span class="input-group-addon" data-bind="text:'month'+(age_in_months()==1?'&nbsp;&nbsp;':'s')">month</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="error" data-bind="validationMessage : step1.cumulativeAgeError"></div>
                        <a data-bind="click:stepNav.nextStep" class="btn btn-primary btn-lg btn-block btn-continue cf-btn-orange">Next</a>
                        <a class="prev-step" data-bind="click: stepNav.manualGoBack">Previous step</a>
                        <!--div class="help-text">
                            Persius officiis eloquentiam ut sed, ius nostrud sensibus ea. Eu ullum inani posidonium quo.zzrils quaestio intellegat in quo.
                        </div-->
                        <div class="form-margin"></div>
                    </div>
                    <!-- age of insured person section ends -->


                    <div class="cf-step-nav cubic-trans" data-bind ="css:{'cf-hide': stepNav.currentStep() != 3}">
                        <!-- Product type section -->
                        <h4 class="head">Policy Type</h4>
                        <div id="productType" style="margin-bottom:40px;" class="radio-list">
                            <a data-bind="css:{active: step3.product_type() == 'INDEMNITY' }, click:step3.selectProductType.bind($data,'INDEMNITY')" class="mpoint cf-radio">
                                <i class="input-helper"></i>
                                New Health Policy
                            </a>
                            <a data-bind="css:{active: step3.product_type() == 'SUPER_TOPUP' }, click:step3.selectProductType.bind($data,'SUPER_TOPUP')" class="mpoint cf-radio">
                                <i class="input-helper"></i>
                                Super Top-up (Have an existing policy?)
                            </a>
                        </div><!--/.radio-list-->
                        <!-- Product type section ends -->

                        <!-- Existing Sum Assured Section -->
                        <!-- ko if: step3.is_topup() -->
                        <h4 class="head">Existing Sum Assured</h4>
                        <div class="form-group text-center" style="margin-bottom:0px;" data-bind= "validationElement: step3.deductible">
                            <select class="form-control text-center" data-bind="options: step3.deductibleOptions, optionsText: 'name', optionsValue: 'id', value:step3.deductible, optionsCaption: 'Select'">
                            </select>
                        </div>
                        <div class="error" data-bind="validationMessage : step3.deductible"></div>
                        <!-- /ko -->
                        <!-- Existing Sum Assured Section Ends-->

                        <div class="pincode-field" data-bind="css:{'club':step3.hasFamily() && step3.hasParents()}">
                            <div data-bind="visible:step3.hasFamily()">
                                <h4 style="margin-top:15px;" class="head">Your area pin code</h4>
                                <div class="form-group text-center" style="margin:0px;" data-bind="validationElement:step3.userPincode">
                                    <input class="form-control" type="number" placeholder="enter pin code"
                                           data-bind = "value : step3.userPincode"/>
                                </div>
                                <div class="error" data-bind = "validationMessage : step3.userPincode"></div>
                            </div>
                            <div data-bind="visible:step3.hasParents()">
                                <h4 style="margin-top:15px;" class="head">Parent's area pin code</h4>
                                <div class="form-group text-center" style="margin:0px;" data-bind="validationElement:step3.parentsPincode">
                                    <input class="form-control" type="number" placeholder="enter pin code"
                                           data-bind = "value : step3.parentsPincode"/>
                                </div>
                                <div class="error" data-bind = "validationMessage : step3.parentsPincode"></div>
                            </div>
                        </div>
                        <a id="toggle-offnav" data-bind="click:stepNav.nextStep" class="btn btn-primary btn-lg btn-block btn-continue cf-btn-orange">Continue to results</a>
                        <a class="prev-step" data-bind="click:stepNav.manualGoBack">Previous step</a>
                        <div class="form-margin"></div>
                    </div>
                </div><!--/sidebar-offcanvas-->
            </div><!--/row,offcanvas-->
        </div><!--/.container-->
        <footer class="cf-footer clearfix">
            <div class="container-fluid pnone">
                <a data-bind="attr : {href : 'tel:' + health_toll_free}" style="display:block;">
                    <div class="call-box">
                        <div class="number-bar">
                            Queries?
                            <h4>Talk to an Expert</h4>
                        </div>
                            <span class="btn btn-block action cf-btn-green">
                                <img alt="" src="/static/health_product/mobilev2/app/assets/img/mobile.png">Call us Now
                                <div>
                                    <span style="font-size:16px;" data-bind="text : health_toll_free"></span>
                                    <em>-Toll Free</em>
                                </div>
                            </span>
                    </div>
                </a>
                <div style="line-height:1.6em;padding:0px 10px">
                    <p>&copy; 2015 All rights reserved</p>
                    <p>Coverfox Insurance Broking Pvt. Ltd. <br>3rd Floor, A wing <br>Krislon House <br>Saki vihar road <br>Saki Naka, Maharashtra - 400072</p>
                    <p><strong>IRDA Direct Broker licence no</strong> <br>IRDA/ DB 556/ 13 <br><strong>Principal Officer:</strong> Varun Dua</p>
                    <p>Insurance is a subject matter of solicitation.</p>
                    <p style="font-size:12px;margin-top:15px;"><em>follow us on</em></p>
                    <ul class="cf-social clearfix">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/Coverfox.Insurance">
                                <img title="Facebook" alt="Facebook" src="/static/health_product/mobilev2_steps/app/assets/img/facebook.png">&nbsp;facebook
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons&amp;screen_name=coverfox&amp;source=followbutton&amp;variant=2.0">
                                <img title=twitter" alt="Twitter" src="/static/health_product/mobilev2_steps/app/assets/img/twitter.png">&nbsp;twitter
                            </a>
                        </li>
                        <li>
                            <a target="_blank" rel="publisher" href="//plus.google.com/110481288431304590429?prsrc=3">
                                <img title="Google+" alt="Google+" src="/static/health_product/mobilev2_steps/app/assets/img/googleplus.png">&nbsp;google+
                            </a>
                        </li>
                        <!--li> <a href="#"> <img src="http://cfstatic.org/static/lp3/img/Linkedin.png" alt=""> </a> </li-->
                    </ul>
                </div>
            </div><!--container-fluid-->
        </footer>
    </div><!--/#mobi-wrapper-->
    <div>
        <div class="loading-screen" data-bind="visible: stepNav.currentStep() > 3">
            <img src="/static/health_product/mobilev2/app/assets/img/loading-big.gif" alt="">
            <h4>Processing...</h4>
        </div>

        <!-- Get an expert overlay -->
        <div class="mobi-overlay cubic-trans get-expert" data-bind ="css:{'active': stepLead.leadOverlay()}">
            <div class="overlay-intro">
                <div class="max-width">
                    <!--img class="mono-logo" alt="Coverfox" src="/static/health_product/mobilev2/app/assets/img/icon_mono.png"-->
                    <h3>Get an expert to help you</h3>
                </div>
            </div>
            <div class="expert-content">
                <div class="lead-loader" data-bind="visible:stepLead.loading()">
                    <img src="/static/health_product/mobilev2/app/assets/img/loading-big.gif" alt="" />
                    <h4>Requesting a call...</h4>
                </div>
                <div class="expert">
                    <img class="photo" data-bind="attr:{src:stepLead.expertImage}" alt="">
                    <h4>Talk to <span class="text-capitalize" data-bind="text:stepLead.expert"></span></h4>
                    <p class="designation">Coverfox Health Relationship Manager</p>
                </div>
                <p><span class="text-capitalize" data-bind="text:stepLead.expert"></span> has helped <strong>over 100 people</strong> make the right choice, just this month!</p>
                <div class="input-group form-bg" data-bind="css:{'has-error': stepLead.mobileNo.isModified() && !stepLead.mobileNo.isValid()}">
                    <span class="input-group-addon">+91</span>
                    <input type="number" data-bind="value:stepLead.mobileNo" placeholder="Your mobile no." class="form-control">
                <span class="input-group-btn">
                    <button data-bind="click:stepLead.callMe.bind($data,'pre-results')" type="button" class="btn cf-btn-orange" style="width:80px;">Call me</button>
                </span>
                </div>
                <p class="text-center text-danger" data-bind="visible: stepLead.mobileNo.isModified() && stepLead.mobileNo.error(), text:stepLead.mobileNo.error()"></p>
                <p class="proposition text-muted">
                    <strong>NO SPAM calls. Guaranteed.</strong><br>
                    We respect your time and privacy.
                </p>
            </div>
            <div id="skip-lead">
                <button class="btn cf-btn-orange" data-bind="click: stepNav.resultRedirect">Skip to results &rarr;</button>
            </div>
        </div><!--/.mobi-overlay-->

        <!--Thank you message-->
        <div class="mobi-overlay cubic-trans get-expert" data-bind ="css:{'active': stepLead.thanksMessage()}">
            <div class="expert-content thnx">
                <h4>Thanks for showing your interest in Coverfox</h4>
                <p class="lead"><span class="text-capitalize" data-bind="text:stepLead.expert"></span> will call you shortly</p>
                <button data-bind="click: stepNav.resultRedirect" class="btn btn-lg cf-btn-orange">Continue to results</button>
            </div>
        </div>
    </div><!--/.mobi-overlay-->
</div>
