
.car-product{
    display: block !important;
}
.cf-input {
  color: #314451;
  margin-bottom: 10px;
  background-color: #fff;
  position:relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 54px;
  padding: 10px;
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  width: 100%;
}
.addon{
position: absolute;
padding-top: 18px;
left: 50px;
color:rgba(49, 68, 81, 0.7);
}
.cfinput input{
padding-left: 55px;
border: 1px solid rgba(0, 0, 0, 0.2);
height: 53px;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
width: 40%;
outline: none;
}

.error{
    color: #f00;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;

}
.cf-input:focus,
.cf-input:active {
  outline: none;
}
.input-mobile {
  position: relative;
}
.input-mobile .cf-input {
  padding-left: 40px;
}
.input-mobile:before {
  color: #314451;
  position: absolute;
  z-index: 1;
  width: 30px;
  text-align: center;
  top: 16px;
  left: 4px;
  content: '+91';
  display: inline-block;
}
.cf-select-dd,
.cf-special-ip {
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px 5px 5px;
  height: 53px;
  display: block;
  /*
  &.selected {
    padding-top:20px;
    & label {
      display: block;
    }
  }
  */
}
.cf-select-dd label,
.cf-special-ip label {
  display: block;
  text-transform: uppercase;
  color: rgba(49, 68, 81, 0.7);
  font-size: 10px;
  position: absolute;
  top: 8px;
  left: 17px;
  letter-spacing: 1px;
  z-index: 1;
}
.cf-select-dd .input-mobile,
.cf-special-ip .input-mobile {
  position: relative;
}
.cf-select-dd .input-mobile input,
.cf-special-ip .input-mobile input {
  padding-left: 40px;
}
.cf-select-dd .input-mobile:before,
.cf-special-ip .input-mobile:before {
  top: 2px;
  font-size: 12px;
}
.cf-select-dd input,
.cf-special-ip input {
  position: relative;
  top: -3px;
}
.cf-select-dd select,
.cf-special-ip select,
.cf-select-dd input,
.cf-special-ip input {
  background-color: #fff;
  border: 1px solid #fff;
  padding: 4px 15px;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.cf-select-dd select:focus,
.cf-special-ip select:focus,
.cf-select-dd input:focus,
.cf-special-ip input:focus,
.cf-select-dd select:active,
.cf-special-ip select:active,
.cf-select-dd input:active,
.cf-special-ip input:active {
  outline: none;
}
.cf-special-ip {
  padding-top: 13px;
  -moz-transition: padding-top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: padding-top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: padding-top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: padding-top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.cf-special-ip .input-mobile:before {
  font-size: 16px;
}
.cf-special-ip input {
  font-size: 16px;
}
.cf-special-ip.selected {
  padding-top: 20px;
}
.cf-special-ip.selected .input-mobile:before {
  font-size: 12px;
}
.cf-special-ip.selected input {
  font-size: 12px;
  padding-top: 18px;
}
.select-input {
  position: relative;
  color: #314451;
  margin-bottom: 10px;
}
.select-input .triangle {
  cursor: pointer;
  opacity: 0.6;
  z-index: 1;
  display: block;
  position: absolute;
  top: 18px;
  right: 10px;
  width: 16px;
  height: 16px;
  background: url('../img/ic_triangle_down.png') no-repeat center center transparent;
}
.select-input.active .triangle {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.select-input > div {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 54px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 14px 10px 10px;
}
.select-input > div > span {
  color: #999;
}
.select-input ul {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
}
.select-input ul.dt li {
  padding: 5px 10px;
}
.select-input ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  cursor: pointer;
}
.select-input ul li:hover {
  color: #ff704c;
}
.select-input ul li small {
  color: #5a6974;
}
.select-input.active ul {
  display: block;
}
.select2-container.select2-dropdown-open .select2-choice .select2-arrow {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.select2-container.select2-dropdown-open .select2-choices::after {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.select2-results li {
  font-size:14px;
}
.cf-radio {
  font-size: 12px;
  color: #5a6974;
  display: inline-block;
  margin: 8px 16px 16px 0;
}
.cf-radio input[type='radio'] {
  display: none;
}
.cf-radio input[type='radio']:checked + span {
  border-color: orange;
}
.cf-radio input[type='radio']:checked + span:before {
  display: block;
}
.cf-radio > span {
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  margin: -3px 5px 0 0;
  width: 20px;
  height: 20px;
  padding: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.cf-radio > span:hover {
  border-color: #ff704c;
}
.cf-radio > span:before {
  display: none;
  content: '';
  width: 10px;
  height: 10px;
  background: #ff704c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.error-text {
  display: none;
  font-weight: 400;
  color: #ff0000;
  font-size: 12px;
  margin: 0px 0 10px;
}
.vehicle-details,
.bike-details {
  margin-top: 10px;
}
.registration-details .label {
  font-family: 'Lato', sans-serif;
  color: #5a6974;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  display: inline-block;
}
p.intro {
  font-weight: 400;
  margin: 8px 4px 20px;
  color: #5a6974;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}
.exp-process {
  margin-bottom: 30px;
}
.process {
  padding: 6px 5px 10px 33px;
  color: #314451;
  position: relative;
  font-size: 12px;
  line-height: 1.2em;
}
.process strong {
  padding: 6px 10px;
  color: #363636;
  position: absolute;
  margin-right: 5px;
  top: 0;
  font-size: 14px;
  left: 0;
  background-color: #efeff4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.widget-form-box {
  padding: 1px 0px 0px;
  border-top: none;
  border-bottom: none;
  margin-bottom: 0px;
}
.widget-form-box span.age select:hover,
.widget-form-box span.age select:focus,
.widget-form-box span.age select:active {
  outline: none;
}
.widget-form-box .healthcare-options {
  margin-top: 10px;
  margin-bottom: 10px;
}
.widget-form-box .healthcare-options label,
.widget-form-box .gender-radio label {
  color: #5a6974;
  font-size: 14px;
}
.widget-form-box .healthcare-options label.active,
.widget-form-box .gender-radio label.active {
  font-weight: normal;
  color: #5a6974;
}
.widget-form-box .error {
  font-family: 'Lato', sans-serif;
  padding: 0px;
  position: relative;
  top: -10px;
  font-size: 12px;
  font-weight: 400;
  color: #ff0000;
  background-color: transparent;
}
.widget-form-box h4 {
  color: #445f71;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 0;
}
.widget-form-box h4:before {
  display: none;
}
.widget-form-box .options ul li {
  line-height: 1.4em;
  padding: 7px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 37px;
  min-width: 100px;
  margin-bottom: 5px;
  vertical-align: bottom;
}
.widget-form-box .options ul li.add {
  padding: 8px 10px;
}
.widget-form-box .add-kids,
.widget-form-box .self-options {
  margin-top: 10px;
}
.widget-form-box .add-kids {
  margin-bottom: 10px;
}
.widget-form-box .options ul li span.age select {
  padding-top: 0;
  padding-bottom: 0;
}

.select2-drop {
  font-size: 12px;
}
.self-options .select2-container .select2-choice,
.kids-options .select2-container .select2-choice {
  margin-top: -3px;
  border: none;
  height: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-top: 0px;
  background: transparent;
}
.self-options .select2-container.has-error .select2-choice,
.kids-options .select2-container.has-error .select2-choice {
  color: #ff704c;
}
.self-options .select2-container .select2-choice abbr,
.kids-options .select2-container .select2-choice abbr,
.self-options .select2-container .select2-choice .select2-arrow,
.kids-options .select2-container .select2-choice .select2-arrow {
  background: url('../img/ic_triangle_down.png') no-repeat center transparent;
  border-left: none;
  right: 0px;
  opacity: 0.6;
}
.self-options .select2-container .select2-choice abbr,
.kids-options .select2-container .select2-choice abbr {
  background-color: #fff;
  width: 18px;
  height: 100%;
  top: 0;
  position: relative;
}
.cf-select-dd {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  padding: 0;
}
.cf-select-dd .select2-container {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.cf-select-dd .select2-container .select2-choice {
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #5a6974;
  padding-top: 13px;
  padding-left: 16px;
  background: transparent;
  -moz-transition: padding-top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: padding-top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: padding-top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: padding-top 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.cf-select-dd.selected .select2-container .select2-choice {
  padding-top: 20px;
}
.cf-select-dd .select2-container.select2-container-active .select2-choice {
  border-color: #5897fb;
}
.cf-select-dd .select2-container .select2-choice abbr,
.cf-select-dd .select2-container .select2-choice .select2-arrow {
  background: url('../img/ic_triangle_down.png') no-repeat center transparent;
  border-left: none;
  right: 5px;
  opacity: 0.6;
}
.cf-select-dd .select2-container .select2-choice abbr {
  background-color: #fff;
  width: 18px;
  height: 100%;
  top: 0;
  position: relative;
}
.cf-select-dd.multi {
  height: auto;
}
.cf-select-dd.multi input {
  position: relative;
  top: -7px;
}
.cf-select-dd.multi .select2-container-multi {
  padding: 0;
  margin: 0;
  position: relative;
  border: none;
}
.cf-select-dd.multi.selected input {
  top: -3px;
}
.cf-select-dd.multi .select2-container-multi .select2-choices {
  border-color: rgba(0, 0, 0, 0.2);
  background-image: none;
  background-color: transparent;
  padding: 20px 25px 0 10px;
  min-height: 53px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
.cf-select-dd.multi .select2-container-multi .select2-choices:after {
  content: '';
  display: block;
  background: url('../img/ic_triangle_down.png') no-repeat center center transparent;
  cursor: pointer;
  width: 10px;
  height: 10px;
  position: absolute;
  opacity: 0.6;
  filter: alpha(opacity=60);
  right: 10px;
  top: 22px;
}
.cf-select-dd.multi .select2-container-multi.select2-container-active .select2-choices {
  border-color: #5897fb;
}
.cf-select-dd.multi .select2-container-multi .select2-choices .select2-search-choice {
  -webkit-background-image: none;
  -moz-background-image: none;
  -ms-background-image: none;
  -o-background-image: none;
  background-image: none;
  background-color: #efeff4;
  font-size: 12px;
  border-color: rgba(0, 0, 0, 0.2);
  padding-left: 20px;
}
.cf-select-dd.multi .select2-search-choice-close:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/ic_close_sm.png) no-repeat center center transparent;
}
.cf-select-dd.multi .clear-list {
  position: absolute;
  right: 0px;
  font-size: 11px;
  top: 0px;
  color: #7293a9;
  z-index: 1;
  cursor: pointer;
  text-transform: none;
}
.cf-select-dd.multi .clear-list:hover {
  color: #ff704c;
}
.cf-special-ip.multi-entry {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  min-height: 53px;
  height: auto;
  border: none;
  padding-top: 22px;
  margin-top: -10px;
}
.cf-special-ip.multi-entry label {
  left: 0;
}
.cf-special-ip.multi-entry input {
  font-size: 12px !important;
  display: inline-block;
  position: relative;
  width: 37px;
  height: 37px;
  margin: 4px 2px 0 0;
  padding: 2px 4px !important;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.select2-results li {
  color: #5a6974;
}
.select2-results .select2-highlighted {
  background: #314451;
  color: #fff;
}
.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 26px;
}
.select2-container.form-control{
    padding: 0px;
    border: none;
}
.hero-form{
    position: relative;
    z-index: 10;
}
.hero-form {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1040px;
}
.hero-form .hint {
  margin: -26px 4px 16px;
  text-align: right;
  font-size: 11px;
  color: #98a1a8;
}
.hero-form .sm-label {
  font-family: 'Lato', sans-serif;
  color: #5a6974;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 400;
  display: block;
  margin: 8px 4px 0px;
  text-transform: uppercase;
}
.hero-form ul.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ff704c;
  text-align: center;
}
.hero-form ul.tabs li {
  min-width: 100px;
  display: inline-block;
  padding: 10px 20px 6px;
  border-bottom: 2px solid transparent;
  font-size: 14px;
}
.hero-form ul.tabs li .ic-insurance {
  display: block;
  margin: 5px auto -2px;
}
.hero-form ul.tabs li:hover {
  background-color: #efeff4;
  cursor: pointer;
}
.hero-form ul.tabs li.active {
  color: #ff704c;
  border-bottom-color: #ff704c;
}
.hero-form .btn.big {
  margin-top: 18px;
  width: 220px;
}
.hero-form .product-form-item {
  padding: 32px 20px 20px 20px;
  display: none;
  min-height: 370px;
}
.hero-form .product-form-item h5 {
  text-transform: uppercase;
  color: rgba(49, 68, 81, 0.7);
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
  letter-spacing: 1px;
}
.hero-form .product-form-item.reveal {
  display: block;
  position: relative;
}
.hero-form .product-form-item.reveal:before {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  content: 'Please wait...';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../img/loading-big.gif') no-repeat center 70px #ffffff;
  z-index: -1;
  padding-top: 130px;
  text-align: center;
  color: #7293a9;
  letter-spacing: 2px;
}
.hero-form .product-form-item.reveal.loading:before {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  z-index: 10;
}

.btn.big {
  display: block;
  width: 100%;
  font-size: 18px;
  padding: 15px;
}
.btn.orange {
  color: #fff;
  background-color: #ff704c;
  border: 1px solid #ff5c32;
}
.btn.orange:hover {
  background: #ff5c32;
}
.btn.orange:active {
  background: #ff4719;
}
.plnone{
    padding-left: 0px;
}
.pnone{
    padding: 0px;
}
@media screen and (min-width: 0px) and (max-width: 991px) {
  .hero-form .product-form-item {
    padding:20px 0 50px;
  }
}
.addon-field{
  color: #314451;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.addon-field .tp{
  box-shadow: none;
  line-height: 8px;
}
.addon-field .lh{
  line-height: 8px;
}
