<div class="content-card">
	<div class="card-header">
		<div class="ch1 fl">					
		</div>
		<div class="ch2 fl">Menu</div>
		<div class="ch3 fr">							
		</div>
	</div>
	<div class="card-body">
		<div class="card-tag">
			Card Tag
		</div>
		<div class="card-widget">
			<img alt="image title" src="{{STATIC_URL}}img/sample-1.jpg">
		</div>
		<div class="card-article-header">
			<h2>What yoeeu don't compare in health insurance plans may hurt you more than you think</h2>
			<div class="article-author"><h4>Card title attache</h4></div>
		</div>
		<div class="card-article-body">
			<p>Still comparing your health insurance premiums? STOP right now! You NEED to read this before you put yourself in any more danger than you already have! </p>
		</div>
		<div class="card-article-footer">
			<a class="btn">Card Action Button</a>
		</div>
	</div>
	<div class="card-footer">
		Card Footer
	</div>
</div>