{% extends "layout/base.html" %}


{% block css %}

<link href="{{ STATIC_URL }}css/home.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/motor-widget.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/components.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/bike.css" rel="stylesheet">

{% endblock css %}

{% block main %}
<!-- <div class="hero-form">
    <div class="row mnone">
        <div class="col-md-9 pnone dash-seperate">
		    <div id="content"></div>
		</div>
	</div>
</div> -->

<div class="wrapper">
    <div class="container-fluid" id="container">
        <div class="hero">
            <div id="content">
                <div class="w--spinner loader">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block uncompressedjs %}
<script src="{{ STATIC_URL }}js/build/{{settings.WEBPACK_WIDGET_ASSETS.common}}"></script>
<script src="{{ STATIC_URL }}js/build/{{settings.WEBPACK_WIDGET_ASSETS.components}}"></script>
{% endblock uncompressedjs %}
