{% extends "layout/base_full_width.html" %}
{% block content %}
	 <section class="gray-bg">
	 	<div class="container">
		    <div class="header-offer">
		        <img src="/static/img/cms/offers-icon.png" data-cms-attr='src:image_url_Topoffer'>
		        <h2 data-cms-content='coffer'>Coverfox <strong>Offers!</strong></h2>
		        <div class="header-offer__para" data-cms-content='cpara'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitaKon ullamco.
		        </div>
		    </div>
		    <div>
		    	<div data-cms-content="md:offers_content"></div>
		    </div>
	    </div>
	</section>
{% endblock content %}

