<section data-cms-attr="class:boxClass" class="block">
	<div class="container" data-cms-content='sec_main_container'>
		<div class="row">
			<div class="col-md-8 col-sm-12">
				<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem cumque accusantium officiis praesentium eum dolore</h4>
				<div data-cms-content="md:content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In incidunt praesentium illum hic autem earum consectetur porro, adipisci eius quo. Consectetur quidem nostrum tempore quos numquam quas, temporibus nesciunt obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In incidunt praesentium illum hic autem earum consectetur porro, adipisci eius quo. Consectetur quidem nostrum tempore quos numquam quas, temporibus nesciunt obcaecati. Lorem ipsum dolor sit amet, consectetur adipisicing elit. In incidunt praesentium illum hic autem earum consectetur porro, adipisci eius quo. Consectetur quidem nostrum tempore quos numquam quas, temporibus nesciunt obcaecati.</p>
				</div>
				<a href="#" class='btn btn--orange' data-cms-content="ctatext">Action Button</a>
			</div>
			<div class="col-md-4">
				<img alt="image title" src="ff" data-cms-attr="src:right_img" />
			</div>
		</div>
	</div>
</section>

