<section class="block block--content stashable" data-cms-attr="class:boxClass">
	<div class="container grid-960" data-cms-content='sec_main_container2'>
		<div class="content-header">
			<h2 data-cms-content='car_header'><strong>Car</strong> Insurance</h2>
			<div class="sh--uppercase" data-cms-content='car_subtext'>Things you <strong>need</strong> to know</div>
		</div>
		<div class="leader-box">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 loader--top__box">
					<div class="col-md-2 col-sm-2 tcb">
						<img src="/static/img/icons/car_icons/ic_intro_carInsurance.png" data-cms-attr='src:image_url_car'>
					</div>
					<div class="col-md-10 col-sm-10">
						<p data-cms-content='car_text'>Your car insurance is like a contract between you and the insurance company, where you agree to pay an annual premium and the insurer agrees to pay for your car repair expenses. Having a car insurance protects you against financial loss in case of an accident.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row grid--max__width">
			<div class="col-sm-6 bdr-two pr">
				<h4 class="h-underline" data-cms-content='car_comp_header'>Comprehensive Insurance</h4>
				<p data-cms-content='car_comp_text'>Covers damages to third party and your own car. Best for those wanting to cover for losses even from events like theft, natural-disasters, fire etc.</p>
			</div>
			<div class="col-sm-6 pl">
				<h4 class="h-underline" data-cms-content='car_third_header'>Third-party liability Insurance</h4>
				<p data-cms-content='car_third_text'>Covers only the damages for the third party and the property. Best for those wanting to insure their car just because its mandatory ( through we don't recommend that!)</p>
			</div>
		</div>
		<div class="loader--content__video clearfix video-article">
			<a href="//www.youtube.com/embed/7VxoVVdzkE8" data-cms-attr="href:car_link">
				<ul>
					<li>
						Covers damages to third party and your own car.
						<span>1 min video</span>
					</li>
				</ul>
			</a>
		</div>
	</div>
</section>