<section class="block block--home block--press stashable">
	<div class="container">
		<h2>Look who's talking about us</h2>
			<div class="cfpress">
				<img src="{{STATIC_URL}}img/global/quote-icon.png">
				<div id="owl-press" class="owl-carousel">
					<div class="cfpress__content" data-src="{{STATIC_URL}}img/global/press-logos/dark/toi.png">
						<a href="http://timesofindia.indiatimes.com/tech/tech-news/Coverfox-eyes-premiums-worth-Rs-1000-crore-in-3-years/articleshow/51395096.cms" target="_blank">Coverfox eyes premiums worth Rs. 1,000 crore in 3 years</a> <br>
						<img class="visible-xs" src="{{STATIC_URL}}img/global/press-logos/dark/toi.png" title="Times of India" alt="Times of India"/>
					</div>
					<div class="cfpress__content" data-src="{{STATIC_URL}}img/global/press-logos/dark/thetechportal.png">
						<a href="http://thetechportal.in/2016/02/14/coverfox-thetechportal/" target="_blank">Coverfox Wants To Make Insurance Buying Interesting For The Young Working Indian</a> <br>
						<img class="visible-xs" src="{{STATIC_URL}}img/global/press-logos/dark/thetechportal.png" title="The Tech Portal" alt="The Tech Portal"/>
					</div>
					<div class="cfpress__content" data-src="{{STATIC_URL}}img/global/press-logos/dark/et.png">
						<a href="http://brandequity.economictimes.indiatimes.com/news/advertising/coverfox-coms-maiden-brand-campaign-is-for-the-new-age-indian/49035791" target="_blank">Coverfox.com’s maiden brand campaign is for the new-age India</a> <br>
						<img class="visible-xs" src="{{STATIC_URL}}img/global/press-logos/dark/et.png" title="Economic Times" alt="Economic Times"/>
					</div>
					<div class="cfpress__content" data-src="{{STATIC_URL}}img/global/press-logos/dark/entrepreneur.png">
						<a href="http://www.entrepreneur.com/article/250746" target="_blank">Making Insurance buying as easy & quick as buying air tickets</a> <br>
						<img class="visible-xs" src="{{STATIC_URL}}img/global/press-logos/dark/entrepreneur.png" title="Entrepreneur" alt="Entrepreneur"/>
					</div>
					<div class="cfpress__content" data-src="{{STATIC_URL}}img/global/press-logos/dark/bi.png">
						<a href="http://www.businessinsider.in/An-online-insurance-portal-set-up-a-toll-free-helpline-to-help-Chennai-flood-victims-with-their-claims/articleshow/50109916.cms" target="_blank">Coverfox set up a toll-free helpline to help Chennai flood victims with their claims</a> <br>
						<img class="visible-xs" src="{{STATIC_URL}}img/global/press-logos/dark/bi.png" title="Business Insider" alt="Business Insider"/>
					</div>
				</div>
				<div id="press-pagination" class="cfpress__intro hidden-xs"></div>
			</div>
		</div>
	</div>
</section>