<section class="motoassist" data-cms-attr="class:boxClass">
    <div class="container">
        <div class="card-offer">
            <div class="card-offer__img">
                <img src="/static/img/cms/logo-motoassist.png" data-cms-attr='src:image_url_vlogooffer'>
            </div>
            <div class="card-offer__text">
                <h1 data-cms-content='listcoffer'>Rs. 150 off on your first Uber ride</h1>
                <p data-cms-content='pcoffer'>
                  We bring exclusive offer of <strong>Rs. 150 off</strong> on your first
                  ride with Uber. Use code <strong>CFX150</strong> to avail the offer!
                </p>
            </div>
        </div>
    </div>
  </section>