<section class="block block--home block--insurers stashable">
	<div class="container">
		<div class="insurer-content">
			<h2>We are on your side. <strong>Always.</strong></h2>
			<div class="insurer-content__sub row">
				<div class="insurer-content__sub__content">
					<p>With tie-ups with 25 insurers and 100+ products, Coverfox works closely to find a plan that is ideal for you - the best one, the right one. From providing you with all the right information to offering unbiased comparisons, we do it all. Hey, you don't even need to engage with the insurer yourself.</p>
				</div>
				<div class="insurer-content__sub__logo">
					<img src="{{ STATIC_URL }}img/global/irdai-dark.png" alt="IRDA" title="Insurance Regulatory and Development Authority" />
					<p>Licensed by IRDA <span>IRDA/DB 556/13</span></p>
				</div>
			</div>
			<div class="insurer-content--auto">
				<picture>
					<source media="(max-width: 992px)" srcset="{{ STATIC_URL }}img/global/home-insurere-tablet.png" alt="Insurer Logo" class="visible-sm">
					<source media="(min-width: 992px)" srcset="{{ STATIC_URL }}img/global/home-insurere-desktop.png" alt="Insurer Logo" class="visible-md visible-lg">
					<img src="{{ STATIC_URL }}img/global/home-insurere-tablet.png" class="visible-sm visible-md visible-lg" alt="Insurer Logo"
						srcset="{{ STATIC_URL }}img/global/home-insurere-desktop.png 768w, {{ STATIC_URL }}img/global/home-insurere-tablet.png 992w" />
				</picture>
			</div>
		</div>
	</div>
</section>
