<section data-cms-attr="class:boxClass" class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="content-card">
                    <div class="card-body center">
                        <h2 data-cms-content="title">So Intuitive, So Easy!</h2>
                        <div class="col-md-4 col-sm-4">
                            <div class="content-card">
                                <div class="card-body center">
                                    <div class="card-widget">
                                        <img data-cms-attr='src:image_url_1' src="{{STATIC_URL}}img/travel-insurance-icon.png" alt="image title">
                                    </div>
                                    <div class="card-tag" data-cms-content='md:col1tag'>Users per month</div>
                                    <div class="card-article-body" data-cms-content='md:col1body'>
                                        <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sint </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="content-card">
                                <div class="card-body center">
                                    <div class="card-widget">
                                        <img data-cms-attr='src:image_url_2' src="{{STATIC_URL}}img/travel-insurance-icon.png" alt="image title">
                                    </div>
                                    <div class="card-tag" data-cms-content='md:col2tag'>Users per month</div>
                                    <div class="card-article-body" data-cms-content='md:col2body'>
                                        <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sint </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="content-card">
                                <div class="card-body center">
                                    <div class="card-widget">
                                        <img data-cms-attr='src:image_url_3' src="{{STATIC_URL}}img/travel-insurance-icon.png" alt="image title">
                                    </div>
                                    <div class="card-tag" data-cms-content='md:col3tag'>Users per month</div>
                                    <div class="card-article-body" data-cms-content='md:col3body'>
                                        <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sint </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="content-card">
                                <div class="card-body center">
                                    <div class="card-widget">
                                        <img data-cms-attr='src:image_url_4' src="{{STATIC_URL}}img/travel-insurance-icon.png" alt="image title">
                                    </div>
                                    <div class="card-tag" data-cms-content='md:col4tag'>Users per month</div>
                                    <div class="card-article-body" data-cms-content='md:col4body'>
                                        <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sint </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="content-card">
                                <div class="card-body center">
                                    <div class="card-widget">
                                        <img data-cms-attr='src:image_url_5' src="{{STATIC_URL}}img/travel-insurance-icon.png" alt="image title">
                                    </div>
                                    <div class="card-tag" data-cms-content='md:col5tag'>Users per month</div>
                                    <div class="card-article-body" data-cms-content='md:col5body'>
                                        <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sint </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="content-card">
                                <div class="card-body center">
                                    <div class="card-widget">
                                        <img data-cms-attr='src:image_url_6' src="{{STATIC_URL}}img/travel-insurance-icon.png" alt="image title">
                                    </div>
                                    <div class="card-tag" data-cms-content='md:col6tag'>Users per month</div>
                                    <div class="card-article-body" data-cms-content='md:col6body'>
                                        <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sint </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>