<section data-cms-attr="class:boxClass" class="block">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-md-offset-2 col-md-8 col-sm-8">
                <div class="form-container">
                    <h2 data-cms-content="title">Title of the section</h2>
                    <h4 data-cms-content="subtitle">Subtitle of the section</h4>
                    <div class="form-field-container">
                        <form class="email-form">
                        <div class="input-text">
                            <input name="name" type="text" required />
                            <label for="name">Your Name</label>
                        </div>
                        <div class="input-text">
                            <input name="email" type="text" required />
                            <label for="name">Email</label>
                        </div>
                        <!--div class="input-text">
                        <input type="number" required="">
                        <label for="name">Mobile</label>
                        </div-->
                        <button type="submit" data-cms-attr="class:ctaclass" data-cms-content="ctatext" class="btn btn--orange"  >Schedule a call</button>
                        <p class="fs err">Please enter your name and a valid email id</p>
                        <p class="fs success">Thanks! We will get back to you soon.</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>