<section data-cms-attr="class:boxClass" class="block rs-fixed-popup rs-fixed-popup--imgcta" id="rs-fixed-widget">
    <div class="content-card">
        <span class="cross-icn" id="close-subscribe">x</span>
        <div class="card-body">
            <div class="card-widget">
                <img data-cms-attr='src:image_url' alt="image title" src="{{STATIC_URL}}img/sample-1.jpg">
            </div>           
            <div class="card-article-footer">
                <a data-cms-attr="href:popupctalink" href="#" class='btn btn--orange' data-cms-content="popupctatext1">Card Action Button</a>
            </div>
        </div>                            
    </div>
</section>
