<section class="block block--content" data-cms-attr="class:boxClass">
	<div class="container" data-cms-content='sec_main_container'>
		<div class="content-header">
			<h2 data-cms-content='car_101_header'><strong>Car Insurance</strong> 101</h2>
			<div class="sh--big" data-cms-content='car_101_subheader'>When You Buy Car Insurance</div>
		</div>
		<div class="content-video">
				<ul>
					<li class="first">
						<a href="//www.youtube.com/watch?v=kTwPSF_0j2U" target="_blank" data-cms-attr="href:car_video1">
							<div class="thumb">
								<img src="{{STATIC_URL}}tvc/img/thumbnail_idv.jpg" data-cms-attr='src:image_url_car_video1'>
							</div>
							<div class="content-video__desc" data-cms-content='car_video1_text'>
								What is Insured Declared Value (IDV) on Car Insurance Policy?
							</div>
						</a>
					</li>
					<li class="left">
						<a href="//www.youtube.com/watch?v=mXD2eGxlp0g" target="_blank" data-cms-attr="href:car_video2">
							<div class="thumb">
								<img src="{{STATIC_URL}}tvc/img/thumbnail_idv.jpg" data-cms-attr='src:image_url_car_video2'>
							</div>
							<div class="content-video__desc" data-cms-content='car_video2_text'>
								What is Insured Declared Value (IDV) on Car Insurance Policy?
							</div>
						</a>
					</li>
					<li class="active">
						<a href="//www.youtube.com/watch?v=2f6xeeVbppI" target="_blank" data-cms-attr="href:car_video3">
							<div class="thumb">
								<img src="{{STATIC_URL}}tvc/img/thumbnail_ncb.jpg" data-cms-attr='src:image_url_cover_car_video3'>
							</div>
							<div class="content-video__desc" data-cms-content='car_video3_text'>
								What is NCB or No Claim Bonus for Car Insurance?
							</div>
						</a>
					</li>
					<li class="right">
						<a href="//www.youtube.com/watch?v=mXD2eGxlp0g" target="_blank" data-cms-attr="href:car_video4">
							<div class="content-video__all">
								All
							</div>
						</a>
					</li>
					<li class="last">
						<a href="//www.youtube.com/watch?v=kTwPSF_0j2U" target="_blank" data-cms-attr="href:car_video5">
							<div class="thumb">
								<img src="{{STATIC_URL}}tvc/img/thumbnail_idv.jpg" data-cms-attr='src:image_url_car_video4'>
							</div>
							<div class="content-video__desc" data-cms-content='car_video5_text'>
								What is Insured Declared Value (IDV) on Car Insurance Policy?
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>