<section data-cms-attr="class:boxClass" class="block">
    <div class="container">
        <div class="row video-bg">
            <div class="col-sm-offset-2 col-md-offset-2 col-md-8 col-sm-8">
                <div class="content-card">
                    <div class="card-body center">
                        <div class="card-article-header">
                            <h2 data-cms-content='coltitle' class="dark-bg flg">Easy-to-Use App for creatives</h2>
                        </div>
                        <div class="card-widget" data-cms-content='md:colwidget'>
                            <div class="video-card ptb50">
                                <span class="ic-play action no-action"></span>
                            </div>
                        </div>
                        <div data-cms-content='md:colbody' class="card-article-body">
                            <p class="center flg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sint nostrum sequi asperiores ut eos expedita maiores vel ipsam id consequatur illum ullam, voluptatibus enim odit iusto debitis tempore accusamus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>