<section data-cms-attr="class:boxClass" class="block">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-md-offset-2 col-md-8 col-sm-8">
                <div class="content-card no-shadow">
                    <div class="card-body">
                        <div class="card-article-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum dolorem, accusantium, corporis quasi placeat harum distinctio iste expedita qui incidunt officiis, tempora sunt, iure veniam vel facilis quisquam blanditiis eligendi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, deleniti saepe dicta itaque sed. Natus minus eaque, ipsa voluptate, neque distinctio obcaecati, eveniet voluptatem minima quidem at, iusto pariatur! Fugiat!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum dolorem, accusantium, corporis quasi placeat harum distinctio iste expedita qui incidunt officiis, tempora sunt, iure veniam vel facilis quisquam blanditiis eligendi!</p>
                        </div>
                        <div class="card-article-header">
                            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, dolorem, cupiditate. </h2>
                            <div class="article-author"><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, ullam illo nesciunt nostrum omnis </h4></div>
                        </div>
                        <div class="card-article-footer">
                            <a class="btn">Card Action Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>