<section class="block block--content" data-cms-attr="class:boxClass">
	<div class="container grid-960">
		<div class="content-header">
			<h2 data-cms-content="faq_header">Frequently Asked <strong>Questions</strong></h2>
		</div>
		<div class="accordian-tab">
			<ul data-cms-content="sec_accordian_content">
				<li class="has-sub active">
					<a class="accordian-tab__header" href="#"><span>Is this an Emergency Service?</span></a>
					<ul class="accordian-tab-item" style="display:block">
						<li class="accordion-list__open">
							<p>This is a Claims Assistance service. You can use this facility to get your damaged car repaired and the claims processed. </p>
							<ul class="list">
								<li>In case your car breaks down and you need emergency services – you can contact our 24x7 Roadside Assistance at 1800-103-9433. They would be able to provide you with a host of services when you are stuck on the road. </li>
								<li> If your car is damaged and cannot be driven, you can contact our express claims service. They can manage both the towing as well as repair/claims services for you. </li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="has-sub"><a class="accordian-tab__header" href="#"><span>How do you make money from this?</span></a>
					<ul class="accordian-tab-item">
						<li class="accordion-list__open">
							<p>We don't make any money out of this. We are utilizing our presence in the market to provide the best services to our customers by grouping various stakeholders in the process. This is one of the perks you get for buying a car insurance policy from Coverfox.com. </p>
						</li>
					</ul>
				</li>
				<li class="has-sub">
					<a class="accordian-tab__header" href="#"><span>Would the rates be different if I go directly to the same workshop or any other competing workshop?</span></a>
					<ul class="accordian-tab-item">
						<li class="accordion-list__open">
							<p>The rates you are charged would depend on the kind of policy you hold and would remain same irrespective of the workshop.</p>
						</li>
					</ul>
				</li>
				<li class="has-sub"><a class="accordian-tab__header" href="#"><span>Do I have to pay anything extra for this service to Coverfox?</span></a>
					<ul class="accordian-tab-item">
						<li class="accordion-list__open">
							<p>This service comes at absolutely no extra cost to you. Instead, you can get discounts on various value-added services while availing Coverfox express claims service. </p>
						</li>
					</ul>
				</li>
				<li class="has-sub">
					<a class="accordian-tab__header" href="#"><span>Why are there limited options on workshops?</span></a>
					<ul class="accordian-tab-item">
						<li class="accordion-list__open">
							<p>We have handpicked garages based on the quality of service they provide to Coverfox customers. But you'd have options for authorized as well as a multi-brand workshop throughout Mumbai.</p>
						</li>
					</ul>
				</li>
				<li class="has-sub"><a class="accordian-tab__header" href="#"><span>Can I use this service if I use a garage not in your list?</span></a>
					<ul class="accordian-tab-item">
						<li class="accordion-list__open">
							<p>While our Customer Service Unit would provide you with all possible assistance, you won’t be able to avail this service, and a host of benefits that comes with this service, if you choose to use a regular garage.</p>
						</li>
					</ul>
				</li>
				<li class="has-sub"><a class="accordian-tab__header" href="#"><span>What if my car is damaged in transit to the Workshop?</span></a>
					<ul class="accordian-tab-item">
						<li class="accordion-list__open">
							<p>Your car would be repaired as per your insurance policy and the cost liable to be paid by you would be borne by Coverfox.</p>
						</li>
					</ul>
				</li>
				<li class="has-sub"><a class="accordian-tab__header" href="#"><span>How do I trust your repairs and claims specialist?</span></a>
					<ul class="accordian-tab-item">
						<li class="accordion-list__open">
							<p>All our repairs and claims managers are well experienced claims professionals and are employed with Coverfox only after thorough background checks by independent agencies.</p>
						</li>
					</ul>
				</li>
				<li class="has-sub"><a class="accordian-tab__header" href="#"><span>Can I visit the workshop during the repairs?</span></a>
					<ul class="accordian-tab-item">
						<li class="accordion-list__open">
							<p>We like to take complete ownership of the claims process and hence would like our customers to sit back and relax while we take up all their hassles. But if you still feel the need, our Repairs and Claims Specialists would be happy to facilitate the visit.</p>
						</li>
					</ul>
				</li>
				<li class="has-sub"><a class="accordian-tab__header" href="#"><span>Can I pick my car back from the workshop?</span></a>
					<ul class="accordian-tab-item">
						<li class="accordion-list__open">
							<p>Yes, you can pick your car back from the workshop. But we have an option wherein you can test-drive your car when it is delivered at your doorstep. Our Repairs and Claims Specialist would take care of all the concerns that may arise at the time of the delivery.</p>
						</li>
					</ul>
				</li>
				<li class="has-sub"><a class="accordian-tab__header" href="#"><span>What if I am unhappy with the repair job?</span></a>
					<ul class="accordian-tab-item">
						<li class="accordion-list__open">
							<p>If there seems to be a problem with the repair job, it would be re-done at no cost to you.</p>
						</li>
					</ul>
				</li>
			</ul>
			<div data-cms-attr="class:Noteclass">
				<div class="faq--note" data-cms-content="sec_note">
					*Car Repair services including workshop network services, repairs management, guarantee and penalties for delay are provided by various Auto Service Providers.
				</div>
				<div class="exclaim--note" data-cms-content="sec_note2">
					<h4>Note</h4>
					<p>Express claim services are currently functional <strong>only in Mumbai</strong> and available only for insurers <strong>L&amp;T</strong> and <strong>Bharti AXA</strong> on select Make-Model. Call <strong> <a href="tel:18002099960">1800&nbsp;209&nbsp;9960</a></strong> (Mon-Sat, 9.30am-6.30pm) for any questions.</p>
					<p class="pmargin">But, don't lose heart if you are not in Mumbai! Our claims experts will still help you out at every step of the way, the best they can. Simply call us on our Toll Free no. <strong><a href="tel:18002099970">1800&nbsp;209&nbsp;9970</a></strong> or mail us at
					<a href="mailto:help@coverfox.com">help@coverfox.com</a>. </p>
				</div>
			</div>
		</div>
	</div>
</section>