<div class="bike-banner">
	<div class="container">
	    <div class="row p-relative">
	        <div class="col-md-8 m-t-15">
	        	<div class="bg-white">
	        		{% include "components/section--bike-section.html" %}
	        	</div>
	        </div>
	       <div class="col-md-4 m-t-15">
				<div class="right-container">
					<h3 data-cms-content="hero_heading">Buy Two Wheeler Insurance from Coverfox</h3>
					<hr>
					<h5 data-cms-content="hero_subheading">Benefits of buying from Coverfox:</h5>
					<ul>
						<li data-cms-content="hero_pt1">Lowest Premium Rates</li>
						<li data-cms-content="hero_pt2">Online Policy Copy</li>
						<li data-cms-content="hero_pt3">Dedicated Claims Manager</li>
					</ul>
					<div class="arrrow-direct hidden-xs" data-cms-content="hero_closer">
					     ← Join the Coverfox family!
					</div>
					
				</div>
			</div>
			<div class="col-md-4 hidden-sm hidden-xs side-cover"></div>
	    </div><!--/.container-->
	</div>
</div>
<!--/.car-banner-->
<link href="{{STATIC_URL}}css/bike-section-banner.css" rel="stylesheet">
