<section data-cms-attr="class:boxClass" class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="content-card">
                    <div class="card-body center">
                        <div class="card-tag" data-cms-content='col1tag'>
                            Card Tag
                        </div>
                        <div class="card-widget" data-cms-content='md:col1widget'>
                            <span class="fwb f56">
                                36M
                            </span>
                        </div>
                        <div class="card-article-header">
                            <h2 data-cms-content='col1title'>Users per month</h2>
                        </div>
                        <div class="card-article-body" data-cms-content='md:col1body'>
                            <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sint nostrum sequi asperiores ut eos expedita maiores vel ipsam id consequatur illum ullam, voluptatibus enim odit iusto debitis tempore accusamus.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="content-card">
                    <div class="card-body center">
                        <div class="card-tag" data-cms-content='col2tag'>
                            Card Tag
                        </div>
                        <div class="card-widget" data-cms-content='md:col2widget'>
                            <span class="fwb f56">
                                1600
                            </span>
                        </div>
                        <div class="card-article-header">
                            <h2 data-cms-content='col2title'>Employees in 2015</h2>
                        </div>
                        <div class="card-article-body" data-cms-content='md:col2body'>
                            <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sint nostrum sequi asperiores ut eos expedita maiores vel ipsam id consequatur illum ullam, voluptatibus enim odit iusto debitis tempore accusamus.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="content-card">
                    <div class="card-body center">
                        <div class="card-tag" data-cms-content='col3tag'>
                            Card Tag
                        </div>
                        <div class="card-widget" data-cms-content='md:col3widget'>
                            <span class="fwb f56">
                                2890
                            </span>
                        </div>
                        <div class="card-article-header">
                            <h2 data-cms-content='col3title'>Bottles of Bourbon</h2>
                        </div>
                        <div class="card-article-body" data-cms-content='md:col3body'>
                            <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sint nostrum sequi asperiores ut eos expedita maiores vel ipsam id consequatur illum ullam, voluptatibus enim odit iusto debitis tempore accusamus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>