<div class="infographic-widget stashable" id="infographic-widget" >
    <h3><span>5</span> KEY ANSWERS</h3>
    <p>30 FLAT SECONDS</p>
</div>
<div id="five-key-modal" class="cf-modal fivekey-modal hide">
    <div class="cf-modal__content full_bg">
        <a href="#" id="close-inforgraphic" class="cf-modal__close close"></a>
        <div class="fivekey-sec">
            <div id="owl-fivekey" class="owl-carousel">
                <div class="item">
                    <div class="fivekey-carousel__img">
                        <img data-src="{{STATIC_URL}}img/home/fivekey-points/question1.png" alt="">
                    </div>
                    <div class="fivekey-carousel__content">
                        <h4>
                            <i>1.</i>CAN YOU GET A CHEAPER QUOTE FOR YOUR INSURANCE PRODUCT?
                        </h4>
                        <p>
                            There's no better way to put this, but the real answer is 'no'. With regulated pricing and premiums set by the IRDA, the prices you see here are the ones you see everywhere (lower prices elsewhere usually mean there's a possibility of hidden charges). The only difference? At Coverfox, we don't look for the cheapest price, we look for the right one.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="fivekey-carousel__img">
                        <img data-src="{{STATIC_URL}}img/home/fivekey-points/question2.png" alt="">
                    </div>
                    <div class="fivekey-carousel__content">
                        <h4>
                            <i>2.</i>HOW DO I PAY?
                        </h4>
                        <p>
                            Online payments can be a major hassle, but not with Coverfox. This is why you don’t need a Credit Card; you can make payments through just Net Banking or your ATM/Debit Card. Unfortunately, we can’t support cash on delivery or cheques, just because we want to keep it online and simple. We do allow for card-on-delivery payment though. But this only works in the case of customers with expired car insurance, where an inspection is required.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="fivekey-carousel__img">
                        <img data-src="{{STATIC_URL}}img/home/fivekey-points/question3.png" alt="">
                    </div>
                    <div class="fivekey-carousel__content">
                        <h4>
                            <i>3.</i>HOW AND WHEN WILL I GET MY POLICY?
                        </h4>
                        <p>
                            You'd get your policy <strong>before you finish reading</strong> this answer. It's THAT fast. Once you choose your product and make your payment, it’s <strong>sent to your inboxes right away</strong>. No hard copies, because we are also secret environmentalists. If by any chance there is a delay due to a medical check or an expired vehicle inspection, we promise that you’ll be informed in advance.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="fivekey-carousel__img">
                        <img data-src="{{STATIC_URL}}img/home/fivekey-points/question4.png" alt="">
                    </div>
                    <div class="fivekey-carousel__content">
                        <h4>
                            <i>4.</i>WHO DO YOU TALK TO WHEN YOU NEED ASSISTANCE AFTER BUYING A PRODUCT?
                        </h4>
                        <p>
                            With our excellent Customer Service, we make sure that you never have to deal with the insurer personally. We make it that convenient. Our relationship with insurance companies ensures our dedication to every customer! In fact, we offer free claim assistance during emergencies to even those who may not have bought insurance policy from us. After all, Coverfox is simply a phone call away for anyone in need.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="fivekey-carousel__img">
                        <img data-src="{{STATIC_URL}}img/home/fivekey-points/question5.png" alt="">
                    </div>
                    <div class="fivekey-carousel__content">
                        <h4>
                            <i>5.</i>HOW IS COVERFOX DIFFERENT FROM THE OTHERS?
                        </h4>
                        <p>
                            Here, we don’t take any sides (apart from yours) when it comes to insurers – in fact, we don’t even ask you for your contact details for comparing various products until you are convinced. You can say that we are always looking out for you – like the friend you call at 4 am - whether it’s finding you the perfect policy or making sure you get only the best deals, we are on your side. As an IRDA approved organization, we are as genuine as they can get.
                        </p>
                    </div>
                </div>
            </div>
            <a class="fivekey-b-arr"></a>
            <a class="fivekey-f-arr"></a>
        </div>
    </div>
</div>
