<section class="block block--content stashable">
	<div class="container grid-960">
		<div class="content-header">
			<h2>Coverfox <strong>Advantage</strong></h2>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="content-media content-media--left">
					<img src="{{STATIC_URL}}img/icons/icon_express-renewal.png">
					<div>Expert advice and informed unbiased opinion that will clear the confusion and help you through selecting and buying the best plan.</div>
				</div>
				<div class="content-media content-media--left">
					<img src="{{STATIC_URL}}img/icons/icon_express-renewal.png">
					<div><strong>Service Managers</strong> who will assist you through all kinds of post -sale issues like claim processing, renewals etc.</div>
				</div>
				<div class="content-media content-media--left">
					<img src="{{STATIC_URL}}img/icons/icon_express-renewal.png">
					<div>24x7 Road -side assistance free with your car insurance policy to rescue you in case of a car breakdown.</div>
				</div>						
			</div>
		</div>
	</div>
</section>