<section class="health-heading" data-cms-attr="class:boxClass">
    <div class="container">
        <div class="row">
            <div class="col-md-12" data-cms-content='para_main'>
                <div class="health-heading__para">Main Highlight of the plan</div>
                <p>In publishing and graphic design, lorem ipsum In publishing and graphic design,In publishing and In publishing and graphic design, lorem ipsum In publishing and graphic design,In publishing and In publishing and graphic design, lorem ipsum In publishing and graphic design,In publishing and</p>
                <div class="health-heading__para">Main Highlight of the plan</div>
                <p>In publishing and graphic design, lorem ipsum In publishing and graphic design,In publishing and In publishing and graphic design, lorem ipsum In publishing and graphic design,In publishing and In publishing and graphic design, lorem ipsum In publishing and graphic design,In publishing and</p>
                <div class="health-heading__para">Main Highlight of the plan</div>
                <p>In publishing and graphic design, lorem ipsum In publishing and graphic design,In publishing and In publishing and graphic design, lorem ipsum In publishing and graphic design,In publishing and In publishing and graphic design, lorem ipsum In publishing and graphic design,In publishing and</p>
            </div>
        </div>
    </div>
</section>