<section class="block block--home block--testimonial stashable">
	<div class="container-fluid" data-cms-content='sec_main_container'>
		<h2>You happy. We happy.</h2>
		<div class="tm-sec">
			<div id="owl-testimonial" class="owl-carousel owl-theme">
				<div class="item">
					<div class="tm-sec__item">
						<p class="tm-sec__quote">
							"My first experience with Coverfox was an absolute delight. Their positive response and effective actions changed my opinion of the entire insurance segment. Hope they keep it up!"
						</p>
						<div class="tm-sec__intro">
							<div class="t-smu">Ramachandran D</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="tm-sec__item">
						<p class="tm-sec__quote">
							"What I’ll never stop being thankful for is the fact that my claim for total loss was settled in such less time. Thank you so much for all the support from your side!"
						</p>
						<div class="tm-sec__intro">
							<div class="t-smu">Arun H</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="tm-sec__item">
						<p class="tm-sec__quote">
							"Their prompt replies, seriousness about policy deliveries and commitment to their job are just some factors that make Coverfox shine through. But their complete transparency in their calls clearly is the icing on the cake!"
						</p>
						<div class="tm-sec__intro">
							<div class="t-smu">Navneet</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="tm-sec__item">
						<p class="tm-sec__quote">
							"Having been a customer for over a year, I feel relaxed as far as health insurance is concerned. Their customer service personnel guided me through each step of my process while helping me finding the best plan!"
						</p>
						<div class="tm-sec__intro">
							<div class="t-smu">Manoj Kumar Jain</div>
						</div>
					</div>
				</div>
			</div>
			<a class="b-arr"></a>
			<a class="f-arr"></a>
		</div>
	</div>
</section>