<section class="health-scope" data-cms-content='health_Scope'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="health-highlight__heading" data-cms-content='Scope'>Scope of cover</div>
                <div class="health-scope__analysis">
                    <div class="health-scope__subheading" data-cms-content='Indivdual'>Indivdual Plan</div>
                    <div class="m-t-20 clearfix">
                        <div class="col-md-3 col-sm-3 pnone">
                            <div class="health-scope__entrytext p-b-5 m-b-8" data-cms-content='agetxt'>Entry Age</div>
                            <p  data-cms-content='child'>For children</p>
                            <p  data-cms-content='duration'>5 year onwords</p>
                            <p  data-cms-content='adult'>Adults</p>
                            <p><span  data-cms-content='max'>Maximum</span> : <strong  data-cms-content='age'>18 years</strong></p>
                            <p><span  data-cms-content='max1'>Maximum</span> : <strong  data-cms-content='none'>None</strong></p>
                        </div>
                        <div class="col-md-3 col-sm-3 pnone">
                            <div class="health-scope__entrytext p-b-5 m-b-8" data-cms-content='agetxt1'>Entry Age</div>
                            <p><span  data-cms-content='max1'>Maximum</span> : <strong  data-cms-content='age1'>18 years</strong></p>
                            <p><span  data-cms-content='max2'>Maximum</span> : <strong  data-cms-content='none1'>None</strong></p>
                            <p><span  data-cms-content='maxnw'>Maximum</span> : <strong  data-cms-content='none1'>None</strong></p>
                        </div>
                        <div class="col-md-3 col-sm-3 pnone">
                            <div class="health-scope__entrytext p-b-5 m-b-8" data-cms-content='agetxt2'>Entry Age</div>
                            <p><strong  data-cms-content='age2'><img data-cms-attr='src:image_url_rs' src="{{STATIC_URL}}img/cms/rs.png"> 300000 &nbsp; to &nbsp; <img data-cms-attr='src:image_url_rs1' src="{{STATIC_URL}}img/cms/rs.png"> 6000000</strong></p>
                            <br>
                            <div data-cms-content='disedit' class="m-t-10">
                                <div class="health-scope__entrytext m-b-5" data-cms-content='discount'>
                                    discount
                                </div>
                                <p><strong>5% of two four member</strong></p>
                                <p><strong>5% of two four member</strong></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 pnone">
                            <div class="health-scope__entrytext p-b-5 m-b-8" data-cms-content='agetxt3'>Entry Age</div>
                            <p><strong  data-cms-content='none3'>Annual, Quarterly, monthly</strong></p>
                            <br>
                            <div data-cms-content='disedit1' class="m-t-10">
                                <div class="health-scope__entrytext m-b-5" data-cms-content='discount'>
                                    discount
                                </div>
                                <p><strong>5% of two four member</strong></p>
                                <p><strong>5% of two four member</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="health-scope__analysis">
                    <div class="health-scope__subheading" data-cms-content='Indivdual'>Floater Plan</div>
                    <div class="m-t-20 clearfix">
                        <div class="col-md-3 col-sm-3 pnone">
                            <div class="health-scope__entrytext p-b-5 m-b-8" data-cms-content='agetxt'>Entry Age</div>
                            <p  data-cms-content='child'>For children</p>
                            <p  data-cms-content='duration'>5 year onwords</p>
                            <p  data-cms-content='adult'>Adults</p>
                            <p><span  data-cms-content='max'>Maximum</span> : <strong  data-cms-content='age'>18 years</strong></p>
                            <p><span  data-cms-content='max1'>Maximum</span> : <strong  data-cms-content='none'>None</strong></p>
                        </div>
                        <div class="col-md-3 col-sm-3 pnone">
                            <div class="health-scope__entrytext p-b-5 m-b-8" data-cms-content='agetxt1'>Entry Age</div>
                            <p><span  data-cms-content='max1'>Maximum</span> : <strong  data-cms-content='age1'>18 years</strong></p>
                            <p><span  data-cms-content='max2'>Maximum</span> : <strong  data-cms-content='none1'>None</strong></p>
                            <p><span  data-cms-content='maxnw'>Maximum</span> : <strong  data-cms-content='none1'>None</strong></p>
                        </div>
                        <div class="col-md-3 col-sm-3 pnone">
                            <div class="health-scope__entrytext p-b-5 m-b-8" data-cms-content='agetxt2'>Entry Age</div>
                            <p><strong  data-cms-content='age3'><img data-cms-attr='src:image_url_rs1' src="{{STATIC_URL}}img/cms/rs.png"> 300000 &nbsp; to &nbsp; <img data-cms-attr='src:image_url_rs1' src="{{STATIC_URL}}img/cms/rs.png"> 6000000</strong></p>
                            <br>
                            <div data-cms-content='disedit' class="m-t-10">
                                <div class="health-scope__entrytext m-b-5" data-cms-content='discount'>
                                    discount
                                </div>
                                <p><strong>5% of two four member</strong></p>
                                <p><strong>5% of two four member</strong></p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 pnone">
                            <div class="health-scope__entrytext p-b-5 m-b-8" data-cms-content='agetxt3'>Entry Age</div>
                            <p><strong  data-cms-content='none3'>Annual, Quarterly, monthly</strong></p>
                            <br>
                            <div data-cms-content='disedit1' class="m-t-10">
                                <div class="health-scope__entrytext m-b-5" data-cms-content='discount1'>
                                    discount
                                </div>
                                <p><strong>5% of two four member</strong></p>
                                <p><strong>5% of two four member</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>