<section data-cms-attr="class:boxClass" class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="content-card">
                    <div class="card-body">
                        <div class="card-article-body">
                            <div class="card-widget mnone" data-cms-content='md:widget'>
                                <img data-cms-attr='src:image_url' alt="image title" src="{{STATIC_URL}}img/sample-1.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="content-card">
                    <div class="card-body">
                        <div class="card-article-body">
                            <div class="card-article-header">
                                <h2 data-cms-content='title'>Lorem ipsum dolor sit amet,dolorem, cupiditate. </h2>
                                <div class="article-author"><h4 data-cms-content='subtitle'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, ullam illo nesciunt nostrum omnis </h4></div>
                            </div>  
                            <div class="card-article-footer">
                                <div itemscope itemtype="http://schema.org/Product"> 
                                    <meta itemprop="name" content="Religare Care Plan Review">             
                                    <div class="reviews_box_container" itemprop="review" itemscope="" itemtype="http://schema.org/Review">
                                        <meta itemprop="itemReviewed" content="Religare Care Plan Review">
                                        <i itemprop="author" itemscope itemtype="http://schema.org/Organization"></i>
                                        <meta itemprop="name" content="Coverfox">
                                        <div data-cms-content="maindiv" class="rating-star clearfix">
                                            <div class="review_rating pos-r">       
                                                <input id="1_star5" name="rating" value="5" type="radio">
                                                <label for="1_star5" title="5 stars">5 stars</label>
                                                <input id="1_star4" name="rating" value="4" type="radio">
                                                <label for="1_star4" title="4 stars">4 stars</label>
                                                <input id="1_star3" name="rating" value="3" type="radio">
                                                <label for="1_star3" title="3 stars">3 stars</label>
                                                <input id="1_star2" name="rating" value="2" type="radio">
                                                <label for="1_star2" title="2 stars">2 stars</label>
                                                <input id="1_star1" name="rating" value="1" type="radio">
                                                <label for="1_star1" title="1 stars">1 stars</label>
                                            </div>
                                            <div class="review_rating mht" itemprop="reviewRating" itemscope="itemscope" itemtype="http://schema.org/Rating">
                                                <span>
                                                    <i itemprop="ratingValue">0/5</i>
                                                </span>                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
    </div>
</section>