<section data-cms-attr="class:boxClass" class="block">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-md-offset-2 col-md-8 col-sm-8">
                <div class="form-container">
                    <h2>Title of the section</h2>
                    <h4>Subtitle of the section</h4>
                    <div class="single-field-container">
                        <input type="number" placeholder="10 digit phone number">
                        <div class="action-button">Schedule a Call</div>
                        <p>{{ settings.DND_MSG }}</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>