{% block css %}
    <link href="{{ STATIC_URL }}css/home.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vendors/owl-carousel/owl.carousel.css" rel="stylesheet">
{% endblock css %}

{% block content %}
    {% include "components/section--disp-banner.html" %}
    {% include "components/section--insurer-logos-cms.html" %}
    {% include "components/section--content-one.html" %}
    {% include "components/section--content-grid-2X2.html" %}
    {% include "components/section--content-grid-left.html" %}
    {% include "components/section--content-grid-center.html" %}
    {% include "components/section--content-video.html" %}
    {% include "components/section--testimonials.html" %}
    {% include "components/section--tab-content.html" %}
   <div id="video-frame" class="hero_modal_overlay">
      <div class="close-overlay" title="Close">Close</div>
      <div class="hero_modal_content">
         <iframe class="frameVideo reveal" src="" frameborder="0" allowfullscreen=""></iframe>
      </div>
   </div>
{% endblock content %}

{% block uncompressedjs %}
    <script type="text/javascript">
     window['_ENTRY_MODULE_'] = 'CMS';
     window['CSRF_TOKEN'] = '{{csrf_token}}';
    </script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}vendors/waypoints-js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}vendors/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/homepage/index.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $(".video-article a").on("click",function(e){
            e.preventDefault();
            var linkSource = $(this).attr("href")+'?autoplay=1&rel=0';
            $("#video-frame").addClass("active").find(".frameVideo").attr("src",linkSource);
                return false;
        });
        $(".hero_modal_overlay .close-overlay").on("click",function(e){
            e.preventDefault();
            $(this).parent(".hero_modal_overlay").removeClass("active");
            var parentId = $(this).parent(".hero_modal_overlay").attr("id");
            if(parentId=="video-frame")
                {
                  $(".frameVideo").attr("src","");
                }
                return false;
        });
        $('#accordian-tab > ul > li:has(ul)').addClass("has-sub");
          $('#accordian-tab > ul > li > a').click(function() {
            var checkElement = $(this).next();
            $('#accordian-tab li').removeClass('active');
            $(this).closest('li').addClass('active'); 
            if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
              $(this).closest('li').removeClass('active');
              checkElement.slideUp('normal');
            }
            if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
              $('#accordian-tab ul ul:visible').slideUp('normal');
              checkElement.slideDown('normal');
            }
            if (checkElement.is('ul')) {
              return false;
            } else {
              return true;  
            }   
        });
    });
    </script>
{% endblock uncompressedjs %}
