<section data-cms-attr="class:boxClass" class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="content-card">
                    <div class="card-body">
                        <div class="card-article-body">
                            <div class="card-widget">
                                <img alt="image title" data-cms-attr='src:image_url_1' src="{{STATIC_URL}}img/sample-1.jpg">
                            </div>
                            <div class="card-article-header">
                                <h2 data-cms-content='col1title'>Lorem ipsum dolor sit amet,dolorem, cupiditate. </h2>
                                <div class="article-author"><h4 data-cms-content='col1lead'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, ullam illo nesciunt nostrum omnis </h4></div>
                            </div>
                            <div class="card-article-body" data-cms-content='md:col1body'>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sint nostrum sequi asperiores ut eos expedita maiores vel ipsam id consequatur illum ullam, voluptatibus enim odit iusto debitis tempore accusamus.</p>
                            </div>
                            <div class="card-article-footer">
                                <a data-cms-attr="href:ctalink|class:ctaclass" href="#" class='btn btn--orange' data-cms-content="ctatext">Card Action Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="content-card">
                    <div class="card-body">
                        <div class="card-widget" data-cms-content='md:colwidget'>
                            <div class="video-card">
                                <iframe width="300" height="250" src="https://www.youtube.com/embed/oVeTf7s2uWc" frameborder="0" allowfullscreen></iframe>   
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
