<section data-cms-attr="class:boxClass" class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content-card">
                    <div class="card-body">
                        <div class="card-widget">
                            <img data-cms-attr='src:image_url' src="{{STATIC_URL}}img/sample-1.jpg" alt="image title">
                        </div>
                        <div class="card-article-header">
                            <h2 data-cms-content='md:coltitle'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, dolorem, cupiditate. </h2>
                            <div class="article-author"><h4 data-cms-content='md:collead'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, ullam illo nesciunt nostrum omnis </h4></div>
                        </div>
                        <div class="card-article-body" data-cms-content='md:colbody'>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sint nostrum sequi asperiores ut eos expedita maiores vel ipsam id consequatur illum ullam, voluptatibus enim odit iusto debitis tempore accusamus.</p>
                        </div>
                        <div class="card-article-footer">
                            <a data-cms-attr="href:ctalink|class:ctaclass" href="#" class='btn btn--orange' data-cms-content="ctatext">Card Action Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>