<section class="block block--home block--videos stashable">
	<div class="container">
		<h2>Because TV, yaar!</h2>
		<div class="cfvideos">
				<a href="/tvc/">
				<ul>
					<li class="left"><img src="{{STATIC_URL}}tvc/img/thumbnail_burger.jpg"></li>
					<li class="active"><img src="{{STATIC_URL}}tvc/img/thumbnail_baby.jpg"></li>
					<li class="right"><img src="{{STATIC_URL}}tvc/img/thumbnail_mom.jpg"></li>
				</ul>
				</a>
				<div class="cfvideo__content">
					<h4>#DisasterSeFaster</h4>
					<p>At Coverfox, we are always looking for interesting ways to change conversations around insurance. From stressful and fear inducing to something warm and friendly - we try to get it covered with our hilarious new campaign. Disaster might just be around the corner, but sometimes so is a laugh. Have a look?</p>
					<a class="btn-empty" href="/tvc/">Read full story</a>
				</div>
		</div>
	</div>
</section>
