<section class="health-highlight" data-cms-attr="class:boxClass">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <div class="health-highlight__heading" data-cms-content='headingtxt'>Main Highlight of the plan</div>
               <ul class="health-benefits__list" data-cms-content='bullettxt'>
                   <li><span>•</span> In publishing and graphic design, lorem ipsum In publishing and graphic design,In publishing and graphic design, lorem ipsum In publishing and graphic design,</li>
                   <li><span>•</span> In publishing and graphic design, lorem ipsum In publishing and graphic design, In publishing and graphic design, lorem ipsum In publishing and graphic design,</li>
                   <li><span>•</span> In publishing and graphic design, lorem ipsum In publishing and graphic design,</li>
                   <li><span>•</span> In publishing and graphic design, lorem ipsum In publishing and graphic design,</li>
               </ul>
           </div>
       </div>
   </div>
</section>