<section data-cms-attr="class:boxClass">
    <div class="col-md-4 col-sm-6">
      <div class="offer">
        <div class="offer__image">
            <img src="/static/img/cms/logo-motoassist.png" data-cms-attr='src:image_url_logooffer'>
        </div>
        <div class="offer__content" data-cms-content='offersubtxt'>
              30% off on Car Beautification & Maintenance work from MotoAssist.
        </div>
        <div class="offer-container">
          <div class="offer-container__action"  data-cms-content='coffercode'>
              Give missed call on 9xxxxxxxxx to avail.
          </div>
        </div>
      </div>
    </div>
</section>