<section data-cms-attr="class:boxClass" class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <img alt="image title" data-cms-attr='src:image_url' src="{{STATIC_URL}}img/sample-1.jpg" class="img">
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="content-card">
                    <div class="card-body">
                        <div class="card-article-header">
                            <h2 data-cms-content='coltitle'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, dolorem, cupiditate. </h2>
                            <div class="article-author"><h4 data-cms-content='collead'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, ullam illo nesciunt nostrum omnis </h4></div>
                        </div>
                        <div class="card-article-body" data-cms-content='md:colbody'>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, nam quod autem minus, et aut quae quidem rerum quo iusto optio rem officia incidunt aspernatur amet deleniti recusandae ipsam voluptatum.</p>
                        </div>
                        <div class="card-article-footer">
                            <a data-cms-attr="href:ctalink|class:ctaclass" href="#" class='btn btn--orange' data-cms-content="ctatext">Card Action Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>