<section class="health-recommend" data-cms-attr="class:boxClass">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 m-b-15">
                <div class="health-recommend__tophead m-t-20">
                    <img data-cms-attr='src:image_url_Icon1' src="{{STATIC_URL}}img/cms/popular-icon.png"> <span data-cms-content='title1'>Most Popular Articals</span>
                </div>
                <div class="health-recommend__linklist">
                    <a href="#" data-cms-attr="href:artical_link1"><span data-cms-content='articaltxt1'>lorem ipsum In publishing</span></a>
                    <a href="#" data-cms-attr="href:artical_link2"><span data-cms-content='articaltxt2'>lorem ipsum In publishing</span></a>
                    <a href="#" data-cms-attr="href:artical_link3"><span data-cms-content='articaltxt3'>lorem ipsum In publishing</span></a>
                    <a href="#" data-cms-attr="href:artical_link4"><span data-cms-content='articaltxt4'>lorem ipsum In publishing</span></a>
                    <a href="#" data-cms-attr="href:artical_link5"><span data-cms-content='articaltxt5'>lorem ipsum In publishing</span></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 m-b-15">
                <div class="health-recommend__tophead m-t-20">
                    <img data-cms-attr='src:image_url_Icon1' src="{{STATIC_URL}}img/cms/popular-icon.png"> <span data-cms-content='title2'>Most Popular Articles</span>
                </div>
                <div class="health-recommend__linklist">
                    <a href="/health-insurance/articles/pre-existing-diseases-in-health-insurance/" data-cms-attr="href:artical_link6"><span data-cms-content='articaltxt6'>Pre-Existing Conditions In Health Insurance</span></a>
                    <a href="/health-insurance/articles/room-rent-limit-in-health-insurance/" data-cms-attr="href:artical_link7"><span data-cms-content='articaltxt7'>The Truth About The Room Rent Limit</span></a>
                    <a href="/health-insurance/articles/what-your-parents-might-be-hiding-from-you/" data-cms-attr="href:artical_link8"><span data-cms-content='articaltxt8'>Your elderly parents’ best kept secrets</span></a>
                    <a href="/health-insurance/articles/the-best-family-floater-plan/" data-cms-attr="href:artical_link9"><span data-cms-content='articaltxt9'>How to Find the Best Family Floater Plan?</span></a>
                    <a href="/health-insurance/articles/health-insurance-agent-broker/" data-cms-attr="href:artical_link10"><span data-cms-content='articaltxt10'>6 Gamechanging Questions To Ask Your Agent</span></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 m-b-15">
                <div class="health-recommend__tophead m-t-20">
                    <img data-cms-attr='src:image_url_Icon1' src="{{STATIC_URL}}img/cms/popular-icon.png"> <span data-cms-content='title3'>Types of Health Insurance</span>
                </div>
                <div class="health-recommend__linklist">
                    <a href="/health-insurance/family-health-insurance/" data-cms-attr="href:artical_link11"><span data-cms-content='articaltxt11'>Family Health Insurance</span></a>
                    <a href="/health-insurance/cashless-health-insurance/" data-cms-attr="href:artical_link12"><span data-cms-content='articaltxt12'>Cashless Health Insurance</span></a>
                    <a href="/health-insurance/accidental-health-insurance/" data-cms-attr="href:artical_link13"><span data-cms-content='articaltxt13'>Personal Accident Insurance</span></a>
                    <a href="/health-insurance/senior-citizens-health-insurance/" data-cms-attr="href:artical_link14"><span data-cms-content='articaltxt14'>Health Insurance for Senior Citizens</span></a>
                    <a href="/health-insurance/maternity-health-insurance/" data-cms-attr="href:artical_link15"><span data-cms-content='articaltxt15'>Maternity Insurance</span></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 m-b-15">
                <div class="health-recommend__tophead m-t-20">
                    <img data-cms-attr='src:image_url_Icon1' src="{{STATIC_URL}}img/cms/popular-icon.png"> <span data-cms-content='title4'>Top Health Insurance Companies</span>
                </div>
               <div class="health-recommend__linklist">
                    <a href="/health-insurance/apollomunich-health-insurance/" data-cms-attr="href:artical_link16"><span data-cms-content='articaltxt16'>Apollo Munich</span></a>
                    <a href="/health-insurance/star-health-and-allied-insurance-health-insurance/" data-cms-attr="href:artical_link17"><span data-cms-content='articaltxt17'>Star Health And Allied Insurance</span></a>
                    <a href="/health-insurance/religare-health-insurance/" data-cms-attr="href:artical_link18"><span data-cms-content='articaltxt18'>Religare Health Insurance</span></a>
                    <a href="/health-insurance/hdfcergo-health-insurance/" data-cms-attr="href:artical_link19"><span data-cms-content='articaltxt19'>HDFC ERGO Health Insurance</span></a>
                    <a href="/health-insurance/oriental-health-insurance/" data-cms-attr="href:artical_link20"><span data-cms-content='articaltxt20'>Oriental Health Insurance</span></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 m-b-15">
                <div class="health-recommend__tophead m-t-20">
                    <img data-cms-attr='src:image_url_Icon1' src="{{STATIC_URL}}img/cms/popular-icon.png"><span data-cms-content='title5'>Popular Casheless Hospitals</span>
                </div>
               <div class="health-recommend__linklist">
                    <a href="/health-insurance/star-health-and-allied-insurance-health-insurance/network-hospitals/" data-cms-attr="href:artical_link21"><span data-cms-content='articaltxt21'>Star Health Network Hospitals</span></a>
                    <a href="/health-insurance/oriental-health-insurance/network-hospitals/" data-cms-attr="href:artical_link22"><span data-cms-content='articaltxt22'>Oriental Network Hospitals</span></a>
                    <a href="/health-insurance/religare-health-insurance/network-hospitals/" data-cms-attr="href:artical_link23"><span data-cms-content='articaltxt23'>Religare Network Hospitals</span></a>
                    <a href="/health-insurance/bajaj-allianz-health-insurance/network-hospitals/" data-cms-attr="href:artical_link24"><span data-cms-content='articaltxt24'>Bajaj Allianz Network Hospitals</span></a>
                    <a href="/health-insurance/reliance-health-insurance/network-hospitals/" data-cms-attr="href:artical_link25"><span data-cms-content='articaltxt25'>Reliance Network Hospitals</span></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 m-b-15">
                <div class="health-recommend__tophead m-t-20">
                    <img data-cms-attr='src:image_url_Icon1' src="{{STATIC_URL}}img/cms/popular-icon.png"><span data-cms-content='title5'>Popular Health Plans</span>
                </div>
               <div class="health-recommend__linklist">
                    <a href="/health-insurance/l-and-t-health-insurance/my-health-medisure-super-top/" data-cms-attr="href:artical_link21"><span data-cms-content='articaltxt21'>L&T Medisure Super Top Up</span></a>
                    <a href="/health-insurance/maxbupa-health-insurance/health-companion-policy/" data-cms-attr="href:artical_link22"><span data-cms-content='articaltxt22'>Max Bupa Health Companion</span></a>
                    <a href="/health-insurance/religare-health-insurance/care-policy/" data-cms-attr="href:artical_link23"><span data-cms-content='articaltxt23'>Religare Care Plan</span></a>
                    <a href="/health-insurance/oriental-health-insurance/happy-family-floater-policy/" data-cms-attr="href:artical_link24"><span data-cms-content='articaltxt24'>Oriental Happy Family Floater</span></a>
                    <a href="/health-insurance/star-health-and-allied-insurance-health-insurance/mediclassic-policy/" data-cms-attr="href:artical_link25"><span data-cms-content='articaltxt25'>Star Mediclassic Insurance Plan</span></a>
                </div>
            </div>
        </div>
    </div>
</section>