<section class="block block--content" data-cms-attr="class:boxClass">
	<div class="container grid-960" data-cms-content='sec_main_container3'>
		<div class="content-header">
			<h2 data-cms-content='add_cover_header'><strong>Additional</strong> Covers</h2>
			<div class="sh--small" data-cms-content='add_cover_subheader'>Customise your Car Insurance</div>
		</div>
		<ul class="grid-list clearfix">
			<li>
				<div class="content-media content-media--center">
					<img src="{{STATIC_URL}}img/icons/car_icons/ic_car_zerodepcover.png" data-cms-attr='src:image_url_zero_dept'>
					<h5 data-cms-content='zero_dept'>Zero Depreciation Cover</h5>
					<p data-cms-content='zero_dept_text'>
						For the repair/replacement expenses of plastic, rubber, fiber, glass, etc., <strong>otherwise not covered</strong> in a regular policy.
					</p>
				</div>
			</li>
			<li>
				<div class="content-media content-media--center">
					<img src="{{STATIC_URL}}img/icons/car_icons/ic_car_engineprotect.png" data-cms-attr='src:image_url_engine_pro'>
					<h5 data-cms-content='engine_pro'>Engine Protection</h5>
					<p data-cms-content='engine_pro_text'>
						For those times when Indian monsoons are at their destructive worst, and leave your <strong>car's engine vulnerable to flooding.</strong>
					</p>
				</div>
			</li>
			<li>
				<div class="content-media content-media--center">
					<img src="{{STATIC_URL}}img/icons/car_icons/ic_car_lNCB_protection.png" data-cms-attr='src:image_url_ncb_pro'>
					<h5 data-cms-content='ncb_pro'>NCB Protection</h5>
					<p data-cms-content='ncb_pro_text'>
						To continue enjoying discounted premium on <strong>no-claim bonus</strong>, year-on-year, even after making a claim.
					</p>
				</div>
			</li>
			<li>
				<div class="content-media content-media--center">
					<img src="{{STATIC_URL}}img/icons/car_icons/ic_car_invoicecover.png" data-cms-attr='src:image_url_incoice_cover'>
					<h5 data-cms-content='invoice_cover'>Invoice Cover</h5>
					<p data-cms-content='invoice_cover_text'>
						To <strong>recover as much as the car's on-road price</strong> or insured declared value in case of total loss (in an accident or by theft)
					</p>
				</div>
			</li>
		</ul>
		<div class="loader--content__video clearfix video-article">
			<a href="//www.youtube.com/embed/7VxoVVdzkE8" data-cms-attr="href:car_link">
				<ul>
					<li>
						Covers damages to third party and your own car.
						<span>1 min video</span>
					</li>
				</ul>
			</a>
		</div>
	</div>
</section>