<section data-cms-attr="class:boxClass" class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="content-card">
                    <div class="card-body">
                        <div class="card-article-body">
                            <div class="card-widget" data-cms-content='md:widget'>
                                <img alt="image title" src="{{STATIC_URL}}img/sample-1.jpg">
                            </div>
                            <div class="card-article-header">
                                <h2 data-cms-content='title'>Lorem ipsum dolor sit amet,dolorem, cupiditate. </h2>
                                <div class="article-author"><h4 data-cms-content='subtitle'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, ullam illo nesciunt nostrum omnis </h4></div>
                            </div>
                            <div class="card-article-body" data-cms-content='md:content'>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sint nostrum sequi asperiores ut eos expedita maiores vel ipsam id consequatur illum ullam, voluptatibus enim odit iusto debitis tempore accusamus.</p>
                            </div>
                            <div class="card-article-footer">
                                <a data-cms-attr="href:ctalink|class:ctaclass" href="#" class='btn btn--orange' data-cms-content="ctatext">Card Action Button</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="form-container">
                    <h2 data-cms-content='formtitle'>Title of the section</h2>
                    <h4 data-cms-content='formsubtitle'>Subtitle of the section</h4>
                    <div class="single-field-container">
                        <form class='phone-number-form'>
                        <input name='phone' type="number" placeholder="10 digit phone number" />
                        <button type="submit" data-cms-attr="class:formctaclass" data-cms-content="formctatext" class='btn btn--orange'  >Schedule a call</button>
                        <p class="fs err">Please enter a valid phone number</p>
                        <p class="fs success">Thanks! We will get back to you soon.</p>
                        <p class='fxs' data-cms-content='dnd'>{{ settings.DND_MSG }}</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>