<section class="block block--home block--numbers stashable">
	<div class="container-fluid">
		<div class="row cfnumbers">
			<div class="col-sm-4 cfnumbers__item">
				<h4>10,00,000+</h4>
				<span class="g-hlt">Quotes compared last year.</span>
				<p>Over a million quotes were compared by Coverfox users over the past year to find their match. What can we say? The love is overwhelming.</p>
			</div>
			<div class="col-sm-4 cfnumbers__item">
				<h4>70,000+</h4>
				<span class="g-hlt">Policies bought last year.</span>
				<p>That means we have around 70,000+ Coverfox users who have been enjoying a stress-free life over the past year.</p>
			</div>
			<div class="col-sm-4 cfnumbers__item">
				<h4>Rs.1,45,235</h4>
				<span class="g-hlt">Highest premium paid last year.</span>
				<p>That's the level of trust our satisfied customers have in us. <br>Join the brigade?</p>
			</div>
		</div>
	</div>
</section>	