<section data-cms-attr="class:boxClass" class="block">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-md-offset-2 col-md-8 col-sm-8">
                <div class="content-card">
                    <div class="card-body center">
                        <div class="card-article-header">
                            <h2 data-cms-content='coltitle'>Video Title</h2>
                        </div>
                        <div class="card-widget" data-cms-content='md:colwidget'>
                            <div class="video-card">
                                <iframe width="444" height="250" src="https://www.youtube.com/embed/oVeTf7s2uWc" frameborder="0" allowfullscreen></iframe>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>