@import "../../css/base_theme";
@import "../../css/style_mobile";
.header_top {
  padding: 10px 10px 20px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  .header_txt{
    color: @textColor;
    line-height: 1.4em;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 0 0;
    text-transform: uppercase;
    font-weight:400;
  }
  & h1 {
    text-align: center;
    color: @baseThemeColor;
    font-size: 26px;
    margin: 20px 0 0;
    font-weight: 400;
    line-height: 1.3em;
  }
  & img {
    height:50px;
  }
}
.form-section {
  background-color: @boxDarkBackground;
}
.benefit-list{
  ul {
    padding: 10px 0px;
    margin: 0;
    & li {
      margin: 8px 0;
      list-style: none;
      position: relative;
      font-size: 13px;
      color: @textColor;
      font-weight: 600;

    }
  }
  ul.ben-list {
    li img {
      background-color: @lightTextColor;
      .roundedCorners(50%);
      padding:4px;
    }
  }
  h2.benefit {
    margin: 10px;
    position: relative;
    font-size: 18px;
    font-weight: 300;
  }
  h2 {
    color:@textColor;
  }
}
.base-box {
  margin:0px 0px 10px;
  padding:10px 0px;
  display: block;
  background-color: lighten(@banner-color, 30%);
  border-top:1px solid rgba(0, 0, 0, 0.02);
  border-bottom:1px solid rgba(0, 0, 0, 0.02);
  & ul {
    max-width:300px;
    margin:0 auto;
    padding: 0;
    list-style-type: none;
    text-align: left;
    & li {
      opacity: 0.8;
      margin: 0px;
      padding: 5px 5px 5px 20px;
      display:inline-block;
      vertical-align: top;
      color:#666;
      font-size: 9px;
      line-height: 1.2em;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: relative;
      font-weight: 400;
      &.icon-seal {
        opacity: 1;
        padding: 0px 5px;
        border: 0px;
        img.icon {
          width: 95px;
          position: absolute;
          top:3px;
          left:0;
        }
      }
      & img.icon {
        position:absolute;
        top:5px;
        left:0px;
        width:16px;
      }
    }
  }
}
.form_container{
  margin:0px;
  .btn-cfox.orange{
    font-size: 16px;
    padding: 8px;
  }
  .error {
    color: #ffffff;
    margin: -10px 0px 10px;
    letter-spacing: 1px;
    padding: 2px 10px;
    background-color: red;
    display: block;
    font-size: 11px;
  }
  .input_container{
    position: relative;
    padding: 0px;
    input {
      padding-left:45px;
    }
    span{
      position: absolute;
      color:#354789;
      top:13px;
      left:7px;
      font-size:12px;

    }
  }
  .terms-msg{
    margin: 15px 0 0;
    font-size: 10px;
    color: @lightTextColor;
  }
  .form_text_box {
    width:100%;
    padding: 12px;
    color:#354789;
    display: block;
    margin: 0 0 15px;
    font-size:12px;
    border: 1px solid #dadada;
    .roundedCorners(3px);
    background:#ffffff;
    .boxShadow(1px 2px 4px rgba(0,0,0,0.05) inset);
    &:focus{
      background: #fff;
    }
  }
}
.box-styling {
  max-width: 450px;
  padding:15px;
  margin: auto;
}
.form-highlight {
  .box-styling;
  & h3{
    margin: 5px -5px 10px;
    font-size:12px;
    line-height: 1.6em;
    font-weight: 400;
    text-align: center;
  }
  & h2 {
    margin-top:0px;
    font-weight:600;
    font-size:18px;
    text-align: center;
  }
}
.why_coverfox{

  h1{
    font-size: 20px;
  }
  margin: 15px 0;
  font-size: 11px;
  .table_container{
    margin: 15px 0;
    img{
      max-width: 18px;
      display: block;
      margin: 5px auto;
    }
  }
  .logo{
    img{
      max-width: 50px;
    }
  }
}
.header_top {

}

@media only screen and (min-width: 200px) and (max-width: 550px) {
  .compair_container_log {
    margin-bottom: 30px;
    margin-top:0px;
  }
  .header_top {
    img {
      height: 50px;
    }
    h1 {
      font-size: 20px;
    }
  }
  .form_container {
    .btn-cfox {
      width: 100%;
      display: block;
    }
  }
}
