{% extends "flatpages:base.html" %}
{% load compress %}
{% block css %}
  <link href="{{ STATIC_URL }}flatpages/css/car_details.css" rel="stylesheet">
{% endblock css %}
{%block flatpage_header%}
  <div id="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-4 col-sm-4">
                    <div class="logo">
                        <a href="/">
                            {% block cf_logo %}
                                <img src="{{STATIC_URL}}lp-motor/img/coverfox-logo.png?ver=1" alt="Coverfox" class="logo">
                            {% endblock %}
                        </a>
                        <br/>
                    </div>
                    <div id="irda-auth" class="irda-auth-badge">
                        <span>
                            IRDA Licence:
                            <br>IRDA/ DB 556/ 13
                        </span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-8 col-sm-8">
                    <ul id="right-menu-items" class="clearfix">
                        {% block crossover %}
                            <li class="pipe-link"><a href="/health-plan/">Health</a></li>
                            <li class="pipe-link"><a href="/motor/twowheeler-insurance/">Two Wheeler</a></li>
                            <li class="pipe-link"><a href="/home-insurance/">Home</a></li>
                            <li class="pipe-link"><a href="/travel-insurance/">Travel</a></li>
                            <li class="pipe-link seperator"></li>
                        {% endblock crossover %}
                        {% block tollfree %}
                            {% ifequal view_id 'call' %}
                                <li class="c2c">
                                    <a href="javascript:ClickToCall('top_bar')">
                                        {{ settings.CAR_CALL_ONLY }}
                                    </a>
                                    Toll Free
                                    <img src="{{STATIC_URL}}lp-motor/img/phone.png?ver=1" alt="" class="menuimg">
                                </li>
                            {% else %}
                                <li class="c2c">
                                    <a href="javascript:ClickToCall('top_bar')">
                                        {{ settings.CAR_TOLL_FREE }}
                                    </a>
                                    Toll Free
                                    <img src="{{STATIC_URL}}lp-motor/img/phone.png?ver=1" alt="" class="menuimg">
                                </li>
                            {% endifequal %}
                        {% endblock tollfree %}
                    </ul>
                </div>
            </div>
            <button id="toggle-menu" class="navbar-toggle">
                <span class="bar plus"></span>
                <span class="bar minus"></span>
            </button>
            <ul id="pipe-links" class="pipe-menu-right">
                <li><a href="/lp/health-insurance/buy/?hopover_case=True">Health Insurance</a></li>
                <li><a href="/lp/bike-insurance/bike/?hopover_case=True">Two Wheeler Insurance</a></li>
                <li><a href="/home-insurance/?hopeover_case=True">Home Insurance</a></li>
                <li><a href="/travel-insurance/?hopover_case=True">Travel Insurance</a></li>
            </ul>
            {% include "flatpages:breadcrumbs.html" %}
        </div><!--/.container-->
    </div><!--/#topbar-->
{%endblock%}
{% block content %}
  <section class="bg_light">
    <section class="bg_img_main">
        <div class="container">
            <div class="row">
                <h1>Tata Indigo Car Insurance</h1>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="bg_top_band clearfix">
                    <div class="col-md-6 col-sm-6 car_name">
                        <img src="/static/flatpages/img/car_3.jpg" alt="Car Insurance" class="img-responsive">
                    </div>
                    <div class="col-md-6 pnone col-sm-6 form-box-mini">
                      <h3>CALCULATE YOUR CAR INSURANCE PREMIUM</h3>
                      <h2>Get Instant quotes from insurance companies </h2>
                          <ul class="form hero-form">
                              <li class="active" data-type="old">
                                  <span class="checkbox"></span>
                                  Renew Existing Policy
                              </li>
                              <li data-type="new">
                                  <span class="checkbox"></span>
                                  Buy Insurance for a New Car
                              </li>
                              <li  data-type="expired">
                                  <span class="checkbox"></span>
                                  Renew Expired Policy
                              </li>
                          </ul>
                          <div class="cfinput addon-field">
                              <span class="addon">+91</span>
                              <input type="text" id='contact-me-num' placeholder="Enter mobile number"/>
                          </div>
                          <div class="contact-me-error">
                              <p class="error">Please enter a valid 10 digit mobile number</p>
                          </div>
                          <button id="show_quote_btn" class="btn-cfox orange btn-next btn-block">
                              Send me quotes
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="logo_section_list">
      <div class="container">
        <div class="row">
          <div class="logo_list clearfix">
            <div class="logo_container">
              <img src="/static/lp-health/img/insurer/larsen-and-tubro-general-insurance.png" class="img-responsive">
            </div>
            <div class="logo_container">
              <img src="/static/lp-health/img/insurer/iffco-tokio-general-insurance.png" class="img-responsive">
            </div>
            <div class="logo_container">
              <img src="/static/lp-health/img/insurer/bajaj-allianz-general-insurance.png" class="img-responsive">
            </div>
            <div class="logo_container">
              <img src="/static/lp-health/img/insurer/religare-general-insurance.png" class="img-responsive">
            </div>
            <div class="logo_container">
              <img src="/static/lp-health/img/insurer/reliance-general-insurance.png" class="img-responsive">
            </div>
          </div>
          <div class="btn_container">
            <a href="#">Compare Now</a>
          </div>
        </div>
      </div>
    </section>
    <section class="bg_white">
      <div class="container">
        <div class="row">
            <div class="details_text">
                <p>Tata Nano is cheapest hatchback car in the world. It offers less fuel consumption and thus is overall a low budget car. Nano has been revised twice since its launch in 2009. The car now has extra space new features, improved styling. In spite of the small size the car is spacious. What makes the car appealing is the price at which it offers all the comforts of the small car. It is common man's which considers needs of common man. The car is known for its simplicity and offers great stability. Nano has all the features required for any car to survive on Indian roads and in Indian weather conditions. To take care of the safety some basic features like brake assist, seat belts, etc. are installed in the car. </p>

                <p>There are 5 variants of this car with 1 engine, 1 transmission and 2 fuel option.</p>

                <p>Variants of the car (arranged in ascending order of thei,rice):</p>

                <p>Tata Nano CX- Petrol variant with 25.4 kmpl mileage, manual transmission and ex-showroom price around INR 2,04,000. Tata N.o Twist XE- Petrol variant with 25.4 kmpl mileage, manual transmission and ex-showroom price around INR 2,06,000. Tata Nano - Petrol variant with 25.4 kmpl mileage, manual transmission and ex-showroom price around INR 2,30,000. Tata Nano Twist XT - Petrol variant with 25.35 kmpl mileage, manual transmission and ex-showroom price around INR 2,43,000. Tata Nano XM - CNG variant with manual transmission and ex-showroom price around INR 2,52,000.</p>

                <p>Discontinued Models</p>

                <p>Tata Nano CNG emax CX - CNG variant with manual transmission. Currently this car has been discontinued. Tata Nano CNG emax LX - CNG variant with manual transmission. Currently this car has been discontinued.</p>
            </div>
        </div>
      </div>
    </section>
  </section>
  {%compress js%}
    <script src="{{STATIC_URL}}campaign/js/zepto.js"></script>
    <script src="{{STATIC_URL}}campaign/js/cookies.js"></script>
  {%endcompress%}
  <script type="text/javascript" src="{{ STATIC_URL }}marketing/motor/js/hero_form.js"></script>
  <script type="text/javascript">
      var CSRF_TOKEN;
      var page_id = 'car_manufacturer';
      var toll_free_no = '{{ settings.CAR_TOLL_FREE }}';
      var hero_phone_mandatory = 'YES';
      var next_page_override = '';
      var policy_type = 'old';
      $(document).ready(function(){
        $.get("{%url 'get_token'%}", function(data){
          CSRF_TOKEN = data.csrf;
        }, 'json');

      });
</script>
{% endblock content %}


