{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Popular Cashless Garages{% endblock pagetitle %}
{% block flatpage_header %}
    <header>
        <div class="header-wrapper pnone {% block custom_header_class %}{% endblock custom_header_class %}">
            {% block top_header %}
                {% include "flatpages:header_2.html" %}
            {% endblock %}
            <section id="page-header" class="bg_car">
                <div class="container">
                    {% block pageheader %}
                        {% include "flatpages:breadcrumbs.html" %}
                        <div class="page-header-wrapper page_nw_header container">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <h1>{% if insurer %}{{ title|title }} {% endif %}Cashless Garages</h1>
                                </div>
                            </div>
                        </div>
                    {% endblock pageheader %}
                </div>
            </section>
        </div>
    </header>
{% endblock %}
{% block css %}
    <link href="{{ STATIC_URL }}vendors/select2/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/home-desktop.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ STATIC_URL }}seo/css/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.simplePagination.css">
    <style>
        .form-box-mini h1 {
            color: black !important;
        }

        .footer-wrapper-products {
            display: block !important;
        }

        .address, .location {
            color: #2c2c2c !important;
        }

    </style>
{% endblock css %}

{% block content %}
    <div {% if not insurer %}id="network_hospitals"{% endif %} class="container">
        <div class="row">
            <div class="col-md-8 static-items-list">
                <div class="col-md-12 search_result_container">
                    {% if insurer %}
                        <div class="vehicle-details row common-fields">
                            <div class="col-md-12">
                                {% if title == "l and t" %}
                                    <h3>L&T</h3>

                                    <p>Larsen and Toubro has a network of affiliated garages to choose from while opting
                                        for their cashless car insurance policy. Find the garage closest to your location
                                        with the help of this extensive list, by filling in your state, city, and the brand
                                        name of your vehicle.</p>

                                {% elif title == "bharti axa" %}
                                    <h3>Bharti AXA</h3>

                                    <p>Bharti AXA has a network of garages where you can opt for cashless service for
                                        your car. Just fill in your state, city, and the brand name of your vehicle to
                                        locate the garage closest to your location fom this exhaustive list.</p>

                                {% elif title == "iffco tokio" %}
                                    <h3>Iffco Tokio</h3>

                                    <p>If you have opted for car insurance from Iffco Tokio, it's recommended to keep
                                        this extensive list of affiliated garage network for a cashless service handy.
                                        Fill in your state, city, and the brand name of your vehicle too choose the
                                        garage closest to your location.</p>

                                {% elif title == "bajaj allianz" %}
                                    <h3>Bajaj Allianz</h3>

                                    <p>Find the closest garage and opt for cashless service with this extensive list of
                                        garages affiliated with Bajaj Allianz Car Insurance. Fill in your state, city,
                                        and the brand name of your vehicle too choose the garage closest to your
                                        location.</p>

                                {% elif title == "hdfc ergo" %}
                                    <h3>HDFC Ergo</h3>

                                    <p>HDFC Ergo has a network of affliated garages that offer cashless service for your
                                        car. Simply fill in your state, city, and the brand name of your vehicle to
                                        locate the garage closest to your location.</p>
                                {% endif %}
                            </div>
                            <div class="col-md-12">
                                <!-- State Drop Down -->
                                <div class="form-group col-xs-4 plnone">
                                    <div class="cf-select-dd">
                                        <label class="hide on-select-label">Your State</label>
                                        <select data-placeholder="Select your state"
                                                class="select3-input emptyState select-ip" name="state"
                                                title="Enter Your State">
                                            <option selected disabled></option>
                                        </select>
                                    </div>
                                </div>

                                <!-- City Drop Down -->
                                <div class="form-group col-xs-4 plnone">
                                    <div class="cf-select-dd">
                                        <label class="hide on-select-label">Your City</label>
                                        <select data-placeholder="Select your city"
                                                class="select3-input emptyState select-ip" name="cities"
                                                title="Enter Your City">
                                            <option selected disabled></option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Model Drop Down -->
                                <div class="form-group col-xs-4 plnone">
                                    <div class="cf-select-dd">
                                        <label class="hide on-select-label">Your Car Brand</label>
                                        <select data-placeholder="Select your car brand"
                                                class="select3-input emptyState select-ip" name="make"
                                                title="Enter Your Car Brand">
                                            <option selected disabled></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form name="cashless-garages-insurance">
                            {% csrf_token %}
                            {#                <input type="hidden" name="insurance_company" value="{{ slug }}" />#}
                            <input type="hidden" name="insurer_id" value="{{ insurer.id }}"/>
                            <input type="hidden" id="state" name="state" value=""/>
                            <input type="hidden" name="city" value=""/>
                            <input type="hidden" name="make" value=""/>
                        </form>
                        <div class="hide">
                            <h4>Garages</h4>

                            <!-- Display all garages list -->
                            <div id="garages"></div>
                            <ul id="garages-pagination" class="pagination light-theme simple-pagination"></ul>

                            <div class="garages-template hide">
                                <div class="col-md-12 pnone static-item">
                                    <div class="col-md-1 pnone">
                                        <span class="index"></span>
                                    </div>
                                    <div class="col-md-11">
                                        <h3>{{ garage.name }}</h3>

                                        <p class="address">{{ garage.address }}</p>

                                        <p class="location">{{ city }}, {{ state }}</p>
                                        <!--<p class="phone"><img src="{{STATIC_URL}}seo/img/phone-icon.png" alt=""> <strong>Phone</strong><span>{{garage.phone1}}</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-6 co-sm-12 pnone">
                            <ul>
                                <li><a href="/car-insurance/l-and-t/cashless-garages/"><img
                                        src="{{ STATIC_URL }}flatpages/img/insurer/larsen-and-tubro-general-insurance.png"
                                        alt="Larsen and Tubro General Insurance"> L & T Car Insurance</a></li>
                                <li><a href="/car-insurance/iffco-tokio/cashless-garages/"><img
                                        src="{{ STATIC_URL }}flatpages/img/insurer/iffco-tokio-general-insurance.png"
                                        alt="IFFCO Tokio General Insurance"> Iffco Tokio</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 co-sm-12">
                            <ul>

                                <li><a href="/car-insurance/bharti-axa-car-insurance/cashless-garages/"><img
                                        src="{{ STATIC_URL }}flatpages/img/insurer/bharti-axa-general-insurance.png"
                                        alt="Bharti Axa General Insurance"> Bharti Axa General Insurance</a></li>
                                <li><a href="/car-insurance/bajaj-allianz/cashless-garages/"><img
                                        src="{{ STATIC_URL }}flatpages/img/insurer/bajaj-allianz-general-insurance.png"
                                        alt="Bajaj Allianz General Insurance"> Bajaj Allianz</a></li>

                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <ul>
                                <li><a href="/car-insurance/hdfc-ergo/cashless-garages/"><img
                                        src="{{ STATIC_URL }}flatpages/img/insurer/hdfc-ergo-general-insurance.png"
                                        alt="HDFC Ergo General Insurance">HDFC ERGO</a></li>
                            </ul>
                        </div>
                    {% endif %}

                </div>
            </div>
            <div class="col-md-4 static-sidebar-container network_nw_form">
                <div class="offer-form n-form">
                    <h3>Subscribe to Blog</h3>
                    <h4>Get Insurance and Financial money saving tips in your inbox.</h4>
                    <div class="f-input n-input">
                        <input type="text" placeholder="Name" name="name" id="contact-me-name1">
                        <div class="contact-me-error" id="name-error1" hidden><p class="error">Enter a valid name</p></div>

                        <input type="text" placeholder="Email" name="email" id="contact-me-email1">
                        <div class="contact-me-error" id="email-error1" hidden><p class="error">Enter a valid email</p></div>
                        <button id="show-quote-btn1" class="btn-cfox orange large">Get Started</button>
                    </div>
                    <div class="thank-you hide">
                        Thank You!
                    </div>
                    <div class="toll-free">
                        Call us on: <a href="javascript:ClickToCall('top_bar')">
                        1800 209 9930
                    </a>
                    </div>
                </div>
                <div class="share-popup-wrapper">
                    <h3>Find Car Insurance Cover that Works for you</h3>

                    <div class="recommended-items-sidebar">
                        <a href="/car-insurance/compare-car-insurance/">Compare Car Insurance Online</a>
                        <a href="/car-insurance/renew-car-insurance/">Renew Car Insurance</a>
                        <a href="/car-insurance/zero-depreciation/">Zero Depreciation Car Insurance</a>
                        <a href="/car-insurance/">Car Insurance</a>
                        <a href="/car-insurance/expired-policy/">Expired Car Insurance Plans</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script src="{{ STATIC_URL }}home/js/jquery-1.11.3.min.js"></script>
    <script src="{{ STATIC_URL }}vendors/select2/select2.min.js"></script>
    <script src="{{ STATIC_URL }}js/cookies.js"></script>
    <script src="{{ STATIC_URL }}flatpages/js/cashless-garages-right-container.js"></script>
    <script src="{{ STATIC_URL }}flatpages/js/garage-list.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.simplePagination.js"></script>
    <script src="{{ STATIC_URL }}lp-health/js/utils.js"></script>
    <script type="text/javascript">
        var CSRF_TOKEN = "{{ csrf_token }}";
        var next_page_url = 'THANK-YOU';
        var campaign = 'motor';
        var page_id = 'sp_motor_cashless_garages';
        var NAME_MANDATORY = true;
        var EMAIL_MANDATORY = true;
        var MOBILE_MANDATORY = false;
        $(document).ready(function(){
            $.get("{%url 'get_token'%}", function(data){
                CSRF_TOKEN = data.csrf;
            }, 'json');
            $('.contact-me-error').hide();
        });
    </script>
{% endblock %}
