{% extends "flatpages:base.html" %}
{% block css %}
  <link href="{{ STATIC_URL }}flatpages/css/style-new-lp.css" rel="stylesheet">
{% endblock css %}
{% block pageheader %}
	{% include "flatpages:breadcrumbs.html" %}
{% endblock pageheader %}
{% block content %}
<section class="design_top_container car_bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Why Compare Car Insurance at Coverfox.com? </h1>
				<ul>
					<li><span></span>Compare Quotes from Top Insurance Companies in Minutes</li>
					<li><span></span>Free Claims Assistance</li>
					<li><span></span>Personalised Car Insurance Quotes</li>
					<li><span></span>Car Insurance Comparison made Simple</li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="op_container clearfix">
				<div class="col-md-3 col-sm-3">
					<input type="text" placeholder="Name" name="name" id="contact-me-name1">
					<div class="contact-me-error" id="name-error1" hidden><p class="error">Enter a valid name</p></div>
				</div>
				<div class="col-md-3 col-sm-3">
					<input type="text" placeholder="Email" name="email" id="contact-me-email1">
					<div class="contact-me-error" id="email-error1" hidden><p class="error">Enter a valid email</p></div>
				</div>
				<div class="col-md-3 col-sm-3">
					<input type="text" placeholder="Mobile no" name="phone" id="contact-me-num1">
					<div class="contact-me-error" id="num-error1" hidden><p class="error">Enter a valid mobile number</p></div>
				</div>
				<div class="col-md-3 col-sm-3">
					<button id="show-quote-btn1" >Get Quick Quotes</button>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="logo_section_list">
	<div class="container">
		<div class="row">
			<div class="logo_list clearfix">
				<div class="logo_container">
					<img src="{{STATIC_URL}}lp-motor/img/insurer/larsen-and-tubro-general-insurance.png?ver=1" class="img-responsive">
				</div>
				<div class="logo_container">
					<img src="{{STATIC_URL}}lp-motor/img/insurer/bajaj-allianz-general-insurance.png?ver=1" class="img-responsive">
				</div>
				<div class="logo_container">
					<img src="{{STATIC_URL}}lp-motor/img/insurer/bharti-axa-general-insurance.png?ver=1" class="img-responsive">
				</div>
				<div class="logo_container">
					<img src="{{STATIC_URL}}lp-motor/img/insurer/iffco-tokio-general-insurance.png?ver=1" class="img-responsive">
				</div>
				<div class="logo_container">
					<img src="{{STATIC_URL}}lp-motor/img/insurer/hdfc-ergo-general-insurance.png?ver=1" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="covered_container_section">
	<div class="container">
		<h2>Why Compare Car Insurance Policies?</h2>
		<P>With so many insurers waiting to provide you with numerous car insurance plans with multiple options as well as policy conditions, car insurance comparison is the smartest way to <a href="/car-insurance/">buy car insurance online</a>. Compare parameters such as who can give you a better premium against your requirements, exclusions, and the standing of these insurance companies with respect to their history of settling claims. But it isn’t humanly impossible for a single person to get all this information readily and quickly. Enter Coverfox. Coverfox.com works on an algorithm that gets you the most optimum plans in a matter of a few minutes. Take your time in analyzing what suits you best and go for it.</P>
		<h2>Comparison Saves Money</h2>
		<P>Buying insurance is a lot like finding the perfect car itself. It needs to be in your budget, should be value for money, reliable, and should cover your requirements. Like you compare your prospective cars, it makes sense to compare your car insurance plans as well. Compare the discounts offered, total coverage and add-ons (if any) before zeroing on a <a href="/car-insurance/">car insurance policy</a>.</P>
		<div class="btn_container">
			<a href="/motor/car-insurance/">Check out lowest Car Insurance Prices</a>
		</div>
		<p>To compare insurance quotes online visit <a href="/">www.coverfox.com</a></p>
		<h2>Things to consider while comparing car insurance policy</h2>
		<p>How does one make sure that you indeed have everything you’re looking for? That’s simple – make a list of everything you’re looking for. We made it for you, right here: </p>
		<div class="list_container">
			<ul>
				<li><strong>What does a Car Insurance Policy cover?</strong> <br>
					A car insurance policy provides coverage against theft, explosion, theft, terrorist activities and any malevolent acts. It also provides cover against damage caused by the 'Act of God,' i.e. natural calamities such as cyclones, floods, tsunami etc.
				</li>
				<li><strong>Premium Offered</strong> <br>
					The most basic requirement while buying car insurance is it should suit your specific needs, reasonably priced within your budget. Consider parameters such as base price, <a href="/articles/car-insurance/invoice-cover-car-insurance/">add-on covers</a>, discounts etc. while considering plans. Remember, it’s all about comparing apples to apples.
				</li>
				<li><strong>Compare Deductibles</strong> <br>
					As a rule of thumb, always compare the <a href="/articles/jargon-busting/voluntary-deductible-motor-insurance/">deductibles</a> before buying a car insurance policy. Bear in mind that once you choose a higher deductible you risk paying more than the total claims. Compare and choose an amount that you can afford paying from your savings. Your car doesn’t stand a chance of getting repaired unless you pay your part of the share.
				</li>
			</ul>
		</div>
		<p>In addition, while <a href="/car-insurance/compare-car-insurance/">comparing car insurance policy</a>, compare insurance companies on basis of their history of paying off claims and market standing. Read up on them, if possible, to get the best deal you can.</p>
		<div class="btn_container">
			<a href="/motor/car-insurance/">Compare and Buy Car Insurance now </a>
		</div>
	</div>
</section>
<section class="lp_intro_container">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
					<img src="{{STATIC_URL}}flatpages/motor/img/types_of_car_insurance.jpg" alt="Car Insurance Policies" class="img-responsive">
			</div>
			<div class="col-md-6 col-sm-6">
                <div class="para_section">
                    <h4>Car Insurance Policies at Coverfox.com</h4>
                    <p>
                        Car insurance is one of the best investment you will make to protect yourself against
                        unforeseen financial losses on account of damage to your car.
                    </p>
                    <p>
                        Car breakdown is a common phenomenon, which might take place anytime, anywhere.
                        If you hate pushing your car in the middle of a jam-packed highway, we'd advice you take an
                        insurance policy with an add-on breakdown cover.
                    </p>
                    <p>
                        In India there are two different types of car insurance policies -
                        <b>Third-party liability</b> and <b>Comprehensive Coverage</b>.
                    </p>
                </div>
                <div class="para_section">
                    <p><strong>Third-party liability insurance</strong> covers you for legal liability whenever your car causes damages to any car belonging to a third party (damage to property or bodily injury caused to a person). Third-party liability is compulsory as per Motor Vehicles Act 1988.  </p>
                    <p><strong>Comprehensive Coverage</strong> shields you from any financial loss arising on account of theft or total loss of your car. You can further add on to this coverage by taking special add-ons from Coverfox such as <a href="/car-insurance/zero-depreciation/">Zero Depreciation</a>, Engine Protect, amongst others. <a href="/articles/car-insurance/invoice-cover-car-insurance/">Add-on covers</a> will help you in saving money in the long run.</p>
                </div>
			</div>
			<div class="clearfix"></div>
			<div class="btn_container">
				<a href="/motor/car-insurance/">Find a Car Insurance Policy that suits your needs</a>
			</div>
		</div>
	</div>
</section>
<section class="covered_container_section">
	<div class="container">
		<h2>How to choose the best car insurance plan?</h2>
		<p>Finding the right car insurance policy isn’t as difficult as you think; we mean it. You just need to know where to begin. We help you choose what’s right for you: </p>
		<div class="list_container">
			<ul>
				<li><strong>What are my coverage options?</strong> <br>
					Check out different coverages along with the costs of premium offered by different insurers on <a href="/">Coverfox.com</a>. It’s also a good choice to compare and review add-ons offered by different insurance companies, as this can save your money. <br>
					Add-ons such as <a href="/car-insurance/zero-depreciation/">zero depreciation</a>, <a href="/articles/car-insurance/invoice-cover-car-insurance/">invoice cover</a>, <a href="https://www.youtube.com/watch?v=2f6xeeVbppI" target="_blank">no-claim bonus</a> (amongst numerous others) will help you in curbing your overall cost in the long run.
				</li>
				<li><strong>What about discounts?</strong> <br>
					Yes! It is absolutely possible to avail discounts on <a href="/car-insurance/">car insurance</a>. Check out the discounts offered by various insurance companies while <a href="/">buying a policy</a>.
				</li>
				<li><strong>Must I compare the policies?</strong> <br>
					<a href="/">Comparing insurance policies</a> is the best way to land the right policy at competitive rates. Online comparison will help you understand what different insurance companies are offering for the same policy with or without additional benefits.
				</li>
			</ul>
		</div>
		<div class="btn_container">
			<a href="/motor/car-insurance/">Get in touch with an insurance advisor now</a>
		</div>
		<h2>Benefits of choosing Car Insurance policy from Coverfox</h2>
		<p>Well, for starters you get discounts on your <a href="/car-insurance/">car insurance premium</a> along with add-on offers that will considerably bring down your overall cost. In addition, you get free advice from our insurance experts for choosing the right policy.</p>
		<p>And a few more benefits of choosing car insurance from Coverfox:</p>
		<div class="list_container">
			<ul>
				<li>Get the best car insurance quotes from <a href="/car-insurance/companies/">Top Insurance Companies of India</a> at one place</li>
				<li>You can compare motor insurance quotes in a matter of seconds</li>
				<li>Get information about newly added benefits you can avail</li>
				<li>Information on latest discounts and offers that can help you save money on annual premium</li>
				<li>Buy and print car insurance policy online instantly</li>
				<li>Consult with our car insurance experts for free & get complete claims assistance post-sale </li>
				<li>Get timely reminder on your <a href="/articles/car-insurance/cake-and-car-insurance-renewals/">car insurance renewal</a></li>
			</ul>
		</div>
		<div class="btn_container">
			<a href="/motor/car-insurance/">Know more about the different benefits</a>
		</div>
		<h2>See how much you can save on your Car Insurance with Coverfox</h2>
		<p>We at Coverfox want to make it a speedy process for you to get the best deal while you insure your car. The entire process is quite simple and takes a few minutes. All you need to do is enter basic details such as car model, fuel type, model variant, registration place and the year of registration to get instant quotes.</p>
		<p>If you want to get the best deal, it’s always important to look around. We make this task easier for you by simplifying the process as much as possible. </p>
		<p>The end result - You get the best quotes from the Top Insurers in India at one place within no time, with ease.</p>
		<p>So, whether you are looking for a <a href="/car-insurance/renew-car-insurance/">car insurance renewal</a> quote or want to insure your new vehicle, we will help you find a better deal via our easy-to-use comparison service. </p>
	</div>
</section>
<section class="online_container_services">
	<div class="container">
		<div class="clearfix">
			<h2>Car Insurance Benefits from Coverfox. It's Free!</h2>
		</div>
		<div class="para_tab clearfix">
			<div class="col-md-12 pnone">
				<div class="tab_container clearfix">
					<div class="col-md-1 col-sm-1 pnone">
						<img src="{{STATIC_URL}}lp-motor/img/fs-support.png?ver=1" alt="Dedicated Relationship Manager" class="img-responsive">
					</div>
					<div class="col-md-11 col-sm-11">
						<h4>Dedicated Relationship Manager</h4>
						<p>A call away to help you with policy paperwork and co-ordination at the time of claims</p>
					</div>
				</div>
				<div class="tab_container clearfix">
					<div class="col-md-1 col-sm-1 pnone">
						<img src="{{STATIC_URL}}lp-motor/img/fs-service.png?ver=1" alt="Car Breakdown Services" class="img-responsive">
					</div>
					<div class="col-md-11 col-sm-11">
						<h4>Car Breakdown Services</h4>
						<p>Because we know how bad a carbreak down is - We give Free Towing and pick-up, Emergency fuel arrangement and on-call technical assistance along with your policy</p>
					</div>
				</div>
				<div class="tab_container clearfix">
					<div class="col-md-1 col-sm-1 pnone">
						<img src="{{STATIC_URL}}lp-motor/img/fs-parts.png?ver=1" alt="100 percent Genuine Car Parts" class="img-responsive">
					</div>
					<div class="col-md-11 col-sm-11">
						<h4>100% Genuine Car Parts</h4>
						<p>We make sure that quality is not compromised and service level is maintained in claim settlement for our Car Insurance customers</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="video_fixed_container">
	<div class="cover"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="video-article">
					<h2>No Claim Bonus for Car Insurance</h2>
					<a href="https://www.youtube.com/embed/2f6xeeVbppI">
						<img src="{{STATIC_URL}}flatpages/img/video_play.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="testimonials-section">
    <div class="container">
        <h2>What our Car Insurance Customers have to say</h2>
        <div class="row mnone">
            <div class="col-md-4">
                <div class="testimonial-item">
                    <img src="https://d2xkxm0e9d3y16.cloudfront.net/static/lp-motor/img/testimonials/nilu-yadav.jpg?ver=1" alt="Testimonial - No spam calls">
                    <div class="comment">
                        <img src="https://d2xkxm0e9d3y16.cloudfront.net/static/lp-motor/img/quote-icon.png?ver=1" alt="">
                        <p>I had a lot of doubts related to car insurance.&nbsp;I spoke with your car insurance advisor. He answered all my queries and was patient enough so that I took my time to decide.</p>
                        <p class="title">- Nilu Yadav</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial-item">
                    <img src="https://d2xkxm0e9d3y16.cloudfront.net/static/lp-motor/img/testimonials/rishi-raj-ranga.jpg?ver=1" alt="Testimonial - Save on renewal premium">
                    <div class="comment">
                        <img src="https://d2xkxm0e9d3y16.cloudfront.net/static/lp-motor/img/quote-icon.png?ver=1" alt="">
                        <p>Thank you Coverfox and thank you Sandeep for assisting me in choosing the right car insurance. Excellent customer service guys!</p>
                        <p class="title">- Rishi Raj Ranga</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial-item">
                    <img src="https://d2xkxm0e9d3y16.cloudfront.net/static/lp-motor/img/testimonials/vaibhav-jadhav.jpg?ver=1" alt="Testimonial - Save on renewal premium">
                    <div class="comment">
                        <img src="https://d2xkxm0e9d3y16.cloudfront.net/static/lp-motor/img/quote-icon.png?ver=1" alt="">
                        <p>I would like to thank Mayank for helping me out with my car insurance renewal. I am really very happy with the services given by him and Coverfox.</p>

                        <p class="title">- Vaibhav Jadhav</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="video-frame" class="hero_modal_overlay">
    <div id="divCloseFrame" class="close-overlay" title="Close">Close</div>
    <div class="hero_modal_content">
       <iframe id="frameVideo" class="reveal" src="" frameborder="0" allowfullscreen=""></iframe>
       <!-- <iframe id="video_2" src="https://www.youtube.com/embed/d7GWOShRmoY" frameborder="0" allowfullscreen></iframe> -->
    </div>
</div>
<script type="text/javascript">
	var next_page_url = '/motor/car-insurance/?callback=true';
    var campaign = 'motor';
    var page_id = 'sp_motor_compare';
    var NAME_MANDATORY = true;
    var EMAIL_MANDATORY = true;
    var MOBILE_MANDATORY = true;
</script>
<script src="{{ STATIC_URL }}flatpages/js/jquery-1.11.3.min.js"></script>
<script src="{{ STATIC_URL }}lp/js/cookies.js"></script>
<script src="{{ STATIC_URL }}lp-health/js/utils.js"></script>
<script>
	$(".video-article a").on("click", function(e){
    e.preventDefault();
    e.stopPropagation();
    var url = $(this).attr("href");
    $("#video-frame").addClass("active");
    $("#frameVideo").attr("src",url);
});
$("#divCloseFrame").on("click", function(){
    $("#video-frame").removeClass("active");
    $("#frameVideo").attr("src","");
});
</script>
{% endblock content %}


