{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Popular Health Insurance{% endblock pagetitle %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
<div class="page-header-wrapper container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Compare the best Car insurance plans</h1>
      <a href="/motor/car-insurance/" class="btn-cfox orange large">Get started</a>
    </div>
  </div>
</div>
{% endblock pageheader %}

{% block content %}
<div id="network_hospitals" class="container">
	<div class="row">
		<div class="col-md-12 search_result_container">
			<h2>POPULAR CAR INSURANCE COMPANY</h2>
      <div class="col-md-4 co-sm-6 pnone">
        <ul>
           <li> <a href="/car-insurance/bajaj-allianz-car-insurance/"><img src="{{STATIC_URL}}flatpages/img/insurer/bajaj-allianz-general-insurance.png" alt="Bajaj Allianz General Insurance">Bajaj Allianz</a></li>
            <li><a href="/car-insurance/bharatiaxa/"><img src="{{STATIC_URL}}flatpages/img/insurer/bharti-axa-general-insurance.png" alt="Bharti AXA General Insurance">Bharti Axa</a></li>
            <li><a href="/car-insurance/cholamandalam-ms/"><img src="{{STATIC_URL}}flatpages/img/insurer/cholamandalam-general-insurance.png" alt="Cholamandalam General Insurance">Cholamandalam MS</a></li> 
        </ul>
      </div>
      <div class="col-md-4 co-sm-6">
          <ul>
               <li><a href="/car-insurance/icicilombard/"><img src="{{STATIC_URL}}flatpages/img/insurer/icici-lombard-general-insurance.png" alt="Icici Lombard General Insurance">Icici Lombard</a></li>
                <li><a href="/car-insurance/ifcotokio/"><img src="{{STATIC_URL}}flatpages/img/insurer/iffco-tokio-general-insurance.png" alt="IFFCO Tokio General Insurance">Iffco Tokio</a></li>
                <li><a href="/car-insurance/l-and-t/"><img src="{{STATIC_URL}}flatpages/img/insurer/larsen-and-tubro-general-insurance.png" alt="Larsen and Tubro General Insurance">L&T Car Insurance</a></li>
          </ul>
      </div>
			<div class="col-md-4 col-sm-6">
          <ul>    
              <li><a href="/car-insurance/newindia/"><img src="{{STATIC_URL}}flatpages/img/insurer/new-india-general-insurance.png" alt="New India General Insurance">New India</a></li>
              <li><a href="/car-insurance/reliance/"><img src="{{STATIC_URL}}flatpages/img/insurer/reliance-general-insurance.png" alt="Reliance General Insurance">Reliance</a></li>
              <li><a href="/car-insurance/tataaig/"><img src="{{STATIC_URL}}flatpages/img/insurer/tata-aig-general-insurance.png" alt="Tata Aig General Insurance">Tata Aig</a></li>
          </ul>   
      </div>
		</div>
	</div>
</div>

{% endblock content %}
