{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Renew expired policy{% endblock pagetitle %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
<div class="page-header-wrapper container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="top-txt">Renew your lapse car insurance policy today.</div>
      <a href="/motor/car-insurance/" class="btn-cfox orange large">Get started</a>
    </div>
  </div>
</div>
{% endblock pageheader %}
{% block content %}
<div itemscope itemtype="http://schema.org/Product">
  <span itemprop="audience" itemscope itemtype="http://schema.org/Audience">
    <meta itemprop="audienceType" content="car owners"/>
    <meta itemprop="geographicArea" content="India"/>
  </span>
<section>
  <div class="lp-b1-wrapper bggrey padding-large">
    <div class="container">
      <div class="row">
        <div class="col-md-12 h-tag">
            <h1 itemprop="name">Lapsed Car Insurance Plans</h1>
            <p>
            A <a href="/car-insurance/compare-car-insurance/">motor insurance policy</a> considered to be a case of ‘break in’ or considered lapsed if the last day of renewal has been missed. Your <a href="/car-insurance/">car insurance </a>is mandatory hence there is serious consequence if your policy gets <strong>lapsed</strong>. </p>
            <p>
            Not only are you legally liable, even the insurance company will need to <a href="/car-insurance/">get your vehicle inspected</a> by a surveyor who will then ascertain if there are any damages to the car, and would ascertain if the car is eligible for the insurance or not. This makes the process of renewal longer, more expensive and may be tedious. There is also a high chance you may not get a suitable quote which you may have been otherwise entitled to, had your policy not lapsed. </p>

            <p>
            If you miss the deadline by 90 days then you will lose your no claim bonus which in some cases can be upto 50% discount on your premium. This is a substantial saving that you stand to lose.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
    <div class="lp-b1-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>What is the renewal procedure for break in cases?</h2>
                    <p>
                    Renewal for break in cases is a little tedious but we at Coverfox try hard to help you get a policy, in case you’ve missed renewing it in time due to your busy schedule or some personal exigencies. Here’s how we help you.
                    </p>

                    <ol>
                      <li>In the normal procedure, where policy has NOT lapsed, it can be easily renewed online by filling in your car details, existing policy details and certain details from the registration certificate (R.C.) copy. For a break in or a <a href="/articles/car-insurance/lapsed-motor-insurance-what-to-do/">lapsed policy</a>, you fill in the details on Coverfox.com and then await the inspection by a surveyor from the insurance company you shortlist. First the car is inspected by a surveyor.</li>
                      <li>Once the surveyor inspects the car, we will help you get the renewal. If your policy has expired less than 90 days ago, you can avail the No Claim Bonus (NCB) discount.</li>
                      <li>The entire transaction still remains paperless, efficient and fast and only involves filling in details online. If any assistance is required, Team Coverfox is always there to help you.</li>
                      <li>We will always help you get timely reminders in the future for your policy’s renewal, so that you don’t have to undergo the hassle of dealing with a break in policy ever again!</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
    {% block review %}
    {% endblock review %}
</div>

{% endblock content %}
