{% extends "flatpages:base.html" %}
{% load compress %}
{% block css %}
  <link href="{{ STATIC_URL }}flatpages/css/manufacturer.css" rel="stylesheet">
{% endblock css %}
{%block flatpage_header%}
<header>
    {% include "flatpages:header_2.html" with lp_page="Car" lp_contact=settings.CAR_TOLL_FREE %}
    <section class="breadcrums_container">
      <div class="container">
        <div class="row">
          {% include "flatpages:breadcrumbs.html" %}
        </div>
      </div>
    </section>
</header>

{%endblock%}
{% block content %}
  <section>
      <div class="bg_manufacture_container">
        <img src="/static/flatpages/img/bg1.jpg" alt="" class="img-responsive">
      </div>
  </section>
  <section class="form_list">
      <div class="container">
          <div class="row">
              <div class="car_insurance_form form-box-mini clearfix">
                  <div class="col-md-6 col-sm-6 company_logos">
                      <h3>Choose plans from Top companies</h3>
                      <div class="col-md-5 col-sm-8 col-xs-8 pnone">
                          <ul>
                              <li><img src="{{ STATIC_URL }}lp-motor/img/insurer/larsen-and-tubro-general-insurance.png" alt="Larsen and Tubro General Insurance - Four Wheeler Insurance"></li>
                              <li><img src="{{ STATIC_URL }}lp-motor/img/insurer/bajaj-allianz-general-insurance.png" alt="Bajaj Allianz General Insurance - Four Wheeler Insurance"></li>
                              <li><img src="{{ STATIC_URL }}lp-motor/img/insurer/universal-sompo-general-insurance.png" alt="Universal Sompo General Insurance - Four Wheeler Insurance"></li>
                              <li><img src="{{ STATIC_URL }}lp-motor/img/insurer/new-india-general-insurance.png" alt="New India General Insurance - Four Wheeler Insurance"></li>
                          </ul>
                      </div>
                      <div class="col-md-7 col-sm-4 col-xs-4 pnone">
                          <ul>
                              <li><img src="{{ STATIC_URL }}lp-motor/img/insurer/iffco-tokio-general-insurance.png" alt="IFFCO TOKIO General Insurance - Four Wheeler Insurance"></li>
                              <li><img src="{{ STATIC_URL }}lp-motor/img/insurer/hdfc-ergo-general-insurance.png" alt="HDFC ERGO General Insurance - Four Wheeler Insurance"></li>
                              <li><img src="{{ STATIC_URL }}lp-motor/img/insurer/bharti-axa-general-insurance.png" alt="Bharti AXA General Insurance - Four Wheeler Insurance"></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-6 pnone col-sm-6">
                    <h1>CALCULATE YOUR CAR INSURANCE PREMIUM</h1>
                    <h2>Get Instant quotes from insurance companies </h2>
                        <ul class="form hero-form">
                            <li class="active" data-type="old">
                                <span class="checkbox"></span>
                                Renew Existing Policy
                            </li>
                            <li data-type="new">
                                <span class="checkbox"></span>
                                Buy Insurance for a New Car
                            </li>
                            <li  data-type="expired">
                                <span class="checkbox"></span>
                                Renew Expired Policy
                            </li>
                        </ul>
                        <div class="cfinput addon-field">
                            <span class="addon">+91</span>
                            <input type="text" id='contact-me-num' placeholder="Enter mobile number"/>
                        </div>
                        <div class="contact-me-error">
                            <p class="error">Please enter a valid 10 digit mobile number</p>
                        </div>
                        <button id="show_quote_btn" class="btn-cfox orange btn-next btn-block">
                            Send me quotes
                        </button>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="logo_list_container">
      <div class="container">
          <div class="row">
              <div class="logo_list clearfix">
                  <div class="col-md-3 col-sm-3">
                      <a href="/car-insurance/maruti-suzuki/" title="Maruti Suzuki">
                        <div class="logo">
                            <img src="/static/flatpages/img/car-logo/01.jpg" alt="Maruti Suzuki"><br>

                            Maruti Suzuki &gt;&gt;
                        </div>
                      </a>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <a href="/car-insurance/hyundai/" title="Hyundai">
                        <div class="logo">
                            <img src="/static/flatpages/img/car-logo/02.jpg" alt="Hyundai"> <br>
                            Hyundai &gt;&gt;
                        </div>
                      </a>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <a href="/car-insurance/mahindra-and-mahindra/" title="Mahindra">
                        <div class="logo">
                            <img src="/static/flatpages/img/car-logo/03.jpg" alt="Mahindra"> <br>
                            Mahindra &gt;&gt;
                        </div>
                      </a>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <a href="/car-insurance/tata/" title="TATA Motors">
                      <div class="logo">
                          <img src="/static/flatpages/img/car-logo/04.jpg" alt="TATA Motors"> <br>
                          TATA Motors &gt;&gt;

                      </div>
                      </a>
                  </div>
              </div>
              <div class="logo_list clearfix">
                  <div class="col-md-3 col-sm-3">
                      <a href="/car-insurance/chevrolet/" title="Chevrolet">
                        <div class="logo">
                            <img src="/static/flatpages/img/car-logo/05.jpg" alt="Chevrolet">
                            <br>
                            Chevrolet &gt;&gt;
                        </div>
                      </a>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <a href="/car-insurance/renault/" title="Renault">
                        <div class="logo">
                            <img src="/static/flatpages/img/car-logo/06.jpg" alt="Renault">
                            <br>
                            Renault &gt;&gt;
                        </div>
                      </a>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <a href="/car-insurance/honda/" title="Honda">
                        <div class="logo">
                            <img src="/static/flatpages/img/car-logo/07.jpg" alt="Honda">
                            <br>
                            Honda &gt;&gt;
                        </div>
                      </a>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <a href="/car-insurance/ford/" title="Ford">
                      <div class="logo">
                          <img src="/static/flatpages/img/car-logo/08.jpg" alt="Ford">
                          <br>
                          Ford &gt;&gt;
                      </div>
                      </a>
                  </div>
              </div>
              <div class="logo_list clearfix">
                  <div class="col-md-3 col-sm-3">
                      <a href="/car-insurance/toyota/" title="Toyota">
                        <div class="logo">
                            <img src="/static/flatpages/img/car-logo/09.jpg" alt="Toyota">
                            <br>
                            Toyota &gt;&gt;
                        </div>
                      </a>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <a href="/car-insurance/volkswagen/" title="Volkswagen">
                        <div class="logo">
                            <img src="/static/flatpages/img/car-logo/10.jpg" alt="Volkswagen">
                            <br>
                            Volkswagen &gt;&gt;
                        </div>
                      </a>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <a href="/car-insurance/nissan/" title="Nissan">
                        <div class="logo">
                            <img src="/static/flatpages/img/car-logo/11.jpg" alt="Nissan">
                            <br>
                            Nissan &gt;&gt;
                        </div>
                      </a>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <a href="/car-insurance/audi/" title="Audi Cars">
                      <div class="logo">
                          <img src="/static/flatpages/img/car-logo/12.jpg" alt="Audi Cars">
                         <br>
                         Audi Cars &gt;&gt;
                      </div>
                      </a>
                  </div>
              </div>
              <div class="logo_list clearfix">
                  <div class="col-md-3 col-sm-3">
                      <a href="/car-insurance/skoda/" title="Skoda Cars">
                        <div class="logo">
                            <img src="/static/flatpages/img/car-logo/13.jpg" alt="Skoda Cars">
                            <br>
                            Skoda Cars &gt;&gt;
                        </div>
                      </a>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <a href="/car-insurance/mercedes-benz/" title="Mercedes-Benz">
                        <div class="logo">
                            <img src="/static/flatpages/img/car-logo/14.jpg" alt="Mercedes-Benz">
                            <br>
                            Mercedes-Benz &gt;&gt;
                        </div>
                      </a>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <a href="/car-insurance/fiat/" title="Fiat">
                        <div class="logo">
                            <img src="/static/flatpages/img/car-logo/15.jpg" alt="Fiat">
                            <br>
                            Fiat &gt;&gt;
                        </div>
                      </a>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <a href="/car-insurance/bmw/" title="BMW">
                      <div class="logo">
                          <img src="/static/flatpages/img/car-logo/16.jpg" alt="BMW">
                          <br>BMW &gt;&gt;
                      </div>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  {%compress js%}
    <script src="{{STATIC_URL}}campaign/js/zepto.js"></script>
    <script src="{{STATIC_URL}}campaign/js/cookies.js"></script>
  {%endcompress%}
  <script type="text/javascript" src="{{ STATIC_URL }}marketing/motor/js/hero_form.js"></script>
  <script type="text/javascript">
      var CSRF_TOKEN;
      var page_id = 'car_manufacturer';
      var toll_free_no = '{{ settings.CAR_TOLL_FREE }}';
      var hero_phone_mandatory = 'YES';
      var next_page_override = '';
      var policy_type = 'old';
      $(document).ready(function(){
        $.get("{%url 'get_token'%}", function(data){
          CSRF_TOKEN = data.csrf;
        }, 'json');

      });
</script>
{% endblock content %}


