{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Renew car insurance policy{% endblock pagetitle %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
<div class="page-header-wrapper container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="top-txt">Renew your car insurance in 5 minutes</div>
      <a href="/motor/car-insurance/" class="btn-cfox orange large">Get started</a>
    </div>
  </div>
</div>
{% endblock pageheader %}
{% block content %}
<div itemscope itemtype="http://schema.org/Product">
  <span itemprop="audience" itemscope itemtype="http://schema.org/Audience">
    <meta itemprop="audienceType" content="car owners"/>
    <meta itemprop="geographicArea" content="India"/>
  </span>
<section>
    <div class="lp-b1-wrapper bggrey">
        <div class="container">
            <div class="row">
                <div class="col-md-12 h-tag">
                    <h1 itemprop="name">Renew Car Insurance Policy</h1>
                    <h2 style="margin-top:40px;">Why do you need to renew your car insurance policy?</h2>
                    <p>
                    <a href="/car-insurance/">Car insurance</a> is mandatory, so as long as you have a car, the annual drill of <a href="/car-insurance/renew-car-insurance/">renewing your car insurance </a>is pretty much set. Since it is a recurring annual cost that you need to bear, we’ll help you to get the best deal for you every time you renew your motor policy.
                    </p>

                    <h2 style="margin-top:40px;">Do I lose any money or value of my existing policy on account of early renewal?</h2>
                    <p>
                    All companies start offering renewals 45 days before the expiry of your policy. Even as you renew before your due date, your new policy will only start after the previous one expires. This ensures you don’t lose any value of the premium paid earlier, or to put it simply, lose any money.

                    </p>

                    <h2 style="margin-top:40px;">Why is it important to research & compare at the time of renewing motor insurance?</h2>
                    <p>
                    It is extremely important to research and <a href="/car-insurance/compare-car-insurance/">compare car insurance </a>quotes, especially when you have to <strong>renew your policy</strong>. </p>

                     <p>Since the insurance companies analyse rates and claims on an ongoing basis,  rate revisions are as often as 15 days for different car models. So there is a very high chance that you’d be able to get a better deal each consecutive year. This is more likely to be in your favor if you’ve had a claim free year. As you may be aware, you are entitled to an annual no claim bonus, in the form of discount on your premium.</p>

                     <p>This discount will lapse if you don’t renew your policy within 90 days of your policy lapsing. </p>

                     <p>It might also be a good idea to switch insurance companies in case your current company might be loading the premium, i.e. charging you a higher premium, based on your claim history. </p>

                     <p>A simple thumb rule to help you decide if you’re getting the right deal, when you’ve made no claims in the previous year is to see if your premium quote is about 20-25% lower than the previous year. </p>

                    </p>

                    <h2 style="margin-top:40px;">What do I gain, if I come to Coverfox.com?</h2>

                    <ol>
                      <li>Quick quotes from all top brands</li>
                      <li>Easy to compare, process from choosing to buying will take no more than 5 minutes. Policy in your inbox instantly!</li>
                      <li>Best Prices guaranteed!</li>
                      <li>Timely reminders for policy renewal so you don’t have to deal with the hassle of <a href="/car-insurance/expired-policy/">renewing a lapsed policy</a> ever again! </li>

                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
    {% block review %}
    {% endblock review %}
</div>

{% endblock content %}
