.header-wrapper {
  height: 64px;
  background: #314451;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 16px;
  z-index: 1000;
}
.hamburger-menu,
.logo,
.page-title {
  float: left;
}
.hamburger-menu {
  width: 48px;
  height: 48px;
  position: relative;
  top: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 12px;
  background-image: url('../img/icons/hamburger.png');
  cursor: pointer;
}
.page-title {
  font-size: 20px;
  line-height: 64px;
  position: relative;
  font-weight: 300;
  opacity: 0.7;
}
.page-title:before {
  content: '';
  width: 0.3em;
  margin: 0 0.8em 0 0.8em;
  background-repeat: no-repeat;
  background-image: url('../img/icons/right-arrow-white.png');
  background-size: contain;
  background-position: right center;
  float: left;
  height: 64px;
}
.logo {
  line-height: 60px;
  cursor: pointer;
}
.logo img {
  height: 24px;
  margin-left: 8px;
}
.app-sidebar-wrapper {
  position: fixed;
  width: 320px;
  top: 64px;
  bottom: 0;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .app-sidebar-wrapper {
    width: 240px;
  }
}
.app-sidebar-header {
  padding: 24px;
  position: relative;
}
.app-sidebar-header:before {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: -1;
}
.app-sidebar-header small,
.app-sidebar-header p,
.app-sidebar-header h3 {
  position: relative;
  z-index: 11;
}
.app-sidebar-header h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.app-sidebar-header p {
  margin-bottom: 0;
}
.content-wrapper {
  padding-top: 64px;
  min-height: 100vh;
  margin-left: 320px;
  padding-left: 64px;
}
@media screen and (max-width: 768px) {
  .content-wrapper {
    margin-left: 240px;
  }
}
body {
  background: #efeff4;
  color: #314451;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
.card {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn.blue {
  color: #ffffff;
  background-color: #0076ff;
  border: 1px solid #006ae6;
}
.btn {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 16px;
  color: #ffffff;
  padding: 5px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn.large {
  padding: 12px 32px;
}
.error {
  color: red;
  margin-top: 10px;
  max-width: 164px;
  line-height: 16px;
  font-size: 13px;
}
.cleaned {
  opacity: 0.7;
  margin-top: 10px;
  line-height: 16px;
  font-style: italic;
}
.container-error {
  color: #ff6363;
  background: url('../img/error.png');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  float: left;
  padding-left: 23px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.container-state {
  display: none;
  position: absolute;
  left: 56px;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  top: 22px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.container-state:before,
.container-state:after {
  position: absolute;
  width: 1px;
  border-right: 1px dashed #fff;
  content: '';
  height: 24px;
  left: 50%;
  opacity: 0.5;
}
.container-state:before {
  bottom: 100%;
}
.container-state:after {
  top: 100%;
}
.container-edit {
  display: none;
  position: absolute;
  right: 20px;
  color: #fff;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0px 7px;
  font-size: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-edit:hover {
  background: #fff;
  color: #0076ff;
}
.stage-header {
  -moz-transition: all 0.5s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  max-height: 1000px;
  position: relative;
  z-index: 10;
  margin-top: -5px;
  float: left;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.stage-header .container-summary {
  position: absolute;
  padding-left: 56px;
  top: 50%;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-transition: all 200ms 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 200ms 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 200ms 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 200ms 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.stage-header .container-summary.reveal {
  opacity: 1;
}
.stage-header .stage-molecule,
.stage-header .stage-subheader,
.stage-header .container-children {
  -moz-transition: opacity 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: opacity 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stage-header.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
@media screen and (max-width: 480px) {
  .stage-header.card {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent;
  }
}
.stage-header > .container-title {
  display: block;
  padding: 14px;
  padding-left: 100px;
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
  font-size: 30px;
  margin: 0;
  font-weight: 300;
  background: #0076ff;
  color: #fff;
  -moz-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stage-header > .container-title .container-state {
  display: block;
}
.stage-header > .container-children {
  padding: 20px 40px;
  float: left;
  width: 100%;
}
.stage-header > .container-children > div {
  float: left;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .stage-header > .container-children {
    padding: 20px 12px;
  }
}
.stage-header.collapsed {
  z-index: 9;
  -webkit-transform: scale(0.95) translate3d(0, 0, 0);
  -moz-transform: scale(0.95) translate3d(0, 0, 0);
  -ms-transform: scale(0.95) translate3d(0, 0, 0);
  -o-transform: scale(0.95) translate3d(0, 0, 0);
  transform: scale(0.95) translate3d(0, 0, 0);
  max-height: 70px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
}
.stage-header.collapsed > .container-title {
  background: #fff;
  color: #314451;
}
.stage-header.collapsed > .container-title .container-state {
  border: 1px solid #314451;
}
.stage-header.collapsed > .container-title .container-state:before,
.stage-header.collapsed > .container-title .container-state:after {
  border-right: 1px dashed #314451;
}
.stage-header.collapsed > .stage-molecule,
.stage-header.collapsed > .stage-subheader,
.stage-header.collapsed > .container-children {
  opacity: 0;
}
.stage-header.collapsed.done > .container-title:hover {
  background: #005ecc;
}
.stage-header.collapsed.done > .container-title .container-edit {
  display: block;
}
.stage-header.done > .container-title {
  cursor: pointer;
  background: #006ae6;
  color: #fff;
}
.stage-header.done > .container-title .container-state {
  border: 1px solid #fff;
  background-image: url(../img/tick-icon.png);
  background-size: 30px 30px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: #008d6e;
  border-color: #00d9aa;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.stage-header.done > .container-title .container-state:before,
.stage-header.done > .container-title .container-state:after {
  border-right: 1px dashed #fff;
}
.stage-subheader > .container-title {
  color: #ff704c;
  font-size: 24px;
  padding-left: 20px;
  margin-top: 20px;
}
.stage-molecule {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  width: 100%;
}
.stage-molecule .multiselect-widget > ul > li span {
  background-color: #efeff4;
  border: 1px solid #e0e0ea;
}
.stage-molecule > .container-title .container-name {
  font-size: 14px;
  display: block;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.stage-molecule > .container-title .container-desc {
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 12px;
  display: block;
  font-size: 13px;
  -moz-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stage-molecule .lowercase {
  text-transform: lowercase!important;
}
.stage-molecule .uppercase {
  text-transform: uppercase!important;
}
.input-btn {
  text-align: center;
  padding: 32px 0;
}
.input-element {
  float: left;
  position: relative;
}
.input-element label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  -moz-transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
  top: 14px;
}
.input-element .verified-tick {
  display: none;
  position: absolute;
  right: 20px;
  top: 8px;
  background: url(../img/tick-icon.png);
  width: 20px;
  height: 30px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0.8;
}
.input-element input {
  margin-right: 12px;
  border: 2px solid transparent;
  padding: 6px 12px;
  outline: none;
  background: #efeff4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 200px;
  -moz-transition: all 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-element input.inline-label {
  padding: 18px 12px 6px;
}
.input-element input.inline-label::-webkit-input-placeholder {
  opacity: 0;
}
.input-element input.inline-label:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0;
}
.input-element input.inline-label::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0;
}
.input-element input.inline-label:-ms-input-placeholder {
  opacity: 0;
}
.input-element input.inline-label ~ label {
  display: block;
}
.input-element input.inline-label:focus ~ label,
.input-element input.has-value.inline-label ~ label {
  top: 4px;
  font-size: 12px;
}
.input-element input.input-disabled {
  pointer-events: none;
  opacity: 0.7;
}
.input-element input.input-date {
  width: 52px;
}
.input-element input.input-year {
  width: 60px;
}
.input-element input:focus {
  border-color: #0076ff;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
}
.input-element input.has-error {
  border-color: red;
}
@media screen and (max-width: 480px) {
  .input-element input {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 4px;
    width: 100%;
    padding-left: 0;
  }
  .input-element input:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .input-element input.inline-label {
    padding-left: 0;
  }
  .input-element input.inline-label:focus ~ label,
  .input-element input.has-value.inline-label ~ label {
    left: 0;
  }
}
.input-element.is-verified input {
  border-color: #00d9aa;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.1);
}
.input-element.is-verified .verified-tick {
  display: block;
}
@media screen and (max-width: 480px) {
  .input-element {
    width: 100%;
  }
  .input-element.is-verified input {
    border-color: #00d9aa;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.input-element select {
  display: inline-block;
  margin-right: 5px;
}
.checkbox-element label {
  padding-left: 20px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
}
.container-element.level2 > .container-title {
  background: #f7fafc;
  display: block;
  padding: 20px;
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
  color: #0076ff;
  font-size: 20px;
  margin: 0;
}
.container-element.level4 {
  width: 100%;
}
.container-element.level3 {
  margin-top: 20px;
}
.container-element.level3 > .container-title {
  font-size: 20px;
  float: left;
  width: 240px;
}
.container-element.level3 > .container-children > div {
  float: left;
}
.container-children.level2 {
  padding: 40px;
}
.container-children.level3 {
  float: left;
}
.clearfix {
  pointer-events: none;
}
.step-2-wrapper {
  background: #efeff4;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 20px 40px 40px;
  margin-top: 40px;
}
.hero-header h1 {
  color: #fff;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 0;
}
.form-footer {
  padding: 0 0 90px 0;
  text-align: center;
}
.multiselect-widget {
  position: relative;
  z-index: 300;
}
.multiselect-widget .multiselect-dd {
  position: absolute;
  background: rgba(255, 255, 255, 0.98);
  left: -1px;
  right: -1px;
  margin-top: -1px;
  top: 0;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  z-index: 300;
  border: none;
  border-top: 0;
}
.multiselect-widget .multiselect-dd .empty-ui {
  text-align: center;
  padding: 15px;
  font-size: 12px;
  color: #314451;
  background: #fff;
}
.multiselect-widget .multiselect-dd .empty-ui span {
  font-weight: bold;
  padding: 0;
  background: none;
}
.multiselect-widget .multiselect-dd .keyword {
  position: relative;
}
.multiselect-widget .multiselect-dd .keyword .close-btn {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 20px;
  top: 50%;
  margin-top: -7px;
  background-image: url(../img/cross-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px 15px;
  cursor: pointer;
  -moz-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}
.multiselect-widget .multiselect-dd .keyword .close-btn.reveal {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.multiselect-widget .multiselect-dd .keyword input {
  border: 0;
  outline: none;
  border-bottom: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 5px;
  width: 100%;
  color: #000;
  padding-left: 35px;
  background-image: url(../img/search-icon.png);
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: 15px 15px;
}
.multiselect-widget .multiselect-dd ul {
  list-style-type: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 0;
  background: #fff;
}
.multiselect-widget .multiselect-dd ul li {
  padding: 7px 15px;
  cursor: pointer;
  color: #314451;
  font-size: 14px;
}
.multiselect-widget .multiselect-dd ul li:nth-child(odd) {
  background: #f7fafc;
}
.multiselect-widget .multiselect-dd ul li:hover {
  background: #0076ff;
  color: #fff;
}
.multiselect-widget .multiselect-dd ul li.selected {
  background: #66adff;
}
.multiselect-widget > ul {
  list-style-type: none;
  padding: 0;
  font-size: 0;
  text-align: left;
}
.multiselect-widget > ul > li {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  color: #444;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
  text-align: left;
  letter-spacing: 1px;
  background: #fff;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.multiselect-widget > ul > li .example-text {
  position: absolute;
  bottom: 100%;
  top: auto;
  color: #0076ff;
  left: 0;
  padding: 0;
  margin-bottom: 8px;
  margin-top: 0;
  text-transform: none;
  letter-spacing: 0px;
}
.multiselect-widget > ul > li.active {
  background-color: #0076ff;
  color: #fff;
}
.multiselect-widget > ul > li.disabled {
  pointer-events: none;
  opacity: 0.4;
  background: #f2f2f2;
}
.multiselect-widget > ul > li span {
  padding: 10px 15px;
  padding-right: 40px;
  display: block;
  background-image: url(../img/down-arrow.png);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 15px 9px;
}
.multiselect-widget > ul > li:focus {
  background: red;
}
.content-wrapper {
  padding-top: 100px;
}
@media screen and (max-width: 480px) {
  .content-wrapper {
    margin-left: 0;
    padding-left: 0;
  }
}
.app-state-wrapper {
  background: #0076ff;
  height: 64px;
  position: fixed;
  top: 64px;
  left: 320px;
  right: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 1000;
}
.app-state-wrapper .app-state {
  list-style-type: none;
  color: #fff;
}
.app-state-wrapper .app-state li {
  display: inline-block;
  font-size: 20px;
  padding: 16px 40px;
  position: relative;
  font-weight: 300;
  opacity: 0.5;
}
.app-state-wrapper .app-state li span {
  position: absolute;
  left: 0;
  font-size: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 2px;
}
.app-state-wrapper .app-state li.active {
  opacity: 1;
}
.app-state-wrapper .app-state li.active span {
  background: #fff;
  color: #0076ff;
}
.app-sidebar-wrapper {
  padding-bottom: 400px;
  overflow: scroll;
}
@media screen and (max-width: 480px) {
  .app-sidebar-wrapper {
    display: none;
  }
}
.app-sidebar-section {
  margin-bottom: 20px;
  padding: 24px;
  position: relative;
}
.app-sidebar-section ul.quote-settings {
  list-style-type: none;
  padding: 0;
}
.app-sidebar-section ul.quote-settings li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  font-size: 13px;
}
.app-sidebar-section ul.quote-settings li span.value {
  opacity: 0.43;
}
.app-sidebar-section ul.quote-settings li.header {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 5px;
  color: #ff704c;
  font-size: 12px;
}
.app-sidebar-section.summary-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 24px;
  padding: 16px 40px;
  -webkit-transform: translateX(-150%);
  -moz-transform: translateX(-150%);
  -ms-transform: translateX(-150%);
  -o-transform: translateX(-150%);
  transform: translateX(-150%);
  -moz-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #fff;
}
.app-sidebar-section.summary-card.reveal {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
.app-sidebar-section.summary-card h3 {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 0;
}
.app-sidebar-section.summary-card p {
  margin: 0;
  opacity: 0.4;
  margin-bottom: 16px;
}
.app-sidebar-section.summary-card > img {
  max-height: 70px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.app-sidebar-section p.section-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #ff704c;
  opacity: 1;
}
.app-sidebar-section p.section-title img {
  max-height: 20px;
  margin-right: 10px;
}
.app-sidebar-wrapper {
  background: #efeff4;
}
.app-sidebar-header:before {
  background: #e0e0ea;
}
.extras {
  list-style-type: none;
  padding: 0;
  padding-left: 13px;
  margin-bottom: 0;
}
.extras li {
  position: relative;
  font-size: 12px;
}
.extras li:before {
  content: '\2713';
  position: absolute;
  left: -13px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background: #f7fafc;
  z-index: 200;
}
@media screen and (max-width: 480px) {
  .page-title {
    font-size: 12px;
  }
}
.page-title.no-arrow {
  font-size: 16px;
}
.page-title.no-arrow:before {
  display: none;
}
.back-to-results {
  margin-top: 30px;
}
.form-header {
  text-align: center;
  margin-bottom: 36px;
}
.form-header h2 {
  font-weight: 300;
  margin: 0;
  font-size: 36px;
}
.form-header p {
  margin: 9px 0;
  font-size: 19px;
  font-weight: 300;
  opacity: 0.8;
}
.spinner {
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
