.header-wrapper {
  height: 64px;
  background: #314451;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 16px;
  z-index: 1000;
}
.hamburger-menu,
.logo,
.page-title {
  float: left;
}
.hamburger-menu {
  width: 48px;
  height: 48px;
  position: relative;
  top: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 12px;
  background-image: url('../img/icons/hamburger.png');
  cursor: pointer;
}
.page-title {
  font-size: 20px;
  line-height: 64px;
  position: relative;
  font-weight: 300;
  opacity: 0.7;
}
.page-title:before {
  content: '';
  width: 0.3em;
  margin: 0 0.8em 0 0.8em;
  background-repeat: no-repeat;
  background-image: url('../img/icons/right-arrow-white.png');
  background-size: contain;
  background-position: right center;
  float: left;
  height: 64px;
}
.logo {
  line-height: 60px;
  cursor: pointer;
}
.logo img {
  height: 24px;
  margin-left: 8px;
}
.app-sidebar-wrapper {
  position: fixed;
  width: 320px;
  top: 64px;
  bottom: 0;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .app-sidebar-wrapper {
    width: 240px;
  }
}
.app-sidebar-header {
  padding: 24px;
  position: relative;
}
.app-sidebar-header:before {
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  z-index: -1;
}
.app-sidebar-header small,
.app-sidebar-header p,
.app-sidebar-header h3 {
  position: relative;
  z-index: 11;
}
.app-sidebar-header h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.app-sidebar-header p {
  margin-bottom: 0;
}
.content-wrapper {
  padding-top: 64px;
  min-height: 100vh;
  margin-left: 320px;
  padding-left: 64px;
}
@media screen and (max-width: 768px) {
  .content-wrapper {
    margin-left: 240px;
  }
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
body {
  background: #efeff4;
  color: #314451;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
.green-bottom-border,
.red-bottom-border {
  padding-bottom: 20px;
  border-bottom: 10px solid #42cc42;
}
.red-bottom-border {
  border-color: red;
}
.card {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.invisibleField {
  visibility: hidden;
  height: 0px;
  width: 0px;
  overflow: hidden;
}
.btn.orange {
  color: #ffffff;
  background-color: #FF704C;
  border: 1px solid #FF704C;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.btn.orange:hover {
  background-color: #ff4719;
}
.btn.orange:active {
  background-color: #ff3300;
}
.btn {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 16px;
  color: #ffffff;
  padding: 5px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.back-to-results-empty-btn {
  color: #ff704c;
  border: 1px solid #ff704c;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  text-transform: uppercase;
  font-size: 12px;
  background: rgba(0, 0, 0, 0);
  padding: 5px 10px;
  -moz-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.back-to-results-empty-btn:hover {
  background-color: #efeff4;
  text-decoration: none;
  color: #ff704c;
}
.empty-btn-orange {
  color: #ff704c;
  border: 1px solid #ff704c;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  background: rgba(0, 0, 0, 0);
  padding: 5px 10px;
  -moz-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.empty-btn-orange:hover {
  background-color: #efeff4;
  text-decoration: none;
  color: #ff704c;
}
.try-again-btn {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 10px;
}
.back-to-result-btn {
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 12px;
}
.btn.large {
  padding: 12px 32px;
}
.error {
  color: red;
  margin-top: 10px;
  max-width: 164px;
  line-height: 16px;
  font-size: 13px;
}
.errorMessage,
.successMessage {
  color: red;
  margin-top: -10px;
  font-size: 11px;
  line-height: 13px;
  display: inline-block;
  margin-bottom: 10px;
}
.successMessage {
  color: green;
}
.cleaned {
  opacity: 0.7;
  margin-top: 10px;
  line-height: 16px;
  font-style: italic;
}
.container-error {
  color: #ff6363;
  background: url('../img/error.png');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  float: left;
  padding-left: 23px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.container-state {
  display: none;
  position: absolute;
  left: 56px;
  border: 1px solid #FF704C;
  width: 36px;
  height: 36px;
  font-size: 20px;
  text-align: center;
  top: 17px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding-top: 2px;
  background: #FF704C;
  color: #fff;
}
.container-edit {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #FF704C;
  border: 1px solid #FF704C;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0px 7px;
  font-size: 14px;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-edit:hover {
  background: #ff4719;
  color: #fff;
}
.container-summary {
  display: none;
  font-size: 12px;
  -moz-transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  max-height: 0;
  overflow: hidden;
  padding-top: 6px;
  margin-top: 6px;
}
.container-summary span.key {
  font-weight: bold;
}
.collapsed.done .container-summary {
  max-height: 210px;
}
#container-accept_terms_block {
  margin: 0;
}
#container-accept_terms_block .container-title {
  display: none;
}
.label {
  font-size: 16px;
  text-align: center;
  margin-top: -10px;
}
.stage-header {
  -moz-transition: all 0.5s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  max-height: 1200px;
  position: relative;
  z-index: 10;
  margin-top: -5px;
  float: left;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.stage-header .stage-molecule,
.stage-header .stage-subheader,
.stage-header .container-children {
  -moz-transition: opacity 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: opacity 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stage-header.card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 20px 0;
}
@media screen and (max-width: 768px) {
  .stage-header.card {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: transparent;
  }
}
.stage-header > .container-title {
  display: block;
  padding: 14px;
  padding-left: 120px;
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
  font-size: 30px;
  margin: 0;
  font-weight: 300;
  -moz-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stage-header > .container-title .container-state {
  display: block;
}
.stage-header > .container-title .container-summary {
  display: block;
}
.stage-header > .container-children {
  padding: 20px 40px;
  float: left;
  width: 100%;
  -moz-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  max-height: 1200px;
}
.stage-header > .container-children > div {
  float: left;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .stage-header > .container-children {
    padding: 20px 0px;
  }
}
.stage-header.collapsed {
  z-index: 9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
  margin: 0;
}
.stage-header.collapsed > .container-title {
  background: #fff;
  color: #314451;
}
.stage-header.collapsed > .container-title .container-state {
  border: 1px solid #314451;
  background: transparent;
  color: #314451;
}
.stage-header.collapsed > .container-children {
  max-height: 0;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
}
.stage-header.collapsed > .stage-molecule,
.stage-header.collapsed > .stage-subheader,
.stage-header.collapsed > .container-children {
  opacity: 0;
}
.stage-header.collapsed.done > .container-title .container-edit {
  display: block;
}
.stage-header.done.collapsed > .container-title {
  margin-top: -6px;
  font-size: 24px;
}
.stage-subheader > .container-title {
  color: #FF704C;
  font-size: 24px;
  padding-left: 20px;
  margin-top: 20px;
}
.no-title > .container-title {
  margin: 0;
}
.stage-molecule {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  width: 100%;
}
.stage-molecule .multiselect-widget > ul > li span {
  border: 1px solid rgba(49, 68, 81, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.stage-molecule > .container-title .container-name {
  font-size: 14px;
  display: block;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.stage-molecule > .container-title .container-desc {
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 12px;
  display: block;
  font-size: 13px;
  -moz-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stage-molecule .lowercase {
  text-transform: lowercase!important;
}
.stage-molecule .uppercase {
  text-transform: uppercase!important;
}
.input-btn {
  text-align: center;
  padding: 32px 0;
}
.verified-tick,
.loader-img,
.loader-btn {
  display: none;
  position: absolute;
  right: 20px;
  top: 21px;
  margin-top: -10px;
  background: url(../img/tick-icon.png);
  width: 20px;
  height: 30px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 0.8;
}
.loader-img {
  display: block;
  background: url(../img/loader.gif);
  background-repeat: no-repeat;
}
.loader-btn {
  display: inline;
  background: url(../img/loader.gif);
  background-repeat: no-repeat;
  position: relative;
  padding: 10px;
  padding-top: 22px;
  z-index: 1;
  margin-right: 30px;
}
.is-verified .verified-tick {
  display: block;
}
.is-verified input:focus ~ .verified-tick {
  display: none;
}
.input-element {
  float: left;
  position: relative;
}
.input-element label {
  color: rgba(49, 68, 81, 0.6);
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  -moz-transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 200ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
  top: 13px;
}
.input-element .input-desc {
  position: absolute;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
  top: 50%;
  right: 100%;
  width: 200px;
  font-size: 12px;
  margin-right: 20px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.input-element .input-desc:after,
.input-element .input-desc:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.input-element .input-desc:after {
  border-left-color: #fff;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
.input-element .input-desc:before {
  border-left-color: #c2c2d5;
  border-width: 11px;
  top: 50%;
  margin-top: -11px;
}
.input-element input {
  margin-right: 12px;
  border: none;
  padding: 6px 12px;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 200px;
  border: 1px solid rgba(49, 68, 81, 0.3);
  -moz-transition: background-color 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-element input.inline-label {
  padding: 19px 30px 6px 12px;
}
.input-element input.inline-label.large {
  width: 280px;
}
.input-element input.inline-label.medium {
  width: 238px;
}
.input-element input.inline-label.small {
  width: 90px;
  font-size: 100%;
}
.input-element input.inline-label.phone-input {
  position: relative;
  padding-left: 40px;
}
.input-element input.inline-label.phone-input.has-value,
.input-element input.inline-label.phone-input:focus {
  background-image: url(../img/phone-prefix.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 10px 22px;
}
.input-element input.inline-label::-webkit-input-placeholder {
  opacity: 0;
}
.input-element input.inline-label:-moz-placeholder {
  /* Firefox 18- */
  opacity: 0;
}
.input-element input.inline-label::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0;
}
.input-element input.inline-label:-ms-input-placeholder {
  color: #efeff4;
}
.input-element input.inline-label ~ label {
  display: block;
}
.input-element input.inline-label:focus ~ label,
.input-element input.has-value.inline-label ~ label {
  top: 4px;
  font-size: 12px;
}
.input-element input.inline-label ~ .input-desc {
  display: none;
}
.input-element input.inline-label:focus ~ .input-desc {
  display: block;
}
.input-element input.input-disabled {
  pointer-events: none;
  opacity: 0.7;
}
.input-element input.input-date {
  width: 52px;
}
.input-element input.input-year {
  width: 60px;
}
.input-element input:focus {
  background: #efeff4;
  border: 1px solid #314451;
}
.input-element input.has-error {
  background: rgba(255, 85, 85, 0.24);
  border: 1px solid #ff0000;
}
@media screen and (max-width: 768px) {
  .input-element input {
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 4px;
    width: 100%;
    padding-left: 0;
  }
  .input-element input:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .input-element input.inline-label {
    padding-left: 0;
  }
  .input-element input.inline-label:focus ~ label,
  .input-element input.has-value.inline-label ~ label {
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .input-element {
    width: 100%;
  }
  .input-element.is-verified input {
    border-color: #00D9AA;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.input-element select {
  display: inline-block;
  margin-right: 5px;
}
.checkbox-element label {
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
}
.date-picker-element {
  position: relative;
}
.date-picker-element .verified-tick {
  right: -30px;
}
.container-element.level2 > .container-title {
  background: #f7fafc;
  display: block;
  padding: 20px;
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
  color: #0076ff;
  font-size: 20px;
  margin: 0;
}
.container-element.level4 {
  width: 100%;
}
.container-element.level3 {
  margin-top: 20px;
}
.container-element.level3 > .container-title {
  font-size: 20px;
  float: left;
  width: 240px;
}
.container-element.level3 > .container-children > div {
  float: left;
}
.container-children.level2 {
  padding: 40px;
}
.container-children.level3 {
  float: left;
}
.clearfix {
  pointer-events: none;
}
.step-2-wrapper {
  background: #efeff4;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 20px 40px 40px;
  margin-top: 40px;
}
.hero-header h1 {
  color: #fff;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 0;
}
#form {
  position: relative;
  z-index: 199;
}
.form-footer {
  padding: 24px;
  text-align: center;
  width: 100%;
  float: left;
  background: #fff;
  position: relative;
  z-index: 200;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transform: scale(0.95) translate3d(0, 0, 0);
  -moz-transform: scale(0.95) translate3d(0, 0, 0);
  -ms-transform: scale(0.95) translate3d(0, 0, 0);
  -o-transform: scale(0.95) translate3d(0, 0, 0);
  transform: scale(0.95) translate3d(0, 0, 0);
  margin-bottom: 20px;
  opacity: 0;
  -moz-transition: all 0.5s 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 500ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}
.form-footer.reveal {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-transform: scale(1) translate3d(0, 0, 0);
  -ms-transform: scale(1) translate3d(0, 0, 0);
  -o-transform: scale(1) translate3d(0, 0, 0);
  transform: scale(1) translate3d(0, 0, 0);
}
.form-footer .price,
.form-footer .price-label {
  padding-top: 12px;
  padding-bottom: 24px;
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  padding-left: 46px;
  padding-right: 46px;
}
.form-footer .price {
  text-align: right;
  font-weight: normal;
  color: #FF704C;
}
.multiselect-widget {
  position: relative;
}
.multiselect-widget .multiselect-dd {
  position: absolute;
  background: rgba(255, 255, 255, 0.98);
  left: -1px;
  right: -1px;
  margin-top: -1px;
  top: 0;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  z-index: 300;
  border: none;
  border-top: 0;
}
.multiselect-widget .multiselect-dd .empty-ui {
  text-align: center;
  padding: 15px;
  font-size: 12px;
  color: #314451;
  background: #fff;
}
.multiselect-widget .multiselect-dd .empty-ui span {
  font-weight: bold;
  padding: 0;
  background: none;
}
.multiselect-widget .multiselect-dd .keyword {
  position: relative;
}
.multiselect-widget .multiselect-dd .keyword .close-btn {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 20px;
  top: 50%;
  margin-top: -7px;
  background-image: url(../img/cross-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px 15px;
  cursor: pointer;
  -moz-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}
.multiselect-widget .multiselect-dd .keyword .close-btn.reveal {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.multiselect-widget .multiselect-dd .keyword input {
  border: 0;
  outline: none;
  border-bottom: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 5px;
  width: 100%;
  color: #000;
  padding-left: 35px;
  background-image: url(../img/search-icon.png);
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: 15px 15px;
}
.multiselect-widget .multiselect-dd ul {
  list-style-type: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 0;
  background: #fff;
}
.multiselect-widget .multiselect-dd ul li {
  padding: 7px 15px;
  cursor: pointer;
  color: #314451;
  font-size: 14px;
}
.multiselect-widget .multiselect-dd ul li:nth-child(odd) {
  background: #f7fafc;
}
.multiselect-widget .multiselect-dd ul li:hover {
  background: #FF704C;
  color: #fff;
}
.multiselect-widget .multiselect-dd ul li.selected {
  background: #ffc1b2;
}
.multiselect-widget > ul {
  list-style-type: none;
  padding: 0;
  font-size: 0;
  text-align: left;
}
.multiselect-widget > ul > li {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  color: #444;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-right: 10px;
  text-align: left;
  letter-spacing: 1px;
  background: #fff;
  border: none;
}
.multiselect-widget > ul > li .example-text {
  position: absolute;
  bottom: 100%;
  top: auto;
  color: #FF704C;
  left: 0;
  padding: 0;
  margin-bottom: 8px;
  margin-top: 0;
  text-transform: none;
  letter-spacing: 0px;
}
.multiselect-widget > ul > li.active {
  background-color: #FF704C;
  color: #fff;
}
.multiselect-widget > ul > li.disabled {
  pointer-events: none;
  opacity: 0.4;
  background: #f2f2f2;
}
.multiselect-widget > ul > li span {
  padding: 10px 15px;
  padding-right: 40px;
  display: block;
  background-image: url(../img/down-arrow.png);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 15px 9px;
}
.multiselect-widget > ul > li:focus {
  background: red;
}
.content-wrapper {
  padding-top: 100px;
}
@media screen and (max-width: 768px) {
  .content-wrapper {
    margin-left: 0;
    padding-left: 0;
  }
}
.app-state-wrapper {
  background: #FF704C;
  height: 64px;
  position: fixed;
  top: 64px;
  left: 320px;
  right: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 1000;
}
.app-state-wrapper .app-state {
  list-style-type: none;
  color: #fff;
}
.app-state-wrapper .app-state li {
  display: inline-block;
  font-size: 20px;
  padding: 16px 40px;
  position: relative;
  font-weight: 300;
  opacity: 0.5;
}
.app-state-wrapper .app-state li span {
  position: absolute;
  left: 0;
  font-size: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 2px;
}
.app-state-wrapper .app-state li.active {
  opacity: 1;
}
.app-state-wrapper .app-state li.active span {
  background: #fff;
  color: #FF704C;
}
.app-sidebar-wrapper {
  padding-bottom: 5px;
  overflow: auto;
}
@media screen and (max-width: 768px) {
  .app-sidebar-wrapper {
    display: none;
  }
}
.app-sidebar-details {
  position: relative;
  z-index: 10;
}
.app-sidebar-section {
  margin-bottom: 20px;
  padding: 24px;
  position: relative;
}
.app-sidebar-section ul.quote-settings {
  list-style-type: none;
  padding: 0;
}
.app-sidebar-section ul.quote-settings li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  font-size: 13px;
}
.app-sidebar-section ul.quote-settings li span.key.special {
  font-weight: bold;
}
.app-sidebar-section ul.quote-settings li span.value {
  opacity: 0.43;
}
.app-sidebar-section ul.quote-settings li.header {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 5px;
  color: #FF704C;
  font-size: 12px;
}
.app-sidebar-section.summary-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 40px 40px 16px;
  -moz-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #fff;
  position: relative;
  margin: 20px;
  margin-top: -20px;
}
.app-sidebar-section.summary-card .quote-details-wrapper {
  background: #efeff4;
  position: absolute;
  right: 0;
  left: 50%;
  top: 0;
  bottom: 0;
  padding: 20px;
}
.app-sidebar-section.summary-card h3 {
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 0;
}
.app-sidebar-section.summary-card p {
  margin: 0;
  opacity: 0.4;
  margin-bottom: 16px;
}
.app-sidebar-section.summary-card > img {
  max-height: 70px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.app-sidebar-section p.section-title {
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #FF704C;
  opacity: 1;
}
.app-sidebar-section p.section-title img {
  max-height: 20px;
  margin-right: 10px;
}
.app-sidebar-wrapper {
  background: #efeff4;
}
.app-sidebar-header:before {
  background: #e0e0ea;
}
.extras {
  list-style-type: none;
  padding: 0;
  padding-left: 13px;
  margin-bottom: 0;
}
.extras li {
  position: relative;
  font-size: 12px;
}
.extras li:before {
  content: '\2713';
  position: absolute;
  left: -13px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background: #f7fafc;
  z-index: 200;
}
@media screen and (max-width: 768px) {
  .page-title {
    font-size: 12px;
  }
}
.page-title.no-arrow {
  font-size: 16px;
}
.page-title.no-arrow:before {
  display: none;
}
.form-header-mobile {
  display: none;
}
.form-header {
  text-align: center;
  margin-bottom: 36px;
  position: relative;
}
.form-header h2 {
  font-weight: 300;
  margin: 0;
  letter-spacing: 2px;
  font-size: 32px;
  text-transform: uppercase;
  margin-top: 40px;
}
.form-header p {
  margin: 9px 0;
  font-size: 16px;
  font-weight: 300;
  opacity: 0.8;
}
.form-header .back-to-results {
  position: absolute;
  left: 0;
  top: 10px;
}
.spinner {
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.app-bg {
  background: #374c5b;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
}
.centered-content-wrapper {
  padding-top: 65px;
  margin-left: 320px;
}
.summary-items {
  padding: 0;
  list-style-type: none;
  margin: 0;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.summary-items li {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
ul.radio {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 0;
}
ul.radio li {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  padding-left: 48px;
  margin-right: 32px;
  padding-top: 4px;
}
ul.radio li:before {
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  border: 1px solid rgba(49, 68, 81, 0.85);
  left: 0;
  top: 0;
}
ul.radio li:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  left: 6px;
  top: 6px;
  background: #314451;
  opacity: 0.3;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -moz-transition: -moz-transform 200ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms cubic-bezier(0.4, 0, 0.2, 1), visibility 200ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms cubic-bezier(0.4, 0, 0.2, 1), visibility 200ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: -o-transform 200ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms cubic-bezier(0.4, 0, 0.2, 1), visibility 200ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: -ms-transform 200ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms cubic-bezier(0.4, 0, 0.2, 1), visibility 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 200ms cubic-bezier(0.4, 0, 0.2, 1), opacity 200ms cubic-bezier(0.4, 0, 0.2, 1), visibility 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
ul.radio li:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
ul.radio li.active:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  left: 6px;
  top: 6px;
  background: #314451;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
ul.radio li.active:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
ul.radio.vertical li {
  display: block;
  font-size: 16px;
  margin-top: 10px;
  padding-top: 0;
  padding-left: 36px;
}
ul.radio.vertical li:before {
  width: 20px;
  height: 20px;
}
ul.radio.vertical li:after {
  width: 12px;
  height: 12px;
  left: 4px;
  top: 4px;
}
ul.radio.small li {
  margin-right: 12px;
  font-size: 16px;
  padding-left: 32px;
  padding-top: 0;
}
ul.radio.small li:before {
  width: 20px;
  height: 20px;
}
ul.radio.small li:after {
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
}
.container-horizontal .container-title {
  display: inline-block;
  width: 200px;
}
.container-horizontal .container-children {
  display: inline-block;
  vertical-align: middle;
}
.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 35px 9px 10px;
  outline: none;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-image: url(../img/down-arrow.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px 9px;
  margin-right: 3px;
  margin-left: 3px;
}
.custom-select:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.date-picker-widget .left,
.date-picker-widget .right {
  width: 60px;
  padding: 10px;
  border: none;
  outline: none;
  border: 1px solid rgba(49, 68, 81, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: background-color 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 100ms 0ms cubic-bezier(0.4, 0, 0.2, 1);
}
.date-picker-widget .left:focus,
.date-picker-widget .right:focus {
  background: #efeff4;
  border: 1px solid #314451;
}
.date-picker-widget select {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 35px 9px 10px;
  outline: none;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-image: url(../img/down-arrow.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px 9px;
  margin-right: 3px;
  margin-left: 3px;
}
.date-picker-widget select:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.fixed-bottom-btn {
  position: fixed;
  display: none;
  background: #FF704C;
  padding: 15px 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  z-index: 2000;
}
#container-registration_number.container-horizontal .container-title {
  width: 277px;
}
#container-vehicle_reg_no {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
#container-vehicle_reg_no registration-number-widget input {
  width: 60px;
  float: left;
  margin-right: 5px;
}
#container-vehicle_reg_no registration-number-widget input:disabled {
  background: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  width: 28px;
  border: none;
}
#container-vehicle_reg_no .verified-tick {
  right: -30px;
  top: 17px;
  margin-top: 0px;
}
.footer-innerwrap {
  opacity: 0;
}
.footer-innerwrap.reveal {
  opacity: 1;
}
#container-past_policy_insurer .multiselect-widget > ul > li,
#container-loc_add_state .multiselect-widget > ul > li,
#container-add_state .multiselect-widget > ul > li,
#container-add_reg_state .multiselect-widget > ul > li {
  width: 330px;
}
.modal {
  background: rgba(49, 68, 81, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal.reveal {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}
.modal .modal-body {
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  margin-top: 100px;
}
.modal .modal-header h2 {
  margin-top: 0;
  font-weight: 300;
}
.modal .modal-content,
.modal .modal-footer {
  margin-top: 20px;
}
.reset_btn {
  position: fixed;
  left: 50%;
  z-index: 1001;
  top: 8px;
}
@media (max-width: 768px) {
  .empty-btn {
    color: #ff704c;
    border: 1px solid #ff704c;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 7px;
    font-size: 14px;
    text-transform: uppercase;
    font-size: 12px;
  }
  .fixed-bottom-btn {
    display: block;
  }
  ul.summary-items {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
  ul.summary-items li {
    opacity: 0.6;
  }
  body {
    background: #fff;
  }
  .container-horizontal .container-title {
    width: 120px;
  }
  .header-wrapper {
    position: static;
  }
  .centered-content-wrapper {
    margin-left: 0;
    padding-top: 0;
  }
  .centered-content-wrapper .container-fluid {
    padding: 0;
  }
  .centered-content-wrapper .container-fluid > .row {
    margin: 0;
  }
  .centered-content-wrapper .container-fluid > .row > div {
    padding: 0;
  }
  #container-loc_add_state {
    position: relative;
    z-index: 500;
  }
  .form-header {
    text-align: left;
    margin-bottom: 6px;
  }
  .form-header h2 {
    font-size: 24px;
    margin-top: 30px;
    text-align: center;
  }
  .form-header p {
    display: none;
  }
  .form-header .back-to-results {
    top: -23px;
  }
  .stage-header > .container-title {
    padding-left: 48px;
    border: none;
    font-size: 22px;
    background: #e9e9f0;
  }
  .stage-header > .container-children {
    padding-top: 0;
    padding-bottom: 0;
  }
  .stage-header.card {
    margin-top: 0;
  }
  .stage-header.done.collapsed {
    background: #efeff4;
    box-shadow: none;
  }
  .stage-header.done.collapsed > .container-title {
    font-size: 22px;
    background: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container-state {
    left: 12px;
    width: 26px;
    height: 26px;
    top: 18px;
    font-size: 14px;
  }
  .input-element.is-verified input {
    border: none;
  }
  .input-element label {
    top: 19px;
  }
  .input-element .verified-tick {
    top: 31px;
  }
  .input-element input.inline-label:focus ~ .input-desc {
    display: none;
  }
  .input-element input.inline-label {
    padding: 30px 12px 6px 15px;
    margin: 0;
  }
  .input-element input.inline-label:focus {
    border: none;
  }
  .input-element input.inline-label.phone-input {
    padding-left: 46px;
  }
  .input-element input.inline-label.phone-input.has-value,
  .input-element input.inline-label.phone-input:focus {
    background-position: 15px 34px;
  }
  .input-element input.inline-label.small,
  .input-element input.inline-label.large,
  .input-element input.inline-label.medium {
    width: 100%;
  }
  .input-element input.inline-label:focus ~ label,
  .input-element input.has-value.inline-label ~ label {
    top: 9px;
    left: 15px;
  }
  .input-element input.has-error {
    border: none;
    border-bottom: 1px solid #ff0000;
  }
  .stage-molecule > .container-children {
    float: left;
    width: 100%;
    border-top: 1px solid #e0e0ea;
    border-bottom: 1px solid #e0e0ea;
    margin-bottom: -1px;
  }
  .stage-molecule > .container-children select {
    padding: 5px;
  }
  .stage-molecule.container-horizontal > .container-children {
    float: none;
    width: auto;
    border: none;
    display: inline-block;
  }
  .stage-molecule.container-horizontal {
    padding: 20px 15px;
    border-top: 1px solid #e0e0ea;
    border-bottom: 1px solid #e0e0ea;
    margin-bottom: -1px;
  }
  .stage-molecule {
    padding: 0;
    border: none;
  }
  .stage-molecule > .container-title .container-name {
    margin: 0;
    font-size: 12px;
  }
  .stage-subheader > .container-title {
    font-size: 20px;
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .form-footer .price,
  .form-footer .price-label {
    padding: 0 0 8px;
    font-size: 24px;
    text-align: left;
  }
  .form-footer .price {
    padding: 0 0 12px;
  }
  .btn.large {
    padding: 12px 30px;
  }
  .error {
    margin: 10px 15px 15px;
  }
  .page-title {
    display: none;
  }
  .date-picker-widget {
    margin-top: 6px;
  }
  .date-picker-widget .left,
  .date-picker-widget .right {
    padding: 6px;
    border: none;
    background: transparent;
    border: 1px solid #e0e0ea;
    box-shadow: none;
  }
  .date-picker-widget .left:focus,
  .date-picker-widget .right:focus {
    outline: none;
    background: #efeff4;
  }
  .date-picker-widget select {
    width: 120px;
    margin-bottom: 0 5px;
  }
  .container-edit {
    top: 16px;
  }
  .stage-header {
    float: none;
  }
  .checkbox-element label {
    padding-left: 0;
  }
  ul.radio li:before {
    border: none;
  }
  ul.radio li:after {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    opacity: 1;
    background: #efeff4;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  ul.radio.small li {
    font-size: 14px;
    padding-left: 25px;
  }
  .form-header {
    display: none;
  }
  .form-header-mobile {
    display: block;
  }
  #container-cust_first_name,
  #container-cust_last_name,
  #container-nominee_name,
  #container-nominee_age {
    width: 50%;
  }
  #container-cust_last_name,
  #container-nominee_age {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  #container-nominee_name,
  #container-nominee_age {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  #nominee_relationship {
    margin: 15px;
    min-width: 50%;
  }
  #container-vehicle_engine_no {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  #container-financier-details #container-is_car_financed {
    padding: 10px 15px;
  }
  #container-accept_terms {
    padding: 10px 15px;
  }
  #container-pyp-insurer {
    padding: 15px 0;
  }
  #container-pyp-insurer .container-title {
    padding: 0 15px;
    margin-bottom: 10px;
  }
  #container-pyp-insurer .container-children {
    border: none;
    padding: 0 15px;
  }
  #container-add-details .container-title {
    padding: 10px 15px;
  }
  #container-registration_number {
    padding: 20px 15px;
  }
  #container-registration_number .container-children {
    border: none;
  }
  #container-registration_number input {
    padding: 5px 7px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #e0e0ea;
    box-shadow: none;
    max-width: 50px;
    margin-right: 4px;
  }
  .container-horizontal .container-children {
    display: block;
  }
  #container-nominee.stage-molecule > .container-title .container-name {
    color: #FF704C;
    text-transform: none;
    letter-spacing: 0;
    font-size: 16px;
    padding: 20px 15px 10px;
  }
  .app-topbar-wrapper .app-sidebar-wrapper {
    display: block;
    width: 100%;
    position: static;
    padding: 0;
    background: transparent;
  }
  .app-topbar-wrapper .app-sidebar-details {
    position: static;
  }
  .app-topbar-wrapper .app-sidebar-section {
    padding: 5px 0;
    margin: 0;
  }
  .app-topbar-wrapper .app-sidebar-section.summary-card {
    padding: 15px;
    max-height: 88px;
    overflow: hidden;
    -moz-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.5s 0ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .app-topbar-wrapper .app-sidebar-section.summary-card.reveal {
    max-height: 500px;
  }
  .app-topbar-wrapper .app-sidebar-section.summary-card h3 {
    font-size: 16px;
    margin: 5px 0;
    display: block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
  .app-topbar-wrapper .app-sidebar-section.summary-card h3 span.empty-btn {
    float: right;
    letter-spacing: 0;
    text-transform: none;
    font-weight: normal;
    border: none;
  }
  .app-topbar-wrapper .app-sidebar-section.summary-card .see-details {
    margin: 3px 0;
    text-decoration: none;
    font-size: 12px;
    color: #337ab7;
    display: block;
  }
  .app-topbar-wrapper .app-sidebar-section.summary-card a {
    margin-top: 5px;
    display: block;
  }
  .app-topbar-wrapper .app-sidebar-section.summary-card ul {
    margin: 0;
  }
  .app-topbar-wrapper .app-sidebar-section.summary-card ul.quote-settings li {
    padding: 2px 0;
    border: 0;
  }
  .app-topbar-wrapper .app-sidebar-section.summary-card ul.quote-settings li.header {
    margin-top: 5px;
  }
  .app-topbar-wrapper .app-sidebar-section.summary-card > img {
    display: inline-block;
    vertical-align: middle;
    max-height: 42px;
    max-width: 70px;
    padding: 4px;
    border: none;
    padding: 0;
  }
  .app-topbar-wrapper .app-sidebar-section.summary-card {
    margin: 0;
  }
  .app-topbar-wrapper .app-sidebar-section.summary-card > h3 span:first-child {
    width: 65%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }
  .app-topbar-wrapper .app-sidebar-section.summary-card .price-quote {
    float: right;
    text-align: right;
  }
  .app-topbar-wrapper .app-sidebar-section.summary-card .price-quote h3 {
    font-size: 22px;
    font-weight: normal;
  }
  .buy-caption {
    opacity: 0.5;
    display: block;
    margin-top: -8px;
    font-size: 11px;
  }
}
/* action tooltip */
.action-tooltip {
  position: relative;
  margin-top: 20px;
  margin-right: -30px;
  color: rgba(49, 68, 81, 0.7);
  height: 25px;
  cursor: pointer;
}
.action-tooltip > i {
  font-style: normal;
  border: 1px solid rgba(49, 68, 81, 0.7);
  border-radius: 50%;
  padding: 2px 8px;
  margin-left: 3px;
}
.action-tooltip:hover .action-tooltip__desc {
  display: block;
}
.action-tooltip__desc {
  display: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  left: -10px;
  right: -10px;
  position: absolute;
  top: 100%;
  margin-top: 0px;
  z-index: 1;
  font-size: 12px;
  padding: 20px;
  text-align: left;
  background: #fff;
  color: #314451;
}
.action-tooltip__desc h5 {
  font-size: 14px;
  color: #FF704C;
  margin-top: 0;
  margin-bottom: 15px;
}
/* action tooltip end */
