@import '../../global/css/basestyles.less';
@import '../../global/css/product-topbar.less';
@import '../../global/css/product-sidebar.less';
@import '../../global/css/product-content-area.less';
@import './arrow.less';


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

body{
	background: @grey-2;
	color:@baseDark;
}

body, h1, h2, h3, h4, h5, h6{
	font-family: @baseFont;

}

.green-bottom-border, .red-bottom-border{
	padding-bottom: 20px;
    border-bottom: 10px solid rgb(66, 204, 66);
}

.red-bottom-border{
    border-color: red;
}

.card{
	background: #fff;
	.BoxShadowHelper(2);
}

.invisibleField{
	visibility: hidden;
	height:0px;
	width: 0px;
	overflow: hidden;
}

.btn.orange {
  color: rgb(255, 255, 255);
  background-color: @orange;
  border: 1px solid @orange;
  .boxShadow(none);
  .roundedCorners(4px);
  .transition(@time:200ms);
	outline:none;
  &:hover{
  	background-color: darken(@orange, 10%);
  }
  &:active{
	background-color: darken(@orange, 15%);

  }
}
.btn {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 5px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .transition;
}

.back-to-results-empty-btn{
	color: rgb(255, 112, 76);
    border: 1px solid rgb(255, 112, 76);
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    font-size: 12px;
    background: rgba(0, 0, 0, 0);
	padding: 5px 10px;
	.transition;
	&:hover{
	  	background-color: #efeff4;
	  	text-decoration: none;
	  	color: rgb(255, 112, 76);
	}
}

.empty-btn-orange {
	color: rgb(255, 112, 76);
    border: 1px solid rgb(255, 112, 76);
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
    background: rgba(0, 0, 0, 0);
	padding: 5px 10px;
	.transition;
	&:hover{
	  	background-color: #efeff4;
	  	text-decoration: none;
	  	color: rgb(255, 112, 76);
	}
}

.try-again-btn{
	text-transform: uppercase;
	font-size: 12px;
	padding: 5px 10px;
}

.back-to-result-btn{
	text-transform: uppercase;
	padding: 5px 10px;
	font-size: 12px;
}


.btn.large{
	padding: 12px 32px;
}

.error{
	color:red;
  	margin-top: 10px;
  	max-width: 164px;
  	line-height: 16px;
  	font-size: 13px;
}

.errorMessage, .successMessage{
	color:red;
	margin-top: -10px;
	font-size: 11px;
	line-height: 13px;
	display: inline-block;
	margin-bottom:10px;
}

.successMessage{
	color:green;
}

.cleaned{
	opacity:0.7;
  	margin-top: 10px;
  	line-height: 16px;
  	font-style: italic;

}

.container-error{
	color: rgb(255, 99, 99);
	background: url('../img/error.png');
	background-repeat: no-repeat;
	background-size: 16px 16px;
	float: left;
	padding-left: 23px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.container-state{
	display: none;
	position: absolute;
	left:56px;
	border:1px solid @orange;
	width:36px;
	height:36px;
	font-size: 20px;
	text-align: center;
	top: 17px;
	.roundedCorners(50%);
	padding-top:2px;
	background: @orange;
	color:#fff;
}

.container-edit{
	display: none;
	position: absolute;
	right:20px;
	top:20px;
	color:@orange;
	border:1px solid @orange;
	cursor: pointer;


	.roundedCorners;
	padding:0px 7px;
	font-size:14px;
	text-transform: uppercase;
	font-size: 12px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  .transition;
	  &:hover{
	  	background: darken(@orange, 10%);
	  	color:#fff;
	  }
}


.container-summary{
	display: none;
	font-size:12px;
	.transition(@time:200ms);
	max-height: 0;
	overflow: hidden;
	padding-top: 6px;
    margin-top: 6px;
	span.key{
		font-weight: bold;
	}
}


.collapsed.done .container-summary{
	max-height:210px;
}

#container-accept_terms_block{
	margin: 0;
	.container-title{
		display: none;
	}
}

.label{
	font-size: 16px;
	text-align: center;
	margin-top: -10px;
}

.stage-header{
	.transition(@delay: 0.2s);
	max-height:1200px;
	position: relative;
	z-index:10;
	margin-top: -5px;
	float: left;
  	width: 100%;
  	.transform(translateZ(0));




	// &.collapsed{
	// 	.stage-molecule>.container-title .container-desc{
	// 		height:0;
	// 		margin:0;
	// 		opacity:0;
	// 		overflow: hidden;
	// 	}
	// 	.input-element input{
	// 		background: #fff;
	// 		border-width:0px;
	// 		padding:0;
	// 		opacity:0.4;
	// 	}
	// 	.stage-molecule{
	// 	}
	// 	.input-element.is-verified .verified-tick{
	// 		display: none;
	// 	}
	// 	.stage-molecule>.container-title .container-name{
	// 		font-size: 14px;
 	//  			line-height: 19px;
	// 	}
	// }
	.stage-molecule, .stage-subheader, .container-children{
		.transition(@range: opacity);
	}
	&.card{
		.BoxShadowHelper(1);
		margin:20px 0;

		@media screen {
		    @media (max-width: 768px) {
		      .boxShadow(none);
		      background: transparent;
		    }
		  }
	}
	&>.container-title{
		//background: darken(@grey-2, 5%);
		display: block;
		padding: 14px;
		padding-left: 120px;
		list-style: none;
		border-bottom: 1px solid rgb(230, 230, 230);
		font-size: 30px;
		margin:0;
		font-weight: 300;
		.transition;
		.container-state{
			display: block;
		}
		.container-summary {
			display: block;
		}
	}
	&>.container-children{
		padding: 20px 40px;
		float: left;
  		width: 100%;
  		.transition;
  		max-height:1200px;
  		&>div{
  			float: left;
  			width:100%;
  		}

  		@media screen {
		    @media (max-width: 768px) {

		      padding: 20px 0px;

		    }
		  }
	}

	&.collapsed{
		z-index:9;
		//.transform(scale(0.95)translate3d(0,0,0));
		//max-height:70px;
		.BoxShadowHelper(1);
		overflow: hidden;
		background: rgba(255,255,255,0.8);
		margin:0;
		&>.container-title{
			background: #fff;
			color:@baseDark;
			.container-state{
				border:1px solid @baseDark;
				background: transparent;
				color:@baseDark;
			}
		}

		&>.container-children{
			max-height: 0;
			overflow: hidden;
			padding-top:0;
			padding-bottom: 0;
		}

		&>.stage-molecule, &>.stage-subheader, &>.container-children{
			opacity:0;
		}
		&.done{

			&>.container-title{
				.container-edit{
					display: block;
				}
			}

		}
	}

	&.done{
		&.collapsed{
				&>.container-title{
					//background: darken(@grey-2, 12%);
					  margin-top: -6px;
					  font-size:24px;
				}
			}
		&>.container-title{
			//background: darken(@grey-2, 5%);
			.container-state{

				&:before{
					// position: absolute;
					// content:'';
					// background: url(../img/tick-icon.png);
					// width:30px;
					// height:30px;
				}
			}
		}
	}
}

.stage-subheader{

	&>.container-title{
			color:@orange;
			font-size: 24px;
			padding-left: 20px;
			margin-top: 20px;
		}
	}

	&.no-title{
		&>.container-title{
			margin:0;
		}
	}

.stage-molecule{

	padding: 20px 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	float: left;
  	width: 100%;

  .multiselect-widget>ul>li span{
		border: 1px solid rgba(49,68,81,0.3);
		.roundedCorners;
  }

	&>.container-title{

		.container-name{
			font-size: 14px;
			  display: block;
			  line-height: 24px;
			  text-transform: uppercase;
			  letter-spacing: 2px;

		}
		.container-desc{
			color: rgba(0, 0, 0, 0.45);
  			margin-bottom: 12px;
  			display: block;
  			font-size: 13px;
  			.transition;
		}
	}
	.lowercase{
		text-transform: lowercase!important;
	}
	.uppercase{
		text-transform: uppercase!important;
	}
}


.input-btn{
	text-align: center;
	padding:32px 0;
}


.verified-tick, .loader-img,.loader-btn{
	display: none;
	  position: absolute;
	  right: 20px;
	  top: 21px;
	  margin-top: -10px;
	  background: url(../img/tick-icon.png);
	  width: 20px;
	  height: 30px;
	  background-size: 20px 20px;
	  background-repeat: no-repeat;
	  pointer-events: none;
		  opacity: 0.8;
}

.loader-img{
	display:block;
	background: url(../img/loader.gif);
	background-repeat: no-repeat;
}

.loader-btn{
	display:inline;
	background: url(../img/loader.gif);
	background-repeat: no-repeat;
	position:relative;
	padding: 10px;
	padding-top	:22px;
	z-index: 1;
	margin-right: 30px;
}

.is-verified{

	.verified-tick{
		display: block;
	}
	input:focus ~ .verified-tick{
		display: none;
	}

}

.input-element{
	float: left;
	position: relative;
	label{
		color: rgba(49, 68, 81, 0.6);
		font-size:14px;
		font-weight:normal;
		position:absolute;
		pointer-events:none;
		left:12px;
		.transition(@time:200ms);
		display: none;
		top: 13px;
	}

	.input-desc{
		position: absolute;
		background: #fff;
		.BoxShadowHelper(1);
		padding:20px;
		top:50%;
		right:100%;
		width:200px;
		font-size: 12px;
		margin-right: 20px;
		.transform(translateY(-50%));
		#arrow > .right(10px, #fff, 1px, darken(#efeff4, 15%));
	}

	input{
		//.roundedCorners;
		//background: #efeff4;
		margin-right:12px;
		border:none;
		padding: 6px 12px;
		outline: none;
		//.boxShadow(~"inset 1px 1px 3px rgba(0,0,0,0.1)");
		//background: rgb(239, 239, 244);
  		.roundedCorners(3px);
  		width: 200px;
  		border: 1px solid rgba(49,68,81,0.3);
  		.transition(@range:background-color,@time: 100ms);
  		&.inline-label{
  			&.large{
  				width: 280px;
  			}
  			&.medium{
  				width: 238px;
  			}
  			&.small{
  				width: 90px;
  				font-size: 100%;
  			}

  			&.phone-input{
  				position: relative;
  				padding-left: 40px;
  				&.has-value, &:focus{
  					background-image: url(../img/phone-prefix.png);
  					background-repeat: no-repeat;
  					background-size: 25px;
    				background-position: 10px 22px;
  				}
  			}

  			padding: 19px 30px 6px 12px;

			&::-webkit-input-placeholder {
			   opacity: 0;

			}

			&:-moz-placeholder { /* Firefox 18- */
			    opacity: 0;
			}

			&::-moz-placeholder {  /* Firefox 19+ */
			    opacity: 0;
			}

			&:-ms-input-placeholder {
			    color: rgb(239, 239, 244);

			}

  		}

  		&.inline-label ~ label{
  			display: block;
  		}

  		&.inline-label:focus ~ label, &.has-value.inline-label ~ label {
		  top:4px;
		  font-size:12px;
		}

		&.inline-label ~ .input-desc {
			display: none;
		}

		&.inline-label:focus ~ .input-desc {
			display: block;
		}

		&.input-disabled{
			pointer-events: none;
			opacity:0.7;
			// cursor: not-allowed;
		}
		&.input-date{
			width:52px;
		}
		&.input-year{
			width: 60px;
		}
		&:focus{
			background: @grey-2;
			border:1px solid @baseDark;
			//.boxShadow(~"inset 2px 2px 4px rgba(0,0,0,0.1)");
		}
		&.has-error{
			background: rgba(255,85,85,.24);
    		border: 1px solid rgb(255, 0, 0);
		}
		@media screen {
		    @media (max-width: 768px) {
		      background: transparent;
		      border:none;
		      .boxShadow(none);
		      .roundedCorners(0);
		      margin-bottom: 4px;
		      width: 100%;
		      padding-left:0;
		      &:focus{
		      	.boxShadow(none);
		      }
		      &.inline-label{
		      	padding-left:0;
		      }
		      &.inline-label:focus ~ label, &.has-value.inline-label ~ label{
		      	left:0;
		      }
		    }
		  }
	}





	@media screen {
		    @media (max-width: 768px) {
		    	width: 100%;
		      &.is-verified{
				input{
					border-color:@muted-green;
					.boxShadow(none);
				}

			}



		    }
		  }


	select{
		display: inline-block;
		margin-right: 5px;
	}
}

.checkbox-element{
	label{
		margin-top: 20px;
		font-size: 16px;
		font-weight: normal;
	}
}


.date-picker-element{
	position: relative;
	.verified-tick{
		right:-30px;
	}
}



.container-element.level2{
	&>.container-title{
		background: rgb(247, 250, 252);
		display: block;
		padding: 20px;
		list-style: none;
		border-bottom: 1px solid rgb(230, 230, 230);
		color: rgb(0, 118, 255);
		font-size: 20px;
		margin:0;
		&>.container-children{

		}
	}
}

.container-element.level4{
	width:100%;
}

.container-element.level3{
	margin-top:20px;
	&>.container-title{

		font-size: 20px;
		float:left;
		width:240px;

	}
	&>.container-children{

		&>div{
			float: left;
		}
	}
}

.container-children.level2{
			padding:40px;
}

.container-children.level3{
		float: left;
}


.clearfix{
	pointer-events: none;
}


.step-2-wrapper{
  background: #efeff4;
  .boxShadow(~"0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)");
  .roundedCorners(3px);
  padding:0 20px 40px 40px;
  margin-top:40px;
}

.hero-header{
	h1{
		color:#fff;
		font-weight: 300;
		margin-top: 20px;
		margin-bottom: 0;

	}
}


#form{
	position: relative;
	z-index:199;
}

.form-footer{
	padding:24px;
	text-align: center;
	width:100%;
	float: left;
	background: #fff;
	position: relative;
	z-index:200;
	.BoxShadowHelper(1);
	.transform(scale(0.95)translate3d(0,0,0));
	margin-bottom:20px;
	opacity:0;
	.transition(@delay:500ms);
	pointer-events: none;
	&.reveal{
		opacity:1;
		pointer-events: all;
		.transform(scale(1)translate3d(0,0,0));
	}
	.price, .price-label{
		  padding-top: 12px;
 		  padding-bottom: 24px;
		  font-size: 24px;
		  font-weight: 300;
		  text-align: left;
		  padding-left: 46px;
		  padding-right: 46px;
	}

	.price{
		text-align: right;
		font-weight: normal;
		color:@orange;

	}
}




.multiselect-widget{
  position: relative;

  .multiselect-dd{
    position: absolute;
    background: rgba(255,255,255,0.98);
    left: -1px;
    right: -1px;
    margin-top: -1px;
    top:0;
    .boxShadow(~"0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)");


    .roundedCorners();
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    z-index:300;
    border: none;
    border-top: 0;


    .empty-ui{
      text-align: center;
      padding:15px;
      font-size:12px;
      color:#314451;
        background: #fff;
      span{
        font-weight: bold;
        padding: 0;
        background: none;
      }
    }
    .keyword{

      position: relative;



      .close-btn{
        position: absolute;
        width:15px;
        height:15px;
        right:20px;
        top:50%;
        margin-top:-7px;
        background-image:url(../img/cross-icon.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size:15px 15px;
        cursor: pointer;
        .transition;
        .transform(translateY(20px));
        opacity: 0;

        &.reveal{
          opacity:1;
          .transform(translateY(0px));
        }
      }
      input{
        border:0;
        outline: none;
        border-bottom: none;
        .roundedCorners;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        padding: 5px;
        width: 100%;
        color:#000;
        padding-left:35px;
        background-image:url(../img/search-icon.png);
        background-repeat: no-repeat;
        background-position: left 15px center;
        background-size:15px 15px;
      }
    }
    ul{
      list-style-type: none;
      padding: 0;
      max-height:300px;
      overflow-y: auto;
      margin-bottom: 0;
      background: #fff;
      li{


        padding: 7px 15px;
        cursor: pointer;
        color: #314451;
        font-size: 14px;
        &:nth-child(odd){
          background: #f7fafc;
        }


        &:hover{
          background:@orange;
          color:#fff;
        }
        &.selected{
          background: lighten(@orange, 20%);
        }
      }
    }
  }

}



.multiselect-widget>ul{
  list-style-type: none;
  padding: 0;
  font-size:0;
  text-align: left;
  &>li{


    display: inline-block;

    font-size: 14px;
    cursor: pointer;
    position: relative;


    color:#444;
    .roundedCorners();
    margin-right:10px;
    text-align: left;
    letter-spacing: 1px;
    background: #fff;
    border:none;
    //.boxShadow(~"0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)");
    .example-text{
      position: absolute;
      bottom:100%;
      top:auto;
      color:@orange;
      left:0;
      padding: 0;
      margin-bottom:8px;
      margin-top: 0;
      text-transform: none;
      letter-spacing: 0px;
    }
    &.active{
      background-color:@orange;
      color:#fff;

    }
    &.disabled{
      pointer-events:none;
      opacity:0.4;
      background: #f2f2f2;
    }
    span{
      padding:10px 15px;
      padding-right:40px;
      display: block;
      background-image:url(../img/down-arrow.png);
      background-repeat: no-repeat;
      background-position: right 15px center;
      background-size:15px 9px;

    }
    &:focus{
      background:red;
    }
  }

}

.content-wrapper{
	padding-top:100px;
	@media screen {
	    @media (max-width: 768px) {
	      margin-left:0;
	      padding-left:0;

	    }
	  }
}

.app-state-wrapper{
	background: @orange;
	height:64px;
	position: fixed;
	top:64px;
	left:320px;
	right:0;
	.BoxShadowHelper(1);
	z-index:1000;
	.app-state{
		list-style-type: none;
		color:#fff;

		li{
			display: inline-block;
			font-size: 20px;
			padding: 16px 40px;
			position: relative;
			font-weight: 300;
			opacity:0.5;
			span{
				position: absolute;
				left:0;
				font-size: 18px;
				.roundedCorners(50%);
				border:1px solid #fff;
				width: 30px;
				height: 30px;
				text-align: center;
				padding-top:2px;


			}
			&.active{
				opacity: 1;
				span{

					background: #fff;
					color:@orange;
				}
			}
		}
	}
}

.app-sidebar-wrapper{
	padding-bottom:5px;

	overflow: auto;


	@media screen {
	    @media (max-width: 768px) {
	      display: none;

	    }
	  }

}

.app-sidebar-details{
	    position: relative;
    z-index: 10;
}


.app-sidebar-section{
	margin-bottom: 20px;
	padding: 24px;
  	position: relative;


  	ul.quote-settings{
  		list-style-type: none;
  		padding: 0;
  		li{
  			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  			padding: 5px 0;
  			font-size: 13px;
  			span{
  				&.key{
  					&.special{
  						font-weight: bold;

  					}

  				}
  				&.value{
  					opacity:0.43
  				}
  			}
  		}
  		li.header{
  			text-transform: uppercase;
  			letter-spacing: 2px;
  			margin:20px 0 5px;
  			color:@orange;
  			font-size: 12px;
  		}
  	}

  	&.summary-card{
  		.BoxShadowHelper(1);
  		padding:40px 40px 16px;
  		//.transform(translateX(-150%));
  		.transition();
  		background: #fff;
  		position: relative;
  		margin: 20px;
  		margin-top:-20px;
  		&.reveal{
  			//.transform(translateX(0%));
  		}
  		.quote-details-wrapper{
  			background: @grey-2;
  			position: absolute;
  			right:0;
  			left:50%;
  			top:0;
  			bottom:0;
  			padding:20px;
  		}
  		h3{
  			font-size: 35px;
  			font-weight: 300;
  			margin-bottom: 0;
  		}
  		p{
  			margin: 0;
  			opacity:0.4;
  			margin-bottom: 16px;
  		}

  		&>img{
  			  max-height: 70px;
  			  padding: 8px;
  			  border: 1px solid rgba(0, 0, 0, 0.12);
  		}
  	}
  	p.section-title{
		text-transform: uppercase;
		margin-bottom: 20px;
		letter-spacing: 2px;
		color:@orange;
		opacity:1;
		img{
			max-height: 20px;
			margin-right:10px;
		}
	}
}

.app-sidebar-wrapper{
	background: @grey-2;
}

.app-sidebar-header:before{
	background: darken(@grey-2,5%);
}

.extras{
	list-style-type: none;
	padding: 0;
	padding-left: 13px;
	margin-bottom: 0;
	li{
		position: relative;
		font-size: 12px;
		&:before{
			  content: '\2713';
			  position: absolute;
			  left: -13px;
			  width: 6px;
			  height: 6px;
			  border-radius: 5px;
			  background: rgb(247, 250, 252);
			  z-index: 200;
		}
	}
}

.page-title{
	@media screen {
	    @media (max-width: 768px) {
	      font-size: 12px;

	    }
	  }
}


.page-title.no-arrow{
	font-size: 16px;
	&:before{
		display: none;

	}
}
.form-header-mobile{
	display: none;

}

.form-header{
	text-align: center;
	margin-bottom: 36px;
	position: relative;

	h2{
		font-weight:300;
		margin: 0;
		letter-spacing: 2px;
		font-size: 32px;
		text-transform: uppercase;
		margin-top:40px;
	}
	p{
		margin: 9px 0;
  		font-size: 16px;
  		font-weight: 300;
  		opacity: 0.8;
	}
	.back-to-results{
		position: absolute;
		left:0;
		top:10px;
	}
}


.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


// new stuff
.app-bg{
	background: lighten(@baseDark, 3%);
	position: absolute;
	top:0;
	left:0;
	right:0;
	height:300px;
}

.centered-content-wrapper{
	padding-top:65px;
	margin-left: 320px;

}

.summary-items{
	padding: 0;
	list-style-type: none;
	margin: 0;
	columns: 2;
  	-webkit-columns: 2;
  	-moz-columns: 2;
  	li{
  		-webkit-column-break-inside: avoid;
    	page-break-inside: avoid;
    	break-inside: avoid;
  	}

}




ul.radio{
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 0;

	li{
		display: inline-block;
		position: relative;
		cursor: pointer;
		font-size: 20px;
		padding-left: 48px;
		margin-right: 32px;
		padding-top: 4px;
		&:before{
			position: absolute;
			content: '';
			width:32px;
			height:32px;
			.roundedCorners(32px);
			border:1px solid rgba(49,68,81,0.85);
			left:0;
			top:0;
		}
		&:after{
			position: absolute;
			content: '';
			width:20px;
			height:20px;
			.roundedCorners(32px);
			left:6px;
			top:6px;
			background: @baseDark;
			opacity:0.3;
			.transform(scale(0));
			.transform-transition(@time:200ms);
		}
		&:hover{
			&:after{
				.transform(scale(1));
			}
		}
		&.active{
			&:after{
				position: absolute;
				content: '';
				width:20px;
				height:20px;
				.roundedCorners(32px);
				left:6px;
				top:6px;
				background: @baseDark;
				.transform(scale(1));
				opacity:1;
			}
			&:hover{
				&:after{
					.transform(scale(1));

				}
			}
		}
	}

	&.vertical{
		li{
			display: block;
			font-size: 16px;
			margin-top: 10px;
			padding-top: 0;
			padding-left: 36px;
			&:before{
				width:20px;
				height:20px;
			}
			&:after{
				width:12px;
				height:12px;
				left:4px;
				top:4px;
			}
		}
	}

	&.small{
		li{
			margin-right:12px;
			font-size: 16px;
			padding-left: 32px;
			padding-top: 0;

			&:before{
				width: 20px;
				height: 20px;
			}
			&:after{
				left: 4px;
				top: 4px;
				width:12px;
				height:12px;
			}
		}
	}
}
.container-horizontal{
	.container-title{
		display: inline-block;
		width: 200px;
	}
	.container-children{
		display:inline-block;
		vertical-align: middle;
	}
}

.custom-select{
	-webkit-appearance: none;
    -moz-appearance: none;
	padding: 10px 35px 9px 10px;
	outline: none;
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-image: url(../img/down-arrow.png);
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 15px 9px;
	margin-right:3px;
	margin-left:3px;
	&:hover{
		.BoxShadowHelper(1);
	}

}


.date-picker-widget{
	.left, .right{
		width: 60px;
		padding: 10px;
		border:none;
		outline: none;
		//.boxShadow(~"inset 1px 1px 3px rgba(0,0,0,0.1)");
		//background: rgb(239, 239, 244);
		border: 1px solid rgba(49,68,81,0.3);
  		.roundedCorners(3px);
  		.transition(@range:background-color,@time: 100ms);
  		&:focus{
  			background: @grey-2;
  			border:1px solid @baseDark;
			//.boxShadow(~"inset 2px 2px 4px rgba(0,0,0,0.1)");
  		}

	}
	select{
	    .custom-select;

	}
}


.fixed-bottom-btn{
	position: fixed;
	display: none;
	background: @orange;
	padding:15px 10px;
	bottom:0;
	left:0;
	width:100%;
	color:#fff;
	text-align: center;
	z-index:2000;


}

#container-registration_number.container-horizontal {
	.container-title{
		width:277px;
	}
}


#container-vehicle_reg_no{
	    border: 1px solid rgba(0,0,0,0.1);
    padding: 10px;
	registration-number-widget{
		input{
			width:60px;
			float:left;
			margin-right: 5px;
			&:disabled{
				background: transparent;
				.boxShadow(none);
				padding-left: 0;
    			padding-right: 0;
    			width: 28px;
    			border:none;
			}
		}
	}
	.verified-tick{
		right: -30px;
    	top: 17px;
    	margin-top: 0px;
	}
}

.footer-innerwrap{
	opacity:0;
	&.reveal{
		opacity:1;
	}
}

#container-past_policy_insurer, #container-loc_add_state, #container-add_state, #container-add_reg_state{
	.multiselect-widget>ul>li{
		width:330px;
	}
}

.modal{
	background: rgba(49,68,81,0.7);
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:2000;
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
	&.reveal{
		opacity: 1;
		pointer-events: all;
		visibility: visible;
	}
	.modal-body{
		background: #fff;
		border-radius:3px;
		padding:20px;
		margin-top:100px;
	}
	.modal-header{
		h2{
			margin-top: 0;
			font-weight: 300;
		}
	}
	.modal-content,.modal-footer{
		margin-top:20px;
	}
}

.reset_btn{
    position:fixed;
    left: 50%;
    z-index: 1001;
    top: 8px;
}


@import './buy-form-media-queries.less';

/* action tooltip */
.action-tooltip {
    position: relative;
    margin-top: 20px;
    margin-right: -30px;
    color:rgba(49,68,81,0.7);
    height: 25px;
    cursor:pointer;
    & > i {
    font-style: normal;
    border: 1px solid rgba(49, 68, 81, 0.7);
    border-radius: 50%;
    padding: 2px 8px;
    margin-left: 3px;
  }
  &:hover .action-tooltip__desc {
    display:block;
  }
}
.action-tooltip__desc {
    display: none;
    .BoxShadowHelper(3);
    left: -10px;
    right: -10px;
    position: absolute;
    top: 100%;
    margin-top:0px;
    z-index: 1;
    font-size: 12px;
    padding: 20px;
    text-align: left;
    background: #fff;
    color:@baseDark;
    h5 {
        font-size: 14px;
        color: @orange;
        margin-top: 0;
        margin-bottom: 15px;
    }
}

/* action tooltip end */
