body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
body {
  color: #314451;
}
* {
  -webkit-backface-visibility: hidden;
}
.mnone {
  margin: 0;
}
.mrnone {
  margin-right: 0;
}
.prnone {
  padding-right: 0px;
}
.plnone {
  padding-left: 0px;
}
.btn {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-size: 16px;
  color: #ffffff;
  padding: 8px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: all 200ms 0s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 200ms 0s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 200ms 0s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 200ms 0s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn.small {
  font-size: 12px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 3px 5px;
  margin-left: 5px;
}
.btn.medium {
  font-size: 12px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px;
  margin-top: 5px;
}
.btn:hover {
  text-decoration: none;
  color: #ffffff;
}
.btn.blue {
  color: #fff;
  background-color: #0076ff;
  border: 1px solid #006ae6;
}
.btn.blue:hover {
  background: #006ae6;
}
.btn.blue:active {
  background: #005ecc;
}
.btn.blue.empty {
  background: transparent;
  color: #0076ff;
  border: 1px solid #0076ff;
}
.btn.blue.empty:hover {
  background: #0076ff;
  color: #fff;
}
.btn.orange {
  color: #fff;
  background-color: #ff704c;
  border: 1px solid #ff5c32;
}
.btn.orange:hover {
  background: #ff5c32;
}
.btn.orange:active {
  background: #ff4719;
}
.btn.orange.empty {
  background: transparent;
  color: #ff704c;
  border: 1px solid #ff704c;
}
.btn.orange.empty:hover {
  background: #ff704c;
  color: #fff;
}
.btn.grey {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #314451;
}
.btn.grey:hover {
  background: #e0e0ea;
}
.btn.grey:active {
  background: #d1d1df;
}
.btn.muted-green {
  background-color: #00d9aa;
  border: 1px solid #00c096;
}
html,
body {
  background-color: #efeff4;
  position: relative;
  min-height: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
h1 {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40px;
}
h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #4e6c81;
  margin-bottom: 30px;
  margin-top: -20px;
  line-height: 1.4em;
}
.header-wrapper {
  position: relative;
  padding: 20px;
}
.header-wrapper .cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #314451;
}
.header-wrapper .logo img {
  max-height: 35px;
}
.header-wrapper .tp_logo {
  padding: 5px;
  background-color: #fff;
  margin-top: 5px;
  margin-right: 15px;
  display: block;
  float: right;
}
.form-box {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  margin: auto;
  padding: 23px 26px;
}
.form-box label {
  display: block;
  margin: 10px 0px 0px 10px;
}
.form-box .btn.continue {
  display: block;
  min-width: 200px;
}
.login {
  max-width: 500px;
  margin: 50px auto;
}
.login small {
  margin-bottom: 20px;
  display: block;
  margin-top: -5px;
}
.tab-form {
  max-width: 500px;
  margin: 50px auto;
}
.tab-form ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-color: #efeff4;
}
.tab-form ul li {
  display: inline-block;
  font-size: 16px;
  padding: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.tab-form ul li:hover {
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}
.tab-form ul li.active {
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}
.tab-form ul li img {
  max-height: 30px;
  margin-right: 16px;
}
.tab-form .form-box {
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}
.variant-form {
  margin: 50px auto;
  max-width: 760px;
}
.variant-form .bdr-div {
  position: relative;
}
.variant-form .bdr-div:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  background-color: #efeff4;
}
.variant-form .vehicle-row {
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 0px;
  border-bottom: 1px dashed #dadada;
  position: relative;
}
.variant-form .vehicle-row h4 {
  text-transform: uppercase;
  color: #314451;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 0px;
  padding-right: 10px;
}
.variant-form .vehicle-row .close-btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  float: right;
}
.variant-form .vehicle-row .label {
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 3px;
  padding: 0;
}
.variant-form .vehicle-row .label.orange {
  color: #ff704c;
}
.variant-form .add-field {
  margin: 20px 0px 10px;
  font-size: 14px;
}
.variant-form .add-field .btn {
  line-height: 1em;
  padding: 2px 10px 4px;
  margin-right: 5px;
}
.form-input {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #dadada;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-input:hover,
.form-input:focus {
  outline: none;
}
.form-input-date {
  border: 2px solid #dadada;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 10px 0px 15px;
  display: block;
  width: 100%;
  max-width: 300px;
}
.form-input-file {
  display: block;
  width: 100%;
  margin: 20px 0px;
  font-size: 12px;
  overflow: hidden;
}
.error {
  margin: -10px 0px 10px;
  color: #ff3333;
  font-size: 12px;
  text-align: right;
}
.error.al-left {
  text-align: left;
}
.success-message {
  margin: 80px auto;
  max-width: 500px;
  font-size: 18px;
  text-align: center;
}
.success-message .form-box {
  padding: 50px 30px 30px;
}
.success-message .btn {
  width: 100px;
}
.alert-danger {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  background-color: #ffcccc;
  color: #cc0000;
  font-size: 12px;
  margin: 10px 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.footer {
  margin: 0px auto 50px;
  max-width: 500px;
  padding: 25px 15px;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dadada;
}
.display_icon,
#display_icon {
  width: 25px;
  margin-right: 5px;
  margin-left: -5px;
}
.instructions {
  max-width: 500px;
  margin: 30px auto -30px;
  font-size: 12px;
}
.instructions ol {
  margin-top: 10px;
  padding-left: 18px;
}
.instructions ol li {
  margin-bottom: 15px;
}
.add-form label {
  margin: 0 0 3px;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
}
.cf-input {
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 40px;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  width: 100%;
}
.cf-input-file {
  margin-bottom: 5px;
  font-size: 11px;
  display: block;
  width: 100%;
  height: 40px;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.cf-input:focus,
.cf-input-file:focus,
.cf-input:active,
.cf-input-file:active {
  outline: none;
}
.btn-cross {
  border: 1px solid transparent;
  padding: 3px;
  color: #363636;
  font-weight: 600;
  background-color: transparent;
  margin: -5px 0px 0px;
  font-size: 16px;
}
.add-success-message {
  margin: 10px auto 0;
  padding: 10px 15px;
  font-size: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ff704c;
  border: 1px solid #ff704c;
}
.errorlist {
  color: #ff3333;
  font-size: 12px;
  padding-left: 2px;
}
.errorlist li {
  list-style-type: none;
}
