header, .hero-header {
    display: none !important;
    visibility: hidden;
}
.step-2-wrapper {
  width:100% !important;
  margin-top:0px;
  border-radius:0px;
  -webkit-border-radius:0px;
  -mozilla-border-radius:0px;
}
