@import "colors.less";
@baseFont: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family:@baseFont;
}
body{
	color:@baseDark;
}

*{
  -webkit-backface-visibility:hidden;
}

.boxShadow(@value){
  -webkit-box-shadow: @value; 
  -moz-box-shadow: @value;
  box-shadow: @value;
}

.roundedCorners(@radius: 3px){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.transform(@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}


.transition (@range: all, @time: 0.5s, @delay: 0s, @ease: cubic-bezier(.4, 0, .2, 1)) {
  -moz-transition: @range @time @delay @ease;
  -webkit-transition: @range @time @delay @ease;
  -o-transition: @range @time @delay @ease;
  transition: @range @time @delay @ease;
}

.transform-transition(@time: 0.5s, @ease: cubic-bezier(.4, 0, .2, 1)){
   -moz-transition: -moz-transform @time @ease, opacity @time @ease, visibility @time @ease;
  -webkit-transition: -webkit-transform @time @ease, opacity @time @ease, visibility @time @ease;
  -o-transition: -o-transform @time @ease, opacity @time @ease, visibility @time @ease;
  -ms-transition: -ms-transform @time @ease, opacity @time @ease, visibility @time @ease;
  transition: transform @time @ease, opacity @time @ease, visibility @time @ease;
}

.icon-bg(@image, @xsize:100%, @ysize:100%, @xpos:0, @ypos:50%){
	background-image: url(@image);
	background-size: @xsize @ysize;
	background-repeat: no-repeat;
	background-position: @xpos @ypos;
}
