.topbar-wrapper {
  .logo {
    display: none;
    visibility: hidden;
  }
  .col-xs-6.topbar-right {
    width: 100%;
    text-align: left;
  }
}
.alt-entry-forms-wrapper,footer {
  display: none;
  visibility: hidden;
}
.step2 {
  top:50px;
}