body {
  background: #efeff4;
}
p.row-label {
  font-size: 12px;
  border: 1px solid rgba(49, 68, 81, 0.26);
  padding: 0px 10px;
  display: inline-block;
  border-radius: 3px;
  background: rgba(239, 239, 244, 0.38);
  text-transform: uppercase;
  letter-spacing: 2px;
}
p.row-value.strong {
  color: #ff6011;
  font-weight: bold;
}
.page-header-wrapper p {
  margin-top: 0px;
}
.policy-summary-table {
  background: #fff;
  border-radius: 3px;
  margin-top: -60px;
  margin-bottom: 100px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.policy-summary-table h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 19px;
  background: #43d798;
  color: #fff;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.policy-summary-table .pst-row {
  padding: 20px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.policy-summary-table .pst-row .company-logo {
  max-width: 140px;
  max-height: 70px;
}
.uppercase{
  text-transform: uppercase;
}