@import "../../css/base_theme";

/* FEAR landing page css */
#topbar {
  border-bottom:2px solid @baseThemeColor;
  background-color: #ffffff;
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  z-index: 200;
}
.hero-wrapper {
  background: url('../img/noisy.jpg') repeat 0 0 @bannerbg;
  padding-bottom:0px;
  padding-top:90px;
  & .heading-block {
    & h1 {
      color: #ffffff;
      font-size: 40px;
      line-height: 1.2em;
      min-height: 170px;
      font-weight: 700;
      margin-top:50px;
    }
    & .banner-image {
      background-color: #ffffff;
      display: block;
      max-width: 600px;
      margin:auto;
      width:100%;
      padding:10px 10px 20px;
      .boxShadow(5px 10px 20px rgba(0,0,0,0.2));
      z-index:10;
      position: relative;
      & img {
        display: block;
        width:100%;
      }
    }
  }
  & .heading-block-2 {
    background: url('../img/noisy_grid.png') repeat 0 0 #f4f5f6;
    padding:60px 0px 0px;
    margin-top:-20px;
    & .cutout-image {
      width:400px;
      position: relative;
      height:200px;
      padding:35px 20px 20px 50px;
      & img {
        width:100%;
        display: block;
        position: absolute;
        left:0px;
        top:0px;
        opacity: 0.8;
        z-index: 1;
      }
      & div {
        position: relative;
        z-index: 2;
        font-size: 16px;
      }
      & .highlight {
        font-size:32px;
        display: inline-block;
        margin-left:100px;
        margin-right:5px;
        color: @bannerbg;
        font-weight: 400;
      }
    }
    & .info-table {
      border:1px solid #363636;
      .highlight-point {
        color: @baseThemeColor;
        font-weight: 700;
        padding-top:0px;
        font-size:18px;
      }
      & h3 {
        margin: 0px;
        padding:10px 15px;
        color: @bannerbg;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid #363636;
        text-align: center;
        text-transform: uppercase;
      }
      & ul {
        list-style-type: none;
        margin: 0px 5px;
        padding: 0px;
        text-align: center;
        & li {
          height: 35px;
          width:35%;
          display: block;
          float:left;
          padding:5px 7px;
          &.title {
            width:30%;
            font-weight: bold;
            text-align: left;
          }
          & .highlight {
            color: @bannerbg;
          }
        }
      }
    }
  }
  .banner_btn {
    min-height: 70px;
    font-size: 24px;
    line-height: 1.2em;
    display: block;
  }
}

.high-risk {
  background-color: #314451;
  padding-bottom:70px;
  h1 {
    color: #ffffff;
  }
  p.leader {
    color:#ffffff;
    font-size: 20px;
    text-align: center;
    margin-bottom:0px;
    line-height: 1.4em;
  }
  & img {
    margin-top:-5px;
    width: 100px;
    display: inline-block;
  }
 .blue-strip {
   margin:20px 0px 40px;
   padding: 15px;
   background-color: @bannerbg;
   color: #ffffff;
   font-size:26px;
   text-align: center;
   line-height: 1.2em;
   & .dark-color {
    color:#314451;
   }
 }
 .illustration {
   text-align: center;
   color: #ffffff;
   img {
     width:130px;
     display: inline-block;
   }
   .small-badge {
     padding:3px 10px;
     background-color: @baseThemeColor;
     display: block;
     width:130px;
     margin: 0px auto 10px;
   }
   p {
     padding:0px 15px;
   }
 }
  .high_risk_btn {
    position: relative;
    top:20px;
  }
}
.stats {
  & img {
    width: 35%;
    float: left;
    &.image-padding {
      padding:15px;
    }
  }
  & p {
    float: left;
    width: 65%;
    font-size: 16px;
    padding-top: 30px;
    &.padding-less {
      padding-top:20px;
    }
  }
  .illustration {
    max-width:960px;
    margin: 20px auto 0px;
  }
}

.testimonial_action_btn, .three_steps_btn, .high_risk_btn {
  max-width: 500px;
  display: block;
  min-height: 70px;
  margin: auto auto 0px;
}

/* Mobile optimization css */
@media screen and (min-width: 991px) and (max-width: 1199px) {
  .hero-wrapper {
    & .heading-block {
      & h1 {
        margin-top: 10px;
      }
    }
  }
}
@media screen and (min-width: 200px) and (max-width: 991px) {
  .stats {
    & .illustration {
      text-align: center;
      & p {
        width: 100%;
        padding-top: 0px;
        float: none;
        margin-top: -10px;
      }
      & img {
        width: 110px;
        float: none;
        margin: auto;
        display: block;
        &.image-padding {
          padding: 10px;
        }
      }
    }
  }
  .hero-wrapper {
    & .heading-block-2 {
      padding-bottom:30px;
      .cutout-image {
        width: 290px;
        height: 150px;
        padding: 26px 20px 20px 20px;
        & div {
          font-size:14px;
          & .highlight {
            font-size:26px;
            margin-left:80px;
          }
        }
      }
      & .info-table ul {
        font-size: 14px;
      }
      & .info-table ul li.title {
        padding: 5px 0px;
      }
    }
    & .banner_btn {
      font-size: 20px;
    }
    & .heading-block {
      & h1 {
        font-size: 36px;
        line-height: 1.2em;
        min-height: 100px;
        margin-top: 0px;
      }
    }
  }

}

@media only screen and (min-width : 200px) and (max-width : 767px) {
 .hero-wrapper {
   padding-top:60px;
   .banner_btn {
     font-size: 18px;
   }
   .heading-block {
     padding-bottom:30px;
     & h1 {
      margin-top: 20px;
     }
     .btn-cfox {
       max-width: 450px;
       margin-top:15px;
     }
   }
   .heading-block-2 {
     margin-top: 0px;
     padding-top:30px;
     padding-bottom: 30px;
   }
 }
  .high-risk {
    .blue-strip {
      font-size:20px;
      line-height: 1.4em;
    }
    p.leader {
      font-size:18px;
    }
    .high_risk_btn {
      font-size: 18px;
    }
    & .illustration p {
      padding: 0px 20px;
      font-size: 16px;
      margin-bottom: 30px;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .stats .illustration p {
    position: relative;
    font-size: 16px;
    &:after {
      content:'';
      display: block;
      position: absolute;
      border-bottom:1px solid #eaeaea;
      bottom:-10px;
      left:0px;
      right:0px;
    }
    &.last-child:after {
      display: none;
    }
  }

  .btn-cfox {
    font-size:18px;
  }
}

@media only screen and (min-width : 200px) and (max-width : 519px) {
  .hero-wrapper .heading-block-2 .info-table {
    & .highlight-point {
      padding-top: 5px;
      font-size: 14px;
    }
    & ul li {
      height: auto;
    }
  }
}
/* FEAR landing page css ends */



