/* Color scheme definitions */
/* Color scheme definitions end */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* FEAR landing page css */
#topbar {
  border-bottom: 2px solid #ff6127;
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 200;
}
.hero-wrapper {
  background: url('../img/noisy.jpg') repeat 0 0 #24afff;
  padding-bottom: 0px;
  padding-top: 90px;
}
.hero-wrapper .heading-block h1 {
  color: #ffffff;
  font-size: 40px;
  line-height: 1.2em;
  min-height: 170px;
  font-weight: 700;
  margin-top: 50px;
}
.hero-wrapper .heading-block .banner-image {
  background-color: #ffffff;
  display: block;
  max-width: 600px;
  margin: auto;
  width: 100%;
  padding: 10px 10px 20px;
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: relative;
}
.hero-wrapper .heading-block .banner-image img {
  display: block;
  width: 100%;
}
.hero-wrapper .heading-block-2 {
  background: url('../img/noisy_grid.png') repeat 0 0 #f4f5f6;
  padding: 60px 0px 0px;
  margin-top: -20px;
}
.hero-wrapper .heading-block-2 .cutout-image {
  width: 400px;
  position: relative;
  height: 200px;
  padding: 35px 20px 20px 50px;
}
.hero-wrapper .heading-block-2 .cutout-image img {
  width: 100%;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0.8;
  z-index: 1;
}
.hero-wrapper .heading-block-2 .cutout-image div {
  position: relative;
  z-index: 2;
  font-size: 16px;
}
.hero-wrapper .heading-block-2 .cutout-image .highlight {
  font-size: 32px;
  display: inline-block;
  margin-left: 100px;
  margin-right: 5px;
  color: #24afff;
  font-weight: 400;
}
.hero-wrapper .heading-block-2 .info-table {
  border: 1px solid #363636;
}
.hero-wrapper .heading-block-2 .info-table .highlight-point {
  color: #ff6127;
  font-weight: 700;
  padding-top: 0px;
  font-size: 18px;
}
.hero-wrapper .heading-block-2 .info-table h3 {
  margin: 0px;
  padding: 10px 15px;
  color: #24afff;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #363636;
  text-align: center;
  text-transform: uppercase;
}
.hero-wrapper .heading-block-2 .info-table ul {
  list-style-type: none;
  margin: 0px 5px;
  padding: 0px;
  text-align: center;
}
.hero-wrapper .heading-block-2 .info-table ul li {
  height: 35px;
  width: 35%;
  display: block;
  float: left;
  padding: 5px 7px;
}
.hero-wrapper .heading-block-2 .info-table ul li.title {
  width: 30%;
  font-weight: bold;
  text-align: left;
}
.hero-wrapper .heading-block-2 .info-table ul li .highlight {
  color: #24afff;
}
.hero-wrapper .banner_btn {
  min-height: 70px;
  font-size: 24px;
  line-height: 1.2em;
  display: block;
}
.high-risk {
  background-color: #314451;
  padding-bottom: 70px;
}
.high-risk h1 {
  color: #ffffff;
}
.high-risk p.leader {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0px;
  line-height: 1.4em;
}
.high-risk img {
  margin-top: -5px;
  width: 100px;
  display: inline-block;
}
.high-risk .blue-strip {
  margin: 20px 0px 40px;
  padding: 15px;
  background-color: #24afff;
  color: #ffffff;
  font-size: 26px;
  text-align: center;
  line-height: 1.2em;
}
.high-risk .blue-strip .dark-color {
  color: #314451;
}
.high-risk .illustration {
  text-align: center;
  color: #ffffff;
}
.high-risk .illustration img {
  width: 130px;
  display: inline-block;
}
.high-risk .illustration .small-badge {
  padding: 3px 10px;
  background-color: #ff6127;
  display: block;
  width: 130px;
  margin: 0px auto 10px;
}
.high-risk .illustration p {
  padding: 0px 15px;
}
.high-risk .high_risk_btn {
  position: relative;
  top: 20px;
}
.stats img {
  width: 35%;
  float: left;
}
.stats img.image-padding {
  padding: 15px;
}
.stats p {
  float: left;
  width: 65%;
  font-size: 16px;
  padding-top: 30px;
}
.stats p.padding-less {
  padding-top: 20px;
}
.stats .illustration {
  max-width: 960px;
  margin: 20px auto 0px;
}
.testimonial_action_btn,
.three_steps_btn,
.high_risk_btn {
  max-width: 500px;
  display: block;
  min-height: 70px;
  margin: auto auto 0px;
}
/* Mobile optimization css */
@media screen and (min-width: 991px) and (max-width: 1199px) {
  .hero-wrapper .heading-block h1 {
    margin-top: 10px;
  }
}
@media screen and (min-width: 200px) and (max-width: 991px) {
  .stats .illustration {
    text-align: center;
  }
  .stats .illustration p {
    width: 100%;
    padding-top: 0px;
    float: none;
    margin-top: -10px;
  }
  .stats .illustration img {
    width: 110px;
    float: none;
    margin: auto;
    display: block;
  }
  .stats .illustration img.image-padding {
    padding: 10px;
  }
  .hero-wrapper .heading-block-2 {
    padding-bottom: 30px;
  }
  .hero-wrapper .heading-block-2 .cutout-image {
    width: 290px;
    height: 150px;
    padding: 26px 20px 20px 20px;
  }
  .hero-wrapper .heading-block-2 .cutout-image div {
    font-size: 14px;
  }
  .hero-wrapper .heading-block-2 .cutout-image div .highlight {
    font-size: 26px;
    margin-left: 80px;
  }
  .hero-wrapper .heading-block-2 .info-table ul {
    font-size: 14px;
  }
  .hero-wrapper .heading-block-2 .info-table ul li.title {
    padding: 5px 0px;
  }
  .hero-wrapper .banner_btn {
    font-size: 20px;
  }
  .hero-wrapper .heading-block h1 {
    font-size: 36px;
    line-height: 1.2em;
    min-height: 100px;
    margin-top: 0px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .hero-wrapper {
    padding-top: 60px;
  }
  .hero-wrapper .banner_btn {
    font-size: 18px;
  }
  .hero-wrapper .heading-block {
    padding-bottom: 30px;
  }
  .hero-wrapper .heading-block h1 {
    margin-top: 20px;
  }
  .hero-wrapper .heading-block .btn-cfox {
    max-width: 450px;
    margin-top: 15px;
  }
  .hero-wrapper .heading-block-2 {
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .high-risk .blue-strip {
    font-size: 20px;
    line-height: 1.4em;
  }
  .high-risk p.leader {
    font-size: 18px;
  }
  .high-risk .high_risk_btn {
    font-size: 18px;
  }
  .high-risk .illustration p {
    padding: 0px 20px;
    font-size: 16px;
    margin-bottom: 30px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .stats .illustration p {
    position: relative;
    font-size: 16px;
  }
  .stats .illustration p:after {
    content: '';
    display: block;
    position: absolute;
    border-bottom: 1px solid #eaeaea;
    bottom: -10px;
    left: 0px;
    right: 0px;
  }
  .stats .illustration p.last-child:after {
    display: none;
  }
  .btn-cfox {
    font-size: 18px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 519px) {
  .hero-wrapper .heading-block-2 .info-table .highlight-point {
    padding-top: 5px;
    font-size: 14px;
  }
  .hero-wrapper .heading-block-2 .info-table ul li {
    height: auto;
  }
}
/* FEAR landing page css ends */
