/* Color scheme definitions */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* Overridden css for base_style.css */
.hero-wrapper #topbar {
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  z-index: 200;
}
.companies-wrapper {
  -webkit-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
}
.terms-msg {
  margin: 10px 0;
  font-size: 10px;
}
/* car banner css */
.white-bg {
  background: #fff;
  height: 72px;
}
.white-bg .dep {
  font-size: 55px;
  font-weight: 600;
  letter-spacing: 12px;
  color: #ff6127;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.white-bg .dep img {
  position: absolute;
  width: 100%;
  right: 6%;
  bottom: 93%;
  max-width: 530px;
  z-index: 9999;
  margin: 10px 0 0 0;
}
.white-bg .toll-free-box {
  color: #ff6127;
  margin: 17px 0 0 0;
  font-size: 20px;
  font-weight: 400;
}
.white-bg .toll-free-box h3 {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 26px;
  font-weight: 600;
  color: #ff6127;
  display: inline-block;
}
.car-banner {
  padding: 0;
  background-color: #fa6417;
  position: relative;
  z-index: 9999;
}
.car-banner .mrt-img {
  text-align: right;
}
.car-banner .mrt-img img {
  max-width: 531px;
  display: inline-block;
  width: 100%;
  margin: 20px 0 0 0;
}
.car-banner .mrt-img h1 {
  font-size: 70px;
  background-color: #ff6127;
  color: #fff;
  margin: 0;
  text-align: left;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.car-banner .mrt-img h1 div {
  font-size: 30px;
  font-weight: 600;
}
.car-banner .club-form {
  color: #fff;
  padding: 0;
}
.car-banner .club-form h1 {
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 600;
  padding: 15px 15px 0;
  margin: 0;
  text-transform: uppercase;
}
.car-banner .club-form h2 {
  margin: 0 15px 19px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
}
.car-banner .club-form .heading-banner {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  text-align: left;
}
.car-banner .club-form .heading-banner ul {
  margin: 20px 0 40px;
  padding: 0;
}
.car-banner .club-form .heading-banner ul li {
  list-style-type: none;
  color: #363636;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: left;
  padding-left: 30px;
  position: relative;
  display: block;
}
.car-banner .club-form .heading-banner ul li img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #666666;
  padding: 3px;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0px;
}
.car-banner .club-form .form-box-mini {
  background-color: rgba(0, 0, 0, 0);
  max-width: 390px;
}
.companies-wrapper {
  background-color: #f9f9f9;
}
.benefits {
  padding: 20px 0px 40px;
}
.benefits span {
  color: #ff6127;
}
.benefits h1 {
  font-size: 35px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
}
.benefits h1 .logo {
  max-width: 150px;
  margin-top: -5px;
  display: inline-block;
}
.benefits h3 {
  color: #666;
  margin-top: 0px;
  font-size: 18px;
  line-height: 1.4em;
}
.benefits ul {
  margin: 30px 0 20px;
  padding: 0px;
  position: relative;
  max-width: 750px;
}
.benefits ul li {
  list-style-type: none;
  color: #363636;
  margin-bottom: 15px;
  font-size: 16px;
  text-align: left;
  padding-left: 30px;
  position: relative;
  display: block;
  float: left;
  width: 50%;
}
.benefits ul li img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #666666;
  padding: 3px;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0px;
}
.services {
  background-color: #27343e;
  color: rgba(255, 255, 255, 0.9);
}
.services h1,
.services h4 {
  color: #ffffff;
}
.services .corner-border {
  border-width: 0px 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
}
.services .proposition {
  margin: 20px 0px;
  position: relative;
  padding-left: 115px;
}
.services .proposition img {
  max-width: 100px;
  position: absolute;
  display: inline-block;
  margin-bottom: 10px;
  top: 0px;
  left: 0px;
}
.zero-dep {
  background-color: #27343e;
  color: rgba(255, 255, 255, 0.9);
  padding: 30px 0;
}
.zero-dep .ifarme-video {
  position: relative;
  text-align: center;
}
.zero-dep .ifarme-video iframe {
  width: 451px;
  height: 255px;
}
.zero-dep h2 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 15px;
}
.zero-dep p {
  font-size: 15px;
  line-height: 1.6em;
  margin: 0 0 15px;
}
/* Mobile optimisation for banner elements */
@media only screen and (min-width: 1600px) {
  .car-banner {
    margin: auto;
    max-width: 1600px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .zero-dep .ifarme-video iframe {
    width: 300px;
    height: 170px;
  }
  .white-bg .dep {
    font-size: 45px;
  }
  .white-bg .dep img {
    right: 2%;
    width: 94%;
    min-height: 274px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 990px) {
  .white-bg .dep {
    font-size: 25px;
  }
  .white-bg .toll-free-box {
    font-size: 15px;
  }
  .white-bg .toll-free-box h3 {
    font-size: 19px;
  }
  .car-banner:after {
    background: none;
  }
  .car-banner .club-form {
    padding-left: 20px;
  }
  .services .proposition {
    text-align: center;
    padding-left: 0px;
  }
  .services .proposition img {
    position: relative;
  }
  .toll-free-box {
    position: relative;
    padding: 3px 10px 0px;
    max-width: 100%;
    background: none;
    border: none;
    color: #fff;
    margin-top: 0;
    text-align: left;
    font-size: 16px;
  }
  .toll-free-box h3 {
    margin: 0;
    color: #fff;
  }
  .white-bg .toll-free-box {
    margin: 0;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .white-bg .toll-free-box {
    text-align: center;
    margin: 3px 0 0 0;
  }
  .zero-dep .ifarme-video iframe {
    margin-top: 30px;
  }
  .car-banner .mrt-img img {
    margin: 0;
  }
  .hero-wrapper {
    background-color: #f7f7f7;
  }
  .mobile-dep {
    color: #fff;
    margin: 0 20px;
    font-size: 90px;
  }
  .mobile-dep div {
    color: #fff;
    font-size: 35px;
  }
  .car-banner {
    padding: 0;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.19);
  }
  .car-banner .club-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .car-banner .club-form h1 {
    margin-top: 20px;
  }
  .car-banner .club-form .form-box-mini {
    background-color: transparent;
    border: 0 solid transparent;
    max-width: 450px;
  }
  .car-banner .club-form .heading-banner {
    padding: 0 20px;
    margin-bottom: -20px;
  }
  .car-banner .club-form .heading-banner > img {
    display: none;
  }
  .car-banner .club-form .heading-banner ul {
    text-align: left;
  }
  .car-banner .club-form .heading-banner ul li {
    font-size: 16px;
    width: auto;
    margin-right: 10px;
  }
  .services .corner-border {
    border: none;
  }
  .services .proposition {
    text-align: center;
    max-width: 450px;
    margin: 30px auto;
  }
  .benefits ul li {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 519px) {
  .zero-dep .ifarme-video iframe {
    margin-top: 30px;
    width: 280px;
    height: 159px;
  }
}
/* form box mini css*/
.form-box-mini {
  padding: 0 15px;
}
.form-box-mini label {
  margin-bottom: 5px;
  display: block;
  font-weight: 400;
}
.form-box-mini .btn-cfox.btn-next {
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 5px;
  max-width: 245px;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 2px solid #fff;
}
.form-box-mini .btn-cfox.btn-next:hover,
.form-box-mini .btn-cfox.btn-next:active {
  background: #fff;
  color: #ff6127;
}
.form-box-mini ul {
  padding: 0;
  margin: 0px 0 25px 0;
}
.form-box-mini ul li {
  background-image: none;
  cursor: pointer;
  list-style-type: none;
  padding-left: 30px;
  margin-bottom: 10px;
  margin-top: 5px;
  position: relative;
  padding-top: 0;
  font-size: 14px;
}
.form-box-mini ul li .checkbox {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 14px;
  height: 14px;
  margin: 0px;
  border: 1px solid #fff;
  background: #ff6127;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.form-box-mini ul li .checkbox:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: none;
  background-color: #fff;
}
.form-box-mini ul li.active {
  font-weight: 700;
}
.form-box-mini ul li.active .checkbox:before {
  display: block;
}
.form-box-mini .error {
  background-color: rgba(234, 227, 229, 0.82);
  color: rgba(0, 0, 0, 0.58);
  padding: 5px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-box-mini .cfinput {
  border: none;
  padding: 7px 5px;
  background-color: #fff;
  margin: 13px 0;
  max-width: 245px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-style: italic;
}
.form-box-mini .cfinput.has-error {
  border-color: #8b0000;
  background-color: #FFE2EB;
}
.form-box-mini .cfinput.addon-field {
  padding-left: 40px;
  position: relative;
}
.form-box-mini .cfinput .addon {
  color: #ccc;
  position: absolute;
  top: 7px;
  left: 8px;
}
.form-box-mini .cfinput input {
  border: 0;
  color: #333;
  font-size: 12px;
  display: block;
  width: 100%;
  background-color: transparent;
}
.form-box-mini .cfinput input:hover,
.form-box-mini .cfinput input:focus,
.form-box-mini .cfinput input:active {
  outline: none;
}
