#mobi-wrapper .container-fluid {
	max-width:767px;
}
.btn-default:active, .btn-default.active {
    background-image: none;
}
.btn-default:hover, .btn-default:focus, .btn-default:active {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}
.pnone {
    padding:0px;
}
.mnone {
    margin:0px;
}
.mpoint {
    cursor:pointer;
}
.bnone {
    border:none !important;
}
.cubic-trans {
    -webkit-transition: all 0.3s cubic-bezier(.21, .20, .23, 1);
    -moz-transition: all 0.3s cubic-bezier(.21, .20, .23, 1);
    -o-transition: all 0.3s cubic-bezier(.21, .20, .23, 1);
    -ms-transition: all 0.3s cubic-bezier(.21, .20, .23, 1);
    transition: all 0.3s cubic-bezier(.21, .20, .23, 1);
}
/*.tab-trans {
    -webkit-transition: opacity 0.6s cubic-bezier(.21, .20, .23, 1);
    -moz-transition: opacity 0.6s cubic-bezier(.21, .20, .23, 1);
    -o-transition: opacity 0.6s cubic-bezier(.21, .20, .23, 1);
    -ms-transition: opacity 0.6s cubic-bezier(.21, .20, .23, 1);
    transition: opacity 0.6s cubic-bezier(.21, .20, .23, 1);
}*/
.error {
    background-color: #FFE6E6;
    color: #F78460;
    font-size: 12px;
    margin: 5px 0px;
    padding: 5px 15px;
    text-align: center;
}
.form-margin {
	height: 50px;
}
.cf-btn{
    -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
}
.filter2 {
    background-color: transparent;
    border:none;
    border-left:1px solid #dadada;
    border-radius:0px;
    color: #666666;
    font-size: 12px;
    height: 40px;
    margin-top: 2px;
    padding-top: 5px;
    text-transform: uppercase;
    display: block;
    line-height: 18px;
}
.filter2 .filter-context {
    font-size: 9px;
    font-style: italic;
    font-weight: 300;
    margin-top: -3px;
    text-transform: none;
}
.filter-title-link {
    font-size: 14px;
    padding: 10px 10px 5px 10px;
    position: relative;
    text-align: left;
}
.filter-title-link span {
    white-space: nowrap; 
    width: 90%; 
    display:inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#666666;
}
.filter-title-link img {
	display:inline-block;
	top:14px;
    right:10px;
    position:absolute;
}
.btn-invert { 
    color: #ffffff; 
    background-color: #8D8D8D; 
    border-color: #7D7D7D; 
} 

.btn-invert:hover, 
.btn-invert:focus, 
.btn-invert:active, 
.btn-invert.active, 
.open .dropdown-toggle.btn-invert { 
    color: #ffffff; 
} 

.btn-invert:active, 
.btn-invert.active, 
.open .dropdown-toggle.btn-invert { 
    background-image: none; 
} 
/***** NAVBAR COMPONENTS STYLING ******/
.navbar.cf-navbar {
    height:40px;
    min-height: 40px;
    background-color:#f78460;
    border-bottom:2px solid rgba(0,0,0,0.15);
}
.cf-navbar-brand {
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 20px;
    padding: 9px 0px 8px;
}
.cf-navbar .cf-navbar-brand img {
    width: 80px;
}
.tooltip-head {
    font-size:12px;
    padding:0px 0px 10px;
    text-align:center;
    position:relative;
    color:#999999;
}
.help-text {
    margin:15px auto 30px;
    font-size:12px;
    color:#999999;
    max-width:400px;
}
.head {
    color: #F78460;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1em;
    margin: 20px 0 10px;
    padding: 0px;
    text-align: center;
    font-weight: normal;
}
.continue-item {
    margin: auto;
    max-width: 400px;
    padding: 30px 0px 0;
}
.btn-continue {
    margin:30px auto 0px;
    max-width:400px;
}
.radio-list {
    border: 1px solid #DADADA;
    border-radius: 3px;
    margin: 0 auto;
    max-width: 400px;
    overflow: hidden;
}
.radio-list.has-error {
    border-color:#A94442;
}
.radio-list > a {
    display:block;
    border-bottom:1px solid #f0f0f0;
    color:#999999;
    font-size: 12px;
    line-height: 1.1em;
    margin: 0;
    outline: medium none;
    padding: 15px 10px 15px 45px;
    text-decoration: none;
    position:relative;
}
.radio-list > a:last-child {
    border-bottom:none;
}
.radio-list .radio-btn {
    content:'';
    display:block;
    width:26px;
    height:26px;
    border:2px solid #bababa;
    position:absolute;
    top:10px;
    left:9px;
    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}
.radio-list > a.active .radio-btn:before {
    content:'';
    display:block;
    width:16px;
    height:16px;
    background-color:#4fc8b0;
    position:absolute;
    top:3px;
    left:3px;
    border-radius:30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}
.radio-list > a.active {
    color:#393939;
	background-color:#F0F8FF;
}
.width-lock {
    max-width:560px;
    margin:auto;
    position:relative;
}

/*  overlay styling begins */
.mobi-overlay {
    height:100%;
    opacity:0;
    position:fixed;
    width:100%;
    overflow:hidden;
    top:0px;
    bottom:0px;
    left:0;
    background-color:#f0f0f0;
    z-index:-1;
    -webkit-transform: scale(0.6);
    -o-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
}
.mobi-overlay.active {
    overflow-y:auto;
    opacity: 1;
    z-index:2000;
    -webkit-transform: none;
    -o-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
}
.mobi-overlay .overlay-intro {
    background-color: #F8F8F8;
    border-bottom: 1px solid #DADADA;
    font-size: 12px;
}
.max-width {
    max-width: 767px;
    margin:auto;
    position: relative;
}
.overlay-intro .max-width {
    padding:10px;
}
.overlay-intro img.mono-logo {
    display:inline-block;
    width:23px;
    position:absolute;
    left:10px;
    top:10px;
}
.mobi-overlay .overlay-intro h3 {
    border-bottom: 0 none;
    color: #363636;
    font-size: 18px;
    margin: 0;
    padding: 2px 0 0;
    text-align: center;
    text-transform: none;
}
.close-overlay {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    z-index: 10;
}
.mobi-overlay h3 {
    border-bottom: 1px solid #DADADA;
    color: #F58365;
    font-size: 14px;
    padding-bottom: 5px;
    position: relative;
    text-transform: uppercase;
}
.mobi-overlay select.input-lg {
    height: 46px;
    line-height: 46px;
}
.mobi-overlay .form-field {
    max-width: 400px;
    margin: auto;
    position: relative;
}
.form-field .loading-premium {
    visibility:hidden;
    position: absolute;
    text-align: left;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    color: #999;
    padding: 12px 10px 10px;
    border: 1px solid #66afe9;
    opacity: 0;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-field.active .loading-premium {
    visibility: visible;
    opacity:1;
}
.form-field.active select.form-control{
    pointer-events:none;
}
.premiumLoaderFilm {
    display: none;   
}
.premiumLoaderFilm.active {
    background-color: transparent;
    display: block;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:4000;
}
.overlay-content {
    padding: 0 15px;
    position: relative;
    width: 100%;
    z-index: 1;
}
.overlay-tab {
    background-color:rgba(0,0,0,0.9);
    padding:10px 15px;
    height:60px;
    margin:0px;
    position:fixed;
    bottom:0px;
    width:100%;
    z-index:2;
    left:0;
}
.overlay-tab a.links {
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    width: 50%;
    border-radius: 3px;
}
.overlay-tab a.links:hover,
.overlay-tab a.links:active {
    outline:none;
    text-decoration:none;
}
.overlay-tab a.links.bg-link {
    background-color:#f58365;
}
.overlay-tab a.links.bg-link:hover {
    background-color:#f56649;
}
#rp-filter-content ul{
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}
.rp-sidebar-filter-section{
    padding: 10px;
    text-align:center;
    margin-bottom:15px;
}
.rp-sidebar-filter-section .form-control {
    border-radius:2px;
}
#rp-filter-content ul li {
    color: #666666;
    font-size: 12px;
    letter-spacing: 0;
    margin-bottom: 10px;
}
.rp-sidebar-filter-section h4 {
    color: #666666;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#rp-filter-content ul li span {
    text-transform: none;
}
.rp-sidebar-filter-section h4 span {
    color: #AAAAAA;
    text-transform: none;
}
#rp-cover-filter ul{
    margin-top: 5px;
    margin-bottom: 0px;
    text-align:center;
}
#rp-cover-filter ul li {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    width: 70px;
    padding: 10px 0;
    margin-bottom: 0;
    cursor: pointer;
    color:#aaaaaa;
}
#rp-cover-filter ul li.selected{
    background: rgb(72, 175, 117);
    color:#fff;
}
.rp-sidebar-filter-section h4{
    text-align: center;
    margin-top: 0;
}
.filter-section{
    position: relative;
    padding:1px 0px 0px;
}
.filter-section:after{
    position: absolute;
    width:100px;
    border-bottom:1px solid #dadada;
    bottom:-10px;
    left:0;
    content: '';
}
.filter-tab-box {
    background-color: #363636;
    color: #FEFEFE;
    padding: 5px 10px;
    text-align: center;
}
.filter-section h3{
    color:#666666;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
}
.filter-section p.small-desc{
    color:#a6a6a6;
    font-size: 11px;
}
.filter-section-content h4{
    color:#fff;
    font-size: 14px;
}
.filter-section-content ul{
    padding: 0;
    margin-top:20px;
    border:1px solid rgb(158, 167, 182);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.filter-section-content ul li{
    color:#fff;
    color:rgba(158, 167, 182, 0.5);
    display: block!important;
    cursor:pointer;
}
.filter-section-content ul li.active{
    color:#fff;
    color:rgb(158, 167, 182);
}
.filter-section-content ul li.active span.glyphicon-ok{
    color: rgb(72, 175, 117);
}
.filter-section-content ul.options{
    border:0;
    margin-top: 10px;
}
.filter-section-content ul.options li{
    color:rgb(158, 167, 182);
    position: relative;
    padding:0px!important;
}
.filter-section-content ul.options li label {
    display:block;
}
.filter-section-content ul.options li input[type="radio"],
.filter-section-content ul.options li input[type="checkbox"] {
    opacity:0;
    position:absolute;
    top:0;
    left:0;
}
.filter-section-content ul.options li span.glyphicon-ok{
    padding:8px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border:1px solid rgba(158, 167, 182, 0.5);
    margin-right:10px;
    color:rgba(158, 167, 182, 0.5);
    font-size: 12px;
}
.filter-section-content ul.options li.active span.glyphicon-ok{
    background: rgb(72, 175, 117);
    color:#fff;
    border:1px solid rgb(72, 175, 117);
}
.sent-message {
    padding: 20px;
    border: 2px dotted #dadada;
    color: #666;
    text-align: center;
    font-size: 16px;
    margin: 15px;
}
.email-input > h4 {
    color: #999999;
    font-size: 14px;
    line-height: 1.4em;
    margin: 20px 15px 0px;
    text-align:center;
}
.email-input .round-pit {
    display:inline-block;
    text-transform: uppercase;
    background-color:#aaa;
    color:#ffffff;
    width:30px;
    height:30px;
    border-radius:30px;
    -moz-border-radius:30px;
    -o-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    padding-top:5px;
    margin-bottom:15px;
}
/*  overlay styling ends */


/***** FOOTER COMPONENTS STYLING ******/
.call-box {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    margin: 10px 0px;
    padding: 5px;
}
.call-box .action {
    background-color: #4FC8B0;
    text-transform: uppercase;
    font-size:12px;
    border-radius: 3px;
    display: block;
    height: 35px;
    padding: 7px 10px;
}
.call-box .action > img {
    width: 16px;
}
.cf-footer .number-bar {
    color:#999999;
    font-size:13px;
}
.cf-footer {
    background-color: #e9e9e9;
    color: #8d8d8d;
    font-size: 12px;
    margin:0px;
    padding: 0px 0px 60px;
}
.cf-social {
    margin:0;
    padding:0;
    display:inline-block;
}
.cf-social li {
    float: left;
    list-style-type: none;
    margin-right: 5px;
}
.cf-social li a {
    color: #999999;
    outline: medium none;
    padding: 5px 10px 5px 0px;
}
.cf-social li a img {
    width:20px;
}
/***** FOOTER COMPONENTS STYLING END ******/
.sm-font {
    color: #8d8d8d;
    font-size: 9px;
    text-transform: uppercase;
    padding:0;
}
.loading-screen {
    background-color: #FFFFFF;
    color: #B5B5B5;
    height: 100%;
    left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 100px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1035;
}
.loading-screen img {
    display: inline-block;
    width:50px;
    height:50px;
}
#mobi-wrapper.loading {
    height:0px;
    overflow:hidden;
}
#plans-buy h2 a {
    max-width: 400px;
    margin: auto;
}
#plans-buy .email-input {
    max-width: 430px;
    margin: auto;
}

/* new cf buttons */
.cf-btn-orange {
    color:#ffffff;
    border:1px solid #f45b2b;  
    background-color: #F78460;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F78460), to(#f67350));
    background-image: -webkit-linear-gradient(top, #F78460, #f67350);
    background-image: -moz-linear-gradient(top, #F78460, #f67350);
    background-image: -ms-linear-gradient(top, #F78460, #f67350);
    background-image: -o-linear-gradient(top, #F78460, #f67350);
    background-image: linear-gradient(to bottom, #F78460, #f67350);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F78460, endColorstr=#f67350);
}

.cf-btn-orange:active {
   border:1px solid #e53f0c;
   background-color: #f55e2f; 
   background-image: -webkit-gradient(linear, left top, left bottom, from(#f55e2f), to(#f44c1f));
   background-image: -webkit-linear-gradient(top, #f55e2f, #f44c1f);
   background-image: -moz-linear-gradient(top, #f55e2f, #f44c1f);
   background-image: -ms-linear-gradient(top, #f55e2f, #f44c1f);
   background-image: -o-linear-gradient(top, #f55e2f, #f44c1f);
   background-image: linear-gradient(to bottom, #f55e2f, #f44c1f);
   filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f55e2f, endColorstr=#f44c1f);
}
.cf-btn-green {
    color:#ffffff;
    border:1px solid #35aa93;
    background-color: #4FC8B0; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4FC8B0), to(#4EB7A0));
    background-image: -webkit-linear-gradient(top, #4FC8B0, #4EB7A0);
    background-image: -moz-linear-gradient(top, #4FC8B0, #4EB7A0);
    background-image: -ms-linear-gradient(top, #4FC8B0, #4EB7A0);
    background-image: -o-linear-gradient(top, #4FC8B0, #4EB7A0);
    background-image: linear-gradient(to bottom, #4FC8B0, #4EB7A0);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4FC8B0, endColorstr=#4EB7A0);
}

.cf-btn-green:active {
   color:#ffffff;
   border:1px solid #2a8774;
   background-color: #36ae96; 
   background-image: -webkit-gradient(linear, left top, left bottom, from(#36ae96), to(#3d9582));
   background-image: -webkit-linear-gradient(top, #36ae96, #3d9582);
   background-image: -moz-linear-gradient(top, #36ae96, #3d9582);
   background-image: -ms-linear-gradient(top, #36ae96, #3d9582);
   background-image: -o-linear-gradient(top, #36ae96, #3d9582);
   background-image: linear-gradient(to bottom, #36ae96, #3d9582);
   filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36ae96, endColorstr=#3d9582);
}

.cf-btn-default {
    border:1px solid #d7dada;
    background-color: #f4f5f5; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#F3F4F4));
    background-image: -webkit-linear-gradient(top, #f4f5f5, #F3F4F4);
    background-image: -moz-linear-gradient(top, #f4f5f5, #F3F4F4);
    background-image: -ms-linear-gradient(top, #f4f5f5, #F3F4F4);
    background-image: -o-linear-gradient(top, #f4f5f5, #F3F4F4);
    background-image: linear-gradient(to bottom, #f4f5f5, #F3F4F4);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#F3F4F4);
}

.cf-btn-default:active{
   border:1px solid #bfc4c4;
   background-color: #F3F4F4;
   background-image: -webkit-linear-gradient(top, #F3F4F4, #f2f3f3);
   background-image: -moz-linear-gradient(top, #F3F4F4, #f2f3f3);
   background-image: -ms-linear-gradient(top, #F3F4F4, #f2f3f3);
   background-image: -o-linear-gradient(top, #F3F4F4, #f2f3f3);
   background-image: linear-gradient(to bottom, #F3F4F4, #f2f3f3);
   filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F3F4F4, endColorstr=#f2f3f3);
}
.cf-btn-invert {
    color:#ffffff;
    border:1px solid #717171;
    background-color: #8D8D8D; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8D8D8D), to(#7C7C7C));
    background-image: -webkit-linear-gradient(top, #8D8D8D, #7C7C7C);
    background-image: -moz-linear-gradient(top, #8D8D8D, #7C7C7C);
    background-image: -ms-linear-gradient(top, #8D8D8D, #7C7C7C);
    background-image: -o-linear-gradient(top, #8D8D8D, #7C7C7C);
    background-image: linear-gradient(to bottom, #8D8D8D, #7C7C7C);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8D8D8D, endColorstr=#7C7C7C);
}

.cf-btn-invert:active {
   border:1px solid #5a5a5a;
   background-color: #747474; 
   background-image: -webkit-gradient(linear, left top, left bottom, from(#747474), to(#626262));
   background-image: -webkit-linear-gradient(top, #747474, #626262);
   background-image: -moz-linear-gradient(top, #747474, #626262);
   background-image: -ms-linear-gradient(top, #747474, #626262);
   background-image: -o-linear-gradient(top, #747474, #626262);
   background-image: linear-gradient(to bottom, #747474, #626262);
   filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#747474, endColorstr=#626262);
}
.cf-btn-orange:hover,.cf-btn-orange:active,.cf-btn-orange:focus,
.cf-btn-green:hover,.cf-btn-green:active,.cf-btn-green:focus,
.cf-btn-invert:hover,.cf-btn-invert:active,.cf-btn-invert:focus {
    color:#ffffff;
    text-decoration: none;
    outline:none;
}
/* new cf buttons ends */

iframe.trace_fixer {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
}






