@import "./mob-ui-theme";
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
strong {
  font-weight:600;
}

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family:@baseFont;
  color: @baseTextColor;
}
body, html {
  background-color: @baseBgColor;
}

.row-offcanvas {
  .max-width;
}

#mobi-wrapper .container-fluid {
  max-width:767px;
}
.step-intro {
  background-color: @cfDarkGrey;
  font-size: 12px;
  padding:10px 10px 15px;
  & h3 {
    border-bottom: 0 none;
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 2px 0 0;
    text-align: center;
    text-transform: none;
  }
}

/***** NAVBAR COMPONENTS STYLING ******/
.navbar.cf-navbar {
  height:40px;
  min-height: 40px;
  background-color:#f7fafc;
  border-bottom: 1px solid #d0d0d0;
  .boxShadow(0, 1px, 10px, rgba(0,0,0,0.19));
}
.cf-navbar-brand {
  display: inline-block;
  font-size: 18px;
  height: 40px;
  line-height: 20px;
  padding: 6px 0px;
}
.cf-navbar .cf-navbar-brand img {
  width: 90px;
}
.cf-navbar .intro {
  text-align: right;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px 10px 0px;
}
/***** NAVBAR COMPONENTS STYLING ENDS ******/
/***** FOOTER COMPONENTS STYLING ******/
.cf-footer {
  .max-width;
  background-color: @baseBgColor;
  color: @lightTextColor;
  font-size: 12px;
  padding: 0px 10px 60px;
  strong {
    color: @baseTextColor;
  }
  a:hover,a:active,a:focus {
    text-decoration: none;
  }
  .call-box {
    background-color: #FFFFFF;
    .boxShadow(0px, 0px, 1px, rgba(0,0,0,0.2));
    margin: 0px -10px 20px;
    padding:15px;
    & h4 {
      font-size: 14px;
      font-weight: 600;
      margin: 5px 0px 10px;
    }
    & .action {
      text-transform: uppercase;
      font-size: 12px;
      border-radius: 3px;
      display: block;
      padding: 4px 4px 4px 40px;
      position: relative;
      text-align: left;
      max-width: 290px;
    }
    & .action > img {
      width: 26px;
      position: absolute;
      left:7px;
      top:10px;
      display: inline-block;
    }
  }
  & .number-bar {
    color: @lightTextColor;
    font-size: 13px;
  }
  .cf-social {
    margin: 0;
    padding: 0;
    display: inline-block;
    & li {
      float: left;
      list-style-type: none;
      margin-right: 5px;
      a {
        color: @lightTextColor;
        outline: medium none;
        padding: 5px 10px 5px 0px;
      }
      a img {
        width: 20px;
      }
    }
  }
}
/***** FOOTER COMPONENTS STYLING END ******/

.head {
  color: @cfBaseColor;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 10px 0;
  padding: 0px;
  text-align: center;
  font-weight: normal;
}
.error {
  background-color: #FFE6E6;
  color: #F78460;
  font-size: 12px;
  margin: 10px 0px 0px;
  padding: 5px 15px;
  text-align: center;
}

/* expert card css */
.expert-card {
  padding:0px;
  height:0px;
  overflow-y:hidden;

  &.active {
    padding:15px 10px;
    background-color: @cfDarkGrey;
    color:#ffffff;
    position:relative;
    height:auto;
  }
  &.hide {
    display:none;
  }
  & .profile {
    min-height: 50px;
    padding-left: 70px;
    padding-top: 1px;
    position: relative;

    & h4 {
      color: #fff;
      margin-bottom:5px;
      font-size: 14px;
      margin-top: 0px;
    }
    & .designation {
      color:#e0e0e0;
      font-size:11px;
    }
    & img {
      position: absolute;
      top:-20px;
      left:0px;
      width:60px;
      border-radius: 3px;
    }
  }
  & h5 {
    color:@cfBaseColor;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom:5px;
    font-size:13px;
    margin-top:0px;
    padding-left: 70px;
  }
  & .form-bg {
    max-width: 400px;
  }
  & .lead-loader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0px 20px 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    z-index: 10;
    color: #333333;
    left: 0;
  }
  & .lead-loader h4 {
    font-size:14px;
  }
  & .input-group-addon {
    background-color: transparent;
    color:#fff;
  }
}
/* expert card css ends */

/* call-box-fixed */
#mobi-wrapper.initial .call-box-fixed {
  display:none;
}
.call-box-fixed {
  background-color: #f7fafc;
  .boxShadow(0,1px,4px,rgba(0,0,0,0.3));
  left: 0;
  padding: 2px 0;
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 1021;

  & img {
    width: 17px;
  }
  & .call-option {
    font-size: 12px;
    height: 35px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
  }
}
.call-option {
  &.or:after {
    background-color: #E7E7E7;
    border-radius: 30px;
    color: #4FC8B0;
    content: "OR";
    display: block;
    font-size: 9px;
    height: 20px;
    padding: 3px 0;
    position: absolute;
    right: -11px;
    text-align: center;
    top: 6px;
    width: 21px;
  }

  &.or {
    background-color: #8D8D8D;
    padding-top: 9px;
  }
  &.else {
    color: @lightTextColor;
    padding-left: 10px;
    padding-top: 8px;
    text-align: left;
    letter-spacing: 1px;
  }
  &.else > div {
    font-size:10px;
    font-style: italic;
    font-weight: 300;
    text-transform: none;
  }
  & .action {
    text-transform: uppercase;
    font-size: 10px;
    display: block;
    position: relative;
    padding: 6px 0px;
    left: 0px;
    top: 1px;
    float: right;
    width: 60px;
  }
  & .number {
    font-size: 11px;
    line-height: 1em;
    margin: 3px 5px 0px 0px;
    float: right;
    text-align: right;
    color: @baseTextColor;
    & i {
      text-transform: uppercase;
      font-size:9px;
      color: #999;
    }
  }
}
/* call-box-fixed ends */

/* Wizard track for steps */

.tool-link-bar {
  border-left: 0 none;
  border-right: 0 none;
  padding: 5px;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 20;
}
.tiny-wizard {
  list-style-type: none;
  display: inline-block;
  padding: 0px;
  margin: 15px 0 0;
  & li {
    display: inline-block;
    width: 50px;
    vertical-align: top;
    &.center:after {
      background-color: rgba(0,0,0,0.2);
      content: "";
      display: block;
      height: 1px;
      left: -25px;
      position: relative;
      top: -13px;
      width: 100px;
      z-index: -1;
    }
    & span {
      border: 1px solid rgba(0,0,0,0.2);
      background-color: #fff;
      border-radius: 30px;
      color: darken(@baseBgColor,10%);
      display: block;
      font-weight: bold;
      height: 26px;
      padding: 2px;
      text-align: center;
      width: 26px;
      margin: auto;
    }
    &.active span {
      background-color: @healthBaseColor;
      border-color: @healthBaseColor;
      color: #ffffff;
    }
    &.done span.check-icon {
      background-color: @healthBaseColor;
      border-color: @healthBaseColor;
      color: #ffffff;
      padding: 4px;
      font-size: 12px;
    }
    &.active span.check-icon,
    &.done span,
    & span.check-icon {
      display: none;
    }
    &.done span.check-icon,
    &.done.active span.check-icon {
      display: block;
    }
  }
}
/* tiny wizard css ends */

.loading-screen {
  background-color: #FFFFFF;
  color: #B5B5B5;
  height: 100%;
  left: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 100px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1035;
  & img {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
}
#mobi-wrapper.loading {
  height:0px;
  overflow:hidden;
}

iframe.trace_fixer {
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
}
.help-text {
  margin:15px auto 30px;
  font-size:12px;
  color:#999999;
  max-width:400px;
}

.continue-item {
  margin: auto;
  max-width: 400px;
  padding: 30px 0px 0;
}
.btn-continue {
  padding:8px 15px;
  margin:25px auto 0px;
  max-width:400px;
}
.form-margin {
  height: 50px;
}

.prev-step {
  background-color: @baseBgColor;
  display: block;
  width: 120px;
  padding: 6px;
  text-align: center;
  font-size: 10px;
  letter-spacing: 1px;
  color: #4a90e2;
  margin: 20px auto 0px;
  .roundedCorners(3px);
  &:hover,&:active,&:focus {
    color: #4a90e2;
    text-decoration: none;
  }
}
/* step one css */
/* Add member css */
label.member input[type='checkbox'] {
  visibility:hidden;
  position: absolute;
  top:0;
  left:0;
}
label.member {
  position: relative;
}
label.member.active {
  color: @baseTextColor;
}
.member.cf-checkbox.active .input-helper:before {
  background-color: @healthBaseColor;
}
.member {
  background-color: #fff;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  float: left;
  font-size: 13px;
  font-weight: 400;
  margin: 10px 2% 0px;
  padding: 6px 0px 6px 30px;
  width: 46%;
  position: relative;
  &:after {
    content: '';
    display: block;
    bottom:-2px;
    left:0px;
    height:2px;
    width:100%;
    position: absolute;
    .cubic-trans;
    .transform(scale(0));
    background-color: @healthBaseColor;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
  }
  & .input-helper {
    width:16px;
    height:16px;
    left:5px;
    top:6px;
  }
  &.active {
    &:after {
      .transform(scale(1));
    }
    background-color: #ffffff;
    & .add {
      display: none;
    }
    & .added {
      display: block;
    }
  }
  & .add {
    color: lighten(@baseTextColor,50%);
  }
  & .added {
    color: @baseTextColor;
    display: none;
    text-transform: capitalize;
  }
  & .add img, & .added img {
    width: 18px;
    display: inline-block;
    margin: 0px 5px;
  }
}

.gender-buttons {
  display:block;
  height:40px;
  margin:0px auto;
  padding:0px 5px;
  max-width:400px;
}
.btn-gender {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  color: lighten(@baseTextColor,50%);
  display: inline-block;
  font-size: 16px;
  margin-left: 0 !important;
  outline: medium none;
  padding: 6px 15px;
  width: 50%;
}
.btn-gender:hover {
  background-color:#f0f0f0;
}
.btn-gender.active {
  background-color:@healthBaseColor;
  color:#ffffff;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow:none;
}
.kid-buttons {
  margin: auto;
  max-width: 410px;
  padding: 25px 0px 0px;
}
.btn-kid {
  width:46%;
  display:block;
  float:left;
  margin:0% 2%;
}
/* Add member css ends */
/* step one css ends */
/* step two css */

.tooltip-head {
  font-size:12px;
  padding:0px 0px 10px;
  text-align:center;
  position:relative;
  color:#999999;
}
.table.table-age {
  margin: 0 auto;
  max-width: 400px;

  & td {
    padding-right: 0px;
  }
  & td.name {
    width: 65px;
    padding: 8px 0px;
  }
  & .input-group {
    border: 1px solid rgba(0,0,0,0.19);
    .roundedCorners(3px);
    background-color: #fff;
  }
  & .has-error .input-group {
    border-color: #a94442;
  }
  & .input-group-addon {
    font-size: 11px;
    padding: 10px 6px;
    text-transform: capitalize;
    background-color: #fff;
    z-index: 10;
    border: none;
  }
  & tr td {
    border-top: none;
  }
  & .table-member {
    background-color: @baseBgColor;
    border: 1px solid rgba(0, 0, 0, 0.05);
    .roundedCorners(3px);
    color: @baseTextColor;
    display: block;
    font-size: 12px;
    margin-top: 0;
    padding: 8px 0;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    height: 36px;
  }
  & .table-member:after {
    display: block;
    content: "";
    border-top: 1px solid #dadada;
    width: 100px;
    position: absolute;
    left: 100%;
    top: 50%;
  }
}

.table-age .form-control {
  padding:6px 5px;
  font-size:12px;
  height: 36px;
  .boxShadow(0,0,0,rgba(0,0,0,0));
  border: none;
}
.two-fields .input-group {
  width: 49%;
  float: left;
}
/* step two css end */

/* step three css */

.club {
  margin: 0px auto;
  padding: 0px;
}
.radio-list {
  margin: 0 auto;
  max-width: 400px;
  overflow: hidden;

  &.has-error {
    border-color:#A94442;
  }
  & > a {
    display:block;
    border-bottom:2px solid rgba(0,0,0,0.1);
    color:#999999;
    font-size: 12px;
    line-height: 1.1em;
    margin: 0;
    outline: medium none;
    padding: 15px 10px 15px 30px;
    text-decoration: none;
    position:relative;
  }
  & > a:after {
    content: '';
    display: block;
    bottom:-2px;
    left:0px;
    height:2px;
    width:100%;
    position: absolute;
    .cubic-trans;
    .transform(scale(0));
    background-color: @healthBaseColor;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
  }
  & > a.active:after {
    .transform(scale(1));
  }
  & .input-helper {
    top:12px;
    left:0px;
  }
  & > a.active {
    color:@baseTextColor;
  }
  & > a.active .input-helper:after {
    background-color: @healthBaseColor;
  }
}
/* step three css end*/

/*  overlay styling begins */
.mobi-overlay {
  height:100%;
  opacity:0.5;
  position:fixed;
  width:100%;
  overflow:hidden;
  bottom:0px;
  top:110%;
  background-color:@baseBgColor;
  z-index:-1;
  &.active {
    overflow-y:auto;
    opacity: 1;
    top:0;
    z-index: 2001;
  }

  & .overlay-intro {
    background-color: @cfDarkGrey;
    font-size: 12px;
    padding:15px 10px;
    .max-width;
    & h3 {
      border-bottom: 0 none;
      color: #fff;
      font-size: 18px;
      margin: 0;
      padding: 2px 0 0;
      text-align: center;
      text-transform: none;
    }
    & img.mono-logo {
      display: inline-block;
      width: 23px;
      position: absolute;
      left: 10px;
      top: 0px;
    }
  }
}
.max-width {
  max-width: 480px;
  margin:auto;
  position: relative;
}
.close-overlay {
  position: absolute;
  right: 10px;
  top: 2px;
  width: 16px;
  height: 16px;
  z-index: 10;
}

.overlay-content {
  padding: 0 15px;
  position: relative;
  width: 100%;
  z-index: 1;
}

/*  overlay styling ends */

/* get an expert to help you css */
.mobi-overlay.get-expert {
  background-color: rgba(30, 60, 80, 0.8);
  padding:10px;
}
.expert-content {
  margin: 0px auto 10px;
  max-width: 480px;
  background-color: #ffffff;
  padding: 10px 20px;
  font-size: 12px;
  text-align: center;
  color: @lightTextColor;
  &.thnx {
    padding-bottom: 20px;
    margin-top: 30px;
  }
  &.thnx h4 {
    margin-bottom: 10px;
    line-height: 1.4em;
  }
  & .expert {
    position: relative;
    padding-top: 10px;
  }
  & .photo {
    background-color: #dadada;
    border-radius: 3px;
    width: 70px;
    height: 70px;
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
  }
  & h4 {
    color: @baseTextColor;
    font-size: 20px;
    margin: 10px 0px 0px;
  }
  & .designation {
    color: #999999;
  }
  & .form-bg {
    background-color: @cfDarkGrey;
    padding: 15px 10px;
    margin: 0px -20px 10px;
    & .input-group-addon {
      background-color: @cfDarkGrey;
      color: #fff;
    }
  }
  & .proposition {
    position: relative;
    font-size: 12px;
    & a {
      margin-top: 7px;
      font-size: 14px;
      display: block;
      text-align: center;
    }
  }
}
#skip-lead {
  text-align: center;
  .btn {
    padding: 8px 15px;
    width: 220px;
  }
}
/* get an expert to help you css ends */

/*
 * Off Canvas
 * --------------------------------------------------
 */
.result-screen {
  display:block;
  min-height:500px;
  padding-top: 40px;
  position: relative;
}

/***** STEPS COMPONENTS STYLING ******/

.cf-step-nav {
  z-index: 1;
  width: 100%;
  margin: 0px;
  padding: 1px 20px 0px;
  visibility: visible;
  .transform(translateY(0px));
  transform-origin: center bottom;
  overflow: visible;
  background-color: #ffffff;
  position: relative;
  top: 0px;
  left: 0px;
  height: auto;
  .box-shadow-base;
  &.cf-hide {
    z-index: 0;
    visibility: hidden;
    overflow: hidden;
    height: 0px;
    .transform(translateY(100px));
  }
}
#sidebar {
  overflow:hidden;
}


/***** STEPS COMPONENTS STYLING END ******/


/* INITIAL BEFORE RESULT SCREEN */

#mobi-wrapper.initial .row-offcanvas-left
.sidebar-offcanvas {
  top: 0%;
}
#mobi-wrapper.initial .row-offcanvas .sidebar-offcanvas {
  width:100%;
  position:relative;
  background-color:#ffffff;
  z-index: 1000;
  height: auto;
}
#mobi-wrapper.initial .row-offcanvas .result-screen {
  display:none;
  overflow: hidden;
  visibility: hidden;
}

#mobi-wrapper.initial .cf-step-nav .title {
  text-align:center;
  font-weight:bold;
  color:#dadada;
}
#mobi-wrapper.initial .sidebar-offcanvas .error {
  color:#f78460;
}
#mobi-wrapper.initial .sidebar-offcanvas {
  max-width:768px;
  margin:auto;
  float:none;
}

#mobi-wrapper.initial .cf-navbar-filter {
  display:none;
}
/* INITIAL BEFORE RESULT SCREEN ENDS */

/* Sign in/ logged user css */
.sign-user {
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  position: relative;
  top: 2px;
}
.log-user {
  padding:7px;
  display:inline-block;
  position:relative;
  height:40px;
}
.log-user img {
  width:21px;
  height:21px;
  display:inline-block;
}
.log-user.active {
  background-color:rgba(0,0,0,0.2);
}
.cf-user-overlay,
.cf-tab-change-overlay,
.remove-overlay {
  background-color: rgba(49, 68, 81, 0.7);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  padding: 10px 0;
  position: fixed;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: -1;
  visibility:hidden;
}
.cf-user-overlay .uo-content,
.cf-tab-change-overlay .ch-content,
.remove-overlay .rm-content {
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 12.5% auto 20px;
  width:300px;
  position:relative;
  overflow:hidden;
  -webkit-transform: scale(0.6);
  -o-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
.cf-user-overlay.active .uo-content,
.cf-tab-change-overlay.active .ch-content,
.remove-overlay.active .rm-content {
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.cf-user-overlay .uo-content .uo-close,.cf-tab-change-overlay .ch-content .ch-close {
  height: 16px;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 16px;
  z-index: 1;
  overflow: hidden;
}
.uo-intro {
  font-size: 12px;
  padding: 10px 20px;
  text-align: center;
}
.uo-content .uo-intro img {
  background-color: #48ADFF;
  border-radius: 30px;
  display: inline-block;
  height: 35px;
  margin-bottom: 5px;
  width: 35px;
}
.uo-property, .ch-property {
  border-bottom: 1px solid rgba(0,0,0,0.05);
  color: #6A6A6A;
  font-size: 14px;
  padding: 10px 15px;
  cursor:pointer;
  position: relative;
}
.ch-property .glyphicon {
  display:none;
}
.ch-property.active .tickicon {
  background-color: @healthBaseColor;
  .roundedCorners(30px);
  color: #FFFFFF;
  display: inline-block;
  padding: 4px;
  position: absolute;
  right: 10px;
  top: 18px;
  width:22px;
  height: 22px;
}
.ch-property {
  font-size:12px;
  padding:20px 15px;
}
.ch-property.intro {
  background-color: @baseBgColor;
  font-size:18px;
  border-bottom-width:0px;
  padding: 10px 15px;
}
.uo-property.lo {
  background-color: #f5f5f5;
  font-size:16px;
}
.uo-content .uo-property img {
  display: inline-block;
  height: 16px;
  margin-right: 5px;
  margin-top: -3px;
  width: 16px;
}
.cf-user-overlay.active,
.cf-tab-change-overlay.active,
.remove-overlay.active {
  opacity: 1;
  z-index: 2001;
  visibility:visible;
}
.remove-overlay .rm-intro {
  color: @lightTextColor;
  font-size: 12px;
  padding: 20px 15px;
}
.remove-overlay .rm-intro-hdr {
  background-color: @baseBgColor;
  color: @baseTextColor;
  font-size: 14px;
  padding:15px;
}
.remove-overlay .rm-content > a {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: @lightTextColor;
  display: block;
  float: left;
  font-size: 14px;
  padding: 15px;
  text-align: center;
  width: 50%;
  text-transform:uppercase;
}
.rm-content > a:hover,.rm-content > a:active,.rm-content > a:focus {
  color:@lightTextColor;
  background-color:#f0f0f0;
  text-decoration:none;
  outline:none;
}

/*  log in window css */
.log-in-tabs {
  text-align:center;
}
.log-in-tabs li {
  display:inline-block;
  float:none;
  cursor: pointer;
}
.log-in .tab-group {
  background-color: #ffffff;
  border:1px solid #dadada;
  border-top:none;
}
.group-field {
  margin: auto;
  max-width: 430px;
  padding: 20px;
}
.group-field .input-group {
  margin:auto;
  width:100%;
}
.group-field .input-group-addon {
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  width: 70px;
}
.log-in .social-log-in {
  margin:10px;
  text-align:center;
}
.log-in .social-log-in a {
  display:inline-block;
  margin:10px 0px;
  width:220px;
}
.log-in .forget-pwd {
  color:#999999;
  font-size:14px;
  text-align:right;
  margin-top:10px;
}
.log-in .error {
  margin: 10px 0;
}

.log-in .free-line {
  color:#999999;
  padding:0px 20px;
  font-size:12px;
  text-align:center;
}
.log-in h4 {
  margin-top: 20px;
  font-size:20px;
  text-align:center;
  font-weight:300;
}
/*  log in window css ends */

/* overlay modes css */
body #mobi-wrapper {
  padding-top:40px;
  opacity:1;
  height:auto;
  overflow: visible;
}
body #mobi-wrapper.overlay-mode {
  height: 100vh;
  position: relative;
  opacity: 0.59;
  overflow: hidden;
  pointer-events: none;
}
/* overlay mode css ends */

#memberSelector {
  max-width: 410px;
  padding: 0px;
  margin:auto;
}
.pincode-field {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}
.pincode-field .form-control {
  height:40px;
  border-radius: 2px;
}
.table.year-coverage th {
  text-align:center;
  font-weight: normal;
  background-color: #f7fafc;
}


@media only screen and (max-width : 767px) {
  .row-offcanvas {
    position: relative;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-left
  .sidebar-offcanvas {
    top: 110%;
    height: 0;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    padding:0px;
    width: 100%;
  }
}
@media only screen and (max-width : 319px) {
  body,html {
    overflow-x: auto;
  }
  body #mobi-wrapper {
    min-width: 320px;
    overflow-x: hidden;
  }
}