* {
  -webkit-backface-visibility: hidden;
}
.pnone {
  padding: 0;
}
.plnone {
  padding-left: 0;
}
.mnone {
  margin: 0;
}
.mpoint {
  cursor: pointer;
}
.bnone {
  border: none !important;
}
.cubic-trans {
  -webkit-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -moz-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -o-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -ms-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
}
.box-shadow-base {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.cf-btn-orange {
  background-color: #ff7b5e;
  letter-spacing: 1px;
  color: #fff;
  padding: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #ff7b5e;
}
.cf-btn-orange:hover,
.cf-btn-orange:active {
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff7354;
}
.cf-btn-orange.btn-sm {
  padding: 4px;
}
.cf-btn-orange.btn-empty {
  color: #333130;
  background-color: transparent;
  border: 1px solid #ff7b5e;
}
.cf-btn-orange.btn-empty:hover,
.cf-btn-orange.btn-empty:active,
.cf-btn-orange.btn-empty:focus {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background-color: #f7f7f7;
  outline: none;
}
.cf-btn-green {
  background-color: #00d9aa;
  letter-spacing: 1px;
  color: #fff;
  padding: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #00d9aa;
  border: 1px solid #00cfa2;
}
.cf-btn-green:hover,
.cf-btn-green:active {
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00cfa2;
}
.cf-btn-green.btn-sm {
  padding: 4px;
}
.cf-btn-green.btn-empty {
  color: #333130;
  background-color: transparent;
  border: 1px solid #00d9aa;
}
.cf-btn-green.btn-empty:hover,
.cf-btn-green.btn-empty:active,
.cf-btn-green.btn-empty:focus {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background-color: #f7f7f7;
  outline: none;
}
.cf-btn-default {
  background-color: #ffffff;
  letter-spacing: 1px;
  color: #fff;
  padding: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #ffffff;
  color: #333130;
  border: 1px solid #d9d9d9;
}
.cf-btn-default:hover,
.cf-btn-default:active {
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #fafafa;
}
.cf-btn-default.btn-sm {
  padding: 4px;
}
.cf-btn-default.btn-empty {
  color: #333130;
  background-color: transparent;
  border: 1px solid #ffffff;
}
.cf-btn-default.btn-empty:hover,
.cf-btn-default.btn-empty:active,
.cf-btn-default.btn-empty:focus {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background-color: #f7f7f7;
  outline: none;
}
.cf-btn-default:hover,
.cf-btn-default:active,
.cf-btn-default:focus {
  color: #333130;
}
.cf-btn-invert {
  background-color: #8d8d8d;
  letter-spacing: 1px;
  color: #fff;
  padding: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #8d8d8d;
}
.cf-btn-invert:hover,
.cf-btn-invert:active {
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #888888;
}
.cf-btn-invert.btn-sm {
  padding: 4px;
}
.cf-btn-invert.btn-empty {
  color: #333130;
  background-color: transparent;
  border: 1px solid #8d8d8d;
}
.cf-btn-invert.btn-empty:hover,
.cf-btn-invert.btn-empty:active,
.cf-btn-invert.btn-empty:focus {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background-color: #f7f7f7;
  outline: none;
}
.cf-btn-blue {
  background-color: #4d9fff;
  letter-spacing: 1px;
  color: #fff;
  padding: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #4d9fff;
}
.cf-btn-blue:hover,
.cf-btn-blue:active {
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #429aff;
}
.cf-btn-blue.btn-sm {
  padding: 4px;
}
.cf-btn-blue.btn-empty {
  color: #333130;
  background-color: transparent;
  border: 1px solid #4d9fff;
}
.cf-btn-blue.btn-empty:hover,
.cf-btn-blue.btn-empty:active,
.cf-btn-blue.btn-empty:focus {
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background-color: #f7f7f7;
  outline: none;
}
.cf-btn-blue:hover,
.cf-btn-blue:active,
.cf-btn-blue:focus {
  color: #fff;
}
/* CSS icons archive */
.arrow-icon-grey {
  position: relative;
  width: 50%;
  height: 50%;
  margin-top: -10%;
  display: block;
  top: 25%;
  left: 25%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
}
.arrow-icon-grey:after,
.arrow-icon-grey:before {
  content: '';
  display: block;
  background: #666666;
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.arrow-icon-grey:after {
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
}
.arrow-icon-grey:before {
  height: 100%;
  width: 2px;
  bottom: 0;
  left: 0;
}
/*
.tickIconMix(@color) {
  position: relative;
  width:100%;
  height:100%;
  left:5%;
  top:-5%;
  display: inline-block;
  .transform(rotate(-45deg));
  &:after, &:before {
    content: '';
    display: block;
    background:@color;
    position: absolute;
    .roundedCorners(10px);
  }
  &:after {
    height: 3px;
    width: 90%;
    top: 50%;
    left:5%;
  }
  &:before {
    height: 45%;
    width: 3px;
    top:15%;
    left:5%;
  }
}
*/
.tick-icon-white {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.tick-icon-white:after {
  content: '';
  display: block;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 80%;
  height: 50%;
  border-bottom: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  left: 8%;
  top: 15%;
}
.tick-icon-green {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.tick-icon-green:after {
  content: '';
  display: block;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 80%;
  height: 50%;
  border-bottom: 3px solid #00d9aa;
  border-left: 3px solid #00d9aa;
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  left: 8%;
  top: 15%;
}
.cross-icon-red {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.cross-icon-red:before,
.cross-icon-red:after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
}
.cross-icon-red:before {
  border-bottom: 2px solid #ff0000;
  width: 100%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  left: 0px;
}
.cross-icon-red:after {
  border-bottom: 2px solid #ff0000;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.cross-icon-grey {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.cross-icon-grey:before,
.cross-icon-grey:after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
}
.cross-icon-grey:before {
  border-bottom: 2px solid #666666;
  width: 100%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  left: 0px;
}
.cross-icon-grey:after {
  border-bottom: 2px solid #666666;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.cross-icon-white {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  opacity: 0.4;
}
.cross-icon-white:before,
.cross-icon-white:after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
}
.cross-icon-white:before {
  border-bottom: 2px solid #f5f5f5;
  width: 100%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
  left: 0px;
}
.cross-icon-white:after {
  border-bottom: 2px solid #f5f5f5;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}
.filter-icon {
  position: relative;
  width: 20px;
  display: block;
  height: 20px;
  border: 1px solid #fff;
  padding: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.filter-icon i {
  display: block;
  width: 1px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: 4px;
  margin: 0px;
  background-color: #fff;
}
.filter-icon i:after {
  content: '';
  display: block;
  background-color: #0076ff;
  border: 1px solid #fff;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 3px;
  left: -1px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.filter-icon i:nth-child(even) {
  left: 9px;
}
.filter-icon i:nth-child(even):after {
  top: 9px;
}
.filter-icon i:last-child {
  left: 13px;
}
.filter-icon i:last-child:after {
  top: 5px;
}
.cf-checkbox {
  position: relative;
}
.cf-checkbox .input-helper {
  position: absolute;
  width: 20px;
  height: 20px;
}
.cf-checkbox .input-helper:after,
.cf-checkbox .input-helper:before {
  content: '';
  position: absolute;
}
.cf-checkbox .input-helper:before {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.cf-checkbox .input-helper:after {
  -webkit-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -moz-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -o-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  -ms-transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  transition: all 0.3s cubic-bezier(0.21, 0.2, 0.23, 1);
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: rotate(0deg) scale(0);
  -moz-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  -o-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  width: 70%;
  height: 40%;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  left: 15%;
  top: 20%;
}
.cf-checkbox.active .input-helper:after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotate(-45deg) scale(1);
  -moz-transform: rotate(-45deg) scale(1);
  -ms-transform: rotate(-45deg) scale(1);
  -o-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}
.cf-checkbox.active .input-helper:before {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #ff7b5e;
}
.cf-radio {
  position: relative;
}
.cf-radio .input-helper {
  position: absolute;
  width: 20px;
  height: 20px;
}
.cf-radio .input-helper:after,
.cf-radio .input-helper:before {
  content: '';
  position: absolute;
}
.cf-radio .input-helper:before {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.cf-radio .input-helper:after {
  display: none;
  visibility: hidden;
  width: 60%;
  height: 60%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  left: 20%;
  top: 20%;
  background-color: #ff7b5e;
}
.cf-radio.active .input-helper:after {
  display: block;
  visibility: visible;
}
