/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    font-family:'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
    background-color:#e9e9e9;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
.result-screen {
    background-color: #E9E9E9;
    display:block;
    min-height:500px;
    padding-top: 40px;
    position: relative;
}
/* when individual card is open css */
.result-screen.indiv-detail {
    padding-top:36px;
    min-height:400px;
}
.result-screen.indiv-detail .cf-navbar-filter {
    overflow: hidden;
    position: absolute;
    top: -50px;
    opacity:0;
}
.result-screen.indiv-detail .toolbar {
    height: 50px;
    opacity: 1;
    padding: 0;
    bottom:0px;
}
.result-screen.indiv-detail .bottom-tabs {
    bottom:-100px;
    opacity:0;
}
/* when individual card is open css ends */
/***** NAVBAR COMPONENTS STYLING ******/
.cf-navbar-filter {
    background-color: #FFFFFF;
    border-bottom: 2px solid #F78460;
    border-radius: 0;
    opacity:1;
    height: 45px;
    left: 0;
    margin-bottom: 5px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1031;
}
.cf-step-nav {
	z-index:1;
    width:100%;
    margin:0px;
    padding:1px 20px 0px;
    visibility: visible;
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    transform-origin:center bottom;
    overflow:visible;
    background-color:#ffffff;
    position:relative;
    top:0px;
    left:0px;
    height:auto;
}
.cf-step-nav.cf-hide {
	z-index:0;
    visibility: hidden;
    overflow:hidden;
    height:0px;
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
}
#sidebar {
    overflow:hidden;
}
.gender-buttons {
    display:block;
    height:40px;
    margin:0px auto;
    padding:0px 5px;
    max-width:400px;
}
.btn-gender {
    background-color: #f9f9f9;
    border: 1px solid #DADADA;
    color: #666666;
    display: inline-block;
    font-size: 16px;
    margin-left: 0 !important;
    outline: medium none;
    padding: 8px 20px;
    width: 50%;
}
.btn-gender:hover {
    background-color:#f0f0f0;
}
.btn-gender.active {
    background-color:#4fc8b0;
    color:#ffffff;
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow:none;
}
.kid-buttons {
    margin: auto;
    max-width: 410px;
    padding: 10px 0px;
}
.btn-kid {
    width:46%;
    display:block;
    float:left;
    margin:0% 2%;
}
/* Add member css */
label.member input[type='checkbox'] {
    visibility:hidden;
    position: absolute;
    top:0;
    left:0;
}
label.member {
    color: #999999;
    position: relative;
}
label.member.selected {
    color: #363636;
}
.member {
    background-color: #f9f9f9;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    float: left;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 2% 0px;
    padding: 6px 0px;
    width: 46%;
}
.member.selected {
    border: 1px solid #4FC8B0;
    background-color: #ffffff;
}
.member.selected .add {
    display:none;
}
.member.selected .added {
    display:block;
}
.member .add {
    color:#999999;
}
.member .added {
    color:#393939;
    display:none;
    text-transform: capitalize;
}
.member .add img,.member .added img {
    width:22px;
    display: inline-block;
    margin-left:4px;
}
/* Add member css ends */

/***** NAVBAR COMPONENTS STYLING END ******/

/***** TOOLBAR COMPONENTS STYLING  ******/
.toolbar {
    background-color: #f5f5f5;
    bottom: -60px;
    height: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 1033;
}
.toolbar .plan-detail .btn {
    border-radius: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.15);
    font-size: 16px;
    height: 50px;
    line-height: 1em;
    padding-top: 14px;
    position: relative;
    text-transform: uppercase;
    width: 50%;
}
.toolbar  .plan-detail .btn > img {
    width:20px;
    display:inline-block;
}
.bottom-tabs {
    background-color:#8d8d8d;
    height:50px;
    bottom:0px;
    width:100%;
    opacity:1;
    position:fixed;
    left:0px;
    z-index:10;
}
.bottom-tabs h4 {
    margin:5px 0px 4px;
    font-weight:bold;
    font-size:12px;
    text-transform: none;
}
.bottom-tabs .opt {
    border-right: 1px solid #777777;
    border-top: 2px solid rgba(0, 0, 0, 0.15);
    color: #ffffff;
    cursor: pointer;
    font-size: 10px;
    height: 50px;
    padding: 3px 0 0;
    text-align: center;
    text-transform: uppercase;
}
.bottom-tabs .opt.active {
    background-color: #f78460;
    color: #ffffff;
    cursor: default;
}
.bottom-tabs .opt:last-child {
    border-right-width: 0px;
}
.tool-link-bar {
    border-left: 0 none;
    border-right: 0 none;
    padding: 5px;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 20;
    background-color: #ffffff;
}
/***** RESULT CARD COMPONENTS STYLING ******/
.cf-result-card, .cf-dummy-card {
    margin-bottom:5px;
    font-size:12px;
    font-weight:normal;
    color:#666666;
    overflow:hidden;
    cursor:pointer;
    border-top:1px solid rgba(0,0,0,0.02);
    border-bottom:1px solid rgba(0,0,0,0.05);
}
.cf-dummy-card {
    cursor: default;
}
.cf-result-card.open {
    cursor: default;
    margin-bottom: 10px;
}
.cf-result-card .color {
    color:#3A9683;
    font-size:16px;
    font-weight:normal;
    line-height:1.1em;
}
.cf-result-card .split , .cf-dummy-card .split {
    margin:0px;
    padding:5px;
    border-left:1px solid #eaeaea;
}
.cf-result-card .split .text-muted, .cf-dummy-card .split .text-muted {
    color: #8D8D8D;
    display: block;
    font-size: 9px;
    margin: 0px;
    text-transform: uppercase;
    font-weight:300;
}
.cf-result-card .insurer-name, .cf-dummy-card .insurer-name {
    border-bottom: 1px solid #EAEAEA;
    color: #8D8D8D;
    display: block;
    font-size: 9px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.4em;
    padding: 3px 5px 5px 110px;
    min-height: 25px;
}
.cf-result-card .insurer-name > span, .cf-dummy-card .insurer-name > span {
    white-space: nowrap; 
    width: 90%; 
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 300;
}
.cf-result-card .tip {
    display: inline-block;
    height: 18px;
    width:18px;
    opacity: 0.7;
    margin-top:0px;
    position:absolute;
    right:5px;
    top:5px;
}
.cf-result-card .cf-result-body .cf-btn-group {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DADADA;
    border-top: 1px solid #E0E0E0;
    margin: 10px 0;
    padding: 10px 5px;
}
.cf-result-card.open .cf-result-body .cf-btn-group {
    display:block !important;
}
.cf-btn-group .grp-btn {
border-radius: 3px;
cursor: pointer;
font-size: 10px;
margin: 0;
overflow: hidden;
padding: 8px 10px 7px 10px;
position: relative;
text-align: center;
text-transform: uppercase;
}
.cf-btn-group .col-xs-6 {
    max-width: 180px;
}
.cf-btn-group .grp-btn:hover,.cf-btn-group .grp-btn:active, .cf-btn-group .grp-btn:focus {
    outline:none;
}
.grp-btn .icon-bg {
    display: inline-block;
    left: -4px;
    padding: 0;
    position: relative;
}
.grp-btn .icon-bg img {
    display: inline-block;
    width: 16px;
}
.grp-btn.added .icon-bg img.default, 
.grp-btn .icon-bg img.clr {
    display:none;
} 
.grp-btn.added .icon-bg img.clr {
    display:inline-block;
}
.cf-btn-group .grp-btn:active {
    background-color:#f0f8ff;
    border-color:#AEAED5;
}
.cf-result-card .company-logo, .cf-dummy-card .company-logo {
	position: absolute;
	top:2px;
	left:5px;
	width:100px;
	height:50px;
	overflow:hidden;
}
.cf-result-card .plan-name, .cf-dummy-card .plan-name {
    color: #555555;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0;
    min-height: 20px;
    padding: 0 25px 0 110px;
    position: relative;
}

.cf-rating-graph {
    display:inline-block;
    margin:3px 0px 0px;
}
.cf-rating-graph ul li {
    width:13px;
    list-style-type:none;
    float:left;
    margin-right:1px;
}
.cf-result-card .property-heading {
    background: url("../img/arrow-down-big.png") no-repeat scroll 5px center / 20px auto #FFFFFF;
    border-color: rgba(0, 0, 0, 0.08);
    border-style: solid;
    border-width: 0 0 1px;
    font-size: 14px;
    line-height: 1.4em;
    margin: 0;
    padding: 15px 20px 15px 30px;
    color:#363636;
}
.paragraph {
    padding: 0px;
    font-size:12px;
    line-height:1.6em;
}
.cf-result-card .cf-result-body {
    margin: 0;
    padding: 0;
}
.cf-result-card .cf-result-body .hdg {
    background-color: #FFFFFF;
    border-top: 1px solid #E0E0E0;
    border-bottom: 2px solid #eaeaea;
    color: #3A9683;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding:10px;
    text-transform: uppercase;
}
.cf-dummy-card .button-holder {
    background-color: #F9F9F9;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    padding: 5px 0;
}
.button-holder a:focus,.button-holder a:active,.button-holder a:hover {
    text-decoration: none;
    outline: none;
}
.cf-result-card .cf-result-face, .cf-dummy-card .cf-dummy-face {
    background-color:#ffffff;
    padding:10px 5px 0px;
    position: relative;
    border-bottom:1px solid #e0e0e0;
}
.cf-result-card .cf-result-face:active {
	background-color: #F0F8FF;
}
/* result card modes css open/compare */
.cf-result-card.open .cf-result-face:active {
	background-color: #FFFFFF;
}
.cf-result-card .plan-property {
    display:none;                 /* closed result card */
}
.cf-result-card.open .plan-property {
    display:block;                 /* open result card */
}
.cf-result-card .cf-result-body {
    display:none;
    opacity:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.cf-result-card.open .cf-result-body {
    display:block;
    opacity:1;
    filter: alpha(opacity=100);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.cf-result-card.open .tip {
    display:none;
}
/* result card modes css open/compare ends */
/* property opening css */
.cf-result-card .plan-property.active .property-heading {
    background: url("../img/arrow-up-big.png") no-repeat scroll 5px center / 20px auto #f5f5f5;
}
.prop-img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    display: block;
}
.prop-desc {
    border-bottom:none;
    padding:0px 10px;
    position:relative;
    overflow:hidden;
    height:0px;
}
.prop-benefit {
    background-color: #ffffff;
    border-top: 1px solid #EAEAEA;
    padding: 0 5px;
}
.benefit-desc {
    padding: 0px;
    position: relative;
    height: 0px;
    overflow: hidden;
}
.plan-property .benefit-legend {
    background-color: #F5F5F5;
    border-top: 1px solid #EAEAEA;
    display: none;
    margin: 0;
    padding: 5px 10px;
}
.plan-property.active .benefit-legend {
    display:block;
}
.plan-property.active .prop-benefit .benefit-desc {
    height: auto;
    padding: 10px 0;
    overflow: visible;
    border-bottom: 1px solid #EAEAEA;
}
.plan-property.active .prop-desc {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    height: auto;
    padding: 10px;
    overflow:visible;
    background-color: #ffffff;
}
.prop-title {
    color: #999999;
}
.prop-title em {
    font-weight:300;
}
.prop-value, .prop-title {
    font-size: 12px;
    padding-top: 3px;
    min-height: 20px;
    margin: 0px 0px 0px 50px;
}
.prop-value.no-img, .prop-title.no-img {
    margin-left:5px;
}
.prop-value.benefit {
    padding:0px 30px 5px 0px;
    color: rgb(102, 150, 235);
    color: #ff6818;
}
.benefit-value {
    font-size: 12px;
    padding-left: 25px;
    position: relative;
    color:#aaaaaa;
}
.benefit-value.legend {
    display: inline-block;
    padding-right:20px;
    color:#999999;
    font-style:italic; 
}
.benefit-value .tick {
    background:url('../img/close.png') no-repeat center center / 10px transparent;
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}

.benefit-value.available {
    color: #363636;
}
.benefit-value.available .tick {
    background:url('../img/checkmark.png') no-repeat center center / 12px transparent;
}
.prop-handler,.benefit-handler {
    position:absolute;
    border-left:1px solid rgba(0,0,0,0.08);
    padding:3px 5px;
    font-size:10px;
    color:#999999;
    top:10px;
    right:5px;
}
.benefit-avl {
    font-size:10px;
    color:#999999;
}
.prop-expl {
    position: relative;
    font-size: 12px;
    padding:10px;
    border-top: 1px solid #eaeaea;
    margin-top: 10px;
    display:none;
    color:#666666;
    line-height: 1.6em;
}
.benefit-desc .prop-expl {
	margin-top:10px;
}
.prop-desc.active .prop-expl, .benefit-desc.active .prop-expl {
    display:block;
}
.prop-tuc {
    position:absolute;
    background:url('../img/uppointer.png') no-repeat top left / 10px #ffffff;
    top:-6px;
    right:28px;
    width:10px;
    height:10px;
    display:block; 
}
/* property opening css ends */
/***** RESULT CARD COMPONENTS STYLING END ******/
/* INITIAL BEFORE RESULT SCREEN */
.tiny-wizard {
    list-style-type:none;
    display:inline-block;
    padding:0px;
    margin:5px 0;
}
.tiny-wizard li {
    display:inline-block;
    width:50px;
}
.tiny-wizard li.center:after {
    background-color: #D7D7D7;
    content: "";
    display: block;
    height: 1px;
    left: -25px;
    position: relative;
    top: -13px;
    width: 100px;
    z-index: -1;
}
.tiny-wizard li span {
    border: 1px solid #D7D7D7;
    background-color:#f5f5f5;
    border-radius: 30px;
    color: #D7D7D7;
    display: block;
    font-weight: bold;
    height: 26px;
    padding: 2px;
    text-align: center;
    width: 26px;
    margin:auto;
}
.tiny-wizard li.active span {
    background-color:#48c9b0;
    border-color:#48c9b0;
    color:#ffffff;
}
.tiny-wizard li.done span.check-icon {
    background-color:#48c9b0;
    border-color:#48c9b0;
    color:#ffffff;
    padding-top:5px;
    font-size:13px;
}
.tiny-wizard li.active span.check-icon,
.tiny-wizard li.done span,
.tiny-wizard li span.check-icon {
    display:none;
}
.tiny-wizard li.done span.check-icon,
.tiny-wizard li.done.active span.check-icon {
    display:block;
}
#mobi-wrapper.initial .navbar.cf-navbar {
    border-bottom:none;
}
#mobi-wrapper.initial .row-offcanvas-left
.sidebar-offcanvas {
    left: 0%;
}
#mobi-wrapper.initial .row-offcanvas .sidebar-offcanvas {
    width:100%;
    position:relative;
    background-color:#ffffff;
}
#mobi-wrapper.initial .row-offcanvas .result-screen {
    display:none;
    overflow: hidden;
    visibility: hidden;
}

#mobi-wrapper.initial .cf-step-nav .title {
    text-align:center;
    font-weight:bold;
    color:#dadada;
}
#mobi-wrapper.initial .sidebar-offcanvas .error {
    color:#f78460;
}
#mobi-wrapper.initial .sidebar-offcanvas {
    max-width:768px;
    margin:auto;
    float:none;
}

#mobi-wrapper.initial .cf-navbar-filter {
    display:none;
}
/* INITIAL BEFORE RESULT SCREEN ENDS */

.plan-tab.active {
    height: auto;
    left: 0;
    opacity: 1;
    overflow: visible;
    position: relative;
    top: 0;
    z-index: 2;
}
.plan-tab {
    background-color: #E9E9E9;
    height: 0;
    left: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
#mobi-wrapper.initial .plan-tab,#mobi-wrapper.initial .plan-tab.active {
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 100px;
    visibility: hidden;
}
#mobi-wrapper.initial .change-details {
	display:none !important;
}
/* new css added 18-08-2014 */
.table.table-age {
    margin: 0 auto;
    max-width: 400px;
}
.table.table-age td {
    padding-right: 0px;
}
.table.table-age td.name {
    width: 60px;
    padding:8px 0px;
}
.table-age .input-group-addon {
    font-size: 11px;
    padding:10px 8px;
}
.table.table-age  tr  td {
    border-top:none;
}
.table-age .table-member {
    background-color: #eeeeee;
    border:1px solid #cccccc;
    border-radius: 5px;
    color: #363636;
    display: block;
    font-size: 11px;
    margin-top: 0;
    padding: 8px 0;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    height: 34px;
}
.table-age .table-member:after {
    display:block;
    content: "";
    border-top:1px solid #dadada;
    width:100px;
    position:absolute;
    left:100%;
    top:50%;
}
.club {
    background-color: #FAFAFA;
    border: 1px solid #DADADA;
    border-radius: 3px;
    margin: -20px auto 0;
    padding: 1px 10px 30px;
}
.table-age .form-control {
    padding:6px 5px;
    font-size:12px;
}
.two-fields .input-group {
    width: 49%;
    float: left;
}
/* help me choose css */
.mobi-overlay.help-me-choose {
    background-color: #ffffff;
}
.mobi-overlay.help-me-choose h3 {
    color: #363636;
    margin:0px;
    padding:0px;
    border-bottom:0px;
}
.help-me-choose .head {
    line-height: 1.4em;
}
.help-me-choose .section {
    height: 0;
    margin: 30px 0 60px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    visibility: hidden;
    width: 100%;
    z-index:-1;
}
.help-me-choose .section.active {
    height: auto;
    overflow: visible;
    top: 0;
    visibility: visible;
    position:relative;
    z-index: 1;
}
.help-me-choose .tracking-bar {
    background-color: #EAEAEA;
    height: 5px;
    position: relative;
    width: 100%;
    z-index: 100;
}
.tracking-bar .bar {
    background-color:#4FC8B0;
    position: absolute;
    height:100%;
}
.checkbox-list {
    background-color: #F5F5F5;
    padding: 5px 10px;
    margin: 0 auto 10px;
    max-width: 360px;
}
.checkbox-list-item {
    margin-bottom:10px;
}
.checkbox-list .check {
    background: url("../img/bigtick-empty.png") no-repeat scroll 4px 6px / 26px auto rgba(0, 0, 0, 0);
    color: #666666;
    display: block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1em;
    padding: 11px 10px 10px 40px;
    position: relative;
}
.checkbox-list .check.active {
    background: url("../img/bigtick.png") no-repeat scroll 4px 6px / 26px auto rgba(0, 0, 0, 0);
}
.checkbox-list .check input[type="checkbox"] {
    top:0px;
    left:0px;
    visibility: hidden;
    position: absolute;
}
.checkbox-list-disease .checkbox-list-item {
    background: url("../img/bigtick-empty.png") no-repeat scroll 10px 4px / 26px auto rgba(0, 0, 0, 0);
    padding: 8px 10px 10px 45px;
    border-bottom:1px solid #eaeaea;
    font-size:12px;
}
.checkbox-list-disease .checkbox-list-item.active {
    background: url("../img/bigtick.png") no-repeat scroll 10px 4px / 26px auto rgba(0, 0, 0, 0);
}
.member-selection {
    margin: 0 auto 20px;
    max-width: 370px;
}
.suggested-property {
    background-color: #E5E5E5;
    border-radius: 3px;
    margin: 0 auto 10px;
    max-width: 360px;
    padding: 5px 10px 10px;
}
.brand-list {
    margin: auto;
    max-width: 400px;
    padding: 0;
    text-align: center;
}
.brand-list .brand-check {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    display: inline-block;
    height: 50px;
    margin-bottom: 5px;
    opacity: 0.6;
    overflow: hidden;
    padding: 0 5px;
    position: relative;
    width: 140px;
    text-align:left;
}
.brand-list .brand-check:before {
    background-color: #F5F5F5;
    border-right: 1px solid #EAEAEA;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 35px;
    z-index: -1;
}
.brand-list .brand-check > input {
    left: 5px;
    position: relative;
    top: 12px;
}
.brand-list .brand-check.selected {
    border-color:#4FC8B0;
    opacity:1;
}
.brand-list .brand-check > img {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 0px;
    width: 90px;
}
.checkbox-list-disease {
    margin: 0 auto;
    max-width: 360px;
}
/* help me choose css ends */
/* Sign in/ logged user css */
.sign-user {
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    position: relative;
    top: 2px;
}
.log-user {
	padding:7px;
	display:inline-block;
    position:relative;
    height:40px;
}
.log-user img {
	width:21px;
	height:21px;
	display:inline-block;
}
.log-user.active {
	background-color:rgba(0,0,0,0.2);
}
.cf-user-overlay, 
.cf-tab-change-overlay, 
.remove-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow-y: auto;
    padding: 10px 0;
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: -1;
    visibility:hidden;
}
.cf-user-overlay .uo-content, 
.cf-tab-change-overlay .ch-content, 
.remove-overlay .rm-content {
    background-color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 12.5% auto 20px;
    width:300px;
    position:relative;
    overflow:hidden;
    -webkit-transform: scale(0.6);
    -o-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
}
.cf-user-overlay.active .uo-content, 
.cf-tab-change-overlay.active .ch-content, 
.remove-overlay.active .rm-content {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.cf-user-overlay .uo-content img.uo-close,.cf-tab-change-overlay .ch-content img.ch-close {
    height: 20px;
    position: absolute;
    right: 3px;
    top: 5px;
    width: 20px;
    z-index: 1;
}
.uo-intro {
    font-size: 12px;
    padding: 10px 20px;
    text-align: center;
}
.uo-content .uo-intro img {
    background-color: #48ADFF;
    border-radius: 30px;
    display: inline-block;
    height: 35px;
    margin-bottom: 5px;
    width: 35px;
}
.uo-property, .ch-property {
    border-top: 1px solid #DADADA;
    color: #6A6A6A;
    font-size: 14px;
    padding: 10px 15px;
    cursor:pointer;
    position: relative;
}
.ch-property .glyphicon {
	display:none;
}
.ch-property.active .glyphicon {
	display:block;
    background-color: #48C9B0;
    border-radius: 30px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 12px;
}
.ch-property {
	font-size:12px;
	padding:15px;
}
.ch-property.intro {
	background-color: #f5f5f5;
    font-size:18px;
    border-top-width:0px;
    padding: 10px 15px;
}
.uo-property.lo {
    background-color: #f5f5f5;
    font-size:16px;
}
.uo-content .uo-property img {
    display: inline-block;
    height: 16px;
    margin-right: 5px;
    margin-top: -3px;
    width: 16px;
}
.cf-user-overlay.active, 
.cf-tab-change-overlay.active,
.remove-overlay.active {
    opacity: 1;
    z-index: 2001;
    visibility:visible;
}
.remove-overlay .rm-intro {
    color: #666666;
    font-size: 14px;
    padding: 15px 20px 30px;
}
.remove-overlay .rm-intro-hdr {
    background-color: #F9F9F9;
    border-bottom: 1px solid #DADADA;
    color: #363636;
    font-size: 14px;
    padding: 10px 20px;
}
.remove-overlay .rm-content > a {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    color: #666666;
    display: block;
    float: left;
    font-size: 14px;
    padding: 15px 10px;
    text-align: center;
    width: 50%;
    text-transform:uppercase;
}   
.rm-content > a:hover,.rm-content > a:active,.rm-content > a:focus {
    color:#666666;
    background-color:#f0f0f0;
    text-decoration:none;
    outline:none;
}
/* buy cart/shortlist css */
.buy-cart img,.shortlist-icon img {
    width: 21px;
}
.shortlist-icon, .buy-cart {
    display: inline-block;
    height: 36px;
    padding: 5px;
    position: relative;
    text-align: center;
    top: 2px;
    width: 36px;
}
.buy-cart .count, .shortlist-icon .count {
    background-color: rgba(255, 255, 255, 0.58);
    border-radius: 30px;
    color: rgba(0, 0, 0, 0.698);
    display: block;
    font-size: 10px;
    height: 18px;
    left: -5px;
    padding: 2px 6px;
    position: absolute;
    text-align: center;
    top: 2px;
    min-width:18px;
}
.cart-items .item {
    margin-top:10px;
}
.cart-items .plan-for, .shortlisted-items .plan-for {
    background-color: #eaeaea;
    border-top:1px solid #e9e9e9;
    color: #757575;
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px 10px 5px;
    text-align: left;
    text-transform: uppercase;
}
.cf-dummy-card .color {
    color:#3A9683;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.1em;
}
.shortlisted-items .item {
    margin-top:10px;
}
.default-messaging {
    color: #999999;
    font-size: 14px;
    line-height: 1.6em;
    padding: 50px 20px;
    text-align: center;
}
.remove-bucket {
    position: relative;
    top: -2px;
    width: 16px;
}
/* buy cart/shortlist css ends */
/* modify selection css */
.change-details {
    display: inline-block;
    height: 40px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    top: -2px;
    background-color: rgba(0,0,0,0.1);
    right: -5px;
    width: 45px;
    text-align: center;
    position: relative;
}
.change-details > div {
    padding: 5px 10px;
    height:40px;
    width:45px;
    cursor:pointer;
}
.change-details .tip {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 2px;
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    font-weight:bold;
    right:0px;
    padding:10px;
    position: absolute;
    text-align: left;
    top: 105%;
    width: 250px;
}
.change-details .tip > span {
    font-weight: 300;
}
.change-details .tip > strong {
    height: 30px;
    display: inline-block;
    width: 40px;
    right: 0;
    text-align: center;
    font-size: 15px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding: 4px 0;
    top: 10px;
    position: absolute;
    color: #f78460;
    cursor:pointer;
}
.change-details .tip:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-width: 8px;
    content: "";
    display: block;
    right:14px;
    position: absolute;
    top: -16px;
}
.change-details img {
    display: inline-block;
    width: 21px;
    margin-top: 4px;
}
.cf-dummy-card .main-properties {
    padding: 0px;
    margin: 0;
}
.main-properties .properties {
    height:0px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}
.main-properties .properties.open {
    height:auto;
    overflow: visible;
    visibility: visible;
    opacity: 1;
}
.main-properties .more {
    text-transform: uppercase;
    display: block;
    text-align: right;
    padding: 10px;
    cursor: pointer;
    margin: 0 -5px;
    border-bottom:1px solid #eaeaea;
    background-color: #f9f9f9;
    color: #666666;
}
.main-properties h4 {
    margin: 0;
    font-size: 14px;
    padding: 10px 5px 5px;
    color: #3A9683;
}
.main-properties .bb {
    border-bottom:1px solid #eaeaea;
}
.main-properties .pr-title {
    text-transform: uppercase;
    color: #666666;
    font-size: 11px;
    font-weight: 300;
    margin: 12px 5px 5px;
}
.main-properties .pr-val {
    font-size: 12px;
    color: #363636;
    text-align: left;
    margin: 5px 5px 10px;
}
/* modify selection css ends */
/*  log in window css */
.log-in-tabs {
	text-align:center;
}
.log-in-tabs li {
	display:inline-block;
	float:none;
	cursor: pointer;
}
.log-in .tab-group {
	background-color: #ffffff;
	border:1px solid #dadada;
	border-top:none;
}
.group-field {
    margin: auto;
    max-width: 430px;
    padding: 20px;
}
.group-field .input-group {
	margin:auto;
	width:100%;
}
.group-field .input-group-addon {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    width: 70px;
}
.log-in .social-log-in {
	margin:10px;
	text-align:center;
}
.log-in .social-log-in a {
	display:inline-block;
	margin:10px 0px;
    width:220px;
}
.log-in .forget-pwd {
	color:#999999;
	font-size:14px;
	text-align:right;
	margin-top:10px;
}
.log-in .error {
    margin: 10px 0;
}

.log-in .free-line {
	color:#999999;
	padding:0px 20px;
	font-size:12px;
	text-align:center;
}
.log-in h4 {
	margin-top: 20px;
	font-size:20px;
	text-align:center;
	font-weight:300;
}
/*  log in window css ends */
/* call schedule css */
.call-schedule .table-schedule {
    background-color: #FFFFFF;
    color: #363636;
    margin-bottom: 0;
    width: 100%;
}
.call-schedule .number-field {
    background-color: #F9F9F9;
    border: 1px solid #DADADA;
    border-top-width:0px;
    font-size: 10px;
    padding: 20px;
    text-transform: uppercase;
}
.call-schedule .table-schedule th {
    background-color: #F9F9F9;
    border-bottom: 1px solid #EAEAEA;
    color: #F78460;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    width: 33.33%;
}
.call-schedule .table-schedule th span {
	display:block;
	margin-top:3px;
	font-size:10px;
	color:#363636;
}
.call-schedule .table-schedule td {
    border-bottom-color:#eaeaea;
    padding: 0;
}
.call-schedule .table-schedule td .tm-slot {
    background-color: #FFFFFF;
    border-bottom: 1px solid #EBEBEB;
    cursor: pointer;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 5px;
    padding: 7px 5px;
    text-align: center;
}
.table-schedule td .tm-slot.active {
    background-color: #E5FFE3;
}
.table-schedule td .tm-slot.disabled {
    color: #999999;
    pointer-events: none;
    text-decoration: line-through;
    cursor:default;
}
.call-schedule .free-line {
    color: #999999;
    font-size: 12px;
    margin-top: 10px;
    padding: 0 20px;
    text-align: center;
}
.call-schedule h4 {
    font-size: 16px;
    margin-top: 15px;
    padding: 0 10px;
    text-align: center;
}
.call-schedule .hdr-line {
    border:1px solid #dadada;
    border-bottom-width: 0px;
    border-radius:3px 3px 0 0;
    background-color: #F9F9F9;
    color: #F78460;
    font-size: 12px;
    line-height: 1em;
    margin: 15px 25px 0;
    padding: 8px 10px;
    text-align: center;
    text-transform: uppercase;
}
.call-schedule .complete {
    border: 2px dashed #CAE6CE;
    margin: 20px 0 10px;
    padding: 10px;
    text-align: center;
    text-transform:none;
}
.call-schedule .complete .highlight {
    color: #FF9F6E;
    font-size: 30px;
}
/* call schedule css ends */
/* overlay modes css */
body #mobi-wrapper {
    padding-top:40px;
    opacity:1;
    height:auto;
    overflow: visible;
}
body #mobi-wrapper.overlay-mode {
    height: 100vh;
    position: relative;
    opacity: 0.59;
    overflow: hidden;
    pointer-events: none; 
}
/* overlay mode css ends */
/* call-box-fixed */
#mobi-wrapper.initial .call-box-fixed {
	display:none;
}
.call-box-fixed {
	background-color:#f5f5f5;
    border-bottom: 1px solid #dadada;
    left: 0;
    padding: 2px 0;
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 1021;
}
.call-box-fixed img {
	width:17px;
}
.call-option.or:after {
    background-color: #E7E7E7;
    border-radius: 30px;
    color: #4FC8B0;
    content: "OR";
    display: block;
    font-size: 9px;
    height: 20px;
    padding: 3px 0;
    position: absolute;
    right: -11px;
    text-align: center;
    top: 6px;
    width: 21px;
}
.call-box-fixed .call-option {
    border-right: 1px solid rgba(255, 255, 255, 0.33);
    font-size: 10px;
    height: 35px;
    color:#ffffff;
    padding-top:2px;
    text-align: center;
    text-transform: uppercase;
}
.call-option.or {
    background-color: #8D8D8D;
    padding-top: 9px;
}
.call-option.else {
    background-color: #F5F5F5;
    color: #666666;
    padding-left: 10px;
    padding-top: 4px;
    text-align: left;
}
.call-option.else > div {
	font-size:10px;
	font-style: italic;
	font-weight: 300;
	text-transform: none;
}
.call-option .action {
    background-color: #4FC8B0;
    text-transform: uppercase;
    font-size:11px;
    border-radius: 3px;
    display: block;
    height: 31px;
    padding: 7px 10px;
    width:140%;
    position: relative;
    left:-40%;
}
/* call-box-fixed ends */
/* Help me choose action box css */
.help-me-choose-action {
    background-color: #fffdd2;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 12px;
    margin-bottom: 5px;
    padding: 12px 5px 12px 8px;
    text-transform: uppercase;
    display:block;
}
.help-me-choose-action em {
	font-weight: 300;
	font-size:10px;
	font-style: italic;
	text-transform:none;
	color:#666;
}
.help-me-choose-action .action {
    background-color: #F78460;
    border-radius: 2px;
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    height: 34px;
    padding: 10px 3px;
    text-align: center;
}
.help-me-choose-action .action:active {
	background-color:#f78460;
}
.result-screen.indiv-detail .help-me-choose-action {
	display:none;
}
.tempAlert {
     position:absolute;
     z-index:3000;
     padding:8px 10px;
     background-color:rgba(0,0,0,0.8);
     color:#ffffff;
     font-size:12px;
     bottom:80px;
     width:60%;
     margin:0 20%;
     border-radius:3px;
     text-align:center;
}
.no-plans-available {
    margin:5% 20px;
    text-align: center;
    color:#adadad;
    font-size: 20px;
    line-height: 1.25em;
}
.no-plans-available > div {
    color:#363636;
    font-size:14px;
    margin-bottom:30px;
    position: relative;
}
.no-plans-available > div:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    background-color: #f87460;
    height: 2px;
    width: 80px;
    left: 50%;
    margin-left: -40px;
}
.no-plans-available .text-muted {
    color:#363636;
    font-size:12px;
}
#memberSelector {
    max-width: 410px;
    padding: 0px;
    margin:auto;
}
.pincode-field {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}
.pincode-field .form-control {
    height:40px;
    border-radius: 2px;
}
.table.year-coverage th {
    text-align:center;
    font-weight: normal;
    background-color: #f9f9f9;
}
/* Help me choose action box css ends */
/* filters indicator css */
.apply-mark {
    position: relative;
    margin-right: -6px;
    padding: 3px;
    width: 17px;
    border-radius: 30px;
    background-color: #F5F5F5;
    margin-top: -10px;
}
.filters-applied {
    padding: 1px 0px 0px;
    background-color: #f5f5f5;
}

.filters-applied h4 {
    background: url("../img/arrow-down-big.png") no-repeat scroll right center / 20px auto #f5f5f5;
    font-size: 12px;
    text-transform: uppercase;
    margin:0px 10px;
    padding:10px 5px;
    color: #666;
    cursor: pointer;
    letter-spacing: 1px;
}
.filters-applied ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    display: none;
    background-color: rgba(255, 255, 255, 1);
}
.filters-applied.active ul {
    display: block;
}

.filters-applied.active h4 {
    background: url("../img/arrow-up-big.png") no-repeat scroll right center / 20px auto #f5f5f5;
}

.filters-applied ul li {
    border-bottom:1px solid #eaeaea;
    padding: 5px;
    font-size: 11px;
}

.filters-applied ul li .opt,
.filters-applied ul li .val {
    float:left;
    padding:0px 5px;
}

.filters-applied ul li .opt {
    width:40%;
}

.filters-applied ul li .val {
    width:60%;
    border-left:1px solid #eaeaea;
    color:#999999;
}

.filters-applied ul li .val span {
    display: inline-block;
    margin:0 5px 5px;
}
.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}
.btn.filter2 {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.cf-btn-orange, .cf-btn-green {
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.2);
    box-shadow: 1px 2px 3px rgba(0,0,0,.2);
}
.btn-continue {
    padding:12px 20px;
}
.text-capitalize {
    text-transform:capitalize;
}
/* get an expert to help you css */
.mobi-overlay.get-expert {
    background-color: rgba(30, 60, 80, 0.8);
    padding:10px;
}
.expert-content.thnx {
    padding-bottom:20px;
    margin-top:30px;
}
.expert-content.thnx h4 {
    margin-bottom:10px;
    line-height: 1.4em;
}
.expert-content {
    margin:10px auto;
    max-width: 400px;
    background-color: #ffffff;
    padding:10px 20px;
    font-size:12px;
    text-align: center;
    color:#666666;
    position:relative;
}
.expert-content .expert {
    position:relative;
    padding-top:10px;
}
.expert-content .photo {
    background-color: #dadada;
    border-radius: 3px;
    width:70px;
    height:70px;
    position: relative;
    top:0px;
    left:0px;
    display: inline-block;
}
.expert-content h4 {
    font-size:20px;
    margin:10px 0px 0px;
}
.expert-content .designation {
    color:#999999;
}
.expert-content .form-bg {
    background-color: #eaeaea;
    padding:15px 10px;
    margin:0px -20px 10px;
}
.expert-content .proposition {
    position: relative;
    font-size: 12px;
}
.expert-content .proposition a {
    margin-top:7px;
    font-size:14px;
    display:block;
    text-align: center;
}
.expert-content .lead-loader {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 80px 20px 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    color: #333333;
    left: 0;
}
.lead-loader h4 {
    font-size:14px;
}
/* get an expert to help you css ends */
/* expert card css */
.expert-card {
    padding:10px;
    background-color: rgba(30,60,80,0.8);
    color:#ffffff;
}
.expert-card .profile {
    min-height: 50px;
    padding-left: 70px;
    padding-top: 1px;
    position: relative;
}
.expert-card .profile h4 {
    margin-bottom:5px;
    font-size: 16px;
    margin-top: 0px;
}
.expert-card .profile .designation {
    color:#e0e0e0;
    font-size:11px;
}
.expert-card .profile img {
    position: absolute;
    top:-20px;
    left:0px;
    width:60px;
    border-radius: 3px;
}
.expert-card h5 {
    color:#ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom:5px;
    font-size:13px;
    margin-top:0px;
    padding-left: 70px;
}
.expert-card .form-bg {
    max-width: 400px;
}
#skip-lead {
    width:100%;
    max-width:400px;
    margin: 0px auto;
}
#skip-lead .btn {
    width:100%
}
/* expert card css ends */
@media only screen and (max-width : 767px) {

    .row-offcanvas {
        position: relative;
    }
    .row-offcanvas-left {
        left: 0;
    }
    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -100%;
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        padding:0px;
        width: 100%;
    }
}













