*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background: #F9F9F9;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    font-family:"ff-tisa-web-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight:400;
    color:#333332;
    font-size:18px;
    line-height:1.4

}


.prnone{
	padding-right:0;
}

.plnone{
	padding-left:0;
}


h1, h2, h3, h4, h5, h6{
    color: #555555;
    font-family: "ff-tisa-web-pro",serif;
    /* font-weight: bold; */
    font-size: 20px;
    line-height: 1.4;
}

#topbar{
	background: #fff;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 1px rgba(6,8,8,0.1);
box-shadow: 0 1px 1px rgba(6,8,8,0.1);
    min-height:67px;
}

#topbar a.navbar-brand{
	color: #535353;
    display: inline-block;
    font-size: 25px;
    height: 38px;
    letter-spacing: 5px;
    margin-left: 5px;
    margin-top: 15px;
    overflow: hidden;
    padding: 0;
}
.nav-social > li > a {
    padding: 5px;
}
.cf-navbar-elem {
    margin-top: 17px;
}
.btn-red{
color: #FFFCFC;
background-color: #FF915E;
border:none;
}


.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red.active {
color: #FFFCFC;
background-color: #F77133;

}



.trans{
	-webkit-transition: all .2s ease-in-out;
-moz-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
background-color:#ffffff;
}

.btn-full{
	width: 100%;
}
.fut-intro {
    color:#C9D5DD;
    padding:10px;
    border-left:1px dashed #535E6D;
}

