/* ######## 1 -  Slider Styles #########  */ 
.flex-caption h3, .flex-caption2 h3 {  background-color:#EA8C2F; }
.flex-caption a { background:url(../img/arrow.png) no-repeat 90% 11px #EA8C2F;   }
.flex-caption2 a.fc1 {  background:url(../img/cart.png) no-repeat 90% 11px #EA8C2F; }
.flex-caption a.fc2 { background:url(../img/arrow2.png) no-repeat 90% 11px #EA8C2F; }
.flex-caption a.fc1 {  background:url(../img/arrow.png) no-repeat 90% 11px #EA8C2F; }
.slide-form input.button {  background:url(../img/arrow3.png) no-repeat 50% 8px #EA8C2F;  }


/* ######## 2 -  Global Styles #########  */ 
p.title-spc { color:#EA8C2F; }
.b {  background-color:rgba(254,163,105,0.7); }
.testi p.testio strong {   color:#EA8C2F; }  
.form-contact input.input-submit {  background-color:#EA8C2F;  }
.video {   background:url(../img/video-bg.png) no-repeat; background-attachment:fixed; }
 
