

.post{
	border-bottom:3px dashed #CFCFCF;
	padding-bottom:40px;
	padding-top:20px;
}

.post-content p{
	font-size: 16px;
	line-height: 30px;
	margin:20px 0px;
}

h1.posttitle{
	font-size: 40px;
	display: inline-block;
	padding: 0px 30px 0px 0px;
	margin-bottom: 0px;
}

p.postcategory{
	margin-top: 0px;
	font-size: 13px;
	color: #8D8D8D;
}

strong.health{
	color:#31CF83;
}
strong.travel{
	color:#369BD0;
}
strong.life{
	color:#CE3559;
}

strong.car{
	color:#31CF83;
}

.label-health{
	background:#31CF83;
}
.label-travel{
	background:#369BD0;
}
.label-life{
	background:#CE3559;
}

.label-car{
	background:#31CF83;
}

h1.posttitle a{
	text-decoration: none;
	color:#535353;
}


h1.posttitle a:hover{
	color:#000;

}

.post-sidebar{
	padding-top:20px;
	text-align: right;
}
.post-icon{
	padding-bottom:15px;
	margin-bottom:15px;
}

.post-sidebar p{
	font-size: 12px;
}

.no-image>.post-content>h1.posttitle{
	margin-bottom:0px;
}
.no-image>.post-content>p{
	margin-top:10px;
}
.post-sidebar p.post-date{
	margin-bottom: 0;
}
.post-sidebar p.post-author{
	font-weight: bold;
}

ul.post-tags{
	list-style-type: none;
	padding: 0;
	margin:15px 0px;
}

ul.post-tags li a{
	text-decoration: none;
	padding: 3px 5px;
	font-size: 12px;
	display: inline-block;
	color: #757575;
	margin-bottom: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px dashed #C9C7C7;

}

ul.post-tags li a:hover{
	background: #3CD6D0;
	color:#fff;

}

.post.highlighted{
	background: #EDF3F3;
}

h1.pagetitle{
	font-size: 30px;
	color: #FF915E;
}


.nav-social>li>a{
	padding:8px;
}

.nav-social>li>a:hover{
	background: transparent;

}

.btn-subscribe{
	margin-right:20px;
}

.vertical-nav-right{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	background: #525A6B;
	width:250px;
}

.vertical-nav-right>li.navheader{
	color: #FFF;
	padding: 20px 40px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 3px;
}

.vertical-nav-right>li>a{
	padding: 10px 40px;
	color: #E7E7EF;
	font-size: 13px;
}

.vertical-nav-right>li>a:hover, .vertical-nav-right>li>a:focus {
	background-color: #FF915E;
	color: #fff;
}

.post-meta{
	border-top: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	padding: 10px 10px 0px 0px;
}

.cf-navbar-elem{
	margin-top:17px;
}

.cf-navbar-elem>li>a{

	font-size: 20px;
	color: #8F8F8F;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.cf-navbar-elem>li>a:hover{
	color: #000;
	background: none;

}

.search-top{
	position: relative;
}
.search-top:after{
	width: 100%;
	height: 10px;
	border: 1px solid #C7C7C7;
	border-top: none;
	position: absolute;
	content: "";
	top: 30px;
	left:0;
	border-right: none;
}


.cf-search-blog-btn{
	margin-left: -6px;
	margin-top: 7px;
}
.search-top-input{
	border:none;
	padding:10px 20px;
	background-color: transparent;
}

#subscribe-right{
	width: 250px;
	margin-bottom: 30px;
	border-radius: 4px;
	background: #EAEAEA;
	padding: 20px;
}

#subscribe-right label{
	font-weight: normal;
	font-size: 30px;
}

ul.cf-dark-dd{
	background: #525A6B;
	color: #fff;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
}

ul.cf-dark-dd>li>a{
	color: #E7E7EF;
}

ul.cf-dark-dd>li>a:hover{
	background-color: #FF915E;
	color: #FFF;
}





/* fullpoat */

.full-post-meta {
	text-align: right;
	margin-top: 130px;

	border-right: 1px solid #CACACA;
}

.full-post-meta p {
	font-size: 12px;
	margin-top: 20px;
	color: #A29F9F;
}

.full-post-titlebox{
	margin:30px 0px;
}

.full-post-author{
	padding-right:20px;
}

.label-category{
	position: relative;
}

h1.posttitle {
	font-size: 50px;
	margin-bottom: 10px;
	margin-top: 10px;
}



.fullpost p {
	font-size: 16px;
	line-height: 32px;
	margin-top: 20px;
	color: #5E5E5E;
}

.fullpost p.postdesc {
	font-size: 14px;
	margin-top:0px;

	line-height: 20px;


}

.fullpost h2 {
	font-size: 36px;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 30px;
}


.fullpost h3{
	font-size: 26px;
	font-weight: bold;
}

#recommendations {
	margin-top: 40px;
	border-top: 1px solid #DFDFDF;
	padding-bottom: 40px;
	background: #F7F7F7;
}

#recommendations h1 {
	text-align: center;
	margin: 25px 0px;
}

#cf-pager{
	text-align: center;
	border-top: 1px solid #EAEAEA;
	margin-top:35px;
}
#cf-pager div:hover{
	background: #eaeaea;
}

#cf-pager h4{
	text-transform: uppercase;
	color: #43ADC7;
	font-size: 14px;
	margin-bottom: 0px;
	margin-top: 20px;
	font-weight: bold;
}

#cf-pager p{
	margin-top: 10px;
	line-height: 18px;
	font-size: 13px;
}

#cf-pager .prev{
	border-right:1px solid #eaeaea;
}

#notification-panel{
	position: fixed;
	bottom:-100px;
	right:-100px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #ACACAC;
	-webkit-box-shadow: 0 1px 1px rgba(6, 8, 8, 0.1);
	box-shadow: 0 1px 1px rgba(6, 8, 8, 0.1);
	background: #fff;
	width:350px;
	opacity: 0;
	-moz-transform:  rotate(-30deg) ;
	-webkit-transform:  rotate(-30deg) ;
	-o-transform:  rotate(-30deg) ;
	-ms-transform:  rotate(-30deg) ;
	transform:  rotate(-30deg) ;
}

#notification-panel.showpanel{
	bottom:30px;
	right:30px;
	opacity: 1;
	-moz-transform:  rotate(0deg) ;
	-webkit-transform:  rotate(0deg) ;
	-o-transform:  rotate(0deg) ;
	-ms-transform:  rotate(0deg) ;
	transform:  rotate(0deg)
}

#fullpost-share{
	margin-top:50px;
	text-align: right;
	opacity: 0.5;
	position: fixed;
	left:-100px;
	top:100px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	z-index:500;
}

#fullpost-share.share-stuck{
	position: fixed;

	left:50px;
}

#fullpost-share:hover{
	opacity: 1;
}

.fp-ls{
	margin-top: 30px;
	font-size: 13px;
	border-top: 1px solid #CACACA;
	padding: 10px 20px 0px 20px ;
	text-align: right;
	display: inline-block;
}

p.full-post-date{
	padding: 10px 20px 0px 0px;

}

p.full-post-comments-count{


}

#full-post-right-sidebar{
	margin-top:300px;
}


.action-panel{
	margin:30px 0px;
	border:1px solid #c7c7c7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.action-panel h3{
	font-weight: normal;
	font-size: 40px;
}

.full-post-tags{
	list-style-type: none;
	padding:0;
	margin-top:30px;
}
.full-post-tags li{
	display: inline-block;
}

.full-post-tags li a{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #525A6B;
	color:#fff;
	text-decoration: none;
	margin-right:5px;
	padding:3px 12px;
	display: inline-block;
	margin-top:5px;
}

.full-post-tags li a:hover{
	background: #343B49;
}


/*Infographic detail page*/

.infog{
	text-align: center;
}



/* Footer */

#footer{
	background: #525A6B;
	padding: 50px 0px;
	margin-top:40px;
}

#footer ul li a{
	color:#f2f2f2;
	text-decoration: none;
}

#footer ul{
	list-style-type: none;
	padding: 0;
	margin:0;
}

#footer ul.horizontal li{
	display: inline-block;
	margin-right:10px;

}

#footer ul.horizontal li a{
	color:#525A6B;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background:rgba(255,255,255,0.6);
	padding:4px 9px;
	display: inline-block;

}

#footer ul.horizontal li a:hover{
		background:rgba(255,255,255,1);

}
#footer ul.vertical{

}


#footer h1{
	color:#fff;
}


.infographic-item{
	margin-bottom: 20px;
}

#infogrid{
	margin-top:30px;
}

.foot-social li {
    cursor:pointer;
}

.subscribe_list li {
    line-height:30px;
}
