{% extends "layout/cms-base.html" %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!-- main content of the page -->
				<div data-cms-content="md:left"></div>
				<div data-cms-include='components/blogsections/authors/section--author-{{ cms_content.author.first_name|lower }}.html' data-cms-namespace='author'></div>
					<section class="block blog-section boxed dark" data-cms-attr="class:phonebox_class">
				    <div class="container-fluid">
				        <div class="row">
				            <div class="col-sm-offset-1 col-md-offset-1 col-md-10 col-sm-10">
				                <div class="form-container">
				                    <h2 data-cms-content='phonebox_title'>Get lowest quotes for Two Wheeler Insurance</h2>
				                    <h4 data-cms-content='phonebox_subtitle'>Avail upto 60% discount on Premium.</h4>
				                    <div class="single-field-container">
				                        <form class='phone-number-form'>
				                        <input name='phone' type="number" placeholder="10 digit phone number" />
				                        <button type="submit" data-cms-attr="class:phonebox_ctaclass" data-cms-content="phonebox_ctatext" class='btn btn--orange'  >Schedule a call</button>
				                        <p class="fs err">Please enter a valid phone number</p>
				                        <p class="fs success">Thanks! We will get back to you soon.</p>
				                        <p class='fxs' data-cms-content='phonebox_dnd'>{{ settings.DND_MSG }}</p>
				                        </form>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</section>
				<div data-cms-content="md:left_bottom"></div>

				<section class="block blog-section">
				    <div class="container-fluid">
				        <div class="row">
				            <div class="col-sm-offset-2 col-md-offset-2 col-md-8 col-sm-8">
				                <div class="content-card">
				                    <div class="card-body center">
				                        <div class="card-article-header">
				                            <h2 data-cms-content='share_title'>Spread the love!</h2>
				                            <div class="article-author"><h4 data-cms-content='share_subtitle'>Found the article helpful? Share it with your friends, and help them discover Coverfox</h4></div>
				                        </div>
				                        <div class="card-widget social-widget">
				                            <ul class="social-icons-numbers">
				                                <li>
				                                    <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
				                                </li>
				                                <li>
				                                    <a class="twitter-share-button"
				                                    href=""
				                                    data-counturl=""></a>
				                                </li>
				                                <li>
				                                   <div class="g-plusone" data-size="medium"></div>
				                                </li>
				                            </ul>
				                        </div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</section>
				<!-- Place this tag in your head or just before your close body tag. -->
				<script src="https://apis.google.com/js/platform.js" async defer></script>

				<script>window.twttr = (function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0],
				    t = window.twttr || {};
				  if (d.getElementById(id)) return t;
				  js = d.createElement(s);
				  js.id = id;
				  js.src = "https://platform.twitter.com/widgets.js";
				  fjs.parentNode.insertBefore(js, fjs);

				  t._e = [];
				  t.ready = function(f) {
				    t._e.push(f);
				  };

				  return t;
				}(document, "script", "twitter-wjs"));</script>
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>


				<section class="block">
				    <div class="container-fluid">
				        <div class="row">
				            <div class="col-md-12 col-sm-12">
				                <div class="content-card">
				                    <div class="card-body">
				                        <div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-width="100%" data-numposts="5"></div>
				                    </div>
				                </div>
				            </div>
				        </div>
				    </div>
				</section>
				<div id="fb-root"></div>

				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

			</div>
			<div class="col-md-4">
				<!-- left sidebar content of the page -->
				{% block right_sidebar %}
					<section class="block blog-section boxed hide" data-cms-attr="class:subscribe_box_class">
					    <div class="container-fluid">
					        <div class="row">
					            <div class="col-md-offset-1 col-md-10 col-sm-12">
					                <div class="form-container">
					                    <h2 data-cms-content="blogsub_title">Subscribe to Blog</h2>
					                    <h4 data-cms-content="blogsub_subtitle">Get Insurance and Financial money saving tips in your inbox.</h4>
					                    <div class="form-field-container">
					                        <form class="email-form">
					                        <div class="input-text">
					                            <input name="name" type="text" required />
					                            <label for="name">Your Name</label>
					                        </div>
					                        <div class="input-text">
					                            <input name="email" type="text" required />
					                            <label for="name">Email</label>
					                        </div>
					                        <!--div class="input-text">
					                        <input type="number" required="">
					                        <label for="name">Mobile</label>
					                        </div-->
					                        <button type="submit" data-cms-attr="class:blogsub_ctaclass" data-cms-content="blogsub_ctatext" class="btn btn--orange"  >Subscribe</button>
					                        <p class="fs err">Please enter your name and a valid email id</p>
					                        <p class="fs success">Thanks! We will get back to you soon.</p>
					                        </form>
					                    </div>
					                </div>
					            </div>
					        </div>
					    </div>
					</section>
					<section class="block blog-section banner-column" data-cms-attr="class:link_banner_class">
						<a title="Get lowest rates on Two-wheeler Insurance" href="https://www.coverfox.com/two-wheeler-insurance/?mid=10974&utm_source=organic&utm_content=rightside-cta&utm_medium=blog" data-cms-attr="href:link_banner_href">
							<!-- Required creative image max-width=720px and max-height= 300px -->
							<img src="{{STATIC_URL}}img/cms/cta-banner-images/get-lowest-rates-on-two-wheeler-insurance.jpg" data-cms-attr="src:link_banner_image">
						</a>
					</section>
					<section class="block blog-section boxed">
					    <div class="container-fluid">
					        <div class="row">
					            <div class="col-md-12 col-sm-12">
					                <div class="content-card">
					                    <div class="card-body center">
					                        <div class="card-article-header">
					                            <h2 data-cms-content='social_title'>Let's stay connected!</h2>
					                            <div class="article-author"><h4 data-cms-content='social_subtitle'>Follow us on social media</h4></div>
					                        </div>
					                        <div class="card-widget">
					                            <ul class="social-icons">
					                                <li><a target="_blank" href="https://www.facebook.com/Coverfox.Insurance/"><img src="{{STATIC_URL}}articles/img/facebook-icon.png" alt="Follow us on Facebook"></a></li>
					                                <li><a target="_blank" href="https://twitter.com/coverfox"><img src="{{STATIC_URL}}articles/img/twitter-icon.png" alt="Follow us on Twitter"></a></li>
					                                <li><a target="_blank" data-cms-attr="class:ctaclass" href="https://plus.google.com/+Coverfox/videos"><img src="{{STATIC_URL}}articles/img/gplus-icon.png" alt="Follow us on Google Plus"></a></li>
					                                <li><a target="_blank" href="https://www.linkedin.com/company/coverfox-insurance"><img src="{{STATIC_URL}}articles/img/linkedin-icon.png" alt="Follow us on LinkedIn"></a></li>
					                            </ul>
					                        </div>
					                    </div>
					                </div>
					            </div>
					        </div>
					    </div>
					</section>
					{% include 'components/blogsections/section--sidebar-links-bike.html' %}
				{% endblock right_sidebar %}
			</div>
		</div>
		<section data-cms-attr="class:boxClass" class="block rs-fixed-popup rs-fixed-popup--imgcta" id="rs-fixed-widget">
		    <div class="content-card">
		        <span class="cross-icn" id="close-subscribe">x</span>
		        <div class="card-body">
		            <div class="card-widget">
		            	<a title="Get up to 60% discounts on Two Wheeler Insurance" data-cms-attr="href:popupimgurl" href="https://www.coverfox.com/two-wheeler-insurance/?mid=10976&utm_source=organic&utm_content=scroll-popup-right&utm_medium=blog">
		                	<img data-cms-attr='src:image_url' alt="image title" src="{{STATIC_URL}}img/cms/cta-popup-images/car-and-bike-2.jpg">
		                </a>
		            </div>
		            <div class="card-article-footer">
		                <a title="Get up to 60% discounts on Two Wheeler Insurance" data-cms-attr="href:popupctalink" href="https://www.coverfox.com/two-wheeler-insurance/?mid=10976&utm_source=organic&utm_content=scroll-popup-right&utm_medium=blog" class='btn btn--orange' data-cms-content="popupctatext1">Get up to 60% discounts on <br class="hidden-xs"> Two Wheeler Insurance</a>
		            </div>
		        </div>
		    </div>
		</section>
	</div>
{% endblock main %}
