@import "../../css/base_theme";

/* Overridden css for base_style.css */

html,body {
  position: relative;
  height:100%;
}
@coverSpace:80px;
@bannerBackgroundColor:#2a4e73;
@lightTextColor: #515050;

.hero-wrapper {
  display: table;
  background: url(../img/yoga-banner.jpg) no-repeat center right @bannerBackgroundColor;
  -webkit-background-size: cover;
  background-size: cover;
  position:relative;
  height:100%;
  width:100%;
  max-height: 1024px;
  border-bottom:@coverSpace solid transparent;
  margin-bottom:-(@coverSpace);
  &:before {
    position: absolute;
    content:'';
    top:0;
    left:0;
    bottom:0;
    right:0;
    display: block;
    background-color:rgba(12, 12, 23, 0.6);
  }
  &  #topbar {
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: #ffffff;
    z-index: 200;
  }
}
.companies-wrapper {
  background-color: @boxDarkBackground;
  .boxShadow(0px -5px 15px rgba(0, 0, 0, 0.03));
}


/* Health widget banner css */
.health-widget {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  padding-bottom:60px;
  padding-top:70px;
  text-align: center;
  color: #fff;
  position: relative;
  &  h1 {
    line-height: 1.3em;
    font-size:32px;
    letter-spacing: 1px;
    margin:30px 30px 30px;
    font-weight: 300;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  }
  h3 {
    font-weight: 300;
    letter-spacing: 1px;
    font-size:32px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
    color: rgba(255,255,255,1);
    line-height: 1.4em;
  }
  .btn-cfox {
    max-width: 400px;
    margin:30px 0px;
  }
}
.form-section {
  padding:20px 0px 70px;
  & h1 {
    font-size: 36px;
    font-weight: 300;
  }
  & h4.sub-h {
    color: @lightTextColor;
    margin:15px 0px;
  }
  & .widget-form-box .healthcare-options label, .widget-form-box .gender-radio label {
    color: @lightTextColor;
  }
  & ul.prop {
    max-width: 767px;
    margin:10px 0px 15px;
    padding:0px;
    position: relative;
    li {
      list-style-type: none;
      color:@lightTextColor;
      margin-bottom:15px;
      font-size:16px;
      text-align: left;
      padding-left:30px;
      padding-right:30px;
      position: relative;
      display: block;
      float: left;
      width:auto;
      min-width: 270px;
      & img {
        width:20px;
        height:20px;
        display: inline-block;
        position: absolute;
        top:1px;
        left:0px;
      }
    }
  }
}

.toll-free {
  display: block;
  background-color: darken(#f7fafc,2%);
  .roundedCorners(3px);
  padding:10px 25px 8px;
  max-width: 300px;
  strong {
    display: block;
    font-size:26px;
  }
  &:hover,&:focus,&:active {
    background-color: darken(#f7fafc,5%);
    text-decoration: none;
  }
}

/* Media query css for the banner */

@media only screen and (min-width : 200px) and (max-width : 991px) {
  .health-widget {
    & h1 {
      margin-top: 20px;
      font-size: 56px;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 767px) {
  html,body {
    height: auto;
    min-height:100%;
  }
  .hero-wrapper {
    min-height:100vh;
    margin-bottom: -60px;
    border-bottom: 0px solid transparent;
  }
  .health-widget {
    & h1 {
      font-size:46px;
      margin:20px 0px 20px;
    }
    & h3 {
      font-size:20px;
    }

  }
  .form-section {
    h4 {
      line-height: 1.4em;
    }
    ul.prop {
      padding-left: 0px;
      padding-right:0px;
      max-width: 600px;
      & li {
        width:auto;
        float: none;
      }
    }
  }
  .form-section {
    h1 {
      font-size: 32px;
      line-height: 1.3em;
    }
  }
  .toll-free {
    display: block;
    max-width: 450px;
  }
}

@media screen and (min-width: 200px) and (max-width: 480px) {
  .health-widget {
    & h1 {
      font-size:36px;
    }
    & .btn-cfox {
      margin:15px 0px 30px;
    }
  }
  .companies-wrapper ul.company-logos li img {
    height: 35px;
  }
  .hero-wrapper {
    margin-bottom: -45px;
  }
}