/* Color scheme definitions */
/* Color scheme definitions end */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* Overridden css for base_style.css */
html,
body {
  position: relative;
  height: 100%;
}
.hero-wrapper {
  display: table;
  background: url(../img/yoga-banner.jpg) no-repeat center right #2a4e73;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  max-height: 1024px;
  border-bottom: 80px solid transparent;
  margin-bottom: -80px;
}
.hero-wrapper:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background-color: rgba(12, 12, 23, 0.6);
}
.hero-wrapper #topbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  z-index: 200;
}
.companies-wrapper {
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
}
/* Health widget banner css */
.health-widget {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  padding-bottom: 60px;
  padding-top: 70px;
  text-align: center;
  color: #fff;
  position: relative;
}
.health-widget h1 {
  line-height: 1.3em;
  font-size: 32px;
  letter-spacing: 1px;
  margin: 30px 30px 30px;
  font-weight: 300;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.health-widget h3 {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 32px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  color: #ffffff;
  line-height: 1.4em;
}
.health-widget .btn-cfox {
  max-width: 400px;
  margin: 30px 0px;
}
.form-section {
  padding: 20px 0px 70px;
}
.form-section h1 {
  font-size: 36px;
  font-weight: 300;
}
.form-section h4.sub-h {
  color: #515050;
  margin: 15px 0px;
}
.form-section .widget-form-box .healthcare-options label,
.form-section .widget-form-box .gender-radio label {
  color: #515050;
}
.form-section ul.prop {
  max-width: 767px;
  margin: 10px 0px 15px;
  padding: 0px;
  position: relative;
}
.form-section ul.prop li {
  list-style-type: none;
  color: #515050;
  margin-bottom: 15px;
  font-size: 16px;
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  display: block;
  float: left;
  width: auto;
  min-width: 270px;
}
.form-section ul.prop li img {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0px;
}
.toll-free {
  display: block;
  background-color: #f0f5f9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 25px 8px;
  max-width: 300px;
}
.toll-free strong {
  display: block;
  font-size: 26px;
}
.toll-free:hover,
.toll-free:focus,
.toll-free:active {
  background-color: #e4eef5;
  text-decoration: none;
}
/* Media query css for the banner */
@media only screen and (min-width: 200px) and (max-width: 991px) {
  .health-widget h1 {
    margin-top: 20px;
    font-size: 56px;
  }
}
@media screen and (min-width: 200px) and (max-width: 767px) {
  html,
  body {
    height: auto;
    min-height: 100%;
  }
  .hero-wrapper {
    min-height: 100vh;
    margin-bottom: -60px;
    border-bottom: 0px solid transparent;
  }
  .health-widget h1 {
    font-size: 46px;
    margin: 20px 0px 20px;
  }
  .health-widget h3 {
    font-size: 20px;
  }
  .form-section h4 {
    line-height: 1.4em;
  }
  .form-section ul.prop {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 600px;
  }
  .form-section ul.prop li {
    width: auto;
    float: none;
  }
  .form-section h1 {
    font-size: 32px;
    line-height: 1.3em;
  }
  .toll-free {
    display: block;
    max-width: 450px;
  }
}
@media screen and (min-width: 200px) and (max-width: 480px) {
  .health-widget h1 {
    font-size: 36px;
  }
  .health-widget .btn-cfox {
    margin: 15px 0px 30px;
  }
  .companies-wrapper ul.company-logos li img {
    height: 35px;
  }
  .hero-wrapper {
    margin-bottom: -45px;
  }
}
