html,body
{
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
	background-color: #e6e6ed;
}

*
{
	box-sizing:border-box;
}

.header-wrapper
	{
    width: 100%;
    height: 64px;
    line-height: 64px;
    font-weight: 600;
    background-color:#ff704c;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 1000;
}
.ch1, .ch3
{
	width: 44px;
	height: 64px;
	text-align: center;
}
.ch2
{
	width: 60%;
	height: 64px;
	color: #fff;
	margin-left: 16px;
	font-size: 14px;
}
.fl {
    float: left;
}
.fr
{
	float: right;
}
.center
{
	text-align: center;
}

.card-wrapper
{
	margin:79px 10px 15px;
    background-color: #fff;
}
.card
{
    background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
	background-color: #fff;
    border-radius: 1px;
    margin-bottom: 15px;
}
.card-innerwarapper{
    display: block;
}
.card-body .card-wrapper:first-child {
	margin-top: 10px
}
.card-left
{
    float: left;
    width: 50%;
}
.card-right
{
    float: right;
    background-color: #f7f7fa;
    width: 50%;
    max-width: 200px;
    text-align: right;
    line-height: 18px;
    font-size: 15px;
    vertical-align: top;
    padding-top:5px;
}
.card-agentname{
    font-size: 12px;
    color: #999;
    padding-bottom: 10px;
}
.card-agentname span{
    color: #000;
    font-style: italic;
    display: inline-block;
}

.order, .user-info
{
	padding: 5px 10px;
}

.user-info
{
	padding-left: 15px;
    padding-bottom: 0;
}

.order__time
{
	color: #565656;
}
.order__time span{
    display: inline-block;
}
.order__carmodel
{
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
}

.order__status--completed
{
	color: #95ce22;
}
.order__status--pending
{
	color: #ffc900;
}
.order__status--cancelled
{
	color: #ff0000;
}
.order__status--inprogress, .user-info__address,.user-info__car, .phonenum, .address
{
	color: #0079c5;
}
.user-info__name
{
	padding: 10px 0 5px;
	font-size: 16px;
	font-weight: 300;
}
.user-info__number, .user-info__address, .user-info__car, .order__status--completed
{
	width: 100%;
	display: inline-block;
	font-size: 12px;
    line-height: 16px;
}
.user-info__number, .user-info__address, .user-info__car
{
	position: relative;
    padding-left: 25px;
	margin-bottom: 8px;
}
.user-info__number .icn, .user-info__address .icn, .user-info__car .icn
{
	position: absolute;
	top: 0;
	left: 0;
}
.user-info__cardata div{
    padding-top: 3px;
    display: inline-block;
}
.user-info__cardata > div:first-child{
    padding-right: 10px;

}
.icn
{
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px 16px;
	display: inline-block;
    vertical-align: top
}
.icn--phone
{
	background-image: url('../img/phone.png');
}
.icn--car
{
    background-image: url('../img/car.png');
}
.icn--address
{
	background-image: url('../img/location_on.png');
}
.icn--completed
{
    background-image: url('../img/check.png');
}
.icn--inprogress
{
    background-image: url('../img/inprogress.png');
}
.icn--pending
{
    background-image: url('../img/pending.png');
}
.icn--menu
{
	background-image: url('../img/menu.png');
}
.icn--refresh
{
	background-image: url('../img/refresh.png');
}
.order__status--completed .completedicn
{
	width: 16px;
	height: 16px;
	float: left;
	padding: 0px 4px;
}
.section-header
{
	padding: 10px;
	font-size: 13px;
}

.btn-wrapper{
    padding: 0 0 5px 35px;
}

.btn-wrapper .btn{
    font-size: 12px;
    margin: 5px 0;
}

.btn-wrapper .approve{
    border: 1px solid #ff704c;
    background: #fff;
    color: #ff704c;
    box-shadow: none;
    outline: none;
}
.btn-wrapper a {
    text-decoration: none;
}

.btn-wrapper .approve:active{
    border: 1px solid #ff704c;
    background: #ff704c;
    color: #fff;
    outline: none;
}
.btn-wrapper .disable {
    pointer-events:none;
}

.document_details {
    border: 1px solid #DDDDDD;
    width:60%;
    margin:auto;
    padding-bottom:10px;
    margin-bottom:10px;
}
.document_details p {
}
.document_details img {
    max-height:100%;
    max-width:100%;
    margin: 10px 0px 10px 0px;
}
.search_form p {
    float: left;
    padding: 10px;
}
.btn-wrapper.spread {
    padding:0px;
    padding-bottom:10px;
}
.btn-wrapper.spread .btn {
    border-radius: 0;
    float: left;
    margin: 0;
    width: 33.3%;
    padding:10px;
    font-size:15px;
    text-align: center;
    border-left:1px solid #FFFFFF;
}
.pagination {
    text-align:center;
    margin-top:10px;
    margin-bottom:30px;
}

.inspection .row{
    margin-top: 5px;
}

.lightbox{
    display: none;
    z-index: 9999;
    overflow-y: scroll;
}

.lightbox-outer{
    position:absolute;
    height:100%;
    width:100vw;
    opacity:0.8;
    z-index: 1;
    background: #000;
    overflow-y: scroll;
    top:0;
}

.lightbox-inner{
    height: 100%;
    width: 80%;
    margin: auto;
    z-index: 999;
    opacity: 1;
    position: absolute;
    text-align: center;
    margin: 2em 10%;
}

.lightbox-left, .lightbox-right{
    position:absolute;
    top:0;
    bottom:0;
    width:10%;
    z-index: 999;

}
.lightbox-left{
        left:0;
}

.lightbox-right{
    right:0;
}

.doc_thumbnails .document_details{
    height: 120px;
    overflow: hidden;
    position:relative;
    padding:0 5px;
    margin:0 2px;
    cursor: pointer;
}

.doc_thumbnails .document_details .img-tag{
    position:absolute;
    bottom: 0;
    width:100%;
    opacity: 0.9;
    background-color: #fff;
    z-index: 3;
}

.lightbox-inner img{
    max-height: 600px;
    max-width: 800px;
}

.lightbox .next, .lightbox .prev{
    font-size: 4em;
    color: #acacac;
    position:absolute;
    top:50%;
    transform: translate(0,-50%);
}
.lightbox .close{
    font-size: 4em;
    color: #acacac;
    margin-right: 1em;
}
.lightbox .title{
    color: #fff;
    font-size: 1.3em;
}

.cd_transaction{
    position:relative;
    display: none;
}

.errors{
    color: #FF0033;
}