body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
* {
  -webkit-backface-visibility: hidden;
}
a {
  cursor: pointer;
}
.pnone {
  padding: 0;
}
.plnone {
  padding-left: 0;
}
.prnone {
  padding-right: 0;
}
.fullWidthBackground {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.cubic-trans {
  -moz-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
}
.bounce-trans {
  -moz-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -webkit-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -o-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
}
.d1 {
  -webkit-transition-delay: 100ms !important;
  -moz-transition-delay: 100ms !important;
  -o-transition-delay: 100ms !important;
  transition-delay: 100ms !important;
}
.d2 {
  -webkit-transition-delay: 200ms !important;
  -moz-transition-delay: 200ms !important;
  -o-transition-delay: 200ms !important;
  transition-delay: 200ms !important;
}
.d3 {
  -webkit-transition-delay: 300ms !important;
  -moz-transition-delay: 300ms !important;
  -o-transition-delay: 300ms !important;
  transition-delay: 300ms !important;
}
.d4 {
  -webkit-transition-delay: 400ms !important;
  -moz-transition-delay: 400ms !important;
  -o-transition-delay: 400ms !important;
  transition-delay: 400ms !important;
}
.topLayer {
  position: relative;
  z-index: 200;
}
.middleLayer {
  position: relative;
  z-index: 199;
}
.bottomLayer {
  position: relative;
  z-index: 198;
}
.pnone {
  padding: 0;
}
.cfinput {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #314451;
  padding: 10px 15px;
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.input-cfox {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #44c0ff;
  outline: 0;
  letter-spacing: 1px;
  padding: 15px;
}
.input-cfox:focus {
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.btn-cfox {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.btn-cfox:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.08)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
}
.btn-cfox.small {
  text-transform: none;
  letter-spacing: 0px;
  padding: 5px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-cfox.medium {
  text-transform: none;
  letter-spacing: 0px;
  padding: 8px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-cfox.blank {
  background-color: transparent;
  color: #8baabc;
  border: 1px solid #8baabc;
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-cfox.flat {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #f34100;
}
.btn-cfox.blue {
  background-color: #44c0ff;
  border: 1px solid #11afff;
}
.btn-cfox.blue.empty {
  color: #44c0ff;
}
.line-breaker {
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
}
.line-breaker span {
  display: inline-block;
  background: #fff;
  padding: 10px 15px;
  font-size: 15px;
  position: relative;
  z-index: 10;
}
.line-breaker:before {
  position: absolute;
  border-bottom: 1px solid rgba(49, 68, 81, 0.6);
  content: '';
  height: 1px;
  left: 0;
  top: 50%;
  width: 100%;
  z-index: 9;
}
.top-bar-wrapper {
  border-bottom: 1px solid rgba(49, 68, 81, 0.15);
  padding: 0 30px 15px 30px;
  position: relative;
  z-index: 100;
  background: #f7fafc;
}
.top-bar-wrapper ul {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
}
.top-bar-wrapper ul li {
  display: inline-block;
  vertical-align: middle;
}
.top-bar-wrapper ul li.logo img {
  max-width: 180px;
}
.top-bar-wrapper ul li.irda-tag {
  padding-left: 20px;
  vertical-align: bottom;
  line-height: 120%;
  margin-bottom: -1px;
}
.top-bar-wrapper ul li.btn-menu {
  margin-right: 12px;
}
.btn-menu {
  background: #ff6127;
  border: 1px solid #ff6127;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 20px;
  font-size: 18px;
  cursor: pointer;
}
.btn-menu.empty {
  border: 1px solid #314451;
  color: #314451;
  background: transparent;
}
.new-to-coverfox {
  position: relative;
}
.new-to-coverfox .dd {
  padding: 30px;
  width: 400px;
}
.new-to-coverfox:hover .dd {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.new-to-coverfox .dd-faqs {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f7fafc;
  display: block;
  border: 1px solid #e4eef5;
  -moz-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
}
.new-to-coverfox .dd-faqs > img {
  max-width: 50px;
}
.new-to-coverfox .dd-faqs:hover {
  background: #f0f5f9;
}
.new-to-coverfox .dd-faqs:hover p img {
  margin-left: 5px;
}
.new-to-coverfox .dd-faqs p {
  color: #314451;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 5px;
}
.new-to-coverfox .dd-faqs p img {
  max-width: 14px;
  vertical-align: middle;
  -moz-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
}
.new-to-coverfox .dd-rm {
  text-align: center;
  line-height: 100%;
  margin-top: 20px;
  border-top: 1px solid rgba(49, 68, 81, 0.26);
  padding-top: 20px;
  padding-bottom: 20px;
}
.new-to-coverfox .dd-rm > p {
  opacity: 0.6;
  line-height: 120%;
}
.new-to-coverfox .dd-rm .rm-text {
  text-align: left;
}
.new-to-coverfox .dd-rm .rm-text h5 {
  font-size: 20px;
}
.new-to-coverfox .dd-rm .rm-text p {
  opacity: 0.6;
  font-size: 14px;
}
.new-to-coverfox .dd-rm .rm-text a.btn-cfox {
  font-size: 13px;
  padding: 3px 10px;
  display: inline-block;
  height: 25px;
  margin-top: 10px;
}
.dd {
  position: absolute;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  width: 350px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  opacity: 0;
  background: #fff;
  top: 38px;
  border: 1px solid rgba(49, 68, 81, 0.28);
  -webkit-box-shadow: 2px 0 2px rgba(49, 68, 81, 0.08);
  -moz-box-shadow: 2px 0 2px rgba(49, 68, 81, 0.08);
  box-shadow: 2px 0 2px rgba(49, 68, 81, 0.08);
  right: 0;
  text-align: left;
}
.dd.reveal {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
ul.why-coverfox {
  padding-top: 0;
}
ul.why-coverfox li {
  font-size: 12px;
}
ul.why-coverfox li img {
  width: 10px;
  vertical-align: top;
  margin-top: 4px;
  margin-right: 3px;
}
.footer-wrapper {
  background: #2d3f4b;
  padding: 70px;
  color: #a3b3be;
}
.footer-wrapper h3 {
  color: rgba(255, 255, 255, 0.25);
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
}
.footer-wrapper ul {
  list-style-type: none;
  padding: 0;
}
.footer-wrapper ul li {
  margin-bottom: 6px;
  cursor: pointer;
}
.footer-wrapper ul li a {
  color: #acb1b3;
}
.footer-after-wrapper {
  background: #273741;
  padding: 70px;
  color: #a3b3be;
}
.footer-after-wrapper p strong {
  font-size: 20px;
}
