@import "colors.less";
@import "basestyles.less";

.clearfix {
	clear: both;
}

.txt-r{
	text-align: right;
}

#topbar {
  padding: 10px 0;
  position: relative;
  .logo {
    float: left;
    text-align: center;
    width: 130px;
    margin-top: 2px;
    margin-bottom: 3px;
    & img {
      width:100%;
    }
  }
  .menuimg {
    position: absolute;
    height: 30px;
    width:30px;
    background-color: #363636;
    padding: 5px;
    top:3px;
    right:0px;
    .roundedCorners(30px);
  }
  #right-menu-items {
    padding-left:10px;
    margin-top:0px;
    margin-bottom:0px;
    text-align: right;
    float: right;
    margin-left:-70px;
  }
  #right-menu-items li {
    display: inline-block;
    font-size: 10px;
    color: #999999;
    text-transform: uppercase;
    margin: 0;
    padding-right:40px;
    text-align: right;
    position: relative;
  }

  #right-menu-items li a {
    font-size: 16px;
    display: block;
    color: #363636;
    padding:0px;
    &:hover {
      text-decoration: none;
      cursor: default;
    }
  }
  .irda-auth-badge {
    letter-spacing: 0;
    width:215px;
    vertical-align: bottom;
    text-align: left;
    float: left;
    margin-left: 20px;
    font-size:12px;
  }
  #right-menu-items {
    & li.pipe-link {
      padding:5px 10px;
      &.seperator {
        border-right: 1px solid #eaeaea;
        margin: 0px 10px;
        height: 30px;
        padding: 0;
      }
      & a {
        display: inline-block;
        font-size: 13px;
        cursor: pointer;
        font-weight: 600;
        position: relative;
        top: -10px;
      }
      & a:hover {
        text-decoration: none;
        color: #ff704c;
      }
    }
  }
  .navbar-toggle {
    display: none;
    margin-right:10px;
    padding:0px;
    height:34px;
    width:34px;
    text-align: center;
    background-color: #f3f3f3;
    border: 1px solid rgba(0,0,0,0);
    .boxShadow(0 1px 1px rgba(0,0,0,0.3));
    cursor: pointer;
    .roundedCorners(3px);
    &:active,&:focus,&:hover {
      outline: none;
    }
    & .bar {
      content: "";
      position: absolute;
      -webkit-transition: all;
      -o-transition: all;
      transition: all;
      -webkit-transition-duration: 300ms;
      transition-duration: 300ms;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden;
      top: 15px;
      display: inline-block;
      width: 15px;
      height: 3px;
      background-color: #363636;
      left: 9px;

      &.plus {
        .transform(scale(1));
        &:before {
          content: '';
          display: inline-block;
          height: 16px;
          width: 3px;
          background-color: inherit;
          top: -7px;
          left: 6px;
          position: absolute;
        }
      }
      &.minus {
        .transform(scale(0));
      }
    }
    &.active {
      & .bar.plus {
        .transform(scale(0) rotate(-90deg));
      }
      & .bar.minus {
        .transform(scale(1));
      }
    }
  }
  .pipe-menu-right {
    .cubic-trans;
    position: relative;
    text-align: left;
    margin:0 -15px 0px;
    padding: 0px;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    opacity: 0;
    visibility:hidden;
    .transform(scaleY(0));
    height: 0px;
    overflow: hidden;
    border-bottom:1px solid rgba(0,0,0,0.07);
    &.active {
      overflow:visible;
      margin-top:10px;
      margin-bottom: -10px;
      height:auto;
      opacity: 1;
      visibility:visible;
      top:100%;
      .transform(scaleY(1));
    }
    & li {
      display:block;
      padding:0px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0px;
      & a {
        display: block;
        padding: 15px;
        background-color: #f7f7f7;
        border-top:1px solid rgba(0,0,0,0.05);
        &:hover,&:focus,&:active {
          color: #ff704c;
          text-decoration: none;
        }
      }
    }
  }
}


.hero_wrapper {
	background: @baseBlack;
	min-height: 500px;
	padding: 30px 0;
	margin: 0;
  height: auto;
	.bot_border {
		width: 150px;
		height: 5px;
		background: @cfBaseColor;
	}
	h1 {
		color: #fff;
		font-size: 34px;
		font-weight: 300;
		text-align: left;
		padding: 20px 0 0;
	}
	h4{
		font-size: 16px;
		line-height: 21px;
	}
	.book_pic{
		margin: 0;
	}
}

h4{
	color: rgba(255,255,255,0.7);
	font-size: 20px;
	font-weight: 300;
	text-align: left;
	padding:20px 0 0;
}

.form_wrapper{
	max-width: 300px;
	margin: 20px 0;
}
.field_wrapper{
	padding: 10px 10px 0 0;
}

label{
	color: #fff;
	font-size: 14px;
	line-height: 18px;
}

.cf-input{
	width: 100%;
	max-width:100%;
	height: 40px;
	padding:4px 10px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.error {
  color: #f00;
  margin: 5px 0 0 0;
  font-size: 14px;
  line-height: initial;
  padding: 5px 0 5px 5px;
}


.btn{
  .boxShadow(~"0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)");
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 8px 10px;
  .roundedCorners(3px);
  cursor: pointer;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  .transition(@time:200ms);
  &:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  &.orange{
    color:#fff;
    background-color: @cfBaseColor;
    border: 1px solid darken(@cfBaseColor, 5%);
    &:hover{
      background: darken(@cfBaseColor, 5%);
    }
    &:active{
      background: darken(@cfBaseColor, 10%);
    }
  }
}

.sec_block{
	padding: 50px 0;
	background: #fff;
	&.dark{
		background: @grey-2;
	}
	&.darker{
		background: @baseBlack;
	}
	&.footer{
		border-top: 1px solid rgba(0, 0, 0, 0.05);
		.boxShadow(0 -1px 0 rgba(255,255,255,0.08));
		padding: 15px 0;
		color: #fff;
		p{
			margin: 0;
		}
	}
	h2 {
		color: @cfBaseColor;
		font-size: 34px;
		font-weight: 300;
		text-align: center;
		padding: 0;
	}
	.sub_section{
		padding: 20px 0;
		.sub_section_icon{
			text-align: center;
			padding: 0;
			img{
				max-width: 40px;
			}
		}
		.sub_section_wrapper{
			padding: 0;
			h4{
			color: @baseBlack;
			font-size: 20px;
			font-weight: 500;
			text-align: left;
			padding: 0;
			margin: 0 0 10px;
			}
			p{
				color: @baseBlack;
				font-size: 14px;
				font-weight: 300;
				text-align: left;
				padding: 0;
			}
		}		
	}
	.author_pic{
		width: 200px;
		height: 200px;
		border-radius: 50%;
		margin: 30px auto;
		background: url(../img/mahavir.png) no-repeat center center;
		border: 1px solid #ccc;
	}
	.author_intro{
		max-width: 530px;
		margin: 0 auto;
		padding:0 15px;
		font-size: 16px;
		line-height: 1.6em;
		text-align: justify;
	}
	.author_connect{
		margin: 20px 0;
		text-align: center;
		.icon{
			width: 41px;
			height: 41px;
			margin: 0 5px;
			display: inline-block;
			&.fb{
				background: url(../img/facebook.png) no-repeat left top;
			}
			&.lkd{
				background: url(../img/linkedin.png) no-repeat left top;
			}
			&.twt{
				background: url(../img/twitter.png) no-repeat left top;
			}
		}
	}
	.chap_list{
		margin: 0;
		padding: 0;
		ul{
			padding: 0;
			margin: 0;
			li{
				position: relative;
				font-size: 14px;
				border-bottom: 1px solid lighten(@baseBlack, 20%);
				list-style: none;
				padding: 15px 50px 10px 5px;
				width: 100%;
				text-transform: uppercase;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				span{
					position: absolute;
					font-size: 14px;
					right: 20px;
				}
			}
		}
	}
	.bottom_form_wrapper{
		max-width: 600px;
		margin: 20px auto;
		padding: 30px;
		border-radius: 10px;
		background: darken(@baseBlack, 5%);
		h4{
			margin: 0 0 20px;
			padding: 10px 0 0;
		}
		.book_pic{
			display: none;
		}
	}
}

.note{
	margin: 30px 0 0;
	font-size: 12px;
	color: rgba(255,255,255,0.7);
}
small{
	margin: 30px 0 0;
	font-size: 10px;
	color: rgba(255,255,255,0.7);
}




@media screen and (min-width: 200px) and (max-width: 1000px) {
  .logo{
    img{
      max-width: 120px;
    }
  }
  .logo_section_list .logo_list .logo_container{
    width:18%;
  }
  .testimonials-section .testimonail-list img{
    width:95px;
    height: 95px;
  }
  }
@media screen and (min-width: 200px) and (max-width: 1200px) {
   .logo_section_list .logo_list .logo_container{
    width:18%;
  }
  .testimonials-section .testimonail-list img{
    width:100%;
    height: 100%;
  }
  }
@media screen and (min-width: 200px) and (max-width: 767px) {
  #topbar {
  	background: #fff;
    .navbar-toggle {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 10px;
    }
    #right-menu-items .pipe-link {
      display: none;
    }
    #right-menu-items li {
      padding-right:0px;
    }
    #right-menu-items {
      margin-right: 50px;
    }
    .menuimg {
      display: none;
    }
  }


	.sec_block{
		.sub_section{
			.sub_section_icon{
				img{
					max-width: 35px;
				}
			}
		}
	}
	.book_pic{
		display: none;
	}
}

@media screen and (min-width: 320px) and (max-width: 479px) {
	.sec_block{
		.sub_section{
			.sub_section_icon{
				img{
					max-width: 27px;
				}
			}
		}
	}
}