{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}

{%if form.instance and form.instance.data_set.all%}
<!--div class="well">
    <strong>Related raw data</strong>
    <table class="table">
        {%for rdata in form.instance.data_set.all%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td title="{{rdata.id}}">{{rdata.format|linebreaksbr}}</td>
            </tr>
        {%endfor%}
    </table>
</div-->
{%endif%}

{%if form.instance and form.instance.insurer%}
<strong>Insurers : </strong> {%for ins in form.instance.insurer.all%}{{ins.title}}, {%endfor%}
{%endif%}
<div class="well" id="selected_info">
    <strong>Selected raw data</strong>
    <table class="table">
        <tr>
            <td title="{{form.rdata.id}}">{{form.rdata.by_insurer.title}} - {{form.rdata.format|linebreaksbr}}</td>
            <td><a id="rawdata_{{form.rdata.id}}"></a></td>
        </tr>
    </table>

{%if form.instance%}
    <strong>Attached raw data</strong>
    <table class="table">
        {%for rawd in form.instance.data_set.all%}
            {%if rawd != form.rdata%}
            <tr>
                <td>{{rawd.by_insurer.title}} - {{rawd.raw}}</td>
            </tr>
            {%endif%}
        {%endfor%}
    </table>
{%endif%}

    <strong>Manually selected match</strong>
    <table class="table" id="rdataset">
    </table>

    <strong>Duplicate raw data</strong>
    <table class="table">
        {%for dd in form.duplicate_data_set%}
        <tr>
            <td>{{forloop.count}}</td>
            <td title="{{dd.id}}">{{dd.format|linebreaksbr}}</td>
            <td><a class="btn btn-danger dupdata" id="dupdata_{{dd.id}}">Detach</a></td>
        </tr>
        {%endfor%}
    </table>
    <table class="table" id="rdataset">
    </table>
</div>

<div id="rdataids">
    <span class="hide" id="data_value">{{form.rdata.id}}</span>
</div>
    <div class="hide">{{form.googledata}}</div>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.name.label}}</label>
            <div class="controls">
                {{form.name|attr:"rows:1"|attr:"class:span12"}}
            <p class="help-block">{{form.name.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.city_name.label}}</label>
            <div class="controls">
                <div class="row-fluid">
                {{form.city_name|attr:"class:span6"}},
                <span id="id_state_name">{{form.state_name}}</span>
                {{form.city}}
            <p class="help-block">{{form.city_name.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.address1.label}}</label>
            <div class="controls">
                {{form.address1|attr:"rows:5"|attr:"class:span12"}}
            <p class="help-block">{{form.address1.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <div class="row-fluid">
                <div class="control-group span12">
                    <label class="control-label">{{form.landmark.label}}</label>
                    <div class="controls">
                        {{form.landmark|attr:"class:span12"}}
                    <p class="help-block">{{form.landmark.help_text}}</p>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group span12">
                    <label class="control-label">{{form.district.label}}</label>
                    <div class="controls">
                        {{form.district|attr:"class:span12"}}
                    <p class="help-block">{{form.district.help_text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.pincode.label}}</label>
            <div class="controls">
                {{form.pincode|attr:"class:span12"}}
            <p class="help-block">{{form.pincode.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.std_code.label}}</label>
            <div class="controls">
                {{form.std_code|attr:"class:span12"}}
            <p class="help-block">{{form.std_code.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.phone1.label}}</label>
            <div class="controls">
                {{form.phone1|attr:"class:span12"}}
            <p class="help-block">{{form.phone1.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.phone2.label}}</label>
            <div class="controls">
                {{form.phone2|attr:"class:span12"}}
            <p class="help-block">{{form.phone2.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.fax1.label}}</label>
            <div class="controls">
                {{form.fax1|attr:"class:span12"}}
            <p class="help-block">{{form.fax1.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.fax2.label}}</label>
            <div class="controls">
                {{form.fax2|attr:"class:span12"}}
            <p class="help-block">{{form.fax2.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.email.label}}</label>
            <div class="controls">
                {{form.email|attr:"class:span12"}}
            <p class="help-block">{{form.email.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.url.label}}</label>
            <div class="controls">
                {{form.url|attr:"class:span12"}}
            <p class="help-block">{{form.url.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.lat.label}}</label>
            <div class="controls">
                {{form.lat|attr:"class:span12"}}
            <p class="help-block">{{form.lat.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.lng.label}}</label>
            <div class="controls">
                {{form.lng|attr:"class:span12"}}
            <p class="help-block">{{form.lng.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.no_of_beds.label}}</label>
            <div class="controls">
                {{form.no_of_beds|attr:"class:span12"}}
            <p class="help-block">{{form.no_of_beds.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.no_of_major_ots.label}}</label>
            <div class="controls">
                {{form.no_of_major_ots|attr:"class:span12"}}
            <p class="help-block">{{form.no_of_major_ots.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.owned_ambulances.label}}</label>
            <div class="controls">
                {{form.owned_ambulances|attr:"class:span12"}}
            <p class="help-block">{{form.owned_ambulances.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.registered_blood_bank.label}}</label>
            <div class="controls">
                {{form.registered_blood_bank|attr:"class:span12"}}
            <p class="help-block">{{form.registered_blood_bank.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.disposition.label}}</label>
            <div class="controls">
                {{form.disposition|attr:"class:span12"}}
            <p class="help-block">{{form.disposition.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span12">
            <label class="control-label">{{form.remarks.label}}</label>
            <div class="controls">
                {{form.remarks|attr:"class:span12"|attr:"rows:4"}}
            <p class="help-block">{{form.remarks.help_text}}</p>
            </div>
        </div>
    </fieldset>
