{% load manip_data %}
{% load widget_tweaks %}
{%csrf_token%}

{%if form.instance and form.instance.id%}
<strong>Insurers : </strong>
    {%for ins in form.instance.insurer.all%}{{ins.title}}, {%endfor%}
    {%for dup in form.instance.healthcarecenter_set.all%}
        {%for dins in dup.insurer.all%}{{dins.title}}, {%endfor%}
    {%endfor%}
{%endif%}

<div class="well" id="selected_info">
    <strong>Duplicate Data</strong>
    <table class="table">
        {%for dhcc in form.instance.healthcarecenter_set.all%}
        <tr>
            <td>{{dhcc.id}}</td>
            <td>{{dhcc.name}}</td>
            <td>{{dhcc.address1}}</td>
            <td>{{dhcc.landmark}}</td>
            <td>{{dhcc.district}}</td>
            <td>{{dhcc.pincode}}</td>
            <td>{{dhcc.city.name}}</td>
        </tr>
        {%endfor%}
    </table>
</div>

    <div class="hide">{{form.googledata}}</div>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.name.label}}</label>
            <div class="controls">
                {{form.name|attr:"rows:1"|attr:"class:span12"}}
            <p class="help-block">{{form.name.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.city_name.label}}</label>
            <div class="controls">
                <div class="row-fluid">
                {{form.city_name|attr:"class:span6"}},
                <span id="id_state_name">{{form.state_name}}</span>
                {{form.city}}
            <p class="help-block">{{form.city_name.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.address1.label}}</label>
            <div class="controls">
                {{form.address1|attr:"rows:5"|attr:"class:span12"}}
            <p class="help-block">{{form.address1.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <div class="row-fluid">
                <div class="control-group span12">
                    <label class="control-label">{{form.landmark.label}}</label>
                    <div class="controls">
                        {{form.landmark|attr:"class:span12"}}
                    <p class="help-block">{{form.landmark.help_text}}</p>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="control-group span12">
                    <label class="control-label">{{form.district.label}}</label>
                    <div class="controls">
                        {{form.district|attr:"class:span12"}}
                    <p class="help-block">{{form.district.help_text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.pincode.label}}</label>
            <div class="controls">
                {{form.pincode|attr:"class:span12"}}
            <p class="help-block">{{form.pincode.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.std_code.label}}</label>
            <div class="controls">
                {{form.std_code|attr:"class:span12"}}
            <p class="help-block">{{form.std_code.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.phone1.label}}</label>
            <div class="controls">
                {{form.phone1|attr:"class:span12"}}
            <p class="help-block">{{form.phone1.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.phone2.label}}</label>
            <div class="controls">
                {{form.phone2|attr:"class:span12"}}
            <p class="help-block">{{form.phone2.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.fax1.label}}</label>
            <div class="controls">
                {{form.fax1|attr:"class:span12"}}
            <p class="help-block">{{form.fax1.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.fax2.label}}</label>
            <div class="controls">
                {{form.fax2|attr:"class:span12"}}
            <p class="help-block">{{form.fax2.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.email.label}}</label>
            <div class="controls">
                {{form.email|attr:"class:span12"}}
            <p class="help-block">{{form.email.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.url.label}}</label>
            <div class="controls">
                {{form.url|attr:"class:span12"}}
            <p class="help-block">{{form.url.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.lat.label}}</label>
            <div class="controls">
                {{form.lat|attr:"class:span12"}}
            <p class="help-block">{{form.lat.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.lng.label}}</label>
            <div class="controls">
                {{form.lng|attr:"class:span12"}}
            <p class="help-block">{{form.lng.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.no_of_beds.label}}</label>
            <div class="controls">
                {{form.no_of_beds|attr:"class:span12"}}
            <p class="help-block">{{form.no_of_beds.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.no_of_major_ots.label}}</label>
            <div class="controls">
                {{form.no_of_major_ots|attr:"class:span12"}}
            <p class="help-block">{{form.no_of_major_ots.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.owned_ambulances.label}}</label>
            <div class="controls">
                {{form.owned_ambulances|attr:"class:span12"}}
            <p class="help-block">{{form.owned_ambulances.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.registered_blood_bank.label}}</label>
            <div class="controls">
                {{form.registered_blood_bank|attr:"class:span12"}}
            <p class="help-block">{{form.registered_blood_bank.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span6">
            <label class="control-label">{{form.verification_level.label}}</label>
            <div class="controls">
                {{form.verification_level|attr:"class:span12"}}
            <p class="help-block">{{form.verification_level.help_text}}</p>
            </div>
        </div>
        <div class="control-group span6">
            <label class="control-label">{{form.disposition.label}}</label>
            <div class="controls">
                {{form.disposition|attr:"class:span12"}}
            <p class="help-block">{{form.disposition.help_text}}</p>
            </div>
        </div>
    </fieldset>
    <fieldset class="row-fluid">
        <div class="control-group span12">
            <label class="control-label">{{form.remarks.label}}</label>
            <div class="controls">
                {{form.remarks|attr:"class:span12"|attr:"rows:4"}}
            <p class="help-block">{{form.remarks.help_text}}</p>
            </div>
        </div>
    </fieldset>
