{% extends 'account_manager/cfsupport/base.html' %}

 {% block header_css %}
     <style type="text/css">
     .cf-radio{position:relative;padding-left: 30px; margin-right: 30px;font-weight: normal;vertical-align: sub;}
     .cf-radio input:checked + span{display: block; position: absolute; background-color: #EA680B; width: 12px; height: 12px; border-radius: 50%;left: 5px;top: 50%;margin-top: -5px;}
     .cf-radio:before{content:''; position:absolute; content: ''; position: absolute; width: 22px; height: 22px; border: 1px solid #EA680B;  border-radius: 50%;left: 0;cursor: pointer;}
     .cf-radio input{display:none;}

     .form-horizontal .control-label{font-weight:normal;}

     .members_cont{}
     .members_cont > p{display: inline-block; border: 1px solid #aaa; border-radius: 3px; padding: 2px 2px 2px 10px; margin-right:20px;}
     .members_cont > p > label{display: inline-block;font-weight: normal; padding-right: 10px; border-right: 1px solid #aaa; margin: 0;width: 90px;}
     .members_cont > p  .select2-selection{border-color: transparent}
     .members_cont > p select{width: 110px;}

     .affected_members{margin-top: -15px;padding-left: 5px;}
     .affected_members > div{margin-bottom: 10px;}
     .affected_members > div > label{font-size: 12px;margin-right: 20px;}
     .affected_members > div > p{olor: #666;margin-bottom: 2px;font-weight: bold;font-size: 13px;}
     </style>
 {% endblock %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <h3 id="quote">Health offline Transaction form</h3>
    <div class="alert alert-success hide" role="alert" id="success"></div>
    <div class="alert alert-danger hide" role="alert" id="failure">
        Please correct the errors in form and submit again
    </div>
    <form id="offline_form" class="form-horizontal" method="post">
        {% csrf_token %}

{#            <div class="form-group">#}
{#                <label for="id_proposer_gender" class="col-sm-3 control-label">Policy Type</label>#}
{#                <div class="col-sm-9">#}
{#                    <label class="cf-radio"><input type="radio" name="policy_type" checked value="NEW"><span></span> New health policy</label>#}
{#                    <label class="cf-radio"><input type="radio" name="policy_type" value="RENEW"><span></span> Super Top-up</label>#}
{#                </div>#}
{#            </div>#}
            <div class="form-group">
                <label for="id_proposer_gender" class="col-sm-2 control-label">Proposer Gender*</label>
                <div class="col-sm-10">
                    <label class="cf-radio"><input type="radio" name="proposer_gender" checked value="MALE"><span></span> Male</label>
                    <label class="cf-radio"><input type="radio" name="proposer_gender" value="FEMALE"><span></span> Female</label>
                </div>
            </div>
            <div class="form-group">
                <label for="id_proposer_gender" class="col-sm-2 control-label">MEMBERS TO BE INSURED</label>
                <div class="col-sm-10">
                    <div class="members_cont">
                        <p>
                            <label><input type="checkbox" > You</label>
                            <select>
                                <option value="">Select age</option><option value="18">18 years</option><option value="19">19 years</option><option value="20">20 years</option><option value="21">21 years</option><option value="22">22 years</option><option value="23">23 years</option><option value="24">24 years</option><option value="25">25 years</option><option value="26">26 years</option><option value="27">27 years</option><option value="28">28 years</option><option value="29">29 years</option><option value="30">30 years</option><option value="31">31 years</option><option value="32">32 years</option><option value="33">33 years</option><option value="34">34 years</option><option value="35">35 years</option><option value="36">36 years</option><option value="37">37 years</option><option value="38">38 years</option><option value="39">39 years</option><option value="40">40 years</option><option value="41">41 years</option><option value="42">42 years</option><option value="43">43 years</option><option value="44">44 years</option><option value="45">45 years</option><option value="46">46 years</option><option value="47">47 years</option><option value="48">48 years</option><option value="49">49 years</option><option value="50">50 years</option><option value="51">51 years</option><option value="52">52 years</option><option value="53">53 years</option><option value="54">54 years</option><option value="55">55 years</option><option value="56">56 years</option><option value="57">57 years</option><option value="58">58 years</option><option value="59">59 years</option><option value="60">60 years</option><option value="61">61 years</option><option value="62">62 years</option><option value="63">63 years</option><option value="64">64 years</option><option value="65">65 years</option><option value="66">66 years</option><option value="67">67 years</option><option value="68">68 years</option><option value="69">69 years</option><option value="70">70 years</option><option value="71">71 years</option><option value="72">72 years</option><option value="73">73 years</option><option value="74">74 years</option><option value="75">75 years</option><option value="76">76 years</option><option value="77">77 years</option><option value="78">78 years</option><option value="79">79 years</option><option value="80">80 years</option><option value="81">81 years</option><option value="82">82 years</option><option value="83">83 years</option><option value="84">84 years</option><option value="85">85 years</option><option value="86">86 years</option><option value="87">87 years</option><option value="88">88 years</option><option value="89">89 years</option><option value="90">90 years</option><option value="91">91 years</option><option value="92">92 years</option><option value="93">93 years</option><option value="94">94 years</option><option value="95">95 years</option><option value="96">96 years</option><option value="97">97 years</option><option value="98">98 years</option><option value="99">99 years</option><option value="100">100 years</option>
                            </select>
                        </p><p>
                            <label><input type="checkbox" > <span class="cf_spouse">Wife</span></label>
                            <select>
                                <option value="">Select age</option><option value="18">18 years</option><option value="19">19 years</option><option value="20">20 years</option><option value="21">21 years</option><option value="22">22 years</option><option value="23">23 years</option><option value="24">24 years</option><option value="25">25 years</option><option value="26">26 years</option><option value="27">27 years</option><option value="28">28 years</option><option value="29">29 years</option><option value="30">30 years</option><option value="31">31 years</option><option value="32">32 years</option><option value="33">33 years</option><option value="34">34 years</option><option value="35">35 years</option><option value="36">36 years</option><option value="37">37 years</option><option value="38">38 years</option><option value="39">39 years</option><option value="40">40 years</option><option value="41">41 years</option><option value="42">42 years</option><option value="43">43 years</option><option value="44">44 years</option><option value="45">45 years</option><option value="46">46 years</option><option value="47">47 years</option><option value="48">48 years</option><option value="49">49 years</option><option value="50">50 years</option><option value="51">51 years</option><option value="52">52 years</option><option value="53">53 years</option><option value="54">54 years</option><option value="55">55 years</option><option value="56">56 years</option><option value="57">57 years</option><option value="58">58 years</option><option value="59">59 years</option><option value="60">60 years</option><option value="61">61 years</option><option value="62">62 years</option><option value="63">63 years</option><option value="64">64 years</option><option value="65">65 years</option><option value="66">66 years</option><option value="67">67 years</option><option value="68">68 years</option><option value="69">69 years</option><option value="70">70 years</option><option value="71">71 years</option><option value="72">72 years</option><option value="73">73 years</option><option value="74">74 years</option><option value="75">75 years</option><option value="76">76 years</option><option value="77">77 years</option><option value="78">78 years</option><option value="79">79 years</option><option value="80">80 years</option><option value="81">81 years</option><option value="82">82 years</option><option value="83">83 years</option><option value="84">84 years</option><option value="85">85 years</option><option value="86">86 years</option><option value="87">87 years</option><option value="88">88 years</option><option value="89">89 years</option><option value="90">90 years</option><option value="91">91 years</option><option value="92">92 years</option><option value="93">93 years</option><option value="94">94 years</option><option value="95">95 years</option><option value="96">96 years</option><option value="97">97 years</option><option value="98">98 years</option><option value="99">99 years</option><option value="100">100 years</option>
                            </select>
                        </p><p>
                            <label><input type="checkbox" > Father</label>
                            <select>
                                <option value="">Select age</option><option value="18">18 years</option><option value="19">19 years</option><option value="20">20 years</option><option value="21">21 years</option><option value="22">22 years</option><option value="23">23 years</option><option value="24">24 years</option><option value="25">25 years</option><option value="26">26 years</option><option value="27">27 years</option><option value="28">28 years</option><option value="29">29 years</option><option value="30">30 years</option><option value="31">31 years</option><option value="32">32 years</option><option value="33">33 years</option><option value="34">34 years</option><option value="35">35 years</option><option value="36">36 years</option><option value="37">37 years</option><option value="38">38 years</option><option value="39">39 years</option><option value="40">40 years</option><option value="41">41 years</option><option value="42">42 years</option><option value="43">43 years</option><option value="44">44 years</option><option value="45">45 years</option><option value="46">46 years</option><option value="47">47 years</option><option value="48">48 years</option><option value="49">49 years</option><option value="50">50 years</option><option value="51">51 years</option><option value="52">52 years</option><option value="53">53 years</option><option value="54">54 years</option><option value="55">55 years</option><option value="56">56 years</option><option value="57">57 years</option><option value="58">58 years</option><option value="59">59 years</option><option value="60">60 years</option><option value="61">61 years</option><option value="62">62 years</option><option value="63">63 years</option><option value="64">64 years</option><option value="65">65 years</option><option value="66">66 years</option><option value="67">67 years</option><option value="68">68 years</option><option value="69">69 years</option><option value="70">70 years</option><option value="71">71 years</option><option value="72">72 years</option><option value="73">73 years</option><option value="74">74 years</option><option value="75">75 years</option><option value="76">76 years</option><option value="77">77 years</option><option value="78">78 years</option><option value="79">79 years</option><option value="80">80 years</option><option value="81">81 years</option><option value="82">82 years</option><option value="83">83 years</option><option value="84">84 years</option><option value="85">85 years</option><option value="86">86 years</option><option value="87">87 years</option><option value="88">88 years</option><option value="89">89 years</option><option value="90">90 years</option><option value="91">91 years</option><option value="92">92 years</option><option value="93">93 years</option><option value="94">94 years</option><option value="95">95 years</option><option value="96">96 years</option><option value="97">97 years</option><option value="98">98 years</option><option value="99">99 years</option><option value="100">100 years</option>
                            </select>
                        </p><p>
                            <label><input type="checkbox" > Mother</label>
                            <select>
                                <option value="">Select age</option><option value="18">18 years</option><option value="19">19 years</option><option value="20">20 years</option><option value="21">21 years</option><option value="22">22 years</option><option value="23">23 years</option><option value="24">24 years</option><option value="25">25 years</option><option value="26">26 years</option><option value="27">27 years</option><option value="28">28 years</option><option value="29">29 years</option><option value="30">30 years</option><option value="31">31 years</option><option value="32">32 years</option><option value="33">33 years</option><option value="34">34 years</option><option value="35">35 years</option><option value="36">36 years</option><option value="37">37 years</option><option value="38">38 years</option><option value="39">39 years</option><option value="40">40 years</option><option value="41">41 years</option><option value="42">42 years</option><option value="43">43 years</option><option value="44">44 years</option><option value="45">45 years</option><option value="46">46 years</option><option value="47">47 years</option><option value="48">48 years</option><option value="49">49 years</option><option value="50">50 years</option><option value="51">51 years</option><option value="52">52 years</option><option value="53">53 years</option><option value="54">54 years</option><option value="55">55 years</option><option value="56">56 years</option><option value="57">57 years</option><option value="58">58 years</option><option value="59">59 years</option><option value="60">60 years</option><option value="61">61 years</option><option value="62">62 years</option><option value="63">63 years</option><option value="64">64 years</option><option value="65">65 years</option><option value="66">66 years</option><option value="67">67 years</option><option value="68">68 years</option><option value="69">69 years</option><option value="70">70 years</option><option value="71">71 years</option><option value="72">72 years</option><option value="73">73 years</option><option value="74">74 years</option><option value="75">75 years</option><option value="76">76 years</option><option value="77">77 years</option><option value="78">78 years</option><option value="79">79 years</option><option value="80">80 years</option><option value="81">81 years</option><option value="82">82 years</option><option value="83">83 years</option><option value="84">84 years</option><option value="85">85 years</option><option value="86">86 years</option><option value="87">87 years</option><option value="88">88 years</option><option value="89">89 years</option><option value="90">90 years</option><option value="91">91 years</option><option value="92">92 years</option><option value="93">93 years</option><option value="94">94 years</option><option value="95">95 years</option><option value="96">96 years</option><option value="97">97 years</option><option value="98">98 years</option><option value="99">99 years</option><option value="100">100 years</option>
                            </select>
                        </p></div>
                    <button type="button" class="btn btn-default add_son">Add Son</button>
                    <button type="button" class="btn btn-default add_daughter">Add Daughter</button>
{#                    <input  name="members_data" type="hidden" value="" class="members_json">#}
                </div>
            </div>

        <div id="quote_form_details">
            {% include 'account_manager/bootstrap_form.html' %}
        </div>
        <div class="affected_members col-sm-offset-2"></div>
    <div class="col-sm-offset-2 alert alert-danger form_error_1" style="display: none;" role="alert">
        Error messages here.
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="submit_form" type="button" class="btn btn-default">Submit</button>
        </div>
    </div>
    </form>
</div>
{% endblock %}

{% block footer_css %}
<link href="{{ STATIC_URL }}global/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}global/css/select2.min.css" rel="stylesheet">
{% endblock %}

{% block footer_js %}
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.min.js"></script>
<script src="{{ STATIC_URL }}js/select2.min.js"></script>
<script src="{{ STATIC_URL }}account_manager/js/offline/health.js"></script>
{% endblock %}
