{% extends 'account_manager/cfsupport/base.html' %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="alert alert-success hide" role="alert" id="success"></div>
    <div class="alert alert-danger hide" role="alert" id="failure">
        Please correct the errors in form and submit again
    </div>
    <h3 id="quote">Quote form</h3>
    <form id="quote_form" class="form-horizontal" method="post">
        <div id="quote_form_details">
            {% with quote_form as form %}
                {% include 'account_manager/bootstrap_form.html' %}
            {% endwith %}
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="quote_submit" type="button" class="btn btn-default">Next</button>
            </div>
        </div>
    </form>

    <h3 id="proposal" class="hide">Proposal form</h3>
    <form id="proposal_form" class="hide form-horizontal" method="post">
        <div id="proposal_form_details">
            {% with proposal_form as form %}
                {% include 'account_manager/bootstrap_form.html' %}
            {% endwith %}
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="proposal_back" type="submit" class="btn btn-default">Prev</button>
                <button id="proposal_submit" type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}

{% block footer_css %}
<link href="{{ STATIC_URL }}global/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="{{ STATIC_URL }}global/css/select2.min.css" rel="stylesheet">
{% endblock %}

{% block footer_js %}
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.min.js"></script>
<script src="{{ STATIC_URL }}js/select2.min.js"></script>
<script src="{{ STATIC_URL }}account_manager/js/offline/motor.js"></script>
{% endblock %}
