@import "_mixins.css";

.app-container{
  margin-top:100px;
  @mixin flexContainer;
  .app-quote-form{
    background: rgba(239, 239, 244, 0.95);
    @mixin roundedCorners;
    @mixin cardBaseShadow;
    width:585px;
    padding: 0 15px 20px;
    h1{
      text-align: center;
      font-weight: 300;
      font-size: 30px;
    }
  }
}