@import "_settings.css";
@import "_mixins.css";
$lightBorder: #f0f0f0;
$darkBorder: rgba(0,0,0,0.1);
.container.grid-960 {
	max-width: 960px;

}
.block.block--content {
    background-color: #fff;
    padding: 70px 0;
    border-top: 1px solid $darkBorder;
    color: rgba(49, 68, 81, 0.7);
    @media screen and (max-width: $screen-width-xs) {
    	padding:40px 0 30px;
	}
    p {
    	font-size:14px;
    	line-height:1.6em;
    }
    .mobile-max-content {
    	@media screen and (max-width:$screen-width-xs) {
			max-width:500px;
			margin:auto;
		}
	}
    a.article-link {
    	color:$baseDark;
    	&:hover,&:active,&:focus {
    		color:$light-blue;
    		outline:none;
    		text-decoration:none;
    	}
    }
    .bdr,.bdr-two{
    	position: relative;
    	&:after{
	        content: '';
		    height: 40%;
		    width: 1px;
		    position: absolute;
		    right:0;
		    top:15%;
		    background: #ddd;
			@media screen and (min-width: 0px) and (max-width: $screen-width-xs) {
	    		display:none;
	    	}
		}
    }
    .bdr-two{
    	&:after{
		    top: 35%;
		}
    }
    & .h-30 {
    	height:30px;
    }
    & h2 {
		font-weight: 300;
		margin-bottom: 8px;
		strong {font-weight: 600;}
		@media screen and (max-width: $screen-width-xs) {
			font-size:28px;
		}
	}
	& .sh--uppercase {
		font-size: 16px;
		letter-spacing: 1px;
		color: $baseDark;
	}
	& .sh--big {
    	font-size: 24px;
	}
	& .sh--small {
		color: $baseDark;
	}
	& h4.h-underline{
		font-size:14px;
		position: relative;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 25px;
		margin-top:20px;
		@media screen and (max-width: $screen-width-xs) {
			font-size:14px;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 100%;
			width: 40px;
			border-top: 1px solid rgba(49, 68, 81, 0.7);
			margin-top:10px;
		}
	}
	& h5.h-spaced {
		font-weight: 700;
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin:25px 0 10px;
	}
	& .text-green {
		color: $green;
		font-size: 16px;
	}
	&.grey{
        border-top: none;
        background: rgb(246, 248, 251);
        @media screen and (min-width:$screen-width-xs) {
    		padding: 90px 0;
		}
    }
    &.grey + .block--content {
    	border-top: none;
    }
    &.dark-blue {
        border-top: none;
        background: #1C2C37;
        color: rgba(255, 255, 255, 0.7);
        & h2 {
        	color: #fff;
        	font-size: 24px;
        	font-weight: 400;
        }
        & strong{
            color: #fff;
        }
    }
}
.content-header {
	text-align: center;
	margin-bottom:40px;
	& > h2 {
		margin-top: 0;
	}
	& > h2 img{
		max-width: 50px;
		margin-right: 15px;
		margin-top: -5px;
		@media screen and (max-width: $screen-width-xs) {
			max-width:35px;
			margin-right:5px;
		}
	}
}
.content-header.content-header--media {
	margin-top: 75px;
	text-align: right;
	border-right: 2px solid $lightBorder;
	padding-right: 15px;
 	@media screen and (min-width: 0px) and (max-width: $screen-width-sm) {
 		text-align:center;
    	border-right: none;
    	margin-top:20px;
 	}
}
.leader--content__video{
	margin: 60px auto 0;
	text-align:center;
	&.mt{
		margin-top: 20px;
	}
	@media screen and (min-width: 0px) and (max-width: $screen-width-xs) {
    	margin: 30px auto 0;
    }
    a{
        color:$light-blue;
        &:hover,&:active,&:focus{
            color: $baseDark;
            text-decoration: none;
        }
    }
	ul{
		padding:0;
		display:inline-block;
	    li{
	        background: url('/static/img/icons/ic_videoicon_blue.png') no-repeat left 8px transparent;
	        list-style-type:none;
	        padding-left: 80px;
	        font-size: 14px;
	        text-align:left;
	        &:hover,&:active,&:focus{
	            background-image: url('/static/img/icons/ic-videoicon.png');
	        }
	        span{
	    		font-size: 12px;
	    		color: $baseDark;
	    		display: block;
			}
	    }
	}
}

.leader-box{
	max-width:800px;
	margin:auto;
	padding-bottom:20px;
	text-align: center;
	p {
		margin-bottom:20px;
		font-size: 14px;
		line-height: 1.6em;
	}
	p.lg {
		font-size: 16px;
	}
	@media screen and (max-width:$screen-width-xs){
		max-width:500px;
	}
}
.leader-box--icon {
	position:relative;
	padding-left:140px;
	text-align:left;
	.lb-icon {
		position:absolute;
		top:0;
		left:0;
		text-align:center;
		img {max-width:120px;}
	}
	@media screen and (max-width:$screen-width-xs){
		padding-left:0;
		.lb-icon {
			position:relative;
			margin-bottom:15px;
		}
	}
}
.leader-box-2{
    margin-bottom: 60px;
    color: $baseDark;
    text-align: center;
    @media screen and (max-width: $screen-width-xs) {
    	margin-bottom:40px;
	}
    p{
        font-size: 16px;
        line-height: 1.6em;
    }
}

/* content media thumbnails css  */

.content-media {
    width: 100%;
    position: relative;
    font-size: 14px;
    h4{
    	text-transform: uppercase;
    	font-size: inherit;
        font-weight: 700;
        margin-bottom:5px;
    }
    p {
    	font-size:inherit;
    	line-height: 1.6em;
    }
    & strong {
    	font-weight:400;
    	color:$baseDark;
    }
    img{
        position: static;
        margin: 10px auto 0;
        display: block;
        max-width:96px;
    }
    & h5 {
		text-transform: uppercase;
		font-weight: 400;
		font-size:inherit;
		margin:15px 0;
		letter-spacing: 1px;
		&:after {
			content:'';
			border-top:1px solid rgba(49, 68, 81, 0.7);
			display: block;
			margin: 10px auto 0;
			width: 40px;
		}
	}
}
.content-media.content-media--center {
	margin: auto;
    max-width: 337px;
    padding: 0;
    text-align:center;
    @media screen and (min-width: 0px) and (max-width: $screen-width-xs) {
    	padding-top:20px;
    }
    .min-h{
    	min-height: 80px;
    }
}
.content-media.content-media--left {
	text-align: left;
    padding-left: 100px;
    margin-top: 20px;
    margin-bottom: 30px;
    min-height: 70px;
    @media screen and (min-width: 0px) and (max-width: $screen-width-xs) {
    	margin-top: 0;
    	max-width: 500px;
    	margin-left: auto;
    	margin-right: auto;
    }
    img{
        position: absolute;
        left:0px;
        top: -12px;
        margin: 0;
        &.top-fix {
        	top:0;
        }
    }
    h4{
        font-size: inherit;
        position: relative;
        margin-bottom: 30px;
        &:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 100%;
			width: 40px;
			border-top: 1px solid rgba(49, 68, 81, 0.7);
			margin-top:10px;
		}
    }
}

/* bordered grid css */
ul.grid-list {
	padding: 0;
	margin: 0 auto;
	max-width: 770px;
	list-style-type: none;
	li {
		float: left;
		width: 50%;
		height: 260px;
		overflow: hidden;
		border-bottom:2px solid $lightBorder;
		font-size: 14px;
		text-align: center;
		line-height:1.6em;
		&:nth-last-child(2),&:last-child {
			padding-top:15px;
			border-bottom: none;
		}
		& .content-media--center {
			margin-bottom: 15px;
			padding-top: 0;
			& p > .lp-rupee {
			  display: inline-block;
			  height: 12px;
			  vertical-align: middle;
			  margin-top: -3px;
			}
		}
	}
	& li:nth-child(odd) {
		border-right:2px solid $lightBorder;
	}
	@media screen and (max-width: 599px) {
		margin-bottom:0px;
		& li:nth-last-child(2),& li:last-child {
			padding-top: 0;
		}
		& li {
			border:none;
			float:none;
			width: 100%;
			height: auto;
		}
		& li:nth-child(odd) {
			border:none;
		}
		& li .content-media--center {
			margin-bottom: 50px;
			padding: 20px 0 0;
		}
	}
}

/* content video sec css  */
.content-video {
	text-align: center;
	a {
		color: inherit;
	}
	a:hover,a:active,a:focus {
		text-decoration:none;
		color: inherit;
	}
	ul {
		list-style-type: none;
    	margin:0;
    	padding: 0;
    	position: relative;
    }
	ul > li {
		position:relative;
		@mixin cardBaseShadow;
		@mixin roundedCorners 3px;
		overflow: hidden;
		background-color: #fff;
		font-size:16px;
		font-weight:bold;
		z-index: 0;
		margin:0 auto 20px;
		max-width: 340px;
		& .thumb {
			position: relative;
		}
		& .thumb img {
			width: 100%;
			display: block;
		}
		& .thumb:after {
			@mixin transition;
			transform:scale(1) translate3d(0,0,0);
			position:absolute;
			display: block;
			content:'';
			width:60px;
			height:60px;
			background: url('/static/img/global/playbutton.png') no-repeat center center transparent;
			background-size: 100%;
			top:50%;
			left: 50%;
			margin-top: -30px;
			margin-left: -30px;
		}
		& .thumb:hover:after {
			transform:scale(0.9) translate3d(0,0,0);
		}
		& img {
			width: 100%;
		}
	}
	@media screen and (max-width: $screen-width-sm) and (min-width: $screen-width-xs) {
		ul > li.active {
			width: 388px;
		}
	}
	@media screen and (min-width: $screen-width-xs) {
		ul {
			margin: 90px 0 60px;
			min-height:250px;
		}
		ul > li {
			max-width: none;
			width: 260px;
			color:rgba(49, 68, 81, 0.7);
			position:absolute;
			&.left {
				    left: 0;
				    width: 171px;
				    top: 17px;
				    font-size: 12px;
			}
			&.right {
				right: 0;
				width: 171px;
			    top: 17px;
			    font-size: 12px;
			}
			.content-video__all{
		    	background-color: $baseDark;
		    	padding: 50px 0;
		    	color:#fff;
		    	text-transform: uppercase;
		    	font-size: 20px;
		    	line-height:1.6em;
		    	text-align: center;
		    }
			&.last{
				right:12%;
				z-index:1;
			}
			&.first{
				left:12%;
				z-index: 1;
			}
			&.active {
				z-index: 2;
				width: 368px;
    			@mixin cardHoverShadow;
    			left: 50%;
    			top: 45%;
    			transform: translate3d(-50%,-50%,0);
    			font-size:18px;
    			color: $baseDark;
    			& .thumb:after {
					width:100px;
					height:100px;
					margin-top: -50px;
					margin-left: -50px;
				}
			}
		}
	}
}
.content-video__desc {
	color: inherit;
	text-align: left;
	line-height: 1.4em;
	padding:16px 12px;
}
.hero_modal_overlay {
  display: none;
  z-index: 1001;
  top:0;
  left:0;
  bottom: 0;
  right:0;
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  overflow-x: hidden;
  overflow-y: auto;
  &.active {
    display: block;
  }
  .hero_modal_content {
    position: relative;
    margin: auto;
    top:-200%;
    max-width:767px;
    width:90%;
  }
  &.active .hero_modal_content {
    top:80px;
  }
  & .close-overlay {
    width: 90px;
    height: 30px;
    color: #fff;
    position: absolute;
    z-index: 1;
    background: url('/static/img/global/ic_close.png') no-repeat -15px center transparent;
    right: 20px;
    top:20px;
    padding-left: 35px;
    padding-top: 4px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }
}
.hero-modal-content__iframe {
    position: relative;
    width: 100%;
    padding-top: 56.2%;
    & > iframe {
	   	position: absolute;
	    top: 0;
	    width: 100%;
	    height: 100%;
    }
}
/*
#video-frame {
  iframe {
    margin: auto;
    width:767px;
    height: 431px;
    display: none;
    @media screen and (min-width: 0px) and (max-width: 767px) {
      width:auto;
      height: auto;
    }
    &.reveal {
      display: block;
    }
  }
}
*/
.content--insurere{
	max-width: 690px;
	margin: auto;
	ul{
		border-bottom:1px solid #ddd;
		text-align:center;
		padding: 0;
		&.bdn{
			border-bottom:none;
		}
		li{
			overflow: hidden;
		    text-align: center;
		    display: inline-block;
		    margin: 0 10px 10px 6px;
		    vertical-align: middle;
		    img{
		    	max-width: 80px;
		    }
		}
	}
}
.grid--max__width{
	max-width: 860px;
	margin: auto;
	p{
		font-size: 14px;
	}
	@media screen and (min-width:$screen-width-xs) {
		.pr{
			padding-right: 34px;
		}
		.pl{
			padding-left: 34px;
			padding-right: 0;
		}
	}
}
.accordian-tab,#accordian-tab {
	a.accordian-tab__header {
		display: block;
		padding: 20px 50px 20px 20px;
		display: block;
		color: $baseDark;
		font-size: 20px;
		text-decoration: none;
		background: url(/static/img/icons/iconplus.png) 99% center no-repeat;
		&:hover , &:active{
			text-decoration:none;
		}
		@media screen and (max-width:$screen-width-xs) {
			font-size:16px;
		}
	}
	ul{
		list-style-type: none;
		padding: 0;
		& ul.accordian-tab-item{
		  display: none;
		}
		li.has-sub {
			border-bottom:1px solid #ddd;
			&.active{
				a.accordian-tab__header{
					background-image: url(/static/img/icons/iconminus.png);
				}
			}
			&:last-child{
			  border-bottom:none;
			}
		}
	}
}
.accordion-list__open{
	p{
		line-height: 23px;
		font-size: 14px;
		padding: 20px;
	}
	ul.list{
		margin: 0 0 30px;
		display: block;
		padding: 0 37px;
		li{
			font-size: 14px;
			margin: 5px 0;
			list-style-type: disc;
		}
	}
}

