@import "_settings.css";
@import "_mixins.css";

.block.block--banner {
    background-color: #fff;
    padding: 50px 0 30px;
    margin-top: 0;
    color: rgba(49,68,81,0.7);
}
.disp-banner-container {
    & .term-content {
        text-align: center;
        & h2 {
            margin: 0 0 5px 0;
            font-size: 25px;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 25px;
        }
        & .sub-text {
            margin: 0px;
            font-size: 15px;
            letter-spacing: 1px;
            text-align: center;
        }
    }
    & .banner-img__wrapper {
        position: relative;
        margin: 24px auto;
        min-height: 205px;
        & > div{
            width: 50%;
            float: left;
            padding-top: 40px;
            padding-left: 42px;
            padding-right: 104px;
            @media screen and (min-width: 0px) and (max-width: $screen-width-xs) {
                width: 100%;
                padding-left: 0px;
                text-align: center;
                padding-top: 0;
                padding-right: 0px;
            }
            &:last-child{
                padding-left: 140px;
                padding-right: 0px;
                @media screen and (min-width: 0px) and (max-width: $screen-width-xs) {
                    padding-top: 0;
                    padding-left: 0;
                    margin-top: -40px;
                }
                & p:last-child:after{
					width: 0;
                    margin-bottom: 0;
                }
            }
        }
        p {
            margin: 0px 0px 32px 0px;
            font-size: 14px;
            line-height: 1.6em;
            position: relative;
            @media screen and (min-width: 0px) and (max-width: $screen-width-xs) {
                margin: 40px 0 ;
                &:after{
	            	position: absolute;
	            	content: "";
	            	bottom: -24px;
	            	width: 60px;
	            	height: 1px;
	            	margin: auto;
	            	background: #ccc;
	            	left: 50%;
		            -webkit-transform: translate(-50%, -50%);
		            transform: translate(-50%, -50%);
	            }
            }
            & span {
                color: $baseDark;
            }
        }
        & .lp-rupee {
            display: inline-block;
            height: 12px;
            vertical-align: middle;
            margin-top: -3px;
        }
        & .banner-icon {
            max-width:100%;
            min-height: 205px;
            display:block;
            margin:auto;
            position: absolute;
            top:0;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            @media screen and (min-width: 0px) and (max-width: $screen-width-xs) {
                position: relative;
                left: 0;
                transform: none;
            }
        }
    }
    & .banner-content {
        margin:auto;
        padding:30px 15px 70px;
        max-width:200px;
        text-align: center;
        @mixin cardHeavyShadow;
        @media screen and (min-width: 0px) and (max-width: $screen-width-sm) {
            max-width:100%;
            padding-bottom: 40px;
        }
        @media screen and (min-width: $screen-width-xs) and (max-width: $screen-width-sm) {
            text-align: left;
            padding-bottom: 40px;
            margin-top: 24px;
        }
        & .circle-icon{
            display:block;
            margin: 0 auto 20px;
            width: 55px;
            height:55px;
            @media screen and (min-width: $screen-width-xs) and (max-width: $screen-width-sm) {
                margin-left: 85px;
                margin-top: 12px;
            }
        }
        & h5 {
            margin: 10px 0;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: normal;
        }
        & p {
            margin: 0 0 20px 0;
            font-size: 13px;
            line-height: 1.5;
            color: #999;
        }
        & .btn--block {
            max-width: 150px;
        }

    }
}
@media screen and (max-width: 400px) {
    .xs-collapse {
        min-width: 200px;
        margin: auto;
        float: none;
    }
}