@import "_settings.css";
@import "_mixins.css";
.footer-wrapper {
  color:#9a9a9a;
  line-height: 1.6em;
  font-size: 12px;
  background-color: rgb(46, 67, 78);
  & .divider {
    max-width: 700px;
    border-top: 1px solid rgba(255,255,255,0.2);
    margin: 24px auto;
  }
  a {
    @mixin transition color;
    color:#cacaca;
    font-size: inherit;
    &:hover,&:active,&:focus {
      outline: none;
      text-decoration: none;
      color:#ffffff;
    }
  }
  p {
    font-size:inherit;
    margin-bottom: 5px;
    line-height: inherit;
    color: inherit;
  }
}
.footer-wrapper__heading {
  font-size: 12px;
  line-height: 1.4em;
  padding: 0;
  margin: 0px 0 15px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer-links {
  list-style-type: none;
  padding: 0;
  margin:0 0 8px;
  & li {
    font-size: 12px;
    line-height: 1em;
    display: inline-block;
    margin:0;
     img{
        max-width: 30px;
        margin-right:15px;
      }
  }
  & a {
    display:inline-block;
    padding:0;
    line-height: 1.4em;
  }
  @media screen and (min-width: 0px) and (max-width:599px) {
    & a {margin-bottom:5px;}
  }
}
.footer-main-category {
  @media screen and (min-width: 0px) and (min-width: $screen-width-xs) {
    max-width:150px;
  }
}
.footer-links.footer-links--main {
  margin:15px 0;
  & li {
    display: block;
    margin: 0 0 10px 0;
  }
  @media screen and (min-width: 0px) and (max-width:599px) {
    & a {display: block;}
    & li {
      padding: 0;
      display: inline-block;
      vertical-align:top;
      min-width: 130px;
      width: 49%;
    }
  }
  @media screen and (min-width: 0px) and (max-width:399px) {
    & li {width:100%;}
  }
}
.footer-wrapper__sublinks {
  max-width:none;
  margin: auto;
  padding-top:16px;
}
.connect-section {
  @media screen and (min-width: 0px) and (max-width: $screen-width-md){
    text-align:center;
    margin-top:20px;
  }
}
.footer-wrapper__category {
  border-bottom: 0;
  margin-bottom:5px;
  line-height: 1.6em;
  & > .row {
    margin-bottom: 15px;
  }
  & .cat-head {
    max-width: 160px;
    pointer-events:none;
  }
  .footer-links {
    margin: 0 -15px 15px 0;
    & li {
      margin: 0 0 10px 0;
      display: block;
      @media screen and (min-width: 0px) and (max-width: $screen-width-xs) {
        width:50%;
        margin:0;
        border:none;
        float:left;
        & a {padding:5px 0;margin:0 15px 5px 0;}
      }
      @media screen and (min-width: 0px) and (max-width:499px) {
        width: 100%;
        & a{display:block;}
      }
    }
    & li:last-child {
      border-right: none;
    }
    & a { font-size: 12px;padding:0;margin-right:0px;display: inline-block;}
  }
  & input[type=checkbox]{display: none;}
}
.footer-wrapper__finish {
  background-color: rgb(35, 55, 65);
  padding:24px 0;
  margin-top: 24px;
  text-align: center;
  .footer-links li {
    margin: 0;
    padding: 0 8px;
    border-right: 1px solid #cacaca;
    &:last-child {
      border:none;
    }
  }
  .footer-links a {
    padding: 0;
    margin: 0;
    line-height: 1.1em;
  }
  .copyright{
    display: inline-block;
    a,span {margin:0 10px;display: inline-block;}
  }
}
.license-container {
  margin-top:10px;
  .small-font {font-size: 10px;}
  .color-w {color:#cacaca;}
  span,a {display: inline-block;vertical-align: bottom;color: inherit;}
}

/* toggle accordian functionality in small devices */
.footer-wrapper__category {
  @media screen and (max-width: 767px){
    border-bottom:none;
    & > .row {
      margin-bottom: 0px;
    }
    .footer-wrapper__heading {
      margin: 0 0 5px;
    }
    .cat-head {
      display: block;
      cursor: pointer;
      position: relative;
      max-width: none;
      padding-top:10px;
      padding-bottom:10px;
      border-bottom: 1px solid rgba(255,255,255,0.2);
      &:before {
        content: "+";
        display: block;
        font-size: 16px;
        line-height: 1em;
        position: absolute;
        right: 15px;
        top: 8px;
        width: 20px;
        height: 20px;
        font-weight: bold;
        text-align: center;
        @mixin transition;
      }
    }
    .cat-content {
      position: relative;
      height: 0;
      overflow: hidden;
      border-bottom: 1px solid transparent;
      ul.footer-links {
        position: absolute;
        visibility: hidden;
        margin-top:-100%;
        @mixin transition;
      }
    }
    & input[type="checkbox"].cat-ip,.cat-head {pointer-events:auto;}
    & input[type="checkbox"].cat-ip:checked {
      & + .cat-head {
        border-bottom-color: transparent;
        .footer-wrapper__heading {font-weight: bold;}
        &:before{
          transform:rotateZ(45deg);
        }
        & + .cat-content {
          height: auto;
          visibility: visible;
          border-color:rgba(0,0,0,0.1);
          padding-right: 15px;
        }
        & + .cat-content ul.footer-links {
          position: relative;
          visibility: visible;
          margin-top:0;
        }
      }
    }
  }
}
.ic-secure {
  display: inline-block;
  background: url('/static/img/global/ic-secure.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  margin:0 3px;
}

.ic-secure {
  &.american-express {
    background-position: -20px -4px;
    width: 48px;
    height: 35px;
  }
  &.master-card {
    background-position: -104px -4px;
    width: 48px;
    height: 35px;
  }
  &.net-banking {
    background-position: -10px -54px;
    width: 69px;
    height: 35px;
  }
  &.ssl {
    background-position: -89px -50px;
    width: 79px;
    height: 45px;
  }
  &.visa {
    background-position: -20px -104px;
    width: 48px;
    height: 35px;
  }
  &.card-on-delivery {
    background-position: -88px -104px;
    width: 80px;
    height: 35px;
  }
}

.secure {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding:20px 15px;
  margin-bottom: 30px;
  color: #fff;
  ul {
    text-align: center;
    display:block;
    list-style-type: none;
    padding:0;
    max-width:960px;
    margin: auto;
    & img {
      display: inline-block;
    }
    .card-on-delivery {
      img{
        line-height: 0;
        vertical-align: top;
        margin-top: 4px;
      }
    }
    & li > div {
      margin-top: 10px;
    }
    & .dmca-badge {
      display: inline-block;
      vertical-align: middle;
      width: 134px!important;
      overflow: hidden;
      margin-top: 4px;
      img {
        height: 24px;
        top: 1px;
        left: 0;
        position: relative;
      }
    }
    & li {
      text-align: center;
      min-width: 200px;
      line-height: 1.4em;
      padding:0;
      font-size: 11px;
      text-transform: uppercase;
      display: inline-block;
      vertical-align: top;
      margin: 0 0 10px;
    }
    & .ssl-logo {
      position: relative;
      top: 3px;
      height: 25px;
    }
  }
  @media screen and (max-width:$screen-width-sm) {
    & ul .ssl-logo {height:18px;}
    & ul .dmca-badge {width: 110px !important;}
    & ul .dmca-badge img {height:21px;}
    & ul img { height: 28px;margin-top:5px;}
    & ul {
      max-width:none;
    }
    & ul > li {
      min-width:auto;
      margin: 0 8px 20px;
    }
    & ul .ic-secure {margin:0 1px;}
  }
}
/* social icons css */
@define-mixin socialLinkCss $linkColor {
  background-color: $linkColor;
  &:hover {
    /*background-color: color($linkColor blackness(8%));*/
    background-color: rgba(255,255,255,0.2);
  }
}
@define-mixin icon {
  @mixin roundedCorners 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  text-align: center;
}

.icon-social {
  display: inline-block;
  background: url('/static/img/global/ic-social.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
  transform:scale(0.85);
}
.icon-social {
  &.facebook {
    background-position: -5px -0px;
    width: 24px;
    height: 24px;
    position: relative;
    left: -2px;
    top:-2px;
  }
  &.google-plus {
    background-position: -34px -0px;
    width: 24px;
    height: 24px;
  }
  &.linkedin {
    background-position: -5px -29px;
    width: 24px;
    height: 24px;
  }
  &.twitter {
    background-position: -34px -29px;
    width: 24px;
    height: 24px;
  }
  &.youtube {
    background-position: -5px -58px;
    width: 24px;
    height: 24px;
  }
}
.footer-wrapper__social a {
  @mixin transition background-color ,0.3s;
  $linkColor:transparent;
  &.facebook {
    /*$linkColor: #3b5998;*/
    @mixin socialLinkCss $linkColor;
  }
  &.twitter {
    /*$linkColor: #00aced;*/
    @mixin socialLinkCss $linkColor;
  }
  &.linkedin {
    /*$linkColor: #007bb6;*/
    @mixin socialLinkCss $linkColor;
  }
  &.google-plus {
    /*$linkColor: #dd4b39;*/
    @mixin socialLinkCss $linkColor;
  }
  &.youtube {
    /*$linkColor: #bb0000;*/
    @mixin socialLinkCss $linkColor;
  }
}
.footer-wrapper__social {
  margin: 16px auto;
  color: color($baseDark whiteness(15%));
  &  a {
    border:1px solid rgba(255,255,255,0.7);
    background-color: #fff;
    padding: 12px 0px;
    margin:8px;
    @mixin icon;
  }
}

/* footer mini css */
.footer-wrapper {
  &--small {
    background-color:#fff;
    color:rgba(49,68,81,0.7);
    a {
      color:inherit;
      &:hover,&:active,&:focus {
        color:$baseDark;
      }
    }
    .secure {color:inherit;border-bottom:none;margin-bottom:0px;}
    .footer-wrapper__finish{
      background-color: transparent;
      padding-top:0;
      margin-top:0;
    }
    .copyright {color:rgba(49,68,81,0.5);}
    .license-container .color-w {color:$baseDark;}
    .divider{border-color:rgba(49,68,81,0.2);}
  }
}
