@import "_settings.css";
@import "_mixins.css";

$light-bg-color : #ffffff;
$textColor:$baseDark;
$pSize:12px;

.header--hidden {
  opacity: 0;
  transform: translate(0, -60px);
}

.header--visible {
  background: rgba(255,255,255,0.7);
  opacity: 1;
  transform: translate(0,0);
  position: fixed;
  @mixin cardBaseShadow;
  background-color:#fff;
}


.header-wrapper {
  height:64px;
  color:$baseDark;
  position:relative;
  margin:0;
  padding:0;
  background-color:#D8DDE3;
  color:rgba(49,68,81,0.9);
  z-index:299;
  & .main-header {
    @mixin transition;
    line-height: 1em;
    padding:0 16px;
    top:0;
    left:0;
    right: 0;
    height:64px;
    z-index:1;
  }
  & .scroller {
    position:absolute;
    width:100%;
    top:64px;
    bottom:0;
    overflow-y:auto;
  }
  .hamburger-menu, .logo, .page-title {
    float: left;
    line-height: 64px;
  }
  .logo {
    line-height: 58px;
    img {
      height:24px;
      margin-left:8px;
    }
    @media screen and (max-width: $screen-width-xs) {
      img {height:22px;}
    }
  }
  .page-title {
    line-height: 64px;
    font-size: 20px;
    position: relative;
    font-weight: 300;
    &:before {
      content:'';
      width: 0.3em;
      margin:2px 0.8em 0 0.8em;
      background-repeat:no-repeat;
      background-image: url('../img/global/bc-arrow.png');
      background-size: contain;
      background-position: right center;
      float: left;
      height: 62px;
    }
  }
  .right-item {
    float: right;
    font-size: 16px;
    padding-top: 2px;
    line-height: 62px;
    position: relative;
    font-weight: 300;
    font-weight: 700;
    margin-right: 16px;
  }
  ul.nav-items-right,ul.nav-items-left {
    float:left;
    list-style-type: none;
    margin: 0 0 0 16px;
    padding: 0;
    & > li {
      float: left;
      line-height: 60px;
      display: inline-block;
      padding:4px 16px 0;
      text-transform: uppercase;
      font-size: 12px;
      @media screen and (min-width: $screen-width-xs) and (max-width: $screen-width-sm) {
        padding-left:$pSize;
        padding-right:$pSize;
      }
    }
  }

  ul.nav-items-right {
    position: relative;
    @mixin transition;
    float: right;
    margin-left:0;
    @media screen and (min-width: $screen-width-xs) {
      margin:0 16px 0 0;
    }
    @media screen and (max-width: $screen-width-xs) {
      & > li {
        padding-left:8px;
        padding-right:8px;
      }
    }
  }
  img.link-icon {
    width: 22px;
    height:22px;
    margin-right: 8px;
    display: inline-block;
    border-radius: 2px;
    margin-top: -2px;
    opacity: 0.7;
    border: 1px solid $baseDark;
    &--bnone,&.bnone {
     border:none;
    }
  }
  & .user-place {
    margin-left:-3px;
    max-width: 130px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  & .user-place-xs {
    display: none;
  }
  @media screen and (max-width:399px){
    & .user-place {display: none;}
    & .user-place-xs {display: inline-block;}
  }
  a {
    cursor: pointer;
    font-size:12px;
    display:inline-block;
    color:rgba(49,68,81,0.9);
    line-height: 1.4em;
    @mixin transition;
    &:hover,&:focus,&:active {
      color:$light-blue;
      outline: none;
      text-decoration: none;
    }
  }
  a.close {
    cursor: pointer;
    display: block;
    padding: 10px 18px;
    background: url('/static/img/common/close.png') no-repeat center center transparent;
    @mixin roundedCorners 50%;
    height: 35px;
    width: 35px;
    margin: 0;
    &:hover {
      background-color:rgba(0,0,0,0.05);
    }
  }
  a.link-tollfree {
      position: relative;
      top:6px;
      font-size: 15px;
    & .link-icon {
      border: none;
      width: 16px;
      height: 16px;
      margin-right: 0px;
    }
    & > span {
      position: absolute;
      font-size: 10px;
      top: -16px;
      right: 0;
      text-transform: none;
      letter-spacing: 0.5px;
      color: $baseDark;
      opacity:0.7;
    }
  }
  .menu {
    margin-left:40px;
    float:left;
  }
  & .tp-logo {
    max-height: 28px;
    max-width: 185px;
    display: inline-block;
  }

} /* header wrapper ends */

ul.nav-list {
  @mixin transition;
  list-style-type: none;
  padding:0;
  margin:0;
  & > li {
    background-color:#ffffff;
  }
  & > li.hr {
    border-top:1px solid #eaeaea;
    padding: 0;
    margin: 0;
  }
  & > li.head {
    font-size: 11px;
    color:rgba(49, 68, 81, 0.32);
    padding:0px 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    @media screen and (min-width: $screen-width-xs) and (max-width: $screen-width-sm) {
      padding-left:$pSize;
      padding-right:$pSize;
    }
  }
  & > li > a {
    text-transform: none;
    font-size: 14px;
    margin:0;
    padding:10px 16px;
    display: block;
    color:$baseDark;
    &:hover,&:active,&:focus{
      background-color:$grey-2;
      color: $baseDark;
    }
    @media screen and (min-width: $screen-width-xs) and (max-width: $screen-width-sm) {
      padding-left:$pSize;
      padding-right: $pSize;
    }
  }
  & > li.primary-link > a {
      padding: 16px;
  }
}

.nav-item-dropdown {
  cursor: pointer;
  @mixin transition;
  position: relative;
  margin-right:-1px;
  ul.nav-list {
    cursor: default;
    @mixin transition;
    transition-delay:0.2s; /* 200ms transition delay for navigation dropdown items issue */
    opacity: 0;
    overflow: hidden;
    width: 300px;
    left: 0;
    top:100%;
    position: absolute;
    transform:scaleY(0);
    transform-origin :1% 1%;
    @mixin cardHeavyShadow;
    overflow: hidden;
    padding:10px 0;
    background-color:#ffffff;
    border-radius: 0 0 3px 3px;
    &.nav-list--user {
      width:200px;
    }
  }
  ul.nav-list li > a {
    padding-top:6px;
    padding-bottom:6px;
    @mixin transition;
  }
  &:hover,&:focus,&:active {
    color:$light-blue;
    background-color:$grey-2;
    ul.nav-list {
      overflow: visible;
      opacity: 1;
      transform:scaleY(1);
    }
  }
}
.nav-items-right {
  .nav-item-dropdown .nav-list {
    left:auto;
    right:0;
  }
}


/* css for mobile screen toggle nav */
.header-flyout {
  z-index: -10;
  @mixin cardBaseShadow;
  position: fixed;
  top:0px;
  background-color: #fff;
  min-width:250px;
  width: 60%;
  left:-100%;
  bottom:0;
  margin: 0;
  overflow:hidden;
  padding: 64px 0 20px;
  visibility: hidden;
  @mixin transition left;
  a.close {
    position: absolute;
    right: 20px;
    top:12px;
  }
}
#flyout-overlay {
  position: fixed;
  z-index: -10;
  left:0;
  right: 0;
  top:0;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  opacity:0;
  visibility: hidden;
  @mixin transition opacity;
}

/* mobile menu pane show */
@media screen and (max-width: $screen-width-xs) {
    .header-wrapper.hamburger {
      .header-flyout {
        z-index: 2;
        left: 0;
        visibility: visible;
      }
      #flyout-overlay {
        z-index: 1;
        opacity: 1;
        visibility: visible;
      }
      ul.nav-items-right,.logo {
        /*right:-100%;*/
      }
    }
}


.nav-icon {
  cursor: pointer;
  top:6px;
  position: relative;
  display: inline-block;
  padding:5px;
  background-color: transparent;
  width: 30px;
  @mixin roundedCorners 3px;
  @mixin transition;
  .bar {
    background-color:rgba(49,68,81,0.7);
    display: block;
    height: 2px;
    border-radius: 1px;
  }
  & .bar+.bar {
    margin-top: 4px;
  }
  &.active,&:hover {
    z-index: 2;
    background-color:#faf5f7;
    & .bar {
      background-color:#0099cc;
    }
  }
}

.mnone {margin:0;}
.mrnone{margin-right:0;}
.mlnone{margin-left: 0;}
.pnone {padding:0;}
.plnone {padding-left:0;}
.prnone {padding-right:0;}







/* header contact us popup css */
.header-popup {
  opacity: 0;
  visibility: hidden;
  background:rgba(231,234,238,0.98);
  position:fixed;
  width: 100%;
  height:0;
  top:0;
  left: 0;
  z-index: -10;
  overflow:hidden;
  color:$baseDark;
  @mixin transition opacity;
  &.reveal {
    height: 100%;
    z-index: 2;
    visibility: visible;
    opacity: 1;
    .header-popup__content {
      transform:translate3d(0,0,0);
    }
  }
  a {
    margin: 0;
  }
}
.header-popup__title {
    position: relative;
    height: 64px;
    width: 100%;
    padding:15px 30px;
    z-index:1;
    a.close {
      float: right;
    }
    @media screen and (max-width: $screen-width-xs) {
      padding:15px;
    }
}
.header-popup__content {
  position:relative;
  @mixin transition transform;
  transform:translate3d(0,200px,0);
  text-align: center;
  z-index:0;
  padding:0 16px 50px;
  h4{
      font-weight: 500;
      margin-bottom: 15px;
      font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  .w--button {
    min-width: 190px;
  }
  .collapse-hide {
    @mixin transition;
    position:relative;
    transform:translate3d(0,100px,0);
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    margin:auto;
    padding:0;
    &.active {
      transform:translate3d(0,0,0);
      opacity: 1;
      visibility:visible;
      height: auto;
      overflow: visible;
    }
  }
  .divider {
  margin: 30px auto;
  border-bottom: 1px solid rgba(49,68,81,0.2);
  }
  .divider--small {
      width: 200px;
  }
  .divider-or {
    margin:30px auto;
    width:60px;
    position: relative;
    &::before, &::after {
        content: "";
        display: block;
        height:12px;
        width: 50px;
        position: absolute;
        left: 100%;
        top:0;
        border-bottom: 1px solid rgba(49,68,81,0.2);
    }
    &::after {
        left:auto;
        right:100%;
    }
  }
}
.input_group {
    padding:0;
    text-align: left;
    .w--error {
      font-size:12px;
      padding:5px 0 0;
    }
    .w--label {
      margin-top: 15px;
      margin-bottom: 5px;
      opacity: 0.7;
      display: inline-block;
    }
    .mobile_no_container {
        position: relative;
        display:block;
        span{
            position: absolute;
            top:13px;
            left: 10px;
            z-index: 1;
        }
        .input_wrapper > input {
          padding-left:40px;
        }
    }
    .w--textarea textarea {
      border: 1px solid rgba(49,68,81,.4);
      background-color:transparent;
      height: 88px;
      outline:none;
      width: 100%;
      padding: 10px;
      resize: none;
      margin: 0;
    }
    .input_wrapper {
        margin-bottom: 0;
        position: relative;
        input ,select {
            border: 1px solid rgba(49,68,81,.4);
            width: 100%;
            padding: 7px 10px;
            outline: none;
            border-radius: 3px;
            background-color:transparent;
            height:44px;
        }
        select {
          -webkit-appearance:none;
          -moz-appearance:none;
          appearance:none;
        }
        & > a{
        position: absolute;
        z-index: 1;
        top: 15px;
        right: 10px;
      }
      .select_arrow{
        border-color: rgb(153, 153, 153) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        border-style: solid;
        border-width: 5px 5px 0;
        display: block;
        height: 0;
        position: absolute;
        right: 10px;
        top: 43%;
        width: 0;
      }
    }
}
.claim_info__msg{
    border-radius: 3px;
    padding: 15px;
    border: 1px dashed rgba(49,68,81,.4);
    max-width: 600px;
    margin:30px auto;
    & a {color:$baseDark;font-size:inherit;}
}
.contactus {
  overflow: hidden;
  max-width: 740px;
  margin:auto;
  .sendTo {
    margin-left: 10px;
  }
  .cu_title{
        font-size:24px;
        margin:15px 0;
        font-weight:400;
  }
  .cu_title_sub {
    margin-top:-15px;
  }
  .cu_title_email {
    margin-bottom: 30px;
  }
}
.contactus--thanku {
    .contactus__phonenumber {
      font-size: 24px;
      margin-bottom:16px;
    }
    .cu_title{
        margin:30px 0;
    }
    .text_orange{
        color: $orange;
        margin: 30px 0;
    }
}
.contactus--email{
  max-width: 600px;
  text-align: left;
  .input_wrapper {
    max-width: 400px;
  }
  .w--button {
    margin-top:24px;
  }
}
.contactus__group {
  max-width:600px;
  margin: 0 auto 30px;
  & .input_group {
    float:left;
    margin-top: 16px;
    width: 50%;
    padding: 0 8px;
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  @media screen and (max-width:499px) {
    max-width:300px;
    margin-left:auto;
    margin-right:auto;
      & .input_group {
        float:none;
        padding: 0;
        width: auto;
      }
    }
}
.contactus__phonenumber{
    color: $baseDark;
    font-size: 28px;
    font-weight: 400;
    line-height:1.2em;
    display: inline-block;
}
.contactus__header{
    font-size: 28px;
    line-height: 28px;
    font-weight: 300;
    color:rgba(49,68,81,.2);
    & > a {
      cursor: pointer;
      font-size: inherit;
    }
    & .cu_title {
      display:inline-block;
    }
    & > span{
        color:$baseDark;
        font-size: 12px;
        line-height: 30px;
        vertical-align: middle;
    }
}

.login-wrap {
  max-width: 320px;
  margin:30px auto;
  overflow: hidden;
  & .w--label {
    margin-top:10px;
  }
  & .w--error {
    padding-bottom:0;
    text-align:left;
    font-size:12px;
  }
  & > a {
    margin-bottom: 10px;
    img{
      width: 160px;
    }
  }
  .w--button {
    margin-top: 20px;
    width: 100%;
  }
  .login_lnk{
    margin: 30px 0;
  }
}
.login-wrap__section {
    p{
      font-size: 14px;
      line-height: 18px;
    }
    .success-msg{
      margin: 50px 0 0;
    }
}
.contactus__tollfree{
    padding: 0;
    margin:0;
    li{
      display: inline-block;
      max-width: 205px;
      padding: 0 10px;
      margin: 10px 0;
      font-size: 13px;
      color:rgba(49, 68, 81, 0.7);
      border-right: 1px solid rgba(49,68,81,0.2);
      &:last-child{
        border-right:none;
      }
      a{
        span{
          font-size: 14px;
          color: $baseDark;
        }
      }
    }
}
