/* Elements */
.navbar-inverse {
    margin-bottom: 0;
    color: #000;
    border-radius: 0;
    border-bottom:0;
}

.navbar-inverse .navbar-brand {
    display: inline-block;
    height: 64px;
}

.navbar-inverse .navbar-nav>li>a {
    padding: 22px 10px;
    font-size: 1.1em;
}

.navbar-inverse .navbar-brand>small {
    display: block;
    font-size: 11px;
    text-align: right;
    margin-top: -4px;
}

@media screen and (min-width: 768px) {
    .navbar-inverse .navbar-header {
        min-width: 250px;
        width:auto;
    }
}

#knowledge_base_outer {
    overflow-x: hidden;
    position: fixed;
    top: 67px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
    overflow-y: hidden;
    white-space: nowrap;
}

#knowledge_base_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 15px;
}

.wiki-entry-card {
    height: auto;
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
    width: 52%;
    border-right: 1px solid #999;
    padding-bottom: 2em;
    margin-right: 12px;
}

.wiki-header {
    background-color: #D8D8D8;
    padding: 5px 10px;
    position: relative;
    border-bottom: 1px solid #999;
}

.wiki-header>span {
    font-size: 1.5em;
}

.wiki-header>span.right_btn>a {
    text-decoration: none;
    text-transform: none;
    color: #636363;
}

.children_nodes {
    list-style: none;
    margin: 0;
    padding: 0;
}

.children_nodes li {
    padding: 5px 40px 5px 40px;
    border-top: 1px solid #999;
    position: relative;
    min-height: 30px !important;
}

.children_nodes li>.fa-ellipsis-v {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    bottom: 0;
    padding: 8px 13px;
    background-color: #CCC;
    cursor: move;
}

.clear_15 {
    clear: both;
    height: 15px;
}

.history {
    font-size: .85em;
}


/* Modifiers */

.wiki-header.clickable:hover {
    background-color: #BBB;
    cursor: pointer;
}

.wiki-header>span.right_btn {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 1.2em;
}

.wiki-header>span.right_btn>a:hover {
    color: #333333;
}

.children_nodes li:hover {
    background-color: #D8D8D8;
    cursor: pointer;
}

.children_nodes li.active {
    background-color: #D8D8D8;
}

.children_nodes li.is_header {
    display: inline-block;
    border-right: 1px solid #999;
}

.children_nodes li:after {
    content: "\f105";
    position: absolute;
    right: 10px;
    top: 7px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.children_nodes li:hover>.fa-ellipsis-v {
    display: block;
}