.app-sidebar-wrapper{
	position: fixed;
	width:320px;
	top:64px;
	bottom:0;
	background: #fff;
	@mixin cardBaseShadow;
	z-index:10;
	@media screen {
	    @media (max-width: 768px) {
	      width:240px;
	    }
	  }
}

.app-sidebar-header{
	padding:24px;
	position: relative;
	&:before{
		background: rgba(0,0,0,0.1);
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		content:'';
		z-index:-1;
	}
	small,p,h3{
		position: relative;
		z-index: 11;
	}
	h3{
		margin-top: 8px;
		margin-bottom: 8px;
	}
	p{
		margin-bottom: 0;
	}
}

.scrolltab-container{

}