@import '../_settings.css';
@import '../_homeform.css';
@import '../_breadcrumbs.css';
@import '../_companies.css';
@import '../_table-cms.css';

.block{
	padding: 50px 0px;
	border-top:1px solid rgba(0,0,0,0.02);
	border-bottom:1px solid rgba(0,0,0,0.02);
	margin-top:-1px;
	h2{
		margin-bottom: 10px;
		/*Put this in the typography file if its ok*/
		font-weight: bold;
		letter-spacing: -1px;
		&:empty{
			display: none;
		}
	}
	h4{
		margin-top:5px;
		margin-bottom: 20px;
		&:empty{
			display: none;
		}
	}
	p{
		&:empty{
			display: none;
		}
	}
	&.dark
	{
		background-color: $baseDark;
		color: #fff;
		h2, h4, p{
			color: #fff;
		}
		p{
			&.success {
			    color: green;
			    display: none;
			}
			&.err{
				color:red;
				display: none;
			}
		}
	}
	&.grey-bg{
		background: $grey-2;
	}
	&.dark-bg{
		background-color: $baseDark;
		color: #fff;
	}

	.block__action{
		margin-top: 20px;
		&:empty{
			display: none;
		}
	}

	&.no-padding-bottom{
		padding-bottom: 0;
	}
	&.no-padding-top{
		padding-top: 0;
	}
	&.no-padding{
		padding:0;
	}

	&.blog-section{
		border:none;
		padding:0;
		margin-top:50px;
		&.boxed{
			padding:15px 0;
			background: $grey-2;
			border-radius:3px;
			&.dark
			{
				background-color: $baseDark;
				color: #fff;
				h2, h4, p{
					color: #fff;
				}
			}
		}
		&.full-width-image, &.four-eight-column, &.eight-four-column, &.two-column-content{
			img{
				max-width: 100%;
			}
			.card-body{
				padding: 0;
				h2{
					margin-top: 0;
				}
			}
		}
		&.banner-column{
			text-align: center;
			img {display: inline-block;max-width: 100%;}
		}
	}

}

.img_column{
	padding:40px 0;
}


.author-wrapper{
	border:1px solid rgba(48,68,81,0.16);
	border-radius:3px;
	padding: 20px 20px 20px 170px;
	opacity:0.79;
	font-size:14px;
	color:$baseDark;
	position: relative;
	margin:50px auto 0;
	min-height: 160px;
	@media screen and (min-width: 0px) and (max-width: $screen-width-xs) {
		padding-top: 160px;
		padding-left: 20px;
		text-align: center;
	}
	img{
		position: absolute;
		top: 20px;
		left: 20px;
		max-width: 120px;
		@media screen and (min-width: 0px) and (max-width: $screen-width-xs) {
	    	left: 50%;
			transform: translateX(-50%);
	    }
	}
}
.author-wrapper__header{
	font-size:24px;
}
