@import '../_settings.css';
@import '../_mixins.css';
$green:#59c6c5;
.block.block--testimonial {
    background-color: #233741;
    color: #fff;
    @media screen and (min-width:$screen-width-xs) {
    	padding:90px 0 70px;
    }
    h2 {
      color: inherit;
    }
    @media screen and (min-width:767px){
        .owl-pagination{
            display: none;
        }
    }
    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span{
        background: #fff;
    }
}
.tm-sec {
	position: relative;
	max-width: 960px;
	min-height: 250px;
	margin: 0 auto;
	padding: 0 70px;
	text-align: center;
	overflow: hidden;
    @media screen and (max-width:$screen-width-md){
        padding:0;
    }
	.t-smu {text-transform: uppercase;font-size: 12px;color:$green;letter-spacing: 2px;}
	.f-arr,.b-arr {
		position: absolute;
		display: block;
		cursor: pointer;
		width: 70px;
		height: 70px;
		border: 1px solid $green;
		top:40px;
		z-index: 2;
		background-repeat: no-repeat;
		background-position: center center;
		@mixin roundedCorners 50%;
		@mixin transition;
		&:hover,&:active {
			background-color: rgba(255,255,255,0.2);
		}
	}
	.b-arr {
		left:0;
		background-image: url('/static/img/global/arrow-l.png');
	}
	.f-arr {
		right: 0;
		background-image: url('/static/img/global/arrow-r.png');
	}
	@media screen and (max-width:$screen-width-md){
		.f-arr,.b-arr {
			width: 50px;
			height: 50px;
		}
	}
	@media screen and (max-width:767px){
		.f-arr,.b-arr {
			width: 30px;
    		height: 30px;
    		margin: 0px 0px;
    		top: auto;
    		bottom: 10px;
            display: none;
    	}
	}
}
.tm-sec__item {
	width: 100%;
	left: 0;
	top:0;
	height: inherit;
	z-index: 1;
}
.tm-sec__quote {
	color: #C7CCCE;
	font-size: 22px;
	font-weight:300;
    line-height: 1.6em;
    max-width: 650px;
    margin: 40px auto;
    max-height: 320px;
    overflow: hidden;
    @media screen and (max-width:$screen-width-md){
    	font-size:22px;
    	padding:0 20px;
    }
    @media screen and (max-width:599px){
    	max-width:500px;
    }
}
.tm-sec__intro {
    width: 100%;

	img {
		display: inline-block;
		width: 40px;
		height: 40px;
		@mixin roundedCorners 50%;
		margin-bottom: 15px;
		border: 1px solid rgba(0,0,0,0.1);
	}
	p {
		margin-top: 5px;
		font-size: 14px;
		color: rgba(255,255,255,0.5);
	}
}

#owl-demo .item .tm-sec__item{
    display: block;
    height: auto;
}