@import '../_settings.css';
@import '../_mixins.css';
.block.block--press {
    background: rgb(246, 248, 251);
    color: #fff;
    @media screen and (min-width:$screen-width-xs) {
        padding:90px 0 80px;
    }
    h2 {

    }
    @media screen and (min-width:767px){
        .owl-pagination{
            display: none;
        }
    }
    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span{
        background: $green;
    }
}
.cfpress {
	text-align: center;
	max-width: 960px;
    min-height: 300px;
    margin: auto;
    & > img {
        display: inline-block;
        margin:20px 0;
    }
}
.cfpress__content {
        font-size: 32px;
        margin-top: 30px;
        max-width: 650px;
        margin: auto;
        color:#A8B4B3;
        font-weight: 300;
        line-height: 1.4em;
        min-height: 160px;
        a {
            color: rgba(49,68,81,0.8);
            line-height: 160%;
            display: inline-block;
            font-size: 27px;
            &:hover{
                text-decoration:none;
            }
            @media screen and (min-width: 0px) and (max-width: $screen-width-xs) {
              font-size:22px;
              max-width: 500px;
              min-height: 150px;
            }
        }
    img {
        max-height: 30px;
        max-width: 170px;
        display: inline-block;
        opacity: 0.7;
        margin: 30px auto 20px;
    }
}
.cfpress__content small {
    display: block;
    margin-top:15px;
    font-size: 14px;
    color: #999;
}
.cfpress__intro {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    margin:20px 0;
}
.intro__item {
    vertical-align: top;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 0 16px;
    opacity: 0.4;
    padding-top:16px;
    @mixin transition opacity;
    &:after {
        content:'';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: transparent;
        left: 0;
        top:-2px;
    }
    &.active, &:hover {
        opacity:1;
    }
    &.active:after {
        background-color: $green;
    }
    img {
        max-height: 30px;
        max-width: 170px;
        display: inline-block;
        @media screen and (max-width: $screen-width-sm){
            max-width:120px;
            max-height: 20px;
        }
    }
}