@import '../_settings.css';
@import '../_mixins.css';
.block.block--numbers {
	background-color: #2E434E;
    color:rgba(255,255,255,0.7);
}
.cfnumbers {
	max-width: 1000px;
	margin: 30px auto 0;
	text-align: center;
	.g-hlt {
		font-size: 16px;
		display: inline-block;
		color: $green;
		margin: 0 0 20px;
	}
	h4 {
		color: #fff;
    	font-size: 52px;
    	line-height: 1em;
    	font-weight: 300;
	}
	p {
		font-size: 16px; 
		padding:0 1em; 
	}
	@media screen and (max-width: $screen-width-sm) {
		h4 {
			font-size: 38px;
		}
	}
}
.cfnumbers__item {
	margin-bottom: 30px;
	max-width: 340px;
	margin-left:auto;
	margin-right:auto;
}