.btn{
	font-size: 16px;
	padding:10px 15px;
	border-radius: 3px;
	-webkit-transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
	display: inline-block;
}

.btn:empty{
	display:none;
}

.btn--orange{
	background: #FF704C;
	color:#fff;
	border: 1px solid rgb(242, 106, 72);
}

.btn--orange:hover, .btn--orange:active{
	background:rgb(242, 106, 72);
	text-decoration: none;
	color:#fff;
}

.btn--empty{
	background: transparent;
	border: 1px solid #314451;
	color: #314451;
}

.btn--empty:hover, .btn--empty:active{
	background:#efeff4;
	color: #314451;
	text-decoration: none;
}

.btn--empty.btn--orange{
	color:#FF704C;
	border: 1px solid rgb(242, 106, 72);
}

.btn--empty.btn--orange:hover, .btn--empty.btn--orange:active{
	color: #fff;
}

.btn--extrasmall{

}

.btn--small{

}

.btn--medium{

}

.btn--large{

}
.header-wrapper{
	height:64px;
	background:#314451;
	color:#fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	position: fixed;
	top:0;
	left:0;
	right:0;
	padding:0 16px;
	z-index:1400; 
}

.hamburger-menu, .logo, .page-title{
	float: left;
}

.hamburger-menu{
	width:48px;
	height:48px;
	position: relative;
	top:8px;
	background-repeat:no-repeat;
	background-position: center center;
	background-size: 16px 12px;
	background-image: url('../img/icons/hamburger.png');
	cursor: pointer;
}
.page-title{
	font-size: 20px;
  	line-height: 64px;
  	position: relative;
  	font-weight: 300;
  	opacity: 0.7;
}
.page-title:before{
	content:'';
	width: 0.3em;
	margin:0 0.8em 0 0.8em;
	background-repeat:no-repeat;
	background-image: url('../img/icons/right-arrow-white.png');
	background-size: contain;
	background-position: right center;
	float: left;
	height: 64px;
}

.bar-text{
	font-size: 16px;
  	line-height: 64px;
  	position: relative;
  	font-weight: 300;
  	opacity: 1;
  	padding-right:30px;
}


.logo{
	line-height: 60px;
	cursor: pointer;
}


.logo img{
	height:24px;
	margin-left:8px;
}
.right-item {
    font-size: 16px;
    line-height: 64px;
    position: relative;
    font-weight: 300;
    opacity: .7;
    font-weight: 700;
    margin-right: 16px;
}

body{
}

body, html{
    font-family: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
    background-color: #efeff4;
}
.bounding-box {
    margin: 100px auto 0px;
    max-width: 900px;
}
.bounding-box > h3 {
    margin: 20px 0;
    font-size:20px;
}

.bounding-box .infmn-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding:20px;
    position:relative;
    margin:10px 0px 0px;
    background-color:#ffffff;
    border-radius: 3px;
}
.bounding-box div.infmn {
    padding:45px 25px 1px;
    border:1px dashed #cacaca;
    position:relative;
    margin:20px 0px 10px;
}

.bounding-box .form-hdr {
    position: relative;
    padding:15px 0px 15px 10px;
    background: #efeff4;
    text-align:left;
    color: #314451;
}

.bounding-box #number-widget {
    height:300px;
    text-align:left;
    padding:15px 15px 0 0;
}
.bounding-box #time-widget .time-table th {
    text-align:center;
    width:100px;
    color:#FF704C;
    font-size:12px;
    text-transform:uppercase;
    padding:8px 2px;
    vertical-align: middle;
}
.bounding-box #time-widget .time-table td {
    cursor:pointer;
    font-size: 12px;
}
.bounding-box #widget-box .complete{
    border: 2px dashed #cae6ce;
    text-align:center;
    margin:20px 0px 10px;
    padding:10px;
}
.bounding-box #widget-box .error-field {
    color:red;
    font-size:12px;
    margin-top:5px;
    display: inline-block;
}
.bounding-box #widget-box .complete .highlight {
    font-size:30px;
    color:#ff9f6e;
}
.bounding-box .cover-infm {
    padding:10px;
    border:1px dashed #cae6ce;
    position:relative;
    margin:10px 0px 10px;
}
.bounding-box .spl-table tbody {
    vertical-align:top;
}
.bounding-box #time-widget {
    min-height:300px;
    background: #efeff4;
    text-align:left;
    padding:15px 20px;
    position:relative;
}
@media screen and (max-width:600px) {

	.bounding-box #time-widget{
		background: transparent;
		padding: 0px;
	}
}
#number-widget label {
    font-weight:normal;
    margin-bottom:5px;
}
.bounding-box #time-widget .time-table td:hover, .bounding-box #time-widget .time-table td.active {
    background-color:#FF704C;
    color:#ffffff;
}
.bounding-box #widget-box {
    margin-top:20px;
}
.bounding-box #widget-box .complete{
    border: 2px dashed #cae6ce;
    text-align:center;
    margin:20px 0px 10px;
    padding:10px;
}
.bounding-box #widget-box .complete .highlight {
    font-size:30px;
    color:#ff9f6e;
}

.bounding-box #time-widget .time-table .frozen :hover, .bounding-box #time-widget .time-table .frozen {
    color: #999999;
    background-color: #ffffff;
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: line-through;
}
.message {
    font-size: 25px;
    margin: 30px;
    text-align: center;
    color: #444444;
}
.ui-autocomplete-input {
    width: 220px;
}
ul.ui-autocomplete {
    background-color:white;
    list-style:none;
    z-index:10;
    width: 220px;
    padding:0px;
    margin:0px;
}
ul.ui-autocomplete li {
    border-bottom:1px solid #DDDDDD;
    padding:3px;
    width:220px;
}
ul.ui-autocomplete li.ui-state-focus {
    background-color: #EEEEEE;
}


