@media all{
	html,body{
		margin: 0;
		padding: 0;
        font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color:#314451;
        -webkit-print-color-adjust: exact;
	}
	.form-label{
		width:82px;
		display: inline-block;
        vertical-align:top;
        margin-right: 5px;
	}
    .form-val{
        display: inline-block;
        width: 97px;
        vertical-align:top;
    }
    .label-big{
        width:204px;
		display: inline-block;
    }
	.table-bor {
		border-collapse: collapse;
	}
	.table-bor td{
		border:1px solid #999;
	}
    .img-sml img{
        max-height: 400px;
        max-width: 400px;
    }

    .img-big img{
        max-height: 700px;
        max-width: 800px;
    }
    .main-wrapper{
        padding:4px 10px;
    }
    .main-header{
        font-size:24px;
        text-align:center;
        padding:4px 10px;
    }
    .label-wrap{
        text-align:left;
        padding:4px 10px;
    }
    .data-center{
        text-align:center;
        padding:4px 10px;
    }
    .data-center-big{
        font-size:24px;
        text-align:left;
        padding:4px 10px;
    }
    .data-center-med{
        font-size:18px;
        text-align:left;
        padding:4px 10px;
    }
    .data-center-med{
        font-size:18px;
        font-weight:bold;
        text-align:left;
        padding:4px 10px;
    }
    .half{
        width: 50%;
        display: inline-block;
        float: left;
    }

    .half div{
        margin-left: 10px;
    }

    .section-head{
        background-color: #ddddde;
    }
}
