<div class="coverfox_container" style="width:300px;float:left;">
</div>
<div class="cf_topup_container" style="width:600px;float:left;">
</div>
<div class="cfmotor_container" style="width:300px;float:left;">
</div>
<div class="cfmotor_container" style="width:600px;float:left;">
</div>
<script type="text/javascript">
(function loadScript(src, callback) {
  var s, r, t;
  r = false;
  s = document.createElement('script');
  s.type = 'text/javascript';
  s.src = src;
  s.onload = s.onreadystatechange = function() {
        console.log( this.readyState );
        if ( !r && (!this.readyState || this.readyState == 'complete') ){
            r = true;callback();
        }
    };
  t = document.getElementsByTagName('script')[0];
  t.parentNode.insertBefore(s, t);
})('https://www.coverfox.com/static/lp-health/tp_widget/cf_loader.js', function() { CF.init('jago'); });
</script>
