{% extends "campaign/health/base.html" %}
{% load compress%}
{% load manip_data%}
{% block title %}{{ page_title }}{% endblock %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="health-widget">
    <div class="container">
        <div class="row">
            <div class="col-md-7 hidden-xs">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-5 well">
                        <h1>Maximise Your Take Home Salary</h1>
                        <h4>Save Tax upto Rs. 10,500/- under section 80D</h4>
                    </div>
                    <div class="col-md-2">
                        <h1 style="text-align: center;margin-top: 50%;font-size: 80px;">+</h1>
                    </div>
                    <div class="col-md-5 well">
                        <h1>Choose a Policy that's best for you</h1>
                        <h4>Get personalised results. Plans rated by experts</h4>
                    </div>

                </div>
                <div class="companies-box">
                    <div class="second-hook">
                        <h3 style="text-align: center;">Best Tax saver plans of 2015 <br/>from Top Companies</h3>
                    </div>
                    <div class="row">
                        <ul id="company-logos">
                            {% if current_insurer %}
                                <li class="current-insurer"><img src="{{STATIC_URL}}lp-health/img/insurer/insurer_{{ current_insurer.id }}/on_n.png" alt="" /></li>
                            {% endif %}
                            {% for i in default_insurer_list %}
                                {% ifnotequal i current_insurer.id %}
                                    <li><img src="{{STATIC_URL}}lp-health/img/insurer/insurer_{{ i }}/on_n.png" alt="" /></li>
                                {% endifnotequal %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-8">
                <h1 class="visible-xs">Save Tax upto Rs. 10,500/- under section 80D</h1>
                {%include "campaign/health/snippets/full_form.html" %}
            </div>
        </div><!--/.row -->
    </div><!--/.container -->
</div><!--/.health-widget -->
{% endblock %}

{% block companies %}
    <section class="companies-wrapper">
        <div class="container-fluid">
            <div class="row mnone" style="text-align: center">
                <h2>Get proof required for Income Tax Deduction Instantly with Select Brands</h2>
            </div>
        </div><!--/.container-fluid-->
    </section>
{% endblock %}

{%block tips%}
{% endblock %}

{%block footer_css%}
    {%compress css%}
        <link href="{{STATIC_URL}}lp-health/best_online/css/style.css" rel="stylesheet">
    {%endcompress%}
{%endblock%}
