{% extends "campaign/health/base.html" %}
{% load compress%}
{% load manip_data%}
{% block title %}Premium Calculator | Health Insurance | Mediclaim Policy{% endblock %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="health-widget">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>{{ main_body.heading|safe }}</h1>
                <h1 class="mobile-heading">Health Insurance Calculator</h1>
                <h2 class="leader">
                    {% if text_panel %}
                        <div class="text-panel">
                            {{ panel_text|safe }}
                        </div>
                    {% else %}
                        Top 20 Companies. Instant Free Quotes. Ratings By Experts
                        <img class="hidden-sm hidden-xs" src="{{STATIC_URL}}lp-health/buy_online/img/resultsimage.png" alt="">
                    {% endif %}
                </h2>
            </div>
            <div class="col-md-5 col-sm-8">
                {% include "campaign/health/snippets/full_form.html" %}
            </div>
        </div><!--/.row -->
    </div><!--/.container -->
</div><!--/.health-widget -->

{% endblock %}

{%block tips%}
{% endblock %}

{% block hero_form_js %}
{% endblock %}

{%block footer_css%}
    {%compress css%}
        <link href="{{STATIC_URL}}lp-health/buy_online/css/style.css" rel="stylesheet">
    {%endcompress%}
{%endblock%}
