{% extends "campaign/health/base.html" %}
{% load compress%}
{% load manip_data%}

{% block title %}Cancer Protect Plan{% endblock %}
{% block overhead %}
{% endblock %}
{% block hero %}
    <div class="doc-banner">
        <div class="banner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                    </div>
                    <div class="col-md-6 col-lg-6 form-section">
                        <h1>{{ main_body.heading|safe }}</h1>
                        <p class="sub-heading">{{ main_body.sub_heading|safe }}</p>
                        <div id="ph-form-top" class="number-form">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">+91</span>
                                <input id="contact-me-num-top" type="tel" class="form-control" placeholder="Enter mobile number">
                            </div>
                            <button onclick="sendDataToGoogleForm(this,'top')" class="btn-cfox orange">Would like to know more</button>
                            <div id='hero-error-top' class="error reveal hide"><span class="glyphicon glyphicon-warning-sign"></span><span>&nbsp;Please enter a valid 10 digit mobile number</span></div>
                            <div id='hero-loading' class="loading-box reveal hide">
                                <img src="{{STATIC_URL}}lp-health/img/loading-big.gif" alt="" /> Please wait...
                            </div>
                            {% if skip_option %}
                                <a class="pull-right" style="margin: 40px 0 15px 0;cursor: pointer;font-weight: bold;" onclick="skipForm('main')">I don't need any help. I want to search plans on my own.</a>
                            {% endif %}
                        </div>
                        <div id="ph-success-top" class="number-form hide">
                            Thank You! We will shortly call you back.
                        </div>
                        <div class="terms-msg terms-msg-top">I hereby authorize Coverfox to communicate with me on the given number for my Insurance needs. I am aware that this authorization will override my registry under NDNC.</div>
                        <div class="terms-msg condition-apply">*7 days survival period – For major cancers.</div>
                    </div>
                </div>
            </div>
        </div>
     </div>
    {%block companies%}{% endblock %}

{% endblock %}
{%block benefits_cancer%}
    <section class="dark-box benefits-wrapper main_icon">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1><strong>Benefits</strong> of Cancer Plans</h1>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <img src="{{STATIC_URL}}lp-health/cancer_plan_v2/img/1.png">
                    <h4>Get cash on diagnosis <br>of Cancer.</h4>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <img src="{{STATIC_URL}}lp-health/cancer_plan_v2/img/2.png">
                    <h4>No bills to be <br> submitted.</h4>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <img src="{{STATIC_URL}}lp-health/cancer_plan_v2/img/3.png">
                    <h4>Free to use Cash <br> <p>(including treating her abroad.)</p></h4>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <img src="{{STATIC_URL}}lp-health/cancer_plan_v2/img/4.png">
                    <h4>Covers Early stage <br> Cancer too. </h4>
                </div>
            </div>
        </div><!--/.container-->
    </section>
{%endblock%}
{% block experts %}
<section class="dark-box experts-help">
    <div class="container">
        <div class="row mnone">
            {% if keyword %}
                <h1 class="section-header">Get the Best Mediclaim Deals<br class="visible-sm"/> with our Experts</h1>
            {% else %}
                <h1 class="section-header">Get the Best Health Insurance Deals<br class="visible-sm"/> with our Experts</h1>
            {% endif %}
            <div class="col-sm-6">
                <ul>
                    <li>
                        <img src="{{STATIC_URL}}lp-health/img/check-icon.png" alt=""/>
                        Don't pay extra for features you don't need
                    </li>
                    <li>
                        <img src="{{STATIC_URL}}lp-health/img/check-icon.png" alt=""/>
                        Make sure you are not insured more than necessary
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul>
                    <li>
                        <img src="{{STATIC_URL}}lp-health/img/check-icon.png" alt=""/>
                        Get end to end assistance with proposal form
                    </li>
                    <li>
                        <img src="{{STATIC_URL}}lp-health/img/check-icon.png" alt=""/>
                        Get priority help if you make a claim
                    </li>
                </ul>
            </div>
        </div>
        <div  class="wow">
            <div id="ph-form-bot" class="row mnone">
                <div class="col-md-7 col-sm-6 pnone">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">+91</span>
                        <input id='contact-me-num-bot' type="tel" class="form-control" placeholder="Mobile number">
                    </div>
                    <p id="hero-error-bot" class="contact-me-error-expert error hide">Please enter a valid 10 digit phone number</p>
                </div>
                <div class="col-md-5 col-sm-6 pnone">
                    <button onclick="sendDataToGoogleForm(this,'bot')" class="call_me_btn_expert btn btn-cfox orange" type="button">Get an expert to call me now!</button>
                </div>
            </div><!--/.row--> 
            <div id="ph-success-bot" class="row mnone hide">
                <div class="col-md-12 ph-success-bot">
                    Thank You! We will shortly call you back.
                </div>
            </div>           
            <div class="terms-msg terms-msg-bot">{{ settings.DND_MSG }}</div>
        </div><!--/.wow-->        
    </div>
</section>
{% endblock experts %}
{%block testimonials%}
    <section class="dark-box testimonials-section">
        <div class="container">
            <h1>Hear from our Mediclaim customers</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}lp-health/img/testimonials/t1.jpg" alt=""/>
                        <div class="comment">
                            <img src="{{STATIC_URL}}lp-health/img/quote-icon.png" alt=""/>
                            <p>"Shweta was extremely helpful and patient. She addressed all doubts and concerns politely. Definitely felt good about my decision"</p>
                            <p class="title">- Mrunmayee</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}lp-health/img/testimonials/t2.jpg" alt=""/>
                        <div class="comment">
                            <img src="{{STATIC_URL}}lp-health/img/quote-icon.png" alt=""/>
                            <p>
                                "Extremely warm and pleasant process. Did not get any unsolicited calls, relationship team was polite and the insurance buying process very easy"
                            </p>

                            <p class="title">- Mr. and Mrs. Thombre</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}lp-health/img/testimonials/t3.jpg" alt=""/>
                        <div class="comment">
                            <img src="{{STATIC_URL}}lp-health/img/quote-icon.png" alt=""/>
                            <p>
                                "Very intuitive and great user experience. Made me feel great about buying insurance which is a first"
                            </p>

                            <p class="title">- Mr. and Mrs. Kainth</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section>
{%endblock%}
{% block ebook_download%}{% endblock %}
{%block steps%}{% endblock %}

{% block footer_js %}
<script type="text/javascript">
    function sendDataToGoogleForm(ele, loc){                
        var cnum = $('#contact-me-num'+"-"+loc).val().trim();  
        res = cnum.match(/[7-9]{1}\d{9}/);
        if ((cnum !== "") && (res) && cnum.length == 10) {
            $('#hero-error'+"-"+loc).addClass('hide');
            $(ele).attr("disabled",'disabled');
            $(ele).text("Just a moment...");
            $.ajax({
                url: "https://docs.google.com/a/coverfoxmail.com/forms/d/1xdrmuiOv2cmj0e6VmJoEtdMUMTBenzA5zhyrPOWp9oY/formResponse",
                data: {"entry.1121848303" : "{{ page_id }}"+"-"+loc, "entry.1575785414": cnum},
                type: "POST",
                dataType: "xml",
                statusCode: {
                    0: function (){ 
                       Cookies.set('cnum', cnum); 
                       $("#ph-success"+"-"+loc).removeClass("hide");
                       $(".terms-msg"+"-"+loc).addClass("hide");
                       $("#ph-form"+"-"+loc).addClass("hide");
                    },
                    200: function (){
                       Cookies.set('cnum', cnum);                       
                       $("#ph-success"+"-"+loc).removeClass("hide");
                       $(".terms-msg"+"-"+loc).addClass("hide");
                       $("#ph-form"+"-"+loc).addClass("hide");
                    }
                }
            });
        }        
        else {            
            $('#hero-error'+"-"+loc).removeClass('hide');            
        }
    } 
</script>
{% endblock %}

{%block footer_css%}
    {%compress css%}
        <link href="{{STATIC_URL}}lp-health/cancer_plan_v2/css/style.css" rel="stylesheet">
    {%endcompress%}
{%endblock%}
