{% extends "campaign/health/base.html" %}
{% load compress%}
{% load manip_data%}

{% block title %}{{ page_title }}{% endblock %}
{% block overhead %}
{% endblock %}
{% block hero %}
    <div class="doc-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-5">
                    <div class="testimonial_box">
                        <div class="testimonial_claim">
                         <p>My Claim was rejected twice... but <strong>Sameer did not give up!</strong> Thank you Coverfox!</p>
                         <p class="name">- Pushpamala</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-7 form-section">
                    <div class="number-form">
                        <h2>Claims main ab No Tension!</h2>
                        <p>Buy Health Insurance from Coverfox.com and get 100% Claims Support across more than 10 Insurance Cos. </p>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">+91</span>
                            <input id="contact-me-num" name="mobile" type="text" class="form-control" placeholder="Enter mobile number">
                        </div>
                        <span id="call-me-btn" class="btn-cfox orange">Know more about our Services >></span>
                        <div id='hero-error' class="error reveal hide"><span class="glyphicon glyphicon-warning-sign"></span><span>&nbsp;Please enter a valid 10 digit mobile number</span></div>
                        <div id='hero-loading' class="loading-box reveal hide">
                            <img src="{{STATIC_URL}}lp-health/img/loading-big.gif" alt="" /> Please wait...
                        </div>
                        {% if skip_option %}
                            <a class="pull-right" style="margin: 40px 0 15px 0;cursor: pointer;font-weight: bold;" onclick="skipForm('main')">I don't need any help. I want to search plans on my own.</a>
                        {% endif %}
                        <div class="terms-msg">
                            {{ settings.DND_MSG }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <section class="heros_video_container">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <iframe width="100%" height="auto" src="https://www.youtube.com/embed/7VxoVVdzkE8" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-md-9 col-sm-9">
                    <p>Watch this 3 minute video on how Sameer from Coverfox helped settle a sticky claim! </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block hero_form_js %}
    <script type="application/javascript">
        var next_page_override = '/health-plan/plan/topup/';
    </script>
    <script src="{{STATIC_URL}}marketing/health/js/utils.js"></script>
    <script src="{{STATIC_URL}}marketing/health/js/hero_form.js"></script>
{% endblock %}

{% block footer_js %}
{% endblock %}

{%block footer_css%}
    {%compress css%}
        <link href="{{STATIC_URL}}lp-health/health_claim_support/css/style.css" rel="stylesheet">
    {%endcompress%}
{%endblock%}
