{% extends "campaign/health/base.html" %}
{% load compress%}
{% load manip_data%}
{% block title %}Premium Calculator | Health Insurance | Mediclaim Policy{% endblock %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="health-widget">
        <div class="container">
            <div class="row">
                <div class="club-form">

                    <div class="heading-banner click2call">
                        <h1>Compare Health Insurance Policies</h1>
                        <ul>
                            <li><img src="{{STATIC_URL}}lp-health/img/check-icon.png" alt=""> Family and Individual plans</li>
                            <li><img src="{{STATIC_URL}}lp-health/img/check-icon.png" alt=""> Maternity and OPD covers</li>
                            <li><img src="{{STATIC_URL}}lp-health/img/check-icon.png" alt=""> Cashless Hospitalization</li>
                            <li><img src="{{STATIC_URL}}lp-health/img/check-icon.png" alt=""> Save Tax upto Rs. 10,500/- under section 80D</li>

                        </ul>
                        <button onclick="ClickToCall('hero_action')" class="btn-cfox orange btn-next c2c">
                            <img src="{{STATIC_URL}}lp-health/click_to_call/img/call-button.png" alt="">
                            Click to Call<div>(Toll Free: {{ settings.HEALTH_TOLL_FREE }})</div>
                        </button>
                    </div>

                    <div class="companies-wrapper">
                        <div class="container-fluid">
                            <div class="row mnone">
                                <ul class="company-logos">
                                    <li><img src="{{STATIC_URL}}lp-health/img/insurer/star-health-general-insurance.png" alt="Star Health General Insurance - Health Insurance"></li>
                                    <li><img src="{{STATIC_URL}}lp-health/img/insurer/apollo-munich-health-insurance.png" alt="Apollo Munich Health Insurance"></li>
                                    <li><img src="{{STATIC_URL}}lp-health/img/insurer/religare-general-insurance.png" alt="Religare General Insurance - Health Insurance"></li>
                                    <li><img src="{{STATIC_URL}}lp-health/img/insurer/larsen-and-tubro-general-insurance.png" alt="Larsen and Tubro General Insurance - Mediclaim Insurance"></li>
                                    <li><img src="{{STATIC_URL}}lp-health/img/insurer/bajaj-allianz-general-insurance.png" alt="Bajaj Allianz General Insurance - Health Insurance" style="max-height:35px;"></li>
                                    <li><img src="{{STATIC_URL}}lp-health/img/insurer/bharti-axa-general-insurance.png" alt="Bharti AXA General Insurance - Health Insurance"></li>
                                    <li><img src="{{STATIC_URL}}lp-health/img/insurer/iffco-tokio-general-insurance.png" alt="IFFCO TOKIO General Insurance - Health Insurance"></li>
                                    <li><img src="{{STATIC_URL}}lp-health/img/insurer/hdfc-ergo-general-insurance.png" alt="HDFC ERGO General Insurance - Health Insurance"></li>
                                    <li><img src="{{STATIC_URL}}lp-health/img/insurer/reliance-general-insurance.png" alt="Reliance General Insurance - Health Insurance"></li>
                                    <li><img src="{{STATIC_URL}}lp-health/img/insurer/new-india-general-insurance.png" alt="New India General Insurance - Mediclaim Insurance"></li>
                                </ul>
                            </div>
                        </div><!--/.container-fluid-->
                    </div>
                </div>
            </div><!--/.club-form-->
        </div><!--/.container-->
    </div><!--/.health-widget -->

{% endblock %}

{%block companies%}
{% endblock %}
{%block tips%}
{% endblock %}

{%block footer_css%}
    {%compress css%}
        <link href="{{STATIC_URL}}lp-health/click_to_call/css/style.css" rel="stylesheet">
    {%endcompress%}
{%endblock%}
