{% extends "campaign/health/base.html" %}
{% load compress%}
{% load manip_data%}
{% block title %}Premium Calculator | Health Insurance | Mediclaim Policy{% endblock %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="hero-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-6">
                    <img class="tag-cloud" src="{{STATIC_URL}}lp-health/confused/img/tag-cloud.png" alt=""/>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="club-form">
                        <h1>Health Insurance Policy Terms can be confusing</h1>
                        <h4>Talk to a Coverfox Expert to make sure your policy covers everything you need</h4>
                        <div class="form-box-mini">
                            <label for="contact-me-num">Mobile Number</label>
                            <div class="cfinput addon-field">
                                <span class="addon">+91</span>
                                <input type="text" id='contact-me-num' placeholder="Enter mobile number"/>
                            </div>
                            <div class="contact-me-error hide">
                                <p class="error">Please enter a valid 10 digit mobile number</p>
                            </div>
                            <button id="call-me-btn" class="btn-cfox orange btn-next btn-block">
                                Get a call back
                            </button>
                            <div id='hero-error' class="error reveal hide"><span class="glyphicon glyphicon-warning-sign"></span><span>&nbsp;Please enter a valid 10 digit mobile number</span></div>
                            <div id='hero-loading' class="loading-box reveal hide">
                                <img src="{{STATIC_URL}}lp-health/confused/img/loading-big.gif" alt="" /> Please wait...
                            </div>
                            <div class="terms-msg">{{ settings.DND_MSG }}</div>
                        </div><!--/.form-box-mini-->
                        <a class="no-thanks" onclick="skipForm('no_thanks')">I want to go through the policies on my own &gt;&gt;</a>
                    </div><!--/.club-form-->
                </div>
            </div><!--/.row-->
        </div>
    </div>
{% endblock %}

{%block tips%}
{% endblock %}

{%block footer_css%}
    {%compress css%}
        <link href="{{STATIC_URL}}lp-health/confused/css/style.css" rel="stylesheet">
    {%endcompress%}
{%endblock%}
{% block footer_js %}
{% endblock %}
