﻿<!DOCTYPE html>
<html>
{% load compress %}
{% load manip_data %}
<head>
<title>Compare & Buy Top Insurance Policies Online from Coverfox.com </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

    <meta property="og:site_name" content="Coverfox Insurance, India" />
    <meta property="og:locale" content="en_us" />
    <meta property="og:title" content="Coverfox Insurance, India - The smartest way to manage your Insurance" />
    <meta property="og:description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance." />
    <meta property="og:url" content="http://www.coverfox.com" />
    <meta property="og:image" content="{{STATIC_URL}}lp-health/img/coverfox_logo_fb.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="403">
    <meta property="og:image:height" content="403">

    <meta name="twitter:title" content="Coverfox Insurance, India">
    <meta name="twitter:description" content="The smartest way to buy and manage your insurance">

    <meta name="published_time" content="2013-09-26" />
    <meta name="modified_time" content="{{currenttime|date:'Y-m-d'}}" />
    <meta name="keywords" content="Insurance India, Best Insurance in India, Best Policy" />
    <meta name="description" content={% block description %}{% if description %}{{ description }}{% else %}"Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance."{% endif %}{% endblock %} />
    <meta name="publisher" content="Coverfox Insurance" />
    <meta name='robots' content='index, follow' />
    <!-- Bootstrap -->
    <link rel="shortcut icon" href="{{STATIC_URL}}lp-health/img/favicon.ico" type="image/x-icon" />

    <script src="{{STATIC_URL}}campaign/js/jquery.min.js"></script>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var T1 = new Date();
        var insurer = "{{ current_insurer.name }}";
        var page_id = "{{ page_id }}";
        var lms_campaign = "{{ lms_campaign }}";
        var CSRF_TOKEN = "{{csrf_token}}";
        dataLayer = [];
    </script>
    <!-- Start Visual Website Optimizer Asynchronous Code -->
    <!-- Sentry -->
    {%if settings.PRODUCTION%}
        <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
        <script>
            Raven.config('https://b73a2dd7e1714ae3aab0e33fd663b391@app.getsentry.com/33123', {
            }).install();
        </script>
    {%endif%}
    <script type='text/javascript'>
        var _vwo_code=(function(){
            var account_id=113955,
                    settings_tolerance=2000,
                    library_tolerance=2500,
                    use_existing_jquery=false,
                    // DO NOT EDIT BELOW THIS LINE
                    f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
    </script>
    <!-- End Visual Website Optimizer Asynchronous Code -->
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MR4FRN');</script>
<!-- End Google Tag Manager -->
<header>
    <div id="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-4 col-sm-4">
                    <div class="logo">
                        <a href="/">
                            {% block cf_logo %}
                                <img src="{{STATIC_URL}}lp-motor/img/coverfox-logo.png?ver=1" alt="Coverfox" class="logo">
                            {% endblock %}
                        </a>
                        <br/>
                    </div>
                    <div id="irda-auth" class="irda-auth-badge">
                        <span>
                            IRDA Licence:
                            <br>IRDA/ DB 556/ 13
                        </span>
                    </div>
                </div>
                <div class="col-md-6 col-xs-8 col-sm-8">
                    <ul id="right-menu-items" class="clearfix">
                        {% block crossover %}
                            <li class="pipe-link"><a href="/health-plan/">Health</a></li>
                            <li class="pipe-link"><a href="/motor/twowheeler-insurance/">Two Wheeler</a></li>
                            <li class="pipe-link"><a href="/home-insurance/">Home</a></li>
                            <li class="pipe-link"><a href="/travel-insurance/">Travel</a></li>
                            <li class="pipe-link seperator"></li>
                        {% endblock crossover %}
                        {% block tollfree %}
                            {% ifequal view_id 'call' %}
                                <li class="c2c">
                                    <a href="javascript:ClickToCall('top_bar')">
                                        {{ settings.CAR_CALL_ONLY }}
                                    </a>
                                    Toll Free
                                    <img src="{{STATIC_URL}}lp-motor/img/phone.png?ver=1" alt="" class="menuimg">
                                </li>
                            {% else %}
                                <li class="c2c">
                                    <a href="javascript:ClickToCall('top_bar')">
                                        {{ settings.CAR_TOLL_FREE }}
                                    </a>
                                    Toll Free
                                    <img src="{{STATIC_URL}}lp-motor/img/phone.png?ver=1" alt="" class="menuimg">
                                </li>
                            {% endifequal %}
                        {% endblock tollfree %}
                    </ul>
                </div>
            </div>
            <button id="toggle-menu" class="navbar-toggle">
                <span class="bar plus"></span>
                <span class="bar minus"></span>
            </button>
            <ul id="pipe-links" class="pipe-menu-right">
                <li class="pipe-link"><a href="/health-plan/">Health</a></li>
                <li class="pipe-link"><a href="/motor/twowheeler-insurance/">Two Wheeler</a></li>
                <li class="pipe-link"><a href="/home-insurance/">Home</a></li>
                <li class="pipe-link"><a href="/travel-insurance/">Travel</a></li>
            </ul>
        </div><!--/.container-->
  </div><!--/#topbar-->
</header>
<section class="hero_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <div class="book_pic">
                    <img src="{{ STATIC_URL }}lp-health/ebook/img/ebook-cover.jpg" alt="Buying Health Insurance for your Parents" style="max-height: 100%; max-width: 100%">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <h1>Parents Health Insurance Guide</h1>
                <div class="bot_border"></div>
                <h4>A must-read guide that covers all key aspects you need to know when buying health insurance for your parents.  The guide includes help on processes, possible issues you may face and hacks around them. It even tells you about how to avoid frequent hospital visits! </h4>
                <div class="form_wrapper" id="email-content-top">
                    <label>Email Address:*</label>
                    <div class="field_wrapper">
                        <input type="text" id="email-id-top" name="" class="cf-input" placeholder="Your Email Address"  value="" data-validation="required,email" required>
                        <p class="error hide" id="email-error-top">Please enter a valid email ID</p>
                    </div>
                    <div class="field_wrapper">
                        <input type="submit" class="btn orange" id="download-top" value="Download Now" onclick="saveEmail('top')">
                    </div>
                    <div class="note">Download link will be emailed to you.</div>
                    <small>Don’t worry, We hate spam too</small>
                </div>
                <div class="col-sm-7 hide" id="success-top">
                    <div class="field_wrapper">
                        <h4 style="font-size: medium">Great! You'll shortly receive the download link for the ebook in your email.<br><br>In the meanwhile, you can checkout some of our other <a href="/articles/">articles</a> to help you get smart about your insurance!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec_block">
    <div class="container">
        <h2>What’s inside this book?</h2>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="sub_section clearfix">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="sub_section_icon">
                            <img src="{{ STATIC_URL }}lp-health/ebook/img/check-icon.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 sub_section_wrapper">
                        <h4>Myths involved: </h4>
                        <p>While zeroing in on health insurance for parents could be a tedious task, it is definitely not impossible! The ebook explains such myths and clarifies the difficulties involved in the process that misleads to the idea that buying a health policy for them is impossible!</p>
                    </div>
                </div>
                <div class="sub_section clearfix">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="sub_section_icon">
                            <img src="{{ STATIC_URL }}lp-health/ebook/img/check-icon.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 sub_section_wrapper">
                        <h4>Maneuvering pre-existing diseases:</h4>
                        <p>Everyone is better off when healthy unlike the unlucky ones who are denied a policy because of pre-existing diseases. This ebook throws substantial light on why and how pre-existing diseases are accounted for when issuing a health policy! </p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-6">
                <div class="sub_section clearfix">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="sub_section_icon">
                            <img src="{{ STATIC_URL }}lp-health/ebook/img/check-icon.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 sub_section_wrapper">
                        <h4>Untangling the fear in claims process:</h4>
                        <p>If there is anything that can scorn you more than pre-existing conditions, it is the question of transparency in the claims procedure. This ebook aims to break down that false belief and spells out the tiny steps to become self-aware of the much-feared claims process!</p>
                    </div>
                </div>
                <div class="sub_section clearfix">
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <div class="sub_section_icon">
                            <img src="{{ STATIC_URL }}lp-health/ebook/img/check-icon.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-10 sub_section_wrapper">
                        <h4>Beating policy denials with prevention</h4>
                        <p>While the fear about uninsured parents cannot be ignored, the ebook illustrates what healthy habits need to be followed in order to ensure parents’ peaceful and healthy living and how they need to be taken care of in order to avoid those frequent hospital visits.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="sec_block dark">
    <div class="container">
        <h2>About the Author</h2>
        <div class="row">
            <div class="author_pic"></div>
            <div class="author_intro">Mahavir heads Health, Travel & Life Insurance business at <a href="https://www.coverfox.com/">Coverfox</a>. He has 10+ years of experience of running successful Online Insurance e-businesses since its nascent stages in India. He has been actively commenting on the industry since 2008 and is regularly quoted in places like Economic Times, Business Standard, Moneycontrol amongst others. <br />
            Mahavir is also a qualified chartered accountant. <br /><br />
            When not obsessing over the insurance industry and Coverfox, Mahavir likes reading, watching TV and spending time with his 7 year old son.</div>
            <div class="author_connect">
                <a class="icon fb" title="Facebook" href="https://www.facebook.com/chopramahavir" target="_blank"></a>
                <a class="icon twt" title="Twitter" href="https://www.twitter.com/themahavir" target="_blank"></a>
                <a class="icon lkd" title="Linkedin" href="https://in.linkedin.com/in/mahavir" target="_blank"></a>
            </div>
        </div>
    </div>
</section>

<section class="sec_block">
    <div class="container">
        <h2>Full chapters list</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="chap_list">
                    <ul>
                        <li>Why are we talking about Health Insurance for Parents?<span>1</span></li>
                        <li>First let’s attack the predominant myths around Parents' health insurance<span>2</span></li>
                        <li>Medical History Check-in<span>3</span></li>
                        <li>CHOOSING THE RIGHT PLAN: <span>4</span></li>
                        <li>PROCESS OF APPLYING HEALTH INSURANCE<span>5</span></li>
                        <li>PROPOSAL ACCEPTANCE – CHEATSHEAT<span>6</span></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="chap_list">
                    <ul>
                        <li>YOUR PROPOSAL DECLINED? NEXT STEPS<span>7</span></li>
                        <li>HAVE A POLICY ALREADY BUT FACING ISSUES<span>8</span></li>
                        <li>Essential checklist to make claims for your parents health insurance<span>9</span></li>
                        <li>SMART ELDER CARE – THE BEST INSURANCE<span>10</span></li>
                        <li>Definitions made easy: No more greek and latin for you!<span>11</span></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec_block darker">
    <div class="container">
        <div class="bottom_form_wrapper">
            <div class="row">
                <div class="col-sm-5">
                    <img src="{{ STATIC_URL }}lp-health/ebook/img/ebook-cover.jpg" alt="Buying Health Insurance for your Parents" style="max-height: 100%; max-width: 100%">
                </div>
                <div class="col-sm-7" id="email-content-bot">
                    <h4>Get your copy with your email address</h4>
                    <div class="field_wrapper">
                        <input type="text" id="email-id-bot" name="" class="cf-input" placeholder="Your Email Address"  value="" data-validation="required,email" required>
                        <p class="error hide" id="email-error-bot">Please enter a valid email ID</p>
                    </div>
                    <div class="field_wrapper">
                        <input type="submit" class="btn orange" id="download-bot" value="Download Now" onclick="saveEmail('bot')">
                    </div>
                    <div class="note">Download link will be emailed to you.</div>
                    <small>Don’t worry, We hate spam too</small>
                </div>
                <div class="col-sm-7 hide" id="success-bot">
                    <div class="field_wrapper">
                        <h4 style="font-size: medium">Great! You'll shortly receive the download link for the ebook in your email.<br><br>In the meanwhile, you can checkout some of our other <a href="/articles/">articles</a> to help you get smart about your insurance!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="sec_block footer darker clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <p>© 2014 Coverfox Insurance Broking Pvt. Ltd. <span>All Rights Reserved</span></p>
            </div>
            <div class="col-sm-4 txt-r">
                <a href="https://www.coverfox.com/">www.coverfox.com</a>
            </div>
        </div>
    </div>
</footer>
{% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}lp-health/ebook/css/style.css" type="text/css" />
{% endcompress %}

{% compress js %}
    <script src="{{STATIC_URL}}lp/js/cookies.js"></script>
{% endcompress %}
<script type="text/javascript">
    var csrf_token;
    var page_id = '{{ page_id }}';
    var toll_free_no = '{{ settings.HEALTH_TOLL_FREE }}';
    var is_mobile = false;

    $(document).ready(function(){
        // small screen crossover links toggle js
        $.get("{%url 'get_token'%}", function(data){
            csrf_token = data.csrf;
        }, 'json');
        if ('{{ request.user_agent.is_mobile }}' != 'False'){
            is_mobile = true;
        }
        $(document).on('click','#toggle-menu',function(){
            var $this =$(this);
            var $menu =$('#pipe-links');
            if($this.hasClass('active')) {
                $this.removeClass('active');
                $menu.removeClass('active');
            }
            else {
                $this.addClass('active');
                $menu.addClass('active');
            }
        });
    });

    var email_re = /^([A-Z0-9]+([+-._]?[A-Z0-9]+)*)@((?:[A-Z0-9-]+\.)*\w[A-Z0-9-]{0,66})\.([A-Z]{2,6}(?:\.[A-Z]{2})?)$/i;
    function saveEmail(pos) {
        context = $('#download-'+pos);
        $('#email-error-'+pos).addClass('hide');
        context.removeClass('hide');
        var email = $('#email-id-'+pos).val();
        var res = null;
        if (email) {
            res = email.match(email_re);
            if (res) {
                var cmodel = {
                    'email': email,
                    'campaign': 'Health',
                    'product_type': 'health',
                    'label': page_id + "_" + pos
                };
                Cookies.set('email', email);
                context.addClass('disabled').val('Just a moment...');
                $.post("/leads/save-call-time/",
                    {'data': JSON.stringify(cmodel),
                     'csrfmiddlewaretoken': CSRF_TOKEN},
                    function (data) {
                        console.log(data);
                        if (data.success) {
                            //window.dataLayer.push({'gtm_email': "Email Address Provided"});
                            window.dataLayer.push({                                
                                'event': 'GAEvent',
                                'hitType': 'event',
                                'eventCategory': 'HEALTH',
                                'eventAction': 'get_ebook',
                                'eventLabel': 'get_ebook_'+pos,
                                'eventValue': 0,
                                'eventCallback': function () {
                                    $('div[id^=email-content-]').addClass('hide');
                                    $('div[id^=success-]').removeClass('hide');
                                }
                            });
                        }
                        else {
                            context.removeClass('disabled').val('Download Now');
                            console.log('POST ERROR', data);
                        }
                    },
                    'json'
                );
            }
            else {
                $('#email-error-'+pos).removeClass('hide');
            }
        }
        else {
            $('#email-error-'+pos).removeClass('hide');
        }
    }
    var email = Cookies.get('email');
    var email_objs = $('input[id^=email-id-]');
    function set_email(v) {
        if(!email_objs.val()) email_objs.val(v);
    }
    if(email) {
        set_email(email);
    }
</script>

</body>
</html>
