{% extends "campaign/health/base.html" %}
{% load compress%}
{% load manip_data%}
{% block title %} Health Insurance | Mediclaim Policy{% endblock %}
{% block header %}
{% endblock %}
{% block logo%}
    <img src="{{STATIC_URL}}lp-health/game_of_thrones/img/logo.jpg" alt="" class="logo">
{% endblock %}
{% block hero %}
    <div class="health-widget">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-6">
                   <h1>DON'T BE A JON SNOW</h1>
                   <p>Know Exactly what is covered in your Health Insurance Policy and what isn't</p>
                   <div class="form_container">
                       <input id="contact-me-num" type="text" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" placeholder="Enter your Mobile No"> <br>
                       <span id="call-me-btn">Talk to a Wildling</span>
                    <div id='hero-error' class="error reveal hide"><span class="glyphicon glyphicon-warning-sign"></span><span>&nbsp; Please enter a valid 10 digit raven.. erm.. Mobile No.</span></div>
                    <div id='hero-loading' class="loading-box reveal hide">
                    </div>
                   </div>
                   <div class="terms-msg"> {{ settings.DND_MSG }} </div>
                </div>
                <div class="col-md-7 col-sm-6">
                    <img src="{{STATIC_URL}}lp-health/game_of_thrones/img/hero.jpg" class="img-responsive" alt="">
                </div>
            </div><!--/.row -->
        </div><!--/.container -->
    </div><!--/.health-widget -->

{% endblock %}

{%block tips%}
{% endblock %}


{%block footer_css%}
    {%compress css%}
        <link href="{{STATIC_URL}}lp-health/game_of_thrones/css/style.css" rel="stylesheet">
    {%endcompress%}
{%endblock%}
