{% extends "campaign/health/base.html" %}
{% load compress%}
{% load manip_data%}

{% block title %}{{ page_title }}{% endblock %}
{% block overhead %}
{% endblock %}
{% block hero %}
    <section class="health-tax-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Top 6 TAX SAVER Mediclaim Plans</h1>
                    <h3>Save Tax on <img src="/static/img/global/rupee-b.png" alt=""> 55,000. Get instant investment proof.  </h3>
                </div>
                <div class="col-md-12 clearfix prmobile">
                    <div class="col-md-8 col-sm-8 plnone prmobile hidden-xs">
                        <div class="clearfix">
                            <div class="col-md-6 col-sm-6 plnone">
                                <div class="mediclaim-list">
                                    <h4>Mediclaim that doubles in 2 Years</h4>
                                    <div class="insurer-container clearfix">
                                        <div class="col-md-6 col-xs-6 col-sm-6 prnone plnone text-right">
                                            <img src="{{STATIC_URL}}lp-health/img/insurer/insurer_1/on_n.png" alt=""> 
                                            <div class="text">Optima Restore</div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 text-center">
                                            <span><img src="/static/img/global/rupees.png"> 9,905</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Self (31 yrs) + Spouse + 1 Kid <br> Sum Insured : Rs. 3 Lakhs </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 plnone">
                                <div class="mediclaim-list">
                                    <h4>Mediclaim with Free Medical <br> Checkup </h4>
                                    <div class="insurer-container clearfix">
                                        <div class="col-md-6 col-xs-6 col-sm-6 prnone plnone text-right">
                                            <img src="{{STATIC_URL}}lp-health/img/insurer/insurer_6/on_n.png" alt=""> 
                                            <div class="text">Care</div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 text-center">
                                            <span><img src="/static/img/global/rupees.png"> 9,200</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Self (31 yrs) + Spouse + 1 Kid <br> Sum Insured : Rs. 3 Lakhs </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="col-md-6 col-sm-6 plnone">
                                <div class="mediclaim-list">
                                    <h4>Diabetes Cover from Day 1</h4>
                                    <div class="insurer-container clearfix">
                                        <div class="col-md-6 col-xs-6 col-sm-6 pnone text-right">
                                            <img src="{{STATIC_URL}}lp-health/img/insurer/insurer_2/on_n.png" alt=""> 
                                            <div class="text">Diabetes</div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 text-center">
                                            <span><img src="/static/img/global/rupees.png"> 13,271</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Self (41 yrs)<br>Sum Insured : Rs. 3 Lakhs </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 plnone">
                                <div class="mediclaim-list">
                                    <h4>Triple your Company Mediclaim </h4>
                                    <div class="insurer-container clearfix">
                                        <div class="col-md-6 col-xs-6 col-sm-6 pnone text-right">
                                            <img src="{{STATIC_URL}}lp-health/img/insurer/insurer_11/on_n.png" alt=""> 
                                            <div class="text">Super Topup</div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 text-center">
                                            <span><img src="/static/img/global/rupees.png"> 2,646</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Self (31 yrs.) + Spouse + 1 Kid <br> Sum Insured : Rs. 3 Lakhs </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="col-md-6 col-sm-6 plnone">
                                <div class="mediclaim-list">
                                    <h4>Maternity Cover in 9 months </h4>
                                    <div class="insurer-container clearfix">
                                        <div class="col-md-6 col-xs-6 col-sm-6 pnone text-right">
                                            <img src="{{STATIC_URL}}lp-health/img/insurer/insurer_6/on_n.png" alt=""> 
                                            <div class="text">Joy</div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 text-center">
                                            <span><img src="/static/img/global/rupees.png"> 21,446</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Self (31 yrs.) + Spouse + 1 Kid<br> Sum Insured : Rs. 3 Lakhs </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 plnone">
                                <div class="mediclaim-list">
                                    <h4>Cover Parents upto 75yrs without Medical Checkup </h4>
                                    <div class="insurer-container clearfix">
                                        <div class="col-md-6 col-xs-6 col-sm-6 pnone text-right">
                                            <img src="{{STATIC_URL}}lp-health/img/insurer/insurer_2/on_n.png" alt=""> 
                                            <div class="text">Red Carpet</div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 text-center">
                                            <span><img src="/static/img/global/rupees.png"> 9,641</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Single Parents @ 70yrs <br>Sum Insured : Rs. 2 Lakhs </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 plnone prmobile visibile-xs hidden-sm hidden-md hidden-lg">
                        <div id="owl-demo">
                            <div class="item">
                                <div class="mediclaim-list">
                                    <h4>Mediclaim that doubles in 2 Years</h4>
                                    <div class="insurer-container clearfix">
                                        <div class="col-md-6 col-xs-6 col-sm-6 prnone plnone text-right">
                                            <img src="{{STATIC_URL}}lp-health/img/insurer/insurer_1/on_n.png" alt=""> 
                                            <div class="text">Optima Restore</div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 text-center">
                                            <span><img src="/static/img/global/rupees.png"> 9,905</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Self (31 yrs) + Spouse + 1 Kid<br> Sum Insured : Rs. 3 Lakhs </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="mediclaim-list">
                                    <h4>Mediclaim with Free Medical <br> Checkup </h4>
                                    <div class="insurer-container clearfix">
                                        <div class="col-md-6 col-xs-6 col-sm-6 prnone plnone text-right">
                                            <img src="{{STATIC_URL}}lp-health/img/insurer/insurer_6/on_n.png" alt=""> 
                                            <div class="text">Care</div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 text-center">
                                            <span><img src="/static/img/global/rupees.png"> 9,200</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Self (31 yrs) + Spouse + 1 Kid<br> Sum Insured : Rs. 3 Lakhs </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="mediclaim-list">
                                    <h4>Diabetes Cover from Day 1</h4>
                                    <div class="insurer-container clearfix">
                                        <div class="col-md-6 col-xs-6 col-sm-6 pnone text-right">
                                            <img src="{{STATIC_URL}}lp-health/img/insurer/insurer_2/on_n.png" alt=""> 
                                            <div class="text">Diabetes</div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 text-center">
                                            <span><img src="/static/img/global/rupees.png"> 13,271</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Self (41 yrs)<br>Sum Insured : Rs. 3 Lakhs </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="mediclaim-list">
                                    <h4>Triple your Company Mediclaim </h4>
                                    <div class="insurer-container clearfix">
                                        <div class="col-md-6 col-xs-6 col-sm-6 pnone text-right">
                                            <img src="{{STATIC_URL}}lp-health/img/insurer/insurer_11/on_n.png" alt=""> 
                                            <div class="text">Super Topup</div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 text-center">
                                            <span><img src="/static/img/global/rupees.png"> 2,646</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Self (31 yrs.) + Spouse + 1 Kid <br>Sum Insured : Rs. 3 Lakhs </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="mediclaim-list">
                                    <h4>Maternity Cover in 9 months </h4>
                                    <div class="insurer-container clearfix">
                                        <div class="col-md-6 col-xs-6 col-sm-6 pnone text-right">
                                            <img src="{{STATIC_URL}}lp-health/img/insurer/insurer_6/on_n.png" alt=""> 
                                            <div class="text">Joy</div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 text-center">
                                            <span><img src="/static/img/global/rupees.png"> 21,446</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Self (31 yrs.) + Spouse + 1 Kid<br> Sum Insured : Rs. 3 Lakhs </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="mediclaim-list">
                                    <h4>Cover Parents upto 75yrs without  Medical Checkup </h4>
                                    <div class="insurer-container clearfix">
                                        <div class="col-md-6 col-xs-6 col-sm-6 pnone text-right">
                                            <img src="{{STATIC_URL}}lp-health/img/insurer/insurer_2/on_n.png" alt=""> 
                                            <div class="text">Red Carpets</div>
                                        </div>
                                        <div class="col-md-6 col-xs-6 col-sm-6 text-center">
                                            <span><img src="/static/img/global/rupees.png"> 9,641</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Single Parents @ 70yrs <br>Sum Insured : Rs. 2 Lakhs </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-4 health-form-container">
                        <h5>Check more such Tax Saving Plans now</h5>
                        <div class="input-feild">
                            <span>+91</span>
                            <input type="tel"  id='contact-me-num1' placeholder="Enter mobile number">
                        </div>
                        <p id="num-error1" class="contact-me-error error" hidden>Please enter a valid 10 digit phone number</p>
                        <button id="show-quote-btn1" >View Quotes Now</button>
                        <div class="terms-msg">By submitting my mobile number I hereby authorize Coverfox to communicate with me on the given number for my Insurance needs. I am aware that this authorization will override my registry under NDNC.</div>
                    </div>
                </div>
                <div class="logo_container">
                    <h3>Buy Insurance from over 30 insurance companies <br> and 100+ products</h3>
                    <ul class="insurers">
                        <li><i title="Oriental Insurance" class="ic-insurer-sm oriental"></i></li>
                        <li><i title="Bajaj Allianz Insurance" class="ic-insurer-sm bajaj"></i></li>
                        <li><i title="Reliance General Insurance" class="ic-insurer-sm reliance"></i></li>
                        <li><i title="Max Bupa Health Insurance" class="ic-insurer-sm maxbupa"></i></li>
                        <li><i title="HDFC Ergo Insurance" class="ic-insurer-sm hdfc"></i></li>
                   
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="section-savetax-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>How to Save Maximum Tax with Health Insurance? </h3>
                    <p>The Government of India provides additional tax benefits beyond sec. 80C to encourage general public to invest in Health Insurance plans. The investments related to Health Insurance come under sec 80D of the Income Tax Act. </p>
                    <p>Deductions under Income Tax depend on who are you covering in your family. Here’s a simple table that helps explain tax deductions under Section 80D. </p>
                </div>
                <div class="col-md-12 max-w">
                    <div class="div-table">
                        <div class="table-data clearfix">
                            <div class="col-md-4 mpnone col-xs-7 pnone btb"><h4>Family Covered</h4></div>
                            <div class="col-md-8 mpnone col-xs-5 pnone btb brnone"><h4>Maximum Deduction from Taxable Income</h4></div>
                        </div>
                        <div class="table-data clearfix">
                            <div class="col-md-4 mpnone col-xs-7 btb"><p>Self, Spouse and Kids</p></div>
                            <div class="col-md-8 mpnone col-xs-5 btb brnone"><p><img src="/static/img/global/rupees.png"> 25,000</p></div>
                        </div>
                        <div class="table-data clearfix">
                            <div class="col-md-4 mpnone col-xs-7 btb"><p>Parents</p></div>
                            <div class="col-md-8 mpnone col-xs-5 btb brnone"><p><img src="/static/img/global/rupees.png"> 25,000</p></div>
                        </div>
                        <div class="table-data clearfix">
                            <div class="col-md-4 mpnone col-xs-7 br"><p>Parents above 60 years</p> </div>
                            <div class="col-md-8 mpnone col-xs-5"><p><img src="/static/img/global/rupees.png"> 30,000</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section-dark">
        <div class="container">
            <h2>Why you'll love us</h2>
            <ul class="why-coverfox">
                <li>
                    <i class="why-sprite no-spam"></i>
                    NO SPAM NO UNWANTED CALLS 
                </li>
                <li>
                    <i class="why-sprite best-savings"></i>
                    REAL RATES <br> BEST SAVINGS
                </li>
                <li>
                    <i class="why-sprite secure-buy"></i>
                    EASY AND <br>SECURE BUY
                </li>
                <li>
                    <i class="why-sprite swift-assistance"></i>
                    SWIFT ASSISTANCE WHENEVER YOU NEED
                </li>
                <li>
                    <i class="why-sprite hasslefree-claims"></i>
                    HASSLE-FREE<br class="hidden-xs"> CLAIMS
                </li>
            </ul>
        </div>
    </section>
    <section id="emp_sec" class="section light">
        <div class="container">
            <h2>Just people helping people.</h2>
            <div class="row">
                <div class="col-sm-7 col-lg-6">
                    <p class="leader" style="margin: 50px 0px 70px;">At Coverfox, we believe good service comes from good people. Not robots reading from scripts. That's why we've hired a highly-motivated and friendly team, who take pride in serving you well. And we take pride in them.</p>
                    <div class="sole-testimonial">
                        <img src="/static/home/home_2/img/testimonial_1.png" alt="">
                        <span class="quote">"</span>
                        <p>
                            The entire transaction was quick &amp; easy. Impressive interface. The advisor who helped resolve my queries patiently, resolved whatever doubt I had about trying a new company.
                        </p>
                        <small>~ Swapna</small>
                    </div>
                </div>
                <div class="col-sm-5 col-lg-6 clearfix">
                    <div id="emp-carousel" class="employee-carousel">
                        <div class="item active">
                            <img src="/static/img/global/rm-photos/amol.jpg" alt="">
                            <div>
                                <h5>Amol</h5>
                                Has more than decade of experience in customer support for telecom, credit cards and insurance. From the camp of those who love what they do. This dad of adorable twin baby girls resolves customer queries like a pro.
                            </div>
                        </div>
                        <div class="item">
                            <img src="/static/img/global/rm-photos/sudeshna.jpg" alt="">
                            <div>
                                <h5>Sudeshna</h5>
                                Chartered Accountant. Loves challenges and stepping out of her comfort zone. A star at multi-tasking between the roles of an awesome mom, master chef and the most cheerful advisor in the Insurance industry.
                            </div>
                        </div>
                        <div class="item">
                            <img src="/static/img/global/rm-photos/amit.jpg" alt="">
                            <div>
                                <h5>Amit</h5>
                                Old hand at insurance. Loves to getting to the why, how, what of insurance products. When not putting a smile on his customer's faces, he's found playing cricket in the office corridors.
                            </div>
                        </div>
                        <div class="item">
                            <img src="/static/img/global/rm-photos/shweta.jpg" alt="">
                            <div>
                                <h5>Shweta</h5>
                                Computer science graduate. Loves setting her own targets. Currently resolves customer queries in less than 18 minutes. Her New Year Target: To solve it in under 12 minutes.
                            </div>
                        </div>
                        <div class="item">
                            <img src="/static/img/global/rm-photos/sonika.jpg" alt="">
                            <div>
                                <h5>Sonika</h5>
                                The young gun at Coverfox. Charms everyone with her pleasant personality. Loves people. Loves helping people find the perfect policy even more.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="lead-block">
    <div class="container">
        <h3>Check Health Insurance Quotes Online </h3>
        <div class="row form-row">
            <div class="col-sm-6">
                <div id="cbInsuranceType" class="input-container">
                    <div class="input-feild">
                        <span>+91</span>
                        <input type="tel" id='contact-me-num2' placeholder="Enter mobile number">
                    </div>
                </div>
                <div id="num-error2" class="contact-me-error error" hidden>Please enter a valid 10 digit phone number</div>
            </div>
            <div class="col-sm-6">
                <button id="show-quote-btn2" class="btn brown big">View Quotes Now</button>
            </div>
        </div>
    </div>
</section>
    {%block companies%}{% endblock %}
    {%block benefits%}{% endblock %}
    {%block experts%}{% endblock %}
    {%block steps%}{% endblock %}
    {%block testimonials%}{% endblock %}
    {% block ebook_download%}{% endblock %}
    {% block hero_video%}{% endblock %}
    {%block aboutus%}{% endblock %}
{% endblock %}
{% block hero_form_js %}
    <script src="{{STATIC_URL}}marketing/health/js/utils.js"></script>
    <script src="{{STATIC_URL}}marketing/js/utils.js"></script>
{% endblock %}

{% block footer_js %}
<script type="text/javascript" src="{{STATIC_URL}}vendors/owl-carousel/owl.carousel.min.js"></script>
    <script>
     $("#emp-carousel").owlCarousel({
        //itemsMobile: [479,1],
        items: 1,
        itemsDesktop: [1199,1],
        itemsDesktopSmall:[979,1],
        itemsTablet:[768,2],
        slideSpeed: 200,
        autoPlay: true
    });
     $(document).ready(function() {
          $("#owl-demo").owlCarousel({
              autoPlay: false, //Set AutoPlay to 3 seconds
              items: 1,
              itemsMobile:[479,1]
     
          });
         
        });
</script>
<script type="text/javascript">
    var CSRF_TOKEN = "{{ csrf_token }}";
    var next_page_url = '/health-plan/?callback=true';
    var campaign = 'health';
    var page_id = '{{ page_id }}';
    var NAME_MANDATORY = false;
    var EMAIL_MANDATORY = false;
    var MOBILE_MANDATORY = true;
    $(document).ready(function(){
        $.get("{%url 'get_token'%}", function(data){
            CSRF_TOKEN = data.csrf;
        }, 'json');
        $('.contact-me-error').hide();        
    });
</script>  
{% endblock %}

{%block footer_css%}
    <link href="{{STATIC_URL}}vendors/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/health-lp-new.css" rel="stylesheet">
{%endblock%}


