{% extends "campaign/health/base.html" %}
{% load compress%}
{% load manip_data%}
    {% block header %}
        <!-- Google Analytics Content Experiment code -->
        <script>function utmx_section(){}function utmx(){}(function(){var
        k='78816042-18',d=document,l=d.location,c=d.cookie;
        if(l.search.indexOf('utm_expid='+k)>0)return;
        function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
        indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
        length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
        '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
        '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
        '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
        valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
        '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
        </script><script>utmx('url','A/B');</script>
        <!-- End of Google Analytics Content Experiment code -->

    {% endblock %}
{% block hero %}
    <div class="jago-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-7 col-sm-12">
                <h1>Exclusive Services only for<br class="visible-lg"/>
                    <span class="black"><img class="jago-logo" src="{{STATIC_URL}}lp-health/jagoinvestor/img/jagoinvestor-logo.png" alt="Jagoinvestor"/></span> readers
                </h1>
                <ul class="exclusive-list">
                    <li>
                        <img src="{{STATIC_URL}}lp-health/jagoinvestor/img/check-icon.png" alt=""/>
                        <strong class="h">Senior Advisors</strong> understand your requirements, longterm goals.
                    </li>
                    <li>
                        <img src="{{STATIC_URL}}lp-health/jagoinvestor/img/check-icon.png" alt=""/>
                        <strong class="h">Dedicated Service Manager</strong> for any post sales services you may need.
                    </li>
                    <li>
                        <img src="{{STATIC_URL}}lp-health/jagoinvestor/img/check-icon.png" alt=""/>
                        <strong class="h">Specialized Claims cell</strong> to handhold you through claims.
                    </li>
                </ul>
                <h2 class="leader-prop">
                    <span class="list">70+ Plans.</span><span class="list">Instant Free Quotes.</span><span class="list">Ratings By Experts.</span>
                </h2>
            </div>
            <div class="col-md-5 col-sm-8">
                {%include "campaign/health/snippets/full_form.html" %}
            </div>
        </div><!--/.row-->
    </div><!--/.container -->
</div><!--/.health-widget -->

{% endblock %}

{%block benefits%}
    <section class="dark-box benefits-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Why <strong>Coverfox</strong> for Health Insurance</h1>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="{{STATIC_URL}}lp-health/img/icon5.png">
                    <h4>Rich Comparison of Health plans<br class="visible-xs visible-lg"/> from more than 13 Insurance Cos.</h4>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="{{STATIC_URL}}lp-health/img/icon4.png">
                    <h4>Comparison of Hospital Network<br class="visible-xs visible-lg"/> according to your Pincode.</h4>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="{{STATIC_URL}}lp-health/img/icon3.png">
                    <h4>No unwanted calls<br/> to annoy you</h4>
                </div>
            </div>
        </div><!--/.container-->
    </section>
{%endblock%}

{% block tips %}
{% endblock %}

{%block footer_css%}
    {%compress css%}
        <link href="{{STATIC_URL}}lp-health/jagoinvestor/css/style.css" rel="stylesheet">
    {%endcompress%}
{%endblock%}

{% block hero_form_js %}
{% endblock %}

{%block footer_js%}
    <script type="text/javascript">
        Cookies.set('utm_source', 'jagoinvestor');
    </script>
{%endblock%}
