{% extends "campaign/health/base-mobile.html" %}
{% load compress %}
{% block title %}{{ page_title|safe }}{% endblock %}
{% block header %}{% endblock %}
{% block hero %}
    <div class="header_top">
        <img src="{{STATIC_URL}}lp-health/img/insurer/insurer_{{insurer.id}}/on_n.png" alt="{{brand.title}} Health Insurance" title="{{brand.title}} Health Insurance" />
        <h1>Buy {{insurer.title}} Health Insurance Plans from Coverfox
            <div class="header_txt"> Same Products. Same Price. Guaranteed services.</div>
        </h1>
    </div>
{% endblock %}
{% block mob_form_section %}
    <div class="form-section">
        <div class="container">
            <div class="form-highlight">
                <h3>Make sure that {{ brand.title }} Health Insurance policy gives you most benefits at the right price</h3>
                <h2>Talk to an expert</h2>
                <div class="margin-bottom-10">
                    <div class="form_container">
                        <div class="input_container">
                            <span>+91</span>
                            <input type="text"  id="contact-me-num" class="form_text_box" placeholder="Enter Your 10 digit Mobile No." />
                        </div>
                        <div id='hero-error' class="error reveal hide"><span class="glyphicon glyphicon-warning-sign"></span><span>&nbsp;Please enter a valid 10 digit mobile number</span></div>
                        <button id="call-me-btn" type="submit" class="btn-cfox orange">Save upto 30%</button>
                        <div class="terms-msg">I hereby authorize Coverfox to communicate with me on the given number for my Insurance needs. I am aware that this authorization will override my registry under NDNC.</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="base-box">
        <ul class="clearfix">
            <li><img class="icon" src="{{STATIC_URL}}lp-health/mobile_brand/img/lock.png"> Secure<br/>Payments</li>
            <li><img class="icon" src="{{STATIC_URL}}lp-health/mobile_brand/img/checkmark-circle.png"> 100% Service<br/>Guaranteed</li>
            <li class="icon-seal"><img class="icon" src="{{STATIC_URL}}lp-health/mobile_brand/img/vs_gd_light.gif"></li>
        </ul>
    </div>
    <div class="benefit-list">
        <div class="container">
            <h2 class="benefit">Benefits of {{brand.title}} Health Insurance</h2>
            <ul class="clearfix">
                {% for benefit in brand.benefits %}
                    <li>{{benefit}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block benefit_list%}
    <section class="light-box why_coverfox">
        <div class="container">
            <h1 class="text-center section-header">Why people Buy Insurance from Coverfox</h1>
            <div class="table_container clearfix">
                <div class="col-xs-7 pnone"><strong>Service Provided</strong></div>
                <div class="col-xs-2 logo pnone"> <img src="{{STATIC_URL}}lp-health/img/coverfox-logo.png" alt="Coverfox"></div>
                <div class="col-xs-3 prnone"><strong>Insurance Agent</strong></div>
            </div>
            <div class="table_container clearfix">
                <div class="col-xs-7 pnone">
                    Comparison of L & T Car Insurance with other leading insurance Companies
                </div>
                <div class="col-xs-2 pnone"><img src="{{STATIC_URL}}lp-health/mobile_brand/img/yes.png" border="0"></div>
                <div class="col-xs-3 prnone"><img src="{{STATIC_URL}}lp-health/mobile_brand/img/no.png" border="0"></div>
            </div>
            <div class="table_container clearfix">
                <div class="col-xs-7 pnone">
                    Comparison of L & T Car Insurance with other leading insurance Companies
                </div>
                <div class="col-xs-2 pnone"><img src="{{STATIC_URL}}lp-health/mobile_brand/img/yes.png" border="0"></div>
                <div class="col-xs-3 prnone"><img src="{{STATIC_URL}}lp-health/mobile_brand/img/no.png" border="0"></div>
            </div>
            <div class="table_container clearfix">
                <div class="col-xs-7 pnone">
                    Dedicated Service Manager for all your existing policies
                </div>
                <div class="col-xs-2 pnone"><img src="{{STATIC_URL}}lp-health/mobile_brand/img/yes.png" border="0"></div>
                <div class="col-xs-3 prnone"><img src="{{STATIC_URL}}lp-health/mobile_brand/img/no.png" border="0"></div>
            </div>
            <div class="table_container clearfix">
                <div class="col-xs-7 pnone">
                    Guaranteed Service on Claims and Response with Penalty clause
                </div>
                <div class="col-xs-2 pnone"><img src="{{STATIC_URL}}lp-health/mobile_brand/img/yes.png" border="0"></div>
                <div class="col-xs-3 prnone"><img src="{{STATIC_URL}}lp-health/mobile_brand/img/no.png" border="0"></div>
            </div>
            <div class="row" style="margin: 30px 0 0px;">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 call-action">
                    <button style="width: 100%;" onclick="skipForm('instant_quotes')" class="btn btn-lg btn-cfox orange">Get Instant Quotes</button>
                </div>
            </div>
        </div>
    </section><!--/.why-coverfox-->
    <section class="dark-box health_product">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="section_header" style="text-align: center;margin-bottom:30px;">{{brand.title}} Health Products</h1>
                    <div class="margin-bottom-10">
                        {% for product in brand.products %}
                            <div class="desc_box">
                                <div class="row">
                                    <div class="col-sm-8 col-md-9 col-lg-10">
                                        <h4>{{product.title}}</h4>
                                        {{product.description|safe}}
                                    </div><!--/.col-sm-8-->
                                    <div class="col-sm-4 col-md-3 col-lg-2 text-center">
                                        <button onclick="skipForm('plan_buy_online')" class="btn-cfox orange">Buy Online</button>
                                    </div><!--/.col-sm-4-->
                                </div><!--/.row-->
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/.health-product-->
{% endblock%}

{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-health/mobile_brand/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{%block footer_js%}
{% endblock %}
