{% extends "campaign/health/base-mobile.html" %}
{% load compress%}
{% load manip_data%}

{% block title %}Family {{ keyword }} Plans{% endblock %}
{% block overhead %}
{% endblock %}
        {% block hero %}
           <div class="banner">
                <div class="container">
                    <h1>{{ main_body.heading|safe }}</h1>

                    <h3>{{ main_body.sub_heading|safe }}</h3>
                </div>
           </div>
        {% endblock %}
        {% block mob_form_section %}
            <div class="container">
                 <div class="form-section">
                    <p>Talk to an Expert</p>
                    <div class="in-box">
                        <span>+91</span>
                        <input type="tel" id='contact-me-num' class="form-control" placeholder="Enter mobile number"/>
                    </div>
                    <p id="hero-error" class="hide error">
                        Please enter a valid 10 digit mobile number
                    </p>
                    <div id='hero-loading' class="loading-box reveal hide">
                        <img src="{{STATIC_URL}}lp-health/img/loading-big.gif" alt="" /> Please wait...
                    </div>
                    <button id="call-me-btn" class="btn-cfox orange btn-next btn-block">
                        Show My Quotes
                    </button>
                     <div class="terms-msg">{{ settings.DND_MSG }}</div>
                     <div class="base-box">
                        <ul class="clearfix">
                            <li>
                                <img class="icon" src="{{STATIC_URL}}lp-health/brand/img/lock.png"> Secure<br/>Payments
                            </li>
                            <li>
                                <img class="icon" src="{{STATIC_URL}}lp-health/brand/img/checkmark-circle.png"> 100% Service<br/>Guaranteed
                            </li>
                            <li class="icon-seal">
                                <img src="{{STATIC_URL}}lp-health/brand/img/vs_gd_light.gif">
                            </li>
                        </ul>
                    </div>
                </div><!--/.form-section-->
            </div>
            <div class="col-xs-12 col-lg-12 point--container">
                <h2>Why Coverfox?</h2>
                <ul>
                    <li>100% Honest Advice based on strong research.</li>
                    <li>Compare Benefits across Top Plans </li>
                    <li>Dedicated Claims Support.</li>
                </ul>
            </div>
        {% endblock %}
{% block mobile_testimonials%}
    <section class="testimonial_mobile">
        <div class="container">
            <div id="owl-demo">
                  <div class="item">
                      <div class="body_tesimonial">
                          <div class="qoutes">
                              <img src="/static/lp-health/mobile_buy_health_insurance/img/c.png" alt="">
                          </div>
                          <img src="/static/lp-health/mobile_buy_health_insurance/img/t01.jpg" alt="">
                          <p class="name">Mrunmayee</p>
                          <p>"Shweta was extremely helpful and patient. She addressed all doubts and concerns politely. Definitely felt good about my decision."</p>
                      </div>
                  </div>
                  <div class="item">
                      <div class="body_tesimonial">
                          <div class="qoutes">
                              <img src="/static/lp-health/mobile_buy_health_insurance/img/c.png" alt="">
                          </div>
                         <img src="/static/lp-health/mobile_buy_health_insurance/img/t02.jpg" alt="">
                         <p class="name">Mr. and Mrs. Thombre</p>
                         <p>"Extremely warm and pleasant process. Did not get any unsolicited calls, relationship team was polite and the insurance buying process very easy."</p>
                      </div>
                  </div>
                  <div class="item">
                      <div class="body_tesimonial">
                          <div class="qoutes">
                              <img src="/static/lp-health/mobile_buy_health_insurance/img/c.png" alt="">
                          </div>
                          <img src="/static/lp-health/mobile_buy_health_insurance/img/t03.jpg" alt="">
                          <p class="name">Mr. and Mrs. Kainth</p>
                          <p>"Very intuitive and great user experience. Made me feel great about buying insurance which is a first."</p>
                      </div>
                  </div>
            </div>
        </div>
    </section>
{%endblock%}
{%block testimonials%}{% endblock %}
{% block footer_js %}
<script src="{{STATIC_URL}}lp-health/mobile_buy_health_insurance/js/owl.carousel.min.js"></script>
<script type="text/javascript">
    var next_page_override="";
</script>
<script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 5000,
        singleItem: true,
        itemsMobile: [479,1],
        stopOnHover: true,
      });

    });
    </script>
{% endblock %}
{%block footer_css%}
{%compress css%}
<link href="{{STATIC_URL}}lp-health/mobile_buy_health_insurance/css/style.css" rel="stylesheet">
<link href="{{STATIC_URL}}lp-health/mobile_buy_health_insurance/css/owl.carousel.css" rel="stylesheet">
<link href="{{STATIC_URL}}lp-health/mobile_buy_health_insurance/css/owl.theme.css" rel="stylesheet">
{%endcompress%}
{%endblock%}
