{% extends "campaign/health/base.html" %}
{% load compress%}
{% load manip_data%}

{% block title %}Cancer Protect Plan{% endblock %}
{% block overhead %}
{% endblock %}
{% block hero %}
    <div class="doc-banner">
        <div class="banner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                    </div>
                    <div class="col-md-8 col-lg-8 form-section">
                        <h1>{{ main_body.heading|safe }}</h1>
                        <p class="sub-heading">{{ main_body.sub_heading|safe }}</p>
                        <div id="ph-form" class="number-form">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">+91</span>
                                <input id="contact-me-num" type="text" class="form-control" placeholder="Enter mobile number">
                            </div>
                            <span id="call-me-btn" class="btn-cfox orange">Learn More</span>
                            <div id='hero-error' class="error reveal hide"><span class="glyphicon glyphicon-warning-sign"></span><span>&nbsp;Please enter a valid 10 digit mobile number</span></div>
                            <div id='hero-loading' class="loading-box reveal hide">
                                <img src="{{STATIC_URL}}lp-health/img/loading-big.gif" alt="" /> Please wait...
                            </div>
                            {% if skip_option %}
                                <a class="pull-right" style="margin: 40px 0 15px 0;cursor: pointer;font-weight: bold;" onclick="skipForm('main')">I don't need any help. I want to search plans on my own.</a>
                            {% endif %}
                        </div>
                        <div id="ph-success" class="number-form hide">
                            Thank You! We will shortly call you back.
                        </div>
                        <div class="terms-msg">I hereby authorize Coverfox to communicate with me on the given number for my Insurance needs. I am aware that this authorization will override my registry under NDNC.</div>
                    </div>
                </div>
            </div>
        </div>
     </div>
    {%block companies%}{% endblock %}

{% endblock %}

{% block footer_js %}
{% endblock %}

{%block footer_css%}
    {%compress css%}
        <link href="{{STATIC_URL}}lp-health/protect_cancer/css/style.css" rel="stylesheet">
    {%endcompress%}
{%endblock%}
