<section class="block banner-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
            </div>
            <div class="col-md-8 col-lg-8 form-section">
            <div class="hero-heading" data-cms-content="hero_heading">Health Insurance Policies @ Coverfox</div>
            <div class="sub-heading" data-cms-content="hero_subheading">Plans starting from as low as Rs 6 / day</div>
            <div class="number-form">
            <div class="input-group input-group-lg">
            <span class="input-group-addon">+91</span>
            <input id="contact-me-num" name="phone" type="text" class="form-control" placeholder="Enter mobile number">
            </div>
            <span id="call-me-btn" class="btn-cfox orange" data-cms-content="hero_cta">Compare Health Insurance Prices</span>
            <div id='hero-error' class="error reveal hide"><span class="glyphicon glyphicon-warning-sign"></span><span>&nbsp;Please enter a valid 10 digit mobile number</span></div>
            <div id='hero-loading' class="loading-box reveal hide">
            <img src="{{STATIC_URL}}lp-health/img/loading-big.gif" alt="" /> Please wait...
            </div>
            </div>
            <div class="terms-msg">I hereby authorize Coverfox to communicate with me on the given number for my Insurance needs. I am aware that this authorization will override my registry under NDNC.</div>
            </div>
        </div>
    </div>
</section>
{%block footer_css%}
        <link href="{{STATIC_URL}}lp-health/section_banner/css/style.css" rel="stylesheet">
        <link href="{{STATIC_URL}}lp-health/css/bootstrap.min.css" rel="stylesheet">
{%endblock%}
{% block hero_form_js %}
    <script src="{{STATIC_URL}}marketing/health/js/utils.js"></script>
    <script src="{{STATIC_URL}}marketing/health/js/hero_form.js"></script>
    <script src="{{ STATIC_URL }}flatpages/js/mix-panel-events.js"></script>
    <script src="{{STATIC_URL}}lp/js/cookies.js"></script>
   <script type="text/javascript">
        var T1 = new Date();
        var insurer = "{{ current_insurer.name }}";
        var page_id = "{{ page_id }}";
        var lms_campaign = "{{ lms_campaign }}";
        dataLayer = [];
    </script>
<script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MR4FRN');
</script>
{% endblock %}
