{% extends "campaign/health/base.html" %}
{% load compress%}
{% load manip_data%}

{% block title %}{{ page_title }}{% endblock %}
{% block overhead %}
{% endblock %}
{% block hero %}
    <div class="health--top_banner taxbg">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6">
                </div>
                <div class="col-md-5 col-sm-6 form-section">
                    <div class="number-form">
                        <h2>Talk to our expert now to save tax on Rs. 55000/-</h2>
                        <h3>Get your Income Tax Certificate in 5 min* </h3>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">+91</span>
                            <input id="contact-me-num" type="text" class="form-control" placeholder="Enter mobile number">
                        </div>
                        <span id="call-me-btn" class="btn-cfox orange">Get a Call back >></span>
                        <div id='hero-error' class="error reveal hide"><span class="glyphicon glyphicon-warning-sign"></span><span>&nbsp;Please enter a valid 10 digit mobile number</span></div>
                        <div id='hero-loading' class="loading-box reveal hide">
                            <img src="{{STATIC_URL}}lp-health/img/loading-big.gif" alt="" /> Please wait...
                        </div>
                        {% if skip_option %}
                            <a class="pull-right" style="margin: 40px 0 15px 0;cursor: pointer;font-weight: bold;" onclick="skipForm('main')">I don't need any help. I want to search plans on my own.</a>
                        {% endif %}
                        <div class="terms-msg">
                            {{ settings.DND_MSG }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="smart--comparison">
        <div class="container">
            <div class="row">
                <div class="smart--comarison_section">
                    <h2>Smart Comparison of Health Insurance Plans </h2>
                    <div class="col-md-3 col-sm-3">
                        <div class="circle">
                            <img src="/static/lp-health/tax_save/img/04.png" alt="">
                        </div>
                        <p>Compare <br>Important Benefits </p>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="circle">
                            <img src="/static/lp-health/tax_save/img/01.png" alt="">
                        </div>
                        <p>Compare Hidden Expenses you have to bear out <br> of pocket</p>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="circle">
                            <img src="/static/lp-health/tax_save/img/02.png" alt="">
                        </div>
                        <p>Compare Top Cashless Hospitals in your area </p>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="circle">
                            <img src="/static/lp-health/tax_save/img/03.png" alt="">
                        </div>
                        <p>Compare Claim Settlement Experience</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    {%block companies%}{% endblock %}
{% endblock %}
{% block hero_form_js %}
    <script type="application/javascript">
        var next_page_override = '/health-plan/plan/topup/';
    </script>
    <script src="{{STATIC_URL}}marketing/health/js/utils.js"></script>
    <script src="{{STATIC_URL}}marketing/health/js/hero_form.js"></script>
{% endblock %}

{% block footer_js %}
{% endblock %}

{%block footer_css%}
    {%compress css%}
        <link href="{{STATIC_URL}}css/health-lp-main.css" rel="stylesheet">
    {%endcompress%}
{%endblock%}
