{% load compress %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>
    <meta name="description" content={% block description %}{% if description %}{{ description }}{% else %}"Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance."{% endif %}{% endblock %} />

    <link rel="shortcut icon" href="{{STATIC_URL}}lp-health/img/favicon.ico" type="image/x-icon" />

    {% block header %}
    {% endblock %}

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <script src="{{STATIC_URL}}campaign/js/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    <script type="text/javascript">
        var T1 = new Date();
        var insurer = "{{ current_insurer.name }}";
        var page_id = "{{ page_id }}";
        var lms_campaign = "{{ lms_campaign }}";
        dataLayer = [];
    </script>
    <!-- Start Visual Website Optimizer Asynchronous Code -->
   <!-- Sentry -->
    {%if settings.PRODUCTION%}
        <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
        <script>
            Raven.config('https://b73a2dd7e1714ae3aab0e33fd663b391@app.getsentry.com/33123', {
            }).install();
        </script>
    {%endif%}
    
    <script type='text/javascript'>
        var _vwo_code=(function(){
            var account_id=113955,
                    settings_tolerance=2000,
                    library_tolerance=2500,
                    use_existing_jquery=false,
                    // DO NOT EDIT BELOW THIS LINE
                    f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
    </script>
    <!-- End Visual Website Optimizer Asynchronous Code -->
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MR4FRN');</script>
<!-- End Google Tag Manager -->
<div id="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="logo">
                    <a href="/">
                        <img src="{{STATIC_URL}}lp-health/three_easy_steps/img/cf-white-orange-ds.png" alt="Coverfox Insurance Broking Pvt. Ltd." class="logo">
                    </a>
                    <br/>
                </div>
                <div id="irda-auth" class="irda-auth-badge">
                    <span>
                        IRDA Licence:
                        <br>IRDA/ DB 556/ 13
                    </span>
                </div>
            </div>
            {% block tollfree %}
                <div class="col-md-6 col-sm-6">
                    <ul id="right-menu-items">
                        <li>
                            Car
                            <a href="javascript:ClickToCall('top_bar')">
                                {{ settings.CAR_LP_TOLL_FREE }}
                            </a>
                        </li>
                        <li>
                            Health
                            <a href="javascript:ClickToCall('top_bar')">
                                {{ settings.HEALTH_TOLL_FREE }}
                            </a>
                            <img src="{{STATIC_URL}}lp-health/img/phone.png" alt="Call an Insurance Expert" class="menuimg">
                        </li>
                    </ul>
                </div>
            {% endblock tollfree %}
        </div>
    </div><!--/.container-->
</div>
<section class="hero-wrapper">
    <div class="cover"></div>
<!--/#topbar-->
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1>The easiest way to <br> get Health Insurance</h1>
                    <div class="chkbox-wrap">
                   		<input type="checkbox" id="cb1" name="cb" value="" checked onclick="return false">
                        <label for="cb1"><span>Figure out what you need</span></label><br>
                        <input type="checkbox" id="cb2" name="cb" value="" checked onclick="return false">
                        <label for="cb2"><span>Compare the top policy</span></label><br>
                        <input type="checkbox" id="cb3" name="cb" value="" checked onclick="return false">
                        <label for="cb3"><span>Get Covered & Save</span></label>
                    </div>
            </div>
        </div>
    </div>
</section><!--/.hero-wrapper-->
<section class="companies-wrapper">
    <div class="container-fluid">
        <div class="row mnone">
            <ul class="company-logos">
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/star-health-general-insurance.png" alt="Star Health General Insurance - Health Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/apollo-munich-health-insurance.png" alt="Apollo Munich Health Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/religare-general-insurance.png" alt="Religare General Insurance - Health Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/larsen-and-tubro-general-insurance.png" alt="Larsen and Tubro General Insurance - Car Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/bajaj-allianz-general-insurance.png" alt="Bajaj Allianz General Insurance - Health Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/bharti-axa-general-insurance.png" alt="Bharti AXA General Insurance - Four Wheeler Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/iffco-tokio-general-insurance.png" alt="IFFCO TOKIO General Insurance - Health Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/hdfc-ergo-general-insurance.png" alt="HDFC ERGO General Insurance - Health Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/reliance-general-insurance.png" alt="Reliance General Insurance - Health Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/universal-sompo-general-insurance.png" alt="Universal Sompo General Insurance - Two Wheeler Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/new-india-general-insurance.png" alt="New India General Insurance - Mediclaim Insurance"></li>
            </ul>
        </div>
    </div><!--/.container-fluid-->
</section>
{% block get-quick%}
<section class="get-container">
    <div class="container">
        <div class="row">
        	<div class="col-md-5"><h3>Get started with your Health Insurance</h3></div>
        	<div class="col-md-7">
        		<div class="get-quick-conatiner">
	                <input id="contact-me-num" type="text" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" placeholder="Enter Your Mobile Number"> <button class="btn-cfox orange btn-next" id="call-me-btn">Get Quick Quotes</button>
	                <div class="error hide" id="hero-error">Please enter your 10 digit phone number</div>
	                <div class="terms-msg">{{ settings.DND_MSG }}</div>
	            </div>
	        </div>

        </div>
    </div>
</section>
{% endblock get-quick%}
{%block expert%}
    <section class="expert-container">
        <div class="container">
            <div class="row">
                <div class="list-expert">
                    <div class="col-xs-12 col-sm-4">
                        <img src="{{STATIC_URL}}lp-health/three_easy_steps/img/icon1.png">
                        <h4>Honest Expert Advice</h4>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <img src="{{STATIC_URL}}lp-health/three_easy_steps/img/icon2.png">
                        <h4>Free Claims Assistance</h4>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <img src="{{STATIC_URL}}lp-health/three_easy_steps/img/icon3.png">
                        <h4>No Spam Calls</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock expert%}
{%block right-policy%}
    <section>
        <div class="container">
            <div class="row">
                <div class="right-policy clearfix">
                    <h3>let <img src="{{STATIC_URL}}lp-health/three_easy_steps/img/cf-white-orange-ds.png" alt="">help you buy the right policy</h3>
                    <div class="col-md-7 col-sm-7 mbottom">
                        <div class="col-md-1 col-sm-2 num">1</div>
                        <div class="col-md-11 col-sm-10 pnone">
                            <h4>You give us your details </h4>
                            <p>You won't find another site that makes insurance easier. Our free tools help you figure out what you need and build the best policy.</p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 mbottom text-center">
                        <img src="{{STATIC_URL}}lp-health/three_easy_steps/img/laptop.png" class="img-responsive">
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div class="col-md-1 col-sm-2 num">2</div>
                        <div class="col-md-11 col-sm-10 pnone mbottom">
                            <h4>We find the best plans from Top Insurance companies</h4>
                            <p>Compare the top policies for you, apples-to-apples, with confidence. No "gotchas" here. </p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 mbottom">
                        <img src="{{STATIC_URL}}lp-health/three_easy_steps/img/laptop2.png" class="img-responsive">
                    </div>
                    <div class="col-md-7 col-sm-7 mbottom">
                        <div class="col-md-1 col-sm-2 num">3</div>
                        <div class="col-md-11 col-sm-10 pnone">
                            <h4>You Buy Online and get Instant Policy</h4>
                            <p>Whether you're researching a question or getting ready to buy, there's guidance to make sure you make the right decision </p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5 mbottom">
                        <img src="{{STATIC_URL}}lp-health/three_easy_steps/img/laptop3.png" class="img-responsive">
                    </div>
                </div>
                <div class="button_container">
                	<button onclick="skipForm('three_steps')"  class="btn btn-cfox orange bt">Buy Online in 3 easy steps</button>
                </div>
            </div>
        </div>
    </section>
{%endblock right-policy%}
{% block testimonials %}
    <section class="testimonials-section">
        <div class="container">
            <h1>Hear from our Mediclaim customers </h1>
            <div class="row">
                <div class="testimonail-list clearfix">
                    <div class="col-md-2 col-sm-2">
                        <img src="{{STATIC_URL}}lp-health/three_easy_steps/img/t1.jpg" class="img-responsive" />
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p>
                            Shweta was extremely helpful and patient. She addressed all doubts and concerns politely. Definitely felt good about my decision.
                        </p>
                        <p class="title">- Disha</p>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <img src="{{STATIC_URL}}lp-health/three_easy_steps/img/t2.jpg" alt="" class="img-responsive"/>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p>
                            Extremely warm and pleasant process. Did not get any unsolicited calls, relationship team was polite and the insurance buying process very easy.
                        </p>
                        <p class="title">- Mr. and Mrs. Thombre</p>
                    </div>
                </div>
                <div class="testimonail-list clearfix">
                    <div class="col-md-2 col-sm-2">
                        <img src="{{STATIC_URL}}lp-health/three_easy_steps/img/t3.jpg" class="img-responsive" />
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p>
                           Very intuitive and great user experience. Made me feel great about buying insurance which is a first.
                        </p>
                        <p class="title">- Mr. and Mrs. Kainth</p>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <img src="{{STATIC_URL}}lp-health/three_easy_steps/img/t4.jpg" alt="" class="img-responsive"/>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <p>
                            Loved the fact that each plan was rated based on my profile. There is no one shoe that fits all. Nice design too.
                        </p>
                        <p class="title">- Vinay</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    <section class="footer clearfix">
        <div class="container">
            <div class="row">
                <div class="pull-left">
                    &copy; 2014 Coverfox Insurance Broking Pvt. Ltd. All Rights Reserved
                </div>
                <div class="pull-right">
                    www.coverfox.com
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% compress css %}
    <link href="{{STATIC_URL}}lp-health/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}lp-health/three_easy_steps/css/style.css" rel="stylesheet">
{% endcompress %}
{%compress js%}
    <script src="{{STATIC_URL}}lp/js/cookies.js"></script>
    <script src="{{STATIC_URL}}lp/js/system.js"></script>

    <script type="text/javascript">
        var CSRF_TOKEN;
        var page_id = '{{ page_id }}';
        var toll_free_no = '{{ settings.HEALTH_TOLL_FREE }}';
        var is_mobile = false;

        $(document).ready(function(){
            // small screen crossover links toggle js
            $.get("{%url 'get_token'%}", function(data){
                CSRF_TOKEN = data.csrf;
            }, 'json');
            if ('{{ request.user_agent.is_mobile }}' != 'False'){
                is_mobile = true;
            }
            $(document).on('click','#toggle-menu',function(){
                var $this =$(this);
                var $menu =$('#pipe-links');
                if($this.hasClass('active')) {
                    $this.removeClass('active');
                    $menu.removeClass('active');
                }
                else {
                    $this.addClass('active');
                    $menu.addClass('active');
                }
            });
        });
    </script>

    <script src="{{STATIC_URL}}marketing/health/js/utils.js"></script>
    <script src="{{STATIC_URL}}marketing/health/js/hero_form.js"></script>
{% endcompress %}
</body>
</html>
