{% extends "campaign/health/base.html" %}
{% load compress%}
{% load manip_data%}

{% block title %}{{ page_title }}{% endblock %}
{% block overhead %}
{% endblock %}
{% block hero %}
    <section class="top_compare_container">
        <div class="container">
            <div class="row">
                <h1>Easiest way to Compare Top Health Insurance Plans </h1>
            </div>
        </div>
    </section>
    <section class="health_expert_container">
        <div class="container">
            <div class="row">
                <img src="{{STATIC_URL}}lp-health/top_compare_v2/img/sudeshna_bg.jpg" class="img-responsive">
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 form-section">
                    <div class="form_field_conatiner number-form clearfix">
                        <h2>Get Honest Advice at No Additional Cost </h2>
                        <div class="col-md-6">Talk to our trained experts now! Enter your phone number</div>
                        <div class="col-md-3">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">+91</span>
                                <input id="contact-me-num" name="mobile" type="text" class="form-control" placeholder="Enter mobile number">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <span id="call-me-btn" class="btn-cfox orange">Online Compare &gt;&gt;</span>
                        </div>
                        <div id="hero-error" class="error reveal hide"><span class="glyphicon glyphicon-warning-sign"></span><span>&nbsp;Please enter a valid 10 digit mobile number</span></div>
                        <div id="hero-loading" class="loading-box reveal hide">
                            <img src="https://d2xkxm0e9d3y16.cloudfront.net/static/lp-health/img/loading-big.gif" alt=""> Please wait...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="list_point_container">
        <div class="container">
            <div class="row">
                <h2>Zero Confusion. Zero Worries. Guaranteed! </h2>
                <div class="col-md-6 col-sm-6 pnone">
                    <div class="point_contaoner">
                        <h3>Compare what is important for you!</h3>
                        <ul>
                            <li>Compare <strong>20 leading Insurance plans</strong> in one screen.</li>
                            <li>Compare <strong>benefits and exclusions</strong> in the policy.</li>
                            <li>Compare the <strong>hospital network</strong>.</li>
                            <li>Compare the <strong>Premium</strong>.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 pnone">
                    <div class="point_contaoner">
                        <h3 class="bdn">How our experts help you shortlist plans?</h3>
                        <ul class="bdn">
                            <li>Honest advice that help you <strong>shortlist suitable plans</strong>.</li>
                            <li>Know benefits and <strong>exclusions that impact your pocket</strong> the most.</li>
                            <li>Ideas to maximize cover at <strong>lowest premiums</strong>.</li>
                            <li>Compare <strong>Claims Settlement ratio</strong> and experience.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block hero_form_js %}
    <script type="application/javascript">
        var next_page_override = '/health-plan/plan/topup/';
    </script>
    <script src="{{STATIC_URL}}marketing/health/js/utils.js"></script>
    <script src="{{STATIC_URL}}marketing/health/js/hero_form.js"></script>
{% endblock %}

{% block footer_js %}
{% endblock %}

{%block footer_css%}
    {%compress css%}
        <link href="{{STATIC_URL}}lp-health/top_compare_v2/css/style.css" rel="stylesheet">
    {%endcompress%}
{%endblock%}
