{% extends "campaign/health/base.html" %}
{% load compress%}
{% load manip_data%}
{% block title %}Premium Calculator | Health Insurance | Mediclaim Policy{% endblock %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="health-widget">
        <div class="container">
            <h1>See Instant Quotes from top Health Insurance Companies</h1>
            <button class="btn btn-cfox btn-next orange go-to-form">Get Started</button>
        </div><!--/.container -->
    </div><!--/.health-widget -->
{% endblock %}
{% block form_section %}
    <section id="form-section" class="form-section">
        <div class="container">
            <h1>Tell us a little about you to help us give you accurate quotes</h1>
            <h4 class="sub-h">These details help us rate plans based on your requirements</h4>
            {%include "campaign/health/snippets/full_form_large.html" %}
            <div class="row">
                <div class="col-lg-8">
                    <ul class="prop clearfix">
                        <li>
                            <img src="{{STATIC_URL}}lp-health/img/check-icon.png" alt="">
                            Family and Individual plans
                        </li>
                        <li>
                            <img src="{{STATIC_URL}}lp-health/img/check-icon.png" alt="">
                            Save Tax upto Rs. 10,500/- under section 80D
                        </li>
                        <li>
                            <img src="{{STATIC_URL}}lp-health/img/check-icon.png" alt="">
                            Cashless Hospitalization
                        </li>
                        <li>
                            <img src="{{STATIC_URL}}lp-health/img/check-icon.png" alt="">
                            Maternity and OPD covers
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <a class="toll-free" href="javascript:ClickToCall('top_bar')">
                        Call us on:
                        <strong>{{ settings.HEALTH_TOLL_FREE }}</strong>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{%block tips%}
{% endblock %}

{%block footer_css%}
    {%compress css%}
        <link href="{{STATIC_URL}}lp-health/two_folds/css/style.css" rel="stylesheet">
    {%endcompress%}
{%endblock%}

{% block hero_form_js %}
{% endblock %}

{%block footer_js%}
    <script type="text/javascript">
        $(document).ready(function(){
            // page scroll javascript
            function scrollTo(element, to, duration) {
                var start = element.scrollTop,
                        change = to - start,
                        currentTime = 0,
                        increment = 20;

                var animateScroll = function(){
                    currentTime += increment;
                    var val = Math.easeInOutExpo(currentTime, start, change, duration);
                    element.scrollTop = val;
                    if(currentTime < duration) {
                        setTimeout(animateScroll, increment);
                    }
                };
                animateScroll();
            }
            //t = current time
            //b = start value
            //c = change in value
            //d = duration
            Math.easeInOutExpo = function (t, b, c, d) {
                t /= d/2;
                if (t < 1) return c/2 * Math.pow( 2, 10 * (t - 1) ) + b;
                t--;
                return c/2 * ( -Math.pow( 2, -10 * t) + 2 ) + b;
            };

            var $topbar = $('#topbar');
            var $formSection = $('#form-section');
            $(document).on('click', '.go-to-form, .widget-form-box .prev-btn', function() {
                var scrollToPos = $formSection.offset().top - $topbar.height();
                scrollTo(document.body, scrollToPos, 800);
            });

            $(document).on('click', '.widget-form-box .btn-cfox', function() {
                var $thisId = $(this).attr('id');
                var scrollToPos;
                var querry_ele_arr = $('.'+ $thisId).find('.error.has-error');
                if(querry_ele_arr.length > 0) {
                    console.log($(querry_ele_arr[0]).offset().top,querry_ele_arr[0]);
                    scrollToPos = $(querry_ele_arr[0]).offset().top -$topbar.height() - 100;
                }
                else {
                    scrollToPos = $formSection.offset().top - $topbar.height();
                }
                scrollTo(document.body, scrollToPos, 300);
            });
        });
    </script>
{%endblock%}
