<div id="loading" data-bind="visible: login.loginMode()" style="display:none; position: fixed; width: 100%; z-index:200000; height: 100%; background-color: rgba(2, 2, 2, 0.6);top:0px;">
    <!-- Registration modal Starts -->
    <div class="modal-overlay" data-backdrop="static" id="registration_modal" style="overflow-y:auto;">
        <div class="modal-dialog cf-dialog">

            <div class="modal-content">
                <div id="user_nu_div" class="modal-body body-style user-tab-content">
                    <div class="row">
                        <div class="col-xs-6">
                            <h2 class="modal-title">
                                Create an account with <strong>Coverfox </strong>
                            </h2>
                            <div class="board-text">
                                <div class="cf-bullet">Get all your policy related documents in your email</div>
                                <div class="cf-bullet"><strong>Need time to decide?</strong> Shortlist the plans you prefer and access them anytime.</div>
                                <div class="cf-bullet">It’s safe and secure. <strong>We respect your privacy.</strong> No Spam guaranteed.</em>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="clearfix">
                                <div class="pull-right cross mpoint"></div>
                            </div>
                            <div class="form-holder">
                                <div id="fb-root"></div>
                                <img data-bind="click: login.facebook_btn_click" class="facebook_btn img-responsive" style="cursor: pointer;" src="/static/health_product/desktopv2/app/assets/img/log_in_with_facebook.png" alt="Login with facebook"/>
                                <div style="margin:20px 0px 0px;"></div>
                                <img data-bind="click: login.google_btn_click" class="google_btn img-responsive" style="cursor: pointer;" src="/static/health_product/desktopv2/app/assets/img/log_in_with_google.png" alt="Login with google" />
                                <div data-bind="visible: login.referer != 'affiliate' ">
                                    <h5 class="or-seperate text-center" style="margin-bottom:20px;">Or login with your email</h5>
                                    <ul class="nav nav-tabs clearfix" role="tablist" id="user-type-tab">
                                        <li data-bind="css : {'active': login.tabMode() == 'REGISTRATION'}"><a data-bind="click:login.setTabMode.bind($data, 'REGISTRATION')" role="tab" data-toggle="tab">New User</a></li>
                                        <li data-bind="css : {'active': login.tabMode() == 'LOGIN'}"><a data-bind="click:login.setTabMode.bind($data, 'LOGIN')" role="tab" data-toggle="tab">Existing User</a></li>

                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane user-tab-pane" data-bind="css: {'active': login.tabMode() == 'REGISTRATION'}" id="new-user">
                                            <form id="user_registration_form" action="{%url 'ajax_product_user_registration'%}" method="post">
                                                <div class="form-group big-field">
                                                    <input data-bind="value: login.registration_name" class="form-control big-input" type="text" placeholder="Name" name="name">
                                                </div>
                                                <span data-bind="validationMessage: login.registration_name" style="color: #FF0000;font-size:14px;" class="text-error form_errors"></span>
                                                <span data-bind="if:login.ajaxErrors().registration"><span data-bind="text: login.ajaxErrors().registration.name" style="color: #FF0000;font-size:14px;" class="text-error form_errors"></span></span>

                                                <div class="form-group big-field">
                                                    <input data-bind="value: login.registration_email" style="width:74%;" class="form-control big-input" type="text" placeholder="Email" name="email">
                                                    <a data-bind="click: login.register_user" style="height:44px;border:none;position:relative;right:-1px;top:-1px;" class="field-button submit" type="submit" value="Sign me up">Go</a>
                                                    <span data-bind="validationMessage: login.registration_email" style="color: #FF0000;font-size:14px;" class="text-error form_errors"></span>
                                                    <span data-bind="if:login.ajaxErrors().registration"><span data-bind="text: login.ajaxErrors().registration.email" style="color: #FF0000;font-size:14px;" class="text-error form_errors"></span></span>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="tab-pane user-tab-pane" data-bind="css: {'active': login.tabMode() == 'LOGIN'}" id="existing-user">
                                            <form id="user_login_form" action="{%url 'ajax_product_user_login'%}" method="post">
                                                <div class="form-group big-field">
                                                    <input data-bind="value: login.login_email" class="form-control big-input" type="text" placeholder="Email" name="email">
                                                </div>
                                                <span style="color: #FF0000;font-size:14px;" class="text-error form_errors" id="user_login_error_email"></span>
                                                <span data-bind="if:login.ajaxErrors().login"><span data-bind="text: login.ajaxErrors().login.email" style="color: #FF0000;font-size:14px;" class="text-error form_errors"></span></span>

                                                <div class="form-group big-field">
                                                    <input data-bind="value: login.login_password" style="width:74%;" class="form-control big-input" type="password" placeholder="Password" name="password">
                                                    <a data-bind="click: login.login_user" style="height:44px;border:none;position:relative;right:-1px;top:-1px;" class="field-button submit" type="submit" value="Sign me up">Go</a>
                                                </div>
                                                <span style="color: #FF0000;font-size:14px;" class="text-error form_errors" id="user_login_error_password"></span>
                                                <span data-bind="if:login.ajaxErrors().login"><span data-bind="text: login.ajaxErrors().login.password" style="color: #FF0000;font-size:14px;" class="text-error form_errors"></span></span>
                                                <p>
                                                </p>
                                            </form>

                                            <div style="border-bottom: 1px solid #DADADA;font-size: 12px;margin: 20px 0 35px;padding-bottom: 5px;" >
                                                <a style="font-size:14px;text-decoration:none;cursor:pointer;" data-bind="attr: {href: FORGOT_PASSWORD_URL}">Forgot password?</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!--a class="skip_login" style="text-align:right;float:right;" href="#">Skip ></a-->
                            </div><!--/.form-holder-->
                        </div>
                    </div>
                </div><!--/.user-tab-content-->


            </div><!--/.modal-content-->
        </div>
    </div>
    <!-- Registration model ends -->
</div>
