/*@cfBaseColor: #FF7703;*/
/*@cfBaseColor: #FF6442;*/
* {
  -webkit-backface-visibility: hidden;
}
.verticallyCentered {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
}
.horizontallyCentered {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.d1 {
  -webkit-transition-delay: 100ms !important;
  -moz-transition-delay: 100ms !important;
  -o-transition-delay: 100ms !important;
  transition-delay: 100ms !important;
}
.d2 {
  -webkit-transition-delay: 200ms !important;
  -moz-transition-delay: 200ms !important;
  -o-transition-delay: 200ms !important;
  transition-delay: 200ms !important;
}
.d3 {
  -webkit-transition-delay: 300ms !important;
  -moz-transition-delay: 300ms !important;
  -o-transition-delay: 300ms !important;
  transition-delay: 300ms !important;
}
.d4 {
  -webkit-transition-delay: 400ms !important;
  -moz-transition-delay: 400ms !important;
  -o-transition-delay: 400ms !important;
  transition-delay: 400ms !important;
}
.pnone {
  padding: 0;
}
.mnone {
  margin: 0;
}
body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  color: #333130;
}
.pnone {
  padding: 0;
}
.rounded {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.cubic-trans {
  -moz-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.cubic-transform {
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: -ms-transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.bounce-trans {
  -moz-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.btn-cfox {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  letter-spacing: 0px;
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 42px;
  cursor: pointer;
}
.btn-cfox:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.08)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
}
.btn-cfox.orange {
  background-color: #ff704c;
  border: 1px solid #ff4719;
}
.btn-cfox.dark {
  background-color: #314451;
  border: 1px solid #1e2931;
}
.btn-cfox.dark:hover {
  background-color: #1e2931;
}
.btn-cfox.btn-next {
  display: inline-block;
  height: 57px;
  position: relative;
}
.dd-parent {
  position: relative;
  cursor: pointer;
  color: #827d7a;
}
.dd-parent .dd {
  position: absolute;
  top: 120%;
  right: 0;
  z-index: 60;
  background: #fff;
  width: 220px;
  border: 1px solid #ff704c;
  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  -o-transform: translateX(-30px);
  transform: translateX(-30px);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.dd-parent .dd:after,
.dd-parent .dd:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dd-parent .dd:after {
  border-bottom-color: #ffffff;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.dd-parent .dd:before {
  border-bottom-color: #ff704c;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}
.dd-parent .dd.left {
  left: 0;
  right: auto;
}
.dd-parent .dd.left:after,
.dd-parent .dd.left:before {
  left: 30px!important;
  right: auto!important;
}
.dd-parent .dd a {
  display: block;
  text-align: left;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #333130;
  border-bottom: 1px solid #f6f7f8;
}
.dd-parent .dd a:hover {
  color: #ff704c;
  text-decoration: none;
}
.dd-parent .dd a:hover span.badge {
  color: #fff;
  background: #ff704c;
}
.dd-parent .dd a:last-child {
  border-bottom: none;
}
.dd-parent .dd a span {
  color: #ff704c;
}
.dd-parent .dd a span.badge {
  font-weight: normal;
  background: transparent;
  border: 1px solid #ff704c;
  letter-spacing: 0;
}
.dd-parent .dd:after,
.dd-parent .dd:before {
  right: 30px!important;
}
.dd-parent:hover {
  color: #333130;
}
.dd-parent.active .dd {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.clearfix {
  pointer-events: none;
}
.cfnav {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 15px;
  padding-right: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 55px;
  margin-bottom: 0;
}
.cfnav .navbar-nav > li > a {
  padding-top: 17px;
  padding-bottom: 16px;
}
.cfnav .navbar-nav > li > a.login {
  padding-top: 10px;
  padding-bottom: 8px;
}
.cfnav .navbar-nav > li > a.login img {
  max-width: 35px;
  margin-right: 10px;
}
.cfnav .logo {
  text-align: center;
  height: 55px;
  padding-top: 10px;
}
.cfnav .logo img {
  width: 150px;
}
.text-input-cfox {
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 42px;
}
.text-input-cfox:focus {
  border-color: #ff704c;
  outline: 0;
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1), 0 0 10px #ff997f;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1), 0 0 10px #ff997f;
}
.prnone {
  padding-right: 0;
}
