.modal {
  background-color: rgba(0,0,0,0.5);
  overflow-y: auto;
  display: block;
  opacity: 0;
  filter:alpha(opacity=0);
  z-index: -1;
  .modal-dialog {
    .transition(top,0.3s);
    position: relative;
    width: 680px;
    margin-bottom: 50px;
    top:-2000px;
  }
  &.reveal {
    z-index: 1050;
    opacity: 1;
    filter:alpha(opacity=100);
    .modal-dialog {
      top:0px;
    }
  }
  .modal-header {
    text-align:left;
    background-color: @cfBaseColor;
    .roundedCorners(3px 3px 0 0);
    border-bottom: none;
    padding-top: 25px;
    padding-bottom: 25px;
    & h4 {
      color: #fff;
    }
  }
  .modal-body {
    color: @textColor;
    background-color: @grey-2;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    & h5 {
      margin-top: 20px;
      font-weight: 400;
      font-size: 16px;
    }
    & p {
      color: #666666;
      line-height: 1.6em;
      font-size: 14px;
    }
    table.custom {
      margin: 20px 0px;
      font-size: 12px;
      text-align: center;
      & > tbody > tr > td {
        border-top: none;
      }
      & th {
        color: #fff;
        background-color: @baseDark;
        font-weight: 400;
        text-align: center;
      }
    }
  }
  .modal-footer {
    background-color: @grey-2;
    text-align: center;
    .roundedCorners(0 0 3px 3px);
    & a {
      color: @cfBaseColor;
      &:hover,&:focus,&:active {
        color: @cfBaseColor;
        text-decoration: underline;
      }
    }
  }
  .close {
    float: right;
    font-size: 32px;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    position: relative;
    right: 10px;
    opacity: 1;
    filter:alpha(opacity=20);
    text-shadow: none;
    &:hover {
      color: rgba(0,0,0,0.5);
    }
  }
  & .modal-dialog.medium {
    width:465px;
    & .modal-body {
      font-size: 13px;
      padding: 0px 30px 30px;
      background-color: #fff;
      .roundedCorners(0 0 3px 3px);
    }
    & .modal-content {
      border: none;
      & .dark-font {
        color: @baseTextColor;
      }
      & p {
        color: lighten(@baseTextColor,30%);
        font-size: 13px;
      }
      & .btn-cfox.big-block {
        font-size: 16px;
        display: block;
        width: 100%;
      }
    }
    & .modal-header {
      position: relative;
      z-index: 1;
      background-color: #fff;
      padding: 25px 30px 15px;
      & .modal-title {
        color: @baseTextColor;
        font-size: 14px;
      }
      & .close {
        right:-10px;
        color: #999;
        font-size: 24px;
        &:hover {
          color: #333;
        }
      }
    }
  }
}

.d-mem {
  margin: 15px 0;
  & > div {
    margin-bottom: 5px;
  }
}
.btn-cont {
  .btn-cfox {
    min-width: 120px;
    font-size:16px;
    margin-right: 10px;
  }
}
.or-sep {
  position: relative;
  margin: 10px auto;
  text-align: center;
  &:after {
    background-color: #fff;
    content: 'OR';
    display: inline-block;
    width:40px;
    padding: 10px;
    position: relative;
    z-index: 1;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top:20px;
    width: 100%;
    border-top: 1px solid #dadada;
  }
}
.input-group.mobile-group {
  position: relative;
  & .input-group-addon:first-child {
    background-color: #fff;
  }
  input {
    height: auto;
    padding:11px 5px;
    border-left: none;
  }
  & .btn-cfox {
    padding-left:25px;
    padding-right: 25px;
  }
}