@import "basestyles.less";
@resultsPageBGColor:#F1F4F6;

body.results-page{
  padding-top:55px;
  background: #f1f4f6;
}


#results-wrapper{
  position: relative;
  .mode-page{
    top:0;
    left:0;
    right:0; 
    bottom:0;
    position: absolute;
    z-index:1000;
    background: #e3e3e3;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    visibility: hidden;
    pointer-events:none;
  }

  &.cp,&.mh,&.ms,&.sl,&.c,&.sac,&.l{

    #results-content{
     -webkit-transform: translateY(80%);
     -moz-transform: translateY(80%);
     -ms-transform: translateY(80%);
     -o-transform: translateY(80%);
     transform: translateY(80%);
     opacity:0;

     #result-tabs{
      top:0;
    }
  }


  .mode-page{
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    visibility: visible;
    pointer-events:all;

  }
}
#sidebar{
  background: #f1f4f6;
  z-index: 100;
  position: absolute;
  width: 300px;
  top:0;
  left:0;
  bottom:0;
  padding: 20px 0;
  z-index:199;
  &:hover{
    z-index:201;
  }
  .modify-selection{
    margin-left: 65px;
    padding: 6px 10px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    width: 160px;
    height: auto;
    img{
      width:15px;
    }
  }
  .sidebar-section{
    padding-top:22px;

    .sidebar-section-content{
      font-weight: normal;
      padding-left:80px;
      color: rgb(51, 68, 79);
      .dropdown{
        .dropdown-toggle{
          color:@cfBaseColor;
          width:160px;
          .thinBorder(@cfBaseColor, 3px);
          padding:5px 10px;
          display: inline-block;
          margin-top: 8px;
          &:hover,&:active{
            text-decoration: none;
            background: #fff;
          }
          .caret{
            float: right;
            border-width: 8px;
            border-top-width: 12px;
            margin-top: 4px;
            border-bottom: none;
            border-top:12px solid;
          }
        }
      }


      .other-filters{
        &>div{
          display: inline-block;
          clear: both;
          margin-top: 15px;
          position: relative;
          &>div{
            float: left;
            line-height: 125%;
            &.filter-icon{
              width:35px;
              height:35px;
              .thinBorder(@cfBaseColor, 3px);
              text-align: center;
              color:@cfBaseColor;
              padding: 9px 0;
              font-size: 12px;
              margin-right: 15px;
              position: absolute;
              top:50%;
              .verticallyCentered;
              left:-100px;
            }
            ul.select-brands{
              list-style-type: none;
              padding: 0;
              margin-top:15px;
              li{
                background: url(../img/tick-square-empty.png) no-repeat 0 5px;
                padding:6px 0 10px 30px;
                background-size: 20px 20px;
                cursor: pointer;
                &.selected{
                  background-image: url(../img/tick-square-orange.png);
                }
              }
            }
          }
          &.sidebar-filter{
              cursor: pointer;
              width: 210px;
              padding: 5px 0;
              border-top:1px solid transparent;
              border-bottom:1px solid transparent;
              position: relative;
              margin-top:0px;
              &:hover{
                border-color:darken(@resultsPageBGColor, 10%);
                 .filter-icon{
                  background: @cfBaseColor;
                  color:#fff;
                }
                .sidebar-filter-popup{
                  display: block;
                  ul.popup-options{
                    list-style-type: none;
                    padding: 0;
                    margin-top:15px;
                    li{
                      background: url(../img/tick-square-empty.png) no-repeat 0 5px;
                      padding:6px 0 10px 30px;
                      background-size: 20px 20px;
                      cursor: pointer;
                      &.selected{
                        background-image: url(../img/tick-square-orange.png);
                      }
                    }
                  }
                }
              }
              .sidebar-filter-popup{
                position: absolute;
                display: none;
                top:50%;
                left:100%;
                padding:15px;
                width:300px;
                .roundedCorners;
                #arrow > .left(6px, darken(@resultsPageBGColor, 70%), 1px, darken(@resultsPageBGColor, 80%));
                background: rgba(58, 55, 71, 0.9);
                color:#fff;
                .verticallyCentered;
                p{
                  font-size: 14px;
                  line-height:170%;
                }
              }
              .filter-reset{
                font-size: 10px;
                color:@cfBaseColor;
                .thinBorder;
                .wideUppercase(1px);
                padding:1px 5px;
                margin-left:5px;
                &:hover{
                  background: @cfBaseColor;
                  color:#fff;
                }

              }
            }
        }
        span.value{
          font-size: 12px;
          color: rgba(50, 53, 56, 0.5);

          span{
            color:@cfBaseColor;
          }

        }
      }
    }
    .sidebar-section-header{
      font-size: 14px;
      .wideUppercase(3px);
      color:@cfBaseColor;
      font-weight: 600;
      background: @resultsPageBGColor;
      padding: 10px 30px 10px 65px;

      img{
        max-width: 27px;
      }
    }
  }
}
#results-pane{
  position: relative;
  z-index:200;
  min-height:100vh;
  margin-left:300px;
  padding: 15px;
  padding-top: 0;
  background: #f1f4f6;
  border-left:1px solid rgba(0,0,0,0.1);
  border-right:1px solid rgba(0,0,0,0.1);
  width:930px;
  #results-section{
    z-index:2000;
    padding-top:110px;
    .transition(@time:0.2s);
    &.side{
      opacity:0;
      -webkit-transform: translateY(100px);
      -moz-transform: translateY(100px);
      -ms-transform: translateY(100px);
      -o-transform: translateY(100px);
      transform: translateY(100px);

    }
  }
  #result-tabs{
    position: fixed;
    left:301px;
    top:55px;
    right:0;
    z-index:3000;
    #sort-bar{
      height:46px;
      background: #fff;
      border-bottom:1px solid rgba(0,0,0,0.14);
      .boxShadow(0,1px,3px,rgba(0,0,0,0.1));
      position: relative;
      z-index: 20;
      padding-top:12px;
      width:928px;
      ul{
        li{
          list-style-type: none;
          display: inline-block;
          border:1px solid lighten(@cfBaseColor, 20%);
          .roundedCorners;

          &.label{
            font-style: italic;
            color:darken(@resultsPageBGColor, 40%);
            font-weight: normal;
            font-size: 14px;
            margin-right:90px;
            position: relative;
            border:none;
            &:after{
              width:60px;
              position: absolute;
              content: '';
              border-bottom:1px dashed darken(@resultsPageBGColor, 20%);
              left:100%;
              top:50%;
            }
          }
          &.dropdown{
            .dropdown-toggle{
              color:@cfBaseColor;
              width:120px;
              padding:2px 10px;
              display: inline-block;
              text-align: center;
              font-size:13px;
              img{
                height:15px;
                margin-left:5px;
              }
              &:hover,&:active{
                text-decoration: none;
                background: #fff;
              }
              .caret{
                border-width: 6px;
                border-top-width: 10px;
                margin-top: 0px;
              }
            }
          }
        }
      }
    }
    &>ul{
      list-style-type: none;
      margin-bottom: 0;
      position: relative;
      z-index: 21;
      padding: 0;
      width:930px;
        font-size: 0; // fix space between inline block items http://stackoverflow.com/questions/5256533/a-space-between-inline-block-list-items
        li{
          display: inline-block;
          width:33.333333333%;
          padding:20px;
          background: @resultsPageBGColor;
          font-size:12px;
          border:1px solid transparent;
          border-right-color:rgba(0,0,0,0.11);
          border-bottom-color:rgba(0,0,0,0.11);
          cursor: pointer;
          color:darken(@resultsPageBGColor, 70%);
          .perspective(1000px);
          &>div{
            float: left;
            line-height: 15px;
            strong{
              font-size: 14px;
            }
            &.plans-count{
              margin-right:15px;
              height:32px;
              width:32px;
              text-align: center;
              color:@cfBaseColor;
              .thinBorder(@cfBaseColor, 2px);
              font-size: 20px;
              padding: 0;
              padding-top: 8px;
              letter-spacing: 0;
              .transform(rotateY(360deg));
            }
          } 
          span{
            color:@cfBaseColor;
          }
          &:hover:not(.active){
            background: lighten(@resultsPageBGColor, 2%);
            border-color:#44c0ff;
          }
          &.active{
            border-bottom:1px solid #fff;
            background: #fff;
            .plans-count{
              background: @cfBaseColor;
              color:#fff;
              .transform(rotateY(0deg));
            }
          }
        }
      }
    } 
  }
}

.resultbar{
  margin-top:20px;
  background: #fff;
  width:900px;
  
  .boxMultipleShadow(~"0 1px 3px rgba(26,53,71,.08), 0 0 0 1px rgba(26,53,71,.04), 0 1px 1px rgba(26,53,71,.06)");
  .roundedCorners(2px);
  position: relative;
  max-height:132px;
  
  .recommended-badge{
    font-size: 10px;
    color:@cfBaseColor;
    .thinBorder;
    padding:1px 5px;
    margin-left:5px;
    text-transform: none;
    background: #fff;
  }

  .plan-summary{
    padding: 0;
    cursor: pointer;
    &.plan-sub{
      background: #f4f6f8;
    }
  }
  .plan-summary>div{
    width:100px;
    float: left;
    margin-right:10px;
    height:60px;
    &.resultbar-logo{
      width: 180px;
      padding-top: 3px;
      padding-left: 60px;
      margin-right:0;
      img{
        max-height:50px;
      }

    }
    &.resultbar-match-score{
      width:120px;
      padding-top: 20px;
      ul.match-score-stars{
        list-style-type: none;
        padding: 0;
        li{
          display: inline-block;
          width:15px;
          height:15px;
          background-repeat:no-repeat;
          &.full{
            background-image: url('../img/star.png');
          }
          &.half{
            background-image: url('../img/half-star.png');
          }
          &.empty{
            background-image: url('../img/empty-star.png');
          }
        }
      }
    }
    &.resultbar-cover, &.resultbar-premium, &.resultbar-hospitals{
      padding-top:14px;
      width:180px;
      padding-left:10px;
      margin-right:0;
      p{
        margin: 0;
        &.value{
          color:@healthBaseColor;
          font-size: 18px;
          line-height: 70%;
          margin-top:5px;
        }
        &.label{
          color:darken(@resultsPageBGColor, 50%);
          text-transform: uppercase;
          font-size: 10px;
          padding: 0;
        }
      }
    }
    &.resultbar-action{
      width:320px;
      padding-top: 20px;
    }
    
  }

  .plan-summary>div.plan-factor{
    width: 180px;
    border-right:1px solid darken(@resultsPageBGColor, 5%);
    border-top:1px solid darken(@resultsPageBGColor, 5%);

    padding: 10px 10px;
    margin-right:0;
    padding-right:0;

    &:last-child{
      border-right:none;
    }
    p.label{
      color:darken(@resultsPageBGColor, 60%);
      text-transform: uppercase;
      padding-left:0;
    }
    p.value{
      font-size: 12px;
      color:darken(@resultsPageBGColor, 60%);
    }

  }
  .plan-name{
    font-size: 12px;
    position: relative;
    p{
      background: #fff;
      margin-bottom: 0;
      position: relative;
      z-index:20;
      display: inline;
      padding: 0 10px;
      padding-bottom: 5px;
      color:darken(@resultsPageBGColor, 50%);

    }
    &:before{
      position: absolute;
      content:'';
      top:9px;
      left:0;
      right:0;
      bottom:0;
      border-top:1px solid darken(@resultsPageBGColor, 5%);
      z-index: 19;
    }

  }



  .compare-checkbox{
    background: #F1F4F6;
    border: 1px solid rgba(0,0,0,0.1);
    position: absolute;
    .roundedCorners(3px);
    .boxInsetShadow(0px, 1px, 3px, 20%);
    width:27px!important;
    height:27px!important;
    top:11px;
    left:12px;
    .transform(scale(0.9));
    .compare-prompt{
      position: absolute;
      .filledLabel(rgba(58, 55, 71, 0.9), #fff);
      #arrow > .right(6px, darken(@resultsPageBGColor, 70%), 1px, darken(@resultsPageBGColor, 80%));
      font-size: 12px;
      right:100%;
      width:130px;
      height:30px;
      margin-top:0px;
      margin-right:10px;
      display: none;

    }
    &.selected{
      background: @healthBaseColor;
      .compare-prompt{
        width:160px;
      }
      span.glyphicon{
        display: block;
      }
    }
    span.glyphicon{
      position: absolute;
      color: rgb(255, 255, 255);
      font-size: 18px;
      top: 3px;
      left: 3px;
      display: none;
    }
  }

  &:hover{
   
   .boxMultipleShadow(~"0 1px 3px @healthBaseColor, 0 0 0 1px @healthBaseColor, 0 1px 1px @healthBaseColor");

   .compare-checkbox{
    .transform(scale(1));
    border-color:@healthBaseColor;
    .compare-prompt{
      display: block;
    }

  }
}
.plan-details{
  height:0;
  overflow: hidden;
  padding-left:0;
  padding-right:0;
  opacity:0;
  .result-tab{
    display: none;
    &.active{
      display: block;
    }
    p.subtext{
      font-size: 12px;
      text-align: center;
    }
  }
  #medical-coverage{
    .coverage-table{
      div{
        padding-left:0;
        p.label{
          color: @cfBaseColor;
          padding-left: 0;
          font-size: 14px;
          font-size: 14px;
          border-bottom: 1px solid rgb(241, 244, 246);
          padding-bottom: 10px;
          display: inline-block;
          color: rgb(255, 123, 94);
          font-weight: 600;
          margin-top: 10px;

        }
        p.value{
          font-size: 12px;
          margin-bottom: 0;
        }
      }

    }
  }
  #five-year-coverage{

    ul.timeline{
      list-style-type: none;
      text-align: center;
      padding: 0;
      padding-top:130px;
      li{
        display: inline-block;
        position: relative;
        padding-top: 30px;
        margin-right:70px;
        .wideUppercase;
        color:@cfBaseColor;
        font-weight: 600;
        &:after, &:before{
          position: absolute;
          top:0;
          left:50%;
          content:'';
        }
        &:before{
          width:10px;
          height:10px;
          .thinBorder(rgba(0,0,0,0.2), 10px);
          padding: 0;
          .horizontallyCentered;
        }
        &:after{
          border-bottom:1px solid rgba(0,0,0,0.2);
          width:127px;
          margin-top:5px;
          margin-left:5px;
        }
        &:last-child{
          margin-right: 0;
          &:after{
            display: none;
          }

        }
        .timeline-element{
          position: absolute;
          width:115px;
          text-align: left;
          border:1px solid @healthBaseColor;
          padding:10px;
          left:-50%;
          top:-100%;
          margin-top:-70px;
          background:#fff;
          margin-left: 10px;
          .roundedCorners;
          #arrow > .bottom(6px, #fff, 1px, @healthBaseColor);
          .boxShadow(0px, 2px, 3px, rgba(0,0,0,0.1));
          span.label{
            color: #52788f;

            font-size: 10px;
            padding: 0;
            letter-spacing: normal;
          }
          span.value{
            color: @cfBaseColor;
            letter-spacing: normal;
          }

        }
      }
    }
  }
  h3{
    
    font-size: 14px;
    border-bottom:1px solid @resultsPageBGColor;
    padding-bottom: 10px;
    display: inline-block;
    color:@cfBaseColor;
    font-weight: 600;
  }
  .factor-label{
    color:darken(@resultsPageBGColor, 50%);
    text-transform: uppercase;
    font-size: 12px;
    padding: 0;
    font-weight: bold;
    margin: 0;
    margin-top:10px;

  }
  .factor-value{
    margin: 0;
    font-size: 12px;
  }
  .not-available{
      color:darken(@resultsPageBGColor,10%);
    }
  .other-benefits{
    h3{
      span{
        font-size: 10px;
        text-transform: none;
        letter-spacing: 0;
      }
    }
    
  }

}
&.open{
  max-height:1000px;
  .plan-factor{
    border-bottom:1px solid darken(@resultsPageBGColor, 5%);
  }

  .plan-details{
    height:330px;
    padding-bottom: 20px;
    opacity:1;
  }
}

&.removeBar{
  -webkit-animation:closespace 0.3s 0.2s cubic-bezier(.4, 0, .2, 1) forwards,moveout 0.2s  ease forwards;
  animation: closespace 0.3s 0.2s cubic-bezier(.4, 0, .2, 1) forwards,moveout 0.2s  ease forwards;
  overflow: hidden;
  margin:0;

}

&.keepBar{
  -webkit-animation:closespace 0.3s cubic-bezier(.4, 0, .2, 1) reverse,moveout 0.2s 0.3s ease reverse;
  animation: closespace 0.3s cubic-bezier(.4, 0, .2, 1) reverse,moveout 0.2s 0.3s  ease reverse;
  overflow: hidden;
  margin:0;

}


}

object{
  vertical-align: middle;
}


p.caps-subheading{
  font-size: 20px;
  .wideUppercase();
}


.back-btn-container{
  padding-top:30px;
}

a.back-to-results{
  font-size: 25px;
  font-weight: 300;
  color: darken(@resultsPageBGColor,50%);
  object{
    margin-top: -6px;
  }
  &:hover{
    color:darken(@resultsPageBGColor,80%);
    text-decoration: none;
  }
}


/* SCHEDULE A CALL */

#schedule-a-call-wrapper{
  .page-header{
    border:0;
    h1{
      font-weight: 300;
    }
    p.lead{
      color:#666;
      &.caps-subheading{
        color:@cfBaseColor;
      }
    }

  }
}

.widget-wrapper{
  position: relative;
  width: 100%;
  height:270px;
  .widget-title{
    color:@cfBaseColor;
    .wideUppercase();
    margin-bottom:15px;
  }
}

.schedule-widget{
  width:250px;
  height:192px;
  .roundedCorners(3px);
  position: absolute;
  .horizontallyCentered;
  background: #FAFBFC;
  border: 1px solid #CED3DB;
  overflow: hidden;
  ul.date{
    list-style-type: none;
    padding: 0;
    float: left;
    width:250px;
    li{
      height:64px;
      color:@cfBaseColor;
      .wideUppercase(1px);
      font-size: 20px;
      font-weight: 300;
      line-height: 91%;
      border-bottom: 1px solid #CED3DB;
      padding-top: 16px;
      cursor: pointer;
      &:last-child{
        border:none;
      }
      &.active,&:hover{
        background: #E7ECF2;
      }
      span{
        font-size: 13px;
        color:#525252;
        text-transform: none;
        letter-spacing: normal;
      }
    }
  }

  ul.time{
    list-style-type: none;
    padding: 0;
    position: absolute;
    width:250px;
    left:250px;
    top:0;
    border-left: 1px solid #CED3DB;
    li{
      height: 48px;
      color: #000000;
      border-bottom: 1px solid #CED3DB;
      padding-top: 13px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 300;
      &:last-child{
        border:none;
      }
      &.active, &:hover{
        background: #E7ECF2;
      }
    }
  }
}





#compare-footer-wrapper{
  position: fixed;
  width:100%;
  background: rgba(58, 55, 71, 0.9);
  border-top: 1px solid rgb(58, 55, 71);
  bottom:0;
  max-height:70px;
  z-index:200;
  .transform(translate3d(0,100%,0));
  .compare-title{
    .wideUppercase;
    color:#fff;
    text-align: center;
    padding-top:15px;
  }
  .compare-btn{
    margin-top:15px;
    display: inline-block;
  }
  
  &.reveal{
    .transform(translate3d(0,0,0));
  }
  &:hover{
    padding:20px 0;
    max-height:110px;
  }

  .plan-to-compare{
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    img{
      max-height:50px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    p{
      color: #535353;
      font-size: 12px;
      margin-top: -10px;
    }
  }
  


}







.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}


ul.filter-options{
  list-style-type: none;
  padding-left: 0;
  margin-top:5px;
  margin-bottom: 0;

  li{
    background: url(../img/tick-square-empty-orange.png) no-repeat 0 5px;
    padding:3px 0 0 20px;
    background-size: 15px 15px;
    cursor: pointer;
    font-size: 11px;
    margin-bottom: 3px;
    &:hover{
      background-image: url(../img/tick-square-empty.png);
      color:@cfBaseColor;
    }
    &.selected{
      background-image: url(../img/tick-square-orange.png);
    }
  }
}


@-webkit-keyframes closespace {
  to { 
    max-height: 0px;
  }

}

@-webkit-keyframes moveout {
  to { 
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
       -moz-transform: translate3d(50%, 0, 0);
        -ms-transform: translate3d(50%, 0, 0);
         -o-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
  }

}

@keyframes closespace {
  to { 
    max-height: 0px;
  }
}
@keyframes moveout {
  to { 
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
       -moz-transform: translate3d(50%, 0, 0);
        -ms-transform: translate3d(50%, 0, 0);
         -o-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
  }
}


.btn-cfox.shortlist-btn{
  border: 1px solid darken(@resultsPageBGColor, 25%);
margin-left: -5px;
border-left: 0;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
color:darken(@resultsPageBGColor, 38%);
}



ul.cf-tabs{
  margin-top:20px;
  list-style-type: none;
  text-align: center;
  position: relative;
  padding: 0;
  li{
    display: inline-block;
    text-align: center;
    height:30px;
    vertical-align: bottom;
    padding: 5px 10px;
    border:1px solid #cfd4d8;
    border-bottom:none;
    cursor: pointer;
    color:rgba(0,0,0,0.4);
    position: relative;
    background: #f2f2f2;
    margin-left:-5px;
    &:first-child{
      border-top-left-radius: 5px;
    }
    &:last-child{
      border-top-right-radius: 5px;
    }
    strong{
      color:rgba(0,0,0,0.5);
      display: block;
      font-weight: bold;
    }
    span{
      font-size: 12px;
      color:@cfBaseColor;
    }
    &:hover{
      background: #FCFDFF;
    }
    &.active{
      border:1px solid #cfd4d8;
      border-bottom:0;
      background:#fff;
      color:@cfBaseColor;
      z-index:30;
      span{
        color:#535353;
      }
      strong{
        color:@cfBaseColor;
      }
    }
  }
  &:after{
    content:'';
    border-bottom:1px solid #cfd4d8;
    position: absolute;
    width: 100%;
    bottom:0px;
    left:0;
    z-index:29;
  }

}



