
{% extends "core/base_main.html" %}
{% load manip_data %}

{% block breadcrumb %}
{% endblock %}

{% block header_css %}
    <link rel="stylesheet" href="{{STATIC_URL}}review/css/recommendation.css" xmlns="http://www.w3.org/1999/html">
    <script type="text/javascript" src="//use.typekit.net/mfw7pxf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}
{% block main %}
    <div class="container">
        <a href="{% url 'mark_response_as_completed' session_key %}" class="btn btn-red btn-lg pull-right">Mark As Completed</a>
        <h1>Data for : {{ activity.extra.name }} - {{ activity.extra.email }}</h1>
        <legend>Activity Info</legend>
        {% for k,v in activity.extra.items %}
            {% if v %}
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-2">
                        {{ k }}
                    </div>
                    <div class="col-lg-10">
                        {% ifequal k 'response_data' %}
                            {% for i in v %}
                                {% for kk, vv in i.items %}
                                    {% if vv %}
                                        {{ kk }} : {{ vv }} <br />
                                    {% endif %}
                                {% endfor %}
                                <hr />
                            {% endfor %}
                        {% else %}
                            {% if k in 'review_extra_data'|make_dict %}
                                {% for kk, vv in v.items %}
                                    {% if vv %}
                                        {{ kk }} : {{ vv }} <br />
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {{ v }}&nbsp;
                            {% endif %}
                        {% endifequal %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    <legend>Data Entered</legend>

        <form class="form" action="." method="post" enctype="multipart/form-data" style="margin: 50px 0px 150px 0px;">
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit">
        </form>
    </div>

{% endblock main %}

{% block footer_js %}
{% endblock footer_js %}
{% block footer %}
{% endblock footer %}

