
{% extends "core/base_main.html" %}

{% block breadcrumb %}
{% endblock %}

{% block header_css %}
    <link rel="stylesheet" href="{{STATIC_URL}}review/css/recommendation.css" xmlns="http://www.w3.org/1999/html">
    <script type="text/javascript" src="//use.typekit.net/mfw7pxf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}
{% block main %}
<div class="container">
    <table class="table">
        <tbody>
        <tr>
            <th>Logo</th>
            <th>Product Name</th>
            <th>Add Features</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for p in product_list %}
        <tr>
            <td><img width="300px;" height="50px;" src="{{ p.logo.url }}"></td>
            <td>{{ p.name }}</td>
            <td><a href="{% url 'add_recommendation_product_feature' p.id %}" target="_blank" class="btn btn-default">Add Features</a> </td>
            <td><a href="{% url 'edit_recommendation_product' p.id %}" class="btn btn-warning">Edit</a> </td>
            <td><a href="{% url 'delete_recommendation_product' p.id %}" class="btn btn-red">Delete</a> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <br/>
    <br/>

    <form action="." method="post" enctype="multipart/form-data">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock main %}

{% block footer_js %}
{% endblock footer_js %}
{% block footer %}
{% endblock footer %}

