
{% extends "core/base_main.html" %}

{% block breadcrumb %}
{% endblock %}

{% block header_css %}
    <link rel="stylesheet" href="{{STATIC_URL}}review/css/recommendation.css" xmlns="http://www.w3.org/1999/html">
    <script type="text/javascript" src="//use.typekit.net/mfw7pxf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}
{% block main %}
    <div class="container">
        <div id="bounding-wrapper">
            <div id="loaded_data">
                <h2 class="name-hdr">
                    Hi <span data-bind="text:name"></span>!
                </h2>
                <div style="font-size:16px;margin-bottom:20px;">
                    <p>
                    Thank you for taking the time out and trusting us to give you recommendations on your insurance.
                    </p>
                    <p>
                    Our experts have completed scanning the products that would be ideal for you.
                    </p>
                    <p>
                    Here they are... We'd love to be able to discuss this with you and answer any questions.
                    </p>
                </div>
                <div data-bind="foreach:productArray">
                    <div class="risk-n-product">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="rec-risk">
                                    <div class="rsk-heading">
                                        <span style="color: #ff9f6e;font-size:50px;position:absolute;top:0px;left:25px;" class="glyphicon glyphicon-warning-sign"></span>
                                        Risk : <span data-bind="text:risk_name_list"></span>
                                    </div>
                                    <div class="lister">
                                        <table class="table risk-table">
                                            <tr>
                                                <td><span class="r-hdr">Product</span></td>
                                                <td><span data-bind="text:name"></span></td>
                                            </tr>
                                            <tr>
                                                <td><span class="r-hdr">Recomended Cover</span></td>
                                                <td><span data-bind="inr_currency:recommended_cover"></span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div><!--/.col-xs-12-->
                            <div class="col-xs-12">
                                <div class="mark-prd">
                                    <div class="prd-heading">
                                        <span style="color: #ffffff;font-size: 24px;position: absolute;left: 20px;top:5px;" class="glyphicon glyphicon-list"></span>
                                        <span data-bind="text:header_name"></span>
                                    </div>
                                    <div data-bind="foreach:marketProductArray">
                                        <div class="product-box">
                                            <div class="pr-hdr clearfix">
                                                <div class="co-icon">
                                                    <img data-bind="attr:{src: url}" class="img-resp">
                                                </div>
                                                <div class="pr-cov">
                                                    <div class="cover clearfix">
                                                        <span class="pull-left"><strong>Cover</strong></span>
                                                        <span data-bind="inr_currency:cover"></span>
                                                    </div>
                                                    <div class="premium clearfix">
                                                        <span class="pull-left"><strong>Premium</strong></span>
                                                        <span data-bind="inr_currency:premium"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="why-rec">
                                                <div class="row" data-bind="foreach:features.slice(0, 2) ">
                                                    <div class="col-xs-12">
                                                        <div class="bdy">
                                                            <span class="pointer"><span class="glyphicon glyphicon-ok"></span></span>
                                                            <span data-bind="text:$data"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" data-bind="foreach:features.slice(2) ">
                                                    <div class="col-xs-12">
                                                        <div class="bdy">
                                                            <span class="pointer"><span class="glyphicon glyphicon-ok"></span></span>
                                                            <span data-bind="text:$data"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--/.product-box-->
                                    </div>

                                </div><!--/.mark-prd-->
                            </div><!--/.col-xs-12-->
                        </div><!--/.row-->

                    </div><!--/.risk-n-product-->
                </div>
            </div>

            <div class="custom-margin" id="contact_data">
                <div class="form-hdr">
                    <strong>Get your questions answered and buy only what's relevant.</strong>
                    <div class="arrow_box right"><span class="glyphicon glyphicon-earphone"></span></div>
                </div>
                <div id="widget-box">
                    <div class="row">
                        <div class="col-xs-7">
                            <div id="time-widget">
                                <div class="clock">
                                    <span class="glyphicon glyphicon-time"></span>
                                    <div class="txt">
                                        We value your time and privacy.<br />
                                        Select a time interval to let us know a good time to connect with you
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered time-table">
                                    <tr>
                                        <th data-bind="text:todayText"></th>
                                        <th data-bind="text:tommText"></th>
                                        <th data-bind="text:afterText"></th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div>
                                                <ul data-bind="foreach:todaySlots">
                                                    <li data-bind="click:$parent.time_slot_click, css: { active: slot_selected() == 'Yes', frozen: frozen() == 'Yes' }">
                                                        <span data-bind="text:slot"></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <ul data-bind="foreach:tommSlots">
                                                <li data-bind="click:$parent.time_slot_click, css: { active: slot_selected() == 'Yes' }">
                                                    <span data-bind="text:slot"></span>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul data-bind="foreach:afterSlots">
                                                <li data-bind="click:$parent.time_slot_click, css: { active: slot_selected() == 'Yes' }">
                                                    <span data-bind="text:slot"></span>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div id="number-widget">
                                <div class="phone">
                                    <span class="glyphicon glyphicon-phone"></span>
                                </div>
                                <div style="margin:30px 0px 5px;" class="form-group">
                                    <label class="control-label" for="inputSuccess">Enter your mobile number</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">+91</span>
                                        <input id="inputSuccess" type="text" class="form-control" placeholder="mobile number" data-bind="value:mobile">
                                    </div>
                                    <span class="error-field" data-bind="validationMessage: mobile"></span>
                                    <br />
                                    <br />
                                </div>
                                <div style="margin: 30px 0px 20px 0px;" id="before_submit">
                                    <button class="btn btn-red btn-lg" data-bind="click:form_submit">Ok, get in touch with me</button>
                                </div>
                                <div class="complete hide" id="after_submit">
                                    <div class="highlight">Thanks!</div>
                                    We'll call you as promised
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.custom-margin -->
        </div><!--/.bounding-wrapper -->
    </div>
{% endblock main %}

{% block footer %}
{% endblock footer %}
{% block footer_compress_js %}

    <script src="{{STATIC_URL}}js/knockout/knockout-3.0.0.js"></script>
    <script src="{{STATIC_URL}}js/knockout/knockout.validation.js"></script>
    <script src="{{STATIC_URL}}js/knockout/knockout.mapping.js"></script>

    <script type="text/javascript">
        $(function(){

            ko.validation.init({
                insertMessages: false,
                decorateInputElement : true,
                registerExtenders: true,
                messagesOnModified: true,
                messageTemplate: null,
                grouping: { deep: true }
            });

            ko.bindingHandlers.inr_currency = {
                update: function(element, valueAccessor, allBindingsAccessor) {
                    var value = ko.utils.unwrapObservable(valueAccessor());
                    var x = value.toString();
                    var afterPoint = '';
                    if(x.indexOf('.') > 0)
                        afterPoint = x.substring(x.indexOf('.'), x.length);
                    x = Math.floor(x);
                    x = x.toString();
                    var lastThree = x.substring(x.length-3);
                    var otherNumbers = x.substring(0, x.length-3);
                    if(otherNumbers != '')
                        lastThree = ',' + lastThree;
                    var res = otherNumbers.replace(/\B(?=(\d{2})+(?!\d))/g, ",") + lastThree + afterPoint;
                    ko.bindingHandlers.text.update(element, function() { return "INR " + res; });
                }
            };

            function MarketProduct(data){
                var self = this;
                self.id = ko.observable(data.id);
                self.name = ko.observable(data.name);
                self.url = ko.observable(data.url);
                self.cover = ko.observable(data.cover);
                self.premium = ko.observable(data.premium);
                self.features = ko.observableArray(data.features);
            }


            function ProductData(data) {
                var self = this;
                self.code = ko.observable(data.code);
                self.name = ko.observable(data.name);
                self.risk_name_list = ko.observableArray(data.risk_name_list);
                self.risk_code_list = ko.observableArray(data.risk_code_list);
                self.recommended_cover = ko.observable(data.recommended_cover);
                self.marketProductArray = ko.observableArray();
            }

            function MainViewModel() {
                // Data
                var self = this;
                self.name = ko.observable();
                self.productArray = ko.observableArray();

            }

            function TimeData(data, frotime){
                var self = this;
                self.slot = ko.observable(data);
                self.slot_selected = ko.observable();
                self.frozen = ko.observable(frotime);
            }


            function ContactData(){
                var self = this;
                self.mobile = ko.observable().extend({
                    required: true,
                    pattern: {
                        message: 'Please enter a valid phone number.',
                        params: /^D?(\d{10})$/
                    }
                });
                self.todayText = ko.observable();
                self.tommText = ko.observable();
                self.afterText = ko.observable();

                self.todaySlots = ko.observableArray();
                self.tommSlots = ko.observableArray([
                    new TimeData('10am - 12pm', 'No'),
                    new TimeData('12pm - 2pm', 'No'),
                    new TimeData('2pm - 4pm', 'No'),
                    new TimeData('4pm - 6pm', 'No')
                ]);

                self.afterSlots = ko.observableArray([
                    new TimeData('10am - 12pm', 'No'),
                    new TimeData('12pm - 2pm', 'No'),
                    new TimeData('2pm - 4pm', 'No'),
                    new TimeData('4pm - 6pm', 'No')
                ]);
                self.time_slot_click = function(){
                    console.log('>>>>>>>>>>');
                    if(this.slot_selected() == 'Yes'){
                        this.slot_selected('');
                    }
                    else{
                        this.slot_selected('Yes');
                    }
                };

                self.form_submit = function(){
                    var errors = ko.validation.group([
                        self.mobile
                    ]);
                    if (errors().length > 0){
                        console.log('Errors', errors());
                        errors.showAllMessages();
                    }
                    else{
                        var data = ko.toJSON(self);
                        console.log('=======================DATA=========', data);
                        $.post("/save-call-time/", {'data' : data, 'csrfmiddlewaretoken' : '{{csrf_token}}', 'session_id' : '{{session_id}}' }, function(data){
                            if (data.success){
                                console.log('SUCCESS');
                                $('#before_submit').addClass('hide');
                                $('#after_submit').removeClass('hide');
                            }
                            else{
                                console.log('POST ERROR', data);
                            }
                        }, 'json');
                    }
                };
            }



            $.getJSON("/review/get-mail-data/{{ session_id }}/", function(data) {
                var main_view = ko.mapping.fromJSON(data);

                $.each(main_view.productArray(), function(i, elem){
                    var gb = elem.recommended_cover();
                    elem.recommended_cover(gb);
                    if ((elem.code() == 'P001') || (elem.code() == 'P002')){
                        elem.header_name('Personal Accident Plans');
                    }
                    else if ((elem.code() == 'P003') || (elem.code() == 'P004') || (elem.code() == 'P005') || (elem.code() == 'P007')){
                        elem.header_name('Health Insurance Plans');
                    }
                    else if (elem.code() == 'P011'){
                        elem.header_name('Health Insurance for Parents');
                    }
                    else if (elem.code() == 'P010'){
                        elem.header_name('Critical Illness Plans');
                    }
                    else if (elem.code() == 'P017'){
                        elem.header_name('Term Life Plans');
                    }
                    else {
                        elem.header_name(elem.name());
                    }

                    $.each(elem.marketProductArray(), function(j, item){
                        var gbp =  parseInt(item.premium());
                        item.premium(gbp);
                        var gbc =  parseInt(item.cover());
                        item.cover(gbc);
                    });
                });

                ko.applyBindings(main_view, document.getElementById("loaded_data"));

                var contact_data = new ContactData();

                var dd = new Date();
                var today = new Date();
                var tomorrow = new Date();
                var after = new Date();
                if (dd.getDay() == 7){
                    today.setDate(dd.getDate()+1);
                    tomorrow.setDate(dd.getDate()+2);
                    after.setDate(dd.getDate()+3);
                }
                else if (dd.getDay() == 6){
                    today.getDate();
                    tomorrow.setDate(dd.getDate()+2);
                    after.setDate(dd.getDate()+3);

                }
                else if (dd.getDay() == 5){
                    today.getDate();
                    tomorrow.setDate(dd.getDate()+1);
                    after.setDate(dd.getDate()+3);
                }
                else {
                    today.getDate();
                    tomorrow.setDate(dd.getDate()+1);
                    after.setDate(dd.getDate()+2);

                }
                var today_text = today.toDateString().split(' ')[1] + ' ' + today.toDateString().split(' ')[2] + ', ' + today.toDateString().split(' ')[0];
                var tomm_text = tomorrow.toDateString().split(' ')[1] + ' ' + tomorrow.toDateString().split(' ')[2] + ', ' + tomorrow.toDateString().split(' ')[0];
                var after_text = after.toDateString().split(' ')[1] + ' ' + after.toDateString().split(' ')[2] + ', ' + after.toDateString().split(' ')[0];

                contact_data.todayText(today_text);
                contact_data.tommText(tomm_text);
                contact_data.afterText(after_text);


                var dtime = new Date;
                var ctime = dtime.getHours();
                if(ctime < 10){
                    contact_data.todaySlots([
                        new TimeData('10am - 12pm', 'No'),
                        new TimeData('12pm - 2pm', 'No'),
                        new TimeData('2pm - 4pm', 'No'),
                        new TimeData('4pm - 6pm', 'No')
                    ]);
                }
                else if((ctime >= 10) && ctime < 12){
                    contact_data.todaySlots([
                        new TimeData('10am - 12pm', 'Yes'),
                        new TimeData('12pm - 2pm', 'Yes'),
                        new TimeData('2pm - 4pm', 'No'),
                        new TimeData('4pm - 6pm', 'No')
                    ]);
                }
                else if((ctime >= 12) && ctime < 14){
                    contact_data.todaySlots([
                        new TimeData('10am - 12pm', 'Yes'),
                        new TimeData('12pm - 2pm', 'Yes'),
                        new TimeData('2pm - 4pm', 'Yes'),
                        new TimeData('4pm - 6pm', 'No')
                    ]);
                }
                else {
                    contact_data.todaySlots([
                        new TimeData('10am - 12pm', 'Yes'),
                        new TimeData('12pm - 2pm', 'Yes'),
                        new TimeData('2pm - 4pm', 'Yes'),
                        new TimeData('4pm - 6pm', 'Yes')
                    ]);
                }


                ko.applyBindingsWithValidation(contact_data, document.getElementById("contact_data"));
            });


        });
    </script>
{% endblock footer_compress_js %}
{% block footer_js %}
{% endblock footer_js %}

