<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>*|MC:SUBJECT|*</title>
        <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/common.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/main-style.css" rel="stylesheet">
        <style type="text/css">
            /* Client-specific Styles */
            #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
            body{width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
            body{-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */
            
            /* Reset Styles */
            body{margin:0; padding:0;}
            img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
            table td{border-collapse:collapse;}
            #bodyTable{height:100% !important; margin:0; padding:0; width:100% !important;}
            
            /* Template Styles */
            
            /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: PAGE /\/\/\/\/\/\/\/\/\/\ */

            /**
            * @tab Page
            * @section background color
            * @tip Set the background color for your email. You may want to choose one that matches your company's branding.
            * @theme page
            */
            body, #bodyTable{
                /*@editable*/ background-color:transparent;
            }
            

            /**
            * @tab Page
            * @section heading 1
            * @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
            * @style heading 1
            */
            h1{
                /*@editable*/ color:#3F3A38;
                display:block;
                /*@editable*/ font-family:Georgia;
                /*@editable*/ font-size:40px;
                /*@editable*/ font-weight:normal;
                /*@editable*/ line-height:100%;
                /*@editable*/ letter-spacing:normal;
                margin-top:0;
                margin-right:0;
                margin-bottom:10px;
                margin-left:0;
                /*@editable*/ text-align:left;
            }

            /**
            * @tab Page
            * @section heading 2
            * @tip Set the styling for all second-level headings in your emails.
            * @style heading 2
            */
            h2{
                /*@editable*/ color:#3F3A38;
                display:block;
                /*@editable*/ font-family:Georgia;
                /*@editable*/ font-size:24px;
                /*@editable*/ font-weight:bold;
                /*@editable*/ line-height:100%;
                /*@editable*/ letter-spacing:normal;
                margin-top:0;
                margin-right:0;
                margin-bottom:10px;
                margin-left:0;
                /*@editable*/ text-align:left;
            }

            /**
            * @tab Page
            * @section heading 3
            * @tip Set the styling for all third-level headings in your emails.
            * @style heading 3
            */
            h3{
                /*@editable*/ color:#ED5E29;
                display:block;
                /*@editable*/ font-family:Georgia;
                /*@editable*/ font-size:16px;
                /*@editable*/ font-weight:normal;
                /*@editable*/ line-height:100%;
                /*@editable*/ letter-spacing:normal;
                margin-top:0;
                margin-right:0;
                margin-bottom:10px;
                margin-left:0;
                /*@editable*/ text-align:left;
            }

            /**
            * @tab Page
            * @section heading 4
            * @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
            * @style heading 4
            */
            h4{
                /*@editable*/ color:#3F3A38;
                display:block;
                /*@editable*/ font-family:Georgia;
                /*@editable*/ font-size:12px;
                /*@editable*/ font-weight:bold;
                /*@editable*/ line-height:100%;
                /*@editable*/ letter-spacing:normal;
                margin-top:0;
                margin-right:0;
                margin-bottom:10px;
                margin-left:0;
                /*@editable*/ text-align:left;
            }
            
            /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: PREHEADER /\/\/\/\/\/\/\/\/\/\ */
            
            /**
            * @tab Header
            * @section preheader text
            * @tip Set the styling for your email's preheader text. Choose a size and color that is easy to read.
            */
            .preheaderContent{
                /*@editable*/ color:#505050;
                /*@editable*/ font-family:Helvetica;
                /*@editable*/ font-size:11px;
                /*@editable*/ line-height:125%;
                /*@editable*/ text-align:left;
            }
            
            /**
            * @tab Header
            * @section preheader link
            * @tip Set the styling for your email's preheader links. Choose a color that helps them stand out from your text.
            */
            .preheaderContent a:link, .preheaderContent a:visited, /* Yahoo! Mail Override */ .preheaderContent a .yshortcuts /* Yahoo! Mail Override */{
                /*@editable*/ color:#505050;
                /*@editable*/ font-weight:normal;
                /*@editable*/ text-decoration:underline;
            }

            /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: HEADER /\/\/\/\/\/\/\/\/\/\ */
            
            /**
            * @tab Header
            * @section header style
            * @tip Set the background color and top border for your email's header area.
            * @theme header
            */
            #templateHeader{
                /*@editable*/ background-color:#F8F8F8;
                /*@editable*/ border-top:10px solid #ED5E29;
            }
            
            /**
            * @tab Header
            * @section header text
            * @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
            */
            .headerContent{
                /*@editable*/ color:#505050;
                /*@editable*/ font-family:Helvetica;
                /*@editable*/ font-size:18px;
                /*@editable*/ font-weight:bold;
                /*@editable*/ line-height:100%;
                /*@editable*/ padding-top:20px;
                /*@editable*/ padding-right:40px;
                /*@editable*/ padding-bottom:20px;
                /*@editable*/ padding-left:40px;
                /*@editable*/ text-align:left;
                /*@editable*/ vertical-align:middle;
            }
            
            /**
            * @tab Header
            * @section header link
            * @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
            */
            .headerContent a:link, .headerContent a:visited, /* Yahoo! Mail Override */ .headerContent a .yshortcuts /* Yahoo! Mail Override */{
                /*@editable*/ color:#505050;
                /*@editable*/ font-weight:normal;
                /*@editable*/ text-decoration:underline;
            }
            
            #headerImage{
                height:auto;
                max-width:600px !important;
            }
            
            /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: MAIN BODY /\/\/\/\/\/\/\/\/\/\ */
            
            /**
            * @tab Body
            * @section body style
            * @tip Set the background color for your email's body area.
            */
            #templateBody{
                /*@editable*/ background-color:#F8F8F8;
            }
            
            /**
            * @tab Body
            * @section body text
            * @tip Set the styling for your email's upper main content text. Choose a size and color that is easy to read.
            * @theme main
            */
            .upperBodyContent{
                /*@editable*/ color:#43404D;
                /*@editable*/ font-family:Georgia;
                /*@editable*/ font-size:16px;
                /*@editable*/ line-height:150%;
                /*@editable*/ text-align:left;
            }
            
            /**
            * @tab Body
            * @section upper body link
            * @tip Set the styling for your email's upper main content links. Choose a color that helps them stand out from your text.
            */
            .upperBodyContent a:link, .upperBodyContent a:visited, /* Yahoo! Mail Override */ .upperBodyContent a .yshortcuts /* Yahoo! Mail Override */{
                /*@editable*/ color:#ED5E29;
                /*@editable*/ font-weight:normal;
                /*@editable*/ text-decoration:none;
            }
            
            /**
            * @tab Body
            * @section lower body text
            * @tip Set the styling for your email's lower main content text. Choose a size and color that is easy to read.
            */
            .lowerBodyContent{
                /*@editable*/ color:#43404D;
                /*@editable*/ font-family:Georgia;
                /*@editable*/ font-size:14px;
                /*@editable*/ line-height:125%;
                /*@editable*/ text-align:left;
            }
            
            /**
            * @tab Body
            * @section lower body link
            * @tip Set the styling for your email's lower main content links. Choose a color that helps them stand out from your text.
            */
            .lowerBodyContent a:link, .lowerBodyContent a:visited, /* Yahoo! Mail Override */ .lowerBodyContent a .yshortcuts /* Yahoo! Mail Override */{
                /*@editable*/ color:#ED5E29;
                /*@editable*/ font-weight:normal;
                /*@editable*/ text-decoration:none;
            }
            
            .bodyContent img{
                display:inline;
                height:auto;
            }
            
            /* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: FOOTER /\/\/\/\/\/\/\/\/\/\ */
            
            /**
            * @tab Footer
            * @section footer style
            * @tip Set the background color and borders for your email's footer area.
            * @theme footer
            */
            #templateFooter{
                /*@editable*/ background-color:#F8F8F8;
                /*@editable*/ border-bottom:10px solid #ED5E29;
            }
    
            /**
            * @tab Footer
            * @section footer text
            * @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
            * @theme footer
            */
            .footerContent{
                /*@editable*/ color:#3F3A38;
                /*@editable*/ font-family:Georgia;
                /*@editable*/ font-size:12px;
                /*@editable*/ line-height:150%;
                /*@editable*/ text-align:center;
            }
            
            /**
            * @tab Footer
            * @section footer link
            * @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
            */
            .footerContent a:link, .footerContent a:visited, /* Yahoo! Mail Override */ .footerContent a .yshortcuts /* Yahoo! Mail Override */{
                /*@editable*/ color:#EB4102;
                /*@editable*/ font-weight:normal;
                /*@editable*/ text-decoration:none;
            }
            
            .footerContent img{
                display:inline;
            }
            
            #monkeyRewards img{
                max-width:190px;
            }
        </style>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="width:600px !important">
        <center>
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
                <tr>
                    <td align="center" valign="top" style="padding-bottom:40px;">
                        <!-- // BEGIN CONTAINER -->
                        <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                            <tr>
                                <td align="center" valign="top" style="padding-bottom:20px;">
                                    <!-- // BEGIN PREHEADER -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- // BEGIN HEADER -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                        <tr>
                                            <td align="center" valign="top" style="padding-top:20px; padding-bottom:20px;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td class="headerContent">
                                                            <img src="http://www.coverfox.com{{STATIC_URL}}img/coverfox-logo-big.png" style="max-width:600px;" id="headerImage campaign-icon" mc:label="header_image" mc:edit="header_image" mc:allowdesigner mc:allowtext />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- END HEADER \\ -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- // BEGIN BODY -->
                                    <table border="0" cellpadding="40" cellspacing="0" width="600" id="templateBody">
                                        <tr>
                                            <td align="center" valign="top" style="padding-top:20px; padding-bottom:20px;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" class="upperBodyContent" mc:edit="body_content01">
                                                            <h2>Hi {% if tracker.extra.first_name|length > 1  %}{{ tracker.extra.first_name|capfirst }}{% else %}{{ activity.extra.name }}{% endif %},</h2>
                                                            <br />
                                                            <br />
                                                            Thank you for waiting for insurance recommendations from our experts.
                                                            <br />
                                                            <br />
                                                            We've scanned possible options and handpicked the right products for you.
                                                            <br />
                                                            <br />
                                                            We'd love to get a chance to discuss it in detail.
                                                            <br />
                                                            <br />
                                                            <a href="{% url 'review_expert_recommendation' tracker.session_key %}" class="btn btn-lg btn-red" style="color: #ffffff;">Have a look</a>
                                                            <br />
                                                            <br />
                                                            Cheers,
                                                            <br />
                                                            <br />
                                                            <strong>Rupy,</strong>
                                                            <br />
                                                            Team Coverfox
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- END BODY \\ -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- // BEGIN FOOTER -->
                                    <table border="0" cellpadding="20" cellspacing="0" width="600" id="templateFooter">
                                        <tr>
                                            <td align="center" valign="top" style="padding-right:40px; padding-left:40px;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top" class="footerContent" style="border-top:1px solid #BBBBBB; border-bottom:1px solid #BBBBBB; padding-top:20px; padding-bottom:20px;" mc:edit="footer_social">
                                                            <a href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons&screen_name=coverfox&source=followbutton&variant=2.0">Follow on Twitter</a> | <a href="https://www.facebook.com/Coverfox.Insurance">Friend on Facebook</a>&nbsp;
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- END FOOTER \\ -->
                                </td>
                            </tr>
                        </table>
                        <!-- END CONTAINER \\ -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html
