<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="en" lang="en" class="js">

{% load i18n %}
{#{% load manip_data review_data %}#}
{% load manip_data %}
{% load compress %}

<head>
    <title>{%if meta.title%}{{meta.title}}{%else%} Coverfox | Instant Review{%endif%}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta property="og:site_name" content="Coverfox - Insurance Brokers" />
    <meta property="og:locale" content="en_us" />
    <meta property="og:title" content="Coverfox - Instant Review" />
    <meta property="og:description" content="Your Instant Review by Coverfox Insurance" />
    <meta property="og:image" content="{{STATIC_URL}}lp2/img/coverfox_logo_fb.jpg">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{settings.SITE_URL}}{{meta.canonical}}" />
    <meta name="twitter:title" content="Coverfox - Instant Review">
    <meta name="twitter:description" content="Your Instant Review by Coverfox Insurance">

    <meta name="published_time" content="2014-01-09" />
    <meta name="modified_time" content="{{currenttime|date:'Y-m-d'}}" />
    <meta name="keywords" content="Insurance India, Best Insurance in India, Best Policy" />
    <meta name="description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance." />
    <meta name="publisher" content="Coverfox Insurance" />
    <meta name='robots' content='index, follow' />
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />




    <link href="https://plus.google.com/110481288431304590429/" rel="publisher" />


    {%compress css%}
        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/common.css" type="text/css">
        <link rel="stylesheet" href="{{STATIC_URL}}review/css/results.css" type="text/css">
        <link rel="stylesheet" href="{{STATIC_URL}}review/css/style_experts.css" type="text/css">
    {%endcompress%}

    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico?v2" type="image/x-icon" />

    <script type="text/javascript" src="//use.typekit.net/mfw7pxf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MR4FRN');</script>
    <!-- End Google Tag Manager -->

</head>

<body>
<div style="display: block;" id="loadhider">
    <img class="centered" src="{{STATIC_URL}}review/img/logo_loading.png"/>
    <h2 style="color:#FFFFFF;">Assessing your risks...</h2>
</div>

<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=545910808767230";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US </script>

<header>
    <div id="extra_data_modal" class="modal fade" data-backdrop="static">
        <div class="modal-dialog" style="width: 700px;">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#f0f0f0;border-radius:10px 10px 0 0;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="extra_header">
                        <h2 class="modal-title">Thanks {{ tracker.extra.first_name }}, for taking the time out.</h2>
                        <h3 style="line-height: 1.4em;color:#999999;font-weight:bold;">Just 3 quick questions</h3>
                    </div>
                    <div class="extra_header_success">
                        <h2 class="modal-title">Thank You!</h2>
                    </div>
                </div>
                <div class="modal-body">
                    <!-- FORM DATA HERE -->
                    <div class="extra_form">
                        <form role="form"  class="form extra_data_form" method='post' action='{% url "ajax_review_extra_data" %}'>
                            {% csrf_token %}
                            <legend style="color:#999999;font-size:1em;font-weight:bold;border-bottom:none;">Birth dates of your family members</legend>
                            <input id="session_id" type="hidden" name="session_key" value="{{ tracker.session_key }}">
                            <div class="form-group">
                                <div id="item_bd_spouse">
                                    <strong>Spouse</strong>
                                    {{ form.bd_spouse }}
                                    <a id="rem_id_bd_spouse"  class="rem-btn" href="javascript:void(0);">Remove</a>
                                    <p class="text-error form_errors" id="error_bd_spouse"></p>
                                </div>
                                <div id="item_bd_kid_1">
                                    <strong>Son/Daughter</strong>
                                    {{ form.bd_kid_1 }}
                                    <a id="rem_id_bd_kid_1"  class="rem-btn" href="javascript:void(0);">Remove</a>
                                    <p class="text-error form_errors" id="error_bd_kid_1"></p>
                                </div>
                                <div id="item_bd_kid_2">
                                    <strong>Son/Daughter</strong>
                                    {{ form.bd_kid_2 }}
                                    <a id="rem_id_bd_kid_2"  class="rem-btn" href="javascript:void(0);">Remove</a>
                                    <p class="text-error form_errors" id="error_bd_kid_2"></p>
                                </div>
                                <div id="item_bd_kid_3">
                                    <strong>Son/Daughter</strong>
                                    {{ form.bd_kid_3 }}
                                    <a id="rem_id_bd_kid_3"  class="rem-btn" href="javascript:void(0);">Remove</a>
                                    <p class="text-error form_errors" id="error_bd_kid_3"></p>
                                </div>
                                <div id="item_bd_mom">
                                    <strong>Mom</strong>
                                    {{ form.bd_mom }}
                                    <a id="rem_id_bd_mom" class="rem-btn" href="javascript:void(0);">Remove</a>
                                    <p class="text-error form_errors" id="error_bd_mom"></p>
                                </div>
                                <div id="item_bd_dad">
                                    <strong>Dad</strong>
                                    {{ form.bd_dad }}
                                    <a id="rem_id_bd_dad"  class="rem-btn" href="javascript:void(0);">Remove</a>
                                    <p class="text-error form_errors" id="error_bd_dad"></p>
                                </div>
                                <div class="check-query">
                                    <strong>Do you have health coverage from your employer?</strong>
                                    {{ form.health_coverage }}
                                    <p class="text-error form_errors" id="error_health_coverage"></p>
                                </div>
                                <div class="check-query">
                                    <strong>Do you have a term life insurance?</strong>
                                    {{ form.term_life }}
                                    <p class="text-error form_errors" id="error_term_life"></p>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-lg btn-success">Ok! Send me product recommendations</button>
                        </form>
                    </div>

                    <div class="col-lg-12 extra_form_success">
                        <div id="alert_review_success" class="alert alert-warning" style="text-align:left;">
                            Thanks, {{ tracker.extra.first_name }}!
                            <p>You'll soon get an email with the exact plans that you should look at -
                                that pass all the criteria, offer the right amount of protection and are cost effective. </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--button type="button" class="btn btn-primary">Save changes</button-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- SUBSCRIBER MODAL -->
    <div class="modal fade" id="social_modal" data-backdrop="static">
        <div class="modal-dialog" style="width: 1000px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title" style="line-height: 1.4em;margin-top: 10px;color:#222222;">We hope you found this review useful!</h2>
                </div>
                <div class="modal-body modalrupi">
                    <!--img style="display: block;margin: auto;" src="{{STATIC_URL}}review/img/rupy-review-social.jpg" alt=""-->
                    <!--h2 style="color: #E24F05;font-size: 26px;font-weight: normal;line-height: 1.2em;">Who is important to you?</h2-->
                    <div class="row">
                        <div id="rupy-who-is-important" style="position:absolute;bottom: 0;">
                            <div><img class="hidden-xs hidden-sm" style="width:450px;" src="{{STATIC_URL}}img/who_is_important_to_you.jpg" /></div>
                        </div>
                        <div id="post_invite_success" style="text-align: center;" class="hide">
                            <img width="50%" src="{{STATIC_URL}}img/we_love_you.png" />
                        </div>
                        <div class="col-md-6 col-md-offset-6">
                            <div id="pre_invite_success">
                                <h4 style="font-weight:normal;">We care about the people you care about.</h4>
                                <h4 style="font-weight:normal;">Help the important people in your life manage their Insurance better too.</h4>
                                <!--strong style="color:#999999;">Let 3 friends/family members know about this expert review</strong><br /><br /-->
                                <form id="invite_form" action="{%url 'ajax_invite' %}" method='post'>
                                    {% csrf_token %}
                                    <input type="hidden" name="invited_by_email" value="{{tracker.extra.email}}">
                                    <div class="input-group">
                                        <span class="input-group-addon">@</span>
                                        <input name="email1" type="text" class="form-control" placeholder="Email address of friends / family">
                                    </div>
                                    <p class="text-error form_errors" id="error_email1"></p>
                                    <div class="input-group">
                                        <span class="input-group-addon">@</span>
                                        <input name="email2" type="text" class="form-control" placeholder="Email address of friends / family">
                                    </div>
                                    <p class="text-error form_errors" id="error_email2"></p>
                                    <div class="input-group">
                                        <span class="input-group-addon">@</span>
                                        <input name="email3" type="text" class="form-control" placeholder="Email address of friends / family">
                                    </div>
                                    <p class="text-error form_errors" id="error_email3"></p>
                                    <button type="submit" class="btn btn-red btn-lg">Invite my friends</button>
                                    <br />
                                    <br />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top:0px;background-color: #1F2427;border: 5px solid #FFFFFF;">
                    <p style="color: #FFFFFF;text-align: center;">Let your friends and loved ones know about this free assessment.</p>
                    <div class="share_options">
                        <div class="row">
                            <div class="col-lg-4" style="text-align: center;padding: 5px;">
                                <img class="soc_before" src="{{STATIC_URL}}img/metro_facebook.jpg"  alt="Click to Share" />
                                <div class="soc_after">
                                    <fb:like href="http://www.coverfox.com" width="450"
                                             layout="box_count" show_faces="false" send="false"></fb:like>
                                </div>
                            </div>
                            <div class="col-lg-4" style="text-align: center;padding: 5px;">
                                <img class="soc_before" src="{{STATIC_URL}}img/metro_twitter.jpg"  alt="Click to Tweet" />
                                <div class="soc_after">
                                    <a href="https://twitter.com/share" class="twitter-share-button"
                                       data-url="www.coverfox.com"
                                       data-via="coverfox" data-lang="en"
                                       data-text="Get+Instant+review+of+your+Insurance+at+www.coverfox.com"
                                       data-related="coverfox" data-count="vertical">Tweet</a>
                                </div>
                            </div>
                            <div class="col-lg-4" style="text-align: center;padding: 5px;">
                                <img class="soc_before" src="{{STATIC_URL}}img/metro_linkedin.jpg"  alt="Click to Share" />
                                <div class="soc_after">
                                    <script type="IN/Share" data-counter="top" data-url="http://www.coverfox.com"></script>
                                </div>
                            </div>
                        </div>
                        <div class="soc_after row">
                            <div class="col-lg-4" style="text-align: center;padding: 5px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>


<div class="bg">
    <div id="bg1"></div>
    <div id="bg2"></div>
    <div id="bg3"></div>
    <div id="bg4"></div>
    <div id="bg5"></div>
    <div id="bg6"></div>
    <div id="bg7"></div>
</div>
<div id="wrapper-box">

    <div style="min-width:120px;min-height:120px;" class="bubble-container">
        <div class="bubble">
            <div class="click"><!-- Click me<br>to like --></div>
        </div>
        <div class="bubble-particle"></div>
        <div class="social-box">
        </div>
        <div class="soc-btn">
            <div class="classic-holder">
                <div class="classic-button">x</div>
                <div class="classic">
                    <div class="classic-content">
                        We hope you found this review useful!<br><br>
                        Share this with your friends. Help us help them on their insurance too!
                    </div>
                    <table>
                        <tr>
                            <td>
                                <fb:like href="{{ settings.SITE_URL }}"
                                         width="450" layout="box_count" show_faces="false" send="false">
                                </fb:like>
                            </td>
                            <td>
                                <a href="https://twitter.com/share"
                                   class="twitter-share-button" data-url="{{ settings.SITE_URL }}"
                                   data-via="coverfox" data-lang="en" data-related="coverfox" data-count="vertical">Tweet
                                </a>
                            </td>
                            <td>
                                <script type="IN/Share" data-counter="top"></script>
                            </td>
                        </tr>
                    </table>
                </div><!--/.classic-->
            </div>
        </div>
    </div>
    <img id="scroll-icon" src="{{STATIC_URL}}review/img/down.png"  alt="scroll down">
    <!-- first section -->
    <div id="theme1">
        <div class="container margin-set">
            <a href="/" alt="Back to home">
                <img class="logo-style" src="{{STATIC_URL}}img/coverfox-logo-white.png" alt="coverfox">
            </a>
            <div class="sidebar hidden-sm hidden-xs">
                <div id="sect1">
                    <h1 id="welcome" class="shadow">
                        <div style="font-size:2em;margin-bottom:0.5em;margin-top:0.9em;">Hi!</div>
                        {{ tracker.extra.first_name }}
                    </h1>
                </div>
            </div><!--/.sidebar-->

            <div class="main">
                <h1 id="headline1-xs" class="shadow visible-sm visible-xs">
                    <div style="font-size:2em;margin-bottom:0px;margin-top:0px;line-height:1.2em;">Hi!</div>
                    {{ tracker.extra.first_name }}
                </h1>
                <div id="intro">
                    <div id="title-line2">
                        We've completed your<br> Life and Health Insurance review.<br>
                        Scroll down to see your report.
                        <br>
                        <br>
                        <div style="text-align:left;font-size:0.8em;margin-top:0.5em;">
                            Cheers,<br>
                            Team Coverfox
                        </div>
                    </div>
                    <div id="show-me" class="pointing-block">Scroll down</div>
                </div><!--/# -->
            </div><!--./main-->
        </div><!--/.container-->
    </div>
    <!-- second section -->
    <div id="theme2">
        <div class="container margin-set">

            <div class="sidebar hidden-sm hidden-xs">
                <div id="sect2" class="dsa">
                    <h1 class="shadow">This is what you told us about yourself<span class="arrowmrk">&rarr;</span></h1>
                </div>
            </div><!--/.sidebar-->

            <div class="main">
                <div id="change1"></div><!--/div set for theme changing -->
                <h1 id="headline2-xs" class="shadow visible-sm visible-xs">This is what you told us about yourself</h1>
                <div id="wt-enq">
                    <div id="show-me-after" class="query-showcase">
                        <img src="{{STATIC_URL}}review/img/stamp.png" alt=""><br>
                        You're <span class="color-under">{{activity.extra.age}}</span>,
                        <span class="color-under">{% ifequal activity.extra.marital_status.0 'M' %} married {% else %} single {% endifequal %}</span><br />
                        and live in <span class="color-under">{{ activity.extra.location|getdisplay }}</span>.<br>
                        {% ifequal activity.extra.marital_status.0 'M' %}
                            You have <span class="color-under">{{ activity.extra.children|getdisplay }}</span>.<br>
                        {% endifequal %}
                        {% ifnotequal activity.extra.parents 'NO_PARENTS' %}
                            Your parents are <span class="color-under">{{ activity.extra.parents|getdisplay }}</span>.<br>
                        {% endifnotequal %}
                        Your income is
                        <span class="color-under">
                            {{ activity.extra.annual_income|getdisplay }}
                        </span>
                        and your loan liability is
                        <span class="color-under">
                            {{ activity.extra.loan_status|getdisplay }}
                        </span>.
                    </div>
                </div><!--/# -->
            </div><!--/.main-->
        </div><!--/.container-->
    </div>
    <!-- third section -->
    <div id="theme3">

        <div id="change2"></div><!--/div set for theme changing -->
        <div class="container">

            <div class="hidden-sm hidden-xs">
                <h1 class="shadow">
                    <div class="big">Assessments make sense<br>if they are logical.</div>
                    <!--span class="small">To make this assessment scientific and accurate, this is what we did</span-->
                </h1>
            </div><!--/.hidden-sm hidden-xs -->
            <h1 id="headline3-xs" class="shadow visible-sm visible-xs">
                <div style="line-height:1.2em;">Assessments make sense if they are logical.</div>
                <!--div style="font-size:0.7em;line-height:1.4em;">To make this assessment scientific and accurate, this is what we did</div-->
            </h1>
            <h1 id="lets-risk" style="font-size:2.5em;margin:1em 0 1em;text-align:center;line-height:1.2em;" class="shadow">At {{activity.extra.age}}, these risks could <br> drain your hard earned money</h1>
        </div><!--/.container-->
    </div>
    <!-- fourth section -->
    <div id="theme4">

        <div id="change3"></div><!--/div set for theme changing -->
        <div class="container margin-set" style="margin-bottom:0;">

            <div class="sidebar hidden-sm hidden-xs">
                <div id="sect4" class="dsa">
                    <h2 class="shadow display" >Risks you face</h2>
                    <div class="risk-panel clearfix">
                        <div class="risk-holder" id="#risk_holder">
                            <ul id="risk-list2" class="nav">
                                {% for k,v in risk_dict.items %}
                                    <li><span class="risk-box" id="risk-box_{{ k }}">{{ v.risk }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--/.sidebar-->

            <div class="main" style="margin-bottom:-20%;">
                <div id="my-risks">
                    <div class="top-margin"></div>
                    {% for k,v in risk_dict.items %}
                        <div id="id_{{ k }}">
                            <div class="content-box">
                                <div class="heading-container">
                                    <span>{{ v.risk|upper }}</span>
                                    <div class="risk-icon pos id_{{ k }}_icon"></div>
                                </div>
                                {{ risk_text|lookup:k|safe }}

                                <div id="id_footer_{{k}}"></div>
                            </div>
                        </div><!--/# -->
                    {% endfor %}
                </div>
            </div><!--/.main-->
        </div><!--/.container-->
    </div>
    <!-- fifth section -->
    <div id="theme5">
        <h1 id="lets-handle" style="line-height:1.2em;" class="hidden-sm hidden-xs">{{ tracker.extra.first_name }}, let's tackle each risk<br>It's easy<div>A look at the products which do the job</div></h1>
        <h1 id="lets-handle" class="visible-sm visible-xs">{{ tracker.extra.first_name }}, let's tackle each risk. It's easy<div>A look at the products which do the job</div></h1>
        <div id="change4"></div><!--/div set for theme changing -->
        <div id="get-risk-horizontal"></div><!--/ change vertical list bar to horizontal -->
        <div  style="margin-top:0em;" class="container margin-set">
            <!--table id="list-table" class="table">
                <tbody>
                    <td>
                        <div id="changer" class="">These are the risks we identified</div>
                    </td>
                    <td>
                        <ul id="risk-list" class="line-set">
                            {% for k,v in risk_dict.items %}
                            <li><div class="pointing-block2" id="risk_tag_id_{{ k }}">{{ v.risk }}</div></li>
                            {% endfor %}
                        </ul>
                    </td>
                </tbody>
            </table-->
            <div id="ur-risk-product">
            </div>
        </div><!--/.container-->
    </div>
    <!-- sixth section -->
    <div id="theme6">
        <div id="change5"></div><!--/div set for theme changing -->
        <div class="container margin-set">
            <div class="top-margin2"></div>
            <div class="sidebar hidden-sm hidden-xs">
                <div class="view-holder" style="margin-top:130px;">
                    <div class="view view-tenth">
                        <img class="vi" src="{{STATIC_URL}}review/img/vidya_hariharan_anime.png" alt="Vidya Hariharan" >
                        <h2 class="subline">
                            Vidya Hariharan
                            <div class="sub-text">
                                Data Cruncher<br>
                                <i>'Pie chart this. Pivot that.'</i>
                            </div>
                        </h2>
                        <div class="mask">
                            <h2>
                                Vidya Hariharan
                                <!--div class="sub-text">
                                    Data Cruncher<br>
                                    Product Expert
                                </div-->
                            </h2>
                            <p>10 years with Swiss Re, the largest Reinsurance company in the world.
                                She breathes Insurance, measures everything with gruesome detail, and puts
                                all her math magic into analysing and scoring a product.
                            </p>
                        </div>
                    </div>
                </div><!--/.view-holder-->
                <div class="view-holder">
                    <div class="view view-tenth">

                        <img class="vi" src="{{STATIC_URL}}review/img/v_srinivasan_anime.png" alt="V Srinivasan" >
                        <h2 class="subline" >
                            V. Srinivasan
                            <div class="sub-text">
                                <i>'<span style="text-decoration: line-through">Life</span> Money saver'</i>
                            </div>
                        </h2>

                        <div class="mask">
                            <h2>
                                V. Srinivasan
                                <!--div class="sub-text">
                                    Finance whiz<br>Life saver...uhh money saver
                                </div-->
                            </h2>
                            <p>
                                A chartered accountant you want on your side.
                                Ex-CFO of Bharti Axa Life with 10 years in Life Insurance.
                                <br/>He does the numbers for you, so you don't have to spend an extra dime.
                                Hey, you always need an accountant to save your life!
                            </p>

                        </div>
                    </div>

                </div><!--/.view-holder-->
                <div class="view-holder">
                    <div class="view view-tenth">
                        <img class="vi" src="{{STATIC_URL}}review/img/sheetal_gandhi_anime.png" alt="Sheetal Gandhi" >
                        <h2 class="subline" >
                            Sheetal Gandhi
                            <div class="sub-text">
                                Guru<br>
                                <i>'Keep claim and carry on'</i>
                            </div>
                        </h2>

                        <div class="mask">
                            <h2>
                                Sheetal Gandhi
                                <!--div class="sub-text">
                                    Guru<br>
                                    Insurance wisdom at it's best
                                </div-->
                            </h2>
                            <p>34 years at Oriental Insurance Company. She can smell a good product from a bad one.
                                "What's the trickiest clause? What factors impact claim?", we try our best to
                                confuse her with such questions. But we fall on our faces. Always.
                            </p>
                        </div>
                    </div>

                </div><!--/.view-holder-->
            </div><!--/.sidebar-->

            <div class="main">
                <div id="line" style="font-size:1.2em;margin-top:0px;" >

                    <div class="shadow" style="font-size:3.8em;margin-bottom:0.2em;">Hey...</div>
                    <h3 style="font-weight: bold;color:#ffffff;">
                        Want to know which products out there work best for you?
                    </h3>
                    <p>Our experts can scan all products available, to give you exact recommendations. </p>
                    <p>We would love our recommendations to be 100% spot on. </p>
                    <p>
                        <a id='extra_data_init' href="javascript:void(0);" style="color:#E6AB16;text-decoration:underline;font-weight:bold;">
                            Just click here</a>, to give us a little more information. Not much, we promise!
                        It'll just help us be accurate with our suggestions.
                        And don't worry, we won't push you to buy.
                    </p>


                    <br>
                    <div class="small-xs" style="text-align:left;font-size:0.8em;margin-top:0.5em;">
                        Cheers,<br>
                        Team Coverfox
                    </div>
                </div>
            </div><!--./main-->

            <div class="row hidden-xs hidden-sm" style="text-align: center;">
                <a href="/" class="btn btn-warning btn-lg" style="font-size: 22px;margin-top: 100px;">
                    Alrighty then! My work here is done.<br/>Back to Home we go!</a>
            </div>
        </div><!--/.container-->
    </div>
    <!-- seventh section -->
    <div id="theme7" class="visible-sm visible-xs">
        <div style="border-bottom:1px solid rgba(255,255,255,0.3);">
            <div id="change6"></div>
            <div class="container">
                <div style="float:left;position:relative;width:100%;">
                    <div id="ur-rev-panel">
                        <h1 class="shadow hidden-sm hidden-xs" style="text-align:center;" >Coverfox Experts who are working on your requirements</h1>
                        <h1 id="headline7-xs" class="shadow visible-sm visible-xs" style="text-align:left;" >Coverfox Experts who are working on your requirements</h1>
                        <div class="rev-pl-box">
                            <div class="row">
                                <div class="col-md-4">
                                    <img class="img-set" src="{{STATIC_URL}}review/img/vidya_hariharan_anime.png" alt="">
                                    <h3>Vidya Hariharan</h3>
                                    <p>Data Cruncher. Product Expert.</p>
                                    <p>
                                        10 years with Swiss Re, the largest Reinsurance company in the world.
                                        Breathes Insurance, measures everything with gruesome detail and puts
                                        all maths into analysing and scoring a product.
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <img class="img-set" src="{{STATIC_URL}}review/img/v_srinivasan_anime.png" alt="">
                                    <h3>V Srinivasan</h3>
                                    <p>Finance whiz. Life saver...uhh money saver.</p>
                                    <p>A chartered accountant you want on your side. Ex-CFO of Bharti Axa Life with 10 years in Life Insurance - he does the numbers for you, what you really need. Not a dime extra. Hey, you always need an accountant to save your life!</p>
                                </div>
                                <div class="col-md-4">
                                    <img class="img-set" src="{{STATIC_URL}}review/img/sheetal_gandhi_anime.png" alt="">
                                    <h3>Sheetal Gandhi</h3>

                                    <p>Guru. Insurance wisdom at it's best.<p>
                                    <p>
                                        34 years at Oriental Insurance Company, can smell a good product from a bad one.
                                        What's the trickiest cause? What impacts how much you can claim? We try our best with lots of data, to confuse her. We fall on our face.</p>
                                </div>

                            </div><!--/.row-->
                        </div><!--/.rev-panel-box-->
                    </div><!--/#ur-rev-panel-->
                    <div class="row" style="text-align: center;">
                        <a href="/" class="btn btn-warning btn-lg" style="font-size: 22px;margin-top: 50px;margin-bottom: 50px;">
                            Alrighty then! My work here is done.<br/>Back to Home we go!</a>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!-- /border-bottom -->
    </div><!--/#theme7-->
</div><!--/#wrapper-box-->



<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{%compress js%}
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/respond.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.placeholder.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.form.js"></script>
    <script src="{{STATIC_URL}}js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{{STATIC_URL}}review/js/scrollorama/greensock/TweenMax.js"></script>
    <script src="{{STATIC_URL}}review/js/scrollorama/jquery.lettering-0.6.1.min.js"></script>
    <script src="{{STATIC_URL}}review/js/scrollorama/jquery.superscrollorama.js"></script>
    <script src="{{STATIC_URL}}review/js/scrollorama/pinit.js"></script>
    <script src="{{STATIC_URL}}review/js/underscore.js"></script>
    <script src="{{STATIC_URL}}review/js/scrollorama/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="{{STATIC_URL}}js/globalize.js"></script>
    <script src="{{STATIC_URL}}js/globalize.culture.en-IN.js"></script>
    <script src="{{STATIC_URL}}review/js/jquery.maskedinput.min.js"></script>
{%endcompress%}



<script type="text/javascript">
    var product_structure = JSON.parse('{{ prod_text|safe|escapejs }}');
    Globalize.culture( "en-IN" );
    Globalize.culture( "en-IN" ).numberFormat.currency.symbol = '\u20b9';

    $('.extra_data_form').ajaxForm({
        success : function (data) {
            data = JSON.parse(data);
            if(data.success){
                $('.extra_form').hide();
                $('.extra_header').hide();
                $('.extra_form_success').show();
                $('.extra_header_success').show();
            }else{
                $(".form_errors").html("");
                for(var k in data.errors){
                    $("#error_"+k).html(data.errors[k][0]);
                }
            }
        }
    });

    $("#invite_form").ajaxForm({
        success : function(data){
            data = JSON.parse(data);
            if(data.success){
                $(".form_errors").html("");
                $("#invite_form").html("<h2 style='text-align:center;color:#E24F05;font-weight:bold;'>You are awesome!</h2>");
                $("#rupy-who-is-important").addClass('hide');
                $("#pre_invite_success").addClass('hide');
                $("#post_invite_success").removeClass('hide');
            }else{
                $(".form_errors").html("");
                for(var k in data.errors){
                    $("#error_"+k).html(data.errors[k][0]);
                }
            }
        }
    });
    $(document).ready(function() {
        $("#loadhider").hide();
    });
</script>
<script type="text/javascript">
    var addTweensToModel  = function() {
        {% for k,v in risk_dict.items %}
            controller.addTween("#id_{{k}}",
                    TweenMax.to($("span#risk-box_{{k}}"), 0.1, {
                        css: {},
                        onStart : function(){
                            var t1 = new TimelineMax();
                            t1.to($("span.risk-box"), 0.5, {backgroundColor : 'transparent', color:'#ffffff' });
                        },
                        onComplete : function(){
                            var t1 = new TimelineMax();
                            t1.to($("span#risk-box_{{k}}"), 0.5, {backgroundColor : '#ffffff', color: '#666666' });
                            t1.append([
                                TweenMax.to($("#id_{{k}} .content-box"), 0.1,{css:{'position':'relative'}},20),
                                TweenMax.to($("#id_{{k}} .heading-container"), 0.1,{css:{opacity:1, 'left':'0px'}, ease:Expo.easeOut},20)
                            ]);

                        }
                    }),-250);
            controller.addTween("#id_footer_{{k}}",
                    TweenMax.to($("span#risk-box_{{k}}"), 0.1, {
                        css: {},
                        onReverseComplete : function(){
                            var t1 = new TimelineMax();
                            t1.to($("span.risk-box"), 0.5, {backgroundColor : 'transparent', color:'#ffffff' });
                            t1.to($("span#risk-box_{{k}}"), 0.5, {backgroundColor : '#ffffff', color:'#666666' });
                        },
                    }));
        {%endfor%}
    }
</script>

<script type="text/template" id="feature_template">
    <div id="fproduct_<%= product.meta.id %>" class="risk-pr-box clearfix">
        <div class="sidebar hidden-sm hidden-xs">
            <h1 class="product-block"><%= product.meta.name %>
                <div class="small">The amount of cover you need to have</div>
                <div class="sa-amt">
                    <% if ( (product.meta.sumInsured ) && (product.meta.id == 'id_p009'))  { %>
                    <% sumAss = Globalize.format(product.meta.sumInsured, "c") %>
                    <%= sumAss.split('.')[0] %> per month
                    <% } else { %>
                    <% sumAss = Globalize.format(product.meta.sumInsured, "c") %>
                    <%= sumAss.split('.')[0]%>
                    <% } %>

                    <!--div style="font-size:0.6em;font-weight:normal;"> This is what you need to pay</div-->
                    <!-- Rs.7000 - Rs.9500 -->
                </div>
                <ul class="list-of-risk">

                    <li>Risks Covered:</li>
                    <% _.each(product.meta.risk_names, function(risk_struc){ %>
                    <li>
                        <%= risk_struc[0] %>
                        <div class="risk-icon id_<%= risk_struc[1] %>_icon "></div>
                    </li>
                    <% }); %>
                </ul>
            </h1>
        </div><!--/.sidebar-->
        <div class="main">
            <h1 class="product-block-xs visible-xs visible-sm"><%= product.meta.name %>
                <div class="small" style="font-size:16px;">The amount of cover you need to have</div>
                <div class="sa-amt">
                    <% if ( (product.meta.sumInsured ) && (product.meta.id == 'id_p009'))  { %>
                    <% sumAss = Globalize.format(product.meta.sumInsured, "c") %>
                    <%= sumAss.split('.')[0] %> per month
                    <% } else { %>
                    <% sumAss = Globalize.format(product.meta.sumInsured, "c") %>
                    <%= sumAss.split('.')[0]%>
                    <% } %>
                    <!--div style="font-size:16px;"> This is what you need to pay</div-->
                    <!-- Rs.7000 - Rs.9500 -->
                </div>

                <ul class="list-of-risk">

                    <li>Risks Covered:</li>
                    <% _.each(product.meta.risk_names, function(risk_struc){ %>
                    <li>
                        <%= risk_struc[0] %>
                        <div class="risk-icon id_<%= risk_struc[1] %>_icon "></div>
                    </li>
                    <% }); %>
                </ul>
            </h1>
            <div class="top-adjust">
                <% _.each( product.features, function(feature){ %>
                <% if (feature.description) { %>
                <h3><%= feature.title %></h3>
                <div class="distinct-box"><%= feature.description %></div>
                <% } %>
                <% }); %>
            </div>
        </div><!--/.main-->

    </div><!--/.risk-pr-box-->

</script>

<script type="text/javascript" src="{{STATIC_URL}}review/js/results.js"></script>

</body>
</html>

