{% extends "blog/base_blog.html" %}

{% load i18n %}
{% load manip_data tagging_tags  %}
{% load compress %}

{% block header_css %}
<link rel="stylesheet" href="{{STATIC_URL}}review/css/review.css" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}review/css/component.css" />
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}review/css/default.css" />
<link rel="stylesheet" href="{{STATIC_URL}}review/css/alterstyle.css">
<script type="text/javascript" src="//use.typekit.net/mfw7pxf.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
{% endblock %}
{% block header %}
{% endblock header %}
{%block main%}
<div class="trans-layer {% if tracker.extra.no_show %}hide{% endif %}">
    <div class="well">
        <h3>I don't like to fill up forms, fetch what you need from my Facebook profile</h3>
        <div class="social-wrap a">
            <a href="/login/facebook/?next=/review/start/" style="text-decoration: none;" alt="Sign in with Facebook" >
                <button id="facebook">Start my assessment</button>
            </a>
        </div>
        <hr />
        <h3>Nah, I don't mind filling up a few fields on my own</h3>
        <button id="fader" type="submit" style="font-size:16px;width:100%;max-width:250px;min-width:205px;" class="btn btn-lg btn-red">
            Continue without Facebook
        </button>
    </div>
</div>
<div style="margin-top:20px;text-align:center;" class="container">
    <div class="row">
        <div class="col-md-2">
            <a href="/" alt="Back to Home">
                <img style="width:170px;" src="{{STATIC_URL}}lp2/img/coverfox-logo-big.png" alt="Coverfox">
            </a>
        </div>
        <div class="col-md-10">
            <h1 style="font-size:36px;text-align:center;margin-top: 50px;">
                Instant Insurance Assessment by our Experts
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 hidden-xs hidden-sm">
            <div class="row">
                <!--h1 style="text-transform: uppercase;font-weight: bold;width:295px;margin-left:auto;margin-right:auto;">Our Experts</h1-->
                <div class="border-trick">
                    <div class="view view-tenth">
                        <img class="vi" src="{{STATIC_URL}}review/img/vidya_hariharan_anime.png" alt="Vidya Hariharan" >
                        <h2 class="subline">
                            Vidya Hariharan
                            <div class="sub-text">
                                Data Cruncher<br>
                                <i>'Pie chart this. Pivot that.'</i>
                                <!--Product expert -->
                            </div>
                        </h2>
                        <div class="mask">
                            <h2>
                                Vidya Hariharan
                                <!--div class="sub-text">
                                Data Cruncher<br>
                                Product Expert
                                </div-->
                            </h2>
                            <p>10 years with Swiss Re, the largest Reinsurance company in the world.
                            She breathes Insurance, measures everything with gruesome detail, and puts
                            all her math magic into analysing and scoring a product.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="border-trick">
                    <div class="view view-tenth">

                        <img class="vi" src="{{STATIC_URL}}review/img/v_srinivasan_anime.png" alt="V Srinivasan" >
                        <h2 class="subline" >
                            V. Srinivasan
                            <div class="sub-text">
                                Finance whiz<br>
                                <i>'<span style="text-decoration: line-through">Life</span> Money saver'</i>
                            </div>
                        </h2>
                        <div class="mask">
                            <h2>
                                V. Srinivasan
                                <!--div class="sub-text">
                                Finance whiz<br>Life saver...uhh money saver
                                </div-->
                            </h2>
                            <p>
                            A chartered accountant you want on your side.
                            Ex-CFO of Bharti Axa Life with 10 years in Life Insurance.
                            <br/>He does the numbers for you, so you don't have to spend an extra dime.
                            Hey, you always need an accountant to save your life!
                            </p>

                        </div>
                    </div>
                </div>
                <div class="border-trick">
                    <div class="view view-tenth">
                        <img class="vi" src="{{STATIC_URL}}review/img/sheetal_gandhi_anime.png" alt="Mrs. Sheetal Gandhi" >
                        <h2 class="subline" >
                            Sheetal Gandhi
                            <div class="sub-text">
                                Insurance Guru<br>
                                <i>'Keep claim and carry on'</i>
                                <!-- Insurance wisdom at its best -->
                            </div>
                        </h2>
                        <div class="mask">
                            <h2>
                                Sheetal Gandhi
                                <!--div class="sub-text">
                                Guru<br>
                                Insurance wisdom at it's best
                                </div-->
                            </h2>
                            <p>34 years at Oriental Insurance Company. She can smell a good product from a bad one.
                            "What's the trickiest clause? What factors impact claim?", we try our best to
                            confuse her with such questions. But we fall on our faces. Always.
                            </p>
                        </div>
                    </div>
                </div>

            </div><!--/.row-->
        </div><!--/.col-md-4-->
        <div class="col-md-10">
            <div class="demo-1">

                <div class="clearfix">
                    <form name="form"  method="post" action="/review/start/" id="the_form" class="nl-form">

                        <div class="top-input-fields">
                            <div class="row">
                                <div class="col-md-6">

                                    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;
                                    {{ form.name }}<br>
                                    {% if form.name.errors %}
                                    <span class="error">( {{form.name.errors}} )&nbsp;</span>
                                    {% endif %}

                                </div>
                                <div class="col-md-6">

                                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;
                                    {{ form.email }}<br>
                                    {% if form.email.errors %}
                                    <span class="error">( {{form.email.errors}} )&nbsp;</span>
                                    {% endif %}

                                </div>
                            </div><!--/.row-->
                        </div><!--/.top-input-fields-->
                        I am a {{ form.marital_status }}&nbsp;
                        {% if form.marital_status.errors %}
                        <span class="error">( {{form.marital_status.errors}} )&nbsp;</span>
                        {% endif %}
                        <br>

                        <div class="child-line hide">
                            I have {{ form.children }}&nbsp;.
                            {% if form.children.errors %}
                            <span class="error">( {{form.children.errors}} )</span>
                            {% endif %}
                            <br>
                        </div>
                        My date of birth is
                        {{ form.birth_date }}&nbsp;.
                        {% if form.birth_date.errors %}
                        <br/>
                        <span class="error">{{form.birth_date.errors}}</span>
                        {% endif %}
                        <br>
                        <!-- {{ form.birth_day}} /  {{ form.birth_month}} /  {{ form.birth_year}}&nbsp;
                        {% if form.birth_date.errors %}
                        <span class="error">{{form.birth_date.errors}}</span>
                        {% endif %}.
                        <br-->
                        My parents are {{ form.parents }}&nbsp;
                        {% if form.parents.errors %}
                        <span class="error">( {{form.parents.errors}} )</span>
                        {% endif %}.
                        <br>
                        I am from {{ form.location }}&nbsp;
                        {% if form.location.errors %}
                        <span class="error">( {{form.location.errors}} )</span>
                        {% endif %}
                        <br>
                        My annual income is {{ form.annual_income }}&nbsp;
                        {% if form.annual_income.errors %}
                        <span class="error">( {{form.annual_income.errors}} )&nbsp;</span>
                        {% endif %}
                        <br>

                        and my loan liability is {{ form.loan_status }}&nbsp;
                        {% if form.loan_status.errors %}
                        <span class="error">( {{form.loan_status.errors}} )&nbsp;</span>
                        {% endif %}.
                        <div class="nl-submit-wrap">
                            <button class="nl-submit" type="submit">Get my assessment</button>
                        </div>
                        <div class="nl-overlay"></div>
                    </form>
                </div>
            </div>
        </div><!--/.col-md-8-->
    </div><!--/.row-->
</div><!--/.container-->
{% endblock %}

{% block footer %}
{%endblock%}

{%block footer_js%}
{%compress js%}
    <script src="{{STATIC_URL}}review/js/nlform.js"></script>
    <script src="{{STATIC_URL}}review/js/jquery.maskedinput.min.js"></script>
{%endcompress%}
    <script>
    $(function(){
        $('#fader').click(function(){
            $('.trans-layer').fadeOut('slow');
        });
        var nlform = new NLForm( document.getElementById( 'the_form' ) );
        if ($('#id_marital_status').val() == 'M-1' | $('#id_marital_status').val() == 'M-2') {
        $('.child-line').removeClass('hide');
        }else {
        $('.child-line').addClass('hide');
        }
        $("#id_birth_date").mask("99/99/9999",{placeholder:""});
        if (!$('#id_birth_date').val()) {
        $('#id_birth_date').val('dd/mm/yyyy');
        }
        $('#id_marital_status').change(function(){
        if ($('#id_marital_status').val() == 'M-1' | $('#id_marital_status').val() == 'M-2') {
        $('.child-line').removeClass('hide');
        }else {
        $('.child-line').addClass('hide');
        }
        });
        });
    </script>
{%endblock%}
