/* Color scheme definitions */
/* Color scheme definitions end */
/* hero wrapper css override */
.hero-wrapper #topbar {
  border-bottom: 1px solid #999999;
  margin-bottom: 0px;
}
/* doc banner css */
.doc-banner {
  background-size: 100%;
  background-color: #ddd4d9;
  padding: 20px 0 0;
}
.doc-banner #companies-wrap {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 4px solid rgba(0, 0, 0, 0.2);
  padding: 30px 0px;
  overflow: hidden;
  background: #f5f5f5;
  border-bottom: 1px solid #eaeaea;
}
.doc-banner #companies-wrap ul#company-logos {
  list-style-type: none;
  text-align: left;
  padding: 0;
}
.doc-banner #companies-wrap ul#company-logos li {
  display: inline-block;
  padding: 8px;
  position: relative;
}
.doc-banner #companies-wrap ul#company-logos li img {
  height: 45px;
}
.doc-banner #companies-wrap h2 {
  font-size: 24px;
  font-weight: 700;
  color: #363636;
  margin: 0px -15px 15px;
  padding: 10px;
  text-align: left;
  letter-spacing: 2px;
}
.doc-banner #companies-wrap .companies-box {
  padding: 0px 15px 10px;
  overflow: hidden;
  height: 200px;
}
.doc-banner #companies-wrap .companies-box .highlight {
  color: #ff6127;
}
.doc-banner .form-section {
  margin-bottom: 0px;
}
.doc-banner h1 {
  color: #314451;
  font-weight: 700;
  text-align: center;
  margin: 40px 15px 20px;
  font-size: 45px;
}
.doc-banner .sub-heading {
  color: #C0090D;
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.doc-banner .number-form {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 460px;
  margin: 30px auto;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.doc-banner .number-form .input-group-addon {
  border-color: rgba(0, 0, 0, 0.4);
}
.doc-banner .number-form input {
  border-color: rgba(0, 0, 0, 0.4);
  height: 58px;
  padding: 16px;
}
.doc-banner .number-form .btn-cfox {
  width: 100%;
  display: block;
  text-align: center;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
.doc-banner .number-form .loading-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 50px 12px 9px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 3px;
  z-index: 3;
  text-align: center;
  color: #991919;
  font-size: 20px;
  letter-spacing: 2px;
  display: none;
}
.doc-banner .number-form .loading-box img {
  margin-right: 10px;
}
.doc-banner .number-form .loading-box.reveal {
  display: block;
}
.doc-banner .number-form .error {
  padding: 10px 16px 10px 32px;
  background-color: #ec971f;
  color: #991919;
  position: absolute;
  top: 100%;
  left: 10%;
  min-width: 80%;
  font-weight: bold;
  display: none;
  z-index: 100;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
.doc-banner .number-form .error .glyphicon {
  margin-right: 10px;
  position: absolute;
  left: 8px;
  top: 12px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.doc-banner .number-form .error:before {
  position: absolute;
  top: -20px;
  left: 30px;
  border: 10px solid transparent;
  border-bottom-color: #ec971f;
  content: '';
  display: block;
}
.doc-banner .number-form .error.reveal {
  display: block;
}
.doc-banner .benefit_list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.doc-banner .benefit_list li {
  margin-bottom: 10px;
  font-size: 18px;
  position: relative;
  font-weight: 500;
  background-color: #FFFFFF;
  border: 1px solid #eaeaea;
  padding: 8px 8px 8px 50px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.doc-banner .benefit_list li img {
  width: 30px;
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 2;
}
.doc-banner .family_image {
  position: absolute;
  bottom: 0px;
  width: 480px;
  opacity: 0.9;
}
/* doc-banner hero block css - ends */
/* mobile optimisation */
@media screen and (min-width: 200px) and (max-width: 991px) {
  #companies-wrap ul#company-logos li img {
    height: 38px;
  }
  .doc-banner {
    background-image: none;
  }
  .doc-banner .form-section {
    padding-top: 30px;
  }
  .doc-banner #companies-wrap .companies-box {
    height: auto;
  }
  .doc-banner #companies-wrap h2 {
    font-size: 24px;
  }
  .doc-banner h1 {
    margin-top: 20px;
  }
}
@media screen and (min-width: 991px) and (max-width: 1199px) {
  #companies-wrap ul#company-logos li img {
    height: 45px;
  }
  .doc-banner h1 {
    font-size: 38px;
    margin-top: 20px;
  }
  .doc-banner .sub-heading {
    font-size: 24px;
    padding: 0px 50px;
  }
  .doc-banner .family_image {
    width: 380px;
  }
  .doc-banner .number-form {
    margin-top: 15px;
  }
  #hero-wrapper .doc-banner h1 {
    margin-top: 60px;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  body,
  html {
    min-width: 320px;
  }
  .btn-cfox.orange {
    font-size: 16px;
  }
  .banner-label {
    display: inline-block;
    font-size: 18px;
    left: 0;
    padding: 2px 10px;
  }
  #companies-wrap ul#company-logos li {
    padding: 15px;
  }
  #companies-wrap ul#company-logos li img {
    height: 40px;
  }
}
@media screen and (min-width: 200px) and (max-width: 519px) {
  #companies-wrap ul#company-logos li {
    padding: 5px;
  }
  #companies-wrap ul#company-logos li img {
    height: 30px;
  }
  .doc-banner .form-section {
    padding-top: 20px;
  }
  .doc-banner h1 {
    font-size: 36px;
  }
  .doc-banner .sub-heading {
    font-size: 28px;
    font-weight: 700;
  }
  .doc-banner #companies-wrap {
    min-height: 140px;
  }
  .doc-banner #companies-wrap h2 {
    font-size: 18px;
    line-height: 1.4em;
  }
  .doc-banner #companies-wrap .companies-box {
    height: auto;
  }
}
/* mobile optimisation ends */
