{% load compress %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <link rel="shortcut icon" href="{{STATIC_URL}}lp-health/img/favicon.ico" type="image/x-icon" />

    {% block header %}
    {% endblock %}

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
   <!-- Sentry   -->
    {%if settings.PRODUCTION%}
        <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
        <script>
            Raven.config('https://b73a2dd7e1714ae3aab0e33fd663b391@app.getsentry.com/33123', {
            }).install();
        </script>
    {%endif%}

<script>
  dataLayer = [];
</script>
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MR4FRN');</script>
    <!-- End Google Tag Manager -->

<section class="hero-wrapper">
    <div class="cover"></div>
    <div id="topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="logo">
                        <a href="/">
                            <img src="{{STATIC_URL}}lp-health/insurance/img/cf-white-orange-ds.png" alt="Coverfox Insurance Broking Pvt. Ltd." class="logo">
                        </a>
                        <br/>
                    </div>
                    <div id="irda-auth" class="irda-auth-badge">
                        <span>
                            IRDA Licence:
                            <br>IRDA/ DB 556/ 13
                        </span>
                    </div>
                </div>
                {% block tollfree %}
                    <div class="col-md-6 col-sm-6">
                        <ul id="right-menu-items">
                            <li>
                                Car
                                <a href="javascript:ClickToCall('top_bar')">
                                    {{ settings.CAR_LP_TOLL_FREE }}
                                </a>
                            </li>
                            <li>
                                Health
                                <a href="javascript:ClickToCall('top_bar')">
                                    {{ settings.HEALTH_TOLL_FREE }}
                                </a>
                                <img src="{{STATIC_URL}}lp-health/img/phone.png" alt="Call an Insurance Expert" class="menuimg">
                            </li>
                        </ul>
                    </div>
                {% endblock tollfree %}
            </div>
        </div><!--/.container-->
    </div><!--/#topbar-->
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Compare and Buy Insurance from Top Companies</h1>
            </div>
            <div class="col-sm-9 col-sm-offset-0 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                <div class="form-box">
                    <h4>Online Insurance Quotes</h4>
                    <div class="radio-group">
                        <input name="insurance_type" type="radio" id="ins1" value="car" checked="checked"/>
                        <label for="ins1"><span></span>Car</label>
                        <input name="insurance_type" type="radio" id="ins3" value="bike"/>
                        <label for="ins3"><span></span>Bike</label>
                        <input name="insurance_type" type="radio" id="ins2" value="health"/>
                        <label for="ins2"><span></span>Health</label>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-6 prnone">
                            <label for="name">Name</label>
                            <input type="text" id="full-name" placeholder="Your name"/>
                            <div class="full-name-error">
                                <p style="color: #FF0000;">Hey! Please tell us your name</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="contact-me-num">Mobile number (10 digits)</label>
                            <input type="text" id='contact-me-num' placeholder="Mobile number"/>
                            <div class="contact-me-error">
                                <p style="color: #FF0000;">Please enter a valid 10 digit mobile number</p>
                            </div>
                        </div>
                    </div>
                    <button id="show_quote_btn" class="btn-cfox orange">Get Instant Quotes</button>
                </div>
            </div>
        </div>
    </div>
</section><!--/.hero-wrapper-->
<section class="companies-wrapper">
    <div class="container-fluid">
        <div class="row mnone">
            <ul class="company-logos">
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/star-health-general-insurance.png" alt="Star Health General Insurance - Health Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/apollo-munich-health-insurance.png" alt="Apollo Munich Health Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/religare-general-insurance.png" alt="Religare General Insurance - Health Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/larsen-and-tubro-general-insurance.png" alt="Larsen and Tubro General Insurance - Car Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/bajaj-allianz-general-insurance.png" alt="Bajaj Allianz General Insurance - Health Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/bharti-axa-general-insurance.png" alt="Bharti AXA General Insurance - Four Wheeler Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/iffco-tokio-general-insurance.png" alt="IFFCO TOKIO General Insurance - Health Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/hdfc-ergo-general-insurance.png" alt="HDFC ERGO General Insurance - Health Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/reliance-general-insurance.png" alt="Reliance General Insurance - Health Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/universal-sompo-general-insurance.png" alt="Universal Sompo General Insurance - Two Wheeler Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-health/img/insurer/new-india-general-insurance.png" alt="New India General Insurance - Mediclaim Insurance"></li>
            </ul>
        </div>
    </div><!--/.container-fluid-->
</section>
{% block product-services %}
    <section class="dark-box product-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h1>Car Insurance</h1>
                </div>
                <div class="col-lg-9">
                    <div class="show-case">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{STATIC_URL}}lp-motor/img/fs-support.png" alt=""/>
                                <h4>Dedicated Relationship Manager</h4>
                                A call away to help you with policy paperwork and co-ordination at the time of claims.
                            </div>
                            <div class="col-md-4">
                                <img src="{{STATIC_URL}}lp-motor/img/fs-service.png" alt=""/>
                                <h4>Car Breakdown Services</h4>
                                Because we know how bad a carbreak down is - We give Free Towing and pick-up, Emergency fuel arrangement and on-call technical assistance along with your policy.
                            </div>
                            <div class="col-md-4">
                                <img src="{{STATIC_URL}}lp-motor/img/fs-parts.png" alt=""/>
                                <h4>100% Genuine Car Parts</h4>
                                We make sure that quality is not compromised and service level is maintained in claim settlement for our Car Insurance customers.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button onclick="car_skipForm('premium_calculator')" class="btn-cfox orange btn-next btn-block">Get Instant Quotes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <h1>Mediclaim Insurance</h1>
                </div>
                <div class="col-lg-9">
                    <div class="show-case">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{STATIC_URL}}lp-health/img/icon1.png" alt=""/>
                                <h4>Honest Expert Advice</h4>
                                A call away to help you with paperwork and co-ordination at the time of claims.
                            </div>
                            <div class="col-md-4">
                                <img src="{{STATIC_URL}}lp-health/img/icon2.png" alt=""/>
                                <h4>Free Claims Assistance</h4>
                                Because we know how bad a carbreak down is - We give Free Towing and pick-up, Emergency fuel arrangement and on-call technical assistance.
                            </div>
                            <div class="col-md-4">
                                <img src="{{STATIC_URL}}lp-health/img/icon3.png" alt=""/>
                                <h4>No Spam Calls</h4>
                                We make sure that quality is not compromised and service level is maintained in your claim settlement.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button onclick="health_skipForm('premium_calculator')" class="btn-cfox orange btn-next btn-block">Compare Top Policies</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <h1>Two Wheeler Insurance</h1>
                </div>
                <div class="col-lg-9">
                    <div class="show-case">
                        <div class="row" style="border:none;">
                            <div class="col-md-4">
                                <img src="{{STATIC_URL}}lp-bike/img/fs-support.png" alt=""/>
                                <h4>Dedicated Relationship Manager</h4>
                                A call away to help you with paperwork and co-ordination at the time of claims.
                            </div>
                            <div class="col-md-4">
                                <img src="{{STATIC_URL}}lp-bike/img/fs-claim-settlement.png" alt=""/>
                                <h4>Quickest claim settlement</h4>
                                We understand the impact on your daily life when your Bike is broken, we ensure fastest claim settlement to get your bike running on road as soon as possible.
                            </div>
                            <div class="col-md-4">
                                <img src="{{STATIC_URL}}lp-bike/img/fs-parts.png" alt=""/>
                                <h4>100% Genuine Bike Parts</h4>
                                We make sure that quality is not compromised and service level is maintained in your claim settlement.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button onclick="bike_skipForm('premium_calculator')" class="btn-cfox orange btn-next btn-block">Compare Quotes Online</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock product-services %}


{% block testimonials %}
    <section class="light-box testimonials-section">
        <div class="container">
            <h1>What our Insurance Customers have to say</h1>
            <div class="row">
                <div class="col-sm-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}lp-motor/img/testimonials/t1.jpg" alt=""/>
                        <div class="comment left">
                            <p>
                                Finally an insurance website that didn't spam me 1000 phone calls! Good work guys. I'm a fan! :)
                            </p>
                            <p class="title">- Mrunmayee</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}lp-motor/img/testimonials/t2.jpg" alt=""/>
                        <div class="comment">
                            <p>
                                Thank you, Shweta! Because of you, we could save so much on renewal. Will recommend this site to my friends too.
                            </p>
                            <p class="title">- Mr. and Mrs. Thombre</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="testimonial-item">
                        <img src="{{STATIC_URL}}lp-motor/img/testimonials/t3.jpg" alt=""/>
                        <div class="comment right">
                            <p>
                                This was my first car renewal. Amol was really patient with all my questions. Thanks guys!
                            </p>

                            <p class="title">- Mr. Gagan Deep Singh Kainth</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <!--button onclick="skipForm('premium_calculator')" class="btn-cfox orange btn-next btn-block">Take me to the premium calculator</button-->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block about_us %}
    <section class="dark-box about-us">
        <div class="container">
            <h1 class="section-header">You + Coverfox  = Good Team :)</h1>
            <h4>Why do you need Insurance?</h4>
            <p>
                Health, Food, Shelter, Clothing, Sanitation, Education are our basic needs.
                We spend most our lives securing these for ourselves and our loved ones.
                It's a no brainer to try and make sure that nothing stops us in meeting those needs.
            </p>
            <p>
                That's where Insurance comes in.
            </p>
            <p>
                Most people think that they'll buy insurance when they need it.
                But the thing is, you cannot predict when an accident, a natural calamity, or something unfortunate might happen.
                The uncertainity of it all, is what forms the concept of Insurance.
            </p>
            <p>
                You need insurance when things are going good. Because when they are not, it's already too late.
            </p>
            <h4>Why we started Coverfox?</h4>
            <p>
                We are a group of people who were aware of the need of buying an Insurance policy and tried to do
                so, but put off the decision because of ten pages of jargons we didn’t understand.
                So, we tried to simplify how we could consume all such information about Insurance in just 5 min, in a way
                that everyone could undertand, and help us take an informed decision which really affects our lives.
            </p>
            <h4>How can we help you?</h4>
            <p>
                We surveyed over 1000+ customers and learnt their expectations while buying an Insurance.
                We know it is hard to deliver all, but it is not impossible.
            </p>
            <ul>
                <li>Don’t miss any Terms & Conditions, Clauses while selecting a plan, we help you compare everything</li>
                <li>We won’t bug you unnecessarily, no documents are required</li>
                <li>Don’t waste your time, GET SET & GO with your Instant Insurance policy in just 5 min</li>
                <li>We value your hard-earned money, maximize your savings with customized quotes from the leading insurers</li>
                <li>We understand the pains in filing a claim, our Dedicated Relationship Manager will assist you every step of the way</li>
            </ul>
            {% block call_to_action %}
            {% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include "flatpages:footer_2.html" %}
    <!--section class="footer clearfix">
        <div class="container">
            <div class="row">
                <div class="pull-left">
                    &copy; 2014 Coverfox Insurance Broking Pvt. Ltd. All Rights Reserved
                </div>
                <div class="pull-right">
                    www.coverfox.com
                </div>
            </div>
        </div>
    </section-->
    <script src="{{STATIC_URL}}campaign/js/zepto.js"></script>
    <script src="{{STATIC_URL}}lp/js/cookies.js"></script>
    <script type="text/javascript">
        var CSRF_TOKEN;
        var next_page_url = '/motor/car-insurance/';
        function car_skipForm(label){
            next_page_url = '/motor/car-insurance/';
            window.dataLayer.push({
                'event': 'GAEvent',
                'hitType': 'event',
                'eventCategory': 'MOTOR',
                'eventAction': 'hero_skip_'+ label,
                'eventLabel': '{{ page_id }}',
                'eventValue': 0
            });
            window.location = next_page_url;
            return false;
        }
        function health_skipForm(label){
            next_page_url = '/health-plan/';
            window.dataLayer.push({
                'event': 'GAEvent',
                'hitType': 'event',
                'eventCategory': 'HEALTH',
                'eventAction': 'hero_skip_'+ label,
                'eventLabel': '{{ page_id }}',
                'eventValue': 0
            });
            window.location = next_page_url;
            return false;
        }
        function bike_skipForm(label){
            next_page_url = '/motor/twowheeler-insurance/';
            window.dataLayer.push({
                'event': 'GAEvent',
                'hitType': 'event',
                'eventCategory': 'MOTOR_BIKE',
                'eventAction': 'hero_skip_'+ label,
                'eventLabel': '{{ page_id }}',
                'eventValue': 0
            });
            window.location = next_page_url;
            return false;
        }

        $(document).ready(function(){
            $.get("{%url 'get_token'%}", function(data){
                CSRF_TOKEN = data.csrf;
            }, 'json');
            var lms_campaign = 'MOTOR';
            $('.contact-me-error').hide();
            $('.full-name-error').hide();


            $(document).on('click', '#show_quote_btn', function() {
                var radios = document.getElementsByName('insurance_type');
                var insurance_type_value = '';
                for (var i = 0, length = radios.length; i < length; i++) {
                    if (radios[i].checked) {
                        // do whatever you want with the checked radio
                        insurance_type_value = radios[i].value;
                        // only one radio can be logically checked, don't check the rest
                        break;
                    }
                }
                if (insurance_type_value == 'car'){
                    next_page_url = '/motor/car-insurance/';
                    lms_campaign = 'MOTOR';
                }
                if(insurance_type_value == 'health'){
                    next_page_url = '/health-plan/';
                    lms_campaign = 'HEALTH';
                }
                if(insurance_type_value == 'bike'){
                    next_page_url = '/motor/twowheeler-insurance/';
                    lms_campaign = 'MOTOR-BIKE';
                }
                Cookies.set('lms_campaign', lms_campaign);


                window.dataLayer.push({
                    'event': 'GAEvent',
                    'hitType': 'event',
                    'eventCategory': 'GENERAL',
                    'eventAction': 'insurance_type_' + insurance_type_value,
                    'eventLabel': '{{ page_id }}',
                    'eventValue': 0
                });
                window.dataLayer.push({
                    'event': 'GAEvent',
                    'hitType': 'event',
                    'eventCategory': 'GENERAL',
                    'eventAction': 'hero_form_submit',
                    'eventLabel': '{{ page_id }}',
                    'eventValue': 0
                });

                var context = $(this);
                $('.contact-me-error').hide();
                $('.full-name-error').hide();
                var cnum = $('#contact-me-num').val();
                var fullname = $('#full-name').val();
                var res = null;
                if (fullname){
                    if(cnum){
                        if (cnum.length == 10){
                            res = cnum.match(/[7-9]{1}\d{9}/);
                            if(res){
                                var cmodel =  {
                                    'mobile' : cnum,
                                    'name': fullname,
                                    'campaign': lms_campaign,
                                    'label': '{{ page_id }}',
                                    'triggered_page': window.location.href
                                };
                                Cookies.set('mobileNo', cnum);
                                context.addClass('disabled').text('Just a moment...');
                                $.post("/leads/save-call-time/", {'data' : JSON.stringify(cmodel), 'csrfmiddlewaretoken' : CSRF_TOKEN}, function(data){
                                    if (data.success){
                                        window.dataLayer.push({'gtm_mobile': cnum});
                                        window.dataLayer.push({
                                            'event': 'GAEvent',
                                            'hitType': 'event',
                                            'eventCategory': 'MOTOR',
                                            'eventAction': 'CallScheduled',
                                            'eventLabel': '{{ page_id }}',
                                            'eventValue': 4
                                        });
                                        window.location = next_page_url;
                                    }
                                    else{
                                        console.log('POST ERROR', data);
                                        window.location = next_page_url;
                                    }
                                }, 'json');
                            }
                            else{
                                $('.contact-me-error').show();
                            }
                        }
                        else{
                            $('.contact-me-error').show();
                        }
                    }else{
                        $('.contact-me-error').show();
                    }
                } else{
                    $('.full-name-error').show();
                }
            });
        });
    </script>
{% endblock %}
{% compress css %}
    <link href="{{STATIC_URL}}lp-health/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}global/css/header_footer_2.css" rel="stylesheet">
    <link href="{{STATIC_URL}}lp-health/insurance/css/style.css" rel="stylesheet">
{% endcompress %}
</body>
</html>
