{% extends "core/base_main.html" %}

{%block breadcrumb %}
{%endblock breadcrumb %}
{%block main%}
    <div class="border-box">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <div class="tick-icon">&#10004;</div>
                    <h3>Your proposal form has been saved</h3>
                    <h1>{{ headline|safe }}</h1>
                    <p>
                        {{ message|safe }}
                    </p>
                    <p>
                        {{ subtext|safe }}
                    </p>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div><!--/.container-->
    </div><!--/.border-box-->
{%endblock%}
{%block footer %}
{%endblock footer %}

{%block footer_js_css %}
<style type="text/css">
body {
    background-color:#f5f5f5;
    color:#363636;
    font-size:14px;
}
body,html {
    width: 100%;
    height: 100%;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
.nav-social {
    display:none;
}
#topbar {
    border-bottom:1px solid rgba(0,0,0,0.04);
}
.border-box {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
    text-align: center;
    padding:50px 30px 0px;
    margin-top:-50px;
    height:100%;
    position: relative;
}
.border-box h3 {
    font-size:24px;
}
.border-box h1 {
    font-size:34px;
    font-weight:normal;
    margin-bottom:40px;
}
.border-box .tick-icon {
    color:#ff6127;
    font-size: 65px;
    margin: 10% 0px 0px;
    display: inline-block;
    width:100px;
    height: 100px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 4px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 3px 4px rgba(0,0,0,0.04);
    box-shadow: 0px 3px 4px rgba(0,0,0,0.04);
}

@media only screen and (min-width:200px) and (max-width:767px){
    .border-box  h1 {
        font-size:28px;
    }
    .border-box h3 {
        font-size:22px;
    }
}
</style>
{%endblock footer_js_css %}
