{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coverfox - Fill Buy Form</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="x-rim-auto-match" content="none"/>

{%if settings.CSS_BUILD_DEBUG%}
    <link href="{{STATIC_URL}}health_product/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}health_product/css/medical_screen.css" rel="stylesheet">
    <!--link href="{{STATIC_URL}}health_product/css/proposal_form.css" rel="stylesheet"-->
    <link href="{{STATIC_URL}}health_product/css/new_buy.css" rel="stylesheet">
    <link href="{{STATIC_URL}}health_product/css/jquery.datepick.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/user-logged.css" rel="stylesheet">
{%else%}
    {% compress css %}
    <link href="{{STATIC_URL}}health_product/build/css/main-built.css" rel="stylesheet">
    {% endcompress %}
{%endif%}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--[if IE ]>
      <script type="text/javascript" src="{{STATIC_URL}}js/json2.js"></script>
    <![endif]-->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MR4FRN');</script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
        var TRANSACTION_ID = "{{transaction.transaction_id}}";
        var VERSION_ID = "{{settings.VERSION}}";

        var TPARTY = "{{transaction.third_party}}";

        var sub_category = "{{ transaction.slab.health_product.policy_type }}";
        var product_id = "{{ transaction.slab.health_product.title }}";
        var premium = "{{ transaction.extra.plan_data.premium }}";
        var previous_pincode = "{{transaction.extra.pincode}}";
        {% if transaction.slab.deductible == 0 %}
        var is_topup = false
        {% else %}
        var is_topup = true
        {% endif %}

        if(window.dataLayer) {
            window.dataLayer.push({
                'vizury_category': 'HEALTH',
                'po_sub_category': sub_category,
                'po_name': product_id,
                'po_price': premium
            });
            window.dataLayer.push({
                'event': 'vizury_buy_page'
            });
        }

        var STATIC_MODE = {{ static_mode|yesno:'true,false' }};

        var HEALTH_TOLL_FREE = "{{ settings.HEALTH_TOLL_FREE }}";
        var SITE = "{{ settings.SITE_URL }}";
        var OFFICE_ADDRESS = "{{ settings.OFFICE_ADDRESS }}";
        var CSRF_TOKEN = "{{csrf_token}}";
        var BUY_MODEL = "{{moduleID}}";
        var STAGE_VIEW_MAP = JSON.parse('{{ stage_view_map|safe }}');
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
    </script>
</head>

<body>
<div id="wrapper">
    <header>
        <div class="header-wrapper fixed-top">
            <!--div class="hamburger-menu">
            </div-->
            <div class="logo">
                <a href="/"><img src="{{STATIC_URL}}global/img/logos/cf-white-orange-h71.png" alt="Coverfox.com"></a>
            </div>
            <div class="page-title hidden-xs" >Buy Health Insurance</div>
            <div class="right-item pull-right" >
                <span class="hidden-xs">Call us (Toll Free) for assistance: <strong>{{settings.HEALTH_TOLL_FREE}}</strong></span>
                <span class="visible-xs">
                    <a href="tel:{{settings.HEALTH_TOLL_FREE}}">
                    <strong>{{settings.HEALTH_TOLL_FREE}}</strong>
                    <div>Toll Free</div>
                        </a>
                </span>
            </div>
        </div>
    </header>
</div> <!-- #wrapper -->

<div id="page-wrapper-buy" {% if static_mode %}class="static-form" {% endif %}>
    <div id="page-container" class="ploader pnone mnone">
    </div>
    <div id="medical-container" class="ploader pnone mnone">
    </div>
</div>
<div class="overlay_container">
    <div id="overlay" class="main_overlay" style="background-color: rgb(237, 239, 240); padding: 30px;"></div>
</div>
{%if settings.JS_BUILD_DEBUG%}
<script src="{{STATIC_URL}}health_product/js/lib/require/require.js" data-main="{{STATIC_URL}}health_product/js/insurers/main"></script>
{%else%}
{% compress js %}
<script src="{{STATIC_URL}}health_product/build/js/main-built-buy.js"></script>

{% endcompress %}
{%endif%}

{%if not request.user_agent.is_mobile%}
<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.configure('box.start_hidden', true);
olark.identify('8072-747-10-2682');/*]]>*/</script><noscript><a href="https://www.olark.com/site/8072-747-10-2682/contact" title="Need some help?" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<script> olark.configure('system.group', 'df10e5a5453619cd98c428b32ae8947c'); /*Routes to Health Group*/ </script>
<!-- end olark code -->
{%endif%}

{%if settings.PRODUCTION%}
    <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
    <script>
        Raven.config('https://b73a2dd7e1714ae3aab0e33fd663b391@app.getsentry.com/33123', {
        whitelistUrls: ['coverfox.com']
        }).install();
    </script>
{%endif%}

</body>
</html>
