<section>
    <div id="content">
        <div class="cover-bg"></div>
        <div data-bind="visible: custom_alert_msg.visible" class="alert alert-warning alert-dismissible fade in" style="border-radius:0px;position: relative;z-index: 1;" role="alert">
            <button data-bind="click: custom_alert_msg.close" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button>
            Thank you for scheduling a call with us! Our Health Insurance expert will call you in shortly from <strong>022-61035000</strong>.<br/>
            In the meanwhile, please give us some details so we can give you better recommendations.
        </div>
        <div class="container cover-content">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="form-wrapper">
                        <h1>Buy Health Insurance</h1>
                        <!-- <p class="sub-headline">Let's find a health plan suited to you</p> -->
                        <div class="step cubic-trans reveal" data-bind="css:{reveal: current_stage() == user_info.stage}">
                            <div class="row animated d1">
                                <div class="col-xs-6 pr-6">
                                    <label class="policy-type cf-radio">
                                        <input type="radio" name="product_type" value="INDEMNITY" data-bind="checked: user_info.product_type">
                                        <span></span>New health policy
                                        <p>For those who have not bought a health policy yet</p>
                                    </label>
                                </div>
                                <div class="col-xs-6 pl-6">
                                    <label class="policy-type cf-radio">
                                        <input type="radio" name="product_type" value="SUPER_TOPUP" data-bind="checked: user_info.product_type">
                                        <span></span>Super Top-up
                                        <p>Have an existing policy? Upgrade your cover to Rs. 10 Lacs for as less as Rs. 878!</p>
                                        <a class="know-more" data-bind="click: topup_info.show,clickBubble:false">Know more</a>
                                    </label>
                                    <span class="clearfix"></span>
                                </div>
                            </div>
                            <div class="animated d2">
                                <span class="sm-label" style="display: inline-block;margin-right:15px;">Your Gender</span>
                                <label for="rbMale" class="cf-radio" data-bind="css:{'active':user_info.gender()=='MALE'}">
                                    <input id="rbMale" type="radio" name="gender_type" value="MALE" data-bind="checked: user_info.gender">
                                    <span></span>Male
                                </label>
                                <label for="rbFemale" class="cf-radio" data-bind="css:{'active':user_info.gender()=='FEMALE'}">
                                    <input type="radio" name="gender_type" id="rbFemale" value="FEMALE" data-bind="checked: user_info.gender">
                                    <span></span>Female
                                </label>
                                <div class="error" data-bind="validationElement : user_info.gender">
                                    <span class="error-message" data-bind="validationMessage : user_info.gender"></span>
                                </div>
                            </div>
                            <div class="options animated d2">
                                <div class="sm-label">Buy insurance for</div>
                                <div class="self-options">
                                    <ul data-bind="foreach: user_info.members">
                                        <li data-bind="css:{selected: selected}">
                                            <label data-bind="attr:{for:id}, click: toggleSelect">
                                                <input type="checkbox" data-bind="checked:selected, attr:{id:id}"/>
                                                <span data-bind="text:displayName"></span>
                                            </label>
                                            <span class="age">
                                                <select data-bind = "options:ageList, value: age, optionsValue: 'id', optionsText: 'name', optionsCaption:'Select age', css:{'has-error': !age()}"></select>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="add-kids" data-bind="visible:user_info.getSelectedKids().length <= user_info.max_kids">
                                    <ul>
                                        <li title="Add Son" class="add" data-bind="click:user_info.addKid.bind($data, 'son')"><span>+</span>Son</li>
                                        <li title="Add Daughter" class="add" data-bind="click:user_info.addKid.bind($data, 'daughter')"><span>+</span>Daughter</li>
                                    </ul>
                                </div>
                                <div class="error" data-bind="validationElement: user_info.members">
                                    <span class="error-message" data-bind="validationMessage : user_info.members"></span>
                                </div>
                                <div class="error" data-bind="validationElement : user_info.cumulativeError">
                                    <span class="error-message" data-bind="validationMessage : user_info.cumulativeError"></span>
                                </div>
                            </div>
                            <div class="animated d3" data-bind="visible: user_info.is_topup">
                                <div class="sm-label">What amount are you covered for (sum assured) from existing policy?</div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="cf-special-ip">
                                            <select data-bind="options: user_info.deductible_options, optionsValue: 'id', optionsText: 'name', optionsCaption: 'Select existing sum assured', value: user_info.deductible">
                                            </select>
                                        </div>
                                        <div class="cfalert">
                                            <div class="error" data-bind="validationElement : user_info.deductible">
                                                <span class="error-message" data-bind="validationMessage : user_info.deductible"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row animated d3 input-row">
                                <div class="col-sm-5" data-bind="css : {hide : !user_info.user_pin_required()}">
                                    <label for="selfpin" class="sm-label">Your Pincode</label>
                                    <div class="cf-special-ip">
                                        <input type="text" id="selfpin" maxlength="6" placeholder="Enter Your pincode" data-bind = "textInput: user_info.pincode">
                                    </div>
                                    <div class="cfalert">
                                        <div class="error" data-bind="validationElement : user_info.pincode">
                                            <span class="error-message" data-bind="validationMessage : user_info.pincode"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5" data-bind="css : {hide : !user_info.parents_pin_required()}">
                                    <label for="parentspin"  class="sm-label">Parents' Pincode</label>
                                    <div class="cf-special-ip">
                                        <input type="text" id="parentspin" maxlength="6" placeholder="Enter Parent's pincode" data-bind="textInput: user_info.parents_pincode">
                                    </div>
                                    <div class="cfalert">
                                        <div class="error" data-bind="validationElement : user_info.parents_pincode">
                                            <span class="error-message" data-bind="validationMessage : user_info.parents_pincode"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="animated d3 input-row">
                                <div class="sm-label">Email address (optional)</div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="cf-special-ip">
                                            <input data-bind="value: user_info.email">
                                            </select>
                                        </div>
                                        <div class="cfalert">
                                            <div class="error" data-bind="validationElement : user_info.email">
                                                <span class="error-message" data-bind="validationMessage : user_info.email"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="continue-btn animated d4">
                                <button class="btn-cfox orange btn-next" data-bind="click: next_stage">Continue</button>
                            </div>
                        </div>
                            <div class="step cubic-trans" data-bind="css:{reveal: current_stage() == medical.stage}">
                            <!-- <h4 class="animated d1">Personalize your quotes</h4> -->
                            <div class="animated d2" style="margin: 20px 0px;">
                                Please help us get best and relevant quotes based on your<span data-bind="text: user_info.family_text()"></span> medical history.
                                Are there any diseases that <span data-bind="text: user_info.member_text()"></span> suffer from or have been treated for?
                                <!-- TODO div class="why-need">
                                    <span>Why is this needed?</span>
                                    <div class="exp-tip">
                                        A lot of claims gets rejected every year just becuause the buyer didn't disclosed his/her pre-existing ailments. Declaration might change the premium a bit, it will ensure that you are getting the right insurance and the plan works when its needed the most.
                                    </div>
                                </div-->
                            </div>
                            <div class="animated d2" style="margin-bottom: 20px;">
                                <label for="no-disease" class="cf-radio" data-bind="css:{'active':medical.has_disease()=='no'}">
                                    <input id="no-disease" type="radio" name="has_disease" value="no" data-bind="checked: medical.has_disease">
                                    <span></span>No, there are no diseases to declare
                                </label>
                                <label for="with-disease" class="cf-radio" data-bind="css:{'active':medical.has_disease()=='yes'}">
                                    <input type="radio" name="has_disease" id="with-disease" value="yes" data-bind="checked: medical.has_disease">
                                    <span></span>Yes, I want to declare diseases
                                </label>
                                <div class="error" data-bind="if: medical.valid_disease_selected() == false">
                                    <span class="error-message">
                                        Please select at least one disease to declare.
                                    </span>
                                </div>
                                <div class="error" data-bind="if: medical.quotes_called() == true && medical.has_disease() == ''">
                                    <span class="error-message">
                                        Please select one of the options above
                                    </span>
                                </div>
                            </div>
                            <div data-bind="visible: medical.has_disease() == 'yes'">
                                <div class="animated d3 disease-list" data-bind="foreach: medical.frequent_meds">
                                    <label class="check-box" data-bind="css: {selected: selected}, attr: {for: 'ch_cond_'+id}">
                                            <input type="checkbox" data-bind="checked: selected, attr: {id: 'ch_cond_'+id}" />
                                            <span data-bind="text: medical_condition"></span>
                                    </label>
                                </div>
                                <div class="other-illness">
                                    <div class="multi-select">
                                        <select data-bind="options: medical.rare_meds, optionsValue: 'id', optionsText: 'medical_condition',
                                                           selectedOptions: medical.selected_rare_meds,
                                                           chosen: medical.selected_rare_meds, callback: medical.rare_meds_event"
                                               multiple data-placeholder="Any other medical condition...">
                                        </select>
                                        <!--div class="select-item"><span class="select-item-label">Slipped disc</span><span class="select-item-icon">×</span></div>
                                        <span class="select-arrow"></span>
                                        <span class="select-clear" title="Clear all">×</span-->
                                    </div>
                                </div>
                            </div>
                            <div class="continue-btn animated d4">
                                <button class="btn-cfox orange btn-next" data-bind="click: get_quotes">View Quotes</button>
                                <br/>
                                <a style="display: inline-block;margin-top: 10px;" data-bind="click: prev_stage">&larr; Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal" data-bind="css: {reveal: topup_info.visible}, click: topup_info.hide">
    <div class="modal-dialog" data-bind="click: function(){}, clickBubble: false">
        <div class="modal-content">
           <div class="modal-header">
            <button type="button" class="close" data-bind="click: topup_info.hide"><span>×</span></button>
            <h4 class="modal-title">Health Insurance Upgrade (Super Top-up)</h4>
          </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-5">
                        <h5 style="margin-top: 0px;">It doesn't cost much</h5>
                        Do you already have a health insurance policy/corporate policy for you and your family?
                        If Yes, then you can easily upgrade your existing cover to a higher sum at a very nominal price.
                    </div>
                    <div class="col-sm-7">
                        <iframe width="350" height="198" data-bind="attr: {src: topup_info.topup_video_src}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <table class="table table-striped custom">
                    <tr>
                        <th>Existing Cover (Sum Insured)</th>
                        <th>New Cover</th>
                        <th>Extra Premium (Annual)</th>
                    </tr>
                    <tr>
                        <td>Rs. 5 Lakhs</td>
                        <td>Rs. 10 Lakhs</td>
                        <td>Rs. 878</td>
                    </tr>
                    <tr>
                        <td>Rs. 4 Lakhs</td>
                        <td>Rs. 10 Lakhs</td>
                        <td>Rs. 1,129</td>
                    </tr>
                    <tr>
                        <td>Rs. 3 Lakhs</td>
                        <td>Rs. 10 Lakhs</td>
                        <td>Rs. 1,505</td>
                    </tr>
                    <tr>
                        <td>Rs. 2 Lakhs</td>
                        <td>Rs. 10 Lakhs</td>
                        <td>Rs. 2,257</td>
                    </tr>
                </table>
                <h5>How this works:</h5>
                <p>
                    Let us say that you have a basic health plan for Rs. 3,00,000 from Insurer 1. You can buy a top-up from same insurer or any other insurer, say Insurer 2. In case you need to make a claim and the claim amount is Rs. 4.5 Lakh, then the first 3 Lakh will be paid by insurer 1 and the balance 1.5 Lakh will be paid by Insurer 2.
                </p>
                <h5>Why is a Top-up so cheap:</h5>
                <p>
                    Since the risk for Insurer 2 starts after a certain base amount already covered in your basic plan, these top-ups are much cheaper than buying a base plan of the same amount. You could end up saving up to 50%!
                </p>
                <h5>Who can buy a Top-up:</h5>
                <p>1. If you already have a individual or family health plan</p>
                <p>2. If you have a corporate health policy from your employer that covers you and your family</p>
            </div>
            <div class="modal-footer">
                <a href="/" data-bind="click: topup_info.hide">Close</a>
            </div>
        </div>
    </div>
</div>

<div tabindex="0" class="modal call_back_popup" data-bind="css: {reveal: medical.optimize_popup}, click: medical.hide_popups, event: { keyup: medical.hide_popup_esc }">
    <div class="modal-dialog medium" data-bind="visible: medical.members_med_popup, clickBubble: false, click: function(){}">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click: medical.hide_popups"><span>×</span></button>
            <h4 class="modal-title">HELP US OPTIMISE PLANS FOR YOU</h4>
        </div>
        <div class="modal-content">
            <div class="modal-body">
               <p>PLease list all the members who have the following diseases</p>
               <div class="d-mem" data-bind="foreach: {data: medical.blocker_meds, as: 'med_condition'}">
                    <div data-bind="text: medical_condition"></div>
                    <!-- ko foreach: suffering_members -->
                    <label class="check-box" data-bind="css: {selected: selected}, attr: {for: 'mem_med_'+med_condition.id+'_'+member.id}, click: toggleSelect">
                        <input type="checkbox"  data-bind="checked: selected, attr: {id: 'mem_med_'+med_condition.id+'_'+member.id}"/>
                        <span data-bind="text: member.vperson"></span>
                    </label>
                    <!-- /ko -->
                    <div class="error" data-bind="validationElement : suffering_members">
                        <span class="error-message" data-bind="validationMessage : suffering_members"></span>
                    </div>
                </div>
                <div class="btn-cont">
                    <button class="btn-cfox dark" data-bind="click: medical.optimize_step2">Continue</button>
                    <a data-bind="click: medical.hide_popups">close</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog medium" data-bind="visible: medical.continue_popup, clickBubble: false, click: function(){}">
        <div class="modal-header">
            <button type="button" class="close" data-bind="click: medical.hide_popups"><span>×</span></button>
            <h4 class="modal-title">SLIGHT CHANGE OF PLAN NEEDED</h4>
        </div>
        <div class="modal-content">
            <div class="modal-body">
               <p>We won't be able to find any insurance plans for <span class="dark-font" data-bind="text: medical.invalid_members_verbose"></span>.</p>
               <div style="margin:20px 0px;">
                   <!-- ko if: medical.valid_members().length > 0 -->
                   Suggestion
                   <p style="margin-top: 5px;">You can go ahead with <span class="dark-font"><span data-bind="text: medical.valid_members().length"></span> member(s)</span></p>
                   <button class="btn-cfox orange big-block" data-bind="click: medical.continue_with_valid_members">
                       Continue with <span data-bind="text: medical.valid_members_verbose"></span>
                   </button>
                   <div class="or-sep"></div>
                   <!-- /ko -->
                   <p>Let one of our experts call you and help you with your insurance buying needs</p>
                   <div class="input-group mobile-group">
                       <span class="input-group-addon">+91</span>
                       <input type="text" class="form-control" placeholder="Your mobile number" data-bind="value: contact.mobile">
                       <span class="input-group-addon btn-cfox dark" data-bind="click: contact.submit.bind($data,'medical-conditions')">Call Me</span>
                   </div>
                   <div class="error" data-bind="validationElement : contact.mobile">
                       <span class="error-message" data-bind="validationMessage : contact.mobile"></span>
                   </div>
                   <div class="error" data-bind="visible: contact.submit_error">
                       <span class="success-message">Sorry! There was an error while submitting your call request.</span>
                   </div>
                   <div class="success" data-bind="visible: contact.done">
                       <span class="success-message">Thank you for scheduling a call with us! Our Health Insurance expert will call you shortly.</span>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>

<header xmlns="http://www.w3.org/1999/html" class="hide">
    <div class="loadLine"></div>
    <section id="topbar">
        <div data-bind="visible: custom_alert_msg.visible" class="alert alert-warning alert-dismissible fade in" style="border-radius:0px;" role="alert">
            <button data-bind="click: custom_alert_msg.close" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button>
            Thank you for scheduling a call with us! Our Health Insurance expert will call you in shortly from <strong>022-61035000</strong>.<br/>
            In the meanwhile, please give us some details so we can give you better recommendations.
        </div>
        <div class="topbar-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center ">
                        <div class="logo"><img src="/static/health_product/desktopv2/app/assets/img/logo.png" alt="Coverfox Health"/> <br/> <p class="logo-sub">Health</p></div>
                    </div>
                    <div class="col-md-4">
                        <div class="toll-free">
                            <img src="/static/health_product/desktopv2_steps/app/assets/img/phone_white.png" alt=""/>
                            Toll Free: <span data-bind="text:health_toll_free"></span>
                        </div><!--/.toll-free-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
