{% extends "flatpages:base-2.html" %}
{% block pageheader %}{% endblock pageheader %}

{% block top_header %}
     {% include "flatpages:header_2.html" with logo_white="Yes" %}
{% endblock %}
{% block extended_header %}
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    <link href='//fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
{% endblock extended_header %}

{% block css %}
    <link rel="stylesheet" href="{{STATIC_URL}}vendors/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/about-us.css">
{% endblock css %}
{% block content %}
    <section id="sec-1" class="waypoint section orange full-grown center-table">
        <div class="container center-table-cell">
            <div id="about-intro">A couple of years ago,
                in the very same galaxy we live in,
                not so far away...
            </div>
            <div id="star-intro">
                <button class="starClose">X</button>
                <article class="starwars">
                    <audio preload="auto">
                        <source src="{{STATIC_URL}}bakar/audio/starwars.m4a" type="audio/mp4">
                        <!--source src="http://s.cdpn.io/1202/Star_Wars_original_opening_crawl_1977.ogg" type="audio/ogg" /-->
                        <!--source src="http://s.cdpn.io/1202/Star_Wars_original_opening_crawl_1977.mp3" type="audio/mpeg" /-->
                    </audio>
                    <button id="story-teller" class="start">View the Story of Coverfox <span>▹</span></button>
                    <div id="hover-cover" class="hidden-sm hidden-xs"></div>


                    <div class="animation">

                        <p class="intro">
                            A couple of years ago, in the very same galaxy we live in, not so far away...
                        </p>

                        <section class="titles">
                            <div contenteditable="true" spellcheck="false">
                                <p>It was a period of insurance mis-selling.</p>

                                <p>Phone numbers were mandatory
                                    across all insurance websites.
                                    Insurance Agents called
                                    their customers 20 times a day,
                                    and recited their scripts in the voice of death.</p>

                                <p>A few good men, decided it was time for a change.</p>

                                <p>They created a platform
                                    where it is as easy to compare, buy, and manage
                                    insurance, as it is for Michael Bay to lose a plot.
                                    I mean, seriously… He killed the Transformers franchise - Twice.</p>

                                <p>Thusly, Coverfox.com was formed with a clear goal of making insurance quick and simple.</p>

                                <p>What two guys started from an apartment, has now grown into a 200 people company. We are proud to have gathered some of the best talents from all over India, who share our passion. It’s a young team, with big ideas, and bigger dreams.</p>

                                <p>We will make waves. That much we are sure of. Keep an eye out for us, for our story is just beginning…</p>

                            </div>
                        </section>

                        <p class="logo">
                            Coverfox
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <section id="sec-2" class="waypoint section skyblue full-grown center-table">
    <div class="container center-table-cell">
        <h2>Get Cover. Get Going.</h2>
        <p class="one-liner">
            At Coverfox, we believe buying insurance is not about avoiding risk, it's about outfoxing it. So you can do bigger things in life and get more interesting.
        </p>
    </div>
    </section>
    <section id="sec-3" class="waypoint section base-dark">
        <div class="container">
            <h2>Meet the Founders</h2>
            <div class="dimg-row" style="margin-top:60px;">
                <p><strong>Varun</strong> (MBA, MICA) worked at Tata AIG where he experienced first hand, the problems faced by consumers while buying insurance. He had strong opinions about the sorry state of things, and grand ideas about how to solve them. He didn’t however have the means to implement these opinions.</p>
                <img src="{{ STATIC_URL }}img/sprites/founders-1.png" alt="">
            </div>
            <div class="dimg-row">
                <p><strong>Devendra</strong> (BTech + MTech, IITB) was a poster child for tech geekiness. Lived and breathed code. Dreamt of changing the world with technology, but struggled to find that one great problem that he would be passionate about fixing.</p>
                <img src="{{ STATIC_URL }}img/sprites/founders-2.png" alt="">
            </div>
            <div class="dimg-row">
                <p>They met via a common friend and Varun thought they could help each other. Boy, was he right!</p>
                <img src="{{ STATIC_URL }}img/sprites/founders-3.png" alt="">
            </div>
            <div class="dimg-row">
                <p>Once they were sold on a shared dream, they became inseparable. Like peas in a pod. Like vada to a pav. Like pani to a puri. Like… aherm… you get the drift.</p>
                <img class="rot-3" src="{{ STATIC_URL }}img/sprites/founders-4.png" alt="">
            </div>
            <div class="dimg-row" style="min-height: 150px;">
                <p>They started Coverfox a couple of years later, with hopes to create the most simple to use and transparent platform to buy and manage insurance.</p>
                <img style="top:-40px;" src="{{ STATIC_URL }}img/sprites/founders-5.png" alt="">
            </div>
        </div>
    </section>
    <section id="sec-4" class="waypoint section pink">
        <div class="container">
            <h2>Life @ Coverfox</h2>
            <div id="owl-customNavigation">
                <a class="anchor prev hidden-xs"><img src="{{ STATIC_URL }}img/sprites/arr_left.png" alt="previous"></a>
                <a class="anchor next hidden-xs"><img src="{{ STATIC_URL }}img/sprites/arr_right.png" alt="next"></a>
                <div id="lifeCarousel" class="owl-carousel owl-theme about-theme">
                    <div class="item">
                        <div class="illustration">
                            <p class="lead">When anyone orders food. He orders for four. Not sharing food, is not an option. :)</p>
                            <img src="{{ STATIC_URL }}img/sprites/life_food.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="illustration">
                            <p class="lead">We take having fun very seriously. Thursdays are for Junk food eating competitions, Drinking games, Counter strike and more. Anything to put Friday nights to shame.</p>
                            <img src="{{ STATIC_URL }}img/sprites/life_fun.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="illustration">
                            <p class="lead">Mini Golf, Foot Pool, Basketball, Darts - We have it all in our office. Only catch is, every game ends up being a bizarre bet. Or when something breaks.</p>
                            <img src="{{ STATIC_URL }}img/sprites/life_play.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="illustration">
                            <p class="lead">We take out Saturdays to do <em>Bakarthons</em>. We take up something fun which can be completed in a day, and all get along to do it. Creating a game, a fun quiz, or this ‘About Us’ page. Anything that keeps the creative juices flowing.</p>
                            <img src="{{ STATIC_URL }}img/sprites/life_work.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sec-5" class="waypoint section blue full-grown center-table">
        <div class="container center-table-cell">
            <div class="ltr-row">
                <h2>We Believe</h2>
            </div>
            <div class="ltr-row">
                <div class="row-image">
                    <img src="{{ STATIC_URL }}img/sprites/kite.png" alt="">
                </div>
                <h4>Insurance should be easy</h4>
                <p>We exist because buying insurance is currently confusing and painful. It should be easy to understand what is covered in your policy. It should be easy to compare features and pick the right policy. And it should be really easy to buy a policy online. We are here to make it happen.</p>
            </div>
            <div class="ltr-row">
                <div class="row-image">
                    <img src="{{ STATIC_URL }}img/sprites/bulb.png" alt="">
                </div>
                <h4>We are the smartest way to get Insured</h4>
                <p>We shy away from spam, false promises, pushy sales practices. Instead, we invest in Simplified design, kick-ass technology, and a helpful advisory team. We make buying from Coverfox simpler, faster, and the smartest way to get insured.</p>
            </div>
        </div>
    </section>
    <section id="sec-6" class="waypoint section base-dark full-grown center-table">
        <div class="container center-table-cell">
            <div class="ltr-row">
                <div class="row-image">
                    <img src="{{ STATIC_URL }}img/sprites/cf-mono.png" alt="">
                </div>
                <h4>Give Coverfox a try today!</h4>
                <p>NO SPAM. BEST RATES. EASY AND SECURE. SWIFT ASSISTANCE</p>
            </div>
            <div class="row form-row">
                <div class="col-sm-3" style="max-width:160px;">
                    <label for="">I want to buy</label>
                </div>
                <div class="col-sm-4">
                    <div id="cbInsuranceType" class="select-input">
                        <i class="triangle"></i>
                        <div id="divInsuranceType"><span>Select Insurance type</span></div>
                        <ul style="display: none;">
                            <li><div class="ic-insurance ic-car"></div>Car Insurance</li>
                            <li><div class="ic-insurance ic-bike"></div>Two Wheeler Insurance</li>
                            <li><div class="ic-insurance ic-health"></div>Health Insurance</li>
                            <li><div class="ic-insurance ic-travel"></div>Travel Insurance</li>
                            <!--li><div class="ic-insurance ic-home"></div>Home Insurance</li-->
                        </ul>
                    </div>
                </div>
                <div class="col-sm-5">
                    <button id="btnInsuranceType" class="btn btn--orange btn--large btn--block" disabled="">Get Started</button>
                </div>
            </div>
        </div>
    </section>
    <section class="section grey-2" style="padding:50px 0 70px;">
        <div class="container">
            <h3 class="c-orange">Get in touch</h3>
            {% include "flatpages:get_in_touch_socialcontacts.html" %}
        </div>
    </section>
{% endblock content %}
{% block js %}
    <script src="{{ STATIC_URL }}home/js/utils.js"></script>
    <script src="{{ STATIC_URL }}vendors/waypoints-js/jquery.waypoints.min.js"></script>
    <script src="{{ STATIC_URL }}vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="{{ STATIC_URL }}about/js/index.js"></script>
    <script src="{{ STATIC_URL }}about/js/star-war-animation.js"></script>
{% endblock js %}
