{% extends "flatpages:base.html" %}
{% block extended_header %}
   <meta name='robots' content='noindex, nofollow' />     
{% endblock extended_header %}
{% block pagetitle %}<span class="nav-text-separator"></span> Cancellation and refund policy{% endblock pagetitle %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
<div class="page-header-wrapper container">
    <div class="row">
        <div class="col-md-12 text-left">
            <h1>Cancellation and refund policy</h1>
        </div>
    </div>
</div>
{% endblock pageheader %}
{% block content %}
<section>
    <div class="lp-b1-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Refund Policy</h2>


                    <p>In case of a refund due to an erroneous transaction or cancellation, the premium paid for an insurance product will be refunded via cheque or direct credit as per the policy of the Insurance provider, that you have chosen to buy the product from. </p>

                    <h2>Cancellation Policy</h2>

                    <p>In case of a cancellation, the premium paid for an insurance product will be refunded via cheque or direct credit as per the policy of the Insurance provider, that you have chosen to buy the product from. </p>

                    <p>You do not need to return the copy of the policy documents received by you, in order to cancel the policy.</p>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock content %}


