{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Contact us{% endblock pagetitle %}
{% block css %}
    <style type="text/css">
        .escalation-matrix h5 {
            line-height: 1.6em;
            margin: 30px 0 10px;
        }
        .escalation-matrix > div {
            margin-bottom:5px;
        }
        .contact_wrap_container h3 {
            margin-top: 30px;
        }
        @media screen and (max-width: 767px) {
            .contact_wrap_container p {
                font-size: 16px;
            }
        }
    </style>
{% endblock css %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
    <div class="page-header-wrapper container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
{% endblock pageheader %}
{% block content %}
    <div class="container">
        <div class="contact_wrap_container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Call us - Toll Free:</h3>
                    <p>Health Insurance: <a href="tel:{{ settings.HEALTH_TOLL_FREE }}">{{ settings.HEALTH_TOLL_FREE }}</a></p>
                    <p>Car Insurance: <a href="tel:{{ settings.CAR_TOLL_FREE }}">{{ settings.CAR_TOLL_FREE }}</a></p>
                    <p>Two Wheeler Insurance: <a href="tel:{{ settings.BIKE_TOLL_FREE }}">{{ settings.BIKE_TOLL_FREE }}</a></p>
                    <p>Travel Insurance: <a href="tel:{{ settings.TRAVEL_TOLL_FREE }}">{{ settings.TRAVEL_TOLL_FREE }}</a></p>
                    <p>Any Service Request: <a href="tel:{{ settings.SERVICE_REQUEST_TOLL_FREE }}">{{ settings.SERVICE_REQUEST_TOLL_FREE }}</a></p>
                    <h3>Write to us on:</h3>
                    <p><a href="mailto:help@coverfox.com">help@coverfox.com</a></p>
                </div>
                <div class="col-md-12">
                    <h3>Communication Address:</h3>
                    <p>
                        <strong>Coverfox Insurance Broking Pvt. Ltd.</strong><br/>
                        3rd Floor Krislon House<br/>
                        Opp Marwa House<br/>
                        Off Saki Vihar Road, Andheri (E)<br/>
                        Mumbai, Maharashtra - 400072
                    </p>
                </div>
                <div class="col-md-8 escalation-matrix">
                    <h5>Each one of us at Coverfox strives to help you make informed insurance decisions and to provide the best service at all times. However if we were not able to deliver as per your expectations, or for a dis-satisfactory response or an unresolved query, you can write to us on following email addresses:</h5>
                    <div><strong>Level #1:</strong> <a href="mailto:help@coverfox.com">help@coverfox.com</a></div>
                    <div><strong>Level #2:</strong> Ramitha Binu Mohan - <a href="mailto:ramitha@coverfox.com">ramitha@coverfox.com</a></div>
                    <div><strong>Level #3:</strong> Jack James - <a href="mailto:jack@coverfox.com">jack@coverfox.com</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

