{% extends "home:base_inner.html" %}

{% block top_header %}
    {% include "flatpages:header_2.html" %}
{% endblock %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="left_container bdr_btm_none">
				<div class="bred_menu">
					<ul>
					  <li class="bg_none"><a href="/">Home</a></li>
					  <li>FAQs</li>
					</ul>
				</div>
				<div class="clearfix"></div>
				<h1 class="heading_top">FAQs</h1>
				<!--div class="health_toggle">Health Insurance</div>
				<div class="faq_toggle_show">
				</div-->
				<div class="main_container">
					<div class="col-md-12">
						<div class="row">
							<div class="faq_list">
								<ul>
									<li class="active">
										What does Coverfox do? <br>
										<div class="description_txt">
											We are an insurance broking company, licensed by the IRDA.This gives us the authority to sell insurance policies across all insurance companies in India. <br /><br />
											Through our website <a href="http://www.coverfox.com">www.coverfox.com</a>, we help you find the right insurance policy for you from a choice of plans available in the market.You can research about insurance and which policy should you buy, compare from various plans, shortlist and buy the plans instantly at the click of a button. <br /><br />
											Now insurance buying is as simple and quick as buying plane tickets, books and clothes online.
										</div>
									</li>
									<li class="active">How are we different from other insurance comparison websites?<br />
										<div class="description_txt">
											There are 3 main reasons how we are different from other websites. <br /><br />

											<strong>a) SMART COMPARISON ENGINE</strong>: We’ve developed a smart comparison engine that uses business inputs from our insurance experts with years of experience in the industry and algorithms designed by our technology experts. When you put in your details, it processes that information and shows you the shortlisted and recommended plans best for you in terms of both price as well as features.<br /><br />

											<strong>b) KNOWLEDGEABLE SUPPORT TEAM</strong>: We’ve built a team of experienced, knowledgeable and friendly people. Our team is equipped and motivated to help you solve all your queries and issues. Have trouble with claims? Need to understand your policy features. Looking for help on your paperwork? Your dedicated relationship manager is always there for you. Since we have a broking license, in the rare chance that the need should arise, we can also help to resolve disputes.<br /><br />

											<strong>c) EASY POLICY MANAGEMENT</strong>: <br />
											Do you need a tax certificate? Can't trace your policy copy? Need to change your contact details? Login and find everything you need. Or simply call your relationship manager

										</div>
									</li>
									<li class="active">How do we make money?<br />
										<div class="description_txt">
											We make money through a fixed commission that the insurance company pays us when you buy a policy through us. Like all industries, we get a standard commission from all the companies we work with. This helps us remain unbiased in our choice and get the best plan for you. We strongly believe that it make good business sense if we root for our customers, remain transparent, clean and unbiased.
										</div>
									</li>
									<li class="active">What kind of insurance can I buy from Coverfox?<br />
										<div class="description_txt">
											Currently you can buy all general insurance products. This includes motor insurance, health insurance, home insurance and travel insurance. In the near future, you would also be able to buy life insurance from us.

										</div>
									</li>
									<li class="active">How long does it take to buy insurance on Coverfox?<br />
										<div class="description_txt">
											Once you input your details, it takes you less than 5 minutes to buy your policy. In case of any issues, our support team is available on call or chat to assist you.
										</div>
									</li>
									<li class="active">How can I pay for the policy I buy?<br />
										<div class="description_txt">
											You can pay online through credit card, debit card or net-banking. If this doesn’t work, you can also send us a cheque. You will need to get in touch with our support team for cheque payments.
										</div>
									</li>
									<li class="active">I need to understand features on the policy I wish to buy. Who can I talk to?<br />
										<div class="description_txt">
											At Coverfox, we have worked hard to ensure you understand all the features of the plan while shortlisting on the website itself.  If you still need help, our support team is available to chat with you on the website. Alternatively, if you want to talk to someone, feel free to call us on {{ settings.GENERAL_TOLL_FREE }}

										</div>
									</li>
									<li class="active">How secure is the transaction while buying insurance online?<br />
										<div class="description_txt">
											Your transaction is completely secure with us. We work with the best payment gateway available in the country. Not only that, we also strive to ensure your information is completely safe and private.
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock content %}
