{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Coverfox Gold{% endblock pagetitle %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
	<div class="page-header-wrapper container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>Introducing <strong style="color: rgb(255, 203, 0);">Coverfox Gold</strong></h1>
				<p>A subscription fee based premium service that provides additional layer of assured service quality and guarantee over and above our standard service/processes.</p>
			</div>
		</div>
	</div>
{% endblock pageheader %}
{% block css %}
<link rel="stylesheet" href="{{STATIC_URL}}flatpages/css/gold/style.css">

{% endblock css %}

{% block js %}
<script src="{{STATIC_URL}}flatpages/js/zepto.js"></script>
<script src="{{STATIC_URL}}flatpages/js/gold/system.js"></script>
{% endblock js %}

{% block content %}

	<div class="goldform">
		<div class="container">
			<div class="row reveal input-form">
				<div class="col-md-3">
					<input type="text" id="name" placeholder="Enter your name">
					<div class="error" id="name-error">Please enter your name</div>
					{% csrf_token %}
				</div>
				<div class="col-md-3">
					<input type="text" id="email" placeholder="Enter your Email id">
					<div class="error" id="email-error">Please enter a valid email</div>
				</div>
				<div class="col-md-3">
					<input type="text" id="phone" placeholder="Enter 10 digit mobile number" maxlength=10>
					<div class="error" id="phone-error">Please enter a 10 digit phone number</div>
				</div>
				<div class="col-md-3">
					<a href="#" class="btn blue btn-submit" >Get Started</a>
				</div>
			</div>
			<div class="row reveal input-form-success">
				Thanks! We will get back to you soon!
			</div>
		</div>
	</div>
	<div class="container main-content">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<p>More and more consumers are looking at concrete service guarantees beyond oft repeated but rarely delivered, assurances and promises made before the sale. Introducing <strong>Coverfox Gold</strong> which is a subscription fee based premium service that provides additional layer of assured service quality and guarantee over and above our standard service/processes. </p>
				<h2 class="section-title">Here are the services provided currently with the <strong>Coverfox Gold account</strong>. New services would keep getting added here, making the experience more than delightful. </h2>
				<div class="col-md-12 sub-well">
					<h3>Services from Senior Support Managers</h3>
					<p>With Coverfox Gold account you have access to our most experienced service managers for any kind of services that you may need including claims assistance, or unbiased reviews on new Insurance plans that you may want to enrol into. </p>
				</div>
				<div class="col-md-12 sub-well">
					<h3>Service Level Agreements</h3>
					<p>As a Coverfox Gold member, you would be eligible for the following Guaranteed Service Levels. What’s more, in the event we fail in delivering our commitments we will pay the following penalties detailed below</p>
					<div class="col-md-12 pnone">
						<div id="compare_container_main">
							<div class="compare_container_nw">
								<div class="col-md-1 col-xs-1">#</div>
								<div class="col-md-4 col-xs-3"><b>Service</b></div>
								<div class="col-md-4 col-xs-4"><b>Guarantee</b></div>
								<div class="col-md-3 col-xs-3"><b>Failure Penalty</b></div>
								<div class="clearfix"></div>
							</div>
							<div class="compare_container_nw">
								<div class="col-md-1 col-xs-1">1</div>
								<div class="col-md-4 col-xs-3">Emails requests response</div>
								<div class="col-md-4 col-xs-4">Email response in 8 working hours.</div>
								<div class="col-md-3 col-xs-3">Rs. 500 per delay.</div>
								<div class="clearfix"></div>
							</div>
							<div class="compare_container_nw">
								<div class="col-md-1 col-xs-1">2</div>
								<div class="col-md-4 col-xs-3">Cashless Claim Escalation or Coordination response</div>
								<div class="col-md-4 col-xs-4">Intervention and Response on Escalation within 2 working hours</div>
								<div class="col-md-3 col-xs-3">Rs. 1000 per delay.</div>
								<div class="clearfix"></div>
							</div>
							<div class="compare_container_nw">
								<div class="col-md-1 col-xs-1">3</div>
								<div class="col-md-4 col-xs-3">Reimbursement Claims Escalation response</div>
								<div class="col-md-4 col-xs-4">Intervention and Response on Escalation within 8 working hours</div>
								<div class="col-md-3 col-xs-3">Rs. 1000 per delay.</div>
								<div class="clearfix"></div>
							</div>
							<div class="compare_container_nw">
								<div class="col-md-1 col-xs-1">4</div>
								<div class="col-md-4 col-xs-3">Renewal Reminders</div>
								<div class="col-md-4 col-xs-4">30 Days before expiry of the policy</div>
								<div class="col-md-3 col-xs-3">Rs. 500 per delay.</div>
								<div class="clearfix"></div>
							</div>
							<div class="compare_container_nw">
								<div class="col-md-1 col-xs-1">5</div>
								<div class="col-md-4 col-xs-3">Cashless Claim Settlement by Insurer*</div>
								<div class="col-md-4 col-xs-4">6 working hours</div>
								<div class="col-md-3 col-xs-3">Rs. 1000</div>
								<div class="clearfix"></div>
							</div>
							<div class="compare_container_nw">
								<div class="col-md-1 col-xs-1 ">6</div>
								<div class="col-md-4 col-xs-3">Reimbursement Claim Settlement by Insurer*</div>
								<div class="col-md-4 col-xs-4">21 working days</div>
								<div class="col-md-3 col-xs-3">Rs. 1000</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 tnc">
					<h2 class="section-title" >The Guarantees are further detailed below with terms and conditions</h2>
					<h3>Email Requests:</h3>
					<p>General requests over email for instance for request for policy document, endorsement of policy document, duplicate policy statement, tax certificate, cashless card</p>
					<h3>Cashless Claims Support:</h3>
					<p>If a CFP Customer has raised a cashless claim request through a hospital, He can request for coordination from his/her Coverfox DSM. He can also raise an escalation when he is dissatisfied by the overall experience with the Coverfox DSM over email. Coverfox guarantees intervention and response within the stipulated time duration of receipt of the email. The time is measured from the minute when the request ticket is received by our system and a ticket number issued to you.</p>
					<h3>Reimbursement Claims Support:</h3>
					<p>If a CFP customer has submitted a Reimbursement Claim, he can request for escalation in case of delay in settlement (more than 15 working days) of the claim with his DSM over email. Coverfox guarantees intervention and response within stipulated time duration of receipt of the email.</p>
					<h3>Cashless Claim Settlement by Insurer:</h3>
					<p>If a CFP Customer has raised a cashless claim request through a hospital for a Recommended Insurer, Coverfox guarantees settlement of the claim in stipulated time duration, failing which Coverfox will pay the requisite penalty, as detailed in the service level chart.</p>
					<h3>Reimbursement Claim Settlement by Insurer:</h3>
					<p>Coverfox guarantees reimbursement claims are settled (approved/rejected) in the stipulated time duration, failing which Coverfox will pay the requisite penalty, as detailed in the service level chart.</p>
					<h3>Working Hours</h3>
					<p>Coverfox DSM works from Monday to Friday, 10.00 AM to 07.00 PM.</p>
					<p>Coverfox DSM will carry mobile phones to ensure they are available for claims related support requests even beyond office hours. However, the support provided beyond office hours would not form part of the Guarantee above.</p>
					<h3>Penalty payments:</h3>
					<p>Penalties described above would be paid in the form of cash directly credited to your bank account within 45 days of submission of your claim.</p>
					<h3>Customer’s Obligation:</h3>
					<p>You, as a customer will reasonably cooperate with Coverfox to ensure they supply the services committed with you.</p>
					<h3>Period of Validity:</h3>
					<p>These services would be provided for 2 years and renewable every 2 years.</p>
					<h3>Recommended Insurer’s Services:</h3>
					<p>Coverfox will list of Recommended Insurer’s who have signed an SLA with Coverfox for its customers. The Cashless and Reimbursement settlement guarantee would be available only with these Insurers. While, we would continue working with the remaining insurers for signing up them on an SLA and ensure the claims are settled on time, there is no service guarantee available for these set of Insurers.</p>
					<h3>Unforeseeable circumstances:</h3>
					<p>Coverfox shall in any circumstances whatsoever be liable to the other party for any delay or failure to fulfill its obligations under this Agreement where any such delay or failure is caused in whole or in part by any Act of Terrorism, Biological or Chemical Contamination, Nuclear Risks, or to the extent that any such delay or failure arises from any other cause beyond its control, including, without limitation, fire, floods, acts of God, acts or regulations of any governmental or supranational authority, war, riots.</p>
					<h3>Service Charges:</h3>
					<p>You will have to pay the applicable service charges in advance, in additional to completing registration, to avail this service.</p>
					<h3>Limit of Liability:</h3>
					<p>Coverfox limits its liability for SLA penalties to 3 times the brokerage earned on the policy in question. For instance, if the premium paid by the Customer is Rs. 10000, and Coverfox has earned Rs. 2000 as brokerage on the policy, the maximum penalty payable under this policy would be Rs. 6000/-</p>
				</div>
			</div>

		</div>
	</div>
    {% endblock content %}
