{% extends "flatpages:base.html" %}
{% block css %}
  <link href="{{STATIC_URL}}flatpages/css/style-new-lp.css" rel="stylesheet">
{% endblock css %}
{% block pageheader %}
	{% include "flatpages:breadcrumbs.html" %}	
{% endblock pageheader %}

{% block content %}
<section class="design_top_container">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Why Health Insurance? </h1>
				<p>Learn the reasons why you should push that long procrastinated task of your “to do” list.</p>
				<ul>
					<li><span></span>Rising Hospital Bills</li>
					<li><span></span>Unhealthy Lifestyle</li>
					<li><span></span>Company Health Insurance Might Not be Sufficient</li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="op_container clearfix">
				<div class="col-md-3 col-sm-3">
					<input type="text" placeholder="Name" name="name" id="contact-me-name1">
					<div class="contact-me-error" id="name-error1" hidden><p class="error">Enter a valid name</p></div>
				</div>
				<div class="col-md-3 col-sm-3">
					<input type="text" placeholder="Email" name="email" id="contact-me-email1">
					<div class="contact-me-error" id="email-error1" hidden><p class="error">Enter a valid email</p></div>
				</div>
				<div class="col-md-3 col-sm-3">
					<input type="text" placeholder="Mobile no" name="phone" id="contact-me-num1">
					<div class="contact-me-error" id="num-error1" hidden><p class="error">Enter a valid mobile number</p></div>
				</div>
				<div class="col-md-3 col-sm-3">
					<button id="show-quote-btn1" >Get Quick Quotes</button>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="logo_section_list">
	<div class="container">
		<div class="row">
			<div class="logo_list clearfix">
				<div class="logo_container">
					<img src="{{STATIC_URL}}lp-health/img/insurer/larsen-and-tubro-general-insurance.png" class="img-responsive">
				</div>
				<div class="logo_container">
					<img src="{{STATIC_URL}}lp-health/img/insurer/iffco-tokio-general-insurance.png" class="img-responsive">
				</div>
				<div class="logo_container">
					<img src="{{STATIC_URL}}lp-health/img/insurer/bajaj-allianz-general-insurance.png" class="img-responsive">
				</div>
				<div class="logo_container">
					<img src="{{STATIC_URL}}lp-health/img/insurer/religare-general-insurance.png" class="img-responsive">
				</div>
				<div class="logo_container">
					<img src="{{STATIC_URL}}lp-health/img/insurer/reliance-general-insurance.png" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="online_container">
	<div class="container">
		<div class="clearfix">
			<h2>Why Health Insurance? (Excuses for not buying Health Insurance)</h2>
			<p>
                You need to just look around, talk to a few people, and you will realize there are enough horror stories
                around how one major hospitalization has eaten up an entire family's lifelong savings.
                Surgeries like organ transplantation or replacement, treatment for cancer, paralysis, comatose
                have wiped out savings of the smartest punters and investors in the market.
            </p>
			<div class="btn_container">
				<a href="/health-plan/">Know how you can secure your health</a>
			</div>
			<p>Here are the 3 key reasons why you should push that long procrastinated task of your “to do” list. </p>
		</div>
		<div class="para_tab">
			<div class="col-md-8 col-sm-8 pnone">
				<div class="tab_container clearfix">
					<div class="col-md-2 col-sm-2 pnone">
						<img src="{{STATIC_URL}}flatpages/img/tab-icon.png" class="img-responsive">
					</div>
					<div class="col-md-10 col-sm-10">
						<h4>Rising Hospital Bills: </h4>
						<p>
                            At the back of your mind, we all know healthcare is becoming more and more expensive.
                            At an estimated
                            <a href="/articles/health-insurance/inflation-and-health-insurance-top-up-plans/">healthcare inflation</a>
                            of 12%, a single hospitalization bill will average at Rs. 15 Lakhs by the time you cross 50.
                        </p>
					</div>
				</div>
				<div class="tab_container clearfix">
					<div class="col-md-2 col-sm-2 pnone">
						<img src="{{STATIC_URL}}flatpages/img/tab-icon1.png" class="img-responsive">
					</div>
					<div class="col-md-10 col-sm-10">
						<h4>Unhealthy Lifestyle:</h4>
						<p>
                            In the world of extreme convenience where everything from grocery to furniture to gadgets
                            are door delivered, physical activity has hit a new low. High level of workplace stress,
                            unhealthy eating habits, lack of exercise make the health related risk even bigger.
                            While following a healthier lifestyle will avoid major hospitalizations, we live in a
                            world where getting hospitalized is a larger more probable risk than ever before.
                        </p>
					</div>
				</div>
				<div class="tab_container clearfix">
					<div class="col-md-2 col-sm-2 pnone">
						<img src="{{STATIC_URL}}flatpages/img/tab-icon2.png" class="img-responsive">
					</div>
					<div class="col-md-10 col-sm-10">
						<h4>Depending on Company Health Insurance is becoming difficult</h4>
						<p>
                            Health Insurance is as personal as buying your own house. You must buy one even if your
                            employer provides you such a benefit. You never know when you will need one.
                            You may switch jobs, join a hot startup, or worse your employer may clamp the
                            coverage due to increased health insurance premiums.
                        </p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="img_bg">
					<img src="{{STATIC_URL}}flatpages/health/img/medical-health.jpg" alt="medical health" class="img-responsive">
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="btn_container">
				<a href="/health-plan/">Triple your company mediclaim now @ 1505 only</a>
			</div>
		</div>
	</div>
</section>
<section class="covered_container_section">
	<div class="container">
		<h2>What is Health Insurance? (What is covered, not covered?)</h2>
		<P>
            Health Insurance, also called
            <a href="/health-insurance/">Medical Insurance</a> or <a href="/health-insurance/mediclaim-policy/">Mediclaim</a>
            is an insurance plan that provides comprehensive coverage over lifelong hospitalization and allied
            expenses. It is the smartest way to protect your savings/investments from getting wiped out by a large
            hospital bill.
        </P>
		<div class="list_container">
			<h4>What is covered?</h4>
			<p>Health Insurance practically covers all expenses related to hospitalization for accidents as well as sickness.</p>
			<ul>
				<li>Hospitalization expenses – Room Charges, Doctor visits, </li>
				<li>Surgery Expenses – Surgeon fees, Anesthetist fees, Operation theatre, Equipment costs etc.</li>
				<li>Pre-hospitalization expenses – Medical expenses incurred on doctor consultations, medicines and pathology tests before hospitalization.</li>
				<li>Post-hospitalization expenses – Medical expenses post discharge like medicines, pathology tests, physiotherapy, doctor consultations etc.</li>
				<li>Organ Donor – Expenses incurred on surgery of the organ donor for the purpose of organ donation.</li>
			</ul>
		</div>
		<div class="btn_container">
				<a href="/health-plan/">Checkout lowest health insurance prices</a>
		</div>
		<div class="list_container">
			<h4>What is not covered?</h4>
			<p>
                The lifelong coverage for healthcare expenses provided by <a href="/health-insurance/plans/">Health
                Insurance plans in India</a> initially grows gradually before it become a full cover.
            </p>
		</div>
		<div class="list_container">
			<h4>Time Bound Exclusions</h4>
			<p>Here are some time bound exclusions you must be aware of: </p>
			<ul>
				<li>
                    30 day waiting period: In these first 30 days of the policy, only accidental hospitalizations
                    are covered.
                </li>
				<li>
                    Waiting period for existing diseases: Most health insurance plans start covering existing diseases
                    only from the 5th year of renewal.
                </li>
				<li>
                    Waiting period for specified ailments:  Certain ailments like Hernia, Stones, Tonsils, Cataract,
                    joint replacement etc. are excluded for a specified period of time, depending on Insurer to
                    Insurer. Generally the waiting period is 2 years.
                </li>
			</ul>
		</div>
		<div class="list_container">
			<h4>Permanent Exclusions</h4>
			<p>
                Apart from the above time bound exclusions, there are some out of scope -permanently excluded items such as:
            </p>
			<ul>
				<li>Maternity/Pregnancy expenses – unless specifically covered. </li>
				<li>Cosmetic treatment expenses. </li>
				<li>Hospitalization due to participation in hazardous/adventure sports.</li>
			</ul>
		</div>
		<div class="btn_container">
				<a href="/health-plan/">Get an expert to call me now! </a>
		</div>
	</div>
</section>
<section class="lp_intro_container">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
					<img src="{{STATIC_URL}}flatpages/health/img/type-health.jpg" alt="Types of Health Insurance" class="img-responsive">
			</div>
			<div class="col-md-6 col-sm-6">
				<h2>Types of Health Insurance Plans</h2>
					<div class="list_container">
						<ul>
							<li>
                                <b>Hospitalization Insurance</b> aka Mediclaim, Health Insurance,
                                Medical Insurance covers lifelong hospitalization expenses.
                            </li>
							<li>
                                <b>Top-up Health Insurance</b> are health insurance plans that provide a top-up coverage
                                over and above your existing health insurance plan. For instance, if you have an
                                existing health insurance with a coverage of Rs. 3 Lakhs, you can top it up by taking
                                a top-up plan of Rs. 7 Lakhs with a deductible of Rs. 3 Lakhs.
                            </li>
							<li>
                                <a href="/health-insurance/critical-illness/">Critical Illness Insurance</a> are insurance plans that provide a lump sum benefit in case a critical illness listed in the insurance plan is diagnosed, subject to terms and conditions.
                            </li>
							<li>
                                <b>Surgical Benefit Plans</b> are insurance plans that provides a lump sum benefit in case
                                a surgery listed in the insurance plan is carried out on the insured.
                            </li>
						</ul>
					</div>
			</div>
		</div>
	</div>
</section>
<section class="agent_broker_container">
	<div class="container">
		<div class="row">
			<div class="text_heading">
				<h2>Agents Vs Brokers</h2>
			</div>
			<div class="col-md-10 col-md-offset-1 pnone">
				<div class="col-md-4 col-sm-4">
					<div class="first_left">
						<h2>#AgentsVsBrokers</h2>
						<ul>
							<li>Appointment </li>
							<li>Type of Entity</li>
							<li>Specialization</li>
							<li>Representation</li>
							<li>Training</li>
							<li>Span of advice</li>
							<li>Degree</li>
							<li>Financial Investment</li>
							<li>Dispute Resolution</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="agent_left">
						<h2>Agents</h2>
						<div class="round"></div>
						<ul>
							<li>Sales Agent appointed by Insurance Company </li>
							<li>Individual</li>
							<li>Agency can be a side business. Hence unstable, not dependable.</li>
							<li>Represents Insurance Companies</li>
							<li>Trained for Sales</li>
							<li>Can sell one general insurance, one health insurance and one life insurance product only</li>
							<li>12th Pass. Required to give basic examinations</li>
							<li>Insurance Agents cannot assist in dispute resolutions with Insurers</li>
							<li>No Capital required.</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="agent_left broker_left">
						<h2>Brokers</h2>
						<div class="round"></div>
						<ul>
							<li>Independent Professional firm licensed by IRDA </li>
							<li>Private Limited Company</li>
							<li>Brokers cannot do any business other than Insurance Broking. Have to service well to survive.</li>
							<li>Represents Customers</li>
							<li>Qualified and Licensed to advise, assist, negotiate with Insurers for products, pricing as well as Claims.</li>
							<li>Can provide solutions from across all Insurance Companies in India. </li>
							<li>Graduate. Required to pass advanced examinations in Insurance.</li>
							<li>Insurance Brokers can assist Customers right through dispute resolutions.</li>
							<li>Rs. 50 Lakhs Paid-up Capital required to setup</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="how_buy_container">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>How to buy Health Insurance? (Whom to buy from? & Why)</h2>
				<div class="list_container">
					<ul>
						<li><strong>Compare and Buy</strong>: With more than 50 Health Insurance plans in the market all competing with each other, it is important that you have compared all the key health insurance plans before making a choice. </li>
						<li><strong>Find the right health insurance advisor</strong>: The smartest step you can take when buying insurance is to find the right advisor. One who will not only provide you unbiased advice across various insurance plans in the market, but also one who has experience in providing post sales services including hand-holding at the time of claims.
						 </li>
						<li><strong>Ensure you have checked important terms</strong>:
							<ul>
								<li>Room Eligibility: What kind of room category you are eligible for. This is one of the most critical aspects you must check before you sign up. A very large portion of the expenses you plan to claim in the long run can be declined if you select a higher category room than what you are eligible for. </li>
								<li>Copay: Share of the admissible claim that must be borne by the Customer.</li>
								<li>Sub-limits: Certain Insurance plans limit the claim amount on expenses related to select treatments. For instance: New India Assurance restricts Cataract treatment at Rs. 24000 per eye. </li>
							</ul>
						</li>
						<li><strong>Health Check-in</strong>:  Ensure you have all the medical details of your family members (current status and history). you intend to cover in the <a href="/health-plan/">health insurance policy</a>.
						</li>
						<li><strong>Fill the proposal form yourself</strong>: 90% of grievances in Health Insurance at the time of claims begin with errors or misrepresentations in the proposal form. One should either fill the proposal form himself, or ensure you have checked the complete proposal before proceeding towards making payment.</li>
					</ul>
				</div>
				<div class="btn_container">
					<a href="/health-plan/">Compare lowest health quotes in 2 min </a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="proposal_form_container">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Importance Points to consider before you buy a Health Insurance Plan</h2>
				<p>Important things to consider while you buy. </p>
				<div class="list_container">
					<ul>
						<li><strong>Individual Vs Floater</strong> As the names suggest; an individual policy lets you insure yourself or a single individual whereas a family floater lets you cover your entire family with a single cover. Pre-determine your requirements and evaluate the features of each policy before buying any insurance plan. Talk to a <a href="/health-plan/">Coverfox insurance advisor</a> for more details.</li>
						<li><strong>Sum Insured </strong>The biggest mistake one makes when buying Health Insurance, is when one factors today’s costs and decides the insurance coverage, whereas in reality, you are likely to make claims around 25 years from now <br><br>
                        Hospitalization costs today would be ranging from Rs. 50000 to Rs. 3 Lakhs. Assuming you are 30 today, at an modest average healthcare inflation of 7.5% for the next 20 years, single hospitalization bills will range (hold your breath!) at around Rs. 13 Lakhs when you are 50 years old.</li>
						<li><strong>Room Rent Eligibility</strong> This single condition could depreciate the value of your health insurance with inflation. Something most agents/insurers won’t like you to know. <br><br>
						Many Health Insurance policies have room rent capping, which means you are eligible to claim expenses only up to a room costing below this capping. In case you opt for a room above this cap, you will have to bear the additional proportionate expenses on your own.
						</li>
						<li><strong>Copay and Sub-Limits</strong> There are clauses like sub-limits and co-pay in most of the insurance policies. They put a sub limit on a particular expense (like 2% of sum assured). Make sure you are very clear about them and are fine with it. <br><br>
						There are few Insurance products that have limits for specified surgeries. So even if your sum assured is Rs 5 lacs, they might restrict a particular surgery expense to 50% of your sum assured.</li>
						<li><strong>Compare Hospital Network</strong> While you compare the key features discussed above, you should also compare the <a href="/health-insurance/network-hospitals/">hospital network</a> of the shortlisted Insurance companies. You must compare these for areas you/your family is likely to be hospitalized. Though such lists are dynamic and can change anytime, it still gives you a good idea of the network that the Insurer has in place, in case you need to use it for a cashless treatment.</li>
						<li><strong>After choosing the plan, read policy wordings</strong> Ask your Insurance Broker/Agent to provide you with the policy wordings of the product you have liked. Ensure you go through the Customer Information Sheet yourself. This is a one-pager that summarizes all the key conditions you must be aware of. Every health insurance product needs to file this with the Government (IRDA). Ask questions till you are satisfied.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="online_container_subscribe">
	<div class="container">
		<div class="clearfix">
			<h2>Tax Benefits</h2>
			<p>Premium paid for Health Insurance is eligible for Income Tax Benefit under section 80D. As per this section, you can avail deduction upto Rs. 55000 against health insurance premiums paid for your family which includes you, your spouse, your kids and your parents. </p>
			<div class="op_container clearfix">
				<div class="col-md-3 col-sm-3">
                    <input type="text" placeholder="Name" name="name" id="contact-me-name2">
                    <div class="contact-me-error" id="name-error2" hidden><p class="error">Enter a valid name</p></div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <input type="text" placeholder="Email" name="email" id="contact-me-email2">
                    <div class="contact-me-error" id="email-error2" hidden><p class="error">Enter a valid email</p></div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <input type="text" placeholder="Mobile no" name="phone" id="contact-me-num2">
                    <div class="contact-me-error" id="num-error2" hidden><p class="error">Enter a valid mobile number</p></div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <button id="show-quote-btn2">Check out Tax Saving Health Plans </button>
                </div>
			</div>
		</div>
	</div>
</section>
<section class="video_fixed_container">
	<div class="cover"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="video-article">
					<h2>We pride in our Claims services</h2>
					<a href="https://www.youtube.com/embed/7VxoVVdzkE8">
						<img src="{{STATIC_URL}}flatpages/img/video_play.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="testimonials-section">
        <div class="container">
            <h2>Hear from our Mediclaim customers</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="testimonial-item">
                        <img src="/static/lp-health/img/testimonials/t1.jpg" alt="">
                        <div class="comment">
                            <img src="/static/lp-health/img/quote-icon.png" alt="">
                            <p>"Shweta was extremely helpful and patient. She addressed all doubts and concerns politely. Definitely felt good about my decision"</p>
                            <p class="title">- Mrunmayee</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonial-item">
                        <img src="/static/lp-health/img/testimonials/t2.jpg" alt="">
                        <div class="comment">
                            <img src="/static/lp-health/img/quote-icon.png" alt="">
                            <p>
                                "Extremely warm and pleasant process. Did not get any unsolicited calls, relationship team was polite and the insurance buying process very easy"
                            </p>

                            <p class="title">- Mr. and Mrs. Thombre</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonial-item">
                        <img src="/static/lp-health/img/testimonials/t3.jpg" alt="">
                        <div class="comment">
                            <img src="/static/lp-health/img/quote-icon.png" alt="">
                            <p>
                                "Very intuitive and great user experience. Made me feel great about buying insurance which is a first"
                            </p>

                            <p class="title">- Mr. and Mrs. Kainth</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </section>
    <div id="video-frame" class="hero_modal_overlay">
	    <div id="divCloseFrame" class="close-overlay" title="Close">Close</div>
	    <div class="hero_modal_content">
	       <iframe id="frameVideo" class="reveal" src="" frameborder="0" allowfullscreen=""></iframe>
	       <!-- <iframe id="video_2" src="https://www.youtube.com/embed/d7GWOShRmoY" frameborder="0" allowfullscreen></iframe> -->
	    </div>
	</div>
    <script type="text/javascript">
    	var next_page_url = '/health-plan/?callback=true';
	    var campaign = 'health';
	    var page_id = 'sp_health';
		var NAME_MANDATORY = true;
	    var EMAIL_MANDATORY = true;
	    var MOBILE_MANDATORY = true;
    </script>
	<script src="{{ STATIC_URL }}flatpages/js/jquery-1.11.3.min.js"></script>
    <script src="{{ STATIC_URL }}lp/js/cookies.js"></script>
    <script src="{{ STATIC_URL }}lp-health/js/utils.js"></script>
<script>
	$(".video-article a").on("click", function(e){
    e.preventDefault();
    e.stopPropagation();
    var url = $(this).attr("href");
    $("#video-frame").addClass("active");
    $("#frameVideo").attr("src",url);
});
$("#divCloseFrame").on("click", function(){
    $("#video-frame").removeClass("active");
    $("#frameVideo").attr("src","");
});
</script>
{% endblock content %}


