{% extends "campaign/motor/base.html" %}
{% load compress %}
{% block header %}

{% endblock %}
{% block top_link %}
<section class="teambhp">
    <div class="container">
        <h1>Save big on your <strong>Car Insurance</strong></h1>
        <div class="form-box">
            <div class="row">
                <div class="col-md-8">
                    <!-- Car Insurance form-->
                    <div class="car-product product-form-item">
                        <div id="car-product"></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="musibat_conatiner">
                        <h3>Buy Car Insurance from Coverfox</h3>
                        <hr/>
                        <h5>Benefits of buying from Coverfox:</h5>
                        <ul>
                            <li>Lowest Premium Rates</li>
                            <li>Online Policy Copy</li>
                            <li>Dedicated Claims Manager</li>
                            <li>Free Roadside Assistance cover</li>
                        </ul>
                        <div class="arrrow_direct hidden-xs">
                            &#8592; Join the Coverfox family!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block illustration %}
<section class="teambhp car-show-case">
        <div class="container">
            <h2 class="text-center">Why insure your car <strong>Online</strong></h2>
            <div class="row car-box">
                <div class="col-md-4 col-md-push-4 car-box__car">
                    <img class="img-responsive" src="{{STATIC_URL}}img/teambhp/vehicle.png" />
                </div>
                <div class="col-md-4 col-md-pull-4 col-sm-6">
                    <div class="car-box__content">
                    <h5 class="text-orange">Compare quotes</h5>
                    <p class="para solid">Find and buy from a range of insurance options matched to your needs and budget.</p>
                    </div>
                    <div class="car-box__content">
                    <h5 class="text-orange">Hassle-free process</h5>
                    <p class="para solid">Its quick. Its easy. Its reliable. just choose your policy, pay the premium and all done.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="car-box__content">
                    <h5 class="text-orange">save your money</h5>
                    <p class="para solid">Save more on car premium by choosing the best filtered plans from top car insurers.</p>
                    </div>
                    <div class="car-box__content">
                    <h5 class="text-orange">Get Instant policy</h5>
                    <p class="para solid">Get your policy document instantly in your email inbox. No misplaced documents. Ever.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="teambhp teambhp--grey">
        <div class="container">
            <h2 class="text-center">How it works</h2>
            <div class="row gallery-item">
                <div class="col-md-5">
                    <div class="gallery-item__content">
                        <h5>Research easily</h5>
                        <p class="para">Is this the best deal? Is there cashless garage in my neighborhood? Dose this insurer settle claims quickly? Just fill in your requirements and we all the answers.</p>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-6"><img src="{{STATIC_URL}}img/teambhp/research-icon.png" /></div>
            </div>
            <div class="row gallery-item">
                <div class="col-md-5">
                    <div class="gallery-item__content">
                        <h5>Compare Confidently</h5>
                        <p class="para">Unable to take a decision? Whether you're researching a questions or getting ready to buy, there's guidance to make sure you make the right decision. Compare the top plans for you, apples-to-apples, with confidence.</p>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-6"><img src="{{STATIC_URL}}img/teambhp/compare-icon.png"></div>
            </div>
            <div class="row gallery-item">
                <div class="col-md-5">
                    <div class="gallery-item__content">
                        <h5>Buy Quickly</h5>
                        <p class="para">No more long boring forms. Select the plan of your choice. Checkout easily like you do on your online shopping website. Make Payment. Get the policy in your inbox instantly.</p>
                    </div>
                </div>
                <div class="col-md-offset-1 col-md-6"><img src="{{STATIC_URL}}img/teambhp/buy-icon.png" /></div>
            </div>
        </div>
    </section>
    <section class="teambhp">
        <div class="container">
            <h2 class="text-center"><strong>Insure your car</strong> right now</h2>
            <div class="text-center insure-your-car">
                <a id="go-to-top" class="btn btn--orange">GET STARTED</a>
            </div>
        </div>
    </section>
{% endblock %}
{% block companies %}{% endblock %}
{% block benifit_list %}{% endblock %}
{% block otp_pop%}{% endblock %}
{% block car_services%}{% endblock %}
{% block mob_expert_advice %}{% endblock %}
{% block buying_online %}{% endblock %}
{% block claim_support %}{% endblock %}
{% block insurance_cover %}{% endblock %}
{% block addons %}{% endblock %}
{% block insurance_img %}{% endblock %}
{% block mob_call_expert %}{% endblock %}
{% block free_services %}{% endblock %}
{% block testimonials %}{% endblock %}
{% block hero_video%}{% endblock %}
{% block why_compare %}{% endblock %}
{% block about_us %}{% endblock %}
{% block footer %}{% endblock %}
{%block footer_css%}
    {% compress css %}
        <!--link href="{{STATIC_URL}}lp-motor/buy_direct_online/css/homeform.css" rel="stylesheet"-->
        <link href="{{STATIC_URL}}lp-motor/buy_direct_online/css/style.css" rel="stylesheet">
        <!--link href="{{ STATIC_URL }}home/css/select2.css" rel="stylesheet"-->
        <!--link href="{{ STATIC_URL }}home/css/pikaday.css" rel="stylesheet"-->
        <link href="{{STATIC_URL}}css/motor-widget.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/teambhp.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{%block footer_js%}
<script type="text/javascript">
    $('.contact-me-error').hide();
    var hero_phone_mandatory = 'YES';
    window.isTeamBHPIntegration = true;
    var CSRF_TOKEN = '{{ csrf_token }}';

    {% if tparty %}
        var tparty = "?tparty={{ tparty }}";
    {% else %}
        var tparty = "";
    {% endif %}

/********* UI Global Control Events **********/
$('select').change(function(){
    var selectedId = $(this).children(":selected").attr("id");
    if(selectedId && (selectedId>0 || selectedId.length>1)){
        $(this).parent().addClass('selected');
        $(this).parent().find('.select2-choice').css({
            'padding-top': ''
        });
        utils.showLabelForInput($(this));
    }
    else{
        $(this).parent().removeClass('selected');
    }
});
$('#go-to-top').on('click',function(e){
    e.preventDefault;
    scrollToTop(500);
});
function scrollToTop(scrollDuration) {
   var scrollStep = -window.scrollY / (scrollDuration / 15),
       scrollInterval = setInterval(function(){
       if ( window.scrollY != 0 ) {
           window.scrollBy( 0, scrollStep );
       }
       else clearInterval(scrollInterval);
   },15);
}
</script>
<script src="{{ STATIC_URL }}js/build/{{settings.WEBPACK_WIDGET_ASSETS.common}}"></script>
<script type="text/javascript">
    window['cfLoadWidget']('car-old', 'car-product', {'isMobileMandatory':true});
</script>
{% endblock %}