{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Coverfox Techtalks {% endblock pagetitle %}

{% block content %}
<iframe src="https://docs.google.com/forms/d/1_Ar3KQ3ZOCN6kW6uKwWHygTSkjFm9pq0YQeKXneJMv0/viewform?embedded=true" style="overflow:hidden;height:900px;width:100%" height="900" width="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
{% endblock %}
