{% extends "flatpages:base.html" %}
{% block extended_header %}
   <meta name='robots' content='noindex, nofollow' />
{% endblock extended_header %}
{% block css %}
    <style type="text/css">
        .lp-b1-wrapper h2 {
            margin-top: 30px;
        }
    </style>
{% endblock css %}

{% block pagetitle %}<span class="nav-text-separator"></span> Terms and conditions{% endblock pagetitle %}
{% block pageheader %}
<div class="page-header-wrapper container">
	<div class="row">
		<div class="col-md-12 text-left">
			<h1>Terms and conditions</h1>
		</div>
	</div>
</div>
{% endblock pageheader %}
{% block content %}
<section>
	<div class="lp-b1-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<p>
					Coverfox Insurance Broking Pvt. Limited (hereinafter referred to as Coverfox) operates the website
					<a href="http://www.coverfox.com" target="_blank">http://www.coverfox.com</a> to provide consumers choice and an easy way to buy Insurance products from multiple Insurance companies. Coverfox is not an insurance company. Coverfox is a licensed Insurance Broking Company holding a Broking licence from the Indian Insurance Regulator – Insurance Regulatory and Development authority. </p>
					<p><a href="http://www.coverfox.com/docs/irda-licence/" target="_blank">IRDA broking licence no. IRDA/ DB 556/ 13</a> </p>
					<p>Our participating insurance providers supply some of the information available on the Website and therefore there may be inaccuracies in the Website Information over which Coverfox has limited control.</p>
					<p>Coverfox does not warrant or guarantee the Timeliness, accuracy or completeness of the Website Information; or Quality of the results obtained from the use of the Website.</p>
					<p>To the maximum extent permitted by law, Coverfox has no liability in relation to or arising out of the Website Information and Website recommendations. You are responsible for the final choice of your product and you should take time to read through all information supplied before proceeding. If you are in any doubt regarding a product or its terms you should seek further advice from Coverfox or the relevant participating provider before choosing your product.</p>
					<p>Coverfox may pass on your personal information to the relevant participating provider if you apply to purchase a product through www.coverfox.com , however, Coverfox does not guarantee when or if you will actually acquire the product that you have chosen. Coverfox does not accept any liability arising out of circumstances where there is delay in you acquiring the product you have chosen.</p>
					<p>Please note that Coverfox is only collecting or assisting in collecting the premium deposit on behalf of the insurer you have chosen to buy the policy. The acceptance of the deposit as premium and final issuance of the policy is subject to the underwriting norms and discretion of the Insurer whose policy you have chosen to buy on which Coverfox has no control. Coverfox will ensure that the amount is refunded by the insurer in case there is no ultimate issuance of policy.</p>
					<p>By visiting our website and accessing the information, resources, services, products, and tools we provide, you understand and agree to accept and adhere to the following terms and conditions as stated in this policy (hereafter referred to as ‘User Agreement’), along with the terms and conditions as stated in our Privacy Policy (please refer to the Privacy Policy section below for more information).</p>
					<p>This agreement is in effect as of Oct 02, 2013.</p>
					<p>We reserve the right to change this User Agreement from time to time without notice. You acknowledge and agree that it is your responsibility to review this User Agreement periodically to familiarize yourself with any modifications. Your continued use of this site after such modifications will constitute acknowledgment and agreement of the modified terms and conditions. </p>
					<h2>Responsible Use and Conduct</h2>
					<p>
					By visiting our website and accessing the information, resources, services, products, and tools we provide for you, either directly or indirectly (hereafter referred to as ‘Resources’), you agree to use these Resources only for the purposes intended as permitted by (a) the terms of this User Agreement, and (b) applicable laws, regulations and generally accepted online practices or guidelines.  </p>
					<p>Wherein, you understand that: </p>
					<ul>
						<li>
							In order to access our Resources, you may be required to provide certain information about yourself (such as identification, contact details, etc.) as part of the registration process, or as part of your ability to use the Resources. You agree that any information you provide will always be accurate, correct, and up to date.
						</li>
						<li>
							You are responsible for maintaining the confidentiality of any login information associated with any account you use to access our Resources. Accordingly, you are responsible for all activities that occur under your account/s.
						</li>
						<li>
							Accessing (or attempting to access) any of our Resources by any means other than through the means we provide, is strictly prohibited. You specifically agree not to access (or attempt to access) any of our Resources through any automated, unethical or unconventional means.
						</li>
						<li>
							Engaging in any activity that disrupts or interferes with our Resources, including the servers and/or networks to which our Resources are located or connected, is strictly prohibited.
						</li>
						<li>
							Attempting to copy, duplicate, reproduce, sell, trade, or resell our Resources is strictly prohibited.
						</li>
						<li>
							You are solely responsible any consequences, losses, or damages that we may directly or indirectly incur or suffer due to any unauthorized activities conducted by you, as explained above, and may incur criminal or civil liability.
						</li>
						<li>
							We may provide various open communication tools on our website, such as blog comments, blog posts, public chat, forums, message boards, newsgroups, product ratings and reviews, various social media services, etc. You understand that generally we do not pre-screen or monitor the content posted by users of these various communication tools, which means that if you choose to use these tools to submit any type of content to our website, then it is your personal responsibility to use these tools in a responsible and ethical manner. By posting information or otherwise using any open communication tools as mentioned, you agree that you will not upload, post, share, or otherwise distribute any content that: <br />
							<ul>
								<li>
									Is illegal, threatening, defamatory, abusive, harassing, degrading, intimidating, fraudulent, deceptive, invasive, racist, or contains any type of suggestive, inappropriate, or explicit language;
								</li>
								<li>
									Infringes on any trademark, patent, trade secret, copyright, or other proprietary right of any party;
								</li>
								<li>
									Contains any type of unauthorized or unsolicited advertising;
								</li>
								<li>
									Impersonates any person or entity, including any http://www.coverfox.com/ employees or representatives.
								</li>
							</ul>
							We have the right at our sole discretion to remove any content that, we feel in our judgment does not comply with this User Agreement, along with any content that we feel is otherwise offensive, harmful, objectionable, inaccurate, or violates any 3rd party copyrights or trademarks. We are not responsible for any delay or failure in removing such content. If you post content that we choose to remove, you hereby consent to such removal, and consent to waive any claim against us.
						</li>
						<li>
							We do not assume any liability for any content posted by you or any other 3rd party users of our website. However, any content posted by you using any open communication tools on our website, provided that it doesn’t violate or infringe on any 3rd party copyrights or trademarks, becomes the property of Coverfox Insurance Broking Pvt. Ltd., and as such, gives us a perpetual, irrevocable, worldwide, royalty-free, exclusive license to reproduce, modify, adapt, translate, publish, publicly display and/or distribute as we see fit. This only refers and applies to content posted via open communication tools as described, and does not refer to information that is provided as part of the registration process, necessary in order to use our Resources. All information provided as part of our registration process is covered by our privacy policy.
						</li>
						<li>
							You agree to indemnify and hold harmless Coverfox Insurance Broking Pvt. Ltd. and its parent company and affiliates, and their directors, officers, managers, employees, donors, agents, and licensors, from and against all losses, expenses, damages and costs, including reasonable attorneys' fees, resulting from any violation of this User Agreement or the failure to fulfill any obligations relating to your account incurred by you or any other person using your account. We reserve the right to take over the exclusive defense of any claim for which we are entitled to indemnification under this User Agreement. In such event, you shall provide us with such cooperation as is reasonably requested by us.
						</li>
						<h2>Privacy</h2>
						<p>
						Your privacy is very important to us, which is why we’ve created a separate Privacy Policy in order to explain in detail how we collect, manage, process, secure, and store your private information. Our privacy policy is included under the scope of this User Agreement. To read our privacy policy in its entirety, click here. </p>
						<h2>Limitation of Warranties</h2>
						<p>By using our website, you understand and agree that all Resources we provide are “as is” and “as available”. This means that we do not represent or warrant to you that: </p>
						<ul>
							<li>
								The use of our Resources will meet your needs or requirements.
							</li>
							<li>
								The use of our Resources will be uninterrupted, timely, secure or free from errors.
							</li>
							<li>
								The information obtained by using our Resources will be accurate or reliable, and
							</li>
							<li>
								Any defects in the operation or functionality of any Resources we provide will be repaired or corrected.
							</li>
						</ul>
						<p>
						Furthermore, you understand and agree that: </p>
						<ul>
							<li>
								Any content downloaded or otherwise obtained through the use of our Resources is done at your own discretion and risk, and that you are solely responsible for any damage to your computer or other devices for any loss of data that may result from the download of such content.
							</li>
							<li>
								No information or advice, whether expressed, implied, oral or written, obtained by you from Coverfox Insurance Broking Pvt. Ltd. or through any Resources we provide shall create any warranty, guarantee, or conditions of any kind, except for those expressly outlined in this User Agreement.
							</li>
						</ul>
					</ul>
					<h2>Limitation of Liability</h2>
					<p>
					In conjunction with the Limitation of Warranties as explained above, you expressly understand and agree that any claim against us shall be limited to the amount you paid, if any, for use of products and/or services. Coverfox Insurance Broking Pvt. Ltd. will not be liable for any direct, indirect, incidental, consequential or exemplary loss or damages which may be incurred by you as a result of using our Resources, or as a result of any changes, data loss or corruption, cancellation, loss of access, or downtime to the full extent that applicable limitation of liability laws apply. </p>
					<h2>Copyrights/Trademarks</h2>
					<p>
					All content and materials available on http://www.coverfox.com/, including but not limited to text, graphics, website name, code, images and logos are the intellectual property of Coverfox Insurance Broking Pvt. Ltd., and are protected by applicable copyright and trademark law. Any inappropriate use, including but not limited to the reproduction, distribution, display or transmission of any content on this site is strictly prohibited, unless specifically authorized by Coverfox Insurance Broking Pvt. Ltd. </p>
					<h2>Termination of Use</h2>
					<p>
					You agree that we may, at our sole discretion, suspend or terminate your access to all or part of our website and Resources with or without notice and for any reason, including, without limitation, breach of this User Agreement. Any suspected illegal, fraudulent or abusive activity may be grounds for terminating your relationship and may be referred to appropriate law enforcement authorities. Upon suspension or termination, your right to use the Resources we provide will immediately cease, and we reserve the right to remove or delete any information that you may have on file with us, including any account or login information. </p>
					<h2>Governing Law</h2>
					<p>
					This website is controlled by Coverfox Insurance Broking Pvt. Ltd. from our offices located in the state of Maharashtra, India. It can be accessed by most countries around the world. As each country has laws that may differ from those of Maharashtra, by accessing our website, you agree that the statutes and laws of Maharashtra, without regard to the conflict of laws and the United Nations Convention on the International Sales of Goods, will apply to all matters relating to the use of this website and the purchase of any products or services through this site. </p>
					<p>
					Furthermore, any action to enforce this User Agreement shall be brought in the federal or state courts located in India, Maharashtra You hereby agree to personal jurisdiction by such courts, and waive any jurisdictional, venue, or inconvenient forum objections to such courts. </p>
					<h2>Guarantee</h2>
					<p>
					UNLESS OTHERWISE EXPRESSED, Coverfox Insurance Broking Pvt. Ltd. EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. </p>
					<div id="claimbook">
						<br><br>
						<h2>Express Claims Services</h2>
						<ul>
							<li>Coverfox Insurance Broking Private Limited ("CF") via Glitterbug Technologies Private Limited ("GB") has merely aggregated and created a network of third party repair and servicing workshops ("garages") for motor vehicles. The repair/servicing facility for any motor vehicle will be provided/done by the garage in their capacity as an independent service provider at vehicle owner's sole risk. GB and/or CF do not provide these services in any capacity whatsoever. GB and/or CF do not endorse the services of the garages. CF and/or GB shall not be liable for any payment obligation in relation to claims and/or repairs services, which shall be vehicle owner's responsibility. </li>
							<li>GB and/or CF shall not be liable for any act(s)/omission(s) of the garages and/or any defect/deficiency in repairs/servicing.</li>
							<li>Any guarantee for timelines in relation to the services are subject to external factors and force majeure. CF/GB shall not be liable for any time guarantee including for servicing and/or delivery of vehicle due to any extraneous circumstances including any force majeure/act of god conditions. </li>
							<li>Any third party facility/offer(s)/service(s)/product(s) shall be subject to the terms and conditions of such third party which shall be applicable to the user. CF/GB do not endorse, make no representation and shall have no liability or obligation whatsoever in relation to such third party facility/offer(s)/service(s)/product(s). All such third party facility/offer(s)/service(s)/product(s) shall be availed by user at their own risk. CF and/or GB shall not be liable for any payment obligation in relation to such third party facility/offer(s)/service(s)/product(s), which shall be user's responsibility. </li>
							<li>CF is only an insurance broker and shall assist with any insurance claims only to the extent of liasioning with the insurance company. Any insurance claim shall be processed by the insurance company subject to their terms and conditions and the insurance policy. </li>
							<li>CF reserves the sole right to  modify, amend, change or revoke the claim services, any other services, any offers including third party facility/offer(s)/service(s)/product(s) herein at any time without assigning any reason and without any notice. </li>
							<li>These terms and conditions for express claim services are in addition to all other terms and conditions provided here under and all these terms and conditions shall be applicable to you. CF reserves the right to sole right to  modify, amend, change or revoke these terms and conditions without any notice. </li>
							<li>Any disputes arising pursuant to these terms and conditions are subject to the exclusive jurisdiction of courts in Mumbai.</li>
						</ul>
					</div>
					<h2>Contact Information</h2>
					<p>
					If you have any questions or comments about these our Terms of Service as outlined above, you can contact us at: </p>
					<p>
					Coverfox Insurance Broking Pvt. Ltd. <br />
					3rd Floor, A wing<br />
					Krislon House<br />
					Saki vihar road<br />
					Saki Naka, Maharashtra - 400072 <br />
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}
