<script type="text/html" id="stage_5">
<div id="slate_5" class="buy-process" data-bind="visible: $root.active_stage() == 5">
    <div id="summary-wrapper" data-bind="foreach: $root.transaction_model().stages().slice(0,$root.transaction_model().stages().length-1)">
            <div class="summary-stage">
                <div class="title">
                    <h3 data-bind="text: $root.transaction_model().slates()[$index()].name"></h3>
                    <span class="btn btn-blu" data-bind="click: $root.goto_stage.bind($data,$index()+1)">EDIT</span>
                </div>

                <!--STAGE 1 -->
                <div class="stage-body" data-bind="if:$index()==0">
                    <div data-bind="foreach: segments()">
                        <div data-bind="foreach: rows()">
                            <div data-bind="foreach: elements()">
                                <div data-bind="if: field_type() != 'PremiumDiscountField'">
                                    <div data-bind="css:'col-sm-'+data.span" class="summary-row">
                                        <div data-bind="text: data.label" class="summary-label"></div>
                                        <div class="summary-field" data-bind="text: display_value"></div>
                                    </div>
                                </div>
                                <div data-bind="if: field_type() == 'PremiumDiscountField'">
                                    <div data-bind="PremiumDiscountField: $data, summary: true"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--STAGE 2 -->
                <div class="stage-body" data-bind="if:$index()==1">
                    <div data-bind="foreach: segments()">
                        <div class="row mnone">
                            <div class="col-md-2 legend">
                                <span data-bind="text: details().verbose"></span>
                            </div>
                            <div class="col-md-10 pnone">
                                <div data-bind="foreach: rows()">
                                    <div data-bind="foreach: elements()" class="summary-row">
                                        <div data-bind="css:'col-sm-'+data.span">
                                            <div data-bind="text: data.label" class="summary-label"></div>
                                            <div class="summary-field" data-bind="text: display_value"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div>
                </div> <!-- STAGE 2 -->


                <!--STAGE 3 -->
                <div class="stage-body" data-bind="if:$index()==2">
                    <div data-bind="foreach: segments()" class="row mnone">
                        <div data-bind="if : tag() == 'address' " class="col-sm-6 add-border">
                            <h3><img src="/static/health_product/img/new_buy/mail.png"/>&nbsp;&nbsp;Mailing Address</h3>
                            <div data-bind="foreach: rows">
                                <div class="row pl-lg">
                                    <div data-bind="foreach: elements">
                                        <div data-bind="if : field_type() != 'TwoDropDownDependantField'">
                                            <div data-bind="css:'col-sm-'+data.span" class="summary-row">
                                                <div data-bind="text: data.label" class="summary-label"></div>
                                                <div class="summary-field" data-bind="text: display_value"></div>
                                            </div>
                                        </div>
                                        <div data-bind="if : field_type() == 'TwoDropDownDependantField'">
                                            <div data-bind="css:'col-sm-'+Math.floor(data.span/2)" class="summary-row">
                                                <div data-bind="text: data.main_label" class="summary-label"></div>
                                                <div class="summary-field" data-bind="text: display_value1()"></div>
                                            </div>
                                            <div data-bind="css:'col-sm-'+Math.floor(data.span/2)" class="summary-row">
                                                <div data-bind="text: data.dep_label" class="summary-label"></div>
                                                <div class="summary-field" data-bind="text: display_value2()"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- row -->
                            </div> <!-- foreach row-->
                        </div> <!-- tag address -->

                        <div data-bind="if : tag() == 'contact' " class="col-sm-6">
                            <h3><img src="/static/health_product/img/new_buy/phone.png"/>&nbsp;&nbsp;Contact details</h3>
                            <div class="custom-style">
                                <div data-bind="foreach: rows">
                                    <div class="row pl-lg">
                                        <div data-bind="foreach: elements()">
                                            <div data-bind="css:'col-sm-'+data.span" class="summary-row">
                                                <div data-bind="text: data.label" class="summary-label"></div>
                                                <div data-bind="if : field_type() != 'MobileField' && field_type() != 'LandlineField'">
                                                    <span class="summary-field" data-bind="text:display_value"></span>
                                                </div>
                                                <div data-bind="if: field_type() == 'MobileField' ">
                                                    <span class="summary-field" data-bind="text:'+91-'+display_value()"></span>
                                                </div>
                                                <div data-bind="if: field_type() == 'LandlineField' ">
                                                    <span class="summary-field" data-bind="text:std_code()+'-'+landline()"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div data-bind="foreach: elements" class="summary-row">
                                        </div>
                                    </div> <!-- row -->
                                </div>
                            </div>
                        </div> <!-- tag contact -->
                    </div>
                </div> <!-- STAGE 3 -->

                <!--STAGE 4-->
                <div class="stage-body" data-bind="if:$index()==3">
                    <div data-bind="foreach: segments" style="margin-top: 40px;">
                        <div data-bind="if: details().conditional == 'NO'">
                            <div data-bind="foreach: rows">
                                <div class="row conditional-question">
                                    <div data-bind="foreach: elements">
                                        <div data-bind="if : field_type() == 'MultipleChoiceField'">
                                            <div class="row mnone qstn">
                                                <div class="quest-pad col-sm-10 top-margin">
                                                    <span class="q-point">Q</span>
                                                    <span data-bind="html: data.label"></span>
                                                </div>
                                                <div class="quest-pad col-sm-4">
                                                    <strong class="summary-field" data-bind="text: value"></strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- elements -->
                                </div><!--question row -->
                            </div><!--rows -->
                        </div>
                        <div data-bind="if: details().conditional == 'YES'">
                            <div data-bind="if: show_header()" style="color: #1864ab;">
                                <div class="bottom-margin clearfix">
                                    <div class="col-md-4 field-title">
                                        <span data-bind="text: details().question_text"></span>
                                    </div>
                                    <div class="col-md-8" data-bind="foreach: rows">
                                        <div data-bind="foreach: elements">
                                            <div class="col-sm-4">
                                                <div data-bind="if: $parents[1].details().show_header || true">
                                                    <div class="medical-header">
                                                        <span data-bind="text: $root.insured_members.items()[$index()].value"></span>
                                                    </div>
                                                </div>
                                                <div class="summary-field">
                                                    <div data-bind="if: field_type() != 'TwoDropDownField'">
                                                        <span data-bind="text: value"></span>
                                                    </div>
                                                    <div data-bind="if : field_type() == 'TwoDropDownField'">
                                                        <span data-bind="text: $root.utils.months[value1()-1]"></span>&nbsp;-&nbsp;
                                                        <span data-bind="text: value2"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- elements -->
                                    </div><!--rows -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--STAGE 4 -->
            </div>
    </div>



        <div data-bind="if: $root.transaction_model().current_stage().description()">
            <div class="define">
                <img src="/static/health_product/img/new_buy/info.png"/>
                &nbsp;&nbsp;<span data-bind="text: $root.transaction_model().current_stage().description()"></span>
            </div>
        </div>
        <div data-bind="foreach: segments">
            <div data-bind="foreach: rows">
                <div class="row mnone">
                    <div class="col-sm-12">
                        <div class="agree-box">
                            <div data-bind="foreach: elements">
                                <div data-bind="if : field_type() == 'MultipleChoiceField'">
                                    <div data-bind="MultipleChoiceField: $data"></div>
                                </div>
                            </div> <!-- elements -->
                        </div><!--agree box -->
                    </div><!--col-sm-12 -->
                </div><!--row mnone -->
            </div><!--rows -->
        </div><!-- segments -->
</div>
</script>
