@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.plan-popup-container,.modal-inner-content,.detail-section {
		display:-ms-flexbox;
	}
	.modal-header {
		flex-basis:0px;
	}
	.detail-section {
		flex-basis:100%;
		flex-grow:1;
		min-width:100%;
	}
	.detail-section-feature {
		flex-basis:45%;
		flex-grow:1;
	}
	.plan-card-wrapper .plan-column.column-5 {
		padding:0 20px;
	}
	.plan-card-wrapper .plan-column > div.btn {
		flex-basis:80%;
		flex-grow:1;
		text-align: left;
	}
	.plan-card-wrapper .plan-column > span, .plan-card-wrapper .plan-column > div {
		flex-basis:80%;
	}
}
