{% extends "campaign/bike/base.html" %}
{% load compress %}
{% block hero %}
    <div class="banner">
        <div class="container">
            <h1>Compare Bike Insurance Quotes - Online</h1>
            <h3>Get upto 60% Discount on Premium</h3>
        </div>
    </div>
{% endblock %}
{% block mob_form_section %}
    <div class="container">
        <div class="form-section">
            <div class="in-box">
                <input id="contact-me-num-expert" type="text" class="form-control" placeholder="Mobile number">
                <span>+91</span>
            </div>
            <p class="contact-me-error-expert error"></p>
            <button class="call_me_btn_expert btn btn-cfox orange" type="button">Get Instant Quotes</button>
        </div>
    </div>
{% endblock %}
{% block mob_companies_header %}
    <h2>Choose Plans from Top Companies</h2>
{% endblock %}
{% block benifit_list %}
<section class="light-box benefit-list">
    <div class="container">
        <h2>Get 100% Claims Support with Coverfox</h2>
        <ul>
            <li>Get a Dedicated Claims Manager</li>
            <li>Free towing and pick-up services</li>
            <li>Cashless Settlement in nearest garage</li>
            <li>Guaranteed End to End Claims Assistance</li>
        </ul>
    </div>
</section>
{% endblock %}

{% block mob_expert_advice %}
    <section class="expert_advice">
        <div class="container">
            <h2>Get the Best Deals with our Experts</h2>
            <ul>
                <li>Get end to end assistance with proposal form</li>
                <li>Don't pay extra for features you don't need</li>
            </ul>
            <div class="box_container">
                <div class="in-box">
                    <input id="contact-me-num-expert" type="text" class="form-control" placeholder="Mobile number">
                    <span>+91</span>
                </div>
                <p class="contact-me-error-expert error"></p>
                 <button class="call_me_btn_expert btn btn-cfox orange" type="button">Get an Expert To Call me Now !</button>
                 <div class="mobi-terms-msg">{{ settings.DND_MSG }}</div>
            </div>
        </div>
    </section>
{% endblock %}
{% block free_services %}
    <section class="dark-box free-services">
        <div class="container">
            <h1>
                Bike Insurance Benefits from Coverfox [Free]
            </h1>
            <div class="row">
                <div class="col-sm-4 proposition">
                    <img src="{{STATIC_URL}}lp-motor/img/fs-support.png" alt="Dedicated Relationship Manager"/>
                    <h4>Dedicated Relationship Manager</h4>
                    <p>A call away to help you with paperwork and co-ordination at the time of claims</p>
                </div>
                <div class="col-sm-4 proposition">
                    <img src="/static/lp-bike/img/fs-claim-settlement.png" alt="Quickest Claim Settlement">
                    <h4>Quickest claim settlement</h4>
                    <p>
                        We understand the impact on your daily life when your Bike is broken, we ensure fastest claim settlement to get your bike running on road as soon as possible.
                    </p>
                </div>
                <div class="col-sm-4 proposition">
                    <img src="{{STATIC_URL}}lp-motor/img/fs-parts.png" alt="100 percent Genuine Bike Parts"/>
                    <h4 class="padding-fix">100% Genuine Bike Parts</h4>
                    <p>
                        We make sure that quality is not compromised and service level is maintained in your claim settlement
                    </p>
                </div>
            </div>
        </div><!--/.container-->
    </section>
{% endblock %}
{% block mob_call_expert %}
    <section class="call_expert">
        <div class="container">
            <h2>Buying Bike Insurance?</h2>
            <p>Talk to an Expert</p>
            <a href="javascript:ClickToCall('top_bar')" class="btn btn-cfox orange">
                <img src="{{STATIC_URL}}lp-motor/img/phone.png" alt="">
                {{ settings.BIKE_TOLL_FREE }}
                <div class="toll-free">Toll Free</div>
            </a>
        </div>
    </section>
{% endblock %}

{% block why_compare %}{% endblock %}

{% block about_us %}
    <section class="light-box about-us">
        <div class="container text-block">
            <h1 class="section-header">Why we started Coverfox?</h1>
            <p>
                We are a group of people who were aware of the need of buying an Insurance policy and tried to do
                so, but put off the decision because of ten pages of jargons we didn’t understand.
                So, we tried to simplify how we could consume all such information about Insurance in just 5 min, in a way
                that everyone could undertand, and help us take an informed decision which really affects our lives.
            </p>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {% include "flatpages:footer_2.html" %}
    <!--section class="footer">
        <div class="container">
            <p>&copy; 2014 Coverfox Insurance Broking Pvt. Ltd. <span>All Rights Reserved</span></p>
            <p class="lin">IRDA Licence: IRDA/ DB 556/ 13</p>
            <p>www.coverfox.com</p>
        </div>
    </section-->
{% endblock %}
{% block base_css %}{% endblock %}

