{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{% block og_title %}Coverfox Insurance, India{% endblock og_title %}" />
    <meta property="og:description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance online." />
    <meta property="og:image" content="{% block og_image %}{{STATIC_URL}}home/img/coverfox_logo_fb.jpg{% endblock og_image %}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="403">
    <meta property="og:image:height" content="403">
    <title>{% block title %}Compare Bike Insurance Premium Quotes | Buy Two Wheeler Insurance online {% endblock %}</title>
    <meta name="description" content={% block description %}{% if description %}{{ description }}{% else %}"Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance."{% endif %}{% endblock %} />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{STATIC_URL}}lp-bike/img/favicon.ico" type="image/x-icon" />

    {% block header %}
    {% endblock %}

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      <script>
          dataLayer = [];
          // fix for IE9
          if (typeof console == "undefined") {
                this.console = {log: function() {}};
            }
      </script>
    <!-- Sentry   -->
    {%if settings.PRODUCTION%}
        <script src="//cdn.ravenjs.com/1.1.16/raven.min.js"></script>
        <script>
            Raven.config('https://b73a2dd7e1714ae3aab0e33fd663b391@app.getsentry.com/33123', {
            }).install();
        </script>
    {%endif%}

      <!-- Start Visual Website Optimizer Asynchronous Code -->
      <script type='text/javascript'>
        var _vwo_code=(function(){
            var account_id=113955,
            settings_tolerance=2000,
            library_tolerance=2500,
            use_existing_jquery=false,
                    // DO NOT EDIT BELOW THIS LINE
                    f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&r='+Math.random());var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
</script>
<!-- End Visual Website Optimizer Asynchronous Code -->
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MR4FRN');</script>
  <!-- End Google Tag Manager -->
  {% block message %}
  {% endblock %}
  <header>
      {% if view_id == 'tparty' %}
         {% include "flatpages:header_2.html" with lp_tparty=tparty lp_src=tparty_src lp_alt=tparty_alt %}
      {% else %}
         {% include "flatpages:header_2.html" with lp_page="Two Wheeler" lp_contact=settings.BIKE_TOLL_FREE %}
      {% endif %}
  </header>
  <section class="hero-wrapper">
    {% block hero %}
    {% endblock %}
    {% block mob_form_section %}
    {% endblock %}
</section><!--/.hero-wrapper-->

{% block companies %}
<section class="companies-wrapper">
    <div class="container-fluid">
        <div class="row">
            <ul class="company-logos">
                <li><img src="{{STATIC_URL}}lp-bike/img/insurer/hdfc-ergo-general-insurance.png" alt="HDFC Ergo General Insurance - Two Wheeler Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-bike/img/insurer/bajaj-allianz-general-insurance.png" alt="Bajaj Allianz General Insurance - Two Wheeler Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-bike/img/insurer/bharti-axa-general-insurance.png" alt="Bharti Axa General Insurance - Two Wheeler Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-bike/img/insurer/iffco-tokio-general-insurance.png" alt="IFFCO TOKIO General Insurance - Two Wheeler Insurance"></li>
                <li><img src="{{STATIC_URL}}lp-bike/img/insurer/universal-sompo-general-insurance.png" alt="Universal Sompo General Insurance - Two Wheeler Insurance"></li>
            </ul>
        </div>
    </div>
</section><!-- companies wrapper -->
{% endblock %}

{% block illustration %}
{% endblock %}

{% block free_services %}
<section class="dark-box free-services">
    <div class="container">
        <h1>
            <!--img class="bag" src="{{STATIC_URL}}lp-bike/img/icon_bag.png" alt=""/-->
            <!--img class="logo" src="{{STATIC_URL}}lp-bike/img/coverfox-logo.png" alt="Coverfox"/-->
            Additional Benefits from Coverfox [Free]
        </h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="proposition">
                    <img src="{{STATIC_URL}}lp-bike/img/fs-support.png" alt="Dedicated Relationship Manager"/>
                    <h4>Dedicated Relationship Manager</h4>
                    <p>A call away to help you with paperwork and co-ordination at the time of claims</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="proposition">
                    <img src="{{STATIC_URL}}lp-bike/img/fs-claim-settlement.png" alt="Quickest Claim Settlement"/>
                    <h4>Quickest claim settlement</h4>
                    <p>
                        We understand the impact on your daily life when your Bike is broken, we ensure fastest claim settlement to get your bike running on road as soon as possible.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="proposition">
                    <img src="{{STATIC_URL}}lp-bike/img/fs-parts.png" alt="100 percent Genuine Bike Parts"/>
                    <h4 class="padding-fix">100% Genuine Bike Parts</h4>
                    <p>We make sure that quality is not compromised and service level is maintained in your claim settlement</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button onclick="skipForm('best_deals')" class="btn-cfox orange btn-next btn-block">Show me the best {{ parent_category }} deals</button>
            </div>
        </div>
    </div><!--/.container-->
</section>
{% endblock %}

{% block testimonials %}
<section class="light-box testimonials-section">
    <div class="container">
        <h1>What our Customers have to say</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="testimonial-item">
                    <img src="{{STATIC_URL}}lp-bike/img/testimonials/mohammad-kotwala.jpg" alt="Testimonial - No spam calls"/>
                    <div class="comment">
                        <img src="{{STATIC_URL}}lp-bike/img/quote-icon.png" alt=""/>
                        <p>
                            {% block testimonial_1 %}I really appreciate the great service delivered by Coverfox.
                            My queries were efficiently answered and I was dealt with as a customer and not as a transaction.{% endblock %}
                        </p>
                        <p class="title">- Mohammad kotwala</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial-item">
                    <img src="{{STATIC_URL}}lp-bike/img/testimonials/amit-narang.jpg" alt="Testimonial - Save on renewal premium"/>
                    <div class="comment">
                        <img src="{{STATIC_URL}}lp-bike/img/quote-icon.png" alt=""/>
                        <p>
                            {% block testimonial_2 %}Amol did a great job of patiently walking me through all two-wheeler insurance options and helping me save money. {% endblock %}
                        </p>
                        <p class="title">- Amit Narang</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial-item">
                    <img src="{{STATIC_URL}}lp-bike/img/testimonials/mohit-tripathi.jpg" alt="Testimonial - Expert Help"/>
                    <div class="comment">
                        <img src="{{STATIC_URL}}lp-bike/img/quote-icon.png" alt=""/>
                        <p>
                            {% block testimonial_3 %}Coverfox, thanks for helping me choose the right bike insurance as per my budget.
                            Baljeet was very helpful during the call. {% endblock %}
                        </p>

                        <p class="title">- Mohit Tripathi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button onclick="skipForm('premium_calculator')" class="btn-cfox orange btn-next btn-block">Take me to the premium calculator</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block hero_video%}
<section class="video_container_hero video-article">
    <div class="overlay_bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Heroes of Coverfox</h1>
                <a href="//www.youtube.com/embed/7VxoVVdzkE8">
                    <img src="{{STATIC_URL}}lp-bike/img/hero_play.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
{%endblock%}

{% block about_us %}
<section class="dark-box about-us">
    <div class="container text-block">
        <h1 class="section-header">You + Coverfox  = Good Team :)</h1>
        <h4>Why do you need Insurance?</h4>
        <p>
            Health, Food, Shelter, Clothing, Sanitation, Education are our basic needs.
            We spend most our lives securing these for ourselves and our loved ones.
            It's a no brainer to try and make sure that nothing stops us in meeting those needs.
        </p>
        <p>
            That's where Insurance comes in.
        </p>
        <p>
            Most people think that they'll buy insurance when they need it.
            But the thing is, you cannot predict when an accident, a natural calamity, or something unfortunate might happen.
            The uncertainty of it all, is what forms the concept of Insurance.
        </p>
        <p>
            You need insurance when things are going good. Because when they are not, it's already too late.
        </p>
        <h4>Why we started Coverfox?</h4>
        <p>
            We are a group of people who were aware of the need of buying an Insurance and tried to do
            so, but put off the decision because of ten pages of jargons we didn’t understand.
            So, we tried to simplify how we could consume all such information about Insurance in just 5 min, in a way
            that everyone could understand, and help us take an informed decision which really affects our lives.
        </p>
        <h4>How can we help you?</h4>
        <p>
            We surveyed over 1000+ customers and learnt their expectations while buying an Insurance.
            We know it is hard to deliver all, but it is not impossible.
        </p>
        <ul>
            <li>Don’t miss any Terms & Conditions, Clauses while selecting a plan, we help you compare everything</li>
            <li>We won’t bug you unnecessarily, no documents are required</li>
            <li>Don’t waste your time, GET SET & GO with your Instant Policy in just 5 min</li>
            <li>We value your hard-earned money, maximize your savings with customized quotes from the leading insurers</li>
            <li>We understand the pains in filing a claim, our Dedicated Relationship Manager will assist you every step of the way</li>
        </ul>
    </div>
</section>
{% endblock %}
<div id="video-frame" class="hero_modal_overlay">
    <div id="divCloseFrame" class="close-overlay" title="Close">Close</div>
    <div class="hero_modal_content">
       <iframe id="frameVideo" class="reveal" src="" frameborder="0" allowfullscreen=""></iframe>
       <!-- <iframe id="video_2" src="https://www.youtube.com/embed/d7GWOShRmoY" frameborder="0" allowfullscreen></iframe> -->
    </div>
</div>
{% block footer %}
    {% include "flatpages:footer_2.html" %}
    <!--section class="footer clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <p>&copy; 2014 Coverfox Insurance Broking Pvt. Ltd. <span>All Rights Reserved</span></p>
                </div>
                <div class="col-sm-4 txt-r">
                    www.coverfox.com
                </div>
            </div>
        </div>
    </section-->
{% endblock %}

{% compress css %}
    <link href="{{STATIC_URL}}lp-bike/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}global/css/header_footer_2.css" rel="stylesheet">
    <link href="{{STATIC_URL}}lp-bike/css/style.css" rel="stylesheet">
{% endcompress %}

{%block footer_css%}
{%endblock%}

{%compress js%}
    <script src="{{STATIC_URL}}campaign/js/cookies.js"></script>
    <script src="{{ STATIC_URL }}flatpages/js/header.js" type="text/javascript"></script>
{%endcompress%}


<script type="text/javascript">
    var CSRF_TOKEN;
    var page_id = '{{ page_id }}';
    var toll_free_no = '{{ settings.BIKE_TOLL_FREE }}';
    var hero_phone_mandatory = 'YES';
    var next_page_override = '';
    var policy_type = 'old';
    Cookies.set('twowheeler_policyExpired', false);
    Cookies.set('twowheeler_isNewVehicle', false);
    $(document).ready(function(){
        $.get("{%url 'get_token'%}", function(data){
            CSRF_TOKEN = data.csrf;
        }, 'json');

        $(document).on('click','#toggle-menu',function(){
            var $this =$(this);
            var $menu =$('#pipe-links');
            if($this.hasClass('active')) {
                $this.removeClass('active');
                $menu.removeClass('active');
            }
            else {
                $this.addClass('active');
                $menu.addClass('active');
            }
        });
    });

    window.dataLayer = [];
    window.dataLayer.push({
        'event': 'AutoEvent',
        'hitType': 'event',
        'eventCategory': 'BIKE',
        'eventAction': 'PAGENAME',
        'eventLabel': '{{ page_id }}',
        'eventValue': 0
    });
    function ClickToCall(label){
        window.dataLayer.push({
            'event': 'GAEvent',
            'hitType': 'event',
            'eventCategory': 'BIKE',
            'eventAction': 'click_to_call',
            'eventLabel': '{{ page_id }} Label_' + label,
            'eventValue': 0
        });
        window.location = 'tel:{{ settings.BIKE_TOLL_FREE }}';
        return false;
    }


    $(document).ready(function(){
        $(document).on('click','#toggle-menu',function(){
            var $this =$(this);
            var $menu =$('#pipe-links');
            if($this.hasClass('active')) {
                $this.removeClass('active');
                $menu.removeClass('active');
            }
            else {
                $this.addClass('active');
                $menu.addClass('active');
            }
        });
    });
</script>
<script>
        $(".video-article a").on("click", function(e){
        e.preventDefault();
        e.stopPropagation();
        var url = $(this).attr("href");
        $("#video-frame").addClass("active");
        $("#frameVideo").attr("src",url);
    });
    $("#divCloseFrame").on("click", function(){
        $("#video-frame").removeClass("active");
        $("#frameVideo").attr("src","");
    });
</script>
{% compress js %}
{% block message_js %}
{% endblock %}

{% block hero_form_js %}
{% endblock %}

{%block footer_js%}
{%endblock%}
{% endcompress %}

</body>
</html>
