{% extends "campaign/bike/base.html" %}
{% load compress %}
{% block og_title %}{{ page_title|safe }}{% endblock og_title %}
{% block og_image %}{{STATIC_URL}}lp-bike/expired_bike_insurance/img/fb-expired-bike.jpg {% endblock og_image %}
{% block title %}Renew Expired Bike Insurance{% endblock %}
{% block header %}
{% endblock %}
{% block message %}
{% endblock %}
{% block hero %}
    <div class="car-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-5 col-lg-6">
                </div>
                <div class="col-sm-8 col-md-7 col-lg-6">
                    <div class="club-form">
                        <div class="heading-banner">
                            <h1>Renew Expired Bike Insurance</h1>
                            <h2>Get Instant Policy in just 2mins</h2>
                            <ul>
                                <li><img src="{{STATIC_URL}}lp-bike/expired_bike_insurance/img/checkmark-white.png" alt=""/> Compare Customized Quotes from Top Companies </li>
                                <li><img src="{{STATIC_URL}}lp-bike/expired_bike_insurance/img/checkmark-white.png" alt=""/> Premium Starts at INR 600</li>
                                <li><img src="{{STATIC_URL}}lp-bike/expired_bike_insurance/img/checkmark-white.png" alt=""/> No Documents Required</li>
                                <li><img src="{{STATIC_URL}}lp-bike/expired_bike_insurance/img/checkmark-white.png" alt=""/> Cover Against Theft of Bike</li>
                            </ul>
                        </div>
                        <div class="form-box-mini">
                            <ul class="form hero-form">
                                <li data-type="old">
                                    <span class="checkbox"></span>
                                    Renew Existing Policy
                                </li>
                                <li data-type="new">
                                    <span class="checkbox"></span>
                                    Buy Insurance for a New {{ parent_category }}
                                </li>
                                <li class="active" data-type="expired">
                                    <span class="checkbox"></span>
                                    Renew Expired Policy
                                </li>
                            </ul>
                            <!--label for="contact-me-num">Mobile Number</label>
                            <div class="cfinput addon-field">
                                <span class="addon">+91</span>
                                <input type="text" id='contact-me-num' placeholder="Enter mobile number"/>
                            </div>
                            <div class="contact-me-error">
                                <p class="error">Please enter a valid 10 digit mobile number</p>
                            </div-->
                            <button id="show_quote_btn" class="btn-cfox orange btn-next btn-block">
                                Generate My Quotes &gt;&gt;
                            </button>
                            <p class="closer"><sup>*</sup> 500+ users believed in us in April'2015.</p>
                        </div><!--/.form-box-mini-->
                    </div><!--/.club-form-->
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
        <!--div class="toll-free-box mobile-scr visible-xs">
            Call us on our Toll free No.
            <a href="javascript:ClickToCall('form_mobile');"><h3>{{ settings.CAR_TOLL_FREE }}</h3></a>
        </div-->
    </div><!--/.car-banner-->
{% endblock %}

{% block testimonial_1 %}I didn't imagine that buying Bike Insurance will be as easy as shopping on websites like Flipkart, Snapdeal. Loved the experience.{% endblock %}
{% block testimonial_2 %}I used to go to agents to renew that where he will just tell me one single option only which will again take few days to issue the policy. Awesome Job.{% endblock %}
{% block testimonial_3 %}I paid less for renewing my Bike Insurance this year as compared to what I paid last year. Thanks Coverfox for having so many options.{% endblock %}

{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-bike/expired_bike_insurance/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{% block message_js %}
{% endblock %}

{%block footer_js%}
    {% compress js %}
        <script src="{{STATIC_URL}}campaign/js/zepto.js"></script>
        <script src="{{STATIC_URL}}lp/js/cookies.js"></script>
    {% endcompress %}
    <script type="text/javascript">
        var next_page_url = '/motor/twowheeler-insurance/';
        function skipForm(label){
            window.dataLayer.push({
                'event': 'GAEvent',
                'hitType': 'event',
                'eventCategory': 'BIKE',
                'eventAction': 'hero_skip_'+ label,
                'eventLabel': '{{ page_id }}',
                'eventValue': 0
            });
            window.location = next_page_url;
            return false;
        }

        $(document).ready(function(){
            $('.contact-me-error').hide();

            var policy_type = 'expired';
            Cookies.set('twowheeler_policyExpired', true, { expires: 300 });
            Cookies.set('twowheeler_isNewVehicle', false, { expires: 300 });
            next_page_url = '/motor/twowheeler-insurance/';
            $(document).on('click', '#show_quote_btn', function(){
                window.dataLayer.push({
                    'event': 'GAEvent',
                    'hitType': 'event',
                    'eventCategory': 'BIKE',
                    'eventAction': 'policy_type_' + policy_type,
                    'eventLabel': '{{ page_id }}',
                    'eventValue': 0
                });
                window.dataLayer.push({
                    'event': 'GAEvent',
                    'hitType': 'event',
                    'eventCategory': 'BIKE',
                    'eventAction': 'hero_form_submit',
                    'eventLabel': '{{ page_id }}',
                    'eventValue': 0
                });
                window.location = next_page_url;
            })
        });
    </script>
{% endblock %}
