{% extends "campaign/bike/base-mobile.html" %}
{% load compress %}
{% block title %}{{ page_title|safe }}{% endblock %}
{% block header %}
{% endblock %}
{% block hero %}
    <div class="banner">
        <div class="container">
            <h1>{{main_body.heading|safe}}</h1>
            <h3>{{main_body.sub_heading|safe}}</h3>
        </div>
    </div>
{% endblock %}
{% block mob_form_section %}
    <div class="container">
        <div class="form-section">
            <ul class="form hero-form">
                <li class="active" data-type="old">
                    <span class="checkbox"></span>
                    Renew Existing Policy
                </li>
                <li data-type="new">
                    <span class="checkbox"></span>
                    Buy Insurance for a Two Wheeler
                </li>
                <li data-type="expired">
                    <span class="checkbox"></span>
                    Renew Expired Policy
                </li>
            </ul>
            <div class="in-box">
                <span>+91</span>
                <input type="text" id='contact-me-num1' class="form-control" placeholder="Enter mobile number"/>
            </div>
            <p id="num-error1" class="contact-me-error error">
                Please enter a valid 10 digit mobile number
            </p>
            <div class="in-box">
                <input type="text" id='contact-me-email1' class="form-control pleft" placeholder="Enter Email id"/>
            </div>            
            <p id="email-error1" class="contact-me-error error">
                Please enter a valid email id
            </p>
            <div class="terms-msg">{{ settings.DND_MSG }}</div>
            <button id="show-quote-btn1" class="btn-cfox orange btn-next btn-block">
                Compare Quotes Online
            </button>
        </div><!--/.form-section-->
    </div>
{% endblock %}
{%block footer_css%}
    {% compress css %}
        <link href="{{STATIC_URL}}lp-bike/mobile_bike_insurance/css/style.css" rel="stylesheet">
    {% endcompress %}
{% endblock %}

{% block hero_form_js %}
    <script src="{{ STATIC_URL }}marketing/js/utils.js"></script>
{% endblock %}
    
{%block footer_js%}
<script type="text/javascript">
    var next_page_url = '/motor/twowheeler-insurance/?callback=true';
    var CSRF_TOKEN = "{{ csrf_token }}";
    var campaign = 'bike';
    var NAME_MANDATORY = false;
    var EMAIL_MANDATORY = true;
    var MOBILE_MANDATORY = true;
    var page_id = "{{ page_id }}";

    function skipForm(label){
        window.dataLayer.push({
            'event': 'GAEvent',
            'hitType': 'event',
            'eventCategory': 'BIKE',
            'eventAction': 'hero_skip_'+ label,
            'eventLabel': '{{ page_id }}',
            'eventValue': 0
        });
        window.location = '/motor/twowheeler-insurance/';
        return false;
    }
    
    $(document).ready(function(){
        $.get("{%url 'get_token'%}", function(data){
            CSRF_TOKEN = data.csrf;
        }, 'json');
        $('.contact-me-error').hide();

        var policy_type = 'old';
        Cookies.set('twowheeler_policyExpired', false);
        Cookies.set('twowheeler_isNewVehicle', false);
        $(document).on('click', '.hero-form li', function(){
            var formelements = $('.hero-form li');
            formelements.removeClass('active');
            var context = $(this);
            context.addClass('active');
            policy_type = context.data("type");
            if(policy_type=="old"){
                Cookies.set('twowheeler_policyExpired', false);
                Cookies.set('twowheeler_isNewVehicle', false);
            }
            if(policy_type=="new"){
                Cookies.set('twowheeler_policyExpired', false);
                Cookies.set('twowheeler_isNewVehicle', true);
            }
            if(policy_type=="expired"){
                Cookies.set('twowheeler_policyExpired', true);
                Cookies.set('twowheeler_isNewVehicle', false);
            }
        });
    });            
</script>
{% endblock %}
