/* Color scheme definitions */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* Overridden css for base_style.css */
html,
body {
  width: 100%;
  height: 90%;
}
.terms-msg {
  margin: 10px 0;
  font-size: 10px;
}
.hero-wrapper {
  background: url(../img/car-background.jpg) no-repeat center center #f4f4f4;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  border-bottom: 60px solid transparent;
  display: table;
  padding-top: 56px;
}
.hero-wrapper:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.13);
}
.hero-wrapper #topbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.companies-wrapper {
  margin-top: -60px;
  height: auto;
}
.companies-wrapper:before {
  content: 'Choose plans from Top companies';
  display: block;
  padding: 15px 15px 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
/* car banner css */
.car-banner {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 30px;
}
.car-banner h1 {
  font-size: 26px;
  margin: 20px 0px 15px;
  color: #ff6127;
  font-weight: 400;
  -webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  -moz-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  -ms-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  -o-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}
.crossover .c-row {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 90px;
}
.crossover .img-box {
  top: 3px;
}
.crossover .img-box img {
  width: 70px;
}
.prop-cos {
  background-color: #27343e;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 30px 0px;
}
.prop-cos h4 {
  margin: 0px 0px 20px;
  color: #ff6127;
  display: none;
}
.prop-cos ul.prop {
  margin: 10px auto 0px;
  padding: 0px;
  position: relative;
  max-width: 715px;
}
.prop-cos ul.prop li {
  list-style-type: none;
  color: #FFFFFF;
  margin-bottom: 15px;
  font-size: 16px;
  text-align: left;
  padding-left: 30px;
  position: relative;
  display: block;
  float: left;
  width: 50%;
}
.prop-cos ul.prop li img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #FA895D;
  padding: 3px;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0px;
}
/* Mobile optimisation for banner elements */
@media only screen and (min-width: 200px) and (max-width: 990px) {
  html,
  body {
    height: auto;
  }
  .hero-wrapper {
    padding-top: 0px;
  }
  .hero-wrapper #topbar {
    position: relative;
  }
  .car-banner {
    display: block;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .why-compare h1 {
    text-align: center;
  }
  .why-compare img {
    display: none;
  }
  .hero-wrapper {
    background: #ffffff;
  }
  .hero-wrapper:before {
    display: none;
  }
  .car-banner {
    background-color: #ffffff;
    padding: 0px;
  }
  .car-banner h1 {
    font-size: 30px;
    text-align: left;
  }
  .car-banner .form-box-mini {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0px;
    max-width: 450px;
  }
  .prop-cos h4 {
    line-height: 1.4em;
  }
  .prop-cos ul.prop {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 600px;
  }
  .prop-cos ul.prop li {
    width: auto;
    float: none;
  }
}
/* form box mini css*/
.form-box-mini {
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 15px 30px 20px;
  margin: 30px auto 0px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
}
.form-box-mini label {
  margin-bottom: 5px;
  display: block;
  letter-spacing: 1px;
  color: #363636;
  font-weight: 400;
}
.form-box-mini .btn-cfox.btn-next {
  letter-spacing: 1px;
  font-size: 16px;
}
.form-box-mini h3 {
  color: #363636;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: 600;
}
.form-box-mini ul {
  padding: 0;
  margin-bottom: 10px;
}
.form-box-mini ul li {
  letter-spacing: 1px;
  background-image: none;
  color: #030303;
  cursor: pointer;
  list-style-type: none;
  padding-left: 26px;
  margin-bottom: 5px;
  margin-top: 5px;
  position: relative;
  padding-top: 0;
  height: 35px;
  font-size: 16px;
}
.form-box-mini ul li .checkbox {
  position: absolute;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  min-height: 15px;
  padding: 1px;
  margin: 0px;
  background-color: #eaeaea;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}
.form-box-mini ul li .checkbox img {
  width: 100%;
  display: none;
}
.form-box-mini ul li.active {
  color: #ff6127;
}
.form-box-mini ul li.active .checkbox {
  background-color: #609BF7;
}
.form-box-mini ul li.active .checkbox img {
  display: block;
}
.form-box-mini .error {
  background-color: #e996b0;
  color: rgba(0, 0, 0, 0.58);
  padding: 5px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-box-mini .cfinput {
  border: 2px solid #F45C25;
  padding: 15px 5px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.form-box-mini .cfinput.has-error {
  border-color: #8b0000;
  background-color: #FFE2EB;
}
.form-box-mini .cfinput.addon-field {
  padding-left: 40px;
  position: relative;
}
.form-box-mini .cfinput .addon {
  font-size: 14px;
  color: #363636;
  position: absolute;
  top: 16px;
  left: 8px;
}
.form-box-mini .cfinput input {
  border: 0;
  color: #363636;
  background-color: transparent;
  width: 100%;
}
.form-box-mini .cfinput input:hover,
.form-box-mini .cfinput input:focus,
.form-box-mini .cfinput input:active {
  outline: none;
}
.form-box-mini .toll-free {
  margin-top: 15px;
}
.form-box-mini .toll-free a {
  font-size: 18px;
  font-weight: 700;
}
.why-compare h1 {
  color: #ff6127;
  text-align: left;
}
.why-compare img {
  margin: 60px 0 0 0;
}
