{% extends "bootbase.html" %}
{% block main %}
{% load manip_data %}
<div class="modal hide" id="alert_message">
    <!--a class="btn close" data-dismiss="modal" href="#"><i class="icon-remove"></i></a-->
    <div class="modal-header">
    <h3>Alert : Requires Attention</h3>
    </div>
    <div class="modal-body">
        <div id="alert_message_body"></div>
    </div>
</div>
<h3 class="heading">AMEYO DASHBOARD - Last updated on {{ last_updated }}</h3>
{% for group, advisor_ameyo_data in data.items %}
<h2>For - {{ group }}</h2>
<table class="table table-bordered sortable">
    <tr class="span3" style="font-weight: bold;">
        <th colspan="4" class="table-heading">User</th>
        <th colspan="4" class="table-heading">Status</th>
        <th colspan="4" class="hide table-heading">Time (in seconds)</th>
        <th colspan="4" class="table-heading">Time (in minutes)</th>
    </tr>
    {% for user, data in advisor_ameyo_data.items %}
        <tr class="span3 ameyo-data">
            <td class="username" colspan="4">{{ user }}</td>
            <td id="status_{{user}}" class="status" colspan="4">{{ data.0 }}</td>
            <td id="time_{{user}}" class="hide time time-spent" colspan="4">{{ data.1 }}</td>
            <td id="minutes_{{user}}" class="minutes minutes-spent" colspan="4">{{ data.1|divide:60 }}</td>
        </tr>
    {% endfor %}
</table>
{% endfor %}
<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" />
<style>
    /* Sortable tables */
    table.sortable thead {
        background-color:#eee;
        color:#666666;
        font-weight: bold;
        cursor: default;
    }
    .heading {
    border-bottom: 1px dotted #666;
    text-align: center!important;
    margin-bottom: 10px;
    }
    .table-heading {
    background: rgb(91, 165, 200);
    text-align: center!important;
    font-size: 15px;
    color: #FDFAFA;
    }
    td{
        text-align: center!important;
    }
</style>
<script src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/socket.io/socket.io.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/sorttable.js"></script>
<script>
$(document).ready(function(){
    var BREAKTIMER = {
        'Snacks': 15,
        'Break': 15,
        'Un-Available': 15,
        'Lunch': 30,
        'Training': 5,
        'AutoCallOff': 3,
        'Login': 1
    }
    function runTimer(){
        $('.time-spent').each(function(index, elem){
            var timer = parseInt(elem.textContent);
            elem.textContent = timer + 1;
            var minuteElem = $(elem).parent().children('.minutes')[0]
            minuteElem.textContent = parseInt((timer + 1)/60);
        });
    };
    setInterval(function(){
        runTimer();
    }, 1000);
    function alertOnOverBreak(){
        $('.ameyo-data').each(function(index, elem){
            //debugger;
            var status = $(elem).children('.status')[0].textContent;
            if(BREAKTIMER[status]){
                var timer = parseInt($(elem).children('.minutes')[0].textContent);
                if(timer >= BREAKTIMER[status]){
                    $(elem).css('background-color', 'red');
                }
            }
        });
    }
    alertOnOverBreak();
    setInterval(function(){
        alertOnOverBreak();
    }, 15000);
    function updateUserStatus(username, status){
        $('#status_'+username).text(status);
        $('#time_'+username).text(0);
        $('#time_'+username).parent().css('background-color', '');
    }

    //////////////////// SOCKETIO CONTROL CODE //////////////////////////
    // $('#alert_message').modal({'show':true, "backdrop": "static"});
    // $('#alert_message_body').html("Connecting to update server ...");
    var APP_HOST = "{{settings.NODE_URL}}";
    //var socket = new io.connect(APP_HOST, {rememberTransport:false, transports:['flashsocket']});
    var socket = io(APP_HOST);
    socket.on('connect', function() {
        $('#alert_message_body').html("Checking server health ...");
        $('#alert_message_body').html("Connected and ready to go ...");
        $('#alert_message').modal('hide');

        var channels = [];
        $('.username').each(function(index, elem){
            channel = "ameyo_" + elem.textContent;
            channels.push(channel);
        });
        socket.emit('subscribe_to_campaign', {'channels': channels, 'user': '{{request.user.id}}'});
    });
    socket.on('update', function(message) {
        var command = message.msg.command;
        var udata_data = message.msg.data;
        if(command == 'advisor_changed_status'){
            updateUserStatus(udata_data.username, udata_data.status);
        }
    });
    socket.on('disconnect', function() {
        $('#alert_message').modal({'show':true, "backdrop": "static"});
        $('#alert_message_body').html("Update server dropped connection. Kindly refresh to check the connection. Please contact Glitterbug at ranedk@glitterbug.in or contact your IT for firewall and network issues.");
    });
});
</script>
{% endblock %}