{% extends "bootbase.html" %}
{% block main %}
<div class='row-fluid'>
    <h2>Fresh leads in auto assign bucket</h2>
    <table class="table table-hover" data-height="299" data-sort-name="name"
           data-sort-order="desc">
        <thead>
            <tr>
                <td>
                    <b>Campaign Wise Data : <font color="red">{{ last_updated }}</font></b>
                </td>
                <td style='text-align: right'>
                    <font color="blue">Total</font>
                </td>
                <td style='text-align: right'>
                    <font color="blue">Today</font>
                </td>
                <td style='text-align: right'>
                    <font color="blue">Yesterday</font>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for campaign_name, total_count, today_count, yesterday_count in motor_data %}
            <tr>
                <td>
                    {{ campaign_name }}
                </td>
                <td class='total_total_count' style='text-align: right'>
                    {{ total_count }}
                </td>
                <td class='total_today_count' style='text-align: right'>
                    {{ today_count }}
                </td>
                <td class='total_yesterday_count' style='text-align: right'>
                    {{ yesterday_count }}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    Total
                </td>
                <td id='total_total_count' style='text-align: right'>

                </td>
                <td id='total_today_count' style='text-align: right'>

                </td>
                <td id='total_yesterday_count' style='text-align: right'>

                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
<script>
    function calculate_totals(){

        total_total_count = 0;
        $('.total_total_count').each(function() { total_total_count += parseInt($(this).html()) });
        $('#total_total_count').html(total_total_count);

        total_yesterday_count = 0;
        $('.total_yesterday_count').each(function() { total_yesterday_count += parseInt($(this).html()) });
        $('#total_yesterday_count').html(total_yesterday_count);

        total_today_count = 0;
        $('.total_today_count').each(function() { total_today_count += parseInt($(this).html()) });
        $('#total_today_count').html(total_today_count);

    }
    calculate_totals();
</script>
{% endblock %}
