<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Click2Call</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/img/favicon.ico" />

    <!-- Le styles -->
    <!--link href="{{STATIC_URL}}css/bootstrap.min.responsive.css" rel="stylesheet"-->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/jquery.dataTables.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet">
    {%block header_js_css%}{%endblock header_js_css%}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{STATIC_URL}}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{STATIC_URL}}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{STATIC_URL}}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{STATIC_URL}}ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Click 2 Call</a>
          <div class="nav-collapse">
            <ul class="nav">
                {%if request.user.userprofile.role == 'CALLER'%}
                {%else%}
                <li class="active"><a href="/">Home</a></li>
                {%endif%}
              <!--li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li-->
                {%if request.user.is_authenticated%}
                <li><a href="javascript:void();">{%if request.user.get_full_name%}{{request.user.get_full_name}}{%else%}{{request.user.username}}{%endif%}</a></li>
                    <li><a id='logout_id' href="/accounts/logout/">Logout</a></li>
                {%else%}
                    <li><a href="/accounts/login/">Login</a></li>
                {%endif%}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    {%block popups%} {%endblock%}
    <div class="container">
    {%block main%}
        <h1>Bootstrap starter template</h1>
        <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
    {%endblock%}
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="{{STATIC_URL}}js/underscore-min.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-transition.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-alert.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-modal.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-dropdown.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-scrollspy.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-tab.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-tooltip.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-popover.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-button.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-collapse.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-carousel.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap-typeahead.js"></script>
    <script src="{{STATIC_URL}}js/picnet.table.filter.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.dataTables.min.js"></script>
    {%block footer_js_css%}{%endblock%}

</body>
</html>
