{% extends "bootbase.html" %}
{% load manip_data %}

{% block header_js_css %}
    <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript"></script>
{% endblock %}

{%block popups %}
    <div id="notes_slider" class="notes_slider clearfix">
        <a id="take_notes" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Take Notes</a>
        <form class="form-vertical span3">
            <label> Write notes</label>
            <textarea class="" name="notes" id="id_notes">{{user_data.notes}}</textarea>
            <a href="javascript:void(0);" id="save_notes" class="btn btn-success">save</a>
            <span id="notes_status" style="color:red;display:none;">saved</span>
        </form>
    </div><!--/.notes_slider-->

    <div class="modal hide" id="break_message">
      <div class="modal-body">
          <div id="break_message_body">
              <span id="break_time" style="font-size:40px;color:#455CB9;"></span>
          </div>
      </div>
    </div>

    <div class="modal hide" id="popup_call_form">
      <div class="modal-header">
      </div>
      <div class="modal-body">
          <img id="call_loader" src="{{STATIC_URL}}img/loading.gif">
          <div id="call_form_response"></div>
      </div>
    </div>
    <div class="modal span12" style="display:none;" align=''id="incoming_call_popup">
      <div class="modal-body">
          <div id="incoming_call_response">
          </div>
      </div>
    </div>

    <div class="modal span12" style="display:none;" align=''id="transfer_call_popup">
      <div class="modal-body">
          <div id="transfer_call_response">
          </div>
      </div>
    </div>

    <div class="modal hide" id="alert_message">
        <!--a class="btn close" data-dismiss="modal" href="#"><i class="icon-remove"></i></a-->
      <div class="modal-header">
        <h3>Alert : Requires Attention</h3>
      </div>
      <div class="modal-body">
          <div id="alert_message_body"></div>
      </div>
    </div>

{%endblock%}

{% block main %}


<div id="open-requirements"style="position: fixed; left: 0px; height: 328px; width: 200px;padding: 1px 14px 1px 0px;z-index: 10000;background-color: #FFFFFF;overflow-y: auto;" class="hide">
    <h4 align="center"><U>Open Requirements</U></h4>
    <br/>
    <div id="open-requirements-content"></div>
</div>

<div id="ameyo-status-box" style="position:fixed;right:0px;top:70%;margin-top:-164px;height:100px;width:150px;z-index:10000;background: #fff;padding: 10px;box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.12);border-radius: 3px;text-align: center;">
    <h4>Ameyo timer</h4>
    <br/>
    <h4 id="ameyo-status">{{user_data.ameyo_data.0}}</h4>
    <br/>
    <h4 id="ameyo-timer" class="hide">{{user_data.ameyo_data.1}}</h4>
    <h4 id="ameyo-timer-minutes">{{user_data.ameyo_data.1|divide:60}}</h4>
</div>

<div style="position:fixed;right:0px;bottom:0px;margin-top: -164px;height:100px;width:100px;z-index:10000;background: #fff;padding: 10px;box-shadow: 0px 1px 4px 0 rgba(0,0,0,0.12);border-radius: 3px;">
{% if is_qualifier %}
    <h4>AVAILABLE CLOSURE USERS</h4>
    <p id="callerExpertise" style="display: none">{{expertise|lower}}</p>
    <br/>
    <h2 id="closureCountId">0</h2>
{% endif %}
</div>

<div id='ridCookieDiv' style='display:none'>
    <iframe id="ridCookieIframe"></iframe>
</div>
<div id='ameyoIframeDiv' style="position: fixed; width: 1000px; height: 70px; border-radius: 6px 6px 0px 0px; z-index: 1000000; background-color: #fff; top: 40px;">
    <iframe style="border:none;" width="100%" id="ameyoIframe"></iframe>
</div>
<div class="row-fluid" style="margin-top:70px;">
    <div class="span12">
        <ul class="nav nav-tabs" id="calls_tab">
            {%for did, verbose in call_data%}
            <li>
                <a href="#{{did}}_calls" data-toggle="tab">
                    {{verbose}}
                    <span class="badge badge-success" id="{{did}}_calls_count">0</span>
                </a>
            </li>
            {%endfor%}
            <li>
                <a href="#search" data-toggle="tab">Search
                    <span class="badge badge-success" id="search_calls_count">0</span>
                </a>
            </li>
            <li>
                <a href="#search_by_number" data-toggle="tab">Search by number
                </a>
            </li>
            <!-- === Health Qualifier Details Click- Start === -->
            <li>
                <a href="/caller/dashboard/health/summary/" target="_blank" id="health_qualification_team_click">
                    Qualification Team
                </a>
            </li>
            <!-- === Health Qualifier Details Click - End === -->
            <li>
                <a href="#likely_to_buy_bucket" id="likely_to_buy_click" data-toggle="tab">Likely to Buy
                </a>
            </li>
            <!-- === Customer Scheduled Callbacks List - Start === -->
            <li>
                <a href="/caller/dashboard/motor/customer-req-callback/{{profile.id}}" target="_blank">
                    Customer Scheduled Callbacks
                </a>
            </li>
            <!-- === Customer Scheduled Callbacks List - End === -->
            <li style="width:270px;" id="is_taken_true_numbers" class="pull-right">
            </li>
            <div class="pull-right"><a href="/caller/dashboard/summary" target="_blank" id="dashboard_summary_tab">Summary</a></div>
        </ul>

        <div class="tab-content">

            {%for did, verbose in call_data%}
            <div class="tab-pane active" id="{{did}}_calls">
                <div class='row-fluid calls_content' id="{{did}}_content">
                </div> <!-- row-fluid -->
            </div> <!-- tab content did_calls -->
            {%endfor%}
            <div class="tab-pane" id="search">
                <div class='row-fluid'>
                    <form id="search_customer_form" action="/ajax/caller/dashboard/search/" method="post">
                        {% csrf_token %}
                        {{ search_customer_form }}
                        <br/>
                        <br/>
                        <button id="search_customer_form_btn" type="submit" class="btn">Search</button>
                    </form>
                    <div class='row-fluid calls_content' id="search_content"></div>
                </div> <!-- row-fluid -->
                <button type="reset" id="reset_search_content" class="btn btn-warning">Reset</button>
            </div> <!-- tab content did_calls -->
            <div class="tab-pane" id="search_by_number">
                <div class='row-fluid'>
                    <form id="search_by_number_form" action="/ajax/search-by-number/" method="post">
                        {% csrf_token %}
                        {{ number_search_form }}
                        <button id="search_by_number_btn" type="submit" class="btn">Search</button>
                        <img class="small-loader" id="search_by_number_loader" src="{{ STATIC_URL }}/img/ajax-loader.gif">
                    </form>
                    <div class='row-fluid calls_content' id="number_search_content"></div>
                </div> <!-- row-fluid -->
                <button type="reset" id="reset_number_search_content" class="btn btn-warning">Reset</button>
            </div>
            <div class="tab-pane" id="health_qualification_team">
            </div><!-- tab content health_qualifier_team -->
            <div class="tab-pane" id="likely_to_buy_bucket">
            </div>
        </div> <!-- tab-content -->
    </div> <!-- span9 -->
</div>
<div id="click_call_loader">
    <img src="{{STATIC_URL}}img/ajax-loader.gif">
</div>

{%endblock%}

{% block footer_js_css %}
<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<script src="{{ STATIC_URL }}js/json2.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.form.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.timeago.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/moment.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.timer.js" type="text/javascript"></script>
<!--script src="{{ STATIC_URL }}js/sprintf_0.7.js" type="text/javascript"></script-->
<link href="{{ STATIC_URL }}css/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
<script src="{{ STATIC_URL }}js/jquery.datetimepicker.js" type="text/javascript"></script>
<script>
var CSRF_MIDDLEWARE_TOKEN = "{{csrf_token}}";
var start;
var end;
var customerPhone = "qq";
var additionalParams="dummy";
var USERNAME='{{profile.dialer_username}}';
var EXTENSION_NO='{{profile.dialer_extension}}';
var IS_PRODUCTION='{{settings.PRODUCTION}}';
</script>

<style type='text/css'>
    .xdsoft_datetimepicker{
        z-index: 1000000;
    }
    #is_taken_true_numbers{
        display:none;
        padding:4px;
        color: #fff;
        box-shadow:0px 6px 22px #FF0000;
        background-color:red;
    }
    .table tbody tr.taken td {
        background-color:#C5F333;
    }
    #ui-datepicker-div select{
        width:55px;
    }
    .compressed.table th, .compressed.table td {
        padding:0px;
    }
    .compressed.table-striped th, .compressed.table-striped td {
        padding:4px;
    }
    h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
        color: #434343;
    }
    #add_new_buy_form_link{
        margin-left: 10px;
        font-size: 13px;
        line-height: 14px;
    }
    .remove-empty-buy-form-link{
        font-size: 22px;
        line-height: 14px;
        border-radius: 18px;
    }

</style>

<!-- template for underscore templating from external file -->
{%include "call_list_element.html"%}

<script type="text/javascript">
    var ameyoBaseUrl = "http://192.168.2.100:8888/";
</script>

<script type="text/javascript" src="/static/js/socket.io/socket.io.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ameyo-integration-local.js?v=2"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ameyo-integration-custom.js?v=4"></script>

<script type="text/javascript">
    $(document).ready(function(){
        var fd;

        console.log("customFunctions", customFunctions, customFunctions.length, typeof(customFunctions));
        if($.isEmptyObject(customFunctions)){
            $('#alert_message').modal({'show':true, "backdrop": "static"});
            $('#alert_message_body').html("Connecting to update server ...");
            alert('An error occurred.\nPlease refresh your page')
            return;
        };

        $(document).on('click', '#qualify-health-lead', function(){
            $('#id_later_time').val($("#qualifier_next_call_time").val());
            $('#id_head_disposition').val('QUALIFIED');
            $('#id_head_disposition').trigger('change');
            $('#id_disposition').val('COLD_TRANSFER');
            $("#id_is_customer_scheduled_1").prop("checked", true)
            $('#qualify-health-lead').prop('disabled', true);
            $('#reassign').prop('disabled', true);
            $('#save_call_form').submit();
        });
        //add div to highlight likely to buy calls
        $('div#in_process_calls').prepend('<div class="row-fluid calls_content" id="likely_to_buy_content"></div>');
        //
        $('#id_notes').val(localStorage.getItem("local_notes"));

        /* Ameyo Status timer */
        var BREAKTIMER = {
            'Snacks': 15,
            'Break': 15,
            'Un-Available': 15,
            'Lunch': 30,
            'Training': 5,
            'AutoCallOff': 3,
            'Login': 1
        }
        function runTimer(){
            var elem = $('#ameyo-timer');
            var timer = parseInt(elem.text());
            elem.text(timer + 1);
            $('#ameyo-timer-minutes').text(parseInt((timer+1)/60));
        };
        setInterval(function(){
            runTimer();
        }, 1000);
        function alertOnOverBreak(){
            var status = $("#ameyo-status").text();
            if(BREAKTIMER[status]){
                var timer = parseInt($('#ameyo-timer-minutes').text());
                if(timer >= BREAKTIMER[status]){
                    $('#ameyo-status-box').css('background-color', 'red');
                }
            }
        }
        alertOnOverBreak();
        setInterval(function(){
            alertOnOverBreak();
        }, 15000);

        /*NOTES SLIDER*/
        $("#take_notes").toggle(
            function(){
                $("#notes_slider").animate({
                    width: "262px",
                }, 100 );
            },
            function(){
                $("#notes_slider").animate({
                    width: "30px",
                }, 100 );
            }
        );
        $("#id_notes").focus(function(){
            $("#notes_status").hide();
        });
        $("#save_notes").click(function(){
            if (typeof(Storage) != "undefined"){
                // Store
                localStorage.setItem("local_notes", $('#id_notes').val());
                $("#notes_status").show();
            }
            else{
                alert("Sorry, your browser does not support Local Storage.");
            }
            $.post("/ajax/save-notes/", {'notes': $("#id_notes").val()}, function(data){
                if(data == "OK"){
                    $("#notes_status").show();
                }
            });
        });
        /////////////////////////

        $.get('/ajax/load-initial-calls/', function(call_data){
            // id, verbose, data
            _.each(call_data, function(call_list){
                _.each(call_list[2], function(ele){
                    var content = _.template($('#data_template').html(), ele);
                    $("#"+call_list[0]+"_content").prepend(content);
                })
                $("#"+call_list[0]+"_calls_count").html(call_list[2].length);
            });
        });
        $('#likely_to_buy_click').click(function(){
            $.get('/likely-to-buy-list/', function(data){
                var ltb_data = (data);
                $('#likely_to_buy_bucket').html(data);
            });
        });

        $('#alert_message').modal({'show':true, "backdrop": "static"});
        $('#alert_message_body').html("Connecting to update server ...");

        $('#calls_tab a:first').tab('show');

        var reset_popup = function(){
            $("#call_loader").show();
            $("#call_form_response").empty();
        }

        $('#popup_call_form').on('hidden', function (evt) {
            //Bug in bootstrap, event bubbling with collapse inside modal issue
            if(evt.target.className.indexOf('accordion') >= 0){
                evt.stopPropagation();
            } else {
                reset_popup();
            }
        });

        $("#product_details_accordian").on('hidden', function(evt) {
            evt.stopPropagation();
        });

        $("#id_last_call_time_from").datetimepicker({formatDate:'Y-m-d', step:60, format:  "Y-m-d H:i"});
        $("#id_last_call_time_to").datetimepicker({formatDate:'Y-m-d', step:60, format:  "Y-m-d H:i"});
        $("#id_next_call_time_from").datetimepicker({formatDate:'Y-m-d', step:60, format:  "Y-m-d H:i"});
        $("#id_next_call_time_to").datetimepicker({formatDate:'Y-m-d', step:60, format:  "Y-m-d H:i"});
        $("#id_created_on_from").datetimepicker({formatDate:'Y-m-d', step:60, format:  "Y-m-d H:i"});
        $("#id_created_on_to").datetimepicker({formatDate:'Y-m-d', step:60, format:  "Y-m-d H:i"});
        $('#id_past_policy_expiry_date_from').datetimepicker({formateDate:'Y-m-d', step:60, format: "Y-m-d"});
        $('#id_past_policy_expiry_date_to').datetimepicker({formateDate:'Y-m-d', step:60, format: "Y-m-d"});
        $('#id_policy_expiry_date').datetimepicker({formateDate:'Y-m-d', step:60, format: "Y-m-d"});

        $("#search_customer_form").ajaxForm({
            beforeSubmit: function(arr, $form, options) {
                $('#search_customer_form_btn').hide();
                $('#reset_search_content').hide();
            },
            success: function(data){
                $('#search_customer_form_btn').show();
                $('#reset_search_content').show();
                if(data.success){
                    $("#search_content").html("");
                    $('#search_calls_count').html(0);
                    $('.error').html("");
                    $.each(data.response.results, function(i, udata_data){
                        var content =  _.template($('#data_template').html(), udata_data);
                        $("#search_content").prepend(content);
                    });
                    $('#search_calls_count').html(parseInt(data.response.count));
                } else {
                    $.each(data.errors, function(k,v){
                        $('#e_'+k).html(v[0]);
                    });
                }
            },
            error: function() {
                $('#search_customer_form_btn').show();
                $('#reset_search_content').show();
            }
        });
        $('#reset_search_content').click(function(){
            $("#search_content").html("");
            $('#search_calls_count').html(0);
        });

        $("#search_by_number_form").ajaxForm({
            beforeSubmit: function(arr, $form, options) {
                $('#search_by_number_btn').hide();
                $('#reset_number_search_content').hide();
            },
            success : function (data) {
                $('#search_by_number_btn').show();
                $('#reset_number_search_content').show();
                if(data.success){
                    $('#search_by_number_loader').hide();
                    $("#number_search_content").html("");
                    $('.error').html("");
                    $.each(data.response.results, function(i, udata_data){
                        var content =  _.template($('#data_template').html(), udata_data);
                        $("#number_search_content").prepend(content);
                    });
                }
                else {
                    $.each(fdata.errors, function(k,v){
                        $('#e_'+k).html(v[0]);
                    });
                }
            },
            error: function() {
                $('#search_by_number_btn').show();
                $('#reset_number_search_content').show();
            }
        });
        $('#reset_number_search_content').click(function(){
            $("#number_search_content").html("");
        });

        $("#popup_call_form").on('click', "#reassign", function() {
            $('#id_reassign_to_id').val($('#id_reassign_to').val());
            $('#id_head_disposition').val('QUALIFIED');
            $('#id_head_disposition').trigger('change');
            $('#id_disposition').val('CALL_TRANSFER');
            $("#id_is_customer_scheduled_1").prop("checked", true)
            $('#qualify-health-lead').prop('disabled', true);
            $('#reassign').prop('disabled', true);
            $('#save_call_form').submit();
        });

        $(document).on("click", "a.take_call", function(){
            $('#click_call_loader').modal({'show':true, "backdrop": "static"});
            var tid = $(this).attr("id").split("_")[2];
            $('#take_call_'+tid).hide();
            $.get("/ajax/task/"+tid+"/", function(tdata){
                if(!tdata.success){
                    console.log("Error occurred!");
                    $("#take_call_status_"+tid).html(tdata.message);
                    $("#click_call_loader").modal('hide');
                    setTimeout(function(){fade_taken($('#dtable_'+tid))}, 4000);
                } else {
                    var activity_id = tdata.activity_id;
                    var requirements = tdata.requirements;

                    // Display all requirements using <requirements>
                    $('#open-requirements').show();
                    $('#open-requirements-content').html(requirements);

                    // load requirement-form for <primary_requirement>
                    if (IS_PRODUCTION){
                        var ridUrl = "{{ SET_RID_COOKIE_URL }}?rid="+primary_requirement;
                    }
                    var primary_requirement = tdata.primary;
                    render_requirement_form(primary_requirement, tid, activity_id);
                    // TODO
                    // Display all requirements using <requirements>
                    $('#open-requirements').show();
                    $('#open-requirements-content').html(requirements);
                    $("a.switch_requirement").unbind().click(function(){
                        var requirement = $(this).attr('id').split('_')[2];
                        open_requirement_form(requirement, tid, activity_id);
                    });
                }
            }).always(function() {
                $('#take_call_'+tid).show();
            });
        });

        function open_requirement_form(requirement, tid, activity_id){
            // load requirement-form for <requirement>
            $.get("/requirement-form/"+requirement+"/?task="+tid+"&activity="+activity_id, function(fdata){
                if(!fdata.success){
                    $("#take_call_status_"+tid).html(fdata.message);
                    $("#click_call_loader").modal('hide');
                } else {
                    render_requirement_form(fdata.message);
                }
            });
        }

        function render_requirement_form(rdata, tid, activity_id){
            if (IS_PRODUCTION){
                var ridUrl = "{{ SET_RID_COOKIE_URL }}?rid="+requirement;
                $('#ridCookieIframe').attr('src', ridUrl);
            }
            $('#popup_call_form').modal({'show':true, "backdrop": "static"});
            $("#click_call_loader").modal('hide');
            $("#call_loader").hide();
            $("#call_form_response").html(rdata);

            var cloned_list = $("select#id_disposition").clone();
            var empty_opt = "<option value=''>---------------</option>";
            var dmap = eval({{DISPOSITION_MAP|safe}});

            $('#save_call_btn').hide();
            $('select#id_disposition').change(function(){
                if($(this).val() == ""){
                    $('#save_call_btn').hide();
                }else{
                    $('#save_call_btn').show();
                }
            });

            $('#id_head_disposition').change(function(){
                var head_val = $(this).val();
                $('select#id_disposition').empty();
                $('#save_call_btn').hide();
                $('#click_call_loader').modal('hide');
                $('#save_call_loader').hide();
                $("select#id_disposition").append($(empty_opt).clone());
                if(head_val == "") {
                    $("select#id_disposition").val("");
                    return;
                }
                $.each($(cloned_list).find('option'), function(i,opt){
                    if(dmap[$('#id_head_disposition').val()].indexOf($(opt).attr('value')) >= 0){
                        $("select#id_disposition").append($(opt).clone());
                    }
                });
                $("select#id_disposition").val("");
            });
            $('#id_head_disposition').trigger('change');
            $('#id_later_time').attr("readonly", true);
            $("#id_later_time").datetimepicker({formatDate:'Y-m-d', formatTimeScroller: 'g:i a', step:15, minDate:0, minTime: "{{shift_timings.start}}", maxTime: "{{shift_timings.end}}", format:  "Y-m-d H:i"});
            $('#qualifier_next_call_time').attr("readonly", true);
            $("#qualifier_next_call_time").datetimepicker({formatDate:'Y-m-d', formatTimeScroller: 'g:i a', step:15, minDate:0, minTime: "{{shift_timings.start}}", maxTime: "{{shift_timings.end}}", format:  "Y-m-d H:i"});
            $('#id_past_policy_expiry_date').attr("readonly", true);
            $("#id_past_policy_expiry_date").datetimepicker({ showTimepicker: false, formatDate:'Y-m-d', format:  "Y-m-d", timepicker:false});
            $("#id_travel_date").datetimepicker({ timepicker: false, formatDate:'Y-m-d', format:  "Y-m-d",});

            $('#save_call_btn').on('click', function(){
                $('#save_call_loader').show();
                var buy_form_link_list = "";
                $('.buy_form_link').each(function(){
                    if($(this).val()){
                        buy_form_link_list += ($(this).val()+",");
                    }
                });
                $('#id_buy_form_links_list').val(buy_form_link_list);
            });
            $('#save_call_form').ajaxForm({
                beforeSubmit: function(arr, $form, options) {
                    $('#save_call_btn').hide();
                    arr.push({'name': 'crt_obj_id', 'value': CRTOBJECTID});
                    arr.push({'name': 'call_type', 'value': call_type});
                    arr.push({'name': 'call_start_time', 'value': start});
                    arr.push({'name': 'call_end_time', 'value': end});
                },
                success: function(cfdata) {
                    $('#save_call_btn').show();
                    $('#save_call_loader').hide();
                    if(cfdata.success){
                        CRTOBJECTID = null;
                        $('#popup_call_form').modal('hide');
                        $('#open-requirements').hide();
                    } else {
                        $.each(cfdata.errors, function(k,v){
                            $("#id_error_"+k).html(v.join(","));
                            $("#id_"+k).parent().parent().addClass('error')
                        })
                    }
                },
                error: function() {
                    $('#save_call_btn').show();
                }
            });
        }

        var fade_taken = function(ele){
            if(ele) {
                $(ele).animate({
                    opacity : 0
                }, 1000, function(){
                    if($(ele).parent().parent().attr('id') == 'requirement_FRESH_new_calls'){
                        $('#requirement_FRESH_new_calls_count').html(parseInt($('#requirement_FRESH_new_calls_count').html()) - 1);
                    }
                    if($(ele).parent().parent().attr('id') == 'requirement_QUALIFIED_calls'){
                        $('#requirement_QUALIFIED_calls_count').html(parseInt($('#requirement_QUALIFIED_calls_count').html()) - 1);
                    }
                    if($(ele).parent().parent().attr('id') == 'requirement_FRESH_ringing_calls'){
                        $('#requirement_FRESH_ringing_calls_count').html(parseInt($('#requirement_FRESH_ringing_calls_count').html()) - 1);
                    }
                    if($(ele).parent().attr('id') == 'search_content'){
                        $('#search_calls_count').html(parseInt($('#search_calls_count').html()) - 1);
                    }
                    $(this).remove();
                    if (IS_PRODUCTION){
                        var ridUrl = "{{ SET_RID_COOKIE_URL }}";
                        $('#ridCookieIframe').attr('src', ridUrl);
                    }
                });
            }
        };
        //////////////////// SOCKETIO CONTROL CODE //////////////////////////
        var APP_HOST = "{{NODE_URL}}";
        var socket = io(APP_HOST);
        function update_ui(udata_command, udata_data) {
            //Fail safe in case duplicats ids already exist
            var content =  _.template($('#data_template').html(), udata_data);
            var if_exists = false;
            if($("div#dtable_"+udata_data.next_task_id).parent().parent().attr('id') == 'requirement_FRESH_new_calls'){
                console.log("Report this error: ", udata_command, udata_data, " Data already exists in requirement_FRESH_new_calls");
                if_exists = true;
            }
            if($("div#dtable_"+udata_data.next_task_id).parent().parent().attr('id') == 'requirement_FRESH_ringing_calls'){
                console.log("Report this error: ", udata_command, udata_data, " Data already exists in requirement_FRESH_ringing_calls");
                if_exists = true;
            }
            if($("div#dtable_"+udata_data.next_task_id).parent().parent().attr('id') == 'requirement_QUALIFIED_calls'){
                console.log("Report this error: ", udata_command, udata_data, " Data already exists in requirement_QUALIFIED_calls");
                if_exists = true;
            }

            if(if_exists) {
                $("tr#dtable_"+udata_data.id).replaceWith(content);
            } else {
                var call_count_elem = $('#'+udata_command+'_calls_count');
                call_count = parseInt(call_count_elem.html());
                if(isNaN(call_count)){
                    call_count = 0;
                }
                $('#'+udata_command+'_content').prepend(content);
                $(call_count_elem).html(call_count + 1);
            }
        }

        socket.on('connect', function() {
            $('#alert_message_body').html("Checking server health ...");
            $('#alert_message_body').html("Connected and ready to go ...");
            $('#alert_message').modal('hide');
            socket.emit('subscribe_to_channels', {'channels': ['user_{{profile.id}}', 'system'], 'user': '{{profile.id}}', 'disallow_multiple': 'true'});
        });

        socket.on('update', function(message) {
            var command = message.msg.command;
            var udata_data = message.msg.data;
            console.log(message);

            if(command == 'notify_user'){
                alert("MESSAGE FROM ADMINISTRATOR\n" + udata_data);
            }
            if(command == 'task_FRESH_new' || command == 'task_FRESH_ringing' || command == 'task_QUALIFIED'){
                update_ui(command, udata_data);
            }
            if(command == 'requirement_FRESH_new' || command == 'requirement_FRESH_ringing' || command == 'requirement_QUALIFIED'){
                update_ui(command, udata_data);
            }
            if(command == 'task_remove'){
                fade_taken($("div#dtable_"+udata_data));
            }
            if(command == 'requirement_transfer_lead'){
                console.log('caller_id', message);
                if(parseInt("{{profile.id}}") == parseInt(udata_data.caller_id)){
                    $('#transfer_call_popup').modal({'show':true, "backdrop": "static"});
                    $.get("/get-transfer-call-popup/?mobile=" + udata_data.customerPhone + "", function(gdata){
                        $("#transfer_call_response").html(gdata.message);
                        $(".take_to_incoming_call_form").unbind().click(function(){
                            tid = $(this).attr('id').split('_').pop();
                            $('#transfer_call_popup').modal('hide');
                            window.open("/incoming-task-form/?task=" + tid + "&mobile=" + udata_data.customerPhone + "&html=true");
                        });
                        $("#close_transfer_call_response_popup").on("click", function(){
                            if(confirm("Do you really want to Cancel?")){
                                $('#transfer_call_popup').modal('hide');
                            }
                        });
                    });
                }
            }
            if(command == 'remove_incoming_call_popup'){
                if(parseInt("{{profile.id}}") == parseInt(udata_data.caller_id)){
                    $('#incoming_call_popup').modal('hide');
                }
            }
            if(command == 'remove_transfer_call_popup'){
                if(parseInt("{{profile.id}}") == parseInt(udata_data.caller_id)){
                    $('#transfer_call_popup').modal('hide');
                }
            }
            if(command == 'update_available_count'){
                var expertise = $('#callerExpertise').html();
                var queue_name_expertise = udata_data.queue_name.split('_')[1].split('-')[0];
                if(expertise == queue_name_expertise){
                    $("#closureCountId").html(udata_data.count);
                }
            }
            if(command == 'advisor_changed_status'){
                $('#ameyo-status').text(udata_data.status);
                $('#ameyo-timer').text(0);
                $('#ameyo-status-box').css('background-color', '');
            }
        });

        socket.on('disconnect', function() {
            $('#alert_message').modal({'show':true, "backdrop": "static"});
            $('#alert_message_body').html("Update server dropped connection. Kindly refresh to check the connection. Please contact Glitterbug at ranedk@glitterbug.in or contact your IT for firewall and network issues.");
        });

        $(document).on('click', '#transfer-call', function(){
            var rid = $('#id_requirement_id')[0].value;
            var mobile = ($('#id_mobile')[0].value).toString().substr(-10);
            socket.emit('call_transfer', {'mobile': mobile, 'rid': rid});
        });

        var crmOrigin;
        function initialize() {
            crmOrigin = window.location.href;
            iframeUrl = ameyoBaseUrl + "ameyowebaccess/toolbar-hz.htm?";
            iframeUrl = iframeUrl + "origin=" + crmOrigin;

            $('#ameyoIframe').attr('src', iframeUrl);
            setTimeout(function(){
                doLogin("{{profile.dialer_username}}", "{{profile.dialer_username}}");
            }, 4000);
        }

        function logout() {
            doLogout();
        }
        function getExtensionInfo(){
            var ext_info = {
                name: {{profile.dialer_extension}} + "_DefaultVR",
                phone: "1"
            };
            return ext_info;
        }

        function dialGivenNumber(number){
            handleCallAttempted()
            mobile_no = number.slice(-10);
            mobile_no = "{{num_prefix}}"+mobile_no;
            doDial(mobile_no);
        }

        $("#popup_call_form").on('click', ".ameyo-call-btn" , function(){
            var cd_id = $(this).next().text();
            if(!$(this).hasClass("disabled")){
                var mobile_no = $(this).attr("id").split("_")[2];
                dialGivenNumber(mobile_no);
            }
        });
        $("#popup_call_form").on('click', "#manual-dial-button", function(){
            dialGivenNumber($('#manual-dial-input').val());
        });

        $('#logout_id').click(function(){
            doLogout();
        });

        initialize();
    });
</script>
<style>
#id_is_customer_scheduled{
    width: 20px;
    height: 20px;
}
iframe#ameyoIframe{
    height: 75px;
}
.xdsoft_datetimepicker  .xdsoft_time_box >div >div.xdsoft_disabled{
    display:none;
}
.small-loader{
    display:none;
    width: 30px;
}
#incoming_call_popup{
    display: block;
    position: fixed;
    margin: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
</style>
{% endblock %}
