<script type="text/javascript">
    var loggedIn = {
        'userId' : {{profile.id}},
    }
</script>

<script type="static_content" id="data_template">

<div id="dtable_<%=next_task_id%>" class="user_details_holder dtable<% if(is_taken){ %> taken<%}%>">
    <div class="span12 clearfix">
        <div class="span9">
            <h3><i class="icon-user"></i>
                {% if 'MANAGER' == user_role %}
                    <input class="bulk_select" type="checkbox" id="bulk_select_<%=id%>">
                {% endif %}
                <%=name%> |
                <small>Since: <b class="red-color"><span class="ago_time"><%=created_on%></span><span></span>(<i></i>)</b></small> |
                <small><span class="badge badge-info"><%=call_history_count%></span> calls made</small> |
                <span><%=campaign %></span>
            </h3>
        </div>
        <div class="span3">
            <img src="/static/img/phone.png" alt="" width="25" class="pull-left">
            <h3 style="display:inline;" class="pull-left">&nbsp;<%=mobile%></h3>
            <img src="/static/img/<%=online_transaction_status%>.png" alt="" height="35" style="display:<%=is_online_transaction_attempted%>" class="pull-right">
        </div>
    </div><!--/.span12-->

    <div class="clearfix"></div>
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="span9">
                    <% if(owner_name){ %>
                       <h6 class="label label-info">Assigned To <%= owner_name %></h6>
                    <% } %>
                <div class="row-fluid">
                    <div class="span6">
                        <table class="table table-striped table-bordered table-condensed">
                            <tbody>
                                <tr>
                                    <th>State</th><td><%=state%></td>
                                </tr>
                                <tr>
                                    <th>UTM Campaign</th><td><%=utm_campaign%></td>
                                </tr>
                                <tr>
                                <% if(product_type == 'motor'){ %>
                                     <th>RTO Info</th><td><%=rto_info%></td>
                                <% }else{ %>
                                     <th>Agent Selected</th><td><%=agent%></td>
                                <% } %>
                                </tr>
                                <tr>
                                    <th>Last Call Disposition</th><td><%=last_head_disp_verbose%></td>
                                </tr>
                                <tr>
                                    <th>Last Sub Disposition</th><td><%=last_call_disp%></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!--/.span6-->
                    <div class="span6">
                        <table class="table table-striped table-bordered table-condensed">
                            <tbody>
                                <% if(product_type == 'motor'){ %>
                                    <tr>
                                        <th>Policy expiry date</th>
                                        <td><%=past_policy_expiry_date%></td>
                                    </tr>
                                <% } %>
                                <tr>
                                    <th>Label</th><td <% if(label=='inspection-form'){ %>style="color:red;font-weight:bold;"<% } %>><%=label%></td>
                                <tr>
                            </tbody>
                        </table>
                        <strong>Lead Notes</strong>
                        <div style="height:60px;overflow-y:auto;"><%=notes%></div>
                    </div><!--/.span6-->



                </div><!--/.row-fluid-->
            </div><!--/.span8-->
            <div class="span3">
                <ul class="unstyled">
                    <% if(last_call_time){ %>
                    <li>
                    <div class="label label-inverse">Last: <span class="ago_time"><%=last_call_time%></span><br/>
                            (<i></i>)</div>
                    </li>
                    <% } %>
                    <% if(next_call_time){ %>
                    <li>
                    <div class="label label-important">Next: <span class="ago_time"><%=next_call_time%></span><br/>
                            (<i></i>)</div>
                    </li>
                    <% } %>
                </ul>
                <% if(next_task_assigned_id == loggedIn.userId){ %>
                    <span id="take_call_status_<%=next_task_id%>"><a href="javascript:void(0);" class="gbtn take_call" id="take_call_<%=next_task_id%>"><img src="/static/img/phone.png" width="15" alt="" /> Click To Call</a></span>
                <% } %>
                {% if 'MANAGER' == user_role %}
                    <span><a href="javascript:void(0);" class="btn btn-success view_customer_details" id="view_details_<%=id%>"><img src="/static/img/phone.png" width="15" alt="" /> View Details</a></span>
                {% endif %}

                <a href="#" class="rtooltip">
                    History
                    <span>
                        <table class="table table-striped table-bordered table-condensed"><% _.each(call_history_summary, function(ch) { %>
                                <tr><td><%=ch[0]%></td><td><%=ch[1]%></td><td><%=ch[2]%></td></tr>
                            <% });
                        %></table>
                    </span>
                </a>
                <% if (typeof dnd_status !== "undefined") { %>
                <span class="btn btn-danger" style="margin: 10px"><%=dnd_status%></span>
                <% } %>
                <% if (is_taken) { %>
                <span style="margin: 10px">Call last taken by <b><%=taken_by_caller%></b></span>
                <% } %>
            </div><!--/.span4-->
        </div><!--/.span12-->
    </div><!--/.row-fluid-->
</div><!--/.row-fluid-->

</script>
