{% extends "bootbase.html" %}
{% block main %}
<div id="health_qualifier_details">

</div>
<script src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
<script>
$(document).ready(function(){
    setInterval(function(){
        get_summary()
    }, 90000);

    function get_summary(){
        /* === Health Qualifier Details - Start */
        $.get('/caller/dashboard/health/qualification-team/', function(data){
            $('#health_qualifier_details').html(data);

            responseData = data
            total_likely_to_buy = 0;
            total_customer_scheduled = 0;

            $('.likely_to_buy_count').each(function() { total_likely_to_buy += parseInt($(this).html()) });
            $('.customer_scheduled_count').each(function() { total_customer_scheduled += parseInt($(this).html()) });

            $('#likely_to_buy_count').html(total_likely_to_buy)
            $('#customer_scheduled_count').html(total_customer_scheduled)
        });
        /* === Health Qualifier Details - End */
    }
    get_summary()

});
</script>
{% endblock %}
