{% extends "bootbase.html" %}
{% block main %}
<h2 class="heading">Qualifier Users</h2>
<table class="table table-bordered" id="callers_qualifier_summary_table">
    <thead>
        <tr class="span3" style="font-weight: bold;">
            <th>Requirement ID</th>
            <th>Mobile</th>
            <th>Name</th>
            <th>Call Time</th>
            <th>Assigned To</th>
            <th>Network</th>
        </tr>
    </thead>
    <tbody>
        {% for user, cds in qualifier_data.items %}
        {% if cds %}
        {% for cd in cds %}
        <tr class="span3">
            <td>{{ cd.id }}</td>
            <td>{{ cd.user.primary_phone }}</td>
            <td>{{ cd.user.full_name }}</td>
            <td>{{ cd.next_crm_task.scheduled_time }}</td>
            <td>{{ user.dialer_username }}</td>
            <td>{{ cd.mid.source }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </tbody>
</table>

<h2 class="heading">Closure Users</h2>
<table class="table table-bordered"  id="callers_closure_summary_table">
    <thead>
         <tr class="span3" style="font-weight: bold;">
            <th>Requirement ID</th>
            <th>Mobile</th>
            <th filter-type="ddl" data-field="customer" data-align="left" data-sortable="true">Name</th>
            <th data-align="left" data-sortable="true">Call Time</th>
            <th filter-type="ddl" data-field="advisor" data-align="left" data-sortable="true">Assigned To</th>
            <th filter-type="ddl" data-field="network" data-align="left" data-sortable="true">Network</th>
        </tr>
    </thead>
    <tbody>
        {% for user, reqs in closure_data.items %}
        {% if reqs %}
        {% for req in reqs %}
        <tr class="span3">
            <td>{{ req.id }}</td>
            <td>{{ req.user.primary_phone }}</td>
            <td>{{ req.user.full_name }}</td>
            <td>{{ req.next_crm_task.scheduled_time }}</td>
            <td>{{ user.dialer_username }}</td>
            <td>{{ req.mid.source }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block footer_js_css %}
<style>
    .heading {
    border-bottom: 1px dotted #666;
    margin-bottom: 10px;
    }
    .table-heading {
    background: rgb(91, 165, 200);
    text-align: center!important;
    font-size: 15px;
    color: #FDFAFA;
    }
    .dataTables_info{
        display:none;
    }

</style>

<script type="text/javascript">
$(document).find('#callers_qualifier_summary_table').DataTable({
    "order": [[3, "desc"]],
    "paging": false,
    "lengthMenu": [[-1], ["All"]]
});
$(document).find('#callers_closure_summary_table').DataTable({
    "order": [[3, "desc"]],
    "paging": false,
    "lengthMenu": [[-1], ["All"]]
});

</script>
{% endblock %}
