{% extends "bootbase.html" %}
{% block main %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Click 2 Call</a>
      <div class="nav-collapse">
        <ul class="nav">
            {%if request.user.userprofile.role == 'CALLER'%}
            {%else%}
            <li class="active"><a href="/">Home</a></li>
            {%endif%}
          <!--li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li-->
            {%if request.user.is_authenticated%}
            <li><a href="javascript:void();">{%if request.user.get_full_name%}{{request.user.get_full_name}}{%else%}{{request.user.username}}{%endif%}</a></li>
                <li><a id='logout_id' href="/accounts/logout/">Logout</a></li>
            {%else%}
                <li><a href="/accounts/login/">Login</a></li>
            {%endif%}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>



<div id="click_call_loader">
    <img src="{{static_path}}/img/ajax-loader.gif">
</div>
<div class="modal hide" id="popup_call_form">
    <div class="modal-header">
    <!--a class="btn close" data-dismiss="modal" href="#"><i class="icon-remove"></i></a-->
    <h3>Call in Progress</h3>
    </div>
    <div class="modal-body">
        <div id="call_form_response"></div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class='row-fluid'>
            <form id="search_by_details_form" class="form-horizontal" action="/ajax/search-customer/" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Search</legend>
                    <div class="span8">
                        <div class='row-fluid'>
                        {%for f in customer_search_form%}
                            <div class="control-group field_element" id="{{f.id_for_label}}_element">
                                <label class="control-label" for="{{f.id_for_label}}">{{f.label_tag}}</label>
                                <div class="controls">
                                    {{f}}
                                    <p class="help-block field_error" id="{{f.id_for_label}}_error"></p>
                                </div>
                            </div>
                        {%endfor%}
                        </div>
                    </div>
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn">Search</button>
                    <button type="reset" id="reset_search_content" class="btn btn-warning">Reset</button>
                </div>
            </form>
            <div class='row-fluid' id='js-assign-block hide'>
                <label for="username">Assign To</label>
                 <select name="username" id="id_assigned_to">
                    {% for advisor in advisors_data %}
                    <option value="{{ advisor.2 }}">{{ advisor.0 }} {{ advisor.1 }}</option>
                    {% endfor %}
                </select>
                <button type="submit" id="submit_bulk_action" class="btn btn-danger">Submit</button>
            </div>
            <div class='row-fluid calls_content' id="search_content"></div>


        </div>
    </div>
</div>
{%include "requirement_txn_detail.html"%}
<script src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">

    var csrf_token = $('input[name=csrfmiddlewaretoken]').val();
    function resetPage(){
        $('form')[0].reset();
        $("#js-assign-block").addClass('hide');
        $("#search_content").html("");
    }

    $("#search_by_details_form").submit(function(event) {
        event.preventDefault();
        $.ajax({
            type: "post",
            url: $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function(data, textStatus, jqXHR) {
                if(data.success){
                    $("#search_content").html("");
                    $('.error').html("");
                    if(data.response.requirements != undefined){
                        var content = _.template($('#data_templat').html(), data.response);
                        $("#search_content").html(content);
                    }
                }
                else {
                    $.each(data.errors, function(k,v){
                        $('#e_'+k).html(v[0]);
                    });
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        })
    })
    $('#reset_search_content').click(function(event) {
        resetPage();
    });
    $(document).on('click', "a.view_customer_details" , function(){
        $('#click_call_loader').modal({'show':true, "backdrop": "static"});
        var pid = $(this).attr("id").split("_")[2];
        $.get("/view-customer-details/"+pid+"/", function(data){
            var fdata = JSON.parse(data);
            if(fdata.success){
                $('#popup_call_form').modal({'show':true, "backdrop": "static"});
                $("#click_call_loader").modal('hide');
                $("#call_form_response").html(fdata.message);
                $("#save_call_loader").hide();
                $('#save_call_btn').hide();
                $('#close-callform-modal').click(function(){
                    $('#popup_call_form').modal('hide');
                });
            }
            else{
                $("#click_call_loader").modal('hide');
            }
        });
    });

    $(document).on('click', '#submit_bulk_action', function(){
        var req_selected_list = [];
        var req_checked_boxes = $('.bulk_select_leads:checked');
        if(req_checked_boxes.size()>0){
            $(req_checked_boxes).each(function(){
                req_selected_list.push($(this).attr('id').split('_')[2]);
            });
            var bulk_action_data = {
                'reassign_to' : $('#id_assigned_to').val(),
                'req_id_list' : req_selected_list,
            }

            $.post('/manager/dashboard/bulk-actions/', {'data' : JSON.stringify(bulk_action_data), 'csrfmiddlewaretoken' : csrf_token, }, function(resp){
                if(!resp['success']) {

                    alert(JSON.stringify(resp['response']));
                    return;
                }
                else{
                    alert('Successfully reassigned selected requirements to user');
                }
                resetPage()
            },'json');
        }
        else{
            alert('Please select a Requirement to assign')
        }
    });

    $(document).on('click', 'input:checkbox', function(event) {
        if ($('input:checkbox:checked').length > 0){
            $('#js-assign-block').removeClass('hide');
        }
        else{
            $('#js-assign-block').addClass('hide');
        }
    });

</script>
{% endblock %}
