{% load manip_data %}
<div id="incoming_call_response" class="row">
<h2>Incoming Call</h2>
    <div class="row">
    {% for req in requirements %}
        <div class="span3" id="div_requirement_{{req.id}}">
            <h3><u>{{req.campaign}}</u></h3>
            <div><b>Name:</b> {{req.name}}</div>
            <div><b>Mobile:</b> {{req.mobile}}</div>
            <div><b>Email:</b> {{req.email}}</div>
            <div><b>Assigned to:</b> {{req.assigned_to}}</div>
            <div><b>History Count:</b>{{req.call_history_count}}</div>
            <br/>
        </div>
    {%endfor%}
    <a id="a_task_{{task_id}}" class="btn btn-success take_to_incoming_call_form">Proceed</a>
    </div>
    <br/>
<a class="btn pull-right" id="close_incoming_call_response_popup">Cancel</a>
</div>
<style>
#incoming_call_response{
    background-color: white;
    width: auto;
    position: fixed;
    left: 30%;
    top: 30%;
    margin-left:0px;
    padding:20px;
}
div{
    font-size: 14px;
}
</style>
