{% extends "bootbase.html" %}

{%block main%}
<div id="open-requirements"style="position: fixed; left: 0px; height: 328px; width: 200px;padding: 1px 14px 1px 0px;z-index: 10000;background-color: #FFFFFF;overflow-y: auto;">
    <h4 align="center"><U>Open Requirements</U></h4>
    <br/>
    <div id="open-requirements-content">
        {{ requirements }}
    </div>
</div>

<div id='ameyoIframeDiv' style="position: fixed; width: 1000px; height: 80px; border-radius: 6px 6px 0px 0px; z-index: 1000000; background-color: #fff; top: 40px;">
    <iframe style="height: 81px; border:none;" width="100%" id="ameyoIframe"></iframe>
</div>
<div id="call_container" style="margin-top: 65px;">
</div>
{%endblock%}

{%block footer_js_css%}
<link href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.18.custom.css" rel="stylesheet" type="text/css" />
<script src="{{ STATIC_URL }}js/json2.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.form.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.timeago.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/moment.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/jquery.timer.js" type="text/javascript"></script>
<!--script src="{{ STATIC_URL }}js/sprintf_0.7.js" type="text/javascript"></script-->
<link href="{{ STATIC_URL }}css/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
<script src="{{ STATIC_URL }}js/jquery.datetimepicker.js" type="text/javascript"></script>

<script type="text/javascript" src="/static/js/socket.io/socket.io.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ameyo-integration-local.js?v=2"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/ameyo-integration-custom.js?v=4"></script>
<script>
var CSRF_MIDDLEWARE_TOKEN = "{{csrf_token}}";
var start;
var end;
var customerPhone = "qq";
var additionalParams="dummy";
var USERNAME='{{profile.dialer_username}}';
var EXTENSION_NO='{{profile.dialer_extension}}';
var IS_PRODUCTION='{{settings.PRODUCTION}}';
</script>

<style type='text/css'>
    .modal-body {
        max-height:none;
    }
    .table tbody tr.taken td {
        background-color:#C5F333;
    }
    #ui-datepicker-div select{
        width:55px;
    }
    #popup_call_form {
        width:850px;
        height:100%;
        max-height:none;
        margin-top:0px;
        margin-left:-425px;
        top:0px;
    }
    .compressed.table th, .compressed.table td {
        padding:0px;
    }
    .compressed.table-striped th, .compressed.table-striped td {
        padding:4px;
    }
    h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
        color: #434343;
    }
    #add_new_buy_form_link{
        margin-left: 10px;
        font-size: 13px;
        line-height: 14px;
    }
</style>

<script>
    /////////// AMEYO INTEGRATION CODE GOES HERE   ////////////////
    var crmOrigin;
    var ameyoBaseUrl = "http://192.168.2.100:8888/";

    $('#id_past_policy_expiry_date').datetimepicker({formatDate:'m/d/Y', step:60, format: "m/d/Y"});
    $("#id_travel_date").datetimepicker({ timepicker: false, formatDate:'m/d/Y', format:  "m/d/Y",});

    function initialize() {
        crmOrigin = window.location.href;
        iframeUrl = ameyoBaseUrl + "ameyowebaccess/toolbar-hz.htm?";
        iframeUrl = iframeUrl + "origin=" + crmOrigin;

        $('#ameyoIframe').attr('src', iframeUrl);
        setTimeout(function(){
            doLogin("{{request.user.username}}", "{{request.user.username}}");
        }, 4000);
    }

    function logout() {
        doLogout();
    }
    function getExtensionInfo(){
        var ext_info = {
            name: {{request.user.userprofile.extension_no}} + "_DefaultVR"
        };
        return ext_info;
    }
    $(document).on('click', "#cross_create", function() {
        $.post("/ajax/cross-lead-create/", {'csrfmiddlewaretoken': '{{csrf_token}}', 'campaign_data_id': $("#id_campaign_data_id").val(), 'campaign': $('#id_campaign').val()}, function(d){
            var data = JSON.parse(d);
            $('#cross_create_result').html(data.response.response);
            if(data.response.success) {
                alert('New lead created successfully');
            }
        });
    });

    $("#popup_call_form").on('click', ".ameyo-call-btn" , function(){
        if(!$(this).hasClass("disabled")){
            var mobile_no = $(this).attr("id").split("_")[2];
            var cd_id = $(this).next().text();
            mobile_no = mobile_no.slice(-10);
            doDial(mobile_no);
        }
    });

    $('#logout_id').click(function(){
        doLogout();
    });

    initialize();
</script>

<style>
.xdsoft_datetimepicker  .xdsoft_time_box >div >div.xdsoft_disabled{
    display:none;
}
#save_call_loader{
    width: 30px;
}
#click_call_loader{
    display:none;
    position: fixed;
    opacity: 0.3;
    z-index: 1055 !important;
    width: 560px;
    top:40%;
    left:35%;

}
</style>
<script type="text/javascript">
    $(document).ready(function(){
        var CRTOBJECTID = '{{crtObjectId}}';

        var cloned_list = $("select#id_disposition").clone();
        var empty_opt = "<option value=''>---------------</option>";
        var dmap = eval({{DISPOSITION_MAP|safe}});

        $('#save_call_btn').hide();
        $('#click_call_loader').modal({'show':true, "backdrop": "static"});
        tid = {{ task.id|escapejs }};
        $.get("/ajax/task/"+tid+"/", function(tdata){
            if(!tdata.success){
                console.log("Error occurred!");
                $("#take_call_status_"+tid).html(tdata.message + " - You can safely close this window!");
                alert("This call has been disposed successfully, please close this window");
            } else {
                var activity_id = tdata.activity_id;
                var requirements = tdata.requirements;
                var primary_requirement = tdata.primary_requirement_id;
                open_requirement_form(primary_requirement, tid, activity_id)
                // TODO
                // Display all requirements using <requirements>
                $('#open-requirements').show();
                $('#open-requirements-content').html(requirements);
                $("a.switch_requirement").unbind().click(function(){
                    var requirement = $(this).attr('id').split('_')[2];
                    open_requirement_form(requirement, tid, activity_id);
                });
            }
        });
        function open_requirement_form(requirement, tid, activity_id){
            // load requirement-form for <requirement>
            $.get("/requirement-form/"+requirement+"/?task="+tid+"&activity="+activity_id, function(fdata){
                if(!fdata.success){
                    $("#take_call_status_"+tid).html(fdata.message);
                    $("#click_call_loader").modal('hide');
                } else {
                    if (IS_PRODUCTION){
                        var ridUrl = "{{ SET_RID_COOKIE_URL }}?rid="+requirement;
                        $('#ridCookieIframe').attr('src', ridUrl);
                    }
                    $('#popup_call_form').modal({'show':true, "backdrop": "static"});
                    $("#click_call_loader").modal('hide');
                    $("#call_loader").hide();
                    $("#call_container").html(fdata.message);

                    var cloned_list = $("select#id_disposition").clone();
                    var empty_opt = "<option value=''>---------------</option>";
                    var dmap = eval({{DISPOSITION_MAP|safe}});

                    $('#save_call_btn').hide();
                    $('select#id_disposition').change(function(){
                        if($(this).val() == ""){
                            $('#save_call_btn').hide();
                        }else{
                            $('#save_call_btn').show();
                        }
                    });

                    $('#id_head_disposition').change(function(){
                        var head_val = $(this).val();
                        $('select#id_disposition').empty();
                        $('#save_call_btn').hide();
                        $('#click_call_loader').modal('hide');
                        $('#save_call_loader').hide();
                        $("select#id_disposition").append($(empty_opt).clone());
                        if(head_val == "") {
                            $("select#id_disposition").val("");
                            return;
                        }
                        $.each($(cloned_list).find('option'), function(i,opt){
                            if(dmap[$('#id_head_disposition').val()].indexOf($(opt).attr('value')) >= 0){
                                $("select#id_disposition").append($(opt).clone());
                            }
                        });
                        $("select#id_disposition").val("");
                    });
                    $('#id_head_disposition').trigger('change');
                    $('#id_later_time').attr("readonly", true);
                    $("#id_later_time").datetimepicker({formatDate:'Y-m-d', formatTimeScroller: 'g:i', step:15, minDate:0, format:  "Y-m-d H:i"});
                    $('#qualifier_next_call_time').attr("readonly", true);
                    $("#qualifier_next_call_time").datetimepicker({formatDate:'Y-m-d', formatTimeScroller: 'g:i A', step:15, minDate:0, minTime: "{{shift_timings.start}}", maxTime: "{{shift_timings.end}}", format:  "Y-m-d H:i"});
                    $('#id_past_policy_expiry_date').attr("readonly", true);
                    $("#id_past_policy_expiry_date").datetimepicker({ showTimepicker: false, formatDate:'Y-m-d', format:  "Y-m-d",});
                    $("#id_travel_date").datetimepicker({ timepicker: false, formatDate:'Y-m-d', format:  "Y-m-d",});

                    $('#save_call_btn').on('click', function(){
                        $('#save_call_loader').show();
                        var buy_form_link_list = "";
                        $('.buy_form_link').each(function(){
                            if($(this).val()){
                                buy_form_link_list += ($(this).val()+",");
                            }
                        });
                        $('#id_buy_form_links_list').val(buy_form_link_list);
                    });
                    $('#save_call_form').ajaxForm({
                        beforeSubmit: function(arr, $form, options) {
                            arr.push({'name': 'crtObjId', 'value': CRTOBJECTID});
                            arr.push({'name': 'call_type', 'value': 'out'});
                            arr.push({'name': 'call_start_time', 'value': start});
                            arr.push({'name': 'call_end_time', 'value': end});
                        },
                        success: function(cfdata) {
                            $('#save_call_loader').hide();
                            if(cfdata.success){
                                CRTOBJECTID = null;
                                console.log("Close the window");
                                $("#save_call_loader").hide();
                                $("#call_container").html("<h1>Call completed, Close this tab now!</h1>");
                                $('#open-requirements').hide();
                            } else {
                                $.each(cfdata.errors, function(k,v){
                                    $("#id_error_"+k).html(v.join(","));
                                    $("#id_"+k).parent().parent().addClass('error')
                                })
                            }
                        },
                    });
                }
            });
        }


        $('#qualify-health-lead').click(function(){
            console.log('qualified lead');
            $('#id_head_disposition').val('QUALIFIED');
            $('#id_head_disposition').trigger('change');
            $('#id_disposition').val('COLD_TRANSFER');
            $('#save_call_btn').trigger('click');
        });
        $('#reassign').click(function(){
            customerPhone = "{{mobile}}";
            console.log("{{csrf_token}}");
            $.ajax({
                url: "/ajax/reassign/",
                type: "POST",
                data: $.param({
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'campaign_id': $("#id_campaign_id").val(),
                    'reassign_to': $('#id_reassign_to').val(),
                    'crtObjectId': CRTOBJECTID,
                    'additionalParams': $.param({'dstPhone': customerPhone, 'crtObjectId': CRTOBJECTID}),
                    'customerPhone': customerPhone,
                }),
                success: function(d){
                    var data = JSON.parse(d);
                    console.log(data);
                    $('#id_head_disposition').val('QUALIFIED');
                    $('#id_head_disposition').trigger('change');
                    $('#id_disposition').val('QUALIFIED_CALLBACK_LATER');
                    $('#save_call_btn').trigger('click');
                }
            });
        });

        //////////////////// SOCKETIO CONTROL CODE //////////////////////////
        var APP_HOST = "{{NODE_URL}}";
        var socket = io(APP_HOST);
        socket.on('connect', function() {
            $('#alert_message_body').html("Checking server health ...");
            $('#alert_message_body').html("Connected and ready to go ...");
            $('#alert_message').modal('hide');
            socket.emit('subscribe_to_channels', {'channels': ['user_{{profile.id}}'], 'user': '{{profile.id}}'});
        });
        socket.on('disconnect', function() {
            $('#alert_message').modal({'show':true, "backdrop": "static"});
            $('#alert_message_body').html("Update server dropped connection. Kindly refresh to check the connection. Please contact Glitterbug at ranedk@glitterbug.in or contact your IT for firewall and network issues.");
        });

        $(document).on('click', '#transfer-call', function(){
            var rid = $('#id_requirement_id')[0].value;
            var mobile = ($('#id_mobile')[0].value).toString().substr(-10);
            socket.emit('call_transfer', {'mobile': mobile, 'rid': rid});
        });

    });

</script>

{%endblock%}
