{% extends "bootbase.html" %}
{% block main %}

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Click 2 Call</a>
      <div class="nav-collapse">
        <ul class="nav">
            {%if request.user.userprofile.role == 'CALLER'%}
            {%else%}
            <li class="active"><a href="/">Home</a></li>
            {%endif%}
          <!--li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li-->
            {%if request.user.is_authenticated%}
            <li><a href="javascript:void();">{%if request.user.get_full_name%}{{request.user.get_full_name}}{%else%}{{request.user.username}}{%endif%}</a></li>
                <li><a id='logout_id' href="/accounts/logout/">Logout</a></li>
            {%else%}
                <li><a href="/accounts/login/">Login</a></li>
            {%endif%}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


<div class='row-fluid'>
    <table id="callers_summary_table" class="table table-hover" data-height="299" data-sort-name="name" data-sort-order="desc">
        <thead>
            <tr>
                <th data-field="name" data-align="left">Customer</th>
                {% if manager %}
                <th filter-type="ddl" data-field="advisor" data-align="left" data-sortable="true">Advisor</th>
                {% endif %}
                <th filter-type="ddl" data-field="campaign" data-align="left" data-sortable="true">Campaign</th>
                <th data-field="last_call_time" data-align="left">Next Call Date</th>
                <th filter-type="ddl" data-field="last_call_disposition" data-align="left" data-sortable="true">Last call disposition</th>
                <th data-field="likely_to_buy_date" data-align="left">Form sent/ LTB Date</th>
                <th data-field="no_of_buy_form_sent" data-align="left" data-sortable="true">Forms Sent</th>
                {% if not manager %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for c in likely_to_buy_list %}
            <tr>
                <td><div>{{c.1}}</div>{{c.2}}</td>
                {% if manager %}
                <td>{{c.3}}</td>
                {% endif %}
                <td>{{c.4}}</td>
                <td>{{c.5}}</td>
                <td>{{c.6}}</td>
                <td>{{c.7}}</td>
                <td>{{c.8}}</td>
                {% if not manager %}
                <td><span id="take_call_status_{{c.0}}"><a href="javascript:void(0);" class="gbtn take_call" id="take_call_{{c.0}}" style="font-size:14px;"><img src="/static/img/phone.png" width="15" alt="" /> Click To Call</a></span></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="pagination">
    <div class="offset3 span6">
        <ul class="center">
            {% if paginator.has_previous %}
                <li><a href="?page={{ paginator.previous_page_number }}">Previous</a></li>
            {% endif %}

                <li class="active"><a href="#"> Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}.</a></li>

            {% if paginator.has_next %}
                <li><a href="?page={{ paginator.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </div>
</div>

<!-- template for underscore templating from external file -->
{%include "call_list_element.html"%}
{% endblock %}