{% extends "base_plain.html" %}
{% load static %}
    {% block body_class %}login-content{% endblock body_class %}
    {% block main %}
        <!-- Login -->
        <div class="lc-block toggled" id="l-login">
            <form method="POST" action=".">
            {% csrf_token %}
                <input type="hidden" value="{{next}}" name="next">
                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="md md-person"></i></span>
                    <div class="fg-line">
                        <!--input type="text" name="username" value="{{ request.POST.username }}" class="form-control" placeholder="Username"-->
                        <input type="text" name="username" class="form-control" placeholder="Username">
                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="md md-accessibility"></i></span>
                    <div class="fg-line">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                </div>

                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">{{ form.errors.values.0.0 }}</div>
                {% endif %}
                <div class="clearfix"></div>

                <!--div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <i class="input-helper"></i>
                        Keep me signed in
                    </label>
                </div-->

                <button href="" class="btn btn-login btn-danger btn-float"><i class="md md-arrow-forward"></i></button>

                <ul class="login-navigation">
                    <!--li data-block="#l-register" class="bgm-red">Register</li-->
                    <li class="bgm-orange">
                        <a target="_blank" href="https://www.coverfox.com/forgot-password/">Forgot Passoword?</a>
                    </li>
                </ul>
            </form>
        </div>

        <!-- Register -->
        <div class="lc-block" id="l-register">
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-person"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Username">
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-mail"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Email Address">
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="md md-accessibility"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" placeholder="Password">
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    <i class="input-helper"></i>
                    Accept the license agreement
                </label>
            </div>

            <a href="" class="btn btn-login btn-danger btn-float"><i class="md md-arrow-forward"></i></a>

            <ul class="login-navigation">
                <li data-block="#l-login" class="bgm-green">Login</li>
                <li data-block="#l-forget-password" class="bgm-orange">Forgot Password?</li>
            </ul>
        </div>

        <!-- Forgot Password -->
        <div class="lc-block" id="l-forget-password">
            <p class="text-left">Please put in your email-id and we will mail you a system generated password on your registered email-id</p>

            <form method="POST" action="/reset-password/">
            {% csrf_token %}
                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="md md-email"></i></span>
                    <div class="fg-line">
                        <input type="text" name="email" class="form-control" placeholder="Email Address">
                    </div>
                    </form>
                </div>

                <button href="" class="btn btn-login btn-danger btn-float"><i class="md md-arrow-forward"></i></button>
            </form>

            <ul class="login-navigation">
                <li data-block="#l-login" class="bgm-green">Login</li>
                <li data-block="#l-register" class="bgm-red">Register</li>
            </ul>
        </div>
    </div>

    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
        <div class="ie-warning">
            <h1 class="c-white">IE SUCKS!</h1>
            <p>You are using an outdated version of Internet Explorer, upgrade to any of the following web browser <br/>in order to access the maximum functionality of this website. </p>
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="img/browsers/chrome.png" alt="">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="img/browsers/firefox.png" alt="">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="img/browsers/opera.png" alt="">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="img/browsers/safari.png" alt="">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="img/browsers/ie.png" alt="">
                        <div>IE (New)</div>
                    </a>
                </li>
            </ul>
            <p>Upgrade your browser for a Safer and Faster web experience. <br/>Thank you for your patience...</p>
        </div>
    <![endif]-->

{% endblock main %}
