{% extends "bootbase.html" %}
{% block main %}
<div class='row-fluid'>
    {% for group_name, data in motor_data.items %}
    <table class="table table-hover" data-height="299" data-sort-name="name"
           data-sort-order="desc">
        <thead>
            <tr>
                <td>
                    <b>{{ group_name }} : <font color="red">{{ last_updated }}</font></b>
                </td>
                <td style='text-align: right'>
                    <font color="blue">Fresh</font>
                </td>
                <td style='text-align: right'>
                    <font color="blue">Outstanding In Process Tasks</font>
                </td>
                <td style='text-align: right'>
                    <font color="blue">Upcoming In Process tasks for Today</font>
                </td>
                <td style='text-align: right'>
                    <font color="blue">Outstanding Ringing Fresh Tasks</font>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for user, count_dict in data.items %}
            <tr>
                <td>
                    {{ user }}
                </td>
                <td class='{{ group_name }}total_renew_ftd_count' style='text-align: right'>
                    {{ count_dict.FRESH }}
                </td>
                <td class='{{ group_name }}total_renew_mtd_count' style='text-align: right'>
                    {{ count_dict.VISIBLE_IN_PROCESS }}
                </td>
                <td class='{{ group_name }}total_expired_ftd_count' style='text-align: right'>
                    {{ count_dict.IN_PROCESS }}
                </td>
                <td class='{{ group_name }}total_expired_mtd_count' style='text-align: right'>
                    {{ count_dict.RINGING_FRESH }}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                    Total
                </td>
                <td id='{{ group_name }}total_renew_ftd_count' style='text-align: right'>

                </td>
                <td id='{{ group_name }}total_renew_mtd_count' style='text-align: right'>

                </td>
                <td id='{{ group_name }}total_expired_ftd_count' style='text-align: right'>

                </td>
                <td id='{{ group_name }}total_expired_mtd_count' style='text-align: right'>

                </td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
</div>
<script src="{{STATIC_URL}}/js/jquery-1.7.1.min.js"></script>
<script>
    function calculate_totals(){

        {% for group_name, data in motor_data.items %}
            total_renew_ftd_count = 0;
            $('.{{ group_name }}total_renew_ftd_count').each(function() { total_renew_ftd_count += parseInt($(this).html()) });
            $('#{{ group_name }}total_renew_ftd_count').html(total_renew_ftd_count);

            total_expired_ftd_count = 0;
            $('.{{ group_name }}total_expired_ftd_count').each(function() { total_expired_ftd_count += parseInt($(this).html()) });
            $('#{{ group_name }}total_expired_ftd_count').html(total_expired_ftd_count);

            total_renew_mtd_count = 0;
            $('.{{ group_name }}total_renew_mtd_count').each(function() { total_renew_mtd_count += parseInt($(this).html()) });
            $('#{{ group_name }}total_renew_mtd_count').html(total_renew_mtd_count);

            total_expired_mtd_count = 0;
            $('.{{ group_name }}total_expired_mtd_count').each(function() { total_expired_mtd_count += parseInt($(this).html()) });
            $('#{{ group_name }}total_expired_mtd_count').html(total_expired_mtd_count);
        {% endfor %}

    }
    calculate_totals();
</script>
{% endblock %}
