{% extends "bootbase.html" %}
{% block main %}
<div id="health_qualifier_details">

</div>
<script src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
<script>
$(document).ready(function(){
    setInterval(function(){
        get_summary()
    }, 90000);

    function get_summary(){
        /* === Health Qualifier Details - Start */
        $.get('/manager/dashboard/health/qualifier-details/', function(data){
            $('#health_qualifier_details').html(data);

            responseData = data

            qualifier_fresh_lead_count = 0;
            qualifier_in_process_count = 0;
            qualifier_fresh_asap_count = 0;
            $('.qualifier_fresh_lead_count').each(function() { qualifier_fresh_lead_count += parseInt($(this).html()) });
            $('.qualifier_in_process_count').each(function() { qualifier_in_process_count += parseInt($(this).html()) });
            $('.qualifier_fresh_asap_count').each(function() { qualifier_fresh_asap_count += parseInt($(this).html()) });
            $('#total_qualifier_fresh_lead_count').html(qualifier_fresh_lead_count)
            $('#total_qualifier_in_process_count').html(qualifier_in_process_count)
            $('#total_qualifier_fresh_asap_count').html(qualifier_fresh_asap_count)

            closure_fresh_lead_count = 0;
            closure_in_process_count = 0;
            closure_in_process_today_count = 0;
            closure_fresh_asap_count = 0;
            $('.closure_fresh_lead_count').each(function() { closure_fresh_lead_count += parseInt($(this).html()) });
            $('.closure_in_process_count').each(function() { closure_in_process_count += parseInt($(this).html()) });
            $('.closure_in_process_today_count').each(function() { closure_in_process_today_count += parseInt($(this).html()) });
            $('.closure_fresh_asap_count').each(function() { closure_fresh_asap_count += parseInt($(this).html()) });
            $('#total_closure_fresh_lead_count').html(closure_fresh_lead_count)
            $('#total_closure_in_process_count').html(closure_in_process_count)
            $('#total_closure_in_process_today_count').html(closure_in_process_today_count)
            $('#total_closure_fresh_asap_count').html(closure_fresh_asap_count)
        });
        /* === Health Qualifier Details - End */
    }
    get_summary()

});
</script>
<style>
#productivity_dashboard_table_health td, #productivity_dashboard_table_motor td{
    width: 230px;
}
</style>

{% endblock %}
