{% extends "bootbase.html" %}

{% block main %}

<table class="table">
    <tr>
        <th><h3>Parameter</h3></th>
        <th><h3>Value</h3></th>
    </tr>
    <tr>
        <td><b>Leads</b></td>
        <td>{{leadmobilescount}}</td>
    </tr>
    <tr>
        <td><b>Phones</b></td>
        <td>{{phonescount}}</td>
    </tr>
    <tr>
        <td><b>Incoming</b></td>
        <td>{{incomingmobiles}}</td>
    </tr>
    <tr>
        <td><b>Non Incoming Requirements</b></td>
        <td>{{nonincomingmobiles}}</td>
    </tr>
    <tr>
        <td><b>Requirements onfloor(incoming + nonincoming)</b></td>
        <td>{{onfloor}}</td>
    </tr>
    <tr>
        <td><b>Overlap(incoming/leads)</b></td>
        <td>{{overlap}}</td>
    </tr>
    <tr>
        <td><b>Mobiles in system(leads+incoming-overlap)</b></td>
        <td>{{mobilesinsystem}}</td>
    </tr>
    <tr>
        <td><b>Today Mobiles in system(leads+incoming-overlap-previous_created_phones)</b></td>
        <td>{{todaymobilesinsystem}}</td>
    </tr>

    <tr>
        <td><b>Non Web Affiliate Leads(Included in leads table)</b></td>
        <td>{{non_web_affiliate_requirements}}</td>
    </tr>

</table>
{% endblock %}
