<div class="container">
    {% if paginator.count == 0 or paginator.count %}
    <h3 style="background-color:#f5f5f5;padding:10px;">Showing Results - {{paginator.count}} results found</h3>
    {% endif %}
    <div id="search_results">
        {% for r in recordings %}
        <div style="position:relative;padding:10px 20px 10px 310px;border:1px solid #eaeaea;">
            <div style="position:absolute;width:300px;margin-top:7px;left:10px;">
                    <p id="audioplayer_{{r.rec_id}}"></p>
                    <script type="text/javascript">
                        AudioPlayer.embed("audioplayer_{{r.rec_id}}",
                            {
                                //soundFile : "{% url 'download' %}?rec_id={{r.rec_id}}",
                                soundFile : "{% url 'download' %}?rec_id={{r.rec_id}}",
                                titles: "{{r.mobile}}-{{r.caller}}",
                                animation: 'no',
                                remaining: 'yes',
                        });
                    </script>
            </div>
            <table class="table" style="margin-bottom:0px;">
                <tbody >
                <tr>
                    <td><b>Customer Mobile</b>: {{r.phone}}</td>
                    <td><b>Caller</b>: {{r.advisor}}</td>
                    <td><b>Created On</b>: {{r.call_time}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        {%endfor%}
    </div>
</div>

<div class="text-center" style="padding-bottom:50px;">
    {% if paginator.count == 0 or paginator.count %}
    <ul class="pagination">
        {% if page.has_previous %}
        <li>
            <a role="button" class="previous_page" id="previous_page_{{page.number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for page_no in n %}
        <li {% if page.number == page_no %}class="active"{% endif %}>
            <a role="button" class="goto_page" id="goto_page_{{page_no}}">{{page_no}}</a>
        </li>
        {% endfor %}
        {% if page.has_next %}
        <li>
            <a role="button" class="next_page" id="next_page_{{page.number}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>
