{% load manip_data %}

{% for id, mini_dict in requirements.items %}
    <table id="minirequirement_{{id}}" class="table table-condensed minirequirement">
        <tr class="span3" style="font-weight:bold;">
            <th colspan="4" class="table-heading">RID</th>
            <th colspan="4" class="table-heading">{{id}}</th>
        </tr>
        {% for k,v in mini_dict.items %}
            <tr class="span3 mini-dict-items">
                <td colspan="4">{{ k  }}</td>
                <td colspan="4">{{ v  }}</td>
            </tr>
        {%endfor%}
    </table>
    <a class="btn btn-primary switch_requirement" id="switch_requirement_{{id}}">Open</a>
    <hr/>
{%endfor%}
