{% extends "shinchan_bootbase.html" %}
{% load static %}
{% load manip_data %}

{% block header_js %}
    <script type="text/javascript">
        AudioPlayer.setup("{% static "audio-player/player.swf" %}", {
            width: 290,
            transparentpagebg: 'yes'
        });
        $(document).ready(function(){
            $('#id_created_date_from').datetimepicker({
                format:  "d/m/Y",
                formatDate:'d/m/Y',
                timepicker: false
            });
            $('#id_created_date_to').datetimepicker({
                format:  "d/m/Y",
                formatDate:'d/m/Y',
                timepicker: false
            });
            function searchRecording(page_no){
                var form_data = $('#recording_search').serialize();
                page_no = page_no || '';
                $.ajax({
                    url: "{% url 'search_recordings' %}",
                    data: form_data + '&page=' + page_no.toString(),
                    success: function(data){
                        $('#recording_results').html(data);
                    }
                });
            }
            $('#search_submit').click(function(){
                searchRecording();
            });
            $(document).on('click', '.goto_page', function(e){
                var page_no = parseInt($(this).attr('id').split('_')[2]);
                searchRecording(page_no);
            });
            $(document).on('click', '.previous_page', function(e){
                var page_no = parseInt($(this).attr('id').split('_')[2]);
                searchRecording(page_no - 1);
            });
            $(document).on('click', '.next_page', function(e){
                var page_no = parseInt($(this).attr('id').split('_')[2]);
                searchRecording(page_no + 1);
            });


        });
    </script>
{% endblock %}

{% block main %}

<div style="margin:40px 0;" class="clearfix">
    <div class="col-sm-offset-4 col-sm-4">
        <form class="form well" id="recording_search">
            <div class="form-group">
                <label for="id_customer_mobile">Customer Mobile</label>
                {{search_form.customer_mobile}}
            </div>
            <div class="form-group">
                <label for="id_caller_username">Caller Username</label>
                {{search_form.caller_username}}
            </div>
            <div class="form-group">
                <label for="id_created_date_from">Created Date From</label>
                {{search_form.created_date_from}}
            </div>
            <div class="form-group">
                <label for="id_created_date_to">Created Date To</label>
                {{search_form.created_date_to}}
            </div>
            <div class="form-group">
                <a class="btn btn-primary" id="search_submit">Search</a>
            </div>
        </form>
    </div>
</div>
<div id="recording_results">
</div>
<style>
    #search_form{
        margin-left: 100px;
    }
    .table>tbody>tr>td {
        border:none;
    }
</style>

{% endblock %}
