{% load static %}
<!DOCTYPE html>
    <head>
        <script src="{{STATIC_URL}}audio-player/audio-player.js"></script>
        <script src="{{STATIC_URL}}jquery-2.1.4.min.js"></script>
        <script src="{{STATIC_URL}}js/jquery.form.js"></script>
        <script src="{{STATIC_URL}}bootstrap-3.3.4/js/bootstrap.min.js"></script>
        <link href="{{STATIC_URL}}bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{STATIC_URL}}css/jquery.datetimepicker.css" rel="stylesheet" />
        <script src="{{STATIC_URL}}js/jquery.datetimepicker.js" type="text/javascript"></script>
        {% block header_js %} {% endblock %}
        <title>Shinchan - The recording search app</title>
    </head>
    <body>
        <div id="header">
            <div class="container" style="margin:5px 0px;">
            <h2 style="display:inline;margin-left:30px;"><span style="color:#fc6127">Shin</span><span style="color:#fff">chan</span></h2>
            <img style="width:40px; padding-bottom:10px;" src="{% static "img/headphones.png" %}" />
                {% if request.user.is_authenticated %}
                <span style="float:right;color:#fff">
                    <span style="margin:30px;">Welcome <b>{% if request.user.first_name %}{{request.user.get_full_name}}{% endif %}</b></span>
                    <a style="margin-top:10px;" class="btn btn-default btn-sm" href="/accounts/logout/">LOGOUT</a>
                </span>
                {% endif %}
            </div>
        </div>
        {% block main %}
        {% endblock main %}
        {%block footer_js_css%}{%endblock%}
    </body>
    <style type="text/css">
body {
    font-family: 'Roboto', sans-serif;
    color:#333;
    margin: 0px;
}

#header {
    background-color: #314451;
    position:relative;
    top:0;
    left:0;
    height:64px;
    padding:10px 20px;
    z-index:60;
    box-shadow: 0 1px 4px rgba(49, 49, 64, 0.8);
    -webkit-box-shadow: 0 1px 4px rgba(49, 49, 64, 0.8);
    -moz-box-shadow: 0 1px 4px rgba(49, 49, 64, 0.8);
}

</style>
</html>
