{% load manip_data %}
<div id="transfer_call_response" class="row">
<h2>Transferred Call</h2>
    <div class="span3" id="div_requirement_{{requirement.id}}">
        <h3><u>{{requirement.campaign}}</u></h3>
        <div><b>Name:</b> {{requirement.name}}</div>
        <div><b>Mobile:</b> {{requirement.mobile}}</div>
        <div><b>Email:</b> {{requirement.email}}</div>
        <div><b>History Count:</b>{{requirement.call_history_count}}</div>
        <div><b>Current State:</b>{{requirement.state}}</div>
        <br/>
    </div>
    <a id="a_task_{{task_id}}" class="btn btn-success take_to_incoming_call_form">Proceed</a>
    <br/>
<a class="btn pull-right" id="close_incoming_call_response_popup">Cancel</a>
</div>
<style>
#incoming_call_response{
    background-color: white;
    width: auto;
    position: fixed;
    left: 30%;
    top: 30%;
    margin-left:0px;
    padding:20px;
}
div{
    font-size: 14px;
}
</style>
