{% load manip_data %}
<table class="table table-bordered">
    <tr style="font-weight: bold;">
        <th colspan="5" class="table-heading">Transaction Data</th>
    </tr>
    <tr style="font-weight: bold;">
        <th>Attribute</th>
        <th>value</th>
    </tr>
    {% for key, values in transaction.items %}
    <tr>
        <td>{{key}}</td>
        <td>{{values}}</td>
    </tr>
    {% endfor %}
</table>