{% extends "campaign/travel/base.html" %}
{% block travel_list %}
    <section class="bg_container">
        <div class="container">
            <div class="row">
                <div class="travel_txt">
                    <h1>CHEAP. FAST. BEST Travel Insurance products!</h1>
                    <h2>Compare lowest quotes from Top Insurers in India! </h2>
                    <img src="/static/lp-travel/travel_insurance_v1/img/plane_icon.png" alt="">
                    <div class="main_form_container">
                        <div class="form_container">
                            <span>+91</span>
                            <input type="text" id='contact-me-num' placeholder="Enter mobile number"/>
                        </div>
                        <div class="contact-me-error">
                            <p class="error">Please enter a valid 10 digit mobile number</p>
                        </div>
                        <button id="show_quote_btn" class="btn-cfox orange btn-next btn-block">
                            Get Instant Policy &nbsp;&gt;&gt;
                        </button>
                        <div class="terms-msg">I hereby authorize Coverfox to communicate with me on the given number for my Insurance needs. I am aware that this authorization will override my registry under NDNC.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block buy_travel%}
<section class="buy_travel_container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Benefits of buying Travel Insurance from Coverfox</h1>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul>
                    <li><img src="/static/lp-travel/travel_insurance_v1/img/icon1.png" />Compare cheapest quotes from top insurers. </li>
                    <li><img src="/static/lp-travel/travel_insurance_v1/img/icon2.png" />Get Cashless Emergency treatment in local hospitals. </li>
                    <li><img src="/static/lp-travel/travel_insurance_v1/img/icon3.png" />Visa Consulate approved plans. </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul>
                    <li><img src="/static/lp-travel/travel_insurance_v1/img/icon4.png" />Buy & print the policy online in less than 5 minutes</li>
                    <li><img src="/static/lp-travel/travel_insurance_v1/img/icon5.png" />100% post-sale service & assistance (endorsements, extensions and claims)</li>
                    <li><img src="/static/lp-travel/travel_insurance_v1/img/icon6.png" />Expert advice to help you choose the best plan </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block why_need_travel%}
    <section class="why_need_container">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h2>Why do you need Travel Insurance? </h2>
                    <p>Traveling is always full of anticipations. Either you are travelling for business and expecting to crack that big ticket business deal, or you are looking forward to that blissful break, away from the busy and stressful lifestyle we lead every day. </p>
                    <p>Travelling is also about back of the mind apprehensions: What if things go wrong? What if you fall sick or meet with an accident, what if the airline delays your baggage? Here's where Travel Insurance comes to your rescue. </p>
                    <p>Travel Insurance as a product caters to almost the entire spectrum of risks that you are exposed to in a foreign country. It not only covers you against medical expenses for a sickness or accident you meet abroad, but also covers things like checked-in baggage loss, trip delays, cancellations, loss of passport etc. No wonder many countries have now made it mandatory for international travelers to carry a travel insurance. </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="/static/lp-travel/travel_insurance_v1/img/why-need.png" class="img-responsive" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12 col-sm-8 col-sm-offset-2 call-action">
                <button onclick="skipForm('check_prices')" class="skippy_btn btn btn-cfox orange">Check Out Travel Insurance Prices</button>
            </div>
        </div>
    </section>
{% endblock %}
{% block travel_insurance_risk %}
    <section class="travel_insurance_risk">
        <div class="container">
            <div class="row">
                <h3>Travel Insurance covers 3 main areas of risks abroad: </h3>
                <div class="col-md-4 col-sm-4">
                    <div class="box_container">
                        <img src="/static/lp-travel/travel_insurance_v1/img/bottom_icon1.png" alt="">
                        <h3>Medical <br> Risk</h3>
                        <p>Risk of medical expenses due to an unforeseen sickness or accidents. In case of severe accidents, sickness, travel insurance also covers expenses to get you back in India.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="box_container">
                        <img src="/static/lp-travel/travel_insurance_v1/img/bottom_icon2.png" alt="">
                        <h3>Risk while you are<br> travelling abroad</h3>
                        <p>Risk of losing your checked-in luggage, or risk of missing a connecting flight</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="box_container"Risk of medical expenses due to an unforeseen sickness or accidents. In case of severe accidents, sickness, travel insurance also covers expenses to get you back in India.>
                        <img src="/static/lp-travel/travel_insurance_v1/img/bottom_icon3.png" alt="">
                        <h3>Risk while <br>you are abroad </h3>
                        <p>Risk of losing your passport, or losing your cash, any other emergencies. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block cover_three_plans %}{% endblock %}
{% block coverfox_help %}{% endblock %}
{%block footer_css%}
    <link href="{{ STATIC_URL }}lp-travel/travel_insurance_v1/css/style.css" rel="stylesheet">
{% endblock %}
{%block footer_js%}
<script type="text/javascript">
    var hero_phone_mandatory = "YES";
</script>
{%endblock%}
