
@bg-color:#419be0;
@color-new-bg:#f7fafc;
@color:#414141;
@white-color:#fff;
@btn-bg-top:#194f78;
@font-size:18px;
@font-weight:normal;
@border-left:1px solid #e5e9ec;
@border-right:1px solid #e5e9ec;
@border-bottom:1px solid #e5e9ec;
@float:left;
@txt-color:#adadad;
@date-color:#d4d4e4;
@padding:0;
@margin:0;
@selec-bg-hover:#ff7b5e;
@org-border:1px solid #ff7b5e;
@org-border-2:2px solid #ff7b5e;
@color-orange:#ff7b5e;
@bg-right-box1:#202e38;
@min-box:180px;
@font-14:14px;

body{
	 color: #314451 !important;
	 font-weight: 500;
    font-family: "Brandon Grotesque","Helvetica Neue",Helvetica,Tahoma,Arial,sans-serif !important;
}
.btn-border-radius (@radius: 3px) {
-webkit-border-radius: @radius;
-moz-border-radius: @radius;
border-radius: @radius;
}
.blog_header_bg{
background:@bg-color;
padding:22px 0;
border-top:1px solid #3f91d1;
border-bottom:1px solid #3f91d1;

span{
font-size: @font-size;
color: @white-color
}

a{
background:#194f78;
padding: 9px 40px;
text-transform: uppercase;
font-size: @font-size;
font-weight: @font-weight;
color: @white-color;
box-shadow:0 -2px 1px #144062 inset;
.btn-border-radius;

&:hover{
	color: @white-color;
}
}

}
.blog_left_container{
padding:0 17px;
border-left:@border-left;
border-right:@border-right;

}
.blog_comment_container{
border-bottom:@border-bottom;
padding: 30px 0;

h1{
font-size:21px;
color:@color;
margin:8px 0 0 0;
padding: @padding;
}

}
.blog_profile_container{
margin: 10px 0 0 0;

.blog_social_container{
float:right;
margin: 12px 0 0 0;
}

.profile_txt{
font-size:@font-14;
color:@txt-color;
}
.profile_txt_left{
font-size:11px;
color:@txt-color;
float: left;
margin:0 0 0 13px;
}
img{
	float: left;
}
span{
color:@date-color;
border:none !important;
}
}
.blog_select_tab{
padding: 33px 0 0 0;

h1{
font-size:21px;
color:@color;
margin:8px 0 0 0;
padding: @padding;
}
span{
border-bottom:@org-border;
width:64px;
display: block;
margin:5px 0 15px 0;
}
h2{
font-size:18px;
color:@color;
margin: @margin;
}
ul{
margin: @margin;
padding: @padding;
left: -30px;
right:0;
bottom:0;
position: relative;
}
li{
margin: 10px 0;
list-style: none;
}
li a{
font-size:18px;
color:@color;
padding: 8px 40px 8px 30px;

&:hover{
background:@selec-bg-hover;	
padding: 8px 40px 8px 30px;
color:@white-color;
border-radius: 0 18px 18px 0;
text-decoration: none;
}
}
.font_txt{
	font-size: @font-size;
}
.btn_subcribe {
	margin: 30px 0;
}
.btn_subcribe a{
background: @bg-color;
color: @white-color;
padding: 13px 35px;
.btn-border-radius;
text-transform: uppercase;
font-size: 17px;
}
}
.color-new-bg{
background: @color-new-bg;
left: -30px;
position: relative;
padding-left:30px ;
padding-bottom: 2px;
}
.right_fixed_page{
position: fixed;
background: #314451;
height: 1000px;
top: 0;
right: 0;
width:380px;
color:#fff;
h1{
color: #fff;
font-size: 21px;
margin: 8px 0 0;
padding: 0;
}
span{
border-bottom:@org-border-2;
width:64px;
display: block;
margin:5px 0 15px 0;
}
.com_box1{
min-height: @min-box;
padding: 30px;
}
.com_box2{
background: @bg-right-box1;
min-height: @min-box;
padding: 30px;
}
.com_box3{
min-height: @min-box;
padding: 30px;
}
.comp_txtbox{
width: 246px;
min-height: 40px;
padding: 3px;
background: #6b7075;
.btn-border-radius;
border:none;
margin: 10px 0 30px 0;
font-size: @font-size;
display: block;
}
a{
padding: 10px 35px;
background: #ff7b5e;
.btn-border-radius;
border:none;
color:#fff;
margin: 10px 0 0 0;
font-size: @font-size;
}
}
.company_page_t{
position: relative;
.text_blog{
margin: 10px 0;
font-size:@font-14; 

}
.list_company_txt{
margin: 0 0 30px;
}
h2{
font-size:25px;
}
h3{
font-size:@font-size;
text-transform: uppercase;
color:@color-orange;
}
ul{
padding: @padding;
margin: @margin;
border:1px solid #333;
.btn-border-radius;
}
li{
margin:10px 30px;
font-size: @font-14;
}
.helath_txt{
	color:#314451;
	margin:15px 30px;
}
}
#carousel{
background:#fff;
border-top: 1px solid #b6bfc3;
bottom: 9px;
box-shadow: 0 -2px 5px #999;
max-height: 220px;
position: fixed;
width: 63%;

.slide-txt{
position:absolute;
margin: 20px 40px;
width: 57%;
text-align: center;
h1{
font:@font-size;
color:@color-orange;
}
.text_blog{
font-size:@font-14;
}
}
.slides-pagination{
 top: 196px;
position: absolute;
text-align: center;
width: 100%;
z-index: 3;
}
.slides-pagination a{
border:@org-border-2;
}
.slides-pagination a.current{
background: #ff7b5e;
}
.slide-content {
	position: absolute;
	top: 100px;
	margin-left: 450px;
	padding-right: 70px
}
.slide-content h1 {
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 30px
}
.slide-content h1 span {
	font-weight: bold;
	color: #ff7b59
}
.slide-content .c {
	background-repeat: no-repeat;
	background-size: 80px 80px;
	padding-left: 100px;
	padding-top: 12px;
	height: 95px;
	font-size: 20px
}
.slide-content .btn-cfox {
	display: inline-block;
	margin-top: 20px;
	font-size: 30px;
	padding-left: 30px;
	padding-right: 30px;
	height: 65px
}
#slides {
	position: relative
}
#slides .slides-container {
	display: none
}
#slides .scrollable {
*zoom:1;
	position: relative;
	top: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%
}
#slides .scrollable:after {
	content: "";
	display: table;
	clear: both
}
.slides-navigation {
	margin: 0 auto;
	position: absolute;
	z-index: 3;
	top: 46%;
	width: 100%
}
.slides-navigation a {
	position: absolute;
	display: block
}
.slides-navigation a.prev {
	left: 0
}
.slides-navigation a.next {
	right: 0
}
.slides-pagination {
	position: absolute;
	z-index: 3;
	bottom: 20px;
	text-align: center;
	width: 100%
}
.slides-pagination a {
	border-radius: 15px;
	width: 10px;
	height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
*vertical-align:auto;
	zoom: 1;
*display:inline;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
	margin: 2px;
	overflow: hidden;
	text-indent: -100%
}
}
.margin_b{
margin-bottom:500px;
}
.heading_top{
font-weight:300;
font-size:40px;
color:#314451;
margin:20px 0 0 0;
}
