{% extends "core/base_main.html" %}

{% load i18n %}
{% load manip_data tagging_tags  %}
{% load compress %}

{% block breadcrumb %}
    <div class="cover breadcrumb">
        <div class="container">
            <a href="/">Coverfox</a> / Mailer List
        </div><!--/.container -->
    </div><!--/.breadcrumb -->
{% endblock %}
{%block main%}
    <div class="container">
        <table class="table table-striped" style="font-size: 14px;">
            <tbody>
            <tr>
                <th>Q ID</th>
                <th>Type</th>
                <th>Name</th>
                <th>Email</th>
                <th>Updated On</th>
                <th>Test</th>
                <th>Final</th>
                <th>Remove</th>
            </tr>
            {% if mail_list %}
                {% for m in mail_list %}
                    <tr>
                        <td>{{ m.id }}</td>
                        <td>{{ m.get_code_display }}</td>
                        <td>{{ m.content.name }}</td>
                        <td>{{ m.content.to_email }}</td>
                        <td>{{ m.updated_on }}</td>
{#                        <td><a href="{% url 'send_test_mail_from_queue' m.id %}" class="btn btn-small btn-success">Send Test Mail</a></td>#}
{#                        <td><a href="{% url 'send_mail_from_queue' m.id %}" class="btn btn-small btn-red">Send Mail</a></td>#}
{#                        <td><a href="{% url 'remove_mail_from_queue' m.id %}" class="btn btn-small btn-default">Remove</a></td>#}
                        <td><button id="btn_send-test_{{ m.id }}" class="btn btn-small btn-success btn_action">Send Test Mail</button></td>
                        <td><button id="btn_send_{{ m.id }}" class="btn btn-small btn-red btn_action">Send Mail</button></td>
                        <td><button id="btn_remove_{{ m.id }}" class="btn btn-small btn-info btn_action">Remove</button></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>

    </div>
{%endblock%}

{% block footer %}
{% endblock footer %}
{%block footer_js %}
    <script type="text/javascript">
        $(function(){
            $('.btn_action').click(function(){
                console.log($(this).attr('id').split('_')[1]);
                console.log($(this).attr('id').split('_')[2]);
                var mail_id = $(this).attr('id').split('_')[2];
                var action = $(this).attr('id').split('_')[1];
                var post_data = {};
                post_data['csrfmiddlewaretoken'] = csrf_token;
                $.post("/mailer/mail/" + mail_id + "/"+ action+"/", post_data, function(res_data){
                    var data = $.parseJSON(res_data);
                    if (data.success) {
                        $('#btn_' + action + '_' + mail_id).removeClass('btn-success').removeClass('btn-red').removeClass('btn-info').addClass('btn-default').text('Actioned');
                    }
                });
            });
        });
    </script>
{%endblock footer_js%}
