<script type="text/html" id="stage_4">
    <div id="slate_4" class="contact-process" data-bind="visible: $root.active_stage() == 4">
        <div data-bind="if: $root.transaction_model().current_stage().description()">
            <div class="define">
                <img src="/static/health_product/img/new_buy/info.png"/>
                &nbsp;&nbsp;<span data-bind="text: $root.transaction_model().current_stage().description()"></span>
            </div>
        </div>
        <div data-bind="foreach: segments" class="row mnone">
            <div data-bind="if : tag() == 'address' " class="col-sm-6 add-border">
                <h3><img src="/static/health_product/img/new_buy/mail.png"/>&nbsp;&nbsp;Mailing Address</h3>
                <div data-bind="foreach: rows">
                    <div class="row pl-lg">
                        <div data-bind="foreach: elements">
                            <div data-bind="if : field_type() == 'CharField' || field_type() == 'StrictCharField' || field_type() == 'IntegerField'">
                                <div data-bind="FreeField: $data"></div>
                            </div>
                            <div data-bind="if: field_type() == 'DateField' ">
                                <div data-bind="DateField: $data"></div>
                            </div>
                            <div data-bind="if : field_type() == 'DropDownField'">
                                <div data-bind="DropDownField: $data"></div>
                            </div>
                            <div data-bind="if : field_type() == 'TwoDropDownField'">
                                <div data-bind="TwoDropDownField: $data"></div>
                            </div>
                            <div data-bind="if : field_type() == 'TwoDropDownDependantField'">
                                <div data-bind="TwoDropDownDependantField: $data"></div>
                            </div>
                            <div data-bind="if : field_type() == 'TwoSearchableDDDField'">
                                <div data-bind="TwoSearchableDDDField: $data"></div>
                            </div>
                            <div data-bind="if : field_type() == 'MultipleChoiceField'">
                                <div data-bind="MultipleChoiceField: $data"></div>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- foreach row-->
            </div> <!-- tag address -->

            <div data-bind="if : tag() == 'contact' " class="col-sm-6">
                <h3><img src="/static/health_product/img/new_buy/phone.png"/>&nbsp;&nbsp;Contact details</h3>
                <div data-bind="foreach: rows">
                    <div class="row pl-lg">
                        <div data-bind="foreach: elements">
                            <div data-bind="if : field_type() == 'CharField' || field_type() == 'StrictCharField' || field_type() == 'IntegerField'">
                                <div data-bind="FreeField: $data"></div>
                            </div>
                            <div data-bind="if: field_type() == 'MobileField' ">
                                <div data-bind="MobileField: $data"></div>
                            </div>
                            <div data-bind="if: field_type() == 'LandlineField' ">
                                <div data-bind="LandlineField: $data"></div>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div>
            </div> <!-- tag contact -->
        </div> <!-- segments -->
    </div><!-- contact-process-->
</script>
