{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Compare Two Wheelers Insurance{% endblock pagetitle %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
  <div class="page-header-wrapper container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="top-txt">Compare Two Wheelers Insurance</div>
        <a href="/motor/twowheeler-insurance/" class="btn-cfox orange large">Get started</a>
      </div>
    </div>
  </div>
{% endblock pageheader %}
{% block content %}
<div itemscope itemtype="http://schema.org/Product">
  <span itemprop="audience" itemscope itemtype="http://schema.org/Audience">
    <meta itemprop="audienceType" content="bike owners"/>
    <meta itemprop="geographicArea" content="India"/>
  </span>
  <section>
    <div class="lp-b1-wrapper bggrey">
      <div class="container">
        <div class="row">
          <div class="col-md-12 h-tag">
            <h1 itemprop="name">Compare Two Wheeler Insurance Policy</h1>
            <p>Your bike insurance is your duty towards your bike that remains faithful to you and your family at all the times you need it. And it is only rightful that you give it the precise attention it needs at all its times of need. </p><p>
            The best attention that you can give your bike is by choosing the right two-wheeler policy. And without having to visit the very, many insurance companies at that. The way to manage that is to – compare! And what is a more efficient way than doing it online.  With so many insurance companies offering support and care, it could be quite a daunting task to choose your best policy which fits you and your bike in perfectly.
            </p>



        <h2 style="margin-top: 40px;">Why should you compare?</h2>

        <ol>
          <li>You could compare premiums between companies, add and subtract features (add-ons) that you choose in addition to help you protect your bike. You could do the math yourself without having to worry about the hidden costs that you feel companies impose.</li>
          <li>You get to know the availability or various plans, features, offers and deals made available exclusively for online customers.</li>
          <li>You get the policy instantly, as soon as you make the decision to buy it online –It lands right where you need it - in your inbox where you can immediately check and use what you have purchased. It’s as easy as buying a book online!</li>
          <li>The point of a two-wheeler is its convenience  to take it whenever and wherever you need to go. So the claim process should be as simple and quick as possible. Which is why your comparison and search for the perfect company matters.</li>
        </ol>


        <h2 style="margin-top: 40px;">How Coverfox can help you make life even further easier?</h2>

        <ol>
          <li>Coverfox gives you free professional assistance, if and when you need it, when you are at crossroads as to what you should choose that will protect your bike in the best possible way.</li>
          <li>You get the right policy suiting just your needs, not more or not less; without having to deal with biased agents and insurance companies. </li>
          <li>We offer a wide variety of insurance companies and rates which you can choose from. The rates are most competent with helpful relationship managers guiding you on deals and offers that make your policy more efficient.</li>
          <li>The process is absolutely paperless and without the pain of having to fill out long-drawn out forms. You may think that this document-free process would include an inspection to delay your procedure. But, not at all! You choose, fill the bare minimum, pay and that’s it!</li>
          <li>This assistance does not stop with merely buying your policy. It extends right up the end of it, if and when you have to make claims. We walk you through a hand-held claim process, helping you, representing you at the insurance company right until your claim process is complete and successful. </li>
        </ol>


      </div>
    </div>
  </div>
</div>
</section>
    {% block review %}
    {% endblock review %}
</div>
{% endblock content %}
