{% extends "flatpages:base.html" %}
{% block pagetitle %}<span class="nav-text-separator"></span>Popular Health Insurance{% endblock pagetitle %}
{% block pageheader %}
{% include "flatpages:breadcrumbs.html" %}
<div class="page-header-wrapper container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Compare the best Two Wheeler insurance plans</h1>
      <a href="/motor/twowheeler-insurance/" class="btn-cfox orange large">Get started</a>
    </div>
  </div>
</div>
{% endblock pageheader %}

{% block content %}
<div id="network_hospitals" class="container">
	<div class="row">
		<div class="col-md-12 search_result_container">
			<h2>POPULAR TWO WHEELER INSURANCE</h2>
      <div class="col-md-4 col-sm-6 pnone">
        <ul>
            <li><a href="/two-wheeler-insurance/bajajallianz/"><img src="{{STATIC_URL}}flatpages/img/insurer/bajaj-allianz-general-insurance.png" alt="Bajaj Allianz General Insurance">Bajaj Allianz</a></li>
              <li><a href="/two-wheeler-insurance/tataaig/"><img src="{{STATIC_URL}}flatpages/img/insurer/tata-aig-general-insurance.png" alt="Tata Aig General Insurance"> Tata Aig</a></li>
              <li><a href="/two-wheeler-insurance/reliance/"><img src="{{STATIC_URL}}flatpages/img/insurer/reliance-general-insurance.png" alt="Reliance General Insurance"> Reliance</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6">
          <ul>
             <li><a href="/two-wheeler-insurance/iffcotokio/"><img src="{{STATIC_URL}}flatpages/img/insurer/iffco-tokio-general-insurance.png" alt="Iffco Tokio">Iffco Tokio</a></li>
              <li><a href="/two-wheeler-insurance/icicilombard/"><img src="{{STATIC_URL}}flatpages/img/insurer/icici-lombard-general-insurance.png" alt="Icici Lombard"> ICICI Lombard</a></li>
              <li><a href="/two-wheeler-insurance/hdfcergo/"><img src="{{STATIC_URL}}flatpages/img/insurer/hdfc-ergo-general-insurance.png" alt="HDFC ERGO">  HDFC ERGO</a></li>
          </ul>
      </div>
      <div class="col-md-4 col-sm-6">
          <ul>
            <li><a href="/two-wheeler-insurance/universalsompo/"><img src="{{STATIC_URL}}flatpages/img/insurer/universal-sompo-general-insurance.png" alt="Universal Sompo">Universal Sompo</a></li>  
          </ul>
      </div>
			
		</div>
	</div>
</div>

{% endblock content %}
