//colors
@font-face{
	font-family:Brandon Grotesque;
	font-weight:300;
	src:url(../fonts/BGTHIN.otf)
}
@font-face{
font-family:Brandon Grotesque
;src:url(../fonts/BGREG.otf)
}
@font-face{
font-family:Brandon Grotesque;
font-weight:700;
src:url(../fonts/BGBOLD.otf)
}
body{
	background: #efeff4;
	font-family:@baseFont;
	color:@base-color;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family:@baseFont;
  color:@base-color;

}
@blue:#0076ff;
@grey:#f7fafc;
@dark-grey:#e6e6e6;
@grey-color:#727f87;
@grey-txt:#e5e8e9;
@orange:#FF6127;
@white-color:#fff;
@base-color:#314451;
@box-color:#d8d8e2;
@font-16:16px;
@font-18:18px;
@baseFont: 'Brandon Grotesque','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;
.btn-border-radius (@radius: 3px) {
-webkit-border-radius: @radius;
-moz-border-radius: @radius;
border-radius: @radius;
}
.car-box-shadow{
	box-shadow: 0 0 5px @box-color;
	-webkit-box-shadow: 0 0 5px @box-color;
	-moz-box-shadow: 0 0 5px @box-color;
}
.btn-box-shadow{
	box-shadow:0 2px 3px @box-color;
	-moz-box-shadow:0 2px 3px @box-color;
	-webkit-box-shadow:0 2px 3px @box-color;
}
.txtbox-box-shadow{
	box-shadow: 0 2px 4px -3px #c0aab1 inset;
	-moz-box-shadow: 0 2px 4px -3px #c0aab1 inset;
	-webkit-box-shadow: 0 2px 4px -3px #c0aab1 inset;
}

.pnone{
		padding: 0;
	}
	.plnone{
		padding-left: 0;
	}
.top-v1{
	&.mheight{
		min-height: 460px;
	}
	&.mheight-v1{
		min-height: 202px;
	}
	background: @base-color;
	min-height: 290px;
	color:@white-color;
	padding: 13px 0 0 0;
	img{
		max-width: 140px;
	}
	.top-txt{
		color:#97a0a7;
		font-size: @font-18;
		border-left: 1px solid #97a0a7;
		margin: 5px 0 0 0;
	}
	nav{
		margin: 9px 0 0 0;
		 a{
			font-size: 14px;
			padding: 3px 14px;
			color:@white-color;
			outline: none;
			.btn-border-radius;
			text-transform: uppercase;
			text-decoration: none;
			&:hover{
				background: @orange;
				color:@white-color;
				text-decoration: none;
			}
			&.active{
				background: @orange;
				color:@white-color;
				text-decoration: none;
			}
		}
	}
}
.over-header{
	margin: -205px 0 0 0;
	h2{
		font-size:40px;
		display: block;
		margin: 10px 0 25px 0;
		color:@white-color;
	}
	.section-box-1{
		.btn-box-shadow;
		min-height: 455px;
		.policy-container-car{
			padding: 60px 40px;
			background: @white-color;
			h3{
				color:@blue;
				margin: 0;
			}
			ul{
				margin: 27px 0 0 0;
				padding: 0;

				li{
					display: block;
					list-style: none;
					margin: 10px 0;
					label{
						margin: 0;
					}
				}
			}
			span.txt-chbox{
				font-size: 22px;
				margin: 0 0 0 15px;
			}

			.btn-car a{
				display: inline-block;
				padding: 10px 30px;
				color:@white-color;
				background: @blue;
				font-size: @font-18;
				.btn-border-radius;
				margin: 35px 0 0 0;
				outline:none;
				text-decoration: none;
			}
		}
		.policy-left-car{
			background:@grey;
			padding: 25px;
			font-size:@font-16;
			line-height: 25px;
			ul{
				margin: 0;
				padding: 0;
				li{
					list-style: none;
					img{
						margin: 0 10px 0 0;
					}
				}
			}
		}
		.bg-tab{
				background:#f1f5f8;
				padding: 25px;
				min-height:252px;
			}
	}
	.section-box-2{
		margin: 30px 0  0 0;
		min-height:500px;
		background: @white-color;
		.top-container{
				padding:40px;
				border-bottom: 1px solid @dark-grey;
		}
		.bottom-container{
			.bg-bottom{
				background:@grey;
				clear: both;
				padding: 40px;
			}
			.b-r{
				padding:30px 40px;
				border-right:1px solid @dark-grey;
				min-height: 300px;
				&.bnone{
				border-right: none;
				}
				.color-orange{
					color:@orange;
					a{
						font-size:@font-16;
						font-weight:bold;
						color:@base-color;
						outline:none;
						text-decoration: none;
					}
				}
				p{
					font-size:14px;
					a{
						color:@orange;
						outline:none;
						text-decoration: none;
					}
				}
				.button-call{
					margin: 20px 0 0 0;
					 a {
				    background:@blue;
				    border-radius: 3px;
				    color: @white-color;
				    font-size: 14px;
				    max-width: 122px;
				    padding: 2px 24px;
				    text-align: center;
				    outline:none;
				    text-decoration: none;
				}
				}
				span.ortxt{
					margin: 0 0 0 35px;
					line-height: 20px;
				}
				span.ortxt:before {
				     border-bottom: 1px solid @dark-grey;
				    bottom: 115px;
				    content: "";
				    left: 93px;
				    position: absolute;
				    width: 30px;
				}
				span.ortxt:after {
				    border-bottom: 1px solid @dark-grey;
				    bottom: 115px;
				    content: "";
				    left: 40px;
				    position: absolute;
				    right: 30px;
				    width: 30px;
				}
				p{
					font-size:@font-16;
				}
			}
			.whatsapp-btn{
				margin: 20px 0 0 0;
				a {
				background: #538e12;
			    border-radius: 3px;
			    color: @white-color;
			    display: block;
			    font-size: 14px;
			    padding: 6px 18px;
			    text-align: center;
			    outline:none;
			    text-decoration: none;
				}
			}
		}

		h3{
			color:@blue;
			margin: 0;

			&.toll-font{
				font-size:@font-18;
				line-height: 20px;
			}
		}
		h4{
			margin: 0;
			line-height: 30px;
		}
		p{
			font-size:@font-18;
		}
	}
}

/* Car Css Start */
.bike-overhead{
	margin: -314px 0 0 0;
.bike-l{
	display: block;
	h2{
		margin: 0;
		color:@white-color;
		font-size:60px;
	}
	h4{
		color:#c7d7da;
		font-size: 20px;
		margin: 20px 0;
		letter-spacing: 1px;
	}
	.listing-line{
		font-size: 30px;
		margin: 50px 0 0 0;
		color:@white-color;
		position: relative;
		&.listing-line:after {
	     background: @white-color;
	    color: @white-color;
	    content: "I";
	    font-size: 4px;
	    height: 45px;
	    left: 2px;
	    position: absolute;
	    top: 45px;
		}
	}
	ul.circles-list {
    left: -20px;
    list-style:none;
    position: relative;
    top: 59px;

	}
	ul.circles-list li{
	    font-size: 20px;
	    left: 40px;
	    margin: 14px 0;
	    padding: 6px;
	    position: relative;
	}
	.circles-list li:before {
	    position: absolute;
	    top: 10px;
	    left: -26px;
	    width: 20px;
	    height: 20px;
	    border: 1px solid @base-color;
	    border-radius: 50%;
	    background: @white-color;
	    content: "";
	}
	.circles-list li:after {
	    background: @base-color;
	    color: @base-color;
	    content: "I";
	    font-size: 4px;
	    height: 37px;
	    left: -18px;
	    position: absolute;
	    top: -26px;
		}
}
.bike-r{
	.btn-box-shadow;
	background: @white-color;
	.btn-border-radius;
	margin: 0 0 15px 0;
	padding: 20px 48px 40px 40px;
	h3{
		color:@orange;
		margin: 0;
		img{
			margin: 5px 10px 0 0;
			vertical-align: top;
		}
	}
	label{
		display: block;
		color:@blue;
		font-size: 22px;
		line-height: 30px;
		margin: 12px 0;
		font-weight: normal;
	}
	select{
		display: block;
		width:100%;
		border-top: none;
		border-right: none;
		border-left: none;
		border-bottom: 1px solid #333;
		padding: 5px;
		font-size: @font-16;
		color:#97a0a7;
		font-weight: bold;
		outline:none;
	}
	.get-btn{
		margin: 35px 0 0 0;
		text-align: center;
		a{
			background: @blue;
			padding: 10px 22px;
			color: @white-color;
			font-size: 20px;
			.btn-border-radius;
			text-decoration: none;
			outline:none;
		}
	}
}
}
/* Car Css End */

/* motor Css Start */

.motor-overhead{
	margin: -125px 0 0 0;
	.prnone{
		padding-right: 0;
	}
	.left-side{
		width:250px;
		padding: 0;
		background: @grey;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
	.box-1{
		background: @grey;
		padding: 21px 14px 18px 40px;
		border-bottom: 1px solid @dark-grey;
		&.motor-description{
			background: #3f4f5b;
			color:@white-color;
			p{
			font-size:15px;
			margin: 12px 0;
			color:@white-color;
		}
		}
		h4{
			font-size: 18px;
			color:@orange;
			margin: 0 0 2px 0;
		}
		p{
			font-size:15px;
			margin: 0;
		}
		a{
			font-size: 15px;
			color:@blue;
			outline:none;
			text-decoration: none;
			text-decoration: none;
		}
	}
	.box-2{
		background: @white-color;
		background: #ffffff;
		padding: 21px 14px 18px 40px;

		min-height: 200px;
		margin-top: -2px;

		.lt-logo{
			border:2px solid @dark-grey;
			margin: 10px 0 15px 0;
			padding: 10px;
		}
		.rs-txt{
			font-size: 18px;
			color:@blue;
			line-height: 30px;
		}
		.breakup-btn{
			margin: 20px 0;
			a{
				border:1px solid @blue;
				padding: 5px 10px;
				.btn-border-radius;
				text-decoration: none;
			}
		}
		h3{
			margin: 0;
			font-size:@font-18;
			color:@orange;
		}
		p{
			font-size:@font-16;
			font-weight: bold;
			color:#8d979e;
			line-height: 18px;
		}
		ul.circles-list {
	    left: 17px;
	    list-style:none;
	    position: relative;
	    top: 15px;
		}
		ul.circles-list li{
		   	font-size: 14px;
		    left: 40px;
		    margin: 0;
		    color:#8d979e;
		    padding: 4px 0;
		    position: relative;
			}
		.circles-list li:before {
		    position: absolute;
		    top: 10px;
		    left: -26px;
		    width: 10px;
		    height: 10px;
		    border: 1px solid @grey-txt;
		    border-radius: 50%;
		    background: @grey-txt;
		    content: "";
		}
		.circles-list li:after {
		     background: @grey-txt;
		    color: @grey-txt;
		    content: "I";
		    font-size: 4px;
		     height: 19px;
		    left: -21px;
		    position: absolute;
		    top: -9px;
			}
		}
		a{
			font-size: 15px;
			color:@blue;
			outline:none;
			text-decoration: none;
		}
	}
	.box-3 {
		padding: 40px 14px 18px 40px;
		&.quotes-container{
			background: @grey;
			min-height: 650px;
			h3{
				color:#c4cbd1;
				font-size: 12px;
				letter-spacing: 2px;
				opacity: 0.6;
			}
			h4{
				color: @orange;
				margin: 0;
				line-height:30px;
			}
			p{
				font-size:20px;
			}
			.summary-btn{
			margin: 40px 0;
			a{
				border:1px solid @blue;
				padding: 5px 10px;
				.btn-border-radius;
			}
		}
			ul.circles-list {
		    left: 17px;
		    list-style:none;
		    position: relative;
		    top: 15px;
			}
			ul.circles-list li{
			   	font-size: 14px;
			    left: 40px;
			    margin: 0;
			    color:#8d979e;
			    padding: 4px 0;
			    position: relative;
				}
			.circles-list li:before {
			    position: absolute;
			    top: 10px;
			    left: -26px;
			    width: 10px;
			    height: 10px;
			    border: 1px solid @grey-txt;
			    border-radius: 50%;
			    background: @grey-txt;
			    content: "";
			}
			.circles-list li:after {
			     background: @grey-txt;
			    color: @grey-txt;
			    content: "I";
			    font-size: 4px;
			     height: 19px;
			    left: -21px;
			    position: absolute;
			    top: -9px;
				}
				.addons{
					margin: 20px 0;
					p{
						font-size: 14px;
						margin: 15px 0 0 33px;
						color:#8d979e;
					}
				}

			}
		h3{
			margin: 0 0 20px;
		}
		ul{
				margin: 0;
				padding: 0;

				li{
					display: block;
					list-style: none;
					margin: 12px 0;
					label{
						margin: 0;
					}
				}
			}
		}
		.middle-box{
			width:874px;
			&.top-margin{
				margin: 18px 0 0 0;
				padding-right: 0;
				a{
					font-size: 16px;
					img{
						max-width: 10px;
						margin: 0 10px 0 0;
						}
					}
				}
				#menu-fixed{
					z-index: 1;
				}
				.list-box{
					background: @white-color;
    				z-index: -1;
    				display: block;
					box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
					.motor-toggle{
						cursor: pointer;
						 margin: 0;
					}
					.motor-content{
						padding: 20px;
						font-size:16px;
						display: none;
						&.open-content{
							display: block;
						}
					}
					ul{
						margin:0;
						padding: 0;
						li{
							background: @grey;
							display: block;
							padding: 20px;
							list-style: none;
							border-bottom: 1px solid @dark-grey;
							color: #0076ff;
							font-size: 20px;
						}
					}

					&.mtop{
						margin: 22px 0 0 0;
					}
					a{
						background: @blue;
						font-size: 16px;
						color:@white-color;
						padding: 10px 20px;
						.btn-border-radius;
						outline: none;
						margin: 30px 0 0 0;
					}
				}
			.blue-box{
				background: @blue;
				padding: 22px;
				min-height: 125px;
				h4{
					color:@white-color;
					margin: 0 0 15px 0;
				}
				p{
					color:#99c8ff;
					font-size: @font-16;
					font-weight: 600;
					margin: 0;
				}
				.bd-r{
					border-right: 1px solid #0257ba;
				}
			}
			.blue-box-1{
				background: @blue;
				padding: 10px 19px;
				margin: 11px 0 0 0;
				display: block;
				min-height: 60px;
				width:858px;
				box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
				ol{
					margin: 0;
					padding: 0;
					counter-reset:li;
					li{
						display: inline-block;
						list-style: none;
						position: relative;
						padding: 9px 60px;
						font-size: 16px;
						color:@white-color;
						left:27px;

						&:before{
							content:counter(li);
							counter-increment:li;
							border: 1px solid @white-color;
							width: 40px;
							height: 40px;
							border-radius: 50%;
							position: absolute;
							top: 0;
							left:0;
							text-align: center;
							padding: 7px 0 0 0;
						}
						&:after{
							content: "";
							border-top: 1px solid @white-color;
							width: 45px;
							position: absolute;
							top: 22px;
							left:-45px;

						}
						 &.done{
							&:before{
							content:"\2713";
							color:@blue;
							font-size: 18px;
							font-weight: bold;
							background: @white-color;
							border: 1px solid @white-color;
							width: 40px;
							height: 40px;
							border-radius: 50%;
							position: absolute;
							top: 0;
							left:0;
							text-align: center;
							padding: 7px 0 0 0;
						}

						}
						&.active{
							&:before{
							content:counter(li);
							counter-increment:li;
							color:@blue;
							font-size: 18px;
							font-weight: bold;
							background: @white-color;
							border: 1px solid @white-color;
							width: 40px;
							height: 40px;
							border-radius: 50%;
							position: absolute;
							top: 0;
							left:0;
							text-align: center;
							padding: 7px 0 0 0;
						}

						}
						&:first-child{
							&:after{
								border-top: none;
							}
						}
					}
				}
			}
		}
		.btn-box{
			background: @white-color;
			padding: 20px;
			display: block;
			.btn-box-shadow;
			&.mtop{
				margin: 22px 0 0 0;
			}
			a{
				background: @blue;
				font-size: 15px;
				color:@white-color;
				padding: 4px 20px;
				.btn-border-radius;
				outline: none;
			}
		}
		.def-txt{
			margin: 30px 0 0 0;

			h3{
				margin: 0;
				display: inline;
			}
			a{
				font-size:@font-18;
				color:@blue;
				text-decoration: underline;
				outline: none;
				float: right;
			}
		}
		.box-right{
			background: @white-color;
			padding: 25px 0 0 0;
			&.motor-nw{
				padding: 0;
				background: @white-color;
				.icon-circle{
				background: @dark-grey;
				max-width: 60px;
				min-height: 60px;
				border-radius: 50%;
				margin: 0 auto;
				position: relative;
				top:27px;
				}
				h2{
				margin: 10px 0;
				font-size: 18px;
				}

			}

			h3{
				text-transform: uppercase;
				font-size: 20px;
				margin: 16px 0;
			}
			img{
				max-width: 50px;
			}
			.save-bg{
				.btn-box-shadow;
				h4{
					margin: 0 0 20px;
					font-size: 14px;

				}
				background: @grey;
				padding: 23px;
				a{
					background: #00d9aa;
					padding: 3px 20px;
					font-size: 15px;
					color:@white-color;
					.btn-border-radius;
					ouline:none;
				}
			}
		}
	.regular-checkbox {
		display: none;
	}
	.regular-checkbox + label {
		background-color: #fafafa;
		border: 1px solid #cacece;
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
		padding: 7px;
		.btn-border-radius;
		display: inline-block;
		position: relative;
	}
	.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
	}
	.regular-checkbox:checked + label {
		background: #e9ecee;
		border: 1px solid #adb8c0;
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
		color: #99a1a7;
	}
	.regular-checkbox:checked + label:after {
		content: '\2714';
		 background: @blue;
		 border:1px solid @blue;
	    color: @white-color;
	    font-size: 8px;
	    .btn-border-radius;
	    left: -1px;
	    padding: 1px 4px;
	    position: absolute;
	    top: -1px;
	}
	span.txt-chbox{
		font-size: 18px;
		margin: 0 0 0 15px;
	}
	.form-detaials{
		h3{
			margin: 0 0 10px 0;
		}
		padding:30px;
		.border-right{
			border-right: 1px solid @dark-grey;
		}
		.padd-left{
			padding-left: 45px;
		}
		&.form-detaials{
			.dob-container{
				display: inline-block;
			}
			label{
				display: block;
				font-size: 16px;
				line-height: 25px;
				font-weight: normal;
			}
			input{
				font-size: 14px;
				.btn-border-radius;
				.txtbox-box-shadow;
				border: 1px solid @dark-grey;
				padding: 4px;
				height: 40px;
				width: 220px;
				margin: 0 0 10px;
			}
			.date-width{
					width: 70px;
				}
			select{
				font-size: 14px;
				.btn-border-radius;
				.txtbox-box-shadow;
				border: 1px solid @dark-grey;
				padding: 4px;
				height: 40px;
				width: 220px;
				margin: 0 0 10px;

			}

		}
		.btn-next{
			margin: 20px 0;
		}
	}

.p-top{
	padding-top: 65px;
}

/* Motor Css End */

/* Motor Css ST */

.carform-container{
	width:850px;
	.btn-box-shadow;
	background: @white-color;
	.btn-border-radius;
	margin: 50px auto;
	padding: 20px 48px 40px 40px;
	span.search{
		position: absolute;
		top:10px;
		img{
			max-width: 15px;
		}

	}
	h3{
		color:@orange;
		margin: 0;
		img{
			margin: 5px 10px 0 0;
			vertical-align: top;
		}
	}
	label{
		display: block;
		color:@blue;
		font-size: 22px;
		line-height: 30px;
		margin: 12px 0;
		font-weight: normal;
	}
	input{
		display: block;
		width:100%;
		border-top: none;
		border-right: none;
		border-left: none;
		border-bottom: 1px solid #333;
		padding: 5px 25px;
		font-size: @font-16;
		color:#97a0a7;
		font-weight: bold;
		outline:none;
	}
	select{
		display: block;
		width:100%;
		border-top: none;
		border-right: none;
		border-left: none;
		border-bottom: 1px solid #333;
		padding: 5px;
		font-size: @font-16;
		color:#97a0a7;
		font-weight: bold;
		outline:none;
	}
	.get-btn{
		margin: 35px 0 0 0;
		a{
			background: @blue;
			padding: 10px 22px;
			color: @white-color;
			font-size: 20px;
			.btn-border-radius;
			text-decoration: none;
			outline:none;
		}
	}
	.radio-btn{


	.motor-checkbox {
		position:absolute;
		z-index:-1000;
		left:-1000px;
		overflow: hidden;
		clip: rect(0 0 0 0);
		height:1px;
		width:1px;
		margin:-1px;
		padding:0;
		border:0;
		}

		.motor-checkbox + label.css-label {
		padding: 0 45px;
		height:32px;
		display:inline-block;
		line-height:32px;
		background-repeat:no-repeat;
		background-position: 0 0;
		font-size:20px;
		color:@base-color;
		vertical-align:middle;
		cursor:pointer;

		}
		.motor-checkbox:checked + label.css-label {
		background-position: 0 -32px;
		}
		label.css-label {
		background:url(../img/radio-select.png);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		}
		}
	}
a{
	font-size: 20px;
	color: @blue;
	line-height: 35px;
	text-decoration: underline;
}



/* Motor Css End */




