@font-face {
  font-family: Brandon Grotesque;
  font-weight: 300;
  src: url(../fonts/BGTHIN.otf);
}
@font-face {
  font-family: Brandon Grotesque
;
  src: url(../fonts/BGREG.otf);
}
@font-face {
  font-family: Brandon Grotesque;
  font-weight: 700;
  src: url(../fonts/BGBOLD.otf);
}
body {
  background: #efeff4;
  font-family: 'Brandon Grotesque', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  color: #314451;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Brandon Grotesque', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  color: #314451;
}
.car-box-shadow {
  box-shadow: 0 0 5px #d8d8e2;
  -webkit-box-shadow: 0 0 5px #d8d8e2;
  -moz-box-shadow: 0 0 5px #d8d8e2;
}
.btn-box-shadow {
  box-shadow: 0 2px 3px #d8d8e2;
  -moz-box-shadow: 0 2px 3px #d8d8e2;
  -webkit-box-shadow: 0 2px 3px #d8d8e2;
}
.txtbox-box-shadow {
  box-shadow: 0 2px 4px -3px #c0aab1 inset;
  -moz-box-shadow: 0 2px 4px -3px #c0aab1 inset;
  -webkit-box-shadow: 0 2px 4px -3px #c0aab1 inset;
}
.pnone {
  padding: 0;
}
.plnone {
  padding-left: 0;
}
.top-v1 {
  background: #314451;
  min-height: 290px;
  color: #ffffff;
  padding: 13px 0 0 0;
}
.top-v1.mheight {
  min-height: 460px;
}
.top-v1.mheight-v1 {
  min-height: 202px;
}
.top-v1 img {
  max-width: 140px;
}
.top-v1 .top-txt {
  color: #97a0a7;
  font-size: 18px;
  border-left: 1px solid #97a0a7;
  margin: 5px 0 0 0;
}
.top-v1 nav {
  margin: 9px 0 0 0;
}
.top-v1 nav a {
  font-size: 14px;
  padding: 3px 14px;
  color: #ffffff;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
.top-v1 nav a:hover {
  background: #ff6127;
  color: #ffffff;
  text-decoration: none;
}
.top-v1 nav a.active {
  background: #ff6127;
  color: #ffffff;
  text-decoration: none;
}
.over-header {
  margin: -205px 0 0 0;
}
.over-header h2 {
  font-size: 40px;
  display: block;
  margin: 10px 0 25px 0;
  color: #ffffff;
}
.over-header .section-box-1 {
  box-shadow: 0 2px 3px #d8d8e2;
  -moz-box-shadow: 0 2px 3px #d8d8e2;
  -webkit-box-shadow: 0 2px 3px #d8d8e2;
  min-height: 455px;
}
.over-header .section-box-1 .policy-container-car {
  padding: 60px 40px;
  background: #ffffff;
}
.over-header .section-box-1 .policy-container-car h3 {
  color: #0076ff;
  margin: 0;
}
.over-header .section-box-1 .policy-container-car ul {
  margin: 27px 0 0 0;
  padding: 0;
}
.over-header .section-box-1 .policy-container-car ul li {
  display: block;
  list-style: none;
  margin: 10px 0;
}
.over-header .section-box-1 .policy-container-car ul li label {
  margin: 0;
}
.over-header .section-box-1 .policy-container-car span.txt-chbox {
  font-size: 22px;
  margin: 0 0 0 15px;
}
.over-header .section-box-1 .policy-container-car .btn-car a {
  display: inline-block;
  padding: 10px 30px;
  color: #ffffff;
  background: #0076ff;
  font-size: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 35px 0 0 0;
  outline: none;
  text-decoration: none;
}
.over-header .section-box-1 .policy-left-car {
  background: #f7fafc;
  padding: 25px;
  font-size: 16px;
  line-height: 25px;
}
.over-header .section-box-1 .policy-left-car ul {
  margin: 0;
  padding: 0;
}
.over-header .section-box-1 .policy-left-car ul li {
  list-style: none;
}
.over-header .section-box-1 .policy-left-car ul li img {
  margin: 0 10px 0 0;
}
.over-header .section-box-1 .bg-tab {
  background: #f1f5f8;
  padding: 25px;
  min-height: 252px;
}
.over-header .section-box-2 {
  margin: 30px 0  0 0;
  min-height: 500px;
  background: #ffffff;
}
.over-header .section-box-2 .top-container {
  padding: 40px;
  border-bottom: 1px solid #e6e6e6;
}
.over-header .section-box-2 .bottom-container .bg-bottom {
  background: #f7fafc;
  clear: both;
  padding: 40px;
}
.over-header .section-box-2 .bottom-container .b-r {
  padding: 30px 40px;
  border-right: 1px solid #e6e6e6;
  min-height: 300px;
}
.over-header .section-box-2 .bottom-container .b-r.bnone {
  border-right: none;
}
.over-header .section-box-2 .bottom-container .b-r .color-orange {
  color: #ff6127;
}
.over-header .section-box-2 .bottom-container .b-r .color-orange a {
  font-size: 16px;
  font-weight: bold;
  color: #314451;
  outline: none;
  text-decoration: none;
}
.over-header .section-box-2 .bottom-container .b-r p {
  font-size: 14px;
}
.over-header .section-box-2 .bottom-container .b-r p a {
  color: #ff6127;
  outline: none;
  text-decoration: none;
}
.over-header .section-box-2 .bottom-container .b-r .button-call {
  margin: 20px 0 0 0;
}
.over-header .section-box-2 .bottom-container .b-r .button-call a {
  background: #0076ff;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  max-width: 122px;
  padding: 2px 24px;
  text-align: center;
  outline: none;
  text-decoration: none;
}
.over-header .section-box-2 .bottom-container .b-r span.ortxt {
  margin: 0 0 0 35px;
  line-height: 20px;
}
.over-header .section-box-2 .bottom-container .b-r span.ortxt:before {
  border-bottom: 1px solid #e6e6e6;
  bottom: 115px;
  content: "";
  left: 93px;
  position: absolute;
  width: 30px;
}
.over-header .section-box-2 .bottom-container .b-r span.ortxt:after {
  border-bottom: 1px solid #e6e6e6;
  bottom: 115px;
  content: "";
  left: 40px;
  position: absolute;
  right: 30px;
  width: 30px;
}
.over-header .section-box-2 .bottom-container .b-r p {
  font-size: 16px;
}
.over-header .section-box-2 .bottom-container .whatsapp-btn {
  margin: 20px 0 0 0;
}
.over-header .section-box-2 .bottom-container .whatsapp-btn a {
  background: #538e12;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-size: 14px;
  padding: 6px 18px;
  text-align: center;
  outline: none;
  text-decoration: none;
}
.over-header .section-box-2 h3 {
  color: #0076ff;
  margin: 0;
}
.over-header .section-box-2 h3.toll-font {
  font-size: 18px;
  line-height: 20px;
}
.over-header .section-box-2 h4 {
  margin: 0;
  line-height: 30px;
}
.over-header .section-box-2 p {
  font-size: 18px;
}
/* Car Css Start */
.bike-overhead {
  margin: -314px 0 0 0;
}
.bike-overhead .bike-l {
  display: block;
}
.bike-overhead .bike-l h2 {
  margin: 0;
  color: #ffffff;
  font-size: 60px;
}
.bike-overhead .bike-l h4 {
  color: #c7d7da;
  font-size: 20px;
  margin: 20px 0;
  letter-spacing: 1px;
}
.bike-overhead .bike-l .listing-line {
  font-size: 30px;
  margin: 50px 0 0 0;
  color: #ffffff;
  position: relative;
}
.bike-overhead .bike-l .listing-line.listing-line:after {
  background: #ffffff;
  color: #ffffff;
  content: "I";
  font-size: 4px;
  height: 45px;
  left: 2px;
  position: absolute;
  top: 45px;
}
.bike-overhead .bike-l ul.circles-list {
  left: -20px;
  list-style: none;
  position: relative;
  top: 59px;
}
.bike-overhead .bike-l ul.circles-list li {
  font-size: 20px;
  left: 40px;
  margin: 14px 0;
  padding: 6px;
  position: relative;
}
.bike-overhead .bike-l .circles-list li:before {
  position: absolute;
  top: 10px;
  left: -26px;
  width: 20px;
  height: 20px;
  border: 1px solid #314451;
  border-radius: 50%;
  background: #ffffff;
  content: "";
}
.bike-overhead .bike-l .circles-list li:after {
  background: #314451;
  color: #314451;
  content: "I";
  font-size: 4px;
  height: 37px;
  left: -18px;
  position: absolute;
  top: -26px;
}
.bike-overhead .bike-r {
  box-shadow: 0 2px 3px #d8d8e2;
  -moz-box-shadow: 0 2px 3px #d8d8e2;
  -webkit-box-shadow: 0 2px 3px #d8d8e2;
  background: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 15px 0;
  padding: 20px 48px 40px 40px;
}
.bike-overhead .bike-r h3 {
  color: #ff6127;
  margin: 0;
}
.bike-overhead .bike-r h3 img {
  margin: 5px 10px 0 0;
  vertical-align: top;
}
.bike-overhead .bike-r label {
  display: block;
  color: #0076ff;
  font-size: 22px;
  line-height: 30px;
  margin: 12px 0;
  font-weight: normal;
}
.bike-overhead .bike-r select {
  display: block;
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #333;
  padding: 5px;
  font-size: 16px;
  color: #97a0a7;
  font-weight: bold;
  outline: none;
}
.bike-overhead .bike-r .get-btn {
  margin: 35px 0 0 0;
  text-align: center;
}
.bike-overhead .bike-r .get-btn a {
  background: #0076ff;
  padding: 10px 22px;
  color: #ffffff;
  font-size: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  outline: none;
}
/* Car Css End */
/* motor Css Start */
.motor-overhead {
  margin: -125px 0 0 0;
}
.motor-overhead .prnone {
  padding-right: 0;
}
.motor-overhead .left-side {
  width: 250px;
  padding: 0;
  background: #f7fafc;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.motor-overhead .box-1 {
  background: #f7fafc;
  padding: 21px 14px 18px 40px;
  border-bottom: 1px solid #e6e6e6;
}
.motor-overhead .box-1.motor-description {
  background: #3f4f5b;
  color: #ffffff;
}
.motor-overhead .box-1.motor-description p {
  font-size: 15px;
  margin: 12px 0;
  color: #ffffff;
}
.motor-overhead .box-1 h4 {
  font-size: 18px;
  color: #ff6127;
  margin: 0 0 2px 0;
}
.motor-overhead .box-1 p {
  font-size: 15px;
  margin: 0;
}
.motor-overhead .box-1 a {
  font-size: 15px;
  color: #0076ff;
  outline: none;
  text-decoration: none;
}
.motor-overhead .box-2 {
  background: #ffffff;
  padding: 21px 14px 18px 40px;
  min-height: 200px;
  margin-top: -2px;
}
.motor-overhead .box-2 .lt-logo {
  border: 2px solid #e6e6e6;
  margin: 10px 0 15px 0;
  padding: 10px;
}
.motor-overhead .box-2 .rs-txt {
  font-size: 18px;
  color: #0076ff;
  line-height: 30px;
}
.motor-overhead .box-2 .breakup-btn {
  margin: 20px 0;
}
.motor-overhead .box-2 .breakup-btn a {
  border: 1px solid #0076ff;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}
.motor-overhead .box-2 h3 {
  margin: 0;
  font-size: 18px;
  color: #ff6127;
}
.motor-overhead .box-2 p {
  font-size: 16px;
  font-weight: bold;
  color: #8d979e;
  line-height: 18px;
}
.motor-overhead .box-2 ul.circles-list {
  left: 17px;
  list-style: none;
  position: relative;
  top: 15px;
}
.motor-overhead .box-2 ul.circles-list li {
  font-size: 14px;
  left: 40px;
  margin: 0;
  color: #8d979e;
  padding: 4px 0;
  position: relative;
}
.motor-overhead .box-2 .circles-list li:before {
  position: absolute;
  top: 10px;
  left: -26px;
  width: 10px;
  height: 10px;
  border: 1px solid #e5e8e9;
  border-radius: 50%;
  background: #e5e8e9;
  content: "";
}
.motor-overhead .box-2 .circles-list li:after {
  background: #e5e8e9;
  color: #e5e8e9;
  content: "I";
  font-size: 4px;
  height: 19px;
  left: -21px;
  position: absolute;
  top: -9px;
}
.motor-overhead a {
  font-size: 15px;
  color: #0076ff;
  outline: none;
  text-decoration: none;
}
.box-3 {
  padding: 40px 14px 18px 40px;
}
.box-3.quotes-container {
  background: #f7fafc;
  min-height: 650px;
}
.box-3.quotes-container h3 {
  color: #c4cbd1;
  font-size: 12px;
  letter-spacing: 2px;
  opacity: 0.6;
}
.box-3.quotes-container h4 {
  color: #ff6127;
  margin: 0;
  line-height: 30px;
}
.box-3.quotes-container p {
  font-size: 20px;
}
.box-3.quotes-container .summary-btn {
  margin: 40px 0;
}
.box-3.quotes-container .summary-btn a {
  border: 1px solid #0076ff;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.box-3.quotes-container ul.circles-list {
  left: 17px;
  list-style: none;
  position: relative;
  top: 15px;
}
.box-3.quotes-container ul.circles-list li {
  font-size: 14px;
  left: 40px;
  margin: 0;
  color: #8d979e;
  padding: 4px 0;
  position: relative;
}
.box-3.quotes-container .circles-list li:before {
  position: absolute;
  top: 10px;
  left: -26px;
  width: 10px;
  height: 10px;
  border: 1px solid #e5e8e9;
  border-radius: 50%;
  background: #e5e8e9;
  content: "";
}
.box-3.quotes-container .circles-list li:after {
  background: #e5e8e9;
  color: #e5e8e9;
  content: "I";
  font-size: 4px;
  height: 19px;
  left: -21px;
  position: absolute;
  top: -9px;
}
.box-3.quotes-container .addons {
  margin: 20px 0;
}
.box-3.quotes-container .addons p {
  font-size: 14px;
  margin: 15px 0 0 33px;
  color: #8d979e;
}
.box-3 h3 {
  margin: 0 0 20px;
}
.box-3 ul {
  margin: 0;
  padding: 0;
}
.box-3 ul li {
  display: block;
  list-style: none;
  margin: 12px 0;
}
.box-3 ul li label {
  margin: 0;
}
.middle-box {
  width: 874px;
}
.middle-box.top-margin {
  margin: 18px 0 0 0;
  padding-right: 0;
}
.middle-box.top-margin a {
  font-size: 16px;
}
.middle-box.top-margin a img {
  max-width: 10px;
  margin: 0 10px 0 0;
}
.middle-box #menu-fixed {
  z-index: 1;
}
.middle-box .list-box {
  background: #ffffff;
  z-index: -1;
  display: block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.middle-box .list-box .motor-toggle {
  cursor: pointer;
  margin: 0;
}
.middle-box .list-box .motor-content {
  padding: 20px;
  font-size: 16px;
  display: none;
}
.middle-box .list-box .motor-content.open-content {
  display: block;
}
.middle-box .list-box ul {
  margin: 0;
  padding: 0;
}
.middle-box .list-box ul li {
  background: #f7fafc;
  display: block;
  padding: 20px;
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
  color: #0076ff;
  font-size: 20px;
}
.middle-box .list-box.mtop {
  margin: 22px 0 0 0;
}
.middle-box .list-box a {
  background: #0076ff;
  font-size: 16px;
  color: #ffffff;
  padding: 10px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  margin: 30px 0 0 0;
}
.middle-box .blue-box {
  background: #0076ff;
  padding: 22px;
  min-height: 125px;
}
.middle-box .blue-box h4 {
  color: #ffffff;
  margin: 0 0 15px 0;
}
.middle-box .blue-box p {
  color: #99c8ff;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
.middle-box .blue-box .bd-r {
  border-right: 1px solid #0257ba;
}
.middle-box .blue-box-1 {
  background: #0076ff;
  padding: 10px 19px;
  margin: 11px 0 0 0;
  display: block;
  min-height: 60px;
  width: 858px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.middle-box .blue-box-1 ol {
  margin: 0;
  padding: 0;
  counter-reset: li;
}
.middle-box .blue-box-1 ol li {
  display: inline-block;
  list-style: none;
  position: relative;
  padding: 9px 60px;
  font-size: 16px;
  color: #ffffff;
  left: 27px;
}
.middle-box .blue-box-1 ol li:before {
  content: counter(li);
  counter-increment: li;
  border: 1px solid #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 7px 0 0 0;
}
.middle-box .blue-box-1 ol li:after {
  content: "";
  border-top: 1px solid #ffffff;
  width: 45px;
  position: absolute;
  top: 22px;
  left: -45px;
}
.middle-box .blue-box-1 ol li.done:before {
  content: "\2713";
  color: #0076ff;
  font-size: 18px;
  font-weight: bold;
  background: #ffffff;
  border: 1px solid #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 7px 0 0 0;
}
.middle-box .blue-box-1 ol li.active:before {
  content: counter(li);
  counter-increment: li;
  color: #0076ff;
  font-size: 18px;
  font-weight: bold;
  background: #ffffff;
  border: 1px solid #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 7px 0 0 0;
}
.middle-box .blue-box-1 ol li:first-child:after {
  border-top: none;
}
.btn-box {
  background: #ffffff;
  padding: 20px;
  display: block;
  box-shadow: 0 2px 3px #d8d8e2;
  -moz-box-shadow: 0 2px 3px #d8d8e2;
  -webkit-box-shadow: 0 2px 3px #d8d8e2;
}
.btn-box.mtop {
  margin: 22px 0 0 0;
}
.btn-box a {
  background: #0076ff;
  font-size: 15px;
  color: #ffffff;
  padding: 4px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
}
.def-txt {
  margin: 30px 0 0 0;
}
.def-txt h3 {
  margin: 0;
  display: inline;
}
.def-txt a {
  font-size: 18px;
  color: #0076ff;
  text-decoration: underline;
  outline: none;
  float: right;
}
.box-right {
  background: #ffffff;
  padding: 25px 0 0 0;
}
.box-right.motor-nw {
  padding: 0;
  background: #ffffff;
}
.box-right.motor-nw .icon-circle {
  background: #e6e6e6;
  max-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 27px;
}
.box-right.motor-nw h2 {
  margin: 10px 0;
  font-size: 18px;
}
.box-right h3 {
  text-transform: uppercase;
  font-size: 20px;
  margin: 16px 0;
}
.box-right img {
  max-width: 50px;
}
.box-right .save-bg {
  box-shadow: 0 2px 3px #d8d8e2;
  -moz-box-shadow: 0 2px 3px #d8d8e2;
  -webkit-box-shadow: 0 2px 3px #d8d8e2;
  background: #f7fafc;
  padding: 23px;
}
.box-right .save-bg h4 {
  margin: 0 0 20px;
  font-size: 14px;
}
.box-right .save-bg a {
  background: #00d9aa;
  padding: 3px 20px;
  font-size: 15px;
  color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  ouline: none;
}
.regular-checkbox {
  display: none;
}
.regular-checkbox + label {
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}
.regular-checkbox + label:active,
.regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.regular-checkbox:checked + label {
  background: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}
.regular-checkbox:checked + label:after {
  content: '\2714';
  background: #0076ff;
  border: 1px solid #0076ff;
  color: #ffffff;
  font-size: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  left: -1px;
  padding: 1px 4px;
  position: absolute;
  top: -1px;
}
span.txt-chbox {
  font-size: 18px;
  margin: 0 0 0 15px;
}
.form-detaials {
  padding: 30px;
}
.form-detaials h3 {
  margin: 0 0 10px 0;
}
.form-detaials .border-right {
  border-right: 1px solid #e6e6e6;
}
.form-detaials .padd-left {
  padding-left: 45px;
}
.form-detaials.form-detaials .dob-container {
  display: inline-block;
}
.form-detaials.form-detaials label {
  display: block;
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
}
.form-detaials.form-detaials input {
  font-size: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 4px -3px #c0aab1 inset;
  -moz-box-shadow: 0 2px 4px -3px #c0aab1 inset;
  -webkit-box-shadow: 0 2px 4px -3px #c0aab1 inset;
  border: 1px solid #e6e6e6;
  padding: 4px;
  height: 40px;
  width: 220px;
  margin: 0 0 10px;
}
.form-detaials.form-detaials .date-width {
  width: 70px;
}
.form-detaials.form-detaials select {
  font-size: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 4px -3px #c0aab1 inset;
  -moz-box-shadow: 0 2px 4px -3px #c0aab1 inset;
  -webkit-box-shadow: 0 2px 4px -3px #c0aab1 inset;
  border: 1px solid #e6e6e6;
  padding: 4px;
  height: 40px;
  width: 220px;
  margin: 0 0 10px;
}
.form-detaials .btn-next {
  margin: 20px 0;
}
.p-top {
  padding-top: 65px;
}
/* Motor Css End */
/* Motor Css ST */
.carform-container {
  width: 850px;
  box-shadow: 0 2px 3px #d8d8e2;
  -moz-box-shadow: 0 2px 3px #d8d8e2;
  -webkit-box-shadow: 0 2px 3px #d8d8e2;
  background: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 50px auto;
  padding: 20px 48px 40px 40px;
}
.carform-container span.search {
  position: absolute;
  top: 10px;
}
.carform-container span.search img {
  max-width: 15px;
}
.carform-container h3 {
  color: #ff6127;
  margin: 0;
}
.carform-container h3 img {
  margin: 5px 10px 0 0;
  vertical-align: top;
}
.carform-container label {
  display: block;
  color: #0076ff;
  font-size: 22px;
  line-height: 30px;
  margin: 12px 0;
  font-weight: normal;
}
.carform-container input {
  display: block;
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #333;
  padding: 5px 25px;
  font-size: 16px;
  color: #97a0a7;
  font-weight: bold;
  outline: none;
}
.carform-container select {
  display: block;
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #333;
  padding: 5px;
  font-size: 16px;
  color: #97a0a7;
  font-weight: bold;
  outline: none;
}
.carform-container .get-btn {
  margin: 35px 0 0 0;
}
.carform-container .get-btn a {
  background: #0076ff;
  padding: 10px 22px;
  color: #ffffff;
  font-size: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  outline: none;
}
.carform-container .radio-btn .motor-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.carform-container .radio-btn .motor-checkbox + label.css-label {
  padding: 0 45px;
  height: 32px;
  display: inline-block;
  line-height: 32px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 20px;
  color: #314451;
  vertical-align: middle;
  cursor: pointer;
}
.carform-container .radio-btn .motor-checkbox:checked + label.css-label {
  background-position: 0 -32px;
}
.carform-container .radio-btn label.css-label {
  background: url(../img/radio-select.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a {
  font-size: 20px;
  color: #0076ff;
  line-height: 35px;
  text-decoration: underline;
}
/* Motor Css End */
