


@cfBaseColor: #FF7B5E;
@motorBaseColor: #0076ff;
@baseFont: 'Lato','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif;

body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family:@baseFont;
  color:#314451;
}

*{
  -webkit-backface-visibility:hidden;
}

a{
  cursor: pointer;
}

.roundedCorners(@radius: 3px){
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.thinBorder(@color: @cfBaseColor, @radius: 3px){
  .roundedCorners(@radius);
  padding:5px 10px;
  border:1px solid @color;
}

.fullWidthBackground{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center center;
}

.gradient (@startColor: #eee, @endColor: white) {
  background-color: @startColor;
  background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
}

.wideUppercase(@letterspacing: 3px){
  text-transform: uppercase;
  letter-spacing: @letterspacing;

}

.boxShadow (@hor: 3px, @vert: 2px, @blur: 5px, @shadow: #717171) when (iscolor(@shadow)){
  -webkit-box-shadow: @hor @vert @blur @shadow;
  -moz-box-shadow: @hor @vert @blur @shadow;
  box-shadow: @hor @vert @blur @shadow;
}
.boxShadow (@hor: 3px, @vert: 2px, @blur: 5px, @shadow: 50%) when (isnumber(@shadow)){
  .boxShadow(@hor, @vert, @blur, rgba(0,0,0, @shadow));
}
.boxInsetShadow (@hor: 3px, @vert: 2px, @blur: 5px, @shadow: #717171) when (iscolor(@shadow)){
  -webkit-box-shadow:inset @hor @vert @blur @shadow;
  -moz-box-shadow:inset @hor @vert @blur @shadow;
  box-shadow:inset @hor @vert @blur @shadow;
}
.boxInsetShadow (@hor: 3px, @vert: 2px, @blur: 5px, @shadow: 50%) when (isnumber(@shadow)){
  .boxInsetShadow(@hor, @vert, @blur, rgba(0,0,0, @shadow));
}
.boxMultipleShadow(@value){
  -webkit-box-shadow: @value;
  -moz-box-shadow: @value;
  box-shadow: @value;
}

.transform-origin (@x:center, @y:center) {
  -webkit-transform-origin: @x @y;
  -moz-transform-origin:    @x @y;
  -ms-transform-origin:     @x @y;
  -o-transform-origin:      @x @y;
}

.transform(@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;
}


.transition (@range: all, @time: 0.5s, @ease: cubic-bezier(.4, 0, .2, 1)) {
  -moz-transition: @range @time @ease;
  -webkit-transition: @range @time @ease;
  -o-transition: @range @time @ease;
  transition: @range @time @ease;
}

.transform-transition(@time: 0.5s, @ease: cubic-bezier(.4, 0, .2, 1)){
   -moz-transition: -moz-transform @time @ease, opacity @time @ease;
  -webkit-transition: -webkit-transform @time @ease, opacity @time @ease;
  -o-transition: -o-transform @time @ease, opacity @time @ease;
  -ms-transition: -ms-transform @time @ease, opacity @time @ease;
  transition: transform @time @ease, opacity @time @ease;
}
.cubic-trans{
  .transition(@ease: cubic-bezier(0.4,0.1,0.1,1));
}
.bounce-trans{
  .transition(@ease:cubic-bezier(0, 1.6, 1, 1.6));
}

.transition-delay(@delay){
  -webkit-transition-delay: @delay;
  -moz-transition-delay: @delay;
  -o-transition-delay: @delay;
  transition-delay: @delay;
}
.d1{
  .transition-delay(100ms)!important;
}
.d2{
  .transition-delay(200ms)!important;
}
.d3{
  .transition-delay(300ms)!important;
}
.d4{
  .transition-delay(400ms)!important;
}

.topLayer{
  position: relative;
  z-index: 200;
}

.middleLayer{
  position: relative;
  z-index: 199;
}

.bottomLayer{
  position: relative;
  z-index: 198;
}

.pnone{
  padding:0;
}

.transform-origin (@x:center, @y:center) {
  -webkit-transform-origin: @x @y;
  -moz-transform-origin:    @x @y;
  -ms-transform-origin:     @x @y;
  -o-transform-origin:      @x @y;
}

.perspective(@value: 1000px){
  -webkit-perspective:@value;
  perspective:@value;
}

.input-cfox{
  .roundedCorners();

  border:1px solid #314451;
  padding: 10px 15px;
  background: #f7fafc;
  border: 1px solid rgba(49,68,81,0.5);
  outline: 0;
  letter-spacing: 1px;
  .boxInsetShadow(2px, 2px, 3px, rgba(0,0,0,0.15));
  &:focus{
    .boxInsetShadow(1px, 2px, 3px, rgba(0,0,0,0.1));
  }
}

.btn-cfox{
  .gradient(rgba(0,0,0,0), rgba(0,0,0,0.05));
  .boxShadow(1px, 2px, 3px, 20%);
  font-size: 20px;
  color:#fff;
  padding:10px;
  .roundedCorners;
  height:42px;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    color:#fff;
    .gradient(rgba(0,0,0,0), rgba(0,0,0,0.08));
  }
  &.small{
    text-transform: none;
    letter-spacing: 0px;
    padding:5px 10px;
    .boxShadow(1px, 1px, 1px, 20%);
  }
  &.medium{
    text-transform: none;
    letter-spacing: 0px;
    padding:8px 10px;
    .boxShadow(1px, 1px, 1px, 20%);
  }
  &.blank{
    background-color: transparent;
    color:#8baabc;
    border:1px solid #8baabc;
    .boxShadow(1px, 1px, 0px, 0%);
    .gradient(rgba(0,0,0,0), rgba(0,0,0,0));
  }
  &.flat{
    .gradient(rgba(0,0,0,0), rgba(0,0,0,0.0));
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:0;
  }
  &.orange{
    background-color: @cfBaseColor;
    border:1px solid darken(@cfBaseColor, 10%);
  }
  &.blue{
    background-color: @motorBaseColor;
    border:1px solid darken(@motorBaseColor, 10%);
  }
  &.btn-next{
    display:inline-block;
    height: 57px;
    position: relative;
  }
}


.top-bar-wrapper{
  border-bottom: 1px solid rgba(49, 68, 81, 0.15);
  padding: 0 30px 15px 30px;
  position: relative;
  z-index: 100;
  background: #f7fafc;
  ul{
    list-style-type: none;
    padding: 0;
    padding-top:20px;

    li{
      display: inline-block;
      vertical-align: middle;
      &.logo{
        img{
          max-width:180px;
        }
      }
      &.irda-tag{
        padding-left: 20px;
        vertical-align: bottom;
        line-height: 120%;
        margin-bottom: -1px;
      }

      &.btn-menu{
        margin-right:12px;
      }

    }
  }
}