body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  color: #314451;
}
* {
  -webkit-backface-visibility: hidden;
}
a {
  cursor: pointer;
}
.fullWidthBackground {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.cubic-trans {
  -moz-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
}
.bounce-trans {
  -moz-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -webkit-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -o-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
}
.d1 {
  -webkit-transition-delay: 100ms !important;
  -moz-transition-delay: 100ms !important;
  -o-transition-delay: 100ms !important;
  transition-delay: 100ms !important;
}
.d2 {
  -webkit-transition-delay: 200ms !important;
  -moz-transition-delay: 200ms !important;
  -o-transition-delay: 200ms !important;
  transition-delay: 200ms !important;
}
.d3 {
  -webkit-transition-delay: 300ms !important;
  -moz-transition-delay: 300ms !important;
  -o-transition-delay: 300ms !important;
  transition-delay: 300ms !important;
}
.d4 {
  -webkit-transition-delay: 400ms !important;
  -moz-transition-delay: 400ms !important;
  -o-transition-delay: 400ms !important;
  transition-delay: 400ms !important;
}
.topLayer {
  position: relative;
  z-index: 200;
}
.middleLayer {
  position: relative;
  z-index: 199;
}
.bottomLayer {
  position: relative;
  z-index: 198;
}
.pnone {
  padding: 0;
}
.input-cfox {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #314451;
  padding: 10px 15px;
  background: #f7fafc;
  border: 1px solid rgba(49, 68, 81, 0.5);
  outline: 0;
  letter-spacing: 1px;
  -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.15);
}
.input-cfox:focus {
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.btn-cfox {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 42px;
  cursor: pointer;
}
.btn-cfox:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.08)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
}
.btn-cfox.small {
  text-transform: none;
  letter-spacing: 0px;
  padding: 5px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-cfox.medium {
  text-transform: none;
  letter-spacing: 0px;
  padding: 8px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-cfox.blank {
  background-color: transparent;
  color: #8baabc;
  border: 1px solid #8baabc;
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-cfox.flat {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.btn-cfox.orange {
  background-color: #ff7b5e;
  border: 1px solid #ff512b;
}
.btn-cfox.blue {
  background-color: #0076ff;
  border: 1px solid #005ecc;
}
.btn-cfox.btn-next {
  display: inline-block;
  height: 57px;
  position: relative;
}
.top-bar-wrapper {
  border-bottom: 1px solid rgba(49, 68, 81, 0.15);
  padding: 0 30px 15px 30px;
  position: relative;
  z-index: 100;
  background: #f7fafc;
}
.top-bar-wrapper ul {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
}
.top-bar-wrapper ul li {
  display: inline-block;
  vertical-align: middle;
}
.top-bar-wrapper ul li.logo img {
  max-width: 180px;
}
.top-bar-wrapper ul li.irda-tag {
  padding-left: 20px;
  vertical-align: bottom;
  line-height: 120%;
  margin-bottom: -1px;
}
.top-bar-wrapper ul li.btn-menu {
  margin-right: 12px;
}
