@import "basestyles.less";
@import "arrow.less";

.car-selector-widget-wrapper{
  background:rgba(21,26,31,0.85);
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  .transition(@range:opacity);
  visibility: hidden;
  z-index:300;
  &.reveal{
    visibility: visible;
    opacity:1;

  }
}


#_csw-summary-wrapper{
  margin-top:30px;
}

._csw-summary-card{
  position: relative;
  p{
    position: absolute;
    left:50%;
    top:50%;
    text-transform: uppercase;
    letter-spacing: 2px;
    .transform(translate3d(-50%,-50%,0));
  }
}