@import "basestyles.less";
@import "arrow.less";



.hero-wrapper{
  min-height:100vh;


  position: relative;
  .hero-wrapper-bg{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: url('../img/dashboardbnw.jpg');
    .fullWidthBackground;
      background-color:#535353;
    opacity:0;
    visibility: hidden;
    &.reveal{
      opacity:1;
      visibility:visible;
    }

  }
}

.logo{
  padding-top:30px;
  img{
    height:40px;
  }
  p{
    .wideUppercase(6px);
    font-size: 20px;
    color:@motorBaseColor;
    font-weight: 300;
  }
}

.topbar-wrapper{
  position: relative;
  &.bordered{
    border-bottom:1px solid rgba(0,0,0,0.1);
  }

}

.topbar-shade{
  position: absolute;
  top:0;
  left:0;
  right:0;
  height:100vh;
  background: rgba(0, 0, 0, 0.4);
  /*.gradient(rgba(0,0,0,0.4), rgba(0,0,0,0));*/
  .cubic-trans;
   opacity:0;
   visibility:hidden;
  &.darker{
    background: rgba(0, 0, 0, 0.7)
  }
  &.reveal{
    opacity:1;
    visibility:visible;
  }
}

.step{
  position: absolute;
  width: 100%;
  visibility: hidden;
  pointer-events:none;
  .animated {
    .transform(translateY(50px));
    opacity: 0;
    pointer-events: none;
    .cubic-trans;
  }
  &.reveal{
    visibility: visible;
    pointer-events:all;
    .animated {
      .transform(translateY(0px));
      opacity: 1;
      pointer-events: all;
    }
  }
}

#step1{
  margin-top:100px;
  ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    padding-top:30px;
    li{
      display: inline-block;
      margin-right: 30px;
      cursor: pointer;
      border:1px solid rgba(255,255,255,0);
      background: rgba(0,0,0,0.4);
      padding:25px 15px;
      .roundedCorners(5px);
      &:hover{
        border:1px solid rgba(255,255,255,0.9);
        background: rgba(0, 0, 0, 0.8);
      }
      &.selected {
        border: 1px solid @motorBaseColor;
        background: rgba(0, 0, 0, 0.6);
      }
      p{
        color:@motorBaseColor;
        font-size: 23px;
        font-weight: 300;
        margin: 0;
        margin-top: 15px;
      }
    }
  }
}

#step1 p.question{
  color:#fff;
  font-weight: 300;
  font-size: 30px;
}

.stepform{
  margin-top:80px;
  p{
    color:#fff;
    .wideUppercase();
    text-align: center;
    &.question{
      margin-bottom: 60px;
      text-transform: none;
      letter-spacing: 0px;
      font-size: 40px;
    }
  }
  .btn-section{
    margin-top:80px;
  }
}


.multiselect-widget{
  position: relative;
  .multiselect-dd{
    position: absolute;
    background: rgba(255,255,255,0.9);
    width:250px;
    left:50%;
    .transform(translateX(-50%));
    .roundedCorners();
    .empty-ui{
      text-align: center;
      padding:15px;
      font-size:12px;
      span{
        font-weight: bold;
      }
    }
    .keyword{
      padding:10px;
      border-bottom:1px solid rgba(0,0,0,0.1);
      background-color:@motorBaseColor;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      position: relative;


      .close-btn{
        position: absolute;
        width:15px;
        height:15px;
        right:20px;
        top:50%;
        margin-top:-7px;
        background-image:url(../img/cross-icon.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size:15px 15px;
        cursor: pointer;
        .bounce-trans;
        .transform(translateY(20px));
        opacity: 0;

        &.reveal{
           opacity:1;
           .transform(translateY(0px));
        }
      }
      input{
        border: 1px solid rgb(29, 162, 210);
        .roundedCorners;
        padding: 5px;
        width: 100%;
        padding-left:35px;
        background-image:url(../img/search-icon.png);
        background-repeat: no-repeat;
        background-position: left 15px center;
        background-size:15px 15px;
      }
    }
    ul{
      list-style-type: none;
      padding: 0;
      max-height:300px;
      overflow-y: auto;
      margin-bottom: 0;
      li{
        padding:10px 15px;
        cursor: pointer;
        letter-spacing: 2px;
        &:hover{
          background:#f1f4f6;
        }
        &.selected{
          background: lighten(@motorBaseColor, 20%);
        }
      }
    }
  }
}

.multiselect-widget>ul{
  list-style-type: none;
  padding: 0;
  font-size:0;
  text-align: center;
  &>li{
    background-color: #fff;
    display: inline-block;
    padding:10px 20px;
    padding-right:40px;
    font-size:14px;
    cursor: pointer;
    position: relative;
    background-image:url(../img/down-arrow.png);
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size:15px 9px;
    &.active{
      background-color:@motorBaseColor;
      color:#fff;

    }
    &:first-child{
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-right:1px solid rgba(0,0,0,0.15);
    }
    &:last-child{
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-right: none;
    }
  }
}


ul.input-special{
  list-style-type: none;
  padding: 0;
  font-size:0;
  text-align: center;
  &>li{
    background-color: #fff;
    display: inline-block;
    padding:10px 20px;
    font-size:14px;
    cursor: pointer;
    position: relative;
    span{
      padding:2px 10px;
      border:1px solid rgba(0,0,0,0.1);
      .roundedCorners(30px);
    }

    input{
      border:0;
      border-bottom:1px solid rgba(0,0,0,0.3);
    }

    .dd{
      position: absolute;
      padding-bottom: 20px;
      top:50px;
      left:0;
      .roundedCorners;
      background: rgba(255,255,255,0.95);
      z-index:200;
      cursor: default;
      overflow-x: hidden;
      &.mmvdd{
        width:500px;
        .bounce-trans;
        .transform(translateY(-50px));
        opacity:0;
        visibility: hidden;
        &.reveal{
          .transform(translateY(0px));
          opacity:1;
          visibility: visible;
        }
        h3{

          font-size: 20px;
          margin: 0;
          margin-bottom: 20px;
          padding: 10px 15px;
          .wideUppercase();
          color:#fff;
          background:@motorBaseColor;


        }
      }
    }
    &.special{
      background:@motorBaseColor;
      color:#fff;
      padding:10px 20px;
      font-size: 20px;
    }
    &:first-child{
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-right:1px solid rgba(0,0,0,0.3);
    }
    &:last-child{
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-right: none;
    }
  }
}

.btn-empty{
  cursor: pointer;
}

.make-list-column, .model-list-column, .variant-list-column{
  list-style-type: none;
  padding-left: 15px;
  li{
    text-align:left;
    text-transform: none;
    font-size: 12px;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}

.car-details{
  position: absolute;
  width:200px;
  height:200px;
  top:50px;
  overflow: hidden;
  .bounce-trans;
  .transform(translateY(100px));
  left:50%;
  margin-left:-100px;
  opacity:0;
  .roundedCorners();
  &.reveal{
    .transform(translateY(0px));
    opacity: 1;
  }
  .car-image{
    .fullWidthBackground;
    height:200px;

    background-image: url(../img/alto.jpg);
  }
}

h1.results-tab-header {
  font-size: 16px;
  letter-spacing: 3px;
  color: #535353;
  margin-top:50px;
  a {
    color: @motorBaseColor;
    border: 1px solid @motorBaseColor;
    padding: 5px 10px;
    height: 25px;
    font-size: 14px;
    letter-spacing: 0;
    .roundedCorners;
    vertical-align: middle;
    margin-left: 10px;

    &:hover {
      text-decoration: none;
      background: @motorBaseColor;
      color: #fff;

    }
  }
  span {
    font-weight: bold;
  }
}

.results-block-sidebar {
  float: left;
  min-height: 100vh;
  width: 210px;
  position: relative;
  bottom: 0;

}




.sidebar-label {
  .wideUppercase;
  padding: 0 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #535353;
  &.small{
    text-transform: none;
    letter-spacing: 0;
    font-weight: normal;
    font-size: 14px;
  }
  .label-subtext {
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
  }
}

ul.sidebar-options {
  list-style-type: none;
  padding: 0 15px;
  li {
    background: url(../img/tick-square-empty.png) no-repeat 0 5px;
    padding: 4px 0 4px 25px;
    background-size: 16px 16px;
    cursor: pointer;
    position: relative;
    .explanation{
      position: absolute;
      width:300px;
      .roundedCorners();
      #arrow > .left(7px, #000, 1px, #000);
      background: rgba(0, 0, 0, 0.95);
      left:100%;
      display: none;
      padding:20px;
      z-index:30;
      top: 50%;
      transform: translateY(-50%);

    }



    &.selected {
      background-image: url(../img/tick-square-orange.png);
      color: @cfBaseColor;
    }
    &:hover {
      color: @cfBaseColor;
      .explanation{
        display: block;
        color:#fff;
      }
    }
  }
  &.special {
    li {
      font-size: 12px;
      background-size: 14px 14px;
    }
  }
}

.sidebar-section{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 2px 3px rgba(0,0,0,0.05);
  .roundedCorners();
  margin:0;
  &.mandatory{
    border:2px solid @cfBaseColor;
    background:transparent;

  }
}


.dropdown-trigger {
  padding: 0 15px;
  & > a {
    .thinBorder;
    display: block;
    margin-top: 10px;
    color: @cfBaseColor;
    &.loading-progress {
      background-color: rgb(255, 224, 225);
    }
    img {
      float: right;
      width: 20px;
      margin-top: 7px;
    }
    &:hover, &.active {
      background: rgba(255, 255, 255, 0.95);
      text-decoration: none;
    }
    &.active {
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  ul.sidebar-options {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid @cfBaseColor;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: rgba(255, 255, 255, 0.95);
    border-top: none;

  }
}

.results-block-plans{
  float: left;
  min-height: 100vh;
  margin-top:30px;
  padding-left:20px;
  margin-left:20px;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  width:900px;
}

.plan-card{
  .roundedCorners;
  border:1px solid rgba(0,0,0,0.1);
  margin-bottom: 20px;

}

.premium-element{
  text-align: center;
  h3{
    color:@motorBaseColor;
    margin: 0;
    font-size: 20px;
  }
  p{
    font-size: 12px;
    font-weight: bold;
    color: #5b798d;
    margin-bottom: 0;
    margin-top: 2px;

  }
}

.pc-buttons {
  width: 280px;
  padding-top: 4px;
  ul {
    list-style-type: none;
    padding: 0;
    font-size: 0;
    li {
      display: inline-block;
      padding: 5px 10px;
      background: @motorBaseColor;
      border: 1px solid @motorBaseColor;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      &.empty {
        background: transparent;
        color: @motorBaseColor;
      }
      &:hover {

        background: darken(@motorBaseColor, 5%);
      }
      &.empty:hover {
        background: #fff;
      }
    }
  }
}

.addon-element{
  margin-top: 3px;
  font-size: 12px;
  img{
    vertical-align: top;
margin-top: 3px;
  }
  span.happy{
    background: rgb(50, 195, 157);
    padding: 2px 5px;

    color:#fff;
    font-size: 12px;
    display: inline-block;
    .roundedCorners();
    margin-top: 2px;

  }

  span.sad{
    background: #FF6A6A;
    padding: 2px 5px;
    color:#fff;
    font-size: 12px;
    display: inline-block;
    .roundedCorners();
    margin-top: 2px;

  }
}


.small-text{
  color:@motorBaseColor;
  font-size: 12px;
  padding-left:15px;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

.select-widget{
  position: relative;
  cursor: pointer;
  display: inline-block;
  background:#fff;

  font-size: 14px;

  .roundedCorners();

  h4{
    font-size: 14px;
    margin: 0;
    line-height: 150%;
    padding: 10px 20px;
  }

  .select-widget-dropdown{
    position: absolute;
    width:200px;
    margin-top:20px;
    background: #fff;
    #arrow > .top(7px, #fff, 1px, #fff);
    left:50%;
    opacity: 0;
    visibility: hidden;
    .transform-origin(50%, 0%);
    .transform(translateX(-50%)translateY(-20px)scale(0.9));
    .roundedCorners();
    .transform-transition(@time:0.3s, @ease:cubic-bezier(0.175, 0.885, 0.32, 1.275));
    &.reveal{
      .transform(translateX(-50%)translateY(0)scale(1));
      opacity: 1;
      visibility: visible;
    }
    .keyword{
      padding:10px;
      border-bottom:1px solid rgba(0,0,0,0.1);
      input{
        .boxInsetShadow(1px, 2px, 3px, 10%);
        .roundedCorners;
        border:1px solid rgba(0,0,0,0.1);
        padding: 5px;
        width: 100%;
        background: #F1F4F6;

      }
    }

    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
      max-height:250px;
      overflow-y: auto;
      li{
        cursor: pointer;
        padding:5px 10px;
        &:hover{
          background:#f2f2f2;
        }
        &.selected{
          background: @cfBaseColor;
          color:#fff;

        }
      }
    }

  }
}


.vehicleImage{
  .roundedCorners();
  .transform(translateY(100px)scale(0.4));
  opacity:0;
  visibility: hidden;
  position: relative;
  z-index:-1;
  max-height:110px;
  &.reveal{
     .transform(translateY(0px)scale(1));
    opacity:1;
    visibility: visible;
  }
}


.loading{
  color:#fff;
  .wideUppercase();
  margin-top:200px;
}

.fullWidthBackground{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center center;
}


.carimg{
  height:100px;
  .fullWidthBackground;
}

.cardetails{
  padding-top:20px;
}

#results{
  min-height:100vh;
  position: relative;
}

#sidebar{
  position: absolute;
  width:300px;
  top:0;
  left:0;
  bottom:0;
  background: #f3f7fa;
  border-right:1px solid rgba(0,0,0,0.1);
  z-index:30;

}

#results-pane{
  margin-left:300px;
}

.mandatory-section{
  background: #fff;

  border:4px solid @motorBaseColor;
  .roundedCorners(10px);
}


#mandatory-options{
  background: rgb(19, 46, 73);
  color:#fff;
  margin:0;
  padding-top: 25px;
  background-image: url('../img/dashboardbnw.jpg');
    .fullWidthBackground;
  position: relative;
  &>h3{
    position: relative;
    margin-top: 0;
    margin-bottom: 32px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    span.edit-btn{
    background: @motorBaseColor;
    color:#fff;
    cursor: pointer;
    padding:5px 10px;
    .roundedCorners();
  }
  }
}

.minimize-btn{
  position: absolute;
  top:15px;
  right:15px;
  color:#fff;
  cursor: pointer;
  z-index:300;
  span.icon{
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    padding: 3px 10px;
    line-height: 100%;
    margin-right: 5px;
  }
  &:hover{
    span.icon{
      background:#fff;
      color:#000;
    }
  }

}

.cover{
  position: absolute;
  left:0;
  top:0;
  bottom:0;
  right:0;
  background: rgb(6, 29, 52);
  opacity:0.8;
}

.mo-section{
  opacity:1;
  visibility: visible;
}

.minimized{
  opacity:0;
  overflow: hidden;
  height:0;
}

.mo-section h3{
  .wideUppercase();
  font-weight: bold;
  font-size: 13px;
  margin-top: 0;
  color: @motorBaseColor;
  span{
    color:@cfBaseColor;
  }

}

.mo-section ul {
  list-style-type: none;
  padding: 0 15px;
  li {
    background: url(../img/tick-square-empty.png) no-repeat 0 5px;
    padding: 4px 0 4px 25px;
    background-size: 16px 16px;
    cursor: pointer;

    &.selected {
      background-image: url(../img/tick-square-orange.png);
      color: @cfBaseColor;
    }
    &:hover {
      color: @cfBaseColor;
    }
  }
  &.special {
    li {
      font-size: 12px;
      background-size: 14px 14px;
    }
  }
}

.update-results{
  background: @motorBaseColor;
  .wideUppercase();
  padding-top:10px;
  padding-bottom:10px;
  text-align: center;
  color:#fff;
  cursor: pointer;
  .cubic-trans;
  &:hover{
    background: darken(@motorBaseColor, 10%);
  }
}

#result-cards{
  padding:20px;

}

.plan-card{
  margin:0;
  .boxShadow(1px, 1px, 1px, rgba(0,0,0,0.1));
  margin-bottom:20px;
}

.buy-btn{
  display: inline-block;
  background: @motorBaseColor;
  color:#fff;
  .roundedCorners();
  .wideUppercase();
  padding:5px 10px;
  &:hover{
    text-decoration: none;
    background: darken(@motorBaseColor, 20%);
    color:#fff;

  }
}


.plan-card-top{
  padding-top:20px;
  padding-bottom:20px;
  img{
    max-height: 46px;
  }
}

.plan-premium{
  h3{
    margin: 0;
    color:@cfBaseColor;
  }
  p{
    margin: 0;
    color: rgb(158, 158, 158);
  }
}


.sidebar-section.addons{
  padding:20px;
  h3{
    .wideUppercase();
  }
}

.plan-card-bottom{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
background: rgb(241, 244, 247);
padding-top: 10px;
  ul{
    list-style-type: none;
    padding: 0;
    li{
      display: inline-block;
      margin-right:20px;
      span{
        font-size: 12px;
      }
    }

  }
}


ul.filter-options {
  list-style-type: none;
  padding: 0;
  li {
    font-size:12px;
    background: url(../img/tick-square-empty.png) no-repeat 0 5px;
    padding: 4px 0 4px 25px;
    background-size: 16px 16px;
    cursor: pointer;
    &.selected {
      background-image: url(../img/tick-square-orange.png);
      color: @cfBaseColor;
    }
    &:hover {
      color: @cfBaseColor;
    }
  }
  &.special {
    li {
      font-size: 12px;
      background-size: 14px 14px;
    }
  }
}



// NEW RESULTS

#topbar-wrapper{
  background: #324450;
  a.navbar-brand{
    padding-top: 10px;
    img{
      width: 150px;
      height: auto;
    }
  }
}


#topbar-filters-wrapper{
  padding-top:20px;
  background: #fff;
  .boxShadow(0px, 1px, 2px, rgba(0,0,0,0.1));
  h3{
    text-align: center;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom:15px;
    border-bottom:1px solid rgba(0,0,0,0.1);

  }
  h4{
    font-size: 15px;

  }
}


body.results-page{
  background: #f7fafc;
}


#results-block-wrapper{
  position: relative;
}

#results-block-plans{
  margin-left:250px;
  min-height:100vh;
  position: relative;
  z-index:20;
}


#results-block-sidebar{
  min-height:100vh;
  background: #f7fafc;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width:250px;
  border-right:1px solid #d8e4ed;
  z-index:21;
  /*.boxShadow(1px, 0, 2px, rgba(0,0,0,0.07));*/
}


.refine-motor{
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-size: 0;
  margin-bottom: 0;
  &>li{
    position: relative;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    max-width: 210px;
    padding: 0px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);


    height: 173px;
    min-width:120px;

    .filter-details{
      position: absolute;
      top:100%;
      color:#fff;
      background: #314451;
      left:50%;
      .transform(translateX(-50%));
      width:250px;
      #arrow > .top(7px, #000, 1px, #000);
      font-size: 12px;
      display: none;
      padding:20px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      pointer-events:none;
      h4{
        margin: 10px 0;
        .wideUppercase;
        font-size: 12px!important;
        color:@motorBaseColor;

      }
      p{
        margin: 0;
      }

    }
    &:hover{
      background: rgb(251, 251, 252);
      .filter-details{
        display: block;
      }
    }
    &:last-child{
      border-right:none;
    }
    ul.filter-options{


    }
  }

}






.rangeslider,
.rangeslider__fill {
  background: #e6e6e6;
  display: block;
  height: 20px;
  width: 100%;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  position: relative;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #00ff00;
  position: absolute;
  top: 0;
}

.rangeslider__handle {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}
