body,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  color: #314451;
}
* {
  -webkit-backface-visibility: hidden;
}
a {
  cursor: pointer;
}
.fullWidthBackground {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.cubic-trans {
  -moz-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
}
.bounce-trans {
  -moz-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -webkit-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -o-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
}
.d1 {
  -webkit-transition-delay: 100ms !important;
  -moz-transition-delay: 100ms !important;
  -o-transition-delay: 100ms !important;
  transition-delay: 100ms !important;
}
.d2 {
  -webkit-transition-delay: 200ms !important;
  -moz-transition-delay: 200ms !important;
  -o-transition-delay: 200ms !important;
  transition-delay: 200ms !important;
}
.d3 {
  -webkit-transition-delay: 300ms !important;
  -moz-transition-delay: 300ms !important;
  -o-transition-delay: 300ms !important;
  transition-delay: 300ms !important;
}
.d4 {
  -webkit-transition-delay: 400ms !important;
  -moz-transition-delay: 400ms !important;
  -o-transition-delay: 400ms !important;
  transition-delay: 400ms !important;
}
.topLayer {
  position: relative;
  z-index: 200;
}
.middleLayer {
  position: relative;
  z-index: 199;
}
.bottomLayer {
  position: relative;
  z-index: 198;
}
.pnone {
  padding: 0;
}
.input-cfox {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #314451;
  padding: 10px 15px;
  background: #f7fafc;
  border: 1px solid rgba(49, 68, 81, 0.5);
  outline: 0;
  letter-spacing: 1px;
  -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.15);
}
.input-cfox:focus {
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}
.btn-cfox {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 42px;
  cursor: pointer;
}
.btn-cfox:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.08)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08));
}
.btn-cfox.small {
  text-transform: none;
  letter-spacing: 0px;
  padding: 5px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-cfox.medium {
  text-transform: none;
  letter-spacing: 0px;
  padding: 8px 10px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.btn-cfox.blank {
  background-color: transparent;
  color: #8baabc;
  border: 1px solid #8baabc;
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.btn-cfox.flat {
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
}
.btn-cfox.orange {
  background-color: #ff7b5e;
  border: 1px solid #ff512b;
}
.btn-cfox.blue {
  background-color: #0076ff;
  border: 1px solid #005ecc;
}
.btn-cfox.btn-next {
  display: inline-block;
  height: 57px;
  position: relative;
}
.top-bar-wrapper {
  border-bottom: 1px solid rgba(49, 68, 81, 0.15);
  padding: 0 30px 15px 30px;
  position: relative;
  z-index: 100;
  background: #f7fafc;
}
.top-bar-wrapper ul {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
}
.top-bar-wrapper ul li {
  display: inline-block;
  vertical-align: middle;
}
.top-bar-wrapper ul li.logo img {
  max-width: 180px;
}
.top-bar-wrapper ul li.irda-tag {
  padding-left: 20px;
  vertical-align: bottom;
  line-height: 120%;
  margin-bottom: -1px;
}
.top-bar-wrapper ul li.btn-menu {
  margin-right: 12px;
}
.hero-wrapper {
  min-height: 100vh;
  position: relative;
}
.hero-wrapper .hero-wrapper-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../img/dashboardbnw.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #535353;
  opacity: 0;
  visibility: hidden;
}
.hero-wrapper .hero-wrapper-bg.reveal {
  opacity: 1;
  visibility: visible;
}
.logo {
  padding-top: 30px;
}
.logo img {
  height: 40px;
}
.logo p {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 20px;
  color: #0076ff;
  font-weight: 300;
}
.topbar-wrapper {
  position: relative;
}
.topbar-wrapper.bordered {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.topbar-shade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  /*.gradient(rgba(0,0,0,0.4), rgba(0,0,0,0));*/
  -moz-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  opacity: 0;
  visibility: hidden;
}
.topbar-shade.darker {
  background: rgba(0, 0, 0, 0.7);
}
.topbar-shade.reveal {
  opacity: 1;
  visibility: visible;
}
.step {
  position: absolute;
  width: 100%;
  visibility: hidden;
  pointer-events: none;
}
.step .animated {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  pointer-events: none;
  -moz-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
}
.step.reveal {
  visibility: visible;
  pointer-events: all;
}
.step.reveal .animated {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  pointer-events: all;
}
#step1 {
  margin-top: 100px;
}
#step1 ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  padding-top: 30px;
}
#step1 ul li {
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0);
  background: rgba(0, 0, 0, 0.4);
  padding: 25px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#step1 ul li:hover {
  border: 1px solid rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.8);
}
#step1 ul li.selected {
  border: 1px solid #0076ff;
  background: rgba(0, 0, 0, 0.6);
}
#step1 ul li p {
  color: #0076ff;
  font-size: 23px;
  font-weight: 300;
  margin: 0;
  margin-top: 15px;
}
#step1 p.question {
  color: #fff;
  font-weight: 300;
  font-size: 30px;
}
.stepform {
  margin-top: 80px;
}
.stepform p {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.stepform p.question {
  margin-bottom: 60px;
  text-transform: none;
  letter-spacing: 0px;
  font-size: 40px;
}
.stepform .btn-section {
  margin-top: 80px;
}
.multiselect-widget {
  position: relative;
}
.multiselect-widget .multiselect-dd {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  width: 250px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.multiselect-widget .multiselect-dd .empty-ui {
  text-align: center;
  padding: 15px;
  font-size: 12px;
}
.multiselect-widget .multiselect-dd .empty-ui span {
  font-weight: bold;
}
.multiselect-widget .multiselect-dd .keyword {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #0076ff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
}
.multiselect-widget .multiselect-dd .keyword .close-btn {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 20px;
  top: 50%;
  margin-top: -7px;
  background-image: url(../img/cross-icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px 15px;
  cursor: pointer;
  -moz-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -webkit-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -o-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
  opacity: 0;
}
.multiselect-widget .multiselect-dd .keyword .close-btn.reveal {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.multiselect-widget .multiselect-dd .keyword input {
  border: 1px solid #1da2d2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  width: 100%;
  padding-left: 35px;
  background-image: url(../img/search-icon.png);
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-size: 15px 15px;
}
.multiselect-widget .multiselect-dd ul {
  list-style-type: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 0;
}
.multiselect-widget .multiselect-dd ul li {
  padding: 10px 15px;
  cursor: pointer;
  letter-spacing: 2px;
}
.multiselect-widget .multiselect-dd ul li:hover {
  background: #f1f4f6;
}
.multiselect-widget .multiselect-dd ul li.selected {
  background: #66adff;
}
.multiselect-widget > ul {
  list-style-type: none;
  padding: 0;
  font-size: 0;
  text-align: center;
}
.multiselect-widget > ul > li {
  background-color: #fff;
  display: inline-block;
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  background-image: url(../img/down-arrow.png);
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 15px 9px;
}
.multiselect-widget > ul > li.active {
  background-color: #0076ff;
  color: #fff;
}
.multiselect-widget > ul > li:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.multiselect-widget > ul > li:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: none;
}
ul.input-special {
  list-style-type: none;
  padding: 0;
  font-size: 0;
  text-align: center;
}
ul.input-special > li {
  background-color: #fff;
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}
ul.input-special > li span {
  padding: 2px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
ul.input-special > li input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
ul.input-special > li .dd {
  position: absolute;
  padding-bottom: 20px;
  top: 50px;
  left: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.95);
  z-index: 200;
  cursor: default;
  overflow-x: hidden;
}
ul.input-special > li .dd.mmvdd {
  width: 500px;
  -moz-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -webkit-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -o-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
}
ul.input-special > li .dd.mmvdd.reveal {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
ul.input-special > li .dd.mmvdd h3 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  background: #0076ff;
}
ul.input-special > li.special {
  background: #0076ff;
  color: #fff;
  padding: 10px 20px;
  font-size: 20px;
}
ul.input-special > li:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
ul.input-special > li:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: none;
}
.btn-empty {
  cursor: pointer;
}
.make-list-column,
.model-list-column,
.variant-list-column {
  list-style-type: none;
  padding-left: 15px;
}
.make-list-column li,
.model-list-column li,
.variant-list-column li {
  text-align: left;
  text-transform: none;
  font-size: 12px;
  cursor: pointer;
}
.make-list-column li:hover,
.model-list-column li:hover,
.variant-list-column li:hover {
  text-decoration: underline;
}
.car-details {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50px;
  overflow: hidden;
  -moz-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -webkit-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -o-transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  transition: all 0.5s cubic-bezier(0, 1.6, 1, 1.6);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.car-details.reveal {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}
.car-details .car-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 200px;
  background-image: url(../img/alto.jpg);
}
h1.results-tab-header {
  font-size: 16px;
  letter-spacing: 3px;
  color: #535353;
  margin-top: 50px;
}
h1.results-tab-header a {
  color: #0076ff;
  border: 1px solid #0076ff;
  padding: 5px 10px;
  height: 25px;
  font-size: 14px;
  letter-spacing: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  margin-left: 10px;
}
h1.results-tab-header a:hover {
  text-decoration: none;
  background: #0076ff;
  color: #fff;
}
h1.results-tab-header span {
  font-weight: bold;
}
.results-block-sidebar {
  float: left;
  min-height: 100vh;
  width: 210px;
  position: relative;
  bottom: 0;
}
.sidebar-label {
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #535353;
}
.sidebar-label.small {
  text-transform: none;
  letter-spacing: 0;
  font-weight: normal;
  font-size: 14px;
}
.sidebar-label .label-subtext {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
}
ul.sidebar-options {
  list-style-type: none;
  padding: 0 15px;
}
ul.sidebar-options li {
  background: url(../img/tick-square-empty.png) no-repeat 0 5px;
  padding: 4px 0 4px 25px;
  background-size: 16px 16px;
  cursor: pointer;
  position: relative;
}
ul.sidebar-options li .explanation {
  position: absolute;
  width: 300px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.95);
  left: 100%;
  display: none;
  padding: 20px;
  z-index: 30;
  top: 50%;
  transform: translateY(-50%);
}
ul.sidebar-options li .explanation:after,
ul.sidebar-options li .explanation:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
ul.sidebar-options li .explanation:after {
  border-right-color: #000000;
  border-width: 7px;
  top: 50%;
  margin-top: -7px;
}
ul.sidebar-options li .explanation:before {
  border-right-color: #000000;
  border-width: 8px;
  top: 50%;
  margin-top: -8px;
}
ul.sidebar-options li.selected {
  background-image: url(../img/tick-square-orange.png);
  color: #ff7b5e;
}
ul.sidebar-options li:hover {
  color: #ff7b5e;
}
ul.sidebar-options li:hover .explanation {
  display: block;
  color: #fff;
}
ul.sidebar-options.special li {
  font-size: 12px;
  background-size: 14px 14px;
}
.sidebar-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
}
.sidebar-section.mandatory {
  border: 2px solid #ff7b5e;
  background: transparent;
}
.dropdown-trigger {
  padding: 0 15px;
}
.dropdown-trigger > a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #ff7b5e;
  display: block;
  margin-top: 10px;
  color: #ff7b5e;
}
.dropdown-trigger > a.loading-progress {
  background-color: #ffe0e1;
}
.dropdown-trigger > a img {
  float: right;
  width: 20px;
  margin-top: 7px;
}
.dropdown-trigger > a:hover,
.dropdown-trigger > a.active {
  background: rgba(255, 255, 255, 0.95);
  text-decoration: none;
}
.dropdown-trigger > a.active {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.dropdown-trigger ul.sidebar-options {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ff7b5e;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: rgba(255, 255, 255, 0.95);
  border-top: none;
}
.results-block-plans {
  float: left;
  min-height: 100vh;
  margin-top: 30px;
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  width: 900px;
}
.plan-card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.premium-element {
  text-align: center;
}
.premium-element h3 {
  color: #0076ff;
  margin: 0;
  font-size: 20px;
}
.premium-element p {
  font-size: 12px;
  font-weight: bold;
  color: #5b798d;
  margin-bottom: 0;
  margin-top: 2px;
}
.pc-buttons {
  width: 280px;
  padding-top: 4px;
}
.pc-buttons ul {
  list-style-type: none;
  padding: 0;
  font-size: 0;
}
.pc-buttons ul li {
  display: inline-block;
  padding: 5px 10px;
  background: #0076ff;
  border: 1px solid #0076ff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.pc-buttons ul li:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pc-buttons ul li:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pc-buttons ul li.empty {
  background: transparent;
  color: #0076ff;
}
.pc-buttons ul li:hover {
  background: #006ae6;
}
.pc-buttons ul li.empty:hover {
  background: #fff;
}
.addon-element {
  margin-top: 3px;
  font-size: 12px;
}
.addon-element img {
  vertical-align: top;
  margin-top: 3px;
}
.addon-element span.happy {
  background: #32c39d;
  padding: 2px 5px;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 2px;
}
.addon-element span.sad {
  background: #FF6A6A;
  padding: 2px 5px;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 2px;
}
.small-text {
  color: #0076ff;
  font-size: 12px;
  padding-left: 15px;
  cursor: pointer;
}
.small-text:hover {
  text-decoration: underline;
}
.select-widget {
  position: relative;
  cursor: pointer;
  display: inline-block;
  background: #fff;
  font-size: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.select-widget h4 {
  font-size: 14px;
  margin: 0;
  line-height: 150%;
  padding: 10px 20px;
}
.select-widget .select-widget-dropdown {
  position: absolute;
  width: 200px;
  margin-top: 20px;
  background: #fff;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -webkit-transform: translateX(-50%) translateY(-20px) scale(0.9);
  -moz-transform: translateX(-50%) translateY(-20px) scale(0.9);
  -ms-transform: translateX(-50%) translateY(-20px) scale(0.9);
  -o-transform: translateX(-50%) translateY(-20px) scale(0.9);
  transform: translateX(-50%) translateY(-20px) scale(0.9);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: -o-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: -ms-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.select-widget .select-widget-dropdown:after,
.select-widget .select-widget-dropdown:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.select-widget .select-widget-dropdown:after {
  border-bottom-color: #ffffff;
  border-width: 7px;
  left: 50%;
  margin-left: -7px;
}
.select-widget .select-widget-dropdown:before {
  border-bottom-color: #ffffff;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}
.select-widget .select-widget-dropdown.reveal {
  -webkit-transform: translateX(-50%) translateY(0) scale(1);
  -moz-transform: translateX(-50%) translateY(0) scale(1);
  -ms-transform: translateX(-50%) translateY(0) scale(1);
  -o-transform: translateX(-50%) translateY(0) scale(1);
  transform: translateX(-50%) translateY(0) scale(1);
  opacity: 1;
  visibility: visible;
}
.select-widget .select-widget-dropdown .keyword {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.select-widget .select-widget-dropdown .keyword input {
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 100%;
  background: #F1F4F6;
}
.select-widget .select-widget-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 250px;
  overflow-y: auto;
}
.select-widget .select-widget-dropdown ul li {
  cursor: pointer;
  padding: 5px 10px;
}
.select-widget .select-widget-dropdown ul li:hover {
  background: #f2f2f2;
}
.select-widget .select-widget-dropdown ul li.selected {
  background: #ff7b5e;
  color: #fff;
}
.vehicleImage {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transform: translateY(100px) scale(0.4);
  -moz-transform: translateY(100px) scale(0.4);
  -ms-transform: translateY(100px) scale(0.4);
  -o-transform: translateY(100px) scale(0.4);
  transform: translateY(100px) scale(0.4);
  opacity: 0;
  visibility: hidden;
  position: relative;
  z-index: -1;
  max-height: 110px;
}
.vehicleImage.reveal {
  -webkit-transform: translateY(0px) scale(1);
  -moz-transform: translateY(0px) scale(1);
  -ms-transform: translateY(0px) scale(1);
  -o-transform: translateY(0px) scale(1);
  transform: translateY(0px) scale(1);
  opacity: 1;
  visibility: visible;
}
.loading {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 200px;
}
.fullWidthBackground {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.carimg {
  height: 100px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.cardetails {
  padding-top: 20px;
}
#results {
  min-height: 100vh;
  position: relative;
}
#sidebar {
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
  bottom: 0;
  background: #f3f7fa;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 30;
}
#results-pane {
  margin-left: 300px;
}
.mandatory-section {
  background: #fff;
  border: 4px solid #0076ff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#mandatory-options {
  background: #132e49;
  color: #fff;
  margin: 0;
  padding-top: 25px;
  background-image: url('../img/dashboardbnw.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
#mandatory-options > h3 {
  position: relative;
  margin-top: 0;
  margin-bottom: 32px;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#mandatory-options > h3 span.edit-btn {
  background: #0076ff;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.minimize-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  cursor: pointer;
  z-index: 300;
}
.minimize-btn span.icon {
  border-radius: 50%;
  border: 1px solid #ffffff;
  padding: 3px 10px;
  line-height: 100%;
  margin-right: 5px;
}
.minimize-btn:hover span.icon {
  background: #fff;
  color: #000;
}
.cover {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #061d34;
  opacity: 0.8;
}
.mo-section {
  opacity: 1;
  visibility: visible;
}
.minimized {
  opacity: 0;
  overflow: hidden;
  height: 0;
}
.mo-section h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 13px;
  margin-top: 0;
  color: #0076ff;
}
.mo-section h3 span {
  color: #ff7b5e;
}
.mo-section ul {
  list-style-type: none;
  padding: 0 15px;
}
.mo-section ul li {
  background: url(../img/tick-square-empty.png) no-repeat 0 5px;
  padding: 4px 0 4px 25px;
  background-size: 16px 16px;
  cursor: pointer;
}
.mo-section ul li.selected {
  background-image: url(../img/tick-square-orange.png);
  color: #ff7b5e;
}
.mo-section ul li:hover {
  color: #ff7b5e;
}
.mo-section ul.special li {
  font-size: 12px;
  background-size: 14px 14px;
}
.update-results {
  background: #0076ff;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -moz-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0.1, 0.1, 1);
}
.update-results:hover {
  background: #005ecc;
}
#result-cards {
  padding: 20px;
}
.plan-card {
  margin: 0;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.buy-btn {
  display: inline-block;
  background: #0076ff;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px 10px;
}
.buy-btn:hover {
  text-decoration: none;
  background: #004799;
  color: #fff;
}
.plan-card-top {
  padding-top: 20px;
  padding-bottom: 20px;
}
.plan-card-top img {
  max-height: 46px;
}
.plan-premium h3 {
  margin: 0;
  color: #ff7b5e;
}
.plan-premium p {
  margin: 0;
  color: #9e9e9e;
}
.sidebar-section.addons {
  padding: 20px;
}
.sidebar-section.addons h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.plan-card-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #f1f4f7;
  padding-top: 10px;
}
.plan-card-bottom ul {
  list-style-type: none;
  padding: 0;
}
.plan-card-bottom ul li {
  display: inline-block;
  margin-right: 20px;
}
.plan-card-bottom ul li span {
  font-size: 12px;
}
ul.filter-options {
  list-style-type: none;
  padding: 0;
}
ul.filter-options li {
  font-size: 12px;
  background: url(../img/tick-square-empty.png) no-repeat 0 5px;
  padding: 4px 0 4px 25px;
  background-size: 16px 16px;
  cursor: pointer;
}
ul.filter-options li.selected {
  background-image: url(../img/tick-square-orange.png);
  color: #ff7b5e;
}
ul.filter-options li:hover {
  color: #ff7b5e;
}
ul.filter-options.special li {
  font-size: 12px;
  background-size: 14px 14px;
}
#topbar-wrapper {
  background: #324450;
}
#topbar-wrapper a.navbar-brand {
  padding-top: 10px;
}
#topbar-wrapper a.navbar-brand img {
  width: 150px;
  height: auto;
}
#topbar-filters-wrapper {
  padding-top: 20px;
  background: #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
#topbar-filters-wrapper h3 {
  text-align: center;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#topbar-filters-wrapper h4 {
  font-size: 15px;
}
body.results-page {
  background: #f7fafc;
}
#results-block-wrapper {
  position: relative;
}
#results-block-plans {
  margin-left: 250px;
  min-height: 100vh;
  position: relative;
  z-index: 20;
}
#results-block-sidebar {
  min-height: 100vh;
  background: #f7fafc;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  border-right: 1px solid #d8e4ed;
  z-index: 21;
  /*.boxShadow(1px, 0, 2px, rgba(0,0,0,0.07));*/
}
.refine-motor {
  list-style-type: none;
  padding: 0;
  text-align: center;
  font-size: 0;
  margin-bottom: 0;
}
.refine-motor > li {
  position: relative;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  max-width: 210px;
  padding: 0px 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  height: 173px;
  min-width: 120px;
}
.refine-motor > li .filter-details {
  position: absolute;
  top: 100%;
  color: #fff;
  background: #314451;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 250px;
  font-size: 12px;
  display: none;
  padding: 20px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  pointer-events: none;
}
.refine-motor > li .filter-details:after,
.refine-motor > li .filter-details:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.refine-motor > li .filter-details:after {
  border-bottom-color: #000000;
  border-width: 7px;
  left: 50%;
  margin-left: -7px;
}
.refine-motor > li .filter-details:before {
  border-bottom-color: #000000;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}
.refine-motor > li .filter-details h4 {
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px!important;
  color: #0076ff;
}
.refine-motor > li .filter-details p {
  margin: 0;
}
.refine-motor > li:hover {
  background: #fbfbfc;
}
.refine-motor > li:hover .filter-details {
  display: block;
}
.refine-motor > li:last-child {
  border-right: none;
}
.rangeslider,
.rangeslider__fill {
  background: #e6e6e6;
  display: block;
  height: 20px;
  width: 100%;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.rangeslider {
  position: relative;
}
.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
.rangeslider__fill {
  background: #00ff00;
  position: absolute;
  top: 0;
}
.rangeslider__handle {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}
input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}
