{% extends "base_admin.html" %}
{% load manip_data %}
{% load widget_tweaks %}

{%block header_js_css%}
{%endblock%}

{% block popup %}

{% endblock %}

{% block main %}

<div class="row-fluid">
    <div class="span8 area">
        <div class="internal">
            <table class="table table-striped">
                <tr>
                    <th><h4>Name</h4></th>
                    <th><h4>Frequency of Medical Condition</h4></th>
                    <td><h4>Sort Order</h4></td>
                    <th>&nbsp</th>
                </tr>
            {%for p in object_list%}
                <tr>
                    <td><h4 style="font-size:15px;line-height:15px;">{{p.medical_condition}}</h4></td>
                    <td><h4 style="font-size:15px;line-height:15px;">{{p.frequency}}</h4></td>
                    <td><h4 style="font-size:15px;line-height:15px;">{{p.sort_order}}</h4></td>
                    <td style="width:80px;">
                        <a class="btn btn-mini" href="{%url 'medical_condition_edit' p.id%}"><i class="icon-edit"></i>edit-{{p.id}}</a>
                    </td>
                </tr>
            {%endfor%}
                <tr>
                    <td colspan="2"><h4 style="font-size:18px;line-height:18px;">Add a Medical Condition</h4></td>
                    <td style="width:80px;">
                        <a class="btn" href="{%url 'medical_condition_add'%}"><i class="icon-add"></i>Add</a>
                    </td>
                </tr>
            </table>
        </div>
        <ul class="pager">
            {%if page_obj.has_previous%}
            <li><a href="{{request.META.PATH_INFO}}?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {%endif%}
            {% if page_obj.has_next %}
            <li><a href="{{request.META.PATH_INFO}}?page={{ page_obj.next_page_number }}">Next</a></li>
            {%endif%}
        </ul>
    </div>
    {%include "core/admin_menu.html"%}

    <div class="span4 area">
        <h4>Context Area</h4>
    </div>
</div>

{%endblock%}

{% block footer_js_css %}

<script src="{{STATIC_URL}}js/jquery.form.js"></script>
<script src="{{STATIC_URL}}js/jquery.slugify.js"></script>
<script src="{{STATIC_URL}}js/jquery.tagsinput.js"></script>
<script src="{{STATIC_URL}}js/ui.multiselect.js"></script>

<link href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/blog.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/jquery.tagsinput.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/ui.multiselect.css" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function(){
    });
</script>

{% endblock %}
