{% extends "base_admin.html" %}
{% load manip_data %}
{% load widget_tweaks %}

{%block header_js_css%}
{%endblock%}

{% block popup %}

{% endblock %}

{% block main %}

    <div class="row-fluid">
        <div class="span8 area">
            <div class="internal">
                {%for insurer, articles in post_dict.items %}
                    <legend>{{ insurer.title }}</legend>
                    <table class="table table-striped">
                        {% for p in articles %}
                            <tr>
                                <td><img style="width:150px;" src="{{p.thumbnail.url_t}}"/></td>
                                <td><h2 style="font-size:20px;line-height:25px;">{{p.title}}</h2></td>
                                <td style="width:80px;">
                                    <a class="btn btn-mini" href="{%url 'article_edit' p.slug %}"><i class="icon-edit"></i>edit-{{p.id}}</a>
                                    <a class="btn btn-mini" href="{%url 'admin_article_wiki_details' p.slug %}"><i class="icon-eye-open"></i>uncached</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {%endfor%}
            </div>
        </div>
        {%include "core/admin_menu.html"%}

        <div class="span4 area">
            <h4>Context Area</h4>
        </div>
    </div>

{%endblock%}

{% block footer_js_css %}

    <script src="{{STATIC_URL}}js/jquery.form.js"></script>
    <script src="{{STATIC_URL}}js/jquery.slugify.js"></script>
    <script src="{{STATIC_URL}}js/jquery.tagsinput.js"></script>
    <script src="{{STATIC_URL}}js/ui.multiselect.js"></script>

    <link href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/blog.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/jquery.tagsinput.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/ui.multiselect.css" rel="stylesheet">

    <script type="text/javascript">
        $(document).ready(function(){
        });
    </script>

{% endblock %}
