{% extends "base_admin.html" %}
{% load manip_data %}
{% load widget_tweaks %}

{%block header_js_css%}
{%endblock%}

{% block popup %}

{% endblock %}

{% block main %}

<div class="row-fluid">
    <div class="span8 area">
        <div class="internal">
            <form id="NewQuizForm" method="post" action="." role="form" class="form">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <input id="id_btn" class="submit" type="submit" name="btnsubmit" value="Submit" />
            </form>
            <table class="table table-striped">
            {%for p in object_list%}
                <tr>
                    <td><h2 style="font-size:20px;line-height:25px;">{{p.title}}</h2></td>
                    <td style="width:80px;">
                        <a class="btn btn-mini" href="{%url 'new_quiz' p.id%}"><i class="icon-edit"></i>edit-{{p.id}}</a>
                    </td>
                    <td style="width:80px;">
                        <a class="btn btn-mini" href="{%url 'display_quiz' p.slug%}" target="_blank"><i class="icon-edit"></i>View Quiz</a>
                    </td>
                </tr>
            {%endfor%}
            </table>
        </div>
    </div>
    {%include "core/admin_menu.html"%}

</div>

{%endblock%}

{% block footer_js_css %}

<script src="{{STATIC_URL}}js/jquery.form.js"></script>
<script src="{{STATIC_URL}}js/jquery.slugify.js"></script>
<script src="{{STATIC_URL}}js/jquery.tagsinput.js"></script>
<script src="{{STATIC_URL}}js/ui.multiselect.js"></script>

<link href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/blog.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/jquery.tagsinput.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/ui.multiselect.css" rel="stylesheet">


{% endblock %}
