{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="en" lang="en" class="js">

{% load compress%}
{% load manip_data%}
<head>
    <title>{% block title %}Coverfox Insurance{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta property="og:site_name" content="Coverfox Insurance, India" />
    <meta property="og:locale" content="en_us" />

    <meta property="og:title" content="{% if meta.title %}{{meta.title}}{% else %}Coverfox Insurance, India - The smartest way to manage your Insurance{% endif %}" />
    <meta property="og:description" content="{% if meta.description %}{{meta.description}}
        {% else %}Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance.{% endif %}" />
    <meta property="og:url" content="{% if meta.url %}{{ meta.url }}{% else%}http://www.coverfox.com{% endif %}" />

    <meta property="og:image" content="{% if meta.image %}{{meta.image}}{% else %}{% get_static_prefix %}img/coverfox_logo_fb.jpg{% endif %}" />

    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="403">
    <meta property="og:image:height" content="403">

    <meta name="twitter:title" content="{% if meta.title %}{{ meta.title }}{% else %}Coverfox Insurance, India{% endif %}">
    <meta name="twitter:description" content="The smartest way to buy and manage your insurance">

    <meta name="published_time" content="2013-09-26" />
    <meta name="modified_time" content="{{currenttime|date:'Y-m-d'}}" />
    <meta name="keywords" content="{% if meta.keywords %}{{ meta.keywords }}{% else %}Insurance India, Best Insurance in India, Best Policy{% endif %}" />
    <meta name="description" content="{% if meta.description %}{{ meta.description }}{% else %}Coverfox is a place to
        search, compare, buy, manage, and most importantly to understand Insurance.{% endif %}" />
    <meta name="publisher" content="Coverfox Insurance" />
    <meta name='robots' content='index, follow' />
    <!-- Bootstrap -->
    <link href="{% get_static_prefix %}css/bootstrap.min.css" rel="stylesheet">
    {%compress css%}
        <link href="{% get_static_prefix %}css/common.css" rel="stylesheet">
        <link href="{% get_static_prefix %}css/style.css" rel="stylesheet">
        <link href="{% get_static_prefix %}css/main-style.css" rel="stylesheet">
        <link href="{% get_static_prefix %}css/user-logged.css" rel="stylesheet">
        {% block header_css %}
        {% endblock header_css %}
    {%endcompress%}
    <link rel="shortcut icon" href="{% get_static_prefix %}img/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="//use.typekit.net/mfw7pxf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>

<body>
{% block header %}
    <header>
        <div id="topbar" class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle coll-btn" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand new" href="/"> <img class="img-responsive" src="{% get_static_prefix %}img/coverfox-logo-big.png" alt="Coverfox"> </a>
                </div>
                <!--div class="quote-line">
                    The smartest way to manage your insurance
                </div-->

                <div class="navbar-collapse collapse">
                    <div class="navbar-right">
                        <div class="pull-left flag-num">
                            <img src="{% get_static_prefix %}img/indian_flag_32x32.gif" alt="India">&nbsp;&nbsp;<span class="text-muted">{{ settings.GENERAL_TOLL_FREE }}</span>
                        </div>
                        <ul class="nav navbar-nav pull-left  nav-social cf-navbar-elem" style="margin-top:2px;">
                            <li>
                                <a href="https://www.facebook.com/Coverfox.Insurance" target="_blank">
                                    <img src="{% get_static_prefix %}img/facebook.png" alt="Facebook" title="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href= "https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons&screen_name=coverfox&source=followbutton&variant=2.0" target="_blank">
                                    <img src="{% get_static_prefix %}img/Twitter.png" alt="Twitter" title"Twitter">
                                </a>
                            </li>
                            <li>
                                <a href="//plus.google.com/110481288431304590429?prsrc=3" rel="publisher" target="_blank">
                                    <img src="{% get_static_prefix %}img/GooglePlus.png" alt="Google+" title="Google+">
                                </a>
                            </li>
                            <!--li> <a href="#"> <img src="{% get_static_prefix %}img/Linkedin.png" alt=""> </a> </li-->
                        </ul>

                    </div><!--/.navbar-right-->
                </div><!--/.navbar-collapse-->
            </div>
        </div><!-- topbar -->
    </header>
{% endblock header %}

{% block breadcrumb %}
    <div class="cover breadcrumb">
        <div class="container">
            <a href="/">Coverfox</a> / Page name
        </div><!--/.container -->
    </div><!--/.breadcrumb -->
{% endblock %}

{%block main%}
    <div class="container">
        <h1>Bootstrap Coverfox template</h1>
        <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
    </div><!--/.container -->
{%endblock main%}

{%block footer%}
    <footer>
        <div id="lp-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="col-xs-4 col-md-4 col-lg-4 footercategories">
                            <h3>Categories</h3>
                            <ul>
                                {%for cat in categories%}
                                    {%ifequal cat.level 1 %}
                                        <li {%ifequal selected_category cat%}class="active"{%endifequal%}>
                                            <img src="{% get_static_prefix %}img/{{cat.slug}}-icon.png"> <a href="{% url 'category_post_list' cat.slug%}">{{cat.title|remove:" Insurance"}}</a>
                                        </li>
                                    {%endifequal%}
                                {%endfor%}
                            </ul>
                        </div>
                        <div class="col-xs-4 col-md-4 col-lg-4 footerlinks">

                            <h3>Link Love</h3>
                            <ul>
                                <li><a href="/about-us/">About Us</a></li>
                                <li><a href="/terms-and-conditions/">Terms and Conditions</a></li>
                                <li><a href="/cancellation-and-refund-policy/">Refund and Cancellation Policy</a></li>
                                <li><a href="/privacy-policy/">Privacy Policy</a></li>
                                <li><a href="/shipping-and-delivering/">Shipping and delivery Policy</a></li>
                                <li><a href="/contact-us/">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4 col-md-2 col-lg-2 footersocial">
                            <h3>Social</h3>
                            <ul class="foot-social">
                                <li> <a href="#"><img onClick="window.open('https://www.facebook.com/Coverfox.Insurance')" src="{% get_static_prefix %}img/facebook.png" alt=""></a> </li>
                                <li> <a><img onClick="window.open('https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons&screen_name=coverfox&source=followbutton&variant=2.0','mywindow','width=500,height=600')" src="{% get_static_prefix %}img/Twitter.png" alt=""></a> </li>
                                <li> <a href="//plus.google.com/110481288431304590429?prsrc=3" rel="publisher"> <img src="{% get_static_prefix %}img/GooglePlus.png" alt=""> </a> </li>
                            </ul>
                        </div>
                    </div><!-- /.col-lg-6-->
                    <div class="col-lg-5">
                        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-6 footersubscribe">
                            <h3>Subscribe</h3>
                            <ul>
                                <li>Get fresh articles, infographics, insurance guides, and inside stories at Coverfox delivered to your inbox each week.
                                    <br/>
                                    <div>
                                        <form role="form"  class="subscribe_form" method='post' action='{% url "ajax_subscribe" %}'>
                                            <div class="form-group">
                                                <strong>Name</strong>
                                                <input type="hidden" name="mtype" value="BLOG">
                                                <input type="text" name="name" class="form-control" placeholder="Your name">
                                                <strong>Email</strong>
                                                <input type="email" name="email" class="form-control" id="subscribeInput" placeholder="Enter your email id">
                                                <p class="text-error form_errors" id="error_email"></p>
                                            </div>
                                            <button type="submit" class="btn btn-red">Subscribe</button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1">
                        </div>
                        <div class="col-xs-10 col-sm-6 col-md-7 col-lg-6">
                            <h3>Get in touch</h3>
                            <ul>
                                <li><a href="javascript:void(0);">{{ settings.GENERAL_TOLL_FREE }}</a></li>
                                <li><a href="javascript:void(0);">{{ settings.GENERAL_CONTACT_MAIL }}</a></li>
                                <!--li><a href="javascript:void(0);">M2/16, Sneh CHS., Oppo. Dhake Colony, Apna bazaar bus stop, D.N. Nagar, J. P. Road, Andheri West, 400053</a></li-->
                            </ul>
                        </div>
                    </div><!-- /.col-lg-6-->
                </div>
                <div id="footerabout" class="row">
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <img src="{% get_static_prefix %}img/coverfox-logo-white.png" alt="">
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-10">
                        <div class="fut-intro">
                            Coverfox Insurance Broking Pvt. Ltd.&nbsp;&nbsp;
                            <a href="/irda-licence/"
                               style="font-size:0.8em;padding:10px 0px;display:inline-block;">
                                IRDA broking licence no. IRDA/ DB 556/ 13</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{%endblock footer%}
<!-- IRDA License Modal -->

<!-- Subscriber modal -->
<div class="modal fade" id="subscriber_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" style="font-weight: bold;line-height: 0.4;margin-top: 10px;">Thank You for subscribing!</h2>
                <h3 style="line-height: 0.4;">Now get a free insurance review by our experts.</h3>
            </div>
            <div class="modal-body modalrupi">
                <img src="{% get_static_prefix %}img/rupy-blog-subscribe.jpg" alt="">
                <div style="background-color: #f9f9f9;border-top: #dadada;padding: 10px">
                    <div class="row rev_pre_alert">
                        <div class="col-lg-6">
                            <button id="rev_pop_sub" type="submit"
                                    class="btn btn-red btn-lg btn-full">Yes, Sign me up
                            </button>
                        </div>
                        <div class="col-lg-6">
                            <!--button type="submit" class="btn btn-black btn-lg btn-full">No thanks</button-->
                            <button type="submit" class="btn btn-black btn-lg btn-full" data-dismiss="modal">No thanks</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top:0px;background-color: #1F2427;border: 5px solid #FFFFFF;">
                <div class="col-lg-12 rev_alert_success hide">
                    <div id="alert_review_success" class="alert alert-warning" style="text-align:left;">
                        Thank You! Expert assessment coming your way soon.
                    </div>
                </div>
                <p style="color: #FFFFFF;text-align: center;">Help your friends get smarter insurance too.</p>
                <div class="share_options row">
                    <div class="col-lg-6" style="text-align: center;padding: 5px;">
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.coverfox.com" target="_blank">
                            <img src="{% get_static_prefix %}img/click_to_share.png"  alt="Click to Share" />
                        </a>
                    </div>
                    <div class="col-lg-6" style="text-align: center;padding: 5px;">
                        <a href="https://twitter.com/share?url=http://www.coverfox.com&text=Get+free+review+of+your+Insurance+by+experts+at&size=1"
                           target="_blank">
                            <img src="{% get_static_prefix %}img/click_to_tweet.png" alt="Click to Tweet" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% get_static_prefix %}js/respond.min.js"></script>
{%compress js%}
    <script src="{% get_static_prefix %}js/jquery-1.7.1.min.js"></script>
    <script src="{% get_static_prefix %}js/jquery.placeholder.min.js"></script>
    <script src="{% get_static_prefix %}js/jquery.form.js"></script>
    <script src="{% get_static_prefix %}js/jquery.cookie.js"></script>
    <script src="{% get_static_prefix %}js/bootstrap.min.js"></script>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MR4FRN');</script>
    <!-- End Google Tag Manager -->



    <script>
        var csrf_token;
        $(document).ready(function(){
            $.get("{%url 'get_token'%}", function(data){
                csrf_token = data.csrf;
                $('form').prepend("<input type='hidden' name='csrfmiddlewaretoken' value='"+csrf_token+"' />");
            }, 'json');
        });
        $(function() {
            // placeholder for ie
            $(":input[placeholder]").placeholder();

            var topbar = $("#cf-topbar");
            var cfwindow = $(window);
            cfwindow.scroll(function() {
                scrollpos = cfwindow.scrollTop();
                if (scrollpos > 4) {
                    topbar.addClass("tb-hl");
                } else {
                    topbar.removeClass("tb-hl");
                }
            });
        });

        $("#review_subscribe").ajaxForm({
            success : function (data) {
                data = JSON.parse(data);
                if(data.success){
                    var msg = data.response.mesg;
                    $.cookie('subscribed_email', msg.email, { expires: 3650, path: '/' });
                    $.cookie('subscribed_name', msg.name, { expires: 3650, path: '/' });
                    window.location = "/articles/subscribe/success/"+msg.code+"/";
                }else{
                    $(".form_errors").html("");
                    for(var k in data.errors){
                        $("#review_subscribe #error_"+k).html(data.errors[k][0]);
                    }
                }
            }
        });
        $(".subscribe_form").ajaxForm({
            success : function (data) {
                data = JSON.parse(data);
                if(data.success){
                    var msg = data.response.mesg;
                    $.cookie('subscribed_email', msg.email, { expires: 3650, path: '/' });
                    $.cookie('subscribed_name', msg.name, { expires: 3650, path: '/' });
                    $("#invited_by_email").val(msg.email);
                    $("#invited_by_name").val(msg.name);
                    $("#subscriber_modal").modal('show');
                    $(".form_errors").html("");
                    //window.location = "/articles/";
                }else{
                    $(".form_errors").html("");
                    for(var k in data.errors){
                        $(".subscribe_form #error_"+k).html(data.errors[k][0]);
                    }
                }
            }
        });
        $('#rev_pop_sub').click(function(){
            var rev_data =  {
                'mtype': 'REVIEW',
                'name': $.cookie('subscribed_name'),
                'email': $.cookie('subscribed_email'),
                'csrfmiddlewaretoken' : csrf_token
            };
            $.post("{%url 'ajax_subscribe'%}", rev_data, function(res_data){
                data = $.parseJSON(res_data);
                if (data.success) {
                    $('.rev_pre_alert').addClass('hide');
                    $('.rev_alert_success').removeClass('hide');
                }else {
                    //window.location = "/articles/";
                    //console.log(res_data);
                    $("#subscriber_modal").modal('hide');
                }
            });
        });

        $(".review_login_form").ajaxForm({
            success : function (data) {
                data = JSON.parse(data);
                if(data.success){
                    var msg = data.response.mesg;
                    $.cookie('subscribed_email', msg.email, { expires: 3650, path: '/' });
                    $.cookie('subscribed_name', msg.name, { expires: 3650, path: '/' });
                    $("#invited_by_email").val(msg.email);
                    $("#invited_by_name").val(msg.name);
                    $(".form_errors").html("");
                    window.location = "/review/info-add/";
                }else{
                    $(".form_errors").html("");
                    for(var k in data.errors){
                        $("#error_"+k).html(data.errors[k][0]);
                    }
                }
            }
        });


    </script>
    {%block footer_compress_js%}{%endblock%}
{%endcompress%}
{%block footer_js %}
{%endblock footer_js%}
{%block footer_js_css %}
{%endblock footer_js_css%}
</body>
</html>

