<!DOCTYPE html>
<html lang="en">
{% load compress%}
{% load manip_data%}
<head>
    {% block seo %}
        {% if seo %}
        {% include "flatpages:seo_snippet.html" %}
        {% else %}
        <title>Coverfox Insurance</title>
        <meta name="description" content="{% if meta.description %}{{ meta.description }}{% else %}Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance.{% endif %}" />
        {% endif %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta property="og:site_name" content="Coverfox Insurance, India" />
    <meta property="og:locale" content="en_us" />

    <meta property="og:title" content="{% if meta.title %}{{meta.title}}{% else %}Coverfox Insurance, India - The smartest way to manage your Insurance{% endif %}" />
    <meta property="og:description" content="{% if meta.description %}{{meta.description}}
        {% else %}Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance.{% endif %}" />
    <meta property="og:url" content="{% if meta.url %}{{ meta.url }}{% else%}http://www.coverfox.com{% endif %}" />

    <meta property="og:image" content="{% if meta.image %}{{meta.image}}{% else %}{{STATIC_URL}}img/coverfox_logo_fb.jpg{% endif %}" />

    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="403">
    <meta property="og:image:height" content="403">

    <meta name="twitter:title" content="{% if meta.title %}{{ meta.title }}{% else %}Coverfox Insurance, India{% endif %}">
    <meta name="twitter:description" content="The smartest way to buy and manage your insurance">

    <meta name="published_time" content="2013-09-26" />
    <meta name="modified_time" content="{{currenttime|date:'Y-m-d'}}" />
    <meta name="keywords" content="{% if meta.keywords %}{{ meta.keywords }}{% else %}Insurance India, Best Insurance in India, Best Policy{% endif %}" />
    <meta name="publisher" content="Coverfox Insurance" />
    <meta name='robots' content='index, follow' />
    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    {%compress css%}
        <link rel="stylesheet" href="{{STATIC_URL}}careers/css/style.css" xmlns="http://www.w3.org/1999/html">
        <link href="{{STATIC_URL}}global/css/header_footer_2.css" rel="stylesheet">
    {%endcompress%}
    <style type="text/css">
        /*Css override for global header footer*/
        .footer-wrapper-products {
            display: none;
        }
        #top-bar .nav-menu {
            left:-15px;
            right:-15px;
            padding-left: 15px;
            padding-right: 15px;
        }
    </style>
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        var CSRF_TOKEN = "{{csrf_token}}";
    </script>
</head>

<body>
    <header>
        {% include "flatpages:header_2.html" %}
    </header>
    <section class="introduction">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-8">
                    <h1>Welcome to the <br class="visible-lg visible-md"/>Coverfox careers page</h1>
                    <p class="lead">We are currently scaling up our Customer Advisory Team.<br class="visible-lg"/> To know more about the position, please
                        <a target="_blank" href="{{STATIC_URL}}uploads/careers/JD-CAT.pdf"><strong>click here &gt;&gt;</strong></a></p>
                </div>
                <div class="col-lg-5 col-md-4 hidden-sm hidden-xs">
                    <img src="{{STATIC_URL}}careers/img/career-icon.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="contact-form">
        <div class="container">
            <p class="lead">If you are interested in applying for the Advisor position <strong>( graduates only )</strong>,
                please fill in the following details and pick a time to come to our office to meet with us:</p>
            <div class="bounding-wrapper">
                <div class="row">
                    <div class="col-sm-6 col-md-4 form-group">
                        <label class="control-label" for="">First name</label>
                        <input type="text" class="form-control" placeholder="First Name" data-bind="value:first_name"/>
                        <span class="error-field" data-bind="validationMessage:first_name"></span>
                    </div>
                    <div class="col-sm-6 col-md-4 form-group">
                        <label class="control-label" for="">Last name</label>
                        <input type="text" class="form-control" placeholder="Last Name" data-bind="value:last_name"/>
                        <span class="error-field" data-bind="validationMessage:last_name"></span>
                    </div>
                    <div class="col-md-8 col-sm-12" style="margin-bottom:15px;">
                        <h4 class="control-label">How did you hear about us?</h4>
                        <label class="radio-label">
                            <input value="friend" data-bind="checked: ref  " type="radio"/>
                            Friend/ colleague
                        </label>
                        <label class="radio-label">
                            <input value="newspaper" data-bind="checked: ref " type="radio"/>
                            Newspaper Ad
                        </label>
                        <label class="radio-label">
                            <input value="consultant" data-bind="checked: ref " type="radio"/>
                            Consultant
                        </label>
                        <br /><span class="error-field" data-bind="validationMessage:ref"></span>
                    </div>
                </div>
                <!--div class="row">
                    <div class="col-sm-6 col-md-4 form-group">
                        <label class="control-label" for="">Friend/ Colleague or Consultant Name</label>
                        <input type="text" class="form-control" placeholder="Enter name"/>
                        <p class="error-field">This field is required</p>
                    </div>
                </div-->
                <h4 class="control-label">
                    Pick a time slot to come to our office
                </h4>
                <div class="row">
                    <div id="time-widget" class="col-sm-10 col-md-8">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <th data-bind="text:contact_model().todayText"></th>
                                <th data-bind="text:contact_model().tommText"></th>
                                <th data-bind="text:contact_model().afterText"></th>
                                <th data-bind="text:contact_model().dayAfterText"></th>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <ul data-bind="foreach:contact_model().todaySlots">
                                            <li data-bind="click:time_slot_click, css: { active: slot_selected() == 'Yes', frozen: frozen() == 'Yes' }">
                                                <span data-bind="text:slot"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <ul data-bind="foreach:contact_model().tommSlots">
                                        <li data-bind="click:time_slot_click, css: { active: slot_selected() == 'Yes' }">
                                            <span data-bind="text:slot"></span>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <ul data-bind="foreach:contact_model().afterSlots">
                                        <li data-bind="click:time_slot_click, css: { active: slot_selected() == 'Yes' }">
                                            <span data-bind="text:slot"></span>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <ul data-bind="foreach:contact_model().dayAfterSlots">
                                        <li data-bind="click:time_slot_click, css: { active: slot_selected() == 'Yes' }">
                                            <span data-bind="text:slot"></span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div><!--./row-->
                <p class="error-field" data-bind="validationMessage:contact_model().atleast_one_slot_selected"></p>

                <div class="row">
                    <div id="number-widget" class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="control-label" for="inputSuccess">Enter your mobile number</label>
                            <div class="input-group">
                                <span class="input-group-addon">+91</span>
                                <input id="inputSuccess" type="text" class="form-control" placeholder="mobile number"  data-bind="value:contact_model().mobile">
                            </div>
                            <span class="error-field" data-bind="validationMessage:contact_model().mobile"></span>
                        </div>
                        <div id="before_submit">
                            <button class="btn-cfox orange" data-bind="click:contact_submit">Ok, get in touch with me</button>
                        </div>
                        <div class="complete hide" id="after_submit">
                            <div class="highlight">Thanks!</div>
                            We look forward to seeing you soon!
                        </div>
                    </div>
                </div>
            </div><!--/.bounding-wrapper -->
        </div><!--./container-->
    </section><!--/.contact-form-->
    {% include "flatpages:footer_2.html" %}


    {%compress css%}
    {%endcompress%}


    <script src="{{STATIC_URL}}health_product/js/lib/require/require.js"></script>
    <script src="{{STATIC_URL}}js/jquery-1.7.1.min.js"></script>
    <script src="{{ STATIC_URL }}flatpages/js/header.js" type="text/javascript"></script>
    <script type="text/javascript">
        requirejs.config({
            paths: {
                'knockout': '{{STATIC_URL}}careers/js/knockout/knockout-3.3.0',
                'knockout_validation' : '{{STATIC_URL}}careers/js/knockout/knockout.validation',
            }
        });

        require(['knockout', 'knockout_validation'], function (ko) {

            ko.validation.init({
                insertMessages: false,
                decorateInputElement : true,
                registerExtenders: true,
                messagesOnModified: true,
                messageTemplate: null,
                grouping: { deep: true }
            });

            var clear_slots = ko.observable(false);

            var TimeData = function(data, frotime){
                var self = this;
                self.slot = ko.observable(data);
                self.slot_selected = ko.observable();
                self.frozen = ko.observable(frotime);
                self.time_slot_click = function(){
                    clear_slots(true);
                    $.each(main_view.contact_model().todaySlots(), function(e, ele){
                        ele.slot_selected('')
                    });
                    $.each(main_view.contact_model().tommSlots(), function(e, ele){
                        ele.slot_selected('')
                    });
                    $.each(main_view.contact_model().afterSlots(), function(e, ele){
                        ele.slot_selected('')
                    });
                    $.each(main_view.contact_model().dayAfterSlots(), function(e, ele){
                        ele.slot_selected('')
                    });
                    self.slot_selected('Yes');
                    main_view.contact_model().atleast_one_slot_selected(true);
                };
            };

            var ContactData = function(){
                var self = this;
                self.mobile = ko.observable('').extend({
                    required: {
                        params: true,
                        message: 'Please enter a 10 digit valid phone number'
                    },
                    pattern: {
                        message: 'Please enter a 10 digit valid phone number.',
                        params: /^D?(\d{10})$/
                    }
                });
                self.atleast_one_slot_selected = ko.observable().extend({
                    required: {
                        params: true,
                        message: 'Please pick a time slot for the interview'
                    }
                });
                self.todayText = ko.observable();
                self.tommText = ko.observable();
                self.afterText = ko.observable();
                self.dayAfterText = ko.observable();

                self.todaySlots = ko.observableArray();
                self.tommSlots = ko.observableArray([
                    new TimeData('10am - 12pm', 'No'),
                    new TimeData('12pm - 2pm', 'No'),
                    new TimeData('2pm - 4pm', 'No')
                ]);

                self.afterSlots = ko.observableArray([
                    new TimeData('10am - 12pm', 'No'),
                    new TimeData('12pm - 2pm', 'No'),
                    new TimeData('2pm - 4pm', 'No')
                ]);
                self.dayAfterSlots = ko.observableArray([
                    new TimeData('10am - 12pm', 'No'),
                    new TimeData('12pm - 2pm', 'No'),
                    new TimeData('2pm - 4pm', 'No')
                ]);

                self.initialize = function(){
                    var dd = new Date();
                    var today = new Date();
                    var tomorrow = new Date();
                    var after = new Date();
                    var dayAfter = new Date();
                    if (dd.getDay() == 7){
                        today.setDate(dd.getDate()+1);
                        tomorrow.setDate(dd.getDate()+2);
                        after.setDate(dd.getDate()+3);
                        dayAfter.setDate(dd.getDate()+4);
                    }
                    else if (dd.getDay() == 6){
                        today.getDate();
                        tomorrow.setDate(dd.getDate()+2);
                        after.setDate(dd.getDate()+3);
                        dayAfter.setDate(dd.getDate()+4);

                    }
                    else if (dd.getDay() == 5){
                        today.getDate();
                        tomorrow.setDate(dd.getDate()+1);
                        after.setDate(dd.getDate()+3);
                        dayAfter.setDate(dd.getDate()+4);
                    }
                    else if (dd.getDay() == 4){
                        today.getDate();
                        tomorrow.setDate(dd.getDate()+1);
                        after.setDate(dd.getDate()+2);
                        dayAfter.setDate(dd.getDate()+4);
                    }
                    else {
                        today.getDate();
                        tomorrow.setDate(dd.getDate()+1);
                        after.setDate(dd.getDate()+2);
                        dayAfter.setDate(dd.getDate()+3);

                    }
                    var today_text = today.toDateString().split(' ')[1] + ' ' + today.toDateString().split(' ')[2] + ', ' + today.toDateString().split(' ')[0];
                    var tomm_text = tomorrow.toDateString().split(' ')[1] + ' ' + tomorrow.toDateString().split(' ')[2] + ', ' + tomorrow.toDateString().split(' ')[0];
                    var after_text = after.toDateString().split(' ')[1] + ' ' + after.toDateString().split(' ')[2] + ', ' + after.toDateString().split(' ')[0];
                    var day_after_text = dayAfter.toDateString().split(' ')[1] + ' ' + dayAfter.toDateString().split(' ')[2] + ', ' + dayAfter.toDateString().split(' ')[0];

                    self.todayText(today_text);
                    self.tommText(tomm_text);
                    self.afterText(after_text);
                    self.dayAfterText(day_after_text);

                    var dtime = new Date;
                    var ctime = dtime.getHours();
                    if(ctime < 10){
                        self.todaySlots([
                            new TimeData('10am - 12pm', 'No'),
                            new TimeData('12pm - 2pm', 'No'),
                            new TimeData('2pm - 4pm', 'No')
                        ]);
                    }
                    else if((ctime >= 10) && ctime < 12){
                        self.todaySlots([
                            new TimeData('10am - 12pm', 'Yes'),
                            new TimeData('12pm - 2pm', 'Yes'),
                            new TimeData('2pm - 4pm', 'No')
                        ]);
                    }
                    else if((ctime >= 12) && ctime < 14){
                        self.todaySlots([
                            new TimeData('10am - 12pm', 'Yes'),
                            new TimeData('12pm - 2pm', 'Yes'),
                            new TimeData('2pm - 4pm', 'Yes')
                        ]);
                    }
                    else {
                        self.todaySlots([
                            new TimeData('10am - 12pm', 'Yes'),
                            new TimeData('12pm - 2pm', 'Yes'),
                            new TimeData('2pm - 4pm', 'Yes')
                        ]);
                    }
                };
            };



            function MainViewModel(ko){
                var self = this;
                self.first_name = ko.observable().extend({required: true});
                self.last_name = ko.observable().extend({required: true});
                self.ref = ko.observable().extend({required: true});
                self.contact_model = ko.observable(new ContactData());
                self.contact_model().initialize();
                console.log("Contact Model >", self.contact_model().todaySlots());

                self.contact_submit = function(){
                    var big_errors = ko.validation.group([self.first_name, self.last_name, self.ref, self.contact_model()], { deep: true});
                    if(big_errors().length > 0) {
                        console.log(big_errors());
                        big_errors.showAllMessages();
                    }
                    else{
                        $('#before_submit').addClass('hide');
                        var data = {
                            'first_name': self.first_name(),
                            'last_name': self.last_name(),
                            'referred_by': self.ref(),
                            'contact_data': self.contact_model()
                        };
                        jsonData=ko.toJSON(data);
                        console.log('DATA=========', jsonData);
                        $.post("/career/schedule-cat/", {'data' : jsonData, 'csrfmiddlewaretoken' : CSRF_TOKEN }, function(data){
                            if (data.success){
                                console.log('SUCCESS');
                                $('#after_submit').removeClass('hide');
                            }
                            else{
                                $('#before_submit').removeClass('hide');
                                console.log('POST ERROR', data);
                            }
                        }, 'json');

                    }
                };
            }

            var main_view = new MainViewModel(ko);
            ko.applyBindings(main_view);
        });

    </script>
</body>
</html>
