{% extends "core/base_main.html" %}

{% load i18n %}
{% load manip_data tagging_tags  %}
{% load compress %}

{% block header_css %}
    <link href="{{STATIC_URL}}css/password-style.css" rel="stylesheet">
{% endblock header_css %}
{% block breadcrumb %}
{% endblock %}
{%block main%}
<div class="container">
    <form class="reset-form" id="password_reset_form" action="{%url 'initiate_password_reset'%}" method="post">
        <div class="ribbon">
            <strong class="ribbon-content">
                <h1>Reset Password</h1>
            </strong>
        </div>
        <h2 class="hlp-text">Forgot your password?</h2>
        <p class="hlp-text">Please enter the email address for your account. A link will be emailed to you to reset your password.</p>
        <div class="form-group">
            <label  class="lable-text" for="exampleInputEmail">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
            <p id='forgot_error_email' class="error"></p>
        </div>
        <div class="text-right"><button class="btn cf-btn btn-red btn-lg" style="width:150px;">Submit</button></div>
    </form><!--/.reset-form-->
    <div id="success_div" class="hide">
        <h3>The link to reset your password has been emailed to you. </h3>
        <strong>Please follow the instructions in the mail to set up a new password.</strong>
    </div>
    <div class="text-center" style="margin-top:20px;">
        <a href="/" class="btn btn-default btn-block cf-btn btn-lg" style="max-width:260px;color:#666666;">Back to home page</a>
    </div>
</div><!--/.container-->
{%endblock%}

{%block footer%}
{%endblock%}

{%block footer_compress_js%}
    <script>
        $(document).ready(function(){
            $("#password_reset_form").ajaxForm({
                success : function (data) {
                    data = JSON.parse(data);
                    if(data.success){
                        if(data.response.success){
                            var msg = data.response.mesg;
                            $('.reset-form').hide();
                            $('#success_div').removeClass('hide');
                        }else{
                            if(data.response.error_msg){
                                //error
                            }
                        }
                    }else {
                        $(".form_errors").text("");
                        for(var k in data.errors){
                            $("#forgot_error_"+k).html(data.errors[k][0]);
                        }
                    }
                }
            });
        });
    </script>
{%endblock%}


