<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="en" lang="en" class="js">

{% load compress%}
{% load manip_data%}
<head>
    <title>Coverfox Insurance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta property="og:site_name" content="Coverfox Insurance, India" />
    <meta property="og:locale" content="en_us" />
    <meta property="og:title" content="Coverfox Insurance, India" />
    <meta property="og:description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance." />
    <meta property="og:url" content="http://www.coverfox.com" />
    <meta property="og:image" content="{{STATIC_URL}}lp/img/coverfox_logo_fb.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="403">
    <meta property="og:image:height" content="403">

    <meta name="twitter:title" content="Coverfox Insurance, India">
    <meta name="twitter:description" content="The smartest way to buy and manage your insurance">

    <meta name="published_time" content="2013-09-26" />
    <meta name="modified_time" content="{{currenttime|date:'Y-m-d'}}" />
    <meta name="keywords" content="Insurance India, Best Insurance in India, Best Policy" />
    <meta name="description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance." />
    <meta name="publisher" content="Coverfox Insurance" />
    <meta name='robots' content='index, follow' />
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap -->
    <!--script type="text/javascript" src="{{STATIC_URL}}lp/js/css3-mediaqueries.js"></script-->
    {%compress css%}
    <link href="{{STATIC_URL}}lp/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}lp/css/common.css" rel="stylesheet">
    <link href="{{STATIC_URL}}lp/css/lp-style.css" rel="stylesheet">
    {%endcompress%}
    <script type="text/javascript" src="//use.typekit.net/mfw7pxf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <style>
        @media screen and (max-width:900px) {}
        @media screen and (min-width:900px) and (max-width:1200px) {}
        @media screen and (min-width:1200px) {}
</style>
</head>

<body>
    <header>
        <div id="topbar" class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle coll-btn" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"> <img src="{{STATIC_URL}}lp/img/coverfox-logo.png" alt="Coverfox Insurance Broking Pvt. Ltd."> </a>
                </div>
                <div class="navbar-collapse collapse">
                    <div class="navbar-right">
                        <div class="pull-left flag-num">
                            <img src="{{STATIC_URL}}lp/img/indian_flag_32x32.gif">&nbsp;&nbsp;<span class="text-muted">+91 22 6503 6444</span>
                        </div>
                        <ul class="nav navbar-nav pull-left  nav-social cf-navbar-elem">
                            <li>
                                <a href="https://www.facebook.com/Coverfox.Insurance" target="_blank">
                                    <img src="{{STATIC_URL}}lp/img/facebook.png" alt="Facebook" title="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href= "https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons&screen_name=coverfox&source=followbutton&variant=2.0" target="_blank">
                                    <img src="{{STATIC_URL}}lp/img/Twitter.png" alt="Twitter" title"Twitter">
                                </a>
                            </li>
                            <li>
                            <a href="//plus.google.com/110481288431304590429?prsrc=3" rel="publisher" target="_blank">
                                <img src="{{STATIC_URL}}lp/img/GooglePlus.png" alt="Google+" title="Google+">
                            </a>
                            </li>
                            <!--li> <a href="#"> <img src="{{STATIC_URL}}lp/img/Linkedin.png" alt=""> </a> </li-->
                        </ul>
                    </div><!--/.navbar-right-->
                </div><!--/.navbar-collapse-->
            </div><!--/.container-->
        </div><!-- topbar -->
    </header>

    <div class="clearfix"></div>

    <div id="section1">
        <div class="sectioncover">
            <canvas id="c" style="position:absolute;top:0;bottom:0;left:0;right:0;width:100%;height:100%;"></canvas>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-1 col-sm-11 col-lg-offset-0 col-lg-6 billboard-text" style="margin-top:85px;text-align: left; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);margin-bottom:20px;">
                    <h3 style="color: #ffffff;font-size: 25px;">Welcome to what will soon be</h3>
                    <h1 style="font-family:'Open Sans','Helvetica Neue',Helvetica,Tahoma,Arial,sans-serif!important;">THE SMARTEST WAY TO <br/>BUY AND MANAGE<br/>YOUR INSURANCE</h1>
                    <div id="section1container">
                        <!--p style="position:relative;" class="big covertext">Insurance is tricky.</p>
                        <p class="medium covertext">We are working hard to make it simpler.
                            <br>For you to get the protection you need.</p-->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="landingform">
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-4 col-lg-offset-0 col-lg-5">
                                <div class="point-set">
                                    <img src="{{STATIC_URL}}lp/img/icons/review.png" alt="">
                                    <br>
                                    <h4>Free</h4>Insurance review
                                </div>
                                <div class="point-set">
                                    <img src="{{STATIC_URL}}lp/img/icons/expert.png" alt="">
                                    <br>With our top
                                    <h4>Experts</h4>
                                </div>
                                <div class="point-set">
                                    <img src="{{STATIC_URL}}lp/img/icons/check.png" alt="">
                                    <br>
                                    <h4>No obligation</h4>to buy
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-7">
                                <h3>YOUR FIRST STEP TO THE RIGHT PROTECTION
                                    <div class="borderline"></div>
                                </h3>
                                <form id="review_subscribe" class="smarter-protec" action="{%url 'ajax_subscribe'%}" method="post">
                                    <p class="form-group">
                                        <input type="hidden" name="mtype" value="REVIEW">
                                        <input type="text" class="landingfield" placeholder="NAME" name="name">
                                        <span class="text-error form_errors" id="error_name"></span>
                                    </p>
                                    <p class="form-group">
                                        <input type="text" class="landingfield" placeholder="EMAIL" name="email">
                                        <span class="text-error form_errors" id="error_email"></span>
                                    </p>
                                    <img src="{{STATIC_URL}}lp/img/text-line.png" alt="">
                                    <p>
                                        <button type="submit" value="I'm interested!" class="landingsubmit gradient">I'm interested!</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="section2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <p><!--span class="glyphicon glyphicon-search"></span--><img src="{{STATIC_URL}}lp/img/icons/Search.png" alt="">
                        <br>Insurance plans - researched and handpicked for you</p>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <p><!--span class="glyphicon glyphicon-list-alt"></span--><img src="{{STATIC_URL}}lp/img/icons/Trolley-2.png" alt="">
                        <br>Know what you buy - <br/>we decode the jargon</p>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <p><!--span class="glyphicon glyphicon-user"></span--><img src="{{STATIC_URL}}lp/img/icons/User-8.png" alt="">
                        <br>A response team that simply works, when you need to claim</p>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <p><!--span class="glyphicon glyphicon-thumbs-up"></span--><img src="{{STATIC_URL}}lp/img/icons/Like.png" alt="">
                    <br>No spam, no cold calls.<br/>NO NONSENSE.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="section3">
        <div class="container">
            <div class="row sectiontitle">
                <h1 style="font-size:44px;">Know more about Insurance <br> from the Coverfox blog</h1>
                <p>Choose a category below to read from</p>
                <div class="row">

                    <div class="col-sm-2 col-lg-2 col-sm-offset-1 col-lg-offset-1 size-set">
                        <a class="article-links car" href="/articles/category/car-insurance/" alt="Articles on Car Insurance">
                            <div class="wello" style="border-color:#e2c09e;">
                                <div class="icon-sprite"></div>
                                <h4>Car <br />Insurance</h4>
                            </div>

                        </a>
                    </div>


                    <div class="col-sm-2 col-lg-2 size-set">
                        <a class="article-links health" href="/articles/category/health-insurance/" alt="Articles on Health Insurance">
                            <div class="wello" style="border-color:#91cbbb;">
                                <div class="icon-sprite"></div>
                                <h4>Health <br/>Insurance</h4>
                            </div>

                        </a>
                    </div>


                    <div class="col-sm-2 col-lg-2 size-set">
                        <a class="article-links life" href="/articles/category/life-insurance/" alt="Articles on Life Insurance">
                            <div class="wello" style="border-color:#e5a1cd;">
                                <div class="icon-sprite"></div>
                                <h4>Life <br/>Insurance</h4>
                            </div>

                        </a>
                    </div>


                    <div class="col-sm-2 col-lg-2 size-set">
                        <a class="article-links travel" href="/articles/category/travel-insurance/" alt="Articles on Travel Insurance">
                            <div class="wello" style="border-color:#97b8e0;">
                                <div class="icon-sprite"></div>
                                <h4>Travel <br/>Insurance</h4>
                            </div>

                        </a>
                    </div>


                    <div class="col-sm-2 col-lg-2 size-set">
                        <a class="article-links all" href="/articles/" alt="Articles from Coverfox Blog">
                            <div class="wello" style="border-color:#D1DAE7;">
                                <div class="icon-sprite"></div>
                                <h4>All <br/>Articles</h4>
                            </div>

                        </a>
                    </div>

                </div>
                <!--div id="cat-tabs" class="btn-group">
                    {%for cat in categories%}
                        {%ifequal cat.level 1 %}
                        <a class="btn btn-default" href="{% url 'category_post_list' cat.slug%}">{{cat.title|remove:" Insurance"}}</a>
                        {%endifequal%}
                    {%endfor%}
                        <a href="{%url 'post_index'%}" class="btn btn-info">See all articles &raquo;</a>
                </div-->

            </div>

            <div id="tabcontent" class="row recommended_reads">
                <h1 style="font-size:44px;text-align:center;">Popular Posts</h1>
                {%for rr in recommended_reads%}
                <div class="col-sm-4 col-lg-4">
                    <div style="display:block;">
                        <div class="thumbnail_r"><a href="{{rr.get_absolute_url}}"><img src="{{rr.thumbnail.url_t}}" alt="{{rr.title}}" class="img-responsive"></a></div>
                        <a href="{{rr.get_absolute_url}}"><h3 style="font-size:25px;">{{rr.title}}</h3></a>
                        <p class="author">Written by {{rr.author.get_full_name}}</p>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <footer>
        <div id="lp-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 row">
                    <div class="col-xs-4 col-md-6 col-lg-5 footercategories">
                        <h3>Categories</h3>
                        <ul>
                        {%for cat in categories%}
                            {%ifequal cat.level 1 %}
                            <li {%ifequal selected_category cat%}class="active"{%endifequal%}>
                             <img src="{{STATIC_URL}}lp/img/{{cat.slug}}-icon.png" alt="{{ cat.title }}">
                                <a href="{% url 'category_post_list' cat.slug%}" alt="{{ cat.title }}">{{cat.title|remove:" Insurance"}}</a>
                            </li>
                            {%endifequal%}
                        {%endfor%}
                        </ul>
                    </div>
                    <div class="col-xs-4 col-md-3 col-lg-3 footerlinks">
                        <!--h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Goals</a></li>
                            <li><a href="#">Team</a></li>
                        </ul-->
                    </div>
                    <div class="col-xs-4 col-md-3 col-lg-3 footersocial">
                        <h3>Social</h3>
                        <ul class="foot-social">
                            <li> <a href="#"><img onClick="window.open('https://www.facebook.com/Coverfox.Insurance')" src="{{STATIC_URL}}lp/img/facebook.png" alt=""></a> </li>
                            <li> <a><img onClick="window.open('https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons&screen_name=coverfox&source=followbutton&variant=2.0','mywindow','width=500,height=600')" src="{{STATIC_URL}}lp/img/Twitter.png" alt=""></a> </li>
                            <li> <a href="//plus.google.com/110481288431304590429?prsrc=3" rel="publisher"> <img src="{{STATIC_URL}}lp/img/GooglePlus.png" alt=""> </a> </li>
                        </ul>
                    </div>
                    </div><!-- /.col-lg-6-->
                    <div class="col-md-6 col-lg-6 row">
                    <div class="col-xs-10 col-sm-6 col-md-7 col-lg-6 footersubscribe">
                        <h3>Subscribe</h3>
                        <ul>
                            <li>Get fresh articles, infographics, insurance guides, and inside stories at Coverfox delivered to your inbox each week.
                            <br/>
                            <div>
                                <form role="form"  class="subscribe_form" method='post' action='{% url "ajax_subscribe" %}'>
                                    <div class="form-group">
                                        <strong>Name</strong>
                                        <input type="hidden" name="mtype" value="BLOG">
                                        <input type="text" name="name" class="form-control" placeholder="Your name">
                                        <strong>Email</strong>
                                        <input type="email" name="email" class="form-control" id="subscribeInput" placeholder="Enter your email id">
                                        <p class="text-error form_errors" id="error_email"></p>
                                    </div>
                                    <button type="submit" class="btn btn-red">Subscribe</button>
                                </form>
                            </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                    </div>
                    <div class="col-xs-10 col-sm-5 col-md-5 col-lg-5">
                        <h3>Get in touch</h3>
                        <ul>
                            <li><a href="javascript:void(0);">+91 226 503 6444</a></li>
                            <li><a href="javascript:void(0);">info@coverfox.com</a></li>
                            <!--li><a href="javascript:void(0);">M2/16, Sneh CHS., Oppo. Dhake Colony, Apna bazaar bus stop, D.N. Nagar, J. P. Road, Andheri West, 400053</a></li-->
                        </ul>
                    </div>
                    </div><!-- /.col-lg-6-->
                </div>
                <div id="footerabout" class="row">
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <img src="{{STATIC_URL}}lp/img/coverfox-logo-white.png" alt="">
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-10">
                        <div class="fut-intro">
                            Coverfox Insurance Broking Pvt. Ltd.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Subscriber modal -->
    <div class="modal fade" id="subscriber_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title" style="font-weight: bold;line-height: 0.4;margin-top: 10px;">Thank You for subscribing!</h2>
                    <h3 style="line-height: 0.4;">Now get a free insurance review by our experts.</h3>
                </div>
                <div class="modal-body modalrupi">
                    <img src="{{STATIC_URL}}img/rupy-blog-subscribe.jpg" alt="">
                    <div style="background-color: #f9f9f9;border-top: #dadada;padding: 10px">
                        <div class="row rev_pre_alert">
                            <div class="col-lg-6">
                                <button id="rev_pop_sub" type="submit"
                                        class="btn btn-red btn-lg btn-full">Yes, Sign me up
                                </button>
                            </div>
                            <div class="col-lg-6">
                                <!--button type="submit" class="btn btn-black btn-lg btn-full">No thanks</button-->
                                <button type="submit" class="btn btn-black btn-lg btn-full" data-dismiss="modal">No thanks</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top:0px;background-color: #1F2427;border: 5px solid #FFFFFF;">
                    <div class="col-lg-12 rev_alert_success hide">
                        <div id="alert_review_success" class="alert alert-warning" style="text-align:left;">
                            Thank You! Expert assessment coming your way soon.
                        </div>
                    </div>
                    <p style="color: #FFFFFF;text-align: center;">Help your friends get smarter insurance too.</p>
                    <div class="share_options row">
                        <div class="col-lg-6" style="text-align: center;padding: 5px;">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.coverfox.com" target="_blank">
                                <img src="{{STATIC_URL}}img/click_to_share.png"  alt="Click to Share" />
                            </a>
                        </div>
                        <div class="col-lg-6" style="text-align: center;padding: 5px;">
                            <a href="https://twitter.com/share?url=http://www.coverfox.com&text=Get+free+review+of+your+Insurance+by+experts+at&size=1"
                               target="_blank">
                                <img src="{{STATIC_URL}}img/click_to_tweet.png" alt="Click to Tweet" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%compress js%}
    <script src="{{STATIC_URL}}lp/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}lp/js/respond.min.js"></script>
    <script src="{{STATIC_URL}}lp/js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}lp/js/jquery.placeholder.min.js"></script>
    <script src="{{STATIC_URL}}lp/js/jquery.form.js"></script>
    <script src="{{STATIC_URL}}lp/js/jquery.cookie.js"></script>
    <!-- GOOGLE ANALYTICS -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-45524191-1', 'coverfox.com');
        ga('send', 'pageview');
    </script>
    <!-- ANALYTICS END -->
    <script>
        var csrf_token;
        $(function() {
            // placeholder for ie
            $(":input[placeholder]").placeholder();
            $.get("{%url 'get_token'%}", function(data){
                csrf_token = data;
                $('form').prepend("<input type='hidden' name='csrfmiddlewaretoken' value='"+data+"' />");
            });

            var topbar = $("#cf-topbar");
            var cfwindow = $(window);
            cfwindow.scroll(function() {
                scrollpos = cfwindow.scrollTop();
                if (scrollpos > 4) {
                    topbar.addClass("tb-hl");
                } else {
                    topbar.removeClass("tb-hl");
                }
            });
        });

        $("#review_subscribe").ajaxForm({
            success : function (data) {
                data = JSON.parse(data);
                if(data.success){
                    var msg = data.response.mesg;
                    $.cookie('subscribed_email', msg.email, { expires: 3650, path: '/' });
                    $.cookie('subscribed_name', msg.name, { expires: 3650, path: '/' });
                    window.location = "/articles/subscribe/success/"+msg.code+"/";
                }else{
                    $(".form_errors").html("");
                    for(var k in data.errors){
                        $("#review_subscribe #error_"+k).html(data.errors[k][0]);
                    }
                }
            }
        });
        $(".subscribe_form").ajaxForm({
                success : function (data) {
                data = JSON.parse(data);
                if(data.success){
                    var msg = data.response.mesg;
                    $.cookie('subscribed_email', msg.email, { expires: 3650, path: '/' });
                    $.cookie('subscribed_name', msg.name, { expires: 3650, path: '/' });
                    $("#invited_by_email").val(msg.email);
                    $("#invited_by_name").val(msg.name);
                    $("#subscriber_modal").modal('show');
                    $(".form_errors").html("");
                    //window.location = "/articles/";
                }else{
                    $(".form_errors").html("");
                    for(var k in data.errors){
                        $(".subscribe_form #error_"+k).html(data.errors[k][0]);
                    }
                }
            }
        });
        $('#rev_pop_sub').click(function(){
            var rev_data =  {
                'mtype': 'REVIEW',
                'name': $.cookie('subscribed_name'),
                'email': $.cookie('subscribed_email'),
                'csrfmiddlewaretoken' : csrf_token
            }
            $.post("{%url 'ajax_subscribe'%}", rev_data, function(res_data){
                data = $.parseJSON(res_data);
                if (data.success) {
                    $('.rev_pre_alert').addClass('hide');
                    $('.rev_alert_success').removeClass('hide');
                }else {
                    //window.location = "/articles/";
                    //console.log(res_data);
                    $("#subscriber_modal").modal('hide');
                }
            });
        });


    </script>

    <script type="text/javascript">
        function isCanvasSupported(){
            var elem = document.createElement('canvas');
            return !!(elem.getContext && elem.getContext('2d'));
        }

        if(isCanvasSupported()) {
            function draw(event) {
                canvas.width = $('#c').width();
                canvas.height = $('#c').height();
                halfSizeX = canvas.width/4;
                halfSizeY = 3*canvas.height/4;
                values[0] = event.clientX || 489;
                values[1] = event.clientY || 180;

                ctx.clearRect(0, 0, sizeX, sizeY);
                var minorR = values[0] / 10;
                diff = majorR - minorR;
                s = diff / minorR;
                theta = 0;
                angleMuliplier = values[1] / 10 ;
                radiusEffect = values[2] / 2 + minorR;
                steps = values[3] * 2;
                oldX=0; oldY=0;
                console.log(values);
                for (i = steps; i--;) {
                    var mult = angleMuliplier * theta;
                    x = diff * Math.sin(mult) + radiusEffect * Math.sin(mult * s) + halfSizeX;
                    y = diff * Math.cos(mult) - radiusEffect * Math.cos(mult * s) + halfSizeY;
                    theta += Math.PI * 4 / steps;
                    if (oldX) {
                        //ctx.strokeStyle = 'hsl(' + (  hue + (i % 85)) + ', 80%, 20%)';
                        ctx.strokeStyle = 'rgba(255, 193, 61, 0.05)';
                        ctx.beginPath();
                        ctx.moveTo(oldX, oldY);
                        ctx.lineTo(x, y);
                        ctx.closePath();
                        ctx.stroke();
                    }
                    if(Math.random() > 0.6){
                        ctx.fillStyle = '#371D37';
                    }else{
                        ctx.fillStyle = '#472647';
                    }
                    ctx.fill();
                    oldX = x;
                    oldY = y;
                }
            }

            var canvas = document.getElementById("c");
            var ctx = canvas.getContext('2d');
            sizeX = 800;
            sizeY = 200;
            halfSizeX = sizeX/4;
            halfSizeY = sizeY/4;
            majorR = 400;
            hue = 0;
            i=0;
            inputs = document.getElementsByTagName('input');
            values = [489, 180, 800, 800];

            canvas.width = sizeX;
            canvas.height = sizeY;
            ctx.globalAlpha = .3;
            draw({});
            $(".sectioncover").click(function(event){
                draw(event);
            });
            $( window ).resize(function() {
                draw({});
            });

        }
    </script>
    {%endcompress%}
</body>

</html>

