<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xml:lang="en" lang="en" class="js">

{% load compress%}
{% load manip_data%}
<head>
    <title>Coverfox Insurance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta property="og:site_name" content="Coverfox Insurance, India" />
    <meta property="og:locale" content="en_us" />
    <meta property="og:title" content="Coverfox Insurance, India - The smartest way to manage your Insurance" />
    <meta property="og:description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance." />
    <meta property="og:url" content="http://www.coverfox.com" />
    <meta property="og:image" content="{{STATIC_URL}}lp2/img/coverfox_logo_fb.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="403">
    <meta property="og:image:height" content="403">

    <meta name="twitter:title" content="Coverfox Insurance, India">
    <meta name="twitter:description" content="The smartest way to buy and manage your insurance">

    <meta name="published_time" content="2013-09-26" />
    <meta name="modified_time" content="{{currenttime|date:'Y-m-d'}}" />
    <meta name="keywords" content="Insurance India, Best Insurance in India, Best Policy" />
    <meta name="description" content="Coverfox is a place to search, compare, buy, manage, and most importantly to understand Insurance." />
    <meta name="publisher" content="Coverfox Insurance" />
    <meta name='robots' content='index, follow' />
    <!-- Bootstrap -->
    <!--script type="text/javascript" src="{{STATIC_URL}}lp2/js/css3-mediaqueries.js"></script-->
    {%compress css%}
    <link href="{{STATIC_URL}}lp2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}lp2/css/common.css" rel="stylesheet">
    <link href="{{STATIC_URL}}lp2/css/lp-style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lp2/css/style_common.css" />
    {%endcompress%}
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="//use.typekit.net/mfw7pxf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <style>
        @media screen and (max-width:900px) {}
        @media screen and (min-width:900px) and (max-width:1200px) {}
        @media screen and (min-width:1200px) {}
    </style>
</head>

<body>
    <header>
        <div id="topbar" class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle coll-btn" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand new" href="/"> <img src="{{STATIC_URL}}lp2/img/coverfox-logo-big.png" alt="Coverfox"> </a>
                </div>
                <!--div class="quote-line">
                    The smartest way to manage your insurance
                </div-->

                <div class="navbar-collapse collapse">
                    <div class="navbar-right">
                        <div class="pull-left flag-num">
                            <img src="{{STATIC_URL}}lp2/img/indian_flag_32x32.png" alt="India">&nbsp;&nbsp;<span class="text-muted">+91 22 6503 6444</span>
                        </div>
                        <ul class="nav navbar-nav pull-left  nav-social cf-navbar-elem">
                            <li>
                                <a href="https://www.facebook.com/Coverfox.Insurance" target="_blank">
                                    <img src="{{STATIC_URL}}lp2/img/facebook.png" alt="Facebook" title="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href= "https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons&screen_name=coverfox&source=followbutton&variant=2.0" target="_blank">
                                    <img src="{{STATIC_URL}}lp2/img/Twitter.png" alt="Twitter" title"Twitter">
                                </a>
                            </li>
                            <li>
                            <a href="//plus.google.com/110481288431304590429?prsrc=3" rel="publisher" target="_blank">
                                <img src="{{STATIC_URL}}lp2/img/GooglePlus.png" alt="Google+" title="Google+">
                            </a>
                            </li>
                            <!--li> <a href="#"> <img src="{{STATIC_URL}}lp2/img/Linkedin.png" alt=""> </a> </li-->
                        </ul>

                    </div><!--/.navbar-right-->
                </div><!--/.navbar-collapse-->
            </div>
        </div><!-- topbar -->
    </header>

    <div class="clearfix"></div>

    <div id="section1">
        <!--div class="sectioncover">
            <canvas id="c" style="position:absolute;top:0;bottom:0;left:0;right:0;width:100%;height:100%;"></canvas>
        </div-->
        <div class="container">
                        <!--h3 style="margin: 0px 0px 45px; color: #ffffff; text-align: center;">
                Get comprehensive, unbiased and practical advice
            </h3-->
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h1>
                        Free health and life insurance assessment<br/><div style="font-weight:400;" class="subline">by our experts</div>
                    </h1>
                    <div class="subline">
                        Get comprehensive, unbiased and practical advice - Instantly
                    </div>

                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4 border-trick">
                            <div class="view view-tenth">
                                <img class="vi" src="{{STATIC_URL}}lp2/img/vidya_hariharan_anime.png" alt="Vidya Hariharan" >
                                <h2 class="subline">
                                    Vidya Hariharan
                                    <div class="sub-text">
                                        Data Cruncher<br>
                                        <i>'Pie chart this. Pivot that.'</i>
                                        <!--Product expert -->
                                    </div>
                                </h2>
                                <div class="mask">
                                    <h2>
                                        Vidya Hariharan
                                        <!--div class="sub-text">
                                            Data Cruncher<br>
                                            Product Expert
                                        </div-->
                                    </h2>
                                    <p>10 years with Swiss Re, the largest Reinsurance company in the world.
                                        She breathes Insurance, measures everything with gruesome detail, and puts
                                        all her math magic into analysing and scoring a product.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 border-trick">
                            <div class="view view-tenth">

                                <img class="vi" src="{{STATIC_URL}}lp2/img/v_srinivasan_anime.png" alt="V Srinivasan" >
                                <h2 class="subline" >
                                    V. Srinivasan
                                    <div class="sub-text">
                                        Finance whiz<br>
                                        <i>'<span style="text-decoration: line-through">Life</span> Money saver'</i>
                                    </div>
                                </h2>
                                <div class="mask">
                                    <h2>
                                        V. Srinivasan
                                        <!--div class="sub-text">
                                            Finance whiz<br>Life saver...uhh money saver
                                        </div-->
                                    </h2>
                                    <p>
                                        A chartered accountant you want on your side.
                                        Ex-CFO of Bharti Axa Life with 10 years in Life Insurance.
                                        <br/>He does the numbers for you, so you don't have to spend an extra dime.
                                        Hey, you always need an accountant to save your life!
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4 border-trick">
                            <div class="view view-tenth">
                                <img class="vi" src="{{STATIC_URL}}lp2/img/sheetal_gandhi_anime.png" alt="Mrs. Sheetal Gandhi" >
                                <h2 class="subline" >
                                    Sheetal Gandhi
                                    <div class="sub-text">
                                        Insurance Guru<br>
                                        <i>'Keep claim and carry on'</i>
                                        <!-- Insurance wisdom at its best -->
                                    </div>
                                </h2>
                                <div class="mask">
                                    <h2>
                                        Sheetal Gandhi
                                        <!--div class="sub-text">
                                            Guru<br>
                                            Insurance wisdom at it's best
                                        </div-->
                                    </h2>
                                    <p>34 years at Oriental Insurance Company. She can smell a good product from a bad one.
                                        "What's the trickiest clause? What factors impact claim?", we try our best to
                                        confuse her with such questions. But we fall on our faces. Always.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div><!--/.row-->
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="sideform">
                        <h3>
                            Get your assessment
                        </h3>
                            No obligation to buy
                            <div class="borderline"></div>
                            <div class="social-wrap a">
                                <a href="/login/facebook/?next=/review/info-add/" style="text-decoration: none;" alt="Sign in with Facebook" >
                                    <button id="facebook">Start my assessment</button>
                                </a>
                                <!--button id="twitter">Sign in with Twitter</button-->
                                <!--button id="googleplus">Sign in with Google</button-->
                            </div>
                            <span style="font-size:12px;">We will not post on your wall, without permission</span>
                            <h4 style="color:#a2a2a2;margin:15px 0px;">OR</h4>
                            <form role="form"  class="review_login_form" method='post' action="{% url 'ajax_review_login' %}">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Your name">

                                    <input type="email" name="email" class="form-control" id="subscribeInput" placeholder="Enter your email id">
                                    <p class="text-error form_errors" id="error_email"></p>
                                </div>
                                <button type="submit" style="font-size:16px;width:100%;max-width:250px;min-width:205px;"
                                        class="btn btn-lg btn-red">Start my assessment</button>
                            </form>

                    </div><!--/.sideform-->

                </div>
            </div>
        </div>
    </div>

    <div id="section2">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <p><!--span class="glyphicon glyphicon-search"></span--><img src="{{STATIC_URL}}lp2/img/icons/Search.png" alt="">
                        <br>Insurance plans - researched and handpicked for you</p>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <p><!--span class="glyphicon glyphicon-list-alt"></span--><img src="{{STATIC_URL}}lp2/img/icons/Trolley-2.png" alt="">
                        <br>Know what you buy - <br/>we decode the jargon</p>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <p><!--span class="glyphicon glyphicon-user"></span--><img src="{{STATIC_URL}}lp2/img/icons/User-8.png" alt="">
                        <br>A response team that simply works, when you need to claim</p>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <p><!--span class="glyphicon glyphicon-thumbs-up"></span--><img src="{{STATIC_URL}}lp2/img/icons/Like.png" alt="">
                    <br>No spam, no cold calls.<br/>NO NONSENSE.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="section3">
        <div class="container">
            <div class="row sectiontitle">
                <h1 style="font-size:44px;">Know more about Insurance <br> from the Coverfox blog</h1>
                <p>Choose a category below to read from</p>
                <div class="row">

                    <div class="col-sm-2 col-lg-2 col-sm-offset-1 col-lg-offset-1 size-set">
                        <a class="article-links car" href="/articles/category/car-insurance/">
                            <div class="wello" style="border-color:#e2c09e;">
                                <div class="icon-sprite"></div>
                                <h4>Car <br />Insurance</h4>
                            </div>

                        </a>
                    </div>


                    <div class="col-sm-2 col-lg-2 size-set">
                        <a class="article-links health" href="/articles/category/health-insurance/">
                            <div class="wello" style="border-color:#91cbbb;">
                                <div class="icon-sprite"></div>
                                <h4>Health <br/>Insurance</h4>
                            </div>

                        </a>
                    </div>


                    <div class="col-sm-2 col-lg-2 size-set">
                        <a class="article-links life" href="/articles/category/life-insurance/">
                            <div class="wello" style="border-color:#e5a1cd;">
                                <div class="icon-sprite"></div>
                                <h4>Life <br/>Insurance</h4>
                            </div>

                        </a>
                    </div>


                    <div class="col-sm-2 col-lg-2 size-set">
                        <a class="article-links travel" href="/articles/category/travel-insurance/">
                            <div class="wello" style="border-color:#97b8e0;">
                                <div class="icon-sprite"></div>
                                <h4>Travel <br/>Insurance</h4>
                            </div>

                        </a>
                    </div>


                    <div class="col-sm-2 col-lg-2 size-set">
                        <a class="article-links all" href="/articles/">
                            <div class="wello" style="border-color:#D1DAE7;">
                                <div class="icon-sprite"></div>
                                <h4>All <br/>Articles</h4>
                            </div>

                        </a>
                    </div>

                </div>
                <!--div id="cat-tabs" class="btn-group">
                    {%for cat in categories%}
                        {%ifequal cat.level 1 %}
                        <a class="btn btn-default" href="{% url 'category_post_list' cat.slug%}">{{cat.title|remove:" Insurance"}}</a>
                        {%endifequal%}
                    {%endfor%}
                        <a href="{%url 'post_index'%}" class="btn btn-info">See all articles &raquo;</a>
                </div-->

            </div>

            <div id="tabcontent" class="row recommended_reads">
                <h1 style="font-size:44px;text-align:center;">Popular Posts</h1>
                {%for rr in recommended_reads%}
                <div class="col-sm-4 col-lg-4">
                    <div style="display:block;">
                        <div class="thumbnail_r"><a href="{{rr.get_absolute_url}}"><img src="{{rr.thumbnail.url_r}}" alt="{{rr.title}}" class="img-responsive"></a></div>
                        <a href="{{rr.get_absolute_url}}"><h3>{{rr.title}}</h3></a>
                        <p class="author">Written by {{rr.author.get_full_name}}</p>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <footer>
        <div id="lp-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 row">
                    <div class="col-xs-4 col-md-4 col-lg-4 footercategories">
                        <h3>Categories</h3>
                        <ul>
                        {%for cat in categories%}
                            {%ifequal cat.level 1 %}
                            <li {%ifequal selected_category cat%}class="active"{%endifequal%}>
                             <img src="{{STATIC_URL}}lp2/img/{{cat.slug}}-icon.png"> <a href="{% url 'category_post_list' cat.slug%}">{{cat.title|remove:" Insurance"}}</a>
                            </li>
                            {%endifequal%}
                        {%endfor%}
                        </ul>
                    </div>
                    <div class="col-xs-4 col-md-4 col-lg-4 footerlinks">
                        <h3>Link Love</h3>
                        <ul>
                            <li><a href="{% url 'about_us' %}">About Us</a></li>
                            <li><a href="{% url 'terms_and_conditions' %}">Terms and Conditions</a></li>
                            <li><a href="{% url 'refund_policy' %}">Refund and Cancellation Policy</a></li>
                            <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                            <li><a href="{% url 'delivery_policy' %}">Shipping and delivery Policy</a></li>
                            <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-4 col-md-2 col-lg-2 footersocial">
                        <h3>Social</h3>
                        <ul class="foot-social">
                            <li> <a href="#"><img onClick="window.open('https://www.facebook.com/Coverfox.Insurance')" src="{{STATIC_URL}}lp2/img/facebook.png" alt=""></a> </li>
                            <li> <a><img onClick="window.open('https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons&screen_name=coverfox&source=followbutton&variant=2.0','mywindow','width=500,height=600')" src="{{STATIC_URL}}lp2/img/Twitter.png" alt=""></a> </li>
                            <li> <a href="//plus.google.com/110481288431304590429?prsrc=3" rel="publisher"> <img src="{{STATIC_URL}}lp2/img/GooglePlus.png" alt=""> </a> </li>
                        </ul>
                    </div>
                    </div><!-- /.col-lg-7-->
                    <div class="col-lg-5 row">
                    <div class="col-xs-10 col-sm-6 col-md-4 col-lg-6 footersubscribe">
                        <h3>Subscribe</h3>
                        <ul>
                            <li>Get fresh articles, infographics, insurance guides, and inside stories at Coverfox delivered to your inbox each week.
                            <br/>
                            <div>
                                <form role="form"  class="subscribe_form" method='post' action='{% url "ajax_subscribe" %}'>
                                    <div class="form-group">
                                        <strong>Name</strong>
                                        <input type="hidden" name="mtype" value="BLOG">
                                        <input type="text" name="name" class="form-control" placeholder="Your name">
                                        <strong>Email</strong>
                                        <input type="email" name="email" class="form-control" id="subscribeInput" placeholder="Enter your email id">
                                        <p class="text-error form_errors" id="error_email"></p>
                                    </div>
                                    <button type="submit" class="btn btn-red">Subscribe</button>
                                </form>
                            </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                    </div>
                    <div class="col-xs-10 col-sm-5 col-md-4 col-lg-5">
                        <h3>Get in touch</h3>
                        <ul>
                            <li><a href="javascript:void(0);">+91 226 503 6444</a></li>
                            <li><a href="javascript:void(0);">info@coverfox.com</a></li>
                            <!--li><a href="javascript:void(0);">M2/16, Sneh CHS., Oppo. Dhake Colony, Apna bazaar bus stop, D.N. Nagar, J. P. Road, Andheri West, 400053</a></li-->
                        </ul>
                    </div>
                    </div><!-- /.col-lg-6-->
                </div>
                <div id="footerabout" class="row">
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <img src="{{STATIC_URL}}lp2/img/coverfox-logo-white.png" alt="">
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-10">
                        <div class="fut-intro">
                            Coverfox Insurance Broking Pvt. Ltd.&nbsp;&nbsp;
                            <a href="{% url 'irda_licence' %}"
                               style="font-size:0.8em;padding:10px 0px;display:inline-block;">
                                IRDA broking licence no. IRDA/ DB 556/ 13</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- IRDA License Modal -->
    
    <!-- Subscriber modal -->
    <div class="modal fade" id="subscriber_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title" style="font-weight: bold;line-height: 0.4;margin-top: 10px;">Thank You for subscribing!</h2>
                    <h3 style="line-height: 0.4;">Now get a free insurance review by our experts.</h3>
                </div>
                <div class="modal-body modalrupi">
                    <img src="{{STATIC_URL}}img/rupy-blog-subscribe.jpg" alt="">
                    <div style="background-color: #f9f9f9;border-top: #dadada;padding: 10px">
                        <div class="row rev_pre_alert">
                            <div class="col-lg-6">
                                <button id="rev_pop_sub" type="submit"
                                        class="btn btn-red btn-lg btn-full">Yes, Sign me up
                                </button>
                            </div>
                            <div class="col-lg-6">
                                <!--button type="submit" class="btn btn-black btn-lg btn-full">No thanks</button-->
                                <button type="submit" class="btn btn-black btn-lg btn-full" data-dismiss="modal">No thanks</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="margin-top:0px;background-color: #1F2427;border: 5px solid #FFFFFF;">
                    <div class="col-lg-12 rev_alert_success hide">
                        <div id="alert_review_success" class="alert alert-warning" style="text-align:left;">
                            Thank You! Expert assessment coming your way soon.
                        </div>
                    </div>
                    <p style="color: #FFFFFF;text-align: center;">Help your friends get smarter insurance too.</p>
                    <div class="share_options row">
                        <div class="col-lg-6" style="text-align: center;padding: 5px;">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.coverfox.com" target="_blank">
                                <img src="{{STATIC_URL}}img/click_to_share.png"  alt="Click to Share" />
                            </a>
                        </div>
                        <div class="col-lg-6" style="text-align: center;padding: 5px;">
                            <a href="https://twitter.com/share?url=http://www.coverfox.com&text=Get+free+review+of+your+Insurance+by+experts+at&size=1"
                               target="_blank">
                                <img src="{{STATIC_URL}}img/click_to_tweet.png" alt="Click to Tweet" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{STATIC_URL}}lp2/js/respond.min.js"></script>
    {%compress js%}
    <script src="{{STATIC_URL}}lp2/js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}lp2/js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}lp2/js/jquery.placeholder.min.js"></script>
    <script src="{{STATIC_URL}}lp2/js/jquery.form.js"></script>
    <script src="{{STATIC_URL}}lp2/js/jquery.cookie.js"></script>

   <!-- begin olark code -->
    <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
    f[z]=function(){
    (a.s=a.s||[]).push(arguments)};var a=f[z]._={
    },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
    f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
    0:+new Date};a.P=function(u){
    a.p[u]=new Date-a.p[0]};function s(){
    a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
    hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
    return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
    b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
    b.contentWindow[g].open()}catch(w){
    c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
    var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
    b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
    loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
    /* custom configuration goes here (www.olark.com/documentation) */
    olark.identify('8072-747-10-2682');/*]]>*/</script><noscript><a href="https://www.olark.com/site/8072-747-10-2682/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
    <!-- end olark code -->

    <!-- GOOGLE ANALYTICS -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-45524191-1', 'coverfox.com');
        ga('send', 'pageview');
    </script>
    <!-- ANALYTICS END -->
       <!-- begin olark POST PAYMENT code -->
        <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
        f[z]=function(){
        (a.s=a.s||[]).push(arguments)};var a=f[z]._={
        },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
        f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
        0:+new Date};a.P=function(u){
        a.p[u]=new Date-a.p[0]};function s(){
        a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
        hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
        return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
        b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
        b.contentWindow[g].open()}catch(w){
        c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
        var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
        b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
        loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
        /* custom configuration goes here (www.olark.com/documentation) */
        olark.identify('8072-747-10-2682');/*]]>*/</script><noscript><a href="https://www.olark.com/site/8072-747-10-2682/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->


    <script>
        var csrf_token;
        $(function() {
            // placeholder for ie
            $(":input[placeholder]").placeholder();
            $.get("{%url 'get_token'%}", function(data){
                csrf_token = data;
                $('form').prepend("<input type='hidden' name='csrfmiddlewaretoken' value='"+data+"' />");
            });

            var topbar = $("#cf-topbar");
            var cfwindow = $(window);
            cfwindow.scroll(function() {
                scrollpos = cfwindow.scrollTop();
                if (scrollpos > 4) {
                    topbar.addClass("tb-hl");
                } else {
                    topbar.removeClass("tb-hl");
                }
            });
        });

        $("#review_subscribe").ajaxForm({
            success : function (data) {
                data = JSON.parse(data);
                if(data.success){
                    var msg = data.response.mesg;
                    $.cookie('subscribed_email', msg.email, { expires: 3650, path: '/' });
                    $.cookie('subscribed_name', msg.name, { expires: 3650, path: '/' });
                    window.location = "/articles/subscribe/success/"+msg.code+"/";
                }else{
                    $(".form_errors").html("");
                    for(var k in data.errors){
                        $("#review_subscribe #error_"+k).html(data.errors[k][0]);
                    }
                }
            }
        });
        $(".subscribe_form").ajaxForm({
                success : function (data) {
                data = JSON.parse(data);
                if(data.success){
                    var msg = data.response.mesg;
                    $.cookie('subscribed_email', msg.email, { expires: 3650, path: '/' });
                    $.cookie('subscribed_name', msg.name, { expires: 3650, path: '/' });
                    $("#invited_by_email").val(msg.email);
                    $("#invited_by_name").val(msg.name);
                    $("#subscriber_modal").modal('show');
                    $(".form_errors").html("");
                    //window.location = "/articles/";
                }else{
                    $(".form_errors").html("");
                    for(var k in data.errors){
                        $(".subscribe_form #error_"+k).html(data.errors[k][0]);
                    }
                }
            }
        });
        $('#rev_pop_sub').click(function(){
            var rev_data =  {
                'mtype': 'REVIEW',
                'name': $.cookie('subscribed_name'),
                'email': $.cookie('subscribed_email'),
                'csrfmiddlewaretoken' : csrf_token
            }
            $.post("{%url 'ajax_subscribe'%}", rev_data, function(res_data){
                data = $.parseJSON(res_data);
                if (data.success) {
                    $('.rev_pre_alert').addClass('hide');
                    $('.rev_alert_success').removeClass('hide');
                }else {
                    //window.location = "/articles/";
                    //console.log(res_data);
                    $("#subscriber_modal").modal('hide');
                }
            });
        });

        $(".review_login_form").ajaxForm({
            success : function (data) {
                data = JSON.parse(data);
                if(data.success){
                    var msg = data.response.mesg;
                    $.cookie('subscribed_email', msg.email, { expires: 3650, path: '/' });
                    $.cookie('subscribed_name', msg.name, { expires: 3650, path: '/' });
                    $("#invited_by_email").val(msg.email);
                    $("#invited_by_name").val(msg.name);
                    $(".form_errors").html("");
                    window.location = "/review/info-add/";
                }else{
                    $(".form_errors").html("");
                    for(var k in data.errors){
                        $("#error_"+k).html(data.errors[k][0]);
                    }
                }
            }
        });


    </script>
    {%endcompress%}
</body>

</html>

