{% extends "base_admin.html" %}
{% load manip_data %}
{% load widget_tweaks %}

{%block header_js_css%}
{%endblock%}

{% block popup %}

{% endblock %}

{% block main %}

<div class="row-fluid">
    <div class="span8 area">
        <div class="internal">
            {%if mail_list%}
                <div style="font-size:20px;">Edit existing mails:</div><br/>
                <ol>
                {%for m in mail_list%}
                <li><a href="{%url 'mail_edit' m.id%}">{{m.mtype}} -- {%if m.is_active%}Activated{%else%}inactive{%endif%}</a></li>
                {%endfor%}
                </ol>
            {%endif%}
            <form class="form-horizontal" id="user_form" action="." method="post" enctype="multipart/form-data">
                {%csrf_token%}
                <fieldset>
                    <legend>Mail Modify</legend>
                    <div class="row-fluid">
                        <div class="span12">
                            <label class="flabel">MailType</label>
                            <span class="help-inline field_error" id="id_mtype_cerror">{{form.errors.mtype}}</span>
                            {{form.instance.mtype}}
                            {{ form.mtype|attr:"class:span12" }}
                        </div>
                    </div><br/>
                    <div class="row-fluid">
                        <div class="span12">
                            <label class="flabel">Mail Subject</label>
                            <span class="help-inline field_error" id="id_title_cerror">{{form.errors.title}}</span>
                            {{ form.title|attr:"placeholder:Mail Subject"|attr:"class:span4" }}
                        </div>
                    </div><br/>
                    <div class="row-fluid">
                        <div class="span12">
                            <label class="flabel">ACTIVATE</label>
                            <span class="help-inline field_error" id="id_is_active_cerror">{{form.errors.is_active}}</span>
                            {{ form.is_active}}
                        </div>
                    </div><br/>
                    <div class="row-fluid">
                        <div class="span12">
                            <label class="flabel">Mail Text</label>
                            <p class="help-block field_error" id="id_text_cerror">{{form.errors.text}}</p>
                            <div class="span12">
                                {{form.text|attr:"class:input-block-level span12"|attr:"rows:20"}}
                            </div>
                        </div>
                    </div><br/>
                    <div class="row-fluid">
                        <div class="span12">
                            <label class="flabel">Mail HTML</label>
                            <p class="help-block field_error" id="id_body_cerror">{{form.errors.body}}</p>
                            <div class="span12">
                                {{form.body|attr:"class:input-block-level span10"|attr:"rows:20"|attr:"cols:30"}}
                            </div>
                        </div>
                    </div><br/>
                    <div class="row-fluid">
                        <div class="form-actions">
                            <button class="btn btn-primary btn-large" type="submit">Save</button>
                        </div>
                    </div><br/>
                </fieldset>
            </form>
        </div>
    </div>
    {%include "core/admin_menu.html"%}
</div>

{%endblock%}

{% block footer_js_css %}

<script src="{{STATIC_URL}}js/jquery.form.js"></script>
<script src="{{STATIC_URL}}js/jquery.slugify.js"></script>
<script src="{{STATIC_URL}}js/jquery.tagsinput.js"></script>
<script src="{{STATIC_URL}}js/ui.multiselect.js"></script>

<link href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/blog.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/jquery.tagsinput.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/ui.multiselect.css" rel="stylesheet">
<script src="{{STATIC_URL}}radmin/jquery_tinymce/jquery.tinymce.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('textarea#id_body').tinymce({
            script_url : '{{STATIC_URL}}radmin/jquery_tinymce/tiny_mce.js',
            theme : "advanced",
            theme_advanced_buttons1: "undo,redo,blockquote,table,removeformat,formatselect,fontsizeselect,forecolor,backcolor,bold,italic,strikethrough,bullist,numlist,link,image,code,outdent, indent",
            plugins: "media,table,paste,style,advimage,inlinepopups", //add plugin autoresize and made menu position fixed
            menubar : false,
            gecko_spellcheck : true,
            toolbar_items_size: 'small',
            forced_root_block : "p",
            force_br_newlines : false,
            force_p_newlines : true,
            style_formats: [
                {title: 'Bold text', inline: 'b'},
                {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                {title: 'Example 1', inline: 'span', classes: 'example1'},
                {title: 'Example 2', inline: 'span', classes: 'example2'},
                {title: 'Table styles'},
                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
            ],
        });

    });
</script>

{% endblock %}
