{% extends "base_admin.html" %}
{% load manip_data %}
{% load widget_tweaks %}

{%block header_js_css%}
{%endblock%}

{% block popup %}

{% endblock %}

{% block main %}

<div class="row-fluid">
    <div class="span8 area">
        <div class="internal">
            <h1>Reports</h1>
            <br />
            <ul>
                <li><a href="{% url 'extract_review_data' %}">Review Data</a> </li>
            </ul>
        </div>
    </div>
    {%include "core/admin_menu.html"%}
</div>

{%endblock%}

{% block footer_js_css %}

<script src="{{STATIC_URL}}js/jquery.form.js"></script>
<script src="{{STATIC_URL}}js/jquery.slugify.js"></script>
<script src="{{STATIC_URL}}js/jquery.tagsinput.js"></script>
<script src="{{STATIC_URL}}js/ui.multiselect.js"></script>

<link href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/blog.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/jquery.tagsinput.css" rel="stylesheet">
<link href="{{STATIC_URL}}css/ui.multiselect.css" rel="stylesheet">

<script type="text/javascript">
    $(document).ready(function(){
    });
</script>

{% endblock %}
