@import "../../css/base_theme";


@heroColor: #ddd4d9;
@heroContrastColor: #0d4390;
@orangeBaseColor: #ff6127;
@healthBaseColor: #f78460;

.doc-banner {
  background:#beae9f url(../img/bg.jpg) no-repeat left top;
  -webkit-background-size: cover;
    background-size: cover;
  .terms-msg {
    margin: 10px 0;
    padding: 0px;
    max-width: 500px;
    color:rgba(255, 255, 255, 0.7);
    font-size: 8px;
  }
  .testimonial_box{
    max-width: 300px;
    margin: auto;
    .testimonial_claim {
       margin: 230px 0 auto;
       background: rgba(255, 255, 255, 0.7);
       padding: 20px 20px 15px;
       position: relative;
       color: #000;
       &:before{
        content: "\201C";
        position: absolute;
        font-size: 30px;
        line-height: 1;
        color: #333;
        font-style: normal;
        top: 18px;
        left: 2%;
        font-family: "Times New Roman", Times, serif;
       }
       &:after{
        content: "\201D";
        right: 30%;
        bottom: 66px;
        position: absolute;
        font-size: 30px;
        line-height: 1;
        color: #333;
        font-style: normal;
        font-family: "Times New Roman", Times, serif;
       }
       p{
         font-size: 20px;
         font-weight: 300;
         font-family: "Times New Roman", Times, serif;
         font-style: italic;
         strong{
          font-weight: 600;
         }
         &.name{
            font-weight: 400;
            font-style: normal;
            font-family: 'Lato',sans-serif;
         }
       }
    }
  }
  .form-section {
    margin-bottom:0;

  }
  h1 {
    color: #222222;
    font-weight: 600;
    text-align: center;
    margin: 30px 15px 20px;
    font-size: 44px;
  }
  .sub-heading {
    color: #fff;
    letter-spacing: 2px;
    font-size: 25px;
  }
  .number-form {
    background-color: rgba(0,0,0,.9);
    padding:20px 20px 10px 20px;
    border: 1px solid rgba(0,0,0,0.1);
    max-width: 420px;
    margin: 45px auto;
    position: relative;
    .roundedCorners(3px);
    .input-group-addon {
      border-color:rgba(0,0,0,0.4);

    }
    h2{
      color:#fff;
      font-weight: 700;
      margin:0 0 10px;
      font-size: 25px;
    }
    p{
      font-size: 14px;
      color:#fff;
      font-weight: 300;
    }
    input {
      border-color: rgba(0,0,0,0.4);
      height:58px;
      padding:16px;
    }
    .btn-cfox {
      width: 100%;
      display: block;
      text-align: center;
      cursor: pointer;
      border-color:rgba(0,0,0,0.1);
      margin-top: 10px;
    }

    .loading-box {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      padding: 50px 12px 9px;
      background-color: rgba(255, 255, 255, 1);
      width: 100%;
      .roundedCorners(3px);
      z-index: 3;
      text-align: center;
      color: #991919;
      font-size: 20px;
      letter-spacing: 2px;
      display: none;
      & img {
        margin-right:10px;
      }
      &.reveal {
        display: block;
      }
    }
    & .error {
      padding:8px 8px 6px 32px;
      background-color:#ec971f;
      color:#991919;
      position: absolute;
      top:100%;
      left:10%;
      margin-top:-10px;
      min-width:80%;
      font-weight: bold;
      display: none;
      z-index:100;
      .roundedCorners(3px);
      .boxShadow(0px 3px 5px rgba(0,0,0,0.4));
      .glyphicon {
        margin-right:10px;
        position: absolute;
        left: 8px;
        top: 10px;
        font-size: 16px;
        color:rgba(0,0,0,0.6);
      }
      &:before {
        position: absolute;
        top:-20px;
        left:30px;
        border: 10px solid transparent;
        border-bottom-color: #ec971f;
        content: '';
        display: block;
      }
      &.reveal {
        display: block;
      }
    }
  }
}
.heros_video_container{
  padding: 20px;
  position: relative;
  p{
    font-size: 18px;
    position: absolute;
    top:55px;
    width: 100%;
    bottom: 0;
    left:10px;
  }

}


/* mobile optimisation */

@media screen and (min-width: 200px) and (max-width: 991px) {
  .doc-banner {
    background-color: #232323;
    padding: 30px 0;
    .testimonial_box{
      .testimonial_claim{
        p{
          font-size: 19px;
        }
      }
    }

    .banner-bg {
      background-image: none;
    }
    & .form-section {
      padding-top: 20px;
    }
    & #companies-wrap .companies-box {
      height: auto;
    }
    & #companies-wrap h2 {
      font-size: 24px;
    }
    & h1 {
      margin-top:20px;
    }
    & .sub-heading {
      max-width:500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  #companies-wrap ul#company-logos li img {
    height: 40px;
  }
    & h1 {
      font-size:32px;
    }
    & .sub-heading {
      font-size:18px;
    }
    .number-form {
      margin-top:15px;
    }

  }

@media only screen and (min-width : 200px) and (max-width : 767px) {
  body,html {
    min-width:320px;
  }
  .doc-banner{
    background-image: none !important;
     .testimonial_box{
      .testimonial_claim{
        margin: 0;
        p{
          font-size: 19px;
        }
      }
    }
    .number-form{
      .error{
        top:77%;
      }
      p{
        font-size: 12px;
      }
    }

    .form-section{
      h2{
        font-size: 24px;
        text-align: left;
        margin: 15px 0 10px;
      }
    }
    }
    .heros_video_container{
      padding: 20px 0;
      p{
        position: relative;
        top:0;
        font-size: 16px;
      }
    }
   .logo_section_list {
    h2{

    }
    .btn_container {
      margin: 10px 0;
      a{
        margin: auto 15px;
        max-width: 100%;
      }
    }
  }
  .btn-cfox.orange {
    font-size:13px;
  }
  .banner-label {
    display: inline-block;
    font-size: 18px;
    left: 0;
    padding: 2px 10px;
  }
  #companies-wrap ul#company-logos li{
    padding:15px;
    img {
      height: 40px;
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 519px) {
  #companies-wrap ul#company-logos li{
    padding:5px;
    img {
      height: 30px;
    }
  }
  .doc-banner {
    .form-section {
      padding-top:0px;
    }
    & h1 {
      font-size:32px;
    }
    & .sub-heading {
      font-size: 18px;
      font-weight: 700;
    }
    & #companies-wrap {
      min-height:140px;
      & h2 {
        font-size: 18px;
        line-height: 1.4em;
      }
      & .companies-box {
        height:auto;
      }
    }
    & .number-form {
      padding:15px 10px;
    }
  }
}
/*
@media screen and (min-width: 1200px) and (max-width: 1450px) {
  .doc-banner {
    background-size: 100%;
    background-position: top center;
  }
}

@media screen and (min-width: 1451px) and (max-width: 1799px) {
  .doc-banner {
    background-size: 78% auto;
    background-position: top center;
  }
}

@media screen and (min-width: 1800px) and (max-width: 2900px) {
  .doc-banner {
    background-size: 70% auto;
    background-position: center -10%;
  }
}
*/
/* mobile optimisation ends */

