<script type="text/html" id="stage_5">
    <div id="slate_5" class="querry-process" data-bind="visible: $root.active_stage() == 5">
        <div data-bind="if: $root.transaction_model().current_stage().description()">
            <div class="define">
                <img src="/static/health_product/img/new_buy/info.png"/>
                &nbsp;&nbsp;<span data-bind="text: $root.transaction_model().current_stage().description()"></span>
            </div>
        </div>
        <div data-bind="foreach: segments" style="margin-top: 40px;">
            <div data-bind="foreach: rows">
                <div class="row conditional-question">
                    <div data-bind="foreach: elements">
                        <div data-bind="if : field_type() == 'CharField' || field_type() == 'StrictCharField' || field_type() == 'IntegerField'">
                            <div data-bind="FreeField: $data" style="margin-left: 50px;"></div>
                        </div>
                        <div data-bind="if: field_type() == 'MobileField' ">
                            <div data-bind="MobileField: $data"></div>
                        </div>
                        <div data-bind="if: field_type() == 'DateField' ">
                            <div data-bind="DateField: $data"></div>
                        </div>
                        <div data-bind="if : field_type() == 'DropDownField'">
                            <div data-bind="DropDownField: $data"></div>
                        </div>
                        <div data-bind="if : field_type() == 'TwoDropDownField'">
                            <div data-bind="TwoDropDownField: $data"></div>
                        </div>
                        <div data-bind="if : field_type() == 'MultipleChoiceField'">
                            <div data-bind="MultipleChoiceField: $data"></div>
                        </div>
                    </div> <!-- elements -->
                </div><!--question row -->
            </div><!--rows -->
        </div><!-- segments -->
    </div><!--/.query-process-->
</script>
