{% load  static %}
<!DOCTYPE html>
    <!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} {% endblock title %}</title>

        <!-- Vendor CSS -->
        <link href="{% static "crm/vendors/animate-css/animate.css" %}" rel="stylesheet">
        <link href="{% static "crm/vendors/bootstrap-select/bootstrap-select.min.css" %}" rel="stylesheet">
        <link href="{% static "crm/vendors/sweet-alert/sweet-alert.css" %}" rel="stylesheet">
        <link href="{% static "crm/vendors/material-icons/material-design-iconic-font.css" %}" rel="stylesheet">
        <link href="{% static "crm/vendors/socicon/socicon.css" %}" rel="stylesheet">
        <link href="{% static "crm/vendors/chosen/chosen.min.css" %}" rel="stylesheet">
        <link href="{% static "crm/vendors/summernote/summernote.css" %}" rel="stylesheet">

        <!-- CSS -->
        <link href="{% static "crm/material/css/bootstrap-app.css" %}" rel="stylesheet">

        <link rel="shortcut icon" href="{% static "crm/common/img/favicon.ico" %}" type="image/x-icon" />
        {% block header_css %} {% endblock header_css %}
        {% block header_js %} {% endblock header_js %}
    </head>

    <body>
        {% block main %}
        {% endblock main %}

        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">IE SUCKS!</h1>
                <p>You are using an outdated version of Internet Explorer, upgrade to any of the following web browser <br/>in order to access the maximum functionality of this website. </p>
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="img/browsers/chrome.png" alt="">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="img/browsers/firefox.png" alt="">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="img/browsers/opera.png" alt="">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="img/browsers/safari.png" alt="">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="img/browsers/ie.png" alt="">
                            <div>IE (New)</div>
                        </a>
                    </li>
                </ul>
                <p>Upgrade your browser for a Safer and Faster web experience. <br/>Thank you for your patience...</p>
            </div>
        <![endif]-->


        <!-- Javascript Libraries -->
        <script src="{% static "crm/jquery-2.1.4.min.js" %}"></script>
        <script src="{% static "crm/bootstrap-3.3.4/js/bootstrap.js" %}"></script>
        <script src="{% static "crm/vendors/waves/waves.js" %}"></script>
        <script src="{% static "crm/vendors/moment/moment.min.js" %}"></script>
        <script src="{% static "crm/vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js" %}"></script>
        <script src="{% static "crm/vendors/bootstrap-select/bootstrap-select.min.js" %}"></script>

        <script src="{% static "crm/vendors/auto-size/jquery.autosize.js" %}"></script>
        <script src="{% static "crm/vendors/nicescroll/jquery.nicescroll.js" %}"></script>
        <script src="{% static "crm/vendors/chosen/chosen.jquery.min.js" %}"></script>
        <script src="{% static "crm/vendors/bootstrap-growl/bootstrap-growl.js" %}"></script>
        <script src="{% static "crm/vendors/sweet-alert/sweet-alert.js" %}"></script>
        <script src="{% static "crm/vendors/fileinput/fileinput.min.js" %}"></script>
        <script src="{% static "crm/vendors/summernote/summernote.min.js" %}"></script>

        <script src="{% static "crm/common/js/functions.js" %}"></script>
        <script>
            $(document).change(function(){
                $('#id_ailment_date').datetimepicker({format: "DD/MM/YYYY"});
                $('#id_admission_date').datetimepicker({format: "DD/MM/YYYY"});
                $('#id_discharge_date').datetimepicker({format: "DD/MM/YYYY"});
            });
            var USER_ROLE = "{{user_role}}".toUpperCase();
        </script>
        {% block footer_css %} {% endblock footer_css %}
        {% block footer_js %} {% endblock footer_js %}
    </body>
</html>
