{% load  static %}
<!DOCTYPE html>
    <!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Jarvis Admin{% endblock %}</title>

        <!-- Vendor CSS -->
        <link href="{% static "crm/vendors/animate-css/animate.css" %}" rel="stylesheet">
        <link href="{% static "crm/vendors/sweet-alert/sweet-alert.css" %}" rel="stylesheet">
        <link href="{% static "crm/vendors/material-icons/material-design-iconic-font.css" %}" rel="stylesheet">
        <link href="{% static "crm/vendors/socicon/socicon.css" %}" rel="stylesheet">

        <!-- CSS -->
        <link href="{% static "crm/material/css/bootstrap-app.css" %}" rel="stylesheet">

        <link rel="shortcut icon" href="{% static "crm/common/img/favicon.ico" %}" type="image/x-icon" />
    </head>

    <body class="{% block body_class %}login-content{% endblock body_class%}">
        {% block main %}
        {% endblock main %}

        <!-- Javascript Libraries -->
        <script src="{% static "crm/jquery-2.1.4.min.js" %}"></script>
        <script src="{% static "crm/bootstrap-3.3.4/js/bootstrap.js" %}"></script>
        <script src="{% static "crm/vendors/waves/waves.js" %}"></script>

        <script src="{% static "crm/common/js/functions.js" %}"></script>

    </body>
</html>
