{% extends "crm/base_logged.html" %}
{% load static %}
{% load json_filters %}

{% block header_css %}
    <link href="{% static "alfred/css/style.css" %}" rel="stylesheet">
{% endblock header_css %}

{% block header_js %}
    {% if DEBUG %}
        <script type="text/javascript" src="{% static "crm/common/js/ameyo-integration.js" %}"></script>
    {% else %}
        <script type="text/javascript" src="http://192.168.2.100:8888/ameyowebaccess/en/js/ameyo-integration.js"></script>
    {% endif %}
{% endblock header_js %}

<script type="text/html" id='person-template'>
    {% include "crm/ko/person.html" %}
</script>

{% block main %}
    <header id="header">
        <ul class="header-inner">
            <li class="logo hidden-xs">
            <a href="#"><i class="cf-logo"></i></a>
            </li>

            <li class="pull-right">
                <ul class="top-menu">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="tm-settings" href=""></a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            <li>
                            <a data-action="fullscreen" href=""><i class="md md-fullscreen"></i> Toggle Fullscreen</a>
                            </li>
                            <li>
                            <a href="/accounts/logout/"><i class="md md-settings"></i>Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <div class="container">
        <section id="main">
            <section id="content">
                <div class="block-header">
                    <h2>Manager Dashboard</h2>
                </div>
                <div role="tabpanel">
                    <ul class="tab-nav master-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
                        <li  data-bind="css: { 'active': route().page == 'dashboard'}">
                            <a href="#dashboard" aria-controls="dashboard">Dashboard</a>
                        </li>
                        <li  data-bind="css: { 'active': route().page == 'ticket-list'}">
                            <a href="#ticket-list" aria-controls="ticket-section">Tickets</a>
                        </li>
                    </ul>
                    <div class="tab-content p-t-0">
                        <div id="page" data-bind="component: { name: route().page, params: route }"></div>
                    </div>
                </div>
            </section>
        </section>
    </div>
{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        var TICKET_NODE_URL = "{{TICKET_NODE_URL}}";
        var CSRF_MIDDLEWARE_TOKEN = "{{ csrf_token }}";

        var CREATE_TICKET_FORM_URL = "{% url 'create_ticket' %}";
        var POLICY_SEARCH_FORM_URL = "{% url 'get_policy_search_form' %}";
        var TICKET_SEARCH_FORM_URL = "{% url 'get_ticket_search_form' %}";

        var user_id = "{{request.user.id}}";
        var USERNAME = "{{request.user.username}}";
        var ADVISORS_LIST = {{advisors_list|safe}};
        var channels = {{request.user.channels|jsonify|safe}};
    </script>
    {% for key, asset in ALFRED_WP_ASSETS.items %}
        {% with 'crm/build/'|add:asset as asset_path %}
            <script type="text/javascript" src="{% static asset_path %}"></script>
        {% endwith %}
    {% endfor %}
{% endblock footer_js %}
