<section data-cms-attr="class:boxClass" class="block blog-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-offset-2 col-md-offset-2 col-md-8 col-sm-8">
                <div class="content-card">
                    <div class="card-body center">
                        <div class="card-article-header">
                            <h2 data-cms-content='title'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, dolorem, cupiditate. </h2>
                            <div class="article-author"><h4 data-cms-content='subtitle'>Lorem ipsum dolor sit amet.</h4></div>
                        </div>
                        <div class="card-widget social-widget">
                            <ul class="social-icons-numbers">
                                <li>
                                    <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
                                </li>
                                <li>
                                    <a class="twitter-share-button"
                                    href=""
                                    data-counturl=""></a>
                                </li>
                                <li>
                                   <div class="g-plusone" data-size="medium"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
