<section data-cms-attr="class:boxClass" class="author-wrapper">
    <img alt="" data-cms-attr='src:authorimage_url' src="{{STATIC_URL}}img/cms/authors/shilpi.png">
    <div class="author-wrapper__header" data-cms-content="md:authorheader">Written by Author Test</div>
    <span data-cms-content="md:authortext">A romantic at heart and pragmatist out of necessity, Shilpi loves ideas, opinions, life in motion, dance, cinema and staring out of the window.  She is also a content writer at Coverfox.
    </span>
</section>

