<section data-cms-attr="class:boxClass" class="block blog-section boxed dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-offset-1 col-md-offset-1 col-md-10 col-sm-10">
                <div class="form-container">
                    <h2 data-cms-content='title'>Title of the section</h2>
                    <h4 data-cms-content='subtitle'>Subtitle of the section</h4>
                    <div class="single-field-container">
                        <form class='phone-number-form'>
                        <input name='phone' type="number" placeholder="10 digit phone number" />
                        <button type="submit" data-cms-attr="class:ctaclass" data-cms-content="ctatext" class='btn btn--orange'  >Schedule a call</button>
                        <p class="fs err">Please enter a valid phone number</p>
                        <p class="fs success">Thanks! We will get back to you soon.</p>
                        <p class='fxs' data-cms-content='dnd'>{{ settings.DND_MSG }}</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>