<section data-cms-attr="class:boxClass" class="block blog-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-offset-2 col-md-offset-2 col-md-8 col-sm-8">
                <div class="content-card">
                    <div class="card-body center">
                        <div class="card-article-header">
                            <h2 data-cms-content='title'>Let's stay connected!</h2>
                            <div class="article-author"><h4 data-cms-content='subtitle'>Follow us on social media</h4></div>
                        </div>
                        <div class="card-widget">
                            <ul class="social-icons">
                                <li><a target="_blank" data-cms-attr="class:ctaclass" href="https://www.facebook.com/Coverfox.Insurance/"><img src="{{STATIC_URL}}articles/img/facebook-icon.png" alt="Follow us on Facebook"></a></li>
                                <li><a target="_blank" data-cms-attr="class:ctaclass" href="https://twitter.com/coverfox"><img src="{{STATIC_URL}}articles/img/twitter-icon.png" alt="Follow us on Twitter"></a></li>
                                <li><a target="_blank" data-cms-attr="class:ctaclass" href="https://plus.google.com/+Coverfox/videos"><img src="{{STATIC_URL}}articles/img/gplus-icon.png" alt="Follow us on Google Plus"></a></li>
                                <li><a target="_blank" data-cms-attr="class:ctaclass" href="https://www.linkedin.com/company/coverfox-insurance"><img src="{{STATIC_URL}}articles/img/linkedin-icon.png" alt="Follow us on LinkedIn"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>