<section data-cms-attr="class:boxClass" class="block blog-section eight-four-column boxed">
    <div class="container-fluid">
         <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="content-card">
                    <div class="card-body">
                        <div class="card-article-header">
                            <h2 data-cms-content='title'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, dolorem, cupiditate. </h2>
                            <div class="article-author" data-cms-content='md:content'><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, ullam illo nesciunt nostrum omnis </h4></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <img alt="image title" data-cms-attr='src:image_url' src="{{STATIC_URL}}img/sample-1.jpg" />
            </div>
        </div>
    </div>
</section>
