<section data-cms-attr="class:boxClass" class="block blog-section full-width-image">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <img alt="image title" data-cms-attr='src:image_url' src="{{STATIC_URL}}img/sample-1.jpg">
            </div>
        </div>
    </div>
</section>