{% extends "base_admin.html" %}

{% load i18n %}
{% load manip_data tagging_tags  %}
{% load compress %}

{% block breadcrumb %}
    <div class="cover breadcrumb">
        <div class="container">
            <a href="/">Coverfox</a> / Adgroup List
        </div><!--/.container -->
    </div><!--/.breadcrumb -->
{% endblock %}
{%block main%}
    <div class="container">
        <div class="row-fluid area">
            <div class="span5">
                <a href="#" class="btn btn-default btn-warning btn-small" id="add_ad_group">Add AdGroup</a>
                <ul class="nav nav-list well">
                    {% for adg in ad_group_list %}
                    <li class='clearfix'>
                        <a href="#" class="adg pull-left" id="adg_{{adg.id}}"><strong>{{adg.title}}</strong></a>
                        <a class="add_keyword pull-right btn-mini btn-info" id="adgkeyword_{{adg.id}}" href="#">Add Keyword</a>
                    </li>
                    <li>
                        <ul class="nav nav-list">
                            {%for keyword in adg.keyword_set.all%}
                            <li>
                                <a class="edit_keyword" id="adgkeyword_{{adg.id}}_{{keyword.id}}" href='#'>{{keyword.title}}</a>
                            </li>
                            {%endfor%}
                        </ul>
                    </li>
                    <li class="divider"></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="span7">
                <div class="row-fluid">
                    <div class="span6 area">
                        <form id="ad_group_form" method="POST" action="">
                            {%csrf_token%}
                            <div id="ad_group_form_content">
                            </div>
                            <button id="submit_ad_group_form" class="btn btn-info">Submit</button>
                        </form>
                    </div>
                    <div class="span6 area">
                        <form id="keyword_form" method="POST" action="">
                            {%csrf_token%}
                            <div id="keyword_form_content">
                            </div>
                            <button id="submit_keyword_form" class="btn btn-info">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}

{% block footer %}
{% endblock footer %}

{% block footer_js_css %}

<script src="{{STATIC_URL}}js/jquery.form.js"></script>
<script src="{{STATIC_URL}}js/jquery.slugify.js"></script>
<script src="{{STATIC_URL}}js/jquery.tagsinput.js"></script>

<link href="{{STATIC_URL}}css/ui-lightness/jquery-ui-1.8.17.custom.css" rel="stylesheet">
<style>
.active, .active:hover {
    background-color:#49afcd!important;
    color:white!important;
}
</style>

<script type="text/javascript">
    $(document).ready(function(){
        $('.edit_keyword').click(function(){
            $('.edit_keyword').removeClass('active');
            $(this).addClass('active');
            var adpid = $(this).attr("id").split('_')[1];
            var kpid = $(this).attr("id").split('_')[2];
            var purl = "{%url 'ajax_keyword_edit' '11111111' '22222222' %}";
            purl = purl.replace('11111111', adpid);
            purl = purl.replace('22222222', kpid);
            $.get(purl, function(data){
                $('#keyword_form').attr('action', purl);
                $('#keyword_form_content').html(data.form);
            },'json');
        });

        $('.add_keyword').click(function(){
            var pid = $(this).attr("id").split('_')[1];
            var purl = "{%url 'ajax_keyword_add' '11111111' %}";
            purl = purl.replace('11111111', pid);
            $.get(purl, function(data){
                $('#keyword_form').attr('action', purl);
                $('#keyword_form_content').html(data.form);
            },'json');
        });

        $("#keyword_form").ajaxForm({
            success : function (data) {
                fdata = JSON.parse(data);
                if(fdata.success){
                    location.reload();
                } else {
                    $('#keyword_form .field_error').html("").removeClass('error');
                    $.each(fdata.errors, function(k,v){
                        $("#keyword_form #id_"+k+"_cerror").html(v.join(","));
                        $("#keyword_form #id_"+k+"_celement").removeClass('error').addClass('error')
                    })
                }
            },
        });

        $(".adg").click(function(){
            $('.adg').removeClass('active');
            $(this).addClass('active');
            var pid = $(this).attr('id').split("_")[1];
            var purl = "{%url 'ajax_ad_group_edit' '11111111' %}";
            purl = purl.replace('11111111', pid);
            $.get(purl, function(data){
                $('#ad_group_form').attr('action', purl);
                $('#ad_group_form_content').html(data.form);
            },'json');
        });


        $('#add_ad_group').click(function(){
            $.get("{%url 'ajax_ad_group_add' %}", function(data){
                $('#ad_group_form').attr('action', "{%url 'ajax_ad_group_add'%}");
                $('#ad_group_form_content').html(data.form);
            },'json');
        });

        $("#ad_group_form").ajaxForm({
            success : function (data) {
                fdata = JSON.parse(data);
                if(fdata.success){
                    location.reload();
                } else {
                    $('#keyword_form .field_error').html("").removeClass('error');
                    $.each(fdata.errors, function(k,v){
                        $("#ad_group_form #id_"+k+"_cerror").html(v.join(","));
                        $("#ad_group_form #id_"+k+"_celement").removeClass('error').addClass('error')
                    })
                }
            },
        });
    });
</script>
{%endblock%}
