{% extends "flatpages:base.html" %}
{% block css %}
  <link href="{{ cdn_static_path }}flatpages/css/health-tool.css" rel="stylesheet">
{% endblock css %}
{% block extended_header %}<title>Landing Pages List - Coverfox.com</title>{% endblock extended_header %}
{% block pageheader %}
{% endblock pageheader %}

{% block content %}
	
<div class="container">
	<div class="row">
		{%for prod, lp in lps.iteritems %}
			<div class="col-md-12 text-center" > <h2>{{prod}}</h2></div>
				{% for l in lp %}				
					<div class="col-md-4 col-md-offset-2">{{l.name}}</div>
					<div class="col-md-6"><a href='{% url "campaign:"|add:prod|add:"_lp" l.slug %}'>{{ settings.SITE_URL }}{% url "campaign:"|add:prod|add:"_lp" l.slug %}</a></div>
				{% endfor %}
		{%endfor%}
		  
  </div>	
</div>
{% endblock content %}
