{% extends 'base_admin.html' %}
{% block main %}
<div class="container" style="margin: 20px 0px 10px 8px">
    <form class="form-inline" action="." method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="Search for AdCopy Id" name="adcopy_id">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Go!</button>
                </span>
            </div>
        </div>
    </form>
    <a href="{% url 'sem_adcopy_upload' %}" style="float: right; margin: -15px 0px 0px 0px;">Bulk Upload Adcopy Data</a>
</div>
{% if initial %}
    <h1>Total Adcopies: {{ total_adcopies }}</h1>
    <h1>Live Adcopies: {{ live_adcopies }}</h1>
{% endif %}
{% if success %}
    <div class="table-responsive">
        <table class="table table-bordered table-condensed">
            <tr>
                <th rowspan="2">Adcopy Id</th>
                <th rowspan="2">Page Title</th>
                <th colspan="3">Main Body</th>
                <th colspan="4">Form</th>
            </tr>
            <tr>
                <th>Heading</th>
                <th>Sub Heading</th>
                <th>Points</th>
                <th>Heading</th>
                <th>Sub Heading</th>
                <th>Button Text</th>
                <th>Closure Text</th>
            </tr>
                <tr data-toggle="modal" data-target="#adcopy_edit_form" style="cursor: pointer">
                <td>{{ main_adcopy.creative_id }}</td>
                <td>{{ main_adcopy.data.page_title }}</td>
                <td>{{ main_adcopy.data.main_body.heading }}</td>
                <td>{{ main_adcopy.data.main_body.sub_heading }}</td>
                <td><ul>{% for point in main_adcopy.data.main_body.points %}
                    <li>{{ point }}</li>
                {% endfor %}
                </ul></td>
                <td>{{ main_adcopy.data.form.heading }}</td>
                <td>{{ main_adcopy.data.form.sub_heading }}</td>
                <td>{{ main_adcopy.data.form.button_text }}</td>
                <td>{{ main_adcopy.data.form.closure_text }}</td>
            </tr>
            {% if similar_adcopies %}
                <tr class="danger">
                    <th colspan="9">
                        Found Similar Entries in the Following Adcopies
                    </th>
                </tr>
                {% for adcopy in similar_adcopies %}
                    <tr>
                        <td>{{ adcopy.creative_id }}</td>
                        <td>{{ adcopy.data.page_title }}</td>
                        <td>{{ adcopy.data.main_body.heading }}</td>
                        <td>{{ adcopy.data.main_body.sub_heading }}</td>
                        <td><ul>{% for point in adcopy.data.main_body.points %}
                            <li>{{ point }}</li>
                        {% endfor %}
                        </ul></td>
                        <td>{{ adcopy.data.form.heading }}</td>
                        <td>{{ adcopy.data.form.sub_heading }}</td>
                        <td>{{ adcopy.data.form.button_text }}</td>
                        <td>{{ adcopy.data.form.closure_text }}</td>
                    </tr>
                {% endfor %}

            {% endif %}
        </table>
    </div>
    <div id="adcopy_edit_form" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ main_adcopy.creative_id }}</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" method="post" action=".">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table class="table" style="border: none">
                                {{ edit_form.as_table }}
                            </table>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    {% if similar_adcopies %}
                        <div class="checkbox">
                            <label style="text-align: left">
                                <input type="checkbox" id="update_all" checked>
                                Update all
                            </label>
                        </div>
                        {% for adcopy in similar_adcopies %}
                            <div class="checkbox">
                                <label style="text-align: left">
                                    <input type="checkbox" name="similar_adcopy_{{ forloop.counter }}" value="{{ adcopy.creative_id }}" checked>
                                    {{ adcopy.creative_id }}
                                </label>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <input name="main_adcopy" type="hidden" value="{{ main_adcopy.creative_id }}">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
{% elif not initial %}
    <h4>{{ reason }}</h4>
{% endif %}

{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        $('#update_all').click(function(event) {
            var status = this.checked;
            $(':checkbox').each(function(){
                this.checked = status;
            });
        })
    </script>
{% endblock %}