<script type="text/html" id="stage_7">
    <div id='slate_7' class="buy-process" data-bind="visible: $root.active_stage() == 7">
        <div id="summary-wrapper" data-bind="foreach: $root.transaction_model().stages().slice(0,$root.transaction_model().stages().length-1)">
            <div class="summary-stage">
                <div class="title">
                    <h3 data-bind="text: $root.transaction_model().slates()[$index()].name"></h3>
                    <span class="btn btn-blu" data-bind="click: $root.goto_stage.bind($data,$index()+1)">EDIT</span>
                </div>

                <!--STAGE 1 -->
                <div class="stage-body" data-bind="if:$index()==0">
                    <div data-bind="foreach: segments()">
                        <div data-bind="foreach: rows()">
                            <div data-bind="foreach: elements()">
                                <div data-bind="css:'col-sm-'+data.span" class="summary-row">
                                    <div data-bind="text: data.label" class="summary-label"></div>
                                    <div class="summary-field" data-bind="text: display_value"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--STAGE 1 -->

                <!--STAGE 2 & 3 -->
                <div class="stage-body" data-bind="if:$index()==1 || $index()==2">
                    <div data-bind="foreach: segments()">
                        <div class="row mnone">
                            <div class="col-md-2 legend">
                                <span data-bind="text: details().verbose"></span>
                            </div>
                            <div class="col-md-10 pnone">
                                <div data-bind="foreach: rows()">
                                    <div data-bind="foreach: elements()" class="summary-row">
                                        <div data-bind="css:'col-sm-'+data.span">
                                            <div data-bind="if : field_type() != 'TwoDropDownField'">
                                                <div data-bind="text: data.label" class="summary-label"></div>
                                                <div class="summary-field" data-bind="text: display_value"></div>
                                            </div>
                                            <div data-bind="if : field_type() == 'TwoDropDownField'">
                                                <div data-bind="text: data.label" class="summary-label"></div>
                                                <div class="summary-field" data-bind="text: display_value1()+' '+display_value2()"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div>
                </div><!--STAGE 2 & 3 -->

                <!--STAGE 4 -->
                <div class="stage-body" data-bind="if:$index()==3">
                    <div data-bind="foreach: segments()" class="row mnone">
                        <div data-bind="if : tag() == 'address' " class="col-sm-6 add-border">
                            <h3><img src="/static/health_product/img/new_buy/mail.png"/>&nbsp;&nbsp;Mailing Address</h3>
                            <div data-bind="foreach: rows">
                                <div class="row pl-lg">
                                    <div data-bind="foreach: elements">
                                        <div data-bind="if : field_type() != 'TwoDropDownDependantField'">
                                            <div data-bind="css:'col-sm-'+data.span" class="summary-row">
                                                <div data-bind="text: data.label" class="summary-label"></div>
                                                <div class="summary-field" data-bind="text: display_value"></div>
                                            </div>
                                        </div>
                                        <div data-bind="if : field_type() == 'TwoDropDownDependantField'">
                                            <div data-bind="css:'col-sm-'+Math.floor(data.span/2)" class="summary-row">
                                                <div data-bind="text: data.main_label" class="summary-label"></div>
                                                <div class="summary-field" data-bind="text: display_value1()"></div>
                                            </div>
                                            <div data-bind="css:'col-sm-'+Math.floor(data.span/2)" class="summary-row">
                                                <div data-bind="text: data.dep_label" class="summary-label"></div>
                                                <div class="summary-field" data-bind="text: display_value2()"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- row -->
                            </div> <!-- foreach row-->
                        </div> <!-- tag address -->

                        <div data-bind="if : tag() == 'contact' " class="col-sm-6">
                            <h3><img src="/static/health_product/img/new_buy/phone.png"/>&nbsp;&nbsp;Contact details</h3>
                            <div data-bind="foreach: rows">
                                <div class="row pl-lg">
                                    <div data-bind="foreach: elements()">
                                        <div data-bind="css:'col-sm-'+data.span" class="summary-row">
                                            <div data-bind="text: data.label" class="summary-label"></div>
                                            <div data-bind="if : field_type() != 'MobileField' && field_type() != 'LandlineField'">
                                                <span class="summary-field" data-bind="text:display_value"></span>
                                            </div>
                                            <div data-bind="if: field_type() == 'MobileField' ">
                                                <span class="summary-field" data-bind="text:'+91-'+display_value()"></span>
                                            </div>
                                            <div data-bind="if: field_type() == 'LandlineField' ">
                                                <span class="summary-field" data-bind="text:std_code()+'-'+landline()"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-bind="foreach: elements" class="summary-row">
                                    </div>
                                </div> <!-- row -->
                            </div>
                        </div> <!-- tag contact -->
                    </div>
                </div> <!-- STAGE 4 -->

                <!--STAGE 5 -->
                <div class="stage-body" data-bind="if:$index()==4">
                    <div data-bind="foreach: segments" style="margin-top: 40px;">
                        <div data-bind="if: details().conditional == 'NO'">
                            <div class="row conditional-question">
                                <div class="col-md-4 pnone">
                                    <div class="quest-pad">
                                        <span class="q-point">Q</span>
                                        <span data-bind="text: details().question_text"></span>
                                        <div data-bind="if: details().help_text">
                                            <span class="text-muted" style="font-size: 12px;" data-bind="text: details().help_text"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 pnone" data-bind="foreach: rows">
                                    <div data-bind="foreach: elements">
                                        <div class="col-sm-4">
                                            <div data-bind="if: $parents[1].details().show_header || true">
                                                <div class="member" data-bind="text: $root.insured_members.items()[$index()].value"></div>
                                            </div>
                                            <div class="summary-field">
                                                <span data-bind="text: value"></span>
                                            </div>
                                        </div>
                                    </div> <!-- elements -->
                                </div><!--rows -->
                            </div>
                        </div>
                        <div data-bind="if: details().conditional == 'YES'">
                            <div data-bind="if: show_header()" style="color: #1864ab;">
                                <div class="row conditional-question">
                                    <div class="col-sm-4 pnone">
                                        <div class="quest-pad">
                                            <span data-bind="text: details().question_text"></span>
                                            <div data-bind="if: details().help_text">
                                                <span class="text-muted" style="font-size: 12px;" data-bind="text: details().help_text"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 pnone" data-bind="foreach: rows">
                                        <div data-bind="foreach: elements">
                                            <div class="col-sm-4">
                                                <div data-bind="if: $parents[1].details().show_header || true">
                                                        <div class="member" data-bind="text: $root.insured_members.items()[$index()].value"></div>
                                                </div>
                                                <div class="summary-field">
                                                    <span data-bind="text: value"></span>
                                                </div>
                                            </div>
                                        </div> <!-- elements -->
                                    </div><!--rows -->
                                </div>
                            </div>
                        </div>

                    </div><!-- segments -->
                </div> <!-- STAGE 5 -->

                <!--STAGE 6 -->
                <div class="stage-body" data-bind="if:$index()==5">
                    <div data-bind="foreach: segments" style="margin-top: 40px;">
                        <div data-bind="foreach: rows">
                            <div class="row conditional-question">
                                <div data-bind="foreach: elements">
                                    <div class="row mnone qstn">
                                        <div class="quest-pad col-sm-10" style="margin-bottom:10px;">
                                            <span class="q-point">Q</span>
                                            <span data-bind="html: data.label"></span>
                                        </div>
                                        <div class="quest-pad col-sm-5">
                                            <strong class="summary-field" data-bind="text: value"></strong>
                                        </div>
                                    </div>
                                </div> <!-- elements -->
                            </div><!--question row -->
                        </div><!--rows -->
                    </div><!-- segments -->

                    <!-- Previous Policy Details-->
                    <div class="previous_policy_details" style="margin-bottom: 50px;" data-bind="if: $root.stage_6.check_dict.get('existing_insurance') ">
                        <div data-bind="foreach: existingPolicies">
                            <div class="row mnone">
                                <div class="col-sm-6 col-md-5">
                                    <div>Policyholder Name/ Policy No/ Application No</div>
                                    <div class="summary-field" data-bind="text: policy_no"></div>
                                </div>
                                <div class="col-sm-6 col-md-5">
                                    <div>Insurer</div>
                                    <div class="summary-field" data-bind="text: insurer"></div>
                                </div>
                            </div>
                            <div class="row mnone">
                                <div class="col-sm-6 col-md-5">
                                    <div>Period of Insurance - From Date</div>
                                    <div class="summary-field" data-bind="text: start_date"></div>
                                </div>
                                <div class="col-sm-6 col-md-5">
                                    <div>Period of Insurance - To Date</div>
                                    <div class="summary-field" data-bind="text: end_date"></div>
                                </div>
                            </div><!-- row-->
                            <div class="row mnone">
                                <div class="col-md-6 clearfix pnone">
                                    <div class="col-sm-6">
                                        <div>Sum Insured (Rs)</div>
                                        <div class="summary-field" data-bind="text: sum_insured"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>Cumulative Bonus(CB) %</div>
                                        <div class="summary-field" data-bind="text: cumulative_bonus "></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>Any claims lodged during the preceding 3 years?</div>
                                    <div class="summary-field" data-bind="text:claims"></div>
                                </div>
                            </div><!-- row-->
                            <div style="border-bottom: 1px solid rgba(0,0,0,0.05);margin: 20px 0px 10px;"></div>
                        </div>
                    </div><!-- Previous Policy Details-->
                </div><!-- stage 6 -->
            </div>
        </div>

        <div data-bind="if: $root.transaction_model().current_stage().description()">
            <div class="define">
                <img src="/static/health_product/img/new_buy/info.png"/>
                &nbsp;&nbsp;<span data-bind="text: $root.transaction_model().current_stage().description()"></span>
            </div>
        </div>
        <div data-bind="foreach: segments">
            <div data-bind="foreach: rows">
                <div class="row mnone">
                    <div class="col-sm-12">
                        <div class="agree-box">
                            <div data-bind="foreach: elements">
                                <div data-bind="if : field_type() == 'CharField' || field_type() == 'StrictCharField' || field_type() == 'IntegerField'">
                                    <div data-bind="FreeField: $data"></div>
                                </div>
                                <div data-bind="if: field_type() == 'DateField' ">
                                    <div data-bind="DateField: $data"></div>
                                </div>
                                <div data-bind="if : field_type() == 'DropDownField'">
                                    <div data-bind="DropDownField: $data"></div>
                                </div>
                                <div data-bind="if : field_type() == 'TextField'">
                                    <div data-bind="TextField: $data"></div>
                                </div>
                                <div data-bind="if : field_type() == 'TwoDropDownField'">
                                    <div data-bind="TwoDropDownField: $data"></div>
                                </div>
                                <div data-bind="if : field_type() == 'MultipleChoiceField'">
                                    <div data-bind="MultipleChoiceField: $data"></div>
                                </div>
                                <div data-bind="if : field_type() == 'MultipleAnswerField'">
                                    <div data-bind="MultipleAnswerField: $data"></div>
                                </div>
                            </div> <!-- elements -->
                        </div><!--agree box -->
                    </div><!--col-sm-12 -->
                </div><!--row mnone -->
            </div><!--rows -->
        </div><!-- segments -->
    </div>
</script>