@motorBaseColor: #44C0FF;


.cubic-trans {
  -moz-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -webkit-transition: all .3s cubic-bezier(0.4,0,.2,1);
  -o-transition: all .3s cubic-bezier(0.4,0,.2,1);
  transition: all .3s cubic-bezier(0.4,0,.2,1);
}

body{
  color:#314451;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6{
  color:#314451;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}

.top-bar-wrapper {
  border-bottom: 1px solid rgba(49, 68, 81, 0.15);
  padding: 0 30px 15px 30px;
  position: relative;
  z-index: 100;
  background: #f7fafc;
  ul {
    list-style-type: none;
    padding: 0;
    padding-top: 20px;
    & li {
      display: inline-block;
      vertical-align: middle;
      &.logo img {
        max-width: 180px;
      }
      &.irda-tag {
        padding-left: 20px;
        vertical-align: bottom;
        line-height: 120%;
        margin-bottom: -1px;
      }
    }
  }
}
.expiry-step {
  padding-top: 30px;
  padding-bottom: 30px;
  h1 {
    font-size: 28px;
    line-height: 110%;
    letter-spacing: 1px;
    margin-top:0px;
    margin-bottom:30px;
    .small {
      font-size:16px;
      margin-top:10px;
    }
  }
  p.blue-header {
    color: #0093dd;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 16px;
    display: inline-block;
    line-height: 20px;
  }
  .step-content {
    padding:15px 20px;
    border: 1px solid rgba(49, 68, 81, 0.15);
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
    .option-list {
      border-bottom:2px solid #dddddd;
      position: relative;
      padding-bottom:10px;
      &:before {
        content:'';
        position: absolute;
        border-width:10px;
        border-style: solid;
        border-color:#dddddd transparent transparent transparent;
        left:50%;
        bottom:-20px;
        margin-left: -5px;
        display: block;
      }
      label {
        font-weight:400;
        display: block;
        margin-bottom:10px;
        font-size: 13px;
        &.active {
          font-weight: 700;
        }
      }
      input[type='radio'] {
        margin-right:5px;
      }
    }
    .document-option {
      opacity:0;
      visibility: hidden;
      overflow-y:hidden;
      padding:10px 0px;
      margin-top:10px;
      padding-left: 30px;
      position: absolute;
      top:0px;
      left:0px;
      .cubic-trans;
      &.reveal {
        opacity: 1;
        visibility: visible;
        overflow-y: visible;
        position: relative;
      }
      & img {
        position: absolute;
        display: block;
        left: -5px;
        top: 18px;
        width: 26px;
      }

    }
    h4.document-option {
      padding-top:20px;
    }
    h4 {
      font-size: 14px;
      line-height: 1.6em;
      & strong {
        letter-spacing: 2px;
        color:@motorBaseColor;
        margin-left:5px;
      }
    }
  }
  .step-header {
    background: #eaeef1;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
    padding: 10px 20px 1px;
    position:relative;
    .cubic-trans;
    div.linker {
      position: absolute;
      display: block;
      width: 70px;
      border-bottom: 2px dotted rgba(0,0,0,0.3);
      right: -50px;
      top: 30px;
      z-index: 10;
      & span {
        position: absolute;
        display: block;
        width:13px;
        height:13px;
        border: 2px solid rgba(0,0,0,0.3);
        top:50%;
        left:-13px;
        margin-top:-6px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.2) inset;
        -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.2) inset;
        box-shadow: 1px 2px 4px rgba(0,0,0,0.2) inset;
      }
    }
    h4 {
      color: #6D777C;
      background: rgba(140, 152, 158, 0.27);
      padding: 4px 10px 3px 10px;
      display: inline-block;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 14px;
      font-weight:700;
    }
    p {
      font-size:13px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .step:hover,.step.active {
    & .step-header {
      background-color: @motorBaseColor;
      color:#ffffff;
      h4 {
        background-color: #ffffff;
      }
      & .linker span {
        border-color:rgba(255,255,255,0.7);
      }
    }
    & .step-content {
      background-color: #f9f9f9;
      -webkit-box-shadow: 0px 7px 10px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 7px 10px rgba(0,0,0,0.1);
      box-shadow: 0px 7px 10px rgba(0,0,0,0.1);
    }
  }
  .cf-input {
    display: block;
    position: relative;
    margin-bottom:10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    .input-append {
      position: absolute;
      font-size: 14px;
      top: 9px;
      left: 10px;
      color: #363636;
    }
    select {
      border: 1px solid rgba(0,0,0,0.25);
      background-color: #ffffff;
      height: 33px;
      font-size: 14px;
      width: 100%;
    }
  }
  .cf-input input[type='text'], .cf-input input[type='number'] {
    display: block;
    width: 100%;
    padding: 8px 10px;
    height: 37px;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    &:hover,&:active,&:focus {
      outline: none;
    }
  }
  input.number-input {
    padding-left: 40px !important;
  }
  .special-label {
    color: #363636;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 13px;
    display: block;
    font-weight:700;
  }
  .special-row {
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 10px;
    & .col-md-4, & .col-md-6, & .col-md-3 {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .error-text {
    color: #E00000;
    display: none;
    font-size: 12px;
    margin-top:5px;
  }
  .radio-inline {
    display: inline-block;
    font-weight: normal;
    color: #999999;
    padding: 5px 10px 5px 0px;
    &.active {
      color: #363636;
      font-weight: bold;
    }
  }

  .cf-file {
    display: block;
    border: 1px dotted #dadada;
    width: 100%;
    padding: 5px;
    margin: 5px 0px;
  }
}

.btn-cfox {
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.05)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.05));
  background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.05));
  background: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.05));
  background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.05));
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.2);
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.2);
  box-shadow: 1px 2px 3px rgba(0,0,0,.2);
  letter-spacing: 2px;
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  //height: 42px;
  cursor: pointer;
  &:hover,&:focus,&:active {
    color:#ffffff;
    text-decoration: none;
  }
  &.orange {
    background-color: #ff7b5e;
    border: 1px solid #ff512b;
  }
  &.blue {
    background-color: @motorBaseColor;
    border:1px solid darken(@motorBaseColor, 10%);
  }
  &.btn-next {
    font-size:20px;
    display: inline-block;
    height: 57px;
    position: relative;
    padding:13px 30px;
    margin-top:15px;
  }
  & img {
    width: 12px;
    margin-top: -2px;
  }
  &.btn-block {
    text-align: center;
    display: block;
    width:100%;
    height:auto;
  }
  &[disabled='disabled'] {
    background-color: #999999;
    border-color: rgba(0,0,0,0.2);
  }
}
.cf-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(10, 37, 77, 0.68);
  z-index: 300;
  padding:0px 20px;
  display: none;
  &.reveal {
    display: block;
  }
  .cf-content {
    background-color: #ffffff;
    padding: 15px 30px;
    max-width: 550px;
    border-radius: 3px;
    line-height: 1.7em;
    font-size: 16px;
    margin: 100px auto;
  }
}

/* small screen optimisation */

@media screen and (min-width: 200px) and (max-width: 991px) {
 .expiry-step .step-header div.linker {
   display: none;
 }
}
@media screen and (min-width: 200px) and (max-width: 767px) {
 .top-bar-wrapper {
   padding-left:0px;
   padding-bottom:0px;
   & ul {
     padding-top:10px;
     & li.logo img {
       max-width: 130px;
     }
   }
 }
 .expiry-step {
   h1 {
     font-size:20px;
   }
   p.blue-header {
     font-size:14px;
   }
 }
}
