.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  color: #314451;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #314451;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
}
.top-bar-wrapper {
  border-bottom: 1px solid rgba(49, 68, 81, 0.15);
  padding: 0 30px 15px 30px;
  position: relative;
  z-index: 100;
  background: #f7fafc;
}
.top-bar-wrapper ul {
  list-style-type: none;
  padding: 0;
  padding-top: 20px;
}
.top-bar-wrapper ul li {
  display: inline-block;
  vertical-align: middle;
}
.top-bar-wrapper ul li.logo img {
  max-width: 180px;
}
.top-bar-wrapper ul li.irda-tag {
  padding-left: 20px;
  vertical-align: bottom;
  line-height: 120%;
  margin-bottom: -1px;
}
.expiry-step {
  padding-top: 30px;
  padding-bottom: 30px;
}
.expiry-step h1 {
  font-size: 28px;
  line-height: 110%;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.expiry-step h1 .small {
  font-size: 16px;
  margin-top: 10px;
}
.expiry-step p.blue-header {
  color: #0093dd;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  display: inline-block;
  line-height: 20px;
}
.expiry-step .step-content {
  padding: 15px 20px;
  border: 1px solid rgba(49, 68, 81, 0.15);
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}
.expiry-step .step-content .option-list {
  border-bottom: 2px solid #dddddd;
  position: relative;
  padding-bottom: 10px;
}
.expiry-step .step-content .option-list:before {
  content: '';
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: #dddddd transparent transparent transparent;
  left: 50%;
  bottom: -20px;
  margin-left: -5px;
  display: block;
}
.expiry-step .step-content .option-list label {
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
}
.expiry-step .step-content .option-list label.active {
  font-weight: 700;
}
.expiry-step .step-content .option-list input[type='radio'] {
  margin-right: 5px;
}
.expiry-step .step-content .document-option {
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  padding: 10px 0px;
  margin-top: 10px;
  padding-left: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.expiry-step .step-content .document-option.reveal {
  opacity: 1;
  visibility: visible;
  overflow-y: visible;
  position: relative;
}
.expiry-step .step-content .document-option img {
  position: absolute;
  display: block;
  left: -5px;
  top: 18px;
  width: 26px;
}
.expiry-step .step-content h4.document-option {
  padding-top: 20px;
}
.expiry-step .step-content h4 {
  font-size: 14px;
  line-height: 1.6em;
}
.expiry-step .step-content h4 strong {
  letter-spacing: 2px;
  color: #44c0ff;
  margin-left: 5px;
}
.expiry-step .step-header {
  background: #eaeef1;
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  padding: 10px 20px 1px;
  position: relative;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.expiry-step .step-header div.linker {
  position: absolute;
  display: block;
  width: 70px;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.3);
  right: -50px;
  top: 30px;
  z-index: 10;
}
.expiry-step .step-header div.linker span {
  position: absolute;
  display: block;
  width: 13px;
  height: 13px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  top: 50%;
  left: -13px;
  margin-top: -6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2) inset;
}
.expiry-step .step-header h4 {
  color: #6D777C;
  background: rgba(140, 152, 158, 0.27);
  padding: 4px 10px 3px 10px;
  display: inline-block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 700;
}
.expiry-step .step-header p {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.expiry-step .step:hover .step-header,
.expiry-step .step.active .step-header {
  background-color: #44c0ff;
  color: #ffffff;
}
.expiry-step .step:hover .step-header h4,
.expiry-step .step.active .step-header h4 {
  background-color: #ffffff;
}
.expiry-step .step:hover .step-header .linker span,
.expiry-step .step.active .step-header .linker span {
  border-color: rgba(255, 255, 255, 0.7);
}
.expiry-step .step:hover .step-content,
.expiry-step .step.active .step-content {
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.1);
}
.expiry-step .cf-input {
  display: block;
  position: relative;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.expiry-step .cf-input .input-append {
  position: absolute;
  font-size: 14px;
  top: 9px;
  left: 10px;
  color: #363636;
}
.expiry-step .cf-input select {
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  height: 33px;
  font-size: 14px;
  width: 100%;
}
.expiry-step .cf-input input[type='text'],
.expiry-step .cf-input input[type='number'] {
  display: block;
  width: 100%;
  padding: 8px 10px;
  height: 37px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
}
.expiry-step .cf-input input[type='text']:hover,
.expiry-step .cf-input input[type='number']:hover,
.expiry-step .cf-input input[type='text']:active,
.expiry-step .cf-input input[type='number']:active,
.expiry-step .cf-input input[type='text']:focus,
.expiry-step .cf-input input[type='number']:focus {
  outline: none;
}
.expiry-step input.number-input {
  padding-left: 40px !important;
}
.expiry-step .special-label {
  color: #363636;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 13px;
  display: block;
  font-weight: 700;
}
.expiry-step .special-row {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 10px;
}
.expiry-step .special-row .col-md-4,
.expiry-step .special-row .col-md-6,
.expiry-step .special-row .col-md-3 {
  padding-left: 5px;
  padding-right: 5px;
}
.expiry-step .error-text {
  color: #E00000;
  display: none;
  font-size: 12px;
  margin-top: 5px;
}
.expiry-step .radio-inline {
  display: inline-block;
  font-weight: normal;
  color: #999999;
  padding: 5px 10px 5px 0px;
}
.expiry-step .radio-inline.active {
  color: #363636;
  font-weight: bold;
}
.expiry-step .cf-file {
  display: block;
  border: 1px dotted #dadada;
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
}
.btn-cfox {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.05)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  color: #fff;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  color: #ffffff;
  text-decoration: none;
}
.btn-cfox.orange {
  background-color: #ff7b5e;
  border: 1px solid #ff512b;
}
.btn-cfox.blue {
  background-color: #44c0ff;
  border: 1px solid #11afff;
}
.btn-cfox.btn-next {
  font-size: 20px;
  display: inline-block;
  height: 57px;
  position: relative;
  padding: 13px 30px;
  margin-top: 15px;
}
.btn-cfox img {
  width: 12px;
  margin-top: -2px;
}
.btn-cfox.btn-block {
  text-align: center;
  display: block;
  width: 100%;
  height: auto;
}
.btn-cfox[disabled='disabled'] {
  background-color: #999999;
  border-color: rgba(0, 0, 0, 0.2);
}
.cf-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(10, 37, 77, 0.68);
  z-index: 300;
  padding: 0px 20px;
  display: none;
}
.cf-modal.reveal {
  display: block;
}
.cf-modal .cf-content {
  background-color: #ffffff;
  padding: 15px 30px;
  max-width: 550px;
  border-radius: 3px;
  line-height: 1.7em;
  font-size: 16px;
  margin: 100px auto;
}
/* small screen optimisation */
@media screen and (min-width: 200px) and (max-width: 991px) {
  .expiry-step .step-header div.linker {
    display: none;
  }
}
@media screen and (min-width: 200px) and (max-width: 767px) {
  .top-bar-wrapper {
    padding-left: 0px;
    padding-bottom: 0px;
  }
  .top-bar-wrapper ul {
    padding-top: 10px;
  }
  .top-bar-wrapper ul li.logo img {
    max-width: 130px;
  }
  .expiry-step h1 {
    font-size: 20px;
  }
  .expiry-step p.blue-header {
    font-size: 14px;
  }
}
