header {
  display: none;
  visibility: hidden;
}
body {
  background-color: #efeff4;
}
.expiry-step {
  background-color: #efeff4;
}
.expiry-step h1 .small {
  line-height: 1.4em;
}
.expiry-step .step-header {
  background-color: #298cff;
}
.expiry-step .step-header p {
  color: #ffffff;
}
.expiry-step .step-header h4 {
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.27);
}
.expiry-step .step-content {
  background-color: #ffffff;
}
.expiry-step .step:hover .step-header,
.expiry-step .step:active .step-header {
  background-color: #0076ff;
}
.expiry-step .step:hover .step-header h4,
.expiry-step .step:active .step-header h4 {
  background-color: rgba(0, 0, 0, 0.27);
}
.btn-cfox.orange {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #0076ff;
  border: 1px solid #005ecc;
}
