/* General styles */
body {
	margin: 0;
	padding: 0;
	font: 80%/1.5 Arial,Helvetica,sans-serif;
	color: #111;
	background-color: #FFF;
}
a{
    outline:none;
}
h2 {
	margin: 0px;
	padding: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 200%;
	font-weight: normal;
	color: #FFF;
	background-color: #CCC;
	border-bottom: #BBB 2px solid;
}
p#copyright {
	margin: 20px 10px;
	font-size: 90%;
	color: #999;
}

/* Form styles */
div.form-container {
	margin: 10px;
	padding: 5px;
	background-color: #FFF;
}

p.legend {
	margin-bottom: 1em;
}
p.legend em {
	color: #C00;
	font-style: normal;
}

div.errors {
	margin: 0 0 10px 0;
	padding: 5px 10px;
	border: #FC6 1px solid;
	background-color: #FFC;
}
div.errors p {
	margin: 0;
}
div.errors p em {
	color: #C00;
	font-style: normal;
	font-weight: bold;
}
.errors{
    font-family:'andale mono','lucida console',monospace;
    font-size:1em;
    color:#FF0000;
}
div.errorfield{
	margin-left: 32%;
    font-size:10px;
    color:#FF0000;
    font-family:'andale mono','lucida console',monospace;
}

div.form-container form p {
	margin: 0;
}
div.form-container form p.note {
	margin-left: 24%;
	font-size: 90%;
	color: #333;
}
div.form-container div.fieldinfo {
	margin-left: 32%;
    padding:0px;
	font-size: 90%;
	color: #333;
}
div.form-container form fieldset {
	margin: 10px 0;
	padding: 10px;
	border: #4BB5C1 1px solid;
}
div.form-container form legend {
	font-weight: bold;
	color: #666;
}
div.form-container form fieldset div {
	padding: 0;
}
div.form-container div.blob label {
    float:none;
}
div.form-container label,
div.form-container span.label {
	width: 30%;
	display: block;
	float: left;
    color:#555555;
    font-weight:bold;
    line-height:1;
    margin:5px 10px 0 0;
    text-align:right;
    vertical-align:baseline;
}
div.form-container label.error,
div.form-container span.error {
	color: #C00;
}
div.form-container label em,
div.form-container span.label em {
	position: absolute;
	right: 0;
	font-size: 120%;
	font-style: normal;
	color: #C00;
}
div.form-container input.error {
	border-color: #C00;
	background-color: #FEF;
}
div.form-container input,
div.form-container textarea {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#FFFFFF none repeat scroll 0 0;
    border:2px solid #DDDDDD;
    padding:2px;
}
div.form-container input:focus,
div.form-container textarea:focus,
div.form-container input:hover,
div.form-container textarea:hover{
    border-color:#0A5861;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:medium;
}
div.form-container input.submit{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#999999 none repeat scroll 0 0;
    color:#FFFFFF;
    border:1px solid #DDDDDD;
    padding:2px;
}
div.form-container input.submit:focus,
div.form-container input.submit:hover{
    background:#222222 none repeat scroll 0 0;
    color:#FFFFFF;
}
div.form-container input {
    width:60%;
    font-size:18px;
}
div.form-container textarea{
    width:60%;
    height:100px;
}
div.form-container div.vsmall input ,
div.form-container span.vsmall input {
    width:10%;
}
div.form-container div.small input,
div.form-container span.small input {
    width:20%;
}
div.form-container div.medium input,
div.form-container span.medium input {
    width:30%;
}
div.form-container div.large input,
div.form-container span.large input {
    width:60%;
}
div.form-container div.controlset label,
div.form-container div.controlset input {
	display: inline;
	float: none;
}
div.form-container div.controlset div {
	margin-left: 170px;
}
div.form-container div.buttonrow {
}
div.form-container div.buttonrow input{
    width:25%;
}
.clearfix:after {
   clear : both;
   display : block;
   content : " ";
}
.status{
    background-color:#CC0000;
    color:#FFFFFF;
    margin:2px;
}
