@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{border:0;outline:none;font-size:100%;vertical-align:middle;background:transparent;margin:0;padding:0;}
input, form, textarea, select{resize:none;margin:0;padding:0}
*:focus{outline:none}
* { padding: 0; margin: 0; }
.clearfix:after {
  clear : both;
  display : block;
  content : " ";
}
