body {
    background: url("/static/img/lightpaperfibers.png");
}
.error, .errors, .red-color{
    color:red;
}

/**** tooltip ******/
a.rtooltip {outline:none; }
a.rtooltip strong {line-height:30px;}
a.rtooltip:hover {text-decoration:none;}
a.rtooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:30px; margin-left:-290px;
    width:300px; line-height:16px;
}
a.rtooltip:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;
}
a.rtooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}
/************/

div.user_details_holder {
    position: relative;
    margin: 15px 0;
    padding: 10px 10px 0 10px;
    /*background-color: #FFFFFF;*/
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;


    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
div.user_details_holder.taken {
    /*background-color:#CEDCE4;*/
    background: rgb(214,249,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(214,249,255,1) 0%, rgba(158,232,250,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,249,255,1)), color-stop(100%,rgba(158,232,250,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(214,249,255,1) 0%,rgba(158,232,250,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f9ff', endColorstr='#9ee8fa',GradientType=0 ); /* IE6-9 */
}
div.user_details_holder table th {
    color:#666666;
    text-transform:uppercase;
    font-size:11px;
}
div.user_details_holder h3 i.icon-user {
    vertical-align:baseline;
}
div.user_details_holder h3 small{
    font-size:11px;
    vertical-align:baseline;
}
div.user_details_holder h4, div.user_details_holder h3 {
    color: #0473A7;
}
div.user_details_holder h6.label {
    margin:2px auto;
    text-transform:uppercase;
    padding:2px 5px;
    color:#ffffff;
    border-radius:2px 2px;
}
div.user_details_holder h6.last_call {
    color:#00608D;
}
div.user_details_holder h6.next_call {
    color:#0473A7;
}
div.user_details_holder hr {
    border-style:dashed;
    margin-top:2px !important;
    margin-bottom:2px !important;
}
div.user_details_holder ul li {
    border-bottom:1px solid #d9d9d9;
    font-size:11px;
    padding-top:5px;
    color:#666666;
}
div.user_details_holder ul li:first-child {
    padding-top:0px;
}
div.user_details_holder ul li b{
    font-family:'Arial';
    font-size:10px;
}
div.user_details_holder.taken hr {
    border-top: 1px dashed white;
    border-top: 1px dashed #BDD1E2;
    border-bottom: 1px dashed #8AB1B4;
}
div.user_details_holder.taken table {
    border-color:#ffffff;
}
div.user_details_holder.taken table.table-striped tr:nth-child(even) {
    background-color:#f9f9f9!important;
}
div.user_details_holder.taken table.stripped tr:nth-child(odd) {
    background-color:#ffffff!important;
}
#take_notes {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    height: 19px;
    width: 85px;
    display:block;
    border-radius: 5px 5px 0 0;
    position:relative;
    top:47px;
    left:-38px;
}
#notes_slider {
    position:fixed;
    right:0;
    top:10%;
    z-index:2000;
    width:30px;
}
#notes_slider  form{
    margin-left:30px;
    margin-top:-21px;
    background-color:#CEDCE4;
    padding: 5px 5px 9px 7px;
    border-radius: 0 0 0 4px;
    border: 1px solid #A6A3EC;
    box-shadow: 7px 4px 6px #999;
}
#notes_slider  form label {
    font-weight: bold;
    text-transform: uppercase;
    color: #5A5A5A;
}
#notes_slider  form textarea {
    height:300px;
}
.sidebar {
    padding:0px;
    background: url("/static/img/rebel.png");
    position:fixed;
    z-index: 1000;
    top: 30%;
    left: 10px;
}
.sidebar ul{
    list-style:none;
    margin: 0px auto;
}
.sidebar ul li{
    margin:0px auto;
    padding-bottom:7px;
    padding-top:7px;
    text-align:center;
    border-bottom: 1px solid #5E5E5E;
}
.sidebar ul li img{
    width:40px;
    margin:0px auto;
}
.ui-datepicker{
    margin-top: -280px !important;
}
#click_call_loader{
    display:none;
    position: fixed;
    opacity: 0.3;
    z-index: 1055 !important;
    width: 560px;
    top:40%;
    left:35%;
}
#popup_call_form {
    width:1000px;
    height:87%;
    max-height:none;
    margin-top:110px;
    margin-left:-471px;
    top:0px;
}
#popup_txn_table {
    width:1000px;
    height:87%;
    max-height:none;
    margin-top:110px;
    margin-left:-471px;
    top:0px;
}

.table-brdr-5 {
    border: 5px solid #ddd;
}
.capitaize {
    text-transform: uppercase;
}
.modal-body {
    max-height:none;
}
.modal{
    border-radius: 0px 0px 6px 6px;
}

div.user_details_holder.likely_to_buy{
    background: rgba(164,179,87,1);
    background: -moz-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(255,255,255,1) 71%, rgba(226,240,144,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(164,179,87,1)), color-stop(71%, rgba(255,255,255,1)), color-stop(100%, rgba(226,240,144,1)));
    background: -webkit-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(255,255,255,1) 71%, rgba(226,240,144,1) 100%);
    background: -o-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(255,255,255,1) 71%, rgba(226,240,144,1) 100%);
    background: -ms-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(255,255,255,1) 71%, rgba(226,240,144,1) 100%);
    background: linear-gradient(to bottom, rgba(164,179,87,1) 0%, rgba(255,255,255,1) 71%, rgba(226,240,144,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#e2f090', GradientType=0 );
}

.gbtn.take_call {
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}
@-webkit-keyframes glowing {
    0% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
    50% { background-color: #0094FF; -webkit-box-shadow: 0 0 10px #0094FF; }
    100% { background-color: #004A7F; -webkit-box-shadow: 0 0 3px #004A7F; }
}
@-moz-keyframes glowing {
    0% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
    50% { background-color: #0094FF; -moz-box-shadow: 0 0 10px #0094FF; }
    100% { background-color: #004A7F; -moz-box-shadow: 0 0 3px #004A7F; }
}
@-o-keyframes glowing {
    0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
    50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
    100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}
@keyframes glowing {
    0% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
    50% { background-color: #0094FF; box-shadow: 0 0 10px #0094FF; }
    100% { background-color: #004A7F; box-shadow: 0 0 3px #004A7F; }
}
.dtable.taken .gbtn.take_call {
    box-shadow:0px 6px 22px #FF0000;
    background-color:red;
    /*-webkit-animation: glowing 500ms infinite;
    -moz-animation: glowing 500ms infinite;
    -o-animation: glowing 500ms infinite;
    animation: glowing 500ms infinite;*/
}
