<div class="reply-form">
    <div class="reply-form-title bgm-bluegray c-white">Compose Reply</div>
    <div class="reply-form-body form-horizontal">
        <div class="form-group m-b-10">
            <label for="id_to" class="col-sm-2 control-label">Subject</label>
            <div class="col-sm-9">
                <div class="fg-line">
                    <input type="text" data-bind="value: subject" class="form-control input-sm" id="id_subject" placeholder="Subject">
                </div>
            </div>
        </div>
        <div class="form-group m-b-10">
            <label for="id_to" class="col-sm-2 control-label">To</label>
            <div class="col-sm-9">
                <div class="fg-line">
                    <input type="email" data-bind="value: to" class="form-control input-sm" id="id_to" placeholder="Email">
                </div>
            </div>
        </div>
        <div class="form-group m-b-10">
            <label for="id_cc" class="col-sm-2 control-label">cc</label>
            <div class="col-sm-9">
                <div class="fg-line">
                    <input data-bind="value: cc" type="email" class="form-control input-sm" id="id_cc" placeholder="Email">
                </div>
            </div>
        </div>
        <div class="form-group m-b-10">
            <label for="id_bcc" class="col-sm-2 control-label">bcc</label>
            <div class="col-sm-9">
                <div class="fg-line">
                    <input data-bind="value: bcc" type="email" class="form-control input-sm" id="id_bcc" placeholder="Email">
                </div>
            </div>
        </div>
        <div class="form-group m-b-10 m-t-15">
            <label class="col-sm-2 control-label">Compose message</label>
            <div class="col-sm-9">
                <div id="mail_body" class="html-editor"></div>
                <!--textarea rows="5" data-bind="value: html" class="form-control auto-size p-10" placeholder="Compose message" style="overflow-x: hidden; overflow-y: scroll; word-wrap: break-word;border:#eaeaea 1px solid;padding:8px 10px;"></textarea-->
            </div>
        </div>

        <div class="reply-form-footer clearfix">
            <div class="col-xs-10 p-0">
                <multi-file-upload params="{url: '/mail/upload/', afterUpload: add_attachment, onRemove: remove_file, remove_attachment: remove_attachment, attachments: attachments }"></multi-file-upload>
            </div>
            <div class="col-xs-2 p-l-0">
                <button data-bind="click: send" class="btn btn-primary waves-effect waves-button waves-float">Send</button>
            </div>
        </div>
    </div>
</div>
