{% extends "marketing:base.html" %}
{% block header %}
    <title>Marketing Dashboard</title>
{% endblock header %}
{% block header_css %}
    <style type="text/css">
        .content{
            padding-top: 60px;
        }
        .no_margin{
            margin: 0;
        }
        .lp-url-banner{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            z-index:1001;
            background: rgba(0, 0, 0, 0.4);
        }
        .lp-url-pop-up{
            position: absolute;
            top: 25%;
            left: 25%;
            width: 50%;
            padding: 16px;
            box-shadow: 2px 2px 5px #888;
            background: rgba(255, 255, 255, 1);
            z-index:1002;
            overflow: auto;
        }
        .lp-url-pop-up .close{
            width: 30%;
            float: right;
        }
        .lp-url-pop-up .close a {text-decoration: none;}
        .lp-url-pop-up h3{
            width: 70%;
            float: left;
        }
        .lp-url-pop-up p{
            clear: both;
        }
        .add-data {
            position: absolute;
            bottom: 2%;
            right: 2%;
            background: rgba(91, 192, 222, 0.8);
            padding-top: 5px;
            padding-left: 23px;
            box-shadow: 15px 15px 15px #888;
            border-radius: 50%;
            height: 75px;
            width: 75px;
            font-size: 50px;
        }
        .add-data a{
            text-decoration: none;
            color: #fff;
        }
    </style>

{% endblock header_css %}
{% block content %}
<div class="container content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-4">
                    <strong>Affiliates for LP BUY OTP</strong>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Affiliate ID</th>
                    <th>Affiliate Name</th>
                    <th>Affiliate URL</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for affiliate in affiliates_buy_otp  %}
                    <tr>
                        <td>{{ affiliate.id }}</td>

                        <td><a href="{% url 'marketing:edit-affiliate'  affiliate.id  %}">{{ affiliate.affiliate_name }}</a></td>
                        <td>{{ affiliate.affiliate_url }}</td>
                        <td><button class="btn btn-info btn-xs" type="button" onclick="show_lp_url('buy-otp', '{{ affiliate.affiliate_name }}')"> LP URL </button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-4">
                    <strong>Affiliates for LP BUY</strong>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Affiliate ID</th>
                    <th>Affiliate Name</th>
                    <th>Affiliate URL</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for affiliate in affiliates_buy  %}
                    <tr>
                        <td>{{ affiliate.id }}</td>
                        <td><a href="{% url 'marketing:edit-affiliate'  affiliate.id  %}">{{ affiliate.affiliate_name }}</a></td>
                        <td>{{ affiliate.affiliate_url }}</td>
                        <td><button class="btn btn-info btn-xs" type="button" onclick="show_lp_url('buy','{{ affiliate.affiliate_name }}')"> LP URL </button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="lp-url-banner">
        <div class="lp-url-pop-up">
            <span class="close text-right"><a href="javascript:close_pop_up()">&times</a></span>
            <h3>Landing Page URL</h3>
            <p><a href="#" target="_blank"></a></p>
        </div>
    </div>
</div>
<div class="add-data">
    <a href="{% url 'marketing:add-affiliate' %}">+</a>
</div>
{% endblock content %}
{% block footer_js %}
    <script type="text/javascript">
    function show_lp_url(type, affiliate_name){
        var lp_url = "{{ SITE_URL }}/lp/car-insurance/"+type+"/?network=affiliate&affiliate_name="+ affiliate_name;
        $('.lp-url-banner').show();
        $('.lp-url-pop-up p a').text(lp_url);
        $('.lp-url-pop-up p a').attr('href',lp_url);
    }
    function close_pop_up(){
        $('.lp-url-banner').hide();
    }
    </script>
{% endblock footer_js %}

