<!DOCTYPE html>
<html lang="en">
<head>
{% block header %}
    <title>CF Support</title>
{% endblock header %}
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" type="image/x-icon" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}global/css/bootstrap-3.3.6.min.css">
    <!-- theme -->
    <!--jQuery -->
    <script src="{{ STATIC_URL }}account_manager/js/jquery-1.11.3.min.js"></script>

    {% block header_css %}
      <style type="text/css">
        .content{
            padding-top: 60px;
        }

      </style>
    {% endblock %}
    {% block header_js %} {% endblock %}
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'marketing:dashboard' %}">Marketing</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'marketing:affiliates' %}">Affiliates</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
      <!-- <form action="{% url 'account_manager:search_transaction' %}" method="GET" class="navbar-form navbar-right">
        <input type="text" name="q" class="form-control" placeholder="Search transaction...">
      </form> -->
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">

    {% block content %}{% endblock %}

  </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="{{ STATIC_URL }}js/bootstrap-3.3.6.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    /* Sidebar selection */
    var sel = $('.nav-sidebar').find("li[data-selected='{{ selected }}']");
    sel.children('ul').addClass('in');
    sel.addClass('active').siblings().removeClass('active');
});
    var CSRF_TOKEN = '{{ csrf_token }}';
</script>

{% block footer_css %} {% endblock %}
{% block footer_js %} {% endblock %}
</body>

</html>
