{% extends 'insurer_panel/base.html' %}
{% load i18n %}
{% block head %}
    <meta name='robots' content='noindex, nofollow' />
    <script src="{{ STATIC_URL }}account_manager/js/jquery-1.7.1.min.js"></script>  
{% endblock head %}

{% block page_content %}
{% if form %}
<h4>Form</h4>
<div class="profile-window">
    <div class="profile-card">
        {% if form.errors %}
            <div class="alert alert-danger">
                <p><strong>{% trans "Oh snap!" %}</strong> {{ form.errors }}</p>
            </div>
        {% endif %}
        <form action="{% url 'insurerPanel:dashboard' %}" id="uploadForm" method="post" class="form-horizontal" enctype="multipart/form-data" role="form">
            {% csrf_token %}
            <fieldset>
                {% for field in form %}
                    {% if field.errors %}
                        <div class="control-group error">
                            <label class="control-label">{{ field.label }}</label> 
                            <div class="controls">{{ field }}
                                <span class="help-inline">
                                    {% for error in  field.errors %}{{ error }}{% endfor %}
                                </span>
                            </div>
                        </div>
                    {% else %}
                    <div class="control-group">
                        <label class="control-label">{{ field.label }}</label> 
                        <div class="controls">{{ field }}
                            {% if field.help_text %}
                                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            <div class="form-actions">
                <button type="submit" id="submit" class="btn orange big">Submit</button>
            </div>
            </fieldset>
        </form>
    </div>
</div>
{% endif %}
{% if messages %}
<h4>Response</h4>
<div class="profile-window">
    <div class="profile-card">
        <div class="content">
            <div class="messages">
                <div id="resp">Please wait, we are generating result....</div>
                {% for message in messages %}                
                    {% if message %}
                        <script type="text/javascript">
                            jQuery(document).ready(function() {
                            var taskrefreshIntervalId = setInterval(function(){TaskState('{{ message }}');}, 2000);   
                           // pole state of the current task
                           var TaskState = function(task_id) {
                            jQuery.ajax({
                             url: "task/"+task_id+"/status",
                             type: "GET"
                            }).done(function(data){
                             if (data.task.result) {
                              clearInterval(taskrefreshIntervalId);
                              jQuery("div#resp").html('');
                              jQuery.each(data.task.result, function( key, records ) {                                  
                                  if (records.length > 0) {
                                  if (key == "error") {
                                    jQuery("div#resp").append("<h2>Errors: "+records.length+"</h2>");
                                    jQuery("div#resp").append("<ul id='"+ key +"'>");
                                    jQuery.each(records, function( index, record ) {
                                        jQuery("div#resp ul#"+key).append("<li>"+record+"</li>");
                                    });
                                    jQuery("div#resp").append("</ul>");
                                  };
                                  if (key == "success") {
                                    jQuery("div#resp").append("<h2>New records: "+records.length+"</h2>");
                                    jQuery("div#resp").append("<ul id='"+ key +"'>");
                                    jQuery.each(records, function( index, record ) {
                                        jQuery("div#resp ul#"+key).append("<li>"+record+"</li>");
                                    });
                                    jQuery("div#resp").append("</ul>");
                                  };
                                  if (key == "info") {
                                    jQuery("div#resp").append("<h2>New mappings: "+records.length+"</h2>");
                                    jQuery("div#resp").append("<ul id='"+ key +"'>");
                                    jQuery.each(records, function( index, record ) {
                                        jQuery("div#resp ul#"+key).append("<li>"+record+"</li>");
                                    });
                                    jQuery("div#resp").append("</ul>");
                                  };
                                  if (key == "warning") {
                                    jQuery("div#resp").append("<h2>Duplicate records: "+records.length+"</h2>");
                                    jQuery("div#resp").append("<ul id='"+ key +"'>");
                                    jQuery.each(records, function( index, record ) {
                                        jQuery("div#resp ul#"+key).append("<li>"+record+"</li>");
                                    });
                                    jQuery("div#resp").append("</ul>");
                                  };                                    
                                  };
                                });
                             } else {
                              jQuery("div#resp").append('.');
                             };
                            });
                           }
                           TaskState('{{ message }}');
                          });
                        </script>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}