{% extends "layout/cms-base.html" %}

{% block bodyclass %}has-sidebar{% endblock bodyclass %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!-- main content of the page -->
				{% block content %}
					<div data-cms-content="md:left"></div>
				{% endblock content %}
			</div>
			<div class="col-md-4">
				<!-- left sidebar content of the page -->
				{% block right_sidebar %}
					<div data-cms-content="md:right"></div>
				{% endblock right_sidebar %}
			</div>
		</div> 
	</div>
{% endblock main %}


