<!DOCTYPE html>
{% load compress %}
<html lang="en" itemscope itemtype="http://schema.org/Article">
<head>
    <section data-cms-content="head_extras"></section>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    {% block title_description %}
        <title data-cms-content="meta_title"></title>
        <meta name="description" content="" data-cms-attr="content:meta_descr"/>
    {% endblock title_description %}
    {% block head %}
        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="" data-cms-attr="content:meta_gplus_title">
        <meta itemprop="description" content="" data-cms-attr="content:meta_gplus_desc">
        <meta itemprop="image" content="" data-cms-attr="content:meta_gplus_img">

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image" data-cms-attr="content:twitter_card">
        <meta name="twitter:site" content="@coverfox">
        <meta name="twitter:title" content="" data-cms-attr="content:meta_twitter_title">
        <meta name="twitter:description" content="" data-cms-attr="content:meta_twitter_descr">
        <meta name="twitter:creator" content="" data-cms-attr="content:meta_twitter_author_handle">
        <!-- Twitter summary card with large image must be at least 280x150px -->
        <meta name="twitter:image:src" content="" data-cms-attr="content:meta_twitter_img">

        <!-- Open Graph data -->
        <meta property="og:title" content="" data-cms-attr="content:meta_og_title"/>
        <meta property="og:type" content="article" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" data-cms-attr="content:meta_og_url" />
        <meta property="og:image" content="" data-cms-attr="content:meta_og_image" />
        <meta property="og:description" content="" data-cms-attr="content:meta_og_desc" />
        <meta property="og:site_name" content="Coverfox Insurance" />
        <meta property="article:author" content="" data-cms-attr="content:meta_fb_author_profile" />
        <meta property="article:publisher" content="https://www.facebook.com/Coverfox.Insurance" />

        <!-- Important for Domain insights on Facebook -->
        <meta property="fb:app_id" content="545910808767230" />
    {% endblock head %}


    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    {% compress css %}
    <link href="{{STATIC_URL}}css/base.css" rel="stylesheet">
    {% block css %}
    {% endblock css %}
    {% endcompress css %}
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" name="home">
        dataLayer = [];
    </script>
</head>
<body class='{% block bodyclass %}{% endblock %}'>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MR4FRN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MR4FRN');
    </script>
    <!-- End Google Tag Manager -->

    {% block header %}
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        {% include "components/header.html" %}
    {% endblock %}
    {% block main %}

    {% endblock main %}

    {% ifequal view 'author' %}
        {% include 'cfblog_admin/toolbar.html' %}
        {% include 'cfblog_admin/script.html' %}
    {% endifequal %}

    {% block footer %}
        {% include "components/footer-small.html" %}
        {% include "components/footer.html" %}
    {% endblock %}

    {% block js %}
        {% compress js %}
            <script src="{{STATIC_URL}}js/static-forms.js"></script>
            <script type="text/javascript" src="{{STATIC_URL}}js/common/header.js"></script>
            <script type="text/javascript" src="{{STATIC_URL}}js/homepage/header.js"></script>
            <script type="text/javascript" src="{{STATIC_URL}}otp/js/otp.js"></script>
        {% endcompress %}
        <script>
        var PAGE_TYPE = 'Blog';
        var CSRF_TOKEN = '{{ csrf_token }}';
        var STATIC_URL = '{{ STATIC_URL }}';
        </script>
    {% endblock js %}

    {% block uncompressedjs %}
        <script type="text/javascript" src="{{STATIC_URL}}vendors/owl-carousel/owl.carousel.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/homepage/index.js"></script>
    {% endblock uncompressedjs %}
    {% block extrajs %}
    {% endblock extrajs %}
{% block cmsjs %}
{% endblock cmsjs %}


</body>
</html>
