{% extends "layout/cms-base.html" %}

{% block main %}
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!-- main content of the page goes here -->
				{% block content %}

				{% endblock content %}
			</div>
			<div class="col-md-4">
				<!-- right sidebar content of the page goes here -->
				{% block right_sidebar %}

				{% endblock right_sidebar %}
			</div>
		</div>
	</div>
{% endblock main %}