/* Color scheme definitions */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* Overridden css for base_style.css */
.hero-wrapper {
  background: url(../img/car-background.jpg) no-repeat center center #314451;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 64px;
}
.hero-wrapper:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  background-color: rgba(12, 12, 23, 0.6);
}
.hero-wrapper #topbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.companies-wrapper {
  height: auto;
}
.companies-wrapper:before {
  content: 'Choose plans from Top companies';
  display: block;
  padding: 15px 15px 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.terms-msg {
  margin: 10px 0;
  font-size: 10px;
}
/* car banner css */
.car-banner {
  text-align: center;
}
.car-banner h1 {
  font-size: 42px;
  margin: 50px 0px 15px;
  color: #fff;
  font-weight: 400;
  -webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  -moz-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  -ms-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  -o-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}
.car-banner h1:after {
  content: '';
  background: #06adff;
  width: 150px;
  height: 4px;
  display: block;
  margin: 20px auto;
}
.car-banner .points {
  letter-spacing: 0.5px;
  position: relative;
  font-size: 20px;
  display: block;
  margin: 10px 0px;
  font-weight: 400;
  color: #fff;
  -webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  -moz-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  -ms-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  -o-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
}
.prop-cos {
  background-color: #27343e;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 30px 0px 40px;
  color: #FFFFFF;
  text-align: center;
}
.prop-cos .brand-color {
  color: #ff6127;
}
.prop-cos h1 {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 300;
}
.prop-cos h1 .logo {
  max-width: 140px;
  margin-top: -5px;
  display: inline-block;
}
.prop-cos h3 {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 0px;
  font-size: 18px;
  line-height: 1.4em;
}
.prop-cos ul.prop {
  margin: 30px auto 20px;
  padding: 0px;
  position: relative;
  max-width: 700px;
}
.prop-cos ul.prop li {
  list-style-type: none;
  margin-bottom: 15px;
  font-size: 16px;
  text-align: left;
  padding-left: 30px;
  position: relative;
  display: block;
  float: left;
  width: 50%;
}
.prop-cos ul.prop li img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ff6127;
  padding: 3px;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0px;
}
/* form box mini css*/
.form-box-mini {
  margin: 20px auto;
  max-width: 500px;
  text-align: left;
}
.form-box-mini .toggle-container {
  position: relative;
  min-height: 165px;
}
.form-box-mini .toggle-content {
  position: absolute;
  top: 0px;
  width: 100%;
  min-height: 165px;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 15px 20px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: perspective(1000px) rotateY(180deg);
  -moz-transform: perspective(1000px) rotateY(180deg);
  -ms-transform: perspective(1000px) rotateY(180deg);
  -o-transform: perspective(1000px) rotateY(180deg);
  transform: perspective(1000px) rotateY(180deg);
  -webkit-backface-visibility: none;
  -moz-backface-visibility: none;
  -ms-backface-visibility: none;
  backface-visibility: none;
  opacity: 0;
  visibility: hidden;
}
.form-box-mini .toggle-content.active {
  position: relative;
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
  opacity: 1;
  visibility: visible;
}
.form-box-mini .toggle-content .toggle-message {
  border: 1px dashed #dadada;
  padding: 10px;
  height: 70px;
  margin-bottom: 10px;
}
.form-box-mini .toggle-content.b {
  -webkit-transform: perspective(1000px) rotateY(180deg);
  -moz-transform: perspective(1000px) rotateY(180deg);
  -ms-transform: perspective(1000px) rotateY(180deg);
  -o-transform: perspective(1000px) rotateY(180deg);
  transform: perspective(1000px) rotateY(180deg);
}
.form-box-mini .toggle-content.b.active {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.form-box-mini label {
  margin-bottom: 5px;
  display: block;
  letter-spacing: 1px;
  color: #363636;
  font-weight: 400;
}
.form-box-mini .btn-cfox.btn-next {
  letter-spacing: 1px;
  font-size: 16px;
  min-width: 300px;
  margin: auto;
  width: auto;
}
.form-box-mini ul {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px 5px;
  margin-bottom: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.19);
  position: relative;
}
.form-box-mini ul:after {
  position: absolute;
  content: '';
  background: url(../img/arrow-down.png) no-repeat center center #06adff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  bottom: -23px;
  z-index: 10;
  display: none;
}
.form-box-mini ul li {
  background-image: none;
  color: #6b6b6b;
  cursor: pointer;
  list-style-type: none;
  padding-left: 26px;
  margin-bottom: 15px;
  margin-top: 5px;
  position: relative;
  padding-top: 0;
  font-size: 14px;
  font-weight: 600;
}
.form-box-mini ul li .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  min-height: 15px;
  padding: 1px;
  margin: 0px;
  background-color: #eee;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ff6127;
}
.form-box-mini ul li .checkbox:before {
  content: '';
  display: none;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ff6127;
  width: 10px;
  height: 10px;
  left: 50%;
  top: 50%;
  margin-top: -5px;
  margin-left: -5px;
}
.form-box-mini ul li:hover .checkbox {
  border-width: 2px;
}
.form-box-mini ul li.active {
  color: #363636;
}
.form-box-mini ul li.active .checkbox {
  background-color: #fff;
  border-width: 2px;
}
.form-box-mini ul li.active .checkbox:before {
  display: block;
}
.form-box-mini .error {
  background-color: #e996b0;
  color: rgba(0, 0, 0, 0.58);
  padding: 5px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-box-mini .cfinput {
  border: 2px solid #F45C25;
  padding: 10px 5px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.form-box-mini .cfinput.has-error {
  border-color: #8b0000;
  background-color: #FFE2EB;
}
.form-box-mini .cfinput.addon-field {
  padding-left: 40px;
  position: relative;
}
.form-box-mini .cfinput .addon {
  font-size: 14px;
  color: #363636;
  position: absolute;
  top: 11px;
  left: 8px;
}
.form-box-mini .cfinput input {
  border: 0;
  color: #363636;
  background-color: transparent;
  width: 100%;
}
.form-box-mini .cfinput input:hover,
.form-box-mini .cfinput input:focus,
.form-box-mini .cfinput input:active {
  outline: none;
}
/* Mobile optimisation for banner elements */
@media only screen and (min-width: 200px) and (max-width: 990px) {
  .hero-wrapper {
    padding-top: 0px;
  }
  .hero-wrapper #topbar {
    position: relative;
  }
  .car-banner {
    display: block;
  }
}
@media only screen and (min-width: 200px) and (max-width: 767px) {
  .hero-wrapper {
    background-image: none;
  }
  .hero-wrapper:before {
    display: none;
  }
  .car-banner {
    padding: 0px 15px;
  }
  .car-banner h1 {
    font-size: 30px;
  }
  .car-banner .form-box-mini {
    max-width: 450px;
  }
  .car-banner .points {
    font-size: 18px;
  }
  .prop-cos h4 {
    line-height: 1.4em;
  }
  .prop-cos ul.prop {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 600px;
  }
  .prop-cos ul.prop li {
    width: auto;
    float: none;
    padding-left: 5px;
    display: inline-block;
  }
  .prop-cos ul.prop li img {
    display: none;
  }
}
