<div id="fullpost-share">
    <div class="social">
        <fb:like href="{{ settings.SITE_URL }}{{ object.get_absolute_url }}" width="450" layout="box_count" show_faces="false" send="false"></fb:like>
    </div>
    <div class="social">
        <div class="g-plusone" data-size="tall" data-href="{{ settings.SITE_URL }}{{ object.get_absolute_url }}"></div>
    </div>
    <div class="social">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ settings.SITE_URL }}{{ object.get_absolute_url }}" data-via="coverfox" data-lang="en" data-related="coverfox" data-count="vertical">Tweet</a>
    </div>
    <div class="social">
        <script type="IN/Share" data-counter="top"></script>
    </div>
</div>

