/* Color scheme definitions */
/* Color scheme definitions end */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* Overridden css for base_style.css */
.hero-wrapper {
  background-color: #f9f7f6;
}
.hero-wrapper #topbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  z-index: 200;
}
/* Jago investor banner css */
.jago-banner {
  overflow: hidden;
  padding-bottom: 30px;
  padding-top: 80px;
}
.jago-banner h1 {
  font-size: 36px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2em;
  color: #ff6127;
  margin: 30px 0px 20px;
}
.jago-banner h1 span.black {
  color: #363636;
}
.jago-banner h2.leader-prop {
  line-height: 1.4em;
  font-size: 20px;
  margin: 20px 0px 20px;
  padding: 10px;
  position: relative;
  overflow: visible;
  text-align: left;
  color: rgba(39, 35, 35, 0.76);
  border-top: 1px solid #363636;
  border-bottom: 1px solid #363636;
}
.jago-banner h2.leader-prop span.list {
  padding: 0px 15px 0px 0px;
}
.jago-banner h2.leader-prop p {
  font-size: 26px;
}
.jago-banner h2.leader-prop.banner {
  margin-top: 50px;
  border: 0px;
}
.jago-banner .jago-logo {
  height: 50px;
  display: inline-block;
  margin-top: -8px;
  margin-left: -10px;
  margin-right: -8px;
}
.jago-banner .widget-form-box {
  margin-top: 20px;
}
.jago-banner ul.exclusive-list {
  list-style-type: none;
  margin: 20px 0px;
  padding: 0px;
}
.jago-banner ul.exclusive-list li {
  font-size: 16px;
  padding: 10px 0px 15px 45px;
  position: relative;
}
.jago-banner ul.exclusive-list li strong.h {
  margin-right: 0px;
}
.jago-banner ul.exclusive-list li img {
  width: 33px;
  position: absolute;
  top: 6px;
  left: 0px;
  display: block;
}
/* Media query css for the banner */
@media only screen and (min-width: 200px) and (max-width: 991px) {
  .jago-banner h1 {
    margin-top: 10px;
  }
  .jago-banner h2.leader-prop.banner {
    margin-top: 30px;
  }
}
