@import "../../css/base_theme";

/* Overridden css for base_style.css */
.hero-wrapper {
  background-color: @bannerBackgroundColor;
  #topbar {
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: #ffffff;
    z-index: 200;
  }
}

/* Jago investor banner css */
.jago-banner {
  overflow: hidden;
  padding-bottom: 30px;
  padding-top: 80px;
  & h1 {
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    line-height: 1.2em;
    color: @baseThemeColor;
    margin: 30px 0px 20px;
    span.black {
      color: @textColor;
    }
  }
  & h2.leader-prop {
    line-height: 1.4em;
    font-size: 20px;
    margin: 20px 0px 20px;
    padding:10px;
    position: relative;
    overflow: visible;
    text-align: left;
    color: @lightTextColor;
    border-top:1px solid @textColor;
    border-bottom:1px solid @textColor;
    & span.list {
      padding:0px 15px 0px 0px;
    }
    p {
      font-size:26px;
    }
    &.banner {
      margin-top:50px;
      border:0px;
    }
  }
  & .jago-logo {
    height: 50px;
    display: inline-block;
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -8px;
  }
  & .widget-form-box {
    margin-top: 20px;
  }
  ul.exclusive-list {
    list-style-type: none;
    margin:20px 0px;
    padding:0px;
    & li {
      font-size:16px;
      padding:10px 0px 15px 45px;
      position: relative;
      & strong.h {
        margin-right:0px;
      }
      & img {
        width:33px;
        position: absolute;
        top:6px;
        left:0px;
        display: block;
      }
    }
  }
}

/* Media query css for the banner */
@media only screen and (min-width : 200px) and (max-width : 991px) {
 .jago-banner {
   & h1 {
     margin-top: 10px;
   }
   & h2.leader-prop.banner {
     margin-top: 30px;
   }
 }
}


