{% extends "core/base_main.html" %}

{% block breadcrumb %}
    <div class="cover breadcrumb">
        <div  class = "container"align = "right">
            <a href="{% url 'motor_used_car:logout'  %}">logout</a>
            </div>
        <div class="container">
            <span class="insurer">{{ insurer.title }} policies</span>
            <span class="non-insurer"> Car Policies</span>

        </div><!--/.container -->
        </div><!--/.breadcrumb -->
{% endblock %}


{% block main %}

<style type="text/css">
{% if insurer %}
    .non-insurer {
        display: none;
    }
{% else %}
    .insurer {
        display: none;
    }
{% endif %}
</style>
<script>
var SUBMIT_TYPE;
var search = function() {
    SUBMIT_TYPE = "SEARCH";
}
var add_edit = function() {
    SUBMIT_TYPE = "ADD";
    var pol_no = document.getElementById("policy_number");
    if(pol_no.value == ""){
        alert("Please provide a Policy Number!!!");
    }
    else{
    var add_url = "/motor/used-car/manage-policy/?policy_no="+pol_no.value.trim();
    window.location = add_url;}
    return false;
}

</script>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form" action="" method="POST" id="search-form" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="policy_number" name = "Policy Number" placeholder="Enter policy number">
                    {% if not insurer %}
                        <p style ="font-size:75%">&nbsp;&nbsp;Mandatory field for adding new policy<p>
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="customer_name" name = "Customer Name" placeholder="Enter customer name">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="vehicle_number" name = "Vehicle Number" placeholder="Enter vehicle no.">
                    </div>
                    <div class="col-sm-3">
                        <button onclick="search()" type="submit" class="btn btn-default" id="search">Search</button>
                        {% if not  insurer %}
                        <button onclick="add_edit();" class="btn btn-default" id="Add">Add</button>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="policy_list"></div>

</div>

{% endblock%}


{% block footer_js %}

<script type="text/javascript">
$(document).ready(function(){
    $("#search-form").on("submit", function(){
        if(SUBMIT_TYPE=="ADD")
            return false;
        var customer_name = $("#customer_name").val();
        var policy_number = $("#policy_number").val();
        var vehicle_number = $("#vehicle_number").val();
        var insurer_slug  = $("#insurer_slug").val();
        var csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        var  url = "{% url 'motor_used_car:policy_documents' %}";
        data = {
            customer_name: customer_name,
            vehicle_number: vehicle_number,
            policy_number: policy_number,
            csrfmiddlewaretoken: csrf
        };
        $.ajax({
            url: url,
            type: 'POST',
            data: data,
            success: function(data)
            {
                $("#policy_list").html(data);
            },
            error: function(data) {
                alert("some thing went wrong");
            }

        });
        return false;
    });

   /* $(".transaction_radio").live("click", function(){
        $("#transaction_no").val(this.value)
    });*/

});
</script>

{% endblock footer_js %}
