{% extends "core/base_main.html" %}

{% block breadcrumb %}
    <div class="cover breadcrumb">
        <div  class = "container"align = "right">
            <a href="{% url 'motor_used_car:logout'  %}">logout</a>
            </div>
        <div class="container">
            <a href="{% url 'motor_used_car:policy_documents' %}">Car Policies</a> /
            <span>Policy Number: {{ policy.policy_number }}</span>
        </div><!--/.container -->
    </div><!--/.breadcrumb -->
{% endblock %}


{% block main %}
<script type="text/javascript">
    var POLICY_NUMBER = {{ policy.policy_number }};
</script>
<div class="container">

    <div class="panel panel-default">
        <div class="panel-body">
            <form role="form" action="{% url 'motor_used_car:upload_document' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group col-sm-4">
                    <label>Insurer Name</label>
                    <select class="form-control" name="insurer" caption="Select an Insurer" required>
                        <option value="">--Select--</option>
                        {% for insurer in insurers %}
                            {% if insurer == policy.insurer %}
                            <option value="{{ insurer.id }}" selected="selected">{{ insurer.title }}</option>
                            {% else %}
                            <option value="{{ insurer.id }}">{{ insurer.title }}</option>
                            {% endif%}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-sm-4">
                    <label>Policy Number</label>
                    <input type="text" class="form-control" name="policy_number" value="{{ policy.policy_number }}" readonly="readonly">
                </div>

                <div class="form-group col-sm-4">
                    <label>Vehicle Number</label>
                    <input type="text" class="form-control" name="vehicle_number" value="{{ policy.vehicle_number }}">
                </div>

                <div class="form-group col-sm-4">
                    <label>Premium</label>
                    <input type="text" class="form-control" name="premium" value="{{ policy.premium }}">
                </div>


                <div class="form-group col-sm-4">
                    <label>Customer Name</label>
                    <input type="text" class="form-control" name="name" value="{{ policy.name }}">
                </div>


                <div class="form-group col-sm-4">
                    <label>Mobile</label>
                    <input type="text" class="form-control" name="mobile" value="{{ policy.mobile }}">
                </div>


                <div class="form-group col-sm-4">
                    <label>Email id</label>
                    <input type="text" class="form-control" name="email" value="{{ policy.email }}">
                </div>
                <div class="form-group col-sm-4">
                    <label>Business Type</label>
                    <select class="form-control" name="business_type" caption="Select Business Type" required>
                        <option value="">--Select--</option>
                        {% for key, value in business_type.items %}
                            {% if policy.business_type == key %}
                                <option value="{{ key }}" selected="selected">{{ value }}</option>
                            {% else %}
                            <option value="{{ key }}">{{ value }}</option>
                            {% endif%}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group col-sm-4">
                    <label>Transaction Id</label>
                    <input type="text" class="form-control" name="transaction_id" value="{{ policy.transaction.transaction_id }}">
                    {% if request.GET.transaction_error %}
                    <small class = "alert-danger">{{request.GET.transaction_error}}</small>
                    {% else %}
                    <small>Enter only if Transaction exist</small>
                    {% endif %}
                </div>

                <div class="form-group">
                    <div class="form-group col-sm-3">
                        <label>Document type</label>
                    </div>
                    <div class="form-group col-sm-9">
                            <label>Browse</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                {% for key, values in policy_type.items %}
                <div class="form-group">
                    <div class="form-group col-sm-3">
                        <label>{{values}}</label>
                    </div>
                    <div class="form-group col-sm-9">

                        <input type="file" class="form-control" name="{{key}}">
                        {% for doc in policy_list %}
                            {% if doc.document_type == key %}
                            <small id="doc-{{ doc.id }}">
                                <a href="{{ doc.document.url }}" download>{{ doc.filename }}</a>&nbsp;&nbsp;
                                <button class="delete-doc btn btn-xs btn-default" data-doc="{{ doc.id }}">delete</button>
                                <br/>
                            </small>
                            {% endif %}
                        {% endfor %}
                        <br/>
                    </div>
                </div>
                <div class="clearfix"></div>
                {% endfor %}
                <div class="form-group col-sm-3">
                 <label>
                     <input type="radio" name ="active" value="1" {{ policy.is_active|yesno:"checked, " }}/>Active
                 </label>
                 <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name = "active" value="0" {{ policy.is_active|yesno:",checked" }}/>In-Active

                </label>
                </div>
                 <div class="clearfix"></div>
                <br/>
                <button type="submit" class="btn btn-default">Upload</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block footer_js %}

<script type="text/javascript">
$(document).ready(function(){
    $(".delete-doc").on("click", function(e){
        res = confirm("Are you sure you want to delete this Document");
        if (res == true){
            var elem = e.target;
            var doc_id = $(elem).attr('data-doc');
            var csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;
            var  url = "{% url 'motor_used_car:delete_doc' %}";
            data = {
                'doc_id': doc_id,
                'policy_number': POLICY_NUMBER,
                'csrfmiddlewaretoken':csrf
            };
            $.ajax({
                url: url,
                type: 'POST',
                data: data,
                success: function(data)
                {
                    $("#doc-"+doc_id).remove();
                },
                error: function(data) {
                    alert("some thing went wrong");
                }

            });

        }
        return false;
    });

});
</script>
{% endblock footer_js %}
