{% extends "hrms/base.html" %}
{% block title %}Edit Holiday{% endblock %}
{% block body %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#date" ).datepicker({changeMonth: true,
                       changeYear:true,
                       dateFormat: 'yy-mm-dd',
                       yearRange:'2000:2050',
                       beforeShow: function(){
                       $(".ui-datepicker").css('font-size', 12)}
                   });
  });
  </script>
<form method="POST" action=".">{% csrf_token %}
        <div class="list-card">
            <h5 class="list-card__header">
                Edit Holiday
                <a href="/holidays/" class='btn btn-xs btn-default m-l-15' style="text-transform:none;">    Go back
                </a>
            </h5>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label class="control-label" for="holiday">Holiday</label>
                    <input class="form-control" id="holiday" type="text" name="new_holiday" value="{{holiday.holiday}}" required>

                </div>
                <div class="col-sm-6 form-group">
                    <label class="control-label" for="date">Date</label>
                    <input class="form-control" id="date" type="text" name="new_date" value="{{holiday.date|date:"Y-m-d"}}" required>

                </div>
            </div>
            <input class="btn btn-sm btn-primary" type="submit" value="Save Holiday">
            {% if perms.hrms.delete_holida %}
                <a class="btn btn-sm btn-danger" href="/holidays/{{holiday.id}}/delete/">Delete</a>
            {% endif %}
        </div>
</form>
{% endblock %}
