@import "../../css/base_theme";
@white-color:#fff;
@font-size:16px;
@font-weight:normal;
@padding:0;
@margin:0;


/* hero banner css starts */
.hero-wrapper {
  background-color: #fff;
  #topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    .boxShadow(0px 2px 6px rgba(0,0,0,0.05));
    z-index: 200;
  }
}
.box-styling {
  max-width: 450px;
  padding:20px;
  .roundedCorners(3px);
  background-color: #f7f7f7;
  .boxShadow(0 1px 3px rgba(0, 0, 0, 0.19));
}
/* Landing Page css */
.terms-msg{
  margin: 10px 0 0 0;
  font-size: 10px;
}
.generic {
  padding-top:60px;
  .header_top {
    .box-styling;
    margin-bottom: 10px;
    & img{
      height: 60px;
    }
  }
  .benefit_container_page{
    border-bottom: 1px solid #eaeaea;
    padding:50px 0px;
    .header_txt{
      color: @textColor;
      line-height: 1.4em;
      font-size: 14px;
      letter-spacing: 1px;
      margin: 15px 0 0;
      text-transform: uppercase;
      font-weight:300;
    }
    & h1 {
      color: @baseThemeColor;
      font-size: 36px;
      margin: 0 0 20px;
      font-weight: 300;
      line-height: 1.3em;
    }
    ul {
      padding: @padding;
      margin: 30px 0;
      & li {
        margin: 15px 0;
        list-style: none;
        position: relative;
        padding-left:30px;
        font-size: 16px;
        color: @textColor;
        font-weight: 600;
        & img {
          width:22px;
          display: inline-block;
          position: absolute;
          left: 0px;
          top: 0px;
        }
      }
    }
    ul.ben-list {
      li img {
        background-color: @lightTextColor;
        .roundedCorners(50%);
        padding:4px;
      }
    }
    h2.benefit {
      margin: @margin;
      position: relative;
      font-size: 26px;
      font-weight: 300;
    }
    h2 {
      color:@textColor;
    }
    .base-box {
      padding:10px 0px;
      display: block;
      & ul {
        margin:0px;
        list-style-type: none;
        & li {
          opacity: 0.8;
          margin: 0px;
          padding: 5px 5px 5px 30px;
          display:block;
          float: left;
          color:#666;
          font-size: 10px;
          line-height: 1.2em;
          text-transform: uppercase;
          letter-spacing: 2px;
          position: relative;
          font-weight: 400;
          &.icon-seal {
            opacity: 1;
            padding: 0px 5px;
            border: 0px;
            img.icon {
              position: relative;
              top: 3px;
              left: 0px;
              width: 130px;
            }
          }
          & img.icon {
            position:absolute;
            top:5px;
            left:0px;
          }
        }
      }
    }
  }

  .compair_container_log {
    background:#fff;
    max-width: 990px;
    margin: 40px auto 50px;
    padding: 0px;
    overflow: hidden;
    .roundedCorners(3px);
    & td{
      padding: 30px;
      font-size: 14px;
      border-bottom: 1px solid rgba(0,0,0,0.03);
      line-height: 1.7em;
      .hlt {
        color: @baseThemeColor;
      }
    }
    & .tab_bg {
      td {
        color:#ffffff;
        padding: 10px 15px;
        font-weight: normal;
      }
    }
  }


  .margin-bottom-10{
    margin:0 0 10px 0
  }

  .form_container{
    margin:0px;
    .error {
      color: #ffffff;
      margin: -10px 0px 10px;
      letter-spacing: 1px;
      padding: 2px 10px;
      background-color: red;
      display: block;
    }
    .input_container{
      position: relative;
      padding: 0px;
      input {
        padding-left:45px;
      }
      span{
        position: absolute;
        color:#354789;
        top:13px;
        left:7px;
        font-size:@font-size;

      }
    }
    .form_text_box {
      width:100%;
      padding: 12px;
      color:#354789;
      display: block;
      margin: 0 0 20px;
      font-size:@font-size;
      border: 1px solid #dadada;
      .roundedCorners(3px);
      background:#ffffff;
      .boxShadow(1px 2px 4px rgba(0,0,0,0.05) inset);
      &:focus{
        background: #fff;
      }
    }
  }
  .tab_bg{
    h4{
      margin: 0;
    }
  }

  .companies-fold {
    h1.section-header {
      font-size:24px;
      margin-bottom:15px;
    }
    .companies-wrapper {
      background-color: transparent;
      border: 0px solid transparent;
    }
  }
  .form-highlight {
    .box-styling;
    & h3{
      margin: 5px 0px 20px;
      font-size:14px;
      line-height: 1.6em;
      font-weight: 400;
    }
    & h2 {
      font-weight:bold;
      font-size:18px;
    }
  }
  .compair_container_log {
    .tab_bg {
      background: #ffffff;
      & td {
        color: #222222;
        font-size: 14px;
        & img {
          width: 100px;
        }
      }
    }
  }
}

/* Responsive css */
@media only screen and (min-width: 767px) and (max-width: 1199px) {
  .generic {
    .header_top h1 {
      font-size: 32px;
    }
    .benefit_container_page {
      & h2.benefit, & h2 {
        font-size: 24px;
      }
      li {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (min-width: 767px) and (max-width: 990px) {
  .generic {
    .compair_container_log {
      margin-bottom: 30px;
      & td {
        padding:20px 15px;
      }
    }
    .header_top {
      img {
        max-width: 120px;
      }
      h1 {
        margin-top: 10px;
        font-size: 30px;
      }
    }
    .benefit_container_page {
      & h2.benefit, & h2 {
        font-size: 24px;
      }
      ul {
        margin: 30px 0 0px 0;
      }
    }
    .form_container {
      .btn-cfox {
        width: 100%;
        display: block;
      }
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 767px) {

  .generic {
    .compair_container_log {
      margin-bottom: 30px;
      margin-top:0px;
    }
    .header_top {
      img {
        max-width: 120px;
      }
      h1 {
        margin-top: 10px;
        font-size: 30px;
      }
    }
    .benefit_container_page {
      & h2.benefit, & h2 {
        font-size: 24px;
      }
      & h2.benefit {
        margin-top: 0px;
      }
      li {
        font-size: 18px;
      }
    }
    .form_container {
      .btn-cfox {
        width: 100%;
        display: block;
      }
    }
    .scroll-visible {
      display:block !important;
    }
  }
  .generic .compair_container_log {
    overflow-x: auto;
    table {
      min-width:700px;
      & td {
        font-size: 13px;
        padding:20px 15px;
      }
    }
  }
}

@media only screen and (min-width: 200px) and (max-width: 550px) {

  .generic {
    .logo-top-nw {
      .logo {
        margin-bottom: 10px;
      }
    }
    .header_top {
      h1 {
        font-size: 26px;
      }
      .header_txt {
        font-size: 12px;
        line-height: 1.6em;
      }
    }
    .benefit_container_page {
      li {
        font-size: 16px;
      }
      h2 {
        font-size: 20px;
      }
      h2.benefit {
        font-size: 20px;
        &:after {
          display: none;
        }
      }
    }
    .form_container {
      .form_text_box {
        font-size: 16px;
      }
      .input_container span {
        top: 13px;
        font-size: 16px;
      }
    }
    .smaller_heading {
      text-align: left !important;
    }

    .benefit_container_page .base-box {
      ul {
        & li {
          &.icon-seal {
            img.icon {
              width: 105px;
            }
          }
        }
      }
    }
  }
}
/* Responsive css ends */

/* Generic colors css ends */