/* Color scheme definitions */
/* Color scheme definitions end */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* Overridden css for base_style.css */
.hero-wrapper {
  background-color: #fff;
}
.hero-wrapper #topbar {
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  z-index: 200;
}
/* health widget css */
.health-widget .club-form {
  padding: 0px;
  background-color: #ffffff;
}
.health-widget .club-form .heading-banner {
  padding: 0px 20px;
  text-align: left;
}
.health-widget .club-form .heading-banner h1 {
  color: #ff6127;
  font-size: 30px;
  line-height: 1.3em;
  margin: 20px 0px 20px;
  text-shadow: 0px 1px 4px #ffffff;
}
.health-widget .club-form .heading-banner h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4em;
}
.health-widget .club-form .heading-banner ul {
  margin: 20px 0px;
  padding: 0px;
}
.health-widget .club-form .heading-banner ul li {
  list-style-type: none;
  color: #363636;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
  padding-left: 30px;
  position: relative;
  min-width: 220px;
}
.health-widget .club-form .heading-banner ul li img {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0px;
}
.health-widget .club-form .btn-cfox.c2c {
  position: relative;
  padding: 12px 15px 10px 55px;
  font-size: 20px;
  text-align: left;
  line-height: 1em;
  max-width: 280px;
}
.health-widget .club-form .btn-cfox.c2c > div {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}
.health-widget .club-form .btn-cfox.c2c img {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  top: 15px;
}
#topbar #right-menu-items li.c2c {
  background-color: #ff6127;
  border: 1px solid #ff512b;
  color: #ffffff;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-left: 27px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 0px;
  margin-right: -10px;
  text-transform: none;
  cursor: pointer;
}
#topbar #right-menu-items li.c2c a {
  position: relative;
  color: transparent;
  font-size: 12px;
  width: 65px;
  height: 16px;
  overflow: hidden;
}
#topbar #right-menu-items li.c2c a:before {
  color: #ffffff;
  content: 'Click to call';
  display: block;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}
#topbar #right-menu-items li.c2c:hover {
  background-color: rgba(249, 98, 6, 0.99);
}
#topbar #right-menu-items li.c2c .menuimg {
  background-color: transparent;
  display: block;
  top: 5px;
  left: 2px;
  padding: 5px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
#topbar .irda-auth-badge {
  top: 5px;
}
/* form box mini css*/
.form-box-mini {
  background-color: #fff;
  padding: 15px 20px 15px;
  max-width: 450px;
}
.form-box-mini label {
  margin-bottom: 5px;
  display: block;
  color: #888888;
  font-weight: 400;
}
.form-box-mini .btn-cfox.btn-next {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.form-box-mini .error {
  background-color: #e996b0;
  color: rgba(0, 0, 0, 0.58);
  padding: 5px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.form-box-mini .cfinput {
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 14px 5px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.form-box-mini .cfinput.has-error {
  border-color: #8b0000;
  background-color: #FFE2EB;
}
.form-box-mini .cfinput.addon-field {
  padding-left: 40px;
  position: relative;
}
.form-box-mini .cfinput .addon {
  font-size: 14px;
  color: #363636;
  position: absolute;
  top: 15px;
  left: 8px;
}
.form-box-mini .cfinput input {
  border: 0;
  color: #363636;
  background-color: transparent;
  width: 100%;
}
.form-box-mini .cfinput input:hover,
.form-box-mini .cfinput input:focus,
.form-box-mini .cfinput input:active {
  outline: none;
}
.club-form .heading-banner.click2call {
  padding-top: 1px;
  padding-bottom: 50px;
  background-color: #efeff4;
}
.companies-wrapper {
  height: auto;
  -webkit-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
}
.companies-wrapper:before {
  content: 'Choose plans from top companies';
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #363636;
  margin: 0px 0px 10px;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
  border-top: 1px solid rgba(0, 0, 0, 0.02);
  background: #FFFFFF;
}
