@import "../../css/base_theme";

/* Overridden css for base_style.css */
@font-face {
   font-family:  'Game of Thrones';
   src: url(Game_of_Thrones.ttf);
}
.hero-wrapper {
  background-color: #2d4452;
  &  #topbar {
    position: fixed;
    top:0px;
    left:0px;
    right:0px;
    background-color: #2D4452;
    border-bottom: 1px solid rgba(255,255,255,0.05);
    z-index: 200;
    .irda-auth-badge{
      color:#fff;
    }
  }
}
#topbar #right-menu-items li a{
  color:#fff;
}
.companies-wrapper {
  .boxShadow(0px -5px 15px rgba(0, 0, 0, 0.03));
}
/* Health widget banner css */
.health-widget {
  overflow: hidden;
  padding-top: 80px;
  & h1 {
    font-size: 28px;
    letter-spacing: 3px;
    font-weight: 400;
    text-align: left;
    line-height: 1.2em;
    font-family: 'Game of Thrones', sans-serif;
    color: #fff;
    margin: 55px 0 10px 0;
  }
  p{
    font-size: 10px;
    line-height: 2em;
    letter-spacing: 2px;
    font-family: 'Game of Thrones', sans-serif;
    font-weight: 300;
    color:#fff;
  }
}
.form_container{
  margin: 50px 0 0 0;
  input{
    background: #2d4452;
    padding: 5px;
    height: 50px;
    line-height: 42px;
    color:#95a2aa;
    font-size: 14px;
    border: 2px solid #95a2aa;
    outline: none;
    text-align: center;
    width: 70%;
    margin: 0 0 20px;
  }
  a{
    background: #fff;
    color:#2d4452;
    font-family: 'Game of Thrones', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding:10px 17px;
    text-align: center;
    outline: none;
    display: inline-block;
    width:70%;
    text-decoration: none;
  }
  #call-me-btn {
    background: #fff;
    color:#2d4452;
    font-family: 'Game of Thrones', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding:10px 17px;
    text-align: center;
    outline: none;
    cursor: pointer;
    display: inline-block;
    width:70%;
    text-decoration: none;
  }
  #hero-error {
    margin-top: 10px;
    color: #FFFFFF;
  }
}

/* Media query css for the banner */
@media only screen and (min-width : 200px) and (max-width : 1200px) {
  .health-widget {
    & h1 {
      margin-top: 35px;
      font-size: 20px;
    }
    p{
      font-size: 8px;
    }
  }
  .form_container {
  margin: 10px 0 27px 0;
}
}
@media screen and (min-width: 200px) and (max-width: 767px) {
  .health-widget p{
    text-align: center;
    font-size: 8px;
  }
  .form_container{
    margin: 30px 0;
    text-align: center;
  }
  .health-widget {
    & h1 {
      font-size: 20px;
      margin: 20px 0;
      text-align: center;
    }
  }
}


.terms-msg {
  color: #FFFFFF;
}