/* Color scheme definitions */
/* Color scheme definitions end */
/* generic styling variables/ classes */
.cubic-trans {
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
/* basic button styling css/less */
.btn-cfox {
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
  padding: 15px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.btn-cfox.orange {
  background-color: #ff6127;
  border: 1px solid #ff512b;
}
.btn-cfox.black {
  background-color: #363636;
  border: 1px solid #000000;
}
.btn-cfox.black:hover,
.btn-cfox.black:focus,
.btn-cfox.black:active {
  background-color: #303030;
  color: #FFFFFF;
}
.btn-cfox.yellow {
  background-color: #ffe145;
  border: 1px solid #e5c000;
  color: #363636;
}
.btn-cfox.yellow.shadow {
  -webkit-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 0.2) inset;
}
.btn-cfox.yellow:hover,
.btn-cfox.yellow:focus,
.btn-cfox.yellow:active {
  background-color: #ffd600;
  color: #363636;
}
.btn-cfox:hover,
.btn-cfox:focus,
.btn-cfox:active {
  background-color: rgba(249, 98, 6, 0.99);
  text-decoration: none;
  outline: none;
  color: #ffffff;
}
.btn-bg-less {
  border: 1px solid #ff6127;
  background: none;
  color: #ff6127;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-bg-less:hover,
.btn-bg-less:active {
  background-color: #ff6127;
  color: #fff;
}
/* Overridden css for base_style.css */
@font-face {
  font-family: 'Game of Thrones';
  src: url(Game_of_Thrones.ttf);
}
.hero-wrapper {
  background-color: #2d4452;
}
.hero-wrapper #topbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #2D4452;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  z-index: 200;
}
.hero-wrapper #topbar .irda-auth-badge {
  color: #fff;
}
#topbar #right-menu-items li a {
  color: #fff;
}
.companies-wrapper {
  -webkit-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.03);
}
/* Health widget banner css */
.health-widget {
  overflow: hidden;
  padding-top: 80px;
}
.health-widget h1 {
  font-size: 28px;
  letter-spacing: 3px;
  font-weight: 400;
  text-align: left;
  line-height: 1.2em;
  font-family: 'Game of Thrones', sans-serif;
  color: #fff;
  margin: 55px 0 10px 0;
}
.health-widget p {
  font-size: 10px;
  line-height: 2em;
  letter-spacing: 2px;
  font-family: 'Game of Thrones', sans-serif;
  font-weight: 300;
  color: #fff;
}
.form_container {
  margin: 50px 0 0 0;
}
.form_container input {
  background: #2d4452;
  padding: 5px;
  height: 50px;
  line-height: 42px;
  color: #95a2aa;
  font-size: 14px;
  border: 2px solid #95a2aa;
  outline: none;
  text-align: center;
  width: 70%;
  margin: 0 0 20px;
}
.form_container a {
  background: #fff;
  color: #2d4452;
  font-family: 'Game of Thrones', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 17px;
  text-align: center;
  outline: none;
  display: inline-block;
  width: 70%;
  text-decoration: none;
}
.form_container #call-me-btn {
  background: #fff;
  color: #2d4452;
  font-family: 'Game of Thrones', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 17px;
  text-align: center;
  outline: none;
  cursor: pointer;
  display: inline-block;
  width: 70%;
  text-decoration: none;
}
.form_container #hero-error {
  margin-top: 10px;
  color: #FFFFFF;
}
/* Media query css for the banner */
@media only screen and (min-width: 200px) and (max-width: 1200px) {
  .health-widget h1 {
    margin-top: 35px;
    font-size: 20px;
  }
  .health-widget p {
    font-size: 8px;
  }
  .form_container {
    margin: 10px 0 27px 0;
  }
}
@media screen and (min-width: 200px) and (max-width: 767px) {
  .health-widget p {
    text-align: center;
    font-size: 8px;
  }
  .form_container {
    margin: 30px 0;
    text-align: center;
  }
  .health-widget h1 {
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
  }
}
.terms-msg {
  color: #FFFFFF;
}
